[2015-06-15 09:41] RealRancor commented on #14754
Ah, and btw. Seems that **updates** and **upgrades** within ownCloud are mixed here:

Update: OC 8.0.3 -> 8.0.4
Upgrade: OC 8.0.4 -> OC 8.1.0

On an **upgrade** its currently needed to disable 3rdparty apps to make sure those are not breaking oC and i was talking about not doing such upgrades unattended (Like with software upgrades done within Debian 6 -> Debian 7 or CentOS 6 -> CentOS 7).

The di

[2015-06-15 09:50] RealRancor commented on #16919
@karlitschek @LukasReschke

SMF for example has a maintenance task "Check all files against current versions" (http://wiki.simplemachines.org/smf/SMF2.0:Forum_Maintenance)

Each file has an header with the version like: https://github.com/SimpleMachines/SMF2.1/blob/release-2.1/Sources/Admin.php#L13

When running this task each file is checked against the current version of SMF (like the version.ph

[2015-06-15 09:59] PVince81 commented on #16909
It's been a while we haven't run the unit tests against S3, let me have a look.

[2015-06-15 09:59] schiesbn commented on #16751
Would be possible for the file/folder you delete. But if it us a (huge) folder you would need to check every sub-file and sub-folder and send the un-share requests. This would probably create performance issues. Maybe this could be done in the clean-up job for orphaned shares?

[2015-06-15 10:04] colmoneill commented on #16932
This originates from an installation of oC I did for a customer needing to *manage*, **sort** and share files and folders. While they use the desktop sync client to keep some folders locally, the main archive (and majority of the bulk content) is on server and they only access it through the web interface. Therefor, there is a need for more advanced folder and file manipulation.

![screenshot from

[2015-06-15 10:07] colmoneill commented on #16878
I can't reproduce this either :(

in all cases of search I am presented with my breadcrumb / info bar under the 'new file' and 'upload' options.

[2015-06-15 10:07] nickvergessen commented on #16751
Well, then it would be nice to have a reliable way to trigger those, so we can call that in smashbox to see if they are expired correctly.

[2015-06-15 10:10] PVince81 commented on #16932
I still don't understand what is supposed to happen when you click "merge". Can you describe the steps in detail ?

Should the contents of "test2" (and any other folder) be moved into "test" ?

The web UI does lack some advanced drag and drop features.

[2015-06-15 10:12] schiesbn commented on #16904
I never saw this happen. I just tried a update from 8.0.3 to 8.0.4 and couldn't reproduce it.
Can you use the issue template to provide more information about your setup, log messages, etc.

Did you saw any messages during upgrade regarding the files_encryption app?

[2015-06-15 10:16] PVince81 commented on #16909
Hmmm, I'm seeing this with the regular sync client too.

This could be related to the recent changes to moveFromStorage / copyFromStorage.
Normally this should just be a simply upload to S3, but somehow it seems to trigger S3 backend's copy operation.

[2015-06-15 10:20] PVince81 commented on #16909
[code]

[2015-06-15 10:20] bboule commented on #13230
This issue I wonder if part of the issue is trying to consume the entire directory...  Are we effectively limiting things like computer accounts etc. to try and get down to a smaller subset of objects?  Thinking about solutions based on current code.

[2015-06-15 10:22] colmoneill commented on #16932
Yes, that is what I'd imagine:

- multi-select folders from the files view
- as long as items selected are folders, display the option to merge
- probably a need for warning message, we can't allow a user to merge a shared folder with an unshared folder for example
- when 'merge' is selected, all the content from each folder is moved to one combined view of all the content, with the condition of n

[2015-06-15 10:25] PVince81 commented on #16909
Also happens on stable8 without any locking enabled.

[2015-06-15 10:29] PVince81 commented on #16932
This already seems quite advanced, even regular desktop file managers do not have such feature. The "merge" feature is probably a good candidate for a separate app.

However I think improving the drag and drop situation is something that needs to be worked on, see https://github.com/owncloud/core/issues/10656 and https://github.com/owncloud/core/issues/8570

[2015-06-15 10:31] schiesbn commented on #16928
any additional errors in your owncloud.log and/or apache error log. Would be great if you could use the issue template to provide some more informations https://raw.githubusercontent.com/owncloud/core/master/issue_template.md Thanks!

[2015-06-15 10:35] PVince81 commented on #16909
Hmmmm... also broken on stable7.

But I remember that syncing worked at least on OC 7.

Let's compare with system-wide mounts (this here was a personal mount)

[2015-06-15 10:36] PVince81 commented on #16909
Well... it does upload the file to S3 but the final "touch()" operation fails and the code that does that seems unchanged since a long time. Maybe this went under the rather ?

Or the Amazon S3 API got more strict about such usage and we need to change the way how we do a remote touch.

[2015-06-15 10:45] fbassas commented on #16740
Tanks for your comment @PVince81
I didn't know 8.0.4 was out. I will try it tomorrow morning before users coming.

[2015-06-15 10:46] PVince81 commented on #16909
It is likely that the S3 server is more strict than it used to be.
The code for "touch()" is there to update the "lastmodified" properly of the remote object.
However, if we're too fast, then it is likely that the remote object already has the correct mtime and doesn't need a touch.

In such case the remote server complains because we are not change any of the remote object's property, since the m

[2015-06-15 11:08] MorrisJobke commented on #16916
Yes. Should be handled internally only. Sorry. These are enterprise apps that are closed source :(

I think this needs to be communicated over the usual support channels to the customer directly.

@RealRancor Mostly the linked PR is just the fix from the forum. But with a different solution.

[2015-06-15 11:08] MorrisJobke commented on #16916
@RealRancor But anyway: Thanks for the pointer to the forum :)

[2015-06-15 11:14] RealRancor commented on #16916
@MorrisJobke No need to say sorry, just wanted to point out that the OP has probably no chance to open that URL.

Good to know so will give a short note for this at the forums. Unfortunately such patches or possible bugs are floating quite often at the forums where a user didn't managed to report it here even he was pointed / asked to report it.

[2015-06-15 11:18] MorrisJobke commented on #16916
The weird thing is, that this doesn't got into the support chain. I will ask our support team for this specific case.

[2015-06-15 11:39] RealRancor commented on #16916
Do you mean the request of the OP here or the forum posting at https://forum.owncloud.org/viewtopic.php?f=31&t=27989

The second wasn't an EE user so this can't reach the support team.

[2015-06-15 11:46] colmoneill commented on #10656
I would love to see these features develop. If I'll gladly help on the design / interaction level!

[2015-06-15 11:54] colmoneill commented on #8570
+1 for this enhancement!

[2015-06-15 11:57] colmoneill commented on #16932
Thanks for the references, drag and drop is indeed probably the more logical first step in this direction.

[2015-06-15 12:37] oparoz opened #16934 "Introduce release "channels" in the app store"
As an app developer, I'd like to be able to push pre-releases of apps to people who are willing to test new features without having to use git.
- App developer select appropriate channel for a release: stable, beta, alpha
- User sets the channel for each app
- Apps are updated using the release channel chosen by the user

[2015-06-15 12:38] karlitschek commented on #16934
completely agreed. this is definitely something that we want to have in the future

[2015-06-15 12:47] PVince81 commented on #12471
A few places that could be changed to use the Node API:
- [ ] Sabre plugins
- [ ] Files app UI (but might be using WebDAV instead in #12353 which itself would go through Sabre)
- [ ] Versions ?
- [ ] Trashbin ?
- [ ] Sharing app ?

[2015-06-15 12:51] PVince81 commented on #16925
Please specify your ownCloud version.
"Latest" doesn't tell us whether you are using git master (8.1 beta) or 8.0.4.

[2015-06-15 12:51] PVince81 commented on #16925
Did the folder contain a lot of entries ? Did it take a long time to rename, like a minute or so ?

[2015-06-15 12:53] PVince81 commented on #16903
This is not a problem of being allowed.

The problem is that autocomplete only works with minimum 2 characters to avoid having too many results.

Duplicate of https://github.com/owncloud/core/issues/14095

[2015-06-15 12:53] #16903 closed

[2015-06-15 12:59] schiesbn commented on #16922
Any chance to figure out which interaction triggers this error. For example by monitoring the log file and perform some actions (upload, download, share, open the file in one of your internal viewers,...)

I never saw such a error message and it would be good to know what triggers it.

[2015-06-15 13:04] uusijani commented on #16922
@schiesbn Sure. I've haphazardly tried it already, but I'll give it a proper go sometime soon.

[2015-06-15 13:10] PVince81 commented on #16909
This is getting weirder and weirder. Even when setting a "lastmodified" value that is different than the current one, the server still doesn't accept the value.

[2015-06-15 13:13] schiesbn commented on #16621
I removed the encryption label, while the problem was demonstrated with encryption it is not a encryption bug but a general problem which will be addressed with files locking.

[2015-06-15 13:15] #16673 closed

[2015-06-15 13:17] schiesbn commented on #15988
@jnfrmarks now that we moved the settings closer to each other in the admin panel, do you think we can close this one? As said, I don't think it will be possible to write a wizard which takes all possible encryption modules and their possible settings into account.

[2015-06-15 13:20] DeepDiver1975 commented on #16932
closing therefore - THX

[2015-06-15 13:20] #16932 closed

[2015-06-15 13:23] nasli commented on #16825
The exception response is different for rename and other options, should be both "InvalidPath"

 curl -v -X MOVE  'http://User:Password@Host/remote.php/webdav/test' -H 'Destination:http://User:Password@Host/remote.php/webdav/%5C’
<s:exception>OCP\Files\InvalidPathException</s:exception>

curl -u User:Password http://\Host/remote.php/webdav/%5C -X MKCOL
 <s:exception>OC\Connector\Sabre\Exception\In

[2015-06-15 13:24] DeepDiver1975 commented on #15988
I guess we did fight the confusion pretty good in the past weeks - THX @schiesbn

[2015-06-15 13:24] #15988 closed

[2015-06-15 13:28] emtie commented on #14209
Any news on this? I had to deactivate news app because encryption is absolutely necessary to me. The news app was one of the major things why I installed owncloud. Is there any more testing necessary or what is the problem here that this issue is open for 4 month now?

[2015-06-15 13:30] PVince81 commented on #16909
So, I found a fix. And fixing that exception triggers another hidden bug.
I have the feeling that this has never worked properly before, or the exception wasn't that bad.

I'll fix the second bug too.

[2015-06-15 13:38] pako81 commented on #16588
I am following this up. Regarding the group issue, Customer wrote:

"Here's the output of the OCC tool, which works now. The User Heinrich has been removed from the ownCloud LDAP Group months ago.

root@atldwosx015:/var/www/owncloud# sudo -u www-data php occ ldap:check-user
Heinrich

The user is still available on LDAP. What can we do to get this working?"

Thus group assignments are not removed u

[2015-06-15 13:39] jnweiger opened #16936 "8.1 fails on Debian 8.0"
Debian 8.0 has a stronger linitan checker. The following errors are reported as fatal:

<pre>
[  116s] E: owncloud source: source-is-missing core/vendor/zxcvbn/zxcvbn.js
[  117s] E: owncloud source: source-is-missing apps/files_videoviewer/js/flashmediaelement.swf
[  118s] E: owncloud source: source-is-missing core/doc/user/_static/underscore.js
[  118s] E: owncloud source: source-is-missing core/

[2015-06-15 13:51] oparoz commented on #16910
Fixed via https://github.com/owncloud/core/pull/16911

[2015-06-15 13:51] #16910 closed

[2015-06-15 14:03] #15342 closed

[2015-06-15 14:06] DeepDiver1975 commented on #16936
@jnweiger there are capabilities to sub-press lintian errors

[2015-06-15 14:07] DeepDiver1975 commented on #16936
https://lintian.debian.org/manual/section-2.4.html

[2015-06-15 14:23] butonic commented on #7474
@DeepDiver1975 can you enlighten me why this has been closed? obviously these indexes are not yet in core. So who takes care of testing these?

[2015-06-15 14:31] DeepDiver1975 commented on #7474
you seriously ask why I closed something one year back? :speak_no_evil:

from my pov this issue in it self was not helpful - it contains no longer existing tables are contained wrong syntax. In addition: these optional indexes are documented - done.

[2015-06-15 14:32] DeepDiver1975 commented on #7474
LOL the documentation is referencing this issue - this is so wrong.

[2015-06-15 14:33] Distopico commented on #13999
The same error with calendar and contacts apps

[2015-06-15 14:37] RealRancor commented on #13999
@Distopico Exactly as described above where you can find possible workarounds.

[2015-06-15 14:41] jnweiger commented on #16936
owncloud source: source-is-missing
seems to have no effect in debian.owncloud.lintian-overrides
Local builds succeed. OBS builds fail.

[2015-06-15 14:46] carlaschroder commented on #7474
Well I asked multiple times for an update on this issue and didn't get an answer, so if you think that's funny enjoy a good laugh.

[2015-06-15 14:56] PVince81 commented on #16825
Right, the exception wasn't translated properly to a sabre exception.

[2015-06-15 15:06] julienval commented on #14209
Not having any comments from someone part of the dev team is quite surprising.
I would also be happy to help in testing if this is needed. Unfortunately, I am not able to do more...

[2015-06-15 15:21] jnweiger commented on #16936
Debian 8.0 is not a supported platform.
Issues from their lintian are interesting mainly for improving code quality.
The supress mechanism suggested above hide the issues. I'd rather have them as warnings. :-(

[2015-06-15 15:22] PVince81 opened #16937 "Amazon S3 folder name doubled during scan"
### Steps to reproduce
1. Mount Amazon S3 to "amazon-s3"
2. Create a folder "amazon-s3/abc"
3. Enter the folder
4. Refresh the page several times and/or run the sync client

### Expected result
No warnings

### Actual result
At some point the following warning will appear:
[code]

### Versions
ownCloud 8.1 git master (b6165b68655fdf957d9b63ab982a5f8724fcc3de)

A bit of debugging shows that `opendi

[2015-06-15 15:23] DeepDiver1975 commented on #16936
as example see: http://anonscm.debian.org/viewvc/pkg-games/packages/trunk/0ad/debian/source/lintian-overrides?view=markup

[2015-06-15 15:23] DeepDiver1975 commented on #16936
It will soon-ish be released and we shall have working packages by then

[2015-06-15 15:25] DeepDiver1975 commented on #16936
not really for source-is-missing, because we would need to totally revamp our source tar balls.

What we basically would need to do is ship the javascript source code (could be unminified code or even coffee script which requires a build step) which will render the tarballs unusable for plain drop-in-deployments.

[2015-06-15 15:26] butonic opened #16939 "Allow Multiple authentication backends"
In bigger installations it happens frequently that an active directory is used as the identity provider. with user_shibboleth and user_ldap there are two ways of interacting with that idp. Currently, user_ldap detects when a uid is already in use and will append a random number to prevent uid collisions when multiple backends are used. this is a safeguard against malicious admins who could otharwi

[2015-06-15 15:28] PVince81 commented on #15447
I managed to reproduce this once. The folder disappeared from the web UI.

Can you guys try the following patch https://github.com/owncloud/core/pull/16938 ?

It seems that the S3 backend returned the folder itself in the list of folders. So basically if you had a folder "abc/" it would think there's a folder "abc/abc". So when deleting that folder, it would try to recurse into it but obviously th

[2015-06-15 15:28] karlitschek commented on #16939
agreed. this is discussed at the moment for 8.2
@mtrichards

[2015-06-15 15:32] DeepDiver1975 commented on #16939
Taking the ideas for 8.2 one step further:
This basically points to the idea where a user can have multiple authentication mechanisms assigned.

We would then basically talk about an account which is the single identity of a user (including a uid, full name, email, group assignments etc.) this is the instance which has a data directory assigned etc.

This account can then be linked to
- a LDAP ide

[2015-06-15 15:34] MTRichards commented on #16939
And encryption works...

[2015-06-15 15:36] MTRichards commented on #16939
This would be excellent, to allow not only multiple authentication mechanisms, but also the mapping of a username to an eppn, for example, so that user groups can be pulled as well in tandem with shibboleth, for example.

[2015-06-15 15:37] PVince81 commented on #16896
Any update on the missing logs ?

[2015-06-15 15:38] PVince81 commented on #16909
Fix is here: https://github.com/owncloud/core/pull/16940

[2015-06-15 15:41] jospoortvliet opened #16942 ""Invalid image" when trying to upload user pic on oC 8.1Beta"
### Steps to reproduce
1. go to Personal settings
2. Choose to upload and pick a PNG/png, JPG/jpg file.
3. "Invalid image" is all it says

### Expected behaviour
It should show the nice image you picked...

### Actual behaviour
Invalid image:
![statistics june 15 2016](https://cloud.githubusercontent.com/assets/551757/8163005/dbaf8290-1380-11e5-80b0-801f8b908115.png)
This is with jpg and JPG image

[2015-06-15 15:45] shaneonabike commented on #16925
Sorry I know my laptop was dying and I wanted to submit this before it died. It was unclear.

Version: 8.04

It had ony three files within it exactly!

[2015-06-15 15:49] uusijani commented on #16922
Ha, got it! It's the act of selecting "Admin" from the "admin" dropdown menu (top right) that triggers it. Nothing else seems to do it ("Users" from the same menu for example doesn't trigger it).

There's now also this in the log:
[code]
But I'd wager it's completely unrelated to the other "not exist", as I only activated asset-pipeline yesterday. Browser's JS log says it's missing assets/dist/jqu

[2015-06-15 15:49] redhell commented on #16928
specs: See #14139 (just 8.1)

As i tried it today again: (path shortened)
opendir(/data/files_encryption/keys): failed to open dir: No such file or directory at /lib/private/files/storage/local.php#105

followed by the error from above.
nginx/apache2 looks normal.

[2015-06-15 15:50] PVince81 commented on #16825
@nasli fix for the wrong exception type here https://github.com/owncloud/core/pull/16943

[2015-06-15 15:51] PVince81 commented on #16925
Three files, hmmm... so this is not a known issue.

[2015-06-15 15:53] PVince81 commented on #16894
@hitam4450 when viewed on mobile, the sidebar is already collapsed and can be activated with a swipe gesture. Did you discover any mobile resolutions where it did not get hidden ?

[2015-06-15 15:53] PVince81 commented on #16894
I'm talking about the files app actually. Not sure about the calendar app.

[2015-06-15 15:53] PVince81 commented on #16933
@blizzz

[2015-06-15 16:00] PVince81 commented on #13391
@icewind1991 are you working on this ?

[2015-06-15 16:06] belzebubek opened #16945 "Cron unexpected error"
Debian wheezy, ownCloud 8.0.4-0 stable.
Cron started to send me below messages, help would be appreciated:

PHP Fatal error:  Call to a member function file_exists() on a non-object in /var/www/owncloud/lib/private/files/filesystem.php on line 630
PHP Stack trace:
PHP   1. {main}() /var/www/owncloud/cron.php:0
PHP   2. OC\BackgroundJob\TimedJob->execute() /var/www/owncloud/cron.php:138
PHP   3. OC

[2015-06-15 16:22] RealRancor commented on #16945
Hi,

seems the cron error was also reported here: https://github.com/owncloud/core/issues/16740

[2015-06-15 16:23] RealRancor commented on #16740
@PVince81 At least cron seems to still throw this error on OC 8.0.4: https://github.com/owncloud/core/issues/16945

[2015-06-15 16:25] #16945 closed

[2015-06-15 16:25] belzebubek commented on #16945
Duplcate. Thanks

[2015-06-15 16:26] belzebubek commented on #16740
Debian wheezy, ownCloud 8.0.4-0 stable.
Cron started to send me below messages, help would be appreciated:

PHP Fatal error: Call to a member function file_exists() on a non-object in /var/www/owncloud/lib/private/files/filesystem.php on line 630
PHP Stack trace:
PHP 1. {main}() /var/www/owncloud/cron.php:0
PHP 2. OC\BackgroundJob\TimedJob->execute() /var/www/owncloud/cron.php:138
PHP 3. OC\Backgr

[2015-06-15 16:32] hitam4450 commented on #16894
Hi, I tried it on my tablet (GALAXY TAB S 8.4 with ANDROID 5.0.2 and the
latest firefox):

in file app no swipe gestures available, the feature does not bwork ! or
ist it a bug??

in calendar app not avialable!

regards, hitam4450

Am 15.06.2015 um 17:53 schrieb Vincent Petry:

[2015-06-15 16:41] Grevous opened #16946 "Desktop application move issue."
So here is the issue, when moving a file in owncloud from a non admin client. There is a chance of duplicating the file.

I started by moving a test file to a sub folder (see duplication1.png), which resulted in a successful move.
![duplication1](https://cloud.githubusercontent.com/assets/12898260/8165056/80ed2636-134a-11e5-9c52-e62833ebbb63.png)

I then proceeded to move the image again to the fo

[2015-06-15 16:43] jospoortvliet commented on #16942
@LukasReschke yeah, this fixes it, thanks!

[2015-06-15 16:50] Grevous commented on #16946
Oh, forgot build info,
Version 1.8.1(build 2335)

[2015-06-15 16:52] karlitschek commented on #16946
Can you open this to the clients repository please? thanks

[2015-06-15 16:52] #16946 closed

[2015-06-15 16:57] Grevous commented on #16946
Oh sorry, I'll set it up over there then.

[2015-06-15 17:12] butonic commented on #7474
well, if indexes are missing it is a bug. nothing else. users should not be forced to find missing indexas in the documentation ...

[2015-06-15 17:49] DeepDiver1975 commented on #7474
thanks for repeating my sentences :speak_no_evil: PR are welcome

[2015-06-15 18:16] jnweiger commented on #16936
@DeepDiver1975 Thanks for the review.
Lintian rules added, so that it succeeds on Debian 8

[2015-06-15 18:16] #16936 closed

[2015-06-15 18:53] affibox opened #16947 "Sharing files via link not working when sharing external storage files"
Greetings.
I have s3 as my external storage. When we share a file using links we get an error.
Here is an example:
aws s3 storage: https://cumulus.intricloud.com/index.php/s/E3Wdqz50D9VE6Z6
local storage : https://cumulus.intricloud.com/index.php/s/36hywd7i2ktxmNR

Both links point to the same file which is a simple pdf. But when sharing files that are stored on s3 I get this error:
{
PDF.js v1.0.

[2015-06-15 19:16] #16942 closed

[2015-06-15 20:13] LukasReschke commented on #16947
Do we have some S3 testing credentials?

cc @DeepDiver1975

[2015-06-15 20:24] andrewsomething opened #16949 "Unable to upgrade Debian packages"
Hi!

This seems to be related to (if not the same as) #16330 and #16007 even though both are marked as closed. `/var/www/owncloud/.htaccess` was moved to the owncloud-server package from the owncloud-config-apache package. A Breaks/Replace was added on `owncloud-config-apache (<< 8.0.3)` but this doesn't seem to be enough. This is still causing an error when attempting to upgrade, in my case from

[2015-06-15 20:32] stampf opened #16950 "Metadata for file types in external storage #markdown #metadata"
I have an file.md inside an external storage (Dropbox), but when I click it, it is downloaded, not opened in the editor (in owncloud-markdown).
MD files in normal ownCloud are edited properly, as well as .txt files inside Dropbox.

I have ownCloud 8.0.2 and latest version of owncloud-markdown as well.

Could it be that we can activate some predefined file types in external editors so the behavior

[2015-06-15 20:57] RealRancor commented on #14840
@jolorant Its not about a "non-verifiable HTTP URL". See the description here why this is happening and why turning off certificate validation is solving this:

https://github.com/owncloud/core/issues/14840#issuecomment-78675430

[2015-06-15 20:59] mr-taviscaron commented on #9832
Same error for me, ownCloud 8.0.4 (i686, nginx 1.7.2, php-fpm 5.6)

[2015-06-15 21:05] RealRancor commented on #9832
@mr-taviscaron
This issue has tons of posts but its worth to go over all suggestion / posts in here before posting just a "same error for me". :-)

[2015-06-15 21:17] mr-taviscaron commented on #9832
@RealRancor for now I have tried all solutions and check all parameters, that need to be set, but it is not working :)
"same error" is like @eeddieec have: "app":"webdav","message":"Exception: {\"Message\":\"expected filesize 5242880 got 921600\",\"Code\":0,\"Trace\":\"#0

[2015-06-15 21:22] RealRancor commented on #9832
Then see https://github.com/owncloud/core/issues/9832#issuecomment-86418646 as well as https://github.com/owncloud/core/issues/9832#issuecomment-86420807

[2015-06-15 21:30] DeepDiver1975 commented on #16950
maybe something to talk to the developer of owncloud-markdown?

[2015-06-15 21:32] DeepDiver1975 commented on #16949
@jnweiger THX

[2015-06-15 23:48] captainwasabi opened #16951 "[Feature Request] Password Manager like LastPass"
This would be the effing killer app.

[2015-06-16 00:37] captainwasabi commented on #16951
oh wrong place ;)

[2015-06-16 00:37] #16951 closed

[2015-06-16 03:58] jab416171 commented on #16930
@RealRancor Thanks, I did look through that issue before posting that one. I am using the owncloud cron, however, as far as I've noticed, it doesn't address any of the concerns that I mentioned.

[2015-06-16 05:33] fbassas commented on #16740
Confirmed. Still getting this error related to cron on 8.0.4

PHP Fatal error:  Call to a member function file_exists() on a non-object in /var/www/owncloud/lib/private/files/filesystem.php on line 630
Unexpected error!

[2015-06-16 06:02] stampf commented on #16950
He sent me here: the problem is that Dropbox doesn't send the correct mime type thus owncloud doesn't launch the proper application to open it.

[2015-06-16 06:05] awnz commented on #9832
@RealRancor, have you tried the "Upload limit" workaround (Settings > Network > Upload Bandwidth > Limit automatically) in the sync client's settings? This is how I have avoided this issue.

I've scripted forcing this on for all clients by setting useUploadLimit=-1 in the section [BWLimit] of owncloud.cfg.

[2015-06-16 06:50] RealRancor commented on #16951
Hi,

there are also two existing app which could worth a look:

https://apps.owncloud.com/content/show.php/Secure+Container?content=167268
https://apps.owncloud.com/content/show.php/Passman?content=166285

[2015-06-16 06:54] RealRancor commented on #9832
@awnz Thanks for posting.

If that is solving the issue then this could partly caused by timeouts on server-side as guessed here: https://github.com/owncloud/core/issues/9832#issuecomment-86418646.

[2015-06-16 07:01] awnz commented on #9832
For me, before implementing that workaround, my memory of this is that the connection would be cut off mid-transfer with no preceding hang or pause.

[2015-06-16 07:48] #16937 closed

[2015-06-16 07:48] MorrisJobke commented on #15447
Fixed via #16938

[2015-06-16 07:48] #15447 closed

[2015-06-16 07:56] PVince81 commented on #16740
@belzebubek thanks for the stack trace, it seems to be related to LDAP

@fbassas are you also using LDAP ?

@blizzz can you have a look ?

[2015-06-16 08:00] PVince81 commented on #16930
Yes, and there also will not be any cleanup job for stray versions and keys, because this situation is not supposed to happen. If it does, then it's a bug that needs to be fixed.
Do you still see new stray files appearing in files_versions or encryption keys when using 8.0.4 ?
If yes, might be worth having a look at it to find out what bug is causing it.

For the upload chunks, this ticket https:/

[2015-06-16 08:01] PVince81 commented on #16930
Note: a repair step could also be written that cleans up stray junk during update, in case the bug that was causing them was fixed in the next version.

[2015-06-16 08:24] rolandbu commented on #16716
The same problem again: https://mailman.owncloud.org/pipermail/user/2015-June/001637.html

[2015-06-16 08:31] MorrisJobke commented on #16723
No. The .deb need the maintenance:mode --off too.

[2015-06-16 08:45] DeepDiver1975 commented on #16950
Thanks - very valuable input.

@icewind1991 we shall address this within 8.2 as soon as we start pushing dropbox integration. THX

[2015-06-16 08:49] #16825 closed

[2015-06-16 08:50] nickvergessen commented on #12471
- [ ] Activity app has an issue for it: https://github.com/owncloud/activity/issues/249

[2015-06-16 08:51] XStanleyX commented on #12051
https://ru.m.wikipedia.org/wiki/Транслит

[2015-06-16 08:54] blizzz commented on #16805
any update @pierrejochem ?

[2015-06-16 08:59] SergioBertolinSG commented on #16896
serverB logs:
´´´
{"reqId":"H9jwNcsnuS4P20s3dU9S","remoteAddr":"82.159.139.58","app":"webdav","message":"Exception: {\"Message\":\"Not Found\",\"Code\":404,\"Trace\":\"#0 \\\/opt\\\/owncloud\\\/3rdparty\\\/sabre\\\/dav\\\/lib\\\/DAV\\\/Client.php(233): Sabre\\\\HTTP\\\\Client->send(Object(Sabre\\\\HTTP\\\\Request))\\n#1 \\\/opt\\\/owncloud\\\/lib\\\/private\\\/files\\\/storage\\\/dav.php(263): Sab

[2015-06-16 09:00] #16696 closed

[2015-06-16 09:02] Finkregh commented on #10834
yep, but i did not run a test with a clean install, just had a look at an up2date installation with old data in it

[2015-06-16 09:05] PVince81 commented on #16896
Thanks, I'll have a look.

[2015-06-16 09:05] blizzz commented on #15515
For revoked access a described by @Froster please follow https://github.com/owncloud/core/issues/15656 it contains a proposed PR.

[2015-06-16 09:05] #15515 closed

[2015-06-16 09:09] blizzz commented on #14774
I assume it is fixed as the mentioned PR was merged and no further update was posted.

[2015-06-16 09:09] #14774 closed

[2015-06-16 09:13] blizzz commented on #13151
@sbelov1 um, was this solved?

[2015-06-16 09:14] Wikinaut opened #16953 "[Admin > User panel] Intead of Quota "Standard" show Quota "xx GB (Standard)" size"
On the User admin panel, I see a meaningless "Standard" Quota information, but this does not indicate the size.

Output should be changed to show the correct current size value, perhaps in the Form "2 GB (Standard)" (proposed).

[2015-06-16 09:16] blizzz commented on #12192
This is old. There were a lot of fixes meanwhile in the 7 series as well as 8. I close it, please reopen if the issue still exists in up to date versions.

[2015-06-16 09:16] #12192 closed

[2015-06-16 09:18] #12108 closed

[2015-06-16 09:19] blizzz commented on #12060
Should be all fixed in 8.1.

[2015-06-16 09:19] #12060 closed

[2015-06-16 09:23] blizzz commented on #11354
The autocomplete is available in 8.1, also groups are not automatically fetched when the corresponding checkbox on first tab is enabled, which is recommended for big LDAPs. Closing therefore as fixed in 8.1.

[2015-06-16 09:23] #11354 closed

[2015-06-16 09:25] blizzz commented on #9545
Closed for inactivity.

[2015-06-16 09:25] #9545 closed

[2015-06-16 09:26] schiesbn commented on #16922
I tried it with the same set of apps but can't reproduce it. It looks like it comes from one of the apps admin settings. Can you try to disable all apps and check if the error message still appears if you open the admin settings. If the message no longer appear re-enable every app one by one and try again to open the admin settings after every app so that we can find out which app setting triggers

[2015-06-16 09:27] blizzz commented on #8614
Meanwhile, we throw exceptions when a LDAP is or goes offline, which fixes this issue.

[2015-06-16 09:27] #8614 closed

[2015-06-16 09:28] PVince81 commented on #16896
This is what I see during webdav delete (I shared s2s with the same server):
[code]

And the webdav upload:
[code]

This is on master (7d8b728066987bd312b3225eff6cff67ca6a610a)

Two issues:
1) Cannot upload due to lock
2) The mysterious message "{"reqId":"wZNLUMuuuiDffHB1ks4I","remoteAddr":"127.0.0.1","app":"core","message":"Can't get app storage, app files_external, user not logged in","level":3,

[2015-06-16 09:29] blizzz commented on #8317
@fleish does it work better with mysql now?

[2015-06-16 09:29] PVince81 commented on #16896
Note: the SFTP storage was mounted as personal mount, not system-wide mount.

@icewind1991 any comment on "Can't get app storage, app files_external, user not logged in" ?

[2015-06-16 09:30] DeepDiver1975 commented on #16953
@Wikinaut thanks a lot for your suggestion - I'm putting this to the backlog - contributions to fix this are welcome any time. THX

[2015-06-16 09:34] SergioBertolinSG opened #16954 "NaN label appears when trying to count users after creating a new one."
### Steps to reproduce

1. As an admin go to users page.
2. Create a new user.

### Expected behaviour
A number.

### Actual behaviour
Not a number.

![screen shot 2015-06-16 at 11 25 42](https://cloud.githubusercontent.com/assets/9048796/8180030/5b1a9b74-141b-11e5-8918-b4804c0cdc18.png)

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:**
MySQL

**PH

[2015-06-16 09:41] PVince81 commented on #16896
The locked issue from 1) is fixed in this PR: https://github.com/owncloud/core/pull/16955

[2015-06-16 09:41] #15851 closed

[2015-06-16 09:54] PVince81 commented on #16478
- [ ] fix getAbsolutePath to auto-normalize output instead of doubling slashes...

[2015-06-16 10:06] fbassas commented on #16740
Yes, we use LDAP.

[2015-06-16 10:08] nickvergessen commented on #16954
https://github.com/owncloud/core/issues/16876

[2015-06-16 10:08] #16954 closed

[2015-06-16 10:09] nickvergessen commented on #16954
And PR: https://github.com/owncloud/core/issues/16889

[2015-06-16 10:13] nickvergessen opened #16956 "Argument 4 passed to OC\Core\Avatar\AvatarController::__construct() must implement interface OCP\ICache"
[code]

Caused by #16200 related #16762

@DeepDiver1975 @blizzz

[2015-06-16 10:40] blizzz opened #16958 "LDAP: play nicely with dead LDAP servers served by Round Robin DNS"
You have a set of LDAP servers reachable under a single domain (ldap.example.com). Via DNS Round Robin ownCloud will connect to one of them, but never the same. Also, some LDAP servers might be dead/offline while they are not being removed from the pool.

Currently (tested 8.0.3), ownCloud will hang desperately, as an odd server will not respond. A timeout on the observed setups would be terribly

[2015-06-16 10:49] pierrejochem commented on #16805
Will try it today after lunch. So will update it in a few hours. Sorry for the delay :-(

[2015-06-16 11:03] nickvergessen opened #16959 "Can not create files via webdav anymore"
Failing smashbox test: test_basicSync.py, ...

Description of the minimal failing version:
1. Create directory for the sync client
2. Run sync (will pull the welcome.txt)
3. Create file `TEST_FILE_MODIFIED_NONE.dat` with `str_repeat('0', 1000)`
4. Run sync (should upload the file)
5. Check that the file exists

### Expected
Step 5 returns true

### Actual
Step 4 creates the following log entry:

[

[2015-06-16 11:04] DeepDiver1975 commented on #16959
@icewind1991 can you please have a look? THX

[2015-06-16 11:23] nickvergessen commented on #16959
I added logs on locking actions and found related:
[code]

Which brought me to #16955 which fixes the issue.

[2015-06-16 11:26] MorrisJobke commented on #16740
@fbassas Can I ask you to provide an anonymized ldap config? `./occ ldap:show-config` should show you all relevant stuff.

[2015-06-16 11:28] #14060 closed

[2015-06-16 11:31] MorrisJobke commented on #14185
@LukasReschke Any idea how to handle this? Is not storing stuff that is too big an option?

[2015-06-16 11:34] LukasReschke commented on #14185
Stop supporting stuff that nobody tests. Or: https://github.com/owncloud/core/issues/14185#issuecomment-101565297 which says:

We will otherwise run in problems all the time again.

[2015-06-16 11:36] stampf commented on #16950
I haven't read your code, but it's probably endemic to all external storage? That would probably mandate having an equivalent /etc/mime-types inside owncloud... How to do it gracefully is key IMHO :) Especially when one sees the huge list available at IANA: http://www.iana.org/assignments/media-types/media-types.xhtml.

As they say in "Mission: impossible": good luck, Jim ;-)

[2015-06-16 11:36] MorrisJobke commented on #16253
@jnfrmarks Any news here?

[2015-06-16 11:36] LukasReschke commented on #14185
As in: Yes, it is an option. But I really think it is a bad idea to work around this in our own code base.

[2015-06-16 11:36] MorrisJobke commented on #16477
@jancborchardt Do you want to have a look at this?

[2015-06-16 11:42] jvillafanez opened #16960 "Download directory as zip while an inner file is being overwritten causes the download to be corrupted"
### Steps to reproduce
1. Create a folder and upload several files on it
2. Overwrite one of those files with a big one
3. While the file is being uploaded / overwritten, download the parent folder as a zip

### Expected behaviour
A locked exception should be thrown

### Actual behaviour
A corrupted zip file is downloaded.

### Server configuration
**Operating system**: ubuntu 14.04

**Web server:

[2015-06-16 11:48] DeepDiver1975 commented on #16794
all green now -> close - THX

[2015-06-16 11:48] #16794 closed

[2015-06-16 11:49] DeepDiver1975 commented on #16723
@jnweiger any ETA? THX

[2015-06-16 11:52] fbassas commented on #16740
Of course. Here it is:

$ php occ ldap:show-config
+------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

[2015-06-16 11:55] RealRancor commented on #14185
@LukasReschke @MorrisJobke

There is also a report of a user at the forums that a simple:

[code]

solved this issue for him:

https://forum.owncloud.org/viewtopic.php?f=31&t=26364&p=89379#p89379

[2015-06-16 12:09] DeepDiver1975 commented on #16751
since there is no sev assigned I'll move this to 8.2

[2015-06-16 12:13] DeepDiver1975 commented on #16728
THX for the info @SergioBertolinSG

[2015-06-16 12:13] DeepDiver1975 commented on #16728
I will anyhow close this issue because there is nothing to do for us for 8.1

[2015-06-16 12:13] #16728 closed

[2015-06-16 12:13] blizzz commented on #16325
I.e. there are no private tags?

I guess, not the files and folders themselves but the labels are renamed.

[2015-06-16 12:14] DeepDiver1975 commented on #16481
not critical -> 8.2

[2015-06-16 12:16] DeepDiver1975 commented on #16477
Can anybody please retest this with the current code base as of master? THX

[2015-06-16 12:18] DeepDiver1975 commented on #16318
@LukasReschke anything in the pipe for 8.1? otherwise let's move this to 8.2

[2015-06-16 12:19] PhilJung opened #16962 "OC8.0.4 Mail notification for yesterday with today content"
Hi,

### Actual behaviour

A user received this message:

Moreover, in french notification mail, the ' char is encoded:
`Vous recevez ce courriel car hier l&#039;activité suivante a eu lieu sur /`

### Expected behaviour

No data from today in yesterday summary
No encoded char

### Server configuration
**Operating system**: CentOS 6.6

**Web server:** Apache 2.2.15

**Database:** MySQL

**PHP vers

[2015-06-16 12:20] LukasReschke commented on #16318
8.2

[2015-06-16 12:21] #16177 closed

[2015-06-16 12:21] DeepDiver1975 commented on #16177
case closed - documentation is in place

[2015-06-16 12:26] MTRichards commented on #16325
We discussed yesterday, and agreed that private tags are the way to start. Public tags come later. That is a change.

And yes, the labels are remanded not the files or folders.

[2015-06-16 12:30] PVince81 commented on #16478
- [ ] fix getPath() signature to properly throw exceptions https://github.com/owncloud/core/pull/16957 for invalid paths instead of null

[2015-06-16 12:32] DeepDiver1975 commented on #16720
postponed to 8.0.6 - we are waiting for the upstream fix

[2015-06-16 12:32] LukasReschke commented on #16478
- [ ] fix `getFileInfo` signature to properly throw exceptions for invalid paths instead of null

[2015-06-16 12:34] Synchro commented on #16720
PHP 5.6.10 and 5.5.26 have been released and both include a new version of the PCRE lib (8.37) - can you confirm that this release doesn't suffer from this problem? The problem I have is that I can't reproduce it.

[2015-06-16 12:37] DeepDiver1975 commented on #16720
@kkretsch can you retry with an updated php? THX

[2015-06-16 12:41] icewind1991 commented on #13391
#16963 Should fix this

[2015-06-16 13:01] RealRancor commented on #16962
Hi,

isn't this handled by the activity app? https://github.com/owncloud/activity/issues

[2015-06-16 13:13] DeepDiver1975 commented on #16962
@nickvergessen please triage - THX

[2015-06-16 13:27] bboule commented on #13151
@sbelov1 was this resolved from the prospect perspective?  Just need to understand if you need anything additional here?

[2015-06-16 13:30] oparoz commented on #16904
I've added a bit more info, but I think what's happening is that 8.0 does not work well with APCu since PHP is crashing every time oC has new files. So the upgrade process must simply be interrupted.

Here is the process:
1. Installatron updates oC
2. I go to the WebGUI and I'm told PHP has gone away
3. I restart php-fpm
4. I log in
5. I'm told my files are encrypted, but there is no key
6. I enab

[2015-06-16 13:30] sbelov1 commented on #13151
@blizzz @bboule I haven't seen this issue come up anymore, so I'm closing the ticket. Thanks guys.

[2015-06-16 13:30] #13151 closed

[2015-06-16 13:37] MorrisJobke commented on #16477
I will do this

[2015-06-16 13:38] jnweiger commented on #16723
DEB now also has maintenance:mode --off modelled after the codepath from RPM' spec file.
Smoke tests pending.
@Kawohl Please test upgrade from 8.0 to 8.1 beta2

[2015-06-16 13:39] jancborchardt commented on #16878
@aidanamavi @colmoneill so for you searching works totally fine in all cases, no bugs?

@MorrisJobke @owncloud/designers can anyone reproduce my above issue? If not, then we can close this.

[2015-06-16 13:42] jancborchardt commented on #16878
@schiesbn maybe if you have time check if you can reproduce this?

[2015-06-16 13:56] MorrisJobke commented on #16477
Used 8.1.0beta2:

![bildschirmfoto von 2015-06-16 15-54-25](https://cloud.githubusercontent.com/assets/245432/8184718/39b03848-1440-11e5-8c94-24f150a4ce13.png)

Works here.

[2015-06-16 13:59] MorrisJobke commented on #16477
I used the tar ball for this screenshot. But it works on master too.

[2015-06-16 13:59] MorrisJobke commented on #16477
@davitol Can you still reproduce? Otherwise I would close this.

[2015-06-16 13:59] DeepDiver1975 commented on #16477
@jnfrmarks @SergioBertolinSG for overall qa coordination - THX

[2015-06-16 14:10] PVince81 opened #16966 "File locking TTL"
To be discussed, see https://github.com/owncloud/core/issues/16794#issuecomment-111516280 and @icewind1991's response.

Might not be compatible with all memcache backends.

@DeepDiver1975 @icewind1991

[2015-06-16 14:10] PVince81 commented on #16794
Raised https://github.com/owncloud/core/issues/16966 for the TTL discussion (please schedule accordingly)

[2015-06-16 14:11] PVince81 opened #16967 "Experimental file locking database support"
Store locks in the database instead of memcache.
(or write our own database-based memcache?)

@DeepDiver1975 @icewind1991 @karlitschek for later

[2015-06-16 14:14] karlitschek commented on #16967
yes. as discussed.

[2015-06-16 14:14] PVince81 commented on #12193
@nickvergessen had something similar with a specific PHP version. Then there was an update and the new version doesn't.

@nickvergessen can you post your version ?

[2015-06-16 14:19] PVince81 opened #16968 "Add lock info in sabre response"
Currently the Sabre LockedException is thrown as is.

It needs to be extended to contain proper locking information.

@DeepDiver1975 @icewind1991

[2015-06-16 14:24] DeepDiver1975 commented on #16967
a topic for 8.2 from my pov

we want to enable locking for the broad mass - requiring a redis server is out-of-scope for small installations - we can only fallback to the database in these cases (other memcaches have been proven to be not reliable enough)

[2015-06-16 14:25] PVince81 commented on #16967
Yes, I'd love to have locking on my server too, but not willing to install redis there.

[2015-06-16 14:25] davitol commented on #16477
:+1: Fixed in master

[2015-06-16 14:26] #16477 closed

[2015-06-16 14:27] jnfrmarks commented on #16847
@nickvergessen

Let me know if you need any more info.

[2015-06-16 14:27] uusijani commented on #16922
Okay, I disabled all apps and the issue remains: the log still gets a new "not exist" entry when I select "Admin".

[2015-06-16 14:29] DeepDiver1975 commented on #16968
THX

[2015-06-16 14:32] nickvergessen commented on #16962
https://github.com/owncloud/activity/blob/master/templates/email.notification.php#L11-L15

So this is a problem with the french translation: https://www.transifex.com/projects/p/owncloud/viewstrings/#fr/activity/25578087

About the encoded `'` I shall have a look tomorrow

[2015-06-16 14:33] schiesbn commented on #16922
Then it is probably something from the core settings. I will have a
look, maybe I can find something. Thanks for helping to isolate the
problem.

[2015-06-16 14:38] MorrisJobke commented on #16725
#16744  will be shipped with 8.0.5 -> close this

[2015-06-16 14:38] #16725 closed

[2015-06-16 14:38] jnfrmarks commented on #16349
@LukasReschke

What info are you looking for?

[2015-06-16 14:40] nickvergessen commented on #12193
I had various connection issues on php 5.5.24 and 5.5.25, since the update to 5.5.26 last night everything is running smooth. Maybe that's worth a try for you as well.

[2015-06-16 14:45] PhilJung commented on #16962
For the encoded char.

Just to be sure: it is a two parts problem : I don't believe it's normal to see a file modified Today in a summary of yesterday activities (should have logged 2 tickets :-) )

[2015-06-16 14:53] icewind1991 commented on #16859
Ok, I've done some more testing and found that the file is properly locked during the rename, but when moving a folder to an external storage there is some delay before the rename is started (things like checking if the target exists probably)

When adding a `sleep` to the rename operation, doing a move to an external storage and trying to download the file a few times over webdav:

- The first tr

[2015-06-16 14:54] icewind1991 commented on #16896
Sounds s2s related, @schiesbn ?

[2015-06-16 14:56] LukasReschke commented on #16349
The one provided in https://github.com/owncloud/core/issues/16349#issuecomment-102340475, should probably have removed the label afterwards ;)

[2015-06-16 14:57] nickvergessen commented on #16962
Okay, let me split up my comment:

### Problem 1: "Yesterday"

https://github.com/owncloud/activity/blob/master/templates/email.notification.php#L11-L15

So this is a problem with the french translation: https://www.transifex.com/projects/p/owncloud/viewstrings/#fr/activity/25578087

English translation does not use the word "yesterday"

so yes, thats the issue. It is "now() - 24 x 3600s" while th

[2015-06-16 14:59] nickvergessen commented on #16847
@jnfrmarks credentials for testing would be nice. but dont share them here

[2015-06-16 15:05] SergioBertolinSG opened #16970 "[Experimental files locking] Uploading files to root folder is locked."
Just to keep track of https://github.com/owncloud/core/pull/16729#issuecomment-108472058

### Steps to reproduce

Having a server with experimental files locking enabled do:

1. Using webdav upload files to the root.

### Expected behaviour
Files are uploaded.

### Actual behaviour
Files return 423 when uploading.

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

[2015-06-16 15:06] schiesbn commented on #16878
I can reproduce it on master, state 829f6474ff4cd4e39647bcb5b68b5e5c0fb1b483

![1](https://cloud.githubusercontent.com/assets/1589737/8186349/10d9e57c-144a-11e5-8911-ee9eee5e3657.png)

[2015-06-16 15:10] jnfrmarks commented on #16255
@RealRancor @derkostka @LukasReschke

I'm getting back to this now and don't know what I need to do here.  I still see the warning on my CentOS system but not on my ubuntu system.

[2015-06-16 15:11] LukasReschke commented on #16255
@jnfrmarks Any way you can grant me access to that system?

[2015-06-16 15:15] schiesbn commented on #16878
My steps to test it:

- create a folder "New Folder"
- move to "New Folder"
- create some files "New text file.txt"
- go back to the root
- search for "new" everything is OK
- rename the folder "new folder" to "folder"
- search again for "new" -> broken result as shown above

[2015-06-16 15:17] jnfrmarks commented on #16847
@nickvergessen ping me via irc or skype and I will share ;)

[2015-06-16 15:22] jnfrmarks commented on #11468
Working as expected in 8.1.  Closing

[2015-06-16 15:22] #11468 closed

[2015-06-16 15:24] PVince81 commented on #13391
@icewind1991 it didn't work, still happening.

How about the hasUpdated approach you suggested ?

[2015-06-16 15:30] jnfrmarks commented on #11723
@PVince81

To "access the file"  I was editing it.

This no longer freezes the UI, but does throw a server 500 error:

[code]

This is correct: the file is gone.  Can we throw a "file not found on remote server" error instead of an internal server error?

![p355](https://cloud.githubusercontent.com/assets/8480343/8186908/fee2721e-141a-11e5-9e23-839a63f74c34.PNG)

[2015-06-16 15:30] LukasReschke commented on #16255
Relevant error entry:

[code]

When dumping the error entry:

[code]

This means `172.18.5.39` gets a 400 returned from owncloud.org which results in this behaviour since a 400 status code is an error. Requires investigation on the owncloud.org server side as well. (on it)

[2015-06-16 15:35] PVince81 commented on #11723
Yes, we should make that a 404

[2015-06-16 15:37] LukasReschke commented on #16255
On the owncloud.org server:

[code]

Looks like an SNI related issue. Digging…

[2015-06-16 15:39] SergioBertolinSG commented on #10511
This is still happening with external storages. Also with windows network drive.
I think mounted folder should be automatically renamed if there is one already mounted with that name or throw an error when mounting warning the user for choosing a different name.

[2015-06-16 15:39] PVince81 commented on #16970
Duplicate of https://github.com/owncloud/core/issues/16959

[2015-06-16 15:39] #16970 closed

[2015-06-16 15:40] PVince81 commented on #16960
Not sure what to do in this case.

Either the zip process must skip the file because it's locked, or abort completely with a locked exception + 423 status code.

[2015-06-16 15:41] PVince81 commented on #16960
Abort is probably the best

[2015-06-16 15:41] RealRancor commented on #16255
Thought about the same. Is curl used for this request?

[2015-06-16 15:44] PVince81 commented on #16960
Hmmm, this shouldn't happen, the zip related code uses View::fopen here https://github.com/owncloud/core/blob/master/lib/private/files.php#L156 which should try and lock the file.

Maybe the exception got caught and the error page got appended into the zip file ?

[2015-06-16 15:45] PVince81 commented on #10511
Yes, and as long as all mount points aren't specified through the external storage app (which means WND/Sharepoint app ported to files_external), it will be difficult if not impossible to implement this kind of logic. Well, or we need to implement it in 3-4 different places at once, which is not desirable.

[2015-06-16 15:45] PVince81 commented on #10511
Moving to 8.2

[2015-06-16 15:46] PVince81 commented on #10511
Depends on https://github.com/owncloud/core/issues/16304

[2015-06-16 15:48] SergioBertolinSG commented on #10511
OK, 8.2 then.

[2015-06-16 15:59] fleish commented on #8317
@blizzz I haven't had any complaints since moving to mysql. we do still have to manually insert a row into the db for each new LDAP user. It would be nice if OC automatically checked the LDAP server for new users periodically IMO, but we're used to doing it now so it's not a big burden.

[2015-06-16 16:04] PVince81 commented on #16960
Zip files are created on the fly and streamed back to the client, while adding each file one by one.
While it is possible to abort the stream by closing the connection, the client will still believe that the file is correct. For example Chrome does not signal an error.

Additionally since we cannot predict the response length, we cannot pre-set the "Content-Length" header that might hint clients t

[2015-06-16 16:04] jnweiger commented on #16723
@MorrisJobke is pull 16434 part of the Beta2 package?

[2015-06-16 16:06] LukasReschke commented on #16255
Yup. With 8.1 we always use the PHP cURL bindings in form of a wrapper around GuzzleHttp.

This is a PHP bug: https://bugs.php.net/bug.php?id=67639

[2015-06-16 16:07] LukasReschke commented on #16255
For testing purposes:
[code]

If the second line returns a 400 then the PHP version is affected by this bug.

[2015-06-16 16:11] PVince81 commented on #16960
A quick discussion with @icewind1991 pointed me at rather trying to set a shared lock on every file inside the folder recursively. Other ways would not properly prevent people to change contents during the download.

I could even make it progressive: first set a shared lock on ALL files inside. And then, as the files are delivered one by one, unlock them one by one to make them available to others

[2015-06-16 16:14] MorrisJobke commented on #16723
No. beta2 is 29 days old. This was merged 13 days ago.

[2015-06-16 16:23] jvillafanez commented on #16960
That's exactly what I was thinking. It looks the best approach :clap:

If by chance we can't get the lock of any file, we'll just need to unlock all the locks and throw the locked exception

[2015-06-16 16:33] jnfrmarks commented on #16255
@LukasReschke

Is there something we need to do to either remove the bug or let the customer know about the php bug?

[2015-06-16 16:47] jnfrmarks commented on #15821
I'm closing this as I can't reproduce it.

[2015-06-16 16:52] LukasReschke commented on #16255
Well… Recompiling PHP with a newer cURL version might help. Besides that everything else that we can do is only cosmetic and it is indeed possibly that this breaks other features as well when it comes to handling connections to hosts with SNI. Though having connections in the same PHP request to two different domains running on the same server with SNI is unlikely. I would however not say that thi

[2015-06-16 16:54] LukasReschke commented on #16255
On the first moment I can think about S2S breaking when handling SNI stuff with an alias, for example when the ownCloud instance is accessible from `www.owncloud.org` as well as `owncloud.org`, in this case the file cache and whatever might go :boom:

[2015-06-16 16:54] wolandtel opened #16972 "Colon not allowed in filename"
But all my filesystems allow colon in names. And I want to sync such files. yandex.disk, for example, does it.

[2015-06-16 16:55] LukasReschke commented on #16972
Possible with 8.1

[2015-06-16 16:55] #16972 closed

[2015-06-16 16:55] jnfrmarks commented on #16253
I get the same results as @nickvergessen with the latest oC build and client 1.8.2.  Closing

[2015-06-16 16:55] #16253 closed

[2015-06-16 17:17] th3fallen commented on #16878
also not a solution but instead of adding padding-top if you just disable the negative top margin it works as expected too.

[2015-06-16 17:20] jnweiger commented on #16949
dpkg-maintscript-helper rm_conffile is a great hint. Thanks!

[2015-06-16 17:27] PVince81 commented on #16960
Yes. The way it currently works is that if any exception happens in the middle, any lock will automatically be freed a the end of the PHP process (shutdown handler), so no additional code is required for such cases.

[2015-06-16 17:38] pierrejochem commented on #16805
It is working. Thank you for your support :smile:

[2015-06-16 18:01] carlaschroder opened #16974 "PHP 5.4 issues with RHEL/CentOS 6"
re: https://github.com/owncloud/core/issues/16343

I tested the steps in https://github.com/owncloud/core/issues/16343#issuecomment-104700724 and they work, so I'm going to add them to the README on customer.owncloud.com.

One of my friends at RHEL asked "Have you thought about shipping it as a containerized app?"

@jnweiger @MorrisJobke

[2015-06-16 18:02] jab416171 commented on #16930
I have stray versions and keys for files that have been deleted.

[2015-06-16 18:06] PVince81 commented on #16930
How old ? To find out whether it's old from OC 5 - OC 6 or if it's quite recent.
If very recent, might be a still existing bug.

[2015-06-16 18:06] jab416171 commented on #16930
I've never used anything other than OC8. They're from the current version.

[2015-06-16 18:16] jnfrmarks opened #16975 "Marking two files with the same name as "Favorites" ends up listing three on the favorites page"
### Steps to reproduce
1. Install two 8.1 servers
2. On server 1 upload a bunch of files
3. On server 2 create a user
4. On server 2 enable external storage
5. On server 2 configure external webdav mounts to point to server 1
6. On server 2 log in as user
7. On server 2 upload a file with the same name as a file on the webdav mount
8. On server 2 mark the uploaded file as a favorite
9. On server 2

[2015-06-16 18:20] jnfrmarks opened #16976 "No way to differentiate between two files with the same name marked as favorites"
### Steps to reproduce
1. Install 8.1
2. Upload the same file in two different folders
3. Mark each file as a favorites
4. Go to the favorites page
### Expected behaviour

Should be able to see location of each file
### Actual behaviour

There is no way to tell where each favorite is stored

![p358](https://cloud.githubusercontent.com/assets/8480343/8190779/c1055110-1432-11e5-9636-04cd925c943e.PNG

[2015-06-16 18:21] jnfrmarks commented on #16975
I validated that only two names show up (as expected) when both files are local

[2015-06-16 18:23] PVince81 commented on #16930
OC 8.0.4 I assume ?

Then we need to find out the steps that leaves such stray files, whether it's deleting or renaming.

In 8.1 a few such bugs have been fixed, so it is likely that it will not happen any more in 8.1.
But finding out the steps could still help knowing if it is one of the fixed bugs or new ones.

[2015-06-16 18:40] jnfrmarks opened #16977 "List of users and groups does not render correctly when there is a group with a long name"
### Steps to reproduce

1. Install 8.1
2. create a group with a long name
3. enable external storage
4. configure an external storage and select a group

### Expected behaviour

Drop down list of users and groups display correctly

### Actual behaviour

Drop down list of users and groups does not display correctly

![p359](https://cloud.githubusercontent.com/assets/8480343/8191340/8de14796-1435-11

[2015-06-16 18:54] jnfrmarks commented on #16975
I figured out what's going on here.

I have two webdav mounts to the same folder.  One is over http, the other over https.  In the case of the webDAV mount, I marked the file as a favorite from the http mount.  It's showing up 3 times because technically, it's there three times..  I think the only question I have is if this is the correct behavior.  I'm torn

[2015-06-16 18:58] jnweiger commented on #16974
If they mean docker, when they say containerized, then it is trivial to do. I am generating the instruction steps for all supported platforms from a single source as part of th epackage installation test suite.

[2015-06-16 19:32] cmonteroluque commented on #16482
@jnfrmarks Please have QA test this. Merged already, we need to know if it's closed

[2015-06-16 19:34] cmonteroluque commented on #14507
@jnfrmarks please test this so we can determine whether to close

[2015-06-16 19:51] carlaschroder commented on #16974
@jnweiger Will that resolve dependency issues, and issues like php 5.3/php 5.4?

[2015-06-16 19:52] carlaschroder commented on #16974
No https? Dang.

[2015-06-16 19:53] carlaschroder commented on #16974
Please review: https://github.com/owncloud/documentation-enterprise/issues/239
 please review: using Software Collections w RHEL 6 #239

[2015-06-16 20:06] jnweiger commented on #16974
Yep, no https, I never neeed that for testing the installation.

When I install my docker containers with obs-docker-install, *all* dependency issues are properly handled. Yes. Handling them all is a prerequisite to have the testsuite fully automated, so I am pretty certain in this respect :-)

[2015-06-16 20:43] jnweiger commented on #16723
Ouch. That leaves only isv:ownCloud:community:nightly/owncloud as a test target.

[2015-06-16 20:50] jnweiger commented on #16949
dpkg-maintscript-helper rm_conffile added in
https://build.opensuse.org/package/show/isv:ownCloud:community:8.0:testing/owncloud
version 8.0.4-1

[2015-06-16 20:59] blizzz commented on #16805
Great, you're welcome! :)

[2015-06-16 20:59] #16805 closed

[2015-06-16 23:00] carlaschroder commented on #16974
The relevant READMEs on customer.owncloud.com and presales.owncloud.com have been updated.

[2015-06-16 23:00] #16974 closed

[2015-06-17 00:13] andrewsomething commented on #16949
@jnweiger I tried the packages in the testing repository and can confirm that it now upgrades successfully.

[code]

Thanks for the prompt fix!

[2015-06-17 02:35] stickr opened #16979 "iOS Sabre DAV errors when attempting connection with owncloud app v. 3.4.1"
Hi,

The iOS app previously worked great, after an OC upgrade it stopped.I haven't been able to use the iOS app for a while, each attempt to enter the server address into the app it displays the error "Server not found" and the below is entered into my ./owncloud/data/owncloud.log file.

{"reqId":"6446da50fb429ae2377c7cb112f319a4","remoteAddr":"XX.XX.XX.XX","app":"webdav","message":"Exception: {\"

[2015-06-17 02:35] stickr commented on #16979
whoops should've probably put this into sabre

[2015-06-17 02:36] stickr commented on #16979
I have no idea what I'm doing :)

[2015-06-17 06:50] nickvergessen commented on #16959
#16955 as been merged, so closing (forgot to add to auto-close)

[2015-06-17 06:51] #16959 closed

[2015-06-17 07:24] strugee commented on #14754
No, they're not. Not in Debian-land. In Debian terms, an update is where the package manager refreshes its list of packages. An upgrade is where the package manager actually goes out and retrieves new packages and installs them. (A dist-upgrade is, roughly speaking, an upgrade to a newer Debian release.)

Of course, ownCloud has its own terminology. And that's fine. (I will point out, however, tha

[2015-06-17 07:32] stefan-niedermann commented on #16557
I have new information:
It happens only on System-Cron-Execution - if i switch to AJAX-based Cron-Execution, it works.

[2015-06-17 07:50] RealRancor commented on #14754
Thats not an ownCloud specific terminology. :-) It is common in software that an update means to raise a minor version where an upgrade means to raise the major version.

[2015-06-17 08:11] Kawohl commented on #16723
I tried to update from 8.04 to 8.1 on Ubuntu 14.04
This error  ocurred

Entpacken von owncloud (8.1-20150617) über (8.0.4-0) ...
dpkg: Fehler beim Bearbeiten des Archivs /var/cache/apt/archives/owncloud_8.1-20150617_all.deb (--unpack):
 Versuch, »/var/www/owncloud/l10n/l10n.pl« zu überschreiben, welches auch in Paket owncloud-server 8.0.4-0 ist
dpkg-deb: Fehler: Unterprozess einfügen wurde durch S

[2015-06-17 08:14] PVince81 commented on #12353
- [ ] conflict dialog handling: the upload/PUT must be able to detect conflicts and show the conflict dialog

[2015-06-17 08:37] pdesanex commented on #12193
@PVince81 I switched from php 5.4 to 5.6 via .htaccess -- I still get the same error. The client successfully synchronized the first 400 or so files (including many small files of ~5 MB and a few large ones > 500MB). Now it repeatedly fails on a specific ~400MB file.

[2015-06-17 08:39] Kawohl opened #16981 "Install on SLES: Nothing provides php54-sqlite needed by owncloud-8.0.4.12.1.noarch"
I tried to install owncloud Community Version on SLES 12.

During the install this error ocurred:

Install on SLES: Nothing provides php54-sqlite needed by owncloud-8.0.4.12.1.noarch

I think this somehow related to the missing php posix module on SLES 12

any thoughts? @jnweiger

[2015-06-17 08:55] RealRancor commented on #16981
Hi,

seems you need to first enable a module to get PHP 5.4 for SLES12 according to:

https://forums.suse.com/showthread.php?6354-PHP-version-in-SLES-12&p=27760#post27760

[2015-06-17 08:59] PVince81 opened #16983 "Wording for locking error messages"
From @jancborchardt :

(https://github.com/owncloud/core/pull/16892#issuecomment-112726809)

I guess that might do. I can change the message in LockingException then.

@icewind1991 @DeepDiver1975 @nickvergessen

[2015-06-17 09:01] Kawohl commented on #16981
Hey there, the Module is installed.

[2015-06-17 09:08] davitol opened #16984 "Drag and dropping a file inside a folder that contains a file named in the same way, you get "an error" message"
### Steps to reproduce
1. Create a folder
2. Create inside the folder a file named AAA.txt
3. Go to the home folder and create another file named as the previous one (e.g. AAA.txt)
4. Drag and drop the file from the Home folder to the folder previously created.

### Expected behaviour
A message that let us choose with file version we want to keep should be shown, like the behaviour if you upload a

[2015-06-17 09:14] RealRancor commented on #16981
Ah, yes. Seems you're getting PHP 5.5 as you already have noted:

https://forums.suse.com/showthread.php?6354-PHP-version-in-SLES-12&p=27760#post27760

So the package is probably called php55-sqlite which doesn't match the requirement php54-sqlite?

[2015-06-17 09:16] gladiac opened #16986 "Webdav not working on https://mycloud.site/remote.php/webdav"
I'm running owncloud 8.0.4 and if I try to access owncloud with a webdav client it doesn't work.

asn@magrathea:~> cadaver https://mycloud.site/remote.php/webdav
Could not open collection:
503 Service Unavailable

[17/Jun/2015:11:04:19 +0200] "OPTIONS /remote.php/webdav/ HTTP/1.1" 503 6816

If you try it with KDE's webdav slave which does a PROPFIND you get:

[17/Jun/2015:11:01:46 +0200] "PROPFIND

[2015-06-17 09:18] kkretsch commented on #16720
I just tried once more and now it works. I can send that test eMail from within the admin menu using the php transport.
Current php version was: PHP 5.6.10-1~dotdeb+7.3 (cli) (built: Jun 15 2015 07:22:09)

[2015-06-17 09:22] CaptionF opened #16987 "upload 10 GB file problem"
### Steps to reproduce
1.  create a file name file_10g on your laptop
2.  upload the file via web browser (firefox 38.0.5)

### Expected behaviour
the file should be stored into the users home folder.

### Actual behaviour
The file is fully transmitted to the "upload_tmp_dir“, but then, an error message in German "Fehler bei der Anmeldung") comes up in German, whereas the ownCloud language is set

[2015-06-17 09:29] DeepDiver1975 commented on #16720
Thanks a lot @kkretsch - closing this issue then

[2015-06-17 09:29] #16720 closed

[2015-06-17 09:33] DeepDiver1975 commented on #16986
503 is returned in case the installation is in maintenance mode.

You might also want to have a look at the logs-

[2015-06-17 09:37] gladiac commented on #16986
The web interface works just fine. So what part do you think is in maintenance mode?

[2015-06-17 09:50] MorrisJobke commented on #16987
@DeepDiver1975 @PVince81 Wasn't there a restriction in the upload size for WebUI (aka non chunked upload)

[2015-06-17 10:00] RealRancor commented on #16987
@CaptionF
Whats the setting of your ```upload_max_filesize```? Have you also checked the other PHP and webserver settings like described here:

https://doc.owncloud.org/server/8.0/admin_manual/configuration_files/big_file_upload_configuration.html

[2015-06-17 10:01] RealRancor commented on #16986
@gladiac
This could also happen if you have enabled the singleusermode in your config.php

[2015-06-17 10:13] gladiac commented on #16986
The cloud is not in maintenance mode nor in singleuser mode. The owncloud.log doesn't log an entry if I try to connect.

Help or explanation for better debugging is much appreciated. You also find me on Freenode

[2015-06-17 10:16] DeepDiver1975 commented on #16987
how long does the upload take? you might run into time out issues.

@LukasReschke "Fehler bei der Anmeldung" :question: any idea? THX

[2015-06-17 10:26] jnweiger commented on #16981
owncloud-8.0.4.12.1.noarch is the build release number from the SLE_11_SP3 repo.
Please remove that repo and try again.

[2015-06-17 10:27] #16981 closed

[2015-06-17 10:45] RealRancor commented on #16986
Hi,

ok then have a look at https://forum.owncloud.org/viewtopic.php?f=17&t=7536 which gives a lot of infos about WebDAV issues.

You could also give some more infos about your environment as asked in the issue template: https://github.com/owncloud/core/blob/master/CONTRIBUTING.md#short-version (Linked in the yellow box when creating a new issue).

Until know we even don't know what webserver you'

[2015-06-17 10:52] CaptionF commented on #16987
upload_max_filesize = 48G
post_max_size = 48G
max_input_time = 3600
max_execution_time = 3600
upload_tmp_dir = /data/tmp/
output_buffering = 4096
session_lifetime=300

[2015-06-17 11:08] PVince81 commented on #16984
Currently the move operation does not use the conflict dialog.

The conflict dialog logic is currently crammed into the upload code. It needs to be extracted first to make it usable by other operations.

[2015-06-17 11:10] PVince81 commented on #16979
The error in the log is normal (it's in debug level), it appears when clients are trying to request authorization type by not sending the headers.

"Server not found" sounds more like a connectivity issue.

[2015-06-17 11:11] PVince81 commented on #16976
This is more of a design issue. Tagging as such.

Might need adding a new column "Path" to show the original path.

@owncloud/designers

[2015-06-17 11:14] RealRancor commented on #16987
Hi,

quoting from the linked documentation above:

Unfortunately i have no idea if this is still valid but could be a starting point to set this accordingly to the available documentation.

[2015-06-17 11:15] PVince81 commented on #16975
Hmm, need to find out whether the two webdav mounts are using the same oc_storage entry or two different ones. It is likely that they are using the same storage entry in the database, so the files would have the same file id.

Whenever the favorites list is displayed, it will show you favorites from each mount point. I think this is expected.

The problem here is more the fact that you are able to

[2015-06-17 11:20] #16956 closed

[2015-06-17 11:27] PVince81 commented on #16947
@affibox are you able to download the file by opening "https://cumulus.intricloud.com/index.php/s/E3Wdqz50D9VE6Z6/download"  directly in the browser ?

Can you post your owncloud.log from the time where you opened that link ?

[2015-06-17 11:28] PVince81 commented on #16947
Are you using a proxy or anything that might filter out this URL format ?

Please provide more info about your setup using the issue template https://raw.github.com/owncloud/core/master/issue_template.md
Thanks.

[2015-06-17 11:32] blizzz commented on #8317
This is what is supposed to do. Just yesterday I tried again with both periods and commas in the DN and it worked fine. However I also have another report who has troubles.

Do run it against OpenLDAP, AD or another server?

[2015-06-17 11:33] PVince81 commented on #16947
Works for me in 8.0.4.
Steps:
1. Mount a S3 bucket under "amazon-s3"
2. Upload a PDF file as "amazon-s3/test.pdf"
3. Share "amazon-s3/test.pdf" with link
4. Open the link
5. Download it

The PDF viewer appears with the file contents and I can also download it using the button on the top right (or append "/download") in the URL.

[2015-06-17 11:34] blizzz commented on #8317
Also, could you paste your LDAP configuration?

[2015-06-17 11:57] Raydiation commented on #16054
We can add empty() to the list

    true === empty("0")

This causes bugs in the filesystem for instance

[2015-06-17 12:17] jnweiger commented on #16723
Package structure of nightly/owncloud is outdated. Fixed.
@Kawohl do not retry before you see 8.1-20150617.1 or later.

[2015-06-17 12:44] LukasReschke commented on #16987
:bomb:

Yes. That would explain the case.

Yes. The session last use time is determined in PHP when the requests first hit the server (not while the upload runs). Thus this is at the beginning of the upload.

Besides increasing that timeout I don't see a lot of quick-win possibilities. Besides not uploading files that take longer to process via web as we don't use chunking there.

[2015-06-17 12:44] stefan-niedermann commented on #16976
What about adding the foldername in Brackets after the file-name in case of duplicate file-names? (light grey, just like extension)
pre_130.txt (Documents)
pre_130.txt (Another Folder)

[2015-06-17 12:46] stefan-niedermann commented on #16976
Or displaying the complete Path on Hover (Bad for mobile - but how often is this a problem that needs to be fixed directly on mobile?)

[2015-06-17 13:02] affibox commented on #16947
Sorry for the late replay. I cut my self with an circular saw yesterday.

Let me get the log for you.

[2015-06-17 13:06] DeepDiver1975 commented on #16949
@jnweiger @andrewsbrown case closed

[2015-06-17 13:07] affibox commented on #16947
Here is a link of a picture. https://cumulus.intricloud.com/index.php/s/3QeQyUnJ6Wf6Mem

[2015-06-17 13:07] #16949 closed

[2015-06-17 13:08] MorrisJobke commented on #16987
Logs are also available: https://s3.owncloud.com/owncloud/index.php/apps/files/?dir=%2FShared%2Fowncloud%2Fsupport%2Fgithub-issues%2Fcore%2F16987

[2015-06-17 13:09] jnweiger commented on #16949
fix will be part of 8.0.5 packages

[2015-06-17 13:10] DeepDiver1975 commented on #16754
@srggavrilov but it is working - right?

[2015-06-17 13:11] affibox commented on #16947
![error](https://cloud.githubusercontent.com/assets/8114543/8207631/c6a0d75e-14d0-11e5-909a-3ba8321af7c6.JPG)

[2015-06-17 13:12] cmonteroluque commented on #16754
@srggavrilov are there any other symptoms besides this error message? We're marking it to have a look in the next maintenance cycle

[2015-06-17 13:13] blizzz commented on #16626
https://github.com/owncloud/core/pull/16627 still needs a tester :)

[2015-06-17 13:14] LukasReschke commented on #16987
Yes, but the logs do not really contain helpful information as far I could tell :smile:

[2015-06-17 13:14] affibox commented on #16947
I keep getting this and I know curls is installed.
![error-curl](https://cloud.githubusercontent.com/assets/8114543/8207709/4c7997e4-14d1-11e5-9288-01f590d824b4.JPG)

[2015-06-17 13:15] cmonteroluque commented on #16626
@davitol @jnfrmarks David can you test this?

[2015-06-17 13:15] LukasReschke commented on #16947
This refers to the PHP cURL module which is then unlikely to be installed. On Debian systems: php5-curl

[2015-06-17 13:15] LukasReschke commented on #16947
(8.2 will have a better check for this and enforces that cURL is available)

[2015-06-17 13:16] jnweiger commented on #16723
Still waiting for the clock-icons to disappear ....

https://build.opensuse.org/project/monitor?utf8=%E2%9C%93&commit=Filter%3A&succeeded=1&failed=1&unresolvable=1&broken=1&blocked=1&dispatching=1&scheduled=1&building=1&finished=1&signing=1&locked=1&deleting=1&pkgname=&repo_SLE_12=1&repo_xUbuntu_15_04=1&arch_i586=1&arch_x86_64=1&project=isv%3AownCloud%3Acommunity%3Anightly&defaults=0

[2015-06-17 13:16] cmonteroluque commented on #16353
Performance improvements with 8.1. Please upgrade

[2015-06-17 13:16] #16353 closed

[2015-06-17 13:18] DeepDiver1975 commented on #16125
@schiesbn any thing to do here? thx

[2015-06-17 13:19] cmonteroluque commented on #16008
close. Configure DB as documented

[2015-06-17 13:19] #16008 closed

[2015-06-17 13:20] MorrisJobke commented on #16987
I just want to reference to them ;) Just in case ...

[2015-06-17 13:20] ghoffart commented on #16008
Eh, if this is closed, then should there be another ticket that asks for a clear help for admins during upgrade? The current message is not that helpful.

[2015-06-17 13:21] blizzz commented on #15931
@sprokhorov sorry,  i don't have a freeIPA here. Did you get it to work meanwhile?

[2015-06-17 13:21] affibox commented on #16947
Debug	core	Adding default user backend WEBDAVAUTH.	2015-06-17T13:13:09+00:00
Debug	lock	FREE: Released locks on /var/www/owncloud/data/files_encryption/pubShare_a544fc0c.privateKey	2015-06-17T13:08:47+00:00
Debug	lock	INFO: Released lock handle Resource id #255 on /var/www/owncloud/data/files_encryption/pubShare_a544fc0c.privateKey	2015-06-17T13:08:47+00:00
Debug	core	Adding default user backend W

[2015-06-17 13:23] dragotin opened #16994 "8.0.4: HTTP DELETE requests result in 500 Internal Server Error suddenly"
Today I deleted a lot of files spread over directories from a sync directory. All went smooth, but suddenly the server began to answer with 500 on all subsequent deletes, until the end. For the last operation the client also received a *Operation canceled*.

owncloud.log gives me
[code]
for every file deletion request (probably).

Server version is 8.0.4, branch *stable8* on commit 5fcab24e592c5f0

[2015-06-17 13:23] Ninos commented on #16008
@cmonteroluque and that's really your solution? It's like saying: Just use firefox as browser, than you don't have such problems. Sometimes a customer cannot change the binary log on his system. I know at least two persons which cannot upgrade to newest owncloud version because of that problem, just because their hoster is not supporting such binary log setting..

[2015-06-17 13:25] cmonteroluque commented on #15743
@kaplandani is there any more feedback, did you try a new migration to oC8 to see if it resolved it?

[2015-06-17 13:25] LukasReschke commented on #16994
:confused:  - do we have this table on stable8?

cc @icewind1991

[2015-06-17 13:26] #15684 closed

[2015-06-17 13:26] CaptionF commented on #16987
Prospect confirms:

increasing the session_lifetime from 300 to a time that covers the upload time from a large file (10 GB) fixed the issue.
I recommended to set it to 3600, so even file with 50 GB will work.

[2015-06-17 13:26] #16987 closed

[2015-06-17 13:29] jancborchardt commented on #16976
On mobile we have little space anyway. I would say this is similar to the federated sharing tipsy tooltip – the full path should simply be shown on hover, above the filename like so:
`folder/subfolder/third-subfolder`
(no beginning slash, no end slash, and _do not_ duplicate the file name!)

[2015-06-17 13:30] DeepDiver1975 commented on #15664
@schiesbn can you please have a look how encryption can impact this? thx

[2015-06-17 13:30] LukasReschke commented on #16994
Ok. This is the WebDAV locking stuff that we killed with master. But why does this error appear? :confused:

[2015-06-17 13:31] RealRancor commented on #16987
Definitely something to document: https://github.com/owncloud/documentation/issues/1223

[2015-06-17 13:32] DeepDiver1975 commented on #15327
@LukasReschke :imp:

[2015-06-17 13:34] DeepDiver1975 commented on #14006
@VicDeo didn't you have a look at a similar issue recently? please have a look - thx

[2015-06-17 13:35] cmonteroluque commented on #13904
Fixed in 8.1

[2015-06-17 13:35] #13904 closed

[2015-06-17 13:36] Kawohl commented on #16723
Ubuntu 15.04 worked!

[2015-06-17 13:36] dragotin commented on #16994
Probably because the implementations in ```lib/private/connector/sabre/locks.php``` are not really concurrency save.

[2015-06-17 13:36] DeepDiver1975 commented on #13765
closed with #15959

[2015-06-17 13:36] #13765 closed

[2015-06-17 13:38] dragotin commented on #16994
but.... why is my table oc_locks deleted? This is *mysterious*

[2015-06-17 13:39] cmonteroluque commented on #13633
@jnfrmarks can you test on 8.1 please?

[2015-06-17 13:39] MorrisJobke commented on #16987
I would say "no". Or just document this as workaround for a known bug. Once we added proper file-chunking in the web UI (planned for 8.2 - #12353). Nothing we should recommend here.

[2015-06-17 13:41] lippoliv commented on #16379
Hey guys, thanks for investigate to this Problem.

I will try to update my OC to OC8 this Weekend, hopefully the problem will also stop to appear for me :) Will comment here :)

[2015-06-17 13:42] RealRancor commented on #16987
IF this file-chunking in the web UI is included in 8.2 the whole chapter needs an overhaul. :-)

[2015-06-17 13:42] DeepDiver1975 commented on #16812
@VicDeo some more sql fun? :speak_no_evil: can you please have a look? thx

[2015-06-17 13:42] cmonteroluque commented on #16812
@bboule can you make sure @VicDeo has access to the Oracle set up please?

[2015-06-17 13:43] jancborchardt commented on #8570
@colmoneill you interested in working on this? ;)

[2015-06-17 13:43] PVince81 commented on #16987
@RealRancor not necessarily. Even if we manage to add file chunking in the web UI, there will always be browsers that need the old approach ...

[2015-06-17 13:44] LukasReschke commented on #15327
Quadratisch. Praktisch. Gut. - Works good enough for me now :see_no_evil:

[2015-06-17 13:44] #15327 closed

[2015-06-17 13:44] blizzz commented on #16588
@cdamken @pako81 can you check whether  #16890 fixes the issue?

[2015-06-17 13:45] RealRancor commented on #16987
and then also the session_lifetime?

[2015-06-17 13:46] cmonteroluque commented on #14189
not planning to fix in 7

[2015-06-17 13:46] #14189 closed

[2015-06-17 13:47] srggavrilov commented on #16754
@DeepDiver1975 I've just checked it again and found out the strange behavior.
I tried to download file in Chrome with X-Sendfile enabled and could resume download. Then I disabled X-Sendfile and could resume download anyway. Additionally it was failed in Firefox in both cases.
I'm not sure if this's somehow related to the original report. Just wonder how to check if it's working?

[2015-06-17 13:48] cmonteroluque commented on #14161
LDAP Wizard issues to be addressed by upgrading to 8

[2015-06-17 13:48] #14161 closed

[2015-06-17 13:49] cmonteroluque commented on #13957
@gig13 please test so we can determine next steps

[2015-06-17 13:50] #13883 closed

[2015-06-17 13:51] #13799 closed

[2015-06-17 13:51] DeepDiver1975 commented on #13799
please upgrade - thx

[2015-06-17 13:52] #12035 closed

[2015-06-17 13:53] DeepDiver1975 commented on #12035
please continue discussion in owncloud/enterprise#525.

[2015-06-17 13:55] DeepDiver1975 commented on #11584
do you guys still observe this issue? thx

[2015-06-17 14:05] gladiac commented on #16986
It worked before the upgrade with owncloud 7.0.6 it stopped with 8.0.4, so it can't be a configuration issue of the webserver. However the server running is:

apache2-2.4.10-22.1.x86_64
php5-5.6.1-27.1.x86_64

Also as I told earlier a GET request works but not a PROPFIND or OPTIONS ...

[2015-06-17 14:06] gladiac commented on #16986
caldav and carddav are working, so it is only an issue of the file serving part ...

[2015-06-17 14:08] LukasReschke commented on #16986
@gladiac Any way to get me a non-administrative test account on the instance? THX. (you can find my user name in my profile)

Alternatively: Do you use external storage? If so: Is one of them down?

[2015-06-17 14:09] gladiac commented on #16986
Lukas, there is no external storage. I'm happy to give you an account. Are you on freenode?

[2015-06-17 14:10] VicDeo commented on #14006
@DeepDiver1975
yes, `Base table or view already exists` for custom prefixes is already known
I was a slowpoke in this case and just tested an existing solution.

Fixed for master and stable8:
master https://github.com/owncloud/core/pull/14660
stable8 https://github.com/owncloud/core/pull/16421
Closing as a duplicate

[2015-06-17 14:20] RealRancor commented on #16986
@gladiac

Exactly such infos are really useful in the initial post when creating such issues. :-)

[2015-06-17 14:20] gladiac commented on #16986
The issue was that the config directory was not writeable by the server.

As I was logged it the information that everything was working is cached in the session so I didn't get the error message that the config directory is not writeable. Logging out would show it ...

[2015-06-17 14:20] #16986 closed

[2015-06-17 14:21] dwt commented on #14754
Well, I’m doing software for quite some time now, and I have to say, OC is only the second project I found that had such a finely detailed differentiation. If you want, I’d welcome you to do battle with the homebrew guys, they think update means, upgrading the package manager, while upgrade means updating individual packages. Or the other way around.

/me just shakes hishead and tries to work with

[2015-06-17 14:31] VicDeo commented on #16812
Arrrggghhh.
I like it, thank you :santa:

[2015-06-17 14:35] LukasReschke commented on #16994
Crazy assumption: Did you switch from master to stable8 without a new DB? In this case the table would be missing and once locking is used everything goes :boom:

[2015-06-17 14:54] DeepDiver1975 commented on #16008
We cannot come up in the release cycle of oc8 with a different approach to ensure you will not loose your data.
For the development cycle we will invest some more brain power to address this issue for a much broader installation base.

You are free to remove that single line as described above to remove the explicit setting of that isolation level.

[2015-06-17 14:59] PVince81 commented on #16983
Now I also realize that this exception is not being translated either, but will be shown as is in the UI.

If we want a proper translated message, this means again catching the exception explicitly everywhere (all ajax code paths) and translating it when returning the error message to the client.

[2015-06-17 15:02] Ninos commented on #16008
So removing that line is not really a solution :D I then really hope, you'll fix that in the new oc-majorrelease. There're enough customers which need a fix for that :)

[2015-06-17 15:09] Kawohl commented on #16723
@jnweiger you will hate me now but there is no community-owncloud package available for SLES12

[2015-06-17 15:12] bboule commented on #16812
Sure will send the needed tnsnames.ora and will create the needed tablespace on the DB  working on that now

[2015-06-17 15:27] PVince81 commented on #16983
and this effort will be nullified again once we move the files app to WebDAV

[2015-06-17 15:31] blizz commented on #8317
Please remove me from the CC line.
Brett

     On Wednesday, June 17, 2015 5:34 AM, blizzz <notifications@github.com> wrote:

 Also, could you paste your LDAP configuration? —
Reply to this email directly or view it on GitHub.

[2015-06-17 15:37] PVince81 opened #16997 "File locking and X-Sendfile"
I just realized that with X-Sendfile we won't be able to lock the file during transfer (experimental file locking). This is because X-sendfile just tells the browser where the file is on-disk so it can stream it back to the client after the PHP request finished. This means that there is no way to unlock the file after the transfer.

We might then want to disable X-Sendfile when locking is enabled.

[2015-06-17 15:44] PVince81 opened #16998 "Cannot browse web UI, locked, during concurrent upload"
### Steps
1. Enable exp file locking with redis
2. Using cadaver, PUT a file "bacon.txt" in the root
3. Add `sleep(30)` here https://github.com/owncloud/core/blob/master/lib/private/connector/sabre/file.php#L205 before the final rename after upload
4. PUT the file "bacon.txt" again
5. Try browsing the root folder in the web UI during the upload

### Expected result
Root is browseable

### Actual r

[2015-06-17 15:47] PVince81 commented on #16998
Regression introduced by the scanner PR regarding locking: https://github.com/owncloud/core/pull/16729#event-332998744

[2015-06-17 15:48] schiesbn commented on #15664
I will have a look at it

[2015-06-17 15:51] jorin-vogel commented on #15184
Also had this issue (on [Uberspace](https://uberspace.de/)). The fix worked. Thanks!
Is there any other way to fix this instead of changing the code?

[2015-06-17 15:52] schiesbn commented on #15664
btw, the readme from the news app state that they don't support server side encryption: https://github.com/owncloud/news/blob/master/README.md

Don't know why and doesn't really make sense to me. Anyhow, I will check if I can reproduce it and if it is something we can/should fix on our side.

[2015-06-17 16:00] RealRancor commented on #15184
@jorin-vogel
OC 8.1 will ship a workaround for such systems missing the intermediate cert:

https://github.com/owncloud/core/wiki/ownCloud-8.1-Features

[2015-06-17 16:15] icewind1991 commented on #16998
Not to strong, it's locked since it can't scan the newly created file.

What is the exact expected behavior? having the root folder without the new file in it?

We could catch the locked exception in the cache watcher and return the existing (slightly outdated) cache data of the folder.

[2015-06-17 16:19] davitol commented on #16626
The race condition is solved, but I can't get the field primaryGroupID in my result filter in the Users filter tab . :sob: Maybe there's something wrong with my configuration

[2015-06-17 16:35] jorin-vogel commented on #15184
@RealRancor thanks for the quick feedback :wink:

[2015-06-17 16:37] fleish commented on #8317
@blizzz are you saying OC is supposed to sync with LDAP or are you referring to periods in usernames? for clarity, the periods in usernames issue hasn't been observed in a long time now. I think it was probably user error being masked as something else.

We are using OpenLDAP. Configuration below:
+------------------------------+---------------------------------------------+
| Configuration

[2015-06-17 16:42] amaxcz opened #16999 "(Vulnerable) [7.1/debian] Filename with spaces and russian letters gives 404 and isn't accessible at all"
trying open file (russian name with spaces)
its gives me 404

"GET /index.php/apps/files/ajax/download.php?dir=%2FOLD%2Fbigone%2Fpublic&files=2011.06.01%20%D0%9E%D1%82%D0%BA%D1%80%D1%8B%D1%82%D0%B8%D0%B5%20%D0%BE%D1%84%D0%B8%D1%81%D0%B0%20%D0%BD%D0%B0%20%D0%A1%D1%83%D1%89%D1%91%D0%B2%D1%81%D0%BA%D0%BE%D0%BC%20%D0%B2%D0%B0%D0%BB%D1%83.mp4 HTTP/1.1" 404

looking at /var/www/owncloud/apps/files/ajax/

[2015-06-17 16:53] RealRancor commented on #14754
I don't think that it makes much sense to discuss this in here. Fact is this is not an oC terminology and used in a lot of other software projects.

[2015-06-17 17:19] jnfrmarks opened #17000 "config.php refers to mssql as a supported db"
### Steps to reproduce

1. Install 8.1
2. open initial config.php

### Expected behaviour

No reference to mssql as a supported DB

### Actual behaviour

mssql is identified as a supported DB:

[code]

### Server Host info:

Ubuntu 14.04
PHP 5.5.9

### Server configuration:

ownCloud Enterprise Edition 8.1 beta 2 (daily) Build:2015-06-15T03:10:33+00:00 fe9b28a800514315eba17ac5da84b8b93abd9ffc

See

[2015-06-17 17:20] LukasReschke commented on #17000
Is fixed.

[2015-06-17 17:22] jnfrmarks commented on #17000
Is it removed from ee.config.php too?

[2015-06-17 17:22] LukasReschke commented on #17000
https://github.com/owncloud/enterprise/pull/680 - might need a merge and backport to stable8. Don't know how building works.

[2015-06-17 17:50] schiesbn commented on #15664
The PR above should fix it... @efelon @psych0d0g maybe you can give it a try and report back if it solves the issue for you? Thanks!

[2015-06-17 17:53] PVince81 commented on #16998
Hmmm good point.
On the one hand I'd say show the file but downloading it fails because of the lock.
But then if we don't know how big it is, what size do we show ? 0 ?

Not showing it might be fine too. But beware of overwrites. Might be easier to always show it.

[2015-06-17 17:55] RealRancor commented on #17000
CE is already merged: https://github.com/owncloud/core/pull/16978

AFAIK the rebuild of the documentation needs to be done manually.

[2015-06-17 17:59] blizz commented on #8317
Am on the CC line.  Do I need to log into github to unsubscribe?  Please know that I have never subscribed to any of these hundreds of messages that are often filling up my inbox and notifying my cell.
Brett

fleishToowncloud/coreCCblizzToday at 10:37 AM@blizzz are you saying OC is supposed to sync with LDAP or are you referring to periods in usernames? for clarity, the periods in usernames issue

[2015-06-17 18:06] LukasReschke commented on #8317
@blizz

![2015-06-17_20-06-09](https://cloud.githubusercontent.com/assets/878997/8214843/55f2f760-152c-11e5-9aa4-0c3654a0ecd0.png)

[2015-06-17 18:39] manuelVo opened #17002 "Usernames are case sensitive in federated sharing"
### Steps to reproduce
1. Create user with uppercase letters (e.g. USERNAME)
2. From another owncloud share with this user but write the username in lowercase letters (e.g. username@example.org)

### Expected behaviour
The share should be created successfully

### Actual behaviour
The share won't appear in the target installation. However the folder is displayed as shared on the sharing installati

[2015-06-17 18:47] jnfrmarks commented on #14507
@gig13 @cmonteroluque

I tested with amazon s3 , server 8.1, and client 1.8.2

Test was:

1. create external storage
2. upload file to S3 outside of oC
3. sync using owncloudcmd

File uploaded in step 2 showed up in step 3.

If this is not the right test case, can someone please put the test steps in this issue?

[2015-06-17 19:01] icewind1991 commented on #16998
Wont happen due to locking

[2015-06-17 19:03] jnfrmarks commented on #16482
@cmonteroluque @gig13

I"m not sure what the test case is here.  Can someone please put the steps in here?  Thanks!

[2015-06-17 19:09] jnfrmarks commented on #13633
fix validated with ownCloud Enterprise Edition 8.1 beta 2 (daily) Build:2015-06-16T03:11:45+00:00 e9d11a65e0747f241fe5488797bbed4c84d6025a

[2015-06-17 19:09] #13633 closed

[2015-06-17 19:29] LukasReschke opened #17003 "Fix experimental tag for cloned and disabled apps"
(do a lookup at server if ocsid is provided)

[2015-06-17 19:38] VicDeo commented on #16812
er... I wonder whether it is possible to install OC6 on Oracle....

[code]

[2015-06-17 19:44] LukasReschke commented on #16812
@VicDeo Only checkout core, calendar and Co. are completely unsupported and will go :boom:

[2015-06-17 20:18] DeepDiver1975 commented on #16997
As soon as we did migrate the files app to webdav this will be obsolete by itself as sabre does not support xsendfile.

The only remaining question then is if we want to bring back xsendfile then at all.

[2015-06-17 20:43] LukasReschke commented on #17000
Yup. @carlaschroder wrote about how it works :)

http://carlaschroder.com/auto-generate-doc-page/

[2015-06-17 21:12] cmonteroluque commented on #16626
@davitol even with @PVince81 's workaround above?

[2015-06-17 21:20] #14006 closed

[2015-06-17 22:45] cmonteroluque commented on #16584
@PVince81 is this ready for testing with the new updates in place?

[2015-06-18 02:43] ynott commented on #16960
This problem has also happened in  'getPath' is "" string.
https://github.com/owncloud/core/blob/master/apps/files_sharing/lib/controllers/sharecontroller.php#L256

I will make another issue ticket.

[2015-06-18 03:13] ynott opened #17004 "Download user's directory&files as zip while missing fileid is called by URLlink."
### Steps to reproduce
1. external storage(S3,CIFS Server,etc) mount to ownCloud.
2. make a url link for sharing.
3. shutdown the external storage server.
4. run the file:scan.
5. boot the external stoarge server.
6. run the file:scan again ( lost fileid from Database! this fileid is associated shared URL link.)
7. access the url link and click download button.
8. user's all files,directory are do

[2015-06-18 03:14] ynott commented on #16960
add another issue ticket.
Download user's directory&files as zip while missing fileid is called by URLlink.
https://github.com/owncloud/core/issues/17004

[2015-06-18 03:15] ynott commented on #17004
Similar problem.
Download directory as zip while an inner file is being overwritten causes the download to be corrupted
https://github.com/owncloud/core/issues/16960

[2015-06-18 03:16] ynott commented on #17004
Sorry, missing close.
reopened.

[2015-06-18 04:42] seidelh commented on #14742
is already fixed in 8.0.4 -- needs manual editing config.php add add these content:
'host' => '/home/'.$_SERVER['USER'].'/.redissock', // can also be an other unix domain socket: '/tmp/redis.sock'
'port' => 0,
'timeout' => 0.0
be sure it's inside your leading array( and trailing ); ... be also sure por is 0 on a unix socket ... and be sure u know and replace where is your redissocket in the unix s

[2015-06-18 04:46] ynott commented on #17004
https://github.com/owncloud/core/blob/master/apps/files_sharing/lib/controllers/sharecontroller.php#L258

If self::getPath($token) has returned a string ""
$originalSharePath = "";
and then go through to
https://github.com/owncloud/core/blob/master/apps/files_sharing/lib/controllers/sharecontroller.php#L298
All user's files and directory download.

[2015-06-18 06:11] RealRancor commented on #14742
Hi,

this is possible since older versions:

https://github.com/owncloud/core/blob/v8.0.0/config/config.sample.php#L793

The issue here is about the problem that oC is using redis without a configuration and without the knowledge of the admin.

[2015-06-18 06:30] pierrejochem opened #17005 "Proposal: Different data folders user or group related"
My idea is to have different data folder locations (mount points) which can be defined directly in the user profile or set via group settings.

A little bit like a distributed file system.

The background is that a company with affiliates in different countries can store their data locally but have all the same webserver entry point for the clients.

From a regulatory point of view this is a featu

[2015-06-18 06:54] LukasReschke commented on #17004
Are you on 8.0.3? - If not: Update.

[2015-06-18 07:29] RealRancor commented on #16997
Not yet: https://github.com/fruux/sabre-dav/issues/120 :)

[2015-06-18 07:43] MorrisJobke commented on #16626
@davitol Retest with #16456 ...It hopefully now should work for you :)

[2015-06-18 07:51] dragotin commented on #16994
hmm, not sure, but possible. What should we do? Close?

[2015-06-18 08:12] PVince81 commented on #16584
Unlikely. There are still issues with scanner locking at the moment which seem quite difficult to solve, see https://github.com/owncloud/core/pull/16963

[2015-06-18 08:12] flying-squirrel opened #17007 "Update doesn't start -- only message to reload page"
Hello! I have a little problem with the update to OwnCloud 8.0.4 (from 8.0.3). I have some web space at a German hoster where my OC is located. I started the update process in the Update Center inside the OC admin page. First everything started fine. It made a backup of OC. Afterwards the update process took me to this page where I hit "Aktualisierung starten" (Start update).
![screenshot - 18 06

[2015-06-18 08:13] PVince81 commented on #17004
I guess this ticket is more about error handling for zip files.
When building zip files, if something goes wrong in the middle then one would get a corrupt file, or incomplete zip files.

This might not be solvable as files are streamed into the zip file on the fly, unless we can have some kind of integrity check before that. (ex: can file be decrypted in case of encryption ? is file properly read

[2015-06-18 08:14] MorrisJobke commented on #17002
ref #13716

[2015-06-18 08:22] PVince81 commented on #16859
Agreed, closing

[2015-06-18 08:22] #16859 closed

[2015-06-18 08:23] LukasReschke commented on #17007
Anything in owncloud.log? Does it help if you try the update from an "incognito" window?

[2015-06-18 08:32] MorrisJobke commented on #16847
@nickvergessen @jnfrmarks Pong :P

[2015-06-18 08:33] MorrisJobke commented on #16173
Number was removed because of performance reasons ;)

[2015-06-18 08:33] MorrisJobke commented on #14507
@gig13 Please verify that this is solved.

[2015-06-18 08:37] nickvergessen commented on #16054
`empty(array())` is valid and the fastest way to check this. Strings might be another issue, but dont just forbid `empty()`

[2015-06-18 08:41] nickvergessen commented on #16983
I'd say not translating is okay for now. Translators would still need to update their translations within the next days to get it in the package, so ...

[2015-06-18 08:48] davitol commented on #16626
Works for me in 8.1 RC1--> "version":"8.1.0.7","versionstring":"8.1 RC1","edition" for example, but not in stable8-backport-13740-and-15606

[2015-06-18 08:52] DeepDiver1975 commented on #16983
won't fix then?

[2015-06-18 08:52] #16983 closed

[2015-06-18 09:11] flying-squirrel commented on #17007
Dear Lukas,
the incognito window didn't help. A little notice to the errors in the logfile. I know about the two errors before the update (calendar app and tempmanager). I was told there are fixes on the way. But there is a new error. It is logged several times. Sometimes every few minutes, sometimes every few hours and sometimes in the middle of the night (where I definitely didn't try to update)

[2015-06-18 09:12] PVince81 commented on #11804
@icewind1991 @DeepDiver1975 how about "short waiting time when acquiring before abort" ?
Currently it seems to directly acquire a lock or fail directly.

In the files_locking app we had a usleep().
But anyway, this is more about tweaking locking performance.

[2015-06-18 09:14] PVince81 commented on #14106
https://github.com/owncloud/core/pull/12546 seems to have issues, so unlikely to be finished for 8.1.

Defer to 8.2 ?

[2015-06-18 09:14] PVince81 commented on #14106
issues as in "API-breaking issues" and might need a full rethink.

[2015-06-18 09:15] PVince81 commented on #13391
Work in progress here https://github.com/owncloud/core/pull/16963, searching for alternative approaches to lock the cache/scanner

[2015-06-18 09:17] PVince81 commented on #15858
Is this OC 8.0 only ? Anything that can be backported from 8.1 ?

[2015-06-18 09:18] PVince81 commented on #16028
Please try again with 8.0.4 or 8.1.
A similar issue has been fixed there.

[2015-06-18 09:21] PVince81 commented on #16664
I'll try and go through the list again and raise separate tickets.

But before I do we need to fix the regressions: https://github.com/owncloud/core/issues/16998
and also https://github.com/owncloud/core/pull/16963 which has a high risk of influencing a lot of the code paths, which means that retesting only makes sense once that one is finished.

[2015-06-18 09:24] oparoz commented on #14106
No, no, no, it's the mobile clients who have issues and don't check what they're receiving ;). This could one day play tricks on them, but I'm going to be nice and modify the PR in order to please every one.

[2015-06-18 09:35] georgehrke commented on #14106
@oparoz Do you want to add the empty space around the actual preview?

[2015-06-18 09:38] LukasReschke commented on #17007
First error: Remove the apps from the apps folder and replace them with the new versions from the appstore.

Second error: Change that setting in the php.ini - this is a very annoying PHP5.6 behaviour that shouldn't break anything though.

[2015-06-18 09:40] oparoz commented on #14106
Around the mime icon, yes, as a stop-gap measure. The only clients which will get them are the mobile clients.

[2015-06-18 09:47] paoloB132 commented on #16654
Blizzz,

let me inform you that I've made a new clean install on rhel 7.1. and the problem is still present with owncloud 8.0.4.

I've installed on a new rhel 7.1, the owncloud present on epel, that is owncloud-7.0.5-2.el7.noarch , really  AD starts working.

Regards,
Paolo.

[2015-06-18 10:02] jnweiger commented on #16723
No, no, John, all the blame goes to openSUSE.org for not publishing our packages.

[2015-06-18 10:09] nickvergessen commented on #15858
No, I somehow was in the wrong milestone-setting-mind from other projects.

Affects both 8.1 and 8.0

[2015-06-18 10:12] PVince81 commented on #16701
Download case here https://github.com/owncloud/core/pull/17009

[2015-06-18 10:33] PVince81 commented on #16960
Steps for the implementation:
- [ ] write unit tests for the zip code path (if even possible).
- [ ] refactor zip download handling, splitting from the single file would be nicer
- [ ] add the locking code

[2015-06-18 10:34] patrick1990 opened #17010 "External folders are not sharable with change or delete permissions"
<h4>How to reproduce:</h4>
1) Attach an external storage to the Owncloud of user1 named folderA (in my case I did this with the admin user, not with the personal external storage feature and I used local external folders).
2) Share folderA to user2. Owncloud doesn't show you the checkboxes to allow user2 to change or delete files in folderA. It just gives you the option to permit creation of files

[2015-06-18 10:44] dhuyvetter opened #17011 "An exception occurred while executing ' DELETE FROM `oc_lucene_status`"
I'm trying to update my ownCloud to version 8.0.4, I had trouble with my install, showing an error concerning config folder not being writeable, even though it had been running fine for a while. So I downloaded and unpacked the latest version, put that in my web root, changed the data folder to a separate directory and updated my config file accordingly.

Now when I run the update I get the error

[2015-06-18 10:46] flying-squirrel commented on #17007
I added the line to the php.ini. Also I updated the apps, but nothing changed. Now I even deleted the 3rd-party apps from the app folger (calendar and contacts).

There is still no update happening. Can you please re-open the issue?

[2015-06-18 10:50] DeepDiver1975 commented on #17011
duplicate of #16008

[2015-06-18 10:50] #17011 closed

[2015-06-18 10:51] #16588 closed

[2015-06-18 10:52] LukasReschke commented on #17007
The same errors do appear? That is unlikely. Can you please report the error log?

Also:
[code]

Do you have write permissions to the tmp folder?

[2015-06-18 11:05] RealRancor commented on #17011
Ref to the documentation part:

https://doc.owncloud.org/server/8.0/admin_manual/maintenance/upgrade.html#troubleshooting

[2015-06-18 11:05] DeepDiver1975 commented on #16960
This is a known issue from the very first day when zip download was introduced - not regression - nothing we can do short hand -> 8.2

[2015-06-18 11:13] flying-squirrel commented on #17007
No, not the same errors do appear. There is no new entry in the log. Since I started the update process, there was only one error (the one with the notion that I should add the line in the php.ini).

I added that line, and now there are no more new entries in the log.

But still: when I go to my OwnCloud page and click on "Start Update" I get to the page where it says "Please reload site" (see my

[2015-06-18 11:15] LukasReschke commented on #17007
Mhm. Can you get me the link to your instance via mail? - I will then take a look what might fail there from the web interface. You can find my mail address in my profile. Thanks a lot!

(regarding the error, this is due to https://github.com/owncloud/core/issues/13592)

[2015-06-18 11:16] wdenx opened #17012 "Use Amazon Cloud Drive as external storage"
It would be nice if we could use Amazon Cloud Drive (ACD) as external storage,
for obvious reasons ideally with automatic encryption of the data.
ACD looks interesting as it offers really cheap storage (_unlimited_ storage for < $60 / year).
Note that ACD is not compatible with S3, it uses a different API.

Code to access this API exists (see for example https://github.com/yadayada/acd_cli )

Than

[2015-06-18 11:16] MorrisJobke commented on #16588
@cdamken I asked for a backport to stable7 and stable8

[2015-06-18 11:18] blizzz commented on #16654
In OC 7 we do not use Patchwork. Which PHP version do you run?

[2015-06-18 11:19] DeepDiver1975 commented on #17012
NOTE: starting with 8.2 we will open up the files_external APIs even more to allow any developer to implement external filesystems as an app - anybody will then be in the position to implement external storages like this.

[2015-06-18 11:25] paoloB132 commented on #16654
[root@testrhel7 kit]# php -v
PHP 5.4.16 (cli) (built: Oct 23 2014 07:19:40)
Copyright (c) 1997-2013 The PHP Group
Zend Engine v2.4.0, Copyright (c) 1998-2013 Zend Technologies

------------------------------------------------------------------------------------------------
Paolo Barbato

Consorzio RFX
corso Stati Uniti,4
35127 Padova - Italy
Network Administrator
phone: +39 049 8295097 fax: +39 04

[2015-06-18 11:26] flying-squirrel commented on #17007
Is this even a core issue? Or should it be moved to OwnCloud updater?

[2015-06-18 11:28] blizzz commented on #16654
are there any PHP warnings or errors in the log?

[2015-06-18 11:37] LukasReschke commented on #17007
This is a core issue. Thanks for sending me the link.

This looks fishy, a CSRF exception is thrown in `ajax/update.php`. That should not happen as far I can see the correct token is sent to the remote server.

Could you upload a file named `test.php` to the server with the following content, place it next to `index.php` of ownCloud please:

[code]

That script won't do any harm except me allowing

[2015-06-18 11:37] PVince81 commented on #16960
Well, the locking is something new, a new situation where the zip file can be corrupted and it might happen more often.

But anyway, I have conflicting views regarding this static Files class which we'll want to kill eventually, so it's best to defer this.

[2015-06-18 11:42] flying-squirrel commented on #17007
I uploaded the file.

With the PHP session, do you mean the "session.save_path"? This is in the OC instance in the folder /tmp. The permissions to this folder are 777.

[2015-06-18 11:56] PVince81 opened #17014 "Webdav endpoint for zip download"
To be consistent with #12353
and to get rid of the ugly https://github.com/owncloud/core/blob/master/lib/private/files.php#L50

Need to discuss whether to use the existing "remote.php/webdav" or have a new special webdav endpoint for bulk downloads.

@DeepDiver1975 @icewind1991

[2015-06-18 11:57] paoloB132 commented on #16654
No errors at all in ssl_errors_log

and nothing specific in ssl_access_log

150.178.3.7 - - [17/Jun/2015:15:54:26 +0200] "POST /owncloud/ HTTP/1.1" 200 11483
150.178.3.7 - - [17/Jun/2015:15:54:26 +0200] "GET /owncloud/index.php/core/js/oc.js?v=affb9603fa428ae312e7fdac3994a8d2 HTTP/1.1" 200 1843
150.178.3.7 - - [17/Jun/2015:15:54:26 +0200] "GET /owncloud/cron.php HTTP/1.1" 200 20

-----------------

[2015-06-18 11:58] tflidd opened #17015 "Reduce size of *.tar.gz by removing documentation"
A user on the forum reported, that the owncloud*.tar.gz files contain a documentation folder in core/doc. Is this really needed? It is about 17 MB in size. Without it I could reduce the archive's size from 24.5 MB to 18.8 MB.
ref: https://forum.owncloud.org/viewtopic.php?f=31&t=28740#p89711

[2015-06-18 12:00] PVince81 opened #17016 "Retry lock acquiring after delay"
Like for the old files_locking app, we might want to add a wait loop + delay when acquiring a lock.
Basically if the lock is not available, wait a few milliseconds and try again.

A bit like https://github.com/owncloud/files_locking/blob/master/lib/lock.php#L105

@icewind1991 @DeepDiver1975 @nickvergessen

[2015-06-18 12:00] PVince81 commented on #11804
raised wait-retry as https://github.com/owncloud/core/issues/17016

[2015-06-18 12:07] LukasReschke commented on #17007
That is strange. The results of test file looks actually consistent, the data is stored within the session.

Can you modify https://github.com/owncloud/core/blob/v8.0.4/lib/private/appframework/http/request.php#L377-L405 in a way that you add below each `$token =` a `var_dump($token)`? - That may help further to debug what causes the issue here. Also do you have access via OCC and can disable any

[2015-06-18 12:13] rjaeckel commented on #16125
As @oparoz already stated it was the same in our case, the keys for the files are already corrupted in the OC7 version... probalby an issue related to wrong password for the keyfiles

[2015-06-18 12:14] flying-squirrel commented on #17007
I modified the file. I hope I did it correct.

Unfortunately, I do not have access via OCC.

[2015-06-18 12:19] dhuyvetter commented on #16008
As I am shared hosting I cannot just change my MySQL settings. I have filed a support question with my hoster and just have to hope that they will want to make the changes just for me.

[2015-06-18 12:20] LukasReschke commented on #17007
Sorry… You need to add a  `;` after the `)`, forget to add that :speak_no_evil:

[2015-06-18 12:22] flying-squirrel commented on #17007
Done!

[2015-06-18 12:36] LukasReschke commented on #17007
Ok. The output does indicate that the `IRequest` class did not have an item with the key `requesttoken`. This indicates that the class is populated in an `appinfo/app.php` without the proper initialization values.

The confusing thing is this would likely to have also shown symptoms before.

To verify that this is the bug in which direction I'd need to add could you modify in `passesCSRFCheck` the

[2015-06-18 12:40] DeepDiver1975 commented on #17015
yes - otherwise we would not have put it there.

To be honest - does it make a difference these days if the package has a size of 25MB or 19MB?

[2015-06-18 12:41] #17015 closed

[2015-06-18 12:41] flying-squirrel commented on #17007
Ok, I changed the lines. I hope it helps.

[2015-06-18 12:42] LukasReschke commented on #17007
Indeed. This is the root cause. Investigating. Stay tuned. Thanks for your collaboration, very much appreciated.

[2015-06-18 12:44] DeepDiver1975 commented on #17014
will be it's own endpoint - I did start with an experimental app called dav.
the root entrypoint will be remote.php/dav
it's children: files, uploads, deltas - and now with zip or comporessed or what so ever

@dragotin FYI

[2015-06-18 12:44] schiesbn commented on #16190
reopened because we still need a small adjustment to the webpage, @jospoortvliet will take care of it as discussed here: https://github.com/owncloud/core/pull/16692#issuecomment-113081588

[2015-06-18 12:49] PVince81 commented on #17014
PR or it didn't happen :wink:

[2015-06-18 12:49] PVince81 commented on #17014
Cool

[2015-06-18 12:59] nickvergessen opened #17018 "Regression with locking since "keep a read lock while scanning a file or folder""
Since 7d72f7d8ce3c15e25382c6121c374de92fe84775 from #16729 the smashbox tests do not work anymore:

[code]

What the test does:
[code]

The exception is thrown in step 6, so when Sharee Two (user in the group the item is shared with) tries to upload (via client, so webdav) his edited version of the file.

[2015-06-18 13:00] nickvergessen commented on #17018
@PVince81 @DeepDiver1975 @icewind1991

[2015-06-18 13:00] PVince81 commented on #16998
This PR fixes it https://github.com/owncloud/core/issues/16963

[2015-06-18 13:01] PVince81 commented on #17018
Possible duplicate of https://github.com/owncloud/core/issues/16998

[2015-06-18 13:02] PVince81 commented on #13391
These two PRs together https://github.com/owncloud/core/issues/17017 and https://github.com/owncloud/core/pull/16963 make the problem disappear (with locking enabled)

[2015-06-18 13:03] PVince81 commented on #17018
Let's first merge https://github.com/owncloud/core/pull/16963 and https://github.com/owncloud/core/pull/17017 and then retry the tests

[2015-06-18 13:05] nickvergessen commented on #17018
#16963 is enought to make tests pass again.
Will retry with both merged as well now

[2015-06-18 13:08] nickvergessen commented on #17018
Merged #17017  as well and it still works (assuming #16963 is already there)

[2015-06-18 13:13] LukasReschke commented on #17007
I was unfortunately not able to reproduce this situation locally using a similar setup. But I have a few suspicions that there went something wrong with the updates in the past.

Before we proceed with may I ask you:

1. How did you perform updates in the past?
2. Do all files equal the one from https://download.owncloud.org/community/owncloud-8.0.4.tar.bz2?

I ask this because especially with the

[2015-06-18 13:14] DeepDiver1975 commented on #17014
The code is on the SSD which was inside my now broken laptop ..... :bomb:

[2015-06-18 13:15] DeepDiver1975 commented on #17014
Anyway - most important is the concept @dragotin and myself discussed last week regarding chunked-upload-ng and delta-sync

[2015-06-18 13:15] LukasReschke commented on #17014
Can confirm. @DeepDiver1975 has now to work with a mobile "Ziegelstein" which is very loud and very heavy. :speak_no_evil:

[2015-06-18 13:15] DeepDiver1975 commented on #17014
@dragotin where are the notes? :hide:

[2015-06-18 13:18] dragotin commented on #17014
@DeepDiver1975 yes, yes, blog is prepared, notes are written.

[2015-06-18 13:23] PVince81 commented on #16829
Ok I think I now see your point about "apps cannot modify the file in post hooks".
On the other hand, apps that want to modify the real file in pre or post hooks should then be ported to use storage wrappers instead.

[2015-06-18 13:24] DeepDiver1975 commented on #17014
![youre-awesome](https://cloud.githubusercontent.com/assets/1005065/8232224/2c6a6840-15ce-11e5-88e8-94d31ca91d80.jpg)

[2015-06-18 13:27] icewind1991 commented on #17014
Push early, push often

[2015-06-18 13:28] DeepDiver1975 commented on #17014
No worries - I have the ssd here - the laptop will return tomorrow - nothing lost - all good ....

[2015-06-18 13:59] PVince81 commented on #11795
I retested with https://github.com/owncloud/core/pull/17017 and https://github.com/owncloud/core/pull/16963 combined and couldn't reproduce any loss.

Either the rename tells me the folder is locked, which means a file operation is pending. Or the client cannot find the target folder since I renamed it.
After the second sync run it properly recovers and all files are still there.

However, it migh

[2015-06-18 14:05] MTRichards commented on #17005
Can you say more about how this works?
For example, how would external storage in different physical locations work?
This might be similar to the "Corporate Share" concept we had where a folder is created and "owned" by the server, rather than by any one user. That way the files and folders are essentially permanent in ownCloud, as people come and go, and has a quota all its own.
Perhaps these two

[2015-06-18 14:14] Raydiation commented on #14209
BTW: @emtie unless you are not using 3rdparty storage like amazon serverside encryption is useless. Everyone with access to your server can decrypt all of your files (see the encryption docs).

[2015-06-18 14:35] PVince81 commented on #16584
Retested with https://github.com/owncloud/core/pull/17017 and https://github.com/owncloud/core/pull/16963 combined and I could not reproduce the issue.

[2015-06-18 14:47] pierrejochem commented on #17005
The Affiliates are connected via VPN (IPSec) and the storages could be local mounted (smb or other storage types which are possible) on the cloud (web) server.

Maybe it is similar to the "Corporated Share" but is there a way to control the quota for this? Can you search for all users in 10 different domains without adding all users via the special share link (url).

I hope that is no brain fuck :

[2015-06-18 14:49] PVince81 opened #17019 "Cannot delete empty folder from SFTP"
### Steps
1. Mount an SFTP external storage to "/sftp"
1. Setup sync client
1. Create a folder "/sftp/emptyfolder"
1. Wait for sync
1. Delete the folder "/sftp/emptyfolder"
1. Wait for sync

### Expected result
Folder deleted

### Actual result
403 Forbidden

[code]

Observed on ownCloud 8.1 git master (7a0917e5b2c25b2d90e503e30a3016dbe06a780c)

[2015-06-18 14:53] karlitschek commented on #16588
Backport is fine with me if @MorrisJobke and @blizzz agree.

[2015-06-18 14:57] PVince81 commented on #17019
Works on stable8 => regression

[2015-06-18 15:00] PVince81 commented on #17019
The folder is deleted properly, but for some reason the `rmdir()` call returns false here https://github.com/owncloud/core/blob/master/lib/private/connector/sabre/directory.php#L238

[2015-06-18 15:06] PVince81 commented on #17019
Looks like SFTP has its own stat cache which is not up to date for this check https://github.com/owncloud/core/blob/master/apps/files_trashbin/lib/trashbin.php#L222

[2015-06-18 15:08] PVince81 commented on #17019
@bantu did phpseclib have a stat cache in the version from stable8 (0.3.6) vs master (0.3.9)

Anyway, there should be a unlink somewhere in the trashbin code which should be propagated to phpseclib, which I expect to also remove the entry from the stat cache.

Let's see what debugging shows.

[2015-06-18 15:13] jnfrmarks commented on #16847
I sent the amazon creds to @nickvergessen

[2015-06-18 15:13] PVince81 commented on #17019
@bantu I debugged into phpseclib (0.3.9 used in master/8.1) and found that here https://github.com/owncloud/3rdparty/blob/master/phpseclib/phpseclib/phpseclib/Net/SFTP.php#L2128 the status is 4 ('NET_SFTP_STATUS_FAILURE') instead of OK, even though the empty folder was properly deleted remotely.

This prevents the stat cache entry to be cleared properly later.

Any idea how to debug this ? Are you

[2015-06-18 15:15] bantu commented on #17019
@PVince81 Indeed, stat cache was introduced in 0.3.7 by https://github.com/phpseclib/phpseclib/commit/e09a6968da704dd26729e369b8f7a2b4a3df1a0a

[2015-06-18 15:18] PVince81 commented on #17019
It seems to work fine if the folder was not empty.

So this issue is only for empty folders.

[2015-06-18 15:19] bantu commented on #17019
The fact that NET_SFTP_STATUS_FAILURE is returned for empty but existing directories is interesting. Feel free to report this to phpseclib.

[2015-06-18 15:24] PVince81 commented on #17019
Raised here https://github.com/phpseclib/phpseclib/issues/706

I'll prepare a workaround

[2015-06-18 15:33] RealRancor commented on #16987
@CaptionF
Just a short question: There is no "session_lifetime" available in PHP 5.5 or 5.6. Have you raised "session.cookie_lifetime" instead?

[2015-06-18 15:43] PVince81 commented on #17019
PR is here https://github.com/owncloud/core/pull/17025

[2015-06-18 16:08] PVince81 opened #17027 "Cannot create empty file on SFTP"
### Steps to reproduce
1. Mount SFTP storage to "/sftp"
2. Setup sync client
3. Wait for sync
4. Create a local empty file "/sftp/empty" (I used `touch`)
5. Wait for sync

### Expected result
Upload success

### Actual result
[code]

### Versions
Observed on ownCloud 8.1 git master (7a0917e5b2c25b2d90e503e30a3016dbe06a780c)

[2015-06-18 16:09] srissel opened #17028 "Log errors after upgradde 7.0.4 -> 8.0.4"
Hello,

I just upgraded from ownCloud 7.0.4 to 8.0.4, using the build in update center.
As described in several blog posts I found, I deactivated the old Calendar and Contacts app, before the actual upgrade.

The upgrade process itself went through without errors.
One thing bothers me after the upgrade:
Each time I open the App manager (.../index.php/settings/apps), two errors are reported into th

[2015-06-18 16:12] PVince81 commented on #17027
It looks like the part file is not being created on the SFTP storage, so the final rename cannot work.

It works fine for non-empty files.

[2015-06-18 16:21] nickvergessen opened #17029 "Move in, Move in overwrite and Move out fail using WebDAV with locking"
https://github.com/owncloud/core/pull/16963#issuecomment-113206603

Test | Result
---- | ------
test_sharePermissions -t=0 (ALL) | :x: move_in, move_in_overwrite and move_out fail
test_sharePermissions -t=1 (READ) | :white_check_mark:
test_sharePermissions -t=2 (READ + CREATE) | :x: move_in
test_sharePermissions -t=3 (READ + UDPATE) | :white_check_mark:
test_sharePermissions -t=4 (READ + DELETE) |

[2015-06-18 16:24] PVince81 commented on #17029
This issue title sounds like a cheat code

[2015-06-18 16:26] schiesbn commented on #16190
- [ ] broken links need to be fixed on https://owncloud.org/federation https://github.com/owncloud/owncloud.org/issues/579

[2015-06-18 16:27] #13391 closed

[2015-06-18 16:27] #16584 closed

[2015-06-18 16:27] #17018 closed

[2015-06-18 16:28] #11795 closed

[2015-06-18 16:29] PVince81 commented on #17027
Also broken on stable8.

I suspect that the phpseclib doesn't create the file remotely until the first block is sent.
We might want to work this around by calling file_put_contents without content instead of fopen.

Strangely it works in the web UI, I'll try and compare the code paths.

[2015-06-18 16:31] RealRancor commented on #17028
Hi,

looks like a duplicate of https://github.com/owncloud/core/issues/16251

[2015-06-18 16:34] PVince81 commented on #16829
PR here https://github.com/owncloud/core/pull/17030

[2015-06-18 16:36] MorrisJobke commented on #13391
@PVince81 @icewind1991 Thanks for this! You all rock :)

[2015-06-18 16:54] RealRancor commented on #16552
Dup of https://github.com/owncloud/core/issues/16720

Seems to be a bug in PHP

[2015-06-18 16:57] RealRancor commented on #13252
Is this related to https://github.com/owncloud/core/issues/16720 ?

[2015-06-18 18:49] pherzing commented on #16654
I had this same problem today, and put this on the OC forums to see if others had the issue. Then I found this thread. Here's what I wrote:

I'm running a new install of OC 8.0.4 on this stack:

CentOS 7 minimal (SELinux disabled, fully patched)
php-fpm 5.4.16
nginx 1.6.3
MariaDB Server 5.5.41

I configured my installation to authenticate against my OpenLDAP server. I got it to correctly count the

[2015-06-18 18:50] MTRichards commented on #13695
And @MorrisJobke , to answer the question, allow reshare is needed. Even if a copy / paste can be made to get around the problem, this would be an act of commission, which requires a user to decide to violate the policy. That step, while technically not secure, provides a legal basis for a resolution after the fact. Thanks for asking.

[2015-06-18 19:03] srissel commented on #17028
@RealRancor
Might be the case, at least it seems related.
But indeed I have successfully enabled 8 apps. So far I did not ran into the behaviour of #16251 ....

At the moment, it's just the two log message, I experience when opening App manager. At least it *seems* to work as expected.

[2015-06-18 19:20] CaptionF opened #17031 "public link upload of large file happens 2x"
### Steps to reproduce
1. create via web interface folder in oC home as a oC user
2. create public link and allow upload of file
3. load large file (10 GB) through the public link upload functionality

### Expected behaviour
Tell us what should happen
the large file should be uploaded 1 time in the respective folder

### Actual behaviour
Tell us what happens instead
the file is uploaded 2x and at

[2015-06-18 19:22] cmonteroluque commented on #16664
thank you @PVince81

[2015-06-18 19:47] PVince81 opened #17032 "Update issue OC 8.1 RC1 openSUSE RPM htaccess version"
Upgraded with zypper update on openSUSE 13.1 x86_64 from ownCloud 8.0.4 RPM package to owncloud-server-8.1.0~RC1-4.1

[code]

Looks like .htaccess is up to date, not sure what is wrong ?

.htaccess:
[code]

version.php:
[code]

@jnweiger @LukasReschke

[2015-06-18 19:48] PVince81 commented on #17032
If I manually run the upgrade afterwards, it works:
[code]

It's almost as if the htaccess file was not updated yet at the time the package ran that command ?

[2015-06-18 19:51] blizzz commented on #16173
Your User Filter is:

[code]

Or in pretty:

[code]

At least there is one bracket to much, i would wonder that it works anyway. Don't you see "Bad search filter (-7)" errors in your log?

[2015-06-18 19:55] LukasReschke commented on #16987
OwnCloud Config :)

[2015-06-18 19:57] blizzz commented on #16173
@davitol your user filter in pretty is

[code]

Which means: all users are listed that are either of objectclass person or user and at the same time member of the group Invitados or Usuarios.

The selected group is a different one. May it be that none of the selected groups members are also member of Invitados or Usuarios?

[2015-06-18 20:06] RealRancor commented on #16987
Arghhhs, and i was wondering why php.net didn't shown up that much infos about this. :see_no_evil:

[2015-06-18 20:10] LukasReschke commented on #16987
I also googled first... And I guess I was involving writing it like years ago :speak_no_evil:

[2015-06-18 20:20] blizzz commented on #16588
Backport to 7: #17034
Backport to 8: #17033

[2015-06-18 20:28] blizzz commented on #16626
Hum, works for me with #16456.

@davitol did to pull again the branch from git?

[2015-06-18 20:39] blizzz commented on #8317
@fleish

ownCloud is getting it's users live form LDAP, unless cache is in effect (10min per default, but yours is set to 5sec. So it's working pretty much online for you). Known users are mapped in the database table. A constraint is that users to be fetched must have the display name attribute set, but we ensured it is in your case.

About periods in usernames I don't know, but they should not b

[2015-06-18 20:50] bboule commented on #16588
@cdamken do you have what you need to move forward here and deliver this to the user?

[2015-06-18 21:00] PVince81 opened #17035 "[8.1 RC1] Non-migrated encryption confuses sync client"
See https://github.com/owncloud/client/issues/3360 which describe weird client behavior when the encryption migration has not been done.

After the upgrade to 8.1 I totally forgot that I needed to do the migration step.
@schiesbn I hope you still intend to find a way to show a message.

We need to:
- [ ] block the sync client in some way to prevent touching files
- [ ] block the sync client during

[2015-06-18 21:02] PVince81 commented on #17035
Also to test:
- [ ] TEST: keep/force syncing before encryption migration was run
- [ ] TEST: keep/force syncing during enc migration
- [ ] TEST: keep/force syncing after enc migration was run, but before the default module is enabled

@jnfrmarks

[2015-06-18 21:03] PVince81 commented on #17035
@schiesbn if I remember well, you said the files would still work but be unencrypted ?
What I observed was that it was delivering the encrypted size instead of unencrypted size, which is what confused the client.

[2015-06-18 21:04] MorrisJobke commented on #16588
We **ONLY** deliver releases.

[2015-06-18 21:06] PVince81 commented on #17035
Ok, after I did the migration on my prod server, it re-uploaded the files again (the ones that were repeatedly uploaded) and told me to logout then relogin. I did that, and then sync worked properly again.

I think we still need to work on the UX here and double check whether moving the keys is atomic.

[2015-06-18 21:10] PVince81 commented on #17035
Note: the reupload case was observed with files I added to the local folder mid-upgrade, so maybe they got in a bad state somehow.

[2015-06-18 21:10] bboule commented on #16588
OK Ill do it... thanks

[2015-06-18 21:16] vidaren opened #17036 "Missing translation of App Categories"
Categories fetched by ocsClient->GetCategories() are not translatable. Only [hard-coded "Enabled" and "Not enabled"](https://github.com/owncloud/core/blob/829f6474ff4cd4e39647bcb5b68b5e5c0fb1b483/settings/controller/appsettingscontroller.php#L124) at the top are translatable in Transifex. This is the Norwegian translation serving as an example:

![owncloud-apps-categories](https://cloud.githubuser

[2015-06-18 21:16] GrahamCobb opened #17037 "Improve error log and response when DTSTART missing from caldav entry"
I had an incorrectly formatted ical VEVENT, which was missing the (mandatory) DTSTART line.  When I tried to PUT that entry into my calendar the server response was HTTP status 500 (Internal Server Error).  Checking the apache error_log I found:

[code]

It would making finding these problems easier if owncloud could return a more useful error message and/or log a more useful error message in the

[2015-06-18 21:19] craigpg commented on #16588
We may need to deliver a patch for 7.0.5 that we can test / validate with the user who reported this ahead of the next maintenance release.  Is #17034 what we need?

[2015-06-18 21:24] RealRancor commented on #17037
Hi,

the calendar app has its own issue tracker located here:

https://github.com/owncloud/calendar/issues

You could re-open there using the issue template provided here:

https://github.com/owncloud/core/blob/master/CONTRIBUTING.md#short-version

[2015-06-18 21:25] jnweiger commented on #17032
@PVince81 strange. Do you have a yast-log snippet from around the error message?

Trying to reproduce: 13.1 owncloud-8.0.4-2.1 -> owncloud-8.1.0~RC1-3.1
<pre>
( 2/21) Installing: owncloud-server-8.1.0~RC1-3.1 .............................................................[done]
Additional rpm output:
owncloud-server: Upgrade starting
owncloud-server}: occ maintenance:mode --on
Maintenance mode enabl

[2015-06-18 21:35] PVince81 commented on #17032
I also had encryption enabled, but I don't think it's related. Unless the upgrade would fail, but the message speaks about htaccess.

y2log doesn't seem to contain anything relevant to owncloud, apart a few lines that check the repository. Nothing about the install phase.

Let me check zypper.log.

[2015-06-18 21:43] PVince81 commented on #17032
Hmm zypper log is not useful either:
[code]

I can't think of any ways how .htaccess could have the wrong value.
After seeing that error message I checked on disk and the version was correct.

Just found this:
[code]

What happens if the "owncloud-server" package is upgraded before "owncloud-config-apache" ?

[2015-06-18 21:47] PVince81 commented on #17032
This is indeed what happened on my env, check out this grepped zypper.log:
[code]

owncloud-server is installed early and owncloud-config-apache much later.

[2015-06-18 22:34] fleish commented on #8317
@blizzz we modified our directory to have an attribute named UUID for each user for OC and other things that require it. when we insert a user into the table, we provide the user's UUID from our LDAP like so:
INSERT INTO oc_ldap_user_mapping VALUES('uid=userfirst.userlast,dc=domain,dc=org','49bda228-6cbf-4f12-a987-49b9ed08f6df','49bda228-6cbf-4f12-a987-49b9ed08f6df');

[2015-06-19 02:04] extide commented on #12893
I am also seeing this issue, it seems to happen when I have any logging settings (like log type or log file) in the config.php -- if I just remove them entirely (so as to use the defaults) it seems to work -- most of the time at least.

[2015-06-19 02:40] ynott commented on #17004
@LukasReschke
I updated to 8.0.4 , this problem did not occur. thanks a lot!
@PVince81
Yes,zip file error occur,  but I focus not to be download.

Thanks for solving my issue.

[2015-06-19 02:40] #17004 closed

[2015-06-19 05:53] paoloB132 commented on #16654
Hi pherzing,

your report confirm what we’ve observed here in a couple of clean test installation.

As Blizzz said, In OC8 they integrate 3rd party “patchwork” library in order to manage utf-8.

We’ve also look somewhat in deep at the code (but we’re are no OC neither patchwork developers) and found a possible conflict of patchwork with CentOS/Rhel 7.x, in particular on how utf-8 is managed at sys

[2015-06-19 06:11] #17037 closed

[2015-06-19 06:29] #16876 closed

[2015-06-19 06:31] DeepDiver1975 commented on #17031
Known issue. This is because of the conflict dialog AFAIK.  This will be fixed with 8.2

[2015-06-19 06:50] nickvergessen opened #17038 "Log entries generated"
I couldn't find out when it happens, but I have a couple of them after running the complete smashbox test suite. So propably when creating a user, sharing a file or uploading/modifying.

Tests still pass, so nothing critical?

[code]

@schiesbn @th3fallen

[2015-06-19 07:16] nickvergessen commented on #17029
[code]

@icewind1991 `$meta = $view->getFileInfo($path);` in line 133 returns false, so of course the method does not exist then.

[2015-06-19 07:48] RealRancor commented on #16987
:grinning:

If its an ownCloud setting which is not included in the default setting them i'm really wondering if we even need to document this. The session_lifetime defaults to 15 days, the 300seconds configured by the OP is probably only an edge-case?

[2015-06-19 08:17] osos opened #17039 "Sabre/dav - Upgrade to version 3.x"
Next Sabre/Dav has been released.

To ensure support from Sabre, it should be upgraded: http://sabre.io/blog/2015/sabredav-3-release/

[2015-06-19 08:19] PVince81 commented on #17035
I'll see if I manage to reproduce this consistently. (the case above was on my productive server, not willing to roll it back)

[2015-06-19 08:21] schiesbn commented on #13695
Is this really the case? I just wonder. I would assume that a
legally effective policy needs to be written down somewhere and be
signed by the employee (or accepted in any other legally binding way),
e.g. a condition in your work contract which state that you are not
allowed to share confidential information.

For example if the owner of a document forget to remove the "can share"
permission for a

[2015-06-19 08:35] PVince81 commented on #17039
Thanks for the reminder, let's have a look for 8.2.

[2015-06-19 08:36] PVince81 commented on #17031
Duplicate of https://github.com/owncloud/core/issues/8664

@DeepDiver1975 how will it be fixed ? I'm not aware of any good solution yet.

[2015-06-19 08:40] LukasReschke commented on #17036
@karlitschek Do these category name not change anymore? – If so we can add some L10N magic but that will obviously break as soon as a category gets renamed or added :)

[2015-06-19 08:46] DeepDiver1975 commented on #17031
we will overhault that dialog handling as soon as we move to webdav. We basically can perform the conflict resolution on the client side by getting meta information about the existing file using PROPFIND

[2015-06-19 08:49] CaptionF commented on #10901
@MTRichards @bboule
very large prospect has the same requirement:
as an example, they provided a screen shot of a simple configuration for public link passwords

![link-pwd-policy](https://cloud.githubusercontent.com/assets/10551219/8250065/9e18d740-1670-11e5-9ff6-7383da621645.jpg)

[2015-06-19 08:49] PVince81 commented on #17035
Steps to reproduce.
1. Setup stable8
2. Enable encryption, log out then log in
3. Setup sync client, let it sync
4. Create two small non-empty text files locally "one.txt" and "two.txt"
5. Wait for sync
6. Upgrade to master / 8.1 (leave the client running)
7. Edit "one.txt" locally, wait for sync
8. Edit "two.txt" locally, wait for sync
9. With cadaver, do a propget on one.txt:
[code]

The returne

[2015-06-19 08:51] davitol commented on #16173
Tested with "version":"8.1.0.7","versionstring":"8.1 RC1","edition":"Enterprise" Fixed :+1:
It is need to test in previous versions

[2015-06-19 08:53] SergioBertolinSG commented on #16173
Tested in oc 7.0.5, it has the bug as well. Worthy/feasible to backport the fix?

[2015-06-19 08:58] PVince81 commented on #10956
This was solved differently with encryption 2.0: encryption can only be enabled once in the admin page.

Close ? Or is there anything else from this ticket we want to implement ?

[2015-06-19 09:00] MorrisJobke commented on #16173
Is it also broken in stable8?

[2015-06-19 09:03] PVince81 commented on #17035
Raised https://github.com/owncloud/documentation/issues/1231 to update the doc to tell admins to use single user mode to avoid bogus sync.

I still think we need to try and block file access during the transitional phase.
I don't think it's desirable to have files stored unencrypted in case of upload during the transitional phase.

@DeepDiver1975 @schiesbn @MTRichards

[2015-06-19 09:03] davitol commented on #16173
Nop, in stable8 it works fine

[2015-06-19 09:06] blizzz commented on #16173
No plans to backport anything to 7 (fix, if there is one, is unknown).

Glad it works now in 8.1.

[2015-06-19 09:06] #16173 closed

[2015-06-19 09:07] DeepDiver1975 commented on #17035
yes - this is necessary.

@schiesbn how can we reliably identify that migration is not yet finished?

[2015-06-19 09:10] DeepDiver1975 commented on #17032
@LukasReschke

[2015-06-19 09:12] PVince81 commented on #17032
@DeepDiver1975 nope. It's an issue with package update order.

[2015-06-19 09:12] DeepDiver1975 commented on #10901
simple? LOL @jancborchardt will love this "easyness"

[2015-06-19 09:13] DeepDiver1975 commented on #17032
ok

[2015-06-19 09:15] blizzz commented on #16654
@paoloB132 @pherzing  would it be possibly to isolate the error, test with latest [Patchwork](https://github.com/tchwork/utf8) and if reproducible open an [issue there](https://github.com/tchwork/utf8/issues)?

[2015-06-19 09:15] DeepDiver1975 commented on #10956
I guess we are good with this. THX

[2015-06-19 09:15] #10956 closed

[2015-06-19 09:29] SergioBertolinSG commented on #16125
I've tested this, first without active directory there is no problem at all with upgrading from 7 to 8.0.X using encryption.

But in the same situation with an active directory enabled and a folder shared to a active directory group of users I got a mysql exception:

Turned on maintenance mode
An exception occurred while executing 'CREATE INDEX 9e69e7zfw5ie1 ON share_5zbksy7wuomzf (`item_type`, `s

[2015-06-19 09:31] jnweiger commented on #17032
Confirmed. The issue is that the new .htaccess came in after the occ:upgrade  -- at least
I can reproduce the issue that way.

.htaccess looks like part of apache config, but in our case, it is not. It belongs to the server. Moving the file from owncloud-config-apache to owncloud-server should fix the issue. DEB packages already have it that way.

[2015-06-19 09:31] blizzz commented on #16654
@jnfrmarks could you try to reproduce it with RHEL/CentOS 7?

[2015-06-19 09:33] PVince81 commented on #5873
We might want to go with the alternative approach: right side bar https://github.com/owncloud/core/issues/16308

Also see https://github.com/owncloud/core/issues/3224

[2015-06-19 09:35] beemoon commented on #12498
hello
I m looking for a step by step howto to connect OC8 with a DFS server. OC is on a Debian 8 server and authenticate userss with AD 2008

[2015-06-19 09:35] butonic commented on #13230
AFAICT a workaround would be to not calculate the group member count. Try this patch which was proposed by @blizzz in a different context:
[code]

[2015-06-19 09:42] schiesbn commented on #17035
The problem is that the old app is no longer there and the new one is not yet activated. We could try to hack this into the storage wrapper, because this one runs all the time. But this is really a hack because it is specifically for this one migration case and the next time someone replaces the "encryptionModule 2000" with the "encryptionModule3000" he has the same problem.

We could also add her

[2015-06-19 09:42] blizzz commented on #13230
This also depends on the LDAP structure that we cannot know or guess. Nevertheless, the admin can tune a few things herself: http://arthur-schiwon.de/5-performance-tips-using-ownclouds-ldap-backend

[2015-06-19 09:44] PVince81 commented on #17035
Is a migration from "module A" to "module B" even possible ? I thought that once a module is enabled it cannot be disabled any more.

Anyway, how about just blocking access to files that have "encryption === 1" in the DB as long as no encryption app is enabled ?

[2015-06-19 09:45] PVince81 commented on #17035
because accessing/overwriting an encrypted file when no encryption code is there to encrypt/decrypt doesn't make sense anyway. So throw 403 "No encryption module enabled" or something.

[2015-06-19 09:46] DeepDiver1975 commented on #17035
should be a 50x error because the error is in the server  - not the client

[2015-06-19 09:46] paoloB132 commented on #16654
Problem is present also with latest 1.2.2

…I’ll try to report the issue to patchwork devs

------------------------------------------------------------------------------------------------
Paolo Barbato

Consorzio RFX
corso Stati Uniti,4
35127 Padova - Italy
Network Administrator
phone: +39 049 8295097 fax: +39 049 8700718
---------------------------------------------------------------------------

[2015-06-19 09:47] paoloB132 commented on #16654
Yes it happens both on redhat 7.1 and centos

------------------------------------------------------------------------------------------------
Paolo Barbato

Consorzio RFX
corso Stati Uniti,4
35127 Padova - Italy
Network Administrator
phone: +39 049 8295097 fax: +39 049 8700718
------------------------------------------------------------------------------------------------

[2015-06-19 09:49] schiesbn commented on #17035
You can't disable the the encryption in core but the encryption modules are just apps you can enable/disable in the apps menu.

We already block it for read operations. Until now we allowed the write operation because this way you don't lose you data, we just replace the encrypted one with a unencrypted one if encryption was disabled. But now that we no longer allow to disable encryption maybe it

[2015-06-19 09:51] PVince81 commented on #17035
Cool, thanks.

[2015-06-19 09:53] PVince81 commented on #17035
We might also need to make it return the correct size on PROPFIND. Else the sync client might try and reupload the same file over and over again, believing that it has changed because of the size mismatch.

So using a similar logic, if file has "encrypted" set to 1, but no encryption module is enabled, then return the unencrypted_size if not 0, else size.

[2015-06-19 09:55] blizzz commented on #16654
Thank you @paoloB132 !

[2015-06-19 09:59] flying-squirrel commented on #17007
Lukas, thanks for all the work you are putting into this problem! I really appreciate it. Right now I am deleting all the files from the OwnCloud instance (except the data and config folder). Afterwards I will upload everything from the linked tar file.

I had a problem with the OwnCloud Update a few weeks ago. I didn't update my OwnCloud in a long time and skipped several releases. I wanted to ma

[2015-06-19 10:06] blizzz commented on #8317
Does the attribute contain string or binary data?

[2015-06-19 10:07] schiesbn commented on #17035
Hm, I just tried it on the web interface. Directly ofter the upgrade oC8->oC8.1 I can't download a encrypted file and I can't overwrite a existing encrypted file, both times I get a error message that the encryption module doesn't exists. Is this different with the sync client. The only thing which works is upload/create new files. They are simply not encrypted in this case, but I think this shoul

[2015-06-19 10:09] DeepDiver1975 commented on #17035
I was explicitly testing these cases back in the days as we implemented this

[2015-06-19 10:09] DeepDiver1975 commented on #17035
we might need to debug into this - a missing execution path????

[2015-06-19 10:17] jancborchardt commented on #10901
Yeah, sorry but ridiculous password requirements are the most annoying UX on the internet.

At most this can be done as a separate app which will definitely _not_ be shipped by default.

[2015-06-19 10:17] LukasReschke commented on #17007
Just to be sure: Did the fresh install happen on another table?

Strange. Can you add a `print_r(debug_backtrace());` at the first line of `\OC\AppFramework\Http\Request::passesCSRFCheck`?

[2015-06-19 10:17] icewind1991 commented on #12498
Try the rc1 of oc8.1 which comes with a new smb backend

[2015-06-19 10:23] LukasReschke commented on #16125
@SergioBertolinSG Test https://github.com/owncloud/core/pull/16815

[2015-06-19 10:30] jospoortvliet commented on #16190
![screenshot 17](https://cloud.githubusercontent.com/assets/551757/8251674/d4cc6474-167e-11e5-9365-0406a3d00e91.png)
with my (rather long) ownCloud ID
![screenshot 17](https://cloud.githubusercontent.com/assets/551757/8251680/e6646646-167e-11e5-96e7-0ba1e5183b3f.png)
with a reasonable ID
![screenshot 17](https://cloud.githubusercontent.com/assets/551757/8251686/f361ceb0-167e-11e5-8941-39ff7376b6bb

[2015-06-19 10:31] jospoortvliet commented on #16190
http://localhost:5000/federation/#guyfawkes@localhost/owncloud is an URL which thus works now.

[2015-06-19 10:32] jospoortvliet commented on #16190
Tested in firefox, conqueror and chromium.

[2015-06-19 10:33] jnweiger commented on #17032
Revision 21 moves the file. Needs thorough testing for possible new conflicts.

[2015-06-19 10:34] bboule commented on #10901
Hey guys it sounds like we have a few large potential users that are asking for this, and it sounds like we are not inclined do do this in the product?  Am I reading this correctly, this would need to be developed as a separate app @craigpg do you see this as a potential consulting engagement.  I guess my point here is the requirement is not going to change just want to figure out how to get there

[2015-06-19 10:38] schiesbn commented on #16190
looks great! :+1:

[2015-06-19 10:40] jnweiger commented on #16723
@Kawohl Yesterdays build for SLE12 is ready for testing. https://software.opensuse.org/download.html?project=isv%3AownCloud%3Acommunity%3A8.1%3Atesting&package=owncloud

Please also test the upgrade from 8.0.4 to 8.1.0~RC1 on SLE12

[2015-06-19 10:50] SergioBertolinSG commented on #15858
Tested in last 8.1 version (2015-06-19). I can reproduce it.

[2015-06-19 10:59] schiesbn commented on #15858
Not sure if we want to strip away the mount point (btw. a mount point doesn't need to be in the root folder). I think what we want is the complete path relative to the files folder, right?

[2015-06-19 11:20] karlitschek commented on #17036
Well we could hack something ad add hard coded translation for them. But honestly I don=t see why. The app names and descriptions will always be in english. We can=t change this because it is user generated.
I think someone who browses for new apps and tries to find the right one has to understand english in ownCloud. Same if you want to install a wordpress plugin or theme or drupal extension.

[2015-06-19 11:20] #17036 closed

[2015-06-19 11:23] nicolas-grekas commented on #16654
To me, the `mb_(sub)str_replace` wrappers/utils are useless. String replacement is encoding safe. OC should just use the PHP native `(sub)str_replace` functions and get rid of the `mb_*_replace` implementations.

[2015-06-19 11:24] habaneroman opened #17044 "External Storage CIFS/SMB 0Byte (mount SMB2)"
### Steps to reproduce
1. Confige CIFS/SMB als external Storage.
2. Upload files bigger than 68kByte.
### Actual behaviour

The file is created but empty.
### Server configuration

NAS: EMC ISILON 7.0.1.10
Owncloud: 8.0.3
Linux: Ubuntu 14.4.2 LTS
Samba 4
### Logs:

samba_tevent: EPOLL_CTL_DEL EBADF for fde[0x7f2d20011830] mpx_fde[(nil)] fd[6] - disabling
cli_push returned NT_STATUS_CONNECTION_DISC

[2015-06-19 11:24] karlitschek commented on #16190
cool :+1:

[2015-06-19 11:24] bboule commented on #17031
I think we need to keep this open as a green ticket for tracking until we can set an expectation with the user @CaptionF how would you characterize the importance here?

[2015-06-19 11:32] DeepDiver1975 commented on #17031
@bboule we don't need two ticket foe one issue - I just added the green-ticket to #8664

[2015-06-19 11:32] #17031 closed

[2015-06-19 11:32] DeepDiver1975 commented on #8664
need to be addresses in 8.2

we will overhault that dialog handling as soon as we move to webdav. We basically can perform the conflict resolution on the client side by getting meta information about the existing file using PROPFIND

[2015-06-19 11:36] DeepDiver1975 commented on #17044
@habaneroman with the upcoming oc 8.1 we switch to a different library to connect to smb/cifs shares. You are very much welcome to test your setup https://owncloud.org/blog/owncloud-8-1-coming-soon-first-release-candidate-ready-for-testing/

[2015-06-19 11:38] paoloB132 commented on #16654
Don’t know why in OC8 they have moved on Patchwork….

php-mbstring.x86_64              5.4.16-23.el7_0.3   rhel-7-server-optional-rpms

------------------------------------------------------------------------------------------------
Paolo Barbato

Consorzio RFX
corso Stati Uniti,4
35127 Padova - Italy
Network Administrator
phone: +39 049 8295097 fax: +39 049 8700718
-------------------------------

[2015-06-19 11:41] LukasReschke commented on #16190
Great stuff, a little security nitpick though: Please escape the output or use jQuery's `.text` functionalities. This will introduce a really bad XSS vulnerability on owncloud.org otherwise.

See https://github.com/owncloud/owncloud.org/commit/fdefdf0eef67bc666320ded7b20d5d55294fb0c6#commitcomment-11766050

[2015-06-19 11:42] nicolas-grekas commented on #16654
So, if the mbstring fallback of patchwork/utf8 is not used, then this issue has nothing to do with patchwork/utf8...

[2015-06-19 11:46] LukasReschke commented on #16190
With jQuery a secure approach would be the following:

[code]

[2015-06-19 11:52] icewind1991 commented on #17029
I can't reproduce any of the failures locally...

[2015-06-19 11:53] jancborchardt commented on #16190
Good stuff :+1:

Except one thing: The example ID should be the same as it is in ownCloud: `username@example.com/owncloud`

[2015-06-19 11:54] habaneroman commented on #17044
@DeepDiver1975 thx very mutch. I will test and report.

[2015-06-19 11:58] DeepDiver1975 commented on #17029
are you executing the smashbox test test_sharePermissions? - It also fails on jenkins: https://ci.owncloud.org/job/smashbox/TEST_NAME=test_sharePermissions,compiler=g++,label=master,mirallBranch=v1.8.1,qt=qt4,serverVersion=owncloud8.1-locking/55/console

[2015-06-19 11:59] PVince81 commented on #17029
Same for me, running this:
[code]

no errors.

Oh, let me try again with `-a` to run all test cases...

[2015-06-19 12:06] DeepDiver1975 commented on #17029
haha - that bloody switch

[2015-06-19 12:21] paoloB132 commented on #16654
.. well OC 8 developers the ball's in your court

------------------------------------------------------------------------------------------------
Paolo Barbato

Consorzio RFX
corso Stati Uniti,4
35127 Padova - Italy
Network Administrator
phone: +39 049 8295097 fax: +39 049 8700718
------------------------------------------------------------------------------------------------

[2015-06-19 12:23] pherzing commented on #16654
If I can help please let me know. i'm not currently set up as a contributor, but would be happy to join up.

[2015-06-19 12:25] MTRichards commented on #13695
This is interesting.

There is a significant difference between an employee deciding to take an action to work around a technical block. This is proof of an act of commission, is considered intent. Intent suggests pre-meditation, which suggest this was no accident. That is bad if you are caught.

This is different from the accident you talked about, where the user could share it outside the compan

[2015-06-19 12:31] PVince81 commented on #17029
Tried again twice with the bloody switch, but still no failure

[2015-06-19 12:32] MTRichards commented on #10901
This is on the list for ownCloud 8.2. The screenshot above is simply to outline the options that need to be covered.

@bboule @CaptionF As discussed on the List.
@cmonteroluque for your reference.
@jancborchardt is there an option that gets us close you would consider "visually appealing"?
Can't have confidential data hanging out there with a password of "l".

[2015-06-19 12:33] PVince81 commented on #17029
@nickvergessen you could also reproduce this locally, consistently ?
Can you do a "flushall" on redis before you do ?

Maybe there are stray keys

[2015-06-19 12:35] DeepDiver1975 commented on #17029
even if - on jenkins it's falling apart with http 500

[code]

[2015-06-19 12:38] PVince81 commented on #17029
Then we might need to setup a VM with the same setup.

My current setup where tests pass is:
- openSUSE Factory
- php5-5.6.9-1.1.x86_64
- apache2-2.4.12-7.1.x86_64
- redis-3.0.2-1.1.x86_64

[2015-06-19 12:41] DeepDiver1975 commented on #17029
test1 is using apcu - related?

[2015-06-19 12:42] nickvergessen commented on #17029
I can reproduce this 100% of the time, also the return false thing is obvious from looking at the code path and is not dealt with correctly (not checked).

Make sure you use the latest master on all involved tools (oc, sb, pyoc)

Setup
* Linux Mint
* php5: 5.5.9 and 5.5.26
* apache2: dont know
* redis: 2.2.7

[2015-06-19 12:42] bboule commented on #17031
Roger that  sorry for the confusion :)

[2015-06-19 12:44] DeepDiver1975 commented on #17029
I'm currently rerunning the test on jenkins - tailing the server log to see some more .....

[2015-06-19 12:45] bboule commented on #8664
@CaptionF please note your issue is now being tracked here... looks like this is 8.2 please advise as to priority against your user expectations

[2015-06-19 12:46] paoloB132 commented on #16654
SOLVED!

As Nicolas suggested Patchworks is used by OC8 when  rhel/centos php-mbstring is not installed....
so I've installed it:
subscription-manager repos --enable=rhel-7-server-optional-rpms
yum install php-mbstring
service httpd restart (old style sorry !)

and now AD authentication start working !

[2015-06-19 12:48] nickvergessen commented on #15858
What I want is the full path of the sharee, not the sharer. So yes we need to strip away the mount point name

[2015-06-19 12:48] MorrisJobke commented on #8664
The problem with this ticket is, that there is no really way to bring this into older versions. :(

[2015-06-19 12:54] pherzing commented on #16654
Also confirmed here. I restored line 766 to its original form, then did this:

yum install php-mbstring
systemctl php-fpm restart
systemctl php-fpm nginx (just for fun)

My LDAP auth now works without changes to the OC core.

[2015-06-19 12:57] SergioBertolinSG commented on #16482
I've tried this using 8.0.4 oC with a SMB mount and deleting a complex folder structure inside, no problems found. It was deleted quick.

[2015-06-19 12:57] DeepDiver1975 commented on #17029
[code]

[2015-06-19 12:58] DeepDiver1975 commented on #17029
a lock'n'crypt error?

[2015-06-19 13:05] davitol opened #17047 "Cannot remove large files uploaded in Dropbox as external storage"
### Steps to reproduce
1. Upload a large file using dropbox as external storage
2. Try to delete it

### Expected behaviour
The file is deleted in the dropbox folder

### Actual behaviour
The spinal keeps in the screen and the file is never removed

### Server configuration
**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

**Database:** mysql

**PHP version:** 5.5.9

**ownCloud ver

[2015-06-19 13:06] davitol commented on #17047
owncloud.log

{"reqId":"zUgzwwPmThexwQEdbVF3","remoteAddr":"82.159.139.58","app":"PHP","message":"Allowed memory size of 536870912 bytes exhausted (tried to allocate 330832198 bytes) at \/opt\/owncloud\/apps\/files_external\/3rdparty\/Dropbox\/OAuth\/Curl.php#112","level":3,"time":"2015-06-19T11:23:44+00:00"}

[2015-06-19 13:43] DeepDiver1975 commented on #17031
no worries

[2015-06-19 13:46] DeepDiver1975 commented on #10901
We basically can add a feature in core allowing some kind of callback which allows any other code to verify the password. Some super fancy UI to specify password restriction can be implemented as an isolated app.

[2015-06-19 13:47] jancborchardt commented on #10901
I mean – the example screenshot above already is quite close to how visually appealing you can make such an interface.

The thing I meant here is that from a high-level standpoint that this should be a separate app for sure, not in core by default. (As Thomas just said seconds above.)

[2015-06-19 13:48] RealRancor commented on #17036
@karlitschek
I think the request is not about App Names where it doesn't make sense but about the App Categories where it could make sense to translate them.

[2015-06-19 13:50] MTRichards commented on #10901
I like that. Gives us what we need without cluttering the interface unnecessarily.

@DeepDiver1975 What would it take to do what you said there, to create the ability to do this?

[2015-06-19 13:50] jnfrmarks commented on #16482
@SergioBertolinSG

Thanks!  Sounds like we can close this.

[2015-06-19 13:54] jancborchardt commented on #16308
Rough first mockup:
![](https://raw.githubusercontent.com/owncloud/design/master/Files/Sidebar-mockup.png)
([source in the design repo](https://github.com/owncloud/design/tree/master/Files))

[2015-06-19 14:06] schiesbn commented on #16308
Just a idea I had while looking at the mockup: Should the sidebar also handle versions. For consistency reasons I think this could be a good idea. Opinions?

[2015-06-19 14:08] MTRichards commented on #16308
yes I think it should.

[2015-06-19 14:10] jancborchardt commented on #16308
@schiesbn yes it should be – ideally inside the Activity tab because version are also chronological information. As you see the top entry »Updated by you minutes ago« would create a new version.

[2015-06-19 14:13] Henni commented on #13646
@MorrisJobke are you working on this? If not I will take a look at this.

[2015-06-19 14:15] PVince81 commented on #17029
Confirmed, lock'n'crypt:
[code]

@icewind1991 please try again.

[2015-06-19 14:20] jospoortvliet commented on #16190
All changes above done.  Links fixed, too, except for the one which needs a blog by frank to be released. Will fix that link as soon as that blog is out... promise :D

[2015-06-19 14:20] #16190 closed

[2015-06-19 14:20] jospoortvliet commented on #16190
test on https://staging.owncloud.org/federation/

[2015-06-19 14:21] PVince81 commented on #17029
Very strange, on the same instance I did this:
1. Create folder "test"
2. Upload picture inside (web UI)

getting this:
[code]

[2015-06-19 14:25] DeepDiver1975 commented on #17029
Sounds like Friday afternoon ... time to shutdown and head off to the weekend.

[2015-06-19 14:29] ziotibia81 commented on #15850
There are a way to make it work on 8.0.4?

[2015-06-19 14:32] schiesbn commented on #16308
@jancborchardt makes sense. Although this could create problems with the current way our expire algorithm works, we don't only expire the oldest versions but also versions in between. So not all update activities will have a version attached which could be quite irritating from a user point of view.

Another thought: At some point the activity tab probably needs a way to filter for comments, chang

[2015-06-19 14:34] PVince81 commented on #15850
I didn't have to look into this sorry... fully booked with upcoming 8.1 release.

If you feel adventurous you can try debugging the OC code, the location should be here https://github.com/owncloud/core/blob/stable8/lib/private/connector/sabre/node.php#L162

[2015-06-19 14:44] blizzz commented on #16654
@paoloB132 @pherzing did you install ownCloud via package management originally, or by hand?

[2015-06-19 14:46] Kawohl commented on #16723
Updating with the Webinterface works.
In the Command Line I run into this:

PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/lib64/php5/extensions/libsmbclient.so' - /usr/lib64/php5/extensions/libsmbclient.so: cannot open shared object file: No such file or directory in Unknown on line 0
Console has to be executed with the user that owns the file config/config.php
Current user: root

[2015-06-19 14:46] blizzz commented on #16654
@nicolas-grekas thanks for having a look and opening the PR.

[2015-06-19 14:47] pherzing commented on #16654
By hand (downloaded https://download.owncloud.org/community/owncloud-8.0.4.tar.bz2)

[2015-06-19 14:55] Kawohl commented on #16723
After chown
and
chmod g+w,o+w config.php

This is what i get.:

PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/lib64/php5/extensions/libsmbclient.so' - /usr/lib64/php5/extensions/libsmbclient.so: cannot open shared object file: No such file or directory in Unknown on line 0
ownCloud or one of the apps require upgrade - only a limited number of commands are available
Turned on main

[2015-06-19 15:01] jancborchardt commented on #16190
Just noticed: Elsewhere we call it »Federated Cloud ID«. On the page it’s called »Federation ID«. Can you change that to reflect how we call it in ownCloud?

[2015-06-19 15:30] habaneroman commented on #17044
Updating from 8.0.3 to 8.1 didn't solve the problem.
I'll delete my OC Installation and start from beginning.

[2015-06-19 15:36] jnweiger commented on #16723
@Kawohl You tried to run occ upgrade as root. It is okay that this fails.
The better approach is:
<pre>sudo -u wwwrun php /srv/www/htdocs/owncloud/occ upgrade</pre>

Confirmed good on SLE12 too:

<pre>
( 2/23) Installing: owncloud-server-8.1.0~RC1-10.1 ..........................................[done]
Additional rpm output:
owncloud-server: Upgrade starting
owncloud-server: occ maintenance:mode --o

[2015-06-19 15:36] #16723 closed

[2015-06-19 15:42] jnweiger commented on #17032
<pre>
( 2/23) Installing: owncloud-server-8.1.0~RC1-10.1 ..........................................[done]
Additional rpm output:
owncloud-server: Upgrade starting
owncloud-server: occ maintenance:mode --on
Maintenance mode enabled
owncloud-server Upgrade complete
Maintenance mode disabled
owncloud-server: occ upgrade
ownCloud is already latest version
Maintenance mode disabled
...
(22/23) Installi

[2015-06-19 15:42] #17032 closed

[2015-06-19 15:45] ziotibia81 commented on #15850
Solved.... The problem is here:
https://github.com/owncloud/3rdparty/blob/stable8/sabre/dav/lib/Sabre/DAV/Server.php#L104

Removing this line matime is chaged. Listing file in DAV I can see correct mtime. In web view I still view time of upload.

[2015-06-19 16:03] PVince81 commented on #15850
You need to make sure that it does not write the lastmodified property in the "oc_properties" table. I believe that was the reason for the protected properties.

If this works correctly, do you mind sending the change as a pull request ?

[2015-06-19 16:05] jancborchardt commented on #16878
@schiesbn can you maybe add a class like `.search-empty` to `#app-content-files` when there are no results? Then I can adjust the margins to fix it. Start a pull request with adding that, and I will add a commit with the CSS to fix it.

[2015-06-19 16:23] carlaschroder opened #17049 "What is the purpose of Shibboleth admin GUI?"
Hey all, I just discovered that there is a Shibboleth GUI on the Admin page of oC 8.0.4. It has a checkbox to 'Activate Shibboleth' and a Save button. The Save button, as far as I can tell, doesn't actually save anything, or at least it doesn't save to a configuration file. Can someone explain what this is for and how to use it? Thanks!
![shib-gui](https://cloud.githubusercontent.com/assets/838838

[2015-06-19 16:28] LukasReschke commented on #17049
As far I can tell from the source: This is just there to transfer the state of the checkbox, so checking the checkbox and then clicking the button will save the state. Just checking ain't enough. Don't count my word 100% on it, also better try it before :speak_no_evil:

[2015-06-19 16:34] carlaschroder commented on #17049
@PVince81 @DeepDiver1975

[2015-06-19 16:35] matzex commented on #14507
This issue is also for me important because at the moment the external storage implementation is not usable for Dropbox. Files and Folders are not updated, etc.
What is the correct command to do a resync of Dropbox as an external Storage?
`./occ files:scan --path /$user/files/somemountpoint`
This is not working because there is no mountpoint for Dropbox if you use the external storage support from

[2015-06-19 16:42] ziotibia81 commented on #15850
I think that reason because this property is protected is RFC4918, where getlastmodified is readonly. Many Webdav servers breaks this rule and permit to use getlastmodified to set mtime, so it looks like to be a standard feature.

It seems to me we understand that L162 of node.php manage {DAV:}lastmodified to change mtime.
In this case also node.php need to be fixed.

[2015-06-19 16:54] PVince81 commented on #14507
There should always be a mount point for any external storage, please double check.
If dropbox is visible for "user1" under the "/dropboxdir" mount point, then the command for that user would be:
`./occ files:scan --path /user1/files/dropboxdir`

[2015-06-19 16:55] PVince81 commented on #17049
I have zero idea about shibboleth, sorry.

[2015-06-19 17:04] DeepDiver1975 commented on #17049
It might be bad UX - but with the checkbox the admin can activate the shibboleth integration. The save button is used to save the state of the checkbox.

[2015-06-19 17:06] matzex commented on #14507
If is use the --all option i see this path and it goes through every subfolder and scans every file in there:
`Scanning file   /matthias/files/oc/Dropbox/
Scanning folder /matthias/files/oc/Dropbox/`
Then i tried to use this path with the following command:
`./occ files:scan --path /matthias/files/oc/Dropbox`
But it does not scan the Dropbox folder and does nothing. Also in the folder in the file

[2015-06-19 17:10] carlaschroder commented on #17049
thanks @DeepDiver1975
@PVince81 I plucked your name from here https://github.com/owncloud/user_shibboleth/blob/34707a8d7302d64bdd3ce4a230f033e5fc67fde3/templates/settings.php#L19-L30

[2015-06-19 17:10] #17049 closed

[2015-06-19 17:12] ziotibia81 commented on #15850
I sent two PR:

https://github.com/owncloud/core/pull/17051
https://github.com/owncloud/3rdparty/pull/177

[2015-06-19 17:14] DeepDiver1975 commented on #17044
@icewind1991 can you please comment on this? Do we expect SMB2/SMB3 to work? THX

[2015-06-19 17:22] PVince81 commented on #14507
Yes, the external storage mounts points are mounted virtually on the ownCloud filesystem, so they are not visible under "data".

Not sure why it is not scanning it, possibly a bug with the `--path` option :frowning:

When doing `--all` does it find the updates there ?

[2015-06-19 17:33] ziotibia81 commented on #15850
@PVince81 Could you manage commit https://github.com/ziotibia81/3rdparty/commit/94efe7bad5e1081b24520ef7d22e98a752923c0d ? I'm not very skilled and I'm making too much hassle in GitHub.....

[2015-06-19 17:35] fleish commented on #8317
String. And now that I'm looking closer at it, the attribute isn't UUID, it's GUID.

Going in the way-back part of my brain, I think GUID might have been setup for caldav initially and then OC piggy-backed onto it. I'm now thinking it was not necessary for the latter (and maybe even the former) since LDAP auto-generates "entryUUID" for every record anyway. We manually add GUID to each user we crea

[2015-06-19 17:45] LukasReschke commented on #16999
Thanks a lot for reporting issues back to us!

We need some more information to properly support you with your issue!

Can I ask you to follow our guidelines for submitting bugs as described here: https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

[2015-06-19 17:49] LukasReschke commented on #16994
Unless we can reproduce this again, I'd vote for yes.

[2015-06-19 17:49] #16994 closed

[2015-06-19 18:12] paoloB132 commented on #16654
by hand

------------------------------------------------------------------------------------------------
Paolo Barbato

Consorzio RFX
corso Stati Uniti,4
35127 Padova - Italy
Network Administrator
phone: +39 049 8295097 fax: +39 049 8700718
------------------------------------------------------------------------------------------------

[2015-06-19 18:26] fg-ok commented on #16008
@DeepDiver1975 FYI: Stumbled just over the same issue **on a fresh new install**! So it's not just an issue for the concerned users that try to keep their systems up2date. Fresh users are directly welcomed by this issue and have to figure out why they cannot use owncloud! Maybe you should keep that in mind!?

This! Especially when you try to set up a fresh system! That's a typical situation where

[2015-06-19 18:27] cmonteroluque commented on #16587
Dependency for owncloud/client#3244 as reason to fix in 8.1

[2015-06-19 19:08] habaneroman commented on #17044
### Server Configuration
*  Ubuntu 14.4.2 LTS with smbclient
* ownCloud 8.1 RC1 (daily) Build:2015-06-19T03:33:59+00:00 6697f9524c0f65047afdb27de75d62eb58c5f458

### Steps to reproduse
*  manual copy
*  smbclient --user USERNAME  -O 'TCP_NODELAY IPTOS_LOWDELAY SO_KEEPALIVE SO_RCVBUF=8192 SO_SNDBUF=8192' -d 12 //IPv4/TARGETt -c 'put /home/testfile.txt test/testfile.txt'

### Actual behaviour

####

[2015-06-19 19:30] blizzz commented on #8317
That is the answer to that riddle.

If you would decide to switch from invalid UUID to GUID, old users are not affected from the change, as long as you don't clear the mappings (which you should not do in production for exactly this reason). In case a DN might change for a user, you would run into an issue right now as well. So changing it to GUID should be safe and help with new users. :warning:

[2015-06-19 19:32] blizzz commented on #8317
Task on ownCloud is now to figure out whether it's possible to distinguish whether we get binary or string data from LDAP (I assume so) and to build in a check to avoid such happenings.

[2015-06-19 19:35] DeepDiver1975 commented on #16587
This would require to change which might have a too big impact on the overall system.
@PVince81 was absolutely right to schedule this for 8.2

Furthermore @dragotin and myself had a discussion recently if we should introduce a second etag which changes only on meta data modifications - where as the original etag is only to be used for content changes.

Topic to be discussed -> 8,2

[2015-06-19 19:37] blizzz commented on #16654
OK, because mbstring extension is enlisted as must-have-dependency in the install documentation. Wanted to make sure that packaging went right.

[2015-06-19 19:38] VicDeo commented on #16878
Is there any reason why `tr.summary` has  height of 300px btw?

[2015-06-19 19:43] blizzz commented on #16654
I close this issue as configuration bug as mbstring is required for owncloud and it is documented. The Patchwork fallback is not working atm, but it's being dealt with upstream at https://github.com/tchwork/utf8/issues/44. And I will have a look on our methods on next week, based on #17046.

[2015-06-19 19:43] #16654 closed

[2015-06-19 20:46] matzex commented on #14507
Yes, for testing this again i uploaded a file to the external storage provider (Dropbox) and directly afterwards i started the syncing with `--all` and the new file appears in the list of the scanned files.
Also the syncing process with the `--all` Option shows a lot of lines of synced folders and files, with the `--path` option (path to the Dropbox folder) only 1 line is shown as status and the p

[2015-06-19 20:53] kylesouza commented on #11682
Hello!  sorry for my ignorance, how am I able to see the progress of features such as this one?  Would this be the best place to look?

[2015-06-20 10:14] LughI0 opened #17053 "Calendar Sharing : Firefox no share button (Safari OK)"
OS client : OS X 10.9.5 (Mavericks)
Browser : Firefox 38.0.5
Bug : No way to share a calendar on Firefox, the Share button is not present :
![firefox_38](https://cloud.githubusercontent.com/assets/12976854/8266825/4d7a6d34-1743-11e5-89b8-f956c5eff47d.png)

On Safari 7.1.5 the button is present, all is ok :
![safari_715](https://cloud.githubusercontent.com/assets/12976854/8266826/5782305a-1743-11e5

[2015-06-20 10:18] RealRancor commented on #17053
Hi,

@LughI0
the issue tracker of the calendar app is located here:

https://github.com/owncloud/calendar/issues

There you can find various issues like: https://github.com/owncloud/calendar/issues/810 , https://github.com/owncloud/calendar/issues/794 , https://github.com/owncloud/calendar/issues/747

Disable Adblock and the share button should appear again.

[2015-06-20 10:27] LughI0 commented on #17053
OK. Indeed, it works by disabling AddBlock.

(Is there any way to move this issue to the right GitHub project ?)

[2015-06-20 10:31] RealRancor commented on #17053
Unfortunately github don't allow to move issues. But as this is something which still needs to be fixed in the Adblock rules rather than in ownCloud you should contact the author of this ruleset.

[2015-06-20 10:38] LughI0 commented on #17053
Ok. I close the topic then.
The AdBlock is also on my Safari... So the setup not working is Firefox+AdBlock.

[2015-06-20 10:38] #17053 closed

[2015-06-20 11:06] jancborchardt commented on #11682
@kylesouza yes. And as you see the issue is in the backlog. That means it’s not scheduled for any release specifically, and there’s currently no work being done on it.

[2015-06-20 11:08] RealRancor commented on #17053
Hi,

it seems the "Fanboy's Social Blocking List" is causing this when reading the second link. Maybe this is just not enabled on Safari?

[2015-06-20 11:22] l0bster commented on #12193
@netimpa Thanks for you suggestions.

i can confirm, tuning my apache server KeepAlive values solved my problems.

client:
w8.1
oc client version 1.8.1

server:
ownCloud 8.0.4 (stable)
sqlite backend
server local storage
apache 2.2.15 release  39.el6.centos

/etc/httpd/conf/httpd.conf
KeepAlive On
KeepAliveTimeout 15

[2015-06-20 13:02] pdesanex commented on #12193
Hrm. It seems like I'm out of luck then ... I just received a reply from my shared hoster's customer support - the KeepAlive parameters are off-limits :-(

[2015-06-20 13:43] te-online opened #17054 "Feature idea: Add option to share upload-only link without sharing folder"
I would like to add a feature request for the public upload option.

The request to offer users a link where they can upload files is a common scenario.
However, this is already possible with selecting »allow upload« when sharing a folder.

But, sometimes you might want the users not to see what other users uploaded or what else is contained in this folder. That is, you don't want to share a folde

[2015-06-20 13:54] DeepDiver1975 commented on #17054
we already have that feature request somewhere in here (couldn't find it myself)

[2015-06-20 13:54] #17054 closed

[2015-06-20 13:57] te-online commented on #17054
Wow, found multiple ones on first try now.

A few minutes ago I couldn't find anything – the correct search terms probably only ermerged to me after writing the issue :smile:

https://github.com/owncloud/core/issues/12658

[2015-06-20 14:56] kylesouza commented on #11682
Okay, thanks!  I'm very new to github and open source and such.

On Sat, Jun 20, 2015 at 4:07 AM -0700, "Jan-Christoph Borchardt" <notifications@github.com> wrote:
@kylesouza yes. And as you see the issue is in the backlog. That means it’s not scheduled for any release specifically, and there’s currently no work being done on it.

---
Reply to this email directly or view it on GitHub:
https://gith

[2015-06-20 15:09] jancborchardt commented on #15309
As talked about with @ChristophWurst, it should be a simple red dot for new notifications since last check. A number is not necessary because the exact number makes little difference. People will not remember if the number changed from the one that was there before – it’s more important if there was a change since last checked.

[2015-06-20 18:04] stickr commented on #16979
I found the problem...I was originally putting https://owncloud.servername.com/remote.php/webdav into the ios app for an address. I changed it to https://owncloud.servername.com and it worked.  For all those who see this "/remote.php/webdav" is not needed in the ios app's address field.

[2015-06-20 18:04] #16979 closed

[2015-06-20 18:25] CrazyDymond88 opened #17055 "OwnCloud IOS client not autouploading videos"
I can't figure this out fr the life of me.  I just upgraded to 8.0.4 today and the issue persists.  Autoupload of pictures in IOS app works great (when the app is open), but videos don't even seem to try to upload.  All the usual settings are configured, i'm able to upload up to 4gb files, am I missing something?

[2015-06-20 18:42] karlitschek commented on #17055
Can you please open this bug report in the iOS repository? Thanks a lot.

[2015-06-20 18:42] #17055 closed

[2015-06-20 18:42] CrazyDymond88 commented on #17055
Absolutely, sorry about that!

[2015-06-21 00:28] RealRancor commented on #16979
Hi,

there is no note in:

https://doc.owncloud.org/ios/ios_app.html

that you need to add the/ remote.php/webdav . Its telling you to enter the server URL only.

[2015-06-21 01:58] oparoz opened #17057 "Token giving access to one file gives access to whole folder"
Before I investigate this further, I just want to know if this is a known problem.

This happens via an app, but still, an app shouldn't be able to show the content of a whole folder using the token given to have access to one file.

@LukasReschke

[2015-06-21 08:50] #17057 closed

[2015-06-21 08:50] LukasReschke commented on #17057
Can we please _finally_ use security@owncloud.com for this? Thanks.

[2015-06-21 09:46] aspdye opened #17058 "Idea: OpenID Provider"
Hi,

I think it would be cool if it would be possible to Login on "OpenID"-Sites with your OwnCloud-Account.

[2015-06-21 10:09] RealRancor commented on #17058
Hi,

not quite sure if this is what you're looking for:

https://github.com/owncloud/apps/tree/master/user_openid_provider

If yes there is an open request to make this to work with newer oC versions here: https://github.com/owncloud/apps/issues/1992

[2015-06-21 10:10] #17058 closed

[2015-06-21 10:30] Scindix opened #17059 "WebDAV external storage ignore MIME type & use file endings"
Hi,
I've set up a WebDAV external storage in my ownCloud 8.1 Server (root). However the provider of my WebDAV storage (1&1 in Germany) seems to return application/octet-stream as MIME for ANY file. I know that this is a bad situation, but I have no influence to that. This means that all files are displayed as binary files in ownCloud. Furthermore I can only download and upload files. I cannot play

[2015-06-21 10:34] RealRancor commented on #12658
Related: https://github.com/owncloud/core/issues/7747 and https://doc.owncloud.org/server/8.0/admin_manual/enterprise_files_drop/index.html

[2015-06-21 11:16] MorrisJobke commented on #13646
@Henni Feel free to do so :)

[2015-06-21 11:17] xrm opened #17060 "Deadlock found when trying to get lock"
### Steps to reproduce
Not sure. Just tried to browse my external smb storage (which was first very slow and then didn't respond at all).

### Expected behaviour
Being able to browse my smb storage without errors

### Actual behaviour
Errors as stated below and either slow or no response from the smb storage (just stayed at the top level folder)

### Server configuration
**Operating system**:
Debi

[2015-06-21 11:43] xrm opened #17061 "Semicolon not supported in commands"
### Steps to reproduce
I'm not sure which part of my setup caused the error to trigger, sorry :| It just came up while trying to access my external SMB storage

### Expected behaviour
External SMB storage should be accessible without errors

### Actual behaviour
The error message from far below happens and access to my storage is slow or unresponsive

### Server configuration
**Operating system**:

[2015-06-21 11:47] BerndderHeld commented on #15184
@jorin-vogel or anyone else: i am having the same Problem with owncloud (fresh Install 8.0.4) on uberspace. But my httphelper is difrent then the one on Github. Can show me what Version i have to use with the addition of the fix?

my httphelper.php

[code]

the one on GitHub:

[code]

the fix:
[code]

[2015-06-21 12:04] LukasReschke commented on #17061
[code]

Is this part of the file name? – Files with a `;` won't work with the SMB external storage before ownCloud 8.1

[2015-06-21 12:05] xrm commented on #17061
Nope, it's not.

[2015-06-21 12:07] LukasReschke commented on #17061
What kind of SMB server? – Would you be able to share the affected file / folder with me? (You can find my mail address for private communication in my profile)

[2015-06-21 12:09] xrm commented on #17061
Hey Lukas,
sorry I answered far too quick, the ; *is* part of the filename, I just missed that there's both a file and a folder with the same name :(
Thanks for the fast reply, though.

[2015-06-21 12:09] #17061 closed

[2015-06-21 12:21] RealRancor commented on #15184
Hi,

you can put this in here:

https://github.com/owncloud/core/blob/v8.0.4/lib/private/httphelper.php#L70

PLEASE NOTE: This allows Man-in-the-middle attacks against your connection to the appstore.

As an alternative you could have a look at:

https://forum.owncloud.org/viewtopic.php?f=31&t=26310&p=88393#p85771

or wait until OC 8.1 is released which ships a workaround for systems like yours wh

[2015-06-21 14:53] BerndderHeld commented on #15184
Sorry for asking again. PHP is not really my language. Can you post the working version function above? And it only breaks the crypto to the Appstore, not the whole SSL structure, right?

[2015-06-21 15:38] superinterstellar opened #17062 "owncloud 6 to 8 ---> having difficulty"
I am getting an error as follows:-

anyone can help me solve this?

An exception occurred while executing 'UPDATE "oc_filecache" SET "mtime" = ?, "etag" = ?, "storage_mtime" = ?, "permissions"=? WHERE ("mtime" <> ? OR "etag" <> ? OR "storage_mtime" <> ? OR "permissions" <> ? ) AND "fileid" = ? ': SQLSTATE[HY000]: General error: 1 no such column: storage_mtime

Thanks
Kevin

[2015-06-21 16:43] RealRancor commented on #15184
Hi,

just add the:

[code]

somewhere in between the calls at https://github.com/owncloud/core/blob/v8.0.4/lib/private/httphelper.php#L67-L70

It makes all functions where ownCloud is using this http calls to the appstore (and maybe also to other places) vulnerable against this Man-in-the-middle attacks.

[2015-06-21 17:01] RealRancor commented on #17062
Hi,

have you done the following upgrade steps:

Your oC 6.0.x version -> oC 6.0.8 -> oC 7.0.6 -> oC 8.0.4

as described in the upgrading manuals?

[2015-06-21 18:04] jab416171 commented on #16934
It would be sweet if Travis could automatically publish the latest code on develop to the alpha channel.

[2015-06-21 18:42] Xandersoft opened #17063 "webdav - no connection to Cloud with Android-App since v8.0.3"
+ work on v8.02
- not work on updated v8.03 and v8.04
Provider: all-inkl.com

Debug Report:

Debug	webdav	Exception:
{"Message":"No basic authentication headers were found","Code":0,"Trace":"#0 \/www\/htdocs\<all-inkl-account>\/lib\/private\/connector\/sabre\/auth.php(126): Sabre\\DAV\\Auth\\Backend\\AbstractBasic->authenticate(Object(OC_Connector_Sabre_Server), 'ownCloud')\n#1 \/www\/htdocs\<all-

[2015-06-21 18:52] Xandersoft opened #17064 "tempmanager error fill owncloud.log to large gigabyte file since 8.x"
iam searching for a solution to setup the "/tmp" Dir order to an rw path at /www/htdocs/...

Error	PHP	opendir(/tmp):
failed to open dir: Permission denied at /www/htdocs/<all-inkl-account/lib/private/tempmanager.php#134

this error grow the owncloud.log into an inadmissible large file in minutes

what can i do?

[2015-06-21 19:00] RealRancor commented on #17064
Hi,

duplicate of: https://github.com/owncloud/core/issues/14886

[2015-06-21 19:01] RealRancor commented on #17063
Hi,

very likely caused by: https://github.com/owncloud/core/issues/17064 which duplicates https://github.com/owncloud/core/issues/14886

[2015-06-21 19:05] Xandersoft commented on #17064
no access to php.ini

[2015-06-21 19:07] RealRancor commented on #17064
Nothing what you can do then except wait for oC 8.1. As there is already an open issue about this please close here.

[2015-06-21 19:26] Xandersoft commented on #14886
on Version 8.02, ..., 8.04 didn´t work the rules
...
  SetEnv TEMP /www/htdocs/<all-inkl-account>/pathtocloud/tmp
  SetEnv TMP /www/htdocs/<all-inkl-account>/pathtocloud/tmp
  SetEnv TMPDIR /www/htdocs/<all-inkl-account>/pathtocloud/tmp
</IfModule>
other solutions?

[2015-06-21 19:33] Xandersoft commented on #17063
the problem with the tempfilemanager is older than the webdav problem. on v8.0.2 works the webdav connection.

[2015-06-21 20:09] VicDeo commented on #16812
I see no straightforward solution. Migration SQL is generated by Doctrine.
https://github.com/owncloud/core/blob/master/lib/private/app.php#L1162
https://github.com/owncloud/core/blob/master/lib/private/db/mdb2schemamanager.php#L121
https://github.com/owncloud/core/blob/master/lib/private/db/migrator.php#L217

[2015-06-21 22:23] mrflow opened #17065 "SELinux labels for assets in CentOS/RHEL/Fedora builds"
The assets folder will need a `httpd_sys_rw_content_t` label for the asset management feature to work.

sadly, i could not find the rpmspec on github, but the change should be as follows:

[code]

[2015-06-21 22:34] RealRancor commented on #17065
Hi,

the source code of the files to build the packages are located here:

https://build.opensuse.org/package/view_file/isv:ownCloud:community:8.0/owncloud/owncloud.spec

You could also report this to:

https://github.com/owncloud/documentation/issues

to also get this included in the official documentation.

[2015-06-21 22:50] #17019 closed

[2015-06-21 23:13] Wikinaut commented on #16953
@DeepDiver1975 allow me a clarification request (instead of opening just another issue).

Where is the "Standard" quota value defined, I could **not** find such a parameter/value pair (1 GB on my server) in config/config.php or in the apps/files directory.

It is my view, that not only the current value should be printed (subject of this enhancement issue), but that the standard value should be co

[2015-06-21 23:34] mrflow commented on #17065
Hi RealRancor,

I already found the owncloud rpm spec there (actually the patch I included is to be applied on that file). I just find it confusing that these files are not maintained here on github (I guess there will be some reason for that).

It should not be documented, it should be fixed. Otherwise the label will disappear after every update, and no assets can be loaded (ownCloud web interfac

[2015-06-22 03:07] francesco1119 opened #17066 "Upload movie fail : chunking loop"
![schermata del 2015-06-22 12 19 13](https://cloud.githubusercontent.com/assets/3397477/8274968/5c945984-18f0-11e5-9aef-78d89e56bc40.png)
![owncloud log](https://cloud.githubusercontent.com/assets/3397477/8274973/674b4630-18f0-11e5-80d9-997a18b0eb8f.jpg)

### Actual behaviour
Owncloud sync cannot upload a movie (350MB) but as the problem appears both on Windows sync and Linux sync the problem shou

[2015-06-22 06:37] BerndderHeld commented on #15184
Thanks. Now it works and i removed the line again directly after installing the Apps.

[2015-06-22 07:19] RealRancor commented on #17065
Hi,

not everyone is using the OBS packages

[2015-06-22 07:29] RealRancor commented on #17066
Hi,

i think it probably won't help but to fix the first errors in the screenshot please read the description of the WebDAV user backend app and disable it.

[2015-06-22 07:47] mrflow commented on #17065
Hi,

yes you're right, didn't realize there was a documentation for doing this manually

[2015-06-22 08:21] guruz commented on #16587
No need to do that, just change the directory etag (up to the root as usual) and the sync client can re-PROPFIND the directory to get the meta data of each file in a dir.

[2015-06-22 08:23] PVince81 commented on #16587
@icewind1991 can you evaluate the complexity and impact ? Thanks

[2015-06-22 08:25] PVince81 commented on #14507
Yes, please make a separate ticket. Thanks.

[2015-06-22 08:33] PVince81 commented on #16998
Fixed by https://github.com/owncloud/core/pull/16963

[2015-06-22 08:33] #16998 closed

[2015-06-22 08:34] PVince81 commented on #17010
Possibly the similar core issue like https://github.com/owncloud/core/issues/16533

[2015-06-22 08:36] PVince81 commented on #17027
CC @bantu in case you have an idea regarding phpseclib

[2015-06-22 08:37] PVince81 commented on #17029
@icewind1991 have you been able to reproduce this ?

[2015-06-22 08:39] PVince81 commented on #17060
@icewind1991 possibly concurrent scanners trying to scan the same folders at the same time.

Have you been able to access the SMB folder after retrying ?

[2015-06-22 08:40] matzex opened #17067 "files:scan does not scan external storage using the --path option"
This issue were discussed in #14507 already.

### Steps to reproduce
1. use an external storage provider like Dropbox
2. execute the files:scan command on the external folder:
`./occ files:scan --path /user/files/oc/Dropbox`
3. see the command line output, the external storage folders are not scanned

### Expected behaviour
The external storage folders should be scanned. The external storage folde

[2015-06-22 08:48] francesco1119 commented on #17066
ok, here the logs without debug
![schermata del 2015-06-22 20 48 20](https://cloud.githubusercontent.com/assets/3397477/8278518/19bdbf12-1920-11e5-9cc5-01c60d958692.png)

[2015-06-22 08:49] centredecalcul commented on #16505
Same issue in 8.1 RC1

[2015-06-22 08:52] jancborchardt commented on #12658
This is actually a duplicae of issue #7747 which @RealRancor mentioned, closing hence. Let’s continue there.

[2015-06-22 08:52] #12658 closed

[2015-06-22 09:08] DeepDiver1975 commented on #16505
@icewind1991 regarding etag propagation - please have a look - THX

[2015-06-22 09:09] DeepDiver1975 commented on #16505
@cmonteroluque setting sev1 because we shall simply sync

[2015-06-22 09:10] DeepDiver1975 commented on #17067
so why open a new issue then?

[2015-06-22 09:11] DeepDiver1975 commented on #17067
ah - sorry

[2015-06-22 09:16] DeepDiver1975 commented on #17059
@karlitschek might be something we can implement with the mount options.

[2015-06-22 09:19] nickvergessen commented on #17029
The problem is https://github.com/owncloud/core/commit/72eedda16cec0b15850371035c517e98b0e9e064?w=1#diff-d9747e68e80ce288dcea911cb8607546R1179

because the file is new, (just being uploaded) there is no old cache data?The question is, why are we receiving a locked exception anyway, because we have the lock that created the file?

[2015-06-22 09:23] PVince81 commented on #17067
CC @icewind1991

[2015-06-22 09:25] patrick1990 commented on #17010
I can reproduce issue #16533 but I do not have to share the external folder to another user like I've described above in my issue. I think my problem is related with the possible-permissions Variable in core/js/share.js but I wasn't able to debug it completly.

[2015-06-22 09:27] PVince81 commented on #17010
Yes, likely to be related to possible-permissions. This might be tricky to fix as it might require separating the permissions in yet another third permissions var.

[2015-06-22 09:33] nickvergessen commented on #17029
Summary of the problem:
1. We create a file
2. We lock it to write the content (View::file_put_content: https://github.com/owncloud/core/blob/master/lib/private/files/view.php#L550-550 )
3. The encryption wrapper gets a list of users on fopen: https://github.com/owncloud/core/blob/master/lib/private/files/view.php#L554 => https://github.com/owncloud/core/blob/master/lib/private/encryption/file.php

[2015-06-22 09:41] nickvergessen commented on #16962
PR for problem 2 has been merged. problem 1 is nothing we can fix, just leave a comment on transifex.

[2015-06-22 09:41] #16962 closed

[2015-06-22 09:47] jospoortvliet opened #17069 "link-sharing a shared folder already link-shared by owner does not work"
### Steps to reproduce
1. create a folder and share a public link (enable 'editing' for uploading).
2. Upload some files in the folder via the public link in an anonymous browser window
3. share the folder with another user. Enable editing, sharing.
4. log in as other user and try to share the folder via a link.

Enjoy the spinner, but don't expect any actual progress ;-)

### Expected behaviour
Y

[2015-06-22 09:52] PVince81 commented on #17069
@schiesbn @rullzer

[2015-06-22 09:53] jospoortvliet commented on #17069
btw you don't need to give editing rights, a folder which is shared by a public link can not be shared again by another person via a public link.

(that in itself might be fine - it's a restriction which makes sense, but then it should give an error, not hang)

[2015-06-22 10:20] jospoortvliet commented on #17069
![video](https://cloud.githubusercontent.com/assets/551757/8279948/ef61cde0-18d8-11e5-99ee-8a5ba06da938.gif)
Because I was making video anyway - here's a gif showing what's wrong ;-)

[2015-06-22 10:22] DeepDiver1975 commented on #16812
@VicDeo thanks for looking into this - I have to apologize because I might not have share all necessary information with you.

You are absolutely true: our schema migration mechanism totally fails on Oracle under certain conditions. What we need to come up with is a set of sql script which have to be applies manually to the dbs right before upgrade.

So the task would be to write these scripts.

T

[2015-06-22 10:23] #17064 closed

[2015-06-22 10:28] DeepDiver1975 commented on #16587
I had a different impression on this while talking to @dragotin - anyway nothing to think about right now.

[2015-06-22 10:28] DeepDiver1975 commented on #16587
@cmonteroluque please move to 8.2 - THX

[2015-06-22 10:29] icewind1991 commented on #17029
I dont think so, even within the same request locks should be abided.

I think the problem comes down to
[code]

the call to `fopen` creates the file and `file_exists` "sees" the new file since `file_exists` doesn't lock while `getFileInfo` doesn't since that does lock.

Maybe it would be better to have something like
[code]

[2015-06-22 10:59] strehlst opened #17072 "Fix placement of div#notification-container in DOM"
In public.php (browser) and template core/templates/layout.user.php
Don't know if change there would affect any other notifications within the application.

`div#notification-container` is child of `div#body-login > div.wrapper > div.v-aling`
![current notification](https://cloud.githubusercontent.com/assets/545960/8280442/8f128696-18dd-11e5-8f18-b82f0750df50.jpg)

`div#notification-container` sho