[2016-02-22 08:35] LukasReschke commented on #22550
Can reproduce.

[2016-02-22 08:44] LukasReschke commented on #22550
Stacktrace after #22551:

[code]

[2016-02-22 08:47] LukasReschke commented on #22550
Regression caused by https://github.com/owncloud/core/pull/22410

[2016-02-22 08:48] jesmrec opened #22553 "Incorrect message error when re-share without edit privilege"
### Steps to reproduce
1. User1(serverA) share a file with User1(serverB) without edit permission
2. User1(serverB) accepts the share
3. User1(serverB) tries to share the file with User2(serverB)
### Expected behaviour

The following message should be displayed (or similar):

Cannot increase premissions of file.txt
### Actual behaviour

The following message is shown:

Cannot increase premissions

[2016-02-22 09:00] rullzer commented on #22550
PR in #22554

[2016-02-22 09:00] LukasReschke commented on #22547
I already have lying around a very rough prototype for the sharing API here. It's not that much work to define the OCS rules within it but there are some caveats.

If I find some time I'll create a repository and we can talk there about it :smile: Having consumers for most programming languages is indeed something cool.

[2016-02-22 09:29] #20044 closed

[2016-02-22 09:39] MorrisJobke commented on #12329
@PVince81 @rullzer I guess we need some traction here :(

[2016-02-22 09:54] nasli commented on #22553
Happens the same, full path is shown trying to reshare a file if resharing is not enabled on the server
"You are not allowed to share /user1/files/file.txt"

[2016-02-22 09:57] jancborchardt commented on #22545
Ah, this seems to be possible with current master (coming 9.0).

@PVince81 I thought this was a regression, but I assume we didn’t have it in 8.2 and before?

[2016-02-22 10:00] #22545 closed

[2016-02-22 10:03] LukasReschke opened #22559 "Public upload of folders is broken in master"
[code]

[2016-02-22 10:03] jancborchardt commented on #21697
Can’t reproduce this anymore.

[2016-02-22 10:03] #21697 closed

[2016-02-22 10:08] jancborchardt commented on #18312
Nice, that sounds like a very good improvement!

This is fine and we need to make sure that app developers test with the current betas to iron out any issues and then set it to compatible.

[2016-02-22 10:10] jancborchardt commented on #19817
It seems fine. Since the box also has a limit of the 5 visible messages I would even say we do not need the X buttons at all since they vanish after 7 seconds anyway.

[2016-02-22 10:11] jancborchardt commented on #10788
Yep, definitely the last one. All settings should be user-specific and remembered, not only browser- or session-specific.

[2016-02-22 10:16] PVince81 opened #22560 "IE public page footer appears in the middle"
On stable8.2 (with scrolling fixes applied) and also on master, the footer appears in the middle of the public page in IE9-11:

![ie-public-footer](https://cloud.githubusercontent.com/assets/277525/13215417/6b8ce8d6-d955-11e5-97f1-740cd42060a9.png)

It seems it's because in IE the actual height of the "content-wrapper" is still the same as the window, whereas in Firefox/Chrome the actual height ad

[2016-02-22 10:17] PVince81 commented on #22560
@LukasReschke @MorrisJobke @Henni @karlitschek

[2016-02-22 10:18] g4b0 commented on #22505
@LukasReschke what info do you need? I think that's a problem with the bookmarks app certificate, since other apps works well. @hubertu did you install other apps?

[2016-02-22 10:23] PVince81 commented on #22560
Ok, I'm onto something... seems like the good old "hasLayout" problem...

PR incoming.

[2016-02-22 10:29] PVince81 commented on #22560
Fix is here https://github.com/owncloud/core/pull/22561

[2016-02-22 10:30] butonic commented on #16597
A customer just called me because of this. Tho documentation says single user mode allows adinistrators to work, which is clearly not the case when webdav is unusable in single user mode.

[2016-02-22 10:34] hubertu commented on #22505
to specify my case: I did an upgrade from 8.1 (?) to 8.2.2. I have a lot of other apps installed. If i try to upgrade the (not longer supported) Bookmarks App from 0.5 to 0.6, I get the error. No problems with other apps after oc upgrade.
installed apps:
`activity
bookmarks
calendar
contacts
documents
encryption
external
files
files_external
files_mv
files_pdfviewer
files_sharing
files_texteditor

[2016-02-22 10:36] nickvergessen commented on #19817
That is up to the API user, there is showTemporary (default 7secs) and show (doesn't vanish)

[2016-02-22 11:11] PVince81 commented on #22510
Is the request part from the blackberry the same ? I suspect that it might not be sending the request body at all... when you don't send a body with PROPFIND, you'll only get a list of default properties. (it's a Sabre thing).

Could be a browser compatibility thing...

[2016-02-22 11:14] PVince81 commented on #22531
Did you clear your caches and changed the oil ?

[2016-02-22 11:16] PVince81 commented on #22531
(still cannot reproduce it, even after relogging in and clearing the caches).

I uploaded some JPGs and when clicking on their rows, alternating between JPGs and welcome.txt, the sidebar stays open and its content updates.

I don't have any apps enabled, maybe it could be that ?

[2016-02-22 11:20] PVince81 commented on #12329
Severity ? We're past feature freeze.

[2016-02-22 11:22] PVince81 commented on #19817
Note that the upload errors are now permanent, not temporary.
For errors I think we should keep them. Someone might want to retry uploading the failed files.
If the errors disappear they have no chance to take note of the failed files.

[2016-02-22 11:24] PVince81 commented on #16597
Hmmm right... and in 9.0 the web UI uses Webdav, so the web UI won't work at all for admins.

We should probably allow Webdav whenever the current user is an admin.
What do you think ?

CC @LukasReschke @icewind1991

[2016-02-22 11:33] rullzer commented on #22122
I just noticed that we are actually inconsitent here.

We never set delete permissons for federated shares... it is either 7 (READ+CREATE+UPDATE) or 1 (READ) (for folders this is). However we do allow deleting files/folders inside our fedearated share.

What I propose. All the clients from now on start sending DELETE permissions as well (if can edit is selected). This does not affect the current s

[2016-02-22 11:37] butonic opened #22563 "race condition in insertOrUpdate queries"
race condition in insertOrUpdate queries (completely reworked in 9.0 - try to curricumvent them in stable8.1/2 code too) - the reason for this is that those queries are technically two queries (there is a subquery) and if a parallel insert happens after the subquery is executed this could happen

error message:

[code]

and:

[code]

Since we implemented a non standard insertIfNotExists [we cannot

[2016-02-22 11:45] blizzz commented on #18165
@averi got this somehow out of sight - does the issue still exist?

[2016-02-22 11:54] rdalmaso78gmailcom commented on #18049
Hi I have the same problem... OC 8.2.2 on Ubuntu 14.04 lts. Notifications activity does not work at all, email setup is ok. Thanks in advance for your help

[2016-02-22 12:22] MorrisJobke commented on #22531
It was fixed by an update of the activity app to the latest master. There was a JS error.

[2016-02-22 12:22] #22531 closed

[2016-02-22 12:32] MorrisJobke commented on #12329
I just got a report from @CaptionF - I can't judge. It's just something that comes up more often in the past. But I'm also fine with a 9.1 fix if it is not super urgent.

[2016-02-22 12:37] PVince81 commented on #22122
Sounds good.

[2016-02-22 12:38] oparoz commented on #22510
The request is exactly the same. I'm not sure why Sabre would act differently depending on the browser, but it could be a regression in Sabre 3.

[2016-02-22 12:41] PVince81 commented on #22510
Can you double check the Blackberry requests' namespaces and aliases maybe ? Are they also the same ? (in case it's something subtle)

I grepped the Sabre code but didn't see anything related to blackberry like user agent detection.
Maybe something else is different, the headers.

I still don't see why it would influence the result.

[2016-02-22 13:00] nickvergessen opened #22564 "Deleting a file from the trashbin via View/Node API leaves trashbin entry in DB"
### Steps to reproduce
1. Delete a file so it's moved to the trashbin
2. Delete the trashed file via one of the APIs:

[code]
3. Check the trashbin table

### Expected behaviour
There should be no entry

### Actual behaviour
Entry is left

### Server configuration
**ownCloud version:** 9.0

@schiesbn

[2016-02-22 13:05] javiergonzper commented on #22122
We can do it. Is it definitive?
#define k_defaul_file_remote_share_permission 11
#define k_defaul_folder_remote_share_permission 15

Right?

[2016-02-22 13:10] nasli commented on #22550
:+1: fixed on #22554

[2016-02-22 13:11] nickvergessen commented on #22563
cc @icewind1991

[2016-02-22 13:13] #22560 closed

[2016-02-22 13:13] #19974 closed

[2016-02-22 13:14] #22550 closed

[2016-02-22 13:14] #22512 closed

[2016-02-22 13:16] nickvergessen commented on #22540
Can you have a look at the browser console? Because even "Enabled" and "Disabled" lists are missing and those two are not served by the app store.

[2016-02-22 13:18] nickvergessen commented on #22538
We would need an API to check the quota then and on each upload each other app would need to load to have a look how much the user has in other apps.

"Will not fix" for me, @DeepDiver1975

[2016-02-22 13:21] CaptionF commented on #12329
the complaint is foreseeable. preferably  9.0.x, rather then 9.1

[2016-02-22 13:21] nickvergessen commented on #22537
Please provide us with the config information that is mentioned on the issue template:

If you have access to your command line run e.g.:
sudo -u www-data php occ config:list system
from within your ownCloud installation folder

(Without the database password, passwordsalt and secret)
[code]

[2016-02-22 13:23] oparoz commented on #22510
Everything is the same.

The 2 differences I can see in the Blackberry debugger:

* Transfer-Encoding:chunked
* Via:1.1 proxy.local (squid/3.5.14)

But that could be because the debugger presents information differently

[2016-02-22 13:33] MorrisJobke commented on #22501
Fix is in https://github.com/owncloud/core/pull/22565

[2016-02-22 13:34] nickvergessen opened #22566 "Too many mapping entries for system tag kill the DB server"
### Steps to reproduce
1. Add files 1-1000 to tag X
2. Get files for tag X
3. Watch the server die :disappointed:

### Expected behaviour
Server should not die and the API should have an option to get the list with a limit

### Actual behaviour
!(**Expected behaviour**)

@PVince81 as discussed

[2016-02-22 13:34] #20258 closed

[2016-02-22 13:37] blizzz commented on #22508
@VicDeo since it's updating, does it refer to code parts you are involved in with regard to 9.0? If so, you might have a fix at hand? Otherwise it looks like we need to bring back life into #13865 indeed :speak_no_evil:

[2016-02-22 13:37] PVince81 commented on #22566
We can try introducing pagination like for comments in that REPORT call.

[2016-02-22 13:44] DeepDiver1975 commented on #22508
@blizzz the new updater will start working oc9+ - the upgrade to 9 will be done via the traditional path. In addition the overall upgrade mechanism is handled in core.

Looks like we need to fix the app upgrade order asap ....

[2016-02-22 13:45] MorrisJobke commented on #12329
Just to keep in mind: It's an enhancement and we are in feature freeze. @MTRichards for scheduling this.

[2016-02-22 13:45] DeepDiver1975 commented on #22538
me too - the volume contacts and calendar information consume is to be ignored compared to e.g. pictures being stored in owncloud

[2016-02-22 13:48] CaptionF commented on #21365
@cmonteroluque yes, it is: #https://github.com/owncloud/enterprise/issues/971
so yes 9.1
any instance with macs storing files directly in external files will create such issue!

[2016-02-22 13:48] rullzer commented on #22122
You can't share single files with delete permissions. So it only changes for the folders.

@javiergonzper Lets wait for @schiesbn to agree as well ;)

[2016-02-22 13:53] javiergonzper commented on #22122
Ok, thank you @rullzer :wink:

[2016-02-22 14:02] #22538 closed

[2016-02-22 14:07] schiesbn commented on #22122
discussed it also with @rullzer and agree with this summary https://github.com/owncloud/core/issues/22122#issuecomment-187133309. This is a good way forward

[2016-02-22 14:08] jancborchardt commented on #19817
Ok, good call! :)

[2016-02-22 14:09] rullzer commented on #22122
@javiergonzper so yes please implement that...

[2016-02-22 14:10] javiergonzper commented on #22122
:+1:

[2016-02-22 14:16] nickvergessen opened #22568 "Inconsistency between interface and implementation of system tag object mapper"
The doc blocks say that object ids can be strings:
https://github.com/owncloud/core/blob/682821c71ed2af297170294632931be1ac769f25/lib/public/systemtag/isystemtagobjectmapper.php#L78
But we store them in an int table:
https://github.com/owncloud/core/blob/2035a179bc319cf3f339e90e14dc01c7a980bc78/db_structure.xml#L1249-L1257

We should fix this by changing the DB structure to the same the comments h

[2016-02-22 14:25] oparoz commented on #21173
Could people experiencing the issue add this to their config files?

`'filesystem_check_changes' => 2,`

[2016-02-22 14:39] Neraste commented on #17581
Not an answer or an explanation, but upgrading to 8.2.2 eventually solved the problem.

[2016-02-22 14:45] bboule commented on #18922
I think we need to loop @MTRichards into this as well as it seems product related

[2016-02-22 14:47] karlitschek commented on #19964
Is this really a sev2?

[2016-02-22 14:54] DeepDiver1975 opened #22575 "[9.0] contacts search is case sensitive"
### Steps to reproduce
1. Add contacts to any of a users addressbook with upper case characters
2. Search (e.g.calendar location search) for the contacts but with lowercase

### Expected behaviour
Contact is being found

### Actual behaviour
It is not

### Server configuration
**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**ownCloud version:** (see ownCloud admin page)

[2016-02-22 15:06] MartinW2 commented on #10788
I still would recommend to also allow the admin to set a default, which can
be overridden by the user's settings.
Anyway, i don't think my opinion is considered to be relevant here.
Best regards, Martin

2016-02-22 11:11 GMT+01:00 Jan-Christoph Borchardt <notifications@github.com

[2016-02-22 15:12] MorrisJobke commented on #18922
I have some alpha grade code ... needs some love: https://github.com/owncloud/serverhealth and has already first tests.

[2016-02-22 15:36] lgg42 commented on #21173
@oparoz I tried after your comment and still not having thumbnails generated,
Did this config option worked for you?

Thanks!

[2016-02-22 15:40] oparoz commented on #21173
I did not test it, but it's a setting which was introduced in 8.2 to minimize requests made to the filesystem.

If you've attached the folder using the `files_external` app, you need to change the setting there as well as each "mounted" folder has its own settings.

[2016-02-22 15:56] nickvergessen commented on #16751
After some lunch discussion the following idea was the conclusion:

When a remote share is deleted by moving it to the trash, the remote shares should stay intact.
This is needed, because otherwise the "restore" is not an undo of the delete anymore.

While the share is in the trash, the remote user however should be able to have the file synced (like with normal storage not available exception) an

[2016-02-22 16:07] PVince81 commented on #22460
@MTRichards should sharing be disabled by default for any newly created external storage mount point regardless of type ?

That was the case for WND for example, maybe it was a safety measure.

[2016-02-22 16:19] LukasReschke opened #22577 "File is delivered without attachment disposition content dispositon on master"

[2016-02-22 16:21] jnweiger commented on #22257
@LukasReschke testing the beta2 Ubuntu:14.04 package from https://obs.int.owncloud.com/package/show/ce:9.0:testing/owncloud-files
shows, that the disable-updatechecker.config.php got merged into config.php
My $CONFIG contains 'updatechecker' => false,

Still there is

Update notification 0.1.0 listed as enabled in the Apps view.

[2016-02-22 16:25] LukasReschke commented on #22257
Yes. The app will be marked as enabled but it won't do anything basically. Not much we can do here from my PoV. Adding a hack to core for this seems odd.

[2016-02-22 16:27] LukasReschke opened #22578 "Calendar names can be enumerated"
- Request a not existing calendar: `http://localhost/remote.php/dav/calendars/admin/NotExistingCalendar`

[code]

- Request an existing, not-shared, calendar:  `http://localhost/remote.php/dav/calendars/admin/existingcalendar`
[code]

(probably also affects the other endpoints, just reading through the code and testing)

<hr/>

From a security PoV we should not leak the existence of a calendar. Is

[2016-02-22 16:27] Neraste commented on #17581
Well, I was too quick...

With OC 8.2.2 as fresh install or as update, sharing works, but unsharing is still broken...

[code]

[2016-02-22 16:28] jnweiger commented on #22257
Okay. If that is correct behavoiur, let's close here. Thanks.

[2016-02-22 16:28] #22257 closed

[2016-02-22 16:30] PVince81 commented on #17581
Do you by any chance have any ad blocker enabled ?

Because unsharing should work on fresh installs, but sometimes ad blockers might mess with URLs...

[2016-02-22 16:34] Neraste commented on #17581
Just deactivated AdBlock Plus, it didn't changed anything.

[2016-02-22 16:40] jnweiger commented on #21801
Yes. all the .bower .git* and so on files are removed during packaging. Only .htaccess was curently retained.

9.0 packaging will have the .user.ini --

[2016-02-22 16:47] tigermick commented on #21173
I had test to modify config file mount.json to add your setting @oparoz  but it doesn't work.
With this setting I can see thumbnails of my picture neither in owncloud app nor in web interface ; without this setting, it works just in web interface.

[2016-02-22 16:50] tigermick commented on #21173
@oparoz , I just seeing your setting is already in mount.json.
I have this :
`"mountOptions": {
                    "encrypt": true,
                    "previews": true,
                    "filesystem_check_changes": 2
                }`

[2016-02-22 16:51] oparoz commented on #21173
Thanks @tigermick. This is still on 8.2x, yeah?

[2016-02-22 16:55] PVince81 commented on #17581
And I guess still nothing in the logs ?

Can you check the browser's network console and paste a screenshot of the matching call ? It should be a POST to share.php that fails (red). We need to see the request body and the response body.

[2016-02-22 16:56] tigermick commented on #21173
I am on 8.2.2. @oparoz

[2016-02-22 16:56] MorrisJobke commented on #12329
A potential fix is in #22576

[2016-02-22 17:06] tigermick commented on #21173
@oparoz, I had try to delete your setting too. Like this, Thumbnails don't display in both (owncloud application and web interface) ...

[2016-02-22 17:16] Commenter123 opened #22580 "Wizard is not using theme's slogan"
### Steps to reproduce
1. Create a custom theme: Copy themes/example to themes/mytheme
2. Edit themes/mytheme/defaults.php and edit `getSlogan()` function (see below)
3. The wizard however still shows the default slogan "Your personal web services. All your files, contacts, calendar and more, in one place."

[code]

[2016-02-22 17:18] oparoz commented on #21173
That sounds very strange. Maybe there is a regression in that part of the code. 9.0 only has an on/off switch for that check.

[2016-02-22 17:49] steve-s-71 commented on #22537
Hi Nick,

Here is current config.php content. Instead of  'trashbin_retention_obligation' => '14, 30',  I also tried the other stuff as listed above in my inital post:

<?php
$CONFIG = array (
  'instanceid' => '#####',
  'passwordsalt' => '#####',
  'secret' => '#####',
  'trusted_domains' =>
  array (
    0 => '192.168.178.3',
    1 => '#####',
    2 => '#####',
  ),
  'datadirectory' => '/ocdat

[2016-02-22 17:50] steve-s-71 commented on #22537
reopen as closing was not intentionally..

[2016-02-22 18:35] cmonteroluque commented on #18311
@oparoz is this ready to close?

[2016-02-22 19:16] DeepDiver1975 commented on #22578
@LukasReschke what is the http status code in both cases? THX

[2016-02-22 19:22] LukasReschke commented on #22578
Not existing: 404
Existing but no permission to access: 403

[2016-02-22 19:25] DeepDiver1975 commented on #22578
so - just based on this http status code it is already possible to determine if a calendar exists or not.

I guess this is quite valid for any api of any service out there to give the api user feedback on the error.
There is a difference between these two cases.

I honestly don't know how to fix this ....
... is this really an issue?

[2016-02-22 20:27] MTRichards commented on #22460
It should be off by default.

[2016-02-22 20:48] blizzz commented on #19240
@SergioBertolinSG with current master?

[2016-02-22 20:59] jknockaert opened #22583 "decryption fails on external WEBdav storage"
A bit of a a weird issue. I mounted an external owncloud (7.something; probably enterprise; no encryption) storage using its nonshib webdav server interface on my community 8.2 server with encryption. So far so good, the external storage is accessible through the user interface. Then I upload a file. The (encrypted) file gets properly stored on the external storage, and the encryption keys are pro

[2016-02-22 21:45] jknockaert commented on #22583
@PVince81 @schiesbn Any idea?

[2016-02-22 21:49] cmonteroluque commented on #19941
changed severity to match https://github.com/owncloud/core/issues/9630

[2016-02-22 21:51] #20242 closed

[2016-02-22 22:01] cmonteroluque commented on #21092
is this ready to close?

[2016-02-22 22:04] cmonteroluque commented on #21146
@PVince81 @LukasReschke fyi

[2016-02-22 22:14] #21685 closed

[2016-02-22 22:50] MorrisJobke commented on #21092
I haven't seen this for a while. Just retested and it works here.

[2016-02-22 22:50] #21092 closed

[2016-02-22 22:53] oparoz commented on #18311
I still find it strange that we have to click on the filename in order to be able to get the fullscreen preview and the behaviour is inconsistent since sometimes we end up in an editor and at other times in a viewer.

I feel the checkbox should be kept separate from the thumbnail in order to make it easier to differentiate between actions on mobile

[2016-02-22 23:10] blizzz commented on #19846
Config issue, I can recommend the part about search attributes: https://doc.owncloud.org/server/8.1/admin_manual/configuration_user/user_auth_ldap.html#directory-settings

[2016-02-22 23:10] #19846 closed

[2016-02-23 08:12] nickvergessen commented on #22537
Okay, seems like you are using ajax cron, since you didn't change it to system or webcron.

Can you have a look at the oc_jobs table in your database?
Would be nice if you can run the following query and post the result here:
[code]

[2016-02-23 08:15] Dianafg76 opened #22585 "When you have a Notifications, could be bigger the red spot"
### Steps to reproduce

When you have a Notifications the red spot is a little small
![screen shot 2016-02-23 at 08 55 19](https://cloud.githubusercontent.com/assets/12032058/13245393/2085a9fa-da0d-11e5-8d18-c79718a57e87.png)

For example on Github the blue spot is bigger than in ownCloud

![screen shot 2016-02-23 at 08 55 38](https://cloud.githubusercontent.com/assets/12032058/13245415/475aee32-d

[2016-02-23 08:39] rperezb commented on #22585
@owncloud/designers

[2016-02-23 08:41] LukasReschke commented on #22580
@karlitschek @jancborchardt Should we adjust this? What is the expected behaviour here?

[2016-02-23 08:50] jesmrec opened #22587 "Federated Sharing: resharing not allowed whitout edit permission"
### Steps to reproduce
1. User1 (server1) shares a file with User2 (server2) without edit permission
2. User2 (server2) accepts the federated share
3. User2 (server2) wants to re-share the file with another user

### Expected behaviour
User2 can re-share the file if permissions do not exceed the granted ones.

### Actual behaviour
User2 can not re-share the file with anybody in his server or in ot

[2016-02-23 08:54] tunisiano187 commented on #13649
I'm interested withthis feature too...

[2016-02-23 09:18] PVince81 commented on #22460
@icewind1991 can you make the sharing option off by default ?

[2016-02-23 09:25] Commenter123 commented on #22580
Expected behaviour is to show `Hello world` instead.
Looks like this is `true`: https://github.com/owncloud/firstrunwizard/blob/f50b1bbe64d2c9097199ae300376227247564b07/templates/wizard.php#L7

[2016-02-23 09:31] PVince81 commented on #15166
PR was merged already (oc_mounts table), closing

[2016-02-23 09:31] #15166 closed

[2016-02-23 09:36] PVince81 commented on #22151
Any update, does the check pass now ? @tflidd

[2016-02-23 09:36] #19817 closed

[2016-02-23 09:43] DeepDiver1975 opened #22588 "[master] swift docker is not starting up properly"
### Steps to reproduce
1. run ./autotest.sh sqlite

### Expected behaviour
Tests are being executed

### Actual behaviour
The docker never opens up port 80 - we cannot connect

### Server configuration
**Operating system**: Debian

**Web server:** none

**Database:** sqlite

**PHP version:** 7.0.3

**ownCloud version:** master 83d5080e78fa481db3855da8fcd75f624f8cac1c

**Updated from an older ownCl

[2016-02-23 09:44] DeepDiver1975 commented on #22588
@Xenopathic did you recently change anything to your docker image?

can this cause the issues?

THX

[2016-02-23 09:44] DeepDiver1975 commented on #22588
@MorrisJobke since you know docker as well - you might want to have a look - THX

[2016-02-23 09:44] PVince81 commented on #22450
@VicDeo any update ?

[2016-02-23 09:47] PVince81 commented on #22233
@jancborchardt will you take care of this ? Or should I ?

[2016-02-23 09:48] #22575 closed

[2016-02-23 09:56] MorrisJobke commented on #22585
For relation:

<img width="440" alt="bildschirmfoto 2016-02-23 um 10 55 57" src="https://cloud.githubusercontent.com/assets/245432/13247902/173d4db2-da1c-11e5-9d4c-37460128343a.png">

[2016-02-23 10:00] rperezb opened #22589 "[API] Pending share are deleted instead of being accepted"
Related to: https://github.com/owncloud/QA/issues/152

### Steps to reproduce
1.- check list of pending remote shares
[code]
Getting this as answer:
[code]

2.- Try to accept the pending share using remote_id (Following documentation):
[code]

### Actual behaviour
This deletes the pending share, and it is not accepted.

### Expected behaviour
The share is accepted

### NOTE
This seems to be a bug

[2016-02-23 10:00] DeepDiver1975 commented on #22588
I'm running docker 1.8.3 locally - the jenkins slaves are on 1.6.2.

There is not legacy warning with 1.6.2

[2016-02-23 10:01] tflidd commented on #22151
I'm still blocked due to this packaging issue #22374

On 2016-02-23 10:36, Vincent Petry wrote:

[2016-02-23 10:02] rperezb commented on #22587
ownCloud 9.0.0 beta 2 (daily) Build:2016-02-23T04:40:25+00:00 83d5080e78fa481db3855da8fcd75f624f8cac1c

[2016-02-23 10:07] PVince81 commented on #22016
@SergioBertolinSG did you manually add "https" in the host field or did you just use the format "host/owncloud/remote.php/webdav" ?

[2016-02-23 10:09] PVince81 commented on #21968
This would be a bigger change of behavior because we never used part files for move/copy operations, so it needs to be thought through properly to avoid potential regressions.

I can set it to 9.0.1 to evaluate the risk.

[2016-02-23 10:11] PVince81 commented on #22175
@Trefex any update ? Do you still see the issue with 9.0beta2 which contains the fix ?

[2016-02-23 10:14] nasli commented on #22148
If on the server exist the user "user4" and not exist "User4"
You can share with user4@server or User4@server, and with both "user4" receive the notificacion, but
is still possible to share twice the same file with the same user User4@server and user4@server, and if you delete one of this shares ("User4@server") in the account of "user4" is removed the share file, but you still see share with ("us

[2016-02-23 10:20] PVince81 commented on #21555
Can anyone reproduce this locally ? @rullzer @blizzz

[2016-02-23 10:20] PVince81 commented on #21223
Any update ?

[2016-02-23 10:22] PVince81 commented on #20686
The fix was merged, close ?

[2016-02-23 10:33] butonic commented on #14769
This seems to be an issue with libsmb. Verified with samba 4.2.8. However, only a DFS share was tested. An easy way to reproduce is by trying to rename a file in the web UI.

@cmonteroluque raise priority and set milestone?

[2016-02-23 10:33] PVince81 commented on #18450
Improving performance for PROPFIND on fed shares require bigger risky changes as per https://github.com/owncloud/core/issues/13882#issuecomment-73927046 and https://github.com/owncloud/core/issues/5383#issuecomment-173610139 (auth redundancy)

Moving to 9.1. @cmonteroluque

Would still be good to know whether the performance got better in 9.0 beta2 compared to 8.x.

[2016-02-23 10:37] cdamken commented on #20291
I just took over the case 00004123 in SFDC, and its referred to this issue.

I'm reading the customers request and he asked it since oC6,

Other customers have a similar solution with second display name like: https://github.com/owncloud/enterprise/issues/690 and https://github.com/owncloud/enterprise/issues/1088

In this case is Shibboleth an additional factor, I'm not sure if that is a differenc

[2016-02-23 10:37] Xenopathic commented on #22588
Nope, no change with the image at all. I'll look into these 'legacy registry' messages and try to fix it.

[2016-02-23 11:10] VicDeo commented on #22450
@PVince81 I can assume the following:
- `rsions` was a local directory name like this: `/ocDataDir/User/files/rsions so there is nothing suspicious here
- the issue is likely related to trashbin expiration cron job

[2016-02-23 11:11] PVince81 opened #22590 "Missing signature with encryption on GDrive"
### Steps

1. Enable encryption
1. Mount GDrive as "/gdrive"
1. Create a subdir "/gdrive/enc"
1. Upload a picture (1-2mb) with the web UI into "/gdrive/enc/test.jpg"
1. Try downloading it

### Expected
Download works

### Actual
"Missing signature" error.

[code]

Note that GDrive's stream is not seekable, in case it's related somehow.

Strangely it works properly on Amazon S3, which isn't seekabl

[2016-02-23 11:12] nickvergessen commented on #22589
@rperezb the PyOCClient performs the POST on `remote_shares/pending/' + str(share_id)`
https://github.com/owncloud/pyocclient/blob/master/owncloud/owncloud.py#L669-L673

You seem to miss the `pending` part?

[2016-02-23 11:15] raidenn opened #22591 "File Is Loked"
### Actual behaviour
Hey! I saw that this is a common problem and it was fixes in 8.2.2 release. In my case, i guess it's not :/
Syncing larger files, i get this error. I used a test.txt with 500MB.

Tried to clean the oc_file_locks table manually too, nothing changed.

Any help with this?

### Server configuration
**Operating system**: Ubuntu Linux

**Web server:**

**Database:** MySQL

**PHP ver

[2016-02-23 11:18] nickvergessen commented on #22591
Not sure if tht is our locking, or sabre, @DeepDiver1975

[2016-02-23 11:25] LukasReschke commented on #22590
@PVince81 Can you post the database entry that you have in the filecache for said files?

[2016-02-23 11:25] jesmrec commented on #22525
Related to this: the deletion of a source file in a re-share causes the same behaviour.

- User1 shares User2, and User2 re-shares to User3 (all of them federated)
- User2 remove the file -> the actual and expected behaviours in User3 are the same as descripted.

[2016-02-23 11:28] mmattel commented on #22533
OK, I found the problem. I am now able to use Federated Sharing.

Even I did what LE guidelines said, something was wrong with the nginx ssl certificate setup (would have hit imho the apache setup too). I will do a documentation PR to give some hints to avoid running into that issue.

[2016-02-23 11:28] #22533 closed

[2016-02-23 11:41] averi commented on #18165
@blizzz I do confirm the error is still there and appears only with specific users, the most recent failure:

{"reqId":"\/Q0FsJpBqFB6KMJjUi3z","remoteAddr":"172.x.x.x","app":"user_ldap","message":"LDAP Login: Could not get user object for DN uid=foo,cn=users,cn=accounts,dc=gnome,dc=org. Maybe the LDAP entry has no set display name attribute?","level":2,"time":"2016-02-22T14:25:56+00:00"}

The user

[2016-02-23 11:52] karlitschek commented on #22580
hmm. i think we should adjust that. what donyou think @jancborchardt?

[2016-02-23 11:56] MorrisJobke commented on #22148
cc @nickvergessen @schiesbn @rullzer

[2016-02-23 12:08] cdamken commented on #22450
Sorry but no, I never created a `rsions` folder in my `/files` user.

[code]
root@snoopy:/mnt/owncloud/data# ls -la /mnt/owncloud/data/carlos/files_versions/* |grep carlos.txt
-rw-r--r-- 1 www-data www-data   117 Okt  6 12:16 /mnt/owncloud/data/carlos/files_versions/hello carlos.txt.v1444125868
[code]

[2016-02-23 12:33] blizzz commented on #21555
If iOS is okay, and the web interface, too, it rather looks like that the issue is to be found within the Android code.

I need to prepare a proper test setup first. My initial attempts to reproduce it [did not succeed, but found other issues with files_external](https://github.com/owncloud/core/issues/21555#issuecomment-170140218). I should further look into it, but have a couple of issue to look

[2016-02-23 12:34] nickvergessen opened #22594 "Meta data lost when recipient restores a file"
### Steps to reproduce
1. Create a file in a folder
2. Comment and tag that file
3. Share the folder
4. As recipient delete the file
5. As recipient restore the file
### Expected behaviour

Comments and tags should still be there
### Actual behaviour

Comments and tags are missing, because the file ID changes, when the item is restored by a recipient instead of the owner
### Server configuration

[2016-02-23 12:34] PVince81 opened #22595 "occ files:scan --all doesn't scan external storages"
### Steps

1. Setup a GDrive mount as "/gdrive" (system-wide)
1. Setup as SFTP mount as "/sftp" (system-wide)
1. Setup as S3 mount as "/s3" (system-wide)
1. Run "occ files:scan --all -v"

### Expected
Scanner also scans external storage

### Actual
Scanner only scans local files

I had to use `--path` with the path to the external storages to make it work.

### Versions
ownCloud 9.0 git master fae

[2016-02-23 12:34] blizzz commented on #21223
No.

[2016-02-23 12:34] PVince81 commented on #22595
@icewind1991 @mmattel

I'll try a quick debug later since I have it reproduced locally.

[2016-02-23 12:36] nickvergessen commented on #22594
### Solution

1. We should try to restore the file of the owner instead of the recipient, when the item is still shared and the owner didn't delete the file and ...

Since this solution is rather complicated with the conditions that can happen (unshare of parent, delete, etc.) it might be needed to copy meta data on copy?

For 9.0 we should at least consider to copy the tags, to make sure the work

[2016-02-23 12:39] nickvergessen commented on #22148
Well not all user backends are not forced to be case insensitive so it might be, that User4 and user4 are two different users on a server. Since we can not check that, we have no way to detect that and therefor need to allow it?

[2016-02-23 12:39] PVince81 commented on #22590
[code]

[2016-02-23 12:42] DeepDiver1975 commented on #22594
deleting a share file means unshare - so restore should then be a 'simple' un-unshare.

what am I missing?

[2016-02-23 12:44] PVince81 commented on #21751
A much better solution from @schiesbn and @jknockaert here: https://github.com/owncloud/core/pull/22579

[2016-02-23 12:45] PVince81 commented on #22450
"rsions" looks like "files_versions" badly truncated, removing the 8 first characters.
Now what code path would remove the 8 first characters of a path ?

[2016-02-23 12:47] blizzz commented on #18165
@averi Which LDAP server do you use? Can you provide the LDAP record of an affected user? As you did in https://github.com/owncloud/core/issues/18165#issuecomment-130281668 but with uid, cn.

That's really fishy. Could you check the LDAP server log for the related request? Whether an error was thrown or results actually delivered?

[2016-02-23 12:47] nickvergessen commented on #22589
I can not reproduce that the remote share is deleted.
I also receive `405 Method Not Allowed` on those urls (missing the `pending` part), but other then that I could not find a way to delete it with a POST.
Please confirm @SergioBertolinSG

[2016-02-23 12:47] PVince81 commented on #22594
@DeepDiver1975 this is not about single file shares.

Share a folder and have the recipient delete a file inside that shared folder.
The default logic will move the file to trash for both the owner and recipient.
Only the owner keeps the fileid.

[2016-02-23 12:51] MorrisJobke commented on #22594
...and the recipient gets a copy of those files to be able to restore them. (but this will result in a new fileid)

[2016-02-23 12:51] mmattel commented on #22595
Can´t test as I do not have GDrive or SFTP ect, SMB only
But FYI, the coding changes done were not related to the scan process itself but only to the behaviour of console output of the details. Scanning of SMB does work on my system with occ files:scan --all -v

[2016-02-23 12:52] DeepDiver1975 commented on #22594
so step 3 is wrong - should be - share the folder containing the file

[2016-02-23 12:53] DeepDiver1975 commented on #22594
so this duplication of data requires duplication of tags and comments as well ... bääh

[2016-02-23 12:56] PVince81 commented on #22595
@mmattel with the latest master ?

I seem to remember seeing it sometimes working, sometimes not.
Sometimes you said it doesn't work and when I did, it did work.

There seems to be some random element there. Now that I have it failing, maybe I'll find what's wrong.

[2016-02-23 12:59] PVince81 commented on #22594
you got it

[2016-02-23 13:01] jancborchardt commented on #22233
Yeah, I’ll do this.

[2016-02-23 13:02] PVince81 commented on #22595
Additional detail: `occ files:scan root -v` also doesn't work. Maybe the mount points are initialized properly.
Debugging now...

[2016-02-23 13:05] nickvergessen commented on #22594
Right, sorry fixed the steps

[2016-02-23 13:07] gig13 opened #22596 "Windows Office files via SMB mount through WebDAV is prompting for authentication"
### Steps to reproduce
1. Place Windows Office files ( .doc, .docx, ..) on a Windows Share
2. Setup an ownCloud External Storage - SMB/CIF mount to the Windows Share
3. Attempt to open the files via a WebDAV mount through the OC mount

### Expected behavior
The user should be able to open the Windows Office files just as if they were using a standard Windows mount.

### Actual behavior
The user is

[2016-02-23 13:07] mmattel commented on #22595
The issues from thepast are fixed and I do not have something open here.
Tested with latest master today an works with smb flawless, example below, all smb.
[code]

[2016-02-23 13:09] DeepDiver1975 commented on #22594
np - thx

[2016-02-23 13:10] nasli commented on #22148
Shares could be always case sensitive, and if I try to share with User4 and does not exist not allow me to share

[2016-02-23 13:10] DeepDiver1975 commented on #22594
I tend to agree on that ... what about creating a copy of a file? Does this cause copy of tags and comments?

[2016-02-23 13:11] gig13 commented on #22596
Log file on https://s3.owncloud.com/owncloud/index.php/apps/files?dir=%2FShared%2Fowncloud%2Fsupport%2Fgithub-issues%2Fcore%2F22596
Does not have much info...

Other information from MS -- https://support.microsoft.com/en-us/kb/2019105

[2016-02-23 13:13] PVince81 commented on #22595
Okay, I think I got it.

Actually I found this while testing https://github.com/owncloud/core/pull/22579 with external storages.
I believed it was broken on master but then it suddenly worked again on master.

Sorry for the noise.

[2016-02-23 13:13] #22595 closed

[2016-02-23 13:14] nickvergessen commented on #22594
Currently it does not

[2016-02-23 13:17] DeepDiver1975 commented on #22594
we should consider this ... any file can be copied via webdav

[2016-02-23 13:17] nickvergessen commented on #22594
the problem is, when you copy a folder, you need to recursivly do all that...

[2016-02-23 13:20] ralin3 opened #22597 "Error with security checks when nginx as reverse proxy to apache2"
### Steps to reproduce
When using the following nginx config:
`server {
        listen 443 ssl http2;
        server_name cloud.example.com;
        ssl_certificate /etc/letsencrypt/live/cloud.example.com/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/cloud.example.com/privkey.pem;
        ssl_trusted_certificate /etc/letsencrypt/live/cloud.example.com/chain.pem;
        add_head

[2016-02-23 13:21] LukasReschke commented on #22597
This seems like a setup related issue, please check owncloud.org/support for further references.

[2016-02-23 13:22] DeepDiver1975 commented on #22594
true :puke:

[2016-02-23 13:26] PVince81 commented on #22595
There is one problem though: in the case I tested there was an encryption exception, but it did not get displayed. This led the my confusion that there was a problem in the scan routine that made it ignore external storages. Would be good to log the exception here: https://github.com/owncloud/core/blob/master/apps/files/command/scan.php#L136

@mmattel does hitting ctrl+c also create an exception ?

[2016-02-23 13:29] jancborchardt commented on #22580
Hm … that sentence has nothing to do with the slogan though.

Regarding that people don’t read a lot of text – and there’s already a bunch of text in that wizard window – I’d rather cut the line entirely.

[2016-02-23 13:29] ralin3 commented on #22597
I can't see how it can be, when the headers are applied if I dont trust Owncloud's judgement?

There are no info regarding this here:
https://doc.owncloud.com/server/8.0/admin_manual/configuration_server/reverse_proxy_configuration.html

Nor here:
https://statuscode.ch/2015/05/security-and-owncloud-8.1/#security-related-headers-can-now-be-sent-by-the-web-server
or here:
https://doc.owncloud.com/se

[2016-02-23 13:31] LukasReschke commented on #22597
Please post the link to your ownCloud.

[2016-02-23 13:33] Trefex commented on #22175
@PVince81 for that I would have to setup a test environment and test it.

But it seems related yes.

[2016-02-23 13:35] MorrisJobke commented on #20686
The test fails :(

[code]

[2016-02-23 13:39] blizzz commented on #22175
@Trefex I'll close it then as fixed. If you still see the issue once 8.2.3 is out, please reopen this report.

[2016-02-23 13:39] #22175 closed

[2016-02-23 13:40] PVince81 commented on #20686
201 is "created", 204 is "no content".

201 is only when uploading brand new files I believe.
204 is when overwriting files.

Can you check ? Do you also get 204 is you remove the quota limit ?

[2016-02-23 13:41] LukasReschke opened #22598 "Add integration test for CSRF protection on DAV"

[2016-02-23 13:43] PVince81 commented on #18312
@VicDeo what happens if the updater tries to reenable an app and there is an error ? Does the updater detect it and re-disables that app ?
There are two possible error cases:
1) core refuses to reenable the app due to version issue, this should result in a clean OC. No need to re-disable
2) core happily enables the app, but the app's code bricks OC.

Often in the case of 2) it is not possible to r

[2016-02-23 13:44] MorrisJobke commented on #20686
@PVince81 Correct. I updated the PR and we will see.

[2016-02-23 13:46] PVince81 commented on #10511
Still happens on master fae6643e6dd4bc308170e0ab45886f110f60a639.

The GUI doesn't check for duplicate mount point names so I was able to mount two system-wide SFTP mounts onto the same mount point "/sftp".

[2016-02-23 13:51] PVince81 commented on #10511
In the GUI it is also tricky to detect duplicates, because it could be a legitimate use case, for example:
- for users user1 and user2, mount SFTP with config1 as "/sftp"
- for users user3 and user4, mount SFTP with config2 as "/sftp"

Such configs don't overlap. To detect overlaps, the JS code would have to check whether there is an overlap in user names from the applicable field.

Now if we want

[2016-02-23 13:51] PVince81 commented on #10511
Note that now we also have the CLI command to create mount points, so whichever solution is implemented would need to cover both the GUI configs and CLI config.

[2016-02-23 13:52] jancborchardt commented on #22585
As per https://github.com/owncloud/notifications/pull/66 we will only show the icon if there _are_ notifications. So I think it’s fine for now. Also, I have to say the Github icon has a strange visual balance.

[2016-02-23 13:52] #22585 closed

[2016-02-23 13:57] PVince81 commented on #10511
Let's see, maybe there is a way to do this detection on database config level: before saving, check whether there is already another mount point with the same name and intersecting applicables.

[2016-02-23 14:00] PVince81 commented on #10511
Hmmm, this could happen too:
- for users user1 and user2, mount SFTP with config1 as "/sftp"
- for users user3 and user4, mount SFTP with config2 as "/sftp"

Then the admin tries adding "user2" to the second config. This would create an overlap, in which case we can't let the admin save it. The admin would have to create a third config for "user2" and set the mount point manually to something else

[2016-02-23 14:01] averi commented on #18165
@blizzz we're using FreeIPA's bundle shipping the 389-ds directory service. I'm including both the LDAP record and the LDAP query result for one of the users failing to login:

LDAP Record:

[code]

And LDAP response, which seems successful:

[code]

[2016-02-23 14:02] #22566 closed

[2016-02-23 14:03] PVince81 commented on #10511
What if we just allowed overlaps but converted the visible mount point name of the user to a renamed name like "/sftp (2)" ?
That would probably be the best approach. However there is no good place in the database to save the user's own name for the mount point.

@icewind1991 how about adding a column "mount_id" to "oc_mounts" to map to the ext storage configuration ? Then whenever the user's FS i

[2016-02-23 14:14] MorrisJobke commented on #20686
Yes fixed -> closing.

[2016-02-23 14:14] #20686 closed

[2016-02-23 14:18] MorrisJobke commented on #22148
We do allow case sensitive user names? o.O I thought it is case insensitive always, because we check at so much points in the code for the case insensitive value.

[2016-02-23 14:18] MorrisJobke commented on #22148
cc @DeepDiver1975 @karlitschek

[2016-02-23 14:22] PVince81 commented on #22460
PR here https://github.com/owncloud/core/pull/22600

[2016-02-23 14:34] guruz opened #22601 "Chunked Files: Optimize checking if all chunks are there"
(not proven 100%)

We've seen benchmarks (TODO: where) where we have seen that for chunked files the later chunks take longer and longer than the first chunks. We're thinking ```isComplete``` of ```OC_FileChunking``` is to be blamed because it checks the file system for the existance of all chunks for the file. This gets slower (? probably because a succesful stat takes more time)

https://github.

[2016-02-23 14:36] nickvergessen commented on #22148
Let me throw https://github.com/owncloud/core/issues/19399 in here

[2016-02-23 14:38] VicDeo commented on #22450
@cdamken please post output for
`SELECT * FROM oc_files_trash WHERE id LIKE '%hello carlos%';`

[2016-02-23 14:39] jancborchardt commented on #22235
@MorrisJobke I can’t reproduce this. Any more info, any specific other app enabled? Otherwise I would close it.

cc @owncloud/designers

[2016-02-23 14:40] jancborchardt commented on #22272
Is there an installation where you can give me the credentials to so I can test and fix this? I don’t have LDAP.

[2016-02-23 14:41] jancborchardt commented on #22188
Yeah, this most likely seems to be a JS issue. Removing design label.

[2016-02-23 14:44] jancborchardt commented on #18163
@PVince81 or @MorrisJobke let’s work on using a 3-dot dropdown menu here at the Nuremberg meetup. We should use the same as for the actions menu in files, but I had some problems when playing around with it.

[2016-02-23 14:53] jancborchardt commented on #17391
@VicDeo @DeepDiver1975 it would be good to know by the way how the updater goes along in regards to design. Any … update here? Will it basically be the same, or entirely new?

[2016-02-23 14:54] MorrisJobke commented on #22235
Same here - works.

[2016-02-23 14:54] #22235 closed

[2016-02-23 14:54] jancborchardt commented on #16887
We’ll drop IE9 support with ownCloud 9.1 and this doesn’t really seem like a grave issue to fix. It will take more workarounds than it’s worth.

[2016-02-23 14:54] #16887 closed

[2016-02-23 15:01] MorrisJobke commented on #12132
Looks good in current 8.2.2:

[code]

[2016-02-23 15:01] #12132 closed

[2016-02-23 15:10] ogoffart commented on #22601
Client issue showing that the more chunk, the slower: https://github.com/owncloud/client/issues/4354

[2016-02-23 15:13] VicDeo commented on #17391
@jancborchardt entirely new
![updater](https://cloud.githubusercontent.com/assets/991300/13255844/23eb8352-da59-11e5-93e9-737aa680d5f5.png)

[2016-02-23 15:15] dbenz04 commented on #21555
If it helps with the troubleshooting, a simple WebDAV client on Android exhibits similar behavior. For a user with an LDAP pic, it initially does not show their external storage. If you manually refresh it, the external storage will show. For some reason, "refresh account" in the android owncloud client does not display the folders.

For a user without an LDAP pic, their external storage shows imm

[2016-02-23 15:15] MorrisJobke commented on #19566
So this is then the last open item. @DeepDiver1975 I guess this now can be closed.

[2016-02-23 15:27] #19566 closed

[2016-02-23 15:45] mmattel commented on #22595
Yes it creates a exception. This is the best way to interupt the running scanning process. The exception thrown and catched here is a generic one. Maybe needed to ceate a particular one (global CtrlC exception) and do more specific catch blocks according the needs. The good thing on exceptions here is, that on any exception thrown you get the scan results processed and depending on the parameters

[2016-02-23 15:50] PVince81 commented on #22595
@mmattel do you have time to make the change ?
It's fine if you don't, I'd then make a separate ticket for it. :smile:

[2016-02-23 15:59] mmattel commented on #22595
Please do the PR.
Need to prepare a company event in Spain, sorry.

[2016-02-23 16:00] PVince81 commented on #22595
@mmattel no worries

[2016-02-23 16:15] nickvergessen opened #22603 "OCP\Files\NotFoundException when copying skeleton on install"
https://ci.owncloud.org/job/core-ci-linux-swift-primary-storage/database=mysql,label=SLAVE/52386/console

The exception happens on `occ maintenance:install`:
[code]

@icewind1991

[2016-02-23 16:22] MorrisJobke commented on #22596
It seems that Office tries to get a LOCK:

[code]

@PVince81 @LukasReschke  Aren't LOCK requests ignored and just "simulated" in 8.2? Or am I wrong here. The log indicates, that the LOCK verb is not implemented.

@LukasReschke You implemented this for One Note: https://github.com/owncloud/core/pull/21926 for 9.0

@gig13 Could you checkout which office version they use?

[2016-02-23 16:26] LukasReschke commented on #22590
That's caused by [`\OC\Files\Storage\Wrapper\Encryption::readFirstBlock`](https://github.com/owncloud/core/blob/0d715c1184cf98ac9aae32e42056cf8fad9e7e30/lib/private/files/storage/wrapper/encryption.php#L655-L670) which sets the header size to 1739 instead the expected value of 8912.

With the wrong header size a ton of dashes are then passed to the decryption method which fails here since dashes a

[2016-02-23 16:35] rullzer commented on #22587
Aaaah warg... this is because we use the webdav properties... And there a mountpoint always has delete permissions... But we do not allow sharing with delete.. @PVince81 this is biting us again :(

[2016-02-23 16:57] LukasReschke commented on #22590
Patch is at https://github.com/owncloud/core/pull/22604

[2016-02-23 17:13] PVince81 commented on #17320
@Henni any update ?

[2016-02-23 17:17] cmonteroluque commented on #20274
@bboule @MorrisJobke moving to 9.1 unless there's an objection

[2016-02-23 17:24] cmonteroluque commented on #20952
@bboule @MorrisJobke moving to 9.1 unless there's an objection

[2016-02-23 17:27] cmonteroluque commented on #22578
@LukasReschke moving this to 9.1, do you object?

[2016-02-23 17:28] PVince81 commented on #22559
@LukasReschke where's the PR for core ? :wink:

[2016-02-23 17:29] LukasReschke commented on #22578
@cmonteroluque Yes.

[2016-02-23 17:31] PVince81 commented on #22374
@tflidd thought the server was fixed yesterday, can you check again ?

[2016-02-23 17:31] PVince81 commented on #22374
CC @DeepDiver1975

[2016-02-23 17:31] PVince81 commented on #22371
@enoch85 @LukasReschke I heard this should be fixed now, can you check ?

[2016-02-23 17:37] blizzz commented on #22519
At least overhead is added. For every new plugin in apps/dav/lib/connector/sabre/ it is

* instantiated
* initialized
* handlers registered

However unnecessary extra operations (DB  access etc.) were not executed.

At least on the example of the comments plugin.

A profiler would provide more useful information.

[2016-02-23 17:39] PVince81 commented on #21985
Converting to bug, sev2-high due to discutable approach. Let's look into improving this in 9.1

[2016-02-23 17:40] PVince81 commented on #21972
@LukasReschke can you evaluate severity ? Thanks

[2016-02-23 17:48] LukasReschke opened #22605 "External storage: DAV broken on master against other ownCloud"
### Steps to reproduce
1. Mount an external DAV storage as normal user. I mounted another ownCloud running 8.2.2 from my master instance
2. Try to upload or edit files

### Expected behaviour
Files should be edited or uploaded.

### Actual behaviour
No modification happens. Errors are thrown on remote server. Browser shows:

#### ownCloud log from remote server
[code]

[2016-02-23 17:48] PVince81 commented on #20267
Comments have been implemented.

[2016-02-23 17:48] #20267 closed

[2016-02-23 17:49] cmonteroluque commented on #19988
@bboule @MorrisJobke moving to 9.1 unless there's an objection

[2016-02-23 17:51] PVince81 commented on #18542
Moving to 9.1

[2016-02-23 17:52] LukasReschke commented on #22605
Strangely. Server to server shares to actually work properly. Only DAV complains… mhm…

[2016-02-23 17:55] MTRichards commented on #19988
Objection! Commitment made to customer, and customer rated it as critical for production. They were (I think) committed for 9.0 and 2.2.

@gig13 Correct?

[2016-02-23 17:58] cmonteroluque commented on #15594
@rperezb @jvillafanez please check

[2016-02-23 17:59] gig13 commented on #19988
Correct -- at least two customers

[2016-02-23 18:01] PVince81 commented on #12498
See previous comment.

[2016-02-23 18:01] #12498 closed

[2016-02-23 18:03] LukasReschke commented on #22605
But it also fails also similar when mounting an "ownCloud" external storage. :see_no_evil:

[2016-02-23 18:15] LukasReschke commented on #22605
I'll try to bisect the breaking change.

[2016-02-23 18:17] PVince81 commented on #22370
@LukasReschke any info ?

[2016-02-23 18:20] PVince81 commented on #21982
@davitol can you verify?

[2016-02-23 18:25] PVince81 commented on #22605
I see you used https, could be related to https://github.com/owncloud/core/issues/22016

[2016-02-23 18:31] PVince81 commented on #19988
So do we all agree on this change of behavior as described in https://github.com/owncloud/core/issues/19988#issuecomment-170602297 ? @MTRichards @gig13

[2016-02-23 18:41] cmonteroluque commented on #19988
yes, we're going to have to pick a behavior and run with it. So, as far as I'm concerned we can't argue about behavior any longer. Take one and implement

[2016-02-23 18:43] karlitschek commented on #22460
hmm. this is a change of behavior. Do we really want to do that?

[2016-02-23 18:48] PVince81 commented on #19988
Ok, I'll give this a try and see how it behaves

[2016-02-23 18:48] LukasReschke commented on #22370
No idea. It just regularly appears on the S3 error logs :see_no_evil:

[2016-02-23 18:54] cmonteroluque commented on #21555
@jesmrec @rperezb can you test with 8.2.2?

[2016-02-23 18:56] PVince81 commented on #21223
@alexweirig can you try again with 8.2.2 ? There were many LDAP fixed there

[2016-02-23 19:06] PVince81 commented on #22460
@karlitschek by default WND had sharing disabled (opt-in). External storage in core had no such option and sharing was always enabled.

Now they are both integrated with core. The quickest solution was to make it (opt-in) for all in this PR https://github.com/owncloud/core/pull/22600

If we want to have per-storage defaults then it will need more changes to allow storage backends to specify their

[2016-02-23 19:15] chrsch commented on #18951
Hmm any thoughts on this? @schiesbn

[2016-02-23 19:16] steve-s-71 commented on #22537
I have configured background jobs as system cron in the web interface. Under Administrator Tab OC confirms it runs every 15min.

I am afrait I dont have a tool to run database queries. Can you point me to a simple to install tool?

[2016-02-23 19:48] jknockaert commented on #18951
The recovery passwd is only needed to enable the recovery private key which is used to decrypt the user private key. To encrypt the user private key the recovery public key would be used.

[2016-02-23 19:56] plinss opened #22606 "Unable to scroll file list on shared folder"
### Steps to reproduce
1. Create folder
2. Upload enough files to folder to require vertical scrolling
3. Share folder via link
4. View folder via share link
5. Attempt to scroll to see all files

### Expected behaviour
Should be able to scroll vertically to see all files

### Actual behaviour
Vertical scrolling only happens enough to reveal "ownCloud - web services under your control'" footer

##

[2016-02-23 20:00] LukasReschke commented on #22606
Probably fixed in 8.2.3, mind testing https://github.com/owncloud/files_pdfviewer/pull/92? THX

[2016-02-23 20:04] jnweiger commented on #22374
I've done several fixes to the update scripts and pushed the latest rebuild to

http://download.owncloud.org/download/repositories/nightly/owncloud/index.html
http://download.owncloud.org/download/repositories/nightly/owncloud-files/index.html

(all manual pushes, as rotor still has issues)

[2016-02-23 20:08] jancborchardt commented on #17391
Ah, cool. Opened an issue about the design directly in the repo: https://github.com/owncloud/updater/issues/250

[2016-02-23 20:10] plinss commented on #22606
Yes, that fixes it. Note there's a bunch of extra space between the last item and the footer though (but I'm not complaining).

[2016-02-23 20:12] LukasReschke commented on #22606
Thanks. Yes, that's another bug, also on the todo list :-)

[2016-02-23 20:12] #22606 closed

[2016-02-23 20:14] karlitschek commented on #22460
hmm ok. in this case I agree. Lets do disable by default. Sorry for the confusion

[2016-02-23 20:19] MorrisJobke commented on #20274
@gig13 Is this okay for you?

[2016-02-23 20:19] MorrisJobke commented on #18542
cc @cdamken

[2016-02-23 20:24] MorrisJobke commented on #17391
@jancborchardt The current web update step you posted above has now a lot more detailed output that clearly highlights the current state. I would rate this fixed. @jancborchardt Just try an update of 8.2 to 9.0 ;)

Please open more specific issues otherwise.

[2016-02-23 20:24] #17391 closed

[2016-02-23 20:26] gig13 commented on #20274
@MorrisJobke Yes

[2016-02-23 20:31] MorrisJobke commented on #20952
cc @pako81

00004316

[2016-02-23 20:38] jnweiger commented on #21801
backported to 8.2 packages. Change will be visible with 8.2.3

[2016-02-23 20:50] gig13 commented on #22596
@MorrisJobke
They tried it with 2010 and 2013. With 2010 if you click cancel on the prompt it does not open the file. With 2013 if you click cancel it will open the file.

[2016-02-23 20:54] MorrisJobke commented on #22596
@LukasReschke Any idea what this could be?

[2016-02-23 20:59] LukasReschke commented on #22596
@MorrisJobke Probably indeed the locking. We would likely need to enable fake locking there as well, do we have user agents?

[2016-02-23 21:00] LukasReschke commented on #22596
From http://sabre.io/dav/clients/msoffice/

Can we confirm the user agent "Microsoft Data Access Internet Publishing Provider DAV" from there as well?

[2016-02-23 21:02] LukasReschke commented on #22596
It needs manually whitelisting of user agents and hope that clients are dumb enough to ignore the fact that we lie :wink:

That's why we need the user agents. Then we can whitelist it as done in https://github.com/owncloud/core/pull/21926

[2016-02-23 21:03] tflidd commented on #22374
I didn't try again after there was no response here. Just ran the upgrade, now I'm on OC 9.0.0 beta 2 83d5080e78fa481db3855da8fcd75f624f8cac1c
:+1: let's test the other issues

[2016-02-23 21:03] RealRancor commented on #20962
@nickvergessen Are deleted background jobs added again after https://github.com/owncloud/core/pull/21289 ?

[2016-02-23 21:18] sidey79 commented on #22454
Just to get some more feeling what has to be done.

I've looked a litte bit at the code. As i understand, there is core/lib/private/db/connection.php which acts as an drive to the database.

From my point, this class has to be extended to the example from the MasterSlaveConnection.php. Not really a hughe thing. The main difference is to, open a connection when a select/insert/etc. is called, inste

[2016-02-23 21:23] tflidd commented on #22151
@PVince81 I managed to update to the latest nightly build and it looks better. There is still a message:
[code]
For the `user.ini`, I never touched this, so I don't know why this file is missing. I am not sure about the `etc/owncloud-config-apache.conf.default`, I have modified the default `/etc/apache2/conf-available/owncloud.conf` because I installed a second owncloud from the zipped-package man

[2016-02-23 22:10] MarkMaldaba opened #22607 "Allow list of sync exclusions to be managed from the server (including whether to sync hidden files)"
Hi there,

We have been looking to deploy OwnCloud on our company servers, as a replacement for our existing sync provider, as we don't like the idea of our data being held on third-party servers.

However, there is currently one thing that is blocking us, which is that the default sync settings in the OwnCloud client do not meet the basic sync requirements of file synchronisation, namely there ar

[2016-02-23 22:14] cmonteroluque commented on #21541
@PVince81

[2016-02-23 22:20] cmonteroluque commented on #16906
moving to 9.0 given the change to flysystem. @jvillafanez @rperezb @davitol can you please test with 9.0?

[2016-02-23 22:20] cmonteroluque commented on #17867
@rperezb @davitol please test

[2016-02-23 23:03] cmonteroluque commented on #21342
@jnweiger fixed?

[2016-02-23 23:05] #21801 closed

[2016-02-23 23:08] blizzz commented on #18165
Mh, FreeIPA/389ds is not tested, but the latter should work.

I wonder whether the entry uid=mlundblad,cn=users,cn=compat,dc=gnome,dc=org could cause an issue. It should not, because it should be excluded by the user base dn. We can rule out this Also because the correct DN appears in the log.

The LDAP log looks shiny, always one result set returned. Except, that all supported values for the UUID

[2016-02-23 23:34] ralin3 commented on #22597
https://cloud.ralin.org/

[2016-02-24 05:59] nickvergessen commented on #20962
Not automatically, but all apps readd their jobs on update

[2016-02-24 06:37] RealRancor commented on #20962
Thanks for the info. So 8.2.3 will fix that and will also add the job again.

[2016-02-24 07:20] nickvergessen commented on #22607
You could also change https://github.com/owncloud/client/blob/c46547592c7bcf7d70e37890d82383ce72afb9be/sync-exclude.lst#L22 and compile your own clients.

However, we are blocking `.htaccess` for a reason, e.g. https://github.com/owncloud/core/issues/22412

But maybe @LukasReschke can tell more

[2016-02-24 07:39] nickvergessen commented on #21125
Duplicate of https://github.com/owncloud/core/issues/18474 ?

[2016-02-24 07:40] nickvergessen commented on #18474
Btw isn't this what https://github.com/owncloud/core/issues/16751 is about?

[2016-02-24 07:46] beniroquai opened #22609 "Some files can't be deleted with Webinterface; Sync error with same files with Client(Mac, Windows, Android)"
### Steps to reproduce
1. Going to web-interface, deleting specific files, wait until the loading-cicrcle is done
2. Refresh the page (F5), files reappear
3. Deleting them and recreate a file with same name solves the problem

### Expected behaviour
I delete the file and this gets synced to all clients.

### Actual behaviour
File reappears in Webgui, Sync-Client throws error. "Server replied: Serv

[2016-02-24 07:59] MorrisJobke commented on #18474
Could you merge those two tickets somehow? Either closing this and moved the information over to the other one or do it vice versa.

[2016-02-24 08:23] LukasReschke commented on #22607
More of a pure client issue, see also https://github.com/owncloud/client/issues/434

[2016-02-24 08:25] LukasReschke commented on #22597
As I said, configuration problem on your side.

![2016-02-24_09-25-16](https://cloud.githubusercontent.com/assets/878997/13279484/84e82a78-dad8-11e5-9383-aefd9ba822b3.png)

![2016-02-24_09-24-50](https://cloud.githubusercontent.com/assets/878997/13279475/7683f296-dad8-11e5-8aaf-2dde82fa8c18.png)

[2016-02-24 08:25] #22597 closed

[2016-02-24 08:35] LukasReschke commented on #22605
Using HTTPS here but the connection itself works fine. I can open files etc.

So I guess that's another issue.

[2016-02-24 08:35] MorrisJobke commented on #22596
I only could test Office 2007 (I don't own any other version and it's pure pain to get a trail version without selling your soul to Microsoft)

[code]

And I also got the pope up that asked for credentials.

[2016-02-24 08:41] nickvergessen commented on #18474
Well first we need to be sure it is the same

[2016-02-24 08:56] MorrisJobke commented on #18474
The steps look the same. So I think so

[2016-02-24 08:59] PVince81 commented on #22460
@karlitschek thanks

[2016-02-24 09:02] PVince81 commented on #21541
@icewind1991 can you clarify ?

[2016-02-24 09:05] PVince81 commented on #21125
Could be. I'll verify this later.

[2016-02-24 09:11] PVince81 commented on #22559
PR here https://github.com/owncloud/core/pull/22612

[2016-02-24 09:16] cdamken commented on #22450
@VicDeo  here it is:
[code]

[2016-02-24 09:22] PVince81 commented on #19988
From the RFC:
[code]

@dragotin @jesmrec which way do you prefer ?
Returning a negative value doesn't match the standard.

I played around with Sabre and I can either make the "quota-available-bytes" property disappear from the response when quota is unlimited, or make it an empty element.

[2016-02-24 09:23] cdamken commented on #22450
@VicDeo @PVince81 @schiesbn checking forward in the database I saw that the file is the one that @schiesbn once shared with me over federated cloud:

[code]

[code]

Helps something?

[2016-02-24 09:25] MarkMaldaba commented on #22607
That's a possibility, though I'm not sure it's foolproof.  I doubt we could enforce that our clients only installed our custom build, rather than downloading direct from the Owncloud website.  Also, what happens when an auto-update is triggered?

I know, hence my post-script.  What is needed is a way for the server to indicate that there is no security issue with .htaccess files, and that therefor

[2016-02-24 09:31] PVince81 commented on #19988
I also noticed that if I return "-3" (the internal server value for "UNLIMITED STORAGE"), the desktop client shows "123 bytes used" without a max value.

But returning a negative value isn't very standard-compliant.

Note that -1 would be "SPACE_NOT_COMPUTER" when the space hasn't been computed yet, so we might not want to reuse that one. https://github.com/owncloud/core/blob/v8.2.2/lib/public/fil

[2016-02-24 09:33] rperezb commented on #19988
@PVince81 do you have a pr/branch for mobile apps to test what happens?
FTM, we are not taking advantage of this property, however, we have to make sure that this does not affect the parser

[2016-02-24 09:34] davitol commented on #21982
@PVince81 It still happening

[2016-02-24 09:35] PVince81 commented on #19988
I will push a branch soon. Am currently testing for potential side effects in other parts of the server.

[2016-02-24 09:40] PVince81 commented on #19988
@rperezb here is a branch that can be used for testing: https://github.com/owncloud/core/pull/22613

[2016-02-24 09:59] MarkMaldaba commented on #22607
To help the discussion, I have put together a sample ```client_config.php``` file:

[code]
Some notes:

1. The ```may_be_deleted``` argument indicates whether the file may be deleted by OwnCloud if the parent folder is deleted (as per the preferences UI).  This setting may be omitted, in which case it defaults to false.
2. The ```is_locked``` argument indicates whether the client allows the user t

[2016-02-24 10:22] alaunay opened #22616 "Browser scrollbar not working"
### Steps to reproduce
1. put quite a number of files in a directory
2. share this directory with a public link
3. try to use the public link

### Expected behaviour
It should be possible to scroll to the bottom and see all the files (and/or paging ?)

Problem visible here:
https://owncloud.cusae.com/index.php/s/ec5bbec78eaf3b48f517f9116e5d6f4b

### Actual behaviour
Last thumbnail displayed is bar

[2016-02-24 10:36] LukasReschke commented on #22616
Dupe of https://github.com/owncloud/core/issues/22606, patch is also linked there.

[2016-02-24 10:36] #22616 closed

[2016-02-24 10:47] jnweiger commented on #22374
Nightly updated tonight, without any manual intervention. New packaging is in place.

Can we close here?

[2016-02-24 10:47] schiesbn commented on #22589
I also tested it with the same results as @nickvergessen

[code]

doesn't change anything and if I add `pending` to the path I can accept the share correctly:

[code]

[2016-02-24 10:52] alaunay commented on #22616
Correct, this is a dupe. It didn't appeared when I searched for it, did not thing of looking the closed issues. The pdfviewer patch did the triick, after emptying the assets directory.
Thanks Lukas !

[2016-02-24 10:53] LukasReschke commented on #22616
No worries. The GitHub search kinda sucks. :see_no_evil:

[2016-02-24 10:54] #22589 closed

[2016-02-24 10:55] davitol commented on #16906
@cmonteroluque Tested in ownCloud Enterprise Edition 9.0.0 beta 2 (daily) Build:2016-02-23T04:14:01+00:00 83d5080e78fa481db3855da8fcd75f624f8cac1c and the issue still reproducing

[2016-02-24 10:58] schiesbn commented on #22589
@rperezb @SergioBertolinSG there is another mistake:

you need to use the `id` to accept/decline remote shares

[2016-02-24 11:09] tflidd commented on #22374
From my POV, it can be closed.

On 2016-02-24 11:47, Jürgen Weigert wrote:

[2016-02-24 11:11] gadLinux commented on #16162
Hello,

I want to talk about @lavrentivs comment about Merkle tree. As I said we already implemented this to check if the files under one of our applications are changed and where. Yesterday the guy that did it updated me.

It's useful to know exactly where the file was modified by growing continuous blocks. So it will allow us to send a contiguous block of file that changed. The cons is that you

[2016-02-24 11:11] jnweiger commented on #22374
thnaks,

[2016-02-24 11:11] #22374 closed

[2016-02-24 11:14] #20470 closed

[2016-02-24 11:14] #22501 closed

[2016-02-24 11:15] #22568 closed

[2016-02-24 11:16] jnweiger commented on #21342
Fixed for DEB packages. I have not found a solution for RPM. But that was not requested here.

closing.

[2016-02-24 11:16] #22559 closed

[2016-02-24 11:25] schiesbn commented on #22450
I agree with @PVince81 this really looks like we don't truncate the path correctly. I can remember that we fixed something regarding path truncating a few months ago. But don't remember for which versions

[2016-02-24 11:28] VicDeo commented on #22450
@cdamken

Helps something?

yes, it makes it easier to reproduce as the file in question is not local.

[2016-02-24 11:34] DeepDiver1975 commented on #21784
I cannot reproduce this any more -> close for now

[2016-02-24 11:34] #21784 closed

[2016-02-24 11:36] alulalula opened #22618 "Database update fails 8.1.3 to 8.2.2 (Too long tablename)"
### Steps to reproduce
1. Fresh install of 8.1.3
2. Update via Updater App to 8.2.2
3. Database update fails -> No more login possible due to database update reattempt

### Expected behaviour
Expected update to 8.2.2 or a revert to previous version in case of failure

### Actual behaviour
The 3 steps of the updater app were successfull.
Afterwards the app said that you should press "Fortfahren" (C

[2016-02-24 11:46] krodelabestiole opened #22619 "oc 8.2 wont display shared by url files overflowing the browser window size"
### Steps to reproduce
1. share (by url) a folder containing many files
2. open the url
2. resize the height of the browser window so it is smaller than the file list
3. you won't be able to access the overflowed files just using the scrolling bars

This is particulary annoying when the file list is longer than the screen height because there's no solution to access some files.

### Server configu

[2016-02-24 11:46] LukasReschke commented on #22619
Dupe of https://github.com/owncloud/core/issues/22616

[2016-02-24 11:46] #22619 closed

[2016-02-24 11:51] Xenopathic commented on #21982
Changing storage configuration in the mount config GUI triggers a recheck, which resets the storage availability, but logging in with a storage that uses login credentials does not trigger this recheck. If we do it synchronously with the login process however, it will make logins veeeery slow for users with lots of storages, but I don't see any other way of doing it such that WebDAV clients still

[2016-02-24 12:05] jnweiger commented on #22151
Many fixes went into the packaging between Beta1 and Beta2. I believe integrity checks should be covered now.

We no longer split away any sub packages, so all folders will be automatically included. We had issues with updater and resources here. I've checked them in Beta2, all there.

The .user.ini file is included.
The  owncloud-config-apache.conf.default is the template for what goes into /etc/

[2016-02-24 12:15] cdamken commented on #22450
Great! :) that solves the second part of the conjob error.

how about the first part:

[code]

I get the error every 30 minutes and I notice that those users doesn't have
  `/mnt/owncloud/data/USER/files_trashbin` , probably they haven't erase a file for now.

A workaround could be creating a folder for each users, but it's not the real solution, at least should marked as `warning`  and not as `er

[2016-02-24 12:39] alulalula commented on #22618
Ok, I've solved my problem:
I shortened my 'dbtableprefix' in config.php and renamed my 20+ database tables.
I think the dbtableprefix was autogenerated by the install script of my webhoster.

But I do think, this input should be sanitized better to prevent such situations.
There are already warnings in the admin page, maybe add another?

Best regards.

[2016-02-24 12:42] DeepDiver1975 commented on #22618
indeed too long - we might want to define a max prefix length

[2016-02-24 12:42] #22618 closed

[2016-02-24 12:42] DeepDiver1975 opened #22621 "Define a maximum db prefix length"
refs https://github.com/owncloud/core/issues/22618

[2016-02-24 12:46] schiesbn commented on #22450
@cdamken seems like you trashbin is completely empty, the path looks OK. Can you verify this?

The cron job to clean up the trashbin should probably first do a is_dir() check before it tries to open it, @VicDeo can you have a look at it? Thanks!

[2016-02-24 12:51] DeepDiver1975 commented on #9891
yes - woth exception of the mysql utf8 issue - but this a total different topic.

For all the other issues I don't see much we can do -> closing

[2016-02-24 12:51] #9891 closed

[2016-02-24 12:53] nickvergessen opened #22622 "Table comments_read_markers has no index"
The table should have a unique index over uid, object_type and object_id

cc @blizzz

[2016-02-24 12:54] rullzer commented on #16162
@gadLinux that will only work in very specific cases. You need a rolling checksum (like rsync (and thus also zsync)) do it. Most likely files that are changed do not have their changes contained to one block.

Assume:

|aaaaa|bbbbb|ccccc|

Now what happens if we have a d to the start of the file. All the blocks change. Which then results in reuploading all parts anyway. To do true delta sync you a

[2016-02-24 13:00] alexweirig commented on #21223
@PVince81 I currently only have a 8.2.1 patched to support the dynamic ldap groups.

I'd have to apply the changes from 8.2.1 to 8.2.2 in order to be able to complete the tests.

[2016-02-24 13:00] Aesculapius opened #22624 "Using occ files:scan option causes unhandled exception"
### Steps to reproduce
1. Manually add a file back to the storage filesystem, eg. from a backup
2. To have it appear in Owncloud, we need a rescan of that part
3. So in an ssh window, the following command was given:

sudo -u www-data php occ files:scan --path="/Laurens/files/3. Werk/5. NVKI/Met bestuur gedeelde mappen/Bestuur/Missie en Visie"

which is the exact folder that new files were added t

[2016-02-24 13:03] DeepDiver1975 commented on #19941
I don't see this happening in the scope of 9.0 - there is simply no time to work out a proper ci concept.

In order to fix #9630 I suggest to test https://github.com/icewind1991/files_external_ftp.git with 9.0 and ship this to customers who need this.

[2016-02-24 13:04] kernins opened #22625 "OC_Installer::checkCode() is broken"
Incorrect CodeChecker instantiation at lib/private/installer.php:570 (wrong NS and missing ctor arg)
OwnCloud 8.2.2

[2016-02-24 13:13] DeepDiver1975 commented on #21985
I fear this is too late ... as soon as 9.0 is out we need this

[2016-02-24 13:14] cdamken commented on #22431
Do you need more info?

[2016-02-24 13:17] LukasReschke commented on #22625
https://github.com/owncloud/core/blob/v8.2.2/lib/private/installer.php#L570
https://github.com/owncloud/core/blob/v8.2.2/lib/private/app/codechecker/codechecker.php#L55-L58

Seems like a bug indeed.

[2016-02-24 13:18] LukasReschke commented on #22605
After fighting with external storage for a while:

[code]

[2016-02-24 13:24] LukasReschke commented on #22605
Confirmed.

When checking out 98bb8372f7f0ab1f669cdd92d439814e1b6aaa1a the mounts do work fine, if I take @icewind1991's a1898dc2bf9a89def29c1437903e560609f0cf40 the mount is broken.

[2016-02-24 13:54] DeepDiver1975 commented on #22603
@cmonteroluque I'd like to get this sorted out for 9.0 - kind of spooky to see no unit tests passing for objectstore

[2016-02-24 13:56] DeepDiver1975 commented on #22603
@butonic @Xenopathic any idea on this? THX

[2016-02-24 14:01] jancborchardt commented on #17391
@MorrisJobke as said – we moved the discussion to an issue in the updater repo. ;)

[2016-02-24 14:06] MorrisJobke commented on #22577
Fix is merged

[2016-02-24 14:06] #22577 closed

[2016-02-24 14:18] LukasReschke commented on #22605
Ok… I have a fix for the SSL thingy… But still not for the other :see_no_evil:

[2016-02-24 14:24] LukasReschke commented on #22605
Ok… I have a fix for the SSL thingy… But still not for the other :see_no_evil:

[2016-02-24 14:28] LukasReschke commented on #22016
I stumbled upon the bug while debugging https://github.com/owncloud/core/issues/22605 … this has a security impact as it disables the whole SSL verification :see_no_evil:

[2016-02-24 14:31] blizzz commented on #22622
Yes, same with the comments table, it was decision to postpone it when other stuff is done, so DB queries are known.

[2016-02-24 14:47] PVince81 commented on #18474
There is one step missing: empty trashbin.

In any cases, the expected behavior is as follows:
- whenever the deleted folder is in the trashbin, the recipient receives "Storage not available"
- whenever the deleted folder disappeared from the trashbin, the recipient receives "Storage invalid" and the folder is removed

This was fixed as part of https://github.com/owncloud/core/pull/22498

[2016-02-24 14:47] #18474 closed

[2016-02-24 14:48] PVince81 commented on #16751
Should we keep this ticket solely for the unit test then ?

Some bogus behavior was fixed with https://github.com/owncloud/core/pull/22498

[2016-02-24 14:56] jancborchardt commented on #16751
I’d say for a single file share, or removal of the root of the share by the original sharer, it should basically be the same result for others as an unshare. They should still keep the files. This is also how Dropbox handles deletion of the share root.

[2016-02-24 15:02] jancborchardt commented on #22336
@oparoz can you test if copying links works in other places?

- the link on the bottom of a single-file sharing page
- the CalDAV links in the Calendar app, bottom left settings area
- the CardDAV links in the Contacts app, bottom left settings area as well

[2016-02-24 15:10] nickvergessen commented on #22622
Right, sounds good, but we should do that before final, because of performance on the queries and on a future update when there are thousands of comments already

[2016-02-24 15:14] Aesculapius commented on #22624
Never mind, this was caused by the Mail app. After I disabled that app, the occ command worked again as expected.

[2016-02-24 15:14] #22624 closed

[2016-02-24 15:18] georgehrke commented on #22336
No, I just checked and it's not working there either :confused:

[2016-02-24 15:18] PVince81 commented on #22476
I did some research and didn't find any way to make the stream wrapper influence the return value of `stream_get_meta_data`. So I raised at ticket for Sabre DAV https://github.com/fruux/sabre-dav/issues/787 to revert to the old 2.1 behavior where it was actually checking the result of `fseek`

[2016-02-24 15:19] VicDeo commented on #22450
@schiesbn pushed https://github.com/owncloud/core/pull/22628

[2016-02-24 15:19] nickvergessen commented on #16751
Yeah lets keep that so I have a reminder to finish the smashbox job

[2016-02-24 15:28] PVince81 commented on #16751
@jancborchardt what do you mind with "they should still keep the files" ? Who are "they" ?
Federate shares do not make copies of files.

[2016-02-24 15:34] blizzz commented on #15930
Still don't really know how to fix this, if at all possible. LDAP requests cannot be done asynchronously. Spawning other PHP processes? Won't help much – why need to have the channel back to the user. Next to management overhead.

Setting the LDAP_OPT_TIMELIMIT option to a low value does not help in normal operation, rather the opposite, because we try to fulfill requests (limit), and do not retur

[2016-02-24 15:37] jancborchardt commented on #16751
The people whom it was shared with.

I know. However if we want to provide a consistent experience and make federated sharing as awesome as normal sharing, then the original sharer unsharing from me or deleting should **not** result in the file vanishing from my ownCloud. cc @DeepDiver1975 @karlitschek

[2016-02-24 15:39] PVince81 commented on #16751
@jancborchardt please raise an enhancement ticket to discuss this for 9.1.
Also make sure to mention whether you suggest having this for both fed shares and local shares.

[2016-02-24 15:44] royalterra opened #22631 "Owncloud HHVM Login Not working any solutions?"
### Steps to reproduce
1.Install HHVM
2. Try to Login Owncloud
3. Session not transfer

### Expected behaviour
Tell us what should happen
Need to Login but that never happens
### Actual behaviour
Tell us what happens instead
Keep in the seam login page or say if I forgot my password
### Server configuration
**Operating system**:
Ubuntu 14.4
**Web server:**
Apache 2.5 mod fastcgi hhvm
**Database:**

[2016-02-24 15:47] LukasReschke commented on #22631
HHVM is unsupported.

[2016-02-24 15:47] #22631 closed

[2016-02-24 16:15] cmonteroluque commented on #15930
moving it to 9.1

[2016-02-24 16:17] cmonteroluque commented on #17411
@PVince81 I think your approach will do for now. When that PR is ready to go we can merge and move this to 9.1 for follow up

[2016-02-24 16:20] karlitschek commented on #22622
I agree. We need the proper indexes. @DeepDiver1975 Do you have an overview over the different limitation of index lengths etc for different databases?

[2016-02-24 16:21] cmonteroluque commented on #18499
We have competing PR's and neither of them seems to work  #21854 and  #22421

Moving to 8.2.4 anyway

[2016-02-24 16:24] cmonteroluque commented on #19941
ok thanks

[2016-02-24 16:32] cmonteroluque commented on #20681
won't fix

[2016-02-24 16:32] #20681 closed

[2016-02-24 16:36] PVince81 commented on #21982
@jmaciasportela did this work before with WND ? If yes, how ?

[2016-02-24 16:42] PVince81 commented on #21125
I tried the following:

1. user1 shares "test" with "admin@localhost/owncloud"
1. admin accepts the share
1. admin does propfind on "/test"
1. user1 deletes the share to trash
1. admin does propfind on "/test"

Expected: 503 storage not available
Actual:

[code]

Broken again :cry:

[2016-02-24 16:43] PVince81 commented on #21125
This is on master faf65e73b778867d36f0e13dd1b0f1a4ef1f4723

Looks like https://github.com/owncloud/core/pull/22498 isn't fully functioning. If I revert it, I properly get 503 ...

Investigating...

[2016-02-24 16:46] danimo commented on #15930
Since I keep getting pinged on this:

Do I understand correctly that the title is a misnomer, unrelated to VPN, and should actually be "ownCloud unresponsive if an LDAP server disappears while a query is running directed towards it"?

[2016-02-24 16:51] PVince81 commented on #21125
So weird... how can the method `removeShare` not exist on `$this->manager` ? Has this been broken since a long while ?

[2016-02-24 16:51] PVince81 commented on #21125
also observed on stable8.2

[2016-02-24 16:57] PVince81 commented on #21125
The manager is in instance of:
[code]

There is neither `getMountManager` nor `removeShare` there...

I do remember that this used to work in older versions, maybe the mount managers changed in-between.

[2016-02-24 17:00] PVince81 commented on #21125
In stable8.1 it was different;
[code]

Something has gone wrong with the introduction of mount providers ? @Xenopathic @icewind1991

[2016-02-24 17:10] PVince81 commented on #21125
The failing call is here: https://github.com/owncloud/core/blob/v8.2.2/apps/files_sharing/lib/external/storage.php#L191

[2016-02-24 17:11] PVince81 commented on #21125
@icewind1991 @Xenopathic please help fixing this. We need to inject the share manager like in the past "OCA\Files_Sharing\External\Manager" but the code path that creates the storage has no sharing-specific code. Might need a sharing-specific mount provider...

[2016-02-24 17:17] PVince81 commented on #22590
@LukasReschke is the number of bytes returned by `fread()` consistent or variable ?
I wonder if Guzzle tries to read synchronously and sometimes the network delivers less bytes than expected. Maybe we need to tell it do used buffered mode ? (if there is such a thing)

[2016-02-24 17:18] RealRancor commented on #22631
@LukasReschke Something for the documentation?

[2016-02-24 17:23] VicDeo commented on #21985
@DeepDiver1975 @LukasReschke what if we reuse an existing token from config.php for authorisation?

[2016-02-24 17:27] PVince81 commented on #22590
I tested with a docker DAV server, and encryption works fine. (`docker run -d -e USERNAME=test -e PASSWORD=test -p 8888:80 morrisjobke/webdav`)

Let me double check whether we use a guzzle download stream there too.

[2016-02-24 17:28] PVince81 commented on #22590
Yup, see https://github.com/owncloud/core/blob/master/lib/private/files/storage/dav.php#L344

Maybe it is a network buffer thing of some sorts ?

[2016-02-24 17:32] PVince81 commented on #22590
Works fine on v8.2.2.

[2016-02-24 17:33] enoch85 commented on #22371
Sorry, I can't tes right nowt, forgot my laptop this weekend in Stockholm.

[2016-02-24 17:35] PVince81 commented on #22590
Interesting: I uploaded a file in v8.2.2, encrypted. Bad then we didn't have the signature.
Then upgraded to master, also cannot download the file. It's a stream thing.

[2016-02-24 17:37] tflidd commented on #22151
Yes it was https://download.owncloud.org/download/repositories/nightly/
Today I updated to the latest daily, re-run the integrity checker and all warnings disappeared ;-)

[2016-02-24 17:38] PVince81 commented on #22590
Ok, the block size is *always* 1760 big in `readFirstBlock` even though we requested 8k.
Weiiiird.

[2016-02-24 17:46] alphasierra59 opened #22635 "Feature Request: OCC Change Password Using Hash"
I'm writing a script to synchronize the usernames and passwords between owncloud and another online service. The passwords are stored in a hashed form, but OCC only accepts passwords in plaintext. Can OCC be made to accept passwords in a hashed form? It would be preferable to having to generate a bunch of SQL commands.

[2016-02-24 17:55] PVince81 commented on #22590
I found where Guzzle does the request, here: https://github.com/owncloud/3rdparty/blob/fc0c1159f4e275186b45f8454aaa89f90718b89e/guzzlehttp/ringphp/src/Client/StreamHandler.php#L406

It's just a plain fopen on the URL... Maybe PHP has trouble with URLs and buffering ?

[2016-02-24 18:00] PVince81 commented on #22590
Since it's a plain fopen, I can imagine that it's not buffered...

Now if Guzzle had a way to buffer this...

[2016-02-24 18:01] jnweiger commented on #22151
Great news. Thanks for testing!

[2016-02-24 18:01] #22151 closed

[2016-02-24 18:03] PVince81 commented on #22590
I see `Guzzle` has a `CachingStream`, now need to find out how to use its stream wrapper to make this work.

[2016-02-24 18:14] DeepDiver1975 commented on #22631
afaik supported versions are listed ...

[2016-02-24 18:17] #21342 closed

[2016-02-24 18:20] RealRancor commented on #22631
There is no notice of the keyword hhvm at the docs:

https://github.com/owncloud/documentation/search?q=hhvm

[2016-02-24 18:30] PVince81 commented on #22590
Indeed, fread might return smaller packets: http://stackoverflow.com/questions/23458069/php-fread-chunk-length-not-taken-into-acount-correctly

@schiesbn @LukasReschke @icewind1991 at some point we might want/need to check all fread calls and make them loops.

Or use Guzzle's cached wrapper in more places.

[2016-02-24 18:53] LukasReschke commented on #22635
I don't see this happening. If you are synchronizing usernames and password like that you probably should implement your own login provider. (see for example user_ldap)

[2016-02-24 18:53] #22635 closed

[2016-02-24 19:05] DeepDiver1975 commented on #22631
because we don't support it :wink:

[2016-02-24 19:11] cmonteroluque commented on #17867
@rperezb @davitol ping

[2016-02-24 19:12] cmonteroluque commented on #20329
@schiesbn any chance you can have an urgent look at this please?

[2016-02-24 19:18] LukasReschke opened #22637 "Add integration tests for external storages using HTTPS"
With regard to https://github.com/owncloud/core/pull/22636 we need to add integration tests for external storages using HTTPS.

[2016-02-24 19:20] LukasReschke commented on #22625
@karlitschek @DeepDiver1975 This is fixed in master with https://github.com/owncloud/core/pull/21730. Should that one get backported?

[2016-02-24 19:20] LukasReschke commented on #22625
Commit in question: https://github.com/owncloud/core/commit/1d0724a7729ebcc22d286a240eac7363f1bb37d4

[2016-02-24 19:28] LukasReschke commented on #22609
Can you post the log from your ownCloud as well? This seems to be the client log.

[2016-02-24 19:55] cmonteroluque commented on #15594
@rperezb @jvillafanez ping

[2016-02-24 19:56] DeepDiver1975 commented on #22625
doesn't hurt from my pov

[2016-02-24 19:56] DeepDiver1975 commented on #22625
@cmonteroluque adding this one to 8.2.4

[2016-02-24 20:00] cmonteroluque commented on #18721
aligned with
https://github.com/owncloud/updater/issues/250

[2016-02-24 20:02] michaelstingl commented on #13695
@MorrisJobke What is the status here?

[2016-02-24 20:05] karlitschek commented on #22625
Agreed. Please backport

[2016-02-24 20:22] blizzz commented on #22622
Proposed keys here https://github.com/owncloud/core/pull/22638

Biggest key takes 388 bytes.

[2016-02-24 20:23] gig13 commented on #18910
@MorrisJobke -- Trying to coordinate a screen share for Friday -- can also review setup/system

[2016-02-24 23:02] blizzz commented on #15930
@danimo yes and no, see https://github.com/owncloud/core/issues/15930#issuecomment-145913317

[2016-02-25 07:02] nickvergessen commented on #22622
Name length is 30, content length 700 something

[2016-02-25 08:14] davitol commented on #17867
Tested in 9.0 and I could not reproduce it.

[2016-02-25 08:40] PVince81 commented on #22601
Sounds like a plan.

[2016-02-25 08:45] PVince81 commented on #5949
- [ ] Beware: we discovered that when using Guzzle for stream download it will do a `fopen` directly on the target URL. This means that calling `fread` might not return the number of requested bytes. This situation can happen when using encryption.

We might need to fix the encryption code first to not assume that `fread` always returns the number of expected bytes. The alternative is to make sure

[2016-02-25 09:24] PVince81 commented on #22603
Looks like a temporary glitch ? The subsequent builds went through: https://ci.owncloud.org/job/core-ci-linux-swift-primary-storage/database=mysql,label=SLAVE/52441/console

[2016-02-25 09:26] PVince81 commented on #22603
Likely related to the swift docker not always starting ? https://github.com/owncloud/core/issues/22588

Because if it doesn't start, there is no home/data folder available.

[2016-02-25 09:30] PVince81 commented on #19988
Any update on testing @rperezb @jesmrec @dragotin @guruz ?

We need to know in what format the clients want to have the information.
Currently this PR https://github.com/owncloud/core/pull/22613 returns "-3" for "quota-available-bytes" when no quota is set. (-3 is the value for "unlimited" on the server).

[2016-02-25 09:32] PVince81 commented on #17867
@davitol what about 8.2.2 and 8.1.5 ?

It was reported to be broken again in 8.1.3 while 8.1.1 worked: https://github.com/owncloud/core/issues/17867#issuecomment-144646987

[2016-02-25 09:40] danielkoch commented on #18359
Will this fix also be in the next 8.2 version?

[2016-02-25 09:43] rullzer commented on #22601
PR already in #22602

[2016-02-25 09:44] rullzer commented on #22601
After thinking about it we now just traverse the list from back to front (instead of front to back) and error out the moment we find 1 missing chunk.. But the idea is the same :)

[2016-02-25 09:47] nickvergessen commented on #22603
Well it happens as a glitch yes, but it also happens in 20% of the cases as a glitch.
So instead of ignoring I created an issue to make sure that is not a problem on our end.
And maybe when a file that does not exist is trying to be copied as a skeleton, the exception should be caught?

[2016-02-25 09:55] PVince81 commented on #18359
It depends on the fix, its extent is not clear yet.

[2016-02-25 10:02] nickvergessen commented on #22621
(tableprefix + actual names) <= 30 as per oracle support

[2016-02-25 10:12] rperezb commented on #21555
@cmonteroluque I'm afraid I have just reproduced this issue.

@dbenz04 has said, it's related to the fact of having an avatar on the ldap server. While this is working on web ui and iOs, it's not on Android, so...I need the help of my android colleages @owncloud/android-developers

Probably, better to move this to the Android repo

[2016-02-25 10:18] felixboehm opened #22641 "PHP Fatal error: Class 'OC_Mount_Config' not found"
### Steps to reproduce
1. fresh install from tar, put code in place
2. setup with script below

[code]
### Expected behaviour

occ command to set overwrite.cli.url should run without throwing PHP Fatal error.
### Actual behaviour

Command line output:

[code]

Logfile:

[code]

Note:
- Running the command again works then.
- Waiting doesn't help, no timing issue.
### Server configuration

**Operat

[2016-02-25 10:20] rperezb commented on #21555
@blizzz

does it make you ring any bell the logs:
[code]

[2016-02-25 10:27] MorrisJobke commented on #22641
Link please.

[2016-02-25 10:36] felixboehm commented on #22641
http://download.owncloud.org/community/testing/owncloud-9.0.0beta2.tar.bz2

[2016-02-25 10:46] felixboehm commented on #22641
Ohh - retested: No issue in community beta2: http://download.owncloud.org/community/testing/owncloud-9.0.0beta2.tar.bz2

Only in enterprise tar. Thought there should not be a difference.

[2016-02-25 11:27] icewind1991 commented on #18359
No, the fix relies on some of the larger changes that were made in the cache area for 9.0

[2016-02-25 11:48] blizzz commented on #21555
@rperezb is abagail_toy the user folder you expect it to be?

[2016-02-25 11:52] pako81 commented on #20952
yes ok for 9.1

[2016-02-25 11:56] javiergonzper opened #22642 "OC9 Share by Link with "Enforce expiration date" return 403 through"
### Steps to reproduce
1. On "Allow users to share via link" mark "Set default expiry date 7 days" and mark "Enforce expiration date"
2. Using the Share API create a share by link of any file/folder

### Expected behaviour
The Share API should create a the share with the default expiration days.

### Actual behaviour
We receive this response:
[code]

### Server configuration

**ownCloud version:**

[2016-02-25 11:59] rperezb commented on #21555
@blizzz not, abagail_toy is the user who has enable the avatar, the folder is called "external"

BTW, I have a test environment..if you want to check..ping me on IRC

[2016-02-25 12:01] rperezb commented on #17867
It could be related to: https://github.com/owncloud/core/issues/22642

[2016-02-25 12:03] nasli opened #22643 "Federated shares not marked as shares if api disabled on server8"
### Steps to reproduce
1.Server A share a folder with user in server B
2.Server B disabled share api

### Expected behaviour
User B see the folder and can see that this folder is shared with me

### Actual behaviour
User B can see the folder but is not shown as folder shared with me

Note:
Web with Server 9 works fine

### Server configuration
{"installed":true,"maintenance":false,"version":"8.2.2

[2016-02-25 12:06] PVince81 commented on #22642
@rullzer please have a look

[2016-02-25 12:06] averi commented on #18165
I can confirm the only attribute that is found on both a working and not-working entry is ipauniqueid. There's no mapping under oc_ldap_user_mapping of this specific user:

mysql> select * from oc_ldap_user_mapping where ldap_dn = 'uid=mlundblad,cn=users,cn=accounts,dc=gnome,dc=org';
Empty set (0.00 sec)

A working user is definitely found on the oc_ldap_user_mapping table. Are those created autom

[2016-02-25 12:11] blizzz commented on #21555
@rperezb no, the warning is about that stat failed on the avatar file, and this lies within the user folder (/opt/owncloud/data/abagail_toy/avatar.jpg).

will do!

[2016-02-25 12:48] PVince81 commented on #19988
@MTRichards @gig13 is it correct that the user story for this is "admin wants to prevent users to find out how much actual free disk space is available when they have unlimited quota" ?

[2016-02-25 12:59] PVince81 commented on #19988
I'm asking because I'm trying to find a compromise to not have a change of behavior, knowing that adding a config switch is not acceptable. One idea could be to show both "Unlimited" and the actual free storage. But if the story is about hiding the actual free storage, then this is not acceptable.

[2016-02-25 13:10] PanCakeConnaisseur opened #22645 "Debian package only "Recommends" mysql or mariadb but not postresql"
The debian package from the official owncloud repository has the Option "Recommends" which is set to :
mysql-server | mariadb-server, curl, exim4 | mail-transport-agent,
            owncloud-config-apache (= 8.2.2-1.1)
but imho should be :
mysql-server | mariadb-server** | postgresql**, curl, exim4 | mail-transport-agent,
            owncloud-config-apache (= 8.2.2-1.1)

Right now even if I want t

[2016-02-25 13:12] gig13 commented on #19988
@PVince81 Yes, consider the service provider viewpoint. They say that there is "unlimited" storage, then the user should not see any limit and is oblivious of actual available storage on the back end.

[2016-02-25 13:20] PVince81 commented on #19988
Okay, that makes sense.

So we need to reuse the "quota-available-bytes" and not introduce a new property, to prevent people finding out about the free space over webdav.

@ogoffart just told me that the desktop client 2.1.1 will accept the -3 value as per the PR.
Older clients would show "125 MB used of 125 MB" in such situation (to be confirmed). Would that be acceptable ?

Note that we cannot e

[2016-02-25 13:21] jancborchardt commented on #22534
Yeah, we could use a tooltip – as soon as you type an unsupported character in the new file/folder or rename field, it will pop up and say something like:

(A bit shorter maybe) Does that make sense?

[2016-02-25 13:23] MTRichards commented on #22534
How about:
Files with a $ in the name will not sync to Windows.

[2016-02-25 13:29] blizzz commented on #21555
I am not able to reproduce it here either. I have only 1.9.0 on a Jolla Sailfish device. With no caching enabled it's also slow when the app checks all the files and subfolders even if only being on the top level of the file hierarchy.

@rperezb was able to reproduce it with 1.9.1.

Also I could not force the stat errors to happen again, and they only appeared once in the log in general.

[2016-02-25 13:35] #22460 closed

[2016-02-25 13:35] #22590 closed

[2016-02-25 13:36] #22605 closed

[2016-02-25 13:36] PatelParas commented on #22547
:+1:

[2016-02-25 13:57] MorrisJobke opened #22647 "files_trashbin folder within the data directory"
While monitoring the data dir storage for new entries I noticed that following entries are created after some time:

[code]

This directory actually exists and it was noticed after removing all entries in oc_filecache for the data dir storage (except the root):

[code]

Only the versions folder contains 19 files (versions of 8 different files). I'm now checking the file cache for the actual file t

[2016-02-25 14:01] schiesbn commented on #21751
Will be fixed in 9.0.0, 8.1.6 and 8.2.3

[2016-02-25 14:01] #21751 closed

[2016-02-25 14:03] MorrisJobke commented on #22647
ref https://github.com/owncloud/enterprise/issues/1106 and https://github.com/owncloud/core/issues/22501

On this instance the background scanner jobs are disabled temporarily by https://github.com/owncloud/core/commit/bc36691ecbbb266add3db95583871d57790c04b0 and https://github.com/owncloud/core/commit/746f936ae7528c3159e69bef5bd01be383aa985b

[2016-02-25 14:03] jancborchardt commented on #22534
Yup, sounds good. And in place of the $ of course we show all the offending characters which were used in the name.

[2016-02-25 14:10] MorrisJobke commented on #21751
@schiesbn @PVince81 @jknockaert Thanks a lot for all your effort to this! :) You all rock! :metal:

[2016-02-25 14:19] ogoffart commented on #19988
Clients from 2.1.0 will accept -3
(was fixed for https://github.com/owncloud/client/issues/3940 )

[2016-02-25 14:20] schiesbn commented on #20329
I can re-produce it. What I don't get at the moment... but I will try to find out:
We are talking about etag propagation at the owner side, not at the recipient side. So there are no different sorages, etc. Just a folder structure A/B. If I upload a file to B with webdav (cadaver) the etag gets propagated correctly. If I upload a file from a second ownCloud which mounted B as a federated share we

[2016-02-25 14:26] MorrisJobke commented on #22647
While checking this I found the one of the files in 4 different folders, where 3 of them all had a path with `files/` at the beginning. But one of the locations didn't have the `files/` at the beginning of the path.

After some checking it showed that this was on a storage that has an id like `shared::aaaaaa`.

@schiesbn Could this be related to a deletion in a shared storage? Maybe federated shar

[2016-02-25 14:29] rperezb commented on #21555
@blizzz you have just reproduce too, don't you? just for tracking purposes

[2016-02-25 14:32] PVince81 commented on #20329
Weird... There should be no difference if it's a webdav upload, it should always propagate the etag up to the root (well, up to "/files" at least)

[2016-02-25 14:34] PVince81 commented on #22647
"shared::" is a fed share mount point, yes

[2016-02-25 14:43] rperezb commented on #19988
I have checked this with both android and iOS clients, working fine.
FTM, we are not taking into account the quota value.
@davivel or @javiergonzper in case I missed anything

[2016-02-25 14:48] schiesbn commented on #20329
Yes, that's really wired. For some reasons when we propagate the changes from the federated share upload is `//filename` while on the webdav upload it is `/A/B/filename`. That explains while the propagation fails for a federated share upload. In this case it only propagates the changes up to '/' which seems to be 'B'. But I couldn't find out why the paths are different. It looks like we interpret

[2016-02-25 14:55] schiesbn commented on #20329
@icewind1991 any idea where this strange behavior comes from?

[2016-02-25 14:59] icewind1991 commented on #20329
iirc the external share dav works on a View that's rooted at the share root (`/A/B`) and not the user's home folder and propagation (in 8.2) goes up to the view's root.

it's fixed in 9.0 because the view root no longer has any impact on propagation

[2016-02-25 15:01] schiesbn commented on #20329
What's the reasons for that? Why does the external share dav use a different root than a "normal" dav? Could this be a quick fix for 8.1/8.2 to change to root to the users home?

[2016-02-25 15:03] icewind1991 commented on #20329
atm the dav servers works on top of a view, changing the root of the view would change the root of the dav server

[2016-02-25 15:03] icewind1991 commented on #20329
A possible qf might be to change propagation to always run on the proper user view

[2016-02-25 15:36] davivel commented on #19988
Is there any other "special value"? Any other negative value with a specific meaning? Why -3 and not -1 or -2? Just curiosity.

[2016-02-25 15:39] PVince81 commented on #19988
@davivel see https://github.com/owncloud/core/blob/v8.2.2/lib/public/files/fileinfo.php#L47 as mentionned above
- -1: pending / not computed yet (for example when ext storage has been mounted, folder sizes need scanning)
- -2: unknown / storage doesn't tell (ex: shared hosters or ext storages that have no free_space API)
- -3: unlimited

So does it mean we can move forward and merge that PR ?

[2016-02-25 15:47] blizzz commented on #21555
I can also reproduce now using cadaver.

My theory was that for some reason the avatar is accessed first,  before filesystem apps are being loaded. That's not the case.

However, in cadaver I tried to cd into the not visible folder. I got  500, saying that credentials were not safed.

My theory is following: if an avatar is present, it will be read before the credentials are being saved while at t

[2016-02-25 15:50] fpytloun commented on #10682
+1 for REMOTE_USER

[2016-02-25 15:51] davivel commented on #21555
That explains why the error only appeared with Android client, and not with iOS nor desktop. Android client authenticates in every request.

[2016-02-25 15:55] #20291 closed

[2016-02-25 15:56] #18499 closed

[2016-02-25 15:58] #21125 closed

[2016-02-25 15:59] LukasReschke commented on #22645
cc @jnweiger

[2016-02-25 16:00] davitol opened #22651 "FTP mount with wrong configuration does not let to browse to other menus"
### Steps to reproduce

1. In admin menu, configure a FTP mount with wrong configuration

### Expected behaviour

It should be possible to browse to files view. A FTP mount red backcoloured should be shown.

### Actual behaviour

It is not possible to browse to another menu. e.g. files view, users view etc

### Server configuration
**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

[2016-02-25 16:10] MorrisJobke commented on #21986
@PVince81 Usually has nothing to do with me - I guess this was a reminder ticket for @blizzz

[2016-02-25 16:11] blizzz commented on #21986
Yep, in case #21854 gets merged. And it really happened a bit earlier today.

[2016-02-25 16:15] MorrisJobke commented on #20291
Okay. 9.0 will contain a workaround. I think we nevertheless should handle this properly in the client side. I will open a ticket on this.

[2016-02-25 16:19] MorrisJobke opened #22652 "Make it easy to distinguish users in the share list and autocomplete"
Followup to https://github.com/owncloud/core/issues/20291

Ref 00004123

![screen shot 2015-11-04 at 11 23 01](https://cloud.githubusercontent.com/assets/1846927/10935515/eb528dd4-82e6-11e5-9e55-c28ff628be7d.png)

We should probably return proper user information and let the client side to decide what to display (only show full email addresses when there are duplicate display names for example).

[2016-02-25 16:19] MorrisJobke commented on #20291
https://github.com/owncloud/core/issues/22652

[2016-02-25 16:20] MorrisJobke commented on #22652
This was partially resolved by showing the internal username on hover: https://github.com/owncloud/core/pull/22611

[2016-02-25 16:20] MorrisJobke commented on #22652
cc @cmonteroluque @MTRichards For the user story planning

[2016-02-25 16:21] jnweiger commented on #22645
It is "only" a Recommends. This is intentional, as we also support a remote database.
You can configure your apt-get to include or exclude 'Recommends' per default:
<pre>
cat > /etc/apt/apt.conf.d/01norecommend << EOF
APT::Install-Recommends "0";
APT::Install-Suggests "0";
EOF
</pre>
or add ``--no-install-recommends`` to your apt-get commands.

Adding postgresql as an alternative to mysql and mari

[2016-02-25 16:34] schiesbn commented on #20329
I tried now several approaches but couldn't find a solution. At the moment I don't see how this could work without large changes. But you know the code much better than me. Do you want to give it a try and propose a PR? This would be really helpful! Thanks!

[2016-02-25 16:35] PVince81 commented on #22651
Works for me. However I had to use "192.168.1.1" to make sure it fails early.
If I use "123.123.123" the spinner will run for several minutes, waiting for a timeout.

[2016-02-25 16:36] jnweiger commented on #22645
Added to the control files for upcoming 8.2.x and 9.0 test releases.
Thanks!

[2016-02-25 16:36] #22645 closed

[2016-02-25 16:39] PVince81 commented on #14127
We now have two conflicting PRs:
- from @georgehrke https://github.com/owncloud/core/pull/19053
- from @nickvergessen https://github.com/owncloud/core/pull/22610

Both require API changes which is bad after feature freeze...

[2016-02-25 16:46] davitol commented on #22651
@PVince81 Just tested again with my host modified and it fails earlier as you said. So not sure if it is considered a bug or not. If it isn't feel free to close it.

[2016-02-25 16:47] p5n commented on #22508
these 2 patches fix this issue

[2016-02-25 16:50] PVince81 commented on #22651
Not sure why it wouldn't let you switch to the files page... as far as I know there is no special logic to prevent you from leaving the page.

If this doesn't brick ownCloud / make it completely unusable, then we can reduce severity.
Can you confirm ?

[2016-02-25 17:01] davitol commented on #22651
Yes, let's reduce the severity. After a couple of minutes you can browse to the other menu. Even more, I've check with chrome browser and it works better. And if you delete the mountpoint, the server recovers its performance.

[2016-02-25 17:13] davitol opened #22655 "Using Chrome as browser, secure ftps checkbox is not right located in External storage menu."
### Steps to reproduce

1. In admin menu, configure a FTP mount.

### Expected behaviour

 Secure ftps checkbox should be right located as it is in other browsers.

### Actual behaviour

 Secure ftps checkbox is not right located

Note: Clicking over the words  'secure ftps' checks/unchecks the option.

### Server configuration
**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

**Da

[2016-02-25 17:14] davitol commented on #22655
@owncloud/designers

[2016-02-25 17:17] MorrisJobke commented on #13695
I don't think this has changed much, but maybe the flattened share data has brought some benefits - cc @rullzer ?

[2016-02-25 17:24] xerc opened #22656 "API shares root-folder without ID"
1. does not responde with Database-ID in XML
2. does not list the shares via API nor WebClient
3. does not check for already created root-share

$ php occ --version
[code]
$  curl "http://localhost/ocs/v1.php/apps/files_sharing/api/v1/shares" -k -u USER:PASS -X POST --data "shareType=3&path=/"
[code]
mysql> select * from oc_share;
[code]

[2016-02-25 18:15] rullzer commented on #13695
@MorrisJobke I stand by my comment in https://github.com/owncloud/core/issues/13695#issuecomment-169593376

This is by design and complicates stuff significantly.

[2016-02-25 18:42] rullzer commented on #22601
@PVince81 @cmonteroluque just FYI this helps with a blue ticket on the client.. so would 9.0.1 be an option? (PR is already available).

[2016-02-25 18:53] rullzer commented on #22656
In 9.0 you can 'cleanly' share your root folder.
But we should filter this out! Since you can't see it from the webUI etc.

@PVince81 @cmonteroluque FYI

[2016-02-25 19:43] rullzer commented on #22656
PR in #22660

[2016-02-25 19:50] ChristophWurst opened #22661 "Handle exceptions of registered address books in ContactsManager"
### Steps to reproduce
1. Register a faulty address book implementation on ``OCP\Contacts\IManager::register`` or ``OCP\Contacts\IManager::registerAddressBook`` that throws an exception when used
2. Query contacts with ``OCP\Contacts\IManager::search``

### Expected behaviour
No results for this address book and a logged exception

### Actual behaviour
A server error is thrown which potentially br

[2016-02-25 20:42] #22598 closed

[2016-02-25 20:42] DeepDiver1975 commented on #22508
great - thx!

[2016-02-25 20:43] #22508 closed

[2016-02-25 22:31] tombou commented on #20564
I'm new with owncloud apps and this fix works like a charm in 8.2.2. That would be great if we don't have to patch the remote.php in next version.

[2016-02-25 22:33] childnode commented on #17712
yay back ... OC 8.2.2, php 5.6.17 and .18 with any webDav client ;( that's sooo frustrating

[2016-02-25 22:55] childnode commented on #22089
@lfratini you should check back https://github.com/owncloud/core/issues/17712#issuecomment-135533579

[2016-02-26 00:35] blizzz commented on #18165
Was there anything weird about the value of the non-working user? For instance, another user has the same UUID in the mappings table (collision).

They are created automatically, either on login or on any reference to the user (e.g. searching in the share dialog, listing on the users page).

Does it help to set ``ipauniqueid`` as UUID attriubte for users on the expert tab?

[2016-02-26 03:36] vanquan223 commented on #21709
I also failed to upload pictures from the same android app, android app preview ok, but when viewing them on the web, there is no thumbnails and images are downloaded instead of preview.
Sorry for bad english :)

![web](https://cloud.githubusercontent.com/assets/16588123/13342508/ccbd197e-dc74-11e5-9630-80caf4bf0a86.PNG)
![app android](https://cloud.githubusercontent.com/assets/16588123/13342509/c

[2016-02-26 07:06] martinrotter opened #22666 "No WWW-authenticate response header for HTTP PUT API requests"
NOTE: I reported this to news repo before. They said, I should report it here too.
### Steps to reproduce
1. Send ownCloud NEWS API request (for example via CURL).
2. Check HTTP answer.
3. No WWW-authenticate header inside the answer.
### Expected behaviour

The HTTP/401 response MUST include WWW-authenticate header to indicate the kind of desired auth method.
### Actual behaviour

When someone se

[2016-02-26 07:58] nickvergessen commented on #22652
That is done: type, id and display value are sent via the api. So all information should be available.

[2016-02-26 08:08] rullzer commented on #22652
@nickvergessen the issue is more about using information that means something to users. In big organisation the username might be totally meaningless to me, or at least I have no idea what the username is of that `John Doe` in the department on the other side of town. But I might know his e-mail because we have had several mail exchanges etc.

[2016-02-26 08:26] mRoRo opened #22668 "API share returns the shares that I make even API is disabled"
### Steps to reproduce
1. Share files/folders with local user
2. Disable the API share
3. Request the list of shares by path

### Expected behaviour
The server does not return the list of shares I've made like in OC 8.2.2:

[code]

### Actual behaviour
The server with the disabled share API returns the shares that I had made in OC 9:

[code]

Server version:
{"installed":true,"maintenance":false,"

[2016-02-26 08:31] MorrisJobke commented on #22652
What about the email address?

[2016-02-26 08:34] jancborchardt opened #22670 "Move »Collaborative tags« lower down in the Files navigation"
Currently tags is weirdly placed between Favorites and Sharing – both of these features are considerably more important and should be above Tags.

@PVince81 can you move the Tags entry below »Shared by link« so it’s the last item in the list (except Deleted files of course). I couldn’t figure out how to do that, otherwise I’d have opened a PR myself. :)

[2016-02-26 08:39] rullzer commented on #22668
So I admit it is a change of behaviour.
But I would argue that the old behaviour is wrong and a bug. If the sharing is disabled you should not get any shares back. @schiesbn

[2016-02-26 08:46] jvillafanez commented on #15594
Checked against daily master (ownCloud 9.0.0 beta 2 (daily) Build:2016-02-26T04:41:33+00:00 cb41b1a86397579d55e0ce96e67b80a83037d1d2) in the 3 servers: it's working.

There are quite a bunch of possiblities here with the server versions, so I'm not sure if we should prioritize any special configuration.

[2016-02-26 08:48] javiergonzper commented on #22668
Yes @rullzer , that it is what I think. If the API is disabled and at the end the files are not shared the API should not return the list of shares.

[2016-02-26 09:01] Dianafg76 commented on #17867
I can reproduce the error with version 8.1.2 and 8.1.3

With v 8.1.5 and v 8.2.2 I can not reproduce it

[2016-02-26 09:10] nickvergessen commented on #20528
If not 9.0, this should be 9.1 because its an huge api change

[2016-02-26 09:30] jesmrec commented on #22642
Related: after the server option "Set default expiration date" switches from enabled to disabled, the expiration date keeps on being requested.

[2016-02-26 09:41] rullzer commented on #22642
aaah yes... the joy of nested config settings...
I'll fix that after the merge as well.

[2016-02-26 09:47] #6773 closed

[2016-02-26 09:47] #22233 closed

[2016-02-26 09:48] #22587 closed

[2016-02-26 09:48] #22642 closed

[2016-02-26 09:48] #22670 closed

[2016-02-26 09:49] #22656 closed

[2016-02-26 10:27] jesmrec opened #22672 "Resharing in same server does not behave properly"
### Steps to reproduce
1. User1 shares File1 with User2
2. User2 re-shares the File1 with User3

### Expected behaviour

User1 sees File1 as shared only with User2
User2 sees File1 as sharee from User1, and shared with User3
User3 sees File1 as sharee from User2

### Actual behaviour
User1 sees File1 as shared with User2 and User3
User2 sees File1 as sharee from User1, and shared with User3
User3

[2016-02-26 10:30] nickvergessen commented on #22672
This is part of changed behaviour in 9.0 and now expected:
https://github.com/owncloud/core/issues/9058

[2016-02-26 10:30] #22672 closed

[2016-02-26 11:04] gadLinux commented on #16162
You are right. So it doesn't make sense to implement Merkle tree...

[2016-02-26 11:33] icewind1991 commented on #20329
Will have a go

[2016-02-26 11:42] nickvergessen opened #22674 "Sharing settings need to be revisited"
We have a bunch of settings around sharing on the admin page atm.

And the most important question is, whether `Allow apps to use the Share API` is really what we want to have :question:

Should that option prevent sharing a calendar, addressbook, etc? Or should this setting state that it's only about the file-sharing API?

@DeepDiver1975 @schiesbn @rullzer @karlitschek

[2016-02-26 11:46] nasli opened #22675 "Share api does not detect exceed permission granted error on server 9"
### Steps to reproduce
1.User A share a folder with user B same server with permissions: read, create and share:21
2.User B share this folder with user C same server,

### Expected behaviour
Api on server 9 also returned an exceed permission granted error.

### Actual behaviour
Default permissions given 21, and you can not give more with the web UI -->correct
But the api accept more permissions, o

[2016-02-26 11:48] jmaciasportela commented on #21982
@PVince81 Using both types of login credentials, it works fine for me:

[code]
Following the same steps:

1. Enable external storage.
2. Mount FTP external storage using login credentials stored on database or session correctly.
3. Check that user can access storage.
4. Change password for user in FTP server.
5. Check red row appears due to failed login.
6. Change password for user in owncloud and

[2016-02-26 11:50] icewind1991 commented on #20329
https://github.com/owncloud/core/pull/22676 should do it

[2016-02-26 11:51] jmaciasportela commented on #21982
TEST ENVIRONMENT
- http://docker.oc.solidgear.es:55568/
- admin/Password
- maci/maci

FTP config url: localhost  -> login with user maci
ssh -p 55570 root@docker.oc.solidgear.es "passwd maci"

[2016-02-26 12:08] schiesbn commented on #20329
@icewind1991 great! Thanks a lot... I will try it.

[2016-02-26 12:36] averi commented on #18165
Manually specifying ipauniqueid as the UUID attribute did the trick. I have some questions based on the resolution of this issue ticket:

What's the default way to generate UUIDs if not specified manually on the expert tab? What kind of LDAP attribute is parsed to then generate the UUID? does it look at an LDAP attribute at all?

Thanks for your help!

[2016-02-26 12:41] rullzer commented on #22675
I don't get what the error is?

The webUI does a good job finding out the max share permissions. So it does not try to share with full permissions.

If you try to share via the API with more permissions you do get the same error. But this generally should not happen in the UI

[2016-02-26 13:01] #15594 closed

[2016-02-26 13:01] #17867 closed

[2016-02-26 13:05] schiesbn commented on #22668
I agree that it makes sense to not return the shares if the API is disabled. But the "Actual behaviour" indicated in the report indicates that we return the shares.

[2016-02-26 13:10] blizzz commented on #18165
Good. But confusing at the same time. It should have succeeded by default.

There are a couple of default attributes ( ``entryuuid``, ``nsuniqueid``, ``objectguid``, ``guid``, ``ipauniqueid``) that are read from LDAP. If this is needed, there is a discovery running and using the first that returns a result (there is no official standard, many vendors have their picks). Subsequently, the detected a

[2016-02-26 13:17] rullzer commented on #22668
O warg... I misread :sa:

I'll fix this...

[2016-02-26 13:25] davitol commented on #21982
Checked and works. Maybe in the previous test I did not log out and log in 'to refresh' the credentials

[2016-02-26 13:27] uli-heller opened #22678 "Calendar: Shared Calendars Aren't Visible After Upgrading From 8.2.2 -> 9.0.0{beta2,RC1,final}"
### Steps to reproduce
1. start with owncloud 8.2.2 and the standard calendar
2. UserB: create some calendars and share them
3. UserA: create a personal calendar
4. UsarA: looking at the calendar page within 8.2.2, it looks pretty crowded. I see my personal calendar and lots of shared calendars
5. upgrade to 9.0beta2
6. upgrade the calendar to calendar-rework-1.0-alpha2

### Expected behaviour
Sim

[2016-02-26 13:32] rullzer commented on #21798
Currently when we disable the Sharing API we just don't return anything.
We should return a 403 or something.

- [ ] Proper status code when OCS Share API is disabled.

[2016-02-26 13:56] MorrisJobke commented on #20329
I tested it and it works :) Thanks @icewind1991

[2016-02-26 13:56] #20329 closed

[2016-02-26 13:57] nasli commented on #22675
The point is that up to know, we are not able to get the permissions of a file that has shared with me.

The work around to handle permissions on the client it is to give the user the change to enable one by one all the permission and when it is not supported the API returned us an error.

On server 8 the API returned that kind of error but with server 9 we do not know witch permissions we should

[2016-02-26 14:05] averi commented on #18165
It's even more confusing when you go and check the mappings that were created before this change. None of them matches the ipauniqueid found on the LDAP tree and none of the other user-related objects can be looked up on the tree either. I'm wondering how the previous mappings were created.

Additionally searching the whole tree for any of the pre-existing mappings UUIDs results empty.

[2016-02-26 14:05] rullzer commented on #22675
If you reshare a file with more permissions than you received it with you will get an error from the server. At least I do here.

[2016-02-26 14:13] MorrisJobke opened #22680 "Spinner in link share stays if an error occurs"
- do the steps in https://github.com/owncloud/core/pull/22673 (without the patch) which results in a 403
- expected: popup with error message & checkbox is back (unchecked)
- actual: popup with error message & spinner is still there

<img width="1435" alt="bildschirmfoto 2016-02-26 um 15 11 55" src="https://cloud.githubusercontent.com/assets/245432/13354450/656904e6-dc9b-11e5-98b2-6bc9b814e721.png

[2016-02-26 14:14] blizzz commented on #18165
@averi how do they look like and how is it supposed to be?

[2016-02-26 14:27] nasli commented on #22675
At least with the last today master no.

[2016-02-26 14:34] averi commented on #18165
An example for the very first two entries I have from the SQL database:

[code]

And the relevant query results:

[code]

and

[code]

The ipaUniqueID value is different for both users on the LDAP tree as explained above.

[2016-02-26 14:55] rullzer opened #22682 "Not possible to update reshares as initiator"
https://github.com/owncloud/core/pull/22660 introduced a bug.

1. user1 shares a folder with user2
2. user2 shares a folder with user3
3. user2 modified the share to user3

Expected: All is well
Actual: Error that you can't share your root

It seems the check in #22660 is a bit to strict.
I'll prepare a PR

[2016-02-26 15:17] rullzer commented on #22682
Fix in #22683 with intergration test.

[2016-02-26 15:24] LukasReschke commented on #22678
cc @DeepDiver1975

[2016-02-26 15:28] rullzer commented on #22675
I can't reproduce this:

Steps I took:

1. user1 creates folder `test'
2. `curl -u user1:user http://127.0.0.1:1234/ocs/v2.php/apps/files_sharing/api/v1/shares  -X POST -d "path=test&shareType=0&shareWith=user2&permissions=21"`
3. `curl -u user2:user http://127.0.0.1:1234/ocs/v2.php/apps/files_sharing/api/v1/shares  -X POST -d "path=test&shareType=0&shareWith=user3&permissions=31"`

This fails for

[2016-02-26 16:32] rullzer commented on #22680
@MorrisJobke but with the patch this is fixed right?

[2016-02-26 16:42] davivel commented on #19988
Thanks!

I'd say that's a :+1:  for mobile :)

[2016-02-26 17:39] karlitschek commented on #22674
agreed. maybe it is time to remove this setting completely. If you don't want sharing then just disable the sharing app. What do you think @MTRichards

[2016-02-26 18:11] MTRichards commented on #22674
I have often thought about that feature. I know when I disable it, sharing doesn't work. But if that is all it does, then disabling the app is fine for me.

The one thing I wonder is if that option was supposed to disable the sharing API, for things like Mobile and Desktop, which would make sense to me.

[2016-02-26 18:16] gardiol opened #22687 "backspace not working in txt file editor on Android web browser (any)"
### Steps to reproduce
1. create new TXT file
2. try to edit it on Android trough web browser
3. try to delete characters with backspace key

### Expected behaviour
You can edit it and delete characters by hitting backspace

### Actual behaviour
Nothing, like not pressing backspace at all

### Client configuration
**Browser:**
Tested with Firefox for Android Chrome and stock Samsung browser

**Ope

[2016-02-26 18:17] gardiol commented on #22687
Sorry trying to post from cell phone... Did.not worm very well. I will try to fix this post later on today.

[2016-02-26 20:02] blizzz commented on #21986
Turns out to be not necessary, cf. https://github.com/owncloud/core/pull/22664#issuecomment-189458101

[2016-02-26 20:02] #21986 closed

[2016-02-26 20:37] cmonteroluque commented on #14127
https://github.com/owncloud/core/pull/22669 minimal fix merged. Moving rest to 9.1

[2016-02-26 20:41] cmonteroluque commented on #17411
@rullzer review of https://github.com/owncloud/core/pull/17451stopping the merge

[2016-02-26 20:42] #21982 closed

[2016-02-26 20:47] cmonteroluque commented on #22603
True. We need to have a "fail gracefully" approach to the code. @PVince81 let's talk on Monday, if we can get it before 9.0 that's great. I'd hate to not have it in
(https://github.com/owncloud/core/issues/22603#issuecomment-18826481) but it's also going to be hard to stop the release because of it

[2016-02-26 20:48] cmonteroluque commented on #22682
need one more reviewer

[2016-02-26 21:28] steve-s-71 commented on #22537
Hi Nick,
I found a way to run the quirey from the bash. Here is the result:

[code]

[2016-02-26 22:05] lbdroid opened #22688 ".htaccess rewriterule breaks letsencrypt using webroot"
### Steps to reproduce
1. Install owncloud to the "root" of a domain, i.e. owncloud.mydomain.net
2. Attempt to configure letsencrypt using --webroot

### Expected behaviour
letsencrypt should be able to install its verification files and perform its domain validation

### Actual behaviour
letsencrypt received 404 response from domain being validated

### Server configuration
**Operating system**:

[2016-02-26 22:18] Xenopathic commented on #22688
Fixed with #20966, will be fixed in 9.0

[2016-02-26 22:18] #22688 closed

[2016-02-26 23:10] michaelstingl opened #22689 "[IE11] input autofocus in sharing sidebar hides placeholder"
### Steps to reproduce
1. open files app in IE11
2. klick sharing icon
### Expected behaviour

Placeholder should show "Share with users, groups or remote users …"
### Actual behaviour

Instructions in placeholder aren't visible, because input focus is already in input field when sharing sidebar moves in.

![cursor_and_ie11_-_win8_1](https://cloud.githubusercontent.com/assets/214010/13367724/ebc71

[2016-02-27 09:57] Henni commented on #17320
I didn't have any time to look at this. Maybe after contacts is released.

[2016-02-27 11:17] LukasReschke commented on #22687
Please reopen at https://github.com/owncloud/files_texteditor/

[2016-02-27 11:17] #22687 closed

[2016-02-27 12:23] gardiol commented on #22687
Ok, here: https://github.com/owncloud/files_texteditor/issues/165

[2016-02-27 14:02] ynott commented on #17456
I have been tested on ownCloud ver.9 beta 2.
same error occured on installing Applications.

![applicationinstallerror](https://cloud.githubusercontent.com/assets/2724312/13373252/7bd7038a-dda5-11e5-9d91-64bd6e327d8c.png)

■Error occur when install these Applications.
OwnBackup 0.3.7
ownCloud Shortcut (Chrome app) 1.0
PDFLint Viewer 1.0
ActivityDefaults 0.1.0
AgreeDisclaimer 1.0.4
All Activity 0.0

[2016-02-27 15:06] oparoz opened #22692 "A user can create an unlimited amount of duplicate public links for a single folder when using the API"
### Steps to reproduce
1. Create a new folder share using the API
2. Create it again using the same POST data

URL: `/ocs/v2.php/apps/files_sharing/api/v1/shares?format=json`
Payload: `path=pics%2Fbrand+guideline+logos&shareType=3&shareWith=&publicUpload=0&password=&permissions=1`

### Expected behaviour

The second request should not go through and a specific error should be returned, indicating

[2016-02-27 15:07] oparoz commented on #22692
@rullzer @PVince81 @MorrisJobke

[2016-02-27 15:22] LukasReschke commented on #17456
@ynott Please file a new issue. THX.

[2016-02-27 19:09] rullzer commented on #22692
Yes this is possible now indeed.
Note that you can always find more since with the new resharing if one of the people you shared with shared by link you can also fetch that.

We could block this case in the API for now. But I'm not sure if that is really what we want. @schiesbn

[2016-02-27 19:11] rullzer opened #22693 "Missing checksum intergration tests"
I'm writing intergration tests for the current checksumming code.
I have plans for the following tests:

- [x] Upload file with checksum
  - [x] Verify in propfind
  - [x] Verify in download header
- [x] Chunked upload with checksum
  - [x] Verify in propfind
  - [x] Verify in download header
- [x] Copy file with checksum should also copy the checksum
  - [x] Verify in propfind
  - [x] Verify in d

[2016-02-27 21:23] oparoz commented on #22692
Reshares are good, but I can't think of a single reason for allowing the creation of duplicate links, this just creates junk data in the DB. It's also going to be a problem for people consuming shares. You typically pick up the first one from the list which meets your criteria.

BTW, I'm not familiar with the original issue, but this could be another reason some apps recently ended up with incompa

[2016-02-27 22:51] aspdye opened #22694 "2 dependency checks in README"
Are the 2 dependency checkers in the README.md needed? @DeepDiver1975

[2016-02-27 23:35] tflidd opened #22695 "Menu language can't be changed"
### Steps to reproduce
1. Create new user
2. Go to personal page, set language to "English"
3. Logout
4. Login
5. Go to personal page
6. Click on menu (top right)

### Expected behaviour
Menu in english

### Actual behaviour
menu in german
![screenshot](https://cloud.githubusercontent.com/assets/8111200/13376076/52de8b68-ddb1-11e5-94d9-a61d3745a1d2.PNG)

### Server configuration
**Operating system

[2016-02-27 23:55] tflidd commented on #22695
It takes the browser language of highest priority regardless the setting used in the user's config.

[2016-02-28 09:37] rullzer commented on #22692
Well there are valid use cases https://github.com/owncloud/core/issues/22327
So as said we could block this in 9.0.1. But eventually apps will need to switch. The trouble is that the behaviour is not specified anywhere. So you could make both assumptions.

Which other apps ended up with issues?

[2016-02-28 11:45] blackcrack opened #22696 "Clean up the Database and Filesystem"
### Steps to reproduce
1. --> goto --> Administration
2. ---> goto --> Clean Up OwnCloud
 * [Button] check the Space (clean the DB up and check what it is on the Space and what it is on DB (compare)
 * [Button] Check the Apps and check what's real install or only in the DB and remove the mess entry's (DB-App-Regestry-Cleanup)
 * [Button] Create a Tar.gz from the trash with date under /trashbackup/

[2016-02-28 12:28] Dennis1993 opened #22697 "Sharing with many content -> scrolling broken"
### Steps to reproduce
1. Upload more than 50 Pictures (or other files) into a Folder (e.g. "pics")
2. share the complete Folder by link without Password or so
3. open the share-link an view the files. Now you can't scroll down to see all files

### Expected behaviour
I don't know

### Actual behaviour
Tell us what happens instead

### Server configuration
**Operating system**:
Ubuntu

**Web serve

[2016-02-28 12:44] oparoz commented on #22692
#22327 contains cases which technically are not duplicates.

* public links sent to specific email addresses
* public links using different passwords
* public links having different expiration date
etc.

but there are 2 issues:

* There is no GUI available which gives users access to all the links, so currently, the link shown depends on how the app retrieves the information
* #22327 is in the bac

[2016-02-28 12:47] vanMacG opened #22698 "oc 9.0 beta2: file integrity check"
### Steps to reproduce
1. made a copy of small production oc 8.2.2
2. rename of old oc, upload 9.0 beta2, moved config.php and data-folder to new oc
3. perform web-update

### Expected behaviour
file integrity: ok

### Actual behaviour
file integrity: reports error, EXTRA_FILE

### Server configuration
**Operating system:** Shared webhost: Linux dd27002 3.2.0-98-generic #138-Ubuntu SMP Mon Jan 11

[2016-02-28 13:05] smatthie commented on #22537
Broken for me too. I have 'trashbin_retention_obligation' => 'auto,30' (which should keep files for a maximum of 30 days, right?) and webcron, but flies up to 8 months old in the trashbin, on OC 8.2.2

[2016-02-28 15:11] DeepDiver1975 commented on #22695
@nickvergessen mind taking a look? THX

[2016-02-28 15:15] oparoz commented on #22692
Another reason why this has to be limited until there is a proper GUI for it.

1. UI asks for list of links
1. UI shows a random link from the list, usually first or last
1. User unticks *Share link*
1. UI removes the link
1. User closes and re-open share dialogue
1. Bam, there is still a link
1. User fills in a bug report

[2016-02-28 16:03] RealRancor commented on #22697
Very likely a duplicate of #21373 and #21203 which gets fixed in oC 8.2.3 with owncloud/files_pdfviewer#92

If disabling the files_pdfviewer is not solving this then its a duplicate of https://github.com/owncloud/core/issues/22289, https://github.com/owncloud/core/issues/20044 and https://github.com/owncloud/core/issues/22303 where https://github.com/owncloud/core/issues/20044 is still open.

[2016-02-28 16:16] smatthie commented on #22537
When I run "sudo -u www-data php cron.php" in the shell, it removes old files from the trashbin as expected. With webcron, it doesn't. As far as I can see, my webcron is setup correctly: I checked the option in the administrator panel, it shows the last run, and when I the URL in a browser I get the message "success"

[2016-02-28 16:53] ditaW commented on #11685
I know this might be kind of off-topic but is anybody interested in a (tiny and a littlebit ugly) greasemonkey-script i wrote to pre-render the thumbs? Currently it scans all dirs and requests the default-thumbnail used for desktop-web-access. It could be adjusted to request other scale-factors if necessary...
https://justpaste.it/rsh8 (hint: create new Greasemonkey-script and paste it unter the c

[2016-02-28 17:29] steve-s-71 commented on #22537
I ran "sudo -u www-data php cron.php" in the shell, like what smatthie did. Unfortunately it still does not removes old files from the trash bin. Thus same behavior, no matter if I run cron.php from shell, automatically by system setup, Ajax or Webcron (when I configure Webcron and enter URL in a browser it confirm "sucess").

[2016-02-28 19:46] rullzer commented on #22693
PR in #22699

[2016-02-28 20:32] rullzer commented on #22692
Ok I kind of agree.

PR in #22700

@PVince81 and @cmonteroluque I let you decide 9.0 or 9.0.1

[2016-02-28 22:05] oparoz commented on #22682
The implications are quite vast. It's impossible to make any sort of modifications on a reshare as user2.
Fix works.

[2016-02-29 00:56] danielreuther commented on #13786
Just did another quick test on 8.2.2. The following seems to be a somewhat typical sequence of requests from Kodi:
[code]
And indeed, when manually doing a HEAD request on a large file, my kworker threads are spiking and it takes several seconds for the server to send a response. And to make things worse, Kodi seems to create quite a number of parallel threads, all doing HEAD requests.

My hunch r

[2016-02-29 01:11] oparoz opened #22702 "Inconsistent share owner shown in Files for reshares"
### Steps to reproduce

1. UserA shares a folder with UserB
2. UserB shares the same folder with UserC
3. As UserC, click on the row of the shared folder to bring out the sidebar

### Expected behaviour

The same user should be shown both on the row and in the sidebar

### Actual behaviour

The row shows UserA
The sidebar shows UserB

----
@rullzer @MorrisJobke @PVince81

[2016-02-29 01:57] danielreuther commented on #13786
Okay, sorry -- it's been too long ago that I read this thread. Looks like you guys were discussing HEAD requests before.

But thinking about it again, it feels like an inherently bad idea to read (and temporarily write?) whole files **without added network latency**. You could essentially saturate all available server processes for a long time, just by queuing up some HEAD requests to big files. A

[2016-02-29 07:12] mbressman opened #22703 "Activity Feed doesn't load additional information when scrolling"
When I go to the activity feed in oC 8.2.2 and then start scrolling down, I hit the spinning circle (looks similar to this: http://ceblog.s3.amazonaws.com/wp-conte ... pinner.png) and it just stays there forever instead of loading more data in the activity feed - confirmed that others are experiencing this as well via post on forum: https://forum.owncloud.org/viewtopic.php?f=36&t=33120

### Steps

[2016-02-29 07:17] MorrisJobke commented on #22702
This is intended behavior. The row shows the actual owner of the data.The sidebar shows who added you to the share list.

cc @schiesbn @PVince81

[2016-02-29 07:17] #22702 closed

[2016-02-29 07:34] alve89 opened #22704 "Specify mounting point of external storages"
### Expected behavior

In http://cloud.tld/index.php/settings/[admin/personal] under "External Storage" you should be able to set a mounting point (e.g. an existing folder within the cloud or the root directory).
### Actual behavior

External storages are always mounted in the root directory.
### Server configuration

Operating system: Ubuntu 3.13

Web server: Apache 2

Database: MySQL 5.0.11

PHP

[2016-02-29 07:53] #22682 closed

[2016-02-29 08:17] LukasReschke commented on #22698
What is this `data_ufdruqd6b2` folder in the root folder of your ownCloud?

[2016-02-29 08:18] LukasReschke commented on #22694
They are. I consider them helpful enough so we know what dependencies we need to update for our next major release :smile:

[2016-02-29 08:18] #22694 closed

[2016-02-29 08:18] nickvergessen commented on #22674
Well they can't do ownCloud sharing when the app is not there either. And when you mean sharing via whatsapp or whatever, no, that does not check this setting.

[2016-02-29 08:21] LukasReschke commented on #22696
Can you make a screenshot of where you found this and did you install by any chance a third-party program providing this functionality? This seems not like a core ownCloud function.

[2016-02-29 08:21] #22697 closed

[2016-02-29 08:22] LukasReschke commented on #22703
Could you reopen this at https://github.com/owncloud/activity? THX a lot :smile:

[2016-02-29 08:22] #22703 closed

[2016-02-29 08:24] mbressman commented on #22703
Moved here: https://github.com/owncloud/activity/issues/467

[2016-02-29 08:32] blackcrack commented on #22696
it exist still not, should be create ..
or do you find this in addons ? I guess not ..
so, should it build.. from anyone or should be as issue,
what i have now done . An Tweaking/Cleanup-app for owncloud
and not a long page for admin with adjustments, would be very nice,
if someone make slowly register cards for an clean administration.
Any application his register card and on top the Name, for fa

[2016-02-29 08:41] belerovon opened #22706 "Error while sync with Owncloud"
Hi,

I have some trouble while sync  OwnCloud with some Clients. I have a  voluntary association cloud with multiple Users (currently 6 User working with this cloud). Some of them have no trouble while syncing with this cloud, the other have no problems.

I can reproduce this behaviour with affected on Mac OSX and Windows, but not with any User-Account

The Client's Version is 2.1.1
The Server's V

[2016-02-29 08:55] didierm commented on #7908
FYI :
With the latest 8.2.2, the LDAP configuration wizard (_LDAP user and group backend 0.7.1_) did not auto-detect TLS (as revealed by packet sniffing network traffic between the LDAP server and the oC server).
I was required to force TLS by means of :
`update oc_appconfig set configvalue=1 where configkey='ldap_tls';`

[2016-02-29 09:03] nickvergessen commented on #22537
Seems like the trashbin background job is missing for you:
[code]

That should readd the job.
I assume you are suffering from https://github.com/owncloud/core/issues/20399
So applying https://github.com/owncloud/core/pull/21439/files should help

[2016-02-29 09:04] nasli commented on #22675
@rullzer we update the share with the remote_id:

curl -u user1:user server/ocs/v2.php/apps/files_sharing/api/v1/shares -X POST -d "path=/ab/&shareType=0&shareWith=user6&permissions=21"

remote_id=27

curl -u user2:user server/ocs/v2.php/apps/files_sharing/api/v1/shares/27 -X PUT -d "permissions=31"

And this returned ok 200

[2016-02-29 09:07] PVince81 commented on #18359
@icewind1991 the original report mentions propagating etag for encryption keys. Would it be possible to exclude this from propagation and limit propagation to "files/" and external storage ? (not sure if this would have other consequences).

[2016-02-29 09:07] blizzz commented on #7908
@didierm please open a new bug report.

[2016-02-29 09:07] nasli commented on #22675
Well I still checking it

[2016-02-29 09:13] vanMacG commented on #22698
It's my datadirectory as specified in config.php.
I just added some random chars for making it harder to guess in some case of attack... sry for confusing.

[2016-02-29 09:18] LukasReschke commented on #22698
Can you also provide your config file etc.?

[2016-02-29 09:22] PVince81 commented on #13786
@danielreuther this will need some debugging. I'd expect a HEAD request to only access the file cache's "size" field and not download any files.

[2016-02-29 09:27] SergioBertolinSG commented on #22589
So documentation is not correct in this request, https://doc.owncloud.org/server/9.0/developer_manual/core/ocs-share-api.html

[2016-02-29 09:28] SergioBertolinSG commented on #22589
It should be added here https://github.com/owncloud/documentation/issues/2174

[2016-02-29 09:38] nickvergessen commented on #22589
yes @SergioBertolinSG bug in the docs: https://github.com/owncloud/documentation/pull/2191

[2016-02-29 09:38] PVince81 opened #22708 "Favorite / filter by tag file lists do not have share status icon"
### Steps

1. Create a folder "test"
1. Create a file "test/test.txt"
1. Mark a file "test/test.txt" as favorite
1. Tag that file with a tag "test1"
1. Share this file with link or with another user
1. Go to "Favorites" file list and check the share icon in the list row
1. Go to "Tags" file list, filter by "test1", check the share icon in the list row

### Expected
Status shows that the file is sh

[2016-02-29 09:45] ufgum opened #22709 "German Umlaute in Notes field blow up until OC starts to hang"
### Steps to reproduce
1. insert or update a contact with Kadressbook and a German umlaut (Ü) in the notes field
2. waiting until entry gets size of some MB
3. webserver continuously hanging on 100%

### Expected behaviour
Tell us what should happen

### Actual behaviour
the notes field getting bigger as long as the oc running

Here is a screenshot from kadressbook:
![screenshot_004](https://cloud

[2016-02-29 09:48] arsefire opened #22710 "LDAP Issue - Intermittent dropping connection"
### Steps to reproduce
1. LDAP configured correctly, shows configuration OK.
2. User logs in, gets rejected.
3. Check logs, shows No LDAP Connection to server. LDAP box still shows configuration OK.

### Expected behaviour
LDAP gets configured, users able to log in.

### Actual behaviour
Issue is only intermittent, can be fine for hours / days and then suddenly reject a login attempt. Unticking Co

[2016-02-29 09:49] PVince81 commented on #22704
@alve89 if you have an existing folder "mounts" you can just specify "mounts/sftp" for your SFTP mount point for example.

This should already work, closing.

If it's broken, feel free to reopen and we'll label it as bug.

[2016-02-29 09:49] arsefire commented on #22710
P.S. This is my first time posting so just wanted to say thanks for such awesome code!

[2016-02-29 09:53] nasli commented on #22675
@rullzer the problem is with update an existing share
Since we do not know the maximun permissions of a folder that has been shared with me, first of all we share the file with the less permissions, 1. And after that allow the user to update it, and the update request allows to give more permissions that the ones the file has.
`
curl -u user2:user server/ocs/v2.php/apps/files_sharing/api/v1/shares

[2016-02-29 09:56] dragotin opened #22711 "Checksums: Implement RFC 3230"
This enhancement will implement compliance with [RFC 3220](https://tools.ietf.org/html/rfc3230) which is about how client and server negotiate a checksum over the request/reply body.

### Expected behaviour
Server should follow RFC 3230. That means in a nutshell:
The server checks requests for the existance of the header `Want Digest`. If it is there, the server adds a header value to the reply wi

[2016-02-29 09:59] rullzer commented on #22675
@nasli no v1.php or v2.php of the OCS (not the share api) is just passing on the status codes. Nothing v1 should work as expected.

I'll take a look at you test case. Thanks.

[2016-02-29 10:01] #22622 closed

[2016-02-29 10:21] PVince81 commented on #19988
The 1.8.4 client shows "X bytes of X bytes", I hope it's ok...
![oldclient-negative-quota](https://cloud.githubusercontent.com/assets/277525/13391747/6fbfccda-ded6-11e5-9ed7-eb39dae78571.png)

[2016-02-29 10:42] DeepDiver1975 commented on #22711
Nice - I was not aware of this - THX

[2016-02-29 10:43] DeepDiver1975 commented on #22711
We should have a look at this RFC and see how this fits into our requirements for the followup implementations regarding checksum handling on the server.

[2016-02-29 10:50] jvillafanez opened #22715 "Upgrade to "owncloud-files" package in 9.0 tries **unsuccessfully** to delete the config and data folder inside the ownCloud installation"
### Steps to reproduce
1. Install the "owncloud" package (version 8.2) from the official repos
2. Fill the FS a bit (upload several files, create a couple of acounts, etc)
3. Install the "owncloud-files" package (version 9.0) from the official repos

### Expected behaviour
No issues found. The config and data folder remains in the system.

### Actual behaviour
Following message appears:
[code]

##

[2016-02-29 10:58] jnweiger commented on #22715
Didn't we have the same messages in the 8.1 -> 8.2 upgrade?
I remember seeing them before, but am not sure where and when...

[2016-02-29 10:59] alve89 commented on #22704
This might work for SFTP (I can't try, my hoster doesn't offer this) but it doesn't work for FTP, WebDAV, Dropbox, ownCloud. I couldn't test the other storages.
So it's not a bug but a feature request that could be very helpful I think.

[2016-02-29 11:00] alve89 commented on #22704
How could I even reopen an issue if I'd like to (generally, not this one)?

[2016-02-29 11:01] blizzz commented on #19240
Talked with @SergioBertolinSG and got access to an instance. It was a configuration issue, because a wrong (the default) user display name attribute was set. Apparently, "Count users" was not clicked on the user tab, which triggeres an automatic discovery of this attribute. Otherwise you can do it manually in the advanced tab. Having this correct, it works as intended → closing.

[2016-02-29 11:01] #19240 closed

[2016-02-29 11:09] dragotin commented on #22711
@moscicki fyi, what do you think about this?

[2016-02-29 11:10] PVince81 commented on #22704
@alve89 SFTP was just an example. It should work already will all other external storages too.

If it doesn't work when adding the parent folder name in the mount point name, then it's likely a bug.

[2016-02-29 11:11] nickvergessen commented on #22709
Should be a problem with the old contacts app: https://github.com/owncloud/contacts/ ,
I tested the new endpoint and it works fine.
But also 8.2.2 is no problem for me, so maybe a problem with your DB setup?

[2016-02-29 11:30] SergioBertolinSG commented on #19240
To make this work, "User display name field" in advanced tab was changed to "cn".

[2016-02-29 11:31] jvillafanez commented on #22715
Maybe for 8.2.1 or 8.2.0. I've checked the latest tests and I haven't found anything for 8.2.2

[2016-02-29 11:36] blizzz opened #22716 "LDAP Wizard: detecting display name might run after counting users, resulting in 0 users with default attriubute"
A thing I have seen today. Seems, email + user display name detectors are run the same time with counting. It does matter for email, but the user display name setting can have an impact.
### Steps to reproduce
1. Have an LDAP set up, where "displayname" attribute is _not_ set
2. Configure Basic LDAP tab, then move to User tab
3. configure as needed, then click "Count Users"
### Expected behaviour

[2016-02-29 11:37] alve89 commented on #22704
@PVince81 Oh great. I didn't know that just adding the parent folder name would work. So it works now.
But for non-tech-users who might be allowed to add external storages too, a input-select-box (as it is used in sharing input box that displays available users via AJAX) was very helpful.
What do you think?

[2016-02-29 11:45] SergioBertolinSG commented on #22272
Apparently part of this layout is fixed already, but there are still some problems yet:

![screen shot 2016-02-29 at 12 44 38](https://cloud.githubusercontent.com/assets/9048796/13393535/51098676-dee2-11e5-805d-f1d3f5e3e4d7.png)

[2016-02-29 11:46] danielreuther commented on #13786
@PVince81 Sorry for not being too clear on this one -- the HEAD request will of course not send the file over the wire (that's why it's a HEAD request) but from a very brief look at Sabre (yesterday late night), I started to assume that **something** might cause Sabre to read the file in its entirety. I jumped to this conclusion because Sabre is internally calling httpGet and just sets the respons

[2016-02-29 11:53] ufgum commented on #22709
Would you please try to update an entry with umlaute in the notes field? Just update another field. I also can not reprocuce it on any times, but last, the notes field was already there and I add a birthday.

[2016-02-29 11:59] DeepDiver1975 commented on #22709
should be reported there - but is kind of pointless since the app is no longer maintained

[2016-02-29 11:59] #22709 closed

[2016-02-29 12:00] nasli opened #22717 "Share api does not allow update permission of a reshared folder"
### Steps to reproduce
1.User 1 share a folder with user 2 same server with permissions: read, create and share:21
2.User 2 share this folder with user 3 same server,
3.User 2 try to update permissions of this folder for user 3

`
 curl -u user1:user server/ocs/v2.php/apps/files_sharing/api/v1/shares -X POST -d "path=/ab/&shareType=0&shareWith=user2&permissions=21"
`
`
curl -u user2:user server/oc

[2016-02-29 12:05] nasli commented on #22675
@rullzer, with today master we can not update any permissions of a reshared folder, I open new issue #22717

[2016-02-29 12:10] PVince81 commented on #22704
Ok, then let me reopen this for adding mount point creation  assistance in the form of a lookup dropdown or others.

[2016-02-29 12:11] rullzer commented on #22717
Known and fix is already merged https://github.com/owncloud/core/pull/22683

[2016-02-29 12:11] #22717 closed

[2016-02-29 12:20] oparoz commented on #22702
@jancborchardt You're OK with this behaviour? As a user I find it confusing to see rows belonging to people I don't know.

[2016-02-29 12:30] vanMacG commented on #22698
**The content of config/config.php:**
<?php
$CONFIG = array (
'instanceid' => 'oc0flwmdlhen',
'passwordsalt' => 'xxx',
'secret' => 'xxx',
'trusted_domains' =>
array (
0 => 'betacloud.xxx.eu',
),
'datadirectory' => '/www/htdocs/w0069a6f/testing/owncloud/data_ufdruqd6b2',
'overwrite.cli.url' => 'https://betacloud.xxx.eu',
'dbtype' => 'mysql',
'version' => '9.0.0.12',
'dbname' => 'd01ed8f6',
'dbhost'

[2016-02-29 12:32] jorgeboucas opened #22718 "'Files Drop' over PUT"
It would be good if one could set a folder to "Files Drop" with PUT.
Thanks!

[2016-02-29 12:33] nickvergessen opened #22719 "Document the event names of Dispatcher events"
We started using more and more EventDispatcher events.
I think it would be nice, to document the names:
1. To make it visible which events exist
2. Prevent duplication of event names
3. To prevent typos/casing issues in the event name (constants e.g.)
4. Make it clear that events are somewhat public API and should not be changed.

@DeepDiver1975

Either in code (lib/public/) or in the developer do

[2016-02-29 12:41] nickvergessen commented on #22718
There is no "Files drop" in core which requires a folder being set.
If you mean the  "Files drop" app, then I will move/copy your report to the respective repository:

[2016-02-29 12:43] PVince81 commented on #22692
Change of behavior from 8.2.2, kind of a regression that can affect some clients.
Increasing severity.

[2016-02-29 12:46] jorgeboucas commented on #22718
Yes, please! Thank you!

[2016-02-29 12:49] cmonteroluque commented on #22336
@Henni can this be resolved by tomorrow? Otherwise it will have to go to 9.1

[2016-02-29 12:50] cmonteroluque commented on #22371
@enoch85 any luck testing this today or tomorrow? We want to lock down this release by tomorrow. Many thanks for all your help!

[2016-02-29 12:51] nickvergessen commented on #22718
https://github.com/owncloud/files_drop/issues/91

[2016-02-29 12:51] #22718 closed

[2016-02-29 12:52] nickvergessen commented on #22706
Looks like a client issue to me, try https://github.com/owncloud/client/issues/new

[2016-02-29 12:55] MorrisJobke opened #22720 "Slow queries in the appconfig table"
While analyzing the performance of a system slow query log was enabled. There were 1500 slow query above 100 seconds. (it was a system under high load)

650 of those queries are

[code]

560 of those queries are

[code]

I think those are the ones we need to improve next. I also think that those queries could be easily cached in-memory without fearing difficult issues.

cc @karlitschek because you

[2016-02-29 13:06] nickvergessen commented on #22720
Just want to highlight the issue again, enabling an app via console can not purge web memcache...

[2016-02-29 13:08] MorrisJobke commented on #22718
Hi @jorgeboucas if you intend to open a support case (because you referred to an enterprise version only app) please contact the support directly - otherwise we are not able to properly track this with you as a customer.

Thanks

[2016-02-29 13:12] DeepDiver1975 commented on #22720
is that one using an index?

[2016-02-29 13:14] nickvergessen commented on #22720
[code]
Yes app+configkey is the primary key.

[2016-02-29 13:15] nickvergessen commented on #22720
@MorrisJobke can we get the number of entries in the table?

[2016-02-29 13:19] jorgeboucas commented on #22718
Hi @MorrisJobke, I've asked my service provider to contact you guys. Thanks for the support!

[2016-02-29 13:23] MorrisJobke commented on #22720
[code]

Most of the entries are for the share propagation stuff.

[2016-02-29 13:24] MorrisJobke commented on #22720
Yes.

[2016-02-29 13:25] DeepDiver1975 commented on #22720
fishy .....

[2016-02-29 13:27] icewind1991 commented on #22720
those are no longer created for 9.0

[2016-02-29 13:28] MorrisJobke commented on #22718
:+1:

[2016-02-29 13:29] jesmrec opened #22721 "Federated shares accepted and not displayed"
### Steps to reproduce
1. UserA (serverA, https not trusted) shares a file with UserB (serverB, http)

### Expected behaviour
UserA can not share the file with userB, or, if UserA can, UserB accepts and views the file.

### Actual behaviour
UserA sees the file as shared with UserB
User B can accept the file but does not see the file

### Server configuration
ServerA: {"installed":true,"maintenance

[2016-02-29 13:30] MorrisJobke commented on #22702
At least this is how it was discussed in https://github.com/owncloud/core/issues/19331

[2016-02-29 13:33] butonic commented on #18017
@PVince81 @MorrisJobke this does impact larger installations where a full table scan of the filecache can take up to a minute. With 35 mimetypes that are updated (or inserted) a migration takes at least 30 min because there is no index that can be used. Be aware of that on big installations.

To complete the upgrade, is it safe to comment the mimetype repair und schedule it for a later execution?

[2016-02-29 13:41] oparoz commented on #22702
Thanks. Seems there still are some big outstanding issues, like the way unsharing works.

[2016-02-29 13:42] jancborchardt commented on #22272
Fix at https://github.com/owncloud/core/pull/22722

Haha, that’s a funny coincidence – issue #22272, fix pr #22722 ;) let’s drink on that numerology.

[2016-02-29 13:42] rullzer commented on #22702
How so? Unsharing is just unsharing. There is no tree anymore so you just unshare 1 share at a time.

[2016-02-29 13:48] rullzer commented on #22708
I really like this approach of exposing this information via webdav. So much more elegant than the calls to the OCS Share API. While the webdav call needs to happen anyway.

[2016-02-29 13:49] rullzer commented on #22708
But I agree also that 9.0.0 is way to risky

[2016-02-29 13:50] 9787954511 opened #22723 "504 Gateway Time-out nginx (when using Hubic Storage)"
### Steps to reproduce
1. I have integrated the Hubic storage from https://github.com/arelange/owncloud-files-hubic
2. i have done everything, last two days i can access my files of hubic in owncloud, but suddenly its thoroughing 504 Gateway Time-out error
3). When i try to access from terminal i can fetch the files from the Hubic.

### Expected behaviour
Its should fetch the data from the Hubic a

[2016-02-29 13:51] LukasReschke commented on #22723
This is a third-party app, please file this to the maintainer at https://github.com/arelange/owncloud-files-hubic

[2016-02-29 13:51] #22723 closed

[2016-02-29 13:56] rullzer commented on #22675
Ok I can reproduce this... and I think I know why this is happening...
Good spot :)

[2016-02-29 13:56] danielreuther commented on #13786
Alright, I guess this could be a "simple" matter of updating Sabre to a later version.
After merging [this](https://github.com/fruux/sabre-dav/commit/4e16fa25b55e12f79c911a2b444e6b951aaeb7e3), the problem disappears :)

Would it be possible to get this into a next OC release?

[2016-02-29 13:59] 9787954511 commented on #22723
Thanks @LukasReschke and any other way to integrate the Hubic on owncloud?

[2016-02-29 14:00] PVince81 opened #22724 "Update Sabre to 3.1"
In 9.1, update Sabre to 3.1, if possible.

Need to double check the PHP version compatibilities.

[2016-02-29 14:00] #19915 closed

[2016-02-29 14:00] PVince81 commented on #13786
9.0 is using Sabre 3.0.7, not sure if the fix is in.

I raised https://github.com/owncloud/core/issues/22724 for 9.1 to update to Sabre 3.1

[2016-02-29 14:02] butonic commented on #18017
@PVince81 Hm it might make more sense to use one expensive select that lists all files that end in a problematic extension, iterate over them in php and do the updates sequentially. Or collect fileids and do `update ... where in (...)` queries.

Should i create a new ticked or do we reuse this one since the analysis in https://github.com/owncloud/core/issues/18017#issuecomment-131400367 is on the

[2016-02-29 14:04] oparoz opened #22726 "File owners think they can modify the permissions on reshares, but they can be overriden by sharees"
### Steps to reproduce
1. A shares a folder with B
2. B shares a folder with C
3. A removes the _edit_ permission for user C
### Expected behaviour

The _edit_ permission should disappear from B's UI when looking at the share created for C and C should not be able to perform any of the _edit_ actions
### Actual behaviour

B can see the disabled _edit_ permission and even re-enable it.

One solutio

[2016-02-29 14:08] danielreuther commented on #13786
3.0.7 seems to have the fix -- great!

Any chance that the 4 lines from https://github.com/fruux/sabre-dav/commit/4e16fa25b55e12f79c911a2b444e6b951aaeb7e3 could make their way into a 8.2 maintenance release? It's a pretty bad bug after all; possibly with effects on system stability.

[2016-02-29 14:11] butonic commented on #18017
It would also allow us to log which files were affected.

[2016-02-29 14:15] PVince81 commented on #18017
Let's make a new more explicit ticket with the title "Improve mimetype repair performance".
Thanks.

[2016-02-29 14:17] butonic commented on #18017
ref https://github.com/owncloud/core/issues/21974

[2016-02-29 14:17] butonic commented on #18017
@PVince81 will do

[2016-02-29 14:17] oparoz commented on #22702
Exactly. How do you like clicking 10, 20, 30 times on unshare because some popular content got reshared a lot?
1st level shares should be clearly marked and there should be a tick box near each unshare button allowing users to completely wipe that tree.

[2016-02-29 14:17] PVince81 commented on #22726
@rullzer can you evaluate severity ? I'll set this to 9.0.1 for now as this seems problematic.

[2016-02-29 14:20] rullzer commented on #22726
This is not a bug but more a future feature. Yes if B wants he can share again or reenable the edit permisisons. But I fail to see how the situation now is worse than it was with <9.0.0... Now at least the owner of the files can see who has access.

[2016-02-29 14:23] icewind1991 commented on #18359
Should this still be a sev-1 for 9.0 with the improvements that are already in 9.0?

[2016-02-29 14:23] butonic opened #22729 "Improve mimetype repair performance"
@PVince81 @MorrisJobke mimetype repair performance impacts larger installations where a full table scan of the filecache can take a minute or more. With 35 mimetypes that are updated (or inserted) a migration takes at least 30 min because there is no index that can be used.

The analysis of the expensive update in https://github.com/owncloud/core/issues/18017#issuecomment-131400367 is on the spot.

[2016-02-29 14:23] oparoz commented on #22726
Yes, but owners should not be shown actions they can't perform (false assurances). That's why I think the implementation is incomplete and I would call it a bug ;)

[2016-02-29 14:23] PVince81 commented on #22702
"Unshare from all" ?

[2016-02-29 14:23] rullzer commented on #22726
THey can remove the permission..
Just userB can restore it...

[2016-02-29 14:26] oparoz commented on #22726
1. A removes the permission, thinks he's done
1. B notices the permission is "wrong", restores it
1. C decides he doesn't like the content of the folder and deletes it
1. A can't find the folder any more

This could happen with less drastic changes, such as editing a document.

[2016-02-29 14:29] PVince81 commented on #18359
@icewind1991 good point, @schiesbn's original ticket was discovered in 8.2.2.

Would still be good to have a backportable quickfix where etags/mtimes are not propagated for encryption keys, as it makes no sense.

[2016-02-29 14:29] oparoz commented on #22726
My point is that if you decide to implement control granularity, then it has to be done right.
If we still want to let owners have control over all the reshares, then something needs to be done to the UI of all people in between and I would call that an enhancement, but I think in the mean time the best course of action would be to remove permissions from owners in order to avoid problems down the

[2016-02-29 14:33] oparoz commented on #22702
@PVince81 Exactly. I don't know if there is already a discussion on unsharing specifically, if not I can open a feature request

[2016-02-29 14:39] PVince81 commented on #22702
Not that I'm aware of. Would be a nice addition.

[2016-02-29 14:39] rullzer commented on #22726
So then there is no point in showing the owner the list of everybody who has access anyway... Since they can't do anything about it. Because the same holds for deleting a share. Somebody else could still reshare to that user.

[2016-02-29 14:40] rullzer commented on #22726
@schiesbn what do you think?

[2016-02-29 14:41] PVince81 commented on #20481
Setting this to critical, it has been observed already 3-4 times in different environments.

[2016-02-29 14:42] rullzer commented on #22702
That would be a nice addition.

However, I have yet to come across an installation that has so many reshares of a single file. It is more of a theoretical problem.

[2016-02-29 14:46] MorrisJobke commented on #22720
Nice :)

[2016-02-29 14:50] LukasReschke commented on #20481
Considering that the limit is 1000 requests per 100 seconds per user we probably need some change detection here. Otherwise this seems like something that one can easily fall into again.

[2016-02-29 14:52] gig13 commented on #18910
@MorrisJobke Ajax response on s3
https://s3.owncloud.com/owncloud/index.php/apps/files?dir=%2FShared%2Fowncloud%2Fsupport%2Fgithub-issues%2Fcore%2F18910

[2016-02-29 15:01] icewind1991 commented on #18359
I'm not sure about the impact of such a change, code might rely on things like sizes being updated correctly

[2016-02-29 15:06] PVince81 commented on #18359
@icewind1991 I don't think the encryption code requires the size of the key folders, also that is not counted in the quota.

@schiesbn what do you think ?

[2016-02-29 15:09] oparoz commented on #22726
Good point actually. There is a similar problem with unsharing. B can just re-add the share..
I still find it useful to see who has access to the item, but any action taken with the current design has more drawbacks than benefits from my point of view.

[2016-02-29 15:10] schiesbn commented on #22726
I agree with @rullzer. The whole point is that the owner sees who has access to his files, with which permissions and that can also change it, unshare it etc. But if user A gave user B reshare and edit permission, then he gave him this power by choice. So he shouldn't be surprised if the user exercise it. If user A don't want user B to be able to edit and/or re-share the file he has to remove the

[2016-02-29 15:14] LukasReschke opened #22730 "app:enable broken if file id and app name do differ"
After installation:

[code]

Works after second request … debugging …

[2016-02-29 15:15] oparoz commented on #22726
Yes, read-only permissions sound like a good idea.

Yes, but it's user C we're talking about here. There is no point in letting A modify those since everybody between A and C can modify these.

[2016-02-29 15:16] LukasReschke commented on #22730
Aha. Caused because the app id is wrong which makes it explode hard. So https://github.com/owncloud/contacts/pull/67 should fix this, still should be fixed in core as well.

[2016-02-29 15:24] icewind1991 commented on #18359
iirc trashbin uses the size

[2016-02-29 15:26] oparoz commented on #22702
Quick question:

A and B belongs to group1
B and C belong to group2
A shares with B who shares with C

Does A see C as a sharee?

[2016-02-29 15:26] PVince81 commented on #18359
To limit the impact, I suggest limiting the exclusion to "files_encryption"

[2016-02-29 15:32] schiesbn commented on #22726
Yes, but A is the owner, so he should be able to change it. Btw, not everybody between A and C can change it. Only the users who got the corresponding permissions from A. So this are users user A trust anyway, otherwise he wouln't give them the permissions.

[2016-02-29 15:38] oparoz commented on #22726
Of course, but the reality is that he has no controls over those permissions, unless he makes the change to the top share. So that view is misleading and that's my problem with it.

[2016-02-29 15:41] schiesbn commented on #22726
He has control over it, together with the users he empowered to control it as well. But this was a decision by the owner and by purpose. If he doesn't like it or feel that a user miss-used the rights given to him he can reduce his rights.

[2016-02-29 15:50] gig13 commented on #22596
@LukasReschke @MorrisJobke What is the summary for the customer? Do we need to make some enhancements? Is this the expected behavior (at this point in time)?

[2016-02-29 15:53] oparoz commented on #22726
Which might be restored without him knowing about it, defeating the purpose of reducing the rights in the first place.
As the file owner, my decision should be final and it seems the only way to do that right now is to delete the share with C and re-create it using custom permissions. That way B can't share it any more and I have a direct relationship with C.

I'm not sure this is the best way to

[2016-02-29 16:00] steve-s-71 commented on #22537
I have sucessfully insert the line into oc_jobs and modified lib/private/backgroundjob/job.php accoding to the link (correctly I modified /var/www/owncloud/lib/private/backgroundjob/job.php)

I cant find the other file what shall get modified (tests/lib/backgroundjob/job.php). There is not a folder 'tests' existing as subfolder of  /var/www/owncloud

[2016-02-29 16:06] PVince81 commented on #22708
Discussed with @cmonteroluque, moving to 9.0.1 for now. I hope we can find a quickfix until then.

[2016-02-29 16:08] MorrisJobke commented on #22702
Yes. In 9.0 the hierarchy is dropped and the sharees are added to the original share.

[2016-02-29 16:09] oparoz commented on #22702
Thanks for confirming.

[2016-02-29 16:10] PVince81 commented on #22588
@Xenopathic any update ?

[2016-02-29 16:11] PVince81 commented on #22625
@DeepDiver1975 any update ? (it's assigned to you)

[2016-02-29 16:14] MorrisJobke commented on #18359
Not really a blue ticket anymore. Case was closed.

[2016-02-29 16:15] MorrisJobke commented on #22729
@karlitschek We also talked about this last week

[2016-02-29 16:23] oparoz opened #22732 "Make it possible to unshare all shares, or a subset, in one click"
**User type**: Logged-in

**User level**: All
### Description

From 9.0, all reshares are shown in the owner's sharing tab and there is no visual distinction between shares and reshares. Owners can only guess to which of their sharee a specific reshare belongs to (if a sharee reshares outside of the group and so on)

A, B and C belongs to group1
B and D belong to group2
C and F belong to group3

A

[2016-02-29 16:26] nickvergessen commented on #22537
Yeah tests are missing if you are not running a git installation, so that should be fine.

[2016-02-29 16:32] PVince81 commented on #22732
@owncloud/designers @MTRichards @karlitschek

[2016-02-29 16:33] icewind1991 commented on #18359
With #22733 there is a ~24% improvement in run time between 8.2 and 9.0 ([comparison](https://blackfire.io/profiles/compare/aa6e8b83-75a0-48fa-aaac-1f121ae7d644/graph))

[2016-02-29 16:35] MorrisJobke commented on #22680
Yes, but this indicates, that the JS can't handle error cases (that could happen) properly.

[2016-02-29 16:35] icewind1991 commented on #18359
With #22733 and #22648 combined ~34% ([comparison](https://blackfire.io/profiles/compare/00e1ffe0-0be2-475b-93ea-290feac75447/graph))

[2016-02-29 16:36] MorrisJobke commented on #22689
Sure, but this doesn't make it more maintainable :cry:

@PVince81 How do you rate the UX vs maintainability ratio?

[2016-02-29 16:36] MorrisJobke commented on #22689
Or @rullzer

[2016-02-29 16:36] georgehrke opened #22734 "CalDAV: send out email notifications for VALARMs"
The dav app should send email alarms configured by the user.

cc @DeepDiver1975

[2016-02-29 16:41] PVince81 commented on #22689
DAMMIT IE11, I thought we were done with placeholder workarounds ??!!

[2016-02-29 16:41] nickvergessen commented on #22730
Well appid has to be the folder name by definition, because we can not find the app classes otherwise with autoloading.
So the only thing we can fix here is the error message

[2016-02-29 16:41] georgehrke opened #22735 "CalDAV: support public sharing"
The dav app should support publishing calendars as described in https://trac.calendarserver.org/browser/CalendarServer/trunk/doc/Extensions/caldav-sharing.txt

cc @DeepDiver1975

First we need to implement caldav sharing as below - after that being done we need to see where publishing is being hooked in

# Steps to take to make this happen
1. Add Sabre\CalDAV\SharingPlugin to v1 and v2 dav routes

[2016-02-29 16:42] PVince81 commented on #22689
Looks like we'll need to hunt for a new jquery placeholder shim for IE10/IE11.
But first, does the existing one work in these versions ?

[2016-02-29 16:43] PVince81 commented on #22689
How did we do it in OC < 8.2 where there was no sidebar ? Pretty sure it likely looked the same.

[2016-02-29 16:46] icewind1991 commented on #18359
note that these numbers come from a setup with a local sqlite db stored on a ramdisk, the impact of the saving is likely to be larger in a "real" setup

[2016-02-29 16:47] MorrisJobke commented on #22336
I don't think so. @Henni is heavily involved into contacts or calendar rework (I don't remind this properly).

[2016-02-29 16:47] DeepDiver1975 commented on #22734
Maybe something to be integrated into the activity stream?

@nickvergessen @karlitschek

[2016-02-29 16:48] icewind1991 commented on #18359
#22736 for ~40% speedup compared to master ([comparison](https://blackfire.io/profiles/compare/bb5c8329-4e77-4694-8f5c-3437dff43cb5/graph))

[2016-02-29 16:48] PVince81 commented on #18359
@icewind1991 is there any improvement already without https://github.com/owncloud/core/pull/22733 ? At least with https://github.com/owncloud/core/pull/22648 alone ?

[2016-02-29 16:49] PVince81 commented on #18359
I don't want to merge https://github.com/owncloud/core/pull/22733 now, it's too risky (moved to 9.0.1).

https://github.com/owncloud/core/pull/22648 seems to be an oversight from another perf fix you did before, so we need to get that one in too for 9.0 to get some benefit. Is that correct ?

[2016-02-29 16:50] icewind1991 commented on #18359
(all comparisons are made against stable8.2)

Just #22648 [~19%](https://blackfire.io/profiles/compare/e23664f7-bf4e-4c7d-9aff-27a31bd0c339/graph)

[2016-02-29 16:51] icewind1991 commented on #18359
I think you're mixing up the 2, #22733 is a fairly small fix that I missed before, #22648 I agree is to risky

[2016-02-29 16:52] LukeOwncloud commented on #14531
I just had a look at the mysql log for a single ``PROPFIND`` operation:

- 104 ``SELECTs``
- 16 ``UPDATE oc_file_lock```
- 8 `INSERT INTO `oc_file_locks`

Can this be correct? In particular, are the writing access operations to `oc_file_locks` needed for a purely reading ``PROPFIND``?

[2016-02-29 16:52] PVince81 commented on #18359
Yeah, mixed up sorry.

[2016-02-29 16:55] PVince81 commented on #14531
When doing a PROPFIND, you are reading a list of entries in a folder.
A concurrent process could make a chance to the folder listing while you are reading it (ex: add/update/remove entries).
So the folder currently being listed will be locked with a shared lock to avoid modifications to it during the read operation (also modifications to etags/sizes, etc). Failure to do so could cause unpredictabl

[2016-02-29 16:55] PVince81 commented on #14531
@icewind1991 correct me if I'm wrong

[2016-02-29 16:55] MorrisJobke commented on #22272
:beers:

[2016-02-29 16:58] PVince81 commented on #22603
If the home storage / object store is not available, then ownCloud cannot work properly. The only thing that could be done here would be to throw a proper exception that tells what's wrong, maybe an exception that results in 503 service not available.

I suppose this could also happen in a running system if the SWIFT object store connection is lost or the server is unreachable.

[2016-02-29 17:03] steve-s-71 commented on #22537
Unfortunately the Trash-bin is still not cleaned. I regognised after inserting the line into oc_jobs it looks like this:

[code]

then after I ran sudo -u www-data php cron.php the fist line is deleted:

[code]

I have double checked that I have definitely removed the line from lib/private/backgroundjob/job.php per the link you provided.

[2016-02-29 17:12] MorrisJobke commented on #18910
The request against the share.php had following attributes:

<img width="194" alt="bildschirmfoto 2016-02-29 um 15 20 14" src="https://cloud.githubusercontent.com/assets/245432/13402082/00b592f0-df0f-11e5-9ff5-035a70641e09.png">

The response already contained the duplicated entries in the `share` list of the ajax response. This means those entries are coming in via https://github.com/owncloud/cor

[2016-02-29 17:20] oparoz opened #22737 "Sharees don't have access to the permissions given to them by sharers"
### Actual behaviour

As a sharee, I have no idea what I'm able to do (CRUD) with the share and I discover the limits of my power as I go along

### Expected behaviour

As a sharee, I should have access to the permissions given to me by the sharer in order to be able to make informed decisions.

----
@rullzer @PVince81 @schiesbn @jancborchardt

[2016-02-29 17:21] MorrisJobke commented on #22596
@gig13 Could they try following patch:

[code]

Best would be to test this in a test instance first. I could give this tomorrow a test.

[2016-02-29 17:23] oparoz opened #22738 "Sharees should be shown error messages if they try to perform actions they're not allowed to"
### Steps to reproduce
1. A shares a folder with B
2. A removes the delete permission
3. B creates a new folder inside the share
4. B tries to move some of the file to that new folder via drag and drop
### Expected behaviour

I should be able to move the files or be told that I'm not allowed to do so.
### Actual behaviour

Nothing happens when I drop the files into the folder.

---

@rullzer @PVin

[2016-02-29 17:27] oparoz commented on #22719
:+1:

[2016-02-29 17:31] MorrisJobke opened #22739 "Sharing permission issue"
### Steps to reproduce
1. user0, user1, user2 exist
2. user0 shares folder A to user1(read-write) and user2 (read-only)
3. user1 logs in and open the sidebar for received share A
4. user0 removes the "can edit" permission for user1
5. user1 (didn't refresh the browser) could still give user2 the "can edit" permission

note: after a refresh user1 couldn't see the "can edit" permission - so this see

[2016-02-29 17:32] MorrisJobke commented on #22739
@cmonteroluque @PVince81 I put this into 9.0.1, but given that this is kind of critical I would be more than happy to have this solved in 9.0.

[2016-02-29 17:33] MorrisJobke commented on #22739
Initial share setup (read mjob as user0) - after step 3:

![bildschirmfoto 2016-02-29 um 18 27 10](https://cloud.githubusercontent.com/assets/245432/13402906/c3356c94-df12-11e5-8b5c-b1a5599061ee.png)

[2016-02-29 17:37] MorrisJobke commented on #22726
I noticed https://github.com/owncloud/core/issues/22739 why following this discussion.

[2016-02-29 17:37] gig13 commented on #18910
@MorrisJobke Cust response --

"I've been using the newer $userManager->listen style with a callable as in https://doc.owncloud.com/server/8.1/developer_manual/app/hooks.html.

I can't find the docs referring to using the Util::connectHook method. From what I can see in the code they don't overlap at all, one is not a wrapper for the other. So it looks like I need to provide a function name to con

[2016-02-29 17:58] steve-s-71 commented on #22537
I further figured out, first line is NOT deleted when the cron.php runs via ajax, webcron or systemcron. First line is  deleted only when I manually enter sudo -u www-data php cron.php into bash

But in any case old files are not removed from the trash bin.

[2016-02-29 18:03] blizzz commented on #18165
While you were running ownCloud was the used LDAP server changed or migrated?

A wrong UUID will hurt you if a DN changes, because then the user cannot be found again and a new one will be generated.

[2016-02-29 18:07] rullzer commented on #22739
Duplicate of https://github.com/owncloud/core/issues/22675

[2016-02-29 18:07] #22739 closed

[2016-02-29 18:12] karlitschek commented on #22734
Definitely something for the activity stream but also notifications.

[2016-02-29 18:13] LukeOwncloud commented on #14531
The only thing that comes to my mind what could go wrong, is that a directory size is not equal to the sum of its containing items (in case dir size is somehow obtained first, then a file is changed in parallel, afterwards containing files are "propfound" (but this sounds like an odd implementation if that happened)). It this case the result is inconsistent in itself, however, a PROPFIND should ne

[2016-02-29 18:38] rullzer commented on #22737
Yes this is known (can't find the issues right now). We are thinking about how to do this properly.

A somewhat working approach right now is `shares?shared_with_me=true&path=<PATH>`.

Most likely another webdav property will be added or the current OC Permissions extended. CC: @PVince81

[2016-02-29 18:40] Henni commented on #22336
I tried to fix it in https://github.com/owncloud/core/issues/22415, but it didn't work.
As I don't have an iOS device someone else should try.

[2016-02-29 18:51] rullzer commented on #22724
Well not argument here that that is what we want ;)

But requires php >=5.5.0

[2016-02-29 18:52] rullzer commented on #22680
Ok true ;)

[2016-02-29 18:55] LukasReschke commented on #22578
Proposed patch is at https://github.com/owncloud/core/pull/22731

[2016-02-29 19:11] LukeOwncloud commented on #14531
My apologies, I used version 8.2.0. Now using 8.2.2 performance is much better (~factor 100). Probably due to the fact that there are no `UPDATE`s nor `INSERT`s and only about half the number of `SELECT`s.

[2016-02-29 19:18] nasli commented on #22675
Fixed via #22740

[2016-02-29 19:24] c0fe opened #22741 "Implement install by default full text search"
Implement the ability to perform full text search instead of Search Lucene which has been buggy and has not even been released properly.

[2016-02-29 20:07] beniroquai commented on #22609
Sorry, I was waiting for the admin, but he is in holidays :D..Sorry. Any ideas, what could cause the problem? As I've said, when deleting the folder in the web and recreating a file with the same name I can bypass the problem with the sync.

[2016-02-29 20:09] karlitschek commented on #22729
Thanks @MorrisJobke @butonic I fully agree. Something like a mimetype update has to happen in a non blocking way and not during update. We should again question if it makes sense to always have fully accurate mimetypes for all the files in ownCloud in the first place. Maybe this is not needed.

[2016-02-29 21:28] h-2 commented on #13786
:+1:

[2016-02-29 23:13] MorrisJobke opened #22743 "Make login hooks public"
This is about a 8.1 instance - maybe different for 8.2 or master, but needs to be checked:
- listen to post_login hook

My answer:

From https://github.com/owncloud/core/issues/18910#issuecomment-190304372:

cc @gig13 and @scolebrook

[2016-02-29 23:17] MorrisJobke commented on #22743
The OCP\Util methods are in the public namespace, and the only way to connect to hooks afaik.

@icewind1991 @PVince81 Are those hooks somehow connected to the events that are emitted via the emitterTrait?

To be more precise - it's that event: https://github.com/owncloud/core/blob/stable8.1/lib/private/user/session.php#L223

[2016-02-29 23:17] MorrisJobke commented on #18910
@gig13 I created a separate ticket for the hooks issue: #22743

[2016-03-01 01:22] prastut commented on #20477
I am GSOC 2016 aspirant and wish to take up this issue. How to proceed further:
* Do I have to sign the Contributor agreement?
* Correct me if the following workflow is wrong:
  * Fork core. Set remote to forked core
  * Open a branch from master. Any conventions to be followed?
  * Open a PR to master.

[2016-03-01 05:07] carlaschroder commented on #12215
My favorite thing!

[2016-03-01 06:48] RealRancor commented on #22741
Maybe just get https://github.com/owncloud/search_lucene/issues/113 fixed for 8.2?

[2016-03-01 07:04] stuporglue opened #22744 "Problems syncing accents on filenames in External Files plugin"
### Steps to reproduce
1. Install ownCloud via the debian repo (deb http://download.owncloud.org/download/repositories/stable/Debian_8.0/ /)
2. Enable the External storage support  0.3.0 app
3. Add a local external storage share
4. Add an SFTP share which accesses localhost (so that the share will be writable)

Both shares in steps 3 & 4 should contain files with special characters. So far I've se

[2016-03-01 07:16] LukeOwncloud opened #22745 "log_authfailip not documented"
In multiple places I read about parameter `log_authfailip` for ``config.php``. Is it real? Does it still exist? Documentation does not mention it: https://doc.owncloud.org/search.html?q=log_authfailip

[2016-03-01 07:17] #22675 closed

[2016-03-01 07:23] #22502 closed

[2016-03-01 07:24] #22272 closed

[2016-03-01 07:24] MorrisJobke commented on #18359
* [ ] #22648
* [ ] #22733
* [ ] #22736

[2016-03-01 07:25] RealRancor commented on #22745
@LukeOwncloud That was removed some time ago: https://github.com/owncloud/core/issues/13094

[2016-03-01 07:25] MorrisJobke commented on #18359
Only #22648 is not merged and will not get into 9.1 -> moving this issue to 9.1 too, because the 9.0 issues are resolved.

[2016-03-01 07:26] MorrisJobke commented on #18359
@PVince81 Or should we create a new issue?

[2016-03-01 07:35] LukeOwncloud commented on #22745
Ouch! Don't know why I didn't find that issue on my own. Sorry!

[2016-03-01 07:35] #22745 closed

[2016-03-01 07:39] MorrisJobke commented on #20477
This would make it easier for you to contribute. You could also provide smaller pieces as MIT licensed code.

As long as you didn't signed the CLA this is correct. Once signed you could create branches right inside the core repo.

Usually not. Best would be to have tests ready for the added feature, but this is sometimes hard to accomplish.

Correct. Then the review process will start automaticall

[2016-03-01 07:39] MorrisJobke commented on #20477
@prastut And welcome aboard :)

[2016-03-01 07:45] MorrisJobke commented on #22744
cc @icewind1991 @PVince81

[2016-03-01 08:22] #22578 closed

[2016-03-01 08:22] #22692 closed

[2016-03-01 08:44] SergioBertolinSG opened #22746 "Tooltip in federated sharing is not showing the full url."
### Steps to reproduce

Having admin in serverA and admin in serverB
1. Share a file from admin@serverA with admin@serverB.
2. In ServerB accept the share.
3. In ServerA open the sidebar of the shared file and hover the shared name

### Expected behaviour
Tooltip shows full url.

### Actual behaviour
Tooltip shows the same information.

![screen shot 2016-03-01 at 09 35 07](https://cloud.githubuse

[2016-03-01 08:54] PVince81 commented on #13786
No, we don't backport library fixes to older versions. The only way I see for this to work is to have Sabre backport their fix to 2.1 and then we could consider upgrading the Sabre version of 8.2.2, but also need to be careful that it doesn't break other things (regressions and all)

[2016-03-01 09:00] PVince81 commented on #18359
I'm fine keeping this issue.

[2016-03-01 09:05] PVince81 commented on #22744
Works for me on 8.2.2 with SFTP on openSUSE 13.2, with sync client 2.1.1.
I used files with Umlauts like "testüü.txt". It works for upload and download.

Maybe something is wrong with your locale settings on your ownCloud server ?

[2016-03-01 09:15] nickvergessen commented on #22603
Well the skeleton files are in the owncloud source tree and can not be copied from there.
Also we have a check if the folder exists and that works :exclamation:
https://github.com/owncloud/core/blob/7abb8693a16f96c3bcb252afce39fbd29ec0ed57/lib/private/util.php#L328-L329
[code]
So I'm not really sure what happens with our CI there.

But no, this is not a real world scenario

[2016-03-01 09:19] PVince81 commented on #22603
Analysis seems to show that it's an env issue with the SWIFT docker, not a bug in ownCloud.

Closing in favor of https://github.com/owncloud/core/issues/22588

[2016-03-01 09:19] #22603 closed

[2016-03-01 09:26] nickvergessen commented on #22537
Any entry in your log file?

[2016-03-01 09:32] butonic opened #22747 "Adding a column to the filecache is super time consuming (depending on db)"
The resulting ALTER TABLE for the [added checksum column in OC9](https://github.com/owncloud/core/pull/21997) will create a temp table with tha same columns as the filecache, add the colum, COPY the table content and finally rename it and delete the original table. Big installations will experience a very long downtime as we have seen today with a huge activity table change when updating to oc 8.2

[2016-03-01 09:46] stuporglue commented on #22744
I think my locale settings are all in line:

Below is what I see as a user, what Apache's settings are and what PHP's settings are

[code]

For completeness, here's what I see on the mac:

[code]

The 2.1.1 client you tried -- was that on Mac?

[2016-03-01 09:49] PVince81 commented on #22744
I don't have a Mac, it was on Linux.

If it was a Mac / sync client problem, then you'd also have issues with files outside external storage.
From your symptoms it looks specific to external storage, possibly the SFTP one.

@owncloud/qa can someone reproduce this issue with the Mac sync client ?

[2016-03-01 09:56] butonic commented on #22747
Postgres may omit rebuilding the table if no default value is specified: http://www.postgresql.org/docs/9.5/static/sql-altertable.html#AEN72358

[2016-03-01 09:59] cdamken commented on #22450
@VicDeo

that works good!, thanks.

About this federated error, its something I can do to help?

[2016-03-01 10:01] cdamken commented on #22431
@MorrisJobke Ping?

[2016-03-01 10:19] karlitschek commented on #22747
yes. this is actually the wanted behavior. we want to simulate the upgrade because we actually touch the real table. the reason is that we had a ton of bugs before triggered by combinations of specific db types and servers with specific limitations. certain sometimes broken entries in the table, size limitations ir the combination of all if that.
so we destroyed user data in the past.
the fix is t

[2016-03-01 10:20] stuporglue commented on #22744
Is it possible to have file names not be in UTF-8? Or for certain valid UTF-8 representations to not work?

It looks like I have two hex representations for the files that appear to have the same characters in the names.

````04. Alô, paixão.mp3```` has problems

I selected the text in my terminal (connected over SSH, from my mac) and copied it to the clip board and then did:

cp 04[TAB completion

[2016-03-01 10:23] PVince81 commented on #22744
Okay, you're suffering from the NFD vs NFC utf-8 representation issue... go to #21365 (it mentions SMB but actually applies to all ext storage types)

Best is to not have Mac-specific (NFD encoding) names on external storages for it to work.
There is a workaround to quickly fix the file names here https://github.com/owncloud/core/issues/21365#issuecomment-176688606

[2016-03-01 10:23] #22744 closed

[2016-03-01 10:26] #17411 closed

[2016-03-01 10:33] PVince81 commented on #22370
@dragotin thought it could be related to timeout issues.

@icewind1991 if there is a timeout, would the PHP tear down still called ? (that was on S3)

[2016-03-01 10:35] LukeOwncloud opened #22748 "logtimezone not documented nor set automatically"
By default the datestamp in log file uses UTC formatting:

    "time":"2016-03-01T10:25:58+00:00"

However, this is very unconvenient as it is not easily readable. Rather, the local timezone should be used:

    "time":"2016-03-01T11:26:42+01:00"

This can be achieved by adding config value (see ``lib/private/log/owncloud.php``):

    'logtimezone' => 'Europe/Berlin'

This should be done automatic

[2016-03-01 10:35] PVince81 commented on #22370
Let's have a look at this as part of 9.0.1.

Would be good to have some logs. Sometimes cross-referencing the request id might help find out what else happened there. Maybe the audit log could help too.

[2016-03-01 10:36] MorrisJobke commented on #22747
It's not our code that copies the table. It's mysql that copies the table. So the migration will copy the table (1) -> run the upgrade steps -> that itself triggers a copy of the same table in mysql (2). Then we run the same on the actual code (3+4).

This means we copy the whole table 4 times instead of 2 times. This totally kills bigger installations on mysql.

I guess we either need a way to fi

[2016-03-01 10:37] MorrisJobke commented on #22747
@karlitschek @DeepDiver1975 You asked me about this. It seems that I was wrong here. Today I noticed that the complete activity table was copied while running the alter table statement to add two columns (https://github.com/owncloud/activity/commit/0470887a2a75c018f67ed26574a35cc6bb3d2b28).

[2016-03-01 10:40] MorrisJobke commented on #22747
We should re-evaluate the add of the column to the file cache because this could add a serious problem.

Ref https://github.com/owncloud/core/pull/21997

@karlitschek @DeepDiver1975 Sorry - I did a mistake by stating that this will not be a problem. :cry:

[2016-03-01 10:40] PVince81 commented on #22370
I also remember that sometimes in the tear down routine, PHP starts unloading static variables so it is not guaranteed that they are still available within the tear down / destructors...

[2016-03-01 10:41] MorrisJobke commented on #22747
@PVince81 @nickvergessen I remind that Frank said that you tested this and it worked fine. What exactly was the test scenario?

[2016-03-01 10:43] PVince81 commented on #22747
I think @karlitschek tested it himself and it was fast.

[2016-03-01 10:43] DeepDiver1975 commented on #22747
adding sev1 - this needs to be sorted out

[2016-03-01 10:43] MorrisJobke commented on #22747
I updated my description above - it's a ratio of 1 to 4.