[2015-01-29 16:25] brantje commented on #119
On close tab, delete file?

[2015-01-29 16:26] PVince81 commented on #119
There is already similar code in the user management page, you might want to have a look.
Basically: close tab or timeout of 7s would both trigger the deletion.

[2015-01-29 16:27] brantje commented on #119
I might look at this, this weekend, but do not pin the issue on me, yet ;).

[2015-01-29 16:30] MorrisJobke commented on #13695
@PVince81 I moved the received folder into an unshared folder and then tried to share. Let me test that again.

[2015-01-29 16:32] blizzz commented on #12801
@fleish you can get the file from https://raw.githubusercontent.com/owncloud/core/fix-12035/apps/user_ldap/appinfo/update.php and replace the corresponding apps/user_ldap/appinfo/update.php before running the upgrade routine.

If I understand correctly, the mentioned bugs are duplicates.

[2015-01-29 16:36] PVince81 commented on #13705
Here it is: https://github.com/owncloud/core/blob/master/lib/private/allconfig.php#L180

Unclosed cursor, PR is on the way

[2015-01-29 16:39] MorrisJobke commented on #13695
Still an issue with up to date master on both servers. Now with screen recording (left is server1 and right is server2)

Log from server1:
[code]

log from server2:
[code]

Screen recording: https://cloud.morrisjobke.de/public.php?service=files&t=0b8db8c9fd8cb88fdd2db4824b869638

[2015-01-29 16:41] PVince81 commented on #13705
Fix is here: https://github.com/owncloud/core/pull/13772

[2015-01-29 16:44] PVince81 commented on #10566
Another case here: https://github.com/owncloud/core/pull/13772

We have this tendency of doing "check whether the value is in the DB with a SELECT" and then directly after that doing an "UPDATE" if the value is different. If the "UPDATE" is done in the same function, the `$result` isn't garbage collected and the cursor stays open.

SQLite hates that...

[2015-01-29 16:51] MorrisJobke commented on #13705
Thanks @davivel for this nice to test script :+1:

[2015-01-29 16:54] #13579 closed

[2015-01-29 17:03] oparoz commented on #10566
@Raydiation - Is this automatic in the AppFramework?

[2015-01-29 17:06] MorrisJobke commented on #13747
@DeepDiver1975 @jancborchardt It is that error page, but somehow the CSS isn't loaded. Maybe an not updated htaccess again?!?

cc @LukasReschke @jnfrmarks

[2015-01-29 17:08] MorrisJobke commented on #13747
Reproduced locally ... I will have a look at it

[2015-01-29 17:08] LukasReschke commented on #13747
No. This is dependency fun, see https://github.com/owncloud/core/issues/13747#issuecomment-71893343

[2015-01-29 17:10] LukasReschke commented on #13747
Generally spoken: The exception is thrown before the CSS is added.

I doubt that this can be fixed that easily since it is base.php fun – and it shouldn't happen that often, when  it is a general PHP error caused by some app the CSS is already added etc…

Not sure if we really should make that 8.0 – though @MorrisJobke may prove me wrong and find an easy fix ;)

[2015-01-29 17:11] PVince81 commented on #10566
A few suspicious cases here, but I'm not 100% sure whether the GC would close the cursors there:
	- https://github.com/owncloud/core/blob/failed-delete-cache/apps/files_sharing/lib/share/file.php#L187
	- https://github.com/owncloud/core/blob/failed-delete-cache/apps/files_sharing/lib/share/folder.php#L76
	- https://github.com/owncloud/core/blob/master/apps/files_sharing/lib/helper.php#L171

[2015-01-29 17:12] guruz commented on #13764
Maybe because of parallel chunking? if your files are > 5MB, they will be split into 5 MB chunks and uploaded in parallel.
Note that previous clients already had parallel uploads of multiple files, 1.8 has parallel chunk uploads of one file too.

[2015-01-29 17:15] PVince81 commented on #13764
I don't think so, because at the time where the chunk arrives the code isn't supposed to touch the mimetype table (AFAIK). The moment I expect it to touch the mimetype table is after renaming the part file to the final file.

[2015-01-29 17:19] PVince81 commented on #10566
Another one:
https://github.com/owncloud/core/blob/master/apps/files_sharing/lib/external/manager.php#L114

Here we should probably first gather the results, close the cursor and only then proceed with mounting in case that takes longer.

[2015-01-29 17:21] SergioBertolinSG opened #13773 "Odt files doesn't download with a click after upgrading from 7.0.4 encripted to 8.0.0"
### Steps to reproduce

1. Having a oc 7.0.4 server with an account with odt files.
2. Upgrade to oc 8.0.0 .
3. Click on the name of the file.   (Not in the download button).

### Expected behaviour
File is downloaded correctly.

### Actual behaviour
An error message appears.

![screen shot 2015-01-29 at 18 04 13](https://cloud.githubusercontent.com/assets/9048796/5962356/a0990176-a7e3-11e4-99f5-f

[2015-01-29 17:23] MorrisJobke commented on #13747
I already have a fix locally :P

[2015-01-29 17:24] MorrisJobke commented on #13747
And it's an one liner :P

[2015-01-29 17:35] Raydiation commented on #10566
@oparoz nope, not automatically done for you and I doubt that you can do it for all queries. It might be possible to close the cursor for findEntity and findEntities queries because all results are fetched, the same applies for insert and delete, but custom sql queries might executed with $mapper->execute() might need to fetch additional rows and you cant close the cursor there.

see https://githu

[2015-01-29 17:36] MorrisJobke commented on #13747
sorry ... actually a three liner but one line is a comment ;)

[2015-01-29 17:39] oparoz commented on #10566
Thank you @Raydiation. Maybe you or @PVince81 could add a small note to the documentation to make sure devs don't create more problems?

[2015-01-29 17:40] jnfrmarks commented on #13687
I have finally been able to get back to this. To close the loop on what was happening:

The search is actually searching the file names (I didn't realize this).  I chose to search for the word "owncloud" which was in the name of some of the files.

In 7.0.4, the results of the search is a drop down list of filenames containing the string.  In 8.0, the results of the search are displayed on a new p

[2015-01-29 17:41] MorrisJobke commented on #12035
@cdamken Does these wrong1 or wrong2 users already exists in the stable6 instance? If now the patch in #13759 will hopefully fix the migration. Otherwise we need a handcrafted script to fix this anyway. Maybe something we can adapt for @jcfischer too.

[2015-01-29 17:44] jnfrmarks commented on #13685
See https://github.com/owncloud/core/issues/13687#issuecomment-72069043

[2015-01-29 17:45] jnfrmarks commented on #13686
See https://github.com/owncloud/core/issues/13687#issuecomment-72069043

[2015-01-29 17:49] PVince81 commented on #10566
Ideally we'd want to explicit close the cursor everywhere, but I'm having a look at existing queries. Because changing them all means need to retest everything, so I'm trying to find some suspicious ones that might need to be fixed earlier.

Having a look at this one I had doubt about the garbage collector, whether it would free the first result before the second query execution: https://github.co

[2015-01-29 17:50] PVince81 commented on #10566
@icewind1991 see comment above, we both had it wrong :wink:

[2015-01-29 17:54] MorrisJobke commented on #13769
@iliyasbasir If we don't get more information I can just add the same as over there: https://github.com/owncloud/client/issues/2737#issuecomment-71618636

[2015-01-29 17:54] PVince81 commented on #10566
It also looks like the statement wrapper has no way to explicitly close the results: https://github.com/owncloud/core/blob/master/lib/private/db/statementwrapper.php#L72

But didn't we want to get rid of that wrapper anyway and consolidate the way how we do DB queries ?

[2015-01-29 17:55] MorrisJobke commented on #13769
The issue template is linked while creating an issue or here https://github.com/owncloud/core/blob/master/issue_template.md

[2015-01-29 17:57] iliyasbasir commented on #13769
@MorrisJobke i'll try get to you asap...

[2015-01-29 18:09] RealRancor commented on #13773
Hi,

as this seems to be related to the documents app its probably better to report this in the issue tracker of this app:

https://github.com/owncloud/documents/issues

I also don't see an error message in the screenshot as you have described. Could be useful to have a look at the javascript console of your browser and the /data/owncloud.log to see if you got any errors there.

[2015-01-29 18:09] PVince81 opened #13775 "Move files + update cache one by one instead of bulk update"
When moving a huge folder, the following happens:
1) Every file is moved one by one to the target folders (sometimes even copied in cross-storage situations)
2) The cache is updated at the very end, for all files

If a PHP timeout occurs and/or the process is killed, the discrepancy between cache and filesystem is very big.

We should rather move the files one by one, and for each moved file, upda

[2015-01-29 18:10] carlaschroder commented on #8633
added to release notes

[2015-01-29 18:11] PVince81 commented on #12487
- [ ] move+update cache for every file one by one instead of bulk update: https://github.com/owncloud/core/issues/13775
- [ ] proper copy/move between storages: https://github.com/owncloud/core/pull/13360

[2015-01-29 18:15] dttpy opened #13776 "shared link lost after move the shared folder"
### Steps to reproduce
1. log in as admin
2. create a folder "pic1"
3. upload some files in "pic1"
4. share "pic1" with "tester1"
5. share the link of this folder
6. log in as tester1
7. create a folder "pics"
8. share folder "pics" with admin
9. move shared folder "pic1" into pics
10. log in as admin again
11. move folder "pic1" manuelly into folder "pics"
12. go into folder "pics"

**Edit** (by

[2015-01-29 18:22] carlaschroder commented on #10900
added to release notes.

[2015-01-29 18:24] MorrisJobke commented on #13776
@dttpy I get following error in step 9 `Sharing "pics" failed, because it contains files shared with you!` Did you have any errors in the owncloud.log or javascript console in your browser?

[2015-01-29 18:25] MorrisJobke commented on #13776
So I can't reproduce anything here. Also it shouldn't be allowed to share something with the owner, because this would create a recursion.

[2015-01-29 18:28] PVince81 commented on #13776
Swap steps 8 and 9

[2015-01-29 18:28] MorrisJobke commented on #13776
That's how it looks like after step9:

![bildschirmfoto von 2015-01-29 19 28 10](https://cloud.githubusercontent.com/assets/245432/5963488/0a9803de-a7ed-11e4-8e6c-c6bfcc034e87.png)

[2015-01-29 18:28] MorrisJobke commented on #13776
@PVince81 Nice one ... I will try.

[2015-01-29 18:31] #13705 closed

[2015-01-29 18:35] MorrisJobke commented on #13776
Yes. Reproducible.

But I have no idea how this should be handled. What should the user expect if this happens. It would be even more weird if his shared folder disappears from the original location and appears at a completely new location o.O But forbidding the move would also be bad, because it restricts the user quite heavily. But maybe this is the only way to prohibit such stuff, but it is rea

[2015-01-29 18:37] PVince81 commented on #13776
I think it should behave the same as when 8 and 9 are swapped.
Since the user is not allowed to share the folder because it contains already received shares, then moving a received share folder should not be moveable into an already shared folder.

Basically, show the same message in that situation.

@schiesbn

[2015-01-29 18:40] MorrisJobke commented on #13776
@PVince81 The problem here is to detect this in case of resharing and stuff like that. I guess this is solvable once me migrated to the "simple sharing" logic (whit adding reshares to the original file).

[2015-01-29 18:41] PVince81 commented on #10566
Places to look at:
        - [ ] close cursor in app framework: https://github.com/owncloud/core/pull/13777
	- [ ] https://github.com/owncloud/core/blob/failed-delete-cache/apps/files_sharing/lib/share/file.php#L187
	- [ ] https://github.com/owncloud/core/blob/failed-delete-cache/apps/files_sharing/lib/share/folder.php#L76
	- [ ] https://github.com/owncloud/core/blob/master/apps/files_sharing/lib/

[2015-01-29 18:48] PVince81 commented on #10566
- [ ] repair mimetypes: https://github.com/owncloud/core/blob/master/lib/repair/repairmimetypes.php#L62
- [ ] a few more I fixed myself which might be more obvious: https://github.com/owncloud/core/pull/13778

[2015-01-29 18:56] PVince81 opened #13779 "Consolidate database API"
So far I've seen several different ways of making database calls:

1) Using `OC_DB`
2) Using `OCP\DB`
3) Using the entity mapper from the app framework

Then there is `execute()` and `executeAudited()`.
Some are using our "statement wrapper" and others aren't.

We need to clean up this mess and make **one** single way for doing database queries.
Or at least two: the regular DB queries and one with

[2015-01-29 19:26] DeepDiver1975 commented on #13779
:+1: for this cleanup

[2015-01-29 19:31] PVince81 commented on #4774
- [ ] database calls: https://github.com/owncloud/core/issues/13779

[2015-01-29 19:37] iliyasbasir opened #13781 "External Storage available user GUI issue"
### Expected behavior

I'm setting up some external storage to an smb share to be restricted by user/group. In testing I've just added it to my account and one other persons. I see the two users in mount.json defined by their active directory uid.

When I go back to the admin page I see the mounts listed but the available users box is empty instead of showing the two grey buttons with my name and

[2015-01-29 19:42] Raydiation commented on #10566
@oparoz docs are updated

[2015-01-29 19:44] PVince81 commented on #13781
Is LDAP involved ?

[2015-01-29 19:46] LukasReschke commented on #13781
We need the `mount.json`, post an anonymised copy of it. (replace username / password / host)

[2015-01-29 19:53] oparoz commented on #10566
Just went over the documentation, good job @Raydiation

[2015-01-29 19:56] jnfrmarks opened #13782 "Upgrade of 7.0.4 with primary external storage gives a white screen"
### Steps to reproduce

1. Install owncloud 7.0.4 with remote objectstore as the primary storage (I used S3)
2. Create a user and upload some files for data.
3. Validate that the user does not show up on the local data directory
4. Upgrade to 8.0 using the tarball
5. Get white screen

I verified that 8.0 works correctly with remote storage so this is an upgrade issue.

### Expected behaviour

Upgr

[2015-01-29 20:02] iliyasbasir commented on #13781
@PVince81 : Yes, I placed some detail with log regarding LDAP
@LukasReschke : I'll ask customer if he can provide mount.json

[2015-01-29 20:20] iliyasbasir commented on #13769
@MorrisJobke :
 I love filed out form which you placed, Customer do not like disclosed any information, after phone conversation with me and Allen he only provide us architecture layout which I’m placing
 He is using appliance (centos 6, apache,  mysql  and ownCloud 7.0.3)
Somehow he had impression that if he provide me log all information should be in the log

[2015-01-29 20:29] wbergner opened #13783 "Importing a VCF that was exported from the same OC instance does not work"
Having exported my contacts from my OC installation, I wanted to re-import them a few days later, which did not succeed. There was no update in between. I am using the most recent version 7.0.4. No error is shown after the import, only:
Total:0; Success:0; Errors:0

I figured out that once I removed all lines starting with "NOTE:", the import worked, even with automatic format detection. However,

[2015-01-29 20:39] sbelov1 commented on #13533
@blizzz can you please a clear instruction as to how to run the patch? I've dropped that .diff inside owncloud folder and ran the #patch -p1 < 13742.diff command but nothing happened.

[2015-01-29 20:54] MorrisJobke commented on #13783
As this is a calendar issue, I would like to ask you to open this in the calendar bug tracker: https://github.com/owncloud/calendar/issues Thanks

[2015-01-29 20:54] #13783 closed

[2015-01-29 20:55] guruz commented on #12725
@Avalanchediver There is a "Retry sync" button in the settings dialog.

[2015-01-29 20:57] h-2 opened #13784 "bug in db-conversion related to encoding"
Hi everyone,

I am using
  * `owncloud-7.0.4`
  * FreeBSD 10.1-RELEASE

and I am trying to convert the db from sqlite to postgres. The script went fine for a few moments and then it gave me:
[code]

It could well be that there are non-utf8 characters on some files (my FreeBSD hat european encodings a while back), but why is that a problem?

[2015-01-29 21:03] puggan commented on #13749
the failer of the installation proberly is something else, this was the last (or 2nd las) error message before it crached, i later found in another log-file, that apache had a segmentation error.

[2015-01-29 21:05] puggan commented on #13751
the failer of the installation proberly is something else, this was the last (or 2nd las) error message before it crached, i later found in another log-file, that apache had a segmentation error.

[2015-01-29 21:09] DeepDiver1975 commented on #13784
this is a know problem - see https://github.com/owncloud/core/issues/9891 - Thanks a lot for reporting this back to use!

[2015-01-29 21:09] #13784 closed

[2015-01-29 21:10] puggan commented on #13751
Server configuration
Operating system: Gentoo (Linux chi.puggan.se 3.10.17-gentoo #2 SMP Sun Mar 2 22:34:28 CET 2014 x86_64 AMD FX(tm)-8350 Eight-Core Processor AuthenticAMD GNU/Linux)
Web server: www-servers/apache-2.2.27-r4
Database: dev-db/mysql-5.6.22
PHP version: dev-lang/php-5.5.21
ownCloud version: www-apps/owncloud-7.0.4
Updated from an older ownCloud or fresh install: fresh

[2015-01-29 21:40] jnfrmarks commented on #13732
Was this meant for @jnweiger ?

[2015-01-29 21:48] nickvergessen commented on #13702
Issue appeared in the activity app aswell:
https://github.com/owncloud/activity/issues/185

[2015-01-29 21:50] gig13 commented on #13533
@sbelov1
A quick patch primer http://jungels.net/articles/diff-patch-ten-minutes.html

Take a look at the patch file, it has the source code file(s) listed and the lines that are modified and updated. Before you run the patch, it is a good idea to make backups of the files, then do the comparison... so you can see the changes applied.

[2015-01-29 22:00] #13747 closed

[2015-01-29 22:04] braegel opened #13785 "Fix SSL setup - SSLLabs-Rating is only F because of insecure SSL2 support"
https://www.ssllabs.com/ssltest/analyze.html?d=apps.owncloud.com

[2015-01-29 22:05] LukasReschke commented on #13785
@karlitschek

[2015-01-29 22:20] h-2 commented on #13784
Thanks for the quick reply and the link to the other issue. Dropping the oc_filecache actually made it work for me!

[2015-01-29 22:25] jnweiger commented on #13732
jn+TabCompletion

guess so :-)

[2015-01-29 23:27] h-2 opened #13786 "very high disk load with webdav"
### Steps to reproduce
1. start kodi on my android device
2. add owncloud share as webdavs
3. scan library
4. click on a movie

### Expected behaviour
 the movie should play and everyone should be happy; the server might spend som cycles on php and some on io, but not more than 10% cpu load.

### Actual behaviour
owncloud spawn some php-cgi scripts that go rampage with disk-io, causing the disk en

[2015-01-30 00:32] MorrisJobke commented on #13702
was a blue ticket in activity

[2015-01-30 00:53] Fmstrat commented on #13056
For many of us attending a conference is likely a no-go, but is there another way to verify the integrity of a developer? Taking myself as an example, I've created and contributed to many reputable projects including Mozilla and AOSP, but I might not be able to make an in person event. Could we create a way to verify by reputation, perhaps for authors of existing own cloud apps with over 500 downl

[2015-01-30 02:16] fleish commented on #12801
I tried the updated file but still seeing the same behavior. Previously, I made backups of the db at each stage. Looking at oc_storages this is what I see:

1) pre-upgrade - running OC6 (providing just a sample here to show unique entries for admin, local, and then my ldap users which run up to the last one shown - 76)
id|numeric_id
home::admin|1
home::**REDACTED_GUID1**|2
home::**REDACTED_GUID2**

[2015-01-30 02:52] fleish commented on #12801
Some additional data. Apologies for not thinking to turn on debug through the UI earlier. Here's what I see when I try to open a share via the "Shared with you" section. I'm not pasting every line, but basically I see it reporting path not readable errors for every item it knows about in the data directory - including .ocdata owncloud.log owncloud.db user-directories & so on. Basically everything

[2015-01-30 04:08] tessus commented on #13333
I think I have additional information that could help sorting this out:

I couldn't keep this setup any longer, because I needed my data to be up-to-date.

So I basically moved directory `b` to the same level as `a`. In course of this new setup I noticed that this problem might not have to do with subfolders, but with the web upload.
It seems that if somebody uploads a file **using the web interfa

[2015-01-30 08:00] davivel commented on #13705
Thanks, guys. Android app working again as expected.

[2015-01-30 08:13] jcfischer commented on #12801
I see the same "Unable to get mount for shared storage" error messages after the failed upgrade, when I click on a shared folder (those are visible to me in the Web UI)

[2015-01-30 08:37] MorrisJobke commented on #12801
@blizzz Do you have a nice way to get the LDAP config for an OC 6 instance?

[2015-01-30 08:39] RealRancor commented on #13783
@wbergner
When re-opening in the calendar tracker it's also recommended to use the issue template provided here:

https://raw.github.com/owncloud/core/master/issue_template.md

as asked in the "guidelines for contributing" (linked in the box shown when creating a new issue).

[2015-01-30 08:51] viorel-anghel commented on #12725
this bug is affecting the core functionality of the product so i have decided to investigate alternatives. found this on the web: http://blog.patshead.com/2014/09/self-hosted-cloud-storage-comparison-2014-edition.html

[2015-01-30 09:05] SergioBertolinSG commented on #13702
Hi, experienced same screen after 6.0.6->7.0.4->8.0.0beta2, full owncloud.log here:

´´´
{"app":"core","message":"isWebDAVWorking: NO - Reason: HTTP error response. (errorcode 503) (Sabre_DAV_Exception)","level":2,"time":"2015-01-30T08:47:02+00:00"}
{"app":"core","message":"isWebDAVWorking: NO - Reason: HTTP error response. (errorcode 503) (Sabre_DAV_Exception)","level":2,"time":"2015-01-30T08:47:

[2015-01-30 09:19] arno01 commented on #12428
@PVince81 probably good news, because I simply cannot simulate this error anymore. I mean without even applying #13752 ..  maybe there was something in ownCloud v7.0.4 that fixed this issue?
Or, another point is that I've migrated my servers from Debian 7.7 to NixOS 14.12; Not sure whether it could change something, but my nginx & php-fpm configs are quite same. Anyway, it's quite hard to tell wha

[2015-01-30 09:21] zo0ok commented on #12725
@viorel-anghel, I reluctantly keep using ownCloud. I disabled encryption (and decrypted all files, not a process that gave me very much confidence). As it seems to me, encryption is a non-mandatory module, and the problem seems to be with it. So someone might argue that it is not a core functionality. But I agree with you. And I consider alternatives.

[2015-01-30 09:39] schiesbn commented on #13786
If I remember correctly the webdav implementation from ownCloud doesn't support streaming from a webdav resource but creates a local copy to read the file. This should explain why your disk encryption subsystem gets busy  cc @PVince81 is this correct?

[2015-01-30 09:44] RealRancor commented on #13785
https://www.ssllabs.com/ssltest/analyze.html?d=owncloud.org

could also get some improvements.

[2015-01-30 09:49] nickvergessen commented on #13702
@davitol can you post the full page source of the page on the screenshot, e.g. on https://gist.github.com/
@cdamken @michaelstingl can you please request the full page source of the activity page that is being displayed on the screenshot in the activity issue?

[2015-01-30 09:51] PVince81 commented on #12725
It seems you're all using SQLite3 ? And @maste9 had the "database is locked" issue.

The ones of you who are using SQLite on OC 7, please try applying this patch:
https://github.com/owncloud/core/commit/234f33e01e630f763f34c51114d25986bae02b42.patch

[2015-01-30 09:52] PVince81 commented on #12725
Ok some are using MySQL too, not sure about that one.

[2015-01-30 09:54] PVince81 commented on #12989
@felusch have you been able to solve your problem ?

[2015-01-30 09:59] PVince81 commented on #12801
@fleish the new GUID entries that you see are the reason for the missing files. It is supposed to reuse the old ones (at least that patch should fix it). As soon as new bogus entries were created it is already too late and would require manual fixing of the database to consolidate the new storage entries with the old ones. The patch should prevent this bogus creation to happen in the first place.

[2015-01-30 10:00] guruz commented on #13705
@davivel Wondering..does the Android client do multiple PROPFINDs (or other requestz) that all re-authenticate? It does not use cookies to keep the auth?

[2015-01-30 10:08] PVince81 commented on #12428
@arno01 you might probably just be lucky. That error is usually caused by concurrent requests and might depend on the speed of your server.

Anyway, that patch will be in 7.0.5 so once you'll upgrade you should be fine, too.

I'll close this ticket then. Thanks for the feedback :smile:

[2015-01-30 10:08] #12428 closed

[2015-01-30 10:14] DeepDiver1975 opened #13788 "[stable7] oracle unit test failing"
https://github.com/owncloud/core/pull/13752
https://github.com/owncloud/core/pull/13772

[2015-01-30 10:14] PVince81 commented on #13786
@schiesbn no, WebDAV will simply do a fopen() on the file. If the file is directly on disk, it will stream it.
If it's on external storage, the ext storage will make a copy.
In the case of encryption, the fopen proxies would take care of reading directly from disk and decrypting on the fly.

[2015-01-30 10:16] nickvergessen opened #13789 "Public share site leaks information about mounts being used"
It displayes the icon for external storage folders.
However, this information should not be given to public.
Instead the normal folder icon should be used.

![bildschirmfoto vom 2015-01-30 11 13 47](https://cloud.githubusercontent.com/assets/213943/5974160/472ca49c-a871-11e4-8c7a-08c9b995a8f1.png)

cc @PVince81

[2015-01-30 10:18] PVince81 commented on #13786
Also @h-2 mentionned disk encryption, not ownCloud encryption, so probably not related.

I wonder if Kodi is simply streaming the file from disk or doing multiple RANGE requests ?

From what I remember SabreDAV should be able to do fopen() + fseek() to read the proper pieces of the file.

@h-2 are you able to find out details about what files are accessed repeatedly ? Can you check the access log

[2015-01-30 10:23] PVince81 commented on #11774
@dgoadby can you post that "database is locked" issue with details ?

[2015-01-30 10:27] PVince81 commented on #9810
Has this still been observed when upgrading from OC 6 to OC 7.0.4 ?

[2015-01-30 10:30] PVince81 commented on #13754
@MorrisJobke `./../apps/files_external/tests/env/start-webdav-ownCloud.sh: line 29: replace: command not found`

[2015-01-30 10:32] PVince81 commented on #13754
@MorrisJobke
[code]

Isn't the setup fully automatic or I need to manually edit some configs ?

[2015-01-30 10:34] bedzkowp commented on #12192
Hello, nope, it's still broken.
Just disable request paging in advanced tab and it should run fine.

[2015-01-30 10:40] PVince81 commented on #13754
Looking at the error message: we should probably rethrow "MethodNotAllowed" or return false... because "MethodNotAllowed" does not mean that the storage is not available.

[2015-01-30 10:44] PVince81 commented on #13754
and it seems in some cases the exception is "NotFound" which might be expected. Need to catch that too.

[2015-01-30 10:45] SergioBertolinSG commented on #13702
@nickvergessen (I am using same enviroment as @davitol)
https://gist.github.com/SergioBertolinSG/882169510fc96fe9b892#file-screenshot_source_code

[2015-01-30 10:52] schiesbn commented on #13695
@MorrisJobke That's because if this check: https://github.com/owncloud/core/blob/master/lib/private/share/share.php#L572

If you remove it it should work... But at the moment I don't feel to comfortable to remove it. It might be OK in your case but I'm quite sure we had a good reason to add this check.

[2015-01-30 10:53] michielappelman commented on #11159
Funny thing that this caused as well: my ownCloud client says I have only used 943 MB of my storage on the server but the actual size of the data directory for my user has grown to >5GB. The biggest directories are the ones with files in them that have run into this issue and apparently are getting synced over and over again without being confirmed.

I have now renamed all the files with a 'new_'

[2015-01-30 10:56] PVince81 commented on #13754
What a mess... we shouldn't have introduced exceptions that early, or not catch it this way.
The problem is that other storages will not throw exceptions, but that "storage.php" unit test applies for all. We probably don't want to set different expectations for different storages right now, until we move everything to using exceptions.

Still trying to continue patching...

[2015-01-30 10:57] davivel commented on #13705
At this moment, it does.

But right now we only need to change a flag to fix that. Next version (coming soon) should use cookies.

[2015-01-30 11:03] DeepDiver1975 commented on #13785
From my understanding this is why I'm not able to install any app from the appstore. I'm running Debian Testing.

@karlitschek this is rater critical from my pov as this would leave many installation broken with respect to installing apps from the appstore.

[2015-01-30 11:04] LukasReschke commented on #13785
This is a unrelated issue. – The SSL configuration itself has nothing to do with the certificate chain.

[2015-01-30 11:04] PVince81 commented on #13754
Fix is here: https://github.com/owncloud/core/pull/13791

[2015-01-30 11:07] PVince81 commented on #12991
@SPQRInc can you try running `sudo -uwww ./occ files:scan --all` again ? (replace "www" with your web server user"). I hope this can fix your permissions.

If not, please do a `select * from oc_filecache where path like '%somefolder%'` and replace "somefolder" with the name of the folder which doesn't allow upload (forbidden)

[2015-01-30 11:15] Xenopathic commented on #13754
(not specific to this issue in particular, just writing down my thoughts)

The thing I don't like about exception handling in storages is that code needs to be massively duplicated - every storage method needs to handle exceptions that may be thrown by 3rd party code, then either rethrow a useful exception or return false. I wish there was some way we could avoid having hundreds of `try{} catch{}`

[2015-01-30 11:16] nickvergessen commented on #13486
Do we want to support server2server shares without passwords in stable7?
then this needs to be backported :speak_no_evil:

[2015-01-30 11:21] PVince81 opened #13792 "Storage API must work with exceptions, not booleans"
Currently the Storage API is similar to the one from PHP and simply returns false when an error occurred.
This makes it difficult to distinguish whether "false" means "File not found" or "Storage not available".

We should move to using exceptions in such cases and get rid of booleans.

@Xenopathic @icewind1991 @schiesbn @DeepDiver1975

[2015-01-30 11:22] PVince81 commented on #13754
I think in other software usually they would have their own exceptions: `Storage\NotFound`, `Storage\Forbidden`, `Storage\MethodNotAllowed` and they would wrap the 3rd party code's exception into their own and rethrow. That would still require catching the exceptions everywhere or using something like that `convertSabreException`.
But like you I'm also wondering how to avoid having so many try/cat

[2015-01-30 11:23] h-2 commented on #13786
Thanks for your quick replies and hi to Björn from a fellow fellow ;)

@PVince81 you mentioned:

A copy from where to where? From the ext storage to local storage of the owncloud? Or from ext storage to the client?
If it's from ext storage to local, does this also happen if the external storage is actually just a local dir? Because if there is an overhead involved there, I can change it to where t

[2015-01-30 11:25] PVince81 commented on #13786
If the external storage is of type "Local" it should access the files directly, not do a copy.
But for others like SMB or Dropbox a fopen() would first download the file to a temp dir.
The exception is SFTP which supports direct streaming.

[2015-01-30 11:28] PVince81 commented on #13782
@butonic

[2015-01-30 11:28] PVince81 commented on #13782
@jnfrmarks I supposed that setting up object store from scratch on OC 8.0.0~beta2 also doesn't work then ? Did you set the "region" parameter ?

[2015-01-30 11:29] PVince81 commented on #13782
@DeepDiver1975 please schedule

[2015-01-30 11:30] PVince81 commented on #13776
Side note: the reason why the link share is lost is most likely due to file id stability issues when moving stuff into a shared folder. But if we say doing this kind of move shouldn't be allowed in the first place, then this wouldn't be an issue.

[2015-01-30 11:30] PVince81 commented on #13776
Ref #13312 (stable file id issues)

[2015-01-30 11:31] PVince81 commented on #13773
Are both ODF viewer / documents app enabled at the same time ?
Anything in the logs?

[2015-01-30 11:35] Xenopathic commented on #13792
I think it comes down to catching 3rd party exceptions then wrapping them into our exceptions. Perhaps some system for a storage to define what exceptions may be thrown from it, and what they should 'map' to? For example, the DAV storage backend would map `Sabre\DAV\Exception\NotFound` to `OCP\Files\NotFoundException`. Then, without any extra `try catch` blocks in the storages themselves, a wrappe

[2015-01-30 11:35] PVince81 commented on #13735
Looks like @cdamken was asking for the creation of an automated test to check for such cases.

@jnfrmarks

[2015-01-30 11:39] PVince81 commented on #13792
If we consider that exceptions do not happen often, then performance wouldn't be much of an issue.

[2015-01-30 11:40] sndrr opened #13793 "[8.0.0beta2] error in Debian owncloud package"
I encountered a minor issue when installing the owncloud 8.0.0-beta2 debian package from the OBS repositories into Debian Wheezy 7.8.

    Setting up owncloud-config-apache (8.0.0~beta2-2) ...
    /var/lib/dpkg/info/owncloud-config-apache.postinst: 53: /var/lib/dpkg/info/owncloud-config-apache.postinst: reload_apache: not found
    dpkg: error processing owncloud-config-apache (--configure):

[2015-01-30 11:44] Xenopathic commented on #13056
What about relying on the GPG web of trust, like various Linux distributions do with their packaging? This also avoids having to use X.509 certs...

[2015-01-30 11:44] blizzz commented on #12801
[code]

[2015-01-30 11:50] SergioBertolinSG opened #13794 "Breadcrumbs after exiting a file preview aren't shortened to a row"
### Steps to reproduce
1. Create a long folder structure ~50 chars per folder.
2. Upload a pdf file to the last folder in the structure.
3. Click on the X icon in the pdf viewer to exit.
## ![screen shot 2015-01-30 at 12 13 53](https://cloud.githubusercontent.com/assets/9048796/5975243/70cffe86-a87e-11e4-8ffd-52a30fe92aa0.png)
## ![screen shot 2015-01-30 at 12 14 08](https://cloud.githubuserconten

[2015-01-30 11:56] MorrisJobke commented on #13429
![enterprise-496-before-second-share](https://cloud.githubusercontent.com/assets/245432/5973849/731d61d0-a86d-11e4-8002-0e4facd5e5b2.png)
![enterprise-496-after-second-share](https://cloud.githubusercontent.com/assets/245432/5973851/74c41d30-a86d-11e4-9f92-16841ad455f0.png)

So the migration step is to check for a share that is shared to two groups/users, where one user is in both groups. Then I h

[2015-01-30 11:58] gentooza opened #13795 "webdav performance slow, ubuntu server and client"
Hi owncloud team!

I've configured an owncloud server from offficial respoitories within an ubuntu server 14.04
I've follow the official administration installation guide, installing also the php-xcache complement.

My net is a local net at home by a switch.

The problem is when uploading files to the server, it's completely unusable, with transference rates of only 16kb/s
Whe downloading is terri

[2015-01-30 12:01] SergioBertolinSG commented on #13773
Nothing in logs (browser&owncloud.log).
It is activated Documents app.

[2015-01-30 12:04] cerienj commented on #9832
Hello - also experiencing this issue:
{"app":"webdav","message":"Sabre\\DAV\\Exception\\BadRequest: expected filesize 1080561 got 851968","level":4,"time":"2015-01-30T11:40:43+00:00"}

Serveur: Centos 6.5, 64bits, OC 7.0.4-17.1 - no webdbav package installed
Client: Win 7, home premium sp1, OC Client: 1.7.1, build 4382

Somehow, it looks like that when the client had the screensaver active, the is

[2015-01-30 12:15] Avalanchediver commented on #12725
I have tried re-syncing many times.  The only solution to get it to sync so far has been to move my larger video files out of my folders that are synced.  I know there is no problem with the files as they sync on One-drive just fine.

[2015-01-30 12:20] MorrisJobke commented on #13754
Fix is in #13791

[2015-01-30 12:26] jnfrmarks commented on #13782
@PVince81

I set up obj store from scratch with 8.0 and it worked fine.

What is the "region" parameter?

[2015-01-30 12:26] PVince81 commented on #13429
I don't fully understand everything that is happening here yet.

One question would be: would the repair step repair the previous situation (the one that we have before upgrade) or the one after the upgrade where it's already kind of broken ?
Ideally I suppose we might want both ?

[2015-01-30 12:43] clementhk commented on #2630
https://msdn.microsoft.com/en-us/library/aa365247(v=VS.85).aspx

[2015-01-30 12:44] clementhk commented on #2630
So all we need to do is just use `\?\` prefix, I think.

[2015-01-30 12:46] karlitschek commented on #13795
There are some performance tip. I suggest to ask this question on the forum to get more help. Thanks

[2015-01-30 12:46] #13795 closed

[2015-01-30 12:47] MarvinFS commented on #9632
Guys, i'm still greatly concerned about this issue, thank you very much for not letting it go, but i'm on a ski resort right now, will be back on sunday evening and from monday's morning i'll be able to test any new builds (if any) and will provide all the info requested, ok?

[2015-01-30 12:50] karlitschek commented on #13794
@PVince81

[2015-01-30 12:51] PVince81 commented on #13773
How did you upgrade ? Did you replace the code into your owncloud code ? Or did you delete everything and only kept "config" and "data" ?
Or did you install the documents app from the app store ? Because ownCloud 8 doesn't bundle the documents app any more so I suspect that you might still be using the documents app from OC 7 (which was still in the "apps" folder if you didn't upgrade by deleting

[2015-01-30 12:51] karlitschek commented on #13793
@jnweiger

[2015-01-30 12:51] PVince81 commented on #13429
Now thinking of it, deleting such bogus child entries could cause additional issues if these child entries are also parent of reshares (if the receipient user reshared that specific folder, like "test (2)")
I guess you're right that this cannot be fixed automatically without a bit of breakage.
Or maybe add a check and don't delete such child entries and show an error "cannot automatically fix shar

[2015-01-30 12:51] PVince81 commented on #13773
I meant "requiremax=7"

[2015-01-30 12:54] karlitschek commented on #13785
agreed. i will look into that.

[2015-01-30 12:59] cdamken commented on #13560
@michaelstingl

Where is the picture?

[2015-01-30 13:03] PVince81 commented on #13794
It is not possible to reliably detect this, unless the viewer app is
triggering a specific event to tell the files app that it has closed
itself.

In the future we want to provide a JS viewer API to accomodate for such problems: https://github.com/owncloud/core/issues/13414

A quickfix might be possible though (in the PDF viewer app)

[2015-01-30 13:08] #13488 closed

[2015-01-30 13:13] PVince81 commented on #13193
The problem is as follows: when uploading the new copy of "permissiontest.txt" it will first create a part file "permissiontest.txt.octransferid123.part".
In fopen() from sharedstorage it will see that the file doesn't exist (the part file) so it will also check `isCreatable` which will return false.

We might want to add an exception there for part files.

[2015-01-30 13:17] MorrisJobke commented on #13695
So this is partly the intended behaviour. Removing the 8.0 milestone

This is also related to #13776

[2015-01-30 13:22] SergioBertolinSG commented on #13773
Yes, that app was there before copying everything from 8.0.0 tarball into owncloud folder.

[2015-01-30 13:29] RealRancor commented on #13773
@SergioBertolinSG

You shouldn't do that. Please see the upgrading guide at the documentation how to do a proper upgrade:

http://doc.owncloud.org/server/8.0/admin_manual/maintenance/upgrade.html

[2015-01-30 13:42] schiesbn commented on #13758
@SergioBertolinSG The pull request above should fix the issue, can you give it a try? Thanks!

[2015-01-30 13:43] SergioBertolinSG commented on #13414
The problem with going back using the browser remains in 8.0.0.4, I think users will find it really annoying.
Entering a folder, previewing a pdf or a text file and going back distorts web UI.

[2015-01-30 13:54] nickvergessen commented on #13695
@schiesbn I guess the problem is that a sharing loop can be created.
But with remote shares we can't reliantly test this anymore.

Simplest loop:

User1: folder1 share public
User2: mount public-folder1 as folder2 and share public
User1: mount public-folder2 inside folder1

Have fun FileScanner

[2015-01-30 13:54] kalletabur opened #13799 "[stable7 only] File old versions broken after sharing"
We have situation where user renamed file and tried to restore older version of this file in owncloud. It shows only 2 older versions (though  there should be many more) from which the last version does not open because application deem the file is corrupt.
We run backup restore (on test server) and the file was accessible and opened ok.

We use encryption, server setup: Debian 7.7 + nginx + php5-

[2015-01-30 13:57] Comarco opened #13800 "Password reset doesn't comply with Content Security Policy"
I have this error in my browser console:

`Content Security Policy: The page's settings blocked the loading of a resource at self ("script-src https://example.com 'unsafe-eval'").`

I don't really know if it is related but owncloud version 7.0.4 on my server gives you an error when you fail the login, instead of beautifull inline JS that should send an email to the user, it shows a white page with

[2015-01-30 13:58] DeepDiver1975 commented on #13788
@PVince81 this is broken since 234f33e01e630f763f34c51114d25986bae02b42

Looks like the oracle implementation behaves different when it comes down to closing the cursor

[code]

[2015-01-30 14:01] michaelstingl commented on #13560
@cdamken I added the image to the initial comment: https://github.com/owncloud/core/issues/13560#issue-55032608

[2015-01-30 14:02] paveman opened #13801 "[7.04] LDAP quota not updated"
Hi,
we encountered a problem with the quota been read from Active Directory.
It will not be updated once it will be set to a new value such as 42 GB.
The old quota will persist for the user.
Clearing the cache will not resolve the problem.
Do you have any clue?

Debian Wheezy
Apache2 2.2
PHP 5.4
Owncloud 7.04 Enterprise
AD on Windows Server 2k8 R2

regards
 Peter

[2015-01-30 14:03] karlitschek commented on #13799
@schiesbn

[2015-01-30 14:03] karlitschek commented on #13799
Can you provide a full bug report using our issue template please?

[2015-01-30 14:04] nickvergessen commented on #13788
Title says stable7, but milestone is 8.0
Does this affect both, or just one of them?

[2015-01-30 14:05] DeepDiver1975 commented on #13788
I'm currently reevaluating master on this ....

[2015-01-30 14:05] karlitschek commented on #13801
Please post a full bug report using our issue template.
https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

Thanks

[2015-01-30 14:05] jnweiger commented on #13793
fixed in isv:ownCloud:community:8.0/owncloud and isv:ownCloud:community:testing/owncloud

commit
----------------------------------------------------------------------------
r57 | jnweiger | 2015-01-30 11:57:56 | 48c14144480a4739adf65a41093e6fc9 | 8.0.0~beta2 |

- reload_apache() function added.
- apache config FollowSymlinks enabled, needed for FHS.
-----------------------------------------------

[2015-01-30 14:05] #13793 closed

[2015-01-30 14:05] karlitschek commented on #13801
@blizzz

[2015-01-30 14:06] SergioBertolinSG commented on #13758
Tested on the branch fix_move_del_of_remote_shares, working fine, not '503 service unavailable' found  but succeded.

[2015-01-30 14:06] DeepDiver1975 commented on #13788
doctrine version change between 7 and 8 - this could be one reason why this is only failing on stable7 so far

[2015-01-30 14:06] MorrisJobke commented on #13788
@DeepDiver1975 But once OCI isn't tested in the PR-analyzer this wouldn't have been noticed earlier too:(

[2015-01-30 14:12] DeepDiver1975 commented on #13788
no issue on master - stable7 related only

[2015-01-30 14:12] DeepDiver1975 commented on #13788
@PVince81 I vote for revert of 234f33e in stable7

[2015-01-30 14:13] LukasReschke commented on #13800
1. Please use the issue template
2. Google shows that this is most likely related to this plugin https://apps.owncloud.com/content/show.php/CloudPress?content=154756

[2015-01-30 14:13] #13800 closed

[2015-01-30 14:14] MorrisJobke commented on #13788
@DeepDiver1975 Could this be fixed by the update of doctrine, that is currently open as a PR?

[2015-01-30 14:14] MorrisJobke commented on #13788
ref #13798

[2015-01-30 14:22] michaelstingl commented on #13560
Still waiting for SQL response…

[2015-01-30 14:23] nickvergessen commented on #13788
@MorrisJobke wrong link?

[2015-01-30 14:36] PVince81 commented on #13193
Fix is here: https://github.com/owncloud/core/pull/13802

[2015-01-30 14:40] nickvergessen commented on #13788
Made a patch for the revert

[2015-01-30 14:43] paveman commented on #13801
### Steps to reproduce
1. Set custom attribute for quota in Active Directory (ownCloudQuota)
2. Fill it with a value like '42 G'
3. Set the attribute created in the OC backend.
4. Login and logout a user the quota has been setted.
5. Change the attribute value in AD to another.
6. Login with the user from step 4.

### Expected behaviour
quota should have the value from previous step 5.

### Actual

[2015-01-30 14:50] PVince81 commented on #13414
I can try and look into this for 8.1

[2015-01-30 14:51] nickvergessen commented on #13702
@SergioBertolinSG @davitol can we get a full screenshot of chrome's development tool, displaying the networking while the page is loading?
Yes, it's going to be a long list, but we need to find out why the things that happen, do happen.

[2015-01-30 14:55] MorrisJobke commented on #13788
@nickvergessen No this is the update of the sabre dav component in stable7. Is it the mentioned difference between stable7 and master that caused this breakage?

[2015-01-30 14:57] MorrisJobke commented on #13695
@nickvergessen Yes. That is actually a big problem and nothing we can solve for 8.0 I think. I hope this gets better once all this sharing stuff is simplified (#9058) This will reduce the complexity of such constructs a lot.

[2015-01-30 15:04] MorrisJobke commented on #13429
@PVince81 I would like to fix the behaviour after the upgrade from 6 to pre-7.0.5 (because this cause the issue, if the linked PR is merged into 7.0.5). Then we need a tool to help the admin to fix this problem. I would first go for a tool that shows the different affected shares, then try to fix most of then and then list the admin the remaining shares, to directly contact the user to fix this so

[2015-01-30 15:13] nickvergessen commented on #13788
@MorrisJobke the difference in doctrine, not in sabre-dav
these are two different independent dependencies

[2015-01-30 15:15] MorrisJobke commented on #13788
@nickvergessen I know ... sorry my fault

[2015-01-30 15:16] oparoz commented on #10788
I agree with @Bugsbane, Add a tick box, just like on Windows to let the user apply the changes globally if he wants to, but don't make that the default behaviour.

[2015-01-30 15:38] gig13 commented on #13533
@jnfrmarks
Would you, could you, are you interested in testing? Who else could test? :)

[2015-01-30 15:49] PVince81 commented on #13429
Providing a tool to repair shares seems to be a lot of work. So far the "policy" was always to try and repair as much as possible automatically.

Do we want to start introducing GUI or CLI specialized tools for manually fixing shares (and also broken legacy storages ?) Or is a documentation with SQL queries enough ?

[2015-01-30 15:49] PVince81 commented on #13429
The repair step before the upgrade sounds like a good idea.

[2015-01-30 16:04] cdamken commented on #13781
@PVince81 @blizzz  @LukasReschke  Reading the Logs, the last 2 lines paragraph shows the solution/ workaround :

@blizzz  Maybe the patch S3-ownCloud\Shared\owncloud\support\Patches\ldap-2nddn-7.0.4.patch that you, with a few tweaks, could be a good implementation.

[2015-01-30 16:39] michaelstingl commented on #13560
@MorrisJobke here comes the SQL:

**Working User:**

[code]

**Formerly NOT working user:**

[code]

@bboule 's tip to add mail under ADMIN->Advanced->Special Attributes->Email Field did the trick.

I don't know how it did it, because I did the same thing before I opened a ticket with you but now it seems to be working. [Perhaps I should have waited a little bit longer :) ]

[2015-01-30 16:44] iliyasbasir opened #13805 "Missing shares after upgrade to OC6.0.6"
### Expected behavior

Customer upgraded from ownCloud 6.0.5 to 6.0.6 after upgrade customer ;

Under  specific account ,  create a directory A and share it with group one group (group :X). None of the members in group X  see this directory.
Same directory share it with members in other group (group:Y), they see directory A under their Shared directory.
Customer testing at 6.0.2  behaviors normal

[2015-01-30 16:45] LukasReschke commented on #13805
@MorrisJobke Have fun

[2015-01-30 16:54] oparoz commented on #8268
Available in Gallery+ 1.0 for ownCloud 7 (and master)
![Screenshot](https://oc7demo.interfacloud.com/public.php?service=files&t=b5a628aee0723ab20466521c8bd73eb3&download)

[2015-01-30 16:55] MorrisJobke commented on #13805
@iliyasbasir I couldn't find the logs. What groups are this? From a backend (LDAP groups for example) or are that owncloud native groups created in the user management? Is there anything special to that groups? (weird characters in the name or a `,` in the name)

[2015-01-30 16:59] iliyasbasir commented on #13805
@MorrisJobke : my bad i'm  still type down and accidentally click on submit button...i will send all detail soon...

[2015-01-30 17:05] MorrisJobke commented on #13805
@iliyasbasir Simply update your initial post ;)

[2015-01-30 17:06] LukasReschke commented on #13805
Wait… you're using XDebug in a production environment?!?

[2015-01-30 17:08] MorrisJobke commented on #13805
Yes. This will destroy all shares. No way to recover them once this is done.

[2015-01-30 17:09] iliyasbasir commented on #13805
@MorrisJobke This been suggest by Carlos D to run ./occ files:scan --all

[2015-01-30 17:10] iliyasbasir commented on #13805
@MorrisJobke This been  run to troubleshot issue ...this share issue was there before.

[2015-01-30 17:13] MorrisJobke commented on #13429
@PVince81 I would like to just wrap some SQL statements into these commands.

[2015-01-30 17:22] sbelov1 commented on #13533
@blizzz @jnfrmarks @gig13 Just ran the test and it looks like some files didn't get patched:

[root@owncloudtrial owncloud]# patch -p1 < 13742.diff
(Stripping trailing CRs from patch.)
patching file apps/user_ldap/group_ldap.php
(Stripping trailing CRs from patch.)
patching file apps/user_ldap/lib/access.php
Hunk #1 FAILED at 1069.
1 out of 1 hunk FAILED -- saving rejects to file apps/user_ldap/li

[2015-01-30 17:24] Sugaroverdose commented on #13785
Apache config:
[code]
*cipher supports almost all browsers except IE6(if dh>1024 java6 also become unsupported), but secure.
here's my results https://www.ssllabs.com/ssltest/analyze.html?d=f.hq.pe (i've dropped 'RSA+3DES' cipher in my case, just because i don't need to support IE8)

[2015-01-30 17:27] RealRancor commented on #13785
https://bettercrypto.org/ also provides an awesome overview for a SSL config of various services.

[2015-01-30 17:28] MorrisJobke commented on #13560
@michaelstingl Okay :) Then this is fixed :) Thanks

[2015-01-30 17:28] #13560 closed

[2015-01-30 17:30] MorrisJobke commented on #13560
@cdamken You had a similar problem. Can you try following:

And wait a bit (longest time to fetch everything is 24 hours).

Does this solve your problem?

[2015-01-30 18:26] fleish commented on #12801
@PVince81 I just tested again with the patch and checked the database at each stage and still saw the same behavior. I don't recall what, if anything I may have changed in my LDAP config. Hopefully the DB output below requested by blizzz will answer your Q.

@PVince81 the error happens at different times for different queries, but here is the common part: SQLSTATE[HY000]: General error: 5 database

[2015-01-30 18:37] MorrisJobke commented on #9632
@DeepDiver1975 From IRC:

Move to 8.1 then

[2015-01-30 18:55] blizzz commented on #13533
did you re-apply it on the already patched file from https://github.com/owncloud/core/issues/13533#issuecomment-72099771 ?

[2015-01-30 18:56] VicDeo commented on #13773
@PVince81 Submitted as https://github.com/owncloud/documents/pull/446

[2015-01-30 19:03] blizzz commented on #13801
It will  be updated once every 24h on a per user-base. Starting OC 8.1 we will refresh it more regularly.

If it does not update in 24 hours, please reopen.

[2015-01-30 19:03] #13801 closed

[2015-01-30 19:24] Comarco commented on #13800
Hi,

1. I don't use the cloudpress plugin.
2. I did not see any isue template. It is already the second time I report this, once it was not on the right issue (which I understand), now I need to use a issue template which is not obvious.

Isn't there an issue with Content Security Policy ?

[2015-01-30 19:31] LukasReschke commented on #13800
From the link on the yellow notification when creating an issue: https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

[2015-01-30 19:49] sbelov1 commented on #13533
@blizzz the patch was never applied before since I didn't have 'patch' module installed. This was the first time I actually ran it.

[2015-01-30 22:24] #13788 closed

[2015-01-30 22:24] DeepDiver1975 commented on #13788
close as #13803 is merged now

[2015-01-30 22:28] progfou commented on #12601
Thinking about having removed a user without removing its data, how would you manage that after then? One would probably need a way to access this “orphaned data”, either to remove it or to re-attribute it to another account to manage… (just some thoughts about real life problems ;-) )

[2015-01-30 22:29] joshi07 opened #13806 "Maybe folder name causing "400 bad request" error, preventing sync on Win8/8.1/10"
i had a folder named "NP++" and until i renamed it, i had a csync failed error, 400 bad request so i wasnt able to sync.

i found this :
"csync_ftw: opendir failed for ownclouds://xxx.xx/ownCloud/remote.php/webdav/zzz_Privat"

in the logs and decided to rename the the subfolder "NP++" to "NP"  and well now it works!

Seems like Opendir method cant handle the "++" in the name. but only on Win 8/8.1

[2015-01-30 22:53] bitsandnumbers opened #13807 "Call to undefined method OC_Util::isWebDAVWorking() at settings/admin.php#44"
Hi,

I don't really know since when, but I can't access my administration page. Each time I get a blank page and this error in the logs:

`Call to undefined method OC_Util::isWebDAVWorking() at settings/admin.php#44`

If I comment line 44 of settings/admin.php, I can access it again. In both cases my webdav work, but I'm afraid it break something else. I wondered if I could just comment out this l

[2015-01-30 22:57] joshi07 commented on #13806
as i tried to reproduce the error, it happened again, but renaming the folder a 2. time wasn't doing any good, so im stuck with no sync again :-(

[2015-01-30 23:01] blizzz commented on #12801
Well, about the config: you did not have the ldap_uuid_attribute value set, so before the patch it would have been set to auto and now it should stay default.

But the DB locked issues seem to be the issue here, i guess, as migration cannot succeed.

[2015-01-30 23:14] RealRancor commented on #13806
Hi,

please use the issue template provided here:

https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

as asked in the "guidelines for contributing" (linked in the yellow box when creating a new issue).

[2015-01-30 23:15] Comarco commented on #13800
ok, sorry for not doing my contributing job correctly. I thought it would be usefull. If it is not, I have spend enough time on this for now. Do whatever you want with this, it is just a little research I made before publishing this one. May be I'm completely wrong and everyhthing is super fine ;)

[2015-01-30 23:16] RealRancor commented on #13807
Hi,

are you sure you're running OC 7.0.4? This call doesn't exist in OC 7.0.4 at this line:

https://github.com/owncloud/core/blob/v7.0.4/settings/admin.php#L44

[2015-01-30 23:19] blizzz commented on #13781
Hm, actually I believe to remember that was tested, seen and also fixed in the original PR https://github.com/owncloud/core/pull/10576 (or at least the back-then stable7 or master port). It is supposed to work correctly without adding the corresponding user name attribute to the search ones.

Ok, after looking it up it seems it only landed to back-then master, neither stable6 nor 7. It uses the ap

[2015-01-30 23:25] fleish commented on #12801
@blizzz My primary reason for upgrading is to be able to use the occ utility to convert from sqlite to mysql to fix the DB locking issues. If there was a way to do that and stay on OC6 for now I'd jump at the chance as it would allow users to use the system normally. Currently they have ongoing issues when trying to use OC6/sqlite. I saw a previous thread that provided a way to convert DB's but it

[2015-01-31 07:52] #13758 closed

[2015-01-31 09:15] MorrisJobke commented on #13807
This was added between 7.0.2 and 7.0.3 (so it is in 7.0.3) PR is here: https://github.com/owncloud/core/pull/7051#issuecomment-56533466

Commit on stable7: 2013404e0a5ccb4d0fce73ee3ff6af2ece0a1c70

[2015-01-31 09:18] MorrisJobke commented on #13807
@bitsandnumbers Can you compare your admin.php with https://github.com/owncloud/core/blob/v7.0.4/settings/admin.php ? Because this is how it should look like.

How do you installed it? Maybe your source is somehow broken?

[2015-01-31 09:25] MorrisJobke commented on #13806
@danimo @dragotin Did you ever tested with Windows 8/10? Looks like maybe something bad happened there. If you have a test instance, can you try to sync a folder named "NP++"?

[2015-01-31 09:26] MorrisJobke commented on #13799
@kalletabur The template can be found at https://github.com/owncloud/core/blob/master/issue_template.md

[2015-01-31 09:29] MorrisJobke commented on #12035
This is something to be fixed in stable7 and not in 8.0 -> move to the maintenance milestone

[2015-01-31 10:48] joshi07 commented on #13806
### Steps to reproduce
Install owncloud on Win8 or Win10

try to sync with an already filled (by win 7  OC client, android OC client) webspace lying at OVH shared hosting.

### Expected behaviour
Sync with OC server

### Actual behaviour
This is in the logs of the client.

01-31 11:17:31:849 0xb91198c oc_module: Call the csync callback for ownCloud
01-31 11:17:31:881 0xb91198c oc_module: Neon erro

[2015-01-31 11:01] MorrisJobke commented on #13806
Maybe related: #13398, #12146

@joshi07 Did you mount another public share to that folder or any subfolder? Either by getting a public link share and then clicking in the top right to "add to my owncloud" or by getting it directly from another owncloud instance: https://github.com/owncloud/owncloud.org/blob/ownCloudEight/assets/img/screenshots/server/eight/FederatedShare2.png
https://github.com/ow

[2015-01-31 11:03] MorrisJobke commented on #13806
@LukasReschke Didn't you fixed some "Not authenticated" problems recently?

[2015-01-31 11:05] joshi07 commented on #13806
@MorrisJobke i just shared the folder via link with a workmate which is why i cant reinstall OC server right now, which i would do if he didnt need that files for buissness.

but if its the share ( and the sync was already failing before i shared that folder.) why is the android and windows 7 client working fine ?  And even  the CarrotDAV is working from my windows 8 or 10.

[2015-01-31 11:25] MorrisJobke commented on #13806
@joshi07 So it just fails for the Windows 8/10 client? Can you lookup the apache access log? So we see which request come in and which one causes the 400?

[2015-01-31 11:30] joshi07 commented on #13806
its a shared hosting by OVH i do not know how to take the apache access log from there since i have no SSH  for it :( sorry

[2015-01-31 11:48] griesi commented on #8452
Same problem here using ownCloud 7.0.4 on debian

I have a folder named "ownCloud" on external storage which is using "cifs using oc login"

Accessing this folder within the web gui in browser works fine.Here is the apache log:

<pre>123.27.55.125 - - [31/Jan/2015:12:30:24 +0100] "GET /index.php/apps/files/ajax/list.php?dir=%2FownCloud&sort=name&sortdirection=asc HTTP/1.1" 200 4242 "https://somewh

[2015-01-31 12:44] MorrisJobke commented on #13806
@joshi07 Is the access log just from the time where just the Windows 8/10 client tried to connect?

[2015-01-31 12:45] joshi07 commented on #13806
@MorrisJobke yes!

[2015-01-31 12:47] MorrisJobke commented on #13806
[code]

Weird ... two propfinds to the same resource with different response o.O

@dragotin @danimo Is this normal behaviour or maybe caused by this issue? Usually the folder is part of the URL in a PROPFIND, isn't it? So this is a PROPFIND to the root folder?

[2015-01-31 12:56] MorrisJobke commented on #13806
I just tried it and it looks good :(

[code]

[code]

Currently I have no idea, why the first PROPFIND fails and the second not (and why there are two propfinds at the exact same time at all)

Maybe wait for the others ;)

[2015-01-31 12:57] joshi07 commented on #13806
if i can provide any more information or even a Teamviewer session since were both germans, i would be happy to help.

Greetings

[2015-01-31 13:01] bitsandnumbers commented on #13807
Ok, so following your statement that the call should not exist in 7.0.4 (and as I was sure to be on 7.0.4)  I checked my OC installation and re-uploaded the latest OC files *after* deleting the old files, and it appear that you were right. During the last upgrade, something must have gone wrong and some files may not have been replaced.

So it works now (except that I get this new error `Sabre\\DA

[2015-01-31 13:06] bitsandnumbers commented on #12146
I have the same issue. My client is on a Mac, but is doesn't seem to be the culprit, as I also get, as in the message above, an error for carddav.

[2015-01-31 13:29] jkroepke opened #13808 "Fatal error: Call to a member function getSession() on a non-object"
### Steps to reproduce
1. Download owncloud
2. Open URL on Browser
3.

### Expected behaviour
Show the owncloud Installer

### Actual behaviour
Fatal error:  Call to a member function getSession() on a non-object in .\owncloud\lib\private\template.php on line 53

### Server configuration
**Operating system**: Windows 7 x64

**Web server:** Apache 2.4.7

**Database:** MySQL 5.6.15

**PHP version:**

[2015-01-31 13:35] MorrisJobke commented on #13806
@joshi07 Thanks. But I guess we need to wait for monday and then have a look at this together with other devs.

[2015-01-31 13:36] MorrisJobke commented on #13807
@bitsandnumbers There is something similar in #13398, #12146 and #13806 -> So I will close this. No problem for the false alarm :)

[2015-01-31 13:36] #13807 closed

[2015-01-31 13:37] joshi07 commented on #13806
@MorrisJobke  i hope this is not my fault :o config error or such. ... but thanks anyway :)

[2015-01-31 14:00] MorrisJobke commented on #13808
@jkroepke Thanks for the report. Where did you get ownCloud from? Github archives of a tag aren't supported. Possible ways to get this are the official tar balls or a git clone.

[2015-01-31 14:02] jnweiger commented on #12125
Merged into https://build.opensuse.org/package/show/isv:ownCloud:community:8.0/owncloud

[2015-01-31 14:13] cdamken commented on #13734
@DeepDiver1975 yes

[2015-01-31 14:13] #13734 closed

[2015-01-31 14:39] KKyang commented on #11341
@PVince81 I'm using the installer from the OC website. How do I apply patches without git? Thanks!

[2015-01-31 14:58] MorrisJobke commented on #13808
How to reproduce:

* fresh master
* `rm 3rdparty/autoload.php`

Should we support this case? Would propably need additional rearrangements in base.php :(

[2015-01-31 15:07] MorrisJobke commented on #13808
@jkroepke Can you test this: https://github.com/owncloud/core/pull/13809

[2015-01-31 15:15] jkroepke commented on #13808
Hi,

I used the releases from this github repo .

Anyway it fixed. Now the error message is displayed as expected.

As an improvment, i would like to say instead.

```Composer autoloader not found, unable to continue.```

somethink like

```Composer autoloader not found, unable to continue. 3rdparty files are correct?```

But this is maybe an another case.

Thank you.

[2015-01-31 15:15] #13808 closed

[2015-01-31 18:28] h-2 commented on #13786
Ok, when I try to rescan the library it it says "preparing" in Kodi, then it is quickly done. Immediately cpu load goes up and stays up for quite some time.

top -PSa says:
[code]
I think the `geli:w` hints that it is indeed a write-process that is causing the load, but I am not 100% sure. lighttpd's acces.log says this when the update is triggered:
[code]
About five minutes later it starts access

[2015-01-31 19:39] dragotin commented on #13806
The two PROPFINDs are fine, the 401 comes in reply to a non authenticated PROPFIND, and the client than trries again with credentials which results in 201.

You say it works with the win7 client, but not with the client on win8 or 10. What file systems are used on that systems? And, do we know which operating system runs on the server?

[2015-01-31 19:45] LukasReschke commented on #13779
Fully agreed as well. – Makes it also a pita to search for SQL queries in the code since there are multiple possible constructs etc…

[2015-01-31 19:47] MorrisJobke commented on #13806
They just provide some infos about their product: http://cluster015.ovh.net/infos/ is the config for https://www.ovh.de/hosting/hosting-basic.xml

@dragotin What do you want to know exactly?

@joshi07 Do you have any additional info?

[2015-01-31 19:48] LukasReschke commented on #13806
Nothing that I could think of that could related to this.

[2015-01-31 21:43] joshi07 commented on #13806
@MorrisJobke you got the informations right.

About the server... i do not have more informations than you do, since its a standard product and i have no acces to the hardware or operating system.
But i am on cluster 11 so my link is http://cluster011.ovh.net/infos/

@dragotin since the Win 7 Client is my PC at work, i will see which filesystem is there.
here at home i am using NTFS which, i think

[2015-01-31 21:58] PVince81 commented on #11341
Download the patch then run `patch -p1 < d534f262aaa21773df5a55099e0d95d2d96434e2.patch` on the command line inside the "owncloud" folder

[2015-02-01 02:41] tessus commented on #8268
@oparoz how do I get Gallery+ and how do I get this to work on my installation? Can I assume that this patch is not in the product?
Any pointers would be appreciated.

[2015-02-01 06:06] PVince81 commented on #12801
@fleish I'm on the road at the moment but will look into these "Database is locked" cases next week, the ones that happen during the migration (the patch only fix the "file upload" cases). I have an idea how to fix them. I hope that will also fix your migration issues.

Did you post all the possible error cases ? I need to see the SQL queries that failed to find the right pieces of code that need

[2015-02-01 06:08] PVince81 commented on #12801
@MorrisJobke are you still working on a script to repair post-damage cases ? I just remembered that the `oc_share` table also contain user ids in `uid_owner` and `share_with`, which means that if user ids need to be manually fixed/renamed, they'd need to be fixed/renamed in that table as well.

Of course, ideally this should not happen in the first place so let's hope we can make the original patc

[2015-02-01 07:00] fleish commented on #12801
@PVince81 to clarify, the "Database is locked" issue is more of an ongoing problem in OC6 with Sqlite - it is not specific to the migration. My reason for migrating to OC7 is to be able to use the occ tool to convert the database from Sqlite -> Mysql. I'd welcome a way to do this in OC6 to relieve user issues and give me more time to investigate the other migration issues described here (i.e. miss

[2015-02-01 09:12] MorrisJobke commented on #12801
@PVince81 Thanks for the reminder. I will have a look at this next week.

[2015-02-01 10:07] MorrisJobke commented on #11822
@cdamken Please reopen if this is still a issue for you.

[2015-02-01 10:07] #11822 closed

[2015-02-01 10:12] MorrisJobke commented on #12866
ref #12274 and #12487

@PVince81 @schiesbn Is this issue covered in one of the above tickets? Or is there a separate "implement trashbin as a move instead of a copy command"?

[2015-02-01 10:55] MorrisJobke commented on #13065
I guess we need to update this one: https://github.com/owncloud/administration/blob/master/web-installer/setup-owncloud.php

And maybe just keep the essential checks for downloading and extracting there. All the other stuff is handled by the installer, that is already in core and there is no need to do it twice.

[2015-02-01 10:57] MorrisJobke commented on #13065
For the junior job:

* add a check for LimitRequestBody to web-installer
* add the same check to owncloud installer in `core/setup/controller.php`

[2015-02-01 11:48] joshi07 commented on #13806
without doing anything, it started syncing today morning, is still going. i have no idea why ?! O,o

[2015-02-01 13:42] MorrisJobke commented on #13806
@joshi07 Can you try to log the stuff the client is doing: http://doc.owncloud.org/desktop/1.7/troubleshooting.html#saving-files-directly Maybe this helps.

[2015-02-01 14:44] PVince81 commented on #12801
@fleish I understand. I hope we can get rid of the "database is locked" issue completely in the upcoming OC 7.0.5. From what I understood above, the LDAP/share issues you are having right now is because the "database is locked" was also happening at a crucial time where the user ids needed to be migrated to a new format/default (@blizzz correct me if I'm wrong). Failure to do so would result in th

[2015-02-01 14:47] PVince81 commented on #12866
This isn't fully finished.
The first step of making a move was done with the move of the trashbin to use storage wrapper #13377. Later on, @icewind1991 will provide further changes that should hopefully do the same in case the files are from a shared storage, see #13360

I suggest to keep this ticket open for now.

[2015-02-01 14:54] MartinW2 commented on #13484
Sorry, i don't agree with the opinion of jancborchardt.

1) If the user is not logged in, there is no reliable possibility to store his sort order preference. A main advantage of owncloud is the possibility to share links that do NOT need any login.

2) Especially first-time users or unexperienced users are happy to be presented with a view that already is sorted in reasonable order. Depending on

[2015-02-01 14:58] MartinW2 commented on #10788
Sorry, i don't agree with the opinion of jancborchardt to close #13484.

1) If the user is not logged in, there is no reliable possibility to store his sort order preference. A main advantage of owncloud is the possibility to share links that do NOT need any login.

2) Especially first-time users or unexperienced users are happy to be presented with a view that already is sorted in reasonable orde

[2015-02-01 17:47] oparoz commented on #8268
@tessus - If you're running ownCloud 7, you can simply use the releases found on here: https://github.com/interfasys/galleryplus/releases
The gallery button and link changer are included. You'll only need to patch your oC if you want improved performance + support for more media types.
You'll need to de-activate your current gallery app before activating the new one.
Also, make sure you're running

[2015-02-01 17:47] jinchizhong opened #13812 "Recommand: Turn on SPDY support in nginx example."
Hi friend.
I notice here: In ownCloud [`Manual Installation`](http://doc.owncloud.org/server/6.0/admin_manual/installation/installation_source.html)
There is not turn SPDY on.
I strongly recommend turn it on, it can speed up a lot.(50%, even more)

It's very easy to turn it on.
Just change `listen 443 ssl;` to `listen 443 ssl spdy;`

[2015-02-01 18:10] tessus commented on #8268
@oparoz great, thanks for the info. I hope these changes will be in oc8 as well. especially the performance changes. what happens, if I install oc8 in about a month? is there a gallery+ for oc8?

[2015-02-01 18:21] MorrisJobke commented on #13812
I wil move this to the documentation repo. Thanks for the report.

[2015-02-01 18:21] #13812 closed

[2015-02-01 18:23] oparoz commented on #8268
@tessus - The goal is to make Gallery+ the official Gallery app at some point in the near future. That's why very little has changed in terms of the UI and its organisation, compared to what will officially launch with OC8. It's just an easier to maintain and more "legal" app (relies less on internal APIs) than what is currently available.
The performance changes won't be available in oC until 8.1

[2015-02-01 18:25] MorrisJobke commented on #13812
https://github.com/owncloud/documentation/pull/806

[2015-02-01 19:31] fleish commented on #12801
@PVince81 thanks for confirming as when I read your previous update I thought you were implying the Sqlite DB locked errors were only happening during the migration. I applied the patch in #2 to OC6 and then uploaded a bunch of relatively small files and hit the Sqlite DB locked error on ~70% of them. All except one were on oc_permissions like this:
{"reqId":"54ce7a02df6aa","app":"webdav","message

[2015-02-01 20:24] PVince81 commented on #12801
@fleish hmm the patch for file upload works for OC 7 but the code in OC 6 might have other places that suffer from this error (from reading that the error happens on "DELETE", a part that was likely to be modified in OC 7)

The patch number 3 (the LDAP one) doesn't fix any database is locked issue, it is something else. But that something else doesn't kick in **because** of the database is locked

[2015-02-01 21:08] Chais opened #13813 "User can delete shared calendar"
### Steps to reproduce
1. Have 2 users
2. Share a calendar from one to the other
3. With the other user delete the shared calendar

### Expected behaviour
A dialogue asking whether the calendar subscription should be canceled should appear.

### Actual behaviour
The calendar gets deleted

### Server configuration
**Operating system:** Linux

**Web server:** nginx

**Database:** MariaDB

**PHP vers

[2015-02-01 21:43] ShamimIslam opened #13814 "Pre_login hook cannot prevent a login during hook execution even though it should be possible"
There is a class of users that are never allowed to login, but have accounts. These users are those that have been terminated by HR but they have created content and files that are now owned by the company. They are the disabled users.

Pre-Login cannot set $uid to nothing. Emit does not return a value so it needs to have the value passed by reference. Should be able to prevent these users from re

[2015-02-01 22:35] fleish commented on #12801
@PVince81 thanks for digging into this. I went to my production instance and found the following UPDATE systems getting blocked by locking as well
{"app":"webdav","message":"Doctrine\\DBAL\\DBALException: An exception occurred while executing 'UPDATE \"oc_filecache\" SET \"mtime\" = ?, \"size\" = ?, \"etag\" = ?, \"storage_mtime\"=? WHERE \"fileid\" = ?':\n\nSQLSTATE[HY000]: General error: 5 datab

[2015-02-01 22:39] karlitschek commented on #13813
hey. can you open this in the calendar repository please?

[2015-02-01 22:39] #13813 closed

[2015-02-02 02:18] treaki opened #13815 "Add basic html compatible fallback interface"
I tried today to use ownlcoud with an mobile device (pda) which wasn't the most recent model... I was able to download the file i needed but not without much problems.

From using other web services (like web mail (example try gmail without javascript) i am used to have an fallback webinterface that is working also without css/javascript capable devices. I think that is a good praxis. I would be g

[2015-02-02 02:36] alfski commented on #8160
I support this. I have a set of non-technical users I would like to configure to land on the 'Shared with you' page on login, rather than default 'All files' page.

So this URL  /owncloud/index.php/apps/files/?dir=%2F&view=sharingin

[2015-02-02 05:43] RealRancor commented on #13813
Ref for a dup: https://github.com/owncloud/calendar/issues/475

[2015-02-02 07:38] SergioBertolinSG commented on #13702
Yes, two screenshots where there are errors:

![screen shot 2015-02-02 at 08 34 53](https://cloud.githubusercontent.com/assets/9048796/5997094/b148b0d6-aab6-11e4-9ff3-b8f718824b8f.png)
![screen shot 2015-02-02 at 08 35 34](https://cloud.githubusercontent.com/assets/9048796/5997097/b42d8bc8-aab6-11e4-9e71-c2403cb5b5cd.png)

[2015-02-02 07:43] DeepDiver1975 commented on #13702
The request for core/js/oc.js returns 503 - W(hy)TF?

[2015-02-02 07:59] DeepDiver1975 opened #13816 "Distinguish between CronJobs and BackgroundJobs/AsyncJobs"
## Background
As of today we push both types of jobs to the jobqueue (\OCP\BackgroundJob\IJobList).

With the current implementation it kind of works for both scenarios because every time cron.php is executed all cron jobs which are added during execution of every app.php will be added to the queue as well as jobs which got inserted during previous execution paths.

## Problem

As soon as we will

[2015-02-02 07:59] DeepDiver1975 commented on #13816
@MTRichards do we have any understanding on the market regarding message queuing systems used in the target enterprises? THX

[2015-02-02 08:04] DeepDiver1975 commented on #13816
Interesting implementation detail: serialization of closures - this would give us more power when moving jobs to the jobs queue - https://github.com/laravel/framework/blob/4.2/src/Illuminate/Queue/Queue.php#L69

[code]

[2015-02-02 08:28] DeepDiver1975 commented on #13702
setShowPassword is not longer present within OC8 - this shows that the javascript files are reused from the browser cache instead of refetched from the server.

Or the upgrade from 7 to 8 was not perform properly.

[2015-02-02 08:30] PVince81 commented on #12801
@fleish thanks for the detailed info. This was observed on OC 6, right ?
In any cases the fixes will likely to be put into OC 7 so after a successful migration hopefully they'll all disappear. Not sure about backporting to OC 6 yet.

So for the "database is locked" issues we have these now:
- [x] UPDATE oc_filecache with 'size' or 'path_hash': should be covered by https://github.com/owncloud/core/

[2015-02-02 08:30] PVince81 commented on #12801
- [ ] Double check UPDATE oc_filecache with path_hash though, might happen when moving/renaming files

[2015-02-02 08:35] PVince81 commented on #13702
@DeepDiver1975 I think there might have been recent changes in base.php that somehow blocked oc.js in some situations. I didn't dare tweaking base.php that late when fixing #12204. Nevertheless, that file should be optional during upgrade. During my tests, oc.js also gave 503 and I could upgrade fine.

The real issue is likely to be the part related to `showPassword`. But why would that happen onl

[2015-02-02 08:37] DeepDiver1975 commented on #13702
This is my current observation as well - oc.js not being available doesn't cause the problems in here (still a bug from my pov - but unrelated).

[2015-02-02 08:38] DeepDiver1975 commented on #13702
is there an issue in generating the css/js version we append to force reload of these files on upgrade?

[2015-02-02 08:40] PVince81 commented on #13786
Hmm strange. AFAIK heavy write operations should only happen on uploading, not on PROPFIND or HEAD.
So it looks like Kodi is using "HEAD", maybe something to have a look at.
I suppose it might do this to first get the size of the file and/or check whether it exists.

Also this is really strange:
[code]

It's as if something was redirecting Kodi to a bogus URL. Or do you have such a file/folder in

[2015-02-02 08:44] PVince81 commented on #13702
From the screenshot here https://github.com/owncloud/core/issues/13702#issuecomment-72183639 it looks like the version string is appended properly.

@SergioBertolinSG how did you upgrade ? Did you delete all files and keep only "config" and "data" or did you just extract the new tarball over the existing code ? (the latter could cause trouble and is not supported)

[2015-02-02 08:58] SergioBertolinSG commented on #13702
I'm afraid this one was made just extracting the tarball, I am checking the upgrade following those steps, and if it doesn't happen we can close the issue.

[2015-02-02 09:32] SergioBertolinSG commented on #13702
Upgrading keeping only config and data gave same screen.After that I've erased cache from chrome and it has worked.

[2015-02-02 09:33] MorrisJobke commented on #13815
There should be an warning about missing JS: https://github.com/owncloud/core/blob/master/core/templates/layout.base.php#L27

And in our current state we really need it. The effort to do this doesn't sound much, but it actually is a huge work load, because we don't do the work twice (in frontend and backend). Feel free to work on something like that.

[2015-02-02 09:36] LukeHamer opened #13818 "OwnCloud Chunking Issue"
Hi Guys

We have an issue with one of the accounts which is setup through our OwnCloud server that is running version 7.0.4 (This server is Linux), the problem is a number of large files are unable to sync due to something known as chunking which we thought it possibly could have been a bug in version 6 which is why we attempted to upgrade he account.

The user has the latest version of the deskto

[2015-02-02 09:40] kalletabur commented on #13799
### Steps to reproduce
1. Create a file - our case this was Visio file .vsd
2. Edit file multiple times
3. Rename the file
4. Try to restore older versions of this file

**PS** Don't know is it relevant or not but during these actions this file (with older and newer name) was also shared to another user

### Expected behaviour
You must be able to see all old versions of this file and you should be

[2015-02-02 09:41] MorrisJobke commented on #13112
As this won't make it into 8.0 I removed my assignment.

[2015-02-02 09:45] nickvergessen commented on #13702
well we could append an integer to the urls of js and css,
then everytime maintenance is set or triggered (update available) increase the value.
This would prevent caching to be an issue

[2015-02-02 09:49] MorrisJobke commented on #13578
Nothing in the logs of server one.

Log server two:

[code]

I still see the yellow notification: "Unknown error". (also the response just contains the "Unknown error")

[2015-02-02 09:51] MorrisJobke commented on #13578
Prettyfied:

[code]

[2015-02-02 09:55] DeepDiver1975 commented on #13578
this means the server on the other side if not returning proper xml - most probably is ran into some exception which is rendered as html.

@MorrisJobke Any exception on the other side? Maybe you can please a breakpoint inside parseMultiStatus() and see the content? THX

[2015-02-02 09:56] MorrisJobke commented on #13799
@schiesbn You maybe understand the files_version log output better: Can you have a look at the log above? Thanks

[2015-02-02 09:57] MorrisJobke commented on #13702
@nickvergessen This is actually what this hash does ;)

[2015-02-02 09:57] DeepDiver1975 commented on #13702
@SergioBertolinSG can you please compare the version number which is added to the js/css file before and after upgrade is triggered? THX

[2015-02-02 10:06] DeepDiver1975 opened #13820 "[Research] Support Doctrine Migrations"
http://www.doctrine-project.org/api/migrations/2.0/class-Doctrine.DBAL.Migrations.AbstractMigration.html

Implementing Migrations like this is a common approach which is used across frameworks and programming languages - we should have a look on how we can stream line or database migrations with respect to using mainstream technologies.

[2015-02-02 10:08] DeepDiver1975 commented on #13820
List of doctrine commands regarding migrations:
http://www.doctrine-project.org/api/migrations/2.0/namespace-Doctrine.DBAL.Migrations.Tools.Console.Command.html

[2015-02-02 10:10] nickvergessen commented on #13702
@MorrisJobke well the problem is, that we would need to update the value, before the versions are updated.

[2015-02-02 10:11] DeepDiver1975 commented on #13820
http://docs.doctrine-project.org/projects/doctrine-migrations/en/latest/toc.html

[2015-02-02 10:25] MorrisJobke commented on #13644
@blizzz It's still valid. No more users are loaded. Now I get as the second request: offset 21 and limit 10 -> 0 results

If I manipulate the request to offset 8 and limit 10 I get 2 results.

@blizzz Can you have a look at this?

@karlitschek @DeepDiver1975 I will rate this as showblocker until @blizzz has proven the opposite.

[2015-02-02 10:30] MorrisJobke commented on #13818
@LukeHamer Can you please fill out https://github.com/owncloud/core/blob/master/issue_template.md (especially the section about used apps)

[2015-02-02 10:39] danimo commented on #13523
I see the same after upgrading from 7.0.4 to v8.0.0RC1:

According to @LukasReschke

[code]

means that something went wrong with upgrading the scheme?

[2015-02-02 10:40] LukasReschke commented on #13523
@danimo Can you post the output of `SELECT * from oc_appconfig WHERE appid="files";` as well?

[2015-02-02 10:49] PVince81 commented on #13702
Maybe base the value on the version that is in versions.php, not the current version ?

[2015-02-02 10:50] LukasReschke commented on #13523
@DeepDiver1975 @blizzz experienced the automagically disappeared files app as well which leads to a broken WebDAV interface and some more bugs. This seems like a very bad update bug to me.

I believe we should move this out of backlog and give it showstopper state and get some folks assigned trying to debug this? (i.e. updating with older calendar and contacts app installed etc…)

[2015-02-02 10:51] LukasReschke commented on #13523
When accessing WebDAV interface:

![screen shot 2015-02-02 at 11 51 05](https://cloud.githubusercontent.com/assets/878997/5999405/c801c298-aad1-11e4-867d-28998686f5f3.png)

[2015-02-02 10:53] danimo commented on #13523
[code]

[2015-02-02 11:00] LukasReschke commented on #13523
`| files | enabled                           | no          |` – yup, something is exploded there :/

[2015-02-02 11:23] h-2 commented on #13786
I am not too sure anymore is actually writes and not reads... does the GET imply fetching the entire file? That would explain major slowdowns and load.. (fetching multpiple multi-GB files a second...).

[code]

Well, maybe some weird protocol mangling takes place. If you access owncloud's webdav-url (e.g. demo.owncloud.org/remote.php/webdav ) through http or https you get an html document that inc

[2015-02-02 11:35] cdamken commented on #13781
@blizzz Thanks

[2015-02-02 11:42] DeepDiver1975 commented on #13702
the version tag does not change on update ... analyzing

[2015-02-02 11:43] grisutheguru opened #13821 "Missing Secure Attribute SSL Cookie Information Disclosure Vulnerability"
Ahoi!

I did a security scan on my owncloud server and found the following:
High (CVSS: 6.4)
NVT: Missing Secure Attribute SSL Cookie Information Disclosure Vulnerability
The cookies:
Set-Cookie: ocd26375a548=96p2mc1ijg7afv979nf3ukg9f5; path=/; HttpOnly
are missing the secure attribute.

OID of test routine: 1.3.6.1.4.1.25623.1.0.902661

References
Other:
  URL:http://www.ietf.org/rfc/rfc2965.txt

[2015-02-02 11:44] LukasReschke commented on #13821
Please post your config as described in the issue reporting guidelines. If PHP is configured properly and enforce SSL is set this should just work fine.

[2015-02-02 11:44] DeepDiver1975 commented on #13702
well - only the app versions are taken into account - no the core version - https://github.com/owncloud/core/blob/master/lib/private/templatelayout.php#L95

[2015-02-02 11:49] MorrisJobke commented on #13702
@DeepDiver1975 Assign to youself, if you work on this ;)

[2015-02-02 11:50] SergioBertolinSG commented on #13702
Hashes of js and css:
Before upgrade to 7:                                28ce40ecb6f6fdbb58184d55debb2e84
after deleting cache and upgrading to 8: 84705acfbe1ee680e1821649aecbb569
But the problem happens before the upgrade, in the update screen. After copying files the first hash remains, not sure if that is fine.

[2015-02-02 11:55] blizzz commented on #13644
Yes, i will have a look. @jnfrmarks and I have also seen strange behaviour late on Friday that might be connected.

[2015-02-02 11:56] schiesbn commented on #13739
if no user is logged it should be save that the operation was performed from a external user, either from a server-to-server share or from a public link share which allows upload.

[2015-02-02 12:00] schiesbn commented on #13739
At the moment the user authenticate itself with the share token we can find his username and remote server by looking up the share table. But I think the upload activity gets triggered by the write hook. If we would find a way to propagate the information from the sharing code to the activity app we could display the correct remote user, in case of server-to-server sharing.

[2015-02-02 12:14] legrx commented on #12725
same issue here:

Debian Squeeze-LTS
Owncloud 7.0.4-3
PHP 5.3.3-7+squeeze19
Nginx 1.6.2 w/ Fast-CGI and MySQL-Server

Encryption is on. I would say it's since the Update from 7.0.2-7.0.3:

Files get randomly (don't see a connection by size or file extension) not synced, because users get an E-Tag Error (server did not acknowledge last chunk). It seems to affect users with the windows client. If th

[2015-02-02 12:38] diogonunes95 opened #13824 "Delete File"
Hello! I recently created a folder where I shared with a group of users. In access, I removed all access to edit, create, update and remove.

So far so good. In other accounts, to access the folder, they can not do anything, except the part of remove. Even without access, they can remove the files that are inside the folder.

The version I have is the latest: ownCloud 7.0.4 (stable)

[2015-02-02 13:08] grisutheguru commented on #13821
Sorry for the incomplete post.
I cannot find the reporting guidelines. Any link?
What I know about my config:
Debian 7, actual patch level.
Apache2, only one site on SSL.
owncloud installed via apt-get install, followed the wizard for config.

That's it.

How to retrieve a complete config?

Thanks for the help

[2015-02-02 13:09] LukasReschke commented on #13821
See https://github.com/owncloud/core/blob/master/CONTRIBUTING.md and https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

[2015-02-02 13:20] LukeHamer commented on #13818
Steps to reproduce
1. Download the Latest version of the OwnCloud client 1.7.1
2. Set up the account with the provided details
3. Select the folder containing various information as well as items such as .MOV files and .TIF files

Expected behaviour

The OwnCloud client should sync a copy up to our OwnCloud 7 server.

Actual behaviour

The files are unable to upload due to a chunking error and it

[2015-02-02 13:20] LukasReschke opened #13825 "Evaluate `session.use_strict_mode`"

[2015-02-02 13:22] grisutheguru commented on #13821
OK, thnx, here we go:

### Server configuration
**Operating system**:
Debian 7

**Web server:**
Apache2.2.22 (Debian)

**Database:**
 sqlite_2.8.17-7

**PHP version:**
PHP 5.4.36-0+deb7u3 (cli) (built: Jan  9 2015 08:07:06)
**ownCloud version:** (see ownCloud admin page)
7.0.4 (stable)
**Updated from an older ownCloud or fresh install:**
fresh
**List of activated apps:**
Dateien, Aktivität, Dokume

[2015-02-02 13:22] jnweiger commented on #13732
@PVince81 please retest with 8.0.0 RC1 packages.

[2015-02-02 13:25] dragotin commented on #10566
With ownCloud 8 RC1, set up with sqlite database. The system has three users: One user that shares with the two others. One of them creates 50 files with each size of 21 MiB:
[code]

While uploading the files, the client reports an internal server error on one file, without further error messages in the server owncloud- or apache error log.

After the sync finished I removed a whole couple of thes

[2015-02-02 13:25] DeepDiver1975 commented on #13824
Are you referring to the web interface or webdav or with one of our clients? THX

[2015-02-02 13:26] christianlx opened #13826 "Can not sent Calendar events by email"
Hi Owncloud devs,
I've a stranged behaviour whith sharing calendar events and mail notification.
When i share an event to another user and "send email", notification is sent to me, but not to my contact.
I found an old post where someone had the problem on 6.x version. I'm using a 7.0.4.

Is it a bug or configuration mistake ?

[2015-02-02 13:27] dragotin commented on #10566
Ah, the good news is: In both cases the sync was "fixed" in the subsequent sync run that followed a couple of seconds after the errornous finished.

[2015-02-02 13:27] hanspeter-heeb commented on #12429
@PVince81 , question: «@hanspeter-heeb are you able to test with the patch from #13752 ?»
Answer: My Administrator applied the patch. I uploaded files that did not upload corrctly before from mac over web-interface while a windows 7, ownCloud 1.7.1 client was active. There was a minor, recoverable error that produced a 8 kB file stub on the server in two cases.
I uploaded files, not uploadable bef

[2015-02-02 13:27] LukasReschke commented on #13821
Please take a look at your cookies once you have logged-in. The according secure flag should then be set.

[2015-02-02 13:32] LukasReschke commented on #13821
Alternatively try https://github.com/owncloud/core/pull/13827, please note however that this is actually not a security bug as the cookie does at this time contain no sensitive information.

[2015-02-02 13:40] DeepDiver1975 commented on #13826
Please reopen this issue in https://github.com/owncloud/calendar - THX

[2015-02-02 13:40] #13826 closed

[2015-02-02 13:40] grisutheguru commented on #13821
ahhhh, OK, my fault, should analyze the details of a finding before posting.

Learned something today.
;-)

Will do the scan again with credentials, then coming back with the result.

Thank you.
Thumbs up for the quick solution-

[2015-02-02 13:42] SergioBertolinSG commented on #13702
Tested using the branch ```include-core-version-in-js-version-tag``` for the upgrade from 7 to 8, working fine, chrome can upgrade.

[2015-02-02 13:47] LukasReschke commented on #13821
That said, please report all potential security bugs to security@owncloud.com instead of posting to our public bug tracker. Thanks.

[2015-02-02 13:55] DeepDiver1975 commented on #13702
THX a lot

[2015-02-02 13:55] DeepDiver1975 commented on #13702
@SergioBertolinSG can I ask you to comment on https://github.com/owncloud/core/pull/13822 regarding the test status? THX

[2015-02-02 14:01] cdamken opened #13828 "webDav locking is not working"
### Expected behavior
A file opened over webdav should be locked

### Actual behavior
A file opended over webdav has no lock

### Steps to reproduce:

1. Mount a webdav directory in two different computers.
2. Share a file in both (if they are different users)
3. open with the 2 computers the file

@MorrisJobke

00002459

[2015-02-02 14:02] #13702 closed

[2015-02-02 14:05] DeepDiver1975 commented on #13828
refs https://github.com/owncloud/core/pull/5342
refs https://github.com/owncloud/core/issues/5267

known to be broken for a long time - currently this is a wont-fix

[2015-02-02 14:06] butonic commented on #13781
@blizzz then master: https://github.com/owncloud/core/pull/8507
stable7: https://github.com/owncloud/core/pull/10558
stable6: https://github.com/owncloud/core/pull/10576

Follow up work regarding flickering of users went into
master: https://github.com/owncloud/core/pull/11552
stable7: https://github.com/owncloud/core/pull/11550

Also, @iliyasbasir can't reproduce this. We need logs / mount.json i

[2015-02-02 14:08] DeepDiver1975 commented on #13828
Just to summarize the reasoning why this is long time broken and no further time will be invested:
Our sync algorithm will break apart as soon as file are going to be locked - as a result locking is basically not allowed. Therefore we don't support locking.

[2015-02-02 14:14] LukasReschke commented on #9804
Sorry for the delay. Patch is at https://github.com/owncloud/core/pull/13830 – testing would be welcome. Thanks!

[2015-02-02 14:23] sbelov1 commented on #13533
@blizzz any other ideas?
@gig did you get any luck running it or is it just me?

[2015-02-02 14:37] MTRichards commented on #13816
If we are talking about embedding something internally, I am not sure it really matters what the enterprise is using. That said, there are a few vendors - IBM, VMware, Tibco, Progress (Iona) and many more have a form of Advanced Message Queue software.

For open source MQ systems, the biggest Market Share with a large active community seems to be Rabbit MQ.(Acquired by SpringSource)
Others include

[2015-02-02 14:38] MTRichards commented on #13816
Net of the above: there is no one vendor, though AMQP seems to be the important protocol.

[2015-02-02 14:38] diogonunes95 commented on #13824
Hi. The Web interface.

[2015-02-02 14:42] DeepDiver1975 commented on #13816
It does from my perspective - it's just like with databases. Usually enterprises have a defined tech stacj for their systems. E.g. they already have Oracle DBMS up and running and do not want to maintain a mysql cluster. Same goes for Message Queuing Systems.

This is indeed the path to follow - thx for the input.

[2015-02-02 14:46] DeepDiver1975 commented on #13816
Regarding AMQP support we want to look into https://github.com/ForumHouseTeam/laravel-amqp

[2015-02-02 15:17] DeepDiver1975 commented on #10566
The whole stacktrace above shows that this is the change propagation we perform at the end of a request execution. The execution path itself does not reveal any missing close cursors - no low hanging fruit from my pov.

@icewind1991 @PVince81 any ideas? THX

[2015-02-02 15:21] DeepDiver1975 commented on #13824
THX

[2015-02-02 15:21] PVince81 commented on #12801
@blizzz what database changes are done during that LDAP user id migration (update.php from user_ldap?)  apart from changing appconfig values ?

Can you double check your LDAP patch ?

Since it didn't work for @jcfischer either I suspect that the reason why it didn't work for @fleish might be the same (and not directly related to "database is locked" issues).

If that update.php writes to the `oc_p

[2015-02-02 15:21] DeepDiver1975 commented on #13824
@nickvergessen @icewind1991 @VicDeo can I ask you to look into this? Affected versions to verify:
stable7 and master - THX

[2015-02-02 15:23] PVince81 commented on #13786
Yes, a GET operation is for downloading the whole file, unless range headers are passed which would ask ownCloud to only deliver a specific piece of file (which I'd expect to happen when seeking).

Does the Kodi client stream the files or does it first downloads them then cache them locally ?

[2015-02-02 15:25] PVince81 commented on #13732
I'm still on the train. Will test them on my server this evening or tomorrow.
Thanks.

[2015-02-02 15:30] diogonunes95 commented on #13824
@DeepDiver1975 , I forgot to mention that displays a message that can not be removed, however it removes.

[2015-02-02 15:36] jcfischer commented on #12801
@PVince81 @blizzz: I wonder if you guys shouldn't try to understand what exactly causes the upgrade to fail (i.e. users not seeing the files in the GUI). We are happy to provide excerpts samples of pre and post migration databases - just tell us what you need.

[2015-02-02 15:41] schiesbn commented on #13824
How did the users deleted the files in the folder? If delete permissions are removed the web interface doesn't show the "trash" for the delete operation at the right side of the file.

[2015-02-02 15:50] DeepDiver1975 commented on #13824
I remember a case where the permissions got messed up (upgrade / missing permission propagation ???) and the trash icon did show up. In this case there is no permission check on the server which finally allows deletion. Maybe this is the case here as well ...

[2015-02-02 15:56] PVince81 commented on #10566
@dragotin I don't see the "deadlock" pattern in that part of the code.
Note: the "deadlock" pattern is the one that is caused by unclosed
cursors that aren't garbage collected.

In your test case, did it all take more than one minute ?
I believe the default SQLite timeout is a minute, so we might want to
retest this together with the timeout setting from
https://github.com/owncloud/core/pull/13615

[2015-02-02 15:56] ak-uk opened #13833 "LDAP connections"
I have 2 owncloud servers. One on CentOS 7 and one on CentOS 6. I found that there are non owncloud related problems with CentOS 7 and our SAN, so I built a CentOS 6 server.
server setup:
php 5.6
php-fpm
nginx with ssl
maria db
On the CentOS 7 server I got the LDAP app working but this fails on CentOS 6. As per attached screenshots.
C6:
![centos6](https://cloud.githubusercontent.com/assets/8711214

[2015-02-02 15:56] schiesbn commented on #13824
afaik OC\Filesystem checks permissions before we perform a operation but of course if the permissions are screwed up then this check will also get the false result.

Strange thing is that @diogonunes95 says that he gets a message telling him that the file can't be removed so at least some permission check seems to creates the correct result. Especially strange because at the back-end there is only

[2015-02-02 15:58] dragotin commented on #10566
@PVince81 nope, that was no timeout issue.

[2015-02-02 16:00] DeepDiver1975 commented on #13824
The only thing I remember (and this honestly sounds fishy): in the described scenario above the file could not be deleted via webdav but via the web - different code path are involved here for sure.

But finally - it's unclear is this is the same scenario

[2015-02-02 16:08] TheCho5enJuan opened #13834 "Client Sync Issue"
### Steps to reproduce
1. Windows Sync Client is installed
2. modify Account
3. change DNS name of server to real world IP
4. re-attach current file path (C:\EDI\IN\cloud\203948\out) to synced owncloud folders (orders\3pl\203948\out) using "choosing what to sync" option to select only the out folder
5. add file to owncloud folder online
6. windows client syncs
7. a separate program on windows see

[2015-02-02 16:13] TheCho5enJuan commented on #13834
Thank you in advance to any help provided

[2015-02-02 16:14] TheCho5enJuan commented on #13834
[Tickets with similar issues] (https://github.com/owncloud/core/issues?q=%22This+sync+would+remove+all+the%22+)

[2015-02-02 16:16] diogonunes95 commented on #13824
I made a short video with the whole process and the problems encountered

https://www.youtube.com/watch?v=RX6Zy9_0FzM&feature=youtu.be

[2015-02-02 16:19] stv0g commented on #12095
I'm getting the same error with 8.0 RC from the latest daily archive.
But only after i've installed the calendar and contact apps.

[2015-02-02 16:26] jnfrmarks opened #13835 "Package upgrade failed going from 7.0.4 to 8.0"
### Steps to reproduce

1. Install and configure 7.0.4 using the package

[code]

2. Complete configuration of owncloud by logging in.  I also created a user.

3. Upgrade to 8.0 using the package

[code]

### Expected behaviour

Upgrade should be successful

### Actual behaviour

Upgrade fails with:

[code]

### Server Host info:

Ubuntu 14.04
PHP 5.5.9

### Server configuration

ownCloud 7.0.4 (s

[2015-02-02 16:40] DeepDiver1975 commented on #13824
THX @diogonunes95 - the issue is related to the delete multiple feature

[2015-02-02 16:43] DeepDiver1975 commented on #13834
@dragotin @danimo can you please comment on this? From my understanding this bahavior is by design

[2015-02-02 16:46] TheCho5enJuan commented on #13834
@DeepDiver1975 is it my understanding that i can not sync data using the DNS name and then change to the real world IP, hoping to continue syncing?

[2015-02-02 17:27] LukeHamer commented on #13818
Is there anything else you need info on?

[2015-02-02 17:46] fleish commented on #12801
@PVince81 that's correct, the locked errors are happening in OC6. FWIW I tried uploading the same files to an instance upgraded to OC7 and did not have get any locked errors in the log. I understand the desire to get everyone on OC7, but I'd also ask to consider the level of effort involved in backporting to OC6 since I think it would benefit a number of users.

[2015-02-02 17:50] iliyasbasir commented on #13769
@MorrisJobke : Can you please have some one look this issue. thx

[2015-02-02 17:51] iliyasbasir commented on #13805
@MorrisJobke : Can you please have some one look this issue. thx

[2015-02-02 18:30] gentooza commented on #13795
Well,
- I've already tested owncloud in two different systems
- I've already tested webdav mounting in two different clients
- I've followed the official documentation, twice
- I've already applied optimization tools like php-xcache
- I think that 16kbs/sec should not be treated as an optimization issue, it's a fail
- I have followed the Arch linux instructions, and the apache 2.2 optimization gui

[2015-02-02 18:47] th3fallen opened #13838 "Update phpseclib to current master (0.3.9)"
The current version OC is using (0.3.6) causes conflicts with users who use phpunit via composer global require. Also after speaking with @bantu he agrees that it should be updated due to bugfixes on his end.

Not sure if this a great time or not but wanted to get it into the pipeline.

[2015-02-02 18:50] th3fallen commented on #13838
Closing as is duplicate to https://github.com/owncloud/core/issues/12115

[2015-02-02 18:50] #13838 closed

[2015-02-02 18:51] th3fallen commented on #12115
Other issue with the current version is an incompatibility with users who use phpunit via `composer global require` which is resolved in phpseclib 0.3.9

[2015-02-02 18:53] DeepDiver1975 commented on #12115
master is on 0.3.9 - see [![Dependency Status](https://www.versioneye.com/user/projects/54a548e697427553100000b9/badge.svg?style=flat)](https://www.versioneye.com/user/projects/54a548e697427553100000b9)

[2015-02-02 18:55] th3fallen commented on #12115
@DeepDiver1975 composer.lock does not show this.... https://github.com/owncloud/3rdparty/blob/master/composer.lock#L1278-L1279

[2015-02-02 18:55] bantu commented on #12115
@DeepDiver1975 We already established that versioneye lies.

[2015-02-02 18:57] bantu commented on #12115
@DeepDiver1975 See https://github.com/owncloud/core/issues/9632#issuecomment-72041261

[2015-02-02 18:57] th3fallen commented on #12115
yeah its definitely at 0.3.6

[2015-02-02 19:01] DeepDiver1975 commented on #12115
oh well - then let's update that on

[2015-02-02 19:01] DeepDiver1975 commented on #12115
I wonder who failed to use composer properly .... most probably myself

[2015-02-02 19:02] th3fallen commented on #12115
"oh well - then let's update that on"

What are we updating that on....? :smile:

[2015-02-02 19:04] DeepDiver1975 commented on #13805
@blizzz did we backport all this uid magic to stable6 as well?

[2015-02-02 20:55] jnweiger commented on #12095
@stv0g Thanks for testing RC1. Did you install from tar.gz or deb or rpm package?

[2015-02-02 21:18] PVince81 opened #13840 "Files app disabled / config defaults issue ?"
I upgraded my openSUSE 13.1 package of owncloud-7.0.4-17 to owncloud-8.0.0~beta2.
Then I ran `sudo -uwww ./occ upgrade`, all went fine.

Now WebDAV doesn't work and the log says:
[code]

Checking the DB:
[code]

There is no "enabled" key at all ?!

I checked my backup from 7.0.4 and the key was *also* missing.

So I guess that in 7.0.4 the default value for "enabled" was "yes" and now in 8.0.0 we

[2015-02-02 21:19] PVince81 commented on #13523
Similar issue here: https://github.com/owncloud/core/issues/13840
But this happened on upgrade and the "enabled" key was missing completely (even in OC 7), possibly unrelated.

[2015-02-02 21:20] PVince81 commented on #13840
If we decided to have "enabled" default to no, we need to provide a repair step that will insert the entry for the "files" app in case it's missing.

@DeepDiver1975 @karlitschek showstopper ?

[2015-02-02 21:27] karlitschek commented on #13840
showstopper

[2015-02-02 21:33] LukasReschke opened #13841 "Migrate to official Dropbox PHP Core SDK"
We need to migrate from the current unofficial and unmaintained Dropbox SDK we use at the moment to the official one: https://www.dropbox.com/developers/core/sdks/php

Test plan:
- [ ] use big files and slow networks - refs https://github.com/owncloud/core/issues/7821

[2015-02-02 21:34] PVince81 commented on #13840
You can partially reproduce the symptoms by deleting the "enable" key that might be on new installs.

I remember there was some code where `if ($appid=='files' )` or such and maybe it was removed in OC 8 ? If it's just that we can either add it back or go the repair step way.

[2015-02-02 21:40] PVince81 commented on #13841
Makes sense. I hope it can also help to make update detection more easily and magically improve performance :wink:

[2015-02-02 22:02] PVince81 commented on #10566
From the stack trace it also looks like it was executed from inside the change propagator's `__destruct()` method which is automatically called on garbage collection, not sure from where. Maybe at that location there were still open cursors. CC @icewind1991

[2015-02-02 22:07] h-2 commented on #13786
Can you see this based on the info above, or is there some way I can find out whether or not this is the case? Also not that the larger block in my previous psot was from scanning the database, it definitely shouldn't fetch entire files for that.

I sincerely hope it streams them, otherwise the feature would be rather pointless...

[2015-02-02 22:25] PVince81 commented on #12801
@jcfischer The reason why the users don't see files is because they got a new "home" which is empty.

The old install in OC 6 had user ids with a given LDAP user id format, let's call it X. So X(user1) is the id of user1 with format X.

So in the oc_storages table you would see entres with storage id like:
- home::X(user1)
or
- local::/path/to/datadir/X(user1)

And on the filesystem every user has

[2015-02-02 22:31] PVince81 commented on #13840
@MorrisJobke can you have a look as you're familiar with the changes ?
If too busy let me know and I'll take over.

[2015-02-02 22:31] MorrisJobke commented on #13769
@iliyasbasir

The first line in the logs says:

[code]

He needs to increase the connection limit of the database. Once this is fixed all the other problems should be gone. If not -> new ticket or reopen

[2015-02-02 22:34] PVince81 commented on #13786
Have you tried with desktop Kodi ?

@jknockaert provided a PR to make range requests work with encryption, so he tested with desktop XBMC, which means that at least that version should stream instead of a full download.

Not sure about the Android Kodi you're using right now. You could compare performance ?

I don't have time right now but later I'll try and debug the HEAD calls and see what ownCl

[2015-02-02 22:42] MorrisJobke commented on #13840
On my production instance with 7.0.4 (updated from 6.0.0) I have the key. and in my fresh installed master I also have this key. Let me check the code.

[2015-02-02 22:50] MorrisJobke commented on #13840
Weird:

I upgraded from stable6 to 7.0.4 to master. Before doing the upgrade to master (so on 7.0.4) I deleted the files app enabled entry in the database. Then I upgraded via command line.

on master:

[code]

I can access the web UI, but the webdav isn't working. I will try to debug.

[2015-02-02 22:50] MorrisJobke commented on #13840
But the main question is: Why did the enabled state got dropped?!?

[2015-02-02 22:53] MorrisJobke commented on #13840
On 7.0.4 everything (also WebDAV) still works if I disable the files app. ("files" "enabled" -> "no" in database)

[2015-02-02 23:00] MorrisJobke commented on #13840
Bisecting from 7.0.4 to master says: 4c13918bd8b12ac4bd341c846a50accc1bf9704d

[2015-02-02 23:01] MorrisJobke commented on #13840
Seems that I did something wrong while bisecting.

[2015-02-02 23:11] MorrisJobke commented on #13840
Ah ... looks a lot better: 7cb12d4bff80e91cb844b9ed0021c290455279ee

Add sabredav plugin to check if a user has access to an app

[2015-02-02 23:15] MorrisJobke commented on #13840
So. This is just a proper implementation of our previous fails. So I would go for an approach to just repair such installations: If the files app isn't enabled: enable it. Or are there any other suggestions? I have no real idea, why your installation has a broken file app. Will look into that later, but first of all I will provide a fix for this problem.

[2015-02-02 23:16] MorrisJobke commented on #13840
It was not to changed default, but to actual implementing it in the correct way. (and not that weird hacky "files app is always enabled" way)

[2015-02-02 23:21] MorrisJobke commented on #13840
Old path: https://github.com/owncloud/core/blob/master/lib/private/app.php#L262-L263 (wrong hacky way)
New path: https://github.com/owncloud/core/blob/master/lib/private/app/appmanager.php#L71-L93 (correct implemented)

[2015-02-02 23:46] h-2 commented on #13786
I haven't yet, but I hope I get time to do so in the next days.

Hm, ok. There is also an extra owncloud plugin for kodi/xbmc, but that isn't working for other reasons. Maybe that will be fixed soon, though, as well.

[2015-02-02 23:53] MorrisJobke commented on #13840
Fix is #13843

[2015-02-02 23:55] MorrisJobke commented on #13840
@PVince81 This dosn't fix the cause of your missing DB entry.

[2015-02-03 00:03] MorrisJobke commented on #13523
I fixed the disabled files app, but not what leads to it: #13843

VIncent:

Danimo:

@danimo How did you update your ownCloud? Via RPM package? Maybe it's a package problem? cc @jnweiger

Between 7.0.4 and 8.0.0 we just changed the behaviour of the webdav module (to respect the actual value in the DB, rather than the magic "files app is always enabled") - 7cb12d4

@danimo Could it be possible that

[2015-02-03 00:05] MorrisJobke commented on #13840
Duplicate of #13523 -> @danimo also didn't dropped the key over there -> I close this one and let's move the discussion over there.

[2015-02-03 00:05] #13840 closed

[2015-02-03 00:05] MorrisJobke commented on #13840
BTW: I also migrated the labels.

[2015-02-03 00:06] MorrisJobke commented on #13523
More details are in https://github.com/owncloud/core/issues/13840#issuecomment-72559602 https://github.com/owncloud/core/issues/13840#issuecomment-72559756 https://github.com/owncloud/core/issues/13840#issuecomment-72560330 https://github.com/owncloud/core/issues/13840#issuecomment-72564794

[2015-02-03 00:07] MorrisJobke commented on #13523
@blizzz Disabling is also not possible anymore with my fix:

[code]

[2015-02-03 00:14] fleish commented on #12801
@jcfischer can you confirm which earlier 7 release you tested upgrading to without these issues? I'm curious to try this myself and see what comes of it

@pvince81 thanks for confirming that value is an md5 of the storage id

[2015-02-03 00:47] MorrisJobke commented on #13835
@jnweiger

[2015-02-03 00:48] MorrisJobke commented on #13835
@karlitschek @DeepDiver1975 This could become a showstopper.

[2015-02-03 00:52] MorrisJobke commented on #13833
cc @blizzz

@ak-uk Can you specify the PHP version on CentOS 6 and on CentOS 7?

[2015-02-03 00:55] karlitschek commented on #13835
agreed. showstopper

[2015-02-03 04:31] fleish commented on #12801
@PVince81 @blizzz @jcfischer I managed to poke around and find the following URL: http://download.owncloud.org/community/testing/owncloud-7.0.0RC1.tar.bz2 and gave it a try and low and behold post-upgrade I could see my own files! Shared files were still behaving strangely though. I was able to browse down into my shares past the top level only intermittently. This was an improvement as previously

[2015-02-03 05:36] ShamimIslam opened #13844 "ownCloud does not have a hook to alter the login process"
Although ownCloud does have hooks that fire before a login executes, this hook does not fire uniformly on all logins. Pre-login in the lib/private/user.php does not always execute - specifically when MySQL is running.

[2015-02-03 05:36] ShamimIslam opened #13845 "ownCloud pre_login hook is not uniform"
Some instances of the hook are labeled "preLogin". Unsure which is the correct one.

[2015-02-03 05:38] ShamimIslam opened #13846 "ownCloud does not have a pre-check-password hook"
This hook should allow the interception of the password entered and allow force failing of this password based on user id.

[2015-02-03 06:40] Bugsbane commented on #10788
I would suggest that if the user is not logged in that yes, we can still remember sort order via a cookie and that showing a decent view to new users can be achieved by carefully chosen defaults rather than having admins of every pod go and manually set defaults for their users. Between reasonable defaults in ownCloud and users being able to change them with a single click via an interface paradig

[2015-02-03 07:39] ak-uk commented on #13833
Both using 5.6 from the remi repo
thanks

[2015-02-03 08:05] Akhenaton commented on #3221
[ownCloud 7.0.4]
[Apache/2.4.10 (Ubuntu), PHP Version 5.6.5-1, mysql  Ver 14.14 Distrib 5.5.41]
"cron.php" process, called by my linux system every 15 minutes.
Still getting that problem quite often... really annoying...

[2015-02-03 08:56] khlem commented on #13456
Hello,

I have the same bug.

Windows Client : 1.7.1 (build 4382)
Owncloud Server : 7.0.4.2
OS : Debian 7
Apache : 2.2.22
PHP : 5.4.36

This problem is present for all Client sync (MAC, Linux, Windows) when the external smb module is activated. I have one external folder hosted on a Windows 2008 R2.

The only solution for me is to put new files/folder for force the smb discovery.

Do you have any

[2015-02-03 09:03] jcfischer commented on #12801
Thanks @PVince81 - that makes sense. Weird that the patch didn't help. I did the first upgrade with 7.0.0RC1 as @fleish and we also upgraded to 7.0.3 and 7.0.4 on the test instance. And +1 for the archive of earlier versions, I have also hunted for those. @blizz - if you need anything from me to debug, let me know - I'm happy to re-run the migration on our productive data

[2015-02-03 09:13] DeepDiver1975 commented on #13841
I'd really be happy to take the opportunity to also extract dropbox to it's own app.
In an ideal world moving it to a new repo and distribute the app via the appstore.

[2015-02-03 09:27] jnweiger commented on #13835
@jnfrmarks I dont see an error in the logs. dpkg only claims there is an error, but does not print anything helpful. Do you have the full log? Would a fresh install work?

[2015-02-03 09:33] DeepDiver1975 commented on #13835
@jnfrmarks for more logs please have a look at:

/var/log/apt/term.log
/var/log/dpkg.log

[2015-02-03 09:40] PVince81 commented on #13840
@MorrisJobke I think the cause doesn't matter, could have been from some very old version.

[2015-02-03 09:45] PVince81 commented on #12801
Raised ticket for the website to include older versions https://github.com/owncloud/owncloud.org/issues/413

[2015-02-03 10:36] butonic opened #13847 "the name cache_path is miss-leading as it does not affect the global cache path"
In the config we have

[code]

The name is misleading as it actually only affects the location of the user specific cache. Furthermore, it would be nice to be able to put the global cache onto a ramdisk, while leaving temp files on disk. I propose:
- [ ] introduce separate config vars `user_cache_path` and `global_cache_path`.
- [ ] migrate the `cache_path` setting to `user_cache_path`
- [ ] in th

[2015-02-03 10:36] DeepDiver1975 commented on #13456
we will address this issue within OC8.1

[2015-02-03 10:37] cdamken commented on #11624
@blizzz That was my wish list in https://github.com/owncloud/core/issues/9383 :smile:

[2015-02-03 10:40] khlem commented on #13456
Ok thx for your reply :)

[2015-02-03 10:45] MorrisJobke commented on #11624
Fix is here: #13848

[2015-02-03 10:48] MorrisJobke commented on #10788
@Bugsbane Full ACK

[2015-02-03 10:51] jospoortvliet opened #13850 "Can't add a shared link to the cloud the link was shared from"
The ownCloud Android app only lets you share a file through a link. Naturally, you would assume that to share a file with somebody else on your cloud, you send them the link. They can use the 'add this file to your owncloud' button to, well, add it to their cloud. Unfortunately, this gives an error as ownCloud does not detect you are already both on the same installation.

Of course, the Android (

[2015-02-03 10:53] MorrisJobke commented on #13850
@schiesbn Wasn't there an issue about that already?

[2015-02-03 10:55] DeepDiver1975 commented on #13850
afaik fixed with #13837 - @LukasReschke please confirm

[2015-02-03 10:57] LukasReschke commented on #13850
#13837 is unrelated to this specific bug.

[2015-02-03 10:57] LukasReschke commented on #13850
(But I also remember seeing an ticket about this somewhere here on GH)

[2015-02-03 10:58] stv0g commented on #12095
I downloaded the nightly tar.gz archive from yesterday.

[2015-02-03 11:00] PVince81 commented on #13850
Last time I tried this 1-2 weeks ago it worked. It would mount the share as if it was remote.
It caused useless network round trips but at least works (I joked about calling it a "symbolic link" if you share it with yourself)

[2015-02-03 11:04] PVince81 commented on #13207
Fixed by https://github.com/owncloud/core/issues/13490

[2015-02-03 11:04] #13207 closed

[2015-02-03 11:05] PVince81 commented on #13850
The expected behavior is a duplicate of https://github.com/owncloud/core/issues/9090

In the short term we should make sure that the folder is still mounted properly, even if it's considered as a remote connection to the same server.

[2015-02-03 11:07] blizzz commented on #12801
@PVince81 no, LDAP user names do not change upon update. The only thing that is set is a default configuration value for UUID attribute control (which since OC 7 can be set seperately for users and groups).

This does not influence existing users, but has effect on new users and also detecting a changed DN.

[2015-02-03 11:08] PVince81 commented on #13532
@nickvergessen looks like you were right, see sharing format :wink:
Ref #13678

[2015-02-03 11:14] cdamken commented on #12849
@blizzz any news?

[2015-02-03 11:19] DeepDiver1975 commented on #12849
no - there will be no quick fix or patch - this is an enhancement which requires detailed analysis.
Nothing we can come up with quickly - sorry

[2015-02-03 11:26] blizzz commented on #12801
/me is checking some theories

[2015-02-03 11:30] schiesbn commented on #13850
Just tried it, this still works on master

[2015-02-03 11:55] jnfrmarks commented on #13835
This was from a fresh install.  I will go hunt out the logs and attach any relevant data.

[2015-02-03 12:01] PVince81 commented on #12801
Had a discussion with @blizzz and it seems that logically the user id should never change in such situations.

@fleish @jcfischer can you post a snippet from the `oc_ldap_user_mapping` table and see if you observed user id format changes before/after the upgrade ? (you could pick a broken user and find his/her uuid before and after the upgrade). If you don't want to post the result here, please em

[2015-02-03 12:04] DeepDiver1975 commented on #13850
it indeed works on master - have to double check stable7 - removing from milestone 8

[2015-02-03 12:04] PVince81 commented on #13850
Also works for me on master (f4d20dc1f30d4ab4748166956fcacdaeb0773e75)

[2015-02-03 12:20] DeepDiver1975 commented on #13850
even working on stable7 8305ae6b091a63f0818b263fea2fa398311f7897

[2015-02-03 12:24] DeepDiver1975 commented on #13850
working on tag v7.0.4 - 77bcc5b2f3713f18a5183ae69bd5c21d0591e901

[2015-02-03 12:24] PVince81 commented on #13380
Just tried it and you were right :smile:

The limit doesn't kick in, probably because it uses PUT anyway.
Closing.

[2015-02-03 12:24] #13380 closed

[2015-02-03 12:28] jcfischer commented on #12801
@PVince81 I have sent you 100 entries of the db pre / post migration (with the patch applied) - they are identical.

We are using OpenLDAP and no - we didn't change it during the upgrade

[2015-02-03 12:31] jcfischer commented on #12801
I'm an idiot - I sent you the same data twice... Let me truly unmount the volume with the data, and attach the old database

[2015-02-03 12:32] PVince81 commented on #12801
@jcfischer thanks. Indeed. So the problem must be elsewhere.
Did you too see any new entries popping up in the `oc_storages` table after login ? (related to the users who logged in after the upgrade). Just to confirm that you are having the exact same issue like @fleish.

[2015-02-03 12:33] PVince81 commented on #12801
Ah sorry, didn't see your last message. The "indeed" was for "indeed the data looks the same" :smile:

[2015-02-03 12:38] DeepDiver1975 commented on #13850
Aha - as soon as I'm trying to add the public link as generated with s3 to my local test instance I'm getting a more detailed error message.

The remote share doesn't work because the ssl cert validation fails.

[2015-02-03 12:39] cdamken commented on #2566
Any news about the Another-Query-Output.txt?

[2015-02-03 12:40] jcfischer commented on #12801
@PVince81 the data is still identical though - even with the "real" old data

[2015-02-03 12:41] DeepDiver1975 commented on #13850
We could think about backporting this commit to stable7 in order to enhance the UX: https://github.com/owncloud/core/commit/9509bc403a4f05c96b88e1218e6c7a78f9dd6c20

[2015-02-03 12:46] tele81 opened #13851 "Encryption and Share issue"
Hello Community , I have the latest OC version running on my mini server.
I have about 350 users for a university group.

After I made ​​the last update , there is a problem with the encryption and the parts of the folder.

For encryption :

Invalid private key for encryption app comes with most users who are logged on a bit longer . You can not access the data in the shared folder groups because

[2015-02-03 12:50] #13754 closed

[2015-02-03 12:50] DeepDiver1975 commented on #13754
merged -> close

[2015-02-03 12:56] jnweiger commented on #13835
Reproducing ...
<pre>
obs-docker-install isv:ownCloud:community:7.0 owncloud xUbuntu_14.04
docker run -ti owncloud-7.0.4-3-xubuntu_14.04
wget -nv http://download.opensuse.org/repositories/isv:/ownCloud:/community:/8.0/xUbuntu_14.04/Release.key -O Release.key
apt-key add - < Release.key
echo 'deb http://download.opensuse.org/repositories/isv:/ownCloud:/community:/8.0//xUbuntu_14.04/ /' >> /etc/apt/

[2015-02-03 13:02] jnweiger commented on #13835
I don't understand comment https://github.com/owncloud/core/issue_comments/72638302 -- conflicts cannot happen on a fresh install, can only happen in update.

[2015-02-03 13:06] MorrisJobke commented on #13835
@jnweiger I guess @jnfrmarks meant that it was a fresh install of 7.0.4 and then she upgraded and this happened ;)

[2015-02-03 13:11] karlitschek commented on #13850
@schiesbn do you agree with a backport?

[2015-02-03 13:25] jnfrmarks commented on #13835
@MorrisJobke @jnweiger

Correct - it was a fresh install of 7.0.4 then an upgrade to 8.0.0

Sounds like the error has been reproduced.

[2015-02-03 13:33] MorrisJobke commented on #13850
Whitespace cleaned version: https://github.com/owncloud/core/commit/9509bc403a4f05c96b88e1218e6c7a78f9dd6c20?w=1

[2015-02-03 13:50] MorrisJobke commented on #13851
cc @schiesbn

[2015-02-03 14:17] butonic commented on #13725
@DeepDiver1975 any priorization on this?

[2015-02-03 14:17] iliyasbasir commented on #13805
@MorrisJobke : Customer is waiting for response ..any help would be appreciated

[2015-02-03 14:19] butonic commented on #13725
depends on https://github.com/owncloud/core/issues/13816 for a correct fix

[2015-02-03 14:26] jnweiger commented on #13835
Fixed by commit #60 in isv:ownCloud:community:8.0 owncloud

[2015-02-03 14:29] bantu commented on #12115
@th3fallen I take this.

[2015-02-03 14:30] th3fallen commented on #12115
Thanks @bantu

[2015-02-03 14:34] jcfischer commented on #12801
@PVince81 the plot thickens: In the post migration oc_storages table I have several thousand new entries in the form: `local::/mnt/data/user.name@example.com` while we had `home::user.name@example.com` in the old database - I have sent you extracts of the data/

[2015-02-03 14:38] PVince81 commented on #12801
Did you guys move the "datadir" during your upgrade ? If yes, please try it again without touching it.
In case you have "local::" entries with hard-coded data dir, it should match exactly whatever is in config.php.

[2015-02-03 14:42] PVince81 commented on #12801
This is not ok. Entries in the format "local::" should not appear for new users since OC >= 5.0.12. New entries would always have the format "home::".
@jcfischer can you confirm that you are not using external storage with type "local" ?

[2015-02-03 14:47] buzzra opened #13856 "Update required, again, after reboot, but server is already updated to latest version."
Hello all,

This has been posted in the Owncloud forums, but we can't seem to find out what is going on. I am also concerned how this will affect the upgrade to Owncloud 8.0 when it comes out.

I have been running Owncloud 7.0.4 for a while now. It works great. 2 nights ago the server was re-booted, and now anyone going to the https://myserver.com/owncloud url sees the "start update" button to upd

[2015-02-03 14:53] DeepDiver1975 commented on #13856
how did you install ownCloud?

Just because :speak_no_evil:

[2015-02-03 15:02] Raydiation commented on #13835
As it seems this is fixed I'm closing this issue.

Reopen if problems are still present

[2015-02-03 15:03] blizzz commented on #13805
not sure which uid magic you mean. For OC 7 we were just splitting up general uuid override to user and group specific ones, but that is it. don't remember anything else in this regard.

[2015-02-03 15:09] jcfischer commented on #12801
@PVince81. No - we didn't touch the data directory. We installed the 7.0.4 code and then put back the old configuration file that we are using so that the update process will know that it needs to update the db.

local storage would be configured where? `mount.json` in the data directory? That is empty

[code]

[2015-02-03 15:13] DeepDiver1975 commented on #13523
fixed by https://github.com/owncloud/core/pull/13843

[2015-02-03 15:13] #13523 closed

[2015-02-03 15:14] DeepDiver1975 commented on #13805
I'm referring to the ldap uid issues we are experiancing on upgrade 7.0.3 to 7.0.4

[2015-02-03 15:16] PVince81 commented on #12801
Ok thanks. Now we're really in mysterious land.

The code in question is here: https://github.com/owncloud/core/blob/stable7/lib/private/files/filesystem.php#L332

From what I see there are only two conditions that would lead to "Local" storage creation:
1) if `$userObject` is null ?!
2) or if a "local::" storage already exists, then it would use that

So here I wonder if something is causing `$us

[2015-02-03 15:18] MorrisJobke commented on #13835
It currently upgrades here ... let's see

[2015-02-03 15:21] PVince81 commented on #12801
I remember that the only "local::" storage that was left was the anonymous "local::$datadir" storage. All user storages should be in "home::" format. The part in the `else` block should probably pass `null` instead of the `$user` ?

It still doesn't explain why `$userObject` is null in the first place.
We probably need to add additional checks to prevent side-effects when such situation happens.

[2015-02-03 15:23] VicDeo commented on #12095
@stv0g where did you take calendar and contact from?

[2015-02-03 15:33] RealRancor commented on #13856
Hi,

just a wild guess: Your server was reseted to a state previous state where an older OC version was installed?

[2015-02-03 15:34] RealRancor commented on #13851
Hi,
@tele81
i think you could help debugging this problem by providing more informations about your environment by filling out the issue template:

https://raw.github.com/owncloud/core/master/issue_template.md

as asked in the "guidelines for contributing" (Linked in the yellow box when creating a new issue).

[2015-02-03 15:38] MTRichards opened #13858 "Recommended LDAP/AD settings when initially configureing (doc)"
Wanted to document the need for a recommendation around initial setup of AD/LDAP.

In common ownCloud use, users sometimes change names. This means that a Jane Doe could become a Jane Wu. This means the email address would change, the user name and the display name in LDAP or AD.

This is why we highly recommend that admins leverage an attribute that will not change when binding and setting up the

[2015-02-03 15:42] MorrisJobke commented on #13835
[code]

I just installed oc 7 like @jnfrmarks  and then changed the repo path (replace 7 by 8) and loaded the new key. -> still a problem

cc @jnweiger

[2015-02-03 15:45] michag86 opened #13859 "[User management] save settings like "Show last log in""
In the user management are settings for:
 - Show storage location
 - Show last log in
 - Show user backend
 - Send email to new user
 - Show email address

When I enable some of this settings, switch to "Personal" and switch back, all settings are unchecked.

Tested with current daily from 2015-02-03.

[2015-02-03 15:56] Krypton25 opened #13860 "Infinite creation of folders in web interface"
Ok so I've installed Owncloud 7.0.4 on my windows desktop server using WAMP to bypass my incompetence with IIS and MySQL :). I'm using an
Apache 2.4.9 server with
PHP 5.5.12 and
MySQL 5.6.17

My data folder is not located in the WWW root, but on another drive. When I first got there, I went into the folder called "admin" which is my OC username. In there, I created a subdirectory called "Musique"

[2015-02-03 15:57] MorrisJobke commented on #12998
* [ ] save settings of user management #13859

[2015-02-03 15:58] MorrisJobke commented on #13859
I added it to the list in #12998

[2015-02-03 16:54] PVince81 opened #13862 "Throw exception in initMountPoints if user manager returned null"
If for some reason the user manager did not find the expected user here https://github.com/owncloud/core/blob/stable7/lib/private/files/filesystem.php#L332 the logic will still go in the else block and create a bogus "local::" home entry.

This code needs to be made more robust: add a check whether `$user` is non-null and non-empty and if `$userObject` is null, which means that the user manager di

[2015-02-03 17:02] fleish commented on #12801
Does it make sense this issue is not present in 7.0.0RC1 but not is present in 7.0.3 & 7.0.4?

[2015-02-03 17:03] PVince81 commented on #12801
Yes, because in 7.0.0RC1 there were problems with apps update. App update was made more robust later to avoid endless loops and concurrent app updates. So this fits in well with @blizzz's findings.

[2015-02-03 17:07] blizzz commented on #12801
When we load apps in regular operation, we load first authentication apps, and then filesystem and logging ones, followed by everything else. Maybe we should do the same on upgrade: first upgrade auth apps and enable them, subsequently the same with filesys and logging ones.

[2015-02-03 17:08] blizzz commented on #12801
@DeepDiver1975 your opinion? ^

[2015-02-03 17:16] giovanisp opened #13863 "[feature request] Short URLs for sharing (tiny urls)"
Just an idea... instead of creating long links like www.example.com/public.php?service=files&t=6c7d88d64d44f2d7680cbcf3abf96473, why do not provide friendly (and tiny) URLs like
www.example.com/b76J09c  or let the user chose a custom like www.example.com/myCustomSharedDoc  ?

There are some FLOSS URL Shorteners around (http://yourls.org/, http://sourceforge.net/projects/polrshortener/ ... ). Not s

[2015-02-03 17:20] icewind1991 commented on #12801
Seems like the best way to solve it

[2015-02-03 17:33] karlitschek commented on #13863
this requires tools like mod_rewrite so we can´t directly ship this with owncloud. But I´m sure this can be configured in apache to have the proper redirects.

[2015-02-03 17:33] #13863 closed

[2015-02-03 17:34] PVince81 commented on #13860
Very likely.

@nickvergessen which one was the main ticket for this issue ?

[2015-02-03 17:34] karlitschek commented on #13858
@blizzz FYI

[2015-02-03 17:35] PVince81 commented on #13856
@DeepDiver1975 we could add a config.php option to disallow updating in the web UI to avoid having anyone click on it

[2015-02-03 17:39] PVince81 commented on #13844
@MorrisJobke that's not technical debt but enhancement.

Technical debt is for duplicate code or stuff that needs refactoring. Or quickfixes that were put in because there was no time for a proper fix.

[2015-02-03 17:40] Krypton25 commented on #13860
I searched on this website for similar issue, but being new here, I didn't manage to find the "exact same issue" anywhere. I'm just looking for a way to:

1 - delete the 4066 folders that I can't seem to get rid of (and they only appear in web interface)
2 - prevent it from happening again - my guess is to completely disable case-sensitivity if that's possible

Thanks for your help :)

[2015-02-03 17:40] PVince81 commented on #13844
Okay, I re-read the ticket. A hook that doesn't fire uniformly sounds more like a bug.

[2015-02-03 17:40] RealRancor commented on #13856
@buzzra
Some more questions:

1. What happens if you click on "start update"? (Anything in your data/owncloud.log)
2. Have you recently installed/updated an app?

[2015-02-03 17:41] PVince81 commented on #13860
Yeah, I also didn't manage to find it. I remember some other guy having the same issue.
It was also due to problems with path handling in Windows and possibly related to unicode chars too.

[2015-02-03 17:43] dajusc commented on #9324
I don't have the problem any more, since I moved from the external webspace (Strato) to my own homeserver (clean install, Turnkey oC in VM).

[2015-02-03 17:43] Krypton25 commented on #13860
#13625
is that it?
does not seem to be solved though...

[2015-02-03 17:54] Krypton25 commented on #13625
Any development on this topic? I am having the same problem on Windows 8.1 using
Apache 2.4.9
PHP 5.5.12
MySQL 5.6.17
running the server from WAMP, so no IIS in my case, but pretty muche the same problem. Same observations as on the snapshots for deletion of a single folder. I can't seem to get rid of the folders (delete takes ages but does nothing).

[2015-02-03 18:04] PVince81 opened #13864 "Rename file in s2s sharing with encryption enabled"
### Steps to reproduce
1. Setup a OC instance B with stable7 (361b70e4d7a80e1aea930a4a9439394c3e30af18)
2. Enable encryption
3. Create a folder "folder" and share it with link, allow upload
4. Setup a OC instance A with master (9e222ec841946d773514f790fcc567c634d27038)
5. On A: Open share link and mount it as remote share
6. Create a subdir "folder/testroot" and "folder/testroot/sub"
7. Connect to

[2015-02-03 18:08] PVince81 commented on #13860
Yes, that's the one. Closing as duplicate.

Sorry that it's not fixed yet, from what I heard it is quite tricky. Please follow up in that other ticket.
Thanks.

[2015-02-03 18:08] #13860 closed

[2015-02-03 18:10] MorrisJobke commented on #13844
@PVince81 Oh ... sorry. I misread this. :(

[2015-02-03 18:13] Naucum commented on #13625
Good to know that i m not alone. Thought that i did it again cause i m not expert in this. but would be pretty nice if i could delete the folders without complete fresh install. Just waiting for details about this.

[2015-02-03 18:48] iliyasbasir commented on #13781
@MorrisJobke @butonic @LukasReschke : I did placed logs / mount.json  can be found at s3 under support/github-issues/core/13781

[2015-02-03 18:50] LukasReschke commented on #13781
Public bug tracker – so why not make the anonymized mount.json public as well? ;-)

[2015-02-03 19:27] Xenopathic commented on #13858
To complete this, could the user list page show the username of the user instead of the UUID in such cases? Seeing a list of

    0123456789-abcde-wxyz
    992msik1xkj-sk221-fvn3
    ...

Doesn't make for easy administration, which is why some AD admins choose to change the attribute to the username (which, as you say, may change)

[2015-02-03 19:35] rullzer commented on #13627
Of course this would hold true for any client.
I would very much like to see the proposed API extensions. When this is implanted I suggest to allow specifying the mount point directly. I.E. if I add a link share via the API that I can direct say place it in folder X.

[2015-02-03 19:41] butonic commented on #13725
the cause is likely `apps/files_sharing/lib/updater.php Shared_Updater::postShareHook()`.

the code will update the parent etags of the folder that pops up in users homes. that is one file_exists and a stat call for each user. so sharing with a group of 10000 users will result in a stat call for at least the '/files' folder of every user in the group. which is 10000 stat call to the filesystem. Ad

[2015-02-03 19:49] #12171 closed

[2015-02-03 20:36] avoine commented on #13333
I suspect this bug is still valid because I have the same bug here with ownCloud 7.0.4 and owncloud-client 1.7.1 on Ubuntu.
I suspect an etag problem too because like @PVince81 said as soon
as you modify something in the subfolder the changes are propagated and it became visible on the client.

[2015-02-03 21:02] buzzra commented on #13856
@RealRancor,
I have not clicked the button yet. I was trying to figure out why this happened and so how to prevent it. I also didn't want to screw anything up, if possible. Currently, the owncloud.log has a bunch of "updste required, skipping cron" messages.

I have recently installed the news app and it was working fine. I also installed and removed an old version of the OPDS catalog app and then

[2015-02-03 21:16] jnfrmarks opened #13867 "Different edit behavior when a file is shared via the server UI or via cURL"
### Steps to reproduce

1. Install owncloud
2. create user1 and user2
3. as user1 in the server UI create a .txt file, edit it to put in some content, and share with user2 with only share permissions (no edit permission)
4. as user2 edit the file - the file opens in an editor window but the user can't make changes.

5. Install owncloud client
6. Create a local .txt file, edit it to put in some con

[2015-02-03 21:21] LukasReschke commented on #13867
This is related to https://github.com/owncloud/core/issues/11707 - scheduled for 8.1. Can you confirm that I did not misunderstood that issue?

We need to switch to a secure by default policy here. Edit should be an additional option, but not be the default.

[2015-02-03 21:26] jnfrmarks commented on #13867
For the file shared via the server UI:

user2 can't make any changes to the file; the file is just opened in the texteditor window instead of being downloaded.

For the file shared via the cURL command,

The file is only downloaded for user 2 instead of being opened in the texteditor window.

[2015-02-03 22:03] iliyasbasir opened #13868 "After upgrading oC 7, New shares not syncing"
###  Expected behavior
We are seeing some inconsistent behavior with syncing shared content after upgrading our servers to ownCloud 7 a little over a week ago. Here are two tests I've run which are typical of the symptoms users are reporting to me.

Test 1:
User A shares a folder with User B. It shows in the web interface for User B but won't sync to their computer (tried with our build of 1.6.4 o

[2015-02-03 22:08] LukasReschke commented on #13868
Well, to be honest a large text blob instead of a structured list (i.e. 1. Click foo 2. Click bar 3. It explodes) is not really something that makes developers happy to take a look in their spare-time ;-)

[2015-02-03 22:12] LukasReschke commented on #13859
Dupe of https://github.com/owncloud/core/issues/12727

[2015-02-03 22:12] #13859 closed

[2015-02-03 22:12] LukasReschke commented on #13859
(adjusted the reference in the meta issue)

[2015-02-03 22:13] iliyasbasir commented on #13868
@LukasReschke :I placed explicitly customer test so developer have clear picture if customer missing /or not performing correct step. Or other way around where our product need improvement.

[2015-02-03 22:55] buzzra commented on #13856
@RealRancor ,
O.K. I clicked the button. the only message I got in the log (logging set to 0) was:

{"reqId":"xxxxxxxxxx","app":"core","message":"starting upgrade from 7.0.4.2 to 7.0.4.2","level":0,"time":"2015-02-03T16:39:42-06:00","method":"GET","url":"\/owncloud\/core\/ajax\/update.php?requesttoken=xxxxxxxxxxxxxxxxxx"}

The web site went in to maintenance mode, and when I refreshed after a few

[2015-02-03 23:08] MorrisJobke commented on #12260
Drop of OC_Preferences: #13869

[2015-02-03 23:29] blizzz commented on #13833
So, what exactly does happen? On the CentOS 6 machine the wizard keeps spinning? Any network-related differences between both machines?

[2015-02-03 23:36] MorrisJobke commented on #12260
Drop of \OC\Preferences #13870

[2015-02-03 23:50] ak-uk commented on #13833
Yes, keeps spinning, often the domain controller will eventually lock out everything else trying to perform authentication until samba, slapd and sssd are restarted.
Only networking differences are that centos 6 machine is dhcp.

[2015-02-04 00:39] ShamimIslam commented on #13844
So what is the pre-login hook for if it cannot intercept the login process
and alter it? I'm not sure I follow then. Isn't it supposed to be a
pre-emptive event handler that can cancel the event?

On Tue, Feb 3, 2015 at 12:39 PM, Vincent Petry <notifications@github.com>
wrote:

[2015-02-04 03:29] KKyang commented on #11341
Thanks. But after the patch it's still not working.

[2015-02-04 03:46] KKyang commented on #11341
@PVince81
Data permission with 31 is the one I can delete them. All 21s miss the trash bin icon.
![172](https://cloud.githubusercontent.com/assets/2676255/6034864/6570efa8-ac63-11e4-9309-ed95c4aa58d4.png)

[2015-02-04 03:59] flixx opened #13871 "Move a Shared Folder with WebDAV deletes the content"
Hello,
I have v8.0RC1 installed.
When User A shares a Folder "Foo" for User B (with all permissions), User B will see "Foo" in WebDAVs root. If User B moves "Foo" with WebDAV into another private Folder, User A will not see the contents of "Foo" anymore (WebDAV and WebInterface). In the WebInterface, User A still sees the share-icon for "Foo". However User B will not show up in the share details.

[2015-02-04 04:22] flixx commented on #13871
I did some more testing with deleting "Foo". It works fine via the WebInterface but not with WebDAV.

I guess when moving folders with WebDAV, my OS (Ubuntu) will first copy the folder to the new location, then deleting first the content of the old folder and then the old folder itself. So it's not Ownclouds fault, just strange WebDAV behavior.

[2015-02-04 05:23] RealRancor commented on #13863
Hi,

also have a look at https://apps.owncloud.com/content/show.php/Shorty?content=150401

[2015-02-04 05:49] RealRancor commented on #13856
Hi,

have you also updated the app? Because you're getting the same message if you have just updated an app: https://github.com/owncloud/core/issues/10909

[2015-02-04 06:19] RealRancor commented on #13835
@MorrisJobke
Seems the fix by @jnweiger wasn't included yet when you have tried that.

Its only fixed in owncloud_8.0.0~RC1-2_all but not in owncloud_8.0.0~RC1-1_all which was used in your case:

https://build.opensuse.org/package/view_file/isv:ownCloud:community:8.0/owncloud/debian.changelog?expand=1

[2015-02-04 06:32] jcfischer commented on #12801
awesome findings. Looking forward to a fix soon. We have planned our next try of the upgrade for March 7th, and I was hoping to test it in the week of February 16th...

[2015-02-04 06:47] fleish commented on #12801
I'm curious what folks think of the intermediate upgrade plan/path of 6.0.6 -> 7.0.0RC1 -> 7.0.4 (or whatever is current stable at the time) as an alternative?

[2015-02-04 06:51] DeepDiver1975 commented on #13863
With oc8 the url will already be shorter as in previous versions.

[2015-02-04 06:53] DeepDiver1975 commented on #13871
Which webdav client are you using?
Generally speaking: there is a move operation within the webdav protocol.

[2015-02-04 07:25] jcfischer commented on #12801
@fleish - not that much, actually. The 6.0.6 -> 7.0.4 upgrade process took around 90 minutes of database migration for us. An intermediate update probably won't take that long the second time, but I'd rather limit the total downtime (we need time to test that the first upgrade worked). As it is now, the upgrade process as it is already takes too long for my taste.

[2015-02-04 07:58] khlem commented on #13785
Hello,

Apache2 SSL.CONF in mods-available

SSLHonorCipherOrder on
SSLCipherSuite AES256+EECDH:AES256+EDH:HIGH:!aNULL:!MD5:!EDH:!RC4

SSLProtocol -All +TLSv1 +TLSv1.1 +TLSv1.2

Restart apache2 and try : https://www.ssllabs.com/ssltest/analyze.html?d=apps.owncloud.com

The score is A- or A+ depends of your certificate.

Regards,

Clément.

[2015-02-04 08:31] giovanisp commented on #13863
Thank you!

@DeepDiver1975 cool! Short urls are very useful, specially at work, some executives complain about sending long URLs to customers...

@karlitschek couldn't this part be implemented within an .htaccess using
[code]
? I think Wordpress works this way when you configure permalinks.

@RealRancor thanks, I'll try that in the meantime.

[2015-02-04 08:47] PVince81 opened #13872 "OC 8.0.0~beta2 package ifversion issue"
I upgraded the openSUSE 13.1 x86_64 package for ownCloud to owncloud-8.0.0~beta2-28.1.noarch

I have apache2-2.4.6-6.41.1.x86_64

After restarting Apache2, I get this:
[code]

It looks like the bundled configuration file contains some "IfVersion" directives:
[code]

Not sure why they don't work, maybe I'm missing a module ?
But even then, I'd expect the ownCloud package to automatically do the rig

[2015-02-04 08:48] PVince81 commented on #13872
@jnweiger

[2015-02-04 08:51] MorrisJobke commented on #13872
There was a ticket for this. Maybe @jnweiger reminds it.

[2015-02-04 08:52] MorrisJobke commented on #13835
@RealRancor Yes. Thanks for pointing our. Now it worked :+1:

[2015-02-04 08:52] #13835 closed

[2015-02-04 08:57] PVince81 commented on #13872
Never mind, I just upgraded to the RC1 package and owncloud.conf has become this:
[code]

[2015-02-04 08:57] #13872 closed

[2015-02-04 08:58] PVince81 commented on #13725
@icewind1991 see previous comment

[2015-02-04 09:00] PVince81 commented on #13333
@avoine could you try the steps like I did at https://github.com/owncloud/core/issues/13333#issuecomment-71850509 and tell me whether the result is different for you ?

We still need more information about how to reproduce the issue.

[2015-02-04 09:01] pierrejochem opened #13873 "External storages not visible in personal settings"
_I installed the OC 8.0 RC1 and got the problem that the external storages configuration is not display under my personal settings._

**Enable User External Storage is switched on and all providers are selected**

I can only see: **ArrayArrayArrayArrayArray** at the place where it should be normally

[2015-02-04 09:04] MorrisJobke commented on #13873
@pierrejochem Was this a fresh install or an upgrade? Is there anything in the owncloud.log or the webservers log?

Can you fill out the architecture details in https://github.com/owncloud/core/blob/master/issue_template.md

Thanks

[2015-02-04 09:05] gdumanoir opened #13874 "Dropbox problem / internal error 1060, 500 internal error"
### Steps to reproduce
1. Add a Dropbox external storage
2. Do some tidying, moving file and directory inside the dropbox share using the linux owncloud sync client.

### Expected behaviour
No error, syncs correctly

### Actual behaviour
The client is unable to execute the changes it seems, and starts to get errors : internal error 1060, 500 internal error.
Each time it scans the dropbox directory

[2015-02-04 09:06] PVince81 commented on #13844
@icewind1991 @schiesbn any idea ?

[2015-02-04 09:07] PVince81 commented on #11341
Yes, the patch doesn't repair already broken entries but just makes sure that no such bogus entries are created in the first place.

You might be able to repair the permissions once by running `sudo -uwww ./occ files:scan --all` (replace "www" with your web server user)

[2015-02-04 09:08] jnweiger commented on #13872
Right. That was a owncloud.conf file seen at debian. Maybe it just needs another module. Did not investigate further. Reverting felt safer.

[2015-02-04 09:11] pierrejochem commented on #13873
It is a fresh installation with the sources from here:

http://download.owncloud.org/community/testing/owncloud-8.0.0RC1.tar.bz2

And the here is the part from the owncloud.log (Apache error log has nothing related to the problem)

{"reqId":"9d09811e1e373a2a8e56103de909b595","remoteAddr":"127.0.0.1","app":"PHP","message":"Array to string conversion at \/var\/www\/owncloud\/lib\/private\/template\/

[2015-02-04 09:19] eigengrau opened #13875 "Moving datadirectory causes client to re-download everything"
After moving the data directory to a new location, and setting the new path within the config, all of my clients started re-discovering all of the servers shares and subsequently re-downloaded everything.

This is a bit inconvenient/unexpected. Does the server know the data files just from their absolute paths? Maybe this could be handled relative to the data directory somehow.

[2015-02-04 09:31] flixx commented on #13871
I'm using the integrated tools of nautilus 3.10.1 on Ubuntu 14.04.
Found this one: https://bugs.launchpad.net/ubuntu/+source/gvfs/+bug/1297773

[2015-02-04 09:54] rperezb commented on #13673
Thanks @PVince81, indeed it is.

[2015-02-04 10:05] mmattel opened #13876 "Folder Size does not get calculated"
Ubuntu 14.04, nginx, MySQL, PHP5.5.9, ownCloud git/Master 8.0.2

I created a new dev instance and added one SMB mount point (files external) successfully.

Problem:
when I go to the Files App, the size of the added external mount point never gets calculated, even not after a day of waiting time.
Logout/relogin, rebooting ect does not change the status. I always get "Ausstehend".

I can access the

[2015-02-04 10:07] eigengrau commented on #13875
This appears to be issue #10187. Is the script mentioned there (it seems to trim the old hard-coded absolute paths away) to be part of the upgrade path for some of the next versions? This would be helpful.

[2015-02-04 10:07] #13875 closed

[2015-02-04 10:10] mikeashley opened #13877 "Cannot search contacts by phone number"
Searching contacts by name works.  Searching contacts by phone number does not appear to work.  Practical use case: I get a text or phone call from an unrecognized number on my (not-smart) phone.  I want to see if it's from somebody I know.

[2015-02-04 10:11] DeepDiver1975 commented on #13871
@icewind1991 if time permits - please have a look - THX

[2015-02-04 10:13] LukasReschke commented on #13877
Please reopen at owncloud/contacts.

[2015-02-04 10:13] #13877 closed

[2015-02-04 10:16] cdamken commented on #9058
@MorrisJobke @MTRichards Is it possible to put it in a milestone? When is planned?

[2015-02-04 10:26] DeepDiver1975 commented on #13873
@pierrejochem can I ask you for a screenshot? Which language are you using?

[2015-02-04 10:28] DeepDiver1975 commented on #13863
Generated links for shared files in OC8 look like this:

http://localhost/index.php/s/RWA7lrh90kdhWwM

[2015-02-04 10:34] PVince81 commented on #13876
What if you navigate into that SMB folder and sync it ?
From what I remember it only starts scanning the SMB folder once it is accessed at least once.

[2015-02-04 10:38] PVince81 commented on #13868
Sounds similar to https://github.com/owncloud/core/issues/13333

[2015-02-04 10:42] PVince81 commented on #13868
This big blob of text seems to mention several separate issues.
Please raise the separate issues / requirements as separate tickets (ex: file duplications).

Also it would help to get the steps in the form of "1. Upload file X in subfolder A, 2. Share A with user2, 3. Login as user2, etc..."

[2015-02-04 10:42] PVince81 commented on #13868
and let's keep this ticket here **only** for the "new shares not syncing" issue.

[2015-02-04 10:47] cdamken commented on #13110
@MTRichards Is this planned or as feature requests?

[2015-02-04 10:47] PVince81 commented on #13867
@jnfrmarks can you make sure that you clicked on the text file inside the "All files" view, not any other view ? (because clicking a text file will not open the editor in the "Shared with you" entry)

[2015-02-04 10:53] cdamken commented on #9878
@MTRichards That will help to the network performance. can we put it in some milestone?

[2015-02-04 10:53] PVince81 commented on #13732
Note, the RC1 package worked but I had to force it with `--oldpackage`. Next time please use lower case "rc1" in the name.

Can we do this for the tarballs too in the future @karlitschek ? (never use any upper case letters in package/tarball names and everything will be fine)

[2015-02-04 10:54] DeepDiver1975 commented on #9881
From my understanding this has been fixed with https://github.com/owncloud/core/pull/13552

Will be shipped with 8.0.0 and 7.0.5 - THX

[2015-02-04 10:54] #9881 closed

[2015-02-04 10:57] DeepDiver1975 commented on #9908
This is a currently not supported configuration. For LDAP authentication you need to configure ownCloud itself to connect to the ldap server within the admin page.

ldap auth on web server level is not supported - THX

[2015-02-04 10:57] #9908 closed

[2015-02-04 10:58] DeepDiver1975 commented on #13874
The Dropbox integration needs some love ... will happen in 8.1 if time permits. THX

[2015-02-04 10:59] DeepDiver1975 commented on #13868
We have seen some issues i the area of change propagation on externals storages as well - from my guts feeling this all belongs to the same root cause -> 8.1 topic THX

[2015-02-04 11:02] nickvergessen opened #13878 "Can not add files to root of the mount in a 2 level share situation"
### Steps to reproduce
1. Server1:
    1. Create folder `root/` and share public with permissions
    2. Add a folder `root/server1/` and two files `root/server1-1.txt` and `root/server1/server1-2.txt`
    3. Visit public link and "Add to owncloud" on Server2

2. Server2
    1. Accept share from Server1, share mount public with permissions
    2. Add a folder `root/server2/` and two files `root/se

[2015-02-04 11:03] DeepDiver1975 commented on #13858
@MTRichards should be in docs for 8.0? We are kind of running out of time - right? Shall we schedule this for 8.0.1? As soon as the docs will be there changes are going to be pushed to the doc server - there is not need to wait for the final 8.0.1 release.

Shouldn't we track this in the documentation repo? (Just wondering :speak_no_evil: )

[2015-02-04 11:06] DeepDiver1975 commented on #13856
Indeed upgrades can be triggered by some apps as well.

I guess we can close this - server is successfully migrated.

[2015-02-04 11:06] #13856 closed

[2015-02-04 11:17] PVince81 commented on #13864
Confirmed, reproduced again on a different machine with the same steps.

Also I saw this in the back-end instance (stable7):
[code]

The share key hasn't been moved into "sub":
[code]

Possibly a stable7 bug. Will continue to investigate.

[2015-02-04 11:20] PVince81 commented on #13864
I tried connecting to the stable7 directly with cadaver and moving a file from "testroot" to "testroot/sub" and the keys were moved properly.

That's strange, because when done over the s2s share the keys aren't moved, even though it is also supposed to be a WebDAV MOVE operation.

[2015-02-04 11:27] PVince81 opened #13882 "Lots of server requests with s2s/dav connection"
### Steps to reproduce
1. Setup two instances A and B
2. On B share a folder "folder" with link and allow upload
3. On A, mount that share as remote share (s2s sharing)
4. With WebDAV on A, upload a file into "folder"
### Expected result

No more than 2-3 requests to B
### Actual result

Lots of requests, including 401 (the fact that curl re-auths for every request is known here: https://github.co

[2015-02-04 11:29] DeepDiver1975 commented on #13110
So in order to get more users displayed we could move over the drop down to select2 where we have scrolling/lazy loading capabilities.

This touches the sharing dialog/drop down which is kind of pain for quite some long time.

@jancborchardt we shall approach this the next weeks while co-working.

[2015-02-04 11:31] PVince81 commented on #13110
I suggest a rewrite of the sharing dialog as a popup with select2. This would help cleanup the "core/js/share.php" code a bit and would need re-testing / unit tests anyway.

[2015-02-04 11:32] DeepDiver1975 commented on #9058
I don't see this happen before 8.2 @MTRichards FYI

[2015-02-04 11:33] PVince81 commented on #13882
The stat cache could be done a bit like the object cache here for SWIFT: https://github.com/owncloud/core/pull/7897

[2015-02-04 11:35] cdamken commented on #13858
@Xenopathic  you have to add an atribute in Advanced tab: User Display Name Field and put samaccountname or what your LDAP needs

[2015-02-04 11:37] DeepDiver1975 commented on #13110
While at it we can kill that html string concatenation in js and use handlebars.

[2015-02-04 11:46] PVince81 commented on #13864
Very strange, when the MOVE was done over s2s sharing instead of cadaver, stable7 cannot find the owner name. This line https://github.com/owncloud/core/blob/stable7/apps/files_encryption/hooks/hooks.php#L441 returns null for the owner when done over s2s and "root" when done with cadaver.

[2015-02-04 11:57] PVince81 commented on #13864
I debugged into resolvePath() and it sounds strangely similar to https://github.com/owncloud/core/pull/13881
Trying with that patch applied on stable7 now.

[2015-02-04 12:00] tg-ciphron opened #13883 "Files External: Available For not showing after refresh"
Hello,
by adding a new storage under file external, i am able also to add an LDAP-User. This User is defined under "available for". After refreshing the Admin-page, following incident occurs : the field "available for" is blank/empty. Therefore the folder is shared und reacheable for the user. This issue needs to be fixed, due to the fact that our client requested for that. we are currently using

[2015-02-04 12:04] PVince81 commented on #13864
Okay, I think I'm getting closer.

The difference between cadaver and s2s is that cadaver is **authenticated** as a specific user but s2s is using `publicwebdav.php` which is not authenticated.

That seems to mess up finding share key owners because the owner is null at this point.

[2015-02-04 12:08] PhilJung commented on #13725
When I observed this phenomenon (share taking more than 50 seconds), here is what is noticed:
- the time is not spent in the database. There are plenty of locks but most of them are immediate lock (no wait). There are plenty of SELECT but most of them get an immediate answer thanks to the query cache. There is no query taking more than 1 second (fro mysql_dump_slow) So maybe writing all users shar

[2015-02-04 12:13] PVince81 opened #13885 "Add more checks for expected values / defensive programming"
There are many cases in the code where we either assume that a returned value will be correct or where some abnormal situations are just ignored.

For example:
- [ ] here is assuming the $user is not null: https://github.com/owncloud/core/blob/stable7/apps/files_encryption/hooks/hooks.php#L438 (but a bug might break the subsequent code if it is)
- [x] here the user manager might return null but a

[2015-02-04 12:17] MTRichards commented on #9058
No sooner than 8.2, agreed.

[2015-02-04 12:18] MTRichards commented on #13110
Possibly 8.1. @DeepDiver1975 what do you think?

[2015-02-04 12:19] PVince81 commented on #9416
@MorrisJobke did you find a solution to this eventually ?

[2015-02-04 12:20] MTRichards commented on #9878
Is this in the browser? Dopes the video viewer solve this problem if it is supported? Otherwise, no - not possible to put it in a milestone.

[2015-02-04 12:22] jnfrmarks commented on #13867
@PVince81

I was in the all files view.

[2015-02-04 12:22] MTRichards commented on #13858
@Blizz I thought this was how the latest plugin worked - UUID separate from display name and user name?

@DeepDiver1975 Tagged as documentation, but also not 100% sure if this is current behavior.

[2015-02-04 12:24] MorrisJobke commented on #9416
It works for me nowadays. I didn't remind if I changed something, but I don't think so. Because it also works fine on my minimal development installations.

[2015-02-04 12:24] #9416 closed

[2015-02-04 12:25] LukasReschke commented on #9416
Pretty sure that was https://github.com/owncloud/core/issues/13398

[2015-02-04 12:26] PVince81 commented on #13864
The steps can be reduced to the following:
1. Setup an OC instance
2. Enable encryption
3. Create a folder "folder" and subfolder "folder/sub"
4. Share "folder" with public link and allow upload
5. Connect cadaver to "http://localhost/owncloud2/public.php/webdav/" and login using the token from the link share, leave password empty
6. Upload a file and call it "test.txt"
7. `mv test.txt sub/test.tx

[2015-02-04 12:28] butonic commented on #11843
From a deployment perspective having a minimal config is desirable. Optimally, only the db config should be necessary. The rest should be stored in the db. This makes administration of several web servers a lot easier, because only the db connection needs to be specified. Then the file would contain maybe five settings related to the database. We could go so far as to only store the DSN (Data Sour

[2015-02-04 12:31] PVince81 commented on #13867
Can you double check ? Because normally the editor should ALWAYS open in that view, unless the text editor app is not enabled or the mime type is not detected properly.

Can you evaluate the "tr" in the DOM and see if "data-mime" contains "text/plain" or something else ?

[2015-02-04 12:34] PVince81 commented on #6635
If we move the whole web UI of the files app to use WebDAV for file operations (https://github.com/owncloud/core/issues/12353), then we can point it to "public.php/webdav" for the public page, which will automatically make all file operations (including creating folders) available.

[2015-02-04 12:34] nickvergessen commented on #9058
so we need a new milestone *me hides* :speak_no_evil:

[2015-02-04 12:35] PVince81 commented on #12353
The public page can then use the "public.php/webdav" endpoint for public link file operations (https://github.com/owncloud/core/issues/6635)

[2015-02-04 12:37] PVince81 commented on #6635
The problem also exists in 8.0.

Will now try and find how to fix this...

[2015-02-04 12:40] PVince81 commented on #13864
The problem also exists in 8.0.

@schiesbn can you advise how to fix it ?
The problem is that there is no current user when using publicwebdav and yet the encryption code tries to work with an owner here: https://github.com/owncloud/core/blob/stable7/apps/files_encryption/hooks/hooks.php#L441

[2015-02-04 12:43] Watchwolf opened #13886 "Strange permission for folder/file created in a shared folder"
Hello,

Maybe this is not a bug .. I do not know.

**Steps to reproduce**

Actions are made with the WEB interface

* User A share a folder to User B with all permission except Share and delete
* User B create a file or folder in the shared folder
* User A can't share or delete the file/folder created by user B

**Expected behaviour**

The file/folder created by user B is in the account of user A,

[2015-02-04 12:51] MorrisJobke commented on #13886
I just tested - works on master.

I will test stable7.

[2015-02-04 12:58] arkascha commented on #4040
Looks like this is still not fixed in OC-7.0.4?

[2015-02-04 12:59] MorrisJobke commented on #13886
I have no problems with stable7.

@schiesbn @PVince81 Were there any changes to sharing in the past?

[2015-02-04 13:00] Watchwolf commented on #13886
Maybe this is because I use an old install (olds user, many upgrades ...)

I will make some tests with clean install.

[2015-02-04 13:01] MorrisJobke commented on #13886
@Watchwolf Can you provide the server configuration section from https://github.com/owncloud/core/blob/master/issue_template.md ?

[2015-02-04 13:04] MorrisJobke commented on #4040
https://github.com/owncloud/core/issues/13874#issuecomment-72836055

[2015-02-04 13:06] Xenopathic commented on #13858
@cdamken I know, I was referring to the fact that given that sAMAccountName can change, but UUIDs are really ugly, there is no way to have nice usernames in the user list with persistent user data :smile:

[2015-02-04 13:07] Watchwolf commented on #13886
Server configuration

**Operating system:** Debian

**Web server:** Apache

**Database**: MySQL

**PHP version**: PHP 5.4.36-0+deb7u1

**ownCloud version**: 7.0.4

**Updated from an older ownCloud or fresh install**: updated, I do not know the original version, the install has more than 1 year

**List of activated apps**: only "Acitivité" (Activity in english ?)

**The content of config/config.php

[2015-02-04 13:09] #13850 closed

[2015-02-04 13:09] MorrisJobke commented on #13850
fix is in #13880

[2015-02-04 13:23] jnweiger commented on #13835
My reproducer now also succeeds.  Confirmed fixed! Yeah!
Tested with Ubuntu 14.04 CentOS-6 openSUSE-13.2

[2015-02-04 13:24] MTRichards commented on #13673
If/when we get a fix, can we get a backport to 8.0 and 7.0.5 please? This is key for the mobile and desktop - as well as the info on whether a password is required for public links.

[2015-02-04 13:24] ak-uk commented on #13833
@blizzz
Thanks. Looking at the output of ./occ ldap:show-config on both pointed me in the right direction.
Once I ran update oc_appconfig set configvalue = 0 where configkey = 'ldap_tls'; in the CentOS 6 DB, things started working immediately.

[2015-02-04 13:24] #13833 closed

[2015-02-04 13:26] icewind1991 commented on #13871
@flixx can you try manually doing a dav move with cadaver

1. `cadaver http://example.com/owncloud/remote.php/webdav`
2. login as the share recipient
3. `mv Foo PrivateFolder/Foo`

[2015-02-04 13:26] rullzer commented on #13673
@MTRichards I did not test it (yet) but I think my PR can be trivially backported to 7.0.5.
As for 8.0 it works against the current master.

[2015-02-04 13:28] icewind1991 commented on #13873
Also can you post the mount.json (`owncloud/data/$user/mount.json`) for the user (ofc. editing out private info where needed)

[2015-02-04 13:34] icewind1991 commented on #13844
From what I can tell from the code and some quick debuging the pre login hook should always fire

[2015-02-04 13:37] icewind1991 commented on #13725
@PhilJung thanks for the info, would it be possible to get an xdebug or http://blackfire.io trace from a long share operation?

[2015-02-04 13:39] schiessle opened #13887 "Inconsistent behaviour in \OC\Files\View regarding paths."
The problem was discovered here https://github.com/owncloud/core/pull/13796#issuecomment-72705705 and handled by a easy fix for a particular problem here https://github.com/owncloud/core/pull/13881. But the overall problem still exists:

The fakeRoot in OC\Files\View has a trailing slash for external mount points or share mount points. Otherwise it doesn't have a trailing slash. Also depending on

[2015-02-04 13:39] ShamimIslam commented on #13844
Ok. So how do I cause the login to fail in the hook? Or can I not do so?

On February 4, 2015 8:34:25 AM EST, Robin Appelman <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-02-04 13:45] pierrejochem commented on #13873
### Steps to reproduce
1. Enable files_external
2. Activate the setting in admin settings and enable all storages
3. Go to personal and you won't see the storage configuration part

### Expected behaviour
Show storages like in the admin settings page

### Actual behaviour
ArrayArrayArrayArrayArray

### Server configuration
**Operating system**: Ubuntu 14.04 LTS

**Web server:** Apache/2.4.7

**Dat

[2015-02-04 13:47] MTRichards commented on #13673
Awesome sauce. Does it also advertise if a public link requires a password?

[2015-02-04 13:47] pierrejochem commented on #13873
@DeepDiver1975  English

[2015-02-04 13:49] nickvergessen commented on #13878
Reopening for stable7 backport

[2015-02-04 13:49] pierrejochem commented on #13873
@icewind1991 I can not add a mount so the file is empty and not created

[2015-02-04 13:53] rullzer commented on #13673
Yes, and if we allow public uploads. The rest can be added as well (default expire date etc).
However there was some discussion where it had to be placed in the capabilitie

[2015-02-04 13:53] DeepDiver1975 commented on #13110
Everything is possible - we need to plan the next dev cycle these days ....

[2015-02-04 13:55] MorrisJobke commented on #13878
@nickvergessen Why reopening? We have the backport-request label. I have a look at it regularly and ping if the answer is pending ;)

[2015-02-04 13:55] #13878 closed

[2015-02-04 13:56] pierrejochem commented on #13873
![screenshot from 2015-02-04 14 47 01](https://cloud.githubusercontent.com/assets/9192953/6041574/efd224f4-ac7d-11e4-908f-03f5a2ec3357.png)

[2015-02-04 13:59] pierrejochem commented on #13873
Guy's I found the problem. I created an own theme and this produced this behaviour. After setting it to the default I can see it correctly. Sorry :-(

[2015-02-04 14:01] MorrisJobke commented on #13873
@pierrejochem No problem :) Thanks anyway :)

[2015-02-04 14:01] #13873 closed

[2015-02-04 14:11] PVince81 commented on #5491
I suggest to defer this to after https://github.com/owncloud/core/issues/9058 is implemented (possibly 8.2)

[2015-02-04 14:32] MorrisJobke commented on #13878
Backport granted https://github.com/owncloud/core/pull/13888#issuecomment-72862298

[2015-02-04 14:38] h-2 commented on #13786
I have tried with desktop xbmc-13 and the behaviour is the same. I initially add a directory, the scan completes, i.e. I get the list of videos. Load during the initial scan is only caused by php-cgi and no crazy IO. Then after two minutes I want to browse the files again (not even starting a movie), disk-io spikes on the server, xbmc hangs briefly then says that it cannot connect to the server.
I

[2015-02-04 14:50] Watchwolf commented on #13886
I have the problem with 2 new users and new folders.

I will test with a fresh install when I will have time.

Maybe you can tell me some ideas where to look in the source code to see if I can find something.

[2015-02-04 15:00] PVince81 commented on #13886
Can you try with this patch ? https://github.com/owncloud/core/pull/13347

It fixes an issue with permissions in shared folders.

[2015-02-04 15:06] PhilJung commented on #13725
I hope this is what you expect :-)
https://blackfire.io/profiles/0cba44b5-74be-460e-be57-88385cb5e9e9/graph

[2015-02-04 15:08] PVince81 commented on #5764
@butonic will you still have time for this ? Else I tagged it as junior job.

[2015-02-04 15:09] rgr101 commented on #10997
Yes, OS X bundles definitely are folders.

[2015-02-04 15:15] PVince81 commented on #3956
So does it mean this will be a completely new project, possibly a special Storage backend just for connecting to SMB on Windows ?

[2015-02-04 15:16] PVince81 commented on #5868
or @LukasReschke.

I haven't retried in 8.0 yet

[2015-02-04 15:19] davivel commented on #13673
Sorry, Matt, we messed this a bit before. From the client POV would be great to have this backported, but is not really necessary for the problem we talked about.

The key point is in my comment in https://github.com/owncloud/client/issues/2774#issuecomment-72872210 .

Thanks.

[2015-02-04 15:21] butonic commented on #5764
Junior Job makes sense.

[2015-02-04 15:26] stv0g commented on #12095
Calendar: rework branch of git
Contacts: master branch of git

[2015-02-04 15:27] raiffeisennet opened #13891 "Permissions will be overwritten by parent directory"
# Expected behaviour
When entering in a subdirectory with write permissions and the parent has no write permissions i should be able to create a file
# Actual behaviour
When i enter in a a subdirectory with write permissions and the parent has no write permissions i can't create files in the subdirectory. When i enter directly to the subdirectory i have the write permissions.
# Server Configuratio

[2015-02-04 15:28] icewind1991 commented on #13725
@PhilJung thanks that's very helpfull

[2015-02-04 15:29] Watchwolf commented on #13886
The patch #13347 fix the problem.

Thank you !

[2015-02-04 15:29] #13886 closed

[2015-02-04 15:30] PVince81 commented on #10509
Is this only about adding a useful message when cron is locked ?

[2015-02-04 15:33] plastikschnitzer commented on #9324
I also di not have the problem any more as I upgraded the hosting and now I have a max_execution_time and max_input_time of 3600 seconds instead of 180 seconds before (in php.ini). Now all uploads are working fine, no matter which bandwith or how big the files are.

[2015-02-04 15:43] PVince81 commented on #11790
Because it limits itself to files and files_versions, see https://github.com/owncloud/core/blob/master/apps/files_encryption/lib/proxy.php#L52

[2015-02-04 15:43] buzzra commented on #13856
The news app shows an update available, but it only works with OC8, so I can't do it until I upgrade. Maybe that's what caused it. Seems like it might be a problem, if so.

Also, did we want to do anything about the "start update" button being available to ANY/ALL visitors to the OC URL?

buzz

[2015-02-04 15:45] PVince81 commented on #11790
Whitelisting is likely to not work because there is no location for the encryption key of the "thumbnails" folder.
Ideally the folder structure of the encryption should be changed to be "$user/files_encryption/$folderId/..." where "$folderId" can be "files", "files_versions" or anything else.

[2015-02-04 15:45] MorrisJobke commented on #9443
I still get this in stable6, stable7 and master. Just upload a picture via Android app into a subfolder:

stable6:
[code]

stable7:

[code]

master:
[code]

It seems to be related to the HEAD request.

[2015-02-04 15:47] DeepDiver1975 commented on #9324
looks like these issues can be solved by having proper configuration - did we document this properly? @MorrisJobke can you please double check? THX

[2015-02-04 15:56] jancborchardt commented on #13549
Duplicate of https://github.com/owncloud/core/issues/9940, let’s continue there.

[2015-02-04 15:56] #13549 closed

[2015-02-04 15:57] PVince81 commented on #13007
- [ ] make OCS routes work with app framework: #12454

[2015-02-04 15:59] karlitschek commented on #13644
@jnfrmarks Can you help here?

[2015-02-04 15:59] MorrisJobke commented on #9324
@DeepDiver1975 There is an open issue for that: https://github.com/owncloud/documentation/issues/702

[2015-02-04 16:00] PVince81 commented on #13096
@MorrisJobke please note that @derkostka didn't seem to have that situation. It is only by chance that I managed to trigger a similar issue

[2015-02-04 16:00] MorrisJobke commented on #9324
I also hope that this issue is fixed by #10992

[2015-02-04 16:01] MorrisJobke commented on #9324
`.user.ini` can be read by the php-fpm pool and then can grab the php.ini conf values there.

Feel free to reopen if I'm wrong

[2015-02-04 16:01] #9324 closed

[2015-02-04 16:01] giovanisp commented on #13863
Thanks, you might find these interesting if in the future you have plans to get rid of the "index.php" in the URL (could be an option like it is in wordpress):
* http://codex.wordpress.org/Using_Permalinks#Choosing_your_permalink_structure
* http://vip.wordpress.com/documentation/change-your-pretty-permalinks-or-add-custom-rewrite-rules/

[2015-02-04 16:06] tessus commented on #13333
@PVince81 I think the problem has to do with **uploading via the web interface**.
At least I haven't seen this problem before when all people involved used the sync client.

[2015-02-04 16:08] jancborchardt commented on #10788
@Bugsbane did I mention that I like you? ;)

@MartinW2 so yeah, basically what @Bugsbane wrote. This is a setting that should not be set by admins.

[2015-02-04 16:13] RealRancor commented on #13863
Have a look at the issue search, there is an existing issue

[2015-02-04 16:18] PVince81 commented on #13014
A suggestion has been made here to use entity mappers to make it easier to use the share API on PHP level: https://github.com/owncloud/core/issues/13424

[2015-02-04 16:19] jnfrmarks commented on #13644
@blizzz @MorrisJobke

I'm not sure what needs to be tested here.  What was the original issue and what are the steps to reproduce it?  Is there any risk to other areas of LDAP that need to be tested due to this fix?

[2015-02-04 16:21] PVince81 commented on #13456
This is a general issue with external storages that remote changes cannot be reliably detected, see https://github.com/owncloud/core/issues/11797

When you change a file remotely on the SMB drive, does the mtime of the parent folders automatically change on the SMB server ? Because OC relies on that to detect changes.

[2015-02-04 16:23] PVince81 commented on #13462
We could add a method "isValidFileName()" and "isValidPath()" on the storage implementation. Then every storage is free to implement its own depending on the storage type. (CC @icewind1991)

But what @LukasReschke meant is that the check should be systematic.
If we move newfile.php and newfolder.php to app framework controllers, this check could be done in a middleware.

[2015-02-04 16:23] hostingnuggets commented on #10509
I don't know if this happens when cron is locked but no matter what really happens to cron you should definitely use another more descriptive error message than "Unexpected error!".

With this error message I am unable to fix the issue as I have no clue where to search for...

[2015-02-04 16:25] blizzz commented on #13644
@jnfrmarks I just opened a PR for this: #13897

[2015-02-04 16:30] PVince81 commented on #13564
Possibly duplicate of https://github.com/owncloud/core/issues/10671

[2015-02-04 16:31] PVince81 commented on #10671
@DeepDiver1975 moved to 8.1

[2015-02-04 16:32] xataxxx commented on #10509
Like I mentioned before, I seem to get these Unexpected error! notifications when desktop client is busy uploading large files while cron starts.

[2015-02-04 16:34] PVince81 commented on #13576
I realize that it might not work with "cloud/capabilities" because that requires the user to be authenticated and I'm not sure whether it works when the auth is from a public share token.

Since this is using the new "share with user's address" approach, I'd expect the remote server to throw a specific error like "MethodNotAllowed" or something to tell that sharing isn't allowed on that server.

[2015-02-04 16:35] blizzz commented on #13833
Perfect, welcome!

[2015-02-04 16:35] MorrisJobke commented on #13891
cc @icewind1991

[2015-02-04 16:46] PVince81 commented on #13716
"userid" is referenced in the "share_with" and "owner" columns in oc_share. Third party apps might also use such field, so might be tricky to migrate.

[2015-02-04 16:46] blizzz commented on #13858
@MTRichards: the user @Blizz is not related to us.

Otherwise, the description is mostly accurate. Only I want to  elaborate on:

There is no standard attribute name that refers to the UUID of an LDAP entry. I.e. it is not called "UUID", but "entryuuid" on OpenLDAP, "guid" on AD, etc. . Currently we know 5 attribute names are they are detected automatically. This is the default behaviour, i.e. doe

[2015-02-04 16:47] blizzz commented on #13858
Correct. And everything can be customized.

[2015-02-04 16:48] PVince81 commented on #13727
@SergioBertolinSG I don't think this is a regression, this is the way it always worked. Unless the older versions of the mobile client would re-login every time for every request.

[2015-02-04 16:48] mmattel commented on #13876
Here are some tests / things I did:

1. I added the SMB share and watched with htop the cpu load which was immediately high after leaving the admin page, like it would start to scan.
2. changing to the files app showed "Ausstehend" but it never finished. Remember, I waited for a full day.
3. As suggested I navigated thru the new folder. When I came back some time later, the folder size was shown.

[2015-02-04 16:49] jnfrmarks opened #13898 ""Counting the entries failed" message when configuring LDAP"
### Steps to reproduce

1. Install owncloud
2. Enable LDAP
3. Go to admin page and fill out server tab for LDAP server
4. Click on user tab

### Expected behaviour

There should not be any errors or warnings displayed

### Actual behaviour

Get a warning and the warning does not timeout; I need to refresh the page for it to go away.

![p279](https://cloud.githubusercontent.com/assets/8480343/60447

[2015-02-04 16:51] PVince81 commented on #13755
Closing as duplicate then: https://github.com/owncloud/core/issues/12353

[2015-02-04 16:52] #13755 closed

[2015-02-04 16:52] PVince81 commented on #12353
Note that moving to WebDAV will also have the advantage to automatically use part files internally and solve concurrency issues like https://github.com/owncloud/core/issues/13755

[2015-02-04 16:59] PVince81 commented on #12353
Changing the whole file UI is a big task, so this should rather be done step by step:
- [ ] find/extend/develop JS lib for WebDAV access
- [ ] upload (regular upload for now, no chunking)
- [ ] download
  - [ ] single file
  - [ ] folder download (zip) if possible
- [ ] inject download/upload URLs for apps to use for load/save
- [ ] building the file list with PROPFIND
  - [ ] find attributes need

[2015-02-04 17:00] PVince81 commented on #12353
- [ ] read quota/available space value from the list PROPFIND instead of using "getstoragestats.php"

[2015-02-04 17:01] PVince81 commented on #12353
@DeepDiver1975 I'm not sure whether there's time for this in 8.1, but as said above we can split it in smaller pieces.

[2015-02-04 17:04] DeepDiver1975 commented on #10509
we can add a meaningful message as soon as we understand the issue - which requires analysis

[2015-02-04 17:05] PVince81 commented on #13876
A few points:
- mounting SMB on filesystem level will always be much faster than the PHP adapter/code that ownCloud uses (which wraps around the "smbclient" command line). If you can use FS level mount in your use case/setup, please do so
- scanning a huge folder might take a lot of time until it can tell the size. There is a risk that the PHP process runs into a timeout, so it might not continue

[2015-02-04 17:07] PVince81 commented on #13887
I think in general we'd like to move away from the "View" class and use the Node API instead.
But I'm not sure whether that one is usable "from the inside" of core.

[2015-02-04 17:09] icewind1991 commented on #13725
With a combination of #13893, #13896, #13899 and #13829 I managed to shave almost 60% of the time required to share a file with a group of a thousand users on my local instance.

There is still plenty of room for improvement left but it would be easier to first have the above PR's merged

[comparison](https://blackfire.io/profiles/compare/c4a03dd3-1dcd-44d2-a18f-fc1392d78a86/graph)

[2015-02-04 17:10] iliyasbasir commented on #13769
@MorrisJobke : why  closed issue i'm waiting for customer confirmed change ..make sure it's work for customer I'll close after customer verify

[2015-02-04 17:10] hugoboss2014b commented on #12145
My last backup of my owncloud installation is a month old, and the backup lasted 4 days.
I tried to install the patch from my installation directory of owncloud, but it asked me where 2 of the files is that shall be patched. I installed and deinstalled the patch several times and overwrote "/apps/files_sharing/" with the original installation files at the end. All Owncloud Clients now download eve

[2015-02-04 17:10] SergioBertolinSG opened #13900 "Ubuntu package using apache2 is installed in an old path"
### Steps to reproduce
Install owncloud package in Ubuntu >14.XX:

sudo sh -c "echo 'deb http://download.opensuse.org/repositories/isv:/ownCloud:/community:/8.0/xUbuntu_14.10/ /' >> /etc/apt/sources.list.d/owncloud.list"
sudo apt-get update
sudo apt-get install owncloud

### Expected behaviour
apache2 in this ubuntu version uses /var/www/html
Owncloud is located in /var/www/html/owncloud

### Actu

[2015-02-04 17:12] PVince81 commented on #13725
Wow, you rock! Let's get this in 8.1

[2015-02-04 17:14] PVince81 commented on #12145
@hugoboss2014b you could download the tarball your OC version (7.0.4?) and then copy the folder "file_sharing" back into your install.

How did you apply ? It should be `patch -p1 < patchfile.patch` inside the owncloud directory. If the patch doesn't apply it means you don't have the right OC version. That patch should apply on 7.0.4.

[2015-02-04 17:15] PVince81 commented on #12145
@bkerensa any news from you ? :smile:

[2015-02-04 17:15] SergioBertolinSG opened #13901 "owncloud-3rdparty dependency isn't satisfied"
### Steps to reproduce
Install owncloud package in Ubuntu

sudo sh -c "echo 'deb http://download.opensuse.org/repositories/isv:/ownCloud:/community:/8.0/xUbuntu_14.10/ /' >> /etc/apt/sources.list.d/owncloud.list"
sudo apt-get update
sudo apt-get install owncloud

### Expected behaviour
owncloud-3rdparty is installed as a dependency while installing owncloud.

### Actual behaviour
owncloud-3rdparty

[2015-02-04 17:17] LukasReschke commented on #13901
@jnweiger

[2015-02-04 17:18] PVince81 commented on #13763
I think it would be a good argument to start the "port web UI to WebDAV" task with the upload/download. I think these two don't need any special library so it should hopefully not be hard to do:
https://github.com/owncloud/core/issues/12353#issuecomment-72892922

[2015-02-04 17:19] PVince81 commented on #12353
- [ ] make sure upload still works in IE8 (it might be using a workaround for uploads)

[2015-02-04 17:20] karlitschek commented on #13900
@jnweiger Please have a look. Marking this as a showstopper

[2015-02-04 17:22] PVince81 commented on #13708
@davitol if something is a problem, please tag it as "Bug", not "Enhancement". The "Enhancement" tag is for new features or nice improvements

[2015-02-04 17:24] PVince81 commented on #13462
Ref: https://github.com/owncloud/core/issues/13640

[2015-02-04 17:24] MorrisJobke commented on #13898
I noticed this too on master. cc @blizzz

[2015-02-04 17:25] PVince81 commented on #13495
Good idea!

@owncloud/designers

[2015-02-04 17:25] karlitschek commented on #13898
@DeepDiver1975

[2015-02-04 17:35] PVince81 commented on #13117
It is possibly a bug, yes.

Do the file name + path of the image matches the name + path of the versions ?
If the path doesn't match it could be orphaned versions (versions not attached to any file)

[2015-02-04 17:36] #13644 closed

[2015-02-04 17:36] PVince81 commented on #13117
To answer your question: no, cron doesn't clean up versions.
As @schiesbn stated here https://github.com/owncloud/core/issues/13117#issuecomment-69013698, the versions will get cleant up the next time that file changes. Only the versions of that specific file will be cleant up, not for other files.

If that didn't happen for you when you did the "touch", then it is likely a bug.

[2015-02-04 17:37] SergioBertolinSG opened #13902 ".htaccess file comes inside a folder"
### Steps to reproduce
Install owncloud package in Ubuntu >14.XX:

sudo sh -c "echo 'deb http://download.opensuse.org/repositories/isv:/ownCloud:/community:/8.0/xUbuntu_14.10/ /' >> /etc/apt/sources.list.d/owncloud.list"
sudo apt-get update
sudo apt-get install owncloud

### Expected behaviour
owncloud/.htaccess is a file not a folder.

### Actual behaviour
owncloud/.htaccess is a folder with the

[2015-02-04 17:37] karlitschek commented on #13902
@jnweiger Wow. What is the problem here?

[2015-02-04 17:42] PVince81 commented on #12727
@stephane84 do you have time to look into this ?
I guess it should be a matter of using the same mechanism like "Default quota" to save the setting.

[2015-02-04 17:42] SergioBertolinSG opened #13903 "Problems with apps after installing ubuntu package."
### Steps to reproduce
Install owncloud package in Ubuntu >14.XX:

sudo sh -c "echo 'deb http://download.opensuse.org/repositories/isv:/ownCloud:/community:/8.0/xUbuntu_14.10/ /' >> /etc/apt/sources.list.d/owncloud.list"
sudo apt-get update
sudo apt-get install owncloud

Deal manually with #13900, #13901 and #13902 if they aren't fixed yet.

**Logs**
[code]

### Expected behaviour
Owncloud opens i

[2015-02-04 17:44] PVince81 commented on #12285
- [ ] display shares in "Shared with you" section: https://github.com/owncloud/core/issues/9098
- [ ] overview page of rejected shares: #13495

[2015-02-04 17:49] PVince81 commented on #9679
Are there other cases where "svg" might be used which isn't an icon ?

From what I understand you are suggesting to use the "icon-*" selector instead of "svg" when applying the workaround, is that correct ?

[2015-02-04 17:49] littlekid440 commented on #10005
The problem with this fix is that opencloud does not have access to the database IMAP uses to store password. This forces the email field to show up but it is effectively useless. Am I missing something?

[2015-02-04 17:54] Krypton25 commented on #13625
Did you install a client instance on the same computer as the server? I did that mistake, both were pointing to different folders.

data from the server was located in H:/MyName/files
The client synced files to H:/Myname/Owncloud

This means that for every change in the H:/Myname/Owncloud, the owncloud client on the server computer would "upload" data to the server https://localhost/Owncloud(=H:/M

[2015-02-04 17:54] karlitschek commented on #13903
@jnweiger

[2015-02-04 18:07] Naucum commented on #13625
``Did you install a client instance on the same computer as the server?``
I dont know what you mean exactly.
I supose you mean:
No, i didn t use client sync software for owncloud. Not on my laptop nor on server.  So i think the issue is another. In my case the exe file which i copied to the my userfolder didnt have exactly the same name. so duplication is also not given. (thats what i understood w

[2015-02-04 18:08] hugoboss2014b commented on #12145
I googled how to patch and did it this way:
patch < patchfile.patch

[2015-02-04 18:11] PVince81 commented on #12487
- [ ] stat cache (storage wrapper?) for external storage to avoid too many requests: #7910

[2015-02-04 18:13] Naucum commented on #13625
If it works with the new admin account would you please be so kind to explain the steps? It would be realy saving time instead of installing all new and fresh and upload again all files which are a lot!

[2015-02-04 18:14] PVince81 commented on #12461
8.1, 8.2 or backlog ? :smile:

[2015-02-04 18:17] PVince81 commented on #12001
Should we continue this discussion for 8.1 ?

[2015-02-04 18:18] rullzer commented on #12289
I was just thinking about this issue. Would this only be used by authenticated users? Or do we want a seperate capabilities url/view for unauthenticated users? So that instance A can ask Instance B if server2server sharing is even possible? If so that would require a bit more work in the capabilities section.

[2015-02-04 18:18] PVince81 commented on #12001
(or during 8.1 but implement in a later release)

[2015-02-04 18:19] hugoboss2014b commented on #12145
The Error is still the same: It want's to download everything again from the server, but not if it has done this already yesterday. And then in different folders it stay at the point 100% or short before 100% with different errors, that are acceptable for me, but not that it doesnt finish really. I could to the following: I could delete the .blabla hidden files from ownloud in the directory and re

[2015-02-04 18:20] PVince81 commented on #6409
There is a challenge with this. It's not only a matter of linking any editors/viewer.
The problem is that we need to be able to pass the correct download URL to the editor for it to be able to show the file read-only.

This could be added as extension of the new JS viewer API task: #13414

[2015-02-04 18:23] jnfrmarks opened #13904 "LDAP groups are being unchecked when navigating back and forth to the admin page"
### Steps to reproduce

1. Install owncloud
2. Enable LDAP
3. Go to admin page and configure the LDAP server to find users from multiple groups
4. navigate to users page
5. See all of the users and group names though no group numbers nor are the users in a group
6. Navigate back to the admin page and tab through the ldap configuration
7. Only one group is checked even though in step 3 multiple gro