[2015-12-12 22:12] RealRancor commented on #21168
I'm not sure if that will help if the database is already malformed but still worth a try:

https://doc.owncloud.org/server/8.2/admin_manual/configuration_database/db_conversion.html

[2015-12-12 23:23] tflidd commented on #20967
Ok, it took a bit longer. Problem was, that blackfire.io does not work on ARM. So I installed OC 8.2.1 on a virtual machine, with the same settings (Debian 8 system). There are still a lot of SQL queries.

Now, I run blackfire.io like @LukasReschke described (hopefully I understood correctly):
- Go to webinterface with developer-tools open
- upload 1 file via webinterface
- then get request as cUR

[2015-12-12 23:46] tflidd commented on #20967
small update: I uploaded directly via webdav and tried to trace it.
`blackfire curl -T /uploadfile http://oc-user:password@mydomain/remote.php/webdav/test/test/newfile`
The folders existed before, but it is a new file (no overwrite). The corresponding profile:
https://blackfire.io/profiles/64844ad7-c01b-45ac-a3b8-7fce9e547477/graph

[2015-12-13 00:41] kapcom01 commented on #21168
Wow! The conversion to mysql is completed and I see a HUGE difference! Everything syncs almost instantly! No errors at all! :smiley:

[2015-12-13 00:41] #21168 closed

[2015-12-13 07:59] RealRancor commented on #21168
Nice :-)

In general sqlite is not recommended, even with the smallest setup.

[2015-12-13 08:22] tigermick commented on #17713
I have this problem just with an external storage ...
Anyone have the same problem please ?

[2015-12-13 10:59] tflidd opened #21169 "[master] Call to a member function on null"
I cloned the latest commit (74de12c) from master, and tried to install owncloud (from Browser). I get this error:
[code]
System: Debian 8 (apache, mod_php)

[2015-12-13 11:05] tflidd commented on #21169
my fault, I forgot:
`git submodule update --init`

[2015-12-13 11:05] #21169 closed

[2015-12-13 12:16] tflidd commented on #20967
The OC\Files\Cache\Updater::update-function is responsible for a lot of queries (update mtime and size for all parent folders). I uncommented all the updates inside this function to have a benchmark for the file transfer. All the 1180 files (18 MB) are transferred in less than 90s (before >20 min).

In the `update()`-function were some changes for OC 9.0, so I set up the current master (74de12c),

[2015-12-13 13:28] godfuture opened #21170 "Allow downloading of files unzipped from share link"
Zipped downloads are not common for mobile useres. Users do not know (and do not want) to handle zipped files on their phone.

I would be happy, if files could be downloaded as single file.

[2015-12-13 17:38] dragon2611 opened #21171 "Large file on CIFS backend get truncated when downloading from sharing link"
Steps to reproduce

Share a 4.1GB+ file that's located on an CIFS share via the owncloud webUI

No exceptions in log

Actual behaviour

When downloading via share link, file is truncated to ~120MB (Web interface reports correct size) yet the owncloud user who the file belongs to can browse to it and download it from the web interface without issue, problem only seems to manifest itself when access

[2015-12-13 17:47] LukasReschke commented on #20967
Helpful traces. Thanks a lot, @tflidd :rocket: :smile: :+1:

[2015-12-13 17:47] LukasReschke commented on #20967
@icewind1991 Care to take a look? THX

[2015-12-13 17:59] dragon2611 commented on #21171
I tried creating several large test files and it looks like something has a problem with files at 4GB+ I think this file just happened to be right on a limit.

The problem affects the web interface rather than just the sharing module.

Files slightly over 4GB tend to truncate, I expect some kind of wrapping occurring as it depends on how much over 4GB the files are depending on what size download

[2015-12-13 21:02] martin-rueegg opened #21172 "OCS v2.draft1 comments overview"
hi @karlitschek
as suggested, i opened an issue with my comments regarding your [OCS v2 draft 1 specification](http://www.open-collaboration-services.org/ocs/ocs2-draft1.html) (as retrieved on 12.12.2015).

hoping that this will help keeping the overview while discussing the draft, i will spilt the issue into several sub-issues. this issue here shall be an umbrella issue and host the general discu

[2015-12-13 21:25] jospoortvliet commented on #106
/me just occasionally likes to kick @orion1024 to get some status info :innocent:

[2015-12-13 21:37] martin-rueegg commented on #21172
On Dec 12, 2015, at 17:07, metaworx - Martin Rüegg wrote:

hi frank

i had the idea of implementing some oc2oc replication in order to keep two sites (partially) in sync. i did not find out, if federated sharing is actually doing that already, but i assume it is more an relayed access. so as soon as that share is unshared, the files are no longer available in the receiving site.

anyway, i came ac

[2015-12-13 21:47] tigermick opened #21173 "Owncloud Android App can't see Thumbnails of images located on some external storage in 8.2.1- 8.2.2 - 9.0.0"
Steps to reproduce :

    Browse photo directories in external storage in Owncloud official app 1.9.0
        Only placeholder is shown
        Not Thumbnails in external storage on official android app - Works fine directly from web browser (Like Firefox)
        Thumbnails work fine out of the external storage on official android app
        Thumbnails work fine in external storage with Web brow

[2015-12-13 21:48] martin-rueegg opened #21174 "OCS v2.draft1: text errata"
`remark:` this issue is regarding the regarding the [OCS v2 draft 1 specification](http://www.open-collaboration-services.org/ocs/ocs2-draft1.html). please refer to [OCS v2.draft1 comments overview](https://github.com/owncloud/core/issues/21172) for further information.
- [ ] in the section [Accessing shared files](http://www.open-collaboration-services.org/ocs/ocs2-draft1.html#accessing-shared-fi

[2015-12-13 22:13] orion1024 commented on #106
We said no kicks :)

I've been at nearly full throttle for the past month, so if everything goes as planned you will hear from me around new Eve.
Finger crossed !

[2015-12-13 22:51] martin-rueegg opened #21175 "OCS v2.draft1: status codes"
`remark:` this issue is regarding the regarding the [OCS v2 draft 1 specification](http://www.open-collaboration-services.org/ocs/ocs2-draft1.html). please refer to [OCS v2.draft1 comments overview](https://github.com/owncloud/core/issues/21172) for further information.

reading the specification, i got sometimes confused if the mentioned status code refers to a [http status code](http://www.iana.

[2015-12-13 23:28] plastilincheg opened #21176 "Empty Admin function after update to version 8.1.4-12.1"
Hello. Cannot find any owncloud settings after update.

[2015-12-13 23:29] karlitschek commented on #21176
the best places to ask this questions are listed here owncloud.org/support
Thanks a lot.

[2015-12-13 23:29] #21176 closed

[2015-12-14 00:19] martin-rueegg opened #21177 "OCS v2.draft1: alternative service discovery"
`remark:` this issue is regarding the regarding the [OCS v2 draft 1 specification](http://www.open-collaboration-services.org/ocs/ocs2-draft1.html). please refer to [OCS v2.draft1 comments overview](https://github.com/owncloud/core/issues/21172) for further information.
# alternative service discovery

the service discovery is currently based on two informations:
1. the instance base URI (e.g. `ht

[2015-12-14 04:05] karlitschek commented on #21164
the latex build script gives me this output:

ing/index'
/root/releasescripts/temp-docucheckout/documentation/admin_manual/contents.rst: WARNING: toctree contains ref to nonexisting file 'enterprise_firewall/index'
/root/releasescripts/temp-docucheckout/documentation/admin_manual/configuration_server/config_sample_php_parameters.rst:: WARNING: unusable reference target found: ldap:show-remnants
IO

[2015-12-14 07:59] elpraga opened #21179 "Make the address bar dissappear on Google Chrome Android to save space on the screen"
Some of the owncloud apps are very usable even on mobile phones in the web interface of ownCloud (like Tasks), but the address bar of Google Chrome never disappears (opposed to dissappearing on other pages when scrolling down).

On mobile phones it does make a big difference as it takes up much valuable space on the screen.

Is there a way to make it hide?

[2015-12-14 08:18] elpraga commented on #21179
I found someone trying to address an oposite issue, but it might help. Please note, I cannot write code, so unfortunatelly, I cannot provide a solution..

http://stackoverflow.com/questions/25298443/force-address-bar-to-show-in-mobile-chrome-app
[code]

[2015-12-14 09:12] LukasReschke commented on #20805
@washaqq Can you add a `var_dump($files_list); exit();` in front of https://github.com/owncloud/core/blob/v8.2.1/apps/files_sharing/lib/controllers/sharecontroller.php#L274 in the file `apps/files_sharing/lib/controllers/sharecontroller.php`?

Then try to access the share in your browser and please let us know what the returned value is.

[2015-12-14 09:25] #20839 closed

[2015-12-14 09:32] timreeves commented on #20509
As some other issues have noted, this problem still exists on Upgrade from 8.1.4 to 8.2.1:
`Exception: {"Exception":"RedisException","Message":"protocol error, got 'E' as reply type byte\n","Code":0,"Trace":"#0 /var/www/vhosts/.../lib/private/memcache/redis.php(74): Redis->get('49ce4a2952d33ce...')\n#1 /var/www/vhosts/.../lib/autoloader.php(150): OC\Memcache\Redis->get('OCP\\App')\n#2 [internal fu

[2015-12-14 09:39] DeepDiver1975 commented on #20047
Will be added soonish ....

already there - https://github.com/owncloud/core/blob/master/apps/dav/lib/server.php#L78-L84

[2015-12-14 09:50] martin-rueegg opened #21180 "OCS v2.draft1: provider service list"
`remark:` this issue is regarding the regarding the [OCS v2 draft 1 specification](http://www.open-collaboration-services.org/ocs/ocs2-draft1.html). please refer to [OCS v2.draft1 comments overview](https://github.com/owncloud/core/issues/21172) for further information.
# the provider service list (PSL)
## versioning

the OCS specification [states](http://www.open-collaboration-services.org/ocs/oc

[2015-12-14 09:56] PVince81 commented on #16709
It's fixed with https://github.com/owncloud/core/pull/20160 on master and will be backported to 8.2.2.

[2015-12-14 09:56] #16709 closed

[2015-12-14 09:58] SergioBertolinSG commented on #19571
Just tried with stable8.1, no problem found.
The request points to
index.php/apps/encryption/ajax/changeRecoveryPassword
and returns 200.

[2015-12-14 10:06] PVince81 commented on #20670
@kapcom01 try first deleting the config in the GUI, then delete 6, 7, 8 and 12.

[2015-12-14 10:06] PVince81 commented on #20670
and then reconfigure Dropbox

[2015-12-14 10:51] PVince81 commented on #21179
@owncloud/designers

[2015-12-14 10:52] PVince81 commented on #21173
Can you tell us more about that external storage ? What kind is it ?

@georgehrke @oparoz any idea regarding the previews on external storage ?

[2015-12-14 10:53] PVince81 commented on #21171
Is your server running on a 32-bit server or 64-bits ?

CC @icewind1991

[2015-12-14 10:54] MorrisJobke opened #21183 "Mounting an external storage for a specific user shows error for other users"
cc @Xenopathic @icewind1991

![bildschirmfoto 2015-12-14 um 11 53 33](https://cloud.githubusercontent.com/assets/245432/11779098/6101f15a-a259-11e5-9b68-9daa15c5921f.png)

Login as user `abc` shows me following (after clicking on the red row)

<img width="1083" alt="bildschirmfoto 2015-12-14 um 11 53 51" src="https://cloud.githubusercontent.com/assets/245432/11779116/7315e86a-a259-11e5-93dd-cb3008

[2015-12-14 10:55] MorrisJobke commented on #21183
Noticed with 96b2838

[2015-12-14 11:00] PVince81 commented on #21170
This is not technically possible because browsers don't support delivering more than one file on download. So the server can only deliver single files for downloads, so to be able to download a folder it has to be zipped/tarred.

Well, in theory a download could be triggered for every file inside the folder, but then the user will receive the dialog "save as" for EVERY file. Imagine getting this d

[2015-12-14 11:00] #21170 closed

[2015-12-14 11:01] PVince81 commented on #21165
From what I remember it last time I tried it did resume, so maybe there's a bug.

@schiesbn please have a look

[2015-12-14 11:03] PVince81 commented on #21158
For people who used the web installer, they should upgrade using the updater app.
Now if you say that there are permissions issue, maybe the web installer did not set permissions properly ?

@VicDeo

[2015-12-14 11:16] RealRancor commented on #19193
Mhhh, maybe @PVince81 can help to ping the people.

[2015-12-14 11:17] VicDeo commented on #21158
@PVince81
true. But there is  https://github.com/owncloud/updater/pull/192 that is to be released with 8.2.2

@bah0071 might be  a duplicate of  https://github.com/owncloud/updater/issues/189

[2015-12-14 11:20] dragon2611 commented on #21171
It's a 64bit ubuntu 14.04 LXC container.

[2015-12-14 11:23] tigermick commented on #21173
In my server, Owncloud is in /var/www/ and I have a media folder in /media/
I use external storage application to add my media folder in my owncloud but this is just a local folder.
All works fine with web owncloud interface ...
If I browse photo directorie in external storage with web owncloud interface and immediatly after, I browse too with android official app in the same photo directorie, thu

[2015-12-14 11:31] martin-rueegg opened #21185 "OCS v2.draft1: FEDERATED_SHARING service"
`remark:` this issue is regarding the regarding the [OCS v2 draft 1 specification](http://www.open-collaboration-services.org/ocs/ocs2-draft1.html). please refer to [OCS v2.draft1 comments overview](https://github.com/owncloud/core/issues/21172) for further information.

# [`FEDERATED_SHARING`](http://www.open-collaboration-services.org/ocs/ocs2-draft1.html#federated_sharing) service (FSS)
(source

[2015-12-14 11:39] DeepDiver1975 commented on #20296
since we don't yet have an agreement on how to continue (see #21067) we better push this to the next maintenance release cycle - leaving aside that we still did not yet discuss the backportability ...

[2015-12-14 11:39] DeepDiver1975 commented on #20296
@karlitschek @cmonteroluque @MTRichards

[2015-12-14 11:45] ronbailer commented on #20329
Same issue happens in OC 8.2.1 :-(

Any news about this?

[2015-12-14 12:23] PVince81 commented on #19193
Duplicate of https://github.com/owncloud/core/issues/14127

[2015-12-14 12:23] #19193 closed

[2015-12-14 12:28] PVince81 commented on #21173
@tigermick okay, so you used the external storage of type "Local". Thanks

[2015-12-14 12:31] PVince81 commented on #20329
@schiesbn can you have a look ?

@icewind1991 is that the update detection issue ?

[2015-12-14 12:32] mbcladwell opened #21186 "Failed 8.0.2.0 to 8.2.1 upgrade"
Exception: Updates between multiple major versions and downgrades are unsupported.
How do I upgrade to 8.1?
How can I roll back to 8.0.2?  I can change the 'version' and 'maintenance' entries in the config but no combination allows me to get back to 8.0

[2015-12-14 12:35] tigermick commented on #21173
Yes

[2015-12-14 12:39] rullzer opened #21187 "Shared with others show create permissions for files"
![foo](https://cloud.githubusercontent.com/assets/45821/11781132/dd21473c-a267-11e5-82b6-5c930bd100ff.png)

When you share a file and move to the 'shared with others' page and then click on the share icon you can edit the share permissions as expected.

However, you can now again set create permissions for files (Which do not mean anything).

CC: @PVince81

[2015-12-14 12:42] PVince81 commented on #21187
even after your fix ?!

[2015-12-14 12:46] PVince81 commented on #21186
How did you upgrade ? Package manager, updater app, manually extract tarball ?

[2015-12-14 12:50] danger89 commented on #20967
Top 3 bottleneck update-queries:
[code]

[2015-12-14 12:54] stonerl opened #21188 "Precompile Assets Cache"
Since I read about WD teaming up with ownCloud using a RasPi, one thought came into my mind. When enabling the asset-pipeline ownCloud's WebUI does significantly speed up and gets much snappier. The problem though, generating these assets can take a significant amount of time, especially on a Pi.

Would it be somehow possible to precompile assets during an instance update or via an ```occ``` comma

[2015-12-14 12:54] icewind1991 commented on #20967
9.0 should have less `UPDATE `oc_filecache` SET `mtime` = ?, `etag`=?` queries already

I have an idea how to reduce the number of `UPDATE `oc_filecache` SET `size`=?` queries which I'll try to implement when I have the time

[2015-12-14 12:55] rullzer commented on #21187
yes, because this page does not get the info from webdav

[2015-12-14 12:57] rullzer commented on #21187
PR is on the way!

[2015-12-14 12:57] PVince81 commented on #20805
@cmonteroluque ticket was deferred to 8.2.3 because it is not reproducible yet and it is not clear whether it's an environment issue or a bug.

[2015-12-14 12:58] alexweirig commented on #20405
Hello,

thanks for the feedback on the group admin feature. Looking forward to see what your plans are.

---

The code to support dynamic LDAP groups is ready and deployed on our production system.

We'll commit the code to github on Wednesday. We've implemented the LDAP logic and also updated the LDAP configuration wizard to enable (disabled by default) this feature and to provide the LDAP attrib

[2015-12-14 13:03] PVince81 commented on #21138
@icewind1991

[2015-12-14 13:05] rullzer commented on #21187
PR in #21189

[2015-12-14 13:11] Xenopathic commented on #21183
cc @jmaciasportela

[2015-12-14 13:15] jmaciasportela commented on #21183
@MorrisJobke  Why If the mount is only available for mjob is in the file list of abc user?

[2015-12-14 13:20] PVince81 commented on #21188
@DeepDiver1975 @icewind1991 what do you think ? Maybe an occ command ?

[2015-12-14 13:20] mbcladwell commented on #21186
Updater app.

[2015-12-14 13:24] PVince81 commented on #21186
@VicDeo does the updater app skip versions ?

You probably had the updater app from 8.0.2 which is quite old and might still skip versions.

[2015-12-14 13:25] PVince81 commented on #21186
The workaround for now is to download the owncloud 8.1.4 tarball and then install it manually: https://doc.owncloud.org/server/8.1/admin_manual/maintenance/manual_upgrade.html#manual-owncloud-upgrade

and then continue from there.

[2015-12-14 13:27] icewind1991 commented on #21188
The problem would be knowing which assets to generate, unless we want to manually define a list we would need to do something like iterating over all registered routes and check which assets are loaded for each

[2015-12-14 13:29] icewind1991 commented on #21138
https://github.com/owncloud/core/issues/20555 probably

[2015-12-14 13:30] mbcladwell commented on #21186
OK I will give that a try.  Isn't the error misleading? This is not a major upgrade.
Thanks

[2015-12-14 13:41] nextgens commented on #20012
This is also a problem for reverse-proxied setups when the proxy does the SSL termination...
I've updated my .htaccess locally to redirect to the absolute URL

[2015-12-14 13:46] PVince81 commented on #21186
It is a major upgrade, since 8.1 the second digit is considered major too, see https://owncloud.org/blog/owncloud-release-model-changes/

[2015-12-14 14:05] VicDeo commented on #21186
@mbcladwell >Updates between multiple major versions and downgrades are unsupported.

means that your system left untouched.

[2015-12-14 14:08] MorrisJobke commented on #21183
That is the question ;)

[2015-12-14 14:08] VicDeo commented on #21186
@PVince81

it is pretty stupid and downloads what is it told to download. See https://github.com/owncloud/appstore-issues/issues/4#issue-39099299

[2015-12-14 14:27] DeepDiver1975 commented on #21188
It is not really possible - the set of compiled assets is different for each page which is loaded.
We would need to generated them for a bunch of urls - which is a high configuration effort.

Furthermore the assets have to be *potentially* regenerated after each app being enabled/disabled and so on.

The approach will be highly error prone ....

[2015-12-14 15:00] oparoz commented on #21173
We've heard of this problem before. It sounds like the endpoint used by the Android API does not trigger the preview generation mechanism. Maybe a missing hook or the thumbnails API is calling the wrong Preview method?

[2015-12-14 15:08] SergioBertolinSG commented on #20681
Not working with https://github.com/owncloud/core/issues/20681#issuecomment-163936186 patch either.

[2015-12-14 15:18] SergioBertolinSG commented on #20681
Logs:
![screen shot 2015-12-14 at 16 16 39](https://cloud.githubusercontent.com/assets/9048796/11784725/3efc16ec-a27e-11e5-95a6-6a19fc3a70d7.png)

[2015-12-14 15:21] mmattel commented on #21147
@MorrisJobke FYI: I have started to improve files:scan a bit by showing statistics, see #19717
A documentation PR is also present for.
Note: At least where I tested the statistics PR, the hooks for files/directories showed the need to be improved because directories were additionally counted as files which IMHO should not be. Not really related to the PR but over all the numbers should be right.

[2015-12-14 15:27] PVince81 commented on #20681
Thanks. When using "add to ownCloud" it uses a hash in the URL: "#".
But for some reason it seems Safari doesn't parse it.

@SergioBertolinSG can you try again with the latest patch ? (just pull that branch)

[2015-12-14 15:34] SergioBertolinSG commented on #20681
New logs
![screen shot 2015-12-14 at 16 33 36](https://cloud.githubusercontent.com/assets/9048796/11785146/8f322492-a280-11e5-9801-bd20f83f9cbc.png)

[2015-12-14 15:40] lavrentivs commented on #16162
For large amounts of files I believe that something in the line of https://en.wikipedia.org/wiki/Merkle_tree might be a good idea.
I had an instance of owncloud running on a really tiny machine (ie, VPS with 512 MB of RAM and 1 core) with a lot of files (160445) and the initiation of the client sync was horribly long. From reading the solutions proposed here I'm afraid that verifying what needs to

[2015-12-14 15:44] PVince81 commented on #20681
Okay... so the URL hash is empty, that's not good.

On IRC @SergioBertolinSG told me that after entering the URL in "Add to ownCloud" the user had to login. @SergioBertolinSG @davitol can you try again with a user who is already logged in?
Also, when the login prompt appears, what URL is displayed ? Does it contain a "#" part ?

I suspect that the redirect might be discarding the hash.

[2015-12-14 15:54] PVince81 commented on #20681
@SergioBertolinSG @davitol do you observe the same problem with IE8 and IE9 when the login redirect happens ? I have the feeling that all these browsers are discarding the hash part in the login redirect, so we lose information...

[2015-12-14 16:05] PVince81 opened #21196 "Public link page not working in IE9 with Webdav"
### Steps

1. Setup IE9 in a VM
1. Set trusted domain to "192.168.56.1"
1. Login in the VM
1. Create a folder "test"
1. Share "test" with link
1. Open link (still in the VM)

### Expected result
File list shown

### Actual result
Endless spinner and "security error":
![ie9-sec-problem](https://cloud.githubusercontent.com/assets/277525/11786016/a6cd53ca-a284-11e5-976d-8fae8242ee84.png)

I tried log

[2015-12-14 16:07] PVince81 commented on #20681
Hah... I knew it... Same problem with IE9.
The important part is that the user must NOT be logged in to trigger the login redirection.

[2015-12-14 16:24] PVince81 commented on #21196
Okay, so looks like IE9 is mistakenly thinking that we're doing a cross-domain operation here:
![ie9-sec-problem](https://cloud.githubusercontent.com/assets/277525/11786551/8593a436-a287-11e5-98b2-39caa7249958.png)

[2015-12-14 16:25] PVince81 commented on #21196
Okay, so looks like IE9 is mistakenly thinking that we're doing a cross-domain operation here:
![ie9-false-cross-domain](https://cloud.githubusercontent.com/assets/277525/11786579/a0a2074a-a287-11e5-98d3-e3dc1e09eacc.png)

[2015-12-14 16:27] PVince81 commented on #21196
Maybe we should send an Authorization header instead, as suggested here http://zinoui.com/blog/ajax-basic-authentication

But then for that we need the function `btoa` which isn't available in IE9 :rage:

[2015-12-14 16:42] MorrisJobke commented on #15567
Let's repeat the game :) What is the status? Did you collect all the feedback yet?

[2015-12-14 16:44] jancborchardt commented on #21179
@elpraga since you have a code sample ready, maybe directly prepare a pull request? :)

Also relevant for this is hiding the header automatically on scrolling down, and showing it again on scrolling up: https://github.com/owncloud/core/issues/7826

[2015-12-14 16:52] PVince81 commented on #21196
Fix is here https://github.com/owncloud/core/pull/21200

[2015-12-14 17:09] PVince81 commented on #20681
One possible solution for this would be to change the way how we pass the arguments.
For example we could serialize them to JSON and then cram them into a single real URL parameter "incomingshare=$theCrammedData" instead of using a hash at all.

But then we got the following problem: how to discard it from the URL after processing to make sure a page reload won't retrigger it ? In proper browsers

[2015-12-14 17:30] PVince81 commented on #20681
@davitol @SergioBertolinSG can you test if it works when the receiving user is already logged in ? If it does it will confirm my theory. And for that there is no possible quickfix in the scope of a maintenance release.

[2015-12-14 19:29] yannick67 commented on #20044
have you got a solution ? I have the same problem

[2015-12-14 19:53] yannick67 opened #21203 "Shared folder doesn't display all files"
Step
1 : upload 25 files in a folder via web
2 : share the folder with external link
3 : click on the link and open it in IE11

No exceptions in log

Actual behaviour

only a few (depend of the resolution) files appear and the scrool bar don't work, this append only on ie11, with Filezilla or another navigator it is ok.

Server configuration

Operating system:
Ubuntu
VMX file image on the owncloud

[2015-12-14 20:01] karlitschek opened #21204 "anonymous files upload broken"
ownCloud 8.2.0
When I share a folder with a link and edit right anonymous upload should be possible.
The upload button exists but the file is not uploaded.
Can be reproduced on demo.owncloud.org and S3

[2015-12-14 20:01] RealRancor commented on #21203
Hi,

when reporting issues please take your time and use the issue template as asked in the gudelines for contributing (linked in the yellow box when creating a new issue).

[2015-12-14 20:40] cmonteroluque commented on #19516
ok, this should be resolved. Hoping to see the result with the daily builds and the RC1 @carlaschroder @karlitschek

[2015-12-14 20:40] PVince81 opened #21205 "SMB clear local stat cache on upload/fopen/write"
@icewind1991 please have a look, I found that there is no mechanism to clear `$this->statCache` for the current file when doing a fopen.

Maybe need the close wrapper ?

CC @jmaciasportela

[2015-12-14 20:44] karlitschek commented on #19516
nice :-)

[2015-12-14 20:58] RealRancor commented on #21204
@karlitschek That should be a dup of https://github.com/owncloud/core/issues/19922 which got fixed with 8.2.1

[2015-12-14 21:01] #21204 closed

[2015-12-14 21:15] carlaschroder commented on #19516
Yay!

[2015-12-14 21:22] yannick67 commented on #20372
i make the update 8.2.1, but this problem persist with ie 11.

[2015-12-14 21:38] gig13 opened #21206 "How to configure multiple Domains for External Storage SMB/CIFS?"
### Expected behaviour

Configure Users for External Storage using multiple Domains
### Actual behaviour

Only one Domain is listed in the External Storage configuration section
### Server configuration

**Operating system**: RHEL

**Web server:** Apache

**Database:** MySQL

**PHP version:** 5.5

**ownCloud version:** 8.2.1

**Updated from an older ownCloud or fresh install:** Updated

**Are you

[2015-12-14 22:13] Xenopathic commented on #21206
What are the steps to reproduce? I just configured two SMB storages with different domains and both are saved (and later retrieved) correctly. Using ownCloud master as of now

[2015-12-14 22:32] jensdoecke commented on #12193
I have the same problem since owncloud client 1.8.x.
The error is only on my Ubuntu 14.04 Notebook with both server setups.
My Windows PC has no problems with any of the ownCloud server.

1st Server Setup: CentOS 6, owncloud 8.2 (shared hosting on uberspace)
2nd Server Setup: ?, owncloud 8.2 (shared hosting on all-inkl)

In the ownCloud client log is no more information, than connection closed/ope

[2015-12-14 23:04] gig13 commented on #21206
@Xenopathic
Can we have one storage with multiple domains? We have 5 domains to setup, which would mean 5 configs...

[2015-12-14 23:17] tigermick commented on #21173
How to i can correct this problem ?

[2015-12-14 23:59] Xenopathic commented on #21206
@gig13 Could you elaborate on what you mean by multiple domains? Do you mean one external storage should be accessible to multiple users, which are in different domains (via LDAP)?

[2015-12-15 01:13] gig13 commented on #21206
@Xenopathic
We have users over about 5 different domains with multiple users over domains per share. I was hoping there was a way to query ldap for the users domain and use that for the authentication.

[2015-12-15 06:49] rullzer commented on #20787
Updated the list

Basically we see more and more packages drop php 5.4 support.

[2015-12-15 07:39] PVince81 commented on #21205
https://github.com/owncloud/core/blob/v8.2.1/apps/files_external/lib/smb.php#L190 no stat cache is cleared here

[2015-12-15 07:43] SergioBertolinSG commented on #20681
@PVince81 Yes, you were right, being logged in it works correctly. (Safari 7)

[2015-12-15 09:04] PVince81 commented on #20681
@cmonteroluque there is no possible quickfix for 8.2.2. See https://github.com/owncloud/core/issues/20681#issuecomment-164497262

The problem is an old problem that has only been discovered now: IE8, IE9 and Safari <= 8 automatically removes the hash part of the URL # on redirect. Redirect happens whenever the user needs to login (redirect to login page) before accepting the share. A possible rewo

[2015-12-15 09:45] etiess opened #21212 "[Share with users, groups] Should not be accent sensitive"
As mentionned here for the client (https://github.com/owncloud/client/issues/4286), sharing a file/folder with users/groups is accent sensitive, while I think it should not.

Step to reproduce to share a file with a user called "frédéric" :
1. Share a file on the web interface
2. In the box, start entering the name of this user: "fred..."
4. The name Frédéric should be proposed, but it's not.

In

[2015-12-15 09:56] dinkonin opened #21213 "Unknown error browsing external Webdav folders, containing files with special characters."
ownCloud 8.2.1 (stable).
Centos 7

When browsing external webdav mounted storage , if a directory contains a file with "+" in its name for example "test+test.txt". Owncloud shows "Unknown error" and does not open the folder . If the file is renamed there's no problem.

This is shown in the log:Exception: {"Exception":"Sabre\HTTP\ClientHttpException","Message":"Not Found","Code":404,"Trace":"#0 \/v

[2015-12-15 09:58] yannick67 commented on #21203
i found a workaround but it is not professionnal ...
in the styles.css a put a value (7000px) for content.height ang content-wrapper.height and then all files is list in IE.

[2015-12-15 10:13] PVince81 commented on #21213
@dinkonin what kind of Webdav server are you connecting to ? Is it another ownCloud instance of maybe an Apache Webdav (mod_dav) module ?

[2015-12-15 10:16] PVince81 commented on #21212
@etiess are you using LDAP or the default user backend (database-based) ?

[2015-12-15 10:17] PVince81 commented on #21206
So if I understand well, having an "auto-detect user domain" way, that depends on which user is currently accessing the storage ? Potentially similar to the `$user` variable ?

[2015-12-15 10:18] PVince81 commented on #21206
backlog for now until the requirement is clarified

[2015-12-15 10:21] PVince81 commented on #21203
@Henni didn't we fix that recently ? I can't find any commit between v8.2.1 and stable8.2 so maybe it's yet another issue with the public template ?

[2015-12-15 10:23] yannick67 commented on #21203
i found this commit with the same bug
https://github.com/owncloud/core/issues/19886
but this change nothing with IE 11

[2015-12-15 10:24] PVince81 commented on #21203
@yannick67 okay, then maybe IE11 needs a more specific fix. What would we do without IE's usual pickiness ?

@yannick67 so other browsers work fine ?

[2015-12-15 10:24] etiess commented on #21212
The default user backend.

[2015-12-15 10:25] yannick67 commented on #21203
yes other browsers work fine thanks

[2015-12-15 10:26] dinkonin commented on #21213
@PVince81 It's Apache WebDev running on a NetGear ReadyNas 102, when i mount it or open it in a browser there's no problem.

[2015-12-15 10:27] PVince81 commented on #21212
@blizzz @icewind1991 do you know if there is code to discard accents in PHP ?
I'm surprised that @etiess said that an "i" with accent gets automatically converted. This shouldn't happen if the database has the proper collation.

The discarding of accents should be fixed to be done on PHP side, if not already.

[2015-12-15 10:27] MorrisJobke commented on #21206
cc @MTRichards for this feature request

[2015-12-15 10:29] PVince81 commented on #21213
Okay, thanks. Maybe some extra encoding needs to be done for "+" signs. Some servers automatically convert "+" to spaces...

[2015-12-15 10:42] PVince81 commented on #21203
@Henni can you have a look ? Thanks.

[2015-12-15 10:55] etiess commented on #21212
@PVince81 Sorry, I made a mistake about "í". In fact, it finds the user because his ID doesn't have the accent. I tried with another "í" in the name, and it doesn't find it if I use a "i". So the behaviour is, as expected, the same as "é". I edit the issue.

[2015-12-15 10:58] PVince81 commented on #19571
@danielkoch do you have any external storages ? I'm still wondering about that 503... it shouldn't even be possible to happen with this code path. Some 503 are thrown by unavailable external storages, so I wonder if this is what is happening here.

[2015-12-15 10:58] PVince81 commented on #21212
Cool, thanks. At least it's logical now :smile:

[2015-12-15 10:58] schiesbn commented on #19571
Still have no idea how to get a 503 in this case. I also tried to manipulate the recovery key to cause a decryption error while decrypting the recovery key with the old password but even then you get a defined error message that ownCloud couldn't decrypt the key.

[2015-12-15 10:59] PVince81 commented on #21212
@etiess how did you manage to create the user "frédéric" ? The users page doesn't let me use special characters. Or are you talking about the display name ?

[2015-12-15 11:00] etiess commented on #21212
I'm talking about the display name. Indeed, I can't use accent in the ID.

[2015-12-15 11:01] PVince81 commented on #19571
@danielkoch okay, I see your report doesn't have files_external enabled.
It is still strange that you don't have anything in the log. Did you try setting "loglevel" to 0 ?
Also you might be able to find some clues inside the HTML page that is returned for the ajax call, it might contain a more detailed error message / stack trace ?

[2015-12-15 11:02] etiess commented on #21212
In fact, in order to test different configuration, I created this user:
- ID : test
- Name : Déídé le Clown

[2015-12-15 11:02] Xenopathic commented on #21206
@gig13 The 'domain' parameter is optional, you might want to try configuring the storage without specifying the domain.

[2015-12-15 11:14] blizzz commented on #21212
I'm surprised that @etiess said that an "i" with accent gets automatically converted. This shouldn't happen if the database has the proper collation.

PHP side does not help us, since the search happens at DB level (local users).

[2015-12-15 11:20] PVince81 commented on #21212
Hmmmm, true that...

[2015-12-15 11:45] Henni commented on #21203
@PVince81 yes we fixed this. But it seems like I broke it again in https://github.com/owncloud/files_pdfviewer/pull/87

Thus this bug should only occur if the pdfviewer app is enabled. Can you please confirm this @yannick67?

[2015-12-15 12:02] icewind1991 commented on #21183
Can't reproduce, can you check the content of `oc_mount_applicable`

[2015-12-15 12:18] #20296 closed

[2015-12-15 12:18] #21187 closed

[2015-12-15 12:25] cmonteroluque commented on #20681
@PVince81 makes sense. Thanks!

[2015-12-15 12:27] yannick67 commented on #21203
@Henni I test with pdfviewer app disable and the bug persist.

[2015-12-15 12:29] icewind1991 commented on #21083
Fix is here #21215

[2015-12-15 12:36] Henni commented on #21203
I'm currently not able to test on IE11.
Could someone else take over @owncloud/designers ?

[2015-12-15 12:47] yannick67 commented on #21203
By changing the value in  /owncloud/core/css/styles.css for "content.height: auto;" all files are list in the windows

[2015-12-15 13:11] blizzz commented on #21212
On a DB level it's also possible to deal with it, but startpaging it reveals that the different RDBMs have different ways to do it, which makes this pretty ugly. [MySQL](http://stackoverflow.com/a/8649500/4174863), [Oracle](https://community.oracle.com/message/1313448#1313448).

[2015-12-15 13:29] icewind1991 commented on #21205
Fix is here: https://github.com/owncloud/core/pull/21216

[2015-12-15 13:56] Henni commented on #21203
Setting the height of content to auto actually solves the issue.
This is because IE11 doesn't recognize the property `initial`.

@yannick67 would you like to create a pull-request for this?

[2015-12-15 13:57] MTRichards commented on #21206
@gig13 if you can try the @Xenopathic option, great.

[2015-12-15 13:58] yannick67 commented on #21203
If it can help other users yes.

Yannick Eckert

Service Informatique
Mairie de Bischwiller
9 Place de la Mairie - BP 10035
67241 BISCHWILLER Cedex
Ligne directe : 03.88.53.75.20
Fax : 03.88.63.52.12
E-mail : yannick.eckert@bischwiller.com<mailto:yannick.eckert@bischwiller.com>

http://www.bischwiller.com
http://www.cc-bischwiller.fr

Le 15 déc. 2015 à 14:56, Hendrik Leppelsack <notifications@gith

[2015-12-15 14:10] fgenellini commented on #20484
sorry, there is a workaround for it to look good in the shared users?

[2015-12-15 15:24] PVince81 opened #21219 "SMB storage must throw StorageNotAvailable in specific cases"
@icewind1991 @jmaciasportela make the SMB storage throw StorageNotAvailableException in case of timeouts or when the remote server does not identify as a SMB server, or the credentials have changed.

Do not throw it for other exceptions like ForbiddenException.

[2015-12-15 15:27] MrGraversen commented on #20963
Well, so much for "PHP 7 Is Here And ownCloud Is Ready"... any news on the issue?

[2015-12-15 15:30] tflidd commented on #20967
Are there plans for a bulk upload?
It is not efficient to recalculate the folder size several times per second just to upload the next tiny file. And the resulting upload time is too long.

Taking my 1200 files with a total size of 18MB, it would take less than 1 minute to upload these files directly via FTP. At this point it takes more than 20 minutes. For OC9, there are some improvements, but it

[2015-12-15 15:42] VicDeo commented on #19036
@LukasReschke what is our policy for unsigned apps?
To be exact for 9.0. And what if integrity is broken - report to user and ask `Do you want to proceed on your peril?`

[2015-12-15 16:07] enoch85 commented on #20963
@MrGraversen ownCloud works with PHP 7, just download the VM and give it a try. ;) You could get it working with ownCloud with some hacking in Ubuntu.

[2015-12-15 16:39] oparoz commented on #21017
I just re-read the steps. In step 3, do you get an updated thumbnail in the Files app? When I tested I didn't, but I just want to make sure and test on older version to see if it's a regression.

[2015-12-15 16:58] enoch85 commented on #16470
I also want to make `wget` working for shared links, that would be awesome! Then I could share files from my cloud, and use them in the scripts for the VM.

[2015-12-15 17:09] carlaschroder commented on #21164
I don't see those errors on my local builds, not sure what's going on.

[2015-12-15 17:25] chriseqipe commented on #18225
@brunodegoyrans
I think you mentioned a correct objection: I added a "force check ALL" checkbox.
You may test it.
Again: make backup before running the thing...

[2015-12-15 17:40] PVince81 commented on #16470
@enoch85 `curl -J -O $url` might do. Use the URL with the appended "download" at the end.

But yeah, would be good if the UI would provide a URL containing the actual file name.

[2015-12-15 18:07] enoch85 commented on #16470
@PVince81 Thanks! That worked. :+1:

[2015-12-15 18:45] k6run opened #21221 "version 8.2.1 encryption:enable-master-key clients work, web does not"
### Steps to reproduce
1. Web interface: Enable server-side encryption
2. cli:  occ encryption:enable-master-key
3.

### Expected behaviour
encryption on a single sign on oc system

### Actual behaviour
encryption works with the clients, they upload files that get encrypted.
I can look at the files on the storage device and they are indeed encrypted.
The clients can also download and use the files

[2015-12-15 18:48] cmonteroluque commented on #21164
@danimo can you please help?

[2015-12-15 19:22] kapcom01 commented on #20670
thanks everything works fine now :+1:

[2015-12-15 19:22] #20670 closed

[2015-12-15 19:39] danimo commented on #21164
[code]

Permission issue? Did someone build this as root by chance? Where is this being run? sign?

[2015-12-15 20:14] karlitschek commented on #21164
try yourself. /releasescripts/makedocu.php  make master admin_manual latexpdf

[2015-12-15 20:15] arjanvs commented on #21017
@oparoz - Yes, I forgot to mention that. For me the icon thingy in the file app was not so annoying.

[2015-12-15 20:32] PVince81 commented on #21221
Thank you for the detailed report.

@schiesbn can you have a look ?

[2015-12-15 20:33] PVince81 commented on #21221
@k6run I guess you already tried to log out then log back in in the web UI, and then the files could still not be read ? Can you confirm ?

[2015-12-15 20:36] PVince81 commented on #12634
Oh...

That should probably be done on the ShareManager level.

CC @rullzer @schiesbn

[2015-12-15 20:37] PVince81 commented on #13162
It's gone, closing

[2015-12-15 20:37] #13162 closed

[2015-12-15 20:50] PVince81 commented on #7127
Yes, see https://github.com/owncloud/core/blob/v8.0.9/config/config.sample.php#L784

[2015-12-15 20:50] #7127 closed

[2015-12-15 20:51] PVince81 commented on #7527
@nickvergessen you mentionned a similar idea recently ?

[2015-12-15 21:49] danimo commented on #21164
`zypper install texlive-morefloats` fixed it \o/

[2015-12-15 21:54] karlitschek commented on #21164
nice!!!! Thanks

[2015-12-15 22:02] carlaschroder commented on #21164
Hurrah, well done!  :smiley_cat:

[2015-12-15 22:47] k6run commented on #21221
Yes, at least as much as one can log out and log back in with SSO.

[2015-12-16 00:43] cmonteroluque commented on #21164
Sorry @danimo. It worked with 8.2.2 RC1 but not with 8.1.5, 8.0.10, or 7.0.12. Re-opening. @karlitschek @carlaschroder

[2015-12-16 00:44] cmonteroluque commented on #19516
confirmed with RC1 packages. Closing...

[2015-12-16 00:44] #19516 closed

[2015-12-16 05:39] craigarno commented on #21186
I have a similar issue.  And will try the proposed 8.1.4 solution later as I ran out of time again this evening.

Some time ago I tried to upgrade 7.0.5 to 8.0.2, then discovered 8.0.2 wasn't fully implemented (too many things I use weren't implemented).  7.0.5 still ran, so I continued using 7.0.5.  Now I'm trying to upgrade to 8.2.1 from my current installation.  I backed up MySQL db, config, da

[2015-12-16 07:54] alexweirig commented on #20405
Hello,

I've create a pull request for the code changes made. I hope this request matches your requirements.

Regards,

Alex

[2015-12-16 07:56] alexweirig opened #21223 "Unexpected Behaviour with Function OC\Group\getVerifiedUsers in Relation to Application OCA\user_ldap"
See attached PDF for the calling stack ...

The last two function calls execute a query against the database looking for a user in the “ldap_user_mapping” table.  Sometimes a valid user is not found (not present in the table for some unknown reason) and a return result of “false” or “null” is bubbled up the above call stack and the existing user is not added to the array to be returned by getVerif

[2015-12-16 08:19] rolandbu commented on #21136
any ideas?

[2015-12-16 08:55] danimo commented on #21164
`make stable7 admin_manual latexpdf` succeeded, same for stable8 and stable81. What is the error you're getting?

[2015-12-16 09:49] colttt commented on #20672
so i solved it now, i delete all LDAP-Server and add a new one, after this, everything work fine

[2015-12-16 09:49] #20672 closed

[2015-12-16 09:57] colttt opened #21224 "higher load after upgrade (2.92x)"
Hello,

after upgrade from 8.0.2 to 8.2.1 we have i higher load, i know this is not a hugh higher load, but we have not a big enviroment (~200 active users).
When i take a look on the server, i see the higher load comes from mysql, did you change something on the database which explain the higher load?

Take a look at the screenshots and on the load average
![after_upgrade](https://cloud.githubuse

[2015-12-16 09:57] davitol opened #21225 "[Sharing] Resharing a file, the name of the first user should not be shown in the searchbox"
### Steps to reproduce

1. Share a file from user1 to user2
2. Log in with user2 and try to share a file with user1

### Expected behaviour

user1 should not be shown as a possible option in the searchbox of sharing

### Actual behaviour

user1 appears in the search result

Note: If you try to share the file, an error message appears (right behaviour)

### Server configuration
**Operating system**

[2015-12-16 10:17] PVince81 commented on #21221
@k6run hmmm... so the main problem is more that people cannot easily log out from SSO in cases where encryption requires re-login ? There are many cases where the encryption app requires this.

[2015-12-16 10:40] rullzer commented on #21224
This could very well be the file locking which is now by default in 8.2.
I suggest setting up redis.

[2015-12-16 11:12] stonerl commented on #21188
Shall I close this issue or do you want it to stay open?

[2015-12-16 11:31] Commenter123 opened #21226 "@PublicPage routes no longer work in latest master (1d932e4)"
routes.php:
[code]

Methods in sitecontroller.php:
[code]

When opening `/index.php/apps/myapp/` in browser, I get `Internal Server Error 500`.

Browser devconsole:
[code]

data/owncloud.log:
[code]

Problem is that OC tries to fetch an avatar of user false, which does not exist.

[2015-12-16 11:37] Commenter123 commented on #21226
BTW: Everything works fine with `'empty'` as last argument to `new TemplateResponse`: `return new TemplateResponse('myapp', 'index', array(), 'empty');`

[2015-12-16 11:47] disy-mk commented on #9652
I am currently using OC 7.x: looking at the src of merged #16964 I assume simply deleting files_versions folder by hand is exactly what the cli tool does?
I also did not find any entries refferring to file versions in the db.

Thanks

[2015-12-16 12:05] rontrompert opened #21227 "Feature Request: Enable Federated Cloud Sharing with Shibboleth"
Unfortunately it is not possible at the moment to use federated cloud sharing together with Shibboleth. Can this be fixed?

[2015-12-16 12:29] michael71 opened #21228 "Upgrade from 8.0.3 to 8.2.1 not working"
Hi, I tried to upgrade an owncloud installation from 8.0.3.4 to 8.2.1 - even the manual upgrade (unzipping the new owncloud code to a separate dir, run "occ upgrade" at the command line did not work.

ERROR Msg:
"Exception: Updates between multiple major versions and downgrades are unsupported.
Update failed"

In the meantime I have understood that this is a "major" upgrade (although it is from 8.

[2015-12-16 12:49] karlitschek commented on #21227
@schiesbn @DeepDiver1975 any idea?

[2015-12-16 13:18] DeepDiver1975 commented on #21227
From my understanding this should work as soon as the ocs api routes used for federated sharing are NOT protected by the apache shibboleth authentication.

This requires some testing - calling @owncloud/qa

[2015-12-16 13:19] #21188 closed

[2015-12-16 13:20] DeepDiver1975 commented on #21226
@Commenter123 which owncloud version are you using?

[2015-12-16 13:20] MorrisJobke opened #21230 "Object of class OC\\Connector\\Sabre\\Directory could not be converted to string"
[code]

Instead it should be something like `Could not copy directory PATH, target exists'.

![bildschirmfoto 2015-12-16 um 14 15 19](https://cloud.githubusercontent.com/assets/245432/11841771/e0557308-a3ff-11e5-8e79-6af3e4326b41.png)

*cough* @icewind1991 *cough* (please fix it - I don't know how to get a path out of an ICollection :see_no_evil: )

https://github.com/owncloud/core/commit/fe0de5fc

[2015-12-16 13:22] tflidd commented on #21228
Duplicate of https://github.com/owncloud/core/issues/21186

[2015-12-16 13:26] danger89 commented on #20967
@tflidd good point! Indeed post-calculations should be done at the end or cronjob. The current implementation / protocol is not efficient enough. A redesign may be necessary.

[2015-12-16 13:28] MorrisJobke opened #21231 "Failed to open avatar.jpg"
owncloud 8.2.1 and encryption enabled.

I just noticed in a log file many of these entries:

[code]

@schiesbn @oparoz Do you have an idea where these come from?

[2015-12-16 13:36] PVince81 commented on #21230
I think it should be `$sourceNode->getName()` or something... seems this error case hasn't been tested.

[2015-12-16 13:54] Commenter123 commented on #21226
As already said: Latest master, revision 1d932e4.

[2015-12-16 13:57] DeepDiver1975 commented on #21226
THX - didn't recognize that ...

[2015-12-16 13:58] DeepDiver1975 commented on #21226
@rullzer for avatars
@PVince81 @blizzz for sharemodel.js

THX

[2015-12-16 14:57] moscicki commented on #19331
Is this going to be part of OC9? Sharing currently is a major source of page loading slowness in current cernbox, we would like to check if this improves in OC9.

CC: @karlitschek

[2015-12-16 15:01] DeepDiver1975 commented on #19331
yes - definitely - parts have already been merged into master branch

[2015-12-16 15:04] #21230 closed

[2015-12-16 15:18] k6run commented on #21221
SSO means they never actually log in or out of a service, like OC. They
authenticate against another service and are permitted access. That is what
the master key is supposed to provide, the ability to use SSO with
encryption, but though it works with OC clients, it is not working with the
web interface.
On Dec 16, 2015 2:17 AM, "Vincent Petry" <notifications@github.com> wrote:

[2015-12-16 15:29] PVince81 commented on #4380
The toughest part here is making file conflict detection work with our conflict dialog, for BOTH the webdav approach (using precondition + 412 status) AND also for the IE8 workaround that uses ajax/upload.php... I'll see if I can bring their behavior / responses as close as possible.

[2015-12-16 15:29] PVince81 commented on #4380
"tough" as in: lots of refactoring and rearranging response formats. The file-upload.js is a bit messy :smile:

[2015-12-16 15:49] yvlitvin commented on #19992
Its recommended, but doesnt exist in RHEL https://download.owncloud.org/download/repositories/stable/owncloud/
i.e.
![image](https://cloud.githubusercontent.com/assets/8770272/11845606/58839810-a41d-11e5-990a-a33a00dcaf40.png)

but exists in CentOS:
**yum install -y https://www.softwarecollections.org/en/scls/rhscl/rh-php56/epel-6-x86_64/download/rhscl-rh-php56-epel-6-x86_64.noarch.rpm**
**yum ins

[2015-12-16 15:58] paolotws commented on #20962
Hi,
same problem in Debian server with 8.2.1 (stable).
Users receive only email notifications of share events and NOT on creation, deletion and modification of files and folders.
All tests done like Landver...
Thanks.

[2015-12-16 16:02] PVince81 commented on #4380
- [ ] make sure that folder upload still works (might need client control, MKCOL, etc)
- [ ] conflict dialog

[2015-12-16 16:27] Bubu opened #21236 "Quota not updated after moving files to shared folder in webinterface."
Owncloud: `8.2.1 (stable)`
System: ```Debian 7.9```
php: ```5.4.45-0+deb7u2```
php5-redis: ```2.2.5-1~bpo70+1```
redis-server: ```2:2.4.14-1```
apache: ``` 2.2.22-13+deb7u6```
mysql: ```5.5.46-0+deb7u1```

Config excerpt:
[code]

What I did:
A user had no space left on his account, so he moved a bigger file (1GB) to a folder shared by another user though the web interface.

Expected behaviour:
Now

[2015-12-16 16:40] PVince81 commented on #4380
WIP PR here https://github.com/owncloud/core/pull/21237

[2015-12-16 16:44] RealRancor commented on #21228
See https://github.com/owncloud/core/issues/20974#issuecomment-162319494 how to do a correct upgrade.

[2015-12-16 16:45] RealRancor commented on #21186
@craigarno See https://github.com/owncloud/core/issues/20974#issuecomment-162319494 how to do a correct upgrade.

[2015-12-16 16:46] blizzz commented on #21226
shareconfigmodel.js is just using oc_appconfig which is populated by core/js/config.php. If anything, than this is perhaps not loaded for some reason in this particular use case.  @LukasReschke do you know anything? some hardening possibly? :)

[2015-12-16 16:52] blizzz commented on #21226
@Commenter123 do you happen to know the last revision it worked with?  (git bisect can assist in finding it out)

[2015-12-16 16:58] michag86 opened #21239 "Usermanagement: Password change error display behavior"
On changing the password of an user in the user management, the password change error message is shown permanently:
https://github.com/owncloud/core/blob/v8.2.1/settings/js/users/users.js#L657

Is there a better way to show the password change error?

The easiest way is to change "OC.Notification.show" to "OC.Notification.showTemporary".

This notification can be used in [password policy app](http

[2015-12-16 17:04] blizzz commented on #21136
had not have time yet. @leo-b like to give it a glance?

[2015-12-16 17:08] blizzz commented on #20405
@alexweirig thank you for the PR, I am going to review it today or tomorrow.

When you opened it, could you post the link?

[2015-12-16 17:28] butonic commented on #4380
I'll keep an eye on the tough part to educate myself on clean js code. Boy this has been a long time ago. And I still remember what the code looked like before ...  ;)

[2015-12-16 17:31] gig13 commented on #21206
@Xenopathic

The user originally tried without the domain filled out and it wouldn't work. A user can only be a member of a single domain in Active Directory, and they have many users over 5 different domains. For example . "rhillary" is under "campus" and "rhadmin" is under "sde" but both users require access to the same external storage over CIFS. I'm sure there is an LDAP attribute which contai

[2015-12-16 18:27] oparoz commented on #21231
Probably a duplicate of https://github.com/owncloud/core/issues/19750

[2015-12-16 19:38] jeremyclarke commented on #11948
Hi everyone, just want to say this is a huge problem as far as we (dev team for our org) are concerned.

An option to enable the user-level recovery option by default shouldn't have any effect on the also-terrible UX problems with admins enabling encryption and adding a recovery key.

* If the admin recovery key ISN'T set up for any reason (bad UX or admin choice) then the user-profile recovery op

[2015-12-16 19:39] jeremyclarke commented on #11948
@jancborchardt WRT the docs there's a LOT of work that should probably be done to have this make more sense.

This section is very confusing as an administrator. The screenshot is out of date and confusingly labeled, and there's no links to the equivalent page for admins, which would have helped me at least:

[2015-12-16 19:51] LukasReschke commented on #21226
Mhm. Works for me locally here.

@Commenter123 Can you add your whole app code so that I could reproduce? If I could git checkout that would be awesome :smile:

[2015-12-16 19:58] JBear7 opened #21242 "Upgrade from 8.2.0 to 8.2.1 Fails"
### Steps to reproduce
1. apt-get update
2. apt-get upgrade
3. sudo -u www-data php occ upgrade

### Expected behaviour
upgrade should happen

### Actual behaviour

root@Horton:/var/www/owncloud# sudo -u www-data php occ upgrade

				ownCloud or one of the apps require upgrade - only a limited number of commands are available
				Set log level to debug - current level: 'Debug'
				Checking whether

[2015-12-16 19:59] LukasReschke commented on #21226
Or test https://github.com/owncloud/core/pull/21241 :wink:

[2015-12-16 20:03] jeremyclarke commented on #15286
FWIW +1 to being able to reset the keys from inside the UI, and also that it be doable by an admin. This is made very hard by the fact that there's currently no way to edit a user's profile for them, which also makes it impossible to set the recovery option to true for them upon creation (so we can't work around the lack of way to enable recovery by default).

[2015-12-16 20:34] carlalexander opened #21243 "Lost password JavaScript gets stuck"
### Steps to reproduce
1. Attempt to login with invalid password
2. Click reset password button
3. Click on reset password email link
4. Enter new password
5. Click "Reset password"

### Expected behaviour
I'd expect to see a login form or to be logged in. I haven't seen it work yet.

### Actual behaviour
The reset form gets submitted and the spinner just stays there forever. Further investigation

[2015-12-16 21:11] #21228 closed

[2015-12-16 21:11] LukasReschke commented on #21223
cc @owncloud/ldap

[2015-12-16 21:41] lbdroid opened #21245 "Disabling "allow users to share via link" disables all sharing"
As the title says.

[2015-12-16 22:05] MorrisJobke commented on #21231
I even checked but didn't found it :see_no_evil:

Duplicate -> closing.

[2015-12-16 22:05] #21231 closed

[2015-12-16 22:10] MorrisJobke commented on #21242
Documented in https://doc.owncloud.org/server/8.2/admin_manual/configuration_database/linux_database_configuration.html?highlight=binlog_format#mysql-mariadb-with-binary-logging-enabled

The mysql server is not available. Not much we can do here.

[2015-12-16 22:10] #21242 closed

[2015-12-16 22:11] MorrisJobke commented on #21245
Duplicate of #20642 which gets fixed with the upcoming 8.2.2

[2015-12-16 22:11] #21245 closed

[2015-12-16 22:11] MorrisJobke commented on #21236
cc @icewind1991

[2015-12-16 22:13] MorrisJobke commented on #21224
See https://doc.owncloud.org/server/8.2/admin_manual/configuration_files/files_locking_transactional.html for setting up redis for file locking.

Closing this here. Feel free to reopen if this issue still exists after you switched to redis.

[2015-12-16 22:13] #21224 closed

[2015-12-17 05:34] michael71 opened #21246 "upgrade from 8.1.1.4 to 8.1.4.2 failed"
I'm trying to follow the upgrade path which seems to be recommended ( #20974 ). However, after the upgrade from 8.1.1.4 to 8.1.4.2 (made on the command line, it was "successful") owncloud does not start, in the owncloud.log there I find several "getPath() on non-object errors":

{"reqId":"vLGJsV897oiMknta9K30","remoteAddr":"46.237.1.1","app":"PHP","message":"Call to a member function getPath() on

[2015-12-17 06:26] rullzer commented on #12634
This should not be that hard to do on the sharemanager level indeed. I do prefer to tackle it after most of the stuff has been migrated tough.

Assigning to myself so I don't forget.

[2015-12-17 07:52] christopheg opened #21249 "Deleting user with provisioning API can take a long time"
When deleting a user via an API call, the answer from API can take a very long time.
Current situation:
1) An API call to https://my_owncloud/ocs/v1.php/cloud/users/my_username (DELETE)
2) The server deletes the data of this user (can take a very long time if the user has 200GB of small files)
3) An answer is sent via API

Better would be:
1) An API call to https://my_owncloud/ocs/v1.php/cloud/use

[2015-12-17 07:53] alexweirig commented on #20405
@blizzz : I've created the ticket with #21223

[2015-12-17 09:15] MorrisJobke opened #21250 "Public link shares to a file have no preview"
* it's a lie - they have a preview of size 2 x 1 pixel, but it's simply invisible ;)

![bildschirmfoto 2015-12-17 um 10 14 25](https://cloud.githubusercontent.com/assets/245432/11865832/ff09cf18-a4a6-11e5-800c-d8b66cca665e.png)

Because quite big values for x and y are passed via URL I guess the preview code is buggy.

cc @icewind1991 @georgehrke @oparoz

[2015-12-17 09:30] PVince81 commented on #21250
bisect?

[2015-12-17 09:31] PVince81 commented on #21249
@christopheg ownCloud version ?

[2015-12-17 09:31] PVince81 commented on #21249
What you described under "Better would be" was implemented in OC >= 8.1.
The slow behavior was in OC < 8.1.

[2015-12-17 09:38] PVince81 commented on #21249
Ref https://github.com/owncloud/core/pull/14644

[2015-12-17 09:39] PVince81 commented on #21246
@michael71 did you move your data folder ?
Maybe clear the browser cookies ?
Does the home folder of the user still exist in the data folder ?

This looks similar to https://github.com/owncloud/core/issues/20527

[2015-12-17 09:41] PVince81 commented on #21243
A 405 ? Maybe double check your nginx config, something must be preventing that route to be executed properly ?

[2015-12-17 09:42] PVince81 commented on #21243
Why is it posting to https://cloud.globalvoices.org/ and not the full route ?
Maybe something went wrong when computing the route.

@LukasReschke @icewind1991

[2015-12-17 09:43] PVince81 commented on #21239
@michag86 change it to `showTemporary` instead.
PR ? :smile:

[2015-12-17 09:44] PVince81 commented on #21236
@Bubu we need your ownCloud version

@icewind1991 size propagation issue maybe ?

[2015-12-17 09:46] PVince81 commented on #21227
@rontrompert Please use the issue template https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

Any errors in logs ? In what sharing scenario are you seeing an error ? (share with link + add to owncloud or sharing over share dialog)

[2015-12-17 09:47] PVince81 commented on #21225
@rullzer we should exclude the user in the JS code

[2015-12-17 09:48] PVince81 commented on #21223
Report is for OC 8.2.1 (from the PDF)

[2015-12-17 09:53] Dianafg76 opened #21252 "The federated sharing with SHIBB and Redirected server is not working, you can't share"
### Steps to reproduce
You new two differents server (one with SHIB (with HTTPS) (e.g user Myself), other normal sever (with HTTP) (e.g user Admin)
1. Go to the Desktop Client with SHIB
2. Create a new folder (e.g. aaa)
3. Click on Share with oC
4. On "Share with users or groups" enter a user on normal server (e.g. admin@xxxxxxxx)
5. Click Enter
6. Go to the Server web with the user Admin
7. Accep

[2015-12-17 09:54] Dianafg76 commented on #21252
related #4287, and #4234

[2015-12-17 10:03] Bubu commented on #21236
Sorry, the OC Version must have been lost to copy&paste. updated. `v8.2.1 (stable)`

[2015-12-17 10:08] rullzer commented on #21252
@schiesbn

[2015-12-17 10:15] DeepDiver1975 commented on #21252
refs https://github.com/owncloud/core/issues/21227#issuecomment-165101455

As stated above - federation and shibboleth needs QA

[2015-12-17 10:22] leo-b commented on #21136
It looks like setting a ``pagingSize`` of 0 was disabled by @blizzz: https://github.com/owncloud/core/commit/f28235a7ef6664978a8b4f6d16a47df508244294

However, IMHO even using a ``pagingSize`` of 500 shouldn't limit the number of results to 500. Does your LDAP server support [Paged Results](https://tools.ietf.org/html/rfc2696)?

[2015-12-17 10:40] Bubu commented on #21236
I did a few more tests. Suppose we have the following Structure of files:
[code]
File1 gets moved to Shared_Folder.
 - If I delete File1 afterwards (from the client in this case) the quota still gets not updated.
 - If I remove File2 the free space gets recalculated correctly, including the change for File1
 - The same problem also happens when moving the file in the client, not through the web in

[2015-12-17 10:40] blizzz commented on #21136
That commit comes from  a PR fixing https://github.com/owncloud/core/issues/12306, also this affects readAttribute() only. With the comment above, passing 0 we would not get any results (using paged search).

[2015-12-17 10:50] oparoz commented on #21250
Since you mentioned large dimensions, it could be that GD ran out of memory or something like that.

[2015-12-17 10:52] blizzz commented on #20405
thanks!

[2015-12-17 11:05] Commenter123 commented on #21226
#21241 fixes the issue :)

[2015-12-17 11:10] leo-b commented on #21136
You are right, readAttribute() isn't used when fetching users. Sorry.
So I guess this is the relevant change: https://github.com/owncloud/core/commit/42d3ed47e23724419aeed0df5ccedec6f92ac172

Unfortunately I don't have a working owncloud-ldap infrastructure available at the moment, so it's hard for me to test right now.

[2015-12-17 11:17] michael71 commented on #21246
thanks for the hints ! I forgot to move the data folder (it's in a fixed location on my other owncloud server)

[2015-12-17 11:17] #21246 closed

[2015-12-17 11:18] blizzz commented on #21226
And it's merged.

[2015-12-17 11:18] #21226 closed

[2015-12-17 11:31] alexweirig commented on #21223
Yes, I confirm

[2015-12-17 11:36] blizzz commented on #21136
Which was supposed to fix https://github.com/owncloud/core/issues/13533#issuecomment-76092306

I guess it makes sense to totally disable paged search when the chunk size is set to 0. Or not? Like this https://github.com/owncloud/core/commit/d5e48669b71e350f57f9c222b48554158d5accf9

@rolandbu

What actually is your expectation?

[2015-12-17 12:02] musaa32 opened #21256 "[8.2] Call to a member function processAttributes() on a non object at apps\user_ldap\lib\access.php#698"
After the upgrate, I couldn't see my files in the files app, so i started the filescan in the console.
this is the error I get:

PHP Fatal error:  Call to a member function processAttributes() on a non-object in /owncloud/apps/user_ldap/lib/access.php on line 698

Is this similar to https://github.com/owncloud/core/issues/20090?
I have upgraded from 8.0.3 to 8.2.
![owncloud.log](http://i.xomf.com/

[2015-12-17 12:51] linuxtm opened #21257 "OC 8.2.1 LDAP Invalid DN syntax"
### Steps to reproduce
1.Install 8.2.1 (Stable)
2.Navigate to the admin page
3.Check the logs

### Expected behaviour
All good, no errors.

### Actual behaviour
I'm seeing the following error:
[code]
If I ignore the error, everything is working just fine. I can see the users, they can login, etc.
I've tried the fixes suggested in #17570 , but there's no effect on the issue.

PS: I don't know if it

[2015-12-17 12:54] golderweb opened #21258 "owncloud-latest.tar.bz2 Download-Link is outdated"
### Steps to reproduce
wget https://download.owncloud.org/community/owncloud-latest.tar.bz2

### Expected behaviour
Download of latest owncloud-server version

### Actual behaviour
The link above points to an outdated release (8.0.3 rather than 8.2.1)

Since I like to use a script for automatic updating process via command line, having a working latest-link would be great.

[2015-12-17 13:01] rontrompert commented on #21227
@PVince81 According to the 8.2 release notes this is not possible. That's why this is not a bug but a feature request.

[2015-12-17 13:02] rullzer commented on #21258
@cmonteroluque

[2015-12-17 14:30] #21196 closed

[2015-12-17 15:15] karlitschek commented on #21258
fixed

[2015-12-17 15:15] #21258 closed

[2015-12-17 15:25] #21239 closed

[2015-12-17 15:40] sif77 opened #21266 "Redis server went away"
I am using version 8.2.1.

When i use unix socket, i get "Redis server went away" (owncloud-8.2.1/lib/private/memcache/redis.php(74)).

My config.php file :
...
  'filelocking.enabled' => 'true',
  'memcache.locking' => '\OC\Memcache\Redis',
  'memcache.local' => '\OC\Memcache\Redis',
  'redis' => array(
     'host' => '/var/lib/redis/redis.sock',
     'port' => 0,
     'timeout' => 0.0,
     'dbi

[2015-12-17 15:47] karlitschek commented on #21266
This is a problem of you local installation and not an ownCloud bug. Please check owncloud.org/support for option to get help.

[2015-12-17 15:47] #21266 closed

[2015-12-17 15:50] sif77 commented on #21266
I did a test outside owncloud before addind this issue.

<?php
$sock = '/var/lib/redis/redis.sock';
$port = 0;
$timeout = 0.0;
$redis = new Redis();
try {
        $redis->connect($sock);
        print "ok\n";
} catch (Exception $e) {
    error_log("Error 1: ".$e->getMessage());
}
try {
    $redis->get("unknown key");
} catch (Exception $e) {
    error_log("Error 2: ".$e->getMessage());
}
?>

[2015-12-17 16:08] DeepDiver1975 opened #21267 "InfoParser is not cleaning up the xml parser errors ...."
... this is why we see https://github.com/owncloud/core/pull/21195 failing

Very funny .....

[2015-12-17 16:08] MorrisJobke commented on #21250
Works somehow now. Closing

[2015-12-17 16:08] #21250 closed

[2015-12-17 16:17] michag86 commented on #21239
@DeepDiver1975 can we backport this to 8.2 and 8.1?

[2015-12-17 16:20] karlitschek commented on #21239
@PVince81 @DeepDiver1975 are you in favor of a backport?

[2015-12-17 16:38] DeepDiver1975 commented on #21239
no objections - low criticality

[2015-12-17 17:19] PVince81 commented on #4380
Interesting, the blueimp uploader would POST to this URL with the IE iframe fallback:
[code]
This means that in theory instead of keeping "ajax/upload.php" we could simply write a Sabre plugin that processes this POST and internally plugs with the PUT logic. :smile:

[2015-12-17 17:40] sonologic commented on #18293
I just upgraded to 8.2.1 on a FreeBSD 10.1 host that is completely up to date. I don't use the owncloud freebsd package, but have installed owncloud manually.

There's an app i have installed, bookmarks, that says it has an update available. However, when I try to update I get the dreaded 'cURL error 60: SSL certificate problem: unable to get local issuer certificate'.

I tried the work-around of

[2015-12-17 17:43] mmattel commented on #19458
**Hooks are found at:** lib/private/files/cache/scanner.php

[2015-12-17 18:16] etiess commented on #18755
Any news on this issue? I had the same log after enabling asset pipelining and followed this documentation: https://doc.owncloud.org/server/8.2/admin_manual/installation/installation_wizard.html#strong-perms-label

Solved after having changed the permission of this folder, but not sure about the consequences. @carlaschroder , did you get more review?

[2015-12-17 18:25] silicon11 opened #21270 "User fails to login due to certain characters in username"
### Steps to reproduce
1. Have user with a hyphen in the username (in ldap?)
2. User tries to login
3. Login fails

### Expected behaviour
User is able to login

### Actual behaviour
Error 500 on browser

### Server configuration
**Operating system**:
Ubuntu 14.04.3 LTS

**Web server:**
Apache/2.4.7 (Ubuntu)

**Database:**
mysql  Ver 14.14 Distrib 5.5.46, for debian-linux-gnu (x86_64) using readli

[2015-12-17 18:25] carlaschroder commented on #18755
@MorrisJobke @LukasReschke @DeepDiver1975  ?

[2015-12-17 18:27] carlaschroder commented on #18755
We recommend using asset pipelining to improve performance https://doc.owncloud.org/server/9.0/admin_manual/configuration_server/performance_tuning/oc_server_tuning.html?highlight=asset#enable-javascript-and-css-asset-management

[2015-12-17 18:35] etiess commented on #18755
I understand that, that's why I enabled it. But the script mentionned here (https://doc.owncloud.org/server/8.2/admin_manual/installation/installation_wizard.html#strong-perms-label) doesn't allow this, because it sets write permission to root instead of web server to the assets folder.

There should be minimum a warning at the top of the administration page, and/or a change in the script.

[2015-12-17 18:38] carlaschroder commented on #18755
@etiess, sorry, the comment about asset pipelining is directed at the people I asked to review this. It's not good to recommend things that don't work :)

[2015-12-17 18:41] paolosg opened #21271 "Syncing to external storage prevent file type recognition"
When I sync a folder containing pictures or music directly to an external storage (Google Drive) the file type (jpg or mp3) is not recognized and the OC web interface always open the files as text.

OC v8.1.4 (on Ubuntu server 14.04)
Windows OC client 2.1.0 (build 5683)

[2015-12-17 20:07] Ninos commented on #18225
@chriseqipe thx I'll wait until this app is finished and then try it out.

PS: Before I did not used encryption and had the same problem..

[2015-12-17 22:17] karlitschek commented on #21271
can zou please send a full bug report using the template? https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

[2015-12-17 22:44] chriseqipe commented on #18225
@Ninos haven't tested without encryption enabled...
But seems to do it's work in our env. Will now also detect broken files, only containing the encryption header. We are currently investigating why this also happens some time (oc 8.1.4).

[2015-12-17 22:59] Ninos commented on #18225
K thx for response. Is there a roadmap atm for that oc application?

[2015-12-18 07:54] MorrisJobke commented on #18755
Correct. The folder `assets` should also be allowed to be written to. @carlaschroder

[2015-12-18 07:55] MorrisJobke commented on #18755
The performance is questionable. Because request wise I doubt that it is better, because stuff is bundled all together instead "per app".

[2015-12-18 08:05] sukosevato opened #21273 "Directory not syncing if a file with an identical name previously existed"
So I ran into the following issue.

I had a text file named: "A1" (assignment 1).
I wanted to move it into a folder named "A1" because I got more files belonging to the same assignment. So I renamed this file temporarily so I could create a folder name A1 and moved the file into it together with the new files. This all synced without a problem with owncloud.

However, when I started owncloud on an

[2015-12-18 08:07] rolandbu commented on #21136
@blizzz
We are using openldap without "paged search". We would be happy with "Paging chunksize = 0" give us the full result without any limits like 500.

[2015-12-18 08:17] #21267 closed

[2015-12-18 08:51] blizzz commented on #21136
The result in the wizard will always show 1000 max users for performance reasons. Hiw many di you have? Coukd you test wether tho commit mentioned above helps?

[2015-12-18 08:55] rolandbu commented on #21136
I will try your fix https://github.com/owncloud/core/commit/d5e48669b71e350f57f9c222b48554158d5accf9 and report the results, ok?

[2015-12-18 09:03] trinhvanhuy opened #21276 "Upload image to owncloud through webdav"
Hello,
I'm using ng-file-upload to owncloud, the upload is successful for other files type except image
All images .png, .jpg are boken when i'm uploading ( for example, i uploaded images 900KB, but the image on server is just 800KB, thats why it's broken.  )
here is my code
[code]

[2015-12-18 09:29] LukasReschke commented on #18755
Yup: https://github.com/owncloud/core/issues/17693

[2015-12-18 09:39] PVince81 commented on #18225
@cmonteroluque @schiesbn many people are having the problems where encrypted files got the wrong size, mostly caused by migration. It would be good to provide the script as a repair step or `occ` command, ideally backportable to 8.1 because that's where people started having issues.

Another option is to make it a separate script/app, but that would be less integrated in ownCloud's APIs.

Setting

[2015-12-18 09:54] rolandbu commented on #21136
@blizzz
Still the same problem with your fix https://github.com/owncloud/core/commit/d5e48669b71e350f57f9c222b48554158d5accf9

"Paging chunksize = 0" returns "Verify settings and count users = 500 users found"

[2015-12-18 10:14] joeplus commented on #20925
IFTTT does not really support individuals adding apps on their end and they only have just recently added the "[Maker Channel](https://ifttt.com/maker)" but without HTTPS support and I believe you can only make or send a web request. This probably is nothing like the seagate channel described above.

[2015-12-18 10:33] PVince81 commented on #12543
@DeepDiver1975 the new layer has been added in 9.0.
Closing.

The other services/endpoints can be added as part of their respective apps/features.

[2015-12-18 10:34] PVince81 commented on #12543
Well, unless we want to keep this ticket to discuss possible extensions like search and returning JSON objects ? I'll reopen :smile:

[2015-12-18 10:34] PVince81 commented on #7719
Is this still an issue with OC 8.0.9, 8.1.4 or 8.2.1 ?

[2015-12-18 10:36] PVince81 commented on #11261
Also the new oc_mounts table will make it possible to do reverse lookups: https://github.com/owncloud/core/issues/15166

[2015-12-18 10:37] PVince81 commented on #17794
Shouldn't this rather be implemented as a separate app ?
Or is this an extension for the files app ?

[2015-12-18 10:38] wpoely86 commented on #7719
@PVince81 I'm running 8.2.1 with the patch from above. So yes.

[2015-12-18 10:42] PVince81 commented on #12216
I edited the original post to split "User sharing" from "Link sharing" as discussed in https://github.com/owncloud/core/issues/19157

[2015-12-18 10:43] PVince81 commented on #11717
Nice, we did make some progress. I just ticked swift :smile:

[2015-12-18 10:47] PVince81 commented on #15174
Duplicate of https://github.com/owncloud/core/issues/7058

[2015-12-18 10:47] #15174 closed

[2015-12-18 10:56] PVince81 opened #21282 "Store all known users from all user managers in a single table"
#### Current issue in a LDAP scenario (also applies to other user managers):
1) Only local users are stored in oc_users
2) LDAP users are stored separately in mapping tables, the tables are LDAP specific
3) No easy way to work with all users on SQL-level (repair steps, etc)
4) On PHP level, additional round trips required to all user managers when doing user searches, for example for share autocom

[2015-12-18 10:58] PVince81 commented on #21282
This is also important to be able to properly map users to their storages. Currently LDAP users have no entries in oc_users, so if you start with a storage in the DB and want to go back to the user data you're out of luck.

[2015-12-18 10:59] DeepDiver1975 commented on #21282
related https://github.com/owncloud/core/issues/18227

[2015-12-18 11:03] etiess commented on #17693
@LukasReschke Any decision on this? Should owncloud still advise administrator to enable asset pipeline? I'm in the same case, with server having a very slow internet connection: should I enable it?

[2015-12-18 11:36] MorrisJobke opened #21284 "copyr duplicated in OC_Util and OC_Helper"
https://github.com/owncloud/core/blob/450e2f3bd308388e5df01b2b2ea38e6bf16b1c67/lib/private/helper.php#L226-L246

https://github.com/owncloud/core/blob/e01a488b3136ec7b0f2614cd49e4cf1afce1f655/lib/private/util.php#L310-L331

@icewind1991 Is there any chance to combine those two?

[2015-12-18 11:54] davidak commented on #21257
@linuxtm have you tried only the username instead of the whole DN?
that works for me with Microsoft AD.

[2015-12-18 11:55] mmattel opened #21285 "Error: occ files:scan with enabled External Storage Support"
### Steps to reproduce
1. Clone master via ``ocdev setup base`` and set it up
2. Enable external storage support
3. sudo -uwww-data ./occ files:scan --all (from the path where occ resides)

### Expected behaviour
It should scan as usual

### Actual behaviour
When you **enable** ``External storage support`` independent if you configure external storage or not, it reports and error.
When you **disab

[2015-12-18 12:08] karlitschek commented on #21285
@icewind1991

[2015-12-18 12:10] karlitschek commented on #21276
what is ng-file-upload ? A third party upload app?

[2015-12-18 12:20] karlitschek commented on #21273
This sounds a client issue. Can you reopen this in the client repository please?  Thanks

[2015-12-18 12:20] #21273 closed

[2015-12-18 12:21] linuxtm commented on #21257
@davidak you mean in the LDAP config ? Instead of uid=,ou=,dc=,dc= just uid= ?  If that is what you are asking, yes, I've tried, and it says that the configuration is incorrect.

[2015-12-18 12:23] Xenopathic commented on #21257
@blizzz

I believe the log message is completely normal, and is produced as the LDAP wizard tries to auto-configure things

[2015-12-18 12:26] blizzz commented on #21257
Yes, and this has been reported several times and is fixed in git and will be shipped with the next maintenance version.

[2015-12-18 12:26] #21257 closed

[2015-12-18 12:30] linuxtm commented on #21257
@blizz Thank you.

[2015-12-18 12:41] trinhvanhuy commented on #21276
https://github.com/danialfarid/ng-file-upload
its a lib for AngularJS

[2015-12-18 13:02] PVince81 commented on #1347
Group quota is not implemented yet, so there is no possible workaround to make it work with the current codebase.

@binglinoioij your problem is unrelated with this ticket, please raise a new one and use the issue template: https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

[2015-12-18 13:04] PVince81 commented on #21227
You're right, tagging as enhancement

CC @MTRichards @cmonteroluque

[2015-12-18 13:04] PVince81 commented on #21227
CC @karlitschek

[2015-12-18 13:48] blizzz commented on #21282
oc_users are and should be kept for local users. There are other information we like to store as well in a unified way and still user backends will continue to take care of their affairs (managing users) in their systems. So it's best to imagine oc_users is an external resource as well.

#19600 mixes up user names and login names. The problem is programtic: developers used to expect that the login

[2015-12-18 13:59] rullzer commented on #13331
As it seems to be solved in newer OC version => close

[2015-12-18 13:59] #13331 closed

[2015-12-18 14:02] MorrisJobke commented on #17693
I don't think so. Having the caching done in the browser is most likely better and faster. From a client side and from a server side.

[2015-12-18 14:43] paolosg commented on #21271
### Steps to reproduce
1. Sync a folder (using the Windows client) that contains pictures or music directly to a mounted external storage (I could try only with Google Drive)

### Expected behaviour
Music and pictures should be recognized as such by ownCloud

### Actual behaviour
Media files are identified by OC as text and not as pictures or music.
Downloading them back to the client PC they're c

[2015-12-18 15:38] stp-ip commented on #21134
Updated.

[2015-12-18 16:20] gerryd commented on #21249
Hi Vincent,

I'm afraid it isn't fixed. I think you might have misunderstood the description. I'll try to explain it in another way. :)

The ownCloud version used is 8.1.4.

The problem is that deleting a user who has many files in his/her account takes a long time. It would be better if the actual "delete" operation was a background task and the API would immediately return an OK. See the example

[2015-12-18 16:26] PVince81 commented on #21249
Ah, that's more clear.
When I saw "DELETE" I directly thought Webdav DELETE.
I'll adjust the subject.

[2015-12-18 16:31] hlx98007 commented on #20864
Same goes for me. I enabled Encryption in the latest OC8.2.1 and it is working properly for newly uploaded files.

The encrypt-all command does not encrypt all the files that were dated prior to the enablement of Encryption.

[2015-12-18 16:32] carlaschroder commented on #18755
ok thanks everyone! I shall fix it.

[2015-12-18 16:38] PVince81 commented on #20864
@hlx98007 please also answer the questions: https://github.com/owncloud/core/issues/20864#issuecomment-162482748

Which steps did you use to enable encryption ?

[2015-12-18 17:55] carlalexander commented on #21243
Would you like me to show the nginx vhost config?

[2015-12-18 18:11] RealRancor commented on #7719
Might also be related to this buggy behavior of Apache and fpm: https://github.com/owncloud/core/issues/20856

[2015-12-18 18:17] sameersbn opened #21298 "Trying to access files shows "Can't read file" message"
I am using owncloud 8.x and recently I noticed that I get the "Can't read file" message when I try to download most of the files. I have encryption enabled on the server and I am guessing for some reason the the files cannot be decrypted by owncloud. I am not exactly sure when the issue started to be able to figure out what I might have down wrong. Perhaps i must have played around with the encryp

[2015-12-18 18:42] wpoely86 commented on #7719
@RealRancor no, what we have here is this bug: https://bugs.php.net/bug.php?id=65641

As long as RHEL & derivatives don't patch it, we're stuck using this patch.

[2015-12-18 18:51] RealRancor commented on #7719
@wpoely86 Ah, yes. Mixed those two Apache and PHP bugs. The linked post in #20856 (https://www.drupal.org/node/2603696) is mentioning that SCRIPT_NAME is also wrongly set with Apache 2.4.17

[2015-12-18 18:52] RealRancor commented on #20856
from https://bugs.php.net/bug.php?id=70757

[2015-12-18 18:58] hlx98007 commented on #20864
@PVince81

1. I enable the plugin in OC,
2. I tick the box in admin page, enable server-wide encryption
3. I did `sudo -u nginx php occ encryption:migrate`, twice
4. I logout and log back in
5. I did `sudo -u nginx php occ encryption:encrypt-all` --> no old files get encrypted.

[2015-12-18 19:16] Yamakasi commented on #19040
@blizzz sorry for my very late response, busy time and I set this on a sidepath as I was not able to spend time on it.

It's still the same, I updated to 8.2.1 and also the config setting doesn't fix it. I don't see the users added to the owncloud group also atm when they are @ ldap.

[2015-12-18 20:24] Xenopathic commented on #17693
@LukasReschke @MorrisJobke @DeepDiver1975 @PVince81 Proposal: remove asset pipeline entirely?

[2015-12-18 21:16] dtwilliamson commented on #17362
Running 8.2.1, I'm having a similar problem. When sharing with an LDAP user who has not logged in yet (not using an email link - just a regular share) when the user logs in and tries to access the file they get an error "Can not decrypt this file, probably this is a shared file. Please ask the file owner to reshare the file with you." I didn't enter a separate issue since this is so similar.

[2015-12-18 21:37] rullzer commented on #20299
Initial PR in #21300

[2015-12-18 21:59] blizzz commented on #17362
@dtwilliamson this is unrelated, please open a new bug report and use the [issue template](https://raw.github.com/owncloud/core/master/issue_template.md). Thank you!

[2015-12-19 00:00] nwl opened #21301 "Syncing via SFTP External Storage fails for files with hash character"
Server: 8.2.1 on Ubuntu 14.04
Client: 2.1.0 OSX 10.10

I have user-mounted external storage via SFTP.

On the external storage server, there is a file which contains a # in the filename:

Radio_#1.txt

On the client, it reports Service Unavailable while trying to download it:

Error downloading https://...../webdav/Radio_%231.txt - server replied: Service Unavailable

Removing the # from the filen

[2015-12-19 01:07] Xenopathic commented on #21301
Confirmed on current master

cc @bantu

[2015-12-19 05:01] roman2025 commented on #19959
Big thanks timreeves!

Your solution seems to have done the trick in fixing the pathing issues apparently introduced in 8.2 (excuse my ignorance, I am not a php pro)

My final crontab entry looked something like this (based on default oc install):

*/15  *  *  *  *  cd /var/www/owncloud/ && php -f ./cron.php

I had a bit of trouble getting it right based on what you provided so I am providing mine

[2015-12-19 08:18] MorrisJobke commented on #19959
Ah...I guess what went wrong: We should also check if the cron.php is run with the correct user. I will open a ticket for this.

[2015-12-19 08:19] MorrisJobke opened #21303 "Verify that cron.php is run with correct user"
Do something like https://github.com/owncloud/core/blob/d0cb4c9ab3db8dce7c2e31bd45f7e74b9c80345b/console.php#L52-L65 in cron.php

This makes stuff like #19959 not possible anymore - and as you see this was quite hard to debug and detect.

[2015-12-19 08:20] MorrisJobke commented on #21303
@PVince81 @rullzer @DeepDiver1975 What do you think?

[2015-12-19 08:23] MorrisJobke commented on #19959
see #21303

[2015-12-19 09:46] RealRancor commented on #21303
@MorrisJobke Mhhh, there is already such a check: https://github.com/owncloud/core/blob/v8.2.1/cron.php#L86-L100

[2015-12-19 14:29] sameersbn commented on #21298
I managed to recover the installation by reverting to owncloud 8.0.3 and restoring the `file_encryption` keys from the `encryption_backup_` folders that are present in the `ocdata` folder and the user folders. I will be downloading all the files and setting up owncloud from scratch before uploading all the files.

[2015-12-19 14:29] #21298 closed

[2015-12-19 15:02] rullzer commented on #21303
That is not true. That still could have happend then.

[2015-12-19 15:43] roman2025 commented on #19959
I think cron.php does check if the correct user is running it because if I try to run it from the root user account it barks at me and tells me it will only run from the account used by my web server.

[2015-12-19 15:59] timreeves commented on #19959
I agree with @roman2025 - I got my problem solved without changing the user id being used, which was and remains correct. Looks more to me like a relative path is being used somewhere rather than an absolute one, making things dependent on the CWD which the job is called with.

[2015-12-19 19:41] DeepDiver1975 commented on #17693
no - why?

From my pov the reduction of http requests is still a big benefit.
Furthermore this was explicitly added upon user request -> case closed

[2015-12-19 19:41] #17693 closed

[2015-12-19 20:27] brevilo commented on #18502
What's the state of this? I also get this error with a fresh install of 8.2.1 (using MySQL 5.1) and OSX sync client 2.1.0. The previous workaround of setting `filesystem_check_changes` = 0 is obviously ineffective since that's its default value since 8.2.

Also, what's the actual impact of this bug?

[2015-12-19 22:27] benmaynard11 opened #21304 "Feature Request: BackBlaze B2 External Storage"
I know that there are already a wide range of supported External Storage Services, however BackBlaze B2 is now available to the public and is really cheap for storage.

Would be great to see this implemented into OwnCloud.

https://www.backblaze.com/b2/cloud-storage.html

It has a set of API's, so should be fairly easy to implement?

[2015-12-20 02:10] bdwinsalt opened #21305 "Language Issues"
OwnCloud does fine to detect the system language, but when changing the language in the personal profile area it does not change the language for OwnCloud entirely.  There is a single section in the admin panel where the AJAX/Cron settings are that shows up in Spanish and that's it.  Haven't tried other languages, but did try all forms of Spanish supported.

My iPad is set to Spanish and it shows

[2015-12-20 05:05] elliott38 opened #21306 "Cannot connect ldaps"
I am having issues connecting ownCloud to my ldap server using ldaps. Device syncs fine using standard ldap, but as soon as i add ldaps:// to the server name field and change the port to the correct ldaps port, i get a message at the top of the screen stating "Lost connection to LDAP server" and "Configuration Incorrect" at the bottom of the ldap field.

ownCloud is currently running on a Synology

[2015-12-20 09:06] aspdye commented on #21304
Sounds principle not bad.
Unfortunately B2 supports apparently not the API's of S3 or any other backend we have already integrated in app:files_external (SFTP, WebDAV, SMB ...) :(

... so would have to be built here a separate backend into the app:files_external. Of this I advise currently off because Blaze Black B2 is still in public beta, and there may still be changes in the service (and its AP

[2015-12-20 09:11] aspdye commented on #21306
Looks like an individual problem with your configuration. Try to ask in the forum (forum.owncloud.org), or find other support options: https://owncloud.org/support/ ;)

There are higher chances to get help, because you may find there people who ever had a similar problem;)

[2015-12-20 09:18] iacopodeenosee commented on #20697
same issue here, upgrade OC from 8.1.4 to 8.2.1
### Steps to reproduce
1. open in th broswer the web interface of OC
2. try to upgrade to version 8.2.1 by cliccking start the upgrade
3. send me to this error message page

### Expected behaviour
it should be upgrade to verion 8.2.1

### Actual behaviour
upgrade fails and i can not access to the admin page anymore

### Server configuration
**Operati

[2015-12-20 10:11] LukasReschke commented on #21095
Patch is at https://github.com/owncloud/core/pull/21308

[2015-12-20 11:38] xaviermiller opened #21309 "Caldav is not compatible with PHP7"
Hi!

After the upgrade to PHP7, we lost the calender in our Android clients.

see also https://owncloud.org/blog/php-7-is-here-and-owncloud-is-ready/comment-page-1/#comment-71288

[2015-12-20 11:49] RealRancor commented on #21309
@xaviermiller CalDAV / CardDAV is handled within the issue tracker of the Calendar or Contacts app. At the issue tracker of the calendar app you can find an existing report about that:

https://github.com/owncloud/calendar/issues/1002

[2015-12-20 11:53] xaviermiller commented on #21309
Sorry, I didn't find this issue before I posted.

The updated sabre file fixes the problem for me.

[2015-12-20 11:53] #21309 closed

[2015-12-20 11:54] aspdye commented on #21309
The Question is wether this also happens with the CalDAV/CardDAV Implementation of the current ownCloud Core Master. If yes, it would be also an Core Problem ;)

[2015-12-20 12:36] DeepDiver1975 commented on #21309
No - core is php7 ready

[2015-12-20 12:56] #21306 closed

[2015-12-20 13:48] Xenopathic commented on #21304
This should be implemented as an app that implements the required storage interface for ownCloud. You might want to look for a PHP library if you are looking to implement it.

[2015-12-20 13:48] #21304 closed

[2015-12-20 13:49] Xenopathic commented on #21305
Fixed in #20993? cc @nickvergessen

[2015-12-20 16:09] tigermick commented on #21173
Any news to fix this problem please ?

[2015-12-20 16:27] nickvergessen commented on #21305
Yeah should be fixed in 8.2.2 which will be released soon

[2015-12-20 16:27] #21305 closed

[2015-12-20 18:22] mohamedhagag commented on #21270
in my case the user name is a full email with dots and \@ .
and we are not able to login.

any proposed patches or fixes ?

[2015-12-20 18:49] karlitschek commented on #21301
@icewind1991

[2015-12-20 20:29] aspdye commented on #18847
There are many other ways for staying up to Date:

-Twitter (@ownclouders)
-Facebook (ownClouders)
-RSS Feed of the Websites Blog (ownCloud.org)

and as @deepdiver1975 already said: the Mailing List 😉

[2015-12-20 21:19] nwl commented on #21301
Also, as a separate issue, the failure is blocking too. It won't progress on any other file syncing once it hits the error.

[2015-12-21 01:27] JBear7 commented on #21242
The mysql server is available, every time I run the occ upgrade owncloud adds a new table to the database then chokes trying to DROP it.

Here is the list of tables,
MariaDB [ownclouddb]> show tables;
+-------------------------------+
| Tables_in_ownclouddb          |
+-------------------------------+
| oc_activity                   |
| oc_activity_mq                |
| oc_appconfig

[2015-12-21 06:51] MorrisJobke commented on #21242
@JBear7 Did you tried this to fix at least following error:

[code]

[2015-12-21 06:54] #20257 closed

[2015-12-21 07:10] MorrisJobke commented on #20293
Yes. The packages now doesn't run the `occ upgrade` step anymore, because it caused a lot of trouble. I will try to get more details and then send an email to devel@.. and user@... mailing list.

AFAIK this was ported to all available packages during the last maintenance release cycle.

[2015-12-21 07:10] #20293 closed

[2015-12-21 07:10] MorrisJobke commented on #20293
cc @jnweiger ^

[2015-12-21 08:25] #21095 closed

[2015-12-21 08:47] #20399 closed

[2015-12-21 08:56] davitol commented on #21227
Trying to share a file with a shib user:
(oC8.2.2 shib autoprov -> oC 8.1.5 'standard user') :X:

oC 8.2.2. owncloud.log

[code]
{"reqId":"Y6PvTwxXqYLmSGEl62Ca","remoteAddr":"82.159.139.58","app":"PHP","message":"Argument 3 passed to OC\\Hooks\\BasicEmitter::listen() must be callable, array given, called in \/opt\/owncloud\/apps\/files\/ajax\/scan.php on line 50 and defined at \/opt\/owncloud\/lib

[2015-12-21 09:20] PVince81 commented on #20864
Thanks for the details, this looks correct.
Running the commands twice should not cause any bug.

@schiesbn is there something wrong maybe with the detection of files which are not encrypted ? How is that detection done ?

@hlx98007 can you do this: `select * from oc_filecache where path like 'files/%' and encrypted = 0` ?
If all goes well it should show a list of all non-encrypted files. I think

[2015-12-21 09:29] PVince81 commented on #18502
@brevilo do you have a log with stack trace ? Could help finding out which code path led to this.

With "filesystem_check_changes" set to 0 and transactional file locking enabled (default enabled in 8.2.x) this shouldn't happen any more.

[2015-12-21 09:35] PVince81 commented on #20697
@iacopodeenosee thanks for the details.
I see it happens when repairing legacy storages. Strange.

Can you post your "oc_storages" table from before the upgrade ?
It looks like it was trying to repair old entries but the commit failed.

[2015-12-21 09:41] PVince81 commented on #21227
Ah, interesting... whenever it tries to connect to the remote shared storage, it actually lands on the IDP instead of ownCloud.

Do public link shares work ?
Maybe something in the SSO config needs to allow connecting to "public.php/webdav" without redirecting to the IDP ?

[2015-12-21 09:42] PVince81 commented on #21227
not sure if this is something to be configured on the SSO config side or the shibboleth app ?
@DeepDiver1975

[2015-12-21 09:44] PVince81 commented on #21301
It's not special characters, it's the **hash** character.
Umlauts and co should work fine.

See https://github.com/owncloud/core/issues/11692#issuecomment-147755904

Let's keep this ticket open to track the issue, because the linked issue is more about unit tests.

[2015-12-21 09:45] PVince81 commented on #21301
This is an upstream issue in phpseclib: https://github.com/phpseclib/phpseclib/issues/778
Unfortunately no workaround on ownCloud side works because if we pre-encode the hash the file name will stay encoded when arriving on the SFTP storage.

[2015-12-21 09:48] PVince81 commented on #21285
This PR should fix it https://github.com/owncloud/core/pull/21093

[2015-12-21 09:48] PVince81 commented on #21285
@mmattel mind helping test and review that PR ? If it fixes your issue then we can merge it.

[2015-12-21 09:51] PVince81 commented on #21276
@trinhvanhuy please use the issue template: https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

Important missing information: your ownCloud version and also the matching logs.

Uploading through Webdav PUT in the browser should work already, so not sure why your files aren't fully uploaded.

[2015-12-21 09:54] PVince81 commented on #21271
Did you disable encryption on the Google Drive storage ?

I see you have encryption enabled and by default it would encrypt files on Google Drive too, unless you disabled it for that storage in the mount options.

You are saying that files were uploaded directly to Google Drive without going through ownCloud, so the Google Drive should report the correct mime type (unless the files are encrypted..

[2015-12-21 09:58] PVince81 commented on #21270
@mohamedhagag also LDAP ?

[2015-12-21 09:58] PVince81 commented on #21270
I tested v8.2.1 without LDAP and a user called "user-1" and another one called "user@2" can log in properly. So I suspect a LDAP issue.

@blizzz can you help ?

[2015-12-21 10:01] PVince81 commented on #21256
Duplicate of https://github.com/owncloud/core/issues/20090.

Please try again with 8.2.1 where this was fixed already https://github.com/owncloud/core/pull/20245

[2015-12-21 10:02] PVince81 commented on #21252
@Dianafg76 any server logs ?

@davitol already posted some here https://github.com/owncloud/core/issues/21227#issuecomment-165101455

[2015-12-21 10:19] musaa32 commented on #21256
it's similar but not the same error.
Anyway seems to work in 8.2.1

[2015-12-21 10:21] PVince81 commented on #21256
Yeah, there might be multiple code paths leading to the same error.
Glad to hear the fix worked for you.

CC @blizzz

[2015-12-21 10:35] musaa32 commented on #21256
but I got an error in the admin page in 8.2.1 (504 Gateway Timeout with nginx) and fixet it with this change in the config file:
[code]
I can't see anything in the log files too? is there a fix for this issue?

[2015-12-21 10:38] cedriccarbone commented on #14157
It seems this bug for MS Office files is still in Owncloud **8.2.1** (released on November 18 2015). Do you have any ETA to get a patch or a fix on a maintenance release? Thanks a lot!

[2015-12-21 10:39] DeepDiver1975 commented on #14157
There are currently no plans to fix this. Sorry

[2015-12-21 10:40] cedriccarbone commented on #14157
thanks @DeepDiver1975 for your quick answer

[2015-12-21 10:42] PVince81 commented on #21256
@musaa32 different issue => please raise a separate ticket

[2015-12-21 10:43] PVince81 commented on #21256
you might want to search the forums first as it might be a known setup issue with nginx, see https://owncloud.org/support/

[2015-12-21 10:52] JBear7 commented on #21242
Yes I made that change in /etc/mysql/my.cnf.

MariaDB [ownclouddb]> show variables like 'binlog_format';
+---------------+-------+
| Variable_name | Value |
+---------------+-------+
| binlog_format | MIXED |
+---------------+-------+
1 row in set (0.00 sec)

MariaDB [ownclouddb]>

[2015-12-21 11:11] brevilo commented on #18502
@PVince81 no, unfortunately not, and in the meantime I dropped server-side encryption (reinstalled ownCloud) because of this. Now using client-side encryption. No errors so far so this might indeed be a side-effect of using server-side encryption.

[2015-12-21 11:14] rullzer commented on #16594
Assigning to myself so I don't forget this for sharing 2.0

[2015-12-21 11:59] blizzz commented on #21270
Fix is here, needs a reviewer https://github.com/owncloud/core/pull/20804

[2015-12-21 12:19] fossxplorer commented on #9832
@riku2015
"There is no way (according google) that nginx can stream directly from browser using put command to php5-fpm. it always go to cache first. if someone not agree please tell me a url of instruction how to switch it off. this is kind of problem cause a 1gig file can take up to 3gig disk space while transfer.."

Are you talking about buffering in Nginx? It can be turned off both for Nginx p

[2015-12-21 12:22] PVince81 commented on #9832
@fossxplorer the browser uses POST, not PUT. POST is more likely to land in PHP temp space.

I think it was about the sync client or regular Webdav clients ?

[2015-12-21 13:19] PVince81 commented on #11792
I added the "Local". Someone reported on IRC that they had a NFS or something mounted to a data folder, then mounted inside OC as a "Local" external storage.

Maybe to detect such unavailable cases, OC could write a file ".ocdata" there at init time. Then later if all files disappeared, check if ".ocdata" is still there. If yes: files were really deleted. If not: mount point is missing. This assum

[2015-12-21 13:25] Xenopathic commented on #11792
@PVince81 That will only work for the situation where the mount gets unmounted for whatever reason, which is clearly a serious system issue (and so should be handled at the system level). Usually though, NFS will block read/writes if the server goes down, so ownCloud will just hang instead of continuing. Eventually an error will be reported back to ownCloud, which should trigger the unavailability

[2015-12-21 13:49] musaa32 commented on #21256
sorry but I still get the error in the console if I want to rescan my files with
[code]
PHP Fatal error:  Call to a member function processAttributes() on a non-object in /owncloud/apps/user_ldap/lib/access.php on line 717

[2015-12-21 13:55] PVince81 commented on #21256
Okay, I'll reopen it then.
Is there more to the error message like a stack trace ?

CC @blizzz

[2015-12-21 13:59] paolotws commented on #20962
In my fresh 8.2.1 installation was missing a " OCA\Activity\BackgroundJob\EmailNotification" record into the oc_jobs table. This record was present in an updated (8.2.1 from 8.0) installation on another server.
I solved the problem with the following query in my db:
insert into oc_jobs (class,argument) values ('OCA\Activity\BackgroundJob\EmailNotification','null');
bye

[2015-12-21 14:01] blizzz commented on #21256
@musaa32 this is fixed with https://github.com/owncloud/core/pull/20804 but needs to be tested and reviewed (→ you are invited :) )

[2015-12-21 14:01] musaa32 commented on #21256
No only the Exception below.
owncloud.log
[code]

[2015-12-21 14:09] musaa32 commented on #21256
@blizzz

https://github.com/owncloud/core/commit/9487cb95f385f249a6aaa1912f425c002b780a83

I guess I only need the changes in apps/user_ldap/user_ldap.php and apps/user_ldap/lib/access.php
right?

[2015-12-21 14:14] httng commented on #17563
There will never be a 'peak in demand' for this. It's a strategic decision to implement this as a Unique Selling Point: Many Enterprises will love to have one client that gives them access to all their files, regulated by a nice RBAC implementation. By adding a CMIS connector that is able to retrieve files from a Document Management System, Owncloud gains value for Enterprises.

I'd like it for my

[2015-12-21 14:38] marschal commented on #14886
I'm also hosting at STRATO and having this problem. The best solution I camed across is to change my hoster, what I'll definitely do.

But during the period you can cancel your conctract **what you can try** is the following:
- In the `base.php` simply return after these lines your tmp directory like this:

    	function get_temp_dir() {
		if ($temp = ini_get('upload_tmp_dir')) return $temp;
		if

[2015-12-21 15:00] brozkeff commented on #20769
I performed exactly the test as PVince81 outlined in Steps to reproduce at the beginning on a cloned production VPS where I upgraded owncloud from 7 (production version) gradually to 8, 8.1, 8.2.1 and then switched repository to 8.2 testing and upgraded via sudo apt-get update && sudo apt-get install owncloud to 8.2.2~RC1-24.1

After logging as user2 I see the text file twice:
 - in the root folde

[2015-12-21 15:06] PVince81 commented on #20769
@brozkeff in your screenshot you ask "shouldn't it be the same ?".

I think the activity app will not be notified of the special manipulation that was done internally, so the activity you see here might still be the old one. I'm not sure whether this is fixable. Maybe a new activity should be created after the reparenting operation, if possible ? (something for a separate ticket though)

CC @nickv

[2015-12-21 15:11] PVince81 commented on #12097
@DeepDiver1975 does https://github.com/owncloud/core/pull/20118 cover a bit of that ?

[2015-12-21 15:18] brozkeff commented on #15591
I tested the Steps on owncloud 8.2.2~RC1-24.1 on Ubuntu 14.04 server.

Results:

"test2" DOES appear in the file list for "user3" correctly. User3 does NOT see whole folder "test" but only the subfolder including some text file.

The only error I see is that the UI for user2 shows in the "Shared with others" list, as if whole folder "test" was "shared with user3", in details of user2 on the right

[2015-12-21 15:43] hlx98007 commented on #20864
@PVince81 I still have `1101 rows in set (0.04 sec)` after doing all previously mentioned steps.

[2015-12-21 16:04] iacopodeenosee commented on #20697
something like that?
![schermata del 2015-12-21 16-58-54](https://cloud.githubusercontent.com/assets/4881584/11934792/87897eb4-a804-11e5-88ab-adf6f8f374bf.png)
how can i solve this kind of problem? reset all of this field? thx

[2015-12-21 16:17] PVince81 commented on #20697
Hmm, your storages table looks fine. The legacy storage repair code shouldn't actually do anything.

As a workaround you could mark the repair as already done:
`insert into oc_appconfig (appid, configkey, configvalue) values ('core', 'repairlegacystoragesdone', 'yes');`

Which OC version did you start with ? Did you ever upgrade to OC 8.0 before ? That's the moment where this repair step was suppo

[2015-12-21 17:04] iacopodeenosee commented on #20697
i don't know:
[code]

NO

after i do your workaround, the upgrade works well, but i lost all the files and the apps I had previously loaded, not a drama because I have a backup but it seems fair to write it. thx

[2015-12-21 17:07] PVince81 opened #21315 "Unit test without database cannot properly throw errors"
### Steps
1. Create a unit test that extends from "TestCase"
1. Do not enable database access
1. Create a test that does a failed assertion: `$this->assertTrue(false);`

### Expected result
Error displayed properly in console

### Actual result
No error, but console shows "Your test case is not allowed to access the database."

This makes it very hard to debug errors in tests while developing them

[2015-12-21 17:15] PVince81 commented on #21315
Fix here https://github.com/owncloud/core/pull/21316

[2015-12-21 17:24] guruz commented on #20412
See also https://github.com/owncloud/client/issues/4299#issuecomment-166352514

[2015-12-21 17:53] paolosg commented on #21271
Sorry I wasn't too clear on this point.

The issue comes up when uploading files to a Google Drive folder using the desktop sync client (not direclty to GD without going through ownCloud): in this case ownCloud apparently loses the mime type information and files are reported (and thus opened) as text in the OC web interface.

Everything works as expected when uploading (to a GD folder) using the

[2015-12-21 17:53] #21315 closed

[2015-12-21 18:04] nwl commented on #21301
@PVince81 Thanks for the update.

However, It does sound like an ownCloud issue that it blocks on this failure, rather than continues and just logs the sync on those specific files as having failed.

[2015-12-21 18:10] PVince81 commented on #21301
Right, the problem here with "blocking the next files after error" is that it returns "Service unavailble", probably internally a `StorageNotAvailable` exception.

It should probably return a proper error instead, like NotFound or something. Seems like a case of "error is mistakenly interpreted as StorageNotAvailable".

[2015-12-21 18:11] PVince81 commented on #21271
@paolosg thanks for the clarification. However the sync client doesn't do anything with the mime type.

The only difference between the web UI and sync client is that the web UI uses different internal endpoints while the sync client uses Webdav. So I suspect that something is wrong with the Webdav endpoints.

[2015-12-21 18:13] nwl commented on #21301
Should I file a separate bug for that?

[2015-12-21 18:13] PVince81 commented on #20697
Third party apps are disabled by default, you need to reenable them manually in the admin page. That's expected behavior.

I only wonder why the repair step failed even though there was no data to commit.
Leave this ticket open to investigate.

[2015-12-21 18:14] PVince81 commented on #20697
and actually that repair step doesn't even need to run if the OC instance was never in a pre-OC-8.0 state, because that's the place where the old entries were created.

Maybe we should just discard this repair step in all versions above 8.0.

[2015-12-21 18:14] PVince81 commented on #21301
I'm fine with keeping this current ticket to track that. Thanks.

[2015-12-21 18:27] ryno83 opened #21317 "Links to doc in admin.setupcheck open in the same window"
### Steps to reproduce
1. Disable something checked by setupchecks.js (for exemple memcache)
2. Open ownCloud admin page
3. See the message about no memory cache enable.
4. The link to the documentation open in the same window

### Expected behaviour
The link should open a new windows (target="_blank") like many other messages on the same page.

[2015-12-21 19:22] karlitschek commented on #21317
Good catch. Do you want to open a pull request?

[2015-12-21 19:28] JBear7 commented on #21242
Here is one of the more resent errors:

root@Horton:~# sudo -u www-data php /var/www/owncloud/occ upgrade -vvv
ownCloud or one of the apps require upgrade - only a limited number of commands are available
2015-12-21T00:16:41+00:00 Set log level to debug - current level: 'Debug'
2015-12-21T00:16:41+00:00 Repair step: Repair MySQL database engine
2015-12-21T00:16:41+00:00 Repair step: Repair MySQL c

[2015-12-21 19:44] ryno83 commented on #21317
Pull Request here #21318

[2015-12-21 21:07] silicon11 commented on #21270
While I am not discounting this couldn't be the issue, my particular user does have a displayName attribute, it just does include a hyphen. I tried removing the hyphen and didn't seem to have any effect.

[2015-12-21 21:16] mmattel commented on #21285
@PVince81
will do, but earliest on Wednesday 23rd morning time, as I am currently on a business trip.

[2015-12-21 21:37] mohamedhagag commented on #4547
@blizzz anyway to get zimbra or custom Group-Member attribute ?

any solution ?

[2015-12-21 21:40] mohamedhagag commented on #21270
I did re-installation with zimbra LDAP and authentication worked fine now - it was my fualt that it needs the ldap root / admin to be able to get passwords and  I was trying with normal user.

[2015-12-21 21:43] mohamedhagag commented on #21270
@blizzz can you please help in the Group-Member mapping attribute ? i mentioned you there, it's an old enhancement suggestion but it's will be more than welcome as OC gets spreading .

[2015-12-21 21:54] dl8bh opened #21319 "encryption module not working with fresh installation, no openssl warning"
I installed OC 8.2.1 following the instructions. When I activated the encryption, the " Encryption App is enabled but your keys are not initialized, please log-out and log-in again" does not disappear after logging out/in several times.

[2015-12-21 21:55] mohamedhagag commented on #21270
sorry, it's my weak memory, I remembered that It worked fine after I set displayName for all users in the LDAP , so this is why it worked.

[2015-12-21 22:17] binarykitchen opened #21320 "Doctrine: UniqueConstraintViolationException"
### Steps to reproduce
Go to owncloud admin and check the log.

(also, you can reproduce when you attempt to upload a couple of pictures directly into a folder)

### Expected behaviour
There are no log entries when uploading pictures.

### Actual behaviour
Here is the error that appears hundred times in the log:

[code]

Maybe it says something?

### Server configuration

[code]

[code]

Web serve

[2015-12-21 22:47] DeepDiver1975 commented on #21320
@icewind1991

[2015-12-21 22:56] karlitschek commented on #21319
Can you post a full bug report using the issue template please? https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

[2015-12-21 22:56] karlitschek commented on #21319
@schiesbn

[2015-12-22 06:31] er47 commented on #20962
Thanks paolotws! This solved my problem. I upgraded from 8.1 to 8.2.1 and didn't get any activity emails anymore.

[2015-12-22 06:52] rroseselavy42 opened #21321 "Group menu bar in user page will show in all parts of the page"
### Steps to reproduce
1. Open user page
2. Scroll down
3. click group menu

### Expected behaviour
Tell us what should happen
menu options should appear above or below where clicked on menu
### Actual behaviour
Tell us what happens instead
Menu appears in semi random places on screen
### Server configuration
**Operating system**:
 Debian 8.1
**Web server:**
 Apache 2.4
**Database:**
 MariaDB
**PH

[2015-12-22 08:51] MorrisJobke commented on #21321
cc @blizzz for user management

@PVince81 @rullzer This is afaik our own implementation of a selection drop down which is quite hard to maintain.

[2015-12-22 08:56] PVince81 commented on #21321
Yes, that's the multiselect... doesn't behave properly on scroll.

Duplicate of https://github.com/owncloud/core/issues/20503

[2015-12-22 08:56] #21321 closed

[2015-12-22 10:09] DeepDiver1975 opened #21322 "stable8.1 nightly tar is corrupted"
[code]

[2015-12-22 10:10] DeepDiver1975 commented on #21322
@cmonteroluque @karlitschek

[2015-12-22 10:21] jvillafanez commented on #21322
daily tars for stable8.2, stable8 and stable7 are also affected

[2015-12-22 10:38] fossxplorer commented on #9832
@PVince81
 @riku2015 wrote the following "Nope they are not streamed, i guess its nginx issue. it takes to cache(memory+hdd if you don't change setting), then when file is ready it streams to php5-fpm to the temp directory of php5 then after that it move to final destination. i was able yesterday find that out after researching and experimenting. "

So there are buffering at multiple places when u

[2015-12-22 11:43] cmonteroluque commented on #18225
@PVince81 ok to have a look, yeah

[2015-12-22 11:44] joakinen opened #21326 "Feature Request: restriction per-user for external storage configuration"
Is there any way to restrict the user external storage configuration feature on a per-user basis? I would like to make this feature available for my IT staff so that they can connect to new resources but not for standard users which will use only preconfigured connections. The options I see only allow an all-or-none scenario.

Posted in forum as a question [here](https://forum.owncloud.org/viewtop

[2015-12-22 11:46] dl8bh commented on #21319
I solved the issue, missing openssl.conf for FreeBSD port.
Found the hint when looking into the logfile for this bugreport.
A hint in the UI would have been great, see attached bugreport.

### Steps to reproduce
1. Install OC 8.2.1 on FreeBSD 10.1 with openssl port
2. don't have a openssl.cnf installed
3. enable encryption

### Expected behaviour
Encryption should work without openssl.conf or at l

[2015-12-22 12:26] cmonteroluque commented on #21164
fixed now

[2015-12-22 12:26] #21164 closed

[2015-12-22 12:28] cmonteroluque commented on #21322
file system was full. Currently working on that... @karlitschek @jvillafanez

[2015-12-22 12:37] karlitschek commented on #21322
O.K. Thanks @cmonteroluque I also started to look into it too. :-)

[2015-12-22 12:40] chriseqipe commented on #18225
@cmonteroluque the problem why a occ command is not a practical solution, is that you need to have the password from the user having problems with wrong sized files. Only the owner of the files should do the repair. Private key is encrypted with users password and will be decrypted when user logs into the web client. Decrypted private key then resides inside the user session (how cool that is is a

[2015-12-22 12:40] danimo commented on #21322
@karlitschek @cmonteroluque I'll make it so that files with the group "attic" will be moved to a vhost called "attic.owncloud.org". It won't be mirrored, but it can grow in space without much issue and we have an archive.

[2015-12-22 12:47] cmonteroluque commented on #21322
@danimo great, thanks

[2015-12-22 13:13] martin-rueegg opened #21327 "ubuntu 14.04 server package missing /ocs-provider/"
note: as my message from 12.12.2015 to both packaging@owncloud.org and the package maintainer remained unmoderated and unreplied respectively, i hope this issue finds more attention.

-----
Subject: 	ubuntu 14.04 server package missing /ocs-provider/
Date: 	Sat, 12 Dec 2015 17:00:55 +0000

i've been looking for any package related issue tracker but only found this mailinglist. so i hope, it's ok t

[2015-12-22 13:28] MTRichards opened #21328 "Sharing API Support for Federated Sharing"
Checking the current API, it looks like the sharing API does not reply with remote users.

As a user, I would like to be able to leverage sharing on the desktop and the mobile device to share with users on federated ownCloud instances, so that I can fully leverage ownCloud federation.

Acceptance Criteria:
- API response identifies remote users so they can be displayed as such
- Duplicate users ar

[2015-12-22 13:45] #21328 closed

[2015-12-22 13:54] aleishman01 opened #21329 "Dragging a folder to a share in the web interface works with Chrome but not Internet Explorer or Firefox: Error Unable to upload xxx as it is a directory or has 0 bytes"
### Steps to reproduce
1. Make a publicly shared folder in ownCloud
2. Open the share link (while not logged in)
3. Drag a folder to the share using either Firefox or Internet Explorer

### Expected behaviour
I would expect the folder and its contents to be uploaded to the share

### Actual behaviour
This only works with Chrome.

### Server configuration
Debian Linux 9.0
Linux 3.16.0-4-686-pae on

[2015-12-22 14:08] PVince81 commented on #21329
Chrome is the only browser that implement dragging folders, nothing we can do.

Regarding the error message, there is a ticket to improve the message at least: https://github.com/owncloud/core/issues/17788#issuecomment-125265470

[2015-12-22 14:08] #21329 closed

[2015-12-22 14:09] PVince81 commented on #21327
@jnweiger @cmonteroluque

[2015-12-22 14:10] PVince81 commented on #21327
For OC 8.2, have a look at the stable8.2 branch instead: https://github.com/owncloud/core/tree/stable8.2/ocs-provider
The folder exists there too.

[2015-12-22 14:19] PVince81 commented on #21327
@martin-rueegg thanks for your report.

This folder will be included in future builds of the owncloud-server package.

It seems to be only missing from the Ubuntu package (I didn't check, but that's what you said). On my server I have the openSUSE package for 8.2.2 RC1 and the folder is there.

Note that the absence of this folder should not break any features, as it is only used for future client

[2015-12-22 14:24] PVince81 commented on #14757
Actually with the new locking this should not happen any more.

But if you observed it on 8.2.0 where the new locking exists, then there might be an additional issue.

[2015-12-22 14:25] PVince81 commented on #21319
Setting to enhancement to add a visual hint in the UI when openssl is missing.

@schiesbn

[2015-12-22 14:27] PVince81 commented on #21317
@ryno83 thanks!

[2015-12-22 14:28] martin-rueegg commented on #21327
@PVince81, you're welcome

no, i actually did not say, "only ubuntu packages are affected". i said, that i only checked ubuntu 14.04 package, and others (maybe only ubuntu) packages *might* be affected to.

as i could not find any building scripts, i cannot verify. so i leave that up to the package maintainers to check.

yes, the folder exists in the git repository, on branch 8.2.1 as well as 8.2.

[2015-12-22 14:34] riku2015 commented on #9832
how to disable cache on uploads? i managed yes to change tmp directory and there i see file growing while upload(cache), but turn it of to go direcly to php-fpm was not able. im running latest nginx 1.9.7.

at moment im using samba for uploads as last resort, it works fine but as oc manual says never should direcly upload file to directory. but uploading example a 8gig file via webdav will take 3x

[2015-12-22 14:44] davidak opened #21332 "LDAP connection not working anymore"
### Steps to reproduce
1. open admin backend
2. ldap connection don't work but it worked a day before with exact the same settings

### Expected behaviour
working ldap connection to get the users from

### Actual behaviour
get a red indicator and the message "Konfiguration nicht korrekt"

the server is in a local network at the customers site, access is possible through a proxy: i can open "drive.

[2015-12-22 15:15] bboule commented on #19988
@PVince81 @MTRichards Thoughts?  I had added a milestone but it looks unassigned to anyone how shall we proceed?

[2015-12-22 15:25] js94x commented on #18786
Same error here. Upgraded 8.0.4 to 8.1.4 to 8.2.1 this morning and after creating a file via Ownnote in web-gui my server throws this exception.

[code]

[2015-12-22 15:25] PVince81 commented on #19988
It is still not clear what exactly should be done.
Is there a final decision which approach we want to implement ?

I need to take some time to understand the thread, it is very confusing due to the many different possible combinations of scenarios and different client behaviors.

@icewind1991 do I understand it correctly that in the case of "unlimited (no quota)" the value will be -1 and in the c

[2015-12-22 15:26] MTRichards commented on #19988
@cmonteroluque Question is one of capacity. Do we have capacity?

I would say unlimited quota, rather than no quota. It is better grammar:
 You have used 176 MB of the available unlimited quota.
or
 176MB of the available unlimited quota.

This will work in both desktop and server.

[2015-12-22 15:30] PVince81 commented on #19988
So at least 4 scenarios: (on the top of my head, not tested)
1) Storage does not report free disk space, no quota set => reports as unknown
2) Storage does not report free disk space, quota set to 100 MB => reports as 100 MB
3) Storage reports free disk space, no quota set => so far the actual free disk space is reported. So if the HDD has 100 GB free, OC will report 100 GB free
4) Storage reports

[2015-12-22 15:32] carlaschroder commented on #21164
Hurrah!

[2015-12-22 15:35] jnweiger commented on #21327
there seems to be a new folder, that is not yet listed in the *.install files.

[2015-12-22 16:02] ryno83 opened #21335 "PHP Fatal error: Call to undefined function OC\Security\random_int()"
### Steps to reproduce
1. After git pull --rebase on my dev install
2. Console command: php occ upgrade (All occ command I tried throw this error)
3. White page on web frontend

### Expected behaviour
Should work I guess

### Actual behaviour
[code]

### Server configuration
**Operating system**:`debian8 jessie

**Web server:**apache 2.4

**Database:**mysql

**PHP version:**5.6

**ownCloud version

[2015-12-22 16:07] rullzer commented on #21335
Did you update the 3rdparty submodule?

```git submodule update```

[2015-12-22 16:38] ryno83 commented on #21335
@rullzer Thank you for your comment. I updated the submobule but nothing changed. So, I deleted my dev install and recreated it. My problem is now solved but I don't know what happen !

[2015-12-22 16:38] #21335 closed

[2015-12-22 16:53] karlitschek commented on #21332
@blizzz any idea?

[2015-12-22 18:05] jnweiger commented on #21327
Submitted fix of debian.owncloud-server.install
https://s2.owncloud.com/package/rdiff/ce:8.2/owncloud?linkrev=base&rev=11

@cmonteroluque Build release number 8.2.2-26.1 in https://download.owncloud.org/download/repositories/8.2:/testing/owncloud/ has the fix.

Everything else is post-8.2.2, as just discussed. Okay?

[2015-12-22 18:20] PVince81 commented on #21327
@jnweiger can you double check the 8.1 packages too, just in case ? Git tells me that the folder also exists in stable8.1 (but not stable8)

[2015-12-22 18:20] e-alfred opened #21337 "Delting huge directory (25GB, 50 000 files) over webinterface impossible"
### Steps to reproduce
1. Sync huge directory (for example Git or SVN-Repository, 20+ GB, 50 000 Files) into Owncloud.
2. Try to delete this directory in the Webinterface using a browser.
3. (Not exactly necessary) Log out or close the session in the browser while deletion is still ongoing.
4. (Just for error confirmation) The problem exists even after disabling the trashbin app.
### Expected beha

[2015-12-22 18:25] jnweiger commented on #21327
Thanks @PVince81 for the hint. Also done for 8.1 https://build.opensuse.org/package/rdiff/isv:ownCloud:community:8.1:testing/owncloud?linkrev=base&rev=77

available for download at https://software.opensuse.org/download.html?project=isv%3AownCloud%3Acommunity%3A8.1%3Atesting&package=owncloud

when rebuilds are done.

[2015-12-22 18:50] rullzer commented on #21337
Basically this happens because we do a synchronous delete. Which well just times out.

CC: @icewind1991 @PVince81 something we eventually have to look into

[2015-12-22 19:11] rullzer commented on #5868
I can't reprodce this anymore. The user page does not even shot the bug anymore and the subadmin stuff should not also properly handle this.

@PVince81 please confirm and close ;)

[2015-12-22 19:27] rullzer commented on #15567
Also relevant: https://www.microsoft.com/en-us/WindowsForBusiness/End-of-IE-support

[2015-12-22 19:30] MTRichards commented on #15567
Jan 21 seems like a good time to up the minimum to IE 11.

[2015-12-22 19:47] guruz opened #21338 "Agree and document that we want "proxy_request_buffering off" in nginx_configuration.html?"
This is a semi-new nginx feature that avoids spooling the upload chunk first to nginx and only then forwarding it to ownCloud. Probably good for our goal of avoiding timeouts, especially if we would directly forward a chunk to an external storage or things like virus scanning and checksuming are done on-the-fly..

Disadvantage: More PHP processes get "used" because nginx immediatly uses them inste

[2015-12-22 20:10] LukasReschke commented on #15567
Just to get a proper statement on this one: Seems like a good time or will we do it? This would affect ownCloud 9.0 where we already are investing significant time (also on-going!) on IE 8 compatibility and if we would not have to support IE 8 this would make @PVince81 much happier and a lot of needed efforts gone.

[2015-12-22 20:19] LukasReschke opened #21339 "Stable branches unit test execution fail"
Regression caused by https://github.com/owncloud/core/pull/21235 and https://github.com/owncloud/core/pull/21232

@DeepDiver1975 Any chance that we can get unit test execution properly on those branches on PRs as well?

[2015-12-22 20:20] LukasReschke commented on #21339
[code]

Seems only to affect the tests but still……

[2015-12-22 20:26] LukasReschke commented on #21339
Stable8.1: https://github.com/owncloud/core/pull/21340
Stable8.2: https://github.com/owncloud/core/pull/21341

[2015-12-22 21:00] rullzer commented on #16826
@PVince81  @MorrisJobke  I guess this is fixed now right? With the identical expire/trash jobs now merged?

[2015-12-22 21:19] robin24 opened #21342 "[Debian Packaging] Change php5-cgi dependency to php5-fpm or php5-cgi"
As of version 8.2.2-1.1, the Debian owncloud-server package depends on php5-cgi.
However, this package is not required on many systems, because other software (e.g. php5-fpm) is in use. Therefore, could you please change this dependency to 'php5-cgi | php5-fpm' so that users are not forced to install php5-cgi unnecessarily?
Thanks!

[2015-12-22 21:22] e-alfred commented on #21337
Well, how am I supposed to delete something like that? Sync everything onto the client and then deleting everything so the deletion gets synced back to the server? This would be a huge time- and bandwidth-consuming process that makes things really complicated from a user perspective and for an admin explaining that as well.

[2015-12-22 21:27] RealRancor commented on #21342
@jnweiger

[2015-12-22 21:30] RealRancor commented on #21338
@fossxplorer is probably right. Don't know if @josh4trunks can say something to this?

[2015-12-22 21:52] josh4trunks commented on #21338
I'm not familiar with this, @guruz can you confirm this will actually make a difference for owncloud?

This statement makes it seem like this setting isn't taken into account if the client sends chunked HTTP/1.1
``When HTTP/1.1 chunked transfer encoding is used to send the original request body, the request body will be buffered regardless of the directive..``

[2015-12-22 22:45] MTRichards commented on #15567
I will be super clear then.  We can discontinue IE 8 support with oc 9.0 launch. My discussions with customers and gcx have proven this is ok. So no need for ie 8 support in oC 9.0. IE 9 and 10 and 11 for 9.0. We will drop 9 and 10 for 9.1.

--
Matt Richards
VP Products & Markets
ownCloud, inc.

[2015-12-22 23:17] tessus opened #21344 "[Feature Request] limit bandwidth"
As  suggested in the forum post "[limit bandwidth on server?](https://forum.owncloud.org/viewtopic.php?f=36&t=32072)", I'd like to open a feature request to limit the bandwidth on the server.

There might be other options available, but all have issues:
* `mod_ratelimit` does not work
* `mod_cband` hasn't been developed for 10 years, is not Apache 2.4 compatible and has a few major bugs

Maybe the

[2015-12-22 23:20] karlitschek commented on #21344
There is no good way to do this in PHP. This is something that is usually done one the webserver or OS level. Why does mod_ratelimit not work? Seems to be the tool that everybody is using

[2015-12-22 23:30] tsfuchs commented on #21203
I have the same problems here with 8.2.1 and 8.2.2, too.

### Steps to reproduce
1. Upload 20 Files to a owncloud folder
2. Create a public share link
3. Use the link and enter password
4. Can only see some of the files in IE11, Chrome, Firefox and Edge | Download all as zip file works.
5. Deactivate files_pdfviewer 0.7
6. All files are shown in Chrome, Firefox and Edge but NOT in IE11

### Server

[2015-12-23 01:47] SebastianS90 commented on #21342
I can confirm that owncloud runs perfectly with php5-fpm and nginx or apache. Please don't force us to install the unnecessary php5-cgi. Thanks!

[2015-12-23 06:27] #21317 closed

[2015-12-23 06:45] rullzer commented on #21337
@e-alfred do you have cli access?

If so remove it from the filesystem and then do a `./occ files:scan`

[2015-12-23 06:46] rullzer commented on #21339
Both merged.

[2015-12-23 06:46] #21339 closed

[2015-12-23 08:05] LukasReschke opened #21345 "Unit tests on master broken"
Regression by https://github.com/owncloud/core/pull/21318

[2015-12-23 08:06] LukasReschke commented on #21345
@DeepDiver1975 Also we really should get unit test execution on forks: https://github.com/owncloud/core/pull/21318

[2015-12-23 08:07] LukasReschke opened #21346 "Get CI running on forks + older branches"
We have now successfully managed to break different master and stable unit tests by not executing the tests properly against forks or older branches in under 24 hours.

Ref https://github.com/owncloud/core/issues/21345 and https://github.com/owncloud/core/issues/21339

cc @DeepDiver1975

[2015-12-23 08:12] LukasReschke commented on #21345
Patch is at https://github.com/owncloud/core/pull/21347

[2015-12-23 08:16] LukasReschke commented on #15567
Thank you, @MTRichards. Let's close this then :smile:

[2015-12-23 08:16] #15567 closed

[2015-12-23 08:29] LukasReschke opened #21348 "EventSource support for searching"
Just thinking whether it would make sense to have EventSource support on the search endpoint at https://github.com/owncloud/core/blob/726f7e5fa8c5414a3f4ecff583a43356b78bfa92/core/search/ajax/search.php

Then we could show first results as soon as we have some instead of waiting for the completion of the complete search. Would probably result in a way better UX.

Thoughts?

@owncloud/search @DeepD

[2015-12-23 09:10] DeepDiver1975 commented on #21346
My statement is clear on this: reading helps!

Why are prs with fail status merged?

[2015-12-23 09:11] #21345 closed

[2015-12-23 09:21] DeepDiver1975 commented on #21348
My natural answer to requirements is: use pagination

[2015-12-23 09:44] shorinjin commented on #20380
I just had this happen, as well.  Mine is a relatively new installation.  Could I just delete the database and start over?  If so, how would I do that?

[2015-12-23 09:53] Dianafg76 commented on #21252
@rullzer @PVince81 I tested this issue:
1.- Desktop client v2.1.0, Server web v 8.2.2
2.- On the Desktop client I don't have Logs
3.- This is the Server Logs:
   a.- Server A (with SHIB (LDAP, SSO):
[code]
   b.- Server B:
[code]

[2015-12-23 10:12] RealRancor commented on #21346
Ref: https://github.com/owncloud/core/issues/19885

[2015-12-23 10:34] localguru opened #21350 "Argument 3 passed to OC\Hooks\BasicEmitter::listen() must be callable"
Hi,

after upgrading this morning from 8.1.4 to 8.1.5.2 I get the following error in the log:

Argument 3 passed to OC\Hooks\BasicEmitter::listen() must be callable, array given, called in /var/www/owncloud/apps/files/ajax/scan.php on line 50 and defined at /var/www/owncloud/lib/private/hooks/emittertrait.php#36

System: Ubuntu 14.04 LTS
Webserver: apache2 2.4.7-1ubuntu4.8
PHP: php5 5.5.9+dfsg-1ub

[2015-12-23 10:37] PVince81 commented on #21337
This is probably due to the trashbin.
A one shot trial would be to first disable the "Deleted files" app, then delete the folder in the web UI, then reenable the app.

I suspect it might be moving all files to the trashbin and that's what takes time.

[2015-12-23 10:37] Cybertinus commented on #20380
@shorinjin I would just run the query that is stated in my workaround script. This solves the problem, without having to start over again.

But: this is an issue tracker, not a support forum. For support related questions I would suggest you open a topic on the forums (https://forum.owncloud.org).

[2015-12-23 10:38] PVince81 commented on #21337
@schiesbn

[2015-12-23 10:41] rolandbu commented on #21136
The bug is still in the newest version 8.2.2

@blizzz any ideas?

[2015-12-23 10:48] PVince81 commented on #5868
Works fine now on master 1b369870f247b78776559e13d3da0f689210868d / 9.0 pre-alpha

[2015-12-23 10:48] #5868 closed

[2015-12-23 10:49] PVince81 commented on #21338
Note, this symptom (the buffering) was also discovered and discussed here: https://github.com/owncloud/core/issues/9832#issuecomment-162806896

[2015-12-23 10:51] vpo92 opened #21351 "File created manualy on file system not discovered by owncloud"
Hi.
Since last update (8.2.1), when I create a file on the file system, this file is not automaticaly discovered by owncloud. I have to run an occ:files scan to see it.

My cron job is working well and host owncloud on debian.

Any idea ?

Thanks !

[2015-12-23 10:52] PVince81 commented on #16826
Yes. @MorrisJobke found out that there is already a system that debounces bkg jobs, given that their parameters are exactly the same.

[2015-12-23 10:52] #16826 closed

[2015-12-23 10:55] PVince81 commented on #21203
Setting to 8.2.3 @cmonteroluque

[2015-12-23 10:55] PVince81 commented on #21203
@Henni @yannick67 any update on the PR ?

[2015-12-23 11:04] rullzer commented on #21351
This is expected behaviour. Besides scanning there is no way for ownCloud to find out there are new files it did not create.

You could setup a cronjob to scan on regular intervals (but that does not really scale if you have a large amount of files and/or users).

Closing as this is not a bug but expected.

[2015-12-23 11:04] #21351 closed

[2015-12-23 11:04] PVince81 commented on #20380
Stray locks should not happen any more in 8.2.2 (which was released shortly)

Deleting the contents of oc_file_locks table should be enough (do this in maintenance mode just to be sure)

[2015-12-23 11:12] PVince81 commented on #21252
@Dianafg76 in your case it seems to be a certificate issue.

In @davitol's test case there is a bogus redirect to the IDP when trying to connect to "public.php/webdav".

[2015-12-23 11:15] Dianafg76 commented on #21252
@PVince81 The second server is certificated

[2015-12-23 11:26] Henni commented on #15567
Great to hear this!
What is the consequence of this decision?
Will we actively remove fallbacks like for SVGs to clean up the code or should we keep them for now?

[2015-12-23 11:35] PVince81 commented on #21350
@icewind1991 please have a look, potential regression

[2015-12-23 11:37] PVince81 commented on #21348
Yeah, pagination sounds better.

[2015-12-23 11:39] vpo92 commented on #21351
Okay, but I think it was working before ?
I will add the cron job !

Thanks !

[2015-12-23 11:39] PVince81 commented on #21346
This ticket was already raised for CI on forks: https://github.com/owncloud/core/issues/19885

[2015-12-23 11:41] PVince81 commented on #21342
@jnweiger @DeepDiver1975 @karlitschek @cmonteroluque

[2015-12-23 11:42] PVince81 commented on #21332
@davidak when did it stop working ?
You might want to try with freshly released 8.2.2 which contains some LDAP fixes.

[2015-12-23 12:13] timreeves opened #21352 "Weird: ownCloud 8.2.2 with PHP 7.0.1 unstable / unusable - read on"
I'm just migrating to a new server and wanted the fastest, most modern possible setup - and ended up losing nearly 2 long days work. Put shortly: **ownCloud 8.2.2 plus self-compiled PHP 7.0.1 using opcache and redis via Nginx and FPM, but w/o encryption or file locking, does not work for me.** A fallback to self-compiled PHP 5.6.16 - with NOTHING else changed - works fine. More specifically: The G

[2015-12-23 12:39] rullzer opened #21353 "Details view loads twice on open"
When I click on the share action the sharedialog nicely opens.

However the share view is rendered twice. I noticed this when looking at the network console. Since all the avatars are loaded twice.

Also when you set a breakpoint in the `sharedialogshareelistview.js` render function you'll see that it gets called twice. However when using the stack trace I'm unable to determine why.

Must be some

[2015-12-23 12:47] RealRancor commented on #21351
@vpo92 Also see this shiny new FAQ at the forums: https://forum.owncloud.org/viewtopic.php?f=17&t=32183

[2015-12-23 12:48] davitol commented on #21327
:+1: tested in the testing urls written by jnweiger and the ubuntu 14.04 server packages for 8.2.2. and 8.1.5 are fixed

[2015-12-23 12:56] PVince81 commented on #21353
The list view might be rendered twice, yes. First empty because the data isn't there, and then again after the data is fetched.

In general it would be more correct to not render any of the subviews and show a single spinner. And only after the data was fetched, render the subviews.

[2015-12-23 12:57] davidak commented on #21332
@PVince81 i got it working one evening (17.12) and the next morning it didn't work anymore.
i don't see that update yet in the webinterface.

[2015-12-23 12:58] rullzer commented on #21353
The data is there... else it would not load the avatars ;)

[2015-12-23 13:09] e-alfred commented on #10656
Well, I got the app running on the latest Owncloud release.

But this feature is also missing from the Enterprise Version, which costs quite a bit. Essential things like these should at least exist in an enterprise-class software.

[2015-12-23 13:24] MorrisJobke commented on #15567
I think the SVG fallback can be removed.

[2015-12-23 13:26] SchroSct opened #21354 "8.2.2 not released for ubuntu 15.10 repo"
http://download.owncloud.org/download/repositories/stable/Ubuntu_15.10/ Still contains owncloud_8.2.1-3.1_all.deb
while http://download.owncloud.org/download/repositories/stable/Ubuntu_15.04/ has up to owncloud_8.2.2-1.1_all.deb.

[2015-12-23 13:29] RealRancor commented on #21354
cc @jnweiger

[2015-12-23 14:11] golderweb opened #21355 "Download-Link (owncloud-latest.tar.bz2) is outdated again"
The Download-Link for latest version is broken again (like this Issue
#21258   owncloud-latest.tar.bz2 Download-Link is outdated). It furthermore points to 8.2.1.

I think link update should be done more or less automatically in the release process.

[2015-12-23 14:15] PVince81 commented on #20481
A bit of research shows that the AWS library and others are referring to a curl plugin called "BackoffStrategy".

That might be it: https://github.com/Guzzle3/plugin-backoff/blob/master/CurlBackoffStrategy.php
It seems to react on some error codes and then will try again after a delay.
That plugin isn't available in ownCloud / 3rdparty libs so might need to be included.

[2015-12-23 14:18] rullzer commented on #15567
As suggested by @PVince81 we need to be carefull that the IE8 stuff is not also supporting IE9. Probabaly easiest to do the big cleanup for 9.1 when we can remove a lot more.

[2015-12-23 14:18] rullzer commented on #21355
ping @cmonteroluque @karlitschek

[2015-12-23 14:21] aspdye opened #21356 "ownCloud Web Installer Redesign"
I think we could give the Web Installer a new style, so that he looks more like the "setup page" and the current ownCloud versions.
However - this is definitely something for the backlog :smile:
@jancborchardt @karlitschek

![setup_step2](https://cloud.githubusercontent.com/assets/12893462/11977915/51086678-a987-11e5-8fac-e193e87afc0a.jpg)

[2015-12-23 14:31] toddpfaff commented on #7009
This problem still exists in owncloud-8.2.1.

This is a show-stopping problem for some of our owncloud users.  We may have to look at other solutions if this behaviour isn't changed in owncloud.  Since we also have a seafile deployment I'll be testing for this problem on that platform.  I'd hate to have to move our users from owncloud to seafile because of this one problem that seems like it shoul

[2015-12-23 14:34] rullzer commented on #21252
@Dianafg76 the first one also? Because both ways are rquired.

[2015-12-23 14:47] PVince81 opened #21357 "Stream upload/download for GDrive"
Currently the whole file is stored in memory and then passed to the library: https://github.com/owncloud/core/blob/v8.2.2/apps/files_external/lib/google.php#L469

This could easily cause out of memory errors in case the file is too big to fit in memory.

The question here is whether the library that OC uses called google-api-php-client supports stream upload ?

@icewind1991 @Xenopathic

[2015-12-23 14:52] PVince81 commented on #21357
If direct stream upload (from php input to google) is not possible, at least it should stream from the TMP file and not first load it all in memory...

[2015-12-23 14:55] PVince81 commented on #21357
https://developers.google.com/api-client-library/php/guide/media_upload

[2015-12-23 14:56] RealRancor commented on #18994
@hoorna Just stumbled over this again make sure:

1. cURL is enabled for your command line

To check this run ```php -i | grep -i curl`` instead of using a phpinfo.php, the latter is just showing the loaded modules within your webserver

2. Make sure no open_basedir is set. Run:

``php -i | grep open_basedir``

which should show:

``open_basedir => no value => no value``

[2015-12-23 15:02] PVince81 commented on #21357
Looking a the code of the library, it seems that even downloading a file will store it in memory first through `curl_exec`'s response: https://github.com/owncloud/core/blob/v8.2.2/apps/files_external/3rdparty/google-api-php-client/src/Google/IO/Curl.php#L85

[2015-12-23 15:06] PVince81 commented on #20481
there's also batching: https://developers.google.com/api-client-library/php/guide/batch

[2015-12-23 15:09] PVince81 commented on #21357
Seems the library has a Stream class, maybe that could be used instead https://github.com/owncloud/core/blob/v8.2.2/apps/files_external/3rdparty/google-api-php-client/src/Google/IO/Stream.php ?

[2015-12-23 15:16] karlitschek commented on #21355
what exactly is the full link that is broken?

[2015-12-23 15:17] tuxayo opened #21358 "Update from 8.2.1 to failed 8.2.2: Maintenance mode is kept active after update success!"
Yesterday I triggered the migration via the webpage (after having updated the package) and it seemed to have succeeded but the server stays in maintenance mode.
I just trigger to rerun the migration from the command line:

[code]

I had files that were kept locked and I wanted to upgrade to fix this problem.

**List of activated apps:**
  - activity: 2.1.3
  - encryption: 1.1.0
  - files: 1.2.0

[2015-12-23 15:22] swurzinger commented on #20481
BackoffStrategy seems to implement what I mentioned in the first post and is recommended by Google. Here's the link again (it is from the REST API, but that applies to the other APIs as well): https://developers.google.com/drive/web/handle-errors#implementing_exponential_backoff

Batching will probably not help in regard of this issue as "A set of n requests batched together counts toward your usa

[2015-12-23 15:23] PVince81 commented on #21357
Looks like it's possible to tell the client to use its stream class, by adding this:
[code]

I see that this class uses `stream_context_create` but still requires the full content to be given.
A quick googling seems to tell that `stream_context_create` cannot be used directly with a file handle. (http://stackoverflow.com/a/1691616)

This means the full file would still be in memory...

And for dow

[2015-12-23 15:23] karlitschek commented on #21358
@PVince81 any idea?

[2015-12-23 15:25] PVince81 commented on #20481
Unfortunately it seems the library OC uses doesn't use the Curl library but rather uses PHP's `curl_xxx` statements directly: https://github.com/owncloud/core/blob/v8.2.2/apps/files_external/3rdparty/google-api-php-client/src/Google/IO/Curl.php#L85

So even if that plugin was added, I'm not sure it would fit in.
We'd need to find another library that actually uses Guzzle

[2015-12-23 15:25] rullzer commented on #21355
Good question ;) https://download.owncloud.org/community/owncloud-latest.tar.bz2 seems to point to 8.2.2

[2015-12-23 15:26] rullzer commented on #21358
The first time sounds like a bug.
The second time is expected behaviour. If the system is in maintenance mode an upgrade will not enable it afterwards.

run: `./occ maintenance:mode --off`

[2015-12-23 15:33] golderweb commented on #21355
Yes, it seems like somebody have fixed it in the last 1.5 hours. But the initial issue, that there is no automatism to update this link, persists. 8.2.2 was announced yesterday.

[2015-12-23 15:36] isgsoftware commented on #18499
I am seeing this issue on newly installed 8.2.1.  I created a custom external authentication app which authenticates users against a web service (similar to IMAP or SMB), but it also adds them to an existing OC group (if they are not already in it, such as first time logging in) so they can see some already shared files.

When I make the call to Group->addUser(), the server crashes with this same

[2015-12-23 15:36] karlitschek commented on #21355
O.K. Sometimes it takes while until the mirror sync completely.

[2015-12-23 15:40] #21355 closed

[2015-12-23 16:00] rullzer commented on #13241
Our autoload has been improved significantly. But moving composer into core has other benefits as well. e.g. classmap generation for releases etc.

Getting composer into core is actually not hard (getting composer for 3rdparty apps requires some thinking). But we can easily run 2 autoloaders next to each other. Composers autoloader that loads proper PSR-4 classes and our current autoload that load

[2015-12-23 16:27] Bugsbane commented on #10656
@e-alfred How did you get it working?

[2015-12-23 16:27] oparoz commented on #20856
Thanks!

[2015-12-23 16:29] tessus commented on #21344
@karlitschek

I seriously doubt that. `mod_ratelimit` limits the bandwidth per connection (client). This means this is **not** a server based limit.

It's sad that you just closed this without further discussion.

[2015-12-23 16:32] karlitschek commented on #21344
sure. I can open it again. But I'm not sure if discussion helps here. bandwidth can be controlled on the Desktop client side and globally on the server by the webserver. Additionally there are ways to do this with ipchains in Linux servers. There is no good way to implement this on the PHP side.

[2015-12-23 16:43] tessus commented on #21344
The problem is that you cannot do this reliable on the web server (as I pointed out in my first post). The other problem is that there are circumstances where it isn't possible to use ipchains or other Linux tools either. I've explained it in the forum post. Sorry that I haven't added here as well.

It's a problem, if you have several IP addresses assigned to one physical interface. In modern Linu

[2015-12-23 16:53] Xenopathic commented on #21344
@tessus If you are looking to rate limit on a particular IP, you can do it with iptables pretty easily:

    iptables -d 192.168.0.x -m limit ...

TBH that's a pretty bad idea though, it makes DoSing your server really easy... that's why per-client limits are almost always a better option, but they are handled at the web server level.

[2015-12-23 16:57] tessus commented on #21344
@Xenopathic yep, this is another reason why maybe a server based rate limit would be beneficial. In my forum post I said:

*The oc sync client has bandwidth management, thus I hoped the server would too.*

Then @RealRancor suggested to open a feature request.

[2015-12-23 17:02] tuxayo commented on #21358
thanks, `maintenance:mode --off` did the job :-)

As it would be hard to try to reproduce and investigate if I'm was the only one concerned, I think I can close the issue.

[2015-12-23 17:02] #21358 closed

[2015-12-23 17:20] isgsoftware commented on #18499
I was able to address this issue, at least for my use case.  When adding the user to a group that already has shares assigned to it, the user's home directory needs to be initialized first in order for $defaultInstance to not be null.  I added a call "\OC\Files\Filesystem::init($uid, $userDir);" just before the user is added to the group and it seems to be working well.

[2015-12-23 17:25] localguru commented on #21350
Upgrade to 8.2.2, error gone.
Repository: http://download.owncloud.org/download/repositories/stable/Ubuntu_14.04/

[2015-12-23 17:38] tuxayo opened #21360 "File that were locked cannot still be synced with 8.2.2"
I hopped that would fix my locking issue but now the client logs show this:

`Conserver sur liste noire(keep in blacklist) : Error downloading https://my_owncloud_instance.porn/cloud/remote.php/webdav/linux/keyboard_layout.ods - server replied: Forbidden`

### Server configuration
**Operating system**:
Arch Linux

**Web server:**
nginx 1.8.0

**Database:**
PostgreSQL 9.4.5

**PHP version:**
5.6.16

[2015-12-23 18:03] RealRancor commented on #21358
Exact. This behavior is also documented at https://doc.owncloud.org/server/8.2/admin_manual/maintenance/package_upgrade.html and various other places.

[2015-12-23 19:29] asvetter opened #21361 "error installing rpm 7.0.12 on SLES11SP4"
When installing owncloud rpm from build.opensuse.org thefollowing error is thrown:

1 package to upgrade.
Overall download size: 25.7 MiB. After the operation, 136.0 KiB
will be freed.
Continue? [y/n/? shows all options] (y):
Installing: owncloud-7.0.12-1.1 [error]
Installation of owncloud-7.0.12-1.1 failed:
(with --nodeps --force) Error: Subprocess failed. Error: RPM fai
led: owncloud update: Che

[2015-12-23 19:50] tuxayo commented on #21358
@RealRancor If I understand the doc, everything was expected (especially the first time when the upgrade actually took place)

[2015-12-23 20:07] Xenopathic commented on #21344
PHP cannot handle per-client rate limiting (each request is a separate process, tracking the number of requests coming in would take HUGE DB writes and/or memcache races, ie not worth it). Instead, the web server is in the perfect position to handle that. From the comments above it seems that `mod_ratelimit` can do it, unfortunately I'm in no position to advise since I use nginx which has built-in

[2015-12-23 20:08] karlitschek commented on #21361
@jnweiger

[2015-12-23 20:10] Xenopathic commented on #21344
As for 'server based rate limit', that's what the iptables rule that I posted is for...

[2015-12-23 20:35] tessus commented on #21344
@Xenopathic I never asked for per-client rate limiting, but a server based rate limit. and as you mentioned earlier, the iptables approach is not the best.

The question now is: is a server wide rate limit possible with PHP?

If not, the feature request can be closed. If yes, we can discuss the options.

[2015-12-23 21:42] redhell commented on #20065
Hey,
i am experiencing this error on current master but my php runs with the intl extension.

Does it only affect PHP7 (FPM?) that it can't recognize the extension?

[2015-12-23 23:18] AndrewBucklin commented on #17012
Am I to assume that this was closed because it won't be implemented as a storage option for owncloud?

[2015-12-23 23:32] oparoz opened #21362 "GUI broken because of CSP"
I haven't been able to use the GUI of my master instance for a couple of weeks because of CSP errors which block the loading of resources.

### Env
Apache 2.4.17
PHP-FPM 5.6

### Browser
Chromium, Firefox

Here is the first thing which breaks down
[code]

Then it's
[code]

followed by

[code]

#### First analysis

This commit is responsible: https://github.com/owncloud/core/commit/7b9bc721e9980962

[2015-12-23 23:32] karlitschek commented on #21362
strange. works for me.
@LukasReschke any idea?

[2015-12-23 23:33] enoch85 commented on #20963
@jnweiger Saw that the new 8.2.2 installed php5-cgi separately. Does this mean that the issue is addressed?

[2015-12-23 23:39] oparoz commented on #21362
For me, this commit is what killed it:
https://github.com/owncloud/core/commit/7b9bc721e998096220019ab462d4ac51f04a667c

[2015-12-24 00:07] Xenopathic commented on #17012
@AndrewBucklin While it won't be implemented in the near future within ownCloud core, you are free to make an app that implements the required interfaces :smile:

[2015-12-24 00:09] Xenopathic commented on #21344
@tessus *Any* global rate limiting is vulnerable to DoS attacks, regardless of where it occurs. If you block traffic at the firewall (iptables) level, or right at the application level in PHP, it doesn't matter - an attacker can send more traffic than the limit and no legitimate clients will be able to connect. Hence the 'bad idea'.

[2015-12-24 07:58] LukasReschke commented on #21362
@oparoz What OS do you use? Or more precisely: Where do you get your Apache from? Also can you try https://github.com/owncloud/core/pull/21220?

[2015-12-24 08:15] rullzer commented on #20573
PR with fix in #21364

[2015-12-24 09:26] PVince81 commented on #15567
@jospoortvliet @carlaschroder FYI, see https://github.com/owncloud/core/issues/15567#issuecomment-166754301

[2015-12-24 09:30] PVince81 commented on #21360
You might need to manually clear the locks first by emptying the oc_file_locks table.
@icewind1991 can we add a repair step that clears the locks on upgrade ?

Also I see this:
[code]

@icewind1991 is this a problem with "insert or update" ?

[2015-12-24 09:33] PVince81 commented on #21356
@aspdye the web installer is located here: https://github.com/owncloud/administration/tree/master/web-installer :smile:

[2015-12-24 09:34] PVince81 commented on #21354
@dragotin @cmonteroluque

[2015-12-24 09:39] PVince81 commented on #21352
@LukasReschke @DeepDiver1975 @danimo @icewind1991

[2015-12-24 09:41] PVince81 commented on #21352
@timreeves ownCloud and Webdav should work fine with PHP 7 (we have a running instance and syncing works, but I don't know the tech details or versions). So I don't think it's a problem with Sabre.

@timreeves regarding the "no handler for GET method", it looks like Sabre is not getting the correct URL / base path. Do you have a reverse proxy ? Maybe double check your "overwrite*" settings in conf

[2015-12-24 09:47] PVince81 commented on #21354
Looks like it was built in testing http://download.owncloud.org/download/repositories/8.2:/testing/Ubuntu_15.10/ but not moved/transferred to stable ?

[2015-12-24 09:59] PVince81 opened #21365 "UTF-8 NFD file name on SMB storage cannot be accessed"
### Steps

1. Setup a SMB server on Linux
1. Configure a share "shared"
1. Directly inside the share's folder on disk (not going through the network), create a file "good-ümlaut.txt"
1. Create another file "bad-ümlaut.txt"
1. Convert the file name encoding to NFD: `convmv -r -f utf8 -t utf8 --nfd --notest bad-ümlaut.txt` (ref: http://laufer.tumblr.com/post/1066670961/solved-weird-problem-with-spec

[2015-12-24 10:08] PVince81 commented on #21365
Had a chat with @icewind1991 and he told me that the file names are normalized by OC.
So if the remote SMB server contains a file with a file with a "mac" umlaut, it will normalize the name and store the normalized name in the file cache. Then later when it wants to download the file, it would use the normalized name. So obviously that name doesn't exist on the SMB storage => not found.

We cannot

[2015-12-24 10:08] Bouzeghoub opened #21366 "Update"
Hi,
Updating ownCloud to version 8.2.1, this may take a while.

Preparing update
Set log level to debug - current level: "Warning"
Turned on maintenance mode
Exception: Updates between multiple major versions and downgrades are unsupported.
The update was unsuccessful. Please report this issue to thed downgrades are unsupported.

[2015-12-24 10:10] PVince81 commented on #21365
Another idea would be to have ownCloud detect such files and automatically normalize the file names on the remote storage, but that would be a bit "intrusive" and it doesn't feel like it's OC's job to do that.

[2015-12-24 10:22] PVince81 commented on #21365
More info about NFD vs NFC:
- https://en.wikipedia.org/wiki/Filename#Unicode_interoperability

[2015-12-24 10:23] PVince81 commented on #21365
Another possibly, very ugly and with possible performance impact: whenever we have a UTF-8 file name and connect to the remote SMB, try with both the NFC and NFD file name encoding. If one matches, then assume it's the same file.
But then what happens if the SMB storage has two files, one with each encoding ? :boom:

[2015-12-24 10:24] Akhenaton commented on #20963
No...
Do an "apt-cache depends owncloud-server" => Still depends  PHP5- exclusively.

[2015-12-24 10:26] PVince81 commented on #21365
I just tried locally and it is **indeed** possible to have both files with the same name and different encoding:
[code]

My font represent them slightly differently:
![umlauts](https://cloud.githubusercontent.com/assets/277525/11993428/288624f6-aa31-11e5-8d3c-f837d4d7fe23.png)

[2015-12-24 10:46] RealRancor commented on #21366
Please use the search on top of this repository before creating new issues. With that you will find plenty of duplicates describing your problem.

Then see this FAQ how to correctly upgrade: https://forum.owncloud.org/viewtopic.php?f=17&t=32087

[2015-12-24 10:48] PVince81 commented on #21252
I thought that maybe the SSL issue is not when connecting against the remote OC instance. In the other ticket we saw that it gets redirected to the IDP. So maybe the SSL error is due to the IDP's certificate ?

[2015-12-24 10:50] RealRancor opened #21367 "Remove wrong/misleading text if major version was skipped."
There is currently a wave of duplicate created issues about the "Exception: Updates between multiple major versions and downgrades are unsupported" message here at github.

I think a main problem here is, that the text afterwards is telling "The update was unsuccessful. Please report this issue to the ownCloud community". This is plainly wrong as that issue don't need to be reported here, instead

[2015-12-24 10:51] Bouzeghoub commented on #21366
Hi,
Thank you so mush.

De :    RealRancor <notifications@github.com>
A :     owncloud/core <core@noreply.github.com>
Cc :    Bouzeghoub <redouane.bouzeghoub@mobilis.dz>
Date :  24/12/2015 11:47
Objet : Re: [core] Update (#21366)

Please use the search on top of this repository before creating new
issues. With that you will find plenty of duplicates describing your
problem.
Then see this FAQ how t

[2015-12-24 10:53] RealRancor commented on #21367
Refs: https://github.com/owncloud/core/issues/21366, https://github.com/owncloud/core/issues/20640, https://github.com/owncloud/core/issues/19910, https://github.com/owncloud/core/issues/20732, https://github.com/owncloud/core/issues/20813, https://github.com/owncloud/core/issues/20974, https://github.com/owncloud/core/issues/20660 and a lot more.

[2015-12-24 10:55] aspdye commented on #21356
@PVince81 Every day Ia am learn something new :rocket: Thank you!

[2015-12-24 10:55] #21356 closed

[2015-12-24 11:00] PVince81 commented on #21357
If streaming is not possible, then at least "download directly to temp file" would still be better than "download to PHP string then save to temp file", at least would cause memory peak usage.

[2015-12-24 11:00] cmonteroluque commented on #21354
See pending result in https://github.com/owncloud/core/issues/21327 . It just needs to be published, in the meantime, the packages in the testing repository should do the trick

[2015-12-24 11:20] danimo commented on #21352
Hint: Generally, I'd strongly advise against disabling locking. Using redis this becomes reasonably fast. I have a Setup with PHP 7.0.0 (still), redis and APCu and everything works as expected.

[2015-12-24 11:26] cmonteroluque commented on #5949
marked for consideration for the 9.1 release cycle after the external storage refresh

[2015-12-24 11:48] PVince81 commented on #21365
We could also reopen the discussion about adding a new column to oc_filecache to store the real file name (maybe call it `storage_name`).
Let me find the old ticket about it.

[2015-12-24 11:50] PVince81 commented on #21365
also CC @nickvergessen who worked on this idea back then

[2015-12-24 11:51] mmattel commented on #21285
@PVince81
Tested by setting up a new test instance from master as described on top, configuring it, using ./occ files:scan --all and got the error as expected, then applied the pull request and tested again: --> works.

[2015-12-24 11:57] PVince81 commented on #12498
Is there any hope to make the smbclient fallback work with DFS too ?
Ideal is to use libphp5-smbclient instead which uses the native library and has much better performance (and streaming).

@Xenopathic @icewind1991

CC @jmaciasportela @cmonteroluque

[2015-12-24 11:59] PVince81 commented on #21285
Thanks a lot, counting as thumbs up in the PR.

[2015-12-24 12:03] PVince81 commented on #12044
@Tony-HSU are you still seeing this with 8.2.2 ?

Did you upload these files directly to "data" without going through ownCloud ? (this is not supported by the way). Make sure to always go through ownCloud so the file names can get internally normalized.

[2015-12-24 12:03] PVince81 commented on #21365
Somehow can't find an exact ticket.
Found some bits here:
- Discussion about case sensitive remote FS: https://github.com/owncloud/core/issues/17161#issuecomment-115197250 referring to https://github.com/owncloud/core/wiki/Cross-Platform-File-Handling#platform-name
- similar issue but involving the client: https://github.com/owncloud/core/issues/12044

[2015-12-24 12:08] PVince81 commented on #21365
- the PR that removed the file_mapper table with bits of the extra column topic: https://github.com/owncloud/core/pull/17379#issuecomment-118378230

Setting to 9.0 for now to keep in view.

[2015-12-24 12:10] Xenopathic commented on #12498
@PVince81 smbclient fallback works if the share is set within a DFS link itself, e.g. if `/dfs/share` is a DFS link, setting the share to `dfs/share` will work, however setting `dfs` as the share and trying to browse to `share` will *not* work. That behaviour is broken upstream, there's nothing we can do about it. In reality though, anyone using DFS is probably an enterprise customer and needs to

[2015-12-24 13:28] asvetter commented on #21361
/run does not exist on SLES11. Use /var/run.
I used  a symlink as workaround.

[2015-12-24 13:44] tuxayo commented on #21360
Another client which doesn't have the locked files (so it tries to download them) gets this error:
[code]

[corresponding server log] (http://sebsauvage.net/paste/?7a4eb302a40fad2e#7PzkBsAK5Hxgz6k3RzTDZQnA1uevqlTRpxtxJalvddg=)

[2015-12-24 13:49] Resquer commented on #21203
I have a same issue. Recently upgraded to 8.2.2
It is unable to see all objects in the shared folder when PDF Viewer  0.7 is enabled.
Not only IE, Chrome, Firefox are affected, but mobile browsers from android smartphone also.
When I have disabled PDF Viewer, it almost solve the problem, but IE11 still doesn't show all objects, it is unable to scroll.

[2015-12-24 14:04] PVince81 commented on #21360
Service unavailable is also nothing with locking, the error should be "Locked".
Looking at the stack trace:
[code]

It looks like an encryption issue.
Are you able to download this file over the web UI ? Is it a shared file ? Is that client the recipient ?

[2015-12-24 14:06] karlitschek commented on #21365
@DeepDiver1975 FYI For the WND discussions

[2015-12-24 14:33] aspdye opened #21369 "CalDAV + CardDAV Backend = ActiveSync Protocol"
Hi there,

With adding CalDAV and CardDAV Backends into the core, it should be possible to add an ActiveSync functionality, syncing CalDAV and CardDAV ;)

Nice piece of software for realizing that: https://z-push.org/
A project also using ownCloud with Z-Push (for Calendar, Contacts from ownCloud and IMAP from its own server): https://mailinabox.email

[2015-12-24 14:37] karlitschek commented on #21369
pull requests welcome :-) Preferable as a standalone app for now

[2015-12-24 14:53] aspdye commented on #21369
Then I have something to do between the years ;)

[2015-12-24 15:10] Xenopathic commented on #21369
A Z-push app for ownCloud would actually be really cool - Z-push is rather awkward to configure by itself

[2015-12-24 15:30] phsc commented on #14634
IE8 support will be dropped for Owncloud 9.0. So it should be possible to upgrade to jQuery 2.x.
See https://github.com/owncloud/core/issues/15567#issuecomment-166754301

[2015-12-24 15:31] aspdye commented on #21369
The 2 backend files are already there:
https://github.com/aspdye/ownPush/tree/master/backends
(Taken from Mail-in-a-Box)

If you copy them into your z-push instance, ActiveSync should (and does) work. Im now working for an automatic installation - and maybe an frontend (if needed).

[2015-12-24 15:47] PVince81 commented on #14634
Nice! Upgrading jquery will require some careful regression testing of all the web UI incase of API changes.

[2015-12-24 16:05] icewind1991 commented on #19988
@icewind1991 do I understand it correctly that in the case of "unlimited (no quota)" the value will be -1 and in the case of "unlimited (free space unknown/unavailble)" the value will be -2 ?
Is that value exposed as is to the clients ?

Correct and yes, clients handle it correct since 2.1 iirc

[2015-12-24 17:31] oparoz commented on #21362
Compiled from source

I did try to use setifempty when I saw that the rule was for Apache 2.2, but I got the same result.

To me, the error message is quite clear. There is no policy for `img-src` or `font-src` and the fallback `default-src 'none'`does not work.

[2015-12-25 00:02] tuxayo commented on #21360
It was a file that was locked in 8.2.2 and I hopped 8.2.3 would fix it but it seems that there is something else.

Nope, file not found error.
Server logs of that error:
http://sebsauvage.net/paste/?c98b6ac807c23f32#6wSoTgIf4IEEtf0AwRqXzwpnUG2rSw75hcS0oZ+DnE4=

No

Yes

[2015-12-25 06:32] tuxayo commented on #21360
I just noticed that this error blocks the sync (can upload but can't download) on the client which tries to downloads the "corrupted" file

[2015-12-25 11:21] srissel opened #21371 "Windows Client Login fails: "No basic authentication headers were found""
Hello,

I migrated my ownCloud-Instance to a new server.
Accessing from the web works quite well so far, but every time I want to login with an OS client (I tried Windows and Android), the login fails with the following log message:

[code]

My server runs:
* Ubuntu 14.04
* PHP 5.5.9
* ownCloud 8.2.1

I found this issue on Github (https://github.com/owncloud/core/issues/14510), but I can't figure

[2015-12-25 11:27] srissel commented on #21371
N.B. At the moment I use FastCGI, the old server runs PHP as ApacheModule.

[2015-12-25 11:43] srissel commented on #21371
The issue seems to relate to using PHP in FastCGI mode.
If I turn FastCGI off, native client login works well again.

Is this a common problem?

[2015-12-25 12:12] RealRancor commented on #21203
@Resquer If there is an additional issue with PDF Viewer 0.7 you might want to create a new report at https://github.com/owncloud/files_pdfviewer/issues

[2015-12-25 12:16] RealRancor commented on #21371
@srissel See my reply at your forums post: https://forum.owncloud.org/viewtopic.php?f=14&t=32230

Probably nothing what can be fixed within oC.

[2015-12-25 12:17] Resquer commented on #21203
I don't know. PDF viewer works normally, but if it is enabled, the problem I explained yesterday is occurs.
PDF viewer is not important for me, so I simply disabled it.

[2015-12-25 12:19] RealRancor commented on #21203
@Resquer I think thats a different issue so thats why i'm suggesting to open a new issue. This one in here is about the issue with IE which you (as far as i understand) still get when disabling the PDF viewer.

[2015-12-25 13:42] blackcrack opened #21372 "suggestion for Changeable Iconthemes"
suggestion for Changeable Iconthemes

Postby Blackcrack » Fri Dec 25, 2015 2:30 pm
Hi peoples,

Why it is the iconstheme hard programmed in ?
Why can you not add an bit code for
check out an "$iconthemefolder = /owncloud/iconthemefolder
let check this out witch folder on it
and use the folders .. where can be the iconthemes on it..

and by this can you check out the KDE-Look kde4 and up iconthemes

[2015-12-25 13:51] RealRancor commented on #21366
@Bouzeghoub As this is no bug in oC feel free to close this issue on your own by using the close button below the comment field.

[2015-12-25 14:54] fossxplorer commented on #21338
@josh4trunks I noticed this pretty good feature when it was introduced with Nginx 1.7.11 a while ago, but haven't had time to test it out with ownCloud scenario.
But related to proxy_request_buffering, the documentation states  "When HTTP/1.1 chunked transfer encoding is used to send the original request body, the request body will be buffered regardless of the directive value unless HTTP/1.1 is e

[2015-12-25 15:28] fossxplorer commented on #9832
@riku2015 see https://github.com/owncloud/core/issues/21338#issuecomment-167243291

[2015-12-25 16:35] josh4trunks commented on #21338
@fossxplorer I don't have HTTP/1.1 enabled between nginx and php-fpm (it's HTTP/1.0 by default), and sharing works for me.
But, I do remember the thread where there was an issue with HTTP/1.0, maybe it was multiple webserver layers though which isn't what we're talking about here. that's why I purposely didn't quote that part of the docs, thinking it wasn't relevant by default.

[2015-12-25 18:15] guruz commented on #21338
(Neither web browsers nor the ownCloud client use HTTP chunked _upload_/_POST_/_PUT_ so really no worry here)

[2015-12-25 18:18] josh4trunks commented on #21338
great, I don't know enough about this to thumbs up it. but it sounds like a good idea.
when I get a chance I'll update my nginx and try this out =]

[2015-12-25 19:04] tsfuchs opened #21373 "Shared folders don't show all files in a directory when pdfviewer 0.7 is active"
### Steps to reproduce
1. Upload 20 Files to a owncloud folder
2. Create a public share link
3. Use the link and enter password
4. Can only see some of the files depending on the size of the window in IE11, Chrome, Firefox and Edge | Download all as zip file works.
5. Deactivate files_pdfviewer 0.7
6. All files are shown in Chrome, Firefox and Edge.

### Server configuration
**Operating system**:

[2015-12-25 19:07] tsfuchs commented on #21203
okay, opened a new issue ***#21373*** for the problem depending pdfviewer 0.7

[2015-12-25 19:29] fossxplorer commented on #21338
@josh4trunks IIRC HTTP/1.1 and oC "issue" was only limited to Nginx being used as a reverse proxy. In my setup (where i use Nginx as both reverse proxy and web server (the backends) ) i had to tell reverse proxy to use HTTP/1.1 after a tip from @LukasReschke on IRC.
It seems for me you are using Nginx just as a webserver.
But the buffering switches were added for both type of usage, hence the link

[2015-12-26 00:53] gfkpth opened #21374 "php occ files:scan leads to [InvalidArgumentException]"
I want to rescan the files for one user, but I cannot use "sudo -u www-data php occ files:scan USERNAME" (it does not work with --all either). Instead of scanning files, this just throws the following error:
 [InvalidArgumentException]
  There are no commands defined in the "files" namespace.

Also "... occ list" does not provide the files:scan command at all, so I wonder if this command is still

[2015-12-26 01:02] gfkpth commented on #21374
For some recason this issue went away after enabling and disabling maintenance mode.
Although the scan couldn't be completed (will look into this separately), this at least allowed the occ files:scan to run.

Not sure if the need for switching maintenance on and off is intended or if it is a problem with my setup, but at least the workaround seems simple enough (once you think of trying it).

If t

[2015-12-26 03:03] bdwinsalt opened #21375 "[Feature Request] Have secondary default application"
I am working on a project that is going to initially inform the user of something.  Once they accept it, it is going to send them to the Files application.  I was thinking it might be a good idea to add a secondary default location.  Say for instance the user already has seen that page, they then go straight to the secondary default.  Not everyone defaults to the Files application.

I know I can a

[2015-12-26 09:45] RealRancor commented on #21375
Hi,

such edge-use cases are probably better implemented in a separate app.

[2015-12-26 12:05] filipjandura opened #21376 "Feature Request: Sharing full folder path"
Hi, is there any chance to implement functionality for sharing folder with it's full hierarchy path? I read some issues about permission like [Allow different permissions for Subfolder](https://github.com/owncloud/core/issues/4579) but it is not what i really need. Here is an example:

parentFolder1
-childFolder11
-childFolder12

### Actual behaviour
I share childFolder11 to user 'user1' and he ca

[2015-12-26 15:49] Yamakasi commented on #4056
@gw0 Yes Pydio does, I used it but Owncloud has more better features. They use git for it I thought.

[2015-12-27 06:40] MorrisJobke commented on #16826
versions https://github.com/owncloud/core/pull/21109 and  trashbin https://github.com/owncloud/core/pull/20790

Both are available in 8.1.5, 8.2.2 and 9.0.0.

[2015-12-27 10:43] timreeves commented on #21352
@PVince81 Thanks for looking at it! My config is included above. I've taken a closer look at the error message about "There was no handler found for this "GET" method": The core of it seems to be:
*SabreDAVServer->invokeMethod(Object(SabreHTTPRequest), Object(SabreHTTPResponse))*
at which I'm scuppered, as the trace does not include the actual request object passed.

I'm not using overwrite settin

[2015-12-27 13:31] timreeves commented on #21352
@danimo Thanks for the hint! In fact, looking again at my config, I am in fact using file locking (although only two of us use this OC, and hardly ever working on the same files) - perhaps I turned it off during testing to elimante it as a possible cause.
I'm intrigued that you use redis AND APCu - I assume the former for locking and the latter as userland cache. I'm using the [PHP7 branch](https:

[2015-12-27 13:40] RealRancor commented on #21366
Ref: https://github.com/owncloud/core/issues/21367 to remove the misleading text that this should be reported here.

[2015-12-27 17:36] pdesanex commented on #20380
Confirming - no more stray locks with 8.2.2. Thanks for the fix!!

[2015-12-27 17:46] danimo commented on #21352
Yes and yes, see https://build.opensuse.org/project/show/home:danimo:php7

@timreeves I don't have hard benchmarks, but according to developers (and by logic, because it's in-process) ACPu should faster than redis for user caching, and should be preferred in non-cluster scenarios.

[2015-12-27 18:03] tessus commented on #21344
@Xenopathic I'm not quite sure your statement makes sense.

Let's say you server has a 100MBit/s (up/down) connection. Now you have a 1000 clients trying to download something. It doesn't matter, if you limit the owncloud instance to 80Mbit/s, in either case the download will most likely come to a crawl. But with the limit in place, people can still log into the server via ssh or do something else

[2015-12-27 20:11] Xenopathic commented on #21344
@tessus In your 1000 clients scenario, if the bandwidth were limited at the PHP level, all 1000 clients would still repeatedly attempt to connect, causing web server processes to do work and the system to buffer the incoming data, before PHP even has a chance to see it. Thus, all 100Mbit/s is consumed by ownCloud clients even though 20Mbit/s of that is getting rejected by PHP. If, on the other han

[2015-12-27 20:13] #21366 closed

[2015-12-27 20:28] localguru opened #21378 "removing files from trash: Undefined index: permissions at /var/www/owncloud/lib/private/files/fileinfo.php#177"
Hi,

removing files from trash results in the following, reproducible error:

Undefined index: permissions at /var/www/owncloud/lib/private/files/fileinfo.php#177

Files get successfully deleted.

file permissions:
root@server:/var/www/owncloud/data/testuser/files_trashbin/files# ls -al
insgesamt 40
drwxr-xr-x 2 www-data www-data  4096 Dez 27 21:18 .
drwxr-xr-x 5 www-data www-data  4096 Dez 27 17:

[2015-12-27 20:29] Yamakasi commented on #19040
OK this is fixed now :)

[2015-12-27 20:29] #19040 closed

[2015-12-27 20:37] tessus commented on #21344
@Xenopathic hmm, but this only means that PHP just does not have a way of limiting bandwidth **correctly**. b/c if PHP were doing it correctly, it would not allow further connections.

hereby you basically told me that PHP cannot throttle/limit bandwidth, which means this feature request is impossible to implement.

I truly hoped that this discussion would reveal that PHP had a workable solution.

[2015-12-27 20:39] Yamakasi opened #21379 "OSX Webdav share, still no upload, folder add, etc"
It's still not possible in OSX to add a folder for a mounted webdav share or copy a file to it.

Is there any fix or workaround for this yet ?

[2015-12-27 21:01] TheOtterslider opened #21380 "Connection Closed Error"
Here's some details:

Client - 2.1.0. build 2944 (Mac 10.11.3)
Server - Upgraded yesterday to 8.2.2 (on CentOS)

Pre upgrade, I had been running  CLient 1.7.1 (on Mac 10.11.3) and Server 8.<something>.  Sorry I don't remember.

I had been running Client 1.7.1 because of this issue:  https://github.com/owncloud/client/issues/3313 and https://github.com/owncloud/client/issues/3248

Here's what happe

[2015-12-27 22:05] Xenopathic commented on #21344
The first control PHP has over the connection is when the script starts to get parsed, by which point a connection has already been established by the web server and it's too late. The web server can do the throttling itself, but for bandwidth throttling you really need to do it at the firewall level.

[2015-12-27 22:06] Xenopathic commented on #21380
Please fill out the issue template: https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

In particular, with such a large log file, I'd suggest either removing it or moving it elsewhere, reproducing the issue, then copying the contents of the newly created log file here. (which should be considerably smaller and only containing the relevant messages)

[2015-12-27 22:14] timreeves commented on #21352
OK, so first I pored over my PHP7 compilation configuration, and made some changes, inspired by the way Plesk compiles it's version of PHP7 (which I can't use "as is", it misses some vital modules). Now mine is compiled like this:

./configure --prefix=/usr/local/php701 --with-pic --disable-debug --disable-phpdbg --disable-rpath --without-mm --without-gdbm --without-sqlite3 --without-pdo-sqlite --

[2015-12-27 22:35] timreeves commented on #21352
Could "security.limit_extensions = .php .php5 .inc" in the fpm pool config create any problems?

[2015-12-27 23:14] TheOtterslider commented on #21380
### Steps to reproduce
Dunno.  I had been working ok with version 8.x.x (can't remember what) as the server and 1.7.1 client.  I upgraded to
Client - 2.1.0. build 2944 (Mac 10.11.3)
Server - Upgraded yesterday to 8.2.2
That's when the errors started.

### Expected behaviour
No errors and syncing

### Actual behaviour
Errors.  See log

### Server configuration
**Operating system**: CentOS release 6

[2015-12-27 23:18] TheOtterslider commented on #21380
I'm adding this as a new comment just because I noticed it.  I thought the log you wanted was from the sync client log (as opposed to the server log).  My client log is 45MB (that is from a clean run up to the error being shown).  I can't locate my owncloud log...I don't have a data directory in my owncloud folder.

[2015-12-27 23:40] octo777 opened #21381 "Feature Request: The ability to sync clipboard contents between devices."
Hi, I think it would be really handy to be able to see something great on your PC, copy the link to share with someone on your phone, go to your phone and just paste that link in whatsapp or whatever!

I hate having to re-find the video or website or whatever.
There are times I see something cool on the phone and want to send it to someones PC from an email I dont have on the phone.
I just think t

[2015-12-27 23:51] Yamakasi commented on #21381
That is possible, default with some apps. Check Qownnotes.org for an example. Android store has notes apps too.

[2015-12-28 00:26] Yamakasi commented on #21376
This is a ery old and known "issue".

I think it won't be fixed as it's not needed and not doable it seems because of the complexibility. just use proper groups and multiple shares.

[2015-12-28 08:20] DeepDiver1975 commented on #21379
Which version are you using?

[2015-12-28 08:24] DeepDiver1975 commented on #21374
Quite as expected. Only a limited list of commands is available in maintenance mode.

[2015-12-28 08:24] #21374 closed

[2015-12-28 08:35] danielkoch commented on #19571
No files_external active, right. I set loglevel to 0. No entry. The only error I get can be found in the respond of the (html error) page. I posted the content in this this [comment] (https://github.com/owncloud/core/issues/19571#issuecomment-164161397)

[2015-12-28 09:13] filipjandura commented on #21376
Thanks for your answer. I'll try reorganize my folder structure. I hope that feature will be implemented in some time.

[2015-12-28 09:13] #21376 closed

[2015-12-28 09:21] #21205 closed

[2015-12-28 09:21] #20525 closed

[2015-12-28 09:21] #20573 closed

[2015-12-28 09:30] nyklspree commented on #17652
@Jocko-plugout
I am facing the same scenario as you described (no error when accessing owncloud from LAN, but the error comes out when accessing owncloud from a remote host), just wondering if you have any fixes for this problem?

[2015-12-28 09:45] RealRancor commented on #21380
@TheOtterslider You have posted the location of your datadir in the issue template:

"datadirectory": "\/encryptedfs\/stuff\/ownCloudData\/",

[2015-12-28 10:00] ThomasChr opened #21382 "Importing large Calender (.ics) files fails silently on shared Webhosting"
Hello Owncloud-Team,

when importing large ics-Files (in this case ~ 3 MB) on a shared Webhosting Environment (with strict rules regarding maximum runtime of PHP Scripts) the Import Silently fails when the script is aborted.

In my case the maximum runtime is 60 seconds.
When I import the file the request to import.php is sent out, and after exactly 60 Seconds it comes back with Status Code 500 (t

[2015-12-28 10:07] Yamakasi commented on #21379
OSX El Cpatain 10.11.2
Owncloud 8.2.2.2

[2015-12-28 10:23] abdallah-dhaou opened #21383 "LDAP users / password changing"
Hello Owncloud Team,

Importing users from LDAP is working perfectly, but the owncloud admin is "able" to change the password by typing the password field EVEN nothing will change and the password will be always the same. I guess is better to give the option to change password to users created only on owncloud , for LDAP users we have to make the password field read-only or  not existing.

I have

[2015-12-28 11:14] ThomasChr commented on #21382
### Steps to reproduce
1. Install Owncloud
2. Activate the Calender App
3. Try to Import an .ics-File with more than 3 MB (in my case ~5600 Events)

### Expected behaviour
Owncloud should either succed to import all events - or come back with an error message.

### Actual behaviour
After importing about 600 Events the max_execution_time of 60 seconds has been exhausted and so import.php fails sile

[2015-12-28 11:43] #21322 closed

[2015-12-28 11:46] TheOtterslider commented on #21380
Edited my post.  Would it be best to delete and resubmit?

[2015-12-28 11:51] cmonteroluque commented on #19988
@PVince81 I think the idea is to report on the quota, that's it. With unlimited quota as the wording, as per @MTRichards. Regarding the question of bandwidth, I am not sure we have it but as this is a blue ticket, we will prioritize this during bug fixing

[2015-12-28 12:22] TheOtterslider commented on #21380
Here's some additional info.  Rolling back to 1.7.1 (build 1655) appears to have resolved the sync issues.  My client is now syncing once again

[2015-12-28 12:44] Xenopathic commented on #21380
@TheOtterslider You will find your owncloud.log in `/encryptedfs/stuff/ownCloudData/`, perhaps there are some useful messages in there. However, if you are saying that a client rollback fixed your issue, I'd suggest reporting this in the owncloud/client repository

[2015-12-28 12:48] TheOtterslider commented on #21380
Ok.  let's call this one closed.  My guess is it is a client issue...not a server one.  I didn't notice that there were separate places for the client and server.  I reposted it there: https://github.com/owncloud/client/issues/4322

[2015-12-28 12:48] #21380 closed

[2015-12-28 13:12] CriticalNoob opened #21384 "Can't load contacts after contacts import - "Allowed memory size of bytes exhausted""
### Steps to reproduce
1. Import a moderately large contact list (Around 150 contacts) ( .vcf file)
2. Try to load contact

### Expected behavior
Contacts should be displayed.

### Actual behavior
Spinning wheel forever and error 500

### Server configuration
**Operating system**:
Ubuntu 14.04
**Web server:**
Apache 2
**Database:**
Mysql
**PHP version:**
5.5
**ownCloud version:** (see ownCloud adm

[2015-12-28 13:14] rullzer commented on #21381
This is not something we will support in core. You need 3rdpraty solutions (like the one @Yamakasi suggested for example).

Closing this.

[2015-12-28 13:14] #21381 closed

[2015-12-28 13:26] jancborchardt commented on #15567
Also FYI @owncloud/designers @oparoz :)

As mentioned, let’s wait for the 9.1 cycle though to remove all the fallbacks. But we can stop right now to add any more workarounds to current master. :)

[2015-12-28 13:54] timreeves commented on #21352
I noticed a typo in the current config.sample.php:
'memcache.locking' => '\\\\OC\\\\Memcache\\\\Redis',
i.e. a doubling-up of the namespace separators.
I had copied this to my config.php, so I corrected that, but it made no difference to the sporadic problems with PHP7.

[2015-12-28 14:09] timreeves commented on #21352
Finally, I migrated local caching to APCu as Daniel suggested - both on 5.6.16 (works fine) and 7.0.1. But that also did'nt solve my problem, here is a typical log entry section using 7.0.1 where the OC client loses the connection in the middle of working:

12-28 13:12:07:411 0x4d37b08 OCC::SocketApi::command_RETRIEVE_FILE_STATUS: void OCC::SocketApi::command_RETRIEVE_FILE_STATUS(const QString&, Q

[2015-12-28 14:54] RealRancor commented on #21382
@ThomasChr Please re-open at https://github.com/owncloud/calendar/issues

[2015-12-28 14:56] RealRancor commented on #21384
@CriticalNoob Please re-open in https://github.com/owncloud/contacts/issues

[2015-12-28 14:58] CriticalNoob commented on #21384
Done.

[2015-12-28 15:04] ThomasChr commented on #21382
My bad. Sorry.

Issue opend here: https://github.com/owncloud/calendar/issues/1007

[2015-12-28 15:04] #21382 closed

[2015-12-28 15:24] Deunze opened #21386 "Error while upgrade from 8.0.2.0 to 8.2.1"
Exception: Updates between multiple major versions and downgrades are unsupported.

[2015-12-28 15:34] RealRancor commented on #21384
@CriticalNoob Thanks. You can close this issue here on your own by hitting the close button below the comment box.

[2015-12-28 15:37] RealRancor commented on #21386
@Deunze Please use the search on top of this repository before creating new issues. With that you will find plenty of duplicates describing your problem.

Then see this FAQ how to correctly upgrade: https://forum.owncloud.org/viewtopic.php?f=17&t=32087

[2015-12-28 15:46] RealRancor commented on #21367
Another one: https://github.com/owncloud/core/issues/21386

[2015-12-28 16:18] #21384 closed

[2015-12-28 16:22] bboule commented on #9832
@felixboehm look like this is a blue ticket are you able to resolve based on provided information?

[2015-12-28 16:31] MrGraversen commented on #20963
Any news on the issue...? This is handled shockingly bad.

[2015-12-28 16:32] RealRancor commented on #9832
@bboule A partly "fix" is available here: https://github.com/owncloud/core/pull/20927

A lot of other stuff discussed in here can be only resolved on webserver config level.

[2015-12-28 16:48] bboule commented on #18499
@MorrisJobke in @schiesbn absence is there someone else that could help on this issue as it seems to be stuck?

[2015-12-28 17:03] #21344 closed

[2015-12-28 17:31] bboule commented on #21206
@gig13 Lets discuss when you are back

[2015-12-28 18:34] sehucke opened #21387 "OC 8.1.1 > 8.2.2: Log spammed with "Undefined index: HTTP_USER_AGENT" messages after manual upgrade"
### Steps to reproduce (not confirmed / reproduced yet)
1. Do a manual upgrade from OC 8.1.1 to 8.2.2
2. Reactivated / updated all addons
3. Open Admin page
4. See the log file spammed

### Expected behaviour
No error messages regarding the HTTP_USER_AGENT variable (since it was not a problem before and it might not be set anyway, see http://stackoverflow.com/questions/6465397/is-it-possible-for-s

[2015-12-28 18:36] LukasReschke commented on #21387
Should be fixed with https://github.com/owncloud/core/commit/358858c9e3f06560b67b69e1d15c141debb2729a

@karlitschek @DeepDiver1975 Backport to stable8.2?

[2015-12-28 18:37] LukasReschke commented on #21383
@owncloud/ldap

[2015-12-28 18:37] #21386 closed

[2015-12-28 18:39] #21375 closed

[2015-12-28 18:58] karlitschek commented on #21387
Please backport! :+1:

[2015-12-28 19:07] sehucke commented on #21387
:+1: for this lightning fast response!

Thanks a lot!

[2015-12-28 19:10] andersruneson commented on #18499
Sounds like it could be the same issue for ldap, maybe the user was never
logged in, and after he did the issue disappeared.
On 28 Dec 2015 17:48, "bboule" <notifications@github.com> wrote:

[2015-12-28 19:36] karlitschek commented on #21373
@schiesbn any idea?

[2015-12-28 20:07] jancborchardt commented on #17794
Depends on how much code this is. Because this is just a small feature and not really an app, people are unlikely to install this – however it might be useful & nice for more experienced folks.

[2015-12-28 20:12] jancborchardt commented on #21348
Yeah, whatever achieves the best result for UX. If pagination does that, go for it. :)

[2015-12-28 21:37] srissel commented on #17468
@MorrisJobke , could you please explain, in which way this issue can be considered a duplicate of owncloud/updater#109?

I am suffering from this issue and would greatly appreciate it beeing solved...

Kind regards,
Sascha.

[2015-12-28 23:00] seichter opened #21388 "Upgrade from 8.2.1 to 8.2.2 failed"
Might be something along the lines of  #21358 ... however for me switching off maintenance (as I did with the previous updates) did nothing. And I am out of wits where to find the problem. I am using the .deb packages on Debian 7.

### Steps to reproduce

No idea how to reproduce. Only one box ...

What I can reproduce is that
[code]

does configure the maintenance mode right in config/config.php

[2015-12-28 23:10] RealRancor commented on #21388
@seichter Have you tried to restart your webserver/php to make sure there is no caching issue?

[2015-12-28 23:23] seichter commented on #21388
@RealRancor Thanks! Restarting the webserver (which I usually try to avoid as much as possible) did the job. This should be added into the .deb package script/recipe as it does anyway stop the owncloud instance.

[2015-12-29 01:02] RealRancor commented on #21388
@seichter Which caching module (APC, APCu, XCache, OPCache, Redis...) are you using? Never had to do this with APCu or Redis.

[2015-12-29 08:53] elpraga commented on #21179
I am sorry to reply so late, @jancborchardt  I would love to be able to prepare a pull request, but I cannot code :( The found that code when I was searching the internet about the issue, and I pasted it just in case it could give some hint, it actually does the oposite then what we would need.

I tried to find if someone was trying to solve the same issue for other webpage, but I did not find any

[2015-12-29 09:08] Xenopathic commented on #21388
That would be the PHP Opcache doing funny things, likely due to a long recheck TTL. We do try to clear the opcache on upgrades, but the occ command runs in a separate PHP process so the cache clear has no effect on the web server process. Since this is a user-configured option, and is not a default on any system, it should be the responsibility of the admin to restart their server after an upgrade

[2015-12-29 09:26] jancborchardt commented on #21179
Yeah, no worries. :) Thinking about it too, ivoking fullscreen every time is quite invasive. I would close this as duplicate of #7826

[2015-12-29 09:26] #21179 closed

[2015-12-29 09:27] droid001 opened #21389 "Contacts app hangs when opened as "...jquery-1.10.2.js was not found on this server.""
1. Open contacts
2. Spinner appears, freezes and page is unresponsive for a few seconds
3. Contact list appears unsorted in the background of a popup dialogue warning of the following:
[code]
When opening the debugger the following HTML is shown:
[code]
Close the developer tools and the contacts are sorted and Contacts page is fully functional.

Server: OC 8.2.2 (was also present in v.8.1.3), Cont

[2015-12-29 09:27] elpraga commented on #21179
Well, well, well... I gave it another though and some more searching... and I found out that there is an option.. by adding
[code]
user can use the menu item in google chrome for Android to add a shortcut to the home screen and the app then appears without the address bar. Then I checked the code of OC and to my surprise it is already there, and it works as expected.

I was about the close the iss