[2015-08-20 12:50] LuckySB commented on #18336
I am receiving the same error

[2015-08-20 12:54] rperezb commented on #18449
@MorrisJobke, the thing is that this is a different use case, when the uploads are handled by the ownCloud iOS, no matter whether they are instant or not, we are renaming the images taken into account the date when they were taken. The idea was to avoid this error.
However, since in this case they are uploading the images directly to the web interface, the name is the one set by the system, IMG_xx

[2015-08-20 12:54] MorrisJobke commented on #18454
Thanks @steppy

Fix is in #18456

[2015-08-20 13:02] DeepDiver1975 commented on #18425
Issue as reported in the doctrine issue tracker - http://www.doctrine-project.org/jira/browse/DBAL-1283

[2015-08-20 13:02] DeepDiver1975 commented on #18425
I'm out of this game ... I don't get it

[2015-08-20 13:53] #18358 closed

[2015-08-20 13:54] mik997 opened #18458 "ownCloud generates intermittent "An error occurred while loading the PDF" message since upgrading 8.0.4 to 8.1.1"
Typical error at PDF viewer page:

PDF.js v1.0.712 (build: 6969ed4)
Message: Unexpected server response (0) while retrieving PDF "https://...........pdf"

- happens infrequently only on some PDFs.
- encryption is not enabled.
- deleting and re-uploading the same PDF does not correct.

[2015-08-20 14:30] mdieterich commented on #10529
Sorry, my summer got busy and I'm just now getting back to this. Can you point me to a quick primer on how the xml structure you pointed me to is translated into a database schema? Even what toolset is used to do the db updates would be helpful. What I'm struggling with is why a size needs to be defined at all. MySQL suports text type objects, which don't require a maximum size be defined. My unde

[2015-08-20 14:37] MorrisJobke commented on #18458
Hi @mik997 thanks for the report. Can I ask you to open this issue in the pdf app issue tracker https://github.com/owncloud/files_pdfviewer/issues

Thanks

[2015-08-20 14:37] #18458 closed

[2015-08-20 16:12] Aurelien- opened #18460 "Cannot open document in the webgui - {no app in context} Can not decrypt this file, probably this is a shared file. Please ask the file owner to reshare the file with you log error."
Hello,

I cannot read document from the webgui. It leads to a 403 Forbidden with log:
`{no app in context} Can not decrypt this file, probably this is a shared file. Please ask the file owner to reshare the file with you log error.`
This error has been reported in https://github.com/owncloud/core/issues/18000.

I joined my nginx config, the only modification from the owncloud exemple is:
    `loca

[2015-08-20 16:14] Aurelien- opened #18461 "Nginx log gives a lot of "^/carddav(.*)$"/"^/caldav(.*)$"/"^/webdav(.*)$" does not match "/remote.php/"
Hello,

I have a lot of log like those given below produced by owncloud server. These logs appear if I navigate threw owncloud webgui or when clients try to connect.
Same log appears when I try to connect with my MacOS calendar and contact apps to the server. Contact/calendar/owncloud client work correctly. But I cannot open documents in the webgui, bug reported here: https://github.com/owncloud/c

[2015-08-20 16:23] furrig commented on #16928
@SerialG I did not encounter any memory issue here.

[2015-08-20 16:43] Aurelien- opened #18462 "Documents app and MacOs calendar exception: Failed to connect to the database: An exception occured in driver: SQLSTATE Too many connections"
Hello,

I get the exception:
`Failed to connect to the database: An exception occured in driver: SQLSTATE Too many connections`
when my MacOs calendar connects to owncloud or when I open the web app Documents to list my documents. Calendar seems to work and Documents also as I get the list of my documents. However, owncloud produce the exceptions given below.

I'am using mysql replication.

## Ste

[2015-08-20 16:58] Aurelien- opened #18463 "Image app loads forever - client sent too long header name or value"
Hello,

I cannot open Image App from webgui, it loads forever producing log:
[code]

[2015-08-20 17:21] erm67 commented on #16255
@Chais file a bug at https://bugs.archlinux.org/  mentioning that this https://bugzilla.redhat.com/show_bug.cgi?id=1104597 patch fixes the problem for fedora 22 (well maybe, if you can, try to patch and recompile nss:-) ), the arch guys are usually very fast to fix things.. I don't understand why RedHat did not merge the patch at least in testing. Maybe there isn't enough people complaining :-)

[2015-08-20 17:56] carlaschroder commented on #16090
done https://github.com/owncloud/documentation/issues/1110

[2015-08-20 17:56] #16090 closed

[2015-08-20 18:40] karlitschek commented on #18463
very strange error.i assume this has something to do with your specific configuration. I recommend to ask in the forum if someone has a similar setup and can help. Not sure this is an owncloud bug.

[2015-08-20 18:41] karlitschek commented on #18462
you should make sure that mariadb accepts more connection then you have as maximum number of running php processes.

[2015-08-20 18:41] #18462 closed

[2015-08-20 18:42] karlitschek commented on #18461
this looks like an webserver/system configuration problem. nothing we can fix in the owncloud code. i recommend to ask in the forum for advice.

[2015-08-20 18:42] #18461 closed

[2015-08-20 18:47] karlitschek commented on #18460
there must be something wrong with your setup that i can debug here. but i'm quite sure this is not a bug in the owncloud code. I recommend to ask on the mailing list or forum or try a different setup.

[2015-08-20 18:47] #18460 closed

[2015-08-20 18:50] carlaschroder opened #18464 "encryption:migrate needs maintenance mode disabled for ldap users"
I need an expert opinion on this, please. Does user_ldap require special handling when upgrading encrypted ownCloud instances?

"I am upgrading from 7.0.8 to 8.1.1 on Ubuntu 14.04 with encryption enabled...
OK. I managed to get the command to process the LDAP users.
It needs to be out of "maintenance mode" before running the migrate command. Also the encryption app is disabled after the upgrade an

[2015-08-20 19:30] RealRancor commented on #18461
Yes, seems an outdated/old NginX config is used here. @Aurelien- make sure you're using the current one provided here: https://doc.owncloud.org/server/8.1/admin_manual/installation/nginx_configuration.html

[2015-08-20 19:59] FloMiLe opened #18465 "Owner of shared folder cannot share subfolders when sharing is not allowed for others"
### Steps to reproduce
1. Create a folder "SharedFolder".
2. Share "SharedFolder" with group "G", of which you are a member, and uncheck "can share" for "G".
3. Create folder "SubFolder" inside "SharedFolder" and try to share.

### Expected behaviour
It should be possible to share "SubFolder".

### Actual behaviour
Sharing is not possible. It says: "Shared with you and the group G by <my username>

[2015-08-20 20:31] MorrisJobke commented on #18465
cc @schiesbn

[2015-08-20 20:32] MorrisJobke commented on #18464
cc @schiesbn @blizzz

[2015-08-20 20:42] VicDeo commented on #16301
@PVince81 it existed before me. Something like `Let's kill all versions until `DEFAULTMAXSIZE` is freed

https://github.com/owncloud/core/blob/master/apps/files_versions/lib/storage.php#L48

[2015-08-20 20:43] blitz commented on #18293
Manually downloading and replacing the apps seems to restore normal operation. Would be good to know what the actual problem is, so this doesn't hit again during the next update.

[2015-08-20 21:07] mbouchar opened #18467 "Desktop client crashing if server down"
With the desktop client version 1.8.4-1, the app crash at launch if the owncloud server is not available.

traps: owncloud[15409] general protection ip:7ff7b192f9d8 sp:7ffd5cae9dc0 error:0 in libQtNetwork.so.4.8.6[7ff7b18af000+14d000]

Kubuntu 15.10

[2015-08-20 21:18] untitaker commented on #18409
It seems that this is slipping through the cracks -- could somebody take a look at this? This regression essentially makes it impossible to rename addressbooks and calendars. I've edited the issue to roughly follow the issue template.

[2015-08-20 21:32] Xenopathic commented on #18467
Please report this on the client issue tracker: https://github.com/owncloud/client/issues

[2015-08-20 21:32] #18467 closed

[2015-08-20 22:04] Xenopathic commented on #18347
Perhaps the best solution for this is to move the mount options from their current place, hardcoded into the dropdown template, to a dedicated MountOptionsService where mount options can be registered (much like backends/auth mechanisms can now). Only problem with this approach is the time investment needed.

[2015-08-20 22:30] jrh7675 commented on #18448
I am using a system wide SMB (not SMB_OC) and I am not using encryption. The log files don't reveal much but maybe I need to turn it up or something. A WireShark of the problem reveals some RST sequences of packets.

I've tried to answer all the questions but some were easier (and more relevant) than others.

Thank you!

Jim

------------------------------------------------------------------------

[2015-08-20 23:06] blizzz commented on #17362
Since the ldap code diverged too much I opened a new PR – propper rebasing was not possible. It goes here: https://github.com/owncloud/core/pull/18469

[2015-08-21 00:18] untitaker commented on #18409
Thanks @MorrisJobke :beer:

[2015-08-21 02:53] mattcaron opened #18470 "cron.php and console.php use fallacious test (PATCH)"
Code:
[code]

My setup is in my homedir, so I own all the files. The webserver can write to the necessary places because everything is group owned by www-data.

Suggested fix:
[code]
The diff is:
[code]

If folks are happy with this, I'll grab the code and do a pull request.

[2015-08-21 04:27] PVince81 commented on #18382
@karlitschek can OCS codes be invented for a specific endpoint or is there a predefined list to draw from ? See https://github.com/owncloud/core/issues/18382#issuecomment-132746600

[2015-08-21 04:31] PVince81 commented on #18347
@Xenopathic I think we will need this eventually, the ability for backends to tell what mount options they support and what not. But probably not now.

[2015-08-21 04:43] roman2025 commented on #17731
I did a full write-up on how to get Redis cache + File locking working on Owncloud 8+ running on Ubuntu 14.04 here: http://www.kiloroot.com/a-guide-to-owncloud-8-ubuntu-14-04-and-caching-apcu-redis-cache-and-file-locking-oh-my/

Hopefully that is helpful for some folks as I included a lot more detail. I also wrote about how to setup APCu as that also can be a bit tricky on Ubuntu.

Cheers,

Roman

[2015-08-21 07:56] MorrisJobke commented on #18470
@mattcaron Looks good to me. @DeepDiver1975 Opinion?

[2015-08-21 08:01] PVince81 commented on #18465
Let's first have a try with 8.0.6 and 8.1.1

[2015-08-21 08:04] PVince81 commented on #18465
Ah yes, this one. It's fixed already, please upgrade.

[2015-08-21 08:04] #18465 closed

[2015-08-21 08:05] PVince81 commented on #18465
Duplicate of https://github.com/owncloud/core/issues/15771

[2015-08-21 08:13] PVince81 commented on #18428
Argh, not the router thing again?

[2015-08-21 08:23] #18455 closed

[2015-08-21 08:34] #18295 closed

[2015-08-21 08:38] PVince81 commented on #18289
This error message is very strange.

First, from here we can see that `checkGeneric` is called as the third argument: https://github.com/owncloud/core/blob/v8.1.1/settings/js/admin.js#L167
This means that the class `OC.Settings` exists since it was able to run the two previous arguments.

If the class `OC.SetupChecksexists`, then `OC.SetupChecks.checkGeneric` should be a proper function. Its defin

[2015-08-21 08:43] PVince81 commented on #8452
Please try again with OC 8.0.6 or 8.1.1. There were a few fixes related to DAV/ownCloud ext storages.

If you're still having issues, feel free to reopen.

[2015-08-21 08:43] #8452 closed

[2015-08-21 08:45] PVince81 commented on #9952
@KKyang this is another issue, see https://github.com/owncloud/apps/issues/2064

If anyone is still having freezing video issues with 8.0.6 or 8.1.1, feel free to reopen.

[2015-08-21 08:45] #9952 closed

[2015-08-21 08:46] PVince81 commented on #9954
Please try again with 8.1.1 and sync client 1.8.4.
In 8.1.1 there have been fixes related to etag propagation which should fix syncing issues with shared files.

If you're still having trouble with these versions, feel free to reopen.

[2015-08-21 08:46] #9954 closed

[2015-08-21 08:49] DeepDiver1975 commented on #18470
@mattcaron please submit a PR - I'm willing to test this ... Thanks a lot!

[2015-08-21 08:49] DeepDiver1975 commented on #18463
Please reopen in the gallery repo - THX

[2015-08-21 08:49] #18463 closed

[2015-08-21 08:51] PVince81 commented on #10552
Please try again with 8.0.6 or 8.1.1.

If you're still experiencing this issue, please reopen.

[2015-08-21 08:51] #10552 closed

[2015-08-21 08:52] #18454 closed

[2015-08-21 08:52] PVince81 commented on #10651
Closing in favor of https://github.com/owncloud/core/issues/17346

[2015-08-21 08:52] #10651 closed

[2015-08-21 08:57] PVince81 commented on #12351
Please try again with 8.0.6 or 8.1.1.
You will need PHP >= 5.4.

If you're still having trouble with these versions, feel free to reopen.

[2015-08-21 08:57] #12351 closed

[2015-08-21 08:58] PVince81 commented on #12511
Please try again with 8.0.6 or 8.1.1.

Feel free to reopen if you're still having issues and use the issue template: https://raw.github.com/owncloud/core/master/issue_template.md to provide more information. Thanks!

[2015-08-21 08:58] #12511 closed

[2015-08-21 08:59] DeepDiver1975 commented on #18428
@oparoz can you bisect this? THX

[2015-08-21 09:01] DeepDiver1975 commented on #18421
@oparoz  By chance you have the code at hand? THX

[2015-08-21 09:02] DeepDiver1975 commented on #18414
side effect of #18425

[2015-08-21 09:02] #18414 closed

[2015-08-21 09:04] PVince81 commented on #13262
Any steps to reproduce ?
See https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

[2015-08-21 09:05] DeepDiver1975 commented on #18411
we should sync the implementations - PR welcome - THX

[2015-08-21 09:07] PVince81 commented on #13436
Please try again with 8.0.6 or 8.1.1.
Some session-related issues have been fixed recently and should hopefully cover that as well.

If you're still having these issues with these versions, feel free to reopen.

[2015-08-21 09:07] #13436 closed

[2015-08-21 09:08] PVince81 commented on #13908
@rbahassine did you have any more luck with 7.0.6, 8.0.6 or 8.1.1 ?

[2015-08-21 09:08] DeepDiver1975 commented on #18363
side effect of #18425

[2015-08-21 09:08] #18363 closed

[2015-08-21 09:08] PVince81 commented on #13908
Please reopen if the issue persists in these versions.
Thanks.

[2015-08-21 09:08] #13908 closed

[2015-08-21 09:11] DeepDiver1975 commented on #14296
should be reopened in the search_lucene repo

[2015-08-21 09:11] #14296 closed

[2015-08-21 09:12] DeepDiver1975 commented on #11912
@LukasReschke backlog? 9.0?

[2015-08-21 09:13] DeepDiver1975 commented on #13407
@icewind1991 I guess this was fixed with the latest update to your smb lib 1.0.4 - right?

[2015-08-21 09:13] PVince81 commented on #14236
@eigengrau see solution proposed here https://github.com/owncloud/core/issues/14236#issuecomment-94592044

[2015-08-21 09:13] #14236 closed

[2015-08-21 09:13] DeepDiver1975 commented on #17480
@icewind1991 fixed? need more info? THX

[2015-08-21 09:14] PVince81 commented on #14281
@rperezb sounds like something you reported recently too ?

[2015-08-21 09:14] PVince81 commented on #14291
@fossxplorer if it didn't work with 8.0.6 or 8.1.1, please reopen :wink:

[2015-08-21 09:14] #14291 closed

[2015-08-21 09:17] DeepDiver1975 commented on #11345
I assume this is about the template editor - right?
Please reopen in https://github.com/owncloud/templateeditor/issues - THX

[2015-08-21 09:17] #11345 closed

[2015-08-21 09:18] PVince81 commented on #14408
@iwurzer the mystic deletion could have been be https://github.com/owncloud/core/issues/13391 when renaming a huge folder.

@enoch85 also there were issues with the versions app where moving a folder didn't always move the versions with them. This should be fixed in 8.0.6 and 8.1.1

Please reopen if you still see these warnings in 8.1.1.

[2015-08-21 09:18] #14408 closed

[2015-08-21 09:21] PVince81 commented on #14714
Please try again with 8.0.6 or 8.1.1.

If you're still having issues, please reopen and provide more information using the issue template: https://raw.githubusercontent.com/owncloud/core/master/issue_template.md
Thanks.

[2015-08-21 09:21] #14714 closed

[2015-08-21 09:25] PVince81 commented on #14807
Please try again with 8.0.6 or 8.1.1 and sync client 1.8.4.

If you're still having these problems, feel free to reopen.

[2015-08-21 09:25] #14807 closed

[2015-08-21 09:28] PVince81 commented on #15374
The "database is locked" issues have been mitigated in recent versions, please try again with 8.0.6 or 8.1.1.

Feel free to reopen if you're still having trouble updating.

[2015-08-21 09:28] #15374 closed

[2015-08-21 09:29] DeepDiver1975 commented on #12179
We see multiple owncloud versions installed in parallel - should no long be of an issue - please reopen in case this is still an issue - THX

[2015-08-21 09:29] #12179 closed

[2015-08-21 09:30] peterkahl commented on #13262
No longer can reproduce it.

On 2015-08-21 17:05, Vincent Petry wrote:

--
Full Circle Reverse DNS (FCrDNS) aka Forward-confirmed Reverse DNS:
https://en.wikipedia.org/wiki/Forward-confirmed_reverse_DNS

SMTP Protocol:
"...The client initiates its dialog by responding with a HELO command identifying itself in the command's parameter with its FQDN..."
https://en.wikipedia.org/wiki/Simple_Mail_Trans

[2015-08-21 09:30] DeepDiver1975 commented on #12187
@blizzz member-of - rings the :bell: to me - isn't that implemented by now? THX

[2015-08-21 09:31] DeepDiver1975 commented on #11793
@LukasReschke related to the mount.json issue we are trying to solve with 8.2????

[2015-08-21 09:34] PVince81 commented on #13262
Thanks, maybe it was a temporary glitch on the server timezone.

[2015-08-21 09:34] #13262 closed

[2015-08-21 09:40] PVince81 commented on #15388
OP used the updater app. Not sure if the updater app had a glitch and didn't properly replace all the source files.

Please note that "./occ upgrade" only updates the database, not the OC source code.

I'd recommend to manually replace the source code now instead of relying on the updater app, see https://doc.owncloud.org/server/8.0/admin_manual/maintenance/upgrade.html#manual-upgrade-procedure

P

[2015-08-21 09:40] #15388 closed

[2015-08-21 09:41] PVince81 commented on #15615
Is this still an issue with the 8.0.6 or 8.1.1 packages ?

[2015-08-21 09:47] PVince81 commented on #15842
@blizzz any update ?

[2015-08-21 09:47] PVince81 commented on #15873
Closing due to lack of feedback. See previous comment.

[2015-08-21 09:47] #15873 closed

[2015-08-21 09:49] #15902 closed

[2015-08-21 09:51] DeepDiver1975 commented on #13468
From my understanding this is fixed since 8.1 -> closing

[2015-08-21 09:51] #13468 closed

[2015-08-21 09:54] MorrisJobke commented on #13468
Yes, fixed by #15541 and backported to 7.0.6 and 8.0.3

[2015-08-21 09:54] DeepDiver1975 commented on #13541
@rperezb can we have some qa power on this please? something for the testplan from my pov

[2015-08-21 09:54] PVince81 commented on #16198
Any more luck with 8.0.6 or 8.1.1 ?
The scan command should now properly check that it's running as the correct user.

Feel free to reopen if you're still having this issue with the newer versions.

[2015-08-21 09:54] #16198 closed

[2015-08-21 09:56] georgehrke commented on #16500
I just checked again, the only purpose of post_write is to call post_delete, so we can't remove the hook to post write.

Which brings me back to my first question:

cc @icewind1991

[2015-08-21 09:56] blizzz commented on #15842
Well, LDAP configuration was missing. I think that was just configuration issues. If "LDAP Username" is clicked in the login filter, than samaccountname will be used against AD.

Might indicate either SSL setup issues are or false-positively detected TLS availablity. That can be turned of using occ.

I'd close it as config issue.

@bboule please reopen if you think it is necessary.

[2015-08-21 09:56] #15842 closed

[2015-08-21 09:58] blizzz commented on #12187
@DeepDiver1975 requested is a fallback method when memberof is not available, so groups can still be selected in user filter. This is still open.

[2015-08-21 10:00] PVince81 commented on #16347
oc_fscache is an old obsolete table, please delete it and try again.

Since ownCloud 8.1.x there will be a repair step that automatically deletes such obsoletes tables during upgrade: https://github.com/owncloud/core/issues/14538

[2015-08-21 10:00] #16347 closed

[2015-08-21 10:04] PVince81 commented on #16425
Please try again with 8.0.6 or 8.1.1 and sync client 1.8.4.

If you're still having issues, feel free to reopen and then provide more information about your setup using the issue template: https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

[2015-08-21 10:04] #16425 closed

[2015-08-21 10:09] DeepDiver1975 commented on #12187
thx

[2015-08-21 10:16] PVince81 commented on #16633
@schiesbn can you help ?

[2015-08-21 10:23] PVince81 commented on #16676
Please try again with 8.1.1. The beta had some bugs.

[2015-08-21 10:23] #16676 closed

[2015-08-21 10:25] PVince81 commented on #16777
Please try and find out which of these three apps is breaking OC when you enable it.
Then report either to https://github.com/owncloud/notes https://github.com/owncloud/gallery/ or https://github.com/owncloud/apps (for "external"). Make sure to include a snippet of the owncloud.log

Thanks. You might have more luck with 8.0.6 or 8.1.1.

[2015-08-21 10:25] #16777 closed

[2015-08-21 10:26] PVince81 commented on #16782
Please try again with 8.0.6 or 8.1.1, also with sync client 1.8.4.

If you're still having these issues, feel free to reopen.

[2015-08-21 10:26] #16782 closed

[2015-08-21 10:29] PVince81 commented on #16789
Possibly missing phpunit.

If you're still having issues, please provide more details about your env (PHP version, PHP unit version, etc).

[2015-08-21 10:29] #16789 closed

[2015-08-21 10:30] PVince81 commented on #16804
Info was provided, removing label.

@LukasReschke any idea ?

[2015-08-21 10:33] PVince81 commented on #14808
backlog then

[2015-08-21 10:35] PVince81 commented on #16999
There were such known issues where the server was running on Windows.
This isn't supported any more, need to run on Linux instead.

Closing.

[2015-08-21 10:35] #16999 closed

[2015-08-21 10:37] PVince81 commented on #17062
Closing due to lack of information.

See https://github.com/owncloud/core/issues/17062#issuecomment-113928518

If you're still having issues, feel free to reopen and use the issue template https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

[2015-08-21 10:37] #17062 closed

[2015-08-21 10:38] #15257 closed

[2015-08-21 10:45] PVince81 commented on #17168
Please try again with 8.1.1.
There were some issues with the encryption wrapper on 8.1.0. Note that the encryption wrapper is active even when encryption is disabled, but it shouldn't do anything.

If you're still having trouble with 8.1.1, feel free to reopen.
Thanks.

[2015-08-21 10:45] #17168 closed

[2015-08-21 10:46] PVince81 commented on #17201
Information was provided, removing label

[2015-08-21 10:48] PVince81 commented on #17350
I already tried with trailing spaces and it worked fine with sync client 1.8.4.
Which version did that user have ?

[2015-08-21 10:52] PVince81 commented on #17475
@DebianLinuxer can you try changing this line: https://github.com/owncloud/core/blob/v8.1.1/lib/repair/innodb.php#L62

And replace the double quote `\"` with single quota `'`.
It would become:
[code]

[2015-08-21 10:53] PVince81 commented on #17475
@icewind1991 any reason why we used double quotes instead of single quotes here ?

[2015-08-21 10:53] PVince81 commented on #17497
Thanks, closing.

[2015-08-21 10:53] #17497 closed

[2015-08-21 10:56] PVince81 commented on #17499
@kaeser-sosae better use this OC 8.1 patch instead: https://github.com/owncloud/core/pull/18397.patch

You need to add `-p1` in the CLI, so it becomes:
`patch -p1 --dry-run < 18397.patch`

[2015-08-21 10:57] PVince81 commented on #17586
@josh4trunks can you help with these nginx issues ?

[2015-08-21 11:01] PVince81 commented on #17591
Okay, so probably a faulty app: `Exception: App does not provide an info.xml file`

The update process needs to be made more robust to auto-disable such apps in case that specific issue is met.

[2015-08-21 11:03] PVince81 commented on #17611
I believe this should be fixed in 8.1.1, please try again with that version.

If it still doesn't work, please reopen and fill out the issue template.
Thanks.

[2015-08-21 11:03] #17611 closed

[2015-08-21 11:05] PVince81 commented on #17717
Why is it called "REDIRECT_MOD_X_SENDFILE_ENABLED" instead of "MOD_X_SENDFILE_ENABLED" ?

[2015-08-21 11:07] PVince81 commented on #17722
Works for me with 8.1.1, both using cadaver and the sync client.

Closing due to lack of information. See https://github.com/owncloud/core/issues/17722#issuecomment-122364128

[2015-08-21 11:07] #17722 closed

[2015-08-21 11:08] sargue commented on #16255
I also got the admin message "this server has no internet conection...". OC Server 8.1.1

Result from the above PHP/cURL test (seems ok):
HTTP Status: 200
HTTP Status: 301

My system is Debian stable 64 bits.

Apache
[code]

PHP
[code]

cURL
[code]

[2015-08-21 11:09] PVince81 commented on #17735
@poVoq any more luck with the 8.1.1 package ?

[2015-08-21 11:14] PVince81 commented on #18014
CC @blizzz for AD

[2015-08-21 11:18] RealRancor commented on #16255
@sargue See https://forum.owncloud.org/viewtopic.php?f=17&t=29790 for some pointers

[2015-08-21 11:20] schiesbn commented on #16633
The error message is quite obvious. Please double check that the public key ````<user>.publicKey```` in data/files_encryption/public_keys exists and that the private key doesn't exist at ````<user>/files_encryption/<user>.privateKey````

If that's the case please restore the private key from your backups, I hope you have backups. ownCloud never deletes a private key, so I have now idea how you los

[2015-08-21 11:20] PVince81 commented on #18026
Hmm not sure. It is likely that the table already contained duplicate entries before the index was created.

What I find strange is that this index seems to exist already since OC 5.

@baladino please use the issue template and make sure to not skip versions when updating.

[2015-08-21 11:22] PVince81 commented on #18051
Very likely to be either calendar or contacts app, nothing in core.
Please raise in the corresponding repo.

[2015-08-21 11:22] #18051 closed

[2015-08-21 11:26] tomneedham commented on #18382
@PVince81 They are fairly random from my experience. Although these ones are more consistent: https://github.com/owncloud/core/blob/master/lib/public/api.php#L54. Anything else is made up from 101 upwards with 100 being success.

[2015-08-21 11:28] PVince81 commented on #18248
So if I understand well, even a simple action like creating a brand new folder will produce the duplicate key error ? This shouldn't happen unless maybe two people are creating the same folder at the same time.
It almost looks like as if there were two processes running the same PHP script at the same time ?!

[2015-08-21 11:31] PVince81 commented on #12626
Will be obsoleted by having the share dialog in the sidebar: https://github.com/owncloud/core/issues/17665

[2015-08-21 11:31] #12626 closed

[2015-08-21 11:33] rperezb commented on #14281
It could be, I ask the user to report it on github...however,  it hasn't happened :(

His problem was  that the url: https://server/public.php/s/Tgzidip14A3dauL was not working, this is the one generated from the iOS app, however, if he changed manually to  https://server/index.php/s/Tgzidip14A3dauL

[2015-08-21 11:33] PVince81 commented on #12516
Any more luck with 8.0.6 or 8.1.1 ? It is likely that this issue is related to your environment/configuration.

Feel free to reopen if the issue still persist with the newer versions of OC.

[2015-08-21 11:33] #12516 closed

[2015-08-21 11:34] PVince81 commented on #12773
Please try again with 8.0.6 or 8.1.1 and also sync client 1.8.4.

Feel free to reopen if this is still happening.

Possibly related: https://github.com/owncloud/core/issues/13498

[2015-08-21 11:34] #12773 closed

[2015-08-21 11:37] PVince81 commented on #12964
@jancborchardt you probably mean #9058

[2015-08-21 12:03] Xenopathic commented on #18014
I am unable to reproduce this. My Android client connects successfully, running without a reverse proxy but using an LDAP user, and I get no 'Login failed' messages in the logs.

[2015-08-21 12:03] PVince81 commented on #10831
Could be implemented as a separate encryption module.

[2015-08-21 12:04] PVince81 commented on #8194
Avatars are already displayed now in 8.1.1
But if the users have no avatar, then you'd see both "Thomas Müller" with a "T" avatar, wouldn't help much.

[2015-08-21 12:05] PVince81 commented on #7128
Hopefully this issue can be obsolete with #9058 resharing behavior update.

[2015-08-21 12:08] PVince81 commented on #13004
Are you still seeing this in 8.0.6 or 8.1.1 ?

The issue is likely to be in either the calendar or contacts app that might in some cases try to store all entries in memories (not sure, just guessing). Not related to core.

[2015-08-21 12:09] PVince81 commented on #13248
@ferdiga where are you seeing a count down ?

[2015-08-21 12:10] PVince81 commented on #13248
Maybe you are referring to the scanning process that triggers itself sometimes from the JS code, and then opens a channel to the server and receives updates messages often.

I think this process should be moved to a cron job instead, see https://github.com/owncloud/core/issues/17906

[2015-08-21 12:11] PVince81 commented on #13465
Could be done maybe as part of the archive app ? https://github.com/owncloud/apps/tree/master/files_archive

[2015-08-21 12:13] Xenopathic commented on #12815
Closing due to inactivity. If upgrading is still an issue, please re-open.

[2015-08-21 12:13] #12815 closed

[2015-08-21 12:13] PVince81 commented on #12044
Isn't that the general problem that the Mac uses a slightly different encoding ? Maybe there is a piece of code (client or PHP) that mixes up / messes up with such encoding.

[2015-08-21 12:17] Xenopathic commented on #13465
Agree with @PVince81 - the archive app is the natural place to implement this

[2015-08-21 12:17] #13465 closed

[2015-08-21 12:23] PVince81 commented on #10351
Works in 8.0.
Basically the folder or file gets unmounted on-demand. It means it stays visible in the list until OC tries to access it. At this time it finds out that the file/folder is gone.

[2015-08-21 12:23] #10351 closed

[2015-08-21 12:31] Xenopathic commented on #13206
Any update on this?

[2015-08-21 12:32] LukasReschke commented on #14281
The old public.php route is only registered if you update from an older ownCloud version. Please take a look at https://github.com/owncloud/client/blob/07ddf18b3b1e15ddc754c90fad2d0239e021a9d3/src/gui/sharedialog.cpp#L359-L372 to see how the desktop client does it. That said, with 8.2 the server returns the actual URL.

[2015-08-21 12:44] PVince81 opened #18474 "Federated share must auto-delete when remote is gone"
### Steps

1. Create two users "user1" and "user2"
1. Login as "user1"
1. Create a folder "test"
1. Share "test" using federated share with "user2@localhost/owncloud" (or whichever local URL, yes it works)
1. Login as "user2"
1. Accept the share
1. Login as "user1" again
1. Delete the folder "test"
1. Login as "user2"
1. Access the folder "test"

### Expected result
After accessing, a message "Sto

[2015-08-21 13:01] SergioBertolinSG opened #18476 "[OCS API] Return all data in public shares"
Currently requesting data of a public share only returns share_id, path, link and token.

Example:
PublicShare(id=142,path=/Photos,link=http://OC_URL/index.php/s/sCAtEP3peiMn4LS,token=sCAtEP3peiMn4LS)

We need to have the info regarding permissions, public_upload and expiration_date.

[2015-08-21 13:01] MorrisJobke commented on #15359
Fix is in #18475

[2015-08-21 13:12] rperezb commented on #14281
thanks @LukasReschke, yes, it´s included on the mobile roadmap (Android and iOS) update the sharelink methods to that

[2015-08-21 13:21] PVince81 commented on #18474
Regression introduced by https://github.com/owncloud/core/pull/17950 which is disabling `filesystem_check_changes` by default.

We need to statically set the watcher for federated shares to make sure it can detect remote changes.

This also means that if people manually set the option `filesystem_check_changes` to 0 in the config in previous versions, they'd experience the same issues.

[2015-08-21 13:22] PVince81 commented on #18474
- [ ] fix watcher for federated shares
- [ ] investigate why we're getting "storage not available" instead of "storage invalid"

[2015-08-21 13:30] josh4trunks commented on #17586
Just to be clear, who is still having upload issues? From reading through it looks like @tohojo @DemoFreak and @wvandelli

If you are having issues please post..
* webserver + php backend (i.e. nginx + uwsgi)
* nginx config
* nginx error message

[2015-08-21 13:38] PVince81 commented on #18474
I just checked and indeed on stable8 the folder disappears upon entering it. In 8.1.1 it's just temporarily unavailable. I'll bisect that.

[2015-08-21 13:44] teemu-torma commented on #17586
I am using nginx+uwsgi and I do get same error messages as @wvandelli on July 15 comment - uwsgi generates 500 error with 0 bytes and nginx turns that into 502 error, nothing on owncloud.log.  This happens with both foldersync and owncloud client on android.  The config is pretty much the same as has been posted here before.

Linux clients work just fine.  ownCloud desktop sync works fine both way

[2015-08-21 13:50] josh4trunks commented on #17586
@teemu-torma the only nginx config I see is the one here https://github.com/owncloud/core/issues/17586#issuecomment-128646401, which is said to be working. Should I assume this is your config and it doesn't work with uwsgi?

[2015-08-21 13:55] PVince81 commented on #18474
First breaking commit: 5f044ebf1bc6f45acec2e79dc05185acd0405f42
But I know that this is not something revertable. I remember many subsequent fixes to bring all the exceptions in line. Maybe something is missing or mixed up there.
I'll have a look.

[2015-08-21 14:00] PVince81 commented on #18474
Messy stuff on master (with https://github.com/owncloud/core/issues/18477 applied)
[code]

[2015-08-21 14:19] DemoFreak commented on #17586
@josh4trunks

Apache 2.4.12
PHP 5.6.10
PHP as Fast-CGI (mod_fcgid)

Error messages see some posts above. ;-)

[2015-08-21 14:21] teemu-torma commented on #17586
@josh4trunks sorry, that's for fastcgi, I am using something like in https://gist.github.com/gdamjan/e98672fe86b7a11e0520

At least what I can tell, it is only Android client uploads that are broken, download works and Linux clients work both ways.

[2015-08-21 14:27] PVince81 opened #18478 "Stray oc_share_external entries after deletion of shared item"
### Steps

1. Create two users "user1" and "user2"
1. Login as "user1"
1. Create a folder "test"
1. Share "test" using federated share with "user2@localhost/owncloud" (or whichever local URL, yes it works)
1. Delete the folder "test"
1. Check "oc_share_external"
1. Go to trashbin and delete "test" permanently
1. Check "oc_share_external"

### Expected result
The external share entry should disappe

[2015-08-21 14:29] josh4trunks commented on #17586
@teemu-torma not sure why that config wouldn't work with uwsgi. I use nginx+php-fpm personally and didn't have any problems with the upgrade from 8.0.5 > 8.1.1

An unrelated notie, the config you linked matches and captures the script_name and path_info. This is better done with "fastcgi_split_path_info" as seen in the owncloud docs
https://doc.owncloud.org/server/8.1/admin_manual/installation/ngi

[2015-08-21 14:33] jmruas opened #18479 "Update to 8.1.1"
I got this error message:
GuzzleHttp\Exception\RequestException: cURL error 60: SSL certificate problem: unable to get local issuer certificate

The update was unsuccessful. Please report this issue to the ownCloud community.

[2015-08-21 14:35] jmruas commented on #18479
Reupdating, this issue is gone and the update done with success.

[2015-08-21 14:35] #18479 closed

[2015-08-21 14:40] PVince81 opened #18480 "ajax/scan.php goes crazy when storage temp not available"
### Steps

1. Let there be two users "user1@A" and "user2@B" where A and B are two separate ownCloud instances
1. Login as "user1@A"
1. Share a new folder "test" with "user2@B".
1. As "user2@B" accept the share and let it appear as "/test" in the root
1. Turn off / enable maintenance mode on A
1. Refresh the page
1. Observe the network console

### Expected result
scan.php only runs once

### Actu

[2015-08-21 14:52] PVince81 commented on #18478
This is **not** to be confused with the storage entries for the recipient: https://github.com/owncloud/core/issues/15701

[2015-08-21 14:58] PVince81 commented on #15701
I think it should be easier to delete this entry at the time where we explicitly remove the mount point, here: https://github.com/owncloud/core/blob/v8.1.1/apps/files_sharing/lib/external/storage.php#L189
Because that is the moment where we know exactly what storage it is we are removing.

Basically need to extend that `removeShare` method to also clear the "oc_storages" and "oc_filecache" for tha

[2015-08-21 15:07] PVince81 commented on #18478
Ok, I was wrong. oc_share_external is actually used for incoming shares, not outgoing shares.
The problem of https://github.com/owncloud/core/issues/18474 must be somewhere else.

[2015-08-21 15:07] #18478 closed

[2015-08-21 15:19] PVince81 commented on #18474
Ok, I guess in 8.0 the detection logic was slightly different.

The external/storage calls the remote "ajax/shareinfo.php". If that one returns 404, it is interpreted as "not available" because it could also be a server failure.

Maybe "ajax/shareinfo.php" should actually return 401 or 403 when the passed token is invalid. This would cause the called to think the share is deleted.

But then what i

[2015-08-21 15:22] wvandelli commented on #17586
Hi @josh4trunks,

   thanks for looking into this. I will try to post my configuration files later. In the meanwhile I have another piece of information I wanted to share.

I seem to fail uploading files only from the Owncloud Android client. On the other hand, on the same phone, I also use MyOwnNotes (https://github.com/aykit/MyOwnNotes) as well as the calendar via DAVdroid (https://github.com/bi

[2015-08-21 15:24] PVince81 commented on #18474
Maybe using the Webdav endpoint is enough.

When calling it with an expired token, the response looks like this:
[code]

But if this was a generic server error, there would be no XML response.
This means that the caller can check:
- is it an XML response + 401 error code ? => the share is gone / creds have changed, so the mount can be deleted
- is it 401 but not XML ? keep the share, mark as "temp

[2015-08-21 15:28] josh4trunks commented on #17586
@wvaandelli I bet myownnotes talks to ownnotes with an api, not directly by uploading files. in this case, it is irrelevant to the issue being discussed.

[2015-08-21 15:29] PVince81 commented on #18480
Hmm strange, can't reproduce.

[2015-08-21 15:32] PVince81 commented on #15701
I just noticed that @MorrisJobke already had some queries to reverse-resolve the storage ids to external shares. This means that the background job approach is also possible.

[2015-08-21 15:33] rullzer commented on #18476
??
This is all there for the getShares response.

Are you talking about the create response?

[2015-08-21 15:38] schiesbn commented on #18464
I'm not sure if I understand him correctly but during the migration from oC8.0 to oC8.1 the old encryption app is of course disabled and you enable the new encryption module and server-side-encryption in the admin settings. All this is documented here https://doc.owncloud.org/server/8.2/admin_manual/configuration_files/encryption_configuration.html?highlight=encryption#upgrading, including the cor

[2015-08-21 15:47] PVince81 commented on #10375
Closing as duplicate of https://github.com/owncloud/core/issues/15116 (still happening on 8.2 master)

[2015-08-21 15:47] #10375 closed

[2015-08-21 15:47] PVince81 commented on #15116
@icewind1991 didn't you do that already ?

[2015-08-21 16:08] PVince81 commented on #14183
Duplicate of https://github.com/owncloud/core/issues/14559
Already resolved, works in 8.0.6 or 8.1.1.

[2015-08-21 16:08] #14183 closed

[2015-08-21 16:10] PVince81 commented on #13990
Sorry, Windows env won't be supported any more starting with 8.1: https://owncloud.org/blog/owncloud-server-8-1-will-not-support-windows-as-server-platform-natively/

You might want to try again in a Linux VM with a more recent version like 8.0.6 or 8.1.1.

[2015-08-21 16:10] #13990 closed

[2015-08-21 16:11] PVince81 commented on #14276
@LukasReschke is this still valid ?

[2015-08-21 16:14] RealRancor commented on #18391
@Raydiation

I'm able to reproduce this reliable by following those steps:

1. Download https://github.com/owncloud/news/archive/6.0.0.tar.gz or https://github.com/owncloud/news/archive/5.3.9.tar.gz
2. Extract archives to $path/apps/news
3. Browse http://example.com/index.php/settings/apps
4. Enable news app 5.3.9/6.0.0
5. Reload page and have a working news app
6. Browse http://example.com/index.

[2015-08-21 16:14] PVince81 commented on #16897
We should add this to the release notes for 8.2 @MTRichards @carlaschroder.
This is only relevant for users who don't use the "data" directory exclusively through ownCloud, which is sometimes the case when people use NAS boxes and have an external HDD with the data folder in it, which content might change from outside and must be detected by OC.

[2015-08-21 16:23] karlitschek commented on #16897
i would support this change!

[2015-08-21 16:23] PVince81 commented on #18148
Closing as duplicate of https://github.com/owncloud/core/issues/18017

[2015-08-21 16:23] #18148 closed

[2015-08-21 16:25] PVince81 commented on #18017
I suggest to add an OC version check every time new mimetypes repair steps are introduced.
For now we could add a "if ownCloud version < 8.2.0" then run them all.
Starting with 8.2.0 they won't run.

But if someone introduces a new mime type repair for 9.0, they'd need to add another check "if ownCloud version < 9.0" then run that extra check.

@oparoz @Yetangitu what do you think ?

[2015-08-21 16:27] PVince81 commented on #17059
@DeepDiver1975 sometimes mime types are retrieved directly from the ext storage instead of using ownCloud's internal mime types. This is what happens with Dropbox.
Switching to use the mime type from oc_filecache usually solves the problem.

I don't think this is related to this ticket here.

[2015-08-21 16:32] PVince81 commented on #11935
I think this has been fixed in OC 8.

Also in OC 8.1 the trashbin expiration happens in a background job, and the scanning has been optimized.

[2015-08-21 16:32] #11935 closed

[2015-08-21 16:33] PVince81 commented on #18476
No, the response is missing:
- expiration date
- public upload flag / permissions

[2015-08-21 16:41] PVince81 commented on #14572
Still happening on 8.2/master.

But I can see the etag change and being appended in the preview URL.
There must be something on the server side that doesn't regenerate it.

[2015-08-21 16:42] PVince81 commented on #14572
@georgehrke @oparoz

[2015-08-21 16:43] georgehrke commented on #14572
Hm, there probably no post_write hook triggered, when the file changes on the remote host. So we need a different hook for this scenario.
I'll check.

[2015-08-21 16:44] PVince81 commented on #14680
In 8.2 we'll have this: https://github.com/owncloud/core/pull/17434.

We still need to add a section for third party apps that would be disabled.

[2015-08-21 16:47] sargue commented on #16255
@RealRancor Thanks! It was a missing ca-bundle.crt

Did the "upgrader app" path from latest 8.0 version (waited until 8.1.1, skipped 8.1.0 as I had encryption enabled in the past).

[2015-08-21 16:50] PVince81 commented on #14572
Hmm, then I suppose this probably also happens when changing files on external storage directly (not through ownCloud). Changes are found by the watcher/scanner but won't trigger a post_write hook.

Maybe we need another kind of hook for such situations ?
CC @icewind1991

[2015-08-21 16:50] PVince81 commented on #14055
@bboule did it work better with 7.0.6 or 8.0.6 ?

[2015-08-21 16:51] PVince81 commented on #3408
@j-ed still having this problem with newer PHP versions ?

[2015-08-21 16:51] PVince81 commented on #14816
Most have been fixed, also with the new locking.

[2015-08-21 16:51] #14816 closed

[2015-08-21 16:54] RealRancor commented on #16255
@sargue Yes, the updater is currently failing to copy this ca-bundle.crt if upgrading from oC 8.0.x to 8.1.x: https://github.com/owncloud/updater/issues/164

[2015-08-21 16:57] Raydiation commented on #18391
https://github.com/owncloud/news/blob/master/CONTRIBUTING.md#when-reporting-bugs

[2015-08-21 17:00] oparoz commented on #17940
This apparently went from core to gallery and back to core... Duplicate of #14572

[2015-08-21 17:00] #17940 closed

[2015-08-21 17:01] PVince81 commented on #14823
The migration flag will disappear starting with 8.1 as encryption works differently.

[2015-08-21 17:02] oparoz commented on #14572
I'll add my notes from the other issue:

### Notes

* Clicking on the download button, you download the new file.
* Other apps (text editor and pdf viewer) don't seem to be affected and load the new file
* If you add the folder containing the image, then the image will get refreshed whenever there is a change happening on server A

[2015-08-21 17:08] carlaschroder commented on #18464
Thanks @schiesbn. That's what I thought, and that whole thread is confused.

[2015-08-21 17:08] #18464 closed

[2015-08-21 17:12] anonimal opened #18483 "Multiple issues when using a reverse proxy"
Hello everyone,

The intent of this ticket is to elaborate on some issues that are possibly admin-related (not sure at this point) and to encourage the opening of a new ticket which will aim to provide better (if any at all) documentation regarding the preparation and implementation of a successful reverse proxy configuration when using owncloud. I hope that this ticket will save hours of troubles

[2015-08-21 17:24] PVince81 commented on #14910
Also observed in 8.1.1.

I see that the file list row gets updated, but it still has the old mtime. When I refresh the browser it seems to rescan the storage and properly re-read the mtime.

The response from "upload.php" also contains the old timestamp.

This is the file cache entry before overwriting:
[code]

After overwrite:
[code]

Strangely the mtime didn't change at all. (CC @icewind1991)

W

[2015-08-21 17:53] tastle73 commented on #17350
I updated them to the latest on the site: 1.8.4 .   I have more clarification.  It seems to be files that are a hop beyond the OC server on a SMB share from a RHEL 6 machine not syncing TO his OS X machine if they have these space characters after the filename.

Thomas Astle
System Administrator

Physician's Computer Company
20 Winooski Falls Way, Suite 7
Winooski, VT 05404
+1 800.722.7708
tom@pcc

[2015-08-21 18:10] DeepDiver1975 commented on #18391
I was just trying to reproduce this - autoload.php does exist for me after upgrade - but news is broken due to this:

[code]

[2015-08-21 19:15] RealRancor commented on #18464
But the upgrading docs in https://doc.owncloud.org/server/8.1/admin_manual/maintenance/upgrade.html#manual-upgrade-procedure are telling the people to go into maintenance mode during the upgrade.

[2015-08-21 19:28] RealRancor commented on #18405
@Xenopathic

Not that easy if you're not familiar with that coding stuff. We had the OP posted this at the forums and there we just don't have the knowledge for this.

[2015-08-21 20:13] mvrueden commented on #13228
I had the same issue and was not able to get `OmniFocus` to sync with my owncloud instance.
I then saw, that the URL I set was something like `https://example.com/owncloud/remote.php/webdav/` (see the `/` at the end).
This somehow looked wrong to me. After i removed the trailing `/` everything works fine, though I am not completely sure if it is related in any way.

[2015-08-21 20:17] Gomez commented on #16215
Does not happend again with most current version. Will close and reopen if it happens again.

[2015-08-21 20:17] #16215 closed

[2015-08-21 21:05] flop25 commented on #17712
same for me
php 5.4.43 Centos 6.5
just after updating owncloud to 8.1
indeed owncloud is very complexe and brings lots of issues
@andreas-h where did you find the log with "OPTIONS * HTTP/1.0" 200 - "-" "Apache/2.4.6 (CentOS) OpenSSL/1.0.1e-fips mod_fcgid/2.3.9 PHP/5.4.16 mod_wsgi/3.4 Python/2.7.5 (internal dummy connection)" inside ?
I don't see anything but access log as you

[2015-08-21 21:27] flop25 commented on #17712
but it seems it uploads
I checked on owncloud side and zoetro debug output: I found that the lastsync file is never updated and so i get
[code]

[2015-08-21 21:34] RealRancor commented on #18463
@Aurelien- It might be also useful to disable Pictures/Gallery (which is deprecated anyway) and try the newer Gallery 13.0

[2015-08-21 21:35] rullzer commented on #18476
So the create share. I'll look into it.

[2015-08-21 21:36] simonbru commented on #17586
I am using nginx+uwgsi and I also have this issue. I started with the config on [ArchWiki](https://wiki.archlinux.org/index.php/OwnCloud) but slightly derived with time.
I put my config and some log extracts there, though the errors are basically the same as for @wvandelli :
https://gist.github.com/simonbru/a61b8897249afc9136cd

The problem only happens with a HEAD request and correct user/passwor

[2015-08-21 21:38] MTRichards commented on #16897
Yes, we must update the release notes and documentation.
I also support setting it to 0 to speed performance because MOST people use ownCloud this way. If the other 10-20% have to make the change, for it to work for them, so be it.

[2015-08-21 21:39] Jenselme commented on #18252
Same here.

[2015-08-21 23:48] Yetangitu commented on #18017
A (working) version check sounds like a good plan, preferably one which happens without the need for developer intervention. Maybe by generating a hash of the mime mangling code, storing that hash in the database and checking it on every update? If the hash in the database is different from the one calculated from the code base, execute the mime repair code...

As to how to generate that hash I ha

[2015-08-22 00:37] mattcaron commented on #18470
So, I was thinking about this more, and I had a few thoughts.

First, the patch is wrong - I should be getting the name of the user's primary group and comparing that to the group of the file. (as in something like, `$group = posix_getgrgid(posix_getuid());`)

But then I realized that this only covers the user's primary group, not all the supplementary groups.

But, what we're really trying to fig

[2015-08-22 00:43] karlitschek commented on #16897
agreed. Just to be clear. It was never supported to be able to manually mess with the files in 'data'. So hopefully this doesn't surprise people. But you never know ;-)

[2015-08-22 01:01] karlitschek commented on #18483
Thanks for debugging this. This needs to be fixed.

[2015-08-22 07:58] Raydiation commented on #18391
So updating randomly deletes files? Maybe race conditions? We are first extracting the archive, then deleting the old one and move the new folder over, right?

[2015-08-22 09:18] kF13Ld commented on #18402
I couldn't live without a working ownCloud setup, so I deleted the MySQL tables and started over with a new installation.
The upload of all the files is still in progress, but so far it seems, as if it's working now. Don't know what resulted in the above error.

[2015-08-22 09:18] #18402 closed

[2015-08-22 11:57] Oliwally commented on #18206
I've got the same problem: "OC_DEFAULT_MODULE does not exist. Please enable it in your apps settings or contact your administrator" after upgrading to 8.1.1.3
When I access OC through my browser, I see that error. However my Win client seems to be seeing & opening the files just fine. My android client however is not working any longer - can no longer open files using my phone.

I'd love some more

[2015-08-22 12:07] Gomez commented on #17717
Maybe because i use a nginx reverse proxy? Tell me if i can provide more infos!

[2015-08-22 12:35] dzz007 commented on #1190
I think it is already existed.
It's obviously that you can just use web cluster as front-end, and mysql cluster as back-end.
Even the file, it's not that bad to write a problem or use something  that already exist to keep the data folder updated with the other server.

[2015-08-22 12:51] teemu-torma commented on #17586
I did a parallel virtual domain against the same owncloud installation, but this time using php5-fpm.  That works as expected.

The difference is the "HEAD /remote.php/webdav/", where owncloud under php5-fpm gives 200, but when using uwsgi it gives 502 and it stops there.  As seen in the logs posted here, it error really seems to come from owncloud.

It seems to be only HEAD command that fails.  G

[2015-08-22 12:52] LukasReschke opened #18489 "Move /apps/files_sharing/testremote to client-side code"
Ref https://github.com/owncloud/core/pull/18486

Some considerations:
1. Does not necessarily mean it is accessible to the server though
2. Reduces some small DoS risk

Let's see…

[2015-08-22 16:21] malexmave commented on #18348
Sorry for taking so long to reply. I added the ca-bundle.crt file and now everything works like a charm. Thanks a lot!

[2015-08-22 16:21] #18348 closed

[2015-08-22 16:24] mhl66 commented on #17712
As a fortunate user of Synology DiskStation, I´m able to circumvent this error by using its WebDAV implementation (port 5006, over httpproxy with virtual host). @andreas-h: as I commented 20 (sic) days ago, your apache access log which confused @flop25 above does not make sense: "Thus, apache logs (server) will not reveal any solution for this (except the ZOTERO one, of course), since the WebDAV f

[2015-08-22 16:32] flop25 commented on #17712
what I don't understand is why is it working with some files ( in my case zips are ok) but not with others (.prop)?
on the other hand the client owncloud for win works well
for me it looks like a specific issue with zotero And owncloud 8.1

[2015-08-22 17:18] lek2011 opened #18490 "Owncloud update with updater to 8.1.1.10"
Turned on maintenance mode
Checked database schema update
Checked database schema update for apps
Updated database
Updated "files" to 1.1.10

GuzzleHttp\Exception\RequestException: cURL error 60: SSL certificate problem: unable to get local issuer certificate

[2015-08-22 20:06] andreas-h commented on #17712
@mhl66 What do you mean by *does not make sense*? One of the Owncloud developers, @PVince81, asked me to provide one, so I did.  I agree that the level of detail it gives doesn't help, but I'm being constructive and let the devs decide for themselves.

[2015-08-22 20:27] atrauzzi opened #18492 "InvalidHostException when attempting to mount an SMB share"
I'm able to mount the share using nautilus on the same machine (using the same credentials), but in owncloud, I'm getting this error:

    Exception while scanning storage "smb::MYUSER@SMBHOST//SHARE%20NAME//": Icewind\SMB\Exception\InvalidHostException:

There is one thing that sticks out to me here, which is the format of the share appears slightly off to what I use in nautilus:

    smb://SMBHO

[2015-08-22 20:57] nsrosenqvist commented on #18224
Happened to me as well when I tried upgrading today. Got it working on second attempt though as previously suggested.

[2015-08-22 21:21] RealRancor commented on #18490
Very likely caused by the buggy OpenSSL/NSS versions or the missing /config/ca-bundle.crt

[2015-08-22 22:12] mhl66 commented on #17712
@andreas-h: with *does not make sense* I wanted to state that (in my humble opinion) the *zotero* apache log (server-client) would reveal the error and not the *user* log (client-server).
Anyway, **thank you** in the name of the others for helping @PVince81 and hopefully he (and the other developers) will succeed at last. The developer´s blog stated that the WebDAV backend is crucial for the whole

[2015-08-22 22:41] Xenopathic commented on #18492
Does your share name include a space character?

Also, could you please fill out the [issue template](https://github.com/owncloud/core/blob/master/issue_template.md), thanks.

[2015-08-22 22:45] lek2011 commented on #18490
Thanks fixed a few hours ago but there are a lot other errors.. you were right about this error :)

[2015-08-22 22:45] #18490 closed

[2015-08-22 22:50] jrh7675 commented on #18448
Any input anyone?

[2015-08-23 00:30] agustaf9 commented on #15318
It happened to me when I autofilled the form (using the chrome suggestion).

[2015-08-23 04:10] atrauzzi commented on #18492
It does, I unfortunately don't have control over it as it's an Apple Airport+TimeCapsule 3TB.  But I have no troubles accessing it from Nautilus under Ubuntu.

---

### Steps to reproduce
1. Attempt to set up an SMB share

### Expected behaviour
All my users should gain access to the remote share I configure.

### Actual behaviour
Red square (I assume indicating an error, you should put an `alt=""

[2015-08-23 06:55] DeepDiver1975 commented on #17717
In this setup we might need to send the headers for Apache and nginx?

Fyi: xsendfile does not work for webdav.

[2015-08-23 07:55] DeepDiver1975 commented on #18391
After reloading the page it worked without issue.

[2015-08-23 09:58] maystar commented on #18206
@Oliwally
I assume you do not use the encryption app. Before you follow these steps make a data base backup!
- Login to your machine and connect to your data base with something like
[code]
(enter database password)
- Check if there any pseudo encrypted files
[code]
- If output is not empty you can change the encrypted flag with
[code]

[2015-08-23 10:56] Oliwally commented on #18206
Hi maystar. Thanks so much for helping out.
No encryption is not enabled now, but was in previous version.

Ok, at the risk of sounding really daft - the only access I have is through cpanel to get to my externally hosted owncloud installation. So, is there a way to do this through phpmyadmin or something like that? Sorry, I need a lot of help...

[2015-08-23 11:13] Oliwally commented on #18206
I've managed to get into the right area (I think) through phpmyadmin. Attached is a screenshot of my oc_filecache table. Most of the entries there show '0' in the 'encrypted' column. Is that what I'm looking for?
![firefox_screenshot_2015-08-23t11-09-31 849z](https://cloud.githubusercontent.com/assets/5593249/9427976/c7e0e6aa-49db-11e5-80de-6605ac3eaca9.png)

[2015-08-23 11:15] Xenopathic commented on #18492
Thanks for the info.

@icewind1991 Perhaps your smbclient wrapper does not properly handle spaces in share names?

[2015-08-23 11:21] RobinMcCorkell opened #18493 "External storage configuration fields (in admin settings) should not autofill with saved credentials"
If a username and and password are needed for an external storage, they will get autofilled with saved browser credentials. This is potentially a good thing for personal storages, where the username/password may indeed be the same, but for the admin settings this is bad behaviour.

@blizzz how did you fix it for LDAP?

cc @PVince81 @MorrisJobke @jancborchardt

[2015-08-23 12:29] tygerlord opened #18494 "Problem with oc 8.1.1 external storage google drive with encryption on?"
Using external storage with encryption enabled seems not working correctly. I configure external storage to get my google drive access and I upload a file. The file is encrypted like it will be due to my configuration, I can have a look on google drive interface and see the file unreadable. Unfortunatly the file stay encrypted when I try to read it under my owncloud interface....

[2015-08-23 13:25] Kerrnel opened #18495 "cron.php - checking for owner of config/config.php is not a reliable way to find owner of web server process"
cron.php reported

console has to be executed with the same user as the web server is operated
Current user: www
Web server user: cfgfowner

Having a different owner of config.php (and having it www-group-writable) is valid - yet causes cron.php to break due to this method.

Better:

$processUser = posix_getpwuid(posix_geteuid());
print $processUser['name'];

[2015-08-23 13:41] prilly opened #18496 "Email template | Changes not taking effect"
Editing email templates has no effect, default templates are used. owncloud 8.1.1

[2015-08-23 13:55] hoorna opened #18497 "The OCC-command files:cleanup not operating as expected"
I use OC several years now and upgraded several times from version 6 to version 8.1.1 (on this moment). Great piece of software!!

In the database table oc_filecache I find very much entries to files that no longer exist in the data-directory. So I used the "php occ files:cleanup" command.
As a result I got: "0 orphaned file cache entries deleted". The database table oc_filechache seems to be unch

[2015-08-23 14:15] norgoe commented on #17881
OK,
the same shit just happened again after upgrading from 8.1 to 8.1.1.
The same folder with all it's content is shown as an empty text file but with 1,1gb size.
The owncloud client does not see the folder at all and deletes it locally.

I am snapshotting the data and the owncloud partition now.
Afterwards I will rescan all files again like last time to get a wowkring installation back.

How can

[2015-08-23 14:24] RealRancor commented on #18495
Probably a dup of https://github.com/owncloud/core/issues/18470

[2015-08-23 14:57] karlitschek commented on #18497
thanks a lot for your feedback and question. we use this bugtracker to track owncloud bugs and feature requests. i recommend that you ask this question in the forum or on the user mailinglist. thanks for your understanding

[2015-08-23 14:57] #18497 closed

[2015-08-23 14:58] karlitschek commented on #18496
please post a full bug report using this template.
https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

[2015-08-23 15:03] karlitschek commented on #18494
Can you please open a bug report using the issue template ?
https://github.com/owncloud/core/blob/master/CONTRIBUTING.md
@schiesbn

[2015-08-23 15:44] Kerrnel commented on #18495
Agree - sorry

[2015-08-23 15:45] #18495 closed

[2015-08-23 16:05] DeepDiver1975 commented on #18496
and please reopen once all required information has been entered - THX

[2015-08-23 16:05] #18496 closed

[2015-08-23 16:13] RealRancor commented on #18497
@karlitschek Better point such questions to the developers mailinglist or #owncloud-dev as we don't have the knowledge about such oC internals at the forums.

[2015-08-23 16:26] hoorna commented on #18497
@karlitschek
@RealRancor
That was exactly the reason why I placed the question here. :-)

According to Karlitschek suggestion I placed the question now on the owncloud forum and got I suggestion from RealRancor. I am willing to place the question on the developers mailinglist or #onwcloud-dev but I don't know how this works. Please help.

[2015-08-23 16:30] shoutcast2 commented on #17468
I am getting the same consistent error since upgrading to 8.1.. I have also fixed all my security and setup warnings and yet I am still getting the error upon every refresh of the admin page

Error PHP Array to string conversion at /var/www/html/owncloud/lib/private/template/functions.php#36

[2015-08-23 16:32] BenS89 commented on #17468
I can confirm this.

[2015-08-23 16:35] szepeviktor commented on #17468
I **had** to use `@` in front of `print`-s.

[2015-08-23 16:36] szepeviktor commented on #17468
...which is not a solution.

[2015-08-23 16:37] RealRancor commented on #18497
@hoorna Have a look at https://mailman.owncloud.org/mailman/listinfo/devel where you can find the part "Using Devel" which describes how to post a question on the mailinglist.

[2015-08-23 16:39] shoutcast2 commented on #17468
If i disable the updater app it does go away but I would like the updater app to run.. anyway to fix this

[2015-08-23 16:52] karlitschek commented on #18497
@realrancor point taken :-)

[2015-08-23 17:08] hoorna commented on #18497
I will give it a try. Thanks for the reply and help!

------ Origineel bericht ------
Van: "RealRancor" <notifications@github.com>
Aan: "owncloud/core" <core@noreply.github.com>
CC: "hoorna" <email@alfredvanhoorn.nl>
Verzonden: 23-8-2015 18:37:29
Onderwerp: Re: [core] The OCC-command files:cleanup not operating as
expected (#18497)

[2015-08-23 17:19] icewind1991 commented on #13407
probably...

I'm still waiting for someone who has the issue to confirm the fix

[2015-08-23 17:34] andersruneson opened #18499 "Call to a member function file_exists() on a non-object in owncloud/lib/private/files/filesystem.php on line 688"
### Steps to reproduce
This started at "random" two days ago but now occurs every 1h 15min.

### Expected behaviour

### Actual behaviour
Cron sends me a mail every 1h 15min (even though the cron job is run every 15min) with this content:
PHP Fatal error:  Call to a member function file_exists() on a non-object in /var/www/owncloud/lib/private/files/filesystem.php on line 688

### Server configura

[2015-08-23 17:44] nasmacs opened #18500 "Missing PDF File when accessing by subdomain + vHost"
Hello Everyone,

First of all, sorry for my english that is not perfect.

After browsing all the WWW without finding anything about my case, I expect fo find out some answers here.

I host owncloud on a personal synology NAS.
I would like to host some services behind ony one domain so I recently declared a virtual host to point "cloud.mydomain.fr" in /web/owncloud directory.

So far there are no p

[2015-08-23 17:51] RealRancor commented on #18499
Might be related to https://github.com/owncloud/core/issues/16740

[2015-08-23 18:59] maystar commented on #18206
You can fire the two sql commands in the SQL tab of phpMyAdmin.
Can you access your files on the server with ftp or similar to check if they are not encrypted anymore. I wouldn't expect any file to be encrypted if server encryption has been disabled.

[2015-08-23 20:04] icewind1991 commented on #18492
Can you try #18397

[2015-08-23 21:03] Oliwally commented on #18206
Fantastic, thanks Fabian - that worked in the SQL tab, although it doesn't seem to have solved my problem of the files being unreadable by owncloud via a browser. The original error "OC_DEFAULT_MODULE does not exist. Please enable it in your apps settings or contact your administrator" no longer shows, so I guess that part of it is fixed.

I just re-read what I had written earlier and realize that

[2015-08-23 21:19] ghost opened #18502 "8.1.1 + Encryption: Exception: {\"Message\":\"An exception occurred while executing 'INSERT INTO `oc_filecache`"
### Steps to reproduce
1. Start Owncloud - Client with 1Password - Folder or Pictures folder
2. Wait
3. See the log message stated in the title appear while the connection interrupts, sync is not possible.

### Expected behaviour
Complete sync of the folders stated above

### Actual behaviour
Client reports: "Connection closed/interrupted" (Vorgang abgebrochen)

### Server configuration
**Operatin

[2015-08-23 21:42] maystar commented on #18206
Ok, in that case I wouldn't suggest you to change any database values! You should revert all changes. I'm not familiar with the encryption. But when looking for a solution for my issue I found this: https://github.com/owncloud/core/issues/17505#issuecomment-119709169 (from the related issues above)

[2015-08-23 21:47] jessegilbert opened #18503 "update owncloud-server-scl-php54-8.1.0-16.1.noarch on CentOS 6"
Hi there -

I have owncloud installed on a CentOS 6 server, which has been working fine for a while.  I currently have version 8.1.0-16.1 installed via the SCL PHP54 package, to get around the PHP 5.4 requirement.  When trying to update via Yum I'm getting dependency errors:

# yum update
Loaded plugins: product-id, rhnplugin, security, subscription-manager
Setting up Update Process
Resolving Depe

[2015-08-23 22:05] Xenopathic commented on #13407
The update of the SMB library won't have affected this, as the problem is getting the domain into the user string in the first place, not actually using it to connect. With SMB_OC, the user string was forced to be the oC username (without any domain), but #18473 allows a user to explicitly set the domain to be used.

[2015-08-24 00:24] Oliwally commented on #18206
Is there a trick to reverting the changes?

[2015-08-24 00:39] prilly commented on #18496
You can tel me why you need more information, the problem is clear, owncloud core does not work with template. If you cant figure it out you are probably not the right guy to fix it either.

There is no need for more information, fix it or not, i dont care.

-------- Opprinnelig melding --------
Fra: Frank Karlitschek <notifications@github.com>
Dato:23.08.2015  16:58  (GMT+01:00)
Til: owncloud/cor

[2015-08-24 05:01] PVince81 commented on #18160
We might also want to add some public APIs to make it possible for apps to retrieve the list of external storage backends and also instantiate then. See https://github.com/pbek/ownbackup/issues/3#issuecomment-134036639

[2015-08-24 05:38] karlitschek commented on #18502
@schiesbn any idea?

[2015-08-24 05:42] karlitschek commented on #18503
@jnweiger any idea?

[2015-08-24 06:00] MorrisJobke commented on #17468
cc @VicDeo

[2015-08-24 06:27] maystar commented on #18206
Restore the backup.

[2015-08-24 06:43] MorrisJobke commented on #18493
`autocomplete="off` ;)

[2015-08-24 06:47] MorrisJobke commented on #17468
@LukasReschke It doesn't really accept arrays: #8188

[2015-08-24 06:47] jancborchardt commented on #12964
@PVince81 yeah, should we close this in favor of that?

[2015-08-24 06:48] jancborchardt commented on #7128
We still have to make sure that the suggestion dropdown does not list people who you already shared with. ;)

[2015-08-24 06:55] MorrisJobke commented on #17468
I think we should revert this change there, because PHP's `print()` can't handle arrays. For `sanitizeHTML` the array is valid.

[2015-08-24 07:29] rolfjoseph opened #18504 "Login fault, because disabled="disabled" only by some router or provider ?"
huawei b593 disabled over LTE vodafone germany
( default settings oft the router )

unitymedia and LTE O2 haven´t any problem with
fritzbox 7050 ok
fritzbox 7390 ok
tc 7200.U ok

[2015-08-24 07:42] karlitschek commented on #18504
can you please post a full bug report using the issue template? https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

[2015-08-24 08:08] PVince81 commented on #17712
Are you all using a NAS / Synology ?
Does its Apache come with the mod_dav module enabled ? Some mentioned that the NAS had its own Webdav interface, so I suspect that the module might be enabled and could interfere with ownCloud, see https://doc.owncloud.org/server/8.1/admin_manual/issues/index.html?highlight=mod_dav#webserver-and-php-modules

You could try disabling mod_dav temporarily and see w

[2015-08-24 08:09] andreas-h commented on #17712
No, I'm on a Ubuntu 14.04 server using Apache2 httpd.

[2015-08-24 08:10] PVince81 commented on #18493
@Xenopathic is this a new issue introduced by the revamp config or was it happening before ?

"autocomplete=off" should do it but some browsers might fight against it, in which case @blizzz used some mysterious black JS magic to trick the browser.

[2015-08-24 08:13] PVince81 commented on #12964
Closing in favor of https://github.com/owncloud/core/issues/9058

[2015-08-24 08:13] #12964 closed

[2015-08-24 08:14] flop25 commented on #17712
i'm on a dedicated server apache, php 5.4.43, Centos 6.5
do you know how we could intercept the whole HTTP requests?
indeed that's strange we all have 'expected filesize 110 got 0'

[2015-08-24 08:19] PVince81 commented on #17712
You could use a packet sniffer, not sure what's available on Windows/Mac.
On Linux you can do it with Wireshark.

[2015-08-24 08:22] flop25 commented on #17712
hmm thank you
I will search for such a software

[2015-08-24 08:28] PVince81 commented on #18500
You might need to set the "overridehost" in your config.php and set it to "mydomain.fr"

[2015-08-24 08:31] PVince81 commented on #18499
@andersruneson can you post your "oc_jobs" table so we can see what cron jobs you have ?

It could also help if you could enable XDebug temporarily, it will hopefully provide a stack trace along with the error message that could help pinpoint which cron job is causing trouble.

[2015-08-24 08:37] PVince81 commented on #18483
@LukasReschke proxy stuff

[2015-08-24 08:43] michaelstingl commented on #6635
@bboule @felixboehm milestone?

[2015-08-24 08:46] alois74 commented on #6635
Ich bin am 14.09.2015 wieder anwesend

Ich werde Ihre Nachrichten nach meiner Rückkehr beantworten.

In dringenden Fällen können Sie sich an Hr. Stephan Unsin (089/2868-3280,
sunsin@gv-bayern.de) wenden.

Mit freundlichen Grüßen
Alois Schmid

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re: [core]
Allow public uploaders to create folders (#6635)" gesendet am 24.08.2015
10:44:02

[2015-08-24 08:48] LukasReschke commented on #18483
Reverse Proxies do work fine if they are properly configured. In fact, I do host multiple such environments on my own.

That said:

1. Why do you use `ProxyHTMLURLMap`? - This is plain wrong and will explode with any decent modern application.
2. https://doc.owncloud.org/server/7.0/admin_manual/configuration/reverse_proxy_configuration.html  is for ownCloud 7, please always use the latest document

[2015-08-24 08:51] andersruneson commented on #18499
[code]

Not sure I know how to XDebug, especially a cron job?

[2015-08-24 08:59] nasmacs commented on #18500
Ok but it redirects all owncloud to mydomain.fr.
cloud.mydomain.fr is not available anymore.

[2015-08-24 09:00] PVince81 commented on #18500
Try putting the correct domain in there instead, maybe "cloud.mydomain.fr"

[2015-08-24 09:05] Vectrex commented on #17730
After having substantial problems with migrating from 8.0 to 8.1 (see issue #17683), I wiped both user files and database entirely and it seemed as if the application was behaving properly over the last few weeks. However, this morning I got a batch of error messages like the one below. Any idea how "incopatible" keys could have sneaked into the system? Any suggestions how to fix this?

Exception:

[2015-08-24 09:14] Xenopathic commented on #18493
This has been happening for a while, I just never noticed it since I usually don't save my login credentials.`autocomplete="off"` doesn't work as far as I can tell from all the other discussions?

[2015-08-24 09:14] LukasReschke commented on #18493
`autocomplete="off"` is dead.

[2015-08-24 09:15] jvillafanez opened #18508 "Package upgrade from 8.0.5 to 8.0.6 isn't working properly"
### Steps to reproduce
1. Upgrade OC 8.0.5 to 8.0.6 from ubuntu 14.04 package

### Expected behaviour
Upgrade is fine

### Actual behaviour
Maintenance mode is still active after the upgrade. After manually setting the maintenance mode to "off", the upgrade doesn't seem to be done because the web interface still shows the "update to 8.0.6" page

### Server configuration
**Operating system**: ubunt

[2015-08-24 09:15] LukasReschke commented on #18493
See https://developer.mozilla.org/en-US/docs/Web/Security/Securing_your_site/Turning_off_form_autocompletion#The_autocomplete_attribute_and_login_fields

[2015-08-24 09:16] LukasReschke commented on #18493
That said, that's why we should avoid having autosave on stuff such as credentials. We also removed them at the SMTP settings. This will only lead to problems :speak_no_evil:

[2015-08-24 09:24] alekiy commented on #5686
related to #8194

[2015-08-24 09:30] blizzz commented on #18493
@Xenopathic https://github.com/owncloud/core/blob/master/apps/user_ldap/templates/part.wizard-server.php#L1 and https://github.com/owncloud/core/blob/master/apps/user_ldap/css/settings.css#L207 but  @jancborchardt has a better approach somewhere (Mail maybe?).

[2015-08-24 09:31] LukasReschke commented on #18493
Which will explode as soon as browsers change their heuristic. Just saying…

[2015-08-24 09:32] LukasReschke commented on #18493
So we have the choice between:

- User does not need to click a save button.
- Browser update changes heuristics. All stuff gets autofilled in. Everything explodes. Yolo :speak_no_evil:

[2015-08-24 09:34] nickvergessen opened #18509 "view->getPath($id) returns strange path for delete files"
If a file is deleted and moved to the trashbin, `getPath($id)` returns `_trashbin/$path.$timestamp`.
Looks like we just cut off `files` no ignoring whether it is `files/` or not.

Is this intended? @icewind1991 @PVince81

[2015-08-24 09:35] PVince81 commented on #18502
I got this happening randomly as well on master with encryption enabled, uploading a folder with 70 pictures in it. Could be a race condition, but I don't see where. Maybe the cache update/propagation from the previous file isn't finished yet while the next file upload is trying to propagate too and touch the same entries. This should hopefully disappear when enabling transactional file locking: h

[2015-08-24 09:36] nasmacs commented on #18500
I agree with you, owncloud is ok but same problem with the viewer or downloading files.
![screenshot050](https://cloud.githubusercontent.com/assets/13219190/9437068/574c719c-4a54-11e5-9aef-9c47e96cfb36.png)

[2015-08-24 09:39] PVince81 commented on #18509
Unlikely to be intended.

We should probably limit getPath() to return files under "files" or from ext storages.

[2015-08-24 09:41] PVince81 commented on #18500
Maybe a routing bug.
Does downloading the file directly in the web UI work ?

[2015-08-24 09:44] PVince81 commented on #18502
I tried with enabled transactional locking, but I'm still seeing the errors randomly.

CC @icewind1991

[2015-08-24 09:52] nasmacs commented on #18500
It work only when i acces with https://mydomain.fr/cloud, not with https://cloud.mydomain.fr after declaring a vhost.

![screenshot051](https://cloud.githubusercontent.com/assets/13219190/9437424/9264e0d2-4a56-11e5-9f78-5f5d9dc05c23.png)

[2015-08-24 09:54] RealRancor commented on #18508
Hi,

the yellow "update to 8.0.6" is cached and should disappear after a while.

[2015-08-24 09:59] blizzz commented on #18014
@davivel @masensio have you ever seen something like this?

[2015-08-24 10:04] nickvergessen commented on #18164
Merged

[2015-08-24 10:04] #18164 closed

[2015-08-24 10:05] nickvergessen commented on #18265
Glitch is over, basicSync passes

[2015-08-24 10:05] #18265 closed

[2015-08-24 10:16] PVince81 commented on #17997
Two possible approaches:
1) Make sure that if any path section ends with ".part", don't  use the cache. This instead of just the last section
or
2) Don't index anything under "files_encryption"

@schiesbn @icewind1991 what do you think ?

This issue has been observed again: https://github.com/owncloud/core/pull/18423#issuecomment-134127335

[2015-08-24 10:18] LukasReschke opened #18512 "Master broken"
Merging fun…

[2015-08-24 10:20] PVince81 commented on #18508
I think he meant the update page, not the yellow banner. @jvillafanez can you confirm ?

[2015-08-24 10:21] PVince81 commented on #18508
@jvillafanez is this repeatable ? Sometimes when updating with packages I noticed that the order in which the packages get installed can influence the outcome.

CC @jnweiger

[2015-08-24 10:22] #17038 closed

[2015-08-24 10:34] jvillafanez commented on #18508
@PVince81 Yes, I meant the update page.

I've reproduced 3 times in a row, so unless I had bad luck and the package order is the same, it should be repeatable.

[2015-08-24 10:42] kalletabur opened #18515 "Sync Failure due to Precondition Failed"
Similar issues seems to have reported before [Sync Failure due to Precondition Failed](https://github.com/owncloud/client/issues/1767) and [precondition failed (412) from the server](https://github.com/owncloud/core/issues/7479) but these are closed now and we have newer clients.

### Steps to reproduce
1. User1 created document and shared with user2.
2. Document user2 modified is still old in use

[2015-08-24 11:02] nickvergessen opened #18516 "Previews of text files not working in trashbin"
### Steps to reproduce
1. Upload an image and a text file
2. Delete both files
3. Go to trashbin

### Expected
Both rows have a preview

### Actual
The image has a preview
The text has the mimetype icon

@oparoz @georgehrke @PVince81

[2015-08-24 11:03] PVince81 commented on #18516
@schiesbn I thought previews never worked in trashbin ?

[2015-08-24 11:04] georgehrke commented on #18516
previews are supposed to work in trash bin.
Quite interesting, that images work, but txt files don't :confused:

[2015-08-24 11:10] davivel commented on #18014
No. But I don't fully understand the context.

We have noticed that their access are blocked by our brute force prevention technology (fail2ban) because each time a mobile connects, it keeps sending "login failed" message **even when they connect correctly.**

Do they connect or do not connect? Or the message appears in the logs no matter if they connect or not? In that case, the message is not ne

[2015-08-24 11:16] #18512 closed

[2015-08-24 11:45] atrauzzi commented on #18492
Any info on how I'd go about doing that?

[2015-08-24 11:47] blizzz commented on #17677
Resolved by https://github.com/owncloud/core/pull/18244

[2015-08-24 11:47] #17677 closed

[2015-08-24 11:55] nasmacs commented on #18500
For Information, displaying images in owncloud works, although a PDF file (or other) need to be downloaded before display.
It seems that the download part is the problem.
Maybe (apps/files/ajax/download.php) ?

[2015-08-24 12:11] nickvergessen commented on #18509
Okay, maybe it's a question of setting up. When you use `chroot('/user/files')` the problem exists. Using `chroot('/user/files/')` does not have the problem. But then you need to have all paths without leading slash.

So I think it's still worth fixing

[2015-08-24 12:12] PVince81 commented on #18500
This should work, I also have ownCloud deployed on a vhost "owncloud.mydomain.net" and it works fine (every URL goes through the vhost, I didn't need any overrides). Not sure what is wrong in your environment.

[2015-08-24 12:23] nasmacs commented on #18500
Well, I'll keep looking for it and try to install it on another environment than a Synology NAS.

[2015-08-24 12:24] Allibabba commented on #17529
Sorry for my late response...
I had the same problems with calendar and contacts sync. Contacts could be fixed with a small adjustment in app.php. The calendar problem could be solved with the latest master version 0.7.2.

"clean most of the problems" was related to some problems shown in the logfile which had nothing to do with sync issues.

[2015-08-24 12:33] Oliwally commented on #18206
Hmm, in the end I got tired of playing around with it all and I re-uploaded all my un-encrypted files. I figured that would be faster than solving the problem. I know - a bit of a cop-out...
So now encryption is unfortunately not enabled (I'm scared of it now), and everything seems to be as it should be.
Thanks again for your help Fabian.

[2015-08-24 12:35] revna opened #18518 "Apps in multiple app directories uses default app directory in web view"
activated apps from an alternative app_path has errors in view (failed ressources ...) so i can't use these apps. (contacts, calendar, documents, ...)

config app_paths:

'apps_paths' =>
  array (
    0 =>
    array (
      'path' => '/var/www/owncloud/apps',
      'url' => '/apps',
      'writable' => false,
    ),
    1 =>
    array (
      'path' => '/var/www/owncloud/apps2',
      'url' => '/a

[2015-08-24 12:38] orome70 commented on #17600
@harenber I was eventually able to solve the problem.

I removed "instanceid" (actually replaced it by "instance-id" but it was not relevant) from the file owncloud/config/config.php
Owncloud generated a new "instanceid".
Then everything was back to normal!

By the way, I realized also that owncloud had no access rights to /var/log, hence choosing a well located log file enabled easier correction.

[2015-08-24 12:38] revna commented on #18518
typo -- apps2 as url ... :/

[2015-08-24 12:38] #18518 closed

[2015-08-24 12:55] PVince81 commented on #16305
@MTRichards can you elaborate the workflow for shared login ? Who does what when ?

"Using credentials entered in the external storage line when the storage is initial configured"
I guess that can already be achieved this way:  Admin creates a storage entry on the admin page, selects "applicable: all". This way all users (or specific groups) already get access to that storage.
If that was not the

[2015-08-24 13:04] MTRichards commented on #16305
Hello @PVince81

I guess that can already be achieved this way: Admin creates a storage entry on the admin page, selects "applicable: all". This way all users (or specific groups) already get access to that storage.
If that was not the idea, in what way does the new approach differ ?

That is the idea. Perhaps oddly worded...but this is the single account shared for all users indicated for that ex

[2015-08-24 13:28] oparoz opened #18519 "App update broken on master"
### Env

Master from 26th of August
PHP 5.5

### Steps to reproduce

1. `git pull` the activity app
2. GUI asks for an update
3. Click on the update button

### Expected result

A new screen with the result of the update

### Actual result

The news screen contains an empty message and refreshing the page goes back to square 1. This is pretty severe for regular users not used to using occ.

![empt

[2015-08-24 13:35] michaelstingl commented on #18208
@MorrisJobke Thanks!

[2015-08-24 13:35] MorrisJobke commented on #18519
@oparoz Is there anything in the logs?

[2015-08-24 13:36] MorrisJobke commented on #18519
@oparoz Any change to get to know which versions of server (old & new) and activity (old & new) you used?

[2015-08-24 13:37] oparoz opened #18520 "Set filesystem_check_changes to 2 for tests?"
It's great that there is a new setting to let the user decide what is most important to him, but for testing, shouldn't we have the default set at 2, so that we can make quick, behind the scene changes for the next test?

@DeepDiver1975 @PVince81 @icewind1991 @MorrisJobke

[2015-08-24 13:38] PVince81 commented on #18520
Not really because it might not reflect the regular use case if you leave it to 2 while testing.

If you want to change files in "data" directory when testing, you can just run "./occ files:scan --all" to rescan the changes

[2015-08-24 13:39] MorrisJobke commented on #18520
I'm also against this change

[2015-08-24 13:49] oparoz commented on #18520
I think it's the opposite, using external shares is not the regular case and this setting should maybe only be turned on when such a share is mounted?

[2015-08-24 13:53] MorrisJobke commented on #18520
Yes. And 0 means turned off and 2 is turned on.

[2015-08-24 13:57] PVince81 commented on #18520
This setting is only for the "data" directory itself, not external storage.

External storages have their own settings (mount options) in the UI, they default to 1 which is "check once every access".

[2015-08-24 13:57] PVince81 commented on #11723
The problem here is that the code path doesn't go through any of the methods that check availability.
It just calls $view->isUpdatable() which itself calls $davStorage->getPermissions() which receives a 404 from the remote server that is thrown too far and there is no chance to catch it.

[2015-08-24 14:01] oparoz commented on #18520
@PVince81 - Ah, then this text should maybe be altered?

https://github.com/owncloud/core/blob/c7b0d50cb225b22bdf3d9470ea7da799443f677e/config/config.sample.php#L995-L996

[2015-08-24 14:10] MorrisJobke commented on #18520
Right. @oparoz: Can you create the PR?

[2015-08-24 14:11] PVince81 commented on #18509
This also affects federated shares where the source was moved to trash.

[2015-08-24 14:15] PVince81 commented on #18509
The view's root is "/root/files" and it calls "getRelativePath('/root/files_trashbin/files/tetsac.d1440425391')". This sounds like the known getRelativePath issues: https://github.com/owncloud/core/pull/16479

[2015-08-24 14:18] PVince81 commented on #18509
Mega-dirty-quickfix:
[code]

[2015-08-24 14:21] VicDeo commented on #17468
I don't know how to reproduce it, the but feed is not cached properly sometimes at this point https://github.com/owncloud/core/blob/master/lib/private/updater.php#L169
It might be related to json encoding SimpleXMLElement  ($data is not an array)

I noted it  https://github.com/owncloud/updater/issues/109

[2015-08-24 14:39] Worst45 commented on #17580
I confirm that removing storagecharts2 did the trick.

[2015-08-24 14:41] PVince81 commented on #18509
Also happens in setupFromToken for public shares... I guess it's time to revive https://github.com/owncloud/core/pull/16479

[2015-08-24 14:44] PVince81 commented on #18480
It happens when the "size" column of the root of the unvailable storage is -1.

Fix is here: https://github.com/owncloud/core/pull/18523

[2015-08-24 14:44] #18404 closed

[2015-08-24 14:55] PVince81 commented on #18509
In my case it looks like https://github.com/owncloud/core/pull/16479 fixes the issue.
Can you try it too ?

[2015-08-24 15:01] oparoz commented on #18519
Nothing in the ownCloud log, apart from the updateexception, but Firefox refused to connect to the update endpoint and the reply way an unparsable response error.

There was no server upgrade, just a git pull. For the activity app:
[code]

But if nobody else is seeing this, then it's probably just a glitch when using master as opposed to releases.

[2015-08-24 15:03] jancborchardt opened #18526 "Right sidebar reports modified date wrongly as »a few seconds ago« on every file"
@PVince81 as I showed you. Every file and folder shows in the sidebar »a few seconds ago« for the modified date instead of the correct one.

[2015-08-24 15:15] PVince81 opened #18527 "Right sidebar issues with sharing overviews"
- highlight looks wrong
- sidebar is empty

It should be possible to display all known panels from the regular file list.

[2015-08-24 15:17] PVince81 commented on #18526
Fix is here https://github.com/owncloud/core/pull/18528

[2015-08-24 15:23] PVince81 opened #18529 "JS errors after DEBUG constant change"
Since https://github.com/owncloud/core/pull/18510

1. Setup OC from scratch on master (1f749782aa373a0e29f8cc0886f603f3934af2a6)
1. Open the files app

The controls bar is missing, very likely due to the JS errors:

![js-exception-regression](https://cloud.githubusercontent.com/assets/277525/9444049/bd2bdaea-4a84-11e5-9c00-3e020212d76e.png)

My config:
[code]

@MorrisJobke please have a look

[2015-08-24 15:36] nilsm opened #18530 "apps/files_sharing/api/externalShares 404 (Not Found)"
Hi there,

after updating to owncloud 8 file sharing stopped working. I share a single folder with another user and the 'share' wasn't available anymore after upgrading. I can't re-share the folder via the web interface because I get a 404 error:

/index.php/apps/files_sharing/api/externalShares 404 (Not Found)

When I click the 'share' button, I get another JS error from share.js:

Cannot read pr

[2015-08-24 15:39] MorrisJobke commented on #18529
Fix is in #18532

[2015-08-24 15:59] PVince81 commented on #18308
Any update on this ?

[2015-08-24 16:00] simopal6 commented on #13391
Excuse me for intruding, but it is not clear to me if the problem still happens or not.

[2015-08-24 16:06] karlitschek commented on #18530
hmm. there seems to be something strange with your package.
@jnweiger
@schiesbn
Any idea?

[2015-08-24 16:21] MorrisJobke commented on #18308
Shim is the way to go. Because otherwise we would also break other apps. BUt there is already something like a shim in place. I think it only misses some option?! :confused:

[2015-08-24 16:24] milgner commented on #17452
Just came across the same problem, but it worked after I updated the Contacts app using the 8.1 download from the given link and ran `occ upgrade` once more.

[2015-08-24 16:37] LukasReschke commented on #11912
9.0

[2015-08-24 17:26] VicDeo opened #18533 "OC.addScript and OC.addStyle should add app version to URL"
After an app upgrade js and css files are loaded from a browser cache sometimes.

Adding something like `?v=APP_VERSION` to an URL here https://github.com/owncloud/core/blob/master/core/js/js.js#L306 would be extremely helpful.

[2015-08-24 17:44] #18526 closed

[2015-08-24 18:06] andersruneson commented on #18499
By the timestamp of last run (when checking the oc_jobs table 20 min after I got the mail) I'm guessing the issue comes from OCA\user_ldap\lib\Jobs

I have enabled XDebug, I assume all what's needed is to install php5-xdebug and restart apache service and wait for next run for that job.

[2015-08-24 18:11] #18529 closed

[2015-08-24 18:34] stevejordi commented on #18014
Sorry all,

You’re right, this sounds like it’s not making sense.

One user is using ownCloud from an secured wifi protected by Fail2Ban and get blocked with his devices since he is immediately rejected with the 10 attempts to login that own cloud logs.
If he uses cellular data or a public wifi, it works as those ones are not monitored by Fail2Ban.

This triggered our investigation about the cause

[2015-08-24 18:46] tflidd commented on #16133
I tried the patch from @bantu : https://github.com/phpseclib/phpseclib/pull/714
You only need to replace a single file. It worked for me on OC 8.1.1 and an SSH setting from the same guide as @lpirl metioned in https://github.com/owncloud/core/issues/16133#issue-73739160

[2015-08-24 18:57] szepeviktor opened #18534 "Apache error: Error dispatching request to : (sending stdin)"
[code]
The client shows:
![occlient](https://cloud.githubusercontent.com/assets/952007/9449402/aead4e90-4aa2-11e5-894d-10047c4923ea.jpg)

Lastest oc and client.

*Nem írható* means not writable.

### Steps to reproduce
1. Upload folders with a lot of JPEG images by WindowsXP client

### Expected behaviour
We get no Apache errors

### Actual behaviour
There are Apache errors and errors in the cliet

[2015-08-24 18:58] szepeviktor commented on #18534
Is it a thumbnail generation-related issue?

[2015-08-24 19:37] rasusmilch opened #18535 "ownCloud Client Crashes at Startup"
After an update on Fedora 22, ownCloud client fails to start with a segmentation fault. This is on a laptop that sleeps, few reboots. I sign out or quit owncloud while tethering to my mobile device and that's when I noticed I could not restart the owncloud client under KDE5.

`Linux t550.susmilch.com 4.1.5-200.fc22.x86_64 #1 SMP Mon Aug 10 23:38:23 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux`
[code]
H

[2015-08-24 19:40] anonimal commented on #18483
@LukasReschke

1. Because there is no documentation on how to correctly reverse proxy with owncloud and Apache when using a subfolder and, like I clearly said above; <blockquote>with Apache, a simple ProxyPass* / does not work at this point in time</blockquote> I had to try to find a working solution when using http://external.tld/owncloud/.

2. Did you bother to compare the differences between th

[2015-08-24 19:45] fossxplorer commented on #18534
@szepeviktor
Can you please use the issue template and provide more details: 4https://raw.githubusercontent.com/owncloud/core/master/issue_template.md.

[2015-08-24 19:47] RealRancor commented on #18535
Hi,

unfortunately you've picked the wrong repository. The one for the sync-client is available here:

https://github.com/owncloud/client/issues

When re-opeing there you could also use the issue template provided here:

https://github.com/owncloud/client/blob/master/CONTRIBUTING.md#bug-reporting-guidelines

[2015-08-24 19:57] #18535 closed

[2015-08-24 19:58] andersruneson commented on #18499
[code]

[2015-08-24 20:12] gdamjan commented on #17586
I've found that commenting out
[code]
in apps/files/appinfo/remote.php fixes this issue. I don't know what the exact reason for this is. and if Dummy....Plugin is really needed.

[2015-08-24 20:27] flop25 commented on #17712
Wireshark too on win and mac
I will provide the .pcapng file only by email: ping me flop25 at piwigo.org

[2015-08-24 20:27] szepeviktor commented on #18534
@fossxplorer Thank you!
I've found this in oc log:
`Could not obtain lock type 1 on`

[2015-08-24 20:33] szepeviktor commented on #18534
I've reported for the first time with this template.

[2015-08-24 21:11] DemoFreak commented on #17586
https://github.com/owncloud/core/commit/432d7be8cc66da0de1e174522333e5b5dd004c91

[2015-08-24 21:24] michaelstingl commented on #10001
@MorrisJobke Will 7.0.9 also generate TAR?

[2015-08-25 00:19] anonimal commented on #18483
Note: https://doc.owncloud.org/server/8.1/admin_manual/configuration_server/harden_server.html#use-a-dedicated-domain-for-owncloud does recommend to use a subdomain for good reason, but not for our purpose.

@LukasReschke a question that's somewhat on-topic: https works well but, when I login, I'm redirected to http://owncloud.external.tld/index.php?redirect_url=%2Findex.php%2Fapps%2Ffiles%2F.

Ad

[2015-08-25 01:12] rolfjoseph commented on #18504
I think it´s the compression of the provider side web.vodafone.de. But performance.vodafone.de doesen´t works for me, because it´s a contract over otelo.

Is there an other way ? I think it´s the compression of the css and javascript.

[2015-08-25 01:26] matzex commented on #17586
I have this problem too. The android app is not able to upload files.
Ubuntu 12.04.4, PHP 5.4.44. (no nginx)
The workaround from @gdamjan (https://github.com/owncloud/core/issues/17586#issuecomment-134363081) is not working for me. Does anyone has an idea how to solve this problem?

[2015-08-25 02:19] matzex opened #18536 "Can't enable files_external after upgrade to 8.1"
After the update to owncloud 8.1 I'm not able to enable the files_external app. I get always a blank page in the browser and the following message in the apache2 error logfile:
<code>[Tue Aug 25 04:12:40 2015] [error] [client XXX] PHP Fatal error:  Access level to OC\\Files\\Storage\\Dropbox::getMetaData() must be public (as in class OC\\Files\\Storage\\Common) in /var/www/XXX/cloud/apps/files_ext

[2015-08-25 03:30] jonathannz commented on #18317
How is this a duplicate of #18224 ?
I also have this issue. I successfully used the Admin update system to go from 8.1.0.8 to 8.1.1.3. No errors, no apparent issues.
But when I try to now update the Calendar app to 0.7.3 I get the error the OP has cited. But the duplicate posts you refer to, as far as I can tell, are related to the core update having issues.
So do I post a repeat of this OPs post,

[2015-08-25 05:58] LukasReschke commented on #18536
From which version did you upgrade?

[2015-08-25 06:02] matzex commented on #18536
8.0.3.4 i think. (This is the last backup of the 8.0.x tree shown in the updater app.)

[2015-08-25 06:29] rperezb commented on #13541
@SergioBertolinSG can you please check this one, thx

[2015-08-25 06:33] MorrisJobke commented on #10001
Currently there isn't even a solution for master.

[2015-08-25 06:48] rperezb commented on #11718
@SergioBertolinSG thx

[2015-08-25 06:54] DeepDiver1975 commented on #10001
Gentlemen hold your horses. I even dont know if this can make it into 8.2

[2015-08-25 07:00] rperezb commented on #14955
tested, the changes on the full name are not changed if you confirm them with the "enter".
However, if you confirm them clicking anywhere on the screen are kept.

(@davitol checked it too :monkey_face: https://github.com/owncloud/core/pull/17154#issuecomment-131096395 )

[2015-08-25 07:01] #18386 closed

[2015-08-25 07:23] #18480 closed

[2015-08-25 07:39] PVince81 commented on #18499
@blizzz any idea ?

[2015-08-25 07:42] gdamjan commented on #17586
we've had a discussion on this [sabre-dav issue](https://github.com/fruux/sabre-dav/issues/684)  too. The reason why DummyGetResponsePlugin trips uwsgi is that it isn't setting a status.

[2015-08-25 07:42] PVince81 commented on #17586
@LukasReschke

[2015-08-25 07:49] PVince81 commented on #18536
How did you upgrade ? Did you replace the sources using a tarball, or use a package manager or use the updater app ?

[2015-08-25 07:54] #17869 closed

[2015-08-25 08:03] tygerlord commented on #18494
Ah yes of cours, sorry.:

### Steps to reproduce
0. Configure External storage google and use server default encryption
1. Use ownCloud Android APP 1.7.2 and upload a file (for example an image) into google external storage
2. Open owncloud on computer with firefox
3. Try to download the image file

### Expected behaviour
The file should be decrypted and readable

### Actual behaviour
File stay en

[2015-08-25 08:05] PVince81 commented on #17411
@cmonteroluque does it mean we want to officially work on this ?
That PR is just a POC requiring feedback.
If we want to go forward with that approach I will continue it then.

[2015-08-25 08:08] #18079 closed

[2015-08-25 08:09] cmonteroluque commented on #17144
@PVince81 agree that it needs to be better, 8.1.2 not looking possible at this point.

[2015-08-25 08:11] PVince81 commented on #17712
I tried installing Zotero standalone locally but I have no idea how to use it or how to make it sync.
I set "Sync attachments with Webdav" then specified my ownCloud URL "http://localhost/owncloud/remote.php/webdav".

How to make it sync things ? Can someone provide the exact steps (where to click and what to do) so I can trigger the issue ?

Thanks.

[2015-08-25 08:26] PVince81 commented on #17712
It created the folder "zotero" but whatever I do in the UI, create attachments or "attach stored copy of a file", it doesn't even attempt to sync anything.
There is a button "sync" on the top right it seems but when I click it it asks me to provide zotero.org credentials instead of syncing with Webdav as configured.

[2015-08-25 08:37] PVince81 commented on #18527
Looks like multiple sidebar instances get created for each lists, this messes up.

Maybe a single instance is enough, and other lists will need to reuse it / clear it. Especially that each list could have different panels/tabs.

[2015-08-25 08:38] flop25 commented on #17712
arf can't tell you until hours, at home... I will try to remove my zotero account in the settings

[2015-08-25 08:44] PVince81 commented on #18527
So far we are already creating separate DOM elements for each list. Now I wonder if this was really a good idea in the first place instead of destroying and recreating the elements instead.

At the moment the sidebar is coupled with the FileList, so its element is somewhat linked to the DOM element of the FileList. I'll see if I can decouple it somehow. So basically this means that the creator of

[2015-08-25 08:49] PVince81 commented on #18527
Hmmm, but the MainFileInfoDetailView needs a reference of the current file list and file actions, which would change when switching the list... maybe not a good idea then.

Maybe it's just easier to destroy the sidebar and recreate it upon switching the current file list.

[2015-08-25 08:57] SergioBertolinSG commented on #13541
I think I am not getting the problem.

When setting up oc first you should set up database, it is documented here https://doc.owncloud.org/server/7.0/admin_manual/configuration/database_configuration.html#postgresql-database

So I think you should change the dockerfile or use some environment variables to making it able for being used.

[2015-08-25 09:01] MarcusMoeller opened #18537 "blank screen on load when apcu is enabled"
On oc 8.1.1.3 when I try to use apcu I only got a blank page on load.

I have set:  'memcache.local' => '\OC\Memcache\APCu', in config.php

php5-apcu_4.0.6 is installed and cli is enabled as well:

apc.coredump_unmap => Off => Off
apc.enable_cli => On => On
apc.enabled => On => On
apc.entries_hint => 4096 => 4096
apc.gc_ttl => 3600 => 3600
apc.mmap_file_mask => no value => no value
apc.preload_pat

[2015-08-25 09:15] #16933 closed

[2015-08-25 09:16] #15931 closed

[2015-08-25 09:17] #14185 closed

[2015-08-25 09:34] RealRancor commented on #18537
Hi,

also check your data/owncloud.log as requested in the issue template:

https://github.com/owncloud/core/blob/master/CONTRIBUTING.md#short-version

which should be filled out in general.

[2015-08-25 09:36] MarcusMoeller commented on #18537
This is logged in owncloud.log:

remoteAddr":"192.168.2.250","app":"remote","message":"Missing memcache class \\OC\\Memcache\\APCu for local cache","level":4,"time":"2015-08-25T09:35:36+00:00"}

[2015-08-25 09:37] RealRancor commented on #18537
Yes, that means your PHP hasn't loaded APCu correctly. The output above seems to be from php -m? Please check with an phpinfo.php if APCu is also loaded correctly for your webserver.

[2015-08-25 09:38] PVince81 commented on #18527
Fix is here https://github.com/owncloud/core/pull/18538

[2015-08-25 09:50] MarcusMoeller commented on #18537
Thanks for the hint. Had to restart php5-fpm in order to make it work.

[2015-08-25 09:50] #18537 closed

[2015-08-25 10:37] pierrejochem opened #18540 "Wrong german translation in "external_storage" app"
There is a wrong translation in the external_storage app.
![2015-08-25_12-34-36](https://cloud.githubusercontent.com/assets/9192953/9464666/fedb2800-4b25-11e5-9648-53cbbd047616.png)

It should be **Speicher Typ**

[2015-08-25 10:37] guruz commented on #18450
Is that in the _same_ folder? "about a minute" for one directory listing? That sounds fishy in itself and can't really explained by slow network?

[2015-08-25 10:54] mmccarn commented on #16370
+1 for this enhancement.

My first test user decided she needed to 'download' the entire corporate network...

A config option to disable folder downloads from a browser would be very helpful; failing that, a warning message to the user would be better than nothing ('You're attempting to download a folder containing x files and y MB.  Are you sure you mean to do this?')

[2015-08-25 11:18] karlitschek commented on #18540
can you please report this in transifex? https://www.transifex.com/owncloud_robot/owncloud/
Thanks a lot.

[2015-08-25 11:18] #18540 closed

[2015-08-25 11:21] PVince81 commented on #18017
Computing a hash sounds a bit over-engineered for such a small part.
Also many other update routines rely on version numbers, so I think it might be better to use that approach instead.

[2015-08-25 11:28] PVince81 commented on #17411
Note: the original issue (contacts app) should be solved already through the contacts app.
We keep this ticket to find a general issue for broken third party apps could brick ownCloud.

I'd rather move this to 8.2 as the required changes will be intrusive to the update process.

[2015-08-25 11:30] DeepDiver1975 commented on #17411
yes - not urgent right now

[2015-08-25 11:32] PVince81 commented on #18176
@g4challenge can you use the issue template: https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

We need logs to be able to pinpoint the issue.

[2015-08-25 11:32] PVince81 commented on #17411
Setting to 8.2 instead.

The reason why @DeepDiver1975 set it to 8.1.1 originally was to look at the contacts app specifically, which is already solved.

[2015-08-25 11:34] PVince81 commented on #18011
@DeepDiver1975 do you still intend to have a look at this ?

[2015-08-25 11:36] DeepDiver1975 commented on #17397
Discussions and analysis in the past weeks did show that we need a bigger change to fix this.
Given the state of 8.2 this is more a topic for 9.0.

Solution: move to http://www.stashphp.com/

[2015-08-25 11:38] DeepDiver1975 commented on #18011
We this requires update of the 3rdparty lib.

[2015-08-25 11:39] DeepDiver1975 commented on #18011
afaik I had a branch somewhere ....

[2015-08-25 11:39] MTRichards opened #18542 "Delete external authentication (e.g. LDAP / AD, SSO) users from ownCloud, regardles of login success"
As an admin, I want to be able to delete a user from ownCloud that is still valid in LDAP/AD, but that no longer needs access to ownCloud and is no longer in the group filter.

Acceptance Criteria:
- User can be deleted from OCC, provisoning API and the web UI
- User data is deleted no matter the user's state

One possible solution from @blizzz :

[2015-08-25 11:41] MTRichards commented on #18542
@cdamken @MorrisJobke

00003201

[2015-08-25 11:45] PVince81 commented on #18222
I believe that @jnweiger merged many packages together, so the order of packages would not affect the update process any more. Not sure if this would fix that specific issue though.

[2015-08-25 11:45] pierrejochem commented on #18540
Your join request for the German (Germany) (de_DE) language has been submitted. You will receive a notification upon acceptance or denial

[2015-08-25 11:56] phil-davis commented on #18450
Somewhere else it was mentioned that a PROPFIND was taking 66 seconds to complete. But actually for me it seems to be 16 seconds. Maybe the "66" was a typo?
The 16 seconds is for the User2 client waiting to receive the "folders to sync" tree list that contains an External Storage defined by User2 that refers to a folder owned by User1. User1 and User2 are on the same ownCloud 8.0 server. The same

[2015-08-25 11:57] jnweiger commented on #18021
@lpallard1 do you have a full log?
Do you still have that issue with 8.1.1?

[2015-08-25 11:58] MorrisJobke commented on #18533
Is already done: https://github.com/owncloud/core/blob/010c03fc30a6d5d1765889431905dc415d289018/lib/private/templatelayout.php#L158-158

[2015-08-25 11:59] MorrisJobke commented on #18533
Which also contains all app versions: https://github.com/owncloud/core/blob/010c03fc30a6d5d1765889431905dc415d289018/lib/private/templatelayout.php#L139-L141

[2015-08-25 12:08] #18327 closed

[2015-08-25 12:09] MorrisJobke commented on #18327
backport request to stable8.1 is pending.

[2015-08-25 12:32] didierm opened #18547 "LDAP password revealed in cleartext in logs"
Experiencing an issue with LDAP authentication, to my surprise the password is revealed in clear text in e.g. /var/log/messages :
[code]
[code]

[2015-08-25 12:33] LukasReschke commented on #18547
Duplicate of https://github.com/owncloud/core/issues/16318

[2015-08-25 12:33] #18547 closed

[2015-08-25 12:35] PVince81 commented on #18017
Fix is here with a version check: https://github.com/owncloud/core/pull/18548

[2015-08-25 12:48] PVince81 commented on #18534
Hmm strange, the stack trace above shows that it's an upload (PUT method) but it is calling the trashbin's "doDelete" function.

[2015-08-25 12:49] nickvergessen opened #18549 "File not found exception"
Its the third time this happens to me today:
[code]

I didn't do anything special, just upload and share some files.
@PVince81 @icewind1991 do you know anything that changed there?

[2015-08-25 12:49] Xenopathic commented on #18542
Another possible solution: `user:delete --force`, which attempts to delete the user from the backend but ignores failure to do so (e.g. because it's LDAP) and continues removing all other information.

[2015-08-25 12:51] Xenopathic commented on #17712
@PVince81 Zotero WebDAV is just for attachment files, like a PDF from a website. The actual database and index is either stored locally (in which case WebDAV is completely disabled) or on the Zotero servers, when WebDAV can be optionally used. So you'll have to set up a Zotero account and connect it to use the WebDAV attachment sync (WTF I know...)

[2015-08-25 12:51] mcnesium commented on #14807
No more log messages, thank you :)

[2015-08-25 12:53] Xenopathic commented on #18536
That was fixed with #15748, which made it into 8.1... cc @DeepDiver1975

[2015-08-25 12:57] #18527 closed

[2015-08-25 13:00] szepeviktor commented on #18534
Could it be related to `Could not obtain lock type 1`?

[2015-08-25 13:01] PVince81 commented on #18534
No, that is happening later as a consequence of that code path.
I'd like to check why it is even going there.

Are you overwriting the pictures or are they brand new ?

[2015-08-25 13:04] szepeviktor commented on #18534
There are only zero length files: `DSCN2288.JPG.ocTransferId1470891348.part`
So I think brand new.

[2015-08-25 13:07] ckamm commented on #18450
I'm pretty sure I saw 66 seconds using `time curl -X PROPFIND ...` - right now I also only see 16s.

[2015-08-25 13:10] dragotin commented on #18450
maybe server update in between?

[2015-08-25 13:10] Xenopathic commented on #17712
I've just tested this, and cannot reproduce the problems. Zotero successfully puts `.prop` and `.zip` files in the configured directory on ownCloud, via WebDAV. The files there are valid (at least, the ZIPs are extractable and contain sensible information).

I am running ownCloud 8.1.1.

[2015-08-25 13:11] MorrisJobke opened #18551 "[mobile] Autocomplete drop down in sharing dialog not shown"
* have a small browser window (mobile UI)
* open share dialog
* enter username

### expected

* show autocomplete list

### actual

* autocomplete list is not shown, but there, because you can simply hit enter and the first item is used
* if you resize the window to a wider viewport it will show the autocomplete list

cc @owncloud/designers @jancborchardt

[2015-08-25 13:18] flop25 commented on #17712
@Xenopathic  os/php/apache?

[2015-08-25 13:21] PVince81 commented on #18502
I got this again and it seems the cache update succeeded, but wrote the wrong size. Having a file with the wrong size breaks the sync client when it tries to download it since it's waiting for more data that doesn't come (Connection closed).

The question is why the cache update clash is happening in the first place.

[2015-08-25 13:22] PVince81 commented on #18502
even when filesystem_check_changes is 0

[2015-08-25 13:22] Xenopathic commented on #17712
@flop25 Linux, Zotero was on Windows 7 with Firefox, using nginx + PHP-FPM

[2015-08-25 13:28] jnweiger commented on #18508
occ permissions a+x backported from 8.1.1 to 8.0:testing
Proper occ invocaiton with chdir and php backported from 8.1.1 to 8.0:testing

[2015-08-25 13:30] flop25 commented on #17712
well i don't know what to say...
could you use a pre 8.1 version, sync, update owncloud, add item to zotero and sync again? Also try zotero standalone instead (don't know for the others but i'm using that one)
i still can send my packet capture

[2015-08-25 13:30] PVince81 commented on #18534
Ok got it, the reason why unlink is called is because of the **failed** upload, so it tries to delete the stray part file and that deletion clashes with locking... nice...

So we have two problems:
1) why is the upload failing in the first place
2) deletion of part files for failed uploads fails with files_locking

[2015-08-25 13:34] blizzz commented on #17362
Testing/Review needed. If it is good and we get it #18469 into master, I can do the  backport.

[2015-08-25 13:44] jnweiger commented on #18222
The merged package is likely to fix this and many other similar issues as long as the issue depends on package ordering.

Here I also suspect that somehow write permissions to config.php were lost. Not sure if this is related to install order.

[2015-08-25 13:46] PVince81 commented on #18549
Works for me here 1dc9283413dd5547d6b2080efbd33e0ce1f383d3

[2015-08-25 14:15] jnweiger commented on #18508
With the current 8.0.6 I see this error message:
<pre>
owncloud-server: occ upgrade
sh: 1: /var/www/owncloud/occ: Permission denied
Setting up owncloud-config-apache (8.0.6-1) ...
</pre>
This should be fixed in 8.0:testing as soon as 8.0.6-19 is available there.

[2015-08-25 14:18] PVince81 commented on #17997
Not sure if related but I see that encryption leaves the cache entries for the part files in the DB:
[code]

The entries with octransferid should be gone.
I suspect it might be related to the part folder issue.

[2015-08-25 14:26] Xenopathic commented on #17712
@flop25 I've just tried with Zotero Standalone, and that worked fine too.

Do you get any errors with other WebDAV clients?

[2015-08-25 14:45] PVince81 commented on #18502
Now I can't make the exception appear again, but I still get sync failures. Nothing in the log. :frowning:

[2015-08-25 14:54] LukasReschke commented on #18549
@nickvergessen Did you run the unit tests? That happens for me after running them.

[2015-08-25 14:57] PVince81 commented on #18502
Okay, so I got it again. But I suspect these might be different issues:
[code]

[2015-08-25 14:57] PVince81 commented on #18502
I suspect it might be happening whenever the sync client tries to get the quota while an upload is in progress.

[2015-08-25 15:04] VicDeo commented on #18533
@MorrisJobke this is PHP implementation. OC.addScript  is javascript

[2015-08-25 15:05] nickvergessen commented on #18549
I ran the one from activity app IIRC

[2015-08-25 15:05] jnweiger commented on #18530
@nilsm From which version did you upgrade?
Do you have a log from the upgrade procedure?

[2015-08-25 15:10] PVince81 commented on #18502
The test above was without transactional locking on stable8.1

Now trying with transactional locking enabled on stable8.1 the exception with file cache doesn't want to reappear...

[2015-08-25 15:18] PVince81 commented on #18502
Okay, looks like if I disable the debugger/breakpoint the second issue, the one with no logs, appears again. Also I saw this in the error_log:
[code]

This is the bug from XDebug. So let's disable the debugger completely and retest with transactional file locking.

[2015-08-25 15:23] PVince81 commented on #18502
Ok, with XDebug disabled I can't reproduce the issue with transactional locking enabled.

The purpose of locking is to avoid random concurrency issues. @Bobuscho could you give it a try: https://doc.owncloud.org/server/8.1/admin_manual/configuration_files/files_locking_transactional.html and see if it solves the issue for you ?

[2015-08-25 15:25] PVince81 commented on #18534
I can't reproduce this locally.

@szepeviktor is the upload problem happening for any uploaded file or does it always happen ? Or randomly ?
Can you try temporarily disabling the "files_locking" app ?

[2015-08-25 15:30] PVince81 opened #18557 "Update stable8.1 to master gives strange error"
### Steps

1. Checkout stable8.1 727cb3b2a3358215dc8cc8bfdc419d86bffd74dc
1. Setup OC
1. Check out master 1dc9283413dd5547d6b2080efbd33e0ce1f383d3
1. Run the upgrade in the web UI

### Expected result
Successfull update

### Actual result
[code]

I noticed that the UI says that the "files" app needs to be updated, maybe something hangs there.
Refreshing the page once and running the update again m

[2015-08-25 15:31] nickvergessen commented on #18117
I can't get this to work properly:

* Performant (not collecting all users from the backend)
* Pagination (allowing to paginate through pages)
* Easy2User (sending a list of users/groups that should be ignored, instead of doing that later in the client)

I can only get it to work with two of them. Since the client needs to collect the IDs anyway and most-likely displays the existing shares already

[2015-08-25 15:38] PVince81 commented on #18557
[code]

[2015-08-25 16:04] PVince81 commented on #18557
Regression introduced through https://github.com/owncloud/core/pull/18482

[2015-08-25 16:06] PVince81 commented on #18557
Strangely this is the commit that increases the files version later: e88b380973b54bc7b8bc86f888b1f11ae8e54076 https://github.com/owncloud/core/pull/18510
So not sure if this is related in any way.

[2015-08-25 16:07] PVince81 commented on #18557
On master if I manually increase the version of "files" and do an app update (web UI), it works.
Also a simultaneous core + files update (increase both versions) starting from master works too.

So there is something happening only when coming directly from stable8.1

[2015-08-25 16:08] LukasReschke commented on #17586
Patch is at https://github.com/owncloud/core/pull/18562, please review.

[2015-08-25 16:10] PVince81 commented on #18557
I wonder if this has something to do with routing and loading apps too early.

@LukasReschke @nickvergessen @Xenopathic in case you have an idea

[2015-08-25 16:18] MorrisJobke commented on #18557
@PVince81 Is this only about the exception? This exception is logged on every owncloud core upgrade

[2015-08-25 16:20] PVince81 commented on #18515
The conflict situation is normal. If the client of user1 did not download the latest version, and at this time user1 makes changes to the document, it is technically a conflict.

The issue here is rather the question why the client of user1 did not download in the first place.
I suspect that it could be an etag propagation issue

[2015-08-25 16:22] jancborchardt commented on #18383
@PVince81 we could indeed do that now with the separate column. It wasn’t done in the past because we wanted to have the file actions in more relevant places (like rename next to the name) which is moot now.

But I would wait for 9.0 with that? For now we just have to fix this specific issue.

[2015-08-25 16:22] PVince81 commented on #18515
Etag propagation has been reworked and improved in 8.1.1 (see https://github.com/owncloud/core/issues/14726). You could also try 8.0.6 but I'm not sure if it will improve there.

[2015-08-25 16:23] PVince81 commented on #18515
If you can provide more details about the path names of the shared files, from the point of view of user1 and from the point of view of user2, I might be able to tell you if this is the situation where this bug happens.

[2015-08-25 16:24] MorrisJobke commented on #18533
Ah right. Sorry

[2015-08-25 16:25] PVince81 commented on #18557
Is it ? I didn't notice.

Then it's more about the broken page that appears:
![update-empty](https://cloud.githubusercontent.com/assets/277525/9472591/9f996952-4b56-11e5-84c3-b61edfab2b22.png)

[2015-08-25 16:25] PVince81 commented on #18557
Reloading will re-show the update page, and then the update can be performed.

Then maybe something is stored in the session which makes the subsequent update work ? That would make sense as the above commits are about the session.

[2015-08-25 16:27] PVince81 commented on #18383
Yes, let's do the separate column with 9.0 and the quickfix in 8.2.
It seems that the max width has been set arbitrarily in the past ?

[2015-08-25 16:29] MorrisJobke commented on #18557
@PVince81 can you run `./occ upgrade` ... the broken page looks like an exception, which is properly logged in the console command.

[2015-08-25 16:36] gig13 opened #18563 "LDAP is logging error message"
Reference https://github.com/owncloud/core/issues/17627 for all config information.

The log repeatedly shows:
[code]

Changing this function (public function
getServerConfigurationPrefixes) to (public static function getServerConfigurationPrefixes) in apps/user_ldap/lib/helper.php appears to fix the problem.  This may have other consequences, but everything seems to work.

[2015-08-25 16:36] gig13 commented on #18563
@MorrisJobke

[2015-08-25 16:48] MorrisJobke commented on #18563
Fuplicate of #779

Fixed in 8.1.2 and 8.0.7 (ETA next tuesday)

[2015-08-25 16:48] #18563 closed

[2015-08-25 16:51] PVince81 commented on #18557
I wonder, maybe there is a previous unencrypted session and the transition doesn't work, but then refreshing the page might recreate a new one.

Something to investigate...

[2015-08-25 18:37] szepeviktor commented on #18534
Yes. I've just disabled it.
Now I ask the user to report the state of her client software. And of course watching logs...

[2015-08-25 18:42] szepeviktor commented on #18534
Do you have any other idea what to test?

[2015-08-25 18:48] szepeviktor opened #18565 "Securing login"
As I am seeing now there is no limit on login tries.

How is it possible to trigger fail2ban with a simple `error_log()` call?

[2015-08-25 18:51] szepeviktor commented on #18565
In `data/owncloud.log` there is `Login failed:`. Should I rely on it?

[code]

[2015-08-25 19:03] rolfjoseph commented on #18504
That´s the way. The correct delivery looks with many stylesheet links and script links, but the incorrect delivery show some script details like:

		<link rel="apple-touch-icon-precomposed" href="/core/img/favicon-touch.png">
					<link rel="stylesheet" href="/core/css/styles.css?v=fcf3cb41816c677e8a32a6ab65654267" media="screen">
					<link rel="stylesheet" href="/core/css/header.css?v=fcf3cb4181

[2015-08-25 19:07] LukasReschke commented on #18565
Yes. Note that the layout changed with 8.1 but will stay consistent now.

[2015-08-25 19:07] #18565 closed

[2015-08-25 19:08] LukasReschke commented on #18549
Can you try to reinstall and run the activity test and check if it what the reason? :speak_no_evil:

[2015-08-25 19:08] szepeviktor commented on #18565
Thank you.

I prefer using a server-wide solution.

[2015-08-25 19:54] matzex commented on #18536
I tried to upgrade with the updater app, this failed and afterwards I copied the sources manually from the .zip package. After this I had to disable the files_external app with the command line to access my ownCloud again.

Now I copied the files which were changed in #15748 manually (using the version from the 8.1.1 zip) and files_external works. So I think somehow my update process failed and no

[2015-08-25 19:54] #18536 closed

[2015-08-25 19:59] #18011 closed

[2015-08-25 20:02] #17586 closed

[2015-08-25 20:21] MorrisJobke commented on #18327
Backport owncloud/search_lucene#102

[2015-08-25 20:55] DemoFreak opened #18568 "Android file sync stops working after upgrade from 8.0.5 to 8.1"
### Steps to reproduce
1. Upgrade a working installation from 8.0.5 to 8.1
2. try to upload a file by Android client (i.e. FolderSync)
### Expected behaviour

File should upload.
### Actual behaviour

File won't be uploaded.
### Server configuration

**Operating system**: Linux (openSUSE 13.2)
**Web server:** Apache 2.4.12
**Database:** MySQL 5.6.25
**PHP version:** 5.6.10

**ownCloud version:** 8

[2015-08-25 20:58] LukasReschke commented on #18568
How are you running PHP? mod_php? FPM? …?

[2015-08-25 21:01] DemoFreak commented on #18568
@LukasReschke
FastCGI (mod_fcgid)

[2015-08-25 21:01] DemoFreak commented on #18568
Could I track down this "Internal server error" via some handy command line tool?
And if yes, how? ;-)

[2015-08-25 21:03] LukasReschke commented on #18568
Mhm. No experience with that. Can you check if the changes from https://github.com/owncloud/core/pull/18194 or the linked forum entries help and if they do write down which? ;-)

[2015-08-25 21:28] zubanst opened #18570 "Missing memcache class \OC\Memcache\APC"
Steps to reproduce:
-migrate owncloud 8.0.5 -> 8.1.1
-install and enable php-apc
-configure memcache in owncloud as described here https://doc.owncloud.org/server/8.1/admin_manual/configuration_server/config_sample_php_parameters.html#memory-caching-backend-configurationconfig
Expected result:
Page loads correctly
Actual behavior:
Blank page displayed with following errors errors in the log:
OC\Hi

[2015-08-25 21:43] RealRancor commented on #18570
Hi,

this means APC is not enabled within your PHP environment and is not a bug within oC.

[2015-08-25 21:44] DemoFreak commented on #18568
Tried https://github.com/RealRancor/core/commit/a53050eb6edbf53cf26039ba066cc0fb2926148d but the problem persists.
I also tried to substitute XAUTHORIZATION by HTTP_AUTHORIZATION as mentioned https://github.com/owncloud/core/pull/18194#issuecomment-130645641, but this makes no difference.

[2015-08-25 21:47] #18570 closed

[2015-08-25 23:14] gdamjan commented on #17586
thanks for the fix.

I'd say this is a problem that's has its roots in all 3 of projects: uwsgi, sabre-dav and owncloud.
owncloud didn't set the status, sabre-dav didn't catch that case, and uwsgi failed pretty bad on a status of 'HTTP/1.1 '.

let's see this fixed in all 3 :)

[2015-08-25 23:54] lpallard1 commented on #18021
@jnweiger  I issued a "yum erase owncloud-server-core" then a "yum  install owncloud-server-core" and all went fine!

Somehow, it wouldnt allow upgrading from 8.0.4 to 8.1.1..

The only output that was available was what I provided before.  I managed to create a full VM backup before trying this so worst case scenario I have a functioning setup, so if you need me to do more testing I can restore i

[2015-08-26 01:05] jnweiger commented on #18021
Great to hear that it works now.

There was an unversioned owncloud-server-core symbol in 8.0.4 which caused issues. This is now replaced by a properly versioned provides symbol in 8.0.6 and 8.1.1  -- I believe this explains the weird behaviour. yum erase owncloud-server-core was the right solution.

Thanks for the report anyway!

[2015-08-26 01:05] #18021 closed

[2015-08-26 01:54] anonimal commented on #18483
Can anyone help answer my question, please? I'll open a new feature request ticket if you think it should go in that direction, but I know there are many open tickets as it is.

[2015-08-26 03:30] phil-davis commented on #18450
These measurements are on a hosted ownCloud at blaucloud.de that started as "ownCloud 8.0 (stable)" and is still on that version.

[2015-08-26 03:33] binarykitchen commented on #18407
ping??

[2015-08-26 04:39] mbressman opened #18571 "search_lucene partly broken for user after upgrading to v8.1.1"
After upgrading to v8.1.1, I can still search my ownCloud install (under my user account, which is basically the only one on ownCloud right now) for text that is contained in the file name, but it no longer seems to be searching contents of certain file types. I upgraded and search_lucene was disabled, and I re-enabled it via the web interface (but also tried disabling and re-enabling via OCC when

[2015-08-26 06:48] MorrisJobke commented on #18327
This will be fixed in 8.1.2

[2015-08-26 07:18] MorrisJobke commented on #18571
@mbressman Can you try owncloud/search_lucene#57 ?

cc @butonic

[2015-08-26 07:21] MorrisJobke commented on #9873
I’m closing this issue because it has been inactive for a few months. This probably means that the issue is not reproducible or it has been fixed in a newer version.

Please reopen if you still encounter this issue with the [latest stable version](http://owncloud.org/install/) and then please use the [issue template](https://raw.github.com/owncloud/core/master/issue_template.md). You can also cont

[2015-08-26 07:21] #9873 closed

[2015-08-26 07:24] MorrisJobke commented on #11464
This specific error message is nowadays handled differently:

![bildschirmfoto von 2015-08-26 09-22-52](https://cloud.githubusercontent.com/assets/245432/9487669/2d4703ea-4bd4-11e5-8f61-43ef7ad7d10f.png)

This is because it is very early in the request handling phase.

Issue is therefore fixed. If there happens something similiar for another error message, please create a new ticket that lists the

[2015-08-26 07:24] #11464 closed

[2015-08-26 07:27] MorrisJobke commented on #13141
AFAIK this was fixed lately in the 8.2 release cycle, but I can't find the ticket anymore (I thought it was fixed by @PVince81)

I will close this then. If you still see this, then reopen please.

[2015-08-26 07:27] #13141 closed

[2015-08-26 07:51] PVince81 commented on #18450
Since 8.1 there have been some speed improvements with the introduction of a stat cache to reduce the number of requests: https://github.com/owncloud/core/pull/14120
It's still not the ideal speed but is already an improvement.

[2015-08-26 07:55] PVince81 commented on #13141
Duplicate of https://github.com/owncloud/core/issues/17393

[2015-08-26 08:00] thomasfiala commented on #18222
I experience the same error. I have OC8.1.1 (stable) on shared web hosting (all-inkl.com). I upgraded from OC7 yesterday using php56-cgi (set through .htaccess).
The error occurred when changing to 5.5.26-nmm1 (module) by removing the AddHandler line in .htaccess.
Changing back to php56-cgi resolves this problem.

Please tell me if you need additional information.

[2015-08-26 08:05] PVince81 commented on #18557
Just tried upgrading on the CLI and it works directly, no errors.
On the CLI there is no session.

I'll try debugging around the session code and see if I can find something.

[2015-08-26 08:05] PVince81 commented on #18557
Ha... If I clear the browser cache before opening the web page for upgrade, no error appears.
It is indeed a session issue.

[2015-08-26 08:11] MorrisJobke commented on #18557
Something similiar: #10579

[2015-08-26 08:12] MorrisJobke commented on #18557
Nice catch :+1:

[2015-08-26 08:19] PVince81 commented on #18557
Not related to the files app due update. If I switch back the files app version the problem still appears.

It must happen in base.php because a breakpoint in ajax/update.php is not reached when clicking "Start upgrade"

[2015-08-26 08:22] MorrisJobke commented on #4407
I’m closing this issue because it has been inactive for a few months. This probably means that the issue has been fixed in a newer version.

Please reopen if you still encounter this issue with the [latest stable version](http://owncloud.org/install/).

Thank you!

[2015-08-26 08:22] #4407 closed

[2015-08-26 08:22] PVince81 commented on #18557
"Token expired. Please reload page." happening in `callCheck()` from ajax/update.php

This is supposed to be the error message. I'll make a separate fix to make sure this can be displayed properly.

[2015-08-26 08:23] MorrisJobke commented on #5491
#9058 was moved to 9.0 -> move this too.

[2015-08-26 08:28] #15285 closed

[2015-08-26 08:28] MorrisJobke commented on #15285
Please check the current packages. There was put a lot of effort in the packages recently.

[2015-08-26 08:37] LukasReschke commented on #13821
Will be fixed in 8.2 due to https://github.com/owncloud/core/pull/13827#issuecomment-134898745

[2015-08-26 08:37] #13821 closed

[2015-08-26 08:48] PVince81 commented on #18557
Showing an error message is trickier than I thought. To show a message we need to init the event source and then send the message.
But then as soon as you send the first message, OC_EventSource calls its own internal "init()" which also does a CSRF check, and then produces its own error message.

So the hack here would be to send a message very early to trigger that CSRF check...
This, only to hav

[2015-08-26 08:54] mschaaf commented on #18000
I have the same issue and can't access my files anymore. I need the system, so I have to revert the upgrade to the previous state.

[2015-08-26 08:59] PVince81 commented on #18557
Here is a PR that properly displays the CSRF error and other upgrade exceptions: https://github.com/owncloud/core/pull/18574

The session issue still needs to be investigated and fixed.

[2015-08-26 09:07] SergioBertolinSG opened #18575 "Warning when moving two files to different storages."
### Steps to reproduce

1. Enable external storage.
2. Mount a SFTP mount and an amazon S3 mount.
3. having two files, move one to SFTP folder and one to S3.

### Expected behaviour
Files are moved without problems.

### Actual behaviour
Warning with mysql problems.

![sftp s3](https://cloud.githubusercontent.com/assets/9048796/9489484/b088fb0c-4be1-11e5-8b49-a96900a0a548.gif)

### Server configur

[2015-08-26 09:23] PVince81 commented on #18007
Getting 400 Bad request in IE8 on stable8.1 (after https://github.com/owncloud/core/issues/18011 was fixed)

[2015-08-26 09:25] PVince81 commented on #18007
No errors in owncloud.log, error_log nor JS console on upload.

[2015-08-26 09:25] PVince81 commented on #18007
If only we had a single code path for uploading files in JS... it would help not having such corner cases. Regular upload works.

I'll try and debug this.

[2015-08-26 09:33] schiesbn commented on #18176
@g4challenge what kind of user backend do you use? LDAP? Any error messages in your apache or owncloud.log. Would be great if you could use the issue template as suggested by  @PVince81

[2015-08-26 09:34] PVince81 commented on #18007
It goes to "No image or data provided" in the code.

[2015-08-26 09:37] SergioBertolinSG opened #18578 "Edit of the SFTP root folder is not possible."
### Steps to reproduce

1. Enable external storage.
2. Mount a SFTP mount.
3. Change the root folder.

### Expected behaviour
root folder is saved, and changed.

### Actual behaviour
It doesn't change and in fact it mounts the / folder which isn't desirable at all.

### Server configuration

Operating system:
Ubuntu 14.04 LTS

Web server:
Apache

Database:
MySQL

PHP version:
5.5.9

ownCloud versi

[2015-08-26 09:38] SergioBertolinSG commented on #18578
@PVince81 @Xenopathic

[2015-08-26 09:41] PVince81 commented on #18578
I tried on master (08a490df32e7744be5e5f47067746591e7fac05a) and had "/home/vincent/temp/sftpmount" as root, then navigated into it, it worked.
Then I went back to the admin page and changed it to "/home/vincent/temp/sftpmount2" and then it was saved properly. Navigating into it showed the new content.

Not sure what you are doing differently @SergioBertolinSG ?
Maybe there's a save delay that cau

[2015-08-26 09:46] SergioBertolinSG commented on #18578
Well it is related, I didn't put any root, and later tried to add it. But it doesn't work.

[2015-08-26 09:46] szepeviktor commented on #18534
We have got the same error.
This is the first-ish run of the client. It has never succeeded to upload those image files.

[2015-08-26 09:47] PVince81 commented on #18007
The app framework request doesn't seem to contain any files in the "files" attribute, see
[code]

[2015-08-26 09:50] PVince81 commented on #18007
When the request is done from Chrome, it looks like this:#
[code]

So either IE8 is not sending the file properly or the App Framework's request parsing is missing something for IE8 files.

Please note that uploading files in the web UI is going through ajax/upload.php which doesn't use the app framework, which is why it work there.

[2015-08-26 09:50] PVince81 commented on #18578
Does it work on stable8.1 ? (just to find out if it's a regression)

[2015-08-26 09:51] PVince81 commented on #18534
Did you try disabling files_locking ?

[2015-08-26 09:54] PVince81 commented on #18007
Another quickfix would be to remove the "Upload file" button in IE8...
People can still first upload their files in the files app and then use "Select from existing file" to upload an avatar.

@DeepDiver1975 what do you think ?

[2015-08-26 09:57] PVince81 commented on #18007
Still, the app framework will need to be fixed eventually

[2015-08-26 09:57] nickvergessen commented on #18117
The result now looks as follows:
[code]

[2015-08-26 10:01] SergioBertolinSG commented on #18578
Yes, no problems in stable8.1.
I've checked mounting another point with another rootdifferent than default with same result, it cannot be edited.

[2015-08-26 10:02] PVince81 commented on #18007
Turns out that `$_FILES` isn't set, neither is `$_POST`
Maybe the JS code is not posting properly.

[2015-08-26 10:03] LukasReschke commented on #18578
stable8.1 as the current stable8.1 from Git? Or an older one?

[2015-08-26 10:04] SergioBertolinSG commented on #18578
Current from tonight. (daily stable8.1).

[2015-08-26 10:08] PVince81 commented on #18007
Aha, let's try this http://stackoverflow.com/questions/12809514/files-array-empty-from-form-submited-in-ie8

[2015-08-26 10:08] szepeviktor commented on #18534
Yes, see https://github.com/owncloud/core/issues/18534#issuecomment-134696193

[2015-08-26 10:14] PVince81 commented on #18007
Still doesn't work... `$_FILES` is always empty.
Googling...

[2015-08-26 10:21] PVince81 commented on #18007
Ok, turns out it's not a real form post but jquery.fileupload POST from that field. Let's check there.

[2015-08-26 10:26] DeepDiver1975 commented on #14955
not fixed -> 7.0.10

[2015-08-26 10:27] PVince81 commented on #18007
The "Import root certificate" feature is also broken in IE8 as it uses the same approach. ( @SergioBertolinSG another test case)

[2015-08-26 10:31] DeepDiver1975 commented on #18508
@cmonteroluque @rperezb  for QA coordination - THX

[2015-08-26 10:32] DeepDiver1975 commented on #18031
closing this one here - documentation issue is open and assigned to this milestone - THX

[2015-08-26 10:32] #18031 closed

[2015-08-26 10:42] kalletabur opened #18581 "Activity notifications sent after login via web"
### Steps to reproduce
1. User1 shares something with user2 (normal share or federated ID)
2. User2 has mail notifications enabled (on personal page all check, hourly)
3. User2 uses owncloud client (not web)

### Expected behaviour
Email should be sent with activity notification

### Actual behaviour
User gets activity notification only after he/she login over web

### Question about
Is it possibl

[2015-08-26 10:54] SergioBertolinSG commented on #18575
Working fine in stable7.

[2015-08-26 10:56] SergioBertolinSG commented on #18578
Working fine in stable7.

[2015-08-26 11:06] Xenopathic commented on #18578
Unable to reproduce on master. I created an SFTP storage with no root, tested it (I see the contents of '/' in the files view), then added a root ('/tmp') and tested again (I see the contents of '/tmp' in the files view).

[2015-08-26 11:09] Xenopathic commented on #18575
Unable to reproduce on master (tested with SFTP and Local mount points). Both moves complete successfully.

[2015-08-26 11:10] Xenopathic commented on #18575
Can you copy the exception that is printed to the screen into this issue? It's a little difficult trying to read it from your GIF.

[2015-08-26 11:19] SergioBertolinSG commented on #18578
Tested again with very latest master, community version. Same issue.

[2015-08-26 11:21] Xenopathic commented on #18578
@SergioBertolinSG Do you allow time for the storage config to be saved after changing it? So, do you see the green dot at the far left become a spinner briefly then return to a green dot? Also, browser logs?

[2015-08-26 11:29] SergioBertolinSG commented on #18578
Yes, it turns red first, but after a little time it turns green. In the logs nothing appears.

[2015-08-26 11:33] nilsm commented on #18530
@jnweiger Thanks - I initially upgraded from a 7.something version. It was a few weeks ago, no log file unfortunately, I thought everything had gone ok and only noticed the issue when our bookkeeper needed access via the share last week.

[2015-08-26 11:37] Xenopathic commented on #18578
That means there's an issue saving the storage. Perhaps it's something benign, like it trying to save the storage while you are still inputting parameters, but it could be a sign of a bigger issue.

[2015-08-26 11:41] cdamken commented on #18542
@MTRichards @blizzz

Now that I see this solution, could we probably enhance it for the disable option too? (https://github.com/owncloud/core/issues/12601)

That gives the possibility when the users are not part of the projects that requires ownCloud usage (he/she changes department), but the information could be used for other users (through previous sharing) and the the user joins another projec

[2015-08-26 11:44] LukasReschke commented on #12877
Adding security label due to http://research.insecurelabs.org/jquery/test/

[2015-08-26 11:45] SergioBertolinSG commented on #18575
![errorlittle](https://cloud.githubusercontent.com/assets/9048796/9492528/a96f7708-4bf8-11e5-8019-b0402652d53b.png)

[2015-08-26 11:47] MorrisJobke commented on #18575
@SergioBertolinSG Can you copy the message? Then we can also find it more easiely in the future ;)

[2015-08-26 11:48] MTRichards commented on #18542
We have discussed a disabled user in ownCloud for quite some time. Folks have asked for it, but it has not been high on the list. If it is simple to add without a lot of work, ok. If it doubles the amount of work, then not really worth stuffing it in, in my opinion.

[2015-08-26 11:50] SergioBertolinSG commented on #18575
I could

An exception occurred while executing 'INSERT INTO "filecache" ("mimepart","mimetype","mtime","size","etag","storage_mtime","permissions","path_hash","path","parent","name","storage") SELECT ?,?,?,?,?,?,?,?,?,?,?,? FROM "filecache" WHERE "storage" = ? AND "path_hash" = ? HAVING COUNT(*) = 0' with params ["3", "12", "245091883258", "0", "55dda7b1be78e", "245091883258", "27", "b9633f8316157

[2015-08-26 12:00] xn--nding-jua commented on #18151
Hey,

the problem may be regarded to this problem: https://github.com/owncloud/core/issues/8531

calling cron.php will only execute one single job. On my ownCloud-instance more than 3000 jobs (most of them regarded to file_version) have been collected. My cron.php is called every 15 Minutes, but this was not enought for this huge amount of jobs (3000*0,25h=750h). But new jobs will be added to the

[2015-08-26 12:09] mschaaf commented on #17452
Still an issue for me too.

[2015-08-26 12:12] MorrisJobke commented on #18141
@DeepDiver1975 After your cleanup I checked for the `__language_name__` string and following languages have it not set or a wrong one (mostly translated to `__lanugaug_name__`)

[code]

[2015-08-26 12:20] cdamken commented on #18542
@blizzz How much work will be add 2 flags instead of 1?

[2015-08-26 12:21] Xenopathic commented on #18575
Are you using an Oracle DB?

[2015-08-26 12:25] DeepDiver1975 commented on #18575
@Xenopathic

[2015-08-26 12:29] Xenopathic commented on #18575
@DeepDiver1975 I didn't think MySQL could result in an `ORA-01438` error? That sounds like an Oracle error to me...

I think I know what the problem is: the `mtime` trying to be stored of `245091883258` requires at least 5 bytes to represent, while the `mtime` field in the DB is only 4 bytes long. Thus, a precision error occurs.

I think the mtime is retrieved from the storage. Try moving a file o

[2015-08-26 12:30] DeepDiver1975 commented on #18575
for sure not - @SergioBertolinSG has to update the description to give proper information

[2015-08-26 12:30] markholland83 commented on #7191
Any update on this?

It's quite annoying that the OC implementation to sync with swift is so poor.

{"reqId":"IOvP5CnIZDBocZ6sx0fh","remoteAddr":"12.34.567.89","app":"files_external","message":"Client error response\n[status code] 404\n[reason phrase] Not Found\n[url] http:\/\/object.api.openstack.cyso.net\/swift\/v1\/owncloud_2\/filename.pdf","level":3,"time":"2015-08-26T11:55:11+00:00"}

Tests s

[2015-08-26 12:36] SergioBertolinSG commented on #18575
Yes, sorry, this instance is using oracle.
(We had mysql as default before, now default is oracle)

[2015-08-26 12:37] MorrisJobke commented on #17362
@blackm How like is it that this will make it into 8.1.2? See https://github.com/owncloud/core/issues/17362#issuecomment-124083659 :confused:

[2015-08-26 12:45] MorrisJobke commented on #17362
@blackm Sorry. Wrong autocomplete :disappointed: I meant @blizzz :)

[2015-08-26 12:52] blizzz commented on #17362
@MorrisJobke depends on reviews, in one week there was just one brief one, from  tkaufm. no i need to rebase anyway.

[2015-08-26 12:54] g4challenge commented on #18176
### Steps to reproduce
1. Machine with 60GB encrypted Files
2. Upgrade to 8.1
3. Start the encryption:migration process using

     sudo -u www-data php /var/www/owncloud/occ encryption:migrate

### Expected behaviour
Migration should finish with new encryption keys.

### Actual behaviour
Server stops due to out of memory exception(s). SSH Server stops, Database stops...

### Server configuration

[2015-08-26 13:00] DeepDiver1975 commented on #18575
@Xenopathic can I ask you to extract this sample and implement a unit test on this ? THX

[2015-08-26 13:04] PVince81 commented on #18151
@xn--nding-jua are you on 8.1 ?
Too many oc_jobs => see "Debounce expiration jobs" https://github.com/owncloud/core/issues/16826

[2015-08-26 13:04] RealRancor commented on #17452
@mschaaf Just install the version of the app which is compatible with oC 8.1.

[2015-08-26 13:07] xn--nding-jua commented on #18151
Yepp, using 8.1.0 at the moment.

[2015-08-26 13:10] Xenopathic commented on #18575
@DeepDiver1975 What do we want to unit test? That the DB throws an error if we try to store a number that exceeds the defined precision? Or that no storage implementation should ever give an mtime greater than 32-bit signed?

[2015-08-26 13:12] PVince81 commented on #18007
From what I see it looks like avatar/certificate upload has NEVER worked in IE8 before, it couldn't, because the "jquery.iframe-transport" wasn't loaded on the page.

But that's not enough, there is another strange issue: because the input element is triggered indirectly through "click", it messes up with the iframe workaround code. According to http://stackoverflow.com/a/14886477 one needs to mak

[2015-08-26 13:18] PVince81 commented on #18007
So, making the field clickable directly now properly makes the server requests, it uploads the file !

But... the cropper doesn't appear and IE8 wants to download a weird file name. It doesn't make sense. There seems to be another problem.

[2015-08-26 13:18] DeepDiver1975 opened #18584 "[db-locking] warnings about lock aquisition within transaction"
@icewind1991 looks like there are cases where the lock is acquired within a transaction.

Please have a look! THX

This happened during unit test execution.

[code]

[2015-08-26 13:28] DeepDiver1975 commented on #18575
This sql statment is called in the file cache class - we need to ensure that valid timestamps are used.
Question is:
- where is this high number coming from?
- should we fail or default this to some meaningful value?

@PVince81

[2015-08-26 13:28] DeepDiver1975 commented on #18575
ignore - i was on the wrong track ...

[2015-08-26 13:35] karlitschek commented on #18581
@nickvergessen Can you have a look?

[2015-08-26 13:37] PVince81 commented on #18007
Okay, it looks like IE8 / the iframe uploading approach needs to return a content-type of "text/plain" even when returning JSON, this was done also for the files app upload: https://github.com/owncloud/core/blob/master/apps/files/ajax/upload.php#L37

Horrorlevel++

[2015-08-26 13:54] nickvergessen commented on #18581
It is done via a cron job. So what you need to do is make sure your cron is triggered often enough. Looking at your config, it looks like you have no cron configured, which means that oC uses Ajax cron jobs. Those are triggered after each page load, so activities will be sent once any user logs in.

I recommend changing the cron to system cron or web cron:
https://doc.owncloud.org/server/8.1/admin

[2015-08-26 13:54] #18581 closed

[2015-08-26 13:55] kalletabur commented on #18515
Is this view suitable

[code]

[2015-08-26 14:01] mschaaf commented on #18000
The keymanager returns a empty key for the users. The call I talk about is on line 141 in the encryption php file.

$this->keyManager->getFileKey($this->path, $this->user);

path and user are correct set

[2015-08-26 14:01] nickvergessen commented on #18549
Didn't happen again, will close for now.

[2015-08-26 14:01] #18549 closed

[2015-08-26 14:13] McNetic commented on #10001
Just to make sure I am not longer an obstacle in getting fixes and improvements into this feature, I just did a release (v0.7) of ZipStreamer, which fixes all known issues except of course the bugs in OSX. I think this version could be bundled with Owncloud as soon as possible.
As already pointed out in the past, there is a small API change in ZipStreamer since the last release. It should be prett

[2015-08-26 14:15] mschaaf commented on #18000
In the method getFileKey the following variables are not initialized $encryptedFileKey and $shareKey so that thew method returns an empty string. Only the private key is set $privateKey

[code]

[2015-08-26 14:38] christianrj commented on #12661
@PVince81 Yes, although not tested with current version of oC.

[2015-08-26 14:40] christianrj commented on #12659
I think this is maybe related with #12661. Hoping with a fix soon.

[2015-08-26 14:51] PVince81 commented on #18007
Fix will be too intrusive, moving to 8.1.3

[2015-08-26 14:51] mschaaf commented on #18000
This file is expected ```/admin/files_encryption/keys/files/Notes/cvbcfb#fdgd.txt/OC_DEFAULT_MODULE/fileKey``` but is not. The part  ```OC_DEFAULT_MODULE/fileKey``` is missing. If I create this structure by hand is it expected to work then?

[2015-08-26 15:01] DeepDiver1975 commented on #17877
#17948 has just been postponed to 8.0.8 -> this moves as well

[2015-08-26 15:24] PVince81 opened #18585 "Cannot upload root certs on master"
### Steps

1. Enable external storage app
1. Allow at least one backend to be mounted by users
1. Go to personal page
1. Click "Import root certificate" with a valid SSL cert
(I generated one with `openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout dummy.key -out dummy.crt` and dummy values)

### Expected result
Certificate can be uploaded

### Actual result
Cannot upload it.
Debugging th

[2015-08-26 15:25] PVince81 commented on #18007
PR is here: https://github.com/owncloud/core/pull/18586

You'll notice how many hoops we need to jump through to make this work...

[2015-08-26 15:26] mschaaf commented on #18000
Generating OC_DEFAULT_MODULE/fileKey did not solve it. What I see from the path where it expects the key file is that it it misses the owncloud data folder as a prefix. I need to look inside the view->file_exists method do see if it is added there or not.

[2015-08-26 15:33] PVince81 commented on #18519
Refresh the page, update again.
Problem solved :wink:

[2015-08-26 15:33] PVince81 commented on #18519
Duplicate of https://github.com/owncloud/core/issues/18557

[2015-08-26 15:45] oparoz commented on #18519
Nope, I refreshed many times and ended up in a loop.

So this needs to stay open until I can either reproduce or confirm it as fixed.

[2015-08-26 15:45] nickvergessen opened #18588 "Group ID can not be read from request body on OCS "remove user from group""
The following works:
[code]

Request body does not work anymore:
[code]

Causing commit is https://github.com/owncloud/core/commit/6a3fb0d3b36dce7a6583d58ded1b133f086e2a95

This causes Smashbox to fail on the `lib/oc-tests/test_shareGroup.py`

Happens on php 5.5.9 and 5.5.28

@LukasReschke @DeepDiver1975

[2015-08-26 15:46] PVince81 commented on #18519
Argh, so possible yet another bug.

Does it disappear when you clear the cache + cookies ? (to check if related to session)

[2015-08-26 15:48] oparoz commented on #18519
Since I manually upgraded using occ (or I couldn't use the instance), I can't test any more, until I need to upgrade another app.

Let me see if I can find another app to update...

[2015-08-26 15:50] PVince81 commented on #18519
You can also install a test app then manually increase its version to trigger an app update. Then make sure to delete that app afterwards :smile:

[2015-08-26 15:51] oparoz commented on #18519
Is there such a test app somewhere? If I use a normal app, then it messes up the next updates since app info is never removed from the DB.

[2015-08-26 15:57] mschaaf commented on #18000
The file_exists seems to work but the path has another error it contains after the keys part a files folder and this did not exist. It seems that the files location for the encrypted files is taken as the real path. Can please someone from the owncloud team verify this?

To summarize:
Owncloud searches for a kefile and dind't find it. The path it looks at is ```/admin/files_encryption/keys/files/N

[2015-08-26 15:59] oparoz commented on #18519
Just updated an app and got the problem you described in the other ticket. The updater wants to update the Files app.

I cleared the cache and hit ctrl+f5 and still get the empty message.

In the web console, I definitely see weird things...

* 2 oc_sessionPassphrase request cookies, with different hashes
* 2 response cookies. 1 with a hash, another saying "deleted"

[2015-08-26 16:04] oparoz commented on #18519
If I switch to PR #18574

Then I get an error message in the GUI

[2015-08-26 16:12] PVince81 commented on #18519
CC @LukasReschke

[2015-08-26 16:23] cmonteroluque commented on #11843
@MTRichards @karlitschek I'd love to catch up on this for a later release (either way, explicitly or implicitly make a decision)

[2015-08-26 16:27] MTRichards commented on #11843
Definitely worthy of a discussion, there are (as usual) preferences for people based on their use case and deployment scenario...and preferred deployment tools.

[2015-08-26 16:30] jancborchardt opened #18589 "Combine new+upload and move to sidebar"
This has several advantages:
* simplify means of creating and uploading files into one
* adjust »New« menu« to ownCloud bubble style
* have the button at the same place always
* more space for breadcrumbs on mobile

The proposed flow:
![new file menu](https://cloud.githubusercontent.com/assets/925062/9499487/1170c47a-4c20-11e5-94ae-d1546a64ac80.png)

As discussed @PVince81 @karlitschek cc @ownclou

[2015-08-26 16:32] karlitschek commented on #11843
Yes. A lot of scenarios and cases to consider. Happy to discuss.

[2015-08-26 16:46] schiessle opened #18590 "Always emit post-hook if pre-hook was emitted"
While debugging some failing unit tests (https://github.com/owncloud/core/issues/17877) I found something interesting  I never thought about before.

Let's look at the rename operation as a example:

We have one condition to check if we execute the pre hooks https://github.com/owncloud/core/blob/master/lib/private/files/view.php#L645

[code]

for the post hook we have a different check: https://gi

[2015-08-26 16:50] tohojo commented on #17586
Yup, this fixes the issue for me as well. Thanks! :)

[2015-08-26 17:04] enoch85 commented on #18589
Very neat! :+1: Could the progress bar count %, or MB maybe?

[2015-08-26 17:14] jancborchardt commented on #18589
@enoch85 maybe as a tooltip, yes.

[2015-08-26 17:31] jvillafanez commented on #18508
Checked updates to http://download.opensuse.org/repositories/isv:/ownCloud:/community:/8.1:/testing/xUbuntu_14.04/ and http://download.opensuse.org/repositories/isv:/ownCloud:/community:/8.0:/testing/xUbuntu_14.04/ both updates works fine

[2015-08-26 17:33] MorrisJobke commented on #18589
See #10326

[2015-08-26 18:39] enoch85 commented on #18589
@MorrisJobke Thanks for linking. Problem is, that WIP seems to be dead unfortunately.

[2015-08-26 19:03] #18508 closed

[2015-08-26 19:05] rperezb commented on #18508
Once the final package will be ready, the upgrade will be tested as part of the release testing

[2015-08-26 19:52] MorrisJobke commented on #18589
Sure, but could be a good starting point ;)

[2015-08-26 19:56] mbressman commented on #18571
MorrisJobke - thanks for the response.  I'm somewhat unfamiliar with GitHub, so just to be clear, you want me to try editing the 4 files with the information posted here (https://github.com/owncloud/search_lucene/pull/57/files), right?  And then after doing that, what should I do to presumably restart ownCloud, or I don't have to do anything?

Thanks!

[2015-08-26 19:58] MorrisJobke commented on #18571
Restart shouldn't be needed. It should solve your issue. If this works, you could report back :)

[2015-08-26 20:06] lupa18 commented on #17712
Here similar problem:
Ubuntu 14.04
OC 8.1
Zotero 4

[2015-08-26 20:09] timeos opened #18592 "LDAP test of configuration with invalid DN"
Hello
there is an following LDAP testing connection in place in "apps/user_ldap/ajax/testConfiguration.php":

$ldapWrapper->read($connection->getConnectionResource(), 'neverwhere', 'objectClass=*', array('dn'));

I am not very happy with it, because it produces LDAP error "invalid DN". Yes, I know that the point is not to have valid DN, but just test if connectivity to LDAP is working with provide

[2015-08-26 20:14] MorrisJobke commented on #18592
cc @blizzz

[2015-08-26 20:19] blizzz commented on #18592
This was reported here as well, https://github.com/owncloud/core/issues/18340, but I keep it open as the main issue on the other report is a different one.

[2015-08-26 20:20] blizzz commented on #18592
Setting to next maintenance release, because noisy log is annoying and we'll have more complaints.

[2015-08-26 20:27] mbressman commented on #18571
Ok, so just tried editing those 4 files, and then went back into my ownCloud via web interface and tried searching for some text that I know exists in some text files and was still getting no results found.  Any ideas?  Thanks!

[2015-08-26 20:32] MorrisJobke commented on #18571
@mbressman While in the browser: Can you press F12 (in Firefox and Chrome the web development tools should open). Click on the "Network" tab. Then enter the search term in the search box. Can you have a look at the requests, that are listed in the "Network" tab. Click on the one that showed up and maybe send a screenshot of the "reponse" tab (inside the just opened subwindow).

[2015-08-26 20:38] mbressman commented on #18571
![screenshot - f12 network tab](https://cloud.githubusercontent.com/assets/7513711/9505507/dce97ce2-4c10-11e5-85b7-8f19dfe2ad46.png)

![screenshot - f12 network tab - response tab](https://cloud.githubusercontent.com/assets/7513711/9505512/e3f5aaa6-4c10-11e5-85c1-2051eee61c82.png)

[2015-08-26 21:59] rolf303 commented on #15407
Hi Martin, I can also confirm ( a couple months later) the issue has NOT gone away. ;-)

The server installation here is on OpenSUSE 13.1
Apache/2.4.6 (Linux/SUSE)
PHP 5.4.20 (cli)
mysql 5.5.44-MariaDB

Although the upload speed to the server is quiet slow (about 200 kByte/s or less depends on client) it is still fast enough to handle with chunks of 5MB, if I calculate this right.

Therefore I pla

[2015-08-26 22:21] mbressman commented on #18571
One other thing I forgot to post (but it was part of the forum thread where I originally posted) - I was advised to try and create another user on ownCloud and see if the search_lucene worked fully with that new user, and it did, including finding text within certain file types (i.e. TXT, PDF, etc.).  So that's why I was thinking that maybe clearing whatever is considered the "search index" under

[2015-08-26 22:42] zubanst opened #18593 "Cron doesn't show cron.php was run in system cron mode"
Steps to reproduce:
-migrate owncloud 8.0.5 -> 8.1.1
-set cron to webcron
-execute https://[mysite]/cron.php; result: {"status":"success"}
-set cron to system's cron; setup cron job with:
crontab -u www-data -e
*/15  *  *  *  * php -f /var/www/owncloud/cron.php > /dev/null 2>&1
Restart cron service
Expected result:
cron.php runs correctly; admin shows sign cron was run
Actual behavior:
Admin page

[2015-08-26 23:21] zubanst commented on #18593
Additional information:
I figured out: it is linked to the APC configuration. When I enable the the APC from the configuration file with 'memcache.local' => '\OC\Memcache\APC', and execute manually the sudo -u www-data php -f /var/www/owncloud/cron.php I get the following error in the log:
Fatal 	cron 	Missing memcache class \OC\Memcache\APC for local cache
So cron.php crashes with APC enabled tho

[2015-08-26 23:27] Bobuscho commented on #18502
PVince81, thank you very much for your testing. I'll be back at home tomorrow or at Friday, so i will test it asap when i come home! Meanwhile i enabled the file locking and install redis etc, but i need some time to test it with encrypted data.

[2015-08-26 23:31] DemoFreak commented on #18568
Fiddled around a little bit with that and found out, that FolderSync don't upload files in chunks. This seems to be the main difference between desktop client an FolderSync.

**Desktop client puts files like this:**
[code]
Owncloud accepts this as follows
[code]
then the desktop client puts the second chunk
[code]
and Owncloud acknowledges
[code]

**Android FolderSync on the other hand puts files

[2015-08-26 23:36] jonnius opened #18594 "files app does'nt show files and folders for one user"
Since I have updated owncloud from 7 to 8 the files app does not show any files or folders in my admin account.  Other account are not effected by this problem. And in my account it still works to acces the shared files via the left panel. What can I do?

[2015-08-26 23:57] Xenopathic commented on #18575
Well, I tried to get a Ceph setup working with the S3 API layer, but it's not working. @SergioBertolinSG @DeepDiver1975 I'd appreciate some S3 credentials to test this, THX.

[2015-08-27 05:12] DeepDiver1975 commented on #18593
Most probably APC is not enabled for cli.
Please double check the PHP.ini

[2015-08-27 05:16] DeepDiver1975 commented on #15407
Mtime +1 day is used to cleanup the chunks. Totally unrelated.

[2015-08-27 07:20] DeepDiver1975 commented on #18542
Efford is to be discussed during the planing phase of 9.0. THX

[2015-08-27 07:23] DeepDiver1975 commented on #18141
Job of the translators. We might want to add a hint in the source code on what this string is about.

[2015-08-27 07:23] fglasena opened #18595 "Error updating owncloud 8.0.2 to 8.0.4 or higher on a QNAP"
This error was generated when I tried to update my running owncloud 8.0.2 instance to a higher version i.e. 8.0.4 or even 8.1.1. Owncloud is installed on a QNAP TS 239Pro+ with QTS 414 and PHP 5.5.26 as an App. I use contacts and calendar apps with owncloud and know that these have to be exchanged if I udate from 8.0.x to 8.1.x:

An exception occurred while executing 'ALTER TABLE oc_contacts_cards

[2015-08-27 07:26] MorrisJobke commented on #18571
Good to know :)

@butonic Can you help with the "clearing search index" question?

[2015-08-27 07:39] integras opened #18596 "Calendar sharing using LDAP groups on diskstation not working anymore after upgrade from 6.0.3 to 6.0.9.2"
I am trying to pull up a 6.0.3 installation to 8.1.x and having several isssues.

Here the first one.

After the upgrade which returned no errors I do not see part of my calendars anymore. Some investigation shows that this seems to be related to sharing calendar using LDAP groups. When sharing alternatively or in addition with direct share to user, this works. Only sharing via groups does not wor

[2015-08-27 07:41] RealRancor commented on #18595
Hi,

have a look at: https://doc.owncloud.org/server/8.0/admin_manual/maintenance/upgrade.html#troubleshooting where the needed MySQL config change is documented.

You should also find plenty of bugreports here like https://github.com/owncloud/core/issues/16008

[2015-08-27 07:42] integras commented on #18596
I forgot to mention: from the behaviour of the sync client the same problem seems to exist for files too. I have not investigated thoroughly though, so this should merely be taken as a hint. Thanks!

[2015-08-27 08:00] integras opened #18597 "index owncloud_name_groups already exists when updating from 6.0.9.2"
I am trying to pull up a 6.0.3 installation to 8.1.x and having several isssues.

Here the second issue, see #18596 for the first one.

After the 6.0.3 to 6.0.9.2 upgrade which returned no errors I tried to performe the second one from 6.0.9.2 to 7.0.8.2. During the upgrade or directly after completion (I can not tell) the following error was returned in the browser:

An exception occurred while e

[2015-08-27 08:01] MorrisJobke commented on #18141
#18598

[2015-08-27 08:03] MorrisJobke commented on #18141
@DeepDiver1975 As these are already translated for some languages, can you remove the translation of `__language_name__` for following languages:

[code]

[2015-08-27 08:39] DeepDiver1975 opened #18600 "[daily-master] internal server error on smashbox execution"
see https://ci.owncloud.org/job/smashbox-on-docker-daily-master/DOCKER_IMAGE=ubuntu_oc_lamp_redis,TEST_NAME=test_shareFile,compiler=g++,label=master,mirallBranch=v1.8.3,qt=qt4,serverVersion=daily-master,slave=SMASH/35/console

curl: (22) The requested URL returned error: 500 Internal Server Error

@nickvergessen @jmaciasportela mind taking a look? THX

[2015-08-27 08:46] fglasena commented on #18595
Thanks RealRancor. Perfect, it works. Update was ok! First of all I used phpmyadmin to set the sql command SET GLOBAL binlog_format = 'MIXED' for server localhost, then to be sure that everything is still set after reboot I changed /etc/my.cnf by inserting binlog-format=MIXED behind log-bin=mysql-bin. I hope that this will do it.

Friedrich

[2015-08-27 08:46] #18595 closed

[2015-08-27 08:51] jmaciasportela commented on #18600
Hey @DeepDiver1975 the image ubuntu-lamp-redis has not the last changes to detect if the container is ready.

I can add last enhancements to this image, and modify jenkins script to use it, but I'm traveling to Berlin just now. Tomorrow morning?

Stop the last execution, is on unfinishable loop.

[2015-08-27 08:55] butonic commented on #18571
There is still no button to clear the search index. To completely clean it you need to do two things:

1. Delete the `path/to/data/youruser/lucene_index` folder.
2. remove your users files from the `oc_lucene_status` table:
[code]

[2015-08-27 09:17] RealRancor commented on #18593
Yes, when getting this error APC is not enabled for cli: https://github.com/owncloud/core/issues/17329#issuecomment-119248944

[2015-08-27 09:47] j-ed commented on #3408
@PVince81 I've justed tested it in the following environment, but the problem still persists.

#### Server Configuration
OS: Linux 3.2.67
Web server: Apache/ 2.4.12
Database version: MySQL 5.1.73
PHP version: 5.4.42
Pure-FTPd v1.0.36
ownCloud version: 8.0.6

#### Client Configuration
Browser: Firefox 40.0.2
Operating system: Windows 7

[2015-08-27 10:22] jnweiger commented on #18222
@thomasfiala @Bullnados @lsascha @JB1985 can you please show us the output of
<pre>
ls -la /var/www/owncloud/config
</pre>
Please check, if you get the same error message, when you repeat this command:
<pre>
sudo -u www-data php /var/www/owncloud/occ maintenance:mode --off
</pre>

[2015-08-27 10:29] thomasfiala commented on #18222
I can't, I'm on shared hosting without ssh.

[2015-08-27 10:42] flop25 commented on #17712
I don't have other client avalaible
and honestly don't have much time to get into the installation of a new one...

@lupa18 Could you be more specific about what you are experiencing, like do you the same errors in zotero logs, do you have the zip uploaded but not prop neither .lastsync file etc

[2015-08-27 11:15] flop25 commented on #17712
more info:
I have disabled the two dav module from apache, then restarted and -as expected- no change
also those issues looks like https://forum.owncloud.org/viewtopic.php?f=14&t=28354&start=10#p87579
can the files of owncloud be overwritten though ftp just to be sure all files have been updated?

[2015-08-27 11:25] jnweiger commented on #18222
okay. Hard to guess what what is wrong without seeing the files....

[2015-08-27 11:36] Xenopathic opened #18601 "Sidebar filename tooltip mispositioned"
With a short filename that does not result in an ellipsis, the tooltip is mispositioned to the center of the element instead of on the text.

![screenshot_2015-08-27_12-33-37](https://cloud.githubusercontent.com/assets/2016878/9519608/f181ddf0-4cb7-11e5-81ec-975ad6832abb.png)

cc @PVince81 @jancborchardt

[2015-08-27 11:38] Xenopathic commented on #17712
@flop25 Could you send me some test credentials for your ownCloud instance, so that I can connect a Zotero locally to it to try and reproduce the problems? That seems like the only way forward... please use my email on my GitHub profile.

[2015-08-27 11:41] Xenopathic commented on #18504
Can you please post a full bug report as per @karlitschek 's request?

[2015-08-27 11:44] gig13 commented on #17640
@MorrisJobke @PVince81
ping!

[2015-08-27 11:45] Xenopathic commented on #18575
OK, so I tried with an Amazon S3 mount (via Ceph) and FTP (via @MorrisJobke's brilliant Docker image), moving two files from ownCloud root into each storage with no wait between, and both are moved successfully. Everything works as expected, no exceptions.

@SergioBertolinSG I'm going to need credentials to the S3 you are mounting. Please send them via email (or wait until we meet at the conf :smi

[2015-08-27 12:08] rolf303 commented on #15407
Well DeepDiver you're fast...
I really like to solve this.

I didn't mentioned yet I test owncloud 8.1.1 + clamav at client to server connection.

IMHO in my case it should not a timeout problem. As I can see there arrive a few chunk parts (2 or 3) before the 1 minute timeout was reached (and mysql.allow_persistent=On). And the
physical cable connection should be fine and stable (nothing logged in

[2015-08-27 12:26] Xenopathic commented on #17712
@flop25 Do you use mod_pagespeed for Apache? It's been known to break ownCloud: #416. Please disable that module for the ownCloud instance.

[2015-08-27 12:42] flop25 commented on #17712
no mod_pagespeed found or any reference to its options etc

[2015-08-27 12:47] Xenopathic commented on #17712
@flop25 From the link you sent me, I see all the CSS and JS concatenated into the HTML, which indicates mod_pagespeed. You have to disable that.

[2015-08-27 12:55] flop25 commented on #17712
?
I don't know what you mean by "concatenated into the HTML" What I see is now minification, no combination of the js/css ; they all called from source one by one
<script src="/foo_cloud/apps/files/js/files.js?v=4e1c52f5bf49365ffcca6f18ad0c2c2f"></script>
					<script src="/foo_cloud/apps/files/js/navigation.js?v=4e1c52f5bf49365ffcca6f18ad0c2c2f"></script>
					<script src="/foo_cloud/apps/files/j

[2015-08-27 13:07] flop25 commented on #17712
grep'ed 'speed' by ignoring case in etc/httpd and found only libphp5.so and libphp5-zts.so So i really think it's not enabled

[2015-08-27 13:08] Xenopathic commented on #17712
@flop25 This is what I see on the login page: https://gist.github.com/Xenopathic/cb5731c230bd82c49bcc

As a result, the Log In button does not work (as JS is FUBARed).

[2015-08-27 13:10] flop25 commented on #17712
that's not what I have
please remove that ; I don't want to see paths here

[2015-08-27 13:15] flop25 commented on #17712
disabled cloudflare, maybe you could try again

[2015-08-27 13:35] Xenopathic commented on #17712
@flop25 Right, I've just reproduced the error with your server. The ZIP is correctly uploaded, but no .prop files are, and the Zotero client is reporting an HTTP 400 error.

[2015-08-27 13:39] flop25 commented on #17712
ok logic is back again ^^
thank you for your work

at least now you can capture your own packets

[2015-08-27 14:04] witchi opened #18603 "Very slow user management"
We have a lot of users (250+) and if you open the user management screen you have to wait few minutes to complete the request. Please order the users by name in different tabs, so you have only to load the users for one tab in a request, it will increase the usability of the tool.

Thanks
Andre

[2015-08-27 14:21] Xenopathic commented on #17712
So, Zotero tries to send the prop files with the `application/x-www-form-urlencoded` content type, which ownCloud handles specially and attempts to decode it. This seems to break the WebDAV PUT.

I've got a reproducable test with `netcat` now, to eliminate Zotero from the equation. Investigating.

[2015-08-27 14:23] flop25 commented on #17712
\o/ THx!

[2015-08-27 14:23] Xenopathic commented on #17712
Yet that same test file works just fine on my `master` development environment...

[2015-08-27 14:40] Samarian78 opened #18604 "Class 'Pimple\\Container' not found (when multi installs)"
As advised here:  https://forum.owncloud.org/viewtopic.php?f=31&t=30097

### Steps to reproduce
1. Install owncloud in two completely separate locations (separate databases and datafiles)  - hereon referred to as an 'Instance', using the setup-owncloud.php script.
2. Restart the apache2 service
3. Try and access each of the instances

### Expected behaviour
Both instances should be accessible

###

[2015-08-27 14:43] DeepDiver1975 commented on #18603
Which OC Version?

[2015-08-27 14:44] Xenopathic commented on #17712
And it just worked on 8.1.1 as well... I think there's something different in your environment. Perhaps Apache or PHP is attempting to decode the data when the content type is application/x-www-form-urlencoded, so ownCloud cannot read it directly?

[2015-08-27 14:45] witchi commented on #18603
8.1.0

[2015-08-27 14:47] Xenopathic commented on #18604
You need to add the relevant directories to `open_basedir` in `php.ini`

[2015-08-27 14:52] DeepDiver1975 commented on #15407
We do not reconnect to the DB and as a result the upload is broken.a possible solution to use ping() - but this was not yet implemented up to now.

Contributions are welcome ...

[2015-08-27 14:53] flop25 commented on #17712
@mhl66 mentioned that's working using the inbuild synology ( #issuecomment-122659823)

it's happening apiori on centos and ubuntu too... Don't you soemone in the team with a similar setup (no nginx you have)

https://forums.zotero.org/discussion/51067/zotero-stopped-syncing-attached-files-via-webdav-after-owncloud-has-been-upgraded-from-v8-to-81/ -> maybe you can suggest to change the content type

[2015-08-27 15:01] Samarian78 commented on #18604
That's fair enough I can do that or disable the open_basedir all together.
I'm still baffled by though.  Any ideas as to why the error only occurs with more than one instance of owncloud?

[2015-08-27 15:11] witchi commented on #18603
As tab I mean a letter of the alphabet or a digit, so you could have i.e. 26 tabs (some tabs could contain a range like x-z) plus 10 tabs for every digit.

[2015-08-27 15:19] MorrisJobke commented on #18603
UX -> @jancborchardt

[2015-08-27 15:50] jancborchardt commented on #18603
Well – lazy loading is the solution to this.

[2015-08-27 16:07] rolf303 commented on #15407
I don't think a plain ping or reconnect to the database is a best solution, because it will not cover the fact the input speed could drop down and otherwise after starting a transfer. In drop down case a wait_timeout may happen before the first bytes arrive in php. You can not do anything. What I would prefer is a kind of dynamic input calculation (non static OWNCLOUD_CHUNK_SIZE) depends on curren

[2015-08-27 17:05] KaputteLeuchte commented on #14831
Hi, I get the same error on upgrading vom 8.0.0.7 to 8.1.1. If i look at the database permissions I get the following result:

GRANT USAGE ON *.* TO ...

So I should have all rights, or am I wrong? Could there be another configuration on the database side?

[2015-08-27 17:06] gnohp opened #18607 "Unable to Update Private Key in 8.1.1 with LDAP"
### Steps to reproduce
1. Start with 8.0.4
2. Configure LDAP app to allow users to login using sAMAccountName and identifier to be objectGUID
3. Enable encryption
4. Log in with AD user
5. Change user password
6. Log out
7. Upgrade to 8.1.1
8. Enable encryption app
9. Execute occ encryption:migrate
10. Log in to ownCloud
11. Go to Name > Personal
12. Type old password in the Old Password textbox
1

[2015-08-27 17:16] karlitschek commented on #18607
@schiesbn can you have a look please?

[2015-08-27 17:29] Xenopathic commented on #17712
Finally reproducable on my own hardware! (On a Docker image of Ubuntu 14.04). That was with a completely stock installation, so there's something going wrong right down at the PHP level...

[2015-08-27 17:42] rawbertp commented on #18214
As written [here](https://github.com/owncloud/client/issues/3530#issuecomment-135403904) I'm having the same issue. Apart from "random" up-/downloads I noticed that a) the whole folder gets uploaded if only one of the files gets changed (the "etag" in the database changes as well) and b) the same file gets downloaded again (as a result e.g. the Mac text editor complaints that someone else has chan

[2015-08-27 17:55] zubanst commented on #18593
Yes, apc.enable_cli=1 was missing from /etc/php5/cli/php.ini
Thank you guys. it was not clear for me if this was required for my older configuration with APC too, or only with the newer APCu.

[2015-08-27 17:55] #18593 closed

[2015-08-27 18:35] DeepDiver1975 commented on #18603
from my understanding there is already a report about this issue somewhere -> closing. THX

[2015-08-27 18:35] #18603 closed

[2015-08-27 18:37] #18604 closed

[2015-08-27 18:37] DeepDiver1975 commented on #18604
most probably some side effects .... closing since the fix seems obvious

[2015-08-27 18:57] mbressman commented on #18571
Will definitely give this a try and report back.  Also, should I leave the changes I made to those 4 files, or revert them back?  Thanks!

[2015-08-27 19:42] floweh commented on #17844
Now after the update there is a new error:
`Could not get application: SSL CA bundle not found: /var/www/virtual/whnr/vectoapp/owncloud/config/ca-bundle.crt`

[2015-08-27 19:46] Xenopathic commented on #17712
OK, *that's* an obsure bug.

So, PHP <5.6 had a bug on certain SAPIs (including mod_php it seems) where `php://input` can only be read once. (http://php.net/manual/en/wrappers.php.php):

That in itself isn't a significant problem, however ownCloud's Request class reads the contents of `php://input` and attempts to decode it if the content type is `application/json` or `application/x-www-form-urlen

[2015-08-27 19:49] flop25 commented on #17712
owww! You dug sooo far... and you succeed !

[2015-08-27 20:47] integras commented on #18596
Further investigation shows that this is limited to Calendars, files are shared properly via LDAP groups. Please disregard my last comment.

[2015-08-27 21:25] #15527 closed

[2015-08-27 21:29] jancborchardt opened #18616 "Right sidebar doesn’t show correct icon for shared/public folders"
@PVince81 as I mentioned. Only the regular folder icon is shown. But it should be the same as in the file list.

[2015-08-27 21:30] jancborchardt opened #18617 "Special folder icons also for starred folders"
With the new filetype icons, I also added a folder icon for `icon-starred` we should use that for starred folders.

@owncloud/designers @PVince81 @blizzz

[2015-08-27 21:32] jancborchardt opened #18618 "Width of Files controls bar too small"
@Pvince81 @owncloud/designers @MorrisJobke since some time the controls bar in Files does not take the full width anymore. Any idea about this?

[2015-08-27 21:53] MorrisJobke opened #18619 "IE8 issues with new design"
![bildschirmfoto von 2015-08-27 23-51-17](https://cloud.githubusercontent.com/assets/245432/9534103/a954d2f8-4d16-11e5-8c85-9791eebafe7d.png)
![bildschirmfoto von 2015-08-27 23-50-59](https://cloud.githubusercontent.com/assets/245432/9534106/aa78e624-4d16-11e5-8566-b4a484a67320.png)

@jancborchardt ;)

[2015-08-27 22:22] RealRancor commented on #17844
@floweh Yes, thats a known issue of the updater app.

[2015-08-27 22:41] jancborchardt commented on #18619
@MorrisJobke yeah, the filetype icons I also noticed – I need to export them properly in 48px. Will do on Sunday or so when I have more time.

[2015-08-27 22:44] jancborchardt commented on #18619
For the log in screen
* So background-size doesn’t work. I would suggest to remove the text in the actual logo. This will also directly solve it in the installation and password protect page.
* Where’s the button?
* For the width maybe we need an .ie8 specific fix CSS line?

[2015-08-27 22:54] aspdye commented on #18619
The IE 8 is not longer integrated in an modern OS that is supported in Mainstream Support. Vista, 7, 8, 8.1, 10 have at least IE 9, 10, 11 or EDGE. XP is not longer supported. And Vista SP 1 users still having IE 8 should update asap. Users without the newest service packs and updates are not supported by Microsoft this time (Vista)

However, IE 8 is supported in Vista SP 1 until 01/2016.

IE 8 do

[2015-08-28 06:39] MorrisJobke commented on #18619
We should and we will: #15567 ;)

[2015-08-28 06:49] RealRancor commented on #18594
Hi,

the first step would be to fill out the issue template provided here:

https://raw.github.com/owncloud/core/master/issue_template.md

as aske in the "Guidelines for contributing" (linked in the yellow box when creating a new issue).

[2015-08-28 09:40] hoorna commented on #18497
Hello,

As you suggested, last sunday I placed a message in the
developers-mailinglist with the title "OCC-command "flies:cleanup" not
working as expected". Until now I did not received any reaction exept a
conformation mail (see attachment). Please can you help me what to do
now?

Many thanks for your reply!

------ Origineel bericht ------
Van: "RealRancor" <notifications@github.com>
Aan: "owncl

[2015-08-28 10:05] PVince81 commented on #18617
What's priority for the icon ?

Which of of these should win if applied at the same time:
- shared
- external storage
- starred

[2015-08-28 10:05] PVince81 commented on #18618
Yeah, I noticed this too. Will have a look.

[2015-08-28 10:05] jancborchardt commented on #18617
I’d say in that order that you listed, shared is at the top.

[2015-08-28 10:10] nickvergessen commented on #14663
Factory interface is being added in https://github.com/owncloud/core/pull/18620

[2015-08-28 10:12] PVince81 commented on #18618
It's because the app-sidebar's width is substracted from the width even when it's hidden.

[2015-08-28 10:14] flotho commented on #18593
:+1:

[2015-08-28 10:16] #18383 closed

[2015-08-28 10:19] jancborchardt opened #18622 "Language codes in chooser, and sorted before proper languages"
![language chooser](https://cloud.githubusercontent.com/assets/925062/9544189/cf7a44a0-4d7e-11e5-8328-0b6e0953ff0d.png)

These valid languages should be sorted before the ones with the weird language codes. Also, we should fix the language codes being shown only before the release.

@MorrisJobke @DeepDiver1975 @owncloud/designers

[2015-08-28 10:22] RealRancor commented on #18497
Hi,

if you haven't subscribed to the mailinglist you need to wait until a moderator is accepting your post.

[2015-08-28 10:44] jancborchardt commented on #18291
Last item superseded by https://github.com/owncloud/core/issues/18601

[2015-08-28 10:44] #18291 closed

[2015-08-28 10:45] jancborchardt commented on #18601
Needs to be fixed by setting display:inline-block and adjusting the layout.

[2015-08-28 10:48] Bobuscho commented on #18502
I've enabled encryption and tried to sync a new folder with my 1Password files. The admin page states that file locking is enabled, redis is running fine. Sync still fails with output:

 	Exception: {"Message":"Could not obtain lock type 1 on \"\/srv\/www\/oc-data\/mfinkeldey\/files\/1Passwordtest\/1Password.agilekeychain\/data\/default\/F55968AF9960452180AC7017E8A7D019.1password.ocTransferId69355

[2015-08-28 11:20] hoorna commented on #18497
Thanks for your quick reply. I few moments ago I subscribed to the mailinglist and sent my question to this. And now I have to wait. ;-)
Thanks again.

[2015-08-28 11:55] #18618 closed

[2015-08-28 12:16] PVince81 commented on #18502
@icewind1991 @schiesbn looks like a double-locking issue ?

[2015-08-28 12:38] PVince81 commented on #18192
@LukasReschke I see this code from you, it seems to already forbid downgrades ?
See https://github.com/owncloud/core/blob/v8.1.1/lib/private/updater.php#L224

However this method hasn't been adapted for the new version scheme where 8.1->8.2 is a major version.

I'll fix this and cover both cases.

[2015-08-28 12:43] PVince81 commented on #18192
Fix here https://github.com/owncloud/core/pull/18625

[2015-08-28 13:26] JT1301 commented on #18267
@icewind1991 @PVince81 Any Idea?

[2015-08-28 13:49] nickvergessen commented on #18622
@jancborchardt you mean languages without `_` before those with?

[2015-08-28 13:54] PVince81 commented on #18607
Fix is here https://github.com/owncloud/core/pull/18556

[2015-08-28 13:58] PVince81 commented on #18597
Strange thing, I cannot find this table when enabling LDAP. Maybe it's an old table that has been removed ?

@blizzz can you clarify ?

[2015-08-28 13:59] nickvergessen opened #18626 "Disabling Files_Sharing app breaks ownCloud"
[code]

If disabling is not allowed, we should take care that people can not disable it. But relying on it and allowing to disable it won't work too well :wink:

@DeepDiver1975 I guess the OCS stuff should be moved to the route file of the app?

[2015-08-28 14:00] nickvergessen commented on #18626
@rperezb something for the QA team, disable all apps and see if oC still works ;)

[2015-08-28 14:16] jonnius commented on #18594
Sorry, here it comes:

### Steps to reproduce
1. Upgrade from oc 7 to 8.1.1.3
2. Login in with your admin user using Firefox (does not happen with chromium, but even with e)

### Expected behaviour
My files and folders should be shown.

### Actual behaviour
No files are shown in root directory, but it is still possible to access Shared files via left panel. Other users are not effected.

### Serve

[2015-08-28 14:19] jancborchardt opened #18627 "»a few seconds ago« should be simplified to »seconds ago«"
This is also how it used to be. »seconds ago« is much more concise and doesn’t cause as much overflow, especially with translations. cc @MorrisJobke @owncloud/designers

[2015-08-28 14:34] RealRancor commented on #18594
@jonnius Thanks, now it contains enough infos.

Try to disable this app, either via occ command line or your app management. There the App is called "Picutres". This one is known to cause such issues, is deprecated and is AFAIK removed soon.

[2015-08-28 14:37] davitol opened #18628 "[Login screen] Login Arrow should be located in the same box in both OC server versions"
Login arrow appears next to Password textbox in community version

![captura de pantalla 2015-08-28 a las 16 09 14](https://cloud.githubusercontent.com/assets/10596560/9548774/b2c79c30-4da2-11e5-8ef7-2d6b1c5f4afb.png)

"version":"8.2.0.4","versionstring":"8.2 pre alpha","edition":""

Login arrow appears next to username textbox in EE version

![captura de pantalla 2015-08-28 a las 16 06 15](https:

[2015-08-28 14:38] PVince81 commented on #18627
Ah yes, we might need to change/redefine the matching string from the momentjs library.

[2015-08-28 14:47] davitol opened #18629 "[Login screen] Login arrow should be located in the same place, regardless the browser"
Chrome (ouside)
![chromelog](https://cloud.githubusercontent.com/assets/10596560/9549094/7ebbe494-4da4-11e5-9209-9b657dea4e38.png)

Firefox (inside)

![mozillalog](https://cloud.githubusercontent.com/assets/10596560/9549099/83dd724e-4da4-11e5-962c-4e3e5f8d30ec.png)

"version":"8.2.0.4","versionstring":"8.2 pre alpha","edition":"Enterprise"

[2015-08-28 15:15] jancborchardt commented on #18622
@nickvergessen yep – but there’s also language codes without underscores as you see from the screenshot.

[2015-08-28 15:35] nickvergessen commented on #18622
The screenshot displayes the language name, language code is different: code=de_DE is name="Deutsch (Sie)"

[2015-08-28 15:40] MTRichards commented on #14446
How would you want this to appear in the default files view?
We may not actually know if a download has been successful, just that the bytes have left the server - we don't know if they arrived at the client or if the file was assembled, and there are two code paths - webdav (clients and mobile apps) and web.
What count do you want here? Do you count your own downloads, or only shared downloads? W

[2015-08-28 15:42] jonnius commented on #18594
That solved the problem. Thanks!

[2015-08-28 15:42] #18594 closed

[2015-08-28 15:43] MorrisJobke commented on #18622
Kind of duplicate of #18141

[2015-08-28 15:48] GreatEmerald commented on #14446
My thinking was that if the file is shared via link, it would tell you how many times the link was accessed. I think that's a pretty straight-forward way of counting it.

[2015-08-28 15:49] rullzer commented on #18476
See #18631

[2015-08-28 16:22] jancborchardt opened #18633 "Thumbnail of shared file not updated on change"
1. Upload a picture
2. Share it with someone
3. Other person edits file
4. You still see the initial thumbnail image, even in the detail view

@oparoz @georgehrke

[2015-08-28 16:23] davitol opened #18634 "[Login window] Password textbox becomes smaller when writing down the password using IE9 as browser"
![reduccion](https://cloud.githubusercontent.com/assets/10596560/9551432/701c8300-4db1-11e5-87df-dacab47e94be.png)

OC server version: "8.2.0.4","versionstring":"8.2 pre alpha"
Browser: Internet Explorer 9

[2015-08-28 16:39] #18622 closed

[2015-08-28 17:04] gnohp opened #18637 "Javascript Exception in Encryption Namespace"
### Steps to reproduce
1. Enable encryption in ownCloud 8.1.1
2. Log into ownCloud with a user who requires an updated private key
3. Open the browsers Development tool
4. Click Name > Personal

### Expected behaviour
Notification banner appears on Personal view

### Actual behaviour
No banner appears. Exception thrown "Uncaught TypeError: OC.Encryption.displayEncryptionWarning is not a function"

[2015-08-28 17:08] gnohp commented on #18637
Found Issue #15713

[2015-08-28 17:08] #18637 closed

[2015-08-28 17:27] rullzer commented on #18117
Yeah filtering is not going to work in the current situation. Only if the user and group managers search function would allow passing a list of id's to filter out.

The reason to have to filtering was to limit the number of requests to the server. But I'm wondering how many shares of an item there are in practise on average.

[2015-08-28 17:28] Bobuscho commented on #18502
PVince81, i am not sure. I disabled the external storage app and the error disappears and the files sync without any problems, even if encryption and locking is enabled. Maybe the external storage app causes the problem?

[2015-08-28 17:54] raghunayyar commented on #18629
I see it uniform across my chrome / firefox as well as safari. Can you mention the version you are talking about? Thx @davitol

[2015-08-28 18:02] jancborchardt commented on #18141
![language chooser](https://cloud.githubusercontent.com/assets/925062/9544189/cf7a44a0-4d7e-11e5-8328-0b6e0953ff0d.png)

These valid languages should be sorted before the ones with the weird language codes. Also, we should fix the language codes being shown only before the release.

[2015-08-28 18:06] #18141 closed

[2015-08-28 18:27] MorrisJobke commented on #15850
Solution is an upgrade to 8.1 see https://github.com/owncloud/core/pull/17051#issuecomment-113580990

[2015-08-28 18:27] #15850 closed

[2015-08-28 18:43] tessus commented on #13386
I also want to mention that all GUI file managers (which are worth anything) can switch the units.

Also, nobody uses the 10-based system in IT. Page sizes (databases, SSD), sector sizes (HD), cluster sizes (RAID), extent size (databases), filesystems (jfs, ext4, xfs, ...) - all of them use the binary unit sizes.

[2015-08-28 18:50] fuller42 commented on #16450
This means i have to wait for a new user to login before i can put him in groups (with shares) or otherwise he wont get the skeleton contents.

[2015-08-28 18:51] tessus commented on #13386
also, there are some arguments which are just wrong:

700 MB + 700 MB = 1.4 GB is always 1.4 GB no matter the base. in the discussion above people acted as if this were not the case.

the comparison with feet and meters is also wrong. a foot has 12 inch. so 5.7 feet is not the same as 5' 7''. changing the unit changes the value, but not the representation.

[2015-08-28 18:53] raghunayyar commented on #7826
@jancborchardt this is to be implemented on desktop and mobiles or mobiles only? I can take care of this.

[2015-08-28 18:59] tessus commented on #13386
@ogoffart I'm happy to discuss this per phone or per email. or in this thread. but I really think that a 1000 based size unit is wrong for a server SW.

[2015-08-28 19:03] jancborchardt commented on #7826
Mobile only I would say. And I’m not entirely sure if we need it yet. Maybe check out some issues in 8.2 or so first. :)

[2015-08-28 19:04] jancborchardt commented on #18137
We fixed this by getting rid of the border altogether.

[2015-08-28 19:04] #18137 closed

[2015-08-28 19:26] tessus commented on #13386
@ogoffart the only place where people used to use the 10-based numbers is for media sizes (HD, SSD, DVD, ...)
That's why the confusion came out in the first place. Vendors wanted to make money, so they sold a 250GB hard disk, which was actually only 232GB (now we use 232GiB). Then they told people that 1 GB = 1,000,000,000,000 bytes and then the mess started. Another problem was that in the 70s th

[2015-08-28 19:52] mbressman commented on #18571
OK, so I ran the SQL query you provided via phpmyadmin, and it actually completely emptied the oc_lucene_status table (but I'm assuming this is correct since I am the only user on the ownCloud, so all of those files in that table would most likely be for my user account, right?), and then I deleted all files within my user account's lucene_index folder.  I also reverted the 4 changed files back to

[2015-08-28 20:13] mazate opened #18643 "Unable to setup some apps getting cURL error 60: SSL certificate problem: unable to get local issuer certificate"
I'm getting this error when trying to setup calendar and contacts apps:

cURL error 60: SSL certificate problem: unable to get local issuer certificate

I would love to know what is causing this since it seems to have followed me from a different hosting provider.  I changed providers just to get around this and here it is again...  Thanks for the assistance.

[2015-08-28 20:15] mazate commented on #18643
P.S. I was getting this error even before installing the SSL.

[2015-08-28 20:27] ogoffart commented on #13386
700 MiB + 700MiB = 2 * 734003200 = 1468006400 = 1.367 GiB

That's not true.  I have a 8GB of ram memory, that's 8061596 bytes according to `free`  -> base 1000.  (it would be or 7.68 GiB)
I have a 128 GB SSD,  that's 128034627584 bytes according to cfdisk  ->  base 1000  (or it yould be 119 GiB)
An ADSL line that is 50Mbits/s -> base 1000.

Almost everything is in base 1000. There are certain impl

[2015-08-28 20:41] nickvergessen commented on #18588
Also breaks the files_texteditor

[2015-08-28 20:43] nickvergessen commented on #16450
Or you name your share different to the skeleton ;)

[2015-08-28 21:09] tessus commented on #13386
Yep, I made a mistake there.

Hmm, my free shows 8176704 bytes. In any case, shouldn't free show 8000000 bytes, if it was base 1000?

What about fdisk? What about df? e.g. df on AIX shows 512 byte blocks by default. Linux shows 1024 byte blocks.

Yes, the M and G in LAN speeds are base 1000. But note the bit. Yet again, you do not have a base 10 there. It's base 8, if you want the value in bytes.

[2015-08-28 21:16] jkalousek opened #18644 "OwnCloud stops responding randomly"
I'm running clean ownCloud 8.1.1 (without apps) on Virtual machine (VirtualBox) with Ubuntu 14.04.3 LTS.
Apache/2.4.7, PHP 5.5.9-1ubuntu4.11 (cli), mysql Ver 14.14 Distrib 5.5.44.

Config:
[code]
I'm having trouble with OwnCloud since I first installed it (version 8.1) and can't figure out what causing the problem.
Simply OwnCloud stops responding (CONNECTION TIMED OUT) in totally random (as far a