[2016-01-08 17:04] LukasReschke opened #21556 "" This app has no minimum ownCloud version assigned. This will be an error in ownCloud 11 and later." shown for all appstore apps"
This makes the appstore entries look somewhat strange, some of these apps have certainly
![2016-01-08_18-03-33](https://cloud.githubusercontent.com/assets/878997/12204022/25f4cea6-b632-11e5-828e-ed8e27605b07.png)

Added with https://github.com/owncloud/core/pull/21506 by @nickvergessen

[2016-01-08 17:05] LukasReschke commented on #21556
Probably we just need to parse the appstore response. Let me see.

[2016-01-08 17:07] oparoz commented on #21485
I suspect that people affected by the general issue don't have the EXIF extension installed... but @MorrisJobke's 2nd use case is probably a different issue :cry:

[2016-01-08 17:19] #21511 closed

[2016-01-08 17:28] jancborchardt commented on #13386
As @ogoffart says … case closed folks.

Please consider what implementing an option for this entails: a setting useful for only a very very small minority, something which keeps attention from the really important settings when you need to crawl through it, and something we need to maintain. I think the devs explained enough why it's not a good idea. And if someone really feels that super strongly

[2016-01-08 17:28] PVince81 opened #21558 "Provide files_external:export command that strips irrelevant info"
On master, run `sudo -uwwwrun ./occ files_external:list --output=json --show-password`.

It outputs the config, but the config also contains the mount id, which is not suitable for importing with the import command.

I suggest to provide a separate "files_external:export" command that provides a JSON output that is suitable for importing. This means that it has to strip the "mount_id" and also aut

[2016-01-08 17:30] PVince81 commented on #20835
Fix is here https://github.com/owncloud/core/issues/21517

[2016-01-08 17:33] carlaschroder commented on #12215
@PVince81 @MorrisJobke It would be fabulous if someone could send me some screenshots.

[2016-01-08 17:48] oparoz commented on #21485
@massa007 Check if the extension is really installed since it seems to fail from the start for you.
For the other reporters, the extension has to have been installed since it works the first time a preview is loaded

[2016-01-08 18:02] karlitschek commented on #21555
This is super weird. @rullzer @PVince81 any idea?

[2016-01-08 18:14] dbenz04 commented on #21555
Thanks for looking into this. I also verified that adding the show avatar photo=false in the config.php does not solve the problem since OwnCloud is still syncing the photos, it is just not showing them.

I also tried removing a user's photo from AD - that made the Android OwnCloud client work for that user.

[2016-01-08 18:27] LukasReschke commented on #21556
@nickvergessen We have two choices here:

1. Adjust the appstore to make it return the min- and max-version. I don't see it in the return of https://api.owncloud.com/v1/content/data?version=8x2x0x0&categories=922&approved=all
2. Do just assume apps from the appstore are compatible. This seems likely as you explicitly need to mark the version there.

My call there is for 2, objections?

[2016-01-08 18:45] rullzer commented on #21555
This is very weird indeed.

@blizzz as ldap expert... can you reproduce this behaviour?

[2016-01-08 18:45] rullzer commented on #21555
@dbenz04 does your ownCloud log tell you anything?

[2016-01-08 19:08] enoch85 opened #21559 "occ is broken, can't install ownCloud via command line"
### Steps to reproduce
1. Run [this](https://github.com/enoch85/ownCloud-VM/blob/master/beta/owncloud_install.sh#L122) command.

### Expected behavior
ownCloud should be installed accrording to [this](https://doc.owncloud.org/server/8.2/admin_manual/configuration_server/occ_command.html#command-line-installation) documentation.

### Actual behaviour
ownCloud is not installed.

### Server
Ubuntu Se

[2016-01-08 19:09] #21486 closed

[2016-01-08 19:11] #20817 closed

[2016-01-08 19:29] DeepDiver1975 commented on #21559
Anything in the logs? in the console?

Which oc version?

[2016-01-08 19:37] karlitschek commented on #21556
No objections. At the moment the logic is done on the app store side so only compatible apps are returned to the owncloud server.

[2016-01-08 19:40] massa007 commented on #21485
I checked with the phpinfo site. Can you tell me how to really check it?

[2016-01-08 19:43] enoch85 commented on #21559
@DeepDiver1975 I'm trying to install ownCloud 8.2.2 on a clean system. Please check the script for more info. You can also download the image here: https://en0ch.se/index.php/s/sSgONMrtyDVXIix (user: ocadmin, pass: owncloud)

I checked the logs, and there is nothing.

Here are the folder structure and permissions:
[code]

It seems like config.php is created though:
[code]

[2016-01-08 19:44] dbenz04 commented on #21555
Nope. I looked through the owncloud log and the apache log.

[2016-01-08 19:50] nickvergessen commented on #19152
Ita ready since early november

[2016-01-08 19:54] nickvergessen commented on #21556
Woops, makes sense

[2016-01-08 20:12] oparoz commented on #21485
Hmmm... The only proper way would be through a test script. I'm sure someone has written one which list the metadata.

[2016-01-08 20:25] evert commented on #21550
@DeepDiver1975 I haven't tested it personally in a while, but the fact that only `principal-URL` is requested and not `current-user-principal` tells me that you are probably right. So which mode did you use? 'Manual' or 'Advanced'. This behavior makes sense to me for 'Advanced', but not 'Manual'.

In order news, I'm glad `418 I'm a Teapot` has started to crop up!

[2016-01-08 20:37] #15253 closed

[2016-01-08 20:44] MorrisJobke commented on #21550
I used the Advanced mode.

[2016-01-08 20:47] evert commented on #21550
Ok well in 'advanced' I would definitely _want_ iCal to _not_ do any sort of auto discovery. It's sort of the point, as it also allows you to setup alternative principals using the same credentials.

For instance, I can give you access to my principal using calendar delegation, and then you could setup my principal in your iCal using your password and my principal url. Auto discovery would defeat

[2016-01-08 20:50] gig13 opened #21561 "Password reset is not sending emails"
### Steps to reproduce
1. When a wrong password is submitted, click on the "Wrong password, reset it?"
2.
3.

### Expected behaviour
When the user clicks the rest link, an email should be sent.

### Actual behavior
When clicking "Wrong password, reset it?" the following error (Couldn't
send reset email. Please make sure your username is correct.) is shown
and no email is sent.

### Server configur

[2016-01-08 20:52] gig13 commented on #21561
On s3 at https://s3.owncloud.com/owncloud/index.php/apps/files?dir=%2FShared%2Fowncloud%2Fsupport%2Fgithub-issues%2Fcore%2F21561

report config
config.php
OC log snippet showing LDAPS errors

[2016-01-08 20:52] MorrisJobke commented on #21550
It says "Can't check username/password":

<img width="398" alt="bildschirmfoto 2016-01-08 um 21 52 18" src="https://cloud.githubusercontent.com/assets/245432/12209257/1eeee266-b652-11e5-8067-222fa9b396d9.png">

[2016-01-08 20:54] evert commented on #21550
localhost/master doesn't look like a correct address. Do you know what request iCal tries when you filled in that url? What's running on http://localhost/master ?

[2016-01-08 20:55] evert commented on #21550
Doesn't look like a typical owncloud endpoint. Or is this something new?

[2016-01-08 20:55] MorrisJobke commented on #21550
It tries SSL only and the .well-known URL is looked up only in the root and not in a subfolder. It then also tries to guess the URLs (but we have remote.php/dav/ in there)

`/master` is the subfolder of my owncloud installation (this holds also the htaccess file with the .well-known redirects)

[2016-01-08 20:57] MorrisJobke commented on #21550
https://github.com/owncloud/core/blob/master/.htaccess#L41

[2016-01-08 20:57] MorrisJobke commented on #21561
Is an email address set up for this user?

[2016-01-08 20:58] evert commented on #21550
Ah yea that makes sense then... well-known is undefined for subfolders. The whole point of well-known is that it's in a predictable location. Putting it in a subfolder makes no sense.

[2016-01-08 20:58] gig13 commented on #21561
Yes, since share links work

[2016-01-08 21:02] RealRancor commented on #21550
Exactly, that was my point above:

See also https://github.com/owncloud/core/issues/20012

[2016-01-08 21:02] MorrisJobke commented on #21550
Then all is fine - > nothing to see here. Closing this ticket

[2016-01-08 21:02] #21550 closed

[2016-01-08 21:04] evert commented on #21550
Yea just to clarify, I would expect manual to still work if you specify a path to the actual dav server, like the dav server root. That at least worked before. I would however never expect the path you specified to work. There's simply no information to figure out where to go to from there...

[2016-01-08 21:05] MorrisJobke commented on #20012
Is this something for the setup checks in the admin page? Should be easy to check.

cc @LukasReschke

[2016-01-08 21:08] RealRancor commented on #21550
Another ref for the bug in El Capitan: https://github.com/owncloud/contacts/issues/1058

[2016-01-08 21:18] Xenopathic commented on #21559
You *have* to `cd` into the root directory before running `occ`, hence the load file errors. It's a limitation of the `occ` command that's been around for a while, but no obvious solution in sight...

[2016-01-08 21:29] enoch85 commented on #21559
@Xenopathic Oh, thanks! Will try it tomorrow. Will update you for sure.

[2016-01-08 21:40] MorrisJobke commented on #21561
Ah okay. I just want to be super save. Not that we will try to debug quite hard and then have overseen such an easy problem.

[2016-01-08 21:40] mfleonhardt opened #21563 "POST operation to /index.php/settings/users/users results in 403 ONLY when sending email to new user."
### Steps to reproduce
1. Navitage to Users page
2. Expand cog and check "Send email to new user"
3. Fill out username, password, email, and groups
4. Click "Create"

### Expected behaviour
1. User account should be created
2. User should receive a new user email
3. GUI should notify admin of successful operation
4. owncloud.log should record user creation (?)

### Actual behaviour
1. User account

[2016-01-08 21:54] AnrDaemon commented on #11707
@MTRichards , I think we're leaning to discuss apples and oranges.
Nobody question the necessity of the installation defaults.
What I'm saying is that the installation defaults shouldn't have a final say in each instance of the application.
The administrator of an instance must be able to set defaults of an object to suit the workflow of their organization, which will save their users time and eff

[2016-01-08 21:56] enoch85 commented on #21559
@Xenopathic Couldn't wait. ;) You solution solved it. Will update the docs. Thanks!

[2016-01-08 21:56] #21559 closed

[2016-01-08 22:02] blizzz commented on #21555
Woah… I don't have an SMB at hand so I was trying to reproduce it as local. Already the web interface tells me (as LDAP user) that there is an issue with that mount and it cannot be access, 403 would be retrieved (although all the ajax results are good and don't differ as if requested with a local user).  If I enter the folder by manipulating the URL, I see and can interact with the config. Alread

[2016-01-08 22:04] MTRichards commented on #11707
Sure, I understand - I needed to clarify the defaults, which I did.

As for the issue of defaults, and being able to change them in a config switch or something, this is tricky. Every time we add a config file option, we increase the test matrix, complicate the code, and make it harder to maintain. We also increase confusion, the number of support cases, and make it harder for an admin to easily g

[2016-01-08 22:11] karlitschek commented on #11707
@AnrDaemon There might be a way for you to override this default with a custom theme or app. But unfortunately we have to limit the number of configuration options as @MTRichards said. In a lot of cases we have to look at what 95% or all users want and what 95% or all other sync and share solutions out there do. And this is RW. We really understand the desire and need for an non standard behavior.

[2016-01-08 23:26] nwl commented on #21301
Only on the SFTP-mounted storage. Same thing for a file with various French characters too.
BTW, I applied the phpseclib patch which fixes the issue with hashes.

[2016-01-09 04:50] AndrewTilson commented on #21474
Not sure if related but if so i just posted this.
https://forum.owncloud.org/viewtopic.php?f=36&t=32458

[2016-01-09 08:09] Akhenaton commented on #20963
@enoch85 No, it doesn't !.... If you can't sync with a client, if you can't use caldav, if you can't use cardav, in other words if "dav" isn't working i don't call it "operational".

https://github.com/owncloud/calendar/issues/1002
https://github.com/owncloud/core/issues/21476
https://github.com/owncloud/core/issues/21460
https://forum.owncloud.org/viewtopic.php?f=36&t=32439

[2016-01-09 08:17] fcturner commented on #21436
Will do. Thanks again.

[2016-01-09 10:30] blackcrack opened #21566 "Buttons on the Administration in APPS"
Hi,

i be at moment in desighn of my theme, and have fellow me up,
to be the buttons not well in the APPS-Selector, like Multimedia,
Productivity and so on,
i have a black background and have desighn new buttons for it :
[code]
and the normal buttons should be white like in the body {color:white;}
but it is green.. because the default it is normaly not activate it should be simple an normal link a

[2016-01-09 11:00] patkor opened #21567 "Update Error"
Hi,

i received the following error message while trying to update to owncloud 8.2.1:

Exception: Updates between multiple major versions and downgrades are unsupported.

Do you have expierences with this problem?

[2016-01-09 11:15] calcmandan commented on #21567
happened to me last week. what version are you on now? 8.0.3?

[2016-01-09 11:58] RealRancor commented on #21567
@patkor Please use the search function on top of this repository before posting. With that you will find plenty of duplicates like https://github.com/owncloud/core/issues/21496

Just close this issue (as it don't need to be reported) and do the correct upgrade path by not skipping major versions (eg. you need to go from 8.0.x to 8.1.5 first before going to 8.2.2) like described in the upgrading ma

[2016-01-09 12:46] Noctivivans commented on #21461
I have similar error to @skjnldsv, but in owncloud desktop client (www seems to work fine):
## Actual behaviour
Message "connection closed" while trying to authenticate via owncloud desktop client. Existing sessions works until owncloud-client restart.

Error only occurs on PHP 7.x and php-apcu 5.1.2, downgrading PHP to 5.6.16 and php-apcu to 4.0.10 (php-apcu 5.x does not work for me with PHP 5.x)

[2016-01-09 13:10] enoch85 commented on #20963
@Akhenaton Well, I use all the clients for desktop, iOS Android and PC. I have no issues...

[2016-01-09 13:21] Akhenaton commented on #20963
@enoch85 O.K. good to know. But what about Caldav & Carddav ? I mean these last two are quite essentials for a lot of end-users like me.

[2016-01-09 13:56] OktoZ opened #21568 ""PHP","message":"Undefined variable:"
Hi
The application log (owncloud.log) ownCloud is a lot of errors:

{"reqId":"Jc6LImqY6Ey1dfFKrRBK","remoteAddr":"83.11.XX.XXX","app":"PHP","message":"Undefined variable: fi at \/tmpfs\/prepend\/xxxx#88","level":3,"time":"2016-01-09T13:28:28+00:00"}

Please support me.

Serwer:	Linux 3.2.74-xxxx-std-ipv6-64 #1 SMP Sun Nov 29 18:29:10 CET 2015 x86_64 x86_64 x86_64 GNU/Linux
Apache: 2.4
PHP: 5.6.13

[2016-01-09 14:08] Liwindo opened #21569 "Error in upgrade-process from 8.2.1 to 8.2.2"
**Steps to reproduce**

1. Go to administration page
2. Start the Upgrade to 8.2.2

**Expected behaviour**
The Upgrade works

**Actual behaviour**
The Upgrade works not

**Server configuration**

**Operating system:**
Ubuntu 14.04

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
7.0.1

**ownCloud version: (see ownCloud admin page)**
8.2.1

**Updated from an older ownCloud or fresh in

[2016-01-09 14:20] enoch85 commented on #20963
@Akhenaton As I wrote earlier:

And I use calendar (CalDAV), and contacts (CarDDAV) on those devices - and it works.

[2016-01-09 15:20] Xenopathic commented on #21568
What is at `/tmpfs/prepend/xxxx`? It sounds like you have a broken app enabled.

[2016-01-09 15:21] #21567 closed

[2016-01-09 15:22] Xenopathic commented on #21569
If you use the Updater app, please ensure that the web server user has write permissions to the ownCloud directory, otherwise it can't do anything.

[2016-01-09 15:22] #21569 closed

[2016-01-09 15:53] MacsKavana commented on #21465
Sorry guys, I forgot to attach the template but now it's uploaded: [oc.issue_template.txt](https://github.com/owncloud/core/files/83726/oc.issue_template.txt).

**I'd like clarify the issue description by the past days' experience**: this error happens on encrypted files (not on unencrypted ones).
The decryption is done, an error message is thrown and the process stops (OC remains in singleuser an

[2016-01-09 16:42] #20012 closed

[2016-01-09 17:06] OktoZ commented on #21568
This is a webhosting:

ls -al /tmpfs
 drwx--x--x    2 root   root   17520 gru  2 07:01 prepend
 [/tmpfs/prepend]# ls -al
	ls: .: Access denide
 [/tmpfs/prepend]#

[2016-01-09 17:13] RealRancor commented on #21568
It might be useful to not redact the filename which is causing that warning:

\/tmpfs\/prepend\/xxxx#88

[2016-01-09 17:46] arabesc opened #21570 "php.ini/upload_tmp_dir doesn't work as expected"
### Steps to reproduce
1. set [```php.ini/upload_tmp_dir```](https://secure.php.net/manual/en/ini.core.php#ini.upload-tmp-dir) parameter to a different path from the system temp location;
1. start uploading of some large file in the OC web interface/Files menu (upload should lasts some time);
2. periodically check free space on the server filesystems.

### Expected behaviour
The file is being dire

[2016-01-09 18:18] Xenopathic commented on #21570
It is `nginx` putting the files into the system temporary directory, not PHP. Look into `fastcgi_request_buffering`

[2016-01-09 18:18] #21570 closed

[2016-01-09 19:09] arabesc commented on #15276
Here is the link to the doc: [Uploading big files > 512MB](https://doc.owncloud.org/server/8.0/admin_manual/configuration_files/big_file_upload_configuration.html#configuring-php).
I've got the issue #21570 due to [```upload_tmp_dir```](https://secure.php.net/manual/en/ini.core.php#ini.upload-tmp-dir)/[```fastcgi_request_buffering```](http://nginx.org/en/docs/http/ngx_http_fastcgi_module.html#fast

[2016-01-09 19:22] arabesc commented on #21570
Are you sure? I've set ```fastcgi_request_buffering off;``` in the nginx ```http {...}``` section and the behaviour is completely the same.

[2016-01-09 19:47] Xenopathic commented on #21570
You might want to look at exactly *what* files are being created in the system temporary directory, rather than just knowing 'there are some'. The filename or exact location will give you clues as to what part of the process is creating them. Other than that, please note that this is a bug tracker, and any support queries should be directed to https://owncloud.org/support/

[2016-01-09 20:05] arabesc commented on #21570
There are a lot of different temp files in the system temp location. It will be complicated to find the right one...
I've caught the file moving from the system temp to the [```upload_tmp_dir```](https://secure.php.net/manual/en/ini.core.php#ini.upload-tmp-dir) location:
[code]

[2016-01-09 20:37] RealRancor commented on #21569
Quoting from the changelog:

Unfurtunately 8.2.1 ships this buggy updater app so you need some workarounds like described here fore example: https://github.com/owncloud/updater/issues/189#issuecomment-158762851

[2016-01-09 20:58] Liwindo commented on #21569
@Xenopathic Would be really helpful to close not my issue immediately without checking it. @RealRancor Thx.

[2016-01-09 21:04] arabesc commented on #21570
It seems this behaviour is due to [recommendation](https://doc.owncloud.org/server/8.0/admin_manual/configuration_files/big_file_upload_configuration.html#nginx) to set ```nginx``` parameter [```client_max_body_size```](http://nginx.org/en/docs/http/ngx_http_core_module.html#client_max_body_size) to some large value - probably as large as largest upload could be. It leads to this issue: at first t

[2016-01-09 21:52] LukasReschke commented on #21568
This is not caused by ownCloud and not an ownCloud issue. Please report this to your web hoster.

[2016-01-09 21:52] #21568 closed

[2016-01-09 22:36] arabesc opened #21574 "It's impossible to delete file while it's being synced"
### Steps to reproduce
1. use desktop ownCloud client app, setup sync folder;
2. upload some large file in the ownCloud web interface/Files menu;
3. as soon as sync download has started try to delete uploaded file in the web interface/Files menu.
### Expected behaviour

The file has been deleted. The sync has been interrupted.
### Actual behaviour

It's impossible to delete file while it's being s

[2016-01-09 23:26] Xenopathic commented on #21570
Unfortunately there's not much we can do about any of that, that's nginx talking to php-fpm. However, full ack about the docs. cc @carlaschroder More nginx craziness :smile:

[2016-01-09 23:29] Xenopathic commented on #21574
@icewind1991 Locking doing silly things? Is there any way we can forcefully terminate downloads of files if they are about to be deleted, or is that a Very Bad Thing :tm: ?

[2016-01-09 23:45] RealRancor commented on #21570
https://github.com/owncloud/documentation/issues/new

:-)

[2016-01-10 00:44] JohannesKleine opened #21579 "occ in chroot environment"
My target is to lunch occ on shared hosting webspaces.
# Actual behaviour

running:
[code]
gives an error, because the php (running as user) startet in the chroot environment and his "/" dir located in
[code]
but hi can see only "/".  In contrast to the php (running as apache or www) started by viewing oc over the webinterface, this can use the path from the config.php file, saved in
[code]
and wo

[2016-01-10 05:22] rullzer commented on #21574
Well this is exactly why we have file locking. To make sure that only 1 instance at a time can do destructive behavour.

We make sure all the locks are in place before we start doing stuff and release after. Thus terminating will probably be hell to do.

[2016-01-10 08:51] littleguga opened #21581 "CardDav + nginx 502 error"
nginx/error.log:
[code]

nginx.conf:
[code]

[2016-01-10 09:32] Xenopathic commented on #21579
From ownCloud's perspective, you are running it in one directory, then expecting occ to work on it from a completely different directory. `chroot` is a system-level feature, and ownCloud cannot detect or work around it. Please run your `occ` command inside the `chroot` as well, so they see a consistent filesystem.

[2016-01-10 09:32] #21579 closed

[2016-01-10 09:58] RealRancor commented on #21581
Please use the issue template: https://github.com/owncloud/core/blob/master/CONTRIBUTING.md#short-version

[2016-01-10 10:06] SMillerDev commented on #20963
Isn't this completely besides the point? The package depends on php5-json while it can depend on php-json. No version needed. Doesn't really matter if it works with it or not. It should be an option.

 Caldav and cardav problems are reported in different issues. And there's already fixes for those.

On Sat, Jan 9, 2016 at 6:21 AM -0800, "Daniel Hansson" <notifications@github.com> wrote:

@Akhenato

[2016-01-10 10:59] smarek commented on #20976
@kwstone I don't know what type of installation you do use, however I do use GIT. GIT clone core repository and upgrade versions only through that. If you do use GIT installation, you should check if the subfolder (submodule) `3rdparty` is correctly checked out the same version as is the version of core repository.

If you do not use GIT installation, then simply check if your folder `3rdparty` is

[2016-01-10 13:37] rullzer commented on #21534
PR in #21573

[2016-01-10 13:38] rullzer commented on #21535
PR in #21573

[2016-01-10 13:38] rullzer commented on #21518
Probaly fixed once https://github.com/owncloud/core/issues/21554 is in

[2016-01-10 13:46] karlitschek commented on #21566
@jancborchardt  what do you think?

[2016-01-10 14:31] JohannesKleine commented on #21579
I started the command
[code]
inside the chroot.

[2016-01-10 14:41] Xenopathic commented on #21579
I would suggest talking to your hoster about this

[2016-01-10 14:45] enoch85 commented on #20963
@Akhenaton I the new VM I made ownCloud is installed with PHP 7 and MySQL 5.6. Just give it a try and see what you think: https://en0ch.se/index.php/s/zfVYCMabgWdw90k

[2016-01-10 14:59] ThierryMasson opened #21583 "Warnings on admin page"
Dear,

Despite I have in apach2.conf the following header for security (for all hosted website):
Header always set X-Frame-Options SAMEORIGIN
Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains"
Header always edit Set-Cookie (.*) "$1; HTTPOnly; Secure"
Header always set X-Xss-Protection "1; mode=block"
Header always set X-Content-Type-Options nosniff

OwnCloud claim th

[2016-01-10 15:10] timreeves commented on #21352
This problem is driving me nuts! I have tried
* Updating my self-compiled PHP to 7.0.2
* Recompiling the youngest versions of redis and apcu+apc
* Regressing my OC config to not use redis or apcu at all (and not load them, session=files)
* Using Plesk's PHP 7.0.1 in case something wonky in my own PHP version

ALWAYS the same problem: Connecting via WebDAV.

@skjnldsv I think this is indeed probabl

[2016-01-10 15:13] AndrewTilson opened #21584 "Owncloud SMB to windows share on StorageSpaces"
I am using a canned VM image of owncloud in a box on suse. Its running as 8.2.2. I had this same issue with version 8.2.1 on a ubuntu image i built before. I have a windows 10 file server that has 2 drives. A C:\ stand alone disk and a D:\ which is a storage spaces disk of 5 drives. If i create a file share on the C:\ i can get to it just fine. If i create the same share on the d:\ storage space d

[2016-01-10 15:19] RealRancor commented on #21583
@ThierryMasson

This probably means that your webserver is sending the headers twice which it shouldn't. You can easily test this with a request like:

curl -I http://www.example.com/owncloud/index.php

which probably shows the headers twice.

For the memcache follow the documentation link, this is not there just for fun.

For the internet connection message see: https://forum.owncloud.org/viewtop

[2016-01-10 15:29] JohannesKleine commented on #21574
The same thing should happend, if an formerly offline client starts syncing, only few second before I have started to delete files. To save bandwidth and give the owner of files the possibility to correct things, maybe he uploaded the wrong file. So I appreciate giving "delete" higher priority than "sync".

[2016-01-10 15:54] Akhenaton commented on #20963
@enoch85 Hi, thank you, i downloaded the VM and i will give it a try this week for sure. :-)
Not much time today... Again, thank you and... Happy new year !

[2016-01-10 16:00] karlitschek commented on #21584
@icewind1991 any idea?

[2016-01-10 16:04] LukasReschke commented on #21556
There we go: https://github.com/owncloud/core/pull/21586

[2016-01-10 16:09] RogerRabbit15 opened #21587 "enable 'old_password' in MySQL"
just suggesting the possibility of adding an option at set up/install to decide if you would like to use MySQL with old password hashing vs the new which is currently in place.  There are many hosts out there that would allow an owncloud install on a shared hosting plan, however, they run MySQL with 'old_passwords' on so that older other users applications can still run.  I'd really rather prefer

[2016-01-10 16:09] LukasReschke opened #21588 "Star icons on apps interface are pixelated on retina display"
The star icons on the appstore interface seem pixelated on a retina display. Seems like we need them in a new resolution as well? (or even as SVG?)

Talking about the icons from https://github.com/owncloud/core/tree/656b5418996744b5ba095afac59b4fdb4db37337/core/img/rating that can be seen /index.php/settings/apps?category=productivity

cc @owncloud/designers

[2016-01-10 16:10] #21583 closed

[2016-01-10 16:11] #21581 closed

[2016-01-10 16:11] ThierryMasson commented on #21583
Thanks for you very quick reply !
/
/Sorry for memcache...I have probably missreading something... it's OK
now, thanks for the link.

For header problem.. "ok", I will try to find why server sending headers
twice

But for 1st warning (No Internet connectivity)... how is it possible to
have the following in OwnCloud :

*À jour.* /Dernière vérification : 10 janvier 2016 16:24:47 UTC+1
/

/And also,

[2016-01-10 16:16] timreeves commented on #21352
Maybe we need to compare our operating systems? Since some people say it works, some say broken.
Mine is Ubuntu 14.04.3 LTS

[2016-01-10 16:25] RealRancor commented on #21587
Old password where pre-4.1 so is this really something which should be supported by ownCloud?

[2016-01-10 16:27] RealRancor commented on #21583
Maybe the no internet connection is also related to https://github.com/owncloud/core/issues/20028

[2016-01-10 16:40] RogerRabbit15 commented on #21587
I would like it to be considered, owncloud.org installs from what i gather is something for anyone who wants to run their "own cloud" service, not everyone has a VPS plan or a dedicated server where the end user can control the scripting language and parameters.  (such is my case) so if the ability to choose what type of hashing is used would just allow more users to use the software.  The end use

[2016-01-10 16:40] ThierryMasson commented on #21583
I will have a look (but something sure, I have no issue at all with my
SSL certificate (CA, bundle, CR all OK > and checked with ssllabs.com >
Grade A+))
But could be a miss recognition as it's a multi-certificate ?

For header, that's because they are set in the .htaccess and there is no
"check" if there are already set by the server itself.
I have comment out in the .htaccess :
     #Header set

[2016-01-10 16:41] karlitschek commented on #21587
I agree with @RealRancor We should only support what is really needed out there. Adding config option and features if absolutely needed.
So far I remember zero bug reports from users who are affected by that.

[2016-01-10 16:49] #21587 closed

[2016-01-10 16:50] RogerRabbit15 commented on #21587
Ok so essentially self hosted own cloud is only for users who have full control over their hosting account. A bit disappointing users on shared hosting. Obviously not in the scope of owncloud. Thanks anyway.

[2016-01-10 16:53] karlitschek commented on #21587
Not what I said. I think the share of users who use a super old MySQL is small enough to be ignored. Actually I'm not aware of a single case.

[2016-01-10 17:53] JapSeyz commented on #21461
I am running into this issue as well. It's extremely weird.

[2016-01-10 17:55] jkroepke commented on #21352
Broken with Ubuntu 14.04/PHP7.0.2.

I use the latest packages from here: https://launchpad.net/~ondrej/+archive/ubuntu/php-7.0

I'm use APCu, too. Filelocking enabled. No Redis configuered. Frontend Server is nginx with fpm.

[2016-01-10 18:23] skjnldsv commented on #21352
Same here: Linux 4.3.3-2-ARCH
(#21461)

[2016-01-10 18:25] JapSeyz commented on #21352
Using Ubuntu 14.04 PHP7.0.2 with Nginx.

[2016-01-10 19:30] COLABORATI commented on #10837
hhvm support is absolutely needed for good speed, would be very important to get this done. thanks!

[2016-01-10 19:31] LukasReschke commented on #10837
@COLABORATI Contributions welcome. Otherwise your comment won't change anything. :wink:

[2016-01-10 20:44] localguru commented on #21378
#21544 doesn't fix it:

{... ,"app":"PHP","message":"Class 'OCA\\Files_Trashbin\\Constants' not found at \/var\/www\/owncloud\/apps\/files_trashbin\/lib\/helper.php#95","level":3,"time":"2016-01-10T21:42:55+01:00"}

[2016-01-10 20:54] littleguga commented on #21581
@LukasReschke my apologize. I have another rewriting configs in nginx common files. Sorry for this.

For all other dummies as I - check you common nginx confs.

[2016-01-10 22:10] shaneonabike commented on #19905
Also documenting that documents is no longer shipped as a app would be good in the 8.2 docs cause I ran into this and had no idea :/

[2016-01-10 22:18] unleashit commented on #13147
Just wondering... is the fix to this considered to be the option (under the gear icon) for how often to check for changes? I just discovered this and selected "never". I'm hoping this will keep my requests down as like the others they will up to be real money with any kind of real use. If this works, I'll be happy in this case since I only plan on managing the bucket through Owncloud.

[2016-01-10 23:06] ooZberg commented on #10808
I have also noticed that all users need to generate their own thumbnails (and gallery images), which is very annoying if you have 100Gb+ photos that are shared with multiple users.

I agree that it would be nice to have a common thumbnails cache folder indexed by e.g. file hash, but that might also take some time to calculate for each file.

**Wouldn't an easier fix be to:**
* Identify if the curr

[2016-01-10 23:14] pierreozoux commented on #17823
Ok, thanks for all your input!

I still get apps disabled (last update was calendar and contact), I found this way:
https://github.com/indiehosters/ownCloud/issues/3

I'll test further and let you know :)

[2016-01-10 23:16] jeremyrjk opened #21595 "Owncloud randomly deleting files"
### Steps to reproduce
1. Use as normal. Change files on phone or computer, seems to be random.

### Expected behaviour
Sync without deleting files

### Actual behaviour
Occasionally empties files; deletes contents but leaves the file there.

### Server configuration
my.owndrive.com
OwnDrive 8.2.2 (stable)

### Client configuration
**Browser:** OwnCloud for Android 1.9.0
**OwnCloud-Client:** 2.1.0

[2016-01-11 00:28] karlitschek commented on #21595
Can you post a full bug report using this template please? https://github.com/owncloud/core/blob/master/CONTRIBUTING.md
@rperezb Are you aware of any Android bugs?

[2016-01-11 00:56] boltronics commented on #12601
There is demand. I demand it. :)

**Use case:**
Once or twice people have left my workplace without much notice, but possibly have a bunch of important files shared from their account which could be in use by someone else. Ideally I should just be able to disable the user account so files shared from that account aren't immediately deleted as well (which might cause an unpleasant surprise for some

[2016-01-11 01:24] JapSeyz commented on #21476
@DeepDiver1975 @evert  Wasn't SabreDav 3.1 released already? http://sabre.io/blog/2016/sabre-dav-3.1-release/

Or am I completely misunderstanding something?

[2016-01-11 03:15] ODDSys commented on #21537
I see what you mean, unfortunately i do not see how the initial "email" can be sent when the users only have a userid instead of an email (As per instructions https://doc.owncloud.org/server/6.0/admin_manual/configuration/configuration_users.html)

This then also affects "Reset your Password" function on the login page then as the user does not have a defined email

[2016-01-11 03:17] ODDSys commented on #21537
Scratch that, just realized there is an email field.....

[2016-01-11 03:22] ODDSys commented on #21537
OK, now i see where you are going with this, user has an email address field, that can be looked at for login.

That address assumes that the users email address is on the same domain as the Owncloud instance.
What happens when i have OC on a different domain to my email (ie email: testperson@maindomainc.com, OwnCloud testperson@ocdomain.com)

[2016-01-11 05:30] anomaly256 opened #21597 "Documents app missing on 8.2.2 on Debian 8"
Hi, I've just installed a fresh Owncloud instance on a new Debian 8 machine from the stable repository to find that the 'Documents' app is not present in the owncloud-server .deb package.  I decided to look inside the .deb thinking I could copy it out manually if it was merely not enabled by the installer script or was removed by it as I didn't have libreoffice installed at first, but I found that

[2016-01-11 06:04] evert commented on #21476
Yes, but sabre/dav 3.1 dropped PHP 5.4 support.

[2016-01-11 06:08] JapSeyz commented on #21476
Ahh, but it doesn't support PHP 7 all that much either.  There's a lot of errors while trying to connect with the desktop client on a PHP 7 OC server

[2016-01-11 06:09] evert commented on #21476
sabre/dav 3.1 certainly does support PHP 7, owncloud is running sabre/dav 3.0 which does not currently.

[2016-01-11 06:12] JapSeyz commented on #21476
Ahh, then I follow. And PC doesn't upgrade because 5.4 is not supported?

[2016-01-11 06:25] RealRancor commented on #20963
Until https://github.com/owncloud/core/issues/21476 is solved no dependency update should be done as SabreDAV 3.0 currently used by oC is not fully supporting PHP7:  https://github.com/owncloud/core/issues/21476#issuecomment-170441859

[2016-01-11 06:28] RealRancor commented on #21597
Documents is not shipped anymore since two major versions (8.0) and needs to be manually installed via the oC internal appstore. See this wiki page which apps are shipped: https://github.com/owncloud/core/wiki/Apps-in-the-release

[2016-01-11 06:33] anomaly256 commented on #21597
What is this 'oc internal appstore' you speak of?  Is it something other than the 'Apps' item in the oc dropdown menu?  I'm guessing it is because 'Documents' isn't listed anywhere within that either

[2016-01-11 06:36] anomaly256 commented on #21597
This?  https://apps.owncloud.com/content/show.php/Documents?content=168711
Bit off topic but I'd like to comment that it would be nice if apps.owncloud.com were accessible from within owncloud itself :)

[2016-01-11 06:36] GitHubUser4234 opened #21598 "Public share fails when master key is enabled"
Hello,

When master key is enabled in ownCloud 8.2.1, and a public link is accessed by a public user, the following screen is shown:

![image](https://cloud.githubusercontent.com/assets/16538178/12227958/a201c992-b86f-11e5-83f1-15a52fb0ecc0.png)

(In words: error "Private Key missing for user: please try to log-out and log-in again" shows up in browser)

However, any **logged in** user can downloa

[2016-01-11 06:44] RealRancor commented on #21597
Yes, i mean the "Apps" item within ownCloud itself. The documents app will appear within the "Productivity" category.

I think you can close here and see https://owncloud.org/support/ for the support channels where you can get help with that issue if the app doesn't show app for you.

[2016-01-11 07:28] caratsch commented on #9058
@DeepDiver1975 & @MorrisJobke I can provide/send you an actual dump if you want

[2016-01-11 07:35] rullzer commented on #21598
@schiesbn

[2016-01-11 07:52] xn--nding-jua opened #21600 "WebDAV-Sync aborts with ownCloud 8.2.1 and php7"
### Steps to reproduce
1. Use FolderSync-Lite for Android to sync some pictures (each with around 3.4 MB in size) between Android-Mobilephone and ownCloud (upload)
2. after some pictures are uploaded the sync-process aborts with "Internal Server Error"
3. switching to php5.6 and it works
4. switching to php7.0.1 it does not work

### Expected behaviour
The sync-process should finish successfully.

[2016-01-11 07:54] DeepDiver1975 commented on #21600
@xn--nding-jua anything in the owncloud log or the apache error log?

[2016-01-11 07:55] rullzer commented on #9058
With https://github.com/owncloud/core/pull/20773 in shares created via the OCS endpoint (so soon all shares!) will have the new sharing behaviour. So they are actually shares of the file owner but have the user that shares them as initiator.

[2016-01-11 08:01] xn--nding-jua commented on #21600
@DeepDiver1975 No, nothing related to the upload-process. The sync has aborted on all three Android-phones the last three days... the log is OK for this time.

The fatal-errors are related to some bad addressbook-card-pictures. Yesterday I've switched back to php5.6 and the "Cannot modifiy header blahblah" started again

[2016-01-11 08:03] rullzer commented on #21547
It seems you do not have the required root certificate on your system. Which is why the request is failing. This is not something we can fix. Please contact your hoster.

[2016-01-11 08:03] #21547 closed

[2016-01-11 08:06] DeepDiver1975 commented on #21600
hmmm - fatal php errors usually cause log entries .....

Well - we are aware that php7 and sabre 3.0 have issues which we are currently working on.

[2016-01-11 08:07] AnthonyAoun1 opened #21601 "PHP + can`t find/open files with special characters"
I have a PHP script that uploads docs manually to moodle
This script doesn't work with documents containing any special character (like Arabic) in the file name
mb_detect_encoding($filename) is returning utf8
I tried to
echo iconv('cp1256', 'UTF-8', $file);
	                 utf8_decode($file);
                         iconv('UTF-8', 'ISO-8859-1', $file);
                         mb_convert_encodi

[2016-01-11 08:09] xn--nding-jua commented on #21600
OK, then maybe we should close this issue already, because it is only this single software. Total Commander is working. And under php5.6 everything is working well. I can reopen it, if this still occures in the next release of oC.

[2016-01-11 08:09] #21600 closed

[2016-01-11 08:12] RealRancor commented on #21601
@AnthonyAoun1 This is the issue tracker of ownCloud, not moodle. :-)

[2016-01-11 08:15] #21601 closed

[2016-01-11 08:18] rullzer opened #21602 "Abstract away from local/federated sharing"
NOTE: These are just some toughts I came up with while doing the sharing rework. Not something for the short term but something to think about.

Currently we have a very clean distinction between share types. We basically have:
- local shares
- federated shares
- link shares

All three types are different from the perspective of the code. However from a user point of view we actually only have 2 t

[2016-01-11 08:31] Akhenaton commented on #20963
@RealRancor That's exactly what I thought, too ! Thanks for this clear statement. :-)

[2016-01-11 08:57] MorrisJobke commented on #9058
I can check with @caratsch - what do we want to know?
* shares vs reshares - original folder vs subfolder
* external shares
* self-mounted external shares

Anything else?

[2016-01-11 09:04] nickvergessen commented on #19152
And by that I mean, the server part. Desktop and mobile clients don't check the endpoint yet, from my understanding.

[2016-01-11 09:10] #21597 closed

[2016-01-11 09:12] PVince81 commented on #21595
Missing important information: ownCloud version, whether encryption is enabled, whether the files in question are shared files (accessing as recipient or sharer)

[2016-01-11 09:27] PVince81 commented on #12215
@carlaschroder there are no screenshots to be shown. It's just a new config option in config.php that lets you specify a custom URL that opens whenever a user clicks the "Lost password" link. https://github.com/owncloud/documentation/commit/d56c57c9554a99a6d2520d462b8818692be7e9a1#diff-cc42d41e3199bfcefb0487b5b9e8872aR294

[2016-01-11 09:39] Guillaume00 opened #21604 "Updater app doesn't go through with Firefox (v.43), but does with Chrome (oc 8.0x to 8.1.5)"
I've upgraded owncloud 8.0.x on 3 different servers and it has never worked using Firefox (v. 43). When using FF, I would always remain stuck on the maintenance page for hours.

After some research, I found on an old forum thread how to solve my issue:
- manually edit the config.php file to change maintenance mode from true to false
- restart apach
- then launch the upgrade using Chrome

Original

[2016-01-11 09:42] oparoz opened #21605 "Fix Util::addScript so that it can pick the apps where it's needed"
Most apps are only looking at injecting JS into files and files_sharing, but I don't think we should restrict what devs can do with their apps, so let's be open and simply add a new variable to the signature.

### Before

`Util::addScript($myApp, 'myscript');`

### After

`Util::addScript($myApp, 'myscript', [files, files_sharing]);`

`[files, files_sharing]` would be the default value.

----
@Ber

[2016-01-11 09:54] PVince81 commented on #21588
Since we're dropping IE8 support, SVG should work now without any workarounds.

[2016-01-11 09:56] nickvergessen commented on #21605
No, we should instead make more use of
[code]

[2016-01-11 09:57] nickvergessen commented on #21605
Sample of the activity app loading it's sidebar JS
https://github.com/owncloud/activity/blob/master/lib/fileshooksstatic.php#L42-L43

Event is dispatched in https://github.com/owncloud/core/blob/8aaab0dbadf1798bdc11e8fefddad01cf23e1892/apps/files/controller/viewcontroller.php#L205-L205

[2016-01-11 09:58] nickvergessen commented on #21605
So this allows files to be only loaded on the files frontpage, which is exactly what is needed here.

[2016-01-11 09:59] nickvergessen commented on #21556
The only bit that is somewhat missing is to have a forced maximum ownCloud version

[2016-01-11 09:59] PVince81 commented on #21378
That's even worse. @icewind1991

[2016-01-11 10:03] oparoz commented on #21605
You missed the part where it's needed in more locations than just Files

[2016-01-11 10:04] PVince81 commented on #13147
@unleashit this is an option, yes.

The second step is to implement a stat cache for S3, similar to the one proposed for SWIFT: https://github.com/owncloud/core/pull/7897 which can help saving redundant requests.

[2016-01-11 10:08] SergioBertolinSG commented on #21598
I can reproduce this on stable8.2.

# Steps to reproduce:

1. Enable encryption with default module.
2. Run occ encryption:enable-master-key
3. Upload some files.
4. Public share one file.
5. Open it in another browser.

[2016-01-11 10:09] PVince81 commented on #21605
I thought about maybe a more global event "\OC::appResourcesLoaded" to give apps a chance to do something after an app has added the resources to load.

[2016-01-11 10:13] PVince81 commented on #21584
@AndrewTilson can you confirm that the user you used in the OC SMB configuration has enough permission on these shares ?

[2016-01-11 10:13] PVince81 commented on #21584
Does it work with non-full-disk shares ?

[2016-01-11 10:14] oparoz commented on #21605
The problem with new methods is that it won't fix the current situation unless devs are updating their apps, which they may not in a timely manner, etc. leading to frustration and bug reports.

So, while I agree that dispatchers are the way forward, I'm thinking maybe the current situation could be fixed as well?

[2016-01-11 10:14] PVince81 commented on #21574
This is expected behavior due to file locking.

@icewind1991 what do you think of the suggestion regarding priority ?

[2016-01-11 10:16] PVince81 commented on #21605
@oparoz how to fix the current situation ?
The proposal you made with the extra arguments to `addScript` would also require app devs to update their apps

[2016-01-11 10:19] oparoz commented on #21605
Not necessarily, but I'm being selfish. It would restrict the problem to Files and Sharing and clean up the JS mess in all the other loaded apps.

[2016-01-11 10:22] #21534 closed

[2016-01-11 10:23] rullzer commented on #21535
PR merged. Closing.

[2016-01-11 10:23] #21535 closed

[2016-01-11 10:23] #21556 closed

[2016-01-11 10:24] MorrisJobke commented on #21511
@rzg-kaiser This will be fixed in 8.2.3

[2016-01-11 10:25] nickvergessen commented on #21605
Which means it breaks admin and personal page to begin with.
Not really a step forward in my eyes.

[2016-01-11 10:30] RealRancor commented on #21604
@Guillaume00 Are you using the repositories from download.owncloud.org? If yes the kept maintenance mode is the expected behavior documented at various places.

[2016-01-11 10:32] #10907 closed

[2016-01-11 10:38] MorrisJobke commented on #21605
Correct. I will break all the apps that rely on the fact that it is loaded everywhere :(

[2016-01-11 10:44] DeepDiver1975 commented on #21537
I was testing Mac's Calendar and the automated setup mode for calendars is using the email as well.
And it magically did work - maybe because the user name is stripped off the email properly ..... let's debug this .. once day ;-)

[2016-01-11 10:54] Xenopathic commented on #21537
The way the Active Directory world (and by extension, Kerberos) does it is by treating a username in the format 'abc@example.com' not as an email address, but as a username + domain part. I think it's a misnomer calling it an email login, and it's unfortunate that the LDAP app has it baked in with that terminology for so long. It's true that in many cases the email address will be identical to the

[2016-01-11 10:54] oparoz commented on #21605
Why? admin and personal are not in the Files app's "namespace"

[2016-01-11 11:02] PVince81 commented on #21378
@localguru how did you patch it ? Maybe you missed the line with `use` ?

[2016-01-11 11:09] quassum commented on #20484
Still having this problem on 8.2.2 when uploading pictures with an admin account into a folder shared by another user:

{"reqId":"VpOMWSUiPMMAAEYZa-cAAAAE","remoteAddr":"214.255.57.206","app":"core","message":"Generating preview for \"\/Photos\/Emily\/IMG_0526.JPG\" with \"OC\\Preview\\JPEG\"","level":0,"time":"2016-01-11T11:04:57+00:00","method":"GET","url":"\/cloud\/index.php\/core\/preview.png?

[2016-01-11 11:15] nickvergessen commented on #21605
Well you want to add a default value for addScript which is used everywhere.

Anyway, let's move forward instead of discussing in circles. If you think there are controllers missing a `$this->eventDispatcher->dispatch()` call, we should add them and start a list of them for documentation

[2016-01-11 11:18] PVince81 commented on #20686
Ah yes of course, it's because it checks the quota of the containing folder.
Shared files are somewhat special...

[2016-01-11 11:22] PVince81 commented on #20686
- [ ] In the web UI: free space in current folder is 0 (stored in a JS variable), so it disallows upload without even trying. Ideally the web UI should always try and upload and let the server decide whether there is enough space. (we certainly don't want to add extra magic for the magic shared files)
- [ ] In Webdav: the quota plugin prevents uploading and checks the parent folder, might be adjus

[2016-01-11 11:31] JB1985 opened #21609 "ownCloud 8.2.2 (stable) - Drop down menu add group will not be shown on scrolling"
Hi,

i am using OC8.2.2 stable with Debian7.

apache2                            2.2.22-13+deb7u6
php5                                  5.4.45-0+deb7u2
mysql-server-core-5.5       5.5.46-0+deb7u1

I  have the problem, if I have more than 50 users (can be on 10 or 20 users, i dont know) and i scroll down and want to add a user in a group, the drop down menu will not be shown.

It is always at the t

[2016-01-11 11:33] jancborchardt commented on #21566
@blackcrack I hope you inderstand that we don't really have time for 1on1 theming support. The forum is the right place to ask about that: https://forum.owncloud.org

[2016-01-11 11:33] #21566 closed

[2016-01-11 11:33] PVince81 commented on #21609
Duplicate of https://github.com/owncloud/core/issues/20503

[2016-01-11 11:33] #21609 closed

[2016-01-11 11:37] PVince81 commented on #20686
Arghh, this is even more tricky: when uploading to "user1/files/shared.txt" the shared file, it will first create a part file in "user1/files/shared.txt-$transactionId.part" which is actually on the uploader's storage, not the target user's storage. So the quota check is done on the wrong storage.

[2016-01-11 11:40] jancborchardt commented on #21551
This was fixed by #21596, and the imtegration of Updater into Versions is tracked at https://github.com/owncloud/updater/issues/212

[2016-01-11 11:40] #21551 closed

[2016-01-11 11:40] PVince81 commented on #20686
Looks like this logic will need to be adjusted: https://github.com/owncloud/core/blob/master/apps/dav/lib/connector/sabre/file.php#L120 when computing `$partStorage`

[2016-01-11 11:43] PVince81 commented on #20686
@icewind1991 any reason why we are doing a cross-storage move here 06a65fab13fca510cbc5213d3353335046ba9445 instead of putting the part file directly on the target storage ? I was thinking of making `$partStorage = $storage` but maybe that did not work back then ?

[2016-01-11 11:45] PVince81 commented on #20686
I started something here https://github.com/owncloud/core/pull/21610 but will need a lot more work to cover all code paths.

[2016-01-11 11:54] PVince81 commented on #20503
This works fine on stable8 and stable8.1 but not stable8.2 marking as regression. Possibly due to the recent styling changes.

[2016-01-11 12:04] blizzz commented on #20264
[code]
Because that describes, what it is? a comment on a comment?

Unsure about the necessity of a tree structure in the URL. If we go for a tree structure, we could just either return all the direct children of commentId or all, and there is no need for a replyId, because you could request just the children of any comment, be it on root level or somewhere deeper in the tree.

Anyway, it's not cr

[2016-01-11 12:05] schiesbn commented on #21598
fix is here: https://github.com/owncloud/core/pull/21612

@SergioBertolinSG @GitHubUser4234 maybe you can give it a try and report back? Thanks!

[2016-01-11 12:09] MorrisJobke commented on #21605
But the JS is maybe needed to do something there ;)

[2016-01-11 12:10] karlitschek commented on #21605
hmm. this breaks comoatibility with old apps. something we can't do

[2016-01-11 12:36] #20835 closed

[2016-01-11 12:50] MorrisJobke commented on #21284
@icewind1991 ping ;)

[2016-01-11 12:58] PVince81 commented on #20264
The "comment on a comment" approach sounds good instead of a full tree.

[2016-01-11 13:10] icewind1991 commented on #21284
You linked to the same file twice :smile:

iirc there is a difference between the two versions in working against oc's filesystem and the local fs

[2016-01-11 13:11] blackcrack commented on #21566
support ? well, this is as label as bug.. thank you for you "Support " Jan.
and karlitschek , the phpcode mixed up with a java and css it's a mess..(because overwritten and not a clean themefolder to use..)

The css-code should be fully remove, an the skeleton should create with java
(die Abmessungen/the dimensions)  created with Ajax/Java
and the style things + icons and so on belongs into an own

[2016-01-11 13:20] oparoz commented on #21605
Ah, yes, if an app needs to customise those pages...

These unmaintained apps are breaking every release of ownCloud and the only recourse users have is to simply disable them, **after having spent time trying to figure out what was wrong with their setup**.

Adding the dispatcher to more core apps is the way forward, but it won't stop old apps from messing up instances for as long as that addScri

[2016-01-11 13:24] nickvergessen commented on #21605
They can also throw an exception in app.php if they want, killing your hole instance.
Do the way forward, we can't change the past, and we need to retain it for 2-3 years.
Thats our BC phase and not up for discussions.

Create issues in the repos of the apps doing the "breaking" stuff and advice them to use the new way.
That's all we can do.

[2016-01-11 13:24] oparoz commented on #21485
This is actually a duplicate of https://github.com/owncloud/core/issues/20484, so closing this.

[2016-01-11 13:30] #21605 closed

[2016-01-11 13:35] AndrewTilson commented on #21584
The share i have created does have the user i configured with full control and i have also granted everyone with full control as well. I am able to from the server use the smb client to connect to the share without any issues. As for non-full-disk shares? Im assuming you mean the share is not full on space. The disk in question is a 6TB space with only 2TB used.

[2016-01-11 13:55] jancborchardt commented on #21566
@blackcrack vllt ist es ein Verständigungsproblem. Kannst du die Issue noch Mal auf Deutsch formulieren?

[2016-01-11 13:55] ychaouche opened #21617 "[install][source] "Only SQLite is available", mysqli,pdo_mysql and mysqlnd are compiled with php"
Hello.

I have compiled PHP 5.6 from the sources

    Configure Command =>  './configure'  '--with-mysql=mysqlnd' '--with-mysqli=mysqlnd' '--with-pdo-mysql=mysqlnd' '--with-openssl'

The mysql modules are loaded

[code]
This is also shown in [phpinfo (php -i)](https://clbin.com/tCS3y).

[code]

And yet when I try to install owncloud it says  `Only SQLite is available. Install and activate addition

[2016-01-11 13:56] jancborchardt commented on #21566
Es hilft ebenfalls, bei visuellen Fehlern direkt Screenshots hier zu posten.

[2016-01-11 13:59] karlitschek commented on #21617
I think it not an ownCloud bug but a problem with your setup. Can you please check owncloud.org/support for other places to get help about your problem. Thanks

[2016-01-11 13:59] #21617 closed

[2016-01-11 14:07] RealRancor commented on #21617
@ychaouche Please check with a phpinfo.php page as cli != web.

For 8.2 pdo_mysql is also needed: https://github.com/owncloud/documentation/issues/1933

[2016-01-11 14:09] felixboehm commented on #16081
mysql supports IP v6, but needs to be configured to permit access.
https://dev.mysql.com/doc/refman/5.5/en/ipv6-support.html

After you permit access by IPv6 to the mysql server in general, you can provide the mysql root user to the autoconfig or occ maintenance:install, and ownCloud generates a user oc_admin. But IPv6 access for a mysql user needs to be granted explicit, which might fail here.

P

[2016-01-11 14:09] ychaouche commented on #21617
Thanks for the heads-up @RealRancor. Indeed, the pdo_mysql module is not shown in phpinfo().

[2016-01-11 14:12] rullzer commented on #21542
@owncloud/designers

[2016-01-11 14:13] gig13 opened #21619 "How to change login page with theme"
When using the theming, what files need to be modified to adjust some small links on the login page? The theme has been applied, but some very minor additional changes are desired for the login page.

### Expected behavior - Two small changes
1. Click on the "logo" area to link to another website (main company website for example).
2. Add an "icon image" under the login credentials area to link to

[2016-01-11 14:24] karlitschek commented on #21602
Interesting direction. I would recommend to look into that for 9.1. But let's not overload 9.0 :-)

[2016-01-11 14:25] ychaouche commented on #21617
yep, just enabled pdo_mysql.so in php.ini and now it's back there. Thanks again.

[2016-01-11 14:25] rullzer commented on #21602
@karlitschek for sure not for 9.0. (hence the backlog milestone). But better to write it down while still fresh ;)

[2016-01-11 14:26] karlitschek commented on #21602
got it :-)

[2016-01-11 14:29] gig13 commented on #16081
Updated customer, to close since it is very old.

[2016-01-11 14:29] #16081 closed

[2016-01-11 14:33] schiesbn opened #21621 "initial setup broken on master"
I can no longer set up a fresh installation on master. Page loaded forever but I never see the setup/login page.

The only error message I see is:

[code]

git bisect lead me to this PR: https://github.com/owncloud/core/pull/21479. Before this PR the initial setup works, after the PR it fails like described above. I'm the only one who experience this behavior?

cc @MorrisJobke Please have a look,

[2016-01-11 14:35] LukasReschke commented on #21621
Had this as well. Fixed it by restarting my Apache. Thought it was just me :speak_no_evil:

[2016-01-11 14:35] schiesbn commented on #21621
Tried this multiple times, didn't helped in my case

[2016-01-11 14:36] LukasReschke commented on #21621
Voting for reverting https://github.com/owncloud/core/pull/21479 then.

Any objections, @MorrisJobke @icewind1991?

[2016-01-11 14:37] jeremyrjk commented on #21595
I don't see any settings for encryption so I don't know it it's enabled - I guess whatever the my.owndrive.com default settings are.

I am sharing the files with myself only. I access and change them on my laptop and on my phone.

[2016-01-11 14:37] MorrisJobke commented on #21621
I would really like to understand the actual issue. But a revert for now is okay.

[2016-01-11 14:37] LukasReschke commented on #21621
Revert: https://github.com/owncloud/core/pull/21622

[2016-01-11 14:40] datenfalke commented on #20484
Same problem here - would be very happy if this could be solved. Thank you!

[2016-01-11 15:13] rzg-kaiser commented on #21511
@MorrisJobke Thanks a lot for the quick reaction!

[2016-01-11 15:28] #21621 closed

[2016-01-11 15:28] icewind1991 commented on #20484
Fix is here: https://github.com/owncloud/core/pull/21615

[2016-01-11 15:39] MorrisJobke commented on #20199
Fix was reverted

[2016-01-11 15:49] rullzer commented on #21604
@Guillaume00 do you observe the same issue if you do the initial upgrade via chrome?

[2016-01-11 15:50] MorrisJobke commented on #21284
Pssst :)

[2016-01-11 15:50] MorrisJobke commented on #21284
I updated the links

[2016-01-11 16:02] MTRichards commented on #19988
As said above, the resolution is to implement:
You have used 176 MB of the available unlimited quota. (server side)
and
176MB of the available unlimited quota. (client side)

Need to make this in for 9.0 on the server side as selected.

@dragotin linked in client issue.

[2016-01-11 16:03] nidarian commented on #18942
Hello,
This felt like a good place to mention that when my external SMB is offline, my owncloud 8.1 webdav for windows/android clients cannot connect. When I power on the smb server and the owncloud server can connect to it, then webdav starts working again.

[2016-01-11 16:10] bboule commented on #12764
@gig13 how was this message received?  can we close this out and keep FR on backlog

[2016-01-11 16:19] PVince81 commented on #19988
Okay, this will also need server side changes: whenever a user has "unlimited" set as quota, instead of returning the actual physical free disk space it will have to return -1 instead. This means that from this point the server will never display the actual physical free disk space again.

To clarify, an example:
- main partition has total 100 GB space
- main partition has 20 GB space used and 80

[2016-01-11 16:23] bboule commented on #13158
@gig13 do you have what you need based on the disposition in SF tickets?  is this still needing information?

[2016-01-11 16:26] bboule commented on #14478
@gig13 can you open in SF?

[2016-01-11 16:32] edwardcrompton commented on #20470
There doesn't seem to have been any activity on this for while so I thought I'd have an attempt here
https://github.com/owncloud/core/pull/21625

I would appreciate your reviews @Henni @PVince81

[2016-01-11 17:01] oparoz commented on #10808
It's not going to happen any time soon because there are too many special cases to consider: https://github.com/owncloud/core/issues/17186

[2016-01-11 17:37] schiesbn commented on #21478
Yes, that's correct

[2016-01-11 17:45] schiesbn commented on #21434
As said on IRC, the master key is encrypted with the secret stored in config.php. You can't change this secret easily because it is also used in other places. So if we want to be able to replace the master key with a new one and also with a new password we need to introduce a new config.php option to store the master key password. If it is set we use this password, if not we fall back to the "secr

[2016-01-11 18:03] carlaschroder commented on #21570
A friendly reminder that Nginx is not officially supported. We maintain Nginx docs because it is popular, and because of awesome community contributors who maintain the Nginx pages. I can proofread, markup, and publish Nginx examples; I need someone who knows what they're doing to write out the exact steps.

[2016-01-11 18:10] carlaschroder commented on #20963
PHP 7 is still experimental. I'm not documenting it until it it is available in most distros and the kinks are worked out. It would be awesome if the people who are using it would start a Wiki page on their experiences https://github.com/owncloud/documentation/wiki

[2016-01-11 18:11] carlaschroder commented on #20963
And there is an admin manual page that lists required, recommended, and optional PHP modules, plus other prerequisites https://doc.owncloud.org/server/8.2/admin_manual/installation/source_installation.html#prerequisites

[2016-01-11 18:12] carlaschroder commented on #12215
Thanks @PVince81

[2016-01-11 18:15] edwardcrompton commented on #20629
This seems a little bit more involved than some of the other junior jobs I've had a look at. However, I thought I'd have a go at creating an add group command. I can expand this to other commands but it would be good to have a bit of reassurance I'm approaching it in the right way first. Would you mind taking a look at this pull request https://github.com/owncloud/core/pull/21627/files @PVince81 @

[2016-01-11 18:17] gig13 commented on #16927
@bboule Does this need to be assigned? Has it been approved?
SF 3966

[2016-01-11 18:23] mvl22 commented on #20963
No, it's not. It's officially released, having been through an large number of betas and Release Candidates.

https://wiki.php.net/todo/php70#timetable

[2016-01-11 18:25] carlaschroder commented on #20963
PHP 7 support in ownCloud is still experimental.

[2016-01-11 18:29] gig13 commented on #14478
@MTRichards @bboule    I reopened SF 00003068

[2016-01-11 18:35] gig13 commented on #13158
@bboule At this time I am all set, waiting for additional feedback from originating user

[2016-01-11 18:39] gig13 commented on #12764
Close out!

[2016-01-11 18:39] #12764 closed

[2016-01-11 18:41] jgrete commented on #20503
Works on 8.2.2 stable!
Thanks a lot!
Regards
Juergen

[2016-01-11 18:44] mvl22 commented on #20963
Thanks for the clarification.

However, that should probably be stated here if so:
https://owncloud.org/blog/php-7-is-here-and-owncloud-is-ready/
as there is no such indication.

Looking forward to the packaging issue noted above being solved and put into the main official release. Thanks for the hard work on that, to those that are working on it.

[2016-01-11 19:00] Akhenaton commented on #20963
@mvl22 I agree, this announce "ownCloud ready for php7" dated *December 3, 2015*, was misleading many users. And i must say the @enoch85 posts here had made me think everything was O.K with php7....  :confused:

[2016-01-11 19:00] RealRancor commented on #20963
cc @jospoortvliet

[2016-01-11 19:54] DeepDiver1975 commented on #21619
Create a copy of https://github.com/owncloud/core/blob/master/core/templates/layout.guest.php within the template directory - e.g. themes/example/core/templates/layout.guest.php

Within this file you can customize the basic layout as you like.

@gig13 please close if this fits your needs.

[2016-01-11 20:22] enoch85 commented on #20963
@Akhenaton Have you tried the VM I linked? Please do, and give it a thorough test, and then write here if you think PHP 7 is working with ownCloud or not. Here is the link again: https://en0ch.se/index.php/s/zfVYCMabgWdw90k

Just for the record: http://sabre.io/blog/2016/sabre-vobject-3.4.9-and-3.5.0-release/

And yes, some apps are not compatible with PHP 7 yet, but ownCloud is, IMHO.

[2016-01-11 20:37] RealRancor commented on #20963
@enoch85 SabreDAV 3.0 used by ownCloud is not compatible to PHP7 according to its author: https://github.com/owncloud/core/issues/21476#issuecomment-170441859 I think that guy should know this best. :-)

[2016-01-11 20:40] enoch85 commented on #20963
@RealRancor Yes, but SabreDAV will be updated in oC 9 right?

[2016-01-11 20:53] nidarian commented on #18772
@adrianoafonso - I get the same errors today.

[2016-01-11 21:27] bnvk opened #21633 "In calendar app the time (AM/PM) is cut off"
The experience I am having is:

In the "create new calendar event" modal which pops up, the time field only lists hours + minutes, while the AM / PM part is hidden (due to input field being too small). The only way to discover if an event is AM or PM is to put cursor into field and go to the far right

![owncloud-am-pm](https://cloud.githubusercontent.com/assets/48677/12247005/289d6460-b8b2-11e5-9

[2016-01-11 21:33] RealRancor commented on #21633
@bnvk Plese close and re-open in https://github.com/owncloud/calendar/issues using the issue template provided here: https://github.com/owncloud/calendar/blob/master/CONTRIBUTING.md#short-version

[2016-01-11 21:49] MTRichards commented on #19988
@PVince81 Thank you.

[2016-01-11 21:58] enoch85 commented on #20963
@Akhenaton Ok, so I did half of the work for you. ownCloud with PHP 7 is now on a public domain: https://owncloudphp7.techandme.se

USER: test_user
PASSWORD: testingphp7

Please connect with all the clients possible, and give it a good test!

I will remove it if I notice any abuse.

[2016-01-11 22:06] Xenopathic commented on #20963
@enoch85 @Akhenaton Just performed some basic tests on that test server with the sync client and CalDAV via Thunderbird, all seemed to work fine. I'm feeling more confident upgrading now...

[2016-01-11 22:09] enoch85 commented on #20963
@Xenopathic Thanks for that. Please continue to test if you want.

[2016-01-11 22:10] Xenopathic commented on #20963
@enoch85 Thanks for providing a test instance, it was really convenient :smile:

[2016-01-11 22:20] enoch85 commented on #20963
@Xenopathic Glad I could help.

Just tested the sync client with [this stress test](https://www.techandme.se/stress-test/). It took 10 minutes on PHP 5.5 on a quad core server. With PHP 7 it took 4 minutes on this dual core server. WOW, that's fast.

![php7](https://cloud.githubusercontent.com/assets/4511254/12248457/d1c55a3c-b8b9-11e5-9aa7-8d1db1cd0182.png)

[2016-01-12 01:29] enoch85 commented on #20963
Ok, found a thing that breaks. It works to sync from phone to OCcalendar, but not from OCcalendar to phone.

[code]

Other than that, all the tests I made worked. That is WebDAV, CalDAV, CarDDAV.

[2016-01-12 03:44] pellaeon opened #21635 "Area that opens the sidebar is too small, introduce double clicking?"
## Current behavior
- Single clicking on the name ( `<span class="nametext">` elements) opens it
- Single clicking on elsewhere within `<a class="name">` opens the sidebar

## Problem
- Area that opens the sidebar varies according to name length. I often accidently opens the file when I just want to view its sidebar.
- Clicking on the date `<td class="date">` nor the filesize `<td class="filesize"

[2016-01-12 03:49] pellaeon opened #21636 "Sidebar should show full file name"
There are enough spaces in sidebar, we should show the full file name, instead of requiring the user to hover over to see the full.

![2016-01-12 11 45 49](https://cloud.githubusercontent.com/assets/916913/12254335/33daee5e-b922-11e5-903c-0b73ebac5d60.png)
## Expected behavior

Sidebar shows the full file name, no tooltips.

[2016-01-12 08:44] nickvergessen commented on #21636
cc @jancborchardt

[2016-01-12 08:48] nickvergessen opened #21639 "Can not share with case sensitive userbackends and remote urls anymore"
We lowercase the search before passing it in to the backends:
https://github.com/owncloud/core/blob/372f54075fda0567d9df977b2e49ed1fdae0a60a/apps/files_sharing/api/sharees.php#L356-L356

For me this breaks remote shares, because my virtual host does not match anymore. Maybe others have a similar set up.

And the same may apply to user backends. if you have a case sensitive user/group backend, it w

[2016-01-12 09:01] rullzer commented on #21639
At least the user db backend does the lowering itself. And the same holds for the group backend. I assume other backends do it this way as well since if you pass it lowercase it still has to be matches properly.

I'll prepare a PR.

[2016-01-12 10:01] jospoortvliet commented on #19036
@VicDeo https://doc.owncloud.org/server/9.0/admin_manual/issues/code_signing.html shows what happens on an installed installation.

TL;DR: In general, unsigned apps for experimental or approved apps are just installed, nothing special. Official apps must be signed, that is mandatory.

The admin is warned about Integrity problems with a yellow notification bar on top and a link to the documentation

[2016-01-12 10:07] davitol opened #21642 "Error logs are written in owncloud.log file when a file is deleted in a DropBox mountpoint"
### Steps to reproduce
1. Configure a Dropbox mountpoint
2. Using web interface, delete a file from the Dropbox mountpoint
### Expected behaviour

No logs should be shown in owncloud.log file
### Actual behaviour

The following log is printed in owncloud.log file

[code]
### Server configuration

**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

**Database:** mysql

**PHP version:*

[2016-01-12 10:11] PVince81 commented on #4040
Something to look at: whether Flysystem's Dropbox library is properly managing memory. If yes, then might be easier to switch to using Flysystem's Dropbox impl.

CC @Xenopathic if you're looking for a challenge :wink:

[2016-01-12 10:11] spap2 commented on #18954
After upgrade to 8.2.2 from 8.1.5 we've got complains from every !!! user about fonts.
Though we use HP EliteDisplay E232 model, we do have problem.
Please make an easier update than the 7 steps proposed or make a selection menu for old/new style.

[2016-01-12 10:14] PVince81 commented on #17014
nothing lost, so you have the PR ? :wink:

[2016-01-12 10:17] PVince81 opened #21643 "Make web UI use the dav v2 endpoint"
@DeepDiver1975 is the dav v2 endpoint for files ready to be used ?

I wondered about whether and when we should make the web UI use that one instead.
Hopefully it's only a matter of renaming the URL from "remote.php/webdav" to "remote.php/dav/files/$user/" ?

Asking mostly in regards to testing. Is the files v2 endpoint ready ?

CC @SergioBertolinSG who asked about it

[2016-01-12 10:20] davitol commented on #21642
Log in as a non-admin user, deleting a file the following logs are written:
[code]

[2016-01-12 10:30] PVince81 commented on #21635
@owncloud/designers

[2016-01-12 10:40] PVince81 commented on #21642
Did you open the trashbin ? If yes you probably saw https://github.com/owncloud/core/issues/21378 which are unrelated to Dropbox.

The first message is indeed strange. Maybe it's because after deleting the file we check that the file is really gone from the remote, but forget to catch/ignore the exception.

[2016-01-12 10:49] davitol commented on #21642
@PVince81 You are right about my comment, I opened the trashbin, so it would be the other issue.
The issue should be only focus on the dropbox log written above.

[2016-01-12 11:15] PVince81 commented on #16305
@MTRichards there's a problem with "User Login, store in Session": it makes it impossible to run any cron tasks on that storage (occ files:scan or others) because the credentials won't be available.

So either we should get rid of that option and favor "store in DB" or add a big warning that tells that some important functionality might not be available.

[2016-01-12 11:17] DeepDiver1975 commented on #17014
I need to search my wip branches .,,.

[2016-01-12 11:18] Akhenaton commented on #20963
@enoch85 Thank you to have put on line your test site. Helpfull !  :smiley:
I've done very quickly (lack of time) one or two tests -cardDAV, calDAV, and it's good for me.
I regret though the confusion made for end-user that had to wait more than a full month to get a clear statement about the issue...  :disappointed:
Keep the good work going strong ! Cheers

[2016-01-12 11:39] enoch85 commented on #20963
@Akhenaton Sorry, just deleted the user, use `testuser` instead.

[2016-01-12 11:43] cscashby opened #21645 "Server errors causing client crash on first sync of large dataset"
OwnCloud Windows client crashes not long after startup - fairly large client dataset around 170 GB - against Server version 8.3.

I've reported in the client issues list but was advised to post here.  Additional logs can be provided if it's required.

Some errors in server log (Ubuntu ):

Exception: {"Message":"An exception occurred while executing 'INSERT INTO oc_file_locks (key,lock,ttl) SELECT

[2016-01-12 12:10] davitol opened #21646 "Using an external storage mountpoint, unchecking previews checkbox should disable the file previews"
### Steps to reproduce
1. Configure a Dropbox mountpoint
2. When configuring, uncheck 'Enable previews' checkbox
### Expected behaviour

The file previews should not longer be visible
### Actual behaviour

The previews are still available
### Server configuration

**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

**Database:** mysql

**PHP version:** 5.5.9

**ownCloud version:  own

[2016-01-12 12:16] #21639 closed

[2016-01-12 12:27] davitol opened #21647 "Rename ext storage MountPoint name option should not be enabled in files view"
### Steps to reproduce
1. Configure a Dropbox mountpoint
2. Go to files view
3. Try to rename the mountpoint
### Expected behaviour

The option rename should not be available in files view for the mountpoint folders
### Actual behaviour

The rename option is visible. Trying to rename the mountpoint a yellow warning is shown: Could not rename "Dropbox"

[code]
### Server configuration

**Operating

[2016-01-12 12:44] e-alfred commented on #21337
I thought about two solutions to this problem:

1. Only mark deleted files in the database, but leave them where they are without moving. If they get deleted permanently by the user, remove them from the disk.

2. Show a progress bar for any file operations (would be useful for cut, copy, paste as well) including deletion of files to the user on the web interface, maybe with a time estimate and a

[2016-01-12 12:54] aberndt2406 opened #21649 "database table "oc_jobs" isn't updated"
Steps to reproduce
1.change path of logfile in config.php
2.disable app "Versions"

Expected behaviour
1. old values path should be deleted
2. value "OCA\Files_Versions\BackgroundJob\ExpireVersions" should be deleted

Actual behaviour
values are still available

Server configuration
Operating system: openSUSE 13.2
Web server: apache 2.4.16
Database: mysql
PHP version: 5.6.1
ownCloud 8.2.1

[2016-01-12 13:05] Christophe42 opened #21650 "Getting folder size (length) via webdav propfind"
Not really a bug, but I want to get the folder size when listing files via webdav.
I understand there is performance penalty but users want to see it.
I know it is stored somewhere in an ownCloud cache (fscache?), so technically the information could be sent as this information is also shown in the web interface of ownCloud.

### Steps to reproduce
1. Create a folder
2. Upload some files to it
3.

[2016-01-12 13:12] martin-rueegg opened #21651 "[External storage - Webdav] remote rename not detected"
### Steps to reproduce
1. Make sure, you have a file/folder on your external webdav storage
2. Configure that external webdav storage as a user (might be the same for site storages, not tested)
3. Access the external storage in the browser, access the file/navigate into that folder
4. Rename the file/folder using an other webdav client
5. go to the parent folder within oc webclient. the file/folde

[2016-01-12 13:17] DeepDiver1975 commented on #21650
{http://owncloud.org/ns}size is supposed to hold the folder size

[2016-01-12 13:21] DeepDiver1975 commented on #21650
![bildschirmfoto von 2016-01-12 14-21-44](https://cloud.githubusercontent.com/assets/1005065/12264551/d5fb71bc-b937-11e5-98f2-e7088c6fb509.png)

[2016-01-12 13:22] DeepDiver1975 commented on #21650
wokrs for me -> close

[2016-01-12 13:22] #21650 closed

[2016-01-12 13:22] MTRichards commented on #16305
No choice but to keep it. Storing passwords in databases is a big no go for many of our customers, so for them we need to be crystal clear on the options and the implications.

@PVince81 won't the scan on access setting in the config file pick up these files, albeit quite slowly and when something is accessed?

@carlaschroder
Probably something we need to document - for external storage, when you

[2016-01-12 13:31] karlitschek commented on #21645
can you open this in the client repository please? Thanks

[2016-01-12 13:31] #21645 closed

[2016-01-12 13:34] Henni commented on #21373
This should be fixed by owncloud/files_pdfviewer#91. Please review!

[2016-01-12 13:36] cscashby commented on #21645
I did - https://github.com/owncloud/client/issues/4346#issuecomment-170847584 - advised to file it here.

[2016-01-12 13:43] etraff commented on #21462
in theory there should be no problem, as we follow the official update route 8.0.x to 8.1.x :-(

[2016-01-12 13:43] jospoortvliet commented on #11588
Right now, based on what I've seen, I would say that a reasonably well configured server/client setup can handle anything above 1 mb files at >10 mb/sec quite easily. There is room for some more optimization, of course.

However I wanted to note that if 10.000 files of 100 bytes is a scenario we want to support, realistically, there is probably no way around batching this on the client side by put

[2016-01-12 13:50] Christophe42 commented on #21650
I changed the request xml to be exactly like yours but still get the same response, are you using ownCloud 1:7.0.8 ?

[2016-01-12 13:51] karlitschek commented on #21651
@icewind1991 Is there something we can do here?

[2016-01-12 13:51] PVince81 commented on #16305
@MTRichards scan on access through web UI or sync client will work. The problem is for any cron job or CLI tool that requires access to the storage, like the "occ files:scan" command.

[2016-01-12 13:52] mikew opened #21652 "`Call to a member function isUserAgent() on null` after upgrading to 8.2.2"
Upgraded from 8.2.1 to 8.2.2 last night, things looked fine but the client cannot connect and I'm seeing this error all over the logs:

[code]

[2016-01-12 13:56] DeepDiver1975 commented on #21650
I'm using git master which is the upcoming OC9

[2016-01-12 13:56] DeepDiver1975 commented on #21650
Possibly this property was not supported back in oc7

[2016-01-12 13:56] #21633 closed

[2016-01-12 13:57] Christophe42 commented on #21650
Ok thanks for your support, we probably must (carefully) migrate to a new version.

[2016-01-12 14:14] martin-rueegg opened #21654 "upgrade disables all apps and removes enabled-for-group settings"
### Steps to reproduce
1. OC installation, e.g. 8.2.1
1. enable some apps, some of which for specific groups only
2. upgrade to v8.2.2, run ./occ upgrade

### Expected behaviour
during upgrade, all apps get disabled. after the upgrade, apps should be enabled again, maintaining the permission settings. If an app should fail to be enabled, then it should remain disabled and a notice given.

### Actu

[2016-01-12 14:31] RealRancor commented on #21654
From my PoV a duplicate of https://github.com/owncloud/core/issues/18721 where "Non-disruptive Upgrades" are discussed. If that is implemented apps don't need to be disabled during the upgrade.

[2016-01-12 14:33] karlitschek commented on #21652
Can you post a full bug report using the template please? https://github.com/owncloud/core/blob/master/CONTRIBUTING.md
And how did you upgrade?

[2016-01-12 14:34] karlitschek commented on #21649
@icewind1991 FYI

[2016-01-12 14:35] karlitschek commented on #21654
Yes. This is a duplicate

[2016-01-12 14:35] #21654 closed

[2016-01-12 15:12] davitol opened #21656 "An exception log message is shown in owncloud.log file when login with an Active Directory user."
### Steps to reproduce

1. As admin user, configure a Active directory
2. Log in oC with one user of the AD
3. Check owncloud.log file

### Expected behaviour
No log should be shown loging in oC.

### Actual behaviour

The following log is shown in owncloud.log after log in with a LDAP user, but the user can log in.

[code]

### Server configuration
**Operating system**: ubuntu 14.04

**Web server

[2016-01-12 15:13] davitol commented on #21656
@blizzz Not sure if it is a bug or not

[2016-01-12 15:17] pellaeon opened #21657 "`Call to a member function acquireLock() on null` during installation"
in /var/www/html/owncloud/lib/private/files/view.php on line 1838

## Steps to reproduce
1. clone the owncloud core repo, cd into it
2. git submodule init, git submodule update
3. visit setup page, fill in MySQL/MariaDB database credentials
4. submit
5. it shows a blank page, in Apache error log:
`PHP Fatal error:  Call to a member function acquireLock() on null in /var/www/html/owncloud/lib/priva

[2016-01-12 15:31] nickvergessen commented on #21649
versions and trashbin should be affected both in the same way.

We could simply fix it by listening to the `'OC_App', 'pre_disable'` hook and if the app is the same app remove the background job:
[code]

However when re-enabling the app, the job is not readded (only on install or update, not on enable).
So unless we have a fix for that, we may have to live with this.

[2016-01-12 15:33] pellaeon opened #21658 "Input boxes rounded corners are placed wrongly on setup page, caused by #21377"
![2016-01-12 11 18 45](https://cloud.githubusercontent.com/assets/916913/12267714/6dfe8a5c-b984-11e5-9adc-4b14c7922dac.png)
![2016-01-12 11 19 00](https://cloud.githubusercontent.com/assets/916913/12267715/73d8203c-b984-11e5-8566-074ec862e403.png)

See the `.groupbottom` elements (inputs at the bottom), rounded corners are placed wrongly. If I revert #21377 it works again.

[2016-01-12 15:36] pellaeon commented on #21658
Relevant: #21377 @ChristophWurst

[2016-01-12 15:40] nickvergessen commented on #21656
Removing "needs info" because that makes developers ignore the ticket, because the label means that the author of the issue needs to post more details.

[2016-01-12 15:54] aberndt2406 commented on #21649
...what about the old logfile path?

Regards
Achim

Von meinem Windows Phone gesendet
________________________________
Von: Joas Schilling<mailto:notifications@github.com>
Gesendet: �12.�01.�2016 16:32
An: owncloud/core<mailto:core@noreply.github.com>
Cc: Berndt, Achim<mailto:aberndt@studio-hamburg.de>
Betreff: {Disarmed} Re: [core] database table "oc_jobs" isn't updated (#21649)

versions and tra

[2016-01-12 15:57] jancborchardt commented on #21635
The sidebar is alsp opened by clicking on Share, and the Versioms and Details entries in the menu. Bringing it up on clicking the rest of the row is just an addition, so I see this as a non-issue.

Definitely double-click is not something we will introduce, as it is not used anywhere on the web for actions like these. (Except zoom mechanisms on Maps / Picture apps.)

[2016-01-12 16:12] nickvergessen commented on #21652
The method was added in 8.1, and I can't see that error happening, and there is no way `$this->request` can be false with core and the shipped apps.

So more information is needed.

[2016-01-12 16:28] PVince81 opened #21661 "Properly encrypt password in oc_external_config"
Before migrating from mount.json to the database, passwords were encrypted in the config file.

Now that we are using the database, the same approach must be used.

@icewind1991 @LukasReschke

[2016-01-12 16:29] LukasReschke commented on #21661
While at it can we migrate from the previously used approach and use `ICrypto`, if possible?

[2016-01-12 16:42] pellaeon commented on #21635
Google Drive uses this, single click select, double click open.

If I send a PR to enable opening sidebar on rest of the row, will you accept it?

Let me illustrate my points a bit more, first let me define the areas:
1. the area that opens the file is `<span class="nametext">`, whose height equals the `td`, and width equals to the length of the text. It not only includes the text but also white s

[2016-01-12 17:02] PVince81 commented on #21651
In general update detection does not work properly for etags and the sync client.

HOWEVER when accessing the folder directly in the web UI, `hasUpdated` should be called already.
This should work, potentially a regression.

[2016-01-12 17:05] PVince81 commented on #21651
It works for me with a SFTP storage, it can detect remote renames.
So this issue is specific to Webdav and not the storage system.

@martin-rueegg what Webdav server did you connect to ? Apache with mod_dav ?

[2016-01-12 17:08] jancborchardt commented on #21636
Sorry but this simply does not scale. If the filename is that long it will still be shown fine in the list. And if it's even longer … we need to cut it off somewhere. So we'd rather do it at 1 line.

Cc @owncloud/designers

[2016-01-12 17:12] jancborchardt commented on #21635
Then I would rather say that the rest of the whitespace should either select the file, or simply also open it.

[2016-01-12 17:23] karlitschek commented on #21658
@jancborchardt

[2016-01-12 17:30] SergioBertolinSG opened #21667 "Sharee API perPage parameter is returning double users as expected when having a LDAP backend setup."
### Steps to reproduce

1. Have many regular users in an owncloud server or create them.
2. Enable LDAP backend with several users.
3. Make a request to the sharee API to get a list of users for sharing using pagination (page 2 is used in the example)

[code]

### Expected behaviour
3 users are returned.

### Actual behaviour
6 users are returned.

3 regular users and 3 from LDAP.

### Server conf

[2016-01-12 17:30] SergioBertolinSG commented on #21667
cc @rullzer

[2016-01-12 17:35] davivel commented on #19331
@rullzer, I have a question

What's the need to have a READ bit in permissions of a Share? Is there any situation where a valid Share should have a value 0 for that bit?

I am writing some automatic tests for updating permissions in the Android app and I thought that updating a Share to remove the READ permission would fail, but that's not the case.

Thanks.

[2016-01-12 17:46] ChristophWurst commented on #21658
@jancborchardt should we use a more specific rule instead?
I've played around a bit and the best solution I can find is the following change:
[code]

This reverts the modifications of #21377 and simply unsets the box shadow for the submit button (arrow) only. This works for the login page and the setup page. Is there any other view that might be affected?

[2016-01-12 18:20] LukasReschke opened #21669 "Installation broken on master"
I see the following when trying to install with SQLite:

[code]

[2016-01-12 18:22] LukasReschke commented on #21669
[code]

[2016-01-12 18:23] LukasReschke commented on #21669
Broken with https://github.com/owncloud/core/pull/21336

[2016-01-12 18:24] cmonteroluque commented on #18268
@icewind1991 ping

[2016-01-12 18:27] martin-rueegg commented on #21651
it's the [sakai](https://sakaiproject.org/) webdav implementation v2.9.3
project source: https://source.sakaiproject.org/svn/dav/tags/sakai-2.9.3/

i've tried to replicate it with a box.com account, and in fact it is working. so it seems to be that the sakai implementation does not populate the change correctly, which would make it an sakai issue, and as such can be disregarded in oC.

sorry for t

[2016-01-12 18:29] LukasReschke commented on #21651
On a related note: Box.com is using SabreDAV as well (the same component we use to connect to WebDAV shares), so a compatibility with box.com is always very likely.

[2016-01-12 18:30] rullzer commented on #19331
@davivel well it is there for legacy reasons. We used to allow removing it (which resulted in broken shares). So right now it is just always added. Even when you create a share without read permissions they will be added automatically.

If you try to remove them it will thus allow the call. But if you then fetch the share again the read permissions should still be there.

[2016-01-12 18:30] martin-rueegg commented on #21651
@LukasReschke i was thinking about any other implementation. but for google drive and dropbox i only found relay services, and don't want to send them my credentials, of course.

suggestion for any other implementation i could try with?

[2016-01-12 18:38] LukasReschke commented on #21669
Stack trace:
[code]

[2016-01-12 18:46] icewind1991 commented on #21669
No clue how that stack trace relates to certificate stuff...

[2016-01-12 18:50] martin-rueegg commented on #21651
i tried skydrive via https://d.docs.live.net/{skydrive-id}/, but that doesn't work in the first place:

    Error	files_external	Method Not Allowed	a minute ago

[2016-01-12 18:54] MTRichards commented on #16305
Got it. If the user is not in with an active session, or even if they are (since we can't access the session veriable) we can't access the storage from any ownCloud server Cron initiated job.
Got it.

[2016-01-12 18:58] cmonteroluque commented on #19941
@DeepDiver1975 ping

[2016-01-12 19:09] martin-rueegg commented on #21651
next i tried is [swissdisk](https://disk.swissdisk.com/{username}) but while the configuration is accepted, the access to the storage in the webclient results in an error:

    Error	files	Sabre\HTTP\ClientHttpException: Not Found	a few seconds ago
    Fatal	webdav	Sabre\HTTP\ClientHttpException: Not Found	a few seconds ago

[2016-01-12 19:24] Julian1998 commented on #17408
@jancborchardt What is a good error message?

Red color - User doesn't exist

Any suggestions? ;)

[2016-01-12 19:32] gig13 opened #21670 "Slow database queries -- Best details on optimizing"
### Expected behaviour

Queries should not take an excessive amount of time.
### Actual behaviour

After some research we found a big latency when a query is done:

[code]

Also generally slow on oc_filecache

[code]

Is there a way to optimize the oc_filecache table?
### Server configuration

**Operating system**: Debian 7.7

**Web server:** nginx 1.6.2

**Database:** Mariadb 10.0 in a passive/ac

[2016-01-12 19:37] gig13 commented on #21670
Creating an index using the command below give us a result 100X
faster:

[code]

Is there a listing of other indexes that would help improve OC performance? Why isn't this INDEX added by the install scripts by default?

[2016-01-12 19:55] rullzer commented on #21667
@SergioBertolinSG well it is expected that you get both. Since we query both backend.

[2016-01-12 20:30] LukasReschke commented on #21669
This is caused by https://github.com/owncloud/core/commit/c15cab7ed6bf2d3ce9009ca09c7c5f33b252860f#diff-532788c3725aedf2a48a1300573ed382R65 which is called in the setup routine.

[2016-01-12 20:36] LukasReschke commented on #21669
It calls `\OC\Security\CertificateManager::needsRebundling` which iniitiates the view before ownCloud is installed => :bomb:

[2016-01-12 20:50] LukasReschke commented on #21669
Patch: https://github.com/owncloud/core/pull/21671

[2016-01-12 20:52] rullzer commented on #21670
Ah like queries... the root of all evil ;)

Regarding the index. I don't think our current DB schema does not allow to create indexes of length I believe.

@DeepDiver1975 another case once we switch fully to doctrine

[2016-01-12 21:48] blizzz commented on #21656
Cannot reproduce with one AD.

But I think I know what is going on. You have more than one active LDAP configuration. The provided data is passed to the first LDAP server, to which the user attempting to login does not belong. So looking for the user will not return any result. This results in an exception which is being logged. So the login is attempted against the next LDAP server, to which the

[2016-01-12 22:59] alve89 opened #21672 "Feature Request: Default user group for new users"
I think it was very helpful to set a config value that assigns a new user (who was authenticated against for example IMAP) to a specified group (e.g. "employees").
Otherwise there's always an action of an admin needed and an admin is not always available, so this new user is not able to use previously shared data.

What do you think about this?

[2016-01-12 23:15] karlitschek commented on #21672
Good idea. But this is something that could be done on the IDP / LDAP side. I don't think this is necessarily the business of ownCloud.

[2016-01-12 23:15] #21672 closed

[2016-01-12 23:44] anomaly256 commented on #21597
Ok thanks... It doesn't show there, I'll check out the support channels provides

[2016-01-13 06:02] alve89 commented on #21672
Sorry für reopening - but what should a user do, who doesn't have any external identity solution? Because that's (for me as a web hosting user) the reason why I use IMAP authentication.

If there's no way to implement it, could you at least tell me if there's a method / function to assign a user to a group Sinai can modify the IMAP authentication?

[2016-01-13 07:21] DeepDiver1975 commented on #19941
As soon as there is time left I can have a look

[2016-01-13 07:36] davitol commented on #21656
@blizzz  Yes, you are right, there's an LDAP and a AD configured in oC server.

[2016-01-13 07:38] SergioBertolinSG commented on #21667
I think it should return just 3 users and not differentiate between LDAP and regular users.

@davivel Is having trouble with this in the android app.

[2016-01-13 07:46] rullzer commented on #21667
Well there is no way to do this properly. We can't filter out all the users that are in LDAP and in the local db. If a user wants to switch to LDAP they should empty their local user db...

I don't see a different (scaleable) solution... @nickvergessen

[2016-01-13 07:46] mmattel opened #21674 "Error: Call to a member function acquireLock() on a non-object"
### Steps to reproduce
1. Clone master to a local repository
2. Set access rights
3. Try to finalize install

### Expected behaviour
Install should pass and the main sceen should open

### Actual behaviour
Install seems to pass, but you get a blank white screen.
./occ tells that the instance has not been installed.
owncloud.log shows an error.

Note: I tried it 3 times with the same result. The da

[2016-01-13 07:59] RealRancor commented on #21674
Looks to me like https://github.com/owncloud/core/issues/21657

[2016-01-13 08:00] nickvergessen commented on #21667
This is expected behaviour and can't be changed, since we can't know which set of user's we'd need from which backend.
Mixed backend usage is also only a fantasy use-case, as rullzer already said, local users should be migrated away, the only user that should remain in the user backend is the admin user from installation, to be sure to still have access when the ldap backend breaks.

So closing, b

[2016-01-13 08:00] #21667 closed

[2016-01-13 08:01] IngoBelka opened #21675 "Not all subfolders are shown of a shared folder"
Hello,

we are using very successfully owncloud in our intranet.

Now I did share a folder with 34 subfolders via public link only for the download of some installation files. owncloud only displays maximum 19 of the 34 subfolders depending of the fonts size. I took a look into the html source and in that table with the id "filestable" there are lines only for the first 19 subfolders.

Currently a

[2016-01-13 08:07] RealRancor commented on #21675
Could be a duplicate of https://github.com/owncloud/core/issues/21373 or https://github.com/owncloud/core/issues/21203

[2016-01-13 08:12] djibux commented on #9832
I am having the issue on a shared server (on which I cannot change the server configuration).  The [Upload Limit workaround](https://github.com/owncloud/core/issues/9832#issuecomment-112305152) suggested above seems to do the job for me.

[2016-01-13 08:20] nickvergessen commented on #21656
Sounds good, unluckily the `logException()` method does not allow that, maybe we can add that.

[2016-01-13 08:24] nickvergessen commented on #21636
PS: the screenshot is not from the list, but from the sidebar. Could also show more then 5 lines there, it's about the file only, and the name is the most important part there?

[2016-01-13 08:28] jancborchardt commented on #8517
This is a bug, because no feedback makes it seem like the system is broken. @blizzz or @icewind1991 can you fix this, or cc the person who can?

[2016-01-13 08:36] jancborchardt commented on #21658
body-login and groupbottom is only use for log in and installation afaik. So go for it. :)

[2016-01-13 08:42] jancborchardt commented on #17408
@Julian1998 thanks for picking this up! A good error message is the same as I mentioned in https://github.com/owncloud/core/issues/8517 – should ideally appear as the dropdown where normally the name suggestions are shown.

[2016-01-13 08:46] jancborchardt commented on #21636
There's basically already a layout issue as the text and info should be shown right next to the thumbnail. cc @icewind1991 cause you implemented the layout switch.

Can you reproduce that @nickvergessen (I can't).

We could maybe add a second line but will have to see how it looks.

[2016-01-13 08:49] PVince81 commented on #21675
Closing as duplicate.

If you think it's a different issue, please use the issue template: https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

[2016-01-13 08:49] #21675 closed

[2016-01-13 08:54] PVince81 commented on #21657
Works for me with my usual checkout on the same commit and also latest master.

Did you also git clone any apps ?

[2016-01-13 08:54] PVince81 commented on #21674
Closing as duplicate of https://github.com/owncloud/core/issues/21657

[2016-01-13 08:54] #21674 closed

[2016-01-13 08:55] PVince81 commented on #21657
More info in this duplicate ticket https://github.com/owncloud/core/issues/21674 (nginx)

[2016-01-13 08:57] PVince81 commented on #21657
@icewind1991 can you have a look ?

@mmattel @pellaeon are you able to bisect the issue to find which commit introduced this issue ?

[2016-01-13 09:01] PVince81 commented on #21365
Can we add a new column in oc_filecache to store the original non-normalized file name ?
@DeepDiver1975 @karlitschek @nickvergessen

[2016-01-13 09:02] PVince81 commented on #21365
and @icewind1991

[2016-01-13 09:04] PVince81 commented on #21657
@LukasReschke is this similar to the install issue you found on master ? https://github.com/owncloud/core/issues/21669

[2016-01-13 09:04] jancborchardt commented on #20208
@BernhardPosselt can you maybe prepare a PR with a very light blue (or very light grey if that looks better) as background color? Only for the currently active entry though, not for hover or anything else.

[2016-01-13 09:07] PVince81 commented on #21651
Update detection with Webdav is done with the "getlastmodified" Webdav attribute (mtime) on the folder.
So if the sakai implementation doesn't change the folder's mtime or doesn't deliver it, it might not be possible to properly detect changes.

[2016-01-13 09:07] nickvergessen commented on #21636
Right, it depends on the window size. Seems to change at about 1540 pixels width,
narrow window has thumbnail above the info:
![files_-_owncloud_-_2016-01-13_10 05 39](https://cloud.githubusercontent.com/assets/213943/12289733/611ce35c-b9dd-11e5-9b36-1b405fe9fa31.png)
Few pixels added, move it to the side:
![files_-_owncloud_-_2016-01-13_10 05 59](https://cloud.githubusercontent.com/assets/213943/

[2016-01-13 09:07] jancborchardt commented on #21508
Totally agree this is an issue. Seems to be JS specifically rather than design tho, right?

[2016-01-13 09:07] LukasReschke commented on #21657
Different error message but likely to be the same due to the view instantiation.

[2016-01-13 09:09] nickvergessen commented on #21365
technically or in terms of "should we".
With a millions of entries the migration step is going to take hours, so I'd rather use another way when possible.

[2016-01-13 09:10] jancborchardt commented on #20699
@butonic Public upload is a really nice/simple and often requested & used functionality. I don't see any UX-related reason to remove it. Or what do you exactly mean?

[2016-01-13 09:12] jmaciasportela commented on #20599
@PVince81 yes we can close it.

[2016-01-13 09:12] #20599 closed

[2016-01-13 09:12] jancborchardt commented on #21588
Yeah, we just need the star icons as SVG. Setting as Junior Job if anyone wants to do it. The actions/star.svg and actions/starred.svg are good for that.

Otherwise I'll fix that when there's time.

[2016-01-13 09:13] PVince81 commented on #21508
Yes, JS. I pinged design to get a confirmation that it's what we want.

[2016-01-13 09:15] PVince81 commented on #21365
Both.

I don't see another solution for this, except maybe having this value in a separate table, mapped by file id. If we don't store the non-normalized name there is no way to properly match it on the remote storage.

[2016-01-13 09:19] jancborchardt commented on #21537
This is one of the reasons why allowing sign in with email and making sure emails are unique is so important.

People might not remember their username for a specific platform, but usually know their email address. Making sure that's part of our flow will also make it easier to integrate with other systems.
(Just in case you don't know: big platforms like FB and others also allow log in via email

[2016-01-13 09:19] PVince81 commented on #21670
I don't see any index on "path", only one on "path_hash" for far.

@icewind1991

[2016-01-13 09:21] jancborchardt commented on #21636
Yeah, also saw that now. Is a CSS issue then, cc @owncloud/designers

[2016-01-13 09:22] PVince81 commented on #21647
Yeah, this is due to the move to Webdav. Currently the Webdav permissions do not tell whether such folder can be renamed or not.

[2016-01-13 09:22] martin-rueegg commented on #21651
but, how does the folder get identified? if it's by path, then the folder/file - once renamed (without being replaced by an other item with the same name) - should not be found, hence the `getlastmodified` should fail. (that is just my own plain logic and might be wrong.)
so the question would be, why does it not detect, that the assumed path has gone, and re-invoke a scan of the parent folder to

[2016-01-13 09:23] PVince81 commented on #21646
Does this also happen for other storage types or only Dropbox? (generic issue vs storage specific issue)

[2016-01-13 09:23] martin-rueegg commented on #21651
can i enable/provide some extended logging?

[2016-01-13 09:26] PVince81 commented on #21651
The workflow should be as follows:

1. Mount DAV storage in ownCloud
1. OC scans it and can display the folders in the web UI
1. Let's pick a folder "test" on the DAV storage. OC stores its mtime (from "getlastmodified" DAV property) in oc_filecache, in the storage_mtime column.
1. Go to a folder "test" in the web UI, see contents
1. Now remotely rename a subdir "test/sub" to "test/sub_rename".
1.

[2016-01-13 09:29] #21669 closed

[2016-01-13 09:29] PVince81 commented on #21651
What you can try:

1. Create a folder "test" on the Sakai server
2. Create a subfolder "test/sub" on the Sakai server
3. Create a local file propfind.txt:
[code]

4. Then run:
[code]
5. Write down the output
6. Directly on the Sakai server, rename "sub" to "sub_renamed"
7. Do the same curl command again
8. Compare the values of "getlastmodified" from the output.

For ownCloud to work properly, at

[2016-01-13 09:33] McNetic commented on #21342
In fact, neither php5-cgi nor php5-fpm are required. Owncloud is also fine with mod_php.

[2016-01-13 09:34] #20484 closed

[2016-01-13 09:34] #21598 closed

[2016-01-13 09:36] mmattel commented on #21657
I did not clone any apps, only cloning core including submodules

[2016-01-13 09:37] Crotriop opened #21677 "A lot entries in the oc_jobs Table"
I recently checked the oc_jobs Table of the mysql DB and saw that there are around 41.000 entries, most of them look like this:

http://imgur.com/d21hf5T

I've been told to report this to you, not sure if the template is any use but I complete this as good as possible.

### Steps to reproduce
Don't know, I just saw the issue

### Expected behaviour
less entries in this table ?

### Actual behaviou

[2016-01-13 09:39] PVince81 commented on #21677
Is your cron running properly ? It should have processed such jobs.

But also there was a bug in the past where the entries did not get deduplicated, which was fixed. But older entries might still live in the database.

Can you check the full string behind the "\Expire" column ? (it's truncated in your screenshot)
Are they all the same ?

[2016-01-13 09:40] PVince81 commented on #21677
CC @MorrisJobke

[2016-01-13 09:40] SergioBertolinSG opened #21678 "Renaming and moving displays an error in public shared folder with edit permissions."
### Steps to reproduce

1. Public share a folder, Allow editing.
2. Using another browser without login, try to rename a file.
or
2. Using another browser without login, try to move a file to another folder.

### Expected behaviour
Files are renamed or moved.

### Actual behaviour
Error is displayed.

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:*

[2016-01-13 09:52] butonic commented on #20699
I only mean the technical solution in the background. I fully acknowledge the use cases for public sharing.

[2016-01-13 09:53] Crotriop commented on #21677
Wow, thanks for your swift response !

I use Ajax cron and this seems to do it's job http://imgur.com/8QVk3RZ
It also seems that these entries (checked 5 of them) are all different, mainly. check yourself:
3 examples
http://imgur.com/YRJoSK3
http://imgur.com/HaUVzrW
http://imgur.com/H73Np46

[2016-01-13 09:54] #21542 closed

[2016-01-13 09:54] DeepDiver1975 commented on #21678
which one?

[2016-01-13 10:01] SergioBertolinSG commented on #21678
OK, edit, the operation actually happens.

It just displays an error.

When moving Could not move {filename}
When renaming Could not rename {filename}

Some logs:

[code]

[2016-01-13 10:01] davitol opened #21680 "A log is written in owncloud.log when editing a text file that has been fed shared with a LDAP user"
### Steps to reproduce
1. As admin user, configure a LDAP
2. Federate share a file.txt with a LDAP user
3. Log in oC with one user of the AD
4. Edit the file
### Expected behaviour

No log should be shown loging in oC.
### Actual behaviour

The following log is shown in owncloud.log after editing the file with a LDAP user, but the user can edit the file.

[code]
### Server configuration

**Operati

[2016-01-13 10:01] MorrisJobke commented on #21677
Ah yes. This is already fixed. Let me lookup the PR.

[2016-01-13 10:02] DeepDiver1975 commented on #21678
that's the one ...

@rullzer @icewind1991 @schiesbn mind having a look? THX

[2016-01-13 10:04] MorrisJobke commented on #21677
versions jobs: #21109
trashbin jobs: #20790

Both went into 8.1.5 and 8.2.2. So simply upgrade to one of those two versions and wait. The jobs table then should get smaller over time.

[2016-01-13 10:04] #21677 closed

[2016-01-13 10:04] Crotriop commented on #21677
Ahm, I am on 8.2.2

[2016-01-13 10:04] PVince81 commented on #21677
@Crotriop if you have lots of files, ajax cron is unlikely to be suitable as it won't run often enough.
Best is to use system cron.

[2016-01-13 10:04] Crotriop commented on #21677
Ok I'll try that

[2016-01-13 10:05] MorrisJobke commented on #21677
Then you maybe want to run one time the system cron from the command line (to clean up all the old entries - this will take some time) and then the ajax one may be capable to catch up with the fewer incoming jobs.

[2016-01-13 10:13] Crotriop commented on #21677
I'm on a shared hosting with no access to the commandline.
I've switched to "cron" in the Admin Page and it did not gave an error.
How long shall I wait for this to be completed ?

[2016-01-13 10:16] PVince81 commented on #10237
Please try again with the latest OC versions, 8.1.5 or 8.2.2.
If you're still having this issue, feel free to reopen.

[2016-01-13 10:16] #10237 closed

[2016-01-13 10:23] martin-rueegg commented on #21651
thanks, @PVince81, i did as you proposed:

[code]
interestingly enough, there was no `getlastmodified` in the first place!

as such, after renaming `sub` to `sub_rename`, the diff was:
[code]
as a matter of fact, the `storage_mtime` is 0, as is the `size`:
[code]

according to the webdav spec, the [getlastmodified](http://www.webdav.org/specs/rfc2518.html#PROPERTY_getlastmodified) is not a mandato

[2016-01-13 10:23] PVince81 commented on #16325
I started implementing the GUI here: https://github.com/owncloud/core/pull/20847

But I realized that it doesn't match the GUI requirements.

From what I remember when discussing with @jancborchardt, it should look like this:
- tags input field looks like a regular non-editable field with a dropdown button, like https://github.com/owncloud/core/issues/16325#issuecomment-152983158 and also like in

[2016-01-13 10:24] davitol commented on #21646
@PVince81 Tested in SFTP and fails, but it works using local as external storage. Let me check with all the storages types available and I will write the results here.

[2016-01-13 10:26] PVince81 commented on #21651
Ouch. There is no way for OC to properly detect updates if the DAV server returns neither etag nor mtimes. But also you won't see any dates displayed in the web UI, so it is likely that it won't be usable.

Can you replace "getlastmodified" with "lastmodified" in curl, just in case ?

[2016-01-13 10:27] PVince81 commented on #21646
If SFTP fails too, then it's likely a global issue.
The "Local" one is a bit special.

So if you find 2-3 non-local storages that don't work, it's enough to qualify as "general issue"

[2016-01-13 10:36] paoloB132 opened #21683 "owncloudcmd return"
owncloudcmd --version
ownCloud version 2.1.0
Using Qt 5.4.2

calling it from command line in order to manually sync, returns all time unrecognized option like:

owncloudcmd /root/mydir  https://mycloud.mydomain
Unrecognized option '/root/mydir'
Try 'owncloud --help' for more information

I want to sync manually and no interactive ... any hints ?

Regards,
Paolo.

[2016-01-13 10:37] davitol commented on #21646
Tested also in SMB and it doesn't work, so let's qualify it as "general issue"

[2016-01-13 10:42] martin-rueegg commented on #21651
yes, indeed not very nice! :-D

also the `lastmodified` property is 404.
(as far as the displayed dates is concerned, there is a certain inconsistency: /test currently shows a date, while /test/sub_renamed and /literature do not. in windows, no folder shows any time. so the date on /test might be a result of file:scan which detected the rename?)

however, even if there is no way to find the rename

[2016-01-13 10:44] DeepDiver1975 commented on #21683
Please reopen in the client repo - THX

[2016-01-13 10:44] #21683 closed

[2016-01-13 10:48] PVince81 commented on #21651
This is simply because most of the ownCloud code works based on what's in the "oc_filecache" instead of directly connecting to the remote. This is for performance reasons. So when navigating into folders that have not changed, it would do less queries to the remote storage. There is currently no way to bypass this and tell it to always go directly to the remote.

So for such cases like Sakai the o

[2016-01-13 10:49] PVince81 commented on #16325
So far it looks like select2 doesn't support this use case: https://github.com/select2/select2/issues/411 and requires additional hacking to make it work.

[2016-01-13 11:05] PVince81 commented on #16325
@jancborchardt also how to make it clear for the user that the tags are system-wide, especially when renaming/deleting ? (pencil/trash)

[2016-01-13 11:13] martin-rueegg commented on #21651
but as you laid out in your [comment](https://github.com/owncloud/core/issues/21651#issuecomment-171228896), point 7, you said that on a refresh of the page, a PROPFIND is invoked on the server. if that is the case, than the PROPFIND should, as i showed above, be replied with a 404. thus, this 404 is currently not having any effect, as it seems. and this seems weird to me.

'cause how can OC tell,

[2016-01-13 11:24] davitol opened #21685 "Changing values of 'Available for textbox' generates a log error in owncloud.log file"
### Steps to reproduce

1. As an admin user, configure an external storage mountpoint
2. In admin view change 'Available for textbox' value.

### Expected behaviour

No log error should be shown in owncloud.log file

### Actual behaviour

The following log error is printed in owncloud.log file

[code]

### Server configuration
**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

**Dat

[2016-01-13 11:28] butonic commented on #12349
Hmmm what is their use case then? For most enterprise customers this is the exact use case
1. Create a user "user1"
2. Create a user "subadmin"
3. Make "subadmin" a subadmin and member of a new group "group1"
4. Login as "subadmin"
5. add user "user1" to "group1" <- currently not possible

Actually, user1 typically comes from ldap. Furthermore, they don't want subadmins to manage quota. They subam

[2016-01-13 11:31] pako81 opened #21686 "How to delete temporary database tables created during the Upgrade process"
### Steps to reproduce
1. Upgrading oC from 8.2.1 to 8.2.2 by using the occ command and without the --skip-migration-test option
2. Upgrade fails after filling up the local file system because of not enough available storage
3. Running again the occ upgrade command this time with the --skip-migration-test option: this time upgrade succeeds
4. After upgrade, Database still contains the temporary ta

[2016-01-13 11:32] PVince81 commented on #21651
I see your point. Unfortunately there is currently no logic to detect whether the remote call's response did not match whatever is in oc_filecache (ex: cache says folder exists but remote call gives 404), with automatic adjustments. Could be a nice enhancement.
@icewind1991 what do you think ?

[2016-01-13 11:45] SergioBertolinSG commented on #21203
This works correctly in master.
Reproduced on stable8.2

[2016-01-13 11:46] Pazu opened #21687 "rmdir permission denied errors involving"
I'm running owncloud 8.2.2 now and I've been seeing some "rmdir permission denied" errors dating back a while now.

[code]

Does anyone know what these are about? I can find no reference to _oc_tmp_fusAXP-folder_ in this repository.

Obviously I can post more detailed server information in case anyone recognizes what this is.

[2016-01-13 12:01] martin-rueegg commented on #21651
whether or not this should be called a _bug_ or an _enhancement_ is maybe a question of interpretation. IMHO, a procedure that is designed to detect changes, but does not handle the case where a resource in question is actually gone, is an incomplete (and in terms of _change detection_ deficient) implementation.

the current implementation assumes that a user does indeed traverse the entire path i

[2016-01-13 12:13] Qixuga commented on #21360
I have the same problem with new version und new client. May be it seems to be a character problem in given path.
tuxayo got a "é" in his path, an i got a "#" in my path. Upload worked fine but client-errorlog contains the path with # transcoded in %23. I also can't download it via web-interface.
may be that help to solve?

[2016-01-13 12:23] MorrisJobke commented on #21677
Without her ver access you can't properly setup the cron mode:  https://doc.owncloud.org/server/9.0/admin_manual/configuration_server/background_jobs_configuration.html#cron

As alternative you can set the cron mode to ajax again and then call it via script very often (and not only once every page load.

In a unix shell you should be able to do following to call the cron.php every 0.2 seconds. Thi

[2016-01-13 12:29] Crotriop commented on #21677
Ah thanks, this seems to help. The Number is going down slowly now.

Thanks god I got that RaspberryPi :)

Thanks for your help !

[2016-01-13 12:41] ghost opened #21688 "Enhancement : Create a Unique Share URL linking to website OR local hard disk (if client is installed)"
I would kile to propose an enhancement for sharing a file link between owncloud users (not a public share)...
#### Pain
- When adding files to OC, how to make the users aware of this ?  Usually, we send an email "Hey look at this file..." but which URL should be provided there ?
- There is no quick URL that allows a user to acces the file... and no way to provide a quick download/preview link :-(

[2016-01-13 12:45] MorrisJobke commented on #21656
@blizzz I added this to allow the admin to detect such cases. Putting it in debug will again make such issues hard to detect :( On the one hand for this backup setup it would be useful to hide it, but for another setup where the LDAP connection is broken or the user is simply wrong, it is maybe useful to have it available in the logs.

[2016-01-13 12:45] stephane84 commented on #21688
@dvergeylen

[2016-01-13 12:49] MorrisJobke commented on #21686
[code]

it's not a directory but it copies it over to a new table (or better copies each table to a new one, runs the upgrade on them and then deletes them) ;)

[2016-01-13 12:56] Commenter123 opened #21689 "Can't use custom wizard template for own theme"
https://doc.owncloud.org/server/8.1/admin_manual/operations/theming.html#theming-the-first-run-wizard

This doesn't work. I copied over `apps/firstwunwizard/templates/wizard.php` to my theme dir, but new users still see the default wizard.

[2016-01-13 12:59] davitol opened #21690 "Creating a personal DropBox mountpoint, logs are written in owncloud.log"
### Steps to reproduce

1. As an admin user, configure a DropBox personal mountpoint
2. Go to files view and browse into the mountpoint.

### Expected behaviour

No log error should be shown in owncloud.log file

### Actual behaviour

The following log error is printed in owncloud.log file

[code]

### Server configuration
**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

**Databas

[2016-01-13 13:01] MorrisJobke commented on #21686
There are tables generated with the same name but added 13 random characters:

`oc_filecache` will then be something like `oc_lkjashfiwnciwfilecache`

Simply drop those tables with the random characters in the name. In Sqlite it will generate a new database file with the name `oc_RANDOMCHARACTER.db` in the data dir. Simply delete then this file.

[2016-01-13 13:10] tflidd commented on #21690
Is the app `user_ldap` needed for Dropbox (You said you are not using an external user backend)?

[2016-01-13 13:19] #21658 closed

[2016-01-13 13:51] PVince81 commented on #16328
- [ ] publish notification ? (when?)

[2016-01-13 13:52] SergioBertolinSG commented on #15348
Found this problem using safari and chrome on iPad iOS 9.

My steps are easier: just try to move a file to a folder using drag and drop.

[2016-01-13 13:57] icewind1991 commented on #21670
`path` is to long to index on some mysql setups so we can't add it by default

[2016-01-13 14:02] mmattel commented on #21657
I just did the following:
- clear mysql so there are no leftovers from previous install tries
- delete the contents of the data folder
- delete the config.php file from the broken installation
- then:
[code]
and checked out the commit previous the suspected one
[code]

voila --> works, the installation completed sucessfully.
Seems that #21336 (Allow admins to add system wide root certificates) cau

[2016-01-13 14:06] MorrisJobke commented on #21670
Yep InnoDB indexes are limited to 767 bytes -> UTF-8 is 3 Byte per character makes it at most 255 characters.

[2016-01-13 14:14] nickvergessen commented on #16328
activity, not notification

[2016-01-13 14:15] PVince81 commented on #16328
@karlitschek mind posting your thoughts regarding notifications ?
Maybe something to discuss in a separate ticket.

[2016-01-13 14:17] davitol commented on #21690
App user_ldap is not needed for mounting a personal mountpoint. Using a clean server (with LDAP, AD etc, this log does not happen when browsing into the personal mountpoint), so IMHO better close the issue and I'll file a new one with the right steps and conf if it is possible.

[2016-01-13 14:17] #21690 closed

[2016-01-13 14:19] nickvergessen commented on #16328
maybe on mentioning a notification makes sense, but not in general for any comment...

[2016-01-13 14:19] pako81 commented on #21686
@MorrisJobke thanks! This is however what Customer has:

![image003](https://cloud.githubusercontent.com/assets/12248713/12296485/3a39f4ca-ba08-11e5-8d50-354df74129d9.jpg)

This table has a size of only 96k and does not explain the increase of several GB because of the migration test. Or is maybe the Data free parameter of this table (9.4 GiB) the allocated size for this table?

[2016-01-13 14:23] karlitschek commented on #16328
We should port notification if something 'interesting' happens. The question now is what is 'interesting' :-)
Definitely on mention as @nickvergessen Can we parse the comments already for all possible usernames? Otherwise maybe a new comment on a shared file that I own is also 'interesting'? Or if there are several comments in a short period of time?
@jancborchardt What do you think?

[2016-01-13 14:24] karlitschek commented on #16328
We should definitely do some kind of notification in some cases. Otherwise comments might not get noticed by the people.

[2016-01-13 14:29] jancborchardt opened #21691 "Integrate updater further into Versions section in settings"
Now that we simplified the updater further and further, it's time that we put it directly into the versions section where it belongs.

The reasoning being that when your version is up to date (most of the time this will be the case), the app will simply display a message »up to date« next to the version in the Version section.

When there is an update, the message could be »Version 8.2.3 available

[2016-01-13 14:29] MorrisJobke commented on #21686
Sorry. I'm not really how the data is occupied in mysql. But try to delete it and see if this then helps to free the space.

[2016-01-13 14:29] karlitschek commented on #21691
Yes. Definitely!

[2016-01-13 14:35] MorrisJobke commented on #18910
@gig13 Can I ask you about the status of this? Maybe the customer has upgraded and the issue is somehow fixed. If this is still an issue I would really like to see the corresponding oc_share entries for that share and all child entries (where ID of that share is set as parentID). Maybe that helps to identify the actual cause here.

[2016-01-13 14:36] karlitschek commented on #21687
Please post the the information as described here: https://github.com/owncloud/core/blob/master/CONTRIBUTING.md
The problem might be that something is wrong with the permissions in the your data directory.

[2016-01-13 14:36] icewind1991 commented on #21657
Did you test it with https://github.com/owncloud/core/pull/21671?

[2016-01-13 14:41] pako81 commented on #21686
Before and after (/dev/mapper/rhel_owncloud-root):

´´´

[root@owncloud ~]# df -h
Filesystem                      Size  Used Avail Use% Mounted on
/dev/mapper/rhel_owncloud-root   80G   51G   30G  63% /
devtmpfs                         47G     0   47G   0% /dev
tmpfs                            47G  160K   47G   1% /dev/shm
tmpfs                            47G   17M   47G   1% /run
tmpfs

[2016-01-13 14:46] jancborchardt commented on #16328
Yeah, definitely on mentions. Then a second setting could be to receive notifications for all files you can see.

For the first, default should be on for both Mail and Web. Second off by default.

[2016-01-13 14:56] MorrisJobke commented on #21452
Fixed in #21599

[2016-01-13 14:56] #21452 closed

[2016-01-13 14:59] MorrisJobke commented on #21686
[code]

`owncloud` in the where statement is the database name ;)

[2016-01-13 15:09] gig13 commented on #18910
@MorrisJobke
I am checking if this is still an issue

[2016-01-13 15:17] kiu-ball opened #21696 "PUT of large files via oc-client inefficient with standard chunksize in fast networks"
### Steps to reproduce
1. Take a large File (>1GB) in a fast network environment (>1GBit)
2. Upload it to your oC with oc-client using standard chunksize
3. Watch transferrate and server load
4. Set the chunksize to a higher value (export OWNCLOUD_CHUNK_SIZE=51248800 for example) and repeat step 2 and 3

### Expected behaviour
ownCloud desktop client performs well while uploading large files in a

[2016-01-13 15:17] mmattel commented on #21657
I just prepared the environment and cloned from master again which includes #21671 (merged).
This time the installation passed without any problems. Thanks @LukasReschke for the fix. :+1:

[2016-01-13 15:20] #21657 closed

[2016-01-13 15:25] PVince81 commented on #21696
@dragotin

[2016-01-13 15:27] MorrisJobke commented on #21696
This looks clearly like a client enhancement.

I guess this is the stuff that @michaelstingl talked about yesterday. Right?

cc @butonic

[2016-01-13 15:28] MorrisJobke commented on #21696
cc @DeepDiver1975

[2016-01-13 15:31] michaelstingl commented on #21696
==> @felixboehm

[2016-01-13 15:33] DeepDiver1975 commented on #21696
from my pov the client could learn the chunk size depending on the network quality.

client 'issue' -> closing

[2016-01-13 15:33] #21696 closed

[2016-01-13 15:59] kiu-ball commented on #21696
Moved > https://github.com/owncloud/client/issues/4354

[2016-01-13 16:05] Amgine0 commented on #21354
Bump?

[2016-01-13 16:34] DeepDiver1975 commented on #21691
how do we implement this from a technical perspective?

The button will redirect the the url of the updater which we expect to be living in OCWEBROOT/updater ?

[2016-01-13 17:22] SergioBertolinSG opened #21697 "Row keeps highlighted after closing sidebar."
## Steps to reproduce:

1. Select a row from files view.
2. Close the sidebar.
3. Select another row.

## Expected behaviour

Only second row is selected.

## Observed behaviour

Both rows are selected.

![screen shot 2016-01-13 at 18 19 40](https://cloud.githubusercontent.com/assets/9048796/12301854/7ee89292-ba22-11e5-965e-88ebd4cf98a1.png)

Master branch
{"installed":true,"maintenance":false,"ve

[2016-01-13 17:23] SergioBertolinSG commented on #21697
cc @owncloud/designers

[2016-01-13 17:31] SergioBertolinSG opened #21698 "Selecting several files in small windows requires to close sidebar per each file selected."
## Steps to reproduce:

Using a small screen, mobile device or reduce the size of the browser until the left sidebar is hided.
1. Select 10 files. (Close sidebar 10 times)

## Expected behaviour
You are allowed to select several files quickly.

## Observed behaviour
All sidebars has to be closed. Making the selection very slow and annoying.

A screen like this appears per file selected:
![screen s

[2016-01-13 17:32] SergioBertolinSG commented on #21698
cc @owncloud/designers

[2016-01-13 17:45] jancborchardt commented on #21691
I guess by inserting the template generated from the Updater app in there? In core check if updater us installed – if yes, inject it there.

[2016-01-13 18:18] jancborchardt commented on #21698
Yeah, select should clearly not open the sidebar. If I remember correctly I mentioned this in another issue as well but can't find it.

What do you think @PVince81 @owncloud/designers?

[2016-01-13 18:21] jancborchardt commented on #21697
Btw, this is not selection. It's only highlight. Selection is done via the checkboxes.

Nevertheless, this highlight should of course only be for the last file of which the sidebar has been opened for.

[2016-01-13 18:22] jancborchardt commented on #21697
cc @PVince81 @owncloud/javascript  for the logic.

[2016-01-13 18:40] crysman opened #21699 "occ app:check-code ends with "App is not compliant" for every single default app"
occ app:check-code ends with "App is not compliant" for every single default app

e.g.:
[code]

I've just successfully upgraded to 8.2.2 (stable) and tried to find out why "documents" (updated to 0.11.0 via +application menu) app is not working. It ended with listful of errors:
[code]

...

[2016-01-13 18:42] crysman commented on #21699
PS: I've got rid of all errors in the administration menu by properly configuring php and apache2 (like /dev/urandom issue etc.) - so my install should be flawless...

[2016-01-13 18:49] DeepDiver1975 commented on #21699
These issues are known. We are constantly improving on them.

[2016-01-13 18:49] #21699 closed

[2016-01-13 18:56] DeepDiver1975 commented on #21691
there is no updater app - and there is no template which can be loaded.
the new updater is a self contained cli tool and web app.

[2016-01-13 19:50] Schroeffu commented on #15104
Workarround: php occ ldap:delete-config ""

It does delete the "empty" ID successfully, at least in my case.

[2016-01-13 20:17] datenfalke commented on #20484
Thank you!

[2016-01-13 20:26] gig13 commented on #21561
@MorrisJobke Any updates?
I suggested to update to php55, but this appears to be a non starter due to RHEL6 support and our own documentation showing php54 installation for 8.2.

[2016-01-13 20:35] Xilentura commented on #19807
@MorrisJobke Are there some news or is there any progress? I still have this issue on owncloud 8.2.2 on FreeBSD with several clients on Ubuntu Linux, Windows and Mac OS X.

"app":"files","message":" Backends provided no user object for ","level":3
"app":"no app in context","message":"Error while running background job: Backends provided no user object for ","level":3

The users get extra "file spa

[2016-01-13 21:04] Bugsbane commented on #16325
You could have a tooltip that displays "Edit how this appears to all users" when the cursor hovers over it, and combine it with a warning so that when a user clicks / taps delete or edits the tag and it's just about to be saved that they see:

"This will delete / edit how this tag appears to all other users. Continue?"
with Cancel, OK and a "Don't show this next time" checkbox (which would just ap

[2016-01-13 21:09] peterporta commented on #19807
Because owncloud now can manage a second account without „forwarding“, the issue is obsolete.
--
Viele Grüße

Peter Wienczny
6

[2016-01-13 21:17] Xilentura commented on #19807
@peterporta Thank you for your fast reply. Would you be so kind to explain what you mean with "forwarding" or paste me a link for a website?

[2016-01-13 21:57] cmonteroluque commented on #19941
@DeepDiver1975 thanks

[2016-01-14 00:33] enoch85 commented on #20963
@Akhenaton Did you have any time to test it yet? :)

[2016-01-14 00:50] karlitschek commented on #21680
@schiesbn

[2016-01-14 07:05] Guillaume00 commented on #21604
@RealRancor I'm using the official repositories mentioned in the manual at owncloud.org

The issue was not that it was kept in maintenance mode. It is that it remained stuck on the first page the updater shows. The one that says it will refresh by itself. And never upgraded anything.
The first page never refreshed. And when I tried manually after waiting more than 2 hours, it showed me the page wa

[2016-01-14 07:13] RealRancor commented on #21604
@Guillaume00 Ahh, good that you have clarified this. So its not the updater app but the core updater itself.

[2016-01-14 08:06] alexweirig commented on #20405
@blizzz
Hi, the PHP developer is coming today to fix the issues you identified on our last pull request.
Should we still work on that PR or should we rebase our code on a newer branch or even master?
I would like to make sure we get the contribution right this time and that we can close this project with the developer.
Many thanks for your help and patience

[2016-01-14 08:17] MorrisJobke commented on #19807
@Xilentura Can you paste the content of you oc_jobs table? This maybe helps to spot the failing background job. I will try to improve the error message.

[2016-01-14 08:41] nickvergessen commented on #16328
Notifications have no "mail and web", that's activities...

[2016-01-14 08:43] Xilentura commented on #19807
@MorrisJobke There is no oc_jobs on my server, just "owncloud/apps/user_ldap/lib/jobs" with the entry:

./
cleanup.php

Thanks for your fast reply!

[2016-01-14 08:51] MorrisJobke commented on #19807
I meant the table in the database ;)

[2016-01-14 08:54] pako81 commented on #21686
Here the output:

[code]

[2016-01-14 09:01] DeepDiver1975 commented on #20963
sabre dav 3.0.7 has been release which fixes php7 compat

[2016-01-14 09:07] davitol opened #21706 "'Enable User External Storage' looks like is available when it isn't."
### Steps to reproduce

1. In admin menu, check that 'Enable User External Storage' is NOT marked
2. Go to personal view

### Expected behaviour

An advice about 'User External Storage' is not available should be shown

### Actual behaviour

External storage section 'seems to be enable'. (Note: It is not enabled, so the behaviour is right). But it can be confused.

### Server configuration
**Opera

[2016-01-14 09:08] SergioBertolinSG opened #21707 "[Edge] Downloading files or folders keeps spinner spinning forever."
## Steps to reproduce:

Using Microsoft's Edge browser do:

1. Download a file or a folder.

## Expected behaviour

File or folder is downloaded and spinner appears very little or nothing at all.

## Observed behaviour

File or folder is downloaded but spinner keeps spinning forever. It ends only when refreshing the page.

![screen shot 2016-01-14 at 09 52 59](https://cloud.githubusercontent.com/a

[2016-01-14 09:38] davivel commented on #19331
Nice to know :)

Thanks a lot, @rullzer

[2016-01-14 09:40] davivel commented on #21667
OK, thanks everybody. Not a deal-breaker for me, just will take it into account for my tests.

[2016-01-14 09:43] SergioBertolinSG opened #21709 "[CentOS] Images are downloaded instead of previewed."
### Steps to reproduce

1. Upload some images.
2. Open it in the files view.

### Expected behaviour
A preview is shown.

### Actual behaviour
File is downloaded.

### Server configuration
**Operating system**:
CentOS 6.6

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

**ownCloud version:** (see ownCloud admin page)
Master branch
{"installed":true,"maintenance":false,"version

[2016-01-14 09:49] PVince81 commented on #21698
The discussion has changed several times, but it was never said that select should not open the sidebar at all.

I'm fine with changing the behavior again.

Should the sidebar auto-close if it's open when a user clicks the checkbox ?

[2016-01-14 10:01] MorrisJobke commented on #21686
31 GB in filecache. Not much we can do here. Can they check how many files and folders they have in the data dir (`find . | wc -l`should do the trick) and then run a `SELECT COUNT(*) FROM oc_filecache;` and compare the numbers. They could be slightly more, but shouldn't be the doubled count of files.

[2016-01-14 10:02] PVince81 commented on #21709
Strange. The preview usually comes from the gallery app.
Can you use the browser's DOM inspector on the image's row in the file list, and check the "data-mime" attribute ? Maybe the mime type is wrong for some reason...

[2016-01-14 10:03] PVince81 commented on #21707
Looks like the download token cookie hack doesn't work in edge ? :frowning:

CC @MorrisJobke

[2016-01-14 10:03] PVince81 commented on #21707
I can have a look later

[2016-01-14 10:04] PVince81 commented on #21706
Possible regression from 8.2.2 due to recent changes.

@Xenopathic @icewind1991

[2016-01-14 10:06] PVince81 commented on #21689
@jancborchardt

[2016-01-14 10:07] PVince81 commented on #21688
@stephane84 your proposal is an extension of the permalinks ticket: https://github.com/owncloud/core/issues/11732

In theory, once permalinks exist the client could parse the fileid out of it and match the file id known in its local database (given that we uniformize the formats).

[2016-01-14 10:09] PVince81 commented on #21687
I see these sometimes in my local dev environment when manually running cron.

Maybe some cron job that cleans up temporary files is trying to delete files where not enough permissions are available. (cannot reproduce it at the moment)

[2016-01-14 10:11] PVince81 commented on #21685
You got eagle eyes, spotting such log issues for small things :wink:

[2016-01-14 10:11] PVince81 commented on #21685
@blizzz @LukasReschke @icewind1991 something weird in the user manager ?

[2016-01-14 10:12] PVince81 commented on #21680
Looks like version app + activity having trouble with fed shared files ?

[2016-01-14 10:15] SergioBertolinSG opened #21710 "[Edge] Folder creation using the web ui fails."
### Steps to reproduce

Using Microsoft's Edge do:

1. Create a folder using the web UI.

### Expected behaviour
Folder is created.

### Actual behaviour
There is an error. MKCOL operation fails.

### Server configuration
**Operating system**:
CentOS 6.6

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

**ownCloud version:** (see ownCloud admin page)
Master branch
{"installed":

[2016-01-14 10:21] SergioBertolinSG commented on #21709
I see this:

Resource interpreted as Document but transferred with MIME type image/jpeg: "HOST/remote.php/webdav/IMAGE.JPG".

[2016-01-14 10:25] PVince81 commented on #21709
Hmmm, can the downloaded image be opened or is it corrupt ?

[2016-01-14 10:30] SergioBertolinSG commented on #21709
It can be opened without problems.

[2016-01-14 10:33] RealRancor commented on #21699
Btw. "documents" is not a default app and its issue tracker is located here: https://github.com/owncloud/documents/issues

[2016-01-14 10:41] crysman commented on #21699
RealRancor> I am aware of that. I found out that "documents" prints-out errors, so the I tested default apps, just to compare if the errors are only in "documents" or also elsewhere, and, surprisingly, there are errors reported everywhere...

[2016-01-14 10:45] Pazu commented on #21687
### Steps to reproduce
1. Unknown/unclear.

### Expected behaviour
The errors should occur.

### Actual behaviour
The errors occur.

### Server configuration
**Operating system**: Linux

**Web server:** Apache 2.4.16

**Database:** MySQL 5.5.47-cli

**PHP version:** 5.5.30

**ownCloud version:** 8.2.2

**Updated from an older ownCloud or fresh install:** Updated from 8.1.5

**List of activated app

[2016-01-14 10:49] PVince81 commented on #21687
@BernhardPosselt any idea, is the news app doing anything in the tmp folder ?

[2016-01-14 10:50] fschwan commented on #21461
Same issue here with PHP 7.

[2016-01-14 11:02] DeepDiver1975 commented on #21461
Anybody mind testing current git master branch? We just updated sabredav which holds php7 fixes - THX

[2016-01-14 11:11] fschwan commented on #21461
@DeepDiver1975 Can you point me to a patch for current stable 8.2?

[2016-01-14 11:12] DeepDiver1975 commented on #21461
there is no patch for stable8.2 - the patch just arrived in master (upcoming oc9)

[2016-01-14 11:14] davitol commented on #21706
@PVince81 No, I tested it also in 8.2.2 and it looks in the same way

[2016-01-14 11:19] Xenopathic commented on #21461
Current master does not work with PHP7 and the oC client, client reports 'Connection closed' when setting up an account and this error is printed to the logs:

\\\/owncloud\\\/core\\\/remote.php(137): require_once('\\\/srv\\\/git@robin\\\/...')\\n#6 {main}\",\"File\":\"\\\/srv\\\/git@robin\\\/owncloud\\\/core\\\/3rdparty\\\/sabre\\\/dav\\\/lib\\\/DA
V\\\/Auth\\\/Plugin.php\",\"Line\":188}","level"

[2016-01-14 11:22] RealRancor commented on #21699
"Non-compliant" != error :-)

The messages doesn't show errors, just recommended updates to the app to make them proof for further oC versions.

[2016-01-14 11:26] Xenopathic commented on #21706
Unable to reproduce, it's disabled in the admin settings and as expected the section is hidden in the personal settings.

@davitol Could you run the following MySQL command: `select * from oc_appconfig where configkey = 'allow_user_mounting' or configkey = 'user_mounting_backends';` and post what it outputs?

[2016-01-14 11:42] davitol commented on #21706
@Xenopathic as I said before, it seems to be enabled, but it isn't. The behaviour is right and the combobox cannot be spread.

about the SQL command, executing when Enable User External Storage is not marked I got the following output:

SELECT *
FROM appconfig
WHERE configkey = 'allow_user_mounting'
OR configkey = 'user_mounting_backends'
LIMIT 0 , 30

[2016-01-14 11:44] Morganlej opened #21711 "File upload failed with Fatal error, OK on next try"
Possibly two issues:
A) file upload temporarily failed
B) error described as fatal in web interface, but not as fatal in log file
### Steps to reproduce
1. Clean install OC 8.2.2, with on PHP 7.0.0, MySQL 5.5 on Apache, Linux - at my internet provider Binero.se, using their autoinstallation magic OneClick installer. Note: shared hosting.
2. Using the webUI to register one user, and make initial fo

[2016-01-14 11:50] Xilentura commented on #19807
@MorrisJobke Here we go:

*1      OC\Cache\FileGlobalGC	null	1445505150
*2	 OCA\Activity\BackgroundJob\EmailNotification	null	1445504238
*3	 OCA\user_ldap\lib\Jobs	null	1445504252
*167	 \OCA\User_LDAP\Jobs\CleanUp	null	1445505091
*168	 OCA\Activity\BackgroundJob\ExpireActivities	null	1445434047

[2016-01-14 11:50] RealRancor commented on #21711
The error is logged as fatal in the logfile:

``"level":4,``

This is matching the levels described here: https://doc.owncloud.org/server/8.2/admin_manual/configuration_server/logging_configuration.html

[2016-01-14 11:55] ipm-uma opened #21712 "8.1 to 8.2.2 upgrade never ending"
I've follow the steps in the docs to upgrade and when I try to upgrade it show the error:

[code]
I have increased the memory limit to 1024MB and the upgrade doesn't fail now but it's running during 24h without any changes:

[code]

What's wrong? I'm still waiting the end of the upgrade.

CentOS 6.7
PHP 5.4.37

[2016-01-14 11:59] SergioBertolinSG opened #21713 "[Edge] Download files from a public shared folder doesn't work."
### Steps to reproduce

1. Share by link a folder giving all permissions.

Using Microsoft's Edge anonymously do:

2. Open public link.
3. Download one of the files inside the folder.

### Expected behaviour
File is downloaded.

### Actual behaviour
Spinner spins but file never is downloaded.

### Server configuration
**Operating system**:
CentOS 6.6

**Web server:**
Apache

**Database:**
MySQL

*

[2016-01-14 12:04] Xenopathic commented on #21706
This value means that the 'Enable User External Storage' checkbox is marked, at least according to the backend. Thus the behaviour that the section is being displayed is in fact correct...

[2016-01-14 12:18] SergioBertolinSG commented on #18954
This is still happening using Edge.

![screen shot 2016-01-14 at 13 14 18](https://cloud.githubusercontent.com/assets/9048796/12324178/2de268c4-bac1-11e5-8f2b-fd9ba5e9c052.png | width=100)

[2016-01-14 12:40] BernhardPosselt commented on #21687
Nope, tmp is not touched

[2016-01-14 12:43] DeepDiver1975 commented on #21461
Using php 7.0.1 and latest master setting up sync is not a problem for me locally

[2016-01-14 12:46] nickvergessen commented on #21691
Check in core if the folder exists, if yes show the button :speak_no_evil:
Hacky and "depenedency" but it works?

[2016-01-14 12:48] MorrisJobke commented on #19807
Those entries look fine.

[2016-01-14 12:50] nickvergessen commented on #21649
That's nothing we can do, because we can't know, what the old value was.
It's kind of the responsibility of the admin to remove/retain the file, when the log file config is changed, which shouldn't happen too often.

[2016-01-14 12:50] MorrisJobke commented on #18954
@SergioBertolinSG Can you please open this as a separate issue, because it is fixed in all other browsers.

[2016-01-14 12:50] #18954 closed

[2016-01-14 12:57] SergioBertolinSG opened #21715 "Blurry and narrow font in Edge browser."
### Observed behaviour

Font is narrow and blurry using Edge browser.

![screen shot 2016-01-14 at 13 14 18](https://cloud.githubusercontent.com/assets/9048796/12324917/9171c178-bac6-11e5-9656-3afd75408eac.png)
### Server configuration

**Operating system**:
CentOS 6.6

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

**ownCloud version:** (see ownCloud admin page)
Master branc

[2016-01-14 12:58] SergioBertolinSG commented on #18954
@MorrisJobke Sure, opened here https://github.com/owncloud/core/issues/21715

[2016-01-14 13:00] MorrisJobke commented on #21715
cc @owncloud/designers

@jancborchardt Can you check out how to fix this?

[2016-01-14 13:01] MorrisJobke commented on #18954
Thanks :)

[2016-01-14 13:03] Xenopathic commented on #21461
Might be a bug in the client then, it seems to never send any credentials over at any point (verified using Wireshark), just some session cookies, and who knows where they came from...

[2016-01-14 13:07] DeepDiver1975 commented on #21461
The first request is alway unauthenticated - this is where the exception in the log is coming from

[2016-01-14 13:08] davitol commented on #21706
@Xenopathic Sorry, wrong scenario when I executed the SQL query, my fault.

Now I'll show you in the following .gif file the bug, and the execution of the SQL sentence:

![externalvis](https://cloud.githubusercontent.com/assets/10596560/12325111/2ebf4e0e-bac8-11e5-83f6-e62e9a4daba2.gif)

![screen shot 2016-01-14 at 14 00 42](https://cloud.githubusercontent.com/assets/10596560/12325115/3712ac0e-bac

[2016-01-14 13:29] jvillafanez commented on #21712
Please follow the issue template (https://raw.githubusercontent.com/owncloud/core/master/issue_template.md). Be sure you add the ownCloud version you're updating from (I'm not sure if it's 8.1.0, 8.1.1, or any other 8.1.x), and also the list of enabled apps specially if you use any other app that doesn't come with the "standard" ownCloud package.

In addition, include whether you're updating using

[2016-01-14 13:47] DeepDiver1975 commented on #21476
please retest with current git master - THX

regarding OC8.2 which uses Sabre 2.1.x - I honestly think php7 compat is out of scope - @evert

[2016-01-14 13:54] ipm-uma commented on #21712
### Steps to reproduce
1. ```rpm --import https://download.owncloud.org/download/repositories/stable/CentOS_6/repodata/repomd.xml.key```
2. ```wget http://download.owncloud.org/download/repositories/stable/CentOS_6/ce:stable.repo -O /etc/yum.repos.d/ce:stable.repo```
3. ```yum clean expire-cache```
4. ```yum update owncloud```
5. ```sudo -u apache php occ upgrade --skip-migration-test```

### Expe

[2016-01-14 13:54] pako81 commented on #21686
@MorrisJobke thanks. Customer agreed on closing this case.

[2016-01-14 13:56] Innenseide opened #21720 "Can't open certain pre-existing files after updates from 8.0.5 through 8.2.2"
Sorry if this is not 100% accurately filled, I'm in a hurry now after playing around for hours. Posting this issue as recommended here: https://forum.owncloud.org/viewtopic.php?f=36&t=32538&p=105222#p105222

### Steps to reproduce
1. Upgrade fully running 8.0.5 installation through 8.0.10, 8.1.5 and 8.2.2
2. Verified files are accessible for every upgrade step by looking at some pictures, opening

[2016-01-14 14:00] nickvergessen commented on #20255
Fixed with #20530 and #20991

[2016-01-14 14:00] #20255 closed

[2016-01-14 14:00] nickvergessen commented on #20255
Final result https://github.com/owncloud/core/pull/20991#issuecomment-162571200

[2016-01-14 14:06] Morganlej commented on #21711
Ah, thank you.
I see the description say "4: FATAL: The server stops."
It is unclear what "stops" mean, i only saw a short pause in upload speed, then it ran again.
Does that mean my ISP have some autostarting function for it, or do Owncloud restart by itself?

[2016-01-14 14:07] MorrisJobke commented on #21561
If this is an LDAP instance, then the reset will never work. LDAP is read only. The link is removed for LDAP in https://github.com/owncloud/core/issues/12215 (8.2.3 and 9.0.0) or you specify an URL the user is forwarded to, to reset it's password in an LDAP facing interface.

@gig13 I hope this solves it for you.

[2016-01-14 14:13] gig13 commented on #21561
@MorrisJobke
I know the reset action will not work, but can an email at least be sent to the user (using the custom theme template - Lost password email) so that the Admins can redirect or provide appropriate guidance to end users.
"Your password needs to be reset by your Administrator, please contact admin@yourcompany.com"

[2016-01-14 14:14] mmattel opened #21722 "ownCloud update problem (via UI)"
Server: Ubuntu 14.04, PHP 5.5.9, MySQL, Redis
Browser: W7/Opera

One of my productive instances running 8.2.0 reported that there is an update to 8.2.2 available.
![image](https://cloud.githubusercontent.com/assets/3321281/12325798/01de3274-bacd-11e5-8601-ed5311c2c17f.png)

I went to the admin page to the bottom and tried to update (stable).
I got the following response:
![image](https://cloud.git

[2016-01-14 14:20] PVince81 commented on #18225
Another idea is a button on the "Personal" page "repair encrypted files".
But this will very likely cause PHP request timeout issues due to the long running process.
Then there's the idea to make the button schedule a background job that would run with cron, but then it would also need the user's password to be available / stored in the background job data... not so good.

[2016-01-14 14:21] MorrisJobke commented on #21561
This is what the lost_password_link was planned to be used for - see https://github.com/owncloud/core/issues/12215#issuecomment-110258578

[2016-01-14 14:21] MorrisJobke commented on #21561
@gig13 Does this work for you?

[2016-01-14 14:23] RealRancor commented on #21722
@mmattel You need to revert the strong permissions as described in the documentation before being able to using the updater app:

https://doc.owncloud.org/server/8.2/admin_manual/maintenance/update.html#setting-strong-permissions

The ``Unable to move /<directory>/_oc-upgrade/8.2.2.2/core/resources to /<directory>/resources`` was a bug in the updater previous to 8.2.2: https://github.com/owncloud/

[2016-01-14 14:24] RealRancor commented on #21711
ownCloud itself is just a web application written in PHP so it can't "stop". I think the message/documentation is misleading here.

[2016-01-14 14:26] gig13 commented on #21561
I will check with the originator

[2016-01-14 14:30] cdamken commented on #10077
@MorrisJobke @butonic

00004526

[2016-01-14 14:30] butonic commented on #21348
ref https://github.com/owncloud/core/issues/10077

[2016-01-14 15:14] #21686 closed

[2016-01-14 15:20] BenS89 opened #21725 "ownCloud 8.2.2 sync with ownCloud Client 2.1.0 for Windows causes sometimes an Integrity constraint violation exception"
When changed files were uploaded with the ownCloud sync client 2.1.0 for windows to an ownCloud server 8.2.2, sometimes the following exception occurs:

[code]

This problem did not occur with earlier ownCloud server versions with client 2.1.0. Therefore, it could be a server issue.

Steps to reproduce:
1. Change text-files in your ownCloud directory
2. Wait for the ownCloud windows client to uplo

[2016-01-14 15:20] gig13 commented on #15283
@bboule
I do not have a reference for this case, no further comments

[2016-01-14 15:33] MorrisJobke commented on #21561
8.2.3 (unreleased but next maintenance release) & 9.0.0

[2016-01-14 15:37] nickvergessen commented on #21725
Another MariaDB with insertIfNotExists issue :(

Duplicate of #20555

See https://github.com/owncloud/core/issues/20555#issuecomment-157331571

[2016-01-14 15:37] #21725 closed

[2016-01-14 15:38] nickvergessen commented on #21722
Closing as duplicate of https://github.com/owncloud/updater/issues/189

[2016-01-14 15:38] #21722 closed

[2016-01-14 15:53] Woodwergs opened #21726 "Enforce Password Share Link image issue"
Owncloud 8.2.2 (Fresh Install)
Steps to reproduce

Go to the Server Client with Admin
Go to the Sharing option
Select the option "Enforce password protection"
Go to Files
Share a folder
Click Share link
Un-click Share link
Checkbox changes to loading-small.gif and stays that icon until the page is refreshed
![image](https://cloud.githubusercontent.com/assets/16705830/12329168/e02cfe9e-bad6-11e5-96

[2016-01-14 16:13] jvillafanez commented on #21712
The only thing I can figure out about the issue is a problem with ldap. I don't have tests with ldap :disappointed:

@blizzz any help you can provide here? Is it possible that the ldap app get stuck at some point during the upgrade? Any difference between the ldap versions that could cause this issue?

[2016-01-14 16:13] Crotriop commented on #21677
All cleared down now.
This worked nicely, thanks.

[2016-01-14 16:15] tmaex opened #21728 "Disable federated cloud sharing access for LDAP users"
The bug works like this:

- user "data" shares "folder" with "ldap_group"
- user "ldap_user" is member of "ldap_group"
- user "ldap_user" shares "folder" with "federated@cloud.sh"
- user "ldap_user" is no more member of "ldap_group"
- user "federated" is **still** able to manipulate "folder"

Interessting addition:

- user "data" unshares "folder"
- user "federated" is no more able to manipulate "

[2016-01-14 16:25] MorrisJobke commented on #15283
So closing this?

[2016-01-14 16:29] PVince81 commented on #5949
Looks like Guzzle could be used with a stream factory: https://github.com/owncloud/core/pull/19002/files#diff-2ab592dfd95e06115a358d1b5b20cdc5R318

[2016-01-14 16:33] PVince81 commented on #5949
Okay, looks like it might be even easier, as long as the remote supports HTTP: https://github.com/owncloud/core/pull/18653/files#diff-782207b41e0a420a99054e41c7e7946dR348

[2016-01-14 16:44] #15283 closed

[2016-01-14 16:49] PVince81 commented on #5949
- [ ] TODO: double check every storage and distinguish **stream download** from **stream upload**.
Many already have stream download but not necessarily upload.

[2016-01-14 17:00] davitol opened #21731 "[Files external] It is not possible to delete several files at the same time"
### Steps to reproduce

1. As admin user configure an External Storage MountPoint (e.g. DropBox)
2. In files view, Browse into the mountpoint folder
3. Select more than one file

### Expected behaviour

Delete button should be enabled and it should be possible to delete several files in a row.

### Actual behaviour

There is no chance to delete several files located in an external mountpoint at th

[2016-01-14 17:02] PVince81 commented on #21357
For the download part, seems like using Guzzle for download does the trick: https://github.com/owncloud/core/pull/21732

[2016-01-14 17:14] Xenopathic commented on #21706
Ah right, so an empty value is incorrectly detected. I'll have a look.

[2016-01-14 17:15] PVince81 commented on #21357
I see mentions of Guzzle in the repo of the upstream library: https://github.com/google/google-api-php-client/
Maybe upgrading it would already solve the memory issue.

[2016-01-14 17:29] davitol opened #21733 "[Files_external] Editing files with sidebar visible creates logs in owncloud.log file"
### Steps to reproduce
1. As admin user configure an External Storage MountPoint (e.g. DropBox)
2. In files view, Browse into the mountpoint folder
3. With the sidebar visible, edit a text file.
### Expected behaviour

The text file should be edited, the preview image updated and no logs should be written in owncloud.log file.
### Actual behaviour

The text file should be edited, the preview image

[2016-01-14 18:05] jancborchardt commented on #21715
The rendering looks pretty much fine, but besides that do we support Edge?

[2016-01-14 19:08] gig13 commented on #14406
Need to test with 8.1 or 8.2

[2016-01-14 19:11] gig13 commented on #18837
Double checking with originator

[2016-01-14 19:13] gig13 commented on #20377
We can close it out

[2016-01-14 19:13] #20377 closed

[2016-01-14 19:14] gig13 commented on #20590
This is closed.

[2016-01-14 19:19] MorrisJobke commented on #21715
Yep. It's the official browser by microsoft in windows 10. And it's the successor of iE

[2016-01-14 21:00] evert commented on #21476
It all depends on how easy or hard it is @DeepDiver1975 . I'm not strongly against it, as long as we can do it in ways that allow me to keep BC. The 2.1 branch _will_ get sabre/vobject 3.5 automatically, so that's not an issue. It's possible that the only change is the same as we did on the 3.0 branch.

[2016-01-14 21:20] karlitschek commented on #21728
@schiesbn What do you think?

[2016-01-14 21:28] karlitschek commented on #21720
This looks like some kind of mime type problem on your server setup. I recommend that you look at support option at owncloud.org/support. I don't think this is an ownCloud bug. It looks more like an environment or webserver setting bug. Thanks

[2016-01-14 21:47] notaduck opened #21734 "Problems with syncing a file"
I have a file called berlin 041.jpg and everytime my user tries to upload the file from his macbook then he get's the message connection closed and aren't able to sync any files with the owncloud server? but as soon as the file is remove from the owncloud folder then everything works just fine?

-u www-data php occ status

 apache2 -v

php5 -v

[code]

[2016-01-14 22:01] karlitschek commented on #21734
I guess there is something wrong in your setup. Can you please post your question at one of the support options at owncloud.org/support. Thanks

[2016-01-14 22:01] #21734 closed

[2016-01-14 22:13] enoch85 commented on #17652
I get this as well on my [demo server](https://owncloudphp7.techandme.se/data/testuser/files/README.md). Though I set strong permissions it doesn't seem to work.

[code]

**Server**
ownCloud 8.2.2 fresh install.
Ubuntu 14.04.3
PHP 7

[2016-01-14 22:33] Xenopathic commented on #21731
Unable to reproduce on current master with SFTP storage (mounted through Personal settings)

[2016-01-14 22:34] genofire commented on #17582
Update to 8.2.2.2 same problem (on enabling calendar again).
I created the index manuelle like mrm2m and the problem still exists.
(It mean that there is no index, but i could delete it manuelle afterwarts)

[2016-01-15 06:50] RealRancor commented on #17652
@enoch85 Your .htaccess is not working so its unrelated to this issue. Strong permissions also won't help here.

[2016-01-15 06:52] RealRancor commented on #21734
@notaduck See also https://forum.owncloud.org/viewtopic.php?f=17&t=32517

[2016-01-15 07:05] DeepDiver1975 commented on #21476
Let me give it a try then

[2016-01-15 07:20] ipm-uma commented on #21712
The upgrade are finished! It has taken about 30 hours! An installation without users!

Thanks for all.
Regards.

[2016-01-15 07:20] #21712 closed

[2016-01-15 08:01] aberndt2406 commented on #21649
Hi,

there should be only one entry for „\OC\Log\Rotate” in the table oc_jobs?!
If we define a new path for the logfile in the config.php, the other one must
be the old one.

Regards
Achim

Von: Joas Schilling [mailto:notifications@github.com]
Gesendet: Donnerstag, 14. Januar 2016 13:50
An: owncloud/core
Cc: Berndt, Achim
Betreff: {Disarmed} Re: [core] database table "oc_jobs" isn't updated (#2164

[2016-01-15 08:19] davitol commented on #21731
Just reproduce it again in ownCloud 9.0 pre alpha (daily) Build:2016-01-15T05:01:28+00:00 b48ddc94a9caa1c482a7260a298f5418b6028793.
Browser Firefox for OSX and DropBox as External Storage

[2016-01-15 08:30] Xenopathic commented on #21731
Are there any browser logs?

[2016-01-15 08:44] quassum commented on #20484
Thanks, works beautifully!

[2016-01-15 08:51] kaeser-sosae commented on #20750
Same problem here. Running Server 2012 R2, ownCloud 8.2.2

php5-libsmbclient installed.

[2016-01-15 08:51] kaeser-sosae commented on #20750
![image](https://cloud.githubusercontent.com/assets/13239751/12349128/3e3c9ab8-bba8-11e5-8b2f-ec833e9bbf46.png)

[2016-01-15 08:53] poweredenator opened #21736 "Release 2.1.0 December 3rd 2015 - is changing file attribute to read only"
Release 2.1.0 December 3rd 2015 - is changing file attribute to read only

When we try to synchonize with server, we can't do it, because when we synchonize, files attribute changes to read only. And then we get error report - file not accesible.

[2016-01-15 08:53] #21736 closed

[2016-01-15 08:57] jancborchardt commented on #21689
Calling @schiesbn because this is PHP.

[2016-01-15 08:57] davitol commented on #21731
There are no browser logs...

[2016-01-15 08:57] poweredenator opened #21737 "Release 2.1.0 December 3rd 2015 - is changing file attribute to read only"
Release 2.1.0 December 3rd 2015 - is changing file attribute to read only.

[2016-01-15 08:58] #21737 closed

[2016-01-15 09:02] rullzer commented on #20908
So this bit me again today..

We really should think how to fix this..

[2016-01-15 09:04] kaeser-sosae commented on #20750
![image](https://cloud.githubusercontent.com/assets/13239751/12349361/08027420-bbaa-11e5-8ff8-0b6fcf0fc1b9.png)

[2016-01-15 09:09] kaeser-sosae commented on #20750
Additionally, when I get that error come up, I do not see anything in the logs.

[2016-01-15 09:52] enoch85 commented on #17652
@RealRancor Ok then please help. What could be the issue? I've tried adding a htaccesstest.txt to the daatadir, but it won't help. Any suggestions? Fresh install as stated above. --^ cc @LukasReschke

[2016-01-15 10:03] RealRancor commented on #17652
@enoch85 The issue tracker shouldn't be used for webserver config issues ;-)

[2016-01-15 10:17] davitol opened #21738 "[Chrome] Thumbnails of versions are not shown"
### Steps to reproduce

1. As admin user configure a mountpoint (e.g DropBox, S3...)
2. Share a file from the external storage with user1
3. Using Chrome as browser, edit file with user1 and go to Versions menu

### Expected behaviour

The preview thumbnails of the versions should be visible

### Actual behaviour

The preview thumbnails of the versions are not shown. Error 404.

### Server configu

[2016-01-15 10:30] massa007 commented on #21485
I Inserted the php code in the corresponding php file with no change..
Do I need to do anything more?

[2016-01-15 10:40] LukasReschke commented on #21720
Can you by any chance try with another browser than Firefox? Reminds me a bit of https://github.com/owncloud/enterprise/issues/943

[2016-01-15 10:40] LukasReschke commented on #21720
So can you view, open and download the file using Chrome for example?

[2016-01-15 10:41] PVince81 commented on #21738
Regression ? It used to work.

[2016-01-15 10:42] PVince81 commented on #21738
So only with external storages, local storage works ?

[2016-01-15 10:42] PVince81 commented on #21733
@tomneedham can you have a look ?

[2016-01-15 10:43] PVince81 commented on #21731
Is this a system-wide mount or personal mount ?

Possibly duplicate of https://github.com/owncloud/core/issues/16533

[2016-01-15 10:45] PVince81 commented on #21728
CC @rullzer

Maybe the original share wasn't deleted/invalidated properly.

[2016-01-15 10:46] PVince81 commented on #21726
@davitol are you able to reproduce this ?

[2016-01-15 10:48] PVince81 commented on #21720
Possibly related to wrong file sizes due to encryption migration issue, see https://github.com/owncloud/core/issues/18225

Pick a broken file, then do: `select * from oc_filecache where path like '%thefilename%'`;
If "unencrypted_size" is equal to "size", then this means the unencrypted size is wrong and it will cause problems on download.

CC @schiesbn

[2016-01-15 10:49] Xilentura commented on #19807
All right - I've tested several owncloud clients (Apple, Ubuntu, Android) and all threw this error message

    "app":"files","message":" Backends provided no user object for ","level":3
    "app":"no app in context","message":"Error while running background job: Backends provided no user object for ","level":3

Sometimes you can upload files (small files work almost every time e.g. a picture), bu

[2016-01-15 10:49] PVince81 commented on #20401
@icewind1991 if the example test storage is done, please ticket the matching checkbox.

[2016-01-15 10:51] PVince81 commented on #20401
Regarding string id, would be good to find out whether "tolerating" string ids in the core API is enough to make it work, and ignore the clients and third party apps in this first step.

[2016-01-15 10:57] PVince81 commented on #9058
Missing pieces to finish this:
- [ ] make share GUI / files app use the OCS endpoints to be able to create such shares: https://github.com/owncloud/core/issues/21554
- [ ] migration of old shares: https://github.com/owncloud/core/pull/21660
- [ ] some OCS API modifications (minimal)

[2016-01-15 10:58] rullzer commented on #9058
This is basically just adding information about who owns the files. The info is already there in the share object. I just did not yet expose it to the outside world.

[2016-01-15 11:04] PVince81 commented on #20401
cache interfaces was merged: https://github.com/owncloud/core/pull/20898

@icewind1991 please make checkboxes / tickets for the remaining tasks.

[2016-01-15 11:12] Innenseide commented on #21720
Thanks for reopening and taking the time.

The issue is just the same on Chrome.

After checking for what @PVince81 said I think I may have messed up this one beyond repair though... unencrypted_size is 0 on **every** entry in oc_filecache, even for files I uploaded just now. Also, encrypted is 0 on every entry except for those files I already tinkered with or uploaded right now.
Then again, the v

[2016-01-15 11:16] DeepDiver1975 commented on #20394
Changing the file id is kind of critical - the client is expecting a fixed size value of 36 chars - https://github.com/owncloud/client/blob/master/csync/src/csync.h#L148

[2016-01-15 11:16] DeepDiver1975 commented on #20401
Changing the file id is kind of critical - the client is expecting a fixed size value of 36 chars - https://github.com/owncloud/client/blob/master/csync/src/csync.h#L148

[2016-01-15 11:16] davitol commented on #21731
@PVince81 system-wide mount. So yes, it is dupe of #16533. Let's close it

[2016-01-15 11:16] #21731 closed

[2016-01-15 11:18] DeepDiver1975 commented on #20394
I vote for closing this issue - #20898 is merged which should allow a higher level of integration with respect to the storage interface.

@labkode @moscicki @karlitschek @icewind1991

[2016-01-15 11:19] PVince81 commented on #9090
As discussed with @rullzer, if we ignore share links for now, one acceptable approach is to have the Share API level detect whether a federated share target is actually a local user. Depending on this, if it's a local user, it will forward it to the "local shares manager" instead of the "federated shares manager"

[2016-01-15 11:25] #21706 closed

[2016-01-15 11:26] idenkov commented on #20976
I am having problem updating from 8.1.5.
Raspbian, owncloud installed from the Suse repo, ran apt-get upgrade then the occ upgrade - got stuck in maintenance, I disabled the maintenance then I got the update banner again.
After that ran the script for the file ownership and permissions, then ran again the occ update - same result. The banner for the update is still there.

occ check didn't return

[2016-01-15 11:26] #15462 closed

[2016-01-15 11:27] menaceone commented on #21354
It seems we have to wait for 8.2.3
Btw. what is the difference between the Ubuntu and xUbuntu repository?
is it secure to change between these two repos?

greetings

[2016-01-15 11:27] PVince81 commented on #9090
Another approach could be at an even earlier level: whenever the autocomplete delivers the federated share result, it could also return a flag that tells whether it's actually a local user or remote user.
Then the JS code could call the proper OCS API, either fed share or local share, based on that flag.

The problem with this approach is that mobile clients and desktop clients will have to implem

[2016-01-15 11:29] RealRancor commented on #20976
@idenkov Very unlikely that you have the same issue here.

[2016-01-15 11:32] PVince81 commented on #21354
@jnweiger any update ?

[2016-01-15 11:33] rullzer commented on #9090
Basically as I have discussed with @schiesbn we need to think how to do it. Instead of hacking it in. The share providers and share manager have been designed in such a way that there is separation of concerns. Hacking it in now breaks all that.

And as stated we have a lot of weird use cases now that might or might not make this possible.

I do think #21602 and this ticket fit nicely together. Bu

[2016-01-15 11:44] tmaex commented on #21728
Additional info:

stuff from "federated" changed after "ldap_user" is no more in "ldap_group" will be displayed as "from deleted user"

[2016-01-15 11:47] davitol commented on #21726
@PVince81 Yes, tested in Firefox and Chrome for MacOS and it happens. No logs are generated in owncloud.log and in the browser console

[2016-01-15 11:48] PVince81 commented on #19036
- [ ] UX tweaks

@LukasReschke can you fill in the details ? thanks

[2016-01-15 11:48] ipm-uma opened #21740 "Shibboleth integration only for Enterprise Edition?"
I am an employee of University of Malaga IT (Spain) with Owncloud 8.2.2 server installed.

We want to federate Owncloud using Shibboleth (really auth_mellon) but the official app is only for Enterprise Edition.

Do we have any alternative?

[2016-01-15 11:53] jospoortvliet commented on #21740
Other than buying the Enterprise Edition? I suggest you get in contact with ownCloud sales for the education discount, or use another solution. You could also write code yourself but I would guess that buying the enterprise edition would be cheaper AND you would be supporting ownCloud, giving the warm and fuzzy feeling of doing the right thing!

[2016-01-15 11:53] #21740 closed

[2016-01-15 12:02] davitol commented on #21738
It also fails in 8.2.2. oC version (just tested) and it only happens with external storages

[2016-01-15 12:19] cdamken commented on #12601
@bboule my FR is about 6 months old.

A good examples is how to administrate some users that works in the ownCloud platform during a project and you know that their information is needed for other users or members from a group after that project or working period.
The user account is disable while he is not in the project anymore, but he probably will come back to the company in the future.

Anoth

[2016-01-15 12:22] #21378 closed

[2016-01-15 13:04] cdamken opened #21746 "[8.2.2] Quota does not work over Webdav"
### Expected behavior
Once the quota is reached you can't upload more information.

### Actual behavior
Unlimited quota

### Steps to reproduce
1. Add a user with a X quota, e.g. = 10 MB
2. connect the user over Webdav
3. Upload everything what you want and you have unlimited quota.

### Server configuration
**Operating system**:
Tested in:
Ubuntu
Centos
Redhat

**Web server:**
Tested in:
2.2
2.4

[2016-01-15 13:09] karlitschek commented on #20394
I agree. Let's keep it like that and I will discuss the issue with the people who requested it next week.

[2016-01-15 13:12] #21746 closed

[2016-01-15 13:13] cdamken commented on #21746
I'm seeing that in 8.2.2 the files are 0 kb, I thinkin in 8.2.2 is solved

[2016-01-15 13:23] DeepDiver1975 commented on #20394
THX

[2016-01-15 13:42] PVince81 commented on #20427
- [ ] dialog with credentials: https://github.com/owncloud/core/pull/20920

[2016-01-15 13:44] MorrisJobke commented on #21303
This was a false positive. -> closing

[2016-01-15 13:44] #21303 closed

[2016-01-15 14:29] jancborchardt commented on #2927
I regularly get feedback from friends, or people I meet where their university runs ownCloud:

This is exactly what we want to avoid and a big barrier that drives people away from using it regularly. Log in, remembering passwords, remembering usernames – no one wants to worry about that.

Your email address though you probably remember. That’s why Facebook and other major players also enable log i

[2016-01-15 14:46] MTRichards commented on #2927
Isn't this just a configuration issue when it is set up?

I don't understand what is missing, and what you want here.
Of course I do understand raising the priority of the email entry in the personal tab, got it.

So what are you asking for? Are you saying both a username and an email login?

[2016-01-15 14:50] PVince81 opened #21749 "Wrong storage availability check when admin has no access"
### Steps

1. Enable ext storage
1. Create a user "user1"
1. Setup a system-wide ext storage mount (I used "/sftp")
1. Apply the mount for "user1" but not for admin/root
1. Go to admin's "All files" view

### Expected result
"/sftp" does NOT appear for admin user.

### Actual result
"/sftp" DOES appear for admin user, and the availability check says that the mount point is not connected.

### Vers

[2016-01-15 14:51] icewind1991 commented on #21749
I remember fixing this...

[2016-01-15 14:51] icewind1991 commented on #21749
https://github.com/owncloud/core/pull/21467

[2016-01-15 14:54] DeepDiver1975 commented on #2927
yes - this is the call.

[2016-01-15 14:55] PVince81 commented on #21749
Weird. I did pull master, still happens. Maybe it's another twisted code path that leads to this ?
Note that I first had "all" as applicable, then I created the user, and then added it into the applicable field. So technically the storage was available for admin for a short time.

Shouldn't matter though...

[2016-01-15 15:14] cdamken commented on #18542
@MTRichards Which workaround?

[2016-01-15 15:16] PVince81 commented on #9090
Discussed with @karlitschek and @cmonteroluque , moving to 9.1

[2016-01-15 15:22] MTRichards commented on #18542
Well, maybe I saw this and thought it was implemented, and it was just a proposal:

Didn't we deploy an SSO delete option for OCC in 8.2.2?
@DeepDiver1975 didn't you do that?

[2016-01-15 15:25] cdamken commented on #18542
the ```--force``` it's still not implemented

[2016-01-15 15:26] PVince81 commented on #19036
- [ ] sort out the communication part

[2016-01-15 15:39] DeepDiver1975 opened #21750 "[CalDAV/CardDAV] birthday calendar"
Question to ask:
- is the birthday calendar a server side feature?
- or is this something we want to build into the client (calendar-rework app)?

Seems like there are devices/apps out there which already extract birthday information from synced contacts. This is basically quite logic if you have all contacts at hand.

@georgehrke @Henni @irgendwie @raghunayyar @jancborchardt @karlitschek

[2016-01-15 15:40] DeepDiver1975 commented on #21750
Kind of 9.0 topic because we have the birthday calendar server side so we need an answer for the migration

[2016-01-15 15:44] georgehrke commented on #21750
The only client I know of is the calendar app for iOS and OS X. I'm not 100% sure, but I don't think Lightning, the Gnome calendar and KDE's Kalendar provide this feature. On iOS and OS X you can simply hide ownCloud's birthday calendar if you don't want to see it.

[2016-01-15 15:49] DeepDiver1975 commented on #21750
for sure - and this was my answer in the past to feature requests for a config switch to disable the birthday calendar :wink:

On android there are apps like this: https://play.google.com/store/apps/details?id=org.birthdayadapter.free&hl=en

No idea about Windows Phone and Desktop @icewind1991 @jakobsack

Gnome and KDE integration is a point to research into.

[2016-01-15 15:56] DeepDiver1975 commented on #18542
@MTRichards deleting shib users is implemented in https://github.com/owncloud/user_shibboleth/pull/72 since 8.2.0

[2016-01-15 16:03] MTRichards commented on #18542
Thanks @DeepDiver1975 that is what I thought, but I also thought the Shib option was for all users at occ, web and proisioning UI, not just SSO users @karlitschek .

Regardless, the above can be shortened to 00003201 only.
The best I can do is 9.1 - and that is so over full the backlog is creaking - unless someone tells me something different.

[2016-01-15 16:19] PVince81 opened #21751 "Repair file size at the end of download if it did not match database entry"
In some cases, especially with older encryption migration issues, the file size in the database doesn't match the real file size.

However, for encrypted files, the size cannot be inferred from the encrypted file size until the file has been decrypted at least once.

It is not possible to repair such files with OCC because the password is not known.

So, here is a proposed solution, enhance the do

[2016-01-15 16:28] schiesbn commented on #21751
as said in IRC, I think that's the right way. Maybe we need a third intermediate step if the client stops the download to early if the received size exceeded the content-length the server provided.

I could think about something like:

1. start download with given content-legnth (size stored in db)
2. download fails (if the server read the whole file we can update the size directly but change are

[2016-01-15 16:31] PVince81 commented on #21751
Good point.

So there are two cases to consider/test:
- when size > actual_size: client will wait for more data
- when size < actual_size: client might close the connection early and kill the PHP process (php-fpm)

But then if the connection is killed there isn't much chance to set the size to -1. Hmmm...

In the case of encryption problems, it is more likely that size > actual_size because for so

[2016-01-15 16:46] DeepDiver1975 commented on #18542
all use the same code which is calling the delete operations on the backends - before that specific fix it was not possible to delete a shib user.

[2016-01-15 16:58] Xenopathic commented on #21529
@mickg10 Could you retry with the latest master? A fix was merged that should solve this issue.

[2016-01-15 17:49] enoch85 commented on #17652
@RealRancor, Ofc, I knew that. Just shouting out for help. ;)

[2016-01-15 18:27] PVince81 commented on #21751
- [ ] could also happen with version files (another code path)

[2016-01-15 18:33] PVince81 commented on #21751
Looking at the current code, the old ajax/download.php seems to call `$view->filesize($path)` and uses the size returned by that call, which goes through `basicOperation('filesize')`. Looks like in the case without encryption it would just use whichever size is on disk.

So far I tested without encryption, and messed up the size in the database. The returned file through ajax/download.php still ha

[2016-01-15 19:15] #21110 closed

[2016-01-15 19:16] MightyCreak commented on #2927
Exactly like Github is doing too ;)

![2016-01-15 14_14_42-sign in to github github](https://cloud.githubusercontent.com/assets/6382548/12362648/7beb7340-bb92-11e5-9ff2-04ba3c0120d4.png)

[2016-01-15 19:34] Julian1998 commented on #17408
@jancborchardt But do we really need a message. I mean you know that there is no user existing if there is no content.... ;)

[2016-01-15 19:49] rullzer commented on #9058
PR for extending the API #21754

[2016-01-15 20:31] cmonteroluque commented on #9090
agreed

[2016-01-15 21:25] jakobsack commented on #21750
On Windows Phone birthday calendars are server side. Windows phone doesn't do this. It's the same for the desktop.

[2016-01-15 21:52] Xenopathic commented on #21749
[code]

Umm, wat. :boom:

So what's happening is, when you change an external storage from globally applicable to some user/group, that SQL query (or similar) is run to remove the 'null' applicable line. But for some reason it doesn't work, so the DB config reader assumes it's applicable to all. This fails when the storage is actually used, since it has non-empty applicable users/groups.

[2016-01-15 22:06] Xenopathic commented on #21749
AH, looks like SQL needs `is null` rather than `= null`. But we pass in the `null` as a named parameter... Although, it looks like we don't actually need to check if it's null or not, since with a `type = 1` the value will always be null.

[2016-01-15 22:25] Julian1998 opened #21756 "can't select view-input-folder"
<h2>Steps to reproduce</h2>

Select new folder and try to select a specific part of the content
<h2>Expected behaviour</h2>

Specific part is going to be selected

<h2>Actual behaviour</h2>

You can select all or nothing

<h3>Server configuration</h3>

Operating system: debian 8

Web server: apache 2.4.10

Database: sqlite

PHP version: 5.6.7

**ownCloud version: ownCloud 9.0 pre alpha (git)

Upda

[2016-01-15 23:10] DeepDiver1975 commented on #21750
THX @jakobsack

[2016-01-16 00:45] RealRancor opened #21758 "Federation app uses nonexistent other category"
https://github.com/owncloud/core/blob/59e9b93be646c46a47ac780b60cc1f0b9cf6e258/apps/federation/appinfo/info.xml#L10

"other" was removed from the appstore a few months ago https://github.com/owncloud/appstore-issues/issues/26#issuecomment-139913987

[2016-01-16 09:57] Akhenaton commented on #20963
@enoch85 Well, i got your VMware VM and will try today. But i use Oracle **Virtualbox** (last version 5.0.12) and it seems VirtualBox and VMware both seem to use slightly different OVA/OVF implementations that aren’t entirely compatible... I have also some problems to put my wifi in bridge mode... Well i will try to load directly the vmdk (without using the vmx) and install my virtual machine’s gu

[2016-01-16 10:42] fefrei commented on #19072
I can also reproduce this on Chrome (`Version 47.0.2526.111 m (64-bit)`).

[2016-01-16 11:34] thomasreus opened #21760 "Webdav doesn't work behind a reverse proxy with non-root url"
I try to configure an owncloud docker container (latest) behind an nginx reverse proxy. Using the browser works fine but if I want to sync my calendars via webdav (thunderbird / lightning), I got the following error in /var/www/html/data/owncloud.log:

{"reqId":"oq32Qo79zWIxlrZkpbR+","remoteAddr":"192.168.178.36","app":"caldav","message":"Exception: {\"Message\":\"Requested uri (\\/owncloud\\/remo

[2016-01-16 13:12] enoch85 commented on #20963
@Akhenaton Here you go: https://www.techandme.se/complete-install-instructions-owncloud/

[2016-01-16 14:30] mihaig11 opened #21762 "Modified date - Uploaded date"
Hello,

If I upload a file via the web interface, the "Modified" column on the server appears as it should be. Example: I upload the file at 14:00 and I look at it via the web interface after one hour, it says "Modified" "an hour ago", as it should be.

If I sync a file via the owncloud client and later I look at it via the web interface, the "Modified" column displays the time/date when the file

[2016-01-16 15:56] Xenopathic commented on #21760
The problem is very likely the `remote.phpp` bit, I'd suggest you search through your config files both on ownCloud and on the reverse proxy to make sure it's all correct.

You will also get better support for configuration issues like this from https://owncloud.org/support

[2016-01-16 16:53] DeepDiver1975 commented on #21760
Yes - looks like config issues

[2016-01-16 16:53] #21760 closed

[2016-01-16 17:10] Xenopathic commented on #21685
Unable to reproduce on current master

[2016-01-16 17:36] karlitschek commented on #21762
@MTRichards @dragotin what do you think?

[2016-01-16 19:13] MTRichards commented on #21762
Short story: This is by design.

Longer story: It has been this way because, unless we touch the file and update the mtime on the server when uploaded through the web, that is considered the time the file was created. For whatever reason, browsers behave that way. not sure who might now if this is addressable, I am unaware of a way to address this.

On the desktop sync, we touch the file at the en

[2016-01-16 19:53] rullzer commented on #21762
well in 'modern' browsers you can these days get the file mtime on upload.

But lets look at it in a different way. Uploading a file trough the webinterface is an action taken by the user. While uploading a file trough the desktop client is a passive action. I.e. I edit the file and I let the sync client sync it when it can. If for some reason the file can't be synced at the moment I edit it (mayb

[2016-01-16 19:53] rullzer commented on #21758
@schiesbn

[2016-01-16 19:54] MTRichards commented on #21762
@jancborchardt For your thoughts.
This is a significant change, and with so many installations out there, not one to be considered lightly.

[2016-01-16 20:33] dragotin commented on #21762
@rullzer says it: While the upload through web interface is an user action done "on purpose", the sync happens in the background and is not really visible to the user.

My vote would be to leave that as it is.

[2016-01-17 10:43] kaeser-sosae commented on #20750
Further information: deleting a folder works with the Sync client on windows, just not through the web interface.

[2016-01-17 13:13] mihaig11 commented on #21762
Leaving it like this creates confusion. I am actually surprised nobody reported it until now.
What actually happened in our case: I modified some files at 09:00 and sync them (via owncloud client) at 16:00…files were uploaded in a folder already shared with a client, so she received a mail notification saying new files were created at 16:00…but when she logged in owncloud (via the web interface) s

[2016-01-17 15:33] kaeser-sosae commented on #17499
Still seeing same delete issue with 8.2.2... any further thoughts?

Folders are deleted correctly when the Sync Client is used, but not through the web interface.

This has been preventing us from updating since August 2015. Surely we're doing something simple wrong, or there's a bug with the interface?

There must be others out there running SMB on Server 2012 as external storage - surely they'd

[2016-01-17 16:12] Romelhun opened #21763 "SQL Error during upgrade | PostgreSQL 9.2"
Dear Community,

during upgrade from 8.1.4 to 8.1.5 I have got error (see error description at the end).

### Steps to reproduce
1. yum upgrade

### Server configuration
**Operating system**: CentOS 7

**Web server:** Apache 2

**Database:** PostgreSQL 9.2

**PHP version:**  5.4.16

**ownCloud version:** 8.1.5

**Updated from an older ownCloud or fresh install:** updated from older one (from 8.1.4

[2016-01-17 16:33] Xenopathic commented on #17499
@PVince81 9.0 will include the code that moves the web UI to WebDAV, including DELETE operations, right? So any inconsistencies between UI/sync client will disappear?

[2016-01-17 16:41] tobru commented on #21243
I see exactly the same behaviour here, the server specs are the same as in the original bug report, except that I'm running ownCloud 8.2.2. Here is the Nginx vHost configuration (excerpt):

[code]

[2016-01-17 17:27] RealRancor commented on #21095
Until oC 9 is released one can use https://pecl.php.net/package/apcu_bc

[2016-01-17 18:21] waspinator opened #21764 "after upgrade from 8.0.2 to 8.1.0 segmentation fault"
### Steps to reproduce
1. upgrade from owncloud 8.0.2 to 8.1.0 using the manual method
2.
3.

### Expected behaviour
Owncloud should work as before

### Actual behaviour
I get segmentation fault in `/log/apache2/error.log`
    `[Sun Jan 17 13:03:23 2016] [notice] child pid 7576 exit signal Segmentation fault (11)`

and in Firefox I get a `The connection was reset` error while in chrome I get `No d

[2016-01-17 18:44] RealRancor commented on #21764
@waspinator Why not going directly to 8.1.5? 8.1.0 is outdated and contains quite a few bugs.

[2016-01-17 19:07] jakobsack commented on #21750
KDE PIM has its own birthday calendar but it is very easy to choose the shown calendars.

[2016-01-17 20:58] waspinator commented on #21764
I tried upgrading to 8.1.5 with the same result. as well as 8.2.2.

[2016-01-17 21:34] deviousway commented on #21461
Same issue on Archlinux Nginx+php-fpm (PHP 7.0.2)

[2016-01-18 02:12] mickg10 commented on #21529
Confirmed fixed at 7528fe5a8840615520469d58c8be37a7a5ff72f4

[2016-01-18 02:12] #21529 closed

[2016-01-18 02:25] mickg10 commented on #21530
Xenopathic - actually you are right. Just tried it with a local user, and it works as intended.

The issue seems to stem from the LDAP user backend using UUIDs as internal usernames, actually.
Example username: 0B2A1968-8EEE-4722-B14D-76F4AE6BE36E
What fixed it is going to Settings->LDAP->Expert and setting "Internal Username Attribute" to samaccountname, and then clearing Username-LDAP user mappi

[2016-01-18 03:32] waspinator commented on #21764
After upgrading to 8.2.2 and then migrating from Debian 7.9 to 8 ownCloud started working again. I'm thinking maybe 8.1+ isn't compatible with Debian 7.x since it uses Apache 2.2 instead of 2.4. But maybe that's just a coincidence.

[2016-01-18 03:32] #21764 closed

[2016-01-18 04:11] RealRancor commented on #21764
You're probably just hitting a bug in PHP which gets triggered by oC.

[2016-01-18 06:14] pacomedina opened #21767 "Access to all calendar"
Hello,

I've just noticed I can access to all calendar from one account using URL : /remote.php/caldav/principals/username/

I can see everyone calendar on the server if I replace "username" in the URL by the name of an other user.

Exemple :

user1 has calendar1
user2 has calendar2

I can see calendar2 using url /remote.php/caldav/principals/user2 and connecting with user1 credentials.

Is this a

[2016-01-18 08:16] MorrisJobke commented on #17408
@PVince81 I just got asked where to find the rendering of the user list. Do you know by any change out of your head where this is?

[2016-01-18 09:23] PVince81 commented on #17499
@Xenopathic yes. But it's still weird if someone cannot delete files in the web UI.
Might be worth investigating ?

[2016-01-18 09:24] PVince81 commented on #17499
CC @icewind1991 @jmaciasportela

[2016-01-18 09:29] PVince81 commented on #17408
In 9.0 it's moved to the sidebar, the code is here: https://github.com/owncloud/core/blob/master/core/js/sharedialogview.js#L21 and the sharee (recipient) list here https://github.com/owncloud/core/blob/master/core/js/sharedialogshareelistview.js#L17

[2016-01-18 09:36] nickvergessen commented on #21767
@DeepDiver1975 sounds like a real issue to me?

[2016-01-18 09:46] nickvergessen commented on #21756
Can you try to explain your steps a bit more in details? Or maybe support them with some screenshots?
It's a bit hard to understand what you are trying to do.

[2016-01-18 09:47] PVince81 commented on #21762
Note: with my work on Webdav PUT https://github.com/owncloud/core/pull/21237 it will become possible to keep the mtime of the file that was uploaded with a **decent** browser that provide this info/API. Might not work in IE though.

[2016-01-18 09:50] PVince81 commented on #21749
CC @davitol

[2016-01-18 10:01] PVince81 commented on #21749
Tested, works :+1:

[2016-01-18 10:21] kaeser-sosae commented on #17499
I can delete files, just not folders.

[2016-01-18 10:36] Kaelber commented on #21405
Your "pre-way" was good! Now I found  the solution as follow and I include in the crontab

0,20,40	4-23	*	*	*	root	/bin/su -s /bin/sh -c "cd /volume1/web/owncloud && /usr/bin/php -f occ files:scan rescan" http >> /volume1/web/owncloud/data/logs/cron_rescan_rescan_$(date +\%Y-\%m-\%d_\%H-\%M-\%S).log 2>&1

but this only is valid for ownCloud 8.2.x-versions. This doesn´t run with 8.1.x versions. Thi

[2016-01-18 10:57] PVince81 opened #21771 "occ export of ext storage config has wrong authentication type"
### Steps

1. Configure a SFTP ext storage with "Session credentials" mode
1. Export the config on the CLI: `sudo -u wwwrun ./occ files_external:list --output=json`

### Expected result
authentication_type must be "session credentials"

### Actual result
authentication_type is always "password".
If I pick "Username and password" it's always "password".
I'd expect this value to change.

### Version

[2016-01-18 11:45] jmaciasportela commented on #17499
@PVince81 I tested and it seems to work fine

[code]
![ev1](https://cloud.githubusercontent.com/assets/1454351/12390557/575dfc04-bde1-11e5-8a72-0f1f3c79213c.png)

I can delete files and folders inside SMB Folder

[2016-01-18 11:48] kaeser-sosae commented on #17499
Worth trying with $user variable as folder name? I'll try it without.

[2016-01-18 11:55] ravloony commented on #20662
This is a issue for me because I have simp_le (Let's encrypt client) running via cron. I need to be sure that my domain verification will not fail when my cert is updated.

Standard way of solving this (à la Wordpress) would be to put Owncloud rules between two regexable headers in the htaccess file.

So content could be:

    ### Anything placed between the BEGIN and END mantras will be overwritt

[2016-01-18 11:58] jmaciasportela commented on #17499
Using $user works fine for me also.

![ev1](https://cloud.githubusercontent.com/assets/1454351/12390766/1a58b888-bde3-11e5-81f0-52864dc19717.png)

[2016-01-18 12:02] kaeser-sosae commented on #17499
Without anything hitting the logs, and an ambiguous error message, where do I start?

This is a completely fresh install of 8.2.2 on Ubuntu 14.04

We are running 7.0.4 against the same SMB server without any problems at all...

[2016-01-18 12:03] kaeser-sosae commented on #17499
I notice you're running enterprise... any difference?

[2016-01-18 12:05] jmaciasportela commented on #17499
Files_external app is the same in community or enterprise version.

Maybe the problem is because it is necessary to do an extra set up in the LDAP configuration.

* In the LDAP configuration, in the expert tab, fill "Internal Username Attribute" with "sAMAccountName"
![1](https://cloud.githubusercontent.com/assets/1454351/7959750/0d5402e6-09fc-11e5-9d2f-e8ad1ff48e94.png)

**Note:** This config is

[2016-01-18 12:06] kaeser-sosae commented on #17499
Already using samaccountname as the internal username attribute.

As I've mentioned, we're running 7.0.4 with the same configuration against the same SMB server and it's all working fine...

[2016-01-18 12:24] kaeser-sosae commented on #17499
8.2.2 on the left, 7.0.4 on the right

![screen shot 2016-01-18 at 8 22 17 pm](https://cloud.githubusercontent.com/assets/13239751/12391273/782ad70a-be21-11e5-91a2-48841831cce4.png)

[2016-01-18 12:27] kaeser-sosae commented on #17499
![screen shot 2016-01-18 at 8 23 03 pm 2](https://cloud.githubusercontent.com/assets/13239751/12391319/d7932756-be21-11e5-8a8b-bb1ba95b08df.png)

[2016-01-18 12:46] AceSlash commented on #21763
No error with the following config:
- Debian 7.9
- apache httpd 2.2.22
- postgresql 9.3.10
- php 5.5.30
- Owncloud update from 8.1.4 to 8.1.5

[code]

[2016-01-18 12:47] raisulmac opened #21776 "Internet Download Manager (IDM) Does not support for download public file?"
Hello,

When, someone download a zip file via public share link. Then, Internet Download Manager does not support. Why? I saw that auto browser download option open for download the file.
But,
I want, when click Download Button. Then, Auto download manager open for download the file.
Someone can help me for fix the problem?
I am waiting for valuable response.

Best Regards,
Raisul

[2016-01-18 13:21] DeepDiver1975 commented on #21776
Thew zip files are created on the fly - resume is not possible as a result.

Besides that I cannot imagine a reason why IDM should not work with public sharing.

further debugging and analysis is welcome

[2016-01-18 13:21] BenS89 commented on #20555
[code]
worked perfectly for me.

[2016-01-18 13:28] DeepDiver1975 commented on #21767
this is th 'old' calendar ap - this issue should be reported in https://github.com/owncloud/calendar

[2016-01-18 13:28] #21767 closed

[2016-01-18 13:30] raisulmac commented on #21776
Actually, I am using large file on my owncloud server.
So, most people like, Internet download manager
for download big file.
So, I want people download the file via internet download manage
Also, pause and resume via download manager.

[2016-01-18 13:35] davitol commented on #21749
:+1: WFM