[2015-04-11 11:22] MartinW2 commented on #10788
Thanks a lot, @oparoz . As #13484 has been closed, I am happy that someone see the needs of Admins that simply want to make life easier for their occasional or anonymous users by setting optional, reasonable defaults. Of course users should be empowered to dynamically or permanently override sort order as they want - but I don't see why this is in contradiction to admins that (optionally) want to

[2015-04-11 11:38] mmattel opened #15546 "SMB is broken - gone from the list of available external storages"
@icewind1991 @MorrisJobke

Ubuntu 14.04, MySQL, nginx

Something bad happend.

After merging  #15535, I rebased my dev environment today morning and saw that SMB has completely gone from the available external storage list. After resetting my dev environment and reloding it from git with ``ocdev setup base``, enabling files_external, SMB was still missing in the list of available storages.

This i

[2015-04-11 12:08] plule commented on #14209
I can confirm that disabling server side encryption allowed feeds to be updated here.

[2015-04-11 12:39] mmattel commented on #15427
I have created a small Powerpoint having three slides.
Here are the screenshots to explain the problem in more detail:

**Slide 1**
![image](https://cloud.githubusercontent.com/assets/3321281/7101362/e10c23a4-e056-11e4-914a-33603b75f7d3.png)

**Slide 2**
![image](https://cloud.githubusercontent.com/assets/3321281/7101376/71d0bd78-e057-11e4-807e-aab3bf1e38b8.png)

**Slide 3**
![image](https://cloud

[2015-04-11 12:48] procsik opened #15547 "Synchronized shared parent folder"
Hello!
I think the problem will go into version 1.8.

User "A" to share a folder the user "B" without the right to delete. User "B" removes the attached files in a directory - the files are restored (synchronized) - good. But if the user deletes the parent folder, it will not be restored, and in addition stop sharing the user "A".

I think it is better to shared folders also synchronized after "ac

[2015-04-11 13:20] Peac commented on #15009
Got the same issue, if I delete a folder on my local system (Win 7 x64, Client 1.8.0) it won't appear in the trashbin of ownCloud (ownCloud 8.0.2 (stable)). If i delete the folder via webinterface it appears in the trashbin.

Log:
Error 	PHP 	opendir(/XXX/owncloud/data/XXX/files_trashbin/files): failed to open dir: No such file or directory at /XXX/owncloud/lib/private/files/storage/local.php#78

[2015-04-11 13:36] karlitschek commented on #15547
please reopen this in the client repository. Thanks

[2015-04-11 13:36] #15547 closed

[2015-04-11 13:37] karlitschek commented on #15546
@icewind1991 Can you have a look? Is the smclient now a hard dependency?

[2015-04-11 15:21] oparoz opened #15548 "isLocal returns false for local storage wrapped by encryption and trashbin"
Apps are not getting the correct answer for isLocal().
I don't know if it's related to ongoing 8.1 work which still needs to be fixed.

### Env
Master, PHP 5.5
No encryption

### Expected result
`$folder->getPath()`:

`$folder->getStorage()->isLocal()`:

### Actual result
`$folder->getPath()`:

`$folder->getStorage()->isLocal()`:

**Edit:**
This is what `$folder->getStorage()` is giving me

[code]

[2015-04-11 16:49] Xenopathic commented on #15427
We really have to avoid linking files_external with user_ldap. Those sort of dependencies are difficult to manage, and are easily broken. Any information needed by files_external comes from objects or interfaces in core oC, which user_ldap can populate as necessary.

[2015-04-11 16:53] Xenopathic commented on #15548
https://github.com/owncloud/core/blob/master/lib/private/files/storage/wrapper/encryption.php#L308-L315 Err what? @schiesbn @DeepDiver1975 could you explain this behaviour?

[2015-04-11 16:56] oparoz commented on #15548
@Xenopathic - Do you know why the encryption wrapper is used even though encryption is disabled?

[2015-04-11 16:59] Xenopathic commented on #15548
@oparoz Absolutely none - I think the encryption wrapper doesn't actually do anything if encryption is disabled, but for code simplicity it wraps it anyway.

[2015-04-11 17:00] oparoz commented on #15548
Thanks :)

[2015-04-11 17:09] mmattel commented on #15427
Please describe how an admin can define in field files_external/SMB/subfolder a particular user_ldap attribute which is then further used by onwcloud in the same way or functionality as $user is implemented right now

I am absolutely open to any idea that solves the issue I have described it in detail in the three screenshots above. As said, I do not stick to a new variable, but we need a function

[2015-04-11 17:53] Xenopathic commented on #15427
That is why I asked before, is does it make sense for `$user` to be an unusable field?

[2015-04-11 18:30] DeepDiver1975 commented on #15548
Even if enc is disabled the wrapper needs to be enabled to detect previously encrypted files. Otherwise we will corrupt files, what we don't want.

[2015-04-11 18:33] DeepDiver1975 commented on #15548
Encrypted files are not local because they cannot be accessed directly. But you are right - this code needs to reflect if a specific file is encrypted or not. Sadly the islocal check is not file specific.

[2015-04-11 22:18] enoch85 opened #15550 "Desktop client can't sync large files - Internal Server Error"
#### Expected behaviour

Big files should be able to upload without getting Internal Server Errror.

#### Actual behavior

I have to upload them to WebUI to get it working. The Client stops syncing the file due to some chunking error. Please see log for more info.

#### Steps to reproduce

1. Upload file to a folder that sync with ownCloud.
2. See what happens

#### PHP.ini
[code]

#### Logs

**Sy

[2015-04-11 22:19] enoch85 commented on #15550
Opened it here before: https://github.com/owncloud/client/issues/3101

[2015-04-12 00:45] oparoz opened #15551 "nodeExists always returns true for files coming from shared folder from federated clouds"
### Env
Master or oC8, PHP 5.5
2 oC instances on the same server

### Steps to reproduce
* Share **read-only** folder on oC1 **which is running oC 8.0**
* Attach share folder to oC2
* Launch a script on oC2 which tests the presence of a specific file **which doesn't exist** on oC1

Log the result like this
[code]

### Expected result
[code]

### Actual result
[code]

The same test works perfectly

[2015-04-12 01:04] oparoz commented on #15548
If I understand the situation correctly, then isLocal should be dropped since it will always return false for local folders, whether they're encrypted or not.

We still need a proper way to identify locally hosted folders. The ones which reside in the data folder and which have a low latency. Encryption should not modify the result. If an app needs to avoid encrypted folders, it can use isEncrypte

[2015-04-12 03:27] burkemw3 opened #15552 "conflicts dialog not usable on phones (mobile)"
### Steps to reproduce
1. Go to an owncloud folder on an iPhone
2. Select 2 photos from the Camera Roll to upload together
3. Upload

### Expected behaviour

Conflict dialog should appear and be usable

### Actual behaviour

Conflict dialog appears, but it isn't usable. Much of the dialog is off the screen. Zooming does not work. Scrolling does not work. Turning the viewport to landscape or portra

[2015-04-12 04:05] jcallerykbi opened #15553 "Could not automatically fix legacy storagae"
Here is what owncloud said:
Updating ownCloud to version 8.0.2, this may take a while.

Turned on maintenance mode
Checked database schema update
Checked database schema update for apps
Updated database
Updated "files_pdfviewer" to 0.7
Updated "user_ldap" to 0.5.0
Updated "activity" to 1.2.0
Updated "files_sharing" to 0.6.1
Updated "gallery" to 0.6.0
Could not automatically fix legacy storage "loc

[2015-04-12 07:52] RealRancor commented on #15553
Duplicate.

See https://github.com/owncloud/core/issues/13980#issuecomment-73511661 +following comments

[2015-04-12 08:19] #15553 closed

[2015-04-12 08:20] MorrisJobke commented on #15552
@owncloud/designers Anybody who wants to look into this? Maybe @jancborchardt ?

[2015-04-12 08:24] mmattel commented on #15427
@Xenopathic
There are two different things we should not mix up

Info: I am using the AD LDAP attribute names in the following examples

1. Credentials used for mounting a share
2. Restricting the user to use only a particular subfolder in the share (his personal root)

ad 1: The difference in having SMB and SMB_OC is, that in SMB an admin ususally uses admin credentials the user does not know to

[2015-04-12 09:25] RealRancor commented on #15550
Hi,

seems you're hitting the memory limit of your configured 512 MB:

536870912 / 1024 / 1024 = 512 MB.

https://doc.owncloud.org/server/8.0/admin_manual/configuration_files/big_file_upload_configuration.html

says something about memory related errors when output_buffering is not set to 0. Have you checked this?

[2015-04-12 09:32] finius commented on #14639
it definitely worked on owncloud 7 with iOS8 devices.

[2015-04-12 09:35] MorrisJobke commented on #15377
Fix was merged #15378

[2015-04-12 09:35] #15377 closed

[2015-04-12 09:35] MorrisJobke commented on #15436
@karlitschek Backport request for this is pending: https://github.com/owncloud/core/pull/15465#issuecomment-90884651

[2015-04-12 09:36] MorrisJobke commented on #15468
Changed milestone according to https://github.com/owncloud/core/pull/15486#issuecomment-90985708

[2015-04-12 09:48] jancborchardt commented on #14639
The original issue is solved though so I’ll close this. @finius can you either comment on #11193 or open a new issue for the separate problem?

[2015-04-12 09:48] #14639 closed

[2015-04-12 10:13] m-abs opened #15554 "Feature request: App Versions: Option to delete older versions"
I'd like an option for the files_version-app to delete old versions of the file.
Currently after 30 days one copy per week is kept, I'd like an option to make that zero, maybe after 60 days.

I've older versions of files that hasn't been changed in over a year.
I can't imagine that I'll ever need to use these old versions, so I'd prefer that they were deleted.

[2015-04-12 10:47] RealRancor commented on #15554
Related: https://github.com/owncloud/core/issues/13232

[2015-04-12 11:25] modk commented on #14048
Same problem here, changed the file as descriped but no luck. OC 8.0.2-8, Ubuntu 12.04 LTS, PHP 5.5.23

[2015-04-12 11:31] Vinschni commented on #15343
Needed Info is provided.

[2015-04-12 12:30] rullzer commented on #13564
Could you check if this is fixed as well after #14987

[2015-04-12 12:35] rullzer commented on #13673
This is fixed with #13964. So closing.
The info is now exposed. The info might be extended in the future. But that should go in a different issue.

[2015-04-12 12:35] #13673 closed

[2015-04-12 13:50] LukasReschke commented on #13709
Moved the details to the public repo as well for @rullzer:
<hr/>

<hr/>

<hr/>

[2015-04-12 15:41] finius opened #15556 "Files list on iOS 8 devices jiggles or hangs unscollable while scrolling up/down"
since oc8 the problem is that the main file/folder list is now nearly unscrollable on iOS 8 devices like iPhone 6 and iPad Air. Issue hasn't existed in oc7. When trying to scroll down the menu on the left slides out and the files list either moves jerky or seems to hang motionless.
It's no Safari issue because in Chrome it doesn't work either. It maybe is in relation to the issue https://github.co

[2015-04-12 20:21] karlitschek commented on #15556
@jancborchardt What do you think?

[2015-04-12 20:30] #10545 closed

[2015-04-12 20:41] danielkraffner opened #15557 "Icon of Desktop Client / Gray Border"
The "Green-Tick-Icon" of the Desktop-Client seems to have a grayish border around it. (1.8.0 build 4893)

See Screenshot:

![image](https://cloud.githubusercontent.com/assets/5311744/7107403/dc8b1b1e-e164-11e4-9c30-c135842b08cf.png)

Nothing Critical, just grinds my gears everytime I see it :)

[2015-04-12 21:00] MorrisJobke commented on #15494
fixed with #15555

[2015-04-12 21:00] #15494 closed

[2015-04-12 21:01] MorrisJobke commented on #15498
@karlitschek This was scheduled for 8.0.4 -> I have marked #15510 as backport request

[2015-04-12 21:14] MorrisJobke commented on #15557
@danielkraffner Please reopen in the client bug tracker https://github.com/owncloud/client/issues

This is the server component of ownCloud. Thanks :)

[2015-04-12 21:14] #15557 closed

[2015-04-12 22:31] karlitschek commented on #15557
@jancborchardt

[2015-04-12 22:33] danielkraffner commented on #15557
Reopened in Client Issues: https://github.com/owncloud/client/issues/3105

[2015-04-13 05:58] nickvergessen commented on #15436
We should make a list of this, since we fiddled at a lot of places with maintenance/single user latly, to make sure that all of them are fixed in master, 8 and 7

[2015-04-13 06:50] MorrisJobke commented on #10545
stable7 #15559

[2015-04-13 06:53] MorrisJobke commented on #10545
stable8 #15558

[2015-04-13 06:55] DeepDiver1975 opened #15560 "external storage tests broken on master"
[code]

[2015-04-13 06:55] roymcclure opened #15561 "Windows Client continuously discovering"
I'm using the windows client version 1.8.0 (build 4893). Server is 8.0.2 stable running on lubuntu. After it's walked through the whole discovery process, it will succesfully sync all files (except one*) and then start again a few seconds later - even when I have set remotePollInterval=1000000 in the [general] tab of c:\users\roymcclure\appdata\local\owncloud\owncloud.cfg - thus consuming a big ch

[2015-04-13 07:12] MorrisJobke commented on #15561
@roymcclure Please reopen this in the client issue tracker: https://github.com/owncloud/client/issues

This is the server component of ownCloud. Thanks :)

[2015-04-13 07:12] #15561 closed

[2015-04-13 07:22] roymcclure commented on #15561
No problem

[2015-04-13 07:22] DeepDiver1975 commented on #15546
I just had a look on current master and SMB is listed

[2015-04-13 07:52] KPrinz commented on #14911
#14398 seems to be the same issue.
If anyone needs some SQL queries run on the db, I'll volunteer.

[2015-04-13 08:01] mmattel commented on #15546
hmmm... I just tried it again, and it is still not listed.
disabling and re-enabeling files_external, smb is still not present - what can I do to provide further information?

[2015-04-13 08:07] #15560 closed

[2015-04-13 08:12] PVince81 commented on #15009
Hmmm, that error says that the trashbin folder hasn't been created locally for that user. Can you check if the "files_trashbin/files" folder exists ? If not, try creating it manually, make sure it has the permissions for the web server like other folders.

Still, that doesn't explain why the one works but not the other.

[2015-04-13 08:15] DeepDiver1975 commented on #15546
[code]

[2015-04-13 08:16] DeepDiver1975 commented on #15546
the smb external storage implementation is still checking for smbclient being installed - but in case the native implementation of libsmbclient-php

[2015-04-13 08:16] DeepDiver1975 commented on #15546
@mmattel I assume smbclient is not installed on your system?

[2015-04-13 08:23] PVince81 commented on #15505
Fixed by https://github.com/owncloud/core/issues/15510

[2015-04-13 08:23] #15505 closed

[2015-04-13 08:25] PVince81 commented on #15495
Fixed by https://github.com/owncloud/core/issues/15510

[2015-04-13 08:25] #15495 closed

[2015-04-13 08:35] PVince81 commented on #15447
I tried the following with v8.0.2:
1. Mount a S3 bucket (I used one from the EU server)
2. Create a folder "abc"
3. Create a subfolder "abc/def"
4. Upload a bunch of pictures into "abc/def"
5. Delete "abc" from the web UI
6. Check the trashbin

Folder was deleted properly. Works for me.

Can you tell us more about that folder ? Does it contain a lot of files ?
Is it a specific folder or any folder

[2015-04-13 08:35] PVince81 commented on #15447
Does its path contain any special characters ?

[2015-04-13 08:38] jancborchardt commented on #15556
(I rather think this is related to https://github.com/owncloud/core/issues/11193)

[2015-04-13 08:38] fkoester opened #15565 "Slow size query on filecache table"
I am noticing a major performance issue when synchronizing a directory with a lot of small files from Gnucash financial-accounting software.

Owncloud (version 8.0.2) is running on a low end system, an ARM-based Cubietruck with Allwinner A20 SoC and 2GiB of RAM. Operating System is Gentoo GNU/Linux with kernel 3.19.3. The database is PostgreSQL 9.4.1.

Looking at "SELECT * from pg_stat_activity" I

[2015-04-13 08:40] rullzer commented on #13709
Fix in #15564 .
However, I would suggest to also address the other raised points (but in a PR for 8.2). The subadmin class should throw an exception. Since that is the actual place it needs to be fixed.

[2015-04-13 08:50] mmattel commented on #15546
I just changed the code in checkDependencies to return always true for testing.
Having this patched, it works now.

I do not know what else / additionally changed up to #15535 was merged, but it worked before...

[2015-04-13 09:05] PVince81 commented on #15371
@kaplandani can you run the following: `select * from oc_filecache where (path like 'files' or path like 'files_trashbin')` and find the entries for the user in question ? (you can map it to oc_storages with storage=numeric_id). Have a look at the "size" column.

To work properly, the "files" entry and "files_trashbin" entries must both have the correct size in the database. If they don't, you can

[2015-04-13 09:06] PVince81 commented on #15368
or @rullzer

[2015-04-13 09:07] PVince81 commented on #15365
Hmm strange, I would expect the SDK API to not put the whole file in RAM when uploading but stream it from disk.

[2015-04-13 09:10] PVince81 commented on #7046
Likely duplicate of https://github.com/owncloud/core/issues/13391

[2015-04-13 09:10] PVince81 commented on #14908
Liekly duplicate of https://github.com/owncloud/core/issues/13391

[2015-04-13 09:10] #14908 closed

[2015-04-13 09:10] PVince81 commented on #11898
Likely duplicate of https://github.com/owncloud/core/issues/13391

[2015-04-13 09:10] #11898 closed

[2015-04-13 09:10] PVince81 commented on #12659
Could be related to: https://github.com/owncloud/core/issues/13391 where the file cache update isn't fast enough.

[2015-04-13 09:13] nickvergessen commented on #15436
Did I miss any feature? And can someone ( @DeepDiver1975 ) confirm the expected result? Then I will go through master/stable8/stable7 and try to find out what is not working where correctly.

### Expected

Feature | Maintenance | Single user
---------- | ----------- | -----------
WebUI / Ajax (index.php) | :no_entry_sign: (should not work) | :children_crossing: (admin only)
Login (index.php) | :no

[2015-04-13 09:14] PVince81 commented on #15343
Likely to be a duplicate of https://github.com/owncloud/core/issues/13330 where the file scanner is too slow to update a lot of entries.

[2015-04-13 09:14] #15343 closed

[2015-04-13 09:14] PVince81 commented on #15343
actually not the file scanner but the cache updater

[2015-04-13 09:15] PVince81 commented on #12210
Likely to be a duplicate of https://github.com/owncloud/core/issues/13391

[2015-04-13 09:15] #12210 closed

[2015-04-13 09:16] PVince81 commented on #12210
@chmol did you find whether the files still existed on disk ? You could try running `./occ files:scan --all` as the web server user to reindex them properly.

[2015-04-13 09:16] MorrisJobke commented on #15436
I would tend to write a test in smashbox for this. Or is this too hard? Can the maintenance/single-user mode be enabled via remote/API?

[2015-04-13 09:18] PVince81 commented on #12605
Likely to be a duplicate of https://github.com/owncloud/core/issues/13391

Does it happen for any folder or just that one ? Did the folder contain lots of files ?

[2015-04-13 09:20] PVince81 commented on #8558
Do these folders contain a lot of files ? If yes, it could be a duplicate of https://github.com/owncloud/core/issues/13391

[2015-04-13 09:20] MorrisJobke commented on #15436
@nickvergessen Regarding the table: looks good

[2015-04-13 09:21] PVince81 commented on #11533
Linking with stable fileid ticket: #13310

[2015-04-13 09:25] PVince81 commented on #15343
Sorry, I linked the wrong ticket. This would be a duplicate of https://github.com/owncloud/core/issues/13391

Also sounds similar to https://github.com/owncloud/core/issues/14908 and https://github.com/owncloud/core/issues/13871 and https://github.com/owncloud/core/issues/8558

[2015-04-13 09:26] PVince81 commented on #15340
Duplicate of https://github.com/owncloud/core/issues/14908

Also likely to be related to https://github.com/owncloud/core/issues/13391 especially if that folder contains a lot of data

[2015-04-13 09:27] PVince81 commented on #15406
It seems Dropbox doesn't work properly in v8.0.2.
This fix https://github.com/owncloud/core/pull/14946 in the upcoming 8.0.3 that should hopefully make it work.

I tried the following on v8.0.3RC1:
1. Mount Dropbox as system-wide mount point
2. Enable encryption
3. Logout then login again
4. Setup the sync client for this user
5. Wait for sync
6. Create a local folder "encryptthis"
7. Put a bunch

[2015-04-13 09:27] #15406 closed

[2015-04-13 09:28] BernhardPosselt opened #15567 "Internet Explorer support timeline"
At some point we need to think about deprecating older IE versions since the maintenance cost is too high.

I think its possible to drop IE8 soon. I'd also advocate to drop IE9 support with it.

8 is the classic company browser on XP, 10 is the newest possible version on 7 which is what most companies will likely migrate to. I think the issue is therefore more about what company Windows version we

[2015-04-13 09:30] LukasReschke commented on #15567
cc @MTRichards

[2015-04-13 09:30] Rothy commented on #7046
Why did you close this?

-------- Ursprüngliche Nachricht --------
Von: Vincent Petry <notifications@github.com>
Datum:13.04.2015 11:12 (GMT+01:00)
An: owncloud/core <core@noreply.github.com>
Cc: Martin Krichenbauer <martin@endlichfreitag.de>
Betreff: Re: [core] Renaming folders locally causes deletion of the content (#7046)

Closed #7046<https://github.com/owncloud/core/issues/7046>.

—
Reply to

[2015-04-13 09:33] PVince81 commented on #15340
OUCH, what?! No?!

Definitely not a duplicate.
I can reproduce this consistently using the steps above.

This appears in the log:
[code]

[2015-04-13 09:34] PVince81 commented on #14908
Problem can be reproduced consistently, actually a duplicate of https://github.com/owncloud/core/issues/14908

[2015-04-13 09:40] PVince81 commented on #7046
Ok sorry, I didn't see that it was windows server. Likely to be different than https://github.com/owncloud/core/issues/13391

[2015-04-13 09:41] mmattel commented on #15546
No smbclient (also libsmbclient) was and is installed on my system.

    sudo apt-get install smbclient
    Reading package lists... Done
    Building dependency tree
    Reading state information... Done
    smbclient is already the newest version.

[2015-04-13 09:42] PVince81 commented on #15340
On 8.0.3RC1 the log output is shorter:
[code]

@schiesbn any idea ?

The key point here is that the sharer is also member of the target group.

[2015-04-13 09:45] PVince81 commented on #15340
Also happens on master (c3fbc2b6fd09bb5b94112da9248cae28d6ef85e3) with the same output as 8.0.3RC1

[2015-04-13 09:48] LukasReschke commented on #15565
@icewind1991 @DeepDiver1975 Any thoughts? THX. – I am by far no database magician ;-)

[2015-04-13 09:48] PVince81 commented on #15340
I'll try and debug this

[2015-04-13 09:54] schiesbn commented on #15368
@Norahy which ownCloud version? I tried it with 8.0.2 but couldn't reproduce it.

[2015-04-13 09:54] mmattel commented on #15546
which smbclient
    /usr/bin/smbclient

It seems, hat \OC_Helper::findBinaryPath('smbclient') does not return a value

[2015-04-13 09:55] PVince81 commented on #15340
The target folder can be renamed by user2 freely to "Public2", "Public3", etc as long as it's not the original name.
As soon as the original name "Public" is used, the error appears.
Interestingly if user1 renamed "Public" to "Public1" after sharing, user2 can also use "Public1" without issues. It's only when renaming to the very first original name "Public" that it clashes.

[2015-04-13 09:57] DeepDiver1975 commented on #15476
duplicate of https://github.com/owncloud/core/issues/15009

[2015-04-13 09:57] #15476 closed

[2015-04-13 09:59] DeepDiver1975 commented on #15565
@fkoester feel free to submit a pull request - THX

[2015-04-13 10:00] rullzer commented on #15368
This might be a problem from the js point. As I could not reproduce it as well.

I think if you directly click afterwards. The share is not yet unshared. So bad things happen since you see old info. Of course that would show wrong data and deleting it would result in an error since it is already unshared.

@Norahy can you confirm it does not happen if you wait a few seconds?

[2015-04-13 10:04] PVince81 commented on #15340
I think I'm onto something. I see that renaming the mount point works properly in oc_share, but at the time where the cache update happens, it would normally rename the root entry "" to "". But for some reason it tries renaming "2" to "". It almost looks like it's stripping the "/Public" from the "/Public2" path and "2" remains.

[2015-04-13 10:08] PVince81 commented on #15340
Yes, that's the problem:

This is `$this->mounts` in the mount manager:
[code]

Since the last entry "/user2/files/abc" is missing a trailing slash, when looking for the mount point matching "/user2/files/abc2" it finds that entry...

Now to find out why the trailing slash is missing.

[2015-04-13 10:08] PVince81 commented on #15340
CC @icewind1991

[2015-04-13 10:12] karlitschek commented on #15546
@DeepDiver1975 @icewind1991 So cifs support has now a hard requirement on smclient? I thought the "old" PHP way is still supported?

[2015-04-13 10:18] mmarder commented on #15447
Thank you for taking a look at this.

Some more information:
- S3 bucket from eu-central-1
- The folder can be empty and it is still not working
- Example of one of the folder names I tried "companymaterial" (so no special characters)
- Renaming the folder works fine

As far as I understand the error from AWS "The specified key does not exist." means that the file does not exist in the S3 bucket.

[2015-04-13 10:24] blizzz commented on #15427
Specifially to files_external you have a point here. While, hypothetically the file storage, whatever it may be, could check against ownCloud users.

Might work. Not sure there is a scenario where files would be accessed before the first login i.e. unknown login name.

cc @icewind1991

[2015-04-13 10:28] DeepDiver1975 commented on #15546
No/Yes - this is the old way - which we still support.

The dependency check is missing the situation where the native php module is enabled - we shall add this

[2015-04-13 10:33] mmattel commented on #15546
Just tested by replacing in the query ``smclient`` with eg ``sendmail`` which is definitely present - same error.
``\OC_Helper::findBinaryPath`` does not return a result here?

[2015-04-13 10:38] MorrisJobke commented on #13281
fix is in #15569

[2015-04-13 10:38] PVince81 commented on #15340
Setting to "sev1-critical" because it leads to data loss: the original folder disappears completely.

[2015-04-13 10:39] PVince81 commented on #15340
Fix is here: https://github.com/owncloud/core/pull/15570

[2015-04-13 10:39] MorrisJobke commented on #15546
cc @nickvergessen Didn't you changed something in there?

[2015-04-13 10:41] PVince81 commented on #15340
This works properly already on stable7 / OC 7.
So only OC 8.0 and the upcoming 8.1 are affected.

[2015-04-13 10:44] blizzz commented on #13533
@gig13

Well, you said you did upgrade to 7.0.5 (https://github.com/owncloud/core/issues/13533#issuecomment-87062555).

Did you do

as suggested in https://github.com/owncloud/core/issues/13533#issuecomment-87623862 ?

[2015-04-13 10:44] PVince81 commented on #15447
Can you confirm that the folder really exists by looking at the S3 web interface ? Does the folder appear there with the proper name ? If I remember well, the folder entry should have a trailing slash, so it should read "companymaterial/"

[2015-04-13 10:46] karlitschek commented on #15546
@DeepDiver1975 Ahh got it. Sometimes it makes sense to look into the code before asking stupid questions ;-)

[2015-04-13 10:48] emitac opened #15571 "problem updating webpage after fileupload"
### Steps to reproduce
1.Login to Owncloud
2.Upload a file
3.The site does not actualize - at all PCs and all Browsers

### Expected behaviour
The site should actualize

### Actual behaviour
The site stands as shown in tne Picture for ever

### Server configuration
**Operating system**: CentOS 6.6

**Web server: Apache 2.2.15

**Database: MySql 5.1.73

**PHP version: 5.5.23

**ownCloud version: 8.

[2015-04-13 10:50] PVince81 commented on #15340
OC 8.0 patch here: https://github.com/owncloud/core/pull/15572

[2015-04-13 10:51] nickvergessen commented on #15546
I just changed it so it does not run on windows.
However @oparoz modfied the paths we look at https://github.com/owncloud/core/pull/12314: https://github.com/owncloud/core/commit/0f01de9f7e3a17afa769680f25f73ddef15b1ec0

The other changes should be save:
https://github.com/owncloud/core/commit/c29138311614cba8bc4699a0afa485aefe621b6b https://github.com/owncloud/core/commit/7c41c0c13f1a845fdcedd622

[2015-04-13 10:58] blizzz commented on #13533
Your log is full of repeated messages like:

[code]

And a few of

[code]

Plus also several of

[code]

Already the beginning indicates that invalid user name data is passed, not even a string but an array.

Adding to the answers to the questions in the prior post, i'd like to ask you how you did the upgrade and how you test it.

[2015-04-13 11:01] oparoz commented on #15546
`findBinaryPath` is using Symfony's `ExecutableFinder`, but even when that fails, `find` should return a result.

@mmattel What do you get when running the `find` command from the shell?
https://github.com/oparoz/core/blob/7c41c0c13f1a845fdcedd62218de490e8c01691b/lib/private/helper.php#L929

[2015-04-13 11:01] rullzer opened #15573 "Subadmin class should handle error cases gracefull"
As mentioned in #13709 there should be a couple of more checks in the subadmin class. For example to make sure that we do not try to make a user a subadmin of the same group twice. This should be handled more gracefully.

This could either be silent (in certain cases) or in the form of exceptions.

This makes sure we do not have to check in multiple places and fixes the problem where it can occur.

[2015-04-13 11:02] rullzer commented on #13709
Technical dept issue created at #15573 to really fix the subadmin class.
However this issue here is fixed, so closing.

[2015-04-13 11:02] #13709 closed

[2015-04-13 11:03] nickvergessen commented on #15546
@oparoz you changed the paths `find` looks at, so I assume that is the problem :wink:

[2015-04-13 11:05] PVince81 commented on #13330
Tried this again on master (b67301ef998663df86abe7f24127910e0aa110be) and now the transfer properly aborts. There are no zeroed out files any more, source files are left unchanged.

This is likely to be fixed by https://github.com/owncloud/core/pull/14503 where error detection is improved and the original file is kept in such cases.

[2015-04-13 11:05] #13330 closed

[2015-04-13 11:10] mmattel commented on #15546
find /usr/local/bin /usr/bin/ -name smbclient 2> /dev/null
    /usr/bin/smbclient

[2015-04-13 11:12] oparoz commented on #15546
@nickvergessen - . I didn't change the paths, I replaced `which` with `ExecutableFinder` which should be more reliable, even though it still doesn't work properly for people with open_basedir restrictions.

`find` is only used as a backup solution and it's looking in /usr/bin, so something should be returned.

@mmatel - Thanks
Try to comment out https://github.com/oparoz/core/blob/7c41c0c13f1a845f

[2015-04-13 11:16] #15340 closed

[2015-04-13 11:21] mmattel commented on #15546
I commented out

		if ($memcache->hasKey($program)) {
			return $memcache->get($program);
		}

But the problem is still there

[2015-04-13 11:25] gig13 commented on #13533
@blizzz
Yes, I did the suggestion from  #13533 (comment). I reconfigured the LDAP several times and waited more than ten minutes for the refresh.

I performed an upgrade from 7.0.4 to 7.0.5 in a manual manner as per our documented instructions.  Then applied the patch and reconfigured. And we tested it by logging in as the admin user and as an LDAP user and tested uploading, shares, etc.

[2015-04-13 11:27] oparoz commented on #15546
@mmattel - Thanks
If it's easy for you to do, it would be great if you could log the output of
https://github.com/oparoz/core/blob/7c41c0c13f1a845fdcedd62218de490e8c01691b/lib/private/helper.php#L926 to see if you get a bogus result from `ExecutableFinder`

and also, commenting out lines 930 and 932 to log the output of line 931.

[2015-04-13 11:32] LukasReschke opened #15574 "Core has dependency on OpenSSL"
For example https://github.com/owncloud/core/blob/a88e013f722a2bf30100074760509613c76ca807/lib/private/security/certificate.php#L54, other usages likely as well.

Two options:
1. We make OpenSSL a hard-dependency, should be not that big of a deal
2. We go through all OpenSSL usages and verify/replace them

This whole dependency stuff is a nightmare on it's own :see_no_evil:

cc @karlitschek @DeepD

[2015-04-13 11:37] rullzer commented on #12712
So I assume the PR fixed this. Please reopen if not.

[2015-04-13 11:37] #12712 closed

[2015-04-13 11:38] mmarder commented on #15447
![bildschirmfoto 2015-04-13 um 13 37 18](https://cloud.githubusercontent.com/assets/1316291/7114866/49503586-e1e2-11e4-89b4-b37d1b4efd8c.png)

The folder looks fine in S3, but I don't have a trailing slash.

[2015-04-13 11:47] dragotin commented on #13024
Not specific enough and inactive for very long time. Closing hence.

[2015-04-13 11:47] #13024 closed

[2015-04-13 11:58] DeepDiver1975 commented on #15574
from my understanding openssl is also required if we try to access an https link - e.g. appstore

[2015-04-13 11:58] mmattel commented on #15546
@oparoz
Info the code updated from git on my machine (updated today) compared to the linked code does not match exactly.

Here is what I did:

                $result = null;
                if (!\OC_Util::runningOnWindows() && self::is_function_enabled('exec')) {
                        $exeSniffer = new ExecutableFinder();
                        // Returns null if nothing is found

[2015-04-13 12:00] PVince81 commented on #15447
Okay. Either that's the problem or maybe S3 is clever enough to interpret it as a folder (note: I'm not a S3 expert at all)

[2015-04-13 12:05] Norahy commented on #15368
It's version 8.0.2, and it still happens if I wait a few seconds.

[2015-04-13 12:09] LukasReschke commented on #15574
I think for that it is actually sufficient to have cURL with OpenSSL support compiled. That said we have a ton of third-party libraries that expect that OpenSSL is installed and they might do some pretty … interesting … stuff if it isn't there ;-)

I'd vote for an hard-dependency. – OpenSSL is pretty much installed even on the crappiest web hosters available out there. But then only for 8.1 and fo

[2015-04-13 12:26] mmattel commented on #15546
Added a log write to see if the getenv('PATH') returns a value.
Interestingly there is no output??
But if I do following from the php command line, I get:

    php > echo getenv('PATH');
    /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/gamesphp >

[2015-04-13 12:29] PVince81 opened #15575 "Render files_external config list in JS"
Currently the config list is rendered through a template on the server.
Also that template is not very flexible regarding configs.

We should move the config row rendering to Javascript.
By default it would reuse the config options as specified in the backend.

External storage apps must be able to extend row rendering to be able to have custom logic.

CC @DeepDiver1975 @jmaciasportela @Xenopathic

[2015-04-13 12:34] oparoz commented on #15546
OK, so it seems there is a problem on your setup with `getenv`. `ExecutableFinder` is using the same command to get the paths it can search in.

Could you add a dummy page to oC, serving phpinfo(), to see if you get any paths at all?

[2015-04-13 12:36] karlitschek commented on #15574
Yes. Stuff like appstore should be covered by curl.
It would be good to have an overview over all the 3rdparty libraries that expect openssl and our own features that rely on that. Then we can evaluate.
Less dependencies is always good.

[2015-04-13 12:43] hektor157 opened #15576 "After first use can't login anymore"
Ahoy,
yesterday i've installed ownCloud through cPanel, and everything just worked fine, but today i've tried to login through admin account and i can't get inside.
I've tried to remove cache, also browsing in incognito mode and still nothing. What should i do? =/
Best regards,
hektor157

[2015-04-13 12:48] karlitschek commented on #15576
Hm. I´m sorry to hear that. I recommend that you ask this question in the owncloud forum at forum.owncloud.org
Thanks a lot.

[2015-04-13 12:48] #15576 closed

[2015-04-13 12:48] jeffhoffman13 commented on #11685
Ok so I had deleted my perfectly working thumbnail directory pointed to an external shared directories mounted and linked locally now when I try to view images, I get the forever circling icon and no thumbnails?

Getting these errors:

[2015-04-13 12:49] jeffhoffman13 commented on #11685
Error 	core 	OC_Image->data. Error getting image data. 	2015-04-13T12:47:57+00:00
Error 	PHP 	imagepng() expects parameter 1 to be resource, boolean given at /var/www/owncloud/lib/private/image.php#292 	2015-04-13T12:47:57+00:00
Error 	PHP 	Undefined index: REQUEST_URI at /var/www/owncloud/apps/calendar/appinfo/app.php#41 	2015-04-13T12:45:05+00:00
Thoughts?

[2015-04-13 12:53] nickvergessen commented on #15546
@oparoz https://github.com/owncloud/core/commit/0f01de9f7e3a17afa769680f25f73ddef15b1ec0 yes you changed it ;)

[2015-04-13 12:59] oparoz commented on #15546
@nickvergessen - Ah, I see what you mean now. I was asked to do it that way:
https://github.com/owncloud/core/pull/12314#issuecomment-76203388

but that's not really the problem here. `getenv('PATH')` should return a list of paths.

[2015-04-13 13:00] nickvergessen commented on #15546
yes, but its a different list

[2015-04-13 13:02] oparoz commented on #15546
Without a working `getenv('PATH')`other areas of oC will break
https://github.com/owncloud/core/blob/3d2116dfe750bceecdde464985046b3116e3e470/lib/private/helper.php#L565

And if `getenv()` is broken, there are even more problems.

[2015-04-13 13:07] oparoz commented on #15546
@mmattel - Do you get something if you use `$_SERVER["PATH"]` instead?

[2015-04-13 13:16] #13237 closed

[2015-04-13 13:29] RealRancor commented on #10314
Could this be also caused by some 3rdparty apps installed?

https://apps.owncloud.com/content/show.php/Reader+%28ebook+reader%29?content=167127

for example (and IIRC some other apps too) are describing that the custom_csp_policy of ownCloud needs to be overwritten.

[2015-04-13 13:30] blizzz commented on #13533
Do you have the patch you applied?

[2015-04-13 13:35] PVince81 commented on #13328
I wasn't able to reproduce this on master, neither with or without the locking app.
Similar to https://github.com/owncloud/core/issues/13330, there is no half-written or empty files on error and the source tree is preserved when the move operation failed or was aborted due to an error.

[2015-04-13 13:35] #13328 closed

[2015-04-13 13:40] gig13 commented on #13533
@blizzz
Its the access.php in https://s3.owncloud.com/owncloud/index.php/apps/files?dir=%2FShared%2Fowncloud%2Fsupport%2Fgithub-issues%2Fcore%2F13533

[2015-04-13 13:42] oparoz commented on #15551
I'm guessing @icewind1991 should know what's going on.

[2015-04-13 13:42] PVince81 opened #15578 "[enc2] Move file out of share as recipient breaks file"
### Steps to reproduce
1. Enable encryption app + encryption module in admin page
1. Create two users "user1" and "user2"
1. Login as "user1"
1. Create a folder "test"
1. Create or upload a picture "test.jpg" into "test"
1. Share "test" with "user2"
1. Login as "user2"
1. Download and open pic: works
1. Move "test.jpg" into the root in the web UI (drag and drop)
1. Try downloading and opening "tes

[2015-04-13 13:46] LukasReschke commented on #10314
Sure. They can do all kind of voodoo. And *ewww*, THAT'S a bad and ugly workaround they describe here. However, with ownCloud 8.1 developers can specify custom policies for applications so this workaround will be gone (and don't do anything anymore anyway). Basically the policy they recommend there does make the whole CSP thing useless ;-)

[2015-04-13 14:00] mmattel commented on #15546
I quickly created a browser access to phpinfo() and the result was:
![image](https://cloud.githubusercontent.com/assets/3321281/7116484/2288ce8a-e1f2-11e4-8046-6b8d700400ec.png)

``$_SERVER["PATH"]`` drops a php error

Then I did some research and found that when you use php5-fpm, the environment variables are NOT automatically beeing populated by php. I took the remark off in ``sudo vi /etc/php5/

[2015-04-13 14:10] oparoz commented on #15546
OK. So @nickvergessen , @DeepDiver1975, maybe a working getenv('PATH') should be added as a dependency somehow?

[2015-04-13 14:12] PVince81 opened #15580 "[enc2] New encryption much slower to download files"
### Steps
1. Setup OC 8.0.3RC1 (or stable8)
1. Enable encryption
1. Create two users "user1" and "user2"
1. Login as "user1"
1. Create a folder "test"
1. Upload a big file "data1.dat" (mine was 121MB big)
1. Share "test" with "user2"
1. Download the file with curl as "user2": `curl http://user2:test@localhost/owncloud/remote.php/webdav/test/data1.dat -o temp.dat`. Took 2s "Time spent"
1. Upgrade t

[2015-04-13 14:13] PVince81 commented on #15580
@schiesbn @th3fallen @icewind1991 @DeepDiver1975

[2015-04-13 14:15] nickvergessen commented on #15546
@LukasReschke as dependency check master

[2015-04-13 14:15] karlitschek commented on #15580
hmm. not good at all

[2015-04-13 14:18] blizzz commented on #13533
OK, I got the missing piece.

[2015-04-13 14:34] PVince81 commented on #15580
I tried to profile it with blackfire and here is the result:
- before: https://blackfire.io/profiles/50c31839-b57d-4369-a5cd-d87ee578bbe6/graph
- after: https://blackfire.io/profiles/22e78407-16f9-45ed-b8dd-7104b078dd2d/graph

When doing the measurement with curl, I noticed that it now aborts at 2s:
[code]

I think the reason why it takes 15 additional seconds is only because curl waits for the mi

[2015-04-13 14:34] PVince81 commented on #15580
I also observed this in Chrome: I see the download counter advancing then stopping for a while, then it gives up (timeout) and delivers the file.

[2015-04-13 14:48] DeepDiver1975 commented on #15580
This is related to the filesize issue which is still open ...

[2015-04-13 14:52] gig13 commented on #13533
@blizzz
Is there a new access.php file?

[2015-04-13 14:53] th3fallen opened #15582 "[Enc 2] desktop client syncs encrypted file."
## Steps
configure desktop client
Sync files

## Expected result

files sync and are usable from ownCloud folder
## Actual result

files in ownCloud folder are encrypted

## Versions
current master

[2015-04-13 14:58] PVince81 opened #15583 "Users page layout issue"
On master (660aa7ff1e7bcb61d5dcb103014da39b8a257899)

It looks like the login name column is missing:
![login_username_missing](https://cloud.githubusercontent.com/assets/277525/7118255/3a939fd0-e1fe-11e4-9676-82d82bab8234.png)

@rullzer @MorrisJobke @LukasReschke

[2015-04-13 14:59] DeepDiver1975 commented on #15582
new instance or migrated from oc7?

[2015-04-13 15:00] DeepDiver1975 commented on #15582
There is an explicit check to throw back an exception to the client in case an encrypted file cannot be decrypted.

[2015-04-13 15:00] th3fallen commented on #15582
sorry, migrated from oc7 but shouldnt matter files have been migrated and work fine in web ui

[2015-04-13 15:00] DeepDiver1975 commented on #15582
BÄÄH!

[2015-04-13 15:01] th3fallen commented on #15582
glad i started looking at desktop client firewall blocks....

[2015-04-13 15:03] blizzz commented on #13533
@gig13 there is one open pull request that needs testers, but as it seems it fixes only one  aspect (counting): https://github.com/owncloud/core/pull/13742

The missing part I am working on, not being, but likely won't finish today.

[2015-04-13 15:07] MorrisJobke commented on #15583
Bisected: 	b6efee8079ac67da5e72c281c3a9cacf047d7fd8

I will look into this

[2015-04-13 15:09] nickvergessen commented on #15583
`<th class="name" scope="row"></th>` can not be found by `$tr.find('td.name').text(user.name);`

Please while fixing add a test for this.

[2015-04-13 15:13] MorrisJobke commented on #15583
Fix is in #15585

[2015-04-13 15:34] icewind1991 commented on #15578
atm we do, #13360 is looking to change that

[2015-04-13 15:41] taurhine commented on #14908
Thanks for the info. I hope that this issue is also caused by the same bugs, because in my case, unlike #15340, the issue was caused only by 1 user. All other users have read only access to the folder so they can not rename anything.
Difference to  #15343 is that the renamed folder also got removed, not just the folder contents.

[2015-04-13 15:48] PVince81 commented on #14908
In my test case the renamed folder also got completely removed in https://github.com/owncloud/core/issues/15340

[2015-04-13 16:24] VincentvgNn commented on #15550
Hi,
I use server 8.0.2 and client 1.8.0.4938-nightly20150411 on Win 8.1.
Using the file ownCloud-1.8.0.4938-nightly20150411-setup.exe (38 MB) as a test file, I see during upload the same "......Error downloading..........Internal server" error reported in the "Sync Activity". Pushing "Retry Sync" is needed to restart the syncing. After some patience I get the file synced between the 2 clients that

[2015-04-13 16:51] RealRancor commented on #15550
@VincentvgNn
As you havn't posted any related logfiles its not even sure if your problem is even related to this issue.

[2015-04-13 16:59] Peac commented on #15009
The "files_trashbin/files" folder exists and has the same permissions like the other folders of owncloud.

[2015-04-13 17:00] mmattel commented on #15546
I have searched the code for getenv ``server variables`` queries and found:

lib/base.php (L1103+)

	if ($temp = getenv('TMP')) return $temp;
	if ($temp = getenv('TEMP')) return $temp;
	if ($temp = getenv('TMPDIR')) return $temp;

lib/private/helper.php (L565 and L934)

	$path = getenv("PATH");
	$paths = str_replace(':','/ ',getenv('PATH'));

We need to document this dependency.

And in addition I

[2015-04-13 18:10] nickvergessen commented on #15546
the `lib/base.php` checks are save, since they fallback to other values if they dont exist.

[2015-04-13 18:59] rullzer commented on #13586
So it is not that hard to fix owncloud accepting the e-mail.
It is basically in the lib/private/mail/*.php files. And we do not convert idn stuff in for the user part of the e-mail address.
So like I said fixing is not that hard. But I do not know if swiftmailer accepts it then. Also this is something that should really be fixed in the swiftmailer :P

[2015-04-13 19:48] MorrisJobke commented on #13274
Fixed with #15360

[2015-04-13 19:48] #13274 closed

[2015-04-13 19:48] MorrisJobke commented on #13307
Fixed with #15360

[2015-04-13 19:48] #13307 closed

[2015-04-13 20:40] MorrisJobke commented on #15320
Fix is in #15586

[2015-04-13 20:49] emilnikkhah opened #15587 "S3 unlimited space"
HI
I have installed ownCloud 8.0.2, added 2 users with two buckets, User X can se bucket XX and user Y can se bucket YY.  Unlimited space.
Now I uploaded 6G to user X. In personal it shows You have used 0 B of the available 10.1 GB.
Same thing shows on user Y.
When I delete files, it is still You have used 0 B of the available 10.1 GB in both users, also in admin.
I suppose it is not looking in to

[2015-04-13 20:50] VicDeo commented on #14911
@KPrinz according to your log, files were not replaced properly. Please manually replace everything except `config`, `data` and `theme` directories with files from OC8 package https://download.owncloud.org/community/owncloud-8.0.2.tar.bz2

[2015-04-13 20:50] emilnikkhah commented on #15587
If I am at the wrong place, please let me know.

[2015-04-13 20:54] VicDeo commented on #14911
@KPrinz after that please post a result for this query: `SELECT appid FROM oc_appconfig WHERE configkey='enabled' AND  configvalue='yes';`

[2015-04-13 21:14] iliyasbasir commented on #10001
One of our enterprise customer having this issue, can you advise me do you have fix/Patch for this issue ? If “yes”...Can we have our internal QA test fix; we can provide Mac access if he/she needed.

#### Here is detail from case
“We are having a new issue since migrating to OC EE 7.0.5 - Specifically on Mac OS clients, people are reporting when multiple files or directories are downloaded from o

[2015-04-13 21:17] LukasReschke commented on #10001
Ilyias, we do not have a patch at the moment that works on OS X reliably. For the moment users can use another unzipper such as Keka or StuffIt.

[2015-04-13 21:18] LukasReschke commented on #10001
(as also stated in the discussion above)

[2015-04-13 21:22] oparoz commented on #15567
I think the focus should be on making oC work with IE11 first, before looking at anything else. "Pictures", which is the only app which ships with 8.0 doesn't work at all on IE.

[2015-04-13 21:26] oparoz commented on #15546
I'm happy to add yet another fallback to `findBinaryPath` to simplify things for admins, hoping that `/usr/bin` and `/usr/local/bin` cover 80% of uses.

[2015-04-13 21:30] #15583 closed

[2015-04-13 21:55] #15587 closed

[2015-04-13 22:13] DeepDiver1975 commented on #13586
swiftmailer is used from 8.1 on - this issue was filed as we did use phpmailer.

I really question if these are valid email addresses - I did a quick research back in January and idn is specified for the domain - but for the user part: ????

[2015-04-13 22:39] #11563 closed

[2015-04-13 22:39] #15526 closed

[2015-04-13 23:03] enoch85 commented on #15550
@RealRancor Yes,I followed that guide when I configured my `upload_max` and the other values. Only solution as I see it is to increase `max_upload` as well to 16GB, but that's a bad workaround.

I mean this should be enough: https://www.en0ch.se/owncloud_/increase-max-file-size/

Have I missed something here?

[2015-04-14 04:59] RealRancor commented on #15587
Hi,

external storages are currently not counted for qouta by default:

https://github.com/owncloud/core/blob/v8.0.2/config/config.sample.php#L828

[2015-04-14 05:54] mmattel commented on #15546
That would be great.
If getenv('PATH') returns no result, take a default like above. This definitely would minimize problems.

[2015-04-14 06:18] Raydiation commented on #15567
@oparoz that's a different issue ;)

[2015-04-14 06:36] emilnikkhah commented on #15587
Thanks
I still dont get it why when i try to Upload 16G with desktop app. It just stuck.
Also the cache from /data/user/cache is not deleted.
Emil

[2015-04-14 06:46] SergioBertolinSG commented on #13586
RFC 6530, RFC 6531, RFC 6532, and RFC 6533 talks about this.
Gmail is supporting it http://googleblog.blogspot.com.es/2014/08/a-first-step-toward-more-global-email.html
But perhaps It's not worth implementing it.

[2015-04-14 07:02] jvillafanez opened #15588 "Disconnected LDAP server causes several errors."
### Steps to reproduce
1. Configure the LDAP app correctly with a server
2. Make sure you can see all the users in the settings/users page, and can login with any of them
3. Turn off or disconnect the LDAP server

### Expected behaviour
- The settings/users page show all available users, except those who are in the LDAP server.
- Login with a LDAP user shows an error

### Actual behaviour
- The se

[2015-04-14 07:44] rullzer commented on #15368
@Norahy ok so I still can't reproduce this (not on master and not on 8.0.2).

Could you fill in the issue template https://raw.githubusercontent.com/owncloud/core/master/issue_template.md
Maybe that sheds some light.

[2015-04-14 07:59] DeepDiver1975 commented on #13586
Thanks for your input @SergioBertolinSG - we shall reevaluate this in oc8.1 - because we switched over to swiftmailer

[2015-04-14 08:13] PVince81 commented on #15304
Ok, so this confirms that the issue is related to a fileid change, which will be fixed by https://github.com/owncloud/core/pull/15360 (in upcoming 8.1)

[2015-04-14 08:13] #15304 closed

[2015-04-14 08:14] PVince81 commented on #13310
Thanks to https://github.com/owncloud/core/pull/15360 most of the fileid issues are resolved.
I'll close this ticket but we need to follow up on the remaining one, which is related to remote file changes on external storages: https://github.com/owncloud/core/issues/11533

[2015-04-14 08:14] #13310 closed

[2015-04-14 08:18] jvillafanez opened #15589 "File marked as shared but remote user cancelled the share"
### Steps to reproduce
1. Upload a file (server A) and share it with a remote user in other server (Click in the share, and use something like "user@http://server/owncloud" to send the link - "user" must exists in the remote ownCloud server)
2. In the other server (server B), login as the user. A popup should appear, telling you that a file has been shared with you.
3. Cancel the sharing

### Expe

[2015-04-14 08:26] DeepDiver1975 opened #15590 "PHP message in group manager"
[code]

[2015-04-14 08:29] DeepDiver1975 commented on #15590
core path in master already looks different - stable8 only issue

[2015-04-14 08:46] libasys commented on #11969
What's about adding a new column to table oc_share like "share_filter"! And in the share dialog we add new options for folder sharing like "
Filter:
-> include subfolders (checkbox checked/ not checked) (checked by default)
-> all files (checked by default)
if unchecked "all files" we get additional options to granulate for example:
-> only images (checkbox checked/ not checked)
-> only audios (ch

[2015-04-14 08:50] PVince81 commented on #13356
File id isn't an issue an more, it was fixed: https://github.com/owncloud/core/issues/13310

The share information is now kept.
However there are additional issues: when moving "test4" into "test2", login as user3 and "test4" appears. But it is not possible to navigate into "test4".

I suspect that moving the shares doesn't properly update the parent-child relationships of the shares.
This error a

[2015-04-14 08:51] PVince81 commented on #13356
Since this issue here is about orphaned shares, I'll raise another one with less steps.

[2015-04-14 08:51] #13356 closed

[2015-04-14 08:57] PVince81 opened #15591 "Move one share into another as recipient, reshare recipient cannot access it"
### Steps
1. Create three users "user1", "user2" and "user3"
2. Login as "user1"
3. Create a folder "test" and share it with "user2"
4. Login as "user2"
5. Create a folder "test2" and share it with "user3"
6. Now move "test2" into "test"
7. Login as "user3"
8. Enter "test2" folder

### Expected result
"test2" must be visible to "user3" and can be entered.

### Actual result
"test2" doesn't appear

[2015-04-14 08:58] PVince81 commented on #15591
Note: this situation was never possible in the past because the unstable file ids used to lost the share

[2015-04-14 08:58] PVince81 commented on #13356
Raised here: https://github.com/owncloud/core/issues/15591

[2015-04-14 09:09] PVince81 commented on #15487
@nickvergessen you mentionned something similar that you observed ?

[2015-04-14 09:11] PVince81 opened #15593 "Share text file with link read-only, add to ownCloud, edit, owner loses delete permission"
### Steps
1. Open ownCloud A
2. Create a file "sharedfile.txt"
3. Edit the file with the text editor and put some content, save
4. Share "sharedfile.txt" with link
5. Open the link and add it to ownCloud B
6. Edit the file with the text editor: see that it's read-only (it was shared without edit permissions, which is correct)
7. Go back to ownCloud A
8. Try deleting the file "sharedfile.txt"

###

[2015-04-14 09:12] PVince81 commented on #15593
I see that the permissions got changed to 17 in the file cache, instead of staying 27.

[2015-04-14 09:13] jvillafanez opened #15594 "Weird mtime behaviour in a cascade federated share"
### Steps to reproduce
1. Upload a file in server A (checked with an image file in the root folder)
2. Send the share to a server B (click in the share button and use something like "user1@http://serverb/owncloud")
3. From the server B, send the shared file to server C (same as step 2)
4. Check the file is visible in server C with a determined mtime
5. After some time (5 minutes is enough) reload

[2015-04-14 09:19] PVince81 commented on #15593
The file loses its permission as soon as the recipient confirms adding the share.

I'll try and debug it and see what happens...

[2015-04-14 09:23] oparoz commented on #15567
Well, there are 2 aspects. IE support was dropped with the release of 8.0. So, there should be an effort to make it work again and at the same time, workaround code for IE8/9 should be removed.

[2015-04-14 09:25] cdamken opened #15595 "SMTP SSL mail does not work with PHP 5.6"
Description: Seems to be a known issue with phpmailer and PHP 5.6. Is there a workaround available?

[code]

Mailing with the following workaround works fine:
[code]

@MorrisJobke

00002931

[2015-04-14 09:32] rullzer commented on #15368
Aaaah you need to enable enforced passwords. Indeed strange. I'll look into it and hopefully I can come up with a not to invasive fix.

[2015-04-14 09:36] Raydiation commented on #15567
I think you mistook dropping Windows IIS support for removing IE support. IE is still supported afaik

[2015-04-14 09:38] LukasReschke commented on #15567
Yes. We still officially support IE until 8… Well, "support"… it's not really that there are a lot of people actually testing it :see_no_evil:

[2015-04-14 09:39] oparoz commented on #15567
That's what I mean. People think it is still supported because nothing was said about dropping it, but in reality, oC contains components which don't run on it.

[2015-04-14 09:41] nickvergessen commented on #15487
yeah, I thought the fix for #15589 would also fix it, but #15596 does not

[2015-04-14 09:48] oparoz commented on #15546
@mmattel - Could you test #15597?

[2015-04-14 09:48] Raydiation commented on #15567
@oparoz different issue, thats a bug report for the pictures app

[2015-04-14 09:52] PVince81 commented on #15593
If I set the permissions back to 27 in the database, then open the file with the text editor in ownCloud B, then the permissions get reset to 17.

[2015-04-14 09:55] PVince81 commented on #15593
Here are updated steps, it has to be happening on the same OC instance to be reproducible reliably:
1. Create two users "user1" and "user2"
2. Login as "user1"
3. Create a text file "sharethis.txt" with some contents
4. Share the file with link, copy the link
5. Login as "user2"
6. Open the link then add to ownCloud (to the same instance)
7. Edit or download the file

[2015-04-14 09:56] oparoz commented on #15567
@Raydiation - Nope, it's not the only app/component using EventSource and OC.EventSource is part of core. There might also be other polyfills in core as well.
But from my pov, even if it was isolated to that one app. It's part of the distribution. You can't claim IE compatibility and ship something which doesn't work on it. Might be fine for the community edition, but that's nonsense for a support

[2015-04-14 10:04] nickvergessen commented on #15595
This should work in master since we don't use phpmailer anymore.
I don't think we want to update phpmailer in 8.0 and bellow?

@LukasReschke

[2015-04-14 10:06] Raydiation commented on #15567
This thread has nothing to do with coding and more with issue management and all the loops that devs have to jump through to get CSS and JS code in: this is about making it possible to immediately close IE8 and 9 related rendering issues and being able to use newer CSS features like calc() when submitting PRs

Bugs related to IE compatibility are an entirely different problem and therefore need to

[2015-04-14 10:09] LukasReschke commented on #15595
You know what your workaround did? – It completely disabled SSL certificate verification… – That's not something we will encourage people to do. It's not even a bug. People should just configure their system properly :see_no_evil: – This is not the only place where things will explode…

[2015-04-14 10:10] LukasReschke commented on #15595
=> Not a bug.

Let them install a certificate chain properly, see "Stream wrappers now verify peer certificates and host names by default when using SSL/TLS " from http://php.net/manual/de/migration56.openssl.php

[2015-04-14 10:10] #15595 closed

[2015-04-14 10:35] PVince81 commented on #13267
Looks like the folder permission is set to "1", might need to be overwritten/completed by the public filelist class. Or maybe it's already overwritten but in a wrong way.

[2015-04-14 10:36] PVince81 commented on #15593
This is a combination of two issues:
1) encryption filesize is updating the file cache even when reading read-only files: https://github.com/owncloud/core/blob/master/lib/private/files/storage/wrapper/encryption.php#L105 (even if encryption is disabled!). Discussed with @nickvergessen and @schiesbn and @schiesbn is working on a fix

2) why does reading the cache delivers permissions 17 instead of

[2015-04-14 10:38] oparoz commented on #15567
You're right, first define the policy, then perform an assessment, then fix according to the policy. The current non-written policy regarding IE is that it's not supported, despite what it says on the tin. Bugs are not fixed consistently. Releases are not tested on IE. Most apps don't support it.
Hopefully this ticket will provide a way forward for full compatibility and not just a way to decommis

[2015-04-14 10:39] PVince81 commented on #15487
Should I continue investigating this then or do you want to take over ?

[2015-04-14 10:43] nickvergessen commented on #15487
@PVince81 feel free to

[2015-04-14 10:44] oparoz opened #15599 "OC_EventSource does not support multiple streams on IE8"
This is to make it clearer that the fallback implemented in OC_EventSource does not work, instead of just mentioning it in [another ticket](https://github.com/owncloud/core/issues/14286).

Afaict, EventSource is used in OC.update and Pictures (Gallery+ has switched to a different library).

The best thing to do from my pov is to switch to a 3rd party polyfill since that would be one less thing to

[2015-04-14 10:51] oparoz commented on #15274
There is another label missing in the app store: IE compatibility
oC is supposed to be compatible with IE, so users will expect things to work on this browser and they should be able to filter out apps which simply won't work.
An app should not get the "official" tag if it's not compatible with IE as it would degrade the user experience and create unnecessary support tickets.

[2015-04-14 10:54] PVince81 opened #15600 "[s2s] Files lose permissions when scanner retriggered through publicwebdav.php"
The goal is to trigger the scanner through publicwebdav.php, because publicwebdav.php is enabling the ReadOnlyWrapper that will modify the permissions when reading from the cache.
Some code paths will read the cache, change values, then put the values again, which will have the wrong permissions when a ReadOnlyWrapper was enabled.

### Steps to reproduce
1. Mount SFTP external storage to "/sftp"
2

[2015-04-14 10:57] PVince81 commented on #15593
Ok, I managed to reproduce the ReadOnlyWrapper issue by triggering the scanner on external storage. I raised this separately to avoid confusion: https://github.com/owncloud/core/issues/15600

Let's keep this one here for the encryption read-only case, which matches the reproduction steps.

[2015-04-14 11:01] PVince81 commented on #12966
Still happening on 8.0.3RC1.
Unfortunately the permissions fix https://github.com/owncloud/core/pull/13802 didn't help with this specific case.

[2015-04-14 11:08] fiatux commented on #14187
any updates on this issue?

i'm experiencing this on 5.5.23 on ubuntu trusty.

@cyking is this the correct way to upgrade php5-fpm to 5.6 also as php-fpm? https://www.digitalocean.com/community/questions/how-to-upgrade-from-php-v-5-5-9-to-v-5-6

[2015-04-14 11:10] PVince81 commented on #15594
Can you retest with plain data files, ex: "data1.dat" to make sure no preview gets created.
If it still happens, then it is not related to previews.

Not sure why the mtime would change several times on the receiver side. It is supposed to reuse the cache info delivered by the origin, which includes mtime information.
CC @icewind1991

[2015-04-14 11:11] PVince81 commented on #15588
@blizzz is this related to the issues you have been working on with @butonic ?

[2015-04-14 11:11] rullzer commented on #15368
So, I think I found the issue. Both had to do with elements not being properly reset.

- The *** showing was a result of that begin modified after a password was enter initially.
- The error was because the link was still set, so the code taught it had to unshare a file.

I'll prepare a PR later tonight that should fix this.
We should really move to the new share model (#5873) :)

[2015-04-14 11:13] PVince81 commented on #15594
I guess the mtime change might also have a related etag change, which would cause sync clients to redownload the files. To be confirmed.

[2015-04-14 11:14] PVince81 commented on #15599
Hmm, but OC_EventSource is also used by the upgrade system when clicking "Start update" and I remember that it worked in the past with IE8.

So, possibly a regression.

[2015-04-14 11:15] schiesbn commented on #14106
will be fixed with https://github.com/owncloud/core/pull/12546

[2015-04-14 11:16] PVince81 commented on #15571
@emitac anything in the JS console ?

Are these big files ? I see messages in your log that say the file couldn't be fully uploaded.
Maybe something in your setup is mangling the HTTP requests, please double check your config.

Has this ever worked before on this env and broke recently, or never worked in the first place ?

[2015-04-14 11:23] icewind1991 commented on #15600
Can you try adding
[code]
to readonlywrapper.php

I've trouble reproducing

[2015-04-14 11:25] oparoz commented on #15599
I don't have access to IE8, but what could happen is that it works fine when one EventSource call is made at a time, but fails when there is more than one, like in the Pictures app.

[2015-04-14 11:26] PVince81 opened #15601 "Folder size repeatedly updated in database during transfer"
### Steps to reproduce
1. Mount a remote S3 storage (the slowness will help...) as external storage under "s3"
2. Create a subdir "s3/sub"
3. Upload some text files into s3
4. Upload some text files into "s3/sub"
5. When all transfers are gone, restart the server to make sure no process was running
6. Run `select storage,fileid,path,size from oc_filecache where storage=3 order by path;` and observ

[2015-04-14 11:28] PVince81 commented on #15600
I forgot to mention that I mounted SFTP as a personal storage, not global.
To create new files in the SFTP folder, I simply used the "touch" command.
Make sure to NOT update the owner's page after creating the new files, only do the page refresh on the recipient's page (the one that calls publicwebdav.php).

I'll try adding these lines

[2015-04-14 11:29] PVince81 commented on #15599
You can easily get an IE8 VM here: https://www.modern.ie/en-us/virtualization-tools#downloads

[2015-04-14 11:31] oparoz commented on #15599
Ah, thanks :)

[2015-04-14 11:33] jvillafanez commented on #15594
I've checked a similar setup with another image file, but instead sending the share to the user using password-protected shared links: The file in server C doesn't get the correct mtime after being modified in server A, looks like the file is stuck with the old version, but it downloads the right file. File in server B looks good except for the preview.

From my point of view, both methods should

[2015-04-14 11:36] emitac commented on #15571
Hello,

it happens with every files, starting from Kilobytes up to Gigabytes.
The files are fully uploaded. Only Files biger than 3.5GB can not uploaded.
It does not matter what I have written in config.php and php.ini.
When the upload finished, the website does not aktualize, as shown in the foto. This stays for ever.
First when I hit F5 the site is actualized with the question to leave the site

[2015-04-14 11:37] blizzz commented on #15588
Might be the timeout (a guess).

Details?

[2015-04-14 11:39] PVince81 commented on #15600
I had to try several times, adding new folders, new files. That would retrigger the scanner.
Then I see in the DB data the permissions become 17.

After adding these lines and adding files to the sftp subdir, the scanner replaced the 27 with 17, which means that it works.

I guess it should be possible to reproduce this through a unit test.
Should I take care of it and the PR ?

[2015-04-14 11:45] jvillafanez commented on #15594
With a "fake.dat" file, the behaviour seems the same as my last comment.

[2015-04-14 11:46] tilllt opened #15603 "Files get corrupted when downloading from owncloud (public link)"
System:
debian wheezy / Linux one 3.2.0-4-amd64 #1 SMP Debian 3.2.65-1+deb7u2 x86_64 GNU/Linux
PHP 5.5.23-1~dotdeb.2 (cli) (built: Mar 26 2015 02:24:24)
nginx version: nginx/1.6.3
Owncloud 7.0.5

Problem:
I have a 2.58GB file i prepared for a client to download. I zipped the content into one archive on my Mac. Then i put it on an SMB Volume on my debian server. Owncloud has access to that director

[2015-04-14 12:03] oparoz opened #15604 "apps_paths configuration should not modify the url"
In a restful design, a URL should be a resource.
On ownCloud, apps can be found in /apps

`apps_paths` allows admins to modify the url where to find some apps and that goes against the convention and breaks things (https://github.com/owncloud/core/issues/14236)

[code]

The URL parameter should be dropped and writable is up for removal discussion since ownCloud can figure out by itself if a direct

[2015-04-14 12:03] oparoz commented on #15604
@Raydiation - Feel free to enhance this ticket

[2015-04-14 12:07] DeepDiver1975 commented on #15604
This doesn't work.  The url id used to load assets being served statico by the web server.

Routes remain unchanged and always start with /app/

[2015-04-14 12:08] Raydiation commented on #15604
The News app also suffered from one of these issues: Debian used to ship a default config which placed all appstore apps under the url root /apps-3rdparty e.g. /apps-3rdparty/news. This not only broke the webinterface but also all API URLs for mobile clients.

While this issue may be nicely solvable for the webinterface, it isnt for the mobile clients (or you'd have to enter the entire! api url wh

[2015-04-14 12:15] oparoz commented on #15604
@DeepDiver1975 A 3rd party app loading one of its template while the user is in the Files app will not find it in /apps, the specific folder will have to be given. That's just one case I'm aware of.

[2015-04-14 12:17] oparoz commented on #14236
@Dreadeath @eigengrau - Could you open your browser debugger and check which calls fail? You should be getting 404s for specific URLs

[2015-04-14 12:34] jvillafanez commented on #15588
For the settings/user page, there are an internal server error in the ajax call (the user count comes from local users, not LDAP users):

![screenshot from 2015-04-14 13 52 11](https://cloud.githubusercontent.com/assets/1477829/7136600/ab6424e6-e2b2-11e4-97dc-1b8ca7e8b0a4.png)

And the login page shows the following trying to login with an LDAP user from the disconnected server:

![screenshot from

[2015-04-14 12:41] karlitschek commented on #15274
@oparoz I´m not sure this makes sense. The mission of ownCloud is to provide the best possible user experience for the users. IE is still used by 25% of all users out there. I think good ownCloud apps have to support IE at least in a basic way. Not supporting it and just tag it as "not compatible" is the wrong direction if we care about our users.

[2015-04-14 12:47] MorrisJobke commented on #15601
@PVince81 Is this maybe related to #15549?

[2015-04-14 12:52] PVince81 commented on #15594
Ok thanks for the info, so probably unrelated to previews.

[2015-04-14 12:57] gig13 opened #15608 "SSL root certificates should be automatically converted on upload"
**Expected Behavior**
When uploading a SSL root certificate in one of the various formats in the Personal page, the file conversion should automatically be done so ownCloud can use it.

**Actual Behavior**
When uploading the .cer file, No error message is logged or displayed, just a red colored bar appears where the root certificate information should display.

**Steps to reproduce**
Upload a root

[2015-04-14 13:01] DeepDiver1975 commented on #15604
How is the API URL generated? How does it look like? For me any route is starting with apps and I have all apps installed in the folder apps2.

[2015-04-14 13:01] DeepDiver1975 commented on #15604
explicit example please - and I can have a look - thx

[2015-04-14 13:02] PVince81 commented on #15601
Not sure, maybe somewhat related. I need to dig deeper.

[2015-04-14 13:03] blizzz commented on #13533
@gig13 please try with https://github.com/owncloud/core/pull/13742, I updated it with the missing bits.

[2015-04-14 13:06] SergioBertolinSG commented on #11886
This would be very interesting to have for us. @jnfrmarks @jvillafanez @jmaciasportela

[2015-04-14 13:10] MorrisJobke commented on #10001
@iliyasbasir There is nothing more I can add.

[2015-04-14 13:10] Raydiation commented on #15604
@DeepDiver1975 the problem is the additional url parameter, which you are able to set in the config.php That way you can overwrite the route generation in an unforseen way.

[2015-04-14 13:10] blizzz commented on #15588
Part1: Are you logged in with an LDAP user or as local admin?

Part 2: Well, the error page is correct eventually. It's an internal error (LDAP server not reachable) and contacting the admin is the way to go. I see nothing wrong with that.

[2015-04-14 13:20] DeepDiver1975 commented on #15604
This parameter is not taken into consideration when generating routes

[2015-04-14 13:21] MTRichards commented on #11732
This seems like a good polishing item. @karlitschek curious your thoughts?

[2015-04-14 13:21] Raydiation commented on #15604
Has this been changed at some point? Does that mean that the url parameter is ignored and the documentation in config.php is wrong?

[2015-04-14 13:22] jvillafanez commented on #11886
I would go for a http service similar to what OCS provides (currently in use for the sharing and provisioning API mainly).

Ideally, any action should go through API services. This includes all ajax calls that are being made in the settings page (which should be moved to the OCS service).

To provide an example, if we have an API for external storage (and in fact, any app), all actions performed i

[2015-04-14 13:25] DeepDiver1975 commented on #15604
no - has been this for a long time - the only affecting change in this area was when we skipped js and css delivery via php and allow static delivery by the web server.

No - this parameter is used to generate urls for assets (images, css, js)

[2015-04-14 13:26] oparoz commented on #15274
@karlitschek - The only app which ships with oC 8.0 is broken for a lot of users and does not work at all on IE. News, a popular app in the app store does not support IE. I'm sure there are more examples.
So the current situation is that oC is not compatible and people only find out when trying to use or install apps which isn't a great user experience.
Even if the team manages to keep core a 100%

[2015-04-14 13:28] PVince81 commented on #15139
Note: this bug existed on master and stable8.

@cdamken I tried OC 7 and I can confirm that this specific bug does **not** exist on stable7 because the fileid wasn't preserved at deletion time in that version.

[2015-04-14 13:30] jvillafanez commented on #15588
I'm as a local admin, logged in after disconecting the LDAP server

Now that you say that, I agree. I'm a bit worried about the exception that happens in the logs as it looks like isn't handled. If this is how it should be, then it's case closed.

[2015-04-14 13:34] oparoz commented on #15604
@DeepDiver1975
`OC.generateUrl('apps/myapp/templates/fragment.html')`
That will generate a full URL using index.php and can't be called from the Files app.
we used to be able to call OC.filePath() and it would build the proper URL for us, but that doesn't exist any more.
If this is horribly, wrong, then it's the developer's fault, of course.
For other examples, look at https://github.com/owncloud/

[2015-04-14 13:40] PVince81 commented on #15189
Not sure if related, but I'll see https://github.com/owncloud/core/issues/15601 which I observed with S3.
Basically if the database contains "-1" for a long time for the folder sizes (even when not justified), it could affect the quota calculation.

[2015-04-14 13:50] DeepDiver1975 commented on #15604
@oparoz I see the confusion here now - this indeed needs more documentation.

OC.generateUrl - is to be used to generate routes - there is no need to take 'url' into consideration here.

OC.filePath() - afaik is used for static files and respects 'url' - one shall have a look ...

[2015-04-14 13:52] oparoz commented on #15274
I just wanted to add that to be featured in the app store is a nice incentive to be approved, so there is a good opportunity to enforce some "code" criteria.

[2015-04-14 13:53] Raydiation commented on #15604
We should probably start to think about a minimal clientside public api which is documented well and includes:

* Routing
 * OCP.Router.linkToRoute(): returns an absolute url for a route
 * OCP.Router.linkToFile(): returns an absolute url for a file (do we want to split this up?)
 * OCP.Router.getBaseUrl(): returns the owncloud base url for concatenation, e,g, like /test/owncloud/
* L10N
 * OCP.L1

[2015-04-14 13:56] centredecalcul commented on #13468
Same bug with Owncloud 8.0.2

[2015-04-14 13:59] oparoz commented on #15604
@DeepDiver1975 - Well, the problem is that OC.filePath() is depreciated, and the documentation explicitly mentions replacing that method with OC.generateUrl(), so yes, there seems to be a big documentation problem.
https://github.com/owncloud/core/blob/master/core/js/js.js#L160

OC.generateUrl needs to evolve or the depreciated label removed from OC.filePath()
(And after that change, everything ne

[2015-04-14 14:05] cdamken commented on #15595
@LukasReschke  Thanks!

[2015-04-14 14:08] tilllt commented on #15603
could be that there is a connection between file size and corruption. tried to recreate the problem with a 1G random content file (openssl rand -out sample.txt -base64 $(( 2**30 * 3/4 )), using the same process i described above and the md5 hashes are correct, also for the file downloaded from the public link.

[2015-04-14 14:09] clementhk commented on #15340
@PVince81, is there a way to recover disappeared files other than trying to get them back from files_versions? Also is there an easy way to get files back from files_versions?

[2015-04-14 14:12] LukasReschke commented on #15608
For clarification purposes: With .cer a DER encoded binary certificate file is meant, currently we can only handle ASCII encoded PEM files.

[2015-04-14 14:13] LukasReschke commented on #15608
(work-around as discussed meanwhile if someone stumbles upon this as well: `openssl x509 -in rootCA.cer -inform der -outform pem -out rootCA.pem`)

[2015-04-14 14:16] Norahy opened #15611 "Enforce expiration date not working correctly if password is enforced"
Hi guys,

the enforcement of an expiration date for a link seems to not work correctly if password protection is enforced. I get this behaviour in version 8.0.2, with the following sharing settings:

![image](https://cloud.githubusercontent.com/assets/11943267/7137239/4692c648-e2b8-11e4-977b-4621292015c4.png)

The result is this:
![image](https://cloud.githubusercontent.com/assets/11943267/7137288

[2015-04-14 14:17] ryno83 commented on #15340
I run this on command line : "su www-data php /var/www/owncloud/console.php -q files:scan --all". The original folder is back in the sharer account only.

[2015-04-14 14:20] emilnikkhah commented on #15550
I have the same problem syncing 16GB file from desktop. How much mem should I allocate to PHP.
I have set max_upload 20GB in both Owncloud and php.

Error	PHP	Allowed memory size of 536870912 bytes exhausted (tried to allocate 5251072 bytes) at /var/www/owncloud/lib/private/files/storage/local.php#161	2015-04-14T13:42:57+00:00
Error	PHP	Undefined index: /var/www/owncloud/data/fremantle/files/Docum

[2015-04-14 14:27] PVince81 commented on #15340
Yes, that's the way to do it.
I don't think it's possible to restore the share information. Rescanning will give the entry a new fileid which will not match the old share info.

[2015-04-14 14:29] MorrisJobke opened #15614 "Theming should be done by implementing an Interface"
Currently you have to check all methods from https://github.com/owncloud/core/blob/master/lib/private/defaults.php but it would be better to have an interface for this to implement simply all the methods

Ref documentation issue owncloud/documentation#1060

[2015-04-14 14:30] MorrisJobke commented on #15614
Also related to the demo theme: #4031

[2015-04-14 14:31] clementhk commented on #15340
Doesn't seem to work for me... The actual folders seem to be gone for good.. I can only find them in files_version folder.

[2015-04-14 14:33] PVince81 commented on #15340
Hmmm, maybe the fact that it disappeared from the cache caused the sync client to believe it was gone and somehow triggered an actual delete. Not good.

If the folder is only in files_version, then there is no other way to recover it, sorry :frowning:

[2015-04-14 14:33] PVince81 commented on #15340
Did you search for known filenames across the "data" folder and you only found results in files_versions, is that what you meant ?

[2015-04-14 14:35] VincentvgNn commented on #15550
@RealRancor @enoch85
I wouldn't be surprised that in OC similar phenomena have a different root cause.
I get this similar looking issue when my connection to the webhost get's (temporarily?) throttled down to less than about 100 KB/s. I have seen upload speeds between 10 KB/s to over 1 MB/s. On top of that the connection with the server will be interrupted about every 5 minutes.
Chuncks of 5 MB ar

[2015-04-14 14:37] clementhk commented on #15340
[code]
This.
I do see client activities on these folders today in oc_activity table, so maybe it did trigger the actual delete...

[2015-04-14 14:42] blizzz commented on #15588
@jvillafanez you could try this also against https://github.com/owncloud/core/pull/15332, especially with the ajax requests in mind (part1).

[2015-04-14 14:47] edfield opened #15615 "Problems installing Owncloud 8 on Ubuntu 14.04"
I cannot get OwnCloud to install on Ubuntu 14.04.

[code]

[code]

[2015-04-14 15:01] clementhk commented on #15340
@PVince81 I assume to prevent this from happening, we need to make sure nothing except trash can actually delete a file, even if the cache/record is missing, the worse that could happen is it will be move to trash.. What do you think?

[2015-04-14 15:34] geek65535 opened #15618 "Folder size not sorted by size"
The desktop client has an option "choose what to sync," which presents the user with a tree of folders and their sizes. The folders can be sorted by size by clicking the column header. But the client sorts by ASCII value, rather than by size. For instance, it will sort 3.1GiB before 37KiB.

See attached screenshot for an example.
![screenshot_2015-04-14_10-27-43](https://cloud.githubusercontent.co

[2015-04-14 16:03] nickvergessen commented on #15615
@jnweiger packaging issue?

[2015-04-14 16:06] nickvergessen commented on #15618
Reported it to the client repository: https://github.com/owncloud/client/issues/3112

[2015-04-14 16:06] #15618 closed

[2015-04-14 16:06] PVince81 opened #15619 "[enc2] Move file into share as owner doesn't create share keys"
### Steps:
1. Enable encryption + default encryption module
2. Create two users "user1" and "user2"
3. Login as "user1"
4. Create a folder "test"
5. Share "test" with "user2" (the sharing happens first)
6. Create a local text file "test.txt" and put some contents in it
7. Move "test.txt" into "test"
8. Login as "user2"
9. Try opening or downloading "test.txt"

### Expected result
"test.txt" can be

[2015-04-14 16:09] rbcouture opened #15620 "available size doesn't increase after partition resize"
Using VMWare, I created a new VM, (300Gb allocated)
Installed Ubuntu Server LTS14.04 (x64)
Installed owncloud from packages successfully
Connected the first (admin -> unlimited quota) user to a test pc and successfully synchronized 75Gb (so more than 100Gb is still free)

I decided to increase the partition size now to test it before hitting the 300Gb wall:
In vmware: shutdown the vm, increase dis

[2015-04-14 16:13] RealRancor commented on #15620
Hi,

what is the output of:

df -h

entered in the console of your VM? I bet its still saying 300GB for the / (root) partition.

[2015-04-14 16:20] PVince81 commented on #15611
@rullzer

[2015-04-14 16:22] PVince81 commented on #15603
First let's try and see whether it's related to the SMB external storage: can you try the same operation on the local non-SMB storage ?

When I see 2 GB it often sounds like the 32-bits limit, but I see you have a 64 bits machine.

[2015-04-14 16:23] gig13 commented on #15608
@MTRichards

[2015-04-14 16:25] PVince81 commented on #15157
Looks like the checkbox event handler is missing shift/ctrl key handling: https://github.com/owncloud/core/blob/master/apps/files/js/filelist.js#L383

This is the code that does it properly for a click outside the checkbox: https://github.com/owncloud/core/blob/master/apps/files/js/filelist.js#L326

Maybe both needs to be consolidated in some way.

One idea would be to detect shift or control for

[2015-04-14 16:27] edfield commented on #15615
Not sure what is going on. The installer recommends mysql-server but doesn't say anything else about it. Current mysql version is 5.5.41 and it is working fine. Manually trying to install mysql-server package results.

#apt-get install mysql-server
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you h

[2015-04-14 16:39] tilllt commented on #15603
maybe i was not clear: the directory is not added within Owncloud as a SMB volume. OC sees the local directory, only the transfer from my mac to the debian machine was through a SMB mount to the same dir. i only mentioned this since i thought that maybe the transfer over SMB corrupted the file, which is not the case, since the MD5 hashes on he Debian box and on my mac are identical.

[2015-04-14 16:47] jnfrmarks opened #15621 "Unexpected LDAP errors in server log file"
### Steps to reproduce

1. Install 8.0.3 enterprise edition
2. Enable the LDAP app and configure it
3. run smashbox test_uploadFiles.py test in a loop using local users and share_sets = 3

### Expected behaviour

There should be no errors in the server log file

### Actual behaviour

I see errors related to LDAP:

[code]

### Server configuration

Ubuntu 14.04
PHP 5.5.9
ownCloud Enterprise Edition

[2015-04-14 17:09] rbcouture commented on #15620
you are right

[2015-04-14 17:33] RealRancor commented on #15620
Hi,

feel free to close this issue as it is clearly not an ownCloud bug. Maybe ask in a linux specific forums how to resize a partition correctly or use your favorite search engine to find some tutorials.

[2015-04-14 17:55] StrangeNoises opened #15622 "Feature request: Share direct-download links"
This almost seems a bit too simple compared to what a lot of people do with their ownclouds; this is a request from someone (me) who really only uses it at a fairly trivial level in a fashion similar to basic DropBox:

I would like to be able to obtain a shared public link to a file in my owncloud, that can then be used to *directly* download that file, with its original filename and mime content

[2015-04-14 17:56] Xenopathic commented on #15620
Sounds like you are using LVM. You need to resize the VM disk, then the LVM partition (you've done up to this point), then the actual filesystem underneath. Until the system reports a larger disk size (with `df`) ownCloud can't use it :smile:

[2015-04-14 17:56] #15620 closed

[2015-04-14 17:58] rbcouture commented on #15620
You are right,

For anyone else on the web stumbling upon this:
After extending the partition with GParted, I opened the console in GParted and ran lvextend -L+200G then resize2fs

this link helped me:
http://ubuntuforums.org/showthread.php?t=1537569

[2015-04-14 18:30] RealRancor commented on #8441
Updated the issue: Re-tested on OC 8.0.2, now with PHP 5.6.7 and MariaDB 10.0.17.

If further infos or help is needed let me know.

[2015-04-14 18:43] derkostka commented on #15603
short Info:
  checked with OC 8.0.3RC1:
  - a share mounted via smb within own cloud (not by linux itself)
  - zipped a file (32mb) on a mac, copied to the share using smb
  - login to oc, share the file via link
  --> md5 is the same, have downloaded the fie on the same mac and also on an android phone

[2015-04-14 18:54] tilllt commented on #15603
I am not an expert on this but i would assume that transferring a 2.5gb file makes a big difference to transferring a 32mb file.

[2015-04-14 19:14] jcfischer commented on #15601
I am also still unhappy with the performance and the number of updates. #15549 does help a bit, but I still have to manually VACUUM our database at least every 12 hours. I counted the number of slow request (>30 ms) to our database in the last 12 hours...

[code]

This seems like a really excessive number of updates... Our database has accumulated 16 million outdated rows in the oc_filecache table

[2015-04-14 19:28] shanecentre commented on #15550
I've seen the same issue

Ubuntu 14.04, (VM with 16GB RAM and 4vCPU) ownCloud 8.0.2, Active Directory for auth, Openstack swift (Juno) mounted to the file system using S3QL for storage.

Files @1G or over cause the following memory exhaustion error. The files completely uploads in chunks to the cache folder of the account and as some point when it is being resembled the error occurs.  Files I've t

[2015-04-14 19:41] jcfischer commented on #15601
I see around twice as many updates with a full set of parameters than with just a few:

[code]

Looking through the code, it seems that https://github.com/owncloud/core/blob/stable7/lib/private/files/cache/scanner.php#L144 is the source for these update calls. I don't have the energy to guess my way further up the callstack and find potential culprits for execssively calling this function, but tha

[2015-04-14 20:22] derkostka commented on #15603
Right, did you compare the exact file sizes for the 2 GB file ?

For me, the download breaks early (at 1024 MB) because my /tmp folder is full. This is because i did mount the smb share within owncloud, and then, downloads are cached in /tmp ... Maybe this is related with external files somehow ? If not, please mute me *g*

[2015-04-14 20:27] jcfischer commented on #15565
I am running oc 7.0.5 on Postgres 9.3 and don't see that full table scan:

[code]

(our oc_filecache table has around 16 million rows)

I am not going to create that index as it seems that we are doing just fine. @fkoester can you post your EXPLAIN output please?

[2015-04-14 20:31] tilllt commented on #15603
I got 100+ GB free for /tmp so thats probably not the problem in my case.

[2015-04-14 20:35] derkostka commented on #12910
+1 for a configurable /tmp Folder, here is why (OC 8.0.3RC1):

I have mounted a SMB Share within Owncloud (libsmbclient) and created a link to a file that is 2,15 GB of size. I looked into my php.ini, set the /tmp to some place where i have got enough free bytes ...

Now, smbclient in OC8 still puts the smb.down files into the /tmp (ubuntu system, 1 GB) storage. The result is that the download bre

[2015-04-14 20:53] karlitschek commented on #15621
@blizzz any idea how this can happen?

[2015-04-14 20:55] karlitschek commented on #15622
this is already possible. The direct download link can be seen on the public sharing page. Just create a public link, open the page and copy the direct link from this page.

[2015-04-14 20:55] #15622 closed

[2015-04-14 21:10] jnfrmarks opened #15624 "dummy encryption module showing up in 8.0.3"
### Steps to reproduce

1. Install 8.0.3 complete tarball
2. Go to apps -> not enabled

### Expected behaviour

Should not see dummy encryption module

### Actual behaviour

See dummy encryption module

![p309](https://cloud.githubusercontent.com/assets/8480343/7147455/1298e064-e2c9-11e4-800d-b6931fbc1c3e.PNG)

### Server configuration

Ubuntu 14.04
PHP 5.5.9
ownCloud Enterprise Edition 8.0.3 RC1

[2015-04-14 21:15] jnfrmarks commented on #15624
I double checked that I installed 8.0.3:

![p310](https://cloud.githubusercontent.com/assets/8480343/7147562/cbcd4714-e2c9-11e4-945b-7681d3b686e6.PNG)

[2015-04-14 21:16] jnfrmarks commented on #15624
@SergioBertolinSG

Can you double check this?  It's really weird ...

Thanks!

[2015-04-14 21:56] Battant opened #15625 "security problem whith remote.php"
Hello,

Step to reproduce

1. go to : http://yourowncloud/remote.php/webdav
Result : any persone that know this adresse can access to all owncloud server files
The directory shown is /
Expend : A username // password dialog
Confoguration :+1:
php 5.4 is actived
owncloud 8 server
mysql
more info at : https://www.kreativmedia.ch/

Client configuration : mac os 10.10 windows 7 64 bit and ubuntu 14.04

[2015-04-14 22:17] DeepDiver1975 commented on #15546
fixed with #15597

[2015-04-14 22:17] #15546 closed

[2015-04-14 22:28] Battant commented on #15625
Précis
go to : http://yourowncloud/remote.php/web Fromage a web browser.
Best regards
Battant

[2015-04-14 22:55] fkoester commented on #15565
I am neither a Postgres nor an SQL expert, so I just report my observations as detailed as possible:

I am not sure but to the best of my recollection explain was showing a full table scan operation on the query stated above, before creating the additional index.

I now dropped the additional index and explain is giving me this:

    owncloud=> EXPLAIN SELECT SUM("size") AS f1, MIN("size") AS f2,

[2015-04-14 23:25] karlitschek commented on #15625
Your browser will ask for username and password when go to this url before showing you any files. Most browsers cache this information after you have entered them once. Please go to this url with a different browser. Then you will see that you need infact authenticate to see the files.
This is the expected behavior for an WebDAV endpoint.

[2015-04-14 23:25] #15625 closed

[2015-04-14 23:38] Xenopathic commented on #15587
@RealRancor I don't think this is an external storage, I think this is using the S3 storage backend for user files, available in the Enterprise edition.

@emilnikkhah I noticed you closed the issue - if you are still getting problems, please reopen!

[2015-04-15 01:01] MorrisJobke commented on #15590
@DeepDiver1975 is this fixed with #15592

[2015-04-15 01:44] karlitschek commented on #15624
This is really strange. If I download this file and look into the apps folder I don´t see any dummy app.
http://download.owncloud.com/internal/8.0.3RC1/owncloud-enterprise-complete-8.0.3RC1.zip

It is present in the current enterprise master build of course. The name is encryption_dummy
http://download.owncloud.com/internal/owncloud-daily-enterprise-complete-master.tar.bz2

Not sure I understand.

[2015-04-15 03:54] RealRancor commented on #15587
@Xenopathic Ah, ok. One reason why the people should fill out the issue template. :)

[2015-04-15 05:19] jcfischer commented on #15565
Here's my table definition - it should look pretty similar to yours:

[code]

how many rows do you have in your oc_filecache table? And how many dead tuples (that is what's killing our database regularly at the moment)

[code]

[2015-04-15 05:47] DeepDiver1975 commented on #15608
I'd really like to go the documentation path here and let admins know how to convert the certs properly.

The effort to add more supported certs shall not be underestimated - testing as well.

From my understanding it's quite common to convert certs - thinking about the jave keystore e.g.

[2015-04-15 06:02] johnwoltman commented on #14048
I'm having the same issues, even when using OtakuWally's version of validateUserPass.

Logging in as an LDAP user or as the owncloud administrator account, I cannot view/sync either CardDAV or CalDAV data.  I can use the WebDAV support just fine, but not the Card/CalDAV.

### Expected behaviour
Should be able to use CardDAV and CalDAV links with iOS and OS X clients or view it with Firefox.

### A

[2015-04-15 06:18] LukasReschke commented on #15608
That would be valid as well. Though we really should show a waning instead of simply failing.

[2015-04-15 06:29] DeepDiver1975 commented on #15608
Yes - proper error handling is required - in any case

[2015-04-15 06:45] nickvergessen commented on #15624
Downloaded the first package from frank above and checked stable8
I don't see the dummy app here

[2015-04-15 06:53] SergioBertolinSG commented on #15624
I have installed 8.0.3rc1 from tarball and I don't see that app enabled nor disabled.

Perhaps it was uncompressed in a path with a previous installation which had that dummy app?

[2015-04-15 07:01] DeepDiver1975 commented on #15624
Jennifer: is the app somewhere in the apps folders of that installation?

Was there previously an 8.1 installation on that system?

[2015-04-15 07:14] fkoester commented on #15565
Table definition:

    owncloud=> \d oc_filecache
                                             Tabelle „public.oc_filecache“
          Spalte      |           Typ           |                             Attribute
    ------------------+-------------------------+-------------------------------------------------------------------
     fileid           | integer                 | not null Vorgabewert

[2015-04-15 07:17] fkoester commented on #15565
Table definition looks equal to me.

[2015-04-15 07:18] Wikinaut opened #15627 "[OC8.0.2.] "Only variables should be passed by reference at /lib/private/cache/fileglobalgc.php#50""
Log files entries à la

"Only variables should be passed by reference at /lib/private/cache/fileglobalgc.php#50"

indicate a problem in the current code.

* oc server 8.0.2
* php 5.5.15

[2015-04-15 07:20] jcfischer commented on #15565
woah - you will want to do a `VACUUM FULL ANALYZE oc_filecache` - 7 million dead tuples (i.e. tuples that were updated) and are now wasting space

[2015-04-15 07:21] fkoester commented on #15565
Yeah, I just saw that too :(

I just checked and saw that my vacuum cronjob failed for some time. Oops..

Sorry for the trouble, I think I probably can close this issue than.

[2015-04-15 07:22] fkoester commented on #15565
Thank you very much for helping me understand this!

[2015-04-15 07:22] RealRancor commented on #15627
Seems to be already fixed in OC 8.0.3: https://github.com/owncloud/core/issues/15010#issuecomment-83210123

[2015-04-15 07:25] #15627 closed

[2015-04-15 07:32] emilnikkhah commented on #15587
Sorry, I am not used to reporting. next time i will do better. But from what i understand Owncloud don´t work well with uploading big files to S3, I get different error every time. Thank your for your time.

[2015-04-15 07:36] jvillafanez commented on #15588
@blizzz it shows an error page

![screenshot from 2015-04-15 09 30 33](https://cloud.githubusercontent.com/assets/1477829/7154116/e74ebdd6-e352-11e4-9250-533bf5889ae6.png)

[2015-04-15 08:45] PVince81 commented on #15603
@tilllt I'm still a bit confused about your setup, can you describe the mount ?

Did you mount a SMB folder directly inside of "/data/$user/files/somedir" on the Linux filesystem, and uploaded files directly there ?

Is the file from the public link served from that mount ?

[2015-04-15 08:47] PVince81 commented on #15601
@icewind1991 any clues ? We're all talking about OC 7.0.5, right ?

What do you mean with outdated rows ? Do you mean it is inserting rows instead of updating and leaved orphaned filecache entries ?

[2015-04-15 09:07] fkoester commented on #15565
Yeah, vacuuming helped :-)

    owncloud=> EXPLAIN SELECT SUM("size") AS f1, MIN("size") AS f2, SUM("unencrypted_size") AS f3 FROM "oc_filecache" WHERE "parent" = 126296 AND "storage" = 1;
                                        QUERY PLAN
    -------------------------------------------------------------------------------------------
     Aggregate  (cost=408.44..408.45 rows=1 width=16)
       ->

[2015-04-15 09:07] #15565 closed

[2015-04-15 09:21] DeepDiver1975 commented on #15590
#15592 is the fix for master - stable8 requires a different fix

[2015-04-15 09:24] DeepDiver1975 commented on #15621
this was already discussed here: https://github.com/owncloud/core/pull/15577#issuecomment-92695064

Basically our global file cache is not save for parallel access - because only LDAP is using it I vote for killing the class and fallback to existing mechanisms like apc memcached etc - basically as already done

[2015-04-15 09:26] DeepDiver1975 commented on #15621
More critical then deleting a cache entry which no longer exists is the fact that a key potentially can be written by two concurrent processes and result in data corruption - needs some analysis.

[2015-04-15 09:36] jcfischer commented on #15601
@PVince81 yes 7.0.5 and yes - Postgres doesn't overwrite outdated rows. it creates a new one and leaves the old one dead to be cleaned up. That is more secure and works nicely if the table is not updated too frequently.

[2015-04-15 09:37] PVince81 opened #15630 "[enc2] Empty reply from server on download"

[2015-04-15 09:37] PVince81 opened #15631 "[enc2] Empty reply from server on download"
### Steps to reproduce
1. Setup OC master (1a2475227b6777e016ec931ddae533437bfbb2dd)
2. Enable encryption app and enable encryption in the admin page
3. Log out then log in again
4. In the web UI, create a file "new.txt" with some contents, I used "abc"
5. On the CLI, use curl to download the file: `curl http://root:admin@localhost/owncloud/remote.php/webdav/new.txt`

### Expected result
File can

[2015-04-15 09:48] LukasReschke commented on #15608
Will add error-handling and move the static ajax files into controllers to prepare https://github.com/owncloud/core/issues/15518 for the future.

[2015-04-15 09:54] blizzz commented on #15621
The global file cache is already used as a fallback if a memory based cache is not available. IIRC this will need to be configured explicitely next release → we can drop the file cache with big recommendation to properly set up a membased cache.

[2015-04-15 09:59] blizzz commented on #15588
This is expected.

[2015-04-15 10:03] PVince81 commented on #15631
Something might be wrong with feof.
Even thought the file is small and contains only 3 bytes ("abc"), stream_read is called twice. The first call returns "abc" and the next one returns an empty block.
I'd expect the caller to find out that the file is finished (when calling feof()), but it still calls an empty block. Maybe it messes it up.

Note: the caller is `file_put_contents()` from Sabre that

[2015-04-15 10:05] PVince81 commented on #15631
I tried with another file that is 8193 bytes big:
[code]

When I download it with curl + webdav, it tells me that there is one byte remaining that wasn't sent.
The Content-Length header is correct.

This means that our code closed the connection to early and didn't deliver the last byte.

Something seems to be wrong with that loop.
Would be good to improve the unit tests to test different sizes.

[2015-04-15 10:06] PVince81 commented on #15631
Note: my test files were uploaded with the web UI.
Except the text file: I created it using the text editor.

[2015-04-15 10:08] PVince81 commented on #15631
@schiesbn @DeepDiver1975 can you guys have a look ?

[2015-04-15 10:09] jnfrmarks commented on #15624
I will double check this when I get into the office.  I was installing both versions yesterday.  I'll close this for now and reopen if there is still an issue.

[2015-04-15 10:09] #15624 closed

[2015-04-15 10:13] DeepDiver1975 commented on #15631
Let me have a look at this ....

[2015-04-15 10:25] blizzz commented on #15065
Are you talking directly to AD or do you have some balancer or proxy inbetween?

[2015-04-15 10:37] oxivanisher commented on #15065
We talk directly to the AD (Samba Server).

[2015-04-15 10:37] nickvergessen commented on #15630
Closing #15631

[2015-04-15 10:37] #15630 closed

[2015-04-15 10:39] DeepDiver1975 commented on #15631
according to https://github.com/owncloud/core/pull/15633 no issue with the plain stream wrapper

[2015-04-15 11:10] PVince81 opened #15634 "Blank text file previews"
### Steps to reproduce:
1. Checkout git master (1a2475227b6777e016ec931ddae533437bfbb2dd)
2. Setup OC from scratch
3. Upload a text file

### Expected result
Text file has preview

### Actual result
Text file preview is blank/white.
Other previews work fine.

### Versions
openSUSE Factory
php5-5.6.7-1.1.x86_64
apache2-2.4.12-2.1.x86_64
ImageMagick-6.9.0.9-1.1.x86_64

Breaking commit: 6c327f8331617

[2015-04-15 11:50] nickvergessen commented on #15634
yeah "makes sense" in terms of that commit "breaking" the previews.
actually it's not empty (depends on the number of lines text you posted).
you can see that on the 2048-2048-max.png it contains the lines of text in the top left. The 36*36 just shrinks that one which reduces it the part of the text to 1 pixel. together with the white space between the letters makes the file almost completly white

[2015-04-15 12:08] nickvergessen commented on #15634
Btw, I assume some other previews suffer from the same problem? (office, pdf, ...?)

[2015-04-15 12:09] emilnikkhah commented on #15587
To be clear:) nothing can upload 16G to S3, i have been trying Cyberduck, Transmit, Forklift.)

[2015-04-15 12:09] oparoz commented on #15634
This actually stems from a problem with Text previews. I'm still looking for the ticket where this is discussed.

[2015-04-15 12:15] oparoz commented on #15634
Here you go: https://github.com/owncloud/core/issues/11469

[2015-04-15 12:17] oparoz commented on #15634
And there is zero problem with office documents because everything is converted to PDF and ImageMagick understands that format.

[2015-04-15 12:24] LukasReschke commented on #15608
And there we go: https://github.com/owncloud/core/pull/15637

[2015-04-15 12:56] gig13 commented on #14930
@MorrisJobke
Do you have this same setup? Do you see this issue?

[2015-04-15 13:15] cdamken commented on #9773
@MorrisJobke This is really old already, was it fixed? IMHO we can close it now.

[2015-04-15 13:24] rullzer commented on #15368
A fix is available in #15639.
@Norahy could you test it?

[2015-04-15 13:26] oparoz commented on #15634
My position is that we should fix the font size for the thumbnails and then add an exception here:
https://github.com/owncloud/core/blob/master/apps/files_sharing/js/public.js#L104-L117
so that text is simply printed in a div instead of trying to generate a preview.

[2015-04-15 13:35] PVince81 opened #15640 "[enc2] Restore encrypted file from trash breaks the file + versions"
### Steps to reproduce
1. Enable encryption 2.0 + default encryption modul
2. Log out then log in again
3. Create a text file
4. Edit it and save multiple times to create versions
5. Delete the file to trash
6. Restore the file
7. Download the file itself
8. Download any version of the file

### Expected result
File + versions can be downloaded

### Actual result
Download gives a broken file (garb

[2015-04-15 13:50] PVince81 opened #15641 "Shares from ext storage lost after upgrade stable8->master"
### Steps to reproduce
1. Setup stable8 (8.0.3RC1)
1. Create three users "root", "user1", "user2" (root is the admin)
1. Mount a SFTP external storage globally (apply to all) to "/global"
1. Mount another SFTP external storage locally (persona) to "/local"
1. Share "global" with "user1"
1. Share "local" with "user1"
1. Create a folder "global/subglobal" and share it with "user2"
1. Create a folder

[2015-04-15 13:52] jnfrmarks commented on #15624
To follow up, I have confirmed that there was an error in my install script.  I was mixing up daily and stable8.

[2015-04-15 13:53] PVince81 commented on #15641
I'll debug this

[2015-04-15 13:55] PVince81 commented on #15641
Just tested upgrading stable7->stable8 and shares are kept.
So this is a regression.

[2015-04-15 14:02] PVince81 commented on #15641
Ok, it looks like the SFTP storage id format has changed:

Before:
[code]

After:
[code]

Changing the storage id would recreate a new storage instance, which obviously would also get a new fileid...
Not sure if this is specific to SFTP.

CC @Xenopathic @icewind1991 @MorrisJobke

[2015-04-15 14:04] PVince81 commented on #15641
I'll prepare the following fix: if the port is "22", we must NOT add it to the id to avoid changing old ids.

[2015-04-15 14:16] jnfrmarks opened #15642 "Improve punctuation in UI"
### Steps to reproduce

1. Install 8.0.3 complete
2. Navigate throughout the UI

### Expected behaviour

Punctuation should be correct on titles

### Actual behaviour

There are areas where we only capitalize the first word in a title, such as:

![p311](https://cloud.githubusercontent.com/assets/8480343/7160635/5317f2da-e358-11e4-8f47-a0a223add6eb.PNG)

and,

![p312](https://cloud.githubuserconten

[2015-04-15 14:24] PVince81 commented on #15641
This is another reason why we need a proper mapping table: https://github.com/owncloud/core/issues/11830

[2015-04-15 14:24] jnfrmarks opened #15643 "Mouse over should display whole text"
### Steps to reproduce

1. Install 8.0.3 complete
2. Navigate throughout the UI

### Expected behaviour

Text that is wider than field width is fully displayed when mouse-d over

### Actual behaviour

Text that is wider than field width is not fully displayed when mouse-d over

![p313](https://cloud.githubusercontent.com/assets/8480343/7160839/90616990-e359-11e4-9296-f3031701c146.PNG)

### Server

[2015-04-15 14:25] oparoz commented on #13794
I agree with @PVince81, the problem doesn't happen with Gallery+, so it should be possible to fix the behaviour in apps directly.

[2015-04-15 14:27] PVince81 commented on #15641
Fix is here: https://github.com/owncloud/core/pull/15644

[2015-04-15 14:32] karlitschek commented on #15643
@jancborchardt

[2015-04-15 14:33] karlitschek commented on #15642
@jancborchardt

[2015-04-15 14:34] oparoz commented on #5322
The solution is to support Markdown via https://github.com/chjj/marked

[2015-04-15 14:47] PVince81 opened #15645 "Ext storage + shares + encryption, cannot download files as recipient"
### Steps to reproduce:
1. Enable encryption
1. Enable external storage
1. Mount SFTP external storage "/sftp" (I tested with global storage, might happen with local as well)
1. Assign the storage to the admin user (mine is "root")
1. Create two users "user1" and "user2"
1. Share "sftp" with "user1"
1. Create a subdir "sftp/sub"
1. Share "sftp/sub" with "user2"
1. Upload a pic "test1.jpg" into "sf

[2015-04-15 14:59] PVince81 opened #15646 "Public API to work with trashbin"
OCS or WebDAV, whichever is better suited.

Need to be able to:
1) List files in trashbin
2) Delete files permanently
3) Restore files

[2015-04-15 14:59] PVince81 commented on #10571
Could/should probable be done with WebDAV.

Note that such tasks are important to be able to write automated tests

[2015-04-15 15:05] PVince81 commented on #12461
What to do with this ? Defer or obsolete ?

[2015-04-15 15:06] PVince81 commented on #10731
@icewind1991 are you still working on this ? (if yes please assign to yourself)

[2015-04-15 15:08] PVince81 opened #15647 "Work directly on storage in chunk upload mode"
Follow up from: https://github.com/owncloud/core/pull/12006

This needs to be done for the chunking mode too.

@icewind1991 as discussed here https://github.com/owncloud/core/pull/12006/files#r28233056

@DeepDiver1975 8.1 or 8.2 ?

[2015-04-15 15:09] jnfrmarks opened #15648 "Get a white screen trying to access files via webdav in the browser"
### Steps to reproduce

1. Install 8.1
2. Navigate to files page
3. Expand setting on lower left
4. Grab URL for WebDAV
5. Enter URL in another browser

### Expected behaviour

Expect to get access to files

### Actual behaviour

Get a white screen

There is nothing in the server log.

### Server configuration

Ubuntu 14.04
PHP 5.5.9
ownCloud Enterprise Edition 8.1 pre alpha (daily) Build:2015-04-

[2015-04-15 15:10] PVince81 commented on #12487
We're making progress :smile: (ticked a few boxes)

[2015-04-15 15:10] karlitschek commented on #10731
yes. this is actual important

[2015-04-15 15:11] PVince81 commented on #15640
This works on stable8, so technically a regression

[2015-04-15 15:19] PVince81 commented on #15643
@owncloud/designers

[2015-04-15 15:19] tilllt commented on #15603
Ok, i regret mentioning the term SMB at all, since my OC installation does not access the folder containing the file in question via SMB. For Owncloud, there is a local folder on the filesystem.

For completeness sake, i mentioned that this folder is ALSO an smb share (but not for OC, only for the SAMBA Daemon) - which i used to transport the file from a local mac to the debian server. Hashes on t

[2015-04-15 15:20] jnfrmarks opened #15649 "Clicking on the theming link gets a 404"
### Steps to reproduce

1. Install 8.1
2. Navigate to admin page
3. Click on Tip and Tricks
4. Click on Theming

### Expected behaviour

Expect to get re directed to theming documentation

### Actual behaviour

Get a 404

http://doc.owncloud.com/server/8.0/developer_manual/core/theming.html

### Server configuration

Ubuntu 14.04
PHP 5.5.9
ownCloud Enterprise Edition 8.1 pre alpha (daily) Build:20

[2015-04-15 15:22] jancborchardt commented on #15643
In this case I would say it should only say »Windows Network Drive«. Titles in the sidebar should be kept concise.

[2015-04-15 15:23] icewind1991 commented on #10731
Should be fixed with #15338

[2015-04-15 15:25] PVince81 commented on #15603
Okay, understood.

I don't have much idea what this could be.
Did you configure X-Sendfile (or the nginx equivalent) to directly server files ?

I see you have nginx, @josh4trunks have you heard of such issues before ?

[2015-04-15 15:29] PVince81 opened #15650 "Keep current section in hash/URL in apps page"
### Steps:
1. Go to the apps page
2. Select a section, for example "Recommended"
3. Refresh the browser page

### Expected
Still in "Recommended" section

### Actual
Back to the "Enabled" section

Optionally the search term could also be kept in the URL so that the search stays. That might become more relevant in the future when there are more apps.

@owncloud/designers

[2015-04-15 15:29] jancborchardt commented on #15642
In the Files sidebar at least I deliberately only uppercased the first letter because »Shared with you« is way more legible than »Shared With You« etc.

So I would rather have the capitalization in a way that only the first word is capitalized. And when it’s a brand name like »Windows Network Drive« (and »Federated Cloud Sharing« I guess)?

Your screenshot is also a bit outdated since »Security &

[2015-04-15 15:30] tilllt commented on #15603
No, i did not configure X-Sendfile or the equivalent for Nginx. I just followed the installation instructions, as mentioned here: https://doc.owncloud.org/server/7.0/admin_manual/installation/nginx_configuration.html

[2015-04-15 15:31] PVince81 opened #15651 "Reapply search when switching sections in apps page"
### Steps
1. Go to apps page
1. Type in a search term, for example "storage"
1. Switch to "Not enabled" section

### Expected
Search/filter must still be applied to the newly selected section

### Actual
Search field still contains the value, but no search is applied. I need to type something in the field to retrigger it.

@owncloud/designers

[2015-04-15 15:34] PVince81 commented on #10731
Ah cool, I see the switch.
Will do some testing and raise separate tickets for bugs I find.

[2015-04-15 15:34] #10731 closed

[2015-04-15 15:36] jancborchardt commented on #15651
Totally agree. Any search should be reset when switching the section and the search field should be emptied.

cc @butonic @icewind1991

[2015-04-15 15:36] jancborchardt commented on #15650
Yes, agreed.

[2015-04-15 15:40] #15641 closed

[2015-04-15 15:43] tilllt commented on #15603
The only mention of the configuration of this for nginx is for OC6, here https://doc.owncloud.org/server/6.0/admin_manual/configuration/xsendfile.html

Additionally the nginx config given there as an example, does exactly what is mentioned in the "Pitfalls" document for nginx as a big No-No, defining "root" for multiple locations, which doesnt make it really trustworthy as a guide. http://wiki.ngi

[2015-04-15 15:44] oparoz commented on #15634
https://github.com/owncloud/core/issues/15652 implements a text preview of text files which are publicly shared.

[2015-04-15 15:48] oparoz commented on #11469
owncloud/core#15652 implements a text preview of text files which are publicly shared, avoiding the font size problems.

[2015-04-15 15:49] PVince81 commented on #10731
So far it seems to work well.
Moving files between encrypted and non-encrypted don't work properly, but this is due to https://github.com/owncloud/core/issues/15619

The option properly disappears when encryption is disabled. Neat :smile:

[2015-04-15 15:57] PVince81 commented on #15648
AFAIK the browser plugin was removed, so it is not possible to view the file list from WebDAV any more in the web browser. You should however be able to download files if you use the URL pointing at the file.

CC @LukasReschke

[2015-04-15 15:58] PVince81 commented on #15648
Not sure if the white screen is fixable, because the browser does a GET on that URL and we probably don't want to return an HTML error page as it might mess up the sync client ?

[2015-04-15 16:00] PVince81 commented on #15649
Without the EE theme the link seems to work.

There doesn't seem to be any developer manual on doc.owncloud.com.

@carlaschroder any idea ?

[2015-04-15 16:02] LukasReschke commented on #15648
Well, actually the white page is the expected behaviour. That said, technically it should be possible to show a page with a message but not sure if it is worth to add more hacks for it :)

[2015-04-15 16:04] PVince81 commented on #12858
Ok so now we have the repair step for orphaned tags: https://github.com/owncloud/core/pull/13344
Do we also want it as background job / cron ? (just like for shares)

[2015-04-15 16:04] LukasReschke commented on #15648
(WebDAV defines a GET on collections as invalid and thus we don't show anything at all – the browser plugin did also not match our security expectations and thus it was removed for 8.1)

[2015-04-15 16:04] PVince81 commented on #12163
Test basics introduced by https://github.com/owncloud/core/pull/11884, closing.

[2015-04-15 16:04] #12163 closed

[2015-04-15 16:08] carlaschroder commented on #15649
Because the dev manuals are not on doc.owncloud.com. I can't think of a reason to not have them there, so give me a few and I'll fix that.

[2015-04-15 16:10] MorrisJobke commented on #14930
@gig13 I never experienced such problems. Both my dev and my prod machines uses php-fpm and all works fine there.

[2015-04-15 16:26] MorrisJobke commented on #9773
Yes works now :+1:

[2015-04-15 16:26] #9773 closed

[2015-04-15 16:30] oparoz opened #15653 "Public page asks for previews of the wrong dimension"
There seems to be a minimum preview height of 770px and this creates problems on small screens.
While I agree that a minimum height is required as there is no point in showing a 36x36 thumbnail on that page, 770px is a bit much.

_Note: 770px may be in my env only, based on screen dimensions_

### Env
Master

### Steps to reproduce
* Share an image
* Copy the public link
* Open a new browser windo

[2015-04-15 17:05] karlitschek commented on #15648
yes. This is the expected behavior.

[2015-04-15 17:08] RealRancor commented on #15648
Btw. this is also documented here: https://github.com/owncloud/core/wiki/ownCloud-8.1-Features

[2015-04-15 17:15] josh4trunks commented on #15603
@tilllt x-sendfile is covered here
https://doc.owncloud.org/server/8.0/admin_manual/configuration_files/serving_static_files_configuration.html#nginx-x-accel-redirect

note, these docs work with 8.0.3+
the current docs do not violate the nginx pitfalls. though 'method 2' has root defined in a location block it doesn't actually violate it by having root only defined in locations and not im the 'ser

[2015-04-15 17:24] josh4trunks commented on #15603
since @tilllts didn't configure x-sendfile it is obviously unrelated. but, setting it up actually might solve the issue in this case because owncloud/php won't be processing the file.

Im guessing it's a PHP memory limit.

[2015-04-15 17:25] #15643 closed

[2015-04-15 17:36] jnfrmarks commented on #15648
I understand that we've made a change but we have to somehow let the customer know what the change is and that the url will not work anymore - or not put the url in the webdav field at all.  A white screen is not a good user experience.  I'm reopening for us to address the user experience.

[2015-04-15 17:38] karlitschek commented on #15648
@LukasReschke Is there a way to show an error message in the browser?

[2015-04-15 17:39] karlitschek commented on #15647
How Intrusive would this be?

[2015-04-15 17:41] karlitschek commented on #5322
yes. markdown would be nice. unfortunately we are after feature freeze for 8.1 :-(

[2015-04-15 17:43] nickvergessen commented on #12461
We will do that once we remove all the other windows hacks

[2015-04-15 17:43] LukasReschke commented on #15648
With black magic and so on everything is possible. At least if it is plain-text and does not require fancy templating, which means the ownCloud design won't be there but a white page with a text ;-) - But a simple "This is the WebDAV backend and can only be used by WebDAV clients and not be displayed in the browser." is something we can do without *too* much magic. – Text okay?

[2015-04-15 17:55] karlitschek commented on #15648
@LukasReschke Yes. This would be great! Thanks :-)

[2015-04-15 18:00] LukasReschke commented on #15648
Sure. Let me do this tomorrow… Busy trying to investigate with https://github.com/owncloud/enterprise/issues/445 with a few other folks :-(

[2015-04-15 18:23] qrof opened #15655 "Renamed shared folder is deleted when renamed twice"
### Steps to reproduce
1. Login as user, upload files to a folder, for example, "Documents"
2. Share "Documents" folder with a user group, for example "Users"
3. Logout, Login as a user in the "Users" group
4. Rename "Documents" to "Documents 2"
At this point, everything is fine, the folder will rename okay
5. Rename "Documents 2" back to "Documents"

### Expected behaviour
Folder is renamed back,

[2015-04-15 18:28] gig13 commented on #13533
@blizzz
I updated and tested with the patch of 5 files (See 20150414_patch_apps.zip on s3) and the Display count is correct for the Domain Users in the LDAP Wizard and Users page!! Unfortunately, not all of the users show up in the Users page, many can not be searched, and the lazy loading did not appear to work... thus the initial result set of users are the only ones displayed.

We changed the s

[2015-04-15 18:33] karlitschek commented on #15655
@schiesbn

[2015-04-15 18:41] jnfrmarks commented on #15648
I vote for removing this from the UI completely.

![p314](https://cloud.githubusercontent.com/assets/8480343/7166704/72ec1076-e37d-11e4-9d2a-58857ba8dc3d.PNG)

[2015-04-15 18:42] karlitschek commented on #15648
Well. this is the url to mount it. :-)

[2015-04-15 19:02] ryno83 opened #15656 "treat LDAP users not available by user filter as deleted"
### Steps to reproduce
In our LDAP (AD) configuration, we have these filters :
a. User Filter : (memberOf=CN=ownCloud,OU=domain_users,DC=mydomain,DC=com)
b. Login Filter : (&(memberOf=CN=ownCloud,OU=domain_users,DC=mydomain,DC=com)(sAMAccountName=%uid))
c. No Group Filter.

1. Add a user to the Active Directory group "ownCloud".
2. Optional : Log in ownCloud with this user and then log out.
3. Rem

[2015-04-15 19:37] jnfrmarks opened #15657 "Remote user's avatar not updated in share dialog after avatar is modified"
### Steps to reproduce

1. Install 8.1
2. Upload a file
3. Share with a local user and with a remote user
4. Change the local user and remote user avatars
5. Refresh the share dialog

### Expected behaviour

Avatars reflect new avatars

### Actual behaviour

Just the local user's avatar is refreshed; the remote user remains the same.

### Server configuration

Ubuntu 14.04
PHP 5.5.9
ownCloud Enter

[2015-04-15 19:55] derkostka opened #15658 "OC 8.0.3 filesize() stat failed trying to add any external storage"
### Steps to reproduce

* Try to mount a SMB or local share within the Owncloud settings
* The green light will indicate, the share is okay (destination found, credentials match)
* Change to files, the share has not been stored

### Expected behaviour

The share shall be stored and accessible

### Actual behaviour

The share is not stored

#### Server configuration

Operating system: Ubuntu 14.04

[2015-04-15 20:05] derkostka commented on #13096
Works now, tested on OC 8.0.3-RC1. +1

@PVince81 don´t know, something has changed, i scanned about 800 files now, before it crashed early ...

[2015-04-15 20:59] carlaschroder commented on #15649
ok then, links should work for developer manuals on 8.0 and 8.1

[2015-04-15 21:38] lexore commented on #13147
I want confirm very high amount of queries to s3 from owncloud.
Very high.
I collected data in hope that it helps.
Server ubuntu + nginx + php5-fpm + mysql.
I installed latest version of owncloud from Web Installer (8.0.2).
And latest version of desktop client (win 1.8.0).
I created separate bucket on s3 special for this test.
I used amazon aws only for s3 for owncloud, so it's pure experiment.
On

[2015-04-15 22:29] finius opened #15659 "oc8 seems to drag ubuntu server down on high client sync loads"
I'm sorry to give such an unspecific misbehavior, but I'm hardly able to reproduce this behaviour nor to explain what the exact reason for this is. Let me give some facts on the situation to give an impression of what's going on:
- oc8 runs virtualized on a single ubuntu 14.04 LTS server with 4 cores on a new Dell PowerEdge R730xd, 4GB on a 20GB hdd with about 50% free space left. storage of the d

[2015-04-15 22:31] tschloeter opened #15660 "Switch MySQL database character set and collation to UTF8 Multibyte if supported"
Hello,

I found out that synchronizing a calendar or address book that contains UTF-8 Multibyte characters with a length of 4 bytes via CalDAV / CardDAV breaks the database. This especially happens when an entry contains Emoji symbols as most of these are 4-byte UTF-8 characters.

I solved the problem by changing the database character set  to "utf8mb4" and collation to "utf8mb4_unicode_ci" respec

[2015-04-15 22:35] BinaryCoder87 opened #15661 "Feature request: Output necessary debug data from backend"
Whenever you need to send a bug report or ask for support (in the forum), you need to specify specific data like server, database etc. It would be nice if you could just press a button at the backend, to generate those data. In best case you have several reports to generates, which helps you and your supporters to find the problem fast and easy.

[2015-04-15 22:41] BinaryCoder87 opened #15662 "Error 64, 80; 138, 140"
I got four recurring error messages in my log:

[code]

Environment VM on a VServer
Server Apache / Ubuntu server 14.04.2 LTS
Database mysql  Ver 14.14
Client Chrome
Versions of OwnCloud and PHP OC 8.0.2 PHP 5.5.9
Fresh install

[code]

encryption yes
external storage no
external interface no

[2015-04-15 23:30] karlitschek commented on #15662
@icewind1991 can you have a look?

[2015-04-15 23:32] karlitschek commented on #15660
@DeepDiver1975 what do you think?

[2015-04-15 23:36] karlitschek commented on #15659
This is a system configuration issue.
The recommendation is to configure the MxcClients setting in apache to an value that doesn´t use too much system ressources. For example if MaxClients are reach then the system should still enough free memory and don´t swap.
I recommend to ask more questions in the ownCloud forum.

[2015-04-15 23:36] #15659 closed

[2015-04-15 23:52] Spacefish commented on #10808
I wrote a cron to pregenerate the thumbnails on my instance. On that occassion i was also confused on why the thumbnails are stored per user and based on the fileId. After i truncate oc_filecache (which i do from time to time to speed up owncloud again) all thumbs had to be regenerated. So i changed the thumbnail identifier to absolut path on file system and generated the thumbs only once so i hav

[2015-04-16 00:17] Xenopathic commented on #15661
We have a work-in-progress implementation of this, thanks to @LukasReschke : track the progress over at #13258

[2015-04-16 00:17] #15661 closed

[2015-04-16 07:20] Norahy commented on #15368
Works perfectly, thanks!!

[2015-04-16 07:22] efelon opened #15664 "Cron.php update fails when server-side encryption is enabled"
Owncloud 8.0.2
News 5.2.8
Server-side Encryption 0.7.1

Symptom was, that news were not updated after enabling encryption app. Cron.php itself returns with: {"status":"success"}

Log entry with encryption enabled:
{"reqId":"116981ce9c21dcd8e43eed629c4fcb94","remoteAddr":"x.x.x.x","app":"no app in context","message":"Error while running background job: Could not determine user","level":3,"time":"20

[2015-04-16 07:36] tilllt commented on #15603
php.ini: memory_limit = 128M

[2015-04-16 07:38] SergioBertolinSG opened #15665 "Encryption app is enabled by default in 8.0.3RC2"
### Steps to reproduce
Install 8.0.3RC2 version from tarball.

### Expected behaviour
Disabled by default.

### Actual behaviour
Enabled by default.

### Server configuration
**Operating system**:
Ubuntu 14.04 LTS

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

**ownCloud version:** (see ownCloud admin page)
{"installed":true,"maintenance":false,"version":"8.0.3.1","versionst

[2015-04-16 07:53] DeepDiver1975 commented on #15665
@nickvergessen can I ask you to verify/analyze this? THX

[2015-04-16 08:08] SergioBertolinSG commented on #15665
No need to, my mistake, I used an existing database. With a different one it is disabled but default.

[2015-04-16 08:08] #15665 closed

[2015-04-16 08:13] DeepDiver1975 commented on #15664
Is the search app enabled? Try disabling it - anyhow pointless with encryption enabled ...

[2015-04-16 08:14] DeepDiver1975 commented on #15660
We have been discussing this many times - as soon as we switch to utf8mb4* the index max length will shrink even further - as a result we would need to redesign the whole database schema.

We are not going to do this - sorry - switch to postgres

[2015-04-16 08:14] #15660 closed

[2015-04-16 08:15] PVince81 opened #15667 "[enc2] API / OCC to enable encryption + select encryption module"
To be able to automate setup for automated tests and also deployments, it is necessary to provide an API and/or CLI command to make it possible to enable the encryption module.

In the past, enabling encryption was only about enabling the "files_encryption" app.
Since 8.1 and encryption 2.0, enabling the "encryption" app is not enough. Admins need to go to the admin page and tick "enable encryptio

[2015-04-16 08:20] PVince81 opened #15669 "[enc2] Admin UX: after update, show notification to hint at migration"
### Steps
1. Setup stable8 / OC 8.0
2. Enable encryption
3. Upload files
4. Upgrade to master / 8.1
5. Download a file

### Expected result
After the update, a notification must appear for the admin that says "Please go to the admin page to configure the new encryption" or something about the migration.
Also: whenever a file action before the admin did the migration, return 403 or a proper error m

[2015-04-16 08:23] PVince81 commented on #15669
Or make sure that proper exceptions / error messages are logged/shown whenever files are accessed.

[2015-04-16 08:28] #12461 closed

[2015-04-16 08:29] PVince81 commented on #15647
As intrusive as the original fix for non-chunking mode: https://github.com/owncloud/core/issues/12006

[2015-04-16 08:30] PVince81 commented on #15647
assuming that the part file assembling is the one that goes directly to the storage instead of using the view. It shouldn't be too different to the other one. It's just that the code is partly duplicated in other places.

[2015-04-16 08:31] PVince81 commented on #15648
or add a hint that this is a URL only for WebDAV clients

[2015-04-16 08:31] efelon commented on #15664
I just had a look in the admins app menu and didn't see an app related or named with search in enabled or not enabled.

[2015-04-16 08:32] PVince81 commented on #13096
I think there were some fixed for the Node API recently, I remember seeing PRs about it. Maybe that's what fixed it.

[2015-04-16 08:36] PVince81 commented on #13147
Yes. A stat cache needs to be added in the S3 implementation.

If anyone has some time, you could look at https://github.com/owncloud/core/pull/7897 and do the same for https://github.com/owncloud/core/blob/master/apps/files_external/lib/amazons3.php (no need to pick the ArrayCache class, it already exists in core).

I'll set the milestone for this ticket to 8.2 for now.

[2015-04-16 08:38] PVince81 commented on #10808
Arghh, never truncate the oc_filecache table. You will lose all shares, favorite info, etc.

[2015-04-16 08:49] DeepDiver1975 commented on #15667
A bunch of cli commands will be necessary:

encryption:enable
encryption:disable
encryption:list-modules
encryption:set-default-module

[2015-04-16 08:50] PVince81 commented on #15340
Let me try to reproduce the issue again to see what actually happens.

[2015-04-16 08:58] PVince81 commented on #15340
In my local test on 8.0.3RC2 this is what I observe after renaming back:
- the oc_filecache entries for the "Public" folder all have disappeared. Only the versions of the files (ex: "abc.txt") are indexed
- the "Public" folder and its contents still exists on disk
- running `./occ files:scan user1` brings back the data for the sharer, but not the shares (because the indexed entries will be recreat

[2015-04-16 08:59] DeepDiver1975 opened #15671 "output_buffering = 4096 is not detetced to be invalid"
@LukasReschke

[2015-04-16 08:59] PVince81 commented on #15340
note: this has nothing to do with trash or deletion.

Hmm, now you said in your case the files are actually deleted from disk.

I'll retry with a running sync client and see what happens.

[2015-04-16 09:03] LukasReschke commented on #15671
I removed, `php_value output_buffering off` from the `.htaccess` and set it to 4096 in my php.ini, after clearing the cookies (session stores the results), I get the error screen as expected.

Are you sure it is set to 4096? Can you verify using a phpinfo in the same directory?

[2015-04-16 09:04] LukasReschke commented on #15671
Just FTR: I am on master.

[2015-04-16 09:04] warhog commented on #14048
Hi guys,
we are affected by that calendar problem, too. Is there a schedule when this will be fixed?
Regards

[2015-04-16 09:07] clementhk commented on #15340
In my case I was notified one day after it happened.
We have around 10 people using different versions of windows/mac clients.
When I dig into it I found out the folder on disks are gone.

[2015-04-16 09:09] DeepDiver1975 commented on #15671
I'm using occ and in php.ini I have

[code]

[2015-04-16 09:10] PVince81 commented on #15340
I tried syncing with owner: the folder is deleted locally but not from disk. Running "./occ files:scan" brings it back.

Now trying syncing as recipient.

[2015-04-16 09:15] PVince81 commented on #15340
Same when syncing as recipient, and also same when renaming the folder through the sync client.
I couldn't make the files disappear from disk.

Not sure what happened additionally in your case. If the files were deleted through a DELETE operation, then they should land in the trashbin of whoever deleted it (and for shares, also in the owner's trashbin). If you say you didn't find the files in "fil

[2015-04-16 09:17] LukasReschke commented on #15671
`output_buffering` does not affect the CLI, see http://php.net/manual/en/outcontrol.configuration.php:

[2015-04-16 09:20] DeepDiver1975 commented on #15671
so occ check is kind of pointless

[2015-04-16 09:22] clementhk commented on #15340
It is completely lost.
I'm converting to btrfs now and will make daily snapshot from now on.

If it helps to locate the problem, I see a lot of "file_created" in oc_activity, with "file" -> `/Folder/Missing-Folder/Sub-Folder/`.

[2015-04-16 09:32] LukasReschke commented on #15671
Depends on what we want to do with it. In most linux distributions the CLI does anyways use another php.ini file than the web server. If it is a check to ensure that the PHP settings are correct for the webserver: Yes. Will probably not help.

[2015-04-16 09:41] DeepDiver1975 commented on #15337
fixed with https://github.com/owncloud/core/pull/15577

[2015-04-16 09:41] #15337 closed

[2015-04-16 09:43] DeepDiver1975 commented on #13634
moving to 8.2 - we need to have a closer look at sftp anyhow - nothing which can be quick fixed afaik

[2015-04-16 09:50] PVince81 commented on #15631
also CC @jknockaert in case you have an idea

[2015-04-16 09:53] jospoortvliet commented on #15274
I do agree with Frank - an app can't become part of core if it doesn't work on a fourth or a 6th of user systems...

[2015-04-16 09:53] LukasReschke commented on #15274
So we drop the Gallery app? :see_no_evil:

[2015-04-16 09:59] DeepDiver1975 commented on #15671
@dragotin @jnweiger looks like we can revert the check command - pointless

[2015-04-16 10:17] nickvergessen commented on #15667
Could also be possible to do that with config:add/set etc, but I guess having encryption:* additional doesn't hurt and saves to remember the name of the config

[2015-04-16 10:22] nickvergessen commented on #15657
I assume we cache the avatar, since it's an external image, to not poll the other server unnecessarily

[2015-04-16 10:24] dragotin commented on #15671
@DeepDiver1975 well, no! Remember we wanted to replay the checks that you do on the admin page to detect php modules available or not.

[2015-04-16 10:25] DeepDiver1975 commented on #15671
But the results will be different as this case shows.

[2015-04-16 10:26] rullzer commented on #15657
We do not retrieve remote avatars yet. As there are some security things to consider. So for now we just use the generated avatar for remote shares.

But we are working on it :).

[2015-04-16 10:26] DeepDiver1975 commented on #15671
Background: there are two php.ini - one for cli one for the web server - the output will not be reliable

[2015-04-16 10:26] dragotin commented on #15671
can you make the CLI thing load the same as the web server? We should be able in packages.

[2015-04-16 10:27] dragotin commented on #15671
ie. start the cli script by a shell script that, before it starts the php interpreter, checks the usual locations of php.ini and than starts the php interpreter with the correct ini file? Maybe...

[2015-04-16 10:28] nickvergessen commented on #15657
@rullzer there is a ticket for this, so we can close this one as duplicate/superseded ?

[2015-04-16 10:30] DeepDiver1975 commented on #15671
this is all :hankey:

[2015-04-16 10:31] rullzer commented on #15657
Yes there is #14564

[2015-04-16 10:31] #15657 closed

[2015-04-16 10:34] LukasReschke commented on #15671
To sum up: We would have to add a parser for php.ini files and actually *parse* the content :see_no_evil:

[2015-04-16 10:34] dragotin commented on #15671
@DeepDiver1975 no, it's doable:
[code]
There are even shell scripts out in the wild that detect the distro  its running on, so you know for sure where the correct ini is.

[2015-04-16 10:34] LukasReschke commented on #15671
http://php.net/manual/en/function.parse-ini-file.php - oh you huge hack :see_no_evil:

[2015-04-16 10:34] LukasReschke commented on #15671
@dragotin That won't help. PHP overwrites some settings when it runs in CLI mode despite what it says in php.ini.

[2015-04-16 10:36] LukasReschke commented on #15671
(not for all but for stuff like `output_buffering`… :( )

[2015-04-16 10:38] LukasReschke commented on #15671
(or we just don't care about some stuff that it ignores :see_no_evil:)

[2015-04-16 10:56] LukasReschke commented on #15671
As discussed with @dragotin this should be a feasible solution and requires some magic in the packaging scripts. – Won't detect 100% of the stuff such as `output_buffering` but for that we have our `.htaccess` which hardcodes some changed settings, so should be good enough :tm:

[2015-04-16 10:58] DeepDiver1975 commented on #15671
whatever - I guess we can close this ticket

[2015-04-16 10:59] oparoz commented on #15274
I think the app ships with core so that people can see previews of their files and that works fine (for the most part), so maybe you just need to fork it, disable the menu item and change the description to say that it's a slideshow app. It's a bit of a hack, but Pictures is unmaintained and imho degrading oC's image when people get frustrated because it doesn't show anything and bugs are not fixe

[2015-04-16 11:04] jancborchardt commented on #15274
Sorry but we’re not doing the same stupid thing we did with Calendar and Contacts in 8.0 and just drop apps from the release which were there before.

We need to look forward, and the right plan of action is already being discussed in https://github.com/owncloud/gallery/issues/151 – replacing the old Gallery app with @oparoz’s Galleryplus.

So let’s not veer off the topic here.

[2015-04-16 11:18] PVince81 commented on #13756
- [ ] use part folder when renaming folders
- [ ] use part file for rename/copy/streamcopy

I'm setting this to 8.2 so we keep an eye on it.
If a PHP timeout would happen during a streamCopy it could result in partially written / broken files.

[2015-04-16 11:19] DeepDiver1975 commented on #15274
closing this issue as we implemented and merged this for 8.1

[2015-04-16 11:19] #15274 closed

[2015-04-16 11:39] jnweiger commented on #15671
Idea:
Enhance status.php so that it can run all the checks.
Then let occ check just do a curl http://localhost/owncloud/status.php?check=json or equivalend.

[2015-04-16 12:31] tobiasKaminsky commented on #12008
*bump*
I am currently developing a feature that loads reduced versions of images to a cache.
With this the bandwith is reduced dramatically on the android app.
But for this it is necessary to have a jpg reduced version of an original jpg file as otherwise the file size is too high and the benefit is far less or even not existent.

[2015-04-16 12:34] PVince81 commented on #15662
@BinaryCoder87 any specific steps to trigger the error ?

@schiesbn for the missing key error

[2015-04-16 12:36] PVince81 commented on #15655
Know issue, duplicate of https://github.com/owncloud/core/issues/15340

You can use this patch if you like: https://github.com/owncloud/core/pull/15572

[2015-04-16 12:36] #15655 closed

[2015-04-16 12:36] jnfrmarks commented on #15667
Is this a usability issue for customers?  Do we want to try to get this in for 8.1?

[2015-04-16 12:37] PVince81 commented on #15655
@qrof you should be able to make the folder appear again by running `./occ files:scan sharinguser` (replace "sharinguser" with the name of the user who created the share)

[2015-04-16 12:38] karlitschek commented on #15274
@LukasReschke No we fix it instead :-)

[2015-04-16 12:41] PVince81 commented on #15658
@derkostka can you tell us more about the SMB server you are connecting to ? Is it a Linux or Windows machine ?

[2015-04-16 12:41] PVince81 commented on #15658
When you say "any" external storage, does it mean you also get it with SFTP ?

[2015-04-16 12:45] DeepDiver1975 commented on #15658
32 bit issue? @bantu

[2015-04-16 12:56] bantu commented on #15658
@derkostka Please make sure you have the curl PHP extension installed and enabled.

[2015-04-16 13:01] DeepDiver1975 commented on #15667
Hmm .... I have not really any idea - but we need this ourselves for test automation - so at least enable and disable can be in the scope of 8.1

[2015-04-16 13:06] nickvergessen commented on #15667
I will have a look at this then

[2015-04-16 13:50] MorrisJobke commented on #15671
seriously? :-1:

[2015-04-16 14:06] oparoz opened #15676 "Improve apps management with compatibility labels"
App dependencies and app trust levels will be part of 8.1, but users would benefit from additional labels which would indicate whether or not an app is compatible with the device they're going to use the GUI with.
Filtering the app store using labels would clearly indicate to users which apps should work and they would probably feel more inclined to fill bug reports if something is off.
### Browse

[2015-04-16 14:06] gig13 commented on #15392
@RealRancor @schiesbn @bboule
I was able to connect to the ftp server from the ownCloud server via a curl command and transfer a file without issue.

The command I used is as follows:
[code]

What are the next steps? The ftps connection outside ownCloud works fine, now how do we get the External Storage connected? Is it possibly related to the bundled certificate?

[2015-04-16 14:49] cdamken opened #15678 "[7.0.5] LDAP logs many errors"
We've got tons of errors like this one:
[code]
However, the ldap servers seem to be running fine. I I don’t have any users reporting, that they can’t log in.

——

The ldap servers are logging stuff like this:

[code]
But from what I can tell, those errors are unrelated.
- The first one means, that the client is disconnecting improperly (no unbind)
- The second one means that a bind operation was c

[2015-04-16 14:52] DeepDiver1975 commented on #15671
closing

[2015-04-16 14:52] #15671 closed

[2015-04-16 16:42] tschloeter commented on #15660
This is what I also experienced. I had to limit the index size of half a dozen fields to 191 bytes, so the index fits in the max length of 767 bytes.

What is the bad thing about that? I understand that the change is not going to make it into the mainstream, but I would like to understand what problems I have to expect from the change. I imagined that there will be performance issues or problems i

[2015-04-16 17:03] BinaryCoder87 commented on #15662
Friend of mine told me, that every time he tries to share something, he got troubles with the webinterface.

[2015-04-16 18:14] jknockaert commented on #15631
@PVince81 There seems to be an issue left with the correct handling of the unencrypted filesize. #15636 was created by @schiesbn to handle an issue that should not occur when unencryptedSize gets correctly initialised upon write. If the initialisation is wrong, it will also write a wrong value to the filesystem cache upon close after write. Then when opening again, things go wrong unless some proc

[2015-04-16 19:09] derekblankmccoy opened #15682 "Set expiry date on a local share"
It would be great if it were possible to set an expiry on a normal share as opposed to a public link. I've looked for an app that could do this but can't find one.

[2015-04-16 20:03] rullzer commented on #15611
I think I found the issue. A different code path is taken when the password is enforced. Fix is not that hard. But also here I want to add unit tests to make sure we do not break it later. Hopefully I have time to make a PR tomorrow.

[2015-04-16 20:48] qrof commented on #15655
Many thanks!

[2015-04-17 07:11] DeepDiver1975 commented on #15660
The problem is that some of the indexes cannot be generated - you will end up with no indexes (if the full schema can be applied at all)

[2015-04-17 07:15] jimlei opened #15684 "Problems reading files after OC 7.0.4 -> 8.0.2"
### Steps to reproduce
1. install OC 7.0.4 and enable encryption
2. upload files
3. upgrade to OC 8.0.2

### Expected behaviour
OC works as expected

### Actual behaviour
OC can't read files

### Server configuration
**Operating system**: Debian 7

**Web server: ** Apache/2.2.22

**Database:** MySQL 5.5.38

**PHP version:** 5.4.4

**ownCloud version:** 8.0.2

**Updated from an older ownCloud or fr

[2015-04-17 07:18] DeepDiver1975 commented on #15684
@schiesbn some old encryption issue? THX

[2015-04-17 07:29] jimlei commented on #15684
@DeepDiver1975 Thanks for the quick tagging of the issue.

I'd appreciate if someone could point me in the direction of how to resolve this. Sadly I had too much data to back it all up, so now I have a bunch of encrypted data that I'm unable to access. Hopefully all isn't lost yet :)

[2015-04-17 08:14] nickvergessen commented on #15682
Duplicates #11642

[2015-04-17 08:14] #15682 closed

[2015-04-17 08:47] nickvergessen opened #15685 "[enc2] Can not reset password via console when encryption is enabled"
@schiesbn

[code]

[2015-04-17 09:15] PVince81 commented on #15662
troubles as in... error messages ?

Maybe try to unshare the file then reshare again, if there are other recipients.
Maybe the recipient's encryption keys are broken somehow.
Is he able to share with other people ? Is it specific to one recipient ?

[2015-04-17 09:31] derekblankmccoy commented on #11642
Expiry on internal shares is something that is desired. Could it be an option that is toggled in the admin panel?

[2015-04-17 09:41] blizzz commented on #15504
I did following test today with stable7:

1. Have an LDAP group
2. as local admin, share a folder with full permissions and add two files
3. as a group member log in. the folder is available, uploading a file works.
4. add a new member to this group
5. verify on Users page that the new member is part of the group
6. log in as new member -> the shared folder is available. Even without the backgroun

[2015-04-17 09:46] PVince81 opened #15687 "Ext storage config must not validate before backend selection"
### Steps to reproduce
1. Enable ext storage app
2. Allow mounting SFTP storages
3. Login as another user
4. Type in "sftp" as mount point (do not select any backend)
5. Click outside
### Expected result

Nothing happens
### Actual result

Spinner appears, then red square
### Versions

ownCloud git master (aef6ecdbf1fbe748acb64bcf8d1abdf14ea51e97)

@Xenopathic I thought you fixed that last time ?

[2015-04-17 09:48] PVince81 opened #15688 "[enc2] Cannot upload to external storage"
### Steps
1. Enable encryption + default enc module
2. Mount either a global SFTP storage or local one (personal)
3. Upload a file

### Expected
File uploaded

### Actual
Error notification appears: path needs to be relative to the system wide data folder and point to a user specific file
Nothing in the log.

### Version
ownCloud master (aef6ecdbf1fbe748acb64bcf8d1abdf14ea51e97)

@schiesbn @th3fal

[2015-04-17 10:07] ufechner7 opened #15689 "Cannot install owncloud on Ubuntu 12.04"
Hello,

I followed the instructions on:
http://software.opensuse.org/download/package?project=isv:ownCloud:community&package=owncloud

The installation fails with the following message:
[code]

[2015-04-17 10:10] ufechner7 commented on #15689
Related issue:
https://github.com/owncloud/core/issues/15615

[2015-04-17 10:16] ufechner7 commented on #15689
More info about my system:
[code]

[2015-04-17 10:19] jancborchardt commented on #11642
We will consider it with an upcoming rework of the sharing dialog. cc @rullzer

[2015-04-17 10:20] schiesbn commented on #15688
can't reproduce it, works here wit current master

[2015-04-17 10:23] PVince81 commented on #15688
Did you use SFTP for it ?

Note that this is setup from scratch, not done any migration.

[2015-04-17 10:33] nickvergessen commented on #15689
@ufechner7 your issue duplicates the one you linked right?
If so I'd like to close this one here, to avoid duplicate discussions

[2015-04-17 10:37] schiesbn commented on #15688
indeed, it only happens on sftp... tested with ftp before. I will debug it.

[2015-04-17 10:40] cdamken commented on #13998
Just a new comment: the behavior does not happens when upgrade from 6.0.7 to 7.0.5, well then its probably fixed.

[2015-04-17 10:48] jnweiger commented on #15615
@edfield I'd like to see more diagnostics here. The ...'but it is not going to be installed' message does not say why.
Do you already have some mysql or owncloud packages in your system?
Please show the output of

    dpkg -l  | egrep 'mysql|owncloud'

Maybe these bring your system in a cleaner state:

    sudo apt-get autoremove
    sudo apt-get autoclean

[2015-04-17 10:53] KPrinz commented on #14911
@VicDeo , replaced all files as requested, ran SQL, here is the result:
appid
files_videoviewer
contacts
files_pdfviewer
updater
gallery
activity
files_trashbin
files_texteditor
files_sharing
search_lucene
files_versions
calendar
files
firstrunwizard
documents

[2015-04-17 11:14] ufechner7 commented on #15689
Well, this is NOT a duplicate. The one I liked is about problems with Ubuntu 14.04. Please re-open this issue.

[2015-04-17 11:16] ufechner7 commented on #15689
In addition, my error message is different.

[2015-04-17 11:18] ufechner7 commented on #15615
Someone closed my issue:
https://github.com/owncloud/core/issues/15689

But I think this is not the same issue. I have problems installing on Ubuntu 12.04, AND I have a different error message.

[2015-04-17 11:24] DeepDiver1975 opened #15693 "[enc2] Unrecoverable state if encryption app triggers NeedsUpdateException in OC_App::loadApp()"
[code]

[2015-04-17 11:28] rullzer commented on #14933
This should be taken care of together with #5873. Then the sharing dialog should use the same endpoint as all the other clients. So we do not have to duplicate code.

Moving to 8.2 as we won't get it into 8.1

[2015-04-17 11:35] nickvergessen commented on #15689
@ufechner7 the ubuntu version shouldn't make the difference, both issues are about a missing dep?
Anyway, please do the steps that @jnweiger provides in the other ticket aswell

[2015-04-17 11:42] DeepDiver1975 opened #15694 "[enc2] displayname not properly shown"
![bildschirmfoto von 2015-04-17 13 41 00](https://cloud.githubusercontent.com/assets/1005065/7201445/777c2b54-e507-11e4-9b69-c0d838b6f82e.png)

[2015-04-17 11:51] ufechner7 commented on #15689
[code]

[2015-04-17 11:54] ufechner7 commented on #15689
I also executed:
[code]
This did not change the error message.

I do not want to install the server, just the client. Why does the package "owncloud" depend on
"owncloud-server-core" and "owncloud-config-apache"?

[2015-04-17 11:56] ufechner7 commented on #15689
Dependencies of the package "owncloud":
[code]

[2015-04-17 12:01] ufechner7 commented on #15689
I could track down the problem a little bit more. "owncloud" depends on "owncloud-server". "owncloud-server" depends on php5 (>= 5.4.0), which is not available for Ubuntu 12.04.
See:
[code]

[2015-04-17 12:03] DeepDiver1975 opened #15696 "[enc2] Undefined variable: message at \/srv\/www\/owncloud8.1\/apps\/encryption\/controller\/statuscontroller.php#84"
{"reqId":"y5hFrm+7zV9\/KE24eXzu","remoteAddr":"178.25.224.1","app":"PHP","message":"Undefined variable: message at \/srv\/www\/owncloud8.1\/apps\/encryption\/controller\/statuscontroller.php#84","level":3,"time":"2015-04-17T12:02:49+00:00"}

[2015-04-17 12:04] fcturner opened #15697 "Set theme on Admin page"
I work a lot with theming as I think it's the ultimate way for making edits to the ownCloud instance files.

But whenever an update comes forth, ownCloud disables the theme during the update. Afterwards, it's not being restored, causing me to SSH-ing to my config.php and typing the theme name by hand. So maybe these two things aren't a bad idea:
- A fix to this issue so the theme get restored afte

[2015-04-17 12:14] #15685 closed

[2015-04-17 12:16] DeepDiver1975 commented on #15697
The theme is not enabled for a good reason - themes can cause breakage of an installation after upgrade. Therefore re-enabling the theme is a manual step.

[2015-04-17 12:18] DeepDiver1975 commented on #15697
This will not work - thinking about a clustered setup: the change will be written only to one confg.php.
Furthermore - we are experiencing a lot of issues just because ownCloud is writting to config.php by itself - we need to reduce such calls.

[2015-04-17 12:18] DeepDiver1975 commented on #15697
@fcturner your requests are not wrong - just to explain the current situation - I see no point in fixing this short term -> backlog

[2015-04-17 12:21] fcturner commented on #15697
I see... Thanks for replying and clarifying!

[2015-04-17 12:23] DeepDiver1975 commented on #15696
![bildschirmfoto von 2015-04-17 14 23 23](https://cloud.githubusercontent.com/assets/1005065/7201922/5967a4c6-e50d-11e4-8534-dd34e32fe592.png)

[2015-04-17 12:25] sanneterpstra opened #15698 "Theming should be way easier and more extensive"
Currently you can only change the logos and colors via css. Shouldn't this be way easier and more extensive? I'm thinking wordpress-like theming options..

[2015-04-17 12:29] MorrisJobke opened #15700 "Different entries in oc_share_external for remote shares and mounted public links"
[code]
- `1` - was added via share dropdown and type in `mjob@my.owncloud.example.org` -> has **userid** as owner - has additional `/` in `remote` URL
- `2` - was added via share dropdown, share via link -> `add to my owncloud` button on public link page -> has **Display Name** as owner - **-1** as `remote_id`

@schiesbn Shouldn't be both entries the same? Can we unify this? Otherwise it maybe get

[2015-04-17 12:30] blizzz commented on #13533
Does not seem to be there. File search does not find it.

Which are missing?

Might be a side effect.

In the logfile, there are is a couple of new repeating entries, but they appear after the background job. This might lead to caching issues:

{"app":"PHP","message":"Array to string conversion at \/var\/www\/html\/owncloud\/apps\/user_ldap\/lib\/jobs.php#89","level":3,"time":"2015-04-15T13:40:37+

[2015-04-17 12:30] PVince81 commented on #15551
For files ?

I vaguely remember that during a past debugging session I saw there's an `if` someone that checks if `$path === ''`, always return true to say that it exists. Which is valid for most storages except for remote shares.

[2015-04-17 12:34] DeepDiver1975 commented on #15689
AFAIK there are PPAs which supply higher php versions for Ubuntu 12.04 -> nothing we can do -> case closed

[2015-04-17 12:34] #15689 closed

[2015-04-17 12:34] gig13 commented on #13533
@blizzz
The  20150414_patch_apps.zip is now on s3.

[2015-04-17 12:43] MorrisJobke opened #15701 "Cleanup storage of incoming external share"
- getting a remote share (either via share dropdown and user@remote or via public link page and "Add to my owncloud")
- unshare this folder
### Expected behaviour
- Database entries are cleaned up (storage and filecache)
### Actual behaviour
- Storage and filecache is still filled
### How to test this

Following queries list the tables joined together (for MySQL)

Map `shared::` storage to externa

[2015-04-17 12:43] MorrisJobke commented on #15701
cc @schiesbn @icewind1991

[2015-04-17 12:46] MorrisJobke commented on #15701
Be prepared same behaviour if external server doesn't have the folder anymore - maybe keep it for this case.

cc @butonic

[2015-04-17 12:46] oparoz commented on #15551
Yes, it's when checking for the existence of a file in a folder.

[2015-04-17 13:00] jnweiger commented on #15689
@ufechner7 Ah, now I understand your issue: The package 'owncloud' is the server. The package 'owncloud-client' has the desktop client, which is called 'owncloud', when installed. This often confuses first time users.

Try

     http://software.opensuse.org/download.html?project=isv%3AownCloud%3Adesktop&package=owncloud-client

And follow the Instructions you see, when you click on the ubuntu icon

[2015-04-17 13:04] DeepDiver1975 commented on #15698
templates can also be themed

[2015-04-17 13:05] #15698 closed

[2015-04-17 13:09] jnweiger commented on #15615
@ufechner7 's issue is different: He wants to install owncloud-client.

[2015-04-17 13:18] redhell commented on #7769
Today after trying the latest master i got following statement:
[Doctrine\DBAL\Driver\PDOException]
  SQLSTATE[HY000]: General error: 1665 Cannot execute statement: impossible to write to binary log since BINLOG_FORMAT = STATEMENT and at
   least one table uses a storage engine limited to row-based logging. InnoDB is limited to row-logging when transaction isolation level
  is READ COMMITTED or RE

[2015-04-17 13:25] Xenopathic commented on #15687
Hmm, I thought I had. Perhaps I only fixed the problem when tabbing out of a row (that was the timer thing). There must be an `if` statement not being hit or something.

[2015-04-17 13:47] oparoz commented on #15653
Fix is in #15652

[2015-04-17 13:52] tschloeter commented on #15660
I did that as I told above. I had to limit the index size in five or six cases (VARCHAR 255-fields). The indexes can still be generated, but they only apply to the first 191 chars in the string. Apart from that there was no problem applying the schema.

What I meant above is whether limiting the index size affects integrity or "only" performance? Does it even affect anything at all if I do not hav

[2015-04-17 13:57] DeepDiver1975 commented on #15660
even "only" that is not acceptable for us

[2015-04-17 14:13] pvancald opened #15702 "Moving files makes them disappear (SWIFT object store)"
### Steps to reproduce
1. via the webinterface
2. Create a subfolder in an existing folder
3. Move a file from current folder to the freshly created subfolder

### Expected behaviour
The freshly moved file should be visible in the subfolder

### Actual behaviour
The file is not visible and the logs of the desktop client indicates that it has been deleted.

### Server configuration
**Operating syst

[2015-04-17 14:21] tschloeter commented on #15660
Sure, as I said, I am not asking because I want you to implement it.

I just do not expect any issues apart from performance, but I would like to know if I should. So far, for my ~10 accounts setup, I did not experience any problems.

If my setup is just not well-tested and therefor "experimental", this is OK for me.

If you strongly recommend not to use ownCloud with shorter indexes due to a know

[2015-04-17 14:42] oparoz opened #15703 "Fix illogical storage location method names"
The storage ID definitions [found here](https://github.com/owncloud/core/wiki/Storage-IDs) help developers figure out what those IDs mean.

The problem is that when we're trying to use what's at our disposal to identify where a folder is located, it doesn't work as expected.
## $folder->isLocal()
#### Expectation
- Only returns true for folders hosted in the data folder
- Returns true for storage

[2015-04-17 14:55] oparoz opened #15704 "Files a certain size are uploaded twice after confirmation of overwritting"
### Steps to reproduce
1. Upload a 6MB file. I don't know which size exactly triggers this behaviour
2. Upload the same file a second time.
3. When asked, tick the box which says you want to overwrite the file

### Expected behaviour
The just uploaded file should be available right away, replacing the old one

### Actual behaviour
The file is uploaded again

### Server configuration
Master, PHP 5.

[2015-04-17 15:07] #15693 closed

[2015-04-17 15:19] DeepDiver1975 opened #15705 "[enc2] Infinite recursion in \OCA\Encryption\KeyManager::__construct()"
[code]

[2015-04-17 15:19] DeepDiver1975 commented on #15705
@schiesbn @PVince81 @th3fallen

[2015-04-17 15:29] DeepDiver1975 commented on #15705
How to reproduce: remove the sharedkey and you will get the recursion.

[2015-04-17 15:34] DeepDiver1975 commented on #15705
looks like we have to move that code out of ctor: https://github.com/owncloud/core/blob/master/apps/encryption/lib/keymanager.php#L133

[2015-04-17 15:36] #15696 closed

[2015-04-17 15:43] butonic commented on #15392
looking at the code I dont see a place where we load the certificate for use with tho stat call / ftps::/ streamwrapper. I don't think you can use self signed certificates that have been uploaded by a user.

Might be possible to import them in the system. @icewind1991 @PVince81 can you confirm?

[2015-04-17 15:44] butonic commented on #15392
also see: http://stackoverflow.com/questions/21854012/is-it-possible-to-work-with-ftps-under-php-using-stream-context - possible but we are not doing it

[2015-04-17 15:48] Battant commented on #15625
This issus can be close

On mac os, safari and firefox ask usernname and passwerd.

Best regards

Battant

[2015-04-17 15:49] LukasReschke commented on #15392
I explained this already twice last week in the internal IRC…

[2015-04-17 15:53] DeepDiver1975 opened #15707 "[enc2] JS error on personal page"
encryption.js?v=93bf3ef7a60ae31d74d71d44ce8088a8:39
Uncaught TypeError: undefined is not a function

[2015-04-17 16:01] KPrinz commented on #14911
currently, after QNAP FW upgrade I get a maintenance page. owncloud has stopped logging

[2015-04-17 16:12] pascalBokBok opened #15709 "Apps has empty category lists"
the apps page  should not show empty categories such as Game and multimedia.

[2015-04-17 16:13] th3fallen commented on #15705
@DeepDiver1975 how'd you trigger this? That method should not cause a reinit of the class...

[2015-04-17 16:17] DeepDiver1975 commented on #15705
@th3fallen kill the sharedkey from the filesystem or delete the sharekey in the db

[2015-04-17 16:19] th3fallen commented on #15705
derp guess i should read more thoroughly....

[2015-04-17 16:23] oparoz commented on #15551
Added some logs from the sharing server, which is on 8.0. It seems the cache is not returning anything for some of the files in that folder. Could be some encoding problem then.

[2015-04-17 16:26] th3fallen commented on #15705
no recursion here.... i removed files, worked, removed db record, worked, and removed both with no issue...

[2015-04-17 16:29] oparoz commented on #14790
@LukasReschke - So no point reporting more SSL issues on 8.0? Fixes will never be backported?

[2015-04-17 16:33] HLFH commented on #14225
Same issue on OC8. Any updates?

[2015-04-17 16:34] PVince81 commented on #15705
Cannot reproduce the issue, here are my steps on master (ae681f0061f534b48b45cf9a41f6110c0ff20b1d):
1. Setup encryption
2. Enable default encryption module
3. Log out, then log in again to init the keys
4. Upload a bunch of pics
5. `select * from oc_filecache where path like '%shareKey%'`
6. Pick one key and delete it by file id (note the name of the file)
7. Delete the matching key from the date

[2015-04-17 16:50] oparoz opened #15710 "Deleting all SSL root certificates breaks curl requests"
### Env
Master, PHP 5.5

### Steps to reproduce

As a non-admin user

1. Install a root certificate
2. Delete the certificate
3. Try to connect to a remote share

### Expected behaviour
Files should be able to connect to all the remote folders

### Actual behaviour
Instead, this is what is shown in the browser logs
`"Sabre\DAV\Exception: [CURL] Error while making request: error setting certificate

[2015-04-17 16:54] blizzz commented on #13533
@gig13 still was unable to reproduce the background job error. but it does not convince me anyway.

Could apply following patch and retry?

[code]

In case it's a cache issues this might solve it. I have not seen anything else so far.

[2015-04-17 18:22] butonic commented on #15392
I wasn't there and still had to investigate today, so what exactly did you explain? how to import certificates? That's not my problem, and I am well capable of using openssl to download a certificate ;) From my understanding:
1. importing the certificate in oc is useless because the streamwrappers won't be using it.
2. you would have to add the certificate chain to the trusted system certificates,

[2015-04-17 18:50] manaaaaa opened #15711 "SQLSTATE[HY000]: General error: 1 cannot commit transaction - SQL statements in progress"
Hello ,

i tried to upgrade owncloud from 7.02 to 8.02 .
But then i get the error Message:
SQLSTATE[HY000]: General error: 1 cannot commit transaction - SQL statements in progress

What should i do ?

-greetings

[2015-04-17 18:56] karlitschek commented on #15711
Can you post a full bug report using this template please?
https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

[2015-04-17 18:58] derkostka commented on #15658
Sorry for the delay ..
The SMB share i tried to connect to is a linux server (my netgear router).
I tried mounting  this via a local folder (router->mounted in linux->mounted by owncloud) and a smb mount directly from router->owncloud. curl-php is installed.
However, meanwhile i updated to 8.1-alpha1 and the problem is gone.
Can´t you reproduce this ?
I am about to setup a "test-cloud basd on 8.0.

[2015-04-17 19:09] RealRancor commented on #15711
Very likely a dup of: https://github.com/owncloud/core/issues/14911 and https://github.com/owncloud/core/issues/14398

[2015-04-17 19:16] #15642 closed

[2015-04-17 19:51] derkostka commented on #15658
Sorry guys, a have setup a second oc 8.0.3-rc1, no problems no error messages ... shall we close this one ? i can´t reproduce unfortunately :-1:

[2015-04-17 19:51] oparoz commented on #15551
The webDAV endpoint does not answer properly to a PROPFIND request. It should raise an exception when it doesn't find the file and it does not.

[2015-04-17 19:53] BlackLotus opened #15712 "Call to undefined method Sabre\HTTP\Request::setUrl()"
Got a little owncloud setup with lighttpd + fastcgi on my gentoo server.
I get owncloud from git and when I try to run the latest commits I get

The only similar problems I found googling were packaging errors in debian.
Do I have to install a special package for sabre?It seems to be an OC specific thing.

[2015-04-17 20:15] DeepDiver1975 commented on #15712
How did you install owncloud? From git? Some distro packages?

[2015-04-17 20:52] manaaaaa commented on #15711
I fixed it myway :

i installed it directly with this instructions :
http://wiki.qnap.com/wiki/Category:OwnCloud

Thanks for help.

[2015-04-17 20:52] #15711 closed

[2015-04-17 20:52] manaaaaa commented on #14911
i Had the same Problems.

I fixed it myway :

i installed it directly with this instructions :
http://wiki.qnap.com/wiki/Category:OwnCloud

[2015-04-17 20:53] manaaaaa commented on #14398
i Had the same Problem.

I fixed it myway :

i installed it directly with this instructions :
http://wiki.qnap.com/wiki/Category:OwnCloud

[2015-04-17 21:48] bantu commented on #15658
Yes, please. No problem.

[2015-04-17 21:48] #15658 closed

[2015-04-17 22:26] oparoz commented on #15551
Found the problem.
This line corrupts the answer received from the cache:
https://github.com/owncloud/core/blob/master/apps/files_sharing/lib/readonlycache.php#L31

[2015-04-17 23:14] fduraibi opened #15715 "HTTP2 support"
Is there any plan on supporting http2?

Since I believe it will help increase the performance specially when syncing many small files over SSL.

[2015-04-18 07:11] nickvergessen opened #15716 "Class 'OCP\OC_API' not found in .../lib/public/api.php"
[code]

This was broken since ever:
https://github.com/owncloud/core/pull/1053/files#diff-f4662541127f5c503384ba11c92b1d3fR40
All official apps use `\OC_API` at the moment, so I think fixing that in master or stable8 should be enough? @DeepDiver1975

[2015-04-18 07:31] RealRancor commented on #15715
Maybe i'm wrong but OC don't need to support this as this is the transport protocol used by your webserver. So your webserver needs support for it, not ownCloud.

[2015-04-18 07:47] nickvergessen commented on #7769
@DeepDiver1975 ^ Since we use READ_COMMITED, we should update out docs with a note about this?

[2015-04-18 08:04] nickvergessen commented on #15710
@LukasReschke

[2015-04-18 08:15] LukasReschke commented on #15710
Probably a "somewhat" regression. Stable releases actually don't do SSL really properly wrt to this storage etc.

Will fix this for 8.1

[2015-04-18 08:34] ZVonFeng opened #15719 "8.1 trusted_domain new feature"
Hi, I understand without trusted_domain it has a lot more security issues.
But what if I want to access my owncloud from a cafe or restaurant, or just somewhere else when i need it, is that still possible to do it?

[2015-04-18 08:42] RealRancor commented on #15719
Hi,

please read the documentation about the trusted_domains setting:

https://doc.owncloud.org/server/8.0/admin_manual/installation/installation_wizard.html?highlight=trusted#trusted-domains

Btw. please use either the forums or the mailinglist for asking such questions.

[2015-04-18 10:30] Tschoepler commented on #15044
.user.ini
default_charset="UTF-8"

[2015-04-18 10:38] Xenopathic commented on #15719
`trusted_domains` affects the domains you connect *to* ownCloud with, not the domain you connect *from*. It is to prevent man-in-the-middle attacks. As long as you connect to your instance with the domain name in `trusted_domains`, you won't have any issues.

[2015-04-18 10:38] #15719 closed

[2015-04-18 11:56] RealRancor commented on #15719
Exactly as described in the linked docs above :)

[2015-04-18 12:10] edfield commented on #15615
dpkg -l  | egrep 'mysql|owncloud'
ii  libdbd-mysql-perl                    4.025-1                              i386         Perl5 database interface to the MySQL database
ii  libmysqlclient16                     5.1.62-0ubuntu0.11.10.1              i386         MySQL database client library
ii  libmysqlclient18:i386                5.5.41-0ubuntu0.14.04.1              i386         MySQL database c

[2015-04-18 13:52] mmattel opened #15726 "Exception occurred while executing 'INSERT INTO `oc_filecache`"
Ubuntu 14.04, MySQL 5.5.41, PHP  5.5.9-1, nginx 1.7.12, owncloud from master 8.1 alpha 1 (git),
created via: sudo ocdev setup base --dir /xxxxxxxx
only enabled app: files_external, no encryption

After enabeling files external, I added a smb share, switched to files, waited for a minute and got 19k files scanned and imported to the database. Everything is fine.

After adding a second smb share, sw

[2015-04-18 15:03] CrazyDymond88 opened #15730 "CentOS 7 installation fails, files missing from repo"
Hello, I'm pretty new to linux so please be gentle.  From what I can tell yum is misreading some of the locations of the files in the repo needed for install.  :/ seems to translate to %3A

Downloading packages:
owncloud-app-files_encryption- FAILED
http://download.opensuse.org/repositories/isv%3A/ownCloud%3A/community/CentOS_CentOS-7/noarch/owncloud-app-files_encryption-8.0.2-16.1.noarch.rpm: [Er

[2015-04-18 16:34] mmattel commented on #15726
More info of MySQL:

mysql> SHOW ENGINE INNODB STATUS;

[code]

[2015-04-18 18:20] csphoenix1 opened #15731 "Display only own files"
Is possible to add a feature to display only own files in the home page, and not displaying the shared files ?

Thank you per advance

[2015-04-18 18:24] Xenopathic commented on #8790
This behaviour was changed with #8808, which was released as part of oC 7.0.0. No `app:delete` functionality is available, but from the CLI it is expected that `rm -rf` works as normal.

[2015-04-18 18:24] #8790 closed

[2015-04-18 18:28] karlitschek commented on #15730
@jnweiger Can you have a look please?

[2015-04-18 18:29] Xenopathic commented on #10084
Closing due to inactivity. I suspect that putting `<Limit>` directives in `.htaccess` will break some people's workflows - it is expected that the admin knows what restrictions are in place on their webserver and what needs to be modified, especially with WebDAV HTTP methods.

[2015-04-18 18:30] karlitschek commented on #15726
Can you please post a full bug report using the issue template?
Come on. How many bug reports have you posted so far?
You can do it!!!  ;-)

[2015-04-18 18:33] Xenopathic commented on #11443
This is a problem that should be raised in owncloud/apps, not here in core (if this is still an issue, of course). Closing.

[2015-04-18 18:33] #11443 closed

[2015-04-18 18:49] Xenopathic commented on #8794
Fixed in #11892

[2015-04-18 18:49] #8794 closed

[2015-04-18 18:49] Xenopathic commented on #11872
Fixed in #11892

[2015-04-18 18:49] #11872 closed

[2015-04-18 18:52] Xenopathic commented on #12106
@schiesbn What's the status of this?

[2015-04-18 18:54] Xenopathic commented on #10245
Closing due to inactivity.

[2015-04-18 18:54] #10245 closed

[2015-04-18 18:55] karlitschek commented on #15715
yes. the owncloud server supports http2 automatically if the webserver does. possible that we have to implement this in the owncloud client. please open the ticket there.

[2015-04-18 18:55] #15715 closed

[2015-04-18 18:59] Xenopathic commented on #12834
Looks like this was fixed in #12830

[2015-04-18 18:59] #12834 closed

[2015-04-18 19:05] Xenopathic commented on #12794
Unable to reproduce on oC 8.0.0. @dttpy @MadEgg Could you retry with the latest oC 7.0.*?

[2015-04-18 19:24] fefrei opened #15732 "Database error: Deadlock found"
After trying to sync a large, new directory, which was interrupted a few times (I rebooted the client computer), the client can no longer sync the directory as the server closes the connection upon encountering an internal error. Here's the error:

    {"reqId":"2522d13e0f632fd98a639f67b79239dc","remoteAddr":"212.43.83.93","app":"core","message":"DB Error: \"An exception occurred while executing '

[2015-04-18 19:46] karlitschek commented on #15732
@nickvergessen @DeepDiver1975 any idea?

[2015-04-18 20:21] DeepDiver1975 commented on #15732
this will be fixed with 8.0.3

[2015-04-18 20:51] #15694 closed

[2015-04-18 21:44] VincentvgNn commented on #10084
@Xenopathic
I'm sorry, but I'm quite frustrated that I never got an answer on this issue.
I still have this problem at 2 independant webhosting companies. I have a Joomla website running at both, I had Pydio (quite similar to ownCloud) recently installed and I never needed to adapt the .htaccess file in this way.
On the OC forum this solution was suggested by srfreeman (ownCloud professional, memb

[2015-04-18 21:52] fefrei commented on #15732
Great - Thanks!

[2015-04-19 09:11] mmattel commented on #15726
### Steps to reproduce
Create a SMB share, change to the files app, scanning will quickly finish.
Create another SMB share, change to the files app, scanning will take forever and error logs are produced.
See description at the top

### Expected behaviour
Quick and error free scanning

### Actual behaviour
Scanning does not finish and produces owncloud errors

### Server configuration
**Operating

[2015-04-19 12:47] DeepDiver1975 commented on #15726
cloned when? this issue should be solved since this commit https://github.com/owncloud/core/commit/bcf65d9c13edac4f832743cec1c0cfac2c37211e

[2015-04-19 12:50] DeepDiver1975 commented on #15730
This is most probably a mirror sync issue at our friend at OBS.

@CrazyDymond88 please retry after some time.

[2015-04-19 12:50] #15730 closed

[2015-04-19 13:50] maces commented on #13543
Same Problem here. Folowing @arusa s advice, I did the following:
- disabling 'contacts' and 'calendar' in the DB table 'oc_appconfig'
- moving the directorys 'contacts' and 'calendar's from '/apps' to some temporarily location.
- downloading the stable8 branches of these apps from github
- uploading them
- enable them via webinterface

After doing the same with the tasks app I have been redirecte

[2015-04-19 14:49] maces commented on #11778
any update on this?

I have tried setting the following from #9832 (also see https://doc.owncloud.org/server/8.0/admin_manual/configuration_files/big_file_upload_configuration.html#apache):
[code]
But this did not change anything.

[2015-04-19 15:31] rullzer commented on #15702
@pvancald Did this happen using the webinterface? Or did it happen using the desktop client?

[2015-04-19 16:01] rullzer commented on #15611
PR in #15738

[2015-04-19 16:36] mmattel commented on #15726
I cloned from git 2 days ago. The test environment was completely cleaned up before.
Info: I do this on a regular basis to have a fresh environment for testing. Development is on a seperate instance on a seperate server.

[2015-04-19 17:25] mmattel commented on #15726
After one day...

Update info logs:

In the nginx site error log, the ``upstream timeout`` error is continuosly logged every 12 minutes.
The onwcloud log has tons of the exeption messages.

Additional update:
The first SMB share contained 498 directories, 18.593 files and had a size of 98G in total.
The file count was also reflected in oc_filecache, the size shown in the file app of owncloud.

Aft

[2015-04-19 18:39] Siedlerchr commented on #14571
I just encountered the same problem, but my configuration is a bit different:
My owncloud (8.0.2) instance A is fully signed by Comodo CA and I tried to import a share from another owncloud instance B, which is self signed.

Add share from B to A doesn't work.
I got the same error as above, complaining about invalid or non trusworthy certificate
Then I exported the self signed CA from Firefox and

[2015-04-19 19:52] chaud245 commented on #13991
Hi,
I hate to post on an issue that's technically closed, but I'm having a very similar issue.

http://download.opensuse.org/repositories/isv%3A/ownCloud%3A/community/CentOS_CentOS-7/noarch/owncloud-app-user_ldap-8.0.2-16.1.noarch.rpm

[2015-04-19 20:50] zinks- opened #15742 "Inverted arguments in ResourceNotFoundException"
The variables being concatenated are swapped : https://github.com/owncloud/core/blob/master/lib/private/template/resourcenotfoundexception.php#L42

This makes for disconcerting log messages such as:
 `Could not find resource file "js/app.min.js//owncloud/apps/chat"`

[2015-04-19 22:06] binarykitchen commented on #15290
ping?

[2015-04-19 22:20] Dreadeath commented on #14236
For example
`https://xxx.xx/apps2/files_mv/js/move.js?v=longlongstring` gives 404
In nginx logs it is represented as
`open() "/usr/share/webapps/owncloud/apps2/files_mv/css/mv.css?v=longlongstring" failed (2: No such file or directory), client: xxxx, server: xxx.xxx, request: "GET /apps2/files_mv/css/mv.css HTTP/1.1"`

[2015-04-19 22:33] oparoz commented on #14236
OK, that's a problem with the files_mv app. It would be great if you could report the problem in its repository and indicate what the correct path should look like. It would help with the debugging.
On Gallery+, we were using an OC method which would not automatically build the proper path until someone told me that an html fragment would not load. The files_mv developer may be using the same one.

[2015-04-20 03:12] tomck commented on #14840
Just wanted to confirm that the solution @nhymxu posted above worked for me, and I'm using CentOS 6.6 with the php54w item from the webtatic repo. File is /var/www/html/owncloud/lib/private/httphelper.php for those who arrive via Google.

[2015-04-20 05:59] pvancald commented on #15702
Hi,
the behaviour is the same either using the webinterface or the folder with
the desktop client.
The attached logs were for a move operation via the webinterface (drag and
drop of the file to the subfolder)

For completion, I also tried a scan of all files with the occ command and
the missing files do not re-appear.

On 19 April 2015 at 17:31, Roeland Douma <notifications@github.com> wrote:

--

[2015-04-20 07:25] LukasReschke commented on #10084
No. The forum rank is generated automatically depending on the numbers of posts. Unless you see somebody with a rank called "Developer" these persons are likely not to be involved with dcore development.

![2015-04-20_09-21-28](https://cloud.githubusercontent.com/assets/878997/7225431/a1e5cff6-e73e-11e4-91a9-b3136c3803ae.png)

@rakekniven Can we make this somewhat clearer?

That said, the thing is

[2015-04-20 07:33] #14225 closed

[2015-04-20 07:43] #15716 closed

[2015-04-20 07:52] LukasReschke commented on #15392
That was it pretty much and I was more annoyed that this gets asked over and over again. Not that you answered it @butonic :-) – But if I reply to such things 3 times in 2 weeks it gets somewhat *meh* and doesn't motivate me to respond to anything in IRC anymore.

I doubt that it is a SSL issue, PHP before 5.6 does not really verify SSL certificates in a lot of places. I suspect something like the

[2015-04-20 07:54] nickvergessen commented on #15732
Closing since it will be fixed

[2015-04-20 07:54] #15732 closed

[2015-04-20 07:57] kaplandani opened #15743 "Encryption key not found for ____ filename during attempted read via stream"
I get this messages again and again.
The sync client keeps trying to do something, and fails.

The file is in the main account folder, and it looks like the share account can't read it.
 Server is 8.0.2 on Centos 7.
Client is 1.8.0 build from apr 11.

I have about 10 files like that all on the same folder.
I am not sure there is a simple way to reproduce as there are another 10GB of shared files t

[2015-04-20 08:16] Xenopathic commented on #10084
Perhaps it'd be a good idea to document this *somewhere* just so we can :point_right: at it if other people have the same issue? cc @carlaschroder

[2015-04-20 08:19] Xenopathic commented on #15290
The thing is, `occ` doesn't have *broken* verbosity, it just doesn't print anything at higher verbosities at all. It will still log to owncloud.log AFAIK, so you might find some useful information in there. Even if we do start printing more information to the console at higher verbosities, it might not be the information you need to fix your issue!

[2015-04-20 08:39] LordGaav commented on #7191
Using ownCloud 8, I'm running into similar issues. It seems that ownCloud creates a file named dot (".") in the given Swift bucket. Retrieving this file causes issues, using the swift CLI client fails because "." can never be used as a filename.

Isn't it a better idea to use another name, something like .metadata ?

[2015-04-20 08:48] DeepDiver1975 commented on #15743
@schiesbn @th3fallen can I ask you to take a look? THX

[2015-04-20 08:51] chmol commented on #12210
they are still present.
running ./occ files:scan --all output after the scann :
[code]
[code]

probably non-relevant but I also get a lot of sync error with the client :
[code]
[code]

I think I'll just reinstall the whole thing ...

[2015-04-20 08:55] rullzer commented on #14828
So it seems the files app is just not expecting any # in the url.
The magic happens at https://github.com/owncloud/core/blob/master/apps/files/js/app.js#L49 which calls https://github.com/owncloud/core/blob/master/core/js/js.js#L1595 which calls https://github.com/owncloud/core/blob/master/core/js/js.js#L1572

The # breaks the url because of the last function. Since that looks for the location of

[2015-04-20 08:57] kaplandani commented on #15743
Sure.
On Apr 20, 2015 11:48 AM, "Thomas Müller" <notifications@github.com> wrote:

[2015-04-20 09:45] PVince81 commented on #7191
I believe the entry with name "." is actually the entry for the filesystem root. It looks like there was a similar issue with S3 that was fixed by converting "." to "/": https://github.com/owncloud/core/commit/599ab7a80224ad667aaaa1ca7e23f1386d196305#diff-440d6acd86f4ca1cb35ebcdaaaed8e54R75

You could try doing this in https://github.com/owncloud/core/blob/master/apps/files_external/lib/swift.php#

[2015-04-20 09:46] PVince81 commented on #12210
If you do reinstall, I'd recommend using MySQL or PostgreSQL to avoid the locking issues.

This looks indeed like the problem in https://github.com/owncloud/core/issues/13391.
The database index was not updated fully/properly after moving the files, so there's a mismatch.

[2015-04-20 09:48] PVince81 commented on #14828
@rullzer the hash strategy is used as a workaround for IE8 that doesn't support changing the URL.
You might have noticed that when you navigate into folders, only the URL changes. There is no full page reload. IE8 doesn't support that, so we have to abuse the hash part to be able to store the modified URL parts. This also means that the code in question needs to be able to parse URLs generated by

[2015-04-20 09:53] DeepDiver1975 opened #15745 "[enc2] no route for updatePrivateKeyPassword"
no route defined in https://github.com/owncloud/core/blob/master/apps/encryption/appinfo/routes.php#L26 for https://github.com/owncloud/core/blob/master/apps/encryption/js/settings-personal.js#L12

@schiesbn @th3fallen

[2015-04-20 09:55] LordGaav commented on #7191
Adding a

[code]

Does indeed prevent the creation of a dot file in the root. Uploading files still does not work, no file is created and a lot of log entries like this are created:

[code]

[2015-04-20 09:59] DeepDiver1975 opened #15746 "[enc2] Missing return values in RecoveryController"
https://github.com/owncloud/core/blob/master/apps/encryption/controller/recoverycontroller.php#L100
https://github.com/owncloud/core/blob/master/apps/encryption/controller/recoverycontroller.php#L178

In addition: the controllers have zero unit tests - please improve - THX

@schiesbn @th3fallen

[2015-04-20 10:02] PVince81 commented on #7191
Hmmm... then maybe SWIFT doesn't work like S3 and would need another name for the root :frowning:
Or maybe there are other parts of the code that strip it again, like `getContainerName`.

It is still strange that it doesn't work because SWIFT has been working for a while. Maybe OC does work with "." but it's only the SWIFT clients themselves that don't like it ?

[2015-04-20 10:09] PVince81 commented on #15600
I'll prepare the PR

[2015-04-20 10:29] rullzer commented on #14828
@PVince81 aaah good old ie8.
Anyways, I just pointed out where it goes wrong and why. We could simply wait for IE8 support to be dropper. Maybe that is the easiest solution ;)

[2015-04-20 10:34] PVince81 commented on #15600
In the steps I forgot to mention that the web UI must be refreshed as recipient, not as owner.

[2015-04-20 10:41] PVince81 commented on #15600
@icewind1991 I tried it again, it doesn't work as expected.

Whenever I change a file directly on SFTP, it now depends which window I refresh first.
If I refresh the recipient's window first (to trigger the scanner), the files are still read-only for both owner and receiver.
If I refresh the owner's window first (to trigger the scanner), the files are read-wrte for **both** owner and receiver. Or

[2015-04-20 10:44] PVince81 commented on #14828
I think if we'd remove the IE8 workaround, then it means that IE8 would be back to OC 5 behavior: refresh the whole browser page when navigating. IE8 users are probably already used to sub-par user experience :wink:

[2015-04-20 11:06] jknockaert commented on #15631
In the process of fixing #15636 been studying the stream wrapper. There's a bug with header handling after the pointer is moved back to position 0. Not sure if it correlates with this PR, but I will anyway fix the wrapper code tonight.

[2015-04-20 11:56] #15608 closed

[2015-04-20 12:01] butonic commented on #15392
We just use the stock ftps:// streamwrapper and don't set up the context anywhere:
[code]

so ... actually this seems possible, but we need to set up the context everywhere ... basically that means extending https://github.com/owncloud/core/blob/master/apps/files_external/lib/ftp.php with all methods from https://github.com/owncloud/core/blob/a8b756154a533a2618f03c54aca56af957da12ae/apps/files_ext

[2015-04-20 12:03] LukasReschke commented on #15392
Please notice that this will lead to usability problems as well. Even if this is a SSL problem we do not have a system-wide certificate store and thus while it might work for a single user that sets it up a shared mountpoint will most likely fail: https://github.com/owncloud/core/issues/15518

[2015-04-20 12:29] MorrisJobke commented on #13503
These are all valid email addresses https://en.wikipedia.org/wiki/Email_address#Domain_part (see linked RFC there - there are multiple in the text and also valid email addresses listed)

[2015-04-20 12:29] #13503 closed

[2015-04-20 12:34] Xenopathic opened #15749 "Exception namespaces"
We currently have exceptions scattered all over the place, in lib/private, lib/public, in subdirs of those folders etc. This makes it difficult to find an exception that fits the need you have, and also means you have to decide whether to put it in the OCP or OC namespace.

On the one hand, exceptions shouldn't be private. They need to be caught by apps, so by definition they should be public.

On

[2015-04-20 12:40] DeepDiver1975 commented on #15749
hmmm ... I cannot really agree on this. There is also a difference between public and private exceptions.

Exception which are expected to be thrown by public api calls MUST live in the public namespace.

Where as: if there are any exceptions implementation specific and do not hit the surface of the public api - these shall remain in private as well.

[2015-04-20 12:40] MorrisJobke commented on #15749
If it is really just an internal thing you want to throw some steps up and catch there, then it shouldn't be public.

[2015-04-20 12:45] jnfrmarks opened #15751 "Apps don't pass occ app:check-code"
### Steps to reproduce

1. Install 8.1 enterprise
2. invoke occ app:check-code on all apps

### Expected behaviour

All apps pass the check

### Actual behaviour

The following apps fail the check:

Encryption
External
files_external
files_sharing
files_trashbin
files_versions
files
provisioning_api
user_external
user_ldap
user_webdav

### Server configuration

Ubuntu 14.04
PHP 5.5.9
ownCloud Ente

[2015-04-20 12:46] Xenopathic commented on #15749
The problem is, what happens if an exception is supposed to be thrown and caught in private code, but doesn't? Perhaps by accident, or perhaps a `catch()` is removed at a later date.

[2015-04-20 12:49] rullzer commented on #15749
There are ways to check that. Sure they require a lot of analysis. But it is doable. Keeping all the exception in a public namespace would get messy really quickly.

Having said that. A more organized way (2 namespaces maybe?) to organize our exceptions would not be a bad idea.

[2015-04-20 12:53] MorrisJobke commented on #15749
* `\OC\Exception`
* `\OCP\Exception`

?

[2015-04-20 12:54] MorrisJobke commented on #15751
you meant:

;)

[2015-04-20 12:56] Xenopathic commented on #15751
We already have an issue to track this :smile: Closing in favour of #4774

[2015-04-20 12:56] #15751 closed

[2015-04-20 13:00] MorrisJobke commented on #4774
@DeepDiver1975 I would say: Leave this in 8.2 or is this mandatory for 8.1?

[2015-04-20 13:00] PVince81 commented on #15702
I see you're using the SWIFT object store as home storage, tagging as such

[2015-04-20 13:03] PVince81 commented on #4774
If we start changing calls all over the place we'd probably need to do a full regression test. I'm not confident yet that unit tests would cover everything, so there is still a risk of breaking obscure cases.
I'd be more in favor of 8.2 to avoid the risk to compromise stability now (especially after feature freeze).

[2015-04-20 13:05] rullzer commented on #4774
Wait until 8.2! Some stuff that needs to change is (unfortunately) non trivial. Rushing this now is sure to break stuff. Getting this done ASAP once 8.1 is released. For sure!

However, some of the PR's related to this could very well go into 8.1.

[2015-04-20 13:19] MorrisJobke commented on #4774
Sure .... I was just confused by the milestone of the duplicate. ...I'm totally in with having all this for 8.2

[2015-04-20 13:55] #15634 closed

[2015-04-20 13:55] #11469 closed

[2015-04-20 13:56] MorrisJobke commented on #11469
Fixed in #15635

[2015-04-20 14:23] PVince81 commented on #15580
Got another case with this specific file: https://owncloud.vincentpetry.net/index.php/s/n8iRzw7ROCb6Fv7
Download it from my server and then upload it on OC master.
Then download in Chromium or copy the download.php link by right clicking on the file name in the web UI.

Downloading this file with curl with download.php gives me this:
[code]
The resulting file is corrupt because it is missing a few

[2015-04-20 14:23] PVince81 commented on #15580
Note: it doesn't even need to be a shared file.

[2015-04-20 14:26] PVince81 commented on #15580
Also downloading the file over curl delivers the correct content. So it's not an upload problem.

[2015-04-20 14:27] PVince81 commented on #15580
CC @jknockaert here as well in case you got an idea.
In the other ticket you mention writing problem. Here it seems to be more of a reading problem.
But not sure why it would happen with download.php but not with WebDAV.

[2015-04-20 14:35] jknockaert commented on #15580
@PVince81 This looks like a filesize problem. Something broken in this area is being fixed in #15636 (but not yet merged). After that it would be good to check if the encryption stream wrapper gets the right unencrypted and encrypted size passed upon stream_open. The encrypted size should include the encryption header. The write issue that I mentioned in https://github.com/owncloud/core/issues/156

[2015-04-20 14:36] PVince81 commented on #15580
One difference I observed between WebDAV (which works) and download.php:
- in the case of WebDAV, it uses file_put_contents in the SAPI from Sabre. Basically Sabre calls `file_put_contents()` on the PHP output and puts the stream resource. So the copy loop is done by PHP.
- in the case of download.php, it goes into the View and we have our own loop there: https://github.com/owncloud/core/blob/mast

[2015-04-20 14:37] PVince81 commented on #15580
Thanks for the info. I'll have a check with the debugger to see if the stream is getting the wrong filesize, that could confirm it.

[2015-04-20 14:39] PVince81 commented on #15580
With WebDAV:
[code]

with download.php:
[code]

780180 bytes is the correct file size of the original file.

Both seem to call stream_read with a count of 8192.

[2015-04-20 14:42] jknockaert commented on #15580
That looks pretty similar.

[2015-04-20 14:52] oparoz opened #15754 "Session cache crashes when browser sends invalid authorisation headers"
### Env
Master, PHP 5.5, memcache in config.php

### Steps to reproduce
1. Share a file
2. From the public page, which is authorised via a token, make a Jquery ajax requests to the public WebDAV endpoint, using the token as authorization
[code]

### Expected behaviour
The browser should get the file

### Actual behaviour
The browser receives an error page and oC crashes

It's possible to avoid the