[2016-03-14 13:50] oparoz commented on #22371
The main problem is that the dev VM needs to use the git channel. That disables code checking. So if that's done, then we're half way there.
The other half is about making sure that the standard VM uses daily, stable, etc., matching their download link. Code signing should automatically work there if the new files are downloaded from the ownCloud repos.
If that's also working as expected, then thi

[2016-03-14 13:52] LukasReschke commented on #23076
@DeepDiver1975 Any idea regarding above discussion? Basically if a cache key is somewhat longer it may explode anytime on some setups leading to unexpected behaviour :confused:

[2016-03-14 13:57] #23205 closed

[2016-03-14 14:03] #23076 closed

[2016-03-14 14:07] jnweiger commented on #23196
Redeployed packages into the mirrors. https://download.owncloud.org/download/repositories/8.2/owncloud/ now shows all with 8.2.3

The xUbuntu* are symbolic links to their normal Ubuntu* siblings. There is no more chance that they differ.

Thanks for the notice!

[2016-03-14 14:07] #23196 closed

[2016-03-14 14:09] nickvergessen commented on #14950
Could see 2 ways:

1. Set a limit that is sensible short and throw an exception for longer keys. (Just like memcached does for 250+chars)
2. Dynamically create 2 entries: key_(sha1) => real_key, value_(sha1) => real_value
or something like that. But it makes caching slower again since we always need to hit the cache twice?

[2016-03-14 14:10] MorrisJobke commented on #18910
I could reproduce this on stable8.2 from today:

* create a folder A
* share A with user1, user2 and user3
* create a folder A/B
* share A/B with user4 ("Shared in A with user1, user2, user3" appears in the sidebar below the share input field)
* share A/B with user5 (the text is expanded with ", user1, user2, user3")

Tested in IE11 and Firefox. Also after a reload it's the same.

After an upgrade

[2016-03-14 14:12] perohen commented on #23199
@PVince81

1. I downloaded https://raw.githubusercontent.com/owncloud/core/bc4a043a7645efe207e3f1208ac3dea41b056384/.htaccess and https://raw.githubusercontent.com/owncloud/core/bc4a043a7645efe207e3f1208ac3dea41b056384/lib/private/setup.php files
2. Then I overwrote the original ones in the owncloud-9.0.0.zip file that I downloaded from https://download.owncloud.org/community/owncloud-9.0.0.zip
3.

[2016-03-14 14:17] PVince81 commented on #21448
PR from @Xenopathic for 1) https://github.com/owncloud/core/pull/23204

[2016-03-14 14:19] oparoz commented on #23193
I don't understand the "steps to reproduce".

Users are on Files and press on an image to launch the slideshow?

@smirkybg - Are you also on PHP 7?

[2016-03-14 14:27] rullzer commented on #23197
PR in #23226 with the same fix @LukasReschke used.
Please test.

[2016-03-14 14:29] thejabok commented on #23178
@RealRancor, @oparoz, reopening this issue here because it seems to be a bug in core. The described problem occurs not only when trying to switch between file list view and gallery view, but also sporadically when trying to switch between admin page and apps page before Security & Setup Warnings have finished loading. Instead of apps administration page opening, admin page just reloads. Happy to p

[2016-03-14 14:30] SchroSct commented on #23182
I had tasks 0.9.0 and calendar 1.0.0 enabled.
When I disabled calendar 1.0.0 alone I did not get search back, when both tasks and calendar are disabled the search works.
If tasks is re-enabled then search fails again.

[2016-03-14 14:33] icewind1991 commented on #23001
"Invalid argument" (They are [error.h](http://www.virtsync.com/c-error-codes-include-errno) error codes)

[2016-03-14 14:35] rullzer commented on #23110
I can't reproduce this on 9.0
Bug was against 8.2.2 so I'll also tests there.

[2016-03-14 14:40] blizzz commented on #23203
@DeepDiver1975 but why does the client attempt to sync it, since 9.0?

[2016-03-14 14:41] oparoz commented on #23178
We've tried to pinpoint what exactly the problem is, but have been unsuccessful so far.

Some pre-conditions:

* Low powered hardware (Pi 2) or some high latency network perhaps?
* Switching away from the app while some AJAX requests are still being processed. I've noticed that if a notification shows up after I've tried to move away from Gallery, then my request gets cancelled. @thejabok has noti

[2016-03-14 14:43] DeepDiver1975 commented on #23203
That birthday_calendar was there before 9.0 - it should have been created on migration - see #23083

[2016-03-14 14:47] rullzer commented on #23110
Also on 8.2 it is all working here...

[2016-03-14 14:47] oparoz commented on #23197
There are still a couple of those in `core` should all of them be removed?

https://github.com/owncloud/core/search?utf8=%E2%9C%93&q=Util%3A%3AlinkToAbsolute

[2016-03-14 14:47] rullzer commented on #23110
@wolfo is still still happening on 8.2.3?

[2016-03-14 14:49] rullzer commented on #23110
@wolfo can you also post the output of the query:

[code]

[2016-03-14 14:53] blizzz commented on #23138
The base setting on the first tab (Server) is the general Base DN. From this, specific bases for both Users and Groups are derived. Subsequently you can change those only on the "Advanced Tab", "Director Settings" section https://doc.owncloud.org/server/9.0/admin_manual/configuration_user/user_auth_ldap.html#directory-settings

Or via command line, which you did.

Might be confusing at first glanc

[2016-03-14 14:53] #23138 closed

[2016-03-14 14:54] icewind1991 commented on #20944
No longer an issue with 9.0 propagation

[2016-03-14 14:54] #20944 closed

[2016-03-14 14:54] myjar commented on #23177
Ok, I have run the upgrade, and nothing new was broken.

However the files that are reporting 0kb are still there and give a 403 forbidden when attempted to download them.

here is an example from the oc_filecache for one of the documents in question:

(9074,18,'files/AD/INTERNATIONAL/MYJAR Spain/Aemip/Aemip Code of Conduct.docx','10f0f18aaa037b7688d1775599220f46',8966,'Aemip Code of Conduct.docx'

[2016-03-14 14:55] myjar commented on #23177
and I have run files:scan --all and it made no difference

[2016-03-14 14:58] rullzer commented on #23049
@atroxix are there any entries in your oc_share_external table?

[2016-03-14 14:58] PVince81 commented on #23177
Which one is the "encrypted" flag ? Can you set `.headers on` ?

[2016-03-14 15:00] icewind1991 commented on #23019
Not sure and google doesn't seem to help there either

[2016-03-14 15:01] PVince81 commented on #23078
@mmaedler https://github.com/owncloud/core/wiki/Maintenance-and-Release-Schedule

[2016-03-14 15:02] oparoz commented on #23200
Yes.

[2016-03-14 15:05] myjar commented on #23177
[oc_filecache export.csv.zip](https://github.com/owncloud/core/files/172197/oc_filecache.export.csv.zip)

[2016-03-14 15:05] PVince81 commented on #23200
Possibly expansion for "Yes.":
1) Yes, it works with this PR
2) Yes, I'll test it

:wink:

[2016-03-14 15:06] MorrisJobke opened #23227 "files:scan not available in maintenance mode"
- enable maintenance mode
- run `./occ files:scan`
- actual: command is not available
- expected: files:scan runs

ownCloud 8.2.2

noticed together with @msrex

This is because only some apps are loaded in maintenance mode. Could the files app be added to the list of apps that are loaded? cc @DeepDiver1975 @LukasReschke

[2016-03-14 15:07] rullzer commented on #23168
Yes. https://groups.google.com/d/msg/sabredav-discuss/9JxxSr7mGBY/gEM52ghVCgAJ

[2016-03-14 15:07] oparoz commented on #23200
Yeah, sorry ;)

So, it's still failing, but so far, it's only been missing one file (that's maybe because it's happening very fast on localhost)

When dropping files on the breadcrumb, I always get all of them, but sometimes when entering the parent folder I get a blank page until the upload process is completed.

[2016-03-14 15:07] PVince81 commented on #23177
Hmm, for some reason the size in oc_filecache is set to 0. Try manually setting it to -1, then download the file twice. This should trigger the size-fixing code.

[2016-03-14 15:08] #23132 closed

[2016-03-14 15:10] PVince81 commented on #23200
It could also be a bit of a race condition. Maybe at the time the folder is being switched, the value of the current folder wasn't set yet, so when the event "file has finished uploaded" comes, the directory comparison still thinks we're in the old folder. Just guessing.

[2016-03-14 15:10] nickvergessen commented on #23212
Stacktrace:
[code]

The funny thing is, it fails with Files\NotFoundException, although we are in the hook, that created the file...

[2016-03-14 15:10] atroxix commented on #23049
Yes, that one bogus entry from the other server which I don't have access to anymore. Can I just delete that entry there?

[2016-03-14 15:11] #23136 closed

[2016-03-14 15:12] MorrisJobke opened #23228 "Upload files with mtime in the far future crashes request and file scan"
- having a file with a mtime in 2106 (yes - that was the mtime)
- upload this via ownCloud client
- the client transfers the mtime in ISO8601 I guess
- the file is properly placed in the data dir with the correct (2106) time stamp
- insert into file cache fails and all subsequent files:scans also throw errors like this:

[code]

cc @DeepDiver1975 @nickvergessen @PVince81

Workaround: run a `touch

[2016-03-14 15:12] MorrisJobke commented on #23228
also noticed together with @msrex

[2016-03-14 15:13] PVince81 commented on #23228
We gotta be ready for the FUTURE!

[2016-03-14 15:14] oparoz commented on #23200
Just also had the one missing file when dropping on the breadcrumb. I'm using 38 files now.
I also see the empty page sometimes when entering the folder and it refreshes at the end.

I would say the bug is fixed by the PR, because the view refreshes at the end of the process, but now someone needs to figure out why it's missing a file at times...

[2016-03-14 15:15] PVince81 commented on #23200
Yeah, let's keep this ticket open to look into the race condition / add more race condition safety.

[2016-03-14 15:16] rullzer commented on #23092
Can't reproduce this...

@aspdye can you post the network console when you reload the page... and the specifically calls to the OCS Share API?

[2016-03-14 15:16] myjar commented on #23177
tried, and still no dice

[2016-03-14 15:17] rullzer commented on #23158
Yes but I don't see how that would break all of a sudden.

@sbryf can you fill out the whole issue template?

[2016-03-14 15:18] rullzer commented on #23049
yes you can

[2016-03-14 15:18] PVince81 commented on #23177
Did the size stay -1 in the database ? Does the file on-disk inside the "data" folder has a size > 0 ?

[2016-03-14 15:20] atroxix commented on #23049
Web UI started listing my files much faster now. But shares are still not listed.

[2016-03-14 15:21] myjar commented on #23177
In the DB they are still -1 in size

This file in question is actually seen on the server as:

-rw-r--r--  1 www-data www-data 184492 Jan 22 12:14 Aemip Code of Conduct.docx

[2016-03-14 15:22] PVince81 commented on #23177
Ok, then try setting the size in the DB to 184492 and download it **twice** in the web UI.

[2016-03-14 15:23] PVince81 commented on #23177
also the question is whether this file is really encrypted. You can try opening the file directly inside the "data" folder. If the beginning of the file starts with "HBEGIN" then it's encrypted.

[2016-03-14 15:24] KuroNeko-san commented on #23220
@LukasReschke I'm using php-memcache instead of php-memcache**d**
This patch not for me, i think.
[code]

[2016-03-14 15:25] startaq opened #23232 "occ dav:sync-birthday-calendar fails for old people (tries to insert negative timestamps)"
### Steps to reproduce
1. occ dav:sync-birthday-calendar $USER
2.
3.

### Expected behaviour
Sync birthday calendars.

### Actual behaviour
SQL Error: "SQLSTATE[22003]: Numeric value out of range: 1264 Out of range value for column 'firstoccurence' at row 1"

The birthday is 1952-08-07 and it tries to insert the value "-549158400".

### Server configuration
**Operating system**: Debian Jessie

**W

[2016-03-14 15:25] nickvergessen commented on #23228
2038+ int limit...

Being ready means transform the column either to bigint or date. A changing a column (or two since storage_mtime and mtime suffer from it) is going to kill the update...

[2016-03-14 15:25] myjar commented on #23177
still 403 forbidden and 0kb

[2016-03-14 15:26] rullzer commented on #23049
Mmm somehow I missed this. More questions:

1. Which share are you actually seeing?
2. Are there any errors in your javascript log (since the share dialog does not open).

[2016-03-14 15:27] mikel392 commented on #23217
rewrite base is already enabled in the .htaccess file, doesn't work for me

[2016-03-14 15:28] oparoz commented on #23200
I can't even read my own instructions properly... I was doing a MOVE... :tired_face:

So doing a move I saw a new bug. Without leaving the current folder, 2 pictures got stuck in the current one after I dropped everything on the breadcrumb... Maybe that's the ones which don't make it to the other side at times.

Now on to this issue...

Yes, the PR fixes the issue. I switched to the new folder and

[2016-03-14 15:28] PVince81 commented on #23177
I'm out of ideas now, sorry. You need to find more information about why you're getting 403.
Try setting "loglevel" to 0 and check owncloud.log, Apache's /var/log/apache2/error_log

Is the file really encrypted ?

[2016-03-14 15:29] myjar commented on #23177
File is encrypted, just checked and it indeed begins with HBEGIN

[2016-03-14 15:30] atroxix commented on #23049
There is the following JS error:

I see only one folder I've shared with one other user. And one folder from that user shared with me.

[2016-03-14 15:31] LukasReschke commented on #23232
Dupe of https://github.com/owncloud/core/issues/23004. Fix should also be linked there :)

[2016-03-14 15:31] #23232 closed

[2016-03-14 15:34] myjar commented on #23177
{"reqId":"8cI7PTHLxs5k3ldOZX6v","remoteAddr":"90.190.149.165","app":"no app in context","message":"Exception: {\"Exception\":\"OC\\\\Encryption\\\\Exceptions\\\\DecryptionFailedException\",\"Message\":\"Can not decrypt this file, probably this is a shared file. Please ask the file owner to reshare the file with you.\",\"Code\":0,\"Trace\":\"#0 \\\/var\\\/www\\\/owncloud\\\/lib\\\/private\\\/files\

[2016-03-14 15:35] rullzer commented on #23049
In which directory are you?

[2016-03-14 15:36] PVince81 commented on #23057
In my setup, the share is on "http://localhost/owncloudtest" shared with "http://localhost/owncloud", both are 9.0.0.

In the web UI, the MOVE went through, no error.

Maybe related to the 8.1 version ? Which 8.1.x version is it ?

[2016-03-14 15:39] oparoz commented on #23057
8.1.5

[2016-03-14 15:39] PVince81 commented on #23177
Okay, can you check the encryption keys ? Post the contents of "data/$user/files_encryption/keys/files/$path_to_file/OC_DEFAULT_MODULE/". There should be a "fileKey" and a share key with the name of the owner.

[2016-03-14 15:41] blizzz commented on #23203
@DeepDiver1975 Yes indeed. But it was not returning 404, but 207s.

[2016-03-14 15:43] myjar commented on #23177
No keys exist for this file

[2016-03-14 15:45] oparoz commented on #23057
This is what I see on the 8.1 server after the rename

* A few `HTTP\/1.1 404 File with name .nomedia could not be located`
* `Call to a member function get() on null at /apps/files_sharing/lib/updater.php#74

[2016-03-14 15:46] PVince81 commented on #23057
My steps:

1. Setup OC 9.0 (OC_A)
1. Setup OC 8.1.5 (OC_B)
1. Login in OC_B
1. Create a folder called "a share"
1. Share "a share" with admin@OC_A
1. Go to OC_A
1. Accept the share
1. Enter the "a share" folder
1. Create a text file with the name ".media"
1. Leave it empty, close the editor
1. Rename ".media" to ".nomedia"

AHA, now it happens. Let's check the logs in 8.1.5.

@oparoz mind testing

[2016-03-14 15:46] myjar commented on #23177
I have a backup from 4 days ago that does contain the keys, am I able to copy these across?

[2016-03-14 15:48] eburghar commented on #22988
Exactly the same issues for me after a migration from 8.2.2 to 9.0. I have ldap users all lowercase.

Contact page is slow, so I guess webdav clients should be slow as AFAIK js web client is also using webdav.

[2016-03-14 15:50] PVince81 commented on #23057
OC_A:
[code]

OC_B:
[code]

A lot of 404 on OC_B, not sure why.

Let's try again with a "normal" file name.

[2016-03-14 15:50] oparoz commented on #23057
Same problem on 8.2

[2016-03-14 15:51] PVince81 commented on #23057
Renaming "test.txt" to "test2.txt" also doesn't work against 8.1.5... Hmmm...

@oparoz 8.2.3 ?

[2016-03-14 15:53] PVince81 commented on #23177
That should work, yes

[2016-03-14 15:53] oparoz commented on #23057
@PVince81 , No, 8.2.2 and no problem on stable9, so that's good :)

[2016-03-14 15:55] PVince81 commented on #23057
Rename of "test.txt" to "test2.txt" also fails against 8.1.6... Dammit.

[2016-03-14 15:55] myjar commented on #23177
Ok, copied the backup across, and I no longer get the 403 forbidden error, but files that are showing as 0kb are still 0kb after attempting to download twice

[2016-03-14 15:57] oparoz commented on #23057
Looks like Share 2.0 had more benefits than expected if it fixed this behaviour :).

[2016-03-14 15:57] daalja commented on #22988
I tried several caldav configurations. E.g. OC9 told me to use `https://example.com/subfolder/remote.php/dav/addressbooks/users/username/kontakte/` in contacts settings.

But only using this url I was successfully (OSX 10.11):
`carddavs://example.com/subfolder/remote.php/dav/`

Source: https://github.com/owncloud/documentation/blob/master/user_manual/pim/contacts.rst#synchronizing-with-android

[2016-03-14 15:57] wolfo commented on #23110
@rullzer
I didn't have a chance to upgrade to 8.2.3. I will try it on a clone tomorrow and report the results.

Output of `SELECT * FROM oc_appconfig WHERE configkey LIKE 'shareapi_%';`
[code]

[2016-03-14 15:58] PVince81 commented on #23057
And, also broken against 8.2.3. No surprise.

I don't think it's related to Share 2.0 as it doesn't touch the DAV-related part. Will have to do some debugging there.

[2016-03-14 15:58] PVince81 commented on #23177
Now try again setting their size to -1 and download twice.

By the way, I'm assuming that you're on 8.2.3 now.

[2016-03-14 15:59] oparoz commented on #23057
I was thinking about the new ShareManager, but maybe I'm mistaken.

[2016-03-14 15:59] PVince81 commented on #23057
Could also be a Sabre thing... 9.0 has Sabre 3.0 but older version have 2.1

[2016-03-14 16:00] oparoz commented on #23057
Ah, maybe... That would be tough to fix...

[2016-03-14 16:00] derekblankmccoy commented on #13158
Im thinking of putting a bounty on this.

Just as a recap:
ownCloud Community Edition, not Enterprise.
I share an important memo with my team of 10 people.
I want to be able to see who has/hasn't downloaded it.

As for interface, maybe a button can be added to the share drop down for that file, next to the trash can. pressing it can bring a popup box with everyone's name in the group and a timesta

[2016-03-14 16:00] myjar commented on #23177
Correct on 8.2.3

will set to -1 and attempt again

[2016-03-14 16:01] mmattel commented on #23219
Seems that not only calendar has/had its challenges with:
https://github.com/owncloud/tasks/issues/290
https://github.com/owncloud/music/issues/434
(maybe more)

A exclusion based on "tagging" the App would really help (if possible of course)...

[2016-03-14 16:01] PVince81 commented on #23057
The part I'm wondering about is whether renaming inside fed shares ever worked before...

[2016-03-14 16:03] wolfo commented on #23110
Specifically, it's set to expire in 7 days: [imgur](http://imgur.com/a/SCorc)

[2016-03-14 16:09] PVince81 commented on #23057
I debugged as far as `View::rename()` and it jumped out when triggering the post_rename hook.

[2016-03-14 16:10] MorrisJobke commented on #23134
https://github.com/owncloud/core/pull/23225 was merged

[2016-03-14 16:10] #23134 closed

[2016-03-14 16:11] PVince81 commented on #23057
Ok, got further... something call `moveShareToShare`, possibly related to this:
[code]

Digging further...

[2016-03-14 16:11] myjar commented on #23177
still download as zero kb

is there a way to scan the folders and update the DB with the actual unencrypted size?

[2016-03-14 16:13] enoch85 commented on #22977
@esphen As I don't seem to be able to reproduce this anymore, could you please help us debug this?

[2016-03-14 16:13] PVince81 commented on #23057
Ok got it:
https://github.com/owncloud/core/blob/v8.2.3/apps/files_sharing/lib/updater.php#L75

`$userFolder` is null, possibly because there is no user in the session...

[2016-03-14 16:16] MorrisJobke commented on #23043
I asked :)

[2016-03-14 16:16] PVince81 commented on #23177
No, because for that you need the user's passwords to decrypt the files.
Setting the size to -1 is the mechanism that is supposed to tell it to fix the size during the next download. Reference https://github.com/owncloud/core/pull/22579 (https://github.com/owncloud/core/pull/22579/files#diff-a36b9c0307e0126dd50baa38fb4bb74aR463)

@myjar do you still get the 403 error ?

[2016-03-14 16:17] MorrisJobke commented on #23228
Sure, but just crashing because of this ancient time format is kind of *meh*.

[2016-03-14 16:18] enoch85 commented on #22371
@oparoz I (Tech and Me) don't provide a dev VM anymore if that's what you mean? I will rewrite the bash code completely some day per our discussion on IRC some weeks ago, using git and with more loose permissions and such.

I wasn't aware of that the official VM was existing as a dev VM as well?

[2016-03-14 16:19] myjar commented on #23177
We no longer get the 403 error, files will download but with zero kb file size.

As for users Passwords, I have them for the affected users.

[2016-03-14 16:19] PVince81 commented on #23228
Yeah, should probably handle errors better and then rollback the data when needed.

[2016-03-14 16:21] PVince81 commented on #23177
There is no mechanism so far to repair encrypted files for specific users unfortunately.
If setting the size to -1 and download the files twice doesn't work, then there must be something else hanging there.

Nothing new in the logs ?

[2016-03-14 16:24] myjar commented on #23177
Downloading any of these files gives nothing in the logs :(

[2016-03-14 16:25] esphen commented on #22977
@enoch85

Sure,

I've had a look at the logs in both FF and Chrome, which both are looping, and this is what I'm seeing:

Both browsers are looping while logging `Mixed Content: The page at 'https://xxx/settings/admin' was loaded over HTTPS, but requested an insecure XMLHttpRequest endpoint 'http://xxx/apps/files/'. This request has been blocked; the content must be served over HTTPS.`
`Navigated

[2016-03-14 16:25] PVince81 commented on #23177
You could try adding logging statements here:
https://github.com/owncloud/core/pull/22579/files#diff-a36b9c0307e0126dd50baa38fb4bb74aR462
[code]

And then here https://github.com/owncloud/core/pull/22579/files#diff-a36b9c0307e0126dd50baa38fb4bb74aR494 add:
[code]

Goal is to find out what is different in your situation compared to the expected one.

[2016-03-14 16:26] PVince81 commented on #23177
@schiesbn looks like the size repair routine doesn't work here for some reason

[2016-03-14 16:27] PVince81 commented on #23057
Duplicate of https://github.com/owncloud/core/issues/21678

Will request a backport there

[2016-03-14 16:27] #23057 closed

[2016-03-14 16:27] oparoz commented on #22371
It doesn't, I was referring to your work.
The remaining problem is purely process related then. If people want to start using git from an official VM in order to test different branches per example, then they need to make sure they switch to git first in the admin panel.

The problem is that we can't really document this because the official VM doesn't work as-is for development work, yet.

[2016-03-14 16:28] PVince81 commented on #23057
Need to backport https://github.com/owncloud/core/pull/22159

[2016-03-14 16:32] myjar commented on #23177
{"reqId":"ny9\/wPXErLkaJFV7sL6Y","remoteAddr":"90.190.149.165","app":"DEBUG","message":"must repair file path=files\/Application\/MYJAR Limited\/Approved persons applications\/Andrew Dellow\/Draft forms\/AuPo_IndvDetailsPDF.pdf unencryptedSize=0","level":0,"time":"2016-03-14T16:32:47+00:00","method":"PUT","url":"\/remote.php\/webdav\/Application\/MYJAR%20Limited\/Approved%20persons%20applications\

[2016-03-14 16:33] oparoz commented on #23057
Well done.

What about the 2nd part of the problem? The system should not become unstable because something bad is happening on federated share.
I've seen some work which handles the case of an invalid share, but in this case, it isn't invalid, just unavailable for some reason.

[2016-03-14 16:33] myjar commented on #23177
ignore the above:

This is from clicking on a zero kb file:

{"reqId":"W\/CCC+vTY3rE9Xt6OGHi","remoteAddr":"90.190.149.165","app":"DEBUG","message":"must repair file path=files\/AD\/INTERNATIONAL\/NPSDaily.xls unencryptedSize=0","level":0,"time":"2016-03-14T16:33:53+00:00","method":"GET","url":"\/index.php\/apps\/files\/ajax\/download.php?dir=%2FAD%2FINTERNATIONAL&files=NPSDaily.xls"}

[2016-03-14 16:34] PVince81 commented on #23177
Okay, maybe there was a misunderstanding. Please set the **size** column to -1.
Please ignore the `unencrypted_size` column in the database.

[2016-03-14 16:35] PVince81 commented on #23057
The system with the outgoing share became bad because not all post rename hooks could be run, so metadata could not be moved over, etc.

[2016-03-14 16:37] oparoz commented on #23057
Yes, and there can be many reasons a remote server can break, but it shouldn't have such a large impact on the receiving end.

[2016-03-14 16:38] myjar commented on #23177
AH! Now it looks like we are getting files, ones not downloaded are marked as pending on the size

You guys are life savers!

[2016-03-14 16:40] PVince81 commented on #23057
I'm not sure how the receiving end could handle a remote ownCloud not behaving properly as that one would need a way to detect that something is wrong.

The only part that is actually correct is this:
[code]

This is correct because an error was detected on the remote storage so it marks it as unavailable.

If you refresh the page it should kick you out of the folder. Maybe you were still inside t

[2016-03-14 16:41] PVince81 commented on #23177
Yeah... I forgot that there was this old unused `unencrypted_size`... very easy to create misunderstandings.

[2016-03-14 16:42] myjar commented on #23177
No worries, I owe you a beer or 2 :)

[2016-03-14 16:43] PVince81 commented on #23177
One question is: how did you get into this situation in the first place ? Did you try restoring files from backup ?

[2016-03-14 16:45] myjar commented on #23177
I restored from a backup, but I have a feeling I failed to shutdown the web server and this user performed some sync, either way, it got totally screwed up.

Seems resolved now tho. Many many thanks

[2016-03-14 16:47] PVince81 commented on #23177
Okay, cool. I'll close this then.

[2016-03-14 16:47] #23177 closed

[2016-03-14 16:55] PVince81 commented on #22987
Here is @oparoz's ticket https://github.com/owncloud/core/issues/23057 and is not related to this issue.

@atroxix @LukasReschke if the responsiveness problem is solved, can we close this ticket ?

If needed, the discussion about the client redownloading after timeout should be discussed in a separate ticket. Thanks.

[2016-03-14 16:56] Marcwa19197 commented on #22988
i have slow connection from an android app called "ES file explorer".. after a apache2 restart everything works fast as it should be.. but after 5 minutes its slow as hell again..

[2016-03-14 16:57] TheBR commented on #23212
I also have this issue when uploading from the android app.
Seems to be intermittent, a picture will upload but then the next one wont...

`{"reqId":"s+o0et8jrPPB5DJ7q45p","remoteAddr":"192.168.0.1","app":"webdav","message":"Exception: {\"Message\":\"HTTP\\\/1.1 404 File with name Pictures\\\/Phone\\\/IMG_20160313_215526.jpg could not be located\",\"Exception\":\"Sabre\\\\DAV\\\\Exception\\\\NotFo

[2016-03-14 16:59] rotfussl opened #23238 "Failure during upgrade to 9.0"
### Steps to reproduce

The upgrade process via Ubuntu-Package to 9.0 failed with the following message in the web interface:

Doctrine\DBAL\Exception\TableExistsException: An exception occurred while executing 'CREATE TABLE `oc_notifications` (`notification_id` INT AUTO_INCREMENT NOT NULL, `app` VARCHAR(32) NOT NULL, `user` VARCHAR(64) NOT NULL, `timestamp` INT DEFAULT 0 NOT NULL, `object_type` V

[2016-03-14 17:00] oparoz commented on #23057
Refreshing the page doesn't kick me out.
I get 404, 500 and 503 depending on what I'm trying to do.

But you're right about `getstoragstats.php`. It sends a 503 when entering the folder.

I've tried this fix https://github.com/owncloud/core/pull/23039, but that doesn't work

[2016-03-14 17:01] oparoz commented on #22976
#23039 does not help in the case of #23057 23057

[2016-03-14 17:04] oparoz commented on #22976
wait, wait, wrong browser window...

[2016-03-14 17:05] enoch85 opened #23239 "Themes background don't stick with local images"
### Steps to reproduce
1. Upgrade from 8.2.2 to 9.0

### Expected behaviour
The themes background image should stay the same

### Actual behaviour
The themes background image are not used in the theme (visible) if it's local, but works with remote address.

http://pastebin.com/mNQDcfcP

### Server configuration
**Operating system**:
Ubuntu Server 14.04
**Web server:**
Apache 2.4
**Database:**
MySQ

[2016-03-14 17:10] oparoz commented on #22976
Yep, same thing. I can navigate through the broken share.

[2016-03-14 17:12] PVince81 opened #23241 "Make web UI more robust when a fed share just became unavailable"
See https://github.com/owncloud/core/issues/23057

Basically, while inside a federated share, if that share suddenyl becomes available, any ajax call should properly forward the 503 error to the JS code. Also, every code path in the JS code needs to somehow be able to detect 503 errors and find out that something is wrong.

Maybe adding 503 in the global ajax handler could help somehow, but instea

[2016-03-14 17:12] PVince81 commented on #23057
I think https://github.com/owncloud/core/pull/23039 isn't related because the share isn't technically invalid. It's just unavailable.

You're right that the web UI's code isn't handling errors from the server very well. The trouble is that every ajax call goes through a different code path. So unless we're calling webdav and getting a clear 503, it will be difficult to make all code paths to prope

[2016-03-14 17:17] oparoz commented on #23111
*  Cyclic shares: OK, can lead to an infinite loop, but surely, it must be possible to identify that the sharee is the same as the original owner
* Explicit order required for share initialisation: Not sure I understand what the problem is here, so I'll have to trust you :)
* Permissions: I can see how that can increase the complexity of the system as you would have to track permissions of shares

[2016-03-14 17:20] PVince81 commented on #22976
@icewind1991 @LukasReschke any progress on the root issue ?

[2016-03-14 17:21] eburghar commented on #22988
I managed to have access to the vcards with a webdav client (dolphin) with the following url:

webdavs://USERNAME@SERVER/remote.php/dav/addressbooks/users/LDAPUID/ADDRESSBOOKNAME/

So I guess there's something wrong with username mapping

[2016-03-14 17:24] PVince81 commented on #23052
Orphan shares should usually be cleant up by cron. If they don't, then they're likely not 100% orphaned and something is still connected somewhere.

[2016-03-14 17:27] PVince81 commented on #22976
Can we simulate what happens with non-matching LDAP users as per https://github.com/owncloud/core/issues/22976#issuecomment-194297795 ? @icewind1991 @blizzz

[2016-03-14 17:28] PVince81 commented on #23052
@olerichter please do these:
- `select * from oc_share where file_source=34489`
- `select * from oc_filecache where fileid=34489`
- `select * from oc_storages where numeric_id=$storage`, replace $storage with the value of the `storage` column from the previous result.

[2016-03-14 17:29] RealRancor commented on #23238
Duplicate of https://github.com/owncloud/core/issues/23194

[2016-03-14 17:33] PVince81 commented on #22975
Retry with the fix from https://github.com/owncloud/core/issues/22973 ?

[2016-03-14 17:42] jzdm commented on #22993
I get a similar error. The system is a FreeBSD 9.3 with latest PHP 5.6 and MySQL 5.6.
To upgrade i use `portmaster owncloud`, to upgrade from 8.2.2.2 to 9.0.0.
Even after disabling the "notifications" App i get an error. But for me it's the "__oc_addressbooks__" table which already exists and __is not empty__. So i can't drop this one.

[2016-03-14 17:43] hengels7 commented on #23153
Yes, there was a share involved! The recursive directory containment was:

doering.max10443/files/Photos/Klassenfahrt Gardasee Canyoning
/frank.van9545/frank.van9545/frank.van9545/frank.van9545/frank.van9545/frank.van9545/frank.van9545/frank.van9545/...
and so on

.. looks as if frank.van9545 shared her top level directory to
doering.max10443 !?

On Mon, Mar 14, 2016 at 2:18 PM, Vincent Petry <not

[2016-03-14 17:54] VicDeo commented on #22747
@MorrisJobke It's my own recipe but something that I found online. This should be measured to say for sure. The main reason is a lack of a temporary table I guess.

[2016-03-14 17:56] enoch85 commented on #22371
Ok, so as I decided not to provide the dev VM anymore, then this isn't an issue. Right?

Per your request (or wish) I will make a new one when I find the time with your help (and/or @jnweiger) as I'm not a git pro, yet ;)

[2016-03-14 18:00] VicDeo commented on #22747
A planned workaround is asking user to run `ALTER TABLE`  query on his own in case database platform is MySQL/Postrge and number of entries in  `filecache`  table exceeds a certain threshold.

[2016-03-14 18:03] oparoz commented on #22371
Something to do during a virtual hackaton :)

[2016-03-14 18:03] #22371 closed

[2016-03-14 18:06] Larx commented on #23206
![screenshot_20160314_190247](https://cloud.githubusercontent.com/assets/3582007/13754512/96b40f58-ea17-11e5-85ce-2b9473039e13.png)
I simply took a phpMyAdmin screenshot as I didn't know how to post those entries best. There are lots of lines like that in my oc_appconfig table, some are real old, others quite new.

[2016-03-14 18:08] Larx commented on #23206
I just looked at oc_storages. That's really a mess! It contains really old entries, lots of them.

[2016-03-14 18:12] enoch85 commented on #22371
@all Feel free to contribute as the code is on GitHub: https://github.com/enoch85/ownCloud-VM/tree/master/beta/dev

[2016-03-14 18:20] rullzer commented on #23110
Even with those same settings it is working just fine here.
Please try the upgrade to 8.2.3... Lets see if that fixes it...

[2016-03-14 18:46] arjanvs opened #23242 "Antivirus app disappeared from app list in owncloud 9.0"
Perhaps this is redundant with:
- https://github.com/owncloud/files_antivirus/issues/95

### Steps to reproduce
1. Install owncloud 9.0
2. Check webinterface apps

### Expected behaviour
Expected to see antivirus to link with clamav

### Actual behaviour
Nothing there, hence no virus protection

### Server configuration
GNU/linux Debian 8.0

[2016-03-14 19:00] rullzer commented on #23049
@atroxix ok so basically the `&path=%2Fnull` part is weird. Which suggests that https://github.com/owncloud/core/blob/master/core/js/share.js#L57 is nul... which is something I don't get.

@PVince81 any idea here?

[2016-03-14 19:25] samuelstein commented on #22968
the problem is that i only have a shared webspace where i don't have root access.
my other idea was removing the problematic too long indices (principaluri) but then i got 500 error and in the logfile lots of migration errors because of missing indices.
for now i restore latest owncloud 8 release.
sad that the update is always such a horror.

[2016-03-14 19:38] insertjokehere commented on #23132
I can confirm that applying to diff in 9190885b4e0bdcec4c7f3fafd3f0eb2dd727c716 lets me complete the upgrade. Obviously the integrety check is giving a warning for lib/private/memcache/memcached.php, but I can live with that until 9.0.1 is released. Thanks @nickvergessen!

[2016-03-14 19:40] tomghyselinck commented on #22988
Hi guys,
I have been following this thread and I did some further debugging.
The actual issue is:
1. really related to LDAP user accounts
2. probably due to a mismatch between the searched principal and the
actual stored/available principal.
- Whether I use the mapped LDAP uid or the actual username does not
matter: it is always mapped to the actual username.
- I hardcoded the LDAP UID in the Abst

[2016-03-14 20:06] RealRancor commented on #23242
@arjanvs https://apps.owncloud.com/content/show.php/Antivirus?content=157439 shows you that files_antivirus is not marked as compatible with oC9

[2016-03-14 20:16] juergenhelmus opened #23244 "Update to 9.0.0 failed"
### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tried to update owncloud to 9.0.0 from 8

### Actual behaviour
Update to 9.0.0 failed

Error message is:
Doctrine\DBAL\Exception\TableExistsException: An exception occurred while executing 'CREATE TABLE "oc_trusted_servers" ("id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT, "url" VARCHAR(512) NOT NULL, "url_hash" VARCHAR(255) DEFAULT '' NOT NU

[2016-03-14 20:22] MTRichards commented on #21448
@MorrisJobke Thanks for the explanation.

While we need testing for 1), great to see the PR @Xenopathic .

@cmonteroluque When it has time to be run through its paces, we can then claim victory and roll it in to the next release that makes sense. By default, 9.1 makes the most sense.

[2016-03-14 20:32] jzdm commented on #23244
Duplicate of #22993

[2016-03-14 20:34] aronovgj commented on #23062
I used `owncloud_8.2.3.orig.tar.gz ` to manually extract it to `/var/www/owncloud`.

Is that not ok?

[2016-03-14 20:35] tomghyselinck commented on #22988
Seems to be caused by the last step:
[code]

Something being translated differently when checking privileges?

[2016-03-14 20:39] fbartels commented on #23184
Hi,

thanks for looking into this.

I undid the manual workaround and applied the patch from #22901. problem still exists afterwards.

[2016-03-14 20:44] AndreasBilke opened #23245 "cron.php does not honor config_is_read_only"
### Steps to reproduce
1. set `config_is_read_only = true` in config.php
2. `chown -R root:www-data config/`
3. run `php -f <fqpn>/cron.php` as www-data user
### Expected behaviour

cron script should run without problems.
### Actual behaviour
1. cron script does only print error message but does not use error exit codes (it returns 0)
2. cron script print (and execute nothing):

[code]

But runni

[2016-03-14 20:47] arjanvs commented on #23242
@RealRancor if you are going by the book, you are correct

Nevertheless, according to documentation:
- https://doc.owncloud.org/server/9.0/admin_manual/configuration_server/antivirus_configuration.html

This should work.

Depending on the view of owncloud project concerning IT-security, the following solutions are possible:
- If antivirus is important, it would be benificial to fix the antivirus a

[2016-03-14 20:51] RealRancor commented on #23242
This should be reported here: https://github.com/owncloud/files_antivirus/issues/

This should be reported here: https://github.com/owncloud/documentation/issues

[2016-03-14 21:04] atroxix commented on #22987
Yes, this problem is solved for me.

[2016-03-14 21:04] #22987 closed

[2016-03-14 21:07] arjanvs commented on #23242
Nevertheless, I think a decision should be taken about the importance of antivirus. Definitely if a major release is about to be released.

[2016-03-14 21:23] atroxix commented on #23049
The thing is that there is this one folder that the other user has shared with me. I have then shared one subfolder from there by link. I see this subfolder from under "Shared with others" and under "Shared by link". The former doesn't actually make sense (and I don't see it being true from the Sharing dialog) because I have only 2 users in that OwnCloud, so sharing it back to the same user doesn'

[2016-03-14 22:09] kaksikanaa commented on #22988
I can also confirm that after OC upgrade 8.2 -> 9.0 calendar, tasks and contacts shows up on the web interfaces just ok for every user but syncing with webdav/carddav clients  (iOS and EmClient) do not work for the old users. If I create a new user everything works  out-of-the-box, also syncing. All users are regular users in this case.

[2016-03-14 22:32] VicDeo commented on #23242
Published
https://apps.owncloud.com/content/show.php/Antivirus?content=157439
https://github.com/owncloud/files_antivirus/releases/tag/stable9-0.8.0.1

[2016-03-14 22:32] #23242 closed

[2016-03-14 22:35] thefirstofthe300 commented on #20481
I too am experiencing this issue on OC 9. I am attempting to upload a music library to ownCloud so I have a lot of little files being synced.  If you need any more logs, I will happily provide them.

[2016-03-14 23:07] nebulade commented on #23213
We are seeing a similar issue, maybe related but in LDAP code:

[code]

If I understand #22563 correctly, can this be ignored for now? I am also using oC 9.0 but with mysql

[2016-03-14 23:13] tflidd commented on #106
There is a new client-side transparent encryption solution (open source): https://cryptomator.org/
It should be possible to use this on top of owncloud.

[2016-03-15 00:12] qwertymodo opened #23246 "Viewing the Admin page modifies external mount points"
### Steps to reproduce
1. Create an external mount point to a user's files root using occ files_external:import /path/to/mount.json on the mount.json file below
2. Open the Admin page in the Web GUI

mount.json:

---

[code]

---
### Expected behaviour

Files should remain mounted as configured
### Actual behaviour

The mount works properly until the Admin page is opened.  When you open the Admin

[2016-03-15 06:38] HelFANS commented on #22993
I have deleted the empty table 'oc_gallery_sharing', then the update runs successfully.

[2016-03-15 06:50] rullzer commented on #23049
I still don't get those 404's. Those imply that the path passed is invalid. Which is very strange... because the only place that can happen is at https://github.com/owncloud/core/blob/master/apps/files_sharing/api/share20ocs.php#L434.

[2016-03-15 06:51] rullzer commented on #23049
Can you run the followin query?

[code]

[2016-03-15 07:36] TheReal1604 opened #23248 "LDAP Login via apps after upgrade to 9.0.0 not working"
### Steps to reproduce
1. Upgrade OC 8.2.2 Instance to 9.0.0 with LDAP Plugin working and enabled
2. Enable owncloud news / owncloud apps
3. -> Sign on with LDAP credentials not working anymore via owncloud iphone app or cloudnews app

### Expected behaviour
Sign on with ldap credentials is working.

### Actual behaviour
"Error 401 Unauthorized" (CloudNews), Owncloud iOS App -> "Could not connect

[2016-03-15 07:56] MorrisJobke commented on #23228
Or then does a hard cut on the timestamp and store it as "now".

[2016-03-15 08:00] MorrisJobke commented on #22747
How does this speed up the process? What is this threshold?

[2016-03-15 08:19] fengkaijia commented on #23174
I finally solved this issue by updating the nginx configuration file to [the latest official version](https://doc.owncloud.org/server/9.0/admin_manual/installation/nginx_configuration.html).

It appears my old nginx configuration (could be date back to ownCloud 7.0 or 6.0) has some conflict with the latest code, and somehow I didn't update the nginx configuration when upgrading to 8.0 and 9.0.

I

[2016-03-15 08:20] #23174 closed

[2016-03-15 08:26] rullzer commented on #23049
Ah try:

[code]

[2016-03-15 08:31] atroxix commented on #23049
That's better :)

There's quite a bit of lines though. Are you interested in anything specific?

[2016-03-15 08:33] rullzer commented on #23049
Ah mmm it was to early. let me write the query i actually want..

[2016-03-15 08:34] rullzer commented on #23049
[code]

[2016-03-15 08:35] MorrisJobke commented on #23043
@nickvergessen:

[code]

[2016-03-15 08:37] atroxix commented on #23049
Still quite a bit of lines. Anything specific? :)

PS. You have my oc_share table dump still, I guess, so you could possibly be quite specific?

[2016-03-15 08:37] rullzer commented on #23049
How many lines? Since those are shares that have no 'file' associated with them...

[2016-03-15 08:38] atroxix commented on #23049
35 lines, both folder and file shares.

[2016-03-15 08:39] mmaedler commented on #23078
Thanks @PVince81! As I really want to get going on the new version and beginning of April still feels ages away, is there a way to update the file expected signature value to match the changes and prevent the notification from showing up?

[2016-03-15 08:41] rullzer commented on #23049
Ok so... 35 of your 37 shares are somehow invalid. I'm not sure how this happend all of a sudden. Since the share migration did not touch the file_source...

Basically you have all the shar entries. But are missing the part of where they point to...

@icewind1991 any idea why after the migration fileids might have changed?

[2016-03-15 08:42] nickvergessen commented on #23062
That seems to be the case. 8.2.3 does not have this problem. Therefor I'm closing this.

[2016-03-15 08:42] #23062 closed

[2016-03-15 08:46] Loki3000 commented on #23182
Same problem. The bug in lib/private/search.php
[code]
in some cases 'search' method returns null, so $results becomes null instead of array
[code]
as a result, client side gets null instead of valid json and hangs JS error "TypeError: e is null".

The solution is to replace in lib/private/search.php:69
[code]
after that search works fine.

[2016-03-15 08:48] nickvergessen commented on #22993
Well @jzdm the table is non-empty, when you successfully migrated your contacts app data to the new endpoint. However, as long as you don't delete the old contacts app table, you can do that again and again.

[2016-03-15 08:50] nickvergessen commented on #23043
Which does not match:
https://github.com/owncloud/core/issues/20555#issuecomment-157331571

[2016-03-15 08:51] nickvergessen commented on #23043
Closing since it's a duplicate?

[2016-03-15 08:55] LukasReschke commented on #23041
This part here was added as a security hardening to core. Specifically for https://owncloud.org/security/advisory/?id=oc-sa-2015-011.

The problem there was that if "null" was passed as root all files of the sharing user would be disclosed. Pretty uncool stuff. To avoid this kind of security bug we added this to core, which also allows us now to actually notice other bugs.

So in this case this is

[2016-03-15 08:59] LukasReschke commented on #23182
They should not return `null`. They should return an empty array as per the PHPDoc. If they return null then they are doing it wrong :wink:

[2016-03-15 09:09] PVince81 commented on #23153
@hengels7 can you find the fileid of that shared folder and then do `select * from oc_share where file_source=$fileid` ? Curious to see how this share came to be in the first place.

[2016-03-15 09:09] PVince81 commented on #23153
@rullzer we probably need to improve the "fix invalid shares" routine to also invalidate/ignore/delete shares that point to files outside of the user's "files" folder ?

[2016-03-15 09:13] nickvergessen commented on #21563
Did you create "user1" in that example?

[2016-03-15 09:14] PVince81 commented on #23110
Another thing to try: create the share in the web UI, then find the matching entry in `oc_share` and check the expiration date. Then download it once, check the DB again, then download again (the part that expires it). Please post your findings.

[2016-03-15 09:20] PVince81 commented on #23049
Not sure, but if those are orphaned shares (from deleted files), running cron should automatically clean these up. Maybe the upgrade went fine and these were indeed old deleted shares but the new code doesn't cope properly with these ?

@rullzer it should be possible to simulate orphaned shares as follows:

1. As admin, create a folder "test/sub"
1. Create/upload a file "test/sub/test.txt"
1. Shar

[2016-03-15 09:20] derekblankmccoy commented on #13158
#17495

[2016-03-15 09:20] LukasReschke commented on #23246
@icewind1991 @Xenopathic Any ideas?

[2016-03-15 09:23] rullzer commented on #23049
@atroxix could you send me your whole db dump?

[2016-03-15 09:27] atroxix commented on #23049
Sent.

[2016-03-15 09:29] Loki3000 commented on #23182
I thought so, but too lazy to dig deeper :)
But if you need help, I'm ready to investigate quite carefully.

[2016-03-15 09:34] PVince81 commented on #22993
After discussing with @nickvergessen, from what I understood this problem happens because people have been importing their backup DB (SQL file) without first dropping the database. This would cause newly created tables to still exist.

@nickvergessen can we make OC detect and ignore existing tables at the time where new creates should be created as part of enabling apps ?

[2016-03-15 09:34] PVince81 commented on #22993
I don't think this bug qualifies as a regression, since this is how ownCloud always behaved. It just happens that this bug got uncovered now because of the many new tables that appeared in 9.0.

[2016-03-15 09:36] PVince81 commented on #23228
@guruz would this mess up with the client if we forced the data as "now" ?

[2016-03-15 09:39] PVince81 commented on #23078
@LukasReschke ^

[2016-03-15 09:39] nickvergessen commented on #22993
No, as said yesterday. If the table exists an error is the only acceptable solution.
We don't know if the user has an app or something that already uses the table.
We would need to diff the structure, than we still have the problem when the schema changed. Should we change it, or is the table from a different app/system/... ?

[2016-03-15 09:41] rullzer commented on #23049
@atroxix it seems that your cronjob has not been run since march 8th... (at least not the DeleteOrphanedShareJob)... And it is weird that there is no 'ExpireSharesJob' in there...

[2016-03-15 09:42] PVince81 commented on #22993
Yes, indeed, this would be risky.

How about changing the error message and adding a hint like "If you restored from a backup, please make sure that you dropped the database in the first place" ?

[2016-03-15 09:43] oparoz commented on #13158
If I understand correctly, this is akin to the "signature folder" passing around in a corporate environment.

In terms of UI, I think it would be best to keep the info in a tab in the detailsview. You get a list of people who have been given access to the file and a check mark next to the ones who have downloaded it, along with the time stamp.

This could probably be a separate app, installable fr

[2016-03-15 09:44] rullzer commented on #23049
Manually running the cleanup job:

[code]

Does indeed leave me with 2 shares.
So that 'seems' right.

However you claim that you had more shares before.

Do you have a db backup of your 8.2 setup before your upgraded?

[2016-03-15 09:45] MorrisJobke commented on #20555
Another duplicate: https://github.com/owncloud/core/issues/23043#issue-139625534

00005004

[2016-03-15 09:45] #23043 closed

[2016-03-15 09:45] reuterbal commented on #23248
Seeing similar problems with ownCloud News (0.9.8.2) on Android - App crashes with NullPtrException and the oC log shows

[code]

ownCloud files app (1.9.1) works fine.

[2016-03-15 09:45] atroxix commented on #23049
The only cronjob I've every run in there was:

But I disabled it because I removed my GoogleDrive remote share.

Yes, I do, you want it?

[2016-03-15 09:46] MorrisJobke commented on #20555
Galera cluster of MariaDB with Maxscale in front to have the writes only gone to the master and all reads distributed at the slaves.

[2016-03-15 09:46] LukasReschke commented on #23078
Option 1: Change https://github.com/owncloud/core/blob/f8180579d03fcd10ab8f92f1ecb27899436c7653/version.php#L36-L37 to git. Once 9.0.1 is there replace everything with 9.0.1 again.

Option 2: You could install the daily from https://download.owncloud.org/community/owncloud-daily-stable9.tar.bz2 which is properly signed. This requires however that the PR is first merged into stable9, which it is no

[2016-03-15 09:47] wolfo commented on #23110
Hi @PVince81
I just tested that and posted the result below, but it just hit me:
I have another [issue](https://github.com/owncloud/core/issues/23152) open about folder views in shares being broken all the time. My sloppy workaround (everything that helped so far) is to truncate oc_filecache every 5 minutes.
This is maybe the reason for why the share links expire, no?

Here are the results of the

[2016-03-15 09:47] rullzer commented on #23049
@atroxix that is not a cron job. That is an occ command.

See https://doc.owncloud.org/server/9.0/admin_manual/configuration_server/background_jobs_configuration.html#cron-jobs

Yes please send it to me so i can verify if the shares were already invalid back then.

[2016-03-15 09:48] rullzer commented on #23110
@wolfo o yes! truncating the filecache is not a good idea!

Your share does not expire but it is cleaned up because it links to a dead entry in the filecache.

[2016-03-15 09:48] LukasReschke opened #23249 "Investigating Same-site Cookies"
Ref https://tools.ietf.org/html/draft-west-first-party-cookies-06 and https://twitter.com/mikewest/status/709676633712676864

[2016-03-15 09:50] rullzer commented on #23110
@wolfo please disable that truncate and try again. This issue should be gone then...

[2016-03-15 09:50] atroxix commented on #23049
Well, I ran that occ command through cron :D
Anyhow, then I haven't run cronjob ever, I think.

Sent pre-9.0 dump to your e-mail.

[2016-03-15 09:50] reuterbal commented on #22988
Similar issues arise when using the oC News App on iOS (owncloud/news-iOS-App#70) or Android (owncloud/News-Android-App#499): #23248
There must be something seriously wrong with the authentication of LDAP-users.

[2016-03-15 09:51] wolfo commented on #23110
Oh, man. Sorry for the confusion.
Then I will have to figure out how to make the shares work without butchering the filecache all the time ;)

I will disable it on the clone, watch it for a while and report back!

[2016-03-15 09:53] PVince81 commented on #22765
I just created a similar setup locally:

1. Create a folder "/srv/www/ocdata"
1. `mount -t tmpfs -o size=1024M tmpfs /srv/www/ocdata`
1. Setup OC 8.2.2 in "/srv/www/htdocs/owncloud"
1. Move "data" folder contents to "/srv/www/ocdata" (make sure to also move the hidden dot files)
1. In the web UI as admin, go to the personal page

It shows "You have used 163 B of the available 1023.9 MB" (the small

[2016-03-15 09:55] LukasReschke commented on #23249
This is the problematic part. Mhm…

   defense in depth against CSRF attacks, but has the potential to
   confuse users unless sites' developers carefully ensure that their
   session management systems deal reasonably well with top-level
   navigations.

   Inc's webmail provider "https://example.com/".  They might expect
   that clicking on an emailed link to "https://projects.com/secret/
   pro

[2016-03-15 09:57] PVince81 commented on #23110
Let's follow up in https://github.com/owncloud/core/issues/23152 then.

[2016-03-15 09:58] orefimi commented on #22993
In my case I removed manually the app and then it works but no body explained to me where to find the tables.

I have Mariadb and the owncloud database was empty

Where could I found and drop the 'notifications' table?

Michele Orefice

[2016-03-15 09:58] PVince81 commented on #23152
If that is too slow for you, you can also make it rescan only specific folders, for example `occ files:scan --path=/$someuserid/files/smbmount`. That can be useful if every user has access to the same single SMB mount.

[2016-03-15 09:59] rullzer commented on #23049
O sure... but do you run the owncloud cron jobs?

[2016-03-15 10:00] atroxix commented on #23049
No, I don't/haven't.

[2016-03-15 10:04] wolfo commented on #23152
That's good news. Every user has access to the same main mount, yes. Since the share is mounted using the respective user's credentials, can this still be done in a cronscript?

[2016-03-15 10:06] rullzer commented on #23049
Ok so it seems this is not a sharing issue. Because the share code basically does what is expected.

I can see you have more 'valid' shares in your 8.2 dump. But for some reason the fileid of some files changed. @icewind1991 @PVince81 any idea?

[2016-03-15 10:11] wolfo commented on #23152
It's telling me "No session credentials saved".
`sudo -u www-data /var/www/owncloud/occ files:scan --path='/www/files/Cloud'`

[2016-03-15 10:11] PVince81 commented on #23152
Hmm... No, it won't work because the cron job doesn't have the user's credentials.
In this situation, I also suspect that every user has their own "oc_storages" entry since every user's view of the SMB storage might have different permissions.

I can't think of any good workaround right now for this situation.

[2016-03-15 10:12] MorrisJobke commented on #23228
I think we then need to also change the etag after the response is send again or am I wrong?

[2016-03-15 10:13] PVince81 commented on #23152
Now the part I'm wondering is why your truncation was able to trigger a full rescan.

@icewind1991 @Xenopathic maybe we should add a new option "ignore mtime" that makes `hasUpdated` always return true, regardless of the current value ? It would still be very slow but at least updates would be detected ?
Or maybe make it return `true` at least every 10 minutes or so ?

[2016-03-15 10:15] PVince81 commented on #23049
I don't think the file id changed at all, the only situation where a fileid changes is when using external storage and the remote file got renamed/moved outside of ownCloud.

The first thing to clear out is whether the web UI works correctly after clearing the orphaned shares.
If it does, then the problem was related to the orphaned shares.
Else it might be something else.

[2016-03-15 10:17] PVince81 commented on #11797
How about making `hasUpdated()` return `true` for every 10/50th call or every 10 minutes ? When returning `true` it would have to do it consistently within the same PHP request. This would force the scanner to go through all folders.

Ideally this should be opt-in as it would cause performance issues.

Another problem is that when using "credentials in session" it is impossible to use the `occ fil

[2016-03-15 10:17] LukasReschke commented on #21146
Patch is at https://github.com/owncloud/core/pull/23250

[2016-03-15 10:18] PVince81 commented on #11797
Ref https://github.com/owncloud/core/issues/23152 (occ files:scan not working with session credentials)

[2016-03-15 10:18] LukasReschke commented on #23144
https://github.com/owncloud/core/pull/23250 will have some more failsafes against such cases.

[2016-03-15 10:18] wolfo commented on #23152
I think the rescan only happens later, ad-hoc, whenever the user is logged in and accesses some folder once again.

[2016-03-15 10:20] PVince81 commented on #23152
Yeah. Update detection with external storage has always been a tricky topic.

I referenced your ticket from the main discussion: https://github.com/owncloud/core/issues/11797#issuecomment-196754637

[2016-03-15 10:21] PVince81 commented on #23152
Another potential problem of "ad-hoc" scanning is that if the SMB storage contains a lot of data, the full rescan can take several minutes.

[2016-03-15 10:22] PVince81 commented on #22476
Note that in 9.0 this isn't an issue any more because of the GDrive workaround using a temporary file.

So before applying the patch, let's find out which external storages support streaming and would suffer from the fseek issue.

I suspect that Webdav/ownCloud external storages (and/or fed shares) might.

[2016-03-15 10:24] vb0 commented on #22993
I don't know how common is restoring from backup for an upgrade. I sure didn't do a restore, just upgraded the packages via normal apt-get and then run the command-line upgrade.

[2016-03-15 10:28] stefan-niedermann commented on #22765
I have currently no access to the computer, i will post more information when i have.

[2016-03-15 10:31] wolfo commented on #23152
Yes, CPU usage has certainly gone up since I started with the workaround, but is still acceptable. At least user access times haven't been noticably slower.

Thanks, I will take a look at #11797. Do you know if 9.0 might have *some* improvements regarding external cifs storage specifically?

[2016-03-15 10:32] PVince81 commented on #22476
Hmm, with federated shares, `fseek` seems to work fine. Weird, it's not supposed to work on network streams.

[2016-03-15 10:33] PVince81 commented on #23152
9.0 has some improvements/bugfixes, but nothing regarding detection of remote updates.

[2016-03-15 10:33] derekblankmccoy commented on #13158
@oparoz You got it, exactly that. Need to know that a user has read a document. I understand that is may not be technically possible, but the fact that it's been downloaded is enough.
Like you say, in the details pane would be the perfect place to put it.
Maybe colored arrows that match the android app:
Green = downloaded latest version
Yellow = downloaded but not latest

If file opened (viewed) i

[2016-03-15 10:34] wolfo commented on #23110
Yeah, I disabled the truncating and the shared link is still there 15 minutes after the first download. A new record :)
Unfortunately I can't do without the truncating for now. But this particular issue can be closed, I guess.
Thanks!

[2016-03-15 10:46] oparoz commented on #13158
@derekblankmccoy - Looking at the available hooks, I think we can track who has downloaded the file, but in order to be able to tell if it's been opened, then you'll need to booby-trap it. That might work with PDFs or Office files, but could be blocked by the user and is probably out of scope for this project. I don't think we have technology which can reliably tell if users have really read the d

[2016-03-15 10:46] schiesbn commented on #22907
@kalletabur this pr should fix it: https://github.com/owncloud/core/pull/23251 Maybe you can give it a try... Thanks!

[2016-03-15 10:51] PVince81 commented on #22476
AHA, it looks like doing a `fopen()` on `http://` supports fseek, but `https://` doesn't...

[2016-03-15 10:54] PVince81 commented on #22476
Steps:

1. Setup an OC instance with SSL/HTTPS
1. Create a folder "test" with a file "bacon.txt" inside
1. Create a link share for "test"
1. Mount the link share on a local OC 9.0 / master as "test"
1. `curl -X GET -H Range:bytes=2-5 'http://admin:admin@localhost/owncloud/remote.php/webdav/gdrive/bacon.txt'` (on the local instance)

Expected: fseek worked, middle of the text returned
Actual: start

[2016-03-15 10:58] derekblankmccoy commented on #13158
@oparoz I think your idea of having it in the details pane makes the most sense. Keep i mind that when this issue was opened, the details pane did not exist. I mean, a notification tick could be added to the notification settings, then the owner can get an email. The issue is if 50 files are shared with 50 people, that's 250 emails going out

[2016-03-15 11:07] PVince81 commented on #22476
Fix is here through library update: https://github.com/owncloud/3rdparty/pull/258

[2016-03-15 11:07] nickvergessen commented on #23228
Since this happens on the first write, there is no old etag?

[2016-03-15 11:11] oparoz commented on #13158
@derekblankmccoy - I hear you, but this is a blue-ticket, opened by somebody else, so unless the solution is approved by the OP's client, nobody gets paid :| . One solution is to transfer the bounty to a separate issue in which we could clearly scope the project to match the sponsor's requirements. This ticket could then add notifications, if still required.
Another solution would be for @gig13 to

[2016-03-15 11:14] #22835 closed

[2016-03-15 11:15] guruz commented on #23228
Indeed if it is the first upload then there was no ETag anyway, so having a different mtime should be totally OK. The client (and other clients) will from then on use the mtime..

FYI @ogoffart

[2016-03-15 11:16] #22973 closed

[2016-03-15 11:17] derekblankmccoy commented on #13158
Ok, I'll wait for @gig13 to reply. If we have to transfer it, I'll write up the requirements, ready to open as a new issue.

[2016-03-15 11:23] fbartels commented on #23248
Sounds similar (or even the same) to #23184

[2016-03-15 11:44] rullzer commented on #16751
What? That is exactly what should happen. The same as a local user unshares from me the files also vanish..

[2016-03-15 11:52] Phiber2000 commented on #23217
The .htaccess file isn't used by nginx. Please post your nginx server config.

[2016-03-15 11:55] #23197 closed

[2016-03-15 12:05] SergioBertolinSG opened #23254 "File .ocdata is missing after installation and server cannot be opened."
Using  master daily tarball owncloud-daily-master.tar.bz2 or enterprise equivalent, after installing, .ocdata file is missing in the data directory and server cannot be accessed.

[2016-03-15 12:06] wolfo commented on #23152
Next to each mount in the external storage configuration, there is a setting 'Check for changes'. For the problem mount ("Cloud"), it's set to 'Every time the filesystem is used'.
If I understand correctly, this is the maximum setting, right?

Every other (rarely used) mount in there is configured to 'Once every direct access', which seems to be the default. So I probably set it up as 'Every time'

[2016-03-15 12:14] hengels7 commented on #23153
[code]

_schuelera_ ist Mitglied der Gruppe _klasseb_. Es kann sein, dass _schuelera_ zum Zeitpunkt des Teilens schon Mitglied von _klasseb_ war oder erst später dazu kam.

_doering.max10443_ ist Mitglied der _klassea_. _frank.van9545_ ist nicht Mitglied einer dieser Klassen.

[2016-03-15 12:17] nickvergessen commented on #23254
data dir is missing, but that is missing since ever, so it seems to not be packaging but a code change error

[2016-03-15 12:31] PVince81 commented on #23254
Likely related to https://github.com/owncloud/core/pull/23171#issuecomment-196498027

[2016-03-15 12:33] nickvergessen commented on #23254
Yeah should be fixed with #23243

[2016-03-15 12:35] nickvergessen commented on #23254
I modified the EE tarball with #23243 and now I can install again.

[2016-03-15 12:35] #23254 closed

[2016-03-15 12:40] Xenopathic commented on #21448
For 1), the best solution IMHO is to leverage existing HA solutions like Pacemaker/Heartbeat or Kubernetes, which assign an IP address that is routed to an available node, and dynamically handles node failures. This is a much more robust solution than trying to implement anything ourselves.

[2016-03-15 12:44] PVince81 commented on #23153
Translating:
"schuelera" is member of the group "klasseb". It is possible that "schuelera" was already member of "klasseb" at the time of sharing, or was added to the group at a later time.

"doering.max10443" is member of "klassea". "frank.van9545" is not member of any of these classes.

If "frank.van9545" isn't member of any groups, then I don't see any relationship with these shares and the inf

[2016-03-15 12:45] Xenopathic commented on #23246
So the external storages JS notices that the 'Mountpoint' field is empty, since the leading `/$user/files/` bit is removed when passing it around. It then tries to auto-fill that with the backend name, in this case Local. This in turn triggers an autosave, overwriting the mountpoint in the DB.

The problem stems from the fact that this usage of external storages was never really supported - we nev

[2016-03-15 12:47] Xenopathic commented on #23246
Also, removing sev2-high and milestone since this was never supported usage.

[2016-03-15 12:49] PVince81 commented on #23152
Yes, it's the maximum so far. It triggers the logic where `hasUpdated($path)` checks whether the remote SMB's folder mtime is the same as last time OC looked at it. If different, then it will scan inside it, else it will skip it.

The trouble is that filesystems like SMB never change the mtime of all parent folders when doing changes. Only the direct parent of the modified file will have its mtime

[2016-03-15 12:58] Xenopathic opened #23256 "Feature: Disable filecache for certain external storages"
There is a common use-case where an external storage is used both by ownCloud and directly, and as many bug reports have stated (see #11797) this makes ownCloud not see changes correctly. There's not much we can do in the situation where this storage is needed for synchronisation, but there is also another common use-case where such an external storage is only wanted as a view into a shared file s

[2016-03-15 12:59] icewind1991 commented on #23152
Having `hasUpdated` always return true will not make it detect changes deeper in the tree, when an update has been detected it will only rescan the single folder without recursing into subfolders

[2016-03-15 13:00] PVince81 commented on #23152
@icewind1991 make it return `hasUpdated` for ALL subfolders ?

[2016-03-15 13:00] PVince81 commented on #23152
Ah sorry, you were in another discussion. I thought you were talking about my proposed workaround.

[2016-03-15 13:01] canepan opened #23257 "Upgrade to 8.2.3 with user_webdavauth in use"
### Steps to reproduce
1. install OwnCloud < 8.2 and enable user_Webdavauth
2. upgrade to 8.2.3
3. try to enable external user support

### Expected behaviour
it should be possible to enable the app

### Actual behaviour
An error message is shown:
An exception occurred while executing 'CREATE TABLE `oc_users_external` (`backend` VARCHAR(128) DEFAULT '' NOT NULL, `uid` VARCHAR(64) DEFAULT '' NOT NU

[2016-03-15 13:07] PVince81 commented on #23110
@wolfo your account must be cursed, I can't close this ticket and in your other ticket I can't set any labels. Weird Github bug! :smile:

[2016-03-15 13:10] icewind1991 commented on #23152
Doesn't solve the sync client not detecting changes, only changes not showing up in the web ui

[2016-03-15 13:13] cdamken commented on #18910
after our remote session The customer asked the user to verify this issue with other browsers

The user tested IE10, IE11, Firefox 44 and Chrome 49 and could not add additional users to the share.

[2016-03-15 13:17] wolfo commented on #23110
@PVince81 I'm sorry. Me and Owncloud, it's a tough love! :D

[2016-03-15 13:21] hengels7 commented on #23153
There i sno loop in the data folder of doering.max10443 anymore! I have deleted it already.

This is, was strace is observing when running files:scan for user k.mall:
[code]

[2016-03-15 13:29] PVince81 commented on #23153
If the folder loop existed on the filesystem, then it's not related to shares.
If you removed the physical loop on the filesystem, then running `occ files:scan doering.max10443` should automatically delete the bogus oc_filecache entries. Not sure why it isn't doing so.

How many loops are we talking about ? Getting confused.

[2016-03-15 13:38] hengels7 commented on #23153
There was one filesystem loop in data of doering.max10443 .. yes, seems like files:scan deleted the oc_filecache entries after I removed the recursion in the filesystem. So we don't know and porobably never will find out, how this loop was produced.

Then there is a sharing loop, causing files:scan to hang. This is what my last post was about. files:scan is looping endlessly, strace shows the data

[2016-03-15 13:48] PVince81 commented on #23153
@rullzer any comment on that weird sharing loop ?

I think older OC versions might have allowed such loops to be created in the first place, so you should be able to manually delete the share entry, yes.

[2016-03-15 13:51] rullzer commented on #23153
Yes I remember a bug report that made it possible to create them I think.

I see no harm in deleting that indeed.

[2016-03-15 13:57] hengels7 commented on #23153
Ok .. I just deleted this entry .. now files:scan finishes correctly and the following problem seems to solved also:

.. at least for my testuser!

I'm curious, if the upgrade to version 9 is possible now, too!

Thanks for your help!!! Maybe files:scan should detect and report loops?

[2016-03-15 13:59] rullzer commented on #23153
I'll create an issue for the cyclic link share. We should have a cleanup job to take care of that on upgrade.

[2016-03-15 14:06] valentin8709 opened #23261 "Background job - email notification"
### Steps to reproduce
I don't really know, my settings:
I enable everything in the "activity" settings to notify me changes by email (even my changes).
I setup the mail configuration in the admin panel, the test is ok, I can receive emails from owncloud.

### Expected behaviour
I should receive mails about any modifications.

### Actual behaviour
Everything seems to be alright in the activity app

[2016-03-15 14:11] Phiber2000 commented on #23257
Have a look at https://github.com/owncloud/core/issues/17939#issuecomment-125753191.
Maybe it correlates with https://github.com/owncloud/core/issues/22993, too. Installation types differ.

@canepan Quick fix: Check database priviledges; drop table 'oc_users_external' if empty.

[2016-03-15 14:11] valentin8709 opened #23262 "Parameter problem in manager.php file"
### Steps to reproduce
I don't really know the steps to reproduce, I just have a php error in my log every minute but everything seems to be working fine (except email notifications, but it's in another issue). I just would like to know how to fix this error.

### Server configuration
**Operating system**: Linux Mint 17.3

**Web server:** Apache 2

**Database:** Mysql

**PHP version:** 5.6

**ownC

[2016-03-15 14:14] PVince81 commented on #22708
Looks like the new property isn't enough.

Well, the new property will only fix the "Tags" section to also have share info, since it also uses Webdav.

However the "Favorites" part is older and doesn't use Webdav, and I'm not sure we want to do this in a minor release. I'll see if I can find a way to pass around the same info in its own API call.

[2016-03-15 14:14] cdamken commented on #22450
@VicDeo, is there a fix for the federated error or should I just remove from the database?

[2016-03-15 14:16] PVince81 opened #23263 "Add oc:favorite to REPORT call for searching for favorites"
The "Favorites" section in the files app is still using an internal API.

Since 9.0 we have a new REPORT Webdav call that is able to return filtered results.

This ticket is about extending the REPORT request:
- accept a "oc:favorite" filter criteria to specify that we want only favorites or only non-favorites (0 or 1)
- return a list of filtered results
- change the web UI to use that Webdav call

[2016-03-15 14:16] PVince81 commented on #22708
Raised https://github.com/owncloud/core/issues/23263 for 9.1 to port the "Favorites" file list to use Webdav too.

[2016-03-15 14:17] canepan commented on #23257
I dropped the table and now I'm able tu enable the app, but webdawauth is not included.
Is there a path to upgrade user_webdavauth to 8.2+?

[2016-03-15 14:21] rullzer opened #23265 "Cleanup toplevel shares (cyclic shares)"
See: https://github.com/owncloud/core/issues/23153

Apparently it was possible somehow to share your root directory at some point. We should on upgrade check for such shares and remove them.

Note that (at least on 9.0) I verified that it is no longer possible to create root shares.

[2016-03-15 14:21] rullzer commented on #23153
Issue raised in https://github.com/owncloud/core/issues/23265.
Closing this.

[2016-03-15 14:21] #23153 closed

[2016-03-15 14:25] PVince81 commented on #23262
Duplicate of https://github.com/owncloud/core/issues/22931

[2016-03-15 14:25] #23262 closed

[2016-03-15 14:26] #23238 closed

[2016-03-15 14:26] Phiber2000 commented on #23257
Have a look at #19229:

[2016-03-15 14:26] #23244 closed

[2016-03-15 14:28] PVince81 commented on #20805
Closing due to lack of feedback.

If you're still seeing this issue in 8.2.3, please provide the requested info. Thanks.

[2016-03-15 14:28] #20805 closed

[2016-03-15 14:30] wolfo commented on #23135
Update to 8.2.3 hasn't solved the problem.
I will move it out of the DMZ to figure out if it's some weird networking issue. Although it can generally authenticate against the DC fine.

[2016-03-15 14:50] valentin8709 commented on #23262
Thank you very much, and sorry for the duplicated post, I didn't see it.

[2016-03-15 15:00] #22907 closed

[2016-03-15 15:03] #21146 closed

[2016-03-15 15:03] #23144 closed

[2016-03-15 15:03] #23123 closed

[2016-03-15 15:11] PVince81 commented on #23261
Duplicate https://github.com/owncloud/core/issues/23205

[2016-03-15 15:11] #23261 closed

[2016-03-15 15:13] Phiber2000 commented on #23257
For future handling it would be nice to know, if the table was empty before removal?!
Did you check that as recommended?

[2016-03-15 15:14] mikel392 commented on #23217
user www-data;
worker_processes 4;
pid /run/nginx.pid;

events {
	worker_connections 768;
	# multi_accept on;
}

http {

	##
	# Basic Settings
	##

	sendfile on;
	tcp_nopush on;
	tcp_nodelay on;
	keepalive_timeout 65;
	types_hash_max_size 2048;
	# server_tokens off;

	# server_names_hash_bucket_size 64;
	# server_name_in_redirect off;

	include /etc/nginx/mime.types;
	default_type application/octe

[2016-03-15 15:17] PVince81 commented on #23212
I checked my own server (9.0.0) and I see this error happening for pictures I uploaded with the Android client.
[code]

Desktop client is not affected.

[2016-03-15 15:21] VicDeo commented on #22747
@MorrisJobke

This is a workaround and not the solution.

I think it's something like ~300k (and more) filecache entries. What's your opinion?

[2016-03-15 15:22] PVince81 commented on #23212
Steps to reproduce:

1. Setup OC v9.0.0 with activity app enabled
1. Setup a desktop sync client
1. Create/copy a big file (> 20 MB) locally to trigger chunked upload
1. Observe "owncloud.log"
1. Check activities

@nickvergessen can you have a look ?

Only happens with chunked upload.
Activity is still properly created it seems, so the warning might not be too bad.

[2016-03-15 15:24] mmattel commented on #23256
Would such a functionality impact the use of the gallery app?

[2016-03-15 15:24] wolfo commented on #23152
I found #23256 and wondered: Is there any way to limit the oc_filecache truncating to certain shares, certain users, maybe certain paths even?
I mean you can do a rescan for a specific user or path using `occ files:scan` (provided there are no individual credentials), so it should theoretically be possible to selectively reset the cache.

Which would be extra handy in my case because I use two mou

[2016-03-15 15:27] PVince81 commented on #23152
If we're looking into dirty workarounds anyway, some ideas:
1. Instead of truncating, set "storage_mtime" of every folder to 0, this would make the scanner believe that all remote folders changed. But as @icewind1991 said it might only work in the web UI.

or

1. Like you said, limit the truncating: delete all files that have no entry in oc_share where "oc_share.file_source=oc_filecache.fileid". D

[2016-03-15 15:28] Phiber2000 commented on #23217
That's not where the owncloud location block is located. Have a look in `/etc/nginx/sites-enabled/`.

[2016-03-15 15:41] wolfo commented on #23152
1. Is the storage_mtime method a one-time change in Owncloud's database? Or a periodic one?
2. I understand this needs to be set for every folder and it is not recursive?
Still, this sounds more sensible than the truncating. I will look into it and else try the limited truncating approach.

Thank you for the suggestions!

[2016-03-15 15:43] RealRancor commented on #23257
Exactly. This app is not shipped anymore and normally should have been removed when doing a correct upgrade by deleting all files and folders except /data/ and /config/.

[2016-03-15 15:43] PVince81 commented on #23152
Both would have to be periodic.

The "storage_mtime" column contains whichever mtime was returned by the SMB server when scanning. So every rescan will update this value, you'd need to set it again to "0" to force the next scanner pass to look into these folders again.

[2016-03-15 15:44] PVince81 commented on #23152
with scanner I'm not talking about "occ files:scan". There is another scan process that runs whenever a folder is accessed in the web UI

[2016-03-15 15:46] PVince81 commented on #23110
@wolfo are you able to close the ticket ? Maybe Github is more friendly with the issue owner ?

[2016-03-15 15:50] PVince81 commented on #14131
Are you guys all correctly setting the region field ?

[2016-03-15 15:54] jospoortvliet commented on #13158
It would be enough to add this to the Activity stream of the file, right? Just like it already has the ability to warn you about the download of a publicly shared file, this issue asks to have it for ALL files. Well, if it's off by default, I think it makes for a nice little feature.

That seems to be exactly what @gig13 asked for and if @derekblankmccoy is OK with that solution and puts up the bo

[2016-03-15 15:55] LukasReschke opened #23269 "Consider new DAV endpoint for public shares"
Stuff like `http://b378zUCKQ3G9vn4:dummypassword@localhost/oc/public.php/webdav` is not going to work in many browsers.

This prevents us to use WebDAV for some parts of ownCloud. For example the public view as can be seen at https://github.com/owncloud/files_videoplayer/issues/41#issuecomment-196890721

My idea would here to have something like `public.php/share/$SHAREID/` so that no Basic Auth i

[2016-03-15 15:55] LukasReschke commented on #23269
cc @karlitschek @DeepDiver1975 @icewind1991 Thoughts?

[2016-03-15 15:58] nickvergessen commented on #23212
Traced it back to https://github.com/owncloud/core/commit/02be8a3a12fbd63384f3dd79653ac94b05e646e6#diff-d9747e68e80ce288dcea911cb8607546R1212

The problem is the file is locked, but the current cache data is false.
[code]

does not look like a valid solution in that case.

Maybe @icewind1991 has an idea

[2016-03-15 15:59] rullzer commented on #21728
@blizzz how/when does the ldap_user app notify the server if group membership has changed? I don't see the {pre,post}_deleteUserFromGroup events geting called.

[2016-03-15 16:00] paurisa commented on #21054
Where is the file containing this string? Did a grep from the root folder and just found an archive in /tests/lib/memcache/redis.php that contains a similar line but not exactly the same.
Has this been already fixed?

[2016-03-15 16:01] kaksikanaa commented on #22988
Strange notice: One user with Android  reported that the sync works ok after update. Only difference we could find is that for that one user the calendar uri property has been "personal" all the time. Other users have language specific values like "henkilökohtainen"  or even user name specific uri values like "Tom" etc.

[2016-03-15 16:03] ryannix123 commented on #22959
And will this be fixed in a future version?

[2016-03-15 16:04] Phiber2000 commented on #23257
The question remains:
Is the removal/update of the database table ensured by the updater? Or do we have to implement something handling that in normal upgrade path?
Always fixing something like that manually by dropping tables shouldn't be the right way when using included apps only...

[2016-03-15 16:06] wolfo commented on #23110
Oh, of course. That should work.

[2016-03-15 16:08] nickvergessen commented on #23212
Okay, hooks are triggered twice:
1. With the exception in: https://github.com/owncloud/core/blob/e08f98075cff2087daba94cce1fb7e48e9d3c3ad/lib/private/filechunking.php#L225-L225
2. Working in: https://github.com/owncloud/core/blob/4d69e562a065a79461343444a842ada025f3643c/apps/dav/lib/connector/sabre/file.php#L281-L281

I don't think that is intended to be called twice?

[2016-03-15 16:09] nickvergessen commented on #23212
Also the faulty location is missing the "update" hook, if it should be working fully.

[2016-03-15 16:10] canepan commented on #23257
I'm sorry for the delay.
I looked at the DB dump of the previous version.
Since the table was not present, I dropped it without looking if it was empty.
As a test, I tried to copy the user_webdavauth.php from version 8.1, so probably the table was created at that point.
I then disabled and removed the user_webdavauth.php file, and enabled the user_external app (after dropping the table), but at th

[2016-03-15 16:13] lbeckm3 commented on #23160
I was able to correct the issue by migrating to MySQL and then dropping and
recreating the database.  I have a simple 2-user setup so no big deal.
Thanks!
On Mar 12, 2016 4:23 PM, "Lukas Reschke" <notifications@github.com> wrote:

[2016-03-15 16:13] mikel392 commented on #23217
server {

        listen 443 ssl;

        server_name domain www.domain;

        ssl_certificate /etc/letsencrypt/live/domain/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/domain/privkey.pem;

        ssl_stapling on;
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        ssl_ciphers ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-

[2016-03-15 16:14] PVince81 commented on #23110
It didn't :wink:

[2016-03-15 16:15] PVince81 commented on #23212
Hooks shouldn't be called twice AFAIK, possibly a regression

[2016-03-15 16:24] Phiber2000 commented on #23257
That explains the updating issues. So we can move on:

The right syntax is:
[code]
(https://github.com/owncloud/apps/tree/stable8.2/user_external)
At the moment I can't see why your variation shouldn't work, too - but just try that.

[2016-03-15 16:24] PVince81 commented on #4040
Fix for download here: https://github.com/owncloud/core/pull/23272

[2016-03-15 16:32] PVince81 commented on #4040
I had a look at the library and from what I see it doesn't store the file in memory on upload, it even uses chunking when possible.

[2016-03-15 16:32] Phiber2000 commented on #23217
Am I right, that you installed owncloud in a sub-path?

[2016-03-15 16:33] mikel392 commented on #23217
yes

[2016-03-15 16:33] mikel392 commented on #23217
/owncloud

[2016-03-15 16:35] Phiber2000 commented on #23217
Try adding under the line ´fastcgi_split_path_info...´:
´´´
fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
fastcgi_param PATH_INFO $fastcgi_path_info;
[code]

[2016-03-15 16:35] derekblankmccoy commented on #13158
That could work, but it needs to say who downloaded it with a timestamp.
Also, looking at the activity tracker, how long can it get? Is there an easy way to export it to a csv?

At the moment, I'm using the esLog app and the closest I can get is seeing if a user logged in. I can only assume from there that they can see the shared file.
I don't even mind if the hooks get implemented so that elastic

[2016-03-15 16:36] canepan commented on #23257
The reason for not working is a wrong syntax in webdavauth.php.
In constructor, there is:
[code]
but it should be:
[code]

[2016-03-15 16:41] Phiber2000 commented on #23217
I forgot: change `location ~ \.php$ {` to `location ~ /(.*\.php)(?:$|/) {`
That should do the thing!

[2016-03-15 16:50] captainwasabi commented on #22988
The android sync to my personal calendar (which doesn't use LDAP) works fine. (I'm using iCal Import/Export Pro). I just give it the base uri and it detects all the available resources there and let's me pick, so I'm not sure what the full URI is.

This is broken for work calendars that use LDAP

[2016-03-15 16:50] mikel392 commented on #23217
still getting the 404 message

[2016-03-15 16:57] Phiber2000 commented on #23257
I see your commit owncloud/apps@854e4a5d514fc973d2a9f6e66a07989d47e86bc9.
That should be pushed to stable branches.

[2016-03-15 16:59] p5n opened #23273 "Shared addressbook is always writable independently on "can edit" checkbox"
### Steps to reproduce
1. Share addressbook with group (I used LDAP authentication)
2. Remove "can edit" check
3. Login with user that should have read-only access and drop contacts from addressbook

### Expected behaviour
AB obviously should be read only

### Actual behaviour
Any user can drop contents of shared addressbook

**Database:** mariadb

**PHP version:** 7.0.4

**ownCloud version:** (se

[2016-03-15 17:02] blizzz commented on #21728
For the record:

[code]

[2016-03-15 17:06] Phiber2000 commented on #23217
If you fixed the location entry as described in https://github.com/owncloud/core/issues/23217#issuecomment-196914375 the 404 should be gone.
The 404 is delivered by nginx. Its definitely no PHP or owncloud issue!
Check the nginx error log and have a look at the installation manual. There are many other things missing in your config:
https://doc.owncloud.org/server/9.0/admin_manual/installation/ngi

[2016-03-15 17:15] mislav-eu commented on #18225
@PVince81

I've tested owncloud encryption in newest 9.0.0 and I've found additional problem.

If you change user password through admin - you will get an error "Encryption not ready: multikeydecrypt with share key failed:error:0407109F:rsa routines:RSA_padding_check_PKCS1_type_2:pkcs decoding error"

however, if users changes his password through Personal settings, then all is fine.

According to

[2016-03-15 17:17] PVince81 commented on #18225
@mislav-eu please raise a separate ticket for this, unrelated to size repair

[2016-03-15 17:23] PVince81 commented on #22997
Let's close this now, no new tickets have been linked to this one since 5 days.
I don't mind taking care of linking duplicates when they pop up.

[2016-03-15 17:23] #22997 closed

[2016-03-15 17:24] wolfo commented on #23110
I can see it, the close button is right there, yet forever out of reach for us mere mortals.

[2016-03-15 17:25] oparoz commented on #13158
That would be part of the requirements, yes.

This answer was given above:
"The activity stream truncates itself, and a bunch of other things which can make it unreliable for logging and true traceability"

but I haven't looked for that limit yet. Maybe it could be lifted if the user enables the feature, but there is also this statement (emphasis mine):
"the activity app is **too easy to break and

[2016-03-15 17:26] mikel392 commented on #23217
2016/03/12 08:51:23 [emerg] 5453#0: "ssl_certificate" directive is duplicate in /etc/nginx/sites-enabled/default:27
2016/03/12 08:51:27 [emerg] 5477#0: "ssl_certificate" directive is duplicate in /etc/nginx/sites-enabled/default:27
2016/03/12 08:52:26 [emerg] 5515#0: "ssl_certificate" directive is duplicate in /etc/nginx/sites-enabled/default:27
2016/03/12 08:54:21 [emerg] 5567#0: "ssl_certificate

[2016-03-15 17:40] cmonteroluque commented on #10571
Note for 9.1: https://github.com/owncloud/client/issues/4556

[2016-03-15 17:41] derekblankmccoy commented on #13158
Ok, how about your idea of a separate app?
I mean esLog would be perfect if it recorded file reads and if it worked with the latest version of OC.
Maybe an app that logs file activity and exports it to a csv daily and an interface that can visualise the data.

[2016-03-15 17:49] cmonteroluque commented on #21448
https://github.com/owncloud/core/issues/21448#issuecomment-196506622 I agree

[2016-03-15 17:51] Phiber2000 commented on #23217
That prooves that your nginx configuration is broken:
`...unknown directive "ServerSignature"...`
`...SSL_do_handshake() failed...`

You have to fix the permissions, too:
`...Unable to create file /usr/share/nginx/html/owncloud/config/config.php because Permission denied...`

You should really have a look in the installation manual.

[2016-03-15 17:52] Stormblade commented on #22993
I also did an update via apt-get, and am getting this error when running occ upgrade.
I haven't restored or modified the databases.

[2016-03-15 17:52] mikel392 commented on #23217
alright thank you

[2016-03-15 17:54] RosinSmoke commented on #23210
@PVince81
I still don't quite get where is the "cog".
All clickable elements, opening drop-down lists, are [three-dot button](http://puu.sh/nHBv7/eb49dfa758.png), [user menu](https://puu.sh/nHBz3/939e4fb684.png), where I could get to [sharing options](http://puu.sh/nHBGF/4f7e85abbe.png) and, obviously, the app selector on the left part of upper toolbar, but still no one of them can change anything

[2016-03-15 18:06] #23217 closed

[2016-03-15 18:09] devuan2 commented on #22988
@Florz
Does not work for me. I created a calendar in OC called 'testing' and tried to access it using Firefox. This used to work for 8.x to verify access to the data even though Firefox would not format it into a usable calendar.

Below is what I tried to no avail.  Incidentally, I also ran the calendar "migration" again [listed here](http://morrisjobke.de/2016/03/07/ownCloud-9.0-calendar-migratio

[2016-03-15 18:21] masupilamie opened #23276 "logtimezone setting does not work -> UTC only (owncloud 9.0)"
### Steps to reproduce
1. Install Ubuntu 14.04
2. Install owncloud 9.0 through repository (used stable repo)
3. Change 'logtimezone' => 'UTC' to 'logtimezone' => 'Europe/Amsterdam' in config.php

### Expected behaviour
Log file time should be in Europe/Amsterdam (one hour ahead of UTC)

### Actual behaviour
Log file time stays in UTC

### Server configuration
**Operating system**:
Ubuntu 14.04

**

[2016-03-15 18:22] LukasReschke commented on #23276
Dupe of https://github.com/owncloud/core/issues/23134

[2016-03-15 18:22] #23276 closed

[2016-03-15 18:24] masupilamie commented on #23276
Sorry! (dit search for dupe, but not good enough it seems...)

[2016-03-15 18:25] LukasReschke commented on #23273
@DeepDiver1975

[2016-03-15 18:36] devlumberjack commented on #23195
With the given config parameter it works! Issue can be closed. Thanks for the help.

[2016-03-15 18:36] #23195 closed

[2016-03-15 18:45] zanglerecke opened #23277 "disable external storages"
It would be a nice feature to just deactivate an external storage, but keep all settings. so eg a temp. unaccessable storage can be mainternanced while it is disabled and quickly reinstalled.

for admin as well as for users.

[2016-03-15 18:46] zanglerecke commented on #23277
ok that response is realy fast...

[2016-03-15 18:57] oparoz commented on #13158
It gives you the flexibility to implement what you need, but there is something I forgot to mention. Beware that there is no guarantee that it will be maintained in a year from now unlike solutions implemented in `core`. Ultimately, you could end up in the same situation you are today with ESlog.
Unless of course if I and others start selling support for those add-ons and people actually subscribe

[2016-03-15 19:13] oparoz commented on #13158
Actually that may not be true. The app is outdated and should be rewritten using the AppFramework, but if what's making it incompatible with oC9.0 is outdated hooks, then fixing those could make the app generate the logs you're after.

[2016-03-15 19:13] mislav-eu opened #23278 "Encryption: files are not decrypted on password change"
### Steps to reproduce
1. Enable server encryption, recovery keys on admin, create user, enable recovery keys there.
2. Upload some files/folders, whatever you want to.
3. Login back as admin and change user password.
4. Re-login with user with new password - you're not able to access your files -   "Encryption not ready: multikeydecrypt with share key failed:error:0407109F:rsa routines:RSA_paddin

[2016-03-15 19:51] rullzer commented on #21728
Mmmm I actually have no idea why this is not happening...

https://github.com/owncloud/core/blob/stable8.2/lib/private/share/hooks.php#L167 *should* be called when a user is removed from a group. This select the group share and then deletes all the children that are shared by the user that is removed in https://github.com/owncloud/core/blob/stable8.2/lib/private/share/helper.php#L83

So it should

[2016-03-15 19:52] rullzer commented on #21728
@blizzz could you try to reproduce the steps here. Because my ldap fu is not good enough to properly trigger the post_removefromGroup hook.

[2016-03-15 20:31] zanglerecke commented on #22966
ok, but if i just want to return to the original file and want do recheck those. how to do that?
-> i get that message from a "fresh" installation (just inserted my config.php and the Datafolder (which is external..)

[2016-03-15 20:32] zanglerecke commented on #22966
ok, just the moment i found it... admin panel right behind the message...... there is a link..

[2016-03-15 21:11] deepeshmittal commented on #22993
Hi, even I am facing issue the same issue:

SQLSTATE[42S01]: Base table or view already exists: 1050 Table 'oc_activity' already exists
Update failed

Like other I didn't perform any restore from DB, it just automatically went to maintenance mode, when from terminal I switched off maintenance mode then on browser it prompted me to start upgrade to 9.0.0. I am using ubuntu and MySql as DB.

Also 'o

[2016-03-15 21:20] VicDeo commented on #22747
some benchmarks that I've done on solidgear docker instance by bumping version and adding `checksum` filed to filecache (and droping the column on the next iteration)
MySQL 5.1 (chosen intentionally because 5.5 is faster)

 num of filecache entries | time, seconds
------------ | -------------
 1 000 | 3-6s
 10 000 | ~ 8s
 100 000 | 170-180
 300 000 | ~ 1300

[2016-03-15 21:29] captainwasabi commented on #22988
Tried the fix proposed by mhekel above and it worked like a charm:

If there are any code fixes for this please do not break this.

[2016-03-15 21:37] lordamot opened #23280 "Crusty clowns everywhere :("
ubuntu 14.04, nginx, memcached

### Steps to reproduce
1. install and run it
2. oh, upgrade for 9
3. shiiiiiiii......

### Expected behaviour
"run occ upgrade and be happy"

### Actual behaviour
"Exception: Error 16 interacting with memcached : NOT FOUND
Update failed"

Really, what should I do with this message? (BTW, I'm a skilled PHP programmer)

### Server configuration
**Operating system**: 1

[2016-03-15 21:41] LukasReschke commented on #23280
Because we need the help of the skilled PHP developer that you are on helping on that.

But unfortunately you didn't handle the simplest task: [Test the RCs / Betas / etc.](https://owncloud.org/faq/#upgrade).

Anyways, dupe of https://github.com/owncloud/core/issues/23132

[2016-03-15 21:41] #23280 closed

[2016-03-15 21:44] LukasReschke commented on #23257
@karlitschek Backport of https://github.com/owncloud/apps/commit/854e4a5d514fc973d2a9f6e66a07989d47e86bc9 to 9.0?

[2016-03-15 21:47] SamEliotFisher opened #23281 "iOS calendar event location messes up web interface of calendar"
Took me a while to figure out why the web interface acted so strangely. See **actual behaviour**. The Browser error log finally revealed the offender: An event location created in the native iOS calendar app. The browser log will give more detail. The location was set in the app by searching for an address (street and house no).

_Bottom line, a harmless event location set by the iOS calendar app

[2016-03-15 21:48] lordamot commented on #23280
Wooah. Really operative. Okay, I'll read that bug tomorrow. Sorry if it
looks like troll attack
16 марта 2016 г. 12:41 AM пользователь "Lukas Reschke" <
notifications@github.com> написал:

[2016-03-15 22:04] orefimi commented on #22993
I would remove the app, just move the folder in another place

Michele Orefice

[2016-03-15 22:12] karlitschek commented on #23257
ups. please backport :+1:

[2016-03-15 22:20] LukasReschke commented on #23257
Will be fixed in 8.2.4 and 9.0.1 :smile:

[2016-03-15 22:20] #23257 closed

[2016-03-15 22:30] deepeshmittal commented on #22993
Thanks Michele for your response.

I am bit confuse. You mean I should remove any particular app from owncloud which is in app:list or you mean whole OC removal ? Also which folder your are referring to ?

Till now I did setup once so don't know much about owncloud stuff.

[2016-03-15 22:38] orefimi commented on #22993
Just activity
You have problem only with activity

Michele Orefice
+49 172 1825933

[2016-03-15 22:47] orefimi commented on #22993
I meant: I removed from the server folder, the app where I had the problem. Then it works.

[2016-03-15 22:48] orefimi commented on #22993
I tried to disable the app but  it was the same, I moved then the folder app away and it works

[2016-03-15 22:59] Phiber2000 commented on #23245
As temporary workaround, you can `chown www-data:www-data config/config.php` and cron.php will run.

[2016-03-15 23:00] deepeshmittal commented on #22993
Amazing !! it worked ...You are awesome, thanks mate, you saved my day!!

 Last thing, Do I need to copy activity folder back ?

[2016-03-15 23:36] Phiber2000 commented on #23245
Forget that 'single' file. Following the specifications, you have to `chown -R www-data:www-data config/`.
See https://doc.owncloud.org/server/9.0/admin_manual/installation/installation_wizard.html#setting-strong-directory-permissions.

[2016-03-16 01:07] blizzz commented on #22976
@danimo what's the username of Markus?

[2016-03-16 01:13] blizzz commented on #22976
At this point of time I don't know how the mismatching storage + username are created. If I change the storage name manually, a new one will be created with the username and the dir contents are ("re")canned. Resulting in duplicated entries in the filecache.

@danimo does this return anything? ``SELECT * from oc_storages WHERE id = "home::3171d281-b73c11e2-be138443-e451810b"``

[2016-03-16 01:19] blizzz commented on #22976
When an LDAP user is looked up (Users page, sharing dialog) it mapped and also the storage entry is created. There does not seem to be room between when a user is mapped and the entry is created to change the LDAP config in between.

[2016-03-16 06:07] fbartels commented on #23184
I don't really understand how the ticket workflow is organised here. While #23248 (which is a duplicate of this one imho) has a label, milestone and assignee (but no further comments) this ticket here is unclassified until now.

[2016-03-16 06:11] atroxix commented on #23049
It would certainly be great if you found the reason why this happened.

My question though is that what can I do to fix it now? Shall I just remove all the share rows and replace them with the ones from pre-9.0 dump?

[2016-03-16 06:26] PVince81 commented on #22993
For those who didn't restore from backup, did you run the same upgrade twice ? Maybe you experienced a timeout and had to rerun the upgrade ? So far it is still not clear what would cause a table to be created twice.

[2016-03-16 06:27] PVince81 commented on #23210
@RosinSmoke the cog is in the admin page or personal page, the place where you originally configured the Dropbox mount. The section is called "External Storages".

[2016-03-16 06:32] PVince81 commented on #23184
I was hoping that someone would find the duplicate and you did.

Closing as duplicate of https://github.com/owncloud/core/issues/23248

[2016-03-16 06:32] #23184 closed

[2016-03-16 06:34] PVince81 commented on #23049
It is still not clear to me what is causing your problem in the web UI.

@rullzer mentionned some orphaned shares. Did you run cron.php and did the orphans get cleared ?
You might want to set "last_run" to 0 in oc_jobs for the row that has "OCA\Files_sharing\Lib\DeleteOrphanedSharesJob", then run cron.php again.

Then the question is whether your web UI is still failing to display shares ?
If yes,

[2016-03-16 06:35] PVince81 commented on #23049
In addition, orphaned shares should not cause any issues and should already be ignored properly. So I suspect that after clearing them the problem will still persist.

[2016-03-16 06:40] PVince81 commented on #22976
@blizzz maybe it happened through older bugs from older versions and got carried on with updates ?
Let's see what @danimo finds out.

Then the question is, how would the sharing code react with shares with mismatched user names ? @rullzer

[2016-03-16 06:40] PVince81 commented on #22976
@blizzz assigning to you now until the needed info is gathered

[2016-03-16 06:41] atroxix commented on #23049
I've not run cron.php as I suspect it will delete all those "invalid" shares (which are not in fact invalid in the sense of their relevancy etc).
What do you mean by "orphaned" shares? @rullzer did not actually say that I have those, did he?

BTW, I hope "display shares" means also displaying shares I have shared with others (as this is the issue because I'm the main user of that OwnCloud).

[2016-03-16 06:43] Revertron commented on #22939
Yes, thanks.
But you could've used simple `move_uploaded_file()` if there is no encryption. May be that would be more robust?

[2016-03-16 06:43] PVince81 commented on #23049
I also see other reports about orphaned shares breaking stuff: https://github.com/owncloud/core/issues/23052 with the following workaround https://github.com/owncloud/core/pull/23039

[2016-03-16 06:45] atroxix commented on #23049
Well, for me it's not breaking anything. Those shares are just not listed as they should, and they don't work for other users.

[2016-03-16 06:46] BernieO commented on #22993
I also didn't restore from a backup. The error-message came up on the first run of occ upgrade.

[2016-03-16 06:47] PVince81 commented on #23049
Orphaned shares are share entries that either:
- have oc_share.file_source point to a oc_filecache.fileid that doesn't exist any more (deleted)
or
- have oc_share.uid_owner point to a user that was deleted
or
- have oc_share.share_with point to a user/group that was deleted

[2016-03-16 06:48] PVince81 commented on #22993
Did you guys run "occ upgrade" from the command line or in the web UI ?
Trying to find out what could have caused a "double upgrade" of some sorts.

[2016-03-16 06:49] atroxix commented on #23049
OK, in that case it would happen that those "invalid" shares really are taken as "orphaned", but in fact they should not be. So I'd like to fix them instead of removing them :)

PS. I suspect my comment about those shared not breaking anything is invalid as I get those JS errors.

[2016-03-16 06:50] PVince81 commented on #23049
@atroxix invalid/orphaned shares should be safely ignored by the code already. But it seems that yours are a bit special, or broken in a special way.

@rullzer can you clarify what you mean with this ? Did you find the same target file in oc_filecache but with a different fileid ?

[2016-03-16 06:53] PVince81 commented on #23140
@LukasReschke any update ?

[2016-03-16 06:55] rullzer commented on #23049
@PVince81 so yeah there were orphaned shares (by bad for calling them invalid). But the strange thing is I have his 2 dumps (8.2 and 9.0). If I run the cleanup query in 8.2 there are 20 valid shares. But if I run it on 9.0 there are only 2.

So what I did:

1. on 8.2
2. Grab the file_source of one of those 18 shares
3. Get the path_hash from the filecache
4. go to 9.0 db
5. Search for the path_has

[2016-03-16 06:58] atroxix commented on #23049
So could I just replace all those invalid lines in 9.0 DB with lines from 8.2 DB dump?

[2016-03-16 06:59] rullzer commented on #23049
@atroxix no that won't work. We modified that table a bit. And they will still point to invalid filecache entries..

[2016-03-16 07:00] PVince81 commented on #23110
I sent a support request to Github.

[2016-03-16 07:05] PVince81 commented on #23049
Indeed, fileid should not magically change like this, and especially not during the upgrade process.

@atroxix can you confirm that you're not using external storages and also you did NOT disable file locking ?

[2016-03-16 07:09] PVince81 commented on #23049
@atroxix also you didn't manually truncate the oc_filecache table by any chance ? Never ever do that by the way.

[2016-03-16 07:13] atroxix commented on #23049
Well, I just added one external storage (GoogleDrive) back today :)

I didn't change anything in this regard when upgrading to 9.0. When looking at "Transactional File Locking" part in manual, I say I don't have it enabled - there's no 'filelocking.enabled' => 'true' and neither is there File Locking app.

No.

[2016-03-16 07:16] atroxix commented on #23049
Heh, sorry, as file locking is not disabled it's enabled (as per manual) :)

[2016-03-16 07:17] PVince81 commented on #23049
That's fine, thanks. @rullzer might be onto something (chatting with him), it looks like something mysterious reindexed the storages/filecache entries which would have caused the bogus fileid change.

[2016-03-16 07:29] BernieO commented on #22993
I did run occ upgrade from the command-line after disabling 3rd party apps (also on the command-line with occ)

[2016-03-16 07:34] PVince81 commented on #23049
@atroxix did you move the "data" folder before doing the upgrade ?

So far it looks like something reindexed your storage.
If you do `select * from oc_filecache where storage=1 and name='';` before and after the update, the fileid is different.

[2016-03-16 07:41] PVince81 commented on #23049
@atroxix looking further, it looks like your storage (home:silver) is the only one that suffered from the fileid reindexation. Other storages look fine.

Did you at any point run "occ files:scan silver" after the update ?
Would be good if you could remember what you did exactly during the update.
So far there is no logical explanation to why your storage entries would get fully reindexed.

[2016-03-16 07:41] atroxix commented on #23049
I did move data folder at some point, but not before doing upgrade.

[2016-03-16 07:43] rullzer commented on #23049
If you data folder by any change on an NFS mount or something?

[2016-03-16 07:44] atroxix commented on #23049
No, it's on a ZFS.

[2016-03-16 07:50] PVince81 commented on #23049
Since 8.1, changes made directly inside the "data" folder are not detected any more and should not trigger reindexation of a storage/home. The only way to force reindexation and change the fileids would be to manually delete all entries in oc_filecache for that storage and then run "occ files:scan $user" for that user. That would cause the fileids to change.

Still not clear what part of the updat

[2016-03-16 07:51] mislav-eu commented on #23278
Additional info: this happens only for users that exists before upgrading to newest version.

In other words, detail explanation:
1) user1 - existed on version 8.2.2 and user2  was created after I've upgraded to 9.0.0

2) user1 password change - when I change password for user1 through admin part, only these two files are changed:
files_encryption/OC_DEFAULT_MODULE/XX.privateKey
files_encryption/O

[2016-03-16 07:52] mislav-eu commented on #18225
@PVince81 My apologies, kindly delete comment above and this one if needed, I've opened new ticket. Thanks

[2016-03-16 08:02] atroxix opened #23284 "GoogleDrive folder appears empty after file update"
### Steps to reproduce
1. Add GoogleDrive external storage
2. Update some file in GoogleDrive (re-uploading to either Google Drive or OwnCloud web UI)
### Expected behaviour

File should be update. I hoped to see whether versions are stored too.
### Actual behaviour

When uploaded to OwnCloud then 2 files with the same name appeared in both UIs.
I then removed this newer version from Google Drive

[2016-03-16 08:09] olivierchenede opened #23285 "CRON : php -f owncloud/cron.php never completes. app":"PHP","message":"Undefined index: all at apps/files_versions/lib/storage.php#732"
### Steps to reproduce
1. Try to manually launch OC CRON as root : /usr/bin/sudo -u apache php -f /var/www/html/owncloud/cron.php or in /etc/crontab : */15 * * * * apache /usr/bin/php -f /var/www/html/owncloud/cron.php >> /var/log/cron_owncloud.log 2>&1

### Expected behaviour
Cron tasks should complete

### Actual behaviour
php -f /var/www/html/owncloud/cron.php never completes. When launching th

[2016-03-16 08:15] ValidationManager opened #23286 "Documents App: "Error while sharing - error" when trying to share a file on owncloud 9.0.0"
### Steps to reproduce
1. Login, click on Documents App, select Document for editing
2. Click on Share button, enter 2 letters of another user and click on the autocompleted username to share
3. Dialog "Error while sharing - error" pops up. Sharing fails permanently.

### Expected behaviour
Sharing should be executed

### Actual behaviour
"Error while sharing - error" dialog is displayed

### Serv

[2016-03-16 08:28] AndreasBilke commented on #23245
Of course, but that would allow the www-data user to modify the file
anyway.

[2016-03-16 08:36] derekblankmccoy commented on #13158
@oparoz There is another app called "file counter" that sort of did the job, but that one doesn't work with oC8 and above.

I know there is emphasis on keeping the interface clean, so it could be kept that way. Just put the hooks in and make it log that activity in a csv.

A really cool idea would be Slack integration, that way Slack can take care of the logging.

[2016-03-16 08:37] jvillafanez opened #23288 "ownClouds with faulty mounts can't be accessed through the ownCloud external storage from another server"
### Steps to reproduce
1. Setup several mounts in server B, at least one of them with credentials issues (either not set, or wrong credentials)
2. Setup an ownCloud mount in server A to connect to server B. The mount must connect to the root folder of the ownCloud in server B
3. Create an user who can access to server B from server A, and who has faulty mounts in server B
4. Try to access to the m

[2016-03-16 08:38] tps800 opened #23289 "After upgrading from 8.2.2 to 9.0.0 all apache configurations for owncloud are missing"
### Steps to reproduce
1. upgrade working owncloud install from 8.2.2 to 9.0.0
2. restart your apache
3. point a client to http://<server>/owncloud -> URL /owncloud not found on server

### Expected behaviour
Owncloud should switch to maintenance mode and stay reachable

### Actual behaviour
Owncloud switches to maintanance mode, but it is not reachable any more

### Client configuration
**Operati

[2016-03-16 08:49] nickvergessen opened #23290 "Revisit URL methods and their usage"
We have a lot of methods to generate URLs.
IURLGenerator, Util, ...

The problem of that is, that some of them are not used the way they should be used.
E.g.

[code]

The problem is, most of the time the method is not called relative to the host, but to the ownCloud root. In fact in earlier versions the URL had to be relative to web root, until the method was patched to work magically: https://git

[2016-03-16 08:56] RosinSmoke commented on #23210
@PVince81
Oh, that's what you've told me about ( [screenshot](https://raw.githubusercontent.com/RosinSmoke/content/master/finally.png) ).
Yes, this worked, now sharing is available. Thank you very much!

Couple more things, though:

 - I failed to find it in 9.0 installation manual, can I ask your team to add the line to this guide, that explicitly mentions that one should enable sharing on ext. s

[2016-03-16 08:57] PVince81 commented on #23212
If I comment out https://github.com/owncloud/core/blob/e08f98075cff2087daba94cce1fb7e48e9d3c3ad/lib/private/filechunking.php#L225-L225 it works fine.

I suspect that this was missed when working on the locking code which added the "emitPostHooks" code. Will need some more careful testing.

First, I'll try and track the version in which this problem was added. Triggering hooks twice is likely to ca

[2016-03-16 09:02] tps800 commented on #23289
On CentOS 6 owncloud installs to /var/www/html/owncloud -- since this is within the server root the URL "http://<server>/owncloud" should be found in all cases without further configuration.

[2016-03-16 09:02] PVince81 commented on #23212
This is the commit that adds `emitPostHooks` to the file_assemble part. It was back in the time where we made file upload work directly on storages: https://github.com/owncloud/core/pull/17811/commits/63863271503384e124e39833d0598e8652d3a380#diff-2e4a54e72d495abc750a9bc445da15a0R413 from https://github.com/owncloud/core/pull/17811 CC @icewind1991

So this problem of firing hooks twice exists since

[2016-03-16 09:06] PVince81 commented on #23212
Hmmmm, same problem with prehooks apparently: https://github.com/owncloud/core/pull/17811/commits/63863271503384e124e39833d0598e8652d3a380#diff-2e4a54e72d495abc750a9bc445da15a0R365

[2016-03-16 09:14] PVince81 commented on #23210
@RosinSmoke please make separate tickets for separate issues.

Regarding documentation, @carlaschroder we should mention that sharing is disabled by default for external storages and that it can be enabled in the mount options (cog icon).

[2016-03-16 09:14] MorrisJobke opened #23291 "Integrity for themed mimetypes"
- place the updated mime type icons into the theme
- then run `./occ maintenance:mimetype:update-js` to update a JSON file to announce the new mime type icons to the JS code base
- now the ions should be properly shown in the web UI

This will generate following content:

[code]

@LukasReschke I think this will be causing issues with the integrity check.

[2016-03-16 09:14] LukasReschke commented on #23289
This should be fixed with https://github.com/owncloud/core/pull/23065. You can get a daily containing these patches already at https://download.owncloud.org/community/owncloud-daily-stable9.tar.bz2

[2016-03-16 09:14] #23289 closed

[2016-03-16 09:15] LukasReschke commented on #23278
cc @owncloud/encryption

[2016-03-16 09:16] LukasReschke commented on #23291
This is such a mess. Can't we put that stuff into a theme or so? :see_no_evil:

Overwriting core files for this *shivers*………

[2016-03-16 09:16] LukasReschke commented on #23281
Browser site ParserError => Please reopen at https://github.com/owncloud/calendar

[2016-03-16 09:16] #23281 closed

[2016-03-16 09:19] LukasReschke commented on #23286
Does sharing via the files interface work for you?

[2016-03-16 09:20] jknockaert commented on #23278
Maybe the time is right for #18951. But I have no time now to work on it; definitely not in time for 9.0.1.

[2016-03-16 09:21] nickvergessen commented on #23212
Created a PR on activity for 9.0 to ignore the exception in 9.0,
for 9.1 we should make sure to only trigger the hooks once.
So I will not patch that

@Nerthil feel free to test the patch from https://github.com/owncloud/activity/pull/490
Should stop the flood of exceptions in your log.

[2016-03-16 09:21] jtoloe commented on #22988
I had the same issue. I solved it by setting the "Internal Username Attribute" to `uid`, dumping the db, replacing all `uuid` fields in the dump with the corresponding `uid` and renaming all users files and encryption keys. It seems to be working. Not a fix for the actual issue but it shows that it is possible to get around it without clearing the mappings.

[2016-03-16 09:23] ValidationManager commented on #23286
Yes, sharing via files interfaces works as expected.

[2016-03-16 09:24] LukasReschke commented on #23286
cc @rullzer @PVince81 Wasn't there something with sharing and gallery as well? Maybe documents needs adjusting as well?

cc @VicDeo

[2016-03-16 09:24] PVince81 commented on #23212
Here is the PR to prevent hiring hooks twice on chunked upload: https://github.com/owncloud/core/pull/23292

[2016-03-16 09:26] PVince81 commented on #23286
not sure, @oparoz might know

[2016-03-16 09:26] #23117 closed

[2016-03-16 09:28] PVince81 commented on #23049
@icewind1991 can you think of other places in the code where such symptoms could be triggered (storage fully reindexed, changed fileids) ? It only happened for a single storage.

[2016-03-16 09:29] PVince81 commented on #23049
Another clue is that the size of the root folder is "-1" in the reindexed version, which looks like the entries were inserted from somewhere but not fully scanned. This is usually the behavior of the scanner when scanning an external storage. It first goes through all entries and then updates the sizes. For some reason it seems it didn't finish.

[2016-03-16 09:30] sbryf commented on #23158
### Steps to reproduce
Not sure how to reproduce this. Happens straight after I login - I am getting three error messages in the log regarding this with same content. Same when I switch to Profile or Admin - 2 error messages in the log.

### Expected behaviour
No error message

### Actual behaviour
Error message raised

### Server configuration
**Operating system:** Webhoster - domainfactory

**We

[2016-03-16 09:43] jvillafanez opened #23294 "Users can see the admin mounts and set their credentials from the personal page only if they're allowed to mount their own mounts"
### Steps to reproduce
1. Setup several admin mounts with different type of credentials
2. Make sure the "Allow users to mount external storage" is unchecked
3. Go to the personal page

### Expected behaviour
Admin mounts that can be used by the current user should be shown there. Users can set their own credentials in mounts whose credentials type is  "user credentials"

### Actual behaviour
Noth

[2016-03-16 09:47] PVince81 commented on #23294
@Xenopathic if you have a free minute ? :wink:

[2016-03-16 09:48] Nerthil commented on #23212
@nickvergessen looks good. Thanks

[2016-03-16 09:48] atroxix commented on #23049
Can I try fixing some columns of some of those invalid shared manually?

[2016-03-16 09:49] PVince81 commented on #23294
The expected behavior is aligned on WND's previous behavior. So if we don't fix this it could be considered a regression. Increasing severity.

@Xenopathic let me know if you don't have time and I'll take care of it myself.

[2016-03-16 09:49] owncube commented on #22968
Hello people.
@autrui @Eridania : about your "RewriteRule" issue. Its not related to ownCloud. Its webserver/php issue. We had the 500errors on many testsystems. You are right that remove this "#RewriteRule .* index.php [PT,E=PATH_INFO:$1]"  from the htaccess will fix it BUT. the code integrity check will fail because of wrong hash as you wrote. We have updated php+apache+mysql,.. to the latest st

[2016-03-16 09:50] RosinSmoke opened #23295 "Double file when sharing file from ext storage where recipient also has access to said storage"
### Steps to reproduce
1. Create a file as 1st user
2. Return to Files mode
3. Drag-n-drop the file to Dropbox location as 1st user (encryption is enabled and sharing is allowed for this Dropbox external storage)
4. Log in as 2nd user
### Expected behaviour
1. If file was not shared by 1st user to 2nd, the file in Dropbox storage should not be seen by 2nd user
2. If file was shared before moving,

[2016-03-16 09:50] rullzer commented on #23286
Documents app is still using our removed internal endpoint. https://github.com/owncloud/documents/issues/622

Which is why it is not working yet.

[2016-03-16 09:50] #23286 closed

[2016-03-16 09:51] PVince81 commented on #23049
@atroxix if you still have the share entries (not cleant up by cron) then you can try setting "file_source" and "item_source" to the correct $fileid. To find the correct file id, look at "oc_filecache" and find the entry for the folders/files that were previously shared. You might also find this information in your 8.2 dump.

This would rewire the shares to point to the correct files.

[2016-03-16 09:52] gwes commented on #15504
I can confirm having what appears to be the same issue.

Existing directory shared with existing ldap group
new user added to ldap group via domain
user appears in the correct group in domain and in owncloud web interface
logging on as the user and no shared directories/files are available

I'm not 100% sure that removing and re-sharing works
(I can't take any shares away from people right now)

I

[2016-03-16 09:53] js94x opened #23296 "Can not share file via link from a shared folder / Error: "Default encryption module" is not able to read"
### Steps to reproduce
1. Encryption enabled
2. LDAP enabled (Active Directory)
3. Create folder with local admin account
4. Share folder e.g. "CustomerX" with group "GroupX" in LDAP
5. Log in with an AD user that is member of group "GroupX"
6. Upload file in shared folder
7. Share this file via link
### Expected behaviour

Link opens and the file is available for download
### Actual behaviour

Li

[2016-03-16 10:09] MorrisJobke commented on #23291
cc @Xenopathic

[2016-03-16 10:19] #23148 closed

[2016-03-16 10:28] Phiber2000 commented on #23245
That's why there is a `config_is_read_only` parameter... ;)
Additionally you could write-protect the file.

[2016-03-16 10:35] TheReal1604 commented on #23248
Is this fix working? https://github.com/owncloud/core/pull/23237/commits/e1727477ac53e609b22b8708542be0dacd891968 .. i would try this on the evening..

[2016-03-16 10:50] Stormblade commented on #22993
Any clues how to fix this?  Currently the server has been down since this attempted update.
Moving the app folder suggestion only works if you know which app is causing the problem.  How do you tell?

[2016-03-16 10:58] lnxbil commented on #15504
Over the last month, we had non-deterministic behavior:

Adding 4 users in a batch, 3 work, one does not (not automatically shared).

[2016-03-16 10:58] AndreasBilke commented on #23245
Yes, but config_is_read_only is only a flag. If you have malicious/bad
code, this flag does not matter ;)

But write-protecting is a good hint and workaround.

[2016-03-16 11:09] atroxix commented on #23049
Great success. I updated those fields of one of my main shared folders and it's listed now. 'size' of this row in oc_filecache is -1 though.

[2016-03-16 11:16] fbartels commented on #23248
No, that did not have any effect for me in https://github.com/owncloud/core/issues/23184#issuecomment-196512223

[2016-03-16 11:19] schiesbn commented on #22286
I can repeat it randomly. With a small text file which only contain the string "hello world". What I discover is that sometimes we don't read the complete header aka first block of the file (8192byte) but only (1448byte). This can be observed here: https://github.com/owncloud/core/pull/23108 In this case the calculation of the signature fails because we end up with the wrong payload.

I think the

[2016-03-16 11:23] oparoz commented on #13158
@derekblankmccoy files_counter doesn't do what you need as it only counts files downloaded from the Files app. The results would be hugely inaccurate.

I could deliver an oC9 compatible app written with the Appframework which would log to ElasticSearch the following information when a shared file is opened (to download or sync):  current user, file, timestamp. I'm sure lots of ESlog features can b

[2016-03-16 11:29] masupilamie commented on #18214
I don't know if this is a fix or a workaround but for me this appears to work.
Also I do not know if this introduces other issues, but seems ok for me (some files do get re-synchronized though).

Add `dos filetime resolution = yes` to you smb.conf share (or use it globally).
See https://www.samba.org/samba/docs/using_samba/ch11.html

Tested using owncloud server 9.0 (stable) on ubuntu 14.04 with O

[2016-03-16 11:38] nickvergessen commented on #22993
Can you post a backup of your `oc_appconfig` table from **before** the update attempt?

[2016-03-16 11:39] schiesbn commented on #22286
For larger files it seems like already the write operation fails, it only writes the first few bytes and stops then.

This is what my log file shows during the write operation:

[code]

continue debugging...

[2016-03-16 11:45] Blackclaws opened #23297 "/dev unreadable leads to blank page and upgrade error"
### Steps to reproduce
1. Install Owncloud 9.0
2. Revoke read and execute access to /dev folder for the http user
3. Owncloud only yields a blank page

1. Install Owncloud 8.2.3
2. Revoke read and execute access to /dev folder for the http user
3. Owncloud only yields a blank page
4. On upgrade to Owncloud 9.0 via occ upgrade you get "Cannot open source device" exception

### Expected behaviour
An

[2016-03-16 11:47] TheReal1604 commented on #23248
@LukasReschke Is this pull request related to this issue? (https://github.com/owncloud/core/pull/23237/commits/e1727477ac53e609b22b8708542be0dacd891968)

[2016-03-16 11:56] LukasReschke commented on #23248
No.

[2016-03-16 11:58] PVince81 commented on #22708
PR is done: https://github.com/owncloud/core/pull/22789
For "favorites" is just changed its API to also return the share types.

[2016-03-16 11:59] PVince81 commented on #23049
@atroxix now run "occ files:scan silver"

[2016-03-16 12:02] PVince81 commented on #22286
@schiesbn argh, this https://github.com/owncloud/core/issues/22286#issuecomment-197271231 sounds like the issue we had also with GDrive.
When using PHP's fopen on URLs, a `fread` isn't guaranteed to always return the number of requested bytes. One needs to repeat the call.

The workaround we used there was to use a temporary file, see https://github.com/owncloud/core/blob/v9.0.0/apps/files_externa

[2016-03-16 12:03] zwollex opened #23298 ""Downloaded, Renamed Conflicting File" When syncing files from network share"
Hi,

I am syncing a folder which is located on a network share (SMB fileserver) and whenever I reboot or come back from sleep/hibernate, I keep getting these messages in the "recent changes" list. " Downloaded, Renamed conflicting file".

At first I was ignoring this because the files were still intact and looked fine to me. However, if I delete a file, it automatically rsync this file and placing

[2016-03-16 12:03] sporokh commented on #23003
In anyone using alpine-linux:
Fixed this issue on alpine-linux by simply installing php-xmlreader package.

[2016-03-16 12:11] #23168 closed

[2016-03-16 12:14] #23078 closed

[2016-03-16 12:17] BernieO commented on #22993
Here it is (sorry for bad formating...):

--
-- Table structure for table `oc_appconfig`
--

DROP TABLE IF EXISTS `oc_appconfig`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `oc_appconfig` (
  `appid` varchar(32) COLLATE utf8_bin NOT NULL DEFAULT '',
  `configkey` varchar(64) COLLATE utf8_bin NOT NULL DEFAULT '',
  `confi

[2016-03-16 12:19] tps800 commented on #23289
I've upgraded as adviced. It is NOT fixed!

BTW: owncloud occ now reports:
[code]

[2016-03-16 12:24] Florz commented on #22988
@devuan2 I saw the same symptoms in Thunderbird. I had to delete my old user name from the password store and type it again (the way it is stored in OC) after restarting Thunderbird.

[2016-03-16 12:30] DeepDiver1975 commented on #22988
@blizzz Can I ask you to help out on these LDAP issues? THX

[2016-03-16 12:31] atroxix commented on #23049
[code]

And now? :)

[2016-03-16 12:32] schiesbn commented on #22286
@PVince81 yes, it seems like there are also issues with fwrite... still debugging...

[2016-03-16 12:33] DeepDiver1975 commented on #22988
sorry - you are already having a look. THX

[2016-03-16 12:35] DeepDiver1975 commented on #22988
@Florz casing might be of interest in your case

[2016-03-16 12:38] Florz commented on #22988
@DeepDiver1975 Yes this seems to be the problem. My problem was fixed already. Thanks!

[2016-03-16 12:50] icewind1991 commented on #22286
@schiesbn could you try adding https://github.com/icewind1991/Streams/blob/05a6f6127f76cb6ba38e235b5c4a312ebceaf7cc/src/RetryWrapper.php

And then wrap the fopen result from ftp with `RetryWrapper::wrap`

[2016-03-16 12:51] MorrisJobke commented on #20261
Done https://github.com/owncloud/core/pull/23304

[2016-03-16 12:59] schiesbn commented on #22286
@icewind1991 I will try it, code looks promising

[2016-03-16 13:00] tps800 opened #23305 "After upgrading from 8.2.2 to 9.0.0 all apache configurations for owncloud are missing"
Refer to #23289

I've tested the provided fix by LukasReschke. Did not work. same as before. Moreover: since OC reported:
[code]

after installing the given *.tar.gz-file (https://download.owncloud.org/community/owncloud-daily-stable9.tar.bz2), while I reported having installed by *.rpm, I am now unable to go back to the 9.0.0-1.1-Version:
[code]

Any ideas?

[2016-03-16 13:00] LukasReschke commented on #23298
Please fill out the issue template. THX.

[2016-03-16 13:01] freaknils commented on #22996
Sorry my fault!

I use nginx and the DAV-URI had changed but I did not change the rewrite in nginx config.

Thanks!

[2016-03-16 13:01] #22996 closed

[2016-03-16 13:03] icewind1991 commented on #18929
unavailable storages are already skipped in the scanner since 9.0/8.2.3/8.1.6 (https://github.com/owncloud/core/pull/20789) so I think we can close this

[2016-03-16 13:05] LukasReschke commented on #22762
I had some more thoughts about this. While this is not the most intuitive behaviour it is actually acceptable.

The other option would be to display a warning "unreadable folder". This won't change much compared to the generic PHP exception.

[2016-03-16 13:05] #22762 closed

[2016-03-16 13:25] gvde opened #23306 "current-user-principal returns incorrect href."
Request the current user principal from carddav and it returns an incorrect href for the current user principal on owncloud 9:

[code]
with propfind4.xml:
[code]
and after entering correct user password, returns:
[code]
However, /owncloud/remote.php/carddav/principals/users/myself/ does not exist. The only principal uri that exists would be /owncloud/remote.php/carddav/principals/myself/

[2016-03-16 13:30] LukasReschke commented on #23306
cc @DeepDiver1975

[2016-03-16 13:38] Xenopathic commented on #23291
cc @rullzer

[2016-03-16 13:39] icewind1991 commented on #22286
@schiesbn made a small error in the code, https://github.com/icewind1991/Streams/blob/6eaa5952be392078458107324770d59e7ac312c7/src/RetryWrapper.php is the proper version

[2016-03-16 13:41] PVince81 commented on #23049
That's it. Did it fix the sizes ?

[2016-03-16 13:43] Xenopathic commented on #23256
@mmattel It would stop ownCloud caching any information about such a storage, so no indexing, sharing etc would be able to occur, which would probably prevent the Gallery app from working.

[2016-03-16 13:44] schiesbn commented on #22286
@icewind1991 I'm still struggling to get it working. I always get this error message but can't really see why:

[code]

[2016-03-16 13:45] derekblankmccoy commented on #13158
@oparoz
I mentioned ESlog because it was almost there, to be honest ElasticSearch is a bit complicated and it logs a whole load of stuff that makes no sense. Here's the list of stuff it logged:

User login
User logout
User creation
User deletion
Password change
Group creation
Group deletion
User added/removed to/from a group
Read file **(it doesn't)**
Write file
Delete file
Copy/rename file
Share

[2016-03-16 13:50] MorrisJobke commented on #23291
I guess I mix you both always up :(

[2016-03-16 13:51] Xenopathic commented on #23294
The problem is that the entire GUI section gets disabled if that checkbox is unmarked. Do we want to show the GUI section if there aren't any applicable admin mounts configured, and that checkbox is unmarked? As described here, we definitely need to show the GUI section if there are some applicable admin mounts...

[2016-03-16 13:52] Xenopathic commented on #23291
@MorrisJobke We both worked on mimetype stuff, don't worry :smile:

[2016-03-16 13:53] icewind1991 commented on #22286
right, you probably need to update the entire library to https://github.com/icewind1991/Streams/tree/retry

[2016-03-16 13:54] icewind1991 commented on #22286
I will do the whole, tagging release, updating 3rdparty, etc, once we know this fixes the issue

[2016-03-16 13:57] schiesbn commented on #22286
That's what I did, set the version in composer.json to "dev-retry" and run `composer update && composer install`. But I still get the error mentioned above

[2016-03-16 14:11] atroxix commented on #23049
Yes it did. It also caused the client to re-download all the files (or at least very many of them).

[2016-03-16 14:19] PVince81 commented on #23049
The scan shouldn't. The reason it redownloads is because the file ids changed.

[2016-03-16 14:23] carlaschroder commented on #23210
This stuff is documented. However, buttons that appear only on mouseover aren't a good idea IMO. They don't save space, they just create confusion. I am going to open a ticket.

[2016-03-16 14:24] icewind1991 commented on #22286
it might be conflicting between the lib included in files_external 3rdparty and core 3rdparty, will make a pr to remove the one from files_external

[2016-03-16 14:27] oparoz commented on #13158
@derekblankmccoy - OK, as mentioned earlier, ES requests can be tuned to send exactly what you need, but if that complicates your workflow, then there is no reason to take that path.

AFAIK, that would be the same job as doing an app which connects to ES, I would just change the client. Someone could even extend the app to make it possible to pick the backend to use for logging.
Since you're payin

[2016-03-16 14:28] PVince81 commented on #23210
It's not mouseover, you have to click on the cog. But you're right that it's a bit too hidden... that ext storage UI needs a good revamping.

[2016-03-16 14:29] PVince81 commented on #23294
Yes, let's always show the GUI, but remove the empty row so the user cannot add new mounts.

[2016-03-16 14:40] icewind1991 commented on #22286
#23314

[2016-03-16 14:40] carlaschroder opened #23316 "Invisible buttons should be visible"
I suggest that the invisible gear and trash icons in external storages really need to be always visible, and not visible only on mouseover. Making users hunt for the secret controls doesn't seem like a good idea :) They don't save space, as the width of the panel is the same regardless if they are visible or not.

Where O where are the rest of the controls?

![external-storage-icons-1](https://clo

[2016-03-16 14:41] carlaschroder commented on #23210
https://github.com/owncloud/core/issues/23316

[2016-03-16 14:41] blizzz commented on #23081
https://owncloud.technolink.lu/index.php/s/KyXYucDljOb2rnR

Just tells me "File not found"

[2016-03-16 14:42] schiesbn commented on #22286
Yes, this was the issue. Didn't know that we had two copies of it. After updating the copy in file_externals as well it worked and the the bug here was solved. So it would be great if you could create a new release of your stream wrapper and dump our 3rdparty dependencies.

[2016-03-16 14:47] alexweirig commented on #23081
@blizzz
Sorry, the file was "unshared".
I've shared it again with this link
[](https://owncloud.technolink.lu/index.php/s/sVq1mNqMY856sZ6)

[2016-03-16 14:47] alexweirig commented on #23081
https://owncloud.technolink.lu/index.php/s/sVq1mNqMY856sZ6

[2016-03-16 14:54] PVince81 commented on #23316
@owncloud/designers

[2016-03-16 14:54] atroxix commented on #23049
The svan changes IDs every time? Because before it everything was in sync ok. Or wasn't it in fact?

[2016-03-16 14:55] PVince81 commented on #23049
The scan must NOT change the ids. If it does, then maybe you managed to somehow retrigger the bug we're looking for. Can you check ?

[2016-03-16 14:57] melo1 opened #23317 "Calendars from other Users show private appointments"
Steps to reproduce
1.Share calendar to another user without write permission
2.As the other user Access your calendars via caldav

Expected behaviour

Private appointments of others should not be shown.
Confidential appointments of others should be shown without Details.

Actual behaviour

All appointments of read only calendars are shown with full Details.

Server configuration

Operating system:

[2016-03-16 15:00] PVince81 commented on #23123
Weird. How likely would this bug be triggered in other situations ? Is LDAP the only env that can cause this ?

[2016-03-16 15:02] DeepDiver1975 commented on #23317
What makes you think the calendar is not read only? According to the acl we are sending out the calendar is readonly

[2016-03-16 15:07] PVince81 commented on #23110
Damn, I tried to cheat it by moving the milestone or removing the labels... also doesn't work.

[2016-03-16 15:08] mmattel commented on #23256
@oparoz FYI

[2016-03-16 15:09] melo1 commented on #23317
The caldav client does not recognize the calendar as read only.
This problem was already there in 7.0.x and was fixed already.
In 8.0.x everything was okay.
With 8.1.x the problem came back and is still there.

[2016-03-16 15:13] mmattel commented on #23256
@Xenopathic If that get´s implemented, the storage should get some "tagging" like a different color to identify that this feature has been set.

[2016-03-16 15:16] RosinSmoke commented on #23210
[Doubled files 23295](https://github.com/owncloud/core/issues/23295)

[2016-03-16 15:17] vanMacG commented on #22762
@LukasReschke I agree with you that a php exception or a warning message results in exactly the same. My point was that the hole integrity check blows up and doesn't display the other errors (file differences).
So in a case where there is, for what ever reason, a file/folder which is not readable, you don't get any information from the ingetrity checker.
What I expected was an output/information l

[2016-03-16 15:19] PVince81 commented on #23295
Thanks for the detailed report.
I tested Dropbox today and didn't see such issue, but I wasn't looking carefully.

Let me have another try.

[2016-03-16 15:20] PVince81 commented on #23295
@RosinSmoke is your Dropbox storage a system-wide storage ? (configured in the admin page, not personal page) And it looks like you let all users access that same system-wide storage, is that correct ?

[2016-03-16 15:21] PVince81 commented on #23295
also does user1 share with user2 or the other way around ? which user is the recipient ?

[2016-03-16 15:26] PVince81 commented on #22978
Not sure if that's really a "high" issue if it only occurs when permissions were wrong.

The question is how could the permissions be wrong in the first place ?

[2016-03-16 15:27] PVince81 commented on #22826
PR is here https://github.com/owncloud/core/issues/23300

[2016-03-16 15:31] RosinSmoke commented on #23295
@PVince81
So, the DB location was added by root using admin page, mounted to the local storage root folder and is available for "admin" group and that group, where user1 and user2 are.
User1 (who is group admin, if that matters) shares files to the user2 (who is not), and files were created/uploaded by user1 only, I should probably try all this backwards.

[2016-03-16 15:32] rullzer commented on #22978
@PVince81 yeah that is the question indeed. I know it happened to a few users at least (@dragotin was also affected). So it might be that it is mostly older installations.

[2016-03-16 15:33] PVince81 commented on #22678
PR https://github.com/owncloud/core/pull/22949 was merged, closing

[2016-03-16 15:33] #22678 closed

[2016-03-16 15:39] rullzer commented on #23291
Ues let me take a look at that... but not now...

[2016-03-16 15:44] blizzz commented on #23081
I agree with you

Looks good as well and would improve readability.

Doh. This makes reading the dynamic groups totally useless, worsening performance since it is done any time. And if the cache is not set, the groups are being re-fetched in the else part, ignoring dynamic members. How did this slip our eyes at all?

However, this does not make sense here anyway, just as you say it yourself

There

[2016-03-16 15:50] #22826 closed

[2016-03-16 15:53] LukasReschke commented on #21994
Fixed in the 9.0 branches by https://github.com/owncloud/core/pull/21308. For 8.2 please install the bc package.

[2016-03-16 15:53] #21994 closed

[2016-03-16 15:59] PVince81 commented on #22666
Okay here we go, some more detailed steps to reproduce:

1. Download and setup the bitnami VM https://bitnami.com/stack/owncloud/virtual-machine (make sure to set bridge adapter)
1. Enable the news app
1. `curl -D - 'http://192.168.177.229/index.php/apps/news/settings' -X PUT -H 'Content-Type: application/json;charset=UTF-8' --data-binary '{"language":"en","showAll":true,"compact":false,"oldestFir

[2016-03-16 16:01] stogh commented on #23066
We were having the same issue and we've solved it regenerating the owncloud's cache using the following command: `sudo -u www-data php console.php files:scan --all`

[2016-03-16 16:04] stogh commented on #23066
Sorry, I was wrong, I tried with a browser were I logged by hand, using a new browser session the bug is still present

[2016-03-16 16:07] PVince81 commented on #22666
Also missing on GET requests.

I tried OC 8.0 and there is no such header either.

So it looks like this was never implemented in the first place ?

[2016-03-16 16:28] florianbeer opened #23321 "Code integrity check after changing maximum upload size via GUI"
### Steps to reproduce
Following steps at [Uploading big files > 512MB](https://doc.owncloud.org/server/9.0/admin_manual/configuration_files/big_file_upload_configuration.html?highlight=upload%20big%20files#configuring-upload-limits-within-the-gui)
1. Ensure correct permisisons for `.htaccess` and `.user.ini`
2. Set Maximum upload size using the File handling input box within the administrative ba

[2016-03-16 16:32] stogh commented on #23066
Just in case it is useful for debugging, I've been able to use a public link to a password protected directory by doing the following:
- Share a directory using the password `123`.
- Go to the generated link (https://owncloud.my.server/index.php/s/guggZo4RHbMwPTp) using a browser and authenticate using `123` as the password.
- At this point the page fails as described, we stop the page reloading a

[2016-03-16 16:34] paurisa commented on #23316
I found the stylesheet file that makes the element hidden and I'm already fixing this.

[2016-03-16 16:40] PVince81 commented on #21357
Looking at the documentation, it looks like it is not possible to stream-upload: https://developers.google.com/api-client-library/php/guide/media_upload

The best recommended way to upload is to use resumable/chunked upload as suggested here https://developers.google.com/api-client-library/php/guide/media_upload#resumable-file-upload

I can have a try with the example code...

[2016-03-16 16:46] MorrisJobke opened #23322 "Don't show "allow sharing" for mounts using "Login credential""
- setup a "login credential, store in session" mount point
## expected
- "allow sharing" is disabled
## actual
- "allow sharing" can be checked, but will not work

cc @icewind1991 @Xenopathic

[2016-03-16 16:58] MorrisJobke commented on #23321
Fixed by https://github.com/owncloud/core/pull/23250 in 9.0.1 and 9.1.0

[2016-03-16 16:58] #23321 closed

[2016-03-16 17:00] PVince81 commented on #21357
It worked! Here is hunk upload for GDrive: https://github.com/owncloud/core/pull/23323

[2016-03-16 17:01] MorrisJobke commented on #23305
Actually it's unsupported to roll back, but there shouldn't be any breaking changes since then. Simply place the 9.0.0 code (I guess this is provided by the rpms) and then change the version in config/config.php to `9.0.0.19`.

[2016-03-16 17:01] #23305 closed

[2016-03-16 17:09] blizzz commented on #23123
It can happen on any DB-based config update where this is not caught.

[2016-03-16 17:11] PVince81 commented on #23135
@blizzz @Xenopathic

[2016-03-16 17:16] PVince81 commented on #9630
Original ticket was moved to 9.1 because replacing a library in a maintenance library is very risky, https://github.com/owncloud/core/issues/19941. @cmonteroluque move this one to 9.1 too ?

At least now we have a PR on the way...

On another note, are we even sure that the new implementation works with ProFTPd ? Do we have an environment to reproduce the original issue so we can test if whether P

[2016-03-16 17:19] atroxix commented on #23049
If you mean in filecache table then it seems IDs have not changed - latest added files are still with the biggest IDs.

Weird that the client re-downloaded the bunch of files then...

[2016-03-16 17:20] PVince81 commented on #17544
8.1.0 is old, might be fixed in 8.1.5 already.

@xn--nding-jua was this with your live system or were you able to reproduce this on a test system ?

[2016-03-16 17:21] PVince81 commented on #23049
Hmmm, can you check whether the "etag" value changes ? Because that's what the client looks at to decide whether files are changed and require redownload.

Does the redownload happen again if you rescan ?

[2016-03-16 17:34] LukasReschke commented on #23066
@stogh Would it be possible for you as well to send me a link to a shared link on your instance? You can find my mail address in my profile.

[2016-03-16 17:37] LukasReschke commented on #23066
Waiting for some adjustments by @TDannhauer as requested via private mail.

[2016-03-16 17:42] LukasReschke commented on #23066
Somehow the request to `/public.php/webdav/` fails, however Apache seems to eat the error message.

![2016-03-16_18-41-10](https://cloud.githubusercontent.com/assets/878997/13822655/ca5d4e1a-eba6-11e5-893d-a2c622bd1dad.png)

[2016-03-16 17:54] htwsaaraub commented on #23045
Will someone re-open this request or should I open a new one?

[2016-03-16 18:00] Xenopathic commented on #23256
@mmattel Sure, that would be a good UX feature

[2016-03-16 18:01] jesmrec opened #23325 ""Allow editing" capability in share by link not disabled"
### Steps to reproduce
1. "Allow editing" capability is enabled in Share API
2. Share a folder by link -> The link is correctly created
3. Enable the option "Allow editing" of the just created share
4. Copy and paste the Share link in a browser -> New content can be uploaded to the shared folder
5. Disable "Allow editing" capability in Share API -> Share link does not show the option
6. Refresh th

[2016-03-16 18:02] blizzz commented on #23135
Login is always done directly against LDAP/AD. If there was problem, it would occur in browser B as well. Likely the issues is somewhere else. External files?

[2016-03-16 18:03] Xenopathic commented on #23123
@PVince81 For example, if a DB user were to try to set their email or display name to the already-existing value, on some DBs that would perform an actual data update (and the DB layer would report 1 affected row), but on others the DB is smart enough to recognize that the value is unchanged, and report 0 affected rows, triggering this bug.

[2016-03-16 18:06] Xenopathic commented on #23045
@htwsaaraub Ah, you edited your comment. In future, just reply with the issue report contents, that way we get notified about it (also you should be able to re-open the issue yourself? Not sure how that works on GitHub...)

[2016-03-16 18:06] MorrisJobke commented on #16078
I updated the PR of @georgehrke

[2016-03-16 18:15] ankitjain28may commented on #23146
You want to enhance the feature, when someone login from other IP, a mail would be sent through your page.

[2016-03-16 18:18] atroxix commented on #23049
Scanned again and only 2 rows changed: a GoogleDrive share and something empty. And no re-downloading.

[2016-03-16 18:31] Anonymousginger61 opened #23327 "Max Storage Reached - Error"
### Expected behaviour
I have a 750GB HDD on my Raspberry Pi that is running Owncloud along with Webmin, Samba file sharing, MiniDLNA and Kodi. The operating system is run off an 8GB MicroSD card and everything has been working great until recently. The version of Owncloud is 8.2.2 . What should happen is i should be fine for storage space for months as i currently only have a few GB of Owncloud f

[2016-03-16 18:54] LukasReschke commented on #22666
ACK. => Feature request.

[2016-03-16 18:55] gvde opened #23328 "shared address book doesn't show through carddav"
owncloud 9: If someone shares an address book with me, I can see the contacts from the address book online in the contacts app. However, through carddav the address book is not shown. If I do a:
[code]
with propfind3.xml containing:
[code]
I only get this:
[code]
which is my own collection and my own address book "contacts" but the shared one is missing.

The problem seems to be that getAddressBoo

[2016-03-16 19:03] mmattel commented on #23256
and we have to propagate "no-scan" for federated sharing.
btw, better than a color would be a different icon, so we stay open to have colors for current inaccessability...
(I know, very early thinking for this, but you never know how fast it will come :smile: )

[2016-03-16 19:31] oparoz commented on #23256
For which Gallery and video_player are the perfect viewers

There seems to be a contradiction then... but that statement may not be true.
Gallery relies on local thumbnails, there is no reason those shouldn't be accessible and if some are missing, they will be generated on image access. If that doesn't work, then media files won't get a preview which would make no sense for such storage.

Is there

[2016-03-16 19:40] Xenopathic commented on #23256
@oparoz As long as the Gallery or Video Player don't require an index of all available media files, and can instead work directly on the files within the storage, then it would work fine. The display feature of these apps in particular should be unaffected. But a global 'show me all my pictures' view would probably skip such storages.

Perhaps caching directory contents per-session is a good idea,

[2016-03-16 19:50] oparoz commented on #23256
@Xenopathic - Cool, Gallery uses the node API to get a list of files belonging to the node linked to a given path, so I'm hoping that the API can access files directly when not in the presence of a file cache.

That was removed with the introduction of Gallery. No more `searchByMime()`.
But what about tagged files and comments? That wouldn't be available either for that type of storage, correct?

[2016-03-16 20:18] blizzz commented on #22976
In @danimo`es case these are two different users (one LDAP, mgoetz local). They share the same user folder, but of course have own storage entries. The problematic entry belonged to the local user.

That means that there is no issue with different usernames and storage ids.

[2016-03-16 20:19] enoch85 commented on #22977
Ok, I got it again. Here are some error outputs from inspect tool in Chrome:

[code]

[2016-03-16 20:27] blizzz commented on #22976
Anyway, this common usage of the same user folder probably lead to that effect that the LDAP-Markus was sharing the file, which was connected to the Local-Markus's storage, I assume. Does it sound likely @icewind1991?

[2016-03-16 20:30] Xenopathic opened #23330 "Issues with file locking and inception ownCloud external storage"
I just booted up my dev instance on the latest master, and pretty much everything in the web UI is not responding, and I'm seeing variations on the following error in the logs for inserts and deletes on oc_file_locks:

`General error: 1205 Lock wait timeout exceeded; try restarting transaction`

Running MariaDB, PHP 7, ownCloud master, DB file locking (obviously)

~~I don't know if my inception ow

[2016-03-16 20:31] goopen opened #23331 "Clicking thumbnails in activity panel will 404 your request (file not found)"
Hello,
Recent upgrade from owncloud 8.2 to 9.0 404's thumbnails in activity panel when clicking on them. Looks as if something is borked when checking the logfile since it says `open() "/var/www/owncloud404` which is wierd since the directory name is `owncloud` and not `owncloud404`. Might be expected tho.

### Steps to reproduce
1. Upload a picture via webgui/mobile/client
2. Check activity (www.

[2016-03-16 20:32] blizzz commented on #22976
Anyway, this is probably just a funny accident, since @jospoortvliet experiences the stuff with only local users.

[2016-03-16 20:37] Xenopathic commented on #23330
Almost certainly something to do with my inception ownCloud storage. It was configured with login credentials (store in session), that killed my ownCloud as soon as it was status checked.

[2016-03-16 20:39] Xenopathic commented on #23256
@oparoz RE tagged files and comments - I'm not sure on the implementation of these features, but they probably use the filecache and so would not work. This feature would only be used for storages the administrator wants to use as a raw file dump, but still wants access via the ownCloud web UI rather than [insert proprietary file access solution here].

[2016-03-16 20:43] Xenopathic commented on #23327
From your logs: `2016-01-20` is a long time ago - perhaps you copied /var/www/owncloud/data/owncloud.log instead of /media/harddrive/owncloudfiles/owncloud.log?

[2016-03-16 20:46] RobinMcCorkell opened #23332 "External storage login credentials in admin settings should be 'indeterminate status'"
Setting up a storage with login credentials in the admin settings results in the storage being attempted to be created with the credentials of the admin (bad!) and then marked either good/bad as appropriate. Since the admin credentials won't necessarily be those applicable to the storage, it should be marked as indeterminate status (yellow blob).

[2016-03-16 20:48] danimo opened #23333 "occ file:scan reports error if user never logged on"
### Steps to reproduce
1. Create user "newlycreated"
2. Make sure he doesn't log in
3. run occ file:scan

### Expected behaviour
System should not issue a misleading warning

### Actual behaviour
occ issues: `Home storage for user newlycreated not writable`

### Server configuration
**Operating system**:
Debian Jessie

**Web server:**
Apache 2.4
**Database:**
MariaDB

**PHP version:**
7.0.3
**ownC

[2016-03-16 20:56] LukasReschke commented on #23147
@Loki3000 Thanks a lot. Judging from the dump I'd say the CSRF error is fixed with https://github.com/owncloud/core/pull/23237. Could you test this?

Probably the best way to test this would be to download https://download.owncloud.org/community/owncloud-daily-stable9.tar.bz2 as this also contains other DAV related patches.

[2016-03-16 20:56] #23181 closed

[2016-03-16 21:17] blizzz commented on #22976
A current backtrace from @jospoortvliet, not much differing from the one in the description though.

[code]

We checked the shares of this file (a folder). There were two entries, a share between two local users and a link share. Additionally this file was residing on an external storage.

The folder was accessible by mount between those two users, which make the share in the database look strange

[2016-03-16 21:28] blizzz commented on #22976
In danimo's case a folder we looked at also belongs to an orphaned storage (4). There is no user connected to its username.

I believe we can say this somehow relates to shares on orphaned storages.

[2016-03-16 21:30] blizzz commented on #23333
@icewind1991 @PVince81

[2016-03-16 21:48] Night-Illusions commented on #22887
Same issue here.
Today tested federated feature with the german education cloud sciebo (owncloud fork). Just the standard folder "Documents". 5 Minutes later I deleted the folder in sciebo. After some testing I found the cronjob was working endless. I deleted trusted federation domains from backend and then the cronjob was gone.

Log:

`{"reqId":"KyS5dUs7wZpCXPQkfx2V","remoteAddr":"","app":"federa

[2016-03-16 22:22] reuterbal commented on #22988
The fix of @jtoloe, to set the "Internal Username Attribute" to the uid-property of the LDAP-directory, replace all UUIDs by the appropriate uid in the database, and rename data directories accordingly, allows to get sync working again, however does not yet fix all problems:

- Calendar and Contacts sync works for LDAP-users via the new DAV-URLs. Manual rewrites for the old URLs must be added manu

[2016-03-16 23:21] oparoz opened #23337 "setId is missing from IShare"
`OC\Share20\Share` implements `\OCP\Share\IShare`

We can see this method claiming to be an implementation
[code]
https://github.com/owncloud/core/blob/73e37377771ecd24ca44bc3176e491977df0da10/lib/private/share20/share.php#L74-L80

but that's missing from the interface.

https://github.com/owncloud/core/blob/master/lib/public/share/ishare.php#L36

Another hint is that `setId` is also used quite of

[2016-03-16 23:38] suderman commented on #23123
This patch helped me as well, and I'm not using LDAP.

I upgraded from 8 to 9. Logging in would show an error and provide the login form a second time. However, hitting refresh would reveal that I successfully logged in the first time, but clearly the exception caused some confusion.

[2016-03-17 02:42] ibarragerman opened #23338 "Problem to add user."
### Steps to reproduce
1. After a clean installation ussing softaculus
2. When it trying to add a new user or group nothing happends.
3. If you check the error console appear the following error.

Failed to load resource: the server responded with a status of 403 (Forbidden)
users.js:827 Uncaught TypeError: Cannot read property 'message' of undefined

### Expected behaviour
Tell us what should hap

[2016-03-17 03:54] RodolVelasco commented on #14386
Hey guys have someone of you installed apcu for php7?

[2016-03-17 04:30] Larx commented on #22988
I added dummy users, shared the LDAP users' contacts and calenders to them, and manually changed all client URLs to the dummy users, as I would have had to change the URLs anyway (dav instead of caldav...). Cumbersome for my family installation, no option for real world installations.
On several places in the OC GUI I get the impression that the UUID-stuff is somehow mixed up, e.g. the calendars o

[2016-03-17 05:46] apg1980 opened #23339 "Feature Request: OC9 Administration -> Users -> Display Storage Usage of each User"
It would be very cool to see a feature within the users overview to see how much storage is each user consuming. is something of this planned?

[2016-03-17 06:20] Loki3000 commented on #23147
I apply this patch to stable release and it's work well. Thanks!

[2016-03-17 06:38] rullzer commented on #23337
Yes, I'm still not sure how to solve it. Because consumers of the API should not touch the id basically. That should just be set by share providers.

[2016-03-17 07:00] oparoz commented on #23337
I though it might have been the reason it wasn't included.
So if you want to keep it that way, maybe change the comment on the method?

[2016-03-17 07:13] rullzer commented on #23337
Yeah. Does not solve to problem that we need it in test sometimes... (and mocking all those methods is a real pain).

[2016-03-17 07:24] oparoz commented on #23337
Definitely and I'm not sure what the best practice is in this case. Does it really make sense to only have the getter there if the setter is not supposed to be used?
Regarding tests, maybe mock that object once in a trait so that all tests which involve sharing can use it?

[2016-03-17 08:14] LukasReschke commented on #23338
Please provide more information such as the exact version etc.

[2016-03-17 08:19] Silli123 commented on #23203
I have the same problem. After upgrade to owncloud 9 all contacts birthdays are missing in the calendar and DavDroid shows an error on sync.

When i change or add a birthday to a contact with owncloud contacts app, this birthday shows in the calendar.

When i change or add a birthday to a contact with smartphone and sync with DavDroid, this birthday isn't shows in the calender and isn't shows in t

[2016-03-17 08:26] DeepDiver1975 commented on #23203
according to the vcard spec the date format is https://en.wikipedia.org/wiki/ISO_8601

the correct format should be yyyy-mm-dd

[2016-03-17 08:27] DeepDiver1975 commented on #23203
please run the occ command - thx

[2016-03-17 08:40] aspdye commented on #23339
There are some apps for ownCloud which show charts about the usage:

https://apps.owncloud.com/content/show.php/Storage+Usage+%2B+Activity+Charts?content=166746
https://apps.owncloud.com/content/show.php/Usage+Charts?content=164956
https://apps.owncloud.com/content/show.php/Storage+Charts+2?content=165528

Please keep in mind, that all these apps are unmaintained, and are only compatible up to own

[2016-03-17 08:41] derekblankmccoy commented on #13158
Ok, whichever way it goes, does oC core need to be modified at all to acknowledge filesystem reads? If so that has to be done whatever the outcome is.

[2016-03-17 08:45] MorrisJobke commented on #9465
Fixed by #23326

[2016-03-17 08:45] #9465 closed

[2016-03-17 08:54] oparoz commented on #13158
For reads of files shared, no. There could be a bug in core as others are reporting issues receiving some events in their apps, but that would be a bug which needs fixing in core, not something new which needs to be approved and implemented. There is a one line patch which can be applied anyway to work around the problem and which I used for testing.

[2016-03-17 08:55] #23294 closed

[2016-03-17 08:57] MorrisJobke commented on #23294
Backport to stable9 in  #23335

[2016-03-17 09:02] DeepDiver1975 commented on #23339
I'd be rather careful with integration into the user management - the storage usage cannot be computed by the admin online because some mounted storages are only available if the user is logged in.
Online computing the storage usage for thousands of users is anyhow a pain.

It wold be necessary to compute the usage for every user within his session - on login? on logout? on each file operation?
Lo

[2016-03-17 09:04] stephan2012 opened #23341 "Integrity check stumbles over lost+found special directory"
Dear owncloud maintainers,

my ownCloud 9.0 installation lives on a dedicated ext4 filesystem mounted on /var/www/owncloud. As usual it has a _lost+found_ directory granting access to root only. ownCloud runs as a different user and has no access to it. Thats why the new integrity check throws an exception on it:

[code]

It would be nice if ownCloud just skips the _lost+found_ special directory o

[2016-03-17 09:09] vb0 commented on #22993
I did not restore from a backup but I think I did upgrade twice from command line (well, I tried many times but I have done one before the table exists problem). I ignored the first run because it seemed to do nothing, unfortunately I really can't remember what happened there. Where should the log be for this upgrade?

[2016-03-17 09:12] DeepDiver1975 commented on #23328
@gvde shared with you explicitly or with a group you are in?

[2016-03-17 09:20] jospoortvliet commented on #13158
One thought about this - now the Activity stream might have downsides (it isn't meant to be a legal-requirements-compliant monitoring tool), but it is enough for normal human beings and there IS a API to grab the content - the desktop client shows the content right now, for example and the mobile clients will introduce this over the coming releases. So you'll have access to this trace of 'what is

[2016-03-17 09:30] gvde commented on #23328
Oh. Forgot that: shared with a group I am in... also editing allowed.

[2016-03-17 09:32] nivoliev commented on #22993
I can confirm in my case that the problem was due to an error in a previous upgrade attempt. The error message was that of #23013. Since the proposed solution was to restart the upgrade, that's what I did. I am using the basic sqlite as well, and the data directory containing the database is a symbolic link to a folder on another volume. This is probably the cause of the first upgrade failure. I b

[2016-03-17 09:44] PVince81 commented on #23123
I understand, but I'm surprised this didn't pop up earlier for other non-LDAP related stuff.

[2016-03-17 09:47] PVince81 commented on #23049
Ok thanks... Would you be able to put your 8.2 backup on a separate test server and re-run the update, to see whether the fileid changes situation happens again ?

At this point it is close to impossible to find out what went wrong and why.
If the test update fails again then at least there might be hope debugging it.

[2016-03-17 09:50] PVince81 commented on #23256
Yes, everything that requires a fileid would not work without file cache. That includes "shares", "personal tags", "system tags", "favorite", "comments", ...

One alternative would be to implement your own cache implementation using the new Storage API, but make that one read/store the metadata/fileid directly on-disk. Or maybe it could store the fileid as extended attribute if the filesystem supp

[2016-03-17 09:50] Echse27 opened #23343 "ERROR: No app in context OC_9.0.0"
### Steps to reproduce
1. When a user upload a file, this error appiers in log file...
2. The file ist uploades successfully
3.

### Server configuration
**Operating system**:
UbuntuServer 14.04 LTS
**Web server:**
Apache/2.4.7 (Ubuntu)
**Database:**
mysql  Ver 14.14 Distrib 5.5.47
**PHP version:**
PHP 5.5.9-1ubuntu4.14
**ownCloud version:** (see ownCloud admin page)
9.0.0
**Updated from an older

[2016-03-17 09:52] PVince81 commented on #22977
Ok, so `OC.SetupChecks.checkDataProtected` is receiving a 401 on the data folder. Usually that should be a 403.

Can you try this:
`curl -D - http://localhost/owncloud/data/`
and then with an authenticated user:
`curl -D - http://admin:admin@localhost/owncloud/data/`

Both should return 403.

I suspect that something in your setup is blocking the data folder using a different approach.

CC @LukasR

[2016-03-17 09:55] PVince81 commented on #22976
@rullzer @blizzz can we simulate this situation locally and see how the sharing code behaves ? Ideally such error should be ignored and nothing should break.

[2016-03-17 09:56] PVince81 commented on #23333
Ah yes, I remember have seen this before.

[2016-03-17 09:57] PVince81 commented on #23333
Need to check whether it happens with "occ files:scan --all". If yes, does it abort scanning or continues ?
If it aborts, then that's bad => high.
If it ignores it, not too bad => medium

Setting to high for now to try it out.

[2016-03-17 09:58] PVince81 commented on #22887
@MorrisJobke @nickvergessen

[2016-03-17 10:03] danimo commented on #23333
Yes, it was happening with `--all` in the first place.

Don't know. It happend on the last projected user...

[2016-03-17 10:04] PVince81 commented on #22993
To check whether you ran the same upgrade several times, have a look at "owncloud.log", there should be entries that look like "Starting upgrade from version XXX to YYY" (something like this, not the exact text). You can check whether the version numbers in these messages are the same several times.

[2016-03-17 10:06] PVince81 commented on #23343
Duplicate of https://github.com/owncloud/core/issues/23212

[2016-03-17 10:06] #23343 closed

[2016-03-17 10:07] PVince81 commented on #23341
@LukasReschke

[2016-03-17 10:08] PVince81 commented on #23339
Duplicate of https://github.com/owncloud/core/issues/1344

[2016-03-17 10:08] #23339 closed

[2016-03-17 10:08] PVince81 commented on #1344
Removing junior job tag, this is tricky and I remember @icewind1991 saying that the APIs aren't quite ready to make this work efficiently.

[2016-03-17 10:09] PVince81 commented on #8273
storage stats raised here https://github.com/owncloud/core/issues/1344

[2016-03-17 10:12] PVince81 commented on #23337
@rullzer IIRC for the comments API the id setter is there, but throws an exception if there is already an id in the comment model.

[2016-03-17 10:13] PVince81 commented on #23331
@nickvergessen regression or did this never work when introduced the activity tab ?

[2016-03-17 10:15] PVince81 commented on #23330
Can you clarify what you mean with "inception instance" ?

Are you connecting an ext storage to the same instance but another user/root ?

[2016-03-17 10:19] PVince81 commented on #23327
Maybe the `disk_free_space` function doesn't work properly on that partition ?

Try running this script:
[code]

[2016-03-17 10:20] PVince81 commented on #23325
@rullzer please have a look

[2016-03-17 10:22] mirekys commented on #23151
I have managed to reproduce the first problem:

- Create 2 files in 2 separate directories: a/test.txt (with content 'a') and b/test.txt (with content 'b').
- Delete both files exactly at the same time (I have done it using sync client)
[code]

- Look into trashbin, you can restore only one of the files, that got deleted last, the second one got overwritten:
[code]

[2016-03-17 10:22] PVince81 commented on #23306
@DeepDiver1975 didn't you fix this already ? I remember seeing a PR that fixed hrefs

[2016-03-17 10:23] PVince81 commented on #23151
Ahhhh, right, because they both get the same timestamp...

[2016-03-17 10:24] alexweirig commented on #23081
@blizzz
Thanks for the feedback.

Yes, I'll try to do a PR ...

This is (unfortunately) after the changes ...

[2016-03-17 10:24] BernieO commented on #22993
To me it happened with the first upgrade attempt. Excerpt of my owncloud.log:

{main}\",\"File\":\"\\\/usr\\\/share\\\/nginx\\\/www\\\/owncloud\\\/3rdparty\\\/sabre\\\/vobject\\\/lib\\\/Parser\\\/MimeDir.php\",\"Line\":253}","level":4,"time":"2016-03-10T18:26:53+01:00"}
{"reqId":"S1jYE7AKOXHS48iQAKBz","remoteAddr":"192.168.1.30","app":"PHP","message":"Undefined index: addressBookId at \/usr\/share

[2016-03-17 10:27] oparoz commented on #23256
So how does that work? You get a list of paths and can get the content that way? Without a fileId, there are no previews available and so Gallery wouldn't work either then...

Could work with a SSD, but I don't think each app should write their own cache, seems like a waste. Definitely looks like a good solution for a temp cache as discussed above.

[2016-03-17 10:28] atroxix commented on #22987
BTW, I just tried upgrade from 8.2 to 9.0 with all the changes applied to it, but the external share still causes UI to be very-very slow (waiting for timeout or something). When I remove the line from oc_share_external table it becomes responsive again.

[2016-03-17 10:33] rullzer commented on #23325
Ok PR incomming

[2016-03-17 10:34] BernieO commented on #22993
P.S.: I did upgrade 2 days before from 8.2.2 to 8.2.3 - maybe the table causing issues was created then?

[2016-03-17 10:35] rullzer commented on #22987
@atroxix yeah that is to be expected. but are all your shares still there?

[2016-03-17 10:36] p5n commented on #23273
Sorry, probably whole contact cannot be dropped, but anyway contacts are editable.

[2016-03-17 10:36] DeepDiver1975 commented on #23306
The LegacyDAVACL plugin is performing the transformation of principals - which is not necessary in this case :cry:

[2016-03-17 10:38] atroxix commented on #22987
OK. Commenting about my shared under the other issue ;)

[2016-03-17 10:38] atroxix commented on #23049
Tried the upgrade again both with the patches applied to 9.0, and without them. On both occasion the shares remained intact.

[2016-03-17 10:40] ChristophWurst opened #23345 "DAV app returns raw contact image instead of URL"
### Steps to reproduce
1. Use OCP\Contacts\IManager::search
2. Use the 'PHOTO' attribute as url for the contacts image

### Expected behaviour
'PHOTO' should be a valid URL for an image that can be used in the browser, e.g. contact images in the mail app.

### Actual behaviour
'PHOTO' contains the raw image.

**ownCloud version:** (see ownCloud admin page)
9

That behavior changed when switching f

[2016-03-17 10:40] atroxix commented on #23049
So maybe it was upgrade to 9.0-RC1 which broke those shares... Because after that I couldn't actually use OwnCloud for a few days because of the unresponsiveness.

[2016-03-17 10:44] PVince81 commented on #23049
Okay, thanks. Then I'll close this, it is likely that it was caused by the upgrade to RC1 which had some issues with shares and FS stuff.

[2016-03-17 10:44] #23049 closed

[2016-03-17 10:50] rullzer commented on #23325
PR in #23346

[2016-03-17 10:52] DeepDiver1975 commented on #23306
@gvde thanks a lot for this in depth testing - fix is available at https://github.com/owncloud/core/pull/23342

[2016-03-17 10:56] DeepDiver1975 commented on #23345
The old contacts app was returning a url - yes - here is the code

https://github.com/owncloudarchive/contacts/blob/master/lib/addressbookprovider.php#L162-L169

[2016-03-17 10:57] PVince81 commented on #22286
As discussed with @schiesbn, here's the plan for 9.0.1:

1. Update Icewind/Streams library in both 3rdparty and files_external/3rdparty to avoid composer issues from https://github.com/owncloud/core/pull/23314
1. Check the diff of the Icewind/Streams to find out other unrelated affected code paths that might require regression testing
1. Apply the RetryWrapper **only** on the FTP storage for now,

[2016-03-17 10:58] DeepDiver1975 commented on #23345
I need to think about on how to fix this in the future.

@ChristophWurst with respect to the mail app as of today: as you can see there used to be a prefix given to the photo element:

[code]

The mail app code should check for this and only use the url is given

[2016-03-17 10:59] DeepDiver1975 commented on #23273
does this apply to user based shares as well? THX

[2016-03-17 11:01] DeepDiver1975 commented on #23256
file cache is a central architectural concept of owncloud - there is no way to live without it.

[2016-03-17 11:01] #23256 closed

[2016-03-17 11:08] PVince81 commented on #23052
@conloos To find orphaned shares:

- from deleted file id: `select * from oc_share s where not exists (select fileid from oc_filecache fc where fc.fileid = s.file_source);`
- from deleted owner: `select * from oc_share s where not exists (select 1 from oc_users where s.uid_owner = uid);` (not for LDAP)
- shared with deleted recipient: `select * from oc_share s where not exists (select 1 from oc_us

[2016-03-17 11:10] olerichter commented on #23052
Will post the result on the weekend wenn I have a little sparetime again.

[2016-03-17 11:28] mathieumd opened #23347 "Corporate proxy required: "Error occurred while checking server setup""
### Steps to reproduce
1. Install ownCloud on a server _without_ internet access (all outside traffic must pass through a corporate proxy);
2. Go to the page `/owncloud/index.php/settings/admin`;
3. Wait a few seconds until the timeout.
### Expected behaviour

The "Security & setup warnings" section should quickly display a list of configuration hints. Including one explaining that internet access

[2016-03-17 11:31] rullzer opened #23348 "External storage sharing options not easily found"
It appears it is not always clear to users that we now by default disable sharing of files on external storages. And also not that clear how to enable it.

I suggest we add a note to the bottom of the sharing stating that sharing options per external storage can be configured in the external storage settings.

Or maybe we should open the configs by default when dding a new storage.

CC: @owncloud/

[2016-03-17 11:32] PVince81 commented on #23052
@rullzer can you see if you can simulate these situations https://github.com/owncloud/core/issues/23052#issuecomment-197825127 in 9.0.0 and see whether it breaks anything ? Goal is to try and find out in what way the shares were orphaned.

[2016-03-17 11:33] DeepDiver1975 commented on #23347
@LukasReschke mind taking a look? THX

[2016-03-17 11:34] PVince81 commented on #16906
@LukasReschke any idea ? SSL stuff, FTP uses a plain `fopen()` on the URL, maybe it's missing more init params to make it work.

This is assuming that the certificates of the FTP servers were valid ? @oparoz @davitol

[2016-03-17 11:34] DeepDiver1975 commented on #23347
@mathieumd you can disable internet connectivity setting this config parameter: https://github.com/owncloud/core/blob/master/config/config.sample.php#L474-L477

and the proxy can be configured here: https://github.com/owncloud/core/blob/master/config/config.sample.php#L364-L367

[2016-03-17 11:35] DeepDiver1975 commented on #23347
... to see if we can enhance the messages being displayed - THX

[2016-03-17 11:35] PVince81 commented on #23348
Similar to https://github.com/owncloud/core/issues/23316

[2016-03-17 11:36] DeepDiver1975 commented on #23338
let's simply reopen this issue as soon as we have more information

[2016-03-17 11:36] #23338 closed

[2016-03-17 11:38] DeepDiver1975 commented on #23297
anything in the logs?

[2016-03-17 11:40] p5n commented on #23273
Yes, I was able to remove Notes field and edit Groups in AB shared directly to me by username.

[2016-03-17 11:40] DeepDiver1975 commented on #22992
only implementing IApachebackend is not enough - please get in touch with us on irc - the issue tracker is for real issues and enhancement requests not for general development help.

THX

[2016-03-17 11:40] #22992 closed

[2016-03-17 11:42] DeepDiver1975 commented on #23273
What client are you using?

[2016-03-17 11:44] blizzz commented on #22976
1. Have two users
2. Configure an external storage, local type (/tmp/foo) and enable sharing
3. As user A, create a folder in this mount and share it to user B. Also create a file in that folder.
4. As user B, log in, browse around, download that file
5. Outside of ownCloud create a symlink to /tmp/foo as /tmp/foobar
6. Change the external storage path from /tmp/foo to /tmp/foobar
7. Profit. local

[2016-03-17 12:02] rullzer commented on #23052
I tested on master. I did the 'destructive' operations directly on the db. So no cleanups or whatever.

* from deleted file id:
  1. share folder from user1 to user2
  2. delete folder from the filecache
  3. login as user1
  4. login as user2
* from deleted owner
  1. share folder from user1 to user2
  2. delete user1 from oc_users
  3. login as user2
* shared with deleted recipient:
  1. share f

[2016-03-17 12:16] mathieumd commented on #23347
Thanks @DeepDiver1975.

I set the `proxy` parameter, and indeed it fails instantly (so there is no timeout, apparently), but still the request fails with a 500 error code and the same message "Error occurred while checking server setup".

The `has_internet_connection` works, but I would prefer to get the `proxy` parameter to works, of course.

[2016-03-17 12:29] rperezb commented on #22786
@SergioBertolinSG fyi

[2016-03-17 12:37] p5n commented on #23273
Web UI

[2016-03-17 12:44] jtoloe commented on #22988
@reuterbal "Preemptive Authentication", whatever it means, is working for me with DAVdroid.

[2016-03-17 13:00] PVince81 commented on #22976
@blizzz that's clever, using local ext storage to simulate orphaned entries! Nice one!

So if I understand properly, the share is pointing at an obsolete "oc_storages" entry and since that one isn't mounted (or is it?), it fails.

[2016-03-17 13:03] icewind1991 commented on #22975
This looks like a remote server being slow and not a problem on our side

[2016-03-17 13:03] PVince81 commented on #22976
@icewind1991 is there a way to make this more robust ?

@blizzz let us know when your second idea for @danimo's env pops up :smile:

[2016-03-17 13:07] PVince81 commented on #23052
@rullzer thanks a lot. So this tells us that the share entries from the bug reporters do not match these criteria.

Another possibility is that their shares are pointing at obsoleted storages, see what @blizzz found here: https://github.com/owncloud/core/issues/22976#issuecomment-197842198. Not sure if 100% related.

More information from @olerichter, @conloos and @rpelissi is required to confirm

[2016-03-17 13:22] icewind1991 commented on #22286
https://github.com/owncloud/core/pull/23351

[2016-03-17 13:22] e-alfred opened #23356 "When deleting user warn admin if user has things shared with other users and ask whether to keep these (for the other users)"
### Steps to reproduce
1. Delete a user as an admin.
### Expected behaviour

The admin should get warned if the user has folders/files/contacts/calendars shared with other users and get an option if he wants the other users to keep these folders/files/contacts/calendars etc in their directories.
### Actual behaviour

Everything this user shared with others is deleted. Restoring is not easy if encr

[2016-03-17 13:26] derekblankmccoy commented on #13158
@jospoortvliet The desktop client activity is no different to the activity feed on the web console. It doesn't show if a user I shared a document with has actually pressed the download button (on web or mobile client).
It's very simple. When I share something with someone, I want to know if they got it or not. It's the whole point of sharing after all.

Scenario:There's a group of 500 students and

[2016-03-17 13:29] #22786 closed

[2016-03-17 13:39] schiesbn commented on #23278
@jknockaert #18951 is also nothing we would do for 9.0.1 (minor versions are only for bug fixes). So the earliest date for this is 9.1.

[2016-03-17 13:39] jnweiger commented on #21780
The generic owncloud-files package from https://download.owncloud.org/download/repositories/9.0/owncloud-files/ solves this.

Discussion how to get the dependency packages like php5-libsmbclient compiled for specific systems is a documentation issue. https://github.com/owncloud/documentation/issues/2172

[2016-03-17 13:41] oparoz commented on #16906
Tried with localhost. Can't connect, but looking at the error I guess that's to be expected as the certificate was not created for localhost...

`SSL operation failed with code 1. OpenSSL Error messages:\nerror:14090086:SSL routines:ssl3_get_server_certificate:certificate verify failed`

Using a domain
[code]

[2016-03-17 13:43] oparoz commented on #16906
Same problem with localhost without TLS.

So until connecting works again, I can't test if a directory listing is possible.

[2016-03-17 13:46] mislav-eu commented on #23278
Is there any ETA for 9.1. ? Encryption is one of the biggest strengths of OC and without it, it's similar to any other solution out there, so fixing this problem together with the https://github.com/owncloud/core/issues/18225 https://github.com/owncloud/core/issues/22042 is kinda important.

If you guys need tester for encryption, I will volunteer.

[2016-03-17 13:47] LukasReschke commented on #16906
Assigning myself… will take a look. Blame @PVince81 :see_no_evil:

[2016-03-17 13:47] schiesbn commented on #23278
@mislav-eu I tried it but couldn't reproduce it. What I did:

1. setup ownCloud 8.2.2 with encryption, recovery key
2. create a user "user1" and enable the recovery key for user1
3. upload some files for user1
4. upgrade to ownCloud 9.0
5. login as admin and go to the user management
6. enter the recovery key password and change the password for "user1"
7. login as "user1" with the new password
8.

[2016-03-17 13:51] jknockaert commented on #23278
@schiesbn agree

[2016-03-17 13:51] schiesbn commented on #23278
@mislav-eu bug fixed will of course end up in bug-fix releases like 9.0.1. But a complete new recovery key behavior like suggested in #18951 will only happen in a new major release

[2016-03-17 13:54] rullzer commented on #23150
@jesmrec I can share with a user ending in an @.

Can you please double check?

[2016-03-17 13:55] mislav-eu commented on #23278
@schiesbn this is exactly what I did, however 8.2.2. was not clean installation, it was upgrade from 8.1.x - something like that

I can provide you with some credentials to this server if you want to check it out.

[2016-03-17 13:56] rullzer commented on #23337
@PVince81 I like that approach... I'll take care of it.

[2016-03-17 13:58] oparoz commented on #13158
@derekblankmccoy - I ran through a similar scenario when trying to understand if using the Activity panel was usable, but I thought it would quickly be unmanageable without a lot of customisation.
Let's say you get 48 notifications. How do you find the missing 2 if you need to send them a reminder?

But if I understand correctly what @jospoortvliet is saying. Pushing notifications to Activity, as

[2016-03-17 14:02] jesmrec opened #23357 "Federated Sharing with trusted servers (Federation app) shows "at" instead of "@""
### Steps to reproduce

Set the federation app, and try to share a file/folder with a user in the trusted server (for example,  "remoteUser")

### Expected behaviour
Matching result:

remoteUser (@serverURL)

### Actual behaviour
Matching result:

remoteUser ( at serverURL)

### Server configuration
{"installed":true,"maintenance":false,"version":"9.0.0.19","versionstring":"9.0.0","edition":"Enter

[2016-03-17 14:06] rullzer commented on #23357
I think this was on purpose... @schiesbn

[2016-03-17 14:13] mislav-eu commented on #23278
@schiesbn also note - sometimes when you initially log in for very first time after changing password you can read the files and then you logout and log in back with the same password - you're no longer able to read files

[2016-03-17 14:13] jesmrec commented on #23150
Checked and works fine in

{"installed":true,"maintenance":false,"version":"9.0.0.19","versionstring":"9.0.0","edition":"Enterprise"}

[2016-03-17 14:24] blizzz commented on #22976
@PVince81 one idea was that storages are not removed on user deletion. But I could not confirm it about local users. The other one is that there was such an LDAP user A, who had the home folder in common with another one, and was eventually deleted on LDAP, but not deleted in ownCloud. Waiting on feedback from @danimo about it.

If true, this could be a problem in general if any user  is temporari

[2016-03-17 14:26] #23150 closed

[2016-03-17 14:26] olimination commented on #23199
Hi,

I tried to remove the line (mentioned in the patch #23029):

    RewriteRule .* index.php [PT,E=PATH_INFO:$1]

but this did not solve the problem on my shared hosting.

The following .htaccess change was successfull for me. I changed the lines:

From:
[code]

To:
[code]

But I'm not familiar with the code in overall, so maybe @LukasReschke could review this.

For the moment this fix works for

[2016-03-17 14:30] LukasReschke commented on #23199
@olimination @perohen Please try again with the patch from https://download.owncloud.org/community/owncloud-daily-stable9.tar.bz2

[2016-03-17 14:43] LukasReschke commented on #23147
@Loki3000 Thanks a lot. Awesome.

Can you open a new issue if any other of the issues listed in the top post are still applicable? Thanks a lot! :)

[2016-03-17 14:43] #23147 closed

[2016-03-17 14:47] karakayasemi opened #23360 "\OC\Files hooks don't fire, for folder which only contains folders"
I writed an app that changes file ownership on the filesystem to actual ldap user who uploaded or created new files and folders. The reason why I done that is wanted to use linux filesystem quota for some reasons.

To achieve this I used files hooks explained in the <a href="https://doc.owncloud.org/server/8.2/developer_manual/app/hooks.html?highlight=hook">Developper Manual 8.2</a>

In the app, I

[2016-03-17 14:51] olimination commented on #23199
Unfortunately I still face the same issue (core/js/oc.js file not found) after a complete reinstall with your mentioned download above.
Version installed now: ownCloud 9.0.0 (daily) Build:2016-03-17T03:46:56+00:00 ed4ed0e26f334ead5c4bc6b6d7f72a931a19ad18

[2016-03-17 14:53] blizzz commented on #22976
I got the confirmation from @danimo that the orphaned storage belonged to a deleted local user. Apparently some time somewhere cleanup was not that complete when deleting users. Possibly it's also from the old days when we did no cleanup at all when a user was deleted.

So, what we basically need is a repair step or maintenance tool that goes through the existing storages and figure out which ones

[2016-03-17 14:53] LukasReschke commented on #23347
What's the error message you get in your logs with a configured proxy?

[2016-03-17 14:57] PVince81 commented on #22976
@blizzz let's make a separate ticket for this. The critical part "making data inaccessible" was solved through @icewind1991's fix, so I think the severity for the repair step is less than critical.

Would be good to find out how OC 8.2.3 behaves in that regard. I suspect that the storage API changes may have produced real issues while the old code might have just ignored it.

[2016-03-17 14:58] PVince81 commented on #22976
Also to note: such repair step cannot be written pre-OC 9 because there was no way to resolve a user id from an oc_storages entry. Since OC 9 there is the table "oc_mounts" that contains such information, so it could be used for that, given that the table is left as is after user deletion...

[2016-03-17 15:34] schiesbn commented on #17444
That's the correct path. It should contain a fileKey and at least a `<owber>.shareKey`.

The other folder is the old folder used in ownCloud <=8.0. Do you remember if the migration between 8.0 and 8.1 went fine? Looks something during upgrade went wrong.

[2016-03-17 15:40] blizzz opened #23364 "Maintenance tool to deal with orphaned storages"
Since 9.0 shares in orphaned storages throw Exceptions (cf. https://github.com/owncloud/core/issues/22976#issuecomment-197552922). ownCloud is still operable and no data is broken or lost or anything, but these Exceptions do occur and or logged.

Two reasons are known for orphaned storages:
- an external storage path was changed in the configuration despite being already in use
- a user was delete

[2016-03-17 15:40] matyas1995 opened #23365 "Contacts not showing after upgrade"
I upgraded my oc from 8.2.2 to 9 and the contacts app to 1.0.0.

Now none of the contacts can be seen in the contacts app, even though they are still in the database. CardDav clients can still sync, create and edit contacts. If I create a new contact in the contacts app, it only shows up in the list but cannot be edited in the app because no details are shown. When the page is reloaded it is not s

[2016-03-17 15:41] PVince81 commented on #23364
As discussed before, we can't go through all "home::" storages because some are md5-ied, so we can't resolve the user id. We need to start with all user ids to be able to find matching storages.
"oc_mounts" could be used potentally, but the trouble is that it's only initialized when setupFS is called.

[2016-03-17 15:41] schiesbn commented on #17444
From the migration 8.0 -> 8.1 you should have a backup of the keys in `data/user/encryption_migration_backup_<date>`. Look there for the folder named like the file and copy the share keys over to the new location `user/files_encryption/keys/files/SeveralFolders/myfile.xls/OC_DEFAULT_MODULE/` this should fix it.

[2016-03-17 15:42] LukasReschke commented on #23199
@olimination Can you post what kind of environment you use so I can reproduce this locally? Thanks a lot.

(e.g. install CentOS XYZ, execute `yum …`, do xyz, open bar)

[2016-03-17 15:45] danimo commented on #23364
@PVince81 If they are stored as md5, how can they ever be looked up successfully again?

[2016-03-17 15:46] LukasReschke commented on #23199
This was btw. the case before https://github.com/owncloud/core/commit/a936107c5c6c514de38903c42dd09f3d6267524b as changed in https://github.com/owncloud/core/pull/20879. Given the recent changes done to .htaccess this may not be required anymore… Let me see…

[2016-03-17 15:46] blizzz commented on #22976
As discussed with @PVince81, the criticalness here was solved with https://github.com/owncloud/core/pull/23039, for dealing with the root problem please follow https://github.com/owncloud/core/issues/23364

[2016-03-17 15:46] #22976 closed

[2016-03-17 15:47] PVince81 commented on #23364
Originally, back in older OCs when this was introduced, it was only used when the user id was already known. If you log in as "user1" then it would concatenate with "home::user1" and do the md5 only if it's longer than 64 chars. Can happen with long user ids like LDAP ids.

Same for shares, at that time the user ids are already known. So basically you could only resolve storages in a single direct

[2016-03-17 15:49] blizzz commented on #23364
What @danimo has in mind is that you can take the known user-ids and brute-force-hash them until it matches with a storage.

[2016-03-17 15:49] MorrisJobke commented on #23364
https://github.com/owncloud/core/wiki/Storage-IDs

[2016-03-17 15:56] olimination commented on #23199
I have installed in on my Shared Hosting (hostpoint.ch, FreeBSD 10.2, Apache 2.2, PHP 5.6.18) account with the following steps:

1. Downloaded https://download.owncloud.org/community/owncloud-daily-stable9.tar.bz2
2. Copy it to my document root
3. Unpacked it to the root level of my docroot
4. Accessed my.domain.org to start the Installation wizard
5. Entered my installation configuration: Admin u

[2016-03-17 15:59] LukasReschke commented on #23199
Nah. Should work for both, also works fine for all the other users out there. So there seems to be something different here. I'll try to see whether changing this back would work :confused:

[2016-03-17 15:59] blizzz opened #23366 "files_external: new storage created on config-path change, old one orphaned"
### Steps to reproduce
1. Configure an external storage (e.g. local type) and enable sharing
2. Share a file on this storage
3. Edit the external storage's path
4. Open Files as sharee
### Expected behaviour

No exception appears in the log. No orphaned storage and related data is left over. Storage ID is renamed to the new path.
### Actual behaviour
1. An exception is logged (cf. https://github.c

[2016-03-17 16:03] PVince81 commented on #23366
This likely happens in all ownCloud versions.

The problem is also one of semantic/intention: whenever an admin changes the path of a Local storage (or the root path of an SFTP storage), does the admin change it because it was:
1) misconfigured (maybe the admin was still typing and the storage auto-saved)
2) changed to a different storage
3) moved/renamed

I guess 1) and 3) are the most obvious on

[2016-03-17 16:11] blizzz opened #23367 "Find and remove user records from deleted users"
Once upon a time, in early ownCloud versions user files and data were not removed. Instances upgraded from back than have possibly user files lying around and data in the DB tables (e.g. oc_appconfig).

There should be a maintenance tool to remove this data.

This was found when investigating https://github.com/owncloud/core/issues/22976

[2016-03-17 16:17] perohen commented on #23199
@LukasReschke

I made new installation with the files from https://download.owncloud.org/community/owncloud-daily-stable9.tar.bz2 and I still have the same problem.

@olimination

This solution worked. Thank you!

[2016-03-17 16:17] #23325 closed

[2016-03-17 16:17] LukasReschke commented on #23199
This will break other stuff. That's not the proper solution :wink:

[2016-03-17 16:21] perohen commented on #23199
@LukasReschke

Okay. At least I can see the files, but I will use ownCloud 8.2.3 on my production sites until this is fixed.

[2016-03-17 16:22] mathieumd commented on #23347
It's the same error message:

[code]

`proxy` has been set:

[code]

[2016-03-17 16:23] mathieumd commented on #23347
Sorry, I clicked the wrong button!! *^_^*

[2016-03-17 16:32] olimination commented on #23199
If I access the oc.js directly like: http://my.domain/core/js/oc.js I receive a "No input file specified" message.

[2016-03-17 16:35] LukasReschke commented on #23199
@olimination @perohen Can I ask you to test the patch from https://github.com/owncloud/core/pull/23369?

[2016-03-17 16:36] MorrisJobke commented on #20455
Fix is in https://github.com/owncloud/core/pull/23370

[2016-03-17 16:47] perohen commented on #23199
@LukasReschke

How I can test patch #23369 and how I notice difference between @olimination's solution and your solution?

[2016-03-17 16:49] greenled commented on #18499
Hi. Just upgraded from 8 to 9 and I am getting `PHP Fatal error:  Call to a member function file_exists() on a non-object in /var/www/owncloud/lib/private/files/filesystem.php on line 693` too, but after running `occ dav:migrate-addressbooks`.

[2016-03-17 16:49] PVince81 opened #23373 "SMB sync client local rename redownloads after second sync"
### Steps

1. Setup a SMB mount as "/smb"
1. Setup desktop client
1. Let it sync
1. Create a local folder "/smb/test" and put a few files inside
1. Let it sync
1. Locally, rename "/smb/test2"
1. Let it sync
1. Wait, let it sync again (second pass)

### Expected result
Second pass doesn't do anything

### Actual result
Second pass redownloads the contents of "test2", you can see the notification

N