[2015-10-02 17:16] PVince81 commented on #19541
I'll provide some code in that PR that will reproduce the issue.

[2015-10-02 17:22] PVince81 commented on #19541
See https://github.com/owncloud/core/commit/71cbb3fd3d32f92d8b2f563000122ff99a685513#diff-b3efca9d734e374573fd131fda288117R90

You can see it in action with a debugger: the database still contains the sub-share (it will be removed later, possibly by another event handler), but at this specific stage it still returns the sub-share, with the share_type == 2. This shouldn't happen.

Possible solution

[2015-10-02 17:22] RealRancor commented on #19515
Ah, and the most important thing is missing:

Have a look at scanners like OpenVAS:

http://plugins.openvas.org/nasl.php?oid=805237

or Nikto:

https://github.com/sullo/nikto/commit/7ac045724d7e46b8aa8cd59d6a31a964bfe99fcb

They mostly don't care about the version reported by the application and just trying to exploit the vulnerability. So its just a matter of time when a vulnerability is detected

[2015-10-02 17:37] PVince81 commented on #19541
I tried up to step 7, then I reinserted the share despite "user1" not being in the group any more:
[code]

Then login as "user1" in the web UI, the folder appears again!

Now I'm not aware of any real life situation where it could happen that there are leftovers share entries (LDAP?).

[2015-10-02 19:23] gig13 commented on #17748
Re-opening due to cron showing files timestamped in the future.

[code]

As long as these future dated files don't fill up the filesystem, this can be ignored.

However, yesterday the system ran itself out of inodes again as a result of the other files left behind by the cronjob script.

Narrowed the ldap base user and base group trees in the advanced config and enabled apc caching on the command

[2015-10-02 19:23] gig13 commented on #17748
@MorrisJobke

[2015-10-02 19:51] LukasReschke commented on #19109
Also here:

![2015-10-02_21-51-25](https://cloud.githubusercontent.com/assets/878997/10256174/bd416baa-694f-11e5-84c6-c0a92da66728.png)

[2015-10-02 19:53] LukasReschke opened #19542 "implode(): Invalid arguments passed at /Users/lukasreschke/Documents/Programming/master/settings/admin.php#91"
When accessing the admin page. Regression of https://github.com/owncloud/core/issues/19510.

[2015-10-02 20:07] LukasReschke commented on #19109
Well. This is actually pretty easy. `$splitValues` is `['auto']` and thus `$maxValue` is set to `\OCA\Files_Versions\Expiration::NO_OBLIGATION` which has a default of `-1`.

@VicDeo Please sort out what the right default is - THX. - Can be triggered by just opening `cron.php` multiple times.

![2015-10-02_22-06-20](https://cloud.githubusercontent.com/assets/878997/10256481/d29b1508-6951-11e5-8401-

[2015-10-02 20:32] oparoz opened #19544 "Node API: search operations don't work on the top folder of external shares"
### Steps to reproduce

[code]

### Expected result

An array full of Files

### Actual result

An empty result

### Notes

Querying a sub-folder works...

[code]

@icewind1991 @PVince81

[2015-10-02 21:12] blizzz commented on #15084
@cmonteroluque please leave a comment when changing severity towards high (or critical) so close to the deadline in order to have us notified and able to plan accordingly…

[2015-10-02 21:23] hostingnuggets commented on #19319
any news? I would really like to upgrade to OC 8...

[2015-10-02 21:25] oparoz commented on #19544
This doesn't work:
https://github.com/owncloud/core/blob/9883d5b85d8ae1e2d1d58b345c96a0563e112b97/lib/private/files/node/folder.php#L225

[code]

[2015-10-02 21:30] oparoz commented on #19544
Broken since 8.0 by this PR: https://github.com/owncloud/core/commit/fcc3b3d5f70eb44787a70dd17b5a843729b1f0d8
@PVince81

[2015-10-02 21:42] blizzz commented on #16154
@jvillafanez still cannot reproduce. Thats what I tried (against both master and stable8.1):

1. I have a configuration to my local OpenLDAP, running on a non-standard port. It's fully configured, and fully successful.
2. I remove the User DN and the Password
3. I click on "Detect Port" → No error message is shown, the port stays at my non-standard one. In the owncloud log a message about the fail

[2015-10-02 22:06] blizzz commented on #16154
Um, actually not, if the server replies with something useful, we found him ;) Now, also when I have both User DN and password empty and the port added in the host, the detection does not succeed falsely.

[2015-10-03 00:40] josh4trunks opened #19548 "Add option to configure preview (and thumbnail, ect.) location"
Here's my use case where this would be beneficial.

Production Server 'A'
- server side encryption enabled
- previews enabled
- owncloud application (www) directory, data-directory (files), and database are snapshoted and backed up to server B
- keys used for unencryption are only stored in /tmp which isn't backed up to server B and is likely cleared upon reboot

Server 'B'
- everything crucial to

[2015-10-03 00:45] josh4trunks commented on #19548
this might be possible now using a selective rsync for backup but in my case everything resides on ZFS datasets which I am backing up and sending remotely

[2015-10-03 08:17] #16908 closed

[2015-10-03 10:20] #19542 closed

[2015-10-03 12:15] oparoz opened #19549 "Wrong format for expiration date in share dialogue"
### Steps to reproduce

1. Share a folder
2. Set an expiration date

### Expected behaviour

There should be a human readable date in the filed, using the user's locale.

### Actual behaviour

A readable date appears briefly and it changes immediately to the format shown below

![](https://cloud.githubusercontent.com/assets/323220/10246059/05a8c0c4-690e-11e5-9a1f-a4cfe93b7fef.png)

It also affects

[2015-10-03 12:56] oparoz opened #19550 "Error when unsharing link"
### Steps to reproduce
1. Go to the Server Client with Admin
2. Go to the Sharing option
3. Select the option "Enforce password protection"
![](https://cloud.githubusercontent.com/assets/12032058/10245362/1cc768b6-6907-11e5-8e75-2c906b3d69b5.png)
4. Go to Files
5. Share a folder
6. Select the option Share by link
7. **Untick the option**

### Expected behaviour
The box should be unticked and the p

[2015-10-03 13:14] sutun2008 opened #19551 "Exception: Please upload the ca-bundle.crt file into the 'config' directory."
Exception: Please upload the ca-bundle.crt file into the 'config' directory.

[2015-10-03 13:52] RealRancor commented on #19551
Dup of https://github.com/owncloud/core/issues/19204 and https://github.com/owncloud/updater/issues/164 (should be available on the github search).

See https://github.com/owncloud/updater/issues/164#issuecomment-141549254 how to fix.

[2015-10-03 14:29] rullzer commented on #19549
What do you mean by readable date?

[2015-10-03 14:29] flowl commented on #11243
Just installed fresh version of owncloud using nginx, it works except for the oc.js which results in 404, used the config from the official manual.

[2015-10-03 14:30] RealRancor commented on #11243
@flowl See https://github.com/owncloud/core/issues/11243#issuecomment-73281471

[2015-10-03 14:35] rullzer commented on #19549
Ah I see what you mean. Yes this can and should be fixed.
It is currently not localized just `dd-mm-YYYY` but then we should probably switch to momentjs for 9.0

BUt let me take care of this.

[2015-10-03 14:38] flowl commented on #11243
@RealRancor doesn't help..

[2015-10-03 14:43] RealRancor commented on #11243
@flowl Then setup a standard nginx config from Debian Jessie for example and try again.

[2015-10-03 14:50] flowl commented on #11243
@RealRancor please don't blame nginx for an owncloud bug. I'm using pretty much everything standard including nginx standard debian package. I copied the complete config from the docs. It can find **all** js/css files but noc oc.js.
The file is missing in the js/ directory!

[2015-10-03 14:51] RealRancor commented on #11243
This file doesn't exist within the js/ directory because it is a virtual file. If there is a 404 your nginx setup is not working and doesn't rewrite this via .php.

[2015-10-03 14:58] flowl commented on #11243
@RealRancor When I visist the requested oc.js uri i get to an owncloud 404 page (not nginx 404 page). It actually is redirecting something the uris from /index.php/xxxxx. How can I trace down the issue?

[2015-10-03 14:59] RealRancor commented on #11243
You won't get a nginx 404 page because those are rewritten by:

[code]

[2015-10-03 15:01] flowl commented on #11243
Ok you are right with the rewrite.. but I don't know which causes it ` *347 open() "/www/owncloud/owncloud/index.php/core/js/oc.js" failed (20: Not a directory)`

[2015-10-03 15:03] RealRancor commented on #11243
Exactly thats the issue. Your nginx config is trying to serve the ``index.php/core/js/oc.js`` file as an existing file on your filesystem. Please post your main nginx.conf as well as your nginx config used within /sites-enabled.

[2015-10-03 15:06] flowl commented on #11243
[code]

[2015-10-03 15:08] oparoz commented on #19549
@rullzer - Look at the screenshot, at the bottom It's 2015-10-29. Only computers write dates like this and there is also the time information which we don't need :)

[2015-10-03 15:12] rullzer commented on #19549
@oparoz fix in #19553 please verify and review

[2015-10-03 15:13] RealRancor commented on #11243
You can try to comment out the ``include /www/config/nginx/gzip.part;`` part as such caching (for example if the ``# Optional: set long EXPIRES header on static assets`` is above the ```location ~ \.php(?:$|/) {`` is known to cause such issues.

Also i wouldn't say that HHVM as well as memcached are used in a default environment. No idea if those two could also be responsible for this.

[2015-10-03 15:16] RealRancor commented on #11243
Ah, @Maddis1337Just noted that you have/had the:

``# Optional: set long EXPIRES header on static assets``

above the:

``
location ~ \.php(?:$|/) {
``

[2015-10-03 15:16] RealRancor commented on #11243
Ah, @Maddis1337 Just noted that you have/had the:

``# Optional: set long EXPIRES header on static assets``

above the:

``
location ~ \.php(?:$|/) {
``

which won't work with the needed rewrites.

[2015-10-03 15:20] Maddis1337 commented on #11243
@RealRancor wow, it's been a while, but thanks for sticking around! I switched to Apache...

[2015-10-03 15:34] flowl commented on #11243
@RealRancor lol :-) In my gzip.part (which handles default caching) was a rule concerning `.js` files which prevented the owncloud rule to catch up. Sorry for the trouble and thanks for help :-)

[2015-10-03 15:46] Henni opened #19554 "Graphical glitch of sidebar on mobile"
In the image the sidebar should fill the full height, but doesn't if the filelist is scrolled down.
This only appears while dragging the page to open the app-navigation.
Tested on Chrome on Desktop and Android.

<img src="https://cloud.githubusercontent.com/assets/1267827/10263636/c1f95058-69f5-11e5-91fc-8ce434768bd7.png" width="400" />

[2015-10-03 15:53] RealRancor commented on #11243
@Maddis1337 No problem. Just had overlooked that part of your config :-/

@flowl Nice that it is working now. Have added a short note about this at https://github.com/owncloud/documentation/pull/1726

@fonix232 @stopspazzing Could you also make sure that you don't have issues like this?

@PVince81 Lets wait for the feedback of the two users for a few days. Then the issue here probably can be close

[2015-10-03 15:58] Henni commented on #19554
While dragging the page the controls are also hidden.
![image](https://cloud.githubusercontent.com/assets/1267827/10263702/ee5b289a-69f7-11e5-92f3-1f63b04428cc.png)
![image](https://cloud.githubusercontent.com/assets/1267827/10263714/46cee106-69f8-11e5-9cd8-d7f4b574821e.png)

[2015-10-03 16:12] karlitschek commented on #19554
@PVince81

[2015-10-03 16:13] BernhardPosselt opened #19555 "Unreadable fonts in 8.2"
The fonts included in 8.2 are unusable for rendering articles. Check the image

![screen](https://cloud.githubusercontent.com/assets/195053/10263777/339a71fc-69fa-11e5-8ece-b4cfa132c0ff.png)

With more text, its even worse

@jancborchardt @MorrisJobke

[2015-10-03 16:22] oparoz commented on #19457
I've updated the OP to make it easier to isolate the issue and with a collection of notes about what I've observed.

It's not possible to force people to not use `scanFile` if an app uses it to collect files to process, then there could be some unfortunate consequences for that instance.

[2015-10-03 16:58] #19551 closed

[2015-10-03 17:25] oparoz commented on #19555
Join the club :) https://github.com/owncloud/core/issues/18954

But you also have a second issue. There needs to be a standard serif font for text. It makes it easier to read long content like articles.

[2015-10-03 17:31] oparoz commented on #19115
It's by design https://github.com/owncloud/core/pull/10922.
All the information is collected first, before being sent to the database, in order to speed up the process.
So the solution seems to be to give large amounts of memory (in the GB range) to the cli.

[2015-10-03 17:35] oparoz commented on #19115
I see one possible enhancement: Collect structure data first and launch non-recursive scans from the bottom of the tree. Each folder update will be committed separately.

[2015-10-03 19:28] despens opened #19556 "Time stamps of uploaded files point to the future"
### Steps to reproduce
1. Set up owncloud server (CET)
2. Move to different time zone (EST)
3. Upload file via web interface
### Expected behaviour

Time stamps for uploaded files should show a time stamp from the past, like "seconds ago" or "one minute ago".
### Actual behaviour

The time stamps point to the future.
### Server configuration

**ownCloud version:** ownCloud 8.1.3 (stable)

**Update

[2015-10-03 23:38] gillytech opened #19557 "Force SSL does not make share links https"
I have "force ssl" set to true in my config, but I noticed that the download links are not offered as SSL, I have to manually add https to the beginning. Thanks for your time.

[2015-10-04 06:10] aspdye commented on #19557
Force SSL is not longer supported in ownCloud 8.1 and higher.
You need to config your webserver manually to force HTTPS.

[2015-10-04 06:12] aspdye commented on #19556
Ok. This is a bug. Just reproduced that :)

[2015-10-04 07:16] tobiasKaminsky commented on #16250
Then Gallery will be the way to go, I guess.
I very little experience with the restful api you have posted.
I tried this to get the file ids:
curl http://tobi:test@localhost/owncloud/index.php/apps/gallery/api/files/list?location=/hidden
but this results in
{"files":[],"albuminfo":{"path":"hidden","fileid":110,"permissions":31,"etag":"560f9409e034c"},"locationhaschanged":false}
with no file inform

[2015-10-04 08:44] tobiasKaminsky commented on #16250
Update: I got it partially working with 8.2.
But with 8.1 from app store I cannot access the api. Is it not there?

[2015-10-04 08:47] rullzer commented on #19550
Fix in #19558

[2015-10-04 09:34] oparoz commented on #19550
Thanks!

*Note: this only affects 8.2+*

[2015-10-04 09:38] oparoz commented on #19557
@gillytech https://doc.owncloud.com/server/8.1/admin_manual/release_notes.html#changes-in-8-1

[2015-10-04 09:39] oparoz commented on #19556
Can anyone reproduce on master?

cc @nickvergessen @PVince81 @rullzer

[2015-10-04 09:44] oparoz commented on #16250
I guess you've figured out how to get the IDs :)

Regarding the app store version, there are two problems:
1. It's not included
2. The URI is different `galleryplus` vs `gallery`

[2015-10-04 09:52] tobiasKaminsky commented on #16250
Regarding the IDs: There is a strange behaviour with the android app. The getFileId() function delivers an id value that does not match the value in mysql -> oc_filecache -> fileid for the same file.
Therefore I cannot use your API currently.
This is something I have to check with the android app devs.

But https://tobi:test@www.owncloud8-server.de/owncloud/index.php/apps/galleryplus/api/preview/2

[2015-10-04 10:02] oparoz commented on #16250
:S That's strange, maybe there are 2 Ids, the local one, which may not have been uploaded yet and the remote one.

Nice. The only caveat is that this endpoint does not let you set the aspect ratio. So it respects it as this is what is needed for a "preview", but you can't ask for one without it. The API can evolve, of course, since the thumbnails endpoint is streaming back thumbnails and some clie

[2015-10-04 11:25] sigmoidal opened #19559 "Certain MP4 files cannot be downloaded or synced"
### Steps to reproduce
1. Attempt to download an mp4 file that is already in the owncloud server.

### Expected behaviour
The file should download without a problem, both from the web interface, as well as sync using the desktop client.
Note, I am trying to download the file, not stream it or view it in a browser.

### Actual behaviour
The file downloads up to a point, then the download gets stuck

[2015-10-04 11:32] oparoz opened #19561 "Clicking on row doesn't bring out right side-bar in minimal mode"
### Steps to reproduce

1. Resize the width until the left sidebar disappears
2. Click on a row

### Expected behaviour

Right side-bar comes out, as usual

### Actual result

Action is triggered

---
@PVince81 @rullzer @schiesbn @jancborchardt

[2015-10-04 11:36] LukasReschke commented on #19557
See also https://github.com/owncloud/core/blob/2ffb1c2135d80ac82f62c2bd403fe452e2c4e51d/config/config.sample.php#L353-L360

[2015-10-04 11:36] #19557 closed

[2015-10-04 11:45] oparoz opened #19562 "Let the user specify public link share token names"
Just like you can replace the random shortcode with a custom one in URL shortening services, it should be possible to pick an easy to remember URI when sharing a link.

`index.php/s/yourproject`

@rullzer

[2015-10-04 12:53] oparoz commented on #18645
@gvde The first step would be to list all the methods in image which require a proper imagetype to be set and then the best thing to do is to provide a PR so that we can test various scenarios. The unit/integration tests of Preview should give us a first indication of if there are side-effects.

[2015-10-04 13:01] oparoz commented on #18645
OK, quick assessment.

**Type is only set when an image is loaded from file**

Affected methods:
* `getOrientation()` Should break orientation support
* `preciseResize()` Should break transparency support
* `centerCrop()`Should break transparency support
* `crop()`Should break transparency support

So, it would be good to get a PR which also includes setting the imagetype for resources-

[2015-10-04 13:09] oparoz commented on #13905
+1. Every app is currently using their own controller to do this

[2015-10-04 13:28] oparoz opened #19563 "Make file-upload.js app agnostic"
It's not too far away for the drag and drop feature, but the "new" button only works in Files, so if you want people to be able to upload from Gallery, Music, Notes, PMS, etc., that section needs to be rewritten with callbacks.

List of Files specific calls

[code]

---

@PVince81 @rullzer @MorrisJobke @butonic

[2015-10-04 15:52] oparoz opened #19564 "Impossible to easily clear the current selection"
### Steps to reproduce
1. Select a few files
2. Click anywhere outside the files list
### Normal behaviour
- The selection is cleared
- The sidebar shows a summary of the current folder (in the future)
### Actual behaviour

Nothing happens. There is not even a clear button

---

@jancborchardt @PVince81

[2015-10-04 15:58] oparoz commented on #19548
@josh4trunks Can't you create a dataset just for the thumbnails folder? Even if you snapshot it (for local issues), you don't need to send it over for DR.

[2015-10-04 16:18] josh4trunks commented on #19548
@oparoz
I don't think that is practical as the folders in question live inside the user folders, so this would automatically adjust when adding deleting users.

[2015-10-04 17:07] oparoz commented on #19548
Ah, yes, of course...

It will be easier if shared thumbnails ever gets implemented. The previews would all live in `data/thumbnails/fileIdHash`, but it will be much more time consuming to get rid of all the data belonging to a user.

[2015-10-04 18:49] AndiSHFR commented on #17732
Is there a way to disable ownclouds internal webdav implementation in favor for the apache webdav module (to support file locking at htis time)? Would this be possible as a short-time solution until oc gets the locking code implemented?

[2015-10-04 20:56] labkode commented on #19541
@PVince81 @blizzz This looks like the same problem as I pointed out here #14384.

This problem leads to disclosure of information

[2015-10-04 21:12] gillytech commented on #19557
Hey guys thanks for getting back with me on this. I see what the issue is and Lukas' suggestion is spot on. Thanks again.

[2015-10-04 22:44] tx7 opened #19565 "Weather App"
Hi all,

I'm currently using OC v8.1.3 running on Nginx.
My enabled apps are Agree Disclaimer , Delete Confirmation, Gallery Plus, Antivirus...
I'm keep getting this error, whenever I'm using the Weather app v1.2.0.

Error	PHP	Declaration of OCA\Weather\Db\CityMapper::delete() should be compatible with OCP\AppFramework\Db\Mapper::delete(OCP\AppFramework\Db\Entity $entity) at /media/82468379-6874-4

[2015-10-04 23:05] karlitschek commented on #19565
I guess this is a problem with the weather app and not ownCloud core. Please report te problem directly to the developer of the app.

[2015-10-04 23:05] #19565 closed

[2015-10-05 00:00] karlitschek opened #19566 "Federation autocompletion NG"
# federation - autocompletion NG

A user wants to share with people on remote servers. In the sharing dialog, and maybe other places in the future, users of remote server should be offered to autocomplete.
So it is necessary to query other servers for available users. Only specific server should be queried for privacy reasons. This servers are called trusted server and can be configured on the adm

[2015-10-05 00:01] karlitschek commented on #19566
@schiesbn @cmonteroluque @MTRichards FYI

[2015-10-05 02:40] rullzer commented on #19089
Really? That seems very weird. Also since if a file is shared with you there is text next to it but in that case it is just the user that shared it with you. Seems to me that just having the alt text `Share` all the time is way more consistent.

[2015-10-05 02:51] strugee opened #19567 "Dragging items to the home icon should give some sort of feedback"
It's possible to drag selected items to the home icon in the breadcrumb at the top of the web interface, but there's no visual feedback that this is a thing. The home icon's background should change, or something, to make it clear that it's a drop target.

[2015-10-05 02:52] strugee opened #19568 "Impossible to drag items with a small viewport"
On desktop, if the browser window is somewhat narrow (e.g. occupying half the screen on a small laptop), it's not possible to drag and drop items, because doing so triggers the logic that allows you to drag open the navigation drawer.

[2015-10-05 02:55] strugee opened #19569 "No option to move or copy selected items without drag and drop"
When you select multiple items in the web interface, a bar appears at the top with the option to download or delete the items. It should also be possible to move and copy them.

[2015-10-05 02:59] strugee opened #19570 "Moving items in the web interface is extremely difficult"
It's actually extremely difficult to move items around in the web interface. If the folder you're trying to move items to is in the current view, it's no problem, but if the folder is off the screen - which is a problem if, like me, you have a lot of folders - it becomes AFAICT impossible to move files.

The viewport should scroll up when the user drags files to the top of the screen. Same on the

[2015-10-05 03:00] strugee commented on #19570
Also, I have e10s disabled.

[2015-10-05 03:25] despens commented on #19570
This is true. Noticed these problems:

- In some situations it is impossible to see into what folder I am moving something since the folder I'm actually hovering over is not highlighted in any way. Can lead to moving stuff into the wrong folder and "losing" it.

Suggested solution: highlight target folder during drag&drop operations

- To move something horizontally the directory tree is really pa

[2015-10-05 03:28] despens commented on #19555
Arial: Best Font.
:smile:

[2015-10-05 05:07] RealRancor commented on #19569
Hi,

there is an app providing both functionalities available here:

https://apps.owncloud.com/content/show.php/Files+move?content=150271

[2015-10-05 05:08] RealRancor commented on #19570
Maybe also something for https://apps.owncloud.com/content/show.php/Files+move?content=150271 ?

[2015-10-05 05:15] danielkoch opened #19571 "Error occurred while changing recovery password on OC 8.1.3"
### Steps to reproduce
1. Run OC 8.1.3 (upgrading from 8.1.1)
2. Open Browser Developer Tools (Network tab or console)
3. Call Admin panel DOMAIN/index.php/settings/admin
4. Change Recovery password
### Expected behaviour

No errors in admin panel:
https://DOMAIN/index.php/settings/admin when changing the recovery password
### Actual behaviour

POST to https://DOMAIN/apps/encryption/ajax/changeRec

[2015-10-05 05:35] jancborchardt commented on #19555
Dupe of https://github.com/owncloud/core/issues/18954 (I’m on vacation atm, exception)

[2015-10-05 05:35] #19555 closed

[2015-10-05 05:36] jancborchardt commented on #18954
(I’m on vacation, this is an exception.)

Together with the report by @BernhardPosselt at https://github.com/owncloud/core/issues/19555 – what’s the call here on the usage of the Light style? It seems to have some problems on some setups. Do we just go ahead with it, or switch it back to regular? cc @karlitschek @owncloud/designers

[2015-10-05 06:57] LukasReschke commented on #19562
Not too happy about this as it can easily be abused into some social engineering alike approaches. That's the reason why Google or Dropbox doesn't offer this too ;-)

[2015-10-05 07:12] MorrisJobke commented on #19561
cc @blizzz

[2015-10-05 07:15] tobiasKaminsky commented on #16250
Yes. There seems to be an internal id.

I tried to add to your app an additional route which accepts the file path, but all I get is a
{"reqId":"VhIg-38AAAEAAHwfFDoAAAAP","remoteAddr":"127.0.0.1","app":"no app in context","message":"CSRF check failed","level":0,"time":"2015-10-05T07:04:31+00:00","method":"GET","url":"\/owncloud\/index.php\/apps\/gallery\/api\/previewByPath\/1.jpg\/1080\/1776"}

Wo

[2015-10-05 07:48] #16154 closed

[2015-10-05 08:00] PVince81 commented on #19570
Duplicate of https://github.com/owncloud/core/issues/8570#issuecomment-42955348

Also, for auto-scrolling the list when dragging up/down: https://github.com/owncloud/core/issues/12329

[2015-10-05 08:00] #19570 closed

[2015-10-05 08:00] PVince81 commented on #19564
With selection you mean the checkbox selection, not the sidebar highlight ?

Related: #18210

[2015-10-05 08:02] PVince81 commented on #19563
Yes, or the upload function needs to be encapsulated into a proper class (or classes) that can be insert into the DOM of any list/app.

[2015-10-05 08:03] PVince81 commented on #19561
Likely to be a visual issue, not functional issue.
In minimal/mobile mode the CSS is different. From what I understand the right sidebar should be fullscreen.

[2015-10-05 08:08] MorrisJobke opened #19572 "Encryption wrapper - properly handle fopen failure"
fopen can return a resource or false - also false should be properly handled: https://github.com/owncloud/core/blob/master/lib/private/files/storage/wrapper/encryption.php#L199-L200

[code]

cc @icewind1991 @schiesbn

[2015-10-05 08:08] davitol commented on #19218
In ownCloud Enterprise Edition 8.2 beta1 (daily) Build:2015-10-05T03:08:46+00:00 2ffb1c2135d80ac82f62c2bd403fe452e2c4e51d the error cannot be reproduce with the steps written above, and the restore works fine. :+1:

[2015-10-05 08:10] SergioBertolinSG opened #19573 "Pending file mimetypes to be fixed."
Interpreted as plain text but its document:
- [ ] .rtf

Interpreted as plain text but is code:
- [ ] .tex

Not interpreted at all:
- [ ] .abap
- [ ] .ads
- [ ] .agi
- [ ] .algol
- [ ] .e
- [ ] .apl
- [ ] .scpt
- [ ] .arc
- [ ] .ArnoldC
- [ ] .as
- [ ] .au3
- [ ] .awk
- [ ] .bas
- [ ] .bat
- [ ] .befunge
- [ ] .bg
- [ ] .boo
- [ ] .bf
- [ ] .ceylon
- [ ] .clj
- [ ] .cbl
- [ ] .coffee
- [ ] .cfml
-

[2015-10-05 08:14] PVince81 commented on #19561
Possibly related https://github.com/owncloud/core/issues/19554

[2015-10-05 08:16] PVince81 commented on #19556
Did you log out then logged in again after switching the web UI timezone ?

[2015-10-05 08:18] #19057 closed

[2015-10-05 08:19] PVince81 commented on #19541
@LukasReschke FYI

[2015-10-05 08:22] #19218 closed

[2015-10-05 08:25] #18759 closed

[2015-10-05 08:27] DeepDiver1975 commented on #19566
@karlitschek so we can close https://github.com/owncloud/core/issues/17888 ???

[2015-10-05 08:29] DeepDiver1975 commented on #19572
8.2 ??? @schiesbn

[2015-10-05 08:30] davitol opened #19575 "LDAP buttons do not appear using IE8 as browser"
### Steps to reproduce

1. Add new LDAP conf
2. Copy current LDAP conf

### Expected behaviour
The buttons should have their own icon and work

### Actual behaviour
The buttons do not have their own icon and work

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

**ownCloud version:** ownCloud Enterprise Edition 8.2 be

[2015-10-05 08:31] schiesbn commented on #19566
Sounds good. But maybe instead of "query this servers in the sharing dialog" it would be better if the trusted servers exchange there list of users in the background so that we don't have to query multiple servers for auto-complete but have a local list of users and servers.

[2015-10-05 08:32] PVince81 commented on #19540
Let that user open the browser's Javascript console and see if there are errors. The user might need to retry the operation to make output appear. (I think IE might not log things when the console is not open)

[2015-10-05 08:33] DeepDiver1975 commented on #19563
With respect to a clean separation of the code bases - I'd rater question this approach.

We are still far away from providing a public javascript api - as a result apps should implement their own client side file uplad mechanisms.

Otherwise a change to the files js code will break all apps which are re-using the the code.

[2015-10-05 08:34] DeepDiver1975 commented on #19563
So as long as an app does not integrate with the files app (e.g. file actions or viewers) there should be no need in sharing js code.

[2015-10-05 08:35] PVince81 commented on #19300
@nickvergessen FYI

@davitol the activity view inside the sidebar is also part of the activity app (plugin), so in the future please raise such bugs in https://github.com/owncloud/activity/

[2015-10-05 08:37] davitol commented on #19300
@PVince81 Thanks for the info

[2015-10-05 08:39] PVince81 commented on #19528
@SergioBertolinSG please try again on master, it seems to found this just before https://github.com/owncloud/core/pull/19499 got merged

[2015-10-05 08:40] rullzer commented on #19562
Well not even that. People will most likely use it so on an instance it is not unlikely to get `index.php/s/photos` which people other people then know exists since they can't create that link anymnore.

So I'm also not very fond of the idea.

[2015-10-05 08:40] PVince81 commented on #19531
I'm pretty sure I saw a duplicate of this a while ago but somehow cannot find it any more.

@georgehrke

[2015-10-05 08:42] schiesbn commented on #17997
@icewind1991 what could we do here? Would it be a option to limit the special part-file handling to files stored in the files folder? We probably shouldn't have such limitations for meta data.

[2015-10-05 08:50] SergioBertolinSG commented on #19528
Works fine in master now.

[2015-10-05 08:50] #19528 closed

[2015-10-05 08:53] xylo commented on #18336
Same error with owncloud 8.1.3, centos 6.7, php 5.6 (via fastcgi, built from sources), mysql 5.1.73, apache 2.2.15.

[2015-10-05 08:57] #19477 closed

[2015-10-05 09:05] DeepDiver1975 commented on #19556
Can you please elaborate on what has been changed? THX

[2015-10-05 09:05] nickvergessen commented on #19573
Btw opening the files is nothing that is fixed in core.

[2015-10-05 09:06] nickvergessen commented on #19300
The file names have mostly been removed, so I guess we can close this?

[2015-10-05 09:08] nickvergessen commented on #19300
Or set the `feature:activity` label, which I also keep track of

[2015-10-05 09:25] schiesbn commented on #19488
duplicate of https://github.com/owncloud/core/issues/18359

Please follow up there, thanks!

[2015-10-05 09:25] #19488 closed

[2015-10-05 09:25] nickvergessen commented on #19399
Uhh, I'd say this is a more general issue.
Basically all comparisons in all apps that are based on the uid rely on the casing of the currently given uid.

We could use LOWER = LOWER like on the login: https://github.com/owncloud/core/blob/d3ac73c0c9419750c65d3ccb8f0b0c25edacf34f/lib/private/user/database.php#L184-184
But I think we should fix this in another way, so apps don't need to care about t

[2015-10-05 09:29] PVince81 commented on #19541
Fix is here https://github.com/owncloud/core/pull/19577
@labkode can you try it with the LDAP situation ?

[2015-10-05 09:31] schiesbn commented on #19456
the "user" is optional. For a single user we provide both options, "user password" or "recovery key". But if you run the script for all users it is impractically to get each user at your desk and enter his password. Therefore this option only works with the recovery key.

[2015-10-05 09:31] MorrisJobke commented on #17748
@gig13 This looks like a complete different topic. Can we please open a new ticket?

[2015-10-05 09:32] rperezb commented on #6049
Hey @PVince81 i have not been able to reproduce the error.
Checked with: ownCloud 8.2 beta1 (daily) Build:2015-10-02T03:39:51+00:00 f891b91cf8475eee16ab1ca08869430bd2dbe51b
FF and Chrome

(very old one, btw!)

[2015-10-05 09:32] #6049 closed

[2015-10-05 09:32] MorrisJobke opened #19578 "Cron job doesn't clean up tmp files"
Copy of https://github.com/owncloud/core/issues/17748#issuecomment-145131001:

--

Re-opening due to cron showing files timestamped in the future.

[code]

As long as these future dated files don't fill up the filesystem, this can be ignored.

However, yesterday the system ran itself out of inodes again as a result of the other files left behind by the cronjob script.

Narrowed the ldap base user

[2015-10-05 09:33] MorrisJobke commented on #17748
@gig13 Please follow up on #19578

[2015-10-05 09:33] #17748 closed

[2015-10-05 09:33] PVince81 commented on #14384
See https://github.com/owncloud/core/issues/19541 for the issue where the share API still returns the old share entry.

There is another issue here: whenever the LDAP cache refreshes itself, it should trigger the hooks that cleans up the share entries. In a non-LDAP situation I saw that removing a user from a group would automatically clear their outdated shares. If the LDAP situation doesn't do i

[2015-10-05 09:33] DaDenniX commented on #19488
ah, perfect. Thanks! :+1:

[2015-10-05 09:34] MorrisJobke commented on #19578
@gig13

* What files are created? And you said the mtime of those files is in the future?
* Anything related in the owncloud.log?
* How often is cron run?
* On what ownCloud version are you?

[2015-10-05 09:34] PVince81 commented on #19541
Raising severity as it was observed in a real-life scenario (not just API case): https://github.com/owncloud/core/issues/14384

[2015-10-05 09:35] PVince81 commented on #19541
@cmonteroluque @DeepDiver1975 @karlitschek FYI

[2015-10-05 09:35] rperezb opened #19579 ""file already exists" error message is not shown completely"
### Steps to reproduce
1. Upload "photo.jpg" to the server
2. Upload another photo with the same name ("photo.jpg")
3. In the folder, there are two files ("photo.jpg" and "photo (2).jpg")
4. Rename "photo (2).jpg" as "photo.jpg"
5- An alert message is shown "photo.png already exists"

### Expected behaviour
The alert message is readable completely

### Actual behaviour
Error message, "fileXx alrea

[2015-10-05 09:36] FreeMinded commented on #17784
I just upgraded to OC 8.1.3 and I'm still experiencing this issue. I did also manually copy ca-bundle.crt file but that didn't change anything (as expected as I always do manual upgrades/updates).
All reading and googleing did not point me to a possible solution.
Any ideas?

[2015-10-05 09:48] labkode commented on #19541
@PVince81 as mentioned in #14384 we changed our infrastructure to not depend on OwnCloud LDAP groups and we implemented other solution, so I cannot test that scenario, but it should be straight forward to test it if you have some OC/LDAP instance.

The only special thing about our old LDAP integration is that it was big, thousands of users and thousands of groups.

[2015-10-05 10:06] oparoz commented on #19563
file-upload.js in files does all the hard work:
* Already set up to talk to jquery-file-upload
* Configures drop zone, handlers, file selector, progress bar
* Performs basic validation
* Offers conflict resolution. It's ridiculous to have to rewrite our own conflict resolution dialogue and it will have to match the one in Files or there will be complaints that the design changes too much when chan

[2015-10-05 10:15] DeepDiver1975 commented on #19563
I have the big share code mess in mind - we are almost blocked with any kind of enhancement just because the share dialog is reused by apps.

The solution for 8.2 is to copy the mess to the apps - next step for the app developers will be to deal with it by either maintaining the mess or implement something on their own.

I want to avoid something like that in the future - as long as we cannot guar

[2015-10-05 10:38] oparoz opened #19581 "checkExistingFiles doesn't work for folders"
The check done to see if files already exist before uploading a list of files/folders doesn't work for folders.
This is quite important since folders are likely to contain a lot of files.

In `var fileInfo = fileList.findFile(upload.files[0].name);`, the name only contains the filename, not the full path. It needs to be combined with relativePath, if it exists.

https://github.com/owncloud/core/bl

[2015-10-05 10:46] PVince81 opened #19583 "Repair step to remove bogus shares from old group memberships"
See https://github.com/owncloud/core/issues/19541 and https://github.com/owncloud/core/issues/14384

Write a repair step (or add a case in "RepairInvalidShares") that iterates over all group shares and remove all sub-share entries for users who do not belong to that group any more.

[2015-10-05 10:47] PVince81 commented on #19583
Either a repair step or a background job depending on how expensive it is.

Ideally this situation should never happen once both tickets above are fixed, so I suggest a repair step instead.

[2015-10-05 10:50] RealRancor commented on #17784
@FreeMinded See https://forum.owncloud.org/viewtopic.php?f=17&t=29790

[2015-10-05 10:50] PVince81 commented on #19581
Did folder overwrite work before ? I'm not sure, I seem to remember issues.

So basically the scenario is as follows:
1. File tree is:
    - file1.jpg
    - file2.jpg
    - somefolder
    - somefolder/inside1.jpg
    - somefolder/inside2.jpg
1. User has the drags the following files into the Chrome windows (folder upload only works in Chrome):
    - file1.jpg
    - somefolder
    - somefolder/insi

[2015-10-05 10:59] SergioBertolinSG commented on #19532
Tested on last master, working fine.

[2015-10-05 11:07] davitol commented on #17964
Cannot reproduce #17964 in ownCloud Enterprise Edition 8.2 beta1 (daily) Build:2015-10-05T03:08:46+00:00 2ffb1c2135d80ac82f62c2bd403fe452e2c4e51d. It works for me before the fix. :flushed:

white space should be add to the base DN in a specific place?

[2015-10-05 11:11] oparoz commented on #19563
Yes, I think it's because people started to hack on top of something which was not designed to be app agnostic (view is embedded and it's designed to try and makes changes to the Files app). It was the path of least resistance, instead of duplicating the whole thing and I predict the same thing will happen with file-upload and more.

From my pov, `core` shouldn't be blocked by apps, especially now

[2015-10-05 11:13] oparoz commented on #19581
I have no idea if it ever worked. All I know is that it doesn't now :) . Thanks for the use case, it will help trying to figure out if this is fixable.

[2015-10-05 11:26] blizzz commented on #17964
At the front or at the end

[2015-10-05 11:27] oparoz commented on #19581
It's fixable and makes operations much faster in case of a mistake :)

[2015-10-05 11:35] icewind1991 commented on #17732
No, since apache's webdav doesn't know about sharing, trashbin, external storage, etc

[2015-10-05 11:47] icewind1991 commented on #17997
That would make sense yes

It would require logic changes in multiple parts though, not sure if we want to change it for 8.2

cc @DeepDiver1975

[2015-10-05 11:56] #19456 closed

[2015-10-05 12:03] oparoz opened #19584 "Tracking missing shortcuts"
1. The key to a successful interface is to provide several ways to perform specific actions in order to cater for the needs of a broad spectrum of users
2. Advanced users need shortcuts

A sample selection:
- [ ] `ctrl+a` Select all
- [ ] `ctrl+c` Copy selection
- [ ] `ctrl+v` Paste selection
- [ ] `ctrl+x` Cut selection
- [ ] `del` Delete selection
- [ ] `ctrl+f` Puts cursor in search field #1889

[2015-10-05 12:03] jnweiger commented on #19479
Commit https://github.com/owncloud/vm/commit/e0ddcefc181b5ac77bd6869cf1ef6c2298db4aec now pulls in smbclient into the community vm.
I consider this a workaround until the issue with files_external/lib/smb.php#L297-L303 is resolved.

My understanding is what @RealRancor assumed: smbclient should not be used at all. But I am not sure. Maybe we have code paths that use both smbclient and php5-libsmbc

[2015-10-05 12:05] MorrisJobke commented on #16641
The only issue left is #18425 and is scheduled for 9.0

@DeepDiver1975 Can we close this ticket then?

[2015-10-05 12:07] cweiske commented on #16641
@DeepDiver1975: PEAR 1.10.0dev3 is out, which you can already use - it's most probably the version which will be released as 1.10.0 stable.

[2015-10-05 12:10] oparoz commented on #19562
Are you sure it's not because they want to sell those custom IDs at a premium rate? ;)

True... The system is shared, so there is only one possible `/photos` folder which makes it unfair on a large instance, but some home users might appreciate to be able to share their memories via memorable links.

@jospoortvliet ?

[2015-10-05 12:11] DeepDiver1975 commented on #16641
THX for the notification

[2015-10-05 12:13] oparoz commented on #19564
Correct, the sidebar just adapts to the selection

[2015-10-05 12:14] PVince81 commented on #19581
Thing is, I don't want the new client-side conflict-checking code to retrieve the contents of the folder just to find the conflicts in it. The backend already does that.

[2015-10-05 12:15] PVince81 commented on #17732
and also apache's webdav is unlikely to propagate etags, so the sync client will not be able to detect changes

[2015-10-05 12:16] oparoz commented on #19566
Yes, caching + etag check.

[2015-10-05 12:19] oparoz commented on #19561
I don't think it's related. If I click on menu->detailsView, I do get the sidebar, but clicking on the row launches an action.

[2015-10-05 12:20] DeepDiver1975 commented on #19563
We have to make sure this is not going to happen :hocho: :surfer:

[2015-10-05 12:21] DeepDiver1975 commented on #19563
But unified UI is not related to reuse of javascript but reuse of html elements and css rules.

[2015-10-05 12:22] PVince81 commented on #19561
Hmm, then maybe the file element is too large and covers the empty side that is supposed to show the sidebar. Or maybe it's intended. I don't remember. I could imagine that it's intentional that the sidebar can only open with the menu action on mobile. @jancborchardt

[2015-10-05 12:23] karlitschek commented on #17888
replaced with this: https://github.com/owncloud/core/issues/19566

[2015-10-05 12:23] #17888 closed

[2015-10-05 12:23] karlitschek commented on #19566
@DeepDiver1975 yes.

[2015-10-05 12:23] karlitschek commented on #19566
@schiesbn hmm. yes. not sure if it's worth the additional work. but yes!

[2015-10-05 12:23] DeepDiver1975 commented on #19563
And this is really the hard part - on the client side we are more flexible compared to the server side.

Devs are free to use what ever js libs/frameworks - and providing components which fit into Angular the same as into backbone or ember or ......  is a hell of a job.

I honestly don't see the benefit - gifted js devs will come up with their own code for the app in short time and can maintain an

[2015-10-05 12:24] oparoz commented on #19581
Argh, of course... It's working in Gallery because I have some thumbnails of sub-folders, but it's not going to work without the full list.

So I think we can close this as "won't fix" as building a fileInfo[] for all sub-folders is going to slow things down too much.

[2015-10-05 12:24] #19581 closed

[2015-10-05 12:27] PVince81 commented on #19152
@nickvergessen @cmonteroluque

[2015-10-05 12:33] davitol commented on #17964
@blizzz  I've tried this way with today's daily version mentioned in the previous comment and as i told before I could not be able to reproduce it.

[2015-10-05 12:36] oparoz commented on #19563
True, but if you provide an official toolkit, it's use it as-is or leave it. If a dev needs his app to feel integrated, then he won't be able to play with alternative technologies without having to rewrite everything (or just the logic and use the templates).

Sure, but it's time taken away to build new stuff and a major effort every time `core` is making a big change.

It's your ship, so at the e

[2015-10-05 12:53] AdminJack opened #19586 "occ not work (also cron not work) and login redirect loop"
### Steps to reproduce

1.I install the calendarplus app
2. I execute "sudo -u www-data php occ app:disable calendar" and at the same time I switch in https://owncloud.de/index.php/settings/apps the calendar app off
3. Oops ;(
### Actual behaviour

If I want to login in Owncloud I get an error page in my browser: This webpage has a redirect loop.
But If go to https://owncloud.de/remote.php/calenda

[2015-10-05 13:03] oparoz commented on #19561
Yes, I understand on mobile, but that happens when you resize the browser's window and is thus confusing.
If that's only for mobile, then maybe a "simple" check could be used to make sure the user is really on a mobile (`ontouchstart` perhaps)?

[2015-10-05 13:04] MTRichards commented on #19152
To clear up a few things:
- Changed title to reflect not a push, it isn't really a push, it is a pull.
- The acceptance criteria was modified to have notifications and responses both for 9.0.

Add to acceptance criteria:
- Every use has their own notification list - from one user to one user; apps implement this
- Admin notification can be done one to many, but is essentially flattened to one to o

[2015-10-05 13:12] oparoz commented on #16250
I'm confused by the URL you're using. It's not as documented in the API ;)
 `/api/preview/{fileId}/{width}/{height}`

[2015-10-05 13:17] oparoz commented on #16250
I initially misread your post...

If you add a route, you need to add the proper method to the controller, including the special tags.

But I'm not sure this is the best way forward, as it would require making permanent changes to Gallery...

I'm guessing the problem you're having is that the Android app is using paths as IDs?

[2015-10-05 13:21] MTRichards opened #19587 "Replace existing remote share user interaction to interactive notifications"
As an admin, I want to be able to have users accept remote share links with an interactive notification so that only desired content is shared among users across instances.

(We are moving accept remote shares to an interactive dialog, and to replace the current implementation)

Acceptance Criteria:
- Migrate the code to the new interactive notifications
- Note: If notification app is off, remote

[2015-10-05 13:31] FreeMinded commented on #17784
@RealRancor thanks for the hint. Unfortunately it still does not help.
1. I'm on a shared host (Hostpoint) and have no ssh access. So I can't check the curl access to apps.owncloud.com
2. But as I understand my oC 8.1.3 checks for the cURL version and there is no warning about a outdated version.
3. I uploaded the ca-bundle.crt manually.
4. none of the mentioned config options apear in m config.

[2015-10-05 13:47] dariolesca opened #19588 "Web Post Update 8.1.0 to 8.1.3 on Centos 7 fail"
Updating ownCloud to version 8.1.3, this may take a while.

Turned on maintenance mode
Checked database schema update
Checked database schema update for apps
Updated database
Updated "files" to 1.1.10
Updated "activity" to 2.0.2

Symfony\Component\Routing\Exception\RouteNotFoundException: Unable to generate a URL for the named route "calendar_index" as such route does not exist.
The update was uns

[2015-10-05 13:47] oparoz commented on #16250
My main problem with changes right now is that if they're too big, they're not going to be in 8.2 and that's going to be a problem for you.

I could probably squeeze in an extra parameter like path="/dir/file"

[2015-10-05 13:52] schiesbn commented on #19396
as said by @RealRancor nothing changes between 8.1.0 and 8.1.3 regarding key management.

What do you mean with "Migrate the keys using SSH"?

[2015-10-05 13:59] Kawohl commented on #19588
Please deactivate all apps before updating, then it should work flawlessly.

Anyways thanks for contributing! Can we kindly ask you to use the  issue template?
https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

It makes it easier to track the problem and you will more likely receive help in a shorter period of time.

[2015-10-05 14:19] RealRancor commented on #17784
@FreeMinded Then please create a new issue using the issue template provided here:

https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

[2015-10-05 14:31] RealRancor commented on #19588
Dup of https://github.com/owncloud/core/issues/18317, https://github.com/owncloud/core/issues/18329, https://github.com/owncloud/core/issues/18296, https://github.com/owncloud/core/issues/18224 and many more...

Should be fixed with the next oC version according to: https://github.com/owncloud/core/issues/18224

[2015-10-05 14:45] icewind1991 commented on #15116
Fix is here: #19589

[2015-10-05 14:46] PVince81 commented on #18830
I just tried to build a generic "move this menu into view" that would work for any menu but it cannot work reliably because every menu can be built differently. Some inside the body, some inside the row... makes everything quite complicated.

Let's have a look at @oparoz's approach instead.

[2015-10-05 14:52] MorrisJobke commented on #19588
#18839 was backported to 8.1.2. Weird that this is still an issue. @Xenopathic Any idea?

[2015-10-05 15:04] RealRancor commented on #19588
@MorrisJobke Ah, sorry. Mixed the issues. There is a still open issue here:

https://github.com/owncloud/core/issues/19145

where this was also happening during the update to 8.1.3.

[2015-10-05 15:08] MorrisJobke commented on #19588
Then it's a dup of #19145 -> closing

[2015-10-05 15:08] #19588 closed

[2015-10-05 15:11] MorrisJobke commented on #19586
@AdminJack Can I ask you to disable roundcube, calendarplus, contactsplus and contacts to try if one of them maybe cause an issue?

[2015-10-05 15:21] MorrisJobke commented on #19540
I tried creating folders and upload files for some minutes with IE11 but can't reproduce the issue :(

[2015-10-05 15:23] PVince81 commented on #19540
The question is maybe whether something else was done before creating a new folder. Switched folder ? Changed shares ? Something that could affect the JS code somehow...

[2015-10-05 15:27] MorrisJobke commented on #19584
cc @owncloud/designers

[2015-10-05 15:29] MorrisJobke commented on #19444
Then this issue here can be closed?

[2015-10-05 15:31] schiesbn commented on #19587
Unless we implement this as well, which I think is something we should have independent from this feature: https://github.com/owncloud/core/issues/13495

[2015-10-05 15:32] PVince81 commented on #19561
I think it's even worse. In my case I don't see a glitch, I can see the sidebar appearing fine when I click on "Details". But then there is no way to change the highlight.

The proper workflow is probably to never show the right sidebar on the right and have users manually pick "Details" from the menu every time, then show the right sidebar / details bar full screen.

[2015-10-05 15:33] PVince81 commented on #19561
Ah, it looks like the compact mode override isn't strong enough to override the sidebar styles.

[2015-10-05 15:34] MorrisJobke commented on #19370
@Kawohl Can you reach the remote server from your server? Maybe do a `ping ...` or a `curl https://cloud.damken.com/status.php` to see if your server is able to connect to the remote server.

Entries of the owncloud.log would also be helpful.

[2015-10-05 15:35] PVince81 commented on #19561
Try this https://github.com/owncloud/core/pull/19590

[2015-10-05 15:38] MorrisJobke commented on #19167
Fixed -> close

[2015-10-05 15:38] #19167 closed

[2015-10-05 15:43] PVince81 commented on #19579
Huh?! This message should be on the right

[2015-10-05 15:58] Kawohl commented on #19370
curl output:

```{"installed":true,"maintenance":false,"version":"8.1.3.0","versionstring":"8.1.3","edition":""}````

Output on remote server of owncloud.log:

``` Exception while scanning storage "shared::36ef21ed89d29eccb163f929578fdf9e": Sabre\HTTP\ClientException: SSL certificate problem: self signed certificate```

One bad thing that happens also t on the remote server instead of listing all

[2015-10-05 16:18] FreeMinded commented on #17784
@RealRancor I found the problem, but still don't understand it.
I use a CAcert certificate (www.cacert.org)  for securing https connections.
Now I have added the CAcert root certificates to the ca-bundle.crt and the error message does not appear anymore. And the apps installer works now as well (I can see other categories).
What I do not understand is, why the certificate I use for the server has

[2015-10-05 16:29] #19579 closed

[2015-10-05 16:38] RealRancor commented on #17784
Hi,

strange. That doesn't make any sense as the certificate of https://apps.owncloud.com is not signed by CACert but by Godaddy.

[2015-10-05 16:41] mmattel opened #19593 "./occ command feature request - stat output on scanning"
@oparoz has written a great ./occ command where you can create thumbnails in advance. See PR https://github.com/owncloud/gallery/pull/387

Part of his work was, that he prints a statistic of the work done, see his example below.
![image](https://cloud.githubusercontent.com/assets/3321281/10284819/32f1d988-6b86-11e5-9891-7e84d83f72b2.png)
My request is now, if that kind of statistic could also be g

[2015-10-05 16:42] mmattel commented on #19444
If changing the library and not digging further into cause of the problem, yes

[2015-10-05 16:43] oparoz opened #19594 "checkExistingFiles doesn't work well for folders"
### Steps to reproduce
1. Upload folderA containing pictureA and pictureB
2. Upload pictureC in the current folder
3. Upload folderA again, along with folderB, containing pictureC and pictureD

When does the train reach the station?
### Expected behaviour

I should be shown a conflict dialogue with pictureA and pictureB, from folderA
### Actual behaviour

I'm shown pictureA, pictureB and pictureC,

[2015-10-05 16:53] blizzz commented on #17964
@davitol on existing configs, change the Base User Tree in Advanced tab. https://doc.owncloud.org/server/8.1/admin_manual/configuration_user/user_auth_ldap.html#directory-settings

[2015-10-05 17:38] MorrisJobke commented on #19370
It's a not trusted certificate. I think your server doesn't have a valid cert.

This is really bad. cc @LukasReschke @schiesbn

[2015-10-05 17:48] LukasReschke commented on #19370
Tried the same on 8.1.1, I see the SSL exception but still can access my whole data.

[2015-10-05 17:48] MorrisJobke commented on #19370
Also cloud.damken.com is not reachable. :see_no_evil:

[2015-10-05 17:48] LukasReschke commented on #19370
I shared from 46.101.140.225 to cloud.smartworksg.ch

[2015-10-05 17:56] LukasReschke commented on #19370
So maybe it happens when the accepted remote host is not online…?

[2015-10-05 17:58] Henni opened #19596 "Load mobile styles after other styles"
Reordering the stylesheets so that `mobile.css` is loaded after the desktop styles allows us to clean up the mobile stylesheet.

Currently 19 of the 61 rules in `mobile.css` contain `!important` which is code smell.
If the stylesheet would be loaded later than others like `apps.css`, most (if not all) of the `!important` could be removed.

[2015-10-05 18:07] PVince81 commented on #19596
Makes sense.

CC @jancborchardt

[2015-10-05 18:38] #15004 closed

[2015-10-05 18:39] MorrisJobke commented on #19198
https://ci.owncloud.org/job/smashbox-on-docker-daily-stable8.1/ <- green again

[2015-10-05 18:39] #19198 closed

[2015-10-05 18:59] tobiasKaminsky commented on #16250
I was thinking about this route:
/gallery/api/previewByPath/{path}/{width}/{height}
So nearly the same like the existing one, but with a file path instead of the file id.
As this would be an additional route it will not affect any existing code.

On android I have
- remote path
- file id (which is not the same as the server file id)
- remote id, which is a long string, so not a real file id

There

[2015-10-05 19:04] VicDeo commented on #17457
should be fixed with https://github.com/owncloud/updater/pull/155

[2015-10-05 19:09] #17457 closed

[2015-10-05 19:19] Kawohl commented on #19370
@MorrisJobke @LukasReschke maybe carlos1.0 rebooted. I can connect to  cloud.damken.com

[2015-10-05 19:20] Kawohl commented on #19370
@cdamken maybe you have some ideas or other logs?

[2015-10-05 19:32] VicDeo commented on #19563
cc /me

[2015-10-05 19:40] VicDeo commented on #14432
@rullzer I guess https://github.com/owncloud/search_lucene should use it

[2015-10-05 19:40] #19550 closed

[2015-10-05 19:41] rullzer commented on #14432
@VicDeo ah will check that out. But will be 9.0

[2015-10-05 19:50] MorrisJobke commented on #19563
Simply click the subscribe button ;)

(I know it called "Unsubscribe" here)

![bildschirmfoto am 2015-10-05 um 21 49 17](https://cloud.githubusercontent.com/assets/245432/10291607/0a8b689a-6bab-11e5-8f9f-abe19b1e8bef.png)

[2015-10-05 20:02] #19549 closed

[2015-10-05 20:02] cmonteroluque commented on #15084
@blizzz sure thing. I think this issue should be fixed. Your proposal from 13 days ago makes sense and it should happen within the focus on the provisioning API. Fair comment, I will do that going forward

[2015-10-05 20:03] DeepDiver1975 commented on #19561
Can we close this? #19590 has been merged - THX

[2015-10-05 20:03] cmonteroluque commented on #19566
@karlitschek thanks!

[2015-10-05 20:21] #17570 closed

[2015-10-05 20:21] MorrisJobke commented on #19561
Not really. The action is still triggered instead of the sidebar.

[2015-10-05 20:26] PVince81 commented on #19561
@MorrisJobke I think this is by design. If you check mobile.css you can see that it is designed to have the name take up the whole row. If that's not acceptable, then we'll need to have @jancborchardt and others come up with a better design for mobile and there isn't any time left before RC.

For now, to open the sidebar in mobile mode you need to use "Details" in the menu.

I suggest moving this

[2015-10-05 20:29] MorrisJobke commented on #19561
Fine by me. We shouldn't mess up with UX that late in a release -> 9.0

[2015-10-05 20:50] FreeMinded commented on #17784
Could it be that the internet connectivity check does something strange?
But I don't understand what could be the problem except if there is a connection attempt to the server from the outside (which would fail as the certificate does not verify if CAcert root is not install. Still this would not explain why it works with the CAcert root in ca-bundle. And I guess everyone using self signed certifi

[2015-10-05 20:52] cmonteroluque commented on #16407
@DeepDiver1975 @PVince81 Yeah, part of the overall issue with external shares. Tough to accept but no choice at all.

[2015-10-05 20:55] cmonteroluque commented on #17687
bug for 8.2

[2015-10-05 21:44] oparoz commented on #16250
Unfortunately, it will, so does adding a new path parameter. It means adding a new test as well.
It can work if it only affects the API and doesn't require any changes outside of the controllers.

Those are the planned changes for 9.0:
https://github.com/owncloud/gallery/issues/408

[2015-10-05 22:15] alichakery commented on #19396
I mean since the migration of encryption keys failed in Admin area so I migrated them using this command in SSH :
<addr>$ sudo -u www-data php occ encryption:migrate</addr>

[2015-10-06 00:42] swas commented on #12269
I have the same issue, but three repetitions of the login error line instead two.

I appreciated this error since the first version of owncloud 7

My current test:

**Operating system**: Debian 7
**ownCloud version**: 7.0.7.2
**Web server**: nginx 1.6.2
**PHP version**: 5.6.12
**Database**:  MySQL 5.5.44

**Android client version**: 1.8.0

[2015-10-06 03:07] strugee commented on #19569
@RealRancor thanks. This should really be in core, though.

[2015-10-06 06:09] AdminJack commented on #19586
@MorrisJobke No, it don't solve the issue.
What is these log meaning(?):
[Mon Oct 05 20:10:14.605384 2015] [ssl:error] [pid 24732] AH02032: Hostname 130.255.73.7 provided via SNI and hostname owncloud.de provided via HTTP are different

[2015-10-06 06:18] nickvergessen commented on #19587
In order to bring back notifications, the following commit has to be reverted:
https://github.com/owncloud/core/commit/6bc93c740194d245bb9a7d1f230ed33461f842a7

[2015-10-06 06:28] nickvergessen commented on #17687
The PR to implement this missing feature however was delayed to 9.0

[2015-10-06 06:36] RealRancor commented on #19396
@alichakery This command is only needed if you're upgrading from oC 8.0.x to 8.1.x. Not for minor updates like from 8.1.0 to 8.1.3.

Really wonder if your initial migration from 8.0.x to 8.1.0 was done successfully

[2015-10-06 06:48] MorrisJobke commented on #19586
cc @LukasReschke

[2015-10-06 06:59] davitol commented on #17964
@blizzz Got it, thx. The issue is solved with the fix :+1:

[2015-10-06 07:23] #17964 closed

[2015-10-06 07:23] #13213 closed

[2015-10-06 07:24] #19541 closed

[2015-10-06 07:33] DeepDiver1975 commented on #9630
@karlitschek @cmonteroluque

If I understand this issue correctly this does not work with ProFTPD because of a missing behavior of that product. No idea if we can navigate around this - but this would require some analysis which cannot be done until 8.2RC1 tonight.

Move to 9.0? Spend time during RC phase? THX

[2015-10-06 07:34] DeepDiver1975 commented on #9630
@icewind1991 short comment on this is more then welcome - THX

[2015-10-06 07:36] DeepDiver1975 commented on #10511
@karlitschek @cmonteroluque to fix this issue we require #16304 which is scheduled for 9.0 - https://github.com/owncloud/core/issues/10511#issuecomment-112476155

We should move this issue as well.

[2015-10-06 07:38] DeepDiver1975 commented on #10820
@PVince81 any fix at hand? What can we do here? THX

[2015-10-06 07:55] DeepDiver1975 commented on #13414
This is fixed - just tested with 8.2.

@PVince81 what about this enhancement ticket - I guess we move it to 9.0 ???

[2015-10-06 08:00] DeepDiver1975 commented on #13456
@karlitschek @cmonteroluque we have no solution at hand - neither for 8.2 nor anything less-risky which is backportable.

[2015-10-06 08:02] DeepDiver1975 commented on #13493
@karlitschek @cmonteroluque 9.0 from my POV by now

[2015-10-06 08:04] PVince81 commented on #13414
Yes, move to 9.0 or backlog

[2015-10-06 08:07] DeepDiver1975 commented on #13414
@cmonteroluque

[2015-10-06 08:08] PVince81 commented on #10820
No current fix at hand, need to start from scratch.

[2015-10-06 08:10] DeepDiver1975 commented on #10820
@cmonteroluque @karlitschek 9.0 or fix during 8.2rc1 phase? THX

[2015-10-06 08:12] PVince81 commented on #10820
also the fix would be limited to storages that don't use the "$user" variable, which itself makes it impossible to identify the associated storages.

[2015-10-06 08:13] DeepDiver1975 commented on #15189
@karlitschek @cmonteroluque

backlog or close or QA to verify - THX

[2015-10-06 08:17] DeepDiver1975 commented on #15930
@karlitschek @cmonteroluque

I guess this requires in depth analysis on the explicit setup - @blizzz has hard time to reproduce this.

In addition this might require more of an admin task to find the bottleneck - maybe @danimo can help out. No idea to be honest.

[2015-10-06 08:19] alichakery commented on #19396
Yeah.. I restored my cPanel backup and it is working great... all files are accessible and there is no issues !!!

[2015-10-06 08:26] PVince81 commented on #10820
also I believe that we wanted to have the "undo" feature at the same time in case an admin deletes the wrong storage, so we wouldn't directly delete all cache entries for it right away.

[2015-10-06 08:42] MorrisJobke commented on #19317
From https://github.com/owncloud/core/pull/19347#issuecomment-145016465

@nickvergessen @PVince81 Change it to sev4?

[2015-10-06 08:47] khlem commented on #13456
Why not use an agent who check the files modifications directly on the shared server ?
Example : The Net Framework >3.5 (Windows) via a filesystem watcher can handle the job.
In fact the agent scans and updates the cache of each account.
An API can be proposed and each developer can add his "file system watcher"

[2015-10-06 08:50] PVince81 commented on #13456
The problem with watchers/daemons is that not everybody can set them up (ex: shared hosters). But it could be used as an optional addition to improve update detection.

[2015-10-06 09:00] khlem commented on #13456
I think the strength of Owncloud is the integration of many system and permit the use of LDAP.
The reinforcement of files update detection must be considered.
I hope see this update in the near future :).

[2015-10-06 09:00] MorrisJobke commented on #19317
sev3 as discussed with vincent, because it only applies to sqlite.

[2015-10-06 09:01] Tralapo commented on #7072
I see this (old) issue is closed, but I still have this problem. Installed ownCloud fresh. My setup:
### Server ###
RaspberryPi 2 Model B
ownCloud 8.1.3
Nginx 1.9.5
MySQL 5.5.44
Encryption on
### Desktop ###
Windows 10
Latest client 2.0.1

To be fair: yes, it's a Pi, hooked up to a external hard drive, so I didn't expect lightning speed. But: larger files and folders upload very fast, faster then

[2015-10-06 09:30] oparoz commented on #19594
There is also a side-effect to this.

If you cancel the operation, the spinner and upload message is never removed from the folder

[2015-10-06 09:31] schiesbn commented on #19370
This sounds like the server wasn't reachable while you tried to create the share. What happens if you re-try it, but check right before if the server is really online?

SSL shouldn't be a issue because you didn't enforced ssl, so if ssl fails it should fall back to non-ssl automatically, iirc (will double check).

[2015-10-06 09:34] #19300 closed

[2015-10-06 09:38] Kawohl commented on #19370
We've checked and the server was reachable at that time.
SSL  is enforced as far as i know.... correct me if im wrong.

[2015-10-06 09:46] DeepDiver1975 commented on #16641
@karlitschek @cmonteroluque I vote to close this with respect to the scope of 8.2 - we are in pretty good shape with 8.2 with respect to php7 - the oracle issue seems to be related to doctrine, which needs time for elaboration.

[2015-10-06 09:47] #16960 closed

[2015-10-06 09:51] DeepDiver1975 commented on #17323
worth a try

[2015-10-06 09:55] DeepDiver1975 commented on #17687
@cmonteroluque the "fix" was postpone to 9.0 because of open questions - not really critical from my pov

[2015-10-06 09:57] schiesbn commented on #19370
If the remote server enforces SSL then of course it has to be a certificate which can be validated by the sharing server. I just checked, cloud.damken.com uses a SSL certificate from StartCom, they should work fine.

[2015-10-06 09:59] DeepDiver1975 commented on #17997
let's decide on this once we have the code at hand - but I'd consider this not really critical for 8.2rc1

@cmonteroluque I propose to address this issue through out the RC1 bug fixing phase

[2015-10-06 10:04] karlitschek commented on #16641
What does pretty good shape mean? :-)

[2015-10-06 10:10] schiesbn commented on #19370
I just tried to send a remote share to @cdamken (sorry for the spam :wink: ) Worked fine, from my side. @cdamken did you received the share?

[2015-10-06 10:11] DeepDiver1975 commented on #16641
Unit tests on sqlite, mysql and pg are green for weeks: https://ci.owncloud.org/job/server-master-linux-php7/

[2015-10-06 10:20] schiesbn commented on #19370
@cdamken just confirmed that he received my server-to-server share. @Kawohl do you enforce ssl on your server too? What kind of certificate do you use?

[2015-10-06 10:23] Kawohl commented on #19370
Ah o.k. ,now i get it because my instance has a self signed certificate , @cdamken 's server can't read from mine. Is this documented somewhere?

[2015-10-06 10:23] Kawohl commented on #19370
So enforced ssl needs a public known cert from start ssl or similar for federated cloud sharing.

[2015-10-06 10:33] DeepDiver1975 commented on #19196
@LukasReschke any update on this? THX

[2015-10-06 10:36] #16251 closed

[2015-10-06 10:38] schiesbn commented on #19370
@Kawohl yes, carlos just shared a file with me from your ownCloud. I received it and could accept it. But is wasn't mounted on my server because it was a untrusted SSL certificate.

I did following to see the file on my server:
- enable the external storage app on my server and allow the users to mount at least one external storage
- go to my users preferences: Now I could upload ssl certificates

[2015-10-06 10:39] karlitschek commented on #16641
so done? :-)

[2015-10-06 10:39] icewind1991 commented on #9630
It's probably possible but will take a lot of work

[2015-10-06 10:39] schiesbn commented on #19370
If you want to use server-to-server sharing I would recommend to get a trusted SSL certificate. At https://startssl.com/ you can get one for free.

[2015-10-06 10:40] DeepDiver1975 commented on #19457
@icewind1991 any idea on what we can do to face this issue? THX

[2015-10-06 10:40] DeepDiver1975 commented on #16641
with exception of Oracle - yes :tada:

[2015-10-06 10:41] karlitschek commented on #16641
sweet!

[2015-10-06 10:41] #16641 closed

[2015-10-06 10:42] Kawohl commented on #19370
@schiesbn

Thanks for the info! As you said above a popup or something would be great! Thanks!
What do you think , should we close this and open an "enhancement issue"?

[2015-10-06 10:44] davitol commented on #19240
I have reproduce it again :crying_cat_face: , but I don't know why it happens, due to it is an erratic behaviour, and it not happens always.

[2015-10-06 10:46] schiesbn commented on #17997
@icewind1991 you probably know best what needs to be changed.

I would have just changed this ones:

[code]

But not sure if this is the complete list. As you are more familiar with the code, can you (@icewind1991)  prepare a pull request so that we can see the impact? Thanks!

[2015-10-06 10:46] MorrisJobke commented on #19370
Feel free to do so and only add the needed use cases. Thanks

[2015-10-06 10:47] karlitschek commented on #13456
definitely a tricky and complex question. Something for the future. 9.0

[2015-10-06 10:51] schiesbn commented on #19370
What do you think , should we close this and open an "enhancement issue"?

Yes, would be great if you could open a enhancement issue for it.

[2015-10-06 10:53] SergioBertolinSG commented on #19240
@blizzz 👋

[2015-10-06 10:58] JKawohl opened #19599 "Federated cloud sharing: No Notification of invalid shares through self signed ssl certs."
Steps to reproduce

1.Have two owncloud instances running one with a self signed ssl cert.
2.Share a folder or file from one to another

Expected behaviour

Share should appear in remote cloud of user shared with.., or if the share is not possible because the remote server doesn't trust the self signed cert there should be a popup.
The Popup should inform the user that the share is not possible be

[2015-10-06 11:08] Kawohl commented on #19370
opened enhancement here: https://github.com/owncloud/core/issues/19599

[2015-10-06 11:08] #19370 closed

[2015-10-06 11:30] icewind1991 commented on #17997
Not all of those cases should be adjusted from what I can tell, and it requires having the decision whether or not a file should be ignored made by the storage of the file instead of being able to use the same logic for every file

[2015-10-06 11:43] blizzz commented on #15084
Fix is here: https://github.com/owncloud/core/pull/19600

[2015-10-06 11:45] #19109 closed

[2015-10-06 11:58] khlem commented on #13456
@karlitschek I hope for the Owncloud 9.0.
Thx for your answer.

[2015-10-06 11:59] LukasReschke opened #19601 "Importing certificates does not work"
[code]

Regression of https://github.com/owncloud/core/pull/19139 as far I can tell

[2015-10-06 12:08] DeepDiver1975 commented on #13456
@karlitschek can you please adjust the milestone then? Only you and @cmonteroluque are allowed to - thx

[2015-10-06 12:09] karlitschek commented on #13493
agreed

[2015-10-06 12:09] karlitschek commented on #13456
done :-)

[2015-10-06 12:10] DeepDiver1975 commented on #13493
THX

[2015-10-06 12:10] DeepDiver1975 commented on #13456
THX

[2015-10-06 12:15] schiesbn commented on #17997
not sure about that. I think the part file handling should be the same for every file stored in user/files, no matter which storage is used. Because that's the logic we use to hide files as long as the upload isn't finished. I would say, we just need to change the semantic from "hide all part files" to "hide all part files in user/files". But maybe I miss something?

[2015-10-06 12:22] Kawohl opened #19606 "Federated cloud sharing: New share doesn't show up in "all files""
### Steps to reproduce
1.Have two instances of owncloud running
2.Share from from server1 vie federated share to server2
3.As user on server2 share the federated share from server one with a group on server2.

### Expected behaviour
Users within the group should see the shared file in the "all files section"

![bildschirmfoto 2015-10-06 um 13 53 22](https://cloud.githubusercontent.com/assets/12275

[2015-10-06 12:30] cmonteroluque commented on #15189
assigned to @rperezb to distribute within QA to verify please

[2015-10-06 12:31] cmonteroluque commented on #15930
@jvillafanez can you help @blizzz with the setup?

[2015-10-06 12:33] cmonteroluque commented on #17687
ok, moving to 9.0

[2015-10-06 12:34] schiesbn commented on #10511
I just skim through the issue. But shouldn't be a solution relatively easy to implement similar to what we do in sharing: https://github.com/owncloud/core/blob/master/apps/files_sharing/lib/sharedmount.php#L70

Basically on mount we do a ````files_exists($mountPoint)````, if it returns false we mount it, if it returns true we generate a new unique target, write it to the share table (in this case

[2015-10-06 12:37] PVince81 commented on #10511
The problem with renaming mount points on-demand is that concurrency might execute the same logic several times at once. But back then we didn't have locking, maybe locking the local mount point first could work.

[2015-10-06 12:49] schiesbn commented on #19606
@Kawohl that goes back to https://github.com/owncloud/core/issues/19599 which describes how we can improve the situation, right?

For now, this is the solution: https://github.com/owncloud/core/issues/19370#issuecomment-145818551
And this the work around: https://github.com/owncloud/core/issues/19370#issuecomment-145818272

[2015-10-06 12:50] icewind1991 commented on #17997
detecting if a file is inside `/user/files` requires the decision to be on the storage, since with the scanner we're working with internal paths (relative to the storage) so to check if it's inside `/user/files` we either need to get the mountpoint or check the if it's a home storage.

Thinking about it the best way would be to add a storage wrapper that removes any part file from the directory li

[2015-10-06 12:51] schiesbn commented on #19599
probably the popup should allow the user to directly accept the certificate.

@LukasReschke I think you already suggested something similar? Do you want to give it a try?

[2015-10-06 12:53] Kawohl commented on #19606
There is something wrong because both servers don´t have any certs. and https is not enforced on neither one of them.

[2015-10-06 12:55] schiesbn commented on #19606
ok, let's see if I can reproduce it

[2015-10-06 12:56] Kawohl commented on #19606
I used two machines on Digitalocean. And can give you Access

[2015-10-06 12:57] PVince81 commented on #19606
Duplicate of https://github.com/owncloud/core/issues/15116.

Also you have a weird screenshot, it seems that both "All files" and "Favorites" are selected at the same time ?!

[2015-10-06 12:57] #19606 closed

[2015-10-06 12:58] schiesbn commented on #19606
@PVince81 I was just about to write the same

[2015-10-06 13:04] Kawohl commented on #19606
![bildschirmfoto 2015-10-06 um 15 03 52](https://cloud.githubusercontent.com/assets/12275313/10309204/8726e5ce-6c3b-11e5-92f9-032721b77046.png)
Here ya go.

[2015-10-06 13:05] PVince81 commented on #19606
@Kawohl hopefully it was not a bug then :smile:

[2015-10-06 13:07] DeepDiver1975 commented on #17687
thx

[2015-10-06 13:23] #19601 closed

[2015-10-06 13:29] schiesbn commented on #17997
So you would suggest to remove all the isPartialFile() checks and instead filter the part files on storage level on operations like getDirectoryContent()? As far as I can see they can't be wrapped by a storage wrapper.

And what happens for single file operations? How do we decide in this case if it should be scanned or not. I don't see the equivalent to the  isPartialFile() check on storage level

[2015-10-06 13:29] icewind1991 commented on #19457
From what I can tell this is caused by the preview generation triggering the file scanner while it's still in the transaction of the scanner causing a lock with the transactions

[2015-10-06 13:34] DeepDiver1975 commented on #9958
@karlitschek @cmonteroluque GDrive is a bigger beast - suggest to move to 9.0 or backlog - depending on the intention to address GDrive external storage implementation - which means:
kill the code in core and implement it as an app on it's own using flysystem.

[2015-10-06 13:36] MaxTorque1 opened #19608 "Owncloud update issue"
I am trying to update my owncloud server (Linux Ubuntu server) via the web interface on a windows 10 desktop computer. The update is from version 8.0.4 to 8.1.3. The update process gets as far as creating a backup. It then advises me that the update is unsuccessful due to the following:
 'Exception: Please upload the ca-bundle.crt file into the 'config' directory.'

To be honest, I have no idea wh

[2015-10-06 13:36] icewind1991 commented on #17997
if we block part files from opendir we prevent it going into the cache, any direct operation on the part file will still work.

This is the same behavior as we currently have only we can properly handle the "outside `/user/files`" case

[2015-10-06 13:37] DeepDiver1975 commented on #9891
@karlitschek @cmonteroluque this is the famous 3byte vs 4byte mysql char set issue - not really a solution at hand - suggest to move this to the backlog

[2015-10-06 13:38] PVince81 commented on #13414
@michaelstingl can you confirm that the blue ticket part is fixed ? Last time I checked the back button was properly closing the text editor, so it should work.

We should defer this ticket here to 9.0 or backlog and also remove the blue ticket tag as its part was fixed.

[2015-10-06 13:40] PVince81 commented on #10511
@schiesbn feel free to take over if you'd like to have a try with this approach

[2015-10-06 13:40] RealRancor commented on #19608
Hi,

dup of https://github.com/owncloud/core/issues/19551, https://github.com/owncloud/core/issues/19204 and https://github.com/owncloud/updater/issues/164 (should be available on the github search).

See https://github.com/owncloud/updater/issues/164#issuecomment-141549254 how to fix.

[2015-10-06 13:48] karlitschek commented on #9891
Yes unfortunately. This needs a lot more thinking later.

[2015-10-06 13:53] #19608 closed

[2015-10-06 13:56] oparoz commented on #19457
There is something I don't understand. Here is the workflow:
1. Start the DB collector
2. Lock the folder
3. Start scanning the folder recursively
4. Start generating previews as file events arrive
5. Unlock the folder
5. Commit detected changes to the DB
6. Finish generating previews

How does 4) happen when the folder is locked? I've verified in the UI and you can't access the files while they'r

[2015-10-06 13:59] MorrisJobke commented on #10189
Still hardcoded https://github.com/owncloud/core/blob/bb4246c9a8dc40d844ad94492cb40ece5bd35ef6/lib/private/files.php#L164-L170

[2015-10-06 14:00] rullzer commented on #5251
PR in #19609

[2015-10-06 14:21] karlitschek commented on #9958
No time for 8.2

[2015-10-06 14:23] #10318 closed

[2015-10-06 14:28] #17301 closed

[2015-10-06 14:29] oparoz commented on #19457
Is it only locking files for the user?

[2015-10-06 14:30] LukasReschke commented on #19586
Probably just a misbehaving client.

[2015-10-06 14:35] icewind1991 commented on #19457
Iirc the scanner only gets a read lock on the files, and generating previews only needs write access to the preview file

[2015-10-06 14:50] PVince81 commented on #10820
Fix is here for the removal: https://github.com/owncloud/core/pull/19610
Does **not** work with `$user` variables, these are ignored at deletion time. Also does **not** contain an undo feature.

[2015-10-06 14:52] oparoz commented on #19457
Yes, so that should prevent the preview class from reading the files

[2015-10-06 15:06] PVince81 commented on #10511
Dynamically renaming mount points (adding a "(2)") at mount time will not work with the WND/Sharepoint apps which have their own config formats.

[2015-10-06 15:07] skoenen commented on #19040
Hi there,

i have the same problem.
The command given above solves at first that.
What could be the root cause?

Has the ldap server to be configured? (Is it missing memberOf-Support)
Or is it a bug in owncloud?

I think the workaround, to not use memberOf, slows down some stuff,right?

[2015-10-06 15:08] icewind1991 commented on #19457
No, only a write lock prevents from reading

[2015-10-06 15:25] PVince81 commented on #10511
The current configuration format makes it tricky.

Also the question is whether to catch this at configuration time (best) or once it is already mounted.

It all depends on the type of mount points.

#### System-wide mount points
If we're talking about the admin setting up mount points, then
1) if the mount point has the same name and the configuration is 100% identical except with different "appl

[2015-10-06 15:25] cmonteroluque commented on #9891
Nod.

[2015-10-06 15:27] PVince81 commented on #10511
The solution proposed by @schiesbn could cover all the cases at once. It means that the UI will not show any error but the mount point name will be automatically changed to "(2)" at mount time. I tried this before in this PR https://github.com/owncloud/core/pull/11807 but is causing trouble and potential performance issues and was closed after an advice from @icewind1991

Needs further research.

[2015-10-06 15:29] cmonteroluque commented on #9958
OK, we have a lot of work for external storage for 9.0. This would seem the right time to look into it

[2015-10-06 15:30] PVince81 commented on #12970
Here is an "overview" in test code form of how the permissions work at the moment, it's quite messy:
https://github.com/owncloud/smashbox/blob/master/lib/oc-tests/test_sharePermissions.py#L77

[2015-10-06 15:36] oparoz commented on #19457
OK, got it (https://en.wikipedia.org/wiki/Two-phase_locking)

So generating a preview, triggers another scan? If yes, is there any way to disable that?

[2015-10-06 15:43] cmonteroluque commented on #10820
thanks @PVince81

[2015-10-06 15:43] cmonteroluque commented on #13414
holding off for @michaelstingl's answer

[2015-10-06 15:48] cmonteroluque commented on #10511
OK, 9.0. We're moving a lot of external storage work into it, we will have to plan this carefully

[2015-10-06 15:49] cmonteroluque commented on #9630
again, more dump into 9.0. Moving it...

[2015-10-06 15:54] PVince81 commented on #19317
Moving to 9.0 as per the PR's comment https://github.com/owncloud/core/pull/19347#issuecomment-145907077

[2015-10-06 16:08] blizzz commented on #15930
Okay, after recapitulating: a configuration is being disabled while an LDAP operation is in progress.

The reality is: the operation needs to be finished by PHP. There is no way we can safely cancel a running PHP  process from another one. So this will be going on until our PHP script (and the LDAP server) are doing what was requested. These are all synchronous calls. The only way to restart this

[2015-10-06 16:09] #16587 closed

[2015-10-06 16:11] rperezb commented on #19579
Nice!

[2015-10-06 16:21] fpytloun commented on #19586
Hello, I am experiencing just the same issue. SNI issue doesn't appear in my case, also nothing interesting in logs so I am pretty stucked with debuging :-/
Redirect loop disappears if I set `installed` to `false` in config.php

[2015-10-06 16:23] MorrisJobke commented on #9630
@cdamken @michaelstingl This was moved to 9.0

[2015-10-06 16:39] gig13 opened #19613 "NaN error message when changing quota"
### Steps to reproduce
1. Setup OC 7.0.5.2
2. Set the primary storage to an Amazon NFS mounted EBS
3. Attempt to Change the quota

### Expected behaviour
An admin should be able to change the quota. If an error occurs, it should be a useful message for the end user.

### Actual behaviour
When changing the quota, a poorly handled error is propagated to the end user.

<img width="561" alt="quotaerro

[2015-10-06 16:55] tobiasKaminsky commented on #16250
With the help of IRC I have found out that the android app already gets the file id.
Therefore I just can use your existing route.
Great :)

So, we are done here for now.
I keep this issue open that we can maybe later change to the WebDav preview endpoint as you said.

Thanks again for your help!

[2015-10-06 16:59] MorrisJobke commented on #19613
I remind that something similiar was fixed some time back. This is a 7.0.5 and 7.0.10 is the current one. Could already be fixed...

[2015-10-06 17:00] gig13 commented on #19613
@MorrisJobke
I saw similar issues, but wanted to confirm before forcing an upgrade.

[2015-10-06 17:01] MorrisJobke commented on #19613
Fixed in 8.1 and 8.0.2 - #9342

[2015-10-06 17:02] MorrisJobke commented on #19613
And for stable7 we are in the "security fixes only" phase.

[2015-10-06 17:36] icewind1991 commented on #19457
It triggers a scan on the preview file it generated

[2015-10-06 17:37] DeepDiver1975 commented on #10566
@karlitschek @cmonteroluque

To late in the dev cycle - I suggest to postpone this to 9.0 or even backlog - THX

[2015-10-06 18:30] oparoz commented on #19457
OK, but the original scan locks `/user/files/SMB` and the thumbnails are written to `user/thumbnails`, so there should be no conflict and yet the GUI can't access the folder.

[2015-10-06 18:33] oparoz commented on #19457
Actually, all the files of the user are locked down (just tried to browse another folder). It shouldn't happen with a lock on a single folder.

[2015-10-06 18:41] oparoz commented on #18739
You can't drag and drop in the files app without it

It doesn't really matter as it's a library which can be included in the apps themeselves. It's more of a problem when core JS stuff is thrown away.

[2015-10-06 19:14] gig13 commented on #19613
@bboule
Can this be back ported to OC7.0.x?

[2015-10-06 19:58] #10820 closed

[2015-10-06 20:35] icewind1991 commented on #19457
It's probably related the the transaction, not the lock

How does the request fail when you try to browser?

[2015-10-06 20:46] oparoz commented on #19457
I get the spinner and it just waits for the request to complete before loading the list of files. I suspect that if this takes too long, then things start to fail, probably with error 1205

[2015-10-06 20:47] MorrisJobke commented on #10820
@michaelstingl @cdamken Can you communicate this to the customer. Be aware of the restrictions of the solution: https://github.com/owncloud/core/pull/19610#issue-110025046

[2015-10-06 20:48] rfnx commented on #18870
Hello !

I don't know if this is the right place to ask, but I really like X-Accel support because of start/stop downloads and very light load on the server (no php involved).
Will it be replaced by a php library or something that allows users to at least start/stop downloads?

[2015-10-06 20:50] MorrisJobke commented on #19613
As this is not a security related bug: I don't think so.

[2015-10-06 20:56] bboule commented on #19613
We am should discuss as this may need to happen

[2015-10-06 20:56] karlitschek commented on #10566
yes. too late for proper testing anyways

[2015-10-06 21:02] DeepDiver1975 commented on #18870
I'm not aware of any solution which would fit into this. no

[2015-10-06 21:29] blizzz commented on #14384
@cmonteroluque um…we don't have a severity here?

[2015-10-06 21:29] DeepDiver1975 commented on #19613
Not much to be discussed - https://github.com/owncloud/core/wiki/Maintenance-and-Release-Schedule#minor-releases---maintenance-releases

@cmonteroluque

[2015-10-06 21:45] jancborchardt commented on #19566
Profile pictures and full names should also be exposed. Maybe even ability to search by email address, even if that’s just in the background, and could be restricted by privacy settings. But that way we could have a function to automatically query everyone from your Contacts – like most other proprietary apps do as well.

[2015-10-06 22:19] MaxTorque1 commented on #19551
Hi RealRancor,
Thanks for pointing me to a potential solution but my .htaccess and Config.php files appear to be OK. The server however is still informing me that it is in maintenance mode and requires to upload a file with this warning:
Exception: Please upload the ca-bundle.crt file into the 'config' directory

My owncloud server is temporarily unavailable.

Any help on getting the system runnin

[2015-10-07 04:34] RealRancor commented on #19551
Both files don't have the name "ca-bundle.crt" in their filename.

[2015-10-07 05:57] rullzer commented on #12970
Yes please this needs to be simplified. Also from a webdav persepctive (and in 9.0 that will most likely also be used for the webend).

I would really like if we could properly follow the webdav spec. So there are only moves. No renames.

Examples of weird behaviour:
* It is very counter intuitive that if I only have update permissions I can rename a file. But can't move it to a subfolder.
* Also

[2015-10-07 06:19] hostingnuggets commented on #19319
@karlitschek could you raise the priority of this issue? this is a critical blocker as anyone who is using encryption with OC 7 will not be able to upgrade to OC 8. I let the upgrade run for 7 hours on "only" 60 GB of data and it still wasn't finished.

[2015-10-07 07:40] davitol opened #19614 "[Sharing by link] Text files are not downloaded right. Instead the file, a .rar with a folder is downloaded."
### Steps to reproduce

1. Create a text file
2. Click on share icon (sidebar is shown)
3. Share the file via link
4. Paste the link in another browser
5. Try to download the file

### Expected behaviour
A .txt should be download

### Actual behaviour
A .rar file is downloaded and it contains an empty folder named as the text file

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web

[2015-10-07 07:53] PVince81 commented on #19614
Bisect time

[2015-10-07 07:55] PVince81 commented on #19614
Confirmed on master, in my case it's a zip file

[2015-10-07 07:56] davitol commented on #19614
Yes, It is due to you work on Windows. On OSX rar file appears

[2015-10-07 07:56] PVince81 commented on #19614
I don't work on Windows :wink:

[2015-10-07 07:58] davitol commented on #19614
:speak_no_evil:

[2015-10-07 07:58] PVince81 commented on #19614
Caused by be46cd6737f7b4414d4583d0096d90b73929ce3d from the zip lock fix: https://github.com/owncloud/core/pull/19407
@DeepDiver1975

[2015-10-07 08:00] PVince81 commented on #19614
Single file download from the file list (regular list and public link) works fine.
So it's really only the "single file share public link download" that is broken.

[2015-10-07 08:15] AdminJack commented on #19586
The Problem must be in the database or in the /data directory, because I have played all other directories with a backup back and the issue wasn't solved.

[2015-10-07 08:17] PVince81 commented on #9740
Keyboard navigation was broken for a long time and needs a more extensive fix to work properly with scrolling and the sidebar. Work has started here https://github.com/owncloud/core/pull/19445

[2015-10-07 08:24] PVince81 commented on #14384
https://github.com/owncloud/core/issues/19541 was fixed, so the symptoms described in https://github.com/owncloud/core/issues/14384#issuecomment-143354710 should not appear any more.

So now this ticket is only about checking if the add/delete hooks are triggered properly when new groups are synced from LDAP.

[2015-10-07 08:24] sigmoidal commented on #19559
I tracked down the problem. This is a very specific bug that has been reported in the past:

It seems to be the same issue with: https://github.com/owncloud/core/issues/10984 and is not really an owncloud problem.

The problem is due to using the mod_fastcgi_handler with php-fpm, it was similarly reported in: https://github.com/hollow/mod_fastcgi_handler/issues/10

The solution was to fetch and co

[2015-10-07 09:15] jvillafanez commented on #19614
I guess this is what I'm seeing with the upgrades to 8.2RC1. The hash for the shared file after the upgrade is different.

[2015-10-07 09:17] PVince81 commented on #19614
This issue here doesn't have anything to do with the share hash.

[2015-10-07 09:20] rullzer commented on #19559
@sigmoidal ah great that you solved this. Closing time :)

[2015-10-07 09:20] #19559 closed

[2015-10-07 09:22] jvillafanez commented on #19614
To be clearer, I'm hashing the file locally to verify the downloaded file is the same than the one I've uploaded. I'm not saying the hash stored in the ownCloud filecache is modified or anything, just the downloaded file isn't the expected one.

[2015-10-07 09:23] PVince81 commented on #19614
Ah ok, I thought you were talking about the hash in the public share URL.

[2015-10-07 09:30] MorrisJobke commented on #9740
So we move this to 9.0?

cc @cmonteroluque @PVince81

[2015-10-07 09:34] PVince81 commented on #9740
Yes, I don't want to risk breaking the web UI that late

[2015-10-07 09:45] jvillafanez opened #19617 "Warning messages during the package upgrade from 8.1.3 to 8.2RC1"
### Steps to reproduce
1. Install OC 8.1.3 from packages
2. Upgrade to 8.2RC1 from packages

### Expected behaviour
Upgrade is done smoothly

### Actual behaviour
Fatal error during the upgrade about the file_locks table

### Server configuration
**Operating system**: ubuntu 14.04

**Web server:** apapche 2.4.7

**Database:** mysql

**PHP version:** 5.5.9

**ownCloud version:** 8.2RC1

**Updated f

[2015-10-07 09:57] nickvergessen commented on #19617
@icewind1991 locking issue

[2015-10-07 09:57] michaelstingl commented on #13414
@PVince81 @cmonteroluque I can confirm: Closing text editor with browser back button keeps user in the current directory. This solves this problem described here: https://github.com/owncloud/files_texteditor/issues/50#issuecomment-66123127 Thanks!

[2015-10-07 09:58] nickvergessen commented on #19617
Should we catch the exception here:
https://github.com/owncloud/core/blob/b945d713845d640d63241de4d5a67813384b88ce/lib/private/lock/dblockingprovider.php#L188-188 ?
Or is it too risky?

[2015-10-07 10:00] nickvergessen commented on #19617
Second idea, only call the method when we acquired at least one lock.

[2015-10-07 10:17] DeepDiver1975 commented on #19614
we are talking about a text file? And Windows is involved? Most probably some \n\r \n :hankey:

[2015-10-07 10:17] DeepDiver1975 commented on #19614
I'll have a look at this

[2015-10-07 10:23] PVince81 commented on #16464
Already works on 8.2/master, it seems the headers is already being sent.

[2015-10-07 10:23] #16464 closed

[2015-10-07 10:31] jvillafanez commented on #19614
No windows in my case

[2015-10-07 10:32] nickvergessen commented on #19614
@DeepDiver1975 no, any text file is (when downloaded directly) downloaded as an archive instead of directly.

[2015-10-07 10:43] julenl opened #19618 "ownCloud .deb/.rpm packages. Strong file/directory permissions as default."
As we are all more or less concerned about security, the official documentation recommends setting strong file/directory permissions on the owncloud directory.
https://doc.owncloud.org/server/8.0/admin_manual/installation/installation_wizard.html#setting-strong-directory-permissions

Why not to set those permissions the right way already in the package? This would also solve the overwrite issue wi

[2015-10-07 10:47] PVince81 commented on #18992
IE doesn't support drop shadow AFAIK, need a fallback

[2015-10-07 10:47] davitol commented on #19614
OSX => as .tar file
Windows, Linux => as .zip file

In all cases the compress file contains a folder named as the text file, and this folder is empty

[2015-10-07 10:51] rullzer commented on #11703
Resolved with https://github.com/owncloud/core/pull/19553

[2015-10-07 10:51] #11703 closed

[2015-10-07 10:51] DeepDiver1975 commented on #19614
yes - I'm talking about the has missmatch .. anyway - I'll look into the issue

[2015-10-07 10:53] oparoz commented on #18992
:S That will probably require a PNG in a container...

[2015-10-07 10:56] PVince81 commented on #18992
Hmm, no. Looks like IE >= 9 should support it: http://caniuse.com/#feat=css-boxshadow

[2015-10-07 10:57] PVince81 commented on #18992
Wait a minute, I don't see a shadow in Chrome either on master. I think we removed it completely ? Or did you mean the button's background color ?

[2015-10-07 10:58] nickvergessen commented on #18992
works for me on chrome:
![bildschirmfoto vom 2015-10-07 12 58 32](https://cloud.githubusercontent.com/assets/213943/10335724/2b82a61e-6cf3-11e5-9f9c-f18b69c96ef6.png)

[2015-10-07 11:00] PVince81 commented on #18992
Ah sorry. I thought the button, you mean the dropdown. Need more :coffee:

The dropdown uses drop shadow, maybe in IE the CSS rules order is different for some reason.

[2015-10-07 11:10] rfnx commented on #18870
Of course this exist, I remember using it in another project, one or 2 years ago. Basically, php can just read the header that indicate the range and start downloads at the right position, it is very easy.

But I heard somewhere that oC will soon use webdav even for files app, will it solve the issue and give us the ability to start and pause again ?

[2015-10-07 11:18] jnweiger commented on #19617
@jvillafanez 'The WARNING W: Ignoring Provides line with DepCompareOp for package owncloud-3rdparty' is a different issue.  I am looking into that. It appears on some older versions of apt, where versioned Provides are not supported.

[2015-10-07 11:21] schiesbn commented on #19566
@jancborchardt I agree. We can decide at the end which data the ownCloud server should exchange. But I agree that at least the cloud id, display name (= full name) should be exchanged. Other stuff like avatar could make sense too. But in case of avatars we need to make sure that we don't fill up the disk space with thousands of avatars from remote servers. Afaik, @rullzer already implemented a API

[2015-10-07 11:22] DeepDiver1975 commented on #18870
Pull requests are very much welcome :speak_no_evil:

[2015-10-07 11:25] schiesbn commented on #19584
We should also think about how to make sure that people can discover those shortcuts. Maybe the settings menu of the files app (bottom left) should have a link "shortcuts" which opens a separate page or a pop-up (similar to the first run wizard) which explains the shortcuts.

[2015-10-07 11:31] rullzer commented on #19566
@schiesbn remote avatars will be part of 9.0 most likely. Fetching them on demand probably makes the most sense.

[2015-10-07 11:38] PVince81 commented on #19618
@jnweiger any reason why it's not done on the package already ?

[2015-10-07 11:42] rfnx commented on #18870
I can help :) but first I need to know if my second point (about webdav for files app) is right because it can also solve the issue, thus no need to use another solution like a php library for that.

[2015-10-07 11:49] MorrisJobke commented on #18870
Yes. There are plans to move the files app to webdav: #16902 or as alternative #17668 - both are planned for the next major version (9.0)

[2015-10-07 11:50] PVince81 commented on #11692
Still happening on master / 8.2 rc1 which has an updated phpseclib:
[code]

Now I see that the upstream issue hasn't been fixed yet.

[2015-10-07 11:55] oparoz opened #19620 "OC/OCA is undefined on IE8"
![ie8_js_errors](https://cloud.githubusercontent.com/assets/323220/10336698/f1389358-6cfa-11e5-8bd0-830ae628fc94.png)

@PVince81 - Do we care?

cc @MTRichards

[2015-10-07 11:55] Aikhjarto opened #19621 "Can't upload files large than 8192 bytes to owncloud 8.1.3"
Since the last update to 8.1.3 I cannot upload files larger than 8192. Files smaller than 8kB work fine thou. Sync client version i 2.0.1.
Seems to me that file chunking is broken as this would possible kick in for files larger than 8kB.
Error message from the log is as follows:

<10>Oct  7 13:48:54 ownCloud[10493]: {webdav} Exception: {"Message":"HTTP\/1.1 400 expected filesize 8193 got 0","Code"

[2015-10-07 11:56] PVince81 commented on #19620
@oparoz yes. It is likely that in that situation everything is broken, or at least all the functionality linked to these files.

Can you provide the steps to reproduce ?

[2015-10-07 11:59] MorrisJobke commented on #19584
Alternative: Press `?` here on github ;)

[2015-10-07 11:59] DeepDiver1975 commented on #19620
which co version is that?

[2015-10-07 12:01] oparoz commented on #19620
It's when listing files via a public share, but my problem is that that list doesn't seem to refresh... So I need to figure that out first in order to be able to pinpoint the problem.

[2015-10-07 12:02] DeepDiver1975 commented on #19621
@Aikhjarto can you provide the client logs as well?

Information about the server and the client is welcome as well:

https://github.com/owncloud/core/blob/master/CONTRIBUTING.md#submitting-issues

[2015-10-07 12:06] DeepDiver1975 commented on #19617
looks like we are executing a repair step before the table has been generated - we might want to add a check if the table exists

@icewind1991 @PVince81 @nickvergessen objections?

[2015-10-07 12:06] mlino commented on #17201
Hi,

I'm facing the same issue on version 6.0.2, but seems that de base.php file is a little bit different from the comment above. I just can't found  `header("Location: " . OC::$WEBROOT.(empty(OC::$WEBROOT) ? '/' : ' ')); ` on base.php file

[2015-10-07 12:08] oparoz commented on #19620
False alarm. That happens when enabling compatibility mode, which is probably unsupported.
Close this if I'm correct :)

[2015-10-07 12:09] DeepDiver1975 commented on #19620
yes -compat mod is not supported -> closing

[2015-10-07 12:09] #19620 closed

[2015-10-07 12:15] Aikhjarto commented on #19621
Of course I can provide more information. Server is an apache 2.4 with php 5.6 running on openSUSE 13.1. Apps are mostely disabled:
[code]

Clients are running openSUSE Tumbleweed and Windows 10.

Client log extracted from from my Tumbleweed machine:
[code]

[2015-10-07 12:17] DeepDiver1975 commented on #19621
error downloading?  the server logs says it's a PUT??

@dragotin can one of the desktop guys have a look here? THX

[2015-10-07 12:18] butonic commented on #15702
@cmonteroluque @DeepDiver1975 so what milestone do we plan for? 8.2 or 8.2.1 or 9.0?

[2015-10-07 12:24] icewind1991 commented on #19617
sounds good

[2015-10-07 12:24] bboule commented on #19613
Lets not live in a black in white world (we sometimes lose that luxury when we deal with paying customers).  While I understand what is written in the policy that you have posted (and we try to abide by that policy), I think these are exceptions that warrant discussion.  We have a set of circumstances here that prevents an upgrade on the customer side (time needed for testing of new versions, comp

[2015-10-07 12:28] cdamken commented on #19540
Server stack:

• Operating system (name and version number):
root@cloud01:~# cat /etc/issue
Ubuntu 14.04.1 LTS \n \l

• Your ownCloud availability:
Internet

• Webserver (name and version number):
root@cloud01:~# apache2ctl -v
Server version: Apache/2.4.7 (Ubuntu)
Server built: Jul 24 2015 17:25:11

• Apache modules enabled as declared in:

access_compat.load
alias.conf
alias.load
auth_basic.load

[2015-10-07 12:28] cdamken commented on #19540
I see they have ACPU but configured Memecached in the config.php

[2015-10-07 12:29] rperezb commented on #5251
@SergioBertolinSG can you please take care of this one?

[2015-10-07 12:29] cdamken commented on #19540
We probably have found the issue causing this. This is due to the PHP APC cache module.
Even if this module is disabled on the server it causes interruptions in the drag and drop and creation of folders features.  Especially in Internet Explorer environments.

So we deleted the complete module and now everything works. I think this is a good one to mention in some developer FAQ.
So it was not acti

[2015-10-07 12:35] DeepDiver1975 commented on #19540
That's really a strange explanation ... I honestly cannot believe this

[2015-10-07 12:38] #19614 closed

[2015-10-07 12:38] cdamken commented on #19540
I'm agree

[2015-10-07 12:42] jvillafanez opened #19622 "Ubuntu package upgrade from 8.1.3 to 8.2RC1 ignores provides line"
### Steps to reproduce
1. Install OC 8.1.3 from packages
2. Upgrade to 8.2RC1 from packages

### Expected behaviour
The upgrade is done smoothly

### Actual behaviour
Warning messages appears during the upgrade

### Server configuration
**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

**Database:** mysql

**PHP version:** 5.5.9

**ownCloud version:** 8.2RC1

**Updated from an olde

[2015-10-07 12:43] jvillafanez commented on #19617
@jnweiger your packaging issue: https://github.com/owncloud/core/issues/19622

[2015-10-07 12:55] #18297 closed

[2015-10-07 13:23] DeepDiver1975 commented on #17671
I tend to close it - people should not have other tables in the sqlite database. Criticality is close to :zero:

[2015-10-07 13:23] #17671 closed

[2015-10-07 13:36] PVince81 commented on #16244
@jancborchardt there is no "Deleted files" entry when trashbin is disabled. The shift is due to this CSS rule https://github.com/owncloud/core/blob/v8.2RC1/apps/files/css/files.css#L96 that applies itself on the nth-child(2)

[2015-10-07 13:36] MorrisJobke commented on #19613
Let me check how hard this is.

[2015-10-07 13:37] Aikhjarto commented on #19621
Digged around a bit further: Uploading via Webinterface (used firefox and chrome on both, openSUSE Tumbleweed and Windows 10) doesn't work for files large than 8192 bytes either.
Error message in the browser (yellow bar in the owncloud tab) is: "Das Upload-Verzeichnis konnte nicht gesetzt werden."
Smaller files can be uploaded.

[2015-10-07 13:37] tflidd commented on #19613
7.0.0 was released in June 2014. The fix was in Jan/Feb 2015, shouldn't it be in the bug/security fix cycle (7-12 months)?
@bboule If it is so important, you could even consider applying the patch yourself (only a 3 lines are changed)

[2015-10-07 13:40] PVince81 commented on #16244
Fix is here https://github.com/owncloud/core/pull/19624 which removes that block (works in Chrome and Firefox)

[2015-10-07 13:41] MorrisJobke commented on #19613
The problem is, that we also need to check for possible side effects.

[2015-10-07 13:59] PVince81 commented on #14142
Fix is here https://github.com/owncloud/core/pull/19625 (one liner)

[2015-10-07 14:00] Aikhjarto commented on #19621
Found the issue #3816 similar to mine.
I followed the suggestions there for setting apache's ```KeepAliveTimeout``` and ```SSLRenegBufferSize``` to large values. This did not change anything.
The workaround in #3816 to start the client with larger chunk size ```OWNCLOUD_CHUNK_SIZE=1048576 ./owncloud```or ```SSLStrictSNIVHostCheck off``` in apache's config  doesn't work either.

[2015-10-07 14:00] cmonteroluque commented on #19613
@bboule let's talk.

[2015-10-07 14:01] PVince81 commented on #13589
This is because the deferred action from the "undo" notification isn't sent in the correct order.

[2015-10-07 14:02] MorrisJobke commented on #19613
Backport is in #19626

[2015-10-07 14:05] gig13 commented on #19578
OC 7.0.10 version

Files left behind are
[code]

Nothing of not in the owncloud.log

Checking how often the cron ran.

[2015-10-07 14:12] PVince81 commented on #13589
Ouch, we still didn't have time to introduce a proper undo handler, this is going to get fiddly...

[2015-10-07 14:20] Aikhjarto commented on #19621
Yet another test: uploading files larger than 8k also won't work with the webdav interface remote.php/webdav
Tested with the Dolphin filebrowser on openSUSE Tumbleweed and the webdav client from Windows 10.
Same error on server side as in the first post.

[2015-10-07 14:22] PVince81 commented on #13589
Fiddly fix is here https://github.com/owncloud/core/pull/19627

[2015-10-07 14:27] cmonteroluque commented on #19613
@gig13 can you test this? From my conversation with @bboule

[2015-10-07 14:33] gig13 commented on #19613
@gig -- No lab = no testing

[2015-10-07 14:35] PVince81 commented on #8433
Fix is here https://github.com/owncloud/core/pull/19628

[2015-10-07 14:37] cmonteroluque commented on #18575
@SergioBertolinSG update please

[2015-10-07 14:39] PVince81 commented on #19506
It seems the activity app isn't able to retrieve activities for deleted files, it might be on purpose @nickvergessen ?

Regardless of activities, the sidebar can also show the bigger thumbnail, which can be useful too.

[2015-10-07 14:40] PVince81 commented on #19527
- [ ] dropdown shadow is missing in @oparoz's favorite browsers: https://github.com/owncloud/core/issues/18992

[2015-10-07 14:46] cmonteroluque commented on #18000
@jvillafanez please see if you can replicate

[2015-10-07 14:49] PVince81 commented on #18992
Turns out that "drop shadow" != "box shadow" ...

[2015-10-07 14:49] cmonteroluque commented on #18007
@rperezb can QA test the PR

[2015-10-07 14:51] PVince81 commented on #18007
I'm not sure we really want to backport this, I suggest to keep this in 8.2 only as it's not critical.
Well, it's only bad for people who use IE8 to upload their avatars and security certificates...

[2015-10-07 14:52] cmonteroluque commented on #18222
@jnweiger ready to close?

[2015-10-07 14:57] PVince81 commented on #18992
The drop shadow covers the box and also the arrow. But box shadow can only handle the box without the arrow...

[2015-10-07 15:04] PVince81 commented on #18992
and IE's DropShadow filter doesn't have the same properties, which means it will never look the same.
I suggest to go with a simple border.

[2015-10-07 15:10] PVince81 opened #19629 "[IE9] actions menu icon garbled"
While IE8 is working fine now, IE9 decided to not show the file actions menu properly.

### Steps

1. Upload a file in IE9
1. Click on the three dots "..."
1. Look at the icons and feel sad

[2015-10-07 15:11] PVince81 commented on #19629
CC @davitol who likes broken IE9 stuff

[2015-10-07 15:15] MorrisJobke commented on #19578
It seems that this is the old user_ldap file cache implementation. (ownCloud 7)

@blizzz Do you know from any cleanup issues? Back in stable7 user_ldap always used the file cache: https://github.com/owncloud/core/blob/stable7/lib/private/cache.php#L27-27

Then later it was switched to the configured memory cache.

[2015-10-07 15:24] Arvidas commented on #17967
Try: in apps\files\js\app.js add
$(window).resize(function(){
	$("#searchbox").active();
});

[2015-10-07 15:39] SergioBertolinSG commented on #18575
Not able to reproduce this on master again.
I'm closing it. If someone can reproduce this again, please reopen.

[2015-10-07 15:39] #18575 closed

[2015-10-07 15:40] PVince81 commented on #19629
Fix is here https://github.com/owncloud/core/pull/19630

[2015-10-07 15:40] PVince81 commented on #18992
Fix is here https://github.com/owncloud/core/pull/19630 (border instead of shadow)

[2015-10-07 15:40] PVince81 commented on #19527
Fix is here https://github.com/owncloud/core/pull/19630 (except for ridiculous icon)

[2015-10-07 15:46] #15116 closed

[2015-10-07 15:50] MorrisJobke commented on #15116
@cdamken Fixed in 8.2 ;)

[2015-10-07 15:51] MorrisJobke commented on #17967
maybe @PVince81 is currently in the mood to fix this :D

[2015-10-07 15:52] PVince81 commented on #19276
Fix is here https://github.com/owncloud/core/pull/19631

[2015-10-07 15:53] PVince81 commented on #19290
Fix is here https://github.com/owncloud/core/pull/19630

[2015-10-07 15:53] PVince81 commented on #19629
Duplicate of https://github.com/owncloud/core/issues/19290

[2015-10-07 15:53] #19629 closed

[2015-10-07 16:02] MTRichards opened #19632 "Forgotten Share Link Password"
As we have been using the share link with password a lot lately, we have discovered that sometimes we forget the password. However, the password has already been communicated to our 7 recipients so we can't send out a new password, we just want to send the password to an eighth participant.

The question – can we put an eye on the share link password field so that we can see the password in case w

[2015-10-07 16:02] PVince81 commented on #19286
Fix is here https://github.com/owncloud/core/pull/19633

[2015-10-07 16:02] MTRichards commented on #19632
@schiesbn @karlitschek

[2015-10-07 16:04] bboule commented on #19613
Yes we can test  thank you @cmonteroluque

[2015-10-07 16:05] PVince81 commented on #19256
Hmmm I know we have email validation code, maybe it's tolerant @DeepDiver1975 ?

Also I think that "someone@hostname" is a correct email address, I sometimes have "localhost" as hostname when testing.

[2015-10-07 16:09] jstoja commented on #14531
This would be _SO_ nice!
Here I have like 12Go and several thousands of files and directory, and SYNC (through thousands of PROPFIND) is taking hours... :(

[2015-10-07 16:12] MorrisJobke commented on #19632
:white_check_mark:

[2015-10-07 16:13] MorrisJobke commented on #19632
[code]

Both are ways how `abc` as password can look like.

[2015-10-07 16:17] PVince81 commented on #16495
Fix is here https://github.com/owncloud/core/pull/19634

[2015-10-07 16:42] jnweiger commented on #18222
Closing here. Many related issues were resolved meanwhile, also setup issues were involved.
Please reopen, if reproducable with latest versions.

[2015-10-07 16:42] #18222 closed

[2015-10-07 16:58] jnweiger commented on #19622
Next rebuild 8.2~RC1-3.1 should have that fixed. Please test again.

[2015-10-07 17:52] oparoz commented on #18992
Approved

[2015-10-07 18:40] gig13 commented on #18905
Exploring options with the end user to see if the end user can use a different archiver (7zip) etc.

[2015-10-07 19:01] oparoz commented on #16250
Excellent news!

[2015-10-07 19:24] rullzer commented on #15871
PR started in #19636

[2015-10-07 19:29] rullzer commented on #19632
As @MorrisJobke said we have no way to know the password since it hashed (as it should be btw).

@MTRichards but for sharing 2.0 there is a plan to introduce multiple link shares for a file/folder (with an alias for easy bookkeeping). That way you could hand out (or mail out) private links to users and thus also revoke acces... or just rest the password for a given link (which is then unique).

[2015-10-07 19:45] MaxTorque1 commented on #19551
Hi RealRancor,
Yes, I understand (I think). I managed to copy the ca-bundle.crt file to the / var / www / html / owncloud / config folder with permissions set as 0644.
This allowed the update process to complete with update successful.
However, the server is still showing as temporarily unavailable  and I cannot now login to the owncloud web interface. When I enter my username and password, it jus

[2015-10-07 20:14] MTRichards commented on #19632
Concur this is how it should work, just wanted to check and make certain...

[2015-10-07 20:22] MTRichards commented on #19632
So the last question - we can probably add an eye for while you are typing it...because it isn't yet submitted. Can we do that?
(asking only at this point)

[2015-10-07 20:23] RealRancor commented on #19551
Please create a new thread at either the forums or the users mailinglit providing more info about your environment and your problem.

[2015-10-07 20:35] rullzer commented on #19632
Yes that would be possible. The password is hashed on the server side so while you are typing it can be shown.

[2015-10-07 21:38] MTRichards commented on #18905
issue is being tested for 8.2 and  backported https://github.com/owncloud/core/pull/19466

[2015-10-08 00:18] cmonteroluque commented on #15702
As per https://github.com/owncloud/core/issues/15702#issuecomment-144502437 moving it to 8.2

[2015-10-08 00:22] cmonteroluque commented on #9740
ok, thanks

[2015-10-08 00:26] cmonteroluque commented on #14384
https://github.com/owncloud/core/issues/14384#issuecomment-146007441 True. There are a couple of issues that we want fixed on top of the list of sev1 and sev2's.

[2015-10-08 00:27] cmonteroluque commented on #10566
ok

[2015-10-08 06:19] BBagger opened #19637 "Doctrine\DBAL\Exception\DriverException: An exception occurred while executing 'ALTER TABLE oc_filecache ENGINE=InnoDB;': SQLSTATE[HY000]: General error: 2006 MySQL server has gone away"
I get the above error when trying to update to Owncloud version 8.0.3 from version 8.0.1. What can I do?

[2015-10-08 07:15] stevejordi opened #19639 "Endless notification - Activity"
### Steps to reproduce
1.	Enable Activity App
2.	Link owncloud to an ActiveDirectory with about 3,500 users
3.	From one account, share one document/folder with a group including all 3,500 users

### Expected behaviour
Each user should receive 1 notification about the share (should those notifications be enabled)

### Actual behaviour
Each user receives 10 notifications every 7 minutes.
After 12 ho

[2015-10-08 07:17] Kawohl commented on #19622
Tested and passed.

[2015-10-08 07:17] #19622 closed

[2015-10-08 07:20] LukasReschke commented on #18905
@MTRichards No. That PR is as stated above completely unrelated. The PR fixes only a problem on OS X.

In this issue we're talking about problemy with a non-default Windows application. Personally I'd say the vendor is to blame. That said this seems like an upstream issue and I didn't see yet the required information that was requested in https://github.com/owncloud/core/issues/18905#issuecomment-

[2015-10-08 07:27] rullzer commented on #19573
@SergioBertolinSG do you have proper mimetypes for all those extentions?

[2015-10-08 07:30] plgingembre opened #19641 "CloudSync on Synology"
Hi,

I'm not sure that this is the most accurate place to post this type of query, so do not hesitate to move it in the appropriate directory...

I am a real fan of ownCloud and Synology features. I need to get a clear solution to have my users able to sync their files either on the cloud platform or on their Synology at home, but they want to have all of them synced on every platform.

I am using

[2015-10-08 07:53] SergioBertolinSG commented on #19573
Having them as text/plain or similar but showing a code icon would be enough.

The main problem I see is all those files cannot be opened or edited with text_fileseditor because they are not detected as text.

Except rtf which should be one of this, but not sure which can be handled by the documents app.
.rtf	application/rtf
.rtf	application/x-rtf
.rtf	text/richtext

[2015-10-08 08:40] jvillafanez commented on #19622
:+1:

[2015-10-08 08:53] DeepDiver1975 commented on #18905
I'm voting for close as won't fix - it's a problem within PowerArchiver

[2015-10-08 08:53] Kawohl commented on #7104
Closing since not related to owncloud.

[2015-10-08 08:55] #7104 closed

[2015-10-08 08:55] PVince81 commented on #19641
Hmmm, is this a feature request for CloudSync to work with ownCloud ? I don't know this app but it's not developed by this community. You might want to report this to the CloudSync project directly.

[2015-10-08 08:55] PVince81 commented on #19639
@nickvergessen

[2015-10-08 08:57] nickvergessen commented on #19639
Will have a look

[2015-10-08 08:57] PVince81 commented on #19637
restart mysql

[2015-10-08 08:58] jnweiger commented on #19622
Thanks!

[2015-10-08 08:58] plgingembre commented on #19641
Hi Vincent,

Maybe you’re right, I thought it was interesting to see if there was something needed on ownCloud side to be « included » in this great Synology app.

Anyway, thanks a lot for your feedback

Best!

[2015-10-08 08:59] PVince81 commented on #19632
but once the password is set it is not possible to get it back from the DB. An eye icon would not help with that.

[2015-10-08 08:59] RealRancor commented on #19637
Also have a look at https://doc.owncloud.org/server/8.1/admin_manual/issues/index.html#common-problems-error-messages

[2015-10-08 08:59] PVince81 commented on #19641
I'm not familiar at all with CloudSync. If it's able to connect to Webdav then it could work. I don't think there is anything that needs to be done on OC side.

[2015-10-08 09:04] PVince81 commented on #19641
I'm closing this ticket.
If you have a URL that points to your request in another repo, feel free to post it here :smile:

[2015-10-08 09:04] #19641 closed

[2015-10-08 09:04] nickvergessen opened #19642 "Can not download multiple times from public page"
## Steps
1. Share a folder with multiple files as link
2. Open public link
3. Select more then one file from the list
4. Press Download

### Expected
Can press download again

### Actual
Button is "disabled"
![files_-_owncloud_-_2015-10-08_11 03 49](https://cloud.githubusercontent.com/assets/213943/10362053/47433f94-6dac-11e5-96cb-a7fc66622076.png)

Works fine in 8.1

@PVince81 maybe something for

[2015-10-08 09:05] jnweiger commented on #19618
Permissions were much stronger half a year ago. That increased the number of big reports. In response to that, permissions were gradually relaxed.

Can you give details about the overwrite issue?
I'd expect such issues when permissions are too tight.

[2015-10-08 09:05] PVince81 commented on #13690
Closing in favor of https://github.com/owncloud/core/issues/19587

[2015-10-08 09:05] #13690 closed

[2015-10-08 09:06] plgingembre commented on #19641
Wow, sorry about that. Do you have the URL or the other repo?

[2015-10-08 09:07] PVince81 commented on #19642
I'll have a look.

CC @MorrisJobke who introduced the spinner recently

[2015-10-08 09:09] PVince81 commented on #19641
I'd have to google it. Is CloudSync open source ?

[2015-10-08 09:12] PVince81 commented on #19642
It looks like public download doesn't set the magic cookie so we cannot know when the download started. From what I remember this used to work ?

[2015-10-08 09:14] plgingembre commented on #19641
Unfortunately I don’t think so. It is a Synology app developed for their DSM OS and I am almost sure that the code is not open source, but I am not sure. I need to check that.
Currently they have a long list of authorized cloud storage providers that can sync files seamlessly with any Synology box, which is a very very cool feature to have your files synced anywhere. They seem to have a WebDAV con

[2015-10-08 09:15] PVince81 commented on #19642
The cookie is only set in "files/ajax/download.php" while the public page goes through an app framework controller for the download.

From reading the code it looks like this never could work, at least not since we have the controllers.

[2015-10-08 09:20] PVince81 commented on #19641
Yeah, with a bit of luck the WebDAV connector might work

[2015-10-08 09:22] PVince81 commented on #19642
@DeepDiver1975 not a regression. I just checked the git history and this feature has only be added in 8.2. I mistakenly thought that @MorrisJobke backported it

[2015-10-08 09:23] PVince81 commented on #19642
Fix is here https://github.com/owncloud/core/pull/19643

[2015-10-08 09:23] DeepDiver1975 commented on #19642
worked before and now it's broken -> regression for me

[2015-10-08 09:23] nickvergessen commented on #19642
Well, the cookie is not in 8.1 right, but in 8.1 you can press the dl button multiple times without a page reload

[2015-10-08 09:25] PVince81 commented on #19642
fine

[2015-10-08 09:35] Kawohl commented on #18283
Closing since its resolved.

[2015-10-08 09:35] #18283 closed

[2015-10-08 09:50] Kawohl commented on #18282
I think i get it,

multiple select only works if you click on the Icons, or Checkboxes in the Icons. This seems odd.
It should also work by clicking on the filename holding the cmd key.

![bildschirmfoto 2015-10-08 um 11 45 11](https://cloud.githubusercontent.com/assets/12275313/10363073/854a03b2-6db2-11e5-98d2-fb9253c5db2b.png)

Tested with Chrome, Firefox and Safari.

[2015-10-08 09:54] Kawohl commented on #18228
closed since it is handled here https://github.com/owncloud/core/issues/18282

[2015-10-08 09:54] #18228 closed

[2015-10-08 10:17] Aikhjarto commented on #19621
Just tested with a fresh installation of owncloud 8.1.3, 8.1.2, 8.1.1, 8.1.0, and 8.0.8 on openSUSE 13.1 with apache 2.4 and mariadb 5.5 and php 5.4 and upload of files larger than 8k won't work either.
I also tried disabling SSL with no effect.
Is there any known incompatiblity with owncloud and the following versions of mine:
[code]

[2015-10-08 10:22] Aikhjarto commented on #19621
Found something else: There was an apache patch regarding chunk header parsing:
https://bugzilla.suse.com/show_bug.cgi?id=938728

[2015-10-08 10:25] Kawohl commented on #17918
I've tested in 8.2rc1 this is fixed.

[2015-10-08 10:25] #17918 closed

[2015-10-08 10:28] PVince81 commented on #5764
Fix is here https://github.com/owncloud/core/pull/19645

[2015-10-08 10:32] bklo commented on #13158
This feature is required on my project too. The FileCounter app does not suit what is needed. Any good news or should I look elsewhere?

[2015-10-08 10:33] Kawohl commented on #17970
Thanks for your contribution, this surely looks like a configuration error.

If people at forum.owncloud.org couldn't help you, could you please use the issue template.
https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

This will help us finding the problem and providing a solution. I´ll close until more information is provided.

[2015-10-08 10:33] #17970 closed

[2015-10-08 10:36] SergioBertolinSG opened #19646 "File downloaded from a folder shared by link is not named as the folder."
### Steps to reproduce

1. Share a folder called FOLDER by link.
2. in a different browser open the link and download the entire folder.

### Expected behaviour
A file called FOLDER.tar is downloaded in OS X, FOLDER.zip in other OS.

### Actual behaviour
A file called download.tar (download.zip) is downloaded.

### Server configuration
**Operating system**:
ubuntu 14.04

**Web server:**
Apache

**

[2015-10-08 10:36] Kawohl commented on #18026
I'll close since no reaction since two months.

[2015-10-08 10:36] #18026 closed

[2015-10-08 10:42] PVince81 commented on #8500
Please try again with 8.1.3 or 8.2RC1

[2015-10-08 10:42] #8500 closed

[2015-10-08 10:43] PVince81 commented on #8563
@KKyang are you still seeing this with 8.1 or 8.2RC1 ?

[2015-10-08 10:45] SergioBertolinSG commented on #18282
For me that is not a bug, it is designed this way. For selecting elements you should click in the icon or checkbox, not in the name. That opens/downloads the file.

[2015-10-08 10:45] PVince81 commented on #8818
@JonTheNiceGuy can you try again with 8.1.3 ?
From what I remember there were some header-related issues with some third party webdav clients that should be fixed now.

Please reopen if you still observe the issue in this version

[2015-10-08 10:45] #8818 closed

[2015-10-08 10:47] Kawohl commented on #17856
Closing since no reaction in two months.

[2015-10-08 10:47] #17856 closed

[2015-10-08 10:47] PVince81 commented on #9780
Natural sort has been added to the user list a while ago.
Please try again with 8.1.3

[2015-10-08 10:47] #9780 closed

[2015-10-08 10:49] nickvergessen commented on #19506
Activity sidebar is empt, because the file id is not send in the request, will have a closer look

[2015-10-08 10:50] DeepDiver1975 commented on #19646
I was just retesting this on 8.0 - the folder is named download as well - no regression.

won't fix then -> close

[2015-10-08 10:50] #19646 closed

[2015-10-08 10:50] nickvergessen commented on #19506
`data-id="0"` is empty in the trashbin

[2015-10-08 10:51] SergioBertolinSG commented on #19646
Ok not a regression, but it is still a bad name.

[2015-10-08 10:51] PVince81 commented on #19506
Okay, I'll have a look then

[2015-10-08 10:56] PVince81 commented on #19506
Looks like we don't have access to the file id because the trashbin contents is read directly from the disk... it would require additional database queries to find the matching file id. (CC @schiesbn)

[2015-10-08 10:58] PVince81 commented on #19506
Ok, let's go the other route: remove the sidebar in the trashbin and then invest a bit of time later to make it useful.

[2015-10-08 11:00] PVince81 commented on #19506
PR is here https://github.com/owncloud/core/pull/19647

[2015-10-08 11:00] davitol opened #19648 "Clicking away over file/folder list does not save the password for sharing via link"
### Steps to reproduce
1. Share a file by link.
2. Write down a password to share
3. Click away over a file/folder of the list
### Expected behaviour

The password should be saved
### Actual behaviour

The password is not saved

Note: Clicking away over a file/folder of the list, saves the expiration date, so both behaviours should be the same
### Server configuration

**Operating system**:
ubuntu

[2015-10-08 11:01] #18968 closed

[2015-10-08 11:01] #19637 closed

[2015-10-08 11:01] #5251 closed

[2015-10-08 11:01] #19196 closed

[2015-10-08 11:03] PVince81 opened #19649 "Provide sidebar/activities in trashbin view"
See https://github.com/owncloud/core/issues/19506#issuecomment-146500831 for details about the technical challenge for getting file ids from trashbin...
If the id is fixed, reenable the sidebar by reverting: https://github.com/owncloud/core/issues/19647

@nickvergessen @schiesbn

[2015-10-08 11:03] PVince81 commented on #19506
Raised https://github.com/owncloud/core/issues/19649 to look into the data-id / activities at some point

[2015-10-08 11:05] PVince81 commented on #9936
Please try again with 8.1.3

[2015-10-08 11:05] #9936 closed

[2015-10-08 11:06] PVince81 commented on #9927
If you do face the same problem with 8.0 and/or 8.1, please reopen.

[2015-10-08 11:06] #9927 closed

[2015-10-08 11:07] PVince81 commented on #10371
CC @Xenopathic @icewind1991

We might need to introduce new hooks for mount point renaming

[2015-10-08 11:08] PVince81 commented on #10519
Please try again with 8.1.3.

Regarding webdav locks, see https://github.com/owncloud/core/issues/17732

[2015-10-08 11:08] #10519 closed

[2015-10-08 11:09] PVince81 commented on #10582
Please try again with 8.1.3 or 8.2RC1 and reopen if you still see this issue in that version.

[2015-10-08 11:09] #10582 closed

[2015-10-08 11:15] DeepDiver1975 commented on #19593
Pull requests are welcome - THX

[2015-10-08 11:17] #19544 closed

[2015-10-08 11:29] Kawohl commented on #18282
It works as designed but i think it is misleading.

I would expect from a multiselect to be able to click on the filenames or on the free space in the lines next to them. imho the current situation is a usability bug.

Also
Clicking on multiple files with the "command button" pressed works with both of our big Competitors and the majority of users is probably accustomed to this.

[2015-10-08 11:29] Aikhjarto commented on #19621
Found the solution: I seems an incompatibilty with apache 2.4.6 (at least the version that comes with openSUSE 13.1 per default).
Now I tested apache 2.4.10 and 2.4.16 and with both I was able to upload files larger than 8 kB.

[2015-10-08 11:29] #19621 closed

[2015-10-08 11:38] davitol commented on #19290
:+1: WFM, awesome

[2015-10-08 11:39] #19617 closed

[2015-10-08 11:40] Kawohl commented on #17591
Workaround can be found here: https://github.com/owncloud/core/issues/17767

Closing since no activity

[2015-10-08 11:40] #17591 closed

[2015-10-08 11:41] Kawohl commented on #17475
Closing since no activity and not reproducable without info

[2015-10-08 11:41] #17475 closed

[2015-10-08 11:50] davitol commented on #19629
:+1: Great!

[2015-10-08 11:54] Kawohl commented on #17066
Closing because of no information since three months.

[2015-10-08 11:54] #17066 closed

[2015-10-08 11:55] davitol commented on #18992
better than before, but, i'm not sure if it is good enough :speak_no_evil:
![screen shot 2015-10-08 at 13 54 11](https://cloud.githubusercontent.com/assets/10596560/10365506/3058eaf0-6dc4-11e5-8ff9-f9ce31e7d73b.png)

[2015-10-08 12:04] Kawohl commented on #15731
Closed since no information provided, or any usecase in sight.

[2015-10-08 12:04] #15731 closed

[2015-10-08 12:10] PVince81 commented on #11301
Please try again with 8.1.3 which contains the improved SMB library.
If the problem still happens, please reopen.

[2015-10-08 12:10] #11301 closed

[2015-10-08 12:11] cdamken commented on #15116
Thanks @MorrisJobke

[2015-10-08 12:12] PVince81 commented on #11418
@oparoz any update on this ? Is this still an issue ?

[2015-10-08 12:14] PVince81 commented on #11431
Works properly in 8.2RC1

[2015-10-08 12:14] #11431 closed

[2015-10-08 12:15] PVince81 commented on #11497
Please try again with 8.1.3, it contains an updated SMB library that might hopefully help.

If you still have data corruption, feel free to reopen.

[2015-10-08 12:15] #11497 closed

[2015-10-08 12:15] PVince81 commented on #11574
@MTRichards @rperezb is this still happening in 8.2RC1 ? Can someone help verify ?

[2015-10-08 12:16] Kawohl commented on #15133
As far as i can see the migration path was wrong for the update.

It is suggested to upgrade to the latest Release Number before upgrading to the next Version.
As far as i see the path would have been upgrade to 7.05 and then upgrade to 8.0 .

Anyway i'll close because no activity since half a year.

[2015-10-08 12:16] #15133 closed

[2015-10-08 12:19] PVince81 commented on #11601
So if I understand well this works properly on OC 8.0 ?
I don't think we can easily upgrade the DBAL version on older ownCloud as there is a big risk of breakage. (CC @DeepDiver1975)

Closing hence.

[2015-10-08 12:19] #11601 closed

[2015-10-08 12:20] PVince81 commented on #11676
This is obsolete, decryption must now be done on the CLI starting with 8.2.

CC @schiesbn

[2015-10-08 12:20] #11676 closed

[2015-10-08 12:22] PVince81 commented on #11690
@ogoffart can you provide the PHP version and database of that remote server ?

I also cannot reproduce this issue with OC 8.2RC1, php5-5.6.13-1.1.x86_64, mariadb-10.0.20-1.1.x86_64

[2015-10-08 12:22] cdamken commented on #10820
Thanks @MorrisJobke I communicated the info too.

[2015-10-08 12:22] Kawohl commented on #14935
closed as fixed in https://github.com/owncloud/core/pull/17689

[2015-10-08 12:23] #14935 closed

[2015-10-08 12:23] PVince81 commented on #11778
Can you try again with 8.1.3 ? I believe that some issues regarding headers have been fixed, which might affect the errors you are seeing.

[2015-10-08 12:24] PVince81 commented on #11785
Fixed by https://github.com/owncloud/core/pull/19081

[2015-10-08 12:24] #11785 closed

[2015-10-08 12:26] PVince81 commented on #11798
Regarding auth, this is the new ticket https://github.com/owncloud/core/issues/12228

[2015-10-08 12:26] PVince81 commented on #11885
Please try again with 8.1.3

[2015-10-08 12:26] #11885 closed

[2015-10-08 12:29] PVince81 commented on #11919
@nickvergessen wasn't this https://github.com/owncloud/core/issues/11919#issuecomment-71190833 fixed recently ?

[2015-10-08 12:30] PVince81 commented on #12146
Are you still seeing this with 8.1.3 ?

[2015-10-08 12:32] PVince81 commented on #11778
Duplicate of https://github.com/owncloud/core/issues/9832#issuecomment-90508358

[2015-10-08 12:32] #11778 closed

[2015-10-08 12:34] PVince81 commented on #12258
@gunwald have you been able to check whether the password salt / instance id of your new instance is different than the one from your backup ?

[2015-10-08 12:34] PVince81 commented on #12267
@kaplandani any news ?

[2015-10-08 12:35] PVince81 commented on #12287
@schiesbn please assist

[2015-10-08 12:35] Kawohl commented on #13720
Workaround in https://github.com/owncloud/core/issues/13908

Closing because of no activity since 4 months.

[2015-10-08 12:38] PVince81 commented on #19319
@hostingnuggets the fix mentioned above was for reducing the database calls which made it very slow. Strange thing that in your case the stat calls still makes it slow.

@schiesbn @icewind1991 any way to accelerate this further ?

[2015-10-08 12:38] icewind1991 commented on #19457
This seems to only happen when using the db locking backend

[2015-10-08 12:41] PVince81 commented on #12413
Closing as duplicate of https://github.com/owncloud/core/issues/18145

[2015-10-08 12:41] #12413 closed

[2015-10-08 12:41] PVince81 commented on #18145
Idea would be a background job for sharing to avoid running into timeouts @schiesbn @rullzer

[2015-10-08 12:47] MorrisJobke commented on #18499
@schiesbn Ping

[2015-10-08 12:49] PVince81 commented on #12431
Related: https://github.com/owncloud/core/issues/14095

[2015-10-08 12:50] PVince81 commented on #14095
See @jancborchardt's comment here https://github.com/owncloud/core/issues/12431#issuecomment-85123883

[2015-10-08 12:50] PVince81 commented on #12517
Please try again with 8.1.3 and sync client 2.0.1.
If the problem still happens, please reopen.
Thanks.

[2015-10-08 12:50] #12517 closed

[2015-10-08 12:52] oparoz commented on #11418
@PVince81 - Not sure about the black thumbnails in Files as we would need a test file to be able to witness it, but as mentioned above, not analysis is performed on images and the background is set to white in Files, so any white image with a transparent background are invisible (other issue opened about that).

Regarding the slideshow, it's all documented in owncloud/gallery.

[2015-10-08 12:52] PVince81 commented on #12659
This shouldn't happen any more in 8.2 thanks to transactional file locking which prevents such concurrency issues.

[2015-10-08 12:52] #12659 closed

[2015-10-08 12:53] PVince81 commented on #12661
This shouldn't happen any more in 8.2 thanks to transactional file locking which prevents such concurrency issues.

8.2 is still in RC1, so you could either try 8.2RC1 or use 8.1.3 instead. In the case of 8.1.3 you need to explicitly enable file locking and have a redis server running, see https://doc.owncloud.org/server/8.1/admin_manual/configuration_files/files_locking_transactional.html

In 8.2

[2015-10-08 12:54] nickvergessen commented on #11919
Activities are fixed

[2015-10-08 12:54] gig13 commented on #13158
@bklo
This is not being developed. Closing out.

[2015-10-08 12:54] PVince81 commented on #12661
Let us know if you still experience such issues despite locking.
Thanks.

[2015-10-08 12:54] #12661 closed

[2015-10-08 12:54] PVince81 commented on #12662
Please try again with 8.1.3 and reopen if you still see this issue.

[2015-10-08 12:54] #12662 closed

[2015-10-08 12:55] PVince81 commented on #12666
Any more luck with 8.1.3 ?

[2015-10-08 12:56] PVince81 commented on #12667
Please double check your database collation.

[2015-10-08 12:56] #12667 closed

[2015-10-08 12:57] gig13 commented on #13158
@bboule @MTRichards
Please confirm if this should have a milestone.
Related to SF 2531

[2015-10-08 12:57] PVince81 commented on #12699
Please try again with 8.1.3 and reopen if the problem persists.

[2015-10-08 12:57] #12699 closed

[2015-10-08 12:58] PVince81 commented on #12725
Anyone still having issues with 8.1.3 ?

"Database is locked" issues should be gone

[2015-10-08 12:59] PVince81 commented on #11418
@anarcat can you share a test file ?

[2015-10-08 13:00] PVince81 commented on #12744
@ckamm do you still see this slowness in 8.1.3 ?

[2015-10-08 13:01] nickvergessen commented on #19639
Created 3.500 users in my database backend and couldn't find any issue.
So this seems to be a problem with the user backend.
The call we use to get the users is here:
https://github.com/owncloud/activity/blob/8a401847fad96e314553486c720d738de030a196/lib/fileshooks.php#L264-264

So it seems to be a problem within AD (LDAP), summoning @blizzz
Could this be caused by https://github.com/owncloud/core/

[2015-10-08 13:07] #11919 closed

[2015-10-08 13:07] PVince81 commented on #12769
Works for me in 8.1.3

[2015-10-08 13:07] #12769 closed

[2015-10-08 13:30] despens opened #19653 "Cronjob PHP fatal error"
### Steps to reproduce
1. set up cronjob as described in manual:
[code]

### Expected behaviour
Cronjob should do its thing.

### Actual behaviour

[code]

### Server configuration
**Operating system**: Ubuntu 14.04

**Web server:** Server version: Apache/2.4.7 (Ubuntu)
Server built:   Sep  2 2015 13:02:10

**Database:** mysql  Ver 14.14 Distrib 5.5.44, for debian-linux-gnu (x86_64) using readline

[2015-10-08 13:30] icewind1991 commented on #19457
Fix is here: #19654

[2015-10-08 13:33] themagicm commented on #12725
I am not experiencing this anymore.

Thank you for the direct email asking, I appreciate it!

-Alex

--------------------------------------------
On Thu, 10/8/15, Vincent Petry <notifications@github.com> wrote:

 Subject: Re: [core] server did not acknowledge the last chunk. (No e-tag were present) (#12725)
 To: "owncloud/core" <core@noreply.github.com>
 Cc: "themagicm" <bartonekdragracing@yahoo.c

[2015-10-08 13:43] icewind1991 commented on #19319
Is the owncloud data dir on a remote filesystem? (smb/nfs/etc)

[2015-10-08 14:05] PVince81 commented on #13004
Please try again with 8.1.3.

[2015-10-08 14:05] #13004 closed

[2015-10-08 14:23] PVince81 commented on #14209
Wasn't this fixed a while ago ? @schiesbn @BernhardPosselt

Please try again with 8.1.3

[2015-10-08 14:24] PVince81 commented on #14230
Since 8.1 the share information is preserved for deleted files. So when you restore the file the share information will still be available.

[2015-10-08 14:24] #14230 closed

[2015-10-08 14:32] butonic opened #19656 "home directory is not created when using \OC_User::loginWithApache()"
When doing a form login the home dir is created on the fly in https://github.com/owncloud/core/blob/master/lib/private/user.php#L252

When using an apache auth mechanism the home dir is not created on the fly, resulting in:
[code]
[code]

It should be possible to use the post_login hook as the only codepath for homedir / filesystem setup:
The hook in https://github.com/owncloud/core/blob/master/li

[2015-10-08 14:46] PVince81 commented on #14276
@ogasser are you still seeing this in 8.1.3 or 8.2RC1 ?

[2015-10-08 14:50] PVince81 commented on #14521
@schiesbn is this still valid for encryption 2.0 ?

[2015-10-08 14:51] PVince81 commented on #14562
@schiesbn obsolete ?

@jvillafanez still happening in 8.1.3 or 8.2rc1 ?

[2015-10-08 15:18] PVince81 commented on #14684
Should work in 8.1.3, please follow up here https://github.com/owncloud/core/issues/13456#issuecomment-142247261

[2015-10-08 15:18] #14684 closed

[2015-10-08 15:21] PVince81 commented on #14708
Thanks, closing.

@EvgeniySpinov I hope the problem is solved for you too in 8.1.3. If not, feel free to reopen.

[2015-10-08 15:21] #14708 closed

[2015-10-08 15:23] PVince81 commented on #14744
Please try again with 8.1.3 or 8.2RC1.
If the problem persists, feel free to reopen.

[2015-10-08 15:23] #14744 closed

[2015-10-08 15:23] #19613 closed

[2015-10-08 15:24] MorrisJobke commented on #19613
Fix is merged to 7.0.11

[2015-10-08 15:25] PVince81 commented on #14757
Is anyone still seeing this with 8.1.3 with transactional redis locking enabled ? (https://doc.owncloud.org/server/8.1/admin_manual/configuration_files/files_locking_transactional.html)

[2015-10-08 15:27] PVince81 commented on #14823
Please upgrade to 8.1.3 or later

[2015-10-08 15:27] #14823 closed

[2015-10-08 15:27] MorrisJobke commented on #19653
cc @butonic

[2015-10-08 15:29] PVince81 commented on #14977
@git-marijus did you set "log_query" in your config.php ? It was reported before that it could cause an update loop for some reason

[2015-10-08 15:30] PVince81 commented on #15167
@oparoz still seeing this in 8.1.3 or 8.2rc1 ?

[2015-10-08 15:32] Arvidas commented on #18772
In my case Windows 7 share issue: optimize like that -
http://www.linuxquestions.org/questions/linux-server-73/mount-cifs-cannot-allocate-memory-or-remote-i-o-error-after-data-transfer-4175508385/

[2015-10-08 15:34] PVince81 commented on #15253
Still reproducible on 8.1.3 and 8.2RC1.

For some reason removing permissions work and updates the sub-shares from the group share. But adding back the permissions doesn't.

Is this by design or a bug @schiesbn @rullzer ?

[2015-10-08 15:41] PVince81 commented on #15371
@kaplandani any update ? Are you still seeing this happening with 8.1.3 ?

[2015-10-08 15:42] oparoz commented on #15167
All good on 8.2. Probably fixed by your navigation fix.

[2015-10-08 15:44] oparoz commented on #15167
Yep, still there on 8.1.3 as the fix probably wasn't backported.

[2015-10-08 15:48] PVince81 commented on #15550
@enoch85 maybe a rogue background scan ?
Try setting "filesystem_check_changes" to 0 in config.php.
Another thing to try: disable the "files_locking" app.

[2015-10-08 15:49] PVince81 commented on #15550
but ideal is upgrading to 8.1.3 and enable transactional file locking (https://doc.owncloud.org/server/8.1/admin_manual/configuration_files/files_locking_transactional.html) or 8.2rc1 where it's enabled by default.

(it's another, better kind of locking)

[2015-10-08 15:50] PVince81 commented on #15591
Still happening in 8.2RC1

[2015-10-08 15:55] PVince81 commented on #15603
Hmm, I also have 128M on my server and it works fine. (but with Apache2)

[2015-10-08 15:56] PVince81 commented on #15687
I saw this one again lately on master (8.2rc1) with personal storages

[2015-10-08 15:57] PVince81 commented on #15700
@schiesbn @rullzer

[2015-10-08 15:58] carlaschroder commented on #18954
FWIW, I also find the new fonts to be difficult to read. They're thin and gray, even on a hi-resolution 24" screen.

[2015-10-08 16:30] LukasReschke opened #19665 ""All files" displayed twice in current master"
![2015-10-08_18-30-19](https://cloud.githubusercontent.com/assets/878997/10372936/ae3f9cfe-6dea-11e5-82d6-8eb4e25b802c.png)

[2015-10-08 16:33] RealRancor commented on #19653
Probably something which should be reported to https://github.com/owncloud/search_lucene/issues ?

[2015-10-08 16:46] #19665 closed

[2015-10-08 17:14] hostingnuggets commented on #19319
@icewind1991 we have the data directory on an a dedicated Linux NFS file server on the same LAN (1 Gigabit) as the owncloud server.

[2015-10-08 18:34] gig13 commented on #19578
@blizzz @MorrisJobke
Is the recommendation to move to OC8? If the OC7 can be patched in the meantime, that would be great, otherwise, what else would be an acceptable workaround? Can we setup a cron to delete any of these files?

[2015-10-08 18:52] blizzz commented on #19578
Nope. Would not be LDAP related anyway, but a thingy in the file cache implementation. IIRC not many components were using the file cache mechanism anyway, so it falls down to LDAP.

The switch to APCu should help, too, I think.

Unneeded files are supposed to be cleaned up automatically by the file cache implementation, actually.

[2015-10-08 19:22] enoch85 commented on #15550
I'll try with 8.2 stable when it comes out.

I really hope that it's a locking issue.

Best Regards
Daniel Hansson

www.en0ch.se

Sent from OnePlus Two, sorry for typos.

[2015-10-08 19:52] rullzer commented on #13002
PR in #19666

[2015-10-08 20:08] ogasser commented on #14276
It seems to be fixed now. Thanks :+1:

[2015-10-08 20:08] #14276 closed

[2015-10-08 21:14] ferdiga commented on #15133
Do you think, it would be possible to prohibit using a "wrong" upgrade path

[2015-10-08 21:21] ElAutoestopista opened #19667 "File download fails in Firefox earlier than 38 and Android Client 1.7 and 1.8 (bad file size)"
### Steps to reproduce

1.Install Owncloud 8.1.3
2.Enable Encryption
3.Upload a bunch of files
4.Try to download with Firefox earlier than 38 and Android client from 1.7 and 1.8

### Expected behaviour

File successfully downloaded

### Actual behaviour

In Firefox, after several seconds the download is marked as failed and the file not saved
Android client says "Download Failed" at 74% (everytime

[2015-10-08 22:49] RealRancor commented on #15133
Hi,

the correct path is described in the upgrade documentation but i doubt that this is solving your issue.

[2015-10-08 23:09] ergillette commented on #17446
Wow. . .well this is a drag.  I just ran into the same issue.  Perhaps I need to start a company that pulls app developers and OS developers together.  I'm sure I'm not the only one that finds it out that basically OwnCloud is saying the problem is CentOS and then CentOS says OwnCloud can fix it.

That leaves the people who use OwnCloud in a fundamentally unresolved situation. . .that is the faste

[2015-10-08 23:11] boldandbusted commented on #16008
Just another reporter for this issue *on a brand new installation* with OwnCloud 8.1.3. :( What is this offending SQL doing that Owncloud needs to merit such out-the-gate unhandled errors (which asks the users to report...). Thanks.

[2015-10-08 23:12] RealRancor commented on #17446
@ergillette please scan through this complete issue and you will see that the whole issue is caused by your distro shipping buggy libraries.

[2015-10-08 23:17] RealRancor commented on #16008
@boldandbusted Just set the correct binlog_format needed by oC

[2015-10-08 23:21] segerl opened #19668 ".part Files/Records en masse"
Hi,

I have an installation of owncloud 7.0.10 (upgraded a few minutes before from 7.0.3) where we have over 23.000 files with ".part" as extension in oc_file_map table (and over 66.000 files without .part).

Because I saw in some supportcases that there were errors in the past which caused such problems and which also were solved with some patches (temporarily and in the next releases) I updated

[2015-10-09 00:22] batamire commented on #7072
+1 @Tralapo

[2015-10-09 00:36] enoch85 commented on #15550
Tested  on a newly installed server (8.1.3) with one 12 GB file and one 9 GB file. Uploaded through client `Version 2.0.2-nightly20151008 (build 5525)`, 9 GB file = no issues. 12 GB file = client responded "Connection aborted due to timeout" (directly translated from Swedish), but were uploaded anyway when I looked in the server GUI.

I then deleted all the files and tried to upload the 12 GB file

[2015-10-09 00:40] JtwoA opened #19669 "Exception: Please upload the ca-bundle.crt file into the 'config' directory."
Exception: Please upload the ca-bundle.crt file into the 'config' directory.

Error received attempting to run updater to 8.1.3

[2015-10-09 01:03] enoch85 commented on #7072
@Tralapo @batamire I just tested to sync the Stress Test package with **10 300 files of 3 b each**, and it took me **8 minutes** with 2.0.2 testpilot version: https://download.owncloud.com/desktop/daily/testpilotcloud-2.0.2.5525-nightly20151008-setup.exe

Package: https://www.en0ch.se/stress-test/

Look in previous comments for server setup.

[2015-10-09 05:47] AdminJack commented on #19586
@libasys: It is a problem with calendar plus?

[2015-10-09 05:55] ferdiga commented on #15133
IMO a software must not allow "wrong" upgrade path.

[2015-10-09 06:20] rullzer commented on #19583
Yes repair step please. As you mention it *should* never happen. But if it does it can be a pretty expensive job involving a lot of queries. Would not be wise to fire that of every day ;)

However, this could (I think) be a "live" repair job.. as to not slow down the upgrade process significantly on large installation.

[2015-10-09 06:22] rullzer commented on #19274
probably because we rerender the sidebar.
@PVince81

[2015-10-09 06:35] Kawohl commented on #15133
@ferdiga

feel free to make an enhancement issue then.

[2015-10-09 06:43] rullzer commented on #15253
That is kind of grey area ;)

Time to fire up XDebug.. I'll see what I can dig up

[2015-10-09 06:54] rullzer commented on #15253
So yeah we simply do not check for the added permissions case: https://github.com/owncloud/core/blob/master/lib/private/share/share.php#L1105-L1106

This is weird since all children should be updated as well. Or well the children of the same share.. e.g. the user moved the mountpoint so there is an extra entry in the shares table.

Lets write a ~~unit~~ test for this. And then see if we can fix it

[2015-10-09 06:56] MorrisJobke commented on #19667
@schiesbn This sounds like wrong filesize (encrypted one) is provided to the client.

[2015-10-09 07:01] Kawohl commented on #19669
@JtwoA

Thanks for your contribution,
 please be a little more specific and use the issue template.

@JtwoA

[2015-10-09 07:01] MorrisJobke commented on #19669
@VicDeo This seems like a bug in the updater.

[2015-10-09 07:02] MorrisJobke commented on #19669
In the meantime you can put this file in there as ca-bundle.crt https://raw.githubusercontent.com/owncloud/core/stable8.1/config/ca-bundle.crt

[2015-10-09 07:06] MorrisJobke commented on #19669
The actual problem was fixed with #18893 and in the updater it's also fixed: https://github.com/owncloud/updater/blob/stable8.1/lib/files.json#L4

[2015-10-09 07:06] #19669 closed

[2015-10-09 07:06] MorrisJobke commented on #19668
Usually part files shouldn't show up in the filecache.

@PVince81 @icewind1991 Do you remind if we clean this up in a later version?

[2015-10-09 07:07] MorrisJobke commented on #19572
@schiesbn Can you have a look at this?

[2015-10-09 07:08] MorrisJobke commented on #19564
@owncloud/designers We maybe want to discuss this behaviour change first ;)

[2015-10-09 07:11] #17525 closed

[2015-10-09 07:15] MorrisJobke commented on #17758
This was fixed by #19426 in 8.2 and 8.1.4 - other comments are copied to #10314 -> closing this one

[2015-10-09 07:15] #17758 closed

[2015-10-09 07:16] MorrisJobke commented on #17772
Please report this in the documents app -> therefore closing it here.

[2015-10-09 07:16] #17772 closed

[2015-10-09 07:19] MorrisJobke commented on #18216
Closing this due to inactivity.

@obsidiannonparity Please reopen this issue if you have further information.

[2015-10-09 07:19] #18216 closed

[2015-10-09 07:20] MorrisJobke commented on #18299
@Xenopathic Any news here?

[2015-10-09 07:22] MorrisJobke commented on #18391
@RealRancor What distro do you use? Maybe it's a problem with the used libraries.

[2015-10-09 07:23] #18720 closed

[2015-10-09 07:30] MorrisJobke commented on #18998
This is a duplicate of #13640 where the storage should define what characters are allowed.

[2015-10-09 07:30] #18998 closed

[2015-10-09 07:31] MorrisJobke commented on #18984
@schiesbn Ping

[2015-10-09 07:31] resound88 opened #19671 "owncloud-server-$INSTANCEID-cron.lock not removed on OC 8.1.3"
Hi together,
On our system the file /tmp/owncloud-server-$INSTANCEID-cron.lock gets a new modified timestamp every 15 minutes, but isn't removed.
I haven't noticed this behaviour in previous versions of OC.
The MySQL oc_jobs table contains two jobs, which have a realtive new last_run timestamp:

OC\BackgroundJob\Legacy\RegularJob
OCA\Files_sharing\Lib\DeleteOrphanedSharesJob

There are no errors i

[2015-10-09 07:32] MorrisJobke commented on #19065
I don't think we can do much here.

cc @DeepDiver1975

[2015-10-09 07:35] MorrisJobke commented on #19067
This is at least fixed in 8.2 (will be released in ~ 2 weeks)

It's also possible that this was backported to 8.1.4, but I'm not sure.

[2015-10-09 07:35] #19067 closed

[2015-10-09 07:35] MorrisJobke commented on #19671
cc @icewind1991

[2015-10-09 07:40] RealRancor commented on #15550
@enoch85 Maybe also have a look at https://github.com/owncloud/documentation/wiki/Uploading-files-up-to-16GB

[2015-10-09 07:46] RealRancor commented on #18391
@MorrisJobke
Debian Jessie which has PHP 5.6.13 https://packages.debian.org/jessie/php5

[2015-10-09 07:47] PVince81 commented on #19274
We don't rerender the whole sidebar but only its sections.
The MainFileInfoView should be extended to cache the last thumbnail file name. Then if the model changes but the file name/etag didn't, then skip the lazy-loading logic and set the cached thumbnail name to the image.

[2015-10-09 07:48] GCC0THerbst opened #19672 "Restoring originally deleted, encrypted files out of a backup with encryption keys fails"
Hi there,

a user deleted some files and empty the network trash bin.
Now he recognizes that he needs some of those files and called us (IT) in fear of data loss.
We've a backup of the encrypted server data and restored the encrypted file with the correct encryption keys as well into the ownCloud data folder. The ownCloud web app shows the file correctly in the list and picture preview after a rel

[2015-10-09 07:49] PVince81 commented on #19668
oc_file_mapping table is for windows server, which isn't supported since 8.1

Part files should never appear in the oc_filecache.

[2015-10-09 07:53] Kawohl commented on #16188
FIxed and closed

[2015-10-09 07:53] #16188 closed

[2015-10-09 07:56] RealRancor commented on #19671
Yes, AFAIK the file should stay on the disc when reading this correctly:

https://github.com/owncloud/core/issues/3221

[2015-10-09 07:57] PVince81 commented on #19672
For a file to be recognized as encrypted it needs to have the "encrypted" value set to 1 in oc_filecache for that file. You could check whether that's the case.

Additionally the "size" column needs to contain the unencrypted file size (not encrypted file size)

@schiesbn I suspect that the file size in the database doesn't match the unencrypted file size.
Would be good to have a repair step / CLI

[2015-10-09 07:57] #19671 closed

[2015-10-09 07:58] PVince81 commented on #19671
Possible duplicate of https://github.com/owncloud/core/issues/18049

[2015-10-09 07:59] RealRancor commented on #19669
Btw. dup of https://github.com/owncloud/core/issues/19551, https://github.com/owncloud/core/issues/19204 and https://github.com/owncloud/updater/issues/164 (and some more)

[2015-10-09 07:59] MorrisJobke commented on #19668
As windows server is no longer supported and owncloud 7 is in "security fixes only" phase I will close this then.

[2015-10-09 07:59] #19668 closed

[2015-10-09 08:00] PVince81 commented on #19648
Not sure. The password is something sensitive, it might be on purpose that the user needs to hit enter.
Did you check how it used to behave in 8.1.3 ?

[2015-10-09 08:02] Kawohl commented on #16804
I'll close since no activity since august.  Wrong Apache Configuration.
@aaszodi feel free to reopen if the issue still exists.

[2015-10-09 08:02] #16804 closed

[2015-10-09 08:03] davitol commented on #19648
@PVince81 Yes, I did, and the behaviour was to save the password

[2015-10-09 08:03] #19065 closed

[2015-10-09 08:05] PVince81 commented on #19648
Ok, then it makes sense to make it behave the same here.
Thanks.

[2015-10-09 08:10] Kawohl commented on #15960
@BernhardPosselt

I'll close since no activity since April, thanks for your Contribution and please feel free to reopen if the problem still persists.

[2015-10-09 08:11] xn--nding-jua commented on #19667
Hi, the problem is well known. Here is my raised issue: https://github.com/owncloud/core/issues/17594. PVince81 and schiesbn have fixed the origin of the problem already.

Here I've proposed a repair-script for damaged DB-entries. Maybe you can use this script to repair your database, too: https://github.com/owncloud/core/issues/18225

The reason for the 74%: the database should contain the UNencr

[2015-10-09 08:13] MorrisJobke commented on #19074
cc @icewind1991 @Xenopathic

[2015-10-09 08:13] GCC0THerbst commented on #19672
@PVince81 Thank you, I've checked that. Both values was set to 0 - changed that to 1 for encrypted and filled in the unencrypted file size of the original picture. That helped with the file size error, but the connection will be closed and terminated as before. Then, I've just done a new file scan, tried again, error persists. Can't download by using ownCloud website file browser nor sync with des

[2015-10-09 08:15] MorrisJobke commented on #19079
I think this would be something nice for an app. cc @PVince81 @schiesbn

[2015-10-09 08:15] MorrisJobke commented on #19068
@GrimDemon Any news here? Hopefully positive because you didn't complained about problems yet ;)

[2015-10-09 08:16] MorrisJobke commented on #19155
cc @icewind1991 @Xenopathic Does this makes sense?

I think the issue here is, that the owncloud server is in the local LAN and therefore access to it is very fast.

[2015-10-09 08:18] MorrisJobke commented on #19155
Just found another ticket about this, that covers this use case: #11839 -> closing this as duplicate

[2015-10-09 08:18] #19155 closed

[2015-10-09 08:19] MorrisJobke commented on #17886
Closing this due to inactivity. @vannyx feel free to reopen if you still have trouble.

[2015-10-09 08:19] #17886 closed

[2015-10-09 08:21] GrimDemon commented on #19068
Yup, everything is fine with Transactional File Locking and Redis as backend even with local (LAN) upload  :)

Thank you OC team for your help, I think this ticket can be closed.

[2015-10-09 08:21] #19068 closed

[2015-10-09 08:21] guruz commented on #15550
FYI, this is what we from the client side think needs to be done to reliable support big file uploads for arbitrary storage backends: https://github.com/owncloud/core/issues/12097
FYI @ogoffart @dragotin

[2015-10-09 08:21] MorrisJobke commented on #19667
So the cause is fixed and the remaining wrong DB entries are covered by #18225

[2015-10-09 08:21] #19667 closed

[2015-10-09 08:23] MorrisJobke commented on #18268
@icewind1991

[2015-10-09 08:24] MorrisJobke commented on #18225
A bug with incorrect sizes occured: #19667

[2015-10-09 08:25] MorrisJobke commented on #18749
@yeonbinkim Please reopen, if you still have the problems with 8.1.3

[2015-10-09 08:25] #18749 closed

[2015-10-09 08:30] PVince81 opened #19673 "App menu spinner shifted"
### Steps to reproduce

1. Go to the files app (important!)
1. Navigate to the apps page or any other app using the app menu on the top left

### Expected result
Aligned spinner

### Actual result
![files-appmenu-spinner](https://cloud.githubusercontent.com/assets/277525/10389305/b3e99e76-6e70-11e5-852c-47f7d1db3b80.png)

### Versions
ownCloud 8.2 RC1

This only happens while the files app is open

[2015-10-09 08:31] PVince81 commented on #19068
Glad to hear that it worked :smile:

[2015-10-09 08:33] MorrisJobke commented on #18880
@VicDeo What is the status of this?

[2015-10-09 08:34] jvillafanez commented on #18000
We have tests passing for ubuntu 14.04 + PHP 5.5.9 (the one that comes with that version), upgrading (tarball based) from 8.0.5 & 8.0.6 to the latest stable8.1; and the package upgrades (8.0.6 to 8.1.3, which is the latest 8.1 version available) works fine. I'm always talking about the basic installation.

Updated \<files_versions\> to 1.0.6
Update 3rd-party app: calendar
Symfony\Component\Routing

[2015-10-09 08:34] MorrisJobke commented on #18909
Support for windows on the server side was dropped. And there is currently no plan/resources to bring it back. Sorry for that.

[2015-10-09 08:34] #18909 closed

[2015-10-09 08:35] xn--nding-jua commented on #19672
@GCC0THerbst Decrypting the file is still possible, even the oc_filecache has been messed up. The proposed repair-script in https://github.com/owncloud/core/issues/18225 checks, if the DB-entry and the size of the encrypted file is the same (which should no be), then decrypts this file to /tmp, takes the unencrypted filesize, put it back to oc_filecache, deletes the tmp-file and goes to the next f

[2015-10-09 08:37] stevejordi commented on #19639
I don’t know whether it’s related to the LDAP loops,
but my guess is yes.
We sent about 80,000 messages before turning Activity off.

But the problem is that Activity tracking is something we have to give to the end users.
If it starts behaving like this again, we’ll have to disable it.

Steve

[2015-10-09 08:38] PVince81 commented on #13243
Please reopen in https://github.com/owncloud/search_lucene and make sure to at least specify the ownCloud version you are using. Thanks.

[2015-10-09 08:38] #13243 closed

[2015-10-09 08:39] davitol opened #19674 "Some labels are missed in the personal page"
### Steps to reproduce

1. Login ownCloud.
2. Go to Personal menu

### Expected behaviour

'Pass2' and 'Updload new' do not have the corresponding label

### Actual behaviour

'Pass2' and 'Updload new' should have the corresponding label

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

**ownCloud version:**ownCloud 8

[2015-10-09 08:39] MorrisJobke commented on #17733
@bcutter Can I ask you to open a new issue for this. Otherwise it will get lost below here. Thanks.

Closing this ticket then. Please create new tickets if new problems occur. Thanks :)

[2015-10-09 08:39] #17733 closed

[2015-10-09 08:41] MorrisJobke commented on #18049
@fossxplorer Do you still notice these problems?

[2015-10-09 08:44] kalletabur commented on #17444
Any updates on this?

[2015-10-09 08:48] DeepDiver1975 commented on #19674
does this effect accessibility? - please test - thx

[2015-10-09 08:49] MorrisJobke commented on #19673
I debugged this and it only occurs with the current gallery master. If I disable gallery app everything works fine.

[2015-10-09 08:49] MorrisJobke commented on #19673
cc @oparoz

[2015-10-09 08:53] Tralapo commented on #7072
@enoch85 Thanks for the tip. I installed the 2.0.2 Testpilot and it indeed seems to perform a lot better then 2.0.1. I don't get the stress test done in 8 minutes, it expects around 8-10 hours. But that's because of the hardware (RaspberryPi) I would say. The 2.0.1. gives me a expectation of several days(!), so an improvement for sure.

Stable:
![stable](https://cloud.githubusercontent.com/assets/

[2015-10-09 08:53] MorrisJobke commented on #19673
Fix is in https://github.com/owncloud/gallery/pull/415

[2015-10-09 08:59] MorrisJobke commented on #19674
For me for `pass2` the label is present:
![bildschirmfoto von 2015-10-09 10-57-47](https://cloud.githubusercontent.com/assets/245432/10389836/9c2f34e0-6e74-11e5-8c91-f894cdacf7fe.png)

What is `Upload new`? The upload button of the avatar? It is already text in a button. Isn't this enough? Why should we add the same text again?

[2015-10-09 09:00] davitol opened #19675 "Error message about file not found should be more specific in fed.sharing"
### Steps to reproduce

1. Federate share a file (two different oC servers)
2. Delete the file in server A
3. Try to open the file in server B

### Expected behaviour

An error about file not found should be shown

### Actual behaviour

'An internal server error occurred' error message is shown

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:**
MySQ

[2015-10-09 09:11] PVince81 commented on #13565
Any steps to reproduce ? (ideally without synology)

[2015-10-09 09:16] VicDeo commented on #18880
@MorrisJobke status is `haven't looked at` due to no milestone and severity

[2015-10-09 09:16] PVince81 commented on #13910
duplicate of https://github.com/owncloud/core/issues/15407

[2015-10-09 09:16] #13910 closed

[2015-10-09 09:18] jvillafanez commented on #14562
I think it's obsolete because the UI is different, as well as the app, unless we want to solve it in the old encryption app

The problem was with the "restore key" option that isn't longer available in the encryption 2.0.

@owncloud/qa Has a similar scenario been taken into account, with the recovery key password option?

[2015-10-09 09:20] nickvergessen commented on #19653
Is the error (including backtrace) logged in the owncloud.log file?

[2015-10-09 09:23] PVince81 commented on #7009
It is by design.

We can keep the server ticket as enhancement request though.

[2015-10-09 09:24] PVince81 commented on #14008
The current behavior is by design, folder mtimes are not synced.

Switching labels to "enhancement"

[2015-10-09 09:29] Morganlej commented on #7009
I agree behaviour should be kept as is.
Valid reasons are listed above.
However it should be a FAQ somewhere, and in manual (i do not know the status there)

[2015-10-09 09:30] #18007 closed

[2015-10-09 09:31] MorrisJobke commented on #18007
And avatars can also be uploaded to via files app and then be selected.

[2015-10-09 09:31] PVince81 commented on #7009
@carlaschroder is there any doc about the fact that folder mtimes are not synced ?

[2015-10-09 09:31] Morganlej commented on #14008
This enhancement would be nice.
Until we have it: is current behaviour explained in manual or FAQ?

[2015-10-09 09:32] DeepDiver1975 commented on #18007
this issue it now closed because #18586 is merged - now let's start to discuss the backport.

@cmonteroluque @karlitschek @MTRichards

I'm with @PVince81 regarding criticality and vote against a backport

[2015-10-09 09:38] PVince81 commented on #14055
okay actually it's not about federated sharing but external storage

[2015-10-09 09:38] PVince81 commented on #14055
@bboule any update ?

[2015-10-09 09:38] Kawohl commented on #17583
couldn't reproduce with https://software.opensuse.org/download/package?project=isv:ownCloud:community:8.1:testing&package=owncloud

So i assume its fixed and close.

[2015-10-09 09:38] #17583 closed

[2015-10-09 09:39] PVince81 commented on #14065
@jnweiger can this be closed ?

[2015-10-09 09:49] jnweiger commented on #14065
the database dependencies are removed.

[2015-10-09 09:49] #14065 closed

[2015-10-09 09:50] PVince81 commented on #14882
@actyler555 any more luck with the hints from https://github.com/owncloud/core/issues/14882#issuecomment-79115568 and 8.1.3 ?

[2015-10-09 09:51] GCC0THerbst commented on #19672
@xn--nding-jua Thank you, but as I've started the script with modified header entries, it can't connect to the database and the encryption module failed. As I read, this script is for encryption app version 2.0 only, but as ownCloud was installed from scratch and by using the apt repository, only version 1.0.0 is installed right now. What can we do?

[2015-10-09 09:53] #19673 closed

[2015-10-09 09:58] xn--nding-jua commented on #19672
@GCC0THerbst If you are using ownCloud 8.1.3 than you are using encryption 2.0 (this means not the app-version but the encryption-version. ownCloud v8.0 and below is using encryption 1.0). Don't know why the encryption-app has version-number 1.0? This is a bit confusing here.

The script tries to connect to mysql over the function mysql_connect($db_server, $db_name, $db_password). So if you have s

[2015-10-09 10:00] Kawohl commented on #15200
I don't see this  as a bug. Restarting Apache after an upgrade should be done in any case manually.

type : service apache start.

[2015-10-09 10:06] DeepDiver1975 commented on #18701
@cmonteroluque I suggest to add this to the milestone 8.2.1 since master is affected as well and we should first fix master before we discuss backport of fixes.

[2015-10-09 10:08] GCC0THerbst commented on #19672
@xn--nding-jua Okay, well that's really a bit confusing. But okay, now we know it better. I've tried to start the script as normal user, sudo, root and www-data with all existing passwords on the database. I'm a little bit confused about, that there is no variable for the database user name. The script is placed in the ownCloud folder, where as mentioned the index.php is.
##### Script error messag

[2015-10-09 10:09] PVince81 commented on #16240
### Steps

1. Setup OC
1. `update oc_filecache set size=123123123123123 where storage=1 and path = 'files'` (sets 123 TB used size)
1. `curl -X PROPFIND http://root:admin@localhost/owncloud/remote.php/webdav/ | xmllint --format -`

[code]

I couldn't reproduce this neither in stable8, stable8.1 or 8.2 RC1.

[2015-10-09 10:10] JtwoA commented on #19669
@Kawohl Sorry, I'm new.  I clicked the ISSUE button and filled out the form that came up.  Didn't see an option to change templates.

Everyone else, I did a search for "ca-bundle.crt" and came up empty.  I appreciated the assist.  @MorrisJobke I've grabbed the file you indicated and will drop that in.

Thanks all.

[2015-10-09 10:10] PVince81 commented on #16240
@EtienneBruines are you still seeing this issue with recent OC versions ?

[2015-10-09 10:15] xn--nding-jua commented on #19672
@GCC0THerbst OK, the script supposes, that DB-username and DB-name are the same. So $db_name is the DB-user AND the DB-tablename. If you username and tablename are different, you should change the script:
- add a new variable $db_user
- change the line $db = mysql_connect($db_server, $db_name, $db_password); to $db = mysql_connect($db_server, $db_user, $db_password);

But the first error (Encrypti

[2015-10-09 10:15] RalfJung commented on #15200
Wait, you are saying the entire server (that is, all the potentially dozens of sites it hosts) being down for several minutes during the ownCloud updates is "not a bug"? Really, a "service apache2 reload" should be good enough for site configuration changes. A restart would be acceptable. But messing up the restarts in a way that the server is down for several minutes, that's certainly *not* accep

[2015-10-09 10:22] PVince81 commented on #16504
@titansmc are you still seeing this issue with 8.1.3 ?

[2015-10-09 10:27] PVince81 commented on #16508
I still see this in 8.1.3.
Here are clearer steps:

1. Create two users "user1" and "user2"
1. Login as "user1"
1. Create two folders "test1" and "test2"
1. Share "test1" with "user2"
1. Share "test2" with "user2"
1. Move "test2" into "test1"
1. Click the "Share" action for the folder "test1"

The share action does nothing.
However if you refresh the page it will work again.

Possibly an issue wit

[2015-10-09 10:28] RealRancor commented on #19669
Mhh, a search for this keyword leads here to 27 hits:

https://github.com/owncloud/core/search?q=ca-bundle.crt&type=Issues&utf8=%E2%9C%93

[2015-10-09 10:29] PVince81 commented on #16508
This works properly with 8.2RC1 where the share dialog is in the sidebar.
Closing.

[2015-10-09 10:29] #16508 closed

[2015-10-09 10:33] PVince81 commented on #16522
Initial encryption process is obsolete since 8.1 due to encryption 2.0 using another mechanism.

@nicocans if you're still seeing this issue you can reset the migration flag, see https://github.com/owncloud/core/issues/7533#issuecomment-36660925

[2015-10-09 10:33] #16522 closed

[2015-10-09 10:35] PVince81 commented on #16930
@jab416171 did you find any stray files in the latest versions ? There shouldn't be any.
If you're talking about part files or chunks, then see https://github.com/owncloud/core/issues/16570

If you're still having stray files about move/rename in 8.1.3 or 8.2RC1, feel free to reopen.

[2015-10-09 10:35] #16930 closed

[2015-10-09 10:38] #19457 closed

[2015-10-09 10:40] PVince81 commented on #16590
In 8.1.3 and 8.2 there's this feature called transactional file locking which should prevent trying to access files or the DB when the file is locked. See https://doc.owncloud.org/server/8.1/admin_manual/configuration_files/files_locking_transactional.html

If you're still seeing issues in these versions, feel free to reopen.

[2015-10-09 10:40] #16590 closed

[2015-10-09 10:41] PVince81 commented on #16621
This should be fixable with https://github.com/owncloud/core/issues/17243.
Closing as duplicate

[2015-10-09 10:41] #16621 closed

[2015-10-09 10:42] Kawohl commented on #15200
Thinking about it automation would be good. If @jw could point me to the installation script i'll give it a  shot

[2015-10-09 10:43] PVince81 commented on #16624
Since 8.1 the redis config / detection was improved, closing

[2015-10-09 10:43] #16624 closed

[2015-10-09 10:44] PVince81 commented on #16633
@ageis any update regarding @schiesbn's questions ?

[2015-10-09 10:45] PVince81 commented on #16659
https://github.com/owncloud/core/pull/10993 was merged, closing

[2015-10-09 10:45] #16659 closed

[2015-10-09 10:46] PVince81 commented on #16662
@Xenopathic didn't you have a ceph docker running lately ?

[2015-10-09 10:47] enoch85 commented on #7072
For future testing, here are the latest daily builds: https://download.owncloud.com/desktop/daily/

[2015-10-09 10:49] Kawohl commented on #15200
@RalfJung Thanks for pointing that out!

[2015-10-09 10:54] PVince81 commented on #16668
Yeah, I think it makes sense to return false if there is an exception there.

[2015-10-09 10:56] PVince81 commented on #16741
Hmm not sure. @jmaciasportela are you able to reproduce this issue with a SMB mount that has more complex permissions ?

[2015-10-09 10:56] ageis commented on #16633
@PVince81 regrettably that comment was not helpful. The `/data/user/files_encryption/user.privateKey` file is missing for this one user. Don't have backups. He does have a publicKey.

[2015-10-09 10:59] enoch85 commented on #15550
@RealRancor Regarding the PHP stuff, it's exactly what I wrote in my guide as well. Other than that, he runs Nginx and I run Apache. Thanks for the advice anyway.

[2015-10-09 11:03] PVince81 commented on #16742
Closing as obsolete.

Since encryption 2.0 (OC >= 8.1) the size column will always contain the unencrypted size, so doesn't need to be updated after encrypting/decrypting.

[2015-10-09 11:03] #16742 closed

[2015-10-09 11:10] jnweiger commented on #15200
There certainly is an issue. Messages like "Action 'start' failed." should not appear.

@RalfJung Do you still see that happening with newer updates?

@RalfJung I understand you have an issue with apache stop + start, and would prefer a restart or reload instead.
We do stop + start in the packaging code to be in sync with the documented manual upgrade procedure, which also includes these steps.
 h

[2015-10-09 11:12] PVince81 commented on #18941
Ah yes, that one. Will be fixed in 8.1.4, see https://github.com/owncloud/core/pull/19439

Please go to the admin page and re-enable "Allow apps to use the Share API"

[2015-10-09 11:12] #18941 closed

[2015-10-09 11:13] PVince81 commented on #16874
@SergioBertolinSG can you retest this one on 8.2RC1 ?

[2015-10-09 11:14] GCC0THerbst commented on #19672
@xn--nding-jua I've made the changes and the script was able to connect to the MySQL database. But got the encryption error again. But now there were more information about the encryption error. I've found, that in the Photos folder, there were the original demo photos, which were not encrypted by the encryption app during activation by default, so the script fails.
After deleting those files and

[2015-10-09 11:15] PVince81 commented on #16895
@deanbruhn can you check the "oc_filecache" table entries for the broken files and see if their "encrypted" flag is properly set to 1 ?

Or did you have any more luck with 8.0.8 or 8.1.3 ?

[2015-10-09 11:15] davitol commented on #19674
@MorrisJobke As you said looking in the code, label for pass2 is present, but WAVE (Web accesibility evaluation tool) those error are shown.

![screen shot 2015-10-09 at 13 12 02](https://cloud.githubusercontent.com/assets/10596560/10392463/a08da39c-6e87-11e5-9ef2-5f06dc24b593.png)

And yes, I was talking about upload button of avatar

![screen shot 2015-10-09 at 13 12 20](https://cloud.githubuser

[2015-10-09 11:17] xn--nding-jua commented on #19672
@GCC0THerbst glad to hear, that the script was useful :) maybe one of the ownCloud-pro's can package this php-tool for aa better usability.

[2015-10-09 11:17] RealRancor commented on #15550
@enoch85 I haven't compared both tutorials. Just was an additional reference for you

[2015-10-09 11:19] jnweiger commented on #15200
@Kawohl
 for DEB, we do one simple apache2 reload after the upgrade.
https://build.opensuse.org/package/view_file/isv:ownCloud:community:8.2:testing/owncloud/debian.owncloud-config-apache.postinst?expand=1

For RPM, we do stop + start as coded around lines 503ff and 558ff of
https://build.opensuse.org/package/view_file/isv:ownCloud:community:8.2:testing/owncloud/owncloud.spec?expand=1

I cannot se

[2015-10-09 11:19] PVince81 commented on #16920
Duplicate of https://github.com/owncloud/core/issues/15371

[2015-10-09 11:19] #16920 closed

[2015-10-09 11:19] PVince81 commented on #15371
more possible clues here in this duplicate https://github.com/owncloud/core/issues/16920

[2015-10-09 11:21] PVince81 commented on #16925
Yeah, likely a concurrency issue. Even when users don't do anything, their sync clients might be pinging the server to get a status.

This is solved now in 8.2RC1 with transactional file locking.

It can also be enabled manually (opt-in in 8.1, default enabled in 8.2), see https://doc.owncloud.org/server/8.1/admin_manual/configuration_files/files_locking_transactional.html

[2015-10-09 11:21] #16925 closed

[2015-10-09 11:21] PVince81 commented on #16925
Ref https://github.com/owncloud/core/issues/13391

[2015-10-09 11:22] PVince81 commented on #17002
closing in favor of https://github.com/owncloud/core/issues/19399

[2015-10-09 11:22] #17002 closed

[2015-10-09 11:22] SergioBertolinSG commented on #16874
@PVince81 Without redis?

[2015-10-09 11:23] Kawohl commented on #18239
i could not reproduce this, did you try this?

yum install centos-release-SCL
yum clean all
yum makecache
yum install yum install php54-php-bcmath php54 php54-php-cli php54-php-gd php54-php-ldap php54-php-mbstring php54-php-xmlrpc php54-php php54-php-pdo php54-php-pear php54-php-pecl-apc php54-php-mysqlnd php54-php-process

#### enable php5.4
source /opt/rh/php54/enable
### eventually you want to

[2015-10-09 11:23] #18239 closed

[2015-10-09 11:23] RalfJung commented on #15200
It's been a while since there was a major ownCloud update, the last few minor ones went fine as far as I recall.

[2015-10-09 11:23] PVince81 commented on #16874
With either redis or db locking

[2015-10-09 11:23] jmaciasportela commented on #16741
Sorry @PVince81 OOTO until next week, maybe @davitol

[2015-10-09 11:25] Kawohl commented on #15200
I'll test.

[2015-10-09 11:28] schiesbn commented on #17997
I played a bit around with it but I have some doubts that this works.

as far as I can see this only works for .part folders. What about part files within the folder? In this case we would need to apply a stream wrapper and remove the .part files on readdir(), right? Which lead to the question why we shouldn't use a stream wrapper at the first place?

Also what about individual files? If I create

[2015-10-09 11:30] PVince81 commented on #17384
Still happening on master O_o

[2015-10-09 11:33] PVince81 commented on #17386
Some weird sharing issues have been fixed lately in 8.1.3, you might want to try again with that version

[2015-10-09 11:36] PVince81 commented on #17444
I see `Can not decrypt this file, probably this is a shared file. Please ask the file owner to reshare the file with you`. I'd expect that if the owner shares the file again (or the containing folder), the target user should get access again. @atroxix said it didn't work.

Something to check: look at the folder "data/$SHARE_OWNER/files_encryption/.../security/myfile.xls" and see if the list of "*.

[2015-10-09 11:36] PVince81 commented on #17444
@schiesbn

[2015-10-09 11:43] PVince81 commented on #17997
I'm more worried about the stray database entries:

1. Enable encryption
1. Upload file
1. `select * from oc_filecache where path like '%part%';`

Just found 5K entries on my productive server which I now manually deleted.

Definitely something to look into for 8.2.1

[2015-10-09 11:45] carlaschroder commented on #7009
@PVince81 There is not. Yet.

[2015-10-09 11:47] PVince81 commented on #17997
Would it be possible to do a fix specifically for the encryption app that prevents it to use the file cache at all for anything outside "files/" ?

[2015-10-09 11:51] Kawohl commented on #15200
Updating from 8.1.3 to 8.2rc1 on ubuntu 14.04  works without crashing apache.

These for lines are a little confusing at the end:

invoke-rc.d: policy-rc.d denied execution of restart.
apache2_invoke owncloud: already enabled
invoke-rc.d: policy-rc.d denied execution of reload.
Setting up owncloud (8.2~RC1-3.1) ...

I'll test more versions, and rpm based stuff.

[2015-10-09 11:53] jnweiger commented on #15200
I saw similar denied execution messages when running inside docker. That may not be a valid test then.

[2015-10-09 11:59] karlitschek commented on #18007
Let's not backport. The workaround should be fine for now. Thanks

[2015-10-09 12:03] GCC0THerbst commented on #19672
@xn--nding-jua I've tested the functionality with real backup data from our storage servers and I was very happy as it finished its job successfully.

I'm looking forward to receive an update, which will solve this issue soon and hope that the ownCloud-pro's will do so. It is really a big topic and could be solved easily - I guess. ;)

Tomorrow I'll check a complete disaster recovery with using th

[2015-10-09 12:04] dper commented on #17733
I also had badness upgrading and reinstalled from scratch to get things working again. The error was similar or identical to the one opening this issue, IIRC, but I don't have the logs lying around any more, sorry.

[2015-10-09 12:05] PVince81 commented on #17522
@orson74 did you try it ?

[2015-10-09 12:08] PVince81 commented on #17545
I believe that migration can now be resumed if I remember correctly, @schiesbn can you confirm ?

[2015-10-09 12:10] DeepDiver1975 commented on #19674
@jancborchardt please have a look once you are back  :surfer:

[2015-10-09 12:10] #19642 closed

[2015-10-09 12:13] SergioBertolinSG opened #19678 "Numbers added in the resharing forbidden message."
### Steps to reproduce

1. As admin share a folder 'folder' with user1 without all permissions, specially resharing.
2. Try to reshare 'folder' with user2:
[code]

### Expected behaviour
[code]

### Actual behaviour
[code]
The number is variable.

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

**ownCloud version:**

[2015-10-09 12:14] SergioBertolinSG commented on #19678
cc @rullzer

[2015-10-09 12:14] JtwoA commented on #19669
@RealRancor Thanks for your feedback!

On Fri, Oct 9, 2015 at 6:28 AM, RealRancor <notifications@github.com> wrote:

[2015-10-09 12:30] SergioBertolinSG commented on #16874
Tested in 8.2RC1 I get a 500 Internal Server Error when the file finish the upload. But the file doesn't appear in the second browser, which is fine.

[2015-10-09 12:42] cdamken commented on #19540
The issue is not resolved.
We've tested with the following configuration:
Ubunto 14.04.3 LTS
Apache 2.4.7
php and php fpm 5.5.9
Memcached 1.4
APCu 1.7(manual installation)
Redis 2.8

With APCu it doesn't work on IE and Edge.
WIth Memcached it sometimes works on IE but not on Edge
With Redis it works with IE but not on Edge
Firefox and Chrome doesn't have these problems

How do we test:
We use the

[2015-10-09 12:42] davitol commented on #16741
@PVince81 Same behaviour as you got. I cannot reproduce the issue. I got the message: 'cannot delete ...'

[2015-10-09 12:44] SergioBertolinSG commented on #16874
Tested using 8.2RC1 and no redis. It works fine, the file doesn't appear until uploading finished.

[2015-10-09 12:45] ferdiga opened #19679 "upgrade path must be enforced"
the user must not be allowed to skip required steps / versions in the upgrade process
please see
https://github.com/owncloud/core/issues/15133#issuecomment-146769920

[2015-10-09 12:46] butonic commented on #19255
@Berndinox the testsuite is in place and https://github.com/owncloud/core/pull/17641 should fix the move / rename problems.

[2015-10-09 12:49] Kawohl commented on #15200
ah o.k. i'll retest  in full virtual machine again

[2015-10-09 12:55] blizzz commented on #19507
What is you LDAP confiugration (``./occ ldap:show-config`` as web user)? Maybe TLS was detected false-positively.

[2015-10-09 13:07] lrowen commented on #18239
@Kawohl

Did all that; as I said, the 8.1.0 site WORKS; if I hadn't done all that already, 8.x of any version would not have worked.

The yum update is blocked by the rpm dependency on php>=5.4, not the output of php -v.  Enabling php54 using SCL does not in any way affect the rpm dependency issue, as Requires: doesn't care about SCL.  The correct answer is what @jnweiger posted, but there is stil

[2015-10-09 13:17] PVince81 commented on #19540
@cdamken we anything in the owncloud.log or javascript console when the problem happens ?

[2015-10-09 13:22] PVince81 commented on #16741
@My1 if the problem still appears for you in 8.1.3 we'll need more detailed information about your SMB server and permissions

[2015-10-09 13:24] mfraschalpi commented on #19338
Great @LukasReschke - I was searching for hours. That was the solution. Just activating PDO in strato managend server. Thanks!

[2015-10-09 13:25] #19338 closed

[2015-10-09 13:25] jnweiger commented on #18239
@lrowen The discrepancy in build release numbers 8.1.3-2.1 vs 8.1.3-13.1 is an unfortunate side effect of looking at diffferent repositories. It does not mean that one is newer or older than the other.
Comparing build release numbers makes most sense within the same repository.

https://build.opensuse.org/package/show/isv:ownCloud:community:8.1/owncloud
and
https://build.opensuse.org/package/show/

[2015-10-09 13:29] blizzz commented on #19240
Well, if it's reproducible only on new moon days while the tide is high it get's tricky. Can you see a difference for instance with caching turned off and on? Also providing the configuration might help.

[2015-10-09 13:33] PVince81 commented on #17560
### Steps

1. Login as admin
1. Create users "user1", "user2", "user3" ,"user4"
1. Create a folder "folder1"
1. Share "folder1" with "user1"
1. Share "folder1" with "user2"
1. Create a folder "folder1/folder2"
1. Share "folder1/folder2" with "user3"
1. Share "folder1/folder2" with "user4"
1. Reopen the share dropdown for "folder1/folder2"

### Expected result
"Shared in folder1 with user1, user2"

[2015-10-09 13:34] guysyml commented on #19507
Hi Blizz,

Pleas find the ldap:show-config as web user
root@web-01:/var/www/owncloud# sudo -u www-data php occ ldap:show-config
+------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Configuration                |

[2015-10-09 13:34] My1 commented on #16741
Well I am not working in the environment so I cannot gather much more info for that.

I might try something with my Raspberry pi someday but it may take some time as my pi isnt really configured and the Pi 1 B-Model isnt really good enough for OC and I dont have a linux machine nearby.

[2015-10-09 13:34] orson74 commented on #17522
With the current version and manually copying the correct private/public keys related directories. It works.

[2015-10-09 13:35] PVince81 commented on #19517
Closing in favor of https://github.com/owncloud/core/issues/17560 which has a smaller reproducible test case.

[2015-10-09 13:35] PVince81 commented on #19517
Nothing to do with LDAP btw

[2015-10-09 13:35] PVince81 commented on #17560
@rullzer @schiesbn

[2015-10-09 13:36] karlitschek commented on #19679
This is implemented/fixed in newer version.

[2015-10-09 13:36] #19679 closed

[2015-10-09 13:36] vijaykumar0690 commented on #19507
Hi Blizz,

Pleas find the ldap:show-config as web user
root@web-01:/var/www/owncloud# sudo -u www-data php occ ldap:show-config
+------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Configuration | NEW |
+--------

[2015-10-09 13:38] lrowen commented on #18239
@jnweiger
??!!!??  As far as yum and rpm are concerned, using the standard EVR comparison, with Epoch and Version being the same a Release of 13.1 > a release of 2.1 and thus the 13.1 Release package will never be upgraded by yum to a 2.1 package, even if %{BUILDTIME} is newer. (And since you haven't set Epoch, that really isn't part of it.)

So, to get properly upgraded from the hand-patched 13.1

[2015-10-09 13:41] PVince81 commented on #17581
Ok, so that excludes the database case.

Did you change any settings related to sharing in the admin page ?

[2015-10-09 13:43] karlitschek commented on #18359
@schiesbn We shouldn't forget this. I suggest to work on that as soon as master is open for commits again.

[2015-10-09 13:43] PVince81 commented on #19540
Is always the same IE11 instance used or is that different machines ? Has the cache + cookies been cleared between the test cases ?

[2015-10-09 13:45] PVince81 commented on #17600
### Steps to reproduce:

1. Setup OC 8.1.3 from scratch with Mysql (haven't tested the others)
1. Set "log_query" to true in config/config.php
1. Try logging in

### Expected result
Login possible

### Actual result
Login page shown again

### Logs
[code]

[2015-10-09 13:48] MorrisJobke commented on #19678
It's the share ID ;) cc @schiesbn

[2015-10-09 13:52] PVince81 commented on #17600
Very strange stuff. Commenting out the two blocks of code that react on "log_query" fixes the issue. Also if I comment out the part that writes into the log it works too.

[2015-10-09 13:53] schiesbn commented on #17997
Please no! This screams for follow-up bugs. If you want to get a dir listing for a keys folder, etc. Also it would completely break if you use a object storage as primary storage.

Everything needs to be in the file cache and part file handling should be limited to user/files.

[2015-10-09 13:56] PVince81 commented on #17600
It's not about "log_query", it's about trying to log **any** message when within the OC\DB\Connection object or OC_DB_StatementWrapper

[2015-10-09 14:03] PVince81 commented on #17600
Strangely when I log out after enabling "log_query" I get a page with `{"data":{"message":"Token expired. Please reload page.","error":"token_expired"},"status":"error"}`.

I bisected this and it points to c233f2c90b9a27aee715c7d3653763dd5e26d4c9 from @LukasReschke https://github.com/owncloud/core/pull/14948

[2015-10-09 14:04] PVince81 commented on #17600
While debugging into the logger I saw that it tries to retrieve config values that are cached, but I don't understand yet how this all fits together.

[2015-10-09 14:06] LukasReschke commented on #17600
https://github.com/owncloud/core/pull/16186

[2015-10-09 14:07] PVince81 commented on #17600
wow, I'm always impressed by some coincidences

[2015-10-09 14:12] jnweiger commented on #18239
yes, changelog of 8.1.3-2.1 from https://build.opensuse.org/package/show/isv:ownCloud:community:8.1/owncloud and changelog of 8.1.3-13.1 from https://build.opensuse.org/package/show/isv:ownCloud:community/owncloud are identical.

[2015-10-09 14:13] amc2002 commented on #17560
@PVince81 - this is the same issue as 19517? The "user" referenced in my example that showed up 100 times wasn't an account user, it was the actual admin who shared the folder originally. Just checking.

[2015-10-09 14:14] Xenopathic commented on #16662
Yes, it's the one used in the S3 tests: #19069. It's called `xenopathic/ceph-keystone` if anyone wants to use it

[2015-10-09 14:14] PVince81 commented on #17634
8.2 will come with a command to be able to encrypt or decrypt files (but you'll need to have recovery key enabled for the users)

[2015-10-09 14:15] Xenopathic commented on #19074
@JT1301 Please don't open duplicate reports, we know about the problem, but currently there is no solution.

[2015-10-09 14:15] #19074 closed

[2015-10-09 14:16] PVince81 commented on #17644
Obsoleted by moving the share dialog into the sidebar in 8.2

[2015-10-09 14:16] #17644 closed

[2015-10-09 14:17] Xenopathic commented on #18299
As per my last comment, we need to translate exceptions from the storage libraries themselves into ones ownCloud can use, namely StorageNotAvailableException.

[2015-10-09 14:17] PVince81 commented on #17661
Also see https://github.com/owncloud/core/pull/7514 and https://github.com/owncloud/core/issues/7496

I'll close this ticket, part files aren't synced, this is by design.

[2015-10-09 14:17] #17661 closed

[2015-10-09 14:19] PVince81 commented on #17672
I suppose Omnioutlier is from the same series as Omnifocus ?

Closing as duplicate of https://github.com/owncloud/core/issues/13228

[2015-10-09 14:19] #17672 closed

[2015-10-09 14:20] PVince81 commented on #17683
Try setting "filesystem_check_changes" to 0 in config.php, it should solve those conflicts.

In 8.1.3 and 8.2 the transactional file locking feature will prevent such situations to happen: https://doc.owncloud.org/server/8.1/admin_manual/configuration_files/files_locking_transactional.html