[2015-04-20 14:52] PVince81 commented on #15580
Yes. I also tried evaluating the whole class and it looks that it's the same for both.
The difference might be how stream_read is called, combined with calls to feof.

I tried logging $count at the beginning of the loop, and this is what I get: https://s3.owncloud.com/owncloud/index.php/s/jDc1gdO9CWgceQQ

Starting with the 6th iteration the remaining value isn't the same any more (6192 instead of

[2015-04-20 14:55] #15742 closed

[2015-04-20 14:56] jknockaert commented on #15580
And the result (i.e. the downloaded file) is still the same for both?

[2015-04-20 14:58] th3fallen commented on #15745
@schiesbn Am i missing something or is there not a method to update private key password? Unless it meaning the recovery password?

[2015-04-20 14:59] DeepDiver1975 commented on #15745
from my understanding route and method are missing

[2015-04-20 15:00] th3fallen commented on #15745
fan...{blank}ing.... tastic....

k.

[2015-04-20 15:00] PVince81 commented on #15580
No, the file from download.php is missing a few bytes.

Sorry, I had a copy-paste fail when creating those files. I have updated them now.
The diff now shows that the $count sizes were identical until the end of the file:
[code]

[2015-04-20 15:00] DeepDiver1975 commented on #15745
summoning @schiesbn ....

[2015-04-20 15:01] DeepDiver1975 commented on #15745
LOL - @th3fallen please review https://github.com/owncloud/core/pull/15677

[2015-04-20 15:02] th3fallen commented on #15745
Ah that makes more sense i was about to start writing the method, will test now. @DeepDiver1975

[2015-04-20 15:02] PVince81 commented on #15580
Okay I created a local file that has 8193 bytes and uploaded it.
Downloading that file with download.php is missing the last byte. (curl is fine)
I have uploaded it here too: https://s3.owncloud.com/owncloud/index.php/apps/files/?dir=%2Fattachments%2Fgithub%2F15580

[2015-04-20 15:03] oparoz opened #15755 "Public page sessions don't work properly in all browsers"
### Env
Master, PHP-FPM 5.5, Apache 2.4, memcache in config.php

### Steps to reproduce
1. Share a file
2. From the public page, which is authorised via a token, make a Jquery ajax requests to the public WebDAV endpoint, using the token as authorization, in the URL
[code]

### Expected behaviour
Firefox should get the file
Chrome should get the file

### Actual behaviour
Firefox gets the file
Chro

[2015-04-20 15:04] jknockaert commented on #15580
OK, so you wrote a file, then you did download.php which results in a missing byte, and next webdav with the correct file, right? Could you check if the order of things matter? Specifically: does the missing byte only happen upon the first download (with download.php) after upload? E.g. if you repeat download.php upon the same saved file, does this always result in the same missing byte?

[2015-04-20 15:09] PVince81 commented on #15580
Yes, WebDAV always gives the correct file and download.php always gives a file with a missing byte.

I tried stepping over the "while" loop a few times and observed that with WebDAV it loops much longer, even after $this->position=8192 it goes futher to $this->position=16283, 24576 and only then it goes out. Note that it's PHP's internal code (from file_put_contents) which controls the calls.

In

[2015-04-20 15:10] PVince81 commented on #15580
So basically, with WebDAV: stream_read is called 3 times (6 iterations in the while) and with download.php it is called 1 time (2 iterations in the while)

[2015-04-20 15:13] McNetic commented on #10001
Ok, I found some time to have a look at the OSX problem with the VM provided by @mmayer, myself. I also found other sources complaining about the OSX incompatibility with some zip features. So my conclusion is that the OSX finder cannot handle zip general purpose flag bit 3 set (aka streaming zip files, part of official zip standard since 1993). I can not handle this problem in ZipStreamer itself,

[2015-04-20 15:14] jknockaert commented on #15580
Hmm. No idea right now what's happening. I'll have another look at it later today.

[2015-04-20 15:16] PVince81 commented on #15580
As you like, I think I'm onto something:

With WebDAV:
[code]

here with WebDAV even though feof returns 1, the internal PHP code continues to loop.

But in download.php case, we have our own loop that correctly relies on feof to stop:
[code]

It is either a bug in @icewind1991's stream wrapper that might not return the correct feof value, or it's a bug in the encryption stream's feof that returns

[2015-04-20 15:17] PVince81 commented on #15580
Sorry, I pasted the same twice. Fixed now in previous comment.

I'll try and dig into feof now.

[2015-04-20 15:21] oparoz commented on #15754
It turns out I forgot to encode the authorisation parameters, but still, oC should not crash. I've left the original mistake in the OP (token is not encoded).

@DeepDiver1975 - This might not be urgent, unless @LukasReschke thinks not validating headers and crashing instead could represent a security risk.

[2015-04-20 15:27] PVince81 commented on #15580
I suspect that the loop is reading the last block in advance, but the stream wrapper's feof function is called on the real file, which already reached the end, even though we haven't processed the last block. If that's the case we need to override stream_feof and properly compute its result.

[2015-04-20 15:32] PVince81 commented on #15580
Fixing feof works, PR here: https://github.com/owncloud/core/pull/15757

[2015-04-20 15:42] kalletabur opened #15758 "Can't access re-shared folder on another owncloud server"
### Steps to reproduce
1. Co-worker shares folder with me (editing allowed).
2. I re-share (re-sharing allowed by admin) this folder with "share link" option (on ownCloud1 server) with edit permission.
3. Going to re-shared link URL and "Using Add to your ownCloud" and "add remote share" options trying to add this re-shared folder to ownCloud2 server.
4. Folder is successfully created on ownCloud2

[2015-04-20 16:06] halflife3lost opened #15759 "Improve progressbar and allow renaming file while uploading"
Needed:
1. The name of the uploaded file in line with the progress bar.
Uncomfortable when multiple files to upload.
On the other file storage, the name of the file loaded on the server is displayed at startup.
2. Show interest uploaded to the server. For each file. An example of the format of 99.9%. Because the progress bar reaches the end and worth it.

[2015-04-20 16:30] nickvergessen opened #15760 "TypeError: OC.Encryption.displayEncryptionWarning is not a function"
Printed to the console with encryption enabled and when your private key needs to be re-passworded:
[code]

You can see that before Step5 of https://github.com/owncloud/core/pull/15677

[2015-04-20 16:31] nickvergessen commented on #15760
Maybe @MorrisJobke or when @PVince81 needs some context switch

[2015-04-20 16:43] PVince81 commented on #15631
Note: this error seems to have disappeared on master (3e8f6cdba95690a12de4f8d6b99c59f7a823fbb0)

It seems the problem has fixed itself or was fixed in between.
If no one else can reproduce it I suggest to close this ticket.

[2015-04-20 16:47] PVince81 commented on #15701
The question is whether to do this on the fly as soon as the share is auto-removed or in a background job.

[2015-04-20 16:49] PVince81 commented on #15704
I think this happens for every file, possibly duplicate of https://github.com/owncloud/core/issues/8664

[2015-04-20 16:49] PVince81 commented on #15712
Please use the issue template: https://raw.github.com/owncloud/core/master/issue_template.md

[2015-04-20 16:51] PVince81 commented on #15726
@mmattel can you confirm that both SMB storages that you added are completely different, not the same storage ? Did OC create two separate entries in oc_storage ?

[2015-04-20 16:53] oparoz commented on #15704
Yep, #searchfail

   FROM: Vincent Petry
SENT: Monday, 20 April 2015 18:49
TO: core@noreply.github.com
REPLY TO: owncloud/core
CC: Olivier Paroz
SUBJECT: Re: [core] Files a certain size are uploaded twice after
confirmation of overwritting (#15704)

Liens:
------
[1] https://github.com/owncloud/core/issues/8664
[2] https://github.com/owncloud/core/issues/15704#issuecomment-94505969

[2015-04-20 16:53] PVince81 commented on #15755
The share token is always required.

The only session that is used in the public page is whenever the share needs a password. After entering the password, a session cookie is used to keep the session.

[2015-04-20 16:55] PVince81 commented on #15758
Does it also happen for non-reshared storages ? (a link share from a non-shared folder in ownCloud1 added to ownCloud2)

Is the server on which ownCloud2 is running able to connect to ownCloud1 using it's host name / IP ?

[2015-04-20 17:12] mpellegrin commented on #13591
Hi, I don't think the salt is used in keyfiles. Here is the code I managed to use to decrypt my files :

[code]

I read stream.php and I found that you have to decrypt chunks by chunks, and strip the header block before processing.

[2015-04-20 17:24] freek110 opened #15761 "Mail on file upload or activity"
Hello,

I'm using owncloud 8 and i want to get a alert if a client has uploaded/downloaded a file.

Is there a way to do this?

Greetings,

Freek

[2015-04-20 17:33] oparoz commented on #15755
How come Chrome is able to retrieve the content without using a token then?
Take my PR https://github.com/owncloud/core/pull/15652
Comment out the authorisation part and load the shared file in a private tab in Chrome. You still get the content.

[2015-04-20 17:35] mmattel commented on #15726
SMB_1 ... \\storage\share_1 (user: domain/user, pwd: pwd, share: share_1, admin_group)
SMB_2 ... \\storage\share_2 (user: domain/user, pwd: pwd, share: share_2, admin_group)

OC created two storage ID´s in oc_storage, and in oc_filecache, the two storage ID´s created were used. I do nothing else than mapping the smb mount and let it scan. No other activity.
When finished, I remove the SMB mapps vi

[2015-04-20 17:37] #15755 closed

[2015-04-20 18:03] jnfrmarks opened #15762 "What's the correct way to use ./occ --password-from-env user:resetpassword"
### Steps to reproduce

1. Install 8.1 enterprise
2. invoke occ user:resetpassword:

sudo -u www-data ./occ --password-from-env user:resetpassword <uid>

### Expected behaviour

Not sure; the option is not documented.  I'm trying to reset the user's password

### Actual behaviour

I can't change the users password using the --password-from-env option:

[code]

How does this work?

### Server confi

[2015-04-20 18:26] Xenopathic commented on #15762
Firstly, you need to `export` the variable for any subprocesses to see it. Not sure if you've already done this. Just run `export OC_PASS` and any subprocesses will be able to see it...

...except for `sudo`. `sudo` purposefully drops all environment variables and starts with a fresh environment. If you anticipate needing this regularly, and don't want to `sudo -i` all the time, follow the instruc

[2015-04-20 18:32] Xenopathic commented on #15761
You'll want to look into the [Activity app](https://github.com/owncloud/activity)

[2015-04-20 18:32] #15761 closed

[2015-04-20 18:46] Raydiation opened #15763 "Make it easy to reuse app containers in other apps"
Sometimes you want to reuse classes from another app. If you do so, you also need to reuse the container because the author could suddenly decide to create a custom factory for a class. So in order to be able to react to that you cant simply resolve that class from your own container.

I've written a small app that allows you to serve your news app feeds as rss, it also reuses the news app contain

[2015-04-20 18:51] lennartjuette commented on #14048
I stille have this issue with a fresh install of 8.0.2 (sqlite backend). I can't acces my calendar at https://www.juette.eu/owncloud/remote.php/carddav/addressbooks/test/kontakte.

Error:
[code]

Anything i can do to help?

[2015-04-20 18:53] #15745 closed

[2015-04-20 18:54] oparoz commented on #15763
I think it 's an elegant solution to the problems we're going to start facing when the first inter-dependant apps are going to be introduced.

[2015-04-20 18:54] carlaschroder commented on #15762
What is this --password-from-env option? Never seen it before, and it does not exist on my system.

Resetting a user's password is done this way:

    sudo -u www-data php occ user:resetpassword [username]

I prefer 'php occ to './occ' because in a default oC installation the occ script is not executable.

[2015-04-20 18:55] RealRancor commented on #14048
Hi,

don't think it will be fixed if no one has reported this in the issue tracker of the calendar app as requested here: https://github.com/owncloud/core/issues/14048#issuecomment-82357261

[2015-04-20 18:59] jnfrmarks commented on #15762
@carlaschroder

If you enter the command without a UID value, you get the usage syntax and that is where I saw the --password-from-env option.

@Xenopathic

That makes sense; closing for now and will reopen if it's not a user error.

[2015-04-20 19:02] carlaschroder commented on #15762
sudo drops environment variables as a security measure. There should not be any sudo usage that requires messing with environment variables without a really good reason-- what is the purpose of --password-from-env, and why us it rather than running the plain user:resetpassword command?

[2015-04-20 19:04] i42n commented on #15130
+1
back to 7 for now.

[2015-04-20 19:05] jnfrmarks commented on #15762
In my case, I want to be able to use the env var so that  I can script adding users without requiring input from users.

[2015-04-20 19:08] lennartjuette commented on #14048
you may be right... i'l post something over there.

[2015-04-20 19:09] jnfrmarks commented on #15762
This works:

export OC_PASS=newPW
su -s /bin/sh www-data -c "php /var/www/html/owncloud/occ user:resetpassword --password-from-env uid"

[2015-04-20 19:12] carlaschroder commented on #15762
export OC_PASS=   is exposed in the BASH history.

I thought the User Provisioning API was for managing mass quantities of users?

[2015-04-20 19:17] jnfrmarks commented on #15762
Good catch.

@LukasReschke @DeepDiver1975

[2015-04-20 19:18] carlaschroder commented on #15762
I'm happy to document this, I just don't get it. The original PR also seems confused. https://github.com/owncloud/core/pull/15404

[2015-04-20 19:20] LukasReschke commented on #15762
See https://github.com/owncloud/core/pull/15404, so generally speaking the old approach and the new one are okay for me though this one makes it harder to shoot yourself in your knee too much. – A regular call with `--password` would be in the bash history (for the user) as well as the process list (for all users)

So the `export` approach looks valid to me. Though it has indeed a confusing usage.

[2015-04-20 19:34] jnfrmarks commented on #15762
I missed that this is new with 8.1, which explains why it isn't documented.

[2015-04-20 19:40] DeepDiver1975 commented on #15760
fixed with this???? https://github.com/owncloud/core/pull/15713

[2015-04-20 20:01] carlaschroder commented on #15762
I'm still looking for a use case. If it's for scripting adding multiple users, it is missing a way to import a user list and a mechanism for forcing users to change their password on their first login. If it's just for adding one user a time using `occ`, it's still missing password change enforcement. So the admin either has to change the OC_PASS= variable for every user they're adding, or use the

[2015-04-20 20:02] DeepDiver1975 commented on #15763
As per the design criteria of ownCloud there shall be NO dependency between app.

Just have a look at the nightmare we have as of today in the area of calendar, contacts and task which "only" share a 3rdparty library.

This is nothing we want in core - sorry.

[2015-04-20 20:02] #15763 closed

[2015-04-20 20:03] Dreadeath commented on #14236
That was an example, every app in apps2 folder has these symptoms. js, css, png are looked in wrong place.

[2015-04-20 20:09] DeepDiver1975 commented on #14236
what ever you define in the url parameter has to be a valid url which is served by the web server.

In the case above https://github.com/owncloud/core/issues/14236#issue-57737317

      'path' => '/usr/share/webapps/owncloud/apps',
      'url' => '/apps',
      'writable' => false,
    ),
    1 =>
    array (
      'path' => '/var/lib/owncloud/apps',
      'url' => '/localapps',

http://localhost/

[2015-04-20 20:09] oparoz commented on #15763
@DeepDiver1975 - How are you going to move preview providers to apps if the Preview app can't load them? It really depends on how you look at apps. They can be treated as libraries which aren't included in core.

[2015-04-20 20:14] carlaschroder commented on #15762
And testing the obvious-- I don't see it in the process list. IMO this needs some more thought.

[2015-04-20 20:15] jnfrmarks opened #15764 "LDAP host text box outline missing when configuring LDAP"
### Steps to reproduce

1. Install 8.1 enterprise
2. Enable LDAP app
3. Navigate to admin page
4. Add new LDAP server

### Expected behaviour

There is a Host text box

### Actual behaviour

The host text box is missing.  If you put your cursor where the text box should be, you can still enter dat

![p319](https://cloud.githubusercontent.com/assets/8480343/7239507/749d6f2e-e778-11e4-8f0f-e9336c26d

[2015-04-20 20:15] DeepDiver1975 commented on #15763
This what we have the public api in core for.
As for this explicit scenario:
- an preview generating app will register the preview provider to the preview manager in it's app.php
- as soon as an preview is to be generated the registered provider living in the app will be called

We already have working mechanism like this in the contacts manager or in the activity manager.

[2015-04-20 20:16] Xenopathic commented on #15762
It can be very useful to script things using Bash scripts, such as resetting a password for a particular user (user comes to the admin and wants a reset password, for example). I know for certain The Linux Schools Project (which I am part of) uses Bash scripts extensively. The ability to use a password that isn't on the command line is very useful, either by passing it in on stdin or passing it th

[2015-04-20 20:19] karlitschek commented on #15764
@blizzz

[2015-04-20 20:22] oparoz commented on #15763
OK, but that's limited to very specific use cases then since the manager needs to live in core whereas with inter-app dependencies, the manager can live in another app. On top of that it's the app's responsibility to manage these dependencies, just like they already do using composer or bower, so I don't really see the problem with the AppFramework making it easy to load classes from other apps.

[2015-04-20 20:30] carlaschroder commented on #15762
Sorry Xenopathic, I'm still befuzzled. I'm not seeing a clear use case.

User wants password reset. oC already has three ways to do this: automated reset from the login screen, admin resets it from the Web GUI, admin resets it with occ user:resetpassword

Or, admin wants to add users. What improvement does this offer over existing user management tools? The `occ` command does not appear in the pro

[2015-04-20 20:32] DeepDiver1975 commented on #15763
Just have a look at the nightmare we have as of today in the area of calendar, contacts and task which "only" share a 3rdparty library.

[2015-04-20 20:35] jnfrmarks opened #15765 "Need tighter ldap property validation"
### Steps to reproduce
1. Install 8.1 enterprise
2. Enable LDAP app
3. Navigate to admin page
4. Add new LDAP server
5. Enter data either directly via UI or via occ
### Expected behaviour

Data is checked for incorrect format or data types
### Actual behaviour

Data entered is not verified when the data is entered:

For instance, I can enter this command:

sudo -u www-data php occ ldap:set-config

[2015-04-20 20:38] jnfrmarks opened #15766 "Adding LDAP server reuses last number in the list"
### Steps to reproduce

1. Install 8.1 enterprise
2. Enable LDAP app
3. Navigate to admin page
4. Add a bunch of new LDAP servers (I added 5)
5. Delete some of the middle ones (deleting one will do)
6. Add a new LDAP server

### Expected behaviour

New LDAP server should get the next numerical value available

### Actual behaviour

The next LDAP server created reuses the last number:

![p321](http

[2015-04-20 20:40] oparoz commented on #15763
I'm not familiar with the issues these apps are having apart from some DAV incompatibilities. Which library are they sharing? If it's indeed SabreDAV, they I'd stay it's very different than sharing a class to parse or log data per example.
But again, it's a problem with these apps and the way they've decided to share a library. App developers can decide whether or not to use a library from the app

[2015-04-20 20:43] karlitschek commented on #15766
@blizzz

[2015-04-20 20:43] karlitschek commented on #15765
@blizzz

[2015-04-20 20:46] binarykitchen commented on #15290
Ah, I had two log files, one was never used and I fixed the location of the log file in the config. Now I restarted the migration and finally some output telling me what's wrong:

[code]

Hmmm, it says some files are missing. What should I do?

[2015-04-20 21:00] Xenopathic commented on #15762
@carlaschroder Here is an example from Karoshi Server: https://github.com/the-linux-schools-project/karoshi-server/blob/master/serversetup/web_controls/scripts/exec/pdc/reset_password#L123-L127. It uses the CLI tool from Samba to change user passwords, and it isn't too dissimilar to how occ works. This code runs in production, and is powered by a web management interface. Admittedly, ownCloud alre

[2015-04-20 21:07] blizzz commented on #15766
Confirmed. The important part is the delete action. This is also reproducible on older versions.

[2015-04-20 21:11] blizzz commented on #15764
Never seen this. Which browser? Also in the screen shot the host field is visible.

[2015-04-20 21:22] #15704 closed

[2015-04-20 21:22] jnfrmarks commented on #15764
chrome.  The outline of the box is what's missing.

[2015-04-20 21:28] jnfrmarks opened #15767 "LDAP users can't be checked via OCC if there are mis-configured ldap servers along with correctly configured ldap servers"
### Steps to reproduce

1. Install 8.1 enterprise
2. Enable LDAP app
3. Navigate to admin page
4. Configure a new LDAP server
5. Create some empty LDAP server configurations
6. From occ get a user report (occ user:report) --> see ldap user count
7. From occ, check ldap user (occ ldap:check-user <un>)

### Expected behaviour

User information returned from ldap:check-user

### Actual behaviour

The

[2015-04-20 21:52] karlitschek commented on #15767
@blizzz

[2015-04-20 23:30] Dreadeath commented on #14236
Define "valid". Paths are valid, since PHP scripts are found, only static assets are "lost". My guess for now it is related to nginx misconfiguration, related to root directive or something like that. Maybe not :)

[2015-04-20 23:37] oparoz commented on #8268
I like how Pydio is letting the sharer pick a layout
![01-share-minisite-layout](https://cloud.githubusercontent.com/assets/323220/7242859/fa88426e-e7c6-11e4-9b14-77c3595a94f9.png)

[2015-04-21 01:26] binarykitchen commented on #15290
turns out that the `occ` command did mess around with my keys while migrating from v7 to v8 and got aborted in the middle.

i found some backup folders and copied back the missing keys. giving the `occ` command another try now.

can you ensure that the `occ` command is purely transaction-oriented? so that, when aborted, everything is reverted to the original state?

[2015-04-21 05:59] DeepDiver1975 commented on #14236
Valid in the sense that assets are served.
Php scripts are unrelated - routing is done via 'apps' url part.

So: proper web server config is the solution.

[2015-04-21 06:01] #15712 closed

[2015-04-21 06:03] DeepDiver1975 commented on #15712
Either packaging error, missing git submodule or server miss configuration.

Please reopen if neither of the mentioned. Thx

[2015-04-21 06:30] nickvergessen commented on #15762
As already mentioned in the PR, I don't see how the export OC_PASS is more secure then --password, it's just harder to use when you want to add mulitple users with different passwords.

ref https://github.com/owncloud/core/pull/15404/files#r27768552

[2015-04-21 06:35] MorrisJobke commented on #15763
And then each app itself is again self contained. I would say this is the way to go.

[2015-04-21 06:43] blizzz commented on #15767
see the --force switch for check-user

[2015-04-21 06:59] ether0 commented on #15009
Same thing with us. New Owncloud server install and new Windows client install from yesterday. Deleted folders from the Windows client do not show in the Trash. They do show if we delete from web interface.

Error log shows

Error	PHP	Undefined index: /mnt/datadisk/owncloud/data/dd/files_trashbin/versions/dig.d1429556717 at /var/www/owncloud/apps/files_locking/lib/lockingwrapper.php#140

[2015-04-21 07:20] MorrisJobke commented on #15762
The --password would be listed in the running processes. The export not (export is a shell command and not a executable). So each user on the same host can sniff the passwords by checking the currently running executables. That's the reason for this. Otherwise you need an interactive type in of the password, which is not an easy scriptable way of doing this.

And the other ways of changing a passw

[2015-04-21 07:26] MatteoMora commented on #13761
I also have the same problem, MySQL with encryption enabled.

    {"reqId":"2afc25130aa493da27bd5a0bcfe4ae2d","remoteAddr":"221.224.127.118","app":"PHP","message":"Undefined index: storage_mtime at \/var\/www\/owncloud\/lib\/private\/files\/cache\/watcher.php#67","level":3,"time":"Tue Apr 21 08:55:51 2015"}
    {"reqId":"2afc25130aa493da27bd5a0bcfe4ae2d","remoteAddr":"221.224.127.118","app":"PHP",

[2015-04-21 07:27] SergioBertolinSG opened #15768 "Google drive mounted folder expires after some days"
### Steps to reproduce

1. Mount a google drive folder using a google account and giving access to it on google console.
2. While working correctly, upload some files.
3. Wait a few days.
4. Try to access again the google drive folder.

### Expected behaviour
You can still access your google drive folder.

### Actual behaviour
An unknown error happens, and in admin page the connection to google dr

[2015-04-21 08:00] butonic commented on #15701
Careful, we need to be fault tolerant with remote shares because ... "the tubes might just be blocked". Whan user A an site X shared a folder to usen B at site Y there are four scenarios:

1. user A unshares the folder
2. user B doas not accept the share
3. user B deletas the share
4. site Y might not be reachable for an unknown period of time

2 & 3 are basically the same, which leaves us with th

[2015-04-21 08:00] jancborchardt commented on #8268
@oparoz why should we make it so complicated? Let’s not use other open source software as comparison, but rather more widely used stuff such as Dropbox and Google Drive. ;)

We all know open source apps like settings – but with ownCloud we aim to provide a more smooth UX than traditional open source apps.

[2015-04-21 08:10] nickvergessen commented on #15760
Yes, I added it to the PR description

[2015-04-21 08:31] fcturner commented on #14175
I had the same problem, just to report I am fine now. Post of cyril23, however, I am on an i386 system, so the URL is
wget http://de.archive.ubuntu.com/ubuntu/pool/universe/p/php-apcu/php5-apcu_4.0.6-1_i386.deb

[2015-04-21 08:39] PVince81 commented on #13761
I haven't seen this since a while, let's try again with 8.0.3RC3

[2015-04-21 08:40] DeepDiver1975 commented on #15768
LOL - brilliant user experience - especially with syncing.

This is so hilarious - I did point out that this could happen years back as this was implemented.

@karlitschek @MTRichards seriously - let's drop gdrive support - this will eat data.
In order to fix this the gdrive implementation we would need to store the refresh_token - which is used to regenerate an expired token.

[2015-04-21 08:42] PVince81 commented on #13761
Still happening with 8.0.3RC3

[2015-04-21 08:43] DeepDiver1975 commented on #13761
@nickvergessen mind taking a look - THX

[2015-04-21 08:45] jancborchardt commented on #15701
Yeah, we definitely have to account for the »connection problems« case.

[2015-04-21 08:45] rperezb commented on #15768
Just FYI some Android clients are complaining that
"Working great If you do not see your folders remove google drive link you have and readd. Worked for me!"

[2015-04-21 08:50] PVince81 commented on #13761
This is the stack that leads to this:
[code]

[2015-04-21 08:52] PVince81 commented on #13761
It looks like the cache entry for the file isn't there yet, but encryption is trying to call `getUidAndFilename()` on it to find out who has access.

Not sure if this is hiding a bug or expected.

Removing the warning should be trivial but I'd like @icewind1991 or @schiesbn to have a quick look to confirm that this is expected.

[2015-04-21 08:54] DeepDiver1975 commented on #15768
FYI: dropbox uses oauth as well - their token never expire (unless the user revokes the token)

[2015-04-21 08:54] PVince81 commented on #13761
This only happens for newly created files.

This is the cache entry that gets passed to `checkUpdate()` in the trace above:
[code]

It has neither id, nor mtime nor storage_mtime. Possibly created on the fly as this is a new fly.

[2015-04-21 08:54] kalletabur commented on #15758
No, it doesn't happen. If I share something in oC1 server I can add this to oC2 server and access this resource.

Yes, oC2 and oC1 can connect, also ping and nslookup are working correctly.

[2015-04-21 08:57] PVince81 commented on #15701
@butonic we already have this code in place. We are already able to distinguish between "temporary unavailable" (StorageNotAvailableException) and "share is definitely gone" (StorageInvalidException). The "share is definitely gone" situation is detected when connecting to "shareinfo.php" which will return a WebDAV 404 or 403 (not a regular HTML 404 or 403).

In the case of "share is definitely gon

[2015-04-21 08:58] PVince81 commented on #15701
CC @icewind1991

[2015-04-21 09:07] PVince81 commented on #15758
Ok, thanks for the info. So it is definitely an issue with resharing.

[2015-04-21 09:22] MadEgg commented on #12794
I'm sorry, I just upgrade to OwnCloud 8.0.2 which does not show this problem. So it seems to be fixed. I cannot try this on 7.0.5 anymore because I already upgraded beyond that version.

[2015-04-21 09:26] MadEgg commented on #13264
Sorry for not responding sooner. I just got around to checking this issue after an upgrade to OwnCloud 8.0.2, but I'm still experiencing the same problem.

The last group in the group list is still hidden behind the app settings panel. Are the changes in #14970 incorporated in 8.0.2?

[2015-04-21 09:30] PVince81 commented on #15582
@th3fallen are you still seeing this on master ?

[2015-04-21 09:38] PVince81 commented on #15508
I just tried it and the empty content does show when upload is allowed, but not when upload is denied.

[2015-04-21 09:39] PVince81 commented on #15508
The same problem applies if you share a folder (regular share) with another user and remove "can edit". The empty folders will not show any message.

We could show the regular "No files here" message but hide the upload subtext.

[2015-04-21 09:59] PVince81 commented on #15508
Fix is here: https://github.com/owncloud/core/pull/15769

[2015-04-21 10:15] Xenopathic commented on #12794
Excellent - marking as solved

[2015-04-21 10:15] #12794 closed

[2015-04-21 10:18] blizzz commented on #15764
Ah, the outline.  Okay, that I see. That's different than  missing text box ;) Fix on the way.

[2015-04-21 10:21] jancborchardt commented on #13264
@MadEgg no, they weren’t backported as of now. So they will only be in 8.1 – however we might backport them so they will be in a future 8.0.* release. Thanks for reminding me. :)

[2015-04-21 10:31] blizzz commented on #15764
Fixed with https://github.com/owncloud/core/pull/15770, please test.

[2015-04-21 10:43] nickvergessen opened #15771 ""Shared with you and the group {group} by {owner}" displayed for owner"
### Steps to reproduce

1. Create a folder
2. Create a file inside the folder
3. Share the folder with a group you are in and remove all permissions
4. Open the share dialog of the file

### Expected

The file can be shared normally

### Actual

`Shared with you and the group {group} by {owner}` is displayed at the top of the share dropdown.
Also the file can not be shared because "resharing is no

[2015-04-21 10:47] #15707 closed

[2015-04-21 10:47] #15760 closed

[2015-04-21 10:54] oparoz commented on #8268
@jancborchardt - I don't find that dialogue that complicated, but even if it was, that could be the expert view. oC is missing something like that.
But that's not the point, the scary selector is convenient, because it means apps can augment it:
* Standard Files layout
* Gallery layout
* Document layout (that would be great!)
* Music layout (also great!)

And a selector could easily be replaced by

[2015-04-21 11:03] MorrisJobke commented on #14820
@LukasReschke @DeepDiver1975 Closing this for the same reasons as in https://github.com/owncloud/core/issues/14840#issuecomment-87620565 ?

[2015-04-21 11:05] MorrisJobke commented on #14702
@pierrejochem Can I ask you to reopen this ticket if it isn't solved in 8.1. Thanks

[2015-04-21 11:05] #14702 closed

[2015-04-21 11:25] blizzz commented on #15766
Fixed with https://github.com/owncloud/core/pull/15773

[2015-04-21 11:57] #14820 closed

[2015-04-21 11:57] DeepDiver1975 commented on #14820
thx @MorrisJobke

[2015-04-21 12:33] oparoz opened #15775 "ownCloud's interface needs to cater for the needs of advanced users"
Copying DropBox seems to be one of the main goals of ownCloud, but that's certainly not the only cloud system out there and while some people prefer dumbed down interfaces, others prefer to use the AWS interface per example, for its flexibility.

One key to a successful user interface is to cater for different [personas](https://en.wikipedia.org/wiki/Persona#In_user_experience_design), but quite o

[2015-04-21 12:40] SergioBertolinSG opened #15777 "Setting a password using the OCS API makes shared links unusable."
### Steps to reproduce

1. Share a folder by link.
2. Update the public share adding a password
    2.1. get the shares ids:

[code]
   2.2. Add a password

[code]

### Expected behaviour
A password is added to the shared link.

### Actual behaviour
Password is added, but you can't open the shared file/folder, the password is not recognized.

### Server configuration
**Operating system**:
Ubuntu 1

[2015-04-21 12:41] DeepDiver1975 opened #15778 "[enc2] Move of folder results in corrupted file content"
Detected via https://github.com/owncloud/client/blob/master/csync/tests/ownCloud/t2.pl#L127

## Test Plan
0. create sofiafile.txt with 42 bytes content
1. cadaver: mkdir tom/tom
2. cadaver: put sofiafile.txt tom/tom/sofiafile.txt
3. cadaver: get tom/tom/sofiafile.txt s01.txt
4. verify s01.txt === sofiafile.txt
5. cadaver: mv tom/tom tom/xxx
6. cadaver: get tom/xxx/sofiafile.txt s02.txt
7. :boom: s

[2015-04-21 12:43] DeepDiver1975 commented on #15777
@rullzer isn't there some PR open by you in this area? Thanks a lot!

[2015-04-21 12:47] fcturner opened #15779 "'Modified' span does not hide when selecting files or folders"
When you select a file or folder on the webserver, the Modified span of the files table head does not hide, making the underlying text 'Delete' barely readable/usable.

Steps to reproduce:
- Just visit https://demo.owncloud.org (8.0.2)
- Select a file or folder
- Try to delete your selection

My own ownCloud is Dutch. May be language dependant.

![select](https://cloud.githubusercontent.com/assets

[2015-04-21 12:48] DeepDiver1975 commented on #15778
As far as I can tell the file keys are not moved:

[code]

[2015-04-21 12:49] stonerl opened #15780 "Cannot login with Safari"
### Steps to reproduce
1. Open Safari
2. Login to your ownCloud.

### Expected behaviour
The user should be logged in and the file-app should be shown.

### Actual behaviour
Safari shows an error-message: "Safari Can't Open the Page ... because the server unexpectedly dropped the connection." After 10 attempts I was able to log in. Firefox and Chrome don't show this error.

### Server configuratio

[2015-04-21 12:50] karlitschek commented on #15768
This is an important feature than we can´t just drop. We should look into that later. On the webui users should see the option to relogin. via webdav we have to mark a mounted folder as something like "currently not available" we might need this for other storage backends anyways.

[2015-04-21 12:53] karlitschek commented on #15780
Not reproducible here. This is most likely an error with you setup. Maybe a hickup in the imap server?

[2015-04-21 12:54] karlitschek commented on #15779
@jancborchardt

[2015-04-21 12:59] #15764 closed

[2015-04-21 13:08] stonerl commented on #15780
Hmm. The strange thing is that this "error" only happens when I use Safari. Firefox, Opera, Chrome work just fine. And everytime the connection gets dropped the above ownCloud.log entry appears.

[2015-04-21 13:18] nickvergessen opened #15781 "Smashbox tests running against master+encryption"
### Without Encryption

- [x] `test_scrapeLogFile.py` :white_check_mark:
- [x] `test_reshareDir.py` :white_check_mark:
- [x] `test_uploadFiles.py` :white_check_mark:
- [x] `test_shareDir.py`: :white_check_mark:  https://github.com/owncloud/smashbox/pull/72
- [x] `test_shareFile.py`: :white_check_mark:  reported at https://github.com/owncloud/core/issues/15786, PR at https://github.com/owncloud/cor

[2015-04-21 13:40] jancborchardt commented on #15779
Thanks for catching that! Fix at https://github.com/owncloud/core/pull/15782, please review @fcturner :)

[2015-04-21 13:45] jancborchardt commented on #15508
Fixed with https://github.com/owncloud/core/pull/15769, thank you @PVince81

[2015-04-21 13:45] #15508 closed

[2015-04-21 13:48] jancborchardt commented on #13464
8.2 because any textbox changes here would likely break layouts.

[2015-04-21 13:50] cdamken opened #15783 "[7.0.5] Translation in the mail share notification does not work."
The translation of the emails in oC 6.0.6 did work.

I'm now changing this in oC 7.0.5, but I fail on the subject.

In English the subject looks like this: "Carlos shared »foto.png« with you"

I now want it to have in German like this: "Carlos hat »tcpdump« mit Ihnen geteilt"

In Swiss German and in German (unpersöhnlich) I get not very good subjects: "Carlos teilte »foto.png« mit Dir" & "Carlos t

[2015-04-21 13:51] jancborchardt commented on #14154
We have a clarification in the sharing dialog now which lets you know to use the syntax `username@example.com/owncloud`. That should work, right?

If it doesn’t work to put `user@email.com@example.com/owncloud` then that’s a technical issue to be fixed.

[2015-04-21 13:52] th3fallen commented on #15582
nope were clear now @PVince81

[2015-04-21 13:52] #15582 closed

[2015-04-21 13:58] Helios07 commented on #14154
Ok, thank you. I will give it a test.

[2015-04-21 14:03] labkode opened #15784 "enable_previews => false does not cancel preview hooks"
With the config option `enable_previews=>false`, the hooks for the previews are still called.
An extra check should we putted here https://github.com/owncloud/core/blob/1ee2ee84327a23ebf089f5b719f871168d6d007d/lib/base.php#L763, I'll create a pull request.

[2015-04-21 14:21] oparoz commented on #15567
Supporting IE8 is killing the user experience for 95+% of users
https://github.com/owncloud/core/issues/14828

[2015-04-21 14:24] oparoz commented on #15781
Those share bugs could come from the read-only cache bug fixed in https://github.com/owncloud/core/pull/15721

[2015-04-21 14:24] nickvergessen commented on #15784
This might be somewhat intended. Otherwise if someone disables previews then changes a file and reenables them, they will still display the old image, because it did not get removed, so no new file is being created.

[2015-04-21 14:28] DeepDiver1975 commented on #15784
so triggering delete seems valid in this case. but generally speaking I see no reason to fire the hooks

[2015-04-21 14:28] oparoz commented on #15784
Or the preview cache could get deleted when `enable_previews` is set to false. I'm with the OP in thinking that those hooks should not run on systems with that setting set to disabled.

[2015-04-21 14:30] #15551 closed

[2015-04-21 14:31] DeepDiver1975 commented on #15781
was just merged - @nickvergessen please rebase and fire up the tests again please.

@oparoz THX for the hint - let's see ...

[2015-04-21 14:32] DeepDiver1975 commented on #15783
@nickvergessen mind having a look? THX

[2015-04-21 14:39] nickvergessen commented on #15781
Nop, still failing, but it might be a problem on my (old) mashine, because they seem to fail on master without encryption aswell

[2015-04-21 14:40] fcturner commented on #15779
Works like a charm, thanks :smiley:

[2015-04-21 14:40] nickvergessen commented on #15784
You have a good location for that? :P But yeah, maybe it's fine and then just document to manually delete the data/*/thumbnails/ folders when en-/disabling previews?

[2015-04-21 14:40] oparoz commented on #15781
:(

[2015-04-21 14:41] halflife3lost commented on #15759
Learn more.

You can add a web interface:
0. Show filename file uploads.
1. Display the full size of the file uploaded to the server.
2. The current size of the file uploaded to the server.
3. The current speed file upload.

Example:
  [10,5 Mb / 125,8 Mb - 8,3%] ararararararar.zip

![owncloud_new_web_gui](https://cloud.githubusercontent.com/assets/12036389/7254723/81ca8c4c-e84d-11e4-8b70-b19eedfb

[2015-04-21 14:41] #15779 closed

[2015-04-21 14:45] oparoz commented on #15784
I would just use the cron and on 8.2, the new queue system should be able to manage all that. No?
Documentation is certainly key, but since this will be disabled in a config file which may not contain any comments, a junior admin may simply disable it without knowing what the consequences might be. As you've mentioned, apps will still use the old images.

[2015-04-21 14:48] joschal commented on #14911
Might there be a solution to the problem or do i have to start a completely new ownCloud instance and transfer all my data manualy to the new one?

[2015-04-21 14:56] jnfrmarks commented on #15767
@blizzz

ubuntu-14-lts: sudo -u www-data php occ ldap:check-user --force abagail_kuhic
The given user is not a recognized LDAP user.

--force did not find the user either.

![p322](https://cloud.githubusercontent.com/assets/8480343/7255072/0081af18-e815-11e4-8a33-4b62de875a32.PNG)

[2015-04-21 15:06] nickvergessen commented on #15783
@cdamken it's in `lib/l10n/de.php`:
[code]

Changing that also worked for me. Please let me know if you accidently modified the wrong file

[2015-04-21 15:13] oparoz commented on #14828
While the `parseHashQuery()` method still needs to be fixed, the specific problem described in the OP has been fixed in Gallery+, in master for now.

[2015-04-21 15:31] iamkhris opened #15785 "Public Link Session not destroyed when browser closes."
When a password protected public link is shared out, the user is not required to enter the password again when they close out their browser, and then reopen the link.  They are automatically taken right back into the ownCloud share.  This is a security concern.

[2015-04-21 15:38] nickvergessen commented on #15781
The tests fail, because the mount point for the shared file ends with a trailing slash.
Summoning @PVince81

[2015-04-21 15:48] PVince81 commented on #15781
Could be a regression due to this addition by myself: https://github.com/owncloud/core/pull/15570
It would add a trailing slash to file shares too... but now removing the fix wouldn't work too because some places in the code call `setMountPoint()` with a missing trailing slash. Maybe the fix is to fix the caller instead (which isn't ideal) but also need to take care of the file share cases...

[2015-04-21 15:55] cdamken commented on #11743
Well, then upgrade to oC7

[2015-04-21 15:55] #11743 closed

[2015-04-21 16:01] PVince81 commented on #15781
Hmmm no, this is not caused by the PR I mentioned. I ran test_shareDir.py and test_shareFile.py in much older versions in git, and I saw that:
- test_shareDir.py already failed before that version (without `-a`)
- test_shareFile.py works (without `-a`)

@jnfrmarks did test_shareDir.py ever pass before ?

@nickvergessen when running the tests don't forget to add `-a` to make sure it runs all test c

[2015-04-21 16:08] PVince81 commented on #15781
The fail for the test_shareFile.py appears since 6a5950275993394df22b208f1126efae9e35e42b (https://github.com/owncloud/core/pull/12006) from @icewind1991
Maybe we failed to update the etag of shared files or some hooks do not get fired.

[2015-04-21 16:14] PVince81 opened #15786 "WebDAV PUT on file share fails with 500"
### Steps to reproduce
1. Create two users "root" (the admin) and "user1"
2. Login as "root"
3. Create a file "sharedfile.txt"
4. Share "sharedfile.txt" with "user1" and make sure "can edit" is set
5. Login as "user1" with cadaver or a WebDAV client
6. Do as WebDAV PUT of a text file to overwrite test.txt

or

1. Run smashbox `lib/oc-tests/test_shareFile.py`

### Expected result
File can be overwr

[2015-04-21 16:14] PVince81 commented on #15786
@icewind1991 if you already have an idea please fix it. Else let me know and I can have a look myself.

[2015-04-21 16:15] PVince81 commented on #15781
I have raised this separately as I was able to reproduce something: https://github.com/owncloud/core/issues/15786

[2015-04-21 16:15] PVince81 commented on #15786
Can also be reproduced by running the smashbox test "test_shareFile.py"

[2015-04-21 16:17] jnfrmarks commented on #15781
I thought I fixed shareDir - it's a test issue - "shareeTwo" was creating the directory and sync'ing the same directory - causing two directories to be created locally.

[2015-04-21 16:23] PVince81 commented on #15786
Seems the reason for the "unlink to trashbin" is because we unlink using the $view instead of the $storage.

[2015-04-21 16:25] PVince81 commented on #15786
Hmm no, not enough. The trash wrapper must ignore part files. I guess that will be a separate fix.

[2015-04-21 16:29] PVince81 commented on #15786
Here is the PR for the trashbin behavior with part files: https://github.com/owncloud/core/pull/15787

Now let's have a look why the upload actually fails.

[2015-04-21 16:32] PVince81 commented on #15786
@icewind1991 the final rename tries to rename the part file to an empty string, which is probably the name of the mountpoint file.
We should probably do the final rename on the view instead of the storage, but that might affect the hooks (we might need to remove them). What do you think ?

[2015-04-21 16:35] PVince81 commented on #15786
or, now thinking of it, since this is the shared storage, we might need to add some logic in case it's a file share, in which case the empty string might be an acceptable value for `$path2`

[2015-04-21 16:35] PVince81 commented on #15786
but this might mess up some storage wrappers :frowning:

[2015-04-21 16:37] PVince81 commented on #15786
also it looks like we don't reach the shared storage, at least not at rename time:
[code]

I don't think we want to add special handling for shared storage directly in the sabre connector file class. So probably the view approach is still better.

[2015-04-21 16:41] nickvergessen commented on #15781
@PVince81 yes it works reliable on stable8.
The line in the code that I found out is returning wrong stuff (empty string for a given path) is https://github.com/owncloud/core/pull/12006/files#diff-2e4a54e72d495abc750a9bc445da15a0R115
So that is why it is failing since then.

[2015-04-21 16:42] nickvergessen commented on #15786
https://github.com/owncloud/core/pull/12006/files#diff-2e4a54e72d495abc750a9bc445da15a0R115 is causing the error, it returns an empty path to `$internalPath` for me

[2015-04-21 16:44] MorrisJobke opened #15788 "Properly handle uploads of files ending in ".part""
* Upload a file named `a.part` via webdav
* No error message - just a success message is send back.

### Expected

Having this file in the file list

### Actual

File is gone

This cause data loss!

cc @PVince81 @DeepDiver1975

[2015-04-21 16:47] PVince81 commented on #15786
Yes, because the shared storage root entry has the path "". And since the shared file is itself a shared storage, its path is an empty string too... (the matching cache entry as well)

[2015-04-21 16:47] PVince81 commented on #15788
Duplicate of https://github.com/owncloud/core/issues/7496

[2015-04-21 16:47] #15788 closed

[2015-04-21 17:12] oparoz commented on #14569
And make sure the redirect takes the user back to /. Currently it traps users in endless redirects when the app they were using before the upgrade has been disabled.

[2015-04-21 17:40] tflidd commented on #15780
Can you reach other SSL-sites on your server? Or, can you access owncloud without SSL?
There is also a error console for safari:
* Open Safari and choose Safari > Preferences > Advanced. Then select Show Develop menu in menu bar.
* Choose Develop > Show Error Console.
* Close the console by clicking the close button on the left hand side of the error consoles menu bar.

[2015-04-21 18:36] jnfrmarks opened #15789 "request for occ ldap:list-config command"
It would be great to have an occ ldap:list-config command to list all currently created configs.  In automation, I often want to know whats been configured so I can delete and clean up  after a test.

[2015-04-21 18:52] jnfrmarks commented on #15767
hmm, I have gotten this command to work.  Now to figure out what was different ...  I will close this for now and reopen if/when I figure out what causes the failure.

[2015-04-21 18:52] #15767 closed

[2015-04-21 18:52] RealRancor commented on #14048
There is also a similar issue for the calendar app available here https://github.com/owncloud/calendar/issues/776 but i don't know if this is the exact same issue.

[2015-04-21 18:58] Undeadhunter commented on #15128
I have the same issue, is there anything that I can provide to give a better view into the issue?

[2015-04-21 19:17] karlitschek commented on #15789
good idea!

[2015-04-21 19:18] Xenopathic commented on #15789
Is `ldap:show-config` not sufficient?

[2015-04-21 19:27] jnfrmarks commented on #15789
The problem with  `ldap:show-config`  is that it shows all of the configs along with their configurations and if you have more than one configured stuff scrolls off the screen.

[2015-04-21 19:38] pintman commented on #7747
It would be great to have such a feature. A feedback of the uploaded files would be a good decision. The upload of multiple files should be possible.

[2015-04-21 19:42] blizzz commented on #15767
random shot: cache? :)

[2015-04-21 19:45] sitcool opened #15790 "Blank screen while using "old" share link public.php"
Hello,

using my iOS own-cloud app i can send "share links" to friends easily . The app is using the "old" link with public.php.
When I open this public.php link I only see a blank screen.
Nothing in the error logs. If I record the SQL-request it stops at
[code]{"reqId":"6e5424df1154e95d16b1d0d694bf858c","remoteAddr":"XXX.XXX:XXX.XXX","app":"core","message":"DB prepare : SELECT `id` FROM `oc_jobs`

[2015-04-21 19:48] LukasReschke commented on #15790
Please post the complete link (without domain if you don't want to) as well as some more information such as which version you use, etc. – see https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

[2015-04-21 19:49] jnfrmarks commented on #15767
hmm could be - I did run files:cleanup before rerunning.

[2015-04-21 19:50] #15649 closed

[2015-04-21 19:55] derkostka opened #15791 "default_charset error in 8.1 and Master - isPhpCharSetUtf8 is missing in /lib/private/util.php"
Steps to reproduce

Between 8.0.3-rc3 and 8.1.0-alpha1 the operation isPhpCharSetUtf8 (and maybe even some     others) got lost.

As a result, the error "default_charset" is not UTF-8 appears again and again.

See: (search for isPhpCharSetUtf8)
https://github.com/owncloud/core/blob/master/lib/private/util.php
vs.
https://github.com/owncloud/core/blob/v8.0.3RC3/lib/private/util.php

Expected behavi

[2015-04-21 19:58] karlitschek commented on #15791
@LukasReschke what do you think? What is the 8.1 way to handle this?

[2015-04-21 20:00] LukasReschke commented on #15791
Where do you see this error? In 8.1 we should actually enforce UTF-8 as per https://github.com/owncloud/core/blob/9dc12d40d846d54e024812c2c23c402073f8dd03/lib/private/util.php#L676

[2015-04-21 20:02] derkostka commented on #15791
I´ve got this error in the occ as well as in cron.php and in the admin preferences. after manually copying the operation from 8.0.3 into 8.1 this error is gone. i´ve checked by php config, it definitly is UTF-8. please compare both files.

[2015-04-21 20:10] LukasReschke commented on #15791
What is the exact error message? – Are you sure you actually copied everything correct? The error message in the admin settings has been removed as of https://github.com/owncloud/core/commit/06cf93e6ee19ea5c710b029fd403af3c90529074

Alternatively a screenshot, without more information this is only pure guessing. Best is usually to fill out the issue template (https://github.com/owncloud/core/blob/

[2015-04-21 20:19] sitcool commented on #15790
The link is https://own.pelda.de/public.php?service=files&t=XAN9zq5qxNsWrvS

I'm using OC 8.0.2 (new installation didn't help)
The app version is 3.4.1
It's the same for IE as FF as Safari...

[2015-04-21 20:22] LukasReschke commented on #15790
Was this a 7.x install before? Please execute the following query on your database and report the result set back: `SELECT * from oc_appconfig where appid="core";`

[2015-04-21 20:26] derkostka commented on #15791
Well ..  now after my manual changes cron completed. Now,  the message is gone and does not return.

So the intention is to only throw this error once, when installing or upgrading to at least 8.1 right ?

php is configurfed properly:
![screen-capture](https://cloud.githubusercontent.com/assets/8389316/7261859/4547d964-e875-11e4-86ba-4a03526b876f.png)

[2015-04-21 20:30] binarykitchen opened #15792 "An exception occurred while executing 'SELECT ..."
The following explains all:

[code]

[2015-04-21 20:31] sitcool commented on #15790
Yes, it was 7.x before. But to fix the problem I finaly tried a new installation. Also new DB. But still the same Problem.
Thanks for your help!!

core,"global_cache_gc_lastrun","1429647591"
core,"installedat","1429645075.7484"
core,"lastcron","1429647606"
core,"lastupdateResult","{""version"":{},""versionstring"":{},""url"":{},""web"":{}}"
core,"lastupdatedat","1429647595"
core,"public_files","fi

[2015-04-21 20:32] jnfrmarks opened #15793 "Some apps are missing l10n directories"
### Steps to reproduce

1. Install 8.1 enterprise
2. Check for an l10n directory for each app

### Expected behaviour

All apps have an l10n directory

### Actual behaviour

The following apps do not have an l10n dir:

encyrption_dummy (maybe this doesn't need one)
files_locking
files_pdfviewer
files_videoviewer
provisioning_api
user_external

### Server configuration

Ubuntu 14.04
PHP 5.5.9
ownCl

[2015-04-21 20:35] LukasReschke commented on #15791
`isPhpCharSetUtf8` is unrelated to this error message, it does only read the value and does not set something etc. and again:

Can you quote the error message please?

These errors should appear and prevent usage of the ownCloud instance unless they are addressed. However, the results are cached in the session and thus we might need to verify if the cache is invalidated when we update the instance

[2015-04-21 20:38] karlitschek commented on #15793
yes. I think this apps don´t have any userinterface that needs translation. Can you confirm @DeepDiver1975 @jancborchardt  ?

[2015-04-21 20:39] LukasReschke commented on #15790
That actually looks good. When accessing `https://own.pelda.de/public.php?service=files` I see some errors, can you take a look at your ownCloud log in `data` and also the PHP log (usually in the apache error log) and report back if there is by chance something related to this?

[2015-04-21 20:39] karlitschek commented on #15792
"Server has gone away" means that you mysql daemon has crashed or was stopped manually. This is most likely not an ownCloud error.
Please check if mysqld is still running and check why it was stopped.

[2015-04-21 20:39] #15792 closed

[2015-04-21 20:56] sitcool commented on #15790
{"reqId":"4e8d5a8e877b7728afab2eaeaa4c2c2a","remoteAddr":"188.108.93.194","app":"remote","message":"Parameter \"token\" for route \"files_sharing.sharecontroller.showShare\" must match \"[^\/]++\" (\"\" given) to generate a corresponding URL.","level":4,"time":"2015-04-21T20:52:48+00:00"}

[2015-04-21 20:57] jnfrmarks opened #15794 "How does occ l10n:createjs work?"
### Steps to reproduce

1. Install 8.1 enterprise
2. Run the following occ command to get a translation file for an app:

sudo -u www-data php occ l10n:createjs

### Expected behaviour

I don't know - this command isn't documented and the usage doesn't help

### Actual behaviour

I tried a couple of things but don't really know what is expected:

[code]

I then create the missing l10n directory an

[2015-04-21 20:58] LukasReschke commented on #15790
Can you please try to apply the changes from https://github.com/owncloud/core/pull/14509 and report back if it still works? If not: Does the error look different now?

[2015-04-21 20:59] sitcool commented on #15790
I'm not sure where to find the php error log on my (hosted) server:-/

[2015-04-21 21:15] jnfrmarks opened #15795 "Rrunning occ upgrade on an up to date install returns with 3 and not 0"
### Steps to reproduce

1. Install 8.1 enterprise
2. Run the following occ command:

sudo -u www-data php occ upgrade

### Expected behaviour

The command should return with a 0

### Actual behaviour

The command returns with a 3

[code]

Why do we return an error here?

### Server configuration

Ubuntu 14.04
PHP 5.5.9
ownCloud Enterprise Edition 8.1 alpha 1 (daily) Build:2015-04-16T03:08:13+00:00

[2015-04-21 21:17] sitcool commented on #15790
Yes, it still "works" but blank screen again.
public.php looks now like this:
<?php

// This file is just used to redirect the legacy sharing URLs (< ownCloud 8) to the new ones

$urlGenerator = new \OC\URLGenerator(\OC::$server->getConfig());
$token = isset($_GET['t']) ? $_GET['t'] : '';
$route = isset($_GET['download']) ? 'files_sharing.sharecontroller.downloadShare' : 'files_sharing.sharecontro

[2015-04-21 21:25] derkostka commented on #15791
The error message was like that (im german, i did not take a screenshot): PHP setting "default_charset" is not set to "'UTF-8'".

i tried to update another clean instance of 8.0.3 to 8.1 and it works perfectly. Sorry i can´t rerproduce this.

Any idea how i could check for the actual php setting within owncloud ? Otherwise this ticket can be closed , again ...

[2015-04-21 21:26] karlitschek commented on #15795
@DeepDiver1975 do you know who did this feature?

[2015-04-21 21:27] karlitschek commented on #15794
@PVince81 @DeepDiver1975 can you clarify?

[2015-04-21 21:33] karlitschek commented on #15785
Yes is cached in the session. I don´t agree that is is a security issue because this is the same browser. Can be prevented by using a private browsing windows.

[2015-04-21 21:54] binarykitchen commented on #15792
Maybe. But I found this in the mysql error log:

[code]

[2015-04-21 22:02] DeepDiver1975 commented on #15794
I guess this needs some additional engineering work - will try to find the time.

Maybe we can even drop this command .....

[2015-04-21 22:04] DeepDiver1975 commented on #15795
The upgrade command defines its own exit codes - https://github.com/owncloud/core/blob/master/core/command/upgrade.php#L40

[2015-04-21 22:05] DeepDiver1975 commented on #15128
duplicate #15768

[2015-04-21 22:05] #15128 closed

[2015-04-21 22:10] binarykitchen commented on #15792
Will I have to do manual DB adjustments before I try the aboce `occ` command over again?

[2015-04-22 04:19] stonerl commented on #15780
@tflidd
I can reach other SSL-Sites on my server. Since I enforce SSL neither ownCloud nor any other site can be accessed without SSL. If I disable this then of course ownCloud would be accessible without SSL.

The only error I get from the Console, when the connection gets dropped is:
[code]

The problem is that I cannot reliably reproduce this error. Sometimes I can login 10 times without any pr

[2015-04-22 04:45] stonerl commented on #15780
This might be a Safari problem:

http://mandarapte.com/apple/fix-error-safari-cant-open-page-server-unexpectedly-dropped-connection-occurs-server-busy/

https://www.igorkromin.net/index.php/2014/11/27/how-to-fix-safari-cant-open-the-page-error/

But clearing the cookies and cache did not solve this for my it still happens randomly

[2015-04-22 05:06] stonerl commented on #15780
Just another update. When I disable forcessl in the ownCloud config and connect via plain http this error never appears. As soon as I turn on SSL the hick-ups start again.

Another project had this issue as well:
https://github.com/Eugeny/ajenti/issues/378#issuecomment-43982529

[2015-04-22 05:58] lnxbil commented on #15504
I retested it and it still does not work:
1) Add a user to an existing LDAP group (externally added not in OC) which already has shared stuff
2) Checking group membership in OC looks fine, user is member of group
3) Login user and there is nothing present besides an empty 'Shared'-Folder.

Maybe this is also related to the remapped Shared-Folder? There were some problems with this in the past, yet

[2015-04-22 06:19] RealRancor commented on #15792
Hi,

both tables "users" and "plugins" are not tables of ownCloud so there is probably nothing to do here from OC side.

The message "mysql server is gone away" and a possible solution is described here:

https://doc.owncloud.org/server/8.0/admin_manual/issues/index.html#common-problems-error-messages

[2015-04-22 06:45] cdamken commented on #15783
@nickvergessen in oC6 the modification was in  ```/core/l10n/de_CH.php```

It's different in every version?

[2015-04-22 06:49] caratsch commented on #15783
@nickvergessen I did the modifications in de.php, de_DE.php and de_CH.php and it worked there (oC 6). Now in oC 7 I do the same modifications, but it's not working for me. The subject is always the 'default' one. I also don't find these lines in the original php-files (the default translation).

[2015-04-22 07:18] DeepDiver1975 commented on #15783
in core/l10n or in lib/l10n ??

As pointed out by @nickvergessen the translation is in here https://github.com/owncloud/core/blob/stable7/lib/l10n/de.php#L56

[2015-04-22 07:39] PVince81 commented on #15504
If we assume that the upgrade went properly, at update time the shares will all receive the "/Shared" prefix in files_target. However users are then free to move the received shared folders out of this one, which would then change the files_target path and remove the prefix. So it is not necessarily an issue.

Can you try and find the share entries matching the specific share you were using in you

[2015-04-22 07:46] jancborchardt commented on #15793
Yeah, them having no l10n directories is not an issue. It would be an issue if there would be untranslated words.

[2015-04-22 07:46] #15793 closed

[2015-04-22 07:46] PVince81 commented on #15297
@jancborchardt design-wise, what happened to the list of non-local results ?
In the past the results were showing in a dropdown under the search field and contained local and non-local results. Then the result list was moved to be embedded in the file list.

Does it mean that search is now restricted to the current view and should not show results from other apps like calendar/contacts ?

[2015-04-22 07:56] PVince81 commented on #13518
Please try again with 7.0.5, there was a fix related to reshares: https://github.com/owncloud/core/issues/10299

[2015-04-22 07:57] PVince81 commented on #14933
Closing in favor of https://github.com/owncloud/core/issues/15771 which provides a fix

[2015-04-22 07:57] #14933 closed

[2015-04-22 07:58] PVince81 commented on #15771
PR for the permissions issue: https://github.com/owncloud/core/pull/15772

[2015-04-22 08:23] caratsch commented on #15783
@DeepDiver1975 I did the modifications in core/l10. Doing them in lib/l10n works for the subject.
Thank you very much for your help!

[2015-04-22 08:23] rullzer commented on #15777
Yes #14987 should have fixed this stuff.
Let me look into this later.

[2015-04-22 08:23] PeterPablo commented on #15726
I just wanted to note that I am seeing the same error as @mmattel and may be the same as described in issue https://github.com/owncloud/core/issues/9351:
[code]

Accompanied by many
[code]
like described in [here](https://github.com/owncloud/core/issues/12591#issuecomment-66912746).

### Server configuration
**Operating system**:
Raspbian
Linux rpi 3.18.7+ #755 PREEMPT Thu Feb 12 17:14:31 GMT 2015

[2015-04-22 08:26] PeterPablo commented on #12897
May be is #15726 related?

[2015-04-22 08:27] cdamken commented on #15783
## Thanks guys!

[2015-04-22 08:27] #15783 closed

[2015-04-22 08:37] emitac commented on #15571
Hello,

I checked the .htaccess, config.php, httpd.conf and php.ini
I did not found any that could be responsible for that behavior with the F5 and leave site Message.
If You can give me an emailadress i sent you the files, so maybe You see more than me.
Do You have any other ideas what could be the problem?

Thanks in advance
Yours, Erik

[2015-04-22 08:37] #15571 closed

[2015-04-22 08:42] PVince81 commented on #15758
Similar to https://github.com/owncloud/core/issues/15202 but with different steps

[2015-04-22 08:45] issamo12 commented on #13801
I was looking for this comment for so long, thank you, i'm looking forward OC 8.1 now

[2015-04-22 08:46] PVince81 commented on #15202
I think it's not an etag propagation error. Rereading the report tells that the download itself doesn't work. It's not about sync client detecting changes, but direct download.

[2015-04-22 08:50] PVince81 commented on #15202
@enoch85 I'll assume that the first link share in your steps has "allow editing" set, else the recipient wouldn't be able to upload there.

[2015-04-22 08:55] MorrisJobke commented on #15678
I thought @blizzz already answered this. But this is the only issue with this error message.

Can we do anything against this message? Looks like the connection to the LDAP server is somehow instable.

[2015-04-22 08:57] cdamken commented on #15678
@MorrisJobke @blizzz I suppose yes, I have another issue that must be related with this: https://github.com/owncloud/client/issues/2848

[2015-04-22 09:07] blizzz commented on #15678
@cdamken can you confirm they have a proxy or load balancer instead of talking directly to one LDAP?

[2015-04-22 09:10] jvillafanez opened #15796 "occ ldap:search with a limit = 0 only shows the first 5 users in the LDAP server"
### Steps to reproduce
1. Setup a LDAP with several users and connect it to OC (checked with openLDAP)
2. Use `./occ ldap:search --limit=0 ''`
### Expected behaviour

All users in the LDAP server are shown.
### Actual behaviour

Only the first 5 users are shown
### Server configuration

**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

**Database:** mysql

**PHP version:** 5.5.4

*

[2015-04-22 09:11] jvillafanez commented on #15796
@blizzz

[2015-04-22 09:12] cyking commented on #14187
@fiatux Yes, for me this PPA works fine.  "He is one of the Debian maintainers of the php5 package."

[2015-04-22 09:12] MorrisJobke commented on #15283
Ref #Can't contact LDAP server code -1

[2015-04-22 09:13] MorrisJobke commented on #15283
Ref #15459

[2015-04-22 09:13] DeepDiver1975 commented on #15726
This issue was fixed in 8.0.3 - planned release date: beginning of next week

[2015-04-22 09:16] PeterPablo commented on #15726
Thank you! I am following the development, but did not notice that.

[2015-04-22 09:17] MorrisJobke commented on #14930
What does "shares page" means? In the view "shared by you" or "shared with you" there is now favorite icon.

[2015-04-22 09:23] schiesbn commented on #15645
fixed on master

[2015-04-22 09:23] #15645 closed

[2015-04-22 09:24] PVince81 commented on #15202
These are my steps:
1. Login as "root" on ownCloud A
2. Create a folder "fold"
3. Share "fold" with link and allow editing
4. Log out
5. Open the link
6. Click "Add to ownCloud" and enter the URL to ownCloud B
7. Login as "root" in ownCloud B
8. Accept the incoming share
9. Upload a picture "test.jpg" into "fold"
10. Share "test.jpg" with link
11. Log out
12. Open the last link
13. Click "Download

[2015-04-22 09:25] MorrisJobke commented on #13957
I would say this is the same stuff we experienced and fixed with #15332. The symptoms looks similiar.

[2015-04-22 09:26] PVince81 commented on #15202
@enoch85 doesn't downloading the file from ownCloud B works with the regular web UI (not the share link) ?

Note: I used v8.0.2 for both test instances

[2015-04-22 09:27] schiesbn commented on #15688
fixed in master

[2015-04-22 09:27] #15688 closed

[2015-04-22 09:30] binarykitchen commented on #15792
Okay, I have increased `wait_timeout` and `max_allowed_packet` and will give `occ` another try.

But really, do you have somewhere a recommendation what MySQL config to use? What are the optimal parameters for these two config variables? Shouldn't owncloud make recommendations for these?

[2015-04-22 09:32] schiesbn commented on #15631
Just tried it again on master and still can't reproduce it. We merged a lot of bug fixes in the meantime. So I assume that it is fixed if noone can reproduce it any longer.

[2015-04-22 09:32] #15631 closed

[2015-04-22 09:32] PVince81 commented on #15758
I followed your steps and was able to reproduce this issue between two v8.0.3 instances.

[2015-04-22 09:32] #15580 closed

[2015-04-22 09:32] PVince81 commented on #15202
@enoch85 maybe you got the steps wrong ? There's another similar case but where the sharing chain is done differently, and I'm able to reproduce that one: https://github.com/owncloud/core/issues/15758

The issue is also a broken download link.

[2015-04-22 09:34] PVince81 commented on #15758
I'm getting different errors in the logs though:
This is the owncloud.log of ownCloud2:
[code]

And the one from ownCloud 1:
[code]

I'll try and debug a bit.

[2015-04-22 09:35] blizzz commented on #15796
5 is an odd number. what if you set the limit to 12, will you get 12 or 5?

[2015-04-22 09:38] schiesbn commented on #15578
can't reproduce it any longer in master. Probably fixed by the #13360 or one of the other encryption fixes

[2015-04-22 09:38] #15578 closed

[2015-04-22 09:41] PVince81 commented on #15758
Looks like fopen() of the file failed on ownCloud1. Digging further...

[2015-04-22 09:50] RealRancor commented on #15792
Hi,

don't think that it is possible to give recommendations here as this heavily depends on your environment.

[2015-04-22 09:51] pierrejochem commented on #14702
Yes, sure, when is the release date (approximate)?

[2015-04-22 09:53] binarykitchen commented on #15792
@RealRancor yeah, sure, respect that. But for example on Ubuntu 14.10, owncloud with tons of photos, music files, documents and so on ... what would the recommended MySQL config look like?

[2015-04-22 09:58] directict opened #15798 "Folderlink missing after un-sharing folder (SMB)"
Dear,

when un-sharing an SMB folder who is mounted on owncloud server (the folder becomes unavailable for the users ofcourse and local data is removed from the client, that is OK)
but when enabling the share again, the Folderlinks made on that specific share are gone...

is this expected behaviour?

i am currently testing what happends when you reboot the file server hosting the SMB shares...

UP

[2015-04-22 10:06] RealRancor commented on #15792
There still can't be a recommended config for this.

[2015-04-22 10:12] jvillafanez commented on #15796
the limit seems to work fine for the rest of cases

[2015-04-22 10:31] MorrisJobke commented on #14702
roughly in the beginning of June

[2015-04-22 10:40] jvillafanez commented on #14248
Still happening in 8.1 alpha 1

[2015-04-22 10:43] iamkhris commented on #15785
I respectfully disagree that with your assertion that it's not a security issue, it is. Forcing someone to use a private browsing window, or to clear their browser cookies in order to prevent the link from opening again without using the password is absolutely a security, as well as a usability issue.  Anytime information is shared via ownCloud that can be accessed by someone without having to ent

[2015-04-22 10:47] LukasReschke commented on #15785
This is an hardening issue and not an immediate security threat for our threat modell. That said, this behaviour will be changed with 8.2

Duplicate of https://github.com/owncloud/core/issues/11581

[2015-04-22 10:47] #15785 closed

[2015-04-22 10:58] remixtj opened #15800 "External storage: when admin makes available for an user from LDAP the user badge is not shown when returning to admin page"
### Steps to reproduce
1. Create new external storage in admin pageand make it available to an user from  LDAP selecting from dropdown
2. Exit the admin page and then return
3. The "available for" field is empty. If you search the user you previously added is no more available on the list

Repeat the same with a local user and the problem doesn't exist. The users gets the correct external storage

[2015-04-22 10:58] donniezazen opened #15801 "Share menu of items in the bottom of the list is not visible"
When sharing a item in the bottom of the list the share menu opens itself below it which is not accessible. Please see the screenshot.

![snapshot47](https://cloud.githubusercontent.com/assets/841656/7272850/b7686108-e90b-11e4-9a8b-020112c081a1.png)

[2015-04-22 11:00] PVince81 commented on #15800
CC @Xenopathic

[2015-04-22 11:00] jvillafanez commented on #14250
This is still happening in OC 8.1 alpha 1

[2015-04-22 11:16] oparoz commented on #12494
I think it's fine at the top. The mouse cursor will probably come from the top.

[2015-04-22 11:19] oparoz commented on #15177
Regarding the width of the Files app, I've been using large screens for a long time and I think it's a non issue as you will almost never let the browser fill the entire screen. Most sites will have lots of dead space or be unusable at full width. It's much more comfortable to have one window in portrait mode filling half the screen.

[2015-04-22 11:26] PVince81 opened #15802 "cleanFolder does a PROPFIND on every file in S2S case"
I noticed on 7.0.5 that whenever you mount a remote share, the update detection will not only call shareinfo.php but also call cleanFolder(), which will itself call file_exists() on every file inside the folder, which itself calls PROPFIND on the remote files.

Originally this was intended to detect whether files inside the remote share folder were deleted.
We should already have that information

[2015-04-22 11:27] PVince81 commented on #15802
Setting to 8.1 in case there is time left, else 8.2. (it doesn't break functionality, just makes S2S slow)

CC @DeepDiver1975

[2015-04-22 11:31] LukeHamer opened #15803 "OwnCloud Setup NAS"
Hi Guys

We have version 6 and 7 of OwnCloud on our system but we would like to setup a sync to a NAS device similar to the client, does anyone have any recommendations to which NAS we could use this is compatible with this.

Cheers
Luke

[2015-04-22 11:36] jancborchardt commented on #15172
@schiesbn @MorrisJobke can one of you make the delete icon show up, and give it a class like »no-permission«?

[2015-04-22 11:37] jancborchardt commented on #14569
Was this fixed meanwhile? @DeepDiver1975 @MorrisJobke @PVince81 what’s the call?

[2015-04-22 11:38] jancborchardt commented on #8231
@rullzer any love for the first issue as well? ;)

[2015-04-22 11:40] jancborchardt commented on #14142
@Kondou-ger @MorrisJobke any news here? Would be cool to fix this for 8.1

[2015-04-22 11:40] pierrejochem commented on #14702
Okay, thank you and I will give feedback after it is installed.

[2015-04-22 11:41] jancborchardt commented on #15552
This is a bigger one … definitely only for 8.2 cc @butonic

[2015-04-22 11:45] RealRancor commented on #15803
Hi,

this is an issue tracker to report bugs or feature requests for ownCloud. Such questions related how and where to run ownCloud should be asked at the forums or the users mailinglist.

[2015-04-22 11:47] cdamken commented on #15678
@blizzz We have installed both a load balanced LDAP server and a backup server as well. (As @felixboehm would have knows). The load balanced LDAP caused all the problems we had in the first place, so it has been replaced with a  direct connection to the primary LDAP and heavy caching to keep the load the LDAP server in acceptable limits.

[2015-04-22 11:51] jnfrmarks commented on #15794
What's the intent of the command?  That may help us figure out if we can drop the command.

[2015-04-22 11:52] #15803 closed

[2015-04-22 11:57] binarykitchen commented on #15792
was soll ich da sagen? ... if you care about that cool product "owncloud" you guys are producing with hard effort and love as well i guess, then there is sure a heart to make sure users - that's admins and developers like me included - get on well with owncloud.

all i am saying, it would be nice do have an optimal mysql settings documented somewhere for each major distribution/environment. just g

[2015-04-22 12:00] jvillafanez opened #15804 "php fatal error trying to delete a LDAP user"
### Steps to reproduce
1. Setup a LDAP server and configure it in OC
2. Login in OC with any of the LDAP users. This will create the user data folder in OC (you can upload some files)
3. Disconnect the LDAP server (or set the configuration inactive in the LDAP wizard)
4. Run `./occ user:delete <userID>` (you can check the userID in the data folder)

### Expected behaviour
The user data is deleted

[2015-04-22 12:00] jancborchardt commented on #15801
Thank you for the design issue report! :) Fix is at https://github.com/owncloud/core/pull/15805, please review.

[2015-04-22 12:05] jancborchardt opened #15806 "Apps menu loading spinner does not show up anymore for just installed apps"
1. Go to the apps management
2. Install a new app
3. Open the apps menu and click that app

Expected:
A spinner shows over the app just like it does when you click other apps.

What actually happens:
The app icon only vanishes but no spinner shows.

cc @PVince81 @MorrisJobke @owncloud/designers this worked before but somewhere along the way it must’ve broke.

[2015-04-22 12:12] MorrisJobke commented on #15781
@nickvergessen Can you retest `shareFile.py`? #15786 was merged.

[2015-04-22 12:14] Xenopathic commented on #12494
Likewise - I personally prefer it at the top instead of in the centre of the screen. Makes it look more 'minimalistic' somehow

[2015-04-22 12:24] LukasReschke commented on #12494
Let's close this then :)

[2015-04-22 12:24] #12494 closed

[2015-04-22 12:28] karlitschek commented on #15804
@blizzz

[2015-04-22 12:30] rullzer commented on #8231
@jancborchardt not plannend currently. Since the code where the php results is not unit testable. Probably would be best to tackle this once the we get the new sharing modal. Since a lot of corner cases have to be covered.

A quick fix might be to make sure the javascript filters out the user. Let me see what I can do there.

[2015-04-22 12:31] jancborchardt commented on #13161
@PVince81 8.1 or 8.2?

[2015-04-22 12:50] jvillafanez opened #15807 "changing the LDAP host in the wizard to a missing one takes a long time before the wizard set it as invalid configuration"
### Steps to reproduce
1. Set up a valid LDAP configuration (the wizard configuration status should be ok)
2. Change the host of the LDAP server in the configuration to a missing one
### Expected behaviour

There is some kind of activity while the wizard set the configuration as invalid
### Actual behaviour

The wizard doesn't show activity until it set the configuration as invalid. If this takes

[2015-04-22 12:51] MorrisJobke commented on #15806
I just tried and it never worked with the newly added icon. I will nevertheless have a look.

[2015-04-22 12:58] jancborchardt commented on #15806
Really …? I’m pretty sure @PVince81 and I specifically fixed it when working on the apps dropdown back for ownCloud 7. Anyway, thank you!

[2015-04-22 13:10] vikasnagare opened #15808 "User provisioning api for create user on owncloud not working."
User provisioning api for owncloud unable to create user while delete user, search user list user working properly.

[2015-04-22 13:13] DeepDiver1975 commented on #15804
is_null check is missing - can happen with any backend - not ldap related
https://github.com/owncloud/core/blob/master/core/command/user/delete.php#L54

@nickvergessen @MorrisJobke PR please - THX

[2015-04-22 13:13] DeepDiver1975 commented on #15804
with unit tests :speak_no_evil:

[2015-04-22 13:15] oparoz opened #15810 "Multi-tenancy support"
Multi-tenancy support would be great for web hosting companies.
* Single global configuration file for items such as previews
* multiple domain names per account
* Mounting /home/user/cloud as the home directory
* Each domain owner is a sub-admin
* Federated clouds coming from the same instance would be much faster
* etc

[2015-04-22 13:33] DeepDiver1975 commented on #15810
From my understanding there are mechanisms to do this as of today - @Gomez might give some insights in the setup of https://portknox.net/de

[2015-04-22 13:35] canepan commented on #13518
Thnank you.
I'm checking it.
The upgrade procedure has a glitch: {version} appears instead of the
correct version (see screenshot).

Nicola

2015-04-22 9:56 GMT+02:00 Vincent Petry <notifications@github.com>:

--
http://canne.homeunix.net

[2015-04-22 13:37] PVince81 commented on #13518
The glitch was fixed in OC 8

[2015-04-22 13:43] canepan commented on #13518
Sorry: it only happens with OC 7.0.2: upgrading from 7.0.4 displays
correctly

Nicola

2015-04-22 15:37 GMT+02:00 Vincent Petry <notifications@github.com>:

--
http://canne.homeunix.net

[2015-04-22 13:44] oparoz commented on #15810
One things that seem to be missing to do this right is for an admin to be able pick a theme based on the domain.
Another is to be able to assign a mount configuration at user creation time, but I guess instructions could be given so that the admin can mount his user space himslef.

[2015-04-22 13:49] karlitschek commented on #15808
can you post a full bug report using the issue template please? https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

[2015-04-22 13:59] milprog commented on #14930
sorry, i mean the "all files" tab. Left to each folder, a grey star appears on mouseover that turns to yellow when clicked, but the favorite does not "move" to the favorites folder.

[2015-04-22 14:01] PVince81 commented on #15798
I'd say it is expected behavior that if you unmount an external storage, all links associated with it are gone.

But in your case you seem to be talking about temporarily shutting down the storage ?
Currently this isn't properly supported, but would be good to have a way to temporarily disable an unavailable storage without losing any cache/share info, see: https://github.com/owncloud/core/issues/

[2015-04-22 14:04] #15778 closed

[2015-04-22 14:13] nickvergessen opened #15812 "Share dialog password field hidden when enabled"
### Steps to reproduce

1. Open the dialog
2. Share with Link
3. Check password box
4. Set password
5. Uncheck the link option
6. Share with link again

### Expected

The password field is either checked or collapsed

### Actual

The box is checked, but the password field is collapsed, so in order to enter a password you need to disable the password option… wait woot? :trollface:

[2015-04-22 14:18] milprog commented on #14930
@MorrisJobke : can you post your apache virtualhost settings? Here are mine - i know this is perhaps more complicated than it should be :

     <VirtualHost *:443>
     <IfModule proxy_module>
      ProxyPassMatch ^/(.*\.php(/.*)?)$ fcgi://127.0.0.1:9000/var/www/html/owncloud/$1
      SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
     </IfModule>

     DirectoryIndex index.php
     SSLEngine

[2015-04-22 14:22] directict commented on #15798
Dear Vincent,

thanks for the reply, well yes, i am not un-mounting the shares in owncloud, i meant un-sharing on the NAS/Windows FileServer (same as shutting down the device, the share becomes unavailable) . Owncloud gives the RED status and the share is gone for the users meaning the file links are gone also, so now when we reboot our storage or have maintenance we have to shutdown Owncloud as w

[2015-04-22 14:27] PVince81 opened #15813 "Etag change on unshare misses the first parent folder etag"
### Steps
Setup here: https://github.com/owncloud/core/pull/14764#issuecomment-91272178

Basically, share a folder with several users and put the folders in "sub1/sub2" subfolders for EVERY user. Then unshare as owner and check etag changes.

### Expected result
Etag changes for all users except owner, including the parent folders of every user ("sub1" and "sub2")

### Actual result
The etag does

[2015-04-22 14:28] PVince81 commented on #15813
Let me have a look at this one, I know you're quite busy already :smile:

[2015-04-22 14:36] cdamken commented on #15139
@PVince81 Thanks

[2015-04-22 14:38] RealRancor commented on #15792
Hi,

i don't produce anything as i'm just a user as you are. :wink:

But you just can't expect a "killer" MySQL config which runs perfect on every single system out there and performances as best as possible. This just doesn't exist and needs to be created for your specific system.

In general you can get some basic infos for MySQL tuning here:

https://doc.owncloud.org/server/8.0/admin_manual/con

[2015-04-22 14:53] remixtj commented on #15800
This is the backtrace
[code]

Seems that calls only the getDisplayNames from database, and not from app_ldap

[2015-04-22 15:02] remixtj commented on #15800
Problem is on lib/private/user/manager.php, line 215, in
[code]
Seems that the returned value for

[code]
for LDAP call is not an array.

[2015-04-22 15:06] PVince81 commented on #15813
Found it, the post unshare hook is calling `dirname()` on the path before passing it to `correctFolders()` which also calls `dirname()`. Will submit a PR.

[2015-04-22 15:10] Xenopathic commented on #15798
Ah, so on storage backend failure all shares are lost? This seems bad... we definitely need to make failure handling (and by extension, exception handling) a priority for oC 8.2.

[2015-04-22 15:25] jvillafanez commented on #13562
It's still reproducible in 8.1 alpha 1

I don't think you need to click twice, but wait a bit of time

![screenshot from 2015-04-22 16 58 09](https://cloud.githubusercontent.com/assets/1477829/7278224/529329e4-e914-11e4-9b9e-05c5396a0eae.png)

[2015-04-22 15:32] jvillafanez commented on #14164
Still reproducible in 8.1 alpha 1

[2015-04-22 15:38] directict commented on #15798
Yes indeed Xenopathic, imagine a file server outage during night... all clients will drop data and all folder links missing.. this would be a disaster, my colleague is making a temp work-around with a script that will shutdown the owncloud server as soon as the SMB mount becomes unavailable.

(btw, how often does Owncloud checks the shares? only when you are in the admin page, or is it the same wh

[2015-04-22 16:04] PVince81 commented on #15800
@blizzz

Not sure if this changed recently ?

[2015-04-22 16:07] PVince81 commented on #15813
PR here: https://github.com/owncloud/core/pull/15815

[2015-04-22 16:33] blizzz commented on #15800
No, there were no changes. They used to be an issue though with files_external. Maybe upgrading to 7.0.5 helps? Should be done anyway.

[2015-04-22 16:34] jvillafanez opened #15816 "Cannot login with a "person" objectClass with LDAP"
### Steps to reproduce
1. Consider the following LDAP entry:
   `
   # 007_person, people, owncloudqa2.com
   dn: cn=007,ou=people,dc=owncloudqa2,dc=com
   objectClass: person
   cn: 007
   sn: person
   userPassword:: e1NTSEF9YWppZkFtckxIeExvcm0yOUdoWHBmYzdkU3Zpa2VzS2Q=
   `
2. In the LDAP wizard, set the user filter to `(|(objectclass=person))`
3. In the LDAP wizard, set the login filter with us

[2015-04-22 16:35] jvillafanez commented on #15816
@blizzz

[2015-04-22 16:40] blizzz commented on #15816
@jvillafanez the attribute displayname belongs to the scheme inetOrgPerson. If the the user does not have inetOrgPerson as objectclass, attempting to add displayname will always fail. In that case you either make it an inetOrgPerson, too, or you change the displayname attribute in the LDAP settings to something different, for instance "cn".

[2015-04-22 16:41] PVince81 commented on #15758
This PR should fix it: https://github.com/owncloud/core/issues/15814

[2015-04-22 16:45] PVince81 commented on #15600
Your new approach for the read-only wrapper here https://github.com/owncloud/core/pull/15814 fixes the problem :smile:

[2015-04-22 17:01] PVince81 commented on #14754
How to move forward ? Defer to 8.2 ?

I'll repeat my suggestion: only disable third party apps for major upgrades. Starting with 8.0 it means upgrading from 8.0->8.1->8.2. That path would disable third party apps, because of possible architectural changes that might or might not break apps.
For paths like 8.0.1->8.0.2, keep the third party apps enabled.

I think it could be a good compromise until

[2015-04-22 17:05] jvillafanez commented on #15816
@blizzz From an UX perspective, I would remove the options to set the person or organizationalPerson from the select, and stick only with the inetOrgPerson.

A standard admin would go for a quick setup without touching the advanced section neither the expert section. If the admin sets the person objectClass he'll likely have similar issues, and he'll need some extra configuration.

From the 2 solu

[2015-04-22 17:25] jancborchardt commented on #13562
@raghunayyar @blizzz can you look into this? Thanks!

[2015-04-22 17:53] zubanst commented on #15768
I wonder how could this be so difficult to fix and got a late milestone as this was working in 7.0.4.

[2015-04-22 17:58] DeepDiver1975 commented on #15768
Feel free to digg into the code and find out how to make it work. Pull requests are welcome anytime. Thx for your support.

[2015-04-22 17:58] DeepDiver1975 commented on #15768
Feel free to digg into the code and find out how to make it work. Pull requests are welcome anytime. Thx for your support.

[2015-04-22 18:03] Enoch247 commented on #13391
I have also encountered this. on a fresh 8.0.2 (stable) installation I shared a folder from UserA to UserB. I logged in as UserB and renamed the shared folder. The spiny wheel spun indefinitely. after a few minutes, I refreshed the page, at which point the web UI showed the folder as gone from both user's accounts. The folder did however still exist on the servers filesystem. log file can be found

[2015-04-22 18:19] RealRancor commented on #15792
Btw. just an info to the two settings ```wait_timeout``` and ```max_allowed_packet```:

Both defaults for those values can be found here:

https://dev.mysql.com/doc/refman/5.6/en/server-system-variables.html#sysvar_max_allowed_packet
https://dev.mysql.com/doc/refman/5.6/en/server-system-variables.html#sysvar_wait_timeout

Try to raise those step by step until you don't get the message anymore. The

[2015-04-22 18:24] blizzz commented on #15816
inetOrgPerson is not necessarily available, but we might actually pick it, if available and returning users. @bboule @MTRichards do you think this would be useful?

The displayname is supposed to be detected (either displayname, otherwise cn), but it does not take into account possibly chosen objectclasses. This is to be improved.

[2015-04-22 18:42] rullzer commented on #15749
Sure those sounds sensible enough ;)

[2015-04-22 18:51] blizzz commented on #13562
The first attempt returns forbidden. @LukasReschke ?

[2015-04-22 19:08] blizzz commented on #15678
So, the reason for the message is that connections to LDAP get lost. With https://github.com/owncloud/core/pull/15332 we will throw an Exception instead, as it can have other side effects as well.

[2015-04-22 19:16] #15795 closed

[2015-04-22 19:27] remixtj commented on #15800
Found that LDAP informations are always returned as empty array. Following the code i found that is reading informations from cache. On cache i found a file called LDAP-user_ldap--3e046f509775cc981844f32f766551dc that contains this content (after base64 decoding)

[code]

[2015-04-22 19:38] ryno83 commented on #15656
Probably not the best way to do it, but here's what I did to solve the problem:

on the file apps/user_ldap/userldap.php at line 175 :
[code]

On the file apps/user_ldap/lib/access.php I have modified the line 167 for this :
[code]

Now, deleted ldap users from my AD group are shown in the remnants and can be fully deleted with "occ user:delete username".

[2015-04-22 19:57] remixtj commented on #15800
I deleted that file and re-executed the code. The file gets newly created and has the same empty value content.

[2015-04-22 20:06] jnfrmarks opened #15818 "admin should not be able to select ldap groups for users"
### Steps to reproduce

1. Install 8.1 enterprise
2. Configure LDAP
3. Navigate to the admin page
4. Click on the groups drop down for the admin user (or any local user)
5. Select the ldap group configured in 2 above

### Expected behaviour

The group should be greyed out

### Actual behaviour

The admin can select the group but when the page is refreshed or the user goes to their personal page, t

[2015-04-22 20:13] jnfrmarks opened #15819 "Long group names should be displayed when moused-over"
### Steps to reproduce

1. Install 8.1 enterprise
2. Navigate to the admin page
3. Create a group with a really long name
4. Put the admin user in the group
5. Mouse over the admin's groups

### Expected behaviour

The full group name should be displayed on mouse-over

### Actual behaviour

The user only sees the truncated name with elipses:

![p326](https://cloud.githubusercontent.com/assets/8480

[2015-04-22 20:18] jnfrmarks opened #15820 "Varying width for group dropdown and mouse overs on longer names"
### Steps to reproduce

1. Install 8.1 enterprise
2. Navigate to the admin page
3. Create a group with a really long name
4. Select the group drop down for a user

### Expected behaviour

The full group name should show up on mouse over or the box should be large enough

### Actual behaviour

The width of the drop down depends on the selected group and anything larger than the selected group is ch

[2015-04-22 20:23] jnfrmarks opened #15821 "Groups are disappearing and reappearing from the UI"
### Steps to reproduce

1. Install 8.1
2. enable encryption
3. Navigate to the admin page
4. Create a group with a really long name
5. Select the group drop down for a user
6. Muck around with the dropdown, adding and removing users from the groups
7. The group mysteriously disappears
8. Add another group
9. Refresh the page
10. The group mysteriously reappears

### Expected behaviour

The groups

[2015-04-22 20:25] sitcool commented on #15790
Any idea how to fix the problem?

[2015-04-22 21:36] karlitschek commented on #15818
@blizzz What do you think?

[2015-04-22 21:44] MorrisJobke commented on #14569
No.

[2015-04-22 21:53] #15801 closed

[2015-04-22 22:00] MorrisJobke commented on #15678
@cdamken Just for your info: The fix is already in the code base for 8.1 and 7.0.6 and a proposed PR is ready for review for the 8.0.4 release

[2015-04-22 22:18] #15368 closed

[2015-04-22 22:25] MorrisJobke commented on #15818
Should groups be restricted to a backend?

[2015-04-23 01:02] VirtualWolf commented on #14510
Just another data point, I'm seeing the same issue ("No basic authentication headers were found") and it's resulting in the same behaviour (unable to update or edit contacts in Address Book in Mac OS X or iOS).

OwnCloud 8.0.2 on CentOS 7, PostgreSQL 9.2.10, Apache 2.4.6, PHP 5.4.16.

[2015-04-23 05:46] vikasnagare commented on #15808
I'm executing this api using rest api tool in google crome.

### Steps to reproduce
1. http://192.168.9.112/owncloud/ocs/v1.php/cloud/users
2. passing userid and password using post request
3. sending request
4. authenticate user

### Expected behaviour
It should create user with userid and password

### Actual behaviour
Tell us what happens instead

### Server configuration
**Operating system**:

[2015-04-23 06:18] bremensaki commented on #9893
I encountered this issue when upgrading a system from OC6 to OC8, and think I've noticed a few things that might be relevant.

I combined the upgrade with a server move, so I used mysqldump to bring my DB over from one server to the new one. My dump file looked a lot like https://github.com/owncloud/core/issues/9893#issuecomment-51465624 at this point, two UNIQUE KEY entries and no PRIMARY KEY.

B

[2015-04-23 07:05] nickvergessen commented on #15820
Related #15819

[2015-04-23 08:01] Gomez commented on #15810
Nearly all portknox.net clouds are separated/dedicated installation. I use common linux tools to do this. The config is autogenerated and can be updated on all clouds. Works good, but always room for improvement/new ways.
Happy to show more insights if some1 is interested.

@oparoz You looked at the autoconfig.php? Should be possible to extend it to add theme/domain/mount logik.

[2015-04-23 08:01] remixtj commented on #15800
Found out why the file is created empty. First of all getDisplayNames from user_ldap calls getUsers. getUsers, in turn, reads from another cache file, that contained the empty value. Deleting also this one i found the root problem. This is the applied search filter on LDAP:
[code]

which is obviously wrong because that is my GUID, not my displayname

[2015-04-23 08:11] nickvergessen commented on #15786
Ah, so this should be a cross storage move/copy, but isn't dealt like one

[2015-04-23 08:15] remixtj commented on #15800
The culprit is
[code]

from getUsers

[2015-04-23 08:50] MatteoMora commented on #13761
Still open?

[2015-04-23 08:55] nickvergessen commented on #15781
Still fails with
[code]

[2015-04-23 08:57] DeepDiver1975 commented on #15808
see how it is done using curl:

[code]

[2015-04-23 08:58] DeepDiver1975 commented on #15808
works as designed -> close

[2015-04-23 08:58] #15808 closed

[2015-04-23 09:00] DeepDiver1975 commented on #14510
There is nothing wrong in logging these exception -> close

For all of you who have explicit error scenarios - please open issues in the corresponding repos - THX a alot

[2015-04-23 09:00] #14510 closed

[2015-04-23 09:01] DeepDiver1975 commented on #15678
We can close this issue from my understanding - the error message itself are valid and a fix for the explicit error condition is in place.

[2015-04-23 09:01] #15678 closed

[2015-04-23 09:08] DeepDiver1975 commented on #15749
Not that of a problem from my understanding - worst case the unexpected exception will be cought top level in e.g. index.php as a general PHP Exception.

[2015-04-23 09:11] DeepDiver1975 commented on #15749
well - having 200 exception in one namespace doesn't really make things easier.
I prefer to have exceptions living in the namespace they belong to.

e.g. all our webdav related exception live in one place: https://github.com/owncloud/core/tree/master/lib/private/connector/sabre/exception

Moving them to a more global place has no value - it might even cause some damage because they are of no relev

[2015-04-23 09:16] schiesbn commented on #15640
It looks like the sorting of the storage wrappers doesn't work as expected. The trashbin has priority 1 and the encryption wrapper priority 2. So the trashbin should always come first, but when I debug this issue it the encryption wrapper will be called first on delete.

I'm not sure if I understand the storage wrapping process correctly. But it seems like the problem is this method: https://githu

[2015-04-23 09:17] nickvergessen commented on #15749
I agree here, it's just like with all the interfaces we have in `OCP\I*` instead of having them organized in a somewhat clear way (folders per topic like they are in `lib/private/`: group, user, ...)

[2015-04-23 09:20] DeepDiver1975 commented on #15749
yes - this is the lesson we did learn ....

[2015-04-23 09:22] DeepDiver1975 commented on #15781
@jnfrmarks @nickvergessen @PVince81 can you please digg into this and find out what's going wrong here? THX

[2015-04-23 09:26] DeepDiver1975 commented on #15656
@blizzz  can you please have a look? THX

[2015-04-23 09:27] PVince81 opened #15822 "[enc2] No error message for wrong recovery password in users page"
### Steps
1. Enable encryption + default module
2. As "root" (the admin) add a recovery password "recovery" in the admin page
3. Create a user "user1" with the password "test"
4. Login as "user1"
5. Upload a file
6. Login as "root"
7. Go to the users page
8. Enter the wrong recovery password "wrong"
9. Change "user1"'s password

### Expected result
Error message that recovery password is wrong (or

[2015-04-23 09:28] nickvergessen commented on #15749
So let's use `OCP\<topic>\*Exception`, closing?

[2015-04-23 09:35] PVince81 commented on #15822
Note: I forgot to enable recovery for "user1". But even if I enable it, no message is shown.

On stable8: if "user1" has recovery enabled, the wrong recovery password will produce a message.
However if the user doesn't have recovery enabled, the password is ignored even when wrong, no message is shown (bad UX still).

For now let's focus on the regression case: when recovery password is wrong, an

[2015-04-23 09:39] nickvergessen commented on #15804
Hmm, We can catch the case and just say `The user does not exist`, however, it may exist, it's just the UserBackend server is currently not available.

Should we try to detect that case and then print an additional message?

[2015-04-23 09:40] PVince81 opened #15823 "[enc2] Missing tooltip that tells that a user doesn't have recovery enabled"
### Steps
1. Enable encryption + default module
2. As "root" (the admin) add a recovery password "recovery" in the admin page
3. Create a user "user1" with the password "test"
4. Login as "user1"
5. Upload a file
6. Login as "root"
7. Go to the admin page
8. Enter the correct recovery password "recovery"
9. Click on "user1"'s password field and wait for the tooltip to appear

### Expected result
L

[2015-04-23 09:41] DeepDiver1975 commented on #15804
enough from my understanding for now

[2015-04-23 09:42] DeepDiver1975 commented on #15822
@jancborchardt you might want to review the UX here and give directions - THX

[2015-04-23 09:45] PVince81 commented on #15822
Well, so far the UX for the recovery path was sub-par. I already raised some tickets to address it: https://github.com/owncloud/core/issues/11107

[2015-04-23 09:48] remixtj commented on #15800
Found that getFilterPartForUserSearch retuns displayname as attribute, because ldapAttributesForUserSearch in LDAP configuration is empty. Now i've set objectGUID, but still doesn't work because objectGUID is not a string field.

[2015-04-23 09:57] PVince81 commented on #15800
@remixtj thanks for your research.
@blizzz any clue ?

[2015-04-23 10:02] PVince81 commented on #14510
Also with a bit of luck the Sabre 2.1 upgrade that comes with 8.1 (and the matching calendar/contact) apps might solve some connectivity issues

[2015-04-23 10:04] PVince81 commented on #15786
Hmmyeah, kind of. The regression is there because we used to work with the View but a PR has been put in to work directly with storages to improve performance.

[2015-04-23 10:06] PVince81 commented on #13761
Thing is, it is easy to make the warning disappear by adding an extra `if isset` block.
My concern is that it might hide a programming error that needs to be looked into.

[2015-04-23 10:07] PVince81 commented on #15781
@nickvergessen does this test fail without encryption too ? Is it specific ? It could also be etag propagation issue.

[2015-04-23 10:08] PVince81 commented on #15640
Or did you guys understand the priorities in reverse ? I found this code that sorts the storages: https://github.com/owncloud/core/blob/722e50a112579d851b958a21cf26c2e85a4ce5c2/lib/private/files/storage/storagefactory.php#L94

[2015-04-23 10:09] PVince81 commented on #15640
Right, if wrappers are added afterwards there is no insert sort.

[2015-04-23 10:15] PVince81 commented on #15781
Let's make it clearer, regression-wise for test_shareFile.py:
- master without encryption: fails with https://github.com/owncloud/core/issues/15781#issuecomment-95495421
- master with encryption: fails with https://github.com/owncloud/core/issues/15781#issuecomment-95495421
- stable8 without encryption: success
- stable8 with encryption: success

So this failing is not related to encryption.
But t

[2015-04-23 10:19] vikasnagare commented on #15808
Thanks.

[2015-04-23 10:20] DeepDiver1975 commented on #15781
thx

[2015-04-23 10:25] vikasnagare opened #15824 "How can i set quota to the user while creating user using api?"
Hi want to set max quota for the user. I'm creating user using provisioning api.

[2015-04-23 10:27] PVince81 commented on #15781
Wait, it's still 6a5950275993394df22b208f1126efae9e35e42b
The merged PR was not for the fix (https://github.com/owncloud/core/issues/15781#issuecomment-95152690 was a misunderstanding).
The issue is still https://github.com/owncloud/core/issues/15786

[2015-04-23 10:28] PVince81 commented on #15781
WebDAV PUT fails when putting a shared file, so obviously the file didn't change and smashbox says the md5 didn't change either.

[2015-04-23 10:43] PVince81 opened #15825 "[enc2] Recovery key doesn't seem to work"
### Steps to reproduce
1. Setup OC from scratch
2. Enable encryption and the default enc module
3. Log out then log in again as admin
4. Enable recovery key by setting a recovery password in the admin page
5. Create a user "user1" with password "test"
6. Login as "user1" and upload some files
7. Enable recovery key in the personal page
8. Login as admin
9. Go to the users page
10. Enter the recove

[2015-04-23 10:44] PVince81 opened #15827 "[enc2] Current user is not logged in warning in logs when on login page"
### Steps:
1. Enable encryption + default encryption module
2. Log out
3. Refresh login page and observe the log

### Expected result
No warning about encryption

### Actual result
Warning about encryption:

[code]

Maybe some JS file gets loaded on any page and is doing ajax calls ? That JS code needs to have a check to find out on which page it is currently.

@schiesbn @th3fallen @DeepDiver1975

[2015-04-23 10:48] MorrisJobke commented on #15749
:+1:

@Xenopathic Feel free to close

[2015-04-23 10:53] blizzz commented on #9893
You must not got from OC 6 to 8 directly, but to OC 7 first. Skipping major versions is neither supported nor tested.

[2015-04-23 11:04] enoch85 commented on #15202
@PVince81 Hmm, I´m not able to reproduce it either now when I tried again.

I get this errors though:
[code]

[2015-04-23 11:06] PVince81 commented on #15827
Fix is here: https://github.com/owncloud/core/pull/15830

[2015-04-23 11:07] blizzz commented on #15818
@MorrisJobke user and group backends are isolated from each other. For instance it is and should be possible to assign LDAP users to local groups. What we currently do not check however is whether the group backend is able to add users to a group. With LDAP this is not the case, because we do not write to LDAP.

[2015-04-23 11:11] PVince81 commented on #12001
@DeepDiver1975 defer to 8.2 ?

[2015-04-23 11:12] PVince81 commented on #11951
Defer to 8.2 ?

[2015-04-23 11:12] PVince81 commented on #11106
From what I heard this has already got better ? What to do with this ticket ?

[2015-04-23 11:14] PVince81 commented on #12216
The config option for encryption was added here: https://github.com/owncloud/core/issues/10731

Setting milestone to 8.2 to look into the other entries.

[2015-04-23 11:16] Xenopathic commented on #15749
Hmm, OK.

[2015-04-23 11:16] #15749 closed

[2015-04-23 11:16] PVince81 commented on #12228
Moving to 8.2

[2015-04-23 11:16] PVince81 commented on #12289
Moving to 8.2

[2015-04-23 11:17] PVince81 commented on #12417
Defer to 8.2 as we're post feature freeze ?

[2015-04-23 11:20] PVince81 commented on #13110
Defer to 8.2 ?

Also CC @rullzer for share dialog ideas

[2015-04-23 11:21] PVince81 commented on #13117
Version and trashbin cleanup have been moved to background jobs.
However these jobs are still scheduled based on user action.

[2015-04-23 11:22] PVince81 commented on #13141
@butonic do you still intend to fix this yourself ? If not, please unassign yourself. Thanks!

[2015-04-23 11:24] bremensaki commented on #9893
Is that likely to be part of this issue? I hit this problem when I first tried upgrading 6 to 7, from memory, but didn't have time to investigate. I'm only going to 8 directly now as that's what the repos are delivering to me - the test system is working fine after the upgrade though, it's really file sharing only, very few addons.

I have only done a test move on a copy of the existing system. My

[2015-04-23 11:26] PVince81 commented on #13213
Still observed on 8.1 alpha2 (I hoped that some of the sharing fixes covered it, but they didn't)

[2015-04-23 11:27] PVince81 commented on #13232
Moving this feature "manual cleanup of versions" to 8.2 as we're past feature-freeze.

[2015-04-23 11:28] PVince81 commented on #13241
Do we want to invest 8.1 time into making our own autoloader better ? Else defer to 8.2

[2015-04-23 11:30] PVince81 commented on #13414
Enhancement/refactor/API change, but we're past feature freeze -> 8.2

[2015-04-23 11:41] Xenopathic commented on #13241
Probably best to defer. This could break things.

Another advantage of the Composer autoloader: when releasing to production, we can create a Composer classmap file, which reads the location of classes from an array instead of trying to find them.

[2015-04-23 11:45] PVince81 commented on #13462
Is this still an issue ? I remember there was some validation code put in core, might be enough to cover this ticket ?

[2015-04-23 11:45] PVince81 commented on #13495
Past feature freeze -> 8.2

[2015-04-23 11:47] PVince81 commented on #13640
Move to 8.2 ?

[2015-04-23 11:47] PVince81 commented on #13647
Moving to 8.2 (enhancement)

[2015-04-23 11:48] PVince81 commented on #13650
Linking your new PR here: https://github.com/owncloud/core/pull/14878

Moving to 8.2

[2015-04-23 11:49] PVince81 commented on #13690
Moving to 8.2, I also prefer the overview page approach: https://github.com/owncloud/core/issues/13495

[2015-04-23 11:49] DeepDiver1975 commented on #13640
yes - we should create one for each storage implementation

[2015-04-23 11:49] nickvergessen commented on #11951
Yes, PR was already moved

[2015-04-23 11:49] PVince81 commented on #13816
Anything left to do for 8.1 ?

[2015-04-23 11:50] DeepDiver1975 commented on #13462
As far as I rememeber the final cleanup is missing -> 8.2

[2015-04-23 11:51] PVince81 commented on #13862
Closing as the PRs have been merged.

[2015-04-23 11:51] #13862 closed

[2015-04-23 11:52] DeepDiver1975 commented on #13241
This is basically blocked by the issue where we move composer into core

[2015-04-23 11:56] DeepDiver1975 commented on #13232
is this manual mode really required? with 8.1 we have the background job taking care of this. I vote for close

[2015-04-23 12:04] DeepDiver1975 commented on #13816
no - we will continue to enhance this in 8.2

[2015-04-23 12:04] DeepDiver1975 commented on #13816
basically we can close this one and move #15460 to 8.2

[2015-04-23 12:09] jnfrmarks opened #15832 "Conflicting configuration warnings on admin page"
### Steps to reproduce

1. Install 8.1
2. Do not set a cacheing model
3. Go to admin page

### Expected behaviour

The only message about cacheing should be that it's not configured

### Actual behaviour

I see messages about the APCu version and that cacheing is not configured.  I'm thinking that we shouldn't be checking the version if it's not configured.

![p329](https://cloud.githubusercontent

[2015-04-23 12:11] blizzz commented on #15800
can reproduce with latest stable7, but it's fixed in OC 8. I rememer @butonic was working on it a while ago. The issue was not in LDAP, but about the lookup method used by the files_external IIRC.

[2015-04-23 12:12] ogoffart commented on #11106
The client (1.8) work around the problem by never sending what it thinks is the last chunk in parallel.
But the race condition is still there.

[2015-04-23 12:18] RealRancor commented on #15832
Hi,

isn't it so that APCu was disabled because of the old version and then the second message appears because there is no other memory cache configured?

[2015-04-23 12:32] blizzz commented on #15800
Found it and did a backport, please test #15833

[2015-04-23 12:41] #15827 closed

[2015-04-23 12:44] remixtj commented on #15800
Applied this patch, issue is solved.

[2015-04-23 12:46] jnfrmarks commented on #15832
I was thinking: why are we checking the APCu version if it's not even configured?

[2015-04-23 12:51] DeepDiver1975 commented on #15832
Well - the list of warnings might cause confusion - but technically speaking they are correct.

1. APCu was detected with a wrong version -> warning is reported and not used
2. Because no other memcache was detected -> warning because performance will not be optimal

[2015-04-23 12:51] PVince81 commented on #13232
@DeepDiver1975 it depends on how we understand "background cleanup".
In the previous version, the versions cleanup was triggered by modifying the file (and maybe also querying the versions list). In the new version, doing so will schedule the background job to run one single cleanup pass for that specific file.

There is currently no global cron job that will automatically scan all version files e

[2015-04-23 12:52] PVince81 commented on #13816
Done

[2015-04-23 12:52] #13816 closed

[2015-04-23 12:54] jnfrmarks commented on #15832
I agree that they are technically correct.  I am just questioning if we should be displaying 1 if no memcache is configured.  If we're ok with this, then we can close this issue.

[2015-04-23 12:54] PVince81 commented on #11106
This should be fixed by this PR already: https://github.com/owncloud/core/pull/14113
Did you guys try it out with the disabled workaround ?

[2015-04-23 12:54] PVince81 commented on #11106
(fixed in 8.1)

[2015-04-23 12:55] blizzz commented on #15800
@remixtj superb, thank you. Would you mind to leave a comment on #15833, saying that you tested it and giving an :+1:  ?

[2015-04-23 12:55] DeepDiver1975 commented on #15832
well removing either of these messages can result in confusion as well.

But this is more a UX/tech writer topic @jancborchardt @carlaschroder THX

[2015-04-23 13:02] RealRancor commented on #13232
And if there is a cronjob you still couldn't expire ALL old versions or am i wrong?

[2015-04-23 13:05] PVince81 commented on #13232
**If** there was a cronjob, expiring all versions would require iterating over ALL the files which could become expensive. But also with "expiring" we mostly mean "thinning out" based on the algo described here https://doc.owncloud.org/server/8.0/user_manual/files/version_control.html.

[2015-04-23 13:06] ogoffart commented on #11106
Ah, no, i did not try against newer version yet.

[2015-04-23 13:11] RealRancor commented on #13232
Sure, but sometimes you want to expire all versions without using any algorithms. And from my PoV the OP is exactly asking for this.

[2015-04-23 13:12] PVince81 commented on #13232
It depends what you mean with "expire". If you mean "delete ALL versions for all files" (without thinning algo), then it would be easier because all files are in the "files_versions" subdir for every user.

[2015-04-23 13:22] oparoz commented on #13650
Providers are no longer accepted in core. This may be available in the future as a patch or an app.

[2015-04-23 13:23] blizzz commented on #15656
@ryno83 can you tell me more about the background of the changes?

The first ones in user_ldap.php should neither be necessary not useful, because $this->access->connection->ldapUserFilter; is set for a proper configuration. Otherwise ownCloud will not try to connect if the configuration does not validate.

About the second one, LDAP is supposed to not return a valid result resource if the object

[2015-04-23 13:24] DeepDiver1975 commented on #13232
Triggering a "global" expiry which takes into account all users and all files of the users - this can be a time consuming task. More something for the console?

[2015-04-23 13:24] MorrisJobke commented on #15172
@jancborchardt I fixed it while I was at it - #15835

[2015-04-23 13:25] PVince81 commented on #13232
With "expiry" you are probably talking about the thinning out algo (not deleting all versions).
Then yes, maybe an "./occ versions:expire" that will take its time to go through all user's homes and expire versions using the thinning algo.

[2015-04-23 13:30] DeepDiver1975 commented on #13232
yes

[2015-04-23 13:34] PVince81 commented on #15777
Fixed by https://github.com/owncloud/core/pull/14987

[2015-04-23 13:35] PVince81 commented on #15758
Fixed by https://github.com/owncloud/core/pull/15814

[2015-04-23 13:35] #15758 closed

[2015-04-23 13:35] PVince81 commented on #15600
Fixed through https://github.com/owncloud/core/issues/15814

[2015-04-23 13:35] #15600 closed

[2015-04-23 13:36] PVince81 commented on #15593
Both issues were fixed on master (encryption case and permissions issue), closing.

[2015-04-23 13:36] #15593 closed

[2015-04-23 13:39] PVince81 commented on #13564
Adding/changing the password of a s2s link share makes it inaccessible for recipients. The current logic is as follows: if the shareinfo.php call returns 403 or 401, it means that the password changed, so the share isn't accessible any more. Currently it will be deleted. In the future we should implement a dialog that re-prompts for the new password of that share for the user to keep it.

I didn't

[2015-04-23 13:51] PVince81 commented on #15116
I tried the following steps with both 8.0.2:
1. On ownCloud A, create two users "user1" and "user2"
2. Add "user1" and "user2" into a group "group1"
3. Create a folder "fold"
4. Share "fold" with public link and allow editing
5. Share "fold" with "group1"
6. Open the public link
7. Click "Add to ownCloud"
8. Enter the URL of ownCloud B and login as admin@ownCloudB
9. On ownCloud B, create two user

[2015-04-23 13:52] PVince81 commented on #15116
Might be another variation of https://github.com/owncloud/core/issues/15202

I'll check if some PRs fix that

[2015-04-23 13:55] PVince81 commented on #15116
Hmmm no, no luck.

I think this bug can be summarized as "Remote share mount point cannot be reshared with local users". I'll update the title.

[2015-04-23 13:59] ryno83 commented on #15656
@blizzz If I leave everything else as is, ```$this->ldap->countEntries($cr, $rr)``` will always return 1 because ```$this->ldap->read``` at line 158 use the filter ```objectclass=*```. This filter makes LDAP find my user because it is not deleted from AD but only removed from the "ownCloud" AD group.

[2015-04-23 14:13] jnfrmarks opened #15836 "Error validating LDAP login attributes tab"
### Steps to reproduce

1. Install 8.1
2. Configure LDAP
3. On Login Attrributes tab, click verify settings

### Expected behaviour

The settings are verified and there are no errors

### Actual behaviour

The settings are not verified and there is an reror "Please provide a login anme to test against".
I don't see how to provide the login name - there is no text box for that and the Test Loginnam

[2015-04-23 14:17] DeepDiver1975 commented on #15836
@blizzz THX

[2015-04-23 14:35] PVince81 commented on #13924
Moving to 8.2

[2015-04-23 14:36] jancborchardt commented on #15832
It seems like yeah, if no memory cache is configured, then we don’t need the APCu message.

[2015-04-23 14:43] SerialG opened #15837 "Exlude Sharing not working when not all groups are listed"
Hi,
I experience the following issue with sharing exclusions on owncloud 8.0.2 (CentOS):
GroupA is listed in Option "Exclude Groups from Sharing".
An LDAP User (Active Directory) User1, which only belong to GroupA won't have the Sharing Options.
An LDAP User User2, which belongs to GroupA and GroupB will have the Sharing Options.

(Groups also belong to LDAP Active Directory)

This make mostly imp

[2015-04-23 14:45] DeepDiver1975 commented on #13924
yes - thx

[2015-04-23 14:46] DeepDiver1975 commented on #15832
well and then you turn APCu on -> what shall happen?

APCu is broken and you have still no mem cache

[2015-04-23 14:52] jnfrmarks commented on #15832
Then I should get a message saying that APCu is the wrong version.

My issue is we're checking something that isn't yet configured and providing an error to the user on that.  We should only be checking it if it's configured.

For instance, when I configured the memcache to XCache, I do not get the APCu error (as expected).  If you're saying that we should check it regardless of if memcache is con

[2015-04-23 15:01] jancborchardt commented on #15832
Yup, as @jnfrmarks said. Ideally the APCu warning should also mention that it’s for caching.

[2015-04-23 15:04] DeepDiver1975 commented on #15832
well - let's add a documentation link to it just like we did with the "no mem cache" warning

[2015-04-23 15:12] schiesbn commented on #15640
The priorities should be correct, according to the phpdoc and the code you mentioned. The storage with the lowest number should be first.
https://github.com/owncloud/core/blob/master/lib/private/files/storage/storagefactory.php#L45
https://github.com/owncloud/core/blob/722e50a112579d851b958a21cf26c2e85a4ce5c2/lib/private/files/storage/storagefactory.php#L94

[2015-04-23 15:17] PVince81 commented on #14169
Cannot reproduce on master (a672e9d5563998205923b3b388208bb4b8242048) with the new encryption. Closing.

[2015-04-23 15:17] #14169 closed

[2015-04-23 15:43] PVince81 opened #15840 "[enc2] Copy file into shared dir as recipient produces broken copy"
### Steps
1. Enable encryption + default encryption module
2. Create two users "user1" and "user2"
3. As "user1" share a folder "sub" with "user2"
4. Login as "user2" with cadaver
5. WebDAV PUT a file test.txt
6. WebDAV COPY test.txt into "sub/copy.txt"
7. In the Web UI login as "user2"
8. Open "sub/copy.txt"

### Expected result
Copy can be opened

### Actual result
Broken copy.

### Versions
own

[2015-04-23 15:53] schiesbn commented on #15840
I think this will be fixed with: https://github.com/owncloud/core/pull/15628 Can you give it a try? Thanks!

[2015-04-23 15:58] PVince81 commented on #15840
Indeed, the PR https://github.com/owncloud/core/pull/15628 fixes this issue

[2015-04-23 16:05] PVince81 commented on #15253
Hmm, likely to be a bug. I'd expect that giving back the permissions would also update the permissions for the group members.
From what I remember, group members may in some cases get their own entries in the "oc_share" table (additionally to the group entry), and maybe the permissions aren't updated properly there.

[2015-04-23 16:08] karlitschek commented on #13213
@schiesbn Would be great if you could look into that. :-)

[2015-04-23 16:08] PVince81 commented on #13891
Ah yes, this is the known "receive the folder twice, once as subdir and once as direct share, with different permissions" issue. I'll close this ticket in favor of https://github.com/owncloud/core/issues/14428 where the design discussion is.

[2015-04-23 16:08] #13891 closed

[2015-04-23 16:08] PVince81 commented on #14428
Some steps have been provided in another ticket to reproduce the permission conflict issue: https://github.com/owncloud/core/issues/13891#issue-56541349

[2015-04-23 16:10] PVince81 commented on #13213
or @rullzer the new sharing master, if you want to dig deep :wink:

[2015-04-23 16:12] PVince81 commented on #12385
@mihaig11 are you still seeing this with 7.0.5 ?
AFAIK there were some sharing fixes that might help

[2015-04-23 16:13] PVince81 commented on #14173
@icewind1991 do you think the Cache::get() case would be easier to fix now that encryption isn't using proxies any more ? Unless it's not related to that.

If the fix is too intrusive we can move this to 8.2

[2015-04-23 16:15] PVince81 commented on #14186
This was fixed on master already recently with https://github.com/owncloud/core/pull/15258, closing.

[2015-04-23 16:15] #14186 closed

[2015-04-23 16:17] PVince81 commented on #14395
This repair step was already added: https://github.com/owncloud/core/pull/14638

[2015-04-23 16:17] #14395 closed

[2015-04-23 16:18] PVince81 commented on #14404
Moving to 8.2.
Still need to find a good way how to include handlebars.

[2015-04-23 16:21] PVince81 commented on #14470
Fixed by your commit ? (I somehow cannot find the matching PR)

[2015-04-23 16:22] PVince81 commented on #14507
Update detection is still an general issue and cannot be done accurately: https://github.com/owncloud/core/issues/11797

Needs more research.

[2015-04-23 16:25] PVince81 commented on #14531
I hope it got better with 8.1 :smile:

I remember @jturcotte did some tests, but not sure if they were about recursive PROPFIND or whether they involved shared folders.

[2015-04-23 16:29] PVince81 commented on #14803
Moving to 8.2 as we're past feature freeze

[2015-04-23 16:30] PVince81 commented on #14828
Setting severity to low as there's an easy workaround

[2015-04-23 16:31] blizzz commented on #15836
@jnfrmarks on the lower left, next to the button

[2015-04-23 16:31] PVince81 commented on #14858
Any update ? I see the linked ticket was closed/merged ?

[2015-04-23 16:32] blizzz commented on #15836
it's a text field, not a button.

[2015-04-23 16:33] PVince81 commented on #14886
Adjusting milestone to matching PR https://github.com/owncloud/core/pull/13031

[2015-04-23 16:36] karlitschek commented on #15837
@blizzz @schiesbn what do you think?

[2015-04-23 16:42] blizzz commented on #15656
@ryno83 yes, the filter is applied, because the read operation goes exactly against the specified user dn. This feature is intended to work against really deleted users only. This would be another different use-case. I need to make up my mind, nevertheless it sounds totally valid and provides more flexibility.

@ryno83 Could you please take the changes, adjust the [coding style ](https://doc.owncl

[2015-04-23 16:45] jnfrmarks commented on #15836
Ah! that works - how about if we grey out the verify settings button until someone enters a username in the loginname field?

[2015-04-23 16:45] blizzz commented on #15656
I adjusted the title. Also what should be considered: the login filter. You could have "shadow" users that are allowed to login and use ownCloud, but do not show up in lists or the sharing box.

[2015-04-23 17:04] LukasReschke commented on #14858
Should be fixed - yes.

[2015-04-23 17:04] #14858 closed

[2015-04-23 17:04] LukasReschke commented on #14858
(in 8.1)

[2015-04-23 17:07] vseven opened #15841 "Renaming Directory by Fixing Case Results in Non Working Directory"
If you rename a directory by only changing the case of a letter the directory stops being usable for uploads.  IE rename  DOcuments to Documents and you no longer can upload into it, says directory doesn't exist which it actually does but has a -0 added to it in the file system.

### Steps to reproduce
1.  Create a directory and use the wrong case for a letter  (Doctors and phDs).  Folder on disk

[2015-04-23 17:26] pierrejochem commented on #14858
Perfect. Thank you and you make a good Job!

[2015-04-23 17:35] sbelov1 opened #15842 "LDAP Group Issues"
Environment.
Latest vmWare virtual appliance: OpenSUSE, Apache, MySQL
Description. Upon binding with an LDAP server, we select the group under User Filer tab. Group shows 3200 users as oppose to 17 (Issue 1). There's no sAmAccountName attribute available to select from a Login Filter (Issue 2), even though an attribute is there as all the user names properly render on the Users page for us. The Us

[2015-04-23 17:50] sbelov1 commented on #15842
Here's two sets of errors we're getting. Logs have been emailed.

"app":"PHP","message":"ldap_start_tls(): Unable to start TLS: Connect error at

\/srv\/www\/htdocs\/owncloud\/apps\/user_ldap\/lib\/ldap.php#252","level":3,"time":"2015-04-22T19:21:49+00:00"},

"app":"user_ldap","message":"Configuration Error (prefix ): No LDAP Login Filter
given!","level":2,"time":"2015-04-22T15:48:48+00:00"}]

[2015-04-23 17:51] alexpyattaev opened #15843 "Missing local copies"
With no reason whatsoever, owncloud client 1.8.0 on Suse linux decided it is a good idea to delete a directory, together with its contents. The only thing that I did is saved one of the files in the directory, causing an upload sync. This is how the log looked like:

As if nothing is happening!  By pure miracle I noticed that something fishy is happening and prevented the upload of changes to the

[2015-04-23 17:55] karlitschek commented on #15843
Sorry for the trouble.
Can you please open this in the client repository bug tracker?
@dragotin FYI

[2015-04-23 17:55] #15843 closed

[2015-04-23 18:04] RealRancor commented on #13232
Just quoting the OP:

This means no "expiry" but a "delete all versions" (cleaning up the complete files_versions folder).

[2015-04-23 18:34] ryno83 commented on #15656
@blizzz How to create the Pull Request ? I tried 15 minutes ago but I'm sure I was wrong !

[2015-04-23 19:35] ryno83 commented on #15656
I think I got it !

[2015-04-23 19:42] MorrisJobke commented on #15806
Fix is in #15846

[2015-04-23 20:04] blizzz commented on #15842
Please use the [template](https://raw.githubusercontent.com/owncloud/core/master/issue_template.md), also specify which LDAP server is in use.

[2015-04-23 20:09] blizzz commented on #15842
Please make them generally available, ideally publicly, but if this is not possible then on s3.

[2015-04-23 20:15] blizzz commented on #15837
Same behaviour for local groups.

[2015-04-23 20:26] blizzz commented on #15836
yup, sounds good

[2015-04-23 20:27] blizzz commented on #15656
Yes, looks good! Will react on it tomorrow.

[2015-04-23 20:49] BlackLotus commented on #15712
Sorry for that.You were right I didn't update the submodules.
I just pulled it from git and didn't think about that when updating.
Thanks

[2015-04-23 20:49] LukasReschke commented on #15841
This looks like a platform specific bug on the Windows file mapper. As you might know with ownCloud 8.1 we will not support the MS Windows Platform as a server anymore officially as nobody maintained it really, see https://owncloud.org/blog/owncloud-server-8-1-will-not-support-windows-as-server-platform-natively/

Sorry for the inconvenience that this caused and thanks a lot for your detailled bug

[2015-04-23 20:49] #15841 closed

[2015-04-23 20:50] blizzz commented on #15837
Code-wise (including comments) it is intended behaviour, see: https://github.com/owncloud/core/blob/stable8/lib/private/util.php#L161

Not sure why it was done like this. @schiesbn ?

[2015-04-23 20:52] LukasReschke commented on #13665
This looks like a platform specific bug on the Windows file mapper. As you might know with ownCloud 8.1 we will not support the MS Windows Platform as a server anymore officially as nobody maintained it really, see https://owncloud.org/blog/owncloud-server-8-1-will-not-support-windows-as-server-platform-natively/

Sorry for the inconvenience that this caused and thanks a lot for your bug report. Y

[2015-04-23 20:52] #13665 closed

[2015-04-23 20:58] #15804 closed

[2015-04-23 21:30] #15806 closed

[2015-04-23 22:14] VicDeo opened #15848 "[master] Encryption wrapper makes all storages it wraps non-local"
and as soon as it wraps user home by default we end up with non-local storages only, that is definitely makes no sense (and brokes all actions that should be applied to local files only by using `Storage::isLocal` call )

https://github.com/owncloud/core/blob/master/lib/private/files/storage/wrapper/encryption.php#L345 :

[code]

[2015-04-23 22:14] VicDeo commented on #15848
@icewind1991 @PVince81 @schiesbn

[2015-04-24 01:32] jason-vivid opened #15849 "Feature Request: Confirm deletion of user in Web Interface"
We had a user accidentally deleted recently while another user was intentionally being deleted.

There doesn't appear to be an undo and there was no request to confirm.

Request this be added as a feature.

[2015-04-24 05:33] RealRancor commented on #15849
Hi,

this was rejected some time ago for the reasons posted here: https://github.com/owncloud/core/issues/14945#issuecomment-82387715

If you got no undo possibility then you might have found a bug which you should post in a separate issue while using the issue template like requested in the "guidelines for contributing" (linked in the yellow box when creating a new ussue)

[2015-04-24 06:36] enoch85 commented on #15849
Also, all the files end up in trashbin. I think the standard is for 30 days before it gts deleted totally.

[2015-04-24 06:58] MorrisJobke commented on #15849
This was about users and not about files ;)

[2015-04-24 07:30] DeepDiver1975 commented on #15848
Looks like we need to perform this check path based. @icewind1991 objections?  Ideas? Thanks

[2015-04-24 07:42] dirkahrnke commented on #15848
sorry, I was distracted somehow. hope its reverted to the intended state

[2015-04-24 08:03] PVince81 opened #15850 "[stable8] Cannot PROPPATCH getlastmodified, getting 403"
On stable8 (and potentially older versions), doing a PROPPATCH on getlastmodified returns 403.
Not sure why.

On master it will properly set the property.

From what I understand the sync client does such PROPPATCH in case a PUT didn't accept the mtime. (@guruz @ogoffart)

#### Steps:
1. Use the following PROPPATCH file:
[code]
2. `curl -X PROPPATCH -H "Content-Type: text/xml" --data-binary "@prop

[2015-04-24 08:11] jturcotte commented on #14531
I've set Depth to 1 in all requests: https://github.com/owncloud/administration/blob/master/performance-tests-c%2B%2B/main.cpp#L69

And the test data was only 1 directory deep, so that wouldn't stress it so much either.

[2015-04-24 08:13] ogoffart commented on #15850
Yes that's correct,   but PUT always accept the mtime with recent server.
The newest version of the client does not even do it anymore and if PUT does not support PROPPATCH, the mtime will be wrong.

[2015-04-24 08:21] PVince81 commented on #15850
Yes, I also couldn't think of cases where the mtime would not be accepted.

Anyway, I think still it is legitimate to allow PROPPATCH on getlastmodified, so we might want to see why it doesn't work on OC 8.0

[2015-04-24 08:44] nickvergessen commented on #15786
yeah, because we throw away the storage right here: https://github.com/owncloud/core/commit/6a5950275993394df22b208f1126efae9e35e42b#diff-2e4a54e72d495abc750a9bc445da15a0R115

[2015-04-24 08:45] nickvergessen commented on #15849
Closing as duplicate

[2015-04-24 08:45] #15849 closed

[2015-04-24 08:57] SergioBertolinSG opened #15851 "Listing of apps takes too much time."
### Steps to reproduce

1. Install OC 8.1alpha2.
2. List apps enabled or disabled.

### Expected behaviour
Apps are listed quickly.

### Actual behaviour
Apps takes a lot of time to be listed. ~1 minute.

### Server configuration
**Operating system**:
Ubuntu 14.04 LTS

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

**ownCloud version:** (see ownCloud admin page)
{"installed":

[2015-04-24 09:02] PVince81 opened #15852 "Version expire bkg job cannot run on shared folders"
### Steps to reproduce
1. Create a user "user1"
2. Create a folder "folder"
3. Share "folder" with "user1"
4. Login as "user1"
5. Create a file "test.txt" in the root
6. Move "test.txt" into "folder"
7. Run cron on the CLI several times

### Expected result
No warnings

### Actual result
[code]

### Versions
ownCloud 8.1 git master (33d197db29bcaded7b22c0d81e4e2f92004e9398)

[2015-04-24 09:04] PVince81 commented on #15852
It's the versions expire command trying to expire on the old path:
[code]

Maybe before expiring the background job needs to check whether the file still exists where it is.

In the case where two files were swapped, there's a risk of running the background job on the wrong file... This might be a general issue with background jobs related to files @icewind1991 @DeepDiver1975 @schiesbn

[2015-04-24 09:11] PVince81 commented on #15852
It looks like the version expiring job gets scheduled when moving the file, but maybe gets scheduled on the old path instead of the new one.

[2015-04-24 09:11] nickvergessen commented on #15837
Well, it's the question whether we want Yes to overwrite No, or the other way around.

[2015-04-24 09:13] nickvergessen commented on #15824
This is not possible atm

[2015-04-24 09:14] PVince81 commented on #15852
Just debugged and it seems that it's worse than I thought.
Actually the expire job is properly configured to expire the new path, but as the path is in a shared folder (as recipient), it doesn't resolve properly to the final file.

I'll investigate further.

[2015-04-24 09:20] PVince81 opened #15853 "Discard background jobs of files when file is renamed/moved"
### Steps to reproduce
1. Setup cron to be run on the CLI
2. Create two files "test.txt" and "test1.txt"
3. Edit both files several times to create versions
4. Rename "test1.txt" to "test_temp.txt"
5. Rename "test.txt" to "test1.txt"
6. Rename "test_temp.txt" to "test.txt"
7. Run cron on the CLI
### Expected result

When renaming a file, the matching background job must be discarded / renamed.
###

[2015-04-24 09:20] PVince81 commented on #15852
Raised the "file name mix up" concern as separate ticket for discussion: https://github.com/owncloud/core/issues/15853

[2015-04-24 09:23] PVince81 commented on #15852
Back to the problem: the background job cannot resolve the shares because there is no logged in user... so getOwner() and Share::getItems() will fail... Need to find a way to inject the current user because we certainly don't want to create a dummy session for that user...

[2015-04-24 09:30] blizzz commented on #15837
Exactly. I assume we have a reasoning somewhere.

[2015-04-24 09:34] PVince81 commented on #15852
Had a chat with @LukasReschke and setting the user into IUserSession in the background job is a no go because there's a high risk of messing up the session in the ajax cron case. Even if we'd clean up by re-setting the correct user back, if an exception / error happens in the middle... then the wrong session would be used...

Let's have a look if the user can be injected/passed around... smells li

[2015-04-24 09:41] MorrisJobke commented on #15849
@jason-vivid If the undo message doesn't come up this is definetely a bug and should be reported. Please use the issue template to report this. https://github.com/owncloud/core/blob/master/issue_template.md

[2015-04-24 09:57] #15172 closed

[2015-04-24 10:04] PVince81 commented on #15852
Looks like IUserSession has no user even in ajax cron mode, which is good because it would allow user mix ups otherwise.

[2015-04-24 10:07] PVince81 opened #15854 "Inject the current user instead of reading out of IUserSession"
There are many places in the code where the current user is read out of IUserSession or \OCP\User::getUser(). This is dangerous because it assumes that the currently logged in user is also the one we are working on.

In the case of background jobs (versions expire, etc), there is no user in the session, but we still need to apply changes for a given user.  (see https://github.com/owncloud/core/iss

[2015-04-24 10:25] PVince81 commented on #15852
I had a look at the stack from https://github.com/owncloud/core/issues/15852#issuecomment-95860981, and the trickiest part would be to pass the user through the Storage class.

One idea would be to always pass the current user (the one from setupFS) through MountPoint/Storage $arguments and store it. Might be a risky fix to put in 8.1.

[2015-04-24 10:34] PVince81 commented on #15852
We might be lucky, it looks like for the SharedStorage specifically we already inject the $user but don't use it. I'll prepare a PR.

[2015-04-24 10:35] kalletabur opened #15856 "Files are not visible on browser but are accessible through clicking links"
### Steps to reproduce
Don't know how to reproduce. This appeared already in 7.0.4 version. Now we upgraded to 8.0.2 but the problem is still there

### Expected behaviour
Browsing ownCloud files over web interface should show all the files.

### Actual behaviour
Lot of files are not visible when browsing one web folder. At the beginning of the folder there are lots of folders and files visible, t

[2015-04-24 10:36] jvillafanez opened #15857 "Cache issues testing connection in the LDAP wizard"
### Steps to reproduce
1. With a disconnected LDAP server, setup a configuration in the server tab of the LDAP wizard targeting the disconnected LDAP server (all the configuration should be
2. Once the configuration is set, click in the "test base DN" button: a notification saying that there is no connection to the LDAP server should popup
3. Start the LDAP server
4. Click again in the "test base

[2015-04-24 10:36] jvillafanez commented on #15857
@blizzz

[2015-04-24 10:38] jancborchardt commented on #15822
Yup, show a yellow error notification here.

[2015-04-24 10:52] nickvergessen opened #15858 "File and folder location is wrong at shared external folders"
Originally reported at https://github.com/owncloud/activity/issues/284 by @tibmanus

1. Admin user mounts a local folder as an external storage. (Folder name: Localhhh)
2. Admin user creates a folder inside this folder (Folder name: external), then shares it with 'testuser'.
3. Testuser creates a file in this folder (Name: file1).
4. Testuser checks the Activity app: "You created file1"

Tooltip a

[2015-04-24 10:53] nickvergessen commented on #15858
// cc @schiesbn @rullzer

[2015-04-24 11:03] jvillafanez opened #15859 "Object classes in the user tab of the LDAP wizard get deselected"
### Steps to reproduce
1. In assisted mode (in the user tab) select an object class
2. Click in "edit LDAP Query" to edit the filter manually (no need to edit the filter)
3. Click again in the "edit LDAP Query"
4. Select another object class keeping the object class in step 1 selected too

### Expected behaviour
The LDAP filter is updated with both object classes and both classes are selected in t

[2015-04-24 11:03] jvillafanez commented on #15859
@blizzz

[2015-04-24 11:21] jvillafanez commented on #15859
Looks like this is also happening with the "other attributes" in the "login attributes" tab in the LDAP wizard

[2015-04-24 11:56] SergioBertolinSG opened #15861 "."

[2015-04-24 11:56] #15861 closed

[2015-04-24 11:57] LukasReschke commented on #15861
!

[2015-04-24 12:03] LukasReschke commented on #15851
Probably dupe of https://github.com/owncloud/enterprise/issues/578

[2015-04-24 12:05] vseven commented on #15841
Although I want to agree with you that it is a "windows" issue this bug affects both 6.* and 7.* versions of ownCloud but does not seem to affect other cloud type software.  For example I have Pydio running on the same server and if I try the same thing I will get a error message saying that files are case insensitive.  I can then rename the folder to "Doctors temp" and then back to "Doctors and P

[2015-04-24 12:07] LukasReschke commented on #15841
It is because we use a custom file mapper on Windows which is buggy and thus results in this bug. Unless somebody volunteers to fix the file mapper stuff will be buggy ;-)

[2015-04-24 12:07] LukasReschke commented on #15841
(as in: We are not actively fixing bugs in code paths that only affects Windows Server)

[2015-04-24 12:22] SerialG commented on #15837
Thank you for pointing me the code.

Why not let choose the admin with a checkbox?
- Member of ALL groups
- Member of AT LEAST one group

[2015-04-24 12:30] icewind1991 commented on #15852
In the etag propagation PR the injected $user is used in some more places

[2015-04-24 12:32] jvillafanez opened #15864 "Does openLDAP support "memberof"?"
Having an openLDAP server with the default configuration, and configured with the wizard, in the "users" tab the "only from these groups" select is disabled. Due to this, we won't be able to test some cases properly with openLDAP.

How can we handle this? Any configuration we could use to make this active?

@blizzz @jnfrmarks

[2015-04-24 12:33] icewind1991 commented on #15848
Marking them as non local seems like the right approach for me since you can no longer access the files without going trough oc's filesystem

[2015-04-24 12:48] blizzz commented on #15864
That's written in the OpenLDAP Adminstration manual: http://www.openldap.org/doc/admin24/overlays.html

And here a simple example on ubuntu 12.04: http://www.schenkels.nl/2013/03/how-to-setup-openldap-with-memberof-overlay-ubuntu-12-04/

[2015-04-24 12:55] jvillafanez commented on #15859
object classes in the group tab is also affected

[2015-04-24 12:57] iliyasbasir opened #15865 "Can we filter activities send to oC active user only from LDAP group."
#### Expected behavior

LDAP group have some oC active user when they perform activity notification send to all  LDAP group user not only oC active users.
### Actual behavior

Email notification should sent to  oC user ONLY.
### Steps to reproduce

1)  Create LDAP group called “employee”.
2)  Add the four user on “employee” group.
3)   Our of 4 –LDAP user make 2- active user in oC
4)  Now do some

[2015-04-24 13:10] nickvergessen commented on #15865
@blizzz

[2015-04-24 13:12] PVince81 commented on #15852
Cool...

I thought my PR was almost ready but it seems I bumped accross other parts of the code that depend on the currently logged in user... investigating...

[2015-04-24 13:18] nickvergessen commented on #15854
Well that should be nothing to discuss really, that is exactly what DI is for and what makes it easier then static code. If you fix one method, but can't fix it everywhere in one go, just inject it in the most outer method and call this one with `User::getUser()`, the next one will remove an additional depth, etc.

[2015-04-24 13:19] jvillafanez opened #15866 "Group selection broken in the LDAP wizard, group tab"
### Steps to reproduce
1. Setup an LDAP server with more than 40 groups
2. Go to the groups tab in the LDAP wizard. You should see two list of groups below the "only from these groups" (the right one might be empty)
3. Select one of them and click in the ">" button

### Expected behaviour
The group is properly moved to the list

### Actual behaviour
A new item is added in the list per each charact

[2015-04-24 13:19] jvillafanez commented on #15866
@blizzz

[2015-04-24 13:29] PVince81 opened #15867 "Versions not moved when moving file into shared folder as recipient"
### Steps
1. Create a user "user1"
1. Create a folder "folder"
1. Share "folder" with "user1"
1. Login as "user1"
1. Create a file "test.txt" in the root
1. Edit "test.txt" several times to create versions
1. Move "test.txt" into "folder"

### Expected result
Versions copied properly from "user1/files_versions" to "root/files_versions/folder"

### Actual result
Versions stay in "user1/files_versio

[2015-04-24 13:30] PVince81 commented on #15852
Okay... I'm finding more unrelated stuff, raised here https://github.com/owncloud/core/issues/15867

[2015-04-24 13:32] PVince81 commented on #15852
PR is here: https://github.com/owncloud/core/pull/15868

[2015-04-24 13:45] nickvergessen commented on #15851
Well it's basically quite easy:
https://github.com/owncloud/core/blob/ba52f6f8fc0d88000332e9e64c48a56c526823d9/lib/private/app.php#L838

For each app you have we send a request to the app store to check for an update. In the other ticket @LukasReschke mentions some caching stuff, which helps for subsequent requests.
However, the question is, if we can create an endpoint on the app store which we p

[2015-04-24 13:55] sbelov1 commented on #15842
@blizzz we should keep customer logs confidential. As you suggested, I've uploaded them in S3 under 15842 folder. They're running oC 8.0.2 and I'm getting the exact versions for MySQL/MariaDB and the  os.

[2015-04-24 13:55] blizzz commented on #15866
yup, will take care

[2015-04-24 14:14] PVince81 commented on #15867
At the time where the versions are moved, the wrong absolute path is used. It uses "user1" in both even though the target should be relative to "root".

[2015-04-24 14:24] PVince81 commented on #15867
Okay, it looks like this is a very old undiscovered bug. Saw it happening on stable7 too.

[2015-04-24 14:26] sbelov1 commented on #15842
Here it is. @blizzz please let me know if anything else is needed.
eval-appliance-oc8ee-vmdk-2015-8-6:~ # php -v
PHP 5.4.20 (cli)
Copyright (c) 1997-2013 The PHP Group
Zend Engine v2.4.0, Copyright (c) 1998-2013 Zend Technologies
    with Zend Guard Loader v3.3, Copyright (c) 1998-2013, by Zend Technologies

eval-appliance-oc8ee-vmdk-2015-8-6:~ # mysql -u root -p
Enter password:
Welcome to the Mar

[2015-04-24 15:44] VicDeo commented on #15848
@icewind1991 ok, I assume that we should index all files for full-text search. Who cares about storage speed. :snail:

[2015-04-24 16:05] blizzz commented on #15865
@iliyasbasir can provide step by step description on how to reproduce this, please?

[2015-04-24 16:11] blizzz commented on #15842
@sbelov1 thank you. Any details about the LDAP server they use?

[2015-04-24 16:15] sbelov1 commented on #15842
@blizzz what do we need exactly just a version? Its AD LDAP not an OpenLDAP.

[2015-04-24 17:19] carlaschroder commented on #15832
OPCache replaces APC in PHP 5.5, and is included so you don't have to install it separately. http://php.net/manual/en/opcache.installation.php I think this may be more than a documentation issue.

[2015-04-24 17:26] RealRancor commented on #15832
Not exactly as also written here: https://github.com/owncloud/documentation/issues/1056#issuecomment-95478319

[2015-04-24 17:28] DavidDohmen commented on #14478
Yes Please! So many people have an Office 365 subscription including a free onedrive terabyte...

[2015-04-24 18:55] carlaschroder commented on #14814
forgot to update this thread; docs have been updated so I am closing this
https://github.com/owncloud/documentation/pull/959

[2015-04-24 18:55] #14814 closed

[2015-04-24 19:09] tlhonmey commented on #11642
To avoid cluttering the control too much, it could enforce the same expiration date for internal and external shares and just add a checkbox for if it should apply to both of them or not.

[2015-04-24 19:13] tlhonmey opened #15871 "expired shared links don't update UI"
If you share a folder via a link, and then share files inside that folder individually via links with expiration dates, the shared icons for the individual files do not update when the link expires (id est:  they continue to show the files as shared via link.)  Clicking the share icon shows that the share parameters are blank, however and subsequent refreshes of the page will then show the file wi

[2015-04-24 19:52] VicDeo commented on #15219
@seal20 please have a look at https://github.com/owncloud/search_lucene/pull/84 for 1st point

[2015-04-24 20:09] biolumin commented on #15775
Which baby steps could use enhancement, and how would you suggest we enhance those steps?

[2015-04-24 20:27] oparoz commented on #15775
I'll give you 2 examples

#### The share dialogue.
It seems every time someone tries to touch it to add functionalities asked for by users, the change is met with resistance. Yes, it has to be kept simple so that it's not overwhelming for beginners, but advanced users don't want to have to switch app, configure special files or worst use a fork to do things like sharing a gallery or document view

[2015-04-24 20:48] biolumin commented on #15775
I understand, and have similar experiences with different open-source communities, so I understand your frustration.

Resistance is to be expected with any reasonable debate, because it's good to see all points of view. Because you referenced topics with a previous thread, I can't comment on those specific issues here. However, I'd suggest you consider coding forks you can add to the ownCloud apps

[2015-04-24 21:01] oparoz commented on #15775
Forks are a lot of work and can be dangerous because it can mean less resources available to both projects, but they're inevitable if a vision shared with a large fraction of the community is incompatible with the one of the owners of the project. We've seen this happening several times with large projects.

But I don't think we're there yet. It's just that I'm not a fan of sacrificing features in

[2015-04-24 21:11] biolumin commented on #15775
I understand both points of view. I believe we just haven't found the UX/UI option that satisfies both sides of the debate. We'll just have to be patient, and trust the process as well as our ability to solve these complex problems.

FWIW, I'd like additional functionality in this and other areas as well. I'll be putting some time into this and other UX/UI issues soon.

[2015-04-24 21:13] oparoz commented on #15775
I'm glad to hear that :)

[2015-04-24 21:41] nedimhx commented on #14185
Does anyone fix this problem ?

[2015-04-25 09:46] jospoortvliet commented on #15775
For me personally, I don't mind adding more options but only after all other options have been exhausted. And usually, adding another button is done because nobody bothered to find a proper solution to the problem.

If we have a problem, like with the gallery vs file view, let's talk about the problem rather than just discuss a very limited solution to a subset of the problem that introduces its o

[2015-04-25 11:46] eagles051387 commented on #15856
I can confirm I have the same issue but my install is on ubuntu 14.04 with the package of OC8.0 at the time from the open suse build system. Mine was not an upgrade but a clean installation.

[2015-04-25 13:29] SierraBMWCCA opened #15872 "Error upgrading from 7.0.4 to 8.0.2"
![image](https://cloud.githubusercontent.com/assets/12112048/7333061/37117084-eb2d-11e4-8f91-5031db09f0db.png)

Please Help...
In trying to upgrade I received the following error:
An exception occurred while executing 'CREATE TABLE oc_ownc_appconfig_yevmylckttaim (`appid` VARCHAR(32) DEFAULT '' NOT NULL, `configkey` VARCHAR(64) DEFAULT '' NOT NULL, `configvalue` LONGTEXT DEFAULT NULL, INDEX oc_k3a

[2015-04-25 13:57] RealRancor commented on #15872
Very likely a dup of:  https://github.com/owncloud/core/issues/14916 and/or https://github.com/owncloud/core/issues/14242

[2015-04-25 14:19] RealRancor commented on #7747
Hi,

something like this will be part of the OC 8.0.3 Enterprise Edition: https://github.com/owncloud/documentation/pull/1062

[2015-04-25 14:30] rullzer commented on #13213
@butonic I see how your expected behaviour could be expected. But I think you acceptable approach makes more sense. Since it really is a different share and else we need a way to better show the available permissions within a directory.

I'll crate a unit test to verify that behaviour. And then make sure everything works as expected. Hopefully we can get this into 8.1!

[2015-04-25 16:29] jancborchardt commented on #15775
A lot of it has already been said by @jospoortvliet – thank you.

However I feel I also need to address this since as designer I’m most often the person making these decisions.
Our main goal is definitely _not_ »copying Dropbox« and having a »dumbed down interface« – it is to be useful while being very easy to use. Sometimes that means to make hard decisions, or to just make incremental changes.

[2015-04-25 16:30] jancborchardt commented on #15775
cc @owncloud/designers if anyone has something to add.

[2015-04-25 16:46] biolumin commented on #15775
@jancborchardt I resonate with the quality and stability focus. In the environments I use ownCloud in, there are a handful of things that need refinement before resources are poured into new features.

@oparoz Once these refinements are addresses, I'm sure we'll see some love given to new features we'd all love to see implemented. If not from any one else, like I mentioned, at least from me.

[2015-04-25 17:34] coryulrich opened #15873 "Owncloud does not remember my trusted domain"
Hello all, I'm trying to use owncloud with my domain name. I've got the forwarding working perfectly, except every time I try to reach my owncloud by name it asks me to add the trusted domain and I do. I checked the config.php and it has added www.mydomain.com several times. I can't get owncloud to realize it's already added my domain as trusted. For good measure I changed the permissions to 755 t

[2015-04-25 17:35] LukasReschke commented on #15873
Thanks a lot for reporting issues back to us!

We need some more information to properly support you with your issue.

Can I ask you to follow our guidelines for submitting bugs as described here: https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

[2015-04-25 18:18] oparoz commented on #13610
- [ ] Move mimetypes.list.php to a text file in /config https://github.com/owncloud/core/issues/15384

[2015-04-25 21:32] oparoz commented on #15848
Duplicate of https://github.com/owncloud/core/issues/15548

And there is also [this issue](https://github.com/owncloud/core/issues/15703), discussing what's wrong with isLocal() and isMounted()

[2015-04-25 22:57] oparoz opened #15874 "Web uploader chokes on apostrophes"
### Env
FreeBSD - PHP-FPM 5.5 - Apache

### Steps to reproduce
1. Name a JPG "l'émotion.jpg"
2. Drop it on the web interface

### Expected behaviour
The file gets uploaded and a nice thumbnail shows up in the list of files

### Actual behaviour
Kaboom - Bad request - Error 400

If you remove the apostrophe, it will upload just fine

The problem probably comes from
`Content-Disposition: form-data;

[2015-04-26 11:15] rullzer commented on #13213
I started on the unit test. However just sharing a subfolder already fails in the unit tests. Which means something is probably not right in the unit test setup.

Unit test at: https://github.com/rullzer/core/blob/fix_13213/tests/lib/share/share.php#L392-L416

Error:
'''
1) Test_Share::testRwShareWithUserWithinRoShareWithGroup
Undefined index: path

/home/roeland/owncloud/core/apps/files_sharing/l

[2015-04-26 12:03] SierraBMWCCA commented on #15872
Thanks, I had tried to search the error and found nothing. I'll take a look at these.

[2015-04-26 14:33] #15872 closed

[2015-04-26 16:02] risacher commented on #14148
I've struggled with similar issues.  I would love to better understand how the mimetype is determined for the WebDAV interface.  Both .html and .svg files are served out from the WebDAV interface as 'text/plain', which is not what I expect.

[2015-04-26 17:29] SierraBMWCCA commented on #15872
I read them but didn't seem to solve my problem.

Carol 🏁

[2015-04-26 17:45] RealRancor commented on #15872
https://github.com/owncloud/core/issues/14916 is still open so you can subscribe to it to see if there is a solution provided there.

[2015-04-26 18:32] remixtj commented on #14148
@risacher this issue is clearly related to the usage of Swift as backend storage. As far as i can understand the problem you're experiencing is different

[2015-04-26 19:27] SierraBMWCCA commented on #14916
I'm a newbie and having the same problem. I first tried to upgrade through Softaculous but it would not let me upgrade from 7.0.4 to 8.0.2 so I went to the ownCloud app and tried to upgrade but received the same error (couldn't find this error so I created one: Error upgrading from 7.0.4 to 8.0.2 #15872). I have tried updating several times, disabling 3rd Party apps - I disabled most of the apps -

[2015-04-26 19:49] VicDeo commented on #15848
@oparoz not exact. It's about storage, not folder.

I just see no reason to have a method that is only capable to return false.

[2015-04-26 21:34] ruffni commented on #12193
i'm experiencing the same problem after upgrading from oc7 to oc8. neither 1.7.1.1655 nor 1.8 client do work... i guess it's a server issue, cause it seems not working from my phone either. the logs remain empty/not informative at all. webDAV seems to be working though.

[2015-04-26 22:01] oparoz commented on #15848
@VicDeo - It's exactly the same thing. A folder is "located" on a specific storage.
The command I'm refering to in the issue I mentioned is:
`$folder->getStorage()->isLocal()`

The log shows that it's wrapped in the encryption wrapper which corrupts isLocal().

I understand that it's not longer "local", but I think the new direction is wrong because it's misleading, thus my other open issue about

[2015-04-27 01:18] binarykitchen opened #15876 "Allowed memory size of ... bytes exhausted"
I ran the `occ` command three days ago and let it run without interruptions for a huge migration of 30 GB of encrypted data from v7 to v8. Then I got this error:

[code]

In the log file I spotted this:

[code]

But I had the private key in that directory before I started the `occ` process. Confused.

[2015-04-27 01:26] binarykitchen commented on #15876
By the way, `files_encryption\/xxx.private.key` does exist in my filesystem but a couple of things are not clear:
- The full path is missing
- Was it a permission issue?
- Why does the log not print where exactly in the code the error has been thrown?

[2015-04-27 04:47] RealRancor commented on #15876
Hi,

you have a memory limit for the php-cli of 96MB which is far too low. Try to increase it to something like 512MB.

Ref. https://github.com/owncloud/core/issues/12855

[2015-04-27 04:50] binarykitchen commented on #15876
@RealRancor okay, i will raise the limit and try again with the `occ` command. But what about the other issue with the private key? Should I raise a separate ticket for that?

[2015-04-27 05:15] RealRancor commented on #15876
I think the message is caused because the upgrade is migrating / rewriting the encryption keys during this process.

[2015-04-27 05:33] binarykitchen commented on #15876
Okay, see how it goes this time.

[2015-04-27 06:58] binarykitchen opened #15877 "When occ had an error, move back the files"
Each time when the `occ` command errored, it would be nice to move back all the files it has moved. This should be a pure transaction with a rollback mechanism.

For example I have to restore `./data/public-keys/` and `./data/owncloud_private_key/` everytime.

[2015-04-27 07:17] DeepDiver1975 commented on #15848
@icewind1991 which is true for encrypted files - but what about not encrypted? We have to properly reflect this.

@PVince81 maybe you have some ideas on this - THX

[2015-04-27 08:28] PVince81 commented on #15848
The original purpose of `isLocal()` was to tell whether the file can be accessed directly without going through any layers (basically a direct fopen() would work). Such information is needed for example for X-Sendfile which needs access to such local file.

Now with encryption I'd say the file cannot be opened directly so "isLocal()" should return false.
I agree that the name is misleading/confusi

[2015-04-27 08:30] DeepDiver1975 opened #15878 "t3.pl is failing on master"
## Background

git bisect did show that this is the failing commit https://github.com/owncloud/core/commit/2990b0e07e418577d55368c21200ada86c381b51

Detailed log of t3.pl execution: https://ci.owncloud.org/job/client-test-matrix-linux-8.1-enc/compiler=g++,label=master,mirallBranch=master,serverVersion=owncloud8.1,tc=t3/12/consoleFull

The failing test case is described in here https://github.com/o

[2015-04-27 08:38] PVince81 opened #15879 "Allow apps to register Sabre plugins"
We should look into allowing apps to register their own Sabre plugins.
This would make it possible for apps to provide additional properties.

@DeepDiver1975 if I remember well you were against this approach ?

If the use case is only about additional properties, then maybe we could use another API/approach to let apps register their properties/listeners in an ownCloud way (not Sabre plugin) and t

[2015-04-27 08:46] PVince81 commented on #15877
@schiesbn @th3fallen @DeepDiver1975

@binarykitchen you probably mean something like a command to restore backup keys

[2015-04-27 08:49] PVince81 commented on #15874
Works for me. Uploading this file through web UI works and downloading it from there again works too.

Could be specific to your environment ?

I have this:
apache2-2.4.12-2.1.x86_64
php5-5.6.7-1.1.x86_64
mariadb-10.0.14-2.3.x86_64

and use mod_php.

[2015-04-27 08:49] PVince81 commented on #15874
forgot to mention that I tested this on master 802f818c2770b8b52d050e8fbc7562295f995445

[2015-04-27 08:52] DeepDiver1975 commented on #15878
webdav move operation is falling apart:

[code]

[2015-04-27 08:52] mihaig11 commented on #12385
@PVince81 I am not experiencing the issue anymore, so far, so good.
Thanks

[2015-04-27 08:53] DeepDiver1975 commented on #15878
caused by https://github.com/owncloud/core/commit/2990b0e07e418577d55368c21200ada86c381b51#diff-77a99814cfcdf1bba7acd9ff95d4e143R140

[2015-04-27 08:53] PVince81 commented on #15871
The reason for this is because the expiration is done on-demand, which means the expiration logic only runs the next time the file is accessed or the share info is requested directly like when you open the dropdown.

I do agree that it might be confusing for a user's point of view.

One possible fix would be to provide a cron job / background job that runs once a day and iterates over all the shar

[2015-04-27 08:54] PVince81 commented on #15871
Another idea would be to auto-expire whenever we do a SELECT on the shares, for example when displaying the icons in the web UI. But that approach could make the UI / WebDAV slower. So I think the background job approach might be nicer.

[2015-04-27 08:54] DeepDiver1975 commented on #15878
introducing change: https://github.com/owncloud/core/commit/2990b0e07e418577d55368c21200ada86c381b51#diff-a36b9c0307e0126dd50baa38fb4bb74aR235

[2015-04-27 08:56] PVince81 commented on #15856
Did you guys disable "Share API" in the admin page ? If you wanted to disable sharing, then please also deactivate the "Sharing" app.
Do you see any Javascript errors when trying to scroll down in that folder ?

[2015-04-27 08:57] PVince81 commented on #12385
@mihaig11 thanks for the update. I'll close this ticket then.
If you see it happening again, feel free to reopen.
Thanks.

[2015-04-27 09:03] binarykitchen commented on #15877
absolutely @PVince81 and the whole occ thing must be transaction-oriented. a backup procedure always should come with restore functionality.

[2015-04-27 09:05] DeepDiver1975 commented on #15878
we are missing some checks in here https://github.com/owncloud/core/blob/master/lib/private/encryption/update.php#L140

[2015-04-27 09:08] PVince81 commented on #15848
Ok one thing I just remembered: the encryption wrapper is always there even when encryption isn't enabled. This means that `isLocal()` needs to check whether the encryption module is enabled for the underlying storage. If it's not, then call `return $this->storage->isLocal()`. If encryption is enabled, then `return false'.

[2015-04-27 09:26] SergioBertolinSG commented on #15777
Tested in 8.1alpha2, problem is still there. Password is not accepted.

[2015-04-27 09:28] PVince81 commented on #15777
@SergioBertolinSG hmm is this the same problem ? The original problem was that changing the password would recreate a new link token.

From your comment it sounds like the token did not change (which is fixed) but now with the old token it doesn't accept the new password ?

[2015-04-27 09:33] SergioBertolinSG commented on #15777
@PVince81 Yes that is the current behaviour. The token problem was another issue.

[2015-04-27 09:35] PVince81 commented on #15777
Thanks.
@rullzer can please you have a look ?

[2015-04-27 09:35] MorrisJobke commented on #15876
@DeepDiver1975 @LukasReschke Does it make sense to check for a memory limit of at least 512 MB for a CLI run? Otherwise these issues will pop up over time again.

[2015-04-27 09:48] nickvergessen commented on #15874
@oparoz can you make sure you have php-intl installed?

[2015-04-27 09:52] nickvergessen commented on #15871
Or we also expire the share when the dropdown is opened, so it "refreshes" the information?

[2015-04-27 09:56] PVince81 commented on #15871
There is a JS-side cache that contains all the shares, that cache could be updated, yes.
But the basic UX issue is probably that the user still thinks the file is shared before opening the dropdown.

[2015-04-27 10:12] LukasReschke commented on #15876
Can't judge on this. Sorry. – Personal feeling: Yes. If we can enforce that: Not sure ;-)

[2015-04-27 10:21] MorrisJobke commented on #15876
Maybe just add a notice and make it then a warning you can skip. Nothing to enforce, but to warn the user before any corruption happens.

[2015-04-27 10:46] TheReal1604 commented on #14209
Some news on this Bug? :/
Server side Encryption is necessary (for me..)

[2015-04-27 11:00] binarykitchen commented on #15876
Exactly, a check and a warning afterwards would have been extremely useful! Believe me, I already have wasted hours for this.

[2015-04-27 11:00] oparoz commented on #15874
I've updated the OP, but I've tested with another application on the same server and it also refused the file, so it must have something to do with my PHP setup.

php-intl is installed as a PECL extension.

[2015-04-27 11:04] PVince81 commented on #15619
Fixed by https://github.com/owncloud/core/pull/15839

[2015-04-27 11:04] #15619 closed

[2015-04-27 11:08] oparoz commented on #15874
Happens to lots of users on Wordpress as well
https://core.trac.wordpress.org/ticket/22694

[2015-04-27 11:28] #15667 closed

[2015-04-27 11:32] oparoz commented on #15874
It's mod_security complaining about a problem with the POST data. I should have checked that first...
`Multipart request body failed strict validation: PE 0, BQ 0, BW 0, DB 0, DA 0, HF 0, LF 0, SM 0, IQ 1, IP 0, IH 0, FL 0`

Apostrophes are used in scripts and modsec thinks it's an attack.

[2015-04-27 11:32] #15874 closed

[2015-04-27 11:42] oparoz commented on #15848
@PVince81 - I meant corrupt the meaning of isLocal(), since as you've pointed out, it shouldn't be false if encryption is disabled.
And I would still love some method telling devs whether files are local to this oC instance or not, as it makes a huge difference in access time.

[2015-04-27 11:43] chicobico opened #15883 "Owncloud Authentication does not work with PHP CGI"
Owncloud does not work on a server configuration which uses php as cgi and not as fcgi. These configuration is often used in Shared Hosting environments.
The error occurs if you try to access your installation through webdav with the owncloud clients.
[code]

The error occurs because the htaccess file only sets the XAuthorization Header if mod_fcgid.c is loaded.

To fix this problem change this li

[2015-04-27 12:09] kalletabur commented on #15856
I haven't disabled it. Sharing API is enabled and we use sharing.
No javascript errors while scrolling.

[2015-04-27 12:15] OwncloudProblem opened #15884 "Owncloud: Could not delete..."
Hello Community,
I have a Problem with my Owncloud. I can't delete files.
When i try to delete a file, Owncloud say "Could not delete..."
The file stay at the dashboard, but it is in the waste basket too.
But i can delete the file in the Explorer under C:/xamapp/htdocs/owncloud/.....
My Owncloud Version: 8.0.2
Windows 7 Pro 64 Bit

[2015-04-27 12:27] nickvergessen opened #15885 "Can't use function return value in write context"
[code]

![empty-getenv-path](https://cloud.githubusercontent.com/assets/213943/7347479/5a5b38be-ece9-11e4-8979-0b148e27feb0.png)

Caused by https://github.com/owncloud/core/pull/15617

Slapping @Xenopathic and @DeepDiver1975 as reviewers.

Will fix in a bit

[2015-04-27 12:33] LukasReschke commented on #15885
We should really add the PHPStorm Incompatibility scanner before the release, see https://github.com/owncloud/core/issues/15463#issuecomment-90890905 – should get added to some kind of release checklist.

cc @DeepDiver1975 @karlitschek

[2015-04-27 12:35] nickvergessen commented on #15885
I found this by defining a wrong path on the activity app, which runs
[code]

[2015-04-27 12:39] PVince81 commented on #15856
@kalletabur can you use the browser's DOM inspector on the white space to see if the elements exist there ? It could be some kind of weird rendering problem

[2015-04-27 12:42] lordfolken opened #15889 "Debian 8.0 Repository"
Hi,

Slowly Debian 8.0 comes into view. Would it be possible to instruct the build server to generate Packages for Debian 8.0?

[2015-04-27 12:42] LukasReschke commented on #15889
cc @jnweiger

[2015-04-27 12:43] LukasReschke commented on #15884
Thanks a lot for reporting issues back to us!

We need some more information to properly support you with your issue!

Can I ask you to follow our guidelines for submitting bugs as described here: https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

Furthermore we dropped Windows as a server platform with ownCloud 8.1 and thus encourage you to migrate to a Linux distribution. See https://

[2015-04-27 12:44] LukasReschke commented on #15884
Tentatively adding Windows server tags. Please post proper reproduction steps to verify if this is a platform problem.

[2015-04-27 12:45] LukasReschke commented on #15883
Duplicate of https://github.com/owncloud/core/issues/776,

[2015-04-27 12:45] #15883 closed

[2015-04-27 12:48] OwncloudProblem commented on #15884
OwnCloud run under Windows 7 (64bit) not Windows Server. I have download the .zip file an put it in the xampp folder. Which information you need?

[2015-04-27 13:01] DeepDiver1975 commented on #15889
This will be possible after release of Debian 8. OBS will prepare Debian 8 images after that. Not much we can do for now.

In addition Debian 8 will contain Debian 8.0 afaik.

[2015-04-27 13:03] LukasReschke commented on #15889
Shouldn't that be possible already? – At least what I understood from @jospoortvliet on https://twitter.com/jospoortvliet/status/591585222828883968

[2015-04-27 13:06] DeepDiver1975 commented on #15889
ah - nice - I missed that part

[2015-04-27 13:06] DeepDiver1975 commented on #15889
@jnweiger GOGOGO

[2015-04-27 13:06] #15848 closed

[2015-04-27 13:08] oparoz commented on #15548
Fixed via https://github.com/owncloud/core/commit/936d5640582ad5540d8287a133af06b3c9621bed

[2015-04-27 13:08] #15548 closed

[2015-04-27 13:10] DeepDiver1975 commented on #15884
Can I ask you to follow our guidelines for submitting bugs as described here: https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

[2015-04-27 13:14] OwncloudProblem commented on #15884
There is noone with the same problem...

[2015-04-27 13:16] #15885 closed

[2015-04-27 13:16] jnweiger commented on #15889
This is how it looked in OBS until today:

xUbuntu_15.04 succeeds nicely.
Debian_8.0 bailed out with an error: have choice for sysv-rc | file-rc needed by initscripts: openrc sysv-rc

I've crafted a workaround. Now it builds here:
https://build.opensuse.org/package/show/isv:ownCloud:community:8.0/owncloud

[2015-04-27 13:18] LukasReschke commented on #15884
Please fill out the issue template that is linked there, open it, copy the text, paste it in this issue, add all information that you have and remove that that you don't have.

![2015-04-27_15-17-06](https://cloud.githubusercontent.com/assets/878997/7348282/86a04b10-ecf0-11e4-8e0c-c5ff4e2a089b.png)

[2015-04-27 13:18] DeepDiver1975 commented on #15889
case closed then from my understanding - THX @jnweiger

[2015-04-27 13:18] #15889 closed

[2015-04-27 13:19] jnweiger commented on #15889
@DeepDiver1975 has faith in first time builds :-)

[2015-04-27 13:21] karlitschek commented on #15876
hmmm. wh does it need so much memory? maybe we have to make sure that it doesn't leak memiry before we require a higher memeory limit

[2015-04-27 13:30] DeepDiver1975 commented on #15794
generally speaking the description is in the command list:

[code]

[2015-04-27 13:30] RealRancor commented on #15876
Is 96MB that much memory for migrating 30GB of encrypted data?

[2015-04-27 13:31] PVince81 commented on #15703
@DeepDiver1975 so we want to rename isLocal() to a new name in 8.1 and change the public API ? Basically deprecate isLocal() and add a new method "canAccessFileDirectly()" and deprecate the old one ?

[2015-04-27 13:32] DeepDiver1975 commented on #15794
Before OC8 we had all translations stored in php files.
Afterwards we switched to js and json files.

This command can be used for apps to migrate their existing php based translations files over to the new format.

[2015-04-27 13:33] OwncloudProblem commented on #15884
### Server configuration
**Operating system**: Windows 7 (64bit)

**Web server: local in a domain

**Database: C:\xampp\htdocs\owncloud

**PHP version: 5.4

**ownCloud version:** 8.0.2
**Updated from an older ownCloud or fresh install: NO, Fresh Install

Insert your config.php content here
<?php
$CONFIG = array (
  'instanceid' => 'ocytv0exncve',
  'passwordsalt' => '*******',
  'secret' => 'faxm/

[2015-04-27 13:36] karlitschek commented on #15876
honstly yes. should be enough the migrate the keys

[2015-04-27 13:37] PVince81 commented on #15361
@schiesbn are you still seeing this ?

[2015-04-27 13:40] PVince81 commented on #15318
It should be "mailAddress" with two "d", not a single one.
@bvkuik can you confirm that the error you are seeing only has a single "d" ?

[2015-04-27 13:41] DeepDiver1975 commented on #15794
from my understanding we shall keep this until 8.2 including

[2015-04-27 13:43] PVince81 commented on #15202
Hmm status code 201 is "Created" and 204 is "No content". These Statuses should never be returned by a GET operation.

[2015-04-27 13:44] bvkuik commented on #15318
@PVince81 It says mailAddress, with two "d". I must have typed that wrong, sorry for the confusion

[2015-04-27 13:44] th3fallen commented on #15877
i agree completely with the transaction based backup, but how its done now is the entire encryption folder with all keys is moved to files_encryption_backup_{date} which should make things easier

[2015-04-27 13:48] PVince81 commented on #15147
There seem to be two different issues.
The first one involve some kind of race condition with refreshing: this is probably an existing/old issue.

The other one, which I observe on master, is that the tooltip doesn't stay after entering the name of an existing file, and the message inside looks like a JS error. This is a regression.

I'll have a look at fixing the latter.

[2015-04-27 13:52] PVince81 commented on #15147
Regression introduced by @LukasReschke through https://github.com/owncloud/core/pull/14652

I'll take care of it.

[2015-04-27 13:53] jnfrmarks commented on #15794
Do you have an (example) app with an existing php file that needs to be  translated?   I'd like to run this over the php file to verify the output if possible.

[2015-04-27 13:54] PVince81 commented on #15147
Funny thing, it looks like the method `FileList.checkName()` hasn't existed for a long time. So the error was hidden in the shadows and woke up after that PR.

[2015-04-27 13:59] PVince81 commented on #15147
It looks like the validation happened earlier, and prevented the user to hit enter in case of error, so "FileList.checkName()" was never called. Now that the early validation is gone for some reason, that happens.

I'll do the following:
1) Bring back the early validation
2) Code archeology to find out what checkName() was supposed to do and remove accordingly

[2015-04-27 14:00] nickvergessen commented on #15318
@bvkuik can you answer the question of @MorrisJobke

[2015-04-27 14:02] bvkuik commented on #15318
@nickvergessen @MorrisJobke Yes, the error still is there

[2015-04-27 14:03] jnweiger commented on #15889
Workaround discussed with Adrian. Fixed at SUSE now.

[2015-04-27 14:33] PVince81 commented on #15147
Fix is here: https://github.com/owncloud/core/pull/15893

[2015-04-27 14:39] LukasReschke opened #15894 "Proposal: Standardized API for external communication"
**Disclaimer:** I know that this is a controversial topic but I'd utmost appreciate it if before judging everything would take some time to read through my considerations. – I thought about this a long time and we either have the choice between: Adding not really 100% backwards compatible workarounds or come up with an alternate long-term approach. This issue should be considered a personal opinio

[2015-04-27 14:42] LukasReschke commented on #15894
That said this issue is obviously also here to discuss how we could achieve the same usability / documentation and security gains using the existing OCS endpoint. If somebody has feasible ideas I'd utmost welcome the input. – Consider it brainstorming.

[2015-04-27 14:44] atroxix commented on #15856
When looking at Elements under Chrome's developer tools it can be seen tha at some point all lines forward are created with some transparent class:
[code]

I also see 2 errors:
* Uncaught TypeError: Cannot read property 'toString' of undefined
* jquery-migrate.min.map:1 GET /core/vendor/jquery/dist/jquery-migrate.min.map 404 (Not Found)

[2015-04-27 14:50] nickvergessen commented on #15884
You can also disable the files_locking app to fix the issue:
https://github.com/owncloud/core/issues/14513#issuecomment-76173623

[2015-04-27 14:53] LukasReschke commented on #15884
@karlitschek @DeepDiver1975 What about for 8.0 adding code to `files_locking/appinfo/app.php` that will disable the app on Windows? – Should save us some bug reports.

[2015-04-27 14:54] nickvergessen commented on #15884
Or just merge/backport https://github.com/owncloud/files_locking/issues/10

[2015-04-27 14:56] PVince81 commented on #15856
The transparent class is set on the rows to create an animation by removing it.
But something is preventing the JS code to do its work.

@atroxix you too confirm that you didn't disable "Share API" in the admin page ? (because that's a known issue: https://github.com/owncloud/core/issues/15186)

Are you able to get the stack trace of that "toString" error ? (maybe with the debugger)

[2015-04-27 15:09] PVince81 commented on #15125
Hmm, it looks like every "hasUpdated" call causes the file's etag to change. So basically in `checkPreconditions` of the PUT operation, it sends the correct etag. And while we try and verify it, it does a `hasUpdated` call which itself changes the etag, and then it doesn't match => precondition failed.

[2015-04-27 15:11] Raydiation commented on #15894
Wow huge ticket :)

    Automated API documentation for all endpoints

VERY VERY IMPORTANT!!! Django Restframework generates in a form like this http://restframework.herokuapp.com/ for instance which is just plain awesome.

I like the API keyword, we have to consider resources too. Also a linkToApi function makes it less flexible in my opinion. What about adding an api key like **['name' => 'file_

[2015-04-27 15:11] PVince81 commented on #15125
This can be observed by running:

`curl -X PROPFIND http://root:admin@localhost/owncloud/remote.php/webdav/mount/test.txt | xmllint --format -`

and seeing that for every call, the etag of the file changes!

[2015-04-27 15:12] rullzer commented on #15894
Yes!!! :+1:
I would like to bring up that we have certain OCS endpoints that require a somewhat special handling. Capabilities etc. However this is a corner case and the proposal seems very solid in general.

I think we can all agree pretty quickly that OAuth2 support is very welcome and will help with a lot of issues/future work. However, like @LukasReschke pointed out this only works out if we c

[2015-04-27 15:13] Sugaroverdose commented on #15780
Try to disable sslv3 proto and ciphers in apache, safari still supports it but with some changes to fix poodle vulnerability, and it doesn't looks like it works properly

[2015-04-27 15:17] Raydiation commented on #15894
BTW regarding API deprecation: we should rely on hard data, aka how many apps and customers rely on the API and only remove them once we can say usage is neglible. Add new features to new APIs only to motivate people to migrate :)

[2015-04-27 15:20] PVince81 commented on #15125
Ok I think I got it:
It works properly with federation because the etag is read through the shareinfo.php call, and then set directly into the local cache.
It does NOT work when mounting OC directly because there is no logic to store the remote etag locally, so the local etag will ALWAYS be different than the remote one.

There are two possible fixes for this, either:
1) Disable the etag compariso

[2015-04-27 15:24] karlitschek commented on #15884
@LukasReschke sounds like the best approach.

[2015-04-27 15:25] karlitschek commented on #15884
@nickvergessen good idea. But maybe disabling it is the easier.

[2015-04-27 15:42] PVince81 commented on #15125
This PR fixes the OC ext storage resync/conflict, but will break DAV servers: https://github.com/owncloud/core/pull/15895
Needs further research

[2015-04-27 15:45] PVince81 commented on #15125
Also just observed on stable7.

Basically OC ext storage backend is broken with sync since the introduction of s2s/federation.

[2015-04-27 15:48] sbelov1 commented on #15842
@blizzz any updates?

[2015-04-27 16:22] PVince81 opened #15897 "WebDAV docker instance for autotest-external"
Provide a docker instance / test config for regular WebDAV servers.

This is important because some code paths need to fall back whenever the remote WebDAV server isn't ownCloud, for example when requesting etags or mtimes.

CC @MorrisJobke

[2015-04-27 16:23] PVince81 commented on #11717
- [ ] Regular WebDAV raised as: https://github.com/owncloud/core/issues/15897

[2015-04-27 16:24] PVince81 commented on #15897
@MorrisJobke I see you already prepared something here https://registry.hub.docker.com/u/morrisjobke/webdav/ :smile:

[2015-04-27 16:32] MorrisJobke commented on #15897
Yes. And it worked like this: :bomb: :boom: :boom:

[2015-04-27 17:22] craigpg commented on #13533
@gig13, I think @blizzz has provided some questions and next steps.

Which are missing?

Also, has the above patch been applied and retried?

[2015-04-27 17:23] kumarsanjeet101 opened #15898 "login failed LDAP user owncloud 8.0.2.0 LDAp user not authenticated"
{"reqId":"44a20f33cb3eb11447b6ba2b1e1caaea","remoteAddr":"172.16.10.57","app":"core","message":"Login failed: 'sanjeetk' (Remote IP: '172.16.10.57', X-Forwarded-For: '')","level":2,"time":"2015-04-27T16:40:08+00:00"}
{"reqId":"bab790a35282f748da35455fcd200374","remoteAddr":"172.16.10.57","app":"PHP","message":"Only variables should be passed by reference at \/var\/www\/html\/domaincloud\/lib\/priv

[2015-04-27 17:32] edfield commented on #15615
Installed new mysql packages that came out for Ubuntu. The reference to mysql-server no longer comes up, but owncloud still fails install.

# apt-get install owncloud
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distributio

[2015-04-27 17:36] kumarsanjeet101 commented on #15898
LDAP://pdc.domain.com  port ###
CN=domainclouduser,CN=Users,DC=domain,DC=com
pwd:#########
DC=domain,DC=com

userfilter
(&(|(objectclass=user))(|(memberof=CN=domainCloud,CN=Users,DC=domain,DC=com)))

loginfilter
(&(&(|(objectclass=user))(|(memberof=CN=domainCloud,CN=Users,DC=domain,DC=com)))(|(samaccountname=%uid)(|(mailPrimaryAddress=%uid)(mail=%uid))(|(displayName=%uid))))

groupfilter
.....(bla

[2015-04-27 17:49] LukasReschke commented on #15898
Thanks a lot for reporting issues back to us!

We need some more information to properly support you with your issue!

Can I ask you to follow our guidelines for submitting bugs as described here: https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

[2015-04-27 17:54] kumarsanjeet101 commented on #15898
@LukasReschke

no any commit found and code changes from your end can u describe brefilly in details. thanku before please describe the problem and solutions.

[2015-04-27 17:56] LukasReschke commented on #15898
Can you elaborate please? – I have troubles trying to understand your actual issue. Without the [issue template](https://raw.githubusercontent.com/owncloud/core/master/issue_template.md) we miss important information to debug this and help you.

[2015-04-27 18:01] kumarsanjeet101 commented on #15898
@LukasReschke
i have installed successfully and admin user logged in succesfully into the application. and i was configure with 1000 user of ldap but no anyone user logged in into application message forgot your password reset it! but username and password is correct.
In owncloud.log file
Login failed: 'aman' (Remote IP: '172.16.10.57', X-Forwarded-For: '')","level":2,"time":"2015-04-27T16:40:08+0

[2015-04-27 18:02] iliyasbasir commented on #15865
@blizzz : Re-produced step listed.

[2015-04-27 20:02] derkostka commented on #15791
i cannot reproduce this one either. Please close !

[2015-04-27 20:02] #15791 closed

[2015-04-27 20:16] bboule commented on #13781
@iliyasbasir can you take a look at @PVince81 comments and see if you can address the issue based on his suggestion?

[2015-04-27 20:36] dagan opened #15899 "OCP\IServerContainer::getRootFolder() @return should be IRootFolder"
The return value of `OCP\IServerContainer::getRootFolder()` is documented as `OCP\Files\Folder` but is more specifically `OCP\Files\IRootFolder`, which extends `OCP\Files\Folder` to include `OC\Hooks\Emitter`.

[code]
https://github.com/owncloud/core/blob/master/lib/public/iservercontainer.php#L87-L93

[2015-04-27 20:36] dagan commented on #15899
@butonic

[2015-04-27 20:59] #15147 closed

[2015-04-27 21:07] craigpg commented on #15865
This is not a top-10 issue so I'm clearing the milestone assignment.

[2015-04-27 21:10] craigpg commented on #13957
Clearing milestone assignment since we think it's fixed in #15332.

[2015-04-27 21:15] craigpg commented on #12035
@cdamken, can you (re)confirm the status of this case?

[2015-04-27 21:22] MorrisJobke commented on #12035
@craigpg We are currently working with ETH to get the first iteration of the cleanup done. The tests succeeded today and we plan another test together with them. E-mail to them is out - just minutes ago ;)

https://github.com/owncloud/consulting/tree/eth

[2015-04-27 21:23] nickvergessen commented on #15865
@craigpg atm we use milestones to track in which oC version something should be fixed ideally. Not whether it's a top 10 issue (what every list on) or not

[2015-04-27 21:25] binarykitchen commented on #15876
correction, i have 40 GB encrypted data. and yes, i suspect a memory leak too.

the `occ` command at high verbosity should print memory usage every 15 min or so, this as an observation. plus i think PHP is able to add a memory hook saying i.E. when usage has reached 95%, print a memory dump. like that you can see the bad variables which are never unset.

[2015-04-28 00:54] tlhonmey commented on #15871
That was my primary concern, at least.  It's hard to go through and clean out files that are no longer shared if you can't see that they're being shared.

[2015-04-28 03:40] dandv opened #15900 "Set the Website of this GitHub repo to http://owncloud.org"
Example:

[![Adding GitHub repo URL](https://cloud.githubusercontent.com/assets/33569/6536430/76a7d88e-c402-11e4-8883-6ab2c7b8c30a.png)](https://github.com/dandv/meteor-webix)

[2015-04-28 05:06] michag86 commented on #15438
Duplicate #14127

[2015-04-28 06:00] DeepDiver1975 commented on #15897
This is already live on jenkins.

[2015-04-28 06:04] #15438 closed

[2015-04-28 06:56] OwncloudProblem commented on #15884
Hello, my english is not so good, is it possible do give my an answer on german, how i can resolve the problem?

[2015-04-28 06:56] conxdev opened #15902 "Unable to list files/folders using Http/WebDAV client for php"
Although the PROPFIND request returns the correct xml from the terminal we are unable to access any files/folders using the PROPFIND verb from the WebDAV client by sabre. (http://sabre.io/dav/davclient/)

Have also tried it using guzzle, but getting the same response object.

Code

        $settings = array(
            'baseUri' => $url,
            'userName' => $username,
            'password'

[2015-04-28 07:14] nickvergessen commented on #15884
Einfach die App "file locking" deaktivieren

[2015-04-28 07:20] OwncloudProblem commented on #15884
Darf ich fragen, wie und wo ich das machen kann?

[2015-04-28 07:22] nickvergessen commented on #15884
Einfach auf deine ownCloud gehen, oben auf den Schriftzug ownCloud drücken, im DropDown auf " :heavy_plus_sign: Apps" gehen. In der Liste sollte jetzt "File locking" stehen, dadrunter einfach auf "deaktivieren" drücken.

[2015-04-28 07:34] OwncloudProblem commented on #15884
Es funktioniert!!! Vielen Dank!

[2015-04-28 08:04] #15899 closed

[2015-04-28 08:07] PVince81 commented on #15871
Let's have a look at this for 8.2

[2015-04-28 08:14] PVince81 opened #15904 "shareinfo.php vs PROPFIND for s2s / owncloud as external storage"
When using ownCloud as external storage, it will simply use the ownCloud external storage backend which is based on the DAV external storage backend.

When using server to server sharing aka federation, it uses the DAV external storage backend (not the ownCloud one), but also uses an additional endpoint "ajax/shareinfo.php" which delivers snippets of the remote cache.

The problem with this is tha

[2015-04-28 08:18] rullzer commented on #15777
Ah yes! Thanks for spotting!
I escaped to much apparently and extra ' are added. PR is on the way!

[2015-04-28 08:19] PVince81 commented on #15802
Slightly related: https://github.com/owncloud/core/issues/15904 would be an alternative approach (switching to PROPFIND with an update detection logic similar to the sync client instead of shareinfo.php)

[2015-04-28 08:19] PVince81 commented on #15897
@DeepDiver1975 really ? Maybe you meant the ownCloud external storage test, not the WebDAV one. There is no start script for the pure WebDAV one.

[2015-04-28 08:23] PVince81 commented on #15902
@conxdev can you try with another client like cadaver and see if WebDAV is configured properly on your server ? Does the sync client work ?

ownCloud is using Sabre's davclient to mount server to server shares (federation) and also ownCloud as external storage, so it should work.

[2015-04-28 08:24] PVince81 commented on #15902
also what do you mean with "unable to access any folder" ? What response are you getting when doing a PROPFIND on those folders ? 404 ?

[2015-04-28 08:25] PVince81 commented on #15900
@karlitschek @DeepDiver1975

[2015-04-28 08:34] jvillafanez opened #15905 "Missing openLDAP users binding with a non-rootDN account with pagination limits"
### Steps to reproduce
1. Modify the configuration of the openLDAP server to add pagination support limits in the server
    1. Add the olcRootDN and olcRootPW to /etc/ldap/slapd.d/cn=config/olcDatabase={0}config.ldif so we can change the configuration
    2. Change the configuration setting the size.pr limit. (Use the username and password set before so the configuration is changed successfully)

[2015-04-28 08:35] jvillafanez commented on #15905
@blizzz

[2015-04-28 08:37] MorrisJobke commented on #15897
The webdav tests only work with ownCloud as webdav endpoint. Not with any other webdav endpoint ...:(

[2015-04-28 08:39] DeepDiver1975 commented on #15897
https://ci.owncloud.org/job/server-master-linux-externals/

you are right ... too much things going on here ...

[2015-04-28 08:41] #15900 closed

[2015-04-28 08:41] DeepDiver1975 commented on #15900
fixed

[2015-04-28 08:42] rullzer commented on #15777
PR in #15906

[2015-04-28 08:42] Hoper opened #15907 "Don't get users from LDAP Server (no-tls)"
I have the owncloud server v7 with config user from LDAP - ok
But when I try to config LDAP owncloud v8 - I don't get  users from LDAP
LDAP server log:

============================
Apr 28 11:22:07 ldap-v3 slapd[1630]: conn=29094 fd=39 ACCEPT from IP=192.168.1.1:40747 (IP=0.0.0.0:389)
Apr 28 11:22:07 ldap-v3 slapd[1630]: conn=29094 op=0 EXT oid=1.3.6.1.4.1.1466.20037
Apr 28 11:22:07 ldap-v3 slapd[

[2015-04-28 08:46] #15766 closed

[2015-04-28 08:48] DeepDiver1975 commented on #15825
@th3fallen can you please take care of this? THX

[2015-04-28 08:48] DeepDiver1975 commented on #15823
@th3fallen can you please taken care of this? THX

[2015-04-28 08:49] DeepDiver1975 commented on #15822
@th3fallen can you please take care of this? THX

[2015-04-28 08:50] DeepDiver1975 commented on #15820
@jancborchardt can you help out here? THX

[2015-04-28 08:50] DeepDiver1975 commented on #15819
@jancborchardt can you help out here? THX

[2015-04-28 09:24] PVince81 commented on #11804
- [ ] locking provider
   - [ ] acquire lock (shared lock, exclusive lock)
      - [ ] $view->acquireLock() / releaseLock() => calls $storage->acquireLock() ...
      - [ ] $storage->acquireLock() / releaseLock() => calls locking provider
   - [ ] timeout handling
   - [ ] fileid or path based ? (on owner)
   - [ ] memcache (first)
   - [ ] database (second, if needed)
- [ ] plug it into the code

[2015-04-28 09:27] PVince81 commented on #11804
- [ ] scanner needs to lock too

[2015-04-28 09:29] PVince81 commented on #11804
- [ ] unit test: acquire lock directly, then call $view->operation to ensure that it also acquires the lock

[2015-04-28 09:31] PVince81 commented on #11804
- [ ] raise smashbox ticket with matrix of operations

[2015-04-28 09:38] PVince81 commented on #11804
- [ ] refresh lock for long running operations ? (touch operation)

[2015-04-28 09:40] PVince81 commented on #11804
- [ ] release lock on shutdown handler, if possible

[2015-04-28 09:54] PVince81 commented on #11804
- [ ] config.php switch to "Enable EXPERIMENTAL locking"

[2015-04-28 09:56] DeepDiver1975 commented on #15907
@blizzz please have a look - THX

[2015-04-28 10:01] PVince81 commented on #11804
- [ ] allow locking outside of "files" (like files_trashbin, thumbnails), but probably not "files_encryption" and "cache"