[2016-04-19 16:12] #23989 closed

[2016-04-19 16:14] PVince81 commented on #20555
@MorrisJobke you mean this is the workaround ? Sounds similar to https://github.com/owncloud/core/issues/20555#issuecomment-163751553

So it looks like this is something that can be solved by modifying the database/cluster configuration ?
(like https://github.com/owncloud/core/issues/20555#issuecomment-157363041)

Anything else that needs to be done on the code side ?

[2016-04-19 16:23] fcturner commented on #21972
No, I don't know exactly. But it's not from human action, as there are sometimes up to 20 log entries within the same second. Besides, users cannot set a value (null). Empty values would appear as ''.
Seems like an error in a procedure that calls the password validation check. I think this latter check is being called with empty parameters (value: NULL).

[2016-04-19 16:34] Xenopathic commented on #24066
Just 755 (or even 700) is fine, as long as the web server user can write to it.

[2016-04-19 16:37] remkolodder commented on #23513
Anything I can do to get this going? Once my laptop reconnects to the local network and thus starts the sync, I get the errors.

[2016-04-19 16:40] PVince81 commented on #20509
@timreeves did it work better with 8.2.3 ?

[2016-04-19 16:43] PVince81 commented on #17544
Ok, thanks for the feedback. Closing.

[2016-04-19 16:43] #17544 closed

[2016-04-19 17:12] Skippidar commented on #24051
What if create file named "multiviews.html" printing only "enabled" and if "site_dir/multiviews" returns "enabled" - show error message.

[2016-04-19 17:24] VicDeo commented on #23090
@PVince81 Pushed https://github.com/owncloud/administration/issues/74

- [ ] Upload it to https://download.owncloud.com/download/community/setup-owncloud.php once PR is merged

[2016-04-19 17:37] josh4trunks commented on #23560
@drfuture your nginx config is not correct for OC9
please see https://github.com/owncloud/documentation/wiki/ownCloud-9.x-nginx-config

[2016-04-19 17:54] jnweiger commented on #23878
Only pushed to http://download.owncloud.org/download/repositories/9.0:/testing/owncloud
Please test if this fixes the issue. For me it appears to do so. I had to manually remove the /usr/share/doc/owncloud*/owncloud-config-apache.conf.default file to trigger the issue. Maybe that make my test invalid.

[2016-04-19 17:55] tyrylu commented on #23492
Firstly, thank you for the file path pointer, it was really helpful.
And #24104 is the fix.

[2016-04-19 18:37] tbartenstein commented on #17201
I may be able to provide more info on this issue.

I have a "server cascade" with NGINX running Owncloud listening on port 8081, Varnish on 8080 and NGINX as SSL terminator on port 443.
In my config, "overwritewebroot" is set to "/owncloud" (without trailing slash).

When I call "https://example.de/owncloud" (without traiing slash), I am redirected to "https://example.de:8081/owncloud/" (with trai

[2016-04-19 18:42] rullzer commented on #23782
PR that fixes both cases in https://github.com/owncloud/core/pull/24098 now

[2016-04-19 18:42] rullzer commented on #23783
PR that fixes this in https://github.com/owncloud/core/pull/24098

[2016-04-19 18:48] butonic commented on #22652
@dragotin and what is the current status? How does the desktop client determine what to display in the list of search results? Does it show a spinner when search is in progress?

[2016-04-19 18:52] LukasReschke commented on #24088
The function is not used, it's just PHP that throws that warning. Either set the config flag or live with that warning. 😉

[2016-04-19 18:52] #24088 closed

[2016-04-19 18:52] rullzer commented on #18910
PR is merged. closing this.

[2016-04-19 18:52] #18910 closed

[2016-04-19 18:59] rullzer commented on #24053
Nice use case.

The sharing code actually does what we ask from it. A file is moved from storage `A` to storage `B`. Shares don't have the concept of versions or trashbin. That is stuff we add later.

We would need to keep track of moves in the trashbin. And if we move from a sharedStorage to also add the files in the trash of the owner.

But we should really think and discuss how to do this. As t

[2016-04-19 19:07] rullzer commented on #23817
@ScottyTM yes I did thanks. Unfortunatly no time to look into it in detail yet.

[2016-04-19 19:17] dragotin commented on #22652
I dont know. @rullzer?

[2016-04-19 19:21] rullzer commented on #23817
@ScottyTM ok had a quick look and it actually looks good. You just have a lot of shares that are shared to a group and then a lot of group members moved the shares around.

[2016-04-19 19:21] PVince81 opened #24105 "Folder size not propagated when uploading as share recipient with encryption enabled"
### Steps

1. Setup OC 9.0.1
1. Enable encryption
1. Create two users "user1" and "user2"
1. Login as "user1"
1. Create a folder "test"
1. Share "test" with "user2"
1. Login as "user2"
1. Create a subfolder "test/sub"
1. Upload a non-empty file into "test/sub" in the web UI
1. Navigate to folder "test"
1. Check the size of the folder "sub"

### Expected result
Size of "sub" matches contents

### A

[2016-04-19 19:21] rullzer commented on #23817
Still that number is huge... So I'll try to dig deeper.

[2016-04-19 19:23] PVince81 commented on #24105
This is bad because it could also doesn't update the share owner's root folder size, so the usage quota isn't updated properly.

[2016-04-19 19:25] PVince81 opened #24106 "Bogus shared:: storage entry in oc_storages"
### Steps
1. Setup OC 9.0.1
2. Enable encryption
3. Create two users "user1" and "user2"
4. Login as "user1"
5. Create a folder "test"
6. Share "test" with "user2"
7. Login as "user2"
8. Create a subfolder "test/sub"
9. Upload a non-empty file into "test/sub" in the web UI
10. Navigate to folder "test"
11. Check the size of the folder "sub"
    (from https://github.com/owncloud/core/issues/24105 a

[2016-04-19 19:26] PVince81 commented on #24106
There are no `oc_filecache` entries for that storage though, and no `oc_mounts` entry points to that.

[2016-04-19 19:30] rullzer commented on #23817
Mmmm your share table is a bit messed up. And I have no idea why. But just run the following query...

[code]

@schiesbn any idea why?

[2016-04-19 19:31] rullzer commented on #24106
No idea why this is happening... @schiesbn maybe?

[2016-04-19 19:34] PVince81 commented on #24105
Also the folder sizes cannot properly be corrected with occ files:scan because of encrypted size vs unencrypted size!

Regression check:
- v8.2.2: ok
- v8.2.3: ok
- stable8.2: ok
- v9.0.0: fail
- v9.0.1: fail

[2016-04-19 19:38] rullzer commented on #22652
Uhm... let me have a more detailed look tomorrow...

[2016-04-19 19:39] rullzer commented on #24032
Aah but that of course won't help in 9.x... I'll see if there is a quick fix for this.

[2016-04-19 20:07] aronovgj commented on #23867
An answer to that question would be nice

[2016-04-19 20:13] drfuture commented on #23560
thx for info @josh4trunks i forgot this info - on the day i changed the nginx version i copyed this config 1:1 and only changed the root-dir and my socket-port .... sorry for that

maybe i can create a full list of my current config tomorrow to make it more easy to read.

[2016-04-19 20:20] cmonteroluque commented on #22347
I agree. CC @MTRichards as a heads up

[2016-04-19 20:21] PVince81 commented on #24105
Bisect was tough due to many internal server errors on the way.

It pointed at this commit: 1369f2c6840e6bbac50526236771cb730a74f975 from PR https://github.com/owncloud/core/pull/21851

Before that commit, even though the upload fails with 500 error, the folder size is correctly updated.
After that commit, the folder size is either -1 or 0. So not sure if that commits is directly related or if the

[2016-04-19 20:32] MTRichards commented on #22347
As long as we actually cover it, sounds like a plan for 9.1.

[2016-04-19 20:44] georgehrke commented on #21173
Yes, I'll take a look when I'm back from vacation next week

[2016-04-19 20:46] drfuture commented on #23560
So i updated my Startposting to the actual config if fogot something just ask :+1:

[2016-04-19 20:54] PartisanEntity commented on #24047
I have run this again with the same result, before I restore (I need a working owncloud istance) here is the requested info:

[code]

**List of activated apps:**

[code]

**The content of config/config.php:**

[code]

**Are you using external storage, if yes which one:** local/smb/sftp/...

no

**Are you using encryption:** yes/no

no

**Are you using an external user-backend, if yes which one:**

[2016-04-19 22:09] amc2002 commented on #23727
I had this issue as well. I had two groups - Tech Pubs and QA. Each of them have access to SharedFolder. Usually, users in both groups would just see one instance of the folder. However, under certain circumstances, such as removing a user from one of the groups, then re-adding him to the group, a new folder SharedFolder (2) - would show up with duplicate content. If you delete one, the other woul

[2016-04-19 23:14] rogerfv1 commented on #23632
Everything works fine now! Thanks!

[2016-04-20 00:04] binarykitchen commented on #23532
perfect, that worked. thanks!

[2016-04-20 00:04] #23532 closed

[2016-04-20 05:34] tslben commented on #23427
Workaround is to add "$this->realm = 'ownCloud';" to the constructor in /var/www/owncloud/apps/dav/lib/connector/sabre/auth.php although now you'll get an integrity check failure.  Also you have to do it every time there is an OC upgrade.
But at least you won't get calls from 100 users saying "What's this dialog when I start Thunderbird and what the hell is sabre/dav?"

[2016-04-20 07:10] ChristophWurst commented on #23816
(copied from https://github.com/owncloud/mail/issues/1422#issuecomment-212289675):

I am running on Debian, with apache 2.4.18 with php 7.0.5.

[2016-04-20 07:17] SergioBertolinSG commented on #23792
Step 4 is not needed. The VM has to be running.

[2016-04-20 07:53] nickvergessen commented on #22652
just tested:
It shows **no** spinner while the request is out, and it shows the display name in the dropdown

[2016-04-20 07:58] nobody1407 opened #24109 "Integrity Check find some files"
### Steps to reproduce
1. Update Owncloud to 9.0.1
2. Open admin page

### Actual behaviour
The integrity check find some files they dont exist in the folders

### Server configuration
**Operating system**:
Debian 8

**Web server:**
nginx/1.6.2

**Database:**
mysql  Ver 14.14 Distrib 5.5.47, for debian-linux-gnu (x86_64) using readline 6.3

**PHP version:**
PHP 5.6.19-0+deb8u1

**ownCloud version:

[2016-04-20 08:02] PartisanEntity commented on #24047
(I have added some more info) Since this issue is closed, do I need to open a new issue? @DeepDiver1975 @RealRancor

[2016-04-20 08:06] RealRancor commented on #24109
Hi,

you need to manually delete the files. Those are located within the "apps" folder, e.g.:

/var/www/owncloud/apps/dav/lib/carddav/card.php

and then do a rescan within your admin backend.

[2016-04-20 08:08] nobody1407 commented on #24109
Oh damn, I´m sorry....my mistake.. :(
I searched in /var/www/owncloud/lib/carddav/card.php

Thank you for your quick response :+1:

[2016-04-20 08:11] RealRancor commented on #24047
@PartisanEntity I don't think it is needed to reopen or create a new issue. This problem is caused by a wrong webserver config which is serving the mentioned javascript files as:

``text/html``

instead of the correct:

``application/javascript``

If you have further questions please ask for additional help at the forums or the users mailinglist: owncloud.org/support (IIRC there was a post about t

[2016-04-20 08:13] PartisanEntity commented on #24047
@RealRancor thanks for your quick reply. I am not sure I understand so sorry for the redundant question but, how can it work under 8.2.3 with the same server settings but not under owncloud 9? Is there something radically new/different in owncloud 9?

[2016-04-20 08:14] PVince81 commented on #10901
@rullzer pointed out that this might already be covered by the password policy app ? Or is it missing something ?

[2016-04-20 08:14] PVince81 commented on #10901
Ok, just remembered that the password policy app is only for link share passwords. It doesn't affect user entered passwords.

[2016-04-20 08:16] ghost opened #24110 "Clarify "apps" folder and "core" in integrity Check results"
### Steps to reproduce
1. Have invalid files somewhere within an app in the /apps/ folder or in the root directory
2. Trigger integrity check
3. Check the failed files
### Expected behaviour

[code]
### Actual behaviour

[code]

The main problem here is that also a `core` folder exists within the ownCloud install folder. Furthermore its not always clear for a user that the `calendar` is located wi

[2016-04-20 08:17] PVince81 commented on #22347
@MTRichards @cmonteroluque to clarify, this is about the web UI on mobile, not mobile apps.

[2016-04-20 08:19] RealRancor commented on #24109
@nobody1407 Feel free to close here on your own by hitting the "close" button below the comment field. I have raised https://github.com/owncloud/core/issues/24110 separately to make this more obvious.

[2016-04-20 08:20] RealRancor commented on #24047
IDK, maybe some more stricter security rules within oC9.

[2016-04-20 08:20] #24109 closed

[2016-04-20 08:23] PartisanEntity commented on #24047
OK I will post in the forum and see if anyone had the same issue. p.s. you might want to have someone look through the forum, there is a ton of spam in the subforum owncloud 9.

[2016-04-20 08:34] LukasReschke commented on #24110
Good point. I'll see to adjust this, might indeed makee that stuff easier to understand :+1:

[2016-04-20 08:36] PVince81 commented on #21763
@Romelhun how did you upgrade ?

You shouldn't delete tables, ownCloud should already detect that the table is there and should not try to recreate it.

Many try upgrading with the CLI `occ upgrade --skip-migration-test`.
Usually the migration test will duplicate the tables, but it should use another name. Maybe on your system it fails to use another name for some reason. (just guessing, if you tr

[2016-04-20 08:43] RealRancor commented on #24110
I see currently one issue but maybe that could be solved:

The /apps/ folder can be configured differently

[2016-04-20 08:57] PVince81 commented on #20484
@michaelstingl backport https://github.com/owncloud/core/pull/24000 was merged for 8.2.4

[2016-04-20 09:06] PVince81 commented on #22450
@cdamken can you enable the PHP module XDebug on your server ? When enabled, the logs should then contain more information like the stack traces that @VicDeo needs

[2016-04-20 09:07] nickvergessen commented on #19180
https://ci.owncloud.org/job/core-ci-linux/database=oci,label=SLAVE/29526/testReport/%28root%29/OCA_Files_sharing_Tests_EtagPropagation/ 4min 50 secs

[2016-04-20 09:09] MorrisJobke commented on #20555
No this is the description of the environment, where this happens ;)

[2016-04-20 09:13] MorrisJobke commented on #19656
Fixed via https://github.com/owncloud/core/pull/23903#issuecomment-211755488

[2016-04-20 09:13] #19656 closed

[2016-04-20 09:13] PVince81 opened #24114 "Reset storage availability when external storage config changed"
Whenever an external storage config has changed, the availability check for the storage needs to be reset to make sure the web UI can find it instead of assuming it's still unavailable.

This situation can be triggered by mounting an external storage, accessing it, then changing the remote password to make it unavailable. Then change the password in the config too.

There are three places where re

[2016-04-20 09:19] PVince81 commented on #24114
also ideally there should be an API to be able to reset that flag, not sure on what level

[2016-04-20 09:22] MorrisJobke commented on #19091
If the SVG doesn't work out maybe we should just move on and provide the new and the old way in parallel and then switch the old loading spinner of later (maybe with ownCloud 10 or 11)

[2016-04-20 09:25] MorrisJobke opened #24115 "Update from stable9 to master fails in web UI"
Upgrade from stable9 (fix_24032) to master (hide-hidden-files) fails.

"Updates need to be installed. Please use the command line updater."

<img width="348" alt="bildschirmfoto 2016-04-20 um 11 23 39" src="https://cloud.githubusercontent.com/assets/245432/14669752/8b8e6bd8-06ea-11e6-95d7-82112c014dc8.png">

Works totally fine on command line, but web UI only shows the above.

cc @LukasReschke @De

[2016-04-20 09:37] skjnldsv commented on #19091
here is a full post about my tests and researches:
There are many ways to animate svg:
 1. Css embeded in the svg _http://codepen.io/skjnldsv/pen/aNKqbz_
 2. SMIL animations embeded in svg
 3. Css animation outside the svg (with `::after` and `::before`) _http://codepen.io/skjnldsv/pen/ONENbE_
 4. Background-position animation with steps _http://codepen.io/skjnldsv/pen/oxypqg_

Pros and cons:
 1.

[2016-04-20 09:42] #22947 closed

[2016-04-20 09:42] e-alfred commented on #24053
This should also apply if Bob is deleted by the administrator. It would make life much easier because it wouldn't make sharing a hell (analogous to the dependency hell) for the admin if he has to remove a user with loads of shared files. Also Alice wouldn't be in for a bad and nasty suprise if the shared files are suddenly gone.

[2016-04-20 09:43] jancborchardt commented on #19091
Sounds reasonable, I'd say go for it. Stuff always evolves and needs to be changed eventually, let's do what works best now.

[2016-04-20 09:43] rullzer commented on #13241
Just to update here. I'm slowly moving all the stuff in `lib/private` to PSR-4. So we are moving in the right direction.

[2016-04-20 09:45] oparoz commented on #19091
Not according to http://caniuse.com/#feat=svg-smil

[2016-04-20 09:47] skjnldsv commented on #19091
Ouups, my bad!
That being said, we still have the gif fallback for ie, so we should be good!

[2016-04-20 09:54] #23492 closed

[2016-04-20 09:54] #23632 closed

[2016-04-20 09:56] DeepDiver1975 commented on #13263
we have our cla-bot live to check if the author of a pr has signed the contrib agreement.
No further action required for now

[2016-04-20 09:56] #13263 closed

[2016-04-20 09:58] #2589 closed

[2016-04-20 10:04] oparoz commented on #19091
Yes and http://loading.io/ can help us come up with both the SVG and the GIF

[2016-04-20 10:07] skjnldsv commented on #19091
Yep, but the gifs are terrible! :(

[2016-04-20 10:20] oparoz commented on #19091
I don't think they look that bad...

![ring-alt](https://cloud.githubusercontent.com/assets/323220/14671477/404b32c0-06f2-11e6-9e3c-8cc4acb2ac37.gif)

[2016-04-20 10:22] skjnldsv commented on #19091
^^
![capture d ecran_2016-04-20_12-21-58](https://cloud.githubusercontent.com/assets/14975046/14671525/7e4a3652-06f2-11e6-8bef-da13cf696754.png)

[2016-04-20 10:22] oparoz commented on #19091
Of course, but it's the same with today's gifs, they just look horrible on a dark background.

[2016-04-20 10:23] oparoz commented on #19091
The dark version

![ring-alt-dark](https://cloud.githubusercontent.com/assets/323220/14671561/b9ff5718-06f2-11e6-8e9c-be6d7bcc6dbe.gif)

[2016-04-20 10:24] skjnldsv commented on #19091
I know! Just found this funny! :)
Didn't mean to mock you! ;)

[2016-04-20 10:26] oparoz commented on #19091
Don't worry, I didn't take it personal ;). What I'm saying is that GIFs are always going to look bad, especially because you don't control the environment, so a shame for IE users, but not a big deal.

[2016-04-20 10:52] Xenopathic commented on #24114
It does, doesn't it? Changing the config in the settings triggers an immediate recheck, which will set the availability accordingly.

[2016-04-20 10:54] Xenopathic commented on #24114
Oh god, this might be a race condition. If ownCloud is in the process of rechecking availability when the storage config is changed, the storage might be marked as unavailable due to the race...

[2016-04-20 11:24] MTRichards commented on #22347
Yes, understood.

[2016-04-20 11:26] ScottyTM commented on #23817
+------------+--------------------------------------+--------------------------------------+--------+-----------+
| share_type | share_with                           | uid_owner                            | parent | count(id) |
+------------+--------------------------------------+--------------------------------------+--------+-----------+
|          2 |                                      | 24cf

[2016-04-20 11:36] MorrisJobke commented on #22947
How critical is this? The fix went into master. It also moves a lot of code and I would vote against a backport to stable8.2. @michaelstingl Is this okay?

[2016-04-20 11:36] MorrisJobke commented on #22947
cc @karlitschek

[2016-04-20 11:37] MorrisJobke commented on #22947
It seems the backport is already decided: https://github.com/owncloud/core/pull/23980#issuecomment-212352956 ...then nevermind my comment.

[2016-04-20 11:40] Xenopathic commented on #24115
Hah, looks like the default config values for `update.disable-web` introduced with #23922 are inconsistent - the update.php defaults to true (forcing occ) but the template defaults to false (allowing web update).  cc @DeepDiver1975

[2016-04-20 11:41] MTRichards commented on #24053
I think we should tee this up for design week, because it is unlikely to be fixed prior to 9.2 given the amount of thinking and impact on core.

[2016-04-20 11:43] MTRichards commented on #24053
Let's make a feature request out of 00005262 with this.

[2016-04-20 11:44] DeepDiver1975 commented on #24115
I will take care

[2016-04-20 11:48] #24095 closed

[2016-04-20 11:50] SergioBertolinSG opened #24121 "Clean/Fix exceptions when running integration tests"
Currently while runnning integration tests several carddav exception are thrown with every step.

This creates a lot of noise in the output of the tests. Will be better to have it silenced.
[code]

[2016-04-20 11:54] SergioBertolinSG commented on #24121
cc @DeepDiver1975

[2016-04-20 11:58] cdamken commented on #24053
@MTRichards  Surfnet (another person) asked some similar as a feature request in [00005283](https://na25.salesforce.com/5003100000Zbw5O).

IMO I think that folders under the share should be kept as part of the share.

The owner (Bob in this case) should be informed that a folder tried to be moved or removed and he has the possibility to recover it.

And/or the other shared user (Alice in this case

[2016-04-20 12:00] PVince81 commented on #24114
Hmmm not sure. @jvillafanez said he couldn't reproduce the issue.

[2016-04-20 12:00] MTRichards commented on #24053
All good input for a discussion. When we plan 9.2 we will need to normalize them and decide on a course of action.

[2016-04-20 12:03] karlitschek commented on #22947
yes. probably not critical but definitely annoying.

[2016-04-20 12:04] rullzer commented on #24090
Let me dive into this.

[2016-04-20 12:15] cdamken commented on #24053
I'm not sure about how hard can it be the implementation:

Any share (main folder (SharedwithBob) in this case) can be moved to different folder and can even be renamed.

Could be the same behavior (moved and renamed) be followed for the sub-folders from the share? (Folder1 and Folder2)

[2016-04-20 12:16] nickvergessen commented on #24053
Well sometimes a move is a add, delete and move at the same time. So yes, that is really not that easy.

[2016-04-20 12:33] MorrisJobke commented on #19091
Why don't we go the full CSS way? We still could support the old way, but I like it more to have the nice and correct way of handling it (and require code changes) instead of stay with the old and clumsy way to have a nice migration but build on technology that doesn't seem to be the right way?

I would go the CSS way and still support the old background image based spinners. And after a grace per

[2016-04-20 12:43] jancborchardt opened #24122 "Sorting of »Share link« settings"
Should be:

1. Allow editing
2. Password protect
3. Expiration date

cc @owncloud/javascript @owncloud/designers

Same for desktop @dragotin @ckamm, iOS @javiergonzper and Android @AndyScherzinger. :)

[2016-04-20 12:49] skjnldsv commented on #19091
@MorrisJobke so smil + css? Css only exclude firefox, and it's still used a lot! :/
I could try to work on the fallback.

[2016-04-20 12:56] rullzer commented on #24090
I can't reproduce this. But it feels like this might be a different issue.

I see that the avatarmanager gets called. As well as the storage wrapper from the workflow app. Which both seem :fish:-y to me. It kind of tells me that most likely the issue is a side effect of something...

[2016-04-20 12:58] icewind1991 commented on #24105
Ok, could reproduce in a unit test

[2016-04-20 12:58] oparoz commented on #19091
In my experience, this doesn't work, you see both at the same time.

[2016-04-20 13:17] MorrisJobke commented on #19091
Really? Firefox could not use any CSS transitions?

Then we simply need to add them as a different class name ;) it is even a complete different concept. Fine with me.

[2016-04-20 13:29] rullzer commented on #24053
@MTRichards design week sounds like a good idea!

[2016-04-20 13:30] Orderchaos commented on #17012
@blubitv Hey, not sure if you're even still interested in this, but I saw your question so figured better late than never.

I'm not a developer (although I'm considering looking into this just out of personal interest/hobby), but I do have an owncloud instance setup on a VPS with Amazon Cloud Drive mounted using [acd_cli](https://github.com/yadayada/acd_cli) and it's been working well for several

[2016-04-20 13:37] rullzer commented on #22652
Thanks @nickvergessen

[2016-04-20 13:44] masteranalyze commented on #17012
@Orderchaos did you done this in owncloud 9.01?

Can you replicate the steps for it?So i can test this.

In amazon cloud drive,i noticed,that when i wish to get my backup of arhives of an website,witch is basically over 10gb,so let`s say an backup file of 15gb,the shared link from amazon cloud drive,does not contain that /temp / path ,and the link is basically from amazon s3,and files of over 10gb

[2016-04-20 13:44] cdamken commented on #24053
@nickvergessen probably vectoring the shares :smile:

[2016-04-20 13:51] jancborchardt commented on #2589
FINALLY! @ChristophWurst is the man!

:rocket:

[2016-04-20 13:56] masteranalyze commented on #17012
@Orderchaos in acd_cli i saw : workaround for download of files larger than 10 GiB ,did you try to upload an 15gb file,and then download ?And can you tell us if this works or not ?I don`t understand what they are trying to mean with "WORKAROUND For files larger then 10gb",if anybody nows what this means,feel free to reply.

I know amazon haves limit for upload of 50gb for an file,but on download f

[2016-04-20 13:58] icewind1991 commented on #24105
Fix is here https://github.com/owncloud/core/pull/24124

[2016-04-20 14:07] Orderchaos commented on #17012
@masteranalyze larger files can timeout and I've had some issues with them causing sync problems when they do. I haven't tried a lot of large files with owncloud, but on a different server (same cloud drive) I've been able to use rsync to copy directly from a local drive to a mounted cloud drive with large media files (up to ~30GB). Just make sure that the acd_cli sync command doesn't run while th

[2016-04-20 14:21] masteranalyze commented on #17012
@Orderchaos on upload on my side,i did not have no issues,because basically,i did not upload no file larger then 50gb,but the problem on my side,is on downloading files of over 10gb to linux.

There is no problem to download on windows with their download manager,an file of 15gb,but if you want to upload it directly into an webserver with linux with wget command,it gives error 403,i checked why is

[2016-04-20 14:35] PVince81 commented on #24032
Setting to 9.0.2 since we have a PR ready to merge: https://github.com/owncloud/core/pull/24108

[2016-04-20 14:39] skjnldsv commented on #19091
We're loosing focus! :)
SMIL is working on all browsers except ie.
I suggest we go for it and wait for full css support. If you look at the support chart http://caniuse.com/#feat=svg-smil, we have at least 4 future chrome and firefox version that still support it. This should gives us plenty of time to change it when the time will come.

Either way, i'm currently working on a hack to have a svg wi

[2016-04-20 14:43] PVince81 commented on #18029
Just tested something with LDAP's "homeDirectory" attribute, and it seems it already supports that.
Basically you set the "homeDirectory" of every user to "data/users/$userId" and manually move their homes there. Then ownCloud is able to work with these.

Maybe something similar could be implemented for non-LDAP users. Maybe it's just a matter of replacing "getHomeFolder" in the user manager or ha

[2016-04-20 14:53] Orderchaos commented on #17012
@masteranalyze

Oh I see what you mean. The issue you're having is because you want a direct download link which Amazon doesn't provide (not in a straightforward manner anyways). There are ways to get it, but really you'd be better off doing it the way I mentioned which is mounting it as a network drive and using rsync or another copy method to copy the file from your amazon cloud drive to a local

[2016-04-20 14:57] masteranalyze commented on #17012
@Orderchaos thanks for testing,is good if it`s working like that,i will try it out,hopefully via owncloud,i will be able to download my backup directly into the linux server,and not downloading back in windows,and then re-uploading back in the linux server,because that is waste of time.

Any ideea about the file limits in owncloud as setup?On 64 bits,i cannot find nothing exactly into their docume

[2016-04-20 15:08] PVince81 opened #24125 "Forbid PROPPATCH on oc:checksum"
### Steps:

proppatch-checksum.txt:
[code]

`curl -X PROPPATCH -H "Content-Type: text/xml" --data-binary "@proppatch-checksum.txt" http://admin:admin@localhost/owncloud/remote.php/files/welcome.txt`

### Expected result
Property NOT set, PROPPATCH response must return 403 for oc:checksum.

### Actual result
The property does not get set in `oc_filecache`, however it lands in the `oc_properties` ta

[2016-04-20 15:11] masteranalyze commented on #17012
@Orderchaos i just saw now ,that you mentioned that your is 10gb/file,10gb is fine.

What is the largest file gb you uploaded into owncloud till now?!

[2016-04-20 15:12] rullzer commented on #24125
Ok will fix

[2016-04-20 15:35] Orderchaos commented on #17012
@masteranalyze here's the owncloud documentation on it: https://doc.owncloud.org/server/9.0/admin_manual/configuration_files/big_file_upload_configuration.html

I'll start an upload of a large file via owncloud and let you know how it handles.

[2016-04-20 15:46] masteranalyze commented on #17012
@Orderchaos i saw that,but it`s only mentioning this : " 64-bit filesystems have much higher limits; consult the documentation for your filesystem."

This are for 32bits systems not for 64bits systems:

    < 2GB on 32Bit OS-architecture
    < 2GB on Windows (32Bit and 64Bit)
    < 2GB with Server Version 4.5 or older
    < 2GB with IE6 - IE8
    < 4GB with IE9 - IE11

"consult the documentation f

[2016-04-20 15:52] Orderchaos commented on #17012
@masteranalyze those are theoretical limits based on the math behind 32 and 64bit addressing...Actual hard limits are dependent on the OS, but are still very likely higher than you will actually need.

If you've already got the server, why don't you just get it setup and try it out? Amazon has a free trial for the cloud drive and owncloud and the acd_cli are both free.

I'm currently uploading a ~

[2016-04-20 16:01] masteranalyze commented on #17012
@Orderchaos i will deploy owncloud 9.0.2,in 5 may-6may,when they will release that update,i expect some fixes,witch should be in this release,and i will definetly try out everything you said,and share results here.

They are dependent on Os,not on the external file share you use or browser limits? Because if the Os permits 2TB file upload,and browser cannot handle that file,it will fail,same if am

[2016-04-20 16:12] jancborchardt commented on #19091
@skjnldsv yeah! Take charge and just go for it :) not so much discussion. If something doesn't work, we can still fix it going forward.

[2016-04-20 16:57] jesmrec opened #24128 "Federated Sharing: Edit permission with/without delete"
### Steps

User1 (Server1) shares a folder with User1 (Server2). Can edit disabled.

![screen shot 2016-04-20 at 18 46 13](https://cloud.githubusercontent.com/assets/14894746/14683060/1133288a-0729-11e6-8694-c298b35b37c9.png)

User1 (Server2) wants to re-share the folder with another user in the same server (User2)

![screen shot 2016-04-20 at 18 45 45](https://cloud.githubusercontent.com/assets/1

[2016-04-20 17:05] gnohp commented on #23928
Sorry for the delayed response. Just got back from vacation.

Yup the issue is reproducible on Office files with .*x extensions as long as it's been on the server for a few months. I've made new Office files (12 days old now) and those are currently reverting fine. I've also tested with a duplicate copy of a docx file and that works as well (12 days old too).

I was hoping to have a test file when

[2016-04-20 17:22] skjnldsv commented on #19091
Ok, then I close this one, let's review #24107.

I tried to mix both of them, but the firefox bug is too much.

[2016-04-20 17:27] rullzer commented on #24128
Yes, known and will be fixed with https://github.com/owncloud/core/pull/23918

[2016-04-20 17:41] VicDeo commented on #23090
@wujekbogdan @Bullnados @geekonthepc @rari2012
Any volunteers to confirm that https://github.com/owncloud/administration/blob/fix-web-installer-self-destroy/web-installer/setup-owncloud.php
fixes that?

[2016-04-20 17:58] rullzer commented on #24125
@PVince81 the reason this works is because the single checksum is not defined...

[code]

Note the surrounding `oc:checkums`. We could still block the single version if you really want..

[2016-04-20 18:06] rari2012 commented on #23090
Hi,
Sorry for mycloud late answer.
I removed the Installation and startet frommen the sprach wohl auch neuer
Version. Not the one you provided.

I appreciate it,
Best regards
Ralf
Am 20.04.2016 19:41 schrieb "VicDeo" <notifications@github.com>:

[2016-04-20 18:37] #23782 closed

[2016-04-20 18:51] cmonteroluque commented on #22347
right

[2016-04-20 18:53] Bullnados commented on #23090
Here also allright with new script :+1:  @VicDeo

[2016-04-20 18:54] rullzer commented on #24032
Merged. Closing this

[2016-04-20 18:54] #24032 closed

[2016-04-20 18:55] rullzer commented on #23782
Stable 9 backport in https://github.com/owncloud/core/pull/24129

[2016-04-20 18:55] rullzer commented on #23783
Stable 9 backport in https://github.com/owncloud/core/pull/24129

[2016-04-20 19:05] #23657 closed

[2016-04-20 19:23] #22397 closed

[2016-04-20 19:50] #24115 closed

[2016-04-20 20:00] MorrisJobke commented on #24121
Should be fixed with https://github.com/owncloud/core/pull/24076

@SergioBertolinSG Please check that you have the latest master. Reopen if this issue still exist on latest master. Thanks.

[2016-04-20 20:00] #24121 closed

[2016-04-20 20:02] MorrisJobke commented on #24084
Could you create another file? (with a different name)

[2016-04-20 20:07] #23408 closed

[2016-04-20 20:07] MorrisJobke commented on #23408
I'm closing as @RealRancor answered this.

[2016-04-20 20:09] MorrisJobke commented on #23426
This patch went into 9.0.1.

@Trefex Please try again with 9.0.1 and report back if this is still not working. Thanks :)

[2016-04-20 20:09] #23426 closed

[2016-04-20 20:15] MorrisJobke commented on #23560
This indeed looks like the webserver is not properly handling the authentication headers. As this is not really a bug in ownCloud but a setup issue I refer you to https://owncloud.org/support/ for more information about dealing with setup issues.

I also think that the linked Nginx docu by @josh4trunks works (at least @josh4trunks seems to have a working setup with Nginx and this configuration, ri

[2016-04-20 20:15] #23560 closed

[2016-04-20 20:16] MorrisJobke commented on #23428
Okay. Closing this ticket then ;)

[2016-04-20 20:16] #23428 closed

[2016-04-20 20:19] josh4trunks commented on #23560
yes, the nginx configuration in the wiki been confirmed by several people

[2016-04-20 20:24] MorrisJobke commented on #23732
According to https://github.com/owncloud/calendar/issues/309#issuecomment-194822622 Edge doesn't seem to be supported :(

This is also the core bug tracker. For issues with the calendar app (UI part) please open a ticket in the calendar bug tracker.

Thanks

[2016-04-20 20:24] #23732 closed

[2016-04-20 20:28] MorrisJobke commented on #23405
Could you run `./occ status`? just to be sure which version is installed.

[2016-04-20 20:32] MorrisJobke commented on #22939
Sadly it's not that simple. We need to respect all possible setups.

We just notice that when a user never logs in via the web ui the chunks of failed uploads sometimes stay a bit longer on disk than they should. To address this we have a separate ticket: https://github.com/owncloud/core/issues/14646

I will close this ticket here.

[2016-04-20 20:32] #22939 closed

[2016-04-20 20:32] MorrisJobke commented on #22426
As this seems to be a setup issue I will close this ticket.

[2016-04-20 20:32] #22426 closed

[2016-04-20 20:35] MorrisJobke commented on #24032
@michaelstingl This will also be fixed in 8.2.4 ;)

[2016-04-20 20:38] MorrisJobke commented on #24102
Duplicate of https://github.com/owncloud/core/issues/15433

[2016-04-20 20:38] #24102 closed

[2016-04-20 20:42] MorrisJobke commented on #18774
Doesn't happen anymore in master -> closing

[2016-04-20 20:42] #18774 closed

[2016-04-20 20:45] MorrisJobke commented on #18711
I can't reproduce this on master anymore -> closed

[2016-04-20 20:45] #18711 closed

[2016-04-20 20:49] MorrisJobke commented on #13661
As @ChristophWurst is cleaning up JS stuff recently - maybe he wants to look into this too ;)

[2016-04-20 20:52] DeepDiver1975 commented on #13661
:skull: with :fire: :tada:

[2016-04-20 20:53] MorrisJobke commented on #15433
Let's close this as a duplicate of #10102 (general case sensitivity user id issue)

[2016-04-20 20:53] #15433 closed

[2016-04-20 20:55] MorrisJobke commented on #11908
We didn't noticed something similar to this during the past year. I guess this is solved - also encryption 2.0 changed a lot in the architecture.

[2016-04-20 20:55] #11908 closed

[2016-04-20 20:56] MorrisJobke commented on #16137
As this seems to be a setup issue I will close this.

[2016-04-20 20:56] #16137 closed

[2016-04-20 21:01] MorrisJobke commented on #15455
The logins now shouldn't happen that often anymore because the sync clients now properly use the session and doesn't re-authenticate anymore (which cause the new login timestamp).

Also the last time we talked this doesn't seem to be a performance issue anymore.

I therefore will close this ticket. If this is still an issue for you please report back.

Thanks

[2016-04-20 21:01] #15455 closed

[2016-04-20 21:03] MorrisJobke commented on #7191
Since ownCloud 6 a lot has changed regarding the swift stuff. Please retest with a more recent version. Thanks

[2016-04-20 21:03] #7191 closed

[2016-04-20 21:04] MorrisJobke commented on #10203
Long time no response: Closing

[2016-04-20 21:04] #10203 closed

[2016-04-20 21:12] LukasReschke commented on #24069
Also breaks the app labels.

[2016-04-20 21:14] LukasReschke commented on #24069
Revert is at https://github.com/owncloud/core/pull/24138

[2016-04-20 21:14] oliveirart commented on #18499
I'm getting the same error on line 693 when i try to share a folder by link using password:

"[Wed Apr 20 18:11:12.422915 2016] [:error] [pid 12224] [client 200.202.168.159:34176] PHP Fatal error:  Call to a member function file_exists() on a non-object in /var/www/html/owncloud/lib/private/files/filesystem.php on line 693"

Sharing files with password is ok!

[2016-04-20 23:09] MorrisJobke commented on #12193
As this seems to be documented already I will close this ticket

[2016-04-20 23:09] #12193 closed

[2016-04-20 23:18] MorrisJobke commented on #23038
This should not be addressed in the .htaccess file of the application but in the global server configuration. Just route the acme URLs to a different folder.

See https://github.com/owncloud/core/pull/21629#issuecomment-171308903

[2016-04-20 23:18] #23038 closed

[2016-04-21 01:21] olaulau opened #24139 "no upgrade to version nine porposed"
### Expected behaviour
an upgrade should be available through the admin panel

### Actual behaviour
no upgrade possible, through admin panel.
php occ upgrade doesn't want to upgrade too ("ownCloud is already latest version")

### Server configuration
**Operating system**:
ubuntu server 12.04

**Web server:**
apache 2.2

**Database:**
mariadb 10

**PHP version:**
5.6 & 7.0

**ownCloud version:** (s

[2016-04-21 04:26] RealRancor commented on #24139
Currently expected: http://owncloud.10557.n7.nabble.com/where-is-9-0-1-auto-updater-and-more-td17111.html

Only 9.0.2 will be available for the updater

[2016-04-21 04:28] sirhans opened #24140 "Upgrade app in the admin panel allows skipping major versions even though it's not supported."
A quick suggestion:

I just used the upgrade tool in the admin panel to go from 8.0.0 to 8.2.1.  Of course, it failed and left my owncloud installation broken.  I should have read the documentation that said skipping major versions is not supported.  But, could you add a check to the upgrade tool that prevents version-skipping updates, or at least shows a warning?

thanks.

[2016-04-21 04:43] RealRancor commented on #24140
Duplicate of https://github.com/owncloud/appstore-issues/issues/4

[2016-04-21 06:18] Adesso opened #24141 "Add Group not updating group list in Admin view"
### Steps to reproduce
1. Login using a admin account
2. Click on Add Group and type a new group name
3. Confirm the name by clicking the + Button

### Expected behaviour
The left menu pane should update listing the new Group

### Actual behaviour
The Group should be listed in the left pane, but somehow the list is not refreshed. Once another Group is added the last "missing Group" is displayed. R

[2016-04-21 06:51] SergioBertolinSG commented on #18711
Tested on daily community, works fine.

[2016-04-21 07:00] fischtag commented on #23964
I can confirm that for Debian Jessie and oc 9.0.1 ...

[2016-04-21 07:02] fwolfst commented on #22741
I'd love to see full-text search actually working (does not yet appear to work in 9.x) and would be fine to "opt-in". The documentation is useless to me (opened https://github.com/owncloud/documentation/issues/2372).

[2016-04-21 07:05] MorrisJobke commented on #24140
@LukasReschke is working on this.

Closing as duplicate.

[2016-04-21 07:05] #24140 closed

[2016-04-21 07:06] #24139 closed

[2016-04-21 07:07] MorrisJobke commented on #24141
Is there something in the JS console of the browser printed?

[2016-04-21 07:07] MorrisJobke commented on #24141
Maybe try to upgrade to 8.2.3. It could be possible that this is already fixed.

[2016-04-21 07:09] stephan2012 commented on #24084
No, I cannot create any file or directory. I've tried via a WebDAV mount, too. But no success. Additionally I've just noticed that I cannot change existing files. Looks like any write access is blocked. Workaround for me at the moment is to just disable memcache.locking.

[2016-04-21 07:15] hostingnuggets commented on #12193
@MorrisJobke this is only documented for Apache, please also document for nginx.

[2016-04-21 07:16] MorrisJobke commented on #24084
Mmmh. The stray locks has been fixed in 8.2.2 and 9.0.0 - https://github.com/owncloud/core/issues/20380

Could you clear the redis cache and try again? Maybe it's some leftover from before 🙈

[2016-04-21 07:18] MorrisJobke commented on #12193
@josh4trunks Is there a similar setting for this in Nginx?

[2016-04-21 07:23] lucamemini commented on #23816
Hi @ChristophWurst ,
My installation is on ubunutu 14.04.4, apache 2.4.7 & php 5.5.9

[2016-04-21 07:24] Adesso commented on #24141
The Javascript Console Error:
Strict-Transport-Security: The site specified a header that could not be parsed successfully.
[[Learn More]](https://developer.mozilla.org/en-US/docs/Web/Security/HTTP_strict_transport_security)

I'll try a upgrade tonight to Version 8.2.3

[2016-04-21 07:49] RealRancor commented on #12193
@hostingnuggets Please use your favourite search engine or the nginx documentation. It should be obviously that the ownCloud documentation can't document every possible configuration and webserver stuff out there. Thats simple not maintainable

[2016-04-21 08:08] PVince81 commented on #24125
Ah, of course. I forgot that the API accepts a list of checksums.
Then it works as expected.

[2016-04-21 08:08] #24125 closed

[2016-04-21 08:09] stephan2012 commented on #24084
Thanks for the pointer! :-)

Indeed, wiping the Redis cache solved my issue. I can now create create and write to files and directories. Issue solved, thanks again for your help.

[2016-04-21 08:09] #24084 closed

[2016-04-21 08:15] PartisanEntity commented on #24047
So I tried the recommended solution mentioned here: https://forum.owncloud.org/viewtopic.php?f=36&t=33526#p108861

But no matter what I try, owncloud is serving these files in the wrong mime type.

Does owncloud define it's own mime types? Does it have a fallback or something like that for mime types? If yes, where can I find it?

[2016-04-21 08:24] LukasReschke opened #24143 "Support encrypted key for signing"
- [ ] Add support for encrypted key to OCC
- [ ] Adjust documentation to mention the feature
- [ ] Adjust documentation to show migration if someone wants to migrate

[2016-04-21 08:56] PVince81 commented on #14757
@MorrisJobke not sure. It might depend for what query it happens, then need to find out why it happens in the first place.

[2016-04-21 09:14] nickvergessen opened #24147 "Public link of shared folder shows no files"
### Steps to reproduce
1. Share a folder with public link
2. Upload a file into the folder
3. Open public link

### Expected behaviour
File list should be displayed

### Actual behaviour
Only ownCloud header is visible, no file list:

cc @rullzer you cleaned up too much
@schiesbn

[2016-04-21 09:26] PVince81 commented on #24147
@nickvergessen is this happening in 9.0 too or master only ?

[2016-04-21 09:32] PVince81 commented on #23621
@nickvergessen possible quickfix: https://github.com/owncloud/core/pull/24145

[2016-04-21 09:34] PVince81 commented on #23687
also @icewind1991 @LukasReschke

[2016-04-21 09:37] PVince81 commented on #23701
From what I understand, the user goes into a "zombie/disabled" state in OC in which the user cannot sync any more. @blizzz can you clarify ?

[2016-04-21 09:40] PVince81 commented on #23715
Korganizer 5.1.3 works for me (KDE Frameworks 5.21.0) against v9.0.1.

It used to not sync any more and I had to upgrade KDE / Korganizer because it seemed to be a bug on that side.

[2016-04-21 09:44] PVince81 commented on #23716
@marcelkaus

If the download stalls, it could be due to file size mismatch with encryption.

1) Check the "size" column in the "oc_filecache" table for that file.
2) Check the size on-disk of the file inside "data/$user/files/.../thefile.txt". The size in "oc_filecache" must be **smaller** than the one on-disk.
3) You can also compare it with the "Content-Length" returned by `curl -D - http://user

[2016-04-21 09:50] PVince81 commented on #23727
@fbassas can you confirm whether what you observe matches what @amc2002 described ?

I'm asking because we need more details about "who shared what with who", etc, best in Steps form (ex: "user1 shares with group1", etc) so we can reproduce this locally.

Thanks.

[2016-04-21 09:52] PVince81 commented on #23731
@mislav-eu did you use the "homeDirectory" attribute for LDAP ?

@schiesbn could this be slightly related to the other recovery key issue with "homeDirectory" ?

[2016-04-21 09:54] #23730 closed

[2016-04-21 09:55] voidzero commented on #23213
@mobstef Any idea how to reverse this query, for when the bug gets fixed?

[2016-04-21 09:56] PVince81 commented on #23733
The patch was likely design to be applied on top of 8.2.3.
Maybe it doesn't work to patch 8.2.1 and would require more ?

[2016-04-21 09:57] PVince81 commented on #23739
I vaguely remember seeing another thread about Android apps not authenticating. The workaround was updating to PHP 5.6+

[2016-04-21 10:04] handswork commented on #23739
Okay, but I did upgrade for some days ago.
No luck there :(

[2016-04-21 10:10] PVince81 commented on #23756
@mitch-geht-ab did the user log out and log in again after the storage was configured ?
Seems it might be required to re-login to make sure the credentials get caught.

@Xenopathic @icewind1991 can you confirm ?

[2016-04-21 10:19] nickvergessen commented on #24147
Milestone is 9.1 :wink:

[2016-04-21 10:23] mislav-eu commented on #23731
LDAP? I'm not using that, neither do I know what is homeDirectory. I create and manage all users directly through OC admin -> Users.

[2016-04-21 10:25] tflidd commented on #23731
Then you must not enable these....

[2016-04-21 10:27] PVince81 commented on #23771
Weird... SMB share mix ups was observed here too: https://github.com/owncloud/client/issues/4675

[2016-04-21 10:30] PVince81 commented on #23771
Did you use the "applicable to" field in the admin page ?

Maybe you could post an anonymized screenshot of the admin page ?

Are all mount points on the root "/smb1", "/smb2", "/smb3", "/smb4" or is there an overlap like reusing the same mount point name for different storages ?

[2016-04-21 10:31] PVince81 commented on #23771
Also, did you use "Login credentials" mode for the SMB shares instead of "Username + Password" ?

[2016-04-21 10:31] PVince81 commented on #23771
CC @icewind1991 @blizzz

[2016-04-21 10:45] mislav-eu commented on #23731
You're saying that app that were installed and not used at all/configured at all are cause of this problem? I've never even activated those, probably they were here by default.

I've upgraded last week my test machine to 9.0.1. and when I list now apps:

$ sudo -u www-data php occ app:list
Enabled:
  - activity: 2.2.1
  - comments: 0.2
  - dav: 0.1.6
  - encryption: 1.2.0
  - external: 1.2
  - fed

[2016-04-21 10:46] nickvergessen commented on #23842
Can you try 9.0.1 with https://github.com/owncloud/core/pull/23541

[2016-04-21 10:46] PVince81 commented on #23858
@winpat I assume you already waited 15-30 minutes for the LDAP sync to happen ?
You can also set the TTL to "60" temporarily to make it happen faster.

[2016-04-21 10:47] PVince81 commented on #23858
CC @blizzz

[2016-04-21 10:51] rullzer commented on #24147
I did not break it... bisect points me to: 6c5696d3a84ff71fc5ddb53b490bbc77f5c119f5
@ChristophWurst seems you broke it :wink:

[2016-04-21 10:51] PVince81 commented on #23913
/me subscribes

CC @VicDeo

[2016-04-21 10:52] #24069 closed

[2016-04-21 10:55] blizzz commented on #23858
Also, can you update to the most recent 8.2.3 and check whether the issues happens there as well?

[2016-04-21 10:57] rullzer commented on #23783
Merged. Closing.

[2016-04-21 10:57] #23783 closed

[2016-04-21 10:57] nickvergessen commented on #24147
Right, filelist requires app since then, so @ChristophWurst caused it

[2016-04-21 11:01] PVince81 commented on #23964
@DeepDiver1975

[2016-04-21 11:05] PluueeR commented on #23842
I will try on our testing environment. Keep you posted.

[2016-04-21 11:08] nickvergessen opened #24154 "Can create events in contacts_birthday calendar"
### Steps to reproduce
1. Use calendar app
2. Add a new event

### Expected behaviour
Calendar should not be selectable at all

### Actual behaviour
200

Also happens on 9.0

[2016-04-21 11:08] tflidd commented on #23731
Oh sorry, I didn't see that it actually was disabled.

For the encryption, you can set a recovery key: https://doc.owncloud.org/server/8.2/admin_manual/configuration_files/encryption_configuration.html#enabling-users-file-recovery-keys
Do you use external storage? (If not, see the first big red box in the above link).

It remains the issue with case sensitive user names.

[2016-04-21 11:09] nickvergessen commented on #24154
Namespace problem of the property?
https://github.com/owncloud/core/blob/55735e1450a1670b63bf94869a3f9152d9d06c1a/apps/dav/lib/caldav/calendar.php#L36-L36
https://github.com/owncloud/core/blob/55735e1450a1670b63bf94869a3f9152d9d06c1a/apps/dav/lib/caldav/calendar.php#L163-L168

also https://github.com/owncloud/core/blob/55735e1450a1670b63bf94869a3f9152d9d06c1a/apps/dav/lib/caldav/calendar.php#L97-L

[2016-04-21 11:16] mislav-eu commented on #23731
Password recovery keys are enabled on all users/admins.

[2016-04-21 11:35] #23547 closed

[2016-04-21 11:40] fbassas commented on #23727
I observed something similar. I want to note that this strange behavior is with ldap groups. I have not experimented any issues with owncloud local groups.

[2016-04-21 11:43] cdamken commented on #22450
@PVince81 @VicDeo  I enabled XDebug, but I only got the same logs:

[code]

[2016-04-21 11:45] bboule opened #24156 "cron.php fails with error"
### Steps to reproduce
1. Run cron.php
2. Monitor the oc log file
3.

### Expected behaviour
Cron should run successfully

### Actual behaviour
Cron job fails with the following error:

 PHP Fatal error: Call to a member function getQuota() on a non-object in /var/www/owncloud/apps/files_versions/lib/storage.php on line 691

### Server configuration
**Operating system**:
Ubuntu 14.04
**Web server:

[2016-04-21 12:03] cmonteroluque commented on #24156
possibly related to https://github.com/owncloud/core/issues/23621

[2016-04-21 12:05] cmonteroluque commented on #24156
also https://github.com/owncloud/core/issues/23534

@PVince81 high priority. Moving to 9.0.2

[2016-04-21 12:16] PVince81 commented on #24156
getQuota issue is duplicate of https://github.com/owncloud/core/issues/23513.

Closing in favor of https://github.com/owncloud/core/issues/23513, will move the labels and raise seveirty.

[2016-04-21 12:16] #24156 closed

[2016-04-21 12:18] PVince81 commented on #23513
Not sure how this can happen. Maybe the user manager did not find the user for some reason, so no quota is set ? If that's the case, the quick fix is to check for user existence.

Let me have a try.

[2016-04-21 12:22] GJSchaller commented on #23038
For users on hosted servers, this may not be an option.  My host (SiteGround) offers owncloud as a ready-to-install package, but does not offer me control over the server itself.

[2016-04-21 12:27] MacsKavana commented on #21465
Hi again,

It seems that 9.0.1 solved the problem.
All the files are decrypted in one round without any problem.
Thanks!

[2016-04-21 12:27] #21465 closed

[2016-04-21 12:38] PVince81 commented on #23513
I cannot reproduce the issue through normal means.

When deleting a regular user, the expire job already checks for user existence early.
For deleted LDAP users, an exception `NoUserException` is thrown early enough.

So the only explanation for this is a race condition where the user got deleted between the first check https://github.com/owncloud/core/blob/v9.0.1/apps/files_versions/command/expir

[2016-04-21 12:40] nickvergessen opened #24159 "Can not mount remote shares anymore when you are not logged in"
### Steps to reproduce
1. Instance A, create a folder
2. share folder with public link
3. Instance B, Make sure you are logged out
4. Instance A, open public link
5. add to owncloud "Instance B"
6. login with the form

### Expected behaviour
User should be redirected to the file list with a popup about the remote share to be mounted

### Actual behaviour
User should be redirected to the file list,

[2016-04-21 13:02] MorrisJobke commented on #23038
Then maybe ask the host to provide this additional rules, because they are also highly environment dependent.

[2016-04-21 13:04] PVince81 commented on #23513
I tried simulating a race condition with both local users or LDAP users, but could not reproduce the issue. In both cases the user object is already cached in memory so `getUser()` will always succeed.

I can't find a situation where `userExists` would first return true and later on suddenly `getUser()` would return null for that same user.

Anyway, an additional check would at least prevent the e

[2016-04-21 13:07] PVince81 commented on #23513
Also interesting is to note that before the `getUser()` call there's a `file_exists` call which succeeds, which means the user's files still exist but the user doesn't.

@blizzz any idea what kind of twisted logic could lead to such situation ?

[2016-04-21 13:08] PVince81 commented on #23513
@remkolodder I see you're using "user_external", what user management are you using ?

[2016-04-21 13:10] PVince81 commented on #24156
@bboule do you have more information about what user management they are using ?
I could not reproduce the issue neither with local users nor LDAP users, even with simulated race conditions (see https://github.com/owncloud/core/issues/23513#issuecomment-212899844)

Maybe shibboleth ?

[2016-04-21 13:23] PluueeR commented on #23842
Problem seems to be solved. Nice!

[2016-04-21 13:25] PVince81 commented on #23513
Turns out the `$user` that is checked with `userExists` can be a different one than the one for expiration, which is taken from `getUidAndFileName`.

There is a situation where `$uid` can be null, it's when using a system-wide external storage. But even in that situation, the code about `getQuota` is never reached because it throws `NoUserException` early.

Weird stuff...

[2016-04-21 13:30] PVince81 commented on #23513
PR here: https://github.com/owncloud/core/pull/24160

CC @bboule

[2016-04-21 13:45] blizzz commented on #23701
@PVince81 huh? If the user gone from LDAP, he is gone. Nothing with disabled. But since the record is not there, you cannot do anything with that user. The data on ownCloud is they are removed via ``occ user:delete <USERNAME>``. List of deleted LDAP users is shown by ``ldap:show-remnants`` also via occ.

[2016-04-21 14:05] mobstef commented on #23213
@voidzero Rather straightforward:
`drop rule oc_preferences_ignore_duplicate_inserts on oc_preferences;`

[2016-04-21 14:05] PVince81 opened #24161 "Versions on external storage never expire"
### Steps
1. Mount an external storage (ex: SMB) as "/smb" system-wide, apply to all users
2. Login as any user
3. Create a file "/smb/test.txt"
4. Edit the file and save many times to create 10-20 versions
5. Check the version files for that user: `find data/user1 -iname \*.v\*`
6. `update oc_jobs set last_run=0`
7. Run cron.php
### Expected result

Some version expired
### Actual result

No vers

[2016-04-21 14:30] schiesbn commented on #23928
I just tested it again going from 7.0 to 9.0. Always created new versions in between and tried to download them. It always worked. I could never reproduced the described behavior...

[2016-04-21 14:33] amc2002 commented on #23727
LDAP here as well. All org users are in an Active Directory "OCUsers" group, while all other groups are created using ownCloud groups.

[2016-04-21 14:39] butonic commented on #22652
@blizzz there now is a way to configure the way the display name is assembled?

[2016-04-21 14:49] #24154 closed

[2016-04-21 14:50] remkolodder commented on #23513
@PVince81 I am using local users only, no external management. I think only the module is enabled but not used (I tried adding it to LDAP at some point, but changed my mind given the users that might get access through that and the users that need to access this).

[2016-04-21 15:02] d-tamm commented on #21405
See this solution, which worked for me:
http://www.synology-forum.de/showthread.html?74988-DSM-6-0-OwnCloud-8-2-X-X-PHP-Cron-Fehler
Essentially using /usr/local/bin/php56 instead of /bin/php

[2016-04-21 15:04] #23506 closed

[2016-04-21 15:04] DeepDiver1975 commented on #23506
issues have been solved

[2016-04-21 15:08] carlaschroder commented on #22741
Where is the Search app? It is not present in 8.2 or 9.0. Not sure who to ask-- @butonic @icewind1991 @jnweiger

[2016-04-21 15:09] DeepDiver1975 commented on #11834
This is by now implemented

[2016-04-21 15:09] #11834 closed

[2016-04-21 15:10] #12634 closed

[2016-04-21 15:10] gig13 opened #24164 "LDAP configuration was only using the backup server, not the primary"
### Steps to reproduce
1. Setup a primary AD and a backup AD with the backup receiving updates once daily
2. Create a new group in the primary AD associated with existing users that have ownCloud access
3. Login to the Users page and check for the group in the group listing and under the users that are associated with the group
### Expected behaviour

When a new group is added to the primary AD, i

[2016-04-21 15:11] #12852 closed

[2016-04-21 15:11] DeepDiver1975 commented on #12852
octemplate has its own issue - anything else is moving into the right directions

[2016-04-21 15:13] DeepDiver1975 commented on #13149
nobody is asking for this anymore -> close

[2016-04-21 15:13] #13149 closed

[2016-04-21 15:13] gig13 commented on #24164
https://s3.owncloud.com/owncloud/index.php/apps/files?dir=%2FShared%2Fowncloud%2Fsupport%2Fgithub-issues%2Fcore%2F24164

[2016-04-21 15:15] DeepDiver1975 commented on #14454
I guess there will be not much movement in this area -> close

[2016-04-21 15:15] #14454 closed

[2016-04-21 15:16] jguy1987 opened #24165 "Not working after fresh install. Buttons disabled, javascript errors, content policy errors"
Installed Owncloud through Debian 8.0 repositories
### Steps to reproduce
1. Install Owncloud through Debian Apt-get
* add repo: echo 'deb http://download.opensuse.org/repositories/isv:/ownCloud:/community/Debian_8.0/ /' >> /etc/apt/sources.list.d/owncloud.list
* add key: wget http://download.opensuse.org/repositories/isv:ownCloud:community/Debian_8.0/Release.key && apt-key add - < Release.key
* U

[2016-04-21 15:26] carlaschroder commented on #22741
Meh. Looks like it's gone from 8.2 and 9.0. You need to tell me these things, friends!

[2016-04-21 15:29] PVince81 commented on #24161
Looks like the code in `getUidAndFilename` is very old, it assumes that the owner can be another user. This is obsolete because since the introduction of expire background jobs, we only ever expire for the user specified in the expire job. For shared folders, the expire job is only created for owners even when a recipient edited a file.

This means that as part of this fix we can get rid of `getOw

[2016-04-21 15:48] carlaschroder commented on #22741
Doc pages removed https://github.com/owncloud/documentation/issues/2372#issuecomment-212981024

[2016-04-21 15:50] PVince81 commented on #24055
`version` is the ownCloud version :smile:

[2016-04-21 15:52] PVince81 commented on #24055
Did you upgrade on the CLI with `occ upgrade` ?
If you're able to try it again, can you try with `occ upgrade --skip-migration-test` and see whether the error still happens ? It is likely that it is caused by the update simulation which copies all tables/indices to test the update on the copies.

[2016-04-21 15:56] PVince81 commented on #24065
@Xenopathic it more likely looks like one of your vcards contains special characters. Or something is not escaped properly when reading the values ?

[2016-04-21 15:56] Xenopathic commented on #22741
@carlaschroder It's not been removed per-se, it's just available as a non-default app on the appstore. Not sure why that decision was made though

[2016-04-21 16:01] carlaschroder commented on #22741
@Xenopathic See https://github.com/owncloud/search_lucene/issues/113
tl;dr: not compatible with 8.2+. And it's buggy.

[2016-04-21 16:13] PVince81 commented on #24164
@blizzz I see there was a fix from you related to backup server that made it into 8.1.5 which is https://github.com/owncloud/core/pull/20362, not sure if related in any way.

@blizzz do you think this https://github.com/owncloud/core/pull/23403 could help ? That fix seems to be for when using memcache and the config shows that they have:
[code]

[2016-04-21 16:14] Xenopathic commented on #24065
The only special character in that vcard compared to others is a literal backlash. Strange why that's causing issues

[2016-04-21 16:14] PVince81 commented on #24165
@lukasreschke @jnweiger

[2016-04-21 16:20] PVince81 commented on #23857
@LukasReschke is https://github.com/owncloud/core/issues/24134 the mighty awaited patch ?

If yes, it was merged already and should run in the next git update on stable9 or daily.

[2016-04-21 16:22] LukasReschke commented on #23857
It is. – But git update won't do as they are not signed :)

[2016-04-21 16:23] #23621 closed

[2016-04-21 16:27] Xenopathic commented on #22741
According to https://github.com/owncloud/search_lucene/releases there have been more recent releases?

[2016-04-21 16:28] LukasReschke commented on #22741
The tags are a lie. They are automatically tagged since it's in the release script. However, that won't magically make it compatible 🙈

[2016-04-21 16:29] Xenopathic commented on #24065
Yeah, looks like it's the backslash. I modified that failing entry to remove it, and now a different entry in oc_calendarobjects is failing (this one I don't need to redact):

[code]

[2016-04-21 16:30] tigerfoot commented on #24055
Hello Vincent, the upgrade has been made with occ
[code]
So I guess you mean redo completely the upgrade path from 8.2.3 ... I guess it will not that be easy lot's of changes occurs (calendars, files etc) with the users data.

I've done a test, with simply running one night a delete on oc_preferences for the different user_ldap value causing the error log. But once a user is reconnected the errors

[2016-04-21 16:39] josh4trunks commented on #12193
I've never had any issues with this using the default settings with nginx. I'm not sure

[2016-04-21 16:54] handswork commented on #23739
It seems that upgrading to php7 from php5.6 and reinstalling redis for php7 solve the issue
It also solve some issues I had with the news app on the web interface. I had some issues activating the app. And it solved a cronjob issue I also had.

[2016-04-21 16:54] #23739 closed

[2016-04-21 16:55] Keelan opened #24169 "Fresh Install v9 - Caldav Broke"
### Steps to reproduce
1. Fresh install
2. new user
3. add item to calendar
4. sync calendar via caldav

### Expected behaviour
Pull in calendar items

### Actual behaviour
12:50:31 PM Work [CalDAV / CardDAV]  MailExceptions.OperationException: Sync of Work/ failed due to the following error: Work (Service Unavailable)
12:50:31 PM <?xml version="1.0" encoding="utf-8"?>
12:50:31 PM <d:error xmlns:d

[2016-04-21 16:57] Keelan commented on #24169
Contacts work fine but calendars do not

http://relcontrols.ca/files/remote.php/davhp/dav/calendars/Keelan2/default/

results in app not installed.

[2016-04-21 17:03] jguy1987 commented on #24165
Same server, rebuilt with fresh Debian 8.0 64-bit.

I just tried this instead from https://download.owncloud.org/download/repositories/stable/owncloud/ to install OC 9.0.1:

wget -nv https://download.owncloud.org/download/repositories/stable/Debian_8.0/Release.key -O Release.key
apt-key add - < Release.key

Run the following shell commands as root to add the repository and install from there.

sh

[2016-04-21 17:24] RealRancor commented on #24169
Duplicate of https://github.com/owncloud/core/issues/23964 (just a slight difference between davphp and dave.php)

[2016-04-21 17:32] Keelan commented on #23964
Sorry didn't see this straight away. Strange how #24169 is davhp and this is dav.php

[2016-04-21 18:06] mikshepard opened #24175 "External Storage as Root Directory Help"
Our organization has been running Owncloud since version 7, and we use it as an overlay to our network file storage.  Meaning when inside the building, users can view their "H:\" (a samba user home share) to see their data, but when outside the building, they log into Owncloud and see the contents of their "H:\" as the Owncloud root.   Basically, it functions to give web access to their drive shar

[2016-04-21 18:36] rullzer commented on #24090
@davitol any luck reproducing this on a docker instance?

[2016-04-21 18:43] gnohp commented on #23928
@schiesbn did you try reverting to the old version or downloading? Maybe it's time related? I'll see if I can gather more information.

[2016-04-21 19:07] 9662 commented on #23828
@RealRancor Thanks for the hint. Could you point me to a more specific link where the deleting of files and directories is discussed?

[2016-04-21 19:14] RealRancor commented on #23828
@9662 Please see:

[2016-04-21 19:29] RealRancor commented on #24175
Hi,

i think you should ask such questions at either the mailinglists or the forums like described here:

https://owncloud.org/support/

A bugtracker is most likely the wrong place for setup / configuration questions.

[2016-04-21 19:39] Keelan commented on #23964
What is really weird...

I have owncloud in http://mydomain.com/files

I have pointed a subdomain to it:

Added it to the trusted domains.

When i navigate via mydomain/files the davhp is in the url

`http://mydomain.ca/files/remote.php/davhp/dav/calendars/Keelan/default_shared_by_Keelan2/`

when i navigate via `share.mydomain.com` the `davhp` is removed

`http://share.mydomain.ca/files/remote.php

[2016-04-21 20:33] mikshepard commented on #24175
Thank you for the reply, I have since posted in the forum as per your advice.  My reason for posting here was that beyond getting help for this problem, that it would serve as a feature request.  Since in previous versions, running Owncloud in this manner was fully functional, and extremely beneficial, I was hoping that this could become an option in the files_external app, to allow an external sh

[2016-04-21 20:36] alvar-freude opened #24176 "Activity Stream does not show renamed files"
### Steps to reproduce
1. Create a folder or file (via eb interface or locally; when locally: wait until synced)
2. Rename it
3. Look at activity page in web frontend or oc_activity table in database

### Expected behavior
The renaming should be recorded in the activity

### Actual behavior
Nothing is recorded: the oc_activity table has no entry about the renamed file or folder – and therefore it

[2016-04-21 20:49] paurisa commented on #23683
Out of curiosity, how will it be implemented in the end? Through the JS files or the CSS files?

[2016-04-21 21:03] Xenopathic commented on #24175
Marking as duplicate of #23246, see #23260 for a potential fix

[2016-04-21 21:03] #24175 closed

[2016-04-21 21:21] #24147 closed

[2016-04-21 21:24] hostingnuggets commented on #12193
@MorrisJobke well if you would have documented the correct nginx settings since the beginning it might would have not taken 1 and a half year and 81 comments later in order for you to close this issue, which by the way is not solved for many owncloud users out there...

@josh4trunks the initial bug report, 3rd comment in this issue from the 15th November 2014, reports that this problem occurs with

[2016-04-21 21:56] mikshepard commented on #24175
Great, thanks!

[2016-04-21 22:02] voidzero commented on #23213
Perfect, @mobstef. Much thanks.

[2016-04-21 22:21] SmoothMC commented on #10005
same issue here
no way to give an mail address in Users or Personal
there is also no way to put in the Full Name for an User. The Field is present but on reload the page the name switched back to the uid

thx for working on it

[2016-04-21 23:34] blizzz commented on #24164
Was their main LDAP server down at some point (or maybe just not accessible form the ownCloud server)?

Is the main one a real LDAP server or a loadbalancer or something like this?

When we removed the configuration for the backup LDAP, the group showed up on the next refresh of the Users page.

@PVince81 first one is in that way related, that using backup server works again. Second one would not

[2016-04-21 23:40] blizzz commented on #22652
@butonic LDAP only, you can specify a second attribute that shows up in brackets after the first value.

[2016-04-22 03:54] RealRancor commented on #12193
@hostingnuggets

If you still think this should be documented feel free to contribute to the documentation ;-)

[2016-04-22 04:16] RealRancor commented on #24176
@alvar-freude For issues within the activity app you should reopen that in:

https://github.com/owncloud/activity/issues

Before doing this make sure that you have activated the following in your personal settings:

- A file or folder has been changed (Stream ticked)
- List your own actions in the stream

[2016-04-22 05:24] #24169 closed

[2016-04-22 06:22] jancborchardt commented on #23683
@paurisa check out the related pull request (and review it if you like :) https://github.com/owncloud/core/pull/23902 – it's via JS

[2016-04-22 07:05] DeepDiver1975 commented on #23964
This is an issue in the calendar app - https://github.com/owncloud/calendar/blob/master/js/app/models/calendarmodel.js#L48

[2016-04-22 07:22] DeepDiver1975 commented on #23964
Fix is in calendar repo - https://github.com/owncloud/calendar/pull/486

[2016-04-22 07:22] butonic commented on #10155
Well, the issue just popped up again and a lot of time has passed since this was moved to the backlog. @rullzer how hard would it be to implement "enforced shares" with the refactored sharing code?

[2016-04-22 07:47] RealRancor commented on #24165
@jguy1987 It seems you have somehow managed to mix an old oC 8.1.x installation with a current oC 9.0.x one. Your output shows parts like ``systemtagsfilelist.js`` which are part of the systemtags app only available in oC9.

To me this looks more as an setup issue

[2016-04-22 07:59] PVince81 commented on #23534
Fix is here apparently: https://github.com/owncloud/core/pull/23972

[2016-04-22 08:09] RealRancor commented on #24176
@alvar-freude Ah, already available here: https://github.com/owncloud/activity/issues/375 so you could just close this issue and follow there.

[2016-04-22 08:12] PVince81 commented on #23513
@remkolodder have you deleted a user recently before the problem started to appear ?
If yes, can you check if the user has an entry in the tables `oc_users`,  `oc_storages`, `oc_filecache` (use the matching oc_storages.numeric_id for the storage)

Still trying to find how the :ghost: user came to be.

[2016-04-22 08:26] Trefex commented on #23426
@MorrisJobke Ok thanks will do. Is it safe now to upgrade from 8.x to 9.0.1 ? I got a bit scared when 9.0 came out with the explosion of tickets on github / mailing list. Thanks

[2016-04-22 08:44] GitHubUser4234 opened #24182 "SSO + masterkey encryption issue for new users"
As mentioned in [#23899](https://github.com/owncloud/core/issues/23899#issuecomment-211759128) , there is an internal error for new users logging in through SSO when masterkey encryption is enabled.

### Steps to reproduce

[Link to the testing app]( https://github.com/GitHubUser4234/apps/tree/master/user_dp)

1) Login as ownCloud admin.
2) Create user "dep_tester123".
3) Logout.
4) Install and en

[2016-04-22 08:48] PVince81 commented on #23513
Tried with a text file on a federated share, ran cron on the recipient OC: it also bails out with `NoUserException` in `getUidAndFilename` because `initMountPoints` is called with null, so that's also not the correct reproduction case.

[2016-04-22 08:53] alvar-freude commented on #24176
Yes, activity stream for renamed files is active. But nevertheless: the **logging** should happen always, only the display of the log message may be switched of.

[2016-04-22 08:53] alvar-freude commented on #24176
Sorry, i thought the logging itself is done in core.
Therefore: closed.

[2016-04-22 08:53] #24176 closed

[2016-04-22 08:54] PVince81 commented on #23513
HA, got it reproduced after looking into `initMountPoints`. You need TWO expire jobs to make it happen with a null user.

Steps:

1. Setup two ownClouds OC_A and OC_B
1. On OC_A, share a folder "test" with admin@OC_B
1. As admin@OC_B, accept the share
1. Create a text file "test/test1.txt", edit it several times to create versions
1. Create another text file "test/test2.txt", edit it several times

[2016-04-22 08:59] PVince81 commented on #23513
Another test case with external storage:

1. Setup an external storage, for example SMB, system-wide, for all users, as "/smb"
1. Login as any user
1. Create a file "/smb/test1.txt", edit it several times to create versions
1. Create another file "/smb/test2.txt", edit it several times to create versions
1. Check "oc_jobs" to make sure there are at least two version expire jobs
1. Run cron :boom:

[2016-04-22 09:02] LukasReschke opened #24184 "Add support for S/MIME signing of outgoing mails"
Ref http://swiftmailer.org/docs/messages.html#signed-encrypted-message

[2016-04-22 09:06] jancborchardt opened #24185 "User menu spinner keeps getting displayed on Ctrl+Click"
This menu also needs the same fix as the apps menu: When you click an entry with Ctrl+Click, do not show the spinner and close the menu. :)

Follow-up to https://github.com/owncloud/core/pull/23916

[2016-04-22 09:09] #24082 closed

[2016-04-22 09:11] MorrisJobke commented on #23913
This does only work for internal users. LDAP users are not counted because the check for upgrade happens before loading the authentication apps. 🙈

[2016-04-22 09:11] MorrisJobke commented on #23913
Check: https://github.com/owncloud/core/blob/afad27fafd996f0e2e7117d9f431f9eb63736569/lib/base.php#L822-L822
Loading auth apps: https://github.com/owncloud/core/blob/afad27fafd996f0e2e7117d9f431f9eb63736569/lib/base.php#L841

[2016-04-22 09:15] PVince81 commented on #23513
PR is here: https://github.com/owncloud/core/pull/24186
This should hopefully help cover more error cases than https://github.com/owncloud/core/pull/24160.

[2016-04-22 09:23] jancborchardt opened #24188 "Personal & Admin settings restructuring"
Currently the Personal and Admin settings are both very long pages with anchor navigation on the left side. This has several issues:
- Some sections like logging, LDAP and other admin settings don’t get the space they need or look strange in the page since they have intermittent scrollable areas or a tabbed interface.
- It’s a bit strange to navigate and see where sections and and others begin. Ev

[2016-04-22 09:24] jancborchardt commented on #24188
A bit related: The ability to search in the settings: https://github.com/owncloud/core/issues/16875

[2016-04-22 09:26] MorrisJobke commented on #23426
It's only possible to upgrade from 8.2.x to upgrade to 9.0.x.

[2016-04-22 09:28] Trefex commented on #23426
Yeah that's what I meant.

On Fri, Apr 22, 2016 at 11:26 AM, Morris Jobke <notifications@github.com>
wrote:

--
Christophe

*Official Mendeley Advisor*
*Ask me anything about Mendeley through http://bit.ly/ki1ceV
<http://bit.ly/ki1ceV>*

[2016-04-22 09:57] DeepDiver1975 commented on #23913
I know - but we cannot load all auth apps before performing this check - test if ldap is enabled and assume this is a big installation?

[2016-04-22 10:00] thomasgraf commented on #22735
is longingly expected :+1:

[2016-04-22 10:01] MasterFox commented on #22735
please integrate it soon - thx :+1:

[2016-04-22 10:04] migle commented on #24040
Here's more info, to keep you updated and maybe get some clue...
Note, paged searches are irrelevant to me with my small directory. What bothers me is having had to modify a php file to shut up an error message.

So, in `apps/user_ldap/lib/access.php`, in function initPagedSearch, at line 1760, at the call to ldap->controlPagedResult, a variable named `$cookie` is empty. Now, I can only guess the

[2016-04-22 10:11] PVince81 commented on #14757
Looking at @michi-roth's stack trace here https://github.com/owncloud/core/issues/14757#issuecomment-185243499 it looks like the file was modified outside of ownCloud, and at the time of the PROPFIND ownCloud noticed the change and tried to update the cache and propagate it.

@michi-roth did you explicitly modify files outside of ownCloud, directly in the data folder ? If not, then this might be a

[2016-04-22 10:13] rullzer commented on #10155
Well I think the cleanest approach here would be to just check in the OCS Share API if the user can share at all. And if not return a 401.

Man I wish we had middleware in the OCS API...

[2016-04-22 10:16] PVince81 commented on #24090
Downgrading to high as @davitol could not reproduce the issue.
Moving to 9.0.3 in case it is observed again at some point.

[2016-04-22 10:16] PVince81 commented on #24090
CC @cmonteroluque

[2016-04-22 10:27] cusatxpress opened #24190 "Login Button not working"
### Steps to reproduce

1. Downloaded setup-owncloud.php in the directory of my sub domain download.cusatxpress.com.
2. setuped the owncloud.
3. Synced the data.
4. and after a while, when i tried to login the **login seems not working (login button returns nothing).**

### Expected behaviour

1. After Admin username and password when pressed login / Enter press logs the admin/user in.

### Actual

[2016-04-22 10:41] PVince81 commented on #14757
So far there are only to possibly long-running transactions:
- file scanner, when scanning a folder for changes: https://github.com/owncloud/core/blob/v9.0.1/lib/private/files/cache/cache.php#L517
- background scanner, mostly used when initially scanning ext storages: https://github.com/owncloud/core/blob/v9.0.1/lib/private/files/utils/scanner.php#L157
- when renaming a folder, and all sub-entries

[2016-04-22 10:47] PVince81 commented on #14757
I found this fix https://github.com/owncloud/core/commit/26939a28730eb7b3417cd02bb6c35ef748cced11 but it seems that it was already in 9.0 RC1, where the report has been reported again.

[2016-04-22 10:51] PVince81 commented on #14757
@michi-roth can you check whether you have a setting "file_system_check_changes" in your config.php ? Your last stack trace seems to imply that you have explicitly set this value to 1, while the default is 0. Usually setting it to 0 would solve the issue.

[2016-04-22 11:03] migle commented on #24040
No!
Almost solved.

Here it goes: I use an uncommon database backend for OpenLDAP. The normal today is MDB. I use the LDIF backend which just stores everything on text files without indices.

Why I do that is outside the scope of this issue. But, I run a small directory at home, with under 20 users. I've been running OpenLDAP for well over 10 years now, and over those years it has been the main ca

[2016-04-22 11:10] PVince81 commented on #14757
For now I'll assume that you had "filesystem_check_changes" set to 1. Or maybe it was an external storage for which update detection is enabled anyway, so the situation is likely to happen there too.

Here is my first test run:
1. Set "filesystem_check_changes" to 1 in config.php
1. Create a folder "test" in the web UI
1. Upload about 70 files into the "test" folder
1. In the source code, add `sle

[2016-04-22 11:13] PVince81 commented on #14757
Side note: the web UI's regular "getstoragestats.php" call will also trigger a scan while trying to computer the used space. That one also successfully was excluded thanks to the lock.

[2016-04-22 11:14] PVince81 commented on #14757
Next step: try the reverse condition: have the scanner run first and then try and rename.

[2016-04-22 11:25] karlitschek commented on #24188
yes. as discussed

[2016-04-22 11:32] DeepDiver1975 commented on #24188
@ChristophWurst it might be necessary to adjust the OCP api in order to allow apps to register their setting pages. Please make sure the old mechanism continues to work.
Feel free to ping be in case of question regarding the OCP api

[2016-04-22 11:32] #23513 closed

[2016-04-22 11:32] hegGK opened #24193 "CardDav Error at sync with OwnCloud/outlookcaldavsynchronizer"
When using caldavsynchronizer to sync carddav-data with owncloud, I get a 404 error from owncloud.
I reported that to CalDavSynchronizer at got this answer below which suggest a problem in OwnCloud.

The setup:
- hosted Owncloud V9.0.1
- W7 64 Client
- Outlook with CalDavSync 2.1.0.0
- One adressbook in OwnCloud synchronized with one adressbook in outlook

Any help is appreciated.

J. Hergeth
###

[2016-04-22 11:51] RealRancor commented on #24193
@hegGK It might be useful to provide the URL you're using for accessing the address book (replace sensitive data within it).

[2016-04-22 12:02] ikarus13 opened #24194 "errors in owncloud.log"
### Steps to reproduce
1. Listing content with Firefox
2.
3.

### Expected behaviour
Tell us what should happen
owncloud.log should stay clean...

### Actual behaviour
Tell us what happens instead

A lot of entries in owncloud.log like this:
{"reqId":"VxoDjEBNOWcL8-RiCrZBnwAAAAk","remoteAddr":"xxx.xxx.xxx.xx","app":"PHP","message":"Invalid argument supplied for foreach() at \/var\/www\/html\/owncl

[2016-04-22 12:26] kiu-ball commented on #9542
@RuudschMaHinda

This does not work. Looks like wildcards are not supported at this point.

[2016-04-22 12:39] PVince81 commented on #13934
@michaelstingl @keithf4 please provide the full exception.

Since 8.2.2 there's transactional file locking enabled by default which should prevent such error to happen. If you still see it, the full exception might tell us whether it's exactly the same or whether it's happening in a different place.

[2016-04-22 12:39] DeepDiver1975 opened #24198 "App Update"
# ToDos:
- [x] Add a background repair step which can be executed after upgrade during live operations
- [x] Add a progress based feedback for longer running repair steps
- [ ] cleanup emitter vs. EventDispatcher (tech dept)
- [x] enhance OCP\IRepairStep to hold feedback methods
- [x] define backgroudjobs in info.xml @icewind1991 - does this somehow collide with your work?
- [ ] kill https://githu

[2016-04-22 12:44] icewind1991 commented on #24198
The background jobs that would be defined in info.xml would be seperate from the job queue (job queue is for one-off async work)

[2016-04-22 12:50] paurisa commented on #23683
@jancborchardt Thanks for the link.

[2016-04-22 12:59] PVince81 commented on #20555
I think I managed to reproduce the oc_file_lock deadlock while trying to reproduce https://github.com/owncloud/core/issues/14757 which is the oc_filecache deadlock... fun times.

Steps will follow.

[2016-04-22 13:09] ikarus13 commented on #24194
Hi,
good or bad news:
There is annother problem in combination. The reason for the logentries is that i set up the directories for multiple goups. And annother affect is, that i can see the root directory of the server instead of the shared directory. Nice to see files like password and so on...
If i delete the second group everything works well, no log entries.

Greetings,

ikarus

[2016-04-22 13:10] fwolfst commented on #22741
Any light on the end of the tunnel? Would be such a lovely feature. And I'd reckon its a pretty enterpricy one, too.

[2016-04-22 13:10] PVince81 commented on #20555
Steps:

1. Check out v9.0.1
1. Create a folder "test"
1. Upload about 70 files into "test"
1. Close the web UI to avoid heartbeat/getstoragestats interference
1. Edit https://github.com/owncloud/core/blob/v9.0.1/lib/private/files/cache/scanner.php#L138 and add `sleep(5)` AFTER acquireLock to make sure the scanner lock takes longer
1. Open two cadaver sessions A and B
1. In config.php, set "filesys

[2016-04-22 13:10] michaelstingl commented on #13934
@PVince81 I have nothing to contribute in this issue.

[2016-04-22 13:11] RealRancor commented on #24194
This sounds quite similar to https://github.com/owncloud/core/issues/23617 or am i wrong?

[2016-04-22 13:12] PVince81 commented on #20555
In mysql client on the CLI:
[code]

My DB user was given all permissions with "GRANT ALL PERMISSIONS", so I'd expect ownCloud's connection to be able to set the transaction modes properly.

[2016-04-22 13:15] PVince81 commented on #13934
@michaelstingl sorry, autocomplete got you :frowning:

I meant @michalmiddleton

[2016-04-22 13:23] #24105 closed

[2016-04-22 13:26] ikarus13 commented on #24194
Yes, sounds so.
I will look into the database, but i am not an expert :-(

[2016-04-22 13:28] DeepDiver1975 commented on #24198
Just to be sure - we only have one queue and there is nothing going to change with this respect thinking about the executor mechanism you are building for 9.1

So no matter if the jobs are one shot of cron like they live in the same queue and will be equally executed amongst all job executors.

So as soon as a background job is defined in info.xml - we should throw it onto the job queue.

[2016-04-22 13:28] michalmiddleton commented on #13934
@PVince81 I am almost certain that the issue went away after I enabled transnational file locking (via Redis).  Either way, I am running 9.0.1 and I am not seeing this log entry anymore.
Thanks for the follow up!

[2016-04-22 13:42] MorrisJobke commented on #23913
What about user_shibboleth? I guess we need to do some tricks here before we have the general user table (but that is 9.2). I'm fine with hard coding those two apps.

[2016-04-22 13:59] tflidd commented on #24190
Owncloud-logfiles or webserver-logfiles don't reveal more details?

[2016-04-22 14:07] icewind1991 commented on #20555
@PVince81 can you try https://github.com/owncloud/core/commit/68810347a146f58b2047a9d65d5d7a6f4d83599d

[2016-04-22 14:08] mitch-geht-ab commented on #23756
@PVince81 Sure. I've rebootet my smartphone. It assume that it is like a logout -> login.

[2016-04-22 14:18] icewind1991 commented on #24198
Background jobs (currently defined in update/install.php, to be moved to info.xml) execution will stay the same (cron.php) and is meant for periodic background jobs (news app sync, syncing of remote system address books, etc)

Job queue will get it's new fancy executor for 9.1 and is meant for one-off async work that is triggered by some action (trashbin expiry)

[2016-04-22 14:21] sahilamanu commented on #24190
Funny thing is, it works fine  on Mobile ( Chrome Android).

[2016-04-22 14:22] jamincollins opened #24203 "Stray file locks, preventing client upload"
### Steps to reproduce
1. Install owncloud
2. copy desired files into ownCloud sync folder
3. watch logs
### Expected behaviour

files should sync without error
### Actual behaviour

several files failed to sync with indication that the files were locked
### Server configuration

**Operating system**:

[code]

**Web server:**

[code]

**Database:**

[code]

**PHP version:**

[code]

**ownCloud ver

[2016-04-22 14:24] PVince81 commented on #20555
Turns out I wasn't able to reproduce the original issue without this commit. It only happened once.

But this variation of the steps where cadaver B (the move) runs first and implicitly scans followed by cadaver A produces the deadlock errors.

Here are the updated steps:
1. Check out v9.0.1
1. Create a folder "test"
1. Upload about 70 files into "test"
1. Close the web UI to avoid heartbeat/getst

[2016-04-22 14:25] rullzer commented on #21889
I can take care of that final step.
Assiging to myself so I don't forget.

[2016-04-22 14:46] PVince81 commented on #20555
@icewind1991 I tested with your commit with both steps and could not make the deadlock issue appear again:

1) `ls` before `mv` (https://github.com/owncloud/core/issues/20555#issuecomment-213423194)

- Before the fix: both operations stayed stuck, then one of them might time out. Sometime deadlock.
- After the fix: the move always fails with "423 Locked" while the "ls" is still running. This is ho

[2016-04-22 14:54] PVince81 commented on #14757
So far I could not reproduce this exact issues. All my attempts at reproducing it lead to a deadlock on oc_file_lock, but not oc_filecache, which were documented here: https://github.com/owncloud/core/issues/20555#issuecomment-213423194

[2016-04-22 15:00] PVince81 commented on #23997
PR was merged, closing

[2016-04-22 15:00] #23997 closed

[2016-04-22 15:07] DeepDiver1975 commented on #21889
@rullzer THX - as you wish - please use repair steps as introduced with https://github.com/owncloud/core/pull/24199

[2016-04-22 15:08] DeepDiver1975 commented on #24198
Hmm .. I see no need to separate them in terms of who is executing them.

[2016-04-22 15:16] rogerfv1 opened #24206 "Deleting file is not possible if a file is shared to LDAP group and Login Filter doesn't contains uid attribute."
### Steps to reproduce
1. Enable user_ldap plugin and set memberUID for Group-Member association.
2. Edit LDAP Login Attributes so that it doesn't use the uid attribute. You can use mail attribute instead of uid.
3. Create a ldap group and assign 2 members (user1 and user2) using memberUID.
4. With user1 share any file to ldap group.
5. With user2 try to delete the file shared by user1.

### Expec

[2016-04-22 16:29] keithf4 commented on #13934
I've not seen this error in my logs since I last reset them which was for the 8.2.3 update in March. I am doing Redis caching as well.
I haven't done the 9.0 update yet but it's in my todo list for the near future.

[2016-04-22 16:36] h-2 opened #24208 "–"

[2016-04-22 16:37] tps800 commented on #23405
[code]

[2016-04-22 16:40] jguy1987 commented on #24165
Reinstalled the VPS as Ubuntu 15.10 64-bit.

commands I ran, in order, as root:
apt-get` update && apt-get -y upgrade
wget -qO - https://download.owncloud.org/download/repositories/stable/xUbuntu_15.10/Release.key | apt-key add -
echo 'deb http://download.owncloud.org/download/repositories/stable/xUbuntu_15.10/ /' | tee /etc/apt/sources.list.d/owncloud.list
apt-get update && apt-get install ownclo

[2016-04-22 16:44] #24208 closed

[2016-04-22 16:44] LukasReschke commented on #24208
=> https://owncloud.org/security/

[2016-04-22 17:01] h-2 commented on #24208
Sorry about that. Sent via GPGed E-Mail.

[2016-04-22 17:02] tyrylu opened #24211 "filelist.js, condition result depends on browser used"
In filelist.js (files app) in the handler for file clicks, the condition at line 583:
`if (!this._detailsView || $(event.target).is('.nametext') || $(event.target).closest('.nametext').length)`
depends on the current browser. In Ie, during a simple click on a subfolder the correct (e. g. the first) branch is taken, in Chrome and Firefox 45 the second and the content is not displayed, the title not

[2016-04-22 17:26] RealRancor commented on #24165
Yes, very likely a caching issue within the browser.

[2016-04-22 17:47] caguiar commented on #18214
I tried this workaround, and really helps. Does not fix entirely, but at least helps.
I mean, before, when I deleted a file, I sometimes I had to deleted 5 or 6 times, and it just kept coming back. Now its much better, in 10 files I delete it might happen that one file reapers once.
Also the conflicting files issue is much better ... again now happens very rarely.

[2016-04-22 19:31] DeepDiver1975 commented on #7715
OC6 is out of support -> close

[2016-04-22 19:31] #7715 closed

[2016-04-22 20:25] DeepDiver1975 commented on #5902
I guess we can close this one

[2016-04-22 20:25] #5902 closed

[2016-04-22 20:27] DeepDiver1975 commented on #8761
We should not put the burden of background processing onto any dav operation -> close

[2016-04-22 20:27] #8761 closed

[2016-04-22 20:30] DeepDiver1975 commented on #6816
with 9.0 you can comment on files and apply tags - should be enough -> close

[2016-04-22 20:30] #6816 closed

[2016-04-22 20:42] olerichter commented on #23816
Sorry for the delay, I am sadly super busy and did not managed it earlier.
So I was able to reproduce the problem from a plain installation,
So thats what i did:
**Steps to reproduce:**

- Install a plain Debian stretch (testing).
- add the following to the apt sources: `deb http://download.owncloud.org/download/repositories/stable/Debian_8.0/`
- Install packages: `apache2 php7.0 php7.0-ldap owncl

[2016-04-22 21:20] #10664 closed

[2016-04-22 21:22] stormsh commented on #14386
@RodolVelasco I've tried to, but I get an error.

`wget http://pecl.php.net/get/apcu-5.1.3.tgz
/opt/plesk/php/7.0/bin/pear install apcu-5.1.3.tgz`
Then I get an error
`compilation terminated.
make: *** [apc.lo] Error 1
ERROR: `make' failed`

At this point I'm stuck. I don't know enough about ubuntu to get this running. But APCu is the memcache you wnat for oc 9 with php 7. For php5.5 I use the 4.0

[2016-04-22 23:05] border0464111 commented on #23885
From ** https://download.owncloud.org/community/6/owncloud-6.0.2.tar.bz2   **
In ** versions.php  **
it say
[code]

[2016-04-22 23:27] border0464111 commented on #23885
Doing this while not supporting multiple versions upgrade is kinda non-sense.

[2016-04-23 01:39] GhostCyborg opened #24215 "Setup Leads to a Internal Server Error (500)"
# Actual behaviour

Every time I click 'Finish Setup' the server responds with a Internal Server Error.

# Server configuration

Operating system: CentOS

Web server: Apache

Database: MySQL or SQlite

PHP version: 5.6.14

ownCloud version: 9.0.1

# List of activated apps:
All Default App //Haven't been able to access ownCloud

The content of config/config.php:

<?php
$CONFIG = array (
  'instance

[2016-04-23 07:45] RealRancor commented on #24215
Hi,

unfortunately the bugreport is pretty useless without having thevlogfiles :-/

The 500 error is just a "catchall" generic error and you need the logfiles to know whats wrong here

[2016-04-23 08:13] RealRancor commented on #23885
@border0464111 For now you can use the 6.0.9 package linked here:

https://github.com/owncloud/core/issues/23885#issuecomment-208935582

The 6.0.2 package is not needed if you're doing an upgrade, you only need the latest version of the major branch.

[2016-04-23 08:38] ardaric commented on #24066
I can confirm the problem, same symptoms for me.

[2016-04-23 08:53] ghost opened #24216 "TBD: Don't throw 404 in /core/preview.png?file= if no preview exists"
### Steps to reproduce
1. Having https://ossec.github.io/ installed
2. Open folder with ~20 files for which oC can't create previews
3. Get blocked with rule "Rule: 31151 (level 10) -> 'Multiple web server 400 error codes from same source ip.'"

The rule can be easily updated to not jump in if 404s are happening on /core/preview.png but still it might be better to not throw that much 404s.
### Exp

[2016-04-23 09:22] Xenopathic commented on #24216
It makes sense to return 404s here though, since the client asked for a resource and it was not found? Perhaps you need to tweak your OSSEC rules to exclude that path?

[2016-04-23 09:34] RealRancor commented on #24216
Yes, sure. The rule is already tweaked:

[code]

However the question is, if the client is asking for a resource or oC is pointing the client to a non-existent resource?

[2016-04-23 10:16] fireba11 opened #24217 "contact_birthdays shows only year, not the age"
### Steps to reproduce
1. add a birthday to a contact
2. look at calendar

### Expected behaviour
calendar shows the age of the person celebrating their birthday (it did so in 8.2)
showing age(year) or something might be a good idea too, maybe make it configurable?

### Actual behaviour
calendar shows the birth year

### Server configuration
**Operating system**:
debian 8.3
**Web server:**
apache

[2016-04-23 10:30] RealRancor commented on #24217
@fireba11 Please re-open in https://github.com/owncloud/calendar/issues where the issue tracker of the calendar is located.

[2016-04-23 10:36] fireba11 commented on #24217
Oh, they still got a seperate tracker? sorry ...

[2016-04-23 10:39] RealRancor commented on #24217
Yes :-) The calendar and contacts apps are non-shipped / community maintained apps. Only apps shipped within the owncloud-9.0.x.tar.bz2 are handled in the core issue tracker.

[2016-04-23 14:21] GhostCyborg commented on #24215
Ok, I managed to get the log file:
error_log says '
[23-Apr-2016 14:20:22 UTC] creating sqlite db
[23-Apr-2016 14:20:25 UTC] PHP Fatal error:  Out of memory (allocated 14942208) (tried to allocate 2255 bytes) in /home/user/public_html/owncloud/lib/private/log.php on line 287'
That's the only log file i have.

[2016-04-23 14:47] RealRancor commented on #24215
Yes, thats the issue here. Your PHP has a memory_limit of 14942208 (14MB) configured which is far below the minimum of 128MB required by oC:

https://doc.owncloud.org/server/9.0/admin_manual/installation/system_requirements.html#memory

Nothing what can be done here at the bugteacker. Please close here and raise the menory_limit in your PHP to at least 128MB. For further questions you can use the

[2016-04-23 14:53] beat commented on #23186
stats and icon folders, and awstats-icon and awstatsicons links are standard for awstats (a popular open-source web-stats package). When installing OwnCloud into the top folder, with open-source VirtualMin panel (and default awstats enabled), those folders exist, and a way to ignore them should be added (e.g. in config.php file), same like content in data (and in config.php too) are ignored.

[2016-04-23 15:25] GhostCyborg commented on #24215
Ok, thank's alot :) :+1:

[2016-04-23 15:35] RealRancor commented on #24215
Ah, forgot to mention. The PHP directive to raise this limit is memory_limit like seen here: https://secure.php.net/manual/en/ini.core.php#ini.memory-limit

[2016-04-23 15:56] GhostCyborg commented on #24215
I changed the memory limit, and then ran 'phpinfo();' and it says that my memory limit is '512M' but i still get the same error'[23-Apr-2016 15:54:20 UTC] PHP Fatal error:  Out of memory (allocated 14942208) (tried to allocate 65552 bytes) in /home/user/public_html/owncloud/lib/private/log.php on line 226'

[2016-04-23 16:02] GreatEmerald opened #24218 "Integrity checker: exclude .webapp file"
Currently, the integrity checker complains when there is a .webapp file in the root of the OwnCloud installation directory. This file is generated, and required, by the webapp-config tool used to install all web apps on Gentoo.
### Steps to reproduce
1. Install OwnCloud using webapp-config into the root of a subdomain (suggested method):

[code]
### Expected behaviour

The integrity checker should

[2016-04-23 16:10] RealRancor commented on #24215
@GhostCyborg The message is still telling you the issue. Please use the forums or the users mailinglist, there is really nothing what can be done here from oC side except configuring your environment correctl.y

[2016-04-23 16:14] GhostCyborg commented on #24215
Ok.

[2016-04-23 16:14] RealRancor commented on #24218
In https://github.com/owncloud/core/pull/22756#issuecomment-199016878 @akhokhlushin has referred two two files created by that tool?

[2016-04-23 16:14] #24215 closed

[2016-04-23 16:26] GreatEmerald commented on #24218
Hm, that's true:
[code]

I'm not sure why the integrity log doesn't list the second one. But both should be excluded, in any case.

[2016-04-23 20:22] winpat commented on #23858
@PVince81 I did wait up to 24 hours... however no luck.
AFAIK the LDAP Default Quota isn't set in LDAP itself, so lowering the Cache TTL won't help.

[2016-04-24 07:26] DeepDiver1975 commented on #24217
The birthday calendar is generated and provided by the DAV backen living in core.
The issue is valid in here.

[2016-04-24 10:17] strk commented on #9889
I suggest renaming the issue title to be more specific about the unix socket support.

[2016-04-24 10:21] strk opened #24219 "PostgreSQL setup: allow specifying a TCP port"
### Steps to reproduce
1. install
2. go to /owncloud URI to do setup
3. select PostgreSQL database backend
### Expected behaviour

Be able to specify a TCP port, in addition to hostname, for the database
### Actual behaviour

No field exists to specify a port

**ownCloud version:** (see ownCloud admin page)
8.1.6

**Where did you install ownCloud from:**
http://download.opensuse.org/repositories/i

[2016-04-24 10:29] strk opened #24220 "PostgreSQL setup: lost control on error"
### Steps to reproduce
1. install
2. go to /owncloud URI to do setup
3. select PostgreSQL database backend
4. enter username/password/host:port
5. click install/setup (whatever the button says)

### Expected behaviour
Either get an error while still being able to change the setup or move over

### Actual behaviour
An error is printed and I cannot modify the configuration from the web anymore.
The

[2016-04-24 10:31] strk commented on #24220
The config/config.php contains a `dbname` and `dbhost` variable but no `dbuser` and `dbpassword`, is that expected ?

[2016-04-24 11:28] strk commented on #24220
NOTE: manually adding `dbuser` and `dbpassword` in the `config.php` file and reloading the `/owncloud` url gives me back the initial (install) form while the PostgreSQL log show owncloud querying an `oc_appconfig` table for a `installed_version` key, not finding the table.

So it seems to be impossible to use PostgreSQL backend with this version

[2016-04-24 11:47] strk commented on #24220
I can NOT reproduce with version 9.0.1, so assuming fixed.

[2016-04-24 11:47] #24220 closed

[2016-04-24 11:48] strk commented on #24219
It looks like the port can be specified as part of the hostname, something like: `localhost:5432`
I think it would be useful to mention this possibility in the setup form.

[2016-04-24 14:23] jknockaert opened #24221 "Use bigint instead of int for epoch fields"
Epoch fields like firstoccurence and lastoccurence in the oc_calendarobjects table are defined as int datatype (at least in postgres). That doesn't allow dates beyond 2038. Such dates commonly occur for recurring items without end date, which by some clients are implicitly defined to happen 400 times. Upon syncing such an item (over caldav) the webserver gives a 500 and owncloud gives an error. So

[2016-04-24 14:24] jknockaert commented on #24221
@DeepDiver1975 Could you have a look at this one?

[2016-04-24 16:26] virtualerror opened #24222 "he update was unsuccessful 8.2. to 9.0.1"
### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration
**Ubuntu 14.04.4**:

**Apache:**

**mysql:**

***

**ownCloud version:** (see ownCloud admin page)

**Updated from an older ownCloud or fresh install:**

**Where did you install ownCloud from:**

**Signing status (ownCloud 9.0 and above):**

[2016-04-24 16:49] RealRancor commented on #24222
@virtualerror The whole issue template is currently missing which makes this bugreport quite useless.

[2016-04-24 16:51] DeepDiver1975 commented on #24221
@jknockaert kan I ask you for an ical which is causing this issue? THX

[2016-04-24 16:51] #24222 closed

[2016-04-24 17:30] arjanvlek commented on #20963
Hi, I used to have PHP 5.6.x on my server, but now I have PHP 7.0 and want to uninstall PHP 5.6 completely.
However, if I try to remove the PHP 5.6 packages, apt-get wants to uninstall owncloud and owncloud-server from my system. How do I uninstall PHP 5.6 while keeping PHP 7.0 and Owncloud 9.0.1?

The only package I could uninstall was libapache2-mod-php5 so there are at least no duplicate PHP mo

[2016-04-24 17:32] enoch85 commented on #20963
@arjanvlek Which OS do you run?

[2016-04-24 17:34] arjanvlek commented on #20963
@enoch85 Debian 8.4

[2016-04-24 17:35] RealRancor commented on #20963
@arjanvlek apt-get install owncloud-deps-php7.0 && apt-get remove --purge owncloud-deps-php5

[2016-04-24 17:36] enoch85 commented on #20963
@arjanvlek Just mv the `config` `data` `apps` and `theme` folder outside of your install dir and purge owncloud completely. Then reinstall it and move back the folders.

@RealRancor beat me to it ;)

[2016-04-24 17:37] arjanvlek commented on #20963
Sorry that it is in Dutch but this is what this command gives me:

De volgende pakketten hebben niet-voldane vereisten:
 owncloud-deps-php7.0 : Vereisten: php7.0-mbstring maar het is niet installeerbaar
                        Vereisten: php7.0-xml maar het is niet installeerbaar
                        Vereisten: php7.0-zip maar het is niet installeerbaar

[2016-04-24 17:40] enoch85 commented on #20963
@arjanvlek What I wrote works anyway, I just did it on 7 servers myself today.

[2016-04-24 17:41] arjanvlek commented on #20963
It misses some PHP7.0 packages on my server. From which repo did you get php7.0? I used [dotDeb](https://www.dotdeb.org/)

[2016-04-24 17:42] arjanvlek commented on #20963
@enoch85 Oh wow I see the apt-get command wasn't posted by you! Will try the other method and see if it works.

[2016-04-24 17:43] enoch85 commented on #20963
aptitude purge owncloud* -y
aptitude purge php5* -y
apt-get autoremove -y (I think it's apt-get on Debian)
aptitude install owncloud
and if it doesn't install the php 7 dependencies, then just;
aptitude install owncloud-deps-php7 -y

Done.

[2016-04-24 17:49] arjanvlek commented on #20963
apt-get install owncloud immediately wants to install php5 packages again...
and that apt-get purge php5* -y command is dangerous as it also removes PHP7!!!

[2016-04-24 17:51] enoch85 commented on #20963
@arjanvlek If you know what you are doing you can just install PHP 7 again. Try to do a `apt-get autoclean` as well, and then restart apache, or the server. Sometimes the servers just don't listen to your commands and you have to force it. ;)

[2016-04-24 17:58] arjanvlek commented on #20963
Yep I installed PHP7.0 and owncloud again. I found out that PHP7 support is incomplete with dotdeb and therefore owncloud-deps-php7 can't be installed due to missing packages. Therefore I'll leave php5 on my server until I find a better php7 repo. Any suggestions for a better php7 repo? Or wait until debian 9 which will include it in its default repos?

[2016-04-24 18:01] enoch85 commented on #20963
@arjanvlek I use this on Debian: https://github.com/enoch85/ownCloud-VM/blob/master/debian/owncloud_install.sh#L190-214

Good luck.

[2016-04-24 18:06] strk commented on #19801
The owncloud.conf as of 9.0.1 doesn't contain the reference to the documentation anymore, and webdav still doesn't work out of the box

[2016-04-24 18:07] jcharaoui commented on #23875
I just upgraded from OC 8.2.3 directly to OC 9.0.1. Disabled the app before the upgrade. Downloaded it from the appstore on 9.0.1, and ran the upgrade routine. On my installation the shared calendars work fine using the web interface (including modifying a shared calendar). However, I can't access the through CalDAV at all. When I query the URL, it returns `500 Internal server error`. I also have

[2016-04-24 18:32] stefanovazzocell opened #24223 "Emoji in a folder name"
### Steps to reproduce
1a. Try to create a folder named "🚀" --> Fails
1b. In one of your external storage, create a folder named "🚀"
2b. Try to look for the folder in OwnCloud --> Is not there

### Expected behavior
I would like the folder to show up in OwnCloud and I would like it to sync on my pc too.

### Actual behavior
The folder is neither listed on OwnCloud, nor in the pc synced with own cl

[2016-04-24 18:38] jcharaoui commented on #23875
After further investigating I found out about #23964, and fixed my problem by using the correct CalDAV URL. Sorry about the noise!

[2016-04-24 18:46] MasterG2000 commented on #23771
Sorry, was busy the last days and not able to answer your questions. To your questions:
1. Did you use the "applicable to" field in the admin page?
I can't find such a field. Which field do you mean. Normally I use the german translation of the interface. But even if I switch to English I'm not able to find such a field.

2. Maybe you could post an anonymized screenshot of the admin page?
Here it

[2016-04-24 18:47] RealRancor commented on #24223
@stefanovazzocell There is currently no unicode support in ownCloud with MySQL. You can follow the following discussions if that will be supported in the future:

https://github.com/owncloud/core/issues/24009, https://github.com/owncloud/core/pull/17978 (linked a few still open issues)

[2016-04-24 19:22] #24223 closed

[2016-04-24 19:53] jrdbnntt opened #24227 "Cannot sync .git folder and prevents any sync"
I have been having the hardest time getting my .git folder to sync correctly. I use owncloud to sync projects i am working on between my own computers, making changing computers trivial. This used to work fine a few client versions ago. Now, every time I try to sync a `.git` folder it breaks the entire sync process. I get a ton of 'Operation Canceled' error messages in the editor and the only way

[2016-04-24 19:58] #24165 closed

[2016-04-24 20:11] LukasReschke commented on #24227
Please file client issus at https://github.com/owncloud/client

[2016-04-24 20:11] #24227 closed

[2016-04-24 20:51] jrdbnntt commented on #24227
My bad, will do

[2016-04-24 21:12] Xenopathic commented on #9889
As per the [documentation](https://doc.owncloud.org/server/9.0/admin_manual/configuration_database/linux_database_configuration.html#postgresql-database) this is supported by passing the path to the Postgres socket directory

[2016-04-24 21:12] #9889 closed

[2016-04-24 21:30] arjanvlek commented on #20963
@enoch85 I got everything installed back and enabled php7 using this
command:
`sudo a2dismod php5 && sudo a2enmod php7.0 && sudo service apache2 restart
` The old packages didn't take up that much space and all works fine now.
Also enabled memcache using php7.0-apcu and works great!
Bye
Op 24 apr. 2016 8:01 p.m. schreef "Daniel Hansson" <notifications@github.com

[2016-04-25 05:11] RealRancor opened #24228 "Undefined index: extension at /var/www/owncloud/lib/private/installer.php#272"
### Steps to reproduce
1. Have a bookmarks app 0.6 from oC 8.2 installed which got removed during the upgrade to 9.0.x
2. Get new version 0.7 of the bookmarks app for 9.0.x offered
3. Click on "enabled" within the oC internal appstore
4. See that the bookmarks app have been successfully installed
5. Have a look at the owncloud.log

### Expected behaviour
No log entry about an undefined index shoul

[2016-04-25 06:06] RealRancor commented on #24228
Explanation why this is happening in https://github.com/owncloud/core/issues/20242#issuecomment-157004989:

[2016-04-25 06:36] DeepDiver1975 commented on #13820
@karlitschek @PVince81 since we are talking about an optional mechanism - would it make sense to push fir this in 9.1 to at least have the basic foundation in place?

[2016-04-25 07:42] nickvergessen commented on #20555
[code]

Which is wrong and which is what I said last week already.

https://github.com/owncloud/core/issues/20555#issuecomment-157331571

So running
[code]
should fix the problem

That should then cause an immediate return with "locked"

[2016-04-25 07:42] nickvergessen commented on #20555
Please verify and then close the issue

[2016-04-25 07:45] PVince81 commented on #23771
With "Applicable to" I meant the fields on the right with the grey boxes.

I see there are two "Eigene Bilder" mount points. Can you check whether the specified users do not overlap ? Basically make sure that the users who have access to the first "Eigene Bilder" are strictly different than the user who have access to the second "Eigene Bilder".

[2016-04-25 07:57] PVince81 commented on #20555
As advised, I now ran the commands in CLI mysql and after restarting the CLI session it seems that the values were kept (contrary to my previous belief).

After following the steps from https://github.com/owncloud/core/issues/20555#issuecomment-213447528 the "ls" call still blocks and the log still shows
[code]

[2016-04-25 08:03] PVince81 commented on #20555
Retested both cases with @icewind1991's PR https://github.com/owncloud/core/pull/24205 and with the proper transaction mode, it still works fine in a non-blocking manner (returns 423 Locked directly)

[2016-04-25 08:19] hegGK commented on #24193
The URL is:
https://<servername>/owncloud/remote.php/dav/addressbooks/users/<username>/<adressbookname>/

where each of the <...> contains only ASCII chars.

[2016-04-25 08:36] PVince81 commented on #22450
@VicDeo any other ideas ?

There seems to be a substr error somewhere: `mnt\/owncloud\/data\/carlos\/files_versions\/rsions\/`.
Maybe check the versions code for all string operations / substrings to find where this could happen ?

[2016-04-25 08:39] PVince81 commented on #24003
Might be related with https://github.com/owncloud/core/issues/23771#issuecomment-214022084

[2016-04-25 08:43] PVince81 commented on #24003
Log are suspicious:
[code]

Seems to imply a broken config.

[2016-04-25 08:46] PVince81 commented on #24003
This is the matching part in the code: https://github.com/owncloud/core/blob/v9.0.1/apps/files_external/service/storagesservice.php#L70

It looks like `$mount['applicable']` is null instead of an empty array.

Here is the config from OP:
[code]
and
[code]

[2016-04-25 08:56] guruz commented on #9832
@awnz You should be able to start the client with ```OWNCLOUD_MAX_PARALLEL=1 owncloud```

[2016-04-25 09:04] butonic commented on #10155
hm, in OC9 the web ui issues an http DELETE request upon unsharing a folder. How does that land in the ocs api? Just trying to make sure it is a single place where we would have to make the change?

[2016-04-25 09:04] DeepDiver1975 commented on #24217
From what I can tell it is not possible. The birthday event is stored as one recurring event in the calendar and there is no possibility to tell any CalDAV client to adjust the title.

[2016-04-25 09:08] rullzer commented on #10155
https://github.com/owncloud/core/blob/master/apps/files_sharing/api/share20ocs.php#L192 there...

However we should catch it in the OCS Share API (for sure). But we should also make sure the webUI is not allowing unsharing

[2016-04-25 09:09] VicDeo commented on #22450
@PVince81 may be patching   `/lib\/private/files/storage/local.php` to log debug_backtrace for non-existing files would be better?

[2016-04-25 09:10] PVince81 commented on #23771
Is this happening only for the shares that have TWO groups set in the config ?

I checked the supplied log and found this:
[code]

Similar to https://github.com/owncloud/core/issues/24003#issuecomment-214211099

[2016-04-25 09:13] awnz commented on #9832
Thanks @guruz, I've replied in (4334)[https://github.com/owncloud/client/issues/4334#issuecomment-214220805]

[2016-04-25 09:13] PVince81 commented on #22450
@VicDeo whichever can advance this investigation, yes. Please provide a patch for @cdamken then.

[2016-04-25 09:18] PVince81 commented on #24003
![screen_2016-04-19 10-57-05](https://cloud.githubusercontent.com/assets/1665937/14633365/91c1d148-061d-11e6-9cdc-be9d8974027a.jpg)

@MrJackJonesIII can you confirm that you only had "admin (group)" set for both storages ? Or did you have two groups set at some point earlier ?

The buggy log entries are usually related to when two groups were set to a config. If it happened for you with a single g

[2016-04-25 09:34] StyXman opened #24232 "Try and fix relationships with downstream"
I'm a happy Debian and ownCloud user for a long time now. Today I saw the package being evicted from Debian's repo and I was sad. Digging a little bit around I arrive to things like #22691. In principle the PR is ok, bugs in software package by Debian should first be reported in Debian's BTS and the maintainer should decide whether is part of her patches or it should be forwarded upstream. At leas

[2016-04-25 09:37] DeepDiver1975 commented on #24193
@evert Can I ask you to comment on this behavior?

I can simply reporduce this be sending an addressbook multiget request to the server asking for vcard which do not exist (e.g. having an invalid principal or addressbook name)
![bildschirmfoto von 2016-04-25 11-33-32](https://cloud.githubusercontent.com/assets/1005065/14779793/055e6650-0ada-11e6-9109-ba8143ee1cbe.png)

In case the vcard name itsel

[2016-04-25 09:41] PVince81 commented on #24026
@blizzz is this a know issue ? (see last comment)

CC @rullzer

[2016-04-25 09:46] PVince81 commented on #24164
@gig13 can you provide this information ?

[2016-04-25 09:48] PVince81 commented on #24182
@schiesbn can you have a look ?

Looks like it's expecting a user's private key even in master key mode ?
Can you check whether your recent PR related to master key would fix this ?

[2016-04-25 09:49] nickvergessen opened #24233 "Catching undefined exception in versions expire"
@schiesbn @VicDeo

Affects 9.1 and 9.0 at least

[2016-04-25 09:53] VicDeo commented on #24233
and @LukasReschke I guess ;)
https://github.com/owncloud/core/commit/13e817e90166d85dbea98043583185778d192212#diff-5f784a90b1d00d186520a82b01a81c71

[2016-04-25 09:53] PVince81 commented on #23090
Any update ? Did the new script fix the issue for anyone else ?

[2016-04-25 09:55] PVince81 commented on #24194
Closing in favor of https://github.com/owncloud/core/issues/24003 and https://github.com/owncloud/core/issues/23771 which have more extensive logs

[2016-04-25 09:55] #24194 closed

[2016-04-25 09:58] PVince81 commented on #24203
@jamincollins thanks for the detailed report.
Can you check in earlier log whether you had an exception message like "Deadlock" ?

It was observed that in case that Deadlock happens as in https://github.com/owncloud/core/issues/20555, there will be stray locks.

Did you recently rename one of the parent folders of the target directory you are using ?

[2016-04-25 09:58] PVince81 commented on #24203
@icewind1991

[2016-04-25 09:58] hitam4450 opened #24234 "Integrity Check failed : provisioning_api"
Upgrading an existing OC 8.2.3 installation (without any glitsches9 resulted  in en error message
in the yellow box!
Enclosed are screen shot of the error message and message of the app.
What causes this issue and how to resolve it ???

Many thanks in advance for your advice!
Havea nice, rewarding and successful day!

regards, hitam4450

![provisioning_api](https://cloud.githubusercontent.com/asse

[2016-04-25 09:59] PVince81 commented on #24203
Also note: if you upgraded from v9.0.0 or earlier and these folders already existed, maybe you had stray locks from older versions.

You can try setting your OC in maintenance mode, then `delete * from oc_file_locks;` to delete the stray locks.

[2016-04-25 09:59] PVince81 commented on #24206
@blizzz

[2016-04-25 10:03] PVince81 commented on #24211
Can you be more high level ? Do you mean that clicking on a row in IE11 on master is broken ?

It works for me in Chromium 49.0 at least.

[2016-04-25 10:08] PVince81 commented on #24216
Similar topic: https://github.com/owncloud/core/issues/17557

[2016-04-25 10:16] michaelstingl opened #24235 "CSS: 300px height of .summary makes footer of public link page look ugly"
I've got feedback from an user:

<img width="845" alt="files_-_owncloud" src="https://cloud.githubusercontent.com/assets/214010/14780682/633b07a2-0ade-11e6-9fe5-4e847528786e.png">

**core/apps/files/css/[files.css](https://github.com/owncloud/core/blob/v8.2.3/apps/files/css/files.css#L658-L664):**

[code]

### Steps to reproduce
1. create public link for folder with many files
2. open public link

[2016-04-25 10:21] butonic commented on #24182
related to SSO

[2016-04-25 10:21] PVince81 commented on #24233
So, anyone volunteers to fix this one liner ?

Too bad it's all static, so there will likely not be any matching unit test.

[2016-04-25 10:27] jospoortvliet commented on #24232
@StyXman You could but each app has its own update scripts. It'd be possible, but it is just a huge amount of work to develop and test on all the databases and stuff ownCloud supports. You're also not unlikely to end up with special bugs that won't show up until you upgrade some day in the future, and they'll be impossible to debug by then.

It is just very fragile. A proper solution would require

[2016-04-25 10:47] StyXman commented on #24232
I see, and I think that what the maintainer tried to do was to solve it the best he could (his own words). Reacting like 'I'd even consider a warning about not using Debian packages on our download page fair enough' is not helping in the discussion. I just wish that for the sake of ownCloud's relationship with distributions you acknowledge it.

Maybe some of you think distros are not important ('D

[2016-04-25 10:48] LukasReschke commented on #24234
You are using the old version of the provisioning API. Make sure to replace also the apps folder properly with thew new files.

The one shipped with 9.0.0 is signed, the old one is not. Please double check that you replaced the app as well.

[2016-04-25 10:50] LukasReschke commented on #24232
That's outrightly wrong. See https://fedoramagazine.org/owncloud-updates-coming-soon-fedora/ on how Fedora did handle this. The Fedora packagers did actually get in touch with us in advance unlike some other distribution packagers 😉

[2016-04-25 10:50] hitam4450 commented on #24234
I just did an (automated) upgrade. How to check for it???

[2016-04-25 10:52] LukasReschke commented on #24234
How did you upgrade? Please provide always as much information as possible.

Look into the folder `apps/provisioning_api/appinfo` and post the content of `info.xml` here.

[2016-04-25 10:55] PartisanEntity opened #24239 "Calendar: updating event, update button has no effect"
### Steps to reproduce
1. Login to the web version of your owncloud instance
2. Load your calendar
3. Go to an existing caleandar entry that was created under an older version of owncloud using an imported .ics file (version 8.2.3)
4. Click on the entry and change the date and time
5. click on the update button
6. as a test: creating a completely new event works

### Expected behaviour
After click

[2016-04-25 10:59] StyXman commented on #24232
@LukasReschke: I was just quoting. Bravo for Fedora.

Also, keeping that attitude doesn't help a little bit. Yes, I agree that there was some kind of miscommunication, but reacting that way does not put you in a good light either. So what I think both sides should do is to get together and work on it. I hope the invitation for the meeting in September is taken, but it's my opinion that should thin

[2016-04-25 11:05] MrJackJonesIII commented on #24003
@PVince81
You're absolutely right. The screenshot was not complete. I had another group (users) set up for all nonadmins. Sorry for the confusion. That info was only given in the other issue.

[2016-04-25 11:05] StyXman commented on #24232
Hmm, I just noticed the comment I was quoting was probably not from someone from the ownCloud community:

https://github.com/owncloud/core/pull/22691#issuecomment-201407688

If that's the case, my mistake. In any case, what he says after that goes in line to what I want to say here.

[2016-04-25 11:07] PVince81 commented on #24003
@MrJackJonesIII thanks for the info ! The good news is that this reduces the number of mysterious cases from 3 to 2 now :smile:

[2016-04-25 11:08] nickvergessen commented on #24190
Are you maybe using adblock and it prevents one of the JS files to be loaded?

[2016-04-25 11:12] schiesbn commented on #24182
After enabling the master key the user needs to re-login in order to initialize the master key for the session.

That's why this solves the issue:

Once https://github.com/owncloud/core/issues/18410 is fixed we can invalidate all sessions after encryption was enabled and enforce a re-login.

[2016-04-25 11:14] zanglerecke commented on #24239
confirm that behaviour..

[2016-04-25 11:16] nickvergessen commented on #17557
Duplicate of https://github.com/owncloud/core/issues/13609 ?

[2016-04-25 11:20] nickvergessen commented on #24228
Well, ask the app author to fix his downloads?

[2016-04-25 11:23] karlitschek commented on #13820
@DeepDiver1975 Sure. Once we have all the other prio1 and prio2 9.1 tasks finished. @cmonteroluque

[2016-04-25 11:24] PVince81 commented on #17557
Not exactly. I think the caching from #13609 is about the gallery folder.

This ticket is about letting the browser cache the 404 response by setting the correct cache headers instead of setting a "don't cache this" header style.

[2016-04-25 11:25] sahilamanu commented on #24190
Thanks. I think the script was getting blocked. It's working now.

[2016-04-25 11:28] cusatxpress commented on #24190
Thanks .. working fine !!!

[2016-04-25 11:28] #24190 closed

[2016-04-25 11:28] nickvergessen commented on #24239
Please report at https://github.com/owncloud/calendar/issues/new

[2016-04-25 11:28] #24239 closed

[2016-04-25 11:37] gig13 commented on #24164
@PVince81
The main LDAP was always online and there was no loadbalancer in use.

[2016-04-25 11:49] strk commented on #9889
Specifying "/var/run/postgresql" triggers an Internal Server Error here.
Note that the filename is stiill dependent on port, `.s.PGSQL.5433` in my case.
Can it be the code hard-codes the socket name to the default port ?

[2016-04-25 11:50] strk commented on #9889
Ok, `/var/run/postgresql:5433` works

[2016-04-25 11:55] hitam4450 commented on #24234
The content of info.xml:
<?xml version="1.0"?>
<info>
        <id>provisioning_api</id>
        <name>Provisioning API</name>
        <description>
                This application enables a set of APIs that external systems can use to create, edit, delete and query user
                attributes, query, set and remove groups, set quota and query total storage used in ownCloud. Group admin users

[2016-04-25 11:59] GitHubUser4234 commented on #24182
@schiesbn: Thanks for the reply. Not sure whether I understand correctly, ok a fix for #18410 would force existing users to re-login, but how about new users that are created after encryption was enabled,  e.g. like in this issue? Would the internal error still show? Thanks :)

[2016-04-25 12:05] PartisanEntity commented on #24239
Thanks, done: https://github.com/owncloud/calendar/issues/493

[2016-04-25 12:11] RealRancor commented on #24217
What about handling this on client side (calendar app)? The calendar app could know that the event is coming from the birthday calendar and could parse and calculate the age based on the year?

[2016-04-25 12:13] DeepDiver1975 commented on #24217
well - could be done - but then there is no consistency in visualization of data across clients.

[2016-04-25 12:19] DeepDiver1975 commented on #21866
not reproducible -> close -> please reopen if this happens again - THX

[2016-04-25 12:33] iaean opened #24245 "VCF Export for Contacts"
Integration of Card-/CalDav in OC Core via sabre/dav is awesome. :+1:

But, could you add support for the sabre [vcfexportplugin](http://sabre.io/dav/vcf-export-plugin/) for use with Contacts, please. As well as Calendars supports the [icsexportplugin](http://sabre.io/dav/ics-export-plugin/).

[code]

Thanks a lot
Best regards

[2016-04-25 12:35] DeepDiver1975 commented on #24245
Already there

[2016-04-25 12:35] #24245 closed

[2016-04-25 12:36] DeepDiver1975 commented on #24245
https://github.com/owncloud/core/blob/master/apps/dav/lib/server.php#L92
https://github.com/owncloud/core/blob/master/apps/dav/lib/server.php#L101

[2016-04-25 12:46] #24233 closed

[2016-04-25 12:47] jknockaert commented on #24221
@DeepDiver1975 This one should trigger the bug. I didn't test it myself, as my oc is now patched (and reversing the patch would corrupt the table data).
[code]

[2016-04-25 12:48] #20555 closed

[2016-04-25 12:53] #23534 closed

[2016-04-25 12:56] DeepDiver1975 commented on #24221
THX @jknockaert

[2016-04-25 13:01] fireba11 commented on #24217
There is a gazillion calendar clients out there ...
What about changing the event title as apropriate? Every client should sync it at least once a day, and it's read-only anyway.
Or just create one event per year up untill today + 10years so we don't get buckload of single events?

[2016-04-25 13:05] PVince81 commented on #24003
This PR should fix the warnings: https://github.com/owncloud/core/pull/24244
Not sure whether it would solve the mix up issues.

[2016-04-25 13:06] PVince81 commented on #23771
This PR https://github.com/owncloud/core/pull/24244 should fix the warnings.
With a bit of luck it might also fix the mix up too, but not sure.

[2016-04-25 13:08] tyrylu commented on #24211
No, i meant to say that in Ie 11 it works fine, Firefox and Chrome is broken. There's a negligible probability of the screen reader interfering somewhat (but not blocking the click event altogether). The initial debugging was quite crude - putting an alert in both branches and seeing what happens.

[2016-04-25 13:09] DeepDiver1975 commented on #24217
No - we should not pollute the database that way

[2016-04-25 13:32] PVince81 commented on #24235
The problem with the footer is that it required many compromises to make it work with all browsers, especially older IEs. Considering that in 9.1 we'll only support IE >= 11, then we might be able to find a more suitable and flexible solution for the footer logic.

@owncloud/designers

[2016-04-25 13:34] PVince81 commented on #24235
Note that this might tie in with the scroll container discussion because they somewhat depend from each other: https://github.com/owncloud/core/issues/22347

[2016-04-25 13:34] MorrisJobke commented on #21365
I had another case. There the files were migrated from an old setup. So it's possible that they were already broken on that old setup, because the storage is only used by ownCloud directly.

[2016-04-25 13:34] MorrisJobke commented on #21365
00005213

[2016-04-25 13:39] nickvergessen opened #24249 "Can not wrap storage of owner anymore"
Since some day in the last week, I can not wrap non-shared-storages anymore.

### Steps to reproduce
1. As user1 create folder test1/test2/
2. Share test2 with user2
3. Tag test1 with "Tag"
4. Create a workflow autotagging rule to tag files with "Tag" when a parent is tagged with "Tag"
5. As user2 upload a file
6. Check that the file is tagged

### Expected behaviour
Tag is added

### Actual behav

[2016-04-25 13:40] RealRancor commented on #24228
Mhhh, the app author is using whats provided by ownCloud (download shared by link). And that download is not providing an extension in the initial link.

[2016-04-25 13:41] PVince81 commented on #24228
@blizzz didn't you take over the bookmarks app at some point ?

[2016-04-25 14:01] jospoortvliet commented on #24232
I know he wanted to solve it the best way he could. But that doesn't make it a good idea. Doing open hart surgery on yourself might be done with great intentions but it's not smart either way.

We expressed worries as we ourselves would not feel confident in our *own* ability to do this and we certainly didn't and don't expect a packager who doesn't even talk to us to do a decent job protecting th

[2016-04-25 14:01] #24232 closed

[2016-04-25 14:04] danimo commented on #21365
@MorrisJobke occ scan:files needs to warn about NFD files, at least on local storage.

[2016-04-25 14:07] altyr opened #24253 "[External storage - Google Drive] Owncloud doesn't handle special files and fails sync"
### Steps to reproduce
1. Connect Owncloud to a Google Drive containing a saved custom map (application/vnd.google-apps.map, 0 Bytes in size)
2. Try syncing Owncloud using the sync client or opening the file through the web interface

### Expected behaviour
Sync folder contents or display file contents (even if it's just garbage or nothing at all)

### Actual behaviour
- On sync client run: Except

[2016-04-25 14:11] hitam4450 opened #24254 "Export of calendar without proper .ics extension"
The exported calendar file name is missing the .ics extension

### Steps to reproduce
1. selct calendar
2. export calendar
3.

### Expected behaviour
Tell us what should happen
The file name should read: calenadr.ics
### Actual behaviour
Tell us what happens instead
the file name reads only calenada ( without .ics extension)
### Server configuration
**Operating system**:
Jessie 8.1
**Web server:**

[2016-04-25 14:23] rullzer commented on #24249
I did not try with the workflow app yet. But probabaly it goes wrong in https://github.com/owncloud/core/blob/master/apps/files_sharing/lib/sharedstorage.php#L84

Because that is where we get the storage that the jail wraps...

[2016-04-25 14:23] RealRancor commented on #24254
@hitam4450 Duplicate of https://github.com/owncloud/core/issues/23751

[2016-04-25 14:26] RealRancor commented on #24245
@iaean

The correct URL for this is:

``https://oc.example.org/remote.php/dav/addressbooks/users/<userName>/<addressbookName>?export``

[2016-04-25 14:27] StyXman commented on #24232
Ok, sorry for the confusion, but from a user perspective, I think I just fell into a similar error that would be to report a bug here about the Debian packaging. I think you should try to use a less public method for your internal discussions; the issue being public doesn't help distinguish form an internal discussion.

Well, that package version was aimed to `experimental`, which by default you h

[2016-04-25 14:40] cmonteroluque commented on #13820
@karlitschek @DeepDiver1975 I agree, Frank. We're running behind for a number of 9.1 tasks (not out of anyone's fault, just doing a lot of maintenance release work) so focusing on L1 and L2 first is paramount. Any time available after that is ok. Copying @MTRichards

[2016-04-25 14:47] hitam4450 commented on #24254
Thanks @RealRancor  for your advice & info!

regards, hitam4450

[2016-04-25 14:47] #24254 closed

[2016-04-25 14:52] MorrisJobke commented on #24235
mabye our frontend guys @Henni, @ErikPel or @skjnldsv wants to look into this CSS fiddling :)

[2016-04-25 14:57] iaean commented on #24245
@RealRancor, I tried this pattern, too. Doesn't work for me. I get:
[code]
vs.
[code]
Both, `default` calendar and addressbook exists and works...

@DeepDiver1975, is this feature available in 9.0.2? I run 9.0.1.

[2016-04-25 14:57] PVince81 opened #24255 "Scanner doesn't propagate etags any more when file changed"
### Steps:

1. Pick an external storage type (SFTP or SMB)
1. Directly on the storage, create a folder "updatetest/sub/test.txt"
1. Setup that external storage in ownCloud
1. Close the web browser to avoid interferences (buildstoragestats, etc)
1. Run `occ files:scan --all`
1. Check database: `select fileid,path,size,mtime,storage_mtime,etag from oc_filecache where storage=3 order by path;`. Take

[2016-04-25 14:58] PVince81 commented on #24255
This is critical because it's the only way to properly make ownCloud detect remote changes for now.

[2016-04-25 14:59] DeepDiver1975 commented on #24245
The card Plugin was added later. I have to lookup the version

[2016-04-25 15:14] icewind1991 commented on #24255
can reproduce

[2016-04-25 15:24] PVince81 commented on #24253
@altyr mind providing the steps to create this special (map?) file ?

[2016-04-25 15:24] icewind1991 commented on #24255
fix is here https://github.com/owncloud/core/pull/24256

[2016-04-25 15:25] PVince81 commented on #24253
We probably need to exclude these kind of files, it is unlikely that they can be synced as they would need to be exported in some way like docs/spreadsheet files are exported to ODF.

[2016-04-25 15:26] PVince81 commented on #24255
@icewind1991 thanks a lot. Any reason why it wasn't triggered any more ? Or did it happen indirectly through the recent changes to propagation code ?

[2016-04-25 15:30] vpecinka opened #24257 "Web GUI share link unhandled condition"
### Steps to reproduce
1. Set up to require password for public links (admin console)
2. Select any file or folder you want to share via public link (open sharing tab)
3. Click on checkbox to share link, the input for password should appear
4. Unselect the checkbox without entering the password
5. You can see waiting icon and no chexkbox is visible until you reload the page/tab
### Expected behavi

[2016-04-25 15:34] altyr commented on #24253
@PVince81 of course.

1. Log in to google and browse to [https://www.google.com/maps/d/mp?hl=de&authuser=0&state=create](https://www.google.com/maps/d/mp?hl=de&authuser=0&state=create) which should bring up an "unnamed map"

2. Modify something (e.g. click on "add layer") to trigger a save

3. Your Google Drive should now contain a map file

[2016-04-25 15:35] PVince81 commented on #24253
Ah cool, thanks. I didn't know about this feature :smile:

[2016-04-25 15:38] PVince81 commented on #14757
I'm out of ideas for this and was unable to reproduce the deadlock on oc_filecache.
With a bit of luck the fix from https://github.com/owncloud/core/issues/20555#issuecomment-214197654 might help mitigate/eliminate this case altogether.

Moving to 9.0.3 to keep in scope, and hopefully you guys will have upgraded to 9.0.2 and reported back whether the fix worked.

Thanks!

[2016-04-25 15:41] tilllt opened #24258 "UI Enhancement Suggestion: More aggressively announce App Updates."
I was researching how to get rid of a bug in calendar in OC9 and only by gathering the version data for the bug report discovered there was an update to the Calendar App that fixed both of my problems.

IMHO important App updates (like Calendar 1.0 to 1.1) should be more aggressively announced to the Admin User (me, in this case) since most admins probably rarely take a look at the App menu...

Ma

[2016-04-25 15:42] ypid commented on #16068
I am also very interested in a clean interface as I make heavy use of `occ` in the [debops.owncloud](https://github.com/debops/ansible-owncloud) Ansible role. Currently, I also need to do [not so nice stuff](https://github.com/debops/ansible-owncloud/blob/64dff5c7da53494e72e4e914e657622c31e01541/tasks/configure_owncloud.yml#L134-L136) to get idempotent in Ansible.

There are two solutions I can th

[2016-04-25 15:47] PVince81 commented on #24003
I'm closing this as solved through https://github.com/owncloud/core/pull/24244

However, for the mix up issues, let's reuse https://github.com/owncloud/core/issues/23771

[2016-04-25 15:47] #24003 closed

[2016-04-25 15:49] PVince81 commented on #23857
Waiting for @owncloud/qa to verify with the dailies

[2016-04-25 16:09] blizzz commented on #24228
@LukasReschke  did a fix for this https://github.com/owncloud/core/pull/20196 but apparently it is a new regression?

[2016-04-25 16:14] RealRancor commented on #24255
@PVince81 Could it be possible that this is also fixing https://github.com/owncloud/core/issues/23019 ?

[2016-04-25 16:16] PVince81 commented on #24255
@RealRancor unlikely.

[2016-04-25 16:17] blizzz commented on #24228
Wait, @RealRancor the installation succeeded, only the log entry appeared? yes, of course there should be checked whether this index is present before using it.

[2016-04-25 16:20] RealRancor commented on #24255
Mhh, but the user there has issues with oC9 that files changed on external storages are not synced / detected by the sync client. And shouldn't this be caused if etags are not updated / correclty propagated?

[2016-04-25 16:21] PVince81 commented on #24255
Ah, that part yes. I only say "out of memory" issues, which won't be solved by this PR.

[2016-04-25 16:21] PVince81 commented on #23019
For those with etag propagation / update detection issues with "files:scan", GOTO https://github.com/owncloud/core/issues/24255

Let's keep this ticket here for the memory errors only.

[2016-04-25 16:21] RealRancor commented on #24228
@blizzz Exactly, the installation succeeded but only the log entry is shown:

[2016-04-25 16:22] RealRancor commented on #24228
Sorry, wrong button

[2016-04-25 16:23] blizzz commented on #24228
Ok, https://github.com/owncloud/core/issues/24228#issuecomment-214421064 is unrelated. Go back to sleep @LukasReschke.

[2016-04-25 16:40] blizzz commented on #24228
Fix in https://github.com/owncloud/core/pull/24262

[2016-04-25 16:41] PVince81 commented on #24182
I'd expect users created after that to work properly. If it doesn't, the encryption code needs to be fixed to not bother about user keys in master key mode.

[2016-04-25 16:58] skjnldsv opened #24263 "Dav: Internal Server Error "This is not supposed to happen""
I have a strange error with `/apps/dav/lib/carddav/plugin.php`
I just accessed https://localhost:8080/remote.php/dav/principals/groups/admin/.
Nothing else in the log. Using the last calendar app, last core with the export patch (24c2252ff4af9838019da1a56ef11956a4d418ee) and contact from master.

@DeepDiver1975

[code]

[2016-04-25 17:20] VicDeo commented on #22450
@cdamken please change `lib/private/files/storage/local.php` according to this file https://gist.github.com/VicDeo/4b2dd302b02976ce7660a3c299feb096

you need to replace  `filesize` function only
https://gist.github.com/VicDeo/4b2dd302b02976ce7660a3c299feb096#file-local-php-L130-L153

[2016-04-25 17:21] MTRichards commented on #13820
Concur, 9.2. Tagged as such.

[2016-04-25 17:23] VicDeo commented on #22450
@cdamken  After that `filesize(): stat failed ` will disappear and you will have entries from app called `debug_22450` instead. Please post them here.

[2016-04-25 17:38] RealRancor commented on #24258
Some suggestions / ideas are already collected in:

https://github.com/owncloud/core/issues/17373, https://github.com/owncloud/core/issues/22031

[2016-04-25 17:44] LukasReschke commented on #24263
@DeepDiver1975

[2016-04-25 18:01] tilllt commented on #24258
True, mine is absolutely a dupe of those you posted can be closed.

[2016-04-25 18:01] #24258 closed

[2016-04-25 19:32] rullzer commented on #24249
When running a debug session... I do see the storage wrapper. But things go wrong when we try to run the plugin. This happens because the wrong cache is probabaly fetched there... I'll look into a bit more detail tomorrow.

[2016-04-25 19:54] tlhonmey commented on #21171
I'm seeing something similar since I upgraded to 8.2, but in my case it's showing the truncated size in the file list.  The file that gets downloaded appears to be correct, but is truncated to the improperly-detected length.

Attaching to the samba share directly reports the correct length and transferring the file over it results in the entire file arriving properly.

I've tried upgrading apache

[2016-04-25 20:02] AlexanderStein commented on #23066
I'm running owncloud 9.0.1 and have this problem too. But I also noticed that chromium requests login/password. Canceling or submitting any login data (there is none for public access) leads again to that request. Firefox instead does only the endless reload loop.

[2016-04-25 20:34] TDannhauer commented on #23066
@AlexanderStein, Do you use also PostgreSQL? Please post your setup (webserver, PHP version/connector, database, ...)
Thanks!

[2016-04-25 20:48] AlexanderStein commented on #23066
archlinux:
nginx 1.8.1-3
postgresql 9.5.2-1
php 7.0.5-2
php-fpm 7.0.5-2
php-pgsql 7.0.5-2

[2016-04-25 20:53] DeepDiver1975 commented on #24263
it would be great to know the full parameter being passed into this function ...

[2016-04-25 21:02] #17320 closed

[2016-04-25 21:38] Raigan21 opened #24265 "Error PHP Undefined index"
i am working with owncloud 9.0.X in  ubuntu server 14.04 lts and apache 2.

the last think i did was update the version of owncloud from 9 to 9.0.1  and later this errors begins to appear, nothing is working wrong and i don't see any problem but the log records this errors 2 or 3 times per day.

thanks for the help

[2016-04-25 22:25] carlaschroder commented on #23880
So...I am lost. What am I documenting?

[2016-04-25 22:26] LukasReschke commented on #23880
@carlaschroder Have `.htaccess` writable, have `mod_env` installed, have `mod_rewrite` installed and `overwrite.cli.url` has to be non-null in config.php. Then it is working.

[2016-04-25 23:03] blizzz commented on #24026
No, have not heard of this specifically. But two cases might be related:

If it only happens with clients that do not use session cookies, it might be fixed with https://github.com/owncloud/core/pull/24237

In unfortunate cases it might be caused by a race condition when reading from cache. This is fixed with https://github.com/owncloud/core/pull/24243

[2016-04-25 23:24] carlaschroder commented on #23880
Thanks @LukasReschke

[2016-04-25 23:31] gcclinux opened #24267 "Upgrade failure to 9.0.1 owncloud"
federation: An exception occurred while executing 'CREATE TABLE `oc_trusted_servers` (`id` INT AUTO_INCREMENT NOT NULL, `url` VARCHAR(512) NOT NULL COMMENT 'Url of trusted server', `url_hash` VARCHAR(255) DEFAULT '' NOT NULL COMMENT 'sha1 hash of the url without the protocol', `token` VARCHAR(128) DEFAULT NULL COMMENT 'token used to exchange the shared secret', `shared_secret` VARCHAR(256) DEFAULT

[2016-04-26 03:02] skjnldsv commented on #24263
If I open `https://localhost:8080/remote.php/dav/calendars/`, i've got:
I have 2 users: admin and Test.

[code]

[2016-04-26 05:38] rullzer commented on #24026
Ok so this is then working correct from a share perspective. Since if we don't find the groups a user is part of we can't mount those shares...

[2016-04-26 06:35] rullzer commented on #24249
Could you try again with master.
I rebased this morning and it is working...

[2016-04-26 06:52] RealRancor commented on #24267
@gcclinux Please fill out the issue template. Especially info like the previous ownCloud version, how you did the upgrade and so on

[2016-04-26 07:29] CCXX2016 opened #24270 "No consitent languages in login screen"
Some browsers ignoring default language settings in config.php
e.g. Firefox (Win 10, 45.0.2) is interpreting language settings in config.php correctly.
At the same time eg. Safari (OSX, iOS) and Edge (Win10) are showing default English language in the login screen.

### Expected behaviour
Default language seetings of config.php should show up with any browser

### Actual behaviour
It seems like so

[2016-04-26 07:57] #24228 closed

[2016-04-26 08:00] nickvergessen opened #24271 "files:scan --path does not propagate the size"
### Steps
1. Create empty folder in the UI: `test/test1/test2/`
2. Enter `test/test1/test2/` in the UI
3. `cp` a file into `data/admin/files/test/test1/test2`
4. Run `./occ files:scan --path="/admin/files/test/test1/test2"`

### Expected
Size of all folders should not be 0:
* `test/`
* `test/test1/`
* `test/test1/test2/`

### Actually
* `test/` = 0 :x:
* `test/test1/` = 0 :x:
* `test/test1/test2/`

[2016-04-26 08:04] butonic commented on #23458
@MTRichards related: 00005270

[2016-04-26 08:05] #24255 closed

[2016-04-26 08:19] PVince81 commented on #24271
@nickvergessen did the etag propagate at least or did it also stop at the requested path ?

Because I can imagine some people using `--path` for the files:scan workaround for external storages, and use the path option to avoid rescanning everything fully and limit it to their external storages.

[2016-04-26 08:19] PVince81 commented on #24271
@icewind1991

[2016-04-26 08:22] PVince81 commented on #24257
@rullzer

[2016-04-26 08:23] nickvergessen commented on #24271
on my 8.2.3 installation at least the mtime got propagated to `test` and `test/test1`, I didn't note down the etag, so not sure.

[2016-04-26 08:25] PVince81 commented on #24265
This is not enough information to be able to reproduce or debug it. Please use the issue template: https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

The first message seems to happen on the personal page. Can you go to your personal page and see whether it makes these messages appear ?

Maybe more information about what quota was set for the user triggering the messages cou

[2016-04-26 08:31] nickvergessen commented on #24270
We have 4 different ways to get the correct language:
1. We check the user preferences (does not apply when logged out)
2. We check the default_language config
3. We check the HTTP_ACCEPT_LANGUAGE header that is sent by the browser
4. We use `en`

Can you please provide the config information that is being asked for by the issue template?

[2016-04-26 08:32] nickvergessen commented on #24270
00004221 @MorrisJobke @pako81

[2016-04-26 08:34] MorrisJobke commented on #24270
We also got feedback, that even if the language is properly set for a logged in user it is not used in IE11 and Safari while Firefox and Chrome just work fine.

This could not be reproduced by @nickvergessen

[2016-04-26 08:50] PVince81 commented on #20555
It looks like this deadlock was also reproducible with two concurrent "ls" aka PROPFIND on the to-be-rescanned folder: https://github.com/owncloud/core/pull/24260#issuecomment-214671397.

Two concurrent PROPFINDs is more likely to be the cause of this error happening often, since multiple clients might query for changes. This, more often than a MOVE + PROPFIND.

The PR above fixes that too.

[2016-04-26 08:54] CCXX2016 commented on #24270
pls. find attached the config.php:

<?php
$CONFIG = array (
  'instanceid' => 'XXXX',
  'passwordsalt' => 'XXXX',
  'secret' => 'XXXX',
  'trusted_domains' =>
  array (
    0 => 'XXX',
  ),
  'datadirectory' => 'XXX',
  'overwrite.cli.url' => 'XXX',
  'dbtype' => 'mysql',
  'version' => '9.0.1.3',
  'dbname' => 'XXX',
  'dbhost' => 'localhost',
  'dbtableprefix' => 'oc_',
  'dbuser' => 'XXXX',
  '

[2016-04-26 08:59] PVince81 commented on #23090
@VicDeo I tried the old installer from https://download.owncloud.com/download/community/setup-owncloud.php with the steps from https://github.com/owncloud/core/issues/23090#issue-139892300 but did not get any integrity check errors. ownCloud works fine.

Going to try again by setting up the permissions in a way that "setup-owncloud.php" cannot be removed.

[2016-04-26 09:01] PVince81 commented on #23090
Hmm, I can't think of any way to setup permissions to allow the web server user to create/unpack ownCloud source code but at the same time prevent it to delete "setup-owncloud.php" within the same directory. It has to be the same dir, else it wouldn't display the integrity check message.

[2016-04-26 09:02] VicDeo commented on #23090
@PVince81 me too. But I see no other explanation to
[code]

except that `unlink` did not delete setup script.

[2016-04-26 09:04] PVince81 commented on #23090
@VicDeo is there a situation where the `unlink` operation would try to delete it in the wrong location ? How do you find out about the script's location ?

[2016-04-26 09:06] PVince81 commented on #23090
Maybe some PHP setups don't have `SCRIPT_FILENAME` properly set, or it points to the wrong location ?

[2016-04-26 09:06] VicDeo commented on #23090
@PVince81  https://github.com/owncloud/core/issues/23090#issuecomment-194892611

[2016-04-26 09:07] PVince81 commented on #23090
That's what I just tested: I input "." in the field. It worked fine.

[2016-04-26 09:12] PVince81 commented on #23090
Another theory is that maybe some web servers keep the file open/locked while it is being executed so the file cannot delete itself.

[2016-04-26 09:12] schiesbn commented on #23472
Closing it for now... Feel free to re-open it if someone experience the same problem and can help to debug it.

[2016-04-26 09:12] #23472 closed

[2016-04-26 09:16] PVince81 commented on #23090
At least it worked for @Bullnados.

@VicDeo I merged your PR https://github.com/owncloud/administration/pull/74, can you take care of the upload as per https://github.com/owncloud/core/issues/23090#issuecomment-212025902 ?

[2016-04-26 09:19] 310TN commented on #12725
2 years later:

![image](https://cloud.githubusercontent.com/assets/18676939/14813142/017010f0-0ba9-11e6-9787-d4dc3088fbbc.png)

Any concrete solution, anyone?

[2016-04-26 09:19] rullzer commented on #24249
Mmm so it seems the tag is not set using the webUI but when doing the PUT via webdav all works fine...

[2016-04-26 09:20] schiesbn commented on #24182
For new users a key should be written to the session the first time they log-in. Therefore the login hooks need to be triggered on login, but I assume that this happens for all SSO back-end... Can someone with access to such back-ends verify this? Maybe @butonic ? Thanks!

[2016-04-26 09:23] PVince81 commented on #12725
@310TN server logs please + OC version. This message can mean anything.

By the way, is anyone else still seeing such errors in v9.0.1 ?

[2016-04-26 09:23] PVince81 commented on #24182
@davitol can you help reproducing this issue ?

[2016-04-26 09:23] schiesbn commented on #23928
@gnohp I tried both downloading and reverting the version.

[2016-04-26 09:34] hhaeb opened #24272 "Single file in folder - file not found"
Downloading a file which is the only file in this folder is impossible. When there are more files in this folder, downloading of this file is possible.

### Steps to reproduce
1. make a new folder
2. copy one file into folder
3. go to this folder
4. click checkbox of this single file
5. click on "Download"

### Expected behaviour
OS window for downloading this file should appear.

### Actual behav

[2016-04-26 10:21] piotr277 commented on #24065
The same issue happens to me. Running ownCloud 9.0.1 and PostgreSQL 9.4. I'm trying to convert from sqlite3 to pgsql. After I deleted data in _oc_cards_ and _oc_calendarobjects_ tables it stops now somewhere in _oc_preferences_ I guess..
Here is the db:convert-type output:
`[Doctrine\DBAL\Exception\SyntaxErrorException]
  An exception occurred while executing 'SELECT setval('oc_oc_comments_pb2dqh9

[2016-04-26 10:25] Xenopathic commented on #24065
@piotr277 That looks like a different issue, I'd suggest opening a new issue report

[2016-04-26 10:28] samweisgamdschie commented on #24029
what exactly is the solution in this case? Because we have the same issue and no solution.

[2016-04-26 10:39] piotr277 commented on #24065
@Xenopathic These may be connected. I've encountered the same problem as you

until I've removed data from _oc_cards_ and _oc_calendarobjects_ tables.
Moreover I confirm that

happens on only during conversion: mysql > pgsql, but sqlite > pgsql as well.

[2016-04-26 10:41] altyr commented on #24253
@PVince81 using [https://developers.google.com/drive/v3/web/mime-types](https://developers.google.com/drive/v3/web/mime-types) it's possible to detect and hide the files (tried a dirty hack).

Obviously it would be much nicer to export the maps like it's done with google docs, but there doesn't seem to be any documentation on that.

[2016-04-26 10:43] PVince81 commented on #24253
If you want to have a try fixing it yourself, check https://github.com/owncloud/core/blob/v9.0.1/apps/files_external/lib/google.php#L269. This is the loop that reads the file list from GDrive.

It might be possible to check if the extension is the one to exclude and then just do `continue;` there.

[2016-04-26 10:57] altyr commented on #24253
I'll give it a try using ignore later today :)

[2016-04-26 10:58] jvillafanez opened #24276 "Can't upgrade to 9.0.1 (daily) in CentOS 6.6"
### Steps to reproduce
1. Install any 8.2.x OC version in CentOS 6.6
2. Make sure httpd version is 2.2.15 (this should be the default package for CentOS 6.6)
3. Upgrade to stable9

### Expected behaviour
Upgrade is succesfull and users can keep on using ownCloud

### Actual behaviour
Upgrade works, but ownCloud can't be used

### Server configuration
**Operating system**: CentOS 6.6

**Web server:

[2016-04-26 11:00] nickvergessen commented on #24272
PS: You need to be two folders deep, and that already shows the problem:

I couldn't reproduce with `test/welcome.txt`,
but when you upload `test/test1/welcome.txt` you see the error message on `/index.php/apps/files/ajax/download.php?dir=%2Ftest&files=welcome.txt`
so it is missing `test1` in there...

[2016-04-26 11:04] nickvergessen commented on #24276
@LukasReschke I guess empty "RewriteBase" needs a fix?

[2016-04-26 11:06] LukasReschke commented on #24276
@jvillafanez Please post your config file.

[2016-04-26 11:09] jvillafanez commented on #24276
config.php
[code]

[2016-04-26 11:10] LukasReschke commented on #24276
Ok. That's what I suspected, nasty bug. Thanks @jvillafanez for catching this.

The reason here is that `overwrite.cli.url` has no ending slash. I will add more logic for this to the code. PR incoming…

[2016-04-26 11:18] florian0402 commented on #24029
there is no soultion for the gui problem yet. We you the same build like you.

[2016-04-26 11:20] LukasReschke commented on #24276
Patch is at https://github.com/owncloud/core/pull/24277

[2016-04-26 11:25] davitol commented on #24182
@PVince81 I'm just talking with @schiesbn about it

[2016-04-26 11:30] Xenopathic commented on #24065
`SQLSTATE[42601]: Syntax error: 7` - It's different.

[2016-04-26 11:45] cdamken commented on #22450
[code]

[2016-04-26 11:48] cdamken commented on #22450
@VicDeo  I think the path is not found:

https://gist.github.com/VicDeo/4b2dd302b02976ce7660a3c299feb096#file-local-php-L139

[2016-04-26 12:17] rullzer commented on #24249
PR in #24280

[2016-04-26 12:20] hhaeb commented on #24272
The bug appears in my installation, as you can see in the error log snipplet 'with a single file', in folder TEST2 which is no subfolder:
`GET /owncloud/index.php/apps/files/ajax/download.php?dir=%2F&files=Dokument2.txt&downloadStartSecret=wbhka67qls `

The snipplet 'with more files' shows this first level folder:
`GET /owncloud/index.php/apps/files/ajax/download.php?dir=%2FTEST2&files=Dokument2.t

[2016-04-26 12:26] VicDeo commented on #22450
@cdamken nope, looks like previous version of `lib/private/files/storage/local.php` is still cache somewhere because it still reports about `filesize()` and not `file_exists()`

[2016-04-26 12:30] VicDeo commented on #22450
Proof:
https://github.com/owncloud/core/blob/stable8.2/lib/private/files/storage/local.php#L139 `filesize`
https://gist.github.com/VicDeo/4b2dd302b02976ce7660a3c299feb096#file-local-php-L139 `file_exists`

[2016-04-26 12:35] #24276 closed

[2016-04-26 13:20] altyr commented on #24253
@PVince81 that pull-request seems to work for me.

Other Google Docs files seem a little wonky too, but that might just be me. Updating the lib might be a good idea.

[2016-04-26 13:22] PVince81 commented on #24253
Great stuff, thanks a lot!

[2016-04-26 13:24] CCXX2016 commented on #24270
just to add. The post-login menus (eg user menu) after login into OC with these browsers (Safari, Edge) will be in default English language too. Regardless what is configured in config.php.

[2016-04-26 13:38] nickvergessen commented on #24270
are you using a theme? and do you have any `l10n` folders?

[2016-04-26 13:39] schiesbn commented on #24182
Thanks to @davitol I could test it with a SSO system (Shibboleth) but couldn't reproduce it. What we tried:

- setup a ownCloud + enable encryption with master key
- create new SSO user
- login as new SSO user and try to write/read files

Everything worked fine.

What user back-end do you use for SSO?

[2016-04-26 13:39] CCXX2016 commented on #24270
Yes I'm using a theme. But just core and settings folder inside. No l10n oder language files included

[2016-04-26 13:43] nickvergessen commented on #24270
Can you try disabling it and test if that solves the issue?

[2016-04-26 13:47] michaelstingl commented on #23269
@LukasReschke Thanks!

00005013

[2016-04-26 13:52] CCXX2016 commented on #24270
I tested it with unabled theme. It shows the same (wrong) behaviour.

[2016-04-26 13:54] felixboehm commented on #10077
using the search elastic app now.

[2016-04-26 13:57] oparoz commented on #13158
@derekblankmccoy Any specific hurdles in setting up the test instance?

[2016-04-26 14:18] butonic commented on #24182
In the initial app there is a link to a demo sso app.

[2016-04-26 14:20] butonic commented on #24182
technically they all work the same and with https://github.com/owncloud/core/pull/23903 users home dirs are now initialized properly. Try with and without that patch.

[2016-04-26 14:21] MorrisJobke commented on #23109
Didn't noticed this again -> closing

[2016-04-26 14:21] #23109 closed

[2016-04-26 14:37] cdamken commented on #22450
I modify the file as you told me :smile:  and restarted the Apache
[code]

[2016-04-26 14:55] cdamken commented on #22450
Changing to log-level 0

[S3-ownCloud\Shared\owncloud\support\github-issues\core\22450](https://s3.owncloud.com/owncloud/index.php/apps/files/?dir=%2FShared%2Fowncloud%2Fsupport%2Fgithub-issues%2Fcore%2F22450)

[2016-04-26 14:56] GitHubUser4234 commented on #24182
@schiesbn : As @butonic suggested, I strongly recommend to use the IApacheBackend for testing. It has it's own dedicated methods like `loginWithApache()` etc. and might therefore produce a different result.

[2016-04-26 15:39] VicDeo commented on #22450
ok, it comes from the place that I initially spotted https://github.com/owncloud/core/blob/stable8.2/apps/files_versions/lib/storage.php#L518

When files are aggregated by this piece of code
[code]

`$view->getDirectoryContent($dir)` sometimes returns a path relative to `datadir` instead of `datadir/$uid` which is specified as a view root dir

[2016-04-26 16:26] davitol commented on #24090
@rullzer @PVince81 @cmonteroluque Just reproduced again. i'll share my server credential with @rullzer

[2016-04-26 16:42] dwt opened #24291 "Support absolute dates in ownCloud"
### Steps to reproduce
1. Use Owncloud
2. Notice that it shows relative dates everywhere, and only shows absolute dates when hovering over them
3. Be quite annoyed
### Expected behaviour

We need a way to show absolute dates by default, as it is really hard to convert from 'see the file I edited on the 10th of july' to whatever that means as a relative date today. Especially so because that change

[2016-04-26 17:09] nasli commented on #22652
In mobile clients (Android, iOS) the list shown only the displayname, except when there are duplicated displaynames, in that case it is shown as: displayname (username).

For remote users it is shown as:
displayname (server)
and for duplicated remote users
displayname (username@server)

In the web the list shown only the displayname and on hover each displayname you can see the username.

[2016-04-26 17:11] jospoortvliet commented on #24232
@StyXman don't worry about pointing fingers. Yes, there are issues on all sides, certainly. Sorry if I got overly defensive.

About our internal discussions being public - that is a property of open source communities. At least, we like it that way. Our Debian friends made some stingy comments about us on their mailing list too - you won't see me come in and complain about them, I respect that tha

[2016-04-26 17:12] jospoortvliet commented on #24232
Meanwhile, I'm trying to figure out how to upgrade from the Debian packages to ours.

I'm currently guessing the process would be something like this:
* make a backup of the database (and, if possible, the data folder)
* backup the config file and move the data folder in a temporary, safe place
* uninstall the current ownCloud packages
* install upstream ownCloud 8 packages and put in the data fol

[2016-04-26 17:13] nasli commented on #22652
Related remotes server discussion https://github.com/owncloud/core/issues/23696

[2016-04-26 17:20] RealRancor commented on #24232
@jospoortvliet Some pointers where given by @jcharaoui in https://github.com/owncloud/documentation/issues/2361#issuecomment-214004426

[2016-04-26 17:29] jospoortvliet commented on #24232
thanks for that!

[2016-04-26 17:34] SudoHenk opened #24293 "Admin page reload every second when Owncloud thinks it's running without HTTPS"
### Steps to reproduce
1. Use Owncloud without SSL and go the admin page.
2. Or use a reverse proxy without proper headers.

### Actual behaviour
Admin page keeps reloading every second. Same as reported in https://github.com/owncloud/core/issues/22977

### Server configuration
**Operating system**:
Newest Docker image with Nginx as reverse proxy.

**ownCloud version:** (see ownCloud admin page)
9

[2016-04-26 18:03] jospoortvliet commented on #24232
See https://github.com/owncloud/documentation/issues/2361#issuecomment-214830792 please

[2016-04-26 19:32] c0fe opened #24296 "Filter implementation"
It would be great to have built in filter implemenation based on custom created filters. So let's say I have a number of files: customer orders, purchase orders, work orders and I want to add different filter options including file type "customer order" for example, date when service was provided (sometimes files can be uploaded later on) and other aspects.

[2016-04-26 20:21] Henni opened #24297 "[Accessibility] Text contrast"
As the topic came up again I want to revive the accessibility discussion regarding our font.
I want to focus on the contrast and set aside the font weight.

The w3c recommends a minimum contrast of 4.5:1 (https://www.w3.org/TR/WCAG/#visual-audio-contrast) while the files app has a contrast of down to 2.46:1.

Comparison:

| current | minimum | enhanced |
| :-: | :-: | :-: |
| ![image](https://clou

[2016-04-26 20:22] enoch85 commented on #22370
I can confirm this.

[code]

[2016-04-26 20:44] pisc-software opened #24298 "External Storage with local server path exposes ROOT directory structure via WebDAV"
### Steps to reproduce
1. Add a external storage to a local server path.
2. Access the owncloud Server via WebDAV
3. Open the storage path to the external storage
4. See all the root directory structure from the server.

### Expected behaviour
The subdirectory structure of the local server path should be shown (below the local server path).

### Actual behaviour
The root server directory structure

[2016-04-26 21:12] Xenopathic commented on #24298
Any log messages in owncloud.log?

[2016-04-26 21:17] Xenopathic commented on #22847
This option is for connecting to an S3-compatible system where the DNS may not be so easily controlled, such as Ceph. For true Amazon S3 however, the checkbox should be deselected.

Does it work with the checkbox deselected? If so, then your S3 bucket is on one of those newer Amazon datacentres.

[2016-04-26 21:25] Raigan21 commented on #24265
### Server configuration
**Operating system**: ubuntu 14

**Web server:**digitalocean

**Database:**mysql

**PHP version:**5.5.9

**ownCloud version:** 9.0.1

**Updated from an older ownCloud or fresh install:**9.0

**Where did you install ownCloud from:**digitalocean

**Signing status (ownCloud 9.0 and above):**

[code]

**List of activated apps:**
[code]

**The content of config/config.php:**

[

[2016-04-26 21:45] Hubble1974 opened #24300 "no contacts visible after update to 9.0.1"
### Steps to reproduce
1. After Update I try to open the (activated) contact app
2.
3.

### Expected behaviour
I would like to see all contact as it works before the update.

### Actual behaviour
The app tells me, that there are no contacts and there is a never ending spinning wheel. Mobile clients also loose contact to the oc contacts.
As far as I understand in the log message (below) is, that it

[2016-04-26 21:52] Raigan21 commented on #24265
the only think that i modify in quota is add the external storage to the calculation.

the users cant modify or add external storage.

i review the personal.php but all is rigth

[2016-04-27 00:07] gnohp commented on #23928
On 9.0.1, I performed an octal dump once a docx becomes corrupted.

test1.txt is when I downloaded the docx in the version window (verifying the content is not corrupted) and test2.txt is after I click restore and downloaded the file in the content window.

[test1.txt](https://github.com/owncloud/core/files/237693/test1.txt)
[test2.txt](https://github.com/owncloud/core/files/237694/test2.txt)

[2016-04-27 03:47] skjnldsv commented on #24297
Minimum is probably better, should we add an option?

[2016-04-27 06:58] simpleuser99 commented on #24026
I want to confirm that share don't dissapear without cache. Since I disable apcu and redis, I don't have problem with share.

[2016-04-27 07:17] pisc-software commented on #24298
See here, fresh log file from initial access via WebDAV and Screenshot how it looks from CyberDuck:

[screenshot_497](https://cloud.githubusercontent.com/assets/6881732/14844555/6f57d418-0c58-11e6-9ed6-0cec6882ec76.png)

[owncloud-log.txt](https://github.com/owncloud/core/files/238108/owncloud-log.txt)

The external storage:

[screenshot_498](https://cloud.githubusercontent.com/assets/6881732/1484

[2016-04-27 07:28] MorrisJobke commented on #24297
Why an option. I guess this is about the color scale for the time stamp, because it gets lighter the older a file is and darker the newer a file is, or am I wrong?

[2016-04-27 07:49] nickvergessen opened #24301 "Increase arguments column on jobs table"
The current jobs table only allows up to 4000 characters in the arguments column.
The problem is paths in ownCloud can be up to 4000 characters. So when you use the argument column for a path, you can not store any other information anymore.
Also since the information is also json_encoded you can't even store a path of max-length...

@DeepDiver1975

[2016-04-27 07:50] skjnldsv commented on #24297
Because i always think letting the user choose is a good way to improve the user experience! :)
It's not always the case, but it could be a good idea?
I don't know, but I think having an option to activate an "accessibility mode" is an excellent feature to promote owncloud. I worked on several project with those kinds of improvements, and always had a positive feedback. Dyslexic-friendly fonts, fo

[2016-04-27 07:53] nickvergessen commented on #24291
@jancborchardt

[2016-04-27 07:58] DeepDiver1975 commented on #24301
clob then ....

[2016-04-27 08:06] nickvergessen commented on #24296
You can use tags for that since ownCloud 9.0

[2016-04-27 08:09] abrahamsthmicro commented on #22268
Hi, I have the same problem "server does not support x-oc-mtime" when uploading files to external dropbox account.
Sorry I am new to this. And I have checked the forum and github and all posts leads me to here.
But why this is close? Any solutions?
Hi, @Xilentura , can you give me some directions or examples about the "somewhere" you have mentioned?

[2016-04-27 08:14] DeepDiver1975 commented on #21448
see https://github.com/owncloud/core/pull/23204#issuecomment-215006600 - 9.2 for my POV

[2016-04-27 08:15] Henni commented on #24297
@skjnldsv In my opinion readable text shouldn't be 'optional'. High contrast doesn't only help visually impaired but makes it easier for everyone to grasp the content of a page.

@MorrisJobke The date maybe wasn't the best example for this as its contrast depends on the age of the file. But this problem also applies to the header (2.85:1):
![image](https://cloud.githubusercontent.com/assets/126782

[2016-04-27 08:26] sheepherd commented on #15427
I've run into this issue too with OC 9.0.1.
Is is possible yet to set a custom $user variable?

[2016-04-27 08:35] ChristophWurst opened #24302 "Submit comments in sidebar by CTRL+Enter"
### Steps to reproduce
1. open the files app
2. open the sidebar by clicking a file
3. select the comments tab
4. enter some text
5. hit CTRL+Enter

### Expected behaviour
The form is submitted

### Actual behaviour
Nothing happens, I have to either click the submit button or use tab + enter.

**ownCloud version:**
9.1

@nickvergessen @schiesbn as discussed

[2016-04-27 08:37] LukasReschke commented on #24298
This is fixed with https://github.com/owncloud/core/pull/24259.

@pisc-software Mind testing? THX.

[2016-04-27 08:37] #24298 closed

[2016-04-27 08:41] SergioBertolinSG opened #24303 "LDAP password field needs to lose focus to save password and be able to connect."
### Steps to reproduce:

Having encryption enabled do:
1. Enable ldap app.
2. Set up ldap server as usual, add all requested data but DN and click on Detect Base DN.
### Expected behaviour:

LDAP server is configured and its users appear.
### Actual behaviour

Errors while setting it up.
### Server configuration

**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:**
MySQL

**PH

[2016-04-27 08:42] SergioBertolinSG commented on #24303
cc: @blizzz

[2016-04-27 08:44] MorrisJobke commented on #24297
An option is always the worst UX ;) We should have good defaults, that work for everyone and not outsource stuff we don't want to take care of to the user. If we decide on a good default nobody needs to tweak something. Or did you notice a font tweaker on github or facebook ;)

[2016-04-27 08:44] PVince81 opened #24304 "Parse Sabre exceptions and display the message"
Currently, with the use of Webdav in the Web UI, the error messages are inferred from the http status code.

For a better user experience, we should parse the actual message from the exception and display it.
- ~~Requires: https://github.com/evert/davclient.js/issues/11~~ see below

[2016-04-27 08:45] PVince81 commented on #23871
Problem is: we currently don't parse Sabre exceptions because the library didn't support it, needs additional work: https://github.com/owncloud/core/issues/24304

The only thing I can do right now is show a generic message "Error occurred while posting message"

[2016-04-27 08:50] davitol commented on #24090
@rullzer @PVince81  These are the final steps

   1.Using a oC server 8.2.3, configure a LDAP as a users backend
   2. Log in with an LDAP userA
   3. Share a file with another LDAP userB.
   4. In the LDAP server, delete the LDAP userA
   5. Upgrade from 8.2.3 to 9.0.X oC version
   6. Try to log in with LDAP userB

This issue can be reproduce without encryption, so the problem might be related t

[2016-04-27 08:50] skjnldsv commented on #24297
You're right, there is not for the fonts only! But facebook has a High contrast mode (HCM). Windows has the function has well. Linux (Gnome, xfce...) :)

[2016-04-27 08:52] Henni commented on #24297
@skjnldsv This high contrast mode should extend on the default accessibility (i.e. switch from minimum contrast to enhanced contrast or even higher)

[2016-04-27 08:53] skjnldsv commented on #24297
Probably :)

[2016-04-27 09:03] alain-christ commented on #23066
I'm running owncloud 9.0.1 and have this problem too
centos 7
apache 2.4.6
php 7.0.5-1
php-fpm 7.0.5-1
php-pgsql 7.0.5-1
PostgreSQL 9.5.2-1

[2016-04-27 09:29] GitHubUser4234 commented on #9667
@PVince81 : Is there any roadmap for this ? :relaxed:  I'm implementing some hooks also right now, and have gotta use `die()` as workaround, too

[2016-04-27 09:31] PVince81 commented on #9667
Not sure, changing hook behavior has a risk of causing other regressions.

[2016-04-27 09:32] PVince81 commented on #24090
@schiesbn can you help here ?

[2016-04-27 09:39] Xilentura commented on #22268
@abrahamsthmicro

My settings changend to:

- FreeBSD 10.3 (Latest stable version)
- Owncloud 9.0.1 (Latest stable version)
- Apache 2.4
- Clients: Latest stable versions

Problems are gone even under FreeBSD.

[2016-04-27 09:54] LukasReschke opened #24306 "Allow apps to have some uninstall routine"
The app that I'm currently writing starts several external jobs that should be unregistered when the app gets uninstalled.

There is the `ManagerEvent::EVENT_APP_DISABLE` event but that one is called after the app has been disabled (ref https://github.com/owncloud/core/blob/2ab4b1ce0402cca1903d06fb7977809088355891/lib/private/App/AppManager.php#L258)

Should we maybe have an appinfo.xml entry for

[2016-04-27 10:09] PVince81 commented on #24303
@blizzz Can you confirm ?

Strangely I see no exception related to encryption in the log above.

[2016-04-27 10:10] PVince81 commented on #24303
@SergioBertolinSG you forgot to mention the step "enable encryption". It is likely that you did that before enabling ldap ?

[2016-04-27 10:18] blizzz commented on #24303
What's the LDAP config? I only see issues about an invalid one.

[2016-04-27 10:27] GitHubUser4234 commented on #9667
Yeah, I think it would be a one-off pain, but after that it would be clear skies, wouldn't it? :sunrise:
Would really be a useful, I mean on the one hand something very nice like hooks are offered, but on the other hand developers are forced to use a dirty approach to stop things from continuing when there was an error :relieved:

[2016-04-27 10:37] SergioBertolinSG commented on #24303
@PVince81 yes, it was enabled before enabling ldap.

[2016-04-27 10:39] SergioBertolinSG commented on #24303
It is the usual config using our openldap server (I can give you the data if you don't have it already). Same config in 9.0.0 published tarball works fine.

[2016-04-27 10:40] DeepDiver1975 commented on #9667
Things never are that easy as they seem .... :sunglasses:

[2016-04-27 10:41] DeepDiver1975 commented on #9667
In addition hooks shall be replace by using Symfony event dispatcher - the behavior is quite clear there ...

[2016-04-27 10:42] blizzz commented on #24303
It did following:

1. create a docker instance against ubuntu and 9.0.2rc enterprise edition
2. enable encryption and ldap apps
3. enable encryption in admin. Beware, the setup checks (Security & setup warnings) talk a long time until they are finished
4. configure the dockered LDAP server
5. "Verify settings and count users": > 1000 :white_check_mark:
6. "Test loginname" for aaliyah_hyatt_V: :whi

[2016-04-27 10:47] SergioBertolinSG commented on #24303
@blizzz now works fine in my container as well, did you change something?

[2016-04-27 10:48] blizzz commented on #24303
@SergioBertolinSG no

[2016-04-27 10:51] SergioBertolinSG commented on #24303
OK, I'll close it then. Please reopen if you see it again.

[2016-04-27 10:51] PVince81 commented on #9667
I suppose it should be possible to additionally add a dispatch call in the proper locations, and add the logic there to check whether it needs to continue or not.

[2016-04-27 10:59] GitHubUser4234 commented on #9667
Meaning the usage of `stopPropagation()` and even letting developers manipulate the event's response? If yes, it sounds promising :+1:

[2016-04-27 11:01] blexfort opened #24308 "owncloud upgrade issue 8.04 to 8.2"
Hello!

Tonight tried to update in automatic mode owncloud (by pushing a button in the admin web-panel of woncloud to update). The system says:

I do not have an access to terminal as I use remote hosting and can manage thing ONLY via FTP or WEB-interface. so, I cannot use any bash commands. So, please, could you point me how to sort it out ASAP?

Thanks!

[2016-04-27 11:01] RealRancor commented on #22268
@abrahamsthmicro

Because this is an environmental issue where your environment is stripping off/removing the mentioned header. If this is the case there can't be a solution in here as  this issue tracker is used for bugreporting within ownCloud, not for giving support for webservers issues / configurations.

[2016-04-27 11:02] RealRancor commented on #24308
@blexfort

Please see: https://forum.owncloud.org/viewtopic.php?f=17&t=32087

You can close here and post at the forums if you have further questions / problems doing a correct upgrade.

[2016-04-27 11:19] #24308 closed

[2016-04-27 11:21] LukasReschke opened #24309 "ownCloud 9.0.2 security and setup warnings are endlessly reloading"
Other users have reported this as well in the bug tracker, with ownCloud Proxy I now face this as well. I'm debugging this…

[2016-04-27 11:23] LukasReschke commented on #24309
Navigated to https://█████.owncloudconnect.com/owncloud/settings/admin

[2016-04-27 11:25] DeepDiver1975 commented on #24306
sounds reasonable - what about re-using repair steps here as well?

We already allow to define repair steps on upgrade before and after db migration (and soon async as well).
In addition to that we can also define some steps on install and uninstall - or even (re-)enable and disable?

[2016-04-27 11:39] SergioBertolinSG commented on #24303
OK, I've seen what is happening. First connection fails, encryption is not related here. Second connection works. You need to hit twice the detect base DN button to connect, first time fails.

[2016-04-27 11:41] blizzz commented on #24303
Did work for me the first time.

[2016-04-27 11:44] DeepDiver1975 commented on #24300
Please connect to the database and search through the table oc_cards - one of the cards is invalid and has to either be fixed or deleted.

[2016-04-27 11:44] blizzz commented on #15427
nothing changed in this regard.

[2016-04-27 11:46] RealRancor commented on #24309
Dup: https://github.com/owncloud/core/issues/24293 :-)

[2016-04-27 11:51] blizzz commented on #24026
@simpleuser99 if possible, can you try with the 8.2.4 release candidate and cache enabled? http://download.owncloud.org/community/testing/owncloud-8.2.4RC1.zip

beware it is a pre-release (not suited for production, backup, etc., etc.)

[2016-04-27 11:57] PVince81 commented on #24303
If only medium, moving to 9.0.3

[2016-04-27 12:01] SergioBertolinSG commented on #24303
Ok after talking with @blizzz , found the exact problem. The problem is about UX, the password is only saved when password field loses the focus. If you click the button immediately after entering the password, it cannot connect.

[2016-04-27 12:29] PVince81 commented on #24090
After discussing with @cmonteroluque @davitol, setting to critical since user cannot login any more.

@blizzz can you also assist a bit for the part about the deleted user ? Would it help as a workaround to run the LDAP cleanup before or after the upgrade ?

[2016-04-27 12:43] schiesbn commented on #24090
I just tried it without LDAP in the hope that I can avoid the LDAP setup :wink:

My test steps:

1. setup a ownCloud 8.2.3 with admin, user1, user2
2. user1 shares a file to user2
3. go to the database and delete user1 from the oc_users table (which should be the same as a user deleted from ldap)
4. update to 9.0.1
5. login with user2

Everything worked without any problems. Will try now with LDAP

[2016-04-27 12:55] schiesbn commented on #24090
Now I tried the same with LDAP following exactly the steps described by @davitol but couldn't re-produce it.

@davitol to which ownCloud version do you upgrade? I tried it with 9.0.1.

[2016-04-27 13:05] schiesbn commented on #24090
I also tried to update directly to the latest stable9 branch with the same result -> can't reproduce

[2016-04-27 13:06] c0fe commented on #24296
I saw a tags plugin for OwnCloud but it stated that the only version it was working for was OwnCloud 8.0. Is tags now builtin within version 9.0?

[2016-04-27 13:08] LukasReschke commented on #24306
Sounds good 👍

[2016-04-27 13:08] schiesbn commented on #24090
Have the same feeling... @davitol which apps do you have enabled?

[2016-04-27 13:13] DeepDiver1975 commented on #24306
yes

[2016-04-27 13:27] jobenvil commented on #24066
@Xenopathic same problem here. @PVince81 Do you need more info?

[2016-04-27 13:31] davitol commented on #24090
@schiesbn I upgraded from 8.2.3 EE to 9.0.1. EE

Enabled:
  - activity: 2.2.1
  - admin_audit: 0.7
  - comments: 0.2
  - dav: 0.1.6
  - enterprise_key: 0.1.0
  - federatedfilesharing: 0.1.0
  - federation: 0.0.4
  - files: 1.4.4
  - files_external: 0.5.2
  - files_pdfviewer: 0.8
  - files_sharing: 0.9.1
  - files_texteditor: 2.1
  - files_trashbin: 0.8.0
  - files_versions: 1.2.0
  - files_videopl

[2016-04-27 13:44] Xenopathic commented on #24309
@LukasReschke Do you get a warning printed before the reload with #24126 applied?

[2016-04-27 14:40] eillarra opened #24312 "PDF files not syncing properly"
### Steps to reproduce
1. Make a clean installation on Scientific Linux 7.2 (RHEL7)
2. Try to sync a bunch of files
3. PDF files are not synced (more background [here](https://github.com/owncloud/client/issues/4542#issuecomment-197774868))

### Expected behaviour
PDF files should sync like the rest of the files.

### Actual behaviour
PDF files are not synced. I have a folder with around 20 PDF fil

[2016-04-27 15:13] simpleuser99 commented on #24026
Unfortunately, I can't install unstable version for production and I don't have test server.

[2016-04-27 15:55] blizzz commented on #24026
sure, then please try again when 8.2.4 is released, probably in the first week of May

[2016-04-27 16:12] blizzz commented on #24090
Was an LDAP attribute set for the User Home? Did the deleted LDAP user has had an avatar?

[2016-04-27 16:22] philthephatman opened #24313 "Doctrine\DBAL\DBALException: Unknown database type requested, OC\DB\OCSqlitePlatform may not support it."
### Steps to reproduce

Upgrading from 9.0.1 Stable to 9.0.2 RC1
### Expected behaviour

Upgrade should be successful
### Actual behaviour

Upgrade unsuccessful
### Server configuration

Linux Mint 17.3 Rosa

Apache 2.4.20

sqlite3

PHP 5.6.20-1

9.0.2 RC1

Updated from 9.0.1 stable

Updated from web page

[code]

[2016-04-27 16:33] RealRancor commented on #24313
Something similar was reported in the past but was closed by the user: https://github.com/owncloud/core/issues/16134

[2016-04-27 16:41] VicDeo commented on #22450
@icewind1991 could you please  have a quick look what might wrong with the code https://github.com/owncloud/core/issues/22450#issuecomment-214786690

Short story:
- OC 8.2.2
- cron task

[code]

[2016-04-27 16:43] SergioBertolinSG commented on #23646
Still happening in 9.0.2rc1 (as expected).

[2016-04-27 16:52] mmattel opened #24314 "SMB access is broken with Samba 3.6.25"
### Steps to reproduce
1. Running ownCloud 9.0.2 RC1 (daily)
2. Having SMB mounts sucessfully mounted and in use
3. Update via webupdater (daily)

### Expected behaviour
SMB mounts are present and accessible (as before)

### Actual behaviour
SMB mounts are after the update present but no longer accessible nor creatable

Note I: the owncloud error as shown below is always thrown when I either try t

[2016-04-27 16:53] RealRancor commented on #24296
@c0fe Yes, tags are builtin oC9:

https://owncloud.org/nine/

[2016-04-27 16:57] pisc-software commented on #24298
Cool, updated the "files_external/service" files from the current master and issue is corrected.

Thanks for fast reacting.

[2016-04-27 17:09] DeepDiver1975 commented on #24313
Which apps are installed?
Which tables do exist in the DB?

[2016-04-27 17:45] itsharrie commented on #23878
Installation works withour error messages.

I tested 9.0.2~rc1-1.1

Thanks a lot!

On 19/04/16 19:54, Jürgen Weigert wrote:

[2016-04-27 18:38] ajcvhall opened #24316 "overview mode > child view"
When in overview mode it would be handy to see whats inside a folder instead of having to view the entire directory on a new page.

![screen shot 2016-04-27 at 20 19 59](https://cloud.githubusercontent.com/assets/1279593/14863434/f48539a2-0cb5-11e6-9a23-d5ec69868426.png)

![screen shot 2016-04-27 at 20 23 17](https://cloud.githubusercontent.com/assets/1279593/14863486/20861d8c-0cb6-11e6-89fe-346b4

[2016-04-27 19:04] LukasReschke commented on #24314
@Xenopathic @icewind1991

[2016-04-27 19:28] philthephatman commented on #24313
Apps installed:

  - activity: 2.2.1
  - comments: 0.2
  - contacts: 1.2.0.0
  - dav: 0.1.6
  - documents: 0.12.0
  - encryption: 1.2.0
  - external: 1.2
  - federatedfilesharing: 0.1.0
  - federation: 0.0.4
  - files: 1.4.4
  - files_external: 0.5.2
  - files_sharing: 0.9.1
  - files_texteditor: 2.1
  - files_trashbin: 0.8.0
  - files_versions: 1.2.0
  - files_videoplayer: 0.9.8
  - files_videovi

[2016-04-27 19:31] #23878 closed

[2016-04-27 20:08] benjunmun opened #24318 "Moving a file between two shares fails, with PHP error 'Nesting level too deep' on the server."
### Steps to reproduce
1. Create two folders on account A.
2. Share both folders to account B.
3. On the client side, Account B creates a file in the first folder, and waits for everything to sync.
4. On the client side, Account B attempts to move the file from the first folder to the second folder (Cut and paste)

### Expected behaviour
Expect the move operation to be synched up to the server.

#

[2016-04-27 20:49] philthephatman commented on #24313
![screenshot at 2016-04-27 16 48 05](https://cloud.githubusercontent.com/assets/18704274/14867744/fc2977c2-0c97-11e6-8cef-c5b36fe3a530.png)
![screenshot at 2016-04-27 16 48 39](https://cloud.githubusercontent.com/assets/18704274/14867747/fef648b8-0c97-11e6-8a4e-00257d5e260f.png)

Here are a couple of screenshots of tables included.

[2016-04-27 21:58] MTRichards commented on #10682
As an user, I would like to log into the ownCloud desktop client using Kerberos tickets so that users don't have to enter usernames and passwords, the domain login on the desktop servers to log users in to ownCloud.

Flow:
User logs into the desktop
ownCloud gets a certificate from the desktop
Presents certificate to ownCloud server
Server checks certificate
User is authenticated

User also needs

[2016-04-27 22:18] Hubble1974 commented on #24300
I forgot to write, that this is only one of many many error messages in the log. I have many such entries at the same time. They seem to be each equal except the letter A after "Spitzname". So it seems that each card is affected :-(

[2016-04-27 22:39] ScottyTM commented on #23817
Any news on this?

[2016-04-28 05:06] RealRancor commented on #24318
Looks like something which got already fixed a few days ago: https://github.com/owncloud/core/pull/24078

[2016-04-28 06:25] nickvergessen commented on #24312
Can you provide a package with failing pdf files?

[2016-04-28 06:29] nickvergessen commented on #24313
The Exception happens on `OC\Repair\SqliteAutoincrement`

[code]

[2016-04-28 06:39] nickvergessen commented on #24318
@benjunmun can you test the patch above and report back if it helped?

[2016-04-28 06:51] likyng opened #24319 "Cannot get past the login screen no matter the password"
### Steps to reproduce
1. Install ownCloud 9.0.1
2. Upgrade contacts app to 1.2

### Expected behaviour
I should be able to login and use owncloud.

### Actual behaviour
I can see the login screen and enter my password. However, I am not able to login - upon pressing enter the page loads and returns me back to the login page. It does not matter if I enter a valid or an invalid password. I will not

[2016-04-28 06:56] davitol commented on #24090
No, never.

No

[2016-04-28 07:08] SergioBertolinSG commented on #24303
Confirmed as a regression. 8.1.7rc1 doesn't have this problem.

[2016-04-28 07:11] mmattel opened #24320 "Wrong free space shown when using quotas and federated shares"
### Steps to reproduce
1. Running ownCloud 9.0.2 RC1 (daily)
2. Having a mount made by a user (not the admin user) to a federated share only for this user
3. Only use the federated share for data storage, no local data use!
4. Set / unset a quota for that user by the admin
5. Use the Windows sync client and see the free capacity
### Expected behaviour

The capacity used and total (quota) should be

[2016-04-28 07:59] vasyugan opened #24321 ""folder is locked" SNAFU"
I accidentally deleted a shared folder. First I restored it locally, but then I found that owncloud wouldn't restore the stares, so I deleted the locally restored file and restored it from owncloud's deleted files to ensure that for the other users, the folder is the same as before.

ownClould restored the folder, but with "(wiederhergestellt)" appended. I wanted to rename it to its original name,

[2016-04-28 08:07] vasyugan commented on #24321
I found the oc_file_locks to be completely empty, so I had no way of unlocking, then I accidentally deleted and restored the folder on the server yet again, and this time, it was restored under its original name.

[2016-04-28 08:10] VicDeo commented on #22450
@cdamken please execute this file and post the output
https://gist.github.com/VicDeo/6a715322dfe1498ee73ea8455d923958

[2016-04-28 08:10] SergioBertolinSG opened #24323 "Recipient of a federated shared folder cannot upload files inside it."
### Steps to reproduce:

Having two servers, serverA and serverB with encryption enabled do:

1. Share a folder from userA in serverA to userB in serverB, giving edit permissions.
2. As userB in serverB accept share.
3. As userB in serverB upload files into shared folder by userA in serverA.

### Expected behaviour:
Files are uploaded.

### Actual behaviour
Files cannot be uploaded there is an err

[2016-04-28 08:13] PVince81 commented on #24323
Are both servers running 8.1.7 ? Is this a regression ?

[2016-04-28 08:15] PVince81 commented on #24323
Ah, and I see "encryption enabled", hmmm

[2016-04-28 08:17] PVince81 commented on #24323
Tested with a fed share to the same 8.1.7RC1 instance and encryption enabled, upload as recipient works fine. Now trying with separate instances, just in case.

@SergioBertolinSG was there no encryption-related message in the logs of both instances?

[2016-04-28 08:21] PVince81 commented on #24323
Also works for me with two 8.1.7RC1 instances, even when OC_A is encrypted and OC_B (recipient) isn't, or both encrypted.

@SergioBertolinSG did you properly initialize the encryption module ?

[2016-04-28 08:23] PVince81 commented on #24321
Please never do that, it will mess up badly.

The reason why the folder was locked is probably because people were using it, maybe their sync clients were downloading the contents. You can't rename a folder while people are accessing its contents. Maybe waiting a day or so until activity slows down might give a window of opportunity to rename the folder.

[2016-04-28 08:24] PVince81 commented on #24321
You might be able to recover stuff by doing a "occ files:scan --all" to resync the file cache with the local changes.

[2016-04-28 08:24] PVince81 commented on #24321
Not a bug => closing

[2016-04-28 08:27] PVince81 commented on #24320
@mmattel can you do this:
[code]

then check the values of "quota-available-bytes" and "quota-used-bytes" of the root element.
The used value should be 0.

I think the client might be using other fields, there is a discussion going on about this because quota stuff is tricky when involving external storages: https://github.com/owncloud/client/issues/4460

[2016-04-28 08:30] PVince81 commented on #24319
Please fix your trusted domain in config.php and/or try connecting to the IP of the trusted domain.

Also try clearing your browser's cookies, just in case.

[2016-04-28 08:30] #24319 closed

[2016-04-28 08:31] PVince81 commented on #24314
That message is caused by https://github.com/owncloud/core/pull/24186 but should not in any way affect SMB, this is cron. So unrelated.

Let's try SMB locally

[2016-04-28 08:38] SergioBertolinSG commented on #24323
yes, I think so.

[2016-04-28 08:49] JoseClarcat opened #24324 "Owncloud not restore"
Good morning everyone,

My server Owncloud accidentally erased. I performed a daily backup of both the database and what directories. The database was PostgreSQL.

Create a new server with the same version Centos 7 and directories and restore the database as it indicated the official documentation Owncloud.

However, I can not get my Owncloud running again. Just let me access the local user, not t

[2016-04-28 09:05] geotheory opened #24325 "http error 500 when implementing version-check workaround"
I'm trying to set up Postgres 9.4 with Owncloud 8.1.6.  My previous effort at this last year ran into the version-check problem [(this issue)](https://github.com/owncloud/core/issues/19391) to which someone posted a [workaround](https://github.com/owncloud/core/pull/20524) to implement [this commit](https://github.com/owncloud/core/commit/2f89eef334bd445a7e046d845d5d5d1b3e4b6b8c).

So I've pasted

[2016-04-28 09:08] PVince81 commented on #24323
Log from recipient server:
[code]

Log from sharing server:
[code]

[2016-04-28 09:10] PVince81 commented on #24323
Ok I don't see anything helpful. Might or might not be LDAP interfering.

[2016-04-28 09:19] mmattel commented on #24314
OK, but interresting that it is always triggered when changing smb settings or creating smb mounts

What exactly do you mean? My existing smb mounts are down (inaccessible), and new one can not be created. They are signalling no access (red square in admin, pink bar in file app)... And beside the cron message, no other messages are logged?