[2015-07-10 15:42] ffflorian commented on #17564
I'm not sure if this belongs to @jknockaert's error, but after upgrading to 8.1 I try to run
```occ encryption:migrate``` and I only get an error message:
```PHP Fatal error:  Call to a member function getRelativePath() on null in /var/www/owncloud/apps/files_trashbin/lib/storage.php on line 123```

[2015-07-10 15:42] gcoretech commented on #16255
curl uses nss (instead of openssl) on centos7/rhel7/fedora. Unfortunately there is a bug in nss with certificate verification that prevents owncloud from functioning properly. It has been fixed but it may take a while until rpm updates are released.

https://bugzilla.redhat.com/show_bug.cgi?id=1241172

The best would be to wait for the rpm updates. If it's really urgent, you can try the curl rpms

[2015-07-10 15:46] schiesbn commented on #17564
@ffflorian no, that's discussed in great detail here: https://github.com/owncloud/core/issues/16928 Also with the patches and steps to fix it. I will write the necessary steps together and publish them later today

[2015-07-10 15:48] ffflorian commented on #17564
@schiesbn Thanks for the quick reply. I'll head over there then :smiley:

[2015-07-10 15:54] thenamelessthing opened #17572 "Add thumbnail view to the file app"
For managing pictures it's a MUST to see a thumbnail of each picture. Unfortunatly in the galery apps we can't manage them. So can we have a way to see them and manage the file at the same time.

[2015-07-10 16:17] Allibabba commented on #17529
I close this ticket as I was able to clean most of the problems so there are no more entries in the logfile so far. Unfortunately the mentioned IOS share problem still persists. I'll have another try in the forum.

[2015-07-10 16:17] #17529 closed

[2015-07-10 16:39] #17567 closed

[2015-07-10 16:40] karlitschek commented on #17570
@blizzz any idea?

[2015-07-10 16:40] karlitschek commented on #17569
@nickvergessen any idea?

[2015-07-10 16:46] blizzz commented on #17570
@nismoryco could you please provide details to your bug report based on the issue template? https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

Thank you!

[2015-07-10 16:50] karlitschek commented on #17558
Can't reproduce here. Everything is snappy. We are constantly working on improving the performance. But without more concrete information there is not a lot that can be done here.

[2015-07-10 16:51] schiesbn commented on #17564
Hm, I just tried it again. This command should migrate only the keys from the given user in his data directory

[2015-07-10 17:05] karlitschek commented on #17547
@schiesbn

[2015-07-10 17:05] jknockaert commented on #17564
OK, I think it didn't work here because I forgot to reapply #17473 and #17474.
While checking the results of previous (failed) migrations to 8.1 I noticed that this nesting happened for other accounts as well. No clear pattern though.

[2015-07-10 17:10] gig13 opened #17573 "No email notifications for shared link file uploads"
### Steps to reproduce
1. Setup the email server
2. Setup email notifications to all items checked and hourly emails.
3. Create a folder and share that via a share link with edit rights
4. In another browser, go to the share link and upload a file
5. Wait for the email notifications. Check if the notifications include the files created by the "remote users" and the corresponding timestamp.

### Ex

[2015-07-10 17:11] gig13 commented on #17573
@MorrisJobke @nickvergessen

[2015-07-10 17:16] schiesbn opened #17574 "Encryption: recover from a broken migration to ownCloud 8.1"
Because it become a real mess to find all the necessary steps to recover from a broken migration I decided to summarize it in a separate issue. This will be closed as soon as 8.1.1 is released.

Unfortunately the migration from ownCloud 8.0 to ownCloud 8.1.0 with encryption contain some bugs which break the migration. But no data are lost, you just need to perform some extra steps and re-run the m

[2015-07-10 17:18] TactiveLearning commented on #16255
Thank you so very much @gcoretech & @Yomark1 you guys are awesome :)

I am using Gcoretech's fix for now.

Sorry for this noobish question, but how can I get informed about the next release of this RPM?

[2015-07-10 17:20] schiesbn commented on #16928
I summarized here all the patches and the steps you need to perform to resolve the issue: https://github.com/owncloud/core/issues/17574

[2015-07-10 17:29] dizzy2604 commented on #17564
What should be the new structure looks like? i would like to place key manualy to appropriate directories. thanks

[2015-07-10 17:30] bigtreiber commented on #16614
I just rebooted my machine, the problem still exists :-(

[2015-07-10 17:31] schiesbn commented on #17564
The new structure is described at the end of this document: https://doc.owncloud.org/server/8.1/admin_manual/configuration_files/encryption_configuration.html

[2015-07-10 17:33] ffflorian commented on #17564
@dizzy2604: I managed the problem with the keys with this structure:
[code]

[2015-07-10 17:37] gcoretech commented on #16255
The curl rpms above are just a temporary fix using openssl ... it's really a problem with nss not curl.

 [root@host ~]# rpm -q nss
  nss-3.19.1-3.el7_1.x86_64

You can do a yum check-update once a day and if there is a newer nss version, apply the update.
Then do **yum downgrade curl libcurl** to get the original version that receives the usual rhel/centos updates.

[2015-07-10 18:00] ianmcxa commented on #17448
I have this same issue on Owncloud 8.1 running on Ubuntu 14.04.

[2015-07-10 18:19] jknockaert commented on #17564
OK it first didn't work because I forgot to set the owner right after moving the old keys back. Now I manage to do a one-user migration. The nested structure is however not reproduced. Seems like a fairly random event.

[2015-07-10 18:27] TactiveLearning commented on #16255
Awesome, thank you again @Gcoretech :) :+1:

[2015-07-10 18:33] jknockaert commented on #17564
Actually the final file key folder structure for that user suggests that the file key migration happened three times in row, so for `folder/file.txt` it finally gives the folders:
*`files_encryption/keys/folder/file.txt/` (original file key location, empty after migration)
*`files_encryption/keys/files/folder/file.txt/OC_DEFAULT_MODULE/` (intermediate file key location?, empty after migration)
*`f

[2015-07-10 18:45] gig13 commented on #17484
@MorrisJobke
The issue was solved with an upgrade to OC8.0.5. Unfortunately I do not have any additional information. Please take a quick look, but I think its ok to close out.

[2015-07-10 18:45] #17484 closed

[2015-07-10 19:08] rullzer commented on #17557
Wouldn't it make more sense to have the available preview type in the capabilities.... then clients would only request previews on types that actually support it.

[2015-07-10 19:12] rullzer commented on #17571
Did you just copy the config sample file and modify it? Because we had that issue before... (CC: @DeepDiver1975 @LukasReschke , do you remember that as well?)

Try to remove the proxy related stuff

[2015-07-10 19:24] dkoehl opened #17575 "x"

[2015-07-10 19:33] Xenopathic commented on #17558
I would strongly suggest checking those Segmentation faults in Apache, that could be a contributor to the performance issues you are experiencing.

[2015-07-10 19:39] sorglos commented on #17457
It's not a proper solution but I have changed the ```installed_version``` in the ```appconfig``` table to ```0.6``` to escape from the loop.

[2015-07-10 19:41] stevespaw opened #17576 "S3 and 8.1 upgrade with “Download Broker”?"
We recently upgraded from 7.x to 8.1 and it was fairly smooth.

We have OwnCloud on EC2 and use S3 as our "external" storage (it is our only storage). It has been working OK for a year, upload and download performance was an issue but usable. We have 1000's of large files, 4-16 GB. The pinch point of all files going through the EC2 first and then to S3 has been a bottleneck.

Now with 8.1 everythi

[2015-07-10 19:56] Xenopathic commented on #17575
?

[2015-07-10 19:56] #17575 closed

[2015-07-10 19:59] karlitschek commented on #17576
Thanks for your question. I'm not sure this is really an ownCloud bug. So the bugtracker is the wrong place to ask this questions. Please post it at forum.owncloud.org.  Thanks a lot.

[2015-07-10 19:59] #17576 closed

[2015-07-10 20:00] frozen1980 commented on #17571
I can't remember doing such a thing, but it's an old installation, updated all the way from at least 5.0.13..

Thanks for that hint, this did solve the problem.. Sometimes one seems to be blind.. :-)

Now calendar and contacts seem to be experimental which seems weird, but this is an entirely different thing.

Thank you very much!

[2015-07-10 20:15] #17571 closed

[2015-07-10 20:17] Takif commented on #17448
CentOS 7. Same issue.
OC 8.0 worked flawlessly prior to update.
PHP 5.4.16 (cli)
Cant use sendmail from OC althought can send test mail from cli without any problem.
Updated using the repo.

[2015-07-10 20:53] plReynaerde opened #17577 "update 8.0.2 to 8.1.0 binary log issue"
Doctrine\DBAL\Exception\DriverException: An exception occurred while executing ' DELETE FROM `oc_lucene_status` WHERE `fileid` IN ( SELECT `fileid` FROM ( SELECT `fileid` FROM `oc_lucene_status` GROUP BY `fileid` HAVING count(`fileid`) > 1 ) AS `mysqlerr1093hack` )': SQLSTATE[HY000]: General error: 1665 Cannot execute statement: impossible to write to binary log since BINLOG_FORMAT = STATEMENT and

[2015-07-10 21:02] kth1 commented on #14386
another sidenote:
if this solution doesn´t work because of dependencies (phpapi-20131226), the following solution may work:
http://xltoolbox.sourceforge.net/blog/2015/04/upgrading-php-apcu-on-ubuntu-14-dot-04-lts/

[2015-07-10 21:26] RealRancor commented on #17448
See https://github.com/owncloud/core/issues/16255#issuecomment-119531656

[2015-07-10 22:24] RealRancor commented on #17577
Documented here: https://doc.owncloud.org/server/8.0/admin_manual/maintenance/upgrade.html#troubleshooting

There are also tons of duplicated reported here, should be easy to find.

[2015-07-10 22:27] RealRancor commented on #17576
@karlitschek Please direct such questions to the mailinglist as we don't have any knowledge about such oC changes at the forums.

[2015-07-11 01:12] AdamWill commented on #17438
Yeah, 8.0.5 seems good here too. It had a bunch of obviously-relevant commits. +1 to close this.

[2015-07-11 03:32] CoMPaTech commented on #17499
fwiw just trying out this as new functionality, but this pops up along the way - might be that (at least in our case) the user doesn't get expanded correctly? the log really says smb::foo

```"app":"core","message":"Exception while scanning storage \"smb::foo@ournas\/ourshare\/\/\": Icewind\\SMB\\Exception\\AuthenticationException: ","level":3,```

[2015-07-11 04:56] ntnn commented on #17456
I'm experiencing the same issue after updating today on CentOS 7, from ownCloud 8.0.2 (iirc) to 8.1.0 via yum.

[2015-07-11 06:35] b3nn0 commented on #17558
I'm having the exact same issue on an Ubuntu 14.04 server with stock apache:
Server version: Apache/2.4.7 (Ubuntu)
Server built:   Mar 10 2015 13:05:59
Any idea how to debug this further?

[2015-07-11 07:00] furrig commented on #16928
Thanks for your work @schiesbn

It works now but there is still an issue with public keys.
For some users I found it in the backup directories but for the other not.
I noticed in the logs that the public keys where looked for in /files_encryption/public_keys but were located in /files_encryption/files_encryption/public_keys

[2015-07-11 07:43] dizzy2604 commented on #17564
after placing keys to appropriate directories, still can't open files via web interface, looks like some keys are not converted? is there any chance for recovery from this situation?

[2015-07-11 08:40] Maxmurgian commented on #16928
I got caught in the intermediate state that this thread describes and carried out the steps in https://github.com/owncloud/core/issues/16928#issuecomment-119503329

The migration script went through for all users without errors after that. However, no users can access old files. New files are work as expected. I have verified with a DB backup that I indeed did replace the new publicShareKeyId and

[2015-07-11 08:42] nicknameforgithub commented on #13934
This problem is still NOT solved even in the last 8.1 owncloud when using InnoDB
I solved this problem by changing engine type for oc_filecache table to MyISAM

[2015-07-11 08:55] tribut opened #17578 "cron.php won't run after update to 8.1 ("another instance is already running")"
Updated my owncloud from 8.0.4 to 8.1.0 yesterday. Since then, cron.php always fails with

    Another instance of cron.php is still running!

I've added `$lockFile` and `$isLocked` to the output and the file does not exist (creating it with `touch /tmp/owncloud-server-XXX-cron.lock` does not change behavior) and `$isLocked === false`. A simple test script, that just opens `/tmp/testfile` and lock

[2015-07-11 09:41] redhell commented on #16928
Hey @schiesbn,

first your fix works. I started at the state with no started migration, then applied your patch #17574 and upgraded. The migration was successful, but sharing of old files isn't possible. right now.

Error	PHP	Array to string conversion at /var/www/*/lib/private/template/functions.php#36
Error	no app in context	Can not decrypt this file, probably this is a shared file. Please ask t

[2015-07-11 09:47] chrissi5120 commented on #17453
curl -I https://myowncloud.tld -k
HTTP/1.1 200 OK
Date: Sat, 11 Jul 2015 09:40:59 GMT
Server: Apache/2.4.7 (Ubuntu)
Strict-Transport-Security: max-age=63072000; includeSubdomains; preload
X-Frame-Options: DENY
X-Content-Type-Options: nosniff
X-Powered-By: PHP/5.5.9-1ubuntu4.11
Set-Cookie: xxx; path=/; HttpOnly
Expires: Thu, 19 Nov 1981 08:52:00 GMT
Cache-Control: no-store, no-cache, must-revalidat

[2015-07-11 10:24] RealRancor commented on #17449
@BenS89
If no one is re-opening this issue maybe create one stating this is not about the version of the .htaccess file but about the test to check if the .htaccess file is protecting the datadir.

[2015-07-11 10:36] xn--nding-jua commented on #17564
Here is the reason, why the folder-nesting occurs:  #17545

[2015-07-11 10:53] #17438 closed

[2015-07-11 11:00] jsalatiel commented on #17578
My problem was an wrong memcache configuration.

[2015-07-11 11:03] oparoz commented on #17572
Duplicate of https://github.com/owncloud/core/issues/17357

[2015-07-11 11:03] #17572 closed

[2015-07-11 11:08] jsalatiel opened #17579 "php /var/www/owncloud/console.php files:scan broken on 8.1"
### Steps to reproduce
1. SSH to the server
2. su - www-data -s /bin/bash
3.   php /var/www/owncloud/console.php  files:scan SOMEUSER

### Expected behaviour
Tell us what should happen
it should rescan files from that user

### Actual behaviour
Tell us what happens instead
It will rescan files from ALL users

### Server configuration
**Operating system**: Ubuntu 14.04 LTS

**Web server:**
apache 2

[2015-07-11 11:15] blue-bean commented on #17511
And another note for this:
you have to add apc.enable_cli=1 in the php.ini of the server.

[2015-07-11 11:16] tbeitter commented on #16928
@schiesbn thanks for the clear instructions, I think I am a step further now. I copied the backup folders and ran the migrate script after replacing all the files. After logging in to the cloud, no matter which user, the webUI now tells me:

"Encryption App is enabled but your keys are not initialised, please log-out and log-in again"

while the log says:

"error while running hook (OCA\\Encryptio

[2015-07-11 11:20] oparoz commented on #17557
@rullzer - The problem is that a preview can fail (missing encryption key, corrupt file, etc.), so the frontend would still need to get some kind of error. 500 is probably better, but I think these cases still generate 404s.

[2015-07-11 11:42] oparoz commented on #983
The problem with polling is that you get it wrong half the time, so users will still hit refresh after having uploaded files to be sure the view picked it up.The net result is a lot of effort to build something which won't be really useful imho.

I don't think there is a way around introducing a new requirement. I vote for using a php redis extension to push events via eventsource.

[2015-07-11 11:50] Gaegamel commented on #16928
@tbeitter Can you take a look at the /owncloud/data/<user>/files_encryption/OC_DEFAULT_MODULE -folder? Does it contain a <username>.publicKey?
If not, locate your /data/-backup and access the folder data/files_encryption/public_keys. In it, you should find files in the format of <username>.publicKey. Copy them to the respective <user>/OC_DEFAULT_MODULE/ folder.
Example:  The file "user1.publicKey"

[2015-07-11 12:02] tflidd commented on #17453
There is a risk to mix different topics. The OP had problems with a nginx setup. It's very likely that there is an issue because there are more reports coming in on the forum:
https://forum.owncloud.org/viewtopic.php?f=31&t=29221
https://forum.owncloud.org/viewtopic.php?f=31&t=29109
https://forum.owncloud.org/viewtopic.php?f=31&t=29212

There might be a problem on apache as well but it's better to

[2015-07-11 12:35] geoff-ellison commented on #14852
@kaasdude, where did you find Calendar 8.0 and Contacts 8.0? After upgrading to 8.0.4 I can only find:
Calendar 0.6.5
Contacts 0.3.0.19
I removed the folders (apps/calendar, apps/contacts) as you suggested and then tried to enable these two in the interface. In both cases, the "Enable" button changed to "Disable" (indicating that they were enabled) yet there is no folder for either of them in the

[2015-07-11 13:05] RealRancor commented on #17573
@gig13 I think its already reported / requested here: https://github.com/owncloud/activity/issues/177

[2015-07-11 13:07] transistor91 commented on #17558
That's the point! Same here. Only folders which are shared with me make the problems (Folder wich I shared with other people works fine for me, for the other people there seems not ro be any problem) . I had a look in oc_tables but there's nothing special. Any suggestions how we can debug this problem? I turned the log level to Everything but nothing appears, same in the apache error log.

I resha

[2015-07-11 13:16] tribut commented on #17578
After some more research I found the culprit: If `cron.lockfile.location` is unset, the return value of `sys_get_temp_dir()` is used, which default to `/tmp` and is outside of the `open_basedir` setting.
I've now added `sys_temp_dir` (which is new as of php 5.5) to php.ini to resolve this.
Sorry for not figuring that out before opening a bug report.

[2015-07-11 13:16] #17578 closed

[2015-07-11 13:30] jknockaert commented on #17564
@xn--nding-jua Thanks for pointing out. But in my case I can almost rule out this cause, as I first restored the pre-8.1 `files_encryption` folders using a short script that loops over the users. Upon running the migration script again the folder-nesting happened for only one user. But rather than finding the bug we may opt for a more generic approach that tackles both the issue I had (whatever ca

[2015-07-11 13:34] jknockaert commented on #16928
@redhell The `Error fread()` error happens all the time here. The log is actually full of exotic errors.

[2015-07-11 13:55] tbeitter commented on #16928
@gaegamel that worked for me, the users can access their files. Thanks! (There are some other errors now, f.e. not found files or "prematurely ended documents". But I have to see first where they're come from.)

[2015-07-11 14:10] b3nn0 commented on #17558
Yep, you are right.
Un-sharing and then sharing the folders again fixed the problem.

[2015-07-11 14:11] karlitschek commented on #17558
@schiesbn any idea?
I agree with @Xenopathic Segmentation faults are very bad and could lead indirectly to this problems. I would debug in apache/php what is going on there.

[2015-07-11 14:14] karlitschek commented on #17579
@icewind1991 any idea?

[2015-07-11 14:17] karlitschek commented on #17576
@RealRancor Good point. Will do. :-)

[2015-07-11 14:32] Gaegamel commented on #16928
@tbeitter Glad to hear that. You're welcome.
Atleast in my installation, the problems didn't stop with that. So tell them to immediately copy their folders and files to a local directory as long as they can be decrypted. In worst-case, you might have to rollback to an older version.

[2015-07-11 16:54] ianmcxa commented on #17448
I ended up wiping the config and reinstalling. That appeared to fix the problem.

[2015-07-11 16:59] RealRancor commented on #17448
@ianmcxa Then you probably had copied over the config.sample.php to config.php and had the empty proxy settings in the config which is also causing such a problem.

[2015-07-11 18:04] MightyCreak opened #17580 "Infinite redirection since upgrade to 8.1"
### Steps to reproduce
1. Upgrade using the [linux package manager](https://doc.owncloud.org/server/8.1/admin_manual/maintenance/upgrade.html#upgrading-with-your-linux-package-manager)
2. Call the command line `sudo -u www-data php occ upgrade`
3. Access https://cloud.foolstep.com with your browser
4. See the error from the browser

### Expected behaviour
It should work as before (OC 8.0). It was

[2015-07-11 18:49] RealRancor commented on #17580
Mhhh, do you have done a full upgrade (removing all files / folders except /config/ and /data/)?

Using the official NginX config from the oC8.1 docs?

Restarted php-fpm to clear the browser cache?

[2015-07-11 18:57] MightyCreak commented on #17580
I didn't do a full upgrade (I upgraded using the openSUSE repository, using dist-upgrade because update didn't want to update from 8.0 to 8.1)

I used the official 8.1 documentation (for both [strong directory permissions](https://doc.owncloud.org/server/8.1/admin_manual/installation/installation_wizard.html#setting-strong-directory-permissions) and [nginx config](https://doc.owncloud.org/server/8

[2015-07-11 19:29] MightyCreak commented on #17580
I commented some code in index.php and the problem starts with `OC::handleRequest();`.

[2015-07-11 19:33] Neraste opened #17581 "Unable to share or unshare with link on OC 7.0.4, 8.1.0"
Hi people

This problem started to happen on OC 7.0.4, and I was hoping for it to be solved with 8.1.0 update, but nope. So, the problem is, I can't share or unshare folders or files with links.

### Steps to reproduce

Share a folder or a file with link in Files app.
OR
Unshare a previously (old) shared with link folder or file in Files app.

### Expected behaviour

Folder or file is shared.
OR
F

[2015-07-11 19:51] MightyCreak commented on #17580
Inside the function handleRequest (lib/base.php ~L860), I added an `echo 'test';` before and after the `if` block and I get only one 'test', meaning that the problem is within this code:

[code]

Still investigating...

[2015-07-11 20:03] MightyCreak commented on #17580
I found the issue!

It was because of the ocusagecharts app...

I `rm -rf` it and it works now... so it's good to know that even if the app [says it's compatible with 8.1](https://apps.owncloud.com/content/show.php/Storage+Usage+%2B+Activity+Charts?content=166746), well it isn't...

[2015-07-11 20:03] #17580 closed

[2015-07-11 20:40] mrm2m opened #17582 "Update from 8.0.4 to 8.1.0 on debian based installation from repository failed"
After starting the update process on the root web page I get this result:

* It starts maintenance mode
* it checks the dabase scheme update
* it checks the dabase scheme update for APPs
* It fails with this message:

Doctrine\DBAL\Exception\DriverException: An exception occurred while executing 'DROP INDEX category_object_index': SQLSTATE[42704]: Undefined object: 7 ERROR: index "category_object_

[2015-07-11 21:15] timon-schroeter opened #17583 "occ broken in 8.1.0-2 in Ubuntu 14.0.4: Fatal error in mdb2schemareader.php on line 71"
While doing a clean install on Ubuntu 14.0.4 via the preferred method (package via apt-get) when executing
[code]
I geht the following output:
[code]

Tried this two times, same result each time. After removing the db and db users I tried running the install wizard in the browser which worked just fine. Either way I would prefer occ and if it's there and advertised it should work on a fresh vserve

[2015-07-11 21:24] ffflorian commented on #9832
@carolineBda

Thanks, this helped me solving it!
For everyone who is also looking for the solution: you need to put this line into the ```owncloud.conf``` file (e.g. ```/etc/apache2/conf-available/owncloud.conf```).

[2015-07-11 21:24] RealRancor commented on #17582
Hi,

try to first go to oC 8.0.5 as described in the upgrade manuals.

[2015-07-11 21:30] RealRancor commented on #17580
Strange, the latest version 3.4.5 works here just fine on a similar setup.

[2015-07-11 21:34] Xenopathic commented on #17329
Hmm, I don't think we should hard-fail on missing memcache for CLI. A missing component (external service unavailable, memcache class not loaded, temporary failures etc) should only affect the production view of ownCloud, aka the web interface and sync interfaces. The CLI should be independent of that, and should work even if there is some (temporary?) disruption to external connected services.

[2015-07-11 21:40] RealRancor commented on #17329
@Xenopathic Its not only about external services but about the memcaches in cli in general.

[2015-07-11 21:48] werwer18 commented on #7104
You are right they just needed upgrading. Now I have the cron job problem back: cron job is not working at all.

Error 	PHP 	Array to string conversion at ........../lib/private/template/functions.php#36
Error 	PHP 	Undefined index: SCRIPT_FILENAME at ............/lib/base.php#144

No resolution available from other posts.

[2015-07-11 21:57] Xenopathic commented on #17329
Precisely - I consider a memcache to be an external service, but this also applies to anything else that ownCloud depends on externally. Example: imagine if at some point ownCloud *requires* an internet connection, so the web UI will refuse to work if the net goes down. If there is a system problem causing the net outage, and the admin needs to use the CLI to fix it, then the CLI *must* work even

[2015-07-11 22:13] nazar-pc opened #17584 "Cron mode in autoconfig"
I'm working on awesome docker container which configures everything in completely automated way, even CRON tasks, but I can't specify anyhow to use system cron by default right after installation (AJAX is used by default).

Any chance to add option for that in `autoconfig.php`?

[2015-07-11 22:23] RealRancor commented on #17329
Ah, sounds reasonable. In the case of memcache its probably worth to discuss that cli/cron is not using APC/APCu generally as recommended in the quoted docs.

[2015-07-11 22:30] RealRancor commented on #17584
Have a look at the latest comments from @DeepDiver1975, he had explained in an issue how to use additional parameters in a seperate config file.

[2015-07-11 22:32] farson2003 opened #17585 "Enhancement: Make Reverse Proxy Configuration possible via admin frontend"
At present it is still necessary to edit the config/config.php manually to allow access ownCloud via a multiple domains reverse SSL proxy https://ssl-proxy.tld/domain.tld/owncloud.

Similar to the new email frontend setup, the admin should  be able to set this Reverse Proxy Configuration up via his admin frontend, whith which he could then edit the parameters below:
overwritehost"     => "ssl-prox

[2015-07-11 22:40] nazar-pc commented on #17584
@RealRancor, just checked his last comments - nothing like that, would you be so kind to point me there?

[2015-07-11 22:52] RealRancor commented on #17584
Sorry, that was an older comment from last year:

https://github.com/owncloud/core/issues/8022#issuecomment-60391346

which was linked in https://github.com/owncloud/core/issues/17302

[2015-07-11 23:22] nazar-pc commented on #17584
Well, can't find how to specify cron mode, not sure whether such option exists.
Found `backgroundjobs_mode` in template file, but setting it in `config.php` doens't have any effect on running instance. No mentions about this in admin guide.

[2015-07-11 23:30] Xenopathic commented on #17584
Cron mode is stored in the DB, and the best way to change it in a container setup script is by executing `./occ background:cron` after ownCloud setup.

[2015-07-11 23:30] #17584 closed

[2015-07-11 23:31] nazar-pc commented on #17584
What about changing it before actual setup?

[2015-07-11 23:32] Xenopathic commented on #17584
Before setup no DB is initialised, so this cannot work.

[2015-07-12 00:25] binarykitchen commented on #17513
@frenchja me too, same problem here

[2015-07-12 00:29] nazar-pc commented on #17584
This is what I was talking about from the beginning. There is default value `ajax` and no way to specify alternative before installation. But I need it.

[2015-07-12 01:15] enoch85 commented on #17455
Fix is confirmed and working.

[2015-07-12 01:17] tohojo opened #17586 "Upgrading to 8.1 breaks Android client upload / Sabre HEAD request"
The Android client refused to upload anything after upgrading to Owncloud 8.1.

Tracked it down to an issue with HEAD requests in WebDav. See https://github.com/fruux/sabre-dav/issues/684 for the upstream issue.

[2015-07-12 04:14] tuxayo commented on #17505
@blackcoder it worked, thanks! :-)

[2015-07-12 05:57] shiznix opened #17587 "Update to 8.1 failure / could not fetch app info"
Updating ownCloud to version 8.1.0, this may take a while.

Turned on maintenance mode
Checked database schema update
Checked database schema update for apps
Updated database
Updated "updater" to 0.6
Updated "files_sharing" to 0.6.2
Updated "files_trashbin" to 0.6.3
Updated "files_versions" to 1.0.6
Exception: Could not fetch app info!
The update was unsuccessful. Please report this issue to the o

[2015-07-12 06:04] shiznix opened #17588 "Owncloud 8.1 upgrade breaks applications"
Official apps. 'Contacts' and 'Calendar' are broken by the 8.1 upgrade.

The admin page offers to update the apps but this fails with 'Couldn't update app.'

[2015-07-12 06:38] mrm2m commented on #17582
I was wrong with the old version - it was 8.0.4. So first I wanted to check if that still works. So I removed all owncloud packages with aptitude. Next thing I did was to install the old packages from the cache:

dpkg -i /var/cache/apt/archives/owncloud*8.0.4*.deb
service apache2 reload

After that I have a at least a working 8.0.4 again. I will make a backup and then I'll give 8.0.5 a try. So pro

[2015-07-12 07:09] mrm2m commented on #17582
Which manuals do you mean? I found that one: https://doc.owncloud.org/server/8.1/admin_manual/maintenance/upgrade.html

There 8.0.5 is just an example for what intermediate releases are. There is no explicit suggestion what version you should have before updating to 8.1.0.

I did exactly what the manual says about updating your debian installation with the packet manager, because that's how you up

[2015-07-12 07:25] RealRancor commented on #17582
Hi,

its described in your first link:

[2015-07-12 07:28] RealRancor commented on #17587
Please use the issue template as asked here: https://github.com/owncloud/core/blob/master/CONTRIBUTING.md#short-version

[2015-07-12 07:29] RealRancor commented on #17588
Please use the issue template as asked here: https://github.com/owncloud/core/blob/master/CONTRIBUTING.md#short-version

[2015-07-12 07:36] mrm2m commented on #17582
Well - there are point releases, major releases and intermediate releases? OK.

I think this is probably not related to the update process at all:
[code]
I would say there's something wrong with the database. So what is that category_object_index?

[2015-07-12 07:41] RealRancor commented on #17582
Strange thing. The index category_object_index is defined here:

https://github.com/owncloud/core/blob/v8.1.0/db_structure.xml#L1076

[2015-07-12 07:49] mrm2m commented on #17582
Here is everything that I have in my database backup about the table in question:
[code]

[2015-07-12 09:19] tflidd commented on #4311
I didn't find this post in the first place that's why I created a new request: https://github.com/owncloud/core/issues/17398

[2015-07-12 09:24] corsch opened #17589 "Blank Page after Upgrade to OC 7.0.7"
Hi,

I've just updated my OC7 from 7.0.6 to 7.07 without any errors.

I can see the normal login page, but as soon as I login to my Owncloud, I'll get a blank Page in FF (HTTP 500 in IE11) and the following text in my owncloud.log.

{"app":"PHP","message":"syntax error, unexpected '[' at ...\/htdocs\/apps\/contacts\/lib\/addressbookprovider.php#123","level":3,"time":"2015-07-12T11:17:14+02:00"}

C

[2015-07-12 10:55] dehein commented on #17542
The fix was to disable my Dropbox which i had integrated as external space. Now it works.

[2015-07-12 11:22] angelodag opened #17590 "Update to 8.0.1 breaks existing installation"
### Steps to reproduce
1. Upgrade to 8.0.1 version

### Expected behaviour
After performing the update (started from the web interface) and rebooting the server Owncloud should just work...

### Actual behaviour
After reboot of the server the Owncloud home page does not show.

### Server configuration
**Operating system**: Debian Wheezy

**Web server:** nginx 1.2.1-2.2+wheezy3

**Database:** embed

[2015-07-12 11:31] franzhartwig commented on #17455
Which fix is working?

[2015-07-12 12:27] bloodyle commented on #17456
Same exact behavior here.
Tasks, Bookmarks and probably more Apps affected.
Tried many times without success so far.

Client error response [url] https://apps.owncloud.com/CONTENT/content-files/164356-tasks.zip [status code] 400 [reason phrase] Bad Request

[2015-07-12 13:02] sdbrown67 opened #17591 "Updating Owncloud to version 8.1.0 caused an exception error"
The following text was displayed in the browser during upgrade with a link to github and instructions to post the problem here.

Updating ownCloud to version 8.1.0, this may take a while.

    Turned on maintenance mode
    Checked database schema update
    Checked database schema update for apps
    Updated database
    Updated "files_pdfviewer" to 0.7
    Updated "activity" to 2.0.1
    Updated

[2015-07-12 13:16] RealRancor commented on #17589
Please report this to the issue tracker of the contacts app. Seems you currently need PHP 5.4 for that app.

[2015-07-12 13:22] RealRancor commented on #17590
Seems you have an old version of the calendar app not compatible with oC 8.1. Remove the calendar folder in the app folder

[2015-07-12 13:49] sergiocallegari commented on #17523
OK, correct, I missed that, notwithstanding the fact that I used the `sudo -u www-data php occ` command before... So the issue is that the screen that appears after an update is misleading in saying run `./occ upgrade`: by providing the precise path it makes you think that the command must be typed in verbatim, regardless of your actual configuration. IMHO the message should be either better adapt

[2015-07-12 14:17] MightyCreak commented on #17580
I'll try to do a fresh install. But I suspect that there is a problem in the DB.

[2015-07-12 15:02] mevolu commented on #14886
I had the same Problem like the others. I'm at all-inkl, too. Here is what I found out (using phpinfo):
At all-inkl you could choose to use php as a apache-module or as cgi (for ex. if you need other php versions). In both versions the variables "upload_tmp_dir", TMP, TEMP, TMPDIR are not set.
If you add the "SetEnv TMP", TEMP, TMPDIR lines to the .htaccess file, they only set the correct variable

[2015-07-12 15:05] RealRancor commented on #17523
@sergiocallegari See https://github.com/owncloud/core/issues/17523#issuecomment-119884388

[2015-07-12 15:14] karlitschek commented on #17585
Well the thought is the reverse proxy configuration is a quite basic configuration. It is easy to kill the webinterface by typing something wrong into the form. This is something that should be done in the config file. And someone with a complicated setup like that should be able to edit a config file anyways.

[2015-07-12 15:19] karlitschek commented on #17583
Which package do you use to install? The one from the official ownCloud repo or something else?

[2015-07-12 15:22] karlitschek commented on #17581
Can you try a clean and second installation for debugging? Maybe disable APCu and aeet pipelining support as a test?

[2015-07-12 15:23] karlitschek commented on #17584
Agreed. We need a way to set this via an occ command or REST API call.

[2015-07-12 15:28] Bullnados commented on #14886
How long the error doesnt come back? I ask cause it seems, that the error appeares periiodicly one time a day.
So if u are free for 2 or more days it would be rly nice :+1:

[2015-07-12 15:39] mevolu commented on #14886
I got the error every time the cron.php got called (by browser or per cronjob). Now every time I call cron.php (by browser or per cronjob) there is no more the error message in my log.

[2015-07-12 15:55] enoch85 commented on #17455
@franzhartwig https://github.com/owncloud/core/issues/17295

[2015-07-12 16:02] harenber commented on #17457
Suffering partly from the same. Upgrade stuck using the website but succeeded by CLI:

`root@cubie:/var/www/owncloud#  sudo -u www-data php occ upgrade
ownCloud is already latest version
root@cubie:/var/www/owncloud# `

clients (and WebDAV) work, but when trying to login through the WebGUI, it will silently re-open the login page no matter if the username/password combination is correct or now.

C

[2015-07-12 16:04] MightyCreak opened #17592 "Flag experimental apps as experimental before they are installed"
### Steps to reproduce
1. Fresh install of ownCloud 8.1
2. Activate Contacts or Calendar apps (that are flagged "official", it's green, it seems perfect)
3. See in the activated apps that in fact they are experimental

### Expected behaviour
If an app is just flagged "official" and green, you expect it to be stable for the current ownCloud version.

If an app is "experimental", it should be flagge

[2015-07-12 16:13] karlitschek commented on #17592
Strange. @LukasReschke Can you have a look once you are back? :-)

[2015-07-12 16:18] MightyCreak commented on #17592
Apparently @RealRancor have the same problem. Extract from IRC:

    <RealRancor> They are also flagged experimental here at my installation

[2015-07-12 16:36] mrm2m commented on #17582
I tried to create the missing index. I even tried to remove it with the SQL statement from the error message:
[code]
But still the error message remains if I run the upgrade script.

[2015-07-12 17:50] Jockelchen commented on #17586
Did u update the client to the newest version? That fixed it for me :). https://software.opensuse.org/download/package?project=isv:ownCloud:desktop&package=owncloud-client

[2015-07-12 18:40] MightyCreak commented on #17329
I got the problem on Debian 8.1 with ownCloud 8.1.0. Although I confgured everything as said in the docs:

- I installed APCu using the command: `sudo apt-get install php-apc`
- In /var/www/owncloud/config/config.php: `'memcache.local' => '\OC\Memcache\APCu',`
- In /etc/php5/**cli**/conf.d/05-opcache.ini: `zend_extension=opcache.so`
- In /etc/php5/cli/conf.d/20-apcu.ini: `extension=apcu.so`
- In /

[2015-07-12 18:43] RealRancor commented on #17329
You get that message if php haven't loaded the correct module. Check that with php -i and a phpinfo

[2015-07-12 18:55] MightyCreak opened #17593 "PHP error in the log about HTTP_RAW_POST_DATA"
### Steps to reproduce
1. See error log

### Expected behaviour
Not have the error

### Actual behaviour
There is this entry in the log:

[code]

### Server configuration
**Operating system**: Debian 8.1

**Web server:** nginx 1.6.2

**Database:** MySQL 5.5.43

**PHP version:** 5.6.9

**ownCloud version:** 8.1.0

**Updated from an older ownCloud or fresh install:** from an older ownCloud

**List o

[2015-07-12 18:58] RealRancor commented on #17593
Follow this:

[2015-07-12 18:59] RealRancor commented on #17589
@corsch Already reported here: https://github.com/owncloud/contacts/issues/981

Feel free to close here.

[2015-07-12 19:04] zocker22 commented on #17457
@harenber
You need not only to change the version of the updater-app, but also from every app that has not properly been updated.
If you enter php5.5-cli ./occ upgrade and repeat the process once more. You will see all the apps that have not been upgraded properly. When you look into your database into the table *PRÄFIX*appconfig, you will see which version is currently installed. Either you chang

[2015-07-12 19:04] MightyCreak commented on #17329
Oh sh*t I see where is my problem: I searched for `enable_cli` and found `opcache.enable_cli` instead of `apc.enable_cli`.

I'll try again, but with the appropriate option ;)

[2015-07-12 19:19] #17589 closed

[2015-07-12 19:19] #17593 closed

[2015-07-12 20:37] bit-seq commented on #17466
Same log messages for me. Are you two able to activate apps that have to be installed?

Last monday I installed two owncloud instances for testing purposes, where the first was used immediately. App installation went flawlessly. Today I tried to configure the second instance and was not able to install apps, i.e. Contacts, Calendar, Documents. The Activate button changes its text to Deactivate, ho

[2015-07-12 20:45] angelodag commented on #17590
Hi RealRancor, thank you for your help.
Indeed removing the calendar app lets me accessing the web interface.
I had a running configuration with the "basic" apps: contacts, calendar, bookmarks and tasks, after the upgrade calendar is completely broken and the others are marked as experimental and do not start.

[2015-07-12 20:48] #17590 closed

[2015-07-12 21:02] timon-schroeter commented on #17583
I installed the current package from the official ownCloud repo.

More specifically I executed the exact commands listet here:
https://software.opensuse.org/download/package?project=isv:ownCloud:community&package=owncloud
in the Section on Ubuntu 14.04, namely
[code]

[2015-07-12 21:16] DeepDiver1975 commented on #17583
Looks like the xml could not be loaded in https://github.com/owncloud/core/blob/master/lib/private/db/mdb2schemareader.php#L69

Can you please add following statement right before this:

[code]

[2015-07-12 21:20] RealRancor commented on #17580
There was a user reporting the same at the forums: https://forum.owncloud.org/viewtopic.php?f=31&t=29257

Maybe report this to the developer of the app to make him aware of this: https://github.com/arnovr/ocusagecharts/issues

[2015-07-12 21:23] timon-schroeter commented on #17583
I'd like to help debug this. And I've worked around occ by using the install wizard in the browser which worked just fine. So now I've got this ownCloud Instance completely setup and in production with users on it. And I only have this one vserver running Ubuntu Ubuntu 14.0.4.
So:
How can I help debug this while preserving the (now) live ownCloud instance?

[2015-07-12 21:26] DeepDiver1975 commented on #17583
@timon-schroeter I'm happy you finally got your instance setup. Thanks for the feedback! We will analyze this issue.

@jnweiger Can you reproduce this issue with the packages? Using the pure source code this is working. THX

[2015-07-12 21:37] DeepDiver1975 commented on #17584
As described by @Xenopathic there is a occ command to change the cron mode.
So the automated/scripted installation can look like:

[code]

I really see no need to add anything else

[2015-07-12 21:46] nazar-pc commented on #17584
I'm using `autoconfig.php`, which means I do not call `./occ install`, user does that when enter Web UI for the first time, and when user click "Finish", I want him to get background tasks set to `cron`.
Well, I can hack around owncloud system files and achieve what I want, but that would be rude and error-prone.
What I currently do is:

But this is quite ugly, even though it works.

This is not a

[2015-07-12 22:19] xn--nding-jua opened #17594 "[8.1] Incorrect filesize uploading files via Webdav as recipient using encryption"
### Steps to reproduce
1. Upload a file using webdav (e.g. FileSync on Android) - here a 1.4 MB file - using the mode "use temporary files"
2. The uploaded file will be encrypted, put into the ownCloud filesystem and the filesize within the oc_filecache-database is set to the size of the encrypted file (1.9 MB). The flag "encrypted" will be not set within oc_filecache
3. Using the web-interface th

[2015-07-12 22:33] DeepDiver1975 commented on #17584
From my perspective it's time to switch - we will not invest further into autoconfig.php.
Any future development will go into ./occ

[2015-07-12 22:39] DeepDiver1975 commented on #17329
https://secure.php.net/manual/en/apc.configuration.php#ini.apc.enable-cli

^^^ all there :speak_no_evil:

[2015-07-12 22:39] #17585 closed

[2015-07-12 22:41] DeepDiver1975 commented on #17585
We already discussed this in the past - mainly all config parameters are kind of once-setup-an-done kind. Adding a WebUI is kind of overkill. Futhermore as described by @karlitschek - the web ui can easily be killed by setting something wrong by accident and being logged out for ever.

[2015-07-12 22:47] DeepDiver1975 commented on #17466
These apps no longer exist in the appstore and therefore the error is written to the logs - not much we can do -> case closed

[2015-07-12 22:47] #17466 closed

[2015-07-12 23:22] Xenopathic commented on #17329
@DeepDiver1975 Let's keep this issue open to track to my comments:

[2015-07-12 23:49] karlitschek commented on #17594
@schiesbn Can you have a look please?

[2015-07-13 01:44] MightyCreak commented on #17580
I don't know why, but I fixed the problem by removing all the apps that are not in the official `owncloud` package, and then reactivating them one by one.

##### How to know the packaged apps (tested on Debian 8.1)

Get the list of ownCloud package with this command:

    dpkg -l '*owncloud*' | grep '^.i'

And then, in the following command, replace `{packages}` with all the listed packages above:

[2015-07-13 05:08] PVince81 opened #17595 "Let admins uninstall RPM/DEB packages of apps but keep the server"
Not sure if bug or feature.

I thought that the reason why separate packages are provided for apps was to make it possible to uninstall such apps when not needed.

So I tried this on my server:
`sudo zypper remove owncloud-app-user_webdavauth owncloud-app-user_ldap owncloud-app-external`

Zypper wants to remove all packages.

@jnweiger is this intended ? Are there plans to make these packages "rec

[2015-07-13 05:38] PVince81 commented on #17569
I guess that there is currently logic that tries and group user's activities into a single line. This makes sense for local users but not for remote users.
Special handling might need to be implemented for remote users to disable grouping.

[2015-07-13 05:43] PVince81 commented on #17569
Confirmed on 8.0.3, 8.0.5 and 8.1.

[2015-07-13 05:48] Bugsbane opened #17596 "Upgrade from 8.0.5 to 8.1 reports success, but loops"
Hi there,

When I do the upgrade from 8.0.5 to 8.1, whether by the webapp or by occ, it reports that everything was successful, but when I go to visit the ownCloud login page (or am redirected there by the webapp) it just goes back to the "ownCloud will be updated to version 8.1.0." screen.

I chown'd all the files to be owned by the usual http user and version.php reports:
$OC_Version = array(8,1

[2015-07-13 05:48] PVince81 commented on #17579
Duplicate of https://github.com/owncloud/core/issues/17414

[2015-07-13 05:48] #17579 closed

[2015-07-13 05:49] PVince81 commented on #17414
@icewind1991 any idea why it would scan all users even though a user name was given ?

[2015-07-13 05:51] PVince81 commented on #17581
@Neraste can you confirm that the problem also exist with newly created shares ?
Because if it's only about old shares, then you might have broken old share entries that might be caused by an issue from OC < 7.0.4

[2015-07-13 05:56] PVince81 commented on #17586
I just tried uploading with the official Android app 1.7.2 against my ownCloud 8.1 server and uploading worked fine. I did so by selecting pictures in the Photos app and sharing them through ownCloud, and selected an upload directory. The pictures were uploaded properly.

Maybe this is somehow related to some environments/configs ?

[2015-07-13 05:58] PVince81 commented on #17586
@tohojo mind sharing details about your setup ? Is there anything like a reverse proxy or anything that could affect HEAD requests in your environment ?

[2015-07-13 06:02] PVince81 commented on #17591
@sdbrown67 can you provide more information about your setup ? How did you perform the upgrade (RPM/DEB package, manually replacing source code or updater app) ?
Any details in the logs that might help identify which app caused trouble ?

See issue template https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

[2015-07-13 06:04] #17542 closed

[2015-07-13 06:04] PVince81 commented on #17592
Maybe something is wrong with the code that retrieves the approval flag for already installed apps.
Note that it shows "Experimental" because the flag might be missing, and "Experimental" is the default.

[2015-07-13 06:09] MorrisJobke commented on #17573
@gig13 That's true and definetely an activity issue -> closing

[2015-07-13 06:09] PVince81 commented on #17594
@xn--nding-jua thanks for the detailed infos.

Do you have an idea about how the "use temporary file" mode works in that Filesync app you use ? What naming scheme is used for the temporary files ? Do they have the ".part" extension ?

Does Webdav upload with another client work ? Can the ownCloud sync client properly upload files ?
This is to find out whether FileSync is doing something special.

[2015-07-13 06:11] PVince81 commented on #17596
Anything in the logs ?
The loop means that the upgrade didn't actually finish so it did not set the installed version in config.php.

Please post more information using the issue template https://raw.githubusercontent.com/owncloud/core/master/issue_template.md.

[2015-07-13 06:17] DeepDiver1975 commented on #17590
Something went wrong during upgrade.  Please remove the calendar app and try to install it again.  Thx

[2015-07-13 06:33] PVince81 commented on #17557
@rullzer of course it would be better to have OC.Previews with the preview types.
But I'm planning short term as I don't know whether OC.Previews will be available in time, while enabling caching for 404 seems quicker short term.

[2015-07-13 06:37] Bugsbane commented on #17596
Actually, when I tried it again, I did get this in the logs:
{"reqId":"dyFzqJjIk0MyPouLUVPc","remoteAddr":"192.168.1.99","app":"core","message":"XCache opcode cache will not be cleared because \"xcache.admin.enable_auth\" is enabled.","level":2,"time":"2015-07-13T06:17:29+00:00"}
{"reqId":"cCArZ1dBF307tKO\/gKGi","remoteAddr":"74.116.191.190","app":"webdav","message":"Exception: {\"Message\":\"HTTP

[2015-07-13 06:39] PVince81 commented on #7104
@werwer18 See https://github.com/owncloud/core/issues/7715

You might need to run cron with "php-cli cron.php" instead of "php cron.php" depending on what distribution you are using.

[2015-07-13 06:40] f-s commented on #17562
Hello,

because of armv7, I did try your source ball, because the pear package did not work previously.

**Not** working: `php pickle.phar install --source apcu`

Working:

<pre>
wget http://es.archive.ubuntu.com/ubuntu/pool/universe/p/php-apcu/php-apcu_4.0.7.orig.tar.gz
tar xzfv php-apcu_4.0.7.orig.tar.gz
cd apcu-4.0.7/
phpize
./configure
make
checkinstall
made sure: /etc/php5/apache2/conf.d/20-a

[2015-07-13 06:40] #17562 closed

[2015-07-13 06:40] Bugsbane commented on #17596
It's funny though. If I delete the log, and go through another upgrade loop, the message above isn't in the log just afterwards, infact the log is empty.

It looks like OC really is completing the upgrade though, I'm getting this text (copied and pasted) onscreen just before the redirect:

Updating ownCloud to version 8.1.0, this may take a while.

Turned on maintenance mode
Checked database schem

[2015-07-13 06:42] PVince81 commented on #17596
Does XCache do code caching ? If it does, then maybe it is still using the old version of "config.php" that has the old OC version in it, which would explain why the updater believes the OC is still on the old version.

Are you able to clear it somehow ?

[2015-07-13 06:42] PVince81 commented on #17596
@josh4trunks any idea about XCache issues ?

[2015-07-13 06:53] Bugsbane commented on #17596
Hmmm... I'm not so sure it is xcache any more. I completely disabled xcache to the point that it no longer shows up at all in phpinfo(), I cleared Firefox's cache for my site and did another round of the updater... and it still does the same thing.

[2015-07-13 06:53] Bugsbane commented on #17596
Nothing in the logs (is it possible to increase the logging output level with occ?)

[2015-07-13 06:55] mschloesser commented on #17456
Unfortunately, same error here (tried Bookmarks and Tasks).
Downloading the file via curl CLI client works as expected.

I assume it is possible to download the files manually and install from disk?!

[2015-07-13 06:56] jospoortvliet commented on #14841
In either case, there are some tips in the forums as well:
https://forum.owncloud.org/viewtopic.php?f=14&t=25789

@agherzan could you try and see if 8.0.5 / 8.1 or any of the tips in the forums fix it?

[2015-07-13 06:58] africanforest commented on #17456
Of course, for me that's actually the only way to install apps in some cases.

[2015-07-13 06:58] #14841 closed

[2015-07-13 07:04] Bugsbane commented on #17596
Could it be something like point 4 in this blog post:
http://possiblelossofprecision.net/?p=1774
(although I'm using Manjaro / Arch, not Fedora or CentOS)

Um, is it normal for PHP session.save_path to be "no value"?

[2015-07-13 07:05] redhell commented on #17591
I had the same issue because the tasks app was somehow faulty.
I downloaded the latest master from github (owncloud/tasks) and the error disappeared.

[2015-07-13 07:05] alekiy commented on #17563
see also #8000

[2015-07-13 07:10] josh4trunks commented on #17596
I don't know anything about xcache. I thought everyone had switched to using the built in zend opcache?

@Bugsbane what version of PHP are you on?

[2015-07-13 07:16] Bugsbane commented on #17596
@josh4trunks 5.6.10. Temporarily, you can see my phpinfo() [here](https://files.piersduruz.com/info.php).

[2015-07-13 07:18] PVince81 commented on #17596
@Bugsbane ok then the core update worked. There is an app for which the version number on disk (see $appname/appinfo/version file or $appname/appinfo/info.xml) that does not match the current version in the database:  Try this `select * from oc_appconfig where configkey='installed_version';`

[2015-07-13 07:21] MorrisJobke commented on #17588
@shiznix Can you retry the update? For more info see: https://mailman.owncloud.org/pipermail/devel/2015-July/001408.html

[2015-07-13 07:21] Bugsbane commented on #17596
activity, installed_version, 1.2.1
bookmarks, installed_version, 0.4
calendar, installed_version, 0.6.4
contacts, installed_version, 0.3.0.18
conversations, installed_version, 0.2.1
documents, installed_version, 0.8.2
files, installed_version, 1.1.9
files_embeddedvideo, installed_version, 0.0.6
files_mv, installed_version, 0.7.1
files_pdfviewer, installed_version, 0.5
files_sharing, installed_vers

[2015-07-13 07:22] MorrisJobke commented on #17587
@shiznix Of special interest is the owncloud log in this case. It will most like hold the info what exception occured.

[2015-07-13 07:24] Bugsbane commented on #17596
hang on... it says updater is 0.4.1 despite the actual upgrader saying it had been upgraded to 0.6...

[2015-07-13 07:31] Bugsbane commented on #17596
It's not just the updater app. Here's a list of apps I've checked and their versions:

** app / file version / db version: **
activity / 2.0.1 / 1.2.1

[2015-07-13 07:39] xn--nding-jua commented on #17594
Hi,

yes "FolderSync" uses temporary files with the ending *.tacitpart. It uploads the file and afterwards moves it to the desired name. By now I've deactivated this function and will check if this avoids the filesize- and encrypted=0 problem within oc_filebase.

Uploaded files with Total Commander seem to work - I will try to rename some files using the webdav-interface. Maybe only the renaming i

[2015-07-13 07:45] schiesbn commented on #17558
@transistor91 can you update the "steps to reproduce" ? As I understand your last comment it is something like that:

- user1 shares folder with user2
- user2 uploads a file to the shared folder

please correct me if it is wrong and update the issue. Thanks!

[2015-07-13 07:46] PVince81 commented on #17596
The version mismatch is normal before an update. What the update does is run the update routines of every app and also update their database structure.

In your case there might be one app that does not update itself properly so its version number stays on the old one.

You could try disabling the apps one by one using `./occ app:disable appname`. Disable one, then try updating. If it doesn't work

[2015-07-13 07:48] Bugsbane commented on #17596
Hmm... I've already updated *all* of them, except for files...

[2015-07-13 07:49] Bugsbane commented on #17596
Can I safely disable that?

[2015-07-13 07:56] eraaijmakers commented on #17520
Just found out that the Chrome extension "Sight" is causing this. After disabling the extension everything works as expected.

[2015-07-13 07:57] #17520 closed

[2015-07-13 07:58] omhd opened #17597 "Issue "Internet connection not working" behind proxy (6.0.0a) #6542 closed but not solved"
Issue #6542 is an issue preventing Owncloud working on many shared webspace providers.

[2015-07-13 08:09] transistor91 commented on #17558
@schiesbn ok, here the steps:

- User 2 shares Folder with User 1 (me)
- Update from OC 8.0.4 to 8.1
- Switching on APCu (and switching it off later to verify that this is not the failure)
- User 1 upload a file via web interface or User 1 upload a file via sync client to the shared folder
- User 2 has no problems

What happen:

- Upload via web interface is really small and progress bar stucks at

[2015-07-13 08:09] PVince81 commented on #17596
You cannot disable the files app, as it would render ownCloud useless (no files, no webdav, etc).
Apps without versions shouldn't be an issue, but if you want to be sure, you could temporarily move away their folders into a temp subfolder.

From your listing above it seems the files app has the correct version too.
So you are saying that the command `./occ app:list` only shows the files app now ?

[2015-07-13 08:10] Bugsbane commented on #17596
It only shows files as being active, yes. It shows the other apps, but under a "Deactivated" category.

[2015-07-13 08:11] PVince81 commented on #17596
Mind posting your config.php ? (make sure to remove the password salt and other secret info)

[2015-07-13 08:16] Bugsbane commented on #17596
<?php
$CONFIG = array (
  'instanceid' => 'oc105b6e9afc',
  'passwordsalt' => 'XXXXXXXXXXXXXXXXXX',
  'trusted_domains' =>
  array (
    0 => 'my.domain.tld',
  ),
  'datadirectory' => '/path/to/owncloud/data',
  'dbtype' => 'mysql',
  'version' => '8.1.0.8',
  'dbname' => 'oc',
  'dbhost' => 'localhost',
  'dbtableprefix' => 'XXXX_',
  'dbuser' => 'XXXXXXXX',
  'dbpassword' => 'XXXXXXXXXX',
  'in

[2015-07-13 08:19] b3nn0 commented on #17558
Just to confirm: For me, the problem occurred with the exact same steps. The Folder was shared in 8.0.x, then I upgraded and switched on APCu (and also tried disabling it for verification but it didn't help).

[2015-07-13 08:20] RealRancor commented on #17597
Did you had a look at https://github.com/owncloud/core/issues/17448 , https://github.com/owncloud/core/issues/16255

[2015-07-13 08:22] schiesbn commented on #17558
So we can ignore APCu, it doesn't make a difference. And it only happens with folders shared with oC8.0, right?

[2015-07-13 08:25] RealRancor commented on #17596
Try to change the version of the updater app as described here: https://github.com/owncloud/core/issues/17457

[2015-07-13 08:30] b3nn0 commented on #17558
I think this can be safely assumed, yes. It worked after unsharung and resharing in 8.1 after all.

[2015-07-13 08:32] Bugsbane commented on #17596
Ok, downgrading the version number of the upgrader and the notes apps let me log in. I think we can call this a dupe of #17457

[2015-07-13 08:33] Bugsbane commented on #17457
I had this issue with the upgrader and the notes app. As with others here, downgrading the version numbers in the versino file fixed the issue for me.

[2015-07-13 08:33] PVince81 commented on #17457
@j-ed said:

It is very likely to be what is causing the issue.
A quickfix would be to remove the "version" tag in info.xml and let the upgrade run again.

[2015-07-13 08:35] PVince81 opened #17598 "Only read app version from one source"
See https://github.com/owncloud/core/issues/17457

The updater app had 0.5 in info.xml but 0.6 in version, and this caused update loops.

The code that reads app versions needs to be changed to only read the version in a single location.

[2015-07-13 08:35] PVince81 commented on #17457
Raised issue here: https://github.com/owncloud/core/issues/17598

[2015-07-13 08:36] PVince81 commented on #17457
and https://github.com/owncloud/updater/pull/154 to fix the updater app

[2015-07-13 08:37] PVince81 commented on #17596
Glad to hear that.

Closing as duplicate.

[2015-07-13 08:37] #17596 closed

[2015-07-13 08:38] PVince81 commented on #17457
@harenber try removing the version tag from "updater/appinfo/info.xml".

[2015-07-13 08:39] PVince81 commented on #17598
@karlitschek @LukasReschke @icewind1991 @DeepDiver1975 FYI

[2015-07-13 08:42] jnweiger commented on #17583
Yes, reproducable with owncloud-8.1.0-1-obs-isv-owncloud-community-8.1-testing-xubuntu_14.04

Investigating...

[2015-07-13 08:42] harenber commented on #17457
Am 13.07.15 um 10:38 schrieb Vincent Petry:

Which info.xml is that?

It seems I don't have an app "updater" anymore after purging and
re-installing my OC:

root@cubie:/var/www/owncloud# find . -name info.xml
./apps/provisioning_api/appinfo/info.xml
./apps/user_external/appinfo/info.xml
./apps/files_external/appinfo/info.xml
./apps/user_webdavauth/appinfo/info.xml
./apps/files_pdfviewer/appinfo/in

[2015-07-13 08:48] PVince81 commented on #17457
@harenber okay, so in your case the update loop is caused by something different. Can you compare the ownCloud version in "config.php" and the one in "version.php" ? They should match.

[2015-07-13 08:49] PVince81 commented on #17598
Would be nice if the code checker could also check that.

[2015-07-13 08:51] deangenovski commented on #17561
Something must have changed because before the update this was working OK

[2015-07-13 08:55] harenber commented on #17457
@PVince81 I think I really suffer from some other problem, as I don't have this update loop, I just cannot use the WebGUI (like @j-ed reported as well)

[code]

here are the two version tags:

[code]

[2015-07-13 09:00] PVince81 commented on #17457
@harenber With update loop I mean that the update page will reappear again.
If that's not the case for you, please raise your issues separately and use the issue template https://raw.githubusercontent.com/owncloud/core/master/issue_template.md so we can investigate what happened on your specific environment.

Thanks

[2015-07-13 09:06] sergiocallegari commented on #17523
Thanks for the pointer, although the content there really does not provide a feasible solution yet.

- The password block via the apache config looks like a hack, at least until there is proper integration with owncloud (works only with apache, if the path of the update script is changed in the owncloud development the thing breaks, etc).

- Providing an option to disable the update script in the

[2015-07-13 09:09] RealRancor commented on #17523
Please follow or post your concerns in https://github.com/owncloud/core/issues/14229

It makes no sense to discuss this on two places

[2015-07-13 09:10] DeepDiver1975 commented on #17561
We did remove WebDAV locking support and the SabreDAV libraries have been updated - maybe something got lost on it's way .....

[2015-07-13 09:14] tony5 commented on #17433
I have notice this error on a fresh install of OC 8.1

array_key_exists() expects parameter 2 to be array, null given at /var/www/owncloud/settings/controller/appsettingscontroller.php#176

[2015-07-13 09:19] DeepDiver1975 commented on #17583
@jnweiger please add this debug statement - https://github.com/owncloud/core/issues/17583#issuecomment-120762729

I suspect that due to the location of the code and the working dir of occ the xml is not found

[2015-07-13 09:21] #17597 closed

[2015-07-13 09:21] #17563 closed

[2015-07-13 09:25] DeepDiver1975 commented on #17329
Well - in case of an offline LDAP server we don't want to allow occ operations - because this can have bad side effects - same for an offline Redis/memcached - the behavior is not predictable.

From my POV we better fail hard then screw up anything.

[2015-07-13 09:26] harenber opened #17600 "8.1: log_query makes login page re-appears with any credential, no way to login."
### Expected behaviour
You should be able to login on the WebGUI

### Actual behaviour
After upgrading to 8.1, the login screen on the WebGUI re-appears whatever you put as login credentials. The OC clients work okay, as well as other clients using CardDAV or CalDAV.

This could be related to #17457 - User @j-ed reported the same behavior there. However, I do not suffer from the update loop, see [

[2015-07-13 09:27] harenber commented on #17457
@PVince81 Thanks !!! Did as advised.  #17600

[2015-07-13 09:32] PVince81 commented on #17600
@harenber can you try logging in with another browser ? Or clear the cache and cookies ?
Just to make sure it's not a CSRF issue.

[2015-07-13 09:33] PVince81 commented on #17600
also thanks a lot for the detailed report :smile:

[2015-07-13 09:39] harenber commented on #17600
@PVince81 of course. Used Safari on my office PC, that hasn't seen my OC since weeks (I usually don't use Safari):

Logging in:

![schnappschuss 2015-07-13 11 35 19](https://cloud.githubusercontent.com/assets/5817273/8646886/aa5404d0-2953-11e5-8075-f1f29604f004.png)

Login page re-appears:

![schnappschuss 2015-07-13 11 35 41](https://cloud.githubusercontent.com/assets/5817273/8646890/b457e604-295

[2015-07-13 09:44] PVince81 commented on #17600
The only thing I found in your log is this:
[code]

But this is triggered by the caldav interface, nothing to do with the login page.

Are there any messages that only appear in the log at the time of the failed login ? (you might be able to see them appear using "tail -f owncloud.log").

[2015-07-13 09:48] BenS89 commented on #17468
@libasys Since you can reproduce this, could you provide a full stacktrace?

[2015-07-13 10:02] sorglos commented on #17457
After the ```updater``` app (see above) I've had the same problem with ```calendar``` (0.7.1=>0.7.2). The only way to escape from the update loop  was deactivate and activate the app with the recommended intermediate step of refreshing the site before the activation (and set the allowed groups).

[2015-07-13 10:06] Neraste commented on #17581
@PVince81 I can't share any more, so I can't tell. But since the problem started with OC 7.0.4, you're right to say it's a 7.0.4 issue. So the title of this issue is misleading.

As @karlitschek said, I will run a second installation.

[2015-07-13 10:07] PVince81 commented on #16464
@oparoz instead of referer header I just used "X-Requested-With" with the value "XMLHttpRequest" here https://github.com/owncloud/core/pull/17601

Then we need to make sure the code that loads the preview also sends that header, might happen automatically if done with jQuery.

[2015-07-13 10:08] remixtj commented on #17563
I think that #8000 is about exposing CMIS services for owncloud. Instead this request is about implementing CMIS as external storage, so i can see file that are in alfresco/filenet like i can see files on external SMB/S3/ecc

[2015-07-13 10:13] tony5 commented on #17468
it seems that the error go's away if you do not have any Security & setup warnings.
as soon as I fixed Strict-Transport-Security the admin page no longer gives the error.

hope it helps,
take care

[2015-07-13 10:19] Xenopathic commented on #17329
@DeepDiver1975 The thing is, for many operations through CLI a memcache doesn't add anything useful. Our codebase does work without a memcache, it's just slower, and for the single 'request' generated by an `occ` call performance isn't exactly an issue here.

[2015-07-13 10:19] RealRancor commented on #17600
Sometimes such login loops can happen when having insufficient permissions on the php session.save_path

[2015-07-13 10:21] RealRancor commented on #17329
Its also not recommended in general to enable memcache (at least APC/APCu) https://github.com/owncloud/core/issues/17329#issuecomment-119251837

[2015-07-13 10:22] j-ed commented on #17600
I had the same effect but weren't able to find any hint why the login failed. I restarted the web server, browser etc. without success.

[2015-07-13 10:24] RealRancor commented on #17600
See my comment above...

[2015-07-13 10:29] jnweiger commented on #17583
The file is located in /var/www/owncloud/db_structure.xml, but the code tries to open it without any path names:
{"reqId":"jjVy4kbalo4xGLsjp6f6","remoteAddr":"","app":"core","message":"OC\\DB\\MDB2SchemaReader::loadSchemaFromFile, Xml schema: db_structure.xml","level":4,"time":"2015-07-13T10:10:24+00:00"}
{"reqId":"jjVy4kbalo4xGLsjp6f6","remoteAddr":"","app":"PHP","message":"simplexml_load_file():

[2015-07-13 10:32] jnweiger commented on #17583
Patching the code like this makes it work:

<pre>
        public function loadSchemaFromFile($file) {
                $schema = new \Doctrine\DBAL\Schema\Schema();
                $loadEntities = libxml_disable_entity_loader(false);
                if (!file_exists($file)) {
                        $file = \OC::$SERVERROOT . '/' . $file;
                }
                $xml = simplexml_load_file

[2015-07-13 10:48] harenber commented on #17600
@RealRancor Good hint. Don't know if these are enough:

[code]

@PVince81 Here is a tail of the owncloud.log, start of login process is marked:

[code]

Hope that tells you something.

[2015-07-13 11:15] giancarlobi opened #17602 "Documents doesn't work after 8.1 upgrade"
### Steps to reproduce
1. Successful upgrade fro 8.0.4 to 8.1
(with Documents app working ok) by package
2. Documents dir is NOT present under /var/www/owncloud/ and occ app:list doesn't list documents
3.
 Apps productivity → Enable Documents
4. … Please wait → Disable button appears
5. occ app:list doesn't list Documents and Documents app doesn't appear under Apps Enabled and neither under Apps m

[2015-07-13 11:16] R3s1stanc3 opened #17603 "occ encryption:migrate fails"
Hi
I just upgraded owncloud and it tells me to execute occ encryption:migrate to migrate my old encryption keys.
When executing "sudo -u www-data ./occ encryption:migrate" i get the following error:
$ sudo -u www-data ./occ encryption:migrate
Reorganize system folder structure
PHP Fatal error:  Call to a member function getRelativePath() on null in /var/www/owncloud/apps/files_trashbin/lib/storage

[2015-07-13 11:18] DeepDiver1975 commented on #17583
So from my understanding we should make sure occ is ALWAYS executed within the server root.
I'd suspect other operation to fail as well if not ....

Objections? @PVince81 @icewind1991 @karlitschek @jnweiger THX

[2015-07-13 11:19] DeepDiver1975 commented on #17329
This is only true for APCu which separates between CLI and WEB.
Any other memcaches are available and should work.

[2015-07-13 11:31] karlitschek commented on #17583
I completely agree. Otherwise things will break.

[2015-07-13 11:35] karlitschek commented on #17598
good catch!

[2015-07-13 11:37] BenS89 commented on #17468
Ok, I have two security & setup warnings which cannot be fixed so easy because of this here: https://github.com/owncloud/core/issues/17449

The other one states that I have no php memory cache configured. Therefore, I cannot validate your post. But indeed, it seems like this is caused by the security-check component.

[2015-07-13 11:42] raimund-schluessler commented on #17468
Indeed, this error does not occur if all warnings are fixed.

[2015-07-13 11:48] RealRancor commented on #17602
Hi,

the documents tracker is located here: https://github.com/owncloud/documents/issues where you can find similar existing issues.

[2015-07-13 11:49] RealRancor commented on #17600
The permission issue looks like the sourc of your problem. If your webserver/php user can't write a session you will end up in such an login loop.

[2015-07-13 11:51] RealRancor commented on #17603
Very likely a dup of https://github.com/owncloud/core/issues/16928

[2015-07-13 11:53] giancarlobi commented on #17602
Sorry, Do I have to re submit in the correct tracker?
Many thks

[2015-07-13 11:55] BenS89 opened #17604 "ownCloud 8.1 isHtaccessWorking wrongly fails"
### Steps to reproduce
1. Upgrade from ownCloud 8.0.5 with working .htaccess to 8.1
2. Open the admin-panel
3. The security-check component states that .htaccess is not working and that files may be accessible via the internet

### Expected behaviour
No errors should come up in the admin-panel since the .htaccess-protection still works

### Actual behaviour
The security-check component says in ger

[2015-07-13 11:56] RealRancor commented on #17602
I don't think. The not working download is tracked here https://github.com/owncloud/documents/issues/508 and the undefined index should be fixed with the next version: https://github.com/owncloud/documents/pull/509

[2015-07-13 11:57] shiznix commented on #17588
Thanks Morris.
Frank said it perfectly. I was able to get each app upgraded by logging out and back in as admin and updating each app one by one.

[2015-07-13 11:59] harenber commented on #17600
@RealRancor Well.. it actually can write (see above, where I tried that as www-data user), it just cannot browse the directory (which sounds ok to prevent catching other users sessions). But even when changing that to:

[code]

the problem is still there.

[2015-07-13 12:00] mhzawadi commented on #17586
Hi @PVince81 I have this same issue, first is the owncloud log then the nginx log.

{"reqId":"YU4CEgasn65Ynu2ss+Fq","remoteAddr":"xxx.xxx.xxx.xxx","app":"PHP","message":"Cannot modify header information - headers already sent by (output started at \/mnt\/data1\/var\/data\/websites\/3rd_party\/owncloud\/3rdparty\/sabre\/http\/lib\/Sapi.php:70) at \/mnt\/data1\/var\/data\/websites\/3rd_party\/ownclo

[2015-07-13 12:04] PVince81 commented on #17586
@tohojo do you also have nginx ?

I have Apache 2.4. Maybe it's nginx specific.

[2015-07-13 12:18] shiznix commented on #17587
Here is the offending log message -> https://gist.github.com/shiznix/50c69892af57ac897dda

Hope it helps.

[2015-07-13 12:18] #17588 closed

[2015-07-13 12:26] #17602 closed

[2015-07-13 12:31] MorrisJobke commented on #17587
Fixing PR: #17606 @shiznix Please test :)

[2015-07-13 12:32] MorrisJobke commented on #17587
@shiznix Thanks for the report :)

[2015-07-13 12:42] karlitschek commented on #17603
Hmm. Should also work without trash bin. @schiesbn What do you think?

[2015-07-13 12:44] #17603 closed

[2015-07-13 12:44] MorrisJobke commented on #17603
Please continue the discussion in #16928

[2015-07-13 12:45] nexusVI commented on #17570
Had the same issue here after upgrading to 8.1.

Saw corresponding message in slapd log:
```<= bdb_equality_candidates: (memberOf) not indexed```

Fixed by setting:
```./occ ldap:set-config "s01" useMemberOfToDetectMembership 0```

8.1 seems to use the "memberof" attribute by default, which is yet to be activated on our OpenLDAP setup.

[2015-07-13 12:57] tohojo commented on #17586
Vincent Petry <notifications@github.com> writes:

Yep, I'm on nginx+uwsgi :)

-Toke

[2015-07-13 13:01] PVince81 commented on #17537
Also we are using "location.host" and "location.port" in many places. These should be moved to properties of the "OC" namespace to make them testable. (we cannot stub the location object)

[2015-07-13 13:01] PVince81 commented on #17537
- [ ] Make OC.webroot a relative path
- [ ] Store host name + port (the base URL) in attributes of the OC namespace

[2015-07-13 13:23] Xenopathic commented on #17570
I had the same issue, and @nexusVI 's fix seems to have done the trick.

[2015-07-13 13:39] PVince81 opened #17610 "OCP namespaces for JS code"
So far the JS code doesn't have any difference between public and private namespace.

We should introduce a "OCP" namespace and rewire/wrap functions/classes to their corresponding private counterparts.

Please note that Javascript doesn't have the concept of interfaces.

In some cases it might be enough to just alias a class or object, for example:

[code]

In more complex cases, a wrapper class

[2015-07-13 13:40] PVince81 commented on #17610
Hmm, remember that we also have the "OCA" namespace for apps. So file list related stuff might need to stay in "OCA". We don't have public namespaces for OCA either on the PHP side.

[2015-07-13 13:49] R3s1stanc3 opened #17611 "occ encryption:migrate LockNotAcquiredException"
When migrating the encrytion app, it throws a LockNotAcquiredException:
[OCP\Files\LockNotAcquiredException]
  Could not obtain lock type 1 on "[owncloud data dir]/[user]/files_encryption/[use].privateKey".

I checked, but the file doesn't exist. The first time, I executed occ, I got the following error:
PHP Fatal error:  Allowed memory size of 536870912 bytes exhausted (tried to allocate 4104 byt

[2015-07-13 13:52] oparoz commented on #17610
Indeed! Might be a good idea to try and sort that one out as well. oC can't tell devs to not have inter-app communication and then only offer some APIs via OCA.Files, even if I understand that Files is a special app. There is also the problem that different methods have to be called depending on whether the Files app is reached via a private or a public URL.

On the PHP side, we don't need to call

[2015-07-13 13:53] DeepDiver1975 commented on #17610
OCP namespace sounds reasonable for any logic/code which is provided by core (outside the scope of any app).

Big question to me: which functionality would this be?

Almost anything listed above is related to giving apps the possibility to be extended by other apps.
(e.g. hooking up file actions)

Based on the idea to have apps isolated and not depend on each other this is a rather tricky topic.

[2015-07-13 13:57] PVince81 commented on #17610
We could have some kind of service provider in core and apps can register their service providers there. I believe we might have a similar discussion already for the PHP side.

As for FileActions alone, we could move this to core. I think any app might be interested to get access to file viewers (ex: opening an attachment from the mail app) without having to resort to the files app (which is a fil

[2015-07-13 14:02] karlitschek commented on #17610
makes a lot of sense IMHO. Should help to avoid a lot of strange inter app dependency bugs.

[2015-07-13 14:08] blizzz commented on #17570
Could you @nismoryco @nexusVI @Xenopathic check what is the output for `./occ ldap:show-config | grep hasMemberOfFilterSupport`? There is a check before `useMemberOfToDetectMembership` is checked and we are supposed to enter this one only if the server was detected to support memberOf.

[2015-07-13 14:09] Kawohl opened #17612 "top bar on user page is not adaptive to browser screen window"
### Steps to reproduce
1.Setup owncloud 8.1
2. create a user
3.resize your browser window and narrow it down

### Expected behaviour
Top Bar should collapse or be scrollable

### Actual behaviour
Serach user Button overlays create user Button

### Server configuration
Centos6

**Web server:**
APache
**Database:**
Mysql
**PHP version:**
5.6
**ownCloud version:** (see ownCloud admin page)
8.1 EE
**U

[2015-07-13 14:10] 4fd81048a9cd8a3fd43f1f4e52f84181 opened #17613 "Security & Setup Warnings for X-Content-Type-Options and X-Frame-Options"
### Steps to reproduce
1. View the admin page

### Expected behaviour
No warnings

### Actual behaviour
[code]

### Server configuration
**Operating system**: Ubuntu 15.04

**Web server:**  Apache/2.4.10 (Ubuntu)

**Database:** postgres (PostgreSQL) 9.4.4

**PHP version:** PHP Version 5.6.4-4ubuntu6.2

**ownCloud version:** ownCloud 8.1.0 (stable)

**Updated from an older ownCloud or fresh install

[2015-07-13 14:15] nexusVI commented on #17570
```./occ ldap:show-config | grep hasMemberOfFilterSupport```
```| hasMemberOfFilterSupport      | 1                                                                             |```

This is easily explained, the MemberOf attribute _is_ basically available, but there is only one "groupOfNames" group for handling OwnCloud access, while the privileges inside OwnCloud have to be handled via existing P

[2015-07-13 14:17] DeepDiver1975 commented on #17612
@jancborchardt

[2015-07-13 14:18] DeepDiver1975 commented on #17613
So I guess this is something for the docs @carlaschroder

[2015-07-13 14:24] blizzz commented on #17570
@nexusVI good point. Lines 388-392 should then be moved up into  the `if (is_array($groupDNs)) {` block, since an unsuccessful read attempt  would return false. This way, the backup method would still work, while the error message would continue to be logged.

[2015-07-13 14:25] PVince81 commented on #12353
- [ ] parse Webdav exception and pass it back instead of just the HTTP status code. Can be useful to distinguish error messages.

[2015-07-13 14:25] LukasReschke commented on #17613
Yes - headers shall not be double sent. :speak_no_evil:

[2015-07-13 14:27] th3fallen commented on #17610
like the idea but i agree https://github.com/owncloud/core/issues/17169 should be resolved before hand. imho

[2015-07-13 14:36] jaal2001 opened #17614 "Mac OS 1.8.4.2527 Package keeps Crashing"
Updated to 1.8.4.2527.
After update the App keeps crashing, only displays the option to send a bug report.

Deleted App.
Clean install, still the same issue.

Crash seems to happen before contacting the owncloud server, as I can't see any http(s) request on my owncloud server.

[2015-07-13 14:38] DeepDiver1975 commented on #17614
Please reopen in https://github.com/owncloud/client - THX

[2015-07-13 14:38] #17614 closed

[2015-07-13 14:43] PVince81 commented on #17611
@R3s1stanc3 please use the issue template https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

CC @schiesbn

[2015-07-13 14:46] oparoz commented on #17613
In the documentation, make sure the headers are not completely disabled, but suggest to modify the directives so that ownCloud can modify them.

[2015-07-13 14:49] PVince81 opened #17615 "Federated share mount point disappears when unavailable"
### Steps to reproduce

1. Create two users "user1" and "user2"
1. Create a folder "test"
1. Share "test" with "user2@localhost/owncloud" (or whichever path your local instance has)
1. Login as "user2" and accept the share
1. In the database, change the "remote" value in "oc_share_external" to one of a non-existing server
1. Refresh the page
1. Enter the folder "test"

### Expected result
Folder "

[2015-07-13 14:52] PVince81 commented on #17615
Also happens on v8.1.0 and on stable8.

Hmmm, then probably not a regression.
I think this happens only because the folder hasn't been scanned yet at the time of the unavailability.

Let me try again with non-scanned and scanned-folder.

[2015-07-13 15:03] PVince81 commented on #17615
Hmmm I don't understand, now I see it happening on 8.0.4 too.

It is supposed to keep the entry. If the entry is requested directly, it should return 503.
But now it doesn't even show it.
I remember testing this many times on older versions and seeing that it worked.
Something must be different in the way I tested it.

[2015-07-13 15:06] carlaschroder commented on #17463
Who packages the builds, @jnweiger? This looks like a packaging issue.

[2015-07-13 15:06] PVince81 commented on #17615
It happens here: https://github.com/owncloud/core/blob/v8.1.0/lib/private/files/view.php#L1306

It looks like it only triggers itself when the root cache entry is missing.
So we're still in some kind of pre-scan situation.

[2015-07-13 15:11] oparoz opened #17616 "Overhaul and align the app rating system"
The current rating system is broken and sends the wrong message. It's not aligned with what you find in other app stores and is confusing to users.

### Problems

1. Apps start at 50%. It makes zero sense
2. You're trying to match stars with a rating system with an entirely different scaling mechanism. Another fail
3. It doesn't reflect the truth. An app could have gotten 30 votes 3 years ago and

[2015-07-13 15:14] PVince81 commented on #17615
Ok, now I understand.

In my test step I changed the URL of the remote share. This means it maps to a different share id, so it's a different cache, which obviously isn't scanned.

I think this is a non-issue, because once the share was scanned once, it will always appear and go through the correct logic.

Closing. Not a regression.

[2015-07-13 15:14] #17615 closed

[2015-07-13 15:21] affibox commented on #17507
Are you using encryption ? Yes

I don't see anything related to public shares in the log. There's a bunch of "invalid AWS key" errors and others, not sure if related.

Is this a recent log file ? Yes
There should be a 404 entry for the link you posted above, search for "0FYGfSFj2GxUxOf" in the log.

Is this a newly created share or has the file been moved from outside S3 into S3 ? Its inside S3

[2015-07-13 15:23] affibox commented on #17507
Sorry:
Is this a newly created share or has the file been moved from outside S3 into S3 ? Its inside S3
This is a new share file outside of S3

[2015-07-13 15:26] nexusVI commented on #17570
@blizzz the proposed solution sounds viable. Is it possible to set the value for "useMemberOfToDetectMembership" in the WebGUI? That may be helpful.

[2015-07-13 15:29] affibox commented on #17507
There is no "0FYGfSFj2GxUxOf" in the log file...

I'm downloading a fresh core and uploading everything again.

If it won't work I'll have to delete everything and get rid of owncloud.

The only reason we are using it if because of me and my Boss is about to look for something else.

[2015-07-13 15:32] 4a616d6573205265696c6c79 opened #17617 "LInk sharing/download broken in 8.0.4"
Expected: Able to see/download image at shared url
Actual: No image displayed, download link 404's

Repro (for me anyway):
Share any image/file by link.
Visit link while logged out or in another session.
Download link is a 404

[2015-07-13 15:34] PVince81 commented on #17507
If the file you are sharing is outside of S3 then it has nothing to do with AWS.

But if you first created the file outside, shared it, and only then moved into S3, then its file id will change in 8.0.5 (fixed in 8.1) due to a bug with cross-storage moves.

In 8.0.5, best is to first create/move the file/folder into S3, and then share it from there (unshare, then reshare)

[2015-07-13 15:35] j-ed commented on #17600
BTW: I've checked the access rights for the `php session.save_path` but everything looks fine. I think I need to try another update to check if the problem persists.

[2015-07-13 15:37] tony5 commented on #17468
Ben, take a look here. https://doc.owncloud.org/server/8.1/admin_manual/installation/source_installation.html and read the section about Apache Web Server Configuration.
 ( AllowOverride All)
php memory cache is configured in your config.php and depending on you php version.
for php 5.4  setup php-apc and for php 5.5 setup opcache and apcu.

take care

[2015-07-13 15:38] Raydiation commented on #17616
Please reopen here https://github.com/owncloud/appstore-issues/issues

[2015-07-13 15:38] #17616 closed

[2015-07-13 15:40] oparoz commented on #17616
It also concerns the app itself, since it's the one showing to admins the useless stars rating...

[2015-07-13 15:44] StAn187 commented on #17513
@frenchja try adding the user id of the user you want to migrate

[2015-07-13 15:47] PVince81 commented on #17510
Fix will be in 8.0.6.

[2015-07-13 15:47] #17510 closed

[2015-07-13 15:56] carlaschroder commented on #17613
@oparoz , how do you do that?

[2015-07-13 16:00] oparoz commented on #17613
@carlaschroder - Replace `always` with set. @4fd81048a9cd8a3fd43f1f4e52f84181, please confirm that it still works for you if you make that change.

[2015-07-13 16:01] PVince81 opened #17618 "Public link page conflict dialog preview broken"
### Steps

1. Share folder "test" with public link and allow editing
1. Open public link
1. Upload a picture "test.jpg"
1. Upload the same picture again "test.jpg"

### Expected result
Conflict dialog appears, previews both render

### Actual result
Conflict dialog appears, but the previews are blank.
The preview URL seems to be missing the share token:
`http://localhost/owncloud/index.php/core/pr

[2015-07-13 16:07] Raydiation commented on #17616
Not really, if you adjust the app store the client should fetch better values.

[2015-07-13 16:10] PVince81 opened #17619 "OC 8.0.5 -> 8.1.0 -> master update key too long error with Mariadb"
### Steps

1. Setup v8.0.5
1. Create a folder "test"
1. Share "test" with link and allow editing
1. Open the link
1. Upload a picture "test.jpg"
1. Update the code to v8.1.0
1. Refresh the public link page, the update prompt appears
1. Click "Start update"
1. Update the code to master (8.2)
1. Run the update again in the web UI

### Expected result
Successful update.

### Actual result
[code]

[co

[2015-07-13 16:10] oparoz commented on #17616
But if you can't fix the app store, then settings/apps needs to remove the stars rating. We currently don't know what's possible with the app store.

[2015-07-13 16:12] PVince81 commented on #17619
Works properly with SQLite, must be MariaDB-specific

[2015-07-13 16:13] PVince81 commented on #17619
Possibly related to the recent indices additions.

@MorrisJobke did you really think it is that easy to add new indices ? :wink:

[2015-07-13 16:16] PVince81 commented on #17510
@rperezb FYI

[2015-07-13 16:36] oparoz commented on #17618
Confirmed.
It's not a token issue afaics
I get nothing in the logs, so it seems the system really can't find the file. Probably a virtual root issue.

[2015-07-13 16:37] oparoz commented on #17618
Ah, no, the method is using the wrong endpoint. It should be using publicpreview.png

[2015-07-13 16:39] oparoz commented on #17618
And I'm responsible! https://github.com/owncloud/core/commit/4e364311f1a07e2359eff2a4412ac90140059076

[2015-07-13 16:41] jnweiger commented on #17463
The build in ee:8.1 pulls a copy of the server admin manual from https://doc.owncloud.org/server/8.1/ownCloudServerAdminManual.pdf
I've triggered a rebuild pulling in the Manual dated July 10.

Regarding go.php: This is not touched during my part of packaging.

[2015-07-13 16:41] specialist383 opened #17621 "Update 8.0.4->8.1 encryption update error"
During an update from OC8.0.4 with encrypted files to OC8.1, the suggested modification command ....occ encryption:migrate threw an exception ":..while UPDATE 'oc_config' SET 'appid'= ? WHERE 'appid'= ? with params {encryption;file_encryption}"  with the error message "SQLSTATE{23000}: Integrity constraint violation: 1062 Duplicate entry 'encryption-publicShareKeyId' for key 'PRIMARY'. The process

[2015-07-13 16:45] PVince81 opened #17622 "Federated share disappears when remote share in maintenance mode"
### Steps

1. Setup two servers "oclocal" (master) and "ocremote" (I used 8.0.2)
1. Login on "ocremote"
1. Share a non-empty folder "test" with "root@oclocal"
1. Login on "oclocal"
1. Accept the share and navigate into it to trigger scanning
1. Switch "ocremote" to maintenance mode
1. In the "oclocal" web UI, access the "test" share

### Expected result
Folder "test" stays with error "Storage not

[2015-07-13 16:46] carlaschroder commented on #17463
Thanks @jnweiger. So getting the correct go.php is not packaging but building. Help me out here peoples!! We can't have releases all full of bad doc URLs. Who can fix this?

[2015-07-13 16:48] affibox commented on #17507
I'm sharing the file only when created or uploaded into S3.

[2015-07-13 16:52] oparoz commented on #17618
Not sure how to fix this since this happens in a lib. It doesn't make sense to introduce a check for public vs private URLs there.

The alternative is to introduce a method in files and to duplicate it in files_sharing.
That doesn't sound ideal either, but that's how things are done currently.

[2015-07-13 16:59] PVince81 commented on #17618
Ah yes, the lazyLoadPreview was barbarically overriden in public.js the way you said.

Maybe we can add preview URL loading to the future "OC.Files.Client" (#16902) and pass the correct preview URL to its constructor. Then make the conflict dialog use the client. Well, we'd need to inject the client at some point anyway.

[2015-07-13 17:00] karlitschek commented on #17463
@danimo Can you help to clarify how this works?

[2015-07-13 17:02] PVince81 commented on #17622
Fix is here https://github.com/owncloud/core/pull/17623

[2015-07-13 17:03] jancborchardt commented on #17616
What @Raydiation said is correct – @oparoz this belongs in https://github.com/owncloud/appstore-issues/issues

[2015-07-13 17:06] sdbrown67 commented on #17591
Where is the log located and I will add its detais.
I updated packages in ubuntu and it required a parital upgrade. After which I opened the owncloud app in the browser and it told me it needed updating during update it gave this error.
Not been using ubuntu for long, have used apple at work. But its all a little new to me.
Thanks for your reply,
- Stephen Brown BSc (Hon) MSc- Web Developer / Taij

[2015-07-13 17:08] sdbrown67 commented on #17591
I just installed it using apt-get wouldnt know how to do it from a diwnloaded version.
- Stephen Brown BSc (Hon) MSc- Web Developer / Taijiquan Instructor- e: sdbrown67@googlemail.com- t: +44-07742-186619

-------- Original message --------
From: redhell <notifications@github.com>
Date: 13/07/2015  8:05 am  (GMT+00:00)
To: owncloud/core <core@noreply.github.com>
Cc: Stephen Brown <sdbrown67@google

[2015-07-13 17:24] enoch85 commented on #16827
@jnfrmarks Have you seen it in 8.1? I haven't so if you didn't eitehr this issue can be closed.

[2015-07-13 17:27] martinsauter commented on #17561
Just tried on OC 8.0.4 and the behavior is already present there when used with Ubuntu 14.04 webdav. When querying the permissions with the native Ubuntu GUI file browser I get a "The permissions of "xxxxx" could not be determined" (xxxxx = filename) instead of the permissions in the window. So this did not break in 8.1.

[2015-07-13 18:00] PVince81 commented on #12353
- [ ] future: also add convenience methods on OC.Files.Client, even if they still need ajax endpoint ? (ex: downloading multiple files)

[2015-07-13 18:02] karlitschek commented on #17621
@schiesbn

[2015-07-13 18:04] Xenopathic commented on #17583
@DeepDiver1975 @karlitschek There is no reason why we shouldn't support running `occ` from outside the server root. Imagine a command that reads a file and inserts it into ownCloud somehow - if I'm in `/home/xenopathic`, then I can run `/srv/http/owncloud/occ foobar:loadfile myfile.dat` and it should load `/home/xenopathic/myfile.dat`. Obviously at the moment the priority is to document this, whic

[2015-07-13 18:10] karlitschek commented on #17617
Not reproducible. Please post a bug report using the full issue template
https://github.com/owncloud/core/blob/master/CONTRIBUTING.md
Strange username by the way :-)

[2015-07-13 18:10] #17617 closed

[2015-07-13 18:26] DaniSancas commented on #17583
Same bug encountered (clean installation from official package repo), but the @jnweiger 's hack did the trick.

I'll keep an eye in this thread, waiting for an official fix ;)

[2015-07-13 18:27] FrenchHope opened #17624 "No file displayed in file app after 8.1 upgrade"
But files are displayed on Android app...

Maybe my ownCloud server installation lacks a required PHP module ? But other apps like News seems OK...

[2015-07-13 18:59] karlitschek commented on #17624
Sorry but this ticket lacks any useful information. I suggest that you ask this question at the forum at forum.owncloud.org  Thanks.

[2015-07-13 18:59] #17624 closed

[2015-07-13 19:02] AykutCevik commented on #17505
Can't fix that issue.
I updated owncloud from 8.0.5 to 8.1.0 and could not access any file after that. I tried to migrate keys, changed the files storage.php and migration.php and did all the ways which were mentioned here. Any ideas? It still can't access any file with the following error: ```Call to a member function isReadable() on null at encryption.php#288","level":3``` and also ``` {"reqId":

[2015-07-13 19:02] FrenchHope commented on #17624
Sorry but I found nothing in owncloud.log.

[2015-07-13 19:09] #13514 closed

[2015-07-13 19:09] #11283 closed

[2015-07-13 19:09] #11554 closed

[2015-07-13 19:09] FrenchHope commented on #17624
Thanks for the advice but that seems to be bug related to the picture app :

https://github.com/owncloud/core/issues/17461#issuecomment-119326318

[2015-07-13 19:09] #11558 closed

[2015-07-13 19:09] #11564 closed

[2015-07-13 19:09] #11616 closed

[2015-07-13 19:09] #11623 closed

[2015-07-13 19:09] #11660 closed

[2015-07-13 19:09] #11891 closed

[2015-07-13 19:09] #11971 closed

[2015-07-13 19:09] #12012 closed

[2015-07-13 19:09] #12051 closed

[2015-07-13 19:09] #12178 closed

[2015-07-13 19:09] #12249 closed

[2015-07-13 19:09] #12263 closed

[2015-07-13 19:09] #12518 closed

[2015-07-13 19:09] #12519 closed

[2015-07-13 19:09] #12592 closed

[2015-07-13 19:09] #12594 closed

[2015-07-13 19:09] #12993 closed

[2015-07-13 19:09] #13444 closed

[2015-07-13 19:09] #13625 closed

[2015-07-13 19:09] #14697 closed

[2015-07-13 19:09] #14890 closed

[2015-07-13 19:09] #14891 closed

[2015-07-13 19:09] #16513 closed

[2015-07-13 19:09] #1995 closed

[2015-07-13 19:09] #2630 closed

[2015-07-13 19:09] #3956 closed

[2015-07-13 19:09] #6428 closed

[2015-07-13 19:09] #6553 closed

[2015-07-13 19:09] #7046 closed

[2015-07-13 19:09] #7383 closed

[2015-07-13 19:09] #7699 closed

[2015-07-13 19:09] #7743 closed

[2015-07-13 19:09] #8254 closed

[2015-07-13 19:09] #8374 closed

[2015-07-13 19:09] #8769 closed

[2015-07-13 19:09] #9076 closed

[2015-07-13 19:09] #9941 closed

[2015-07-13 19:09] #10118 closed

[2015-07-13 19:09] #10214 closed

[2015-07-13 19:09] #10804 closed

[2015-07-13 19:09] #11103 closed

[2015-07-13 19:09] #11238 closed

[2015-07-13 19:20] rullzer opened #17625 "mimetype mapping occ command needed"
Now that we have mimetypemapping.dist.json in /conf we should add a command to occ to update all the mimetypes in the database.

[2015-07-13 19:22] #14154 closed

[2015-07-13 19:22] #17492 closed

[2015-07-13 19:26] #16827 closed

[2015-07-13 19:27] DeepDiver1975 commented on #16827
feel free to reopen if this occurs again

[2015-07-13 19:36] affibox commented on #17507
New founding.

If I want to share a file inside a bucket of S3 in owncloud, it has to be a public file or a public folder inside the bucket. Then and only then, owncloud is capable of sharing and it only works with pictures.

TXT or PDF or even ZIP files are useless and it just wont share the files.

The buckets are been created using a custom script.

[2015-07-13 19:40] simogeo commented on #14048
Same problem here with v 8.1.0. Is there any consistent fix ? thanks

[2015-07-13 19:50] enoch85 commented on #16039
Same here:

[code]

100s of them.

[2015-07-13 19:51] affibox commented on #17507
also... The files has to be inside a PUBLIC folder inside s3 to be able share the file.

[2015-07-13 19:53] angelodag commented on #17590
Thank you DeepDiver, something must have changed since I installed owncloud the first time, if I remove the calendar app then it does not show it in the list of installable apps...

[2015-07-13 19:53] affibox commented on #17507
Please help. My boss was planning to purchase and enterprise license but now I don't think he wants to do it anymore.

Maybe another solution or software that you could recomend

[2015-07-13 19:55] cburnard opened #17627 "LDAP users unable to login"
### Steps to reproduce
1.Unable to reproduce
2.
3.

### Expected behaviour
LDAP configuration is green.  Users are shown in the 'users' page.  AD users should be able to login into oC

### Actual behaviour
AD users attempting to login is sporadic and interment.  oC log file contains numerous LDAP errors

### Server configuration
**Operating system**: CentOS 7

**Web server:** Apache 2.4

**Databas

[2015-07-13 20:05] angelodag commented on #17590
Downloading the latest calendar app zip from the site (https://github.com/owncloud/calendar/releases/download/v0.7.2/calendar.zip)
the occ app:ckeco-code says the app is not compliant.

./occ app:check-code calendar                                                                                                             :(
Analysing /var/www/owncloud/apps/calendar/js/l10n.php
 4 errors
    line

[2015-07-13 20:22] DemoFreak commented on #17586
I experience the same problem since upgrade from 8.0.5 to 8.1

Setup: Apache2, PHP5.6.1
Android: FolderSync

owncloud.log shows lines like this:
{"reqId":"8TQApoEgllyAALc+vilM","remoteAddr":"x.x.x.x","app":"webdav","message":"Exception: {\"Message\":\"HTTP\\\/1.1 401 No basic authentication headers were found\",\"Cod
e\":0,\"Trace\":\"#0 \\\/srv\\\/www\\\/clients\\\/client4\\\/web27\\\/web\\\/lib\

[2015-07-13 20:29] angelodag commented on #17590
Never mind, despite the errors, enabling the app and performing then the upgrade brings to a functioning situation.

[2015-07-13 20:34] RealRancor commented on #17590
appcodechecker is nothing what needs to be used by a user. Its more for developers checking their code

[2015-07-13 20:44] oparoz commented on #17618
OC.Files.Client is probably fine for 8.2, but what about 8.1 then?

[2015-07-13 20:56] blizzz commented on #17570
@nexusVI we can think about it for the next major release (8.2), but so far I don't see any urge. It's nasty that this bug appeared, but it's easy to fix. Then there is no immediate necessity to disable it (while of course it makes sense to do so in order to avoid useless traffic), so having the possibility to switch it on or off in console only is sufficient. Kind of like browser settings, you on

[2015-07-13 21:16] warnerbryce commented on #16162
Hello, i'm really interested about testing your code @rullzer
Would you like to share it with me about having more feedback and testing ?

[2015-07-13 21:24] AW-UC commented on #17613
Same here, but even more headers set twice:
[code]
I think setting the headers twice, shouldn't be a problem. In shared hosting environments that scenario might be difficult to prevent.

[2015-07-13 21:48] oparoz opened #17629 "Remove the stars rating system for apps until the app store supports it"
The current stars rating system is misleading. Apps start from 3 stars which means average and which in no way reflects the quality of the app. On top of that, older apps may get more stars, simply because they've existed for a long time, not because they're currently worth 4 or 5 stars.

The problem comes from the app store which only includes a voting system instead of a proper rating system, so

[2015-07-13 22:03] oparoz commented on #17616
Split in 2 then
https://github.com/owncloud/appstore-issues/issues/28
https://github.com/owncloud/core/issues/17629

[2015-07-13 22:05] binarykitchen commented on #17513
@StAn187 how do i get the user id and what will the encryption:migrate syntax look like with the user id?

[2015-07-13 23:08] nismoryco commented on #17570
### Steps to reproduce
Server configured to use LDAP

### Expected behaviour
No LDAP error messages in log

### Actual behaviour
Log messages with:
Error	PHP	ldap_read(): Search: Invalid DN syntax at /var/www/html/owncloud/apps/user_ldap/lib/ldap.php#257
Error	PHP	Array to string conversion at /var/www/html/owncloud/lib/private/template/functions.php#36

### Server configuration
**Operating system

[2015-07-13 23:08] nismoryco commented on #17570
./occ ldap:show-config | grep hasMemberOfFilterSupport
| hasMemberOfFilterSupport | 1 |

[2015-07-14 00:13] CRCinAU commented on #17592
Also note that if there is a newer version of the application available (I use Calendar and Contacts as an example here), then the app will show as EXPERIMENTAL and there is no option in the web interface to upgrade the application.

To then install the newer app version, you need to log into the host via ssh and rm -fR apps/contacts apps/calendar - and then install the apps again.

There really s

[2015-07-14 01:54] CommanderAlchemy commented on #17433
I have this on OC 8.1

Trying to enable Documents app.
Error	PHP	array_key_exists() expects parameter 2 to be array, null given at /usr/share/webapps/owncloud/settings/controller/appsettingscontroller.php#192

[2015-07-14 04:54] benwilliams opened #17631 "8.1 php ldap segfault when some users login"
Upgraded from 8.0.5 to 8.1 on Ubuntu 14.04.2 LTS using deb package from repo http://download.opensuse.org/repositories/isv:/ownCloud:/community/xUbuntu_14.04/

Now when some users login the php process segfaults in the ldap library. Doesn't effect all users. When an effected user attempts to login, owncloud generates thousands of queries in a loop to the ldap server and CPU goes to 100% until the

[2015-07-14 05:14] RealRancor commented on #17592
@CRCinAU I think you have a different issue here as i got the update buttons from 0.7.0 to 0.7.1 and then to 0.7.2. I think its the best to create a new issue for this using the issue template.

[2015-07-14 05:16] PVince81 commented on #17507
If the user who is sharing has access to S3 when logged in, then people accessing the public link from that user should also get access, regardless whether the S3 folder is public inside of S3. ownCloud is using the same S3 keys/tokens to access it.

You could try disabling encryption to find out whether it's related to encryption and encryption keys.

Can you try manually creating a bucket (inste

[2015-07-14 05:16] PVince81 commented on #17618
Bring back the horrible hack ? :see_no_evil:

[2015-07-14 05:28] PVince81 commented on #17433
I saw it happen once too, trying to enable the documents app.
So I started over but then it didn't appear any more.
Very strange...

[2015-07-14 05:32] PVince81 commented on #17433
Must be a heisenbug... try and observe it then it disappears.

The code in question is here https://github.com/owncloud/core/blob/stable8.1/settings/controller/appsettingscontroller.php#L192

From reading the code, the warning would appear if `$remoteAppEntry` is null, which means the remote app was NOT found on the app store server.
And this is only for apps that have OCSID set but no "level" att

[2015-07-14 05:36] PVince81 commented on #17433
Aha of course: I opened the apps page but had "appstoreenabled => false" in my config.

### Steps to reproduce
1. Setup ownCloud
2. Install "calendar" app from git
3. Disable app store by setting "appstoreenabled" to false in config.php
4. Go to the apps page and select "Not enabled".

In this case it will try and retrieve the calendar app's info from the app store, but since it's disabled, `null`

[2015-07-14 05:38] CommanderAlchemy commented on #17433
@PVince81 I Probably have the same setting, but as a workaround would be to set it true?

[2015-07-14 05:39] PVince81 commented on #17433
Yes, if you like.

[2015-07-14 05:42] PVince81 commented on #17592
I see that there might be even another problem: if you disable the app store in the config under "appstoreenabled => false", then OC will not be able to retrieve the app levels of approval from the app store.

Maybe if the app store is disabled, the apps should simply not be shown as experimental at all ? (remove the warning) In such cases it means people already manually installed apps from git/t

[2015-07-14 05:51] CommanderAlchemy commented on #17433
@PVince81, seems it fixed the error, removed the app from /apps manually and then enabled it from the owncloud apps it worked and no error but does not appear in apps and no errors about it odd.

[2015-07-14 06:07] Mr-Aloof commented on #17499
same problem...
logs:  PHP Fatal error:  Allowed memory size of 536870912 bytes exhausted (tried to allocate 72 bytes) in /var/www/html/owncloud/apps/files_external/3rdparty/icewind/smb/src/Connection.php on line 43

[2015-07-14 06:26] MorrisJobke commented on #17619
Why are such strange characters at the end?

[2015-07-14 06:47] MorrisJobke commented on #17619
I tried it multiple times (with both console and command line upgrade). I never experienced any problems.

[code]

[2015-07-14 06:57] #17587 closed

[2015-07-14 07:05] lx-s opened #17633 "s"

[2015-07-14 07:05] #17633 closed

[2015-07-14 07:07] lx-s commented on #17633
Accidentally opened this issue (was typing something and the github browser had focus, some shortcut caused me to create a new post...).
Sorry :( Unfortunately I can't delete this freak-post...

[2015-07-14 07:13] wikon opened #17634 "File synchronization buggy after having toggled encryption on and off"
Some weeks ago we've had encryption enabled for testing but came to the conclusion that it might be safer to leave encryption disabled to avoid potential data loss (also because of some encryption issues described here).

Now we've upgraded to OC 8.1 (encryption has been disabled before) and some OC desktop clients are have trouble syncing files. Also in the web interface files are partially not a

[2015-07-14 07:13] MorrisJobke commented on #15567
Starting January 2016 Microsoft will drop support for IE8 completely and only support IE9 (Vista) and IE11 (7, 8.1) https://support.microsoft.com/en-us/gp/microsoft-internet-explorer

As 8.2 will be released in mid October and will not be in the production release channel before december with 8.2.2 (as a rough estimate). This is worth to think about.

The reason for this is, that @PVince81 current

[2015-07-14 07:25] MorrisJobke commented on #17627
1419 times following:

[code]

[2015-07-14 07:28] RealRancor commented on #14092
Moved the discussion about the user_external app dependencies from https://github.com/owncloud/documentation/issues/1149 here:

[2015-07-14 08:24] Tiger862000 commented on #14336
Hey guys, I am experiencing the same issue. What info needs to be provided in order to solve it?

[2015-07-14 08:40] motomura0770 commented on #15702
I tested ver 8.1 with "Transactional File Locking" setting.
However, the bug was also confirmed.
(CentOS7, Swift)

Transactional File Locking setting was done following URL.
(wrong 'memcache.local'  -> 'memcache.locking'  ?)
(Comma is missing.  -> '/tmp/redis.sock' ?)

https://doc.owncloud.org/server/8.1/admin_manual/configuration_files/files_locking_experimental.html

[2015-07-14 08:58] PVince81 commented on #17619
No idea.

I had this happening on two computers already. The one from my original report was mentioned above (it was on openSUSE 13.2), and I also had it on my laptop which has openSUSE Factory with mariadb-10.0.17-1.3.x86_64 (mysql  Ver 15.1 Distrib 10.0.17-MariaDB, for Linux (x86_64) using  EditLine wrapper)

Maybe your mysql is too recent ? :wink:

[2015-07-14 09:00] PVince81 commented on #17619
Would be good if someone else could confirm this issue @icewind1991 @DeepDiver1975 ?

[2015-07-14 09:02] PVince81 commented on #17433
Fixed through another PR: https://github.com/owncloud/core/pull/17606

[2015-07-14 09:02] #17433 closed

[2015-07-14 09:05] MorrisJobke commented on #17433
Also a duplicate of #17587

[2015-07-14 09:05] PVince81 commented on #15702
@motomura0770 thanks, I raised https://github.com/owncloud/documentation/issues/1314 to fix the doc.

Did you check the admin page and see in the "Server status" section that locking was enabled properly ?

[2015-07-14 09:07] chrisdew opened #17636 "Syncing less than 5KB/s on 100Mbit ethernet LAN - PHP using 100% CPU."
Are there any known speed issues around using the following configuration:

Ubuntu 14.04
nginx 1.4.6
php fpm via unix:/var/run/php5-fpm.sock
owncloud 8.1.0 2015-07-02T22:33:50+00:00 06ec916b1128b9a1ec79751bdd78cc4a8c64ace8
intel quad core CPU

The problem seems to be caused by PHP running slowly, or too much:
[code]

Is this a known problem?

Note the 0.6% wait time, the I/O rate to disk is tiny.

[2015-07-14 09:19] motomura0770 commented on #15702
Yes.
"Transactional File Locking is enabled. " is shown.

[2015-07-14 09:23] PVince81 commented on #15702
@motomura0770 can you post your environment info ? See https://raw.githubusercontent.com/owncloud/core/master/issue_template.md
I suspect this might not be related to locking or concurrency.

[2015-07-14 09:24] PVince81 commented on #15702
I just saw the "objectstore" label.
Are you guys ALL using the SWIFT home object store with the "objectstore" setting in config.php ?

[2015-07-14 09:27] htwsaaraub commented on #17480
I Also joined our live Server to our ads domain. The Users login to our owncloud instance, connecting with there OC-Login, can see the external shares without changeing domain or chanching code in a script. The Shares are mapped automatic after login.

The Point is: Since 8.10 the smbclient process eats about 70% CPU performance with only one user logged in. There is one process starting for each

[2015-07-14 09:46] pvancald commented on #15702
Yes...
my config is at the top of the post :
'objectstore' =>
  array (
    'class' => 'OC\\Files\\ObjectStore\\Swift',
    'arguments' =>
    array (
      'username' => 'XXX',
      'password' => 'XXX',
      'container' => 'XXX',
      'autocreate' => true,
      'region' => 'regionOne',
      'url' => 'http://s2.XXX.lan:5000/v2.0',
      'tenantName' => 'owncloud',
      'serviceName' => 'swif

[2015-07-14 09:48] PVince81 commented on #15702
Ah sorry, I thought you were one of the other reporters :smile:

This is likely to be a bug in the SWIFT backend implementation.

[2015-07-14 09:51] PVince81 commented on #17125
Same issue appears on IE9.

The console also says that `closest` is not supported for event.target, the line that https://github.com/owncloud/core/issues/17359 tries to fix.

[2015-07-14 09:59] pastynko opened #17637 "CENTOS 6 - Upgrade problem from OC 8.0.4 to 8.1.0"
I've got a problem upgrading OC from 8.0.4 to 8.1.0 on Centos6 with scl php54.
When I run yum update it will stop on dependency error for package owncloud-8.1.0 - requires owncloud-server = 8.1.0

However, I'm using owncloud-server-scl-php54

I upgraded from OC 7.x.x to 8 using SCL PHP54 and I was able to update up to 8.0.4 without any problems.

[2015-07-14 10:08] DeepDiver1975 commented on #17637
@jnweiger

[2015-07-14 10:13] DeepDiver1975 commented on #17636
no

[2015-07-14 10:17] DeepDiver1975 commented on #17619
There is nothing magic to this - the max key length with InnoDB is 767 bytes.
Having a 3-byte charset a column with varchar(512) simply exceeds this max length
512*3 =  1536

[2015-07-14 10:22] DeepDiver1975 commented on #15567
Because this is mainly affecting the business side of ownCloud: @MTRichards please consider this with respect to the product road map - THX

[2015-07-14 10:25] DeepDiver1975 commented on #17634
Please enable the encryption module. The app is called "Default encryption module"

[2015-07-14 10:27] DeepDiver1975 commented on #17583
In an ideal world: yes - there should be no difference where occ is executed - maybe even a simple http://php.net/manual/en/function.chdir.php is enough - PR welcome

[2015-07-14 10:31] DeepDiver1975 commented on #17463
go.php is in the documentation repos and is pushed to the doc servers as soon as any new docs are being built.

^ this is at least how we initially did build it.

[2015-07-14 10:32] wikon commented on #17634
@DeepDiver1975 but  I do not want to use encryption and it is currently disabled. That's why I do not understand the error message complaining about the encryption module which I do not use... :confused:

[2015-07-14 10:34] DeepDiver1975 commented on #17463
the version in this case is taken from the theme - which points to 8.0 and not to 8.1.

https://github.com/owncloud/enterprise/blob/master/theme/defaults.php#L92

@rperezb @jnfrmarks another task for the qa check list for major releases

[2015-07-14 10:40] PVince81 commented on #15567
If people want to use ownCloud as a secure solution, they should also make sure to use secure browsers, which IE8 is not. Just saying.

[2015-07-14 10:56] chrisdew commented on #17636
@DeepDiver1975 What info do you need from me?

[2015-07-14 11:05] PVince81 commented on #15702
@butonic any idea ?

[2015-07-14 11:14] oparoz commented on #17618
You mean creating a duplicated method, just for the stable8.1 branch?

[2015-07-14 11:25] MorrisJobke commented on #17619
I will remove the index in a PR

[2015-07-14 11:30] motomura0770 commented on #15702
My test environment is shown below.
I think that it is not a SWIFT's bug.
Because, when a file is deleted, ownCloud does not communicate with SWIFT (I check swift's logfiles).

### Server configuration
**Operating system**:
CentOS7.1.1503(Core)

**Web server:**
apache-2.4.6

**Database:**
sqlite-3.7.17
#For Test Environment

**PHP version:**
php-5.4.16

**ownCloud version:** (see ownCloud admin pa

[2015-07-14 11:30] MorrisJobke commented on #17619
17639

[2015-07-14 11:32] MorrisJobke commented on #17636
Filling out as many as possible in this template would help a lot. Thanks :)

https://github.com/owncloud/core/blob/master/issue_template.md

[2015-07-14 11:32] MorrisJobke commented on #17634
I think you turned it on and it needs the module to decrypt stuff. Or am I wrong @DeepDiver1975 ?

[2015-07-14 11:33] MorrisJobke commented on #17631
cc @blizzz

[2015-07-14 11:37] DeepDiver1975 commented on #17634
The encryption in 8.1 can only be enabled once - and not disabled anymore.
During upgrade we did detect that encryption has been enabled in the past and now you are stuck with a system where encryption is enabled.

@wikon please have a look at the admin screen - secion server-side encryption and please provide a screenshot - THX

[2015-07-14 11:42] DeepDiver1975 commented on #17631
@benwilliams can you try to reproduce this with mod_php please? THX

What version of php are you using?

[2015-07-14 11:48] wikon commented on #17634
@DeepDiver1975 currently disabled:
![bcknd](https://cloud.githubusercontent.com/assets/9608795/8672472/f063d956-2a2e-11e5-8e2e-5505a8b8027c.png)

[2015-07-14 11:49] gig13 opened #17640 "A Shared folder is not displaying all of the data to users - lots of errors in owncloud log"
### Steps to reproduce
WIP

### Expected behaviour
Sharing a folder with other users should allow all users to see the entire folder. The owner of the data should also be able to view all of the content in the folder via the desktop client, web interface or via mobile apps

### Actual behaviour
Most of the content from a shared folder appears to have disappeared when viewing from the web interface

[2015-07-14 11:51] DeepDiver1975 commented on #17634
@wikon this is actually good news (as far as I can think :wink: )

So basically @MorrisJobke 's comment is correct - we require the default encryption app to decrypt remaining encrypted files - please enable the app.

FIY: this will NOT encrypt your files

[2015-07-14 11:52] gig13 commented on #17640
@bboule @MorrisJobke

[2015-07-14 11:55] MarvinFS commented on #17499
i confirm - can't connect directly on server by name but when i use our dfs root it's working as expected! so it's a workaround at least where DFS is avail.

![2015-07-14 16-53-53 admin - owncloud - mozilla firefox](https://cloud.githubusercontent.com/assets/7998636/8672560/fe29e5fc-2a48-11e5-84fe-3748f62e3b87.png)

  "user": {
        "all": {
            "\/$user\/files\/SMB": {

[2015-07-14 11:58] directict commented on #17499
I am still not able to mount anything with SMB, just waiting for new patch to come out…

Met vriendelijke groet:
Gert-Jan Slot

[cid:CC33FB0A-C3E8-4664-B08B-5F3C283035A2]
AUTOMATISERING – INTERNETDIENSTEN – BUSINESS SOFTWARE

Kroezenhoek 5
7683 PP DEN HAM OV
Tel: +31 546 – 641144
Fax: +31 546 – 641133
Email: gertjan@directict.nl<mailto:gertjan@directict.nl>
Website: http://www.directict.nl<http://

[2015-07-14 12:17] PVince81 commented on #14396
Another problem that was discovered recently is that we store the full path to the target in "files_target" which can bump against max length limits, and also max index length limits (https://github.com/owncloud/core/issues/17639).

[2015-07-14 12:32] wikon commented on #17634
I'm a little afraid to enable this feature because the documentation says it is irreversible and required an additional encryption module to be activated and that all future uploads will get encrypted :worried:

[2015-07-14 12:35] oparoz commented on #17122
No problem about the form, just an idea. Maybe do an annual survey with some prices when there is not a release or a conference to organise? ;) In my experience, surveys have to be short or the incentive large (a copy of the $2000 report, etc.)

[2015-07-14 12:40] Xenopathic commented on #17583
@DeepDiver1975 Unfortunately a `chdir()` won't be much help - it'll solve the problem, sure, but it'll remove any benefit of running `occ` from outside the ownCloud server root, since every command will see the current dir as the server root instead of the place `occ` was called from, and relative paths won't work.

[2015-07-14 13:10] StAn187 commented on #17513
@binarykitchen Open the User list and take a look at the 2nd column :-)

[2015-07-14 13:19] karlitschek commented on #15567
Wow. This is cool. Would be great to drop 8. The question is of course of people stop using IE8 too. We have the problem with XP too. It is out of support but people still use it.

XP Marketshare: 12%
http://www.netmarketshare.com/operating-system-market-share.aspx?qprid=10&qpcustomd=0

IE8 Marketshare: 13.5%
https://www.netmarketshare.com/browser-market-share.aspx?qprid=2&qpcustomd=0

[2015-07-14 13:19] karlitschek commented on #15567
@MTRichards What do you think?

[2015-07-14 13:19] motomura0770 commented on #15702
I wrote wrong description.
Correctly it is as follows.

When a file is moved to trash, ownCloud does not communicate with SWIFT (I check swift's logfiles).

[2015-07-14 13:47] karlitschek commented on #14646
A cleanup background job could be triggered like that without a huge performance hit.
if (rand(0,10000)==0)  // add cleanup background job.

[2015-07-14 13:49] MorrisJobke commented on #15567
Weird:

http://gs.statcounter.com/#all-browser_version-ww-monthly-201506-201506-bar
IE8 Marketshare: <2%

http://gs.statcounter.com/#all-os-ww-monthly-201506-201506-bar
Windows XP: 6%

[2015-07-14 13:54] oparoz commented on #15567
That's because you've picked an analytics tool which heavily favours IE. ;)

At the end of the day, what counts is what your paying customers are telling you they're using, BUT, I still think it warrants having a special branch with all kind of workarounds for enterprise customers instead of polluting the main branch with shims, switches, etc.
Keeping that debt in core makes it harder for contribu

[2015-07-14 13:58] karlitschek commented on #15567
Well I just googled for it. :-) Do you have a better link?
Not sure it makes sense to maintain two different apps. Sounds like more work and a source for confusion. But something to discuss.

[2015-07-14 13:58] karlitschek commented on #15567
And now I saw the links from @MorrisJobke too :-)

[2015-07-14 13:58] MorrisJobke commented on #15567
;)

[2015-07-14 14:01] chrisdew commented on #17636
### Steps to reproduce
1. Install owncloud on server
2. Install owncloud client on desktop linux box (Ubuntu 14.04)
3. Sync 2GB of data from Desktop to Server

### Expected behaviour
Tell us what should happen

Sync should copy up to 12MB/s over 100Mbit ethernet.

### Actual behaviour
Tell us what happens instead

Sync works at <5KB/s, forecasting days before completion.
Three php5-fpm processes a

[2015-07-14 14:05] oparoz commented on #15567
@karlitschek - I like this page: https://en.wikipedia.org/wiki/Usage_share_of_web_browsers . It gives you a few sources and some insight on the methodologies used.

Regarding the separate branch, only a few experts should work on that. Special PHPDoc and JSDoc could be used in the main branch when compatibility is known to be broken and patches could be built at the same time on the IE8 branch.

A

[2015-07-14 14:15] carlaschroder commented on #17463
Setting the version number in the theme seems daft. I expect the settings in conf.py to be used.

[2015-07-14 14:18] DeepDiver1975 commented on #17463
Well - the links to the docs are generated with in the owncloud instance. The instance knows it's version. In case of theming we allow modifying the url so that different doc installations can be used.

[2015-07-14 14:22] agru commented on #17637
I have the same problem and should upgrade urgently because we have a presentation of ownCloud. I have to servers running on CentOS6. One did upgrade without this issue, the other one has the same issue.

The second server had originally PHP 5.4 installed, but is upgraded to PHP 5.5 since a longer time and this works without problems. I have no idea why ownCloud thinks it has to use owncloud-serve

[2015-07-14 14:25] jancborchardt commented on #17612
Yeah – currently this is a compromise. The search bar shows on desktop and hides on mobile, and is shown as long as possible because search is pretty important for users.

We need to properly fix this by using the top search box for users as well, see https://github.com/owncloud/core/issues/14973 – something for 8.2

[2015-07-14 14:55] carlaschroder commented on #17463
Is it really necessary to configure the version number in the theme? This seems like asking for trouble. The doc branches are the same as the core branches, so just pull from the same branch.

[2015-07-14 15:35] specialist383 commented on #17621
Following the suggestions of schiesbn to recover from a broken migration 8.0.4->8.1 I reset the backup keys and started ...occ encryption:migrate. After a moment it showed an error: "PHP fatal error: Call to a member function getRelativePath() on a non-object in /var/www/owncloud/apps/files_trash_bin/lib/storage.php on line 123". That file had been replaced before according to schiesbn's list of p

[2015-07-14 15:35] #17621 closed

[2015-07-14 15:40] jmeile commented on #17456
I have the same problem; I tried to install "Delete Confirmation" and "Storage Charts 2", but I got a similar error as the original poster. Only the link was different. The only solution was to take those links and download and install them manually.

The strange thing is that with the "Antivirus App for files" and "Search Lucene" it worked. So, it seems to be a but in ownCloud 8.1.0

[2015-07-14 15:44] koehn commented on #16255
I'm sorry, but how does solving this for CentOS fix the OP problem (and mine) on Ubuntu 14.04? I still get the following (see above for `test.php` output):

<img width="1148" alt="screen shot 2015-07-14 at 10 44 25 am" src="https://cloud.githubusercontent.com/assets/583888/8677542/4e16b01a-2a15-11e5-82cb-031199b0323b.png">

Did I miss something?

[2015-07-14 16:29] muonIT opened #17644 "8.1.0: "Shared with..." button not working when clicking between "shared with/by you""
Hi,
this bug is in 8.1.0. Tested browsers are Firefox 38.0.5 and IE11.

Reproduce:
Share a folder with someone and/or get a shared folder.
Click "Shared with you/Mit dir geteilt" at the lefthand side, then on the "Shared with/Geteilt mit ..." button next to a shared item.
This is important: While the textbox with infos regarding the who-shared-what-with is open, click on the lefthand  side on "Sha

[2015-07-14 16:31] rasusmilch opened #17645 "Yum update requires php54"
Running a CentOS 7 server. Have installed OwnCloud and am running ownCloud 8.0.4 (stable). Attempting to upgrade via yum complains. I have read about using IUS yum replace, and they have php56u. However this is a production server and I'm wary of replacing packages.

yum update
Loaded plugins: priorities
100 packages excluded due to repository priority protections
Resolving Dependencies
--> Runnin

[2015-07-14 17:33] carlaschroder commented on #15702
Will someone confirm that 'memcache.locking' is the correct parameter? Because the core config.sample.php file also uses 'memcache.local''

[2015-07-14 17:40] oparoz commented on #17625
Indeed... There are plenty of examples in the repair classes.

[2015-07-14 18:07] Neraste commented on #17581
@karlitschek I've installed a pure fresh version to check, I encounter the very same problem.

[2015-07-14 18:22] carlaschroder commented on #17583
docs updated
https://github.com/owncloud/documentation/issues/1311

[2015-07-14 18:23] Neraste opened #17646 "Database password in plain text in config.php when installed from command line"
Hi people

I've tried to install Owncloud 8.1.0 with command line (it works great), but the database password is stored in plain text in config.php file. On my previous OC setup (7.0.4,, installed with installation wizard), the password was stored salted.

### Steps to reproduce
Install Owncloud using command line.

### Expected behavior
Database password appears in config.php, but is salted and u

[2015-07-14 18:26] enoch85 commented on #12645
@LukasReschke

Still happens in 8.1. Setting 8.2 on this.

[2015-07-14 18:29] RealRancor commented on #17646
Hi,

database passwords where never hashed/salted in the config.php. This was just a strong generated password which looked like a hash.

[2015-07-14 18:33] tx7 opened #17647 "OwnCloud v8 general errors"
Hi guys,

I'm new to OwnCloud, and I just installed it on OpenMediaVault.
I being testing the OC, and it's working fine, but I got some errors in the OC web portal.
I been spent a few days search for solutions, but it didn't work out.
Hope someone can help me:

1. Error  PHP	Array to string conversion at /media/82468379-6874-47f3-9a21-615766f2ccab/www/owncloud/lib/private/template/functions.php#36

[2015-07-14 18:37] LukasReschke commented on #17646
Exact. Closing as non-issue.

[2015-07-14 18:37] #17646 closed

[2015-07-14 19:29] edd-- commented on #16928
NE1 seen this error while trying to run occ encryption:migrate ?
Any idea how to solve this ?

sudo -u www-data php occ encryption:migrate
Reorganize system folder structure
Migrating keys for users on backend Database
   admin

  [OCP\Files\InvalidPathException]
  Path length(4001) exceeds max path length(4000): /admin/files_encryption/keys/files/files/files/files/files/files/files/files/files/fi

[2015-07-14 19:32] jknockaert commented on #16928
@edd-- Looks like this is an extreme case of #17545 or #17564.

[2015-07-14 19:41] RealRancor commented on #17647
1. Please create a separate issue using the issue template provided here: https://github.com/owncloud/core/blob/master/CONTRIBUTING.md#short-version

2. See https://doc.owncloud.org/server/8.1/admin_manual/installation/source_installation.html?highlight=env#configuration-notes-to-php-fpm

3. See https://github.com/owncloud/core/blob/v8.1.0/config/config.sample.php#L834-L878 and https://doc.ownclou

[2015-07-14 19:51] bboule commented on #17627
@MorrisJobke @blizzz @cmonteroluque  Hey Guys could we get someone to take a closer look at this?  We have a deployment that is dead in the water just trying to sort out what might be happening.  It looks like sporadic failures and the above log message repeating over and over!!

[2015-07-14 20:12] oparoz opened #17649 "Let admins vote for apps from settings/apps"
Now that admins can download apps from ownCloud again, there is very little chance that they will visit the app store again, unless something goes wrong.

Which means that apps will get downloaded, but won't get any votes, apart from their respective fan clubs or from fellow developers posting their own apps.

The problems
- admins are missing a quick way to assess the quality of an app
- devs nee

[2015-07-14 20:19] carlaschroder commented on #15702
Tested and fixed in docs. https://github.com/owncloud/documentation/pull/1321

[2015-07-14 21:27] weipah commented on #16928
I tried #17574 on my installation and I'm still not able to decrypt my files :(

There are some oddities I ran into which I would like to share.

* files_encryption folder in the data folder have been backed up during the first migration try correctly
* however the encryption_migration_backup_* folders in /data/user/ are all empty, even the first one

I still have my user.privateKey file and tried

[2015-07-14 22:22] DeepDiver1975 commented on #17463
Well simply because of the fact that we once had 8.0 vs 8.0EE we made the decision back then.
Thinking about actually somebody rebranding ownCloud - changing the version to some extend might be kind of reasonable.

[2015-07-14 22:36] arjan-s commented on #14209
Has anyone tested this on ownCloud 8.1 yet? I'm still waiting with the upgrade until I have enough time to do a rollback if necessary.

[2015-07-14 22:37] #17647 closed

[2015-07-14 22:37] DeepDiver1975 commented on #17645
@jnweiger @carlaschroder is the proper installation of php54 on Centos documented somewhere? Please link - THX

[2015-07-14 22:38] motomura0770 commented on #15702
I can confirm the bug fix with ##17641.

[2015-07-14 23:49] binarykitchen commented on #17513
@StAn187 Nope. In the second column I see the "Full Name" ... no ID is there.

[2015-07-14 23:53] benwilliams commented on #17631
All packages are up to date so php is 5.5.9+dfsg-1ubuntu4.11

Installed mod_php instead but the effected users still cannot login. Apache uses 100% for about 20s then returns HTTP 200 with login screen. If php memory_limit is not sufficient it exhausts the limit. No segfault is logged when using mod_php.

The ldap server is logging the queries generated by owncloud. When the effected user attempts

[2015-07-15 00:06] benwilliams commented on #17631
This seems to be a workaround that has allowed them to login now.
[code]

[2015-07-15 03:23] carlaschroder commented on #17463
OK that makes sense. Thanks for clarifying @DeepDiver1975

[2015-07-15 03:40] carlaschroder commented on #17645
I thought CentOS 4 shipped with PHP 5.4? At any rate CentOS has multiple third-party repos to get PHP 5.4. The official Red Hat repo is SCL. These are the instructions for oC enterprise customers running  CentOS 6. I haven't tested them on CentOS 7. I'll test &  add them to the community documentation tomorrow.

CentOS 6, PHP 5.3 and PHP 5.4
-----------------------------

Note that CentOS 6 ships

[2015-07-15 03:42] carlaschroder commented on #17645
Sorry, I see you do have PHP 5.4 and SCL already. I'll look at this again in the morning.

[2015-07-15 05:43] pulp26 opened #17650 "owncloud 8.0.4 on QNAP TS-220 (PHP issue)"
Have NAS QNAP TS 220. Upgraded Qnap OS to 4.1.4 (2015/05/22). Upgraded ownCloud from 6.xx to 8.0.4 using current Qnap app center repository. Now OwnCloud refuse to launch due to PHP. Here is the error message:
"This version of ownCloud requires at least PHP 5.4.0
You are currently running 5.3.29. Please update your PHP version."

Qnap support didn't provide any solution. Advised to ask here ))
Did

[2015-07-15 05:58] RealRancor commented on #17650
Hi,

funny that Qnap is providing the upgrade packages from 6.x to 8.x (without oC 7 in between) which is not supported by oC and know redirects users here.

[2015-07-15 06:56] rullzer commented on #17644
Mmmm seems like an issue with the window not being properly closed. Thus the UI still thinks there is already a share window open.

@PVince81 If I remember correctly we had (/have) this somewhere else as well.. Do you remember if (and how) we fixed that?

[2015-07-15 07:14] pulp26 commented on #17650
There is a solution actually. I have found PHP 5.5.25 in Qnap app center repository (Developer Tools section).
Now it is starting. Will check for possible bugs ))
I have translated your comments to QNAP support. Hope they will take appropriate actions.
Thank you!

[2015-07-15 07:29] ghost opened #17651 "TBD: Legacy / not used rewrites in .htaccess? removal of them?"
Hi,

we're currently struggling in updating the nginx config https://github.com/owncloud/documentation/issues/1297

At the moment three rewrites are provided within the .htaccess:

https://github.com/owncloud/core/blob/v8.1.3/.htaccess#L43-L45

where a clear statement is missing if those are still needed or what their purpose is.

It seems they are even not needed any more as the nginx config is n

[2015-07-15 07:35] nickvergessen commented on #17204
Well when we have the tool tipp they of course will not overlap anymore...

[2015-07-15 07:36] KKyang opened #17652 ".htaccess is working but Owncloud keeps giving security warnings"
OS: Ubuntu 14.04
Owncloud version: 8.1
Updated from Owncloud 8.0.5
Using MySQL

I think my .htaccess is working because if I changed the upload limit size of .htaccess, it actually effects the upload size of a file.
Server also gives me permission denied if I try to access the folder **apps** by browser.

## Expected Result
No error message.
## Actual Result
Error message:
Your data directory and

[2015-07-15 07:40] nickvergessen commented on #17512
You can change the 15mins here:
https://github.com/owncloud/activity/blob/master/lib/backgroundjob/emailnotification.php#L63-L64

However if the activity app is not selected as a job, it doesn't matter whether it should be ran or not.
So calling the cron more often might help better, also having system cron (cli) is important, if you have more than a handful of users.

[2015-07-15 07:45] RealRancor commented on #17652
Hi,

you can test that by accessing a known file like:

https://example.com/data/$username/files/yourfile

If you're getting an access denied there your .htaccess protection should work. Then there is a similar issue reported here: https://github.com/owncloud/core/issues/17604

[2015-07-15 07:49] KKyang commented on #17652
@RealRancor
Because I store the **data** folder in another drive, I'm not able to test whether I can access or not.
I update the post. I tried by entering the Url **https://..../apps**

The browser gives me Forbidden
[code]

[2015-07-15 07:50] #17650 closed

[2015-07-15 07:52] remixtj commented on #11601
I can confirm also upgrading from 7.03 to 7.0.7. Now i'll debug a bit

[2015-07-15 07:52] chrisdew commented on #17636
@DeepDiver1975 Could you remove the "needs info" flag, as I have provided it?

[2015-07-15 07:56] ishumilov commented on #17499
We are have same problem, don't work a samba after update for OC 8.1. If I'm try smbclient -U polter%password \\\\myWin2012\\ it's work. From OC on tcpdump "Error: STATUS_OBJECT_NAME_NOT_FOUND" . We try rebuild ldap configs, change servers and from Windows 2003 it can connect.

[2015-07-15 07:58] nickvergessen commented on #17569
Well this is just the same behaviour like when a logged in user edits files.

We group by user name normally, so that helps there, but remote user's might be different one, but all get the name `''` so I see the problem. Will have a look and try to find a way to make it better, if possible.

[2015-07-15 07:59] RealRancor commented on #17652
Mhhh, maybe this is what you have in common with the user in the other report?

[2015-07-15 08:03] rullzer commented on #17636
@chrisdew how many files are you trying to sync?

[2015-07-15 08:09] rullzer commented on #14396
Yep I agree that the current setup of the oc_share table is far from optimal. Changes like this should really go into sharing 2.0

[2015-07-15 08:14] PVince81 commented on #17652
Hmm, works for me.

I tried setting "datadirectory" to another path, but the admin page doesn't show the warning.
Also I tried removing the local empty "data" folder, but I still don't see the warning.

[2015-07-15 08:16] PVince81 commented on #17604
@BenS89 are you using the default "data" directory or did you configure "datadirectory" to point somewhere outside the owncloud directory ? In which case it could be similar to https://github.com/owncloud/core/issues/17652#issuecomment-121520483

[2015-07-15 08:18] agru opened #17654 "ownCloud 8.1, PHP 5.5 - Installation of owncloud-server-scl-php54"
While trying to upgrade to ownCloud 8.1 via OBS-repo the installation on my CentOS 6 machine wants to install `owncloud-server-scl-php54` and serveral packages with `php54`. But on this server PHP 5.5 is installed and I do not want to have packages from PHP 5.4 on the system. According to the release notes ownCloud 8.1 is working with PHP5.4+, and this includes PHP 5.5 - or do I missunderstand thi

[2015-07-15 08:18] PVince81 commented on #17649
So this means that first the admin needs to be able to provide app store credentials. Ideally this should be oauth, not basic auth.
And then need to find out whether the app store has an API to rate apps. I guess it might have one because it's the same software as kde-look.org, and if I remember well you can rate wallpapers and other content directly from the desktop. Isn't it @karlitschek ?

[2015-07-15 08:20] BenS89 commented on #17604
@PVince81 I use the default "data" directory. I also tested the apache-vhost config in terms of AllowOverride All. Is is all correct. Nevertheless, ownCloud still tells me that my .htaccess is broken.

[2015-07-15 08:22] PVince81 commented on #17644
If I remember well @dttpy observed this before, but can't find a matching ticket.

@rullzer in general closing dropdowns when clicking anywhere is often troublesome because some event handlers might stop propagation of the event.

[2015-07-15 08:44] oparoz commented on #17649
The API is described here:
http://freedesktop.org/wiki/Specifications/open-collaboration-services/

[code]

[2015-07-15 08:46] PVince81 commented on #17640
Do you mean that neither the owner nor the recipients can see the missing files ?

Do the missing files have anything in particular ? Were they more recent ? Or alphabetically at the end of the list while the visible files were at the beginning ?

[2015-07-15 08:47] PVince81 commented on #17622
Fixed by https://github.com/owncloud/core/pull/17623

[2015-07-15 08:47] #17622 closed

[2015-07-15 08:58] PVince81 commented on #16308
Let's use this as the main ticket for the right sidebar work.

And raise separate tickets for the different sub-tasks:
- [ ] Ground work for right sidebar:
- [ ] Convert FileActions to be a dropdown (@jancborchardt wasn't there already a specific ticket for this?)
- [ ] Move share dialog into a tab in the sidebar
- [ ] Tagging: https://github.com/owncloud/core/issues/16325
- [ ] Comments
- [ ] Act

[2015-07-15 08:58] PVince81 opened #17655 "Implement right sidebar in files app"
See https://github.com/owncloud/core/issues/16325 and https://github.com/owncloud/core/issues/16308#issuecomment-113521360 for mock ups.

This ticket is to track and discuss the ground work of the implementation of the right sidebar.
This is mostly about implementing the namespaces and classes, and the ability to register panels.

So far, it would look like this:
- [x] files app implements the rig

[2015-07-15 08:58] RealRancor commented on #17654
@agru
Why create another issue if you have already found the existing duplicate and also posted there? https://github.com/owncloud/core/issues/17654

[2015-07-15 08:59] PVince81 commented on #16308
@DeepDiver1975 @blizzz FYI

[2015-07-15 09:03] RealRancor commented on #17651
Seems at least:

[code]

are from pre-4.0.x as even 4.0.15 just redirects to /remote.php/caldav or /remote.php/carddav

https://github.com/owncloud/core/blob/v4.0.15/apps/calendar/caldav.php
https://github.com/owncloud/core/blob/v4.0.15/apps/contacts/carddav.php

[2015-07-15 09:03] PVince81 commented on #17655
Since this is the files app, everything would be under the `OCA.Files` namespace.
Unless we want the sidebar to be reusable by other apps, in which case we need to have the code in core. I remember that @oparoz mentioned being interested in using the panel in the gallery app ?

@DeepDiver1975 @blizzz @jancborchardt

[2015-07-15 09:05] KKyang commented on #9916
Sorry for replying this thread so late.

Recently I upgrade OwnCloud to 8.1 (from 8.0.5)

But there's still a problem, if I search 助教資料
![277](https://cloud.githubusercontent.com/assets/2676255/8694714/611a47e0-2b13-11e5-963b-5305244c19b5.png)

I get one searching result. Then  I search 助教資 (first three words instead of four)
![278](https://cloud.githubusercontent.com/assets/2676255/8694723/6e7170

[2015-07-15 09:10] oparoz commented on #17655
Imho, as far as the design is concerned, Files is considered a reference implementation, so if you want apps to look integrated, then the GUI toolkit should be made available in a public API.

[2015-07-15 09:18] agru commented on #17654
@RealRancor
Because I recognized later that our issues are different. User "pastinko" has the problem that although PHP 5.4 is installed via SCL and `owncloud-server-scl-php54` is used there is still a dependency error.

In my case I have installed PHP 5.5 and to solve dependencies the upgrade process wants to install `owncloud-server-scl-php54` and as further dependencies several php54-packages.

[2015-07-15 09:30] RealRancor commented on #17654
Ah, then it might be even related to https://github.com/owncloud/core/issues/17645 ?

[2015-07-15 09:34] BenS89 commented on #17604
My .htaccess-file in the owncloud root looks like this:

[code]

.htaccess within the data folder:

[code]

And my apache-config for /share/Web/owncloud:

[code]

And since I use ssl, here my apache-ssl.conf

[code]

[2015-07-15 09:54] agru commented on #17654
Not really. This user, rasusmilch, has PHP 5.4 and also the package `owncloud-server-scl-php54` installed. The PHP packages that are installed in his case start with `php-*`. With his `yum info ...` command he shoes for example that the package `php` is in fact PHP in version 5.4. But during the upgrade process it is tried to install several packages that start with `php54-*`.

My case is still di

[2015-07-15 09:57] RealRancor commented on #17654
Arghss, sorry. Sometimes i should read the issue completely.

[2015-07-15 10:00] directict commented on #17499
oc 8.1 tot SMB 2012  = not working, oc 8.1 tot SMB 2008 = working..

any clue?

![oc81smb20082012](https://cloud.githubusercontent.com/assets/12065695/8695982/0608e0fc-2ae9-11e5-81dd-e25765485f18.png)

[2015-07-15 10:04] agru commented on #17654
I am not sure whether the following is correct ... but it is a try :-)
It looks for me as if the package 'owncloud-app-encryption` pulls in `owncloud-server-scl-php54`. When I use the command `yum deplist owncloud-app-encryption` the following is shown:
`Paket: owncloud-app-encryption.noarch 8.1.0-13.1
  Abhängigkeit: owncloud-server-core = 8.1.0
   provider: owncloud-server.noarch 8.1.0-13.1
   p

[2015-07-15 10:04] wvandelli commented on #17586
I think I have the same problem here. My configuration includes:

* Owncloud server 1.8.1, Android client 1.7.1
* nginx+uwsgi behind a nginx proxy

nginx access.log:
127.0.0.1 - username [15/Jul/2015:11:57:43 +0200] "HEAD /owncloud/remote.php/webdav/archive/saleve/ HTTP/1.1" 502 0 "-" "Mozilla/5.0 (Android) ownCloud-android/1.7.1"

nginx error.log:
2015/07/15 11:57:43 [error] 18067#0: *54811 upstr

[2015-07-15 10:09] PVince81 commented on #17655
I started here: https://github.com/owncloud/core/pull/17656

We'll need to find a way to make this API public.
I don't like it that apps would first need to do "OCA.Files.FileList.getDetailView().addTabView(...)", that's too cumbersome.

[2015-07-15 10:13] jancborchardt commented on #16308
@PVince81 updated the list in https://github.com/owncloud/core/pull/16414#issue-77652540 and linked the file actions dropdown issue: https://github.com/owncloud/core/issues/12081

[2015-07-15 10:15] tohojo commented on #17586
Maybe the reason it only breaks on nginx is that it turns the 500 into a 502 that the client doesn't recognise?

[2015-07-15 10:23] blizzz commented on #17631
Is that all the log you have? Can you  check the owncloud.log in your data folder, please?

Currently it does not seem that there were significant changes or new calls to getAvatarImage() respectively canChangeAvatar() of user_ldap and update(), which triggers that one.

[2015-07-15 10:27] directict opened #17657 "ownCloud 8.1 External Storage SMB to server 2008 working, server 2012 not working"
### Steps to reproduce
1. enable external storage app
2. mount SMB share on 2012 server = not working
3. mount SMB share on 2008 server = working

### Expected behaviour
After updating from 8.04 to 8.1 i would expect that the mounted SMB shares would still be 'green/mounted'

### Actual behaviour
all our SMB shares are on 2012, so all shares became inaccessible.

### Server configuration
**Operati

[2015-07-15 10:30] directict commented on #17657
![oc81smb20082012](https://cloud.githubusercontent.com/assets/12065695/8696530/49e7692a-2aed-11e5-8132-7b8e8fc88a8e.png)

[2015-07-15 10:37] DemoFreak commented on #17586
@tohojo
It don't only break on Nginx. In my setup it breaks with Apache too.

[2015-07-15 10:37] blizzz commented on #17627
Incompatibilities in user_ldap_home, needs https://github.com/owncloud/enterprise/pull/484

[2015-07-15 11:05] tohojo commented on #17586
Ah, my bad, missed that.

[2015-07-15 12:08] gig13 commented on #17627
@blizzz
This is not the LDAP Home Connector, this is the User and Group Backend

[2015-07-15 12:22] MorrisJobke commented on #17329
@carlaschroder Can you add this to de documentation? Would be really nice :)

[2015-07-15 12:24] #17619 closed

[2015-07-15 12:29] cleocir commented on #17497
Hello.

I found the problem.

This problem was wrong permissions of data/<user>/cache files on OC server.

I owned all data/<user>/cache files to http running user and it back ok!

Thanks.

[2015-07-15 12:30] gig13 commented on #17573
@MorrisJobke @bboule
This is not an activity issue, this is related to a user not receiving an email notification when a file is added to a share that they have made available via a share link. The activity is a separate issue.

[2015-07-15 12:33] MorrisJobke commented on #17573
The activity provides the options for a user to allow ownCloud to send him notifications for such events.

[2015-07-15 12:33] MorrisJobke commented on #17573
cc @nickvergessen

[2015-07-15 12:35] kaeser-sosae commented on #17499
Anyone tried different SMB version on Server 2012?

[2015-07-15 12:36] blizzz commented on #17627
are about files_ldap_home.

@gig13 Or was files_ldap_home disabled and you still reproduce  it?

[2015-07-15 12:39] blizzz commented on #17627
P.S.: and the others are too although it is not mentioned, but because files_ldap_home classes are based on those.

[2015-07-15 12:45] ishumilov commented on #17499
How You can cange SMB verson on Windows 2012?!

[2015-07-15 12:46] kaeser-sosae commented on #17499
https://support.microsoft.com/en-us/kb/2696547

[2015-07-15 12:50] kaeser-sosae commented on #17499
Disabling SMB3 on Server 2012 would be an interesting test - I am unable to do this in the current environment. Is anyone able to test using the above link?

[2015-07-15 12:53] MightyCreak commented on #17329
@MorrisJobke Don't we need both? I had apcu.so enabled for php-fpm and php-cli but I still needed to add `apc.enable_cli = 1` in the php.ini of CLI.

[2015-07-15 12:55] MorrisJobke commented on #17329
I wanted to say, that adding the `apc.enable_cli=1` needs to be added to the ini and that should be documented. (the module needs to be loaded in any use case)

[2015-07-15 12:57] gig13 commented on #17640
@PVince81
Yes it is not shown for the share user and recipients.

Bad directories:
[code]

Good Directories:
[code]

[2015-07-15 12:57] jospoortvliet commented on #17329
@MorrisJobke but how about the issue with APCu not syncing the cache between CLI and www? See https://github.com/owncloud/core/issues/17329#issuecomment-120884971 (and I recall another issue with more details on this)

[2015-07-15 13:15] remixtj commented on #11601
The bug is in DBAL Library. The function listSequences called by createSchema in AbstractSchemaManager wants to read all sequences of the db due to a query that doesn't check if the currently connected user has access to that schema.

[code]

This is the patch i wrote.

[2015-07-15 13:16] RealRancor commented on #17329
Enabling APC/APCu for CLI seems to be also against the recommendation of upstream as already stated here: https://github.com/owncloud/core/issues/17329#issuecomment-119251837

[2015-07-15 13:23] directict commented on #17657
On another server2012 server it is working.. so it should be something inside my SERVER2012?

[2015-07-15 13:31] Gomez commented on #14281
I can confirm that
[code]
fixes the problem on my nginx reverse proxy. But as suggest this should be fixed in oC Code.

[2015-07-15 13:38] nickvergessen commented on #14336
Closing this, if it happens again with 8.0.4+ or 8.1.0+ please create a new issue.

[2015-07-15 13:38] #14336 closed

[2015-07-15 13:42] tYYGH opened #17661 "Directories with name "*.part" do not get copied over DavFS."
I have this old PHP program that I wrote years ago, where parts of the final HTML output are kept as "modules" in directories named "xxxx**.part**". I wanted to store all my dev projects, including this program's source files, in my local Owncloud. The directories named "xxxx.part" were not copied over.

Steps to reproduce
1. Mount (mount.davfs) Owncloud (https://my_server.org/OC/remote.php/webdav

[2015-07-15 13:43] nickvergessen commented on #17573
The "duplicate" issue says:

So still duplicate, closing again.

[2015-07-15 13:43] #17573 closed

[2015-07-15 13:52] ishumilov commented on #17499
No, You set off SMB2 and 3 together (To disable SMBv2 and SMBv3 on the SMB server, run the following cmdlet: Set-SmbServerConfiguration -EnableSMB2Protocol $false) and thet have no effect, i was try it.

[2015-07-15 13:54] BenS89 commented on #17468
So it seems like this error is produced by the security & setup warning component. Is it planned to fix this error message?

[2015-07-15 13:58] MorrisJobke commented on #17329
Okay...but my comment was about the fix for a broken setup. We need to properly disable APCu within the CLI, but for now we need to provide a way to give the users a working occ tool.

[2015-07-15 13:59] remixtj commented on #11601
Seems that from dbal 2.5 the query has changed, and now returns correct data. The issue is so limited to owncloud prior to 8, because is using an older version.

[2015-07-15 14:02] johanehnberg commented on #17602
Same issue here, hopefully there will be a fix through the packages.

[2015-07-15 14:08] jospoortvliet commented on #17329
@MorrisJobke ok, if it won't break anything, that's fine... Until a proper fix is in 8.1.1...

[2015-07-15 14:16] MorrisJobke commented on #17329
@cmonteroluque I added this to the 8.1.1 because it can break the occ tool if APCu is used.

[2015-07-15 14:21] MorrisJobke commented on #17414
Was fixed for master. I will move this to 8.2 and add the 8.1.1 brown label once this is also fixed in 8.1.1

[2015-07-15 14:22] cburnard commented on #17627
@blizzz
    Disabling LDAP Home suppressed that error.  AD users unable to login.  New error popping up (was not there before and most likely unrelated ) is :

 ...{"reqId":"0106e17d67d23282c9b587895f2671dc","remoteAddr":"50.241.102.21","app":"PHP","message":"ldap_search(): Partial search results returned: Sizelimit exceeded at \/var\/www\/html\/owncloud\/apps\/user_ldap\/lib\/ldap.php#254","level

[2015-07-15 14:35] blizzz commented on #17627
Do the users have the displayname attribute set in AD? If not switch user display name attribute to cn. Or can the users be seen on the Users page?

[2015-07-15 14:42] cburnard commented on #17627
displayname is set in AD.  Tried switching to cn, same results.  Users are populated in the Users page.

[2015-07-15 15:06] blizzz commented on #17627
And they are trying to log in using either their email or Windows/AD-Username?

Can they set the loglevel to everything, attempt one login  and send the resulting log, please?

[2015-07-15 15:34] Nick-Lock commented on #17631
This has affected our installation as well, and the above patch corrects the problem.

Ubuntu 14.04.2 LTS
php5 5.5.9+dfsg-1ubuntu4.11
php5-ldap 5.5.9+dfsg-1ubuntu4.11
libldap-2.4-2 2.4.31-1+nmu2ubuntu8.1
apache2 2.4.7-1ubuntu4.4
(and apache2-mpm-prefork 2.4.7-1ubuntu4.4)

Owncloud 8.1.0-2 from the OpenSuse repository:
root@owncloud:/etc/apt# cat ./sources.list.d/owncloud.list
deb http://download.o

[2015-07-15 15:43] johanehnberg commented on #17580
I confirm this error. Similar environment (deb packages). I actually installed the usage charts after upgrading to 8.1. Everything still worked until I rebooted the server with a new kernel. sudo rm -rf /var/www/owncloud/apps/storagecharts2 did the trick.

[2015-07-15 15:49] blizzz commented on #17631
@Nick-Lock anything else in the log?

[2015-07-15 15:50] PVince81 commented on #12081
@jancborchardt is the mock up still up to date ? Just to confirm.

So three dots for the dropdown menu with all file actions except sharing.
Sharing will later trigger the right sidebar and auto-select the sharing tab.

[2015-07-15 15:51] RealRancor commented on #17580
@johanehnberg As storagecharts2 is a different app please report this issue to: https://github.com/hypery2k/owncloud/issues

[2015-07-15 15:52] capnjb commented on #17499
IMHO this is an ownCloud issue... if you notice the issue or similar issue(s) seem to occur across several different OS's: a few flavors of Linux and Windows Sever... The original poster is using Ubuntu and I am using CentOS... now the latest posters are running Windows Servers.

[2015-07-15 15:58] Nick-Lock commented on #17631
Actually, there is (now I look a little further back)!

Interspersed in the blocks of the above lines are entries like these:

{"reqId":"B2kQcns92zp15vX9AsrM","remoteAddr":"82.xxx.13.81","app":"webdav","message":"Exception: {\"Message\":\"HTTP\\\/1.1 503 Doctrine\\\\DBAL\\\\Exception\\\\DriverException: An exception occurred while executing 'SELECT `uid`, `displayname` FROM `oc_users` WHERE LOWER(

[2015-07-15 16:09] gioman commented on #16778
Hi, I'm running ownCloud 8.1.0 (stable), https is already configured on the web server, but the "enforce https" option is not available... while I can see it on a 7.* instance installed recently. Was this option removed? Thanks.

[2015-07-15 16:13] enoch85 commented on #17657
@directict

If another instance is working, it's probably a configuration issue and nothing wrong with ownCloud. Feel free to reopen if there is something wrong with ownCloud.

[2015-07-15 16:13] #17657 closed

[2015-07-15 16:16] neopaws commented on #17499
I have the same problem after upgrading to oC8.1 from 8.0.4 on Ubuntu 15.04.  smbclient connects fine to the Win2012 R2 shared folders but oC gives out errors no matter what settings i change.

[2015-07-15 16:21] cburnard commented on #17627
Both email and ADusername fail.

Updated log file -vv on S3
https://s3.owncloud.com/owncloud/index.php/apps/files/?dir=%2Fowncloud%2Fsupport%2Fgithub-issues%2Fcore%2F17627

[2015-07-15 16:22] RealRancor commented on #16778
@gioman

Yes, this was removed as written in the initial issue:

[2015-07-15 16:24] deMattin commented on #16189
I can confirm, that it works now the right way with the suse repository upgrade to 8.1 (Debian7, Apache 2.2):

1. in `/conf-available` the backup is done: `owncloud.conf.old`
2. in `/conf-available` a new conf is created: `owncloud.conf`
4. symlink `owncloud.conf` in `/conf.d` remains active
3. no wrong symlink `owncloud.conf.old` in `/conf.d` any more

( I upgraded from 8.0.4 to 8.1 via `apt-get`

[2015-07-15 16:28] directict commented on #17657
yes.. well it was working before so i am confused :(

[2015-07-15 16:38] gioman commented on #16778
sorry I overlooked that. Cheers.

[2015-07-15 16:40] blizzz commented on #17627
@cburnard  Looks like the old stuff still, last updated 2 days ago, could you recheck?

[2015-07-15 16:49] blizzz commented on #17631
o.O That's also somewhat strange. @benwilliams do you see the same?

@benwilliams @Nick-Lock how did you do your upgrade?

[2015-07-15 16:52] anonimal commented on #17465
Update: a package uninstall, dropping of all database entries, and subsequent fresh install of ownCloud produces the same results. Seeing as this issue may not be widespread, perhaps this is an Arch Linux specific issue? I don't see how packaging would be a factor but food-for-thought none-the-less.

Attaching screenshot for posterity.

![owncloud_dev-urandom_error](https://cloud.githubusercontent

[2015-07-15 17:01] Nick-Lock commented on #17631
apt-get dist-upgrade (!)

Here's the list of packages that were updated:

Start-Date: 2015-07-14  09:46:56
Commandline: apt-get dist-upgrade
Install: owncloud-app-encryption:amd64 (8.1.0-2, automatic)
Upgrade: bind9-host:amd64 (9.9.5.dfsg-3ubuntu0.2, 9.9.5.dfsg-3ubuntu0.3), liblwres90:amd64 (9.9.5.dfsg-3ubuntu0.2, 9.9.5.dfsg-3ubuntu0.3), owncloud-app-files-external:amd64 (8.0.4-1, 8.1.0-2), ownclo

[2015-07-15 17:02] cburnard commented on #17627
@blizzz Sorry  sync client was point at another server.  Check now.

[2015-07-15 17:07] PVince81 commented on #16325
Please note that there are already APIs to read and write tags.
Tags are available on the FileInfo object (it's a simple array at the moment) under "data.tags".

A `TagsFileInfoView` class must be implemented that extends `DetailsFileInfoView` (which will be introduced by https://github.com/owncloud/core/pull/17656).
That class will provide the select2 control to display and apply tags.

To apply

[2015-07-15 17:12] PVince81 commented on #3224
The first mock up looks strangely very close to what we already have.
Also many of the defaults that have been discussed have been implemented already, and also the expiration date selection limits.

This ticket should probably be reformulated to only include what is left to implement.
- permissions dropdown
- set expiration time ?
- countdown
- default sharing permissions
- dropdown for suggestio

[2015-07-15 17:13] Nichtraucher opened #17664 ""Feature" request: Owncloud-Server for Android"
Hi (I hope this fits in here?),

essentially, what I'd like to do is something like this: http://klonom.com/turn-your-old-android-device-into-a-cloudserver/

For linux-challenged users like myself, this learning-curve is a little steep. As such, an Android-app that does the job would be wonderful. Is there a chance, that this may happen -  at any time in the future?

cheers,

Robert

[2015-07-15 17:14] PVince81 commented on #16325
- [ ] ability to manage tags in a global manner (delete tags, not only unset from file; rename, etc)

[2015-07-15 17:16] directict commented on #17499
@neopaws same here! very frustrating :(

[2015-07-15 17:22] adrianoafonso commented on #16853
Having exactly the same problem here. Configuration is somehow equal, with Debian 7 and PostGresSQL syncing to a Win2008R2 Server share.

Error 	PHP 	Semicolon not supported in commands at /var/www/owncloud/apps/files_external/3rdparty/smb4php/smb.php#116 	2015-07-15T17:19:05+00:00

Is this already pached @PVince81? When the update comes?

[2015-07-15 17:30] PVince81 opened #17665 "Move share dropdown into the right sidebar in the files app"
The share dropdown is implemented in core in `OC.Share.showDropdown()` and all related events and functions.

This is how to proceed:
- [x] implement `ShareTabView` which will be a tab in the right sidebar (see https://github.com/owncloud/core/pull/17656), a stub is provided there
- [x] implement each section of the share dialog as separate classes
    - [x] sharing with local users as one panel (

[2015-07-15 17:30] PVince81 commented on #16308
Raised https://github.com/owncloud/core/issues/17665 for moving the share dialog.

[2015-07-15 17:31] PVince81 commented on #17665
While doing so, also have a look at this slightly redesigned mock up, which could be implemented by the same occasion.
- [ ] use mock up from https://github.com/owncloud/core/issues/3224

[2015-07-15 17:32] PVince81 commented on #3224
Ticket for moving the share dialog into the sidebar: https://github.com/owncloud/core/issues/17665

[2015-07-15 17:33] PVince81 commented on #16328
- [ ] backend support for getting/setting comments (database table, etc)
- [ ] frontend JS classes for getting/setting comments (maybe together we the other things like versions and co)

[2015-07-15 17:34] PVince81 commented on #16328
We might need a new special endpoint on the backend that returns all informations combined (comments, activity, versions)

[2015-07-15 17:37] affibox commented on #17507
Can you try manually creating a bucket (instead of the script) and see if that bucket lets you share properly ? Create the bucket on aws or on owncloud?

How big are the files that work and the ones that don't ? (to rule out timeout issues) no moe than 5 mb

[2015-07-15 17:38] affibox commented on #17507
[
	{"reqId":"0646079558fd962f0fd8a5a00b06e724","remoteAddr":"154.64.209.252","app":"PHP","message":"fclose() expects parameter 1 to be resource, boolean given at \/var\/www\/owncloud\/lib\/private\/files\/view.php#656","level":3,"time":"2015-07-15T17:02:48+00:00"}
	,
{
	"reqId":"0646079558fd962f0fd8a5a00b06e724",
	"remoteAddr":"154.64.209.252",
	"app":"files_external",
	"message":"Exception: {\"Me

[2015-07-15 17:56] enoch85 commented on #17657
Join the IRC channel and ask for help there. https://webchat.freenode.net/#

[2015-07-15 17:59] happyreacer commented on #17647
to 2.
I have add the line env[PATH] = /usr/local/bin:/usr/bin:/bin in the php.ini
no changes
everybody an other solution?

[2015-07-15 18:00] affibox commented on #17507
Found the problem, and in fact, it was the encryption app.

Everything is working now, the only problem is that we need encryption for some files.

How can i accomplish this?

[2015-07-15 18:00] jnweiger commented on #16189
@deMattin thanks for confirming!

[2015-07-15 18:07] DjazzLab commented on #17213
Ok `OCS-APIREQUEST: true` in the header seems to works fine even if the session is in use or not.

Thanks.

[2015-07-15 18:07] #17213 closed

[2015-07-15 18:11] directict commented on #17657
Ok

Met vriendelijke groet,
Gert-jan Slot
Direct ICT
________________________________
Van: Daniel Hansson<mailto:notifications@github.com>
Verzonden: ‎15-‎7-‎2015 19:57
Aan: owncloud/core<mailto:core@noreply.github.com>
CC: NOC | Direct ICT<mailto:NOC@directict.nl>
Onderwerp: Re: [core] ownCloud 8.1 External Storage SMB to server 2008 working, server 2012 not working (#17657)

Join the IRC channel

[2015-07-15 18:19] rogatec commented on #17465
Can't confirm this @anonimal - I have the same problem on a debian wheezy machine too.

[2015-07-15 18:38] jancborchardt commented on #12081
@PVince81 yep, up to date. The change from now is to move the actions Rename, Download, Versions, Delete to the dropdown, right next to the Sharing action. Favoriting and Sharing stays where it is.

[2015-07-15 18:44] chrisdew commented on #17636
@rullzer Thanks for your interest.

I'm trying to sync a few forty thousand files.  The longest pathname is 1,700 chars.

[code]

[2015-07-15 18:52] rullzer commented on #17636
Ah, well I think that is your trouble. The client upload each file individually. And because you have sqlite as your database it can't even do multiple simultaneous uploads.

My advice is to migrate to an other database (mariadb/postgres).

But don't expect that all of a sudden you upload with your max upload. The overhead of the individual requests is still relatively huge. And the latency also h

[2015-07-15 18:52] rullzer commented on #17636
To verify that this is indeed the issue could you try to sync 1 big file make (~10MB)?

[2015-07-15 18:52] tx7 commented on #17647
Hi RealRancor,

Thanks for the quick responses.

However, I still getting error for number 2, & 4.

4. I add this: <VirtualHost *:443>
   ServerName cloud.owncloud.com
   Header always add Strict-Transport-Security "max-age=15768000; includeSubDomains; preload"
</VirtualHost>  to 'apache2 default-ssl'  but didn't work out either.

[2015-07-15 19:37] rodrigo102920 commented on #17506
I have thousands upon thousands of these entrances since upgrading to 8.1
<code>
{"reqId":"yakdyM+fATyQv+IpjOtz","remoteAddr":"190.17.19.132","app":"PHP","message":"Undefined offset: 0 at \/var\/www\/owncloud\/lib\/private\/files\/stream\/dir.php#44","level":3,"time":"2015-07-15T19:32:15+00:00"}
{"reqId":"yakdyM+fATyQv+IpjOtz","remoteAddr":"190.17.19.132","app":"PHP","message":"Undefined offset: 0

[2015-07-15 19:51] pierreozoux commented on #1580
Any news on that? Is it still on 8.2?

[2015-07-15 19:56] furrig commented on #16928
Several day later, back to try to sort this out.

After I followed @schiesbn guide (here : https://github.com/owncloud/core/issues/17574) and copied manually the public keys, I'm able to use the web interface to browse files and display their content.

Problems are coming when I try to :
- create a new text file with web interface : after the first edit, the text file cannot be opened, the web int

[2015-07-15 20:05] rullzer commented on #17465
@LukasReschke can you have a look after your holiday?

[2015-07-15 20:33] cburnard commented on #17627
Users able to login now.  "Case insensitive LDAP server" was selected.  Un-Selecting this allowed AD users to login.  AD server is a 2008 and in 2008 mode.

Chris

[2015-07-15 20:49] johansmitsnl commented on #17631
I can confirm the same issue, but unknown to me witch user is responsible for this.
I run a Ubuntu 14.04 and the CRON.php does not complete and I get an error in syslog.

[code]

Disable the jpegPhoto retrieval lets the cron job finish but without a photo. Setting the code back, the cron keeps running for me now.

[2015-07-15 21:18] area51pilot opened #17666 "ownCloud 8.1 - Unable to Mount Windows Server SMB Shares"
Recently upgraded from OC 8.0.5 to OC 8.1 on Ubuntu 14.04 LTS. After upgrade, ALL SMB shares previously connected to a Windows 2011 server were disconnected. I removed and attempted to re-add shares but it would not authenticate and connect.  I was however able to connect to password protected Windows 7 Pro shares on the network as well as shares on a Linux box.

I performed a clean install on ano

[2015-07-15 21:22] enoch85 commented on #17666
Related: #17657

[2015-07-15 21:29] area51pilot commented on #17657
directict: I have the same issue connecting to a Windows 2011 Small Business Server. Running my OC instance on Xubuntu 14.04 with Apache2/MariaDB-server for dedicated ownCloud server.  Reverted back to 8.0.5 and I'm back in business. Will continue testing 8.1 on a non production machine/VM until this gets figured out.

[2015-07-15 22:16] benwilliams commented on #17631
@blizzz upgrade was done with `apt-get dist-upgrade`. Nothing is logged to owncloud.log during the login failure for the effected users.

[2015-07-15 23:52] heavyt commented on #17647
Had the same problem  For #4. This was what I forgot to do "Furthermore it shall be noted that this requires that the mod_headers extension is installed".

[2015-07-16 00:22] carlaschroder commented on #17645
@rasusmilch, not sure what's going on with your system. I did some test runs with clean installations of RHEL 7 and CentOS 7, first installating oC 8.05, and then upgrading to stable 8.1 ( 8.1.0-14.1). I didn't take any extra steps, but only installed the base operating systems, and then let yum pull in all the oC dependencies. I had no issues (and on clean systems with little ownCloud data I sure

[2015-07-16 00:59] lachlan-00 commented on #17550
By enabling caching in my config i get my app list back.

https://owncloud.org/blog/making-owncloud-faster-through-caching/

APCu (for PHP 5.5 and above) (php5-apcu in debian)

edit config.php and add
'memcache.local' => '\OC\Memcache\APCu',

This information really needs to go into the "documentation" link. [https://doc.owncloud.org/server/8.1/admin_manual/configuration_server/performance_tuning.

[2015-07-16 00:59] #17550 closed

[2015-07-16 01:31] Thomanji opened #17667 "OwnCloud YUM Path"
Hi,

I am not sure if this is something I should ask somewhere else but I could not really find anything

about it. I use the Owncloud repro to install and update OC. However it install it in the following

directorry:

This package installs as follows:
oc_dir: /var/www/html/owncloud
oc_data_dir: /var/www/html/owncloud/data
oc_config_dir: /var/www/html/owncloud/config
apache_confdir: /etc/httpd/co

[2015-07-16 02:50] karlitschek commented on #17667
@jnweiger Can you help here?

[2015-07-16 04:33] rasusmilch commented on #17645
@carlaschroder, I figured it out. At some point in the past I enabled yum priorities. I disabled it after doing an update first. After disabling it, I reran yum update and the only updates were for owncloud which yum then happily updated successfully. I'm unsure what was blocking it, as the only thing it did update afterwards was owncloud, not a

I can log into the website and my clients connect h

[2015-07-16 04:35] #17645 closed

[2015-07-16 05:35] freekert commented on #17504
It is for sure the client. The latest version is 1.8.4 my Lubuntu install also on has 1.7.0 and also stopped working. See this page to get more recent clients on Linux: https://software.opensuse.org/download/package?project=isv:ownCloud:desktop&package=owncloud-client

I also get the getenv("PATH") error but everything works as before (including my Android and Windows client.) So that seems unrela

[2015-07-16 06:13] RealRancor commented on #17550
@lachlan-00 See https://github.com/owncloud/documentation/issues/1233

[2015-07-16 07:05] tYYGH opened #17669 "Feature request: Unix-like symbolic links"
First, this is _NOT_ about transparently following links because files would be already laid out as wanted. As pointed out elsewhere, _that_ feature is covered client-side by the configuration, and server-side by the external storage options.

My feature request is about being able to _store_ Unix-like symbolic links on owncloud.

Synology did this by having a [convention for naming links](http://

[2015-07-16 07:46] vco1 commented on #17561
I can second this issue. It seems to prevent uploading via the files plugin in Zarafa too. Using OC 8.1 and ZCP 7.2. With OC < 8 this was working fine.

[2015-07-16 08:01] DeepDiver1975 commented on #17669
I honestly don't see the need - in addition the RFC appears experimental for a long time.

But maybe somebody is willing to catch this and give the implementation a try. THX

[2015-07-16 08:04] PVince81 commented on #16853
@adrianoafonso this should be in OC 8.0.5 and 8.1.1. Did you upgrade ?

[2015-07-16 08:21] PVince81 commented on #12081
@jancborchardt there will likely be a transitional phase for versions. At first we won't have the versions visible in the right sidebar, so should we still move the action to the dropdown or keep it inline ?

[2015-07-16 08:24] muzzol commented on #1190
this will be extremely helpful for our company too.
we have several locations and we want lot of documentation synced between OC servers so user access LAN only.

is this still on the table?

[2015-07-16 08:28] PVince81 commented on #12848
Another idea, just discussed: have the JS templates stored under "templates/somehandlebartemplate.html".
The template would be included as partial inside one of the PHP templates (probably index.php).
The JS unit test would access the template using Jasmine's built-in server, loading "templates/somehandlebartemplate.html". That loading would be async but could hopefully be done somehow before runn

[2015-07-16 08:31] tYYGH commented on #17669
The need is simple, really.
I have a login on several machines at several places; Linux on desktop, Linux on laptop, Android, occasionally Windows… Besides, network connectivity is not always good, nor is it always present, which is why NFS is not suitable for all situations.

I use owncloud, _not_ for storing movies or photos, but rather to act as a cached network drive. And on this "cloud" drive

[2015-07-16 08:47] PVince81 commented on #17507
I was able to reproduce a different issue using encryption on 8.0.4.
Sharing a text file with link directly works, I can download it from the public link.
However when sharing a folder containing an encrypted file, downloading the encrypted file gives an XML response.

But you said you were getting "File not found". I don't think this is related to encryption as encryption wouldn't cause file not

[2015-07-16 08:52] PVince81 commented on #17507
Wait, the XML response was the actual content of my test file. I mistakenly thought it was an error.
So it already works in 8.0.4. Same on 8.0.5.

[2015-07-16 08:54] PVince81 commented on #17507
@affibox you could try 8.1 which has an improved encryption app.

Unfortunately I cannot reproduce your issue on 8.0.4
Let me reformat that log output to see if there are any clues.

[2015-07-16 08:57] PVince81 commented on #17507
@schiesbn any idea why the encryption app in 8.0.4 would cause link share downloads to return "File not found" on external storage ?

[2015-07-16 09:07] PVince81 commented on #17507
The first error in the log is related to deletion, this is fixed in 8.1 (see https://github.com/owncloud/core/issues/15447)

The second log entry is trying to open the file "hostgator.txt" on the S3 server. I assume this was your test file, the one causing "File not found". The call looks correct:
`/var/www/owncloud/lib/private/files/storage/wrapper/wrapper.php(266): OC\Files\Storage\AmazonS3->fop

[2015-07-16 09:11] DeepDiver1975 opened #17671 "[master] Migration issue"
[code]

[2015-07-16 09:15] buerostumpf opened #17672 "Owncloud 8.1: Error when connecting to WebDav"
Hi,

I am encountering a severe problem when trying to connect to the webdav backend from an iOS device (via OmniOutliner).
This is the Log-Output on the server side:

[code]

The frontend gives me a 412, "precondition failed", also for the MOVE Method.

Any ideas?

[2015-07-16 09:20] schiesbn commented on #16928
This happens if you upload a file but encryption is not enabled. Please double-check that encryption is completely enabled both in the admin settings and that the "default encryption module" app is loaded. You can also try to close your client and re-start it, maybe he still has a old session.

[2015-07-16 09:25] meklon commented on #17504
@freekert, thanks. I'll try.

[2015-07-16 09:37] PVince81 commented on #17507
My mount point is "s3".
Test file is "s3/test.txt" and "s3/sub/test.txt".
It was uploaded with the web UI.
In the case of encryption, I reuploaded the file to make sure it's encrypted.

Sharing "s3/test.txt" with link, then download "test.txt" from the public link:
- without encryption: calls AmazonS3->fopen("test.txt")
- with encryption: calls AmazonS3->fopen("test.txt")

Sharing "s3/sub" with li

[2015-07-16 09:45] PVince81 commented on #17507
Your test files were uploaded through ownCloud or did you put them on AWS directly without going through ownCloud ? (the file would be encrypted only if uploaded through OC)

We could also check the database integrity:
If you still have the broken link with token "0FYGfSFj2GxUxOf", let's query the database:
- `select * from oc_share where token='0FYGfSFj2GxUxOf'` (replace the token accordingly)
-

[2015-07-16 09:47] osamak opened #17673 "Delete button should be hidden from shared linkes if no permission to delete"
As of ownCloud 8.1, shared links have a delete button on hovering a file or folder, even if the link does not allow public uploads. This button always indicates that there is "No permission to delete."  Such a button should be removed because it serves no purpose, and it only leads users to getting an error message.

[2015-07-16 09:51] meklon commented on #17504
@freekert, thank you very much! That helped. The default client in Ubuntu's repo was too old. Look like everything is ok.

[2015-07-16 10:04] PVince81 commented on #17640
@gig13 Does it mean the files also disappeared from the server ? So they did not only disappear from the web UI or the clients. Are the missing folders in the trashbin (under "files_trashbin" of the owner on the server)

Does this happen for many different shares or just that one ? Does it happen for newly created shares ?

So far the only thing that comes to mind is that a concurrent operation ha

[2015-07-16 10:07] DeepDiver1975 commented on #17118
User counts on LDAP groups are currently not shown by intention. Calculating the user count is a performance nightmare with LDAP. I vote for moving this to the backlog

[2015-07-16 10:08] PartisanEntity opened #17675 "Password protected link displays username/password prompt in certain browsers"
Reproduce:

1. select a file in your owncloud
2. share it using link and password (i.e. you want to share the link with someone who does not have an owncloud account)
3. open the link as a visitor (while not logged in)
4. enter password and click on the small arrow to continue
5. owncloud will load in the background, while in the foreground you will see a username/password prompt in the browser wi

[2015-07-16 10:15] DeepDiver1975 commented on #17414
will be fixed with https://github.com/owncloud/core/pull/17676

[2015-07-16 10:18] #17551 closed

[2015-07-16 10:19] DeepDiver1975 commented on #17551
fixes with #17566

[2015-07-16 10:24] nickvergessen commented on #16039
I still fail to reproduce this. Would be nice if one of you can post direct steps to reproduce it.

[2015-07-16 10:57] deMattin commented on #16039
I purged all my activities to have no error messages on every view of activities.
It is related to deleted files/folders and it is a situation, where activities in owncloud 8.0 had no problem with.
Do you have no idea, where it possibly comes from by checking the code changes?

But what do you need more? (btw: you did not comment my different looking database entries)
Displaying an old activity li

[2015-07-16 10:57] blizzz commented on #17631
It will actually execute  an LDAP job once an hour, IIRC.

[2015-07-16 11:10] blizzz commented on #17631
@benwilliams @johansmitsnl @Nick-Lock Could you check whether https://github.com/owncloud/core/pull/17464 fixes your issue?

[2015-07-16 11:14] Nick-Lock commented on #17631
Might need to wait until the back of the afternoon, as we're a little stretched right now - but I'll give it a go.

[2015-07-16 11:18] furrig commented on #16928
What I did :
- check that "Default encryption module" is in the list of activated apps -> ok
- check that "Default encryption module is checked in the admin page -> ok (it's the only encryption module available)
- update client, then restart it
- erase all client settings
- retry -> failed

What more can I do / check ?
Maybe something with keys files  ? (I had to manually copy the public keys and

[2015-07-16 11:24] blizzz commented on #17627
You will be delighted to hear that the  "Case insensitive LDAP server" is actually a dead setting that does not do anything at all anymore (if it ever did when i took it over).

What might have happened when changing the settings that the cache was cleared, but as it's lifetime is configured to just 5s, that's highly unlikely.

The latest log entries are saying that the password was wrong.

[2015-07-16 11:40] blizzz commented on #17627
Update on the nocase/ "Case insensitive LDAP server"  setting: it was introduced here  https://github.com/owncloud/core/commit/dd7a411f9aaceab1bf8eab551e5f95ff5feff6fb#diff-8f8c85e2bc7e4aea46a03f77c54622c7R119 end of Nov 11 and the only function it had was to lower name  attribute names returned from the LDAP server. For a long time we do it in general anyway, the user should not be confronted wit

[2015-07-16 11:47] blizzz opened #17677 "LDAP: Remove "Case insensitive LDAP server" setting as it is not in use."
[code]

[code]

All these occurrences are just the template, default valeus and reading-from/writing-to-DB related.

*ldap_nocase* was once introduced to indicate whether attribute names would have been needed to lowercase when parsing the server results: https://github.com/owncloud/core/commit/dd7a411f9aaceab1bf8eab551e5f95ff5feff6fb#diff-8f8c85e2bc7e4aea46a03f77c54622c7R119

Meanwhile, we do thi

[2015-07-16 11:49] blizzz commented on #17627
Closing as it is resolved.

[2015-07-16 11:49] #17627 closed

[2015-07-16 11:52] Gomez commented on #17592
:+1: for @PVince81 suggestion.
I dont use the appstore and have disabled it in the config. With this settings it should ignore the experimental flag stuff.

[2015-07-16 12:04] tx7 commented on #17647
@heavyt,

I installed the headers, add the lines like the OC doc stated, restarted the server, still  have same error.
I even add my server name to default, and default ssl virtual host.
It didn't make a difference.

I don't know why OwnCloud have so many issues.
Even for advanced users, they still have issues.

I think it would be easier if the dev have the options ready with a switch on or off i

[2015-07-16 12:08] whedro commented on #17513
@binarykitchen Use your login name (First column) ...

[2015-07-16 12:11] RealRancor commented on #17647
@tx7 You know that these are security warnings and recommendations which are provided by the Devs as an service to you? They just could remove all those recommendations and leave it up to you to configure your server securely??

[2015-07-16 12:13] jnweiger commented on #17667
No. The filesystem layout of the linux packages is static. It can only be changed at compile time.
I once tried to offer packages with an alternative FHS compatible layout. But abondoned the idea, as it is not maintainable.

Your best option is to grab that source tar and unpack it in  /home/domainname/htdocs/owncloud/
Installing the linux package from isv:ownCloud:community once might be still he

[2015-07-16 12:13] #17667 closed

[2015-07-16 12:13] MorrisJobke commented on #11986
@cdamken Is this still an issue? Is the instance still on OC6? Upgrading to OC7/8 will most propably help here, because many fixes regarding stable file ids have landed in those versions.

[2015-07-16 12:15] #16928 closed

[2015-07-16 12:17] caratsch commented on #11986
@MorrisJobke @cdamken there were no tickets regarding this in the last time. Since oC 7 there where no problems regarding this.

[2015-07-16 12:20] tx7 commented on #17647
I know what you're saying.
The doc instructions are lack of details.
It stated that: "Furthermore it shall be noted that this requires that the mod_headers extension is installed."
However, it didn't stated how or the name of the headers.
Therefore, how people know what are they talking about.
Not everybody know what are the headers.

I'm not coming in here to argue about this, but if they giving

[2015-07-16 12:24] MorrisJobke commented on #16205
@bboule Ping

[2015-07-16 12:24] RealRancor commented on #17647
If you think the instructions are missing you can request them here:

https://github.com/owncloud/documentation/issues

[2015-07-16 12:24] MorrisJobke commented on #16372
This was fixed in 8.0.4

[2015-07-16 12:24] #16372 closed

[2015-07-16 12:26] MorrisJobke commented on #16454
@bboule Ping

[2015-07-16 12:28] SergioBertolinSG commented on #17615
Tested using latest stable8.1, working correctly, there is a message warning you that the storage is not available.

[2015-07-16 12:30] SergioBertolinSG commented on #17615
But, if I refresh the page test folder dissapears, is this expected?

[2015-07-16 12:31] rullzer commented on #17673
@jancborchardt what do you think?

[2015-07-16 12:32] PVince81 commented on #17615
@SergioBertolinSG don't test this, this is not a use case because you're fiddling with the database. It's invalid.

[2015-07-16 12:33] PVince81 commented on #17615
Removing labels, sorry for the confusion.

[2015-07-16 12:36] bboule commented on #16454
Please see https://github.com/owncloud/core/issues/16812 I think we are ok here  sorry for the delayed response!!

[2015-07-16 13:08] jnweiger commented on #17654
I don't think that owncloud-server-scl-php54 would work with php55. It has an obvious dependencies to php54.

[2015-07-16 13:11] jnweiger commented on #17637
@pastynko do you have a full log of yum output?
'requires owncloud-server = 8.1.0' is okay. owncloud-server-scl-php54 should provide that.

[2015-07-16 13:18] icewind1991 commented on #17499
Can anyone who has the issue run the tests from https://github.com/icewind1991/SMB

- clone the git repo or download it as zip
- run `composer install` from the project directory
- edit tests/config.json with the details for the smb server
- run `phpunit` from the tests folder

Note: for safety run unit tests on a separate smb share or subfolder

Additionally you can try using the native php-smbcl

[2015-07-16 13:19] #16454 closed

[2015-07-16 13:20] MorrisJobke commented on #11986
@caratsch Thanks for the feedback. I will close this. :)

[2015-07-16 13:20] #11986 closed

[2015-07-16 13:26] ruspantini commented on #17446
Hail to all, I still can't get Calendar and Contacts to install on ownCloud 8.1. Even the manual install doesn't work. Please help me. I don-t know how to get around this (newbie).
I have downloaded DAVdroid to get the mobile to synch eventually with ownCloud but I guess I have to get Calendar and Contacts installed first ?
Thanks in advance if you can help
Luca

[2015-07-16 13:28] rullzer commented on #16488
Fixed in #16535

[2015-07-16 13:28] #16488 closed

[2015-07-16 13:40] affibox commented on #17507
Guys...

If I disable the encryption app, everything works fine.

If the encryption app is available then, sharing new files are not fount when sharing using links.

let me send you dummy accounts so you could see for yourself.

[2015-07-16 13:40] jvillafanez commented on #17551
Checked with server A (https) ownCloud Enterprise Edition 8.2 pre alpha (daily) Build:2015-07-16T03:10:28+00:00 dce462c28db1d5e5b144efcfb26a466bd290621c and server B (http) ownCloud Enterprise Edition 8.0.5 (daily) Build:2015-07-16T03:25:43+00:00 96b252195b421a6bb1c5643dbd15a958d0317295

[2015-07-16 13:43] affibox commented on #17507
Please let me know where I could send you login credentials for my owncloud?

[2015-07-16 13:44] PVince81 commented on #17507
Yes, and that's what I cannot reproduce on my local setup even with encryption enabled.

There must be something in your setup or in your steps that is different from mine.
Send them at pvince81 at owncloud dot com.

[2015-07-16 13:51] affibox commented on #17507
Please view you email... javier at affibox dot com

[2015-07-16 13:52] affibox commented on #17507
If you need files from our server I'll be more than happy to give them to you. I can't give you access to the server because of hippa

[2015-07-16 14:01] #17414 closed

[2015-07-16 14:01] PVince81 commented on #17507
Email hasn't arrived yet it seems. You might want to try again.

Have you tried the SQL queries I suggested above ?
Because if the shares cannot be resolved that would explain the "File not found". There could be a side-effect from encryption that breaks the share. That information could help find out if that's the case.

[2015-07-16 14:09] affibox commented on #17507
Please check you junk folder.

Regarding the SQL, as soon as I do it I'll let you know.

[2015-07-16 14:11] jancborchardt commented on #17673
It serves as an indicator because if the icon simply isn’t there people might be confused as to why it is not.

The current behavior of showing the delete icon but giving direct feedback via tipsy is a good approach. What do you think @owncloud/designers?

[2015-07-16 14:14] jancborchardt commented on #12081
@PVince81 we should move it to the dropdown already for sure. It might look a bit strange but better than having it still inline, which we definitely want to get rid of.

[2015-07-16 14:17] entyrion commented on #17446
Hi Luca, I posted my solution to get my broken apps to work here https://forums.freenas.org/index.php?threads/owncloud-plugin-now-available-in-plugins-menu.15046/page-8, perhaps a similar workflow may work for you. Note that for me, Contacts oddly installed correctly from the apps interface; my issues were specifically with Calendar, Documents, and Bookmarks (I'm still having issues with Bookmarks

[2015-07-16 14:26] gdamjan commented on #17453
In case anyone is running in uwsgi/php the needed setting to avoid duplicate headers is `env = modHeadersAvailable=true` in the .ini file, since owncloud uses `getenv(...)`

[2015-07-16 14:33] carlaschroder commented on #17645
Thanks for the followup, @rasusmilch, it's always good to have answers!

[2015-07-16 14:45] Gaegamel commented on #16928
@furrig I had a similar error, after forgetting about turning on the encryption and doing everything necessary. After copying my public keys to the corresponding folders, I was able to edit and view files in the client. However, this didn't work in the web interface.
Can you open new files in the desktop-client? If yes, something migth have gone wrong while migrating.

Thus, I propose you backup y

[2015-07-16 14:53] MorrisJobke commented on #17675
cc @schiesbn @PVince81

[2015-07-16 14:56] PVince81 commented on #17507
The test bucket you created for me seems to be broken, it shows a red box. Or is it not available yet ?

I see you used "Enable Path Style", I wonder if it's related.
I'll try this setting locally.

Also the web UI looks strange, the sidebar on the left looks broken or unusual, or maybe it's just your theme.

[2015-07-16 14:56] osamak commented on #17673
@jancborchardt but why would we assume that people are expecting a delete button in shared links? this wasn't the behaiouvor of previous ownCloud versions anyway.

[2015-07-16 14:57] PVince81 commented on #17507
Also there's a warning that "curl" isn't installed. Not sure in what way this could affect S3 access.
From the error log above it seems Guzzle could still connect.

[2015-07-16 14:59] Vectrex opened #17683 "Integrity constraint violation: 1062 Duplicate entry ... for key 'fs_storage_path_hash'"
When upgrading from 8.0.x to 8.1.0 I first came across the above error.

- did a complete reinstall of owncloud (empty database, empty data folder, system and configuration Ubuntu 14.04/APCu/MySQL/Files encoded)
- Upload via Ubuntu desktop client 1.8.4
- approx. 1100 files/2.3GiB uploaded
- all files end up on the server (including the ones which violate the index constraints)
- the latter ones do

[2015-07-16 15:01] CaptionF opened #17684 "provide independent database packages, preventing installation of unrequired db packages"
running oC in DMZ
server security teams dont like to have software installed, that is not required.
In case of database packages, this means independent database packages instead of mandatory package with all supported databases.

Prospect uses Oracle, and does not want mysql, postgress nor sql lite
current installed package: oC 8.0.5 on SLES 12

[2015-07-16 15:02] PVince81 commented on #17507
AHA, I was able to reproduce it now after looking at your config.

The difference now is that I selected my test user "root" when applying the external storage instead of leaving it set to "All". This could affect encryption key generation.

[2015-07-16 15:07] jancborchardt commented on #17673
@osamak well, we added it because it was confusing to people that there was no icon at all, because other files have it. That’s the feedback we received and it’s valid, so we improved it.

If you get shared a folder without edit rights, now at least you know why you can not use the delete button. Sure, it’s there for every file, but at least you have feedback why – and the button isn’t simply _not

[2015-07-16 15:07] #17673 closed

[2015-07-16 15:08] PVince81 commented on #17507
Ok, neither SSL nor "path style" are needed.

Steps to reproduce.
1. Setup OC v8.0.4 with user "root" as the admin
2. Enable external storage
3. Enable encryption
4. Log out then log in again
5. Go to "Admin" page
6. Setup a S3 mountpoint "s3", leave the checkboxes unchecked (no need to check them)
7. Apply that mount point to the user "root"
8. Upload a text file "s3/test.txt"
9. Share "s3/test.t

[2015-07-16 15:11] PVince81 commented on #17507
Same problem on v8.0.5.

But on v8.1 with encryption 2.0 it works properly.

[2015-07-16 15:17] PVince81 commented on #17507
Also broken on other external storages like SFTP.

@schiesbn something is wrong with the public key on external storage when "applicable" is set to users or groups (not "all")

[2015-07-16 15:23] PVince81 commented on #16947
Duplicate of https://github.com/owncloud/core/issues/17507
There's a bug with encryption.

[2015-07-16 15:23] #16947 closed

[2015-07-16 15:25] PVince81 commented on #17507
Also broken on stable7.

[2015-07-16 15:28] PVince81 commented on #12081
So the actions dropdown would close after clicking "Versions" and be replaced by the versions dropdown. I'm ok with this.

[2015-07-16 15:30] jancborchardt commented on #12081
@PVince81 yeah, that’s probably the best interim solution.

[2015-07-16 15:32] karlitschek commented on #17684
@jnfrmarks something we can do here?

[2015-07-16 15:35] PVince81 commented on #17507
The public key is created properly when sharing:
[code]

[2015-07-16 15:38] affibox commented on #17507
What should I do now? I have no idea on how to fix this. The red Block, i think it has to be e glitch on the script. Let me see.

[2015-07-16 15:39] PVince81 commented on #17507
@affibox no need to. I have all the information I need to debug this locally. Thanks.

[2015-07-16 15:41] affibox commented on #17507
Thank you so much...!!!

[2015-07-16 15:41] PVince81 commented on #17507
@schiesbn the encryption key is not found here: https://github.com/owncloud/core/blob/stable8/apps/files_encryption/lib/stream.php#L335

[code]
Also `isSystemWideMount` returned false even though it is one. So it is looking for the key in the wrong folder. It's looking under root's home folder while it should look under the global "files_encryption" folder.

[2015-07-16 15:44] PVince81 commented on #17507
@affibox next time to make it smoother, please try and use the issue template and also provide exact steps like I did in https://github.com/owncloud/core/issues/17507#issuecomment-121985428. This helps avoiding misunderstandings. :smile:

[2015-07-16 15:45] deviousway opened #17685 "files_external webdav SSL error"
trying  attach webdav.yandex.ru (famous russian webdav server),  got

{"reqId":"vahUW+5Zh0Nxs5XPFyJK","remoteAddr":"192.168.1.1","app":"files_external","message":"SSL certificate problem: unable to get local issuer certificate","level":3,"time":"2015-07-16T15:32:32+00:00","method":"PUT","url":"\/index.php\/apps\/files_external\/userstorages\/1"}
tryed to add with cert to trusted (in OS and in ownc