[2015-04-01 05:12] RealRancor commented on #15347
Hi,

i think the categories are provided by the API if apps.owncloud.com and not by the app itself. As soon as the app is provided by the appstore it should appear in the correct category.

[2015-04-01 06:36] DeepDiver1975 commented on #15347
We need a clear distinction between apps from the store and local apps.

As of today this seems to be too confusing.

@jancborchardt

[2015-04-01 06:45] wdiechmann opened #15350 "upgrade from 8.0.0 to 8.0.2 saw some peculiar action"
with 16 clients, 3 of which are Windows Server services, the rest being Windows and Mac clients, we upgraded owncloud from 8.0.0 to 8.0.2 using yum on a CentOS system with the data store being a symbolic linked folder into a NFS mounted 18TB Synology NAS - which bared the upgrade and forced us to umount the data store before finalizing the upgrade, and once performed, we reboot'ed

once restartet

[2015-04-01 07:04] #15328 closed

[2015-04-01 07:11] MorrisJobke commented on #15344
Fix is in #15351

[2015-04-01 07:11] DeepDiver1975 commented on #15348
@jancborchardt  can you have a look please? Hopefully this is just css-fu

[2015-04-01 07:12] MorrisJobke commented on #15344
@tylla Please have a look at the PR

[2015-04-01 07:17] MorrisJobke commented on #13751
@ravermeister this is a different issue. Can you open a separate issue with your error. Thanks.

[2015-04-01 07:19] RealRancor commented on #15350
Mhhh, strange. Normally ownCloud should detect a missing datadirectory https://github.com/owncloud/core/pull/7732 and shouldn't take any actions if the .ocdata file is missing.

[2015-04-01 07:22] DeepDiver1975 commented on #15350
indeed

@wdiechmann data was symlinked to the NFS mount - right? Loosing symlink and mount during upgrade might still cause issues as we had the logic to generate the .ocdata during upgrade - we might need to harden the .ocdata check during upgrade.

@jnfrmarks interesting upgrade scenario we should consider to add to our regression test suite - THX

[2015-04-01 07:22] MorrisJobke commented on #13751
@ravermeister It will be fixed in 8.0.3 #14698

[2015-04-01 07:26] RealRancor commented on #15341
Btw. ref for a request to also add those "older" repository links to the owncloud.org page: https://github.com/owncloud/owncloud.org/issues/468

[2015-04-01 07:33] DeepDiver1975 commented on #14754
disabled apps are printed on the terminal in case the console is used - for the web based upgrade the apps are displayed on the screen. Missing piece: https://github.com/owncloud/core/issues/14569

[2015-04-01 07:38] mmattel commented on #15342
Good news, at least some parts of the issue is on the right way to get solved :smiley:

I maybe found a possible solution to use a equivalent of the apache ``setenv`` directive for nginx. For other webservers I do not know.

It is important that I have enabled fast_cgi in my nginx config, which is btw suggested in the admin/installation manual (=possible doc update....)

http://stackoverflow.com/q

[2015-04-01 07:58] DeepDiver1975 commented on #15299
yes - closing

[2015-04-01 07:58] #15299 closed

[2015-04-01 08:01] mmattel commented on #15342
Idea (after fixing the issue...):

if I look at the curl response, I see that there is an output for the server type ``Server: nginx``
As stuff is handled fo Apache automatically via .htaccess but not for other webservers, an extended warning based on the webserver used would maybe help.

Would it be possible to add at the check the webserver type and based on the type a proper hint about how to m

[2015-04-01 08:14] fpiraneo commented on #15334
| Sometimes changes needs to be done for multiple reasons (that one was for enhanced security).

"Increase the WOPR security or mess up instead?" (Cit. War Games)

[2015-04-01 08:16] rullzer opened #15352 "Make settings/js/personal.js unit testable"
Currently the personal settings page is almost impossible to unit test. It would be great to rewrite this so we get more code coverage. And can actually verify if still keeps working ;)

I can imagine this has to be done in various pr's.

PR's blocked by this.
- #15345

CC: @PVince81

[2015-04-01 08:16] #15344 closed

[2015-04-01 08:33] credel commented on #15330
hi, have tested it with the demo and on my server (fresh installed ubuntu without any modifications)
both have the same problem...

[2015-04-01 08:33] LukasReschke commented on #15330
Can test tomorrow on my instance… iPhone charger is broken so I need a new one… Kudos for Apple for not using Micro USB…

[2015-04-01 08:33] wdiechmann commented on #15350
well - we observed otherwise :/

at the time of upgrade

/var/www/html/owncloud/data was symbolically linked to

/etc/fstab
10.0.0.186:/volume1/ckup_data	/mnt/ckup_data_mnt	nfs	wsize=8192,atime,exec,dev,rsize=8192,_netdev	0	0

as seen with ls -la
lrwxrwxrwx  1 apache apache    23 31 mar 13:14 data -> /mnt/ckup_data_mnt/data

nobody:nobody owns all files in the data store as per

/etc/idmapd.conf
N

[2015-04-01 08:35] #13189 closed

[2015-04-01 08:40] nickvergessen commented on #14953
Closing as duplicate of #15326

[2015-04-01 08:40] #14953 closed

[2015-04-01 09:35] nickvergessen commented on #15318
@bvkuik which admin page do you mean? the user list, or the admin "Email Server" settings page:
![email-settings](https://cloud.githubusercontent.com/assets/213943/6938343/06273c1a-d863-11e4-980d-98a98c49e93f.png)

[2015-04-01 09:35] piettt opened #15355 "space full in client but quota set to unlimited..."
Hello,

this is not the first time I have this bug.

After the update to 8.0.2 we have a problem with the quota. I don't remember how to fix it.

If I put the quota to unlimited (or more than 50GB) I have a maximum of 36GB :

![2015-04-01_10h06_00](https://cloud.githubusercontent.com/assets/7397394/6938357/18c06892-d863-11e4-9458-69bc3cc3442f.jpg)

If I put the quota to 40GB, I have a maximum of 3

[2015-04-01 09:39] rullzer commented on #4774
The following functions are used in the core apps. So we should expose them in a public API or have some alternatives.

Just some simple grepping gives me:

[code]

[code]

Now some of those should be no problem to expose. Other however we might want to keep private.

[2015-04-01 09:50] piettt commented on #15355
### Server configuration
**Operating system**:
Debian 7.
**Web server:**
Linux server-debian-oc 3.2.0-4-amd64 #1 SMP Debian 3.2.65-1+deb7u2 x86_64 GNU/Linux
7.8
Debian GNU/Linux 7 \n \l
**Database:**

**PHP version:**
5.5.23-1
**ownCloud version:** (see ownCloud admin page)
8.0.2
**List of activated apps:**
Default
**The content of config/config.php:**

[code]

**Are you using external storage, if

[2015-04-01 09:51] piettt commented on #15355
Ok, apparently the problem was the ownCloud log (data/owncloud.log)

more than 364GB....

[2015-04-01 09:52] tylla commented on #15344
@karlitschek I still have to accustom myself with the github way of contribution. :(
@MorrisJobke thank you for commiting my patch. Btw. what did you mean with the "PR"?

[2015-04-01 09:57] bvkuik commented on #15318
The admin page when clicking on the user at the top right, then choosing Administrator. Do you know what page I mean?

[2015-04-01 09:58] tflidd commented on #15330
I can login with safari (iOS 8.2) on demo.owncloud.org. Wifi and cellular, both without proxy.

[2015-04-01 09:58] nickvergessen commented on #15318
Can you post a screenshot of the section you are talking about?

[2015-04-01 10:00] bvkuik commented on #15318
Unfortunately I do not have access at the moment, will post when I have!

[2015-04-01 10:01] tflidd commented on #15355
Probably a good idea to set the 'log_rotate_size' option in your config.php

[2015-04-01 10:09] credel commented on #15330
found the issue! you have to enable cookies in safari, then it is working!

[2015-04-01 10:15] MorrisJobke commented on #15344
@tylla Oh sorry. PR is the short form of Pull Request. ;)

[2015-04-01 10:23] nickvergessen commented on #15315
We might run out of disc space when the folder is big and we try to duplicate it?

[2015-04-01 10:25] nickvergessen commented on #15309
@jancborchardt

[2015-04-01 10:29] nickvergessen commented on #15297
Could be related to #15142
Will investigate

[2015-04-01 10:29] tylla commented on #15344
@MorrisJobke no prob., newbie here (at least with github)

[2015-04-01 10:48] #15330 closed

[2015-04-01 10:53] Pete1979 commented on #9893
Hello,

I have OC 8.2 on a ubuntu 14.04. When i upgraded from version 7 to 8 i disabled the apps (LDAP and others) to get the upgrade from 7 to 8 to work, so now i have a working OC 8. But LDAP inactive, when i activate it, owncloud wants to update, but fails with the messege

"An exception occurred while executing 'ALTER TABLE oc_oc_ldap_user_mapping_c590aed7a1e5d DROP PRIMARY KEY': SQLSTATE[4200

[2015-04-01 10:58] karlitschek commented on #4774
@rullzer I completely agree. They need to be exposed via OCP and kept stable.
Awesome initiative.

[2015-04-01 11:00] #15355 closed

[2015-04-01 11:02] rullzer commented on #4774
@karlitschek well it is trivial to move them to OCP. However, we need to discuss if we just want to move them as is. (so just a wrapper around the OC functions) or if we want to do some stuff differently and not expose the private stuff. Once they are in OCP we have to maintain them.

PR #15356 already removes some of the functions. We can then discuss how to handle the remaining ones.

Btw: when

[2015-04-01 11:55] rullzer commented on #4774
Taken care of:

[code]

Which leaves:

- [ ] OC_Helper::computerFileSize
- [ ] OC_Helper::findBinaryPath
- [ ] OC_Helper::getFileNameMimeType
- [ ] OC_Helper::getFileTemplateManager
- [ ] OC_Helper::getMimeType
- [ ] OC_Helper::getMimetypeDetector
- [ ] OC_Helper::getSecureMimeType
- [ ] OC_Helper::getStorageInfo
- [ ] OC_Helper::humanFileSize
- [ ] OC_Helper::linkToDocs
- [ ] OC_Helper::mimetypeI

[2015-04-01 12:02] DeepDiver1975 commented on #4774
We should create an interface \OCP\IUtil which defines the interface - this way we can increase testability

[2015-04-01 12:03] DeepDiver1975 commented on #4774
should go to the urlgenerator

[2015-04-01 12:03] DeepDiver1975 commented on #4774
isnt there a class handling mime stuff?

[2015-04-01 12:07] Xenopathic commented on #4774
@DeepDiver1975 Indeed there is: \OC\Files\Type\Detection. But it doesn't handle `mimetypeIcon` - that's done in OC_Helper. Also, Detection hasn't got a public interface

I'd suggest providing an interface for OC\Files\Type\Detection, extending that class with the capability of `mimetypeIcon`, then exposing a `\OCP\Util::getMimetypeDetector()` or exposing that on the server container.

[2015-04-01 12:09] rullzer commented on #4774
I agree. But then we should convert the apps properly. I agree and \OCP\Util does call the url generator. All the linkTo stuff in \OCP\Util should then be marked deprecated anyway. I could create a PR for that later tonight.

But I agree that we should not add functions that are then marked deprecated right away :P

[2015-04-01 12:32] oparoz commented on #15347
@RealRancor - Unfortunately, that only works for official apps, so it doesn't really help since most apps are only available through manual installation.

@DeepDiver1975 While I agree that it's good to be able to identify official apps (there is another ticket talking about trust levels), I think the app manager should use info.xml to classify apps. There is no point in having them all in the "not

[2015-04-01 13:19] nickvergessen commented on #15297
Okay, it is somewhat related. Previously "No search result in other places" was displayed at the bottom of the page. But the question is, why does it display this message instead of some useful results at all, instead of presenting the search results from other places

[2015-04-01 13:19] jvillafanez opened #15359 "APC isn't properly cleanup after enabling / disabling apps from the command-line"
### Steps to reproduce
1. Make sure you have installed APC in ownCloud (checked with APCu installed php5-apc package in ubuntu 14.04)
2. Go to the settings apps (enabled section) and then change to the disabled section
3. From the command-line enable a disabled app
4. Go to the settings apps - enabled section

### Expected behaviour
App should appear as enabled

### Actual behaviour
App still show

[2015-04-01 13:21] LukasReschke commented on #15359
Needs to call https://github.com/owncloud/core/blob/0af2dc7d3775f5d40cdfd3fe0cd4325abd6ce40d/settings/ajax/disableapp.php#L34-L36 then

[2015-04-01 13:22] nickvergessen commented on #15297
@jancborchardt can you help here?

[2015-04-01 13:23] schiesbn opened #15361 "Sharing a file add multiple "(2)" to the file name"
If I share a file or folder multiple "(2)" gets added to the file for the recipient, even if there is no name conflict. If the recipient logout and login ownCloud adds again some "(2)" so that the filename gets longer and longer.

I experienced this behaviour with current master.

cc @PVince81 @icewind1991 afaik you made some changes to the way the shares gets mounted and conflicts get resolved. C

[2015-04-01 13:27] nickvergessen commented on #15359
Should do that in `OC_App::disable()` actually

[2015-04-01 13:50] schiesbn commented on #15361
I will debug it... seems to happen only on one of my branches based on master

[2015-04-01 14:17] schiesbn commented on #15361
It only happens here https://github.com/owncloud/core/pull/14472 if encryption is enabled because setupFS() get's called multiple times. But within the OC\Filesystem code for example if the encryption does a ````$view->file_exists($encryptionKey);````

As a short work arround I did this https://github.com/owncloud/core/commit/65150e050536c339bc434638e4fd1ddb7493ff84 so that I can continue to work

[2015-04-01 14:22] Orbital-Bit opened #15365 "External Storage - Files over 6MB upload fails"
### Steps to reproduce
1. Configure Google Drive as External Storage
2. Attempt to upload or sync file to External Storage Google Drive larger than 6MB

### Expected behaviour
Files over 6MB should upload or sync, as files under 6MB do.

### Actual behaviour
via website: the upload progress bar hangs/stops at 100%, and log shows;
Error	 PHP	Out of memory (allocated 25165824) (tried to allocate 944

[2015-04-01 14:32] nickvergessen commented on #15343
Works quite fine here with current master and the current client.
Please use the issue template:
https://raw.github.com/owncloud/core/master/issue_template.md

[2015-04-01 14:38] nickvergessen commented on #15365
Looks like you only have 16MB of ram for your php?

[2015-04-01 14:46] Orbital-Bit commented on #15365
this is shared hosting and i do not have direct access to many things (SSH, SQL superuser, etc)
i previously added following parameters to .htaccess;
php_value post_max_size 513M
php_value memory_limit 512M

[2015-04-01 15:03] mgriego commented on #14754
@DeepDiver1975 Yes, and I saw the apps that were being disabled for a brief moment before the page redirected away.  So, #14569 is certainly a step in the right direction.  When I got hit by this, I immediately went to the OC log to see what it had disabled, thinking that *surely* it logged its actions like any well-behaved app..........

[2015-04-01 15:05] mgriego commented on #14754
My 2 cents... if OC is to be a cloud for the masses solution, it should warn *before* doing something like this (*despite* putting it in the rarely-read docs), and it should be able to tell you what it did after the fact, so you can correct/reconfigure anything that changed.  That's just good UX.

[2015-04-01 15:07] meichenberger commented on #7719
With ownCloud 8.0.2 you only need to add the following line to your vhost.conf file:
[code]

Software versions used:
- Linux Gentoo 64-bit with 3.10.56 Kernel)
- ownCloud 8.0.2
- Apache 2.4.12
- php-fpm 5.6.6

A complete working example:
[code]

Please update the documentation:
https://doc.owncloud.org/server/8.0/admin_manual/installation/source_installation.html

[2015-04-01 15:11] wpoely86 commented on #7719
@meichenberger That's because you run Apache 2.4.12 and php 5.6.6. On RHEL 7.x (and all it's derivatives), we don't have that and that's why we need a patch. The patch of @niobos works around a bug in apache/php that's already fixed upstream but not backported to RHEL.

[2015-04-01 15:21] Norahy opened #15368 "Error occurs when the share link checkbox is unchecked and checked"
1. Share a file via link and password or use an already shared file
2. Unshare the same file by unhooking the  checkbox
3. Directly share it again -> First error: the password placeholder shows the wrong placeholder (*****)    instead of "Choose your password"
4. Unshare it again (without leaving the dropdown menue) --> Second error:  "Error while unsharing"

It seems like the password which was s

[2015-04-01 15:23] KeMBro2012 commented on #14754
@mrlego that was my point when I first complained about it. Rather than taking the easy way out and saying "well,, other developers can't be assed to maintain theit projects correctly, so we're going to disable all 3rd party apps and break your OwnCloud install *for certain*, on the off chance that you have an incompatible app that *might* break it", the correct response (IMO) would be to warn (an

[2015-04-01 15:59] meichenberger commented on #7719
@wpoely86: Sorry, my bad! The update of the documentation for the more modern Linux distributions would still be nice ;-)

[2015-04-01 16:03] RealRancor commented on #7719
@meichenberger
Requests for updating the documentation should be handled in https://github.com/owncloud/documentation/issues

[2015-04-01 16:06] wpoely86 commented on #7719
@meichenberger on a slight related note, if you are running such a recent version of apache, why not use something like
[code]
Much nicer than the `ProxyPassMatch` stuff IMHO.

[2015-04-01 16:07] RealRancor commented on #15347
@oparoz
It should also work for "non-official" 3rdparty apps IF they are approved in the appstore. If the approval of new app is working as expected you shouldn't even have to install the apps manually.

But sure, an additional entry in the info.xml is probably the best choice here.

[2015-04-01 16:19] gnuppek commented on #15280
@LukasReschke Since Calendar and Contacts are supported in the EE, I thought it might work in the Community Edition too. I just didn't expect two separate apps for each of Calendar and Contacts with codebases that different. Too much effort to maintain. Maybe I'm wrong. The other explanation might be: It doesn't work for EE either and nobody ever noticed...

[2015-04-01 16:21] LukasReschke commented on #15280
They ar enot.

[2015-04-01 16:22] LukasReschke commented on #15280
https://owncloud.com/lp/owncloud-server-or-enterprise-edition/

[2015-04-01 16:29] karlitschek commented on #15368
@schiesbn can you have a look?

[2015-04-01 16:36] bvkuik commented on #15318
![email-field](https://cloud.githubusercontent.com/assets/9094723/6946022/c84ccbb8-d89d-11e4-9f33-7a78c4616ee8.png)
![code-email-field](https://cloud.githubusercontent.com/assets/9094723/6946021/c84bc22c-d89d-11e4-8337-8b81508979ea.png)

The first image shows the empty field after set up, when filling in my email the label 'Saving ...' appears but it never saves. Second image of DOM for this field

[2015-04-01 16:41] RealRancor commented on #15365
Hi,

a memory limit of 16MB definitely won't work for ownCloud. Where the parameters from your .htaccess used?

[2015-04-01 17:11] jerrac commented on #14553
@PVince81 Thanks for the advice. Unfortunately customizing our OwnCloud implementation like I wanted to was pushed to the back burner here at work. As you can tell by how long it took me to reply... Anyway, I'll revisit this issue if I ever have time to work on it.

[2015-04-01 17:11] #14553 closed

[2015-04-01 17:35] mikew commented on #10907
Apologies, I did look into the source but unfortunately do not have the time to tackle this.

[2015-04-01 17:38] RealRancor commented on #15044
@juliogilabert
The php ones are already in for OC8.0.3: https://github.com/owncloud/core/issues/15231

[2015-04-01 17:40] Orbital-Bit commented on #15365
only .htaccess at the root of ownCloud installation was modified with those values.
phpinfo reports memory_limit	120M for local and master value.

[2015-04-01 17:42] kaplandani opened #15371 "trashbin size ignores quota rules"
server version is 7.0.3 on CENTOS 7.0
php version is 5.6

the user's quota is 10G. most his files are access with a share from another user.
the user's files_trashbin  folder is 732 GB !!!

I am not sure what happened there....

[2015-04-01 18:01] Xenopathic commented on #15318
Cannot reproduce on master or stable8

[2015-04-01 18:06] KeMBro2012 commented on #14754
@karlitschek that's the app developer's problem, then. Do a bit of validation in the apps market, read the app's manifest and if it's invalid or missing some compatibility info, note that on the app's page, or, you know, *reject the submission until they manage to submit it correctly*. Do some basic quality control on the apps that are offered through the OwnCloud market and provide prominent warn

[2015-04-01 19:29] noerdi opened #15373 "local external storage folders "appear transparent""
### Steps to reproduce
1. fresh installation of owncloud 8.0.2 with dedicated MySQL DB on raspberrypi model B
2. only aditionally installed app: external storage support
3. mount an 128GB usb stick to "/media/music/"
4. chown -R www-data:www-data /media/music
5. chmod -R 0755 /media/music
6. add smb share for that folder, smb-user is www-data
7.  add the mounted volume as external storage via admi

[2015-04-01 19:53] razyr commented on #15189
As a temporary measure I removed the quota from all users.  This is allowing new files to synch, however the files which failed earlier are all marked with a nice big red X.   The OwnCloud folder itself shows that everything is synched.

How can my clients ensure that ALL of their files are correctly synched?

They have almost 7,000 files across many directories.   I can't ask them to check every

[2015-04-01 20:50] joschal commented on #14911
@VicDeo No, I can't.

[2015-04-01 21:47] oparoz commented on #15347
@RealRancor - What do you mean approved? The app manager is a ghost town compared to what's available on the appstore.
Multimedia: Empty
PIM: 2 official apps
Productivity: 2 official apps
Game: Empty
Tool: 1 unofficial app
Other: 1 official app

90% of these apps came with the distribution, so that means we're only getting 1-2 apps made by 3rd parties.

info.xml already has everything needed. The

[2015-04-02 01:07] karlitschek commented on #15274
@LukasReschke This is now implemented.
The return values in the approved field are as recommended by you.

But I would recommend to use a different filter approach for backward compatibility reasons. If you use the current query (no additional parameter) then you get the current result (only approved apps).
But you can pass an approved=all parameter and then you get all, event the unapproved ones.

[2015-04-02 04:38] RealRancor commented on #15347
@oparoz

See this recent discussion at the ML:

http://owncloud.10557.n7.nabble.com/Visibility-of-apps-published-in-the-quot-app-store-quot-td14842.html

[2015-04-02 05:08] oparoz commented on #15347
Thanks. I'm glad this is going to be sorted for 8.1.
And hopefully the app manager will be able to parse the info.xml in 8.2

[2015-04-02 06:23] nickvergessen commented on #15318
Me too.

[2015-04-02 08:04] LukasReschke commented on #15274
Sure. That works for me as well. Let me implement some magic then so that we can do some testing and hopefully get this in.

[2015-04-02 08:35] bigbang55 commented on #14187
I probably have no business here, since I don't actually use Owncloud, but I just wanted to thank you guys for the insights and solution. I've been having this exact same problem for almost two week now, on a extremely busy website that I run with Nginx+PHP-FPM. After several days of testing with no success, upgrading the PHP from 5.5.9 to 5.6.7 (APC enable as well) did the trick. Anyway, thank yo

[2015-04-02 10:13] st-rupp commented on #15343
Hi there,
I can confirm the issue, just happened to me as well, tried 3 times to make sure.

Behavior:
Folder content disappears after renaming the folder with the web client.
(The folder is deleted from all clients <-- no clients were active so not tested)

After a manual rescan of only the affected user's files the folder was back, tried to rename again, same behavior, another manual rescan and

[2015-04-02 10:19] oparoz commented on #15274
There is a problem with the way rating works. It currently starts at 50%, so a new app is immediately regarded as being average. If I see an app with 3/5 stars on the Play store, I simply avoid it.

[2015-04-02 10:58] LukasReschke commented on #15274
Some changes are at https://github.com/owncloud/core/pull/15314 - a next step from my PoV would be to  check all applications to ensure that they are still at the right level.

i.e. for my "Bookmarks" is not a central application and is also not really maintained, we can downrate this to "Approved" and just ensure a proper communication of that in a blog post or so when we release 8.1 – we might a

[2015-04-02 11:13] Vinschni commented on #15343
Updated information according to the issue template.

[2015-04-02 11:20] highcurrent opened #15374 "SQL Error. Update 7.0.4 to 8.0.2"
Hi,
when I try to update my OC I get following message:

An exception occurred while executing ' UPDATE `oc_filecache` SET `mimetype` = ( SELECT `id` FROM `oc_mimetypes` WHERE `mimetype` = ? ) WHERE `name` LIKE ? ' with params ["application\/vnd.openxmlformats-officedocument.wordprocessingml.document", "%.docx"]: SQLSTATE[40001]: Serialization failure: 1213 Deadlock found when trying to get lock;

[2015-04-02 11:22] mmattel opened #15375 "Fatal error messag log entry when enabling files_external"
Ubuntu 14.04 nginx 1.7.11 MySQL
oC from git master updated today

When I enable files_external, I get a error message logged:

Fatal	core	Invalid OCS content returned for app files_external

[2015-04-02 11:47] LukasReschke commented on #15374
Thanks a lot for reporting issues back to us!

We need some more information to properly support you with your issue!

Can I ask you to follow our guidelines for submitting bugs as described here: https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

Furthermore when you are using MySQL please run `SHOW ENGINE INNODB STATUS` and report the returned values.

[2015-04-02 11:48] LukasReschke commented on #15371
@schiesbn Any idea?

[2015-04-02 11:55] jospoortvliet commented on #15274
@oparoz we should indeed consider the rating unreliable unless there have been 5 or more votes... Not sure how to implement that in practice though.

@LukasReschke :+1: on those thoughs, yes.

[2015-04-02 12:14] DemisBand opened #15377 "Error Enabled Apps per groups"
### Steps to reproduce

1. Enable Apps with "Enable only for specific groups "
2. Add several groups

### Expected behaviour

The apps are only enabled for these groups

### Actual behaviour

When there are multiple configured groups (local or LDAP), apps do not appear.

### Server configuration

Debian 7.5
Apache2
MySQL
5.4.39
Owncloud 8.0.2
Fresh install
User-backend : LDAP/ActiveDirectory

[2015-04-02 12:21] highcurrent commented on #15374
So I hope you can help me better:

### Steps to reproduce
1. Now I can't. I get a blank page
2.
3.

### Expected behaviour
Back to login page

### Actual behaviour
If I call my website it appers a blank white page

### Server configuration
**Operating system**: It is a Webspace. (Linux dd35336 3.13.0-48-generic #80-Ubuntu SMP Thu Mar 12 11:16:15 UTC 2015 x86_64)

**Web server:** Apache 2

**Databa

[2015-04-02 12:23] nickvergessen commented on #15343
@st-rupp do you have a `Serialization failure: 1213 Deadlock found when trying to get lock; try restarting transaction` entry aswell in your owncloud.log?

[2015-04-02 12:49] MorrisJobke commented on #13862
Fix is in #15332

[2015-04-02 12:54] nickvergessen commented on #15337
@jnfrmarks did you ever manage to get the problem on anything apart from mysql?
I seem to be unable to get neither the deadlock nor the "go away" exception on postgres e.g.

[2015-04-02 13:06] Vinschni commented on #15343
Yes. The owncloud-log in my post above does contain "Serialization failure: 1213 Deadlock found when trying to get lock; try restarting transaction"

[2015-04-02 13:07] DaDirnbocher commented on #14336
@Metal-Frog have a look here: http://wiki.goneo.de/owncloud_install_apps

I think world4you doesn't allow allow_url_fopen.

[2015-04-02 13:13] st-rupp commented on #15343
No, I don't. See today's log attached. I tried it between 10:30 and 12:30...

[2015-04-02 13:24] jnfrmarks commented on #15337
I only ran this on mysql.

[2015-04-02 13:28] karlitschek commented on #15377
@jnfrmarks Can you help reproducing this ?

[2015-04-02 13:29] nickvergessen commented on #15377
I'm on it, fixed this on master last week... but its not a straight forward backport

[2015-04-02 13:32] karlitschek commented on #15375
Can you post a full bug report using the issue template please?

[2015-04-02 13:43] shanecentre opened #15379 "Undelete not working with Swift as primary backend storage"
When files are deleted though sync client, web interface or mobile app the file is immediately removed from the swift back-end storage without fallowing the undelete rules in 8.0.2.  Undelete works as expected in using local storage.

[2015-04-02 14:00] karlitschek commented on #15379
yes. this is a known limitation of the current implementation.

[2015-04-02 14:18] szikra commented on #14852
"disable the calendar and contacts app before upgrading"
That would have been good to know... before upgrading! >:(
Deleting them helped though, thank you. :) :+1:

[2015-04-02 14:24] gig13 commented on #13533
@blizzz
ping!

[2015-04-02 14:28] mmattel commented on #15375
### Steps to reproduce
1. Install oC from git
2. Enable files_external

### Expected behaviour
No error

### Actual behaviour
oC Error Log: Fatal core Invalid OCS content returned for app files_external

### Server configuration
**Operating system**:
Ubuntu 14.04
**Web server:**
nginx 1.7.11
**Database:**
MySQL 5.5.41
**PHP version:**
PPH 5.5.9, php-apcu version: 4.0.6-1

**ownCloud version:** (se

[2015-04-02 14:29] RealRancor commented on #15379
Hi,

not absolutely sure but i think this is already discussed here: https://github.com/owncloud/core/issues/10328

[2015-04-02 14:38] DeepDiver1975 commented on #15375
The app installer is reaching out to the appstore to check for updates - as there are non the content is empty. This error message should not be fatal

[2015-04-02 15:01] arusa commented on #13543
I just upgraded owncloud with the updater app and now I only get an empty page when I access my installation with my webbrowser.

The logs are showing:

PHP Fatal error:  Class OCA\\Contacts\\Share\\Addressbook contains 1 abstract method and must therefore be declared abstract or implement the remaining methods (OCP\\Share_Backend::isShareTypeAllowed) in /var/www/owncloud/apps/contacts/lib/share/a

[2015-04-02 15:12] colomailbe opened #15381 "Problem in activity notifications by email"
System info: OC 8.0.2 / Apache2 / MySQL 5.6.17 / PHP 5.6.1
cron.php: run by crond
mail system: smtp with TLS

Here's the scenario to explain what happens:
(with all notifications enabled in mail and stream for both users):

On Day1, UserA creates a folder "ToUserB" and share it with UserB
-> UserA receive notification (mail body: * You created "ToUserB" * You shared "ToUserB")
-> UserB don't recei

[2015-04-02 15:32] chrisys commented on #15313
Just as an addition to @reneglauser 's comment - I too am experiencing the exact issue as described. I need to use $user in the subfolder path but it does not seem to be working. The other scenarios exactly as described work for me but when using the $user variable they do not.

[2015-04-02 15:47] OliverKohlDSc commented on #9832
@PVince81
I'm not quite sure if it's a good idea to just hide the error or switch to a lower logging level. From a dev's point of view fact is that the error is valid. A user might be annoyed to never get a file uploaded.

[2015-04-02 15:48] DeepDiver1975 opened #15382 "Storage::file_put_content return wrong in PHPDoc - implementations have to be checked as well"
see https://scrutinizer-ci.com/g/owncloud/core/inspections/6cf4248d-d123-438d-a243-6521856b1e86/issues/files/lib/private/files/storage/wrapper/encryption.php?status=new&orderField=issueCount&order=desc#inspectioncomment-699654580

@icewind1991

[2015-04-02 15:52] iliyasbasir commented on #15286
@PVince81 : If user lost their old password ...they lost there share forever  ...they can not get back there share in encrypted world?

[2015-04-02 15:58] mmattel commented on #15375
@DeepDiver1975
This is true and should be imho Info.
In addition, the message content it self is confusing, and does not fit to your explanation why it is triggered.

[2015-04-02 15:59] DeepDiver1975 commented on #15286
if key recovery is not enabled - no - as stated: this is the way it is with encryption

https://doc.owncloud.org/server/8.0/user_manual/files/encrypting_files.html#recovery-key-password
https://doc.owncloud.org/server/8.0/admin_manual/configuration_files/encryption_configuration.html#enabling-a-file-recovery-key

[2015-04-02 16:03] DeepDiver1975 commented on #15375
for sure

[2015-04-02 16:29] nickvergessen commented on #15337
I can't find the cause of this.
I added some debug modifications and this is the backtrace I get:
[code]

https://github.com/owncloud/core/compare/smashbox-debug-temp

The problem again is that on insertIfNotExists() it can't insert, but getId() fails aswell. The actual problem is that the insertIfNotExists() should work, because the table content at that point does not have an entry with the prob

[2015-04-02 16:31] nickvergessen commented on #15381
Does UserB have a email address set as well as selected the relevant types in the personal section?

[2015-04-02 16:44] nickvergessen commented on #15337
I made a PR to update the exception messages a bit:
https://github.com/owncloud/core/pull/15383

[2015-04-02 16:45] colomailbe commented on #15381
Yes UserB have email address set (and like UserA, he also receive by email only his own changes).
Both have under "Login > Personal > Notifications" everything checked except "Notify about your own actions via email". I admit, I haven't test yet with that option enabled, maybe that'll do the trick and will "Notify about others actions via email" :-) I'll keep you posted.

[2015-04-02 18:02] reneglauser commented on #15313
I think now to know why it does not work on my side. My internal user ids of my ldap-users in owncloud are different then the users login name. But my subfolders I would like to access are the same as the users login name. So I think I should have the possibility to change the content of $user variable that it corresponds to my users login name....is this possible?

[2015-04-02 18:09] oparoz opened #15384 "Move mimetypes.list.php to a text file in /config"
It can take between 1 to 6+ months for a user to have access to a new media type, simply because `core` has to be hacked for that.

I propose we move the list to a simple text or php file in the config folder so that users can upgrade the list as they see fit.
The cron job can keep the cache updated and simple media type migrations could be performed on the fly.

Is there some big invisible hurdle

[2015-04-02 18:42] mmattel opened #15385 "Exlude particular directories from beeing viewed, accessed and scanned"
I came across this when I did some debugging on SMB, but this is not limited to.

My external storage is capable of snapshots. These snapshots are present in each directory and have as entrypoint a particular directory name. I can enable the view on this directory from the storage point of view, then when you browse with your desktop and enter the snapshot directory name, you can walk into. If I d

[2015-04-02 19:51] cbhp commented on #13953
This programming error generated a 1.3 Terabyte big owncloud.log on my disk with millions of lines for the readdir() issue, because the while loop ran infinite.

version:
$OC_Version = array(8,0,0,7);
$OC_VersionString = '8.0';
$OC_Channel = 'stable';
$OC_Build = '2015-02-07T02:34:55+00:00 df2808eec840c033b952e001ee8a063a93fae417';

[2015-04-02 20:05] AW-UC commented on #13953
@cbhp Please post that log, so it can be used for debugging ;-)

[2015-04-02 20:24] ddxor commented on #15322
Submitted a PR to address this issue

[2015-04-02 20:30] Xenopathic commented on #15313
AH, that explains it. It reminds me of the very similar issue I ran into when creating SMB_OC in the first place: https://github.com/owncloud/core/blob/master/apps/files_external/lib/smb_oc.php#L50

[2015-04-02 20:40] Xenopathic commented on #15384
:+1: Mimetype/file extension associations are data, not code, so shouldn't be stored in the code.

[2015-04-02 20:48] colomailbe commented on #15381
And funily enough enabling "Notify about your own actions", enables the notification of what other people shared to you. So there's already a quick workaround but the code should be adapted to work the other way around (read as intended ;-) Anyway thanks nice open-source dev!

[2015-04-02 22:29] felikz3 opened #15388 "Update from 8.0.1 to 8.0.2 crashed (missing files?)"
I've updated my owncloud 8 to the latest version today with the online update tool. At some point the updater page said that I should manually reload the page in my browser.
I did that and I got a HTTP Error Code 500 (Internal Server Error). Waited for a couple of minutes and reloaded the page multiple times, no change, always 500. Therefore, after 10 minutes I killed the php process. Then, the Ow

[2015-04-02 23:19] felikz3 commented on #15388
Update: I ran the occ upgrade once more and after a few hours I got this:
[code]

What can I do about it?

[2015-04-03 06:39] ervee commented on #7769
I think I found a solution and I'm testing it now.

For my installation MariaDB has a default statement-based binary logging format configured. This triggers the unsafe statement logs. Perhaps OwnCloud should not do transactions which are unsafe in this statement-based binary logging format, but I'm neither programmer nor a DBA, so...
More info in the topic here: https://mariadb.com/kb/en/mariadb/

[2015-04-03 07:36] mmattel commented on #15313
@Xenopathic
We could think of a additional functionality like:

- if subdirectory parameter has set $user
- if a checkmark in the mount option (to be created) is set
- then try to create the subdirectory on access, if it does not exist, if base share is writable
Then you never have an access problem and it is it is immediate recogizable which user-id/name ect triggers it.

What do you think?

[2015-04-03 07:42] gillesdeloustal opened #15389 "upgrade from 7.0.4 to 8.0.2 crashed"
Hi
I was owncloud 7.04 on a mutualized, oc-client 1.7.1, php 5.4 mysql 5.1

I've backup'd database, config and data folders. Data folder was in owncloud folder
I've renamed owncloud follder in owncloud7
I've uploaded vesion 8.0.2 owncloud folder to www
I've moved the data folder to www and modified config.php accordingly. I've uploaded config.php to config folder and restarted.
I got a message "ow

[2015-04-03 08:14] LukasReschke commented on #15388
Please upgrade following the documentation which says you have to remove all applications before and then reinstall it. You likely have apps installed that are not compatible yet or ab ilder version.

For example the contacts and calendar app should be installed from the AppStore now.

[2015-04-03 08:17] MorrisJobke commented on #15322
PR: #15387

[2015-04-03 09:06] RealRancor commented on #15388
@LukasReschke
Seems the OP was already at OC8 when reading the topic title so the apps shouldn't be the problem here?

[2015-04-03 09:28] Metal-Frog commented on #14336
@DaDirnbocher That's it. Thanks alot. Especially for the tutorial for manual installation!!!

[2015-04-03 10:14] mmattel opened #15390 "oc_filecache and oc_storages cleanup"
Ubuntu 14.04, nginx 1.7.11, MySQL
ownCloud 8.1 pre alpha (git), updated yesterday,  no encryption, additional enabled apps: files_external

Question:
I add a external mount, eg SMB, let eyerything scan so that the oc_filecache table gets filled up.
I can browse in owncloud, I see in the database in table oc_filecache and oc_storages the corresponding entries.
When I delete the external mount, it i

[2015-04-03 12:07] jnfrmarks commented on #15337
Some info, not sure if it's helpful:

I found out I was testing the client from a 32 bit box.  I also only had 20 G of disk space.  On that box, it seemed that I could produce the error within 10 runs of my tests.  When I switched to a 64 bit box with 100G of disk space, it took longer to happen - maybe 30 to 40 runs.  I'm not sure if this helps any but wanted to add the info, just in case.

[2015-04-03 16:18] jancborchardt commented on #15322
I'm not sure showing icon _and_ text is a good solution here. It would be the only item in the sidebar with both, giving more importance to the entry than it deserves. Maybe text only is a good call.

However, @bnvk it seems you had a very specific issue in this case. It was in the Contacts app, and you wanted to find how to sync your contacts, right?

[2015-04-03 16:43] bnvk commented on #15322
@jancborchardt nah, it wasn't specific to contacts, I honestly just didn't notice the gear icon at all in any of the apps for a while as I was exploring how to add, import, configure my virutally empty ownCloud instance.

But re: `"the only item in the sidebar with both"` maybe in Files or Calendar, but the Contacts app has "+" icons:

![screen shot 2015-04-03 at 6 32 33 pm](https://cloud.githubus

[2015-04-03 18:30] gig13 opened #15392 "Unable to connect to ftps server using External Storage App"
**Expected Behavior**
Setup the External Storage to access an ftps server with appropriate credentials and connect without issue.

**Actual Behavior**
The connection fails when attempting to connect. A connection can be made through FileZilla tool without issue using the correct port and credentials.

**Server Configuration**
OC8.0.2
CentOS 6.6
Apache 2.4 server
php 5.5 (details on s3 link)

Log f

[2015-04-03 18:33] rbcouture opened #15393 ".."

[2015-04-03 18:38] gig13 commented on #15392
I also failed the connection from an Ubuntu server with OC802 and php 5.5.9.

[2015-04-03 18:45] Xenopathic commented on #13485
In 8.x this won't be a problem anymore, due to @icewind1991's new library that doesn't register a stream wrapper. In oC 7 this problem will continue (and likely get worse as servers and shared hosting update cURL versions)

[2015-04-03 18:47] #15393 closed

[2015-04-03 18:48] Xenopathic commented on #15392
@gig13 Could you post the log file here for the benefit of those who don't have access to S3 (like myself :smile:)?

[2015-04-03 18:53] Xenopathic commented on #15313
@mmattel You mean like your enhancement report over at #12836 ? :laughing:

[2015-04-03 19:37] gig13 commented on #15392
@Xenopathic
I had to scrub some info, here is a snippet.

[code]

[2015-04-03 19:41] gillesdeloustal commented on #15389
I uploaded data in the owncloud folder and everything is ok. I'm going to see how to get data folder out of owncloud folder now

[2015-04-03 19:41] #15389 closed

[2015-04-03 20:51] #11270 closed

[2015-04-03 20:53] angico opened #15394 "Help changing admin password without email registered"
Hi! I'm trying to reset my admin's password, but the system reports there's no email for that user. How could I insert such an email address right in the database?

Many thanks in advance!

[2015-04-03 20:54] DeepDiver1975 commented on #15394
[code]

[2015-04-03 20:54] DeepDiver1975 commented on #15394
you can use the console

[2015-04-03 20:54] #15394 closed

[2015-04-03 22:18] Xenopathic commented on #15392
Does your FTP server use an 'official' SSL certificate or a self-signed one?

[2015-04-03 22:20] Xenopathic commented on #15390
Duplicate of #10820

[2015-04-03 22:20] #15390 closed

[2015-04-03 22:46] jospoortvliet commented on #15321
#14383 might be helpful for this too.

[2015-04-03 23:36] Volker-E commented on #13708
Seems like my last comment didn't get through:
@jancborchardt I think that 'intelligent' text sizing based on `v*` unit sizes  can help in certain cases, right now browser support isn't great and it disables the ability to zoom in current implementations (which wouldn't be affecting ownCloud due to `maximum-scale=1`).
Two more things to take into account with inputs are longer strings then a text

[2015-04-03 23:56] Volker-E opened #15396 "Accessibility of userlist table should be improved"
The current implementation of the `userlist` table (templates/users/part.userlist.php) misses `scope` attributes on the `th` elements. Moreover there should be one `th` per row. IMHO it should be the name element.

Further information at: http://webaim.org/techniques/tables/data

[2015-04-03 23:57] Volker-E commented on #15396
Connected to #13708

[2015-04-04 00:06] Volker-E opened #15397 "Markup Cleanup of userlist table"
The markup should be cleaned and have unified identation, quotation marks and so on.

[2015-04-04 00:06] Volker-E commented on #15397
Kinda connected with #15396

[2015-04-04 00:49] RealRancor commented on #15392
SElinux enabled? https://github.com/owncloud/documentation/pull/969 , https://github.com/owncloud/core/issues/15040#issuecomment-83752716

[2015-04-04 03:36] Volker-E opened #15399 "Cleaning up `autocapitalize="off"` in files"
`autocapitalize="off"` is [deprecated since iOS 5.0](https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/Attributes.html).
Moreover it is inherited from the enclosing `form` tag, so the current `autocomplete="none"` should be set just once at the parent `form`

Currently in core it occurs 20 times in 6 files.

[2015-04-04 03:53] Volker-E opened #15400 "Improvement JS Management"
This is a general collection issue with current state of handling and including JS files in ownCloud.
The [demo (ownCloud 8)](https://demo.owncloud.org/) uses in the /apps/files/ view **73 JS files with (partly) unminified 2.2 MB of data**.

From a front-end dev point of view with 2015's best practices in mind, I'm convinced that there's a necessity to critically question the inclusion and handlin

[2015-04-04 08:41] Colely commented on #14790
I tried S2S sharing with a folder from an owncloud 7.02 Server to a 8.02 Server, imported the self-signed certificate and made your alteration, but it still doesn't work. Is there a way to fix this?

[2015-04-04 09:49] DeepDiver1975 commented on #14790
@LukasReschke certs'n'stuff - thx

[2015-04-04 09:53] DeepDiver1975 commented on #15399
@jancborchardt

[2015-04-04 09:59] mmattel commented on #15313
Yes :smile:

[2015-04-04 11:46] Xenopathic commented on #14058
This was implemented as part of #11884 - awesome!

[2015-04-04 11:46] #14058 closed

[2015-04-04 12:06] LukasReschke commented on #15400
https://github.com/owncloud/core/blob/4996706078a901fa532b0fed0fb0bc264d1ba778/config/config.sample.php#L870-L874

[2015-04-04 12:35] oliwel opened #15405 "Missing delete permission on external share when parent is read-only"
### Steps to reproduce
1. Create /srv/private/ with read permissions for oc
2. Create folder /srv/private/shareme with write permissions for oc
3. Add /srv/private as external storage
4. Try to share "shareme" with another OC user
### Expected behaviour

Share options should include the "delete" permission, delete should apply to subfolders (deleting the parent share should not ne supported anyway

[2015-04-04 13:07] frenzis commented on #14023
@Aresinho

Better
[code]

[2015-04-04 16:39] petbadger commented on #14175
Just wanted to add that I had this problem too.  I was always having to restart Apache.   The fix in cyril23's comments worked for me.

[2015-04-04 16:48] RealRancor commented on #14175
@petbadger
Are you using OC 8.0.2? Normally this version should disable the broken APCu PHP module: https://github.com/owncloud/core/blob/v8.0.2/settings/admin.php#L87-L89

[2015-04-04 19:35] qnxor opened #15406 "external storage (Dropbox) cannot delete/change files using Client"
- latest stable server 8.0.2-8 on Ubuntu, Apache 2.4.12
- latest client 1.8.0-2
- one external storage folder on Dropbox, encrypted
- the above folder is shared with another user
- neither of us can delete any files that we add when using the desktop client (Windows and Linux) ... the client says "Not allowed to remove, restoring".

[2015-04-04 21:02] MartinNowack opened #15407 "Small wait timeout of MySQL kills many file operations - General error: 2006 MySQL server has gone away"
### Steps to reproduce
1. Set 'wait_timeout' to a *small* value e.g. 60 seconds (default is 28800 seconds)
2. Try to upload a moderate sized file (>5 MB) with a slow upstream connection

### Expected behaviour
The file should be uploaded successfully.

### Actual behaviour
The file is not uploaded

### Server configuration
**Operating system**: Linux

**Web server:** Apache

**Database:** Mysql 5.

[2015-04-04 23:47] angico opened #15409 "Can't create or upload files"
Hi!

I've upgraded my server to version 8.0.2 and now realized I just can't upload or create files in my owncloud.

I've already changed access modes on the entire data directory tree so that the web server user has the right privileges on them, but the issue persists.

Moreover, owncloud client on my computer just stopped sync'ing, as it also can't create or upload files to the server.

Any hints

[2015-04-05 00:13] Xenopathic commented on #15409
Could you please fill out the issue template (https://github.com/owncloud/core/blob/master/issue_template.md)? Thanks!

[2015-04-05 01:09] Volker-E commented on #15400
Yeah, that's an important step at the end of performance improvement cycle, but the sheer amount of 2.2MB of JS-only data is too much.

First view is very slow, in [this test at 7.8s](http://www.webpagetest.org/result/150404_8Y_NKJ/). And lots of that originates in JS handling.

Moreover concatenation isn't an answer to everything. There's a limit to when the files concatenation to one file is out

[2015-04-05 04:48] Volker-E opened #15410 "ownCloud Demo not reachable with Firefox 37"
[ownCloud Demo](https://demo.owncloud.org/) isn't reachable any more with Firefox 37. Seems due to HSTS policy changes.

[2015-04-05 07:52] RealRancor commented on #15410
Mhhh, works here with Firefox 37.0.1 on Linux (Debian) without a problem.

[2015-04-05 12:17] Xenopathic commented on #15410
Likewise - I can access it just fine, both with Firefox 36 and 37 (I updated right now). The HSTS policy won't have any effect on being able to access the site, it just restricts the validity of the SSL cert. If your browser doesn't accept the cert, the HSTS policy prevents you adding an exception. You might want to see if your certificate authority database is up to date.

[2015-04-05 13:10] mmattel commented on #15375
Just a reminder where to find the corresponding code segment:
https://github.com/owncloud/core/blob/a8b756154a533a2618f03c54aca56af957da12ae/lib/private/ocsclient.php#L207

[2015-04-05 14:46] angico commented on #15409
Hey, I have just finished running `occ files:scan` on my server and it seems it solved the problem. The message about having no permissions to create or upload files has just disappeared, and I could delete some folders and create other one via web interface with no problem.

I'm sorry for bothering you with my silly questions.

Many thanks!

[2015-04-05 14:46] #15409 closed

[2015-04-05 16:08] orion1024 commented on #106
Hello,

a new update.

The encrypted storage system (at least the core of it)  is stabilized as far as I am concerned, so I switched to making a graph that explains more visually how the system works.
The text document grew a bit too difficult to my taste and I thought a graph would help other people to understand it more easily.

You can get the current graph here : https://cloud.airmail.fr/index

[2015-04-05 16:24] apg1980 commented on #15410
you have to uncheck certificate ocsp server check, than it works again.

[2015-04-05 16:37] orion1024 commented on #106
Hello,

a new update. First, I dubbed the "ownCloud client-side encryption" feature as ownCrypt, for brievity sake. This will do at least as a temporary name.

The encrypted storage system (at least the core of it)  is stabilized as far as I am concerned, so I switched to making a graph that explains more visually how the system works.
The text document grew a bit too difficult to my taste and I t

[2015-04-05 19:44] Volker-E commented on #15410
Thanks for the inputs, works after 12 hours and restart. @apg1980 Where would that option be? Like described here: https://support.mozilla.org/de/questions/994264

[2015-04-05 19:44] #15410 closed

[2015-04-05 19:57] apg1980 commented on #15410
settings->cert area

[2015-04-06 06:34] pierre-alain-b opened #15412 "Log full of "message":"Accessing the API class is deprecated! Use the appropriate services instead!""
Hello all,

Since I updated from oC 7.0.4 to oC 8.0.2, I see tons of duplicates of the following message piling up in the owncloud.log:
<code>
{"reqId":"b9a02f2acae3f0cdec3189bc4f34edde","remoteAddr":"a.b.c.d","app":"no app in context","message":"Accessing the API class is deprecated! Use the appropriate services instead!","level":0,"time":"2015-04-06T06:27:08+00:00","method":"PROPFIND","url":"\/r

[2015-04-06 07:21] SergioBertolinSG opened #15413 "Style and some images are lost in Internet Explorer 8"
### Observed behaviour:

1.
![screen shot 2015-04-06 at 08 58 51](https://cloud.githubusercontent.com/assets/9048796/7001604/2c1982ce-dc3d-11e4-9522-3339b9fee8b8.png)

2.
![screen shot 2015-04-06 at 08 59 46](https://cloud.githubusercontent.com/assets/9048796/7001608/3d65d6b8-dc3d-11e4-9744-6bcea7c71e70.png)

3.
![screen shot 2015-04-06 at 09 00 32](https://cloud.githubusercontent.com/assets/90487

[2015-04-06 08:08] jvillafanez opened #15414 "Uninstalling an app is "successful" even though FS permissions doesn't allow it"
### Steps to reproduce
1. Install a 3rdparty app that can be uninstalled
2. Check the app permission in the apps directory, and verify that the apache user cannot delete the app folder (checked with www-data as apache user; the app folder belongs to my personal user)
3. Try to uninstall the app from the apps page
### Expected behaviour

An error is thrown warning that the app hasn't been deleted
#

[2015-04-06 08:21] jvillafanez commented on #15414
I've also checked with the correct permissions (changing the files owner to www-data) and the app still remains in the FS and reappears in the web interface

[2015-04-06 08:57] SergioBertolinSG opened #15415 "Drag and drop of a folder with special characters fails to upload."
### Steps to reproduce
Having a OC server with an account and logged in using chrome browser:
1. Upload a folder with special characters in the name using drag and drop.

### Observed behaviour:
Unknown error message appears, nothing is uploaded.

### Expected behaviour:
1. Folder is uploaded and structure is kept.
(Just in chrome by the moment because other browsers doesn't have this functionalit

[2015-04-06 09:33] Xenopathic commented on #15412
What apps have you got enabled?

[2015-04-06 10:13] Gabriel2000 opened #15416 "updating problem to 8.0.2"
When I update to 8.0.2 I get the following error:

An exception occurred while executing 'CREATE TABLE `oc_share_external` (`id` INT AUTO_INCREMENT NOT NULL, `remote` VARCHAR(512) NOT NULL COMMENT 'Url of the remove owncloud instance', `remote_id` INT DEFAULT -1 NOT NULL, `share_token` VARCHAR(64) NOT NULL COMMENT 'Public share token', `password` VARCHAR(64) DEFAULT NULL COMMENT 'Optional password

[2015-04-06 10:16] DeepDiver1975 commented on #15416
Db? Version?

[2015-04-06 10:29] RealRancor commented on #15416
Also please use the issue template provided here:

https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

as asked in the "guidelines for contributing" (linked in the yellow box when creating a new issue).

This includes mandatory questions about your environment like also asked above.

[2015-04-06 11:15] ghost opened #15417 ""Could not acquire a shared lock on the config file" exception"
Hi,

sorry currently not using the issue template because its not an issue of mine. But have seen this now several times for OC 8.0.x and want to report this. It seems that wrong permissions on the config file (or folder?) is thrown when some one is using either occ/console.php or cron.php like:

[code]

Sources:
https://forum.owncloud.org/viewtopic.php?f=31&t=27013#p81787
https://forum.owncloud.o

[2015-04-06 11:33] pierre-alain-b commented on #15412
Activity 1.2.0
Calendar 0.6.4
Contacts 0.3.0.18
Deleted files 0.6.2
Documents 0.9.0
External Sites 1.2
First Run Wizard 1.1
Gallery+ 2.0.7
Music 0.3.5
PDF Viewer 0.7
Share files 0.6.1
Text Editor 0.4
Updater 0.4
Versions 1.0.5
Video Viewer 0.1.3

All pretty standard except Music & Gallery+. I observed the message in the logs before installing Gallery+. But maybe Music?

Let me know your thoughts!

[2015-04-06 11:33] Xenopathic commented on #15417
The problem is, we can't write the error anywhere else at that point, since we couldn't read the configuration file and we might be in an undefined state. Trying to do anything smart there will result in corruption of some kind. The best we can do is abort the current execution by throwing an exception, and have that printed to the console or to the PHP error log.

However, this problem isn't actu

[2015-04-06 11:35] RealRancor commented on #15412
Hi,

yes. Music could cause this: https://github.com/owncloud/music/issues/345

[2015-04-06 11:37] Xenopathic commented on #15412
We shouldn't really ever spam messages to the log, especially if the message is one about deprecated APIs. Suggest we implement some kind of throttling, say to only print such messages every minute or so instead of on every request? In addition, that message isn't very useful - an app at least would help tremendously. cc @LukasReschke @DeepDiver1975 @MorrisJobke

[2015-04-06 11:38] RealRancor commented on #15417
Mhhh, the main problem here is that most users can't interpret this error/exception. But if its possible to fix the initial problem:

and throw a meaningful exception that the user has to fix some permissions it would prevent a lot of trouble.

[2015-04-06 11:42] RealRancor commented on #15412
Isn't it so that the message are only shown if the loglevel is on DEBUG ("level":0) which shouldn't be used in a productive environment anyway?

[2015-04-06 12:23] Gabriel2000 commented on #15416
Sorry,

Operating system: Windows 2008R2
Web server: IIS
Database: MySQL 5.5.21
PHP version: 5.4

ownCloud version: 7.0.2
And I tried to update to 8.0.2

[2015-04-06 12:41] RealRancor commented on #15416
Hi,

try first to upgrade to OC 7.0.5 (latest point release) like described here:

https://doc.owncloud.org/server/8.0/admin_manual/maintenance/upgrade.html#upgrading-your-owncloud-server

[2015-04-06 12:46] pierre-alain-b commented on #15412
- I confirm that disabling Music makes the crazy logging stop.
- I confirm that this is only displayed in loglevel 0 ; sorry I forgot loglevel 0 was debug.

So the root cause is now identified. According to owncloud/music#345, the point should be addressed by the main developer of the plugin message in the near future.

Thanks to all for your help and comments.

[2015-04-06 12:46] #15412 closed

[2015-04-06 13:01] jvillafanez opened #15418 "Weird behaviour for logged in users in maintenance mode"
### Steps to reproduce
1. Log in with an user
2. From the OC command line, set the maintenance mode (`sudo -u www-data ./occ maintenance:mode --on`)
3. Do some ajax stuff with the logged in user (for example, in the files view, try to get the contents of a folder)

### Expected behaviour
You are kicked to the maintenance screen

### Actual behaviour
You stay in the page getting errors. For example

[2015-04-06 13:06] karlitschek commented on #15414
Technically this can´t happen because a newly downloaded and installed app has always the right permissions. The only way to get this error is to manually put an app into the apps folder with the wrong permissions.
Would still be good to improve the error message.

[2015-04-06 13:06] Gabriel2000 commented on #15416
With the update to 7.0.5 I have no problems. But then from 7.0.5 to 8.0.2 I get the following error messages

An exception occurred while executing 'CREATE TABLE `oc_share_external` (`id` INT AUTO_INCREMENT NOT NULL, `remote` VARCHAR(512) NOT NULL COMMENT 'Url of the remove owncloud instance', `remote_id` INT DEFAULT -1 NOT NULL, `share_token` VARCHAR(64) NOT NULL COMMENT 'Public share token', `pa

[2015-04-06 13:07] karlitschek commented on #15413
The EE theme is not yet ported to 8.1
@jancborchardt

[2015-04-06 13:17] jvillafanez opened #15419 "OC doesn't automatically redirect to the page after setting and unsetting the maintenance mode manually"
### Steps to reproduce
1. Log in with an user
2. From the OC command line set the maintenance mode (`sudo -u www-data ./occ maintenance:mode --on`)
3. With the logged in user, load another page. You'll get redirected to the maintenance screen
4. Unset the maintenance mode (`sudo -u www-data ./occ maintenance:mode --off`)

### Expected behaviour
The page is eventually refreshed, leaving the mainten

[2015-04-06 13:21] jvillafanez commented on #15419
It might be easier to change the message in order to avoid a big change

[2015-04-06 13:22] gig13 commented on #15392
@RealRancor
Disabled

[2015-04-06 13:29] gig13 commented on #13533
ping!

[2015-04-06 13:32] Gabriel2000 commented on #15416
And updating from 7.0.5 to 8.0.0 give the same error.

[2015-04-06 13:34] gig13 commented on #15392
@Xenopathic
self-signed

[2015-04-06 14:18] gig13 commented on #15392
When using FileZilla, the first time I connect, I am prompted for the certificate from the server. I accept, and then do not have it prompted again when using FileZilla.

[2015-04-06 14:42] RealRancor commented on #15392
Ah, then try to import the self-signed cert as described here:

https://doc.owncloud.org/server/8.0/admin_manual/configuration_files/external_storage_configuration_gui.html#using-self-signed-certificates

[2015-04-06 14:54] ogoffart commented on #12097
I allowed myself to change the tag from Enhancement to bug, since it is really a bug from the client perspective that big files cannot be uploaded.  (This is reported a lot in the client).

Really, we need to find a solution to this problem.  This (that the client already implement) or something else.

[2015-04-06 17:11] josh4trunks commented on #14160
this was fixed by https://github.com/owncloud/core/pull/14125
it should be available in 8.0.3

[2015-04-06 17:11] #14160 closed

[2015-04-06 17:13] josh4trunks commented on #14082
this was fixed by https://github.com/owncloud/core/pull/14125

[2015-04-06 17:13] #14082 closed

[2015-04-06 17:32] vgezer opened #15420 "Hardcoded documentation link"
We have a hard-coded documentation link [here](https://github.com/owncloud/core/blob/master/core/js/setupchecks.js#L64) and it is likely to be forgotten in the upcoming releases.

[2015-04-06 18:25] tjaehnel commented on #14790
My patch did not work completely, because some parts of the code relate on absolute, some on relative paths.
But it seems that commit 5f044ebf1bc6f45acec2e79dc05185acd0405f42 fixes this bug and makes things much more clean - so my solution is obsolete anyway.

As a *temporary workaround* until this commit gets into one of the next releases, open file [lib/private/security/certificatemanager.php](h

[2015-04-06 18:25] #14790 closed

[2015-04-06 18:44] Xenopathic commented on #15420
cc @LukasReschke

[2015-04-06 20:47] Dude4Linux commented on #14601
I just re-ran the test using 8.0.2 and experienced the same result, i.e. missing .htaccess

Starting with a stable installation of 7.0.2-1 on Debian Wheezy, I run the following commands to upgrade
[code]
When I run the last step I get

[code]
I think the problem may be that .htaccess is not marked as a config file in the owncloud 7.x.x package and hence it is removed when the owncloud package is u

[2015-04-06 21:01] Dude4Linux opened #15421 "Reopen #14601 .htaccess missing after Debian upgrade"
I just re-ran the test using 8.0.2 and experienced the same result, i.e. missing .htaccess

Starting with a stable installation of 7.0.2-1 on Debian Wheezy, I run the following commands to upgrade
[code]
When I run the last step I get

[code]
I think the problem may be that .htaccess is not marked as a config file in the owncloud 7.x.x package and hence it is removed when the owncloud package is u

[2015-04-06 21:32] blizz commented on #13533
Please close this thread and start one without including me in it.
ThanksBrett

     On Monday, April 6, 2015 7:29 AM, gig13 <notifications@github.com> wrote:

 ping!—
Reply to this email directly or view it on GitHub.

[2015-04-07 03:46] russianryebread commented on #13543
I am getting the error as well after using the `occ update` command.  Just upgraded on Ubuntu 14.04 from OC 7.0.4 to OC 8.0.2:

[code]

[2015-04-07 06:01] simsala commented on #14175
I also continued to have stability issues with apcu enabled and 8.0.2.
My impression is that 8.0.2 does NOT resolve the issue.

[2015-04-07 06:58] RealRancor commented on #14175
ownCloud can't fix an issue in APCu, it just can workaround problems by disabling APCu.

Could be useful to post which ACPu version you're using.

[2015-04-07 06:59] MorrisJobke commented on #13533
@blizz You can unsubscribe in the right panel. It's a simple button.

[2015-04-07 07:21] simsala commented on #14175
Using the version currently installed by Ubuntu 14.4:
apt-cache show php5-apcu
Package: php5-apcu
Priority: optional
Section: universe/php
Installed-Size: 306
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Original-Maintainer: Debian PHP PECL Maintainers <pkg-php-pecl@lists.alioth.debian.org>
Architecture: amd64
Source: php-apcu
Version: 4.0.2-2build1
Replaces: php-apc (<< 4

[2015-04-07 07:23] MorrisJobke commented on #15421
cc @jnweiger

[2015-04-07 08:05] LukasReschke commented on #13533
This might also help for the whole repository. Though untested: ![2015-04-07_10-01-01](https://cloud.githubusercontent.com/assets/878997/7019138/181b6ee2-dd0d-11e4-8f36-e4256ff19c27.png)

[2015-04-07 08:33] PVince81 commented on #15286
As discussed before with @MTRichards and @schiesbn we might want to enable the recovery key by default to make sure that this doesn't get forgotten.

[2015-04-07 08:42] PVince81 commented on #15286
This was suggested in this ticket: https://github.com/owncloud/core/issues/11948

[2015-04-07 08:47] reneglauser commented on #15313
for me it would be great, if the content of $user could be set individually with an ldap-field

[2015-04-07 08:49] tmahring commented on #13980
Hi
I'm getting the same error upgrading to 8.0.3 on debian.
However, I checked the database and oc_storage contains NO entries in the form of local::$olddatadir/$user, all entries are in the home:$user form.

All my users (besides admin) are stored in an ldap database, could this be the reason ?

[2015-04-07 09:16] DeepDiver1975 commented on #11948
@LukasReschke @jancborchardt can we add this as a hint to the 'tips&tricks' section?

[2015-04-07 09:18] nickvergessen commented on #15419
[code]

The problem is the `This page will refresh itself when the ownCloud instance is available again.` part is from the update (not maintenance only).
Changing the language will not be easy (it breaks all translations), but maybe we can just hide it, when the visitor is not the one who updates.

[2015-04-07 09:25] nickvergessen commented on #15418
pretty much the same problem like when LDAP and others are not there.
We need a wrapper in the get(), post(), ... methods in js to catch these cases and redirect.

[2015-04-07 09:25] nickvergessen commented on #15418
cc @MorrisJobke can you find the ldap exception issue for a cross link quickly?

[2015-04-07 09:27] PVince81 commented on #14702
Yes, that one

[2015-04-07 09:28] PVince81 commented on #9851
That's fine. Thanks for your feedback.

[2015-04-07 09:34] MorrisJobke commented on #15418
@nickvergessen #15332 or #15357 ?

[2015-04-07 09:39] PVince81 commented on #11444
@blizzz the plugin was written by us (by @icewind1991 actually), so feel free to fix it if needed

[2015-04-07 09:41] PVince81 commented on #13871
Likely to be related to https://github.com/owncloud/core/issues/13391

[2015-04-07 09:43] nickvergessen commented on #15418
The later one is what I was looking for

[2015-04-07 09:47] nickvergessen commented on #15417
https://github.com/owncloud/core/pull/15369

[2015-04-07 09:51] nickvergessen commented on #15416
Duplicate of #14916

[2015-04-07 09:51] #15416 closed

[2015-04-07 09:57] nickvergessen commented on #15415
Works here with Chrome on Unix with german Umlauts `öäüß`.

Can you post the name you where trying to use?

[2015-04-07 09:57] PVince81 commented on #11436
Closing hence. The upcoming OC 8.1 was upgraded to Sabre 2.1 which contains the fix.

[2015-04-07 09:57] #11436 closed

[2015-04-07 09:58] mmattel opened #15427 "Feature request: additional $user variable containing an assignable LDAP field"
Based on #15313

We have a oC user and, if enabled, a LDAP user.

Currently we assign the $user variable the oC logon user which can be used for eg SMB subfolder management.

It would be great to create an additional $user variant like `$user_ldap` with an definable LDAP field assigned to which can be used in the same way as $user.

Reason: The oC logon user name and the LDAP username used for sub

[2015-04-07 10:06] PVince81 commented on #15326
Oh, does it mean that Jenkins is finally having the same failing test as I had locally ?
Not sure whether I should feel sad or happy.

[2015-04-07 10:10] SergioBertolinSG commented on #15415
German characters fails for me, just uploaded a folder called björn.

Some headers from chrome:

[code]

[2015-04-07 10:10] nickvergessen commented on #15407
The error message is from the MySQL server, not from owncloud.
I'm not sure whether it is possible to send messages to the client, because in this case I think telling the user of the client to change the `OWNCLOUD_CHUNK_SIZE` is what should be done, (or even the server telling that to the client)

[2015-04-07 10:12] LukasReschke commented on #15415
Can confirm. "äaa" does not work in Chrome on 10.10

[2015-04-07 10:18] dragotin opened #15429 "occ: Ability to Check Server PHP Dependencies"
Feature request: occ should be able to report the dependency information that the server displays on the admin page, ie. *"php-fileinfo is not installed, please ..."*

It would be great if the same information could be checked by a call to occ. occ should report the findings in a somehow parseable format.

The reasoning is that it would enable us to do automatic checks if all requirements are met

[2015-04-07 10:18] PVince81 commented on #14754
Another alternative or next step would be to automatically re-enable the apps that were disabled (and make sure they got reassigned to the proper groups if applicable), and run the upgrade for those apps. This could be done after the core upgrade was successful.

[2015-04-07 10:24] PVince81 commented on #14754
Note that in my personal experience lately I almost always forgot to reenable the apps because I use "zypper update" to update my ownCloud, which also automagically runs "./occ upgrade". Only after I see weird error popups from KDE/Koragnizer I remember that I forgot to reenable calendar/contacts.

So I'm all for finding a proper solution for this.

[2015-04-07 10:26] PVince81 commented on #15352
That kind of thing needs to be tagged as "technical debt", not "enhancement" :smile:

I agree with you. Eventually we should make all JS code unit-testable with proper wrapping/encapsulation.

[2015-04-07 10:26] jvillafanez opened #15430 "propfind on webdav root results in a http 500 internal error when fc share is unavailable"
### Steps to reproduce
1. Do a PROPFIND on the webDAV root - something like "http://server/owncloud/remote.php/webdav/"
    Also checked with `curl -u <username>:<password> -X PROPFIND -H "Content-Type: text/xml" -d "<?xml version='1.0' encoding='utf-8' ?><D:propfind xmlns:D='DAV:'><D:allprop/></D:propfind>" <owncloud-server-url>/remote.php/webdav/`

### Expected behaviour
Valid webdav response

#

[2015-04-07 10:29] nickvergessen commented on #15430
That's a known issue. There is an idea to make a second entry point to check the etag of the root folder. @icewind1991 made a quick PoC for that IIRC.

[2015-04-07 10:34] PVince81 commented on #9893
@blizzz @icewind1991 any idea ?
Maybe the Doctrine migration is trying to do something incompatible.

[2015-04-07 10:35] MartinNowack commented on #15407
I'm aware that the error comes from the MySQL server. Still, the issue arises if uploading a chunk takes longer than the timeout of the SQL server (which is part of the OwnCloud backend). This is not handled correctly by the owncloud server itself. There is no activity by OwnCloud with the opened connection to the SQL server.

Imagine the following scenarios:
* you have a shared internet connectio

[2015-04-07 10:37] blizzz commented on #11444
no, it is http://www.erichynds.com/jquery/jquery-ui-multiselect-widget/

[2015-04-07 10:42] KeMBro2012 commented on #14754
My read on this issue, from everyone's comments in this thread, is that any solution other than the current practice of disabling all 3rd party apps and leaving them that way is an improvement. I like @PVince81's suggestion but (and I'm not familiar with the OwnCloud codebase, so I may be a bit off-base with this) it seems as though it may be one of the more complicated solutions suggested, implem

[2015-04-07 10:44] davivel commented on #15430
If it's a known issue, is it in any repository registered as an issue?

[2015-04-07 10:44] PVince81 commented on #15189
So if I understand well the following now works with quota disabled:
- create new file on client side, sync client uploads properly
- modify local file on client side, sync client uploads/overwrites properly
- create a file directly on the server (web UI), sync client downloads properly

And the following fails:
- file that existed previously on the storage cannot be overwritten when modified loca

[2015-04-07 10:48] PVince81 commented on #15373
@noerdi can you post a screenshot of the "transparent" folders ?

[2015-04-07 10:54] jvillafanez commented on #15430
Adding more information:

![screenshot from 2015-04-07 12 49 16](https://cloud.githubusercontent.com/assets/1477829/7021680/a977b85c-dd24-11e4-920c-67922acdc01c.png)

"pics" folder is shared with another server. That server is down. I've tried to enter the folder, with the "unknow error" shown in the image.

[2015-04-07 10:55] DeepDiver1975 commented on #15430
AHA - this is the root cause!

[2015-04-07 10:56] DeepDiver1975 commented on #15430
This also explains the error message: "message":"The passed data is not valid XML"

[2015-04-07 11:08] carolineBda commented on #9832
Hello,
I have the latest owncloud installed on my ubuntu 14.10 server. I was experiencing the same error (```expected filesize 20971520 got 9273344```). It was intermittent but quite frequent.
I've fixed it by adding the following option to my apache config:
``` SSLRenegBufferSize 10486000```

I'm sure that it helps but just in case I thought I share it with you.

[2015-04-07 11:09] PVince81 commented on #13980
@tmahring can you post the exact error message and owncloud.log entries ?

[2015-04-07 11:10] SergioBertolinSG commented on #15430
Tried with an unmounted external storage folder (S3), no problems there.

[2015-04-07 11:15] PVince81 commented on #14754
Note, for information: it is not technically possible to detect many of the app errors due to the current app architecture. Loading of apps is done with PHP's "require_once" which doesn't throw exceptions if syntax/code errors are detected, unfortunately. See https://github.com/owncloud/core/issues/5508 and @Raydiation's proposals here https://github.com/owncloud/core/issues/8742

[2015-04-07 11:17] DeepDiver1975 commented on #15430
sure - this is specific to s2s

[2015-04-07 11:20] jancborchardt commented on #15263
Fixed via https://github.com/owncloud/core/pull/15345

[2015-04-07 11:22] jancborchardt commented on #15399
@Volker-E and it’s not used by Android anymore either? What is used nowadays to prevent the mobile keyboards autocapitalizing usernames?

[2015-04-07 11:24] jancborchardt commented on #15274
I agree with @oparoz – when an app hasn’t been rated yet it should receive _no rating_, not 3 out of 5 stars already. Only when there have been ~5 votes (as @jospoortvliet suggested) should the stars be shown at all.

[2015-04-07 11:25] jancborchardt commented on #15297
@nickvergessen can’t really help … @butonic needs to look at this.

[2015-04-07 11:27] nickvergessen commented on #15297
@jancborchardt well in the mean time we could add some background to the search div so it doesnt look that odd, no?

[2015-04-07 11:31] Raydiation commented on #14754
@PVince81 its possible by simply doing two requests, one which has the app enabled and one which does not load the app but allows you to disable it. That way you can check the http status code and conditionally disable the app

[2015-04-07 11:35] RealRancor commented on #9832
Hi,

yes thats a known parameter which could cause this. It is documented here:

https://doc.owncloud.org/server/8.0/admin_manual/configuration_files/big_file_upload_configuration.html#apache

[2015-04-07 11:39] derekblankmccoy opened #15433 "Password reset is case sensitive"
When logging in, the username is not case sensitive. However, when resetting the password, it does take capitalization into account. This is inconsistent and can trip users up.

[2015-04-07 11:47] #15420 closed

[2015-04-07 11:51] MTRichards commented on #15286
Yes please, a default enabled recovery key helps admins avoid a problem by default. Failure to have a recovery key becomes an act of commission then, which is much better.

[2015-04-07 12:02] jvillafanez opened #15436 "Sharing API malfunctions with maintenance mode"
### Steps to reproduce
1. Add several shares to the account
2. Set the maintenance mode
3. Use the sharing APIs (checked with `curl -u "$userpass" -v -X POST -F "path=$dir_to_share" -F "shareType=0" -F "shareWith=$user_share" -F "publicUpload=false" -F "permissions=1" "$baseOcUrl/ocs/v1.php/apps/files_sharing/api/v1/shares"` and `curl -u "userpass" -v -X GET "http://server/ocs/v1.php/apps/files_sh

[2015-04-07 12:05] LukasReschke commented on #14790
Yep - there is a lot of broken stuff in SSL / TLS handling in all current ownCloud stable releases. This is not the only thing that is broken but one of the fews that can be detected most easily.

This will be properly addressed with ownCloud 8.1 where I refactored everything HTTP related - see https://github.com/owncloud/core/pull/15195

I doubt that backporting this only single specific patch wi

[2015-04-07 12:17] jnweiger commented on #15421
This behaviour is as designed.
You reduced your setup to a bare server without apache config files. This is useful for sysadmins, who have a more complex web server setup.

What you intended to do, is a complete owncloud installation, including owncloud-config-apache.
Instead of ~~apt-get install owncloud-server~~ please try
__apt-get install owncloud__

This should bring an owncloud-server and in

[2015-04-07 12:17] #15421 closed

[2015-04-07 12:19] butonic commented on #15189
@PVince81 if config.php has 'objectstore' configured to use as primary storage, then a filescan will not be able to scan anything. Metadata then resides only in OC.

[2015-04-07 12:23] mmattel commented on #11830
As described in the top:

I like the suggestion of @PVince81 to do a oc_storages cleanup and a extension of mount.json
This would be much more consistant and managable than it is right now.
Keep in oc_storages the columns,
...numeric_id is a unique number identifying the storage, a reference number
...id will only keep the type and path, so it is visible where the numeric_id belongs to

And as a e

[2015-04-07 12:24] PVince81 commented on #15286
@iliyasbasir was the password changed on LDAP or in the user management page ?

I'll try and see what happens in 7.0.3. According to @schiesbn it is likely that the old private key is still preserved. So to "reactivate" the user's account one would need to delete the private+public key of that user. But don't try anything just now, I'll have a try locally. Goal is to make it possible for the user

[2015-04-07 12:25] PVince81 commented on #15286
Reopening for now, in the search of a quickfix to make it again possible to share files with that user.

[2015-04-07 12:26] PVince81 commented on #15286
CC @bboule

[2015-04-07 12:29] MorrisJobke commented on #15400
We also have a lot of duplicated libraries. But the migration from three different version of a advanced select box handling library to a single one took some time to do. Now we simply use them in parallel (jquery.multiselect.js, multiselect.js and choosen) ... this is just one example. :(

[2015-04-07 12:29] PVince81 commented on #14754
With "request" are you talking about HTTP requests ?
Note that whichever update process must also work on the CLI (`./occ upgrade`)

[2015-04-07 12:33] razyr commented on #15189
@PVince81 I would agree with the "now works" scenarios but would modify the "fails" scenario to include the case where the files have never synched from when they were initially added client side, not just when they are next modified.  All files which failed with 507 errors now appear in the users local OwnCloud directory, but are not synched with the server.

So we have the initial bug which caus

[2015-04-07 12:39] PVince81 commented on #15286
Here are my test steps to reproduce this on 7.0.3 from scratch:
1. Enable encryption
2. Create two users "user1" and "user2" with the password "test"
3. Login as "user1"
4. Create a folder "test"
5. Upload a bunch of pics in "test"
6. Share "test" with "user2"
7. Login as "user2" and check that the pics can be viewed/downloaded
8. Check/save/md5 the keyfiles of user2 (I did `md5sum data/public-key

[2015-04-07 12:49] PVince81 commented on #15286
@iliyasbasir @bboule here are the steps to fix "User 2" (from the original report).

The goal here is to get rid of the error "Invalid private key" and recreate a valid key pair for "User 2" to make the account usable again (including sharing files with that user). Please note that **all local private files from "User 2" are not recoverable**. But after making the account usable again, it will be

[2015-04-07 12:50] tmahring commented on #13980
here is the exact error message:
Could not automatically fix legacy storage "local::/var/www/owncloud/data/c09b7381-4d9011e4-b17192f0-f4f98cac/" => "home::c09b7381-4d9011e4-b17192f0-f4f98cac" because they both have data.

no new messages appear in owncloud.log when i try to run the update, is there maybe a way to set it to more verbose logging ?

[2015-04-07 12:50] PVince81 commented on #15286
Note: ideally we should provide a button "reset private/public keys" on a user's personal page to avoid having the admin manually delete these keys from the server. The scenario "User has forgotten password, admin sets a new one (with no recovery key enabled)" is valid and should be made easier to recover from.

[2015-04-07 12:52] PVince81 commented on #11830
@mmattel I agree about the storage_id column/mapping. I thought I had documented this already but can't find it any more.

[2015-04-07 13:00] mmattel commented on #11830
I can not support you from the coding point of view. My knowledge is limited here.
But it is imho urgently necessary to do these adoptions due to the success of owncloud and its broader acceptance. It is maybe not easy to do, but as later it is done, as more complicated it will become...

[2015-04-07 13:00] PVince81 commented on #15189
Can you confirm that all the red crosses you see in the clients are all due to 507 errors and not other errors ?

@guruz @ogoffart does the sync client blacklist files from sync when a 507 error is met several times ?

[2015-04-07 13:04] PVince81 commented on #13980
There is no way to get more verbose logging.
So you do confirm that your "oc_storages" table contains no entry with "local::/var/www/owncloud/data/c09b7381-4d9011e4-b17192f0-f4f98cac/" nor one with "home::c09b7381-4d9011e4-b17192f0-f4f98cac" ? The error message implies that both entries exist.
Do you have any kind of database caching enabled ?

And re-running the upgrade also didn't help I guess ?

[2015-04-07 13:07] jnweiger commented on #14175
owncloud-server package now has

    Suggests: php5-apcu (>= 4.0.6) | php-apc

Minimum version number added.

[2015-04-07 13:07] bboule commented on #15286
Vincent  this is AWESOME!!!  @iliyasbasir can you please be sure you also set this up so that you will be in a position to help the user with this.

Thanks again for the help here guys!!!!

Bob

[2015-04-07 13:07] PVince81 commented on #11830
Something related: mapping user name to storage https://github.com/owncloud/core/issues/15166

@DeepDiver1975 I'll set this to 8.2

Also CC @MorrisJobke who also went through the storage pains before

[2015-04-07 13:11] nickvergessen commented on #15433
@DeepDiver1975 what is actually the intended behaviour here. I see various `LOWER(uid) = LOWER(?)` in the database user backend, but not on:
1. Password update
2. User delete
3. User create

But select, set display name, ... all use lower. Should we just change it to lower on delete and password update aswell?
Changing the create is a bit more critical, since it might be used in several other plac

[2015-04-07 13:14] nickvergessen commented on #15436
Related to #15430

[2015-04-07 13:17] PVince81 commented on #15430
I thought this was fixed. If you do a PROPFIND on "remote.php/webdav", if any of the subfolders is not available, you should still get a correct response.

[2015-04-07 13:18] PVince81 commented on #15430
@jvillafanez in what way is the remove share unavailable ? How did you setup the target server ? Is it in maintenance mode, or did you delete ownCloud ? This is important because it can affect the response returned by the target server.

[2015-04-07 13:20] PVince81 commented on #15430
Normally the exception should be "StorageNotAvailableException" but for some reason the local code didn't properly detect the unavailability of the remote. We should probably catch any XML parse error too and interpret them as "storage not available".

Still, I'd like to know your target ownCloud's setup (and in what way did you make the target folder appear unavailable)

[2015-04-07 13:26] PVince81 commented on #15427
Assuming that you're talking about external storage

[2015-04-07 13:27] razyr commented on #15189
I can't confirm them all as they are scattered across dozens of directories and I'm not in the same time zone as the clients.  Nor can I keep asking the client to dig around for more info.  These are corporate execs, not IT people.

I can confirm that all of the files in the specific directory which the client reported to me as not synched were files which had failed initial upload because of the

[2015-04-07 13:27] PVince81 commented on #15419
Yes, let's just hide it.

[2015-04-07 13:28] PVince81 commented on #15418
This one is tricky. Every app needs to fix their ajax calls to be able to react properly on 503 http codes and automatically show a proper error message or redirect accordingly.

[2015-04-07 13:29] PVince81 commented on #15415
Ok so Chrome 41 on Mac OS ? Could it be a Mac OS thing ?

[2015-04-07 13:31] Xenopathic commented on #15427
How about being able to substitute an arbitrary variable from the Session object? Then user backends could pull data into the Session object. For example, `user_ldap` could pull a custom attribute into the Session as `my_custom1`, then during `setUserVars()` if `%{my_custom1}` is seen it gets that value from the Session and substitutes it in. If `%{key}` doesn't exist in the session it is replaced

[2015-04-07 13:32] PVince81 commented on #15406
@LukasReschke is that what you were seeing ?

[2015-04-07 13:35] PVince81 commented on #15427
Possibly insecure CC @LukasReschke

[2015-04-07 13:39] colomailbe opened #15438 "config.php 'allow_user_to_change_display_name' also prevent email change"
Hi there,

Just found another bug, if you set this parameter to 'false' in config.php 'allow_user_to_change_display_name', it will also prevent (both Admin and user) to change or set their email address.

This is quite annoying as email is very useful (and forbiding name change too ;-)

NB. tested on 8.0.2

Best regards,
Colo

[2015-04-07 13:54] ogoffart commented on #15189
The client will blacklist the files if the error 507 is repeated several times.

[2015-04-07 13:58] PVince81 commented on #15189
So I guess this means the files need to be unblacklisted, how to do that ? (for non-tech people)
Or is there a timeout to such blacklisting ? (might make sense when the blacklisting is related to free space)

[2015-04-07 14:10] nickvergessen commented on #15438
https://github.com/owncloud/core/blob/master/settings/templates/personal.php#L119-L124

[code]

it's linked to password change, although I think it's wrong as well

[2015-04-07 14:18] razyr commented on #15189
I'm guessing we can resolve this with a few mouse clicks through the "Edit Ignored Files" dialogue.

[2015-04-07 14:18] FunkyM commented on #15320
This patch adds (basic) support for filetypes within custom themes. However, I think that it is quite inefficient to throw a bunch of file_exists() at the server like this... I think the overall theme handling needs some refactoring to a more static way of handling theme files. Asides this does not fix related issue #6773 as the theme name is not known to the Javascript URL generator causing the s

[2015-04-07 14:18] nickvergessen commented on #15438
Fun fact, the php end checks the display name permission:
[code]

[2015-04-07 14:24] PVince81 commented on #15400
Some JS files are included even when not used at all, simply because it's not possible for apps to detect whether the current page is the files app or login page. So they **always** include the script by putting them in "appinfo/app.php". There is currently no other way.
@nickvergessen and I had some discussion about this: https://github.com/owncloud/core/pull/15073

[2015-04-07 14:32] nickvergessen commented on #15400
@PVince81 well there are other ways, althought they may have point of failures and are not really what it should be like: https://github.com/owncloud/calendar/blob/master/appinfo/app.php#L42-L45

[2015-04-07 14:37] MorrisJobke commented on #14648
Merged :)

[2015-04-07 14:37] #14648 closed

[2015-04-07 14:38] PVince81 commented on #15326
Green again it seems: https://ci.owncloud.org/job/server-master-linux/

[2015-04-07 14:43] colomailbe commented on #15438
probably some mix up in the function to call...
Thanks for your update!

[2015-04-07 14:56] Norahy opened #15440 "IE8 and 9: Password enforcement still not working correctly"
#14918 fixed the problem that the placeholder is directly set as password; the user didn't even had a chance to enter anything.

Now the following error still occurs:
Set the focus on the password input field; do not enter anything. Leave the password field (e.g. click into the "share with user or group" input field)
-> The placeholder is set as password, the "share link" dropdown is shown. The pa

[2015-04-07 15:12] pierrejochem commented on #14702
Okay, but my problem is that I cannot try this on our production system. Will it be included in one of the next releases?

[2015-04-07 15:17] MorrisJobke commented on #15326
Okay...new broken stuff due to enc 2.0

[2015-04-07 15:24] PVince81 commented on #14702
It will be in 8.1.

You can get a patch by appending ".patch" in the URL: https://github.com/owncloud/core/pull/14791.patch

[2015-04-07 15:49] Volker-E commented on #15399
That has always been just an iOS proprietary attribute and not being interpreted anywhere else. As stated above "`autocomplete="none" should be set just once at the parent form`". I can make a PR for this, I just wanted to make sure that my last changes on my branch get merged first. (Curr. have problems with two branches side-by-side).

[2015-04-07 16:06] mmattel opened #15444 "LDAP Port field not fully shown in Opera"
ownCloud 8.1 pre alpha (git), Ubuntu 14.04, MySQL, nginx 1.7.11

After enabling LDAP, I have seen that the Port field is not fully shown when using Opera 28 as browser (Opera 28 uses the Blink based Chromium engine)

Windows 7 FireFox 35 (``Port`` fully shown)

![image](https://cloud.githubusercontent.com/assets/3321281/7027439/b99212fc-dd4f-11e4-9389-62967f3a99f3.png)

Windows 7 Opera 28 (``Port`

[2015-04-07 16:12] Volker-E commented on #15400
@MorrisJobke @PVince81 @nickvergessen All valid points (of failure) and not uncommon to projects, that have been growing over time.
My conviction is, that the current state of front-end performance is far from good and that there should be guidelines for developers on how to handle/integrate JS functionality *the right way* and to collect and identify current shortcomings here, like the mentioned

[2015-04-07 16:16] #12465 closed

[2015-04-07 16:20] MorrisJobke commented on #14735
This doesn't work as it was planned -> closing

[2015-04-07 16:20] #14735 closed

[2015-04-07 16:22] PVince81 commented on #15400
@Volker-E the problem is that guidelines won't help with the JS problem of apps. The problem is that there is currently no other way of doing it. It's an architecture problem. We need to improve it by providing ways for app to register their stuff more semantically and on-demand instead of always.

We thought about using frameworks like requirejs. The problem is that if we put it in core it will r

[2015-04-07 16:39] Volker-E commented on #15400
@PVince81 Thanks for the response. I completely get your points, particularly about freedom of choice for developers.

In my experience especially with Free/Libre Open Source projects, but in general with every bigger software development project with more than 2 people working on. If you have guidelines and best practices you provide for all newcomers and for yourself a single-goto-reference. Tha

[2015-04-07 16:54] PVince81 commented on #15400
There are already guidelines, examples in the doc: https://doc.owncloud.org/server/8.0/developer_manual/app/js.html and the more general app dev docs: https://doc.owncloud.org/server/8.0/developer_manual/app/index.html

But it misses the specific case where an app wants to integrate code into other apps (like for example registering file actions or adding stuff to the login page)

[2015-04-07 17:01] Volker-E commented on #15400
Nice.
Is everybody here aware of why it's performance-wise a big problem to have lots of HTTP-Requests and just slightly used JS/CSS files and lots of (maybe unnecessary) DOM interaction included in a web application? Or should I give food/links for thought?

[2015-04-07 17:19] razyr commented on #15189
Looks like that was just wishful thinking on my part.  The customer reports that only the stock file extension exemptions are in the Ignored Files list.  The 507 blacklisted files are not there.

[2015-04-07 17:40] razyr commented on #15189
According to https://github.com/owncloud/client/issues/2247 the blacklist is supposed to be periodically cleared and this would resolve itself.  The decision was made not to offer any GUI component to manage the blacklist since it's supposedly auto-cleared.

Our case seems to show evidence to the contrary.  This server has many files which were 507 blacklisted at the client several weeks ago and w

[2015-04-07 18:43] tmahring commented on #13980
i DO have this entry: "home::c09b7381-4d9011e4-b17192f0-f4f98cac", but not the one with local::...
Do I need to delete this entry ? I thought the problem was when both entries where in the database, maybe i misunderstood.

[2015-04-07 19:30] Xenopathic commented on #15399
`autocomplete` =/= `autocapitalize`

[2015-04-07 19:32] pierrejochem commented on #14702
I will try it tomorrow and let you know the result. Thank you :-)

[2015-04-07 19:37] Volker-E commented on #15399
@Xenopathic Sorry, just referring to the documentation and mistyped in my comment above, I meant `autocapitalize="none"`. That should go in the parent `form` element and it works for iOS >= 5.0

[2015-04-07 20:06] Aesculapius commented on #7234
I think this would be an immensely useful feature! (and has to be seen seperate of issue 100 which looks at the user side.
For me, I include a mount point for users in the "backup" user-group, that points to the backup-folder of their account. This folder contains incremental backups - every 4 hours - using hardlinks. So it really doesn't eat that much space on the server, but if clients start syn

[2015-04-07 20:11] Aesculapius commented on #15385
Yes, being able to exclude folders from being scanned also fits my usecase, where incremental backups using hardlinks would result in terabytes of storage to be scanned. Also see https://github.com/owncloud/core/issues/7234

[2015-04-07 20:14] mmarder opened #15447 "Cannot delete folders in S3 from web interface"
When trying to delete a folder in an Amazon S3 bucket thru the web interface I get the following message: "Could not delete: folder name". Deleting the folder with the Mac desktop app works fine.

The logs show the following:
[code]

Ubuntu 14.04 on Digital Ocean, Owncloud 8.0.2.

Edit: reformatted exception

[2015-04-07 22:53] oparoz opened #15449 "Support rich content in app descriptions"
Currently, app descriptions look like one massive paragraph or several smaller ones. It's not very user friendly.
While we certainly don't need support for colours or crazy fonts, it would be appreciated to be able to structure text a bit or to emphasize/highlight words or sentences.

Maybe ~~BBCODE~~ Markdown should be supported?

I'm using this library in Gallery+
https://github.com/chjj/marked

[2015-04-07 23:06] Bugsbane commented on #11030
I don't seem to be getting it any more in ownCloud 7.0.4

[2015-04-08 00:30] petbadger commented on #14175
@RealRancor
I am using owncloud version 8 (I assume version 8.0). I had upgraded as soon as version 8 stable was announced.

I can't recall what version of php5-apcu I was using.  I did a search of the Ubuntu software catalogue and php5-apcu does not even show up.  Perhaps this means it was installed by something else, like owncloud?  I believe the owncloud version I was using was 7.0.3.

Whatever

[2015-04-08 00:33] MorrisJobke commented on #15449
No. I would say Markdown or nothing ... but not any crappy old markup language that nobody knows ;)

[2015-04-08 00:33] MorrisJobke commented on #15444
cc @owncloud/designers

[2015-04-08 00:37] autumnwalker opened #15450 "Apache2 crashing frequently in ownCloud 8.0.2-8"
Hi Folks,

Having an issue where ownCloud crashes Apache2 after several hours of running. The server will respawn and crash every few minutes once the crashing starts. I have to manually kill the Apache2 processes and restart the service. Seems to have occurred since upgrading from 7.x to 8.x. The issue seems similar to the php5-apcu issue, but I'm not running apcu or apc on my system (confirmed);

[2015-04-08 01:28] oparoz commented on #15449
I agree :)

[2015-04-08 04:18] Larx opened #15451 "Mount external storage with OC user credentials"
As #10337 was closed, I'd like to propose another enhancement: Add external storage using OC credentials to log in.

This is already available for SMB mounts, however it would be great to have this for other external storage methods, too. E.g. when using a lightweight local FTP server to include local files with correct user rights this would be an enhancement.

[2015-04-08 05:57] mmattel commented on #15427
If we look into the documentation: https://github.com/owncloud/documentation/blob/master/admin_manual/configuration_user/user_auth_ldap.rst at section "Login Filter", we could reuse the idea. There is already a way where you assign the logon user for owncloud with an attribute from LDAP (other Attribute)
![image](https://cloud.githubusercontent.com/assets/3321281/7039567/1b67b54e-ddc4-11e4-9e66-eb

[2015-04-08 06:49] #11030 closed

[2015-04-08 06:51] DeepDiver1975 commented on #15385
Please have a look at config.sample.php - there is a option to blacklist files/folders.

Please give it a try if this works out for you.

[2015-04-08 07:28] SergioBertolinSG opened #15452 "Almost full warning message is not removed after deletions."
### Steps to reproduce

Having a OC server installed and several users.
1. Put a low quota to a user. (4MB for example).
2. Upload a couple of files about 1.6 MB and several files to reach ~97% full storage.
3. Delete one of the 1.6MB files.

### Expected behaviour
After point 2 a warning message about almost full storage appears.
After point 3 it dissapears.

### Actual behaviour
Message is still

[2015-04-08 07:29] SergioBertolinSG commented on #15452
Perhaps related with #5475 ?

[2015-04-08 07:42] Chassetheater opened #15454 "Upgrade 8.0.2.0 fails: Could not automatically fix legacy storage"
I receive an error when upgrading from 7.0.4 to 8.0.2.0:

Could not automatically fix legacy storage "local::/data/B3C17EF6-2B15-4D85-9560-A9786696EE84/" => "home::B3C17EF6-2B15-4D85-9560-A9786696EE84" because they both have data

How to fix this?

Thnx Remco

[2015-04-08 07:47] mmattel commented on #15385
Good hint.

The config.php parameter: ``blacklisted_files`` is for files only, but not for directories
https://github.com/owncloud/core/blob/master/config/config.sample.php
https://github.com/owncloud/core/blob/4082436419d5325157553131b93343d5b7439b90/lib/private/files/filesystem.php#L569

But there is another function just below:
https://github.com/owncloud/core/blob/4082436419d5325157553131b9334

[2015-04-08 07:59] PVince81 commented on #15189
First thing would be to check whether it is indeed a blacklisting issue.
If you have access to one of the clients, you could use a SQLite client to open the file ".csync_journal.db" inside the local ownCloud folder. Then see the "blacklist" table and delete the entries if they exist and see whether these files will resync properly.
If yes, then this is indeed a blacklist problem and we need to fin

[2015-04-08 08:05] PVince81 commented on #7234
If the exclusion is only a "soft" exclusion, one idea would be to have the server return a special WebDAV attribute on the folders that should not be synced, for example "oc:nosync". When the sync client sees this attribute, it would have to skip that folder.
Then in the external storage mount options add an option "Exclude from sync" and make it so that the attribute "oc:nosync" is returned for s

[2015-04-08 08:08] pierrejochem commented on #14702
Okay, I cannot try this on the production system. It is not cloned via git :-( I tried in manually and this causes an internal server error. So there are dependencies. I have to wait for 8.1 and then I can report whether it is solved or not.

[2015-04-08 08:12] PVince81 commented on #13980
No, you're right, it is when both entries are in the database.
Now if you cannot find an entry "local::/var/www/owncloud/data/c09b7381-4d9011e4-b17192f0-f4f98cac/" it is because that id is too long (more than 64 chars), so it will use the md5 of it instead.
Let's convert it: md5("local::/var/www/owncloud/data/c09b7381-4d9011e4-b17192f0-f4f98cac") => "ca535304ac81cab9019419ddf0b060a2".

Try searchi

[2015-04-08 08:16] nickvergessen commented on #15326
https://ci.owncloud.org/job/server-master-linux/ is still all green here?

[2015-04-08 08:30] jcfischer opened #15455 "updateLastLoginTimestamp implementation yields extremly bad performance"
The `updateLastLoginTimestamp` function that is defined here: https://github.com/owncloud/core/blob/master/lib/private/user/user.php#L162 uses an incredibly inefficient way of storing the data.

We are running 7.0.5

Our Postgres 9.3 server (which currently is running totally overloaded due to too few disk IOPS) shows me thousands of entries like this:

[code]

Mis-using the oc_preferences table f

[2015-04-08 08:34] LukasReschke commented on #15455
Just for the record: @jcfischer you missed to censor a mail address. I replaced it with a `xxx` as well.

[2015-04-08 08:34] MorrisJobke commented on #15455
@blizzz You introduced this

[2015-04-08 08:36] binarykitchen commented on #15290
@DeepDiver1975 how's going? any news?

[2015-04-08 08:37] MorrisJobke commented on #15326
I get something like http://ix.io/hn2

[2015-04-08 08:38] jcfischer commented on #15455
@LukasReschke - thanks!

We have disabled the update call and we have seen a massive improvement on our slow queries as witnessed by the time stamps on our last few slow query logs:

[code]

[2015-04-08 08:42] MorrisJobke commented on #15455
Weird .... there is even an index on this table and it's just one update per user per login:

https://github.com/owncloud/core/blob/6c327f8331617652ef0b268d51edc6a23624e33c/db_structure.xml#L607-L623

@butonic You maybe know DB internals better. But having a simple update run for over 1 second up to over 37 seconds is really really bad.

[2015-04-08 08:44] nickvergessen commented on #15326
Everything "OK" here
[code]

[2015-04-08 08:48] jcfischer commented on #15455
@MorrisJobke the index actually makes the update more expensive because it too needs to be updated. Also: One update per login makes an additional n*2 updates per minute, where n number of active users... We currently have 8100 users (granted - not all of them active). Our DB server is struggling to keep up to date with the regular updates anyway, so any additional load further kills performance.

[2015-04-08 08:50] MorrisJobke commented on #15455
I just noticed on a MySQL DB that adding an index before an update reduced the needed time, because the lookup of the corresponding entry was faster. But maybe this is different for Postgres.

[2015-04-08 08:50] tmahring commented on #13980
Ok, I didn't find ca535304ac81cab9019419ddf0b060a2 but when I run the md5 command on my system it outputs fd0d3df08ccdf869498aae57ff90e028 which i found in oc_storages.
as storage id 17.

so in order to fix it i would now:
1. run an update query to change storage id 17 to 12 in the oc_filecache table (12 is the storage id of the home::... entry)
2. delete fd0d3df08ccdf869498aae57ff90e028 (storage

[2015-04-08 08:51] nickvergessen commented on #15455
@jcfischer so you log out your users after 30 seconds? Note: login does not mean connect(ion)

Also can we have some numbers about this table? Like total entries, number of entries when grouped by user name, number of entries when grouped by app = login and key = lastLogin
That would be awesome

[2015-04-08 08:54] PVince81 commented on #13980
Not exactly. Did you change the "datadir" in config.php recently ? Did you add or remove the trailing slash in that value ? This is usually what causes duplicate entries to appear.

Did you check whether your actual most recent files and shares are in the "home::" entry or in the fd0d3df08ccdf869498aae57ff90e028 entry ? You should only need to delete the one you don't want to use, then re-run the

[2015-04-08 08:58] MorrisJobke opened #15456 "Provisioning API: still working with maintenance mode on"
### Steps to reproduce

Turn on the maintenance mode from the command-line
Add an user using the provisioning API: `curl -u user:password -X POST http://server:port/ocs/v1.php/cloud/users -d userid=foo -d password=11111`

### Expected behaviour

An error is thrown due to the maintenance mode
### Actual behaviour

The user is added
### Server configuration

Operating system: ubuntu 14.04

Web serve

[2015-04-08 08:59] MorrisJobke commented on #15456
Related to #15436

[2015-04-08 09:01] nickvergessen commented on #15456
applies to all ocs calls?

[2015-04-08 09:07] tmahring commented on #13980
I'm pretty sure I never changed the datadir in config.php (or made any other changes to it).
Could it be that it got changed during an update by the debian package manager ?

I checked oc_filecache and the fd0d3df08ccdf869498aae57ff90e028 storage only contains a few files in files_trashbin, so that should be save to remove.
Should I change the entries in oc_filecache associated with fd0d3df08ccdf8

[2015-04-08 09:07] Xenopathic commented on #15326
@MorrisJobke That's due to a bug fixed in a69b752ed05dbe86814bde3f9284b0fa3dd34a07, in PR #13641

[2015-04-08 09:08] PVince81 commented on #13980
Only delete the entry fd0d3df08ccdf869498aae57ff90e028 in oc_storages and also the matching orphaned oc_filecache entries. Then re-run the upgrade.

[2015-04-08 09:08] jvillafanez commented on #15456
I've checked with some of the calls from the provisioning API: add and get users, and enable and disable apps. All those works even though the maintenance mode is active.

[2015-04-08 09:10] jcfischer commented on #15455
@nickvergessen - I just counted 53k (slow) updates on this table only today. We separate web clients and desktop clients - I don't know if the desktop clients keep being logged in all the time:

[code]

Note that yesterday we removed the php session file locking because it took out our application server one by one (they were stuck in requests that were waiting for the session file to be released)

[2015-04-08 09:11] Xenopathic commented on #7234
The thing is, the user should *always* be able to override an automatic decision, if they so wish. An admin can suggest that the user doesn't sync a directory, but if the user really wants to synchronise it then they should be able to. I think a way of pushing defaults to the client (that can be overridden) is a better way of solving this than hard-disallowing synchronisation of certain directorie

[2015-04-08 09:19] butonic commented on #15283
@gig13 Do I understand correctly that this is a one time action for the migration? then we could create a simple SQL query to remove all user / group shares with an expiration date, if that is what is wanted. What db is used?

[2015-04-08 09:19] MorrisJobke commented on #15455
This is something we should look into too. Something seems to block the sessions.

[2015-04-08 09:29] ogoffart commented on #15189
If it is blacklisted it should say so in the activity listing.
And the blacklist expires after one 24 at worst.

[2015-04-08 09:32] MorrisJobke commented on #15455
@jcfischer You mean that you removed the (previously added) comment here: https://github.com/owncloud/core/blob/v7.0.5/lib/private/session/internal.php#L52 So now it looks like that line.

Or am I wrong?

[2015-04-08 09:39] DeepDiver1975 commented on #15455
so these 53k calls are web or client or both?

Would be great to get values for each of them - desktop client should not be responsible because the client reuses the session cookie.

[2015-04-08 09:43] jancborchardt commented on #15348
No, this unfortunately is due to the way the sidebar works (with swiping). Related to https://github.com/owncloud/core/issues/11193

We probably need to experiment with the dragging force needed to show the sidebar … but that needs more JS than CSS. cc @PVince81 @MorrisJobke

[2015-04-08 09:45] jancborchardt commented on #15347
@DeepDiver1975

Separating between store and local apps would be confusing. Apps which are local (downloaded via zip or git) should have a category as well – it should probably be in the info.xml.

[2015-04-08 09:52] oparoz commented on #15450
I think I'm affected by the same bug. Whenever a file is changed, via an app update per example, the PHP process crashes and PHP needs to be restarted.

[2015-04-08 09:53] nickvergessen commented on #15455
Well if you had problems with sessions (meaning you killed it and required everyone to login again) that would explain why many updates happened, however it does not really explain why it is that slow.

[2015-04-08 09:55] MorrisJobke commented on #15455
I would say, that this is just a misunderstanding. We rolled out the "don't close session early" to prevent too much parallel requests to avoid the possibility of our race conditions with lost fileids. @jcfischer can you confirm that this is the case?

[2015-04-08 09:57] MorrisJobke commented on #15326
@Xenopathic I fixed it by increasing the max_nesting_level of xdebug to 1000 :(

[2015-04-08 09:58] LukasReschke commented on #15326
I think that's also what we do on Jenkins… :see_no_evil:

[2015-04-08 09:59] nickvergessen commented on #15454
See https://github.com/owncloud/core/issues/13980#issuecomment-73511661 + following comments

[2015-04-08 09:59] #15454 closed

[2015-04-08 10:00] MorrisJobke commented on #15326
Nevertheless - I still get following:

[code]

[2015-04-08 10:02] PVince81 opened #15460 "Provide a mechanism to register cron jobs outside or app.php"
Currently apps need to register their cron jobs inside of app.php.
The problem with this is that adding the jobs there will cause a "insert if not exists" every time the app is loaded, even if the PHP request is not cron.php.

We should provide a mechanism for apps to register cron jobs outside of app.php.
One suggestion would be to add a method "registerCronJobs($jobManager)" in the Application c

[2015-04-08 10:03] PVince81 commented on #15460
See part of the discussion here: https://github.com/owncloud/core/pull/14676/files#r27889424

[2015-04-08 10:06] PVince81 commented on #15326
I'm working on a fix.
The big nesting is due to $originalStorage being remounted on the root. $originalStorage is already wrapped by storage wrappers, so mounting it again would rewrap it over and over again over time.
See https://github.com/owncloud/core/blob/master/tests/lib/files/filesystem.php#L56

I'm now trying to replace all occurences of `$originalStorage` with a proper FS teardown.

[2015-04-08 10:07] oparoz commented on #15400
@PVince81 - RequireJS can be used with Angular http://www.sitepoint.com/using-requirejs-angularjs-applications/ and even with ReactJS. I think at some point every project has to decide whether usability is more important than developers' total freedom. Of course, you don't want to alienate your community, but when I was told to include all my js libs in my apps instead of re-using the ones in core

[2015-04-08 10:08] PVince81 opened #15461 "Remove obsolete "oc:///" stream wrapper"
I found some unit tests related to that stream wrapper.
AFAIK this is now unused/obsolete ?

We should deprecate this officially.

@DeepDiver1975 @icewind1991

[2015-04-08 10:11] DeepDiver1975 commented on #15460
refs https://github.com/owncloud/core/issues/13816#issuecomment-78176535

[2015-04-08 10:15] jancborchardt commented on #11948
What exactly would we put there? Simply a link to the docs for encryption?

[2015-04-08 10:19] mmattel commented on #7234
@PVince81 :+1: Admin driven, the user can only sync what is allowed by the precense or abscense of a particular attribute.

@Xenopathic :-1: I disagree. An admin ALWAYS overrides a user decision (or whish), that´s what an admin is for. Having a huge or sensitive datastore that is beeing able to be synced based on a user decision is a no-go. Admin decisions are usually not democratic...

[2015-04-08 10:24] nickvergessen opened #15462 "Provisioning api app uses wrong app type"
[code]

App type filesystem should not be used here, just to avoid the "enable for group" feature. If that is needed a new type should be added. But using type filesystem will cause the app to be loaded in various scenarios, where it is not needed, e.g. webdav

[2015-04-08 10:30] LukasReschke opened #15463 "GlobalStorageService.php incompatible with PHP 5.4"
![2015-04-08_12-29-14](https://cloud.githubusercontent.com/assets/878997/7043568/ebe5c870-ddea-11e4-9f44-2a8ab709ab33.png)

@PVince81 IDE helps :see_no_evil:
@DeepDiver1975 Can we please get some static code checking for such stuff?

[2015-04-08 10:30] LukasReschke commented on #15463
… that explains why I am not able to execute the unit tests on my machine :see_no_evil: …

[2015-04-08 10:31] MorrisJobke commented on #15318
@bvkuik Is there still the same error message in your log?

[2015-04-08 10:33] LukasReschke commented on #15463
Preparing a PR…

[2015-04-08 10:33] DeepDiver1975 commented on #15463
scrutinizer might catch this?

[2015-04-08 10:33] jvillafanez commented on #15456
I've also checked with the files_external with the same behaviour, so this issue probably applies to all ocs calls

[2015-04-08 10:35] #15315 closed

[2015-04-08 10:38] LukasReschke commented on #15463
Not sure if Scrutinizer can do that. Anyways, I'm letting IntelliJ Idea running a complete inspection of our code and will check if we have other incompatible constructs as well. :(

[2015-04-08 10:40] MorrisJobke commented on #15456
@DeepDiver1975 @PVince81 I would say this can lead to similiar problems like we had with the cron.php and the maintenance mode.

[2015-04-08 10:41] MorrisJobke commented on #15456
Ref #14843

[2015-04-08 10:42] PVince81 commented on #15456
Argh, this means that v1.php doesn't check for maintenance mode either ?
But it requires "base.php" which should do it... or does it ?

[2015-04-08 10:48] jancborchardt commented on #15444
@mmattel does making the field a bit wider via CSS fix the issue?

[2015-04-08 10:49] MorrisJobke commented on #15456
Doesn't seem so, because cron.php also uses base.php ;)

[2015-04-08 10:50] jancborchardt commented on #15320
It’s related to https://github.com/owncloud/core/issues/6773

@FunkyM can you prepare a pull request for that?

[2015-04-08 10:52] PVince81 commented on #15456
and suddenly a hero jumps in :wink:

[2015-04-08 10:52] PVince81 commented on #15326
Fix is here: https://github.com/owncloud/core/pull/15464

[2015-04-08 11:03] MorrisJobke commented on #14728
WIll be in 6.0.8

[2015-04-08 11:10] MorrisJobke commented on #13735
@jnfrmarks Can you create a test that covers this?

[2015-04-08 11:12] MorrisJobke commented on #13429
@cdamken See my last comment with a possible solution for this

[2015-04-08 11:14] MorrisJobke commented on #12707
@gig13 Can this be closed?

[2015-04-08 11:21] MorrisJobke commented on #11743
@DeepDiver1975 @cdamken I don't think that this will be fixed properly in ownCloud 6 ... better upgrade to 7. Or isn't this an option?

[2015-04-08 11:29] #15456 closed

[2015-04-08 11:33] jcfischer commented on #15455
@MorrisJobke - yes that is exactly what we did. Our application server processes where starving, waiting for the session file to become unlocked. It seems that a few clients can completely shut down an app server with 60 PHP processes doing that.

@nickvergessen - as Morris said, we have just implemented the things recommended (i.e. keep the desktop clients on one application server (sticky) inste

[2015-04-08 11:36] DeepDiver1975 commented on #15463
we have this on jenkins as well:

[code]

[2015-04-08 11:36] DeepDiver1975 commented on #15463
https://ci.owncloud.org/job/server-master-linux-externals-smb-windows/lastCompletedBuild/database=sqlite,external=smb-windows,label=master/console

[2015-04-08 11:43] jcfischer commented on #15455
@nickvergessen - just a perspective - our two web servers (Web GUI) handle around 1-2 requests per second - if at all. Currently our 4 sync servers (that handle desktop clients) handle 150 - 200 requests per second.

Also - we have huge problems with the database server (for once independent from ownCloud) due to the fact that we are using a distributed storage system (Ceph) to store the volume th

[2015-04-08 11:53] remixtj opened #15467 "Showing original path for files in trash"
When a file is put in the trashbin there is no way to know where originally it was. If user restores the file is moved back to the original path, but user doesn't know what is.

Additionally if there are several files with the same name in the trash, there's no possibility find which is the correct one a user wants to restore.

An idea could be to show a tooltip bubble when user goes over the rest

[2015-04-08 11:53] butonic commented on #15455
@jcfischer where are you storing the session files? In the GPFS filesystem? I strongly recommend using a memcached or redis (starting with OC8) server for this. Don't even consider storing it in the database. It is a bad idea in the first place which gets worse considering you db storage resides on a ceph device (RBD or FS?).

[2015-04-08 11:55] SergioBertolinSG opened #15468 "Files stop being shared after a recipient restores them to previous versions"
### Steps to reproduce

Having a OC server installed and two users, User1 and User2.

1. User1 creates a text file "hola.txt" and edits it several times. There are versions of that file.
2. User1 shares "hola.txt" with User2.
3. User2 opens the versions dropdown of the shared file and chooses to revert that file to a previous version.

### Expected behaviour
File returns to previous version and ke

[2015-04-08 11:56] LukasReschke commented on #15463
Meanwhile the full inspection finished. It found 7 language level incompatibilities for 5.4, patch is at https://github.com/owncloud/core/pull/15469

[2015-04-08 11:59] jcfischer commented on #15455
@butonic - they are stored in tmp files on a ramdisk on the server. According to @karlitschek that was the fastest method. A central memcached adds another 1-2ms for access to the data.

[2015-04-08 12:13] gig13 commented on #12707
@MorrisJobke
Yes, closing out.

[2015-04-08 12:13] #12707 closed

[2015-04-08 12:14] mmattel commented on #15444
If you let me know where I can tune this, I will try it and post the result.

[2015-04-08 12:25] PVince81 commented on #15326
@MorrisJobke can you rerun the tests on master locally and see if you still get the failures you mentionned here https://github.com/owncloud/core/issues/15326#issuecomment-90867894 ?

[2015-04-08 12:30] #15463 closed

[2015-04-08 12:43] SergioBertolinSG opened #15473 "SFTP folder mounting doesn't fail when connecting to a non existant remote folder."
### Steps to reproduce

Having a OC server installed and external storage enabled:
1. Mount a SFTP folder.
2. In the folder textfield put a folder name with doesn't exist in the server which you are connecting.
### Expected behaviour

Connection fails, showing a message that folder doesn't exist or at least that some problem happened.
### Actual behaviour

A green dot appears showing that the conn

[2015-04-08 12:44] MorrisJobke commented on #10671
Fixed in #14987

[2015-04-08 12:44] #10671 closed

[2015-04-08 12:44] MorrisJobke commented on #14826
Fixed in #14987

[2015-04-08 12:44] #14826 closed

[2015-04-08 12:51] gig13 commented on #15283
@butonic @bboule
We will need to discuss if it is one time for migration or custom add on to enable older functionality.

[2015-04-08 12:53] nickvergessen commented on #15468
@PVince81 stable file id issue?

[2015-04-08 12:54] MorrisJobke commented on #15326
@PVince81 The max nesting level thing is gone, but the other failure still exists:

[code]

[2015-04-08 12:55] nickvergessen commented on #15467
Works at least on master
![path-in-trashbin](https://cloud.githubusercontent.com/assets/213943/7045539/4e24b8e8-ddff-11e4-8962-b229c49eb492.png)

[2015-04-08 12:55] #15467 closed

[2015-04-08 12:58] remixtj commented on #15467
on 7.0.5 is not available and also on demo.owncloud.org (running 8.0.2) is not working. Maybe is very recent change

[2015-04-08 13:00] nickvergessen commented on #15467
Also works on my stable8 branch, so it looks like it will come with 8.0.3

[2015-04-08 13:11] PVince81 commented on #15468
Hmmmm, possibly.

@schiesbn does restoring a version creates a new file cache entry ?

If yes we need to fix the versions app to keep it.

@SergioBertolinSG did you check if that worked on OC 6 / OC 7 ? (to make sure whether it's a regression or not, I thought it used to work in the past)

[2015-04-08 13:12] PVince81 commented on #15326
@MorrisJobke I guess it's your turn now to do some debugging. Tests run fine on my env.

[2015-04-08 13:12] PVince81 commented on #15468
Ref: #13310 File ids must stay stable

[2015-04-08 13:24] michag86 opened #15474 "Admin cannot change email address if allow_user_to_change_display_name is set to false"
Like written in the subject, it is not possible to change the email address of an user as admin, if the config value of allow_user_to_change_display_name is set to false.

https://github.com/owncloud/core/blob/a8b756154a533a2618f03c54aca56af957da12ae/settings/controller/userscontroller.php starting in line 495:
[code]

Environment
* ownCloud 8.0.2
* user backend: internal (sql)
* PHP 5.4.39
* Apac

[2015-04-08 13:28] aleishman01 commented on #15009
I have this same issue.  This is not a delete via the web interface...  it's a delete via the file system (e.g.: Windows Explorer=>delete files). They are not moved to the ownCloud trash.

This is a serious issue as we are using ownCloud to sync 10's of thousands of images from clients all over the United States every week.

I can contact them and have them put the images back but I don't want tha

[2015-04-08 13:37] karlitschek commented on #15450
This is really strange. It shouldn´t be possible to crash the apache/php process by only php code changes. Can you please retry with a different apache, php and opcode cache version (apc) and maybe even a different os?
I´m bute sure we can´t avoid this problem from inside owncloud.

[2015-04-08 13:40] guruz commented on #10975
@shikasta-net Hi! Can you tell us if you were using encryption or not?
Can you also tell us which Apache version it was on that 3rd of December?

[2015-04-08 13:43] jnfrmarks commented on #13735
@MorrisJobke

Please move the issue to the smashbox repo - that's where we're tracking test requests.  Thanks!

[2015-04-08 13:57] aleishman01 opened #15476 "Files deleted via Windows File Explorer not being moved to ownCloud Trash"
When a user with the ownCloud Desktop Client deletes files from the ownCloud directory via the command line or any File Explorer (e.g. Windows Explorer, Linux Thunar...), those files do not appear in the ownCloud trash bin and can not be recovered via the ownCloud web interface.

This is a very serious issue for my company as we have 23 remote (all over the United States) ownCloud users syncing th

[2015-04-08 14:05] highacid opened #15477 "When updating"
First it was telling me that is some CSR attack and it started this.
This ownCloud instance is currently being updated, which may take a while.
This page will refresh itself when the ownCloud instance is available again.
Contact your system administrator if this message persists or appeared unexpectedly.
Thank you for your patience.

Now this is what I have for some time, and in past weeks or so I

[2015-04-08 14:13] tmahring commented on #13980
Worked like a charm. Thank you very much for your help !

[2015-04-08 14:15] razyr commented on #15189
I had user1 send me the .csync_journal.db file from her computer.  This is the user with the 500 GB quota and who owns most of the files.  Just as an update, they now have a combined total of 7,899 files in the Swift store totaling 23 GB.

The blacklist table from her database has 3691 entries.

path:  <file path>   (Each is unique, no dupes)
lastTryEtag: Null   (Except two which have values 54f48

[2015-04-08 14:21] shikasta-net commented on #10975
I appear to have been using 2.4.7, installed 5th Oct last year when I upgraded to Ubuntu 14.04.

The Apache proxy is configured to redirect all traffic through HTTPS, so it was definitely encrypted but I don't remember what
settings I used and I've since overhauled the config to take advantage of some changes between Apache 2.2 and 2.4.

Kym

On 08/04/2015 14:40, Markus Goetz wrote:

[2015-04-08 14:23] guruz commented on #10975
@shikasta-net I don't mean HTTPS/SSL encryption, I mean the ```encryption``` app in ownCloud which encrypts your files. Did you enable+use that?

[2015-04-08 14:23] autumnwalker commented on #15450
Interesting update - I last kicked the server mid-afternoon yesterday. It has not had an issue since. The only change I have made is disabling my overnight WebDAV server backups (remote servers backing up to my ownCloud instance).

Perhaps the issue is with WebDAV in 8.0.2-8?

[2015-04-08 14:24] karlitschek commented on #15476
Not sure I understand correctly. Can you please post a full bug report using the issue tracker template? https://github.com/owncloud/core/blob/master/CONTRIBUTING.md
So you sync folders from the server to the desktop with the owncloud syncing client. Then you delete a folder locally on the desktop. then the desktop sync client also deletes it on the server. then you can´t restore this folder in th

[2015-04-08 14:24] MorrisJobke commented on #13735
https://github.com/owncloud/smashbox/issues/60

[2015-04-08 14:24] #13735 closed

[2015-04-08 14:26] karlitschek commented on #15450
Well ownCloud is 100% php. There is no way a php script can crash the webserver or php process. The problem must be somewhere outside owncloud. Please try with different software versions as described above.

[2015-04-08 14:29] xav13r opened #15479 "Updates between multiple major versions are unsupported. Owncloud"
hi, i had a 6.0 owncloud version on ubuntu 12.04 server LTE i updated through an option inside the administration panel but after downlading th upgrade package it sais Updates between multiple major versions are unsupported.

[2015-04-08 14:29] shikasta-net commented on #10975
No I disabled most apps (including encryption) when I first installed the server.

Kym

On 08/04/2015 15:23, Markus Goetz wrote:

[2015-04-08 14:31] aleishman01 commented on #15476
You understanding is correct. But, here is our order of operations:

1) Client copies folders of files (images) into their local ownCloud folder.
2) The folder(s) are synced with the server (server A).
3) A different server (server B) has an ownCloud client installed and gets the files (synced).
4) (Server B) processes the images and then deletes the folders from its ownCloud folder.
5) (Server A)

[2015-04-08 14:32] jancborchardt commented on #15444
@mmattel right click on the field -> inspect element. Then in the CSS section of the dev tools for that element put in something like `width: 50px;`, or 100px.

[2015-04-08 14:38] SergioBertolinSG commented on #15468
In version 7 it is working fine, is a regression.

[2015-04-08 14:40] razyr commented on #15189
I also have the client log file from her computer.  It has approximately 3700 entries which look like the following.

|0|(FILENAME)|INST_NEW|Up|1426009981||12395||6|The item is not synced because of previous errors: Error downloading (URL) - server replied: Insufficient Storage|0|0|0|||INST_NONE|

[2015-04-08 14:41] PVince81 commented on #15468
Thanks.

@DeepDiver1975 setting to 8.0.3

[2015-04-08 14:47] PVince81 commented on #15468
Also happens on 8.0.2 and also happens when reverting a file inside a shared folder (revert as recipient)

[2015-04-08 14:47] PVince81 commented on #15468
I'll try and bisect this somehow.

[2015-04-08 14:47] flipsa opened #15482 "File list seems incomplete (invisible below the 'page fold') but files are there and can be clicked / depends on screen height!"
I see the very same problem described by somebody else on the OC forums: https://forum.owncloud.org/viewtopic.php?f=31&t=27348

Steps to reproduce:
- open file browser in OC and navigate to a folder with more items than your screen can show without scrolling
- scroll down / past the files shown initally
- no further files are shown below the ones listed before scrolling
- BUT, all files are there

[2015-04-08 14:54] PVince81 commented on #15468
It goes as far as https://github.com/owncloud/core/pull/14584 from @icewind1991 which fixed reverting files.
Before that commit it's not possible to revert versions because of the bug.

Not sure yet if that PR is causing the new issue or what the difference is with OC 7.

[2015-04-08 14:56] DeepDiver1975 commented on #15482
@jancborchardt afaik this issue will be fixed with 8.1 - maybe even 8.0.3 ???

[2015-04-08 15:01] PVince81 commented on #15468
@icewind1991 I debugged a bit and it indeed seems to be related to the PR.
Now instead of moving the cache entry to the new path, this code https://github.com/owncloud/core/pull/14584/files#diff-25d7979992311b77505964464556fceaR111 will first delete the cache entry, so we lose the file id.

What was wrong with the `move()` method ?

I'll try and see how it was done in OC 7.0.5.

[2015-04-08 15:04] karlitschek commented on #15476
Not sure I understand. How can you have two owncloud servers?

[2015-04-08 15:05] SergioBertolinSG commented on #13634
Tested in 8.0.3, half of the versions are lost when moving versions.txt into the SFTP mounted folder.

[2015-04-08 15:06] aleishman01 commented on #15476
We have one ownCloud server (Server A) and the other server (Server B) is a "client".

[2015-04-08 15:07] PVince81 commented on #15468
In OC7 there is no code to update the cache. Strange. And the post rename proxy isn't called, maybe because the source file is in "files_versions" and moved to "files".

[2015-04-08 15:07] MorrisJobke commented on #15479
@xav13r Do you upgrade via package manager? It is then possible (if you didn't updated your packages for a long time) that you simply skipped the 7.0 series.

1. Please use the dedicated 7.0 series repo: https://software.opensuse.org/download/package?project=isv:ownCloud:community:7.0&package=owncloud
2. Then do a downgrade of the owncloud package to 7.0.5
3. Run the migration and log in to your o

[2015-04-08 15:07] #15479 closed

[2015-04-08 15:08] PVince81 commented on #13634
@SergioBertolinSG half ? Then it is not a bug, it's the "version thinning" algorithm that got activated somehow and auto-expired versions after moving.

[2015-04-08 15:10] xav13r commented on #15479
thank you so much ill try it now and let you know.

[2015-04-08 15:18] PVince81 commented on #15468
@icewind1991 can you explain why cache move() wasn't called in OC 7 but is now in OC 8 ?
I see that the cache's move() method hasn't changed between the versions.

I guess the proper fix is to make "move()" operation properly update the element and also keep the file id. But also there's the question which fileid to keep, the source one or target one ?
In the past (in OC 7) it was the target filei

[2015-04-08 15:19] PVince81 commented on #15468
Another alternative is to add extra code to the versions app to reuse the original file id and pass it to the rename method.

[2015-04-08 15:20] PVince81 commented on #15468
or even more barbaric: do a stream copy :stuck_out_tongue:

[2015-04-08 15:25] nickvergessen commented on #15474
Duplicate https://github.com/owncloud/core/issues/15438

[2015-04-08 15:25] #15474 closed

[2015-04-08 15:26] rullzer commented on #15326
I have the same errors locally as @MorrisJobke. I did not do a full debugging session yet. But something is wrong.

Diff with my (hacky) debug code so far: https://github.com/rullzer/core/commit/fa65672d67c7acc362a41cec548a2b129d9659f2

This shows me that
$storage1->filesize('dirtomove/indir1.txt') = 7
$storage1->filesize('dirtomove/indir2.txt') = 18

It also shows me that on strorage 2 I have a q

[2015-04-08 15:27] nickvergessen commented on #15477
If you are sure no other admin is updating your instance atm, run the following in the console of your installation:
`./occ maintenance:mode --off`

[2015-04-08 15:30] michaelhofer commented on #13936
Still looking for pull requests? I'd like to contribute to this project and this seems like an very easy start =)

[2015-04-08 15:31] PVince81 commented on #15468
I'll prepare a unit test to reproduce the issue until a proper solution comes to mind...

[2015-04-08 15:32] MorrisJobke commented on #15419
Why not add a simple refresh every minute?

[code]

Should do the trick.

opinions @owncloud/designers

[2015-04-08 15:34] MorrisJobke commented on #13936
@michaelhofer Sure :) Feel free to open one. Simply mention me there. Feel free to join our #owncloud-dev channel on IRC: https://doc.owncloud.org/server/8.1/developer_manual/commun/index.html

[2015-04-08 15:34] icewind1991 commented on #15468
The behaviour of the cache move is correct, when overwriting `foo.txt` with `bar.txt` the fileid of the new `foo.txt` should be the same as the one of `bar.txt` not the same as the old `foo.txt`.

A way to solve this might be to do the response directly on the storage and update the scan for the file manually

[2015-04-08 15:34] karlitschek commented on #15419
@MorrisJobke I think this could do the trick

[2015-04-08 15:39] PVince81 commented on #15468
So overwriting a file through rename should reset the file id, that makes sense. It should reuse the source file id, I think it does that already.

What do you mean with "do the response directly on the storage" ?
Maybe you meant do the rename directly on the storage, assuming that it's a local file (I hope it works with object store)

[2015-04-08 15:43] icewind1991 commented on #15468
Yes

[2015-04-08 15:45] oparoz commented on #15450
I guess it depends on your definition of crashing PHP. When a module crashes, it can take PHP with it. It seems owncCloud has issues with opcache modules and that would explain why changing a few files triggers the problem.

On 8.0, using `occ` for a migration ends with "zend_mm_heap corrupted", as described here: https://github.com/owncloud/core/issues/9885
There may be other areas in the code wh

[2015-04-08 15:47] MorrisJobke commented on #15419
There is already JS in place that should do that, but it doesn't work.

[2015-04-08 15:48] jancborchardt commented on #15482
Most probably, this sounds like it had to do with the threshold of when lazy loading is triggered. @PVince81 do you remember when you adjusted that?

[2015-04-08 15:54] PVince81 commented on #15482
The page scroll was fixed a long time ago and should work in OC 8 already.
Maybe this is a different issue.

[2015-04-08 16:00] PVince81 commented on #15468
Hmmm what if the target file is on external storage ?

[2015-04-08 16:03] MorrisJobke commented on #15419
Fix is here: #15483

[2015-04-08 16:04] blizzz commented on #13936
Regarding this specific issue, there are already changes in a feature branch which will go to master and 8.1. But in general, Pull Requests are welcome, you could follow the ["Junior  Job"](https://github.com/owncloud/core/issues?q=is%3Aopen+is%3Aissue+label%3A%22Junior+Job%22) tag to find thinks to tackle as a start.

[2015-04-08 16:06] PVince81 commented on #15468
Just tried it: for external storage it will use the stream copy approach, which doesn't need the cache update, so it keeps the file id.

Maybe if there was a way to force a stream copy...

[2015-04-08 16:07] PVince81 commented on #15468
On the other hand if we want to be consistent with the rename logic you mentioned, even a stream copy should be made to affect the file id.

[2015-04-08 16:15] icewind1991 commented on #15468
I think https://github.com/owncloud/core/pull/15360 *fixes* that

[2015-04-08 16:15] PVince81 opened #15484 "Rename + overwrite must update the fileid with the source one when doing stream copy"
When overwriting a file with `$view->rename()`, if on the same storage, the target file's fileid will be replaced by the one from the source, which is correct (except for part files of course).

In the case of cross-storage rename + overwrite with `$view->rename()`, I observed that the fileid was not updated. This needs to be fixed for consistency.

It also means that overwriting a shared file wil

[2015-04-08 16:17] PVince81 commented on #15484
Might be fixed through https://github.com/owncloud/core/pull/15360

[2015-04-08 16:18] PVince81 commented on #15468
Ok cool.

I think for this versions bug I'll stream copy the version file into the target file, always.

[2015-04-08 16:21] autumnwalker commented on #9885
opcache.ini is located at /usr/share/php5/common/opcache.ini in Ubuntu 14.04.

I have added the directive opcache.fast_shutdown=0 to my php.ini file. I'll see if that fixes the issue I'm having in #15450.

[2015-04-08 16:27] PVince81 opened #15485 "[master] No encryption module *empty string* when restoring version, encryption disabled"
### Steps
1. Do NOT enable encryption
2. Create a file "test.txt"
3. Edit the file several times to create versions
4. Restore a version

### Expected result
No warnings in log

### Actual result
[code]

@th3fallen @schiesbn @DeepDiver1975

### Versions
Observed on master fc2711e15695f0be8e353a0237e5f1f5b5dc4389

[2015-04-08 16:30] PVince81 commented on #15468
Fix is here: https://github.com/owncloud/core/pull/15486

[2015-04-08 16:50] flipsa commented on #15482
I think I just found the problem:

Short explanation:
- In the list of enabled apps, I had enabled the app "Share Files" (v0.6.1) but _recently_ disabled sharing from the admin backend
- Re-enabling sharing from the admin backend solves the problem
- Disabling the app solves the problem, too (irrespective of the admin backend settings)

Long explanation:
I recently deactivated sharing functionalit

[2015-04-08 16:50] PVince81 commented on #15485
Fixed by https://github.com/owncloud/core/pull/15481

[2015-04-08 16:50] #15485 closed

[2015-04-08 16:52] jvillafanez opened #15487 "Files app misbehaves trying to interact with a deleted federated cloud share"
### Steps to reproduce
1. Upload a file (checked with a png and a text file file) and share it by link in server A
2. Add the link in server B
3. Delete the image file in server A
4. Download the file from server B
### Expected behaviour

An error is thrown and the file is automatically deleted in server B (it's no longer accessible)
### Actual behaviour

An internal error is thrown, and the file

[2015-04-08 16:52] PVince81 commented on #15482
Ah yes, this is a know issue.
Something breaks the JS code loading, so basically breaks a lot of JS stuff including the scrolling...

Closing as duplicate of https://github.com/owncloud/core/issues/15186

[2015-04-08 16:52] #15482 closed

[2015-04-08 16:54] mmattel commented on #15444
Maybe I am too stupid, but I was not able to change the width setting, so I made a screenshot of the element inspection of the browsers. You can see that FF has a higher width 26x18 than Opera 20.870x18.972. The missing px are those causing the problems

FF:
![image](https://cloud.githubusercontent.com/assets/3321281/7050051/e8e3bc70-de1e-11e4-9345-231f1dc4f673.png)

Opera:
![image](https://cloud.

[2015-04-08 16:56] flipsa commented on #15186
Ah, makes sense...

Btw, i completely agree with your last comment in #15482. For a moment, I wasn't sure if the sharing app was maybe obsolote / part of the core app now or not. Having part of the options in the admin backend but the rest of it as part of a - recommend, but alas... - external app does not make all that much sense ;)

[2015-04-08 16:58] jvillafanez commented on #15487
Linking with https://github.com/owncloud/gallery/issues/179 and https://github.com/owncloud/files_texteditor/issues/67
The cause looks like the same, although the bugs are different depending on the app.

There might be other apps such as the pdf viewer affected by this. I haven't checked the behaviour of all of them.

[2015-04-08 16:59] RealRancor commented on #15477
This is also described here:

https://doc.owncloud.org/server/8.0/admin_manual/maintenance/upgrade.html#troubleshooting

[2015-04-08 17:01] flipsa commented on #15482
Ah, makes sense...

Btw, i completely agree with your last comment in #15186. For a moment, I wasn't sure if the sharing app was maybe obsolote / part of the core app now or not. Having part of the options in the admin backend but the rest of it as part of a - recommend, but alas... - external app does not make all that much sense ;)

[2015-04-08 17:31] jancborchardt commented on #15322
A follow up is at https://github.com/owncloud/core/pull/15488 – showing both text and icons for all sidebar entries in the Files app. I also picked up your commit @ddxor, please review. :)

[2015-04-08 17:47] PascalAnimateur commented on #15009
Same issue, the files in the root folder are present in the trashbin and can be restored, but the folders and their files are nowhere to be found ! But in my case, maybe the trash was full as suggested by @PVince81 ...

[2015-04-08 19:07] MorrisJobke commented on #15322
fixed in #15488

[2015-04-08 19:07] #15322 closed

[2015-04-08 19:10] MorrisJobke commented on #15198
@LukasReschke Can you retry? The mentioned PR is merged

[2015-04-08 19:24] asy32x commented on #15009
i have installed the latest version of client / server - still happening when you delete something in the windows file system. server is Ubuntu 14.04 LTS 64bit - i have 380gb free disk space

[2015-04-08 19:43] MorrisJobke commented on #15477
please reopen if the above tips doesn't solve the problem for you

[2015-04-08 19:43] #15477 closed

[2015-04-08 20:02] Dude4Linux commented on #15421
jnweiger, thanks for setting me straight.  Since the announcement of the release of the stable version of 8.0, I've been trying to upgrade to the new version.  I using a slightly modified version of Debian Wheezy.
ownCloud version 7.0 was installed from the OpenSuse repositories using apt-get.  My owncloud.list looks like
[code]
When I run, **apt-get update && apt-get upgrade**, I would have expec

[2015-04-08 20:28] jancborchardt commented on #15322
@bnvk thank you for the suggestion homie! Can’t wait to see your first code contributions. ;)

[2015-04-08 20:35] ryantbrown commented on #15440
Solution: stop using IE8 / 9

[2015-04-08 20:46] #15419 closed

[2015-04-08 21:27] enoch85 opened #15491 "Make it possible to edit files in shared view"
### Steps to reproduce

1. Open the shared tab
2. Click on a file to edit

### Expected result
File should go to edit mode

### Actual behavior
File gets downloaded.

### Why?
This means that you have to go to the Files app instead, to edit documents such as .php, .txt files which I think is totally unnecessary.

Favorites solves it partially but it's not optimal. It could be enhanced.

CC @ownclo

[2015-04-08 21:59] MorrisJobke commented on #15491
Duplicate of https://github.com/owncloud/files_texteditor/issues/17

[2015-04-08 21:59] #15491 closed

[2015-04-08 21:59] MorrisJobke commented on #15491
ref #13273

[2015-04-08 22:07] #15429 closed

[2015-04-08 23:25] enoch85 commented on #14270
@nickvergessen Problem seems to persist in 8.0.2

![activity](https://cloud.githubusercontent.com/assets/4511254/7057564/3b8f5186-de57-11e4-99b8-1a03f44d6288.png)

[2015-04-08 23:39] nickvergessen commented on #14270
Yeah we didnt backport it

[2015-04-09 01:50] gig13 commented on #15392
@RealRancor @schiesbn
How do I obtain the certificate for importing into the ownCloud personal page? When I used Firefox to connect, it redirected to WinSCP and I get the pop up to store the certificate, but i can't find it on my local system or in the Windows certmgr.

The sftp site I am trying to connect to is setup by another vendor, so do I need to ask them for something explicitly?

[2015-04-09 06:54] jancborchardt commented on #15309
Yeah, that would be doable and sensible design-wise at least. Is this data exposed already or how would we display it in the navigation cc @DeepDiver1975?

[2015-04-09 06:55] jancborchardt commented on #15309
cc @owncloud/designers what do you think? I’m undecided yet between a badge with an actual counter and a simple badge without counter to not be too detailed.

[2015-04-09 07:06] jvillafanez commented on #15418
Checked also with single-user mode: same behaviour with normal users

[2015-04-09 07:45] highacid commented on #15477
I get -bash: ./occ: Permission denied funny cause I am root... and the user under the running account does not have a shell.

[2015-04-09 07:45] EvgeniySpinov commented on #14708
I'm getting the same issue on CentOS 6, Owncloud 8.0.2. Have all packages installed including referred issues here.

I've made a clean install from site.

Maybe I can provide more information in order to resolve issue?

[2015-04-09 07:47] highacid commented on #15477
root@panel [/home/uhlhosting/public_html/work]# ./occ maintenance:mode --off
Console has to be executed with the same user as the web server is operated
Current user: root
Web server user: uhlhosting

[2015-04-09 07:48] highacid commented on #15477
How do you reopen same issue anyhow? :dart:

[2015-04-09 07:50] LukasReschke commented on #14708
Ewww… I really like CentOS and RHEL… "Enterprise-ready", preparing PR. @EvgeniySpinov I will mention you latter with a code change that you could test. That would be superb.

[2015-04-09 07:53] EvgeniySpinov commented on #14708
Em, #14840 solved issue for me. Looks like self-signed certificates will create issues for new users. Probably there is way to show warning/automatically process situation when user has self-signed certificate?

[2015-04-09 07:53] highacid opened #15493 "Manual upgrade"
uhlhosting@uhlhosting.ch [~/public_html/work]# ./occ upgrade
Turned on maintenance mode
An exception occurred while executing 'CREATE TABLE oc_ownc_appconfig_zulyvbqj53x7y (`appid` VARCHAR(32) DEFAULT '' NOT NULL, `configkey` VARCHAR(64) DEFAULT '' NOT NULL, `configvalue` LONGTEXT DEFAULT NULL, INDEX oc_y0nv4jio0lc41 (`configkey`), INDEX oc_bqel04knfmks0 (`appid`), PRIMARY KEY(`appid`, `configkey`

[2015-04-09 07:54] highacid commented on #15493
Updating ownCloud to version 8.0.2, this may take a while.

Turned on maintenance mode
An exception occurred while executing 'CREATE TABLE oc_ownc_appconfig_5t3iy7k60h1gc (`appid` VARCHAR(32) DEFAULT '' NOT NULL, `configkey` VARCHAR(64) DEFAULT '' NOT NULL, `configvalue` LONGTEXT DEFAULT NULL, INDEX oc_tacw6ioltlejy (`configkey`), INDEX oc_0103ja8ftg4b7 (`appid`), PRIMARY KEY(`appid`, `configkey`)

[2015-04-09 07:54] LukasReschke commented on #14708
That's not a fix - just a workaround :-)

[2015-04-09 07:59] zkvvoob commented on #15309
Hello,

What do you mean by "a simple badge without counter" - what would this
badge be used for?

2015-04-09 9:55 Гринуич+03:00, Jan-Christoph Borchardt
<notifications@github.com>:

[2015-04-09 08:04] EvgeniySpinov commented on #14708
Yep, never said differently, I will remove that after installing signed certificate. However it's hard to find solution as there are too many issues like this with same sympthons, i.e. log entries, but with different solution.

Just let me know if I can be in use of fixing this issue.

[2015-04-09 08:06] nickvergessen opened #15494 ""Everyone" list is empty after visiting a group list"
### Steps to reproduce

1. Go to Users section
2. Go to group "Admin"
3. Go back to "Everyone

### Expected

All users are displayed

### Actual

The list is blank, only a hard refresh brings back the list.

[2015-04-09 08:08] nickvergessen commented on #15494
Does not affect stable8, so can wait a bit

[2015-04-09 08:09] LukasReschke commented on #15494
Can confirm.

[2015-04-09 08:10] PVince81 commented on #15198
Closing in favor of https://github.com/owncloud/core/issues/13882#issuecomment-73927046 (it has a checklist of improvements to be done)

[2015-04-09 08:10] #15198 closed

[2015-04-09 08:13] jvillafanez opened #15495 "WebDAV interface accessible to normal users with single-user mode active"
### Steps to reproduce
1. Enable single-user mode through command-line `sudo -u www-data ./occ maintenance:singleuser --on`
2. Access to webdav interface with a normal user `curl -u foo:11111 -X PUT --data-binary @Pictures/8.jpg http://10.40.30.21:8180/remote.php/webdav/9.jpg`

### Expected behaviour
Admin users should be able to access, but normal users shouldn't (same behaviour that the web inte

[2015-04-09 08:15] PVince81 commented on #12323
Fixed by https://github.com/owncloud/core/issues/14676

[2015-04-09 08:15] #12323 closed

[2015-04-09 08:15] PVince81 commented on #6985
Fixed through https://github.com/owncloud/core/pull/14676

[2015-04-09 08:15] #6985 closed

[2015-04-09 08:24] PVince81 commented on #15494
Not sure if showstopper if there is a simply workaround (refreshing the page).
This can be adressed in the bugfix phase.

[2015-04-09 08:26] LukasReschke commented on #15494
Well this is very bad UX and we should fix it before 8.1 => Showstopper for 8.1 which can also be fixed in the bugfix phase ;-)

[2015-04-09 08:43] MorrisJobke commented on #15477
@highacid https://doc.owncloud.org/server/8.0/admin_manual/configuration_server/occ_command.html#using-the-occ-command

You need to run the command as the web server user

For Ubuntu for example this is:

[code]

To see the user (in the above example the user is `www-data`) do a `ls` on the config file: `ls -l config/config.php`:

[code]

In my case the user is `mjob`.

[2015-04-09 08:56] jvillafanez opened #15498 "Cron.php runs in single-user mode"
### Steps to reproduce
Following similar steps as https://github.com/owncloud/core/issues/14843
1. Set single-user mode in the server
2. `update oc_jobs set last_run=0`
3. Run `php cron.php`
4. Check "oc_jobs" table

### Expected behaviour
Cron doesn't run, timestamps in the "oc_jobs" table don't change

### Actual behaviour
Cron runs

### Server configuration
**Operating system**: ubuntu 14.04

*

[2015-04-09 09:00] PVince81 commented on #15498
Thanks.

@DeepDiver1975 @icewind1991

[2015-04-09 09:01] PVince81 commented on #15498
As discussed on IRC, I also agree that cron should not run in single-user mode (aka admin-only mode) because it is similar to maintenance mode. The purpose of that mode is to do maintenance work, so cron should not run.

[2015-04-09 09:01] PVince81 commented on #15498
@karlitschek

[2015-04-09 09:55] enoch85 commented on #14270
Could you please? @karlitschek

[2015-04-09 10:00] butonic commented on #6985
Thx a lot @PVince81

[2015-04-09 10:03] nickvergessen commented on #14270
opened a PR #15502

[2015-04-09 10:09] nickvergessen commented on #15309
We are talking about new stuff, so no, there is no data already somewhere. Once we have the option, app developers can start to expose data to display it there.

[2015-04-09 10:10] blizzz commented on #15444
Could you check whether the issue is fixed with https://github.com/owncloud/core/pull/15492 ?

[2015-04-09 10:17] blizzz commented on #13936
Well, partly fixed in https://github.com/owncloud/core/pull/15492

[2015-04-09 10:19] blizzz commented on #13904
8.1 should not suffer this, as a fix is included in https://github.com/owncloud/core/pull/15492, but needs to be done for older versions.

[2015-04-09 10:21] blizzz commented on #11571
Should be fixed with https://github.com/owncloud/core/pull/15492, but that's only >= 8.1

[2015-04-09 10:23] DeepDiver1975 commented on #15337
Having a closer look at the stack trace above: this issue might be related to multiple scan operations running in parallel. @PVince81 @icewind1991

[2015-04-09 10:23] blizzz commented on #11504
Should be fixed with https://github.com/owncloud/core/pull/15492, the save action is only triggered after closing the select thing, not on clicking.

[2015-04-09 10:25] blizzz commented on #11445
Fixed in https://github.com/owncloud/core/pull/15492

[2015-04-09 10:28] blizzz commented on #8258
Closed for inactivity, and possibly fixed. Please reopen if not.

[2015-04-09 10:28] #8258 closed

[2015-04-09 10:39] blizzz commented on #14244
Fixed in https://github.com/owncloud/core/pull/15492

[2015-04-09 10:40] lnxbil opened #15504 "Share information not updated if LDAP user is added to LDAP group"
### Steps to reproduce

1. Add an user to a group with already shared folders
2. observe that the new folder is not shared to the new group member

This does sometimes work and sometimes it does not. If I create a new folder and share it to the same group after adding the user to their group, it works as expected, yet it does not work for already shared folders.

### Expected behaviour
The folder

[2015-04-09 10:44] jvillafanez opened #15505 "A normal user can share files through the share API with single-user mode active"
### Steps to reproduce
1. Set single-user mode in the server
2. Share a file using the share API and a normal user `curl -u foo2:11111 -X POST http://server/ocs/v1.php/apps/files_sharing/api/v1/shares -d path=ownCloudUserManual.pdf -d shareType=3`

### Expected behaviour
An error is thrown because single-user mode is active and the user isn't admin

### Actual behaviour
The share is created

### S

[2015-04-09 10:54] nickvergessen commented on #15337
Debugging branch: https://github.com/owncloud/core/compare/stable8...smashbox-debug-temp
Output: https://gist.github.com/nickvergessen/12a2919af1c01533dd49

[2015-04-09 10:57] rullzer commented on #4774
We also need to take care of #12888

[2015-04-09 11:14] jancborchardt commented on #12326
This seems a pretty bad issue from a polish point of view. Depending on the amount of work this takes I would consider this as an 8.1 bugfix (similar to the [sharing menu animation](https://github.com/owncloud/core/issues/15308)), or 8.2.

@owncloud/designers what do you think?

[2015-04-09 11:21] rullzer commented on #14111
@oparoz any progress on this? As it would help in #4774 as well

[2015-04-09 11:25] rullzer commented on #4774
The OC_Response class is also used in several places. We do have \OCP\Response but that is missing the setStatus function (and the list of supported statuses).

What are the objections of having setStatus in OCP?

[2015-04-09 11:28] oparoz commented on #14111
I need to hear back from @Raydiation and @PVince81 because I know that nobody is happy with the way scripts are loaded in `appinfo/app.php` .
There is no point in introducing something which should not be used from my pov.

[2015-04-09 11:37] jancborchardt opened #15508 "Empty content notice does not show for shared links"
What is expected:
![capture du 2015-04-09 13 34 06](https://cloud.githubusercontent.com/assets/925062/7065910/3032b2ea-debd-11e4-9070-91b4800f83ac.png)
How it actually looks:
![capture du 2015-04-09 13 32 23](https://cloud.githubusercontent.com/assets/925062/7065911/30346838-debd-11e4-9abd-e5ee63acd284.png)

The emptycontent element is there, it just stays hidden. When the folder is empty it shoul

[2015-04-09 11:40] lnxbil commented on #15504
As requested in IRC @PVince81 @blizzz

[2015-04-09 11:49] Froster opened #15509 "Feature Request - E-Mail with shared link should include set password"
Hello,

if i share a file with someone else by sending an email within the share context menu, there should be an option that could be set to send the given password in the e-Mail.

Actually i must send a second mail by myself containing the Password.

share context Menu
- if password is set
- option checkbox should appear
- variable available in the email template ##email##

kindly
chris

[2015-04-09 12:06] Raydiation commented on #14111
My take on this is that addVendorScript is basically not really useful. I'd try to contain it as best as possible and maybe deprecate it @MorrisJobke. There are two usescases:

* Reusing core JavaScript vendor libraries
* Loading JavaScript libs from your appid/vendor directory

The first one should be highly discouraged since it ties apps to specific libs in core. An app should be self contained

[2015-04-09 12:36] PVince81 commented on #15504
also @schiesbn as it's related to shares

[2015-04-09 12:48] MorrisJobke commented on #12326
Fix is in #15512

[2015-04-09 12:50] finius opened #15513 "admin site should contain controls for console.php"
To avoid breaks in media for an administrator while performing administrative tasks (f.ex. using console.php to rescan user directories), a GUI control for those common tasks should be placed in the administrator frontend of the owncloud website.

[2015-04-09 13:09] iliyasbasir commented on #13781
@craigpg @PVince81 @LukasReschke : I had impression that this issue should resolved on 7.0.5 but this release did not fixed  issue
can you please help Customer been asking for fix

[2015-04-09 13:09] nickvergessen commented on #15513
Rescanning user directories should not be a daily task, but is a last way to try to fix stuff.
However @DeepDiver1975 is working on an app to allow running such stuff from the front end, so won't fix in core, but "there is an app for it"

[2015-04-09 13:11] nickvergessen commented on #15509
While this is a nice idea and I understand the usecase, it is not possible once you closed the share dropdown/page. Because we only store a one-way hash in the database so we can't get the plain text version of the password later again, right? @LukasReschke

[2015-04-09 13:12] PVince81 commented on #15508
Is it gone again ? :frowning: regression

[2015-04-09 13:12] nickvergessen commented on #15505
This again affects all OCS api calls

[2015-04-09 13:12] LukasReschke commented on #15509
That is correct, we could address this with a proper sharing dialog as pointed out at https://github.com/owncloud/core/issues/3224. Then we know before hashing the password that we have to mail it and can mail it :-)

[2015-04-09 13:13] karlitschek commented on #15509
I´m also not sure why someone would use this. Isn´t it the point of the password to give someone the link and the password via different channels? Is you put both in one email then why set a password in the first place?
Maybe I´m missing something here.

[2015-04-09 13:17] karlitschek commented on #15498
Thanks for the fix @icewind1991

[2015-04-09 13:17] PVince81 commented on #13781
The attached mount.json only contains a single user. Is it from the moment where you overwrote it with the new user ? Can you try assigning it again to two users, then refresh the page, and see if they appear ? If not, please check the Javascript console for errors.

After adding users in the "Applicable" field, you might need to click outside and wait a second until the spinner appears. Only then

[2015-04-09 13:19] karlitschek commented on #15495
good catch

[2015-04-09 13:19] nickvergessen commented on #15493
Duplicates #14916

[2015-04-09 13:19] #15493 closed

[2015-04-09 13:24] finius opened #15515 "GUI frontend for detection of user directories that became an LDAP-orphan"
While ownCloud is able to use LDAP to give users access to the system, it creates user directories the same way it does for local created ownCloud users.
Unfortunately ownCloud seems not to (be able to) take notice, when users have been deleted in LDAP, so the data directory gets bigger and bigger because the mount of occupied storage for orphaned user directories is never cleaned up. I would appr

[2015-04-09 13:25] finius commented on #15513
okay - thank's for this hint!

[2015-04-09 13:25] #15513 closed

[2015-04-09 13:26] MorrisJobke commented on #15508
Doesn't work in stable7, stable8 and master

[2015-04-09 13:39] butonic commented on #15326
I also got these two failing tests. I really wonder how Jenkins can not have them. Debugging this led to https://github.com/owncloud/core/pull/15517, which fixes the test according to what it expects. Namely that copying / moving a folder will leave copied files at the target location, even when some files fail. This does change the semantics of the move / copy operation so I am wondering how we c

[2015-04-09 13:45] MorrisJobke commented on #15508
I read through the code and simply have no idea how what gets loaded and which code parts are used from the sharing and which are from the files app. :(

[2015-04-09 13:46] tflidd commented on #15509
@Froster If the sharing token is random enough (=it can't be guessed), an additional password sent by mail will not provide more security.

[2015-04-09 13:51] jancborchardt commented on #15508
Yeah, I found that confusing as well. It seems that for file lists code from core is used. Because when you inspect it, the emptycontent message is the one from files, not from the sharing filelist template.

[2015-04-09 14:25] Froster commented on #15509
@karlitschek  , it's nothing about security it's only about usibility and a user getting an email with shared content would ever need to save his password next to the link so this couldn't be an argument. But access from browser history would be prohibitet and the user should think more about resend the mail to others

@tflidd  so the hole password context is sensless ? i don't think so. If a down

[2015-04-09 14:32] Froster commented on #15515
Same

[2015-04-09 14:44] nickvergessen commented on #15337
updated the branch and now managed to reproduce it once again.
Trashbin is always involved: https://gist.github.com/nickvergessen/8b877aef456fafdc22fa
The log entries of the failing call are https://gist.github.com/nickvergessen/8b877aef456fafdc22fa#file-owncloud-log-L246-L252
The backtrace entry is the backtrace.json file in the gist.

Entries for the relevant stroage in the table (that are found

[2015-04-09 14:46] DeepDiver1975 commented on #15337
So ... basically the insert fails - not the select. Maybe we need a different insert mechanism .... :puke:

[2015-04-09 14:48] nickvergessen commented on #15337
However the entry right before the failing one inserts exactly the same part:
[code]
2 different requests doing the same action for the same storage

[2015-04-09 14:51] DeepDiver1975 commented on #15337
indicating parallel scanner activities

[2015-04-09 14:53] mmattel commented on #15444
FF:
![image](https://cloud.githubusercontent.com/assets/3321281/7069175/91a001e4-ded7-11e4-8d18-df774fba4bc9.png)

Opera:
![image](https://cloud.githubusercontent.com/assets/3321281/7069187/a0534854-ded7-11e4-926e-8ea0c2941403.png)

Whyever Opera (Chromium) does not align the end of the port number field, at least it is visible completely.

When 15492 gets merged, we can close this issue

[2015-04-09 15:29] autumnwalker commented on #9885
FYI - issue persists; however, the server did not continue crashing in a loop until the remaining Apache2 processes were killed and restarted.

[2015-04-09 15:31] autumnwalker commented on #15450
FYI - issue persists; however, the server did not continue crashing in a loop until the remaining Apache2 processes were killed and restarted.

### Log File Output
[code]

[2015-04-09 15:39] LukasReschke opened #15518 "Add system-wide certificate storage"
We really need in addition to the user-wide certificate storage also a system-wide one… Let's see how and if we can make this happen properly. Then we need to re-evaluate if all external storages implement it properly.

@icewind1991 FYI

[2015-04-09 15:43] blizzz commented on #15444
Part of the problem might be that i am using relative sizes. Not sure this can work out at all. Pixel perfectness would help, I guess.

[2015-04-09 15:45] PVince81 commented on #15508
You probably need to add a new override here: https://github.com/owncloud/core/blob/master/apps/files_sharing/js/public.js#L121 that overrides this method: https://github.com/owncloud/core/blob/master/apps/files/js/filelist.js#L1623

This is still trashy code. Ideally we should move the public file list code to a separate class PublicFileList that properly extends the FileList class.

[2015-04-09 15:47] tflidd commented on #15509
@Froster : Using a sharing password only makes sense if you use different communication channels for password and link.
Just treat the sharing link like a password. You can as well prohibit users to give the link to others: Without sharing link, you can't download anything. If you are afraid that someone intercepts the mail (with your link), a password only helps if you don't send it per mail as w

[2015-04-09 16:05] Froster commented on #15509
@tflidd maybe you start a thread withyourself to discuss it for your self with you own theories and you can come to a conclusion with you self , but this thread started by myself was never opened to discuss the sense of passwords and sharing links neither than discuss security by it self but only to request a feature.

[2015-04-09 16:27] blizzz commented on #15504
There is a background job running every hour who updates group memberships and throws hooks so that group shares will be upgraded as well. We don't know about group memberships changes in LDAP until we check and compare.

[2015-04-09 16:35] lnxbil commented on #15504
I manually started the cron-job after updating the LDAP group memberships (and it also runs automatically every 15 minutes) or are you not referring to the cron job?

The change of the group was done earlier this week, so the job you're talking about should be run at least once. I also had a look at the ```occ``` but there is no update membership or something similar.

[2015-04-09 16:37] tflidd commented on #15509
@Froster : You are requesting a new feature. I just wanted to point out why it does not make sense in my opinion. But there are of course different opinions and you can bring up yours. Probably I didn't get your point. Actually these are not even my own stupid theories, Lukas already brought them up (perhaps more understandable: https://github.com/owncloud/core/issues/11682#issuecomment-59892537 i

[2015-04-09 16:37] MorrisJobke opened #15520 "OC.History - don't fire reload if URL hasn't changed any value"
If for example via a click on a `<a href='#'>' the URL is changed, but the actual pointer of the URL is still the same no reload of the files app should happen.

Noticed together with @pvince81

See https://github.com/owncloud/core/pull/15512#issuecomment-91241159 for a real world example

[2015-04-09 16:39] LukasReschke commented on #15509
Yup. Duplicate… I wondered the whole time if there wasn't already an issue but couldn't remember who opened it :)

[2015-04-09 16:39] #15509 closed

[2015-04-09 16:40] blizzz commented on #15504
Yes, i am referring thereto.

In the database, is ldap_group_members filled properly?

[2015-04-09 16:41] #15326 closed

[2015-04-09 16:45] PVince81 commented on #15430
Am able to reproduce this on master too against an ownCloud EE with expired license.
This is the WebDAV response:
[code]

This is very wrong. It should return the list instead.

[2015-04-09 16:55] lnxbil commented on #15504
I don't know if it's properly, but I see it in the GUI and the SQL also states that it's working:

[code]

so the user is in the group - yet I it's clear because if I create a new share for that group, the share is properly displayed for the user. I fixed the problem for the specific user by hand: sharing the already shared folder with the specific user in addition to the group, yet this only fixe

[2015-04-09 16:56] lnxbil commented on #15504
I tried to search for a similar issue before issuing my problem and I have overlooked #15004 which is actually very similar to my problem.

[2015-04-09 16:57] PVince81 commented on #15430
Fix for master is here: https://github.com/owncloud/core/pull/15521

I'll prepare one for stable8 it too, it will probably be different because we didn't use Guzzle there.

[2015-04-09 16:57] Froster commented on #15509
@tflidd  don't ever said stupid *ty

[2015-04-09 16:59] PVince81 commented on #15430
@jvillafanez how did you mount it ? Did you use server to server share or did you use "add to ownCloud" from a public link ?

I cannot reproduce the issue on stable8 / 8.0.3 RC1.
The PROPFIND works correctly.

I suspect that in your case it's a slightly different code path, maybe from when the share wasn't scanned yet or something.

[2015-04-09 17:13] Froster commented on #11682
Hi

but what is if the User should become the shared e-mail is not a know user in the system? So it should be possible only to activate the option "send password with email". for everyone share via mail.

[2015-04-09 17:16] MorrisJobke opened #15522 "Loading indicator in share drop down overlaps border"
introduced with #15235

![bildschirmfoto von 2015-04-09 19-14-29](https://cloud.githubusercontent.com/assets/245432/7072466/f896ffa0-deec-11e4-8467-ce64ed4d004e.png)

cc @jancborchardt

[2015-04-09 17:34] crewshin opened #15523 "Need the ability to use external storage (S3 in my case) and restrict users from seeing each others files."
Anyone considering adding a feature to allow users to have jailed/private directories when using external storage on S3? I'd LOVE to be able to use ownCloud for my company instead of an sftp server but this is a deal breaker for me. I just need a way to allow customers to transfer files to us privately and not store the files on the system drive basically. Customer A should not be able to see Cust

[2015-04-09 17:40] PVince81 commented on #15430
Still cannot reproduce the reported issue on stable8.
I hooked the debugger and see that it goes in the same code path, doing the PROPFIND to the backend server which itself returns an "Internal Server Error". Then this error gets converted to StorageNotAvailableException which is properly ignored by the frontend PROPFIND. I then see the correct PROPFIND response with the folder contents (using cu

[2015-04-09 17:53] #12326 closed

[2015-04-09 17:57] PVince81 commented on #13310
Good news! @icewind1991 has brought a PR that keeps file ids between storages (that includes shared folders): #15360

I also checked master and deleting a file to trashbin then restoring will also keep the file id. :smile:

[2015-04-09 17:57] gig13 commented on #15392
The owncloud log has timeout messages and stat failed for ftps

[code]

[2015-04-09 18:00] gig13 commented on #15392
The apache access.log doesn't have much information.

[code]

[2015-04-09 18:01] PVince81 commented on #14084
I don't see how @enoch85's steps would break the file ids. Unless the files were moved cross-storage within ownCloud ?

[2015-04-09 21:30] jancborchardt commented on #12326
@MorrisJobke you’re awesome! Had I realized you’re the right person for this I would have asked you earlier. ;)

[2015-04-09 21:30] jancborchardt commented on #15522
Ah, it should be inside the input field on the right. Self-assigning.

[2015-04-09 21:32] jancborchardt commented on #11682
@Froster they will get a personalized share link, as we said above. The password is a different topic – all the links will be separate so if you deactivate a person’s link they can not view it anymore.

[2015-04-09 21:52] MorrisJobke commented on #12326
@butonic and @PVince81 showed me the "just do it" style ;)

[2015-04-09 21:56] MorrisJobke commented on #11504
Reopen this please if this is not fixed with #15492

[2015-04-09 21:56] #11504 closed

[2015-04-09 21:56] MorrisJobke commented on #15444
#15492 is merged

[2015-04-09 21:56] #15444 closed

[2015-04-09 21:56] MorrisJobke commented on #11571
It's merged -> close

[2015-04-09 21:56] #11571 closed

[2015-04-09 21:57] MorrisJobke commented on #11447
Is fixed with #15492

[2015-04-09 21:57] #11447 closed

[2015-04-09 21:57] MorrisJobke commented on #11445
The mentioned PR is merged

[2015-04-09 21:57] #11445 closed

[2015-04-09 21:58] MorrisJobke commented on #14244
The PR is merged

[2015-04-09 21:58] #14244 closed

[2015-04-09 22:04] blizzz commented on #7908
Fixed in master (for 8.1) with https://github.com/owncloud/core/pull/15492

[2015-04-09 22:04] #7908 closed

[2015-04-09 22:05] blizzz commented on #11330
@jnfrmarks this should be fixed in master for 8.1. Can you confirm?

[2015-04-09 22:06] blizzz commented on #13904
@jnfrmarks this should be fixed in master for 8.1. Can you confirm?

[2015-04-09 22:08] MorrisJobke commented on #15523
This is available if you use the S3 storage backend as primary storage. This is an enterprise feature.

cc @DeepDiver1975 Is this correct?

[2015-04-09 22:24] MorrisJobke opened #15524 "Handle HTTP connection errors in files_external as StorageNotAvailable"
Follow up from https://github.com/owncloud/core/pull/15521#issuecomment-91370650

If I shut down the apache it's a:

`Sabre\HTTP\ClientException` with code `7` and message `Failed to connect to 192.168.0.17 port 80: Connection refused`. We should handle this as well.

If I shut down the whole PC it's:

`Sabre\HTTP\ClientException` with code `7` and message `Failed to connect to 192.168.0.17 port 8

[2015-04-09 22:34] LukasReschke commented on #15327
@butonic FYI - same as the issue fixed in master today

[2015-04-09 22:37] MorrisJobke commented on #15524
Okay ... doesn't was that easy to fix. :(

@PVince81 Can you have a look at this tomorrow? It's easy to reproduce :)

[2015-04-09 22:48] MorrisJobke commented on #7874
It is now a command: #15437

@PVince81 Should we move this to a repair step?

[2015-04-09 23:41] crewshin commented on #15523
Ah I see. Thanks guys!

[2015-04-09 23:50] #15523 closed

[2015-04-10 06:40] jvillafanez commented on #15430
@PVince81 I added it in OC 8.0.3RC1 using the "add to ownCloud" from public link. The source file is in OC 7.0.5.

Maybe the 7.0.5 server returns something wrong.

[2015-04-10 07:23] finius commented on #15515
If "same" means solution-by-app, I'm not quite sure if maintanance of data directories and the database itself shouldn't be a sovereign task of ownCloud core itself

[2015-04-10 07:31] DeepDiver1975 commented on #15515
There is console command which takes care of this.

[2015-04-10 07:36] cdamken commented on #13429
@MorrisJobke It sounds reasonable. Thank you

[2015-04-10 08:06] MorrisJobke commented on #15515
The command is documented in https://doc.owncloud.org/server/8.0/admin_manual/configuration_user/user_auth_ldap_cleanup.html and available for 7.0.5 and 8.0.0 and upwards.

[2015-04-10 08:06] MorrisJobke commented on #15515
@finius Please reopen if this command doesn't fit your needs.

[2015-04-10 08:14] zanglerecke opened #15525 "No Login if Database full"
I just encounterd some trouble to login, but no error or something.

-> Problem was, my Disk was full (another Process wrote its log to the end of space, NOT OC)

BUT, it looked like that my Password is not correct, as i put it in,
so it may be possible to give a tiny pice of information to the User, like (There is a Problem with the Installation, your administrator will check for it)

[2015-04-10 08:24] PVince81 commented on #7874
Hmm maybe if we consider that the upgrade time is the best time to do a bit of cleanup.

[2015-04-10 08:34] nickvergessen commented on #15525
well I guess we can not write the session file if the disc is full.
Not a lot we can do about.

[2015-04-10 08:43] #15396 closed

[2015-04-10 08:43] #15397 closed

[2015-04-10 08:45] LukasReschke opened #15526 "Filtering for mimetypes in filepicker dialog does not work"
So what I did was:

[code]

Which fires a request to `/index.php/apps/files/ajax/list.php?dir=&mimetypes=%5B%22httpd%2Funix-directory%22%5D`, so the JS part is completely fine, but let's take a look at the endpoint: https://github.com/owncloud/core/blob/43b503641c9f3cc705f4a5c318c4122d00f8940a/apps/files/ajax/list.php

There is simply no filter at all for the mimetype, the whole parameter is unuse

[2015-04-10 08:46] jancborchardt commented on #15396
Thanks a bunch @Volker-E! :) It’s cool to have you on board regarding accessibility!

[2015-04-10 08:46] nhymxu commented on #14840
Adding curl_setopt($curl, CURLOPT_SSL_VERIFYPEER, false); in https://github.com/owncloud/core/blob/master/lib/private/httphelper.php#L73 solved it for me.
Thanks

[2015-04-10 08:53] DeepDiver1975 commented on #15525
indeed

[2015-04-10 08:53] #15525 closed

[2015-04-10 08:53] jancborchardt commented on #15308
*cough* soo … @MorrisJobke … you need something new to work on after fixing https://github.com/owncloud/core/issues/12326? ;)

[2015-04-10 08:57] PVince81 commented on #15430
Looks like it, I was able to reproduce it when connecting to a OC 7 EE server with invalid license.

[2015-04-10 09:05] MorrisJobke commented on #7874
I don't think so, because this step could take very long and simply would longer the maintenance for no actual reason. This cleanup can be done while running the instance in normal mode with no impact (except the load impact on the database for doing the query)

[2015-04-10 09:12] jancborchardt opened #15527 "No loading feedback on log in"
When pressing the log in button, the only feedback is the fields being disabled. This is not really feedback enough.

We should also display a loading spinner centered on top of the username/password fields. Just like we do for the installation.

cc @owncloud/designers

[2015-04-10 09:16] Froster commented on #11682
@jancborchardt  yeah you are right but as you see my request was closed and i was linked here.

- for personal links it should be able for the user to monitore them on a seperated page maybe in an app für the WebUI so the he could overview them to reduce complexity
- even i don't know if the hole System with personal links could be to complex in business proposes if you have mainly normal users

-

[2015-04-10 09:19] jvillafanez commented on #15487
Adding logs (trying to download the missing file from server B):
[code]

[2015-04-10 09:34] jancborchardt commented on #15522
Fix at https://github.com/owncloud/core/pull/15528 :)

[2015-04-10 09:39] Froster commented on #15515
@MorrisJobke  if i tested right i only could get in ldap deleted users but i Need also a view for

- disabled users
- users who only get revoked there access while deleted out of the ldap Group which grants Access to OC

cause not all users will directly deleted or disabled in a bigger Company :(

Is there a Chance to get this filters function's on Shell?

[2015-04-10 09:41] MorrisJobke commented on #15515
@blizzz Can you have a look. I'm not fully aware what is already in there.

[2015-04-10 09:41] libasys commented on #15526
https://github.com/owncloud/core/issues/11563

[2015-04-10 09:41] Froster opened #15529 "request - see users Quota Consumption in user panel"
Hi,

it should be able to see the consumption from every user in the user Panel to Monitor if a user get's a full space.

kindly

[2015-04-10 09:43] DeepDiver1975 commented on #15526
Thanks @libasys - can you submit your changes as pull request please? THX

[2015-04-10 09:44] cdamken commented on #14464
Upgrade to 7.0.5 fixed the problem. Thanks guys

[2015-04-10 09:44] #14464 closed

[2015-04-10 09:45] #15522 closed

[2015-04-10 09:47] zanglerecke commented on #15525
true ;(

but .... i also have no idea

[2015-04-10 09:48] deKay01 commented on #15407
I posted this on the ownCloud forum but it was suggested I ask here as it seems to be the same error:

I (clean) installed 8.0.2 on my web host, and v1.8.0 of the Windows client. I've tried syncing, but am getting a lot of errors. Small files (under a few MB) upload fine, but large files all fail. I can see they partially upload as the cache folder on the server has loads of "chunking" files, but

[2015-04-10 10:09] nickvergessen commented on #15529
Yeah mean in the admin overview?

[2015-04-10 10:13] DeepDiver1975 commented on #15407
we should use docrine's ping method to reconnect - https://github.com/doctrine/dbal/blob/master/lib/Doctrine/DBAL/Connection.php#L1570

[2015-04-10 10:16] PVince81 commented on #15524
Fix is here: https://github.com/owncloud/core/pull/15530

[2015-04-10 10:17] PVince81 commented on #15430
I have a fix for master: https://github.com/owncloud/core/pull/15530

I'll try and backport it to stable8 but it will need more changes as we neither had Guzzle nor Sabre 2.1 exceptions.

[2015-04-10 10:20] blizzz commented on #15515
This is not implemented and would also extend by far the "deleted LDAP users" feature.

#### Disabled Users ####

Speaking out of memory and without much rechecking, disabled users is not a standardized LDAP feature but a proprietary method. Nevertheless it's certainly possible to get a report therefore, but then somebody needs to do this. Typically, for AD you would take the user list filter and

[2015-04-10 10:21] Froster commented on #15529
Maybe depends on ..

if the info could get from the db and the user Panel could be sorted or so in the user Panel would also be an Option.

but if the user Panel would be slower or couldn't be sorted it should be better to have an own list fort it.

[2015-04-10 10:28] lars-becker commented on #14048
Thanks Otanku. That seems to work with my calendar. :)

[2015-04-10 10:31] jancborchardt opened #15531 "Optimize load times of images & icons"
It would be good to reduce the number of HTTP requests necessary to load the icons. Currently every icon is its own file.

We could and should optimize that by putting the SVG and PNG icons into a sprite. We can use http://iconizr.com for that.

cc @owncloud/designers

[2015-04-10 10:34] Froster commented on #15515
Disabled Users

Dont know i think there is a ldap value in AD?

Revoked Access

In our LDAP (AD) configuration we have an User Filter. Collecting serveral hundred users.
A User must be "memberof=" a Group but that shouldn't be the deal.

It should be this way:

OC reads all users with Access and compares them to local entrys.

Missmatch = is not any more allowed to Access.

[2015-04-10 10:35] finius commented on #15515
@Froster: sounds reasonable

[2015-04-10 10:35] blizzz commented on #15504
I will try to reproduce it, but won't have time before next week.

[2015-04-10 10:52] OtakuWally commented on #14048
Don't thank me, I just edited a file, thanks the person who ORIGINALLY found the bug (don't ask me where I have read about it ;-) )

[2015-04-10 11:06] PVince81 commented on #15430
stable8 fix here: https://github.com/owncloud/core/pull/15533

[2015-04-10 11:15] jvillafanez commented on #15487
I have similar behaviour with a password-protected share:

1. Upload a file (checked with a png and a text file file) and share it by link with password in server A
2. Add the link in server B
3. Change the password of the file in server A
4. Download the file from server B

[2015-04-10 11:23] PVince81 commented on #15451
CC @Xenopathic

[2015-04-10 11:24] PVince81 commented on #15449
Duplicate of https://github.com/owncloud/core/issues/5322

[2015-04-10 11:24] #15449 closed

[2015-04-10 11:27] blizzz commented on #15427
Less settings, better. Typically you would use uid usually and samaccountname with AD. We discover this already for the login filter. Might be worth about adding a functionality to replace ownCloud user names with LDAP usersnames were necessary. This change, or rather addition, would reside on user backend level. But when you decide to replace it? Maybe external resources nevertheless listen to th

[2015-04-10 11:32] SpinovEvgeniy commented on #14048
I've updated the file as mentioned above and problem still exists. OC 8.0.2, Centos 6, PHP 5.4.39.

[2015-04-10 11:41] butonic commented on #15326
@karlitschek backport?

[2015-04-10 11:47] RealRancor commented on #15529
Hi,

i think this functionality is already provided by some 3rdparty apps:

https://apps.owncloud.com/content/show.php/Storage+Charts+2?content=165528
https://apps.owncloud.com/content/show.php/Storage+Usage+%2B+Activity+Charts?content=166746

[2015-04-10 11:48] LukasReschke commented on #15529
Dupe https://github.com/owncloud/core/issues/12998

[2015-04-10 11:48] #15529 closed

[2015-04-10 12:10] mmattel commented on #15427
I have to be honest, I do not use the ldap plugin...
But I use files_external with SMB and I listen to other users of owncloud.

Especially with files_external, the idea and availability to use the current logon user name as predefined subdirectory name ``$user`` is really a good feature.

It seems that users have in some circumstances the problem, that the logonuser derived from an ldap attribute

[2015-04-10 12:16] noerdi commented on #15373
yes, sure. sorry for the delay, i was on vacation... here is the screenshot:
![owncloud_2](https://cloud.githubusercontent.com/assets/5064538/7087420/b52e5458-df8b-11e4-894e-483a12e718e6.JPG)
i notice that the first 6 folders in the alphabetically sorted list appear normal and alle the rest (about 295) appear transparent.

[2015-04-10 12:16] PVince81 commented on #15304
@etiess are there any reshares involved ?

If I understand well, User 2 only moved the mount point "Folder 1" into an own "Folder 2".

AFAIK there is no code that would touch/migrate/affect the share information during the upgrade.
Can you confirm that none of the users did any other operations on the share after the update ?
Did the sharing information disappear directly after the update ?

How o

[2015-04-10 12:17] #15524 closed

[2015-04-10 12:18] MorrisJobke commented on #15430
WIll be closed once it is in stable8

[2015-04-10 12:19] PVince81 commented on #15373
Hmm, these CSS classes are usually there to make the animation of appearing folders, but something seems to be blocking it.

Did you disable the sharing app or disabled the "Share API" checkbox on the admin page ? Just to make sure that this isn't https://github.com/owncloud/core/issues/15186

[2015-04-10 12:24] noerdi commented on #15373
yes! that was it. i was not expecting the need of the share API for external storage, but reactivating it solved this problem. thanks a lot! :-D

[2015-04-10 12:24] #15373 closed

[2015-04-10 12:25] Froster commented on #15529
@LukasReschke Steps 5 in #12998 ?

[2015-04-10 12:25] PVince81 commented on #15373
It's not related to external storage at all.

There's a Javascript error produced in that situation, which breaks the JS code responsible for rendering the second page when you scroll down. So basically any folder that has more entries than visible will have trouble when scrolling down...

[2015-04-10 12:26] LukasReschke commented on #15529
Yes. The whole category of "User quota usage (#12602)", especially step 5. This will happen soonest with ownCloud 8.2 but depending on other factors can also happen later ;-)

[2015-04-10 12:38] #15498 closed

[2015-04-10 13:00] PVince81 commented on #15189
From what I remember you should be able to delete these entries manually and the clientwill try and resume them.

[2015-04-10 13:15] cdamken commented on #13629
@DeepDiver1975 We Installed oC8 instead because that was faster and runs

[2015-04-10 13:15] #13629 closed

[2015-04-10 13:18] enoch85 commented on #15450
Maybe it's APC related? @jnweiger Did you inlcude the 4.0.6 version in the ownCloud package?

[2015-04-10 13:24] KPrinz commented on #14911
Hi, I have the exact same issue as Alienmaster!

Qnap 4.1.3 (Intel) with PHP 5.5.21 qpkg
Coming from 7.0.4 to 8.0.2 using online updater

<?php
$CONFIG = array (
  'instanceid' => '*',
  'passwordsalt' => '*',
  'trusted_domains' =>
  array (
    0 => '*HOSTNAME*',
    1 => '*IP*',
  ),
  'overwritewebroot' => '/owncloud',
  'datadirectory' => '/share/CACHEDEV1_DATA/.qpkg/owncloud/owncloud/data',

[2015-04-10 13:25] oparoz commented on #15450
I'm using APCu 4.0.7.
This seems to happen if I leave the browser open overnight. So there could be a timeout/session issue.

[2015-04-10 13:31] MorrisJobke commented on #7874
I would leave this as it is now.

[2015-04-10 13:31] #7874 closed

[2015-04-10 13:41] etiess commented on #15304
@PVince81 You're right. UserA shared Folder1 with the group. He did not do anything related to this folder. I don't think User2 did anything either. But all other GroupA members lost access to Folder1. I cannot say exactly when it appeared, it was a few days after the update that I noticed it.

I don't know exatcly when the original share was created, but it was done End of December 2014. It was s

[2015-04-10 13:49] razyr commented on #15189
So if I send her a slightly out of date copy of the database, will the client sort everything out gracefully?

[2015-04-10 13:53] karlitschek commented on #15326
backport is fine. Thanks :+1:

[2015-04-10 13:54] PVince81 commented on #15189
I can't guarantee it as I'm not familiar enough with the sync client workings.

If you want to be sure, best would be to do the following:
1. Ask her to shut down the sync client and not run it any more until further notice
2. Get the database file
3. Delete the blacklisted entries
4. Put back the database file
5. Restart the sync client

[2015-04-10 13:54] MorrisJobke commented on #15327
Partial fix for the view tests is in #15539

[2015-04-10 13:55] MorrisJobke commented on #15326
Backport: #15539

[2015-04-10 14:02] PVince81 commented on #15304
I tried the following locally:
1. Setup OC 7.0.4
2. Create three users "user1", "user2", "user3"
3. Add "user2" and "user3" in a new group "groupa"
4. User1 creates a folder "Folder1", uploads a few pics
5. User1 shares "Folder1" with "groupa"
6. User2 moves "Folder1" into "Folder2"
7. Upgrade to 8.0.2
8. Check the shared folder

This still works.

Now if you say that the sharing info got lost, th

[2015-04-10 14:03] PVince81 commented on #15304
This is the actual ticket that describes how file ids can get lost/changed: https://github.com/owncloud/core/issues/13310#issue-54180395 (share information is linked to the fileid, so losing it would lose the share)

[2015-04-10 14:37] PVince81 commented on #12147
I found this happening too and can reproduce the issue. Closing in favor of https://github.com/owncloud/core/issues/14370

Surprised to see that it already happened back then in 7.0.3

[2015-04-10 14:37] #12147 closed

[2015-04-10 14:41] razyr commented on #15189
Did as you advised.  With the clean blacklist table the files with the 507 errors are synching up nicely.  There's 3700 of them so it's going to take awhile but I'm seeing 201's streaming across the apache log.

So that solves our immediate problem with the customer, leaving you guys to sort out the source of the 507 and the issue with the client blacklist.

Let me know if I can assist with testin

[2015-04-10 14:44] PVince81 commented on #14370
Ok I know what is happening: there's a user "user2" who has never logged in, so that user has no actual home folder and the "files" folder hasn't been created yet.

Still, someone shared a folder with "user2" and modifies the files in it, which will propagate the etags for recipients. But since the recipient "user2" doesn't have a "files" folder, this message appears.

[2015-04-10 14:45] PVince81 commented on #12147
Has the user "michael" ever logged in before ? Can you check if that user has a folder "data/michael/files". If not, you could ask that user to login at least once, it is likely to make the messages disappear.

[2015-04-10 14:48] PVince81 commented on #14370
Steps to reproduce:
1. Create two users "userx" and "usery"
2. Do NOT login as "usery"
3. Login as "userx"
4. Create a folder "test" and upload some files
5. Share "test" with "usery"
6. Upload more files into "test"
7. Check owncloud.log

Result:
[code]

Then if you login once as "usery", the messages will not appear any more.

[2015-04-10 14:48] PVince81 commented on #15189
Good to know, thanks.

[2015-04-10 14:54] heavymanto opened #15540 "Upgrade oc 7.x -> 8.0.2 eror"
Hi, in updating procedure hi have this error, can i do?

thx

![screenshot 543](https://cloud.githubusercontent.com/assets/6449169/7090254/0ad03b40-dfa2-11e4-885d-aa7d1abd5d75.png)

[2015-04-10 15:00] nickvergessen commented on #15540
See https://github.com/owncloud/core/issues/13980#issuecomment-73511661 + following comments

[2015-04-10 15:00] #15540 closed

[2015-04-10 15:09] oparoz commented on #10788
This feature request has been kind of implemented in Gallery+. The order is not saved when you use the buttons, but you can define defaults for folders and the settings can be inherited.

More information here:
https://github.com/interfasys/galleryplus/blob/master/documentation/Album%20configuration.md

[2015-04-10 15:26] etiess commented on #15304
This is the result of the command you indicated:
![share](https://cloud.githubusercontent.com/assets/900280/7090951/a14ebc96-dfa6-11e4-8138-9f269cea4119.png)

[2015-04-10 15:29] etiess commented on #15304
The shared folder is called "Famille", GroupA includes User1 User2 User3 and User4.

[2015-04-10 16:12] chrisjscott opened #15542 "obscure hidden files from view"
I know this has been submitted a few times, but it never seems to get resolved - rather, it always spirals in to a philosophical argument. I'd like to put this forward:

The developers of ownCloud, as well as many of those who use it, are technically-savvy. So, of course they'd prefer to be able to see hidden files. But given a professional environment where the users are not tech-savvy (translati

[2015-04-10 16:15] LukasReschke commented on #15542
Duplicate of https://github.com/owncloud/core/issues/2589 as far I can tell :-)

[2015-04-10 16:15] #15542 closed

[2015-04-10 16:21] nickvergessen commented on #15337
Since we still get the serialization dead lock exception, I updated the branch to also log the transaction nesting level:
[code]

However, it's just 0 all the time:
[code]

[2015-04-10 16:36] RealRancor commented on #15417
@nickvergessen
In occ this check is already included but the flock error is also seen here (See first reported issue and the links)

[2015-04-10 16:46] PVince81 commented on #15304
Right, that must be it. And I guess "Perso" and "Documents" are Folder2 where the recipients moved their files.

The fact that you got this results shows that indeed the share got lost due to fileid change. Now not sure if User1 maybe at some point moved "Famille" into another share locally, then maybe moved it back after noticing their mistake. That could cause the filelid loss.

You might want t

[2015-04-10 17:35] etiess commented on #15304
Right: "no data returned"

[2015-04-10 18:51] gig13 commented on #13533
@blizzz
Have you had a chance to look at the logs?

[2015-04-10 20:46] Xenopathic commented on #15427
Does it ever make sense to use the ownCloud UID as the replacement for `$user`, or the login name? When using LDAP, the UID is usually set to some bizarre UUID which is completely unusable, but the login name is the real LDAP username (which is probably used on all other services connected to LDAP). When designing SMB_OC, I specifically used the session login name instead of the UID, due to this e

[2015-04-10 20:48] Xenopathic commented on #15451
I'll assign myself for the time being... hopefully I'll get some time to work on a proper solution.

[2015-04-10 21:40] MorrisJobke commented on #15327
This one is ledt:

[code]

[2015-04-10 21:44] MorrisJobke commented on #14347
Fixed with #15535

[2015-04-10 21:44] #14347 closed

[2015-04-10 22:17] lDevas commented on #10304
I have the exact same problem in version 8.0.2, Only seen it when a folder is downloaded. Also seen that folder downloads do not show total/progress bar, may it be related?

[2015-04-11 00:19] jnweiger commented on #15450
@enoch85 we have Suggests: apcu (>= 4.0.6) | apc in the package. What exactly will be installed is up to dpkg/apt. To be exact: no binary components are "included" in the sense of bundled or shipped within the package.

[2015-04-11 01:31] jancborchardt commented on #10788
@oparoz this is about the files app though, and the sort order defined by the table headers.

[2015-04-11 10:05] oparoz commented on #10788
Indeed, but I'm just mentioning the way we do it in another app so that participants in this thread can test an alternative way of doing things to see if it would meet their the needs.