[2016-02-13 16:34] karlitschek commented on #22360
@deepdiver1975

[2016-02-13 17:21] cmonteroluque commented on #14564
@MorrisJobke agreed

[2016-02-13 17:22] LukasReschke opened #22367 "Security Check: Comments"
- [ ] Missing CSRF checks.
 - [ ] https://github.com/owncloud/core/issues/22368
- [ ] …

[2016-02-13 17:23] LukasReschke opened #22368 "Missing CSRF check on adding comments"
Request:
[code]

Response:
[code]

[2016-02-13 17:24] #21927 closed

[2016-02-13 17:24] cmonteroluque commented on #13241
ok

[2016-02-13 17:25] #22277 closed

[2016-02-13 17:25] LukasReschke commented on #22368
I vote again for adding CSRF checks on any verbs if the request does not come from a DAV client. Way too risky to rely on having all devs implement this properly.

cc @DeepDiver1975 FYI - you were against that approach before. But I really am highly convinced we need that :wink:

[2016-02-13 17:28] cmonteroluque commented on #6773
@bboule @MorrisJobke Not moving it yet beyond 9.0, we need to hear from you. Can this wait till 9.1? If not we are going to have to get a plan, eitther for 9.0 or 9.0.1

[2016-02-13 17:30] cmonteroluque commented on #17867
https://github.com/owncloud/core/issues/17867#issuecomment-182537798 @rperezb @SergioBertolinSG @davitol can you please test with 9.0?

@rullzer ok with the move otherwise

[2016-02-13 17:41] LukasReschke commented on #22367
Mhm… figuring how to excecute the Behat test suite here in core so I can write tests for some stuff :speak_no_evil:

[2016-02-13 18:39] MorrisJobke commented on #22367
[code]

[2016-02-13 21:12] jsimplicio commented on #16484
Ah I understand. I've yet to set up ownCloud because am trying to figure out how I can go about serving it. But once I do I can get started on this

[2016-02-13 22:49] LukasReschke opened #22370 "Access to undeclared static property: OC\Files\Filesystem::$normalizedPathCache"
Seems to be caused by https://github.com/owncloud/core/blob/296519f44a3c0f1d34f6a67a7de33965d0edb9ef/lib/private/files/view.php#L1084-L1094

[code]

cc @icewind1991

[2016-02-13 22:55] oparoz opened #22371 "VM does not properly handle code signing and sets release channel to "daily""
This message absolutely makes sense in production, but is getting in the way when working with master, so please disable it when the instance is in debug mode.

#### Update

Old VMs were on the daily channel and so if someone update that code using git, file verification will fail.

[2016-02-13 23:00] LukasReschke commented on #22371
Where do you see it? I don't happen to see that here.

[2016-02-13 23:00] LukasReschke commented on #22371
(as in: what have you checked out and done etc.)

[2016-02-13 23:02] oparoz commented on #22371
I'm using master, have not configured anything else. I expect the signatures not to be in the repository as I suppose they need to be generated before packaging.

[2016-02-13 23:03] oparoz commented on #22371
Some examples of fails which fail:

[code]

[2016-02-13 23:06] oparoz commented on #22336
As mentioned in the PR, using textarea instead of input solves the problem, but it would be good for some iOS experts to voice in their opinion.

[2016-02-13 23:07] LukasReschke commented on #22371
Well. We all use master as well and it works here, so I rather need some more information on what you use ;-)

Aka config.php, checkout, which apps are installed, etc. ;-)

[2016-02-13 23:07] LukasReschke commented on #22371
In fact, the code check is already disabled for anything marked as `git` version :)

[2016-02-13 23:08] LukasReschke commented on #22371
What does  `OC_Util::getChannel();` return for you?

https://github.com/owncloud/core/blob/296519f44a3c0f1d34f6a67a7de33965d0edb9ef/lib/private/integritycheck/checker.php#L89-L98

[2016-02-13 23:11] oparoz commented on #22371
Channel is `daily`

[2016-02-13 23:13] oparoz commented on #22371
### config.php

[code]

[2016-02-13 23:14] LukasReschke commented on #22371
Daily? Where did you get that build from? They should be signed :speak_no_evil:

Did you by any chance configure a channel in the updater app? If so try to delete that key and then rerun the code check in the admin menu: `\OC::$server->getAppConfig()->deleteKey('core', 'OC_Channel');`

[2016-02-13 23:14] oparoz commented on #22371
This is using the ownCloud VM.

[2016-02-13 23:14] LukasReschke commented on #22371
Then that is packaging related :)

@jnweiger @enoch85 FYI

[2016-02-13 23:19] oparoz commented on #22371
OK, so, some more info.

* Installed official VM of stable 8.1, ditched the folder and cloned master, which is regularly updated
* *Updater* app is disabled

so, if the signatures are supposed to be delivered via the updater, then I'm never getting them.

I'm guessing I should switch to a different channel in order to not get bugged by the messages any more, but which one?

[2016-02-13 23:19] enoch85 commented on #22371
Noticed. Thanks.

[2016-02-13 23:21] LukasReschke commented on #22371
They are not supposed to be delivered by the updater. They are included within the zip file. But the VM seems not to bundle them and states to be a daily release which is supposed to be signed. :)

You need to remove that key. Or wait for @enoch85 to fix that  to include the signature as well such as https://download.owncloud.org/community/daily/owncloud-daily-master.tar.bz2 has :)

[2016-02-13 23:26] oparoz commented on #22371
OK, but let's say I download that daily, the next time I do a git pull, then all my signatures will be invalid again, so for devs, it's best to remove that key from the dev VM

[2016-02-13 23:29] LukasReschke commented on #22371
Not if the VM would properly claim to be built from Git and sets the version to `git`. But if it claims to be daily. I'd just advocate that the VM sets the version to `git` if it really is built from Git :)

[2016-02-13 23:33] oparoz commented on #22371
Hmmm... I've deleted the OC_Channel key and it still says I'm on daily...

[2016-02-13 23:35] oparoz commented on #22371
And in version.php, I have:
[code]

[2016-02-13 23:36] LukasReschke commented on #22371
@oparoz Delete all your sessions (or just clear the cookies). It's cached within there.

[2016-02-13 23:39] oparoz commented on #22371
I'm now on the git channel, but I still get the message and when I click on it I get

[2016-02-13 23:39] LukasReschke commented on #22371
Try to click the rescan button in the admin interface :wink: Otherwise you will get the scanned results.

[2016-02-13 23:41] oparoz commented on #22371
OK, that worked, thanks. It's a bit of a pain though. I guess we have to pick our VM carefully from the start :)

[2016-02-14 01:03] enoch85 commented on #22371
Ok guys @all, [this](https://github.com/enoch85/ownCloud-VM/blob/master/beta/dev/owncloud_install_testing.sh#L120-L139) is how I install the dev VM that is released on [Tech and Me](https://www.techandme.se/pre-configured-owncloud-installaton/). What should I change? AFAIK there are no key downloaded? What steps should I take to fix this issue?

[2016-02-14 01:08] oparoz commented on #22371
If I were you, I would substitute [this](https://github.com/enoch85/ownCloud-VM/blob/master/beta/dev/owncloud_install_testing.sh#L121-L123) with a `git clone` of *master* and siable the updater app.

[2016-02-14 01:15] enoch85 commented on #22371
@oparoz Thanks for the idea. I will look into that tomorrow. And also update the [update script](https://github.com/enoch85/ownCloud-VM/blob/master/beta/dev/owncloud_update_testing.sh#L46) accordingly in that case.

[2016-02-14 10:04] tigermick commented on #21173
Hi
No, I think before 8.1, all worked fine with owncloud application. I don't why this bug appears now ...

[2016-02-14 10:38] #16461 closed

[2016-02-14 10:41] tflidd opened #22374 "No update of nightly builds"
The nightly builds stopped again updating, the last version is from Feb 10:
https://download.owncloud.org/download/repositories/nightly/Debian_8.0/
@jnweiger

[2016-02-14 11:12] tflidd commented on #20967
I checked again on my RPi2 with Debian 8 (mariadb, redis) and upgraded from 8.2.1 to 8.2.2 to 9.0beta1. For better comparison, i used the method of https://github.com/owncloud/core/issues/11588#issuecomment-169728089. Here the results:

| | time (min) | select | update | set | insertselect |
| ---- | ---- | ---- | ---- | ---- | ---- |
| OC 8.2.1 | 170 | 591 k | 115.5k | 32.2 k | 10004 |
| OC 8.2.2

[2016-02-14 12:02] enoch85 commented on #22371
@oparoz What's your nick on IRC? Would want you to test [this](https://github.com/enoch85/ownCloud-VM/blob/master/beta/dev/owncloud_update_testing.sh) as it breaks my system. Is that what you mean bu git? Because I can't get it to work with git, maybe because master is failing?

[2016-02-14 12:19] tflidd commented on #20967
I tried again on a machine, vserver (debian 8 + mod_php+redis+mysql), there is other stuff running so I couldn't make stats of the db-queries. Results are based on 10 minutes upload:
OC 8.2.2 137.2 files/min -> 70 min
OC 9.0beta1 141.8 files/min -> 73 min
I'm still far away from the 20 min @jospoortvliet achieved but I don't have a SSD drive.
https://github.com/owncloud/core/issues/11588#issuecomm

[2016-02-14 13:45] oparoz commented on #22371
The same as on here, but I'm rarely there.
In the update script you simply need to pull, the cloning must happen in the install script.

[2016-02-14 19:15] MorrisJobke commented on #16639
This should be fine. Please update and run the filescan again. We improved on the renaming issue a lot in 8.2 (we introduced file locking to prevent that cause of this).

Also the files:scan works better in newer versions. Feel free to reopen if you still have issues accessing the files.

[2016-02-14 19:15] #16639 closed

[2016-02-14 19:16] MorrisJobke commented on #19240
We can't do much, if it is not reproducible. Please grab @blizzz once this happens again and gain him access to the instance to be able to debug it. Beside that I will close this ticket here, because it doesn't help us.

[2016-02-14 19:26] MorrisJobke commented on #19556
I don't think we could do much here. If the mtime of the uploaded file is in the future then it is like this. @jancborchardt proposed to show then "seconds ago" but I don't think this is good, because if you messed somewhere with the date it will always show "seconds ago" even if there didn't happened anything.

We just show the time that was told us. Feel free to reopen this if this is still a pr

[2016-02-14 19:26] #17776 closed

[2016-02-14 19:26] MorrisJobke commented on #17776
Closed due to inactivity

[2016-02-14 19:28] MorrisJobke commented on #17769
I’m closing this issue because it has been inactive for a few months. This probably means that it is not reproducible or it has been fixed in a newer version.

Please reopen if you still encounter this issue with the [latest stable version](http://owncloud.org/install/) and then please use the [issue template](https://raw.github.com/owncloud/core/master/issue_template.md).

Thank you!

[2016-02-14 19:28] #17769 closed

[2016-02-14 19:31] MorrisJobke commented on #19720
I can't reproduce this anymore. Exceptions contain usually `\\\\` between each namespace hierarchy because this is a JSON object (error object) within a JSON object (log line) and this escaping is fine.

Feel free to reopen if you still see the 8 \ in the log lines.

[2016-02-14 19:31] #19720 closed

[2016-02-14 19:34] MorrisJobke commented on #20778
Client handles this properly and shows an error message:

<img width="781" alt="bildschirmfoto 2016-02-14 um 20 33 38" src="https://cloud.githubusercontent.com/assets/245432/13035893/592470de-d35a-11e5-9b0e-2afc3cfb79e7.png">
<img width="1108" alt="bildschirmfoto 2016-02-14 um 20 33 47" src="https://cloud.githubusercontent.com/assets/245432/13035891/5921ba88-d35a-11e5-8553-61587e57c97a.png">

[2016-02-14 19:34] #20778 closed

[2016-02-14 19:35] #19725 closed

[2016-02-14 19:37] MorrisJobke commented on #20560
As this is a feature request that best should be handled as an separate app I would like to ask you to reopen this in the apps repository: http://github.com/owncloud/apps/issues

Thanks

[2016-02-14 19:37] #20560 closed

[2016-02-14 19:39] MorrisJobke commented on #20164
Issue seems to be resolved - please reopen if not.

[2016-02-14 19:39] #20164 closed

[2016-02-14 19:40] MorrisJobke commented on #18865
I’m closing this issue because it has been inactive for a few months. This probably means that it is not reproducible or it has been fixed in a newer version.

Please reopen if you still encounter this issue with the [latest stable version](http://owncloud.org/install/) and then please use the [issue template](https://raw.github.com/owncloud/core/master/issue_template.md). You can also contribute

[2016-02-14 19:40] #18865 closed

[2016-02-14 19:45] rullzer commented on #22352
Yes noticed this as well...
PR on the way..

[2016-02-14 20:01] MorrisJobke commented on #20128
@Xenopathic @Dreadeath Fix is in https://github.com/owncloud/core/pull/22376

[2016-02-14 21:29] noci2012 commented on #22361
OK, Shorty was to blame... Appearantly a half removed part of an old API was used.
/var/www/oc/htdocs/3rdparty/kriswallsmith   was missing some files.

[2016-02-14 22:19] rikmer opened #22382 "Allow to define group for sharing setting "Restrict sharing to group members only""
Didn't find a solution to allow only a certain group to share only in this group. This would be a great feature to control which users are allowed to share to the public and which are not.
In more detail:
I would like to be able to allow users from a group to share only in that group. But other users which are part of that group and another group to share to the public. E.g. user1 and user2 are me

[2016-02-14 23:38] skycube commented on #19959
I had the same bug and when I looked into the config directory, the permission after the upgrade been wrong:
-rw-r----- 1 root     root     632 Feb 15 09:28 config.php

just execute:
chown www-data:www-data config.php
and
chmod o+r config.php

-rw-r--r-- 1 www-data www-data   676 Feb 15 09:34 config.php

[2016-02-14 23:50] oparoz commented on #22347
So any fixed element inside `#app-content` is going crazy if `-webkit-overflow-scrolling: touch` is used. That was the reason the fix mentioned in the OP had to be reverted. So if you ever want mobile performance back, fixed elements such as `#controls` or `#app-sidebar` have to be moved outside or the scrolling action has to be moved to a sibling. In the example above that means making `content`

[2016-02-15 01:22] mckaygerhard commented on #19798
hello @musaa32 i used oc 7 brand due webserver used faster php 5.3 and recent oc does perform more slower in my excelente powered old hardware..

if work in that env i'll tryi and help to u mantanin.. as i doit with the most famoust app for oc, the roundcube plugin  .. as all knwoed today its the most famoust app

so this issue could'n be closed due its not provided in oc still

[2016-02-15 01:33] mckaygerhard commented on #22191
could be pacthed my oc 6 and oc 7 installations with this to made able to backported that app to work with oc 7?

this app its unuseless due oc 8 takes too many resouces and php 5,.4 works slower rather my 5.3 and my os does not support 5.4 and i not going sustitute all the os only by a app

[2016-02-15 05:59] #22352 closed

[2016-02-15 06:27] RealRancor commented on #22191
@mckaygerhard Please stop spreading your non-sense now also in the core-tracker

[2016-02-15 06:53] apotek commented on #21097
@MoonshineSG Are you sure you cleared it by cleaning up your database? Usually you can fix this error by making sure the web server user owns the config/config.php file and the apps/ directory.

In any event, I don't think this is a bug since you fixed it yourself, so this issue should probably be closed as "invalid."

[2016-02-15 07:01] RealRancor commented on #19798
Same here: Stop spreading your non-sense all around...

[2016-02-15 07:14] MoonshineSG commented on #21097
It's solved so yes, I'll close it. Is it a bug? I don't know, but in any case the error message was misleading...

[2016-02-15 07:14] #21097 closed

[2016-02-15 08:40] jamesfawcett commented on #17468
I can confirm that @boyan-sharic 's fix above fixed the bug for me, I applied the changes to my install of ownCloud 8.2.2 (stable) in functions.php

[2016-02-15 08:54] zyrill commented on #17468
That was a workaround that I wrote that doesn't fix the underlying bug - only the symptoms. The real problem is not the function I fixed breaking, the real problem is the function getting wrong input in the first place. It could be argued that both could be changed: make the function anticipate faulty input and serialise it - and fix the original problem. On the other hand: why bog down code with

[2016-02-15 08:57] jnweiger commented on #22374
Added new subpackages for newly added apps.
This is a temporary fix to make it build with the old 8.x packaging code.
The new 9.0 packaging code will produce one package with all apps included.

[2016-02-15 09:14] nickvergessen commented on #20259
Which is kind of odd, when the timeline should not know about types (folders). So this needs to have somekind of "parent hierarchy" available

[2016-02-15 09:27] nickvergessen commented on #16751
The smashbox test doesn't work anymore, would need to debug

[2016-02-15 09:33] MorrisJobke commented on #20329
This is quite critical for @Helios07 - @PVince81 @icewind1991 is there any chance to implement a hot fix for the stable8.2 branch?

[2016-02-15 09:34] PVince81 commented on #22359
Hmm, not sure if this fits the Webdav spec.
I guess it might be possible to make the server's MOVE operation return the etag in a header.

Which etag do you mean, the one of the moved file or the containing folder ?

I have a similar case with Webdav upload in this PR https://github.com/owncloud/core/pull/21237 where I need to do a PROPFIND after each upload... not good.

[2016-02-15 09:38] jancborchardt commented on #22277
@schiesbn good call!

[2016-02-15 09:39] jancborchardt commented on #19556
Sorry @MorrisJobke this is a real issue beyond »fix your clocks« and »we just display what happened«.

Fact of the matter is that stuff like this happens, and showing »in a few seconds« or something like that is highly confusing. Hovering will still expose the real date.

[2016-02-15 09:42] MorrisJobke commented on #17468
@jamesfawcett Which app do you have enabled?

[2016-02-15 09:45] nickvergessen commented on #19556
Not, don't break usages, where the future is used correctly. So if you modify the method, it needs to be an argument defaulting to the old behaviour

[2016-02-15 09:45] #22304 closed

[2016-02-15 09:47] schiesbn commented on #22284
I voted this up to critical because we should really fix this before the release. Otherwise the users will have broken database entries and it will be much harder (or even impossible) to fix the bug and repair the broken database entries.

[2016-02-15 09:49] MorrisJobke commented on #19556
From my point of view the data users supply to us are holy - we should never fix them on our behalf. Even if they are wrong. We should not fix the data or the representation of data just because it looks weird. We are not god - we need to provide maybe the user a way to avoid this in the first place, but not displaying "a few seconds ago" if this is not what they told us. If the user uploads a fil

[2016-02-15 09:53] nickvergessen opened #22384 "Posting a comment replies with invalid location URL"
[code]

[2016-02-15 09:58] jnweiger commented on #22374
@tflidd I just checked the Debian_8.0 target: Nightly did built again.

[2016-02-15 10:03] nickvergessen commented on #22328
What do you mean? it should dispatch the event on the public page?

[2016-02-15 10:09] tflidd commented on #22374
Yes, now it is ok. This morning (and the days before) it wasn't. Packages*, Release*, and Sources* were updated, but owncloud_9.0~beta1.* wasn't.

[2016-02-15 10:09] PVince81 commented on #8441
@DeepDiver1975 not sure if there are plans to add a proper locker plugin in the future ?

Move to 9.1 / backlog ?

[2016-02-15 10:11] PVince81 commented on #12498
Best would be to install php5-libsmbclient which makes it possible to use native libsmbclient access that is more efficient and works properly with DFS.

[2016-02-15 10:12] PVince81 commented on #12431
Closing as duplicate of https://github.com/owncloud/core/issues/14095

[2016-02-15 10:12] #12431 closed

[2016-02-15 10:13] PVince81 commented on #15163
@oparoz is this still happening in 9.0beta ?

[2016-02-15 10:14] jnweiger commented on #22374
Right. The build failed as the apps were rearrangned, and the packaging code was not updated to handle this. Sorry for this.

[2016-02-15 10:14] DeepDiver1975 commented on #8441
As long as we have no mysql support for 4-byte chars this will continue to fail

[2016-02-15 10:15] DeepDiver1975 commented on #8441
#17978 is the way to go but shows additional new issue in the scope of mysql :puke:

[2016-02-15 10:19] tflidd commented on #22374
Thank you. If everything worked perfect, testing would be quite boring :smile:

[2016-02-15 10:21] DeepDiver1975 commented on #19556
Definitely the real issue is a broken setup - we cannot fix a broken clock setup.

I understand that from an UX pov this is ugly - but the fix is not to fake the data.

[2016-02-15 10:22] jancborchardt commented on #22352
Yep – search should always be case insensitive. In user mgmt and files search this is already the case. Thx @rullzer

[2016-02-15 10:23] PVince81 commented on #22011
This is not 100% correct. In a regular situation without any external storages, the chunk files are stored in "data/$user/cache/" and part files directly on the storage when uploading through Webdav.

The only situation where ownCloud explicitly will use the tmp storage is when uploading/download to/from external storages that don't support streaming (or where streaming wasn't implemented), in whi

[2016-02-15 10:27] jancborchardt commented on #19556
We do not fake the data, we make it human readable/comprehensible.

In most cases (as you can see from above screenshot, as well as what I had in my personal experiences) the clock is just a few seconds or at most minutes off. This results in the »in a few seconds« and »in a minute« display, which is just unnecessary.

Even if it is a broken setup, we should instead show a proper warning (to the a

[2016-02-15 10:27] PVince81 commented on #15594
Is this still happening in 9.0 ? (etag propagation has changed)

[2016-02-15 10:32] PVince81 commented on #22069
@icewind1991 @DeepDiver1975 can you make the ticket ? Thanks

[2016-02-15 10:35] ArthurGarnier opened #22386 "Encryption : Call on Null while encrypt-all"
### Steps to reproduce
1. Enable default encryption module
2. Set up recovery key
3. On your server : sudo -u www-data php occ encryption:encrypt-all

### Expected behaviour

All the file should be encrypted

### Actual behaviour

Error message appear after several file : Call to a member function get() on null in /var/www/owncloud/apps/files_sharing/lib/updater.php on line 76

Observation : Run s

[2016-02-15 10:38] SergioBertolinSG opened #22387 "Closing a picture in the tags view goes back to the picture location."
### Steps to reproduce

1. Assign tag to a picture (png, jpg) inside a folder.
2. Go to the tags section, search the tag assigned in 1.
3. Open picture with slideshow.
4. Close slideshow.

### Expected behaviour
Closing slideshow comes back to the tag search view.

### Actual behaviour
Closing slideshow comes back to the files view where the picture is located.

### Server configuration
**Operatin

[2016-02-15 10:39] DeepDiver1975 opened #22388 "Storage API 2.0"
Remaining from #22069
- [ ] remove duplicate implementations with respect to filemtime, filetype and stat
- [ ] do we really need the hash() method? Can we drop it? => needed by documents
- [ ] file_get_contents is duplicate with respect to the storage implementation - can we drop it?
- [ ] define a proper search interface on storage api level

Further considerations:
- split the storage api into

[2016-02-15 10:39] DeepDiver1975 commented on #22069
https://github.com/owncloud/core/issues/22388

[2016-02-15 10:39] #22069 closed

[2016-02-15 10:42] PVince81 commented on #20718
@DeepDiver1975 is this still happening ? Move to 9.1 ?
Setting sev to medium for now.

[2016-02-15 10:43] DeepDiver1975 commented on #22366
seems so -> closing for now

[2016-02-15 10:43] #22366 closed

[2016-02-15 10:44] PVince81 commented on #19862
Looks like the upstream fix wasn't merged yet. :frowning:

[2016-02-15 10:46] PVince81 commented on #22387
Maybe the slideshow code doesn't only close the view but also redirects to the files view ?

@oparoz

[2016-02-15 10:48] PVince81 commented on #22386
Please use the issue template: https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

Missing information:
- which ownCloud version are you using ?
- stack trace from log, if any

Also it looks like it fails when encrypted shared files ?

CC @schiesbn

[2016-02-15 10:53] oparoz commented on #22387
Correct @PVince81

[2016-02-15 10:53] DeepDiver1975 commented on #19862
merged

[2016-02-15 10:57] davitol opened #22389 "Enabling an app via CLI, 'appname enabled' message should not be shown if the app was already enabled because it is redundant"
### Steps to reproduce

1. Try to enable an app that was already enable via CLI (e.g. sudo -u www-data ./occ app:enable files_external)

### Expected behaviour

A message 'files_external is already enabled' should be shown

### Actual behaviour
It is shown two messages:
- files_external is already enabled
- files_external enabled

### Server configuration
**Operating system**: ubuntu 14.04

**Web

[2016-02-15 11:01] oparoz commented on #22328
Exactly, allowing apps to behave properly by only loading their scripts on pages firing the `loadAdditionalScripts` event.

[2016-02-15 11:02] #22278 closed

[2016-02-15 11:05] davitol opened #22391 "Wrong error message in occ commands when the argument is invalid"
### Steps to reproduce

1.  Run a occ command with a wrong argument

### Expected behaviour

A message 'InvalidArgumentException' should be shown

### Actual behaviour

[Symfony\Component\Console\Exception\CommandNotFoundException] message is shown

### Server configuration
**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

**Database:** mysql

**PHP version:** 5.5.9

**ownCloud ver

[2016-02-15 11:07] DeepDiver1975 commented on #22391
Why should that be an issue?

[2016-02-15 11:12] oparoz commented on #22359
That's what I was thinking

If I move a file from folderA to folderB. I'd want the new etag for folderA, but ideally, I would get both, depending on the penalty associated with the retrieval of that information.
Anything which avoids scanning the folders again for nothing.

[2016-02-15 11:14] PVince81 commented on #22359
So maybe two headers "Etag" and "Parent-etag"

[2016-02-15 11:23] PVince81 commented on #22284
Who can take care of this, @schiesbn @DeepDiver1975 @rullzer ?

[2016-02-15 11:26] schiesbn commented on #22284
as it seems to be a bug in the dav app and I don't know the other implications it would have to change it I would prefer if @DeepDiver1975 could have a look at it.

[2016-02-15 11:26] oparoz commented on #22359
`origin-etag` & `destination-etag` ?

[2016-02-15 11:26] PVince81 commented on #16267
From googling last time it seems that Google's own sync client would download duplicate files as "file (1).txt" "file (2).txt" to the local filesystem. However ownCloud cannot do such mapping because we don't support file name aliases.

I don't think we should implement the "use most recent file" logic because some people might purposefully have multiple versions of files on GDrive. There is also

[2016-02-15 11:36] PVince81 commented on #22336
Switching to textarea might be risky, some things like placeholder might not work properly any more (IE9 and co...) so need to be careful.

[2016-02-15 11:38] PVince81 commented on #22233
Do we all agree on "Public tags" before we start changing the wording everywhere in the code and documentation ? @karlitschek @MTRichards @cmonteroluque

[2016-02-15 11:39] PVince81 commented on #22182
I suppose a bisect should be possible.

[2016-02-15 11:40] PVince81 commented on #22119
And the avatar needs access to the user's filesystem because sometimes the avatar is stored there ?

Is it possible to first detect whether the user has an avatar in the first place **before** calling `getUserFolder()` ? (and goodbye DI for that item)

[2016-02-15 11:40] PVince81 commented on #22119
another alternative is to have an option "don't create skeleton" for `getUserFolder()`, but that sounds a bit far-fetched. @icewind1991

[2016-02-15 11:43] davitol commented on #22391
I think the error message should not show the whole path.

@DeepDiver1975 If you consider it is not an issue or it is a waste of time to 'fix it' let's close it.

[2016-02-15 11:44] SergioBertolinSG opened #22393 "Tagging plugin needs to be able in all views but trashbin."
Currently tagging is only available in files view and favorites view.

It needs to be added to tags view and shares views as well.

Sharing view sidebar when opening a file:

![screen shot 2016-02-15 at 12 42 10](https://cloud.githubusercontent.com/assets/9048796/13047742/90f7fd82-d3e1-11e5-85fd-9df6835d2fb9.png)

Tags view sidebar when opening a file:

![screen shot 2016-02-15 at 12 42 38](https:

[2016-02-15 11:44] SergioBertolinSG commented on #22393
cc @PVince81

[2016-02-15 11:47] etraff commented on #21462
Thanks, now yum dows not procude any errors - though I still need to test the actual update (productive owncloud server, maybe need a few days to find a timeslot)

[2016-02-15 11:56] Neo-Burner commented on #22386
Edited, sorry ;)

[2016-02-15 12:01] nickvergessen commented on #22233
"Invisible totally-hidden and inaccessible" type for a Public tags makes no sense to me.

[2016-02-15 12:01] DeepDiver1975 commented on #22391
this is not a path but the php namespace - for sure a wont fix

[2016-02-15 12:01] #22391 closed

[2016-02-15 12:15] DeepDiver1975 commented on #22119
The basic question is if the copy skeleton operation is executed in the correct location?

Generally speaking my expectation of a get method would be to not change anything.

Should we copy the skeletion on login? on create of the user? (issue with shibboleth)

[2016-02-15 12:17] DeepDiver1975 commented on #22284
I'll have a look ...

[2016-02-15 12:35] DeepDiver1975 commented on #22284
Testing with current master I see

![bildschirmfoto von 2016-02-15 13-34-40](https://cloud.githubusercontent.com/assets/1005065/13048839/ee6c8d5a-d3e8-11e5-8464-bfa5d15aaec9.png)

... there is something wrong in filtering the local remote address ...

[2016-02-15 12:45] butonic opened #22394 "Cannot enable files_external on oracle"
[code]

[2016-02-15 12:53] labnuke opened #22395 "Feature request: auto-add LDAP users to group(s)"
Not sure if this is correct spot as first time posting on github.

Is there a way to automatically add users (who are authenticating via LDAP) to existing groups in OC? I have an Everyone group that I want all users to be members of automatically to get served company content when first logging in.

thanks.

[2016-02-15 12:57] oparoz opened #22396 "Give sub-admin rights to app maintainers"
As the maintainer of an app which is part of the ownCloud domain, I'm missing some functionalities that I have access to when managing apps under domains in which I have admin rights, mainly hooks access to make it possible to integrate the repository with 3rd party services.

Would it be possible to create sub-admin groups, one for each app and add the maintainers of the app in that group? They w

[2016-02-15 12:58] PVince81 opened #22397 "Skip heartbeat calls if an ajax call was detected"
The notifications app, when enabled, polls the server every 30 seconds.
The files app, when opened, calls "ajax/getstoragestats.php" every now and then.

This makes the heartbeat redundant.

Here is an idea: jQuery makes it possible to receive an event after every ajax call.
If such call is received, reset the heartbeat's interval.
This means that the heartbeat call would only ever be sent wheneve

[2016-02-15 13:01] rullzer commented on #22119
@PVince81 basically the avatar is just a file stored in <USER>/avatar.jpg

[2016-02-15 13:02] PVince81 commented on #22393
Making this a bug because it's missing and I know I forgot to add it.

[2016-02-15 13:03] PVince81 commented on #22119
Hmm, so there is no oc_preferences entry that tells so ? Because it needs to know the file extension too ?

[2016-02-15 13:04] DeepDiver1975 commented on #22284
looks like the wrong cardid is stored in the card properties table

![bildschirmfoto von 2016-02-15 14-03-47](https://cloud.githubusercontent.com/assets/1005065/13049410/ff176ce8-d3ec-11e5-9314-f9d4ade03ad5.png)

[2016-02-15 13:06] DeepDiver1975 commented on #22284
The problem is within the method getCardId which only take the uri as parameter - but the uri is only unique within one addressbook. The addressbook id has to be passed in as well ....

[2016-02-15 13:07] rullzer commented on #22119
Nope we just check both for existence

[2016-02-15 13:07] rullzer commented on #22119
Not saying it is ideal... just that this is how we do it ;)

[2016-02-15 13:11] jnweiger commented on #21462
@etraff Thanks for confirming with yum. Real live test results apreciated too! thanks !

[2016-02-15 13:13] nickvergessen commented on #16751
yes, the [smashbox test](https://github.com/owncloud/smashbox/pull/102) still fails:
[code]

[2016-02-15 13:15] nickvergessen commented on #16751
Maybe @icewind1991 can help here a bit, I assume it's more of a storage problem

[2016-02-15 13:16] karlitschek commented on #22397
good idea. the performance benefit with this change is probably tiny but why not

[2016-02-15 13:18] karlitschek commented on #22396
yes. this is a good idea. let me look into this

[2016-02-15 13:21] nickvergessen commented on #22397
well its one request less per user per tab per 30 secs...

[2016-02-15 13:21] Tr4sK commented on #18293
Hi,
I had the same issue, me and my friend are using cacert.org authority.
I had some issue when he tried to share some files over federated cloud.
Got this when triyen to open a shared file:

[code]

This did the trick:
`ln -sf  /etc/ssl/certs/ca-certificates.crt /var/www/owncloud/resources/config/ca-bundle.crt`

[2016-02-15 13:21] karlitschek commented on #22233
works for me too

@nickvergessen i don't get what you mean :-)

[2016-02-15 13:24] nickvergessen commented on #22233
Well we have <..> tags that are invisible to users (e.g. for retention, etc.) those tags would be called "invisible public tags", which seems invalid to me, which is why I would prefer system or global. Public does simply not apply to all use cases of those tags...

[2016-02-15 13:30] DeepDiver1975 commented on #22119
maybe we need to retink the avatar storage location ....

[2016-02-15 13:35] PVince81 commented on #22020
I found that even if apps are using jQuery, as soon as either an OCS API or REST API (app framework) is used, a 401 error will still trigger the auth dialog.

A possible solution is in the works: https://github.com/owncloud/core/pull/16783

[2016-02-15 13:38] rullzer commented on #19091
Would also be good for #22350

[2016-02-15 13:39] nickvergessen commented on #22395
Listen to `Util::connectHook('OC_User', 'post_login', ...` and add the users there

[2016-02-15 13:40] PVince81 commented on #22016
I guess you probably used the SSL checkbox, I just saw this: https://github.com/owncloud/core/issues/21978#issuecomment-176711850

The PR that fixes validation was fixed, can you try again with 9.0beta1 ?

[2016-02-15 13:40] PVince81 commented on #21978
The PR that fixes validation was fixed, can you try again with 9.0beta1 ?

[2016-02-15 13:41] nickvergessen commented on #22394
Most of the indexes are missing a name in this app...

[2016-02-15 13:43] PVince81 commented on #21698
Can you elaborate ?
This sounds like the following:

1. User selects "test1.txt" by clicking on a white space within its row
1. System opens side bar and displays details of "test1.txt"
1. User selects another file "test2.txt" (ie not the currently displayed one) by clicking on a white space within its row
1. System closes sidebar

I don't think it's correct to close the sidebar in this situation.

[2016-02-15 13:47] PVince81 commented on #21698
Let me prepare a PR for this: checkbox action always closes the sidebar.

[2016-02-15 13:55] rullzer commented on #22336
Also using a textarea is just asking for trouble. They have very different use cases. So other visual stuff might break as well since textareas can do line wrapping etc.

I can't belive we  are the only ones that have this issue with IOS so there must be some solution to make it work properly.

[2016-02-15 13:58] PVince81 commented on #22336
Maybe there is some magic touch-specific CSS stuff to tell it to behave differently ?

[2016-02-15 14:00] rullzer commented on #22119
Makes sense. Esepcially if we want to start serving them via dav. And also included trusted owncloud avatars (since we have them in the vcards anyway).

But I think that is not something we can fix for 9.0

[2016-02-15 14:00] PVince81 commented on #21698
@jancborchardt here we go https://github.com/owncloud/core/pull/22400

[2016-02-15 14:03] PVince81 commented on #21365
The milestone is still set to 9.0, does it mean we agree to implement this as a bugfix in the context of 9.0 ? Do we agree on the implementation and should we move forward with the implementation ?
@cmonteroluque @karlitschek @DeepDiver1975

Technically it would be an additional storage wrapper that doubles every file operation (once for NFC and if fails, again for NFD), the storage wrapper can be

[2016-02-15 14:06] SergioBertolinSG commented on #21978
Works fine on 9.0beta1.

[2016-02-15 14:06] #21978 closed

[2016-02-15 14:08] jancborchardt commented on #16484
@jsimplicio cool! It’s quite simple to set up ownCloud on your own laptop: https://doc.owncloud.org/server/9.0/developer_manual/general/devenv.html – please let me know if there’s problems at any point, so then we can improve the process. .)

[2016-02-15 14:18] oparoz commented on #22336
You can limit it to 1 row and x columns.

`<textarea id="share" rows="1" cols="x"></textarea>`

but there might be a styling problem (not in my tests).

[2016-02-15 14:22] DeepDiver1975 commented on #22119
fixing the avatar storage location we cannot fix for 9.0 - but maybe we can get around the skeleton copy operation

[2016-02-15 14:26] PVince81 commented on #21271
Tested the following, without encryption, on 8.2.2:

1. Go to admin page
1. Setup GDrive storage
1. Open GDrive page
1. Upload a jpg image
1. Go to the files app in the web UI
1. Click the image to open it
1. Check the "data-mime" attribute of that row: it's "image/jpeg"

Redo the steps from scratch but first enable encryption.
Same result.

Works for me. Tested with Chromium 48.

[2016-02-15 14:27] jancborchardt commented on #22336
I thought we solved this for the Calendar CalDAV link some time ago. @georgehrke @raghunayyar @Henni do you remember how?

[2016-02-15 14:27] crysman opened #22401 "list users without group for easier group membership administration"
Please, is there a way to **list (view) all owncloud user accounts which are not part of any group**? I use IMAP authentication and automated user creation. Whenever a new account is created, we must assign the new user to some groups, according to who it is. We have got quite a lot of users.

In actual implementation, it is very inconvenient to administrate them through web "Users" menu in top-ri

[2016-02-15 14:28] Dianafg76 opened #22402 "Different errors when you select the "Exclude groups to share " on v8.2.2 and v9.0"
### Steps to reproduce
1. Install the Desktop client v 2.2.0 with Server v 9.0, with yellow user
2. Go to the Server Web
3. Select the option "Exclude groups from sharing"
![screen shot 2016-02-15 at 15 13 24](https://cloud.githubusercontent.com/assets/12032058/13050936/cc9578fa-d3f6-11e5-8bf2-a4bafad86be6.png)
4. Go to the Desktop client
5. Create a new folder
6. Share with owncloud
7. Write on '

[2016-02-15 14:33] PVince81 commented on #21271
Okay, I read the wrong steps.

Trying again with your comment from https://github.com/owncloud/core/issues/21271#issuecomment-166373434 to upload to GDrive with the sync client.
Since you have encryption enabled, it means the file will be encrypted there too which might get us closer to the issue.

Trying now...

[2016-02-15 14:34] PVince81 commented on #22119
Thing is, if the user has no home yet, and we need the avatar, then don't create the skeleton.
Might be possible for the avatar code to detect whether the user has a home yet... but not sure with which API :frowning:

[2016-02-15 14:39] stevejordi commented on #6984
+1  URGENT...
This is a basic functionality...

[2016-02-15 14:39] PVince81 commented on #16267
AHA, I think I found something.

Actually if you have a file name with duplicates, like "bacon.txt" then the skipping logic will also skip the next file in the folder "hotpot.jpg" even though that file has no duplicate.

And the log says:
[code]

Just observed this on 8.1.5.

[2016-02-15 14:42] PVince81 commented on #21271
Confirmed on 8.1.5, the uploaded picture has "data-mime" as "text/plain".

[2016-02-15 14:51] PVince81 commented on #9958
I found a bug with GDrive special formats while debugging something else.
Turns out that "fileExtension" is null instead of empty string when browsing special Google Drive files.
It seems that changing the code to react on `null` too makes it work.

Will submit a PR for this.

[2016-02-15 15:15] PVince81 commented on #9958
Looks like it's not enough... that fix works for downloading office files but not reuploading. On upload one would have to strip away the extension again, I didn't find such logic.

[2016-02-15 15:16] pieter-groeneweg commented on #11685
@oparoz, Thanks! This i valuable info.
So probably nearest to what I like would be setting these:

preview_max_scale_factor' => 1,
preview_max_filesize_image' => .25,

(can I set to .25 to have 250k? or can I only use Integers?)

[2016-02-15 15:38] MorrisJobke commented on #22401
cc @blizzz

[2016-02-15 15:38] schiesbn commented on #21929
We could sort out the issue reported by @Helios07 which was basically a miss-configured 'overwrite.cli.url' in the config.php.

This leaves us with the problem reported by @MorrisJobke... Morris, do you have set 'overwrite.cli.url' in the config.php in one of your test instances? If not please try https://github.com/owncloud/core/pull/22403 if this changes at least something regarding the error me

[2016-02-15 15:46] MorrisJobke commented on #21698
Correct. I think @jancborchardt meant the checkboxes. Clicking on the whitespace beside a file should open the sidebar nevertheless, but once the selection is continued with un-/checking another check box the sidebar should close again.

[2016-02-15 15:48] rullzer commented on #22402
Mmmm... I'll look into this...

[2016-02-15 15:56] pierreozoux opened #22404 "per user backup"
[code]

Do you know if there is any tool that allow that?
Thanks!

[2016-02-15 15:58] #20128 closed

[2016-02-15 15:58] PVince81 commented on #9958
Okay, there is logic that tries to find the file with extension and if it's not found, then again without.

I fixed the logic to make it do what it was supposed to do in the first place, it should work better with office files and sync client now, please help testing: https://github.com/owncloud/core/pull/22405

[2016-02-15 16:10] DeepDiver1975 commented on #22404
I'm not aware of any

[2016-02-15 16:11] PVince81 commented on #21271
Fix is here https://github.com/owncloud/core/pull/22408

[2016-02-15 16:12] oparoz commented on #22396
Added the list of differences compared to the "write" permission.

[2016-02-15 16:36] PVince81 commented on #16267
Cannot reproduce on 8.2.2.

So the issue is as follows:

1. Create two files "bacon.txt" in Google Drive
1. Upload more files that alphabetically follow "b", for example "h.txt", "t.txt", etc
1. Setup GDrive in ownCloud
1. Browse the folder

In 8.1.5: the next file after "b" is missing, in my example "h.txt" would be missing from the listing
In 8.2.2: all files appear (except the duplicate ones, b

[2016-02-15 16:37] kscholz commented on #22036
@HackintoshHD: To your bottom line:
Users **will do** a denial-of-service attack. Perhaps not intentionally, but just by uploading big files.
After the fgci segfaults the upload simply starts again... and again... and again...
So if your Users want to upload... They keep trying... and trying... and trying...
Oh poor storage space, you'll be wasted... ;-)

On further investigation of this problem i

[2016-02-15 16:37] enoch85 commented on #22404
@pierreozoux Make a bash script that saves to different locations and time. Would requrie alot of space but should be possible.

[2016-02-15 16:46] PVince81 commented on #16267
Okay, that PR here seems to fix the issue: https://github.com/owncloud/core/pull/14779
This PR touches all external storages so I'm not willing to backport this.

However this pointed out to another possible 8.1 specific solution: it looks like `opendir` or our dir wrapper is having trouble with arrays where some indices are missing (due to removing duplicates).

I tried reindexing the array befor

[2016-02-15 16:48] enoch85 commented on #22339
JFTR: The BETA VM contains the latest version. https://www.techandme.se/pre-configured-owncloud-installaton/

[2016-02-15 16:51] PVince81 commented on #16267
8.1 specific fix is here: https://github.com/owncloud/core/pull/22409

Other versions are fine.
I think this is the original issue that @jvillafanez was talking about. Not the fact that we ignore duplicate files by design.

[2016-02-15 17:02] pierreozoux commented on #22404
@enoch85 I don't understand.
I think a more accurate description would be:"how to backup/restore all lines in a db that belong to one user".
(Files are easy)

[2016-02-15 17:02] karlitschek commented on #21365
I think the architecture is clear.
But I don't know the temperature of the issue and if someone has time to do the work

[2016-02-15 17:35] rullzer commented on #22119
I think I can find some kind of way around this... I'll look into it...

[2016-02-15 19:20] butonic commented on #11797
Just putting this here for documentation. While CIFS shares DO allow us to access mtime information an underlying NTFS filesystem will NOT propagate the mtime up the tree. I was wrongly under the impression it would propagate the mtime up the tree. Not even `fsutil behavior set disablelastaccess  0` will magically make this happen.

As it turns out not even ext3 propagates the mtime up the tree: t

[2016-02-15 19:55] rullzer commented on #22119
PR in #22410

[2016-02-15 20:01] rullzer commented on #21728
I think this is fixed now... but my ldap foo is very under devloped...

@MorrisJobke @blizzz could one of you verify my findings?

[2016-02-15 20:31] rullzer commented on #22402
@Dianafg76 I think I got it... it is just the error message that has changed right?

[2016-02-15 21:28] #22193 closed

[2016-02-15 21:28] MorrisJobke commented on #22193
Will be fixed in 8.1.6, 8.2.3 and 9.0.0

[2016-02-15 21:29] MorrisJobke commented on #22193
ref #22364 #22363

[2016-02-15 21:33] MisterElFantastico opened #22411 "login loop / too many redirects / 302"
Hi,

my owncloud worked fine still yet. Suddenly my browser there were to many redirects.
In the debug console of my browser are many 302 errors. I haven't made any change of my configuration or database. There aren't any additional apps installed.

Owncloud Version: 8.2.2
OS: debian 8 + plesk 12.5 (apache2 + nginx it's default)
PHP 5.4 via PHP-FM

htaccess:
[code]
last lines of owncloud.log
[code

[2016-02-15 21:39] MisterElFantastico commented on #22411
Solved the issue. Same issue as #21871

Solution: Set PHP Version in Plesk to OS Vendor. So it's not provided php-fpm.

[2016-02-15 21:39] #22411 closed

[2016-02-15 21:40] MorrisJobke commented on #21929
No. I don't set this.

[2016-02-15 21:46] MorrisJobke commented on #21728
Correct. This is how it should work in 9.0 - do we want to fix this in 8.2 nevertheless?

[2016-02-15 21:55] koumdros commented on #17307
+1 for 8.0.10

[2016-02-15 22:51] jsimplicio commented on #16484
I need Linux?

[2016-02-16 01:13] MTRichards commented on #22233
I thought those were system tags. Public tags were the visible ones...

--
Matt Richards
VP Products & Markets
ownCloud, inc.

[2016-02-16 02:05] enoch85 commented on #22404
@pierreozoux Yeah, you're right. That's "a bit" more tricky. :)

[2016-02-16 02:58] nickian opened #22412 "Syncing .htaccess files appears to break external storage"
I'm running ownCloud on Apache. To begin, can someone explain why syncing .htaccess files might be a security risk or a liability in another way? Don't .htaccess files only apply to the directory they are in? For example, why would an .htaccess file here interfere with something in ownCloud's config?

`/www/owncloud/data/user/files/website/.htaccess`

I noticed an issue with external storage after

[2016-02-16 06:54] nickvergessen commented on #22233
We need one word to rule them all.

[2016-02-16 07:05] RealRancor commented on #17307
Just upgrade to 8.1.5 or 8.2.2 and the messages will disappear

[2016-02-16 07:17] rullzer commented on #20663
Ok yeah... I found the source of this issue... but it is not so trivial to fix in the current code.. basically this happens because of the old code paths that wanted to generate a new target before hand.. I'm a bit hessitant to touch this code now as hacking around this (so not target generation here)... might lead to obscure bugs in other parts...

[2016-02-16 07:21] Dianafg76 commented on #22402
@rullzer Yes

[2016-02-16 07:29] #22360 closed

[2016-02-16 07:30] #22384 closed

[2016-02-16 07:48] davivel commented on #21173
There was other problem in the past with the automatic generation of thumbnails defaulting to the placeholder icon. Not sure if related with this or not.

The entry point we call in the server side is ```/index.php/apps/files/api/v1/thumbnail/[width]/[height]/[file_path]``` ; I don't know who implemented it, I'd say it was a contribution, maybe from @tobiasKaminsky? , he implemented the remote thu

[2016-02-16 07:55] davivel commented on #21173
Those logs were caught before or after "fixing" the thumbnails by accessing via web interface first? Seems they are generated inhttps://github.com/owncloud/core/blob/c5a200c4198de951dabdd3f783ade655b8ea6434/lib/private/preview/image.php#L59 , so the preview generation is being triggered, right?

[2016-02-16 08:01] MorrisJobke commented on #20686
@cmonteroluque @PVince81 We have a green sev2 ticket here. I provided a test case that covers this and therefore is a no brainer on the reproduction steps. Could we get some traction in here. Sadly I'm not capable to properly debug this.

Maybe @icewind1991 or @schiesbn could have a look.

[2016-02-16 08:04] rullzer commented on #22402
Ok will fix. Thanks

[2016-02-16 08:12] MorrisJobke commented on #22365
Maybe this helps: https://github.com/owncloud/core/pull/22413

[2016-02-16 08:13] MorrisJobke commented on #22412
cc @LukasReschke

The answer then would also fit nicely in the documentation - cc @carlaschroder ;)

[2016-02-16 08:15] #21698 closed

[2016-02-16 08:20] DeepDiver1975 commented on #19862
merged as well now

[2016-02-16 08:25] MorrisJobke commented on #19862
It is fixed with the latest merge. (before: reproducible, after: fixed)

[2016-02-16 08:26] Henni commented on #16484
Owncloud requires Linux on the server side (see [System Requirements](https://doc.owncloud.org/server/9.0/admin_manual/installation/system_requirements.html#supported-platforms) ).
Try running it in a virtual machine ([Virtual Box](https://www.virtualbox.org))

[2016-02-16 08:29] DeepDiver1975 commented on #19862
@MorrisJobke we still need to update ZipStreamer

[2016-02-16 08:32] rullzer opened #22414 "Avatar performance improvements"
Curerntly we just store the avatars in `/<user>/avatar.jpg` (or `<user>/avatar.png`). While this is simple it also has certain drawbacks. Like the bug we hit with https://github.com/owncloud/core/issues/22119

Further more it would be great to also get avatars of trusted ownClouds locally since we have the vcards anyway.
1. We should rethink where and how we store avatars (we should still cache ge

[2016-02-16 08:32] rullzer commented on #22119
Issue to rethink how we handle avatars for a later release... https://github.com/owncloud/core/issues/22414

[2016-02-16 08:43] LukasReschke commented on #22412
Somebody could upload a `.htaccess` file to `/www/owncloud/data/user/files/website/.htaccess`, then open `mycloud.com/data/user/files/website/test.php` and have `test.php` in their user folder executed => The malicious user can do anything they want in the ownCloud. => Pwned.

Since many people don't harden their server appropriately the upload of `.htaccess` files is forbidden by default.

[2016-02-16 09:06] PVince81 commented on #20686
@icewind1991 I need your advice how to move forward with my PR https://github.com/owncloud/core/pull/21610

[2016-02-16 09:19] #22284 closed

[2016-02-16 09:33] rullzer commented on #22402
PR in #22416

[2016-02-16 09:34] schiesbn commented on #22096
This would work for the current encryption module. But what happens if someone writes a new encryption module which stores the keys somewhere else or doesn't use any keys at all?

The better solution would probably be to ask the encryption manager for the right encryption module and then ask the encryption module if it is a encrypted file or not. Instead of putting this logic to files:scan I would

[2016-02-16 09:46] rullzer commented on #21574
It is not a matter of priority it is a matter of independent processes. If 1 process in chaning the file (and has it locked) and another php process wants to delete we have no way of signaling the chaning process to stop.

A lot of operating systems also do not allow this. And I do not really see a way to cleanly signal other processes in a clean way right now...

[2016-02-16 09:48] nickvergessen commented on #22401
well getting all users with no group, basically means get all users and check if they have any group assigned... I don't think our user backends (have to) support this at the moment.

[2016-02-16 09:48] etraff commented on #21462
@jnweiger The actual update worked also, thanks for the fix

[2016-02-16 09:48] marvelloard commented on #7909
Same here, photos, videos, audio material, software. This shouldn't be synchronised but accessible via the web interface. Urgently needed!

[2016-02-16 09:52] schiesbn commented on #18951
One possible drawback:
This way we always use the same private key. In case the private key was compromised the current recovery key method is a nice way to replace the keys with new ones. If we would change the behavior as explained above we would probably need a additional functionality to replace the private key.

Still I think the changes discussed above are worth considering. In most cases yo

[2016-02-16 09:58] nickvergessen commented on #22389
Well we can only deduplicate it by removing the "is already enabled". That was not called for all cases anyway.

[2016-02-16 10:03] nickvergessen commented on #22387
I guess this is a bug in the gallery app then?

[2016-02-16 10:04] schiesbn commented on #21165
The migration are all rename operation so once a key was already renamed it can't be renamed a second time if you restart the process.

Of course you will still see some output that ownCloud looks at every user and system folder again to see if there are some keys to migrate or not. But in case the keys are already on the right location (e.g. from a previous run of the migration) nothing will happ

[2016-02-16 10:04] #21165 closed

[2016-02-16 10:07] oparoz commented on #22387
Yes. It's already logged.

[2016-02-16 10:08] crysman commented on #22401
@nickvergessen Imagine you have aprx. 15 groups and 100 users, like we do.

1) Imagine a new user "zorro" is being created (automatically, through IMAP auth extension) and asks you to assign him to group Alpha and Beta. Imagine now you assign him - open the "Users" menu, scroll down... ok, that lets you with somebody on "B"... so again, scroll down... ok, that lets you on page with users on "F"...

[2016-02-16 10:11] jknockaert commented on #18951
I would favour a solution that implements both features separately. What I'm worried most about is php timeouts. The current recovery implementation is not robust with respect to timeouts (think of a timeout happening upon activation by a user who has a lot of files in his/here account). The changes discussed here would at least make the recovery less prone to key corruption. The file key replacem

[2016-02-16 10:39] schiesbn commented on #21728
I just tried it with normal link shares and with local users/groups. If I remove a user from a group the link share gets deleted correctly in 8.2. So we could probably adjust the code to also remove federated shares... But I didn't found the code yet.

[2016-02-16 10:53] PVince81 commented on #22412
I think we should still make sure that external storage properly skips the files instead of failing hard.

@nickian is there any log output from the external storage failure?

[2016-02-16 10:54] #22387 closed

[2016-02-16 10:54] PVince81 commented on #22395
Instead of just LDAP, the feature could be summarized as "have a list of default groups for any newly created or detected user (LDAP)"

[2016-02-16 10:55] nickvergessen commented on #22401
I understand the use-case and the intention, I just say that the implementation is not possible at the moment.

We can easily do it for our local backend, but it will not work for all others, until we can force an api change

[2016-02-16 10:56] PVince81 opened #22420 "[Code checker] Check for missing index names"
To avoid issues like https://github.com/owncloud/core/issues/22394

@nickvergessen @LukasReschke

[2016-02-16 10:56] PVince81 commented on #20686
Maybe the code checker should find such issues: https://github.com/owncloud/core/issues/22420

[2016-02-16 11:01] PVince81 commented on #17230
Seems https://github.com/owncloud/core/issues/17223 is still open

[2016-02-16 11:01] PVince81 commented on #17223
What to do with this ? Move to 9.1 ?

Note that https://github.com/owncloud/core/issues/17230 would require it

[2016-02-16 11:02] nickvergessen commented on #22420
Well my patch fixes the actual issue, so the default fallback works. Then we don't need a code checker for it: https://github.com/owncloud/core/pull/22399 (2nd commit)

[2016-02-16 11:04] LukasReschke commented on #17223
IMHO backlog.

[2016-02-16 11:06] PVince81 commented on #22420
Okay, then this is not needed :smile:

[2016-02-16 11:06] #22420 closed

[2016-02-16 11:09] PVince81 commented on #13456
Research still in progress for update detection: #11797

[2016-02-16 11:11] PVince81 commented on #9958
Okay, thanks @ferdiga and @bolausson for pointing out that "Invalid Content Length" is actually an related to resuming downloads, so not related to this fix https://github.com/owncloud/core/pull/22405

Maybe the fseek isn't working properly for some reason. Will try and reproduce it.

[2016-02-16 11:20] crysman commented on #22401
@nickvergessen OK, understood. I thought you were not going to look into it... You say "at the moment", so possibly in the future this might get implemented, right? Thank you all!

[2016-02-16 11:23] schiesbn commented on #22122
@rullzer maybe it makes sense to set the share permission, even if we don't use it. But it reflects the current state and  if we want to use it in the future it might be easier if the database already contain the correct permission to avoid large migration steps.

[2016-02-16 11:32] MrFloppy commented on #21342
Please fix that, as I am not able to update at the moment :(.

[2016-02-16 12:14] nickvergessen commented on #9891
The column in the new dav app is clob, so should be fine?
@DeepDiver1975 @PVince81

[2016-02-16 12:20] axenta opened #22423 "List of shared folders"
If I share directory which contain 25 subfolders or more then 15 files via email link when I open the link only first 15 directories or files is diplayed in all browsers Chrome, Firefox, IE11. If I click to download all a could download all 25 subdirectories. Please could you fix to to see all shared objects.

ownCloud 8.2.2 (stable) , centos 6.7, Firefox 44.0.2

[2016-02-16 12:21] #22389 closed

[2016-02-16 12:27] MorrisJobke commented on #19862
Ah ... sorry - thought this was only about the tarstreamer

[2016-02-16 12:29] MorrisJobke commented on #7909
The current client doesn't sync folder bigger than 500MB by default. You need to actively enable the sync for those folders.

[2016-02-16 12:31] davitol opened #22425 "No mount point are imported if one of them is already configured"
### Steps to reproduce
1. Try to import files_external mount point using a file that contains a configuration of an already configured mount point and other not configured yet.

e.g. ./occ files_external:import fileMounts.txt
### Expected behaviour

Duplicate mount message is shown (it is not imported). The rest of the mountpoints are imported
### Actual behaviour

Duplicate mount message is shown

[2016-02-16 12:31] RealRancor commented on #22423
Very likely a duplicate of #21373 and #21203 which gets fixed in oC 8.2.3 with owncloud/files_pdfviewer#92

If disabling the files_pdfviewer is not solving this then its a duplicate of https://github.com/owncloud/core/issues/22289, https://github.com/owncloud/core/issues/20044 and https://github.com/owncloud/core/issues/22303 where https://github.com/owncloud/core/issues/20044 is still open.

[2016-02-16 12:32] MorrisJobke commented on #22401
Correct. Currently there is no plan to implement this. Nevertheless if somebody come up with this implemented we are fine with integrating this. Therefore it is in the backlog - the pool of ideas that would be nice, but are not considered yet for the next release.

[2016-02-16 12:33] #22423 closed

[2016-02-16 12:37] #22402 closed

[2016-02-16 12:39] marvelloard commented on #7909
Yeah, that was my first thought too. But in those shares added are folders smaller than 500MB, and those will be synced automatically.
Also, in our usage cases you would like to be able to exclude certain kind of folders regardless the size.

[2016-02-16 12:50] deejaymodish opened #22426 "OC 8.2.2 iOS/Android App upload fails"
Updated OC to 8.2.2 recently, upon doing so, it seems that uploading from both the iOS and Android apps no longer work. If I try to upload from either app, I get an error from Android that says cannot upload or from iOS Waiting for Server Connection. The error logs from the gui seem to indicate that it is WebDAV issue, but, I can sync files using a WebDAV sync app.

Error	PHP	Array to string conve

[2016-02-16 12:54] axenta commented on #22423
Thank's a lot.
Disable pdfviewer solved my problem

[2016-02-16 13:01] jnweiger commented on #21342
The php5-cgi requirement was added to avoid an otherwie implicit hard requirement on apache.
I am changing to php5-cgi | php5-fpm | libapache2-mod-php5
That should do the trick.

[2016-02-16 13:02] rullzer commented on #20982
I looked some more into this and it is defenitly an issue with the new webdav endpoint.
We no longer extend the objectree. Thus the move is not handled by our code.

[2016-02-16 13:03] HackintoshHD commented on #22036
@kscholz Great find, thank you so much! - I've added **FcgidMaxRequestInMem** with a value of exactly 2&nbsp;Gigabytes to my virtual host configuration file and can **confirm** your workaround is working like a charm.

I've tested the scenario with files of a size around 8&nbsp;Gigabytes, so roughly that of a DVD-9, and they're now all uploaded flawlessly over ownCloud's web interface:

![oc_8 2 2

[2016-02-16 13:11] rullzer commented on #20982
Yes it happens here:

https://github.com/owncloud/core/blob/master/apps/dav/lib/server.php#L51

There we pass the RootCollection. Which is an INode...

Then https://github.com/fruux/sabre-dav/blob/master/lib/DAV/Server.php#L200 creates a 'regular' tree sabre tree... https://github.com/fruux/sabre-dav/blob/master/lib/DAV/Tree.php

And thus on move we call:

https://github.com/fruux/sabre-dav/blob/m

[2016-02-16 13:14] DeepDiver1975 commented on #20982
this was done on intention - we basically need to operate on the regular tree implementation.

[2016-02-16 13:15] Dianafg76 opened #22427 "Sharing a file, the own user is shown in the user sharing list"
### Steps to reproduce
1. Go to the Server Web with v 9.0 with one user (e.g p@nk)
2. Create a new file (e.g Share_folder.txt)
3. Share the file with the same user (e.g p@nk). Sharing a file, write down a pattern that matches with the user logged. I can see the name p@nk (remote) in the dropdown

### Expected behaviour
Tell us what should happen

### Actual behaviour
Appears this error
![screen sh

[2016-02-16 13:15] rullzer commented on #20982
Aaah mm well then we need to fix other stuff. since the rename hooks should be fired.

[2016-02-16 13:20] unhammer opened #22428 "remember checkbox pre-checked if known IP"
The remember checkbox has gone back and forth between being checked https://github.com/owncloud/core/pull/4175 and unchecked https://github.com/owncloud/core/issues/5286 by default. I would guess what makes sense for most users is for default-unchecked on new IP addresses, default-checked if you've successfully logged in from that IP before.

[2016-02-16 13:23] labnuke commented on #22395
Note that I am unable to manually add LDAP users to any group.

[2016-02-16 13:25] rullzer commented on #22247
#22338 merged...

[2016-02-16 13:25] #22247 closed

[2016-02-16 13:30] HackintoshHD commented on #22036
**Just for future reference,** in case anybody with a server using Apache/2.4 mod_fcgid and suEXEC would like to reproduce the problem: Here's my [Let's-Encrypt-ified](https://letsencrypt.org/) virtual host's configuration file.

**Disclaimer:** Please note that the values below are still set ridiculously high for the purpose of debugging to exclude any possibility of a misconfiguration. They're c

[2016-02-16 13:38] jnweiger commented on #21342
Will be fixed in 8.2.3 / 9.0

[2016-02-16 13:40] nickvergessen commented on #22428
Please elaborate which checkbox you are talking about. e.g. a screenshot would be helpful

[2016-02-16 13:43] nickvergessen commented on #22427
For me it shows two entries, first entry is the local user (works), the other one is user p on server nk (does not work).
So works as expected for me?
![bildschirmfoto vom 2016-02-16 14 42 07](https://cloud.githubusercontent.com/assets/213943/13077842/9ac71430-d4bb-11e5-84e7-facc698d936b.png)

[2016-02-16 13:53] butonic commented on #11797
@cmonteroluque Shoud this be in the backlog?

[2016-02-16 13:56] rullzer commented on #20908
Ok so this can haunt us now that we have lazy shares... let me fix the OCS endpoint to not crash on this...

[2016-02-16 14:05] unhammer commented on #22428
Sorry, I mean this: https://doc.owncloud.org/server/7.0/user_manual/_images/oc_connect.png

[2016-02-16 14:12] cdamken opened #22431 "[8.2.2] Unused old external storages still in DB"
I saw that some old testing storages are kept in the database and are not configured with anything or never worked:

for example:
in oc_storage I have
smb::foo@10.1.10.103//carlos//
smb::carlos@10.1.10.13//carlos//

There are in oc_filecache too.

Is there any way to purge all old and unused storage and file information that is not anymore needed?

@MorrisJobke

[2016-02-16 14:15] rullzer commented on #11533
@PVince81 @cmonteroluque I don't see this happening for 9.0

[2016-02-16 14:22] MorrisJobke commented on #22431
cc @Xenopathic @icewind1991 @PVince81

[2016-02-16 14:24] MorrisJobke commented on #22426
@PVince81 Another file size mismatch https://github.com/owncloud/core/issues/9832

[2016-02-16 14:26] MorrisJobke commented on #22428
cc @LukasReschke - you also want to do something with detecting malicious logins that also depend on the IP address.

[2016-02-16 14:28] PVince81 opened #22433 "Cannot overwrite fed shared file as recipient"
### Steps

1. Create two users "user1" and "user2"
1. Login as "user1"
1. Create or upload a file "test.txt"
1. Share "test.txt" using **federated sharing** with "user2"
1. Login as "user2" in the web UI
1. Accept the share
1. Login as "user2" with a Webdav client (ex: cadaver)
1. Overwrite "test.txt" with a Webdav PUT

### Expected result
File was overwritten

### Actual result
[code]

### Versio

[2016-02-16 14:30] PVince81 commented on #22433
Works fine in v8.2.2.

Let's bisect this quickly.

[2016-02-16 14:38] PVince81 commented on #22433
Broken by @blizzz https://github.com/owncloud/core/pull/22252

[2016-02-16 14:38] PVince81 commented on #22433
Let me take care of this as this is blocking me.

[2016-02-16 14:53] deejaymodish commented on #22426
Looked at the referenced case and made some changes to php upload limit. And now I have a new error:

[2016-02-16 14:58] Dianafg76 commented on #22427
@nickvergessen If you go to the Server Web with v 9.0 with one user (e.g p@nk), you can't share the folder/file with the same user

[2016-02-16 15:06] bitbull06 commented on #14260
`ldap_control_paged_result_response(): Result is: No such object (32) at /var/www/html/owncloud/apps/user_ldap/lib/ldap.php#63` points in the same direction of the main issue i guess

[2016-02-16 15:11] rullzer commented on #22427
@Dianafg76 I assume your dropdown shows `p@nk (remote)`?

Which happens because there is an `@` in the username. When clicking on it it tries to share with the user `p` at the server `nk`. Now it can't find the server `nk` so all fails.

I agree with @nickvergessen that this is actually the correct behaviour.

[2016-02-16 15:17] rullzer commented on #17166
Moving to 9.1 as we still cant' break the v1 API ;)
@PVince81 @cmonteroluque

[2016-02-16 15:18] rullzer commented on #19376
Once we move more of the federated sharing handling over to the federate share provider. And move over the v2 of the OCS Share API we could get this info nicely via one endpoint to the user. CC: @schiesbn

@PVince81 @cmonteroluque something for 9.1 maybe

[2016-02-16 15:20] Dianafg76 commented on #22427
@rullzer the @ is part of the my username (p@nk). My confusion has been with the @
I'll close the issue

[2016-02-16 15:26] cmonteroluque commented on #3577
ok

[2016-02-16 15:26] davivel commented on #22426
Any details about your server configuration, please?

[2016-02-16 15:28] cmonteroluque commented on #13586
@MTRichards heads up

[2016-02-16 15:29] deejaymodish commented on #22426
Ubuntu 14.04
Apache 2.4
OwnCloud 2.2

Not sure what other details you'd need, but, I can provide most of what you are looking at.

Thanks!

[2016-02-16 15:30] davivel commented on #22426
Sorry, ownCloud 2.2?

The uploads still don't get to the server and have the same error notification in Android, right?

[2016-02-16 15:31] cmonteroluque commented on #21968
woud 9.0.1 make sense instead? @PVince81 @icewind1991

[2016-02-16 15:32] PVince81 commented on #22433
Actually @blizzz didn't break it, but his code revealed another more obscure bug.

PR is here: https://github.com/owncloud/core/pull/22435

[2016-02-16 15:39] MTRichards commented on #13586
Agree on 9.1, swiftmailer 6 hasn't shipped and I don't see a lot of emails like this just yet. Lots of infrastructure can't handle this sort of an email. As we maintain components, update internals, we will want to roll this in in the future when it makes sense.

[2016-02-16 15:44] flimmbing opened #22436 "Paths get cut off in activity stream/email"
All file names and paths will get cut off in the activity stream and the desktop client as well (although the links behind work).

Example:

instead of: "my-share/my-folder/my-file.xls" I get: "ile.xls" (or similar, see screenshots)

Reproduce error:

1. An external storage is added by user "admin", as local type on the same server: "/var/www/clients/client1/cloud.my-site.com/web/owncloud/data/sha

[2016-02-16 15:44] cmonteroluque commented on #21212
nod

[2016-02-16 15:45] deejaymodish commented on #22426
Typo. Sorry. OwnCloud 8.2.2

Yes, both Android and iOS error when trying to upload.

[2016-02-16 15:48] rullzer opened #22438 "Sharee autocomplete should use small paginated queries"
Currently we fetch 200 sharees in the webUI. Instead we should fetch N (25 or something) and only when the user has scrolled to the end of the list (or alsmost to the end of the list) we should fetch another N and so on.

We would have to dive into the jquery stuff in order to fix this properly.

CC: @PVince81

[2016-02-16 15:50] rullzer commented on #22427
Yeah usernames containing an @ are not ideal in this situation...

[2016-02-16 15:50] #22427 closed

[2016-02-16 15:51] cmonteroluque commented on #22233
I like @MTRichards proposal

[2016-02-16 15:56] sHaggYcaT opened #22439 "Apache error: AH00161 MaxRequestWorkers"
I have simillar, but not same problem with: https://github.com/owncloud/core/issues/14175
But It doesn't apcu cache!

After I restart apache, I see in error_log

`[Tue Feb 16 17:32:26.951302 2016] [mpm_prefork:error] [pid 108] AH00161: server reached MaxRequestWorkers setting, consider raising the MaxRequestWorkers setting
`
And owncloud some times works extremely slow, or just not working (https

[2016-02-16 15:57] cmonteroluque commented on #21365
If the customer situation is at hand (with the script) and we can move it forward, I would propose this goes to 9.1

[2016-02-16 16:01] LukasReschke commented on #22439
https://github.com/owncloud/core/blob/master/CONTRIBUTING.md#short-version :wink:

[2016-02-16 16:21] davitol opened #22440 "It is not possible to 'grant access' to a googledrive mount configuration via CLI"
### Steps to reproduce

1. Create a googledrive mount point via command line interface.

e.g.

sudo -u www-data ./occ files_external:create newgdrive googledrive oauth2::oauth2 -c client_id=XXXXXXXXXXXXXXX.apps.googleusercontent.com -c client_secret=XXXXXXXXX

### Expected behaviour

The mountpoint is created and the access is granted

### Actual behaviour

The client_id and client_secret configur

[2016-02-16 16:22] Dianafg76 opened #22441 "Share the folder with a group and then with a user included in the group , the icon continues to spin"
### Steps to reproduce
1. Go to the Server Web with v 9.0 with one user (e.g yellow)
2. Create a new folder/file (e.g hello)
3. Share the folder with the group call colors
4. Share the folder with the red user (this user is include to the group colors)
![screen shot 2016-02-16 at 16 59 33](https://cloud.githubusercontent.com/assets/12032058/13081923/f15aac36-d4ce-11e5-8880-1d76b92a37e2.png)
5. Cli

[2016-02-16 16:22] LukasReschke opened #22442 "Use symfony/polyfill instead of patchwork"
Due to issues such as https://github.com/owncloud/core/issues/22324 and https://github.com/owncloud/core/issues/20065

[2016-02-16 16:22] LukasReschke commented on #22324
Potential patch is at https://github.com/owncloud/3rdparty/pull/249

[2016-02-16 16:22] LukasReschke commented on #20065
Patch is at https://github.com/owncloud/3rdparty/pull/249

[2016-02-16 16:29] davivel commented on #22426
Oh, sorry, I should have noticed...

Did you test the desktop client?

[2016-02-16 16:39] deejaymodish commented on #22426
Do you mean a desktop sync client? No, I do not. I use the web interface.

[2016-02-16 16:44] sHaggYcaT commented on #22439
### Steps to reproduce

and
### Expected behaviour
Tell us what should happen

To reproduce, I've updated from owncloud-8.0.3, php 5.6, no any cache systems, sqlite(!) // worked fine///
to new server: centos 7. Old server is one, new server deployed by Ansible. For me, situation reproduce. Old server works fine, new server reproduce performance problems :( If I reinstall owncloud by same playbook,

[2016-02-16 16:49] davivel commented on #22426
Yes, that a meant.

OK, thinking in Android, the problem now seems that the composition of the file in the server after all the chunks were sent is taking "too long". The Android app should be more resilient for this case, since there is information enough in the response of the last chunk to handle this and do not fail in the app. If I'm not wrong, desktop sync client already takes this into acco

[2016-02-16 16:52] davivel commented on #22426
I forgot: how did you perform the server upgrade: manual installation, packages, upgrader app?

[2016-02-16 16:54] davivel commented on #22426
Could you check to upload a file smaller than 1MB from the Android app and see if there is any difference?

[2016-02-16 17:11] luckydonald commented on #22048
@karlitschek
I have the same Issue.
The server itself **clearly** has internet, as `wget`, `apt-get`, `ping google.com`, etc. all can connect to the internet successfully.
[code]

[2016-02-16 17:13] deejaymodish commented on #22426
Yes, the problem happens if I upload to the root of the storage or if I upload to a folder.  The problem still happens without encryption.  Trying to upload a file smaller than 1MB didn't work.  And I updated manually, disabled apps, put OC in maintenance, scanned all the files after upgrade, then reenabled apps and took OC out of maintenance.

The logs I've provided are from the web interface's A

[2016-02-16 17:18] davivel commented on #22426
@deejaymodish , thank you for the info.

You said you made some configuration changes in your server. Anything similar to https://forum.owncloud.org/viewtopic.php?f=17&t=30646 ?

[2016-02-16 17:22] nickian commented on #22412
@LukasReschke, thanks. I'm trying to replicate this example to understand this better, but it's not working. For example, I created a folder in my files called "website" and put an .htaccess file and a test.php file. .htaccess has:

[code]

But it's not running the script. I'm still landing on the ownCloud "forbidden" page when I go to: mydomain.com/data/nick/files/website/

Couldn't I also add th

[2016-02-16 17:27] davitol opened #22447 "[Files_external] Configuring mounts via CLI; backends command should show authentication fields required"
### Steps to reproduce

1. Run the command

sudo -u www-data ./occ files_external:backends

### Expected behaviour

All arguments required to create a files_external mountpoint are shown

### Actual behaviour

It is shown the type of authentication but not the name of the arguments needed. You have to look them up in the code in /files_external/lib/XXX.php files

e.g. sudo -u www-data ./occ files_

[2016-02-16 17:28] nasli opened #22448 "Resharing is not allowed for a federated folder on master"
### Steps to reproduce
1.User server A share a folder with a user other server B

### Expected behaviour
User in server B can share this folder

### Actual behaviour
User in server B can not share this folder
![screen shot 2016-02-17 at 09 01 24](https://cloud.githubusercontent.com/assets/6570505/13103291/7271b414-d555-11e5-937c-4afd1f4538b3.png)

### Server configuration
{"installed":true,"mainte

[2016-02-16 17:33] deejaymodish commented on #22426
@davivel I only changed php upload limits. I already had .htaccess limit changed to upload large files from web interface, but, didn't change the /etc/php5/apache2/php.ini side.

This is my virutalhost file:

Alias /owncloud /var/www/owncloud
</IfModule>
<Directory “/var/www/owncloud”>
SSLRenegBufferSize 10486000
Options Indexes FollowSymLinks
AllowOverride All
Order allow,deny
allow from all
</Di

[2016-02-16 17:35] luckydonald commented on #22048
The question is:
What could be a reason for this?
I don't have a proxy, or IPTables.

[2016-02-16 17:36] luckydonald commented on #21822
@MorrisJobke
I get the same error.
I am not using IP tables, nor any proxy or such.
[code]
(Connected to https://github.com/owncloud/core/issues/22048#issuecomment-184777024, which I found first)

[2016-02-16 17:37] luckydonald commented on #21822
I'll reopen this as the problem seems still there.

[2016-02-16 17:45] nasli opened #22449 "Displayed share with disappears after navigate through a folder"
### Steps to reproduce

1.In a root of a server with some folders shared with me via federated sharing and some folders shared with other user, navigate to a folder and go back to root
### Expected behaviour

The displayed share with name remained after navigate
![screen shot 2016-02-16 at 18 39 40](https://cloud.githubusercontent.com/assets/6570505/13103080/9bba49b4-d553-11e5-8dc3-e2a4064d8380.pn

[2016-02-16 17:46] RealRancor commented on #21822
@luckydonald Instead of re-opening an issue which is clearly caused by iptables rules its better than you create an new issue using the issue template.

[2016-02-16 17:49] cdamken opened #22450 "[8.2.2] Cron job creates error"
I obtain the following erros every time the cron job runs (15 Minutes)

 - for each user the following error:

[code]
 - then another error comes:
[code]
This file should be already removed, because the retention oblation is older than 3 months:
[code]

and the path has an error: ```\/rsions\/```

Server stack:

• Operating system (name and version number):
[code]

• URL from your ownCloud
https:/

[2016-02-16 17:50] RealRancor commented on #22048
@luckydonald  See  https://forum.owncloud.org/viewtopic.php?f=17&t=29790

[2016-02-16 17:51] cdamken commented on #22450
@MorrisJobke  - We talked about this :smile:

[2016-02-16 17:59] luckydonald commented on #21822
As a note, my issue was resolved by manually downloading the `ca-bundle.crt` into the config folder.
[code]
Maybe that helps @TakeMeNL and others, too.
 [related issue](https://github.com/owncloud/updater/issues/164)
[related forum post](https://forum.owncloud.org/viewtopic.php?f=17&t=29790#p95896)

[2016-02-16 18:03] RealRancor commented on #21822
@luckydonald

If you're running 8.1.1 an update to 8.1.5 would tell you.

As you have wrongly re-opened this issue please close again.

[2016-02-16 18:15] #21822 closed

[2016-02-16 18:27] carlaschroder commented on #22412
This sounds like a nice edge case to me, that belongs in the doc Wiki https://github.com/owncloud/documentation/wiki.

[2016-02-16 18:27] carlaschroder commented on #22412
Which means someone who is not me writes it and puts it there :)

[2016-02-16 18:30] rullzer commented on #22441
Aaah yes we should handle that properly. I'll take care.

[2016-02-16 18:50] rullzer commented on #22441
PR in #22452

[2016-02-16 18:54] kwiatek6324 opened #22453 "[OC 8.2.2] Renaming Shared file"
Case Scenario
User A, User B
User A shares file file.txt to User B
User B see in Shared folder file "file.txt"
User A renames file to file2.txt
User B see in Shared folder old filename "file.txt"

Is it correct ?
User B should see "file2.txt".

[2016-02-16 19:04] rullzer commented on #22453
No this is correct. The mount point can be renamed. Else what would happen if you already have a file called `file2.txt` does that get overwritten. Etc.

If you share a folder `foo`. And inside that folder is a file called `file.txt` and you rename that to `file2.txt` then user B will see that rename.

However if user A renames the folder `foo` to`bar`. Then user B won't see that.

[2016-02-16 19:04] #22453 closed

[2016-02-16 19:09] sidey79 opened #22454 "Support for master / slave in DB connection"
Question:

Is there support or planning for  a master/slave configuration as described in MasterSlaveConnection.php from the doctrine  Lib?

[2016-02-16 19:19] chrsch commented on #18951
How will you handle the recovery password? Let's assume an admin did enable recovery feature at some point in time. Later on an user decides to turn on the recovery feature for himself. If I understand the proposal, now the encryption app basically needs to copy the unencrypted private key of the user and afterwards store it encrypted with the recovery password set by the admin. But hey... where d

[2016-02-16 19:29] hostingnuggets commented on #20555
Same issue here with ownCloud 8.2.2 and MariaDB 10.0.23 on Debian 8. Any progress on this issue since it was opened?

[2016-02-16 20:05] JonesfromHan opened #22455 "Weird behavior if user is in 2 or more groups with one shared folder"
This is a possible duplicate, but I have seen no issue with the exact behavior.

### Steps to reproduce
1. Add two Users, User A and User B
2. Add two Groups, Group 1 and Group 2
3. User B has not logged in yet on the server
4. User B is assigned to both Groups
5. User A makes a new folder "WTF" and shares it with both Groups
6. User B logges in for the first time
7. -> Point A
8. User B leaves on

[2016-02-16 20:21] tobiasKaminsky commented on #21173
Yes, @davivel is correct.

[2016-02-16 20:40] ItsReallyMeDE commented on #22455
Use case description to understand the impact of this issue:
Assume owncloud use for a set of working groups (WG). A WG corresponds to an owncloud "group".
- Users may obviously be part of multiple WGs
- Assets (Folders, calenders) can be shared with one or several WGs
--> Assigning users to multiple WGs leads to duplicated shared calendars or shared folders as reported above, IFF these assets are

[2016-02-16 21:25] karlitschek commented on #22233
Discussed again with Matt
I agree too with @MTRichards

But I think in places like the left side bar we can just call it 'Tags' because a distinction between the different tag types is not necessary in this context.

And I understand that this doesn't solve the original request from @PVince81 but I don't think it is a huge problem. I would prefer to have a shorter name as 'Tags' in the left side b

[2016-02-16 22:48] karlitschek commented on #11707
I actually think that the current behavior is fine because it is the most common behavior and it also the same that all our competitors do. Which means that this is also what users expect.
Let's close this for now.

[2016-02-16 22:49] cmonteroluque commented on #6773
@rulizer let's fix it inelegantly. It's post feature-freeze, however, it is a bug. So let's fix it and make it better post 9.0

[2016-02-17 00:01] ckujau commented on #17613
I only found [this documentation article](https://doc.owncloud.org/server/8.2/admin_manual/installation/nginx_configuration.html "Nginx Configuration") on how to configure "Nginx", where a FastCGI parameter is mentioned to [not send headers twice](https://github.com/owncloud/documentation/issues/1327 "Add fastcgi_param modHeadersAvailable true; to NginX conf of oC 8.1.x"), but I couldn't find a hi

[2016-02-17 04:53] elimisteve commented on #15894
Please implement this; I'm looking to create a Go client library for ownCloud and it is very unclear.  Would you recommend looking at https://github.com/owncloud/pyocclient to figure out the relevant API URLs?  Thanks!

[2016-02-17 08:11] SergioBertolinSG commented on #19240
Still happening, will talk with @blizzz to triage it.
[code]

[2016-02-17 08:19] rullzer commented on #22448
@schiesbn this is expected for 9.0 right?

[2016-02-17 08:23] DeepDiver1975 commented on #21039
yes

[2016-02-17 08:24] DeepDiver1975 commented on #22454
Not yet supported - and also nothing planned for now - contributions are welcome

[2016-02-17 09:01] urbenlegend commented on #22011
I do not have php-fpm. In fact the php-fpm package is not even installed. I am also using a regular folder in the owncloud directory for data storage. However WebDav is still using /tmp.

[2016-02-17 09:16] PVince81 commented on #22233
I'm fine with "Tags", but then make sure to add a hint in the tagging field of the sidebar to make sure people know that these are visible for everybody.

[2016-02-17 09:23] PVince81 commented on #22011
@urbenlegend can you post the file names of the temp files that you are seeing there ? Might help to find out which part of Apache/PHP/ownCloud is generating them.

[2016-02-17 09:29] PVince81 commented on #22436
@nickvergessen

[2016-02-17 09:29] PVince81 commented on #22455
@rullzer please evaluate severity and whether this is a regression

[2016-02-17 09:32] PVince81 commented on #22450
@schiesbn @VicDeo this looks suspicious, especially the part with the badly truncated path

[2016-02-17 09:35] MorrisJobke commented on #15894
@elimisteve Use webdav for the general file access and the OCS API for everything else like sharing or user creation. In ownCloud 9.0 we added a more general webdav endpoint that also allows to manage clad, carddav and comments or tags.

[2016-02-17 09:35] MorrisJobke commented on #6773
The biggest problem here is that it needs a lot of logic to accomplish the goal :(

[2016-02-17 09:40] PVince81 commented on #6773
One thing to try: make file actions use CSS icons instead of using image URLs.

[2016-02-17 09:52] nickvergessen commented on #22436
Duplicate of https://github.com/owncloud/core/issues/15858

[2016-02-17 09:52] #22436 closed

[2016-02-17 09:53] LukasReschke commented on #11707
It's not really, see https://github.com/owncloud/core/issues/11707#issuecomment-143167865

[2016-02-17 09:53] #22158 closed

[2016-02-17 09:54] LukasReschke commented on #11707
All others: Set to "edit" per default _BUT_ allow changing this _BEFORE_ sharing. Thus not setting potential insecure defaults.
We: Set to "edit" per default and do not allow changing this until the files have already been shared.

[2016-02-17 09:57] #20663 closed

[2016-02-17 09:57] #22433 closed

[2016-02-17 09:58] #14095 closed

[2016-02-17 09:59] #22441 closed

[2016-02-17 10:04] elimisteve commented on #15894
Thanks @MorrisJobke, that should simplify things dramatically.  Looks like [this](https://doc.owncloud.org/server/8.2/developer_manual/core/ocs-share-api.html) is the latest link to the Share API?

[2016-02-17 10:05] cdamken commented on #20699
is it possible to have the same milestone like https://github.com/owncloud/core/issues/6635 ?

@MorrisJobke

00002582
00004149

[2016-02-17 10:10] rperezb opened #22457 "Shared mount points still accessible after turning off sharing"
Related to: https://github.com/owncloud/core/issues/19157

### Steps to reproduce
1. Register a new mount point, such as: ownCloud called it ocMount, make it available for just the admin group and grant reshare availability
2. Create a user (user1) on that server and *do not* included it on the admin group
3. Share ocMount with user1
4.- User1 has access to the mountpoint
5.- As admin, remove the

[2016-02-17 10:10] butonic commented on #11707
I see two possible solutions:
1. Add a confirmation button. Clicking it creates the share. Might need UI rework to make it look appealing and less confusing.
2. Change defaults to readonly. Adding a share then does not need a confirmation action. Creating a writable share needs an extra click on the corresponding checkbox.

Hope this clarifies that it is not the defaults that are wrong, but the mo

[2016-02-17 10:12] PVince81 opened #22458 "Display login dialog instead of redirect when session timeout in Javascript"
In some apps like the notes app, you might have typed in stuff that hasn't been saved yet.
If the session times out, as per https://github.com/owncloud/core/pull/16783 you will be redirected to the login page and would lose the notes.

Instead of the redirect, what should happen is that an overlay grays out the page and a popup dialog appears to prompt for the credentials for re-login. (some trick

[2016-02-17 10:14] davitol opened #22459 "Wrong tooltip message when trying to fed.share a file with a fed.user that has already received the share"
### Steps to reproduce
1. Fed. share a file with a user of another server
2. Try to fed.share the same file with the same user again
### Expected behaviour

A tooltip warning that the file has been already shared with the user should be shown
### Actual behaviour

 No user or groups found tooltip message is shown
### Server configuration

**Operating system**: ubuntu 14.04

**Web server:** apache

[2016-02-17 10:18] rperezb commented on #19157
Doubt : previously, when this option was disable, before doint the action we warn the admin with this:
``Are you sure you want to disable personal mountpoints? By doing this, all the personal mountpoints will be removed for all the users````

This is not included in this version...do we want to add it? @MTRichards ?

[2016-02-17 10:19] ogoffart commented on #11707
The security issue is this one:  imagine a funny student who configured his client to automatically delete all new share. The proffessor want to share a folder containing the assignement data and instruction with all the students (the students group)  When he does so, he better be quick to remove the write permission before it's too late and all the data is gone.

[2016-02-17 10:22] rperezb opened #22460 "External Storage Admin Checkbox to share enable by default"
related to: https://github.com/owncloud/core/issues/19157

### Expected behaviour
It was expected: Check box (disabled by default) labeled “allow sharing” is checked when the mount point for external storage or any secondary storage app is added

### Actual behaviour
The allow sharing is enable by default

@MTRichards guess this is fine

[2016-02-17 10:24] jancborchardt commented on #22458
In which scenario would the session time out _while you’re working on something_? Or do I misunderstand? Cause the Notes app saves everything directly.

Stuff like session timeout is not a nice UX and we should prevent it wherever possible.

[2016-02-17 10:34] nickvergessen commented on #22449
also happens with normal shares...
@PVince81

[2016-02-17 10:38] PVince81 commented on #19157
"disable personal mountpoints" @rperezb this ticket is about disabling sharing, not personal mount points.

files_external works a bit differently. If you disable personal mounts, the users don't see them any more but they still exist internally. If the admin reenables it, the mount points will appear again.

The same is true for shares: the shares continue to exist but are inaccessible.
(maybe at

[2016-02-17 10:40] PVince81 commented on #22449
Normal shares is another issue and possibly a regression, could be related to the changes to the sharing code.

[2016-02-17 10:42] PVince81 commented on #22458
This is only valid assuming that all apps are using auto-save like the text editor does now.

Session timeout seldom happens. The only cases I can think of is if someone puts their computer to sleep with an owncloud tab open, and opens the computer again a day later. In this case the heartbeat cannot keep the session open.

There might be other SSO-cases where a redirect will happen to recreate a

[2016-02-17 10:45] PVince81 commented on #22233
@jancborchardt can you come up with some suggestions how to do this ? See https://github.com/owncloud/core/issues/22233#issuecomment-185110596

[2016-02-17 10:49] PVince81 commented on #22016
Any update, is this still happening ?

[2016-02-17 10:49] PVince81 commented on #21982
Any update, is this still happening ?

[2016-02-17 10:55] rperezb commented on #19157
Sorry! wrong copy-paste
```Are you sure you want to disable shared mountpoints? By doing this, all the shared mountpoints will be removed for all the users```

[2016-02-17 10:56] PVince81 commented on #19157
Yeah, as said above, the shares are preserved in the database but we added code to prevent these to be accessible when sharing is disabled.

[2016-02-17 11:00] ItsReallyMeDE commented on #22455
@PVince81 we observed the "feature" in 8.2.2 and retested on the latest 9

[2016-02-17 11:09] PVince81 opened #22462 "Create folder on S3, date is 3 hours ago (timezone?)"
### Steps to reproduce
1. Sit in timezone Europe/Berlin
2. Mount an S3 bucket from EU Frankfurt
3. Upload a file "test.txt" in the web UI
4. Create a folder "test"
5. Refresh the page
### Expected result

Both file and folder have a date of "seconds ago" or a few minutes if it's slow
### Actual result

File's date is correct, but the folder date reports "3 hours ago".
### Versions

ownCloud 9.0 gi

[2016-02-17 11:17] rperezb commented on #19157
yes, previously, the original data was not removed either, however, the user with whom it was shared they stopped having access.
I just want to comment the difference.
FIne for me.
thx

[2016-02-17 11:20] PVince81 commented on #21944
Works for me now with S3 on master 7b0f83b616246c5274b551ab46b923b0989c464e
I can access both file shares and folder shares as recipient, shared from the S3 mount.

@davitol can you test again ?

[2016-02-17 11:21] rullzer commented on #22459
Yes this is because there is only a single status code for a remote server rejecting a share. @schiesbn we should look into this.

[2016-02-17 11:42] PVince81 opened #22463 "OCS Share API very slow with slow external storage"
### Steps to reproduce

1. Create a local user "user1"
1. Setup a remote S3 external storage mount point "/s3" (ex: amazon S3)
1. Create/upload a non-empty file "test.txt" on "/s3"
1. ~~Share "test.txt" with a LDAP user~~
1. Share "test.txt" with "user1"
1. Refresh the page
1. Open the share panel for "test.txt"

### Expected behaviour
OCS Share should be fast and should work without requiring dir

[2016-02-17 11:53] PVince81 commented on #22463
Regression from v8.2.2:
- in 8.2.2 the share dialog did not use the OCS Share API and was super-fast
- even when using the OCS Share API, it was much faster.

Before:
[code]

After:
[code]

It looks like it gets slower if you share with more users.
4 seconds before vs 22 seconds after!

In the web UI it visibily takes more time than it did before.
Setting to high and regression.

We might be able

[2016-02-17 11:56] PVince81 commented on #22463
looks like the subfiles options needs a dir listing:
[code]

Maybe we need a `getCacheEntry` option to tell it to not scan ?

[2016-02-17 12:00] PVince81 commented on #22463
Then later on, `formatShare()` also called getFileInfo() to get the file id:
[code]

Please note that S3 doesn't have a stat cache, and it seems that here the `stat()` method is called way too often. (see https://github.com/owncloud/core/issues/13147 and https://github.com/owncloud/core/issues/7910)

Is the sharing code reusing the nodes from `getDirectoryContent()` ? It seems it might be refetchi

[2016-02-17 12:01] PVince81 commented on #22463
Or maybe the scanner should remember that what already scanned within the current request and not rescan over and over again ? @icewind1991

[2016-02-17 12:01] rullzer commented on #22463
Well yes the subfiles option needs a dir listing else it does not know which files to check. Before this was probabaly handled by the complex query but we wanted to decouple that so now we only query the oc_share table.

[2016-02-17 12:02] rullzer commented on #22463
Nope... but I would assume that the node API caches that stuff if it actually is the same node...

[2016-02-17 12:03] PVince81 commented on #22463
Hah... if I comment out the scan call here: https://github.com/owncloud/core/blob/7b0f83b616246c5274b551ab46b923b0989c464e/lib/private/files/view.php#L1236 in `getCacheEntry` then the request is down to 1 second !!!

[2016-02-17 12:03] PVince81 commented on #22463
I think it's fine to scan once, but only ONCE per PHP request.

[2016-02-17 12:05] PVince81 commented on #22463
This is not limited to "subfiles=true", it is also slow when querying directly on the file:
[code]
takes 22 seconds.

If I comment out the scan line like https://github.com/owncloud/core/issues/22463#issuecomment-185172365 it takes 1 second.

@icewind1991 can you have a look ? I think such optimization is likely to benefit a lot more than sharing.

[2016-02-17 12:05] Dianafg76 opened #22464 "[Federated Sharing] Different permissions on the desktop that on the server"
### Steps to reproduce
1. Go to the Desktop client with user1(server1)
2. Create a new folder (e.g Hello)
3. Share with owncloud
4. Write on share users/groups user2(server2) (e.g user2@..........)
5. The folder is shared with all permissions
![screen shot 2016-02-17 at 11 51 15](https://cloud.githubusercontent.com/assets/12032058/13107219/cf636d4a-d56c-11e5-8c76-8f742528b56a.png)
6. Go to the Ser

[2016-02-17 12:07] Dianafg76 commented on #22464
related https://github.com/owncloud/core/issues/22122

[2016-02-17 12:08] SergioBertolinSG commented on #22016
Yes, now behaviour is a little different, red background appears, clicking on it appears a pop up saying:

There was an error with message: Sabre\HTTP\ClientException: Empty reply from server. Do you want to review mount point config in admin settings page?

Logs:

[code]

[2016-02-17 12:10] DeepDiver1975 commented on #21039
no longer happens with 7.0.3 - https://ci.owncloud.org/view/All/job/server-master-linux-php7.0.3/database=pgsql,label=SLAVE/

[2016-02-17 12:10] #21039 closed

[2016-02-17 12:11] PVince81 commented on #22016
Are the login credentials valid for this ext storage ? If not, then that dialog would appear.

[2016-02-17 12:11] PVince81 commented on #22016
also, probably unrelated to SSL ?

[2016-02-17 12:11] davitol commented on #21944
@PVince81 just tested again with ownCloud Enterprise Edition 9.0 beta 1 (daily) Build:2016-02-17T04:14:46+00:00 c6b24573066cfc87b73b1b61b41032b8c5a406cf

scenario1: Share a file located in S3 mountpoint from LDAP user to LDAP user --> WFM
scenario2: Share a file located in S3 mountpoint from LDAP user to admin user --> :x:

The file never appears in admin account in the files view

owncloud.log

[

[2016-02-17 12:11] DeepDiver1975 commented on #21750
Not having the birthday calendar could be seen as feature regression

@karlitschek opinion? Freeze exception? It would take me one day to finish the open PR #22198

[2016-02-17 12:12] #22324 closed

[2016-02-17 12:13] SergioBertolinSG commented on #22016
Yes, they are valid, but still doesn't connect.

[2016-02-17 12:14] PVince81 opened #22465 "Locking issue when deleting multiple files/folders from S3 storage"
### Steps to reproduce
1. Setup a S3 external storage as "/s3" (amazon in my case)
2. Create a folder "/s3/test"
3. Create/upload a non-empty file as "/s3/test.txt"
4. In the web UI, select both "test" and "test.txt" in the "s3" folder
5. Click "Delete" in the selection bar to delete both
### Expected behaviour

Both deleted
### Actual behaviour

"test.txt" is gone but "test" receives 423 Locked.

[2016-02-17 12:15] PVince81 commented on #22465
I forgot to mention: after this situation, deleting the "test" entry works fine.
So this only happens when deleting both at the same time.

[2016-02-17 12:16] SergioBertolinSG commented on #22016
It is related, mounting it without SSL works fine.

[2016-02-17 12:16] PVince81 commented on #21944
Ok... looks like a different issue.
Let's see whether this also happens for non-ext storages.

[2016-02-17 12:17] PVince81 commented on #21944
@davitol can you post your "applicable" setting ? Did you only assign the ext storage to a single LDAP user, or do all users see it ?

[2016-02-17 12:18] PVince81 commented on #22016
Ok, thanks for the info. Then there is indeed a bug with SSL + login credentials.

[2016-02-17 12:19] davitol commented on #21944
@PVincent applicable to all users

[2016-02-17 12:24] schiesbn opened #22466 "need to adjust required phpunit version"
It seems like in the development cycles for 9.0 we introduced PHPUnit features which requires PHPUnit 4.4 or higher, e.g. https://github.com/owncloud/core/blob/master/apps/federatedfilesharing/tests/federatedshareprovidertest.php#L134

autotest.sh requires only phpunit 3.7 or higher, https://github.com/owncloud/core/blob/master/autotest.sh#L57

We should rise the requirement or "downgrade" our tes

[2016-02-17 12:24] umlaeute commented on #22310
@PVince81 i can confirm that the `.ocdata` file was there.

is there also a file i could create to prevent a directory from being used?

e.g. if my owncloud-user (`www-data`) has write-access to the directory, there is little to prevent the volume from accidentally becoming an owncloud-owned directory.

i imagine something like `.ocNOdata` that would stop owncloud from using that directory (even i

[2016-02-17 12:26] PVince81 commented on #22310
That file ".ocdata" should only be created when running the ownCloud installation, so I'm not sure why ownCloud would decide to recreate it inside the data folder when unmounted.

[2016-02-17 12:28] rullzer commented on #22466
Released on 2014-12-05.... :wink:

[2016-02-17 12:29] #20065 closed

[2016-02-17 12:31] PVince81 commented on #21944
also happens with SFTP, adjusting title to not scare away devs

[2016-02-17 12:32] PVince81 commented on #21944
You know what, I think we should close this. This ticket was about crashing.

I'll open a new one.

[2016-02-17 12:32] #21944 closed

[2016-02-17 12:33] umlaeute commented on #22310
ah ok. than this is a non-problem.

(one possible use would involve filesystem backups - where you have backed up the `.ocdata` file but don't want this directory to become a oc-volume ever; but i'm just making this up and don't have a real-world use-case at hand (i think))

[2016-02-17 12:33] schiesbn commented on #22466
@rullzer I know, debian stable is sooo old :wink: Still for a enterprise distribution this isn't old, so I don't know if we want to rise the requirements that high.

Anyway, we don't have to keep the requirement that low just for me. Thinking more about productive environments which run all this stable and old versions like centos, rhel, sles, debian,...

[2016-02-17 12:41] PVince81 commented on #22310
I think I can imagine a scenario that maybe triggered this situation of yours.

Did you originally have all files inside the "data" folder and later on decided to make it an NFS mount ?
So you'd have copied all files with "mv data/* /mnt/thefuturenfsmount". And later on you mounted that NFS mount onto the old data folder ?
That `mv` command doesn't move hidden files like ".ocdata" :frowning:

[2016-02-17 12:41] PVince81 commented on #22310
but then the NFS mount would be missing ".ocdata" and you'd get an error that the file is missing, and decide to manually create it ?

[2016-02-17 12:42] DeepDiver1975 commented on #22466
For me the time is long gone where I use the distribution repos to get phpunit - same will soon happen to php itself ....

anyway - Jenkins is running phpunit 4.6

Let's require 4.4 as minimum

[2016-02-17 12:45] umlaeute commented on #22310
yes, i started out on a local filesystem, and moved to an NFS-share (for capacity reasons).

afair, i just `rsync`ed the filesystems (which would of course include the `.ocdata`).

in any case, i have now removed that offending `.ocdata` file from the local filesystem.

[2016-02-17 12:46] PVince81 opened #22467 "Share file from ext storage from LDAP user to regular user, doesn't appear"
### Steps to reproduce

1. Setup LDAP
1. Setup a SFTP external storage "/sftp"
1. Create a file "/sftp/test.txt"
1. Login as LDAP user
1. Share "/sftp/test.txt" with the local admin
1. Login as admin
1. Check if "test.txt" appears

### Expected behaviour
"test.txt" must be visible

### Actual behaviour
"test.txt not visible"

### Version
ownCloud 9.0 git master 7b0f83b616246c5274b551ab46b923b0989c

[2016-02-17 12:46] PVince81 commented on #21944
Raised here https://github.com/owncloud/core/issues/22467

[2016-02-17 12:47] DeepDiver1975 commented on #21026
agreed

[2016-02-17 13:10] PVince81 commented on #22457
@rperezb did you wait for the external storage to re-save itself ? You can check in the admin page whether the option is still set after refreshing (small UX issue).
If it's indeed disabled after refresh, then it's a bug.

@icewind1991 the checks might not be water-tight enough ?

[2016-02-17 13:11] davitol opened #22469 "[FIles external] Cannot share a file from a S3 mount with a LDAP user and share the same file from S3 mount to the same LDAP user."
### Steps to reproduce

1. As admin user configure a files external S3 mountpoint  and save it (applicable = all)
2. Login with an LDAP user, share a file from the S3 mountpoint with admin user
3. Login with admin user, share the same file from the S3 mountpoint with the same LDAP user

### Expected behaviour
Two possible options:
a) The LDAP user should not be shown in the list of users available

[2016-02-17 13:20] TheKaban opened #22471 "Error (imagecreatefromjpeg(): gd-jpeg, libjpeg: recoverable error)"
Hello!
Self can not find a solution for this problem, for this I ask your help.
An error:
`
imagecreatefromjpeg (): gd-jpeg, libjpeg: recoverable error:? at /var/www/owncloud/lib/private/image.php#512`

Causes of error I do not know.
Please tell me how it can be solved?

Thank you!

[2016-02-17 13:20] #22466 closed

[2016-02-17 13:21] LukasReschke commented on #22471
![2016-02-17_14-20-53](https://cloud.githubusercontent.com/assets/878997/13110664/ac52ae6e-d581-11e5-8600-d96f0cab60fc.png)

Anyways. Seems to be fixed with 9.0 (https://github.com/owncloud/core/commit/f32827e903ef8d833a6a3249a45bedcaf774e1eb)

[2016-02-17 13:21] #22471 closed

[2016-02-17 13:23] PVince81 commented on #19594
Is this still happening on 8.2.2 / master ?

[2016-02-17 13:24] TheKaban commented on #22471
Thank you!
Regarding the registration posts, I will consider for the future.

[2016-02-17 13:31] davitol commented on #22467
@PVince81 Yes, it works in oC 8.2.2 (stable)

[2016-02-17 13:46] MorrisJobke commented on #22310
Ah ... this was the problem! It was still there. Good that this is fixed now.

[2016-02-17 13:46] davitol opened #22473 "[Files external] CLI, inconsistent naming mount options using 'option command'"
### Steps to reproduce
1. Manage mount options for a mount with option command
### Expected behaviour

The info shown in the labels must be the options for the command
### Actual behaviour

For previews is:
sudo -u www-data ./occ files_external:option 12 previews false

For sharing is:
./occ files_external:option 12 enable_sharing false

Using different format names for the options is weird
### Se

[2016-02-17 13:48] VicDeo commented on #22450
@cdamken can you post

`ls -ld /mnt/owncloud/data/carlos/files_versions/*/`
and
`SELECT * FROM oc_jobs;`

[2016-02-17 13:55] MorrisJobke commented on #16392
Fixed by https://github.com/owncloud/core/pull/16783

[2016-02-17 13:55] #16392 closed

[2016-02-17 13:57] MorrisJobke commented on #20006
It does -> closing. @cdamken Case is already closed on SF.

[2016-02-17 13:57] #20006 closed

[2016-02-17 13:58] davitol opened #22474 "[Files external] CLI, --help command should show the names of the available options of each command"
### Steps to reproduce
1. Manage external mounts  for a mount with files external commands
### Expected behaviour

The info shown with --help command should provide us the different options available for each command
### Actual behaviour

e.g ./occ files_external:option --help    command returns:

[code]

How a user can know that the mount options are 'previews' or 'enable_sharing' for example?
##

[2016-02-17 13:59] karlitschek commented on #21750
This is technically a feature regression so fixing this after freeze is fine. The real question is if it is doable in the required quality. What do you guys think?

[2016-02-17 13:59] MorrisJobke commented on #22458
Not possible in days of just closing the lid of your laptop and open it some days later.

[2016-02-17 14:05] oparoz commented on #22458
Yes, please. That's the way smart web apps do it. Nothing worse than losing the content of a long post because of an expired session...

[2016-02-17 14:05] karlitschek commented on #22458
don't we have the keepalive ping to prevent session timeouts?
The only bad scenario is the shutting down the laptop and open it up again later or a lost network connection for a long time. But maybe I'm old school but I as a user wouldn't expect from a web application that it survives such a situation.
In the end I agree that we should implement the proposed behavior from Vincent

[2016-02-17 14:06] LukasReschke commented on #22458
Won't work with some SSO such as Shibboleth. Shibboleth tokens as-is just expire after some time :speak_no_evil: :see_no_evil: :hear_no_evil:

[2016-02-17 14:06] georgehrke commented on #21750
We should do it how it's used to be. Just display the name and the year of birth in brackets.
Maybe add a birthday cake in the front. There is a unicode for that one.

Displaying the actual age is really difficult via CalDAV, because we can't use repeating events and would have to create one event per birthday.

[2016-02-17 14:12] rullzer commented on #22467
Yes seems like a UID mapping thing... let me look into this now that LDAP is up and running...

[2016-02-17 14:12] BernhardPosselt commented on #22458
Simply use something else that does not block the content, that way even network issues should not be a problem

[2016-02-17 14:14] DeepDiver1975 commented on #21750
this is already implemented in #22198 - what is missing are
- [ ] unit tests
- [ ] daily cron job to sync contacts and the birthday calendar
- [ ] migration step to generate the birthday_calendar

Just in case one asks:
Why don't we calculate the birthday information from all contacts on the fly when a request comes in? (This is how it was done in the past)

This will result in a hight load on the

[2016-02-17 14:18] MorrisJobke commented on #15894
@elimisteve Correct - we introduced a v2.php for the OCS API in 8.2 which is better to use, but this needs to be explained by @rullzer. (I guess there is some documentation for this missing :()

Maybe come around in IRC #owncloud-dev on free node to not highjack this issue here.

[2016-02-17 14:29] icewind1991 commented on #22457
Can't reproduce

[2016-02-17 14:29] rullzer commented on #22467
@PVince81 something weird is happening... I can actually see the share in cadavar... but not in the web UI...

[2016-02-17 14:30] PVince81 commented on #22467
But they both use Webdav now on master ?!

[2016-02-17 14:30] MorrisJobke commented on #11707
:see_no_evil: That's a weird scenario.

[2016-02-17 14:31] rullzer commented on #22467
yes...

[2016-02-17 14:32] jancborchardt commented on #22458
Ok, I can’t comment about stuff like Shibboleth. But in the normal cases I totally agree with Frank – we have the keepalive ping for that.

But yeah, if it’s absolutely necessary then a simple modal is better than redirecting to the log in page.

[2016-02-17 14:33] #22464 closed

[2016-02-17 14:39] athorel-asi commented on #20564
Hi @stevenbuehner, I had the same issue as you,

Webdav use php file core/remote.php and use application filesystem
Your application is not loaded so the event is welled emit, but your application has not registered listener.

So you can change the remote.php

and after line 120
`

       // Load all required applications
	\OC::$REQUESTEDAPP = $app;
	OC_App::loadApps(array('authentication'));
	OC_

[2016-02-17 14:50] LukasReschke commented on #15518
@icewind1991 We fixed this, right?

[2016-02-17 14:52] MorrisJobke commented on #21929
It somehow magically works now :+1:

[2016-02-17 14:52] #21929 closed

[2016-02-17 15:05] michi-roth commented on #14757
Hello everybody,
I we updated to 9.0RC1 on our test system and are still getting the problem:
{"reqId":"SuM+doLziYR6e8RC6p6c","remoteAddr":"xxx.xxx.xxx.xxx","app":"webdav","message":"Exception: {\"Message\":\"An exception occurred while executing 'UPDATE `oc_filecache` SET `mtime` = ?, `etag` = ?, `size`=? WHERE (`mtime` <> ? OR `etag` <> ? OR `size` <> ? OR `mtime` IS NULL OR `etag` IS NULL OR `s

[2016-02-17 15:18] icewind1991 commented on #22370
Any steps to reproduce?

Looks like the close callback is called during process teardown

[2016-02-17 15:20] #12007 closed

[2016-02-17 15:26] PVince81 opened #22476 "Range request fail with GDrive stream wrapper, stream lies about being seekable"
### Steps to reproduce

1. Setup GDrive storage as "gdrive"
1. Upload a small text file with known contents
3. `curl -X GET -H Range:bytes=2-5 'http://root:admin@localhost/owncloud/remote.php/webdav/gdrive/bacon.txt'`

### Expected behaviour
Returned bytes match

### Actual behaviour
Returned bytes start at the beginning of the stream

### Version
ownCloud 9.0 git master 9c1248521a76d7d8e5c6c893cf

[2016-02-17 15:26] PVince81 commented on #22476
This breaks syncing when the sync client tries to resume downloading using range requests.

[2016-02-17 15:26] icewind1991 commented on #15518
Yes

[2016-02-17 15:27] #15518 closed

[2016-02-17 15:27] PVince81 commented on #9958
Did some debugging, this is likely the cause for fseek not working: https://github.com/owncloud/core/issues/22476

[2016-02-17 15:32] PVince81 commented on #22476
Citing http://php.net/manual/de/function.stream-get-meta-data.php#115608
"Apparently, custom wrappers are always seekable."

But maybe there is a way to influence the metadata ?

[2016-02-17 15:32] PVince81 commented on #22476
If that doesn't work, then we might want to implement the "read and discard data up to the correct position" to simulate forward fseek. (which Sabre actually does already if we tell it that the stream is not seekable)

[2016-02-17 15:34] PVince81 commented on #9958
Or this http://php.net/manual/de/streamwrapper.stream-metadata.php :smile:

[2016-02-17 15:42] danimo opened #22477 "Add visual error handling for federated cloud shares"
### Steps to reproduce
1. Receive a new cloud share from an errornous owncloud instance (e.g. self-signed cert/incomplete ssl chain)
2. Accept share in Web UI
### Expected behaviour

A notifcation shows up reporting that something went wrong on the remote end, possibly with a snippet that you can send to the remote admin.
### Actual behaviour

Share does not show up
The actual error only show up i

[2016-02-17 15:43] PVince81 commented on #22476
Something to be fixed in the streams library https://github.com/icewind1991/Streams/issues/2

[2016-02-17 16:04] icewind1991 commented on #21574
I agree that this is expected behavior and not something we can solve without a lot more work in locking

[2016-02-17 16:09] felixboehm commented on #10077
@butonic would the full text search app be a workaround?

[2016-02-17 16:10] PVince81 commented on #21574
The only thing that could be done somehow within the current architecture is to add a small waiting delay if a file is locked. The delay must still have a timeout after a few seconds.

The old file locking had something like this: https://github.com/owncloud/files_locking/blob/master/lib/lock.php#L105

This could increase the change of a deletion to succeed. The problem here though is that the PHP

[2016-02-17 16:11] PVince81 commented on #21574
@DeepDiver1975 @karlitschek see previous comment about lock wait with `usleep` instead of bailing out directly. Could help a bit.

[2016-02-17 16:13] PVince81 commented on #21574
Not sure about severity. So far this is by design, but it would be a nice improvement that could reduce the likeliness of a bad UX in the case someone wants to delete locked files in the web UI.

[2016-02-17 16:14] rperezb commented on #22457
:walking: just checked again... and working

[2016-02-17 16:14] #22457 closed

[2016-02-17 16:17] karlitschek commented on #21574
Agreed. Good idea @PVince81

[2016-02-17 16:18] deejaymodish commented on #22426
New one.

[2016-02-17 16:18] PVince81 opened #22479 "Add save button for external storage configuration"
The external storage configuration is too complex to be able to rely on auto-save for settings.
Also there is the risk of mistyping something or clicking on the wrong field and then saving these values into the wrong configuration. Changing config values here can have bigger consequences as it would affect the storage of many users.

So for this, I suggest that we add a "Save" button.
Whenever an

[2016-02-17 16:20] PVince81 commented on #21574
Since we're past feature freeze, adding this logic right now would be a bit risky.
I suggest to look into this in 9.1.

We also might want to evaluate whether the waiting should be done for all operations or only a few like deletions.

@cmonteroluque

[2016-02-17 16:45] oparoz commented on #19594
Yes

[2016-02-17 16:48] icewind1991 commented on #10077
There have been changes in the 9.0 implementation of the shared cache search methods, haven't done any performance measurements though

[2016-02-17 17:08] oparoz commented on #15348
On 9.0, drag and drop doesn't work at all.

[2016-02-17 17:10] arabesc commented on #21574
While it's impossible to delete this file immediately it should be possible to rename/move it. Then why do not move this file to an invisible folder for trash with some unique name?

[2016-02-17 17:12] PVince81 commented on #21574
Rename is not possible either. This is unlike the linux filesystem where a file being written to can be moved while another process still has it open. This won't work with external storages.

Also the file cache and other processes might have trouble too if we're moving the file in the middle of an operation.

[2016-02-17 17:18] oparoz opened #22480 "On some mobile devices, the sidebar pushes the files list away instead of covering it"
### Steps to reproduce
1. Open ownCloud on a tablet
2. Open Files
3. Tap on a file to bring out the sidebar
### Expected behaviour

The sidebar should cover the right side of the files list.
### Actual behaviour

The sidebar pushes the files list to the left, underneath the left navigation menu
### Server configuration

**ownCloud version:** master
### Client configuration

**Browser:** Safari

**

[2016-02-17 17:19] PVince81 commented on #22020
Fixed with https://github.com/owncloud/core/pull/16783

[2016-02-17 17:19] #22020 closed

[2016-02-17 17:21] PVince81 commented on #22151
Any update ?

[2016-02-17 17:22] PVince81 commented on #21784
That gc routine doesn't need external storages as it operates in the "cache" folder, so maybe just add an `if` for now to make it work ?

[2016-02-17 17:22] PVince81 commented on #21784
(until we get the files_external stuff moved to core)

[2016-02-17 17:23] PVince81 commented on #18359
Any update ?

[2016-02-17 17:25] PVince81 commented on #16267
To clarify: this is **not** about fixing the duplicate files. By design we skip them. However, the mechanism that does the skipping was skipping too much. The fix for that is in https://github.com/owncloud/core/pull/22409 for 8.1, it works properly in OC >= 8.2 already.

Since this is specific to 8.1, moving the milestone to 8.1.6.

@cmonteroluque

[2016-02-17 17:30] PVince81 commented on #21074
Is it still deleting actual files ? I'm pretty sure the three dots are still there but most important is to know whether it's deleting files when it shouldn't. (having the three dots is less severe)

[2016-02-17 17:32] PVince81 commented on #17411
What do we want to do with this ?

Should I continue with my approach from https://github.com/owncloud/core/pull/17451 (enable app, check if server broken, if yes, disable app again) or should we take @DeepDiver1975's own approach (not sure which one it was, I don't remember).

[2016-02-17 17:33] PVince81 commented on #17144
Best would be to do a test with `sleep()` in the right places to make sure it works as you think it does.

[2016-02-17 17:39] PVince81 opened #22481 "GDrive unit tests fail on master"
This is master 9c1248521a76d7d8e5c6c893cf73b149fdf80df1

[code]

I'm pretty sure this was always broken and the GDrive storage didn't work properly with rename + overwrite and copy operations.

This ticket is to make those work too. (note: the sync client doesn't use these operations)

[2016-02-17 17:41] jancborchardt commented on #14943
@nickvergessen any updates here?

[2016-02-17 17:41] jancborchardt commented on #6760
@DeepDiver1975 @PVince81 will this ever happen? If not I’d suggest to close this issue.

[2016-02-17 17:42] jancborchardt commented on #7034
@LukasReschke security feedback here please. Will we ever implement this?

[2016-02-17 17:42] PVince81 commented on #6760
@MTRichards @karlitschek @cmonteroluque

[2016-02-17 17:43] jancborchardt commented on #8650
This is a setup-specific question, so I’m closing this.

[2016-02-17 17:43] #8650 closed

[2016-02-17 17:46] PVince81 commented on #20555
Some cleanup background jobs can also cause the DB to be locked for too long: https://github.com/owncloud/core/issues/22243

[2016-02-17 17:46] PVince81 commented on #14757
Some cleanup background jobs can also cause the DB to be locked for too long: https://github.com/owncloud/core/issues/22243

[2016-02-17 17:48] PVince81 commented on #17060
Please try again with 8.2.2 which provides another level of locking to prevent concurrent scanners to scan the same thing, and also to prevent having two processes update the same database entry at the same time (file locking)

If you're still seeing this issue in 8.2.2, please reopen.

[2016-02-17 17:48] #17060 closed

[2016-02-17 17:49] PVince81 commented on #22480
@owncloud/designers

[2016-02-17 17:50] PVince81 commented on #22480
@oparoz regression from 8.2.2 or earlier ?

[2016-02-17 17:52] PVince81 commented on #22477
@schiesbn @nickvergessen @rullzer

[2016-02-17 17:57] PVince81 commented on #22462
Also happens on 8.1.5.

Even weirder is that folders are **always** from 3 hours ago. The folder I created this afternoon is still 3 hours ago. And the one I just created now is also 3 hours ago.

Every time I refresh the page, the timestamp moves forward. It almost looks like it's some kind of internal timestamp of the S3 server, but within a different time zone and with a weird time shift. (it's

[2016-02-17 17:58] PVince81 commented on #22460
@icewind1991 @Xenopathic I guess it should be possible already for storage backends to provide default values for mount options ? (in case some storages need to use different defaults)

[2016-02-17 17:59] nickvergessen commented on #14943
admit_audit does the logging
As for activities I don't see much use in creating more admin-only activities...

[2016-02-17 18:04] AnrDaemon commented on #11707
Weird, may be.
But I've seen people doing that "because it is too much spam".

[2016-02-17 18:16] nasli opened #22483 "Not is possible to unshare o delete a federated folder accepted"
### Steps to reproduce
1.User server A share a folder with user folder B
2.User B accept federated sharing
3.User A delete the folder

### Expected behaviour
It is possible to delete o unshare the federated folder accepted

### Actual behaviour
Not is possible to delete o unshare the federated folder accepted

### Server configuration
{"installed":true,"maintenance":false,"version":"8.2.2.2","vers

[2016-02-17 18:32] nasli opened #22484 "The "path" parameter returned by share api for federated sharing is not the full path"
### Steps to reproduce
1.User A share a folder with files to user B in other server
2.User B in the other server share this folder with user C in the same server
3.user C share a file inside this folder

### Expected behaviour
The share api return
file_target has the filename: image.gif and path has the full path: /folder/image.gif
`<file_target>/image.gif</file_target>`
`<path>/folder/image.gif</

[2016-02-17 18:33] oparoz commented on #22480
@PVince81 - Just tested 8.2.2 and it's working fine.

[2016-02-17 18:35] oparoz commented on #22480
Correction, it's also broken on 8.2.2

[2016-02-17 18:39] koenrh opened #22485 "test"
### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration
**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**ownCloud version:** (see ownCloud admin page)

**Updated from an older ownCloud or fresh install:**

**Signing status (ownCloud 9.0 and above):**

[code]

**List of

[2016-02-17 18:39] #22485 closed

[2016-02-17 18:44] jancborchardt commented on #11707
Well – this should simply result in that person unsharing the share from themselves, right? Not in deleting all the files.

[2016-02-17 18:45] jancborchardt commented on #14943
So – do we want this or close? @karlitschek?

[2016-02-17 18:47] guruz commented on #11707
Not if the student is fast enough with deleting before the professor sets R-only.

I still think it is a security issue.

[2016-02-17 18:51] MTRichards commented on #6760
I would consider this a good use case for a virtual filesystem, so I wouldn't close the issue - but not sure how to handle long term conversations of this kind.

@karlitschek @dragotin @danimo

[2016-02-17 18:51] PVince81 opened #22486 "Add pull_request_template.md file"
Seems that it's supposed to work, see https://github.com/dear-github/dear-github/issues/125#issuecomment-185326859

So let's use this shiny new feature :smile:

Any suggestions what to put in ?

I'd suggest something like:

[code]

Should we add a note about the review process or checkboxes ?
For example:
- [ ] reviewed by at least two people
- [ ] contains unit tests
- [ ] passes CI

@karlitschek

[2016-02-17 18:53] jancborchardt commented on #22486
Yep, sounds good! I would maybe add: Descriptive title, not only reference to issue ID

[2016-02-17 18:56] rullzer commented on #22467
Ok I think I found out why this happens. Basically it is the avatar code at fault. But other stuff happens as well..

When the webUI authenticates by session in the ldap setup we request the avatar manager. And the avatar manager needs the rootFolder. This tries to setup the whole fs. Since we know the user it tries to do this for the user as well. However at this point the ldap backend is not yet

[2016-02-17 18:56] PVince81 commented on #22483
@rullzer @schiesbn

[2016-02-17 18:57] PVince81 commented on #22484
@schiesbn @rullzer please evaluate severity

@nasli do you know if this is a regression ?

[2016-02-17 18:59] rullzer commented on #22467
@icewind1991 basically getRootFolder setups the fs for the currently logged in user. I would assume that would happen in getUserFolder actually.

[2016-02-17 19:08] LukasReschke commented on #22486
:+1:

[2016-02-17 19:15] LukasReschke commented on #11707
:+1:

[2016-02-17 19:16] LukasReschke commented on #22486
We can also use hidden text there, see https://github.com/owncloud/core/pull/22487 for an example :smile:

[2016-02-17 19:20] rullzer commented on #22449
I can't reproduce this on master. I also find it very weird they both disappear. As they get the info from different sources.

@nasli are you testing master or the beta1?

[2016-02-17 19:31] cmonteroluque commented on #11797
@butonic good point. Moving it to 9.1 (for now, it might need a faster outcome)

[2016-02-17 19:33] butonic commented on #10077
only the elastic search based one for ee because it can search in shared files. but it has never been in production AFAIK. so needs an update and thorough testing.

[2016-02-17 19:33] RealRancor commented on #10554
Can be closed now as the issue template is now "preloaded" into a new issue: https://github.com/dear-github/dear-github/issues/125

[2016-02-17 19:33] #10554 closed

[2016-02-17 19:35] cmonteroluque commented on #17166
@rullzer please don't move the milestone :). But yes, I will keep it where it is now

[2016-02-17 19:35] oparoz commented on #22486
I don't think "passes CI" is necessary since there is a big block just for that at the end of the conversation.
Regarding tests, all PRs should include tests, so I don't think it should be mentioned.
And the "reviewed" checkbox I think is replaced by the "to release" label used as soon as the number of thumbs up has been reached.

But, a TODO section would be useful. In there, there can be a check

[2016-02-17 19:36] cmonteroluque commented on #19376
since it's a but, let's see how good we feel for 9.0.1, for now

[2016-02-17 19:38] jancborchardt commented on #22233
@PVince81 talked with @karlitschek about this again. These tags are only visible when a tagged file is shared though, right? And I think then it can be expected that the tag belonging to the file is also visible to other people.

[2016-02-17 19:43] cmonteroluque commented on #16267
@PVince81 thanks

[2016-02-17 19:44] rullzer commented on #22122
Ok I had a look into older owncloud versions. 8.2 and 8.1 both do not set reshare permissions in the webUI.

8.1: https://github.com/owncloud/core/blob/stable8.1/core/js/share.js#L498
8.2: https://github.com/owncloud/core/blob/stable8.2/core/js/shareitemmodel.js#L230
master: https://github.com/owncloud/core/blob/master/core/js/shareitemmodel.js#L158

So there is no behavior change actually.

The b

[2016-02-17 19:49] karlitschek commented on #6760
Agreed. This is something for the virtual filesystem

[2016-02-17 19:54] urbenlegend commented on #22011
Here's one example upload: /tmp/systemd-private-cd35d18c66a1405abbb96bf4631c0292-httpd.service-5OyEA4/tmp/phpEAG5yY

[2016-02-17 19:56] #14943 closed

[2016-02-17 19:59] jancborchardt opened #22488 "Clicking detail action when the file is already open should not reload the sidebar"
1. Sidebar for file is already open
2. Click the detail action again (or the area in the row which would trigger the sidebar)

Expected: Nothing happens.

What happens: There’s a reload of the sidebar content, which is quite confusing.

Similarly:
When the sharing tab is open, pressing Details should result in the »Activities« tab being opened. However, without reloading the whole content of the s

[2016-02-17 20:06] stevenbuehner commented on #20564
@athorel-asi
Thanks. I was hoping to find a solution that won't need any core-modification (because we use linux upgrade-system). But still this patch helps me to at least keep on working. So, thank you.

[2016-02-17 21:16] nickvergessen commented on #22486
Id add documentation as well to the list, either requires change, requires new documentation or nothing.
But it helps to remember the docs topic

[2016-02-17 21:17] MTRichards commented on #22122
@rullzer yep - this was the issue I mentioned.

Agreed, uniformity is the goal in the short term.
web = desktop = mobile

In the long term, we will need to implement some form of sharing permissions attribute among federated servers, because seamless is the goal - and if one kind of sharing is different than another, it will create problems as you get more and more federated shares.

For now thoug

[2016-02-17 21:33] carlospea commented on #22191
i'm using OC 7 too, i'll reply in same places

[2016-02-17 21:38] cmonteroluque commented on #20329
@MorrisJobke will be looking into something quick

[2016-02-17 21:53] blackcrack commented on #6773
mimetypeicons into an /theme/mimetype/*.png folder
and the Design icon/pictures into the single /theme/style-icons.css file

for hold all clean apart .. and it is able for use different icon themes with an style-icons.css

where it is maybe in the
/theme/my-theme-folder/style-icons.css
and
/theme/my-theme-folder/mythemeicons/

easy downloadable and put it easy in the themefolder where it is create

[2016-02-17 23:06] LukasReschke commented on #19862
3rdparty at https://github.com/owncloud/3rdparty/pull/250
core at https://github.com/owncloud/core/pull/22489

[2016-02-17 23:59] rcaia commented on #21203
Modified hsm-berlin's fix to ::

**#body-public** #content {
height: initial;
min-height: calc(100vh - 120px);
**overflow: visible;**
}
footer .info {
display: none;
}

Otherwise body-user pages end up with double scroll bars...

[2016-02-18 01:17] jospoortvliet commented on #22339
https://github.com/owncloud/owncloud.org/pull/864 fixes this.

I have only VERY SLOW internet connection in the evening. I will try to merge and deploy but if it doesn't work (couldn't even do git push this afternoon) anybody should feel free to help out :D

[2016-02-18 01:17] #22339 closed

[2016-02-18 07:21] prankkiss opened #22492 "test"
### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration
**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**ownCloud version:** (see ownCloud admin page)

**Updated from an older ownCloud or fresh install:**

**Signing status (ownCloud 9.0 and above):**

[code]

**List of

[2016-02-18 07:27] #22492 closed

[2016-02-18 07:50] nickvergessen commented on #22486
Btw as per help page, the files (issue_template, pull_request_template and contribution) can also be in a `.github` folder, so they don't clutter the root directory.

If we make sure packaging kills the file or folder this should be fine.

[2016-02-18 08:04] rullzer commented on #22483
Mmmm this seems to be a result of moving to webdav. Since we try to get the node for the folder. Which does not exists so we throw an error before we can do the actual delete....

[2016-02-18 08:07] nickvergessen commented on #15894
`ocs/v2.php` has only one difference to `ocs/v1.php`. It sends the APIs status code as HTTP status code, when it is between 2xx and 5xx, API 100 is converted to HTTP 200, and everything else gets HTTP 400.

In v1 the HTTP status code was always 200.

[2016-02-18 08:09] rullzer commented on #22483
Happens here https://github.com/owncloud/core/blob/master/apps/files_sharing/lib/external/storage.php#L258

@schiesbn can you have a look?

[2016-02-18 08:26] rullzer commented on #22467
PR in https://github.com/owncloud/core/pull/22493 .. let see.

[2016-02-18 08:30] rullzer commented on #15894
So there is some confusing with the API numbers... which is understandable (since it is not that clean)..

The OCS endpoint has two version. v1.php and v2.php. And as @nickvergessen points out there is just different status code stuff going on there.

However the OCS Share API has only 1 version so far. But you can use the OCS Share API v1 with both versions of the OCS endpoint.

[2016-02-18 08:36] nickvergessen commented on #22449
Okay maybe it's important that the folder also contains an item (at least that is what made it work for me)

https://raw.githubusercontent.com/nickvergessen/jubilant-succotash/master/sharing-info-vanishing.mp4

[2016-02-18 08:58] rullzer commented on #22484
Aaah the joy of federation resharing...

[2016-02-18 09:01] PVince81 commented on #22233
That's not 100% correct. If "user1" tags a private file with a tag "mystuff", then "user2" will also see "mystuff" in their tagging dropdown.
The tags are a global list, so the dropdown picks it from there.

[2016-02-18 09:05] PVince81 commented on #22011
This looks like the temporary file that PHP would create when uploading with the web UI.

Was this a web UI upload or Webdav upload ? Webdav shouldn't go there. Web UI does because we use POST for uploads.

You could try changing the value of "upload_tmp_dir" in your php.ini.

Now thinking of this, maybe there's a way for ownCloud to set this value programmatically to make PHP use the configured t

[2016-02-18 09:14] #21271 closed

[2016-02-18 09:14] #22393 closed

[2016-02-18 09:20] rullzer commented on #21798
Before any sharing we want to know the max permissions:
* If a file is read-only for us we can't share it read-write.
* If resharing is now allowed
* ....

We should have an endpoint that returns the proper permissions for a path. Combined with a specific share type.

- [ ] Add endpoint to request the max share permissions of a path for a specific type.

[2016-02-18 09:20] rullzer commented on #22122
I had a chat with @schiesbn about this.

Basically the webUI did not (and does not currently) allow setting of reshare permssions on federated shares. Is because we don't check them on the receiving instance. This is because it is actually a webdav mount on the receiving server and the initating server has no control weather that mount is shared with others again.

@MTRichards we fully agree that

[2016-02-18 09:24] javiergonzper commented on #22122
@rullzer so on the mobile we have to do the same. Hardcoded the behaviour as the Web UI.

[2016-02-18 09:27] PVince81 commented on #22122
@rullzer did you check whether the "oc:permissions" Webdav property of the root of the fed share contains anything regarding reshare permissions ?

[2016-02-18 09:29] rullzer commented on #22122
@javiergonzper: @schiesbn suggested an approach that actually makes more sense to me. We should show both. 'can edit' and 'can share'. But make the 'can share' always checked and not editable. Since that is the actual situation.

[2016-02-18 09:29] rullzer commented on #22122
@PVince81 I did not (will do)... but that still does not give you any guarantee that your data won't be reshared

[2016-02-18 09:31] PVince81 commented on #22122
Yes, this is not a guarantee. It is just a "suggestion" for the target server to not show the sharing options in the various UIs

[2016-02-18 09:42] davitol commented on #21074
@PVince81 Yes, just tested. The files are deleted from SMB backend, but I have also tested with my pal @SergioBertolinSG and in his SMB with oC the deletion does not happen. :astonished:

[2016-02-18 09:50] SergioBertolinSG commented on #21074
Hi, I have reproduced it now with my instance as well.

The first time there were some encrypted files there which couldn't be deleted by oC so perhaps that saved the rest files for being deleted.

[2016-02-18 09:50] SergioBertolinSG commented on #21074
Raising this to critical since there is data loss.

[2016-02-18 09:54] nickvergessen opened #22494 "Testing html comments together with the search"
na07rgbl1MYioB78V5QL

### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration
**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**ownCloud version:** (see ownCloud admin page)

**Updated from an older ownCloud or fresh install:**

**Signing status (ownCloud 9.0 and above):

[2016-02-18 09:55] nickvergessen commented on #22494
Result: HTML comments are matched by the search functionality

[2016-02-18 09:55] #22494 closed

[2016-02-18 09:57] nickvergessen commented on #22488
Well then the user needs to do a hard page reload to load new comments, shares, activities, ...
Because there is no way to refresh the infos?

[2016-02-18 10:09] PVince81 commented on #22122
Had a chat with @rperezb @nasli @javiergonzper @schiesbn and @rullzer, here is the summary:

#### Permissions sent:
- share from OCA to OCB sends the permissions "1" for read-only and "7" for edit (there are no share permissions sent there). This is the case for 8.2.2 and 9.0 in the web GUI.
- all clients must send the same permissions regardless of OC versions for now (1 or 7)

#### Target server

[2016-02-18 10:09] nickvergessen commented on #20908
Also think about accidently deletion of a folder...
Currently you can quickly restore it from the trashbin, and all the thousand shares are still there.

[2016-02-18 10:11] PVince81 commented on #22122
@rperezb can you post a reference to the client tickets ?

[2016-02-18 10:15] PVince81 opened #22495 "Prevent resharing fed shares, add "can share" permission"
See https://github.com/owncloud/core/issues/22122#issuecomment-185637344

Currently the target server of a federated share always allows resharing.
This was by design so far, because reshare prevention cannot be enforced/guaranteed since someone could patch their servers to still allow it.

Still, we can make the target OC server respect the suggested permissions by not showing the reshare options

[2016-02-18 10:16] PVince81 commented on #22122
Raised https://github.com/owncloud/core/issues/22495 for 9.1 to consider preventing reshares if the source fed share said it wishes that.

[2016-02-18 10:18] #22394 closed

[2016-02-18 10:22] #19862 closed

[2016-02-18 10:24] PVince81 commented on #22122
@rullzer is investigating the regression

[2016-02-18 10:26] dragotin commented on #18716
Just for the record:

So far, the client **never** asks for the checksum in PROPFINDs. As a result, the checksum is never returned in a PROPFIND result and thus does not need to be read from database for the normal PROPFIND usecase.

For the current functionality, the  client does not need the content checksum at all. So far we agreed to only use the checksum for transportation verification. For t

[2016-02-18 10:26] DeepDiver1975 commented on #7034
has impact on desktop and mobile clients as well

[2016-02-18 10:35] nickvergessen commented on #20908
Closing as per #22434 and after talking to @rullzer who agreed, that this is all we can do atm

[2016-02-18 10:35] #20908 closed

[2016-02-18 10:38] cdamken commented on #22450
@VicDeo
Sure:

[code]

[code]

[2016-02-18 10:44] PVince81 commented on #22483
One step is missing: User A must delete the folder from the trash bin.
Else the share info still exists.

However even in this case, User B still sees the folder. Navigating into the folder must make it disappear.

The bug is that Server A must return `StorageInvalid` not `StorageNotAvailable`

[2016-02-18 10:45] PVince81 commented on #22483
Actually, no. The shareinfo.php call must tell that the share is gone.

[2016-02-18 10:48] PVince81 commented on #22483
Okay, I think I got it, the share entry still exists:
[code]

Now let's run cron to clean it up...

[2016-02-18 10:51] PVince81 commented on #22483
And POOF the share entry is gone.

And yet... User B still cannot get rid of it.

Steps so far:

1. User 1 shares folder "test" with User 2 with fed sharing
1. User 2 accepts the share
1. User 1 deletes the folder "test"
1. User 1 empties trashbin
1. System runs cron.php to make sure the share gets cleant up (invalid file id)
1. User 2 enters folder "test"

Actual: The folder is still there "stora

[2016-02-18 11:00] PVince81 commented on #22483
Fix is here https://github.com/owncloud/core/pull/22498

[2016-02-18 11:09] ziotibia81 opened #22499 "Announce support for setting the lastmodified in DAV header"
Hello,
in lasts version of ownclode there was some different ways to set mtime of file using propatch
(issue #15850 , #19737 ). So could be nice to annunce to DAV client support for setting the lastmodified in DAV header (dav: 1, 3, extended-mkcol) or another custom header.

[2016-02-18 11:26] rperezb opened #22500 "[oc 9] Reshare not allowed on a fed shared data"
### Enviroment
2 servers with the version: ownCloud 9.0 beta 1 (daily) Build:2016-02-18T04:41:04+00:00 4422f9c9ef755ef44385a2ed9e0c42f7d1c459d5

### Steps to reproduce
1. Server1 being logged in as admin, select to share with admin@server2 a folder with "can edit enable"
2. access to admin @ server 2
3. You get a notification about the fed sharing accept it
4. Click on the share icon on the fed sh

[2016-02-18 11:33] rperezb commented on #22122
- [ ] Client: https://github.com/owncloud/client/issues/4481
- [ ] iOS: https://github.com/owncloud/ios/issues/543
- [ ] Android: https://github.com/owncloud/android/issues/1376

[2016-02-18 11:33] rperezb commented on #22500
Related to: https://github.com/owncloud/core/issues/22122

[2016-02-18 11:48] PVince81 opened #22501 "backgroundScan must ignore root storage"
The `Scanner::backgroundScan` routine retrieves ALL mounts of the current user and rescans them.

It doesn't make sense to scan the root storage (data dir) in this case so it must be excluded.
This has resulted in issues in some envs where it would also scan all user's homes and store them in the root storage.

Additionally, we might also want to exclude the user's home storage and limit the scann

[2016-02-18 11:50] PVince81 commented on #22501
This only seems to happen if there are already entries that have a size of "-1" inside the root storage.
You need to upgrade from 8.0 where occ files:scan ran once to have a few entries there.

[2016-02-18 11:54] urbenlegend commented on #22011
This was a WebDAV upload using a mount in Nautilus.

I thought about changing upload_tmp_dir but there's no way to set it on a per site basis. It applies to my entire Apache server which is hosting two WordPress blogs as well and I don't want to change tmp dir for those.

[2016-02-18 11:56] rullzer commented on #22500
Ah I got it. This is actually due to the new resharing behaviour. And it not being implemented for federated shares yet... I think this should not be that hard to fix. I'll take care.

[2016-02-18 11:57] christianWilling commented on #22286
it is the same problem when using SMB/CIFS

[2016-02-18 12:06] bugsyb commented on #18716
Even if it is outside of this feature, it would be good to have
implemented checksum verification by client as an additional option on
top of ETags (or in parallel).

Dreaming further, it would be good to be able to sync differences within
files only (using rolling checksum window, similar to DropBox and rsync).

Regards,
David

On 2016-02-18 11:26, Klaas Freitag wrote:

[2016-02-18 12:10] DeepDiver1975 commented on #18716
After further discussion with @dragotin we will for now keep the current approach because it is simply enough for what we are trying to accomplish for 9.0

Even if storage backends can provide multiple checksums - the question is if we really need to store them in out database.

Assuming we once want to verify the checksums between owncloud and the storage system - I see no need in storing them be

[2016-02-18 12:11] schiesbn opened #22502 "Make decrypt-all work with the master key"
Currently the occ tool to decrypt all files doesn't work with the master key enabled.
The occ tool decrypt-all expects either the recovery key password or the user login password. Both is not needed, if the master key is enabled. We should just skip the password prompt in this case.

[2016-02-18 12:51] rullzer commented on #22500
PR in #22503

[2016-02-18 12:57] MTRichards commented on #22122
Ok.

[2016-02-18 12:59] rullzer commented on #22122
Regression fix is in #22503 so then resharing behaviour should be the same for as in 8.2 again.

[2016-02-18 13:04] LukasReschke commented on #22499
@DeepDiver1975 @dragotin @karlitschek Thoughts?

[2016-02-18 13:05] icewind1991 commented on #18359
9.0 will do things better but there is still room for improvements.

iirc 8.2 does about 2N + 2M +4 queries (N being the folder depth within the storage, M being the total folder depth)

master currently does 2N+4 queries per write for updating the cache

I think I can get it down to 4 queries at least

[2016-02-18 13:14] rullzer commented on #22448
@nasli could you verify if this is still the case? I can't reproduce this. For me this is not happening...

[2016-02-18 13:21] icewind1991 commented on #22460
No, the storage backend can't, the mount provider can

[2016-02-18 13:24] #22483 closed

[2016-02-18 13:27] Dianafg76 opened #22504 "[Federated Sharing] You can't edit the file"
### Expected behaviour
It should be able to edit.

### Actual behaviour
You can't edit the file
LOG with .TXT
[code]
LOG with .XLS
[code]
### Steps to reproduce
1. Go to Desktop client with user1(server1)
2. Create one file (e.g A11.txt)
3. Share with ownCloud this file with use2(server2)
![screen shot 2016-02-18 at 13 50 26](https://cloud.githubusercontent.com/assets/12032058/13143803/a7d4cde8-d6

[2016-02-18 13:29] jancborchardt commented on #22488
They aren’t refreshed on chaning the tab or via a heartbeat?

[2016-02-18 13:30] icewind1991 commented on #22460
Disabling sharing by default would lead to issues with all existing shares disappearing until sharing is re-enabled for the storage

[2016-02-18 13:32] rullzer commented on #22484
@nasli can you retest with https://github.com/owncloud/core/pull/22503 that seems to fix it here.

[2016-02-18 13:34] jancborchardt commented on #21203
@rcaia this was fixed meanwhile in 8.2. Or does this still happen for you? If so, please open a pull request with your fix. :)

[2016-02-18 13:37] PVince81 commented on #22286
@christianWilling are you seeing the exact same error messages in your logs ? Please post them.

I just saw this "stream does not support seeking" in the logs, could be related to https://github.com/icewind1991/Streams/issues/2

SMB + encryption works for me in v8.2.2. Uploaded an image in the web UI, downloaded it again. Image can be opened.

[2016-02-18 13:40] RealRancor commented on #21203
@jancborchardt https://github.com/owncloud/core/issues/20044 is open and still happens for IE

[2016-02-18 13:43] #21256 closed

[2016-02-18 13:45] PVince81 commented on #22460
Not really. "By default" means, it's disabled the first time the storage is created. At creation time, a storage doesn't have any shares on it.

[2016-02-18 13:46] schiesbn commented on #22504
This should be fixed with https://github.com/owncloud/core/pull/22444

[2016-02-18 13:48] PVince81 commented on #22499
It was always intended to be PROPPATCH on `lastmodified`. There was a version where it changed to `getlastmodified` but it was wrong as this property must be read-only as per webdav specs, so it was fixed to be the correct one again.

I wasn't aware that it was possible to advertise supported read-write properties in DAV headers ?

[2016-02-18 13:49] PVince81 commented on #22499
@ziotibia81 is that part of any standard ? If yes, then it's cool because it could help ownCloud detect if remote DAV storages support this or not, for https://github.com/owncloud/core/pull/16688#issuecomment-182371464

[2016-02-18 13:51] g4b0 opened #22505 "Certificate issue installing official bookmarks app"
1. On my brand new OC 8.2.2 I installed lot of apps (calendar, contacts, news, an so on)
2. When I try to install the official bookmarks app I get the following error: cURL error 60: SSL certificate problem: unable to get local issuer certificate
3. I copied the bookmarks folder in my 'app' directory, but nothing happens

### Server configuration
**Operating system**: Debian Jessie fully updated

[2016-02-18 13:52] PVince81 commented on #22502
Is this an easy fix for 9.0 ? Setting to 9.0 for now

[2016-02-18 14:10] PVince81 commented on #22119
I also discovered that cron.php for CalDAV also does this:
[code]

[2016-02-18 14:10] PVince81 commented on #22119
and copies the skeleton for all my 200+ LDAP users...

[2016-02-18 14:12] jnweiger commented on #22151
https://download.owncloud.org/download/repositories/nightly/
has a successful nightly build from yesterday with the old packaging code.

And
https://obs.int.owncloud.com/package/show/ce:nightly/owncloud
https://obs.int.owncloud.com/package/show/ce:nightly/owncloud-files

now represent the now packaging, it should hit the download mirror tomorrow moring.

It should be on the

[2016-02-18 14:16] rullzer commented on #22504
@Dianafg76 can you retest with #22444 ?

[2016-02-18 14:17] LukasReschke commented on #22505
Do you see any setup errors in the admin screen? Likely caused by an outdated cURL version which can't handle the redirects that the bookmarks app uses.

[2016-02-18 14:20] Dianafg76 commented on #22504
@rullzer @schiesbn is working now, thanks

[2016-02-18 14:22] g4b0 commented on #22505
The only error I can see is the one posted before: cURL error 60: SSL certificate problem: unable to get local issuer certificate

cURL is up to date in my system, here you are my versions:

[code]

[2016-02-18 14:28] nickvergessen commented on #22488
Not when changing the tab, and not all of them are in the tab section...

[2016-02-18 14:30] icewind1991 commented on #22463
@PVince81 can you get a blackfire trace of that request?

[2016-02-18 14:31] rullzer commented on #22119
This is because the ldap app want the avatar stuff. So hopefully also fixed with #22410

[2016-02-18 14:33] PVince81 commented on #22463
Will do. (long time no backfire :smile:)

[2016-02-18 14:41] MatthieuPERIN commented on #9530
:+1:

For me the usage is the following:

/projetcA           -> shared among all participant using group / user permission
/projetcA/work  -> shared among all participant using group / user permission
/projecta/team  -> shared among all participant using group / user permission
/projectA/admin -> **protected** folder with password for administrator of project
/projetcA/admin/finacial -> protected

[2016-02-18 14:42] icewind1991 commented on #22463
Possible fix: #22506

[2016-02-18 15:13] rullzer commented on #22455
Indeed also happens on 8.2.

This basically happens because we check for collison. But if the user never logged in yet there never is collision.

The feature is a bit broken anyway. since if the folder was first shared with `group1` and then a recipient moves it to `foo` and then it is shared with `group2` they would still see different shares.

@PVince81 I propose to tackle this properly when we

[2016-02-18 15:17] christianWilling commented on #22286
[code]

[2016-02-18 15:34] PVince81 commented on #22463
Without subfiles on S3/test.txt: https://blackfire.io/profiles/81e81c15-9a4c-444e-845e-60ff65cf90c8/graph

With subfiles: https://blackfire.io/profiles/30ae9153-5bc3-4c19-8d5f-1cd10e107477/graph

[2016-02-18 15:41] PVince81 commented on #22463
With subfiles with the fix from https://github.com/owncloud/core/pull/22506: https://blackfire.io/profiles/8263e1aa-127c-44aa-a996-370d56e5a402/graph (strangely the perf was even worse?!)

With subfiles (without fix) but commenting the `scan()` call from https://github.com/owncloud/core/issues/22463#issuecomment-185172365 : https://blackfire.io/profiles/c4926ba0-7a48-48fc-a56f-0483f2683b79/graph

[2016-02-18 15:42] PVince81 commented on #22463
(if the S3 storage had a stat cache it might be faster too, but I'm still wondering why we're going there that often in the first place)

[2016-02-18 15:44] #17230 closed

[2016-02-18 15:44] #22504 closed

[2016-02-18 15:46] #22467 closed

[2016-02-18 15:47] icewind1991 commented on #22463
Can you compare it with the scan commented out with and without the fix

[2016-02-18 15:50] icewind1991 commented on #22463
If it keeps calling scan then there is an issue unrelated to the share api

[2016-02-18 16:56] PVince81 commented on #22463
It seems blackfire has removed the compare option in the GUI :frowning:

[2016-02-18 17:06] PVince81 commented on #22463
Ah, found it, it's now on the profiles page.
Here is "master" with subfiles compared with the one with commented out scan: https://blackfire.io/profiles/compare/57af2896-feaa-4eba-b88c-f0a12cd264d7/graph

[2016-02-18 17:22] PVince81 commented on #18312
What to do with this in the context of 9.0 ?

[2016-02-18 17:23] PVince81 commented on #16445
Moving to 9.1

[2016-02-18 17:23] PVince81 commented on #16445
CC @cmonteroluque

[2016-02-18 17:25] PVince81 commented on #15176
We're past feature freeze, moving to 9.1. (this doesn't sound like something that can be fixed quickly)

[2016-02-18 17:26] PVince81 commented on #12228
https://github.com/owncloud/core/issues/5383 was moved to 9.1 and is likely to be helpful to solve this one here. Moving to 9.1 as well.

@cmonteroluque

[2016-02-18 17:26] PVince81 commented on #13493
Any update ? Or move to 9.1 ?

[2016-02-18 17:27] PVince81 commented on #11925
@LukasReschke also the handlebars situation was not solved.

Move to 9.1 ?

[2016-02-18 17:28] LukasReschke commented on #11925
Yes.

[2016-02-18 17:51] adamreed90 commented on #20555
Same issue on Ubuntu 15.10 and 8.2.2 running MySQL Server version: 5.6.28-0ubuntu0.15.10.1

[2016-02-18 17:57] PVince81 commented on #10788
We're past feature freeze, moving to 9.1.

Has there been a consensus yet regarding where to store that setting and its scope ?
- JS variable: cleared on refresh
- cookie / localStorage: only in the current browser
- oc_preferences: kept across sessions for the same user

[2016-02-18 18:01] PVince81 commented on #9429
We're past feature freeze, moving to 9.1.

Most items aren't trivial and cannot be done quickly.

The only one that might do is "highlight" after adding/accepting remote share, if you like you can put it in a separate ticket and set it to 9.0.1. (I have an idea how to do this)

[2016-02-18 18:02] PVince81 commented on #18312
Should the updater attempt to enable the apps one by one remotely (with occ commands) and then check whether they brick the server ? If they do, disable them again ? (how?)

Shorter question: is this something the updater app should do rather than the occ upgrade command ?

[2016-02-18 18:03] PVince81 commented on #18312
CC @VicDeo

[2016-02-18 18:09] VicDeo commented on #18312
@PVince81 as I see it `occ upgrade` should not be monolithic and try to do everything at once.

For 9.0 updater predisables all 3rdparty apps and reenables them after the core and shipped apps are ready.

But. In case there is no compatible version of app (e.g. we have a fresh major release) most of apps are potentially incompatible with target version (and core won't allow to reenable them)

[2016-02-18 18:22] LukasReschke opened #22507 "V2 DAV backend is not displaying file properties"
### Steps to reproduce
1. Upload a file
2. Call new WebDAV endpoint: `curl -i -s -k  -X 'PROPFIND' --data-binary $'<?xml version=\"1.0\"?>\x0d\x0a<d:propfind  xmlns:d=\"DAV:\" xmlns:oc=\"http://owncloud.org/ns\">\x0d\x0a  <d:prop>\x0d\x0a    <d:getlastmodified />\x0d\x0a    <d:getetag />\x0d\x0a    <d:getcontenttype />\x0d\x0a    <d:resourcetype />\x0d\x0a    <oc:fileid />\x0d\x0a    <oc:permissio

[2016-02-18 18:39] rullzer commented on #22507
Very strange... I get properly filled out oc:fileid etc here on master.

[2016-02-18 18:43] rullzer commented on #22507
Tested wrong endpoint... indeed the new dav endpoint does not handle this properly..

[2016-02-18 19:12] p5n opened #22508 "calendar migration skips ldap users"
### Steps to reproduce
Upgrade from 8.2.2 -> 9.0beta1 with ldap backend enabled
1. sudo -u http ./occ upgrade
2. LDAP user's calendars are missing however users from oc_users table are ok

### Expected behaviour
All calendars migrated

### Actual behaviour
Only local DB user's calendars migrated from calendar to calendar-rework

### Server configuration
**Operating system**: Arch Linux

**Web serv

[2016-02-18 19:13] DeepDiver1975 commented on #22508
@p5n Thanks a lot for testing this!

@blizzz @MorrisJobke yet another issue with user enumeration? ldap app no loaded on upgrade?

[2016-02-18 19:24] rcaia commented on #20044
I have no scroll bars for file lists on public links : ownCloud version 8.2.2, IE, Firefox, Chrome. I have my own theme so I edited styles.css in my theme folder...

Modified hsm-berlin's fix from item #21203 to ::

#body-public #content {
height: initial;
min-height: calc(100vh - 120px);
overflow: visible;
}
footer .info {
display: none;
}

This should fix it?  ... worked for me.

[2016-02-18 19:27] rcaia commented on #21203
I’ve added my comment below to item #20044<https://github.com/owncloud/core/issues/20044>
---
I have no scroll bars for file lists on public links : ownCloud version 8.2.2, IE, Firefox, Chrome. I have my own theme so I edited styles.css in my theme folder...
Modified hsm-berlin's fix from item #21203 to ::
#body-public #content {
height: initial;
min-height: calc(100vh - 120px);
overflow: visible;

[2016-02-18 19:27] rcaia commented on #21203
I’ve added my comment below to item #20044<https://github.com/owncloud/core/issues/20044>
---
I have no scroll bars for file lists on public links : ownCloud version 8.2.2, IE, Firefox, Chrome. I have my own theme so I edited styles.css in my theme folder...
Modified hsm-berlin's fix from item #21203 to ::
#body-public #content {
height: initial;
min-height: calc(100vh - 120px);
overflow: visible;

[2016-02-18 19:56] oparoz commented on #13493
AFAIK, preview is still an ajax endpoint and the preview system is still not using the AppFramework ,so best to move this to 9.1.

[2016-02-18 19:58] oparoz commented on #10788
The last option seems to be the best one and even though it's not part of a public API, it's still something that apps can use.

[2016-02-18 20:20] oparoz opened #22510 "On some platforms, an admin does not get the correct file permissions"
### Steps to reproduce
1. Open your ownCloud on a rare BlackBerry 10 device
2. Log in as an admin
### Expected behaviour

I should be able to use the Files app and upload files, etc.
### Actual behaviour

I'm shown a message telling me that I don't have permission to upload or create files
As a side-effect, if you enable Gallery, the slideshow doesn't work properly because the files array doesn't

[2016-02-18 21:57] Henni commented on #20044
@MorrisJobke I'm currently working on contacts. I'll take a look when I have time, but it may take a while.

[2016-02-18 22:27] LukasReschke commented on #22367
Thanks @MorrisJobke :rocket:

There we go: https://github.com/owncloud/core/pull/22511

[2016-02-18 22:40] #22365 closed

[2016-02-18 23:22] LukasReschke opened #22512 "Regular users can create invisible or non-"userAssignable" tags"
`/remote.php/dav/systemtags/` allows regular users to create invisible or non-"userAssignable" tags. I assume this behaviour should be reserved for admins?

[code]

cc @PVince81 @karlitschek Expected behaviour or bug?

[2016-02-18 23:27] LukasReschke commented on #22512
(especially since only admins can delete such tags)

[2016-02-19 06:46] rullzer commented on #20420
I think we fixed this with moving the webUI to webdav. At least here it looks good.

@MorrisJobke can you verify?

[2016-02-19 07:13] GeorgSchmitz opened #22513 "Owncloud 8.2.2 doesn't work on Hoster 1und1.de (update and fresh install doesn't work) - 8.1.5 works fine!"
### Steps to reproduce
1. Extract the fresh owncloud-8.2.2 folder and put it on the 1und1.de webspace
2. Adjust 1und1 to use MySQL5.5 and create a new database
3. Set up PHP5.6 on 1und1
4. Access to the new website
5. Configure the admin pass and database
6. Click on the install button

### Expected behaviour
After setting up a new owncloud 8.2.2 or manual updating from 8.1.5 I expect a working ow

[2016-02-19 07:43] martinprikryl commented on #22499
http://www.webdav.org/specs/rfc4918.html#HEADER_DAV

For example the Apache mod_dav uses Coded-URL `<http://apache.org/dav/propset/fs/1>` to announce support for `executable` property:

    DAV: 1,2
    DAV: <http://apache.org/dav/propset/fs/1>

[2016-02-19 08:00] MorrisJobke commented on #20420
Yes - it is working:

<img width="310" alt="bildschirmfoto 2016-02-19 um 09 00 25" src="https://cloud.githubusercontent.com/assets/245432/13169631/4695480e-d6e7-11e5-9507-ff6ce301ea7a.png">

[2016-02-19 08:01] #20420 closed

[2016-02-19 08:13] #22368 closed

[2016-02-19 08:13] #9958 closed

[2016-02-19 08:16] ziotibia81 commented on #22499
@PVince81 I think that @martinprikryl 's commet is really quite exhaustive... ;-)

[2016-02-19 09:08] PVince81 commented on #22203
Closing as done. https://github.com/owncloud/core/pull/22349

[2016-02-19 09:08] #22203 closed

[2016-02-19 09:15] rperezb commented on #22500
:+1:

[2016-02-19 09:18] PVince81 commented on #22512
You're right, only admins should be able to create such.

I think the POST operation in the system tags plugin is missing a check...

[2016-02-19 09:19] PVince81 commented on #22499
That's cool, setting to 9.1.

[2016-02-19 09:20] PVince81 commented on #22499
I won't have time to look into this right now, but if you guys have an idea where to add this using the Sabre DAV APIs, please submit a pull request :smile:

[2016-02-19 09:21] PVince81 commented on #9958
The linked PR doesn't solve this issue.

However I'm leaving this closed in favor of the range request ticket https://github.com/owncloud/core/issues/22476

[2016-02-19 09:24] PVince81 commented on #22499
The best place to add this is likely to be the files plugin: https://github.com/owncloud/core/blob/v9.0.0beta2/apps/dav/lib/connector/sabre/filesplugin.php

However, I'm not sure what Sabre API to use from there to make.

[2016-02-19 09:27] rullzer commented on #14288
Since this is by design => close.

[2016-02-19 09:27] #14288 closed

[2016-02-19 09:28] nasli commented on #22500
:+1: Fixed via #22503

[2016-02-19 09:29] #22500 closed

[2016-02-19 09:30] nasli commented on #22484
@rullzer fixed via #22503 :)

[2016-02-19 09:30] #22484 closed

[2016-02-19 09:31] PVince81 commented on #22513
Thanks for the detailed report.

It looks like something went wrong during your update, many classes are not found ?

How did you update ? Did you use the updater app or did you delete the source code manually then extract the tarball there ?

So even a fresh install gives the errors about missing classes ?
Where did you download the tarball from ? (in case it's not an official source and is broke

[2016-02-19 09:31] rperezb opened #22514 "Beta 2 - Folders Documents and Photos are not included"
### Steps to reproduce
1. Login on oc

### Expected behaviour
Folders Documents and Photos are there

### Actual behaviour
These folders are not present

### Server configuration

**ownCloud version:** (see ownCloud admin page)
ownCloud 9.0.0 beta 2 (git)

[2016-02-19 09:32] martinprikryl commented on #22499
Override `ServerPlugin::getFeatures` to return something like `array("https://owncloud.org/dav/proppatch-lastmodified");`

See used of the method in [`CorePlugin::httpOptions`](https://github.com/fruux/sabre-dav/blob/6f7dfce310f3a873a71bcbddda5e1ec6740dc313/lib/DAV/CorePlugin.php#L210).

[2016-02-19 09:32] rperezb commented on #22514
cc @karlitschek  @cmonteroluque

[2016-02-19 09:33] nasli commented on #22448
:+1: Fixed via #22503

[2016-02-19 09:33] #22448 closed

[2016-02-19 09:33] PVince81 commented on #22508
@DeepDiver1975 when is that upgrade code running ?
If the LDAP app is loaded later then the user manager won't be available... this reminds me of that old issue: https://github.com/owncloud/core/pull/13865.

I thought it was solved already by making sure the user backend apps are loaded before the other ones at upgrade time ?

@blizzz

[2016-02-19 09:34] PVince81 commented on #22508
Setting to critical because it could be an issue with app update order

[2016-02-19 09:43] PVince81 commented on #22510
Weird. Since this is on master I'd have suspected that the Webdav PROPFIND request isn't done properly by the blackberry browser.

But then you said even gallery doesn't work, and that one doesn't use Webdav, does it ?

Would need debugging on the PHP side to see whether the requests are done properly by the browser.

[2016-02-19 09:45] PVince81 commented on #20481
@davitol this is what you observed yesterday

[2016-02-19 09:51] PVince81 commented on #21751
@schiesbn any update on this ?

[2016-02-19 09:58] rperezb commented on #22514
forget it...master branch...not expected. on the tar file they are there

[2016-02-19 09:58] #22514 closed

[2016-02-19 10:08] davitol commented on #20481
@PVince8  thanks :smiley_cat:

[2016-02-19 10:15] rullzer commented on #21728
@cmonteroluque moved to 8.2.3 after talking to @PVince81 since the issue is fixed on 9.0

[2016-02-19 10:33] LukasReschke commented on #22512
I'll take care of this as I'll also write authentication integration tests in style of https://github.com/owncloud/core/pull/22511

[2016-02-19 11:08] PVince81 commented on #19817
![cumulative-notifications](https://cloud.githubusercontent.com/assets/277525/13174030/62a9878e-d701-11e5-99c7-f678a4718203.png)

Seems we'd also need a "dismiss all" button somewhere.

[2016-02-19 11:11] PVince81 commented on #19817
@jancborchardt currently it only adds a close button if you pass `{type: 'error'}`, should we maybe always display the close button ? (temporary notifications still disappear after 7 seconds regardless of the button)

[2016-02-19 11:12] nickvergessen commented on #19817
We only use it for errors anyway, right?

[2016-02-19 11:17] PVince81 commented on #19817
PR is here https://github.com/owncloud/core/pull/22516 please try it out

[2016-02-19 11:18] PVince81 commented on #19817
So far the types of notifications I saw:
- update notification (a new update is available), that one is permanent and cannot be dismissed
- errors: upload errors, validation errors (wrong expiration date or such)
- undo: delete a user, it will notify and ask if you want to undo (7 seconds timeout)

Anything else ?

[2016-02-19 11:19] nickvergessen commented on #22513
It works for me and the error messages in your log make me assume that on upload some files were not uploaded correctly.

[2016-02-19 11:28] yavama opened #22517 "help !! pyOwncloud installation"
i've just installed pyOwncloud anc i've got this when runing oclient -h

root-DEBUG: ProgressBar not available
csync.csynclib.pre-DEBUG: Found ocsync at /usr/lib/libocsync.so.0
Traceback (most recent call last):
File "/usr/local/bin/oclient", line 9, in
load_entry_point('pyOwnCloud==0.4.pre', 'console_scripts', 'oclient')()
File "/usr/lib/python2.7/dist-packages/pkg_resources.py", line 337, in loa

[2016-02-19 11:31] DeepDiver1975 commented on #22517
please talk to the maintainer of this tool - https://github.com/csawyerYumaed/pyOwnCloud

[2016-02-19 11:31] #22517 closed

[2016-02-19 11:32] nickvergessen commented on #22508
user_ldap is after calendar in the alphabet...

[2016-02-19 11:33] #21750 closed

[2016-02-19 11:37] PVince81 commented on #21784
I can't reproduce this on master.

The mount provider for external storages is not registered since the app is not enabled, so it shouldn't even try and get those mounts. And if you enabled the app and disabled again, then tables should be created.

@DeepDiver1975 are you still observing this on master ?

[2016-02-19 11:40] PVince81 commented on #21784
This also works for me and delivers the list of apps:
[code]

[2016-02-19 11:44] PVince81 commented on #21074
When I try to rename "/smb" to "/smb_test" I see this in the log:
[code]

And indeed it deleted all files :scream:

I'll debug this. Since renaming such mount points is not allowed, it must not even go to the storage and deny it right away.

[2016-02-19 11:47] PVince81 commented on #21074
@icewind1991 the system-wide mount doesn't implement `MoveableMount`, so it attempts to call `moveFromStorage`. One idea would be to make it implement `MoveableMount` but also return `false` when calling `isTargetAllowed`.

[2016-02-19 11:50] PVince81 commented on #21074
The reason why the deletion happens is because it attempts a `moveFromStorage`. Then the encryption wrapper converts this to `copyBetweenStorage` (even though encryption is not enabled! @schiesbn) and then it deletes it. Basically it converts "rename" to "copy to target name then delete the source".

Several problems here:
- need to catch this situation much earlier and deny the rename
- why is `r

[2016-02-19 11:51] PVince81 commented on #21074
Ah, and the trashbin seems to also play a role...

[2016-02-19 12:06] PVince81 commented on #21074
Basic fix is here: https://github.com/owncloud/core/pull/22518

Will submit a separate PR for hardening

[2016-02-19 12:14] SergioBertolinSG opened #22519 "Performance regression on some propfinds requests."
Comparison between 8.2.2 server and current master 9.0 beta 1.

![performance_test_master backup csvresults_8 2 2_2016-02-17 17-00-25 csv](https://cloud.githubusercontent.com/assets/9048796/13175323/f30d3228-d709-11e5-8cb7-27ab89614338.png)

Tests do 10 iterations each.

Special regression on DiscoverySingleDirectoryJob

which requests:

[code]

[2016-02-19 12:15] PVince81 commented on #21074
Hardening PR: https://github.com/owncloud/core/pull/22520 (not required to fix this, best is https://github.com/owncloud/core/pull/22518)

[2016-02-19 12:17] PVince81 commented on #22519
This is suspicious. I don't see any valid reason why the discovery PROPFIND would need more time.

I suspect that there might be new Webdav plugins which logic kicks in even when not needed. (system tags, comments, tag reports, etc)

CC @icewind1991 @blizzz

[2016-02-19 12:33] #22346 closed

[2016-02-19 12:51] PVince81 opened #22522 "empty() is NOT your friend for strings"
Basically, `empty(0)` or `empty('0')` returns true...

[code]

And here with "name", probably less critical:

[code]

@icewind1991 @nickvergessen @DeepDiver1975 @LukasReschke @schiesbn @rullzer @blizzz

[2016-02-19 12:52] PVince81 commented on #22522
There might be more...

[2016-02-19 13:01] mtzanidakis opened #22523 "Can't change user's timezone. It's always set to 'Europe/Helsinki'"
Hi there,
I've noticed a weird thing on a fresh 8.2.2 installation. All users have the timezone set to 'Europe/Helsinki' in the database, on all apps.

I've tried to manually change the timezone in the 'core' appid in the 'oc_preferences' table, but after logging in as that user, the timezone is changed back to 'Europe/Helsinki', automatically. Is there a way to change the user's timezone from the

[2016-02-19 13:03] nasli opened #22524 "Locked folder after cancel an upload inside this folder"
### Steps to reproduce
1.Upload a file with Android mobile client to a folder A
2.Cancel the upload
3.Upload again the file
4.After the file has been uploaded successfully, try to delete the folder

### Steps to reproduce2
1.Upload a file with Android mobile client to a folder A
2.Wifi connection lost, upload stopped
3.Wifi available
4.After the file has been uploaded successfully, try to delete t

[2016-02-19 13:10] PVince81 commented on #19817
If this is not acceptable I suggest a popup alert dialog at the end of the transfer, that lists all failed files. Just like Dropbox and GDrive do.

[2016-02-19 13:22] nickvergessen commented on #22522
Maybe each maintainer should grep their source sections for usages?

[2016-02-19 13:23] PVince81 commented on #22522
Yeah, that's what this ticket is about :smile:

[2016-02-19 13:29] Xenopathic commented on #22522
As I've mentioned in many places, `empty()` is completely equivalent to checking a variable's boolean-ness, so `if(empty($foo))` is the same as `if(!$foo)`

[2016-02-19 13:44] #22507 closed

[2016-02-19 13:44] Tschaul commented on #19983
Just tried to reproduce, but failed. It logs to syslog without 'log_file' being set.

I running ubuntu 15.10 and used pip3/ocdev to setup my dev envirnoment.

Greetings!

[2016-02-19 13:45] MorrisJobke commented on #22524
cc @PVince81 @icewind1991

[2016-02-19 13:50] jesmrec opened #22525 "Federated Sharing: Removing source account, the sharees keep on viewing the shares"
### Steps to reproduce
1. UserA(serverA) shares "FileA" with UserB(serverB)
2. UserB accepts the share
3. UserA account is removed

### Expected behaviour
UserB has not anymore in his file list "FileA"

### Actual behaviour
UserB sees in its file list "FileA" although the share does not already exist anymore. UserB can neither open nor delete "FileA" (any action on the file can be performed)

###

[2016-02-19 13:51] Dianafg76 commented on #22525
It also happens on the desktop

[2016-02-19 13:53] PVince81 commented on #22519
@SergioBertolinSG are there any received shared folder inside the test folder for the discovery ? (just asking because it could also have some impact)

[2016-02-19 13:57] oparoz commented on #22510
I'll check the request

It's the slideshow, because the file IDs are missing, so the app doesn't know which files to download.

[2016-02-19 13:57] SergioBertolinSG commented on #22519
@PVince81 not sure right now.
@MorrisJobke perhaps knows.

[2016-02-19 14:00] jancborchardt commented on #22240
@PVince81 instead of having an empty view directly when you click the »Tags« entry in the sidebar, how about below that entry there’s a select2 dropdown? (That works even better when Tags is the last entry in the list.) Then as soon as you select a tag, the list gets filtered down.

Or would that be an entirely different view?

[2016-02-19 14:07] PVince81 commented on #22240
@jancborchardt do you mean that instead of requiring the user to type in something, open the dropdown directly with a list of all tags for easier selection ?

[2016-02-19 14:23] MorrisJobke commented on #22519
No. There is no sharing involved. Only plain file upload/download via webdav

[2016-02-19 14:37] PVince81 commented on #22233
Had a chat with @jancborchardt and @karlitschek and here is what we're going to do:
- rename "system tags" to "collaborative tags" in the UI (community part)
    - change placeholder of the dropdown on the top right
    - rename the app to "Collaborative Tags"
    - add a note in the app's description that providers should disable the app because the tags are visible for all users

[2016-02-19 14:46] jancborchardt commented on #22233
Yep – just a small thing, the app name should be »Collaborative tags«. We only capitalize the first letter. :)

[2016-02-19 15:06] #22119 closed

[2016-02-19 15:06] #21074 closed

[2016-02-19 15:12] MorrisJobke opened #22531 "Selection in files app broken"
* click on the whitespace beside a file/folder
* sidebar should open
* click on the whitespace of another file/folder
* expected: sidebar for that file/folder should open
* actual: action (download for file, browse for folder) is executed

Current master f867762

@PVince81 regression in the files app

[2016-02-19 15:18] PVince81 commented on #22531
Works for me on master f8677628d4ce9e47b1c7760291bb41d7d3cf6ed1

Were you in the "All files" list or another one ?
What did you do before these steps ? Did you select files with checkboxes or so ?

[2016-02-19 15:22] PVince81 commented on #22524
This is probably a stray lock. When the client aborts the connection, the PHP code might still be waiting for data, or it will fail with "Expected filesize XYZ got ABC". In such case I think we should already discard the lock.

[2016-02-19 15:25] MorrisJobke opened #22532 "Expose "file size pending" status via WebDAV"
* having a folder that has the file size not determined yet (in Web UI this is shown as pending)
* the PROPFIND returns a size of 0 for these folders (which is incorrect) - `<d:quota-used-bytes>0</d:quota-used-bytes>`
* the client then also shows 0 (which is correct)

Is it possible to expose this?

@PVince81 The current web UI in master shows correctly the "Pending" - how is that done?

Tested on

[2016-02-19 15:27] PVince81 commented on #22532
The "Pending" is when the size is -1.

The web UI is using the "oc:size" property: https://github.com/owncloud/core/blob/master/core/js/files/client.js#L272

[2016-02-19 15:58] MorrisJobke commented on #22532
I tested: this is available in 8.2.2 and master - so this is clearly a client issue: https://github.com/owncloud/client/issues/4491

[2016-02-19 15:58] #22532 closed

[2016-02-19 15:59] mmattel opened #22533 "8.2.2 Federated Sharing Problem"
### Steps to reproduce
1. Create a new local owncloud user, lets name it "test_user"
2. Logon as "test_user" once and logoff again
3. Enable as admin external storage support, federated sharing, and using external storage support for users
4. Try to share a file or folder to test_user

### Expected behaviour
test_user@domain.xx should be found and usable as sharee

### Actual behaviour
1. test_use

[2016-02-19 16:04] MorrisJobke opened #22534 "Feedback for characters that are not allowed on some platforms during creation"
Today I got a request to give the user feedback about not allowed characters on some platforms (like `:` which is fine on Linux but are not synced on Windows).

The idea is to somehow bring this up during creation time, to make spot this early.

I'm pretty unsure when and how this should happen: Showing it all the time could be annoying for users that know this limitation and are aware of it. On t

[2016-02-19 16:09] josh4trunks commented on #19983
@Tschaul what version of owncloud are you on? I'll see if i can reproduce right now on 8.2.2

[2016-02-19 16:15] rullzer commented on #21143
PR in #22535

[2016-02-19 16:18] josh4trunks commented on #19983
I can confirm syslog worked on my system without 'logfile' being set in 8.2.2. I'm going to close this bug =]

[2016-02-19 16:18] #19983 closed

[2016-02-19 16:31] JohnnyCalavera commented on #17012
Dear Wolfgang,

as a matter of fact I do think of Linux based environments - especially the Rockstor NAS OS (CentOS-based). Nonetheless the rclone approach would give us more options in terms of cloud service providers and since it is still actively developed there will be even more possibilities in the future.
So the owncloud app could end up being a rather simple one and it's code doesn't need t

[2016-02-19 16:37] rullzer commented on #22463
Mmmm it looks something is indeed not cached properly... disabling the canner saves a :hankey:-load of curl executions...

[2016-02-19 16:39] mmattel commented on #22533
If I do the same on my dev instance (ownCloud 9.0.0 beta 2 (git), master, updated some seconds ago), the spinner at the share recipient user@domain runs forwver, if I change the screen to eg "Administration", I get a webserver error logged:
[code]
[code]

[2016-02-19 16:40] Storycrafter commented on #17012
Does anyone have a development environment set up by chance and mind
throwing me a least-privilege login?  I want to get started, but haven't
found the time to properly set one up on top of other current priorities.
Otherwise, it may be another week or two before I can get to this.

Alternatively if anyone knows of an image I can put on a VPS or Virtualbox
to get a dev environment quicker, that'd

[2016-02-19 17:05] rullzer commented on #22182
I just checked... on 9.0 this is working correctly it seems.

[2016-02-19 17:06] rullzer commented on #22182
@MorrisJobke  @blizzz can you verify that it is also working for you...

I'll test on 8.2 now

[2016-02-19 17:08] Rankgel commented on #22191
why closed the replies, why dont accept the users still are in oc 7?

[2016-02-19 17:09] rullzer commented on #22182
Also works for me on a clean current 8.2

[2016-02-19 17:10] #22367 closed

[2016-02-19 17:11] rullzer commented on #22182
Even on a clean 8.2.2 all works fine....

@tigre-bleu could you try a clean install and see if you still observe the problem?

[2016-02-19 19:00] LukasReschke commented on #22512
Patch and integration tests are at https://github.com/owncloud/core/pull/22536

[2016-02-19 19:17] steve-s-71 opened #22537 "Trash bin auto deletion broken"
### Steps to reproduce
1. Delete file
2. Wait 7 Months
3. Still find it in Trash bin

### Expected behaviour
Trash bin auto deletion should delete files after 30 days (default) or what is configured in config.php

### Actual behaviour
There are many months old files in the Trash bin. If not manually deleted from the Trash bin, it seems they are hold for ever. As it stands, all user accounts are im

[2016-02-19 19:18] cdamken commented on #6773
@cmonteroluque A customer solution was expected since 8.1.1, at least we need a workaround for the 9.0, probably what @PVince81  mentioned:

[2016-02-19 19:23] LukasReschke commented on #22523
If you go to the login screen, open the developer console and execute:

[code]

What is the output? - I assume `Europe/Helsinki`? [This script does no geolocation and only finds the correct timezone](http://pellepim.bitbucket.org/jstz/). Since Helsinki and in Athens is both in the same timezone this is reported. Closing as potential expected behaviour. There is no way for an user to change the tim

[2016-02-19 19:23] #22523 closed

[2016-02-19 19:23] cdamken commented on #18922
@bboule This is related to https://github.com/owncloud/enterprise/issues/832#issuecomment-143771260 Shouldn't it have the same milestone?

[2016-02-19 20:45] cmonteroluque commented on #21728
@rullzer great, thanks

[2016-02-19 20:55] aspdye opened #22538 "Count Calendar and Contacts into Quota"
I think it would be a good Idea to count the users calendar and contacts into the Quota ;)
We could make this optional with an function in the config.php like this:

`'count_db_stuff_to_quota' => true`

It would be interesting to handle all user-stuff in Database like Bookmarks, News, ... from the 3rdparty-Apps also with the Quota.

[2016-02-19 21:39] RealRancor commented on #22538
*Please insert text here*

[2016-02-19 22:50] Domsen opened #22539 "Invalid private key for encryption app."
### Steps to reproduce
1. Activate the app "Default encryption module".
2. Enable the server-side encryption at settings/admin.
3. Logout, Login. The error message appears at the top.

### Expected behaviour
The encryption module should work fine.

### Actual behaviour
The encryption module does not work. Can't upload files. Can't update my private key. Don't know how. With SQLite it works fine. B

[2016-02-19 23:56] MorrisJobke commented on #22191
@rankgel
Because we as owncloud developers want to move forward. We don't have unlimited resources and need to stop supporting old versions at some point in time. For version 7 this is reached at nearly 2 years of support. We will maintain newer versions of ownCloud and invest time to keep them save for usage.

Feel free to maintain owncloud 7 yourself, but we will stop it, because we also just ha

[2016-02-19 23:58] MorrisJobke commented on #22191
@carlospea @mckaygerhard We highly encourage

[2016-02-19 23:58] #22191 closed

[2016-02-20 00:02] MorrisJobke commented on #22191
@carlospea @mckaygerhard We highly encourage you to upgrade to a newer version because owncloud 6 is not supported or maintained anymore eland the same will happen to owncloud 7 in may of this year. To guarantee that your instance is safe from any know security issue you should upgrade to answer version soon. Also the newer versions contain many fixes that will provide you a more performant access

[2016-02-20 05:20] rullzer commented on #6773
@cdamken yes that is what we are trying in https://github.com/owncloud/core/issues/22461. Seems to be doable but we need somebody with actual css knowledge to fix the displaying of the icons.

[2016-02-20 06:34] Bugsbane commented on #10788
Definitely the lady option. The other two provide an inconsistent experience for the user over time/devices.

[2016-02-20 06:39] rullzer commented on #22533
Are you by any chance using ssl? And if so a self signed certificate?

[2016-02-20 06:40] rullzer commented on #22539
@schiesbn

[2016-02-20 06:40] rullzer commented on #22539
Is there anything in your log files?

[2016-02-20 08:09] RealRancor commented on #22191
@MorrisJobke You don't need to discuss with that guys. They are also either one single person mckaygerhard (see https://github.com/snes9xgit/snes9x/issues/107) or otherwise related and just bumping issues of each other.

[2016-02-20 09:50] mmattel commented on #22533
I have disabled SSL and use TLS 1.x
The certificate is from Letsencrypt

[2016-02-20 10:50] aspdye opened #22540 "App Store shows no Apps"
### Steps to reproduce
1. Install BETA or DAILY BUILD
2. Click on "+ Apps" to activate some new apps (like Calendar-Rework)
3.

### Expected behavior
You should see the activated apps, the non-activated ones (and the categories of the App Store - not yet because it's a beta maybe)

### Actual behavior
You cannot see any apps. Also not the one you tried to install manually, or the ones already acti

[2016-02-20 13:13] Domsen commented on #22539
{"reqId":"YTQV+nvx+3AS8of5McSf","remoteAddr":"192.168.178.26","app":"no app in context","message":"Encryption module \"\" not found, file will be stored unencrypted (Default encryption module not loaded)","level":2,"time":"2016-02-20T13:00:12+00:00"}
{"reqId":"78VLmP2cG4Lsti9IdpS\/","remoteAddr":"192.168.178.26","app":"no app in context","message":"Encryption module \"\" not found, file will be st

[2016-02-20 22:12] tflidd commented on #22374
@jnweiger : New problems ;-)
1) I can update the owncloud-package any more:
[code]
apt doesn't update. So I removed owncloud, and reinstalled it, now I have `9.0~beta1-5.1 0`.

2) The version shown on the admin page `ownCloud 9.0 beta 1 (daily) Build:2016-02-17T04:42:01+00:00 c6b24573066cfc87b73b1b61b41032b8c5a406cf`
This build is older than beta2.

[2016-02-20 22:42] RealRancor commented on #22538
@aspdye Why do you think that it is a good idea to count maybe 2-5 MB contacts and calendar against the quota of a user?

[2016-02-21 10:11] lsmith77 commented on #18994
For the record I also ran into this issue.

I have open_basedir restrictions enabled but did allow ``/volume1/owncloud`` (aka the directory in which the files live) .. commenting the above noted code did fix things .. lets see if it does the reindex properly

[2016-02-21 11:26] xuhdev opened #22541 "user_ldap app: blank page if no "displayname" attribute is given"
### Steps to reproduce
Set up user_ldap. Also, set up an LDAP server such that uid, mail, cn, sn and userPassword are all given for each user, but make sure no displayname is given in the LDAP database. Now try to log in with the correct/incorrect password with a user.

### Expected behaviour
Log in successfully with the correct password, or log in fail with the incorrect password.

### Actual beh

[2016-02-21 11:27] xuhdev commented on #22541
Even the display name is not given, it's probably even better for server to always explicitly fail the login, or fall back the display name to something else, instead of giving a blank page.

[2016-02-21 12:05] alve89 opened #22542 "Get rid of case sensitive data"
Not sure if this belongs here or in /client (or to devel mailing list?):

We have an environment with multiple Window and Mac clients. Special problem:

All data are placed in a shared folder.

1. Person A created folder "Folder" and stuff in it (on Win)
2. Person B renamed "Folder" to "folder" (on Mac)

Syncing (regarding to owncloud/client#1348) stopped to prevent data loss. So we deleted all da

[2016-02-21 12:13] #22542 closed

[2016-02-21 14:35] irobin591 opened #22543 "Empty config.php after enabling maintenance-mode (full disk)"
### Steps to reproduce
1. Something to write on fs, like dd
2. Try to login (shouldnt work)
3. Set ownCloud via occ in maintenance-mode

### Expected behaviour
Error: Couldn't write config.php: Filesystem full or similar

### Actual behaviour
Jenkins derped and wrote a 400gb log. So the disk went full and i couldn't upload any data. As a reflex I enabled the maintenance-mode and after that, the co

[2016-02-21 15:31] Xenopathic commented on #22543
When you tried to set ownCloud into maintenance mode, it writes to config.php, but it can't since you've run out of disk space. Instead, you get an empty file.

Restore from backups.

[2016-02-21 17:37] oparoz commented on #22510
@PVince81 - I compared the PROPFIND response of a working config vs a non-working one and they're completely different...

### Working

[code]

### Not working

[code]

[2016-02-21 18:09] hubertu commented on #22505
Same problem here with oc 8.2.2, quite similar setup as described above.

[2016-02-21 18:15] lgg42 commented on #21173
Hello!! Another user here having the same problem. OC version: 8.2.1
My problem with thumbnail generation is also only with external storage (system folder like /media/pictures). On the web interface, everything works OK. On android, I've tried both, the official app 1.9.1 and Cirrus 1.0.2, and I don't get the thumbnail for external storage, only the placeholder icon.

But I've found out something

[2016-02-21 19:17] RealRancor commented on #22540
There where similar issues reported with memcached:

https://github.com/owncloud/core/issues/14185

But it seems you havn't enabled this?

[2016-02-21 21:48] MorrisJobke commented on #22531
Yes

Login :)

No. Only the above steps. Tested in Chrome and Safari. Also with todays master present.

@PVince81 Feel free to ping me tomorrow and we could have a screen share to test this together.

[2016-02-21 22:02] irobin591 commented on #22543
I thought about loading the file into RAM and don't overwrite it, if you can't.
But that wouldn't work because you would need to write the file in RAM over it, which wouldn't work, because the disk is full. My fault.

[2016-02-21 22:02] #22543 closed

[2016-02-21 22:06] habakuk007 opened #22544 "Updater tries to update from 7.0.12 to 8.2.1 but fails"
### Steps to reproduce
1. Run Owncloud 7.0.12
2. Use the integrated Updater
3. Owncloud is broken

### Expected behaviour
Updater should not try to upgrade if it is not possible to upgrade...

### Actual behaviour
Updater breaks owncloud

### Server configuration

**ownCloud version:** 7.0.12
**Updated from an older ownCloud or fresh install:** Update

[2016-02-21 22:11] mtzanidakis commented on #22523
Thanks for clearing this up, Lukas.

[2016-02-21 22:50] ogasser opened #22545 "Cannot create subfolders in folder shared by link"
When I share a folder by link and allow editing, only the upload icon is shown and there is no way to create a subfolder.

![2016-02-21-234435_1920x1080_scrot](https://cloud.githubusercontent.com/assets/2095178/13206006/c84a6e6e-d8f5-11e5-828e-7fa2abfb34d2.png)

Instead of the upload icon I would expect to see the plus button here just like in files.

[2016-02-22 03:12] Liwindo opened #22546 "Multithreading for sharing with encryption"
### Steps to reproduce
1. Have the encryption-app enabled.
2. Share a folder with a lot data inside with a group or a user.

### Expected behaviour
All CPU-Cores are used for the process.

### Actual behaviour
Only one CPU-Core is used.

### Server configuration
**Operating system:** Ubuntu 14.04.4

**Web server:** apache with nginx proxy

**Database:** mysqli

**PHP version:** 7.0.3

**ownCloud v

[2016-02-22 04:51] RealRancor commented on #22544
Duplicate of https://github.com/owncloud/appstore-issues/issues/4

[2016-02-22 06:12] DeepDiver1975 commented on #22546
Tbh: it is good to not consume all cores. In a multiuser environment one operation shall never use all resources.

[2016-02-22 06:12] #22546 closed

[2016-02-22 06:56] LukasReschke commented on #20044
@MorrisJobke Should we just remove the `overflow: hidden` to address this for now? I myself have no idea at all about CSS...

[2016-02-22 07:04] GeorgSchmitz commented on #22513
You are absolutely right!
I just downloaded a new file and tried it again, both works fine. Fresh install and manual update.
Sorry for bothering all of you. I really tried it several times. Most likely with a corrupted file.
Thank you very much for your help!

[2016-02-22 07:04] #22513 closed

[2016-02-22 07:06] MorrisJobke commented on #20044
But we then need to test for regressions... Maybe @oparoz or @jancborchardt has a nice idea

[2016-02-22 07:08] #22544 closed

[2016-02-22 07:34] PatelParas opened #22547 "[Suggestion] Use Swagger for Owncloud API Documentation"
Why don't we consider to use Swagger(http://swagger.io/)  Which is industry standard API documentation format? https://github.com/OAI/OpenAPI-Specification

Now a day's The Open API Initiative (OAI) was created by a consortium of forward-looking industry experts who recognize the immense value of standardizing on how REST APIs are described. As an open governance structure under the Linux Foundati

[2016-02-22 07:40] jknockaert commented on #19061
Seems like the use case I was defending here is now being advertised as a design feature of Encryption 2.0:

from: https://owncloud.com/box-keysafe-not-so-safe/

[2016-02-22 07:55] nickvergessen commented on #18922
@cdamken this is an overview ticket with things that could be implemented in little steps...

[2016-02-22 08:00] MorrisJobke commented on #20044
Fix is in https://github.com/owncloud/core/pull/22548

[2016-02-22 08:31] nasli opened #22550 "Unable to view the list of users"
### Steps to reproduce
1.Create server with today master https://github.com/owncloud/core/commit/8a8209796d4577644228121edc2231ae027217c7
2.Log in with admin user
3.Add an user

### Expected behaviour
View it is reloaded and you can see the new user

### Actual behaviour
Nothing happens, try to refresh browser and a loading appears forever, log out an log in again, go to users view and loading app