[2016-03-09 18:06] PVince81 commented on #21968
Let's see if there is a quickfix for 9.0.1. I don't want to risk changing the move/copy code logic for such a small corner case.

[2016-03-09 18:07] PVince81 commented on #21357
Let's keep this on 9.0.1 to investigate the "direct curl" approach.

[2016-03-09 18:07] BenS89 commented on #17468
Fixed for me in ownCloud 9.0

[2016-03-09 18:08] xshadow commented on #17613
The problem is that the Header is set twice:

First in the vhost file:

[code]
and a second time in owncloud/lib/private/response.php as @ckujau in https://github.com/owncloud/core/issues/17613#issuecomment-184931387 mentioned. Removing it from your vhost conf should do the trick. Because it is set as sane default in owncloud/lib/private/response.php .

[2016-03-09 18:08] PVince81 commented on #17468
@GJSchaller 8.2.3 is out, maybe more luck there ? :wink:
Some fixes from 9.0 were backported to 8.2.3.

[2016-03-09 18:12] GJSchaller commented on #17468
As soon as the updater finds it, I'll test it and report back.  Thank you!

[2016-03-09 18:26] rpelissi opened #23052 "Upgrade to 9 and a uiser got folder is not available (no files)"
### Steps to reproduce
1. Have lastest of the 8.x owncloud installed on centos 7 (updated), using ldap auth
2. User have files in the folders (some users looks like <user>.<name>)
3.Upgrade to 9 using manual method

### Expected behaviour
After the upgrade the files should be visible

### Actual behaviour
No files appear and I have a message on the top saying "Folder not available". If I connect u

[2016-03-09 18:27] PVince81 commented on #20304
@nickvergessen can you help @tomneedham moving this forward ?

[2016-03-09 18:29] PVince81 commented on #17144
@nickvergessen mind taking over ? If we find that we don't need a lock there then I'm fine dropping it, but we need to verify this.

[2016-03-09 18:30] rullzer commented on #23049
Can you see if https://github.com/owncloud/core/pull/23016 fixes the issue?

[2016-03-09 18:35] lukas-buergi opened #23053 "After idle logout prefill user name in login form"
When owncloud stays open for a long time in a browser window, the user is logged out.
When you reload the page or click a link to get to the login page, no matter whether you are an attacker or the owner of the account, you already know the account name: it's displayed in the top right corner. It's pretty unlikely the user wants to switch to another account in this scenario.

So I suggest prefilli

[2016-03-09 18:41] rullzer commented on #22978
@blizzz @oxivanisher do you get a 404 or a different error code? (in the transfer console)

[2016-03-09 18:42] cmonteroluque commented on #17107
re-open if necessary

[2016-03-09 18:42] #17107 closed

[2016-03-09 18:45] cmonteroluque commented on #18298
ok, re-open if necessary

[2016-03-09 18:45] #18298 closed

[2016-03-09 18:45] rullzer commented on #22978
@jmit79 that not permitted exception looks :fish:-y... Altough I have no clue where it comes from...

[2016-03-09 18:50] frafra opened #23054 "Files disappeared after upgrade, but still available under data/"
### Steps to reproduce
1. Upgrade from 8.2.1.4 to 9.0 as described in https://doc.owncloud.org/server/9.0/admin_manual/maintenance/manual_upgrade.html

### Expected behavior
Access to old datas.

### Actual behavior
No files or directory is showed.

### Server configuration
**Operating system**:
Distributor ID:	Debian
Description:	Debian GNU/Linux 5.0.8 (lenny)
Release:	5.0.8
Codename:	lenny

**We

[2016-03-09 18:51] rullzer commented on #23044
Ah yes. This is because we request the files via the OCS Share API there. However this does not contain the mimetype etc (of all the stuff we return for some reason the mimetype is not one fo them).

This is not a new bug in 9.0

[2016-03-09 19:00] atroxix commented on #23049
No, it didn't.

[2016-03-09 19:00] RealRancor commented on #23047
Ok, thats now described here: https://owncloud.org/blog/time-to-upgrade-to-owncloud-9-0/

I think its time to close here. :-)

[2016-03-09 19:06] rullzer commented on #23049
Can you post the output of

`curl -u <USER>:<PASS> http://<SERVER>/ocs/v2.php/apps/files_sharing/api/v1/shares`

`curl -u <USER>:<PASS> http://<SERVER>/ocs/v2.php/apps/files_sharing/api/v1/shares?share_with_me=true`

[2016-03-09 19:06] rullzer commented on #23049
O. and do you have federated shares?

[2016-03-09 19:08] BenS89 commented on #23044
That's interesting because this bug did not occur in 8.2.2

[2016-03-09 19:11] atroxix commented on #23049
As per the referenced bug report, I do have federated shares, but those are not working.

I wouldn't post the direct output of those commands, but the contents is the same one share that I already mentioned. Anything specific of interest from the output?

[2016-03-09 19:12] ownclouduser42 opened #23055 "After upgrade to 9.0.0, "search" box in text file editor is missing"
### Steps to reproduce
1. Upgrade from any 8.x version to 9.0
2. Create a text file
3. Click the text file to open the text editor
4. Observe the missing "search" box to search within the text file.

### Expected behaviour
When opening a text file to edit from the web interface, there should be a search box to find within the contents, since ownCloud is deliberately breaking the in-browser search

[2016-03-09 19:14] rullzer commented on #23049
Nah just if there would be more there...

Can you still see all the shares in your oc_share table?

[2016-03-09 19:14] rullzer commented on #23044
Ah my bad. I should look at a correct file...

[2016-03-09 19:15] rullzer commented on #23049
Ah yes. Let me fix this... PR incomming...

[2016-03-09 19:16] atasingorneq commented on #23054
Same problem here

[2016-03-09 19:16] gig13 commented on #18910
@MorrisJobke More information that I may have missed... or was discussed on the call

In addition to repeating the names of the people on the parent share over and over, it repeats their objectGUIDs (the owncloud internal username for an AD backed deployment) in the ajax request for searches. Normally that request includes the users who are already recipients of the share as well as those who are

[2016-03-09 19:17] atroxix commented on #23049
Yes, oc_share table seems to be populated OK.

[2016-03-09 19:19] gig13 commented on #22596
@bboule @MorrisJobke Any chance on testing this?

[2016-03-09 19:22] flenny commented on #22970
removing `RewriteRule .* index.php [PT,E=PATH_INFO:$1]` in my `.htaccess` did the job. i'm on ubuntu 15.10

[2016-03-09 19:29] rullzer commented on #23044
PR in #23056

[2016-03-09 19:39] kingfame commented on #23054
Same here. But my error mesage seems to be different:

`{"reqId":"VuB7EQoAAAIAAAAUHAwAAAAA","remoteAddr":"10.0.0.1","app":"PHP","message":"Class 'XMLReader' not found at \/data\/www\/cloud\/3rdparty\/sabre\/xml\/lib\/Reader.php#20","level":3,"time":"2016-03-09T19:35:45+00:00"}`

[2016-03-09 19:39] rullzer commented on #23049
And nothing in your logs?

What does
`SELECT * FROM oc_share WHERE uid_initiator IS NULL AND share_type <> 2;`
give you?

[2016-03-09 19:40] oparoz commented on #22987
I got hit by a similar bug.

A federated share on stable8.1 wasn't available any more (no idea if that was legitimate or not).
getstoragstats.php started to return 503s "Exception":"OCP\Files\StorageNotAvailableException".

and the big problem is that Files stops working properly, but still does kind of work.

* share ID is missing on row
* share dialogue says share cannot be reshared
* Thumbnails

[2016-03-09 19:41] thejabok commented on #23020
@DeepDiver1975 you're genius, thank you so much! This worked perfectly. Newbie-question: Is there a way to download the edited caldavbackend.php file from Github? I manually inserted the code in the file on my server and now owncloud code check complains because of wrong hash. Or should I just change the code back after successful upgrade?

[2016-03-09 19:41] oparoz commented on #22987
I'll open a new bug because I can make sharing break in a couple of clicks...

[2016-03-09 19:50] untitaker commented on #18409
Awesome, everything works.

[2016-03-09 19:50] #18409 closed

[2016-03-09 19:53] oparoz opened #23057 "How to kill a federated share on oC 9.0 in a few clicks"
### Steps to reproduce
1. Add a share located on an external server. I used an external ownCloud 8.1
2. Open the share
3. Click on New, select "Text file"
4. Type `.media`
5. Close the text editor
6. Rename the file to `.nomedia`

### Expected behaviour

The file should be renamed and I should be able to keep doing what I was doing

### Actual behaviour

* I get a yellow notification saying "Could

[2016-03-09 19:56] kramer65 commented on #1190
I would also really like to have this option. Just donated $20.

[2016-03-09 19:58] LukasReschke commented on #23057
PROPFIND on the root folder?

[2016-03-09 20:01] LukasReschke commented on #23020
@thejabok I'd suggest to live for now with the warning (it will only be visible for admins and will be gone with 9.0.1) or set `integrity.check.disabled` to `true` in `config.php`.

[2016-03-09 20:05] oparoz commented on #23057
Ah, yes, sorry, PROPFIND on systemtags

[2016-03-09 20:05] oparoz commented on #23057
Same for comments

[2016-03-09 20:09] LukasReschke commented on #23057
cc @PVince81 FYI

[2016-03-09 20:09] cooper-42 commented on #20750
Hi PVince81,
I have php5-libsmbclient and Samba 4.1.6 installed.
If it helps, here is the Errorlog:

Exception: {"Message":"Unknown error (22) for smb:\/\/obdn-s-fl01.obdn.local\/0_BIMM\/00000_b.i.m.m_CLOUD_R2015\/bimm_015_VORLAGEN\/300_000_005_Vorlage_CAD_Archiv_R2015.rte","Exception":"Icewind\\SMB\\Exception\\Exception","Code":22,"Trace":"#0 \/var\/www\/owncloud\/apps\/files_external\/3rdparty\/

[2016-03-09 20:13] oparoz commented on #23057
The MOVE is probably what triggers the problem. This is what it returns:

[code]

[2016-03-09 20:19] Andreacroci opened #23058 "Memcache exception error when upgrading from 8.2.2 to 9.0"
### Steps to reproduce
1. Try upgrading from OC 8.2.2 to 9.0 following these steps: https://doc.owncloud.org/server/9.0/admin_manual/maintenance/package_upgrade.html
2. Get to step "Run occ upgrade"

### Expected behaviour
Owncloud should upgrade to version 9.0

### Actual behaviour
I got these messages:

Set log level to debug
Checking whether the database schema can be updated (this can take a l

[2016-03-09 20:29] atroxix commented on #23049
Nothing in logs besides the federated share server not being reachable.

That SQL query gives an "empty set".

[2016-03-09 20:30] VicDeo commented on #22747
er, I wouldn't touch that with a 10 foot pole because it might kill kittens...
But there IS a way to speedup ALTER TABLE for MySQL.
Something like that
[code]

[2016-03-09 20:31] Sp1l opened #23059 "Calendar and Contacts app empty after upgrade to 9.0.0.19"
### Steps to reproduce
1. Working installation of 8.2.2 with Contacts and Calendar app
2. Upgrade ownCloud to 9.0.0.19
3. Upgrade database via Web-UI
3. Download new Calendar and Contacts app
4. Replace app/calendar and app/contacts with the new 9.0 versions
5. Enable Calendar app, update database via Web-UI
6. Enable Contacts app, update database via Web-UI

### Expected behaviour
All calendar an

[2016-03-09 20:33] cmonteroluque commented on #22336
@rperezb can someone in mobile have a look?

[2016-03-09 20:34] rullzer commented on #23049
Ok well it is good that set is empty... but still strange.

@LukasReschke is this similar behaviour to what you have observed with federated shares?

[2016-03-09 20:36] enoch85 commented on #22371
Actually, I don't know what to look for? Maybe @jnweiger can help on this?

[2016-03-09 20:37] binarykitchen commented on #21320
no idea, upgraded to v9

[2016-03-09 20:51] kingfame opened #23061 "upload_max_filesize not being read - php7"
### Steps to reproduce
1. Change "maximum upload size" on the admin page.
2. Exit the admin page
3. Reload the admin page --> The change is not shown

### Expected behaviour
The change of the maximum upload size should be visible.

### Actual behaviour
The default value of "2mb" is shown. The problem is that the .htaccess file is written with `<IfModule mod_php5.c>`, which will not be read by php7

[2016-03-09 20:55] LukasReschke commented on #22370
Can't quite tell. It's still on 8.2.2, apparently 9.0 is aimed for this weekend

[2016-03-09 20:55] kingfame commented on #23061
Sorry, seems to be a duplicate of this issue: https://github.com/owncloud/core/issues/21146

[2016-03-09 20:58] enoch85 commented on #22371
@oparoz Have you tried the latest VM?

[2016-03-09 21:06] aronovgj opened #23062 "Error PHP Undefined variable"
### Steps to reproduce
Roughly:
1. Have backup of oc 8.2.2
2. Remove /var/www/owncloud and replace by newer version
3. Upgrade
4. Fix permissions
5. Restore config.php from old version

### Expected behaviour
- No errors
- Apps work properly

### Actual behaviour
Every time I click on  "Files" I get the following two errors:
`Error 	PHP 	Undefined variable: logger at /var/www/owncloud/lib/private/

[2016-03-09 21:08] #21225 closed

[2016-03-09 21:14] cmonteroluque commented on #22347
@rperezb can you have someone in mobile have a look?

[2016-03-09 21:15] cmonteroluque commented on #22480
@rperezb

[2016-03-09 21:18] LukasReschke commented on #23051
cc @DeepDiver1975

[2016-03-09 21:20] h-2 commented on #13786
Hm, so is this fixed in owncloud 9 or any other version of owncloud? Or only upstream in sabredav?

[2016-03-09 21:20] LukasReschke commented on #23061
Yep :)

[2016-03-09 21:20] #23061 closed

[2016-03-09 21:21] LukasReschke commented on #23053
cc @owncloud/designers

[2016-03-09 21:22] #23047 closed

[2016-03-09 21:22] LukasReschke commented on #23015
@jnweiger

[2016-03-09 21:24] LukasReschke commented on #23045
Please reopen once more information is provided.

[2016-03-09 21:25] LukasReschke commented on #23055
Could you reopen at https://github.com/owncloud/files_texteditor/issues? THX :)

[2016-03-09 21:25] #23055 closed

[2016-03-09 21:25] danielreuther commented on #13786
Should be fixed in 9 -- up until now I only tested merging the fix into 8.2, though. Will re-test as soon as I had a chance to upgrade.

Although, while it seems to fix the extremely high I/O for HEAD requests (i.e. when Kodi is indexing media), I still have some (load-related?) problems playing files. Will look into this, too.

[2016-03-09 21:28] LukasReschke commented on #23052
This seems like another bug in `sharedstorage.php`

cc @icewind1991 @pv

[2016-03-09 21:28] h-2 commented on #13786
@danielreuther thanks a lot! +1

[2016-03-09 21:30] LukasReschke commented on #23054
@frafra Can you open your browers console and capture the request to `remote.php/webdav` when opening the files app?

The request and response would be very interesting. Thanks a lot.

[2016-03-09 21:47] TDannhauer opened #23066 "OC9: public share with allowed upload and password protection: endlees loading loop"
### Steps to reproduce
1. create empty directory in the web interface
2. Share directory with link, allow upload
3. Protect share with password 'abc'
4. enter share link in another browser

### Expected behaviour
Share content should be shown

### Actual behaviour
The share page ist shown, but immediately reloads the website - in an infinite loop.

#### IMPORTANT:  If you omit the password protect

[2016-03-09 21:48] LukasReschke commented on #23058
Error 3 seems to be `MEMCACHED_CONNECTION_FAILURE`, are you sure that your memcached server is accessible from CLI?

[2016-03-09 21:51] ketolajuha opened #23067 "OC9 and IE 11 - cannot create new folders in WebUI - MKCOL exception recorded"
Fresh Install of OC9, when logging in with Internet Explorer v11 - cannot create new folders through WebUI. I can create folders with EDGE, Firefox, Chrome browsers without problems.

_(See - reference to issue #22274 where EDGE browser was fixed)_

Setup in short (sorry short setup, but I believe the trail leads to same issue as referenced issue):
• Browser installed in OS win10 with latest patch

[2016-03-09 21:52] LukasReschke commented on #23059
@Sp1l Could you open your browers' network console when opening the contacts and calendar app and posting the request data as well as the response here? Thanks a lot.

Please remove all "cookies" and other sensitive data from the output :)

[2016-03-09 21:52] LukasReschke commented on #23059
cc @DeepDiver1975

[2016-03-09 21:53] LukasReschke commented on #23066
I cannot reproduce this locally here. Would it be possible for you to send me a link to such a share? Thanks a lot.

You can find my mail address in my profile.

[2016-03-09 21:54] LukasReschke commented on #23067
cc @owncloud/javascript

[2016-03-09 21:58] ownclouduser42 commented on #23055
@LukasReschke: moved to https://github.com/owncloud/files_texteditor/issues/169

[2016-03-09 22:02] Andreacroci commented on #23058
Hi Lukas,

thank you for your reply. You are right, I'm not at all sure the
memcached server is accessible: indeed it was not running at all. Sorry
for being such a newbie and not checking that before.

I re-did it and it went smoothly this time. I guess you may just go
ahead and mark the issue as closed, unless you want me to do it.

My apologies again for wasting your time and please keep up the

[2016-03-09 22:05] jnweiger commented on #22970
I've seen the weird behaviour (localhost/owncloud/index.html works, but not localhost/owncloud) in Debian8 before. no Idea what caused it there. All other platforms behave fine.

[2016-03-09 22:05] #23058 closed

[2016-03-09 22:10] TDannhauer commented on #23066
Hi,

email is sent.

One coniguration Detail added:

PHP is driven by PHP-FPM and mod_proxy_fcgi.

The apache VHost config is:

        # PHP5-FPM via mod_proxy_fcgi
        <FilesMatch \.php$>
            SetHandler "proxy:unix:/run/php5-fpm.torben-owncloud.sock|fcgi://localhost/"
        </FilesMatch>

        # Override PHP-FPMs plain error messages with Apaches standard error messages

[2016-03-09 22:10] globalcow commented on #23014
I had a similar problem. My installation is on shared webspace server. I had to remove 'Options -MultiViews' from the .htaccess file as my provider is not supporting Options directives in htaccess. Perhaps it is a similar problem for you.

[2016-03-09 22:12] LukasReschke commented on #23062
This looks strange https://github.com/owncloud/core/blob/fc18c0506afc85ccfda96c0a17e0616634952701/apps/files/ajax/scan.php#L50 passes `\OC::$server->getLogger()` which should work. Mhm…

[2016-03-09 22:12] jnweiger commented on #22371
@I am no longer following. It is git pull but also packaging, it is signing something and also vm.
so many contradictions. Where is a release channel seen?

[2016-03-09 22:14] cooper-42 commented on #20750
Some additional informations:
I can rename files and folders without a problem.

[2016-03-09 22:26] aronovgj commented on #23062
It is always possible that I misconfigured something. Or a package is missing. Those are the ones i have installed:

[code]

[2016-03-09 22:31] s24195 commented on #22968
Same here with me:

Doctrine\DBAL\Exception\TableExistsException: An exception occurred while executing 'CREATE TABLE `oc_addressbooks` (`id` BIGINT UNSIGNED AUTO_INCREMENT NOT NULL, `principaluri` VARCHAR(255) DEFAULT NULL, `displayname` VARCHAR(255) DEFAULT NULL, `uri` VARCHAR(255) DEFAULT NULL, `description` VARCHAR(255) DEFAULT NULL, `synctoken` INT UNSIGNED DEFAULT 1 NOT NULL, UNIQUE INDEX ad

[2016-03-09 22:35] binarykitchen opened #23068 "Bug in v9: Trying to get property of non-object at /var/www/owncloud/lib/private/log/owncloud.php"
### Steps to reproduce

Upgraded from v8.2 to v9
### Expected behaviour

I do not see any errors in the log under admin
### Actual behaviour

I see this error log

[code]

Furhtermore, at the top of the admin page, below the title `Security & setup warnings` I see:

[code]

and the list of invalid files are

[code]

Maybe it says something?
### Server configuration

[code]

[code]

Web server:

[c

[2016-03-09 22:37] binarykitchen commented on #23068
[code]

Probably not related to the `Trying to get property of non-object` error? But how can I fix this as well?

[2016-03-09 22:38] blizzz commented on #22978
nope, always 200

[2016-03-09 22:38] LukasReschke commented on #23068
That looks strange. https://github.com/owncloud/core/blob/b0174343023259a2b5ff252876be0a2e6c3d9276/lib/private/log/owncloud.php#L142. Can you share your owncloud.log with me? You can find my mail address in my profile.

Delete these files. They are not shipped with ownCloud and should not exist for that reason. Then press rescan :)

[2016-03-09 22:42] blizzz commented on #23023
Thanks for testing @FocusriteSFoster. The fix will be shipped with 9.0.1.

Thus closing this both as dup of #23028 and fixed by #22825

[2016-03-09 22:42] #23023 closed

[2016-03-09 22:43] carlaschroder commented on #22970
[code]

Same here.

[2016-03-09 22:43] binarykitchen commented on #23068
@LukasReschke emailed

[2016-03-09 22:45] binarykitchen commented on #23068
Furthermore, there is another bug:

[code]

But my owncloud directory is ` /var/www/owncloud`

It doesn't seem to respect the current directory of the applicaton.php file:

[code]

[2016-03-09 22:46] LukasReschke commented on #23068
@VicDeo

[2016-03-09 22:49] binarykitchen commented on #23068
Furthermore I think the integrity checker should ignore `update.log` because it is generated with the integrity checker

[2016-03-09 22:51] LukasReschke commented on #22970
Or apply the patch from https://github.com/owncloud/core/issues/22970#issuecomment-194316369 :wink:

[2016-03-09 22:53] VicDeo commented on #23068
@binarykitchen Could you please check if https://github.com/owncloud/updater/pull/271
fixes that ?
[code]

[2016-03-09 22:55] LukasReschke commented on #22976
Another report in the forum can be found at https://forum.owncloud.org/viewtopic.php?f=38&t=34198

[2016-03-09 22:56] binarykitchen commented on #23068
@VicDeo i installed owncloud via apt-get, not via git ... how can i apply that commit then?

[2016-03-09 22:58] frafra commented on #23054
Request payload:
[code]

Response:
[code]

Request method: PROPFIND
Status code: 400 Bad Request

[2016-03-09 22:59] corbindavenport commented on #22959
I just wanted to report that I got this same exact error with ownCloud on my Raspberry Pi 2 Model B. Here's the error if this will help at all:

`Doctrine\DBAL\Exception\TableExistsException: An exception occurred while executing 'CREATE TABLE "oc_addressbooks" ("id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT, "principaluri" VARCHAR(255) DEFAULT NULL, "displayname" VARCHAR(255) DEFAULT NULL, "uri"

[2016-03-09 22:59] LukasReschke commented on #23054
@PVince81 Any idea? That looks kinda bad.

[2016-03-09 23:00] VicDeo commented on #23068
[code]

[2016-03-09 23:04] binarykitchen commented on #23068
@VicDeo oh right... done that and it worked. but now, back to the main issue `trying to get property of non-object at /var/www/owncloud/lib/private/log/owncloud.php` ...

[2016-03-09 23:07] binarykitchen opened #23069 "v9 bug: Class 'OC_Calendar_App' not found"
### Steps to reproduce
Upgraded from v8.2 to v9

### Expected behaviour
I do not see any errors in the log under admin

### Actual behaviour
I see this error log

[code]

### Server configuration

[code]

[code]

Web server:

[code]

Database:

[code]

PHP version:

[code]

ownCloud version:

[code]

Updated from an older ownCloud or fresh install:
Fresh install via apt-get

[code]

The content of

[2016-03-09 23:08] LukasReschke commented on #23069
Duplicate of https://github.com/owncloud/tasks/issues/296 which also contains workarounds for now :)

[2016-03-09 23:08] #23069 closed

[2016-03-09 23:20] dathbe commented on #22970
I can confirm that the fix at #22970 (comment) works with two caveats:

1) changing only .htaccess (leaving setup.php alone) seems to do the trick.  I can't determine what the change to setup.php does.

2) the url now seems to include index.html everywhere; e.g., https://host.com/owncloud/index.php/apps/files/ .  So the site works, but the url is still a little wonky.

[2016-03-09 23:34] nerzhul commented on #22988
For me calendar are working properly, but yes contacts are broken with the same 404.
It's very anoying, i notice this after a phone wipe to resync all my contacts... :(
DB: pgsql 9.5, apache 2.4, PHP 5.4.19

[2016-03-09 23:49] reuterbal commented on #22988
I have the same problem with calendar and contacts sync via CalDAV/CardDAV since the update to OC 9.0. It seems to be related / restricted to LDAP-users:
```curl -u <ldap-user> -X PROPFIND https://owncloud.tld/remote.php/dav/calendars/<ldap-user>/```
produces an authentication error:

    <?xml version="1.0" encoding="utf-8"?>
    <d:error xmlns:d="DAV:" xmlns:s="http://sabredav.org/ns">
      <s:

[2016-03-09 23:50] karlitschek commented on #22708
hmm. not ideal. but a new property is a relatively small change

[2016-03-10 00:01] gig13 commented on #3988
@PVince81 @MorrisJobke

Question from a customer on the removal of xsendfile.

So far they haven't had any trouble with it on their dev system after upgrading to 8.2.2.  Do they need to remove it? Is it just a case of removing xsendfile stuff from the apache config and removing the module via yum?

[2016-03-10 00:03] nerzhul commented on #22988
I added Redirect /remote.php/dav/addressbooks/users /remote.php/carddav/addressbooks to my apache configuration to fix the endpoint issue

[2016-03-10 00:33] binarykitchen commented on #23068
@VicDeo @LukasReschke

Ah, found the problem. $line can sometimes be a pure string. In my case it was `"Another instance of cron.php is still running!"`

Recommend you to add additional check at that code.

[2016-03-10 00:47] oparoz opened #23070 "Conflict dialogue almost never gets the icons right..."
### Steps to reproduce
1. Upload a log file. The row shows the plain grey icon
2. Upload it again

You can try with an Excel file as well if you prefer colours
### Expected behaviour

The conflict dialogue should have the same image or icon for both sides
### Actual behaviour

The conflict dialogue doesn't have a preview for the existing file, on the right.

This URL is 404
`index.php/core/preview

[2016-03-10 00:53] jkroepke commented on #20963
Do you know when it will be fixed?

[2016-03-10 01:29] enoch85 commented on #20963
Depends on how busy @jnweiger is. I hope that this will get in 9.0.1.

[2016-03-10 01:32] enoch85 commented on #23046
Maybe this is related to the failing DAVDroid sync? What do you think @jancborchardt @georgehrke? It tries to sync birthdays - but this happens:

[code]

[2016-03-10 01:33] jkroepke commented on #20963
Thanks

[2016-03-10 01:49] tony5 commented on #17468
if you do not have any setup errors / warnings on the admin page make sure the users have an email address set in the personal section of the admin panel.

[2016-03-10 06:14] DeepDiver1975 commented on #3988
We don't send the required http headers to Apache and xsendfile isnot used as a result.
If installed or not makes zero diffetence

[2016-03-10 07:18] TDannhauer commented on #23066
Webserver Log while reloading loop happens:

<IP> - - [10/Mar/2016:08:14:46 +0100] "GET /apps/gallery/js/slideshowzoomablepreview.js?v=6e5cb6ec205f865c5042037cf964112b HTTP/1.1" 200 2527 "-" "Mozilla/5.0 (Windows NT 6.3; WOW64; rv:44.0) Gecko/20100101 Firefox/44.0"
<IP> - - [10/Mar/2016:08:14:46 +0100] "GET /apps/files/l10n/de.js?v=6e5cb6ec205f865c5042037cf964112b HTTP/1.1" 200 4073 "-" "Mozilla/5

[2016-03-10 07:25] #22970 closed

[2016-03-10 07:25] jancborchardt commented on #23053
Yeah, good call. As you say Google does it similarly. Prefilling the username is the easiest here.

@LukasReschke can you take care of it?

[2016-03-10 07:33] jancborchardt commented on #23053
(Also, the password field should then be focused of course.)

[2016-03-10 07:53] girvo commented on #17012
@Storycrafter I'm about to re-setup my OwnCloud instance and am looking at backends for storage, so I'm likely to use ACD. Do you mind contacting me via email? I can provide an API key/account details/dev env perhaps :)

[2016-03-10 07:56] MorrisJobke commented on #23067
@LukasReschke This is not a sev1 (data loss)

[2016-03-10 08:05] htwsaaraub commented on #23045
Please find the requested issue template above. If you need more information, please let me know.

[2016-03-10 08:17] rullzer commented on #23067
Mmmm you got to love MS... lets see if I can find a VM with IE11

[2016-03-10 08:24] olerichter commented on #23052
Hey I got the same error message, it goes away if you diable the shareing app, but i resolved it manualy by removing orphant shares from the database:

Server: Debian Testing 4.3.0-1-amd64
PHP: 5.6.17
Apache 2.4.18
Updated from 8.2 to 9.0

Server version 9.0.0.19 Debian Repository from owncloud.org

I have enabled:
LDAP
Share
External Storage
...

No encryption

**How I resolved it:**

For me the

[2016-03-10 08:26] Eridania commented on #22968
This also happened to me after upgrading 8.2.2 to 9.0 with Softalocous. "Server error 500".

Even after i restored the backup of the previous installation, the error persists. Do I need to wipe and restore a backup of the database?

[2016-03-10 08:33] stuba commented on #22741
We are testing OC for one of our customers and I find it scary that this feature just can drop off. Never to mention about System Administrator manual for 8.2, that just says "Using the Full-Text Search app is literally set-it-and-forget-it: all you do is enable it on your Apps page"..

Does this effect on Enterprise users as well?

[2016-03-10 08:35] blizzz commented on #22988
I tried to reproduce it yesterday with LDAP users, however without upgrading. Did not work. I give it a try with upgrading today.

[2016-03-10 08:36] Sp1l commented on #23059
Couldn't attach it, so [it is here](https://brnrd.eu/bsd/ownCloud_core-I23095.har.xz)

[2016-03-10 08:39] dataflake commented on #22988
FYI, since I could still access the calendars using the web interface I exported all of them, created a non-LDAP user and reimported them there. Now it all works. There's a definite issue with the user_ldap module.

[2016-03-10 08:47] Grot4x commented on #22988
But I have the same problem with old non-LDAP users which existed before the upgrade.
I can access the web interface but not dav. A new created user can access dav and web interface.

@dataflake If you create new LDAP users are they able to use dav?

[2016-03-10 08:51] dataflake commented on #22988
@Grot4x No, see comment https://github.com/owncloud/core/issues/22988#issuecomment-194272760

I also have a lingering suspicion that my username scheme (it's an email address) may cause problems, but that may be a totally separate issue. Sometimes I see the _@_ quoted as _%40_, and sometimes URLs contain the user's long UID instead of the login name.

[2016-03-10 08:56] olerichter opened #23072 "occ file:scan does not work for LDAP users"
### Steps to reproduce
1. Run "occ files:scan userid" of a ldap user after upgrade to 9.0

### Expected behaviour
the files system should be rescaned

### Actual behaviour
occ outputs for a user that has approx 360GB of files:
[code]
local users work fine.

### Server configuration
**Operating system**:
Debain Testing
**Web server:**
Apache 2.4.18
**Database:**
Mysql 5.6.28
**PHP version:**
5.6.17

[2016-03-10 08:57] Marcwa19197 commented on #22988
@Grot4x i got the same issue. but it dos not work for new created users too.. i was using it to access my calendar with my thunderbird client (lightning-plugin) after the upgrade, the calendars cant be "shared" via dav. even the "Caldav-link icon" is disappeared (https://doc.owncloud.org/server/9.0/user_manual/pim/calendar.html "Getting the Caldav-Link")

is there any working fix/workaround?

[2016-03-10 09:00] m4tz3 commented on #23059
same Problem here, no calendar and contacts any more...

[2016-03-10 09:01] misotolar commented on #22988
i can confirm that @dataflake with very similar setup (using regular logins, not email addresses), normal users can sync via lightning and davdroid but ldap users sync initially in lightining, but after a while the calendar become unavaliable. with davdroid (and ldap) i can add existing calendars, but never syncs.

in web server logs, PROPFIND on calendar returns 404 (but REPORT does ok):
[code]

[2016-03-10 09:01] ketolajuha commented on #23067
@rullzer Haha...me not loving it - just stumbled to this issue. But as the IE thingy is part of the newest Win10, I kinda figured this would be worthwhile to look into.

[2016-03-10 09:03] rullzer commented on #23067
Could not find IE11 on win10... but will check IE11 on win8.1 (https://dev.windows.com/en-us/microsoft-edge/tools/vms/linux/)

[2016-03-10 09:03] remixtj commented on #10552
Hello, I'm experiencing similar issue on 7.0.12. (I know, it's time to upgrade). I have 3 virtualhost serving 3 different owncloud installations, all at the same version. They arent sharing anything except the httpd: different virtualhost, different listening ports, different database, different data directory. But i keep getting errors in apache error.log regarding one of the other istances. (e.g

[2016-03-10 09:06] nickvergessen commented on #22959
That means delete all tables and then restore the backup.

Closing as such. If you update page hangs, you can not simply refresh, you need to reset atm.
Also when you are on a raspberrypi, you should have access to the console.
In which case `./occ upgrade` is the recommended way to update, to avoid timeouts.

[2016-03-10 09:06] #22959 closed

[2016-03-10 09:07] Grot4x commented on #22988
@Marcwa19197 My old and new users don't have the share button.
Is the "Primary CalDAV" working for you?

[2016-03-10 09:08] nickvergessen commented on #22968
That means delete all tables and then restore the backup.

The error message looks like you didn't remove tables that have been created on the first update attempt.

[2016-03-10 09:11] misotolar commented on #22988
@Grot4x, @Marcwa19197 I can see cardav link in tooltip on calendar's name

[2016-03-10 09:11] ketolajuha commented on #23067
@rullzer - It doesn't show up under "All Apps," but you can just use the Search box for finding it.

[2016-03-10 09:11] tuxayo commented on #20526
I only have one client for now (until July). So I can't try to reproduce that issue.
Furthermore, I have other more important issues of files refusing to sync so I don't think I'll take the time to help for this one until some time.

[2016-03-10 09:12] Marcwa19197 commented on #22988
@Grot4x no, it is not working in thunderbird, calendar seems to be "unavailable", all calendars viewed via my BlackBerry Passport ar not available anymore..

[2016-03-10 09:17] Grot4x commented on #22988
@Marcwa19197 Ok, and if you create a new user does it work for him?
Because so far it seems to work for new owncloud users but **not** for LDAP-users old/new and old owncloud users.

[2016-03-10 09:18] Marcwa19197 commented on #22988
@Grot4x no, for new users the same issue occures..

[2016-03-10 09:20] Grot4x commented on #22988
Well thats strange...

[2016-03-10 09:23] Marcwa19197 commented on #22988
even if i create a new user, he will have a "default-named" calendar and there are the icons for "renaming" and "Caldav-Link" missing too..
i upgraded from 8.2.2 to 9.0.0 with the .tar.gz file, but using the old config.php and old mysql-database.

[2016-03-10 09:24] johanehnberg opened #23073 "Integrity constraint violation: 1062 Duplicate entry for key 'lock_key_index'"
### Steps to reproduce
1. Add a large file on a desktop client (all desktop clients seem to trigger this), chunking may be key
2. OC starts syncing but fails seemingly by random about once for every 4 files of 100MB each, clients report error failed to sync and the file turns up in "Not Synced"
3. OC starts syncing again, this time usually succeeding and file disappears from "Not Synced"

### Expe

[2016-03-10 09:27] Grot4x commented on #22988
For my new user the button is missing but i can use dav over /remote.php/dav/

[2016-03-10 09:28] MorrisJobke commented on #23070
cc @butonic

[2016-03-10 09:28] Marcwa19197 commented on #22988
is your domain scheme like "domain.tld/remote.php/dav/"?
mine is like "domain.tld/cloud/remote.php/dav" i read something about "well-known URLS"? maybe that is the point?

[2016-03-10 09:30] nickvergessen commented on #22835
Master in https://github.com/owncloud/core/pull/23074
Backport in https://github.com/owncloud/core/pull/23075

[2016-03-10 09:33] MorrisJobke commented on #18910
This is the case in 9.0+ - or am I wrong @rullzer

[2016-03-10 09:33] MorrisJobke commented on #18910
Could we get some help from sharing people - @schiesbn @rullzer

[2016-03-10 09:34] MorrisJobke commented on #22747
Why should this be faster?

[2016-03-10 09:35] Grot4x commented on #22988
The URL scheme changed and it seems like the old URLs are not redirected to the new one so thats the first issue why your calendar is not working. In the settings of you calendar app you will find a url `domain.tld/cloud/remote.php/dav` which also seems not to work for old users.

But my new user can use this url. Could you try this for your new created user:

`curl -u $name -X PROPFIND https://do

[2016-03-10 09:36] MorrisJobke commented on #22596
I still don't have any Office version available.

[2016-03-10 09:40] Marcwa19197 commented on #22988
Response seems to be good, is it maybe a problem with thunderbird itself?
http://pastebin.com/jgnDQPq8

[2016-03-10 09:43] rullzer commented on #18910
The server pinging the database is awefull for performance and does not properly scale.

However what happens in 9.0 is that we just request matching sharees from the Sharee API endpoint. Then we filter out the people we already shared with client side.

In the future we want to make this even more responsive by using https://github.com/owncloud/core/issues/22438

[2016-03-10 09:45] misotolar commented on #22988
@Marcwa19197 in thunderbird i can sync regular user's calendars using this url:
`https://domain.tld/cloud/remote.php/dav/calendars/[username]/[calendar name]`

[2016-03-10 09:47] nickvergessen commented on #23072
The two issues from you log have been fixed for 9.0.1 already

One question, why do you want to run that command? Do you know what it does?

[2016-03-10 09:49] rullzer commented on #23054
@frafra what version of libxml2 are you running?

[2016-03-10 09:49] Marcwa19197 commented on #22988
@misotolar i tryed it with the newly created user "test" and a calendar called "test-cal" with following url:
`https://www.domain.de/cloud/remote.php/dav/calendars/test/test-cal/` in thunderbird the calendar seems to be "disabled/unavailable"..

[2016-03-10 09:50] beedaddy opened #23076 "memcached error - no activities are being shown"
### Steps to reproduce
1. Just go to the activities app

### Expected behaviour
Some activities should be shown.

### Actual behaviour
No activities are being shown. Instead, I get this error message in the log:
`Error 33 interacting with memcached : A BAD KEY WAS PROVIDED\\\/CHARACTERS OUT OF RANGE\`

### Server configuration
**Operating system**: Debian 8

**Web server:** Apache 2.4

**Database:

[2016-03-10 09:52] olerichter commented on #23072
sorry i searched before if there was an issue likr this, but apparently missed it.

I was debugging (only high level) an issue related to:
#22976
#23052

and wanted to see if the file not found exception originated from an not up to date filecache.

[2016-03-10 09:54] #19104 closed

[2016-03-10 09:55] misotolar commented on #22988
@Marcwa19197 you can see the calendar's caldav link on mouseover calendar's name in owncloud sidebar, is the same?

[2016-03-10 09:59] Marcwa19197 commented on #22988
@misotolar nope, it is like:
`https://www.domain.de/cloud/remote.php/davhp/dav/calendars/test/test-cal/`

a test with this URL and the command
`curl -u test -X PROPFIND https://www.domain.de/cloud/remote.php/davhp/dav/calendars/test/test-cal/`

returns an html site from owncloud which display
"App not installed: "

[2016-03-10 10:03] frafra commented on #23054
@rullzer libxml2 2.6.32 (x86_64)

[2016-03-10 10:03] misotolar commented on #22988
Strange, I don't know from where the `davhp` string comes but didn't seems to be correct...

[2016-03-10 10:04] rullzer commented on #23049
@atroxix if you disable federated sharing in the admin settings. Is everything back the way it should be?

If not could you send me a dump of your share table? (e-mail is in my profile).

[2016-03-10 10:05] cubical23 commented on #23072
I have a similar issue with local users. I upgraded my instances yesterday to 9.0.0.

If I do a files:scan for my (local not ldap) user, I get this:
Starting scan for user 1 out of 1 (XX)
+---------+-------+--------------+
| Folders | Files | Elapsed time |
+---------+-------+--------------+
| 0       | 0     | 00:00:00     |
+---------+-------+--------------+

I also have empty "shared with you"

[2016-03-10 10:07] rullzer commented on #23054
@frafra mmm ok.
Well if have the feeling this is a system issue somewhere. And something is missing... especially since you are running (even to debian standards :wink:) and ancient release...

[2016-03-10 10:08] rullzer commented on #22997
Lets keep this ticket open a while longer. Just so that other can find it as well. Because I have the feeling this will show up a few times before 9.0.1

[2016-03-10 10:09] Marcwa19197 commented on #22988
here the output of the sql query above, if it is useful..
before upgrading to 8.2.2 i was using "calendarplus", but i dont thing that this is the problem.

maybe it is a general database migration bug? i think i use the same mysql-database since version 6..

![mysqlout](https://cloud.githubusercontent.com/assets/5463753/13666135/46b4cdfe-e6b0-11e5-9cd4-737ece96ba4e.png)

[2016-03-10 10:11] LukasReschke commented on #23053
I can take a look if we touch the whole authentication code in 9.1. ;)

[2016-03-10 10:11] Akhenaton commented on #23046
@enoch85
Here, my DAVdroid sync well with both Calendar and Contacts, except for the birthdays feature (missing birthdays). It's only a little slower than the old apps.
It sync well also with the KDE Kontact PIM and Thunderbird Lightning & addressbook.

[2016-03-10 10:13] beedaddy commented on #23076
Sorry it might just has been a config problem. I removed the memcached stuff from the config file and it now seems to work.

[2016-03-10 10:21] blizzz commented on #22978
@rullzer  with removed catches I get this three times on the personal page (3 sizes are requested)

[code]

[2016-03-10 10:22] nickvergessen commented on #20304
I still think that this brings us into the devils kitchen. Because the app has not been loaded so far, it should not be available. So we would need to check if the app was already loaded and then load it, etc.
But then again other app authors wouldn't know that an app that is restircted to a group is suddenly public available?

[2016-03-10 10:24] LukasReschke commented on #23073
Duplicate of https://github.com/owncloud/core/issues/20555

[2016-03-10 10:24] #23073 closed

[2016-03-10 10:26] LukasReschke commented on #14950
Related https://github.com/owncloud/core/issues/23076

[2016-03-10 10:27] LukasReschke commented on #23076
Related https://github.com/owncloud/core/issues/23076, I'd still say we should really hash the keys.

Problem there: `\OCP\ICache::clear` has a `$prefix` parameter :see_no_evil:

[2016-03-10 10:29] blizzz commented on #23076
You can have a plain prefix and hash the rest. That's how I do it in with LDAP.

[2016-03-10 10:31] LukasReschke commented on #23076
Yeah. But I'd really like to have this done in the caching interface itself. And `\OCP\ICache::set` doesn't has a prefix method. :confused:

[2016-03-10 10:39] nickvergessen commented on #23076
Workaround:
store 2 entries per entry:
1. sha => data
2. key_sha => real.key

Then in the clear() method loop over all keys, if `strpos('key_') === 0` check the value for the prefix. if it matches, call delete for the sha key

[2016-03-10 10:44] enoch85 commented on #23046
@Akhenaton Yes, contacts and calendar (I think, as birthdays is a part of calendar) work fine, but birthdays fails.

[2016-03-10 10:46] blizzz commented on #23076
add new method and deprecated the old one?

[2016-03-10 10:46] DeepDiver1975 commented on #23046
no - see https://github.com/owncloud/core/blob/master/apps/dav/lib/caldav/birthdayservice.php#L31

[2016-03-10 10:46] carlu93 commented on #23049
Hi everyone. Got the same problem as @atroxix. Tried disabling federated sharing. Didn't help, but i got the following error in the logfile on disabling and on enabling it again:

Error 	PHP 	OC\Share20\Exception\InvalidShare: at /srv/www/htdocs/owncloud/lib/private/share20/defaultshareprovider.php#783

Hope this helps!? :)

[2016-03-10 10:47] DeepDiver1975 commented on #23046
In case you are missing the bithday calendar - please run the occ command:

[code]

[2016-03-10 10:52] rullzer commented on #23049
@carlu93 that is most likely fixed with https://github.com/owncloud/core/pull/23016

[2016-03-10 10:52] nickvergessen commented on #23076
which does not help solving the issue we have now at all

[2016-03-10 10:54] carlu93 commented on #23049
Awesome thanks! Does this also fix the issue not being able to see what is shared by me and what is shared by others?

[2016-03-10 10:54] Grot4x commented on #22988
@Marcwa19197 Are your calendars in `select * from oc_calendars`?

[2016-03-10 10:56] devz3r0 opened #23077 "Cron: Autoload path not allowed"
### Steps to reproduce
1. Open Owncloud
2. browse around
3. check logfile

### Expected behaviour
no errors shoukd be there

### Actual behaviour
[code]

### Server configuration
**Operating system**:
Linux, Ubuntu 14.04
**Web server:**
Apache 2.4
**Database:**
mysql
**PHP version:**
5.5.9
**ownCloud version:** (see ownCloud admin page)
8.2.3
**Updated from an older ownCloud or fresh install:**
Up

[2016-03-10 10:59] rullzer commented on #23049
It *should*

[2016-03-10 11:01] Berdir commented on #23047
Thank you. Indeed, updating an existing installation by switching to owncloud-files worked fine for me. Maybe the blog post could be a bit clearer that you actually can do that?

[2016-03-10 11:02] rullzer commented on #22978
Ok so it boils down to https://github.com/owncloud/core/blob/master/lib/private/files/node/file.php#L57 Which to me looks like invalid permissions in the oc_filecache table. @blizzz confirmed that they are 0.

Now this only happens now since I switched over the avatar code to the Node API.

@icewind1991 any idea how we can fix the broken entries?

[2016-03-10 11:03] DeepDiver1975 commented on #23077
Looks like files_version is disabled but there are still jobs in the queue

[2016-03-10 11:04] devz3r0 commented on #23077
i disabled that ages ago, that error just arised now, how can i clear that ajax-jobs out?

[2016-03-10 11:04] blizzz commented on #22978
setting permissions to 27 did not make it work.

Users with issues had two entries about the avatar in the filecache table. One tied to their own storage, one to the data-dir-storage.

However, fixing permissions and removing the avatar entry belonging to the data-dir-storage did not make it work either.

[2016-03-10 11:07] blizzz commented on #23076
No, that's not a short-term scenario, indeed. Your suggestion would work, while also adding some overhead and increasing complexity. As transitional solution OK.

[2016-03-10 11:07] mmaedler opened #23078 ""Bad Signature" error after activating encryption"
### Steps to reproduce
1. Fresh and clean installation with one user (admin) and some files
2. Activation of Default encryption module
3. sudo -u www-data ./occ encryption:enable && sudo -u www-data ./occ encryption:encrypt-all
4. login to web gui and change onetime password to login password.
5. all files respond with "Bad Signature" error when opened from web gui

### Expected behaviour
Unencryp

[2016-03-10 11:16] enoch85 commented on #23046
Thanks @DeepDiver1975! Is there any way to sync <all> or do I have to specify each user?

[2016-03-10 11:16] remixtj commented on #10552
The issue seems related to memory caching of paths. From autoloader.php of stable9, function load (which is the same also for stable7 and later);

[code]
I keep getting $pathsToRequire after this function call full of paths from wrong directories.

I have several virtualhost on the same httpd with mod_php.

@PVince81 I think that issue has to be reopened, since there hasn't been significative chan

[2016-03-10 11:19] nickvergessen commented on #23076
Btw in the locking e already do sha1() the path, so maybe we should just do that in the CachedRouter as well. That would fix our issues, and then we should add a warning to the cache method to not allow keys longer then 250 chars?

[2016-03-10 11:21] nickvergessen commented on #23076
[code]

[2016-03-10 11:22] mislav-eu commented on #18225
@PVince81
I've tried to test the problems mentioned in my topic here: https://github.com/owncloud/core/issues/22042

but this is still not fixed in newer version of OC - I must still go in database and change flag to 1, then I can download the file and it's not corrupted. Before that I get an error that file doesn't even exist and it's corrupted once download (this was update from 8.2.2. to versio

[2016-03-10 11:26] nickvergessen commented on #23077
Delete entry manually from oc_jobs database table for the time being.

[2016-03-10 11:29] DeepDiver1975 commented on #23046
calling the command without any argument will sync all users

[2016-03-10 11:31] devz3r0 commented on #23077
in that table there are 3529 entries. Can I just wipe it entirely?

[2016-03-10 11:38] enoch85 commented on #23046
`sudo -u www-data php occ dav:sync-birthday-calendar` says that I need to specify user. Am I doing it wrong? If I specify user it works.

[2016-03-10 11:42] nickvergessen commented on #23046
@enoch85 https://github.com/owncloud/core/pull/23035

[2016-03-10 11:42] DeepDiver1975 commented on #23046
Oh - there was a bug fix by @nickvergessen

[2016-03-10 11:42] DeepDiver1975 commented on #23046
see :wink:

[2016-03-10 11:45] enoch85 commented on #23046
That explains it. Thanks  @DeepDiver1975 @nickvergessen :)

[2016-03-10 11:45] nickvergessen commented on #23077
No, try:

[code]

[2016-03-10 11:52] remixtj commented on #10552
Forgot to say that i'm using APCu on php 5.6.11

[2016-03-10 11:56] nickvergessen commented on #23062
Can you post your code of `apps/files/ajax/scan.php` please?

[2016-03-10 11:56] rullzer commented on #23067
@ketolajuha well you were right... IE11 is also on the win10 VM...
lets try to debug this...

[2016-03-10 11:56] jnweiger commented on #20963
This is the control file for the deps. Suggestions welcome:
<pre>
Package: owncloud-deps-php5
Architecture: all
Provides: owncloud-deps
# https://github.com/owncloud/core/issues/21342
Depends: ${misc:Depends}, php5 (>= 5.4.0),
        php5-common, php5-gd, php-xml-parser, php5-intl, php5-mcrypt, php5-curl, php5-json,
        php5-mysqlnd | php5-mysql, php5-sqlite, php5-pgsql,
        php5-cgi | ph

[2016-03-10 11:58] DeepDiver1975 commented on #23011
@schmees any chance to test this patch? THX

https://github.com/owncloud/core/pull/22949

[2016-03-10 12:02] alexweirig opened #23081 "Problem with dynamic ldap group processing in 9.0.0"
@blizzz @PVince81
Hello,

after upgrading to 9.0.0 the dynamic ldap group processing is no longer correctly.

I've debugged the group_ldap.php and getUserGroups method and found the following 2 issues:

1) when doing the access->readAttribute for the dynamic group filter, the $uid variable is used. I think the $userDN must be used in order to have LDAP find anything
2) when the user is member of a

[2016-03-10 12:04] alexweirig commented on #21223
@blizzz @PVince81
I've created a new issue for this: #23081

[2016-03-10 12:11] RealRancor commented on #23077
Just an additional info. The user had initially reported this at the forums: https://forum.owncloud.org/viewtopic.php?f=36&t=34210

There he provided the initial reason for that messges. It seems a symlink was used:

owncloud -> /media/owncloud/
thats from:
dev/mapper/truecrypt1 on /media/owncloud type ext4 (rw)

https://forum.owncloud.org/viewtopic.php?f=36&t=34210#p110023

[2016-03-10 12:11] rullzer commented on #23067
PR with fix in https://github.com/owncloud/core/pull/23084

[2016-03-10 12:20] Marcwa19197 commented on #22988
@Grot4x yes, all calendars are shown as below

![test-cal-mysql](https://cloud.githubusercontent.com/assets/5463753/13669295/c9652fac-e6c2-11e5-8e54-bcb5354990ce.png)

[2016-03-10 12:21] devz3r0 commented on #23077
that query didn't work because the entries are as followed:

[code]
7 	OC\BackgroundJob\Legacy\RegularJob 	["OCA\\Music\\Backgroundjob\\CleanUp","run"] 	1442406780
8 	OCA\Files_sharing\Lib\DeleteOrphanedSharesJob 	null 	1442408549
9 	OCA\Activity\BackgroundJob\EmailNotification 	null 	1442465408
10 	OCA\Activity\BackgroundJob\ExpireActivities 	null 	1442403427
585 	OC\Command\CommandJob 	"O:33:\"O

[2016-03-10 12:21] enoch85 commented on #20963
@jnweiger I'm not familiar with packiging, but with theese deps, it works:

[code]

[2016-03-10 12:27] gvde opened #23085 "Sharing search while typing all lowercase for mixed case group"
### Steps to reproduce
1. Click on the share symbol to share a file, contact, etc. to open the share text field
2. Enter an existing group name ("Abi90") all lowercase ("abi90")
3. see what is found while typing

### Expected behaviour
It should always only show the group "Abi90"

### Actual behaviour
It offers group "abi90 (Group)" when you enter "abi90". If offers "Abi90 (Group)" twice when you

[2016-03-10 12:29] nickvergessen commented on #23077
Right, 8.2 I forgot. Then try:
[code]

[2016-03-10 12:34] alexweirig commented on #23081
All this processing makes displaying the user list extremely slow. I've created a screen capture showing how the user list is build and showing the logging that is going on during the process.
I've also attached the owncloud.log file being produced during this process.

The screencast can be downloaded here:
https://owncloud.technolink.lu/index.php/s/KyXYucDljOb2rnR

[owncloud.log_save.zip](https:

[2016-03-10 12:43] MorrisJobke commented on #22596
I now got a Office 2013 - I will test and fix this for Windows 7,8 and 10 with 2010 and 2013 office.

[2016-03-10 12:46] BenS89 opened #23088 "ownCloud 9: storage quota is "unlimited""
### Steps to reproduce
1. Upgrade from ownCloud 8.2.2 to 9.0
2. Login as a user which has no storage quota limitation
3. Navigate to your personal page in the webinterface

### Expected behaviour
The quota limit is not declared as "unlimited". Instead, the maximum available storage capacity of the server is shown. Example: "You are using 12 GB of the available 250 GB"
250 GB would be the maximum a

[2016-03-10 12:54] Sp1l commented on #23059
Issue solved!
[code]
All my calendars, contacts (incl groups) have returned.

[2016-03-10 12:54] devz3r0 commented on #23077
that worked, thanks there are now only the 5 entries left.
It seems to be quiet now.
as I don't use files_versions there is still a folder in data/devzero/files_versions
I have the question: can I delete that, or does it break something?

[2016-03-10 13:02] ketolajuha commented on #23067
I can confirm the proposed fix - after adding same to IE dav client, folders **can be again created in stable OC 9.0.0.
**
Thanks!!!!!!

[2016-03-10 13:03] nickvergessen commented on #23077
I can't tell you something about that.

[2016-03-10 13:06] aronovgj commented on #23062
[code]

[2016-03-10 13:08] atroxix commented on #23049
Nothing changed after I disabled both sending and receiving federated shares.

Sent my oc_share table dump to your e-mail.

[2016-03-10 13:14] RealRancor opened #23089 "Show correct versions for apps in oC internal appstore"
### Steps to reproduce
1. Install ownCloud 9.0.0
2. Check category "Productivity" in oC internal Appstore for Calendar and Contacts
3. Calendar is showing up as Version 0.6.7, Contacts as 1.0.0.0
4. Enable Calendar and Contacts
5. Check category "Enabled" in oC internal Appstore for Calendar and Contacts
6. Calendar is showing up as Version 1.0, Contacts as 1.0.0.0

### Expected behaviour
Correct

[2016-03-10 13:16] aspdye commented on #23089
Isn't this https://github.com/owncloud/appstore-issues or is it a core-bug?

[2016-03-10 13:19] georgehrke commented on #23089
@aspdye No, this is the right place :)

[2016-03-10 13:20] RealRancor commented on #23089
I'm not really sure:

https://api.owncloud.com/v1/content/data?version=9x0x0x0&categories=922&approved=all
-> Showing calendar 0.6.7 and contacts 1.0.0.0

https://api.owncloud.com/v1/content/data?version=8x2x0x0&categories=922&approved=all
-> Showing calendar as 0.8.2 and contacts 0.5.0.0

[2016-03-10 13:21] LukasReschke commented on #23078
I'll take a look.

[2016-03-10 13:22] RealRancor commented on #23089
@georgehrke Maybe you need to raise the version of the calendar app to 1.0 so the appstore is reporting the correct version?

[2016-03-10 13:25] georgehrke commented on #23089
Interesting :confused:

Yes, so I'll just swap Content link 1 with Content link 4.

The issue seems to be in the API of the owncloud app store.
Then https://github.com/owncloud/appstore-issues would indeed be the correct repo :laughing:

[2016-03-10 13:26] aspdye commented on #23089
I did it :muscle: I was correct - first time :sweat_smile:

[2016-03-10 13:26] #23089 closed

[2016-03-10 13:30] nickvergessen commented on #22396
Can I have permission for activity as well?

[2016-03-10 13:32] RealRancor commented on #23089
Works, https://api.owncloud.com/v1/content/data?version=9x0x0x0&categories=922&approved=all is now showing 1.0 :+1:

[2016-03-10 13:34] nickvergessen commented on #23062
Seems like your file is not up to date with the latest changes.
Are you sure that you uploaded all files correctly?

[2016-03-10 13:35] aspdye commented on #23088
I am not sure, but isn't this the normal behavior of ownCloud? I think only admins see the maximum HDD storage if they have a "unlimited" quota. Let me reproduce this ...

[2016-03-10 13:36] cubical23 commented on #23014
I had problems with calendar, calendars were not visible with current IE (especially the calendar list on the left), firefox worked as expected.

[2016-03-10 13:38] RealRancor commented on #23014
Yes, IE and EDGE are currently not supported by the calendar app as discussed here: https://github.com/owncloud/calendar/issues/309

[2016-03-10 13:39] aspdye commented on #23088
Okay... I have reproduced:

Also "admins" see UNLIMITED if they have an UNLIMITED quota. If you set the quota to 10 TB e.g., you will se not 10 TB - you will see the real free HDD space (of course, only if it is under 10 TB) :wink:

[2016-03-10 13:49] LukasReschke commented on #23088
@PVince81 That was done in https://github.com/owncloud/core/pull/22613 to fix https://github.com/owncloud/core/issues/19988

Expected behaviour or not?

cc'ing @jancborchardt as well

[2016-03-10 13:49] nickvergessen commented on #23088
This was changed 2-3 weeks ago, to fix an issue with the client:
https://github.com/owncloud/core/issues/19988

[2016-03-10 13:49] #23088 closed

[2016-03-10 13:52] LukasReschke commented on #23085
cc @owncloud/sharing

[2016-03-10 13:54] wujekbogdan opened #23090 "There were problems with the code integrity check message - fresh ownCloud setup"
### Steps to reproduce
1. Install ownCloud using the latest web installer
2. Choose MySQL during setup (I don't know if the issue is related to the database engine. I didn't try SQLite yet)
3. Create an admin account
4. Go to any page

### Expected behaviour
I should be able to star using the application

### Actual behaviour
1. An error appears at the top of the page: `There were problems with th

[2016-03-10 13:55] LukasReschke commented on #23090
Can you check whether that file is still existent on the file system? It should be deleted after installation. If it is not, then that's a bug that we need to fix in the PHP setup script :see_no_evil:

[2016-03-10 13:56] oparoz commented on #22396
Looks like I never said thanks, so thanks :). It's useful to be able to clean up scrutinizer reports and such.

[2016-03-10 13:59] nickvergessen commented on #23085
@gvde can you test https://github.com/owncloud/core/pull/23091 please

[2016-03-10 14:02] aspdye opened #23092 "Information about that a Folder is shared does disappear after reloading the page"
### Steps to reproduce
1. Share a Folder with a Group
2. See the "shared"-icon on the folder and the information that the folder is shared
3. Reload the page
4. Folder has no "shared"-icon and seems to be not shared
5. Click on the Folder to view Sharing Status
6. It will again tell you that it is shared when you go to "sharing"-section

### Expected behavior
Should be shown as shared everytime. N

[2016-03-10 14:02] meduz commented on #23059
The command above did not work for me:
[code]

but still all calendar data is gone.

I am running owncloud on a QNAP server with  a mysql DB, I can see the calendar tables using phpMyAdmin.

[2016-03-10 14:03] apple601601601 opened #23093 "PHP Fatal error: Can't use method return value in write context in /var/www/html/owncloud/apps/files_external/lib/google.php on line 268"
### Steps to reproduce
1. `yum update` to update owncloud from version 8 to 9 from the 'ce_stable                            ownCloud Server stable Community Edition (CentOS_7) ' repository
2. sudo -u apache php occ upgrade to update
3. after successfully update to owncloud 9, access the web interface with admin account and visit menu "Settings" (or "Manage"? I don't know because it displays Chine

[2016-03-10 14:05] RealRancor commented on #23059
If only calendar is missing make sure that you're not using IE/Edge: https://github.com/owncloud/calendar/issues/309

[2016-03-10 14:06] MorrisJobke commented on #22596
I tested this with Office 2013 on Windows 10 and Windows 8.1

[2016-03-10 14:06] MorrisJobke commented on #22596
@gig13 Fix is in https://github.com/owncloud/core/pull/23094

[2016-03-10 14:06] gvde commented on #23085
#23091 seems to fix the lower case issue. While typing "abi90" it finds "Abi90 (Group)", even when finished typing.

However, the duplicate for "Abi90" still remains. While typing "Abi90" everything is good (i.e. "Abi90 (Group)" is shown exactly once) until I enter the final "0". Then all of a sudden, "Abi90 (Group)" appears twice.

[2016-03-10 14:13] rasos opened #23095 "Do not allow to share objects mounted with SMB/CIFS using OC login"
One can not share objects in case of authentication with "SMB/CIFS using OC login"
(see https://doc.owncloud.org/server/8.2/admin_manual/configuration_files/external_storage/auth_mechanisms.html#password-based-mechanisms  and
discussion on https://github.com/owncloud/documentation/issues/1927)

Thus there should be no sharing icon and entry form at objects mounted this way, currently it shows "Sha

[2016-03-10 14:18] j4mb4l4j4 commented on #23059
Hi, I had the same Problem that my Calendar was gone.

"php occ  dav:migrate-calendars user "

didn't worked.

I had to play in a backup from 8.2.2 to get my Calendar back... Thats not so good.
I was using Google Chrome.

Is there a way to export the calendar and reimport it after the Update ? Or is there a workaround, so that I may should wait for the next owncloud Version?

I am using:
- PHP 5.5

[2016-03-10 14:22] Andreacroci commented on #22883
For what it's worth: I upgraded to 9.0 yesterday using the steps in https://doc.owncloud.org/server/9.0/admin_manual/maintenance/package_upgrade.html. I did have some problems, but at the end it worked. However, the calendar did not get upgraded automatically. I don't know exactly what happened to the app itself, because I then downloaded the app from the stores where it says it's compatible with

[2016-03-10 14:32] #23067 closed

[2016-03-10 14:34] Andreacroci commented on #22883
All right. No, I'm using Chrome under Ubuntu 14.04.3 LTS, where also OC
is installed using Apache 2.4, PHP 5.6 and mySQL 5.7.

Any other information you need, please just let me know.

On 10.03.2016 15:31, RealRancor wrote:

[2016-03-10 14:34] rullzer commented on #23049
@atroxix thanks for the mail. You share table looks clean to me.

I'm going to think further why this might be happening...

[2016-03-10 14:34] D4rkPh0en1x opened #23097 "OC 9.0 upgrade or new install impossible"
### Steps to reproduce
1. Upgrade from 8.2 to 9.0 or donfresh install
2. login
3. integrity check failed

### Expected behaviour
No error

### Actual behaviour
In the web I can't see my files and data

### Server configuration
**Operating system**:
Red Hat 7.0

**Web server:**
Apache 2.4.6

**Database:**
Mysql 5.6.29

**PHP version:**
5.6.19

**ownCloud version:** (see ownCloud admin page)
9.0.0

[2016-03-10 14:35] wagnerand opened #23098 "RewriteRule .* index.php [PT,E=PATH_INFO:$1] in .htaccess causes 404 if owncloud is in a subdirectory"
### Steps to reproduce
1. Install owncloud 9.0.0 to a subdirectory, e.g. http://mydomain.com/owncloud
2. Try to access http://mydomain.com/owncloud

### Expected behaviour
Redirect to http://mydomain.com/owncloud/ -> Redirect to http://mydomain.com/owncloud/index.php

### Actual behaviour
Redirect to http://mydomain.com/owncloud/ -> 404

Changing `RewriteRule .* index.php [PT,E=PATH_INFO:$1]` to `

[2016-03-10 14:36] DeepDiver1975 commented on #10247
@dragotin @guruz is this still of an issue? Please reopen if so - THX

[2016-03-10 14:36] #10247 closed

[2016-03-10 14:36] LukasReschke commented on #23097
You have incorrectly updated. For example rn] [pid 12572] [client 87.240.239.116:50511] mod_fcgid: stderr: PHP Fatal error: Cannot redeclare class OC_L10N in /home/cloud/public_html/lib/private/l10n.php on line 42 shows that you did not delete all files except config and data before updating.

Please restore from a backup and then delete all data except config and data. Then upload the new files.

[2016-03-10 14:36] #23097 closed

[2016-03-10 14:37] Liwindo opened #23099 "Exception error in fresh installed owncloud 9"
### Steps to reproduce
1. Install owncloud 9.0.0

### Expected behaviour
Everything works fine

### Actual behaviour
Exception error, no apps are found and files can not be uploaded.

### Server configuration
**Operating system**: Ubuntu 14.04.4

**Web server:** Apache with nginx proxy

**Database:** MySQL 5.5.47

**PHP version:** 7.0.3

**ownCloud version:** 9.0.0.19

**Updated from an older ownC

[2016-03-10 14:38] aronovgj commented on #23062
Uploaded? To where? The code above is exactly what is in my `scan.php` if that is what you mean.

[2016-03-10 14:40] meduz commented on #23059
how did you restore your data from 8.2.2?

[2016-03-10 14:40] LukasReschke commented on #23093
Will be fixed with 9.0.1. Ref https://github.com/owncloud/core/commit/d14adb2351911030bd9eff4311493dd63826c5ee

[2016-03-10 14:40] #23093 closed

[2016-03-10 14:41] LukasReschke commented on #23098
Another workaround at https://github.com/owncloud/core/pull/23065. The suggested alternative approach is interesting and I'll also take a look later on that.

[2016-03-10 14:42] DeepDiver1975 commented on #23099
Duplicate - this was already reported and will be fixed with 9.0.1

[2016-03-10 14:42] #23099 closed

[2016-03-10 14:43] D4rkPh0en1x commented on #23097
all files were deleted and to be sure that I didn't do something wrong I did a fresh install with a new database in a new folder and I got exactly the same errors with the integrity check

Here the raw output

Raw output
==========
Array
(
    [core] => Array
        (
            [INVALID_HASH] => Array
                (
                    [core/doc/admin/_sources/configuration_files/collaborati

[2016-03-10 14:43] DeepDiver1975 commented on #13640
I'll open individual issues

[2016-03-10 14:43] #13640 closed

[2016-03-10 14:45] aronovgj commented on #23062
After adding `, \OC::$server->getLogger())` the error is gone. I can't explain why the file was outdated. I downloaded it from original source, as stated above.

[2016-03-10 14:47] D4rkPh0en1x commented on #23097
I see the error log is also not from now but from 2 days... no errors from today in the apache log
2 days ago I wanted to go to fast and simply overwrite the files instead of deleting all but I undo this...
Didn't had the time until now to look further and to do a fresh install...

[2016-03-10 14:52] icewind1991 commented on #23052
https://github.com/owncloud/core/pull/23039 should prevent breakage with orphan shares

[2016-03-10 14:56] cdamken commented on #21448
@MorrisJobke
and
00005011

[2016-03-10 15:01] Kawohl commented on #22980
had the same here on fresh installs on opensuse leap.

[2016-03-10 15:02] cubical23 commented on #23014
thanks for your reply. that's sad, especially for use with unexperienced users.

[2016-03-10 15:04] #23046 closed

[2016-03-10 15:07] adengg opened #23104 "password protection "share by link" leads to authentication errors"
### Steps to reproduce
1. create an empty folder
2. share by link, allow editing -> yes, set a password (same result both when using the web insterface as well as the windows client)
3. open the created link in another browser

### Expected behaviour
The recipient enters the password communicated and is able to use the link just like if there was no password protection

### Actual behaviour
the au

[2016-03-10 15:07] remixtj commented on #10552
Found the issue: all my instances has the same instanceid. When namespacing (no matter if APCu or Xcache), instanceid is used as prefix. This leads to the issue

@treynolen can you still check if this is true?

[2016-03-10 15:08] wujekbogdan commented on #23090
Yes. The file is still there.
Deleting the file didn't solve the problem.

[2016-03-10 15:10] shhristov commented on #22781
Thank you, guys, for the quick reaction!
Unfortunately, from my point of view the issue is still present. Today I made a clean install from the following repository:
[code]
Or the patch is not yet applied there?

[2016-03-10 15:11] LukasReschke commented on #22781
@shhristov can you file a new issue? THX

[2016-03-10 15:13] thejabok commented on #23020
@LukasReschke thanks for the tip. Also, on a side note, the .htaccess file in the root folder is throwing a code integrity error as well when the upload_max_filesize and post_max_size values are changed to 2G. Should I open that as a separate issue?

[2016-03-10 15:14] shhristov commented on #22781
Ok.

[2016-03-10 15:14] LukasReschke commented on #23020
That should not happen if one updated correctly. (replaced the file with the new one before update, then adjusted the values after update in the admin interface)

[2016-03-10 15:17] oparoz opened #23106 ""Add to owncloud" should offer some kind of visual feedback"
### Steps to reproduce
1. Follow a public link
2. Click on "Add to owncloud
3. Type 666 and "Enter"
4. Wait

### Expected behaviour

There should be some visual feedback that the query is being executed. It's usually a spinner. In this case, it could be in the middle of the field.

### Actual behaviour

Nothing happens for 20-30 seconds. The user gets confused and thinks ownCloud is broken.
After

[2016-03-10 15:18] ucyrus commented on #22984
Same to me. Same error message. same I10n.php file in lib/private.
I had to remove packet owncloud again, delete the whole owncloud directory, installed owncoud 9.0.0.1, unzip the downloaded owncloud 9, copy of the old config.php to subdir config, edited the version to 9.0.0.1 and run occ upgrade

[2016-03-10 15:18] Sp1l commented on #23059
My calendar items were still in oc_clndr_objects. After running the command they appeared in oc_calendarobjects

[2016-03-10 15:20] LukasReschke commented on #23104
Duplicate of https://github.com/owncloud/core/issues/23066

[2016-03-10 15:20] #23104 closed

[2016-03-10 15:23] paurisa commented on #21588
I have remade the images as SVG and I'm now trying to find where is the code that displays them.
So far I looked in https://github.com/owncloud/core/blob/master/settings/templates/apps.php but had no luck.

[2016-03-10 15:25] LukasReschke commented on #21588
@paurisa https://github.com/owncloud/core/blob/256dfd27b6129f9eba205bf4195246c0cac6045b/settings/js/apps.js#L3-L11 is the code. Right now score is there basically a number between 0 - 10 and each value is another half star. See https://github.com/owncloud/core/tree/master/core/img/rating

So probably there would be some logic change required there to add the stars in SVG format :)

[2016-03-10 15:26] Storycrafter commented on #17012
@girvo ,thanks for the offer, but I was able to get a dev environment started at openshift.  I plan to start taking a whack at things this weekend.  I'll ping you via email as well.

[2016-03-10 15:26] svenehret commented on #18929
thank you for the follow-up. I have cloned the 7.0 installation stepwise to 9.0 and now it goes like this:

[code]
Log:
[code]

[2016-03-10 15:28] paurisa commented on #21588
@LukasReschke Thanks for the help! Gonna familiarize myself with the code to add the stars in SVG format.

[2016-03-10 15:38] svenehret commented on #18929
ldap seems to work though:
[code]
I am also seeing users in the web interface, alongside LDAP backend

[2016-03-10 15:52] D4rkPh0en1x opened #23107 "New Install Problems (9.0.0)"
### Steps to reproduce
1.  9.0  fresh install
2. login
3. integrity check failed (for the web installer file even after deleting it) / not possible to add user / security & setup warnings doesn't load (turns endlessly) / app list stay empty so over the web i can't activate calendar/contacts etc

### Expected behaviour
No error

### Actual behaviour
In the web I can't see my files and data

### Ser

[2016-03-10 16:02] MorrisJobke opened #23109 "OCA\\Files_Versions\\Hooks::write_hook: $absolutePath must be relative to "files""
I found following error in some logs quite often.

[code]

@schiesbn @icewind1991 Any idea why this is happening? Sadly I have not any additional information, but maybe the stack trace helps to find some issues here

00005004

[2016-03-10 16:04] wolfo opened #23110 "Sharing files - public links expire shortly after first download"
### Steps to reproduce
1. Share a file using public link - via automated email or manually
* expiration date is active and set to the maximum allowed amount - 1 week in the future
** the file can be in the user's root folder (managed directly by Owncloud) or on a CIFS share - same result
2. Open public link on any computer and download
3. Open public link a second time

### Expected behaviour
It s

[2016-03-10 16:07] LukasReschke commented on #23078
A potential fix for this can be found at https://github.com/owncloud/core/pull/23108. I tested it locally given your steps and did some smoke testing and everything seemed to pass.

@mmaedler It would be utmost appreciated if you could retest your steps with this branch applied. It won't get back your old testing data but at least all new one should be there.

In case anybody stumbles upon this wi

[2016-03-10 16:10] oparoz opened #23111 "Files shared with me cannot be moved to folders I share"
### Steps to reproduce
1. A shares File with B
2. File is shown in the root of B's instance
3. B creates folder F1
4. B creates folder F2
5. B shares folder F2. In my case both internally and via link
6. B moves file to F2
### Expected behaviour

The file should be moved to F2
### Actual behaviour

I get a "Could not move" error message.
If I move file to F1 it works though
And if I move another f

[2016-03-10 16:12] D4rkPh0en1x commented on #23107
I just gave all the possible rights to the database user (even superuser rights) and that didn't Change anything (new install after changing this)

[2016-03-10 16:15] D4rkPh0en1x commented on #23107
Activating the apps like calendar and contacts over the occ command doesn't have any effects on the webside

[2016-03-10 16:22] mheckel commented on #22988
We just upgraded to 9.0 today and had the same/similar problem, though only for LDAP users. We could fix it by setting a "Internal Username Attribute" (in our case to sAMAccountName) and clearing existing Username-LDAP User Mappings.

The problem was that the login was the sAMAccountName, whereas the links included the UUID. The above change fixed that.

Another note: we had to update our nginx co

[2016-03-10 16:24] MorrisJobke commented on #21448
http://stackoverflow.com/questions/9223840/redis-fail-over

[2016-03-10 16:25] MorrisJobke commented on #21448
cc @MTRichards for this feature request

[2016-03-10 16:34] DeepDiver1975 commented on #22988
this looks like a url rewrite and/or procy config issue

[2016-03-10 16:41] Andreacroci commented on #22883
Sorry, I forgot mentioning something that may be useful:

I installed the calendar app by downloading the version for OC 9.0 from
here: https://apps.owncloud.com/content/show.php/Calendar?content=168707
and putting it in the apps/ folder. I double checked the permissions,
that are ok.

When I run the check-code on it, I get the following:

Duplicate min ownCloud version requirement found
Deprecate

[2016-03-10 16:42] misotolar commented on #22988
@mheckel clearing existing username-ldap user mappings? what exactly do you mean by that?

[2016-03-10 16:43] sterius commented on #22968
Started manuaI upgrade process with all 3rd party apps deactivated, too. I skipped upgrade-process manually after about an hour at state "Updated <files_versions> to 1.2.0". After I restarted upgrade-process, I had error "SQLSTATE[42S01]: Base table or view already exists: 1050 Table 'oc_addressbook' already exists". I deleted that table and started again, next error was the same but now for Table

[2016-03-10 16:46] #23098 closed

[2016-03-10 16:47] RealRancor commented on #22883
@Andreacroci Thats unrelated to this issue and should be reported to the issue tracker of the calendar app.

[2016-03-10 16:48] georgehrke commented on #22883
Was already fixed, please don't report

[2016-03-10 16:50] mheckel commented on #22988
![owncloud](https://cloud.githubusercontent.com/assets/7933329/13676977/672f6926-e6e8-11e5-8fba-f1d45e339929.png)

In the meanwhile we switched to another attribute, which is more likely to be unique in our directory.

Please note: changing the attribute and clearing the mapping may result in data loss (e.g. calendars, home folder, etc.) We have a completely fresh install, so this is not a deal br

[2016-03-10 16:51] Andreacroci commented on #22883
OK, I won't report, but where do I find the app with the fixed code then?

[2016-03-10 16:52] georgehrke commented on #22883
in the calendar repo, this error should not stop you from using your version though

[2016-03-10 16:54] georgehrke commented on #22883
If there is data in oc_calendars and oc_calendarobjects and you can access it with caldav clients via http://owncloud.dev/remote.php/dav/, but you can't see them in the calendar app, report an issue in the calendar repo please.

[2016-03-10 16:58] #23004 closed

[2016-03-10 16:58] #23020 closed

[2016-03-10 16:59] misotolar commented on #22988
thanks! as you say, this only can be done on fresh install without any user data...

[2016-03-10 17:18] LukasReschke opened #23116 "500 on PROPFIND with "oc:owner-display-name""
On a newly installed master.
<hr/>
Request:
[code]

Response:
[code]

Log:
[code]

$node is:

[code]
<hr/>

=> `OCA\DAV\Files\FilesHome `is missing `getOwner`

cc @DeepDiver1975

[2016-03-10 17:24] koehn opened #23117 "GET / not working"
### Steps to reproduce
1. `curl -v https://cloud.koehn.com/`

### Expected behaviour
Should get the index page/login page, as appropriate.

### Actual behaviour
`SSLRead() return error -9806` (an empty response, no headers or anything).

If I do a `curl -v https://cloud.koehn.com/index.php` it works fine.

I haven't changed the Apache2 file at all during the upgrade process.

### Server configurat

[2016-03-10 17:27] Andreacroci commented on #22883
No, I do have data in oc_calendars and oc_calendarobjects, but I can't
access it via caldav client either: I have tried with both Thunderbird
and DAVDroid from two smartphones. Thunderbird gives me the little
yellow exclamation mark saying "The calendar owncloud is momentarily not
available". DAVDroid tells me there is no carddav or caldav service at
that address.

Now I checked again and the cont

[2016-03-10 17:31] thrillfall opened #23118 "user_webdavauth update fails with Call to undefined method OC_User::registerBackend()"
### Steps to reproduce.
1. apt-get dist upgrade from owncloud  8.2.2-1.1 to owncloud 9.0.0.-1.1 on raspbian
2. run occ upgrade

### Expected behaviour
update should run without throwing exception

### Actual behaviour
occ upgrade broke with `PHP Fatal error:  Call to undefined method OC_User::registerBackend() in /var/www/owncloud/apps/user_webdavauth/appinfo/app.php on line 30
`

### Server confi

[2016-03-10 17:40] RealRancor commented on #23118
@thrillfall user_webdavauth is deprecated and not compatible with oC9. Where did you get that app from?

[2016-03-10 17:50] LukasReschke commented on #23117
Also it would be interesting to know whether in addition changing `RewriteRule .* index.php [PT,E=PATH_INFO:$1]` to `RewriteRule . index.php [PT,E=PATH_INFO:$1]` works for you. (revert the stuff I recommended in https://github.com/owncloud/core/issues/23117#issuecomment-194972560 for that)

[2016-03-10 18:07] rullzer commented on #23111
This is by design. It can become a big mess if we allow nested shares like this. Cyclic shares. Explicit order required for share initialisation etc.

Also there is the problem with permissions. Assume you share the B with full permissions. But the folder shared with you is only R. Then now all of a sudden you have increased the permissions.

Those (among others) are reasons we decided not to supp

[2016-03-10 18:08] jkroepke commented on #20963
Hi,

https://download.owncloud.org/download/repositories/9.0:/testing/xUbuntu_14.04/Packages

[code]

Maybe a cache issue..

[2016-03-10 18:11] jkroepke commented on #20963
@enoch85

instead depend on libapache2-mod-php7.0, fcgi and fpm, just use depens php7.0 or even php

[code]

[2016-03-10 18:29] rullzer commented on #22899
#22912 is merged. Closing.

[2016-03-10 18:29] #22899 closed

[2016-03-10 19:09] koehn commented on #23117
Changing it to `RewriteRule . index.php [PT,E=PATH_INFO:$1]` worked.

`RewriteBase /` had no effect. Here are the mods enabled:

[code]

and phpinfo:

[code]

[2016-03-10 20:50] ckujau commented on #22959
Happened here as well, trying to upgrade from 8.2.2-1.1 to 9.0.0-1.1 (Debian/Jessie packages):

<pre>
$ sudo -u www-data php ./occ upgrade
ownCloud or one of the apps require upgrade - only a limited number of commands are available
You may use your browser or the occ upgrade command to do the upgrade
Set log level to debug
Checking whether the database schema can be updated (this can take a long

[2016-03-10 21:03] Farfetch42 opened #23122 "OC Upgrade from 8.2.2 - 9.0.0 Doctrine\DBAL\Exception\TableExistsException"
### Steps to reproduce
1. Manual upgrade of owncloud from 8.2.2 - 9.0.0
2. errors after running $ sudo -u www-data php occ upgrade
3. Displays this:

Set log level to debug
Checking whether the database schema can be updated (this can take a long time depending on the database size)
Checked database schema update
Checking updates of apps
Checked database schema update for apps
Updating database sc

[2016-03-10 21:12] mossholderm opened #23123 "Unable to login via LDAP, exception OCP\PreConditionNotMetException"
### Steps to reproduce
1. Upgrade from 8.x to 9.0.0
2. Attempt to log in

### Expected behaviour
Login successful

### Actual behaviour
Login unsuccessful

### Server configuration
**Operating system**: CentOS 7, fully patched.

**Web server:** Apache httpd-2.4.6-40.el7.centos.x86_64

**Database:** MariaDB mariadb-5.5.44-2.el7.centos.x86_64

**PHP version:** php-5.4.16-36.el7_1.x86_64

**ownCloud

[2016-03-10 21:13] Farfetch42 commented on #22993
Sorry posted: https://github.com/owncloud/core/issues/23122 - Then found this thread.

I'm also receiving this:

`Doctrine\DBAL\Exception\TableExistsException: An exception occurred while executing 'CREATE TABLE "oc_trusted_servers" ("id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT, "url" VARCHAR(512) NOT NULL, "url_hash" VARCHAR(255) DEFAULT '' NOT NULL, "token" VARCHAR(128) DEFAULT NULL, "shared_

[2016-03-10 21:20] enoch85 commented on #20963
Ok, did some more tests and I'd say that this fix are legit. Only one change I would prefer though:

1. Do not install `php5-common php5-curl php5-gd php5-intl php5-json php5-mcrypt
  php5-pgsql php5-sqlite` if PHP 7 is recognized.

Thanks for responding on this @jnweiger please release it soon so that we can close this issue.

[2016-03-10 21:39] ckujau commented on #22959
For whatever reason, the ```oc_addressbooks``` was empty, even though the Contacts application is used. After dropping it, ```occ upgrade``` progressed but hit the same error for other tables:

<pre>
SQLSTATE[HY000]: General error: 1 table "oc_addressbooks" already exists
SQLSTATE[HY000]: General error: 1 table "oc_cards" already exists
SQLSTATE[HY000]: General error: 1 table "oc_addressbookchange

[2016-03-10 21:41] LukasReschke commented on #23123
@owncloud/ldap

[2016-03-10 21:42] MU7L3Y commented on #18252
At this stage with 8.2.3 I am only getting these errors:

1. This server has no working Internet connection.
2. Error	PHP	Array to string conversion at /home/REMOVED/public_html/cloud/lib/private/template/functions.php#36
3. Error	PHP	array_map(): Argument #2 should be an array at /home/REMOVED/public_html/cloud/settings/controller/appsettingscontroller.php#262

I'll try 9 sometime soon..

[2016-03-10 22:07] #22596 closed

[2016-03-10 22:12] #23116 closed

[2016-03-10 22:40] mossholderm commented on #23123
Other symptoms:

- I can log in as the admin user, but none of the other accounts.
- As admin, if I visit the Users page, the spinner just spins when trying to list "Everyone". Switching to the built in "Admins" group immediately returns the local admin account.
- occ ldap:check-user runs successfully.
- The LDAP settings in the Admin page get a green light.

[2016-03-10 22:45] blizzz commented on #23123
The Backtrace in readable:

[code]

Inserting that data to the database failed. Likely because it's there. Then, updating is attempted. This however returns 0 affected lines. Probably, because the value did not  change. However, the new Connection::setValue() throws this exception, when no rows are affected.

That's my theory for now at least. Only, I am not too fond of it, because I would have ex

[2016-03-10 22:46] blizzz commented on #23123
i.e. also no other local user?

[2016-03-10 23:07] ckujau commented on #23117
Thanks, this helped here as well - w/o that patch, OC9 would do this:

<pre>
$ curl -sI https://www.example.org/owncloud/ | grep HTTP
HTTP/1.1 404 Not Found

$ curl -sI https://www.example.org/owncloud/index.php | grep HTTP
HTTP/1.1 200 OK
</pre>

While trying to get to the bottom of this and digging through the Owncloud Apache configuration, I asked myself: why are ```.htaccess``` files being use

[2016-03-10 23:12] MTRichards commented on #21448
@cdamken are all of these file locking Redis use cases, or something else - since Redis can be used for a few things.

[2016-03-10 23:13] Pastafarianist opened #23130 "Doctrine\DBAL\DBALException while upgrading from 8.2.2 to 9.0.0"
### Steps to reproduce
1. A month ago, install ownCloud 8.2.2 on Debian Jessie
2. Today, upgrade from 8.2.2 to 9.0.0
3. See an exception in the upgrade log

### Expected behaviour
no exceptions

### Actual behaviour
an exception was thrown

### Server configuration
**Operating system**: Debian Jessie

**Web server:** Apache 2.4.17-1

**Database:** MariaDB 10.0.23-0+deb8u1

**PHP version:** 5.6.17+

[2016-03-10 23:18] ckujau commented on #22970
Btw, why does ```/etc/apache2/conf-enabled/owncloud.conf``` (from Debian/Jessie ```owncloud-files-9.0.0-1.1```) set ```HOME``` and ```HTTP_HOME``` to a non-existing directory?

<pre>
  SetEnv HOME /usr/share/owncloud
  SetEnv HTTP_HOME /usr/share/owncloud
</pre>

With OC8, both variables pointed to ```/var/www/owncloud```, where OC is installed.

[2016-03-11 00:07] texastoastt opened #23131 "Trusted domains are being ignored."
### Steps to reproduce
1. Fresh install of 9.0.0
2. Add domain to trusted domain list
3. Test

### Expected behaviour
Access accepted when using trusted domain

### Actual behaviour
Generates message to add as a trusted domain every time, but can confirm the line is being added to config.php

### Server configuration
**Operating system**: CentOS 7

**Web server**: Apache

**Database**: MariaDB

**

[2016-03-11 02:22] mossholderm commented on #23123
Sorry, I should have been clearer... I can't log in as any LDAP user.  Admin is the only locally defined user.  Just to confirm, I created another local account, and that seems to work as well.

[2016-03-11 02:23] mossholderm commented on #23123
MariaDB [ownCloud]> SELECT * from oc_preferences where userid = 'mattcm' and appid = 'user_ldap';
+--------+-----------+--------------------+-----------------+
| userid | appid     | configkey          | configvalue     |
+--------+-----------+--------------------+-----------------+
| mattcm | user_ldap | displayName        | Matt Mossholder |
| mattcm | user_ldap | lastFeatureRefresh | 1457662793

[2016-03-11 02:40] aronovgj commented on #17468
Error is still there in 8.2.3. I worked around it with this (someone else posted it somewhere):

[code]

[2016-03-11 04:51] PatelParas commented on #23123
I have never tried DisplayName ==> displayname   which have space character for ldap app:
[code]
instead of this can you try ?:
[code]

[2016-03-11 04:58] yuichi-ikeda-nnetworks opened #23132 "OC8->9 Upgrade Failed"
### Steps to reproduce
1.yum update -y
2.OC Upgrade procedure
3.Upgrade Failed because "Exception: Error 16 interacting with memcached : NOT FOUND"

### Expected behaviour
Upgrade successful.

### Actual behaviour

### Server configuration
CentOS6.7 x64

**Web server:**
Apache 2.2.15

**Database:**
Mysql-5.7.9

**PHP version:**
PHP 5.6.19
Memcached 1.4.25-1

**ownCloud version:** (see ownCloud adm

[2016-03-11 05:14] Hunter-Github commented on #10831
Raised at [IT Security StackExchange](https://security.stackexchange.com/questions/117068/why-would-an-encrypted-file-be-35-larger-than-an-unencrypted-one).

[2016-03-11 06:42] RealRancor commented on #23131
Might be already fixed with https://github.com/owncloud/core/pull/23125

[2016-03-11 06:44] LukasReschke commented on #23131
Yep. That will fix it.

[2016-03-11 06:44] #23131 closed

[2016-03-11 06:50] vb0 commented on #22993
I got it working too, would have earlier probably but got stumped by mysql config ... nothing looked right because I've been using sqlite3 (small install, one user, etc).
Just looked into oc_trusted_servers, it was empty, drop table oc_trusted_servers and that was it, upgrade worked from command line.

Maybe somebody can add the label db:sqlite3 or something to this if appropriate.

[2016-03-11 07:57] MorrisJobke commented on #22596
@gig13 Backports are created - waiting for review. Then I could provide you a patch

[2016-03-11 07:59] nickvergessen commented on #22968
I just tried it:
[code]

[code]
Works fine for mysql [5.6](http://sqlfiddle.com/#!9) and [5.5](http://sqlfiddle.com/#!2)

So you either need to give more information (exact php `php --version` and mysql versions `mysql --version`) about your system or we have no idea.

[2016-03-11 08:12] nickvergessen commented on #23085
@gvde thanks, fixed in a second commit

[2016-03-11 08:14] MorrisJobke commented on #21448
The cases of @pako81 and @cdamken are clearly originating in our requirement for Redis for the file locking. They are then also used for the distributed memcache (because setting up another service that mostly does the same makes no sense).

[2016-03-11 08:18] gvde commented on #23085
Working for me.

[2016-03-11 08:38] StrannikST opened #23134 "owncloud server 9 > logtimezone"
Hello. Help please , updated to 9 owncloud server. Now it does not work logtimezone (config.php). And now fail2ban not bans . Since time does not match. What to do?

### Steps to reproduce
1. logtimezone > config.php
2. php.ini date

### Expected behaviour
When recording a log does not change the time zone

### Actual behaviour
When recording logs must change the time zone

### Server configuratio

[2016-03-11 09:04] wolfo opened #23135 "First logon using AD credentials takes minutes until finished"
### Steps to reproduce
1. Set up server with LDAP user authentication to a Windows 2008 R2 DC (config details below)
2. Cloud storage: SMB/CIFS using session credentials
3. Logon to the site using correct credentials in Browser A
    (browser is still displaying logon page and appears to load)
4. Open any other browser (B) after your first login and enter same credentials there - instant login
5.

[2016-03-11 09:13] apg1980 opened #23136 "OC 9 Search broken"
My Environment:
Ubuntu 14.04
OC 9
Apache to 2.4.17
PHP to 5.5.29
MySQL to 5.6.25

I can search for files via the search field, results are displayed. After clicking on a result which is outside the root folder i get following message in the browser:

Not Found
The requested URL /files/index.php was not found on this server.

I cannot see any log entrys.
Files in the root directory can be opened vi

[2016-03-11 09:17] mmaedler commented on #23078
Good morning! I went through setting up a fresh installation again, applied the patch, uploaded the same test data like yesterday and now it works :)

Thanks for fixing this so quickly!

One more question: As I am now getting a notification that the integrity check fails (obviously) I want to wait with updating my production environment until the change made it into a release. Do you have an ETA w

[2016-03-11 09:23] mmattel commented on #22011
@RealRancor

**if you use php-fpm, it uses the tmp folder for uploads even for HTTP PUT (Webdav), this is not controlled by ownCloud but by your env configuration.** See #9832 (comment)

From: https://github.com/owncloud/documentation/blob/master/admin_manual/configuration_server/config_sample_php_parameters.rst

We should adopt the wording in the documentation to be more clear and add the informa

[2016-03-11 09:24] Farfetch42 commented on #23122
I fixed this by dropping the table from owncloud.db and rerunning the upgrade.

[2016-03-11 09:28] joba12 opened #23138 "LDAP multiple base dns not working"
### Steps to reproduce
1. Login to owncloud
2. goto administration -> ldap
3. fill in the first base dn and all other fields, save and validate that users out of this base dn are able to login
4. goto administration -> ldap
5. enter a new line and fill in the second base dn
6. save
7. test if users out of the second base dn are able to loing

### Expected behaviour
users out of both base dns are a

[2016-03-11 09:31] nerzhul commented on #22988
I fixed all my carddav issues by fixing UID in oc_cards_properties and all uri in oc_cards replacing all full URI by <uuid>vcf like new entries (thanks regexp in pgsql)

[2016-03-11 09:37] feedthedogs commented on #22993
I had the same issue with oc_activity and oc_activity_mq in mysql, also fixed the error by verifying they were empty and dropping them.

My Apps being updated in the log:
Disabled incompatible app: bookmarks
Disabled 3rd-party app: bookmarks
Disabled incompatible app: calendar
Disabled 3rd-party app: calendar
Disabled incompatible app: contacts
Disabled 3rd-party app: contacts
Disabled 3rd-party a

[2016-03-11 09:58] max133 opened #23139 "reset passwod > unhandled exception"
sudo -u www-data php /var/www/owncloud/occ user:resetpassword user

[code]

xubuntu 15,10
owncloud 8.2.2.2
current apache/mysql

[2016-03-11 10:11] GitHubUser4234 commented on #22992
I saw that the exception is thrown in the getStorageInfo() method of core/lib/private/helper.php, in particular this code:

[code]

Maybe the username/password login initializes something on first login but the Apache API is missing it?

[2016-03-11 10:26] shhristov opened #23140 "Cannot restore previous file version with enabled encryption #2"
### Steps to reproduce
1. Install ownCloud 9.0.0 (stable) (Ubuntu server 14.04, owncloud's repository, SQLite DB)
2. Enable Default encryption module.
3. Enable Server-side encryption with "Encrypt home storage option"
4. Logout/login
5. Upload random .docx file by using the web interface(I used this one: http://www.ijirset.com/IJIRSET_Paper_Template.docx)
6. Change the file by editing it locally

[2016-03-11 10:59] MorrisJobke opened #23143 "Configurable preview path"
- like the path of the cache folder: https://github.com/owncloud/core/blob/750ec93394b76a3af4d45b32fd3b4dd788d431cf/config/config.sample.php#L936-L942

Background:

Often the user data is stored on a different storage server and it makes the access to those often needed files faster, because they are on the same server. Also it makes the redundancy easier. Those files are not that critical if they

[2016-03-11 11:05] RealRancor commented on #22011
@mmattel Sorry, don't have any insights about such PHP internals and how it is handling that stuff.

[2016-03-11 11:10] joernroeder commented on #23054
i'm getting the same response from `/remote.php/webdav/` after upgrading from 8.2.2…

[code]

[2016-03-11 11:12] xenithorb opened #23144 "Code integrity failure when modifying .user.ini"
### Steps to reproduce
1. Change core's .user.ini
2. Reload owncloud

### Expected behaviour

1. I should be able to modify an ini file

2. If `.user.ini` is to be the acting arbiter of `post_max_size` and `upload_max_filesize` on NGINX configurations, then it should not be code signed.. (i.e. You *need* to change it)

### Actual behaviour

1. Message display at the top of web UI: "There were prob

[2016-03-11 11:16] RealRancor commented on #23144
Thats the expected behavior. Just use the original .user.ini, rescan from the admin backend and then make your changes afterwards.

[2016-03-11 11:26] mossholderm commented on #23123
Changing to uid had no noticeable impact.

[2016-03-11 11:30] rullzer commented on #22737
PR to solve it will be in https://github.com/owncloud/core/pull/22834 but it will be in the webdav API

[2016-03-11 11:30] thejabok opened #23145 "Files on external storage can't be opened in 9.0.0"
### Steps to reproduce
1. Activate external storage app
2. Add external storage: home directory of user2 on instance OC1 as folder "user2" for user1 on OC1 using "owncloud" as external storage and specifying URL of OC1 with "secure https" plus credentials of user2
3. Open Web GUI of user1 on OC1

### Expected behaviour
user1 can navigate into folder "user2" and access all folders and files of user

[2016-03-11 11:32] enoch85 opened #23146 "Log successful login attempts"
As of today the failed login attempts are logged, but it would be nice to log the successfull ones as well. Why? Because it gives a better control if you get bruteforced for example, "did they succeed". Today you don't know that.

Several large organisations also send an email when someone logged in from a new IP. It would be super if that could be implemented.

cc @LukasReschke

[2016-03-11 11:32] rullzer commented on #22720
So should we maybe then add a cleanup job for 9.1?

[2016-03-11 11:39] Loki3000 opened #23147 "Not work Cal and CardDav sync with DavDroid after upgrade to OC9"
### Steps to reproduce
1. trying to add new account in DAVdroid
2. get error '401 Unauthorized'
([client log](https://github.com/owncloud/core/files/168928/davdroid_401.txt))
3. check log at server: get error '401 CSRF check not passed' ([server log](https://github.com/owncloud/core/files/168933/oc_401.txt)). Possible it's DAVdroid problem, so i comment following check in apps/dav/lib/connector/sa

[2016-03-11 11:40] jesmrec opened #23148 "Multiple federated unsharing removes the last, not the removed one"
### Steps to reproduce
1. UserA (serverA) share a file with these sharees:

user1(server1)
user2(server1)
user1(server2)
user2(server2)

The list of sharees is displayed in that order in UserA account

2. All the sharees accept the federated sharing
3. One of the sharees (for example, the first one: user1 in server1) does not want the file and removes (unshares) it

### Expected behaviour
The list

[2016-03-11 11:41] rullzer commented on #22729
I do agree that we need a way to do mimetype migration async. I still think an occ command is best. (Since it gives admins the freedom when they want). And we anyway recommend people to use that.
If you are on a smaller installation and you are using the webupdater then we just do it directly.

So maybe an option to `./occ upgrade` like `--no-mimetype-update`.

@karlitschek yes it is important to

[2016-03-11 11:43] oparoz commented on #23143
First thoughts:

* Move the thumbnails folder to the cache folder if cache users also create folders inside that folder. The one caveat would be that a cache wipe would wipe all thumbnails, but I don't expect the cache to be wiped unless absolutely necessary
* Change the path here: https://github.com/owncloud/core/blob/master/lib/private/preview.php#L40

If that's not a good solution, then much mo

[2016-03-11 11:46] xenithorb commented on #23144
Can you elaborate on "make your changes afterwards" - that's kind of what I felt like I was doing.

I could find no other way of getting `post_max_size` and `upload_max_filesize` to be the value I wanted without editing that.

Just so you're aware, https://doc.owncloud.org/server/9.0/admin_manual/installation/source_installation.html#php-fpm-tips-label

It says the following:

Which is what pointe

[2016-03-11 11:49] jesmrec opened #23150 "Users which username finishes with '@' can not receive federated shares"
### Steps to reproduce
1. Share a file/folder with a user "user@" in another server

### Expected behaviour
user@ is an available option to share with

### Actual behaviour
The file can not be share and this message is received:

Sharing <file> failed, could not find user1@@<server>, maybe the server is currently unreachable.

### Server configuration
ServerA: {"installed":true,"maintenance":false

[2016-03-11 11:52] peschuster commented on #15407
Thanks @ClementSimpleRezo
This config line "fixed" it for me.

[2016-03-11 11:54] RealRancor commented on #23144
Hi,

the integrity check is running once after each update/upgrade. So just make this steps:

- use all original files from the archive
- browse to your admin backend with the "Security & Setup Warnings" telling you that the integrity check is failing
- Hit "rescan" within that message
- The yellow warning and the Security & Setup Warnings" message will disappear
- Modify the .user.ini afterwards

[2016-03-11 11:54] MorrisJobke commented on #22720
That would be nice.

[2016-03-11 11:54] oparoz commented on #23143
Thinking about it some more, just changing the path in Preview to make it a subfolder of cache will also have problems linked to the fact that Preview is still using `\OC\Files\View`...

[2016-03-11 11:55] larp-welt commented on #23054
I'm getting the same error after the upgrade.

I'm on a shared webspace using libxml2. version 2.6.26. Maybe it's really way to old.

I've just contacted my hoster about a migration on a newer server.

[2016-03-11 11:57] Marcwa19197 commented on #22988
What do you meant with "vcf"? Can you provide your fix please?

[2016-03-11 11:58] mirekys opened #23151 "Deleted files sometimes aren't deleted properly due to timestamp conflict"
### Steps to reproduce
1. Have some files files possibly with a frequently occuring name/sub-path pattern in your storage:
   - /dir1/file.txt
   - /dir1/dir2/file.txt
   - /dir3/dir4/file.txt
     ...
     // this is just a hypothesis from observation, didn't manage to reproduce it by myself yet //
2. Delete /dir1/dir2/file.txt (will be moved to trash correctly)
3. Delete /dir1/file.txt (no entry

[2016-03-11 12:00] rullzer commented on #23054
2.6.26 is from june 2006. So upgrading is recommended :wink:

[2016-03-11 12:05] oparoz commented on #22737
Thanks

[2016-03-11 12:14] wolfo opened #23152 "CIFS folder views frequently incomplete"
### Steps to reproduce
1. set up External Storage using SMB/CIFS using session credentials (LDAP authentication)
2. share is >100GB, accessed via DFS and stored on a NetApp (same problem w/o DFS)
3. Frequently, users report that folders are not showing all files that are actually there

### Expected behaviour
When viewing the subfolders of the share with the web interface or WebDAV, the contents s

[2016-03-11 12:19] larp-welt commented on #23054
Please can you tell me, wich version of libxml2 is minimum for the use with owncloud 9.0.x?

[2016-03-11 12:21] xenithorb commented on #23144
The preferred solution for this for me is to add:

[code]
to the owncloud NGINX configuration.

This way I am not subject to `.user.ini` being overwritten (clobbered) by the package manager (even though it probably won't but could), and I also don't have to mess with file integrity.

I think the actual problem stemmed from the fact that I made the `.user.ini` changes and THEN enabled a plugin that

[2016-03-11 12:23] rullzer commented on #23054
I don't know. Somebody needs to go trough the changelog to see when the DAV namespace was added.

[2016-03-11 12:25] gjelsas commented on #23122
Hey there,

got the same issue, though I am no database expert. May I ask how you drop that table?

Thanks!

[2016-03-11 12:29] hengels7 opened #23153 "files:scan is hanging and upgrade to 9.0 is also hanging"
Hi,

I have three problems, that seem to be related .. this is, why I am filing a single issue for three problems here ..

There are about 200 more or rather less active users. The whole data directory is about 27GB in size.

### Steps to reproduce
A 1. start server and wait for some hours
or
B 1. sudo -u www-data php occ files:scan k.mall
or
C 1. install 9.0 files
C 2. sudo -u www-data php occ up

[2016-03-11 12:31] icewind1991 commented on #22978
It should be 31

[2016-03-11 12:32] larp-welt commented on #23054
The only thing I found about the namespace in releases list is this:

`2.6.19: Apr 02 2005

build fixes: drop .la from RPMs, --with-minimum build fix (William Brack), use XML_SOCKLEN_T instead of SOCKLEN_T because it breaks with AIX 5.3 compiler, fixed elfgcchack.h generation and PLT reduction code on Linux/ELF/gcc4
bug fixes: schemas type decimal fixups (William Brack), xmmlint return code (Gerry

[2016-03-11 12:35] blizzz commented on #22978
@icewind1991 setting them to 31 does not have any impact either.

[2016-03-11 12:50] icewind1991 commented on #22978
https://github.com/owncloud/core/pull/23154 should keep avatars visible even when we cant save the resized one

[2016-03-11 12:54] rullzer commented on #22978
No it is a file... so there are no create permissions right?

[2016-03-11 12:57] blizzz commented on #22978
The entry with empty name and path (parent -1) of my storage has permissions of 0. Is it how it should be? Maybe that should be 31 as well?

[2016-03-11 13:02] icewind1991 commented on #22978
Yes, that's the one that's actually important, that folder needs create permissions

[2016-03-11 13:06] blizzz commented on #22978
My data dir storage has almost 17k entries in the filecache. And most of them belong to users. Is this correct? if I exclude all the user related paths, I am down to 29 entries (inlcuding user folders).

[2016-03-11 13:10] blizzz commented on #22978
Changing this fixes it for me.

[2016-03-11 13:25] reuterbal commented on #23147
Probably the same as #22988

[2016-03-11 13:33] Florz commented on #22988
I am stuck with the same problem. The web interface works fine and it seems to use caldav. The request headers start with:
[code]
This gives back a list of my calendars. However if I try to execute the same request using curl I end up with this:
[code]
At the same time I get this error message:
[code]

[2016-03-11 13:33] rullzer commented on #22978
@icewind1991 so actually we would need a repair step to set the correct permissions on the parent?

[2016-03-11 13:41] icewind1991 commented on #23148
Can reproduce, will look into it

[2016-03-11 13:51] Marcwa19197 commented on #22988
@Florz if i do the same check, with your url scheme, i get a valid response, but thunderbird still say the calendar is unavailable..

[2016-03-11 14:25] tony5 commented on #17468
I am not 100% positive what causes the error disabling the updater app is one way to make it stop.
for me fixing the admin page setup errors and completing the configuration in the admin settings (user email etc) under personal makes the error stop.

even with OC 9.0 I get allot of errors in the logs until the admin page is setup correctly. after a completed configuration all errors stop for me. s

[2016-03-11 14:29] icewind1991 commented on #22720
cleanup step: https://github.com/owncloud/core/pull/23157

[2016-03-11 14:33] MTRichards commented on #21448
Is there a reason why we don't use heartbeat between Redis servers? My understanding is that it does the same thing and is available now. In other words, set up Redis servers and connect them with heartbeat so when one fails, it fails over to another and ownCloud is none the wiser.
@bboule Anything to add on that one?

[2016-03-11 14:35] karlitschek commented on #22729
actually it doesn't matter which mime type is sens when you only want to download. which is what the download action is. opening in the browser is different. so we really don't care about the exact mime type except in the described cases

[2016-03-11 14:38] alraban commented on #23134
I can confirm that I'm seeing the same thing here.  The LogTimeZone setting in the config.php does not appear to affect the actual timestamps in the logs, which breaks fail2ban.

[2016-03-11 14:39] sbryf opened #23158 "Argument 8 passed to OC\Core\Avatar\AvatarController::__construct() must be an instance of OCP\Files\Folder, null given"
Hi there,

I am getting the following error in the log:

Argument 8 passed to OC\Core\Avatar\AvatarController::__construct() must be an instance of OCP\Files\Folder, null given, called in /core/application.php on line 90 and defined at /core/avatar/avatarcontroller.php#86

OwnCloud 8.2.3
Encryption on
Shared webhoster
PHP 5.5.28

Any idea how to fix that? Seems to be related to $c->query('UserFold

[2016-03-11 14:48] rullzer commented on #22729
So of course you are right that we 'officially' only offer download. But I suspect a lot of people will start complaining if all of sudden their PDFs don't get openend in their favorite viewer right away etc..

[2016-03-11 15:01] blizzz commented on #23123
No, it would not have any impact, what the display name looks like does not matter.

The only way I can see it fails is that the DB reports affectedRows as 0 here:

https://github.com/owncloud/core/blob/master/lib/private/db/connection.php#L296

I will add a patch later for further debugging, since I cannot reproduce it here (might be DB specific. I also have MariaDB, but in version 10.1). Would y

[2016-03-11 15:14] Florz opened #23159 "calendar import creates wave of invitation mails"
### Steps to reproduce
1. go to calendar app
2. import calendar that contains mail adresses associated with appointments
### Expected behaviour

No mails should be sent if a calendar is imported.
### Actual behaviour

All participants of old appointments received an invitation mail.
### Server configuration

**Operating system**:
Debian GNU/Linux testing
**Web server:**
Debian GNU/Linux testing
**

[2016-03-11 15:16] MorrisJobke commented on #23159
@DeepDiver1975 That is what I wrote to you minutes ago in IRC

[2016-03-11 15:17] MorrisJobke commented on #23159
Ah. It was not during migration (automatically handled during the upgrade to 9.0) but while importing a new calendar?

[2016-03-11 15:17] DeepDiver1975 commented on #23159
Ah - we are talking about import

[2016-03-11 15:18] lbeckm3 opened #23160 "OCC upgrade failed - restarted server as db was down, reran upgrade and getting this "oc_trusted_servers" already exists."
Doctrine\DBAL\Exception\TableExistsException: An exception occurred while executing 'CREATE TABLE "oc_trusted_servers" ("id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT, "url" VARCHAR(512) NOT NULL, "url_hash" VARCHAR(255) DEFAULT '' NOT NULL, "token" VARCHAR(128) DEFAULT NULL, "shared_secret" VARCHAR(256) DEFAULT NULL, "status" INTEGER DEFAULT 2 NOT NULL, "sync_token" VARCHAR(512) DEFAULT NULL)':

[2016-03-11 15:18] DeepDiver1975 commented on #23159
Technically speaking there is no difference between creating a new event and importing one.
In both cases they are created in the db and any related processing triggered - also sending out notifications

[2016-03-11 15:21] Florz commented on #23159
Yes, I have two calendars. Due to the problems with caldav I tried to reimport one of them. After that I noticed those invitation mails. But only for this specific calendar. So I assume this has nothing to do with the migration.

[2016-03-11 15:40] cdamken commented on #16239
The customer asked about if we already found a solution, I will organize a call with him and see if it could be better to use the WND instead.

[2016-03-11 15:49] larp-welt commented on #23054
Ah, there is something:

I found this in https://github.com/tenderlove/libxml2/blob/master/ChangeLog

This got into libxml2 version 2.7.0:

[2016-03-11 15:49] cdamken commented on #21448
@MTRichards Master-Slave with Heartbeat would be my recommendation too. In the other hand, `redis-sentinel` provides more capabilities http://redis.io/topics/sentinel

[2016-03-11 15:54] rullzer commented on #23054
@larp-welt awesome thanks for looking into that!

@carlaschroder can we update the docs that we need at least libxml2 version 2.7.0?

@PVince81 @DeepDiver1975 We should probabaly add a check to the admin page as well.

[2016-03-11 15:56] cubical23 opened #23161 ""shared with you", "shared with others" and "shared by link" empty"
1. Login
2. goto "Files"
3. click "shared with you", "shared with others" or "shared by link"
4. nothing is shown

### Expected behaviour
Files or Folders that have been shared should be visible

### Actual behaviour
Nothing is shown (shared files do exist of course!), this happens since upgrading to 9.0.0

### Server configuration
CentOS 7

**Web server:**
apache httpd 2.4

**Database:**
mariadb

[2016-03-11 16:04] cubical23 commented on #23161
I guess I'm too late,  #23016 fixes this problem

[2016-03-11 16:05] #23161 closed

[2016-03-11 16:09] MTRichards commented on #21448
@MorrisJobke @pako81 Anyone discuss this with the SF above?
Is there a reason master/slave doesn't work for them?

[2016-03-11 16:13] mossholderm commented on #23123
Yes, I can test a patch, thanks.  Whenever you have it just let me know!

     --Matt

On Fri, Mar 11, 2016 at 10:01 AM, blizzz <notifications@github.com> wrote:

[2016-03-11 16:17] Xenopathic commented on #23123
I think I've got a patch that doesn't involve any DB-specific hackery, PR on the way

[2016-03-11 16:22] jnweiger commented on #20963
@enoch85 thanks for testing the dependencies.
Looks great to me. Only 7.0 packages installed. There is php5-user-cache suggested, but I am sure this is not owncloud related.

The php5 packages are listed as candidates for autoremoval. This is fine. Nothing to do here on my side.

[2016-03-11 16:27] jnweiger commented on #20963
to be released as part of 9.0.1

[2016-03-11 16:31] jkroepke commented on #20963
In my opinion, the package has too much dependencies. For example ldap or
samba libs are not required. There should be suggestions instead
dependencies.

Jürgen Weigert <notifications@github.com> schrieb am Fr., 11. März 2016,
17:29:

[2016-03-11 16:33] gdurin commented on #23132
I have the very same problem under Ubuntu 14.04

[2016-03-11 16:33] jnweiger commented on #22970
to be fixed with 9.0.1 thanks.
It has probably no effect anyway.

cheers, JW-

Am 11.03.2016 um 00:18 schrieb Christian Kujau:

--
Your Data, Your Cloud, Your Way!

ownCloud GmbH, GF: Markus Rex, Holger Dyroff, Frank Karlitschek
Schloßäckerstrasse 26a, 90443 Nürnberg, HRB 28050 (AG Nürnberg)

[2016-03-11 16:40] jnweiger commented on #20963
I agree. Logic for php7.0 and php5 should be same. changing to:
<pre>
Package: owncloud-deps-php5
Architecture: all
Provides: owncloud-deps
# https://github.com/owncloud/core/issues/21342
Depends: ${misc:Depends}, php5 (>= 5.4.0),
        php5-common, php5-gd, php-xml-parser, php5-intl, php5-mcrypt, php5-curl, php5-json,
        php5-mysqlnd | php5-mysql, php5-sqlite, php5-pgsql,
        php5-cgi

[2016-03-11 16:41] enoch85 commented on #20963
GREAT!!! :D Thanks @jnweiger Do you think you could release this for 9.0 already?

[2016-03-11 16:44] jnweiger commented on #20963
we are testing and discussing things. That belongs more to testing than to stable.

[2016-03-11 16:45] jkroepke commented on #20963
If I use nginx as application server, I do not require libapache2. I still
prefer to depends on php7.0 instead libapache2 or fpm..

Jürgen Weigert <notifications@github.com> schrieb am Fr., 11. März 2016,
17:41:

[2016-03-11 16:47] jnweiger commented on #20963
We can list alternatives there, so that one deps-php7.0 fits bot apache and nginx,
or we can split into deps-php7.0-apache and deps-php7.0-nginx ...

[2016-03-11 16:58] enoch85 commented on #20963
@jnweiger What I mean is that when the final decision is made, and this issue is closed - then it would be "stable" as it will go in 9.0.1 anyway, right?

[2016-03-11 17:13] oparoz commented on #15520
It's OC.Util.History now.

[2016-03-11 17:26] devuan2 commented on #22891
Just upgraded from 8.2 to 9.0. Calendar is borked from Lightning plugin. I'm using apache and redirecting to SSL by default. No other rewrites. I'm assuming from the above that I need to add a rewrite rule in sites-enabled/default-ssl.conf to make the calendar work?

[2016-03-11 17:30] Xenopathic commented on #23123
@mossholderm Try the patch in #23164, you can get it in .patch form here: https://patch-diff.githubusercontent.com/raw/owncloud/core/pull/23164.patch (ignore the changes to test files, they will probably fail to apply, the main file in lib/private/db is the only necessary one).

[2016-03-11 17:38] paurisa commented on #21588
Fixed the issue. Do I have to create a branch or can I do a pull request directly?

[2016-03-11 17:56] kaksikanaa opened #23165 "Admin page has dissapeared after upgrading to OC 9.0 from 8.2 on Arch linux"
### Steps to reproduce
1. Upgrade Owncloud 8.2 to 9.0 from Arch Linux (ARM) repositories with Pacman

### Expected behaviour:
Admin page should be found normally.

### Actual behaviour:
Admin page gives only blank page.

### Server configuration:
Arch linux arm
Apache 2.4.18
MariaDB 10.1.12
PHP 7  (7.0.4)
Owncloud 9.0 Stable

Updated from an older ownCloud 8.2. from Arch Linux (ARM) repos.

Users

[2016-03-11 18:06] jospoortvliet commented on #22976
I sure don't use LDAP, don't even have it enabled.

#23039 works for me.

[2016-03-11 18:12] netbeep opened #23166 "*dav sync not working anymore after upgrading to 9.0.0"
after upgrading OC from 8.2.2 to 9.0.0 the carddav and caldav sync is gone both for my android device and KDE contact.

### Steps to reproduce
1. did an upgrade:
sudo apt-get install owncloud
-->
2016-03-09 22:13:21 upgrade owncloud:all 8.2.2-1.1 9.0.0-1.1
2016-03-09 22:13:21 status half-configured owncloud:all 8.2.2-1.1
2016-03-09 22:13:21 status unpacked owncloud:all 8.2.2-1.1
2016-03-09 22:13:2

[2016-03-11 18:14] maste9 opened #23167 "Internal Server Error when logged in after Upgrade 8.2.2 to 9.0"
### Steps to reproduce
1. Follow  upgrade instructions for packages in administrator manual
2. After successful upgrade without any errors and turning off maintenance mode ...
3. ... try to login.

### Expected behaviour
I would like to have access to web interface and via desktop app as before.

### Actual behaviour
On desktop client  after successful login it moans not to be able to get the dire

[2016-03-11 18:15] rullzer commented on #23166
`PHP Warning: PHP Startup: Unable to load dynamic library '/usr/lib/php5/20131226/mysql.so' - /usr/lib/php5/20131226/mysql.so: undefined symbol: mysqlnd_connect in Unknown on line 0`

This is not owncloud failing but your php setup is broken. Please consult your distro docs on how to setup php+mysql.

[2016-03-11 18:15] #23166 closed

[2016-03-11 18:31] plinss commented on #22678
I have the same issue, more details:
If I un-share and re-share the calendar it does show up for the other users in the ownCloud web app, but it still not visible to iOS or OSX (El Capitan) CalDAV clients.
If I share the calendar to individual users instead of a group, it seems to work normally.

[2016-03-11 19:23] carlaschroder commented on #23054
master: 417cb860591f7f6fc3a68eaddf16eb5aad0ab939
stable9: 6b5947ba28a076bb0cd826f6576f8edbe644fe98

[2016-03-11 19:24] rullzer commented on #23054
Awesome thanks!

[2016-03-11 19:35] rullzer opened #23168 "Add setup check for libxml2 >= 2.7.0"
As shown in https://github.com/owncloud/core/issues/23054#issuecomment-195423190 we require at least libxml2-2.7.0.

I suspect this to be already the case for some time. But in 9.0 we switched to webdav also for the webUI.

Note libxml2-2.7.0 was released in august 2008. So it should not be a common issues.

Would be good to add a check for this in the setup warning.

[2016-03-11 19:53] HocEman commented on #23134
I am seeing the same behavior.  Log time stamps do not reflect the timezone set.

[2016-03-11 20:50] devuan2 commented on #22988
@Florz  - I upgraded from 8.2 to 9.0 this morning. Nothing works yet to bring back calendars. Have you found a fix yet?

$ curl -u myuser -X PROPFIND https://host.com/remote.php/dav/calendars/myuser/
Enter host password for user 'myuser':
<?xml version="1.0" encoding="utf-8"?>
<d:error xmlns:d="DAV:" xmlns:s="http://sabredav.org/ns">
  <s:exception>Sabre\DAV\Exception\NotFound</s:exception>
  <s:m

[2016-03-11 21:28] netbeep opened #23172 "CalDav/CardDav error 404 after upgrade to OC 9"
### Steps to reproduce
1. upgrade OC from 8.2.2 to 9.0.0
2. sync calendar/contacts of your android device / your PIM with OC using caldav/carddav

### Expected behaviour
calendar/contact data should be in sync with OC server

### Actual behaviour
local data are gone :-(
New setup of caldav/carddav with the URL provided via OC webgui does not help.
KDE Kontact: "Bei der Abfrage ist ein Problem aufg

[2016-03-11 21:51] mikebabb commented on #23090
I'm having the same problem on a clean install of ownCloud 9. Like the OP, I've installed ownCloud in the root of my webserver rather than a subdirectory and I receive the message about a problem with the integrity check. Clicking "more information" takes me to `/apps/files/#security-warning`, which never loads or offers any further information.

I'm also seeing "no apps available for this version

[2016-03-11 21:57] mossholderm commented on #23123
That did the trick!

[2016-03-11 22:09] Loki3000 commented on #23147
Seems that I found reason. Issue that Auth is case insensitive, but ACL is case sensitive.
As a result in file
3rdparty/sabre/dav/lib/DAVACL/Plugin.php
happened follow:
https://domain/remote.php/dav/addressbooks/users/User/contacts/
User:password

[code]
and for user:password it will be that:
[code]
as a result, condition
[code]
is never met and $collected always empty. As a result, we get error 4

[2016-03-11 22:16] Loki3000 commented on #22988
Seems that I found bug: auth login is case insensitive, but ACL - yes.
Try to enter login exacly as it's stored in DB. In my case it was solution. But it's must be fixed in core.
Details: https://github.com/owncloud/core/issues/23147#issuecomment-195572329

[2016-03-12 00:34] tigermick commented on #21173
Hi,

I have updated my owncloud with the recent 9.0 release and I have the same problem ... all works fine in web interface whereas thumbnails won't load in external storage only in owncloud application...

[2016-03-12 01:13] szepeviktor opened #23173 "Favoriting a "San Franciso.jpg" fails"
It is not possible to favorite a file with a space in its name.

### Actual behaviour
"An error occurred while trying to update the tags" by JS.

### Server configuration
**Operating system**: Debian Jessie

**Web server:** Apache 2.4/PHP-FPM 5.6

**Database:** MariaDB

**PHP version:** 5.6

**ownCloud version:** 9.0.0

**Where did you install ownCloud from:** tar

**List of activated apps:**
Enab

[2016-03-12 01:27] enoch85 commented on #22977
How can I debug this? @LukasReschke

[2016-03-12 01:34] enoch85 commented on #22977
Just noticed, it happens on some VMs and other not. Just tested to download and mount it again and the error was gone. Will keep investigating.

[2016-03-12 05:34] fengkaijia opened #23174 "No variable sent to listApps method in AppSettingsController"
### Steps to reproduce
1. Visit Apps Page https://OWNCLOUD/index.php/settings/apps
2. Click any tab but "Enabled", e.g. "Not enabled"

### Expected behaviour
Apps matching the tab name, e.g. "Game", displayed.

### Actual behaviour
It still displays all enabled apps.

### Server configuration
**Operating system**:
Ubuntu 14.04
**Web server:**
Nginx
**Database:**
MySQL
**PHP version:**
5.5
**ownClo

[2016-03-12 06:28] BernieO commented on #22993
Hi,
I got the same error on occ upgrade:
`Base table or view already exists: 1050 Table 'oc_activity' already exists`
After deleting that table (was empty) and running the upgrade again I got:
`Base table or view already exists: 1050 Table 'oc_activity_mq' already exists`
Then after deleting the tables `oc_activity` AND `oc_acitivity_mq` (both were empty) the upgrade (8.2.3->9.0.0) ran through wit

[2016-03-12 07:09] maste9 commented on #23167
Examining the log I spot the _Base table or view not found: 1146 Table 'owncloud.oc_external_mounts' doesn't exist_ message. Again, there's been any error message while upgrade or integrity test yesterday.
Is it possible that this missing table is cause for the ISE?

[2016-03-12 07:59] PaulAnnekov commented on #21373
@LukasReschke 8.2.3 is out, but this bug is still not fixed. Milestone is set to 8.2.3.

[2016-03-12 08:33] RealRancor commented on #23054
@frafra Out of curiosity: You're running Debian 5.0 which got the last security updated in February 2012?

[2016-03-12 08:44] conloos commented on #23052
Hi,

i have the same problem.
How can i scan for orphan shares?

Clean up the orphan shares seems the right solution for me.

Thanks Con

[2016-03-12 09:55] schnello commented on #23134
I can it also confirm the problem.

`
{"reqId":"rRw4WfPoRl0DscSMS8mb","remoteAddr":"185.65.xxx.xxx","app":"core","message":"Login failed: 'User' (Remote IP: '185.65.xxx.xxx')","level":2,"time":"2016-03-12T09:30:18+00:00"}
root@nas:/home/nas# date
Sat Mar 12 10:30:51 CET 2016
`

`
root@nas:/home/nas# cat /var/www/owncloud/config/config.php | grep time
  'logtimezone' => 'Europe/Berlin',
root@nas:/h

[2016-03-12 11:10] argv1 opened #23175 "The update was unsuccessful. (8.2.2 to 9.0.0)"
### Steps to reproduce
1. Uploaded the files in a new folder
2. Rename the old and new installtion
3. Run the update page

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

Got this error message:
Doctrine\DBAL\Exception\TableExistsException: An exception occurred while executing 'CREATE TABLE `ocw_notifications` (`notification_id` INT AUTO_INCRE

[2016-03-12 11:36] RealRancor commented on #23175
Probably related or even a duplicate of: https://github.com/owncloud/core/issues/22993 (Even if its another table).

[2016-03-12 11:40] mafigo opened #23176 "xml file is converted do txt downloading in chrome"
### Steps to reproduce
1. upload xml file to owncloud
2. download file with chrome (works fine in firefox, ie and edge), choose download from the pop-up menu, it works ok if the download link from selected file check box is used.
3.

### Expected behaviour
the file extension of the downloaded file should be xml

### Actual behaviour
the file is converted to txt

### Server configuration
centos 7
*

[2016-03-12 11:41] olerichter commented on #23052
Hey in #22976 in the first post they proposed a short term fix, should also apply to this issue or try the  icewind1991 fix as mentioned above. To "scan" for not working shares is a little complicated because you need check the log constantly, edit the DB and have a little knowlage about the shares and the users, and never the less **never try manual editing of the DB it on a production system**!

[2016-03-12 12:17] Xenopathic commented on #23152
Truncating oc_filecache will destroy all information ownCloud has about your files, such as shares. It will also cause every sync client to re-sync every file. TL;DR: don't do this.

It's a known problem with external storages that external changes are not detected. Currently there's not much we can do about this, but some people have had success running `occ files:scan` in a cron job to trigger a

[2016-03-12 12:29] myjar opened #23177 "Unable to decrypt files on 8.2.2"
### Steps to reproduce
1. Click to download file
2. Files download begins then dies.

1. Try to decrypt users files from command line using recovery key.
2. Fails with

 [-->-------------------------]PHP Fatal error:  Call to a member function get() on a non-object in /var/www/owncloud/apps/files_sharing/lib/updater.php on line 77

### Server configuration
Server: Ubuntu 14.04
Database: MYSQL
OC-V

[2016-03-12 12:51] samuelstein commented on #22968
i have mysql 5.5.46-0 and php 5.5. now the table oc_calendars is the problem. i get the error `Syntax error or access violation: 1071 Specified key was too long; max key length is 1000 bytes`

[2016-03-12 12:52] thejabok opened #23178 "Switching between file list and gallery view not working in 9.0.0"
### Steps to reproduce
1. In Files app, navigate to folder containing images in Web GUI
2. After file list has loaded, click on "gallery" icon on top right

### Expected behaviour
GUI should switch to gallery view and display images in folder as thumbnails.

### Actual behaviour
When a certain number of images in the folder is exceeded (in my case ~10), the file app reloads the page and shows file

[2016-03-12 13:10] RealRancor commented on #23178
AFAIK this "Gallery" icon is provided by the Gallery app so its probably better to close here and re-open in: https://github.com/owncloud/gallery/issues

[2016-03-12 13:14] RealRancor commented on #23177
Is this your forums thread: https://forum.owncloud.org/viewtopic.php?f=36&t=34271

It might be useful then to note that you have reverted to a backup and that this might be related to https://github.com/owncloud/core/issues/22042 as pointed out in the forums thread.

[2016-03-12 13:15] thejabok commented on #23178
Thanks, @RealRancor, will do!

[2016-03-12 13:53] michag86 opened #23179 "Provisioning API addToGroup as group admin"
Group admin cannot use addToGroup to do the same tasks like the user management in web ui.

https://github.com/owncloud/core/blob/v9.0.0/apps/provisioning_api/lib/users.php#L389

[2016-03-12 13:59] michag86 opened #23180 "Provisioning API removeFromGroup for group admins"
Group admins cannot remove themself from a group:
https://github.com/owncloud/core/blob/v9.0.0/apps/provisioning_api/lib/users.php#L450

But why? A group admin can remove everybody from a group that is member of a group he administrates.

The only case where this should be denied if the group admin removes the user from the last group the user is member of and gives permission to the group admin.

[2016-03-12 14:02] frafra commented on #23054
@RealRancor that's not my server; this ownCloud instance is running on a shared hosting service. I just filled a ticket.

[2016-03-12 14:04] lorddoumer opened #23181 "Encryption no longer working after update from 8.2.2 to 9.0.0"
### Steps to reproduce
1. Upgrade owncloud (manual upgrade since I'm on a shared host without root or shell access)
2. Upload new file

### Expected behaviour
File gets uploaded and encrypted as the existing files

### Actual behaviour
upload never finishes, errors in log

### Server configuration
**Operating system**:
Linux

**Web server:**
Apache

**Database:**
MySQL 5.1

**PHP version:**
5.5

*

[2016-03-12 14:06] RealRancor commented on #23054
Ok :-)

Then its really time to switch the hosting provider :-)

[2016-03-12 14:13] myjar commented on #23177
Yes that is my thread. I will close that as didn't think to raise it here at first.

The only part that was backed up and then restored was the actual user folders, and not the entire data folder, will this have an impact?

Will read through the link issue and update.

[2016-03-12 15:09] Florz commented on #22988
@Marcwa19197 thanks for the tip! You were right. I had to type my username with a small "f". That fixed it.

@devuan2 with the correct username I was able to use this URL for my default calendar (also notice the small "f" in my username here):
https://domainname.tld/owncloud/remote.php/dav/calendars/florz/defaultcalendar/

[2016-03-12 15:26] seebk commented on #18962
Problem does not appear anymore. Now Chrome, Firefox, ... all get the same cached assets.

[2016-03-12 15:46] lorddoumer commented on #23181
ok since nothing seems to work i decided to start from scratch but after installation and enabeling the encryption app I always get the message "Verschlüsselung-App ist aktiviert, aber Ihre Schlüssel sind nicht initialisiert. Bitte nochmals ab- und wieder anmelden".
when I do this I get anothe rerror "es ist ein interner fehler aufgetreten" WTF

[2016-03-12 15:56] RealRancor commented on #23178
Ref: https://github.com/owncloud/gallery/issues/591

[2016-03-12 16:12] SchroSct opened #23182 "File Search not working"
### Steps to reproduce
1. Run owncloud 9.0
2. Search files

### Expected behaviour
Files should be listed.

### Actual behaviour
'Searching other places' and the spinner lasts forever.

### Server configuration
**Operating system**:
Ubuntu 15.10

**Web server**:
Apache2 2.4.12

**Database:**
mysqld Ver 5.6.28

**PHP version:**
PHP 5.6.11

**ownCloud version:**
9.0.0 stable

**Updated from an older

[2016-03-12 16:46] netbeep commented on #23172
Sorry - was blind:
CalDAV / CardDAV URLs no longer working after upgrading to 9.0 #22988
is already handling the issue and finally also solved my problem

Thx to the guy from that thread!

[2016-03-12 16:46] #23172 closed

[2016-03-12 16:56] lorddoumer commented on #23181
woha managed to get the occ command to work by upgrading my php version and using /usr/bin/php5.5-cli occ
will this help to get encryption working?

[2016-03-12 17:10] jejb opened #23183 "owncloud upgrade from 8.2.2 to 9.0.0 fails"
Log:

bedivere:~# sudo -u www-data /var/www/owncloud/occ  upgrade
ownCloud or one of the apps require upgrade - only a limited number of commands are available
You may use your browser or the occ upgrade command to do the upgrade
Set log level to debug
Checking whether the database schema can be updated (this can take a long time depending on the database size)
Checked database schema update
Check

[2016-03-12 17:31] lorddoumer commented on #23181
so there is no point in trying any longer: whatever you did to 9.0 it totally broke encryption :(
installed 8.2.3 from scratch again and everything is working smooth ... please please please repair 9.0 or und the changes, otherwise owncloud won't be meaningless without encryption.

[2016-03-12 17:37] myjar commented on #23177
Ok, I have applied the patch and set encrypted to 1 on the users files, but I am still unable to download or see them.

What am I missing?

[2016-03-12 17:42] fracture-point commented on #22988
I had lots of (similar) issues on 8.2.2-->9.0 upgrade on Ubuntu 14.04.  I logged a bug with the calendar repo: https://github.com/owncloud/contacts/issues/199

Contacts are actually there, they just take a long time to show up (and the UI says there are no contacts during that time).

[2016-03-12 17:53] jejb commented on #23183
I think it might be something to do with the sqlite3 memory requirements.  Removing the data directory, restoring from backup, shutting down most of the running services and re-doing the update worked.

[2016-03-12 17:58] lorddoumer commented on #23181
AH CRAP, now it says webdav is not working.
because app dav is not installed and indeed the folder contains only a test folder - where do i get this damn app from???

[2016-03-12 18:05] fbartels opened #23184 "Regression: Login fails for direct "App" access from external (Android) app."
The issue has previously been discussed at https://github.com/owncloud/news/issues/936, https://github.com/owncloud/News-Android-App/issues/499 and https://github.com/Fmstrat/ownnote/issues/286

### Steps to reproduce
1. Have owncloud 9 with users in ldap and the owncloud news app installed
2. install owncloud news app for android and try to login

according to above tickets the same was also happ

[2016-03-12 18:27] lorddoumer commented on #23181
what a nightmare, the whole day is fucked up and nothing is working anymore fuck

[2016-03-12 18:38] StrannikST commented on #23134
I decided this issue . One possible solution is: file owncloud \ lib \ private \ log \ owncloud.php replace strings

[code]

on

`$time = new DateTime(null, $timezone);`

[2016-03-12 18:50] macgeneral opened #23185 "OC9 .htaccess file breaks apache in CentOS 7 with Plesk 12.50 and php-fpm 7.0.3"
I'm sorry if this is just a problem with my configuration (Plesk 12.50) or with the way how I handle your .htaccess file, but I'll report it anyways maybe someone is able to reproduce it. (And maybe it helps other people)

This newly added rewrite block breaks my owncloud installation:
  # Rewrite rules for `front_controller_active`
  Options -MultiViews
  RewriteRule ^core/js/oc.js$ index.php/cor

[2016-03-12 19:04] RealRancor commented on #23185
Might be a duplicate of https://github.com/owncloud/core/issues/22970 which got fixed by https://github.com/owncloud/core/pull/23029

The:

is probably something you need to fix in your webservers config:

http://kx.cloudingenium.com/linux/apache-web-server/solve-apache-error-htaccess-option-multiviews-allowed/

[2016-03-12 19:07] RealRancor commented on #23183
quoting @DeepDiver1975 from https://github.com/owncloud/core/issues/23013

Please also just don't delete the issue template and provide the info asked within it in further reports.

Its also really advised to migrate from sqlite to MySQL or PostgreSQL for the reasons described in the documentation.

[2016-03-12 19:12] schnello commented on #23134
Thx @StrannikST for the temp solution

[2016-03-12 19:19] macgeneral commented on #23185
Thanks for the fast reply. Yes it seems to be a duplicate.

[2016-03-12 19:19] #23185 closed

[2016-03-12 19:38] StrannikST commented on #23134
You’re welcome

[2016-03-12 19:57] LukasReschke commented on #23181
Please provide your phpinfo and use less fuck's thanks.

[2016-03-12 19:59] #23183 closed

[2016-03-12 20:05] lorddoumer commented on #23181
Sorry, I'm just rellay exhausted and desperate at this point now...

[phpinfo.zip](https://github.com/owncloud/core/files/170599/phpinfo.zip)

[2016-03-12 20:12] lorddoumer commented on #23181
heres the log when I try to  connect with the client:

{"reqId":"VuR31QouCIoAADfePLAAAAAx","remoteAddr":"IP","app":"PHP","message":"Array to string conversion at \/PATH\/owncloud\/lib\/private\/template\/functions.php#36","level":3,"time":"2016-03-12T20:11:01+00:00"}
{"reqId":"VuR31wouCIoAAEqZv5oAAAAf","remoteAddr":"IP","app":"PHP","message":"require_once(\/PATH\/owncloud\/apps\/dav\/appinfo\/v1\/

[2016-03-12 20:18] LukasReschke commented on #23181
:see_no_evil:

Can you upload a file with the content `<?php var_dump(openssl_get_cipher_methods());` and post the content? Probably CTR is a OpenSSL 1.0.1 thing then…

Technically 0.9.8 is EoL as per https://www.openssl.org/blog/blog/2014/12/23/the-new-release-strategy/. As far I can see even CentOS 6 ships with 1.0.1 so your hoster uses _really_ ancient stuff.

That looks like you did not correc

[2016-03-12 20:22] LukasReschke opened #23186 "Integrity Check: Move excluded files/folders into config array"
Ref https://github.com/owncloud/core/blob/5862a067d9d67d3ef70cb064009f81b47ed15efd/lib/private/integritycheck/iterator/excludefoldersbypathfilteriterator.php#L35-L41

[2016-03-12 20:24] lorddoumer commented on #23181
thanks for looking into it!
I'm on a 1&1 shared linux package. since I have everything else (internet, phone, mobile) with them I decided back then to also use one of their packages. and since oc5 everythign worked so far..

here is the oputput:

array(102) { [0]=> string(11) "AES-128-CBC" [1]=> string(11) "AES-128-CFB" [2]=> string(12) "AES-128-CFB1" [3]=> string(12) "AES-128-CFB8" [4]=> string(1

[2016-03-12 20:47] LukasReschke commented on #23181
@karlitschek Your call required here. So the issue here is that the 9.0 encryption app uses AES-CTR-256 by default instead of AES-CBC-256. The problem being here that AES-CTR-256 seems only to be available since OpenSSL 1.0.1 (2012) while OpenSSL 0.9.8 (2005) doesn't have it.

This usually is not a problem. Any decent distribution is shipping 1.0.1 at the moment since 0.9.8 is end of life and nobo

[2016-03-12 20:48] Loki3000 opened #23187 "memcache key issue in OC9"
### Steps to reproduce
1. go to https://domain.site.net/index.php/apps/activity/api/v2/activity/all?format=json&previews=true&since=0 (it's request from activity app)

### Expected behaviour
JSON with a result

### Actual behaviour
Server error

In server error log "Error 33 interacting with memcached : A BAD KEY WAS PROVIDED/CHARACTERS OUT OF RANGE"
The reason is in key generation in
lib/private/

[2016-03-12 20:54] LukasReschke commented on #23181
@lorddoumer As a workaround specify `'cipher' => 'AES-256-CFB',` in your config file. That should work. Won't fix your other problems in your log however. Those are independent.

[2016-03-12 20:55] LukasReschke commented on #23187
Dupe of https://github.com/owncloud/core/issues/23076. Potential workaround is also there at https://github.com/owncloud/core/issues/23076#issuecomment-194799114

[2016-03-12 20:55] #23187 closed

[2016-03-12 20:56] LukasReschke commented on #23076
@nickvergessen Seems good as an intermediate workaround. Still thinking about what we can do for future releases to prevent this from happening in other places…

[2016-03-12 21:00] LukasReschke commented on #23173
Can you provide the system logs as well as the response received by ownCloud in your browser? Thanks a lot.

(use your browsers' network console for that)

[2016-03-12 21:07] gmernov opened #23188 "Missing Centos 6 repositories for 9.X.X"
Hi, as long as i see, there's no repository of the line 9.X.X for Centos 6.X. It would be nice be have such in: https://download.owncloud.org/download/repositories/stable/owncloud/

[2016-03-12 21:17] LukasReschke commented on #23188
cc @jnweiger

[2016-03-12 21:20] LukasReschke commented on #23176
We should probably add the filename to the Content-Disposition header.

![2016-03-12_22-19-40](https://cloud.githubusercontent.com/assets/878997/13725395/872f0740-e8a0-11e5-84fb-d5b5348954fb.png)

[2016-03-12 21:22] RealRancor commented on #23188
according to:

https://owncloud.org/blog/time-to-upgrade-to-owncloud-9-0/

so there should be at least a repo for CentOS 6 containing owncloud-files

[2016-03-12 21:23] LukasReschke commented on #23136
Can reproduce.

[2016-03-12 21:34] lorddoumer commented on #23181
@LukasReschke oh god thank you so much!!! it works! this single line costs me 9 hours.... but hey, now it works! the webdaverror seems related to the back-and-forth with the 8.2.x versions now my files are uploading again and I have to find a way to reimport my contacts and calaendars.

regarding your decision: that's a fair point and absolutely understandable security-wise, but i guess like me so

[2016-03-12 21:34] LukasReschke commented on #23139
Please fill out the issue template. Thanks a lot.

[2016-03-12 21:39] RealRancor commented on #23181
or switching to a provider not running ancient distros

Just an additional pointet to this. Please read the description of the encryption app. If you want to protect your data from your hoster you need client side encryption.

[2016-03-12 21:50] lorddoumer commented on #23181
@RealRancor

any recommendations?

[2016-03-12 21:50] LukasReschke commented on #23182
Which apps do you happen to have installed? Thanks a lot.

[2016-03-12 21:57] karlitschek commented on #23181
@LukasReschke Option 1 please.

[2016-03-12 21:57] SchroSct commented on #23182
Enabled:
  - activity: 2.2.1
  - bookmarks: 0.666666
  - calendar: 1.0
  - comments: 0.2
  - contacts: 1.0.0.0
  - dav: 0.1.5
  - documents: 0.12.0
  - external: 1.2
  - federatedfilesharing: 0.1.0
  - federation: 0.0.4
  - files: 1.4.4
  - files_clipboard: 0.4.2
  - files_external: 0.5.2
  - files_mv: 0.8.2
  - files_pdfviewer: 0.8
  - files_sharing: 0.9.1
  - files_texteditor: 2.1
  - files_tras

[2016-03-12 22:05] lorddoumer commented on #23181
phew, thank you – there isn't really an alternative to owncloud out there and switching to a new hoster isn't always that easy.

[2016-03-12 22:18] LukasReschke commented on #23181
Totally untested fallback can be found at https://github.com/owncloud/core/pull/23192. Whoever has this kind of setup is welcome to test it.

[2016-03-12 22:21] #23175 closed

[2016-03-12 22:22] LukasReschke commented on #23167
@icewind1991 @DeepDiver1975 Any idea what can cause this kind of missing table in the DB?

[2016-03-12 22:23] LukasReschke commented on #23160
Please fill out the issue template. Thanks a lot.

Also if the upgrade failed to restore from a backup and then retry the update. Please try that again as well.

[2016-03-12 22:23] #23160 closed

[2016-03-12 22:23] LukasReschke commented on #23153
@icewind1991 Any idea?

[2016-03-12 22:25] LukasReschke commented on #23165
You need to properly update which means deleting everything except `data` and `config` before and after that upload the new files. In this case an old incompatible app is still there => :bomb:

[2016-03-12 22:25] #23165 closed

[2016-03-12 22:25] lorddoumer commented on #23181
@LukasReschke sorry for the noob-question: i just have to edit the crypt.php and deactivate the workaround, right?

[2016-03-12 22:25] LukasReschke commented on #23158
Can you please fill out the whole issue template? Thanks a lot.

[2016-03-12 22:26] LukasReschke commented on #23152
@PVince81 What to do about this one?

[2016-03-12 22:27] LukasReschke commented on #23140
Will take a look next week.

[2016-03-12 22:28] LukasReschke commented on #23181
This is correct.

[2016-03-12 22:32] LukasReschke commented on #23147
cc @DeepDiver1975

[2016-03-12 22:33] LukasReschke commented on #23147
I don't have an Android phone myself but from what I can see in your logs there are authentication requests done at the wrong endpoint. Would it be possible for you to attach a proxy and share the sniffed traffic with me? (you can find my mail address in my profile)

[2016-03-12 22:34] lorddoumer commented on #23181
okay working fine, thank you very much!
should I close this issue now?

[2016-03-12 22:35] LukasReschke commented on #23181
@lorddoumer It will automatically be closed once the Pull Request is merged. Can you comment on the Pull Request as well that this worked for you?

[2016-03-12 22:38] lorddoumer commented on #23181
@LukasReschke sure, thanks again!

[2016-03-13 00:59] archfoe opened #23193 "Wrong File opens / thumbnail not updated"
### Steps to reproduce
1. I have to give you my username and password
2. my original file in images display a different thumbnail, after clicking on it displays different image
3.

### Expected behaviour
Tell us what should happen
It should open the original file name, not some other image file
### Actual behaviour
Tell us what happens instead
it shows completely different images from the filename

[2016-03-13 07:33] smirkybg commented on #23193
I confirm this since upgrading to OC 8.2 to 9.0. I get different thumbnails and image previews, but the name of the image file is the correct one. If you download it with the download button, it's the original one too.

[2016-03-13 08:46] orefimi opened #23194 "Update problem 8.2.2 to 9.0.0"
Hallo ,

after update from 8-2-2 to 9 , I got this message , please HELP!!!

I read that I should drop some database table but I don't know how and I have MariaDB. Can someone help?

Doctrine\DBAL\Exception\TableExistsException: An exception occurred while executing 'CREATE TABLE "oc_notifications" ("notification_id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT, "app" VARCHAR(32) NOT NULL, "user" VA

[2016-03-13 09:03] shhristov commented on #23140
Thank you!

[2016-03-13 09:24] RealRancor commented on #23194
Probably related or even a duplicate of: #22993 (Even if its another table).

[2016-03-13 09:27] orefimi commented on #23194
How can I remove a table?????

Michele Orefice
+49 172 1825933

[2016-03-13 09:34] RealRancor commented on #23194
@orefimi It should be easy to open your browser and search how to remove a table in mysql. Short hint with a 5 seconds search: https://dev.mysql.com/doc/refman/5.7/en/drop-table.html

[2016-03-13 09:48] devlumberjack opened #23195 "Using directory /var/tmp does not work for shared hosters"
### Steps to reproduce
1. Setup owncloud 9 on a shared hoster (e.g. strato.de)
2. Configure (MySQL DB, give admin the password) ... and so on

3. Login as user (whoever), chosse "calendar app" > try to create a new calender
4. can not create a new calendar via CalDav Client

### Expected behaviour
a new calendar should be created

### Actual behaviour
nothing
Excerpt from Logfile (all personal dat

[2016-03-13 10:00] #23194 closed

[2016-03-13 10:08] RealRancor commented on #23195
@devlumberjack As written in https://github.com/owncloud/calendar/issues/320:

[2016-03-13 10:12] RealRancor opened #23196 "Ubuntu 12.04, 14.04 and 15.10 missing oC 8.2.3 packages"
Currently only 14.10 and 15.04 have 8.2.3, the others have 8.2.2

https://download.owncloud.org/download/repositories/8.2/owncloud/

[2016-03-13 10:24] Hoshpak commented on #22988
I have encountered the same issue after upgrading from owncloud 8 to owncloud 9.0. The upgrade and migration was successfully but trying to access CalDAV or CardDAV with existing LDAP users just results in "404 Principal with name $name not found", for regular owncloud users it works.

I spent a few hours digging through the code yesterday but either due to the complexity of the owncloud code or m

[2016-03-13 10:42] orefimi commented on #23194
Sorry I don 't have too much experience : I have MariaDB not Mysql. Which are the differences? In MariaDB I listed the DB but owncloud DB is empty!

    Il Domenica 13 Marzo 2016 10:34, RealRancor <notifications@github.com> ha scritto:

 @orefimi It should be easy to open your browser and search how to remove a table in mysql. Short hint with a 5 seconds search: https://dev.mysql.com/doc/refman/5.

[2016-03-13 10:46] orefimi commented on #23194
Here :

MariaDB [mysql]> use owncloudDatabase changed
MariaDB [owncloud]> show tables
    -> ;
Empty set (0.00 sec)

MariaDB [owncloud]>

    Il Domenica 13 Marzo 2016 11:42, Michele Orefice <orefice.michele@yahoo.it> ha scritto:

 Sorry I don 't have too much experience : I have MariaDB not Mysql. Which are the differences? In MariaDB I listed the DB but owncloud DB is empty!

    Il Domenica 13

[2016-03-13 11:01] orefimi commented on #22993
I have some questions
1 - I have MAriaDB, is it the same?
2- inmary DB I hava a DB , name owncloud but it is empyt, where should I found the tables to be dropped?

Thanks!

[2016-03-13 11:03] devlumberjack commented on #23195
Thanks for the information and the link! I will try that. I think you can close the Issue.

Hint: I'm running owncloud 8.1.7 on such limited / restricted environment ...and had not to specify the temp directory. I will spread the info.

[2016-03-13 11:20] RealRancor commented on #23194
Please use the option listed at https://owncloud.org/support/ for such support questions and watch https://github.com/owncloud/core/issues/22993 if a solution is provided there.

[2016-03-13 11:21] RealRancor commented on #23195
Hi,

i think you can keep this open until you have tested the config switch and if it works then you can close it on your own by hitting the "close" button below the comment field.

[2016-03-13 11:26] maste9 commented on #23167
Short notice:
Thx that the admin manual strongly advices to take a backup before upgrading and in regard to my unfortunate experience  with the last 6 updates I could restore my cloud last night.
I guess I will repeat upgrade process in a few weeks (after backing up of course) and hoping that the error will be fixed in any way until then. Unless I'll let you know ...

[2016-03-13 11:38] orefimi commented on #22993
I solved : I removed the app "notifications" and then it runs

[2016-03-13 12:07] kaksikanaa commented on #23165
Ok, that was situation after successful update according the installers messages. As a bit NOOB here, I just wonder what I should really do? Should I just uninstall the Owncloud via pacman and then reinstall it again via pacman and then copy those "old" data and config directories over that new installation?

[2016-03-13 12:47] imjalpreet opened #23197 "Link to the folder/file is broken/wrong in the email sent via internal share."
### Steps to reproduce
As a logged-in user,

1. Try to share a folder with another ownCloud user(i.e., via internal share).
2. Notify that user via email by selecting that check-box.

### Expected behaviour
The ownCloud user should receive a mail such as the one in the screenshot. The email contains a link to the shared folder/file. On clicking that link, we should be redirected to the respective

[2016-03-13 12:49] aspdye opened #23198 "Give DAV-App its own Repository"
I think, it would be a good idea, to give the dav-app (CalDAV, CardDAV, WebDAV) introduced with ownCloud 9 a new home. An own Repository. There are many new open issues (according to the Calendar and Contacts Backend) which have no direct connection to the "core".

[2016-03-13 12:57] imjalpreet commented on #23197
Possible Error: [`/lib/private/share/mailnotifications.php`](https://github.com/owncloud/core/blob/master/lib/private/share/mailnotifications.php#L134)
So, changes are to be done in the above mentioned file, maybe one or two small changes would make it to work.

[2016-03-13 13:08] rullzer commented on #23198
I don't feel this is a good idea. The new dav app is (and in the future even more) an essential part of core. And we need to make sure it gets tested as often as possible. So all CI should be run. For example all client (including the web UI) use webdav to show the files.

Maybe new labels for the caldav/carddav stuff would be a good idea.

[2016-03-13 13:11] aspdye commented on #23198
Splitting the label "app:dav" into:

app:dav_caldav
app:dav_carddav
app:dav_webdav

:wink: I understand the point with the CI tests :+1:

[2016-03-13 13:21] oparoz commented on #23197
Interesting, it works when using a real domain, but `files/index.php` should be `/index.php/apps/files/` instead, or a URL without index.php if the server supports it.

What do you think @rullzer ?

[2016-03-13 13:35] RealRancor commented on #23197
Something similar was also reported for the links within the activity feed here:

https://forum.owncloud.org/viewtopic.php?f=38&t=34260

[2016-03-13 13:55] MorrisJobke commented on #21448
It's about adding complexity to the maintenance of the system. As far as I understood this they want to off-load the maintenance of the fallback to ownCloud client side code (client side here refers to the redis-client).

[2016-03-13 14:28] #23198 closed

[2016-03-13 14:29] DeepDiver1975 commented on #23198
We had long discussions about the location of the DAV app. We keep it in core.

[2016-03-13 14:58] perohen opened #23199 "No files shown in the web interface and many JavaScript errors in the console after fresh ownCloud 9.0.0 installation"
### Steps to reproduce
1. Install ownCloud from zip file
2. Run the Installation Wizard
3. Log in

### Expected behaviour
I should be able to start using the application and upload my files and directories.

### Actual behaviour
After logging in neither skeleton files nor upload functions are shown in the web interface. I also see many JavaScript errors in the Google Chrome's JavaScript console.

[2016-03-13 15:39] captainwasabi commented on #22988
same issue, using LDAP authentication.  :(  Gonna have a user revolt tomorrow!!

It seems like maybe it's because the username I log in with is not the same as the username that it uses in the URL (which is a GUID thing)

curl gives me this to any url that has the guid in it:

<d:error xmlns:d="DAV:" xmlns:s="http://sabredav.org/ns">
  <s:exception>Sabre\DAV\Exception\NotFound</s:exception>
  <s:m

[2016-03-13 16:24] esphen commented on #22977
Just chiming in to say I am also seeing this. My personal owncloud is in a docker container behind an apache proxy which terminates TLS. Admin panel is unusable, unfortunately. Everything else seems to work fine

[2016-03-13 16:29] perohen commented on #23199
I just noticed that if I open the oc.js file on my browser it says: "No input file specified." But if I change the url from http://mydomain/owncloud/core/js/oc.js?v=2283f8413653a56b24f06ec30a36f55b to http://mydomain/owncloud/**index.php**/core/js/oc.js?v=2283f8413653a56b24f06ec30a36f55b the file opens normally.

Maybe this problem is caused by the new .htaccess file, because I don't have this pro

[2016-03-13 17:01] enoch85 commented on #22977
@espenaf Thanks for confirming! Have you found the cause of the error?

[2016-03-13 17:21] RealRancor commented on #23199
Can you try the patch in https://github.com/owncloud/core/pull/23029

[2016-03-13 17:31] oparoz opened #23200 "View is not refreshed when entering a folder after having drag-dropped images from the desktop onto that folder"
### Steps to reproduce

1. create a folder
2. drag a dozen image **from the desktop** and drop them on top of the new folder
3. Enter the folder

### Expected behaviour

The view should get updated as new images are uploaded

### Actual behaviour

I see the few images which have been uploaded before I entered the folder, but I don't get to see the rest until I refresh the page

### Server configur

[2016-03-13 17:35] Loki3000 commented on #23147
@LukasReschke, I send dump to your email.

[2016-03-13 17:39] Marcwa19197 commented on #22988
anyone else expecting very very slow webdav connection with webdav-clients?

[2016-03-13 18:17] ryannix123 commented on #22959
We use MySQL as OC's backend database and I got the same error as those that use SQLite.

[root@owncloud html]# sudo -u apache php occ upgrade
ownCloud or one of the apps require upgrade - only a limited number of commands are available
You may use your browser or the occ upgrade command to do the upgrade
Set log level to debug
Checking whether the database schema can be updated (this can take a l

[2016-03-13 18:19] ryannix123 commented on #22959
I forgot to ask in my last post: Is there a fix on this, or is the fix to drop all affected database tables?

[2016-03-13 18:51] #23085 closed

[2016-03-13 18:55] skriems commented on #22963
I have a similar problem with `oc_notifications` when trying to update from 8.2 to 9. My oc runs in a docker container (using PostgreSQL), so I deleted `version.php` and started the `.occ upgrade` which failed. I renamed to the table and got the same error msg with another table, so no luck.
Trying to go back to 8.2 gives me now the same error. oh well.
Will do some further examination now.

[2016-03-13 19:01] esphen commented on #22977
@enoch85

No, sorry. Checking the logs I am getting an infinite loop of these messages:

{"reqId":"xi6mF6f90pb26\/H3kdDY","remoteAddr":"172.17.0.1","app":"PHP","message":"Undefined index: newVersionString at \/var\/www\/html\/apps\/updatenotification\/templates\/admin.php#8","level":3,"time":"2016-03-13T18:56:30+00:00"}
{"reqId":"0gbzGAm5ODglkqXaCRtG","remoteAddr":"172.17.0.1","app":"PHP","message

[2016-03-13 19:15] DevWurm commented on #22286
Same problem with external WebDav storage. Uploaded files can't even be deleted.

[2016-03-13 19:19] perohen commented on #23199
I made new installation where I changed those two edited files to new ones in patch #23029, but now I get "500 Internal Server Error" message and nothing is working. However, it might be that I did something wrong as I'm new to Github.

[2016-03-13 20:05] digsig commented on #23182
**same problem. when i disable calendar v1.0 the search works again from me.**
Class 'OC_Calendar_Calendar' not found at /var/www/owncloud/apps/tasks/service/tasksservice.php#112

Steps to reproduce

    Run calendar 1.0
    Run owncloud 9.0
    Search files

Expected behaviour

Files should be listed.
Actual behaviour

'Searching other places' and the spinner lasts forever.
Server configuration

[2016-03-13 20:27] cornelius opened #23202 "Trusted domains are not recognized"
### Steps to reproduce

1. Run ownCloud 9.0.0 in SUSE Studio Test Drive (e.g. from https://susestudio.com/a/TadMax/owncloud-in-a-box-v9-0-0-unstable).
2. Set it up by choosing an admin login and proceeding

In Test Drive the server runs in a virtual machine behind a port forwarding configuration. While the server listens on port 80, HTTP traffic is forwarded from another port from the outside.

##

[2016-03-13 20:32] LukasReschke commented on #23202
Dupe of https://github.com/owncloud/core/pull/23125

[2016-03-13 20:32] #23202 closed

[2016-03-13 20:33] LukasReschke commented on #23202
(aka will be fixed in 9.0.1)

[2016-03-13 20:38] insertjokehere commented on #23132
Same issue here: "Exception: Error 16 interacting with memcached : NOT FOUND"

[2016-03-13 20:52] thejabok commented on #23145
Problem solved. The issue was SSL-related. I had to import my own server's certificate as described here: http://ownclouden.blogspot.de/2014/11/owncloud-https-external-mount.html

[2016-03-13 20:52] #23145 closed

[2016-03-13 21:19] enoch85 commented on #22977
@esphen That's unrelated, here is a fix: https://github.com/owncloud/core/issues/22917

[2016-03-13 21:59] blizzz opened #23203 "Missing contacts_birthday calendar after upgrade to 9.0"
### Steps to reproduce
1. Have users using and syncing calendars with devices
2. Upgrade from 8.2.3 to 9.0
3. A users DavDroid tries to sync contacts_birthday

### Expected behaviour
Either it exists and succeeds or it does not exist and no sync is attempted

### Actual behaviour
ownCloud returns 404, error message on every sync on android side

There were no issues before. In oc_calendars such a

[2016-03-13 22:27] arno01 commented on #22968
I've just encountered the same issue upgrading from the ownCloud 8.2.2 to the v9.0.0.
php-fpm v5.6
mariadb v10.0.23

##### 1) Enable InnoDB.
/etc/mysql/my.cnf:
comment
[code]

##### 2) Enable InnoDB large prefix to have index key prefixes up to 3072 bytes.
/etc/mysql/my.cnf:
[code]

##### 3) Convert MyISAM to InnoDB tables.
[code]

##### 4) Create missing table to see if it works now.
[code]

####

[2016-03-13 23:30] DeepDiver1975 commented on #23203
Please run the occ command to sync the birthdays: ./occ DAV:sync-contact-birthdays

[2016-03-14 00:01] urbenlegend commented on #22011
@rullzer Your solution works great! That applies the upload_tmp_dir per directory. My wordpress and my owncloud are on the same vhost, but using that config option I can set owncloud's upload directory to be different from wordpress. I suggest we put this solution into the documentation as it works better than owncloud's tempdirectory setting.

[2016-03-14 00:11] matteociaschini opened #23205 "Owncloud 9.0.0 doesn't send notification emails"
### Steps to reproduce
Owncloud 9 doesn't send notification emails
### Expected behaviour
Cron script should periodically send notification emails

### Actual behaviour
Notification emails are not sent and error on owncloud log is printed by EmailNotification app (see below owncloud error log).
Email configuration is correct (test email from admin page is working)
Problem start after updateing to

[2016-03-14 00:15] Phiber2000 commented on #23134
I can confirm this issue, too. It is caused by commits d0464bf7724480d18d1f0b881acf83849d83b72d, 7fce06b3f32ec564f129bf2a361d6ee37096e03b.
The fix by StrannikST from above reverts these commits.

[2016-03-14 04:27] urbenlegend commented on #22011
@mmattel I am definitely not using php-fpm and its still writing to the /tmp folder for WebDav file transfers.

[2016-03-14 04:43] nprokopic commented on #14187
I had this issue on Ubuntu 14.04 after updating packages, I was getting _connect() to unix:/var/run/php5-fpm.sock failed No such file or directory) while connecting to upstream_.

What solved the problem for me was appending this two lines in `/etc/nginx/fastcgi_params`
[code]
Here is the original StackOverflow answer that saved my day [http://stackoverflow.com/a/26129470/4727982](http://stackover

[2016-03-14 05:13] Larx opened #23206 "Name of shared external storage cannot be reused"
### Steps to reproduce
1. Add an external storage folder, share it to other users, and then remove it again. On the surface, there now is no trace left of this folder.
2. Try to add another (or re-add the same) external storage folder with the same name and share it to other users.
3. In the other user's owncloud view, the folder appears with appended " (1)".

### Expected behaviour
If the shared

[2016-03-14 06:22] t0mcat1337 opened #23207 ".htaccess RewriteRule brakes non-standard alias"
### Steps to reproduce
1. Install owncloud9 (In Ubuntu installed under /var/www/owncloud, the default DocumentRoot here is /var/www/html)
2. In Apache config change Alias from 'Alias /owncloud "/var/www/owncloud"' to 'Alias /somethingelse "/var/www/owncloud"'
3. In owncloud config insert "'overwritewebroot' => '/somethingelse',"
3. Open Browser with URL http://servername/somethingelse

### Expecte

[2016-03-14 06:25] levin-kelevra commented on #23066
I have the same, but `A username and password are being requested by https://my.site.com. The site says: "sabre/dav"`

[2016-03-14 06:39] myjar commented on #23177
Ok, so eventually I am able to download about 90% of the files, but there is about 10% which are showing as 0kb and will not download. I know that these are actual documents etc. Any ideas on how to resolve this?

[2016-03-14 06:42] myjar commented on #23177
Clicking on any of these 0kb files gives a 403 forbidden error and nothing gets logged.

[2016-03-14 07:23] schmees commented on #23011
@DeepDiver1975 As far as I can see, your patch influences the migration process. But if you install a fresh instance of ownCloud (without any previous migration) and proceed as described, the problem still exists. I don't have a test system running where I could apply your patch to, there is just our main instance running that is currently used by a lot of people. However, the workaround by sharin

[2016-03-14 07:57] svenehret commented on #18929
after “some” more work I managed to upgrade in so far that `occ files:scan --all` finishes without error (current showstopper now are lost share data due to uncorrectible legacy storage IDs, but that's another story and shall be told elsewhere).

What I did was:
- upgrade to 8.2.3 by adding the (Ubuntu) Utopic Sources to my Trusty Server
- occ seemingly has better exception notifications and I was

[2016-03-14 07:57] #18929 closed

[2016-03-14 08:35] Kaelber commented on #23019
I imagine, we have to wait until version 9.0.1 until next tests ........?

[2016-03-14 08:45] PVince81 commented on #22939
There is currently no workaround for this for web UI upload.
In 9.1 the web UI upload will be changed to use PUT instead of POST (the usage of POST was mostly due to IE compatibility in the past), in this PR: https://github.com/owncloud/core/pull/21237

Does that answer your question ?

[2016-03-14 08:50] PVince81 commented on #22977
Can you check the browser JS console and also network console ?
The setup check is using a lot of JS code, maybe some error is triggered there and reloads the page as a side-effect.

[2016-03-14 08:54] RealRancor commented on #23207
Can you try the patch in https://github.com/owncloud/core/pull/23029

[2016-03-14 09:04] PVince81 commented on #20750
Try upgrading your Samba to 4.2. I heard that older Samba versions had trouble with DFS. (that is, if you're connecting to DFS shares)

[2016-03-14 09:08] #23207 closed

[2016-03-14 09:13] pellaeon opened #23209 "files:scan normalizes unicode decomposed characters in filename before saving into files cache"
### Steps to reproduce
1. Create a file on disk (with `touch` for example) with decomposed unicode characters in its name, for example these bytes:
[code]
`6fcc84` is the decomposition of `c58d` .
2. During `files:scan`, the filename is `normalizeUnicode()`'d at `cache->insert()` or `cache->update()`. Therefore `6fcc84` is replaced with `c58d` and stored into the files cache table.
3. When trying

[2016-03-14 09:13] PVince81 commented on #23168
I think Sabre 3.0 which we use in OC 9.0 is using a different XML approach, using some PHP XML methods. I guess these might be using libxml internally somehow...

[2016-03-14 09:15] PVince81 commented on #22708
Yeah, but to get the value of this property we need to go to the share manager.

On the other hand, only the web UI will be using this in 9.0 (and triggering the new logic when explicitly requesting the property) so it won't break other stuff.

I'll finish the implementation then. Thanks for the feedback.

[2016-03-14 09:18] t0mcat1337 commented on #23207
Just looked at #23029 and I'm a little confused... In there, the .htaccess is modified (deleted RewriteRule .* ...) and  lib/private/setup.php (added RewriteBase...)
Then I looked at my installation and noticed, that the patch seems to be applied for lib/private/setup.php (the RewriteBase is included), but my .htaccess still includes the "RewriteRule .* .." despite it was removed in the patch...

[2016-03-14 09:21] RosinSmoke opened #23210 "Owncloud 9.0 does not allow to share files from ext. Dropbox folder"
### Steps to reproduce
1. Enable server-side encryption
2. Connect external Dropbox storage
3. Place any file in storage,in my case, ODT file I wanted to collaboratively edit with Documents plugin. Files can be either uploaded directly or moved from other owncloud file tree location.
4. Try to share file with other user

### Expected behaviour
Sharing as it normally happens on local storage
[expec

[2016-03-14 09:24] PVince81 commented on #18225
@mislav-eu you're right, reopening to look into how/where to automatically set the flag.

Maybe the encryption code could try and detect if there are encryption keys available for that file at scan time.

[2016-03-14 09:51] PVince81 commented on #23152
If files are frequently changed directly on the SMB storage outside of ownCloud, then this is the known update detection issue https://github.com/owncloud/core/issues/11797 with external storages.

The workaround is to run `occ files:scan --all` in a cron job.

[2016-03-14 10:01] PVince81 commented on #23001
Googling "smbclient error 22" points at "Invalid argument", not sure if related.

@icewind1991 can you help identify what error 22 means ?

[2016-03-14 10:03] Nerthil opened #23212 "Get error by uploading files with activated activity app (Desktop Client)"
I get an error when I upload some files (~> 20MB) with the desktop Client (OS X and Windows) and the activity app is activated. If the activity app is disabled everything works fine.

### Steps to reproduce
1. Activate the activity App
2. Upload an file with the owncloud desktop client (OS X / Win)

### Actual behaviour
Error Message: " "no app in context" // "not found while trying to get owner"

[2016-03-14 10:03] DeepDiver1975 commented on #23203
Sorry - I did not see that part of the description.

Does that user have an addressbook with contacts who have birthdays?

[2016-03-14 10:03] PVince81 commented on #23001
Could it be a generic problem with dot files on SMB/CIFS ?

CC @jmaciasportela in case you have clues too

[2016-03-14 10:03] spitzlei opened #23213 "duplicate key value violates unique constraint "oc_preferences_pkey" on every login"
### Steps to reproduce
1. Login to Owncloud Website
2. Open postgresql Serverlog
### Expected behaviour

No Error in logs
### Actual behaviour

Logfile is being spammed with errors:
2016-03-14 09:48:10 GMT STATEMENT:  INSERT INTO "oc_preferences" ("userid", "appid", "configkey", "configvalue") VALUES($1, $2, $3, $4)
2016-03-14 09:48:34 GMT ERROR:  duplicate key value violates unique constraint "oc

[2016-03-14 10:04] LukasReschke commented on #23210
@owncloud/sharing Expected behaviour or not?

[2016-03-14 10:05] PVince81 commented on #23002
Upload the conflict file to the server with a special file name. If that's not enough, set a special tag "conflict" on it. Or have an additional custom property "oc:originalFile" containing the original file name to which the conflict file refers to. That would make it possible to also provide conflict resolution in the web UI.

[2016-03-14 10:05] LukasReschke commented on #23213
Duplicate of https://github.com/owncloud/core/issues/22563

[2016-03-14 10:08] PVince81 commented on #23005
There is a difference between "obsolete/invalid share" and "temporary unavailable shares".

The only case where we auto-delete shares is "obsolete" ones. To detect an obsolete one, it first connects to the share. If the share returns 404, then it checks whether the matching OC server is accessible by checking its "status.php". If the server is not accessible, it means the 404 was due to a "server

[2016-03-14 10:10] dragotin commented on #23002
Yes, that would be possible. But what would be the result? A *new* file with no natural relation to the original file. The versions app maintains at least the relation *this version is successor of this version* so I thought it would be more obvious to enhance that app.

[2016-03-14 10:11] PVince81 commented on #23043
Weird stuff.

@nickvergessen can you also join and help ?

[2016-03-14 10:11] PVince81 commented on #23043
@MorrisJobke is this repeatable or is this a one-off ?

[2016-03-14 10:12] nickvergessen commented on #22959
The fix is to delete all tables, before restoring a backup when you want to retry the update.

[2016-03-14 10:12] spitzlei commented on #23213
Why is this a Duplicate?
I'm using Owncloud 9.0 and not 8.0 and here the oc_preferences tables is affected and not the oc_filecache.

[2016-03-14 10:13] PVince81 commented on #23002
Or instead of implementing "multiple version branches support" which can be complex, only have an single internal special branch for conflicts.

On another note: if one day we decide to explore multi-branch versioning, it would become possible to use the official Webdav versioning API. The current versioning isn't really compatible with that.

[2016-03-14 10:17] wolfo commented on #23152
Thank you for your comments!
I will try working with `occ files:scan --all` again in favor of the destructive `truncate oc_filecache`. My previous experience with the scanning method though was that it took so long scanning everything that users actually saw more disappearing folders than with the truncating method.
I will give it another try on a clone, though.

[2016-03-14 10:19] PVince81 commented on #23062
There's one thing I don't understand, you said:

But then later you posted the URL of the Ubuntu package. If you're using packages, you shouldn't have to manually do anything in "/var/www/owncloud". Maybe something went wrong during your manipulation ?

[2016-03-14 10:21] szepeviktor commented on #23173
Excuse me, I don't use OC.
It was a test install in 10 minutes.

[2016-03-14 10:22] PVince81 commented on #23070
@georgehrke

[2016-03-14 10:24] nickvergessen commented on #23043
Missing required information as asked by the issue template.

Especially DB information.

[2016-03-14 10:24] PVince81 commented on #23072
@blizzz

[2016-03-14 10:25] PVince81 commented on #23072
@blizzz is there any code path during the update that would affect LDAP user ids ?

[2016-03-14 10:27] PVince81 commented on #23077
@devz3r0 if you disable the files_version app you can delete these folders. You should then also to delete the matching entries in "oc_filecache" table.

@nickvergessen what's the next step ? Is there any cron class name cleanup code that needs to be implemented ?

[2016-03-14 10:28] PVince81 commented on #23081
@blizzz please have a look

[2016-03-14 10:30] RosinSmoke commented on #23210
@LukasReschke
Expected behaviour was editable text field where I usually enter someone's username, and the actual behavior is that text field is blocked.
I've added 2 screenshots to the description to the "expected" and "actual" blocks

[2016-03-14 10:30] marioskourtesis opened #23215 "PHP Fatal error - External Storage Support Plug-in"
### Steps to reproduce
1. login to owncloud 9
2. Navigate to https://owncloud.../index.php/settings/admin

The page returns an error. Checking the error logs I found the following error
PHP Fatal error:  Can't use method return value in write context in /var/www/html/owncloud/apps/files_external/lib/google.php on line 268

After disabling the "External storage support  0.5.2" plug in the problem i

[2016-03-14 10:31] atroxix commented on #23005
I'd happily do the change in DB directly. Where should I remove those shares?

[2016-03-14 10:32] LukasReschke commented on #23215
Dupe of https://github.com/owncloud/core/issues/22960

[2016-03-14 10:32] #23215 closed

[2016-03-14 10:37] nickvergessen commented on #23077
Well on 9.0 the jobs are removed because the class does not exist anymore. So if we want to fix something, could do a cleanup in 8.2, but that is kind of odd, sine it only happens when the app is disabled, so it can not be part of the app's update.

So I'd say nothing to do here for us.

[2016-03-14 10:41] PVince81 commented on #23092
@aspdye are you observing this bug in the "All files" section or only in the other sections ?
The "All files" section should work fine.

The other ones have trouble, see https://github.com/owncloud/core/issues/22708

[2016-03-14 10:42] PVince81 commented on #23095
Note that starting with 9.0 it will be possible to disable sharing for individual external storages.

But you're right that sharing should be automatically disabled when not supported due to storing login in session.

@Xenopathic didn't we have this before ? Maybe it was implemented in 8.2 but not 8.1 ?

[2016-03-14 10:45] PVince81 commented on #23107
How did you manage to enable calendar app if you weren't able to setup the database in the first place ?

[2016-03-14 10:46] PVince81 commented on #23107
This looks like a setup error:
[code]

What command did you use for setting up the permissions ?

[2016-03-14 10:48] StrannikST commented on #23205
I confirm, email is not sent. The error logs.

[2016-03-14 10:48] PVince81 commented on #23110
@wolfo just in case, in which timezone is your server and client ?

@rullzer please have a look

[2016-03-14 10:50] DeepDiver1975 commented on #23011
@schmees I honestly cannot reproduce this.

I just shared a calendar with edit rights to a group. After logging in with one of the group members the shared calendar pops up in the calendar app and events can be added and edited.

Let me try this with plain oc9 ....

[2016-03-14 10:50] PVince81 commented on #23122
Possibly related to or duplicate of https://github.com/owncloud/core/issues/22993

[2016-03-14 10:51] PVince81 commented on #23122
For now I'll close as duplicate

[2016-03-14 10:51] #23122 closed

[2016-03-14 10:51] PVince81 commented on #22993
There's another report here with other tables: https://github.com/owncloud/core/issues/23122

[2016-03-14 10:52] PVince81 commented on #23130
@Pastafarianist did you have the calendar app enabled in the past ? Did you use it ?

The errors in the log looks like they're related to calendar entries (possibly old)

CC @DeepDiver1975

[2016-03-14 10:54] PVince81 commented on #23132
@icewind1991 @Xenopathic @MorrisJobke @nickvergessen

[2016-03-14 10:56] PVince81 commented on #23134
CC @schnidrig

[2016-03-14 10:56] PVince81 commented on #23134
This is the PR in question https://github.com/owncloud/core/pull/18978

[2016-03-14 10:58] aspdye commented on #23092
It does *only* happen in the "All files" section. This is why i am a bit confused :confused:

[2016-03-14 10:58] PVince81 commented on #23135
Does it also happen if the external storage contains very few files ?

At this point I'm not sure whether the slowness is due to OC<->AD or OC<->SMB.

[2016-03-14 10:58] MorrisJobke commented on #23132
@yuichi-ikeda-nnetworks @insertjokehere @gdurin Are you sure, that memcached is running? This error is usually thrown, when the memcached instance could not be found/connected to.

[2016-03-14 10:59] PVince81 commented on #23135
You can also have a look at the browser's network console. Which one of the calls is taking a long time ? If it's "ajax/list.php" then it's the file list and possibly the connection to SMB.

If it's another one like the login call, then it might be the AD connection.

[2016-03-14 10:59] tflidd commented on #23196
There are two repos for Ubuntu:
https://download.owncloud.org/download/repositories/8.2/Ubuntu_14.04/
https://download.owncloud.org/download/repositories/8.2/xUbuntu_14.04/

the xUbuntu-versions are still on 8.2.2.

[2016-03-14 11:01] PVince81 commented on #23138
@blizzz please help

[2016-03-14 11:01] MorrisJobke commented on #23132
Sorry I was wrong. It means, that the requested object could not be found: http://docs.libmemcached.org/client_errors/MEMCACHED_NOTFOUND.html#MEMCACHED_NOTFOUND

@LukasReschke It's in the integrity checker code (see stack trace)

[2016-03-14 11:01] DeepDiver1975 commented on #23011
Okay ... this is reproducible in plain 9.0.0

[2016-03-14 11:02] PVince81 commented on #23092
Hmm weird... ok shared with group, in case that matters.

@rullzer can you reproduce this ?

[2016-03-14 11:05] PVince81 commented on #23144
@LukasReschke

[2016-03-14 11:08] PVince81 commented on #23150
@schiesbn @rullzer

[2016-03-14 11:10] lorddoumer commented on #23181
just for reference if someone else is on 1und1-webspace and faces this issue: the will swith to 1.0.1k approximately at the end of Q2. :)

[2016-03-14 11:11] PVince81 commented on #23151
Weird duplicate key issue when inserting files into the trashbin.

@mirekys did you try deleting these files multiple times in the past ? Maybe something already created the trashbin entries and left them there and now re-deleting the same file fails with this error.

@schiesbn

[2016-03-14 11:14] wolfo commented on #23110
Hello @PVince81
the underlying Debian server, as well as the clients, are in CET (UTC+1). The owncloud log is set up to print UTC, though. At least I believe it's only the log, is there a separate owncloud config entry regarding time zone?

[2016-03-14 11:17] PVince81 commented on #23153
@hengels7 if you had a user with cyclic folders, it is also likely that the database is now full with lots of entries. You might need to delete these bogus entries manually from oc_filecache. Maybe it will help speed up the DB queries.

[2016-03-14 11:18] PVince81 commented on #23110
There is no timezone config for PHP. I believe it might use the server's timezone.
Ok, so it's unlikely to be a timezone issue.

[2016-03-14 11:19] DeepDiver1975 commented on #23011
Restarting ....

[2016-03-14 11:20] PVince81 commented on #23158
@rullzer

[2016-03-14 11:21] MorrisJobke commented on #23043
It happened more often, but it's only from a log file a got. Sadly I have no more information, but thought it would be helpful nevertheless.

[2016-03-14 11:22] aspdye opened #23216 "Enhancement: Change password during external user backend"
Would be nice, if users and admins could change passwords if they are using an external user backend:
- **IMAP** (could be realized with drivers for Databases or different Panels etc. like Roundcube does: http://trac.roundcube.net/browser/github/plugins/password/README)
- **LDAP** (no plan how - but i think it's possible :sweat_smile:)
- **SQL** (possible - with access to the database)

[2016-03-14 11:23] MorrisJobke commented on #23043
It's a maxscale load balancer that writes to a galera mariadb cluster. The writes go only to the master instance while the reads are distributed across all nodes in the cluster.

[2016-03-14 11:24] nickvergessen commented on #23132
I'm on it

[2016-03-14 11:25] PVince81 commented on #23167
@maste9 this is a new table in 9.0. Usually the database structure gets updated when a change in version is detected either in "version.php" or in an app's version number. Maybe something went wrong when you replaced the source code with the new one and the version didn't match ?

[2016-03-14 11:27] mikel392 opened #23217 "404 Not Found on login"
### Steps to reproduce
1. one click install app on do
2. download owncloud 9
3. configure

### Expected behaviour
file list on login

### Actual behaviour
404 not foudn on login

### Server configuration
**Operating system**:
ubunut 14.04
**Web server:**
nginx
**Database:**
mariadb/mysql
**PHP version:**
5.5.9
**ownCloud version:** (see ownCloud admin page)

**Updated from an older ownCloud or fre

[2016-03-14 11:28] tflidd commented on #23217
Duplicate ? https://github.com/owncloud/core/issues/22970

[2016-03-14 11:28] PVince81 commented on #23173
Works for me.

Possibly the php5-fpm issue, closing as duplicate of: https://github.com/owncloud/core/issues/14930

[2016-03-14 11:28] #23173 closed

[2016-03-14 11:29] DeepDiver1975 commented on #23011
The write acl is properly setup - the group has write permissions. I suspect the calendar app has issues in processing the acl

@georgehrke can you please double check? THX

[2016-03-14 11:30] DeepDiver1975 commented on #23011
@schmees are you experiencing these issues with anyother caldav client as well or only with our web app?

[2016-03-14 11:31] PVince81 commented on #23174
Cannot reproduce on 9.0.0. The lists are properly filtered on my instances.

[2016-03-14 11:33] PVince81 commented on #23176
Strange, but the extension is in the file name already.

[2016-03-14 11:33] mikel392 commented on #23217
except i'm using nginx

[2016-03-14 11:34] PVince81 commented on #23176
Okay, it looks like the "downloadSecret" part is disturbing chrome.

This is likely a regression from when moving to Webdav for downloads, Webdav has its own "Content-Disposition" logic.

[2016-03-14 11:38] PVince81 commented on #23177
@myjar can you find the matching entries for the 10% broken files in the "oc_filecache" ?

[2016-03-14 11:39] PVince81 commented on #23177
@myjar by the way, please upgrade to 8.2.3 and try downloading them again. There is new code there that should repair broken file sizes.

[2016-03-14 11:39] PVince81 commented on #23179
@MTRichards

[2016-03-14 11:39] PVince81 commented on #23180
@MTRichards

[2016-03-14 11:41] nickvergessen commented on #23132
Fix in https://github.com/owncloud/core/pull/23218

[2016-03-14 11:41] MTRichards commented on #23179
Right, because only the admin can add users to groups, group admins can only manage quota. Under consideration for future releases.

[2016-03-14 11:45] mmattel opened #23219 "Exclude Apps from beeing processed via the AssetPipeline"
**This is a question / feature request for oC 9.x:**

Is there a possibility already existant or could it be implemented, that an app which has problems with an enabled asset pipeline (config parameter ``asset-pipeline.enabled true``) could be excluded from this functionality?

**Background:**
The current Calendar App (v 1.0) can not be used if asset-pipeline.enabled is activated due to an depende

[2016-03-14 11:45] PVince81 commented on #23182
@digsig did you try upgrading the tasks app? From the error message it looks like the tasks app is expecting some old calendar class to exist.

[2016-03-14 11:46] nickvergessen commented on #23134
@Phiber2000 looks good, mind turning it into a PR?

[2016-03-14 11:46] nickvergessen commented on #23134
PS: but dont use inline if for something like that.

[2016-03-14 11:48] nickvergessen commented on #23043
Can
[code]
be executed and the result be posted here??

[2016-03-14 11:54] blizzz commented on #23203
An addressbooks exists (according to table addressbooks).

It does not contain any contact entries however (according to table cards).

[2016-03-14 11:58] D4rkPh0en1x commented on #23107
Hi
I activated calendar over the command line with the occ command as over the web it didn't work...
For the database permissions I changed them over virtualmin web system. So not only the permissions on the database but for the user in global (so for every database)

[2016-03-14 12:01] Phiber2000 commented on #23134
@nickvergessen I'll create the PR in some minutes, using if-else blocks in code.

[2016-03-14 12:02] szepeviktor commented on #23173
All other files cloud be favorited.

[2016-03-14 12:02] michag86 commented on #23179
But if a group admin can manage groupA and groupB, the group admin can add a member of groupA to groupB.

[2016-03-14 12:02] Xenopathic commented on #23095
In stable8.1 we have the necessary code: https://github.com/owncloud/core/blob/stable8.1/apps/files_external/lib/smb_oc.php#L94-L100 so there must be some GUI stuff that is breaking. As the OP mentioned, actually trying to create a share throws an error, so the check is doing what it is supposed to, the problem is the GUI is still displaying that sharing is possible

[2016-03-14 12:07] KuroNeko-san opened #23220 "Owncloud 8.2.2, 9.0.0 Login problem on php 7 with Memcache session storage"
======================

### First of all:
Thanks to all developers of this great product.
And sorry for my english, it is not my native language.

======================

### Steps to reproduce
1. log out from owncloud
2. set session.save_handler = memcache and configure server adress session.save_path = "10.10.96.2:11211" in php.ini
3. try to login with your username and password

### Expected be

[2016-03-14 12:10] georgehrke commented on #23011
Most certainly related to this line: https://github.com/owncloud/calendar/blob/de9ff0f36b36e606beef3e40e6220e9cc6eaee4c/js/app/service/calendarservice.js#L399

Is there something like a group-principal we could query?

[2016-03-14 12:11] jnweiger commented on #20963
Right. To be released as part of 9.0.1

[2016-03-14 12:12] hengels7 commented on #23153
like so?

mysql> select * from oc_filecache where fileid = parent;
Empty set (0.00 sec)

On Mon, Mar 14, 2016 at 12:17 PM, Vincent Petry <notifications@github.com>
wrote:

[2016-03-14 12:12] Andreacroci commented on #22883
For your information: I re-did the update process from 8.2.2. to 9.0
maunally instead of with the repo and everything works fine now.

Thank you.

[2016-03-14 12:15] myjar commented on #23177
What upgrade method should I use to upgrade to 8.2.3 ?

[2016-03-14 12:27] Pastafarianist commented on #23130
Yes, it was enabled and I used it.

[2016-03-14 12:28] hengels7 commented on #23153
Today, I made another strange observation, that might be related. Some users face the following situation:
https://server/owncloud/index.php/apps/files/ is hanging
https://server/owncloud/index.php/apps/files/?dir=%2F says "Keine Dateien vorhanden"
https://server/owncloud/index.php/apps/files/?dir=%2F&view=sharingin is working
https://server/owncloud/index.php/apps/files/?dir=%2F&view=sharingout i

[2016-03-14 12:41] PVince81 commented on #23107
Okay, so you did manage to get the database working. Because your message from https://github.com/owncloud/core/issues/23107#issuecomment-194929208 said changing the permissions didn't work.

Any log messages when trying to enable the calendar/contact apps ?

[2016-03-14 12:43] PVince81 commented on #23173
Without more information from your setup's browser network console, javascript console and others it will be difficult to reproduce or debug locally.

On all setups I tried this on it works fine.

[2016-03-14 12:46] PVince81 commented on #23153
I thought you meant that the self-referencing was on the filesystem directly, like symlinks.

Maybe there's a cyclic reference that happens over more than one node.

Can you try running `occ files:scan $userid -vvv` for the user for which the file list is hanging ?
This would display a list of folders that are being scanned. If there is a loop somewhere, it might appear there too.

[2016-03-14 12:48] PVince81 commented on #23177
See https://doc.owncloud.org/server/8.2/admin_manual/maintenance/upgrade.html#how-to-upgrade-your-owncloud-server

It depends what you used. If you used distro packages, then use distro packages to update.
If you used tarballs, then use tarballs for upgrade, see https://doc.owncloud.org/server/8.2/admin_manual/maintenance/manual_upgrade.html

[2016-03-14 12:49] D4rkPh0en1x commented on #23107
Ah now I understand what you mean... sorry wasn't precise enough.
Even with this db error in the log the db was generated, I could see all tables...
When I go over the web to page where I can enable the apps it just stays empty, no categories etc...
Same with the files...
In the admin the security and setup warnings just loads endless and no more entries in the log...
My 8.2.3 I just reinstalled t

[2016-03-14 12:53] PVince81 commented on #23184
There was another issue in core where someone had to remove CORS, but I can't seem to find it.

@LukasReschke any idea ?

[2016-03-14 12:54] PVince81 commented on #23184
Might be related to https://github.com/owncloud/core/issues/22893 which has the following fix: https://github.com/owncloud/core/pull/22901

[2016-03-14 12:55] D4rkPh0en1x commented on #23107
I can give you access on the test server I installed to see what's working before trying to upgrade again so you can see by yourself

[2016-03-14 12:55] PVince81 commented on #23193
@oparoz @georgehrke

[2016-03-14 12:58] PVince81 commented on #23196
@jnweiger please have a look

[2016-03-14 12:58] DeepDiver1975 commented on #23203
this explains your observation then - the birthday_calendar is created once the first birthday is added to a contact

[2016-03-14 13:10] rullzer commented on #23210
Mmmm I see no reason (sharing wise) why that would not work.

@icewind1991 you touched the sharing permissions for external storages in 9.0 right? Anything particular we need to check here?

[2016-03-14 13:15] rullzer commented on #23197
Mmmm weird. Let me try to reproduce this (and then hopefullt fix)... seems the url generation is indeed going wrong like @oparoz noticed.

[2016-03-14 13:16] LukasReschke commented on #23197
@rullzer My bet is on https://github.com/owncloud/core/pull/23190

We changed to the AppFramework there => index.php is gone and it is now a controller :see_no_evil:

[2016-03-14 13:17] hengels7 commented on #23153
Yes, the self-referencing files was on the filesystem!

There's only one single user where the files:scan is hanging and this is
not the same person, where listing the files in the browser is hanging. The
output from files:scan doesn not loop. It just lists all files and then
stops, instead of returning to the command line.

On Mon, Mar 14, 2016 at 1:46 PM, Vincent Petry <notifications@github.com>

[2016-03-14 13:18] PVince81 commented on #23153
Maybe shares are involved. Best is to fix all loops.

[2016-03-14 13:21] PVince81 commented on #23199
@perohen if you could explain how you patched it and post the error from the log, we might be able to help you

[2016-03-14 13:22] PVince81 commented on #23200
Yeah, this used to work, maybe the path recognition is broken (extra slashes or so).
Mind testing whether this also happens with https://github.com/owncloud/core/pull/21237 ?

[2016-03-14 13:23] rullzer commented on #23197
@LukasReschke thanks. Let me try the same approach :)

[2016-03-14 13:24] PVince81 commented on #23205
@LukasReschke weird session issue with cron ?!

[2016-03-14 13:24] PVince81 commented on #23205
CC @nickvergessen for the activity part

[2016-03-14 13:26] PVince81 commented on #23206
@Larx mind posting a few of those `oc_appconfig` entries ? AFAIK external storage shouldn't write anything there...

Please also try upgrading to 8.2.3, a lot of issues have been fixed since.

[2016-03-14 13:27] PVince81 commented on #23206
@Larx also check "oc_storages" after deleting an external storage, maybe it still has a trace of some sorts.

[2016-03-14 13:27] PVince81 commented on #23209
@pellaeon the situation might happen with external storages.

See also https://github.com/owncloud/core/issues/21365

[2016-03-14 13:28] PVince81 commented on #23209
Due to https://github.com/owncloud/core/issues/21365 we had discussions about removing normalization, but from what I understood, Webdav and/or URLs require the normalized format to be able to be used at all and wouldn't support Mac's NFD format. This would mess up ownCloud.

[2016-03-14 13:30] PVince81 commented on #23210
Since 9.0 sharing is disabled by default for newly created external storages.

@RosinSmoke please check your Dropbox mount, there is a cog icon at the end of the row. In that dropdown, enable sharing.

If that still doesn't work, please reopen.

[2016-03-14 13:30] #23210 closed

[2016-03-14 13:34] PVince81 commented on #23212
@Nerthil are you uploading into a shared folder as recipient ? Overwriting an existing shared file ?

@nickvergessen

[2016-03-14 13:37] PVince81 commented on #23217
Did you try the proposed fix ?

[2016-03-14 13:37] PVince81 commented on #23217
CC @LukasReschke

[2016-03-14 13:38] PVince81 commented on #23219
@DeepDiver1975

[2016-03-14 13:38] wolfo commented on #23135
In Edge, when viewing the network console, the only extraordinary thing is this:
Name	Protokoll	Methode	Ergebnis	Inhaltstyp	Empfangen	Zeit	Initiator
`https://cloud.heliocentris.com/index.php/apps/files/	HTTPS	GET	200	text/html	4,22 KB	127,42 s	document`

The rest of the top entries seems unremarkable:
[code]

[2016-03-14 13:38] PVince81 commented on #23220
@LukasReschke for session stuff

[2016-03-14 13:40] LukasReschke commented on #23220
@KuroNeko-san Can you try the patch from https://github.com/php-memcached-dev/php-memcached/pull/164? THX.

[2016-03-14 13:48] mirekys commented on #23151
There are about 24 entries with the same id(filename) in the oc_files_trash table for that user. However,
each one comes from a different location. But there are 2 entries for the incriminated timestamp (.d1456657282). I believe that the same filename got deleted from both directories at the same time.
[code]

And there really is only one entry for that name in the filecache:
[code]

More strangel

[2016-03-14 13:50] LukasReschke commented on #23205
A proposed fix for this can be found at https://github.com/owncloud/activity/pull/486, @matteociaschini @StrannikST could you test this as well? Thanks a lot! :rocket:

[2016-03-14 13:50] Nerthil commented on #23212
No, I upload them to the Root (/) or other "normal" folders like "/Documents"
Second: Nope