[2015-01-09 17:34] MorrisJobke commented on #7128
Just verified. This is still an issue on master

[2015-01-09 17:37] MorrisJobke commented on #8046
@DeepDiver1975 @PVince81 This is again a similiar issue to our "we should use WebDAV everywhere" issue.

[2015-01-09 17:38] MorrisJobke commented on #8046
@PVince81 Wasn't there also an issue about the public URLs and adding the proper filename to it, because then the downloaded file is properly named (if it doesn't support the HTTP header containing the correct file name)

[2015-01-09 17:40] PVince81 commented on #12762
Fixed by https://github.com/owncloud/core/issues/13204

[2015-01-09 17:40] #12762 closed

[2015-01-09 17:47] MorrisJobke commented on #5089
@moscicki Any news?

[2015-01-09 17:52] dttpy opened #13213 "file name changed after reshare"
### Steps to reproduce
1. log in with admin account
2. create a user "user1"
3. sort "admin" into a group "admin"
4. log in with "user1"
5. create a folder "permission"
6. share the folder "permission" with admin, but with only "change" permission
7. go into "permission" and create a text file "per2.txt"
8. share the file "per2.txt" with admin(group) with no permission (read-only)
9. log in with a

[2015-01-09 18:27] simonspa commented on #12725
@PVince81 hm, I can't completely exclude concurrent file access since there are two clients that sync from this account. None of the folders where shared with other users though, all private.

Since it happens randomly at some (new) files I can't really come up with a reproducible procedure. If I manage, I will let you know.

[2015-01-09 19:04] heathen711 opened #13214 "Custom Built Python Webdav https versus http PROPFIND failing."
I am building a custom webdav client for a mobile media storage device. I am building it in Python and I am using a pre-built library for the connection and management. Now the client can connect via http and send/receive perfectly but when trying to connect via https it seems like the server does not accept the authentication because the ssl_requests.log and the ssl_access.log will not show the u

[2015-01-09 19:15] dttpy opened #13215 "star gone after rename a favorite folder"
### Steps to reproduce
1. create a folder "test"
2. tag "test" as favorite
3. rename "test" to "testtest"

### Expected behaviour
folder's name changed and the star icon stayed

### Actual behaviour
folder's name changed and the star icon is gone, but after refreshing the page, the folder is still marked as favorite

### Server configuration
**Operating system:** Ubuntu 13.10

**Web server:** apac

[2015-01-09 19:19] dttpy commented on #13215
@PVince81

[2015-01-09 19:29] dttpy opened #13216 "cancel and share again, still favorite"
### Steps to reproduce
1. log in with admin
2. create a folder "lol"
3. go into "lol" and create a text file "lol_lol.txt"
4. share the folder "lol" with user1
5. log in with user1
6. tag folder "lol" and file "lol_lol.txt" as favorite
7. log in with admin
8. cancel sharing "lol" with user1
9. log in user1, and check --"lol" is gone
10. log in with admin and share "lol" with user1 again
11. log in

[2015-01-09 19:29] dttpy commented on #13216
@PVince81

[2015-01-09 19:53] dttpy commented on #13213
@PVince81 @schiesbn

[2015-01-09 20:10] karlitschek commented on #13187
agreed. This should go away!
@icewind1991

[2015-01-09 20:15] cdamken commented on #12035
@MorrisJobke  I have the dump from the database, we can recreate the environment if its possible.

[2015-01-09 20:20] Peweuk commented on #13004
My host has sent me some further info.
He says that these are the processes running on the server and it is these that are consuming memory to the point where OC cannot load the contact app properly - his comments are also included

-----------------------------------
You are running more things that just Owncloud. The daily process log is showing your processes are being taken up by the following

[2015-01-09 20:30] cdamken opened #13218 "[6.0.6] Thumbnails of 140MB photo files result in a timeout error of the WebGUI"
A user who uploaded a 140MB photo and couldn’t access it from the Web-interface to share or download it because the thumbnail creation failed with a timeout.

I couldn’t find a setting in config.php to limit this behavior like only create thumbnails of files smaller then X size.

we cannot increase the execution time in the php.ini because it’s already 30 seconds; increasing it will only slow down

[2015-01-09 20:38] MorrisJobke commented on #13218
@georgehrke Is there an easy way to limit the preview generation to a specific timeout and set it as default to not exceed the php session timeout and properly hand back a "no preview" response?

[2015-01-09 20:40] LukeOwncloud opened #13219 "Apache module deflate disables server cache"
On my server I had Apache module deflate enabled (`sudo a2enmod deflate`).
I noticed that my server never returned HTTP response 304 (not modified) but instead always returns the whole document (with HTTP code 200).
Turns out, that there is for many years an issue with handling Etags together with the modified-since headers (-> https://issues.apache.org/bugzilla/show_bug.cgi?id=45023)

Is this an

[2015-01-09 20:49] LukeOwncloud commented on #13197
Thanks! That is it!

For the record: I just needed to call

    \OC::$server->getSession()->close();

before doing the waiting.

[2015-01-09 20:49] #13197 closed

[2015-01-09 21:13] DeepDiver1975 commented on #13187
Which log level has that message? From a debugging pov it might become interesting again one day. But afiak we did not see any etag related issues in the past month.

@dragotin we introduced this during a hack meeting in Stuttgart year(s) ago

[2015-01-09 21:15] karlitschek commented on #13219
Yes. We definitely should detect this and give a warning.

[2015-01-09 21:19] LukasReschke commented on #13219
Generally speaking enabling a deflate mechanism is from a security PoV anyways a bad idea when using SSL: https://en.wikipedia.org/wiki/BREACH_%28security_exploit%29

[2015-01-09 21:35] DeepDiver1975 opened #13220 "[master] unit test execution on oracle is failing"
https://ci.owncloud.org/job/server-master-linux/database=oci,label=SLAVE/lastCompletedBuild/console

[code]

[2015-01-09 21:35] LukasReschke opened #13221 "\OC\Files\Filesystem::normalizePath is very slow"
\OC\Files\Filesystem::normalizePath is very slow and takes about 1.5 seconds for 40k entries. That makes any action that does a lot of path normalization such as searching a really painful experience.

[2015-01-10 00:29] LukasReschke opened #13227 "Expose Low Latency memcache"
https://github.com/owncloud/core/blob/19b7911d79fca5c88849498298add83bd825565f/lib/private/memcache/factory.php#L64-L75 has a low latence cache which only uses in-memory caches so that no remote hosts will get called.

IMHO it would make sense to expose this as well in the public interface? There are often reasons where it makes sense to store something in a local cache but it wouldn't make sense

[2015-01-10 00:29] LukasReschke commented on #13227
@DeepDiver1975 FYI

[2015-01-10 00:32] jonathannz opened #13228 "Omnifocus webDAV issues OC 7.0.4"
Hello,
This may be related to issues:
https://github.com/owncloud/core/issues/1104 [this seems rather old to have any direct relevance, however the comment from "PreacherAT commented on Jun 3, 2013" exactly describes my issue]
and
https://github.com/owncloud/core/issues/10746

Reading through issue 10746, it is my understanding this was resolved in 7.0.3. So it may also be unrelated.

### Steps to

[2015-01-10 00:36] jonathannz commented on #13228
I have disabled Encryption, and the issue persists. So it does not appear to be an encryption related problem.

[2015-01-10 01:06] ianbmacdonald commented on #12725
On my issue "the duplicate entry issue again" .. is that something that can be fixed or merged from a previous patch?

[2015-01-10 03:14] Sugaroverdose commented on #11348
Looks crappy, but it positions icon on same place in safari 7, chrome 39 and IE11

    #fileList a.action[data-action="Rename"] {
        padding: 16px 14px 17px !important;
        position: relative;
        top: -16px;
        left: -1px;
        float: right;
    }

[2015-01-10 06:53] LukeOwncloud commented on #13219
So then it would be best if during installation deflate was disabled via .htaccess?

    <ifModule mod_deflate.c>
       SetEnv no-gzip 1
    </ifModule>

[2015-01-10 07:38] varad-14 opened #13230 ""users" page keeps on loading"
Hi Team,

We have installed Owncloud 7.0.4.2 in the ubuntu server 14.04-amd64 and integrated with Active Directory for Authentication.We can login through AD users .

In our AD, we have around more then 1,00,000 users and more then 1000 groups. After enabled AD authentication, if you click "Users" option, page is keeps on loading and it's not displaying users page. If we verify logs,

[code]
keeps

[2015-01-10 08:39] boschma1 opened #13231 "Renaming a folder using the web interface"
Hi there

I am running OC 7.0.4 and yesterday I renamed a folder using the web interface. After several minutes I noticed that on my synced clients as well on the web interface all the files in this folder had gone.

After I reverted the folder name to its original name, all the content was there again and even the synced clients showed the folders and files again.

Please advise.

[2015-01-10 08:44] boschma1 opened #13232 "Removing all old file versions"
Hi there

I am looking for a way to optimize my storage capazity. In my current setup I have about 4.7 GB of data in my owncloud, whereas my linux machine tells me that 147 GB of data are stored in the owncloud directories. I assume that is because of all the old file versions which is absolutely fine.

But I wish to delete all the old file versions and keep only the current ones. So, I am looking

[2015-01-10 08:53] tobiasKaminsky commented on #12008
Is there an update?
As we are getting closer to OC8, and this is the first version that supports thumbnail download for android app, it would be great to have this included, as otherwise we are wasting a lot of bandwidth.
Unfortunately I cannot do this by myself :/

[2015-01-10 08:56] #13209 closed

[2015-01-10 08:57] nikogh commented on #776
My all-inkl webspace is running 5.4.34 (Okt14). It is not end of line, although it is not the newest version of this series 5.4.36 (Dec14). Since there are no security issues in the new monthly released versions I feel quite comfortable again.
@stefan-muc: For newer php versions just call or email all-inkl. It will be installed until tomorrow usually.

[2015-01-10 09:49] hannesa2 opened #13233 "Problems converting from sqlite to postgres"
my currently config.php (as I understood, before converting it should point to sqlite, am I right ?)

    <?php
    $CONFIG = array (
      ...
      'dbtype'        => 'sqlite3',

but with this command

    sudo ./occ db:convert-type –-password="mypass" –-all-apps pgsql oc_user localhost owncloud

I run into

    [RuntimeException]
    Too many arguments.

any hints what's wrong ?
Thank you

[2015-01-10 09:56] LukasReschke opened #13234 "Any reason to expose tmp directory in response value?"
When uploading files:
[code]

Is there any reason that we expose the tmp directory where that file was stored?

@icewind1991

[2015-01-10 10:29] stefan-muc commented on #776
@nikogh: I have access to another webhosting account at all-inkl which costs lot less than my account, and there they have PHP 5.6 installed. So I guess I will have to mail them - but I will do this next week as for such a great step I will have to check all my scripts for compatibility.
I will definately ask them, why they don't provide me with the newest versions automatically.

[2015-01-10 10:57] legnabar opened #13237 "Slow searches after upgrading from 6.0.6 to 7.0.4, Server CPU load peaks at 100% while searching"
Hello eveybody,

Before start, as this is my first post, I would like to thank all the developers for the awesome work with Owncloud, it's a wonderful software.

I came across a weird issue after the migration from an stable and rock solid deployment based on OC 6.0.6 with 300 users and LDAP integration. The Search app in the web, which had always been blazing fast (I'm not using lucent search so

[2015-01-10 11:19] MorrisJobke commented on #13233
@hannesa2 The first dash of `--password` isn't a normal dash. It's a longer version.

Our command is the top one. The fixed command is the lower one:

[code]

[2015-01-10 11:19] MorrisJobke commented on #13233
As this is just a typo issue, I will close this.

[2015-01-10 11:19] #13233 closed

[2015-01-10 11:21] MorrisJobke commented on #13232
@boschma1 Thanks for this request. I think a command line option is the way to go here.

[2015-01-10 11:21] MorrisJobke commented on #13232
This needs to be developed.

[2015-01-10 11:24] RealRancor commented on #13232
Btw. there already was such a feature "expire all" available in older OC versions (OC5 IIRC). Seems this got removed with the new versioning system?

[2015-01-10 11:24] MorrisJobke commented on #13230
@blizzz Do you noticed something similiar? I don't see anything special in the logs.

@varad-14 Can I ask you to fill out the issue template to provide more information. Thanks

https://github.com/owncloud/core/blob/master/issue_template.md

[2015-01-10 11:25] MorrisJobke commented on #13232
@RealRancor Was this available as a button in the settings or as a config option?

[2015-01-10 11:26] RealRancor commented on #13232
@MorrisJobke
IIRC it was a button "Expire all" within the personal page of each user

[2015-01-10 11:33] obma opened #13238 "Client deletes all data from external storage on mount-error"
Just discovered the following problem:

The data on my server lies on a seperate RAID and the users mount their folders via SFTP into their owncloud. Tonight there occured a problem mounting the RAID. After I started my laptop (with owncloud-client in autostart) the client deleted all the data from the mounts on the laptop - without a prompt or anything - before I could read the notification mail

[2015-01-10 11:39] LukasReschke commented on #11809
https://github.com/owncloud/core/pull/13212 works around this if a memcache is installed. (APCu, XCache, Redis, etc…)

[2015-01-10 11:45] LukasReschke opened #13239 "Setup mutation testing on Jenkins"
Something like https://github.com/padraic/humbug would be great to have:

@DeepDiver1975 FYI

[2015-01-10 11:45] ferdiga opened #13240 "search results - should include full directory and be sorted"
hover over the results just shows the parent - which is not sufficient (at least in my case)
example
the structure is
company name/year/budget

![owncloud search](https://cloud.githubusercontent.com/assets/6248560/5691428/25f359de-98c6-11e4-8010-b6431fa66a4a.jpg)

[2015-01-10 11:47] LukasReschke commented on #13240
The search has received a major overhaul for ownCloud 8 and will also show the file path. – If you're interested in checking it out you can clone the GIT version of ownCloud and test it.

[2015-01-10 11:47] #13240 closed

[2015-01-10 11:48] LukasReschke commented on #13240
A short preview:

![screen shot 2015-01-10 at 12 47 42](https://cloud.githubusercontent.com/assets/878997/5691448/e64e015c-98c6-11e4-8885-7a0dd5482e25.png)

[2015-01-10 11:54] LukasReschke commented on #13238
Thanks a lot for reporting issues back to us!

We need some more information to properly support you with your issue!

Can I ask you to follow our guidelines for submitting bugs as described here: https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

Thanks a lot!

[2015-01-10 11:56] LukasReschke commented on #13237
@icewind1991 Sounds like a FS problem – did you happen to notice anything like that?

[2015-01-10 11:57] LukasReschke commented on #13231
Thanks a lot for reporting issues back to us!

We need some more information to properly support you with your issue!

Can I ask you to follow our guidelines for submitting bugs as described here: https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

Thanks a lot!

[2015-01-10 12:10] LukasReschke opened #13241 "OC_Autoloader is slow"
Our custom autoloader `OC_Autoloader` is actually very slow and requires alone about 100ms for every request. That's a huge amount when we compare it to the Composer loader:

![screen shot 2015-01-10 at 13 08 16](https://cloud.githubusercontent.com/assets/878997/5691495/c2b6e88c-98c9-11e4-8b31-4517472e9b33.png)
![screen shot 2015-01-10 at 13 08 27](https://cloud.githubusercontent.com/assets/878997

[2015-01-10 12:11] LukasReschke commented on #13241
@DeepDiver1975 FYI

[2015-01-10 12:22] obma commented on #13238
### Steps to reproduce
1. Break an external storage SFTP mount - in my case by an unplugged cable
2. Start client
3. All data from external mounts is deleted on the client
4. Fix the mount problem - plug in the cable
5. Client resyncs
6. Files and folders from external mounts shared before are not shared anymore

### Expected behaviour
Pause synchronisation of external mounts if they fail. Inform

[2015-01-10 13:03] varad-14 commented on #13230
Steps to reproduce
1. Configured ActiveDirectory for authentication and our AD have complex setup such as around 100000 users and 30000 groups.
2. Authentication working fine and click on the "Users" tab in the web interface.
Expected behaviour:

Once if you click the Users page, it shoul display all the users and groups

Actual behaviour:
1.Page is keeps on loading more then 2 days or a week
2.Us

[2015-01-10 13:04] ferdiga commented on #13240
the screenshot shows that the list is not sorted (directory for each term found)

[2015-01-10 13:22] legnabar commented on #13237
FS? Don't think so, because the newly created user with the very same files copied over from an already existing user who suffers from this issue, does not face this issue, and the filesystem were the files from either user are stored is the same. In short, the issue seems to affect only old users from the 6.0.6, not the new ones, no matter the amount of files or storage quota usage.

Thank you fo

[2015-01-10 13:25] LukasReschke commented on #13237
Ah - Yes - I referred to our internal "Filesystem" used by ownCloud :)

We have some wrappers and caches for FS access - that's where I suspect the problem.

[2015-01-10 13:28] legnabar commented on #13237
Sorry Lukas, I didn't realise you were actually forwarding the question to icewind1991 :-).

Thanks again for your promptly response.

Anything you may need please let me know.

Best Regards,

[2015-01-10 13:37] LukasReschke commented on #13237
If you want to do us a VERY big favour you could profile the request and so we can see right away where the problem possibly lies.

For that I'd recommend:

1. Go to blackfire.io
2. Register with your GitHub account
3. Install the PHP module
4. Install the client on your machine
5. Login as a user that experiences the problem
7. Open the network console
8. Search the slow search request and click

[2015-01-10 13:37] LukasReschke commented on #13237
(Please note that I'm on my mobile right now and so the actual process might sligthly differ from my brain notices ;-))

[2015-01-10 13:41] legnabar commented on #13237
Hi Lukas,

Thank you for help, I will follow your directions as soon as possible and provide you with the required info.

Have a nice day!

Kind regards,

[2015-01-10 13:48] derkostka opened #13242 "OC8 Alpha 1: Upload from the Android App fails with larger files (>5mb)"
Steps to reproduce

Upload a file using the Android app
Expected behaviour

File upload shall work
Actual behaviour

File Upload failes when reaching 100%

Operating system: Ubuntu 14.04
Web server: apache2
Database: mySQL
PHP version: PHP 5.5.9-1ubuntu4.5
ownCloud version: Owncloud 8 Alpha 1
Updated from an older ownCloud or fresh install: update from master from 18.12.
Are you using external sto

[2015-01-10 14:10] ferdiga opened #13243 "Detected an illegal character in input string at ...."
it would be helpful to get the directory/filename to correct the problem

![image](https://cloud.githubusercontent.com/assets/6248560/5691838/a082f754-98da-11e4-82d6-d3f475a7960e.png)

[2015-01-10 14:49] kwillems commented on #11400
For good understanding: this bug is NOT limited to PDFExpert or any app from Readdle.
I've just installed an app called 'Webdav Navigater' (https://itunes.apple.com/nl/app/webdav-navigator/id382551345?mt=8) and the same bug occurs.

[2015-01-10 15:01] RealRancor commented on #13243
Hi,

seems this is related to the search_luncene app where you can find the issue tracker here:

https://github.com/owncloud/search_lucene

It could be also useful to fill out the issue template provided here:

https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

as asked in the "guidelines for contributing" (linked in the box when creating a new issue).

[2015-01-10 15:19] paulstaab commented on #13147
Same for me. I used the sync client to store ~300 pictures in an s3 external mount. Produced ~1.5 Million request within a few days. The mount was created and used on 7.0.4. Is a request for every file made whenever the sync client syncs?

[2015-01-10 15:29] Naucum opened #13244 "Problem with Email Notification about activity"
Hello, hope you can give me a hint were to look or which info do you need to resolve my problem!

Case: Update from 7.0.3 to 7.0.4
Issue: After update when i get notification about activity instead of the edited things i get
*Array

Example:
--------------------------------------------------------------------
Estimado/a David :

Está recibiendo este mensaje porque durante el
último día han pasado

[2015-01-10 15:33] karlitschek commented on #13244
@nickvergessen can you please have alook?

[2015-01-10 17:05] dareid opened #13245 "WebDav should prioritise auth header over cookie"
### Steps to reproduce
1. Perform action via webdav using auth header of user 1
2. Perform action via wedbav using auth header of user 2

### Expected behaviour
User 2's auth header should take priority of user 1's cookie.

### Actual behaviour
The cookie takes priority

### Reasoning
Based on the webdav spec the auth header should be the primary authentication method (http://www.webdav.org/specs/

[2015-01-10 17:53] MorrisJobke commented on #13243
cc @butonic Is this maybe an already fixed issue?

[2015-01-10 18:01] britai commented on #10914
@MorrisJobke @PVince81 I can't reproduce the issue now (post 7) with a new folder, however I did with the old folder that I saw this with once post upgrade (non fiction, misc.) Is it possible that the file names got left in the DB in the old format?

I could try moving the folder out of the sync directory, letting it purge on all clients and re-adding it.

[2015-01-10 18:06] LukasReschke opened #13246 "Redesigned search is showing wrong result summary"
When searching for something where only one result is shown a space is missing in the description: "1 Ordnerstimmt mit '<h1' überein"
![screen shot 2015-01-10 at 19 06 25](https://cloud.githubusercontent.com/assets/878997/5692584/cbae7306-98fb-11e4-9a92-85e15eebca23.png)

@butonic

[2015-01-10 18:07] karlitschek commented on #13246
@butonic can you have a look?

[2015-01-10 18:11] MorrisJobke commented on #10914
@britai

I guess this is fixed then if you upgrade to ownCloud 7. You did the upgrade if I understand your comment correct. Can you verify this? Then I will close this issue as it is fixed.

[2015-01-10 18:16] MorrisJobke commented on #13246
This is a problem of the translation. In the english original it is

[code]

And the German (and `cs_CZ`, `ru`, `es`, `it` and `nl`) misses that leading space. It's maybe better to add that space afterwards.

[2015-01-10 18:16] MorrisJobke commented on #13246
It's in `apps/files/js/filesummary.js` line 185 and 200.

[2015-01-10 18:26] britai commented on #10914
@MorrisJobke Yes, I saw that note about fixing it in the database. I'm 99% certain that I reproduced it after upgrading to 7 with the original folder I saw the issue with - I changed the case, it got moved then deleted and I had to restore it from the "bin".

 However I can't reproduce it now, and that doesn't do you much good. I also don't have a snapshot backup of the database from then so I can

[2015-01-10 18:57] MorrisJobke commented on #10914
@britai Thanks for the response. No problem :)

[2015-01-10 18:57] #10914 closed

[2015-01-10 19:15] LukasReschke commented on #13246
Mhm - sounds like the best idea would be to remove the spaces from the translation and add them dynamically via string concatenation or so.

[2015-01-10 19:30] MorrisJobke commented on #13246
I just noticed 2 translations that are correct and 6 incorrect ones.

[2015-01-10 19:30] MorrisJobke commented on #13245
cc @LukasReschke

[2015-01-10 19:31] MorrisJobke commented on #13245
What about just not send the cookie in the request?

[2015-01-10 19:38] legnabar commented on #13237
Hi Lukas,

I'm back again I perform all the requiered profiling on my side and I will provide you with screen captures of the results:

In order to test all the possible scenarios described for the issue I tested it with two users with issues  (migrated from OC 6.0.6), one with fewer files where the search completes but takes lot of time to do (almost 17 seconds) and the other one, with much more

[2015-01-10 19:39] DeepDiver1975 commented on #13245
Not that easy in case the request is sent from a browser because cookies are sent by default

[2015-01-10 19:40] dareid commented on #13245
This cannot be controlled from javascript, browsers will automatically send any appropriate cookies.

[2015-01-10 19:40] DeepDiver1975 commented on #13242
@icewind1991 @VicDeo can you please have a look? THX

[2015-01-10 19:53] LukasReschke commented on #13245
We could compare the login name in the session with the auth header.

However, there is a reason behind this behaviour: Everybody can force your browser to  send authentication headers, thus this leads to a login/logout CSRF.

Imagine the following scenario;

1. Victim login to his ownCloud instance via Web
2. Attacker has an account as well and creates a similar folder structure (for example beca

[2015-01-10 19:54] DeepDiver1975 commented on #13241
Once we have composer within core we can use it to handle loading of our core classes as well.
Topic for 8.1

[2015-01-10 19:54] DeepDiver1975 commented on #13241
@karlitschek FYI - just another argument pro composer in core

[2015-01-10 19:55] DeepDiver1975 commented on #13241
@LukasReschke which classes did you load for testing? This has an impact on the code path execution. THX

[2015-01-10 19:56] LukasReschke commented on #13245
I can look at that next week.

[2015-01-10 19:56] DeepDiver1975 commented on #13234
seriously - no - please kill it @icewind1991 @VicDeo

[2015-01-10 19:59] DeepDiver1975 commented on #13227
indeed - good catch - thx

[2015-01-10 20:06] LukasReschke commented on #13227
Might be sensible to reorder the other cache mechanism then so that Redis et al. are chosen before a local in-memory cachey

[2015-01-10 20:07] DeepDiver1975 commented on #13245
sounds like an issue to be solved within 8.0

[2015-01-10 20:10] DeepDiver1975 commented on #13227
let's chat Monday about this

[2015-01-10 21:44] LukasReschke commented on #13237
Do you happen to have an external SMB mount for some of the users or on the instance?

The dependency check for external SMB storage seems to take horribly long as can be seen at https://cloud.githubusercontent.com/assets/10474615/5692857/72d80e3a-9906-11e4-9a18-7a655fd9f504.png - 52.11% of 16.6s for `function_exists('curl_init')` is horribly. We need to cache that return value.

https://github.co

[2015-01-10 21:47] LukasReschke commented on #13237
Alternatively try to disable the files_external application if you don't require it. That should also at least take this out of the equation. If that does not help new stacktraces would be appreciated :-)

[2015-01-10 21:50] LukasReschke commented on #13237
Still, I wonder why there is such a huge difference here – maybe @icewind1991 knows more.

[2015-01-11 02:08] peterkahl opened #13247 "Fatal error"
Hmm.
[code]

[2015-01-11 04:46] peterkahl commented on #13247
OK. Got it fixed. T'was my NGINX config. I needed to put the static file caching at the bottom.
[code]

[2015-01-11 04:47] #13247 closed

[2015-01-11 07:55] ferdiga opened #13248 "indexing feedback puts high load (50-80% CPU usage) on apache"
BTW I suggest to integrate the template + many of the system relevant answers in owncloud admin page to allow copy paste

### Steps to reproduce
1. add a local directory with 2.000.000 files as external storage

### Expected behaviour
indexing nnn files left count down updated every 5 seconds or so.

### Actual behaviour
indexing nnn files left count down updated for each file

### Server configur

[2015-01-11 08:05] legnabar commented on #13237
Hi Lukas,

As suggested, I disbled external files app and the user whose search took 17 seconds improves a lot, I'll send you new profile screenshots later on. However, the user with no response at all continues with the issue ( no response & CPU load). I don't know whether has anything to do with the same issue, but further testing this problematic user, I found out that he has also issues while

[2015-01-11 09:58] legnabar commented on #13237
Hi again,

I performed further testing on mi side, I did the profiling once again with the files_external app disabled:

The search on the user that took 17 seconds now takes less than 6 seconds, although I still think is far more than expected. Here are the captures for this search:

![captura de pantalla 2015-01-11 a las 10 45 35](https://cloud.githubusercontent.com/assets/10474615/5694874/13c89

[2015-01-11 10:29] LukasReschke commented on #13237
Can you do a profiling for the request that gives the memory error and then click in blackfire on "Memory"? - That may give us some insights.

[2015-01-11 10:53] legnabar commented on #13237
Hi Lukas,

Actually I have already done it, but for unknown reason blackfire does not gather any info of it  and in the slot it reads: Unknown Profile context.

I'll keep on trying.

Any ideas on why blackfire does not record it correctly?

Thank you.

Kind regards,

Angel.

[2015-01-11 11:35] LukasReschke commented on #13237
For the user where searching now works I see the following performance enhancements possible:

- [x] Caching of normalizePath – this has been done with https://github.com/owncloud/core/pull/13235 and should give another 25% performance gain. Unfortunately this is quite a huge changeset and will thus only get introduced with ownCloud 8 (to be released end of this month) (https://cloud.githubusercon

[2015-01-11 11:45] legnabar commented on #13237
Yes, I can confirm that the user with no response apart from having more files, also has lots of shared files and folders in both ways: files shared with others and files that others share with him.

Thank you.

Angel.

[2015-01-11 12:00] LukasReschke commented on #13237
About how many files are we talking here that the user has? - Hundreds, thousands, millions?
Also can you take a look how many shares he has?

The following SQL commands should help you for that:
- Listing of all shares that the user "test" has received
  - `SELECT * FROM oc_share WHERE share_with = "test";`
- Listing of all shares that the user "test" has created
  - `SELECT * FROM oc_share WHERE

[2015-01-11 12:19] legnabar commented on #13237
Hi Lukas,

I come back with the info, surprisingly the figures does not seem too high
for me:

1. User 1 has 975 files and 12 shares with others and 8 shares with him.
(this takes 6 seconds after removing the external_files app).
2. User 2 has 6475 files and 109 shares with others and 14 shares with him
(this one never completes)
3. User 3 is a copy of User 2 so 6476 files, but no shares so far. S

[2015-01-11 13:58] strahlex opened #13252 "Invalid email: .systems domain"
Owncloud seems not to support Email addresses with .systems domain. Why? Syntax checking is fine, but why do you check the top level domain name? Domain names will get even more in the future.

[2015-01-11 14:15] LukasReschke commented on #11400
Seems to be related to the cookie handling. I've scheduled a patch for 8.0 – stay tuned…

[2015-01-11 14:29] Pastafarianist opened #13253 "File selector in contacts import uses wrong file type filter"
I am using ownCloud v7.0.3.

In "contacts" app, there is an option to select the format of import. After choosing "Gmail CSV" and opening the file selector, the file filter is set up to allow only for vCard files, not CSV.

[2015-01-11 14:34] wakeup commented on #13246
fixed with 2df331b6ed0909c018de8e686cae377c966454fb

[2015-01-11 14:34] #13246 closed

[2015-01-11 14:35] karlitschek commented on #13253
please open up this issue in the contacts app.
Thanks

[2015-01-11 14:35] #13253 closed

[2015-01-11 14:36] karlitschek commented on #13252
can you post a full bug report using the issue template please?

[2015-01-11 14:36] karlitschek commented on #13252
@nickvergessen

[2015-01-11 14:39] strahlex commented on #13252
@karlitschek Where can I find the template?

[2015-01-11 14:41] karlitschek commented on #13252
https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

[2015-01-11 15:01] derkostka commented on #13089
as far as i can remember, i only had an outgoing share to another oc7 instance. this share is done by link and password protected. anyway, even if th share is nonexistent, i shall be able to see the users files, right ?
What can i investigate to bring this one to an end ?

[2015-01-11 15:05] wakeup opened #13255 ""Paste URL here" placeholder"
What do you think adding a placeholder into "From link" input field? Something like:

![image](https://cloud.githubusercontent.com/assets/231068/5695572/77a151f6-99ab-11e4-9ea4-ba6ae4dd5e1a.png)

It is very minor, but nice to see at least a text instead of a blank field IMO.

@jancborchardt

[2015-01-11 15:27] SPQRInc commented on #12991
Hi there, any new ideas? Something I could do to help solving this issue?

[2015-01-11 17:15] RealRancor commented on #13252
Hi,
@strahlex

are you getting this message in the contacts app? At least the message "invalid email" leads to:

https://github.com/owncloud/contacts/blob/v7.0.4/js/app.js#L505

where this regex could cause this:

https://github.com/owncloud/contacts/blob/v7.0.4/js/app.js#L484

[2015-01-11 17:21] RealRancor commented on #13247
@peterkahl

Also re-check your config with: http://doc.owncloud.org/server/7.0/admin_manual/installation/nginx_configuration.html

Seems there are a few differences.

[2015-01-11 17:47] LukasReschke opened #13258 "Issue Reporter application"
As I often see a lot of issue reports that are missing nearly every required information to properly debug it I thought maybe a small issue reporter application can help to increase the quality.

This reporter will automatically gather most of the information for the issue template and offer some nice input boxes for all other stuff.

The following information will be automatically determined:
- S

[2015-01-11 17:48] LukasReschke commented on #13248
Fair point. I created a proposal in https://github.com/owncloud/core/issues/13258 with some quick and dirty proof of concept implementation.

[2015-01-11 17:51] LukasReschke commented on #13258
The output will be the same issue template as we use today: https://github.com/LukasReschke/issuereporter/blob/7fc5de6c6558b37a80c738e49fa186dd5d87bbef/templates/issue.template.php

[2015-01-11 18:30] DeepDiver1975 commented on #13258
:+1: awesome!

[2015-01-11 18:57] wakeup opened #13259 "Search results are not localized"
I am unable to find it why, but search.js strings are not parsed for translation. They are not on transifex either.

https://github.com/owncloud/core/blob/master/search/js/search.js#L211

[2015-01-11 19:01] strahlex commented on #13252
When I enter my email address in the user settings a red field with "invalid email" is displayed. However, when I hit the return button the email address is accepted anyway.

[2015-01-11 19:02] Biopticon commented on #13040
Hello Vincent,
There must be many files. The Owncloud Client wrongly reports used space in the storage as 78GB, but phpmyadmin  and command "df -h" both report 84GB. I had stopped encrypting files a while ago in order to be able to login to the owncloud server. But I had run decrypting many days before this. I started again today. But since there is no progress indicator for this process I am not

[2015-01-11 19:09] RealRancor commented on #13252
Hi,

seems not an issue with phpmailer shipped with OC (just place this file into the root of your OC installation):

[code]

Result:

[code]

[2015-01-11 19:14] Biopticon opened #13260 "OwnCloud Windows and iOS clients report wrong value for the storage space and and it stopped changing"
Hello
After synching some files and showing the progress properly, the Windows and the iOS clients now report a non-changing value of 78GB for the storage use (See the picture below).

![capture](https://cloud.githubusercontent.com/assets/6756426/5696346/fd880bd6-999a-11e4-98a6-776e9452be32.JPG)

But, a query run in phpmyAdmin reports 84GB which is similar to the number reported by the command "df

[2015-01-11 19:15] LukasReschke commented on #13260
Thanks a lot for reporting issues back to us!

We need some more information to properly support you with your issue!

Can I ask you to follow our guidelines for submitting bugs as described here: https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

Thanks a lot!

[2015-01-11 19:22] strahlex commented on #13252
The address actually works. The message is just confusing.

[2015-01-11 19:28] wakeup commented on #13258
Woww! Great! I loved it.

[2015-01-11 20:24] jancborchardt commented on #13258
Awesome! It looks really nicely designed already. ;) Was the HTML+CSS easy to do or did you have problems?

[2015-01-11 20:27] LukasReschke commented on #13258
Actually it was pretty easy to do – I just used standard components and with the `ocdev` tool you get the basic boilerplate code for free.

So what we have here is:

1. The standard navigation
2. The standard app layout using `<div class="section">`, `<h2>` and `<em>`
3. A single CSS rule for textarea and input to have 100% width

Was pretty amazing to see with what little effort from my side I ge

[2015-01-11 21:48] karlitschek commented on #13258
awesome!!!!!!  :-)

[2015-01-11 21:50] MorrisJobke commented on #13258
I really like it :) :+1:

[2015-01-11 21:52] gramels commented on #4407
I had the same in 7.0.4.
Tried to set my.cnf to
max_connections        = 1500
with no help.

Issue seems pop up, once I mount a webdav share with lost of files.

[2015-01-11 21:53] karlitschek commented on #13259
@butonic

[2015-01-11 21:59] ferdiga commented on #13258
great, thank you for picking up the idea
nevertheless I can not follow your arguments here:
[code]
in the admin screen the external storages are listed, hence these must be easily accessible.

[2015-01-11 22:01] LukasReschke commented on #13258
We can get system mounts but to my understanding for user mounts we would need to have to parse all mount.json files for the user which would take a lot of time.

@icewind1991 Or can we use some SQL magic to get a list of available mounts and mount types?

[2015-01-11 22:05] ferdiga commented on #13258
To my understanding admin (it is not a superuser like root) and the person using this account will know nothing about other user mounts

[2015-01-11 23:46] peterkahl commented on #13247
@Real: Thanks! My NGINX code above worked fine, but I made few more changes.

[2015-01-12 04:56] peterkahl opened #13261 "PHP session files"
I am looking at the PHP session directory /var/lib/php5 and see that OC writes huge number of ~300 byte session files. It seems like a new file for each request.
Is this normal or do I have a problem with my setup?

[2015-01-12 05:01] peterkahl opened #13262 "Crontab time on Admin page, inconsistent time zone?"
My crontab is running properly, every 15 minutes.
I am looking at the Admin page, the green indicator and the last timestamp of the crontab execution.
It was showing correct time (HK timezone) yesterday, but today it's showing time in GMT timezone.
WTF?

[2015-01-12 06:40] DeepDiver1975 commented on #13259
The script to extract the strings does not touch the search folder.
What about moving search inside core?
Seems to be a leftover from the very first versions where e.g. files lived in root as well.

[2015-01-12 07:17] varad-14 commented on #13230
Hi Team,

Please let me know the update on my above issue ?

[2015-01-12 08:31] DeepDiver1975 commented on #13220
@PVince81 can I ask you to apply some bisect magic?

This was the last successful execution: https://ci.owncloud.org/job/server-master-linux/757/
The first failing: https://ci.owncloud.org/job/server-master-linux/758/

THX

[2015-01-12 08:41] DeepDiver1975 commented on #13259
@VicDeo can I ask you to submit a PR which gives this a try? THX

[2015-01-12 08:46] DeepDiver1975 commented on #13218
In case preview generation times out this should not have an impact on the web ui behavior - this has to be analyzed first. @icewind1991 can you please have a look? THX

[2015-01-12 08:46] Biopticon commented on #13260
Hello Lukas,

This is as much as I can do:

### Steps to reproduce
The storage usage reported by the desktop client is not changing although more files are synched to the storage.

1.Run owncloud desktop client
2.Check storage used
3.Run a sql query in phpmyadmin to compare reported value

### Expected behaviour
Storage usage value of  the server should increase  as more files are transferred the

[2015-01-12 08:48] georgehrke commented on #13218
Not that I know of (, maybe except for ```proc_open```). That's related to the discussion about the truck of death.

[2015-01-12 08:49] DeepDiver1975 commented on #13261
This behavior is currently valid for general webdav, caldav and carddav requests

duplicate https://github.com/owncloud/core/issues/5383

[2015-01-12 08:49] #13261 closed

[2015-01-12 08:50] DeepDiver1975 commented on #13241
refs https://github.com/owncloud/core/issues/9643

[2015-01-12 08:58] DeepDiver1975 opened #13263 "Web-Based Contributors Agreement??"
@karlitschek I just came across https://code.facebook.com/cla

Could that be an option for us as well?

Pro:
- Have the list of contributors (including email for later communication) in some db
- Faster signup process
- No more manual administration by you
- Possibility to change the agreement and ask contributors to sign again

Cons:
- Yet another service to run ...

[2015-01-12 09:01] DeepDiver1975 commented on #13263
haha - not really - https://www.clahub.com/

[2015-01-12 09:20] PVince81 commented on #13258
@LukasReschke in the current version you cannot find personal mounts without parsing the mount.json of all users. I'd say leave it for now and raise an issue for later.
In the future the mount config will be moved to the database as per https://github.com/owncloud/core/issues/11261

[2015-01-12 09:26] DeepDiver1975 commented on #13263
Test repo up and running - https://github.com/DeepDiver1975/requires-cla

[2015-01-12 09:28] DeepDiver1975 commented on #13262
https://owncloud.org/community/code-of-conduct/

[2015-01-12 09:28] DeepDiver1975 commented on #13262
Maybe the session lost the timezone information .. needs to be analyzed

[2015-01-12 09:30] DeepDiver1975 commented on #13263
With this approach we can even apply CLAs to new repos as well - which would really be a great benefit thinking about the current size of core.

(Yes - I know - I'm always cooking up old stories :speak_no_evil: )

[2015-01-12 09:33] DeepDiver1975 commented on #13260
83891444069 bytes  = 81925238,3486328 kB = 80005,1155748367 MB = 78,1299956786	GB

[2015-01-12 09:33] #13260 closed

[2015-01-12 09:34] PVince81 commented on #8046
Not that I remember.

[2015-01-12 09:36] PVince81 commented on #13216
@SergioBertolinSG @jnfrmarks another one for the test plan ?

[2015-01-12 09:37] PVince81 commented on #13216
This issue is due to the tags not being automatically deleted when a file is unshared.
See https://github.com/owncloud/core/issues/12858

[2015-01-12 09:38] PVince81 commented on #13213
@schiesbn that's the one I told you about last week where grouping of shares mixes up file names

[2015-01-12 09:45] PVince81 commented on #12725
Unfortunately no. It's a mysterious issue that popped up many times. See https://github.com/owncloud/core/issues/2566 and linked tickets.

[2015-01-12 09:53] MorrisJobke commented on #8046
@LukasReschke Do you know something abut this?

[2015-01-12 09:55] MadEgg opened #13264 "Webinterface: groups hidden behind app settings"
When there are a lot of groups, the last group is invisible because the App-settings panel hides it at the bottom. This is in the User-management panel in OwnCloud 7.0.4.

What I did to work around this is add another bogus group called 'ZZZZZ' that will always end up at the end of the list to push the last item up a bit, but the proper solution would be that the scroll bar only extends up to the

[2015-01-12 09:57] PVince81 commented on #12991
Is it always the same file ? Is the file shared ?

The linked ticket https://github.com/owncloud/core/issues/13193 is only if the share permissions is restricted to "change" (and "create" and "delete" are disallowed). Can you check with what permission the folder/file was shared ?

[2015-01-12 09:58] DeepDiver1975 commented on #13216
@PVince81 8.0? 8.1?

[2015-01-12 09:59] PVince81 commented on #13089
If the share is non-existant, the remote folder should actually disappear from your file list. Or when you navigate inside it should say something like "Storage is not available any more".

[2015-01-12 10:01] MorrisJobke commented on #13218
I will try to reproduce this with https://commons.wikimedia.org/wiki/File:Bath_from_alexandra_park.jpg

[2015-01-12 10:01] PVince81 commented on #13040
Do not run "decryptall.php" manually.
Try decrypting the files from the "Personal" settings page.
Before you click "Decrypt", open the Chrome Network console.
Then click "Decrypt"
Observe the console and see the line with "decryptall.php".
Is that line stuck on "Pending" ? Or does it finish fast and/or becomes red with an error ?

[2015-01-12 10:02] SPQRInc commented on #12991
HI @PVince81
No, it's not always the same file - this error appears on different files. I often get this error on a special directory, because I'm editing a lot of files in there (Coding my Joomla-Component), but it appears in "Downloads"-Directory, "Desktop"-Directory etc., too.

The files are not shared.

The permissions:

Of the folder "datastore", which is the data-directory for OC: drwxrwx---

[2015-01-12 10:03] DeepDiver1975 commented on #13218
THX @MorrisJobke

[2015-01-12 10:04] PVince81 commented on #12991
Okay, so that rules out the sharing permissions issues.

Can you post the permissions of the broken file and its container ?

[2015-01-12 10:06] PVince81 commented on #13216
I've set it to 8.1

[2015-01-12 10:12] tabatabaei commented on #13137
tanks
set fastcgi_read_timeout 300s;
and dont show this page
504 Gateway Time-out
nginx/1.6.2
but very slow work and dont open in my ubuntu desktop firefox 32 only show first page

[2015-01-12 10:14] MorrisJobke commented on #13218
On master I get a 503, but the page keeps responsive. Only message I could found is in the error log:

[code]

Next step: stable7

[2015-01-12 10:15] PVince81 commented on #12991
Are you able to overwrite the file by uploading its new version using the Web UI instead of the sync client ? (the sync client uses WebDAV which is a different code path, might help to narrow it down)

[2015-01-12 10:18] PVince81 commented on #13203
@schiesbn what do you think ?

I thought the rescan would be done after deletion, not before.

[2015-01-12 10:19] PVince81 commented on #13206
I believe @nickvergessen introduced a new config attribute for that: "overwrite.cli.url".
Not sure if that's used for share mails though.

[2015-01-12 10:21] MorrisJobke commented on #13218
stable7 - same behaviour and I don't know why but everything is kind of lacking - tab changing - even changing tabs of my terminal and other applications like thunderbird.(this was also the case in master) Maybe it's caused by the high load on the server side part (as it is on the same machine)

Error in apache error log

[code]

[2015-01-12 10:22] PVince81 commented on #13214
Are you using self-signed SSL certificates ?

[2015-01-12 10:23] PVince81 commented on #13220
Will do tomorrow when I get access to an Oracle machine.

[2015-01-12 10:23] SPQRInc commented on #12991
Hi @PVince81

At the moment all files are synched correctly, because I found a workaround:

I got the file "view.html.php" from 01.12.2014, which I want to edit.
I edit the file and save it.

Now I'm getting the message, that the file could not be uploaded.

Now I find 2 files:

view.html.php - from 01.12.2014
view.htmlconflictXXXXX.php - from today

Now I delete view.html.php on my mac and wait a

[2015-01-12 10:24] PVince81 commented on #13220
In case the logs expire, here are the commits from both runs:
- git bisect bad 800738f51a1031839711b53d6859b0ce188a8b4c
- git bisect good d2ca9e9c0faa3f6838482c14318a60b6c9e2a800

[2015-01-12 10:26] MorrisJobke commented on #13218
Same on stable6. Everything get's laggy once I hit the upload button.

I experienced the same behaviour in Firefox and Chrome. Once the preview request is send. Everything stalls. I will try with an external server part.

[2015-01-12 10:26] DeepDiver1975 opened #13265 "const in search.js is causing issue with minifiers"
https://github.com/owncloud/core/blob/master/search/js/search.js#L158

let's replace this with a var

@VicDeo @icewind1991 @georgehrke volunteers? THX

[2015-01-12 10:28] PVince81 commented on #13228
Can you post the access log so we can see what omnifocus is trying to do over WebDAV ?

[2015-01-12 10:32] MorrisJobke commented on #13218
Got it. It's the memory that is consumed a lot. Over 2 GB during the preview generation for that 100 MB image (the spike in the middle at 30 to 25 seconds):

stable6
![bildschirmfoto von 2015-01-12 11 28 09](https://cloud.githubusercontent.com/assets/245432/5701636/655adc30-9a4e-11e4-8d4b-5ebe98ef8671.png)

[2015-01-12 10:32] PVince81 commented on #13231
Are you using encryption ? Is this a big folder with lots of files ?

[2015-01-12 10:32] PVince81 commented on #13231
Is it a shared folder ? Or a subfolder inside a shared folder ? Is the renaming user the owner or receiver of the share ?

[2015-01-12 10:33] PVince81 commented on #13232
CC @schiesbn

[2015-01-12 10:34] PVince81 commented on #13234
@LukasReschke I think "originalname" was maybe used for the overwrite dialog in case of conflicts. But am not 100% sure. If it is, it's not supposed to contain the temp name but probably the real name.

[2015-01-12 10:37] blizzz commented on #13258
+345643

[2015-01-12 10:40] DeepDiver1975 commented on #13258
next level - submit button to create issue in github

[2015-01-12 10:41] PVince81 commented on #13234
CC @butonic

[2015-01-12 10:42] peterkahl commented on #13262
"Wait Till Further" is prohibited conduct?

--
"The two most important days in your life are the day you are born and the day you find out why." - Mark Twain

[2015-01-12 10:46] smatthie commented on #12307
At one point I messed up my file_cache table because I wasn't ware I was running occ under the wrong user, so I support the idea that there should at least be a warning.

Also, would it be possible to run occ via the web interface, e.g. in the admin section? Similar to how you can run cron as a webcron job. this would ensure it's running as the correct user, and also just generally make it easier

[2015-01-12 10:47] PVince81 commented on #13237
Can you check whether the slow users are the ones receiving shares ?
New users usually don't have shares initially, so it could be a reason.

[2015-01-12 10:58] DeepDiver1975 commented on #13220
$
 git bisect bad
ad8d55c3274e81dd4fd92b41ac5d6ef5c39febf3 is the first bad commit
commit ad8d55c3274e81dd4fd92b41ac5d6ef5c39febf3
Author: tbelau666 <thomas.belau@gmx.de>
Date:   Sun Nov 30 23:17:09 2014 +0100

    Use Doctrines filter by table name

    Doctrine's SchemaManager can filter table names by regular expression.
    On this way it picks up only ownClouds's tables in a database.

    by

[2015-01-12 11:03] #12221 closed

[2015-01-12 11:04] schiesbn commented on #12685
I belive this is fixed with: #13182 for OC8, feel free to re-open it if it still fails

[2015-01-12 11:04] #12685 closed

[2015-01-12 11:04] jancborchardt commented on #13255
A better placeholder for it would be something like `https://…` I think. That’s somehow a standard placeholder for that.

[2015-01-12 11:06] jancborchardt commented on #13255
cc @owncloud/designers

[2015-01-12 11:06] jancborchardt commented on #11348
@Sugaroverdose can you submit a pull request for that? Then we can test and discuss. :) thanks!

[2015-01-12 11:09] MorrisJobke commented on #13218
On stable7 it's a nearly similar graph: (I guess because of the cancelation of the request php-fpm still took the memory of this request but this gets vanished 1 minute later - more than 3 GB where free'd)

![bildschirmfoto von 2015-01-12 12 05 10](https://cloud.githubusercontent.com/assets/245432/5701971/98f67db0-9a53-11e4-94f5-0b1da5f5436c.png)

I would rate for a limitation of the resources her

[2015-01-12 11:09] PVince81 commented on #13245
Ouch, I wonder if it's the reason why third party WebDAV clients are having issues with that:
https://github.com/owncloud/core/issues/11400

[2015-01-12 11:09] PVince81 commented on #11400
Is this related to https://github.com/owncloud/core/issues/13245 ?

[2015-01-12 11:09] enoch85 commented on #13255
Agreed on `https://…` :+1:

[2015-01-12 11:10] MorrisJobke commented on #13218
Surprisingly the preview got's rendered fine (but you need a second request to show it. I guess this is the cause for the long memory consumption. The process finished it's processing and created the preview and put it into the preview cache.

[2015-01-12 11:12] legnabar commented on #13237
Hi,

I have been further testing with the new user created (user 3) with the same amount of files uploaded and then I share with him from another user a total of 20 folders and I can see that, as suggested the search time is much worse than when this user was first created, so as you suggested the issue may lay within the shared files list.

I would single out the user2 (didn't complete with memor

[2015-01-12 11:17] MorrisJobke commented on #13218
I Noticed that there is a minor lag if I select the image in the dialog box of my browser. This is caused by the preview generation of the dialog window. So there is a way to generate the preview without using nearly every bit of the available memory.

@georgehrke Can you have a look at reducing the memory usage of the preview generation process?

[2015-01-12 11:21] MorrisJobke commented on #13218
I just found that the image creation relies on our internal `OC_Image` I try to do this with imagick if it is installed and use just OC_Image as fallback.

[2015-01-12 11:34] SergioBertolinSG opened #13266 "[Favorite] Favorite star turns grey after renaming a file or folder."
### Steps to reproduce

1. Make a file/folder favorite
2. Rename it

### Expected behaviour
Favorite star keeps activated.

### Actual behaviour
Star gets deactivated. File/Folder is still favorited, just the star colour is wrong.

### Server configuration
**Operating system**:
Ubuntu 14.04 LTS

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

**ownCloud version:** (see ownClou

[2015-01-12 11:37] MorrisJobke commented on #13218
I just noticed that it is not easiely migrateable as the preview  system makes highly usage of the OC_Image class. Needs discussion with @georgehrke How we could enhance this, because nowadays the full image gets loaded into memory via methods like `imagecreatefromstring`.

[2015-01-12 11:38] PVince81 opened #13267 "Public editable share, drop onto subfolder fails with permission issue"
### Steps to reproduce:
1. Create a folder "test"
2. Create a subfolder "test/sub"
3. Share "test" with link and allow editing/upload
4. Open link share
5. Drag and drop files from outside the browser onto "sub"
6. Navigate into "sub"
7. Drag and drop files from outside the browser into the file list

### Expected result
Files can be uploaded properly at step 5 and 7.

### Actual result
At step 5,

[2015-01-12 11:39] LukasReschke commented on #11400
Yes

[2015-01-12 11:39] PVince81 commented on #13267
Not critical as there's a workaround by going into the folder.
Also not a regression.

@DeepDiver1975 set to 8.1 ?

[2015-01-12 11:40] LukasReschke commented on #13237
And that all for free – isn't a open-source community great :-)

Thanks for your patience and help in debugging this. Usually people are much less helpful and restrict themselves to posting things like "That crap doesn't work" ;-)

[2015-01-12 11:40] SergioBertolinSG commented on #13266
cc @PVince81

[2015-01-12 11:41] georgehrke commented on #13218
Sure.

We would probably have to refactor OC_Image to only store the path as long as possible and load the actual image only on demand. For printing we could use standard php functions like imagepng, etc.

[2015-01-12 11:41] MorrisJobke commented on #13218
Another option would be to just don't generate previews for files bigger than x MB.

[2015-01-12 11:41] Xenopathic commented on #12216
Well it's not going to make oC 8, that's for sure.

[2015-01-12 11:41] georgehrke commented on #13218
That's probably the best short-term solution for now, as refactoring OC_Image needs heavy testing.

[2015-01-12 11:42] SergioBertolinSG commented on #2368
Related bugs of favorite feature:

- [ ] #13266

[2015-01-12 11:43] nickvergessen commented on #13206
https://github.com/owncloud/core/blob/master/lib/private/urlgenerator.php#L166-L168
It's only used in CLI cases, I don't think the sharing emails are sent via CLI but directly.

[2015-01-12 11:45] PVince81 commented on #13237
From what I saw in the code searching through folders as recipient is slow, because it is running the search query on every received shared folder separately. I'm not aware of any changes regarding that part. I believe 6.0.6 had that code path too.

As for `oc_properties`: that table isn't supposed to contain "getetag" so I think you can remove all such entries.

Also I saw you talking abous `oc_f

[2015-01-12 11:45] LukasReschke commented on #13218
The real and enterprise-ready solution would be a MQ system where previews are generated from another system which is containered and properly segregated.

You simply don't want to run the preview generation of any filetype on the same machine in the same process for multiple reason:

1. Converters are often very prone to security bugs and if a third-party component such as imagemagick has a Secur

[2015-01-12 11:47] PVince81 commented on #13266
Duplicate of https://github.com/owncloud/core/issues/13215

@dttpy has raised a few issues related to favorites, you might want to search github before raising new issues :smile:

[2015-01-12 11:47] #13266 closed

[2015-01-12 11:47] LukasReschke commented on #13240
Fair point – can I ask you to create a new ticket and also give some examples how you want it to be ordered?

[2015-01-12 11:48] PVince81 commented on #12216
Setting to 8.1

[2015-01-12 11:49] nickvergessen commented on #13194
@brantje can you try to find out, where your backend is emptied

[2015-01-12 11:51] LukasReschke commented on #12931
Not sure about that. Doubt it though. – Don't have an Android device anymore – sorry.

[2015-01-12 11:52] LukasReschke commented on #8046
Mobile browsers are pain – this is related to https://github.com/owncloud/core/issues/12931 once we tackle this this should be fixed.

[2015-01-12 11:52] LukasReschke commented on #12931
This is related to https://github.com/owncloud/core/issues/8046#issuecomment-69559434 though

[2015-01-12 12:01] nickvergessen commented on #13252
I can not reproduce any troubles here on master/alpha1
the field is never marked red, and after the timeout or pressing enter the green "Email saved" appears.

[2015-01-12 12:05] LukasReschke commented on #13258
I'll investigate how that is possible the easiest way. I know that it is possible to prefill data via GET requests in issue forms but the problem with that is that we can't fill too much data into a GET variable. Via POST it seems not to be possible.

Optimal scenario: User clicks on Generate Report and gets redirected to the GitHub issue creation form with all things pre-filled.

Alternate scenar

[2015-01-12 12:17] legnabar commented on #13237
Absolutely Lukas, I think owncloud is not only on of the best softwares I ever tried in my 14 years of IT experience, but also one the best supported so far, much better than the majority of propietary services  for sure :-). Awesome, please carry on.

Regarding the unused tables on the DB, I supposed they were no longer in use, but now I will remove them at least for the most problematic user jus

[2015-01-12 12:22] smatthie commented on #12991
@PVince81 @LukasReschke occ doesn't check user (at least it didn't in my case). As this is a separate issue, I commented in #12307.

In my case the upload issue was solved by rebuilding the file_cache with occ (this time running as web user). I haven't noticed the problem again, although I get the occasional hickups which are probably related to lost connections and then sort themselves out at the

[2015-01-12 12:26] SergioBertolinSG commented on #13266
Ok thanks

[2015-01-12 12:27] #13199 closed

[2015-01-12 12:30] MorrisJobke commented on #13258
I would liek the prefilled new issue form. As then we have a way to contact that person. Otherwise the issue is created by our account and we have no way to contact the person reporting back.

[2015-01-12 12:32] LukasReschke commented on #13258
Well - the plan was to give the user an OAuth login form for GitHub and then file the issue using his account :-)

[2015-01-12 12:35] LukasReschke commented on #13258
(Please notice that I didn't take a look yet at their whole API specification, but I guess this should be possible … somehow ;-))

[2015-01-12 12:36] Raydiation commented on #13018
Closing this because it is not reproducable and inactive

[2015-01-12 12:36] #13018 closed

[2015-01-12 12:36] PlumbumDN commented on #13058
Ok, decrypt is complete and only few files were deleted after re-enabling sync on my windows client.
The issue is solved. Main Problem was the database locking up on some situations.
I will try to re-enable encryption.

[2015-01-12 13:00] LukasReschke opened #13270 "Encryption is broken with public sharing"
On current master when installing new:

1. Install ownCloud as user "admin"
2. Enable encryption app
3. Log out
4. Login
5. Create a file "shared.txt"
6. Share that file publicly
7. Access the file
8. Try to download it

Get the following error:
[code]

@schiesbn

[2015-01-12 13:06] SPQRInc commented on #12991
Hi @smatthie ,
how can I rebuild the file_cache with occ? Do I have to do that on the terminal? How can I do that?

[2015-01-12 13:07] PVince81 commented on #13215
Fix is here: https://github.com/owncloud/core/issues/13272

[2015-01-12 13:07] PVince81 commented on #12944
Fix is here: https://github.com/owncloud/core/issues/13272

[2015-01-12 13:20] SergioBertolinSG opened #13273 "[Favorite ] Textfiles can't be edited in the favorites tab"
### Steps to reproduce

1. Make a text file favorite
2. Open the favorites tab
3. Click on the file

### Expected behaviour
You are able to edit the textfile.

### Actual behaviour
File starts to download as other kind of file.

### Server configuration
**Operating system**:
Ubuntu 14.04 LTS

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

**ownCloud version:** (see ownCloud a

[2015-01-12 13:28] LukasReschke commented on #13270
@jnfrmarks For your information – this is a kinda grave issue – can we add this to our test plan somehow?

[2015-01-12 13:30] LukasReschke commented on #13258
Got a reply from the awesome GitHub support:

1. Relying on the GET parameters is not recommended. There is no POST endpoint (yet?)
2. OAuth and an alternative copy-paste option would be the "best way to go"

I think I'll stick with 2 then.

[2015-01-12 13:31] smatthie commented on #12991
@SPQRInc yes, occ is s maintenance script that you have to run from the terminal. From the installation directory (www-data is the name of the web user, might be different in your setup):

But if you're not sure, I would wait, as I'm not sure what other side effects it may have. Perhaps you can just look at your database table (using phpmyadmin or similar) and see if the permission column is diffe

[2015-01-12 13:42] nickvergessen commented on #13244
Works on master:
[code]

will check stable7 soon

[2015-01-12 13:45] Naucum commented on #13244
Thx for info!!

[2015-01-12 13:48] SergioBertolinSG opened #13274 "[Favorite] Favorite file moved into a shared folder as recipient is no longer favorite"
### Steps to reproduce

1. Make a file or folder favorite
2. Move it inside a shared folder by another user.

### Expected behaviour
File is still favorite.

### Actual behaviour
File loses its status as favorite file.

### Server configuration
**Operating system**:
Ubuntu 14.04 LTS

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

**ownCloud version:** (see ownCloud admin page

[2015-01-12 13:52] johan27hack commented on #13044
Hello @PVince81  and @MorrisJobke : Just to know if you had any news ?
:)
Have a great day ^^

[2015-01-12 13:57] nickvergessen commented on #13244
última hora han pasado las siguientes cosas en

works on stable7 aswell. The language you selected is Castellano right?

My current advice would be to ensure to reupload the files of the activity app, and otherwise see whether it was fixed somehow in 7.0.5 which should be coming soon.

//Closing since I can't reproduce

[2015-01-12 14:02] Naucum commented on #13244
Hello....thank for info and test.

a question: when u say : "reupload the files of the activity app" do u mean to online download the folder app in \inetpub\wwwroot\owncloud and copy it to same place  to test it if resolves the problem?

thx you

[2015-01-12 14:02] LukasReschke commented on #13270
Regression introduced by https://github.com/owncloud/core/pull/13182 as far I can see

[2015-01-12 14:06] blizzz commented on #13230
The User page will take time to load for the first time, because of the users count which takes some time with LDAP and this amount of users. Afterwards, it is cached (10 minutes by default). This actually was improved for 7.0.4, before there was no caching. Yet it is not ideal.

Also, all groups are loaded at once, as well, and with them connected information (user counts!). This is also known.

[2015-01-12 14:07] karlitschek commented on #13270
@schiesbn fyi

[2015-01-12 14:10] nickvergessen commented on #13244
No, I mean download a fresh copy from owncloud.org unzip it and just upload apps/activity to your server again

[2015-01-12 14:16] Naucum commented on #13244
thx nickvergessen...i will try this..do you need info about this after test?

[2015-01-12 14:22] tomneedham commented on #13258
I just hope this doesn't turn into 'free owncloud support' and we get a flood of people who just want help and haven't searched for existing bugs/issues/docs...

[2015-01-12 14:43] varad-14 commented on #13230
Blizz,

For first time means, it's running a week and whenever i click the "USERS", in the logs page keeps on going. Please find the below our LDAP server settings and let me know for any changes ?

LDAP Server Configuration:

Server:

ldaps://<server1 name> port:3269
cn=admin,,OU=exec ID,DC=abc,DC=OR,DC=abc,DC=IN
Basedn:
DC=abc,DC=OR,DC=abc,DC=IN
DC=bbc,DC=OR,DC=abc,DC=IN

check box enabled ==> M

[2015-01-12 15:00] PVince81 commented on #12858
One idea would be to have a method `deleteOrphaned($tagType)` on `ITags` that does a simple SQL delete for a given tag type. That is certainly more efficient than iterating of folder entries.

So: first delete files, then delete orphaned entries. Like some kind of afterwards cascading delete.

That method could then also be used by repair steps.

[2015-01-12 15:12] heathen711 commented on #13214
Yes but I pass the pem file for it to verify locally.

[2015-01-12 15:18] DeepDiver1975 commented on #13258
Good point actually - @LukasReschke what about adding a note on top to tell the user to only use this in case of error and link forum and faq for help?

[2015-01-12 15:27] Biopticon commented on #13040
Hello Vincent,

Wow. I did not know that you could do all that! I started network console, then decrypting. See teh screen shot.

![capture](https://cloud.githubusercontent.com/assets/6756426/5705154/06cd2d7a-9a45-11e4-84f2-135d54655570.JPG)

But I cannot see any entry in the page to do with decrypting? I saved the har file. How can I attach it here if you need to have a look?

[2015-01-12 15:33] DeepDiver1975 commented on #13237
Cries for another repair step

[2015-01-12 15:34] blizzz commented on #12306
Could you all who are affected please try https://github.com/owncloud/core/pull/13280 ? Thank you!

[2015-01-12 15:35] PVince81 commented on #13040
Did you start the network console before clicking "Decrypt all Files" ?
The best way is to clear the network console before clicking "Decrypt all Files", then click the button.
Something should appear.

[2015-01-12 15:36] PVince81 opened #13281 "Repair step to clean up oc_properties"
In some older setups, there might be invalid entries in "oc_properties" like the etag one.
See https://github.com/owncloud/core/issues/13237#issuecomment-69555883 for such case.

A repair step must be written to clean up such entries.

[2015-01-12 15:37] PVince81 commented on #13237
Don't cry, just raised this: https://github.com/owncloud/core/issues/13281

[2015-01-12 15:54] dttpy opened #13283 "star gone after the attempt of rename a favorite folder"
### Steps to reproduce
1. create a folder or file "test"
2. tag "test" as favorite
3. click the "pen" icon to rename, but instead of giving a new name, make no changes
4. refresh the page
5. cancel the favorite of this folder/file
6. do step 3 again

### Expected behaviour
step 3: the star is still activated
step 6: the star is not activated

### Actual behaviour
step 3: the star is gone, although

[2015-01-12 15:55] dttpy commented on #13283
@PVince81

[2015-01-12 16:07] PVince81 commented on #12858
Fix for 1): https://github.com/owncloud/core/pull/13284

[2015-01-12 16:12] dttpy opened #13287 "favorite stops working"
### Steps to reproduce
UNKNOWN
It happened just accidentally. The steps to reproduce hasn't be found yet.
I have just tried to create folder, tag them as favorite, rename, delete the folder from "All files" or "favorite" to trash bin a lot of times, and try to delete them from trash bin

### Expected behaviour
favorite works

### Actual behaviour
favorite stops working

And in the DB, it looks lik

[2015-01-12 16:12] dttpy commented on #13287
@PVince81

[2015-01-12 16:23] nickvergessen commented on #13273
@PVince81 I guess the other app stuff is not loaded there?

[2015-01-12 16:25] PVince81 commented on #13273
The text editor is not compatible with the sidebar.
It's the same issue as for the sharing overview.
Let's keep this issue here for later testing.
It should work once https://github.com/owncloud/files_texteditor/issues/17 is done

[2015-01-12 16:42] #12306 closed

[2015-01-12 16:44] MorrisJobke commented on #12306
Fix will be in 7.0.5 and 8.0.0

[2015-01-12 16:48] #13234 closed

[2015-01-12 16:50] #12307 closed

[2015-01-12 16:54] Naucum commented on #13244
Did not solved the problem. Is there any other way to find out where the problem is? I already tried in owncloud forum but no answers since my post from 8 of january.

[2015-01-12 16:56] nickvergessen commented on #13244
Can you try switching the language to english? So we know it's a problem of the language or something else.

[2015-01-12 16:57] schiesbn commented on #12966
I will have a look. Encryption never checks any permissions but rely on the files system layer below. It just encrypt/decrypt anything which passes through the permission check in OC-Filesystem, so this sounds really strange.

[2015-01-12 16:58] Naucum commented on #13244
on th way..result in 1 hour

[2015-01-12 16:59] PVince81 commented on #13283
Fix is here: https://github.com/owncloud/core/pull/13289

[2015-01-12 17:07] jon-tlmi commented on #4031
OK, there's a super simple theme here:
https://github.com/jon-tlmi/themes
Changes the logo, a gradient value and generally shows how a whiteboxing ownCloud should work by replaces things like defaultEntity, defaultTitle and all that stuff.
As requested higher up, there are NO templates changed. Comments are not overly detailed, but I feel if you're digging this deep, you should be a decent enough

[2015-01-12 17:40] ferdiga commented on #13258
IMO the problem is that there are issues for every subproject
* at least for me it is not clear where to search - 4 pages of unsorted !! sub projects
* neither it is clear where to submit the new issue. as a user I can only guess where the problematic code could be.

[2015-01-12 17:45] LukasReschke commented on #13258
We can add a select box where the user has to select the application which behaves buggy and then redirect / create the issue in the right repository.

[2015-01-12 18:07] PVince81 commented on #13287
Also could not reproduce the issue when doing many deletion manipulations: delete as owner, as recipient, etc.

It is very strange how you managed to get "files_trashbin" files tagged. Normally the file ids change when deleting files, so it is not possible for tagged file to stay tagged when moved into the trashbin.

Or maybe there is some particular file operation that does strive and keep the fi

[2015-01-12 18:10] PVince81 commented on #13287
Ok, I manually changed the database to purposefully point to a trashbin item.
And now I can see the same error.

So even though we don't know yet what triggered it, I can at least make the code more robust and still make the favorites list work, even with that strange error.

[2015-01-12 18:12] #12944 closed

[2015-01-12 18:12] #13215 closed

[2015-01-12 18:20] nickvergessen opened #13290 "Favorite file list display issue when clicking on filename"
After you click on the filename (to download the file) the cell of the table with the icon, filename and file actions, becomes grey until you click elsewhere:

### Expected
![favorites_-_owncloud_-_2015-01-12_19 18 35](https://cloud.githubusercontent.com/assets/213943/5722638/2b0301fc-9b3e-11e4-9465-3f177ecf179a.png)

### Actual
![favorites_-_owncloud_-_2015-01-12_19 18 36](https://cloud.githubuse

[2015-01-12 18:20] ferdiga commented on #13258
+1

[2015-01-12 18:21] Naucum commented on #13244
Same result...not a lang issue :(

[2015-01-12 18:33] nickvergessen commented on #13244
Hmm, are you using a custom template/style/theme or did you modify the email template in the administration section or somewhere else manually?

[2015-01-12 18:37] nickvergessen commented on #13244
Because that is the only way I can see this happening:
Your template file (`apps/activity/template/email.notification.php`) is missing the following change:
https://github.com/owncloud/activity/commit/5fc335419202d506306be5371b0c227474378ac7#diff-1

Can you check, whether your file contains:
[code]
or
[code]

[2015-01-12 18:38] PVince81 commented on #13287
Fix for the empty favorites list is here: https://github.com/owncloud/core/pull/13291
Only testable if the database already contains a tag entry pointing to files_trashbin.

[2015-01-12 18:42] Naucum commented on #13244
1.No, in fact let it one time with
![1](https://cloud.githubusercontent.com/assets/8770484/5708579/af44ff76-9a92-11e4-8015-3f2bc23b8f86.jpg)
and second time with
![2](https://cloud.githubusercontent.com/assets/8770484/5708584/b6b30424-9a92-11e4-9d7c-993d177a5060.jpg)
and pushed save.
In both cases with same result.
2. complete email.notification.php
<?php
/** @var OC_L10N $l */
/** @var array $_ *

[2015-01-12 18:45] Naucum commented on #13244
BTW...the email notification after changing interface lang is still in spanish. i changed the lang in personal settings. is this correcto?

[2015-01-12 18:54] ferdiga opened #13292 "sort search results"
Issue based on
https://github.com/owncloud/core/issues/13240#issuecomment-69559040

IMO 2 possibilities for sorting full text search results
[code]
special issue is singular/plural or mistyped but still somewhat similar words

Option to search
* only in the current and below directory  (in my example https://github.com/owncloud/core/issues/13240#issuecomment-69559040 search only data from the curr

[2015-01-12 18:54] LukasReschke commented on #13292
@jancborchardt Your thoughts?

[2015-01-12 18:56] nickvergessen commented on #13274
Also happens when moving a shared favorited file out of the share.
I guess this is due to the fact that the file id changes?

@PVince81

[2015-01-12 18:58] nickvergessen commented on #13244
Can you change the line to

[code]
As a debugging step?

[2015-01-12 19:05] Biopticon commented on #13040
Hello Vincent,
This afternoon around noon the decrypting of files stopped. there is no more orange warning message on the owncloud (OC) console. It hopefully means that all the encrypted files were now decrypted. This is great. Thank you. I just needed patience.  But I could not test what you suggested with the Networking console. And I am afraid to start encryption again with the fear that I cann

[2015-01-12 19:13] Naucum commented on #13244
ok...trying....

[2015-01-12 19:19] derkostka commented on #13089
So this is weird, if i scan files via occ, everything is found. The owncloud data folder ie also okay which makes me wonder were the problem may be ...

[2015-01-12 19:19] Naucum commented on #13244
1. copied email.notification.php to another place
2. changed the file as proposed in the original file
3. uploaded files to get activity notification
4. waiting for mail

[2015-01-12 19:21] derkostka commented on #13242
The Problem is described also in #12766 (getMimeType missing)

[2015-01-12 19:22] DeepDiver1975 commented on #12502
#13278 shows how querybuilder can be used

[2015-01-12 19:42] ferdiga commented on #13292
another option could be substring / full word

[2015-01-12 20:01] athulrajdr opened #13294 "error while vcard contact import."
this v card file is exported from google contacts. when i import this file to my owncloud contacts, the status shows  the content of vcf file is,
_________________________________
BEGIN:VCARD
VERSION:3.0
FN:Z New Kni Bz Rp: Wr.no
N:Rp\: Wr.no;Z New Kni Bz;;;
TEL;TYPE=MAIN:+919999999999
END:VCARD
__________________________________
I tried to import this file to my google contacts, and the contact i

[2015-01-12 20:09] DeepDiver1975 commented on #13294
please reopen in https://github.com/owncloud/contacts - thx

[2015-01-12 20:09] #13294 closed

[2015-01-12 20:18] athulrajdr commented on #13294
i tried this, also re installed in another directory with new database, sqlite also tried
BEGIN:VCARD
VERSION:3.0
FN:Z New Kni Bz Rp: Wr.no
N:Rp: Wr.no;Z New Kni Bz;;;
TEL;TYPE=MAIN:+919999999999
END:VCARD
__________________________
this made some changes manually to
BEGIN:VCARD
VERSION:3.0
FN:Z New Kni Bz Rp Wr.no        ---->in this line Rp: to Rp
N:Rp Wr.no;Z New Kni Bz;;;       -----> in this

[2015-01-12 20:26] Naucum commented on #13244
unfortunately the same....

* Array
* Array
* Array

[2015-01-12 20:40] athulrajdr commented on #13294
i tried to replace the current repository on https://github.com/owncloud/contacts to "apps" directory. but the problem still persists.
i have made some changes on the content
before:
BEGIN:VCARD
VERSION:3.0
FN:Z New Kni Bz Rp: Wr.no
N:Rp\: Wr.no;Z New Kni Bz;;;
TEL;TYPE=MAIN:+919999999999
END:VCARD
_________________________
after changing:
BEGIN:VCARD
VERSION:3.0
FN:Z New Kni Bz Rp Wr.no

[2015-01-12 20:43] DeepDiver1975 commented on #13294
please reopen your issue in https://github.com/owncloud/contacts - thx

[2015-01-12 21:00] arm2arm commented on #10314
It looks like a FF goes too secure with Content Security Policy: this is an experimental for the moment one can stop it by: about:config -> security.csp.experimentalEnabled false.

[2015-01-12 21:01] duritong opened #13295 "Make it possible to configure additional parameters over autoconfig.php"
Hi

to automate installations it should be possible to configure a broad range of configs over autoconfig.php

As discussed here: http://forum.owncloud.org/viewtopic.php?f=26&t=20507

[2015-01-12 21:02] LukasReschke commented on #13295
I guess this is a duplicate of https://github.com/owncloud/core/issues/8022 - right?

[2015-01-12 21:02] #13295 closed

[2015-01-12 21:06] LukasReschke commented on #10314
Mhm? – We're actually not using inline scripts anywhere as far I know. Do you have any examples ready or am I misunderstanding you?

[2015-01-12 21:25] duritong commented on #13295
Jeez, I was searching for autoconf, but should have searched for autoconfig. Sorry for the noise...

[2015-01-12 21:31] DeepDiver1975 commented on #8022
as explained above - I see no reason to keep this open

[2015-01-12 21:50] arm2arm commented on #10314
After littlebit digging the trouble is comming from jquery-1.10.0.min.js
If you update it to recent one the warning is dissapearing.

[2015-01-12 22:02] arm2arm commented on #10314
what is the proper way to upgrade the jquery in OC??

[2015-01-12 22:23] jancborchardt commented on #13258
Yeah, good call. If we go crazy with the Github API we could even automatically search through the existing issues and display the 5 closest results. Then people could say »yeah, that’s the issue I have«. Some issue trackers (I think) do it like that – for sure a lot of FAQ pages do that.

[2015-01-12 22:37] chemnic commented on #13117
So, no problem with my server? Is this a bug?

[2015-01-12 23:05] nickvergessen commented on #13244
okay, last try:
[code]

[2015-01-12 23:07] fleish commented on #12801
@MorrisJobke or anyone else able to provide some suggestions here? My users are getting restless with daily issues with sqlite locking

[2015-01-13 00:17] peterkahl opened #13296 "PHP strict warning"
[code]

[2015-01-13 01:01] oparoz commented on #13270
When testing a fix, make sure to load a folder on the public side which contains a few pictures. https://github.com/owncloud/core/pull/13288 breaks previews

[2015-01-13 02:09] Biopticon commented on #13260
Hello DeepDiver,

You are right! But I still do not understand how it is possible that this number is reached about ten days ago and did not change since then although many files are synched! Is OC reporting the used space ahead of copying the files? Thank you anyhow.

[2015-01-13 03:45] karlitschek commented on #13296
can you post a full bug report using the issue template please?

[2015-01-13 03:48] peterkahl commented on #13296
Ok. Next time I will.

[2015-01-13 05:08] tabatabaei commented on #13137
tanks i set domain and config owncloud config file and solved

[2015-01-13 07:14] Sugaroverdose opened #13297 "files_sharing does not have translation line for "Share""
### Steps to reproduce
1. Open files app with translation other than English and sharing enabled in owncloud 8alpha2
2. Hover on any file

### Expected behaviour
Share button translated to interface language

### Actual behaviour
files_sharing doesn't have 'Share' line in l10n files, so share button can't be translated using t('files_sharing','Share')
At this moment 'Share' line is in core l10n fi

[2015-01-13 07:16] MorrisJobke opened #13298 "ownCloud completely broken in IE8"
Mostly stuff that was introduced with the search by @butonic

like `const` in Javascript which just have basic support from IE11+ https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/const?redirectlocale=en-US&redirectslug=JavaScript%2FReference%2FStatements%2Fconst

[2015-01-13 07:26] MorrisJobke commented on #13298
Fix is in #13299

[2015-01-13 07:28] #13283 closed

[2015-01-13 07:38] #12172 closed

[2015-01-13 07:42] MorrisJobke commented on #12801
@PVince81 @schiesbn YOu have more experience with the sharing part and maybe can better analyze this one. Thanks

[2015-01-13 07:59] legnabar commented on #13237
Hi Again,

I did some more research on DB comparison and for that I installed from scratch a 7.0.4 in another demo server and enable the same apps on both instances, except from Calendar, the comparison between both instances: the old one and the newly deployed one shows the following differences:

![image](https://cloud.githubusercontent.com/assets/10474615/5717406/ab237d0a-9b00-11e4-8200-5da6a75

[2015-01-13 08:52] DeepDiver1975 commented on #13265
duplicate of #13299

[2015-01-13 08:52] #13265 closed

[2015-01-13 08:52] #13298 closed

[2015-01-13 08:55] athulrajdr opened #13300 "Image files uploaded has no preview in root folder. (no problems in sub folders)"
The images in root folder has no preview.
koala.jpg is in root folder.
![1](https://cloud.githubusercontent.com/assets/7678226/5717981/8b6fbffe-9b2e-11e4-8e22-4b04b895a5fb.png)
when it open. there are no preview.
![no prview](https://cloud.githubusercontent.com/assets/7678226/5718002/ad951c82-9b2e-11e4-8001-0d43f58cd6c2.png)
The file is moved to a sub folder "my pics".

![3 preview](https://cloud.

[2015-01-13 08:55] MorrisJobke commented on #13187
fix is in #13301

[2015-01-13 09:01] MorrisJobke commented on #13259
@DeepDiver1975 Why not into a separate app?

[2015-01-13 09:02] MorrisJobke commented on #13227
@DeepDiver1975 What is the conclusion here?

[2015-01-13 09:05] DeepDiver1975 commented on #13297
possible fix: https://github.com/owncloud/core/pull/13254

@Sugaroverdose Is this the code line you are referencing/missing? THX

[2015-01-13 09:06] DeepDiver1975 commented on #13137
case closed? THX

[2015-01-13 09:08] DeepDiver1975 commented on #13296
We cannot analyse this issue without any further information - please reopen once all information has bee supplied - THX

[2015-01-13 09:08] #13296 closed

[2015-01-13 09:18] DeepDiver1975 commented on #13274
@PVince81 can you please have a look? THX

[2015-01-13 09:18] nickvergessen commented on #13274
Also happens with external storages

[2015-01-13 09:19] DeepDiver1975 commented on #13290
@jancborchardt mayb you can help out here as well? THX

[2015-01-13 09:22] DeepDiver1975 opened #13303 "dbal 2.5.1 has been released - we should consider updating"
@VicDeo  can I ask you to prepare a PR which updates 3rdparty repo and core? THX

In case you have questions feel free to ping me

[2015-01-13 09:24] DeepDiver1975 commented on #13227
non yet :see_no_evil:

[2015-01-13 09:25] DeepDiver1975 commented on #13259
yet another search app? No - THX :speak_no_evil:

[2015-01-13 09:26] DeepDiver1975 commented on #13259
seriously now - these few file contain the basic skeleton of the search mechanism - more part of core then anything else

[2015-01-13 09:29] DeepDiver1975 commented on #13300
@athulrajdr Thanks a lot for reporting issues back to us!

We need some more information to properly support you with your issue!

Can I ask you to follow our guidelines for submitting bugs as described here: https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

Thanks a lot!

[2015-01-13 09:31] #13220 closed

[2015-01-13 09:37] LukasReschke commented on #13227
My key points here: Our current caching implementation is dangerous – we cache data in it which is not supposed to be shared such as paths to binaries. Those may differ in distributed deployments on every machine. (a sendmail may be in different directories)

I'd suggest the following changes:

1. Make the low latency cache public
2. Move the priority in the general latency cache to first use dist

[2015-01-13 09:39] jmaerki commented on #9891
Thanks for all the feedback. That prompted me to try again and it actually helped me do the migration in the end even if there was quite a bit of manual editing of database.xml was required. Hopefully not with any downsides with future upgrades.
But....I want to make everyone aware that I had one major downside to it all and I don't know if it's a problem of the migration or the database design to

[2015-01-13 09:40] schiesbn commented on #13270
@oparoz I can reproduce it... But the encyption app decrypt the file for the preview correctly. Don't know why it doesn't get displayed correctly... Will investigate.

[2015-01-13 09:45] MorrisJobke commented on #5216
@michaelstingl or @cdamken Can you have a look in SF if this is still a problem or if this can be closed.

[2015-01-13 09:47] MorrisJobke commented on #7849
@cdamken Once you have time: Please have a look if this is still valid ;) Thanks.

[2015-01-13 09:48] DeepDiver1975 opened #13304 "[Sharing] Exception during initial encryption"
@schiesbn

AFAIK this happens as soon as there is a left over part file in the file system - can you please have a look? THX

[code]

[2015-01-13 09:52] DeepDiver1975 commented on #13304
[code]

[2015-01-13 09:55] #11412 closed

[2015-01-13 09:58] oparoz commented on #13270
@schiesbn - After a quick loo:
I see that `$this->userView->file_exists($preview)`returns true
https://github.com/owncloud/core/blob/master/lib/private/preview.php#L362
but then
the fopen operation fails `$stream = $this->userView->fopen($cached, 'r');`
https://github.com/owncloud/core/blob/master/lib/private/preview.php#L497

[2015-01-13 10:07] PVince81 commented on #13274
I'll have a look. It is likely due to file id change.
I suspect we'll need to spend some time in the future to make file ids stable...

[2015-01-13 10:11] PVince81 commented on #13274
Just checked the database and indeed the file id changes.
It's not only causing the favorite info to be lost, but also the share info!
If you share the file with link, then move it into a shared folder. Boom. Share lost. I'll make a separate ticket.

[2015-01-13 10:14] PierrePezot opened #13306 "Remove share permissions on mount points failure"
I'm working with Owncloud 7.0.4.2

The file lib/private/files/view.php generates the following error when a user without share permissions but with a file or a folder shared with him views his filesystem root.

**PHP 	Undefined variable: content at [...]/lib/private/files/view.php#1030**

The error is generated when Owncloud tries to remove share permissions for the file. Looks like a bad copy-pas

[2015-01-13 10:17] PVince81 opened #13307 "Move shared file into shared folder as recipient, moved share info lost"
### Steps to reproduce
1. Create two users "user1" and "user2"
2. Login as "user1"
3. Create a folder "test"
4. Share "test" with "user2"
5. Login as "user2"
6. Create a folder "sub" and put some files in it
7. Share "sub" with link and copy the link
8. Move "sub" into "test"
9. Check the share info for "sub"
10. Open the copied share link

### Expected result
At step 9 the link share still exists

[2015-01-13 10:18] PVince81 commented on #13274
Raised the share breakage here: https://github.com/owncloud/core/issues/13307

One possible solution is to add additional hooks that checks for such situations and then automatically update the share/favorite mapping by updating the file id. But honestly I'd prefer if we had stable file ids instead. There's more and more stuff relying on file ids.

[2015-01-13 10:18] PVince81 commented on #13307
@schiesbn @icewind1991 is there any way to prevent losing/changing the file id in such situations ?

I guess moving a share into an external storage will cause the same issues due to fileid changes.

[2015-01-13 10:38] PVince81 commented on #13040
@Biopticon the certificate issue you're having is probably something else, not related to ownCloud. Please check your web server config.

[2015-01-13 10:42] Sugaroverdose commented on #13297
@DeepDiver1975 this issue relies on it

t('files_sharing','Share') searches for 'Share' translation string in loaded l10n files of files_sharing, but this line isn't appear in those files.

Looks like that files_sharing in OC7 and earlier got translation for 'Share' from core l10n files(inherited?)

[2015-01-13 10:50] PVince81 commented on #12801
@fleish please check your `oc_storages` table.
Are there entries with the format "local::$datadir/$user" and also "home::$user" ? (there should be only one per user, not both). Did you move/change/rename the data dir when upgrading ?

[2015-01-13 10:53] MorrisJobke commented on #10804
cc @cdamken @michaelstingl

[2015-01-13 10:55] PVince81 commented on #9891
The database does uses file ids for shares and in the future "favorites".

If the conversion code isn't able to keep file ids then this is a major bug!

@bantu can you comment on this ?

[2015-01-13 10:55] MorrisJobke commented on #11624
@blizzz The solution here is to catch erro 19 as well and don't log it?

[2015-01-13 11:04] Maastodonte opened #13308 "Feature Request : External Sites"
Hi guys,

I think that it would be great to be able to set a restriction on group on admin page when adding new external sites.
It would be easier to add this optional input in that particular app than to create a new application for a similar purpose.

Say, I want to add local phpMyAdmin access to all my admins but I don't want my users to even know about it => add new external_site, restrict gro

[2015-01-13 11:11] DeepDiver1975 commented on #13308
Please reopen in https://github.com/owncloud/apps/issues - thx

[2015-01-13 11:11] #13308 closed

[2015-01-13 11:14] blizzz commented on #11624
Honestly, I do not see a point to prevent it from being logged. Because next time, there will be a reporter complaining that user x cannot login and no information about the cause is written to the log file.

I can offer to move this from ERROR to WARN level, if that helps?

[2015-01-13 11:15] DeepDiver1975 commented on #13297
can you please add the file and line you are referencing to? THX

[2015-01-13 11:16] nickvergessen commented on #13300
Duplicate of #9998 ?

[2015-01-13 11:19] nickvergessen commented on #13297
@Sugaroverdose the lines will appear in the file as soon as the translators translated the term.

[2015-01-13 11:22] PVince81 opened #13310 "File ids must stay stable"
Here are a few features that rely on file ids:
- favorites feature
- shares
- sync client to detect file move operations. Failing to do so will cause redownloads. (CC @dragotin)

Currently there are several known situations in which the file id changes:
- [x] File is moved to trashbin (not that bad, but causes share info + favorite info to be lost) => fixed on master / 8.1
- [x] File is moved betw

[2015-01-13 11:22] PVince81 commented on #11732
Found a few situations where the file id isn't stable: https://github.com/owncloud/core/issues/13310

[2015-01-13 11:23] PVince81 commented on #13274
Raised https://github.com/owncloud/core/issues/13310 to make the file id stable in general.

[2015-01-13 11:23] PVince81 commented on #13307
Raised https://github.com/owncloud/core/issues/13310 to make the file id stable in general.

[2015-01-13 11:24] #13187 closed

[2015-01-13 11:25] athulrajdr commented on #13300
@nickvergessen i didn't find any issue while the search on the topic.. thanks a lot for your info to get me to the solution.

[2015-01-13 11:28] #13300 closed

[2015-01-13 11:34] Naucum commented on #13244
changed at 9am...no mail since then

[2015-01-13 11:40] oparoz commented on #11769
It's a regression.
The endpoints, `public.php` or `s/token/download`, can take file and path arguments and send a zip of the current path only, but the button is now broken.

[2015-01-13 11:41] DeepDiver1975 commented on #11769
scheduling for 8.0 because of this - THX @oparoz for testing

[2015-01-13 11:43] Naucum commented on #13244
i will do another test....curiosly....on admin site it said.....
Error	Activity	A problem occurred while sending the e-mail. Please revisit your settings.	2015-01-13T08:29:48+00:00
Error	mail	SMTP Error: Could not connect to SMTP host.	2015-01-13T08:29:48+00:00
Error	PHP	stream_socket_enable_crypto(): SSL: crypto enabling timeout at C:\inetpub\wwwroot\owncloud\3rdparty\phpmailer\phpmailer\class.sm

[2015-01-13 11:47] DeepDiver1975 commented on #13310
Thanks for the summary - let's attack this in OC8.1

[2015-01-13 11:47] DeepDiver1975 commented on #13310
which is about to explode already ......

[2015-01-13 11:50] Sugaroverdose commented on #13297
@nickvergessen opened transifex right now, and there's no 'Share' line in files_share resource.

@DeepDiver1975 sorry, my english isn't well enough and i just can't clarify what i mean using words, to make everything clear, primer using https://github.com/owncloud/core/blob/master/apps/files_sharing/l10n/en_GB.js:
What do we have:
[code]
What should be ("Share" : "Share" appears in last lines):
[c

[2015-01-13 11:51] DeepDiver1975 commented on #9891
well - because we use autoincrement/sequences this will be really interesting to solve - we did not think about this .... tooo bad

[2015-01-13 11:52] DeepDiver1975 commented on #9891
@bantu please have a look at this as soon as time permits - THX

[2015-01-13 11:52] #13255 closed

[2015-01-13 11:52] DeepDiver1975 commented on #9891
scheduling for 8.0 for at least analysis - let's see if we can come up with a solution .....

[2015-01-13 11:53] MorrisJobke commented on #12171
@cdamken the fix will be in 6.0.7

[2015-01-13 11:54] MorrisJobke commented on #12548
cc'ing the performance gurur @LukasReschke Maybe give the blackfire.io a try ;) I will also set it up here

[2015-01-13 11:55] DeepDiver1975 commented on #10804
we have nothing like this

[2015-01-13 11:55] PVince81 commented on #13310
I wrote some unit tests (in the spirit of "test first") here: https://github.com/owncloud/core/pull/13312

[2015-01-13 11:57] nickvergessen commented on #13244
To increase the email speed you can do the following two changes:
1. Update the `notify_setting_batchtime` value from `3600` to `1` in the oc_preferences database table for your user
2. in `apps/activity/lib/backgroundjob/emailnotification.php` change
[code]
to
[code]

however, don't forget to change this back, since it increases the load on your server and might even get you spam listed at some p

[2015-01-13 11:59] MorrisJobke commented on #12707
@gig13 Ping

[2015-01-13 12:00] nickvergessen commented on #10804
I know we don't, the question is where a mysql version update has been performed.

[2015-01-13 12:05] DeepDiver1975 commented on #13297
The sting is on transifex and will appear the next days - THX

[2015-01-13 12:08] SergioBertolinSG opened #13313 "Explicit PROPFIND of getcontenttype returns 404 on folders"
### Previous requirements

Have installed curl and optionally xmllint

Create a file called propfind.txt with this content:
[code]

### Steps to reproduce

1. Use curl to make a propfind request

Use your own credentials and host

[code]

### Expected behaviour
to be detailed

### Actual behaviour
getcontenttype returns a 404 not found in every folder always.

### Server configuration
**Operating

[2015-01-13 12:12] dragotin commented on #13310
Especially case ```2) File is moved between storages (from/to external storage)``` is bad as the client and also the user does not care about the storage type or knows about it. That can be considered a plain bug.

[2015-01-13 12:16] bantu commented on #9891
From reading the code (https://github.com/owncloud/core/blob/master/core/command/db/converttype.php#L242), all data is copied including autoincrement/sequences. For PostgreSQL we additionally resynchronise sequences to their expected value (https://github.com/owncloud/core/blob/master/core/command/db/converttype.php#L271 https://github.com/owncloud/core/blob/master/lib/private/db/pgsqltools.php#L5

[2015-01-13 12:25] DeepDiver1975 commented on #13313
@PVince81 some webdav fun for you? :speak_no_evil:

[2015-01-13 12:26] DeepDiver1975 commented on #13287
@PVince81 #13291 was merged - anything more we can do? You stated #13291 is a partial fix for this issue. THX

[2015-01-13 12:28] Florian01 commented on #12412
I'm having the same Issue: after enabling the encryption app I cannot login again - other user accounts work, however. how do I stop the encryption manually? Can this be done somehow via myPHPadmin or any other workaround? sincere thanks!

[2015-01-13 12:29] jancborchardt commented on #13292
First should be the results where the search term is in the title, then in the content, then in the path.

[2015-01-13 12:33] DeepDiver1975 commented on #12412
the migration status for a user is stored in the table oc_preferences.

@schiesbn we should think about a recovery mechanism for an failed/bombed encryption process

[2015-01-13 12:36] LukasReschke opened #13315 "Application description has uneeded line breaks"
When the description uses some new-lines as in https://github.com/owncloud/core/blob/543fa0d45b23173ed94f4c865fe38855b1602ee4/apps/provisioning_api/appinfo/info.xml#L5-L13 for a cleaner code the description looks very disturbing with those uneeded line breaks (that is on master):

![screen shot 2015-01-13 at 13 34 24](https://cloud.githubusercontent.com/assets/878997/5720750/02afedba-9b29-11e4-973

[2015-01-13 12:39] DeepDiver1975 commented on #10804
ah - I see - thanks for the clarification

[2015-01-13 12:39] blizzz commented on #13180
I think it is a duplicate of https://github.com/owncloud/core/issues/12306, which we fixd just recently.

@gig13 can you confirm https://github.com/owncloud/core/pull/13280 solves the issue?

[2015-01-13 12:41] PVince81 commented on #13310
@schiesbn is there any situation you can think of when the file id might change if encryption is enabled ?

[2015-01-13 12:44] DeepDiver1975 commented on #13315
@jancborchardt any idea? THX

[2015-01-13 12:45] Florian01 commented on #12412
got it! I'm back in! Thanks!!!
to all other non-coders like myself: The Status in myPHPadmin has to be changed from "-1" to "1" (i.e. the same value other successfully encrypted users should list in the table).

Looking forward to ne next update on the encryption app before trying that one again :)

[2015-01-13 12:46] PVince81 commented on #13313
Yes, already discussed with @SergioBertolinSG on IRC.

It seems that folders do not have content types.

When doing a PROPFIND on a folder without a body (no explicitly requested attributes), you'll get the contents of the folder. For every file, there will be a "getcontenttype" attribute containing the mime type. However, folders do not have that attribute.

However if you explicitly request the

[2015-01-13 12:47] Naucum commented on #13244
Thanks for this hint....i was handling another thing  to close 2014 ;)

No changes in the text..but email arrived!! Seems to be there is no hope for my case....

[2015-01-13 12:49] PVince81 commented on #13287
As long as we don't know the steps how to move a file to trashbin without changing its file id (mysterious case), there isn't much we can do.

Let's close for now.

If @dttpy manages to reproduce the situation again we can reopen.

[2015-01-13 12:49] #13287 closed

[2015-01-13 12:58] blizzz commented on #13230
@varad-14 does it work better when you configure only one base DN each?

[2015-01-13 13:28] enoch85 commented on #13171
I can confirm this as well.

[2015-01-13 13:39] MorrisJobke commented on #13315
Why not simply replace all `\n` with ` `?

[2015-01-13 13:43] varad-14 commented on #13230
Hi Blizzz,
No and even if you specify single basedn also, we are facing same issue

[2015-01-13 13:50] MorrisJobke commented on #13315
Fix is in #13319

[2015-01-13 14:03] SergioBertolinSG opened #13321 "[Favorite] Files and folders explored from shared tabs in the side panel can't be favorited."
### Steps to reproduce
1. User1 has shared files with User2.
2. User2 enters in the Shared with you tab in the side panel.
### Expected behaviour

You can make files and folders favorite from this tab.
### Actual behaviour

There aren't stars to make them favorite.
### Server configuration

**Operating system**:
Ubuntu 14.04 LTS

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

[2015-01-13 14:13] PVince81 commented on #13303
Did you mean 8.1 ? Seems a bit late to update libs, or do they contain critical fixes we need ?

[2015-01-13 14:15] nickvergessen commented on #13244
[code]
this still outputs `* Array` ?

[2015-01-13 14:17] Naucum commented on #13244
yes..i checked again...here the complete source code

<?php
/** @var OC_L10N $l */
/** @var array $_ */
$l = $_['overwriteL10N'];

print_unescaped($l->t('Hello %s,', array($_['username'])));
p("\n");
p("\n");

if ($_['timeframe'] == \OCA\Activity\UserSettings::EMAIL_SEND_HOURLY) {
	p($l->t('You are receiving this email because in the last hour the following things happened at %s', array($_['ownclo

[2015-01-13 14:17] PVince81 commented on #13044
@johan27hack does this happen for text files as well ?
With a text file it might be possible to see how the corruption looks like (missing text blocks, etc)

[2015-01-13 14:20] PVince81 commented on #13040
@Biopticon maybe you're right: the decryption process took too long every time and PHP timed out. So running it several times probably helped to complete the process.
So this is more about finding a way to decrypt files without running into a PHP timeout.

I guess you're not getting "Call to a member function getUID()" any more now ?

[2015-01-13 14:21] PVince81 commented on #13040
PHP timeout for decryption has been reported here already: https://github.com/owncloud/core/issues/12495

[2015-01-13 14:28] evert commented on #13313
This is expected behavior. Collections don't have a content-type, because a content-type only relates to the `Content-Type` header of what a `GET` request would return. Collections don't need to respond to `GET` requests.

[2015-01-13 14:28] DeepDiver1975 commented on #13303
indeed - thx for noticing

[2015-01-13 14:29] Biopticon commented on #13040
Hello Vincent,

It seems that all is working, I am not getting any errors anymore. Thank you.  After many tries I believe all my files were decrypted. But I have to encrypt them after the problem is resolved. Thank you for your help.

[2015-01-13 14:36] icewind1991 commented on #13304
Might be fixed with #13317

[2015-01-13 14:36] jancborchardt commented on #13315
Removing line breaks altogether is a pretty harsh solution. Does this occur for anything other than the Provisioning API app? If not, then we should just fix it there directly.

[2015-01-13 14:37] LukasReschke commented on #13315
That's actually relevant for all apps that use a large text blob in the description as you can see at https://github.com/owncloud/core/blob/543fa0d45b23173ed94f4c865fe38855b1602ee4/apps/provisioning_api/appinfo/info.xml#L5-L13
(there are some such as search etc…)

We could fix it also by just destroying the formatting in the info.xml – though this is comfort-- for us ;-)

[2015-01-13 14:37] Biopticon commented on #13040
Vincent,
It would be very helpful if there is a progress indicator in the decryption/encryption section of the OC dashboard. Since OC seems already know the encrypted files, it might be possible to report encryption/decryption process so that we can avoid unnecessary worries!

[2015-01-13 14:39] PVince81 commented on #13040
Also found this https://github.com/owncloud/core/issues/6949

[2015-01-13 14:39] PVince81 commented on #6949
@schiesbn is there a ticket for adding a progress bar ?

[2015-01-13 14:42] jancborchardt commented on #13321
@Pvince81 is there any specific reason the stars aren’t shown on those views?

[2015-01-13 14:43] PVince81 commented on #13321
Yes, missing data. The sharing API doesn't return the favorite info.

[2015-01-13 14:45] jancborchardt commented on #13290
The real issue here is not the highlighting – it’s that the file is downloaded instead of getting viewed. And I’d say that is kind of a bug which should be solved for ownCloud 8 if we can get that done.

cc @owncloud/designers

[2015-01-13 14:50] LukasReschke commented on #12785
I'll get in touch with 1&1 and request a test instance. Hopefully this allows me finally to reproduce this issue reliably.

@jGleitz @powerswitch Can you let me know which product you exactly used so I can request it at well? Also how did you install it? Came it installed or had you to request a specific OS?

[2015-01-13 14:53] PVince81 commented on #13321
Postpone to 8.1 as discussed with @DeepDiver1975

[2015-01-13 14:53] PVince81 commented on #13321
CC @schiesbn

[2015-01-13 14:56] PVince81 commented on #13290
The text editor currently doesn't work in non-default view: https://github.com/owncloud/files_texteditor/issues/17

So for now clicking on a text file should download it, as the edit action isn't registered.

But even in that case, the grey highlight should probably disappear.

[2015-01-13 15:00] PVince81 commented on #13321
One suggestion for the far future would be to have a WebDAV endpoint for shares and let API consumer decide whether they want the "oc:favorite" property or not, as it would affect performance to always return it.

[2015-01-13 15:01] Sugaroverdose opened #13322 "Files favorites plugin: star icon changes it's size on click in safari"
Here how it looks like .gif:
![starbutton](https://cloud.githubusercontent.com/assets/10269200/5722542/0d4acb94-9b4e-11e4-935e-a60db2739d4f.gif)

[2015-01-13 15:01] jGleitz commented on #12785
@LukasReschke I have the "Virtual Private Server Linux L". If you book it, you get to choose between some Unix OS. In my case, I chose Ubuntu 14.04. The virtual server is then initialised and you can move in. Basic things like ssh, Apache with PHP & Co. are already installed and set up.
I chose it because as a student you get it for 1€ per year. So if all else fails, you could do that (I would pay

[2015-01-13 15:02] nickvergessen commented on #13244
Can you remove
[code]
just to be sure we are in the right file

[2015-01-13 15:04] fleish commented on #12801
@PVince81 checking in oc_storages pre-upgrade I see only 1 local:: entry as follows:
local::/var/www/owncloud/data/|4

the rest are like:
home::admin|1
home::**REDACTED-GUID**|2

I don't change anything manually during the upgrade, only whatever the apt/dpkg upgrade does and then occ upgrade & occ files:scan --all

[2015-01-13 15:05] nickvergessen commented on #13290
@jancborchardt thanks for changing my ticket to something I did not mean and is a different issue.
When the default action is performed the grey block remains in the favorite list, it does not in any other files list.

[2015-01-13 15:06] PVince81 commented on #13313
Okay, so the client should simply ignore the fact that "a:getcontenttype" appears in the 404 block, which shouldn't hurt.

Does it mean that if no attributes were requested explicitly (default case), a:getcontenttype should also appear in a 404 block for consistency ?

[2015-01-13 15:06] powerswitch commented on #12785
I use the 1&1 Virtual Server L Linux with a Debian 6.0 Squeeze Minimalsystem (64 Bit), but updated it to Wheezy 7.8 (2.6.32-042stab094.8 Kernel).

[2015-01-13 15:07] PVince81 commented on #12801
Okay good, so your setup isn't a case of the known "home storage duplication" which is known to make shares disappear.

[2015-01-13 15:07] Naucum commented on #13244
On the way...the file is in
wwwroot\owncloud\apps\activity\templates
just in case of doubts...but i change it now just in case

btw..in case it is importante..the activities can be seen in my account what was uploaded/deleted

[2015-01-13 15:09] evert commented on #13313
No, it doesn't make sense for the 'allprop' case.

[2015-01-13 15:09] Naucum commented on #13244
Like this?

<?php
/** @var OC_L10N $l */
/** @var array $_ */
$l = $_['overwriteL10N'];

print_unescaped($l->t('Hello %s,', array($_['username'])));
p("\n");
p("\n");

if ($_['timeframe'] == \OCA\Activity\UserSettings::EMAIL_SEND_HOURLY) {
	p($l->t('You are receiving this email because in the last hour the following things happened at %s', array($_['owncloud_installation'])));
} else if ($_['timef

[2015-01-13 15:09] PVince81 commented on #12801
Let's check for orphaned shares:
`select * from oc_share where item_source not in (select fileid from oc_filecache)`

and orphaned storages:
`select * from oc_filecache where storage not in (select numeric_id from oc_storages)`

Also that error 3) about the search provider class is suspicious. Do you somehow happen to have the search app enabled twice from different sources ?

[2015-01-13 15:10] PVince81 commented on #13313
Okay, thanks for the clarification.
Closing this as this is the expected behavior.

[2015-01-13 15:10] #13313 closed

[2015-01-13 15:14] nickvergessen commented on #13244
yes

[2015-01-13 15:14] nickvergessen commented on #13244
no, the last `}` has to be removed aswell

[2015-01-13 15:16] Naucum commented on #13244
done....waiting for mail

[2015-01-13 15:19] fleish commented on #12801
Ophaned shares:
19|**REDACTED_GUID1**|**REDACTED_GUID2**||file|1721|/1721|1721|/REDACTED_FILENAME 3.zip.gpg|||0|27|1398283250|0|0
20|**REDACTED_GUID3**|**REDACTED_GUID2**||file|1721|/1721|1721|/REDACTED_FILENAME 3.zip.gpg|||0|27|1398283261|0|0
85|**REDACTED_GUID4**|**REDACTED_GUID5**||file|34047|/34047|34047|/REDACTED_FILENAME.pdf|||0|27|1409772053|0|0

Nothing for orphaned storages.

When I check

[2015-01-13 15:24] jGleitz commented on #12785
As I read on the internet, the "Virtual Private Server Linux L" is quite cheap because performance paramters, just like `numfiles` (8.192) are quite low. I have also problems with Apache, having to restart it every 2,3 days. Usually, problems with the files systems are the cause, most of the time "too many opened files"

[2015-01-13 15:25] PVince81 commented on #12412
Let's use this ticket for all issues that caused that "getUID()" exception.
The minimum that needs to be done is making sure we don't see that exception that doesn't mean anything, but show a proper error message for the stuck encryption (or even an exception that mentions the migration).

As described above, this "getUID()" exception is due to the code path that tries to log out the user due to r

[2015-01-13 15:25] PVince81 commented on #13040
Closing as duplicate of https://github.com/owncloud/core/issues/12412

The error you had initially with "getUID()" appears when the encryption migration was somehow stuck.

[2015-01-13 15:25] #13040 closed

[2015-01-13 15:25] PVince81 commented on #12316
Closing as duplicate of https://github.com/owncloud/core/issues/12412

[2015-01-13 15:25] #12316 closed

[2015-01-13 15:26] PVince81 commented on #12320
Did you guys have any more luck with 7.0.4 ?

[2015-01-13 15:28] PVince81 commented on #12801
I see the error above says error with shared storage 3.

Is there a storage with this numeric_id in the oc_storage?
`select * from oc_storages where numeric_id=3`

[2015-01-13 15:49] blizzz commented on #10864
@fernandoruiz @rperezb sorry, I cannot reproduce the behaviour. My steps were as following:

1. Go to Admin settings, LDAP
2. Go to Login Filter tab (using mouse clicks)
3. Click into Raw Filter Textinput and press Enter.

No delete action was triggered. Neither in current stable7 nor in master.

[2015-01-13 15:49] MorrisJobke opened #13324 "Get rid of .idea"
It was a nice idea to ship the IDEs configuration inside of the repo, but I would vote for removing it and provide it in another way. You can simply import and export PHPStorms settings. Maybe provide them simply as download and don't mess with others config by default.

If this is approved I will prepare a PR.

cc @icewind1991 @nickvergessen @DeepDiver1975 @LukasReschke @butonic (you are the PHPS

[2015-01-13 15:49] jancborchardt commented on #13290
@nickvergessen hey, no need for sarcasm. :) Sorry for changing it, I assumed this was a general problem, not only with the text editor.

[2015-01-13 15:51] jancborchardt commented on #13321
If we use favorites in the UI, they should be in every view I would say. It’s a pretty basic feature of file management nowadays. But yeah, we do need to balance it with performance.

[2015-01-13 15:52] LukasReschke commented on #13324
I kinda like this tbh - since we don't follow PSR we should have it very prominently placed. Any alternative idea?

[2015-01-13 15:52] PVince81 commented on #13324
Where is that config stored ?

Can PHPStorm by any chance export PHPCS + PHPMD config ?
I remember seeing such files in the "build" folder but they seem to be gone.

[2015-01-13 15:53] PVince81 commented on #13321
I agree, let's keep this ticket open to look into that.

[2015-01-13 15:59] MorrisJobke commented on #13324
From time to time I got changes in the idea folder. Sometime I change a setting and it got in there too....it's just annoying to either vanish settings or have a dirty git directory.

@PVince81 it's the .idea folder and it's a special XML file.

[2015-01-13 16:03] LukasReschke commented on #13324
Okay. Sounds reasonable. Just saw that new IntelliJ version have some kind of autolearning anyways (adopting the style used in the file)

Fine for me then.

[2015-01-13 16:09] fleish commented on #12801
Yes, just one
home::**REDACTED_GUID**|3

[2015-01-13 16:30] nickvergessen commented on #13324
:+1:
We could add something like http://editorconfig.org/ (quite spread)

[2015-01-13 16:35] karlitschek commented on #13322
@jancborchardt

[2015-01-13 16:40] anaqreon commented on #12320
I actually migrated to a different server that is still running 7.0.2, so I don't have the problem now.

[2015-01-13 16:56] Sugaroverdose commented on #13322
Maybe it's better not to change src, but switch 'hidden' class between two img?

[2015-01-13 16:58] LukasReschke opened #13326 "Make "Download from URL" configurable"
The "Download from URL" feature should be configurable and allow at least the following configuration options:

1. Completely disable this feature
2. Disallow private IP addresses

[2015-01-13 16:59] LukasReschke commented on #13326
IMHO it would be sane when per default access to all private IP addresses are forbidden and admins would manually need to opt-in.

[2015-01-13 17:00] LukasReschke commented on #13326
@jancborchardt FYI – this will be a switch in the config.php most likely.

[2015-01-13 17:08] MorrisJobke commented on #13324
This sounds good :+1: It even has PHPStorm and Vim (I know @PVince81 uses vim and maybe @schiesbn )

And this would also help to get contributors to have a nice editor setting (even if they don't use IDEs and rather something like SublimeText)

[2015-01-13 17:27] Naucum commented on #13244
[code]
grummel!!!

[2015-01-13 17:34] nickvergessen commented on #13244
Okay, so we have been in the wrong file all the time, since we remove the stuff that creates the `* xyz` lines.
Are you sure you don't use a custom theme in owncloud?

[2015-01-13 17:41] texxasrulez opened #13327 "Latest Update of Owncloud Desktop App breaks system."
The latest update to owncloud desktop app at the end of 2014 causes (on 2 separate computers) Autocad to lock up whenever a "windows manager" is needed. When opening files, it hangs before file explorer comes up. It also hangs when trying to insert blocks, again, the windows file explorer needs to be opened. Once I uninstalled owncloud app, my Autocad returned to normal. I love your software and h

[2015-01-13 17:46] Sugaroverdose commented on #13327
wrong repo.
https://github.com/owncloud/client

[2015-01-13 17:48] Naucum commented on #13244
As i said before the following files were definitely modified by myself
config.php
layout.guest.php
htaccess.php
defaults.php

Also said that the templates on admin site are the ones where i send you the pictures. Like i said before i m not programmer neither expert and i only edit files to give owncloud a more personal touch with the information that i found in the forum or in github. Also downlo

[2015-01-13 17:53] #13327 closed

[2015-01-13 17:56] PVince81 opened #13328 "Concurrent move to share as recipient + rename creates empty files"
### Steps to reproduce
1. Create two users "user1" and "user2"
2. Login as "user2"
3. Create a folder "test" and share it with "user1"
4. Login as "user1"
5. Create a folder "payload" and upload a lot of files inside (I used about 70 pictures, 1-4 MB each)
6. Open a second browser tab for "user1"
7. In the first browser tab, drag and drop "payload" into "test"
8. While the folder is being moved, r

[2015-01-13 17:56] PVince81 commented on #13328
CC @DeepDiver1975

[2015-01-13 17:57] PVince81 commented on #13328
Background info: when moving files into a shared folder as recipient, files are first copied there with `$view->copy()` (as it's considered a separate storage) and then deleted.

@SergioBertolinSG @jnfrmarks see above for important insider info that can help designing test steps for that

[2015-01-13 18:05] vwalther opened #13329 "Update from 7.0.2 to 7.0.4 in update center fails"
Hello, i have bitnami owncloud and its failed to update automaticaly in admin page.
screenshot.
https://www.evernote.com/shard/s245/sh/b75eb408-f4d0-4a90-a812-7b322e119eb6/321b721cf95e541c9221a02abf275e50

Checking your installation...
Downloading package...
Creating backup...

its create backup in
my data derectory and nothing next!

rights of htdocs
drwxr-xr-x 12 daemon daemon    4096 Jan 13 17:

[2015-01-13 18:07] Sugaroverdose commented on #12508
same as #11348

[2015-01-13 18:14] Naucum commented on #13244
when i go into admin panel of ownlcoud i see this in Mail Templates
![1](https://cloud.githubusercontent.com/assets/8770484/5726019/680c6646-9b58-11e4-9f95-3e3bb36a522c.jpg)
does this means that there is no custom template in use?

[2015-01-13 18:34] Naucum commented on #13244
If you say the wrong file do you mean that there is another php file called email.notification.php ?

[2015-01-13 18:35] RealRancor commented on #13329
Hi,

seems to be an issue with the updater app which should be reported in the issue tracker of the app located here: https://github.com/owncloud/updater/issues

[2015-01-13 18:51] PVince81 commented on #13328
It looks like during the copy it creates a cache entry for the target, with zero size and then updates it when the copy is done.

[2015-01-13 18:55] PVince81 commented on #13328
This also means that if a sync client is running at the same time while the copy is in progress, it might receive an empty or partial file.
And even more interesting: if you run `./occ files:scan --all` during the copy, it will update the file size during the copy, even if the size is only the partial one. Which also means that if a scan happens, and a client is running, it might also get a partia

[2015-01-13 19:02] PVince81 commented on #13328
Another variant of the rename test case that produces broken/partial files:
1. user2 shares folder "test" with user1
2. user1 uploads a huge file "huge.dat" (to create a long enough delay)
3. using cadaver, "mv huge.dat test"
4. While the move is running, open another cadaver session and do "mv huge.dat r.dat" to rename the source file that is currently copied

In my test case the target file was

[2015-01-13 19:05] #13329 closed

[2015-01-13 19:11] PVince81 opened #13330 "Rename target subfolder while moving file into shared folder, data lost"
### Steps to reproduce
1. Create two users "user1" and "user2"
2. Login as "user2"
3. Create a folder "test" and share it with "user1"
4. Login as "user1"
5. Create a folder "sub"
6. Upload a huge file "huge.dat" into "sub"
7. Prepare two cadaver sessions for "user1" (webdav clients)
8. In cadaver1: "mv sub test" (this will move the huge file into the shared folder)
9: During the copy, in cadaver2

[2015-01-13 19:11] PVince81 commented on #13328
Note: I had the app "files_locking" enabled all the time. It might explain the empty files.

And a last one: instead of renaming the source file, rename the target file or folder.
Ouch, this one actually destroys the data. Raising a separate ticket: https://github.com/owncloud/core/issues/13330

[2015-01-13 19:22] chuckingit opened #13331 "ownCloud 7.0.4 Avatar issue - uploads to user cache but not to user account ..."
Hi - i recently upgraded to 7.0.4 and everything seems to work except one strange issue with user avatars ... in that when i'm logged in as a new user and scroll down to the Profile picture section and try to "upload new" it bombs ... yes, the status bar shows that a file is being uploaded then stops thus the new photo does not appear ... yet when i logged in to back end of server, indeed i can se

[2015-01-13 19:34] oparoz commented on #11769
This is my fix proposal, but I'm having second thoughts.
https://github.com/owncloud/core/pull/13332

Maybe that button should not even exist in filelist view since it's really easy from anywhere, as mentioned by @PVince81, to tick the "select all" button and to have an archive of everything we see.

It makes sense to have it in the gallery (and it already selects the current album in the new mast

[2015-01-13 19:46] MorrisJobke commented on #11769
cc @owncloud/designers

[2015-01-13 19:51] osamak commented on #11769
I think removing it is a wise choice. The interface is not expected to have buttons that just duplicate an existing function.

[2015-01-13 20:20] smonsays commented on #9832
Is this really a single bug or just an error message, which can be caused by variing factors?

I had those problems, but got rid of them after switching to mysql, unfortunately today they came back for uploads with a Windows 8.1 tablet and I got several (for different files):
`Fatal	webdav	Sabre\DAV\Exception\BadRequest: expected filesize 1853912 got 98304	2015-01-13T14:41:41+00:00`

What can I do

[2015-01-13 20:32] jancborchardt commented on #11769
No, sorry – we didn’t have the button before and people were confused as to how to download everything.

[2015-01-13 20:36] jancborchardt commented on #13322
@Sugaroverdose that’s weird … the stars are exactly the same size. Can you maybe debug it? I don’t have OS X / Safari to test unfortunately.

cc @owncloud/designers

[2015-01-13 20:39] Naucum commented on #13244
ok...Now i think i have the right one..(i guess) because now happens what you looked for.
it was confusesing..because u said the path is
apps/activity/template/email.notification.php
and i think you mean:
\owncloud\apps\activity\templates

but it is:
owncloud\themes\default\apps\activity\templates

And NOW all what you expected happend after trying a first step.

i remove as you said:
´´´
foreach

[2015-01-13 20:45] progfou commented on #9832
Since our case (the Lock problem declared by avoine on Sep. 11, 2014) has been **solved** (by DeepDiver1975), it seems to me that we get the same kind of error message for the same kind of bug (wrong content size) but in different situations, so probably at multiple places in the code.

[2015-01-13 20:48] Naucum commented on #13244
Testing now with
´´´
foreach ($_['activities'] as $activityData) {
    print_unescaped('DEBUG#' . serialize($activityData));
	p("\n");
}

´´´

[2015-01-13 20:52] Sugaroverdose commented on #13322
Default size of SVG in Safari is lower than 16px on 16px, and looks like safari doesn't honor css size for img's with dynamically changed src(should it?).

I've partly fixed this by adding width:100%;height:100%; to img element, that makes icon refresh it's size after unhighlighting file line.

My opinion - it's more about js render technique than markup/styling.

next step - try to add class='hid

[2015-01-13 21:46] combatwombat commented on #12802
Same problem here. It seems after the update to 7.0.4 only the owner of a shared folder can create a public link that works. Public links of members of the group the folder is shared to get a 404.

A guess:
I looked at the oc_share table and as in Do-Ds example above, the parent column is NULL, whereas with previous entries it contained the id for a shared parent folder (I think). And since OCP\Sh

[2015-01-13 21:52] Naucum commented on #13244
´´´
Hello David,

You are receiving this email because in the last hour the following things happened at http://mydomain.com/owncloud/

DEBUG#a:2:{i:0;O:14:"OC_L10N_String":4:{s:7:"
´´´
This is the email which i get ...finally something different and..btw..in english instead of spanish

[2015-01-13 22:14] Sugaroverdose commented on #13322
Toggling 'hidden' between two images works as expected: star renders correctly without resizing

[2015-01-14 01:26] tessus opened #13333 "files in subdirectory not synced, if subdirectory shared with different user than directory"
### Steps to reproduce
1. create directory A
2. create sub-directory B in A
3. share A (can edit: create/update/delete) with group X
4. share B (can edit: create/update/delete) with user Y

### Expected behaviour
If user Y uploads a file into B, it should be synced.

### Actual behaviour
If user Y uploads a file into B, people in group X can see the file in the web interface, but it is not synced

[2015-01-14 08:51] MorrisJobke commented on #13297
I just added the string a day before. ;) Transifex is synced at night time. Then it will appear on transifex. If it is translated during this day it will be synced back on the next day. So this is just fine.

[2015-01-14 08:51] #13297 closed

[2015-01-14 08:52] MorrisJobke commented on #13297
ref #13254

[2015-01-14 08:56] Sugaroverdose commented on #13297
@MorrisJobke good to hear :+1:

[2015-01-14 08:57] MorrisJobke commented on #13297
@Sugaroverdose Do you want to join the IRC channel? ;) http://doc.owncloud.org/server/7.0/developer_manual/commun/index.html

[2015-01-14 09:11] PVince81 opened #13334 "Repair step to cleanup orphaned tags"
Due to the lack of cascading delete (#13143) it can happen that tags are orphaned, either:
- because the user was deleted: https://github.com/owncloud/core/issues/12816 (can already happen with contacts tags)
- because the file it was pointing to was deleted (no more matching file id): https://github.com/owncloud/core/issues/12858

Also there is always the possibility of bug situations that might

[2015-01-14 09:12] PVince81 commented on #12858
Raised repair step ticket to cleanup orphaned tags: https://github.com/owncloud/core/issues/13334

[2015-01-14 09:23] PVince81 commented on #12412
To make it even cleared, the steps to reproduce:
1. Upload lots of files
2. Enable encryption
3. Open two browser tabs
4. Login in the first browser tab: migration starts
5. While the migration is running, try and login in the second browser tab

Step 5 will first show a message "encryption is already running". But then after a little while it will refresh the page and show the exception.

Expecte

[2015-01-14 09:26] PVince81 opened #13336 "Apps list shows wrong result when switching section during results load"
### Steps to reproduce
1. Go to the apps management page
2. Wait for the results to load
3. Click on "Not enabled"
4. Before the results appear, quickly click on "Enabled"

### Expected result
Results contain enabled apps

### Actual result
Results contain not enabled apps, which doesn't match the selected section.
I believe this is a race condition: both ajax requests are running and whichever fi

[2015-01-14 09:29] nickvergessen commented on #13244
Okay, so lets start at https://github.com/owncloud/core/issues/13244#issuecomment-69620380 again :)

[2015-01-14 09:33] PVince81 commented on #12977
Fixed by https://github.com/owncloud/core/pull/13311

[2015-01-14 09:36] PVince81 commented on #12323
@DeepDiver1975 setting to 8.1, it's about time we implemented this.
Please set to backlog if not acceptable.

[2015-01-14 09:37] Naucum commented on #13244
running test with edite lines to

foreach ($_['activities'] as $activityData) {
    print_unescaped($l->t('* %1$s - %2$s', $activityData));
	p("\n");

thanks for your patience :)

[2015-01-14 09:37] PVince81 commented on #7874
@DeepDiver1975 setting to 8.1, it's about time we implemented this.
Please set to backlog if not acceptable.

[2015-01-14 09:37] PVince81 commented on #12323
or 8.2 :wink:

[2015-01-14 09:49] PVince81 opened #13337 "Public link upload with encryption + files_locking fails"
### Steps to reproduce
1. Enable encryption
2. Create a folder "test"
3. Share "test" with link and allow editing/upload
4. Upload a file

### Expected result
File uploaded

### Actual result
`Could not obtain lock type 2 on "/srv/www/htdocs/owncloud/data/root/files_encryption/keys/abc/1391249528060.jpg/fileKey`

Maybe the file key is being opened twice in a row ?
Also there's the more broader que

[2015-01-14 09:49] MorrisJobke opened #13338 "Rename field in "Favorites" is shifted to the right"
* mark a file/folder as favorite (star)
* go to the favorite view
* rename the file/folder by clicking on the pencil icon
* looks like:

![rename-favs-in-master](https://cloud.githubusercontent.com/assets/245432/5736848/eea57454-9bda-11e4-8170-468a96fa3c24.png)

version: current master

cc @PVince81 @jancborchardt You played around with that too. Wasn't there a fix for the other views? Maybe this

[2015-01-14 09:57] PVince81 commented on #9151
Is it now possible to set a global prefix for database tables ? @DeepDiver1975 @MorrisJobke

If yes, then this could be done before running the update.php code to make sure the upgrade runs only on the simulated database/table.

This means that update.php would be called twice, once for the simulation with the prefix of simulated tables and once again with the real tables.

[2015-01-14 10:09] PVince81 commented on #13242
The Android app uses WebDAV to upload files, which itself doesn't use the Node API (through SabreDAV the internal $view API is used), so not sure what is causing this to happen ?

@derkostka do you have any third party apps enabled that might try and do something with uploaded files ?

I'm able to upload big files properly through WebDAV on 8.0.0alpha1 and master.

[2015-01-14 10:11] PVince81 commented on #13242
From here https://github.com/owncloud/core/issues/13096 I guess you have the music app enabled ?
@MorrisJobke I suppose the music app checks every uploaded file to see if it's a music file ? (using the Node API)
Might explain this issue above.

[2015-01-14 10:14] PVince81 commented on #12816
Raised repair step ticket here: https://github.com/owncloud/core/issues/13334
That would be the bare minimum to avoid too much DB pollution in the long run.

[2015-01-14 10:20] PVince81 commented on #12204
Hmm... I tried this again and again with different settings:
1) While being logged in with default locale
2) While being logged in with French locale
3) While being logged out with default locale
4) While being logged out with French locale

The version number was always properly displayed.

I do remember seeing it from times to times.

[2015-01-14 10:22] PVince81 commented on #12204
Okay, if I checkout stable7 (4d42485bf5a3d0af69d196a46c2b499112af515c) and upgrade to master (65ee2b1de88e490672067257a6a704a697d71e1e) the message does not appear.

[2015-01-14 10:25] PVince81 commented on #12204
This happens because the file that loads the config strings is not available.
I see that `http://localhost/owncloud/index.php/core/js/oc.js?v=e678535969e5c1b76f3bef518961eaf2` is returning "503 service not available".

Possibly caused by recent changes to base.php.

[2015-01-14 10:33] PVince81 commented on #12204
Fix is here: https://github.com/owncloud/core/pull/13341
It uses another more reliable way to read product name + version.

[2015-01-14 10:35] PVince81 commented on #12167
Did you guys have any more luck with 7.0.4 ?

[2015-01-14 10:39] Bellum45 opened #13342 "Can't delete one event from a repeating event list in the calender"
I can't delete one event from a repeating list of event in the calender.

I must delete the whole list and create a new one.

[2015-01-14 10:42] schiesbn commented on #13337
that's only happens with file locking, right? Without it the upload works? I will have a look.

[2015-01-14 10:47] PVince81 commented on #12289
Tagged as junior job.
There are already a few existing examples in the code for that.

The capability should only be returned whenever remote sharing is enabled on the server.
See the admin section for the matching checkbox, which will lead back to the matching config key setting.

[2015-01-14 10:47] Naucum commented on #13244
[code]

[2015-01-14 10:48] PVince81 commented on #13337
Yes, only with the files_locking app.
I suspect that maybe a key file is getting fopen'd twice in a row or something.

[2015-01-14 10:55] #13270 closed

[2015-01-14 10:55] PVince81 commented on #11331
@icewind1991 any update on this ?

[2015-01-14 10:57] PVince81 commented on #10864
Wow this is old. I already fixed the focus issue here: https://github.com/owncloud/core/pull/11480

[2015-01-14 10:57] #10864 closed

[2015-01-14 11:02] LukasReschke opened #13343 "Allow applications to prevent "remember me" login for specific users"
Applications should be possible to prevent the "remember me" login from working for specific users and if that is done a decent notice should get shown to the user so that he gets aware of this.

The current implementation requires us to disable "remember me" if apps such as files_external are enabled which have the "Login with ownCloud credentials" feature.

Ref https://github.com/owncloud/core/p

[2015-01-14 11:02] LukasReschke commented on #13343
@nickvergessen @DeepDiver1975 FYI

[2015-01-14 11:04] boeserwolf commented on #13109
Hi, i have the same issue when adding a URL from a remote ownCloud server, trying to create a server-to-server share:

"Error fetching URL"

The client fires an AJAX request:
https://[SERVER]/index.php/apps/files/ajax/newfile.php?dir=%2F&source=...&filename=public.php%3F...&requesttoken=...

The result is:
"Invalid name, '\', '/', '<', '>', ':', '"', '|', '?' and '*' are not allowed."

newfile.php

[2015-01-14 11:06] nickvergessen commented on #13244
yes, changing the language in the personal settings should be enough

[2015-01-14 11:06] #13244 closed

[2015-01-14 11:21] PVince81 commented on #10299
@icewind1991 in general I think the scanner should never run on a SharedStorage.
How about making SharedStorage->getScanner() return a scanner that operates on the source storage instead ?
I'm trying to find a workaround that might involve adding a logic like: if storage is a ISharedStorage, then call Scanner::getData() on the source path instead.

[2015-01-14 11:22] Sugaroverdose commented on #13322
Adding
[code]
to toggleStar function in https://github.com/owncloud/core/blob/master/apps/files/js/tagsplugin.js forces safari to redraw, but but button hides for around a second :(

[2015-01-14 11:23] blizzz commented on #10864
I did not remember this anymore :D thx @PVince81

[2015-01-14 11:24] #11769 closed

[2015-01-14 11:30] redhell commented on #12167
For me it's fixed!

[2015-01-14 11:35] PVince81 commented on #10299
@icewind1991 operating on a "masked" storage is probably what you had in mind for OC 8 ? (JailStorage)

On master when I debug into `$storage->getPermissions($path)` in the SharedStorage's scanner, it doesn't go through the `Jail` layer. Maybe this is intended ? The scanner always operates on the lowest level storage without any storage wrappers applied ?

[2015-01-14 11:35] powerstorm42 opened #13346 "LDAP login must have username all lowercase on LDAP server"
If I have a LDAP user "Test" on the server then this user cannot login through LDAP (tried test, Test, etc.)
However, if the LDAP username is "test" then the user can login using both test and Test.
It looks like the username is converted to lowercase and then a case-sensitive match is done, but it should be a case-insensitive match. I tried this with the "case-insensitive server (Windows)" both o

[2015-01-14 11:37] PVince81 commented on #10299
Tentative quickfix here: https://github.com/owncloud/core/pull/13347

[2015-01-14 11:39] schiesbn commented on #13337
I can't reproduce it on master after the public upload fix was merged ( https://github.com/owncloud/core/commit/9a487f0445d9dfd26690943c5aa570553f7de2fc)

[2015-01-14 12:07] #12204 closed

[2015-01-14 12:08] MorrisJobke commented on #13346
cc @blizzz

[2015-01-14 12:09] MorrisJobke commented on #13342
This is an issue of the calendar app. Please reopen in the calendar bug tracker https://github.com/owncloud/calendar/issues

[2015-01-14 12:09] #13342 closed

[2015-01-14 12:12] MorrisJobke commented on #13242
Yes. The music app uses the node API

[2015-01-14 12:13] MorrisJobke commented on #9151
Yes. There was a doctrine method to set the prefix. See #12995

[2015-01-14 12:37] schiesbn commented on #12977
fix merged

[2015-01-14 12:37] #12977 closed

[2015-01-14 12:59] icewind1991 commented on #13096
@derkostka can you test this with #13317

[2015-01-14 13:00] icewind1991 commented on #13242
From #13096 it looks like it's related to the music app trying to scan .part files.

Might be fixed with #13317

[2015-01-14 13:09] jancborchardt commented on #13338
It seems the DOM is constructed differently than in the normal Files view? There’s extra margin to the left when it shouldn’t be there. The `.has-favorites` CSS rule applies so it adds the 52px left margin necessary to fix it in other views (like the regular list and public share).

[2015-01-14 13:21] Xenopathic commented on #13227
:+1: :ship: :soon: :question:

:exclamation: :memo: Memcache/Redis :zzz: APCu/XCache :dash:

[2015-01-14 13:24] blizzz commented on #13346
Can't reproduce, works fine for me with stable7 and OpenLDAP.

@powerstorm42 please complete your issue report according to the issue template: https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

[2015-01-14 13:26] BernhardPosselt opened #13353 "JSResourceLocator needs to die"
We do some really fancy and slloooooow magic when locating js files added with OC_Util::addScript. The following paths are added for instance:

* js/chosen.js
* news/js/app.js

Then in order to locate the file we loop over all possible directories and figure out if the file exists. Why cant we simply construct a valid path like:

* core/js/chosen.js
* apps/news/js/app.js

inside the addScript meth

[2015-01-14 13:29] DeepDiver1975 commented on #13227
Not that much of an issue - load balanced servers should be setup identical from my pov - but at the end - yes can cause issues

[2015-01-14 13:30] DeepDiver1975 commented on #13227
indeed - go for it if time permits - THX

[2015-01-14 13:40] #13119 closed

[2015-01-14 13:49] PVince81 commented on #13353
There can still be multiple configured app folders (apps2, apps3).
I agree that we can limit the search scope to these instead of searching in irrelevant locations (like searching in "core" when it's clearly an app)

[2015-01-14 13:59] LukasReschke commented on #13353
We could cache that in the memcache.

[2015-01-14 14:00] Raydiation commented on #13353
We should also get rid of the in_array functions in OC_Util since their runtime is O(n) and it could be O(1) by using an array like [$path => true]

[2015-01-14 14:01] PVince81 commented on #13353
That could be fixed separately, or as a quick performance fix for 8.0 :smile:

[2015-01-14 14:22] LukasReschke opened #13355 "Transfer share ownership to other user"
Imagine the following use-case:

1. Club is sharing files for their board members using files_sharing, there is one general share owned by a "system" user.
2. However, one of those board members created a new folder and shared it with the board. Thus this share belongs now to him.
3. The board member has left and all access should get revoked. However, since there are shares belonging to that user

[2015-01-14 14:23] PVince81 commented on #12490
@Raydiation came up with an even better fix that removes the need for explicitly calling `addTranslations` here: https://github.com/owncloud/core/pull/13350

[2015-01-14 14:27] PVince81 commented on #9595
Could be related to https://github.com/owncloud/core/issues/10299

[2015-01-14 14:34] karlitschek commented on #13333
@schiesbn

[2015-01-14 15:05] PVince81 opened #13356 "Orphaned share when moving a shared folder into another"
### Steps to reproduce
1. Create three users "user1", "user2" and "user3"
2. Login as "user1"
3. Create two folders "test2" and "test3"
4. Share "test2" with "user2"
5. Share "test3" with "user3"
6. Move "test3" into "test2"
7. Check the share dropdown on "test2/test3"
8. Login as "user3" and see if "test3" is still visible
9. Now login as "user2"
10. Create a folder "test4"
11. Share "test4" with

[2015-01-14 15:08] PVince81 commented on #12323
Note: make sure to check that item_type is either file or folder. We don't want to delete orphaned calendar/contacts by mistake.

[2015-01-14 15:19] jnfrmarks opened #13357 "New requirement for posix extenstion when invoking occ on CentOS"
### Steps to reproduce

1. Install master and enterprise tar balls to centos 6 box
2. cd to the installation directory
3. invoke occ using the apache user:

sudo -su apache ./occ

### Expected behaviour

occ should run

### Actual behaviour

A new requirement for the posix extensions is displayed.  This is not the case on ubuntu.  Is this the expected behavior?

### Server configuration

CentOS 6.

[2015-01-14 15:21] Xenopathic commented on #13357
Yes - the `occ` command uses the POSIX functions in PHP to run, and without them bad things can happen. There's a PR that introduced it around here somewhere...

[2015-01-14 15:21] LukasReschke commented on #13357
@carlaschroder Needs documentation – when running linux OCC requires these additions.

@jnweiger FYI – packaging related.

[2015-01-14 15:22] jnfrmarks commented on #13357
@LukasReschke @Xenopathic

Do we need to reopen for tracking purposes?

[2015-01-14 15:22] LukasReschke commented on #13357
Good idea.

[2015-01-14 15:22] Xenopathic commented on #13357
Or perhaps create an issue in documentation?

[2015-01-14 15:23] LukasReschke commented on #13357
Packaging issues are tracked here as well – no need to create multiple tickets for that then IMHO :-)

[2015-01-14 15:25] Xenopathic commented on #13357
Ah, OK :smile:

[2015-01-14 15:26] LukasReschke commented on #13227
Assigned to @Xenopathic as he volunteers to do that. Thank you very much, Robin!

[2015-01-14 15:29] nickvergessen commented on #13353
Only allow using `vendor_script()` and `vendor_style()` ?

[2015-01-14 15:45] DeepDiver1975 commented on #13353
caching is valid AFTER a proper implementation ... let's see what we can do

within jsresourcelocator we hold the magic to allow these files to be overloaded in the themes directory - but even this could be moved inside addScript() from my pov

[2015-01-14 16:04] sydcanem opened #13359 "Inquiry: download managers"
Hey, I'm a new owncloud user. How do you use download managers to handle downloading of files from owncloud? I can't seem to download the resource using the download link provided in the files dashboard.

[2015-01-14 16:18] DeepDiver1975 commented on #13359
Your user base mainly used the desktop client for managing files. If you are looking for a pure download solution you might want to got for any webdav based solution - either a client or mount it to your desktop.

[2015-01-14 16:28] PVince81 opened #13361 "Group share + reshare parent inconsistent when child share entry is missing"
### Steps to reproduce:
0. Setup 7.0.2
1. Create three users "u1", "u2" and "u3"
2. Add "u1" and "u2" in a new group "g1"
3. Login as "u1"
4. Create a folder + subfolder "projects/subproject"
5. Share "projects" with "g1" and check oc_share:
[code]
Notice that no child entry is created. (in versions >= 7.0.3 a child entry is automatically created)
6. Upgrade to 7.0.3, see that oc_share is still th

[2015-01-14 16:29] LukasReschke commented on #13361
Thanks for debugging this with me @PVince81 much appreciated!

[2015-01-14 16:34] DeepDiver1975 commented on #13357
We should add this to the docs as well - in here https://github.com/owncloud/documentation/blob/master/admin_manual/installation/source_installation.rst

@carlaschroder the php min requirement should be leveraged as well :speak_no_evil:

[2015-01-14 16:38] LukasReschke commented on #13361
If somebody feels adventurous to debug this behaviour on my coworking space's instance I can provide this person with access to a clone of that instance on my host system.

[2015-01-14 16:40] DeepDiver1975 commented on #12490
@Raydiation

![awsome](https://cloud.githubusercontent.com/assets/1005065/5742692/6d4f7a6e-9c14-11e4-9be7-81363f2aff11.jpeg)

[2015-01-14 16:51] PVince81 commented on #11003
Seems to be the only two apps still using it in core:
- [ ] files_external
- [ ] files_sharing

[2015-01-14 16:52] tobiasKaminsky opened #13363 "Exif oriented pictures: not all possible values are supported"
Hello,

as I have included the exif rotated images in android app, I have found out, that not all possible values are supported: 2,4,5,7.
Please see http://www.daveperrett.com/articles/2012/07/28/exif-orientation-handling-is-a-ghetto/

This is the relevant code: As you can see "2" is handled like 1. But it should be mirrored.
https://github.com/owncloud/core/blob/master/lib/private/image.php#L324

[2015-01-14 16:57] PVince81 commented on #13238
The SFTP storage implementation needs to be changed to properly throw "StorageNotAvailableException" whenever this happens.
Ref https://github.com/owncloud/core/issues/11792

[2015-01-14 16:58] PVince81 commented on #13238
@Xenopathic @bantu

[2015-01-14 17:12] #12490 closed

[2015-01-14 17:14] carlaschroder commented on #13357
Hmmm, this raises some questions. I thought that POSIX functions were built into the base PHP for CentOS/RHEL/Fedora. What CentOS package needs to be installed, and is it specific to CentOS 6 only? What about RHEL and Fedora, or other versions?

[2015-01-14 17:16] carlaschroder commented on #13357
And, if it's a packaging issue does this really need to be documented?

[2015-01-14 17:20] jnweiger commented on #13357
Regarding packaging:

php-posix is already a indirect dependency of the 7.0x packages on CentOS. I'll make it an explicit dependency for 8.0 -- thanks for the pointer.

testcase:

docker run -ti owncloud-7.0.4-11.1-centos_6_php54 php -r 'print posix_getuid()."\n";'
0

[2015-01-14 17:21] PVince81 commented on #13306
Would you like to send a pull request to contribute this change ?

CC @schiesbn who added the line

[2015-01-14 17:24] PVince81 commented on #13333
I suspect that the etag either doesn't change or the etag change isn't propagated properly.

[2015-01-14 17:25] PVince81 commented on #13333
also CC @icewind1991 for etag propagation

[2015-01-14 17:26] PVince81 commented on #13355
Renamed subject Overwrite => Transfer which sound better and less technical :smile:

[2015-01-14 17:27] PVince81 commented on #13363
@georgehrke @oparoz

[2015-01-14 17:41] carlaschroder commented on #13038
https://github.com/owncloud/core/pull/13365

[2015-01-14 18:05] Xenopathic commented on #13238
I'll handle this.

[2015-01-14 18:07] LukasReschke commented on #13238
@Xenopathic Did I tell you that you're awesome? :sunglasses:

[2015-01-14 18:10] Xenopathic commented on #13238
@LukasReschke :laughing: This really isn't helping with my exams...

[2015-01-14 18:12] LukasReschke commented on #13238
@Xenopathic Oh… - Well, then, erm, you suck!!!111 - Hope you feel better now LOL

[2015-01-14 18:14] LukasReschke commented on #13357
@carlaschroder Yes – we need to document every dependency that needs to be installed. You can very well compile PHP yourself or use some other exotic setup. At least SOMEWHERE we have to have a notice that having the posix extensions installed and activated is required.

Thanks @jnweiger

[2015-01-14 18:28] LukasReschke opened #13366 "Respect request ID from `mod_unique_id` when installed for the oC Request ID"

[2015-01-14 18:41] oparoz commented on #13363
If I read the diagram and the method only gets half the cases right because it's missing a flip method.
Should be easy enough to implement

[code]

What do you think @tobiasKaminsky, would flip + rotate work to fix all those cases?

[2015-01-14 19:16] wakeup opened #13369 "Another Exception and inaccessible web interface due to js load"
After today's git pull, I am unable to access to webinterface.

owncloud.log:

[code]

config:

[code]

3rdparty log shows the latest commit is: 05f91884356103530090d81503250111da50bdb4
however doing git submodule update, detaches it from master.

Using php: 5.5.12-2ubuntu4.1 on Apache/2.4.10 (Ubuntu) 64-bit

[2015-01-14 19:22] MorrisJobke commented on #13357
Documentation: https://github.com/owncloud/documentation/pull/758

[2015-01-14 19:32] scolebrook commented on #13180
@blizzz @gig13 Thank you so much. Yes, it resolves the issue. The checkboxes are checked as they should be. Now I just need to clean up all these test users and groups after troubleshooting :smile: .

[2015-01-14 19:43] #13334 closed

[2015-01-14 19:45] MorrisJobke commented on #12816
The repair step is now merged

[2015-01-14 20:36] jimcglaughlin opened #13371 "Adding a new subfolder to a shared folder automatically marks that subfolder as being shared on all clients"
We are testing ownCloud 7 Community Edition on Ubuntu with several ownCloud Desktop Windows clients ver 1.7.1.
We added an existing directory to the External Storage area to so the clients can select folders to sync with...for example:
---Top_Level_Share
    -------Shared_Folder_1
    -------Shared_Folder_1
    -------Shared_Folder_3
On each ownCloud Client, we can select 'Choose what to sync' and

[2015-01-14 20:47] derkostka commented on #13096
@icewind1991 : i tested using the view.php from #13317, but the error remains:
PHP Fatal error:  Call to a member function getId() on a non-object in /var/www/owncloud/lib/private/files/node/node.php on line 144

[2015-01-14 20:52] derkostka commented on #13242
@icewind1991  this issue is definitly fixed for me with #13317 . The Upload Status remains 5-10 seconds at 100%, but all uploads finish. :+1:  and thank you

[2015-01-14 21:29] DeepDiver1975 opened #13372 "[master] unit test execution on oracle is failing - again"
@PVince81

[code]

[2015-01-14 21:40] DeepDiver1975 commented on #13242
@derkostka I assume we can close this now? The fix will be available with the next release of OC7 and OC8

[2015-01-14 22:26] derkostka commented on #13242
Yes ! Done ;) Thank you, you all do awesome things for us users ...

[2015-01-14 22:26] #13242 closed

[2015-01-14 22:36] Sugaroverdose commented on #13371
@jimcglaughlin wrong repo, https://github.com/owncloud/client

[2015-01-14 22:41] filipesaraiva commented on #10318
Hi, if necessary I can to try to provide something information, just tell me what is need and how I can to do it.

[2015-01-14 22:44] jimcglaughlin commented on #13371
Thanks…I did not know if this was something on the server side or client side…I’ll try the client repo

Jim McGlaughlin
Applications Development Manager
Logical Systems, LLC
(901) 377-5574 (office) | (901) 866-6232 (direct)

From: Sergei Shuykov [mailto:notifications@github.com]
Sent: Wednesday, January 14, 2015 4:37 PM
To: owncloud/core
Cc: Jimmy McGlaughlin
Subject: Re: [core] Adding a new subfo

[2015-01-15 02:18] jonathannz commented on #13228
I am not sure where to retrieve an "access log" from. Please advise.
Here's data from the log found in the Admin section of OC.
[code]

[2015-01-15 05:30] papezg opened #13373 "High CPU usage on server with calendar"
Hi!

I'm having this issue with my deployment of owncloud. It's server version 7.0.4. and when I add calendar into Thunderbird client the CPU usage on server immediately spikes to 25% and if I leave it for a minute it goes to 100%.

[2015-01-15 07:54] johan27hack commented on #13044
@PVince81 Yes, I found some .doc with problems: Word can't read the files and ask me to convert the files to an existing format (word 14, 2007, ....)
To be exact: within the windows sync program: I can read the file, but not possible within my mac.
What datas do you need ?
Have a great day :)

[2015-01-15 08:22] nickvergessen commented on #13372
So much for using the query builder :/

[2015-01-15 08:23] nickvergessen commented on #13372
Why didn't the PR fail? Do we not test oracle on PRs?
#13344

[2015-01-15 08:27] #13371 closed

[2015-01-15 08:58] nickvergessen commented on #13373
Do you mean the calendar app? https://github.com/owncloud/calendar
If so please open a new issue in https://github.com/owncloud/calendar/issues

[2015-01-15 09:00] schiesbn commented on #13337
I could reproduce it. We try to lock the file twice. The first time it works (https://github.com/owncloud/files_locking/blob/master/lib/lockingwrapper.php#L93) and directly after the '$this->storage->file_put_contents($path, $data);' in line 94 we end up in line 93 again. I'm not sure why it happens. Especially with regard to encryption I don't know why it should happen only for public uploads. Th

[2015-01-15 09:00] MorrisJobke commented on #13373
@papezg And please also have a look at the owncloud.log in your data folder and append it in the new ticket in the calendar repo ;)

[2015-01-15 09:00] #13373 closed

[2015-01-15 09:18] DeepDiver1975 commented on #13372
I disabled oracle for PRs to gain speed - in addition there have been issues with databases already being used by other jobs - need to investigate after 8.0

[2015-01-15 09:19] DeepDiver1975 commented on #13372
https://github.com/owncloud/core/pull/13344/files#r22997794

[2015-01-15 09:24] DeepDiver1975 commented on #10318
wow - fixed back in 2012 - a pull request to fix this would be great.
@filipesaraiva interested in sending a pull request? THX

[2015-01-15 09:38] papezg commented on #13373
Issue is not with calendar app. Problem is that when I add calendar link into Thunderbird client. PHP5-FPM process on server gets totally out of control and uses all available cpu power up to 100%. If I remove calendar link from TB client it stops.

[2015-01-15 09:39] DeepDiver1975 commented on #13218
Can we please have a PR to introduce this max image size for preview generation? @georgehrke any time for this? THX

[2015-01-15 09:40] DeepDiver1975 commented on #13218
tech dept please - thx @MorrisJobke

[2015-01-15 09:40] DeepDiver1975 commented on #13164
@georgehrke  any chance to get this in? THX

[2015-01-15 09:45] DeepDiver1975 commented on #13369
@Raydiation can I ask you to take a look? THX

[2015-01-15 09:46] DeepDiver1975 commented on #13038
refs  #13375

[2015-01-15 09:47] PVince81 commented on #13228
You might find the access log in `/var/log/apache2/access_log`. It might also be called `access.log`.

Once you find it, please re-run the sync scenario to make it produce results, then post it here :smile:

[2015-01-15 09:50] georgehrke commented on #13164
Saturday

[2015-01-15 09:50] georgehrke commented on #13218
Saturday

[2015-01-15 09:50] PVince81 commented on #13044
Hmmm I don't see why it would work on Windows but not on Mac. They're both have the same sync client software which both uses WebDAV to download files.

Did you enable additional PHP modules on your server which might try and optimize file download and/or tamper with file contents ?

Another thing to try:
`curl https://yourusername:password@yourdomain.tld/owncloud/remote.php/webdav/path/to/broken/

[2015-01-15 09:52] PVince81 commented on #13337
Hmmmm it almost sounds like the storage was wrapped **twice** by the locking wrapper ?!
Can you check the stack trace at the time where you land on line 93 again ?

[2015-01-15 09:55] Raydiation commented on #13369
@DeepDiver1975 can not reproduce

[2015-01-15 10:00] MorrisJobke commented on #13373
Then it seems to be the calendar app of owncloud, which causes the problem. Please have a look at the owncloud.log in your data directory of owncloud and post it together with your setup (https://github.com/owncloud/core/blob/master/issue_template.md gives you some hints) in the calendar bug tracker: https://github.com/owncloud/calendar/issues

[2015-01-15 10:12] DeepDiver1975 commented on #13002
the responses of both implementation are getting merged together - this change is not critical -> 8.1

[2015-01-15 10:15] schiesbn commented on #13337
I already tried it. The strange think is that the storage wrapper gets registered in a associated array with "$wrappers[$wrapperName] = $wrapper", so even if we registered it twice the second one should replace the first one because both will have the same name. If I remember correctly, we had similar problems with wrappers registering multiple times in the past and @icewind1991 fixed it with the

[2015-01-15 10:16] MorrisJobke commented on #10299
@PVince81 Can this ticket be closed or will there be a followup ticket?

[2015-01-15 10:16] DeepDiver1975 commented on #13369
I can with calendar being enabled :wink:

@wakeup there is a pr in the calendar repo which has to be applied to make it work again: https://github.com/owncloud/calendar/pull/671

[2015-01-15 10:18] PVince81 commented on #10299
I think this can be closed.
I added a reminder in the "refactor reshare" to provide a proper fix using the new faciilities in OC 8: https://github.com/owncloud/core/pull/12086#issuecomment-69905197

Closing. Will be released as part of 7.0.5

[2015-01-15 10:18] #10299 closed

[2015-01-15 10:19] PVince81 commented on #10299
To clarify: there is no cleaner way to fix it for OC 7 because the proper way introduces new classes in OC 8 (permissions masking, jail storage) that can be used to fix it in a better way.

[2015-01-15 10:20] #13322 closed

[2015-01-15 10:45] tomneedham commented on #13002
True

[2015-01-15 10:48] DeepDiver1975 commented on #13369
fixed as owncloud/calendar#671 was merged

[2015-01-15 10:48] #13369 closed

[2015-01-15 10:56] Redstoone opened #13376 "new users don't have permission to open files in swift folder"
owncloud version: 6.0.5
os: ubuntu 12.04
php version: 5.3

I setup external storage on swift. All users can access the "swift" folder.
The issue is, new user cannot read or write files created before their registry. If files were edited later, they could be read then.

The reproduce steps are:
1. put some photos in the "swift" folder
![1](https://cloud.githubusercontent.com/assets/5569028/5756132/

[2015-01-15 10:58] johan27hack commented on #13044
Hello @PVince81 : I just tried within OpenSuse 13.2 64 bits.
I have something like :
 curl https://username:password@mon.domaine.fr/owncloud/remote.php/webdav/clientsync/Projets/template2/template2.0-détails-custom.doc > file.doc
Using Libre Office Writer, I just have the following inside the file.doc :
---------------------------------------------------------
This application requires JavaScript

[2015-01-15 11:00] PVince81 commented on #13044
Next, please do try without special characters. I believe you got a 404 file not found so it just dumped the error page into the file.

[2015-01-15 11:05] kyzy540 commented on #13376
have the same issue. i guess 'rename' action rescan the user-list and grant permissions

[2015-01-15 11:17] goodkiller opened #13378 "OC 7.0.4.2 group share does not merge usergroups and groups correctly"
Steps to reproduce
Create a different groups and users. Define random groups to random users, also make sure that one user have same groups that you'll have.

For example:
User 1: Group 1, Group 5, Group 8, Group 7
User 2: Group 2, Group 5, Group 3, Group 7

Try to share file or folder to User 2 and find Groups 5 and 7

Expected behaviour
You will find searchable Groups

Actual behaviour
You don't

[2015-01-15 11:25] PVince81 opened #13379 "Use part files for cross-storage move/copy"
Consider the following steps:
1. Mount SMB storage as "/smb"
2. Upload a file "huge.dat" to "/"
3. Move "/huge.dat" into "/smb"

Since we're in a cross-storage situation, the rename/move operation will internally do a stream copy of "/huge.dat" into "/smb/huge.dat".
This means that for a short time we have a partial file on the target storage which might be picked up by a running scanner or other

[2015-01-15 11:35] blizzz commented on #13180
@scolebrook thank you for the confirmation!

[2015-01-15 11:35] #13180 closed

[2015-01-15 11:37] johan27hack commented on #13044
Ok I will do that later on my mac @home.
Just a question, I have the same problem with image files, but the names are standard: fond1.jpg, fond2.png ... is there any link ?

[2015-01-15 11:43] blizzz commented on #12816
On which conditions will it be lazy-initialized?

[2015-01-15 11:55] PVince81 commented on #12816
The repair step is just a workaround for now.
@nickvergessen suggested to have it run as a background job.

[2015-01-15 12:06] PVince81 opened #13380 "Server to server sharing / OC storage upload file limit, needs chunking"
### Steps to reproduce
1. Setup two ownCloud instances A and B
2. In A setup a max upload limit of 512 MB
3. In B, setup a max upload limit of 64 MB (for testing)
4 .In A, mount a remote share "test" from B (server to server sharing). OR use the ownCloud backend external storage to connect to a folder on B
5. In A over the web UI, upload a ~100 MB file into "/test"

### Expected result
Upload succ

[2015-01-15 12:06] PVince81 commented on #13380
CC @MorrisJobke who inquired about this

[2015-01-15 12:13] PVince81 opened #13381 "Consolidate server to server sharing with OC external storage backend"
Currently there are two ways to mount an external ownCloud folder:
1) Using server to server sharing
2) Using the "ownCloud" external storage backend

These are using different code paths to do similar operations.
The server to server sharing code happens in the `DAV` class: https://github.com/owncloud/core/blob/master/lib/private/files/storage/dav.php
While the ownCloud backend is here: https://g

[2015-01-15 12:13] PVince81 commented on #13380
Raised https://github.com/owncloud/core/issues/13381 to consolidate server to server sharing with the owncloud storage backend to avoid duplicate work, especially if we're adding more advanced features like chunk upload in the future.

[2015-01-15 12:14] DeepDiver1975 commented on #13380
hmm ... max upload is not relevant for DAV as it uses PUT to upload. Only POST does have that upload limitation

[2015-01-15 12:17] PVince81 commented on #13380
Okay, I wasn't aware of that.
Like I said above, it was just an idea.
Will try it out later. I hope you're right :wink:

[2015-01-15 12:22] DeepDiver1975 commented on #13380
![you-y-u-no-believe-me](https://cloud.githubusercontent.com/assets/1005065/5757232/8fcc76b4-9cb9-11e4-844d-94da57975ac9.jpg)

[2015-01-15 12:50] PVince81 opened #13382 "App framework passes null argument to controller when calendar app enabled"
### Steps to reproduce:
1. Checkout master (2fbe8bbcba2e6387669f0028cb5a3d314336efe4)
2. Setup the calendar app from master (https://github.com/owncloud/calendar/commit/b0c5c01025ae932c38c213bb98825e9c60b47a85)
3. Setup OC
4. Upload a few files
5. Click "Favorite" on any file
6. Refresh the page

### Expected result
Favorite stays, entry properly added in `oc_vcategory_to_object` table.

### Actua

[2015-01-15 12:51] enoch85 opened #13383 "Sync client errors when expired remote share is present and ext storage app is disabled"
### Steps to reproduce

I removed the Dropbox account and deactivated the External Storage in the apps section in ownCloud

I also tried to re-activate external storage support and deleted the Dropbox share manually from the settings, but it didn't help.

### Expected behaviour

No error

### Actual behaviour

Sync client won't sync and throws Internal 500 error - Number 1060 as mentioned here #95

[2015-01-15 12:52] PVince81 commented on #13382
Actually having "$path" empty is not allowed by the route requirement: https://github.com/owncloud/core/blob/master/apps/files/appinfo/routes.php#L26

The side effect is that the favorite info is always set on the root, so there's only a single entry in `oc_vcategory_to_object`

[2015-01-15 12:55] enoch85 commented on #13383
CC @PVince81

[2015-01-15 12:56] PVince81 commented on #13383
Can you check `oc_storages` ? I suspect the Dropbox storage might still be there.

[2015-01-15 13:01] DeepDiver1975 commented on #13383
this is most probably caused by some nasty code fragment writing to stdout and destroying the webdav response ....

@enoch85 can you  enable xdebug on that server to get more information on these errors - THX

[2015-01-15 13:04] enoch85 commented on #13383
![namnlos](https://cloud.githubusercontent.com/assets/4511254/5757796/fbcde1f4-9cbe-11e4-801d-35ed5845904a.png)

Seems like it. Should I just delete them? And why aren't these deleted automatically?

@DeepDiver1975 Never used xdebug before. This isn't a test machine. Can I delete xdebug if I install it? And how do I install it?

[2015-01-15 13:07] enoch85 commented on #13383
@DeepDiver1975

[code]

There is the complete line. Missed that in Putty.

[2015-01-15 13:08] PVince81 commented on #13310
Partial fix here: https://github.com/owncloud/core/pull/13385
But still need to take care of folders.

[2015-01-15 13:10] PVince81 commented on #13383
Why not deleted automatically: PR in progress https://github.com/owncloud/core/pull/11544#issuecomment-60080855

[2015-01-15 13:13] enoch85 commented on #13383
Thank you! So in other words, I could just delete those two entries?

[2015-01-15 13:17] enoch85 commented on #13383
Tried to delete them, same error. :disappointed:

[2015-01-15 13:17] ogoffart opened #13386 "Wrong units are used to represent sizes."
The shows uses "1kB" to represent 1024 bytes.
This is totally wrong.  1kB is 1000 bytes.   1024 bytes is a KB or a KiB

(see https://en.wikipedia.org/wiki/Binary_prefix ,  also TB is wrong)

I would suggest to use the proper SI system with power of 1000 instead of powers of 1024.
The rational is that humans are better with powers of 10 because they use the decimal system. They can better judges if

[2015-01-15 13:19] PVince81 commented on #13383
Yes, the error is probably not related to the duplicate entries.
The real error is `{"app":"remote","message":"The passed data is not valid XML","level":4,"time":"2015-01-15T12:43:14+00:00"}`

Either the Dropbox API doesn't return correct XML today (service unavailable ?) or something else is broken.

Did you try enabling the XDebug module ? It should hopefully provide a stack trace that can help

[2015-01-15 13:23] icewind1991 commented on #13381
That is done "upstream" in the DAV storage backend

The main thing that the oC external storage backend could use would be the improved scanning the s2s backend does (request all metadata in one request)

[2015-01-15 13:29] PVince81 commented on #13381
One trouble is that the "DAV" storage is also used for regular WebDAV storages that might not support it. Which means that we always need to auto-detect whether the remote is an OC server that supports those special features. Not a big issue though.

[2015-01-15 13:29] DeepDiver1975 commented on #13386
we had this looooong time ago already - right. anyway ...... we have a look in the next dev cycle 8.10 - THX

[2015-01-15 13:32] enoch85 commented on #13383
@PVince81 @DeepDiver1975 https://www.en0ch.se/phpinfo.php

[2015-01-15 13:48] DeepDiver1975 commented on #12024
interesting for small internet installation is the use of Iron.io together with the push queue concept - http://laravel.com/docs/4.2/queues#push-queues

basically iron.io pushes back the job to the instance via http to a special route - sounds like a reasonable approach for the non-enterprise installations aka web hosters etc.

[2015-01-15 14:12] jancborchardt commented on #13322
@Sugaroverdose big thank you for the fix! :)

[2015-01-15 14:16] icewind1991 commented on #13381
The storage requests both the mtime and etag properties when checking if a file has updated, if the etag is available it's used, otherwise the mtime

[2015-01-15 14:17] MorrisJobke opened #13391 "Data loss on rename of a 49 GB folder"
I accidentially renamed a folder on my production instance:

* the folder was filled up with nearly 20k files in a total size of 48,7 GB
* I renamed the folder in the web UI
* shortly (2-5 seconds) after I noticed this I shut down the client to avoid bigger trouble (as this folder was set up as a synced folder inside the client)
* the spinner spinned forever

Notes
* I have a database dump here
*

[2015-01-15 14:33] #13382 closed

[2015-01-15 14:38] enoch85 commented on #13383
No extra errors in log, though xdebug is activated. Please help me on this one.

[2015-01-15 14:44] dttpy commented on #13378
Using
**Operating system:** Ubuntu 13.10
**Web server:** apache 2.4.6 (Ubuntu)
**Database:** SQLite
**PHP version:** 5.5.3-1ubuntu2.3
**ownCloud version:** owncloud 7.0.4,
and can not reproduce this problem

[2015-01-15 14:53] PVince81 commented on #13383
What changed since last time it worked ?

That error seems to be thrown by SabreDAV client lib in parseMultiStatus().
The SabreDAV Client part is only used if you connect your OC to another ownCloud (server to server sharing, remote WebDAV storage or remote OC storage).
Do you have such storages mounted additionally to Dropbox ?

[2015-01-15 14:58] MorrisJobke commented on #13391
To clarify: the rename happend through the web UI

[2015-01-15 14:59] viasys commented on #12475
Is there any Update on this Topic? Or do you maybe need any further information?

[2015-01-15 15:02] LukasReschke commented on #12475
@PVince81 Could that also be https://github.com/owncloud/core/issues/13361?  – What are the easiest step to verify this?

[2015-01-15 15:06] PVince81 commented on #12475
@viasys do you still have the token from the public link ?
You can check the database with:
`select * from oc_share where token='thetokenfromthepubliclink'`.

If you say it was a reshare, then the "parent" column should have a value.
If it has none, then the share is broken, possibly similar to #13361.

If the "parent" column has a value, check the parent share:
`select * from oc_share where id=XX

[2015-01-15 15:10] viasys commented on #12475
@PVince81 I dont have the old link or toke anymore, would it also work with a new link?

[2015-01-15 15:12] PVince81 commented on #13391
`127.0.0.1 - - [15/Jan/2015:13:32:39 +0100] "GET /index.php/apps/files/ajax/rename.php?dir=%2F&newname=Bildersd&file=Bilder HTTP/1.1" 503`

503 ? That's "service unavailable" and shouldn't even trigger an actual rename.

[2015-01-15 15:13] PVince81 commented on #13391
You said you didn't have any other storages than home:: and the root, so this excludes the case of an unavailable external storage.

[2015-01-15 15:15] PVince81 commented on #12475
Yes, as long as that new link is also broken.

You said it is a reshare. Can you describe the sharing situation a bit more ?
Did your user get the file/folder through a group share or a single user share ?

Did you rename the file/folder before resharing ?

[2015-01-15 15:18] viasys commented on #12475
The Szenario is the following:

The User is in a Group and he has a Folder shared with the Group, he now tries to share a file from within that shared folder via a link, the Folder or the File was not renamed, I will try to get a broken Link again.

[2015-01-15 15:18] MorrisJobke commented on #13391
@PVince81 Yes. There is no external storage.

Regards the 503: It's the only rename request and it definetly gets renamed. Could that be caused by the timeout?

[2015-01-15 15:18] PVince81 commented on #13378
@goodkiller when you say "Try to share file or folder to User 2 and find Groups 5 and 7".
Are you saying:
Open the share dropdown, Type "User 2", select it, then Type "Groups 5", select it. But here the group doesn't appear ?

Can you check the admin page, did you untick the checkbox called "Restrict users to only share with users in their groups" ?

[2015-01-15 15:20] PVince81 commented on #12475
That sounds very close to the scenario from https://github.com/owncloud/core/issues/13361, likely related. The database results will help confirm this.

If you know the name of the folder, you could also try this:
`select * from oc_share where file_target like '%thefoldername%'`;

This will show the group share and also the reshare. We need to check if the parent-child relationship is broken.

[2015-01-15 15:20] PVince81 commented on #13391
Not sure. Do you think php-fpm would decide to send 503 by itself when a timeout occurs ?

If the server was not available / maintenance mode, our Sabre plugin should kick in very early and prevent any file operations.

[2015-01-15 15:21] PVince81 commented on #13391
You could check the owncloud.log from around the time it happened (mind the timezone/utc differences)

[2015-01-15 15:24] blackcoder commented on #12412
@PVince81  same problem here, pretty much I've done the same steps you mentioned above (without the two browsers) what's the appropriate action to fix my problem here ?

  - Applying the patches:   #12175    #12131
  - Updating my oc to 7.04rc1
  - Follow @Florian01  tip and change from -1 to 1 (not sure how will this effect the encryption)

I just don't want to lose any data, or end up in a situa

[2015-01-15 15:26] viasys commented on #12475
The Parent Value is NULL for the first SQL Query, I'm not sure if I understood the second Query correct: I went into the Folder that was shared with me called FOLDER1 and shared a file from within that Folder with a Link. Now I execute
`select * from oc_share where file_target like '%FOLDER1%' ;`
which gives me no Result

[2015-01-15 15:29] PVince81 commented on #13376
You mentionned "cannot decrypt" ? This means you have encryption enabled.

Are you using SWIFT exclusively from ownCloud ? (not outside of ownCloud)

It sounds like a situation similar to group shares: whenever a new user is created and added inside a group, the share keys for that user cannot be automatically created.
In the case of external storage, the "group" situation is actually the "applica

[2015-01-15 15:33] PVince81 commented on #12475
Yes this is correct. Does the forlder name have spaces ? Maybe try with just parts of it, for example '%FOLD%'.

The missing parent value sounds exactly like the case described in https://github.com/owncloud/core/issues/13361.

There is a workaround for this: as your user, rename FOLDER1 to FOLDER1X then rename it back to FOLDER1. Then delete the link share and recreate it.

[2015-01-15 15:35] theonlydoo opened #13392 "LDAP (ActiveDirectory) - Update via sync issue"
Hi there, I noticed an issue with AD sync, here is a simple description :

### Steps to reproduce
1. Peer your owncloud to an active Directory
2. Sync your first users only with ```(&(|(objectclass=organizationalPerson))(|(memberof=CN=Share,OU=ZZZZ,OU=Resources,DC=xxxx,DC=yyy)))``` for user filter and ```(objectclass=organizationalPerson)``` as login filter
3. Login a test1 user
4. Edit your login

[2015-01-15 15:46] viasys commented on #12475
Yes it indeed had spaces within the Name, I got some results now, but my shared link was not in it.

[2015-01-15 16:06] PVince81 commented on #12475
Do you mind posting the results of that query ?
You can replace the user names / file names with dummy ones.

If not we can try with finer grainer queries.

What we should see:
1 storage entry with share_type 1 (the group share) that shares with the correct group name
+ a few additional entries, one for each user in the group, including you, with parent id pointing to that first entry.

I suspect

[2015-01-15 16:13] PVince81 commented on #13361
This guy here has the same issue, parent is NULL for any newly created reshares inside that old group share: https://github.com/owncloud/core/issues/12475#issuecomment-70102074

[2015-01-15 16:14] viasys commented on #12475
I only got 1 result for that specific folder which is the entry with share_type 1, where it is shared with my group

[2015-01-15 16:16] viasys commented on #12475
I have to get going now, if you have any further Questions, I will answer them later tonight/tomorrow.

[2015-01-15 16:18] PVince81 commented on #12475
Ok thanks for the info. That confirms it. It is 100% the bug from https://github.com/owncloud/core/issues/13361

@GreenArchon @arielvb @a-schild @Do-D can you check whether your setup has the same issue as @viasys ? Using the instructions above, find the group share in the database and the matching reshare (public link). And see whether that reshare as parent = null. If yes, same issue. If not: ne

[2015-01-15 16:22] PVince81 commented on #13304
@DeepDiver1975 can you retry on master now that the patch is in?

[2015-01-15 16:26] MorrisJobke opened #13393 "Show email even if it's not writable"
# current behaviour

If you use email addresses from LDAP the user has no way to view it's own email address, because the "change email address" field is hidden if it is not changable.

# suggested behaviour

The mail address should be shown in the personal settings, to verify it and spot problems with email notifications.

[2015-01-15 16:26] PVince81 commented on #13290
Very strange. Also, the thumbnail disappears.
But then if I click around in the DOM inspector, the highlight disappears and thumbnail is back.

[2015-01-15 16:27] DeepDiver1975 commented on #13304
oh - sure - tested this already afaik .....

[2015-01-15 16:29] Xenopathic commented on #13290
@PVince81 Even stranger, once that happens, try switching to another tab and back.

[2015-01-15 16:30] PVince81 commented on #13290
It's the ":focus" style.
There are two issues:
1) The :focus style auto-clears when downloading from "All files". But it stays in other lists from the sidebar.
2) The :focus style's background seems to overlap the thumbnail. Maybe z-index issue.

Looking further.

[2015-01-15 16:34] jnweiger commented on #13357
@carlaschroder The general rule about dependencies is this: If you install from RPM packages, dependencies are handled (through the magic that I built into the packages). If you install from TAR or ZIP then you need to study the documentation to learn about dependencies.

And in case my magic fails, the documentaiton is also helpful.

[2015-01-15 16:49] PVince81 commented on #13290
The reason why it auto-deselects in "All files" is because of the drag and drop handler. That one finds that the click wasn't a drag after all.

There is no drag handler in other lists.

[2015-01-15 16:57] PVince81 opened #13396 "Missing trashbin thumbnails"
### Steps to reproduce
1. Upload pictures
2. Delete a few pictures
3. Open the "Deleted files" section

### Expected result
Thumbnails appear

### Actual result
Blank space instead of thumbnails.

### Versions
OC 8 git master 36ced1f0020593470292e240bb6a0ef5716167f4

@schiesbn @georgehrke

[2015-01-15 16:59] PVince81 commented on #13396
@DeepDiver1975 setting to 8.0 as it's a regression and looks broken

[2015-01-15 17:16] jospoortvliet commented on #106
@orion1024  this is cool stuff ;-)

[2015-01-15 17:19] PVince81 commented on #13290
Fix is here: https://github.com/owncloud/core/pull/13397

[2015-01-15 17:21] wakeup commented on #13369
Thanks, works :).

[2015-01-15 17:26] GreenArchon commented on #12475
Yes, parent is NULL.

[2015-01-15 17:27] karlitschek commented on #13392
@blizzz

[2015-01-15 17:30] PVince81 commented on #13361
I wonder if it is related to the order of the shares in the database. Because now we have three setups that have been reported to produce parent=NULL, but in all my local tests the parent wasn't set to null even though the group-child was missing.

[2015-01-15 17:30] LukasReschke opened #13398 "Problem with authentication headers"
While demoing S2S with @jnfrmarks, @craigpg and @schiesbn today we found that S2S was completely broken in this setup using PHP-FPM.

As far I can see the remote server is not properly reading the user from the Basic Auth Header and thus is failing completely.

I'm on it.
[code]
I'm on it.

[2015-01-15 17:31] PVince81 commented on #13361
I'm setting this to 8.0 because it has been reported several times already and produces broken reshares.

[2015-01-15 17:31] PVince81 commented on #13361
CC @DeepDiver1975 for the milestone assignment

[2015-01-15 17:32] LukasReschke commented on #12785
1&1 did not consider us to be important enough to even reply to my mail.

Thus I'd appreciate it if somebody could grant me access to a test instance, please note that me messing up with a test instance usually results in data loss so please no production system and no sensitive data on it ;-)

In case you want to be the nice guy that provides me access to one of those drop me a mail to lukas@ownc

[2015-01-15 17:35] LukasReschke commented on #13398
Potential duplicates: https://github.com/owncloud/core/issues/12146, https://github.com/owncloud/core/issues/13228, https://github.com/owncloud/core/issues/13044, https://github.com/owncloud/core/issues/12018, https://github.com/owncloud/core/issues/10872, https://github.com/owncloud/core/issues/10503, https://github.com/owncloud/core/issues/10132, https://github.com/owncloud/core/issues/9880, htt

[2015-01-15 17:36] strugee commented on #12167
Yes, thanks. All is well.

[2015-01-15 17:38] PVince81 commented on #13396
Seems to be a routing issue, the ajax preview route is never called.

[2015-01-15 17:39] fossxplorer commented on #13123
@Raydiation sure i will.
And yes, migration is a big headache as it used over 10 hours last time IIRC due to the simulation stuff it was doing. Would be very useful to be able to switch it off for bigger DBs.

[2015-01-15 17:40] LukasReschke commented on #13123
@fossxplorer You can switch it off. Check the occ command line tool.

[2015-01-15 17:46] PVince81 commented on #13396
Fix is here https://github.com/owncloud/core/pull/13399

[2015-01-15 17:48] smsipes opened #13400 "Renaming folder not updating under other accounts"
When I update a folder name under one account that update doesn't take effect in the rest of the other accounts. However the old folder names for the other accounts remained intact and usable, there is no data lossed. How do I get the other accounts to update with the new directory name?

We have a fresh install, version 7.0.4-16.1.

OS - Linux
PHP Version - php version 5.4.34
DB - MySQL

[2015-01-15 17:52] fossxplorer commented on #13123
@LukasReschke here are the options i can see on stable7. Am i missing something?

$ ./occ
ownCloud version 7.0.4

Usage:
  [options] command [arguments]

Options:
  --help           -h Display this help message.
  --quiet          -q Do not output any message.
  --verbose        -v|vv|vvv Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug
  --version

[2015-01-15 17:55] jpeters commented on #12167
This is resolved for me as well.

[2015-01-15 18:12] PVince81 commented on #12475
@viasys @GreenArchon did you enable the option "Restrict users to only share in their groups" ?

[2015-01-15 18:17] PVince81 commented on #12475
I think I'm close to reproducing it locally.

[2015-01-15 18:18] LukasReschke commented on #12585
Ref https://github.com/owncloud/core/issues/13398

[2015-01-15 18:22] LukasReschke commented on #13398
This specific error in this case is caused by https://github.com/owncloud/3rdparty/blob/master/sabre/dav/lib/Sabre/DAV/Auth/Backend/AbstractBasic.php#L71-L74
[code]

Because the password is an empty value… digging further…

[2015-01-15 18:22] PVince81 commented on #12167
Okay thanks guys, glad to hear that it works for you all. :smile:

Closing.

[2015-01-15 18:22] #12167 closed

[2015-01-15 18:32] viasys commented on #12475
@PVince81 I will try the workaround later, I dont have the option "Restrict users to only share in their groups", but I do have the restriction to force password and expiry date. And I'm very sure it worked before 7.0.3 if that helps, because we were using this function pretty often.

[2015-01-15 18:33] PVince81 commented on #13361
I managed to reproduce the NULL parent issue.
Here are the steps from scratch:
1. Setup OC 7.0.2
2. Create three users "u1", "u2", "u3"
3. Add "u1" and "u2" into a new group "g1"
4. Add "u1", "u2" and "u3" into a new group "g2" (this is what was missing from above)
5. Login as "u1"
6. Create a folder "Projekte"
7. Share "Projekte" with "g1" (the database will have only a single entry here, because

[2015-01-15 18:35] PVince81 commented on #12475
That's fine.
The workaround should be able to fix the issue for you guys until we can come up with a proper fix.

I managed to nail down the steps to recreate this exact situation: https://github.com/owncloud/core/issues/13361#issuecomment-70136056

[2015-01-15 18:37] LukasReschke commented on #13398
`\Sabre\HTTP\BasicAuth::getUserPass` has the following values on that server:

[code]

On my local machine:
[code]

The difference here is the `HTTP_AUTHORIZATION` variable which is populated in my case and in the case of the remote server is not.

I'm wondering why the `getUserPass` method is only returning the values from `PHP_AUTH_USER` and `PHP_AUTH_PW` when both are populated but doesn't care

[2015-01-15 18:42] schiesbn commented on #13361
The group share doesn't need a entry for u2. user specific entries are only needed if the file_target differs. Re-Sharing should have the group share as parent. I will have a look at it tomorrow

[2015-01-15 18:46] LukasReschke commented on #13398
This is actually caused by PHP-FPM stripping the `Authorization` header, our `.htaccess` has a rule for that in place as can be seen at https://github.com/owncloud/core/blob/36ced1f0020593470292e240bb6a0ef5716167f4/.htaccess#L4-L7

However, for that to work `mod_rewrite` has to be installed… – People seems to forget that on a few cases, so we might add an ugly hacky work–around into base.php

[2015-01-15 18:47] PVince81 commented on #13361
`getItemsSharedWithBySource()` doesn't return anything in this specific situation.
The SQL query returns no result.

If after that I unassign "g2" from all users and redo the reshare, it works! Crazy!

[2015-01-15 18:51] PVince81 commented on #13361
@schiesbn great, thanks. Maybe something goes wrong when checking for group memberships.

There's then another bug when the parent is assigned to the group share instead of child (when no child is there): if the resharer users (here u2) unshares from self. It adds the missing child entry with 0 permisisons. But the reshare is still there!
It might be safer to reconsider this and make child entries

[2015-01-15 18:58] carlaschroder opened #13402 "daily.owncloud.com/enterprise broken"
http://daily.owncloud.com/enterprise-stable7/ is inaccessible because there is no way to get past the login/setup screen. I assume the missing element is the database login, though I don't know for certain.

http://daily.owncloud.com/enterprise-master/ does not resolve to a Web site, you never get to a login screen but only a file tree.

I rely on daily.owncloud.com so it would be nice if they wer

[2015-01-15 19:01] LukasReschke commented on #13398
Unbelievable hacky patch: https://github.com/owncloud/core/pull/13403

[2015-01-15 19:05] #13402 closed

[2015-01-15 19:06] PVince81 commented on #13400
Can you describe the folder more in detail ?
Is it a folder that you have shared with other users ?
If you rename it locally or the users share the folder itself, it's only local.
This is because we allow users to freely rename and move the shared folder inside their own home as it suits them (people like to oragnize their shares differently).

Only renaming/changing the contents affects everyone.

[2015-01-15 19:08] schiesbn commented on #13361
This would mean that we would need to update all group shares if users get added to groups. I would like to avoid this.

[2015-01-15 19:28] MorrisJobke commented on #13391
I noticed that a rename caused a lot of database queries (600 for a folder with 507 files in it). It needs to update the path of all elements. I guess this caused the timeout and PHP-FPM will kill the process once the timeout is hit.

https://blackfire.io/profiles/a33715d9-0191-4f9a-ad4a-2f3166d71584/graph

[2015-01-15 19:29] MorrisJobke commented on #13391
@icewind1991 What is the reason to store the full path? Isn't knowing the parent enough to generate the full path?

[2015-01-15 19:30] PVince81 commented on #13361
Understood. Then maybe the reshare code should then take care of adding the "missing" group child instead of linking directly to the parent.

[2015-01-15 19:32] #13290 closed

[2015-01-15 19:35] LukasReschke commented on #13123
http://doc.owncloud.org/server/8.0/admin_manual/configuration/occ_command.html#upgrade-command:

[2015-01-15 19:39] jnfrmarks opened #13404 "Apps not in alphabetical order"
### Steps to reproduce

1. Install master and enterprise tar balls
2. go to the apps page
3. scroll through both enabled and not enabled

### Expected behaviour

All apps should be in alphabetical order

### Actual behaviour

Not all apps are in alphabetical order for the "not enabled" apps

![p235](https://cloud.githubusercontent.com/assets/8480343/5765026/4f4d65b6-9cc4-11e4-90f1-1a37fd61d0f0.PNG

[2015-01-15 19:41] #13259 closed

[2015-01-15 19:46] MorrisJobke commented on #13259
With the next translation run it (hopefully) will sync the search translations

[2015-01-15 19:50] jnfrmarks opened #13405 "Some apps have uninstall button"
### Steps to reproduce

1. Install master and enterprise tar balls
2. go to the apps page
3. scroll not enabled list of apps
4. only antivirus and elasticsearch apps have uninstall buttons

### Expected behaviour

I'm not sure - I would expect all apps to have the button or no apps to have the button

### Actual behaviour

Two apps have an uninstall button

![p236](https://cloud.githubusercontent.

[2015-01-15 19:57] GreenArchon commented on #12475
@PVince81 your workaround is great, however by doing it on a folder that was shared to multiple groups I was part of (3 of them in the present case) it is now shared with me 3 times (and I suspect with different permissions herited from different groups, but this is only speculation).

Just something to keep in mind when doing your fix.

I'll get you the database entries in ~3 hours when I get hom

[2015-01-15 19:59] MorrisJobke commented on #13123
This is also available on stable7
[code]

[2015-01-15 20:04] evert commented on #13398
Hi Lukas,

That patch should not make a difference. `PHP_AUTH_*` is used, here:

https://github.com/fruux/sabre-dav/blob/1.8/lib/Sabre/HTTP/BasicAuth.php#L30

[2015-01-15 20:04] jnfrmarks commented on #13404
If you enable an app, it is put at the bottom of the enabled app list and not in alphabetical order

[2015-01-15 20:05] LukasReschke commented on #13398
@evert Yes! - But `PHP_AUTH_PW` is empty in our case.

[2015-01-15 20:05] LukasReschke commented on #13398
For server-to-server sharing we just have a long random token as username

[2015-01-15 20:05] MorrisJobke commented on #13405
Internal apps can't be uninstalled (this was the wanted behaviour in earlier versions). I guess we can drop that behaviour nowadays.

@DeepDiver1975 @karlitschek Opinions?

[2015-01-15 20:13] evert commented on #13398
You shouldn't abuse basic oauth for this then :) Just come up with your own scheme:

     Authorization: owncloud-token blabla

However, I guess this could be considered a sabredav bug then. The check for existence of `PHP_AUTH_PW` should be isset, not a simple boolean check.

[2015-01-15 20:32] LukasReschke commented on #13398
@schiesbn @DeepDiver1975 Any thoughts about the above? ^

[2015-01-15 21:08] #13393 closed

[2015-01-15 21:41] #13372 closed

[2015-01-15 21:43] DeepDiver1975 commented on #13405
uninstall is intended for apps which have been downloaded from the appstore and got disabled - this is triggered by a tag in info.xml - should be enough to update the info.xml files

[2015-01-15 21:44] DeepDiver1975 commented on #13405
the uninstall behaviour itself is valid

[2015-01-15 22:12] sammcj opened #13407 "SMB_OC not passing domain through to samba share auth"
smb_oc is passing through the username, but not the domain for the smb shares.
See: https://github.com/owncloud/core/blob/89db2a027701503ea758380b20b10ca7f5a244d9/apps/files_external/lib/smb_oc.php#L40

This causes mapping of external samba shares using domain authentication to fail.

Example of failed login:

[code]

This is caused by trying to map the share named 'shared' with username rather th

[2015-01-15 22:34] sammcj opened #13408 "Disable local storage / use external storage only"
It'd be great if you could disable internal storage or at least re-map it to use external SMB storage.

This would mean you could keep your owncloud server as a web server and use your standard SMB file storage for all files, one less place to backup and one less file server running a web app.

[2015-01-15 22:49] Sugaroverdose commented on #13407
FIY: you can pass domain to smb server using username@domain.name

[2015-01-15 22:51] sammcj commented on #13407
But how do you do that automatically for all users?
Can you just use 'username' and it uses the logged in users username?

--
Sam McLeod
@s_mcleod[https://twitter.com/s_mcleod]

On Fri, 16 Jan 2015, at 09:50 AM, Sergei Shuykov wrote:

[2015-01-15 23:03] Sugaroverdose commented on #13407
Sorry i misunderstood your point, are users mapped using ldap backend?

[2015-01-15 23:04] sammcj commented on #13407
Yes that's correct. It doesn't seem to prepend the (right?) domain for samba mappings.

[2015-01-15 23:35] Sugaroverdose commented on #13407
i just imagined that it would be cool to add checkbox 'use user ldap domain'.
i've configured on my OC8 to use ldap and smb, will try to make pr, at least with domain field

[2015-01-16 02:07] jonathannz commented on #13228
This is on a shared server environment, so as far as I know I have no access to /var
There’s a LOT of data being generated in the owncloud.log file I posted some lines from earlier.

But most a repeat of the previous data, and a great deal more along the lines of:

{"reqId":"54b3049e9521e","app":"carddav","message":"Sabre\\DAV\\Exception\\NotAuthenticated: No basic authentication headers were foun

[2015-01-16 03:22] Redstoone commented on #13376
@PVince81   yes, I have encryption enabled.  How can I solve this?

[2015-01-16 07:04] johan27hack commented on #13044
Hello,
Yesterday, I create a subfolder "TEST", with severals files.
template23TEST.doc --> not possible to read it within my mac (using Word  for Mac 2011).
slider.txt --> ok no problem.
template-fonctionnement.doc --> not possible
template-fonctionnééement - copie.doc --> not possible.
Each time it's possible, Word ask me to convert the file :
![capture d ecran 2015-01-16 a 08 03 16](https://cl

[2015-01-16 07:19] enoch85 commented on #13383
Steps to reproduce

I removed the Dropbox account and deactivated the External Storage in the apps section in ownCloud

I also tried to re-activate external storage support and deleted the Dropbox share manually from the settings, but it didn't help.

Maybe the errors would disappear if I removed the Dropbox API?

[2015-01-16 07:26] loxK opened #13409 "Renaming a folder deletes its content"
Hello,

I wasn't happy with the default folder name for automatic android photos uploads. So, I renamed it using the Owncloud's WebUI and then every client (Ubuntu, Android, WebUI) do show an empty folder.

I had a look to the database and the table oc_filecache, all files are there and the 'parent' is correctly pointing to the renamed folder.
Also the files do exist in the user's folder on the se