[2014-12-18 12:31] PVince81 opened #12930 "Getting two session cookies after authenticating on OCS endpoint"
### Steps to reproduce:
1. `curl -D - http://root:admin@localhost/owncloud/ocs/v1.php/cloud/capabilities`

### Expected result
Getting a single cookie.

### Actual result
Getting two session cookies.
[code]

I tried authenticating against the capabilites endpoint in pyocclient https://github.com/PVince81/pyocclient/pull/53 but it seems the library I use ("requests") has trouble with this and I get

[2014-12-18 12:46] arianeboehme opened #12931 "download issue with android 4.2.1 browser"
when downloading a file from mobil android 4.2.1 version deault browser not chrom, the files is allways called download.php. Once you rename it it workes.

[2014-12-18 12:56] tamnellop opened #12932 "7.0.4 not proposed for update [PHP 5.6 and SSL]"
Hi

I have a 7.0.3 running install.
I wait for the 7.0.4 being proposed by owncloud .. but it does not.

I've looked at the html source code of the update center and i have

`A new version is available: Array`

More over i've read that the updater call the url below and... it seems that

`https://apps.owncloud.com/updater.php` return an empty xml ?

[code]

Could you please help with this issue ?

[2014-12-18 17:32] dttpy opened #12944 "Can not rename folder twice in Favorites"
### Steps to reproduce
1. create a folder "test"
2. tag "test" as favorite
3. go into "test" and create a subfolder "aaa"
4. mark "aaa" as favorite
5. click "Favorites" button on the sidebar
6. rename "aaa" into "bbb" in the favorites list
7. rename "bbb" into "ccc" in the favorites list

### Expected behaviour
by step 6: the folder is renamed and star icon is still yellow
by step 7: the folder ca

[2014-12-18 20:28] drarko opened #12946 "[Request] Open Graph Support"
### Open Graph support for OwnCloud

The Open Graph protocol http://ogp.me/ is a way of providing rich content information for pages when shared on social networks.

This is quite powerful, but at the basic level it provides a way for content creators to control how the share stub looks when shared on networks like Facebook, Google + or Twitter

I think there should be an app or config option to a

[2014-12-18 22:18] PVince81 opened #12949 "Cannot run ext storage unit tests locally any more"
1. Checkout master 85301c8b8516a738e86bde128c1599c1060195d5
2. Edit apps/files_external/tests/config.php and setup swift for example
3. `./autotest.sh sqlite apps/files_external/tests/backends/swift.php`

Gives:
[code]

Possibly autoloader issue ?

I also tried this:
`phpunit --bootstrap tests/bootstrap.php apps/files_external/tests/backends/swift.php`

But this gives:
[code]

@nickvergessen @Morr

[2014-12-18 23:28] MorrisJobke opened #12950 "Setup tests on jenkins/travis to test memcaches (redis, apcu, ...)"
Setup this https://github.com/owncloud/core/pull/12748#issuecomment-67575171 for automated tests.

[2014-12-19 10:53] PVince81 opened #12962 "[master] User management jumps up when scrolling down"
### Steps to reproduce
1. On a fresh OC install, go to the users management page
2. Create 15 users
3. Try and scroll down to the bottom of the list (do not refresh the page)

### Expected result
Can scroll down to the bottom.

### Actual result
As soon as you reach the bottom of the list, a spinner appears (for loading the next page) and then no new entries appear but the page scrolls back to the

[2014-12-19 11:44] PVince81 opened #12964 "Reshare inner folder, recipients not visible by original sharer"
### Steps to reproduce
1. Create users "user1", "user2" and "user3"
2. Login as "user1"
3. Create a folder "test"
4. Share "test" with "user2"
5. Login as "user2"
6. Create a subdir "test/sub"
7. Share "test/sub" with "user3"
8. Login as "user1" again
9. Open share dropdown for "test/sub": "user3" is not visible, might be expected
10. Try sharing with "user3"

### Expected result
Not sure ?

### A

[2014-12-19 11:51] PVince81 opened #12965 "Cannot move file into folder name containing space with cadaver"
### Steps to reproduce
1. Create two users "user1" and "user2"
2. Login as "user1"
3. Create two folders "share one" and "share two"
4. Share both folders with "user2"
5. Upload a file as "one/test.txt"
6. With WebDAV as "user1": "mv share\ one/test.txt share\ two"
7. Do another test run and now do the same as 7 but with "user2"

### Expected result
File moved properly

### Actual result
409 confl

[2014-12-19 12:15] PVince81 opened #12966 ""Create" share permission doesn't let you upload when encryption is enabled"
### Steps to reproduce
1. Enable encryption + files_locking (that's how I tested)
2. Create two users "user1" and "user2"
3. As "user1" create a folder "test"
4. Share "test" with "user2" but only give "create" permission
5. As "user2" upload a file "test.txt" in "test"

### Expected result
File properly uploaded as "test/test.txt"

### Actual result
Error message "Could not find uploaded file".
R

[2014-12-19 12:23] jnweiger opened #12967 "cannot install httpd in centos:centos7"
My package installation test suite fails currently on all centos systems.
It appears, I am running into https://github.com/docker/docker/issues/8966

Error unpacking rpm package httpd-2.4.6-18.el7.centos.x86_64
error: unpacking of archive failed on file /usr/sbin/suexec: cpio: cap_set_file

seen with docker.io version 1.0.1, build 990021a
and lxc-docker-1.3.2, build 39fa2fa

[2014-12-19 13:21] PVince81 opened #12970 "Redesign / revamp folder share permissions"
Currently the folder share permissions are the following:
1) For files: can share, can edit
2) For folders: can share, can edit, can create, can update, can delete

I'm not sure what the original design decision was to have create, update and delete as separate permissions, but these case require additional code paths and also additional testing time (which often seems to be missed). And I'm not s

[2014-12-19 18:37] PVince81 opened #12976 "Cannot reshare if less permissions were given, even with reshare permissions"
### Steps to reproduce
1. User1 shares folder "test" with User2, only give "can share" and "can update" permissions.
2. User2 shares "test" with "User3"

### Expected result
User2 can share with "User3"

### Actual result
Selecting "User3" from the dropdown directly shows an error message "Sharing reshare perms failed, because the permissions exceed permissions granted to User2".
The problem is th

[2014-12-19 19:09] PVince81 opened #12977 "[master] Disable encryption app, no notification, cannot decrypt files"
### Steps
1. Enable encryption, relogin
2. Upload files
3. Disable encryption
4. Login again
5. Go to personal page to decrypt files

### Expected
Notification + password fields to decrypt files

### Actual
No notification, no password fields to decrypt files

### Versions
OC 8 git master 8164415b45386cb87e05e6e50cf4b8f3128b2e69
Regression from 7.0.4

@schiesbn please have a look

[2014-12-20 09:01] oureas opened #12980 "Cannot delete items over Web GUI or WebDAV in 7.0.4"
## Steps to reproduce

Log in to the web GUI and try to delete a file or folder in the files app by clicking on the trashbin icon.

## Expected result

File or folder should be deleted immediately.

## Actual result

Nothing happens. Loader icon is loading all the time.

## Logs

!!! No reuse of etag for 'files_trashbin/files/Test.d1419065715/test.txt' !!! cache: Array ( [fileid] => 1756354 [stora

[2014-12-20 18:15] phunyguy opened #12985 "client syncing .lock file spins apache2 out of control"
I am on 7.0.4 on server and 1.7.1 linux client, with postgresql-9.3 backend.  I have keepassx synched across my devices with owncloud, and it has a small .lock file that it uses.  I can tell it to ignore this lock file, but I am worried about larger organizations that adopt owncloud.  You can't tell every single user to have their client ignore a .lock file.  The issue is, on .lock file deletion,

[2014-12-21 13:04] felusch opened #12989 "Update Error message"
Hi,
my installation was corrupted during update, how can I fix it?
here is the message:

An exception occurred while executing ' INSERT INTO "oc_mimetypes" ( "mimetype" ) VALUES ( ? ) ': SQLSTATE[HY000]: General error: 6 database table is locked

THANK YOU FOR YOUR HELP!
regards
Bodo

[2014-12-21 17:11] SPQRInc opened #12991 "Can not upload a file - permission denied"
I'm getting this error in OS X Sync Client.

At the moment I'm getting the following error:

[code]

which is in German:

[code]

If I delete this file via Web-Interface, I can upload it without problems.

Why is the client thinking, that this file is readonly? If it would be readonly, I could not delete it via Webinterface...?

The logs I got from the admin-cp of Webclient:
[code]

[2014-12-22 05:46] huhu2207 opened #12993 "Chinese-named files cannot be displayed correctly"
Hi all,
I installed the owncloud 7 to my Windows server (Windows Server 2008r2 with IIS+PHP5.5+MySQL). The owncloud server version is 7.0.0 to 7.0.4 and if I upload a Chinese file, the file name cannot be shown correctly. But if I downgrade the server to 6.0.6, everything seems okay. Is it a bug, or I made any mistakes?

Jackson Hu.

[2014-12-22 12:07] MorrisJobke opened #12998 "User Management"
This issue is there for the purpose of keeping track of the required tasks for the planned user management in ownCloud 8.2.
- [ ] Pre-Defined Filters (in addition to what is already there) (https://github.com/owncloud/core/issues/12593) @LukasReschke
  - [x] Step 1: Refactor group management (https://github.com/owncloud/core/issues/12618)
  - [ ] Step 2: Modify external user backends to store user

[2014-12-22 13:25] jancborchardt opened #12999 "Problems left with accessibility / keyboard navigation"
1. When using the newly introduced »Skip to content« link (tab once to make it visible, then Enter to use), the content refreshes. That resets the tabindex and defeats the purpose of the link since you start from the beginning again. See the previous code at https://github.com/owncloud/core/commit/a2c2775df2c2a02c3f8bf184207ae37758cf5af5
2. When tabbing through the file list, the file actions shou

[2014-12-22 14:28] tomneedham opened #13002 "Combine OCS API getUser method code into provisioning_api app."
Currently we have two code sections for the same api method, and they are merged:

https://github.com/owncloud/core/blob/master/lib/private/ocs/cloud.php#L63 and
https://github.com/owncloud/core/pull/13000/files#diff-d63ef796ade5860b68adcc00dc5639a6R68.

We should move all of the code into the provisioning_api app to cleanup.

[2014-12-22 15:19] Peweuk opened #13004 "Problem when moving from the Calendar to Contacts page"
Selecting the 'Contacts' tab results in the page hanging 8 times out of 10 - in bothe Firefox and IE.

### Steps to reproduce
In web browser select the Contacts tab in OC

### Expected behaviour
Should display 2 panels containing Contacts information

### Actual behaviour
About 2 attempts out of 10 the contacts panels both show containing the correct information in both panels.
The rest of the tim

[2014-12-22 15:26] JimLoose opened #13005 "Files with special character like a slash (/) in filename throw error"
owncloud 7.0.2 + owncloud mac client 1.7.0. (build 1490)

see attached screenshot:

![bild 2014-12-22 um 16 25 11](https://cloud.githubusercontent.com/assets/195000/5526745/44525642-89f7-11e4-8a80-eeb7990e74dc.png)

_\+ sorry the short bugreport!_

[2014-12-22 20:02] law opened #13006 "fresh ownCloud install will silently delete local directory contents"
Clients - 1.7.0b1339, on Mac OS X Yosemite (Macbook Air, and Macbook Pro)
Server - originally Ubuntu 12.04 w/ ownCloud 7.0.3-1, reformatted to Ubuntu 14.04 w/ ownCloud 7.0.4-3

Putting this to Core, even though it may eventually end up in Client.  Apologies in advance if this is the case.

Originally, ownCloud was installed on my server with the application itself in /var/www/owncloud and the data

[2014-12-22 20:14] DeepDiver1975 opened #13007 "Kill all */ajax/*.php routes and move them to testable controllers"

[2014-12-23 13:33] schiesbn opened #13014 "Share API 2.0"
I think it become more and more clear that we need to improve the share API in a way that makes it no longer possible to keep the API stable. There is just to many old, broken and confusing stuff. Just one extremely confusing example: the "shareWith" parameter in shareItem() is used for the password for public link shares. Also other stuff we want to change anyway will result in large changes, e.g

[2014-12-23 21:12] menelic opened #13018 "Newsapp "recommended" in fresh install, but can't be installed due to code checker"
I just installed a fresh Ownccloud instance on a CentOS VPS and was happy to see that one of my favourite apps now comes "recommeded" in the app section. I was also glad to see that teh description provided is the latest one which descibes news as an oc 8 preview that should now be installable on 7.0.4 without code checker issues. However, after clicking enable I got:

App can't be installed becau

[2014-12-23 21:18] prilly opened #13019 "Hige idle cpu when external storage is added"
it seems my owncloud install has some problems with hige cpu usage when adding external storage in the gui. i have tried with both cifs, ftp and sftp and all 3 types generates steady hige cpu usage all the time the share is mounted. removing the external storage and cpu usage returns to normal.

debian 7 wheezy
owncloud 7
openfiler as external storage (cifs,ftp and sftp)

[2014-12-23 21:50] radoeka opened #13020 "Also closed junior jobs are shown, by following link at contribute page"
At this page http://owncloud.org/contribute/ there is the text: " (Try your hands on a a Junior Job ..."
The Junior Job refers to: https://github.com/owncloud/core/issues?labels=Junior+Job&state=open/
Due to the last slash the closed junior jobs are shown too.  Please have the last "/" removed from the url.

This will reduce the number of pages needed to display open junior jobs from an impressive

[2014-12-24 15:28] christianrj opened #13024 "Existing files on one side deleted after sync"
### Steps to reproduce
I don't know exactly how to reproduce this bug. The story is this:

We have a windows file server with Owncloud client installed to sync to the cloud. All files on the file server are shared with an owncloud account, that serves as a backup on another machine.

In past week, the owncloud client was disabled on the file server. The other machine was syncing as normal with the

[2014-12-26 10:20] Guyome opened #13032 "Sharing options do not show up"
I only get the search box when I try to share a content (file, calendar, event).

![error](https://cloud.githubusercontent.com/assets/77540/5557046/cd3235fe-8cef-11e4-8d96-adb413f7490d.png)

In my lighttpd log, I find:

```"GET /index.php/core/ajax/share.php?fetch=getItem&itemType=file&itemSource=1167&checkReshare=true&checkShares=true HTTP/1.1" 200 68 "https://xxxx.xxxxx.net/index.php/apps/files/

[2014-12-26 11:21] bkerensa opened #13033 "Call to undefined function json_encode() in /lib/private/log/owncloud.php on line 86"
This error occurs on upgrading to PHP 5.6 Call to undefined function json_encode() in /lib/private/log/owncloud.php on line 86

[2014-12-26 13:09] blackcrack opened #13034 "Suggestions in Adminarea"
Hi,
any Distribution have diffrent configurations with owncloud, as example, at moment it is in OpenMandriva Linux the webfolder owncloud in /usr/share/owncloud , wrong place i know, there it is give /srv/ or something and something like this should be on this, i know..  but it is not the reason why i am announce it is, some suggestion like
"URL-Generierung in Mail-Benachrichtungen
Wenn sich Deine

[2014-12-27 13:09] BernhardPosselt opened #13036 "Web components for apps"
This is just brainstorming.

If you are writing an app there are many UX things that you have to consider and a lot of JavaScript that you need to add to wire up all the navigation logic:
- Add a new entry/folder
  - Default caption
  - Default icon
  - No counter and no menu
  - Body should slide down on click
  - Body should hide on focus lost
  - Autofocus input field
- Navigation list
  - Can

[2014-12-27 13:48] radoeka opened #13037 "Error in log: OC_Image->fixOrientation() Exif module not enabled."
Obtained the following error in owncloud log:

Debug	core	OC_Image->fixOrientation() Orientation: -1	2014-12-26T13:03:15+00:00
Debug	core	OC_Image->fixOrientation() Exif module not enabled.	2014-12-26T13:03:15+00:00
Debug	core	Generating preview for "/some-song.mp3" with "OC\Preview\MP3"

Looks a module is not present.  I installed php5_exif, assuming that this is the missing module.
Shouldn´t OC

[2014-12-27 18:11] RealRancor opened #13038 "Document preview providers not supported on windows in config/config.sample.php"
Hi,

as a follow up of: https://github.com/owncloud/documentation/issues/422

OC is still lacking a lot of infos what is unsupported on windows. This includes the (now disabled) office and movie providers:

https://github.com/owncloud/core/blob/75e8b39826c9278288b8dc02dc19f0ca060080b6/lib/private/preview.php#L784-L785
https://github.com/owncloud/core/blob/75e8b39826c9278288b8dc02dc19f0ca060080b6/l

[2014-12-27 22:19] Biopticon opened #13040 "PHP Fatal error: Call to a member function getUID() on a non-object in /var/www/owncloud/lib/private/user.php on line 241"
After I set up encryption in Apps, when I tried to logon Owncloud I started getting "Initial encryption is running... Please try again later" message, and then the browser would show a white blank screen. This has been going on more than a day. I thought, since I have many files already synched, it would take a long time to encrypt all of them. But after I restared the owncloud server, although th

[2014-12-28 12:47] johan27hack opened #13044 "oc 7.0.3 / files "not readable" within desktop sync, but ok within web interface"
Hello,

PROBLEM :

I'm having oc 7.0.3 running perfecly with desktop sync (Pc and mac) without no problem.

But, since a few weeks now, without having do anything special to my server, if I sync a file within a desktop software (pc or mac), it will be not readable within any other desktop sync, but the file will be 100% ok within the web interface !!

Windows 7 Pro 64 with program OC 1.7.0
Mac 10.

[2014-12-28 20:21] DeepDiver1975 opened #13046 "Provisioning API: unit tests are not executed or code coverage reporting has issues ...."
https://ci.owncloud.org/job/server-master-linux/database=sqlite,label=SLAVE/ws/tests/coverage-html-sqlite/apps/provisioning_api/lib/index.html

[2014-12-29 09:10] johan27hack opened #13049 "Error in log: OC_Image->fixOrientation() but it's really an image"
### Steps to reproduce
I don't know how ..

### Expected behaviour
I suppose no "debug" here, since it's only an image to be displayed.

### Actual behaviour
Debug core OC_Image->fixOrientation() Orientation: -1 2014-12-27T12:09:09+00:00
Debug core Generating preview for "/clientsync/Projets/xxxx/xxxx/selection photos/retravaillés/fond4.jpg" with "OC\Preview\Image" 2014-12-27T12:09:09+00:00
Debug

[2014-12-29 20:40] AdamWill opened #13051 "3rdparty: update php-opencloud"
Upstream is up to 1.12.1, OC is still shipping 1.9.2.

Unfortunately I don't seem to have access to an OpenStack instance with working Swift (no, I'm not doing trystack until I can do it without facebook...) so I can't send a PR as I can't test it actually works, but looking at the changelog, none of the object store related changes between 1.9.2 and 1.12.1 read like they would break BC, so it may

[2014-12-30 11:23] AdamWill opened #13052 "JSMin minifier is non-free (suggest JSqueeze or JShrink as alternatives)"
As explained at https://github.com/owncloud/core/pull/11430#issuecomment-68317924 , the JSMin minifier which is used by that PR is non-free according to [FSF](https://www.gnu.org/licenses/license-list.html#JSON), [Debian](https://lists.debian.org/debian-lint-maint/2013/01/msg00153.html), and [Fedora](https://fedoraproject.org/wiki/Licensing:Main#Bad_Licenses). Also, its original upstream developer

[2014-12-30 12:14] AdamWill opened #13053 "Make asset directory location configurable"
While working on the asset compiling stuff today, I noticed it doesn't actually work with the Fedora downstream package. This is because it wants to write the assets to `\OC::$SERVERROOT . '/assets'`, but on Fedora, that's `/usr/share/owncloud/assets`, and it does not have write permissions there - it's a policy on Fedora that web apps are packaged with as many of their files as possible in `/usr/

[2014-12-30 18:03] LukasReschke opened #13056 "Code signing for applications"
With ownCloud 8 we’re aiming to move most of the shipped apps to the AppStore. However, this makes the ownCloud AppStore a high level target for cyber attacks. Currently, the applications served by the AppStore are not signed and thus an attacker might potentially alter or corrupt apps.

For ownCloud 8.1 we’re thus adding an optional Code signing process for applications. The aim of the code-signi

[2014-12-30 19:06] PlumbumDN opened #13058 "Decryption finished unexpected: An exception occurred after Upgrade from 6.0.3.1 --> 7.0.4.2"
### Steps to reproduce
1. Upgrade from 6.0.3.1 to 7.0.4
2. Try to upload data with sync-client 1.7.1 (4382)
3. Try to decrypt files

### Expected behaviour
After Upgrade file-sync should work
After disabling encryption-app files should be decrypted

### Actual behaviour
No reuse of etag for file XYZ.ABC in owncloud.log + Server didn´t sned E-Tag in sync-client-log
--> Endless retries of uploading

[2014-12-30 21:57] AdamWill opened #13062 "Move php-aws-sdk to main 3rdparty"
php-aws-sdk is still carried in `apps/files_external/3rdparty` and manually updated. This sucks. It double sucks because it means we have an entirely useless second copy of Guzzle and Symfony's event dispatcher in that same directory, and an unnecessary autoloader.

If aws was moved to the main 3rdparty repo and managed with composer, composer would not duplicate Guzzle and Symfony, and AWS' autol

[2014-12-31 01:05] jancborchardt opened #13064 "Upload size unit selection should automatically be saved instead of needing to press a »Save« button"
There’s one for you @willempienaar if you want to improve that section more in following up https://github.com/owncloud/core/pull/13048 :)

[2014-12-31 11:46] svecpetr opened #13065 "Web instalation bug LimitRequestBody"
at web instalation setup-owncloud.php instalation didn't check value LimitRequestBody in Apache2 ...

if is manualy set on Apache2 owncloud upload will failed with nonsense error:

Sabre\DAV\Exception\BadRequest: excepted filesize 1446783 got 491520

Why you nowhere write that LimitRequestBody 0 is required ???

[2014-12-31 11:51] svecpetr opened #13066 ".htaccess incopatible with PHP-FPM"
in owncloud root directory is .htaccess, but this file is incopatible with using Apache2 with PHP-FPM via FastCGI

you use declaration `<IFModule mod_fcgid.c>`

but no declaration for `<IfModule mod_fastcgi.c>`

[2014-12-31 11:58] svecpetr opened #13067 "Sync ignore files due to an unsupported charater"
owncloud disable sync this path / filename

"Ucetni firma/Daňové přiznání 2013/Snímek obrazovky pořízený 2014-03-30 13:34:56.png"

this is is completly UTF-8 and valid pro Windows, Linux and all UTF-8 compatible system

which character is for you incompatible ???

[2014-12-31 16:35] srlefevre opened #13070 "LDAP auth against AD does not load all users"
### Steps to reproduce
1. Create user w/ password in AD (Win2008) to use as authentication user
2. Enable User LDAP app
3. In Admin, configure Server settings w/ correct DN of user, password, and base DN.
4. In Advanced tab and Directory Settings, enter User Base Tree and Group Base Tree OU(s), CN(s), etc.  Set Group-Member association to "member (AD)".
5. In Expert Tab, set Internal Username Attr

[2015-01-01 01:12] AdamWill opened #13071 "Check doctrine-dbal post-2.5.0 fixes"
FWIW, in doing some preliminary testing of OC 8 for Fedora, I noticed that some of the post-2.5.0 commits on the 2.5 doctrine-dbal branch upstream look pretty significant, e.g.:

https://github.com/doctrine/dbal/commit/8dadeb7ebcfdb1e37e126078260eebee2e401d75
https://github.com/doctrine/dbal/commit/21a2bf6da0e82ae2bd929ae0f45b85eae8aa01b7
https://github.com/doctrine/dbal/commit/aac65338d96ce17cd42

[2015-01-01 10:58] kounelii commented on #1580
Seems the most reasonable idea, easy to employ, simple to use, effective...

[2015-01-01 13:20] DeepDiver1975 commented on #13071
Not relevant for ownCloud as we don't use foreign keys and renaming indexes is not used (generally speaking)

hmmm - might be of interest - requires setup testing on PostgreSQL (especially creation of database) @jnfrmarks

Needs a second look - cannot judge right away

[2015-01-01 13:24] tobiasKaminsky opened #13072 "Shared folder: allow creation of subfolder by button "new""
### Steps to reproduce
1. Share a folder with link
2. Log out
3. Open link
4. Try to create folder

I have found https://github.com/owncloud/core/issues/9857#issuecomment-50129894 but this is not known by the user. And even if other browser support this there should be the same button "new" as in the "files" app, as this is know by the user.

### Expected behaviour
Visible button "new", that let m

[2015-01-01 13:29] jbtbnl commented on #13036
I agree with @karlitschek that enforcing a complete framework is not desirable, but web components do not.

I've done some reading on the web components as suggested by @Raydiation and they are basically a neat way of separating elements (consisting of HTML, CSS and JavaScript) and their dependencies into small, maintainable pieces of code. I'm really looking forward to this as a replacement for t

[2015-01-01 13:44] srlefevre commented on #13070
FYI,
I can paste the raw User Filter used in the config into a ldap query tool and it returns the five users from the AD group.

[2015-01-01 16:05] dh1jc commented on #12694
Same problem here.
Server runs Apache and OC 7, https certificate is valid signed via startssl.
Android version: 4.0.3 (but also affects others... but don't know the versions of friends devices - but none worked)

I shared a link and that works perfect via Desktop Browser or Opera Mobile browser but fails with Android browser.

Noticed following in apache log:
Download via Desktop:
some.server:443

[2015-01-01 17:31] aaschmid opened #13073 "Option to encrypt just external storage"
As internal storage is already secure, encrypted etc. etc. But to increase performance it would maybe be sensful to just encrypt the additonal external disk storage.

If you like this idea and have some high level concept of implementation, I think about contributing a pull request for it. What do you think?

[2015-01-01 17:42] srlefevre commented on #13070
Everything works if I use an AD user in the Administrators Group.  I resolved this by giving my AD user (conducting the query) additional read rights to the AD tree root and all descendents.
This link got me on the right track http://serverfault.com/questions/167371/what-permissions-are-required-for-enumerating-users-groups-in-active-directory

It may be helpful to others to add some details to th

[2015-01-01 17:43] AdamWill commented on #13071
I should be able to test initial deployment and upgrade from 7.x with pgsql at least, I'll let you know how that goes.

[2015-01-01 18:57] acesabe commented on #11107
There is a UX error with accessing the "Admin Recovery Password" field in the "Users" page when viewing on an XGA 1024x768 size screen, it hides behind the "Search" field and can only be accessed by enlarging the browser window beyond the horizontal width of the display.

oc7.0.4+dfsg-2 (Debian) (stable) Chromium 34.0.1847.116 / Firefox 30

Suggest left side navbar dynamically scales, entry fields

[2015-01-01 19:00] RealRancor commented on #13072
Hi,

i think your linked issue/comment is not related. This is only valid if you want to upload a complete folder from your desktop/browser.

[2015-01-01 19:05] RealRancor commented on #13072
Not sure but this could be a duplicate of https://github.com/owncloud/core/issues/6635

[2015-01-01 19:16] AdamWill commented on #13052
Tested and confirmed fix with JSqueeze 2.0.1, but 2.0.1 also namespaces the lib (at my request, sorry :>) so Assetic's filter doesn't work OOTB any more. I've sent a PR to Assetic for that: https://github.com/kriswallsmith/assetic/pull/698

[2015-01-01 21:03] RealRancor commented on #13070
Hi,

you could describe your additions to the documentation in a new issue of the documentation bugtracker:

https://github.com/owncloud/documentation/issues

or even create a direct pull request with your additions:

https://github.com/owncloud/documentation/blob/master/CONTRIBUTING.rst

[2015-01-01 21:17] oparoz commented on #11436
Not sure if OC8 moved to sabredav 2.0, but on OC7, people can use this fix
https://github.com/fruux/sabre-dav/issues/330#issuecomment-49549813

The problem was also affecting owncloud to owncloud sharing.

[2015-01-01 21:55] tobiasKaminsky commented on #9568
Coming from #6635 I am wondering if this public account will work with passwords and is folder specific?
My use case in #6635 is that I have shot many photos of an event and want to share them with other people. Therefore I create a new folder and provide the link via "public share" and a password.
The other people now should be allowed to add new folders. Currently I am creating folders for them.

[2015-01-01 21:57] tobiasKaminsky commented on #13072
Yes it seems so. Although the issue creater is explicitly mentioning photos.
So I am closing this in favour of #6635.

Thank you

[2015-01-01 21:57] #13072 closed

[2015-01-01 22:03] karlitschek commented on #13073
Yes. This is a planed feature. @schiesbn

[2015-01-02 00:25] jancborchardt commented on #11107
@acesabe this is an unrelated new issue – can you open a separate issue for this please? Would be good if you can also add a screenshot, then I will look into it.

[2015-01-02 08:19] johan27hack commented on #13044
Hello all !
Happy New Year !!

Just to know if I have to update to 7.0.4 ? or do you prefer I wait until this issue's solution ?

Greeting!

[2015-01-02 08:30] MorrisJobke commented on #11401
pending backport PRs:
stable7: #12735
stable6: #12736

[2015-01-02 08:42] MorrisJobke commented on #11624
@blizzz @dragotin Wasn't there also a issue that the client doesn't know if the LDAP server has gone, the password has changed or the password is correct and something other happened?

[2015-01-02 08:43] MorrisJobke commented on #11624
https://github.com/owncloud/client/issues/2615

[2015-01-02 09:07] MorrisJobke commented on #12306
@blizzz Did you have any clue what could cause this drop of group assignements if a user is in more than ne group?

[2015-01-02 09:33] willempienaar commented on #13064
Sure, I'll get on it.

[2015-01-02 10:25] ovidiub13 opened #13076 "Downloading over Chrome on android does not seem to work"
Scenario:
**This was done using the web interface on Chromium on ArchLinux:**
Created a new folder; Uploaded a picture to the folder; Shared the folder with link.

**On Chrome on Android:**
Opened the shared link; tried to download the picture; tried to download the zip of all files.

**What actually happened:**
I started a download showing a progress with unknown time with a title `<No name>` (ap

[2015-01-02 10:40] RealRancor commented on #13076
Hi,

duplicate of https://github.com/owncloud/core/issues/12694 ?

[2015-01-02 10:49] ovidiub13 commented on #13076
Yes. Sorry for duplication.

[2015-01-02 10:49] #13076 closed

[2015-01-02 11:01] lasseew commented on #12658
I would also like to see this feature soon.
Typical use would also be to let the attendees upload photos at an event/venue.
For this use it is inconvenient to have an app. Whereas a link (and QR-code) makes it rather easy for all to make fast uploads.

[2015-01-02 11:13] woutz opened #13077 "Local External Storage: display issue with files and folders with special characters (umlaut, accents)"
### Expected behaviour
External storage view of local files on Windows LAN in web client / browser should show files and folders, which contain special characters, incl. é,è,à,ö,ä,ü

### Actual behaviour
External storage view of local files on Windows LAN in web client / browser
-	shows folders, which contain special characters (incl. é,è,à,ö,ä,ü) as ‘null’
-	doesn’t show files, which contain spec

[2015-01-02 11:17] cdamken commented on #10869
Yes :+1:

[2015-01-02 11:17] #10869 closed

[2015-01-02 11:19] RealRancor commented on #12694
@dh1jc
Have you checked the bugreport to chrome/chromium posted one comment above your's?

[2015-01-02 11:25] MorrisJobke commented on #9409
New PR that is merged to master (will be released with ownCloud 8) #12664 - according to @VicDeo this change should fix your issue

[2015-01-02 11:26] MorrisJobke commented on #9937
@LukasReschke What is the state of this?

[2015-01-02 11:47] LukasReschke commented on #9937
See my PR - solution was apparently not maintainable enough => Not merged ;-)

Whoever has another idea: feel free to do it. In the worst case scenario we would need to have to grep the .htaccess file for some known old entries. But that would be a major hack that I would like to avoid.

[2015-01-02 11:53] Marco4223 opened #13078 "Events in shared calendars are not sync on IPhone"
Hi,
I have 3 User (i.e. Peter Paul and Marry) and Peter shared his calendar with Paul and Marry.
Paul and Marry are using IPhones and can create events in their own calendar and in the shared one. But they cannot see the events that made by anyone else in the shared calendar.
For thesting:
Login the Owncloud website as Paul. Create an event (called Test1) in there private calendar and one in the s

[2015-01-02 12:11] RealRancor commented on #13077
Hi,

probably related to recommendation here: http://doc.owncloud.org/server/7.0/admin_manual/installation/windows_installation.html to currently not use ownCloud on windows together with external storages:

I'm not absolutely sure but i think there are also already some simliar existing bugs available at this issue tracker but unfurtunately i can't find it at the moment.

[2015-01-02 12:12] Do-D commented on #12802
Hi,
I have the same behaviour.
resharing public links is no longer possible, I can't tell when it stopped working...

### Steps to reproduce
1. Create a Folder and Share it to a group.
2. Login with a User in this group, create a new file/folder in the shared folder and reshare with a public link

### Expected behaviour
the reshared file should be shown

### Actual behaviour
It appears a Owncloud

[2015-01-02 12:13] RealRancor commented on #13078
Hi,

please re-open in the issue tracker of the calendar app:

https://raw.github.com/owncloud/calendar/issues

When creating the new issue it could be also usefull to use the issue template provided here:

https://raw.github.com/owncloud/core/master/issue_template.md

as asked in the "guidelines for contributing" (shown in the box when creating a new issue).

[2015-01-02 12:55] #13078 closed

[2015-01-02 13:19] woutz opened #13079 "Local External Storage: big size folders shown as empty"
### Expected behaviour
External storage view of local files on Windows LAN in web client / browser should show contents of folders of all sizes, i.e., also ‘big’ folders / folders with a lot of files / data.

### Actual behaviour
In external storage view of local files on Windows LAN in web client / browser big folders are shown as empty.

### Steps to reproduce
1. define local external storage of

[2015-01-02 13:23] woutz commented on #13077
Thanks for feedback,

So, does this mean someone is going to look into fixing this issue?

[2015-01-02 13:26] RealRancor commented on #13077
Hi,

probably not in the near future. Have read in the past that no developer is currently on windows but i don't know the current status.

[2015-01-02 14:53] PlumbumDN commented on #13058
This error message is new... telling that I should check owncloud.log or ask an admin ![unbenannt](https://cloud.githubusercontent.com/assets/6172126/5596799/3b77ae2a-9297-11e4-99f3-d8c98ba4d6dc.JPG)

[2015-01-02 15:15] karlitschek commented on #11401
Would be good to have this backported

[2015-01-02 16:14] canepan opened #13080 "Problem in 8 alpha 1 with user_webdavauth and "User" app options"
I installed the new alpha 1, executed the wizard and enabled  the user_webdavauth app.
Now, when changing options in the “Users” app (as an admin), I am unable to make the settings persistent, except for quota (which is saved)

[2015-01-02 16:17] karlitschek commented on #13080
@MorrisJobke @blizzz @LukasReschke Can you have a look please?

[2015-01-02 16:18] canepan opened #13081 "Problem in 8 alpha 1 with user_webdavauth and user creation"
I installed the new alpha 1, executed the wizard and enabled the user_webdavauth app.
Now, when trying to create a new user, I get a dialog saying:

[2015-01-02 16:42] LukasReschke commented on #13080
Well - that's to my knowledge a bug in user_webdavauth which persist since years. Same reason why you can't add users etc…

My https://github.com/owncloud/core/pull/12799 would have fixed this and a lot of other related bugs. But since we're now in feature freeze and this is quite a big change I'm afraid to say that fixing this should wait for 8.1.

[2015-01-02 16:43] LukasReschke commented on #13080
We have a lot of other similar issues open but since I'm on my iPhone searching issues is kinda pain - I'm fine with keeping this open since it is now linked to my PR.

[2015-01-02 16:44] LukasReschke commented on #13080
I think I also referenced this issue in a PR of the issue opener and asked for testing which unfortunately nobody did.

[2015-01-02 17:35] canepan commented on #13081
I do not have this problem with 7.x (using 7.0.4 now)

Nicola

[2015-01-02 17:48] RealRancor commented on #13081
Hi,

maybe because you didn't have enabled this in OC7? Because the same happens if you have enabled the user_webdavauth in OC7. For this we have an extra FAQ thread at the forums:

https://forum.owncloud.org/viewtopic.php?f=17&t=20221

containing a description.

A general question:

Are you authenticating your users against an external webdav server?

[2015-01-02 17:56] RealRancor commented on #9398
Was already added some month ago in https://github.com/owncloud/core/commit/c5c600bd7bc7700146ad10622ae8596aa3279df2 -> closing

[2015-01-02 17:56] #9398 closed

[2015-01-02 17:57] RealRancor commented on #13080
Probably: https://github.com/owncloud/core/issues/8749 and the linked issue there.

[2015-01-02 18:12] MorrisJobke commented on #13080
@LukasReschke Did you want to reference #12799?

[2015-01-02 18:29] MorrisJobke commented on #11971
@droidben If there is a 500 response, there is definetely something in the logs. Either in the apache logs or in the owncloud.log in your data folder.

[2015-01-02 18:34] MorrisJobke commented on #12757
@cyril94440 As @RealRancor already answered: If this is a calendar event: ask in the calendar bug tracker or the mailinglist. Otherwise use mailinglist or IRC. @jbtbnl @brantje and @georgehrke the main contributors in calendar ;)

[2015-01-02 18:34] #12757 closed

[2015-01-02 18:35] MorrisJobke commented on #12760
@KimSRT So this is a problem of WebDrive and not ownCloud? Can this then be closed?

[2015-01-02 18:37] georgehrke commented on #12757
There is no api for calendar sharing at the moment. This is also not planned anytime soon. If you need this you can use OC_Calendar_Calendar / OC_Calendar_Object to query events and OCP\Share to actually share them

[2015-01-02 18:38] MorrisJobke commented on #12801
@fleish Is the instance working after the upgrade and before the database migration? (after step 2) Or is it still broken at this point. I ask this to find the cause of your problem (either upgrade code or migration code)

[2015-01-02 18:52] MorrisJobke commented on #13052
IBM has a changed version of this:

[code]

[2015-01-02 18:53] MorrisJobke commented on #13052
IBM has a changed version of this:

[code]

http://dev.hasenj.org/post/3272592502/ibm-and-its-minions

;)

[2015-01-02 18:57] KimSRT commented on #12760
@  <https://github.com/MorrisJobke> MorrisJobke I am unsure what type of problem it is. Submitting a ticket to our helpdesk would help to figure things out though. Thank you.

From: Morris Jobke [mailto:notifications@github.com]
Sent: Friday, January 02, 2015 1:36 PM
To: owncloud/core
Cc: KimSRT
Subject: Re: [core] WebDAV-Filelocking does not work in Multi-User Environment (#12760)

@KimSRT <https

[2015-01-02 19:02] fleish commented on #12801
@MorrisJobke sorry if that was unclear, I tried to caveat step #3 to note it happens regardless of the DB migration. I've tried just upgrading the code and leaving the instance on SQLite and the same issue(s) occur

[2015-01-02 19:03] SPQRInc commented on #12991
Hi there,

is there anything I can do to help the team to solve this issue? Can I upload some more logs, do the developers need some more information?

I did not get any information yet.

Thanks in advance :-)

[2015-01-02 19:04] MorrisJobke commented on #13052
@AdamWill Thanks for spotting this!

[2015-01-02 19:09] MorrisJobke commented on #13070
@srlefevre Updating the config would be really nice. If you have problems with this just ping me in IRC or here on github (I'm MorrisJobke on IRC too)

[2015-01-02 19:11] karlitschek commented on #12991
@icewind1991 Do you have any idea?

[2015-01-02 19:13] AdamWill commented on #13052
@MorrisJobke that's still not really sufficient as the exception doesn't apply to all (unless you consider everyone a 'minion' of IBM...), so you still effectively can't distribute the software on free terms to all. Everyone who's not a 'customer, partner or minion' of IBM still can't use it for evil. In any case I don't think you could hold that it applies to the copy of `JSMin.php` in minify.

I

[2015-01-02 19:28] MorrisJobke commented on #13052
@AdamWill Sure

[2015-01-02 20:52] jancborchardt commented on #13064
@willempienaar you’re awesome! :) Come to #owncloud-dev on IRC if you need any help.

[2015-01-02 20:57] acesabe opened #13084 "Admin Recovery Password field UX issue in XGA size screen at default zoom"
There is a UX error with accessing the "Admin Recovery Password" field in the "Users" page when viewing on an XGA 1024x768 size screen, it hides behind the "Search" field and can only be accessed by enlarging the browser window beyond the horizontal width of the display.

![Image of hidden field at default zoom XGA screen](https://lh4.googleusercontent.com/-fMqKscox-O8/VKcEKfbXlHI/AAAAAAAAGa0/Cshc

[2015-01-02 20:58] acesabe commented on #11107
Done https://github.com/owncloud/core/issues/13084

[2015-01-02 21:20] karlitschek commented on #13084
@jancborchardt @blizzz What do you think?

[2015-01-02 22:11] woutz commented on #13077
Thanks for this clarification. Would be a petty if this couldn't get solved quite quickly, as owncloud really gets traction now and clearly rocks. And with many users using Windows-based server-set-ups, owncloud could really become THE reference in regards to secure self-controlled cloud solutions. Currently, the Windows-based local external storage solutions is really unuseable / useless in its c

[2015-01-02 23:38] jancborchardt commented on #13084
@blizzz The recovery password isn’t used that often, is it? We should put it in the bottom left settings area, or only prompt for it when needed. It has no place in the top bar.

[2015-01-03 00:55] AdamWill commented on #13052
assetic's now merged my filter change onto master, but not onto the 1.2 branch, yet - I've asked if they can merge it to 1.2.

[2015-01-03 07:57] oliverdo opened #13085 "Graceful synchronisation stop for oc client"
Hi,

I’m using oc client 1.7.1 in conjunction with oc server 7.0.4 and I'm syncing sometimes quite big file 1-2 GB using this infrastructure. The oc client allows me to stop the synchronization, which stops it immediately. Sometimes I would like the oc client to finish the ongoing synchronization before stopping.

Would it be possible to get such a graceful stop of the synchronization?

Thanks
Oli

[2015-01-03 08:08] oliverdo opened #13086 "A way to choose which data will be synchronizes to which client."
Hi,

I’m using oc client 1.7.1 in conjunction with oc server 7.0.4 and I'm syncing a lot of data between multiple clients. The data could be categorized and is sorted in folder for each category. Some of those folders are also shared with other users. The other users and I do not need each folder on each device running an oc client.
For example the photo and the music folder are about 50 GB, the v

[2015-01-03 09:26] alex42ka opened #13087 "Error messages"
Hi,

since one of the last updates (now it is OC 7.0.4) I get strange error messages in the admin section. It is stated that Web-DAV isn't working properly and that the server doesn't have an internet-connection. But as before the update everything is working fine (sync ...).
And of course my VServer is having an internet connection.

I've installed Owncloud on my Ubuntu 14.04 using the packages p

[2015-01-03 11:13] derkostka opened #13088 "OC 8 Alpha 1: Maintenance files:scan does not find users uid"
### Steps to reproduce
1. Call occ files:scan or php console.php files:scan

### Expected behaviour
File Database for the User shall be updated

### Actual behaviour
The user is not found

### Server configuration
Operating system: Ubuntu 14.04
Web server: apache2
Database: mySQL
PHP version: PHP 5.5.9-1ubuntu4.5
ownCloud version: Owncloud 8 Alpha 1
Updated from an older ownCloud or fresh install:

[2015-01-03 11:15] derkostka opened #13089 "OC 8 Alpha 1: Files for User are not shown (unbekannter Fehler)"
### Steps to reproduce
1. LogIn and go to files App
2. Just one user is affected, see the Logs

### Expected behaviour
Show users Files

### Actual behaviour
Users Files are not shown, "Unbekannter Fehler" is thrown in the UI. This only happens for one user, all the others are not affected. Please look at the log below (unauthenticated user...)

### Server configuration
Operating system: Ubuntu 14

[2015-01-03 11:16] derkostka commented on #13089
files:scan is cannot find UID, see #13088

[2015-01-03 11:33] arkascha opened #13090 "Opening the "admin" page shown the "apps" app as active in the navigation menu"
in OC-7.0.4, when opening the "admin" page as an administrator I expect to get an admin page.
The content is fine, but the navigation menu claims that this is the "apps" page I am look at, which clearly is wrong.
A technical reason might be that there is no "admin" entry in the navigation menu, and one entry has to be active there. But that is not really satisfying. To me the visualization is conf

[2015-01-03 11:48] arkascha commented on #11809
Just checked again, the issue is still not solved.

Tried a network sniffer without result, since the communication with the app store is ssl encrypted.

Added a few debugging hooks and a plausible reasons for the issue turned up:
SimpleXMLElement Object
(
    [meta] => SimpleXMLElement Object
        (
            [status] => failed
            [statuscode] => 200
            [message] => too man

[2015-01-03 11:56] tobiasKaminsky commented on #11809
Or cache the items and only refresh the app infos once an hour.
(I doubt that there are changes so often...)
So, even if the request fails, it will show the cached items, which is better than showing only some apps...

[2015-01-03 13:13] arkascha commented on #11809
@tobiasKaminsky Indeed! A very obvious and good solution.

[2015-01-03 13:14] j-ed commented on #6468
Here you will find my attempt to create a custom FTP stat() function:
https://github.com/j-ed/core/blob/master/apps/files_external/lib/ftp.php

Unfortunately @PVince81 and I weren't able to identified what else
need to be modified to get this peace of code running.

[2015-01-03 13:34] radoeka commented on #13090
Related to #8160

[2015-01-03 13:38] RealRancor commented on #13086
Hi,

i think this is more something which should be handled at client-side. There you can find a similar request like: https://github.com/owncloud/client/issues/2633

[2015-01-03 13:40] RealRancor commented on #13085
Hi,

please re-open in the issue tracker of the sync client:

https://github.com/owncloud/client/issues

using the issue template provided here:

https://raw.github.com/owncloud/client/master/issue_template.md

[2015-01-03 13:40] RealRancor commented on #13087
Hi,

have a first look at this FAQ: https://forum.owncloud.org/viewtopic.php?f=17&t=7536

[2015-01-03 13:53] tobiasKaminsky commented on #11809
Maybe @karlitschek cannot reproduce this bug as he has (maybe) an IP address that is whitelisted?
At least this is something I am doing for testing at work...

[2015-01-03 14:48] arkascha commented on #11809
Sure, could be an explanation. But still there is something odd:

As written before the behavior was not really deterministic for me: I did not get that effect always once it started, but on every 2nd attempt, roughly. In repeated reloads I sometimes got none, sometimes a few and sometimes all available apps (whatever all is here). And there were not 15 minutes between the attempts, but less than

[2015-01-03 14:51] karlitschek commented on #11809
wow. This was the error message I was looking for. I will fix this. Thanks a lot guys.

[2015-01-03 15:02] droidben commented on #11971
I looked in the Windows Server Log (since im on IIS). (I cut out all the sync-requests from my workstation at work. Its also not my IP anymore so no security issues):
http://www.mediafire.com/download/71ve6agcipjfmag/u_ex141106.log
If you want to take a look here you go.

[2015-01-03 15:20] dh1jc commented on #12694
Hi,

yes I did.
  https://github.com/owncloud/core/issues/12931
is about wrongly named files after download.
And about content disposition.

I would be glad if the file is at least downloaded...

--
Joschi

On 2015/01/02 12:19, RealRancor wrote:

[2015-01-03 15:32] #13086 closed

[2015-01-03 15:53] tomneedham commented on #13046
Fixed with https://github.com/owncloud/core/pull/13083

[2015-01-03 15:53] #13046 closed

[2015-01-03 16:08] tomneedham opened #13092 "Refactoring of Provisioning_API"
Non exhaustive list of improvements:
- [ ] Remove usage of deprecated methods
- [ ] Implement dependancy injection
- [ ] Make use of data providers in test cases

Nice to have (debatable priority)(probably separate refactoring stage):
- [ ] Use HTTP error codes

[2015-01-03 17:21] averi commented on #11292
We (at the GNOME Foundation) are experiencing the same issue as reported here, LDAP logins works just fine but the users list does not show LDAP users at all which makes configuring ACLs impossible.

'Everyone' on the users list correctly shows the amount of local + LDAP users but just the local users are shown on the list. Is there any update on this?

[2015-01-03 17:22] karlitschek commented on #11292
@blizzz What do you think?

[2015-01-03 17:53] karlitschek commented on #13018
Hmmm. I can´t reproduce that. The news app shows up for me as Recommended in 8/git master but not on 7.0.4
@menelic Can you provide some more information here? Have you ever used 8.0 alpha or git?

[2015-01-03 18:11] averi commented on #11292
Also while this get investigated more deeply it would be interesting to find out how to map LDAP users to OC local groups directly on MySQL, what tables are involved, how the 'owncloud_name' field on oc_ldap_user_mapping maps to locally created groups so that we can ideally add the ACLs manually.

Is oc_group_users used to map LDAP accounts and local groups? seems the answer is a no as I tried to

[2015-01-03 18:33] freddy961 commented on #11690
Use LongPathTool for long path and and long extension..

[2015-01-03 19:08] stefan-muc commented on #776
This bug is still valid for OC 7.0.4 with PHP 5.3 as cgi module.

This both lines fixed it for me:
.htaccess
RewriteRule .* - [env=REMOTE_USER:%{HTTP:Authorization}]

/3rdparty/sabre/dav/lib/Sabre/HTTP/BasicAuth.php add this line before if (!$auth) return false;
if (!$auth) {
    $auth = $this->httpRequest->getRawServerValue('REDIRECT_REMOTE_USER');
}

Please reopen this issue. I don't know how I

[2015-01-03 19:21] MorrisJobke commented on #11971
@droidben This just lists the URL and the error code. This looks like the access log of the apache. Isn't there an error log for IIS? That log would be of interest.

[2015-01-03 19:43] droidben commented on #11971
I have an owncloud-log if thats what you mean..?
http://www.mediafire.com/view/t2ezgc9h95iyudt/owncloud.txt

I'm kinda new to the webserver-scene so you might have to tell me what to do and where to look. I'm sorry for that.

[2015-01-03 19:53] MorrisJobke commented on #11971
@droidben No problem. The problem here is, that I have no experience with IIS. And it's not officially supported in the community edition. I will have a look at the owncloud.log you supplied.

[2015-01-03 20:08] MorrisJobke commented on #11971
@droidben THe log files contain a lot of errors, but for the timeframe where the HTTP code 500 errors occur nothing special can be found in the owncloud.log.

Maybe @nickvergessen can have a look and maybe experienced similiar errors while setting up ownCloud on Windows.

[2015-01-03 21:07] MorrisJobke commented on #13090
@jancborchardt Wasn't this by purpose?

[2015-01-03 21:09] MorrisJobke commented on #13090
The brown labels are for backported fixes (and their issues). The documentation for this is currently written. Sorry for the confusion

[2015-01-03 21:44] droidben commented on #11971
I just want to say that it could have something to do with file- / folder-permissions, since i set this thing up just after the official instructions and then gave permissions until it worked.

[2015-01-03 22:10] Kedrigern commented on #1347
Default quota for user's in group would be realy nice.

[2015-01-03 23:04] jancborchardt commented on #13090
This is on purpose, the reasoning is explained in https://github.com/owncloud/core/issues/9356#issuecomment-47804471

[2015-01-03 23:04] #13090 closed

[2015-01-04 00:13] dagbdagb commented on #12876
I presume this also means that sabre/vobject will see an update. I have a vcf-file which sabre/vobject 3.3.4 claims is perfect. But OC 7.0.4 (which employs an older version of vobject) bombs on it.

[2015-01-04 00:14] enoch85 commented on #8501
@PVince81 Ping

[2015-01-04 01:34] derkostka commented on #13089
Edit: i think i had an owncloud share to a OC 7.0.4 folder active before updating from 18.12. master to 8alpha1...

[2015-01-04 04:01] Bugsbane commented on #3812
I think I'd rather Open Street Map. :)

[2015-01-04 04:11] Bugsbane commented on #2368
What would be a thing of pure beauty, would be being able to share any given tag, in the exact same way we currently can share files.

I would love to be able to organize my photos according to my own system, and then have all the ones tagged "family" to automatically be shared with everyone in my family group, or to tag files with "client-updates" and automatically have them be shared with my cli

[2015-01-04 07:23] #13085 closed

[2015-01-04 08:27] radoeka opened #13094 "log_authfailip not documented in config.sample.php"
log_authfailip is not documented in config.sample.php (https://github.com/owncloud/core/blob/master/config/config.sample.php).

In procedures that describe how to enable for example fail2ban [1] a reference is made to the variable log_authfailip, but this variable is not mentioned in config.sample.php

[1] Owncloud with fail2ban:
 http://www.rojtberg.net/711/secure-owncloud-server/
 https://monoto

[2015-01-04 11:43] RealRancor commented on #13094
Hi,

this was removed some time ago: https://github.com/owncloud/core/commit/e7cea79ee7311c41c5f95082cba6e75e0236beac and is always "enabled".

[2015-01-04 15:25] oparoz commented on #10077
It's crucial for searchByMime() to have a limit argument so that apps which need to collect references to files of a certain type can do it in batch instead of having to send an array containing potentially thousands of entries to the browser.

[2015-01-04 15:55] radoeka commented on #13094
OK.  That's even better :)

[2015-01-04 15:55] #13094 closed

[2015-01-04 17:22] derkostka opened #13096 "OC 8 Alpha 1: Fatal error in node.php .. getId() .. when scanning for music via OCC"
Steps to reproduce

    Call occ music:scan --debug --all

Expected behaviour

    Music DB for all users shall be updated

Actual behaviour

    Process failes with an fatal error after some files

Server configuration

    Operating system: Ubuntu 14.04
    Web server: apache2
    Database: mySQL
    PHP version: PHP 5.5.9-1ubuntu4.5
    ownCloud version: Owncloud 8 Alpha 1
    Updated from an o

[2015-01-04 19:56] enoch85 commented on #12645
@LukasReschke Any progress on this?

[2015-01-04 20:09] enoch85 opened #13097 "Sabre\DAV\Exception\BadRequest:"
### Steps to reproduce

Don´t know. could it be connected with Dropbox, or is it the sync client that throws the errors?

### Expected behaviour

No Sabre_DAV errors at all.

### Actual behaviour

I get both Sabre\DAV\Exception\BadRequest: and Sabre\DAV\Exception\Forbidden: in owncloud.log See #13098 for issue on Sabre\DAV\Exception\Forbidden:

### Server configuration

Ubuntu Server 12.04

**Data

[2015-01-04 20:18] enoch85 opened #13098 "Sabre\\DAV\\Exception\\Forbidden"
### Steps to reproduce

Don´t know. is it the sync client that throws the errors?

### Expected behaviour

No Sabre_DAV errors at all.

### Actual behaviour

I get both Sabre\DAV\Exception\BadRequest: and Sabre\DAV\Exception\Forbidden: in owncloud.log See #13097 for issue on Sabre\DAV\Exception\BadRequest:

### Server configuration

Ubuntu Server 14.04

**Database:**
Serverversion: 5.5.40-0ubuntu0

[2015-01-04 20:57] enoch85 commented on #13098
CC @DeepDiver1975

[2015-01-04 20:57] enoch85 commented on #13097
CC @DeepDiver1975

[2015-01-04 21:12] alex42ka commented on #13087
The Site duescribes a totally different senario from what I'm experiencing. Haven't my comments been clear enough? Do you need more information?

[2015-01-04 21:19] RealRancor commented on #13087
Hi,

which is exactly what is described in this FAQ. You could also fill out the issue template provided here:

https://raw.github.com/owncloud/core/master/issue_template.md

as asked in the "guidelines for contributing" (linked in the box shown when creating a new issue).

[2015-01-04 22:01] jancborchardt commented on #3812
@zocker22 these are all nice technical ideas. We should start out with the purpose though: What is the actual value we can provide to people? And then design solutions for that. :)

[2015-01-04 23:32] Pierozi commented on #13067
Problem is Owncloud Server can be runing under Windows. And for prevent any problem core team have unsupported these character. Bad news are is also unsupported when Server are under Linux.

@svecpetr look at this client issue, djbobke have publish a patch => https://github.com/owncloud/client/issues/854

My opinion is all the clients (web / linux / android...) should include a Server environement

[2015-01-05 04:59] mdhirt opened #13100 "database connection error displays host, username and password details"
A failed owncloud update left our postgres database in upgrade mode.  This resulted in a php error message being displayed to any web user.  This error message included the database connection string which detailed the database host, username and password.

### Steps to reproduce
1.  Edit the dbpassword entry in the owncloud config.php
2.  Open your owncloud web page
3.  A database connection erro

[2015-01-05 08:35] ixzess commented on #12760
-> https://github.com/owncloud/core/issues/10474

There is explained, it is a owncloud Problem

[2015-01-05 08:41] nickvergessen commented on #11951
@schiesbn want to add that like the other activities you added for sharing?
So this is independent from the activity app?

[2015-01-05 08:50] MorrisJobke commented on #12681
Quick fix is merged via #13095

[2015-01-05 09:05] MorrisJobke commented on #12681
@derkostka Is this issue fixed with your quick fix? Then I would like to close this one

[2015-01-05 09:09] githubrsys opened #13102 "File replacement modal too wide on mobile"
# Summary / actual behaviour

Uploading multiples images with iPhone in files module not possible because the 'confirmation dialogue' for overwriting files cannot be used as expected. There's not enought room for seeing the full dialogue box.
# Way to reproduce
- FE Login with iPhone 4 / 5 / 6 -> Files module -> upload multiple Images
- Try to Upload 3 or 4 Images
- As of an Issue in iOS there's a

[2015-01-05 09:09] MorrisJobke commented on #13073
Duplicate of #10731 - there is also already a discussion about a per folder/external mount option ;)

[2015-01-05 09:09] #13073 closed

[2015-01-05 09:17] MorrisJobke commented on #13097
@enoch85 How do you connect to the WebDAV endpoint? Do you use the ownCloud client or something else?

[2015-01-05 09:17] MorrisJobke commented on #13097
@enoch85 Can you maybe provide the access log of the time where these errors occur? Thanks

[2015-01-05 09:36] githubrsys commented on #13102
Screenshot added
![photo-2015-01-03-13-52-30_0328](https://cloud.githubusercontent.com/assets/716689/5611419/aeaf377e-94c6-11e4-9ced-96737bb31833.PNG)

[2015-01-05 09:37] LukasReschke commented on #13080
Yes.

[2015-01-05 09:40] MorrisJobke commented on #10563
@PVince81 @LukasReschke If I understand this correct: We should add a check for this only if this is accessed by an ownCloud 6? So this is only valid for ownCloud 6 and just needs a fix in the stable6 branch? Is this wanted then I create the fix. cc @karlitschek

[2015-01-05 09:40] LukasReschke opened #13104 "Config file is checked multiple times with different checks"
From https://github.com/owncloud/documentation/issues/731#issuecomment-68475011:

<hr/>

Oh fun, oh fun.

What happens here is that our awesome code-base has the "is config writable check" in at least three different places and the logic is all different - yay.
1. A check in `lib/private/config.php` whether the file `config/config.php` exists (https://github.com/owncloud/core/blob/c36bac3abdd4b416

[2015-01-05 09:43] MorrisJobke commented on #10672
This is fixed in the new API https://github.com/owncloud/core/blob/master/lib/public/iconfig.php#L115

This doesn't return any boolean. It just runs fine or throws an exception. If a precondition is specified and nothing is updated it also throws an exception.

[2015-01-05 09:43] #10672 closed

[2015-01-05 09:48] MorrisJobke commented on #11312
This is fixed on master. Please reopen if this is still an issue

[2015-01-05 09:49] #11312 closed

[2015-01-05 09:52] LukasReschke commented on #10563
@MorrisJobke Better approach would be to check the remote status.php file and then make a version comparison. So the fix should be in stable7 and master. We might introduce some backwards incompatible changes in the future (even if undesired) and that should be a more bullet proof approach.

[2015-01-05 09:52] aaschmid commented on #13073
sorry, haven't found that using github search (maybe due to the big amount of tickets).

[2015-01-05 09:52] MorrisJobke commented on #11794
@PVince81 @DeepDiver1975 Move this to 8.1?

[2015-01-05 09:56] MorrisJobke commented on #11707
@LukasReschke @jancborchardt @schiesbn @PVince81 So the default permission should be read-only?

@karlitschek Is this still topic of 8.0? Otherwise move this to the 8.1 milestone and I will have a look later on this.

[2015-01-05 09:58] LukasReschke commented on #11707
Yes.

I'd vouch for 8.1. Nothing did explode in the past due to that and as we're already in the beta let's keep it that way.

[2015-01-05 09:59] MorrisJobke commented on #12151
I’m closing this issue _for now_ because of inactivity.

@Aurelien-  we can always reopen it though! :) Please clarify the steps to reproduce this using the issue template.
If you need any help, please ask on our [developer mailing list](http://mailman.owncloud.org/mailman/listinfo/devel) and join our IRC channel at #owncloud-dev (freenode network).

[2015-01-05 09:59] #12151 closed

[2015-01-05 10:01] MorrisJobke commented on #12340
@jnfrmarks Ping

[2015-01-05 10:04] MorrisJobke commented on #12430
I can't reproduce with the new apps management, as multiple apps are on the same page. The autocomplete doesn't work, but this is another issue.

[2015-01-05 10:04] #12430 closed

[2015-01-05 10:06] MorrisJobke opened #13105 "Enable app for group doesn't autocomplete anymore"
* try to enable app for specific group only by clicking the checkbox on the app management page for text editor for example
* focus the input
* spinner appears and nothing is displayed even if I typed in the full group name

cc @DeepDiver1975 @jancborchardt

[2015-01-05 10:07] MorrisJobke commented on #12816
@PVince81 As a first step you could add a command to cleanup the tags ;) There you can invoke the logic and then decide after the release where and how to register the hooks properly ;)

[2015-01-05 10:08] LukasReschke opened #13106 "Error log is flooded with "Accessing the server container is deprecated. Use type annotations to inject core services instead!""
"Accessing the server container is deprecated. Use type annotations to inject core services instead!" is flooding the error log even if the warn-level is set to the default "Warnings, errors and fatal issues"

Introduced with https://github.com/owncloud/core/commit/f1951237653ffbbf7fd75f815f401783658cec5e which was merged with https://github.com/owncloud/core/pull/12830

That message should be an

[2015-01-05 10:09] LukasReschke commented on #13106
To reproduce this just install the new beta and look at the log file…

[2015-01-05 10:11] MorrisJobke commented on #13080
So this issue will be postponed to 8.1?

[2015-01-05 10:12] LukasReschke commented on #13080
Well - it existed since ever to my understanding and I really don't want to merge that PR now.

[2015-01-05 10:12] Raydiation commented on #13106
Can you create a fix? The lines are here:
* https://github.com/owncloud/core/blob/master/lib/private/appframework/dependencyinjection/dicontainer.php#L204
* https://github.com/owncloud/core/blob/master/lib/private/appframework/dependencyinjection/dicontainer.php#L225

Either remove them or change it to debug

[2015-01-05 10:13] MorrisJobke commented on #13073
@aaschmid No problem :) Thanks for reporting this anyway :)

[2015-01-05 10:19] LukasReschke commented on #13106
See https://github.com/owncloud/core/pull/13107

[2015-01-05 10:22] blizzz commented on #13080
I second @LukasReschke for postponing: a changeset too big for including it post freeze.

[2015-01-05 10:42] jancborchardt commented on #13105
Any errors in the console or owncloudlog?

[2015-01-05 10:44] jancborchardt commented on #11707
I’d vouch for 8.1 if anything as well.

I’m really not too fond about that. We didn’t have real problems in practice before because of this. And I think we would get more complaints about people not noticing sharing is read-only by default and others can’t edit it.

[2015-01-05 10:45] LukasReschke commented on #11707
Well - fact is that we do it differently than anybody else and this really a problem in serious environments. You simply don't want to have it that way.

So we either set it to read-only or we come up with a proper sharing popup dialog (as does Dropbox or Google Drive) but the current solution is a mess at best.

[2015-01-05 10:50] LukasReschke commented on #11707
The current approach can be kinda compared to creating a user and give it admin rights per default and then have a small timeframe where the user has administrative privileges.

A best practise is to obey the least-privilege principle: Give the user only what he needs at start and if he needs more give him more permissions.

Honestly, if you want to have a file editable we have the checkbox right

[2015-01-05 11:09] #13106 closed

[2015-01-05 11:13] diablotin84 opened #13109 "Error fetching URL Share to Share OC7"
Hi,

I open this issue because i have this problem when i use share to share server owncloud:

In the log:

{"app":"PHP","message":"Cannot modify header information - headers already sent at \/var\/www\/owncloud\/lib\/private\/json.php#17","level":3,"time":"2015-01-05T11:06:54+00:00"}

Tks for return.

Sincerely,

[2015-01-05 11:17] cdamken commented on #12035
@PVince81 https://github.com/owncloud/core/issues/12035#issuecomment-64895631 who else can do this if @felixboehm is busy?

[2015-01-05 11:39] cdamken commented on #11986
@PVince81  Here is the information:

S3-ownCloud\Shared\owncloud\support\github-issues\core\11986\oC-PB_shares_without_filecache_entries.txt

[2015-01-05 11:46] MadEgg commented on #12794
I'm experiencing more-or-less the same issue on OwnCloud 7.0.4, but even simpler:

To reproduce:
- Create a new group, do not add any user to it.
- Reload page. Notice that the new group is gone

Expected result:
- The newly added empty group is still there

Actual result:
- The newly added empty group is gone

Apparently, OwnCloud seems keen on not keeping groups around that are empty, but this i

[2015-01-05 12:01] MorrisJobke commented on #10563
Fix is ready for review in #13108

[2015-01-05 12:03] MorrisJobke commented on #13105
@jancborchardt Nothing. Even the requests are sent. Maybe I will debug this later

[2015-01-05 12:07] MorrisJobke commented on #13109
cc @schiesbn

[2015-01-05 12:08] MorrisJobke commented on #13109
@diablotin84 Can you provide more information? Please use the https://github.com/owncloud/core/blob/master/issue_template.md to report issues

[2015-01-05 12:09] karlitschek commented on #13080
agreed

[2015-01-05 12:23] #10563 closed

[2015-01-05 12:25] MorrisJobke commented on #10563
Will be fixed in 7.0.5 and 8.0.0

[2015-01-05 12:42] MorrisJobke commented on #13102
cc @owncloud/designers @butonic

[2015-01-05 13:18] karlitschek commented on #11707
Hmm. I see pros and cons for both options. I would leave it as it is for now because we are in feature freeze and no one complained about the current behavior -> 8.1

[2015-01-05 13:31] cdamken opened #13110 "Lazy loading of users in share dialog"
### Expected behavior
Find a user to share in a big  LDAP user list (when users have the same name).

### Actual behavior
Only 15 users are displayed and no way to find the expected user.

### Steps to reproduce it
I did some tests with my account and I found out that only searching by first name and surname gives me the opportunity to find the right person.

Here are my test results:

· First nam

[2015-01-05 13:39] MorrisJobke commented on #776
I will create a PR for those changes.

[2015-01-05 14:06] MorrisJobke commented on #13110
@blizzz Is it possible to tweak the search that you can also search in reverse order (Surname & firstname)?

@cdamken I guess the inclomplete list for search for surname and search for  first name is not related to LDAP, but also a restriction of the other user backends (as the share drop down has a limit of 15)

@jancborchardt @schiesbn @PVince81 Are there ideas how we could handle cases where mo

[2015-01-05 14:10] MorrisJobke commented on #776
@stefan-muc Can you explain what the following does?
[code]

It should simply put in the content of `HTTP:Authorization` into the env variable `REMOTE_USER`

This is already done in `.htaccess` via

[code]

The only difference I see is the name of the env variable. Is that the crucial part or why is this needed?

[2015-01-05 14:17] MorrisJobke commented on #776
The name change seems to be related to how mod_php and cgi named them.

As the second change is in the Sabre/DAV 3rdparty library, I would like to not patch it, but to provide a patch upstream.

@evert Should I provide a PR for this, or is there another way to handle the auth headers in CGI mode?

[2015-01-05 14:21] evert commented on #776
`REMOTE_USER` doesn't make all that much sense here. Using `HTTP_AUTHORIZATION` makes more sense, because from PHP's perspective the header will just come in as usual.

So it doesn't make sense for me to integrate a patch _specifically_ for the people that manually chose to use `REMOTE_USER` for this instead of `HTTP_AUTHORIZATION`, which is what's recommended.

[2015-01-05 14:35] viorel-anghel commented on #12725
I have the same problem on Ubuntu and I was wondering maybe it's a client-only problem. BEsides the trick with rename, i have discovered this behaviour: if I copy the files one by one, it is working ok. If I try to copy more than 3 files at once, it start to give the error "server did not acknowledge the last chunk. (No e-tag were present)" and it is never recovering from this error unless you ren

[2015-01-05 14:37] enoch85 commented on #13097
@MorrisJobke I don´t have any access log for that specific time. I only have the error log:

[code]

I use both the client and also [Foldersync](https://play.google.com/store/apps/details?id=dk.tacit.android.foldersync.full&hl=sv)

[2015-01-05 14:39] jnfrmarks opened #13112 "Collapse app descriptions to be able to more easily browse apps"
### Steps to reproduce

1. Install both master and enterprise tar balls
2. Navigate to the apps page to see the new app layout

### Expected behaviour

Ease of use to find all apps enabled, disabled, and recommended

### Actual behaviour

I have to do a lot of scrolling to see what's enabled, disabled, and recommended.  Perhaps having a list of apps that are links to the descriptions would be bett

[2015-01-05 14:42] jnfrmarks opened #13113 "Suggestion to add "Version" to the hot links on the admin page"
### Steps to reproduce

1. Install both master and enterprise tar balls
2. Navigate to the admin page

### Expected behaviour

There should be a link to click on to get to the version information

### Actual behaviour

There is no link to click on to get to the version information.

### Server configuration

Ubuntu 14.04
PHP 5.5.9

[2015-01-05 14:48] RichardNeill opened #13114 ".htaccess and directory structure security"
Looking at the structure of owncloud, it worries me slightly that the private data is in a *subdirectory* of the public data. Although it's protected by .htaccess, it seems that it would be very easy to lose this protection (various potential for human error), and that there are better alternatives.

Currently, the (simplified) structure is:

/var/www/owncloud/ *                        Application

[2015-01-05 14:49] MorrisJobke commented on #776
@evert Makes sense.

@stefan-muc Why isn't the env variable working for cgi, do you have any idea or log message?

[2015-01-05 14:49] karlitschek commented on #13112
@jancborchardt

[2015-01-05 14:52] karlitschek commented on #13114
the location of the data directory can be changed in the setupnwizard and in the config file.

[2015-01-05 14:52] #13114 closed

[2015-01-05 14:56] jnfrmarks commented on #12340
This is working now.

[2015-01-05 14:56] #12340 closed

[2015-01-05 14:59] MorrisJobke commented on #13052
@karlitschek @DeepDiver1975 @AdamWill As we are in feature freeze what if the upstream project can't provide the update fast enough? Is there an alternative plan?

[2015-01-05 15:09] karlitschek commented on #13052
@DeepDiver1975 What is your opinion?

[2015-01-05 15:11] zengjice opened #13115 "how to configure preview for Microsoft office file"
#### Here is my config.php
![2015-01-05 22 56 06](https://cloud.githubusercontent.com/assets/5196427/5614797/aa60fa18-952f-11e4-9d79-32d9686a8f9f.png)

#### and then i try to upload *.doc, browser show me this and upload fail:
![2015-01-05 23 00 15](https://cloud.githubusercontent.com/assets/5196427/5614829/e400d996-952f-11e4-882d-ca6b60ac4f10.png)

#### Please help me,thanks.

[2015-01-05 15:18] Do-D commented on #12802
I have to bring this up again.
I noticed that when I reshare a file and look at "Shared by Link" I see the shared file but the link is wrong.
For a normal "Shared by link" file the link looks like:
[code]
for a reshared file it looks like this
[code]
after ?dir= there is added the string "files" if I copy the link and delete this string I get the correct download prompt.
Otherwise I only get to se

[2015-01-05 15:19] karlitschek commented on #13113
@DeepDiver1975 FYI

[2015-01-05 15:20] RichardNeill commented on #13114
Thanks for your comments. Yes, I know you can change these things. However:

1. The defaults should be better - that's what I'm suggesting
2. data is actually in the right place. It is /var/www/owncloud/index.php  which is not.
3. Diverging from upstream by moving all the files around is a bad idea... it defeats the entire purpose of using a repository for security patches.

[2015-01-05 15:21] erwdavid commented on #9840
Another problem is that debian packages are limited ones with some features of owncloud removed (eg. apps installation), which can lead to problems.

[2015-01-05 15:22] a-schild commented on #12475
We see the same problem here in 7.0.4 (Worked some versions past (6.x?))

[2015-01-05 15:23] viasys commented on #12475
For me it was working in 7.0.2.

[2015-01-05 15:25] Do-D commented on #12475
Just saw that thread, I think the same Issue as this: https://github.com/owncloud/core/issues/12802
As mentioned I noticed that the link I see under the section "Shared by Link" when I reshare a file is not working either.

[2015-01-05 15:27] a-schild commented on #12475
Not sure it's the same as #12802, since here we share via token (t=xxxxxxxxx) and in the other issue it is shared in another way.
But perhaps related somewhere deeper in the code base.

[2015-01-05 15:30] karlitschek commented on #13115
I suggest that you ask a question like that on the mailing-list or in the forum.
This issue tracker is for actual bugs only.
Thanks a lot.

[2015-01-05 15:30] #13115 closed

[2015-01-05 15:57] milgner commented on #12857
After further investigation I can confirm that this is specific to re-sharing. Sharing the folder from the original user does work as expected.

[2015-01-05 16:16] AdamWill commented on #13052
@MorrisJobke I can see three options:

1. carry a downstream tweak of some kind to allow use of JSqueeze (backport the filter file patch to Assetic, or just dump an extra filter file in there, or patch the bug fix into JSqueeze 1.x, or something)

2. Use JShrink - current OC master works with current upstream JShrink fine, for me. This requires changing a couple of lines in `lib/private/templatela

[2015-01-05 16:25] blizzz commented on #13110
LDAP should find all users no matter in which order the search names are provided, as long as seperate fields for first name and last name are provided in the search attributes in the LDAP settings. This is since 7.0.4.

The 15 results restriction is known by the share dialog and at least is in discussion.

[2015-01-05 17:29] enoch85 commented on #10275
Related #13098

[2015-01-05 18:04] GreenArchon commented on #12475
Pretty sure it isn't 988c85d since it isn't in owncloud 7.0.3/7.0.4 ;)

Wherever the bug is, it was introduced between 7.0.2 and 7.0.3

[2015-01-05 18:38] derkostka commented on #12681
@MorrisJobke The issue is fixed with #13095 , you can close this Issue. Thank you !

[2015-01-05 18:38] #12681 closed

[2015-01-05 18:40] chemnic opened #13117 "Files in files_versions not being deleted when they should"
## Steps to reproduce

1. Existing user with unlimited quota and ~50GB of images
2. Reduce all images file size. i. e. Modify all images in some way.
3. data/user/files_verions are filled with 50GB
4. Change user quota to 18GB
5. User now has ~5GB of free space
6. Wait 3 weeks

## Expected behaviour

Owncloud should remove most of those 50GB on user's files_versions directory, as described in http

[2015-01-05 19:30] ubuntuaddicted commented on #9937
What exactly does this mean if anyone can explain please. In using Owncloud
for my small business, I added it via some PPA if I recall and I can't even
bring up my owncloud home page but my issue may be related to a host name
change on the server which screws up the database. I'm in testing now, so
it's no big deal to start a fresh SQLite database.
On Fri, Jan 2, 2015 at 5:47 AM Lukas Reschke <not

[2015-01-05 19:32] DeepDiver1975 commented on #13110
That PR was closed as is was a stupid workaround (as quick solution) - we need to properly support this feature as is to be discussed for one of the upcoming releases. @MTRichards @LukasReschke

[2015-01-05 19:38] DeepDiver1975 commented on #13112
Recommended apps are take from the app store - because of there are apps available yet for OC8 this list will be empty. But in this case you should see other apps categories as well.

[2015-01-05 19:38] DeepDiver1975 commented on #13112
@jnfrmarks can you please post the config files? THX

[2015-01-05 19:39] DeepDiver1975 commented on #13112
From my pov we should add a type ahead search/filtering - topic for OC8.1 from my pov.

[2015-01-05 19:42] DeepDiver1975 commented on #13112
@jnfrmarks can I ask you for another favor as you are testing the release packages? From my pov we should have an app icon in the apps page for every app we ship - can I ask you to double check if this is the case? If not - please open issues in the relevant apps repos on github and ask @jancborchardt to add an icon. Many thanks!

[2015-01-05 19:50] MorrisJobke commented on #9937
@ubuntuaddicted please don't use PPAs as they aren't the official packages we support. We have our build infrastructure on OBS which also contains repos for all current ubuntu versions:

http://software.opensuse.org/download/package?project=isv:ownCloud:community&package=owncloud simply click on the ubuntu icon there and the instructions will appear.

Is your issue then gone? This issue shouldn't

[2015-01-05 19:51] DeepDiver1975 opened #13118 "Deprication warning in DIContainer is to restrictive for the time being."
https://github.com/owncloud/core/blob/master/lib/private/appframework/dependencyinjection/dicontainer.php#L204

@Raydiation as long as DIContainer itself uses this service the current logging policy is to restrictive from my pov. Let's either remove it for now or downgrade it to debug.

Objections? THX

[2015-01-05 19:57] DeepDiver1975 opened #13119 "files_sharing used deprecated code"
Should be cleaned up for OC8

[code]

[2015-01-05 21:13] jnfrmarks opened #13120 "App license information is missing"
### Steps to reproduce

1. Install both master and enterprise tar balls
2. Navigate to the apps page

### Expected behaviour

The license information should be available for each app

### Actual behaviour

The license information is missing for each app

![p234](https://cloud.githubusercontent.com/assets/8480343/5620033/c899f6e0-94f5-11e4-8846-3755ae47ea44.PNG)

### Server configuration

Ubuntu 14

[2015-01-05 21:16] karlitschek commented on #13120
@DeepDiver1975 @jancborchardt Can you have a look? It seems that the license is missing

[2015-01-05 21:32] derkostka commented on #13096
Sorry, i forgot that i already reported this one in the music repository:
https://github.com/owncloud/music/issues/331

Which is the right place ?

[2015-01-05 21:46] DeepDiver1975 commented on #13096
This seems to be an issue in core - this is the right place - THX

[2015-01-06 00:20] stefan-muc commented on #776
@MorrisJobke If I install OC on a PHP cgi server and want to access WebDAV with a browser (for testing) the HTTP login window appears over and over - no matter if I provide wrong or right credentials. So I searched the net for a solution, and http://klein-gedruckt.de/2013/01/owncloud-bei-all-inkl/ told me that I have to change those two lines - and then it worked. Didn't have time to track it down

[2015-01-06 00:50] enoch85 commented on #13098
@MorrisJobke E-mailed you the access.log

[2015-01-06 01:05] evert commented on #776
If `REMOTE_USER` worked for you, then `DEBUG_HTTP_AUTHORIZATION` should as well...

I can't really see the result of the 4 pages you posted though, as they require a username and password.

[2015-01-06 01:12] stefan-muc commented on #776
Just carefully read the message box asking you for username and password. Both is written there :)

[2015-01-06 01:27] #10275 closed

[2015-01-06 01:29] evert commented on #776
Missed that!

Pretty crazy that you're running 4 distinct PHP version, but not a single one that's not end of life :P

I just checked 5.3. It's odd that the `DEBUG_HTTP_AUTHORIZATION` header does not show up. There's two possibly explanations:

1. Because you let apache do the authentication, apache refuses to expose the information in the `Authorization` header.
2. You have some kind of custom se

[2015-01-06 02:22] tmciver commented on #776
I spoke with @stefan-muc in #owncloud-dev (IRC) about a similar problem I had run into and he asked me to post my informatino here as well.  I use Webfaction for hosting and had an authorization problem involving environment variables that was ultimately solved by following the instructions found here: http://www.blaicher.com/2012/07/fixing-authentication-of-owncloud-for-webfaction.

My server lis

[2015-01-06 03:01] enoch85 commented on #8501
Related? #11797

[2015-01-06 03:01] enoch85 commented on #8501
And also #13097

[2015-01-06 05:51] Bugsbane commented on #10314
I'm getting this too, if any data on this issue is needed.

[2015-01-06 06:19] Bugsbane commented on #3812
The value we can provide is simply to **make resources easily accessible based on the concepts and people that are relevant to the user**.

Currently, having to use folder structures makes finding things difficult, as files can only be assigned to one folder / concept (eg. photos/personal/family or photos/location/barcelona but not both) rather than multiple concepts (eg my kids + travel + Barcelo

[2015-01-06 08:15] LukasReschke commented on #10314
Smells for me like an FF bug - not a that big problem at the moment since only an error is thrown but nothing happens.

I will dig into this once I have some more time - filing bugs upstream to Mozilla is not my favourite activity ;-)

[2015-01-06 08:27] LukasReschke commented on #12475
Yup. That refactoring is only in master (aka up-coming 8.0)

If some of you feel advantageous and want to have it sooner resolved I can highly recommend doing a small `git bisect` crash-course.
With `git bisect` you can find out which commit introduced the broken behaviour, for that you just need to know a commit where it last worked and step by step you will rush through the commits and try to fi

[2015-01-06 08:36] LukasReschke commented on #13110
Yes - let's please do this properly this time then and use the opportunity to refactor that whole bloody totally untested and probably somewhat buggy [`ajax/share.php`](https://github.com/owncloud/core/blob/6a3f69c2d043203a7650d16200accd0303430e09/core/ajax/share.php)

Needs some more thoughts such as what we actually want to protect against, if that feature should be configurable etc. (for exampl

[2015-01-06 08:40] stefan-muc commented on #776
@evert Here you go:
http://w012c2d0.dd26228.kasserver.com/evert/infophp.php
http://w012c2d0.dd26228.kasserver.com/evert/infophp.php4
http://w012c2d0.dd26228.kasserver.com/evert/infophp.php52
http://w012c2d0.dd26228.kasserver.com/evert/infophp.php53

For 2: nothing custom that I did - that's the webspace as I get it from all-inkl.com
Really, all php versions are end of line? That's not what I'm pay

[2015-01-06 08:42] LukasReschke commented on #776
http://php.net/eol.php
http://blog.ircmaxell.com/2014/12/php-install-statistics.html

Gets even more funnier with distributions that decide to support 5.3 or so on their own and backport security patches. Hell, they miss A LOT of security patches… - Our installer had even some vulnerability check for a vulnerability to force RHEL to finally fix it ;-)
(took them only 4 years after initial bug fix

[2015-01-06 09:54] MorrisJobke commented on #1212
@LukasReschke I think this won't make it into 8.0 - postpone it to 8.1 - cc @DeepDiver1975

[2015-01-06 09:55] MorrisJobke commented on #9098
@PVince81 @DeepDiver1975 @schiesbn I guess this won't make it into 8.0? Postpone to 8.1?

[2015-01-06 09:57] MorrisJobke commented on #10583
@karlitschek @MTRichards @blizzz postpone to 8.1?

[2015-01-06 10:01] MorrisJobke commented on #10010
@karlitschek @schiesbn I guess this is out of scope for 8.0 - postpone to 8.1?

[2015-01-06 10:16] LukasReschke opened #13121 "Discrepancy when re-sharing files in folder name"
### Steps to reproduce
1. Login as user "test"
2. Create a folder called "SharedFolder (original)"
3. Share this folder with the user "admin"
4. As user "admin" rename the folder "SharedFolder (original)" to "Shared from test with admin"
5. Reshare the folder publicly
6. Access `/index.php/apps/files_sharing/shareinfo` with the responding token
### Expected behaviour

JSON blob displaying the fold

[2015-01-06 11:36] jancborchardt commented on #776
(Off-topic: @stefan-muc since you live in Munich you should come to our [Munich ownCloud meetups](http://www.meetup.com/owncloud-munich) :)

[2015-01-06 11:39] jancborchardt commented on #13120
@DeepDiver1975 we should place it below the description like this:

That way it will also be hidden away as an advanced information as soon as we implement the »show more« to show the full description as I wrote in https://github.com/owncloud/core/issues/13112#issuecomment-68771549

[2015-01-06 12:16] Raydiation opened #13123 "Public API for creating a new database connection"
In order to scale up the News app (and probably other apps too) I need to be able to create a new database connection to a different database host where all News app data is stored to take load off the main server. ATM there is only one database connection instance which is hardcoded in core and I'd have to use private classes.

It would be nice if we could have something like:

[code]

so I could

[2015-01-06 12:35] DeepDiver1975 commented on #13123
Well - creating the database connection is only one piece of the story:

- what about database migrations on this database(s)?
- support for NoSQL (which is something we want to target in core as well some point in time)
- use special setups like mysql read/write hosts?

(Last two topics are high level brainstorming - but shows that a fixed parameter set will not help)

[2015-01-06 12:38] Raydiation commented on #13123
The general idea that went through my mind when talking to @fossxplorer was to create 2 owncloud instances where one is the main instance hosting the normal owncloud installation and the other is the one which is only used to trigger schema migrations. IIRC there is already a separate ownCloud installation for the News app which connects to the same db and is purely used to run the feed updates

[2015-01-06 12:44] MorrisJobke commented on #13118
Fix is in #13125

[2015-01-06 13:36] #10327 closed

[2015-01-06 13:38] #13118 closed

[2015-01-06 13:40] DeepDiver1975 commented on #13123
hmm - this seriously sounds like bad kung-fu to me - nothing we should support from an public api pov.

The is still the possibility to run the feed updates on a different server connecting to the same db - wouldn't that make more sense then having two dbs?

[2015-01-06 13:40] #13120 closed

[2015-01-06 13:46] Raydiation commented on #13123
@DeepDiver1975 that's how it is right now. The problem is that the News database gets to big (50gb+) and the update process puts too much load on the database server slowing down file sync etc. So the idea is to create a separate database just for the News app tables to be able to scale it up in an easier fashion.

[2015-01-06 13:49] DeepDiver1975 commented on #13123
hmmm - 50GB of data should not really be on an issue from my pov - with exception to the schema upgrade process which generates duplicate tables.

@icewind1991 is there a switch/config to disable the table copy mechanism - we know that this is a bad mechanism in case of big data.

[2015-01-06 13:50] Raydiation commented on #13123
@DeepDiver1975 table migration is not an issue. If you've got a better idea how to scale it up let me know.

[2015-01-06 13:52] MorrisJobke commented on #12606
Further effort in this area should be done for 8.1 -> moving this ticket there

[2015-01-06 13:57] DeepDiver1975 commented on #13123
Ah the bottleneck is the update process of the new feeds - hmmm - why is it producing that much load?

[2015-01-06 14:00] Raydiation commented on #13123
You can speed it up by running parallel requests but the biggest issue is the cleanup where old entries are deleted. It's quite an expensive sql query that I wasnt able to reduce further without adding database specific code like procedures.

[2015-01-06 14:00] Raydiation commented on #13123
Anyways we need to scale out.

[2015-01-06 14:10] sknohsalla commented on #9009
@karlitschek, did try with :
- Debian 7.7 latest 64bit
- OwnCloud 7.04 & linux client 1.70

still same issue even UTF-8 is set explicitly:

LANG=en_US.UTF-8
LANGUAGE=
LC_CTYPE="en_US.UTF-8"
LC_NUMERIC="en_US.UTF-8"
LC_TIME="en_US.UTF-8"
LC_COLLATE=C
LC_MONETARY="en_US.UTF-8"
LC_MESSAGES="en_US.UTF-8"
LC_PAPER="en_US.UTF-8"
LC_NAME="en_US.UTF-8"
LC_ADDRESS="en_US.UTF-8"
LC_TELEPHONE="en_US.UTF-8"
L

[2015-01-06 14:14] LukasReschke opened #13127 "( ! ) Fatal error: Call to a member function getSize() on array in /Users/lreschke/Programming/core/lib/private/helper.php on line 908"
The following error happens when opening `/index.php/apps/files/ajax/getstoragestats.php?dir=/../`. Please notice that the directory `/../` does obviously not exists.

Better practise would be to check whether the directory actually exists or not.

[2015-01-06 14:29] karlitschek commented on #13127
@icewind1991

[2015-01-06 14:31] DeepDiver1975 commented on #13123
Generally speaking scaling is a matter of moving to a cluster or  read/write host setup?

[2015-01-06 14:35] LukasReschke commented on #13081
Fixed according to ML. User error.

[2015-01-06 14:35] #13081 closed

[2015-01-06 14:49] karlitschek commented on #13121
@schiesbn What do you think?

[2015-01-06 14:58] karlitschek commented on #13123
I agree with Thomas. It is highly unusual to handle different db connection on an application layer. Scaling is done on a lower level like in a DB cluster, with a DB load balancer or SQL proxy

[2015-01-06 14:59] MorrisJobke commented on #119
As this is just a UX enhancement (shortcut for going to trashbin, search the file just deleted and restore it) I will move this to 8.1

[2015-01-06 14:59] Raydiation commented on #13123
@karlitschek i see, @fossxplorer can you check if this works for you?

[2015-01-06 15:02] MorrisJobke commented on #821
@jancborchardt This is fixed once #12653 is merged, or am I wrong?

[2015-01-06 15:11] MorrisJobke commented on #11912
Not started yet -> move to 8.1

[2015-01-06 15:11] MorrisJobke commented on #11717
I will add additional stuff step by step -> not part of our 8.0 bug fixing season -> move to 8.1

[2015-01-06 15:18] DeepDiver1975 commented on #12219
Can doctrine's query builder help us with this? Any way -> OC8.1

[2015-01-06 15:18] butonic commented on #821
Partly. We should still introduce a query parser. But that can be tracked in a new issue.

[2015-01-06 15:19] DeepDiver1975 commented on #12284
Does not contain much :speak_no_evil: - let's close this for oc8

[2015-01-06 15:19] #12284 closed

[2015-01-06 15:23] DeepDiver1975 commented on #12052
@karlitschek if this feature is still on our roadmap - I'd like to push this to OC8.1

[2015-01-06 15:23] DeepDiver1975 commented on #11788
reschedule for OC8.1

[2015-01-06 15:24] DeepDiver1975 commented on #11718
moving to oc8.1 for the remaining pieces

[2015-01-06 15:25] DeepDiver1975 commented on #11106
oc8.1

[2015-01-06 15:53] MorrisJobke commented on #821
@butonic Can you take care of this? Thanks

[2015-01-06 15:55] MorrisJobke commented on #12620
@DeepDiver1975 #12799 is postponed to 8.1 -> close this ticket as the remaining steps are already in #12998 (user management ticket for 8.1)

[2015-01-06 15:55] #12620 closed

[2015-01-06 15:56] MorrisJobke commented on #12602
Postponed to 8.1

[2015-01-06 15:57] MorrisJobke commented on #12593
@LukasReschke @karlitschek @DeepDiver1975 What to do with this? 8.1?

[2015-01-06 15:57] MorrisJobke commented on #12490
@karlitschek @PVince81 @DeepDiver1975 So this will cause breakage of not updated apps?!? What to do here?

[2015-01-06 16:01] evert commented on #776
@stefan-muc if you're saying that that the mod_rewrite regular expression rule is in place, there's no reason why the Authorization string should not end up in the environment.

This is normally always the solution for cgi/fastcgi-based PHP on apache, so I'm going to guess it's your host doing something unusual here. Definitely contact them and see what they say.

Piggybacking on REMOTE_USER just

[2015-01-06 16:08] LukasReschke commented on #12593
Yes. - Actually the REST backend is supporting filtering for a backend type and shows the type. What is missing are the changes for the GUI.

Regarding that "user in no group" feature - honestly no idea how we can best gather that information without performance loss. - No DB guru here.

[2015-01-06 16:08] MorrisJobke commented on #13098
@enoch85 It would be nice to have both logs of the same time owncloud.log and the access log for the same time span (or an overlapping time span ;)) Can I ask you to mail me this? Would hopefully help more. Sorry for the inconvenience

[2015-01-06 16:11] MorrisJobke commented on #9409
@baem2 Please report back if you still have these problems with ownCloud 8

[2015-01-06 16:11] #9409 closed

[2015-01-06 16:18] MorrisJobke commented on #12593
GUI changes are a feature -> so we move this to 8.1

[2015-01-06 16:25] DeepDiver1975 commented on #12606
do we still miss anything? - We better close this one or have an explicit list of things to do

[2015-01-06 16:31] jnfrmarks opened #13133 "Difficult to read sync error message written to server log file"
I'm running owncloudcmd to sync a file.  There's an error in the sync resulting in this very difficult to read message being written to the server log. There are way too many "\" to understand what the message is.

[code]
### Server configuration

Ubuntu 14.04
PHP 5.5.9
ownCloud Enterprise Edition 8.0 alpha 1 (daily) Build:2015-01-05T04:12:18+00:00

[2015-01-06 16:33] tessus commented on #5744
@DeepDiver1975 Did you see my last comment? What do you think? Is this issue just for the removal of `index.php`, or `.php` altogether?
Is there anything I can help with?

[2015-01-06 16:34] DeepDiver1975 opened #13134 "Missleading warning on admin screen"
@nickvergessen overwitehost is the wrong config key from my understanding - we introduced it's own config key - right?

Please double check - THX

![bildschirmfoto von 2015-01-06 17 33 21](https://cloud.githubusercontent.com/assets/1005065/5631855/2fdc693a-95ca-11e4-87e9-a38d8d37f20c.png)

[2015-01-06 16:37] DeepDiver1975 commented on #5744
from my understanding neither index.php, public.php nor remote.php shall be visible in the url.

but this is a long way - I need to rethink on how to make this happen ....

[2015-01-06 16:39] tessus commented on #5744
well, you can drop me an email. maybe I can help.

[2015-01-06 16:40] johan27hack commented on #13044
Hello !!!
No one can help ?
It's weird ... a bug like this and no one can help ?? :(

[2015-01-06 16:43] johan27hack opened #13135 "A bug but no solution ? :("
Good morning,

I'm sorry to post here, but since I found the following issue; a few weeks ago, I don't have any answer neither some little explanation :(
https://github.com/owncloud/core/issues/13044

It's really weird, since if I have this bug, that mean some others people can have it, and, potentially, can leave this project if they feel nobody can help ..

Either, my best wishes for OC 8 and lo

[2015-01-06 16:48] karlitschek commented on #13135
This should be discussed in the original issue. No need to open up a new one. Thanks

[2015-01-06 16:48] #13135 closed

[2015-01-06 16:50] enoch85 commented on #13098
@MorrisJobke Password: helloworld

[2015-01-06 17:00] karlitschek commented on #13133
@icewind1991

[2015-01-06 17:03] karlitschek commented on #12052
definitely 8.1

[2015-01-06 17:04] karlitschek commented on #12593
agreed

[2015-01-06 17:06] DeepDiver1975 commented on #13133
@jnfrmarks are there any further error messages available? THX

[2015-01-06 17:11] derkostka commented on #13088
Issue is fixed by #13128 :+1:

[2015-01-06 17:11] #13088 closed

[2015-01-06 17:34] MorrisJobke commented on #12606
Then I vote for the close. I have nothing special in mind. Maybe we find something while working on a feature/bug fix and then we can simply include it there (in the same way as how we proceed with code style stuff)

[2015-01-06 17:34] #12606 closed

[2015-01-06 17:34] MorrisJobke commented on #13098
@enoch85 Thanks. WIll look at this tomorrow :)

[2015-01-06 17:35] #13127 closed

[2015-01-06 17:35] jnfrmarks commented on #13133
@DeepDiver1975

I have the server log file if you want me to send it to you.

This was caused from setting a file share to read only, having the user modify the file locally, and then try to sync via owncloudcmd.

I'm assuming that the error is itself is valid and that the format of the error stinks.

[2015-01-06 17:37] #13105 closed

[2015-01-06 17:39] enoch85 commented on #13098
@MorrisJobke Thank *you*, I´ve been struggling with this for a month now. It spams my log so much that other errors are hard to find.

[2015-01-06 17:42] carlaschroder opened #13136 "User menu often not available on Android"
Hello good owncloud peoples! I fear I have discovered an issue in the ownCloud Web interface on Android: the user menu (top right) does not reliably appear. I tested this on an ASUS Memopad 8 and a Samsung Galaxy smartphone. In contrast, the ownCloud dropdown menu (top left) works as it is supposed to.

**Steps to Reproduce**

On my ASUS tablet the user menu (Web GUI) only appears in landscape mod

[2015-01-06 17:56] RealRancor commented on #13136
Hi,

i think this should be fixed with: https://github.com/owncloud/core/pull/12798

[2015-01-06 18:46] DeepDiver1975 commented on #13133
So TEST_FILE_MODIFIED_USER_SHARE.txt is a file shared by another user read only?

Hmm - the error message should really be different.

Do you have reproduction steps for me? THX

[2015-01-06 20:03] karlitschek commented on #12357
ok. I agree that this should work automatically.
Closing for now because the issue is resolved for now

[2015-01-06 20:03] #12357 closed

[2015-01-06 20:12] carlaschroder commented on #13136
ok thanks @RealRancor

[2015-01-06 20:12] #13136 closed

[2015-01-06 21:16] tabatabaei opened #13137 "owncloud 7 on ubuntu 14.04 server with nginx 1.6.2 webserver loading aap page problem"
i install owncloud 7.0.4 in ubuntu server 14.04 with nginx this config
http://doc.owncloud.org/server/7.0/admin_manual/installation/configuration_nginx.html
but i can't see page
https://mydomain/index.php/settings/apps?installed
and show this page
504 Gateway Time-out
nginx/1.6.2

i refresh 3 or more this url  maybe show  page

i install owncloud to another server with this config only work in cho

[2015-01-06 21:22] simonspa commented on #12725
Same problem here, running ownCloud 7.0.4 on Debian stable, Server nginx with encryption enabled. The missing e-tag appears randomly, I managed to upload several thousand files (8 GB inn total) and it appeared only a couple of dozens of times. However, for those files it is persistent.

[2015-01-06 21:51] Xenopathic commented on #13137
nginx is timing out waiting for PHP-FPM to respond, because loading the list of apps is a very resource heavy process and takes a long time, especially on less powerful hardware. You need to set `fastcgi_read_timeout` in `nginx.conf` (or associated files) to a higher value, perhaps 300? At the same time you should increase the maximum PHP execution time by setting `max_execution_time` in `php.ini`

[2015-01-06 22:10] GreenArchon commented on #12475
Alright, it's a bit trickier than anticipated. ;)

Basically, if you group share a folder in version >= 7.0.3 and someone makes a link in a sub-folder, it will work as expected (which might explain how this passed testing).

However, if you group share a folder in version <= 7.0.2 and then upgrade to version >= 7.0.3, the share links of subfolders won't work.

Looking at oc_share in the database,

[2015-01-07 00:17] #13100 closed

[2015-01-07 04:42] RealRancor commented on #13136
Hi,

@carlaschroder

but this should only fix:

Don't know about this:

[2015-01-07 08:37] #13053 closed

[2015-01-07 08:37] DeepDiver1975 commented on #13053
has been fixed - THX

[2015-01-07 08:47] DeepDiver1975 commented on #13052
Okay - let's go for JSMinPlus for OC8 because it requires NO updates of 3rdparty libs - which reduces risk and test effort. For OC8.1 we can reevaluate (and maybe even allow some config option for installations who want to run e.g. YUI tools ???)

@AdamWill delivery of non-free code is not that of an issue of owncloud itself - but we want to collaborate with linux distributions as good as possible

[2015-01-07 08:49] AdamWill commented on #13052
shouldn't be a huge deal for downstreams - my approach will probably be simply to package jsminplus on its own (or bundle it with OC since it'll only be used temporarily). less hassle than packaging minify with all the non-free bits stripped out.

[2015-01-07 09:02] LukasReschke commented on #11325
Will be fixed with the next oC 7 and oC 8 release.

[2015-01-07 09:02] #11325 closed

[2015-01-07 09:12] nickvergessen opened #13139 "Provisioning api uses uniqid()"
@tomneedham

The tests should extend the `\Test\TestCase` class and then use `$this->getUniqueID()`, because uniqid() is not unique on windows

[2015-01-07 09:39] MorrisJobke commented on #13139
@DeepDiver1975 @nickvergessen Can't we have some linter checks for this to avoid something similiar to slip in?

[2015-01-07 09:39] #13134 closed

[2015-01-07 09:39] jancborchardt commented on #119
Ok – I hope this makes it into 8.1 then finally. Undo is not »just a UX enhancement« but a very basic form of error prevention and a forgiving system.

[2015-01-07 09:39] tomneedham commented on #13139
Thanks @nickvergessen. Will get on this.

[2015-01-07 09:41] PVince81 commented on #12725
CC @schiesbn

Do you guys all see messages like "share key is missing" or "something.key" is missing related to the broken files ?

[2015-01-07 09:42] MorrisJobke commented on #11412
More general fix is in here: #9787 and should be the way to go. @DeepDiver1975 Should I use the branch of brantje to fix this issue here or is this out of scope yet?

[2015-01-07 09:42] DeepDiver1975 commented on #13139
Stuff like this will heal over time :speak_no_evil:

[2015-01-07 09:44] nickvergessen commented on #13139
@tomneedham fixed it in #13140

[2015-01-07 09:48] MorrisJobke commented on #119
@jancborchardt Yes, but fully out of scope of a feature freeze period ;)

[2015-01-07 09:50] PVince81 commented on #3408
I remember that you were using a custom-built Linux distro. Did you check whether PHP was setup/installed properly there (maybe compare the config/libs with other distros) ?

[2015-01-07 09:59] DeepDiver1975 commented on #13052
grrr - JSMinPlus generates broken JS

[2015-01-07 10:02] jancborchardt commented on #11707
Yeah, good call for now.

@DeepDiver1975 we should sit together on the sharing dialog when coworking next.

[2015-01-07 10:05] #821 closed

[2015-01-07 10:06] jancborchardt commented on #3812
That’s what I wanted to hear. :) Just making sure we don’t start a feature by talking about how cool it would be and how to implement it, but how it will be valuable to actual people.

[2015-01-07 10:10] DeepDiver1975 commented on #2368
@PVince81 missing todos are topic for OC8.1 from my understanding - right?

[2015-01-07 10:21] jancborchardt opened #13141 "Initial load shows »No files yet« in the background for a short time"
When you open ownCloud Files (or you refresh), behind the spinner the message »No files yet« is shown for a split-second.

This is very disconcerting and wrong information, as the files show up shortly afterwards. It wasn’t the case before as only the spinner showed.

The issue shows since commit 7a812801db6cc2cddf4e176dc893b07c7c486d76 – can you look into it @butonic? :)

[2015-01-07 10:26] DeepDiver1975 commented on #5952
I'm moving this to OC8.1 where we want to work on encryption anyhow (keywords: storage wrapper and mount config option) @schiesbn

[2015-01-07 10:27] jancborchardt opened #13142 "What to display when no search results are present"
Currently when there are no search results, I only get the line on the top left:

But the nice looking [search icon and the notice](https://github.com/owncloud/core/pull/12653#issuecomment-68863553) does not appear. It should appear though if there are
* no results in this folder
* no results in other places

Additionally, the line below the icon should say:

(A second line is not necessary)

cc @

[2015-01-07 10:28] nickvergessen commented on #13133
Cleaned error:
[code]

[2015-01-07 10:33] schiesbn commented on #5952
We already disable encryption for server2server sharing based on the storage. We can extend the check to also disable it for ownCloud mounts (see: https://github.com/owncloud/core/blob/master/apps/files_encryption/lib/proxy.php#L76)

Maybe it make even more sense to base the storage for server2server sharing on the "ownCloud-mount-storage" so that we only have to check for this one.

[2015-01-07 10:38] PVince81 commented on #2368
When I asked @karlitschek he said it's ok to implement the "tags cleanup" part as part of 8.0, as far as I understood.
However I think the changes might be bigger, but I'll give it a shot within the next weeks and we'll see from the PRs.

[2015-01-07 10:43] PVince81 opened #13143 "Introduce foreign keys / cascading delete"
Currently it is quite difficult to keep the database clean on deletion.
If we had foreign keys we could use the cascading delete feature of database to automatically remove orphaned entries.

Some examples:
- remove shares when file cache entry is gone: https://github.com/owncloud/core/issues/12323
- cleaning up tags for deleted files need a lot of different hooks (when unshared, when deleted, whe

[2015-01-07 10:45] PVince81 commented on #13143
also @icewind1991 @bantu @th3fallen

[2015-01-07 10:52] DeepDiver1975 commented on #13143
Data integrity is important and the job of the DBMS - not the application code.

We need to take a closer look on our supported databases with respect if they support FKs with cascade delete. MyISAM comes to my mind which does not support FKs - question is if we can work around this.

[2015-01-07 10:58] DeepDiver1975 commented on #13143
This is indeed an interesting question - generally speaking we should not allow apps to directly access tables out side the scope of their own app - which results in using FKs should not be allowed as well.

This would kind of declare this topic irrelevant  ....

Basically because some DBMS don't support FKs

[2015-01-07 11:00] PVince81 opened #13144 "Share key not always created if sharing while uploading to an encrypted folder"
### Steps to reproduce
1. Enable encryption
2. Setup two users "user1" and "user2"
3. Login as "user1"
4. Create a folder "pics"
5. Setup the sync client for "user1"
6. Copy a lot of pictures into the **local** folder "pics" for "user1"
7. While the sync client is uploading, share "pics" with "user2"
8. Try opening all pics with "user2"

### Expected result
"user2" can read all pics

### Actual re

[2015-01-07 11:02] simonspa commented on #12725
Yes, I see messages like this in my owncloud log, and the files are exactly the problematic ones:

[code]

[2015-01-07 11:09] DeepDiver1975 commented on #5952
Hmm - this could be the cheap-ass integration point to enable encryption on storage level .... anyway - topic for OC8.1

But in order to solve this issue for OC8 we could add a second condition?

[2015-01-07 11:09] #13139 closed

[2015-01-07 11:16] DeepDiver1975 commented on #5952
@schiesbn can you come up with a PR - THX

[2015-01-07 11:17] DeepDiver1975 commented on #6553
moving to OC8.1 - related to #11639

[2015-01-07 11:18] DeepDiver1975 commented on #8904
@enoch85 can I ask you to report this in the issue tracker of the client? https://github.com/owncloud/client - THX

[2015-01-07 11:19] schiesbn commented on #13144
The problem seems to be that we create the new share keys in a pre-hook when a file/folder was shared. On one hand this makes sense because we want to create first all encryption keys before the share gets visible to the users. But in this case it is a problem. All files which get written to the folder while the pre-hook still runs will not be encrypted for the new recipient because the new share

[2015-01-07 11:19] DeepDiver1975 commented on #8904
I'm closing this issue now - please open new issues as soon as translations errors occur again - many thanks to all for you for taking care of these issues!

[2015-01-07 11:19] #8904 closed

[2015-01-07 11:20] DeepDiver1975 commented on #8976
should be added to the documentation @carlaschroder

[2015-01-07 11:21] DeepDiver1975 commented on #8976
In case we can easily detect symlinks - this might work out - anyway moving this to OC8.1

[2015-01-07 11:28] schiesbn commented on #5952
yes, this would be the simple and quick solution. I will prepare a PR later today

[2015-01-07 11:28] DeepDiver1975 commented on #5952
great - thx

[2015-01-07 11:29] DeepDiver1975 commented on #8976
http://php.net/manual/en/function.is-link.php

[2015-01-07 11:31] DeepDiver1975 commented on #8993
@MorrisJobke @LukasReschke can you please reevaluate this issue with the recent changes applied to master/OC8. In case this is still an issue we move this to OC8.1 and implement this with the remaining changes. THX

[2015-01-07 11:42] DeepDiver1975 commented on #9632
@bantu is there anything more we can do about this issue? Did we already update phpseclib properly? THX

[2015-01-07 11:42] PVince81 commented on #12802
The link you posted is not a link share.
You should use the link that appears in the share dropdown under the "Share link" checkbox.
It contains "public.php" and a token argument.

Still, does it mean that regular file download doesn't work for you for reshared files ? (regardless of public link)

[2015-01-07 11:47] nickvergessen commented on #13087
@alex42ka if the linked FAQ page does not help you, feel free to open a new Issue, using the linked [Issue Template](https://raw.github.com/owncloud/core/master/issue_template.md), so we have all information we need.

[2015-01-07 11:47] #13087 closed

[2015-01-07 11:49] PVince81 commented on #2368
@Bugsbane interesting idea. Can you make a separate enhancement ticket for this ?

[2015-01-07 11:51] nickvergessen commented on #13077
I'm working a bit on the windows support end, but currently it is not possible and sad enough, there are other issues with windows that need to be adressed first, so as per @RealRancor there is currently no advice (aka support) for external storages with utf8 together with owncloud server running on windows.

[2015-01-07 11:55] deepakpatiyal opened #13146 "not able to upload from andriod app"
i am not able to upload using andriod app

[2015-01-07 11:56] schiesbn commented on #13121
Originally this ajax call was written by @icewind1991, probably for server-to-server sharing. At the moment I'm not sure how this is used and if it makes a difference?

@LukasReschke How did you discovered it? Is it associated with a bug? Just a guess, but is this name used to create the mount point for the recipient of a server to server share if the mount was created from a public link?

[2015-01-07 11:57] #9046 closed

[2015-01-07 11:58] schiesbn commented on #10010
@MorrisJobke From my point of view: yes.
Up to now we don't have a MQ system in ownCloud so it is more a theoretical solution at this point in time.

[2015-01-07 12:00] MorrisJobke commented on #10010
@craigpg FYI: This is a high prio blue ticket but not solvable in a short time frame. This needs more engineering than just a quick fix which can be easiely deployed.

[2015-01-07 12:01] PVince81 commented on #11794
Yes, let's move it.
There's still some prerequisite work to be done on ext storage config to be able to make this work properly.

[2015-01-07 12:03] MorrisJobke commented on #8993
@DeepDiver1975 It's already on my todo list for verification ;)

[2015-01-07 12:05] MorrisJobke commented on #8993
Removal isn't supported in current master -> move this to 8.1

[2015-01-07 12:06] schiesbn commented on #13117
Just a guess at this point in time: Versions only get cleaned up if a new version gets created and then also only for the corresponding file. Also we will always keep the latest version as a minimum. So I wouldn't be surprised if just a lot of files with (many and large) versions wasn't modified during this three weeks.

You could test this by explicitly modify a file with some versions. If you ar

[2015-01-07 12:09] DeepDiver1975 commented on #9937
I vote for closing this - if (due to what ever reason) not all files are updated during an update mechanism there is not much we can do. Using proper packages and reading docs really helps.

@carlaschroder for the sake of it - can you please add a sentence about copying hidden files during upgrade? THX

[2015-01-07 12:12] MorrisJobke commented on #13146
@deepakpatiyal Can you please supply more information? Please use the issue template https://github.com/owncloud/core/blob/master/issue_template.md Thanks

[2015-01-07 12:12] DeepDiver1975 commented on #10001
Upstream project is still working on this issue -> OC8.1

[2015-01-07 12:16] PVince81 commented on #12490
Not a proper breakage but they will only have English as the "translations.php" ajax call will fail.
Workaround could be to bring back a deprecated "translations.php" that still returns sync translations and remove it in a later version (ex: OC 9)

[2015-01-07 12:16] buecker opened #13147 "External Storage S3 Very High Requests"
External Storage - S3 - has very high requests
In Oct 766K Requests
In Nov 22.6 Million requests
In Dec 53.5 Million requests
As of 1/7/15 5 Million requests

I have an S3 bucket mounted on my Owncloud server with about 20 gigs (30 files only) in it.  I've removed s3 as a shared drive on all clients but left it on the server.  SQLite is my database.

Owncloud Server 7.04

What it should be at?

Do

[2015-01-07 12:16] nickvergessen commented on #13020
Replaced by owncloud/owncloud.org#396

[2015-01-07 12:16] #13020 closed

[2015-01-07 12:18] nickvergessen commented on #13147
Did you perform any updates in the time when it increased?

[2015-01-07 12:23] buecker commented on #13147
I must have updated from at least 7.03 in that time frame.

[2015-01-07 12:36] DeepDiver1975 commented on #10763
Missed your comment - sorry - there are two solutions to the issue:
- install all databases locally
- at least test this on MySQL locally and let Jenkins do the rest for you

Anyway - someone else can take over this task

[2015-01-07 12:41] DeepDiver1975 commented on #10798
duplicate of #9893 -> closing

[2015-01-07 12:41] #10798 closed

[2015-01-07 12:43] DeepDiver1975 commented on #10820
OC8.1 - nothing we can do within the scope of OC8

[2015-01-07 12:46] DeepDiver1975 commented on #10837
moving to 8.1 - still some paths to walk ....

[2015-01-07 12:48] DeepDiver1975 commented on #10913
yes - seems to be the case that we missed this part

[2015-01-07 12:50] DeepDiver1975 commented on #10983
@PVince81 OC8.1?

[2015-01-07 12:52] Do-D commented on #12802
Let me try to clear the question
1st Problem:
After Uploading a file test.zip in a shared folder /test I reshare the file and create a public link:
[code]
This Link is broken and leads to a error website: Sorry, this link doesn’t seem to work anymore.

2nd Problem:
Every file shared by public link also shows up in the Section "Shared by Link" for the logged in User.
In this section the file is dis

[2015-01-07 12:56] DeepDiver1975 commented on #11432
@cdamken @jnfrmarks what's the status on testing/reproducing this issue? THX

[2015-01-07 12:57] DeepDiver1975 commented on #11432
removing OC8 milestone - there are no actions required for OC8

[2015-01-07 14:02] DeepDiver1975 commented on #12286
closed within the scope of oc8

[2015-01-07 14:02] #12286 closed

[2015-01-07 14:02] DeepDiver1975 opened #13149 "Direct Download for S3 and SWIFT"
In the first implementation the direct download link (for s3 and swift backends) will contain an link to the owncloud instance itself which will generate a temporary/one time access token.

Sample direct download url
[code]

The final target url will be generated and returned as redirect to the client - the client will follow the redirect accordingly.

Furthermore in case the redirected url is unr

[2015-01-07 14:07] jnfrmarks commented on #11432
@DeepDiver1975

I haven't looked at this since my last comment above.

[2015-01-07 14:08] DeepDiver1975 commented on #12337
@PVince81 I'd like to close this ticket and continue with new ticket(s) from the remaining parts which will go into the direction of OC8.1/OC8.2.

What's missing here now?

[2015-01-07 14:13] karlitschek commented on #2368
Yes. This can be seen as a bugfix. I don´t hope a lot of code is needed for that.

[2015-01-07 14:16] DeepDiver1975 commented on #12490
I guess there is not much we can do -> close ?

[2015-01-07 14:17] simonspa commented on #6949
I also built in some debug messages to see what happens. First, the crawling for files (findEncFiles) takes ages:
[code]
that is more than one hour for just a couple of thousand of files (all in all less than 8GB)

When finally starting decryption, everything first looks fine:
[code]

But then the decryption routine reaches one of these `ocTransferId<>.part` files which might result from a broken

[2015-01-07 14:18] j-ed commented on #3408
@PVince81 As a first step I verified all setting etc. but couldn't find a reason for that problem. I also did some research on the Internet concerning the `stat failed for` error and found several occurrences where users had reported similar problems with some of the standard functions accessing ftp files.

[2015-01-07 14:21] PVince81 commented on #12172
There is currently no PR for this, didn't get to it.

[2015-01-07 14:22] karlitschek commented on #9937
I general I agree. And there is definitely no real bug on our side.
On the other hand this often creates unhappy users and a bad reputation independently whos fault it is and if it is documented or not.
Maybe we should go back to the suggestion of @LukasReschke and somehow detect if the .htaccess that is there is the right version?
Just to guide our users into a better direction

What do you think

[2015-01-07 14:22] DeepDiver1975 commented on #12927
@jancborchardt PR ready on this one? Thanks a lot!

[2015-01-07 14:28] PVince81 commented on #12337
The favorites/tags of files can be retrieved with PROPFIND and set with PROPPATCH, so I'd say this task is completed.
At some point we'll want to have an API to return the list of all known tags, but that's another feature (and as long as we don't have any UI that lists tags, it might not be needed)

[2015-01-07 14:28] #12337 closed

[2015-01-07 14:34] ubuntuaddicted commented on #9937
i was already running owncloud from the location you linked, i misspoke earlier when I said i was running it from a ppa. Here's the exact error now that I'm at my server console.
An exception occurred while executing 'SELECT "configvalue", "appid" FROM "oc_appconfig" WHERE "configkey" = ?' with params ["enabled"]: SQLSTATE[HY000]: General error: 1 no such table: oc_appconfig

any help would be app

[2015-01-07 14:34] DeepDiver1975 commented on #13123
let's close this for now - THX

[2015-01-07 14:34] #13123 closed

[2015-01-07 14:35] sbelov1 opened #13151 "LDAP Performance issue (User Page loads slowly/hangs)"
Build: 7.0.4 stable - our latest virtual appliance which supposedly contains all the LDAP patches.
Description: One of my prospects is experiencing issues with an OpenLDAP performance when navigating the Users screen. The user search takes forever to load if it ever loads (only 1800 users in the database). When he navigates away from the Users screen web server hangs forcing him to restart the apa

[2015-01-07 14:37] DeepDiver1975 commented on #13113
While initially working on this with @jancborchardt we decided against this. I don't remember the reason.

[2015-01-07 14:37] PVince81 commented on #10913
I cannot verify/test this because: the fix is in OC 8 but the issue appears when upgrading from OC 6 to OC 7 with missing trashbin/versions where the code is only triggered with a version check.

If I delete the version check when upgrading from OC 7 to OC 8 with missing `trashsize` table in the code it will call `dropTable` but doesn't fail. So the fix works as expected in case future apps are tr

[2015-01-07 14:37] #10913 closed

[2015-01-07 14:38] DeepDiver1975 commented on #13112
Do we consider this critical for OC8.0? I'd vote for 8.1

@karlitschek

[2015-01-07 14:42] DeepDiver1975 commented on #13109
@jnfrmarks I assume there is a test plan for server-to-server sharing - can you please have a close look at the log files and watch out for errors like the one above?

Generally speaking any error with app: PHP shall be reported. Many thanks!

[2015-01-07 14:42] PVince81 opened #13152 "[master] Empty content icon shortly shown during file list load"
### Steps to reproduce
1. Upload a lot of files
2. Refresh the page

### Expected result
Loading spinner appears **alone**.

### Actual result
Loading spinner appears AND the empty content message with the folder.

### Versions
ownCloud 8 master 5ce295907fd9469905d561de71d83149a6c0f6c5

Minor bug, still setting to OC 8. Hopefully an easy fix.
CC @jancborchardt

[2015-01-07 14:42] DeepDiver1975 commented on #13102
@jancborchardt can you please have a look? THX

[2015-01-07 14:43] DeepDiver1975 commented on #13096
@icewind1991 can you please have a look? THX

[2015-01-07 14:44] DeepDiver1975 commented on #13089
@icewind1991 can you please have a look at this as well? THX

[2015-01-07 14:46] karlitschek commented on #13112
Hmm. It is an annoyance. I think it depends on how hard it is to fix.

[2015-01-07 14:47] DeepDiver1975 commented on #13058
@PlumbumDN How many users and how many clients (browser, mobile and desktop) are connected?

The more clients are conncted - the higher is the risk to run into this database lock situation.

[2015-01-07 14:48] RealRancor commented on #9937
@ubuntuaddicted
Such SQL errors are not related to this issue

@karlitschek

:+1: for your posted suggestion.

[2015-01-07 14:48] Raydiation opened #13153 "Setting up core master via git gets into infinite loop when accessing it for the first time"
I'm using the newest PHP version 5.6.4 btw.

How to reproduce:

    git clone --recursive https://github.com/owncloud/core.git
    cd core
    php -S localhost:8080

Now access http://localhost:8080 and find yourself stuck in an infinite loop. After killing the server with

    sudo pkill php

and running the server again:

    php -S localhost:8080

It works just fine. I think it has something to

[2015-01-07 14:49] PVince81 commented on #13152
Wow, is it that critical to be a showstopper ?

[2015-01-07 14:49] nickvergessen commented on #13152
@PVince81 duplicate of https://github.com/owncloud/core/issues/13141 ?

[2015-01-07 14:49] PVince81 commented on #13152
Yes, I knew I had seen this before.
Closing.

[2015-01-07 14:49] #13152 closed

[2015-01-07 14:49] #13049 closed

[2015-01-07 14:50] PVince81 commented on #13141
Slapping showstopper tag. @karlitschek set it on my duplicate ticket here https://github.com/owncloud/core/issues/13152

As it is a regression, it probably makes sense.

[2015-01-07 14:51] #13034 closed

[2015-01-07 14:52] Raydiation commented on #13153
I can reproduce this in stable7 btw

[2015-01-07 14:52] butonic commented on #13141
on it

[2015-01-07 14:53] DeepDiver1975 commented on #13153
@Raydiation anything in the logs? Can you attach a debugger? THX

[2015-01-07 14:54] Raydiation commented on #13153
No logs so far

[2015-01-07 14:54] karlitschek commented on #13151
@blizzz

[2015-01-07 14:54] DeepDiver1975 commented on #13151
@sbelov1 Thanks a lot for reporting issues back to us!

We need some more information to properly support you with your issue!

Can I ask you to follow our guidelines for submitting bugs as described here: https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

Thanks a lot!

[2015-01-07 14:55] DeepDiver1975 commented on #13151
is a too little technical specification

[2015-01-07 14:56] karlitschek commented on #13152
Just to clarify. I tagged this as a showstopper to track and keep in mind. This list will change heavily in the next 3 weeks. First it will become longer and later shorter :-)

[2015-01-07 14:57] DeepDiver1975 commented on #13146
please open a new issue

[2015-01-07 14:57] #13146 closed

[2015-01-07 15:05] MorrisJobke commented on #11412
This is a easy step once #13148 is in

[2015-01-07 15:13] Raydiation commented on #13153
Narrowed the problem down: It gets into an infinite loop/stuck if data/htaccesstest.txt is not present

[2015-01-07 15:15] jancborchardt commented on #13113
I don’t really remember deciding on that either. Probably because it’s just one small info and not an important section – hence it should not add to the mass of entries in the sidebar.

[2015-01-07 15:16] ubuntuaddicted commented on #9937
ok, sorry about that and thanks for the pointer. i figured it was a mysql due to me changing my hostname on my server. ;)  @RealRancor i also concur, this can be closed. awesome work from all the dev's by the way! THANKS for being awesome

[2015-01-07 15:16] jancborchardt commented on #13152
Closing as duplicate of https://github.com/owncloud/core/issues/13141

[2015-01-07 15:17] jancborchardt commented on #13152
Ah, my tab was outdated! ;)

[2015-01-07 15:17] jancborchardt commented on #13152
And yeah, I would say this is a showstopper since it’s a regression and can cause you to think your files are gone, even if it’s just for a second.

[2015-01-07 15:18] butonic opened #13155 "Introduce query language to allow tweaking search parameters"
This is the first step towards limiting search to a certain subdirectory or mimetype. google as well as github allow searching in metadata by using sth like `author:butonic`, `filetype:pdf` or `in:Music`. To allow [more sophisticated search queries](http://www.lucenetutorial.com/lucene-query-syntax.html) we should parse the query string with the [zend search lucene query parser](https://github.com

[2015-01-07 15:19] PVince81 commented on #12966
Tested again.

Without encryption:
- works on stable7 (bf1f9df590e45de4bb9a02c3f472ffdbe702bc69)
- works on master (5ce295907fd9469905d561de71d83149a6c0f6c5)

With encryption:
- works on stable7 (bf1f9df590e45de4bb9a02c3f472ffdbe702bc69)
- broken on master (5ce295907fd9469905d561de71d83149a6c0f6c5)

So this is indeed a regression, and is specific to encryption.

[2015-01-07 15:19] PVince81 commented on #12966
CC @schiesbn

[2015-01-07 15:19] DeepDiver1975 commented on #13112
@jancborchardt tell me what code changes you need from my to make this work :speak_no_evil: THX

[2015-01-07 15:20] MorrisJobke commented on #9937
@karlitschek Then I would vote for the version somehow placed in the htaccess. Yes it is more maintenance for the release, but something has to be done and I don't see a way (except copying the htaccess to properly be able to diff the file, which would be overkill from my pov) to do this in another way. Opinions?

[2015-01-07 15:21] DeepDiver1975 commented on #10763
quite expected - what are you trying to tell us? :speak_no_evil:

[2015-01-07 15:21] LukasReschke commented on #9937
Before somebody starts reimplementing stuff: https://github.com/owncloud/core/pull/11114 ;-)

[2015-01-07 15:21] butonic commented on #821
query parser tracked in https://github.com/owncloud/core/issues/13155

[2015-01-07 15:26] Raydiation commented on #13153
@DeepDiver1975 I'm unable to attach a debugger, PHPStorm has a grayed out debug field. Can you take a look?

[2015-01-07 15:29] PVince81 commented on #12966
Will try and bisect this.

[2015-01-07 15:29] Raydiation commented on #13153
Narrowed it down to this method: if i just return true it works out of the box https://github.com/owncloud/core/blob/master/lib/private/util.php#L1029

[2015-01-07 15:30] Raydiation commented on #13153
@bartv2 @th3fallen

[2015-01-07 15:32] th3fallen commented on #13153
Sorry im being pounded right now can't look at this atm i'll take a look when i get some clearance.

[2015-01-07 15:34] PVince81 commented on #12966
I was wrong.

Actually stable7 is broken too. They both upload a 0 kb file.
Only in master it will show an additional error message but stable7 will proceed without error message.

[2015-01-07 15:36] DeepDiver1975 commented on #13153
@Raydiation what's the value of $url in here https://github.com/owncloud/core/blob/master/lib/private/util.php#L1055

[2015-01-07 15:36] jancborchardt commented on #12964
Yeah, I think we already had an issue for that somewhere but I can’t find or recall it at the moment. Something about that reshares should also show up in the list for everyone to see since everyone that folder is shared with is essentially part of a group and should be aware of everyone else.

[2015-01-07 15:36] DeepDiver1975 commented on #13153
I suspect the port is missing in the url

[2015-01-07 15:38] PVince81 commented on #12966
Just checked, this is also broken in older OC 7 (v7.0.1) and even broken in v6.0.6.

Removing the regression tag.

@karlitschek @DeepDiver1975 seems this was broken for a while (encryption + "create-only" shares), so I guess not that critical.

[2015-01-07 15:42] MorrisJobke commented on #13044
@DeepDiver1975 Is the permission somehow saved on the server side? And if yes which one? A simply read, write, access or the full POSIX?

@dragotin @danimo Does the client somehow change permissions? How is a readonly shared folder represented?

@johan27hack I guess this is just the case for some files? Can you have a look at the files attributes (I guess on windows you have to right click and the

[2015-01-07 15:43] PVince81 commented on #11079
Works for me on stable7 (bf1f9df590e45de4bb9a02c3f472ffdbe702bc69) and master (5ce295907fd9469905d561de71d83149a6c0f6c5)

It is likely that this has been fixed as part of other ext storage UI fixed (the ones that adds select2).

@Xenopathic please reopen if you still see this. Thanks.

[2015-01-07 15:43] #11079 closed

[2015-01-07 15:46] Raydiation commented on #13153
$url is http://localhost:8080/data/htaccesstest.txt

[2015-01-07 15:49] PVince81 commented on #11086
Still happening in OC 7.0.4 and stable7 (bf1f9df590e45de4bb9a02c3f472ffdbe702bc69):
1. Create a user "user1" and directly assign a new group "abc" (hit enter to create it)
2. Click the "Create button"

At step 1. the group appears as soon as enter is hit, without any number.
Then at step 2, at creation time, "NaN" appears behind it.

It works fine on master (5ce295907fd9469905d561de71d83149a6c0f6c

[2015-01-07 15:51] PVince81 commented on #10028
The scrolling should work now as per https://github.com/owncloud/core/issues/9195
Also I believe that OC 8 will bring a new way of displaying search results, which comes with its own file actions.

Closing hence.

[2015-01-07 15:51] #10028 closed

[2015-01-07 15:52] PVince81 commented on #11913
So I guess there is no other alternative than "bloat" the interface with an extra method ?

Side note: I also noticed that many useful methods aren't even exposed on the interface.

[2015-01-07 15:53] johan27hack commented on #13044
@MorrisJobke Hello, and thanks for your message.
Yes, please feel free to accept my apologizes for my bad behavior, but it was upsetting when no one reply :(
So I will make all the screenshot you asked by this evening .
Thanks again :)

[2015-01-07 16:04] dragotin commented on #13044
@johan27hack what do you exactly mean with "the file is not readable"?

[2015-01-07 16:10] MorrisJobke commented on #13044
@dragotin I hope I can see more permission related stuff of the filesystem within the screenshots.

[2015-01-07 16:11] MorrisJobke commented on #13044
Oh ... I just realized that it is the read permission. I thought about read-only and therefore a missing write permission.

[2015-01-07 16:12] PVince81 commented on #5952
Fix is here: https://github.com/owncloud/core/pull/13156

CC @ZacharyDuBois FYI

[2015-01-07 16:13] jbtbnl commented on #11913
Yes, an extra method is the most clean solution.

Changing method behaviour based on a variables type is a bad idea in a loosely typed language.

[2015-01-07 16:15] jancborchardt commented on #13112
I’m not sure this counts as a bugfix as this might involve a bunch of JS. Similar to how we do it in the Music app (cc @MorrisJobke) to hide more than 5 tracks for each album initially.

Here’s what we need to do:
* The initial height of each .app-description should be forced to a value where only the first lines are visible. Like this: `height: 44px; overflow: hidden;`
* When clicked, the descrip

[2015-01-07 16:22] diablotin84 commented on #13109
@MorrisJobke thx for return

Steps to reproduce

In the files app, click on New and From link, paste URL share link from file to another Owncloud instance (ex: https://URLOWNCLOUD/public.php?service=files&t=9984faa15d8949414acc3cca7b8c531c) and obtain Error Fetching URL

Server configuration

Operating system: Debian 7.7

Web server:	Apache/2.2.22

Database:	MySQL 5.5.40

PHP version:	PHP 5.4.36-0

[2015-01-07 16:38] DeepDiver1975 commented on #11913
In case no tag by id is found you can fallback to getTagByName in https://github.com/owncloud/core/pull/11383/files#diff-c01ca4d4cd57b78a07391e67796f145aR659

Not a 100% solution - but an acceptable workaround without breaking apis

[2015-01-07 16:57] sbelov1 commented on #13151
Sure. Here's the missing info:
php version is 5.4.36
Web Server: apache
db: MySQL
OC virtual appliance running the latest public build 7.0.4
In addition to app that enabled by default, these apps are also present: LDAP backend and WND
No external storage app used
No encryption is used
Browser: Chrome

[2015-01-07 17:04] AdamWill commented on #13052
bah :( I guess I didn't test it, I must've only tested JSqueeze and JShrink.

[2015-01-07 17:06] alexleake commented on #12498
Hello all,

I'd like to thank @icewind1991 for his contributions, his branch smb-new along with the libsmbclient-php (https://github.com/eduardok/libsmbclient-php) have fixed this issue.

To clarify, the latest version of ownCloud (even the v8.0.1 alpha) are still affected - @icewind1991 's smb-new branch is not.

Kind Regards,
Alex.

[2015-01-07 17:15] blizzz commented on #13151
From the log you can already see that there are configuration issues.

Please get the whole config: ```./occ ldap:show-config```

[2015-01-07 17:21] MorrisJobke commented on #13109
@diablotin84 So you used the URL from the public share page and not the download lunk provided by the input field below the file preview. Can you test this with the download URL (direct link)? Thanks

[2015-01-07 17:24] blizzz commented on #13151
It is a little bit odd that "No such object (32)" (meaning an entry you attempt to read does not exist) was returned with ldap_control_paged_result_response which is just for controling Paged Search.

@sbelov1 can you additionally ask the one to run this script? https://gist.github.com/blizzz/0b57f85c122dedf34da8

Basic LDAP parameters need to be passed, running it without parameters will show you

[2015-01-07 17:34] Raydiation commented on #13153
Does htaccess even work when you run the php dev server?

[2015-01-07 17:42] PVince81 opened #13157 "Server two server sharing + sync client + encryption on both sides fails"
### Steps to reproduce
1. Setup ownCloud A with encryption
2. Setup ownCloud B with encryption
3. On B, create a folder "test"
4. Share "test" with link and allow upload
5. Mount the link share in ownCloud A
6. Setup the sync client for A
7. Upload a file into "test" using the sync client

### Expected result
Successful upload

### Actual result
"expected filesize X got Y".
B returns the encrypted

[2015-01-07 17:50] sbelov1 commented on #13151
@blizzz would you please provide some instruction on how to run this script and where needs to be placed?

[2015-01-07 17:51] Xenopathic commented on #11079
Indeed, it does seem to have gone. Excellent news!

[2015-01-07 17:56] diablotin84 commented on #13109
I have click on Share and Share link, it's not right ?

[2015-01-07 18:43] MorrisJobke commented on #13109
@diablotin84 On master this simply downloads a HTML page - the page that is shown if you browse that link. Then there is a direct link on that page. If you enter that one, the correct file is downloaded to your ownCloud. THis for for me here on master. No errors at all (for both links)

[2015-01-07 18:51] MorrisJobke commented on #4407
@icewind1991 Can you answer this?

[2015-01-07 19:05] gig13 opened #13158 "Notify the share owner when another user downloads a shared file [$1,000]"
Use Case:
1. User A shares a file with User B.
2. User B downloads the file via Web/desktop client/mobile.
3. User A is notified that User B has downloaded the file and via which method - Web, desktop client or mobile.

It would also be desired to have this tracked in an audit trail like the Activity or via a reporting mechanism.

@MTRichards

[2015-01-07 19:09] LukasReschke commented on #13158
Ref https://github.com/owncloud/core/issues/7812 for public link sharing

[2015-01-07 19:57] PVince81 commented on #4997
Some additional ideas coming from https://github.com/owncloud/core/issues/13157.
When the ext storage server is ownCloud (ownCloud backend or server to server sharing), we might not need part files at all. So every storage should also be possible to tell whether they need part files or not.

I suspect that Dropbox might not need part files either if their upload mechanism is atomic as well. I don'

[2015-01-07 20:44] aaschmid opened #13159 "Why app "files_encryption" sets "<rememberlogin>false</rememberlogin>"?"
Unfortunately, I couldn't found any documentation about the no longer available "remember" login feature if the "files_encryption" isn't installed. One day I was missing the "remember" checkbox as my mobile client was just logged out every day. After some searching through the source code I found the ```rememberlogin``` variable. As I have just installed the "news" and "encryption" apps, I source

[2015-01-07 20:47] PVince81 commented on #13157
Fix is here: https://github.com/owncloud/core/pull/13160

[2015-01-07 20:49] chemnic commented on #13117
I see. So, ownCLoud keeps at least one version even if the files_versions directory is way bigger than the user's free space.

I changed the modification time of some of the images and the older versions are not being deleted. I used the command "touch" in the user's computer. ownCloud client syncs the new modified files and a new version is created in files_versions.

An example of a directory:

[2015-01-07 20:51] PVince81 commented on #5952
There's a better fix here https://github.com/owncloud/core/pull/13160
Please ignore the previous one.

Note that it will still encrypt files on the target OC for now (see comment here: https://github.com/owncloud/core/pull/13156#issuecomment-69089558)

[2015-01-07 21:07] PVince81 opened #13161 "Show spinner when creating new file or folder from the menu"
### Steps to reproduce
1. Mount SFTP external storage (which is usually a bit slow)
2. Create a new folder or file from the controls bar menu

### Expected result
File/folder entry with spinner should appear.

### Actual result
Nothing happens until the server answers, which might be several seconds.
This is not good UX as the user might think something is broken or nothing is happening.

### Vers

[2015-01-07 21:13] enoch85 commented on #13098
@MorrisJobke So, did you find anything? :)

[2015-01-07 21:21] MorrisJobke commented on #13098
@enoch85 Not yet. But I didn't had a look yet ;)

[2015-01-07 21:37] blizzz commented on #13151
@sbelov1

1. save the script (https://gist.github.com/blizzz/0b57f85c122dedf34da8#file-serversupportspagedresults-php) as serversupportspagedresults.php whereever you want, but on the machine running ownCloud
2. call it via ```php -f serversupportspagedresults.php "$HOST" "$PORT" "$BASE" "$USERDN" "$PASSWORD"``` but before, replace the placeholders with the LDAP configuration as used in ownCloud

[2015-01-07 21:43] LukasReschke opened #13162 "Make OC_Subadmin non-static"
`OC_Subadmin` is static and thus it is an absolute pain to write unit-test for code that includes it. This is kinda bad when it comes to write unit-test where a function may behave differently when the user is an admin or an subadmin.

When touching the `OC_Subadmin` code - for example for https://github.com/owncloud/core/issues/1212 - I *strongly* suggest that we refactor the same code as well. C

[2015-01-07 22:07] DeepDiver1975 commented on #13153
afaik no - I'll look into this tomorrow

[2015-01-07 22:29] Bugsbane commented on #3812
Lol. I'm just a user, without any ability to code / implement anything beyond a bug report or some graphic design. :) I **have** been desperately waiting for tags for a long time though, for the ability to do what I outlined above.

[2015-01-07 23:04] LukasReschke commented on #13159
That assumption is correct. The user password is used to decrypt the encryption key. However, with the "remember me" login functionality the user password is not known but only a long random string which is used to authenticate the user.

Thus it is not possible to use encryption with the remember me login functionality. If you want that feature back you need to disable encryption.

@carlaschroder

[2015-01-07 23:04] #13159 closed

[2015-01-08 03:15] karlitschek commented on #9937
Thanks @LukasReschke
This old approach is not super elegant but maybe the best we can do.
I would vote for that.

[2015-01-08 03:19] ZacharyDuBois commented on #5952
I will give it a test the next time I get a chance :)

[2015-01-08 03:36] deepakpatiyal opened #13163 "I am not able to sync from owncloud Andriod app, please help"

[2015-01-08 03:49] clarjon1 opened #13164 "Animated gifs do not animate"
Hello,

I recently installed OwnCloud 7.0.4 and discovered that animated gifs in the slideshow, gallery, or single file share modes do not animate.
From what I recall, animated gifs did animate in owncloud 6.x.

[Here is a link to an example image, an animated gif of a cat playing with and popping ballons on my install.](https://cloud.xfcab.com/public.php?service=files&t=5c6e6b07bae06e79fefbc874e4

[2015-01-08 06:27] #11086 closed

[2015-01-08 07:25] deepakpatiyal commented on #13163
Please help

[2015-01-08 07:48] Do-D commented on #12802
Yes the domain name is always the same and correct.
For the test, I created a new public link therefore it has a new token:
https://xx.xx.at/public.php?service=files&t=8fe100661df9d15aac13fe2f879ee037
[code]
With Share ID you mean the item source 4037 from above?
[code]

I noticed that I can solve my problem by simply unsharing a folder (for every group) and then share the folder to all groups aga

[2015-01-08 08:02] DeepDiver1975 commented on #13153
This happens because the php process is sending the request to himself - which will block ... we shall disable this htaccess check if php dev server is used

[2015-01-08 08:37] johan27hack commented on #13044
@MorrisJobke Hello.
Like you asked me yesterday, here are 2 screenshots.
windows-permissions ==> Which is a screenshot of my png files not "readable" on my Windows 7 Pro 64 bits.
But there is something weird with the second screenshot "mac osX 10.9.5- permissions" taken from my Mac OS X 10.9.5.

I put the "windows-permissions.png" file on my oc folder, sync it over my windows desktop software.
The

[2015-01-08 09:09] aaschmid commented on #13159
Ok, thanks for the clarification

[2015-01-08 09:12] aaschmid commented on #10731
It would also be nice if the external mount encryption could be separated from the users password to be able to use the "remember" feature :-)

[2015-01-08 09:13] oxivanisher commented on #12306
I am experiencing the same issue also. If i can help with debug information or anything, feel free to ask.

[2015-01-08 09:31] PVince81 commented on #12802
@schiesbn any clues ? Does that sound like of the known issues ?

[2015-01-08 09:42] MorrisJobke commented on #13163
@deepakpatiyal Can you please fill out the issue template (I already wrote that in your previous issue https://github.com/owncloud/core/issues/13146#issuecomment-69014110) Until you provide this information we can nothing do for you, as we don't know what could cause this. I will again close this ticket as it is useless.

Please open a new issue with all the information, otherwise we will close th

[2015-01-08 09:42] #13163 closed

[2015-01-08 09:44] Bugsbane commented on #2368
@PVince81 Sure thing.

[2015-01-08 09:45] MorrisJobke commented on #13164
@clarjon1 That's caused by the change to the previews provider for ownCloud 7+

@georgehrke @LukasReschke @jancborchardt Is it reasonable to not preview gifs and simply use the original file within the slideshow?

[2015-01-08 09:46] MorrisJobke commented on #13164
Keep in mind that it could be a huge file.

[2015-01-08 09:55] Bugsbane opened #13168 "Ability to share by tag"
As mentioned in https://github.com/owncloud/core/issues/2368 , it would be useful to be able to share resources by tag. For example, I'd like to be able to go through and tag photos and calendar events with "Family" and have them be shared with my family members (users in the "Family" group). Similarly, I'd like to be able to tag bookmarks, contacts and documents with a project tag, and have them

[2015-01-08 10:08] #13153 closed

[2015-01-08 10:18] deepakpatiyal opened #13169 "not able to upload/sync files from ownCloud andriod App v1.6.2"
### Steps to reproduce
1. using andriod app to sync to ownncloud 7.0
2.
3.

### Expected behaviour

When I upload/sync images/files using ownlcoud andriod app it should upload the files to server

### Actual behaviour

When I upload/sync it shows the progess base 1%..10%..50%.. and finally 100% but after it shows error You don't have permission to upload to this folder ,whereas I am able to create

[2015-01-08 10:20] MorrisJobke commented on #13098
Let me speak out loud, what I found.

* First weird thing: the exception is always thrown once in an hour (always around xx:30 - xx:33) and then always 3-4 times
* erropr log is completely irrelevant (regarding owncloud specific stuff)

I will now have a look at similar request pattern. Maybe I find something suspicious

[2015-01-08 10:27] jancborchardt commented on #13164
Well, if we want people to be able to use ownCloud to share GIFs then we better use the original file. And yeah, I think it’s important that we do support this.

[2015-01-08 10:29] PlumbumDN commented on #13058
@DeepDiver1975 the system has 10 users, and two to three concurrent.
There are about 9 clients (5 PC, 4 mobile)
Connected on error situation is only one PC with Win7 x64 running sync-client 1.7.1

[2015-01-08 11:19] nazar-pc opened #13171 "filesize(): stat failed"
### Steps to reproduce
Just normally use owncloud, it will appear by itself at some point

### Expected behaviour
0 warnings log

### Actual behaviour
I have a lot of warnings like this:

And file doesn't exists, what really exists is `pmd_display_field.2.php.trashinfo.d1416559107` file, and I'm afraid since file was not remove space will be wasted forever.

### Server configuration
**Operating sy

[2015-01-08 11:37] MorrisJobke commented on #13169
@rperezb Do you know what this could have caused?

[2015-01-08 11:39] MorrisJobke commented on #13171
cc @schiesbn

[2015-01-08 11:42] deepakpatiyal commented on #13169
can't figure out but through web browser I am able to upload and download

[2015-01-08 12:01] tabatabaei commented on #13137
tnax
i run owncloud in to different system
system 1 - 1Gb ram 1 cpu 1.6
system 2 - 10 Gb ram 8 core of xenon cpu 2690
both of them is virtual 1- virtual box , 2 proxmox
in system 1 my problem solvet when max_execution_time to 300
and not worket on system 2 when i upper max_execution_time to 3000
i install nginx because user less memory and proccess
when page is loading i monitor the cpu and memory

[2015-01-08 12:19] MorrisJobke commented on #13098
@enoch85 Got it.

[code]

There you see nearly excatly the same timestamps as for those Forbidden exceptions. And you see that it is a not authenticated request:

[code]

The upper one has a username (I replaced it with `USERNAME` and the one below doesn't have one. If you have a look at this very ofthen there are unauthenticated PROPFIND, which result in a Forbidden.

@icewind1991 @DeepDiver1975

[2015-01-08 12:20] MorrisJobke commented on #13098
The logged exception looks like

[code]

[2015-01-08 12:42] leonweber commented on #12192
Hey, are there any news on this? Seems to be broken for me still on 7.0.4. Anything I can do? (Unfortunately, I have no access to the LDAP-logs.)

[2015-01-08 12:48] #9937 closed

[2015-01-08 13:06] Xenopathic commented on #13137
You also need to increase `fastcgi_read_timeout`, since that 504 Gateway Timeout is nginx complaining that PHP is taking too long.

Neither UNIX socket or TCP socket is fundementally better, but if you use TCP remember to block the port in your firewall, or else anyone can send queries directly to PHP without the restrictions provided by your web server.

[2015-01-08 13:15] tkaufm opened #13174 "ldap group problems with OC6 & OC7"
Hi all,

maybe this is related to https://github.com/owncloud/core/issues/12440 or https://github.com/owncloud/core/issues/12306 not sure, so im opening a new one, please close it if this is obsolete.

In noticed this on my owncloud test-system when i did a update. Then I started testing on a blank (fresh installed) system and blank owncloud-installations.

### Expected behavior
Owncloud should re

[2015-01-08 13:28] pf18387 commented on #1376
1) Computers do not make any difference between an hyphen and a minus character inside a string - except when the string is evaluated. So, avoid the '-' in IDs.
Fortunately, there is a "sanitizer" https://github.com/owncloud/core/blob/master/lib/private/app.php#L51
[code]

2) Another constraint might be implemented there: the length of an appId MUST be less or equal to 32. See, at least, the SQL t

[2015-01-08 13:39] DeepDiver1975 commented on #13058
Please convert to mysql to get your system into a stable state - THX

[2015-01-08 13:47] icewind1991 commented on #9096
Will make a new issue

[2015-01-08 13:47] #9096 closed

[2015-01-08 13:48] RealRancor commented on #13058
Hi,

see also the first notes box here:

http://doc.owncloud.org/server/7.0/admin_manual/configuration/database_configuration.html#database-configuration

why to not choose sqlite for such setups.

[2015-01-08 13:48] DeepDiver1975 commented on #13174
@blizzz can you please have a look? THX

[2015-01-08 13:49] icewind1991 opened #13175 "Add interface for accepting self-signed certificates for s2s-shares"
Currently if you want to mount an s2s share with the other server using a self-signed certificate you need to import the certificate beforehand.

Ideally the user would be presented with a warning about the certificate not being valid and the option to trust the certificate while accepting an incomming s2s share

[2015-01-08 13:49] icewind1991 commented on #9096
#13175

[2015-01-08 13:53] enoch85 commented on #13098
I would say level 2. Or is that too low?

[2015-01-08 13:55] icewind1991 commented on #4407
Connections should automatically be closed if php error's out

[2015-01-08 13:58] nazar-pc commented on #4407
@icewind1991, I thought so also, but since error happened it is not always true. I mean that in some cases connection left unclosed, or some process lives too long, or something else, but something wastes all available connections from time to time.

[2015-01-08 14:06] DeepDiver1975 commented on #13098
We could add Forbidden to the list of non fatal exceptions in here - https://github.com/owncloud/core/blob/master/lib/private/connector/sabre/exceptionloggerplugin.php#L14

@PVince81

[2015-01-08 14:06] DeepDiver1975 commented on #13169
Looks more like an android app issue to me ....

[2015-01-08 14:09] deepakpatiyal commented on #13169
I am able to download files using Android app

[2015-01-08 14:13] DeepDiver1975 commented on #9009
@danimo @dragotin shall we move this issue over to the client tracker? Not really much we can do here on the server side - THX

[2015-01-08 14:27] DeepDiver1975 commented on #13164
@georgehrke wana take a look? THX

[2015-01-08 14:28] DeepDiver1975 commented on #13164
We should put a file size limit to this - ideal depending on the bandwith ....

[2015-01-08 14:30] georgehrke commented on #13164
so do we want animated thumbs or animation in the slideshow. If it's about the slideshow this issue should move to the gallery

[2015-01-08 14:31] DeepDiver1975 commented on #13164
neither thumbs nor gallery/slideshow - this is about the public file sharing page - see the screenshot - THX

[2015-01-08 14:32] georgehrke commented on #13164
Ahh sure, yes I can take care.

[2015-01-08 14:34] DeepDiver1975 commented on #13164
great - thx - I'd move this to the OC8 milestone to get it fixed for OC8 - if time permits

[2015-01-08 14:35] georgehrke commented on #13164
sure, this is rather a bug fix than a real new feature

[2015-01-08 14:36] DeepDiver1975 commented on #13164
indeed :wink:

[2015-01-08 14:38] dragotin commented on #9009
Well, sounds like the server is still running on en_US and **not** UTF8 according to the log above, see *server locale*. @sknohsalla could you double check that both client and server run in a proper UTF8 environment? Thanks.

[2015-01-08 14:40] blizzz commented on #13174
Thank you for the report @tkaufm. It seems to me like a dup of #12306, please follow there.

[2015-01-08 14:40] #13174 closed

[2015-01-08 14:40] nazar-pc opened #13176 "Can't remove file"
### Expected behaviour
File removed locally removed on server

### Actual behaviour
File removed on client still present on server, moreover, I can't remove it with web interface and after some time it appears locally again (even after multiple deletion).

### Steps to reproduce
I'm using ownCloud for some months, and it happens from time to time. The only solution I found that actually deletes th

[2015-01-08 14:43] dragotin commented on #9009
Also, when you changed the locale on either server or client, the journal database might be screwed as it was written with the non utf8 locale eventually.

[2015-01-08 14:45] MorrisJobke commented on #9773
I guess this is caused by the new additional config files named like `my.config.php`, where the theme is specified. Then it gots overwritten, but ownCloud just writes into `config.php` which itself just got overwritten by other config files like the `my.config.php` and then the theme is still active.

As it is low prio I move it out of this milestone. Also nothing critical and there are bigger pro

[2015-01-08 14:50] DeepDiver1975 commented on #8516
@MorrisJobke @LukasReschke solved with OC8? THX

[2015-01-08 14:51] danimo commented on #9009
@dragotin `en_US` is the collation. Afaik, if the 'utf-8' is missing, and nothing else is specified, utf-8 should be implied on all Linux distros that are not 10 years old.

[2015-01-08 15:03] MorrisJobke commented on #8516
Nope

[2015-01-08 15:03] MorrisJobke commented on #8516
Or let's say it in another way: We didn't changed anything related to this

[2015-01-08 15:03] DeepDiver1975 commented on #8516
covered by another issue -> close
if not -> OC8.1

[2015-01-08 15:04] jnfrmarks commented on #13112
@DeepDiver1975

I vote to fix this for 8.0.  This is a usability issue (to me) of a new feature we're delivering.

[2015-01-08 15:25] DeepDiver1975 commented on #9740
@jancborchardt did your recent work related to accessibility help with this? THX

[2015-01-08 15:25] PVince81 commented on #13143
I also realized that repair steps might become more complex over time, because they cannot always guess what other tables are pointing to file ids.

For example if an app decides to point any kind of metadata to specific file paths or file ids.
Then we write a repair step that clean file entries. The app's tables will not be auto-cleaned.
But if we allow apps to define foreign keys that point to c

[2015-01-08 15:26] DeepDiver1975 commented on #9739
@LukasReschke still valid? THX

[2015-01-08 15:28] snoocer opened #13178 "poor Web performance"
Hello,

I have performance issues like described in this thread:
https://forum.owncloud.org/viewtopic.php?f=4&t=2550&start=10#p6968

Data from firebug:
Full load of the index.php takes 9.39 sec.
- XHR takes 4.65
- JS takes 4.31
- CSS takes 1.4

Navigate in the Folder-Structure takes between 200 and 500 ms.

I can not figure out why it takes so long to load the complete page. 462 KB of total 489 KB

[2015-01-08 15:33] LukasReschke commented on #9739
Unfortunately: Yes. - Kinda depends on an refactoring of the OC_Apps stuff.

I think @icewind1991 is working on a refactoring somewhere (?) once that is done I can modify it properly to ensure that we can get rid of that. Before this is a little bit too risky for me to touch. :-)

[2015-01-08 15:36] gig13 commented on #12532
Closing out and starting a new github due to OC7 upgrade.

[2015-01-08 15:36] #12532 closed

[2015-01-08 15:36] tkaufm commented on #12306
@blizzz

as additional comment to https://github.com/owncloud/core/issues/13174:
i run the script mention in here (https://gist.github.com/blizzz/736339dc4938a920e087).
it seems like its only working for oc702 and highter but anyway.

On all oc6-versions i get a 'Invalid UserID'.
**oc700:** PHP Fatal error:  Call to undefined method OC\Server::getGroupManager() in /var/www/oc700/getUserGroupMember

[2015-01-08 15:39] nickvergessen commented on #13178
Can you try to disable firebug and use the firefox development tool instead.
Firebug is known to cause troubles in network stuff from time to time

[2015-01-08 15:41] MorrisJobke commented on #12998
I added #8516

[2015-01-08 15:41] MorrisJobke commented on #8516
I added this to the list for 8.1 in #12998

[2015-01-08 15:43] DeepDiver1975 commented on #9739
Oh - come one - no risk - no fun!

[2015-01-08 15:47] sknohsalla commented on #9009
on server
Debian 7.7 64bit

dpkg-reconfigure locales
Generating locales (this might take a while)...
  en_US.UTF-8... done
Generation complete.
[code]
on client
Debian 7.7 64bit
[code]

@danimo , yes UTF-8 wasn't missing, but not set as default.
![selection_032](https://cloud.githubusercontent.com/assets/7531646/5665083/fa949102-9755-11e4-8252-28ac9e52b9c1.png)

[2015-01-08 15:49] DeepDiver1975 commented on #8516
thx

[2015-01-08 15:59] MorrisJobke commented on #8516
Nope. I just referenced this issue ;)

[2015-01-08 16:00] sknohsalla commented on #9009
So umlauts will just be cropped, eg vü3rdtestfile will turn into v3rdtestfile on linux client.

[2015-01-08 16:07] sbelov1 commented on #13151
@blizzz ok, thanks. Run it on my system as a test and now having my prospect run this script. Will let you know..

[2015-01-08 16:11] dragotin commented on #9009
For the client, you can simply delete the files .csync_journal.db* while the client is stopped. It will recreate the journal. But I am not sure if that helps. You should not do that to the server db content btw.

[2015-01-08 16:16] jancborchardt commented on #9740
No, this is unrelated. I presume to fix this it takes some advanced JS to check if the currently focused file/folder is below the viewport and if not make sure the view is scrolled to make it visible.

[2015-01-08 16:19] snoocer commented on #13178
Tried first with Firefox internal "inspect element" --> Network Tab --> same data for example:

complete load: 6.62s
HTML: 0.16s
CSS: 1.56s
JS: 4.54s
XHR: 2.37s
Other: 0.12s

Don't know how to check the Speed with Firefox Web Developer tools....

[2015-01-08 16:57] blizzz commented on #12306
@MorrisJobke yes, i think so, stay tuned.

[2015-01-08 16:58] diablotin84 commented on #13109
@MorrisJobke OK thks for return, i have now a new error in my error log apache2

Invalid method in request quit

any idea ?

Sincerely

[2015-01-08 17:29] sbelov1 commented on #13151
@blizzz

Results:  Server supports Paged Results

[2015-01-08 17:31] blizzz commented on #13151
and the config?

[2015-01-08 17:36] sbelov1 commented on #13151
@blizzz Oh, I guess you're referring to ./occ ldap:show-config? Let me ask him to run that as well.

[2015-01-08 17:38] sbelov1 commented on #13151
@blizzz where should he run it because on my machine it gave the following message:
./occ: No such file or directory

[2015-01-08 17:42] nikogh commented on #776
@stefan-muc: Please keep me informed about the all-inkl.com answer, I am using their webspace as well and I am shocked and surprised, that their webspace is not state of the art :(

[2015-01-08 18:10] gig13 opened #13180 "OC7 LDAP groups issue"
Referencing history https://github.com/owncloud/core/issues/12532

We have a group used in the login filter to define access and all users are members. It is not in the group filter. We have nested groups turned on and we restrict sharing by group.

User EURO 1, EURO 2 and EURO Leader are all members of group AG100. AG100 is a member of the group EURO. EURO Leader is also a member of the group Own

[2015-01-08 18:11] gig13 commented on #13180
The owncloud.log is set to log everything and is not showing anything more than the filters that are displayed in the web interface.

[2015-01-08 18:15] MorrisJobke commented on #13180
@blizzz Is this the same problem as the "LDAP user is just in one group in the group dropdown, but counted correctly in all in the group count"?

[2015-01-08 19:14] tobiasKaminsky commented on #13169
Is there something in LogCat?

[2015-01-08 19:20] sbelov1 commented on #13151
@blizzz Check your email for the output of the config.

[2015-01-08 19:55] ianbmacdonald commented on #12725
This issue is persistent..  I don't have any "No keys available" errors in my logs.   Here is the latest example, currently jamming up client notifications on my desktop right now.

This is an excerpt from the logs from the initial creation of new folders and files that led to the "The server did not acknowledge the last chunk. (No e-tag were present)" issue on my own 1.7.1 ubuntu client appearing

[2015-01-08 20:10] schiesbn commented on #12221
@etiess https://github.com/owncloud/core/pull/13182 should fix it, maybe you can give it a try? Thanks!

[2015-01-08 20:10] schiesbn commented on #12685
@snake2903 can you try if this PR solves the problem for you: https://github.com/owncloud/core/pull/13182 ? Thanks!

[2015-01-08 20:13] etiess commented on #12221
Sorry, I'm not using encryption anymore, so I unfortunately can't test it :(

[2015-01-08 20:19] minnesotags commented on #12991
I am experiencing the same issue.

[2015-01-08 20:23] tabatabaei commented on #13137
i can't find fastcgi_read_timeout  in php.ini
i dont have any firewall, i use local network
how can i test anyone can send queries directly to PHP without the restrictions provided by your web server.
my local network dont access the internet

[2015-01-08 20:41] powerswitch commented on #12785
Same here, also VM hosted by 1&1. Error occured first in ownCloud 7.0.4 (stable), using webdav. I set the config to read only, which seems to work, but isn't nice at all.

Logs repeat these lines:

    Error	PHP	Use of undefined constant DEBUG - assumed 'DEBUG' at /home/owncloud/apps/ojsxc/appinfo/app.php#13
    Debug	webdav	Sabre\DAV\Exception\NotAuthenticated: No basic authentication headers wer

[2015-01-08 21:09] Xenopathic commented on #13137
Please read my original response - you need to set `fastcgi_read_timeout` in `nginx.conf`. You can find this information in the nginx documentation.

[2015-01-08 21:24] schiesbn commented on #12221
ok, anyway thanks for the feedback.

[2015-01-08 21:28] cdamken opened #13183 "[7.0.4] AD Connection kicked"
### Expected behaviour
Configure 4 LDAP Server and work with them all

### Actual behaviour
Configure 4 LDAP Server and after each server will be randomly disabled

### Steps to reproduce
1. Configure LDAP 1 .... and is active (Green)
2. Configure LDAP 2 .... and is active (Green)
3. Configure LDAP 3 .... and is active (Green) but LDAP 1 or 2 is already disabled (RED)

### Extra notes

We configur

[2015-01-08 23:18] MorrisJobke commented on #13183
@cdamken Is this what you described to me in Nuremberg before chrismas and I couldn't reproduce and then you also couldn't reproduce anymore?

[2015-01-08 23:19] MorrisJobke commented on #13183
@blizzz I guess the problem here lies just in the JS code of the LDAP wizard. Can this be made more robust against context (connection) changes and assistent steps?

[2015-01-08 23:33] #12731 closed

[2015-01-08 23:34] MorrisJobke commented on #12731
@radoeka Yes it is: https://github.com/owncloud/core/blob/master/config/config.sample.php#L517

[2015-01-08 23:34] MorrisJobke commented on #12731
https://github.com/owncloud/core/blob/6a5f12beca175a0b9a951fa844eacfd21a8df3de/config/config.sample.php#L517 <- permanent link

[2015-01-09 00:56] LukasReschke commented on #12991
The error log looks somewhat related to search_lucene:
[code]

@butonic Any idea?

[2015-01-09 01:26] josh4trunks commented on #13178
this future documentation focus mostly on backend stuff, but still useful.

https://github.com/owncloud/documentation/pull/479/files

what database are you using, are your files located locally, or external storage?

[2015-01-09 02:47] AdamWill commented on #13052
So to get *something* helpful done, I drafted up the necessary changes to use JShrink:

https://github.com/owncloud/core/pull/13185
https://github.com/owncloud/3rdparty/pull/149

if it would help I can, as an alternative, draft up the changes to use JSqueeze (which would be along the same lines, but probably with an added Assetic filter called 'JSqueeze2Filter' or so in `lib/private/assetic` , alo

[2015-01-09 03:55] deepakpatiyal commented on #13169
CatLog show nothing when I start upload or when error is displayed after upload

[2015-01-09 06:08] butonic commented on #12991
the lucene error should not prevent the file to be uploaded and can be ignored. nevertheless, the error willl be fixed with oc8 or by using search_lucene v0.6 which is in master

[2015-01-09 06:42] PlumbumDN commented on #13058
Ok, conversion to mysql succeeded and now I´m back decrypting my stuff.
The database doesn´t lock up like sqlite and I get to my normal php limitations after about 8h.

###owncloud.log
[code]
##APACHE error.log
[code]

[2015-01-09 08:19] alekiy commented on #8194
We are facing the same problem. The UID in brackets after the display name would be nice. :+1:

[2015-01-09 08:29] snoocer commented on #13178
Database= mysql
I have external storage and local storage.
Storage-Backend is SSD.
apcu extension used for caching
I use cron to perform backgroud jobs

ty for the quick reply's

[2015-01-09 08:58] frankuit commented on #12591
Today, this problem is occuring again. and it's really wreaking havoc on my mysql server.
Is there anyone who has any idea what can be done about this ? or, can we add a function for admins to clear a trashbin for a specific user as a temp workaround ?

Thanks,
Frank

[2015-01-09 09:30] PVince81 opened #13187 "Remove bogus warning "no reuse of etag!!!""
When uploading/overwrite a file through WebDAV, the following warning/debug message often appears in the log:
[code]

From what I remember this message is harmless, we should look into removing it as it can be misleading.

@icewind1991 can you confirm ?

[2015-01-09 10:04] PVince81 commented on #13024
Do you know if these deleted files were touched/moved ?
Has there be any time / timestamp difference between before the file server shutdown and restore ?

So if I understand well, you have 3 machines:
- an ownCloud server OC
- windows file server A, has a sync client running as user "userA" against OC
- backup server B, has a sync client running as user "userB" against OC
On the OC server, a fold

[2015-01-09 10:14] PVince81 commented on #13040
How many files did you have ? If you have lots of files it can take a while.
To see whether it's still running, check the network console of the browser and see if there is a long-running pending call when you decrypt files (the call is to `decryptall.php`).
If that call is still pending, it means that it's probably still decrypting your files.
If however it is not pending, then check its response

[2015-01-09 10:17] PVince81 commented on #13044
Ok, with "not readable" @johan27hack meant "the file is corrupted".
So this is not related to permissions.

Are you by any chance using mod_fastcgihandler ?
There were reports recently of a bug in that module causing file corruption: https://github.com/owncloud/core/issues/10984#issuecomment-65544867

[2015-01-09 10:19] MorrisJobke commented on #13044
@PVince81 Ah ... you read the error message :D :+1:

[2015-01-09 10:19] PVince81 commented on #13051
@AdamWill you can try using devstack.
First setup an Ubuntu VM and then download the devstack shell scripts that will bootstrap a SWIFT instance.
http://docs.openstack.org/developer/devstack/guides/single-machine.html

This is how I test SWIFT.

[2015-01-09 10:22] Peweuk commented on #13004
Since my last post I have discovered that the problem related to memory usage.
According to my host the app is consuming too much memory - but strangely only when I load contacts - according to the server log.
This is what the log records each time I try to load contacts:
---------
[Fri Jan 09 04:16:42 2015] [error] [client 92.18.100.130] File does not exist: /home2/webi8726/public_html/calendar/5

[2015-01-09 10:24] PVince81 commented on #13004
My personal OC server VM only has 512MB RAM overall and seems to work fine with calendar and contacts.
Do you have lots of users, calendar entries or contacts ?
Not sure what could cause such memory overflow.

[2015-01-09 10:29] PVince81 commented on #13067
Also related: https://github.com/owncloud/core/issues/12015 (to talk about allowing support of special chars for specific storages)

[2015-01-09 10:33] PVince81 commented on #13079
When you say "the folder is shown as empty", do you mean:
1) The folder appears with a size of 0 bytes ?
2) Entering the folder shows an empty folder with the message "No files here, upload something!" ?
3) or: entering the folder shows a spinner and it takes forever ?

If 1) or 3) I suspect that the scanner might still be running, trying to index the lots of files inside that folder. After a whil

[2015-01-09 10:35] PVince81 commented on #13089
To clarify, the logs tells that it's a server to server share (a remote share), which is what @derkostka meant with "ownCloud share".

Maybe the saved credentials for the remote share aren't valid any more or corrupt ?

@derkostka did that remote share have a password set ?

[2015-01-09 10:36] PVince81 commented on #13098
Ok, will do.
Schedule for 8.1-next ?

[2015-01-09 10:37] Peweuk commented on #13004
This problem occurs with all 3 versions of OC (7.0.2/7.0.3/7.0.4) and there are only
416 calendar entries
45 Contacts
1 User
I have no other processes running on the server (none that I am aware of and according to my host).

I disabled all apps in OC (except for Calendar and Contacts) and this improved the number of occasions that the contacts section loads fully - down from about 1 in 12 attaemp

[2015-01-09 10:39] PVince81 commented on #13109
Does the remote server have a valid SSL certificate ?

[2015-01-09 10:43] PVince81 commented on #13112
I think it should be possible to quickfix this as @jancborchardt said.
Just keep the current page (no ajax load of descriptions) but add a CSS class "collapsed" that collapses the descriptions by default.
Then when clicking on "..." or whichever button to expand, it would just toggle the "collapsed" class.

I don't think we need complex JS, unless you want to make the collapsing conditional ? Can

[2015-01-09 10:48] PVince81 commented on #13117
Here is an explanation for the version expiration logic: http://doc.owncloud.org/server/7.0/user_manual/files/versioncontrol.html?highlight=versions

Maybe at some point we should provide a way to force-clear old versions from the command line ?

[2015-01-09 10:50] PVince81 commented on #13133
The reason why error messages are hard to read in the log is because the log is in JSON format, so many characters need to be escaped.

[2015-01-09 10:52] PVince81 commented on #13147
CC @butonic @icewind1991

[2015-01-09 10:56] SPQRInc commented on #12991
Hi,
the permissions are correct.

"G-DRIVE mobile with Thunderbolt" is an external Thunderbolt-HDD. There is a directory for the OC-Data.

I don't know if Thunderbolt locks files when accessed from multiple clients. Shouldn't that be a question of the filesystem and not a question of the connection-type?

I do not use the external storage app. Do I have to?

[2015-01-09 10:57] PVince81 commented on #13169
Are you able to upload files using WebDAV or the desktop sync client ? (to rule out Android issues)
The Android client uses WebDAV, so there's a chance that the problem is with WebDAV.

[2015-01-09 10:59] PVince81 commented on #13176
Is there a common pattern for the non-deletable files ?
Are these big files ? (which maybe take too long to be copied to the trashbin and run into a timeout that kills the process)

[2015-01-09 11:02] Uldosphere opened #13189 "Single quotes not escaped when fetching files from mounted volume"
I'm having trouble syncing files on my local drive when filenames contains a single quote and are issued from my GoogleDrive mounted volume.

Windows client crash :
11:52     Gdrive/Documents/StBruno - Oenologie/2014 - Novembre - Alsace/CREMANT D'ALSACE.pdfownCloud       Error downloading https://cloud.uldosphere.org/remote.php/webdav/Gdrive/Documents/StBruno - Oenologie/2014 - Novembre - Alsace/C

[2015-01-09 12:02] jancborchardt commented on #12927
Here you go: https://github.com/owncloud/core/pull/13191

[2015-01-09 12:13] jancborchardt commented on #13112
(Not only clicking on `…` should trigger expanding the description, but clicking on the description itself as well. As I said above.)

[2015-01-09 12:16] #12927 closed

[2015-01-09 12:32] MorrisJobke commented on #13189
@Uldosphere Can you post the error in owncloud.log or the apache error log. That would help a lot to spot the code where the error occurs

[2015-01-09 12:32] MorrisJobke commented on #13189
cc @PVince81 You recently had a look at the files_external stuff

[2015-01-09 12:33] maste9 commented on #12725
@PVince81 In my case it's been only brand new files. All existing files could be altered and overwritten without failure. I today tried to create and sync two simple text-files in main folder and subfolder which worked properly. I then tried to copy two image-files simultanouesly into subfolder which suprisingly again worked.
So at the moment I cannot willingly reproduce failure and will report if

[2015-01-09 12:53] MorrisJobke commented on #11412
Fix is in https://github.com/owncloud/files_texteditor/pull/53

[2015-01-09 12:58] kwillems commented on #11400
Is there any news on this one? The problem still occurs and is very annoying.

[2015-01-09 13:17] #12506 closed

[2015-01-09 13:17] Uldosphere commented on #13189
@MorrisJobke sure, here is owncloud.log on the previous defectuous file :

{"app":"remote","message":"Error calling GET https:\/\/www.googleapis.com\/drive\/v2\/files?q=title%3D%27CREMANT%20D%27ALSACE.pdf%27%20and%20%270BxrinKTGJnPab0ROVjdJbkVhUlE%27%20in%20parents%20and%20trashed%20%3D%20false: (400) Invalid Value","level":4,"time":"2015-01-09T11:13:44+00:00"}

[2015-01-09 13:24] MorrisJobke commented on #12506
This will be shipped with ownCloud 8.0

[2015-01-09 13:39] MorrisJobke commented on #11995
Fixed in #12011

[2015-01-09 13:39] #11995 closed

[2015-01-09 13:50] dttpy opened #13193 "can not upload changed shared file via syncclient with only change permissions"
### Steps to reproduce
1. log in with admin account
2. create a user "user1"
3. create a folder "sharetest"
4. share the folder "sharetest" with user1, but with only "change" permission
5. go into "sharetest" and create a text file "permissiontest.txt"
6. set syncclient account for user1
7. open the local "data" folder for user1
8. go into "sharetest" and open "permissiontest.txt"
9. make some cha

[2015-01-09 13:51] dttpy commented on #13193
@PVince81

[2015-01-09 13:52] nazar-pc commented on #13176
No, this is small source code file few kiB, sometimes few bytes, all files are of such size.

[2015-01-09 14:08] brantje opened #13194 "OCP\User::getDisplayName() not returning external users"
OCP\User::getDisplayName() does not return the Display name for an external user.

I'm using IMAP backend.
The user display name is stored in oc_users_external, so i think its a little fix.

OS:
Elementary OS

owncloud git (master)
mysql

Nothing in the log's (both web and owncloud)

I rather not post my config (since my mail server detail are in it) but this is in the oc_users_external (its only

[2015-01-09 14:09] DeepDiver1975 commented on #6102
@danimo I guess we can close this in favor of https://github.com/owncloud/core/issues/12015

[2015-01-09 14:12] simne7 commented on #12802
I noticed the same issue after updating from 7.0.2. to 7.0.4 (via Updater). But I don't know if it results form the update.

working link from files app
https://xx.xx.de/index.php/apps/files/ajax/download.php?dir=%2Fpath%2Fto%2Ffolder&files=file.zip

link from "shared by link" (broken)
https://xx.xx.de/index.php/apps/files/ajax/download.php?dir=files%2Fpath%2Fto%2Ffolder&files=file.zip

As you not

[2015-01-09 14:12] DeepDiver1975 commented on #6079
I'm highly uncertain if this is still needed -> backlog

[2015-01-09 14:14] DeepDiver1975 commented on #13143
refs https://github.com/owncloud/core/issues/5868

[2015-01-09 14:15] DeepDiver1975 commented on #5868
@MorrisJobke please have a look once you work on user management for 8.1 - THX

[2015-01-09 14:22] PVince81 commented on #12976
Fix is here: https://github.com/owncloud/core/pull/13195

[2015-01-09 14:23] tflidd commented on #12725
I also experienced it with a new file. I copied some files into a folder before Christmas but one file failed (error with last chunk). In the client-log I have this message:
[code]
All files perfectly synced except this one. It contains some spaces in the name. I removed the spaces, then the file synced, I renamed it back to it's initial name and it was renamed.

I still have the original file. I

[2015-01-09 14:25] DeepDiver1975 commented on #5021
@jancborchardt covered by your recent work regarding accessibility? THX

close or move to 8.1 milestone please - THX

[2015-01-09 14:25] PVince81 commented on #5491
Just observed a similar case today on master:
1. user1 shares "test" with user2
2. user2 shares "test" with user3
3. user3 shares "test" with user1

Now user1 has two folders "test" and "test (2)" with the same contents.
If you move then rename "test (2)" you can use it almost like a symlink/hardlink :wink:

[2015-01-09 14:26] DeepDiver1975 commented on #4944
moving this to the backlog - neither critical nor broken at the moment

[2015-01-09 14:26] PVince81 commented on #5491
There was a discussion to change how reshare works: https://github.com/owncloud/core/issues/9058
Basically have a single list of people who have access to the folder instead of having a reshare chain.

[2015-01-09 14:27] nickvergessen commented on #13194
So apparently the call against the database is using an empty backend string.
The problem seems to be in the user manager somewhere? @icewind1991

[2015-01-09 14:27] DeepDiver1975 commented on #4936
@dragotin @danimo something to think about these days?

[2015-01-09 14:30] DeepDiver1975 commented on #4437
@jancborchardt anything missing in here?

please either close or move to 8.1-next - THX

[2015-01-09 14:31] DeepDiver1975 commented on #4333
@jancborchardt close or 8.1? THX

[2015-01-09 14:32] #11401 closed

[2015-01-09 14:32] MorrisJobke commented on #4333
8.1

[2015-01-09 14:32] xificurk commented on #13143
I think introducing FK into database schema is a good idea, it would solve a lot of headaches with data consistency.
MyISAM FK support can be (with some limitations) simulated by triggers. Imho the usage of MyISAM should be generally discouraged in favor of better db engines (mysql innodb, postgresql).

[2015-01-09 14:32] DeepDiver1975 commented on #11401
prs got merged - thx @icewind1991 @MorrisJobke

[2015-01-09 14:33] DeepDiver1975 commented on #9474
@PVince81 8.0, 8.1 or backlog? THX

[2015-01-09 14:33] DeepDiver1975 commented on #9465
moving to backlog -> not critical

[2015-01-09 14:34] PVince81 commented on #9474
I'd say backlog for now. I don't see this as high priority.

[2015-01-09 14:34] icewind1991 commented on #13194
Cant reproduce with master, the displayname is properly shown in the ui

[2015-01-09 14:34] DeepDiver1975 commented on #9429
@icewind1991 was anything taken care of within the scope of oc8? THX

[2015-01-09 14:35] DeepDiver1975 commented on #9353
@blizzz close, 8.0 or 8.1 ? THX

[2015-01-09 14:36] nickvergessen commented on #13194
@icewind1991 seems like it does not work in the activity app (which uses `\OCP\Util::getDisplayName()`)

[2015-01-09 14:36] #9337 closed

[2015-01-09 14:37] DeepDiver1975 commented on #9337
@VicDeo  please reopen if this is still necessary/relevant - THX

[2015-01-09 14:39] DeepDiver1975 commented on #9227
higher level js framework have their own machanism - we need to make sure they do not intercept -> backlog, let's grab it if we need it @PVince81

[2015-01-09 14:39] LukeOwncloud opened #13197 "Only one plugin active at a time?"
I am working on a plugin which sends change notifications via long polling.

I created a route in ```routes.php``` to my poll controller similar to this:

    $this->create('PollController', '/poll')->actionInclude('web_hooks/PollController.php');

```PollController.php``` is obviously contains a blocking function call.

Problem here: As long as one instance of ```PollController.php``` is running,

[2015-01-09 14:40] MorrisJobke commented on #11062
[code]
@Ange7 You tried to upgrad from ownCloud 5 to 7. This is not supported. Please upgrade to ownCloud 6 first.

See this thread:
https://mailman.owncloud.org/pipermail/user/2015-January/001028.html
https://mailman.owncloud.org/pipermail/user/2015-January/001029.html

Please also verify to not use the owncloud package from the debian repo but rather the one from the OBS as this are the official

[2015-01-09 14:40] #11062 closed

[2015-01-09 14:43] PVince81 opened #13198 "Reshare with link when no update permission was given"
### Steps to reproduce
1. Create two users "user1" and "user2"
2. As "user1" create a folder "test"
3. Share "test" with "user2" but remove the "update" permission
4. Login as "user2"
5. Share "test" with link
6. Click "Allow editing"

### Expected result
At step 5, the "Allow editing" checkbox must NOT be visible

### Actual result
The "Allow editing" checkbox is visible.
When clicked, a popup er

[2015-01-09 14:44] blizzz commented on #9353
8.1, nothing urgent

[2015-01-09 14:46] icewind1991 commented on #13194
Also works for me in the activity app (sharing from IMAP user to local user shows the displayname in the local user's activity)

[2015-01-09 14:46] icewind1991 commented on #9429
No

[2015-01-09 14:47] LukasReschke opened #13199 "Drag-and-Drop upload in master is not working over empty space"
With master as of today the drag-and-drop upload is not working over empty space, this is a regression as this worked in ownCloud 7.

![2015-01-09_15-43-29](https://cloud.githubusercontent.com/assets/878997/5681210/b8d460c8-9816-11e4-96d4-31a219ef7850.png)

@jancborchardt FYI

[2015-01-09 14:48] PVince81 opened #13200 "Remove update permission on original share still keeps it in link reshare"
### Steps to reproduce
1. Create two users "user1" and "user2"
2. "user1" shares a folder "test" with "user2" with all permissions
3. "user2" reshares "test" with link and allows editing
4. "user1" changes the permissions of the share: remove the "update" permission
5. Open the link share
6. Try uploading files

### Expected result
The link share should NOT allow upload, as the parent permissions

[2015-01-09 14:59] PVince81 opened #13201 "Reducing share permissions doesn't propagate over reshares"
### Steps to reproduce
1. Create three users: "user1", "user2", "user3"
2. "user1" shares a folder "test" with "user2" with all permissions
3. "user2" reshares "test" with "user3" with all permissions
4. "user1" removes the "update" permission from "test"
5. "user3" uploads a file into "test"

### Expected result
"user3" cannot upload to "test", as the permissions have been reduced.

### Actual re

[2015-01-09 15:01] MorrisJobke commented on #10942
Sounds like a permission issue of the template file that is copied over.

I will close this ticket here. If this is still a problem please reopen it in the template_editor issue tracker. https://github.com/owncloud/templateeditor/issues

[2015-01-09 15:01] #10942 closed

[2015-01-09 15:03] MorrisJobke commented on #10923
@sthag The usage of the maintenance mode is crucial and the web upgrade page does it and the ./occ upgrade command also does it.

[2015-01-09 15:03] #10923 closed

[2015-01-09 15:04] MorrisJobke commented on #10923
Feel free to comment if this is still a problem for you with enabled maintenance mode. Thanks.

[2015-01-09 15:04] DeepDiver1975 commented on #13199
@PVince81 @icewind1991 can you please have a look? THX

[2015-01-09 15:05] DeepDiver1975 commented on #9429
thx - moving to 8.1 then

[2015-01-09 15:05] MorrisJobke commented on #10921
@butonic feel free to remove the "needs info" label if @PVince81 steps are the ones you meant

[2015-01-09 15:06] SPQRInc commented on #13193
Maybe related to this? https://github.com/owncloud/core/issues/12991

[2015-01-09 15:08] PVince81 opened #13202 "Refactor/fix share permission masking mess"
When sharing or resharing, permissions need to be computed based on different criterion:
1) reshare permissions are computed based on the parent share permissions
2) a shared folder must always be unsharable from self: so it has an extra DELETE permission
3) ext storage mount points have extra permissions that need to be computed
4) remote shares have different permissions
5) link shares ... based

[2015-01-09 15:08] blizzz commented on #8194
There's another problem. If there are severl Thomas Müllersens and they are differentiated  in the share dialogue, that's fine. But names are also shown when they share files with you. In that case you need the detail as well, and/or the avatar, but at that point of time we do not know about name collisions.

[2015-01-09 15:08] DeepDiver1975 commented on #13197
Most probably other requests are blocked because the session is locked - close the session in the controller - there is an annotation for it meanwhile

[2015-01-09 15:08] PVince81 commented on #13199
This is likely due to recent changes to CSS where the file list container / drop container isn't taking the whole page.

[2015-01-09 15:10] MorrisJobke commented on #10916
Duplicate of #11797

[2015-01-09 15:10] #10916 closed

[2015-01-09 15:14] kiswap opened #13203 "unable to delete files from trash if there is a lot of files in it"
If you have several files in trash (100G+) then it is impossible to delete them permanently because:
apps/files_trashbin/lib/trashbin.php line:~889
$storage->getScanner()->scan('files_trashbin');
forces to rescan path which takes a lot of time. It causes webserver to hang without notifying the user.
commenting out that line results in quick file deletions, but the db operations (delete from fileca

[2015-01-09 15:14] MorrisJobke commented on #10914
@britai Did an upgrade to ownCloud 7 fix the issue for you?

@PVince81 Looks like the MySQL collation issue, right?

[2015-01-09 15:15] MorrisJobke commented on #10898
@thetrial Can you provide the requested information? Thanks

[2015-01-09 15:23] MorrisJobke commented on #10879
@PVince81 Can you create those tickets? Thanks

[2015-01-09 15:24] MorrisJobke commented on #10872
@PVince81 Ping

[2015-01-09 15:28] thetrial commented on #10898
Sorry, sorry folks. No, at the moment I have two concurring problems, first: no time and second: the Raspi including OC had recently failed. I just restore the system to a new card. But the first test run showed the same problem. So, when I find time, I’ll try to look for the logs. Maybe you can tell me where I should look exactly for?

Maybe one clue: If something like that happens often or every

[2015-01-09 15:30] MorrisJobke opened #13206 "HTTP links are send in share mail if reverse proxy is used and the webserver just uses HTTP"
* HTTPS links to the reverse proxy should be send.

@finius wrote in https://github.com/owncloud/core/issues/10838#issuecomment-54432238

But we faced now, that the URLs in the notification mails are mixed up with https and http links:
The "logo-mail.gif" is always a http-link - regardless of what in "overwriteprotocol" is defined. The URL link to the shared file itself is just http, when ownCloud

[2015-01-09 15:30] MorrisJobke commented on #13206
cc @LukasReschke You know that fancy reverse proxy and overwritehost config stuff. Did you ever tried the notification mail and verified the URL?

[2015-01-09 15:31] MorrisJobke commented on #10838
@finius I opened a ticket for your new issue: #13206

I will close then, as it is solved

[2015-01-09 15:31] #10838 closed

[2015-01-09 15:33] MorrisJobke commented on #10795
@LukasReschke The label box is quite red ;) Maybe you find time somehow to fix this. Thanks

[2015-01-09 15:34] MorrisJobke commented on #10765
@schiesbn Do you mind to enhance the log output to provide better information?

[2015-01-09 15:35] LukasReschke commented on #10795
That requires a refactoring of the auth logic which is on my todo for 8.1 – I already have a local branch but due to the user mgmt features this couldn't get finished in time.

[2015-01-09 15:38] LukasReschke commented on #13206
I wonder how that is possible.

The URL is constructed using `OC_Helper::makeURLAbsolute` which is a fallback of `\OCP\IURLGenerator::getAbsoluteURL`. That function itself uses `\OC_Request::serverProtocol` to get the protocol which actually considers `overwriteprotocol` from the config.

[code]

With a custom protocol such as `foo` returns a `foo://` URL on stable7 and master.

[2015-01-09 15:38] MorrisJobke commented on #4986
@schiesbn Is this a duplicate of #10010 . Please close then.

@MTRichards #10010 is the issue your refer, isn't it?

[2015-01-09 15:39] jancborchardt commented on #8194
So – can we show the avatars next to the name? Both in the share dialog and in the autocomplete dropdown would be good.

[2015-01-09 15:40] LukasReschke commented on #13206
My best bet is that the person borked it's `overwritecondaddr` setting which results in `\OC_Request::isOverwriteCondition` returning `false`.

[2015-01-09 15:40] jancborchardt commented on #4944
Yep – something we _could_ think about for the future. But backlog is ok since it would be quite a big change.

[2015-01-09 15:41] jancborchardt commented on #4437
Yep, all the original items are done. Other issues are tracked separately.

[2015-01-09 15:41] #4437 closed

[2015-01-09 15:42] jancborchardt commented on #4333
Yeah, no close since it’s not done and it would be a very good addition to make sharing easier.

[2015-01-09 15:42] MorrisJobke commented on #9146
@MU7L3Y As this is now a completely different issue you have. Can you please reopen a new ticket for that one and provide the information requested by the issue template https://github.com/owncloud/core/blob/master/issue_template.md

Thanks

[2015-01-09 15:42] #9146 closed

[2015-01-09 15:43] jancborchardt commented on #9465
I’d say 8.1 since it’s lack of polish and doesn’t seem particularly difficult to fix.

[2015-01-09 15:45] jancborchardt commented on #5021
This specific issue in the Calendar has been fixed. The links are now in input fields to make them easier to copy.

When there are other issues of links not being visible, please let us know in new issues. :)

[2015-01-09 15:45] #5021 closed

[2015-01-09 15:46] MTRichards commented on #4986
Related but not the same.  Could be the same underlying issue though.

[2015-01-09 15:51] sbelov1 commented on #13151
@blizzz thanks. Having the prospects run those commands. Will update you as soon as I hear back.

[2015-01-09 15:58] PVince81 opened #13207 "Resharing locally remote share doesn't work"
### Steps to reproduce
1. Setup two OC instances: OC A and OC B
2. On OC A create two users "user1" and "user2"
3. Create a link share in OC B for a folder "test"
4. As "user1" mount the link share in OC A as remote share (server to server sharing)
5. Share "test" with "user2"
6. Login as "user2" and browse "test"
7. As "user1" create a link share based on "test" and open it

### Expected result
"

[2015-01-09 16:16] LukasReschke opened #13209 "Cache AppStore responses"
The AppStore is currently queried everytime you open the apps pages which can result in a major performance drawback. It may be sensible to cache the response for some timeframe.

[2015-01-09 16:43] MorrisJobke commented on #10718
@PVince81 Where you able to find the problem here?

[2015-01-09 16:47] jon-tlmi commented on #4031
ack. Sleep deprivation. I'd copied over the css file from /core and not deleted the relevant parts. This works fine..
What's the markdown for a facepalm?

[2015-01-09 16:48] LukasReschke opened #13211 "Add array key implementation for memcache"
From https://github.com/owncloud/core/pull/13192#discussion_r22715801:

[2015-01-09 16:48] LukasReschke commented on #13211
@nickvergessen @Xenopathic FYI

[2015-01-09 16:51] MorrisJobke commented on #4031
:dizzy_face: :palm_tree: ? :smiley:

[2015-01-09 17:01] MorrisJobke commented on #10589
@schiesbn Ping

[2015-01-09 17:02] MorrisJobke commented on #10582
@schiesbn ping

[2015-01-09 17:03] MorrisJobke commented on #10582
@schiesbn Feel free to ask the questions.

[2015-01-09 17:04] MorrisJobke commented on #10203
@icewind1991 Ping

[2015-01-09 17:05] #12976 closed

[2015-01-09 17:07] RealRancor commented on #13209
Hi,

this could also fix https://github.com/owncloud/core/issues/11809

[2015-01-09 17:15] MorrisJobke commented on #13206
Doesn't seem so:
[code]

[2015-01-09 17:28] PVince81 commented on #13201
This is not a regression, OC 6 and OC 7 also have the issue.
According to @schiesbn this issue likely has existed since the dawn of the sharing feature.

If we decide on introducing single list shares (https://github.com/owncloud/core/issues/9058) such issues would be obsolete.