[2015-09-21 14:40] freakyy85 commented on #18093
i got the same problem.
ownCloud or one of the apps require upgrade - only a limited number of commands are available
Turned on maintenance mode
Checked database schema update
Checked database schema update for apps
Updated database
Updating <music> ...
Doctrine\DBAL\Exception\TableNotFoundException: An exception occurred while executing 'DELETE FROM `oc_music_scanned_users`;':

SQLSTATE[42S02]: B

[2015-09-21 14:40] rullzer commented on #12289
@PVince81 yes it is done. But we still need a way to handle the unauthenticated case (i.e. a server checking if another server supports server 2 server sharing.) But that is not the original case of this issue.

Could you raise a ticket for the unauthenticated case (on my phone right now)?

[2015-09-21 14:40] #12289 closed

[2015-09-21 14:43] PVince81 commented on #14536
tech debt => 9.0

[2015-09-21 14:45] PVince81 opened #19228 "Advertise federation capability"
For the authenticated case, there is the capabilities API.

But for cases without login, we might want to allow servers to advertise the fact that they support federation.

@rullzer

[2015-09-21 14:45] PVince81 commented on #12289
@rullzer raised here https://github.com/owncloud/core/issues/19228
But need to discuss why we'd need that.

[2015-09-21 14:46] PVince81 commented on #14604
Move to 9.0?

[2015-09-21 14:47] PVince81 commented on #14634
IE8 still has to be supported unfortunately and we're past feature freeze => 9.0

[2015-09-21 14:47] DeepDiver1975 commented on #14888
moving to backlog - I honestly don't see any proper solutions

[2015-09-21 14:48] PVince81 commented on #14663
Did we make any epic progress ? :wink:

Moving to 9.0 to continue

[2015-09-21 14:50] PVince81 commented on #14666
8.2 makes the symphony event dispatcher public, which opens new possibilities, see https://github.com/owncloud/core/pull/18316

The activity app for example already uses an event triggered by the files app to load files-specific JS code. https://github.com/owncloud/activity/blob/master/lib/fileshooksstatic.php#L43

Should we close this ticket or is there anything else to add ?
Moving to 9.0 in the

[2015-09-21 14:50] RealRancor commented on #18093
@freakyy85 Please use a current version of the music app (v0.3.7) which should already include a fix for this (See https://github.com/owncloud/core/issues/18093#issuecomment-130460383)

If this still doesn't fix your issue create a new issue at https://github.com/owncloud/music/issues and fill out the issue template (https://github.com/owncloud/music/blob/master/CONTRIBUTING.md#short-version) when

[2015-09-21 14:51] PVince81 commented on #14803
Moving to 9.0

[2015-09-21 14:51] PVince81 commented on #14827
@Pantek59 did you manage to reproduce it ?

[2015-09-21 14:52] PVince81 commented on #14847
@LukasReschke the PR https://github.com/owncloud/core/pull/14880 was merged, is there anything left to do ?

[2015-09-21 14:53] PVince81 commented on #14893
@flasheater any more luck with 8.1.3 ?

[2015-09-21 14:54] LukasReschke commented on #14847
The dummy backend is still there. - Kill / defer / ignore?

[2015-09-21 14:56] PVince81 commented on #15030
lol wut ?

Replacing INF with another value makes sense, not sure about PHP_INT_MAX though.

[2015-09-21 14:56] PVince81 commented on #15037
Moving to 9.0

[2015-09-21 14:57] pludi commented on #19209
I'm not an complete expert here, but AFAIK as soon as you have `Replaces` in there you can leave out `Breaks` and/or `Conflicts`. So far I've only seen `Replaces` with `Breaks` if a package was split into multiple packages (eg. from one package into platform dependend and independent packages), and `Conflicts` for packages providing the same service (eg. MTAs or web servers).

I'd have suggested a

[2015-09-21 14:58] PVince81 commented on #15045
Closing due to lack of info.
Please follow the discussion in https://github.com/owncloud/core/issues/13980#issuecomment-73511661 which might help you make a decision on how to fix the warning.

[2015-09-21 14:58] #15045 closed

[2015-09-21 14:59] PVince81 commented on #15084
@blizzz how to move forward ?

[2015-09-21 14:59] khlem commented on #13456
New test :
OC version 8.1.3 (my test version)
External drive : SMB/CIFS OC (folder shared in Windows 2008R2)
Ldap integration

OC_storages :

home::E1F6E487-4501-4717-B214-62769493E5F1
22
local::/var/www/owncloud/data/
24
smb::xxxx@archi-data//data//
23

Modification of icewind : smb_oc (add the domain) and server.php (fr_FR_utf8).

I try with the cmd ./occ files:scan (LDAP UID - specific user).
F

[2015-09-21 15:09] PVince81 commented on #13456
@khlem does the files:scan now enter all folders ?

[2015-09-21 15:09] Xenopathic commented on #19210
The linked issues (and what @DeepDiver1975 mentioned) is about using Lighttpd to run ownCloud, but as I understand it you want to use a Lighttpd WebDAV external storage, similar to how one could use Apache's mod_dav as an external storage. There is no reason why this shouldn't be supported, assuming the WebDAV implementation is standards compliant. Given that Nautilus and Cadaver work with it, it

[2015-09-21 15:11] PVince81 commented on #15189
@razyr any more luck with 8.1.3 and sync client 2.0.1 ?

[2015-09-21 15:12] Berndinox commented on #17731
With HHVM latest + Ubuntu 14.04 it does not work:

i tried:
'''
'memcache.local' => '\OC\Memcache\Redis',
'filelocking.enabled' => 'true',
'memcache.distributed' => '\OC\Memcache\Redis',
'memcache.locking' => '\OC\Memcache\Redis',
'redis' => array(
'host' => 'localhost',
'port' => 6379,
'timeout' => 0.0,
'dbindex' => 0,
),
'''
blank screen!

and with:
// ''''memcache.local' => '\OC\Memcache\Redis'

[2015-09-21 15:12] PVince81 commented on #15242
Moving this enhancement to 9.0

@MTRichards @cmonteroluque

[2015-09-21 15:12] PVince81 commented on #15242
CC @tomneedham

[2015-09-21 15:12] khlem commented on #13456
Nop

root@owncloud:/var/www/owncloud# sudo -u www-data php occ files:scan E1F6E487-4501-4717-B214-62769493E5F1

Scanning file   /E1F6E487-4501-4717-B214-62769493E5F1/
Scanning folder /E1F6E487-4501-4717-B214-62769493E5F1/
Scanning file   /E1F6E487-4501-4717-B214-62769493E5F1/files
Scanning file   /E1F6E487-4501-4717-B214-62769493E5F1/cache
Scanning file   /E1F6E487-4501-4717-B214-62769493E5F1/file

[2015-09-21 15:13] PVince81 commented on #15308
8.2 says goodbye dropdowns

[2015-09-21 15:13] PVince81 commented on #15319
@LukasReschke any update ?

[2015-09-21 15:14] select commented on #19210
This is completely true, maybe confusing since I got lighttpd running on both servers. I now managed to get it working with owncloud on the external lighttpd but I would like to help you if you need support with some test of the lighttpd WebDAV setup, e.g. more litmus output.

[2015-09-21 15:14] PVince81 commented on #13456
Hmmm... can you try with `occ files:scan --all` or `occ files:scan --path /E1F6E487-4501-4717-B214-62769493E5F1/files/` ?

[2015-09-21 15:15] PVince81 commented on #13456
@icewind1991 it is likely that mounting external storage during scan doesn't work properly with LDAP ?

[2015-09-21 15:16] khlem commented on #13456
root@owncloud:/var/www/owncloud# sudo -u www-data php occ files:scan --path /E1F6E487-4501-4717-B214-62769493E5F1/files
Scanning file   /E1F6E487-4501-4717-B214-62769493E5F1/files
Scanning folder /E1F6E487-4501-4717-B214-62769493E5F1/files
Scanning file   /E1F6E487-4501-4717-B214-62769493E5F1/files/ownCloudClientManual.pdf
Scanning file   /E1F6E487-4501-4717-B214-62769493E5F1/files/README.txt
Scan

[2015-09-21 15:18] Xenopathic commented on #19210
So what is your current setup now? What web server is used to run ownCloud?

[2015-09-21 15:18] PVince81 commented on #15452
I'd expect the next call to "getstoragestats.php" (which happens often) would make it disappear.

[2015-09-21 15:19] PVince81 commented on #15460
or https://github.com/owncloud/core/issues/18804

[2015-09-21 15:20] PVince81 commented on #15518
@LukasReschke move to 9.0 ?

[2015-09-21 15:21] PVince81 commented on #15614
Moving to 9.0 as we're past feature freeze

[2015-09-21 15:23] nickvergessen commented on #15460
or use install.php and update.php

That should be enough for the moment, close?

[2015-09-21 15:23] select commented on #19210
On my main server I run
[code]
and on my external storage i run
[code]
with mod_webdav and the setup described above.

[2015-09-21 15:24] PVince81 commented on #15647
@icewind1991 didn't you have a PR for this already ? Or maybe I mixed it up with something else.

[2015-09-21 15:24] PVince81 commented on #15656
@blizzz any update ?

[2015-09-21 15:25] PVince81 commented on #15460
Makes sense

[2015-09-21 15:25] #15460 closed

[2015-09-21 15:25] Xenopathic commented on #19210
@select As stated above, ownCloud does not support running on Lighttpd. I believe that the issue here is more fundamental than just that though, but we have to start with a working base installation.

[2015-09-21 15:26] icewind1991 commented on #983
Implemented this over the weekend: https://github.com/icewind1991/files_live_reload

Using eventsource in combination with a memcache based buffer

[2015-09-21 15:28] select commented on #19210
Well i can not run anything else on my vserver since it only hast 265 MB RAM, and I really doubt that the WebDAV connection has anything to do with the server setup. It is much more likely a  communication problem from the WebDAV lib with the external WebDAV server.

[2015-09-21 15:29] smu commented on #13591
Will this tool allow to decrypt files in locations different from the users data directory, for instance, from a backup?

[2015-09-21 15:29] PVince81 commented on #15754
@oparoz still happens with 8.2 ?

[2015-09-21 15:30] select commented on #19210
@Xenopathic I could ceate an account on my server so you can test with a different setup if you want to. Can only do it tonight though.

[2015-09-21 15:36] PVince81 commented on #15807
@jvillafanez is this still happening in 8.1.3 or 8.2 beta?

[2015-09-21 15:37] PVince81 commented on #15821
you forgot to close, closing.

[2015-09-21 15:37] #15821 closed

[2015-09-21 15:37] PVince81 commented on #15836
@blizzz any update ?

[2015-09-21 15:39] PVince81 commented on #15858
@schiesbn @nickvergessen @rullzer possibly still an issue in 8.2 beta ?

[2015-09-21 15:40] jmeile commented on #19134
I would say this is actually an enhancement. As far as I know, this is a problem with "HTTP Basic authentication" and not with OwnCloud

[2015-09-21 15:41] PVince81 commented on #15909
@icewind1991 asked me to raise this for him after reviewing etag propagation.
I'm not sure whether the message is harmless or could hide further potential logic issues.

[2015-09-21 15:42] PVince81 commented on #15943
@schiesbn and from what I heard you saying when I asked, this will continue to be the case in 8.2 even with the encrypt/decrypt CLI tool.

Should we keep this enhancement to implement versions encryption in the future or won't fix ?

[2015-09-21 15:42] PVince81 commented on #15943
@MTRichards @cmonteroluque

[2015-09-21 15:43] icewind1991 commented on #15647
https://github.com/owncloud/core/pull/17811 does chunk assembly direct on the storage

[2015-09-21 15:44] PVince81 commented on #16068
The advantage of having 3 is being able to detect that no upgrade has happened at all. Unless this can be detected by grepping the output ?

[2015-09-21 15:45] icewind1991 commented on #15030
int_max seems fine to me

[2015-09-21 15:45] PVince81 commented on #16082
Still happening on master (8.2 beta)

[2015-09-21 15:48] PVince81 commented on #15647
Right, that was the one. I was confused because it combined the lock fix as well.

Closing.

[2015-09-21 15:48] #15647 closed

[2015-09-21 15:48] icewind1991 commented on #13456
Not for any reason I'm aware of

[2015-09-21 15:49] PVince81 commented on #16163
We're past feature freeze => 9.0

[2015-09-21 15:49] oparoz opened #19230 "After clicking new + text file, the text editor should open"
### Description

As a user, I click on the "+" button to create a file I will use immediately.
Opening the text editor right after I've created a text file would save me one click and impress my friends about the usability of ownCloud.

### Acceptance criteria

* User clicks +, file is created, files is opened in text editor (if installed)
* The editor should only automatically open for media type

[2015-09-21 15:49] PVince81 commented on #16163
PR is here https://github.com/owncloud/core/issues/18475 for APCu

[2015-09-21 15:49] PVince81 commented on #16164
9.0 ?

[2015-09-21 15:50] PVince81 commented on #16191
@Dianafg76 @rullzer does it still happen in the sidebar on 8.2 beta ?

[2015-09-21 15:52] PVince81 commented on #16251
Short term the update button should return a special response that tells the UI to redirect to the update page.

Long term, the update button should attempt the database update directly, with additional failsafe mechanism that re-disable the app in case of "total breakage".

[2015-09-21 15:53] PVince81 commented on #16251
not only the update button actually, "enable" can have the same effect if the app was previously enabled with an older database.

[2015-09-21 15:54] PVince81 commented on #16251
Setting to high as this causes bad UX and is quite a common situation, especially after reenabling third party apps after a core update.

[2015-09-21 15:55] PVince81 commented on #16267
@jvillafanez were these google docs files (office files) or generic files ?
I think I saw some issues that google docs' own file sometimes cannot be retrieved properly, or had no extension.

[2015-09-21 15:56] PVince81 commented on #16300
Seems everything was merged ? Is there anything left for this task @VicDeo ?

[2015-09-21 15:57] #19219 closed

[2015-09-21 15:58] PVince81 commented on #16301
@VicDeo anything left to do for this task ?

[2015-09-21 15:59] PVince81 commented on #16346
@rullzer @nickvergessen any update ?

[2015-09-21 16:02] PVince81 commented on #16407
General ticket: sort out external storage update issues: https://github.com/owncloud/core/issues/11797

[2015-09-21 16:03] karlitschek commented on #19214
Yes. This is critical

[2015-09-21 16:03] PVince81 commented on #16478
dangerous territory, and unfortunately a risk to touch that past feature freeze => 9.0

[2015-09-21 16:12] jancborchardt commented on #18897
@nickvergessen Personal and Admin do not have search, so this is a non-issue.

Actually we should have search there, see https://github.com/owncloud/core/issues/16875
And when there is search there, it should work exactly like Chrome settings search, making it way better than Ctrl+F itself.

[2015-09-21 16:50] khlem commented on #13456
it is likely that mounting external storage during scan doesn't work properly with LDAP ?
@PVince81 Exactly

[2015-09-21 16:58] cdamken commented on #18502
@PVince81 I have to ask for them, about the the QT problem I talked with @dragotin and it looks like a Linux-QT problem.

Actually I don't see many errors in the client. It looks solved.. I have to wait.

@Bobuscho Do you still have the problem?

[2015-09-21 17:09] keynet commented on #19187
OK!
Thanks - now this making sense.
Can I suggest the docs are amended slightly to make it clear which ones SHOULD be left alone?
I didn't pick up what you're saying from the config.php in the admin manual.
It says "These parameters are configured by the ownCloud installer, and are required for your ownCloud server to operate." then lists pretty much all of them.
 I want most of the optional funct

[2015-09-21 17:27] ferdiga commented on #11110
I would prefer to send it to you privately

[2015-09-21 17:31] jnweiger commented on #19124
Thanks @Yetangitu for consulting with the experts!

I have tried to follow the recommendation to have transitional packages, but fail.
The debian.control file at https://build.opensuse.org/package/show/isv:ownCloud:community:8.1:testing/owncloud should allow an upgrade to 8.1.3-7 with many empty dummy packages.

But this is what I get:
<pre>
apt-get update
apt-get upgrade
...
Calculating upgrade..

[2015-09-21 18:08] h-2 commented on #13786
I am still running 8.0.X but will get back to you once I have upgraded....

[2015-09-21 18:16] carlaschroder commented on #15794
done. https://github.com/owncloud/documentation/issues/1584

[2015-09-21 18:16] #15794 closed

[2015-09-21 18:17] Xenopathic commented on #19210
@select You may want to investigate nginx, it runs really well on low-memory devices. But to continue any further, we need to eliminate Lighttpd from the equation, as it's known to cause issues.

[2015-09-21 18:18] RealRancor commented on #19187
Hi,

if you think there are some details missing at the page here:

https://doc.owncloud.org/server/8.1/admin_manual/configuration_server/config_sample_php_parameters.html

feel free to make a suggestion at the issue tracker of the documentation:

https://github.com/owncloud/documentation/issues

[2015-09-21 18:20] RealRancor commented on #17731
Hi,

this means you havn't enabled the PHP redis module or it is below the minimum requirement of 2.2.5 (This is the version of the PHP module, not of redis itself).

[2015-09-21 18:35] cmonteroluque commented on #10010
@schiesbn that dropped to 9.0. Moving this one to track that

[2015-09-21 19:05] rullzer commented on #19228
Yes, probably makes sense so a server can actually check if sending requests makes sense. And if so what kind of requests.

[2015-09-21 19:06] Berndinox commented on #17731
HHVM does load this Modul dynamicly. I habe an WordPress Blog Running in the same Stack, wehre redis object Cache does work probably. Br

[2015-09-21 19:08] Berndinox commented on #17731
UPDATE: Admin Panel says: "redis too old" but i have V 2.8.4 installed as you can See above.

[2015-09-21 19:09] RealRancor commented on #17731
@Berndinox See above:

2.8.4 is the version of redis and not of the redis PHP module.

[2015-09-21 19:15] cmonteroluque commented on #11685
I don't think this can make it for 8.2. Moving forward at least till 8.2.1

[2015-09-21 19:17] cmonteroluque commented on #11794
moved milestone to track it

[2015-09-21 19:18] cmonteroluque commented on #11951
OK, leaving it on 8.2 until we have test results

[2015-09-21 19:19] cmonteroluque commented on #12102
@MTRichards ok, moved to 9.0

[2015-09-21 19:24] karlitschek commented on #11685
i think this is not a critical bugfix but more a feature. so most likely 9.0 and not in a .1 bugfix release

[2015-09-21 19:28] cmonteroluque commented on #13117
No comments since May. Closing

[2015-09-21 19:28] #13117 closed

[2015-09-21 19:31] rullzer commented on #16346
Ah mm forgot about this. We should probably get some designers involved on how to make this happen. In a way that does not confuse the users to much.

But 9.0 for sure.

[2015-09-21 20:06] cmonteroluque commented on #13263
thanks @DeepDiver1975. Pity

[2015-09-21 20:09] cmonteroluque commented on #13383
Need to move to 9.0 at this point

[2015-09-21 20:10] cmonteroluque commented on #13414
@rperezb can we get a test?

[2015-09-21 20:13] cmonteroluque commented on #13498
@PVince81 re-test?

[2015-09-21 20:16] cmonteroluque commented on #13589
@PVince81 I think this needs to move forward, maybe 8.2.1

[2015-09-21 20:17] cmonteroluque commented on #13610
moved to 9.0

[2015-09-21 20:18] cmonteroluque commented on #13630
moving to 9.0, would need customer input to accelerate

[2015-09-21 20:28] lazyzero opened #19232 "update to 8.1.3 failed during database update"
Hi, I get this message when I updated one of my owncloud instances. In this instance I use the Calendar. The other instances updated without a problem
Here is the Log:
Symfony\Component\Routing\Exception\RouteNotFoundException: Unable to generate a URL for the named route "calendar_index" as such route does not exist.

[2015-09-21 20:46] cmonteroluque commented on #14432
@rulizer update? Still good for 8.2?

[2015-09-21 20:50] cmonteroluque commented on #14643
@LukasReschke ping?

[2015-09-21 20:57] #16575 closed

[2015-09-21 20:57] LukasReschke commented on #13458
Not worth it right now IMHO.

[2015-09-21 21:08] keynet commented on #19187
Will do if I find anything that I feel confident enough to submit.
Without knowing the code it's not so easy...

[2015-09-21 21:16] cmonteroluque commented on #14847
Is it quick? I'd rather we clean it up and close it properly

[2015-09-21 21:20] cmonteroluque commented on #15004
@blizzz @schiesbn can you guys answer so we can resolve this?

[2015-09-21 21:27] #17112 closed

[2015-09-21 21:29] DeepDiver1975 commented on #14847
:heavy_check_mark: kill

[2015-09-21 21:34] LukasReschke commented on #14847
:gun: in progress :gun:

[2015-09-21 21:42] #15818 closed

[2015-09-21 21:46] cmonteroluque commented on #15897
@PVince81 really old PR. Can this be closed soon?

[2015-09-21 21:47] cmonteroluque commented on #15917
@nickvergessen @DeepDiver1975 ping?

[2015-09-21 21:49] cmonteroluque commented on #15929
I doubt it will get fixed anytime soon

[2015-09-21 21:49] #15929 closed

[2015-09-21 21:51] cmonteroluque commented on #15943
@PVince81 I think this is won't fix. @MTRichards to confirm

[2015-09-21 21:55] h-2 commented on #18293
Yikes, what a bumpy upgrade. Thanks for the instructions here, but @owncloud-gods please fix the certificates!

[2015-09-21 22:25] RealRancor commented on #19187
Hi,

you don't need to submit code for this. :)

Just submit your experience while reading this. You could even post the text from your last comment into a new issue at the documentation tracker.

I think its always good to have such experience posted there.

[2015-09-21 22:47] MTRichards commented on #15943
Correct, this is expected - thanks @cmonteroluque .

[2015-09-21 23:20] LukasReschke commented on #14847
=> https://github.com/owncloud/core/pull/19233

[2015-09-21 23:29] dubcanada commented on #17732
Any ideas on a solution? Ran into this issue today.

[2015-09-21 23:34] oparoz commented on #983
Cool :)

[2015-09-22 01:59] paulocoghi commented on #16641
I'm anxious to see OC compatible with PHP7. If it already is 4x faster on the same PHP version, imagine with PHP 7.

[2015-09-22 04:42] ferdiga commented on #11110
Ah sorry,
in 8.0.3 I do not get this problem any more

[2015-09-22 05:23] RealRancor commented on #19232
Dup of https://github.com/owncloud/core/issues/18350, https://github.com/owncloud/core/issues/18334, https://github.com/owncloud/core/issues/18333, https://github.com/owncloud/core/issues/18317, https://github.com/owncloud/core/issues/18329, https://github.com/owncloud/core/issues/18296, https://github.com/owncloud/core/issues/18224, https://github.com/owncloud/core/issues/19192 and many more...

[2015-09-22 06:41] nickvergessen commented on #13630
sqlite is CE only, so no customer input ;)

[2015-09-22 06:42] nickvergessen commented on #15917
Not really important, can be delayed

[2015-09-22 06:49] davitol commented on #13726
@PVince81 Due to the new design the textbox is visible after writing down a wrong user, but the info written is deleted; feel free to decide what it should be the right behaviour

[2015-09-22 06:53] stefan-niedermann commented on #16082
should be empty and not prefilled. username != full name. if the user wants to set a full name, he can do this. i think in the very most cases the username is not identical to the full name, what means a prefilling is nonsense as the user has to delete first the "full name" and enter his real full name.

[2015-09-22 06:56] DeepDiver1975 commented on #983
Really nice - but I think this is not the right way to do it, because this introduces yet another code path into the files app and we are trying to move the files app purely on webdav.

We need to implement some light-weight sync algo in js within the files app - once we did move over to webdav ...

[2015-09-22 07:05] DeepDiver1975 commented on #11717
9.0

[2015-09-22 07:32] rullzer commented on #14432
Ah yes, this one is still on my todo. I'll have a loot after lunch time today. Should be a quick fix.

[2015-09-22 07:39] DeepDiver1975 commented on #11685
yes

[2015-09-22 07:43] SergioBertolinSG commented on #18657
This is fixed with last master in community version, but not in enterprise.

[2015-09-22 07:47] #11110 closed

[2015-09-22 07:49] jvillafanez commented on #15807
It's still happening in both versions. It depends on the time it takes to perform the check, not just the time to save the change.

Under normal circumstances, you make a change, the spinner shows, change is saved, spinner disappears, check is done, green / red status appears. The time while the check is being done is usually small, but if it takes some time (connection timeout. for example) there

[2015-09-22 08:00] DeepDiver1975 opened #19237 "stable8.1 nightly tar has syntax error in verson.php"
[code]

[code]

[2015-09-22 08:00] PVince81 commented on #15897
Only if I find some time to fix the last mysteriously failing test: https://github.com/owncloud/core/pull/16688#issuecomment-136685297

[2015-09-22 08:00] DeepDiver1975 commented on #19237
@karlitschek build script issue???

[2015-09-22 08:01] PVince81 commented on #15943
Closing, then

[2015-09-22 08:01] #15943 closed

[2015-09-22 08:03] jvillafanez opened #19238 "Checkboxes missing in LDAP wizard"
### Steps to reproduce
1. Enable LDAP user backend
2. Setup a valid configuration

### Expected behaviour
The "login attributes" tab shows a clear way to enable / disable login with the LDAP username or email.

### Actual behaviour
There is no checkbox to show if those attributes are enabled or not, and the only way to modify it is by clicking in the text. I find it very confusing because clicking

[2015-09-22 08:05] jancborchardt commented on #16082
This didn’t happen before. Who can please fix this @DeepDiver1975 @PVince81 @MorrisJobke?

[2015-09-22 08:08] jancborchardt commented on #19230
Technically a duplicate of https://github.com/owncloud/core/issues/7031, but this is more specific so let’s continue here instead. :) I totally agree @oparoz!

And for folders:

[2015-09-22 08:09] PVince81 commented on #16461
Is this still an issue with 8.2 beta ?

[2015-09-22 08:09] jancborchardt commented on #7031
Closing in favor of https://github.com/owncloud/core/issues/19230 cc @oparoz

[2015-09-22 08:09] #7031 closed

[2015-09-22 08:09] jancborchardt commented on #19230
Also cc @tomneedham for the text editor.

[2015-09-22 08:10] jancborchardt commented on #15308
Well, the sidebar should have a quick animation too. ;)

[2015-09-22 08:10] PVince81 commented on #16506
I see it's IE9, possible related to all the other password field placeholder shim issues that exist for IE9.

[2015-09-22 08:11] PVince81 commented on #16511
IE9 placeholder bug

[2015-09-22 08:12] PVince81 commented on #16553
Sending the password at this stage would cause security trouble.
This is a nice to have enhancement and we're past feature freeze => 9.0

[2015-09-22 08:14] PVince81 commented on #16587
Do will still want this addition for 8.2 ? Is there an agreement to implement this on the server already ?

@DeepDiver1975 @icewind1991 @cmonteroluque

[2015-09-22 08:15] PVince81 commented on #16641
@LukasReschke only one checkbox left ? OCI ? :frowning:

Move to 9.0 ?

[2015-09-22 08:17] PVince81 commented on #16656
Possible duplicate of https://github.com/owncloud/core/issues/18905

[2015-09-22 08:18] schiesbn commented on #13591
@smu no, it used re-used the already existing code in core to avoid that we to maintain two code paths which does the same and always have to catch up with core, different encryption modules, etc.

[2015-09-22 08:18] PVince81 commented on #15308
@jancborchardt a quick animation where ? when closing the sidebar ?

[2015-09-22 08:19] PVince81 commented on #16766
Any update ? Move to 9.0 ? (I predict bigger code changes here)

[2015-09-22 08:19] Kawohl commented on #18687
It also happens on my Imac and on other mac devices.

[2015-09-22 08:19] PVince81 commented on #16826
@DeepDiver1975 move to 9.0 ? Or should we find a quick workaround for 8.2 ?

[2015-09-22 08:22] PVince81 commented on #16870
@davitol so basically you are expecting the logic to strip away the "user@" part of the URL ?
What if "user" doesn't match the currently logged in user in the target ownCloud ? This could cause confusion.

[2015-09-22 08:23] PVince81 commented on #16908
Any update ? Fixing the documentation might be safer...

[2015-09-22 08:24] LukasReschke commented on #16641
Pffft … ask @cmonteroluque or @MTRichards. https://github.com/owncloud/core/issues/18425 has more information. Besides this PHP 7 should work.

[2015-09-22 08:24] PVince81 commented on #16913
Any update ? Is this still relevant ?

[2015-09-22 08:25] leichtgemerkt opened #19239 "moving shared file to / moves file to other home path"
I think there is a bug when I move shared files or folders to my root. I try to explain it:
thats the setting:
![setting](https://cloud.githubusercontent.com/assets/14736216/10013623/4131341c-6113-11e5-8eaa-ee59b9cb7055.PNG)
So in my example User2 is moving test.txt to the root in his view.
![fileproblem](https://cloud.githubusercontent.com/assets/14736216/10013687/de3dbe10-6113-11e5-8cd6-59fda422

[2015-09-22 08:26] smu commented on #13591
That makes sense. However, is there a way to recover an encrypted file from a backup? Can I simply copy it back into the users data folder and owncloud takes care of it (assuming the encryption keys are the same)?

[2015-09-22 08:30] schiesbn commented on #13591
@smu it should work if you copy the files back, the encryption keys and make sure that encryption and the encryption module is enabled.

[2015-09-22 08:31] PVince81 commented on #16966
This was added as part of https://github.com/owncloud/core/pull/19098

[2015-09-22 08:31] #16966 closed

[2015-09-22 08:33] PVince81 commented on #16967
This was added on 8.2 through https://github.com/owncloud/core/pull/17662

@icewind1991 please update the wiki accordingly https://github.com/owncloud/core/wiki/ownCloud-8.2-Features and then close this ticket. Thanks.

[2015-09-22 08:33] PVince81 commented on #16968
@DeepDiver1975 move to 9.0 ?

[2015-09-22 08:34] PVince81 commented on #16976
I thought we already had the tooltip, need to double check

[2015-09-22 08:35] arno01 commented on #13591
@smu or you can use my script that I've just published, tested with ownCloud v8.1.3 https://github.com/arno01/ocdec

[2015-09-22 08:35] SergioBertolinSG opened #19240 "Too many users in ldap are not shown in users page."
### Steps to reproduce

Having a LDAP server with 1 million users do:

1. Enable ldap app.
2. Set it up.
3. Go to the user management page.

### Expected behaviour
LDAP Users appears.

### Actual behaviour
There is an spinner, waiting and later only not-LDAP users appear.

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5

[2015-09-22 08:35] PVince81 commented on #16977
Need to add "text-overflow: ellipsis" on that dropdown's row style.

@jancborchardt maybe ?

[2015-09-22 08:37] PVince81 commented on #16984
@MTRichards @cmonteroluque @DeepDiver1975 I suggest to implement this later after the move to Webdav.
The conflict dialog code is currently intertwined with the upload code and needs to be decoupled first.

[2015-09-22 08:37] PVince81 commented on #17010
Related, permissions mess: #13202

[2015-09-22 08:39] MorrisJobke opened #19241 "Moving files via WebUI sometimes causes integrity constraint violation"
In my case I moved the folder `2007` from `Bilder/Fotos` to my home folder (drag and drop on the little house in the breadcrumbs.

[code]

For other folders this just works fine. But for some folders it causes this error. I could be possible that I had the folder with this name in my root some time back, but now this isn't present anymore. Once the integrity constraint violation gets triggered the

[2015-09-22 08:40] PVince81 commented on #19241
@MorrisJobke did you have locking enabled ? If not you might still be victim of a variation of this https://github.com/owncloud/core/issues/13391

[2015-09-22 08:41] cnlpete commented on #16922
Same with the latest 7.0.10.

In my config, i specified the data dir to be some place else ('datadirectory' => 'path_to_my_data_dir'), but the logger tries to write to oc_root/data/owncloud.log nevertheless.
The error messages disappeared after adding a writable data directory in oc_root. Only the log file is created in that directory, the other 'normal' fiels appear correctly in my other data dir

[2015-09-22 08:41] MorrisJobke commented on #19241
Nope, because it's labeled experimental :see_no_evil:

[2015-09-22 08:41] PVince81 commented on #17039
@DeepDiver1975 move to 9.0 ?
As stated above the upgrade wasn't smooth so there are risks of regressions/breakage at this point. (and we're past feature freeze)

[2015-09-22 08:42] PVince81 commented on #17132
Moving to 9.0 to find a solution that doesn't involve enabling third party apps

[2015-09-22 08:43] PVince81 commented on #19241
Not anymore, it's not called "transactional" :wink:

[2015-09-22 08:43] PVince81 commented on #17146
Tricky stuff, moving this enhancement to 9.0

[2015-09-22 08:43] PVince81 commented on #17146
CC @cmonteroluque @MTRichards @DeepDiver1975

[2015-09-22 08:45] SergioBertolinSG commented on #16461
Yes, still happening.

[2015-09-22 08:47] PVince81 commented on #17166
@rullzer any update ? enhancement for 9.0 ?

[2015-09-22 08:48] PVince81 commented on #17169
Moving this tricky topic to 9.0

[2015-09-22 08:48] PVince81 commented on #17196
Moving to 9.0.

We definitely need some better API for apps to provide public mode

[2015-09-22 08:52] pandur2000 commented on #17683
I have this problem, too, with win desktop 2.0.1 build 5446 & 8.1.3.0. Small files, larger files, totally random. SELECT @@GLOBAL.tx_isolation, @@tx_isolation: REPEATABLE-READ

[2015-09-22 08:54] schiesbn opened #19242 "Locking should be able to handle exceptions"
I just debugged a issue where we throw a exception during a copy operations because something went wrong. (https://github.com/owncloud/core/blob/master/lib/private/files/view.php#L788)

In this case we never free the lock and we will run into a lock exception later on, if we catch the error and try to recover.

We should always have a try-catch block between ````$this->lockFile(...);```` and ````$

[2015-09-22 08:55] PVince81 commented on #19242
Locking is already able to handle exceptions in many places.

But as there are so many different code paths, there is probably a bunch that aren't covered yet.

[2015-09-22 08:56] PVince81 commented on #17371
@cmonteroluque I guess it's probably time to fill in this ticket ? :wink:

[2015-09-22 08:57] pandur2000 commented on #13934
Same here with 8.1.3 ->
@@GLOBAL.tx_isolation	@@tx_isolation = REPEATABLE-READ

[2015-09-22 08:57] PVince81 commented on #17411
@DeepDiver1975 what to do with this ? Anything to be done in 8.2 scope ?

[2015-09-22 08:59] PVince81 commented on #19158
@owncloud/designers

[2015-09-22 09:00] PVince81 commented on #17420
Still happening in 8.2 beta.

[2015-09-22 09:01] jvillafanez commented on #19238
Looks like it's more a design issue since external storages are also affected. The option to enable previews in the external storage isn't clear to know if it's enabled or not, and probably the same with the encryption option in the external storage.

![screenshot from 2015-09-22 11 01 18](https://cloud.githubusercontent.com/assets/1477829/10014415/4d735c72-6119-11e5-9da8-32169047cdc8.png)

[2015-09-22 09:02] PVince81 commented on #17457
Is anyone still stuck with a broken ownCloud 8.1 ?

8.1.3 should have the fixed updater app and hopefully upgrading should work now.

[2015-09-22 09:03] PVince81 commented on #17598
Anything left to do here ? Do we want to deprecate the "version" file ?

[2015-09-22 09:04] davitol opened #19243 "The file name is stuck to the favorites icon"
### Steps to reproduce

1. Create a file
2. Click on share button (Sidebar appears)

### Expected behaviour
The file name should have a distance from the favorites icon

### Actual behaviour
The file name is stuck to the favorites icon

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

**ownCloud version:** ownCloud En

[2015-09-22 09:05] LukasReschke opened #19244 "Unit tests on OCI fail randomly"
:speak_no_evil: :hear_no_evil: :see_no_evil:

[code]

:speak_no_evil: :hear_no_evil: :see_no_evil:

[2015-09-22 09:05] PVince81 commented on #17629
@karlitschek please have a look

[2015-09-22 09:05] LukasReschke commented on #19244
Affecting stable8.1 and master

[2015-09-22 09:11] pludi opened #19245 "Unable to build DEB from source, missing files"
I'm attempting to build the ownCloud DEB package from the sources provided in the [OpenSUSE repositories](http://download.opensuse.org/repositories/isv:/ownCloud:/community/Debian_8.0/) in order to help with #19124 and #19209.

However, building fails with the message
[code]
Apparently there are hard dependencies to the RPM sources. Also missing is the configuration file for nginx.

[2015-09-22 09:12] LukasReschke commented on #19245
@jnweiger THX

[2015-09-22 09:13] jvillafanez commented on #16267
At the day of today, the files missing are the one that appear several times in gdrive, as pointed out on https://github.com/owncloud/core/issues/16267#issuecomment-101233684

[2015-09-22 09:13] pludi commented on #19245
Addendum: checked the current SRPM for F20, the nginx configuration file is apparently missing there too.

[2015-09-22 09:15] PVince81 commented on #17808
What's the next step here ?

[2015-09-22 09:16] PVince81 commented on #17861
What's the next step ? @rullzer's suggestion sounds like an enhancement.

@tpinky did @rullzer's info help you ?

[2015-09-22 09:16] schiesbn commented on #19242
I will prepare a pull request to fix it

[2015-09-22 09:17] PVince81 commented on #17906
Moving this enhancement to 9.0.

[2015-09-22 09:20] davitol opened #19246 "Weird behaviour of the sidebar when clicking away"
### Steps to reproduce

1. Create a file
2. Click on share button (Sidebar appears)
3. Click away in the bottom of the files view

### Expected behaviour
The sidebar should 'dissapear', or at least show the info of the last file selected

### Actual behaviour
The sidebar shows the info about the activity of the last selected file, but nothing in the sharing tab

### Server configuration
**Operatin

[2015-09-22 09:22] PVince81 commented on #18132
@schiesbn any update on this regression ?

[2015-09-22 09:23] PVince81 commented on #18192
Downgrades will no more be possible on 8.2 beta and the upcoming 8.1.4

[2015-09-22 09:23] #18192 closed

[2015-09-22 09:25] PVince81 commented on #18203
@oparoz any update ? Or move to 9.0 ?

[2015-09-22 09:27] PVince81 commented on #18308
Any update ? How difficult is it to fix jquery.strengthify ? (I wasn't aware that this was our own plugin)

[2015-09-22 09:28] PVince81 commented on #18325
There have been several improvements in 8.1.3 regarding oc_share inefficiencies.
Are you still observing issues on that version ?

[2015-09-22 09:30] PVince81 commented on #18359
@icewind1991 @schiesbn any update ? Is there a chance for a short term fix for this ?

[2015-09-22 09:30] PVince81 commented on #18373
@DeepDiver1975 tomorrow has arrived :smile:

[2015-09-22 09:30] PVince81 commented on #18373
@SergioBertolinSG can you retest ?

[2015-09-22 09:33] PVince81 commented on #18470
@DeepDiver1975 @icewind1991 @Xenopathic close ? See previous comment

[2015-09-22 09:35] PVince81 commented on #18551
probably some jquery-ui magic...

[2015-09-22 09:35] tpinky commented on #17861
@PVince81
I think the filter based approach would be ok.
I haven't implemented it yet. But maybe someone else did.
I didn't checked it at that time:)

[2015-09-22 09:38] PVince81 commented on #18584
In the light of the recently merged PR https://github.com/owncloud/core/pull/19098, is there any follow up on this discussion ?

[2015-09-22 09:38] PVince81 commented on #18600
@DeepDiver1975 still happening ?

[2015-09-22 09:39] PVince81 commented on #17861
Switching from "bug" to "enhancement" then

[2015-09-22 09:40] PVince81 commented on #18633
Wasn't there a recent fix for this ?

[2015-09-22 09:42] PVince81 commented on #18633
Might or might not be related: https://github.com/owncloud/core/issues/18759

[2015-09-22 09:43] PVince81 commented on #18759
Please note that when updating/deleting a folder, the hook should be triggered only on the folder itself, not its children. Is that what you meant @pellaeon ?

[2015-09-22 09:45] PVince81 commented on #18946
@SergioBertolinSG are you saying the preview is not updated ? Did you try downloading the file itself ?
The file should be reverted properly, but the preview might not, possibly duplicate of https://github.com/owncloud/core/issues/10559

[2015-09-22 09:46] PVince81 commented on #18970
Makes sense, maybe it's missing a check.

[2015-09-22 09:46] PVince81 commented on #18970
@rullzer want to take on this hopefully easy one ?

[2015-09-22 09:47] PVince81 commented on #19031
Fixed by https://github.com/owncloud/core/pull/19098

[2015-09-22 09:47] #19031 closed

[2015-09-22 09:47] PVince81 commented on #19056
It should be possible to do this with pure CSS. When selection mode is enabled, an extra class is set on the header (forgot which one).

[2015-09-22 09:48] PVince81 commented on #19094
@oparoz still happening on master ? (there was a PR that fixed locking recently)

[2015-09-22 09:49] SergioBertolinSG commented on #19240
After setting the configuration is is working.
Please, reopen if reproducible again.

[2015-09-22 09:50] jancborchardt commented on #19056
@PVince81 not entirely, as:

So there’s still logic left.

[2015-09-22 09:50] PVince81 commented on #19056
Hmm, right.

[2015-09-22 09:51] terfendail commented on #19193
### Steps to reproduce
1.Disable user's ability to change account full name in owncloud/config/config.php
2.Login as administrator
3.Try to change email at "Personal" settings panel
4.Try to change email for the same user at "Users" panel

### Expected behaviour
There should be way to change email in "Users" panel or at least in "Personal" panel

### Actual behaviour
There is no visible email fiel

[2015-09-22 09:53] PVince81 commented on #19227
@davitol regression ?

[2015-09-22 09:54] PVince81 commented on #19238
@owncloud/designers @jancborchardt @Henni looks like there are more missing checkboxes.

Can you please add a fallback ? This is important to make sure that older apps' checkboxes still appear.

[2015-09-22 09:56] jancborchardt commented on #15308
Both for opening and closing.

[2015-09-22 09:56] enoch85 commented on #14084
@PVince81 Any milstone on this?

[2015-09-22 09:57] jancborchardt commented on #16913
So @oparoz can you shed light on where the 36px occurs? Otherwise we can close this.

[2015-09-22 09:58] jancborchardt commented on #16976
Only on the Favorites page though please. We don’t need it in the normal filelist.

[2015-09-22 09:59] jancborchardt commented on #19158
No, the text should align. It’s correct in the top screenshot (master).

[2015-09-22 09:59] #19158 closed

[2015-09-22 10:02] PVince81 commented on #16976
What about "Shared with you" and others ?

[2015-09-22 10:03] PVince81 commented on #19158
This is how it looks like on master with Chromium 44:
![master-groupdrop](https://cloud.githubusercontent.com/assets/277525/10015643/eb88c1c4-6121-11e5-9f79-896ef1b7365e.png)

doesn't look right

[2015-09-22 10:09] jancborchardt opened #19249 "Clicking .odp file leads to error page"
![capture du 2015-09-22 12-08-03](https://cloud.githubusercontent.com/assets/925062/10015768/a356986c-6122-11e5-97f6-d87075db2a7f.png)

This should never ever be visible to people. Maybe log it in the console and then download the file.

@PVince81 @schiesbn pretty sure this didn’t happen before.

[2015-09-22 10:10] CaptionF commented on #17362
@MorrisJobke please ensure to have this in 8.1.4

[2015-09-22 10:10] schiesbn commented on #19246
We already have a issue where we discussed it and some possible solutions: https://github.com/owncloud/core/issues/19120

[2015-09-22 10:10] #19246 closed

[2015-09-22 10:10] jancborchardt commented on #19137
@Henni maybe an interesting problem for you to look into? :)

[2015-09-22 10:12] jancborchardt commented on #19186
@oparoz this is a duplicate of https://github.com/owncloud/core/issues/309 – can you add your original post as a comment there? Thanks!

[2015-09-22 10:12] #19186 closed

[2015-09-22 10:13] jancborchardt opened #19250 "What happened to the file sidebar whitespace in previews"
It’s totally off (too much) for any image:
![capture du 2015-09-22 12-07-42](https://cloud.githubusercontent.com/assets/925062/10015870/3f8a95d0-6123-11e5-8946-87eade1ea8d5.png)
@icewind1991 @Blizzz @PVince81 @georgehrke

[2015-09-22 10:14] nickvergessen commented on #19222
Closing this in favor of the two activity issues.

[2015-09-22 10:15] #19222 closed

[2015-09-22 10:15] PVince81 commented on #19250
Ewww... bisect ?

[2015-09-22 10:23] davitol commented on #19227
@PVince81 Yes, it works fine in Safari with oC 8.1.3

[2015-09-22 10:29] #18600 closed

[2015-09-22 10:29] DeepDiver1975 commented on #18600
this issue is solved - yes

[2015-09-22 10:30] #18470 closed

[2015-09-22 10:31] PVince81 commented on #19239
How are you moving it ? Web UI ? Webdav ?
Which OC version ?

Please use the issue template https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

[2015-09-22 10:32] PVince81 commented on #19237
Merging this backport PR might help: https://github.com/owncloud/core/pull/19149
It will actually set a value for this variable.

Note: need to make sure that the build script only except this value for 8.1 and 8.2, not previous versions.

[2015-09-22 10:35] PVince81 commented on #19237
Ok I merged it...

[2015-09-22 10:36] RealRancor commented on #19193
@terfendail I can't help you with your current issue but please notice the recent discussion about using copied over defaults from config.sample.php into your config.php here: https://github.com/owncloud/core/issues/19187#issuecomment-141895518

At least the following can be removed from your config.php:

[code]

[2015-09-22 10:36] jancborchardt commented on #19158
@Henni checkbox issue it seems – can you move it a bit to the right, add more whitespace to the left?

[2015-09-22 10:36] jancborchardt commented on #16976
Ah right, there too.

[2015-09-22 10:36] jancborchardt commented on #16976
But only in the root folder of course.

[2015-09-22 10:37] PVince81 commented on #11107
Looks fine on master.

[2015-09-22 10:37] #11107 closed

[2015-09-22 10:39] blizzz commented on #15656
Current PR goes here: https://github.com/owncloud/core/pull/18212

Need to review/test, but as enhancement it needs to wait for 9.0 unfortunately.

[2015-09-22 10:39] PVince81 commented on #17027
Tested on master, works now. Closing.

[2015-09-22 10:39] #17027 closed

[2015-09-22 10:40] nickvergessen opened #19251 "Sharing a parent folder prevents shares"
## Steps to reproduce
1. Create folder1
2. Create sub1 and sub2 inside folder1
3. Share sub2 with link
4. Share folder1 with link

## Expected
1. sub1 can be shared with link
2. sub2 can be unshared

## Actual
The rightside bar sharing tab does not allow sharing interaction, although the current user owns the files
![folder_-_dateien_-_owncloud_-_2015-09-22_12 39 51](https://cloud.githubuserconten

[2015-09-22 10:41] schiesbn commented on #19239
That's the expected behavior.  Given that you have delete permissions moving the file out of a shared folder to a local folder means that you delete it from the owner and create a copy in your local folder.

That's the only valid behavior. The behavior you suggest would include a lot of "magic". Including create new shares for the new copies of the owner, etc.

[2015-09-22 10:41] #19239 closed

[2015-09-22 10:41] jancborchardt commented on #18551
@PVince81 so, are you on it or not? Comment doesn’t help ;)

[2015-09-22 10:41] PVince81 opened #19252 "Focus on share field after opening share tab"
### Steps

1. Create folder
1. Click "Share" icon

### Expected result
Focus on share field.

### Actual result
No focus.

### Versions
master

Would improve UX.

CC @jancborchardt

[2015-09-22 10:42] PVince81 commented on #18551
Not

[2015-09-22 10:44] DeepDiver1975 commented on #19237
lets keep this open until the tar got recreated once again and we can run smashbox on stable8.1

[2015-09-22 10:47] PVince81 commented on #18633
Still happening on master (67231ed9a75eafe5b417e4525e3d80b1a3f8826b)

[2015-09-22 10:48] karlitschek commented on #17629
this is a nice idea for an improvement in the future. For the moment it will stay like it is and improved in the future.

[2015-09-22 10:51] leichtgemerkt commented on #19239
Im moving the shared file per drag and drop via Web UI to the breadcrumb (Home-Symbol = Root)
My OC-Version is 8.0.0.7.

User1 cant know that user xy moved it out of his share. This is not usable for any of my users, sorry. I think I make a hotfix on my installation. I can't imagine any situation someone want to allow other users to remove his files by moving it around. In general I think that thi

[2015-09-22 10:52] blizzz commented on #15084
Actually it's about the usage. You need to know the username if you want to modify one. First step should be to determine it by using users/getusers call and providing a search term. LDAP user search attributes should be configured to include an identifying attribute (uid/samaccountname) which you would pass as search term. There's a hidden trap, when possible values may show up in other attribute

[2015-09-22 10:53] PVince81 commented on #19239
If you want to lock it, remove the "delete" permission on the share.

[2015-09-22 10:54] PVince81 commented on #17629
Close or defer ?

[2015-09-22 10:56] leichtgemerkt commented on #19239
yes and if my users forget that i can take a look why his files gone missing? Sorry I don't want to spend my time with this. I make a hotfix myself.

[2015-09-22 10:57] PVince81 commented on #13456
@khlem I did a local test on 8.1.3 and I am able to scan the mounts with LDAP:
[code]

The mount "sftp" is a system-wide SFTP mount and "sftp2" is a personal mount.

@jmaciasportela can you try this too with the WND app ?

[2015-09-22 10:58] karlitschek commented on #19237
i manually generated the nightly builds again. please check

[2015-09-22 11:01] karlitschek commented on #19243
@jancborchardt small layout fix for you :-)

[2015-09-22 11:03] DeepDiver1975 commented on #19237
thx

[2015-09-22 11:06] blizzz commented on #13936
Um, no, too late for 8.2 as enhancement anyway.

[2015-09-22 11:13] schiesbn commented on #19239
If users allow recipients to delete shared files they have to expect that they might do it, same for rename, edit, etc.

[2015-09-22 11:15] j-ed commented on #17457
@PVince81 The updater app problem doesn't appear on my server anymore after upgrading from v8.0.8 to v8.1.3, but I'm still not able to login.

[2015-09-22 11:16] DeepDiver1975 commented on #19237
hmmm ... looks still broken ....

[code]

[2015-09-22 11:17] DeepDiver1975 commented on #19237
same build time?

[2015-09-22 11:17] PVince81 commented on #17457
@j-ed anything new in the owncloud.log ?

[2015-09-22 11:26] SergioBertolinSG opened #19254 "Code files are not detected as text files with code icon."
### Steps to reproduce

As admin user do:
1. Upload code files.
2. See their icons.

### Expected behaviour
They have a code icon. Like .pl files in this screenshot:

![screen shot 2015-09-21 at 13 08 26](https://cloud.githubusercontent.com/assets/9048796/10017325/ac897d40-612d-11e5-82a4-b92a83bda274.png)

### Actual behaviour
They are not detected as code.

.cpp, .xml and .tex are detected as pla

[2015-09-22 11:30] Berndinox opened #19255 "Oc 8.1 Openstack Swift Primary Storage does not work"
#### Steps to reproduce:
1 Install a fresh OC 8.1.3 on Nginx+HHVM+MariaDB Stack
2 Enable external Storage Addon
3 Connect Runabove OpenStack Swift Storage via Admin GUI: OK
4 Connect the same Bucket as primary Storage in config.php: NOK

#### Expected behaivour:
Default Storage should be Openstack Swift Backend

#### Actual behaivour:
The following Error occours, when connecting Swift Backend via

[2015-09-22 11:31] DeepDiver1975 commented on #17888
We decided in Berlin to postpone this

[2015-09-22 11:31] SergioBertolinSG commented on #19254
@cmonteroluque not sure if this should be addressed to 8.2. or 9.0 What do you think?

[2015-09-22 11:32] DeepDiver1975 commented on #18617
9.0 - we are beyond feature freeze

[2015-09-22 11:37] jancborchardt commented on #19252
Right, good point. It’s really annoying to need to manually click the share input again.

[2015-09-22 11:39] DeepDiver1975 commented on #10837
9.0 topic - we are not yet there - in addition I question if this is still a higher priority give the fact that php7 will be released soon

[2015-09-22 11:39] oparoz commented on #17629
Defer! :P It's getting more and more important as the in-app app store is getting more apps. It's impossible to decide which **new** app is good based on what we see.

[2015-09-22 11:40] jancborchardt commented on #19254
@SergioBertolinSG this is not a design issue but needs to be added to the filetype tables.

cc @Xenopathic @schiesbn can you provide a pull request for this? Priority is xml, cpp, java, sql (code) and rtf (text).

[2015-09-22 11:42] DeepDiver1975 commented on #5383
not fixed from my pov - we are still creating a session for basic authenticated requests

@LukasReschke or do I miss anything? THX

[2015-09-22 11:43] oparoz commented on #309
Comment from #19186

There are lots of design changes happening in 8.2, but developers are left in the dark.

We need:
* Walk-through of the [design language](https://en.wikipedia.org/wiki/Design_language)
* Full design specifications
* Mock ups of **all** UI elements
* Links between each element and the CSS or JS class developers can use

I realise this is a lot of work, but the changes did not c

[2015-09-22 11:44] oparoz commented on #19186
@jancborchardt What about 8.2? People are supposed to guess or is this going to become available in the coming weeks as part of the 9.0 dev cycle?

@michaelstingl Great stuff :) Could defo be a first step

[2015-09-22 11:48] DeepDiver1975 commented on #17808
Continue discussion in the scope of 9.0 :see_no_evil:

[2015-09-22 11:48] karlitschek commented on #19237
arg. This is for 8.1!  I canceled it before the 8.1 builds were executed. Please check again now.

[2015-09-22 11:48] oparoz commented on #19094
The DB table is full of locks for files which don't exist in the filesystem.
I guess the solution would be to include a new step in `occ maintenance:repair`, but there are probably other use cases than testing which trigger the issue. If the admin removes a folder in data per example.

[2015-09-22 11:50] oparoz commented on #18203
We're past feature freeze and this is labelled as enhancement, so the logical step would be to defer, but I can submit a PR if nobody has any objection...

[2015-09-22 11:50] davitol opened #19256 "Sharing via link with an address with 'email@example' structure should show an error"
### Steps to reproduce

1. Create a file
2. Click on share button (Sidebar appears)
3. Share a file by link
4. Email link to a person with the following structure email@example

### Expected behaviour
An error message should be shown, as it is shown with other wrong email addresses.

### Actual behaviour
The mail seems to be sent.

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web

[2015-09-22 11:54] rullzer commented on #17166
9.0 since we would be breaking the API otherwise.

[2015-09-22 11:56] DeepDiver1975 commented on #18203
no objections - thx

[2015-09-22 11:57] jancborchardt commented on #19186
@oparoz it’s going to become available in the coming weeks. I need to focus on bugfixes for 8.2 before I go on vacation. Also, except the right sidebar there weren’t really any changes to what was there before, documented at https://doc.owncloud.org/server/8.2/developer_manual/app/css.html

[2015-09-22 11:57] adrianoafonso commented on #18772
After update to ownCloud  8.1.3
I still get the error ***Your web server is not yet set up properly to allow file synchronization because the WebDAV interface seems to be broken***
[code]

[2015-09-22 11:58] jancborchardt commented on #309
Btw the start of this is at https://doc.owncloud.org/server/8.2/developer_manual/app/css.html – pull requests to the documentation are always welcome.

@oparoz as I said in the other issue: Great specific questions, and I’ll address them when I’m done with 8.2 bugfixing and back from vacation. @owncloud/designers @MorrisJobke @Henni can also chime in of course so it’s not me as bottleneck.

[2015-09-22 11:59] oparoz commented on #16913
Sure

[code]

https://github.com/owncloud/core/blob/master/apps/files/js/filelist.js#L1385-L1399

[2015-09-22 12:01] khlem commented on #13456
@PVince81 My ldap is Windows 2008R2 (Microsoft) what is your ldap (openldap ?).

Maybe this issue is only with MS Ldap ?

[2015-09-22 12:04] oparoz commented on #16461
One possible fix was never merged:
https://github.com/owncloud/core/pull/17754

[2015-09-22 12:06] oparoz commented on #19230
Defo!

[2015-09-22 12:09] jancborchardt commented on #18551
I would say this needs JS since I think adding a `z-index: 1001 !important` to the `.ui-autocomplete` might result in issues with other apps.

@MorrisJobke can you do it?

[2015-09-22 12:13] oparoz commented on #983
You can wait a long time before WebDAV does push though:
https://tools.ietf.org/html/draft-pot-webdav-notifications-00

So that means polling, which isn't great.

As a plugin, as designed in files_live_reload, the Files app keeps using the endpoints it currently uses, but knows in real-time when changes are happening.

[2015-09-22 12:13] SergioBertolinSG commented on #18373
Working fine in the sidebar 'i'. Using master.

[2015-09-22 12:13] #18373 closed

[2015-09-22 12:14] PVince81 commented on #19094
@icewind1991 has added a TTL last week. This table only exists since 8.2, so I don't think a repair step is required in this case as this shouldn't be able to happen any more.

[2015-09-22 12:15] jancborchardt commented on #19243
Fix to review at https://github.com/owncloud/core/pull/19257

[2015-09-22 12:15] DeepDiver1975 commented on #983
Push is anyhow not an option for us as multiple times discussed.

Any push approach requires a long living php process which is a nightmare in big installations.

So the only thing we can do is polling .. which is by the way what all mechanisms use (caldav, carddav, our desktop client ......)

[2015-09-22 12:16] oparoz commented on #19094
Ah, OK. I'll empty the table and close this. I'll re-open if I notice any unorthodox behaviour.

[2015-09-22 12:16] #19094 closed

[2015-09-22 12:17] oparoz commented on #309
Cool :+1: Enjoy the time off!

[2015-09-22 12:17] j-ed commented on #17457
@PVince81 No, not really. Except the messages which are generated because the calendar and contacts app are not available, when mobile clients are trying to load it. I've now updated the bookmarks, calendar and contacts app to get rid of these messages.
These are the messages which are written to the log file from the moment I started the web browser, reloaded the login page and entered the login

[2015-09-22 12:18] PVince81 commented on #18772
Hmm, I suspect that the Webdav check is internally triggering a scan operation which itself fails for some strange reason on your SMB storage.

Are you able to use your SMB storage or is it broken as well ? Does Webdav actually work when used with an external client / desktop client ?

[2015-09-22 12:19] PVince81 commented on #13456
@khlem I have an openLDAP docker instance.

@blizzz @jmaciasportela can you help check if "occ files:scan" work with the above config ?

[2015-09-22 12:20] stefan-niedermann commented on #18617
why not at the same time? the android client does the same - showing starred and downloaded-images at the same time.

[2015-09-22 12:20] sk8dancer opened #19258 "Broken/Bad link"
There is a bad link, "Release Channel", on https://owncloud.org/news/ in the section titled "Updates and Scalability Pain" located in the paragraph just above the image. The link points to "localhost:5000/release-channels"

Also there is something strange going on when I scroll to the bottom of the page. After a few seconds my browser (firefox) scrolls back to where I started the scroll from.

[2015-09-22 12:21] j-ed commented on #17600
Today I tried to update my ownCloud installation from v8.0.8 to v8.1.3 again but I'm still hit by this strange login loop error.

## Environment
#### Server Configuration
OS: Linux 3.2.67
Web server: Apache2 2.4.12
Database: MySQL 5.1.73
PHP version: 5.4.42
ownCloud version: 8.1.3

#### Client Configuration
Browser: Firefox 40.0.3
Operating system: Windows 7

These are the messages which are writt

[2015-09-22 12:21] PVince81 commented on #17457
@j-ed I don't see anything wrong here.
What error message are you getting in the web UI when trying to login ? (screenshot?)
What error code are you getting when logging in through Webdav ? (cadaver or curl)

[2015-09-22 12:24] rullzer commented on #14432
mmm for some reason I can't get https://github.com/owncloud/core/blob/master/apps/files/js/search.js#L74 to be called.

@oparoz do you have a simple example on how to trigger it?

[2015-09-22 12:24] PVince81 commented on #19254
could be a regression, @rullzer ?

[2015-09-22 12:25] Xenopathic commented on #19254
@PVince81 No, we don't have the appropriate mappings and aliases. I'm working on it :smile:

[2015-09-22 12:28] PVince81 commented on #19258
Please report here https://github.com/owncloud/owncloud.org

[2015-09-22 12:28] #19258 closed

[2015-09-22 12:30] rullzer commented on #19254
thanks @Xenopathic :smile:

[2015-09-22 12:32] PVince81 commented on #19250
Going to bisect this

[2015-09-22 12:32] oparoz commented on #983
Ah, sorry, I missed that discussion. Seems the only way to do push would be to use a daemon available on another port or something similar...

I was wondering how it would scale. It would require a machine with a lot of RAM...

What about mobile clients?

[2015-09-22 12:34] DeepDiver1975 commented on #16984
yep - 9.0 then

[2015-09-22 12:34] individual-it commented on #18584
As stated here https://github.com/owncloud/core/pull/19098#issuecomment-141092798 and discussed in IRC I would rather throw an exception than filling the log.
Cannot see what the log entry helps.
If other also think throwing an exception is a good way, I can make a PR

[2015-09-22 12:35] Wikinaut opened #19259 "DISK QUOTA (or inodes) errors: send a distinct error to the client, and show there"
When an owncloud server encounters an **exhausted harddisk space** (or **exhausted inodes**) status, send a distinct message to the synchronizing client, and let the client tell this the user.

I just noticed this problem (inode pool exhausted) with my owncloud server. The client merely bumped an unspecific message `"Error downloading <file>... Server could not write file contents"``.

I suggest t

[2015-09-22 12:35] oparoz commented on #14431
I have actually implemented in Gallery already and it's available in Gallery+ V14 ;)

[2015-09-22 12:35] #14431 closed

[2015-09-22 12:40] khlem commented on #13456
@PVince81 Thx to help us
If i can help you with some tests, no problem.

[2015-09-22 12:40] Xenopathic commented on #19254
Hmm, despite adding `text/x-c` as an alias for `text/code`, the icon shown is still the generic text icon... Same for XML. Any ideas @rullzer ?

[2015-09-22 12:42] DeepDiver1975 commented on #13080
Solved with #19229

[2015-09-22 12:42] #13080 closed

[2015-09-22 12:43] oparoz commented on #14432
I can get line 74 to be called. Every time I do a search, but still working on getting the other one to work :D. Maybe it's been fixed and this is dead code.

[2015-09-22 12:43] PVince81 commented on #19250
Regression introduced by this PR https://github.com/owncloud/core/pull/18911

@icewind1991 please have a look

[2015-09-22 12:43] DeepDiver1975 commented on #16371
@davitol where does this happen for example? THX

[2015-09-22 12:44] DeepDiver1975 commented on #16302
@MTRichards @cmonteroluque 9.0 ???

[2015-09-22 12:45] DeepDiver1975 commented on #16392
@PVince81 is there a solution at hand? Something we can fix for 8.2? or 9.0?

[2015-09-22 12:46] DeepDiver1975 commented on #16306
@MTRichards @cmonteroluque 9.0 ???

[2015-09-22 12:46] jancborchardt commented on #18617
@stefan-niedermann that’s already the case – there is a star indicator on the left next to the filetype icon.

[2015-09-22 12:48] schiesbn opened #19260 "select user in share drop down with strange content"
select user in the new share drop down shows strange content in some situations

Steps to reproduce:

1. login as
2. create a user called "user1"
3. go to the share dialog
4. enter "use" -> the auto complete list will show you user1
5. press twice the "arrow down" key

The input field will show now ````[Object object] ````

cc @blizzz @PVince81

[2015-09-22 12:48] oparoz commented on #19250
This only happens with newly uploaded pictures.
Where is the code which builds the preview? It's setting the wrong height for some reason.

[2015-09-22 12:49] LukasReschke commented on #5383
Correct. - Some token based auth such as for example OAuth alike approaches as we aim for anyways in one way or another will solve this though…

[2015-09-22 12:50] PVince81 opened #19261 "Trashbin sidebar broken/empty"
Trashbin sidebar should only contain file info, but no tabs.

Activity might work if the fileid matches.

Currently it is empty, which is wrong.

CC @jancborchardt

[2015-09-22 12:51] gig13 opened #19263 "Searching for another user in the share dialog is limited to users in the same group"
### Steps to reproduce
1. See description below

### Expected behaviour
When using the share dialog, all users should be found

### Actual behaviour
When searching for another user in the share dialog is limited to users in the same groups, one user can't find another if they only have one particular group in common. This group is the group that all our ownCloud users are a member of so it's very

[2015-09-22 12:51] oparoz commented on #14432
@rullzer Try with an app which uses search

[2015-09-22 12:51] PVince81 opened #19264 "Shared with you and other sections empty sidebar"
Sidebar interaction is broken with the sections "Shared with you" and other sharing related sections in the files app.

The sidebar is needed to make it possible to update shares for the selected item.

CC @jancborchardt

[2015-09-22 12:51] rullzer commented on #18970
Fix in #19262

[2015-09-22 12:52] gig13 commented on #19263
More info at
https://s3.owncloud.com/owncloud/index.php/apps/files?dir=%2FShared%2Fowncloud%2Fsupport%2Fgithub-issues%2Fcore%2F19263

[2015-09-22 12:52] schiesbn opened #19265 "autocomplete list doesn't update correctly"
auto-complete list doesn't update correctly with the new share dialog

Steps to reproduce:

1. share a file with "user1" (user get's auto-completed correctly)
2. delete the share
3. try to share again with "user1"

Expected behavior:

Auto-complete will find user1 again

Actual behavior:

auto-complete doesn't find "user1" only after you reload the webpage you can auto-complete "user1" again

cc @

[2015-09-22 12:53] icewind1991 commented on #19250
The problem is that `isCached` also returns a cached preview if a larger preview is available which the sidebar doesn't handle correctly

[2015-09-22 12:54] schiesbn commented on #19137
Also we don't hide the trashbin icon while showing the spinner so the cover each other

[2015-09-22 12:54] #14847 closed

[2015-09-22 12:57] Pantek59 commented on #14827
@PVince81 No, unfortunately not. I reinserted the lines the lines I was told to remove before but the error messages did not show up. I set up a VM with OC 7.4 but could not reproduce it there either.
Then I wanted to update OC all the way from 7 to 8 to reproduce it, but that apparently slipped from my mind at some point. Sorry for not reporting back.

[2015-09-22 12:58] PVince81 commented on #19263
On the admin page there's an option "Restrict users to only share with users in their groups", is this set ?

If yes, it somehow remind me of this ticket: https://github.com/owncloud/core/issues/16346

[2015-09-22 13:01] jancborchardt commented on #19261
cc what for? If it’s to agree, then yes, I agree. ;)

[2015-09-22 13:02] jancborchardt commented on #19261
I guess cc @schiesbn makes more sense here.

[2015-09-22 13:02] jancborchardt commented on #19264
Yup.

[2015-09-22 13:04] PVince81 commented on #19265
@schiesbn does this PR https://github.com/owncloud/core/pull/19220 fix it ?

[2015-09-22 13:05] LukasReschke commented on #18238
The current behaviour is super annoying. - Can we have "open sidebar on click"?

[2015-09-22 13:06] LukasReschke commented on #18238
With super annoying I mean really super annoying.

[2015-09-22 13:06] PVince81 commented on #19261
For your information in case you find that issue too, so you don't need to re-raise.
Also to make sure you agree with the intended behavior.

[2015-09-22 13:06] nickvergessen commented on #18238
The way people will open it now is by abusing the share icon ...

[2015-09-22 13:07] MTRichards commented on #16306
I think it has to be, but we also have bugs like the timeout for external storage on large files, so we will need to think real hard about this one - for performance and architecture.

[2015-09-22 13:07] LukasReschke commented on #18238
That's what I do. Yes.

[2015-09-22 13:07] schiesbn commented on #19265
yes, the pr above fixes it.

[2015-09-22 13:08] MTRichards commented on #16302
Has to be, but this is also covered under the "make WND like external storage" user story.

[2015-09-22 13:09] PVince81 commented on #18238
How about this alternative proposal: https://github.com/owncloud/core/issues/18238#issuecomment-130315290, or toolbar button or a vertical bar with an arrow on it, when clicking on the vertical bar, it opens.

[2015-09-22 13:09] icewind1991 commented on #18359
Dont think so

[2015-09-22 13:17] JavaGuy85 opened #19269 "SMB / CIFS with OC login not possible"
Steps to reproduce:

1. Install owncloud-8.1.3 by downloading and unpacking the owncloud-8.1.3.tar.gz
2.
  2.1 Configure LDAP as the user backend (probably not part of the issue, but for sake of completeness, this step is included.
  2.2 Configure SMB / CIFS with OC login as external storage (within administration panel all looks good, green light)
  2.3 Log in as a user from the LDAP-backend

Exp

[2015-09-22 13:18] DeepDiver1975 commented on #5383
@cmonteroluque @MTRichards moving to 9.0 - nothing we can do in the scope of 8.2

[2015-09-22 13:19] oparoz commented on #19250
Argh, the problem is that it might not be just the sidebar which is affected... Otherwise I'd rather fix the side-bar than getting rid of your fix.

[2015-09-22 13:21] MTRichards commented on #16641
Does this mean that Oracle won't work with Doctrine on PHP 7? At least as an example of this.

[2015-09-22 13:21] Xenopathic commented on #19269
@icewind1991 Another "Unknown error"... it'd be great if your library actually included the erroring line with the exception message

[2015-09-22 13:22] LukasReschke commented on #16641
Correct. And the amount of people that use Oracle with PHP and Doctrine is rather low so it probably means that we have to fix it ourselves :tada: :birthday: :rocket: :dancers:

[2015-09-22 13:24] JavaGuy85 commented on #19269
@icewind1991 do you need any further information to debug this? If I can help fixing this somehow, please contact me.

[2015-09-22 13:24] oparoz commented on #18238
The slide-door handle concept should work and you make it work on mobile with a swipe

[2015-09-22 13:27] oparoz commented on #16251
When looking at this, could you make sure updating an app does not reset the theme in the config? It's really annoying and totally unnecessary when updating apps.

[2015-09-22 13:27] icewind1991 commented on #19269
Looks like the share is not set for some reason

[2015-09-22 13:28] #18970 closed

[2015-09-22 13:31] PVince81 commented on #19261
Fix is here https://github.com/owncloud/core/pull/19270 (simpler than I thought)

[2015-09-22 13:31] PVince81 commented on #19264
Fix is here https://github.com/owncloud/core/pull/19270 (simpler than I thought)

[2015-09-22 13:31] oparoz commented on #14666
The only thing left would be to add some documentation and mnodify ocdev. All apps should listen fro now on instead of dump their scripts on poor Files.

[2015-09-22 13:34] oparoz commented on #13493
Well, nothing has changed in Preview and nothing will change until 9.0, but I don't know yet if this specific use case has been fixed.

[2015-09-22 13:35] PVince81 commented on #16251
@oparoz can you make a ticket specific for theme disabling ? It should be possible to detect that it's an "app update" vs "core update" and skip theme disabling in that case

[2015-09-22 13:35] MTRichards commented on #16641
Ack! Ok, so we need to know this before PHP 7 comes out.
@bboule NOTE: Doctrine (and thus oC) won't work with Oracle and PHP 7. Just FYI for now...

[2015-09-22 13:39] #17371 closed

[2015-09-22 13:40] DeepDiver1975 commented on #17371
https://github.com/issues?page=13&q=is%3Aopen+user%3Aowncloud+milestone%3A8.2-current+sort%3Aupdated-asc&utf8=%E2%9C%93

[2015-09-22 13:41] DeepDiver1975 commented on #17598
I'd say yes - @karlitschek you did have some string opinion on this in the past since the version file introduce by purpose

[2015-09-22 13:41] oparoz opened #19271 "Stop disabling the theme on app updates!"
Every time you update an app, you lose the theme. That key needs to be protected when updating apps.
### Steps to reproduce
1. Install your theme
2. Update app
3. Look at your new login page
### Actual result

Theme is gone ;(
### Expected result

Login page looks just like you've designed it.

[2015-09-22 13:41] oparoz commented on #16251
https://github.com/owncloud/core/issues/19271

[2015-09-22 13:42] PVince81 commented on #19271
Makes sense

[2015-09-22 13:44] karlitschek commented on #17598
You mean strong or string? ;-)
My only comment was that we should do this in a way that 3rdparty apps don't break. And so far they use the version file and not info.xml.

[2015-09-22 13:45] oparoz commented on #19135
@Henni What about @PVince81's suggestion?

[2015-09-22 13:45] PVince81 commented on #16251
thanks

[2015-09-22 13:48] DeepDiver1975 commented on #16300
implemented -> close

[2015-09-22 13:48] #16300 closed

[2015-09-22 13:48] Henni commented on #19135
@oparoz @PVince81 a fallback is difficult to implement. I think it isn't possible in css and a fallback in javascript would be quite ugly. But I'll take another look at a javascript solution.

[2015-09-22 13:48] DeepDiver1975 commented on #16301
implemented -> close

[2015-09-22 13:48] #16301 closed

[2015-09-22 13:49] oparoz commented on #12888
Well since it doesn't even work on master, maybe it should just be removed.

[2015-09-22 13:49] oparoz commented on #19135
Thanks! :)

[2015-09-22 13:50] karlitschek commented on #12888
What doesn't work? Which sharing behavior is broken?

[2015-09-22 13:51] #19243 closed

[2015-09-22 13:51] DeepDiver1975 commented on #14531
let's move this on -> 9.0

[2015-09-22 13:51] JavaGuy85 commented on #19269
When I set share, I get following error, but not always:
{"reqId":"Tauj9wed+GJOOE1wek2d","remoteAddr":"192.168.200.16","app":"PHP","message":"ldap_read(): Search: Invalid DN syntax at \/var\/www\/owncloud\/apps\/user_ldap\/lib\/ldap.p\
hp#257","level":3,"time":"2015-09-22T13:50:27+00:00"}

There is no external storage in any case, with share or without...

[2015-09-22 13:52] oparoz commented on #12888
@karlitschek This is what I did.

1. Share folder
2. Open new tab
3. Paste and go

I get an empty files list

Now if I open a new private window, I get the list.

AFAIK, incognito mode is there to make it possible to open public links while still being logged in.

[2015-09-22 13:53] karlitschek commented on #12888
Sounds like a bug. @schiesbn What do you think? @oparoz Can you open a new bug report?

[2015-09-22 13:55] oparoz commented on #12888
OK

[2015-09-22 13:57] DeepDiver1975 commented on #17598
yes - strong :facepalm:

[2015-09-22 13:58] PVince81 commented on #19135
Next time it would be good to first think about the fallback possibility before making potentially breaking changes

[2015-09-22 14:00] DeepDiver1975 commented on #19271
Well - we disable the theme because it can break the installation.

Which can also happen with an app upgrade because the theming capabilities allow to overwrite templates of an app.

This is a tricky beast.

[2015-09-22 14:00] j-ed commented on #17600
@PVince81 Good news, I think I've found the root cause of the problem. After starting from a brand new configuration, I added my parameters one-by-one and found out that the login failed as soon as I added the `log_query => true,` parameter which I used to trace database queries for debug purposes.
As soon as I add this parameter to the configuration the following message is displayed on the scree

[2015-09-22 14:00] hmeine commented on #18293
Same problem here; if ca-bundle.crt does not exist yet in config, do I need to fetch it from somewhere (where?), or is the above Amazon certificate sufficient?

[2015-09-22 14:00] DeepDiver1975 commented on #19271
in addition this is related to upgrade which will be a major topic for 9.0 -> moving ...

[2015-09-22 14:00] oparoz opened #19273 "Public sharing does not work for logged-in users when files_texteditor is installed"
### Env

Firefox
PHP 5.5
Encryption on

### Steps to reproduce

1. Share folder
2. Open new tab
3. Paste and go

### Actual result

I get an empty files list

Now if I open a new private window, I get the list.

### Logs

[code]

[2015-09-22 14:00] oparoz commented on #12888
https://github.com/owncloud/core/issues/19273

[2015-09-22 14:02] DeepDiver1975 commented on #14666
I'd say close - the event dispatch allows to broadcast data/events which has to be sufficient

[2015-09-22 14:02] PVince81 commented on #17600
Hmm, and now I see that @harenber also had "log_query" enabled, so possibly a similar issue.

@icewind1991 any idea ?

[2015-09-22 14:02] oparoz commented on #19273
@LukasReschke @schiesbn

[2015-09-22 14:03] schiesbn commented on #19054
I would also vote for sticking to one size. Looks strange if you navigate through your sidebar ans sometimes you have large previews and sometimes small ones. Also that sometimes the name is next to the icon/preview and sometimes below.
I think we should have a unique behavior with a defined preview area and a defined "information" area which is always at the same position no matter if we have a p

[2015-09-22 14:04] jancborchardt commented on #18238
Again – the handle on the right _will_ interfere with scrolling and we will get complaints. I would say restoring the »click on row« behavior to open the sidebar takes care of this. The share action is also on the row so it blends in with the functionality. @PVince81 can you do that?

[2015-09-22 14:05] oparoz commented on #19271
OK. I think the least the updater could do is to offer to turn on the theme at the end. If it breaks then, the admin can remove it from the config to fix things.

[2015-09-22 14:05] davitol opened #19274 "[Sidebar] Setting a file as favorite reloads the thumbnail of the file"
### Steps to reproduce
1. Create a file
2. Click on share button (Sidebar appears)
3. Click on favorite button.
### Expected behaviour

The file name should be marked as favorite
### Actual behaviour

The file is marked as favorite, but the thumbnail is reloaded, when it should not be done
### Server configuration

**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:**
MySQL

**

[2015-09-22 14:08] j-ed commented on #17457
@PVince81 No error messages were shown on the screen, just a reload of the login page took place in the web UI.
Nevertheless I think I've good news and found the root cause of the problem. I had the `log_query => true,` parameter in my configuration for debug purposes which definitely seems to have caused the problem.
After removing the parameter from the configuration file, a login was possible a

[2015-09-22 14:08] PVince81 commented on #18238
So should we remove the "Details" file action again ?
In https://github.com/owncloud/core/issues/19120 it was said that the current selection would stay even when clicking outside the table, so the sidebar will open once and never close unless switching folders or clicking the "X".

Is that the new expected behavior ?

[2015-09-22 14:09] icewind1991 commented on #17600
No, I dont know anything about the log_query stuff

[2015-09-22 14:10] caguiar commented on #13456
here is my experience:

LDAP is from SAMBA v4
ownCloud Version: 8.1.1

--------
# sudo -u www-data ./occ files:scan 97C5B7E0-4380-41D7-B203-5EC3195AD4CC
Scanning file   /97C5B7E0-4380-41D7-B203-5EC3195AD4CC/
Scanning folder /97C5B7E0-4380-41D7-B203-5EC3195AD4CC/
Scanning file   /97C5B7E0-4380-41D7-B203-5EC3195AD4CC/files_external
Scanning file   /97C5B7E0-4380-41D7-B203-5EC3195AD4CC/files_trashbin

[2015-09-22 14:11] jancborchardt commented on #19054
@schiesbn so you disagree with @oparoz?

@oparoz the point of the hardcoding is that this:

will results in big previews shown in the sidebar for stuff like text files – which is pointless. It should only happen for images.

[2015-09-22 14:11] RealRancor commented on #17457
@j-ed It might be useful that you stick on one issue instead of posting the infos in both. I think that makes it hard to follow if two issues are used in parallel.

[2015-09-22 14:11] oparoz commented on #18238
What we need is some specs...
* Drag and drop doesn't trigger the side-bar
* Tapping on the row brings up the side-bar
* Tapping on the row selects the current element (tick mark)
* Tapping on the row + shift adds an element to the selection
* Tapping in the side-bar preview launches the slideshow
* Tapping on the side-bar's close button closes the sidebar
* Leaving the folder closes the side-bar

[2015-09-22 14:12] jancborchardt commented on #19135
@PVince81 it wasn’t apparent then that there would be so much possible breakage.

[2015-09-22 14:13] davitol commented on #19256
Also it is not detected e-mail invalid addresses as:
email@-example.com;
email@example.web;
email@111.222.333.44444;

[2015-09-22 14:15] PVince81 commented on #18238
@oparoz thanks. It is not completely accurate and there is still the issue with the multiple highlights, see https://github.com/owncloud/core/issues/18210

We could make a tapping on the row set the tick mark instead of being a separate type of highlight.

One problem though is that if you untick the last row, the highlight would disappear and produce an empty sidebar (https://github.com/owncloud/

[2015-09-22 14:16] icewind1991 commented on #19269
That looks like an unrelated ldap error

[2015-09-22 14:17] PVince81 commented on #17600
@icewind1991 isn't that the thing that plugs into your app that logs queries or is it a different mechanism ?

[2015-09-22 14:17] oparoz commented on #19054
@schiesbn agrees with me I think, but it's true that there will still be 2 sizes since it would be pretty useless to show a large mime icon.

I disagree. At 32x32, there is little chance you can tell what the file is about unless the filename is ringing a bell. Now if you have a large text, pdf, office preview, then you know.
That's how all filesystems are doing it. They don't differentiate. If th

[2015-09-22 14:18] oparoz commented on #19054
We have to remember that this is a details view. If that was a media tab, with meta data, then it would be a different story.

[2015-09-22 14:19] oparoz commented on #18238
@PVince81 - It's more of a wish list than a representation of the current state ;)

[2015-09-22 14:22] oparoz commented on #18238
And regarding the empty sidebar, as discussed, remove everything but some basic folder stats. I think it would make things simpler both for devs and for users.

[2015-09-22 14:22] schiesbn commented on #19054
yes, I basically agree with @oparoz but I would go one step further and have only one size. I like the large previews and we should have it for all file types. If we don't have a preview  I would try to center the mime icon or something like that so that the basic layout stays the same: At the top a defined area for the preview and below the details so that it doesn't jump around while navigating

[2015-09-22 14:24] oparoz commented on #19054
I think this could work. Lots of empty space, but it makes it clear we don't have a preview and it doesn't change the layout.

[2015-09-22 14:26] schiesbn commented on #19054
right, and I think we have enough space at the sidebar, so we don't have to worry.

@jancborchardt

Why is it pointless. The same way it is useful to show more content/details of a image with a larger preview it can be useful to show more content of a document by displaying a larger preview.

[2015-09-22 14:27] davitol opened #19276 "[Sidebar] Email link to person; wrong 'placeholder' when emailing a link to a wrong address"
### Steps to reproduce

1. Create a file
2. Click on share button (Sidebar appears)
3. Email link to person with a invalid email

### Expected behaviour
The 'placeholder' shown should be related about email not sent

### Actual behaviour
The 'placeholder' shown says the mail was sent

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:**
MySQL

**PHP ve

[2015-09-22 14:34] JavaGuy85 commented on #19269
so if I don't use the ldap backend, the smb / cifs with oc login should work? I'll test that, thanks. It might be due to special structure of the ldap I am using.

[2015-09-22 14:38] gig13 commented on #19263
@PVince81
Not set in the admin page. More info has been updated on s3.

[2015-09-22 14:41] PVince81 commented on #18238
@jancborchardt your call on the final interaction design ?

[2015-09-22 14:42] PVince81 commented on #19232
Closing as duplicate of https://github.com/owncloud/core/issues/19145

[2015-09-22 14:42] #19232 closed

[2015-09-22 14:42] DemoFreak commented on #18568
Just for curiosity I tried out which file size I can upload successfully with FolderSync.

I created some files (50k, 100k, 150k, 200k, 500k, 1000k, 2000k) with random content locally and let them upload by desktop client to the owncloud instance. Then I synced them to the Android device successfully.

On the Android device I renamed them bit by bit, and the upload of the new (renamed) files succe

[2015-09-22 14:46] jancborchardt commented on #18238
Yeah, @oparoz has a good list already. This here is specifically about that clicking the list should also bring up the sidebar. The »Details« action should stay though.

[2015-09-22 14:46] blizzz commented on #10825
Couldn't finish this one yet.

[2015-09-22 14:47] jancborchardt commented on #19054
We tried that out, with cropping the image and such. It just looked wrong for pictures. Everything was cropped in strange ways. Unless we do face detection, stuff will not come out right. cc @icewind1991 @owncloud/designers

[2015-09-22 14:48] blizzz commented on #8317
Moving to 9.0 since it's feature/enhancement

[2015-09-22 14:49] PVince81 commented on #19020
Fix is here https://github.com/owncloud/core/pull/19277

[2015-09-22 14:51] PVince81 commented on #19273
Also happens without encryption

[2015-09-22 14:51] PVince81 commented on #19273
I'll bisect this...

[2015-09-22 14:54] PVince81 commented on #19273
and here we go, caused by https://github.com/owncloud/core/pull/18913

@LukasReschke please have a look

[2015-09-22 14:54] LukasReschke commented on #19273
Will do.

[2015-09-22 15:01] schiesbn commented on #19054
Hm, I thought that pictures are the file type where we agree that larger previews are a nice feature.

[2015-09-22 15:05] PVince81 commented on #19260
Didn't happen in stable8.1 => regression.

It looks like there is an extra bogus item in the selection list.

[2015-09-22 15:10] oparoz commented on #19054
Yes, we tried cropping pictures, but in this case, we don't touch the standard previews, we just remove the media type detection mechanism and only centre the media type icons when we can't get a preview.

[2015-09-22 15:12] icewind1991 commented on #17600
A different mechanism

[2015-09-22 15:18] PVince81 commented on #19260
Fix is here https://github.com/owncloud/core/pull/19279

[2015-09-22 15:20] Xenopathic commented on #19269
@JavaGuy85 No, the LDAP error is actually completely normal, cc @blizzz. It does not correlate to your external storage issue at all.

Does your storage work with the standard SMB/CIFS backend? Obviously with a set of credentials that works.

[2015-09-22 15:21] adrianoafonso commented on #18772
Hello @PVince81!
Yes, I usually access with some android apps to the owncloud server via webdav. Everything works fine, except the SMB/CIFS access/mounts.

[2015-09-22 15:23] jancborchardt commented on #19054
So … we end up with giant filetype icons when there is no preview to be generated? That doesn’t look very good.

[2015-09-22 15:24] schiesbn commented on #19054
Not giant, more or less the same size (depends on some fine tuning) centered at the top with the file info below

[2015-09-22 15:25] PVince81 commented on #19237
@jvillafanez reported that the build script also fails for previous versions. As stated above https://github.com/owncloud/core/issues/19237#issuecomment-142241783 please make sure the scripts only expect the new variable for OC >= 8.1

[2015-09-22 15:29] PVince81 commented on #19251
Hmm, I followed the steps and am getting a different behavior: after sharing with link, in order "sub2" then "folder1" then "sub1", I get this JS error:
[code]

[2015-09-22 15:32] Xenopathic commented on #19249
This comes from encryption...

[2015-09-22 15:32] jvillafanez commented on #19237
Confirming stable7 and stable8 daily tarballs are affected by this issue

[2015-09-22 15:33] schiesbn commented on #19054
Let my try to show it with a example:

![1](https://cloud.githubusercontent.com/assets/1589737/10022953/d20878ec-614f-11e5-8fa2-f883f40198e8.png)

![2](https://cloud.githubusercontent.com/assets/1589737/10022955/d5f163ce-614f-11e5-95dd-670a7d7ce2d4.png)

Of course this is just some copy&paste with gimp. It probably need some adjustment. Maybe the area for the preview can a bit smaller and maybe we

[2015-09-22 15:34] Xenopathic commented on #19242
Can we use RAII for this? So some object, that when constructed gets a lock, and when destructed releases the lock? Then we don't have to manually deal with releasing locks, we just let the locking object go out of scope.

Or is that just my C++ background showing through?

[2015-09-22 15:34] miqrogroove opened #19280 "Same bug as #17465 in 8.0.8"
I am still using the 8.0 branch for Windows support.  I am getting the /dev/urandom message on the admin page.  Is there a fix for the 8.0 branch?

[2015-09-22 15:35] jvillafanez commented on #19237
stable8.1 tarball isn't crashing now (I haven't checked the built time though)

[2015-09-22 15:36] karlitschek commented on #19280
So what exactly do you see on the admin page? Only the warning? This is not a bug but a feature.

[2015-09-22 15:36] #19280 closed

[2015-09-22 15:38] karlitschek commented on #19255
@butonic can you have a look please?

[2015-09-22 15:39] davitol commented on #16371
@DeepDiver1975 I cannot reproduce it now with 8.1.3 version. I remember it was a weird behaviour for example in sharing textbox 'Share with users, groups or remote users …' If it was pasted some info, it was mixed with the placeholder, but as i told you before i cannot reproduce it right now.

[2015-09-22 15:39] oparoz commented on #19054
I was hoping for some special effects :)

![warhol](https://cloud.githubusercontent.com/assets/323220/10023157/d2ed876a-6150-11e5-8c56-e8e798724754.png)

[2015-09-22 15:39] schiesbn commented on #19054
@oparoz of course something like this could be also a option.

[2015-09-22 15:43] oparoz commented on #19054
Nah, I think, we ought to keep it simple :). The icons are SVGs, so there is no rendering issue. As you've said, we just need to find the right size to make it work.

[2015-09-22 15:59] MorrisJobke commented on #19147
#19149 is merged

[2015-09-22 15:59] #19147 closed

[2015-09-22 16:02] gig13 commented on #18905
It seems the ZIPs are always the same, the tail end of each extracted file and our standard unzip tool is PowerArchiver running on Windows.

[2015-09-22 16:05] LukasReschke commented on #19273
Nope. Not me.

[code]
![2015-09-22_18-04-30](https://cloud.githubusercontent.com/assets/878997/10023857/6c6505fa-6154-11e5-8ef1-08ff6a2e578b.png)

[code]
![2015-09-22_18-04-13](https://cloud.githubusercontent.com/assets/878997/10023849/634e6308-6154-11e5-9cb6-277ee145d141.png)

[2015-09-22 16:05] rperezb commented on #16300
And QA done by @SergioBertolinSG

[2015-09-22 16:05] LukasReschke commented on #19273
@tomneedham THX

[2015-09-22 16:05] LukasReschke commented on #19273
Also the AJAX responses do contain all data. It's a JS side problem I'd say.

[2015-09-22 16:06] davitol commented on #16371
@DeepDiver1975 I've just tested on IE8, with oc 8.2. beta1 version and it happens in the sidebar, related to sharing textboxes for example:
![screen shot 2015-09-22 at 18 03 35](https://cloud.githubusercontent.com/assets/10596560/10023902/b118015c-6154-11e5-9fbf-ebf73a341450.png)

[2015-09-22 16:09] jancborchardt commented on #19054
Folks, exactly this stuff is what we did not want to have. It just doesn’t look good to put a stupid filetype icon on a pedestal like this. Even with the vertical whitespace removed, it being centered and taking up so much space is ridiculous.

[2015-09-22 16:11] davodego commented on #19203
Sorry for bad engish.
I mean corrupted or damaged file.

[2015-09-22 16:14] gig13 commented on #17640
@bboule
Ping -- any help here?

[2015-09-22 16:16] tomneedham commented on #19273
@LukasReschke am in Uganda for another 7 days, won't be able to look at this till then.

[2015-09-22 16:24] davitol commented on #18619
LDAP wizard does not work properly.
Also the icons from the sidebar are broken.

[2015-09-22 16:28] gig13 commented on #19045
@bboule @blizzz
Can anyone look at this?

[2015-09-22 16:47] Yamakasi commented on #19040
### Steps to reproduce
1. Add a user to GROUP1 in ldap
2. Add a folder in owncloud and share this with GROUP1 (comes from ldap)
3. Try to locate the folder as th groupuser in ownCloud, and it's not shown.

### Expected behaviour
We should see the shared folder as we are a user in the group where the OwnCloud folder is shared with

### Actual behaviour
I don' t see the folder

### Server configurat

[2015-09-22 17:31] RealRancor commented on #17465
Btw. only /dev should be added to open_basedir not /dev/urandom. open_basedir is, as the name is saying used for dirs and not for such virtual files like /dev/urandom

[2015-09-22 17:36] jancborchardt commented on #18619
cc @blizzz for the LDAP wizard – that’s a separate issue.

@davitol can you show a screenshot of the sidebar icons?

[2015-09-22 17:44] jre-wine commented on #19124
[As the person who gave above cited advice and now is disappointed that it didn't work:]

Basics (better safe than sorry):
- Did upgrades on exactly this build/test setup work before? (So did you rule out any apt pinnings issues? Check  "apt-cache policy".)
- Have you made sure that all owncloud packages were updated to the same version before?
- Did you check the built controlfiles (dpkg -e), to

[2015-09-22 17:50] #19191 closed

[2015-09-22 18:22] oparoz commented on #19054
It may be ridiculous, but that's how 98% of file managers do it and what users are used to.

![detail](https://cloud.githubusercontent.com/assets/323220/10027448/43198dc0-6167-11e5-92fe-3790def43922.png)
![](http://appletoolbox.com/wp-content/uploads/2014/12/3-Preview-Pane-Add-Tags.png)

I propose we go with a unique preview mechanism first and see if we can find a better option later.

[2015-09-22 18:25] blue-bean commented on #17307
+1 (for 8.0.8)

[2015-09-22 19:17] cmonteroluque commented on #16641
I think this stays, at least for now

[2015-09-22 19:19] cmonteroluque commented on #16709
move forward to 9.0 because of #13202

[2015-09-22 19:33] kneiser opened #19283 "OC-8.1.3 Update: External Storage Support (Local) Stopped Working"
- I updated 3 LAMP test servers to this release on: Fedora 22, Apache, PHP 5.6.13
- I have External Storage Support configured: Folder Name: shrMedia, External Storage: Local, Configuration: /var/files/media, Available for mediaRWGrp.
- The configuration is set for: chmod 777, chown apache: users. I did this thinking I had a Linux issue.
- I've had this configuration working since OC-5.x and never

[2015-09-22 19:37] butonic commented on #19255
I guess the same underlying reason as https://github.com/owncloud/core/issues/19125. Will investigate tomorrow.

[2015-09-22 19:41] cmonteroluque commented on #16751
@nickvergessen @DeepDiver1975 stay on 8.2?

[2015-09-22 19:43] cmonteroluque commented on #16826
@PVince81 @MTRichards @DeepDiver1975 as requested in https://github.com/owncloud/core/issues/16826#issuecomment-110320978 we should try and reserve time in 9.0 (8.3).

[2015-09-22 19:44] cmonteroluque commented on #16858
#12353 already moved to 9.0. Same with this...

[2015-09-22 19:47] cmonteroluque commented on #16908
https://github.com/owncloud/core/issues/16908#issuecomment-111533738 maybe, but we are where we are for now. @carlaschroder document?

[2015-09-22 20:37] cmonteroluque commented on #16950
external storage work

[2015-09-22 20:41] cmonteroluque commented on #17010
moving to 9.0

[2015-09-22 20:42] nickvergessen commented on #16751
no sev as said, can be defered again

[2015-09-22 20:46] cmonteroluque commented on #17243
https://github.com/owncloud/core/issues/17243#issuecomment-116740894

Nod, moving to 9.0

[2015-09-22 20:55] Henni commented on #19238
"enable previews" should work on current master.
See #19284 for the LDAP user backend fix.

[2015-09-22 21:05] Aesculapius commented on #19185
I managed to revert the installation to its current 8.1.1 using backups. Just wanted to stay away from updating as the system is needed in some critical usecases. To support those, I just wanted to add the documents app to the installation, only to notice that that forced an update process also. This has the same problem, leading me to the conclusion that at least this hasn't to do with 8.1.3 spec

[2015-09-22 21:07] #17118 closed

[2015-09-22 21:15] andyboeh commented on #17514
I am the developer of user_sql. In the meantime, a lot has changed within user_sql and I do not know if the problem still persists.
Personally, I do not use encryption and thus I cannot test with encryption enabled.

[2015-09-22 21:17] cmonteroluque commented on #17570
release note, please

[2015-09-22 21:20] karlitschek commented on #17514
@andyboeh great app by the way :-)

[2015-09-22 21:29] cmonteroluque commented on #18017
@PVince81 not sure whether we've decided the fix is thorough enough. It's unclear whether we're good enough to review/merge/close or the solution is too partial

[2015-09-22 21:44] andyboeh commented on #17514
@karlitschek Thank you very much, I really appreciate your positive feedback!

[2015-09-22 21:53] #19261 closed

[2015-09-22 21:53] #19264 closed

[2015-09-22 22:09] cmonteroluque commented on #18163
move to 9.0 then for the remaining issues

[2015-09-22 22:19] carlaschroder commented on #16908
I'm happy to proofread, but this looks like something a real developer needs to write.

[2015-09-22 22:25] karlitschek commented on #19283
can you post a full bug report as described here please?
https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

[2015-09-22 23:17] cmonteroluque commented on #17371
nod

[2015-09-22 23:18] cmonteroluque commented on #5383
ok

[2015-09-22 23:20] cmonteroluque commented on #16306
I thought large files on external was being addressed by @jmaciasportela. You have code for that already, in testing?

[2015-09-22 23:20] cmonteroluque commented on #16302
nod

[2015-09-22 23:22] cmonteroluque commented on #16984
ok

[2015-09-22 23:36] cmonteroluque commented on #19254
thanks @Xenopathic

[2015-09-22 23:39] cmonteroluque commented on #17146
ok @PVince81

[2015-09-22 23:41] cmonteroluque commented on #16587
@PVince81 yes, we do want it.

[2015-09-22 23:43] cmonteroluque commented on #13532
nod

[2015-09-22 23:45] cmonteroluque commented on #9630
thanks @karlitschek

[2015-09-22 23:47] cmonteroluque commented on #8664
@CaptionF is the exception listed by @PVince81 acceptable? @PVince81 would you finish this one?

[2015-09-22 23:48] cmonteroluque commented on #19217
@LukasReschke thanks

[2015-09-22 23:50] cmonteroluque commented on #5377
@PVince81 @MorrisJobke That seems right to me

[2015-09-22 23:51] cmonteroluque commented on #4715
nod

[2015-09-22 23:52] cmonteroluque commented on #4380
nod

[2015-09-23 00:04] karlitschek commented on #19237
argh. Please check again. should be fixed.

[2015-09-23 00:04] #19237 closed

[2015-09-23 01:02] karlitschek commented on #18771
Let me summarize what we want to do here from my point of view.

- Remove the joins between sharing and file cache tables.
- Improve the storage API so that a storage plugin can provide all data and metadata like etags, fileids and more.
- Transform our current file_cache implementation into a storage plugin. Other storage plugins can then be implemented by us or others.
- Implement a plugin API f

[2015-09-23 01:10] karlitschek commented on #9630
I think flysystem can be used as a driver or connector to access certain external storages. The implementations are better tested and maintained then our code.
But flysystem can't be our official external storage API. We still need to maintain our own. But flysystem can provide the individual storage connectors.

[2015-09-23 01:10] karlitschek commented on #9630
@DeepDiver1975 FYI

[2015-09-23 05:38] thomsmits commented on #18325
@PVince81 We just performed an update to 8.1.3 on our productive system and removed the thousands of duplicate entries in the oc_share table manually with a SQL query.

After 12 hours of usage, no duplicate entries were written. So it seems as if **8.1.3 has fixed the problem**. Thanks a lot!

After spending five weeks with the bug, I am really curious: Could you explain the reason for the duplica

[2015-09-23 06:15] individual-it commented on #18726
yes, seems to be fixed in 8.1.3
closing this issue

[2015-09-23 06:15] #18726 closed

[2015-09-23 06:30] Berndinox commented on #19255
Hy, yes, sorry for duplicating, looks like it's another problem...

During the night there also occours this log entry:
[code]
Seems like a bit an hhvm related problem?!
I will try switching to php-fpm and see how it's going.

Thanks in advanced for investigating, BR bernd

[2015-09-23 06:47] individual-it commented on #19242
as we are using TTLs in dblocking now, could we just delete all expired locks in https://github.com/owncloud/core/blob/master/lib/private/lock/dblockingprovider.php#L173 and not only the ones with lock == 0?

[2015-09-23 06:57] davitol commented on #18619
@jancborchardt Sidebar icons & checkboxes snapshots:

![filesidebb](https://cloud.githubusercontent.com/assets/10596560/10039322/12cd6104-61d1-11e5-9219-97aa9a29cacd.png)
![filesideb](https://cloud.githubusercontent.com/assets/10596560/10039327/17195e34-61d1-11e5-9c69-99c8cc028681.png)

[2015-09-23 06:58] individual-it commented on #19249
This happened to me on a hosted OC instance.
First we had encryption enabled, uploaded files. Then we disabled the "Default encryption module" and when accessing the old encrypted files this message was shown.
What is it actually the meaning of it? Should the user get a message like: "Your admin totally messed up the encryption, ask him to fix it" and a more technical message in the logs?

[2015-09-23 07:37] rullzer commented on #19119
same happens on the OCS endpoint. If now expiration date is provided no expiration date is set on the reshare..

So probably something goes wrong in my most favourite file...

[2015-09-23 07:45] davitol opened #19286 "Accessibility of 'favorite button', alternative text is not provided for the image that is the only thing within a link."
### Steps to reproduce

1. Login ownCloud.
2. Click on share button (Sidebar is shown)

### Expected behaviour
An alternative text should be provided for 'favorite button' due to it is a image that is the only thing within a link.

### Actual behaviour

An alternative text is not provided for 'favorite' image.

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**

[2015-09-23 07:47] Duwe commented on #15407
Hi,
i have the same problem. I cant change the wait_timeout at my provider. This value ist set to 60 seconds. (Yea, it is a cheap webplace)
If i upload a file, the upload will be broken after more than one minute. So i hope docrine's ping method will be used in the next time.
I cant use owncloud complete since the beginning of the year. Why you pushing the solution far in the future?

[2015-09-23 07:47] JavaGuy85 commented on #19269
I tried the normal SMB/CIFS backend. Prior to that, I created a local user on the samba server machine and created a samba user with "sudo smbpasswd -a username". I disabled the LDAP backend in owncloud and added the user to owncloud, username and password match.

Now, in the administration part of owncloud, the SMB/CIFS backend shows a red square.

owncloud.log has this to say about it:
Message\"

[2015-09-23 07:58] rullzer commented on #19119
Ok I think I got it. Let me prepare a PR and hope nothing else breaks...

[2015-09-23 07:59] nickvergessen commented on #19251
I made a full page refresh between the shares, maybe that helps.
But never the less it does not work as intended.

[2015-09-23 08:14] RealRancor commented on #19187
@keynet Hope this clarify this in more details: https://github.com/owncloud/documentation/pull/1681

[2015-09-23 08:14] PVince81 commented on #19242
@individual-it not removing locks could cause issues with subsequent code that might want to lock again (it can happen several times within a single PHP request).

In general I prefer having explicit closing of resources / releasing. Relying on automatic magic can sometimes lead to unpredictable results (happened before with fopen and file handles)

[2015-09-23 08:14] PVince81 commented on #19242
another example was "closeCursor"

[2015-09-23 08:17] PVince81 commented on #18905
Good, so this information completely excludes randomness and concurrency.

[2015-09-23 08:22] jancborchardt commented on #18619
cc @Henni for the checkboxes.

@MorrisJobke @Henni @owncloud/designers do you have any idea how we handle the filetype icons? Background-size is not available in internet explorer. Maybe we could have an .ie8 rule which makes the container smaller or something like that?

[2015-09-23 08:25] PVince81 commented on #19273
I'm on Earth this week, let me have a look

[2015-09-23 08:25] DeepDiver1975 commented on #19273
welcome back :rocket:

[2015-09-23 08:29] PVince81 commented on #19273
So if it's the files_texteditor it explains why this issue wasn't found before. It's only since the new version.

Strangely if I empty editor.js the problem still appears.
Looks like we're in weirdland.

[2015-09-23 08:30] PVince81 commented on #19273
It's the CSS...

[2015-09-23 08:36] PVince81 commented on #19273
Fix is here https://github.com/owncloud/files_texteditor/pull/112 (one liner)

[2015-09-23 08:41] SergioBertolinSG commented on #18946
@PVince81 tested with today's master (23/09/2015) downloading the file it is reverted.
The preview is not reverted. But not only the thumbnail, the big preview.
So it makes you think that the actual file wasn't reverted.

[2015-09-23 08:42] RealRancor commented on #15248
@greg0r Could you test https://github.com/owncloud/core/pull/18194 ? Thanks

[2015-09-23 08:46] PVince81 commented on #18017
My fix is only for one of the several potential slow factors, one of the obvious ones.
So even if we merge the PR we could keep this ticket open to track other potential slow factors. (step by step)

[2015-09-23 08:52] DeepDiver1975 commented on #18905
We might want to retry this with master - we did update zip streamer ... maybe this helps ....

[2015-09-23 08:53] schiesbn commented on #19054
@oparoz thanks for the examples

Additionally I want to mention the layout argument once more, because I consider it really important. If you navigate through the file list it is really disturbing if the complete layout changes between different file types. You go to a different file, look back to the sidebar and expect a specific content on a specific place and everything is different. IMHO that'

[2015-09-23 08:55] #18308 closed

[2015-09-23 09:00] PVince81 commented on #18325
I don't know the exact details but from what I heard it was a combination of several issues in the sharing code, mixed with a bunch of older broken oc_share entries (from previous bugs)

[2015-09-23 09:01] #18325 closed

[2015-09-23 09:02] davitol opened #19290 "Options icons are not shown properly using IE11"
### Steps to reproduce

1. Login ownCloud using IE as browser
2. Click on file/folder options button  (menu is dropdrown)

### Expected behaviour
The icons of each option should be shown properly

### Actual behaviour
The icons of each option are not shown properly

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

**o

[2015-09-23 09:04] PVince81 commented on #18946
Thanks for the info. So it's a duplicate of https://github.com/owncloud/core/issues/10559

[2015-09-23 09:04] #18946 closed

[2015-09-23 09:10] soundzgoood commented on #17683
I get the exact same error with a qnap system, all kinds of files ( about every one out of twenty)
Owncloud 8.1.3 (Linux)
client 1.8.4 (Linux and also Windows)
PHP 5.5.27 (cli) (built: Jul 15 2015 14:16:42)

This is very annoying since you have to delete the error producing files on the server and rename them on your local system in order to get rid of the infinite loops.

[2015-09-23 09:12] Xenopathic commented on #19269
Can you connect directly to the share with other tools, such as a file manager (any that support GVFS can do it) or smbclient?

[2015-09-23 09:12] js94x commented on #18229
There is already an update or bugfix?

[2015-09-23 09:13] schiesbn opened #19291 "Preview in sidebare hides close button"
The preview in the sidebar hides the (X) at the top right to close the sidebar which makes it impossible to close the sidebar.

![1](https://cloud.githubusercontent.com/assets/1589737/10041344/eff5904e-61e3-11e5-8ecf-edfae34f2187.png)

cc @jancborchardt @PVince81

[2015-09-23 09:17] schiesbn commented on #19291
Probably we should have some padding at every side if the image to see the (X) at the top and also to have some kind of a "frame" around the image. For some images it looks like they run out of the window with no margins.

[2015-09-23 09:18] MorrisJobke commented on #18627
Or try to move this upstream.

[2015-09-23 09:19] SergioBertolinSG commented on #10559
Please note, not only the thumbnail but the big previewed picture.

[2015-09-23 09:23] #19273 closed

[2015-09-23 09:24] schiesbn commented on #19291
I just played around with th window size. At some positions we see the whole (X) sometimes only parts of it, etc. Also it seems that sometimes we show the complete image resized to fit into the sidebar and sometimes we cut it off. Can we just predefine a area for the image and always resize it to fit into the area.

[2015-09-23 09:28] #19242 closed

[2015-09-23 09:30] #19260 closed

[2015-09-23 09:31] #19020 closed

[2015-09-23 09:38] jancborchardt commented on #19291
This is because the x is dark. It’s not hidden by the preview, it’s just because of the color. Will submit a PR to add a slight border around the x.

[2015-09-23 09:38] DeepDiver1975 commented on #17411
for me this is upgrade which is 9.0 topic

[2015-09-23 09:41] JavaGuy85 commented on #19269
yes, with nautilus it works

[2015-09-23 09:42] #19164 closed

[2015-09-23 09:42] Xenopathic commented on #19269
Have you tried putting a domain in front of the username? You should be able to find it in smb.conf on the Samba server, put `domain\username` as the username.

[2015-09-23 09:43] #19265 closed

[2015-09-23 09:48] PVince81 commented on #19251
Aha, the call to `_legacyFillCurrentShares` fails silently and the model population stops... Looking into it.

[2015-09-23 09:48] jancborchardt commented on #19054
What do @owncloud/designers think?

@schiesbn @oparoz if you think it’s better, then maybe best whip up a prototype PR so we can testdrive it.

[2015-09-23 09:49] McNetic commented on #18905
PowerArchiver seems to have issues with either the Zip64 extension or with the streamed zip feature. I also get CRC errors on perfectly valid zip files in PowerArchiver. I can not reproduce the corrupted contents; could you provide an example of a zip file where content is corrupted?

[2015-09-23 09:49] jancborchardt commented on #18627
@MorrisJobke @PVince81 whichever way you do it, would be really cool if the fix can make it for 8.2 – so be pragmatic please.

[2015-09-23 09:49] PVince81 commented on #19251
Okay... share type is sometimes a string and "3" !== OC.Share.SHARE_TYPE_LINK, classic Javascript...

[2015-09-23 09:52] PVince81 commented on #19251
Even more WTF, the server sometimes returns share type as string, sometimes as int...
![server-share-response-string](https://cloud.githubusercontent.com/assets/277525/10042101/8934d7b0-61e9-11e5-831a-9d06f6a46217.png)

I'll add some code on the JS side for now to make sure it's parsed to int.

[2015-09-23 09:52] jancborchardt commented on #18163
@PVince81 @MorrisJobke @owncloud/designers for 9.0 we should actually move all the options (can edit, share etc) in a dropdown which is next to the delete function. The dropdown will have an indicator icon if that person can only read (eye, icon-toggle), or write as well (icon-rename).

[2015-09-23 09:53] jancborchardt commented on #18163
With dropdown, I mean in the same style as the file actions.

[2015-09-23 09:54] blizzz commented on #19238
Caused by https://github.com/owncloud/core/pull/18735/files#diff-463c027b5536faafc395f8fd4d09792bR166

[2015-09-23 09:54] JavaGuy85 commented on #19269
OK, the error with normal SMB/CIFS was a misconfiguration of my samba server, which I set up just for testing the normal SMB/CIFS. Now it works. However, the samba server I used for trying out the SMB/CIFS with OC login was not this test-server, and it is configured correctly.

So to sum it up, SMB/CIFS works. SMB/CIFS with OC login does not work. I am using the same samba test-server and same use

[2015-09-23 09:59] Xenopathic commented on #19269
So the same credentials that you use to log into ownCloud with work in an SMB/CIFS mount, correct?

[2015-09-23 10:01] PVince81 commented on #18163
@jancborchardt sounds good.

[2015-09-23 10:06] JavaGuy85 commented on #19269
exactly, the same user is on the samba server machine, and has the same password for samba access. SMB/CIFS works, SMB/CIFS with OC login does not...

[2015-09-23 10:06] blizzz commented on #18619
Checkboxes display value was set to none here https://github.com/owncloud/core/pull/18735/files#diff-463c027b5536faafc395f8fd4d09792bR166

[2015-09-23 10:09] Xenopathic commented on #19269
Try putting in some debug statements (something like `\OCP\Util::writeLog('', $user, \OCP\Util::WARNING);`) right here: https://github.com/owncloud/core/blob/stable8.1/apps/files_external/lib/smb_oc.php#L65. Find out what the 'user' and 'password' variables are set to, make sure they match what you expect.

[2015-09-23 10:13] jancborchardt commented on #18939
I can not replicate this behavior. Everything fine for me. @owncloud/designers can you check?

[2015-09-23 10:14] blizzz commented on #19045
Cleanup works only against **deleted** users on LDAP by now.

[2015-09-23 10:20] PVince81 opened #19294 "Share indicator shows wrong state when parent is shared"
### Steps
1. Create "folder1"
1. Create "sub1" inside folder1
1. Share "folder1" with another user
1. Enter "folder1"
1. Check share indicator in the file list
1. Share "sub1" with link then unshare again
1. Check share indicator in the file list

### Expected result
Since "sub1" isn't share any more, the indicator should reset back to a simple icon with no text.

### Actual result
Share indicator

[2015-09-23 10:21] PVince81 commented on #19251
Now I wonder if the old JS code was using `==` sometimes :see_no_evil:

Fix is here: https://github.com/owncloud/core/pull/19295

[2015-09-23 10:24] PVince81 commented on #19294
Actually, just share "folder1" with a user (not a link share) and the issue is reproducible on master (ee649d58c5f82ee209ddc1812c1a896da53de707)

[2015-09-23 10:30] McNetic commented on #19205
This is a duplicate of #16656.

[2015-09-23 10:45] JavaGuy85 commented on #19269
I get "undefinded class constant 'WARNING'"

[2015-09-23 10:46] PVince81 commented on #19294
I have a local fix but requires https://github.com/owncloud/core/pull/19295 because it expects some values to be integers...

- [ ] BLOCKED by https://github.com/owncloud/core/pull/19295
- [ ] TODO: submit PR for branch share-hasusershares

[2015-09-23 10:49] JavaGuy85 commented on #19269
it's 'WARN', not 'WARNING'. Pass and Username, as well as host are what I expect...

[2015-09-23 10:58] blizzz commented on #19214
After investigating, some apps (at least Gallery :D) were using the old share dialog and manipulating it. Best and safest way for 8.2 seems to pack the "old" share dialog code into one file, let it both ship and load by the apps who need it. For 9.0 we look into a way to satisfy the needs of gallery, calendar and such by providing possibilities to interact with the new share dialogue code in a san

[2015-09-23 10:59] PVince81 commented on #19214
I'm looking into providing a portable namespaced "share.js" that can be copied into gallery, calendar and contacts and usable directly.

[2015-09-23 11:06] kalletabur opened #19296 "Key migration after upgrade to 8.1 partly fails"
### Steps to reproduce
1. Upgrade encrypted owncloud from 8.0.4 to 8.1.3-13.1
2. Enable encryption, enable encryption module, migrate keys
3. Log in as user

### Expected behaviour
Everything should work - users are able to log in and continue working as usual

### Actual behaviour
Some user keys are not migrated.
Admin user can login and is able work normally.
LDAP users:
**user1** (also part of

[2015-09-23 11:07] Xenopathic commented on #19269
Then there is no difference between your manually mounted SMB/CIFS and the SMB with OC login...

[2015-09-23 11:09] PVince81 commented on #19214
- [ ] calendar: https://github.com/owncloud/calendar/pull/940
- [ ] contacts
- [ ] gallery

[2015-09-23 11:19] PVince81 commented on #19214
I tried putting these additions into the gallery app and it worked.
But the checkboxes are broken (the new styles), so let's wait for @Henni to fix them in https://github.com/owncloud/calendar/pull/940 first.

[2015-09-23 11:23] PVince81 commented on #19227
Can you try disabling the text editor app and see if the problem still exists on the daily build ?

[2015-09-23 11:26] PVince81 commented on #18731
@LukasReschke are you able to reproduce this on your mac?

[2015-09-23 11:28] davitol opened #19298 "[Activities] Editing a fed.shared file, the user name is not shown"
### Steps to reproduce
1. Federate share a file
2. Edit the file in server B
3. Go to activities tab in server A

### Expected behaviour
The username that had edited the file should be shown in the activities tab

### Actual behaviour
The username is not shown, instead of it it is shown 'remote-user'

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:*

[2015-09-23 11:29] MorrisJobke commented on #17640
@blizzz @PVince81 Do you have any additional ideas? :cry:

[2015-09-23 11:32] MorrisJobke commented on #18897
Just today I again used Ctrl+F in my browser to search the file list, because the built in version in owncloud is very slow and the search result (for me images) didn't show the context and the gallery didn't worked there. Until this is fixed I'm against this, because it doesn't really allow to use the workaround approach.

[2015-09-23 11:35] rullzer commented on #11707
@PVince81 that does not solve the problem. Basically it comes down to what we want as defaults. I still vote for read only.

[2015-09-23 11:36] rullzer commented on #11707
@PVince81 I think while what you describe sounds nice. It won't make things easier. Instant changes seems best in the sharing dialog. Since if a user keeps making changes and they are only saved after a period of inactivity then we must make sure that all those changes can happen. Probabaly it adds more problems then it solves...

[2015-09-23 11:36] PVince81 commented on #17640
Not sure, it seems to be a mix of different issues.

I'd say first would be to aim at making occ files:scan work again so that the missing files can be displayed again. Then if they happen to disappear again randomly, try and find out why and whether it's related to the random LDAP failings.

[2015-09-23 11:37] karlitschek commented on #19296
@schiesbn What do you think?

[2015-09-23 11:40] PVince81 commented on #11707
Note that the "make changes after a delay" is already implemented in other places like the user management page where user deletion happens after a delay or when closing the window, leaving time for the user to undo changes. A similar mechanism could be used to make sure the last dirty data is getting saved.

[2015-09-23 11:42] davitol opened #19300 "[Activities] Weird behaviour clicking on the filename in the activities tab in the sidebar"
### Steps to reproduce
1. Perform some actions related to a file
2. Go to sidebar --> Activities
3. Click on the file's name

### Expected behaviour
The behaviour should probably the same as clicking on the thumbnail of the preview

### Actual behaviour
If the name is related to a folder, the action is browse into the folder, but if it is a file, it is shown the files view

### Server configuratio

[2015-09-23 11:42] rullzer commented on #16191
@PVince81 seems solved since the sidebar is updated on the rename

@Dianafg76 @SergioBertolinSG if you can still reproduce then please reopen this.

[2015-09-23 11:42] #16191 closed

[2015-09-23 11:45] rullzer commented on #11707
Agreed... but it won't be possible to do it everywhere in the sidebar... for example. if you want to share with link. Then it won't be instant but you have to wait for the timeout. before you can set the expiration date etc.

And to only have it on some but not all options seems weird.

But lets get back to the Read Only vs Read-Write topic ;)

[2015-09-23 11:46] MorrisJobke commented on #11707
I also think that making read-only the default and read-write an opt-in is the way to go. cc @owncloud/designers

[2015-09-23 11:47] MorrisJobke commented on #17640
@blizzz Can we get more details why the connection is lost? Is there anything logged or is this all we can get?

[2015-09-23 11:47] Henni commented on #18619
@blizz this is intended as we replace the checkboxes with images.

See #19301 for a fix for checkboxes in ie8

[2015-09-23 11:48] soundzgoood commented on #17683
is this #19068 related? seems that setting the upload and download limit to 800kbytes/s is helping. trying this right now...

[2015-09-23 11:48] MorrisJobke commented on #14666
@PVince81 @nickvergessen Can one of you add the documentation?

[2015-09-23 11:51] kalletabur opened #19302 "LDAP user keys are not migration after upgrade to 8.1 when maintenance mode is on"
This problem is described before in owncloud forum and github but no solutions are provided. Topics [here](https://forum.owncloud.org/viewtopic.php?f=31&t=29881), [here](https://github.com/owncloud/core/issues/18464) and [here] (https://github.com/owncloud/documentation/issues/1581).
This problem came out on server that basically has 4 users and is not currently used. But we have servers with GBs

[2015-09-23 11:53] davitol commented on #19227
I've tried with daily build, but WITHOUT disabling the editor app and it works. So I cannot reproduce it now.  I'll close the issue and if it is reproduce again i'll open it

[2015-09-23 11:53] #19227 closed

[2015-09-23 11:58] JavaGuy85 commented on #19269
OK, so SMB/CIFS with OC login now works with the test-server, if I disable "username as share" option.

With the actual server, the share folder is /home/[uid] - uid is an Attribute from LDAP. Is that the problem?

[2015-09-23 11:58] gig13 commented on #18905
@McNetic
I should be able to obtain one.

[2015-09-23 12:06] Xenopathic commented on #19269
Using 'Username as share' clearly won't work in that case, since your share name is 'home/user' not 'user'. You can however manually specify a share, using the `$user` variable, which gets replaced with the user UID. So you can try with a share of `home/$user`.

[2015-09-23 12:06] MorrisJobke commented on #18551
Nope.

[2015-09-23 12:07] gig13 commented on #17748
@MorrisJobke
Any status on this? There is a significant amount of data being stored in owncloud cache folders,

[2015-09-23 12:13] RealRancor commented on #19302
Hi,

instead of setting the maintenance mode set the single user mode as advised here:

https://github.com/owncloud/core/issues/18464#issuecomment-133466324

[2015-09-23 12:26] cmonteroluque commented on #19254
the types in bold have to be addressed at least

[2015-09-23 12:31] PVince81 opened #19304 "Add fallback for checkboxes to avoid breaking third party apps"
The new checkbox style provides CSS rules require that all checkboxes come with a "label" element.
If no label was provided, the checkbox will not be visible at all and functionality will be lost.

It has been already observed in core and some apps that checkboxes were broken and could be fixed manually by inserting a label. However, it is not guaranteed that all third party apps will have a label

[2015-09-23 12:35] JavaGuy85 commented on #19269
this replaced the username with a long string that looks like an md5-hash or something. It is not the uid attribute from ldap.

[2015-09-23 12:38] PVince81 commented on #11707
@rullzer true.

Right, for link shares read-only is also the default.

[2015-09-23 12:38] PVince81 commented on #18619
(Blizzz with 3 z :wink:)

[2015-09-23 12:40] PVince81 commented on #19251
Fixed through https://github.com/owncloud/core/pull/19295

[2015-09-23 12:40] #19251 closed

[2015-09-23 12:40] Xenopathic commented on #19269
That is because your LDAP configuration is set to use a UUID attribute - if you go to the Users page you will see each user is represented by this string of characters. If you want to change it (WARNING: will reset all shares and/or data!) you have to change the UUID attribute in the Expert LDAP settings (to 'uid' if what you are telling me is correct), then clear the user mappings. However, this

[2015-09-23 12:44] kalletabur commented on #19302
I don't know how I didn't notice it.
Somehow I was sure that I also tested it with singlemode but now I checked it and I didn't do that.
Sorry for unncessary issue but this is mainly because I have read too many upgrade suggestion and bug issues so that important details tend to be overlooked or forgot.

[2015-09-23 12:45] #19302 closed

[2015-09-23 12:47] PVince81 commented on #19294
PR submitted https://github.com/owncloud/core/pull/19305

[2015-09-23 12:57] MorrisJobke commented on #17598
See #19306 for app code check stuff that gives hints about the preferred version in `info.xml`

[2015-09-23 13:06] SergioBertolinSG opened #19309 "Very deep folder structure fails to be discovered with occ command."
### Steps to reproduce
1. Create an structure of 1024 folders of depth inside the files folder of a user, each folder with some characters.
2. Run files scan manually:

[code]
### Expected behaviour

Folders are discovered.
### Actual behaviour

MySQL errors.
### Server configuration

**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

**ownClou

[2015-09-23 13:10] JavaGuy85 commented on #19269
OK, now I get the actual path of the share folder in the log message, with the correct uid instead of the username or the UUID. However, it still says:

{"reqId":"vt+ZaxOfrpQGHlzFBg5W","remoteAddr":"192.168.200.16","app":"core","message":"Exception while scanning storage \"smb::myuser@localhost\/\/home\/4848\/\/\": Icew\
ind\\SMB\\Exception\\ForbiddenException: Invalid request for smb:\/\/localhos

[2015-09-23 13:21] PVince81 commented on #19096
Is it still happening on master ? I seem to remember having a similar discussion recently. Locks should now auto-clean already after a TTL.

[2015-09-23 13:26] PVince81 commented on #19057
From what I see in the code and while debugging, it does call `getScrollBarWidth()`.
Maybe the recent styling changes have introduced margins which might in some case affect the width measurements ?

I also see that `getScrollbarWidth()` is using some weird tricks using a hidden container to measure the scrollbar width, maybe that one was affected too ?

[2015-09-23 13:36] PVince81 commented on #19263
Ok, so basically using a patched ajax/share.php

[2015-09-23 13:37] #16451 closed

[2015-09-23 13:37] DeepDiver1975 commented on #18227
This is the ever returning nightmare of case insensitive username.

The proper solution is to finally introduce the accounts table which uses a proper integer based id.

see https://github.com/owncloud/core/pull/19053#discussion_r40074520

[2015-09-23 13:37] DeepDiver1975 commented on #18227
I'd like to move this to 9.0

[2015-09-23 13:38] DeepDiver1975 commented on #18227
@cmonteroluque @karlitschek

[2015-09-23 13:41] jancborchardt commented on #19057
@PVince81 I got that getScrollbarWidth code off Stackoverflow as a closed function. ;) No idea why it’s ot working unfortunately, my JS fu ends there.

[2015-09-23 13:42] karlitschek commented on #18227
would be fine for me. @MTRichards what do you think?

[2015-09-23 13:43] vader2014 commented on #18807
after the update to firefox v41.0 i don't experience the behavior any longer.

[2015-09-23 13:46] jancborchardt commented on #11707
Could we have a background timeout of like 7 seconds where the share is already shared, but de facto read-only? When nothing is done after that timeout, the setting which is set at that point (default read-write) will be set.

Do you understand what I mean? So basically the UX doesn’t change, it’s just that if you share with someone and then directly uncheck the »can edit« checkbox, it really neve

[2015-09-23 13:46] MTRichards commented on #18723
Also linking to https://github.com/owncloud/core/issues/18771 For what needs to be abstracted.

[2015-09-23 13:47] MorrisJobke commented on #11707
That's some really weird behaviour o.O Why not switch to read-only?

[2015-09-23 13:48] DeepDiver1975 commented on #12877
@LukasReschke 8.2? 9.0?

[2015-09-23 13:49] PVince81 commented on #19057
Ok, so next step is to debug the resizing code and very if the pixel values of each matches what is actually on screen, to find which element might be "lying" about its size.

[2015-09-23 13:49] jancborchardt commented on #18897
@MorrisJobke it’s called dogfooding …

[2015-09-23 13:50] MorrisJobke commented on #12877
Has the potential to break a lot. We could drop it early in 9.0 and then see what happens.

[2015-09-23 13:51] MTRichards commented on #18227
yes, workaround: use other letters.

[2015-09-23 13:51] MorrisJobke commented on #12877
Another idea was to only drop the methods, that has security problems. This would reduce the risk of broken apps/code.

[2015-09-23 13:53] MorrisJobke commented on #14127
@DeepDiver1975 requested to postpone this to 9.0 https://github.com/owncloud/core/pull/19053#discussion_r40074520

[2015-09-23 13:55] jancborchardt opened #19311 "For easier flow, also open menus on hover instead of just click"
First off: This is just an _addition_. I’m of course not saying we should remove click-to-open because we need to keep that for mobile anyway.

Check out for example the Netflix web interface (you need to be logged in): The user menu and notifications popup opens just when hovering. This makes that action much quicker as it doesn’t require a click.

To prevent accidental and annoying opening of th

[2015-09-23 13:56] jancborchardt commented on #19304
I would say we should document it at https://doc.owncloud.org/server/8.2/developer_manual/app/css.html

And then let the devs know. Because having a label next to a checkbox is needed anyway for good & accessible HTML.

[2015-09-23 13:58] PVince81 opened #19312 "Disable allowed storage backends must disable the actual storages"
### Steps

1. Check out stable8.1
1. Create a user "user1"
1. Setup SFTP_Key with key as system-wide mount
1. Allow SFTP_Key and SMB_OC
1. Login as "user1"
1. Setup SFTP_Key as personal mount
1. Upgrade to this branch
1. See that both mounts still work
1. Login as admin
1. Uncheck the checkboxes "SFTP" and "SMB"
1. Check "Webdav" (to make sure it's not completely disabled)
1. Login as "user1"

###

[2015-09-23 13:58] gig13 commented on #19263
@PVince81
Even after reverting the changes (mostly for debug) they are seeing the issue.

[2015-09-23 14:00] jancborchardt commented on #11707
Because that’s a full-on switch in default functionality we had since forever. Also, read-write is the normal default for collaboration.

[2015-09-23 14:08] MorrisJobke commented on #11707
But not for sharing something with you. I often just want to send around images or documents the other person shouldn't change ;)

[2015-09-23 14:10] PVince81 commented on #19263
Ok I see. Hmm... So it appears that "owncloudusers" is a magical (or cursed) group where users can't see each other in the autocomplete but it works for any other groups.

This could sound like a LDAP sync issue, especially that he said the group size didn't match what was on the LDAP server.

@blizzz can you check their LDAP config and answer the question.

[2015-09-23 14:11] MorrisJobke commented on #16571
I like the icons in the top bar. For sure only some of the "core"/official apps should be in there and all others are in the usual dropdown. The same applies for mobile interface. There the dropdown should hold everything.

[2015-09-23 14:12] PVince81 commented on #19263
@gig13 I'd still expect old users (users created way before the group size of "owncloudusers" increased) to still be able to see each other, as those should still be present in ownCloud's database.
Only newly added users would suffer from it, if it was the size issue.

[2015-09-23 14:16] Henni commented on #19304
The point is that the w3c standard allows the following three cases:
[code]
But only the first case displays the new checkbox style.
2. and 3. simply don't show a checkbox at all.

@jancborchardt do you think that we should add a `.checkbox` class and only apply the new style to checkboxes with this class?

[2015-09-23 14:19] MorrisJobke commented on #18146
[code]

Weird: https://github.com/owncloud/core/blob/v8.1.1/apps/files_sharing/lib/external/scanner.php#L121 There is nothing. cc @LukasReschke

[2015-09-23 14:21] MorrisJobke commented on #19120
Yep. I would also do this.

[2015-09-23 14:26] PVince81 commented on #19304
Also, see other potential locations that will have to be fixed eventually: https://github.com/owncloud/apps/search?utf8=%E2%9C%93&q=checkbox
https://github.com/owncloud/calendar/search?utf8=%E2%9C%93&q=checkbox (checkboxes in event dialog in calendar)

and possibly many more :wink:

[2015-09-23 14:29] PVince81 commented on #18146
also grepping the whole source tree for 8.1.1 for "SecurityLib" doesn't show any results.
The only occurrence is in the "3rdparty" folder where the lib is defined and the "3rdparty/composer/autoload_namespaces.php".

[2015-09-23 14:30] LukasReschke commented on #12877
Let's try to drop this with 9.0 – patching this manually is **igitt ibah** :smile:

[2015-09-23 14:30] PVince81 commented on #18146
Do you guys all have the same enabled third party apps ?
Could you post the list ? (`./occ app:list`)

[2015-09-23 14:42] DeepDiver1975 commented on #18276
feature freeze -> 9.0

[2015-09-23 14:43] DeepDiver1975 commented on #15567
let's reelaborate on this within 9.0 scope - thx

[2015-09-23 14:44] gig13 commented on #19045
Feedback from @cdamken thanks

Run the insert command or as a script the following
[code]

[2015-09-23 14:47] MorrisJobke commented on #18899
Versions is still available for folders.

[2015-09-23 14:49] michaelstingl commented on #18146
@MorrisJobke @PVince81 I'm still waiting for the list of activated apps. Sorry.

[2015-09-23 15:00] PVince81 commented on #18899
I didn't fix it yet

[2015-09-23 15:13] DrDamnit commented on #18146
@PVince81 , Grepping through the source tree does show results. Lots of them.  Additionally, I am only showing matches that also have "Strength" in them, since that seems to be more specific to the problem:
https://gist.github.com/DrDamnit/d5c1f4bb7588dc09c416

Here are all the results for the previous version (that I had handy) for comparison.
https://gist.github.com/DrDamnit/f155ad2150c1aebce18e

[2015-09-23 15:14] DrDamnit commented on #18146
@michaelstingl
App List:

owncloud@cloud:~/www$ php occ app:list
Enabled:
 - activity: 2.0.2
 - files: 1.1.10
 - files_pdfviewer: 0.7
 - files_sharing: 0.6.2
 - files_texteditor: 0.4
 - files_trashbin: 0.6.3
 - files_versions: 1.0.6
 - files_videoviewer: 0.1.3
 - firstrunwizard: 1.1
 - gallery: 0.6.1
 - templateeditor: 0.1
 - updater: 0.6
Disabled:
 - documents
 - encryption
 - external
 - files_e

[2015-09-23 15:22] LukasReschke commented on #18897
https://github.com/owncloud/core/pull/19212#issuecomment-142300153

[2015-09-23 15:28] PVince81 opened #19314 "Cannot set NULL values using query builder"
Trying to set expiration to null for this PR https://github.com/owncloud/core/pull/19132
[code]

I first searched for info about how to do it with Doctrine until I discovered that ownCloud has its own `QuoteHelper` which doesn't seem to support passing null values.

Neither of these work:
- `->set('expiration', null)` => creates invalid SQL query `expiration = ` (no value)
- `->set('expiration', '

[2015-09-23 15:29] PVince81 commented on #19314
You can try it out by checking out the branch "sharing-removebogusexpirationdate-querybuilder" and running `./autotest.sh sqlite tests/lib/repair/repairinvalidshares.php`

[2015-09-23 15:39] PVince81 commented on #18146
@DrDamnit right, that's the same as I see. It's only the third party libraries, but they aren't used anywhere in the OC source code (everything except the "3rdparty" folder)

[2015-09-23 15:41] DrDamnit commented on #18146
@PVince81 - ah, now I see what you were saying. It's not in core. Gotcha.

[2015-09-23 15:43] PVince81 commented on #18520
I'm confused about what the doc change is supposed to be.
@oparoz did you mean we should add a sentence that tells that this setting is only for the home storage, not external storage ?

[2015-09-23 15:45] iakko opened #19315 "Password Reset Not Working"
### Steps to reproduce
1. Use a valid user
2. Login with wrong password
3. Click on the link sent by email
4. Change Password

### Expected behaviour
User expects to be redirected to the login/logged page with the new password.

### Actual behaviour
Nothing happens, the browser doesn't move.

### Server configuration
Ubuntu Server Ver. 14.04

Apache 2 Ver. 2.4.7

MySQL Ver. 5.6.21

PHP Ver. 5.5.9

[2015-09-23 15:50] PVince81 commented on #18818
@icewind1991 any update on this critical issue ?

[2015-09-23 15:53] PVince81 commented on #18346
This isn't a blocker anymore.

In general it's not a good idea to rely on the root storage entry in the database to iterate over the user.
One should use the UserManager for that.

The PR https://github.com/owncloud/core/pull/17899 that was originally blocked by this has been modified to use the UserManager instead.

I am not aware of other code paths that would use the "wrong" approach so I sugge

[2015-09-23 15:57] PVince81 opened #19316 "Do not simulate DB upgrade if no actual schema/table changes"
### Steps to reproduce
1. Setup ownCloud
2. Increase version in versions.php
3. Run upgrade
### Expected result

No simulated update
### Actual result

Simulated update (observed with debugger, tables are actually copied!)
### Versions

ownCloud 8.2 beta and previous.

Before calling `copyTable`, a diff of the schema should be computed first to make sure there is anything to test.

This should acc

[2015-09-23 16:01] PVince81 opened #19317 "Schema diff detects index change during update simulation even if there is none"
### Steps to reproduce

1. Setup ownCloud
1. Increase version in versions.php
1. Run upgrade

### Expected result
No schema change applied

### Actual result
In a debugger, I see that the diff contains changes and the produced SQL would drop indices and then recreate them.
@karlitschek this seems to match a query log you showed me last week.

### Versions
ownCloud 8.2 beta and possibly previous ve

[2015-09-23 16:02] PVince81 commented on #19317
This was with:
mariadb-10.0.20-1.1.x86_64

Could be related to recent changes to index name format/handling

[2015-09-23 16:03] PVince81 commented on #19317
Okay, I debugged further and this only happens during update simulation.

During the real actual DB update, the diff is correct and no indices are recreated.

[2015-09-23 16:07] hostingnuggets opened #19319 "Update OC 7.0.10 to OC 8.0.8 with encryption app very slow"
I am currently testing the upgrade of OC 7.0.10 to 8.0.8 using `occ upgrade` but somehow it lasts for hours and hours, now I checked what the occ upgrade PHP process is doing and it looks like its doing stat of every possible key files as you can see here an example:

[code]

The output of the upgrade itself shows:

[code]

So yes I am using the encryption app and have around 66 GB of data. So my

[2015-09-23 16:07] PVince81 commented on #19316
From looking at the code the fix should be simple (as opposed to trivial).

8.2 or 9.0 ?

[2015-09-23 16:07] PVince81 commented on #19316
Note: https://github.com/owncloud/core/issues/19317 will have to be fixed first because it wrongly detects index changes

[2015-09-23 16:36] soundzgoood commented on #17683
yep, that did it! limiting upload and download speed will make the errors vanish. Automatic upload and download speed also works.

[2015-09-23 16:38] cmonteroluque commented on #10001
@DeepDiver1975 Any update? This was just raised up as a priority for the Mac

[2015-09-23 16:54] jancborchardt commented on #19304
@Henni I’d say at least the 3rd case should also display the new checkbox, as that is quite common – like `<label><input type="checkbox"> Label text</label>`. 2 should be discouraged.

We could add a `.checkbox` class as well but I would only do that if we do not find any other options. We can identify checkboxes by `input type="checkbox"` already, no?

[2015-09-23 16:57] jancborchardt commented on #11707
Of course, but that’s possible with a simple click.

Please be aware that we are talking about doing a major UX change (changing a default) simply because of an issue not really visible to people. That’s not how we usually do things.

[2015-09-23 16:57] PVince81 commented on #19304
@jancborchardt the ".checkbox" class would be for the fallback, see https://github.com/owncloud/core/issues/19304#issue-107909380

[2015-09-23 17:01] jancborchardt commented on #19304
@PVince81 as far as I understand, the `.checkbox` class will be added to the checkboxes we know, right? And everything without that class would use the normal checkbox style?

I mean, whatever you think is right and will work. @PVince81 @Henni you need to decide together.

[2015-09-23 17:06] gig13 commented on #18905
@McNetic @DeepDiver1975
File uploaded to s3 (InstantUpload.zip) https://s3.owncloud.com/owncloud/index.php/apps/files?dir=/Shared/owncloud/support/github-issues/core/18905

I opened the file using 7zip without issue and the images appear to be fine -- no visible corruption or gray lines at the bottom of the files.

[2015-09-23 17:07] PVince81 commented on #19304
@jancborchardt yes, that's correct.

[2015-09-23 17:22] cmonteroluque commented on #18509
@PVince81 @nickvergessen pick up this issue again?

[2015-09-23 17:23] cmonteroluque commented on #18551
okey dokey

[2015-09-23 17:24] cmonteroluque commented on #18578
@SergioBertolinSG @rperezb please retest

[2015-09-23 17:27] #18629 closed

[2015-09-23 17:28] cmonteroluque commented on #18657
https://github.com/owncloud/core/issues/18657#issuecomment-142203938 @DeepDiver1975 ?

[2015-09-23 17:28] Henni commented on #19304
Ok let's add the `.checkbox` class then.
@jancborchardt Case 2 and 3 cannot be styled with pure CSS, as there is no parent or previous sibling selector.

[2015-09-23 17:36] cmonteroluque commented on #18838
lovely. Running out of time to keep in 8.2

[2015-09-23 17:42] #18807 closed

[2015-09-23 17:46] karlitschek commented on #19319
@schiesbn

[2015-09-23 17:49] karlitschek commented on #19316
Nice :+1: Please backport to 8.1

[2015-09-23 17:53] blizzz commented on #17640
Not from our side, unfortunately.

@gig13 some output we can look at?

How does their LDAP/AD landscape look like? Maybe Proxy?

Do we have log output from the scan command attempts?

Meanwhile, was there an update attempted. As mentioned (https://github.com/owncloud/core/issues/17640#issuecomment-125676360), at least part of the LDAP issues were fixed with 8.0.6

[2015-09-23 17:54] africanforest opened #19320 "Suggestion: Avoid annoying error flooding"
I'm running OwnCloud 8.1.3 with PHP 5.6. I believe to know that the error below is due to a PHP 5.6 issue, but since i'm on a shared host, i have no access to the php.ini. This error is constantly flooding the logfile of OwnCloud by reporting the same error again and again each minute!

The error message is:

Automatically populating $HTTP_RAW_POST_DATA is deprecated and will be removed in a futur

[2015-09-23 17:54] oparoz commented on #19096
We talked about it in another issue. Should be fixed. I will re-open should the TTL prove to be an ineffective ghost buster :)

[2015-09-23 17:54] #19096 closed

[2015-09-23 17:57] karlitschek commented on #19320
@LukasReschke Can you have a look?

[2015-09-23 17:58] oparoz commented on #18939
Confirmed as fixed.

[2015-09-23 17:58] #18939 closed

[2015-09-23 18:01] africanforest commented on #19320
Me? Not sure i understood correctly. I can provide my logfile from 2015-09-18 to 2015-09-23 which is already 11 MB and constantly growing.

[2015-09-23 18:16] wilsonlmh opened #19321 "The share link renew without a press"
In Files app -> Shared links(in left side bar), the link of each share renew just after your click the "Shared" icon, but keep the original link. is there any better way (e.g. a "renew" button) to do this that avoid user confusion? you know when I got two different links point to same location(from my users), I doubt if I did something wrong.
![image](https://cloud.githubusercontent.com/assets/510

[2015-09-23 18:23] bboule commented on #13386
@ogoffart @MTRichards @cmonteroluque  Sorry to poke this but the message is a bit confusing here what exactly are we going to do with this?  I see it is in the backlog can we move it to an actual milestone?

[2015-09-23 18:30] schmel opened #19322 "External storage Google Drive not open a folder with some Cyrillic name."
This worked in version 7.0.7
After upgrade to Owncloud 8.1.3, owncloud sync stopped synchronization process with error:Internal Server Error. In Web GUI this folder not open.

https://youtu.be/eJ7GSYGKI0A - this bug.

Gdrive folder structure:
\Main.c\по основной деятельности.
\+Codeinside\по основной деятельности

OS: Ubuntu 14.04
root@persey:/var/www# locale
LANG=ru_RU.UTF-8
LANGUAGE=
LC_CTYPE="r

[2015-09-23 18:35] MTRichards commented on #13386
The change was reverted on the desktop client, will be released with the next client release (2.0.2) as far as I know. No changes was ever made on the server side, as per the above.

We just need to put the server to KB, which is a bug. Just needs a bug priority.

[2015-09-23 18:38] bboule commented on #17748
@MTRichards @cmonteroluque hey guys I think we need a little attention on this if possible?

[2015-09-23 18:38] schmel commented on #19322
Insync (other gdrive client) ignore this folder.
Gdrive client - sync this folder.
Owncloud - stop sync with error.

[2015-09-23 18:41] MTRichards commented on #17748
100% a bug.

[2015-09-23 19:09] Xenopathic commented on #19320
This warning is generated by PHP itself, ownCloud has nothing to do with it. Please inform your shared hoster that this is happening, as it also affects all other users of PHP on that hoster.

[2015-09-23 19:09] #19320 closed

[2015-09-23 19:10] piccardi opened #19323 "IMAP auth do not work with 8.1.3"
Hi just installed a fresh  8.1.3 version, enabled external auth app, added:

  'user_backends' =>
  array (
    0 =>
    array (
      'class' => 'OC_User_IMAP',
      'arguments' =>
      array (
        0 => '{localhost:143/imap}',
      ),
    ),
  ),

to config/config.php and when trying a login with an IMAP user (just working fine with redmine in the same server) I'm getting:

{"reqId":"qKcyq

[2015-09-23 19:12] armaccloud opened #19324 "OC8.1.3 upgrade->packages will be removed (apt-get upgrade)"
Hi owncloud team,
I got the message that owncloud can be upgraded to the new version 8.1.3.
However when I perform the steps 'apt-get update && apt-get dist-upgrade' on my Ubuntu 15.04 system, it gives me the following information:

![selection_054](https://cloud.githubusercontent.com/assets/9272078/10055634/9af49442-6237-11e5-8970-59b67d3235e1.png)

Can I proceed with the upgrade in this manner o

[2015-09-23 19:12] kneiser commented on #19283
Here is the issue filled out. If more information required contact me please.
### Steps to reproduce
1. Go to admin user "adminstration" and setup external storage as indicated below. Green light appears once configured, as always.
2. Admin user goes to Files app, no external storage "shrMedia" folder. Regular ownCloud user has same experience.
3. "External Storage" tag on left does display "shrMe

[2015-09-23 19:14] jancborchardt commented on #19304
@Henni right

[2015-09-23 19:15] jancborchardt commented on #18551
This is still an issue as far as I can see. If no one else can work on it I will hack it with CSS, but as I said it might cause problems. In any case we should fix it.

[2015-09-23 19:33] bobweston commented on #14187
For what it's worth, I had this same issue after upgrading my server from ubuntu 12.04 to 14.04. Our devops setup is completely puppetized. The problem was I had forgotten to do a puppet provisioning run after upgrading the server.

In vagrant, I just had to run vagrant provision [server_name] to get everything working again.

[2015-09-23 19:36] gig13 commented on #17640
@blizzz
The scan was listed above
[code]

LDAP info is in the config report on s3.

[2015-09-23 19:43] Rumbelstilzchen opened #19325 "ignore system directories within webinterface"
My NAS creates in every directoy an indexing folder called "@eaDir". I would like to have owncloud to ignore those. So far I did not find an option to enable this within the config.php
I think I might have found a solution:
If I replace in lib\private\files\filesystem.php line 618:
`if ($dir === '.' || $dir === '..') {`
with this:
`if (in_array($dir, $this->config->getSystemValue('ignored_director

[2015-09-23 19:46] bobweston commented on #14187
One other point, if you google php5-fpm crashes, you'll see that this is a common problem (php5-fpm crashes).
One approach to fixing it is to set up a root crontab that restarts php5-fpm hourly.

  sudo crontab -u root -e

Then add

  0 * * * * /usr/sbin/service php5-fpm restart > /dev/null 2>&1

[2015-09-23 19:52] karlitschek commented on #19324
@jnweiger is this normal?

[2015-09-23 20:07] africanforest commented on #19320
Thanks for the info.

[2015-09-23 20:25] Xenopathic commented on #19324
With ownCloud 8.1.3 I believe we merged all the individual app packages into the owncloud-server package, so yes, this is completely normal and you will keep all your apps.

[2015-09-23 20:27] Xenopathic commented on #19283
I noticed you appear to be using suexec. Perhaps this is changing the user that ownCloud runs as? Although if you've set the file mode to 777, that can't be it...

The problem is very likely to be that files_sharing issue. cc @PVince81

[2015-09-23 20:33] RealRancor commented on #19324
Yes, this is the expected behaviour when upgrading to 8.1.3

[2015-09-23 20:59] jancborchardt commented on #18634
This is such a tiny issue we shouldn’t waste time trying to fix it. Let’s focus on the important issues instead and prioritize the really breaking issues in IE: https://github.com/owncloud/core/issues/18619

[2015-09-23 20:59] #18634 closed

[2015-09-23 21:07] jancborchardt commented on #19089
@PVince81 is there a way to add the alt text to the image _only_ when the file is not shared yet? Because then the text »Shared« is next to it and the image should not have alt text anymore.

[2015-09-23 21:11] jancborchardt commented on #13161
Yeah, the spinner should show then instead of the filetype icon (file or folder).

[2015-09-23 21:30] blizzz commented on #19263
So, update from 7.0.6.

They can turn off caching in LDAP to verify this theory. They just need to set the Cache TTL to 0 in Advanced LDAP settings. However there were no (group-) related changes in the LDAP backend between 7.0.6 and 7.0.8, but I also fail to see related changes in sharing. If something is bogus, it's likely there for a longer time. Any chance they might have overseen this before?

[2015-09-23 21:40] DeepDiver1975 commented on #18905
@gig13 FYI: @McNetic is a community contributor who has no access to s3 - please add a public link - THX

[2015-09-23 21:52] oparoz commented on #19091
And there is a big problem which needs to be solved in core for 9.0 regarding the spinner. They need to be applied to their own divs so that themes can't use high quality spinner. You have to get rid of all the spinners which are simply applied to large containers.

[2015-09-23 23:43] jancborchardt commented on #18008
@SergioBertolinSG is it not possible to scroll even with the scrollwheel or touchpad?

[2015-09-24 00:36] anonimal commented on #17465
@RealRancor WRONG! Sorry, but that *seriously* needs to be emphasized.

1. As I've stated before, with similar wording: granting read access to your entire <code>/dev</code> tree on a compromised webserver is just plain stupid. Type <code>find /dev -perm -o+r</code> to see what could be readily available to any malicious PHP. On a per-system basis, there may be sensitive information available that

[2015-09-24 01:34] Yamakasi commented on #19040
@blizzz is this enough info ?

[2015-09-24 05:46] timm2k commented on #18146
@michaelstingl @PVince81
[code]
[code]

[2015-09-24 06:07] RealRancor commented on #17465
@anonimal And then why my PHP is not able to access /dev/urandom when /dev/urandom is added to an open_basedir but is able when only /dev is added?

[2015-09-24 06:43] SergioBertolinSG commented on #18008
@jancborchardt Yes, not possible at all. (tested in 7.0.10 as well)

[2015-09-24 06:46] timm2k commented on #18146
@michaelstingl @PVince81
I've updated our test system to 8.1.3 and the error with share_external has gone.

[2015-09-24 06:51] MorrisJobke commented on #18520
Yes

[2015-09-24 06:54] nickvergessen commented on #19314
The quote helper takes care of adding \` around column names, so you don't have to do that manually for oracle anymore.

Your PR can also be easily fixed by using a parameter:
[code]

But I will also fix the `'null'` way. Let's hope no one ever tries to name a column `null`

[2015-09-24 07:00] dragotin commented on #13386
confirm @MTRichards assumptions about the client: Revert will come with 2.0.2

[2015-09-24 07:14] SergioBertolinSG opened #19327 "Running occ encryption:decrypt-all without a username doesn't stop and warn the user."
### Steps to reproduce

1. Run occ encryption:decrypt-all    (without a user)

### Expected behaviour
Command fails and tells the user it requires a user name.

### Actual behaviour
it continues until it finds that the user string is empty.
[code]

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

**ownCloud version:**

[2015-09-24 07:20] jancborchardt commented on #18008
Debugged with @SergioBertolinSG and the CSS values are exactly the same for ownCloud 8 and master (where scrolling works). The problem must lie somewhere else then.

[2015-09-24 07:35] nickvergessen commented on #18509
Well it is fixed by #16479 which is waiting for merge iirc

[2015-09-24 07:40] DeepDiver1975 commented on #16445
@cmonteroluque @karlitschek I vote for moving this to 9.0 and explicit allocate time - this is not a bug fix we should do quickly

[2015-09-24 07:41] rullzer commented on #19321
Currently you can only have 1 link share per item. We won't fix this with our current implementation but we are looking at it for sharing 2.0

[2015-09-24 07:42] davitol commented on #18619
LDAP buttons that do not appear:
- Add new conf
- Copy current conf

![ldapicon8](https://cloud.githubusercontent.com/assets/10596560/10067917/88098a18-62a0-11e5-9c1e-648f00759d71.png)

[2015-09-24 07:44] #19291 closed

[2015-09-24 07:49] DeepDiver1975 commented on #19327
@schiesbn

[2015-09-24 07:49] nickvergessen commented on #15858
Yes, still a verify annoying issue

changed the line numbers to match the new code position:
https://github.com/owncloud/core/blob/1911472b88898868969bfbefa16e0e2e3168c146/lib/private/share/share.php#L282-L288

[2015-09-24 07:50] MorrisJobke commented on #11707
Yep. I just say, that it would be better to actively need to enable that another person can delete your data instead of have this the default. I think that the current way is a bad way of handling this. Even if it was the case for all the previous versions (which isn't really an argument). Keeping broken stuff, because people are used to it doesn't sound good :(

[2015-09-24 08:10] iakko commented on #19315
Just a little note on the Browser Log section: the "http:///" lacks of domain because I omitted it, actually it's something like "http://my.domain.com/".

[2015-09-24 08:11] beerlao commented on #18568
Sorry to chip in here, I have a similar problem.

I'm running OC 8.1.3 under Apache 2.4 using FastCGI and PHP 5.6.4. Owncloud 7.x runs with no issues. Using Owncloud 8.x, I am not able to use Folder Sync under Android (https://play.google.com/store/apps/deta ... rsync.full). Although Webdav, CardDav and CalDav are working fine, I am not able to setup an WebDav Account using Folder Sync.

If I down

[2015-09-24 08:12] SergioBertolinSG commented on #18578
@Xenopathic Working fine in 8.1beta1. Hence closing.

[2015-09-24 08:12] #18578 closed

[2015-09-24 08:13] blizzz commented on #19040
@Yamakasi looks sufficient, will know better when i will came around to it, probably start of next week.

[2015-09-24 08:18] blizzz commented on #17640
But not the information is asked about. Unless I oversaw it, then point me please.

[2015-09-24 08:25] #18509 closed

[2015-09-24 08:25] davitol opened #19330 "[IE9] [LDAP wizard] refreshing the screen the pwd written before is visible"
### Steps to reproduce
1. Configure a LDAP configuration using LDAP wizard (server tab) with IE9
2. Refresh the screen

### Expected behaviour
The password should not be visible, but shown as dots

### Actual behaviour
The password is visible

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

**ownCloud version:** ownC

[2015-09-24 08:27] PVince81 commented on #19304
So the cool thing here is that the "checkbox" class should make all 3 cases stylable and at the same time provide the fallback :smile:

[2015-09-24 08:29] PVince81 commented on #19316
@icewind1991 do you have time to fix this ?

[2015-09-24 08:45] rullzer opened #19331 "Sharing 2.0"
@schiesbn and myself spend some time at the conference coming up with a possible design for sharing 2.0. Here is basically an overview of my notes.

## Note

As discussed in Berlin the sharing stuff will for now only be for files. Contact and calendar will use the old sharing code but will be moved to webdav.

## Architecture

We want to move all real sharing to separate apps. Right now sharing is

[2015-09-24 08:46] PVince81 commented on #19089
You can try adding it here https://github.com/owncloud/core/blob/master/core/js/share.js#L290 and check that `hasShares` and `hasLink` are false

[2015-09-24 08:46] SergioBertolinSG opened #19332 "Misleading information in occ:encrypt-all output when key-pairs are reused."
### Steps to reproduce

1. Enable encryption app.
2. Enable encryption.
3. Create few users.
4. Log out and in with admin user.
5. Run occ encryption:encrypt-all

### Expected behaviour
Files are encrypted and keys reused.

### Actual behaviour
That happens. But the output is confusing and should have removed some parts:

The password list titles appears even if there are no passwords to show. And

[2015-09-24 08:48] rullzer commented on #19331
FYI: @DeepDiver1975 @karlitschek @cmonteroluque @MTRichards

[2015-09-24 08:57] PVince81 commented on #19068
@GrimDemon you can try setting "filesystem_check_changes" to 0 in config.php. This will prevent OC to try detecting updates in the "data" folder. Usually this detection is not needed unless you are manually adding files directly into the "data" folder which isn't recommended anyway.

[2015-09-24 08:57] #19314 closed

[2015-09-24 08:58] PVince81 commented on #19068
if that doesn't solve the problem, another workaround is to disable the "files_locking" app.

If you're worried about concurrency and still want to have locking, you can use the new transactional locking that works better but requires a redis server, see https://doc.owncloud.org/server/8.1/admin_manual/configuration_files/files_locking_experimental.html
(in 8.2 there will also be a DB backend whic

[2015-09-24 09:00] PVince81 commented on #19314
@nickvergessen thanks a lot!

[2015-09-24 09:01] SergioBertolinSG commented on #19309
@icewind1991 what is the folder depth limit that we can expect to use when discovering using files:scan?

[2015-09-24 09:05] DeepDiver1975 commented on #16960
Let's see if we can add locking once we have #19318 in place

[2015-09-24 09:08] PVince81 opened #19333 "Default expiration date only contains year"
### Steps

1. Go to admin page
1. Enable "Set default expiration date"
1. Create folder "test"
1. Share "test" with link

### Expected result
Expiration date set to 7 days later.

### Actual result
Expiration date field contains the string "2015" with no month or day!
Note that this was tested Sept 24th 2015, in case the target date seven days later would confuse the code.

### Versions
ownCloud 8

[2015-09-24 09:09] DeepDiver1975 commented on #19331
I question the use case - what would such a share provider be?
If sharing is file only - this is a pure private implementation - no app needs to interact on this level.

[2015-09-24 09:09] PVince81 commented on #19333
Works properly on stable8.1.

Interestingly the target date is "2015-10-1 00:00:00".

[2015-09-24 09:13] schiesbn commented on #19331
A share provider could be a sharing implementation from a specific storage for example.
We need a manager to track the share provider (we may have more than one in the future) and redirect for example OCS share api calls to the right implementation.

[2015-09-24 09:14] oparoz opened #19334 "Horrible scrolling performance on alternative mobile webkit browsers"
### Env

Firefox on Android 4.3
BlackBerry 10 browser
Chrome on iOS
Safari on iOS

### Description

On the Files side, when using Chrome on iOS, the controls bar keeps being pushed out of place when scrolling. It did not happen on 8.1 and does not happen in Gallery per example.

Works fine on Firefox, so it seems to be a Webkit only issue, but Safari does not exhibit that behaviour, so maybe some

[2015-09-24 09:14] PVince81 commented on #19333
Oh no... getting closer... probably related to parsing the "expiration" field as int.
I suspect that sometimes share.php returns the date as string and sometimes as timestamp :frowning:

[2015-09-24 09:15] DeepDiver1975 commented on #19331
Which we need to get from the storage interface from my pov

[2015-09-24 09:17] PVince81 commented on #19333
Confirmed: regression introduced by parsing the expiration as int: https://github.com/owncloud/core/pull/19295

This now solves the mystery of why we need "parseTime". I'll reconnect it properly.

[2015-09-24 09:17] Henni commented on #19304
@PVince81 how would you do this?
It would be possible to do this by applying a class to the label, but this would be (in my opinion) semantically incorrect and wouldn't allow us to remove this class in the future.

[2015-09-24 09:19] oparoz commented on #19334
Regression introduced by:
https://github.com/owncloud/core/pull/18692

[2015-09-24 09:19] schiesbn commented on #19331
We will see if we need it or not if we move forward with the implementation. But if we assume that not every storage will have is own implementation of sharing we probably need some kind of manager as entry point. For example you have a OCS call change permission to read-only for share "42", then we need a central instance (the share manager) who says OK share "42" is managed by share provider X (

[2015-09-24 09:23] rullzer commented on #19331
I think we should have a clear separation. If you have multiple storage providers there is no guarantee that they support the same set of sharing functionality.

[2015-09-24 09:24] DeepDiver1975 commented on #19331
hmmm .. true ... I guess we need both mechanisms.

On the one hand there is the need to explicitly share a file/folder on storage level

[code]

on the other hand there has to be a mechanism to resolve a share to the real physical resource

[code]

[2015-09-24 09:25] DeepDiver1975 commented on #19331
There will be no new kinds of sharing.

And even if this is to be analysed how this might fit into the existing structures

[2015-09-24 09:26] rullzer commented on #19331
A share provider for

* user/group sharing
* link sharing
* federated sharing

And maybe more in the future. This way if for example somebody wants to implement their own user/groups sharing on a file metadata level. But still wants to have link sharing. They only need to write their own user/group sharing app.

[2015-09-24 09:27] schiesbn commented on #19331
@DeepDiver1975  Yes, we need both. I think this are two different levels of abstraction. The share manager is on a higher level and manage sharing no matter which kind of storage or share implementation is used. It will then resolve the storage/share implementation which has to handle the share and call the share implementation of the storage to perform the action.

[2015-09-24 09:31] DeepDiver1975 commented on #19331
@schiesbn sounds reasonable

But never the less I still question the share provider use case

[2015-09-24 09:33] #19312 closed

[2015-09-24 09:43] PVince81 commented on #19333
Hmm, looks like `parseTime` is not enough, it doesn't actually parse the date string.
So basically the sharing code was somewhat working with both formats, which means that "expiration" can indeed be either an integer or a date string... Ideally we should have a consistent format.

[2015-09-24 09:45] schiesbn commented on #19250
is this still an issue? I saw this a few days ago but on latest master it seems to be fixes... At least I can't reproduce it any longer.

[2015-09-24 09:46] schiesbn commented on #19250
OK, seems the PR which caused the issue was reverted https://github.com/owncloud/core/pull/19268

[2015-09-24 09:46] #19250 closed

[2015-09-24 09:49] Yamakasi commented on #19040
@blizzz OK, would be nice to know... if I need to check some things, let me know! thanks!

[2015-09-24 09:49] PVince81 commented on #19333
Ok, now reading the old code, it turns out that we only use parseTime() for "stime", not expiration: https://github.com/owncloud/core/blob/v8.1.3/core/js/share.js#L857 (CC @MorrisJobke in case you have further insights)
So for now I'll let expiration pass through.

[2015-09-24 09:51] luquercy commented on #19211
hi
Do you need some more information ?

Regards

[2015-09-24 09:52] MorrisJobke commented on #19333
https://github.com/owncloud/core/pull/19297#issuecomment-142877539

[2015-09-24 09:57] PVince81 commented on #19333
Okay, yet another discover: in 8.1 we also allowed "expiration" to be a date string and blindly passed it through to the date picker. But the date picker does NOT parse it properly. When opening the date picker you can see that it doesn't pick the correct date.

I also tried writing code to parse the date string into a timestamp but am running into timezone nightmare, no easy way to parse it as a

[2015-09-24 10:00] patrick1990 opened #19336 "Owncloud doesn't falls back to replica LDAP server"
<h4>How to reproduce:</h4>
1) Set up a LDAP master server and a LDAP replica server.
2) Configure Owncloud-LDAP-Module so that everything works. Configure the replica server as backup in the Advanced section.
3) Check that everything works (normal operation and bypass master server by setting ldapOverrideMaster). Espacially try login with an LDAP user.
4) Uncheck ldapOverrideMaster and turn off th

[2015-09-24 10:13] karlitschek commented on #19330
@blizzz

[2015-09-24 10:13] SergioBertolinSG commented on #19327
Raising severity since the command should start to decrypt for all users instead of fail hard as discussed with @schiesbn (please correct me if I'm wrong)

[2015-09-24 10:18] guillaumesoucy opened #19338 ""P" PHP module missing, but "P" does not exist."
When installing ownCloud server on my server, I got a message saying:
The following PHP modules are required to use ownCloud: P

But there was not PHP module named "P".

Server Version: Apache/2.2.31 (Unix)
Database: MySQL
PHP Version: 5.6.13
ownCloud version: 8.1.3
Updated from an older ownCloud or fresh install:  Fresh Install
List of activated apps: No one installed
Are you using external stora

[2015-09-24 10:18] PVince81 commented on #19333
Okay I managed to parse it. And now it rather looks like "expiration" as never a timestamp and always a string... so let's make it a string.

[2015-09-24 10:22] PVince81 commented on #19333
Fix is here: https://github.com/owncloud/core/pull/19339

[2015-09-24 10:23] PVince81 commented on #19309
@SergioBertolinSG please note that the "path" field in the database has a maximum length of 4000 characters. This means that if the full path gets longer than that, some problems might appear. Are your generated paths longer than this ?

@DeepDiver1975 @icewind1991 didn't we have a check somewhere to prevent this to happen ?

[2015-09-24 10:28] keynet commented on #19187
I see you're having a good debate! And I don't think the users are quite as stupid as some suggest - they just don't know the code (my point above) like the devs, and can't be expected to.

I think the approach can be improved  - IMHO the config file is trying to do too many things:
a) Holding parameters that are user configurable and not changed by OC
e.g 'mail_domain' => 'example.com',
b) Holdin

[2015-09-24 10:29] SergioBertolinSG commented on #19309
Yes, definitely more than 4000. (around 11263 chars the longest)

[2015-09-24 10:36] Xenopathic commented on #19187
@keynet Yes, we've known for quite a while that config.php is becoming very bloated. We need to find a long-term solution for that...

[2015-09-24 10:42] GrimDemon commented on #19068
I disabled File Locking App and enabled TFL with Redis as memcache locking. So far so good. I'll check how it behaves with my JPG upload storm and provide some feedback :+1:

[2015-09-24 10:51] PVince81 commented on #19304
How about we just stick with the cases 1) and 2) and have the "checkbox" class on the input element ?
In most cases developers will have to touch their code anyway so they could adjust it to match either 1) or 2) in case they had 3), to make it work.

[2015-09-24 10:52] PVince81 commented on #19304
Right, you were talking about case 2). How about another additional class "checkboxlabel" then ?
It looks like to support 2) we won't be able to remove the classes in the future. It's not a bad thing though.

[2015-09-24 10:56] karlitschek commented on #19338
Do you have something in the owncloud.log ?

[2015-09-24 10:57] Henni commented on #19304
Either a `.checkboxlabel` class or a `.checkbox--right` class (which I prefer).
[code]
This would render the checkbox to the right of the "Label Text".

[2015-09-24 10:59] PVince81 commented on #19309
Ok so this issue is about the limit check that doesn't kick in early enough

[2015-09-24 11:01] PVince81 commented on #19304
Fine by me.

[2015-09-24 11:02] PVince81 commented on #19317
Ok, I'll evaluate severity myself: high because it slows down update simulation

[2015-09-24 11:14] DeepDiver1975 commented on #16318
@LukasReschke solution in the pipe? THX

[2015-09-24 11:15] LukasReschke commented on #16318
@MorrisJobke ^?

[2015-09-24 11:28] Xenopathic commented on #16267
What are we going to do about this? ownCloud assumes the file path is unique, changing it to use arbitrary IDs, potentially for files with the same path, would completely change how ownCloud handles files. And we can't just arbitrarily select one of the duplicate files to show, that'd be madness

[2015-09-24 11:36] blizzz commented on #15836
Fix in https://github.com/owncloud/core/pull/19342

[2015-09-24 11:45] gig13 commented on #17640
@blizzz
What are you looking for? If there is a proxy being used?
They have upgraded several times and the issues never go away. And without being able to perform a file:scan how can this every be reconciled?

I even provided an entire database dump on s3 -- so you can review the tables. What else do you need?

[2015-09-24 11:45] #19333 closed

[2015-09-24 12:01] icewind1991 commented on #18818
I dont think this issue is critical anymore since the share duplication issue was resolved.

We should still look into changing the share code so this is no longer needed though

[2015-09-24 12:09] Henni commented on #19304
My solution with `.checkbox--right` only works if it's ok that checkboxes are on the wrong side in IE8.

[2015-09-24 12:20] LukasReschke commented on #19336
@blizzz

[2015-09-24 12:21] cdamken commented on #18502
So far I uploaded successfully:
152.387 items, totalling 1,5 GB

I'm waiting for my customer for his feedback if for him did work fine too.

[2015-09-24 12:33] DeepDiver1975 commented on #16267
I honestly vote for won't fix in this situation - at least for now.

@cmonteroluque @karlitschek @MTRichards I guess we don't want to rearchitect our file system handling just because of gdrive???

[2015-09-24 12:34] PVince81 commented on #17444
Any more luck with 8.0.6 or 8.1.3 ?

[2015-09-24 12:39] PVince81 commented on #14827
Closing hence. If the problem appears again with more recent versions, feel free to reopen.

[2015-09-24 12:39] #14827 closed

[2015-09-24 12:44] PVince81 commented on #19304
To be honest I don't care. The most important is to not break third party apps when introducing the new style.

[2015-09-24 12:44] MorrisJobke commented on #16318
I will try to propose something.

[2015-09-24 12:45] DeepDiver1975 commented on #10001
this is @VicDeo's current WIP PR to get this fixed #19318

[2015-09-24 12:47] Henni commented on #19304
(y)

[2015-09-24 12:50] #15836 closed

[2015-09-24 12:51] #19332 closed

[2015-09-24 12:51] #19327 closed

[2015-09-24 12:57] PVince81 commented on #19317
It's a regression. It worked in 8.1.0 (an earlier commit of the migrator file)

Going to bisect.

[2015-09-24 12:57] #19294 closed

[2015-09-24 13:00] MorrisJobke commented on #19338
@guillaumesoucy Do you use a theme? This looks really like an old ownCloud.

Can you also check the method `checkServer` in `lib/private/util.php` https://github.com/owncloud/core/blob/d7a923671fa4b10f74dc615b583f6d4f5935d45b/lib/private/util.php#L562-L797

Or maybe provide the full `lib/private/util.php`

[2015-09-24 13:04] LukasReschke commented on #19338
Please test https://github.com/owncloud/administration/pull/53, then the proper error message should appear.

That said you are like missing PDO.

[2015-09-24 13:10] rullzer commented on #14432
@oparoz any example app?

[2015-09-24 13:17] PVince81 commented on #19317
Argh, I mis-debugged. Also found happening in 8.0.5.
Travelling further back...

[2015-09-24 13:18] rullzer commented on #14432
I think the fix is rather trivial but I have no way to verify :P

[2015-09-24 13:21] sk8dancer opened #19343 "Admin Manual valid username characters"
The description of the characters allowed in a user name calls "@" (at sign) an ampersand ("&") - Which is it?

[2015-09-24 13:29] PVince81 commented on #19317
And here we go, it was the Doctrine/dbal update 46c2909c785267fc1c71cf2aa635d467ab2cded5 from https://github.com/owncloud/core/pull/11689

This was added in OC 8.0, so since OC 8.0 this needless index deletion is happening.

[2015-09-24 13:36] DeepDiver1975 commented on #19249
this is not possible - the file is encrypted and the necessary code to decrypt it is not loaded.
The admin has to enable the correct app.

To be honest there is not mich we can do - the admin should setup the system properly.

@jancborchardt I vote for case closed as won't fix

[2015-09-24 13:38] DeepDiver1975 commented on #14539
@jvillafanez @SergioBertolinSG can you rerun your tests on this with latest 8.2? Locking should solve this issue - THX

[2015-09-24 13:40] Xenopathic commented on #19343
Please re-open in the documentation repo: https://github.com/owncloud/documentation. cc @carlaschroder

[2015-09-24 13:40] #19343 closed

[2015-09-24 13:41] DeepDiver1975 commented on #17671
not really a sev2 - only happens if one create a table with a bool column in the sqlite database.

[2015-09-24 13:49] schiesbn commented on #16082
@jancborchardt what do you mean with "This didn’t happen before." exactly? I just tried oC8.0 and oC8.1 and there we also show the uid.

Technically speaking this also makes sense. Because the "Full name" is what we call "Display Name" internally. It's the name which is displayed to others, e.g. "userX shared file foo with you". If a display name is defined we show the display name, if not we show

[2015-09-24 13:50] icewind1991 commented on #19316
#19344

[2015-09-24 14:01] MorrisJobke commented on #18922
* [ ] LDAP entries that are created before a change was done in the LDAP settings (i.e username attribute, homefolder naming rule, ...)

[2015-09-24 14:02] PVince81 commented on #19317
Hmm, I tried to write a unit test to reproduce the issue, but in the unit test the diff is correct and doesn't contain bogus index changes.

[2015-09-24 14:11] PVince81 commented on #19317
The schemas, this is during a real run:
[code]
[code]

And here during a unit test run:
[code]
[code]

So there is indeed something fishy with the appended random suffix

[2015-09-24 14:21] karlitschek commented on #16267
let's look into that while looking into flysystem later

[2015-09-24 14:22] PVince81 commented on #19317
Okay, my test had a bug.

Basically the Doctrine comparator detects that the indices have been renamed, which is obviously visible in the schema. But now the question is why it didn't do so in the previous version... and also how can we detect duplicate indices, knowing that we have to duplicate them for the test tables.

[2015-09-24 14:27] DeepDiver1975 commented on #16267
so 9.0 then - right?

[2015-09-24 14:30] DeepDiver1975 commented on #17220
such a major code resturctureing is something I'd prefer to do while working on the unified dav backend -> 9.0

@cmonteroluque @karlitschek agree?

[2015-09-24 14:30] PVince81 commented on #19317
Here it comes: before the Doctrine update, the Comparator from Doctrine was doing the a diff of the indices by checking their definition, not their names. So if there was another index with a different name but with the same spec, it would not consider it as a change.

In the new Doctrine (2.5) it only compares the index names. This breaks our detection during a simulation because the name is gene

[2015-09-24 14:35] PVince81 commented on #19317
Right, I retried with a debugger and the index changes appear under `renamedIndexes`.

I'll see if we can try and use the same index names without the generated suffix...

[2015-09-24 14:36] DeepDiver1975 commented on #13586
swiftmailer 6.0 is no yet released - we have to postpone this until it has been release -> 9.0

[2015-09-24 14:39] gig13 commented on #18910
@schiesbn @MTRichards @MorrisJobke @bboule
Any updates?
This is a fantastic discussion, but what do I communicate back?

[2015-09-24 14:42] DeepDiver1975 commented on #12645
@enoch85 are you still facing these issues? To be honest I don't know if there is much we can do :speak_no_evil:

[2015-09-24 14:43] PVince81 commented on #19317
Now why did we need a suffix in the first place ? I little time travel adventure brought me back to 0035147be96537193f0c7119dfd0628fe7363a26 from https://github.com/owncloud/core/pull/7015 (https://github.com/owncloud/core/commit/0035147be96537193f0c7119dfd0628fe7363a26#diff-6244155d6a93589cf488706b3dc2f7f9R94) where @icewind1991 added the suffix. Over time, the format of the suffix got changed se

[2015-09-24 14:43] gw0 commented on #4056
This would be great! Although a check to not display binary files should be done.

Does any app already implement a simple diff on text files?

[2015-09-24 14:46] karlitschek commented on #17220
@DeepDiver1975 Agreed.

[2015-09-24 14:47] karlitschek commented on #16267
yes

[2015-09-24 14:50] PVince81 commented on #19317
So basically keep the index names the same until the time we do the diff. Whenever the diff is being done, append the suffix to all indices of the original table too.

[2015-09-24 14:54] lejeczek opened #19345 "missing php dependencies & rpm/yum packaging conventions"
provoked by this:
https://forum.owncloud.org/viewtopic.php?f=31&t=29011&p=97520#p97520
and probably many similar I'd like to ask if there is, if there is not that would be great to have, such a mechanism where we could tell oC how to lookup and choose different PHP dependencies?

From that short forum discussion you can see how easily one can cause collision/clashes between two installation of oC

[2015-09-24 15:08] MorrisJobke commented on #16318
Possible short-term solution #19346

[2015-09-24 15:16] MTRichards commented on #18910
This is currently not in for 9.0, so the earliest we can get to this - and this is pretty deep in core - is 9.1.

[2015-09-24 15:31] bboule commented on #18910
OK so we will communicate that info @cmonteroluque or @DeepDiver1975 would it be possible to add a 9.1 milestone for tracking purposes?

[2015-09-24 15:53] luxifr commented on #18890
just want to confirm that as well

OC 8.1.3, fresh install...

[2015-09-24 15:57] PVince81 commented on #19317
The thought process is as follows: in the end there are three tables:
1) The original table, ex: oc_appconfig
2) The simulated original table, ex: oc_appconfig_SUFFIX
3) The target schema table, this is what 2) willl become, also called oc_appconfig_SUFFIX

Table 2) is created by copyTable and preserves all indices. This means the indices have the same names but different namespace (table name). W

[2015-09-24 16:00] icewind1991 commented on #18346
I dont think we should keep this issue open at all, users folders showing up in the root storage is not the case for all setups so nothing should rely on it

[2015-09-24 16:02] davitol commented on #17362
@blizzz PR https://github.com/owncloud/core/pull/18469 does not fix this issue for me :disappointed:
I've set an ldap mail in Admin > Advanced > Special Attributes but following the steps to reproduce I got the same error.
Feel free to ping or contact me about my test

[2015-09-24 16:03] DeepDiver1975 commented on #19345
@jnweiger please have a look - thx

[2015-09-24 16:05] icewind1991 commented on #18359
@DeepDiver1975 do we want to keep this scheduled for 8.2?

[2015-09-24 16:05] oparoz opened #19348 "Double checkboxes in app manager"
![387621057621](https://cloud.githubusercontent.com/assets/323220/10078803/e2c78630-62e6-11e5-8c49-63c0ed48220e.png)

@Henni @jancborchardt

[2015-09-24 16:08] oparoz commented on #19325
This would be great indeed, because some NAS create extra thumbnail folders and they show up in Gallery per example.

[2015-09-24 16:18] oparoz commented on #14432
I see that mail has a search box, but no idea if it calls that script. Try to install it on your branch :)

[2015-09-24 16:26] RealRancor commented on #19345
@DeepDiver1975 The issue itself is not really packaging related. The users in the forums thread had to uninstall:

php-google-apiclient-1.1.4-1.fc22.noarch

from their distro because oC is also shipping this lib in its 3rdparty folder:

https://github.com/owncloud/core/tree/v8.0.4/apps/files_external/3rdparty/google-api-php-client

[2015-09-24 16:30] oparoz commented on #18954
### Colour for left sidebar items is too "light"

Because the font is so thin, there needs to be a higher level of contrast to make the labels legible on as many devices as possible.
While the filenames look crisp, it's really not the case with the items on the left.

I think this should be fixed in 8.2 since it introduces the new theme.

[2015-09-24 16:30] MorrisJobke commented on #18910
Done. But only added to core.

[2015-09-24 16:34] oparoz commented on #18954
![blurrrrrrr](https://cloud.githubusercontent.com/assets/323220/10079518/d0748e48-62ea-11e5-8e16-e20fa624b095.png)

[2015-09-24 16:34] oparoz commented on #18954
You can see how some of the letters are blurred away

[2015-09-24 16:36] MTRichards commented on #16267
yeah, we have no choice here.

[2015-09-24 16:37] cmonteroluque commented on #18910
ok, will add across the board

[2015-09-24 16:40] jancborchardt commented on #16082
Hmm … right. I guess that’s correct @schiesbn, thank you for the clarification.

[2015-09-24 16:40] #16082 closed

[2015-09-24 16:40] jancborchardt commented on #19249
Ok, probably leftover issue from broken config.

[2015-09-24 16:40] #19249 closed

[2015-09-24 16:42] cmonteroluque commented on #17220
@DeepDiver1975 ok

[2015-09-24 16:44] jancborchardt commented on #19334
Created a revert PR at https://github.com/owncloud/core/pull/19349

[2015-09-24 16:46] cmonteroluque commented on #16267
based on our conversation yesterday, yes

[2015-09-24 16:47] jancborchardt commented on #11707
We did it that way because that’s the default in Dropbox and Google Drive as well.

Changing the default just because of a technical issue that would take some time to fix is also not really an argument.

[2015-09-24 16:47] jancborchardt commented on #19348
@Henni I trust you take care of all the checkbox-related issues? cc @raghunayyar and @owncloud/designers for review where needed.

[2015-09-24 17:13] armaccloud commented on #19324
Ok, thanks. The upgrade went well.

[2015-09-24 17:13] #19324 closed

[2015-09-24 17:16] cmonteroluque commented on #16445
@DeepDiver1975 the pity is that this is a 19 May issue. But ok.

[2015-09-24 17:19] cmonteroluque commented on #17748
@bboule currently the focus is on finishing 8.2, we can revisit this in a few days

[2015-09-24 17:27] cmonteroluque commented on #19317
@PVince81 it seems kind of silly to change severities at this point :). I am not sure really that there was a production impact but good job with the catch and the research!

[2015-09-24 17:28] oparoz commented on #19334
Thanks. It's apparently tricky to implement if you have elements below it which use `position:absolute`.

[2015-09-24 17:29] cmonteroluque commented on #18346
ok, closing

[2015-09-24 17:29] #18346 closed

[2015-09-24 17:30] #19334 closed

[2015-09-24 17:31] LukasReschke commented on #19345
IMHO: Don't use distros doing that then :speak_no_evil: :hear_no_evil: :see_no_evil: - we from time to time also have custom patches and this will only lead to problems…

[2015-09-24 17:32] cmonteroluque commented on #18227
it is. I share the dislike for this behavior, though... Shouldn't even be an issue with mobile phones if the right keyboard is used. Fine, let's hope for 9.0

[2015-09-24 17:34] RealRancor commented on #19345
I don't think that the users had installed this packages. They where probably just pulled in as a dependency by other packages.

[2015-09-24 17:41] MTRichards commented on #18227
I was being a tad flip, but yes - not the best behavior, just trimming to the critical ones for the here and now.

[2015-09-24 18:19] blizzz commented on #19336
Duplicate of https://github.com/owncloud/core/issues/18701

[2015-09-24 18:19] #19336 closed

[2015-09-24 18:40] enoch85 commented on #12645
@DeepDiver1975 No - I haven't expedience this lately. I kept it open for @LukasReschke to investigate this: https://github.com/owncloud/core/issues/12645#issuecomment-66364381

But we can close this since the main issue is gone as far as I know.

[2015-09-24 18:40] #12645 closed

[2015-09-24 19:06] #10559 closed

[2015-09-24 19:11] blizzz commented on #17362
@davitol tried it as well, works for me. Did you do it against master or 8.1? The PR is against master. Is there a possibility that cache played into it (did you look up the user before applying the patch)?

[2015-09-24 19:12] DeepDiver1975 commented on #12645
THX @enoch85

[2015-09-24 19:56] cdamken commented on #18890
have you try to disable the apps:
e.g: sudo -u www-data php occ app:disable (app name)

[2015-09-24 20:19] luxifr commented on #18890
Yes, it solves the redirect issue. Also removing the group limitation
directly in the db works. I just wanted to give confirmation to this bug.
Am 24.09.2015 21:57 schrieb "Carlos Damken" <notifications@github.com>:

[2015-09-24 20:25] cdamken commented on #18886
Solution :
https://forum.owncloud.org/viewtopic.php?f=32&t=28057#p86764

I replaced /lib/private/files/storage/local.php
[code]

with

[code]

and now it works :)

[2015-09-24 20:38] Henni commented on #19348
@jancborchardt yes i do. This issue will probably be fixed by the .checkbox class

[2015-09-24 21:20] oparoz commented on #19196
I wonder if this isn't also the cause of https://github.com/owncloud/core/issues/18891

[2015-09-24 21:21] oparoz commented on #18891
Same problem with Gallery. It fails the check and the problem is that it's a pain to setup remote debugging for that browser.

[2015-09-24 21:33] oparoz commented on #19348
Thanks!

[2015-09-24 21:36] Henni commented on #19348
for reference: #19329

[2015-09-24 21:47] Henni opened #19350 "Increase clickable area in file list"
In 8.1 the files in the filelist where clickable on the whole width.
Currently there is no action when you click on the space between the file name and the share symbol.
![image](https://cloud.githubusercontent.com/assets/1267827/10087804/91551f80-6316-11e5-90b4-e45550f40c43.png)

Such a click should either open the file/folder or show the sidebar.

@jancborchardt

[2015-09-24 21:48] RealRancor commented on #18886
@cdamken Please re-open until a proper solution is found where people don't need to modify the oC source code.

[2015-09-25 00:11] nitrofx opened #19351 "QNAP TS-420 Unable to complete installation of Owncloud."
Whenever i click on the link in the qnap server the follwoing error comes up.

This version of ownCloud requires at least PHP 5.4.0
You are currently running 5.3.29. Please update your PHP version.

[2015-09-25 03:50] zVerdomorez opened #19352 "Image Folder Upload Ploblem"
I have drag folder that contain 677 pictures 1.77GB and upload it, But look at size of picture.It is only 4 KB and cannot open.

I have test on https://demo.owncloud.org.
![bugg](https://cloud.githubusercontent.com/assets/14266988/10092628/d390020a-6372-11e5-874d-d3be5fb0f7dc.jpg)

[2015-09-25 03:57] zVerdomorez opened #19353 ""Upload Cancel" blinking If you cancel upload file"
If have upload 100 files and you cancel upload at 50th file. Warning message will blinking 50 times
![upload](https://cloud.githubusercontent.com/assets/14266988/10092779/3a57ac8a-6374-11e5-9280-bee1fffb4214.jpg)

[2015-09-25 04:19] zVerdomorez commented on #19005
I have write cronjob run once a day.and Yeah!

$query = "DELETE FROM `oc_share` WHERE expiration < now()";

[2015-09-25 04:29] rullzer commented on #12727
Quick fix in #19354

[2015-09-25 05:49] RealRancor commented on #19351
@nitrofx As this is not a bug in ownCloud please close here and follow the advise of the message to upfate your PHP version.

[2015-09-25 06:38] davitol commented on #18954
@LukasReschke Ups, i've never sent the photo from my mobile phone, but the reason was it looked better in the photo than in the screen :see_no_evil:
I agree with @oparoz

[2015-09-25 07:16] SergioBertolinSG commented on #10559
Fixed in last master.

[2015-09-25 08:08] MorrisJobke commented on #18910
I would just keep it in core to not confuse too much, or do we need it elsewhere too?

[2015-09-25 08:10] MorrisJobke commented on #11707
It's not really a technical problem, but a problem what you expect as a user. I for myself don't expect that it will share by default with all permissions. I always want to increase the level of permissions and don't want to decrease a default that grants everything.

[2015-09-25 08:12] davitol commented on #17362
@blizzz :-1:  I tried against master ownCloud Enterprise Edition 8.2 beta1 (daily) Build:2015-09-25T03:08:40+00:00 e7bc2a10e3ffd16cda8d15ff06dcbc870e34a627
No possibility that cache played into it. Maybe I forgot some conf step, but test email settings worked.

So let's wait for another reviewers in order to clarify if it works

[2015-09-25 08:14] MorrisJobke commented on #11707
And introducing more weird behaviour (after some seconds it will get write access) is even more counter-intuitive. And even if google drive and dropbox does it like that ... I don't care about them. I care about our product.

[2015-09-25 08:14] MorrisJobke commented on #16445
It's a last years issue if you count this as argument ;) But I also tend to be against this, because it has a huge impact. We should focus on this in the early stage of development of 9.0 to have the chance to spot as many issues as possible. So 9.0 is a good decision.

[2015-09-25 08:21] nickvergessen commented on #18584
@icewind1991 this is still spamed in smashbox, any update? Is intended, should be removed, needs fixing somehow?

[2015-09-25 08:28] blizzz commented on #17362
@davitol is sending mail configured properly (does a test mail arrive)? If this as well, could we do a screenshare to figure it out?

[2015-09-25 08:28] nickvergessen commented on #18731
Can reproduce, the issue is the preview.
For plain text files we don't show an image, but make a webdav request and write the first characters into the preview box instead of an image, which requires authentification:
![bildschirmfoto vom 2015-09-25 10 25 40](https://cloud.githubusercontent.com/assets/213943/10096238/21f04d72-6370-11e5-880b-885c2982b146.png)

[2015-09-25 08:31] jvillafanez commented on #14539
Checked with 8.2 beta1 (daily) Build:2015-09-25T03:08:40+00:00 e7bc2a10e3ffd16cda8d15ff06dcbc870e34a627  and transactional file locking enabled (with redis). It returns a locked exception. :+1:

[2015-09-25 08:32] #19304 closed

[2015-09-25 08:34] SergioBertolinSG opened #19358 "Encryption using occ takes too much time while consuming too much resources."
### Steps to reproduce

Having a massive installation with 1000000 ldap users:
1. Enable encryption app.
2. Enable encryption.
3. Enable LDAP and set up the 1 million users one.
4. Run occ encryption:encrypt-all.
### Expected behaviour

Not sure, of course there are limitations. But i'd expect not to have cpu full busy and being able to encrypt many users after a day.
### Actual behaviour

While h

[2015-09-25 08:35] raghunayyar commented on #18619
Oh lord.

[2015-09-25 08:37] SergioBertolinSG commented on #19358
Collecting @schiesbn comments regarding this:

and

[2015-09-25 08:43] SergioBertolinSG commented on #19358
@DeepDiver1975 @cml thoughts about this?

I think the lack of performance is important. But no idea if this can be improved for 8.2 or should be moved to 9.0 .

[2015-09-25 08:44] davitol commented on #17362
@blizzz yes, test mail arrived. Let's IRC and date an screenshare. Thanks a lot for your help

[2015-09-25 08:46] kalletabur commented on #19296
What is the status? I cannot upgrade other servers when this problem is not solved.

[2015-09-25 08:46] jvillafanez opened #19359 "File is reuploaded after choosing "new files" in the conflict dialog in the web interface"
### Steps to reproduce
1. Upload a big file (several MB)
2. Reupload the same file
3. When the conflict dialog appears, choose the new files option

### Expected behaviour
The file is immediately substituted with the new one (the file should be already in the server)

### Actual behaviour
The file is reuploaded again after choosing the option

### Server configuration
**Operating system**: ubuntu

[2015-09-25 08:51] PVince81 commented on #19359
Duplicate https://github.com/owncloud/core/issues/8664

[2015-09-25 08:51] #19359 closed

[2015-09-25 08:52] PVince81 commented on #19359
the subtext is: not technically solvable as long as we're using POST for uploads

[2015-09-25 08:52] schiesbn commented on #14539
Great, so we can consider this issue as fixed -> close

[2015-09-25 08:52] #14539 closed

[2015-09-25 09:04] schiesbn commented on #11707
I thought we already agreed some weeks ago that min permissions by default is the way to go. Sad thing is that we defer it back than because of the feature freeze and now we are again in feature freeze. ;)

I would really avoid all this magic with waiting some seconds, etc. People really don't understand it and what do we do if something happens in between, network error, admin decides to enable m

[2015-09-25 09:11] PVince81 commented on #19353
When raising issues, please first if there is a matching one. A search with the keywords "upload blink" pointed to https://github.com/owncloud/core/issues/8433

Also in general you should use the issue template https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

Closing as duplicate of https://github.com/owncloud/core/issues/8433

[2015-09-25 09:11] #19353 closed

[2015-09-25 09:11] PVince81 commented on #19352
Please use the issue template: https://raw.githubusercontent.com/owncloud/core/master/issue_template.md