[2019-02-18 10:26] AndreFabris commented on #33974
I agree with you. However for the security and privacy reasons, we need to be in control when we update the software, and what updates do we implement. Forcing us to update is not good for us.

[2019-02-18 11:37] sharidas opened #34530 "Error found in log when reciever of fed share deletes the file with encryption enabled"
### Steps to reproduce
1. Have 2 instance of oC. Say oC1 and oC2 ( initiator of fed share )
2. oC1 is encrypted. It does not matter if it is masterkey encrypted or user-keys. Pick any one among the two. oC2 is not encrypted.
2. oC2 tries to share a folder ( which has a file inside it. i.e, `simple-folder/data.zip` ) say test to oC1 user using fed share.
3. The reciever of the oC1 say `user1` accep

[2019-02-18 11:59] #34235 closed

[2019-02-18 12:03] ownclouders commented on #34530
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @ownclouders.

Possibly related issues are https://github.com/owncloud/core/issues/1369 (Share file with enable file encryption), https://github.com/owncloud/core/issues/26902 (error), https://github.com/owncloud/core/issues/28840 (-Error-), https://github.com/owncloud/core/issues/28265 (Hi,), and https://githu

[2019-02-18 12:11] butonic commented on #31394
@owncloud/qa please take over

[2019-02-18 12:31] butonic commented on #6984
closing in favor of https://github.com/owncloud/core/issues/29993

[2019-02-18 12:31] #6984 closed

[2019-02-18 12:34] butonic commented on #25770
will be reworked with OCIS

[2019-02-18 13:56] lmiol commented on #20481
Hi there
i need explanation for some limits (thx in advance)
Limit 1000 requests per 100 seconds
i have api key requests to get files.

and if i using this requests from 5 devices i will be like 1 user?
or like 5 users?

[2019-02-18 14:18] #32346 closed

[2019-02-18 16:45] crrodriguez commented on #34428
It is already in the fresh channel, production and stable will be seen shortly.

[2019-02-18 21:48] marcorighi opened #34536 "integrity check after upgrade to 10.1.0"
I have the same problem in two servers.

**Server A**
Distributor ID: Debian
Description:    Debian GNU/Linux 9.8 (stretch)
Release:        9.8
Codename:       stretch
Linux fileserver 4.9.0-8-amd64 #1 SMP Debian 4.9.144-3 (2019-02-02) x86_64 GNU/Linux
owncloud-files/unknown,now 10.1.0-1+1.2 all [installed]

**Server B**
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 1

[2019-02-18 22:11] ownclouders commented on #34536
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/owncloud/core/issues/18032 (massive/strange db updates after upgrade to 8.1.0), https://github.com/owncloud/core/issues/10234 (CSS Problem after Upgrading to  ownCloud 7.0.1 (stable) ), https://github.com/owncloud/core/issues/27768 (Missing user_ldap after Upgrade to 10), https://github.com/owncloud/core/issues/

[2019-02-19 08:05] #33898 closed

[2019-02-19 09:25] PVince81 commented on #34536
so this is a distro package update ?

I didn't see any integrity check issues with the openSUSE 10.1 package.

maybe the Debian and Ubuntu ones have an extra file ? @crrodriguez

[2019-02-19 13:32] sharidas commented on #34440
PRs created
-[ ] master branch https://github.com/owncloud/core/pull/34547
-[ ] stable10 branch https://github.com/owncloud/core/pull/34557

[2019-02-19 13:48] davitol commented on #34425
@chst77 did you try the steps posted by @ho4ho ?
Those are the ones that will let you make the upgrade. Any more feedback about the current status of your server?

[2019-02-19 13:55] davitol commented on #34428
10.1 packages are here: https://download.owncloud.org/download/repositories/10.1/ so repositories are updated. Let's close the ticket and thanks @PotcFdk for reporting

[2019-02-19 13:55] #34428 closed

[2019-02-19 14:09] #33881 closed

[2019-02-19 14:17] #34488 closed

[2019-02-19 15:28] #34440 closed

[2019-02-19 15:36] PVince81 commented on #34510
@tboerger @settermjd the docs used to be built as part of the release process by running the scripts from the Makefile from https://github.com/owncloud/documentation

Should we add Antora / docker / etc and everything needed to the old release script to build the HTML admin and user docs for bundling, or should the docs be prebuilt and delivered for download under a known URL ? (maybe zip or tar t

[2019-02-19 15:37] PVince81 commented on #34510
This is how it looks like for 10.1.0 on my server:
![image](https://user-images.githubusercontent.com/277525/53027137-a7512e00-3464-11e9-90b1-ae68f84e61a8.png)

[2019-02-19 15:39] PVince81 commented on #34510
the third alternative is removing the bundled docs and have the "Help" menu entry on the top right point directly at the online docs...

[2019-02-19 16:11] PVince81 commented on #34510
I had a quick look and it looks like the antora docs currently would build all of the manuals, not only admin or user. Also there will likely be a problem with URLs as those would expect to be deployed under a specific subfolder. These need to be remapped at build time to allow for deploying inside of OC.

From my understanding this might need an alternative site.yml specific to the OC build ?

[2019-02-20 04:05] nerdlinger opened #34565 "After upgrade to 10.1.0.4 unable to log in; oc_bfp_failed_logins table missing"
### Steps to reproduce
1. Upgrade to 10.1.0.4
2. Attempt to log in

### Expected behaviour
Access to data

### Actual behaviour
Error screen ("Internal Server Error")

### Server configuration
**Operating system**: Debian 9
**Web server:** nginx 1.10.3
**Database:** mariadb
**PHP version:** MariaDB 10.1.37
**ownCloud version:** 10.1.0.4
**Updated from an older ownCloud or fresh install:** updated

[2019-02-20 04:31] ownclouders commented on #34565
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @ownclouders.

Possibly related issues are https://github.com/owncloud/core/issues/28331 (DB issues after upgrade from 9.1.5 to 10.0.2), https://github.com/owncloud/core/issues/27768 (Missing user_ldap after Upgrade to 10), https://github.com/owncloud/core/issues/10088 (Missing table after upgrade), https://git

[2019-02-20 06:57] thommierother commented on #33963
unreproducible, closed

[2019-02-20 08:26] DeepDiver1975 opened #34566 "[API Acceptance Tests] Test exceptional case in all ocs routes"
# Background
When migrating from legacy OCS Api implementations to OCSController we are breaking behavior in exceptional cases. Instead of proper OCS response with proper xml/json body a pure JSON response is returned. PR to fix this will follow.

# Actions
Add api acceptance tests for ALL ocs routes (needed because of the migration path to make sure we hit everything properly).
Test following exc

[2019-02-20 08:27] malvivent7 opened #34567 "Problem using GUEST App to share with external colleague. (oc server 10.0.10.4)"
### Steps to reproduce
1.Installed GUEST app 0.70
2. Created a directory to share with guest
3. Shared with guest account (throug inserting an email)

### Expected behaviour
Guest user correctly login in owncloud (throug web and throug desktop client)and i expect to see the shared folder and its contents (the user is in form of <name>.<surname>@gmail.com in this situation but happens with any emai

[2019-02-20 08:29] davitol commented on #26027
"Stay logged in" checkbox is no longer available in oC 10.1.
oC v.9.1 reached to EOL, so let's close the ticket

[2019-02-20 08:29] #26027 closed

[2019-02-20 08:57] ownclouders commented on #34566
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @phil-davis.

Possibly related issues are https://github.com/owncloud/core/issues/22485 (test), https://github.com/owncloud/core/issues/22492 (test), https://github.com/owncloud/core/issues/31579 (test), https://github.com/owncloud/core/issues/32040 (fix API acceptance tests), and https://github.com/owncloud/co

[2019-02-20 08:59] ownclouders commented on #34567
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @ownclouders.

Possibly related issues are https://github.com/owncloud/core/issues/30063 (OC 10.0.4 - Error while trying to create shared mount), https://github.com/owncloud/core/issues/30098 (OC 10.0.4.4 - Issue with Installing and Managing Apps), https://github.com/owncloud/core/issues/30094 (Fresh install of

[2019-02-20 09:13] davitol commented on #34567
Tested In oC 10.0.10 and Guests 0.7.0 and works for me.

### Test steps

1. admin user creates a folder with files
2. admin user shares the folder creating a Guest user
3. Guest user logs in his account
4. Guest user is able to browse the files of the folder

So it works fine in my Server

@malvivent7 Can you check if the path where the Guest folder root is created in your backend has write permis

[2019-02-20 09:22] davitol commented on #34524
Hi @Alex41160 . i have just tried to log in using oauth2 in oC 10.1 and works for me. Can you please provide more feedback of your issue using the repo template? Thanks for reporting!

[2019-02-20 09:44] davitol commented on #33479
@individual-it Tested in 10.1.0.4 and works fine for me. Cannot reproduce this ticket. If you are able to reproduce it again, do not hesitate to reopen the ticket. Thanks for reporting!

[2019-02-20 09:44] #33479 closed

[2019-02-20 10:10] malvivent7 commented on #34567
Hi davitool, i have created folder and shared with guest through e-mail (correctly received see in image)
![image](https://user-images.githubusercontent.com/33978878/53082969-47a76100-34fe-11e9-91f1-708ab1f29bc8.png)
After login of guest user (set a password and login) this is the content of home in owncloud
![image](https://user-images.githubusercontent.com/33978878/53083254-d1efc500-34fe-11e9-9b

[2019-02-20 10:11] malvivent7 commented on #34567
Problem could be related that username has '@'?

[2019-02-20 10:58] davitol commented on #34567
@malvivent7  username contains an '@' as:

```usern@me@gmail.com``` or ```username@gmail.com```

If it is like the second option, it works for me

[2019-02-20 11:04] malvivent7 commented on #34567
It's like second example user.name@gmail.com

[2019-02-20 11:07] davitol commented on #34567
Then the origing of your issue is not probably related to the '@'

[2019-02-20 11:15] malvivent7 commented on #34567
if i login with desktop client (latest stable version 2.5.3 build 11250) with my guest user i dont see anything
![image](https://user-images.githubusercontent.com/33978878/53088074-fea8da00-3508-11e9-88ff-bd16fcf28b3e.png)
and this is the log of desktop client
![image](https://user-images.githubusercontent.com/33978878/53088159-3dd72b00-3509-11e9-96cb-11901d161415.png)

[2019-02-20 12:12] davitol commented on #34567
Tested with  Desktop Version 2.4.3 (build 10347) it also went fine for me.
Did yoy check or do you have access to check if the folder in server used as backend has write permissions?

[2019-02-20 12:32] davitol commented on #33251
@oldthreefeng  I understand from your words that the issue was solved and the problems disappeared. If you can provide more feedback or the problem persists do not hesitate to reopen the ticket. Thanks for reporting!

[2019-02-20 12:32] #33251 closed

[2019-02-20 14:21] malvivent7 commented on #34567
yes i have access to the server. Through WebUI i can see that my guest user is configured in this manner (see the photo)
![image](https://user-images.githubusercontent.com/33978878/53097663-4d16a280-3522-11e9-8ce3-aacd81070486.png)
From SSH console the /opt/ocdata directory and sub-directory are owned by www-data user and group and rights are 0755
![image](https://user-images.githubusercontent.com

[2019-02-20 14:33] malvivent7 commented on #34567
Davitol from the email that my guest has received if i click on the link to visualize contents i can go in the appropriate webpage (see the screenshot)
![image](https://user-images.githubusercontent.com/33978878/53098706-87813f00-3524-11e9-9a6a-1c639dfaa0d0.png) but if i click on the home button
![image](https://user-images.githubusercontent.com/33978878/53098768-aaabee80-3524-11e9-8986-01ce15a761

[2019-02-20 14:35] malvivent7 commented on #34567
![image](https://user-images.githubusercontent.com/33978878/53099015-2b6aea80-3525-11e9-93b6-da3664238ef9.png)

[2019-02-20 14:44] voroyam opened #34571 "db:generate-change-script is unreliable"
This command causes confusion as it does not check for the migration steps.

[2019-02-20 15:00] jonasc opened #34572 "Update from 10.0.10 to 10.1.0 on Debian gives error "Doctrine\DBAL\Exception\DriverException""
### Steps to reproduce
1. Upgrade package on Debian from 10.0.10-1+1.1 to 10.1.0-1+1.1
2. Run `occ upgrade`

### Expected behaviour
Upgrade should run through without error.

### Actual behaviour
The following is the output I get:
[code]

### Server configuration
**Operating system**: Debian 8.11

**Web server:** nginx 1.6

**Database:** mysql 5.5

**PHP version:** 5.6

**New ownCloud version:** 1

[2019-02-20 15:08] ownclouders commented on #34571
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/owncloud/core/issues/29795 (db:generate-change-script does not consider ISchemaMigrations), https://github.com/owncloud/core/issues/9526 (Enhance question in DB migration script), https://github.com/owncloud/core/issues/5259 (DB sanity check script), https://github.com/owncloud/core/issues/7378 ([6.0.1] console.

[2019-02-20 15:26] malvivent7 commented on #34567
I have recreated guest user's sharing from scratch (also uninstalling and reinstalling guest apps) when i share in the owncloud log i can see this message:
{"reqId":"Z7O1rJ4YtPlyc97fufq0","level":3,"time":"2019-02-20T16:22:05+01:00","remoteAddr":"xxx.xxx.xxx.xxx","user":"YYYYY_yyyyy","app":"no app in context","method":"PUT","url":"\/owncloud\/apps\/guests\/users","message":"User backend OC\\User\\

[2019-02-20 15:27] ownclouders commented on #34572
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @ownclouders, and @sharidas.

Possibly related issues are https://github.com/owncloud/core/issues/28027 (Updating 10.0.0 to 10.0.1), https://github.com/owncloud/core/issues/21047 (Doctrine\DBAL\Exception\DriverException), https://github.com/owncloud/core/issues/30076 (Doctrine\DBAL\Exception\DriverException: erro

[2019-02-20 15:42] davitol commented on #34567
This log is unrelated to the issue. It was already reported here: https://github.com/owncloud/core/issues/30853

[2019-02-20 15:52] malvivent7 commented on #34567
Mean time from package-manager (apt update and apt upgrade) i received the new version of owncloud; installed (10.1.0.4) and all goes smoothly but problem persist.

[2019-02-20 15:56] davitol commented on #34567
@malvivent7 The part about it is not possible to upload or create files/folders works as designed:
<img width="1113" alt="screen shot 2019-02-20 at 16 43 20" src="https://user-images.githubusercontent.com/10596560/53104743-38d9a200-3530-11e9-9610-3c9ecd20b7ce.png">

The name of the directory shared in the step 2, is Shared as it is shown in the screenshot?

[2019-02-20 16:00] Ghoschdi commented on #34572
I had the same error until I realized that the table 'oc_filecache' was created with my mariaDBs default engine ARIA instead of InnoDB (for whatever reason).
If I am not mistaken only InnoDB supports Foreign Keys and ARIA not (and OC only supports InnoDB).
What I did:
1. Changed the engine: `ALTER TABLE 'oc_filecache' ENGINE = InnoDB;`,
2. deleted the table 'oc_persistent_locks'
3. startet the upg

[2019-02-20 16:04] malvivent7 commented on #34567
No it's hamdigest look in my screenshot
![image](https://user-images.githubusercontent.com/33978878/53105421-6541ee00-3531-11e9-9b2e-071174db0df1.png)
and this is the share detail
![image](https://user-images.githubusercontent.com/33978878/53105484-8276bc80-3531-11e9-9653-ef5a91dec80e.png)

[2019-02-20 17:01] davitol commented on #34567
Then idk why it appears in the screenshot breadcrumbs Shared > hamdigest

 hamdigest folder should appear as 1st level in the guests user account

[2019-02-20 17:07] malvivent7 commented on #34567
Sostantialy i have shared hamdigest that is in my root to guest user and misteriously in the root folder of the guest no hamdigest folder is seen (for example like your screenshot) but i dont know why; all passage are produced through webui

[2019-02-20 17:08] nerdlinger commented on #34565
Thank you. Turned off BFP, and problem fixed. will deal with reactivating BFP later.

Thanks!

Closing ticket, but wondering if the upgrade incorrectly purged a table.

[2019-02-20 17:08] #34565 closed

[2019-02-20 17:09] malvivent7 commented on #34567
First created folder from user A;
than user A share folder to user B inserting email as guest
user B receive an email by witch he can authenticate to owncloud changeing password
user B than login
user B dosen't see nothing in his root
but if user B click on the link provided by email to see shared contents he can see folder structured as "Shared->hamdigest"

[2019-02-20 17:09] malvivent7 commented on #34567
i'm struggling with this problem because that app it's very helpful for our activity

[2019-02-20 18:23] lbeck88 commented on #34572
Getting the same issue, tried to follow the steps from @Ghoschdi but mine still errors at the same place

[2019-02-20 18:57] lbeck88 commented on #34572
Fixed my error.
fileid in oc_filecache was int(11) while file_id in oc_persistent_locks was bigint(20).

Changed fileid to be bigint(20), deleted the oc_persistent_locks table and ran occ upgrade again.

[2019-02-20 19:18] jonasc commented on #34572
@lbeck88 Thanks for your comment. This fixed the problem for me.

[code]

[2019-02-20 22:22] TByte007 commented on #27075
After 2 years and no fix and now market app stopped working with SQLite.

[2019-02-21 03:23] #34483 closed

[2019-02-21 08:10] davitol commented on #33113
@vegagiancarlo Did you were able to fix the issue? Do have more logs to provide as feedback? Thanks for reporting

[2019-02-21 08:43] jvillafanez commented on #34572
Guys, **DON'T** touch manually the DB unless devs tell you that it's safe to do so.

"core/Migrations/Version20170804201253.php" should have been executed. You can check in the "oc_migrations" table if that migration has been run or not.
`occ migration:status` also helps to check if there are migrations that haven't been run.

The problem here isn't that the update fails, is that a migration faile

[2019-02-21 08:51] lbeck88 commented on #34572
@jvillafanez I'm currently at the latest migration step:

[2019-02-21 10:55] PVince81 commented on #34567
@malvivent7 you forgot to attach your config.php but I guess you have set the option "share_folder" and are experiencing this bug related to share folder and guests: https://github.com/owncloud/core/pull/34395

[2019-02-21 11:04] malvivent7 commented on #34567
Thanks PVince81 for your reply i have attached opening this issue my config in txt format (you can retrive it on top of my first post) in my config.php share_folder is
'share_folder' => '/Shared', (i think it's the default) but i experience same bug mentioned #34395

[2019-02-21 11:11] malvivent7 commented on #34567
For your convenience i re-attach file config
[config_report_20190220.txt](https://github.com/owncloud/core/files/2888979/config_report_20190220.txt)

[2019-02-21 11:17] PVince81 commented on #34567
ok, the bug in question will be fixed in the upcoming 10.2.0 release.

as a workaround you could remove the "share_folder" setting, but that might affect your existing users.

or  you could apply https://github.com/owncloud/core/pull/34395 as a patch (please do so on a test system first).

in any case, I think this ticket can be closed as it's resolved by the patch in question.

[2019-02-21 11:17] #34567 closed

[2019-02-21 11:45] settermjd commented on #34510
@PVince81, I'll see what I can do to make the bundled docs gr8 again!

[2019-02-21 12:23] settermjd commented on #34510
I'm experimenting with updating core's Makefile to build the docs locally. However, if it takes too long, likely the best solution would be just to point to the online docs. They have a whole build pipeline after all.

[2019-02-21 12:28] settermjd commented on #34510
Actually, thinking about it further, why not just take the simplest path and link directly to the online docs? No need to maintain the docs in two places.

[2019-02-21 12:44] jonasc commented on #34572
@jvillafanez, @lbeck88
For me `core` also is up to date but for `dav` I get
[code]
I looked around a bit and then decided to continue the migration process with `./occ migration:migrate dav`. Was that a good choice or did I make things worse with this :scream:?
After running it it tells me that also the dav app is up to date.

[2019-02-21 13:22] frajico opened #34576 "Creating a new user sends a link without domain name if you access owncloud without domain name"
### Steps to reproduce

1. Install and configure an owncloud 10.0.10 instante with mysql and publish it on internet as https://owncloudservername.exampledomain.com
2. Access owncloud server with http://owncloudservername from internal network
3. Create a new user. Owncloud send a link to set password withouth the domain name like

https://owncloudservername/index.php/settings/users/setpasswords/fo

[2019-02-21 13:29] Ghoschdi commented on #34572
@jvillafanez : That makes sense and I checked the migration status, which claimed everything was run properly. That said, i found more tables that do not use the InnoDB engine, which is weird since i thought and read OC only supports InnoDB since 9.x.
So best to run a maintenance:repair or change the tables manually?

[2019-02-21 13:50] ownclouders commented on #34576
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @ownclouders.

Possibly related issues are https://github.com/owncloud/core/issues/11891 (OwnCloud: New User issues), https://github.com/owncloud/core/issues/222 (Creating new users not possible), https://github.com/owncloud/core/pull/32770 (Check that user cannot create public link without entering password w…

[2019-02-21 14:00] jvillafanez commented on #34572
After running it it tells me that also the dav app is up to date.

I think your missing migration changes to bigint several ids for contacts and calendar. You'll probably need it at somepoint.

So best to run a maintenance:repair or change the tables manually?

I don't think ownCloud is explicitly setting the innoDB engine in any place. That said, there is a repair step (I guess the "maintenance:r

[2019-02-21 14:15] Alex41160 commented on #34524
I am not sure as well on how to reproduce it. I just know that it is spamming the logs. I do think that it is always due to the same user that is using the mac version of the client. He is able to connect though so he doesn't see this error.

Steps to reproduce
- Unknown

Expected behaviour
- The user can connect without any errors in the logs

Actual behaviour
- The user can connect but an error

[2019-02-21 14:22] Ghoschdi commented on #34572
I set InnoDB to default on my server now (and was kind of surprised it still was ARIA). I also found the repair routine but it is limited to change MyISAM to InnoDB as you said. So I just executed the SQL myself for all the tables. Thanks for the help!

[2019-02-21 16:06] tomneedham commented on #33883
Move to new config options with better naming. Don't try 'auto migrate' them. We can document in release notes and normal documentation. Side effects are minimal / not critical at all. Easily changed.

[2019-02-21 16:16] PVince81 commented on #34510
this would be a PM decision as there might have been reasons to bundle the docs in the past, maybe for offline instances.

@pmaier1 @hodyroff what do you think ?

[2019-02-22 07:55] DeepDiver1975 commented on #34510
:+1: the bundled docs will be out dated the day we ship them in the release. And they will stay there for years. Kill them!

[2019-02-22 08:05] sharidas commented on #33248
Original PR : https://github.com/owncloud/core/pull/33936
Backport PR: https://github.com/owncloud/core/pull/34584

[2019-02-22 08:49] #33248 closed

[2019-02-22 09:14] PVince81 commented on #34510
- [ ] check if EE also has this section

[2019-02-22 09:15] PVince81 commented on #34510
as discussed with @pmaier1 and @cdamken we decided to not bundle it any more.

it's not used in EE, only CE.

[2019-02-22 10:52] cognixmarc opened #34591 "New user - Internal server error - Disk full"
Hello,

We recently encountered the following error:

[code]

The error apparead on login page after the creation of a new user, when the disk is nearly full. OwnCloud was unable to create the files directories of the user.

How can we avoid this problem in the future?

Thanks for your help.

Regards,

### Server configuration
*Operating system*: Debian 8.11
*Web server:* nginx/1.14.2
*Database:*

[2019-02-22 10:57] PVince81 commented on #34510
I'll take care in next sprint, there's some code in core to delete...

[2019-02-22 11:16] ownclouders commented on #34591
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/owncloud/core/issues/26089 (Internal Server Error), https://github.com/owncloud/core/issues/9324 ("Internal Server Error"), https://github.com/owncloud/core/issues/24525 (Internal server error), https://github.com/owncloud/core/issues/28840 (-Error-), and https://github.com/owncloud/core/issues/26902 (error).

[2019-02-22 12:58] patrickjahns commented on #34591
@cognixmarc
This is not a bug with ownCloud itself - as you've mentioned your storage was full.

For any help on administrating ownCloud or questions you have, please check https://central.owncloud.org/

[2019-02-22 12:58] #34591 closed

[2019-02-22 13:08] cognixmarc commented on #34591
@patrickjahns thanks, ownCloud shouldn't check that there is enough space on the disk before authorizing the creation of a user that he can't do entirely ?

[2019-02-22 15:58] sharidas opened #34594 "The SystemTagManager API should behave as it was before for methods like createTag, getTag"
### Steps to reproduce
1. The SystemTagManager API like createTag(), getTag() should behave as before. Meaning even if the last argument is not provided to these methods, the behaviour of the tags created should be as expected. The last argument is causing problems with behaviour of tags created.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

[2019-02-22 16:26] ownclouders commented on #34594
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @ownclouders.

Possibly related issues are https://github.com/owncloud/core/pull/30744 (Tag API test BeforeSuite method), https://github.com/owncloud/core/pull/30743 (Tag API test BeforeSuite method), https://github.com/owncloud/core/issues/18047 (r), https://github.com/owncloud/core/issues/19958 (Streaming API

[2019-02-22 17:48] nfck opened #34597 "cron task smbclient 100% CPU usage and hanging"
<! Please excuse any mistakes, this is my first bug report.>

### Steps to reproduce
1. In External storage, connect to a Samba share that includes the owncloud folder in its folder structure
Example:
/Share
/Share/Data
/Share/WebRoot where /Share/WebRoot is Symlinked-from-/var/www
/Share/WebRoot/owncloud

2. Run the cron.php job or wait for job to start on schedule

### Expected behaviour
The cro

[2019-02-22 18:12] ownclouders commented on #34597
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @ownclouders.

Possibly related issues are https://github.com/owncloud/core/issues/6559 (soffice.bin uses 100% CPU), https://github.com/owncloud/core/issues/6940 (Sync loop, 100% CPU-usage), https://github.com/owncloud/core/issues/10379 (ownCloud 7.0.1 - LDAP configuration causing 100% CPU usage), https://githu

[2019-02-22 18:17] nfck commented on #34597
Possible. However, if the SMB storage does not include the Owncloud folder, the issue does not appear. Also, the issue is not sync related but rather maintenance (cron) task related.

[2019-02-23 15:32] Pingponguin opened #34598 "Update 10.0.8.5 to 10.1.0 failed on shared hoster"
Hello, OC is really giving me a hard time every time I try to update it. It would really be a great step forward if update process could be noob-safe.
I found my actual update errors in similar ways on the net, but could not figure out how to solve them in my case. Can anybody help? Thanks and regards, Pingpong

[owncloud_log.zip](https://github.com/owncloud/core/files/2896933/owncloud_log.zip)

#

[2019-02-23 15:55] ownclouders commented on #34598
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @ownclouders, and @PVince81.

Possibly related issues are https://github.com/owncloud/core/issues/18350 (DB-Schema update fails, 8.1.0 to 8.1.1), https://github.com/owncloud/core/issues/17768 ( 8.1.0　update Failed), https://github.com/owncloud/core/issues/18032 (massive/strange db updates after upgrade to 8.1.0),

[2019-02-24 13:39] Pingponguin commented on #34598
Unfortunately those links are not helpful for me.

[2019-02-24 13:55] martink-p opened #34599 "stream_read not returning the requested length for encrypted remote storage"
Hello OwnCloud developers.

I've recently installed ownCloud with the latest available docker image, set it up and configured it to use an external storage (Strato HiDrive) with encryption enabled.
While synchronizing/uploading files I ran into some problems. The files were uploaded and ecnrypted correctly. However, trying to download them failed. Looking into the logfile revealed an error message

[2019-02-24 14:20] ownclouders commented on #34599
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @PVince81.

Possibly related issues are https://github.com/owncloud/core/issues/13073 (Option to encrypt just external storage), https://github.com/owncloud/core/issues/3685 (hashed filenames on encrypted storage), https://github.com/owncloud/core/issues/13668 (Cannot download encrypted file version after movin

[2019-02-24 16:11] martink-p opened #34600 "error when uploading/syncing a file with special characters"
Hello ownCloud developers.

I've recently installed ownCloud with the latest available docker image, set it up and configured it to use an external storage (Strato HiDrive) with encryption enabled.
While synchronizing/uploading files I ran into a problem which I could not solve. However, I could at least isolate it.

### Steps to reproduce
1. Upload/Sync (with client) a file with special character

[2019-02-24 16:20] martink-p commented on #34600
I might have found a solution. But, you guys should verify this because I do not have full insight in the whole process:

The destination file name of the MOVE request is also urlencoded in Files/Storage/DAV.php, where the renaming of the uploaded file is taken out in function "rename":
`'Destination' => $this->createBaseUri() . $this->encodePath($path2),`

Which creates such a request:
[code]

I

[2019-02-24 16:35] Pingponguin commented on #34598
I tried again to solve this part of the issue:

Since I do not know what I'm doing, its hard for me to figure out how to adapt the instructions for my situation.

Any command I try with Putty gives me the same error back. For example:

`sudo -u www-data php occ app:upgrade market`

Result:

The only expression I could find with help is -u, but this did not help.

How can I update market and why do

[2019-02-24 16:36] ownclouders commented on #34600
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @ownclouders, and @PVince81.

Possibly related issues are https://github.com/owncloud/core/issues/26902 (error), https://github.com/owncloud/core/issues/28840 (-Error-), https://github.com/owncloud/core/issues/3088 (Special Characters error), https://github.com/owncloud/core/issues/11681 (Errors when uploading to

[2019-02-24 21:30] achmet9948 opened #34601 "Update is not possible"
Hello everybody,
when I try to update my owncloud from 10.0.10-1+1.1 to 10.1.0-1+1.2 I get following error:

[code]
I set the maintenance mode on and stopped my webserver.

[2019-02-24 21:43] PVince81 commented on #34510
@sharidas please take care. compare EE with CE in terms of bundled docs and then delete all related code in CE so that the section disappears, just like on EE.

[2019-02-24 21:52] ownclouders commented on #34601
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @PVince81.

Possibly related issues are https://github.com/owncloud/core/issues/21366 (Update), https://github.com/owncloud/core/issues/20661 (Update), https://github.com/owncloud/core/issues/32092 (Repository not updated), https://github.com/owncloud/core/issues/34428 (Repository not updated), and https://gith

[2019-02-24 21:53] PVince81 commented on #32843
renamed to be more accurate

[2019-02-24 21:53] PVince81 commented on #32844
renamed to be more accurate

[2019-02-24 21:55] PVince81 commented on #32698
https://github.com/owncloud/core/pull/32027 has been released with 10.0.10.

closing as this is old and the above is mostly about helping to recover from the bug, and no feedback was received since a while

[2019-02-24 21:55] #32698 closed

[2019-02-25 06:27] individual-it commented on #34600
@martink-p does the same thing happen on local storage?

[2019-02-25 12:04] sharidas commented on #34594
Created PR here:
- [x] master branch https://github.com/owncloud/core/pull/34604

[2019-02-25 12:06] louanbastos opened #34606 "Please add this new useful feature"
Having the ability to add external files via remote upload url.

Example: I have other website, the file is big and will take long time to upload, i want to take the file from my other website or other website which not my own (example.com/file.zip - 2GB) and put on my owncloud server.

This feature is so useful and will help a lot of people. Thanks <3

[2019-02-25 12:30] ownclouders commented on #34606
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/owncloud/core/pull/30981 (Add confirm password after new password), https://github.com/owncloud/core/issues/6250 (New feature request), https://github.com/owncloud/core/issues/9591 ([contacts] Please add anniversary field), https://github.com/owncloud/core/pull/33053 (Add tests for addUser feature), and https://

[2019-02-25 12:38] sharidas commented on #34510
EE does not have:
-  Help, using which user can navigate to the bundled docs.

CE does have:
- Help, with links.

Objective:
- Remove the `Help` from the CE.

[2019-02-25 13:37] #34594 closed

[2019-02-25 15:13] sharidas commented on #34510
Created PRs here:
- [x] master branch PR https://github.com/owncloud/core/pull/34611

[2019-02-25 15:52] PVince81 commented on #34510
we still have this PR for rewiring the doc links: https://github.com/owncloud/core/pull/34586

[2019-02-25 16:31] PVince81 commented on #34606
this feature used to exist and was removed for security reasons, see https://github.com/owncloud/core/issues/13326

[2019-02-25 16:31] #34606 closed

[2019-02-25 16:33] PVince81 commented on #34598
hmm this was observed before but could not be reproduced: https://github.com/owncloud/core/issues/33963

it failed on the same table, so there's likely something that was similar in your env compared to that other env

[2019-02-25 16:40] PVince81 commented on #34598
from what I see there was an error before the migration even ran:
[code]

It looks like your user has no permissions to create foreign keys `Syntax error or access violation: 1142 REFERENCES command denied to user 'web143_3'@'localhost' for table `oc_filecache` but somehow this didn't stop the upgrade and it went through.

From what I see you re-started the failed upgrade a second time:
[code]

So

[2019-02-25 16:42] PVince81 commented on #33963
@thommierother can you please check the owncloud.log from back then if you still have it and see if you had any errors related to the foreign key ? I'm asking because of similar reports like https://github.com/owncloud/core/issues/34598

[2019-02-25 16:44] PVince81 commented on #13143
we have our first foreign keys in the oc_persistent_locks table and it seems shared hosters don't like it as they remove permissions to reference other tables: https://github.com/owncloud/core/issues/34598#issuecomment-467082933

This also needs get rid of support for shared hosters...

[2019-02-25 16:48] thommierother commented on #33963
ok, I'll take a look, but no guarantee that the issue from Dec/Jan is still in the logs as they are rotated ...

[2019-02-25 16:49] PVince81 commented on #33963
unless they are rotated to trash I guess you could still unpack the old one ? :wink:

[2019-02-25 16:53] PVince81 commented on #34601
somehow looks like your package manager isn't able to unpack the deb package due to permission issues, despite you being root. do you have any mount points there mounted read-only ?

in any case this doesn't look like an ownCloud bug, please refer to https://owncloud.org/help/ to get support.

cc @crrodriguez

[2019-02-25 16:53] #34601 closed

[2019-02-25 16:54] Pingponguin commented on #34598
You*ve got the point of my real problem. I could fix the error messages stated above by activating market apps and deleting web143_db3.oc_persistent_locks by shell, but now I'm stuck at:

This is obviously the external key problem. And I have no idea what you are talking about.

[2019-02-25 16:54] PVince81 commented on #34524
@tomneedham @DeepDiver1975

[2019-02-25 16:56] PVince81 commented on #34598
@Pingponguin did you install your ownCloud on a shared web hoster or on a local machine where you have root / admin access ?

many things in your report seem to give hints that this might be a shared hoster.

otherwise if you have admin access for the whole database server you should grant the "web143_db3" all privileges.

[2019-02-25 16:58] PVince81 commented on #34576
please fix "overwrite.cli.url" in config.php to match the domain name you want to use for creating links.

see https://doc.owncloud.org/server/10.0/admin_manual/installation/changing_the_web_route.html

this is not a bug in ownCloud

[2019-02-25 16:58] #34576 closed

[2019-02-25 17:00] PVince81 commented on #34597
you should not include OC in an external storage as this will likely cause some kind of infinite loop in scanning, which might explain why smbclient is running forever.

the external storage (SMB) should only contain external files to be used inside of OC. don't do inception!

closing as external storage is not meant to be used that way

[2019-02-25 17:00] #34597 closed

[2019-02-25 17:03] PVince81 commented on #34465
uploading a file "test.xlsm" file works for me locally. so it isn't a bug in the default mime type mappings.

please check your "oc_mimetypes" table, I suspect there might be some unwanted null values there.

[2019-02-25 17:05] PVince81 commented on #34397
@WisseHesNL please don't let any external software mess with the "data" folder. It is intended to be used exclusively by ownCloud.

See if said external software has Webdav support and let it talk to ownCloud using APIs.

This isn't an ownCloud bug, closing.

[2019-02-25 17:05] #34397 closed

[2019-02-25 17:09] PVince81 commented on #34233
when did it start happening ? were you using OC 9.1 and upgraded to OC 10.0 ?

the message you see exists since OC 10.0.0 due to changes in how user accounts are handled

[2019-02-25 17:09] PVince81 commented on #34233
please use the issue template: https://github.com/owncloud/core/blob/master/.github/issue_template.md

[2019-02-25 17:24] Pingponguin commented on #34598
@PVince81 I'm on a shared web hoster. I read about the foreign key constraint and understand the problem in general, but not really why being with a shared hoster is a problem.

Is my oc installation and all the data lost now?

[2019-02-25 18:20] ryno83 commented on #34465
No null value in oc_mimestypes.

It works for me too right now, but the very first time I sync with the desktop app a new file type, it failed with the error. By "new file type" I mean that was never uploaded before. I got the error with .doc, .docx, .xls, .xlsx....

While I'm writing theses lines I've created a zip file, renamed it to .xzipz and uploaded it without error. But I uploaded a simple

[2019-02-25 19:14] patrickjahns commented on #34598
@Pingponguin
Would you be able to provide some information on the tables in the database.
Can you issue a `describe oc_filecache;` and `describe oc_accounts; - or show from your mysql interface the row names and types?

The data is preserved on the server - the database we will work towards finding a solution

[2019-02-25 20:13] thommierother commented on #33963
@PVince81 I have the logs as a tar.gz here, where can I share them with you? I don't want to upload it to public github...

[2019-02-25 20:15] PVince81 commented on #33963
you can send to pvince81 at owncloud dot com

[2019-02-25 20:20] PVince81 commented on #34162
I believe the uid that you need to pass is the one that was configured in LDAP to be synced as user id.

To check, you could do a `select * from oc_accounts` and see what user ids are visible there to get an idea what field you need to use from LDAP. (there might be a way also in the LDAP wizard but I'm not familiar enough with this part)

cc @tomneedham

[2019-02-25 20:21] PVince81 commented on #34151
closing due to lack of feedback.

for help please refer to http://owncloud.org/help/

[2019-02-25 20:21] #34151 closed

[2019-02-25 20:21] PVince81 commented on #34121
@crrodriguez any update ?

[2019-02-25 20:29] PVince81 commented on #33507
please upgrade to 10.1.0.

there was a bug in the code that generates the version list for viewing.
the versions do exist on disk, it's just that the API did not return them.

this is the PR that fixes it indirectly https://github.com/owncloud/core/pull/33302

[2019-02-25 20:29] #33507 closed

[2019-02-25 22:22] martink-p commented on #34600
@individual-it I briefly reverted my change and checked it for local storage. It does not happen with local storage. But, I bet OC doesn't uses Files\Storage\DAV for local storage and there probably is no urlencoding in the chain.
However, I tested an upload during the last night and there were some new errors. They happend with files containing "#" in their name. (For example "May19#01.jpg"). Wit

[2019-02-26 02:53] ytrezq commented on #17874
@ElToro1966 

@batermj hello I know this is unrelated to this page, but I saw you are [one of](https://gist.github.com/ytrezq/b88bfb074b70885cd543/stargazers) my [followers](https://gist.github.com/ytrezq/b88bfb074b70885cd543). Can you please send your e-mail ? I have a few question for you.

[2019-02-26 07:47] sorenweber commented on #34121
New packages `Version: 10.1.0-1+1.1` has been uploaded, and when I upgraded just now, I could from the command line enable the Market.

So, from my point of view it is working now. Thank you @PVince81 and @crrodriguez.

[2019-02-26 07:47] #34121 closed

[2019-02-26 08:42] hollowdew commented on #34162
Thank you for your answer PVince81.
I checked it, my user_id is the ldap attribute 'entryUUID'
But if I use the entryuuid e.g. 'cfc6bf1d-a6b0-20d0-30a7-14bd6defc24c' as parameter for the option -u (--uid) the answer from occ is:

Syncing cfc6bf1d-a6b0-20d0-30a7-14bd6defc24c ...
These accounts that are no longer available in the backend:
cfc6bf1d-a6b0-20d0-30a7-14bd6defc24c, ,  (no longer exists in

[2019-02-26 11:03] mgaidia commented on #33243
I have the same issue.
On the same owncloud instance, different buckets configured similarly bahe differently.
Here is the log for a failed directory creation:
`{"reqId":"1FmlqZAHnKjz3T0tr7dO","level":3,"time":"2019-02-26T11:00:13+00:00","remoteAddr":"x.x.x.x","user":"xxxx","app":"files_external","method":"MKCOL","url":"\/remote.php\/webdav\/bucketname\/test-dir","message":"Exception: {\"Exception

[2019-02-26 11:11] fr00x opened #34625 "Update to 10.1.0 not offered from 10.0.10.4"
### Steps to reproduce
1. Go to the settings page
2. See if there is a new update
3. 10.1.0 is not offered

### Expected behaviour
10.1.0 is offered

### Actual behaviour
My 10.0.10.4 instance is listed as current.

### Server configuration
**Operating system**: CloudLinux

**Web server:** LightSpeed

**Database:** MySql

**PHP version:** 7.2

**ownCloud version:** (see ownCloud admin page) 10.0.1

[2019-02-26 11:35] ownclouders commented on #34625
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/owncloud/core/issues/27769 (Updating to 10.0.0 from 9.1.4 - update coudn't finish and now owncloud is crashed - please help), https://github.com/owncloud/core/issues/27760 (owncloud upgrade from 9.1.4 to 10.0.0 fails), https://github.com/owncloud/core/issues/34565 (After upgrade to 10.1.0.4 unable to log in; oc_

[2019-02-26 12:49] individual-it commented on #34566
List of endpoints (including endpoints added by bundled apps) and checks what response is checked

| Path                                                               | GET | POST   |  PUT | DELETE |
|-----------------------------------------------------------| ----- | ---------- | ------ | ----------- |
| /apps/files_external/api/v1/mounts                    | json </br> xml  | NA | NA | NA |
|

[2019-02-26 12:58] individual-it commented on #34566
I've started to looks through what is tested (list above is not finished yet)
so far:
- there are no tests that use the json response
- some tests check only the ocs code of the response (e.g. tests in auth suite)

[2019-02-26 14:00] karakayasemi commented on #33883
@tomneedham @PVince81 Please, correct me if I'm wrong. I'm planning to do the followings.

- Seperate 'accounts.enable_medial_search' as  'accounts.enable_medial_search_users' and  'accounts.enable_medial_search_groups' in sample.config.php.

- Change 'accounts.enable_medial_search' usages to  'accounts.enable_medial_search_users' in all repositories. Also, there is 'user_ldap.enable_medial_search

[2019-02-26 14:23] patrickjahns commented on #34566
It would be great to have a API specification first and issue contract based testing in order to ensure the contracts ( and the error cases ) are done properly :-)

[2019-02-26 19:08] Pingponguin commented on #34598
@patrickjahns

I have lost the content of table oc_filecache. I emptied it because of its size, but when I tried to restore the backup was corrupt. I hope this is not an additional problem.

<a href="https://www.directupload.net/file/u/49746/ivd5a3uy_png.htm" target="_blank"><img src="https://s17.directupload.net/images/user/190226/temp/ivd5a3uy.png" border="1" alt="Gehostet von directupload.net">

[2019-02-26 21:02] #34510 closed

[2019-02-27 07:19] individual-it commented on #34566
the second table shows the progress of testing ocs endpoints for correct / incorrect authentications

[2019-02-27 07:57] individual-it opened #34626 "accesing /ocs/v1.php/apps/files_sharing/api/v1/shares with invalid credentials gives an empty reply"
### Steps to reproduce
1. `curl -u admin:wrong http://localhost/owncloud-core/ocs/v2.php/apps/files_sharing/api/v1/shares` -v

maybe related to https://github.com/owncloud/core/issues/34566

### Expected behaviour
HTTP error 401
xml response with error code

### Actual behaviour
HTTP code 200
empty content
TypeError message shown in the logs

### Server configuration
**Operating system**:
Ubuntu 1

[2019-02-27 08:24] ownclouders commented on #34626
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @ownclouders.

Possibly related issues are https://github.com/owncloud/core/issues/27400 (OCS Share API), https://github.com/owncloud/core/issues/17166 (OCS Share API Date improvements), https://github.com/owncloud/core/issues/21798 (OCS Sharing API v2), https://github.com/owncloud/core/issues/18117 ([OCS-API]

[2019-02-27 09:12] PVince81 opened #34628 "Prevent resuming upgrade"
Often times after `occ upgrade` failed, administrators try to run them again.

However the system could be in an unpredictable and non-resumable state and we always urge admins to restore from the backup before trying again.

Resuming an upgrade could cause the system to go into an unknown state.

I suggest we put a check in place that whenever an update has already started, it sets a flag in the

[2019-02-27 09:13] PVince81 commented on #34628
Optionally we could add a message at the beginning "please make sure you have backups of the code, data folder and database before proceeding" with a confirmation y/n (overridable with `-y`)

[2019-02-27 09:18] micbar commented on #34628
This would be a great improvement IMHO!

[2019-02-27 09:34] ownclouders commented on #34628
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/owncloud/core/issues/17528 (Prevent closing upgrade page while upgrade in progress), https://github.com/owncloud/core/issues/18192 (Prevent downgrades), https://github.com/owncloud/core/issues/10550 (Shares lost after upgrade), https://github.com/owncloud/core/issues/31476 (WebUpdater: Show a warning of apps tha

[2019-02-27 13:17] phil-davis commented on #34626
Note: this issue is only seen in core `master`
In core `stable10` the expected result happens.

[2019-02-27 13:43] individual-it commented on #34600
to check if its a problem on stratos side you can use an other webdav client to connect directly there or use curl to send MOVE commands to strato

[2019-02-27 13:45] diocas opened #34631 "OCM Returned endpoint relative"
Hi @VicDeo
As we discussed before, I was expecting the webdav endpoint to be absolute in the ocm-provider endpoint.
Let me know if you disagree.
Diogo

[2019-02-27 13:46] diocas opened #34632 "OCM ProviderId as int instead of string"
Hi @VicDeo
As we discussed before, I was expecting ProviderId as a string. Should we consider both? Either way, maybe we should clarify the API.
Diogo

[2019-02-27 13:47] diocas opened #34633 "OCM http(s):// as part as the owner"
@VicDeo should we accept this? Again, from the examples of the OCM API, I was expecting things differently. Should we clarify the API?
Diogo

[2019-02-27 13:49] diocas opened #34634 "OCM share not appearing"
@VicDeo As I told you, the last time I tried to share something from CBox to OC, the share was added but nothing appeared in the interface. Can you give me your email so that you can debug it? I will send the json I POST with a valid webdav endpoint + secret.
Diogo

[2019-02-27 13:51] diocas opened #34635 "OCM failing to create a file in a share"
Hi @VicDeo,
When I share from OC to CBox, I am able to list and open files. I can even create directories, as the write permissions are all set. But it fails when I try to create a file whit "no permissions" error.
The exact same behaviour happens if I mount the webdav endpoint in MacOS.
Diogo

[2019-02-27 14:26] ownclouders commented on #34634
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @PVince81.

Possibly related issues are https://github.com/owncloud/core/issues/11433 ([Sharing] Not possible to share after having shared a folder), https://github.com/owncloud/core/issues/3360 (Shared folder disappear ), https://github.com/owncloud/core/issues/22739 (Sharing permission issue), https://github.

[2019-02-27 14:29] ownclouders commented on #34633
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/owncloud/core/issues/27283 (file owner), https://github.com/owncloud/core/issues/12054 (Owncloud http requests), https://github.com/owncloud/core/issues/14819 (Support HTTP proxy), https://github.com/owncloud/core/issues/3500 (HTTP header requesttoken), and https://github.com/owncloud/core/pull/34321 (Send OCM r

[2019-02-27 15:04] individual-it opened #34636 "apps/files_sharing/api/v1/remote_shares/{id} returns empty content for not accepted shares"
### Steps to reproduce
1. from server1 share a folder to server2
2. on server2 do **not** accept the share
3. on server2 find the share-id `curl -u admin:admin http://localhost/owncloud-core/ocs/v1.php/apps/files_sharing/api/v1/remote_shares/pending`
4. try to get information about that share `curl -u admin:admin http://localhost/owncloud-core/ocs/v1.php/apps/files_sharing/api/v1/remote_shares/22

[2019-02-27 15:04] individual-it commented on #34636
possible related to #34566

[2019-02-27 15:31] ownclouders commented on #34636
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @phil-davis.

Possibly related issues are https://github.com/owncloud/core/issues/34626 (accesing /ocs/v1.php/apps/files_sharing/api/v1/shares with invalid credentials gives an empty reply), https://github.com/owncloud/core/issues/18530 (apps/files_sharing/api/externalShares 404 (Not Found)), https://github.com

[2019-02-27 16:19] DeepDiver1975 commented on #34636
@individual-it can you glue all these tests into some api acceptance tests? THX

[2019-02-28 00:12] martink-p commented on #34600
Hi.
I just did this... It works pretty well. I've used the MS Windows DAC Client and tried uploading such a file and also renaming of it. I logged the communication with Message Anaylzer to see what's happening. But, there is nothing special. Uploading is done by PUT with the file part in the URI being urlencoded, and when renaming from a different file (as OC does with it's part file after upload

[2019-02-28 03:58] individual-it commented on #34636
@DeepDiver1975 just doing it, trying to fill the gaps in https://github.com/owncloud/core/issues/34566#issuecomment-467425598
first part was https://github.com/owncloud/core/pull/34627 , more will follow

[2019-02-28 04:15] individual-it opened #34639 "fix `responseXml` mess in acceptance test code"
in `BasicStructure.php` we have `getResponseXml` that returns an the content of the response parsed into a SimpleXMLElement
in `WebDav.php` we have `$this->responseXml` what is an array and `$this->responseXmlObject` that is a SimpleXMLElement. `getResponseXmlObject()` returns the SimpleXMLElement and no getter for `responseXml` (Array)

this is all a bit confusing and need refactoring

[2019-02-28 04:40] ownclouders commented on #34639
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @phil-davis.

Possibly related issues are https://github.com/owncloud/core/issues/22492 (test), https://github.com/owncloud/core/issues/22485 (test), https://github.com/owncloud/core/issues/31579 (test), https://github.com/owncloud/core/pull/32378 (Small fixes in acceptance tests), and https://github.com/ownclo

[2019-02-28 09:03] butonic opened #34642 "cron should die when version from code mismatches version in db"
Otherwise it might cause unwanted sideeffects.

[2019-02-28 09:28] ownclouders commented on #34642
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/owncloud/core/issues/4242 (Cron produces a very inefficient DB query), https://github.com/owncloud/core/issues/16752 (Can not run cron anymore when there is a "Expire versions" task for a deleted user), https://github.com/owncloud/core/issues/13597 (Votre dossier de données et vos fichiers sont probablement acce

[2019-02-28 09:39] martink-p commented on #34600
I'm wondering if that file name is urlencoded twice, since after the MOVE req the resulting file name is the urlencoded version of the original one...
The rename function isn't called with an url encoded file name as we can see in my previous post where I've removed the urlencoding for $path2 variable. But maybe while executing the request... ? Need to check that.

[2019-02-28 10:36] PVince81 commented on #34600
@individual-it can you confirm whether we have automated tests for such scenarios ? if we do then it would confirm that this is likely an env issue

[2019-02-28 10:41] individual-it commented on #34600
@PVince81 we do test funny char in filenames but we don't have tests with a WebDav storage and it looks to me that the code that deals with backend WebDAV storage is the problem

[2019-02-28 15:58] mzeminian opened #34646 "Page files doesn't work"
### Expected behaviour
I have to see files

### Actual behaviour
I didn't see files when I log in my cloud

### Server configuration
**Operating system**: Linux

**PHP version:**

**ownCloud version:** 10.1.0

**<?php
$CONFIG = array (
  'instanceid' => 'ocjr0qe7s59w',
  'passwordsalt' => 'L07WXuMh8gBoPBrOFdYh94xH9C6Q7I',
  'secret' => 'JzL+/49PUGQqlCa2HYcGiXu/Wg8MpDRrW3pklD4z6b3N9Qnc',
  'trusted

[2019-02-28 16:20] ownclouders commented on #34646
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/owncloud/core/issues/23182 (File Search not working), https://github.com/owncloud/core/issues/7746 (Search for files doesn't work), https://github.com/owncloud/core/issues/3751 (Already Exists it does not work when we try to upload a file whose name already exists), https://github.com/owncloud/core/issues/3728 (

[2019-02-28 17:53] ho4ho commented on #34646
Better support for https://central.owncloud.org/ ?

[2019-02-28 17:54] ho4ho commented on #34625
https://owncloud.org/release-channels/

[2019-02-28 21:08] VicDeo commented on #34625
Unfortunately web update to 10.1 needs manual creation of `/ocm-provider/index.php` https://github.com/owncloud/updater/issues/495
That's why we haven't published it yet.

[2019-02-28 21:29] VicDeo commented on #34598
@Pingponguin
could you ask you hoster whether it is possible to grant REFERENCES permission for the user from your config.php on this DB?
Basically they need to run something like this:
GRANT REFERENCES ON **YOUR_DB_NAME**.* TO '**YOUR_DB_USER**'@'**YOUR_DB_HOST**';
and then
FLUSH PRIVILEGES;

or check if it is possible via cPanel

[2019-02-28 21:38] VicDeo commented on #34598
also could be related to the different engines used for these two tables, like in https://github.com/owncloud/core/issues/34572

From here https://dev.mysql.com/doc/refman/5.6/en/create-table-foreign-keys.html

[2019-03-01 07:11] fr00x commented on #34625
Thanks @ho4ho for the info. @VicDeo that would imply that lots of admins would need to re-install from .tar.gz such as myself.

[2019-03-01 07:35] tflori opened #34648 "cron and console are not reading config"
### Steps to reproduce
1. setup a docker container running owncloud:10.0
2. change the config file to use a table prefix
3. execute cron.php inside the container with user www-data

### Expected behaviour
it should read the appconfig from the prefixed table

### Actual behaviour
it throws an error that it can't read from the database:
[code]

### Server configuration
**Operating system**:
[code]
*

[2019-03-01 07:59] ownclouders commented on #34648
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @mmattel.

Possibly related issues are https://github.com/owncloud/core/issues/4148 (Config file reading), https://github.com/owncloud/core/issues/14455 (Support for read-only config dir), https://github.com/owncloud/core/issues/8422 (Cron is not working), https://github.com/owncloud/core/issues/2124 ([carddav]

[2019-03-01 08:53] joltcan commented on #34536
Same issue here for Debian (9.8) and owncloud-files 10.1.0-1+1.2

[2019-03-01 10:33] davitol opened #34652 "password and email checkboxes are shown in the users page at the same time for the admin of a group"
### Steps to reproduce

1)  Create a group

2) Create 3 users: user1, user2 and user3 and add them to the group

3) Make user1 admin of the group

4) Log in with user1 and browse to users page.

### Expected behavior

Only the selected option (email or password) should be shown

### Actual behavior

Both options are shown at the same time

![screen shot 2019-03-01 at 11 24 54](https://user-images.

[2019-03-01 10:44] tomneedham commented on #33883
Accounts represent users from a backend. We should keep this named as this.

The accounts.enable_medial_search is fine - group ones should be called `groups.enable_medial_search` and then when central group table is merged, we can use it there as well.

I would need to see where this is used. The key thing should be that within ownCloud - all account searches are only hitting the database so we ha

[2019-03-01 10:50] tomneedham commented on #33883
@karakayasemi Do you want to have a quick call Monday morning about this? I can explain some background

[2019-03-01 12:57] karakayasemi commented on #33883
@tomneedham thank you for help. I read the Glencore patches and other issues which are related to this issue. I believe I got the idea for applying necessary patches with your last explanations.
I am planning to prepare a Pull Request at the weekend. I guess we can discuss further details on the Pull Request.

[2019-03-01 14:31] ownclouders commented on #34653
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @DeepDiver1975.

Possibly related issues are https://github.com/owncloud/core/issues/23004 (Calendar doesn't support dates before Unix epoch => can't import contact birthdays), https://github.com/owncloud/core/issues/22971 (Contact birthdays of untouched contacts not displayed in calendar), https://github.com/o

[2019-03-01 14:48] DeepDiver1975 commented on #34653
A fix is in #34654

[2019-03-01 16:58] karakayasemi commented on #33883
@tommenham thank you for help, I read other related issues and patches. After your last explanations, I believe I got the idea for implementing necessities. We can move `user_ldap` part out of this issue's scope.
I am planning to open a pull request at the weekend. We can discuss further details on the PR. If we need, we can have a chat on rocket.chat or arrange a quick call.

[2019-03-01 21:35] martink-p commented on #34600
Hey guys.
I have new information regarding that issue...
I did some more tests to see where the "bad guy" is hidden. I've captured the traffic from OC Docker container to the Strato server with tcpdump and on windows again with Message Analyzer.
OC uses a temporary part file (in that case "Ä cookies %.txt.ocTransferId100564105.part") and tries to rename it to the target file name "Ä cookies %.txt"

[2019-03-01 22:42] martink-p commented on #34600
For example:
I changed some code in "./apps/dav/lib/Connector/Sabre/File.php"... Function "getPartFileBasePath" looks like this now:
[code]
And it works like a charme now. The filename is cleaned up from funny-chars first and then special chars are replaced by "-". Thus, you still have a somehow related filename for the part-file.
Beforehand it was just returning $path in the if branch.

But, I've

[2019-03-02 02:30] phil-davis opened #34657 "Acceptance tests using pre-installed apps_paths"
PR #30889 issue #29839 introduced `apps-external` as a second apps path on a default installation.

- [ ] review existing `appmanagement.feature` scenarios to see if they are still "a good thing"
- [ ] add scenarios to confirm the new default path works
- [ ] whatever else might be useful related to this for testing ;)

[2019-03-02 02:53] ownclouders commented on #34657
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/owncloud/core/issues/22485 (test), https://github.com/owncloud/core/issues/31579 (test), https://github.com/owncloud/core/issues/22492 (test), https://github.com/owncloud/core/issues/33690 (cleanup acceptance tests WebDav trait), and https://github.com/owncloud/core/pull/31516 (Acceptance test coding standard ch

[2019-03-02 20:48] aario opened #34658 "Cannot send email via SMTP"
Hi,
I cannot setup SMTP.
The error is:
[code]
Now I now that because the standard form you set for all bug reports is not filled here, you might ignore this bug report. I estimated it takes around 2 hours to answer all the questions and read through that 2000 lines General Configuration Report to make sure no sensitive data is in it.

So here is what happens:
I installed owncloud using docker cont

[2019-03-02 21:11] ownclouders commented on #34658
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @PVince81.

Possibly related issues are https://github.com/owncloud/core/issues/18226 (Server does not send email notifications via smtp when set to AJAX), https://github.com/owncloud/core/issues/27554 (Cannot send test email), https://github.com/owncloud/core/issues/13826 (Can not sent Calendar events by email

[2019-03-04 04:10] individual-it commented on #34600
By the sound of it that seems to be the core problem. To narrow it further down for Strato try to rename a file with funny char to a ASCII file name, my guess it that it also will fail

CC @PVince81 @DeepDiver1975

That has nothing to do with my code change, because I tried it without the change and the behaviour is the same. It does not happen on local storage.

could you please open a separate i

[2019-03-04 09:46] individual-it opened #34664 "ocs config endpoint does not return CORS headers"
### Steps to reproduce
1. set `http://owncloud.org` CORS domain
2. `curl -u admin:admin http://localhost/owncloud-core/ocs/v1.php/config -H "Origin: http://owncloud.org" -v`

### Expected behaviour
CORS headers returned

### Actual behaviour
no CORS headers but
[code]

[2019-03-04 09:46] individual-it commented on #31355
related to https://github.com/owncloud/core/issues/34664 ?

[2019-03-04 10:10] ownclouders commented on #34664
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/owncloud/core/issues/9143 (Nginx Config Does Not Work), https://github.com/owncloud/core/issues/14482 (Nginx config does not work), https://github.com/owncloud/core/issues/34631 (OCM Returned endpoint relative), https://github.com/owncloud/core/issues/30253 (old preview endpoint returns a 500 Error), and https:/

[2019-03-04 11:37] individual-it commented on #34566
CORS tests https://github.com/owncloud/core/pull/34665

[2019-03-04 11:48] felix-schwarz opened #34666 "Creation of share does not change permissions or eTags"
### Steps to reproduce
1) Take a PROPFIND of `/Documents/` from `admin@demo.owncloud.com` before sharing `/Documents/Example.odt`
2) Share `Documents/Example.odt` with `demo`
3) Take another PROPFIND of `/Documents/`
4) Compare etags for `/Documents/`
5) Compare permissions for `/Documents/Example.odt`

### Expected behaviour
- the eTag for at least `/Documents/` should change after sharing the fi

[2019-03-04 12:14] ownclouders commented on #34666
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/owncloud/core/issues/22739 (Sharing permission issue), https://github.com/owncloud/core/issues/4120 (Permission issues in shared folder), https://github.com/owncloud/core/issues/16587 (Changing share permissions should trigger an etag change), https://github.com/owncloud/core/issues/2838 (Shared Permissions not

[2019-03-04 12:50] PVince81 commented on #34666
I'm suspecting a regression here, as in the past we did decide to have etag propagation for any changes related to shares and their permissions: https://github.com/owncloud/core/issues/16587

need some digging in the code and the past, bisecting, etc...

[2019-03-04 12:51] PVince81 commented on #34666
this might also be two separate issues.

I'm not 100% sure about etag propagation for creation.
Still, the second part is odd: the shared folder should have the "S" flag set.

[2019-03-04 13:08] MacroMan commented on #34464
Ubuntu 18.04 has started upgrading to php 7.3 as of today. New installs will also be 7.3.
If the new version of owncloud isn't going to be released very soon, you may wish to issue guidance on how to run with php 7.2 manually.

[2019-03-04 13:12] felix-schwarz commented on #34666
One thing that would be important for clients to be able to reliably pick up updates: the etag should change for every change to the sharing information.

If etag updates were only triggered indirectly by a change of permissions, clients would only get a change indication after the first share being added to an item - and after the last share being removed from an item, f.ex.:

1) user creates sha

[2019-03-04 13:53] PVince81 commented on #32849
I don't think there is much value in testing file operations in the UI. Or maybe just test one like upload, just to make sure it actually lets you browse there.

Agreed on the second checkbox related to the section.

[2019-03-04 13:59] DeepDiver1975 commented on #34664
@individual-it can you please test with this PR https://github.com/owncloud/core/pull/34622 - THX a lot!

[2019-03-04 15:00] PVince81 commented on #34666
@davitol can you confirm this and compare with 8.2.11 and later ?

The original PR says this was fixed in 8.2 so I expect that maybe it worked at some point then stopped working.

[2019-03-04 15:28] PVince81 opened #34669 "Update to invalid app tarball fails with wrong error message"
### Steps

1. Install an app, for example activity-2.4.1 from tarball: `occ market:install -l activity-2.4.1.tar.gz`
1. Go to Github releases and download the wrong tarball, not the release one but the github sources: https://github.com/owncloud/activity/archive/v2.4.2.tar.gz
1. `occ market:upgrade -l activity-2.4.2.tar.gz` <= the wrong tarball

### Expected result
Upgrade fails with proper error

[2019-03-04 15:29] PVince81 commented on #34669
Ref: the update happens here: https://github.com/owncloud/core/blob/v10.1.0/lib/private/Installer.php#L222

The folder gets extracted properly but later on it doesn't get copied over since it has the wrong name.

But at this point the old version was already detected through `rmdirr`.

[2019-03-04 15:53] ownclouders commented on #34669
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/owncloud/core/issues/21366 (Update), https://github.com/owncloud/core/issues/20661 (Update), https://github.com/owncloud/core/issues/18826 (update fail), https://github.com/owncloud/core/issues/20593 (Update failed), and https://github.com/owncloud/core/issues/11017 (Update fails).

[2019-03-04 17:15] moscicki commented on #34634
@PVince81: some help please?

[2019-03-05 04:33] individual-it commented on #34636
log output
[code]

[2019-03-05 04:34] individual-it commented on #34636
with PHP 5.6 and stable10 that issue results in a `HTTP/1.0 500 Internal Server Error`

[2019-03-05 05:11] individual-it commented on #34664
@DeepDiver1975 same issue in that branch

[2019-03-05 06:24] individual-it opened #34679 "requests with invalid credentials do not return CORS headers"
### Steps to reproduce
1. set http://owncloud.org CORS domain
2. `curl -u admin:invalidpwd http://localhost/owncloud-core/remote.php/dav -X PROPFIND -v -H "Origin: http://owncloud.org"`
OR
`curl -u admin:invalidpwd http://localhost/owncloud-core/ocs/v1.php/cloud/users -H "Origin: http://owncloud.org" -v`
3.

### Expected behaviour
CORS headers returned

### Actual behaviour
no CORS headers

### Se

[2019-03-05 06:48] ownclouders commented on #34679
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @ownclouders.

Possibly related issues are https://github.com/owncloud/core/issues/34664 (ocs config endpoint does not return CORS headers), https://github.com/owncloud/core/pull/33909 (Feature/allow cors header x request), https://github.com/owncloud/core/issues/3391 (Ampache XML server returns invalid url & i

[2019-03-05 07:25] DeepDiver1975 commented on #34653
@SamCoDWS can you test this patch? THX

[2019-03-05 07:27] DeepDiver1975 commented on #34679
please test this with #34622

[2019-03-05 07:49] individual-it commented on #34679
@DeepDiver1975 same results

[2019-03-05 09:16] PVince81 commented on #34634
assuming OC version 10.0.10 and CBox is equivalent to 9.1.x ?

[2019-03-05 09:21] VicDeo commented on #34634
if "a valid webdav endpoint" assumes an absolute WebDav URL it won't work without patching apps/files_sharing/lib/External/Storage.php like this
https://github.com/owncloud/core/pull/34260/files#diff-dc34ca6e9b0f6e43d61d664c004c0968

[2019-03-05 09:59] diocas commented on #34634
I just said that I have a webdav endpoint and a JSON message, equivalent to a real POST that CERNBox would have posted... So, you simulate my POST and try to see why is not showing.
I did no other consideration about what a "valid webdav endpoint" is.

[2019-03-05 12:11] SamCoDWS commented on #34653
Hi @DeepDiver1975,

thanks for suggesting a solution to the problem! I am going to test the patch some time this week and get back to you.

Kind regards
Robert

[2019-03-05 13:52] phil-davis opened #34684 "logs use up a lot of space on drone"
The log level for the `owncloud.log` when running acceptance tests is currently set to `0` `debug`

This is generating a lot of log output. But normally nobody looks at it because CI passes, or the acceptance test fail has an understandable/useful message in the Behat test runner output.

Change the log level to `2` `warning`

If someone has a hard-to-diagnose test fail, and they can't reproduce i

[2019-03-05 15:33] phil-davis opened #34689 ""element not interactable" exception in webUI tests"
e.g. https://drone.owncloud.com/owncloud/core/15759/787

[code]

It seems to be intermittent but happening when testing the user management page of the UI.

Most of the time each test scenario passes on a 2nd run. Sometimes the 2nd try fails and so we notice a I fail result.

Needs investigation.

[2019-03-05 15:57] ownclouders commented on #34689
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/owncloud/core/issues/22492 (test), https://github.com/owncloud/core/issues/31579 (test), https://github.com/owncloud/core/issues/22485 (test), https://github.com/owncloud/core/issues/24121 (Clean/Fix exceptions when running integration tests), and https://github.com/owncloud/core/issues/32842 (webUI test comment

[2019-03-05 21:25] Jeansen commented on #27739
I still see this in the latest version 10.0.10.4:

[code]

[2019-03-05 22:40] dhniels commented on #30853
I get a similar log with an existing user (username replaced for privacy reasons). I believe it started appearing when i upgraded to owncloud 10.1:

[code]

[2019-03-06 05:50] flat1701 commented on #34026
PG10 changes pseudo columns for sequences.

/var/www/owncloud/lib/composer/doctrine/dbal/lib/Doctrine/DBAL/Schema/PostgreSqlSchemaManager.php

            $sequenceName = $sequence['relname'];
        }

- $data = $this->_conn->fetchAll('SELECT min_value, increment_by FROM ' . $this->_platform->quoteIdentifier($sequenceName));
+ $data = $this->_conn->fetchAll("SELECT min_value, increment_by FROM p

[2019-03-06 05:56] phil-davis commented on #34684
Points (1) and (2) are addressed by PR #34685

[2019-03-06 06:00] phil-davis commented on #34684
Point (3) - Apache access logs:

I suggest that by default we do not show the access logs. But make it "easy" via some switch var in drone to pass the fact that you want the access logs to come to stdout.

Technically the docker container could be enhanced to have this option. Or we could try to do some scripting in drone itself to override the default access log output.

Opinions?

[2019-03-06 09:05] individual-it commented on #34626
@deepdiver1975 you have merged #34622 closing this issue?

[2019-03-06 10:33] PVince81 commented on #34631
this needs to be clarified on spec level as it looks like it was a mistake: https://github.com/GEANT/OCM-API/pull/37#issuecomment-468656884

[2019-03-06 11:19] individual-it commented on #34566
a couple of more CORS tests https://github.com/owncloud/core/pull/34697

[2019-03-06 13:47] VicDeo commented on #34633
@diocas The proto part should not affect the functionality.
I don't think this issue to be critical if it works without the proto in the same manner as with it.

[2019-03-06 15:16] thommierother commented on #33963
@PVince81 , during upgrade for the apps impersonate and guests on a test instance I saw the SchemaException again:

[code]

[2019-03-06 15:19] PVince81 commented on #33963
the error about oc_persistent_locks seemed to be more common.

really weird that it would try to re-run core migrations when just upgrading apps ?!

@thommierother can you post the contents of the oc_migrations table ?

[2019-03-06 15:23] thommierother commented on #33963
-- phpMyAdmin SQL Dump
-- version 4.8.5
-- https://www.phpmyadmin.net/
--
-- Host: localhost
-- Erstellungszeit: 06. Mrz 2019 um 16:21
-- Server-Version: 5.7.25-0ubuntu0.18.04.2
-- PHP-Version: 7.2.15-0ubuntu0.18.04.1

SET SQL_MODE = "NO_AUTO_VALUE_ON_ZERO";
SET AUTOCOMMIT = 0;
START TRANSACTION;
SET time_zone = "+00:00";

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101

[2019-03-06 15:24] PVince81 commented on #33963
huh, what are these ? `13000Date20170705121758`

[2019-03-06 15:24] thommierother commented on #33963
... no idea ...

[2019-03-06 15:25] PVince81 commented on #33963
looks like some kind of formatting fail... this could be the reason for your issues: maybe during setup time, it used a wrong format when writing the migration timestamps into the DB. now during the upgrade, it used the correct format and saw that the migration entries were missing, so it runs them again...

[2019-03-06 15:26] thommierother commented on #33963
10.04 > 10.1 was the first upgrade on this database as far as I remember

[2019-03-06 15:27] PVince81 commented on #33963
I guess for you a workaround would be to manually strip the prefix "13000Date" from those entries.

Is that all the entries ?

Normally there are way more.
This is my instance with 10.1.0:
[code]

[2019-03-06 15:31] thommierother commented on #33963
owncloud2 is is only a devel system with not much practical use and no active sync clients. On the productive system I have similar entries as in your db

[2019-03-06 15:35] thommierother commented on #33963
even without th Date prefixes, Still

[code]
But why the complaint about oc_accounts?

[2019-03-06 15:57] PVince81 commented on #33963
the accounts table is created in this migration https://github.com/owncloud/core/blob/stable10/core/Migrations/Version20170214112458.php#L11

I don't see in your oc_migrations table, so OC believes that this migration has not run yet and runs it. This is how the logic works.

What I don't understand is how you managed to have that many missing migrations. The oc_accounts table first appeared aroun

[2019-03-06 16:09] thommierother commented on #33963
I don't remember exactly which build first created this owncloud2 database. My productive system started around OC 8, the devel systems around 9 and 10.0.x (owncloud2), maybe a beta.

[2019-03-06 16:33] #34653 closed

[2019-03-07 06:38] individual-it commented on #34566
I think we have covered most of the important cases, closing this issue. Feel free to reopen if more cases need to be covered

[2019-03-07 09:30] individual-it opened #34704 "split apiAuth behat suite"
on user_ldap apiAuth sometimes takes more than 2h
we need to split that suite into smaller chunks

[2019-03-07 09:53] ownclouders commented on #34704
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @phil-davis.

Possibly related issues are https://github.com/owncloud/core/pull/32369 (Split api acceptance suites), https://github.com/owncloud/core/issues/34264 (split slow acceptance tests suites), https://github.com/owncloud/core/pull/30584 ( Split UI test suites into smaller pieces), https://github.com/own

[2019-03-07 10:52] individual-it opened #34705 "user-based autoaccepting is off but shares are auto accepted when shared with group"
### Steps to reproduce
1. create user1 and put the user into group1
1. as user1 disable "Automatically accept new incoming local user shares"
1. share a folder with group1

### Expected behaviour
user1 should not automatically receive the share

### Actual behaviour
user1 received the share

### Client configuration
**Browser:**

**Operating system:**

### Logs
#### ownCloud log (data/owncloud.log

[2019-03-07 11:19] ownclouders commented on #34705
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @ownclouders.

Possibly related issues are https://github.com/owncloud/core/issues/6167 (Sharing with a group), https://github.com/owncloud/core/issues/8565 (Hidden "Share with user or group …"), https://github.com/owncloud/core/issues/19153 (User Can Accept Shares from Other Users), https://github.com/owncloud

[2019-03-07 11:20] individual-it opened #34708 "user has to disable and enable share autoaccept setting to override disabled admin setting"
### Steps to reproduce
1. create a new user
1. as admin disable "Automatically accept new incoming local user shares"
1. check the user-based setting for auto-accepting shares

### Expected behaviour
setting should be disabled (the user never touched them)

### Actual behaviour
setting is enabled
but shares are not auto-accepted
to really enable them user has to disable and re-enable the setting

[2019-03-07 11:24] individual-it commented on #34705
the reverse user setting on & admin setting off does not work correctly with groups

[2019-03-07 11:24] phil-davis commented on #34708
There was some discussion that the user could/should see 3 setting options:
- automatically accept
- do not automatically accept
- use system/admin setting (and display what that setting currently is?)

Then new users would always first see "use system/admin setting". Then they can choose and "override" selection for themselves. And if they like in future they can go back to taking the "system/adm

[2019-03-07 11:48] ownclouders commented on #34708
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/owncloud/core/issues/17863 (Admin-Page: Sharing-settings are available when sharing app is disabled), https://github.com/owncloud/core/issues/4636 (Let Admin temporarily disable user logins), https://github.com/owncloud/core/pull/32043 (Add methods to disable or enable sharing settings), https://github.com/owncl

[2019-03-07 12:56] DeepDiver1975 commented on #34566
did you say specification? https://www.freedesktop.org/wiki/Specifications/open-collaboration-services/

[2019-03-07 14:21] PVince81 commented on #34705
making that p2 as we don't want to ship a broken new feature

[2019-03-07 15:34] karakayasemi commented on #34705
I investigated the issue. As far as I see, there is no explicit share state definition for the per user in group shares. Somehow, we need to add state definition for the per user in the group shares to fix this issue.
I could not find a quick fix with the current architecture.

[2019-03-07 17:51] ho4ho commented on #34658
Tryed:

https://doc.owncloud.org/server/admin_manual/configuration/server/logging_configuration.html

https://doc.owncloud.org/server/admin_manual/configuration/server/email_configuration.html#troubleshooting

[2019-03-08 02:20] phil-davis commented on #34689
@PVince81 I added this to the next sprint, because it is happening quite a lot.

[2019-03-08 03:50] #34566 closed

[2019-03-08 05:01] mdusher commented on #33485
Is there any updates on this issue?

[2019-03-08 10:58] karakayasemi commented on #34708
We can fix the issue by adding admin's choice as default in this line :https://github.com/owncloud/core/blob/master/apps/files_sharing/lib/Panels/Personal/PersonalPanel.php#L53

I was not aware of the discussion. Last option makes sense to me also. At least showing current admin preference to a user. If we decide in this way. I would like to take care of.

[2019-03-08 15:53] phil-davis commented on #34689
- [x] Phase 1: waiting for settings menu to animate open on user management page
https://github.com/owncloud/user_management/pull/158
https://github.com/owncloud/core/pull/34720
- [ ] monitor drone runs to see what else is failing
- [ ] write some smarter Jquery to loop and wait until the settings menu has finished animating (maybe?)

[2019-03-10 00:15] soydepr commented on #32746
Any update on this ?

[2019-03-10 12:10] aario commented on #34658
Thanks for reply. Did it.
Added:
[code]
And:
[code]
Into config/config.php.
Nothing change. No new line in log file data/owncloud.log. No new message in the settings page.

[2019-03-10 16:45] aario commented on #34658
More insight:
Added this:
[code]
In:
[code]
Makes the send mail work. So the problem is:
**How can I make OwnCloud work with a postfix with self signed certificate?**

[2019-03-11 08:27] davitol commented on #34666
Tested in 8.2.6 and the issue is reproducible:

1 - Take a PROPFIND of /Documents/ from admin@demo.owncloud.com before sharing /Documents/Example.odt
[code]

2 - Share Documents/Example.odt with demo
3 - Take another PROPFIND of /Documents/

[code]

So the etags are not modified after the sharing in 8.2.6. I will test now in other versions

[2019-03-11 08:51] davitol commented on #34666
Also tested in oC 9.0.11.2. Same behavior. The issue happens

[2019-03-11 09:29] pmaier1 commented on #32670
Oracle DB support is a blocker for the public release, IMO. Putting this into "development" milestone therefore. Can you estimate the effort, please?

[2019-03-11 09:54] PVince81 commented on #32670
@VicDeo can you estimate ?

[2019-03-11 09:55] PVince81 commented on #32670
@pmaier1 note: so far there is no app out there that actually use the feature in question. This is only about Webdav compliance as tested by litmus.

[2019-03-11 11:03] micbar commented on #32670
@PVince81 the issue that we had in files_lifecycle is a wrong escaping of our custom Properties in the query builder.

[code]

[2019-03-11 12:44] VicDeo commented on #32670
I might be wrong but it is supposed that property should know how convert itself into something usable for DB:
  https://github.com/sabre-io/dav/blob/master/lib/DAV/PropertyStorage/Backend/PDO.php#L124-L136

No idea for estimates. Let's say 2md

[2019-03-11 12:51] VicDeo commented on #32670
oops. I'm wrong (but not 100%).
There are three different value types (scalar, Complex and Object) and they are stored differently:
https://github.com/sabre-io/dav/blob/master/lib/DAV/PropertyStorage/Backend/PDO.php#L143-L151

type is stored next to the property itself and the PROPFIND value is returned  according to the type:
https://github.com/sabre-io/dav/blob/master/lib/DAV/PropertyStorage/Bac

[2019-03-11 14:11] tomneedham opened #34734 "Stale oc_properties values in the wild"
ownCloud 10.x - Server

Sometimes apps / plugins etc add properties into `oc_properties` - which relate to a `fileid` on the `oc_filecache` table. There is no foreign key with cascading delete - so deleted in the filecache can cause stale entries in the `oc_properties` table. Individual plugins are then resposible for implementing a `OCP\Files\NotFoundExcepetion` check which doesn't always happen

[2019-03-11 14:16] tomneedham commented on #34734
Related to https://github.com/owncloud/core/issues/13143

[2019-03-11 14:24] PVince81 commented on #34734
isn't this solved with https://github.com/owncloud/core/issues/33413 that was released with 10.1.0 ?

[2019-03-11 14:24] PVince81 commented on #34734
foreign keys would be nice though... we started adding some for the oc_persistent_locks properties

[2019-03-11 14:33] tomneedham commented on #34734
Yes - but existing stale values. Maintennace step to cleanup would be nice.

Where does `{http://owncloud.org/ns}role` come from, why does it have a NULL fileid, and present multiple times?

[2019-03-11 14:39] DeepDiver1975 commented on #34734
as designed - bad designed - but as designed

solution: build a occ command for clean up

[2019-03-11 14:47] PVince81 commented on #34435
PR here https://github.com/owncloud/core/pull/34700

@patrickjahns can you confirm that this is the same thing ? if yes please close

[2019-03-11 14:58] micbar commented on #33485
@PVince @mdusher
I just had a customer Case where files disappeared in the /Shared folder while having network issues with their primary storage (NFS mount).

I wonder if the `file_exists()` check on .ocdata can get a cached result when NFS Caching is on (which is by default).

The customer reported that the nfs mount disappeared and the sync clients were able to upload files to a new folder at th

[2019-03-11 17:13] PVince81 opened #34735 "Run files_external tests in Drone"
Currently files_external tests are not run on Drone with the exception of the SMB suite and maybe another one.

We should run the tests there to make sure we can catch errors especially during library updates.
For example, when upgrading phpseclib we need to make sure that the SFTP suite still works. (@phil-davis remembers)

Here is a PR that attempts to enable Webdav with OC and lists the failure

[2019-03-11 18:25] ho4ho commented on #34658
Problem by PHP not arriving owncloud logs?

Look PHP 5.6 not liking self-signed certificates: https://github.com/modxcms/revolution/issues/12763, https://github.com/passbolt/passbolt_docker/issues/116, https://forum.photo.gallery/viewtopic.php?t=9317

[2019-03-12 08:03] individual-it opened #34742 "API or OCC command to administrate trusted federation server"
currently Trusted ownCloud Servers can only be administrated through the webUI
an occ command and/or a api would be handy (specially for acceptance tests).
To test the functionality we currently enable "Add server automatically once a federated share was created successfully" and then create a federated share to make sure the server is in the trusted list. But then it stays there and is not cleane

[2019-03-12 10:23] davitol commented on #34742
@individual-it Not sure if this what you are looking for. If not, then just ignore it 😃

How to set Trusted ownCloud Servers in order to test Federation App

In both servers, we modify in config.php the following line

e.g 'overwrite.cli.url' => 'ownserverurl';

After editing this line, we browse into the webUI and we activate the Federation app

In admin menu, Sharing, in Federation section, we w

[2019-03-12 15:10] carlox97 commented on #21922
I'm relatively new (== not entirely a noob) could you explain how could I do this workaround?
I'm running owncloud 10.0 on DietPi. my config folder is
`/var/www/owncloud/config`

should I create a new .php file in that directory? or should I edit the current config.php? if yes, which line should I replace?

[2019-03-12 15:18] carlox97 commented on #21922
ol

[2019-03-12 15:27] PVince81 commented on #34666
ok thanks, it's as if this never worked properly before... will schedule some time to look at this

[2019-03-13 13:33] kristjanvalur opened #34757 "QuotaPlugin fails, user space usage returned as SPACE_NOT_COMPUTED"
I've been having issues uploading files beyond a certain size.  Turns out that my root file system is almost full, but the actual data file system is not.  I've done rudimentary debugging of the issue, and here is what I think is happening:

If the physical storage disk is accessed via symlinks through a different filesystem, the QuotaStorage mechanism (QuotaPlugin.php), specifically Files/Storage

[2019-03-13 14:10] #34435 closed

[2019-03-13 14:57] PVince81 commented on #34705
@karakayasemi there is a share state definition, we call this "sub-shares" and has the share type 2.

please chat with @sharidas who's currently rediscovering the concept

[2019-03-13 15:14] #32754 closed

[2019-03-13 15:15] PVince81 commented on #32754
closing due to lack of feedback. we'll update swiftmailer in 10.2 so you can try again with that version once it's out in a few weeks

[2019-03-13 17:31] mmattel commented on #30725
As of writing these lines:
https://packages.ubuntu.com/bionic/apache2
https://wiki.ubuntu.com/BionicBeaver/ReleaseNotes#Apache
`Apache was updated to version 2.4.29. Additionally, HTTP/2 support is now enabled in 18.04.`

Maybe helpful:
I am just writing a draft how to prepare a Ubuntu 18.04 server. https://github.com/owncloud/docs/pull/735
You may take a look on if you want.
It is work in progres

[2019-03-13 23:12] patrickjahns commented on #34757
@kristjanvalur
One of the reasons for ownCloud not trying to expand symlinks is, that a symlink can not be trusted to be properly set end expandable. With symlinks you are able to create loops which are hard to catch and needlessly makes the scenario more complex.

Example would be:
`/data ----> /mnt/mount/data --- >/data`

Instead of symlinks - the other option would be to consider bind mounts

[2019-03-14 02:31] dos1 opened #34760 "Incorrect filename unescape in dav endpoints"
### Steps to reproduce
1. Upload/create a file with name like `Various - 04 - Jacek Krolik i Ryszard Sygitowicz %2F Crosstown Traffic.flac` (note the `%2F` - it's the actual part of the name)
2. Try to modify the file and sync it with the desktop client.

### Expected behaviour
File should get uploaded and updated server-side.

### Actual behaviour
`Server replied "404 Not Found" to "MOVE https://

[2019-03-14 02:46] dos1 commented on #34760
BTW. I have checked now with a new small text file and couldn't reproduce; then replaced it with ~30MB file and could. It seems to affect the MOVE requests, so it likely happens only when the upload is chunked.

[2019-03-14 09:13] PVince81 commented on #34658
PHP 5.6 support will be removed in the next OC release which is 10.2.0.

its deprecation was already announced ealier: https://doc.owncloud.com/server/administration_manual/release_notes.html#php-5-6-deprecation

[2019-03-14 09:13] #34658 closed

[2019-03-14 09:17] kristjanvalur commented on #34757
Well, such a symlink would be broken.  It would not just fail when computing free space, it would fail when trying to do anything with it.  The install would already be hopelessly broken.

In this case, moving the user data folder using a symlink works perfectly.  It is in fact also one of the recommended ways of setting things up: https://doc.owncloud.com/server/admin_manual/maintenance/manually-

[2019-03-14 10:46] butonic commented on #13915
new effort in https://github.com/owncloud/phoenix/issues/116

[2019-03-14 12:04] ho4ho commented on #34757
Look PHP uploading at /tmp https://github.com/owncloud/core/issues/22011

[2019-03-14 12:05] kristjanvalur commented on #34757
Ok, I added extra message information to the InsufficientStorate exception being raised in QuotaPlugin.php.
` throw new InsufficientStorage(sprintf("needed:%d free:%d path:'%s'", $length, $freeSpace, $path));`
This is at the end of upload.  We get:
[code]

Two things:
 - path is '/'. This fits, since it is being uploaded to the root of my space.
 - freeSpace is reported as -1, which is FileInfo::S

[2019-03-14 13:42] PVince81 commented on #32746
@soydepr is the web server timezone set to UTC ? I suspect this could affect the date that is used to define the threshold after which to delete the sessions.

or are there sessions older than 2 days that are still not deleted ?

I checked my own server (which runs 10.1.0) and I see old sessions up to one day but not older.

[2019-03-14 15:47] ho4ho commented on #34658
@PVince81 Not think that @aario running PHP 5.6 or it 5.6 related.

[2019-03-14 16:42] PVince81 commented on #33315
- [ ] also add git-sha field ? (for app dailies)

[2019-03-14 18:14] karakayasemi opened #34763 "Automatically accept remote shares from trusted servers always enabled in sharing admin panel"
### Steps to reproduce
1. Go Sharing Admin Panel, Federated Cloud Sharing section
2. Disable Automatically accept remote shares from trusted servers
3. Refresh Admin page

### Expected behaviour
Automatically accept remote shares from trusted servers checkbox should be disabled.

### Actual behaviour
it is always enabled.

`oc_appconfig` table is storing the correct value. The problem is only in t

[2019-03-14 19:12] kristjanvalur commented on #34757
Ok, I've spent most of today digging through php sources.  Here is what's happening

1. The MOVE command causes the QuotaPlugin to call free_space('') in lib/private/Files/View.php
2. This then calls free_storage() on a Files_Trashbin/Storage object, defined in the class Wrapper from /Files/Storage/Wrapper/Wrapper.in apps/files_trashbin/lib/Quota.php, with argument "files"
3. Wrapper then calls a

[2019-03-14 22:35] soydepr commented on #32746
Version 10.0.10.4,
Logzone America New York

Oldest one 1 day but to many 12 hours hours etc etc

[2019-03-15 08:29] PVince81 commented on #32746
from what I see the logic is not based on the number of sessions but on their age: https://github.com/owncloud/core/blob/v10.1.0/lib/private/Authentication/Token/DefaultTokenProvider.php#L244

by default it will invalidate sessions older than a day, unless a value was specified in config.php for "session_lifetime". If a value was set, it will use that one. Basically it would delete the tokens for

[2019-03-15 08:44] aario commented on #34658
Claiming that the user has a out dated system and then simply closing the issue is not the solution. This doesn't fix a possible bug and let it remain. So more users will face the same issue. Ask for PHP version and I tell you. And don't ask millions of possible questions in the issue subscription form, just in case. Because people are just like yourself and don't have much time.
My PHP is 7.2. No

[2019-03-15 08:46] aario commented on #34658
For the time being, as a work around, I will stop using owncloud and will try other solutions like nextcloud.

[2019-03-15 10:17] ManfredCologne opened #34773 "Issue upgrading from 10.0.9.5 to to 10.1.0-1+1.2 Debian 9.6"
### Steps to reproduce
1. apt-get install owncloud-files
2.
3.

### Expected behaviour
Update to 10.1.0-1+1.2

### Actual behaviour
sudo -u www-data php ./occ migration:status
An unhandled exception has been thrown:
Doctrine\DBAL\DBALException: Failed to connect to the database: An exception occured in driver: could not find driver in /var/www/owncloud/lib/private/DB/Connection.php:62

### Server

[2019-03-15 10:44] soydepr commented on #32746
Thanks for the feedback originally  when I first entered this I could see older than 1day now I don’t so something  positive got addressed. Thanks

[2019-03-15 10:44] #32746 closed

[2019-03-15 14:36] socket-es opened #34778 "InvalidArgumentException not translated in DefaultShareProvider.php"
### Steps to reproduce
1. Folder name with more than 64 characters.
2. Public link with the name of Folder name.
3. throw new \InvalidArgumentException('Share name cannot be more than 64 characters'); **Line 1239**
4.- File lib/private/Share20/DefaultShareProvider.php

Is necesary to add to translation system this Exception.

[2019-03-15 15:24] ho4ho commented on #34773
Not bug in ownCloud, just miss installation PHP database driver

[2019-03-15 16:14] ManfredCologne commented on #34773
Special Thanks to ho4ho!

For other users:
apt-get install php7.0-mysql
phpenmod pdo_mysql
apt-get install php7.0-zip
apt-get install php-intl
apt-get install php-mbstring
apt-get install php-gd
apt-get install php-curl
systemctl restart apache2

as the Debian Package is not resolving the right packages.

Greetings
        Manfred

[2019-03-15 16:14] #34773 closed

[2019-03-15 17:18] #33883 closed

[2019-03-15 20:02] mazzofab opened #34780 "Error on update of antivirus 0.15"
### Steps to reproduce
1. Update antivirus from admin when notification appears

### Expected behaviour
Should update and work as normal

### Actual behaviour
owncloud ceases working and cannot login anymore.  The logs in the index page show as follows:
Preparing update
Set log level to debug
Turned on maintenance mode
Updating database schema
Updated database
Doctrine\DBAL\Exception\InvalidFieldN

[2019-03-15 20:34] ho4ho commented on #34780
Duplicate by https://github.com/owncloud/core/issues/31320

ownCloud doesen't like PostgreSQL 10: https://github.com/owncloud/core/issues/34026

[2019-03-16 00:09] crackhd opened #34781 "Sharing links with https:// not http://"
When i share links, they are `http://`. This is because i often browse ownCloud via address like `http://192.168.0.1`, but i have a public reverse proxy with domain and TLS termination

How to force `https://` and custom domain in shared links?

[2019-03-16 00:10] crackhd commented on #34781
I have tried: exec into container, find file /var/www/html/config/config.php and there options:

- `'overwritehost' => 'owncloud.domain.tld'`
- `'overwriteprotocol' => 'https'`

This did not work.

[2019-03-16 06:30] ho4ho commented on #34781
Bug tracker not good for questions. Use https://central.owncloud.org/ ?

[2019-03-16 07:07] #34781 closed

[2019-03-16 07:09] DeepDiver1975 commented on #34781
Have a look at the docs. There is a section on proxy setup

[2019-03-16 07:12] crackhd commented on #34781
Sure i did this.
And reverted.
If i follow set `overwritehost` and `overwriteprotocol`, i cannot access my site at say `http://192.16.0.1:9999`, it is forced to redirect to the real frontend address.

[2019-03-16 08:00] frazy81 commented on #31235
I had a similar (likely not exactly the same) issue. I got errors "400 The computed checksum does not match the one received from the client", too. Setup: ownCloud running inside debian guest in VirtualBox, ownCloud Desktop Client running on a debian maschine.

I figured out that the problem was on the client side! The problem and solution was simple: I had a not working, to high, network MTU sett

[2019-03-16 12:50] mmattel opened #34782 "[Feature Request] Client initiated mount/folder rescan"
Knowing that files should be added/deleted via ownCloud, this is not always feasable.

Having the situation of an external mount like smb, dropbox ect AND you do not use the Browser, external added or deleted files never get recognized.

This can happen if you have eg a network scanner which scans to a location you have mounted to ownCloud.

The FR is, to create a capability in core for the client

[2019-03-16 14:46] crackhd commented on #29297
To decrypt all files, you should do this:

1. Disable user access temporary, stop server ,uploads, etc.
2. Open console to your server
3. `occ maintenance:singleuser || true`
4. `occ encryption:decrypt-all [username]` for EVERY user on site
5. `occ encryption:disable` to disable encryption in Settings

[2019-03-18 08:02] albertosabena opened #34785 "[Feature request] Tracking shared links via email"
As requested here: https://central.owncloud.org/t/tracking-shared-links-via-email/19035

I’m using ownCloud 10.1.0.4 and I would like to track in some way, better into activity app, all email addresses used for public links sharing if I send the link via email using the built in function.
Right now when I share a link via public link in activity I see something like: “You shared DOCUMENT by public

[2019-03-18 08:19] individual-it commented on #34689
looks like its working stable now.
to get rid of the `sleep(1)` we could check the style of the box.
when its hidden it is: `display: none`
![image](https://user-images.githubusercontent.com/2425577/54516347-bb664d80-4986-11e9-81b9-e40f3f909eba.png)

During the transition is has a lot of other settings:
![image](https://user-images.githubusercontent.com/2425577/54516321-a38ec980-4986-11e9-94fc-674

[2019-03-18 08:24] phil-davis commented on #34689
Having detailed knowledge of the "workflow" of styles, DOM elements,... baked into test code will make the tests more brittle when people adjust the styles of stuff. So maybe that will be just as annoying as having `sleep(1)`?

[2019-03-18 08:27] individual-it commented on #34689
one could argue that its knowledge of how jQuery does the animation. But I agree, in this case a `sleep(1)` might be alright.
deleting the ToDo in the code with reference to this issue and closing the issue?

[2019-03-18 09:19] individual-it opened #34787 "QA master tarball fails integrity check for .htaccess file"
### Steps to reproduce
1. download and install master QA tarball: https://download.owncloud.org/community/owncloud-daily-master-qa.tar.bz2
2. run integrity check: `sudo -u www-data ./occ integrity:check-core`

### Expected behaviour
no output integrity check should pass

### Actual behaviour
[code]

This leads to issue like: https://github.com/owncloud/password_policy/issues/186 and https://github

[2019-03-18 10:01] phil-davis commented on #33187
Note: https://github.com/doctrine/dbal/releases/tag/v2.6.0
"PHP 7.1.0 is the minimum supported PHP version"

core `stable10` is dropping PHP 5.6 support, but for now keeps support for PHP 7.0. So `composer` in `stable10` finds `doctrine/dbal` `v2.5.13` - it can't yet use `doctrine/dbal` `v2.6.0` or above.

In particular, we can't get to `doctrine/dbal` `v2.8.0` in `stable10` just yet :(

[2019-03-18 12:59] PVince81 commented on #34787
@individual-it diff between the htaccess from tarball and the one from core ? and the one from `make dist-qa` ?

[2019-03-18 16:40] PVince81 opened #34797 "Lost password JS applies to wrong field"
### Steps

1. Check out git master
1. Open browser console
1. Open login page
1. Enter user name
1. Start typing password

### Expected
No JS errors.

### Actual
![image](https://user-images.githubusercontent.com/277525/54546831-cfb94300-49a4-11e9-8c6e-9cc3c6aa1135.png)

### Version
git master f0de0d3f572d518326b2b70d4f7cc7de1c216007

Not happening in OC 10.1.0.

Need to check stable10 in case we

[2019-03-18 17:00] PVince81 commented on #34797
also happens on stable10

[2019-03-19 03:20] phil-davis commented on #34689
https://github.com/owncloud/user_management/pull/170 removes the "ToDo"

[2019-03-19 03:20] #34689 closed

[2019-03-19 04:15] phil-davis opened #34807 "Add acceptance tests for files:scan --groups"
PR #34753 adjusted the `files:scan` command so that you can specify groups with either the `--group` or `--groups` option.

Acceptance tests are now using the `--group` option.

Add a small amount of acceptance tests to verify that the `--groups` option works.

[2019-03-19 04:40] individual-it commented on #33396
reopening again as the issue is not fixed. The problem is that `$displayName = $this->getDisplayNameForUser($user);` does return an displayName for any user that is in the magic table in `BasicStructure.php`  so then `$displayName` will not be `null` in https://github.com/owncloud/core/pull/33551/files#diff-ada499b0ff2965f80c91eeeaca2a85c4R1100

[2019-03-19 06:35] sharidas commented on #34797
- [x] Happens in stable10
- [x] Not found in oC 10.1.0

[2019-03-19 08:36] sharidas commented on #34797
Created PR:
- [x] master branch https://github.com/owncloud/core/pull/34816

[2019-03-19 08:50] #33396 closed

[2019-03-19 09:05] #33673 closed

[2019-03-19 09:09] PVince81 commented on #29561
I guess for now it would be fine triggering the same even from inside the DAV layer, as long as all params are the same as the one from the View.

[2019-03-19 09:28] PVince81 commented on #34666
not a regression then, this never worked correctly

[2019-03-19 09:32] DeepDiver1975 commented on #34666
One Idea would be to use etag and ctag properly ......

[2019-03-19 13:15] #34797 closed

[2019-03-19 20:36] fisklask commented on #16625
Just spent 3h+ troubleshooting our whole setup only to find 403 errors for MKCOL and MOVE methods - we do have a strict set of allowed methods on our load balancer.
Please add those to the checks.

[2019-03-20 06:49] individual-it commented on #34787
fixed by  #34825

[2019-03-20 06:49] #34787 closed

[2019-03-20 08:45] #34708 closed

[2019-03-20 08:45] #34763 closed

[2019-03-20 11:02] guruz commented on #16162
This feature will be in the upcoming 2.6 alpha release.
Meanwhile you can try it inside the daily builds 2.6.x https://download.owncloud.com/desktop/daily/

[2019-03-20 11:52] Mipronimo opened #34848 "Two factor auth message"
I have insalled privacyIDEA as a 2FA provider. On the 2FA screen, the message "Please authenticate using the selected factor." appears with the title privacyIDEA.
This is configured in this template file: https://github.com/owncloud/core/blob/master/core/templates/twofactorshowchallenge.php

Is it possible, that a 2FA provider replaces this message with another one?
If yes, please tell me how. If

[2019-03-20 12:36] PVince81 opened #34851 "App version update issue"
### Steps

1. Checkout out OC master
1. Change info.xml of "files" app to say "1.5.3"
1. Open web browser, this would run any query
1. Check `select * from oc_appconfig where configkey='installed_version' and appid='files';`

### Expected result
Version properly updated.

### Actual result
Version not updated.

Turns out the code is setting the old value repeatedly, and this happens for every sing

[2019-03-21 10:41] phil-davis opened #34858 "phpunit on PHP 7.2 or 7.3 can exit with 0 status when there are test fails"
See PR #34972 and #34857 for a demo of the behavior:

If I break `tests/lib/legacy/AppTest.php` (see first commit for dumb easy example), then the `phpunit` test runs on drone:
- fail when running with `phpdbg` and collecting coverage (all the drone coverage build jobs correctly report the 6 purposely induced unit test fails and exit with non-zero status) e.g. https://drone.owncloud.com/owncloud/c

[2019-03-21 10:44] phil-davis commented on #34858
@PVince81 I noticed this behavior when looking at unit test results related to the `AppTest.php` problems you were having yesterday.

This is a separate issue, but it is concerning that "we"  can cause `phpunit` to exit with "success" when it actually has reported test fails.

[2019-03-21 14:51] #34851 closed

[2019-03-22 02:45] skupjoe commented on #33308
I'm getting integrity hash issues after using the updater to move from ownCloud 10.0.0.6 > 10.0.1.0

I even got the latest tar and performed an rsync --update and I'm still seeing these errors.

Any fix?

[2019-03-22 08:20] phil-davis opened #34874 "testvalidateExpirationDateEnforceToFarIntoFuture snake oil unit test"
### Steps to reproduce
1. in `tests/lib/Share20/ManagerTest.php` `testvalidateExpirationDateEnforceToFarIntoFuture` add code to fail the unit test if it does not go down the `catch (\OCP\Share\Exceptions\GenericShareException $e)` path - see example PR #34872
2. run the test

### Expected behaviour
The test should still pass - it is expecting an exception to be thrown and should be gong down that

[2019-03-22 08:21] phil-davis commented on #34874
@PVince81 I discovered this because PHPUnit6 lists "risky" tests that execute without ever calling an `assert` function.

[2019-03-23 15:08] phil-davis opened #34880 "LegacyDBTest testDecimal is actually failing on sqlite database"
### Steps to reproduce
1. upgrade PHPUnit to PHPUnit 7 - see PR #34877
2. `make test-php-unit TEST_DATABASE=sqlite TEST_PHP_SUITE=tests/lib/DB/LegacyDBTest.php`

### Expected behaviour
Test passes

### Actual behaviour
[code]

### Server configuration
git core master clone and run unit tests

[2019-03-23 15:18] phil-davis commented on #34880
In PHPUnit v5 and v6 `assertEquals()` was doing a more "loose" equals comparison. Strings that "looked like numbers" were being compared in terms of their numeric value, so "123.00" and "123" were considered equal - which they are as numbers.

Since https://github.com/sebastianbergmann/comparator/pull/58/files , if both things to be compared are strings, a strict string comparison is done. Strings

[2019-03-23 15:21] phil-davis commented on #34880
Do we care about this difference?

If yes, then it needs to be "fixed" in some database abstraction layer to "hide" the underlying database difference.

If no, then we can adjust the unit test to not be so strict about the exact output that it expects.

[2019-03-24 10:27] kaklakariada opened #34885 "Inconsistent schema when migrating from 10.0.10 to 10.1.0"
### Steps to reproduce
1. Install rpm package owncloud-files-10.0.3-1.1.noarch
1. Using `yum update` perform upgrades to
   * owncloud-files-10.0.4-1.1.noarch
   * owncloud-files-10.0.7-1.1.noarch
   * owncloud-files-10.0.8-1.1.noarch
   * owncloud-files-10.0.9-1.1.noarch
   * owncloud-files-10.0.9-1.2.noarch
   * owncloud-files-10.0.10-1.1.noarch
   * owncloud-files-10.1.0-1.1.noarch
1. Edit and

[2019-03-24 10:35] kaklakariada commented on #34885
Please note that the initial DB migration failed because of inconsistent column types. I fixed this by modifying a column to `bigint(20)` (don't remember which column)

I fixed the file management issues by comparing the schema (see [Dump_owncloud_before_fix.txt](https://github.com/owncloud/core/files/3000261/Dump_owncloud_before_fix.txt)) with a fresh installation and ran the following commands:

[2019-03-24 11:33] ho4ho commented on #34885
Wrong seq by used? Tryied 10.0.3 to 10.1.0 direct?

[2019-03-24 11:47] kaklakariada commented on #34885
No. As stated in the ticket I upgraded step-by-step. I verified this with `cat /var/log/yum.log* | grep owncloud`.

[2019-03-24 12:50] ho4ho commented on #34885
Why? Upgrade should done 10.0.3 to 10.1.0 directly.

[2019-03-24 13:34] kaklakariada commented on #34885
Sorry, now I understand what you mean. This is an older installation and over time I always installed the patch releases listed above. Until 10.1.0 this worked quite well.

[2019-03-24 14:37] ho4ho commented on #34885
Sorry, thinked you done step by step today.

[2019-03-25 14:27] EmilObermayr commented on #23449
Any news about this topic?
This would improve Owncloud a lot for me.

[2019-03-26 11:00] PVince81 commented on #29839
as discussed with @patrickjahns:
- we'd like to **not bundle the folder with tarballs** as it would make the folder appear even on updates, not only new installations. This means that admins that already have a setup with a different separate apps folder will see this new folder appear and be left wondering.
- also, most other folders are created at install time like "data"
- create "apps-external

[2019-03-26 11:08] PVince81 commented on #29839
@mmattel would you be able to make the required changes ?

[2019-03-26 11:22] individual-it opened #34892 "occ upgrade should fetch new apps from market after oC update"
### Steps to reproduce
1. install owncloud-enterprise-complete-10.1.0.tar.bz2 (contains firewall app 2.7.0)
1. add license key
1. add market API key
1. check apps/firewall/appinfo/info.xml -> 2.7.0
1. check firewall version in DB  `select * from oc_appconfig where configkey='installed_version' and appid='firewall'` -> 2.7.0
1. `occ market:upgrade firewall`
1. check apps/firewall/appinfo/info.xml -

[2019-03-26 12:12] sharidas opened #34895 "Adding integrity.check.disabled should disable the integrity check completely"
### Steps to reproduce
1. Add `integrity.check.disabled`. And no memcache is enabled.
2. Access apps from the UI

### Expected behaviour
The list of apps loaded for enabled/disabled is very slow.

### Actual behaviour
The list of apps loaded for enabled/disabled should be quick. Because the code should not traverse through the integrity checker.

[2019-03-26 12:17] sharidas commented on #34895
The `integrity.check.disabled` check is done in the code base for https://github.com/owncloud/core/blob/stable10/lib/private/TemplateLayout.php#L68, to load the js file for notification. We should extend this for the OC_App::listAllApps() so that it wont take the path of integrity checker, if admin wants to disable the integrity check.

[2019-03-26 12:17] PVince81 commented on #34892
- and if marketplace is not available, we fail as we don't want to run the downgraded code with the DB version from 2.8.0

[2019-03-26 12:24] mmattel commented on #29839
Affects master #30889 and stable10 #34656, both merged.
Can be done, just reading the code.

[2019-03-26 13:46] mmattel commented on #34657
References https://github.com/owncloud/core/pull/34898 (Add the apps-external directory during setup only)

[2019-03-26 14:12] m55c55 commented on #25470
@drohhyn I added a pull request.

[2019-03-26 15:29] individual-it opened #34900 "uploading .mp3 file shows weird logs"
### Steps to reproduce
1. install oC 10.1.0 from tarball
2. upload a .mp3 file
3. check the log

### Expected behaviour
no special log shown

### Actual behaviour
logs shown about not found preview

### Logs
#### ownCloud log (data/owncloud.log)
[code]

#### Browser log
[code]

[2019-03-26 15:55] #29839 closed

[2019-03-28 13:02] guruz commented on #33566
CC @IljaN

[2019-03-28 19:20] herrep commented on #7009
What about synchronizing the creation and modification date of directories only upon an initial sync, i.e. when creating the directory on the client for the first time? #7119

[2019-03-29 08:34] PVince81 commented on #34858
any update ? was the attempted PHPUnit update related to solving this ?

[2019-03-29 09:19] phil-davis commented on #34858
I tried on PHPUnit6 and PHPUnit7 - the example way to induce failing tests (in original post at top) fails the test(s) but still exits with status 0, so bumping major versions of PHPUnit does not help.

I started trying with PHPUnit8, but that has more backward-compatibility breaks, which requires more test code refactoring to make it run. And it only supports PHP7.2+ so it would be nowhere near b

[2019-03-29 09:23] phil-davis commented on #34858
The next step for this issue could be:
1) Research more the offending test case that seems to break the PHPUnit exit status. Then:
  a) fix it up so it does not "break" PHPUnit; and/or
  b) make an issue in phpunit with a nice cut-down example, so that phpunit can be made more robust
2) Wrap script logic around our calls of phpunit so that when the exit status is 0 it parses the output, looking fo

[2019-03-29 13:48] #34705 closed

[2019-03-29 15:51] TinusS123 opened #34935 "Problem loading page reloading in 5 seconds"
### Steps to reproduce
1. Create Folder in webinterface, share this folder.
2. Create Subfolders.
3.Open the folder link, sort folders on date
4. Error message pops up on top of the screen, saying "Problem loading page, reloading in 5 seconds".

### Expected behaviour
The folders to be sorted based on date, however after the page reloads its hasn't sorted the folders based on date.

### Actual beh

[2019-03-31 11:59] akashsharma32 commented on #24637
PHP module dom not installed.
Please ask your server administrator to install the module.

PHP module XMLWriter not installed.
Please ask your server administrator to install the module.

PHP module XMLReader not installed.
Please ask your server administrator to install the module.

PHP module libxml not installed.
Please ask your server administrator to install the module.

PHP module SimpleXML

[2019-03-31 15:50] sharidas commented on #24637
Based on the distribution, you could try searching for php-xml or so. For instance Ubuntu 18.04 has `php7.2-xml` which when installed should resolve your errors.

[2019-04-01 07:28] DeepDiver1975 opened #34937 "report oc:search-files with disconnected external storages causes 503"
### Steps to reproduce
1. mount an external storage (samba e.g.)
2. disconnect it (e.g. turn off samba)
3. run a file search REPORT oc:search-files

### Expected behaviour
Search shall return search results (outside of the disconnected storage at least)

### Actual behaviour
The search terminates with a 503
![Screenshot from 2019-04-01 09-26-11](https://user-images.githubusercontent.com/1005065/55

[2019-04-01 11:11] PVince81 opened #34940 "Files app anchor overlap with cross icon"
### Steps

1. Create a file called "a long test file to test the anchor and cross icon overlap.txt"
1. Open the sidebar
1. Reduce the window's width until the anchor icon and cross icon overlap
1. Click the anchor icon to get a private link

### Expected result
Private link panel opens

### Actual result
Cross icon receives the event and the sidebar closes itself.

![image](https://user-images.git

[2019-04-01 12:49] ckamm opened #34941 "SMB rename returns 500"
I'm forwarding this from https://github.com/owncloud/enterprise/issues/3110#issuecomment-478555941 where a MOVE that's sent to the server comes back with a "500 Internal Server Error". I have not reproduced the issue myself.

@ChrisEdS and @voroyam may have more information about the setup.

### Steps to reproduce
1. Have a windows network drive external storage (probably SMB storage is sufficient

[2019-04-02 10:30] GTT8 opened #34948 "Repository not updated"
### Steps to reproduce
1. Try to upgrade to version 10.1.1 from packages

### Expected behaviour
Packages in http://download.owncloud.org/download/repositories/production/Debian_9.0/ should be the ones from 10.1.1.

### Actual behaviour
Packages in http://download.owncloud.org/download/repositories/production/Debian_9.0/ are the ones from 10.1.0.

[2019-04-02 12:21] PVince81 commented on #34941
likely duplicate of https://github.com/owncloud/enterprise/issues/2338

[2019-04-02 13:23] pmaier1 opened #34950 "Collaborative Editing & Federation"
# OnlyOffice + Federation

Current state:
- When editing a document shared via federation between two oC instances that connect to the same OnlyOffice instance every user gets their own session => collaborative editing does not work, simultaneous editing overwrites changes from others by the last user closing OnlyOffice
- When editing a document shared via federation between two oC instances that

[2019-04-02 13:44] pmaier1 commented on #34950
@DeepDiver1975
@PVince81 FYI

[2019-04-02 13:54] PVince81 commented on #34950
in general, for most operations in OC we try to always go to the owner's instance or storage instead of driving it remotely. so in the case of collaborative editing, the UI could maybe redirect to the URL of the editor on the owner's instance instead of trying to do remote magic.

[2019-04-03 06:04] collaorodrigo7 commented on #31154
What is the status of this?
I am experiencing (I think) the same problem.
Basically you can add only one google drive account.
When you try to add a second one you only get this error on the console:
`POST https://cloud.rodrigocollao.com/index.php/apps/files_external/globalstorages 422 (Unprocessable Entity)`
[code]

And no window for authentication opens or anything.
Is it expected to support mor

[2019-04-03 07:26] collaorodrigo7 commented on #31154
I was able to add multiple Google Drive Accounts!!!! (So excited)

The way I was able to do it was as following:

1. I deleted all the external storages.
2. I added one google drive as normal, and everything worked fine. (Keep this page open)
3. I updated the database manually, and delete the record that was just created in table `oc_external_mounts` (update `mount_id` based on your data)

[2019-04-03 07:37] hodyroff commented on #31154
Wow, thanks for looking into this. I was about to write that a second one is not supported this morning ... you solved it and I really appreciate it. Lets see that somebody helps with enabling it generally.

[2019-04-03 07:40] collaorodrigo7 commented on #31154
Glad to know it helped! :)
And thanks for reopening

[2019-04-03 10:21] settermjd opened #34957 "Broken link to the documentation in the Federated Cloud Sharing admin settings"
### Steps to reproduce
1. Under admin -> Settings -> Sharing -> Federated Cloud Sharing, click the 'i' icon

### Expected behaviour

I believe that the new tab/window should open at https://doc.owncloud.com/server/admin_manual/configuration/files/federated_cloud_sharing_configuration.html

### Actual behaviour
A new browser tab/window opens at https://doc.owncloud.org/server/11.0/go.php?to=admin-s

[2019-04-03 19:18] patrickjahns commented on #34858
@phil-davis
Please check https://github.com/owncloud/QA/issues/550

[2019-04-03 19:21] patrickjahns commented on #34778
@socket-es - would you be able to provide a pull request addressing this issue?

[2019-04-04 01:01] phil-davis commented on #34858
^ @patrickjahns yes, I have come to that conclusion - phpunit 6 and 7 have the same exit status misbehavior, so it has not been corrected in phpunit in the last few years.

[2019-04-04 06:37] GTT8 commented on #34948
@crrodriguez ?

[2019-04-04 10:02] medooch opened #34962 "Error when loading image"
### Context :
[code]

### Steps to reproduce
1. Upload an image
2. Try to preview the image

### Expected behaviour
Picture will be loaded

### Actual behaviour
<div class="notification" style="display: block;"><strong>Error!</strong> Could not generate a preview of this file.<br>Please go to the next slide while we remove this image from the slideshow</div>

### Server configuration
**Operating s

[2019-04-04 10:05] patrickjahns commented on #34962
Please try to reproduce this issue on a recent ownCloud version (> 10 ) - as any version lower than 10 is end-of-life

[2019-04-04 10:05] #34962 closed

[2019-04-04 10:33] AppHelpdesk opened #34963 "Jquery-migrate-1.2.1.min.js has vulnerable Jscript error (high) in VAPT scan"
Hi Team,

During VAPT scan, I encountered High issue with jquery-migrate-1.2.1.min.js
Below is the detail for the scan:

Vulnerable Javascript library
Classification
Base Score: 6.4
- Access Vector: Network
- Access Complexity: Low
- Authentication: None
- Confidentiality Impact: Partial
- Integrity Impact: Partial
- Availability Impact: None
CVSS
CWE CWE-16

Can someone please look into this and

[2019-04-04 12:04] ho4ho commented on #34963
False positive?

view-source:https://demo.owncloud.org/core/vendor/jquery-migrate/jquery-migrate.min.js?v=43cb37bd6467ff68d23900646453b604

[2019-04-04 12:17] #34807 closed

[2019-04-04 14:01] AppHelpdesk commented on #34963
I am not sure if i understood it completely but did you mean that i should use version 1.4.0 to get the fix of issue? Please confirm

[2019-04-04 15:27] ho4ho commented on #34963
Mean ownCloud not using Jquery-migrate-1.2.1.min.js but juery-migrate 1.4.0

[2019-04-04 23:32] MU7L3Y commented on #33700
I have just upgraded from 10.1.0 to 10.1.1 and now have a similar issue to this I think. I have tried increasing the PHP memory limit but it hasn't helped. I have changed it in my master, in htaccess and in user.ini but nothing works. I am unable to even load owncloud at this point. 10.1.0 worked just fine before. I am using client 2.5.4. If you want me to create my own issue I will....just though

[2019-04-05 07:46] PVince81 commented on #33700
the change in 10.1.1 was minimal and shouldn't affect any memory usage.

[2019-04-05 08:29] PVince81 commented on #34950
also what happens with restrictions, for example user A is generally not allowed to share with user B locally due to "can only share with same group members" or similar. Should the share import fail ?

[2019-04-05 08:30] PVince81 commented on #34950
if using the share manager API it is possible that the restriction check will also be in place

[2019-04-05 09:20] cortho commented on #34963
@AppHelpdesk, which ownCloud version are you referring to?
ownCloud >= 10 is using jquery-migrate.min.js 1.4.0
ownCloud < 10 is end of life, thus not supported any longer, see https://github.com/owncloud/core/wiki/maintenance-and-release-schedule
Suggestion: close

[2019-04-05 10:24] PVince81 opened #34975 "JS tests extra share attributes"
https://github.com/owncloud/core/pull/33994 was missing JS tests for the extra share attributes.

@mrow4a please add them

[2019-04-05 10:35] PVince81 commented on #31154
not sure if related, there was a patch proposal here: https://github.com/owncloud/core/issues/31497

@karakayasemi can you investigate and fix ? I suggest to work on stable10 as the app isn't decoupled yet there. we can port the change to the separate app later on

[2019-04-05 13:41] albertosabena commented on #34785
Do you have any update? Will it be considered?

[2019-04-05 15:05] PVince81 opened #34981 "Improve error handling for incoming shares poll command"
Steps to reproduce are not clear yet but might be guessable.

When running `occ incoming-shares:poll` there are multiple issues appearing:

1) Ghost users in oc_share_external where the user id doesn't exist on the current instance any more. This throws an unhandled exception. We should skip such entries. They'll likely get cleant up by some background jobs. (if not we need to raise as it would me

[2019-04-05 15:08] PVince81 commented on #34981
Extras:
- [ ] find out whether / why user is not cleared on deletion, I believe I heard @phil-davis or @individual-it mentionning this. we should add a "user delete" listener that clears the entries (separate ticket, if really missing)

[2019-04-05 23:33] MU7L3Y commented on #33700
@PVince81 What can I look into then regarding the error?

[2019-04-08 04:59] individual-it commented on #34981
There are various places that are not cleaned up after user deletion.
e.g. avatar https://github.com/owncloud/core/issues/33875 or locks see this PR where we manually delete locks after test runs https://github.com/owncloud/core/pull/30538

[2019-04-08 07:19] PVince81 commented on #23562
closing in favor of the data exporter project: https://github.com/owncloud/data_exporter/

[2019-04-08 07:19] #23562 closed

[2019-04-08 22:36] SamCoDWS commented on #34653
@DeepDiver1975 It works! It was necessary to recreate the contacts, though. Thank you very much :).

[2019-04-09 10:35] JimmyRooster commented on #19834
How could I upload my project, it only has 101 files. Tried it in Chrome and Edge, it just says

[2019-04-09 11:01] #34981 closed

[2019-04-09 11:49] VicDeo commented on #34981
share_external entries are cleared on user deletion. Moreover, it decline all pending shares first.

https://github.com/owncloud/core/blob/master/apps/files_sharing/appinfo/app.php#L30
https://github.com/owncloud/core/blob/master/apps/files_sharing/lib/Helper.php#L43
https://github.com/owncloud/core/blob/master/apps/files_sharing/lib/Hooks.php#L95-L105
https://github.com/owncloud/core/blob/master/

[2019-04-09 19:34] depeje commented on #18645
The fix doesn't seem to be in 10.1.1: https://github.com/owncloud/core/blob/v10.1.1/lib/private/Preview/Image.php

[2019-04-09 21:38] ChrisEdS opened #34997 "Creating a private link difficult with long file names"
This problem mainly affects the resolution of 1680px wide as it is widely used on MacBook with 13-inch retina display. When creating private links it happens to 90% that you close the dialog.

### Steps to reproduce
1. Set the display resolution to 1680px (common in MacBook Retina)
2. Create a long filename (more than 40 digits long)
3. Try to copy the private link

### Expected behaviour
It shoul

[2019-04-09 21:49] phil-davis commented on #18645
Predicting the specific number of a future version is a risky undertaking ;)
There was a "hotfix patch" for a particular bug and that ended up being the version called `10.1.1`

The fix for the issue here was backported to `stable10` in PR #34356. That will be in the next "regular release". At the time of writing this post the release numbering "will be" `10.2` - but of course the next release cou

[2019-04-09 21:58] depeje commented on #18645
Thank you for the explanation :) , it's very helpful. I mainly wanted to save other readers here the hassle of having to find this out the hard way, and verify that this patch is indeed coming to a release.

[2019-04-10 16:35] Pingponguin commented on #34598
Sorry for late reply but this issue really made me upset and I needed a break.

My hoster just said that he is not familiar with OC and I can use these commands for update:

[code]

Of course this did not work.

I tried a new installation with OC 10.1.1. and copied config.php and /data to it, but still I get the error:

[2019-04-11 11:12] mariomuja commented on #19834
i have the same issue - cannot drag a folder with more than 100 files to the upload area of github

[2019-04-11 22:56] VamPikmin opened #35006 "External Storage DFSR"
### Steps to reproduce
1. Add a SMB DFSR share
2. Try to browse the folders and download files
3. Certain files can't be downloaded

### Expected behaviour
File should open or download instead I get a problem loading page

### Actual behaviour
Problem loading page

and apache segfaults [Fri Apr 12 08:50:02.457656 2019] [core:notice] [pid 8749] AH00051: child pid 8895 exit signal Segmentation fault

[2019-04-12 07:47] ho4ho commented on #35006
Already reported by https://github.com/eduardok/libsmbclient-php/issues/67 where belongs?

[2019-04-12 09:28] VamPikmin commented on #35006
Thanks, I wasn't sure if it was php-smbclient or owncloud core issue

[2019-04-12 13:48] karakayasemi commented on #31154
fixed with https://github.com/owncloud/core/pull/34987

[2019-04-12 13:48] #31154 closed

[2019-04-12 13:48] karakayasemi commented on #31497
fixed with https://github.com/owncloud/core/pull/34987

[2019-04-12 13:48] #31497 closed

[2019-04-12 16:30] ho4ho commented on #35006
Segmentation fault always problem by apache or php.

[2019-04-12 20:00] SeokLeeUS commented on #19834
this still persisting issue, i don't know how this is not fixed.

[2019-04-15 03:52] crrodriguez commented on #34948
fixed

[2019-04-15 03:52] #34948 closed

[2019-04-15 06:03] individual-it opened #35017 "spaces at the end and the beginning of a filename are trimmed away for display"
### Steps to reproduce
1. have a files called `   my file.txt    ` (spaces at the beginning and the end of the name)

### Expected behaviour
spaces are displayed in the UI

### Actual behaviour
spaces are trimmed

![image](https://user-images.githubusercontent.com/2425577/56110340-d1f6c900-5f73-11e9-8add-694498e812e8.png)

`data-file` in the `tr` has the correct name but the content of `<span clas

[2019-04-15 06:19] phil-davis commented on #35017
If `innernametext` has correct spaces before/after, then
1) does the browser actually display any differently?
(I suspect that the browser is not going to display "true" white space anyway)
2) do the file names sort into "correct" order?
(file names starting with spaces come first before those starting with a digit or letter)
3) what is the display requirement when people put spaces at the start o

[2019-04-15 07:15] PVince81 commented on #19834
see https://github.com/owncloud/core/issues/19834#issuecomment-408359907, works for me.

if it doesn't for you, please state your OC version, browser, etc

[2019-04-15 07:57] SergioBertolinSG commented on #19834
@PVince81 I think they are talking about github instead of owncloud https://stackoverflow.com/questions/39716847/git-upload-project-full-site

I recommend to lock this conversation.

[2019-04-15 08:59] PVince81 commented on #34940
closing in favor of https://github.com/owncloud/core/issues/34997

[2019-04-15 08:59] #34940 closed

[2019-04-15 09:27] PVince81 commented on #34848
you could use theming to replace this template with your own.

else if you like you can provide a PR that adds an id on this field

[2019-04-15 09:35] PVince81 commented on #19834
@SergioBertolinSG right.

I'll lock this conversation now.

If anyone is having this issue with **ownCloud 10.1** or later version, please open a new ticket and use the [issue template](https://github.com/owncloud/core/blob/master/.github/issue_template.md)

[2019-04-15 09:59] PVince81 commented on #34760
@individual-it can add a test case for this ?

[2019-04-15 10:16] individual-it commented on #34760
should be possible to create a test for that, but didn't we had that kind of problem a while ago an @phil-davis fixed it?

[2019-04-15 11:17] individual-it opened #35019 "10.2.RC1 - smoke test results"
# Smoke test

## Previous requirements

Prepare two servers with ssl activated and trusted certificates.

Enable LDAP and external storage apps.

Have a LDAP server ready to be used with owncloud.

Have ready two external storages of your choice SMB, SFTP, Dropbox, Google Drive, FTP, S3, ownCloud, local.

Scenarios to consider:
- [x] OAuth2 and sync + mobile clients ( can be deployed remotely )
-

[2019-04-15 11:27] individual-it opened #35020 "10.2 - Changelog Test Results"
# Changelog

All notable changes to this project will be documented in this file.

Items based on https://github.com/owncloud/core/blob/stable10/CHANGELOG.md

### Added
#35051

### Changed
#35052

### Removed
#35053

### Fixed
 #35054

[2019-04-16 07:47] PVince81 opened #35029 "Etag for previews / thumbnails"
I wonder if we should use etags for our thumbnails. this would let the browser query whether there's a new preview.

The endpoint would need to check the etag against the file's etag and return 304 not modified if there is no change instead of attempting to read the existing thumbnail from disk

For that we can simply use the file's etag from oc_filecache early on

It might not be much for the sma

[2019-04-16 08:11] DeepDiver1975 commented on #35029
The new preview endpoint does not send the etag header in the response - the browser in return has no chance to cache anything.

This was different in the old endpoint .... too bad.

We should consider this a bug/regression.

[2019-04-16 08:21] Glamdring opened #35030 "Missing WebDav authentication"
### Steps to reproduce
1. Open the admin storage settings
2. add a new WebDAV storage
3. select username & password authentication and fill in the connection details, including username and password for basic authentication

### Expected behaviour
ownCloud should send an Authorization header to the WebDAV server and the indicator at the beginning of the row should go green

### Actual behaviour
ow

[2019-04-16 08:34] PVince81 commented on #35029
I think we never sent etags before, even in the old endpoint.
We do return cache headers: https://github.com/owncloud/core/blob/stable10/apps/dav/lib/Files/PreviewPlugin.php#L134

[2019-04-16 08:38] DeepDiver1975 commented on #35029
hmmm .... did I mix this up with avatars ....

anyway - as soon as we return etags the situation should get much better ....

[2019-04-16 09:34] PVince81 opened #35031 "App manager not respecting writable flag when folder writable on disk"
### Steps

1. Setup ownCloud 10.2.0 RC1 enterprise complete which comes with files_pdfviewer 0.10.0 bundled
1. Check that two folders "apps" and "apps-external" exist.
1. Check that config.php states that "apps" is not writable, but leave the folder writable on disk
1. Use market app to update files_pdfviewer to 0.11.0

### Expected result
Updated files_pdfviewer lands in "apps-external".

### Act

[2019-04-16 09:36] PVince81 commented on #35020
Apps-external folder appears after install, but despite "apps" being non-writable in config.php, it still puts app updates there. Raised https://github.com/owncloud/core/issues/35031

[2019-04-16 09:52] PVince81 commented on #18645
you can already test with the RC1 is you like: https://central.owncloud.org/t/owncloud-server-10-2-0-rc1-released/19499

[2019-04-16 11:27] V1pr commented on #31350
Same issue here, disabling locking solved the issue.
OC: 10.0.10
OS: Debian 9.7
PHP: 7.0.33-0+deb9u1

[2019-04-16 14:09] pjb304 commented on #34625
Hi,

Have there been any progress on this now that 10.1.1 has been released?  Thanks.

[2019-04-16 16:05] jose2016 commented on #24637
Thanks @thopiekar is working

[2019-04-17 08:28] phil-davis opened #35035 "README.md installation instructions link is a 404"
`README.md` Installation instructions link currently point to:
https://doc.owncloud.org/server/10.1/developer_manual/app/index.html
and that gives a 404.

Anyway, a link into the developer manual does not seem to be the correct thing.
https://github.com/owncloud/core/commit/d962f18e3f82ac1e65a67cee1054c02aafb7a388#diff-04c6e90faac2675aa89e2176d2eec7d8 way back in 2014 changed the link from being t

[2019-04-17 08:55] phil-davis commented on #35020
Bump README.md doc links to 10.1 - #34403 - the link is invalid, issue #35035
It looks like it has been invalid at least since the docs conversion, and has been pointing into an odd place for a long time. PR #35036 to master.

[2019-04-17 11:06] phil-davis opened #35040 "Built-in core apps have some mixed translation reference"
e.g. PR #35038 fixes a couple of them

There are others, e.g. where `files_sharing` translation calls are looking in the `files` app for the translation. But actually the Transifex translations are in `files_sharing`

[2019-04-17 11:20] individual-it opened #35042 "federation sharing does not work when remote server has capital letters in URL path"
### Steps to reproduce
1. have two instances of oC installed one should have capital case letters in the URL path e.g.
`http://localhost/owncloud-10.2.0/rc1` and `http://localhost/owncloud-10.2.0/RC1_b`
2. try to share federation shares from `rc1` to `RC1_b`

### Expected behaviour
sharing works

### Actual behaviour
message saying: `Sharing Documents failed, could not find admin@http://localhost/

[2019-04-17 11:30] individual-it commented on #35042
same problem with 10.1.1

[2019-04-17 12:26] #35035 closed

[2019-04-18 04:39] individual-it opened #35050 "Missing Then step in test "user creates public link with view and upload feature""
This test does not have a "Then" step, what should the outcome be
link to test https://github.com/owncloud/core/blob/master/tests/acceptance/features/webUISharingPublic/shareByPublicLink.feature#L373
added by  #34687

[2019-04-18 04:40] individual-it opened #35051 "10.2 - Changelog Test Results - Added"
Part of  #35020

### Added

- [x] Add new capability to advertise the availability of the detail parameter for private links (RC2) - [#35104](https://github.com/owncloud/core/issues/35104) - @individual-it
- [x] Add background:queue:execute occ command for running cron jobs manually - [#34995](https://github.com/owncloud/core/issues/34995)  - @individual-it
- [ ] Adding background:queue commands:

[2019-04-18 04:41] individual-it opened #35052 "10.2 - Changelog Test Results - Changed"
Part of #35020

### Changed

- [x] Bump @bower_components/bowser from 1.6.0 to 1.9.4 in /build - [#34844](https://github.com/owncloud/core/issues/34844) @dpakach
- [x] Bump @bower_components/backbone from 1.2.3 to 1.4.0 in /build - [#34288](https://github.com/owncloud/core/issues/34288) [#34621](https://github.com/owncloud/core/issues/34621) - tested with comments panel, create+edit still works -

[2019-04-18 04:42] individual-it opened #35053 "10.2 - Changelog Test Results - Removed"
Part of #35020

### Removed

- [x] Drop PHP 5.6 support across the platform - [#34698](https://github.com/owncloud/core/issues/34698) - CI plus try to run with PHP 5.6 and the UI complains nicely @phil-davis
- [x] Removed bundled documentation, help links now point to the online documentation - [#34612](https://github.com/owncloud/core/issues/34612) [#34649] (https://github.com/owncloud/core/issue

[2019-04-18 04:43] individual-it opened #35054 "10.2 - Changelog Test Results - Fixed"
Part of #35020

### Fixed
- [x] Wrong translation file referenced for accept & decline share - [#35063](https://github.com/owncloud/core/issues/35063) - @individual-it
- [x] Respect 'writable' appdir flag on update - [#35097](https://github.com/owncloud/core/issues/35097) - @individual-it
- [x] Fix regression with missing progress bar in files drop view - [#35059](https://github.com/owncloud/core/

[2019-04-18 04:44] individual-it commented on #35020
As multiple people working on that long list now, I've split it to reduce the risk of overwriting each-others results

[2019-04-18 04:53] phil-davis commented on #35052
Bump README.md doc links to 10.1 - #34403 - the link is invalid, issue #35035
It looks like it has been invalid at least since the docs conversion, and has been pointing into an odd place for a long time. PR #35036 to master.

[2019-04-18 05:28] individual-it opened #35056 "conflic dialog for "Download / View / Upload" public link shows folder-size not file-size"
### Steps to reproduce
1. create a new "Download / View / Upload" public link
2. try to upload a file with a name that already exists in the folder

### Expected behaviour
the conflict dialogue should show the file-size of the existing file

### Actual behaviour
the conflict dialogue shows the size of the complete folder (btw the file-name of the new file is not shown ether)
![image](https://user-

[2019-04-18 05:30] individual-it commented on #35051
conflict dialogue for "Download / View / Upload" public link shows folder-size not file-size #35056

[2019-04-18 06:13] individual-it opened #35057 "conflict dialogue for "Download / View / Upload" public link multiplies the confict files on "cancel""
### Steps to reproduce
1. create a "Download / View / Upload" public link
2. as public try to upload a file with existing name
3. cancel the dialogue
4. repeat 2 & 3 multiple times

### Expected behaviour
The dialogue should be cancelled regardless of how many time the steps were executed

### Actual behaviour
The dialogue can be cancelled the first 1-3 times, then it keeps on coming up and the am

[2019-04-18 06:14] individual-it commented on #35051
conflict dialogue for "Download / View / Upload" public link multiplies the conflict files on "cancel" #35057

[2019-04-18 06:41] thommierother opened #35058 "10.2 RC1: upgrade script fails, database scheme error"
While cli upgrading from 10.1.0 to 10.2 RC1 I get on on an upgrade system:

...
2019-04-18T06:30:34+00:00 Repair step: Repair MySQL database engine
2019-04-18T06:30:37+00:00 Repair step: Repair MySQL collation
2019-04-18T06:30:38+00:00 Repair info: All tables already have the correct collation -> nothing to do
2019-04-18T06:30:38+00:00 Repair step: Repair SQLite autoincrement
2019-04-18T06:30:38+0

[2019-04-18 07:18] #35040 closed

[2019-04-18 08:24] individual-it opened #35061 "file conflic dialog does not allign file list correctly in FF"
### Steps to reproduce
1. in FF upload multiple files where more than 3 will cause a conflict

### Expected behaviour
![image](https://user-images.githubusercontent.com/2425577/56347059-3b304380-61e3-11e9-8400-8901dc49e1ff.png)

### Actual behaviour
![image](https://user-images.githubusercontent.com/2425577/56347092-4b482300-61e3-11e9-88de-0e4dded30346.png)

### Server configuration
**Operating sy

[2019-04-18 09:28] limingpo opened #35065 "How to generate rpm package directly from source code"
### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration
**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**ownCloud version:** (see ownCloud admin page)

**Updated from an older ownCloud or fresh install:**

**Where did you install ownCloud from:**

**Signing status (ownC

[2019-04-18 10:43] individual-it opened #35066 "groups.enable_medial_search does not work for LDAP groups"
### Steps to reproduce
1. setup LDAP
2. set `'groups.enable_medial_search' => true`
3. add LDAP group `ldap-group1`
4. add local group `local-group1`
5. in the share-field type `group`

### Expected behaviour
both LDAP and local group should be listed

### Actual behaviour
only local group is listed

### Server configuration
**Operating system**:
Ubuntu 18.04
**Web server:**
Apache2
**Database:**

[2019-04-18 10:44] individual-it commented on #35051
medial search on group does not work with LDAP groups #35066

[2019-04-18 10:51] karakayasemi commented on #35066
@individual-it until the central group table merged, this is the expected behavior. See the last paragraph of https://github.com/owncloud/core/issues/33883#issuecomment-468623653

[2019-04-18 11:04] PVince81 commented on #35066
ok, moving to backlog then. thanks for clarification.

could report as known issue @pmaier1

[2019-04-18 11:16] individual-it opened #35067 "automatically accept incoming federated shares generate a notification, accepting the share from there renames it"
### Steps to reproduce
1. set up 2 servers
2. on server1 add server2 as trusted server
3. on server1 enable `Automatically accept remote shares from trusted servers `
4. share folder from server2 to server1

### Expected behaviour
share is accepted, no notification, or notification that informs about new share but does not have any buttons to accept it

### Actual behaviour
share is accepted, noti

[2019-04-18 11:18] individual-it commented on #35051
automatically accept incoming federated shares generate a notification, accepting the share from there renames it #35067

[2019-04-19 02:53] #35065 closed

[2019-04-19 02:56] limingpo opened #35068 "I got the code from github. How can I build a rpm package?"
How can I build a rpm package or how to write a SPEC file?

[2019-04-19 07:51] limingpo opened #35069 "When I use make, something went wrong, how can I solve it?"
cd build && /usr/bin/yarn install
yarn install v1.15.2
[1/4] Resolving packages...
[2/4] Fetching packages...
info fsevents@1.2.4: The platform "linux" is incompatible with this module.
info "fsevents@1.2.4" is an optional dependency and failed compatibility check. Excluding it from installation.
[3/4] Linking dependencies...
[4/4] Building fresh packages...
$ modclean -r --patterns="default:safe"

[2019-04-19 11:45] ho4ho commented on #35069
Bugtracker no good for development thing, better ask by https://central.owncloud.org/c/development

[2019-04-19 11:45] ho4ho commented on #35068
Bugtracker no good for development thing, better ask by https://central.owncloud.org/c/development

[2019-04-19 11:54] ho4ho opened #35070 "Adblock admin sharing settings hiding"
### Steps to reproduce
1. Enabled Adblock
2. Check admin settings
3. Disabled Adblock
4. Check again addmin settings

### Expected behaviour
Warning on Adblock shown or sharing icon shown.

Maybe use idea by https://github.com/sualko/cloud_piwik/pull/65 or by https://github.com/nextcloud/server/pull/4337?

### Actual behaviour
With Adblock no sharing icon

![admin_adblock](https://user-images.gith

[2019-04-19 11:57] ho4ho commented on #35070
Similar issue by past: https://github.com/owncloud/core/issues/24190, https://github.com/owncloud/core/issues/17581, https://github.com/owncloud/core/issues/2711, https://github.com/owncloud/core/issues/17053, https://github.com/owncloud/core/issues/8360, https://github.com/owncloud/core/issues/6913

[2019-04-21 17:42] #35068 closed

[2019-04-22 08:30] CountOmega opened #35071 "Failure during installation on Ubuntu 18.04"
Steps to reproduce

    Setting up a fresh LAMP
    Following these commands: download.owncloud.org/download/repositories/10.0/owncloud/
    apt-get update
    Ign https://attic.owncloud.com/org/download/repositories/10.0/Ubuntu_18.04 InRealease

Expected behaviour

The packages should install flawless
Actual behaviour

The package gets ignored
Server configuration

Operating system:
Ubuntu Bionic

[2019-04-23 04:45] individual-it commented on #35051
there is a problem in the hsmdaemon see https://gitea.int.owncloud.com/consulting/hsmdaemon/issues/6

[2019-04-23 06:09] skshetry commented on #35054
#34971
Location of "Enforce date" changed from `10.1` which was as below:
![Screenshot from 2019-04-23 11-51-02](https://user-images.githubusercontent.com/18718008/56558340-1ca0c280-65be-11e9-8c10-189367b9ff4a.png)

And, when expiration date is unenforced and default share is removed on public link share, no expiration date is set.

[2019-04-23 08:39] paurakhsharma opened #35080 "File size changes to less than 1KB while trying to open large text file"
### Steps to reproduce
1. Install `files_texteditor` app
2. Upload text file with size larger than 6MB
3. Try to open the file
4. You get the error dialog with the text 'This file is too big to be opened. Please download the file instead.'
5. Then the file size changes to `<1KB` and last modified changes to `?` (unable to determine the data)

### Expected behavior
File size and last modified shoul

[2019-04-23 08:48] patrickjahns commented on #35071
@crrodriguez
Could you double check - maybe it's related to 10.0 vs 10.1 ?

[2019-04-23 09:00] individual-it commented on #35080
Not a regression, also happens with oC 10.1.1

[2019-04-23 09:02] individual-it opened #35081 "issues with files_antivirus log entries"
user name is not reported in log : https://github.com/owncloud/files_antivirus/issues/304
~~exception: Module with id: OC_DEFAULT_MODULE does not exist.: https://github.com/owncloud/files_antivirus/issues/305 (only happens in 10.2)~~

[2019-04-23 09:43] PVince81 commented on #35080
thanks for the regression check, moving to backlog

[2019-04-23 09:53] #35056 closed

[2019-04-23 09:53] #35057 closed

[2019-04-23 10:04] PVince81 commented on #35069
likely wrong node JS version. need to use the LTS version.

anyway, please ask on central instead of here

[2019-04-23 10:04] #35069 closed

[2019-04-23 10:08] PVince81 commented on #35058
is it the same server where you had the issue with "oc_persistent_locks" from https://github.com/owncloud/core/issues/33963 ?

still unsure why migrations that already ran would be missing in "oc_migrations" table.

[2019-04-23 16:23] thommierother commented on #35058
Its the same server, yes. I don't understand it either. I re-created the whole database from a 10.1 backup and did the migration again without issues. Enclosed is the oc_migrations table, just for info.

[2019-04-23 16:25] thommierother commented on #35058
CREATE TABLE `oc_migrations` (
  `app` varchar(177) COLLATE utf8_unicode_ci NOT NULL,
  `version` varchar(14) COLLATE utf8_unicode_ci NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

--
-- Daten für Tabelle `oc_migrations`
--

INSERT INTO `oc_migrations` (`app`, `version`) VALUES
('activity', '20161122085340'),
('activity', '20161122092159'),
('activity', '20170131134507'),

[2019-04-23 22:24] ictinc opened #35085 "Owncloud Ubuntu 18.04.02 postgresql"
### Steps to reproduce
1. Install & update Ubuntu 18.04.02
2. Install latest Postgresql
3. Install apache and components
4. Install Owncloud

### Expected behaviour
Tell us what should happen
Admin user should be created and installation finalized.

### Actual behaviour
Tell us what happens instead
Error while trying to create admin user.
An exception occured while executing 'SELECT min_value,incr

[2019-04-23 22:30] ictinc commented on #35085
I see what I did wrong here. Using unsupported version of Postgresql

[2019-04-23 22:30] #35085 closed

[2019-04-24 04:03] individual-it commented on #35020
Things that could have been tested by acceptance tests

| Change | PR | issue found while testing | estimated effort to write tests | comment |
|-----------|-----|-----|----|-- |
| Adding background:queue commands: status and delete | #34783 | | 0.25md|
| Added new permissions option for public link | #34983 | #35056 & #35057 | added by fix |  tests did exist, but not for the exact scenario |
| Su

[2019-04-24 04:51] tummimadhu commented on #30100
Hey,

I just signed the petition "National Highway Authority Of India : save over
300 Banyan trees Hyd-Chevella Road widening India" and wanted to see if you
could help by adding your name.

Our goal is to reach 2,500 signatures and we need more support. You can
read more and sign the petition here:

http://chng.it/Qdv5fCJ4Nr

Thanks!
Madhu

[2019-04-24 05:13] skshetry commented on #35054
Regarding #34097:

Canceling upload in files_drop did not work correctly if it is canceled after waiting for a few sec. But, this does work if it is canceled immediately (which didn't work on `v10.1.1`).  The uploading message does disappear after the file is uploaded.

See test video here: https://cloud.owncloud.com/index.php/s/1psr6GzChn3u83L

[2019-04-24 05:26] skshetry opened #35086 "File upload on files_drop does not abort if tried to cancel after waiting for few seconds"
Regarding #34097:

Canceling upload in files_drop did not work correctly if it is canceled after waiting for a few sec. But, this does work if it is canceled immediately (which didn't work on `v10.1.1`).  The uploading message does disappear after the file is uploaded.

See test video here: https://cloud.owncloud.com/index.php/s/1psr6GzChn3u83L

_Originally posted by @skshetry in https://github.co

[2019-04-24 05:53] kamleshahuja opened #35088 "File versioning does not work within shared file"
### Steps to reproduce
1. Files update in shared folder by any user is not show in Version
2. update any file shared
3. loggin to owncloud web check the file details versions

### Expected behaviour
A new version of the file should appear under 'Versions'

### Actual behaviour
Under activity one can see that the file has been updated. However under versions there remain 'No  versions are available

[2019-04-24 06:09] dpakach opened #35089 "Notify by email on group share can be done multiple times"
### Steps to reproduce
1. Log in as admin, enable share notifications by email
2. create a group with multiple users in it
3. Share a file with the group and click notify by email button
4. reload the page.

### Expected behaviour
according to https://github.com/owncloud/core/pull/33180 the `notify by email` button should disappear after sending the email once.

### Actual behaviour
The notify by

[2019-04-24 08:07] paurakhsharma commented on #35054
Regarding #34427
I the exception is shown in the log but I am not sure if it is the expected error message.(according to this PR)

These are the steps I followed.
1) Change `appinfo.xml` to an invalid XML
2) Run the command `./occ app:check-code <app_name>`
3) I see an `InvalidArgumentException\` thrown in `owncloud.log` with message `Could not convert XML to array` (which is expected)

But, I can

[2019-04-24 08:33] fr0z3nfyr commented on #1190
I was thinking about a different workaround: how about using `hooks` to call `rsync` or `rsnapshot` to sync the files between multiple hosts? Anybody has any ideas in this direction?

[2019-04-24 09:19] dpakach commented on #35052
Notify by email on group share can be done multiple times #35089

[2019-04-24 09:39] SpiraMirabilis commented on #1190
You may want to check into csync2 if you want to handle a synchronization
at the filesystem level. It’s designed to synchronize a cluster with an
arbitrary number of nodes.
https://github.com/LINBIT/csync2

On Wed, Apr 24, 2019 at 2:34 AM fr0z3nfyr <notifications@github.com> wrote:

[2019-04-24 09:58] skshetry commented on #35054
Fix chunking infinite loop in some environment-related issues was tested using the `How this has been tested` section in #34489

[2019-04-24 10:42] paurakhsharma opened #35092 "Less clear error message when running check-code occ command on the app with invalid appinfo.xml"
### Steps to reproduce
1) Change appinfo.xml to an invalid XML
2) Run the command ./occ app:check-code <app_name>
3) See an InvalidArgumentException\ thrown in owncloud.log with message Could not convert XML to array (which is expected)

4) But error message on occ command is not clear as it only says `No app with given id <app_name> known. `

### Expected behaviour
Better error message `$appId ha

[2019-04-24 11:35] ho4ho commented on #35088
Duplicate by https://github.com/owncloud/core/issues/33507 ?

[2019-04-24 11:41] phil-davis commented on #35088
And try with version `10.1.1` - it is likely fixed there. If so, then close this issue. If not, then give a more detailed scenario that fails in `10.1.1`

[2019-04-24 11:47] michaelstingl commented on #33337
@PVince81 @pmaier1 ping

[2019-04-24 11:49] kamleshahuja commented on #35088
how can we upgrade to 10.1.1 without losing data.

[2019-04-24 12:03] ho4ho commented on #35088
Try update help for https://doc.owncloud.org/server/admin_manual/maintenance/upgrade.html and https://central.owncloud.org/c/server

[2019-04-24 12:08] individual-it opened #35093 "header set twice in 4xx responses"
### Steps to reproduce
I'm testing the backport of https://github.com/owncloud/core/pull/31231 for 10.2.0RC1
and it looks to me that the change made it worse, but also I might have a setup issue

1. enable apache `headers` module
1.  in apache config add
[code]
1. make sure the header is set for oC unrelated requests
1. update htaccess `sudo -u www-data ./occ  maintenance:update:htaccess` (maybe n

[2019-04-24 12:10] individual-it commented on #35054
after #34089 headers can be set twice in 4xx responses if already defined in apache config - raised #35093

[2019-04-24 12:25] kamleshahuja commented on #35088
Its for Docket and manually installed own cloud. but not for Appliance ESX Image

[2019-04-24 14:41] ho4ho commented on #35088
Same by appliance: https://doc.owncloud.org/server/admin_manual/appliance/howto-update-owncloud.html

If no update need wait for one.

[2019-04-24 19:49] benrubson commented on #35093
Hi @individual-it,

This behavior is expected, some more info why here :
https://httpd.apache.org/docs/2.4/en/mod/mod_headers.html#header

You should then rather use the following in your Apache configuration :
`Header always set X-Content-Type-Options "bloedsin"`
or :
`Header set X-Content-Type-Options "bloedsin" "expr=-z %{resp:X-Content-Type-Options}"`
or even better from my point of view, the

[2019-04-24 20:55] benrubson commented on #35093
Another solution would be to prefix every `Header` rule in the `.htaccess` file by the following :
`Header unset <header>`
For example :
`Header unset X-Content-Type-Options`
`Header always set X-Content-Type-Options "nosniff"`

The first one would remove the header from `onsuccess` table, which could have potentially been set in the Apache server configuration.
The second one would force the head

[2019-04-25 01:40] individual-it commented on #35093
@benrubson thank you for the explanation
I was just surprised that the "problem" did not occur before your change in https://github.com/owncloud/core/pull/31231
can you explain which exact situation you tried to fix with that change, so I can test it for the QA of 10.2.0

[2019-04-25 08:08] #35031 closed

[2019-04-25 08:48] mmattel commented on #35093
Do we need a documentation improvement?

[2019-04-25 08:50] #35053 closed

[2019-04-25 12:36] HarDX opened #35096 "Checkbox missing in Google Chrome 74"
### Steps to reproduce
1. Open Google Chrome
2. Open URL owncloud
3. Any checkbox miss

### Expected behaviour
Checkbox must be visible

### Actual behaviour
Checkbox not visible in old owncloud 10.0.. and after upgrade to 10.1 too, but present in source and visible in IE/Firefox

### Server configuration
**Operating system**: Centos 6

**Web server:** apache 2.2.15

**Database:** mariadb 10.1.38

[2019-04-25 12:41] PVince81 commented on #33337
@michaelstingl likely only possible in core as the private link routes are defined in core and I don't think an app could override.

would be good to look more in-depth with the magic links in question and see if there are additional parameters needed.

also explore alternatives where no server magic is needed, like is it possible for the mobile apps to use the runtime-given account names instead

[2019-04-25 12:42] kamleshahuja commented on #35088
i tried the said option but update available.

root@owncloud:~# univention-app info
UCS: 4.4-0 errata59
Installed: adconnector=12.0 samba-memberserver=4.7 4.3/owncloud=10.0.10-2019-02-18
Upgradable:
root@owncloud:~#

[2019-04-25 13:05] PVince81 commented on #35089
can you check if this happens on 10.1.1 also ? just to know whether it's a regression

[2019-04-25 13:14] PVince81 commented on #35096
works for me
<img width="493" alt="image" src="https://user-images.githubusercontent.com/277525/56738353-ba39f480-676c-11e9-9c8b-34f6fc11e25c.png">

this is OC 10.2.0 RC1 with google-chrome-stable-74.0.3729.108-1.x86_64 on openSUSE Tumbleweed.

Please verify whether you have any addons that might interefere with the page.

[2019-04-25 13:18] PVince81 commented on #35070
so it seems that renaming "share-*" to "shared-*" would solve the issue.

however if the icon file name needs to be renamed, it could have an impact on some themes that might use this name, so would consider this a breaking change that needs mentioning in release notes.

cc @pmaier1

[2019-04-25 13:21] HarDX commented on #35096
![2019-04-25-182103](https://user-images.githubusercontent.com/5231223/56738871-fbd79900-6786-11e9-8dfd-4bf8191771da.png)

[2019-04-25 13:22] HarDX commented on #35096
i try in incognito mode and other (checkbox near - Имя (Name))

[2019-04-25 13:23] PVince81 commented on #35030
what Webdav server are you using ?

I'm a bit surprised because we have automated tests that test against Apache Webdav and they pass.

The proposed fix seems to imply that the authType is set to 0 instead of AUTH_BASIC by default, not sure why.

A proper quickfix for this would be to check if `$params['authType']` is set and if not, fallback to AUTH_BASIC.

[2019-04-25 13:24] HarDX commented on #35096
In IE11
![2019-04-25-182437](https://user-images.githubusercontent.com/5231223/56739110-6a1c5b80-6787-11e9-8b92-ae5e438617b1.png)

[2019-04-25 13:27] PVince81 commented on #35096
also works for me, I tried Russian language just in case:
<img width="594" alt="image" src="https://user-images.githubusercontent.com/277525/56739291-a0011600-676e-11e9-9d49-b702e08be82e.png">

[2019-04-25 13:28] PVince81 commented on #35096
are the DOM elements rendered ? if yes you could check if there is any CSS rule preventing them to appear.

in my setup this is a freshly installed Chrome with no extra extensions

[2019-04-25 13:28] HarDX commented on #35096
I try - clean profile on Chrome - all works, i try find in old profile what happen

[2019-04-25 13:39] HarDX commented on #35096
Cann't find. I clear profile and resync all things - plugins and etc. all works fine...

[2019-04-25 13:42] PVince81 commented on #35096
probably some caching issue then, closing.

[2019-04-25 13:42] #35096 closed

[2019-04-25 13:52] pmaier1 commented on #35070
Thanks for reporting this issue. Just a side note: ABP is not the best adblock solution as you can whitelist addresses if you put in some coins. Better use 'uBlock'. The described issue does not occur with this one ;)

[2019-04-25 14:45] ho4ho commented on #35088
Then:

[2019-04-25 14:46] ho4ho commented on #35070
Happen also: https://github.com/owncloud/core/issues/33642

[2019-04-25 15:21] #34632 closed

[2019-04-25 15:41] CountOmega commented on #35071
Typing https://attic.owncloud.com/org/download/repositories/production/Ubuntu_18.04

gets me
Error 404: Not found :frowning:

I have no idea where that file is, sorry. Are you sure you typed in the correct URL?

So this one seems moved/dislocated, because neither /stable nor /10.1 nor /production finds this one. Any ideas?

[2019-04-25 18:55] thommierother opened #35098 "10.2 RC1 Share with "federation" text is cut off"
- Version 10.2 RC1
- Federating folder with a productive 10.1 instance
- Entering federation ID for 10.1 instance

Federation is not possible, error message about invalid email
![Screenshot_20190425_203625](https://user-images.githubusercontent.com/6594120/56760641-f0429d00-679b-11e9-90f9-42ef65c8a60a.png)

[2019-04-25 20:56] benrubson commented on #35093
Well, it occurred if Apache configuration itself used `Header always set`.
Now that `.htaccess` uses `Header always set`, it occurs if Apache configuration uses `Header set`...

Anyway, I think that `Header always set` is better in `.htaccess` file, in order to be sure to set headers even in some error situations they could not be set with simple `Header set`.

Goal was to avoid headers set twice,

[2019-04-26 04:56] Glamdring commented on #35030
I'm using a custom WebDav server, but that's what allowed me to debug it and see that no Authorization header is passed.

I agree that your quickfix is better; mine just got my usecase working.

[2019-04-26 06:04] sharidas commented on #35054
I have verified #34506 with 10.2.0 RC1.
Verified it by by creating a local share within oC users and enabled recovery key for the recipient of share user. Used debugger to verify the recovery keys are not added for recipient share user.

[2019-04-26 09:57] patrickjahns commented on #35054
I see the following open points:
- Store quota overrides in preferences table - #34467
- Prevent concurrent updates in group shares to avoid duplicate entries - #34769

I believe #34769 was agreed that this can not be manually confirmed and is fine - what about #34467 ?

[2019-04-26 10:10] patrickjahns commented on #35058
@thommierother
could you double check what the `owncloud.log` mentions about migrations to be run?

Example:
[code]

Would like to double check which migration was triggered

[2019-04-26 10:51] patrickjahns commented on #35052
Tested tar_streamer - works as expected.
Do we have a webui/api test for this? Otherwise we might add downloading a tar archive to the acceptance tests ( one for zip and one for tar )

[2019-04-26 11:10] skshetry commented on #35054
Repair subshares earlier to avoid errors - #34462 - was also skipped as it cannot be reproduced (as per the discussion with pvince).

[2019-04-26 12:22] prsnbrg opened #35102 "Missing translation"
On the admin setting page "sharing" we have some missing translation:

Create  Change  Delete  Share are only in english but not in german.
Also some lines below: Group Sharing Blacklist.

### Server configuration
**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**ownCloud version:** (see ownCloud admin page)
10.1.1
**Updated from an older ownCloud or fresh install:**
older

[2019-04-26 12:55] prsnbrg opened #35103 "Can´t change email address"
### Steps to reproduce
1. Login as normal user (no admin and no groupadmin)
2. open the personal setting page
3.

### Expected behaviour
Tell us what should happen
I can´t change my display name, but I can change my email address.

### Actual behaviour
Tell us what happens instead
I can´t change my display name and my email address.

### Server configuration
**Operating system**:

**Web server:**

[2019-04-26 12:55] PVince81 commented on #35098
any special chars in the email address ? international chars ? international domain ?

[2019-04-26 12:56] PVince81 commented on #35098
hmm wait, there shouldn't be any email validation for federation.

did you click on the federation entry or the guest entry ? (if you have guest enabled).

would be good to have more info, logs, etc, like rquested in the [issue template](https://github.com/owncloud/core/blob/master/.github/issue_template.md)

[2019-04-26 12:57] PVince81 commented on #35098
@individual-it do we have acceptance tests that create federated shares over the UI ?

we do have some on the API level and they work through CI

[2019-04-26 13:08] patrickjahns commented on #35051
To be tested with RC2:
- Added new permissions option for public link - #34983 🚫 raised #35056 & #35057 - @individual-it

[2019-04-26 13:12] patrickjahns commented on #35089
IF not a regression - we'll talk with product management about desired behaviour and document it via an acceptance test

[2019-04-26 13:15] PVince81 commented on #35054
For "Prevent concurrent updates in group shares to avoid duplicate entries - #34769" we should check that we have acceptance tests that cover the general cases with subshares (but not this one specific case about duplicates)

[2019-04-26 13:19] PVince81 commented on #35054
for "Store quota overrides in preferences table - #34467" it is likely that LDAP will be required.
manual test would be fine for RC but consider automating it as part of https://github.com/owncloud/user_ldap/issues/368#issuecomment-487053363

[2019-04-26 13:22] ho4ho commented on #35103
"Can't" very less detailed in posting. :disappointed:

[2019-04-26 13:28] PVince81 commented on #35092
won't fix, the code checker will be replaced at some point and shouldn't be used any more...

[2019-04-26 13:28] #35092 closed

[2019-04-26 13:34] prsnbrg commented on #35103
Sry,
what I mean with "Can't" is that I don't have an input field. The Name and the email address show as normal text and not as value in an input field. So I can't change anything.

I have the same error on oC 10.1.1

![missing input field email](https://user-images.githubusercontent.com/29964525/56811310-bb385800-6838-11e9-9ab5-30c0eaf01133.JPG)

[2019-04-26 13:37] PVince81 commented on #33963
strange thing, there are no migrations with the timestamps from:
[code]

not even in apps

[2019-04-26 13:45] PVince81 commented on #35081
specific to antivirus app, no need for core changes

[2019-04-26 13:45] #35081 closed

[2019-04-26 13:47] PVince81 commented on #35067
@karakayasemi can you have a look ? maybe we need to prevent the notification to be sent in the first place ?

[2019-04-26 13:57] phil-davis commented on #35098
https://github.com/owncloud/core/blob/master/tests/acceptance/features/webUISharingExternal/federationSharing.feature#L15 uses the webUI to do a federated share.

CI runs with the federated server having last night's stable10 QA tarball. We don't (currently) run federated tests against released versions (e.g. it would be good to know that federated sharing from an upcoming 10.2 system will work fi

[2019-04-26 14:25] CountOmega commented on #35071
Typing https://attic.owncloud.com/org/download/repositories/production/Ubuntu_18.04

gets me
Error 404: Not found :frowning:

I have no idea where that file is, sorry. Are you sure you typed in the correct URL?

So this one seems moved/dislocated, because neither /stable nor /10.1 nor /production finds this one. Any ideas?

[2019-04-26 20:52] thommierother commented on #35098
I used Sharing, "user and groups" tab and entered the fed ID in the input field. Then the "Add to ..." filed. But I see now that the problem is different: the "(federated)" string is cut off in the widget, i used the Add ... (guest) entry, the mail validation error appears only when adding to the guests group. Mail adresses used are "normal" (admin@netzwissen.de is the sender, t.rother@netzwissen.

[2019-04-27 12:25] #35071 closed

[2019-04-28 09:18] michaelstingl commented on #33337
@PVince81 see https://github.com/owncloud/core/issues/33337#issuecomment-433849571 , we already have this solution, but it only works with a branded client, because the app magic (including server URL) needs to be added at compile time.

[2019-04-28 15:12] patingg opened #35112 "An execption occurres while executing UPDATE .... MySQL server has gone away"
![owncloud_error](https://user-images.githubusercontent.com/50079574/56866362-85ca7080-69d8-11e9-9ec1-a08d096fd9f6.JPG)

[2019-04-28 20:59] #34997 closed

[2019-04-28 21:15] karakayasemi commented on #35067
@individual-it I could not reproduce the issue. Even when I share with a folder that receiver has a folder with the same name, no notification is shown and it is correctly renaming as `folder(2)`.
I believe I installed a similar instance to you by enabling user_ldap and encryption. My instance enabled app list:
[code]
config list:
[code]

[2019-04-29 04:23] individual-it commented on #35052
@patrickjahns thank you for testing, no tests for that AFAIK, please open an issue so we can schedule adding the tests

[2019-04-29 04:59] skshetry commented on #35086
@PVince81, looks like the bug was when we try to cancel upload after already canceling upload once in the first try.
So, if you:
1. Create a files_drop link.
2. Open the share link.
3. Try to upload a file and then cancel it.
4. Try to again re-upload and cancel it.

Then, the file upload does not cancel. It works if we reload the tab and retry.

[2019-04-29 06:54] individual-it commented on #35067
I've made a very simple installation (no encryption, no LDAP) and it happens for me

[code]

[2019-04-29 08:15] ho4ho commented on #35112
Unlikely bug for bugtracker, more config problem question to https://central.owncloud.org/

https://doc.owncloud.com/server/10.0/admin_manual/configuration/database/linux_database_configuration.html#how-to-workaround-general-error-2006-mysql-server-has-gone-away

[2019-04-29 09:15] benrubson commented on #35093
And see #35118 for backport to the "release-10.2.0" branch.

[2019-04-29 13:29] PVince81 commented on #35086
ok thanks, so it's a different bug

[2019-04-29 13:31] PVince81 commented on #33337
ok, was just curious about the technical details. I guess the URL needs to be some XML files that are bundled in the package and cannot be determined at runtime

[2019-04-29 13:43] PVince81 commented on #35098
@thommierother if easy to recreate, mind posting a screenshot ? it will illustrate the bug well.

I've rename the subject to be about the UI

[2019-04-29 14:19] VicDeo commented on #34632
@diocas the fix was merged into master, stable10 backport is ready.
Planned for 10.3.

[2019-04-29 19:49] VicDeo commented on #33700
@JedatKinports  did you increase the limit via apache/php.ini?
One of these blocks still might have precedence:
https://github.com/owncloud/core/blob/stable10/.htaccess#L42
https://github.com/owncloud/core/blob/stable10/.htaccess#L54

[2019-04-29 20:03] VicDeo commented on #33700
@MU7L3Y you have a different issue. In the original report the PHP script tried to allocate more RAM that it is allowed for scripts by the **memory_limit** config option.
In your case `Out of memory` means that other processes ate all RAM and script didn't exceed the limit, but there is no spare  RAM on server to allocate.
In common case it means that you should **decrease** memory limit. But I'd

[2019-04-29 20:40] llorban opened #35125 "ownCloud migration (Ubuntu 18.04, MySQL 5.7)"
Just attempting to complete migrating an ownCloud instance. Running occ upgrade fails with the following message:

[code]

### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration
**Operating system**: Ubuntu 18.04

**Web server:** Apache2

**Database:** MySQL 5.7

**PHP version:** 7.2

**ownClou

[2019-04-30 07:46] ho4ho commented on #35125
Duplicate https://github.com/owncloud/core/issues/34598 + https://github.com/owncloud/core/issues/33963

[2019-04-30 08:57] #35093 closed

[2019-04-30 09:21] PVince81 commented on #34975
done in https://github.com/owncloud/core/pull/35016

[2019-04-30 09:21] #34975 closed

[2019-04-30 09:35] dpakach commented on #35089
@PVince81 @patrickjahns The problem doesnot exist in 10.1.1, Seems like it was introduced by https://github.com/owncloud/core/pull/33180/files

[2019-04-30 09:38] PVince81 commented on #35089
ok, it's a regression then. thanks

[2019-04-30 09:39] PVince81 commented on #35089
https://github.com/owncloud/core/pull/33180 is the backport of @VicDeo's code cleanup.

@VicDeo do you have any clue whether this would be an easy fix or should we revert ?

[2019-04-30 10:01] PVince81 commented on #35086
@sharidas can you debug this ?

[2019-04-30 11:38] sharidas commented on #35086
While looking into the issue, its been found that when the page is refreshed manually the `Upload cancelled` appears when the upload is cancelled every time. When the page is not refreshed the `Upload cancelled` appears for the first time when the upload is cancelled and later on it doesn't appears.

Will add more findings here.

[2019-04-30 12:41] PVince81 commented on #25470
will be released in 10.2

[2019-04-30 12:41] #25470 closed

[2019-05-02 05:51] #35086 closed

[2019-05-02 05:53] #35067 closed

[2019-05-02 08:25] PVince81 commented on #35089
@dpakach can we cover this with a UI test maybe ?

the cause of the issue was related to some code cleanup of old APIs, now we'll revert partly. there is a risk that a future backport of another related cleanup would bring this issue back in some form, so it might be worth covering this with acceptance tests then

[2019-05-02 08:25] PVince81 commented on #35089
this also means that the feature is broken currently on master

[2019-05-02 09:15] #35089 closed

[2019-05-02 10:56] PVince81 commented on #35020
for this one, simply add acceptance tests for the "Notify by email" button in the share panel, both for users and groups

[2019-05-02 10:57] PVince81 commented on #35020
already covered by unit test which checks the output, so probably not worth it

[2019-05-02 11:03] PVince81 commented on #35020
ignore

ignore

Would be nice to cover these upload scenarios as the frontend upload code is a bit twisted and fragile...

[2019-05-02 11:48] janholubek opened #35142 "Can not decrypt this file"
Hi,
two weeks ago we [migrated from User Key to Master Key encryption](https://doc.owncloud.com/server/admin_manual/maintenance/encryption/migrating-from-user-key-to-master-key.html) without any error message. Meanwhile we noticed, that about 100 (of ten thousands of) files are corrupted since they can neither be opened in the browser nor be synched. The desktop-client claims: "Can not decrypt thi

[2019-05-02 12:41] janholubek opened #35143 "Trash bin is empty, not possible to restore"
And a second problem, probably not connected my [encryption-issue](https://github.com/owncloud/core/issues/35142):

### Steps to reproduce
1. delete a file
2. go to "deleted files"

### Expected behaviour
find the deleted file in the trashbin and be able to restore it

### Actual behaviour
trashbin is empty (sometimes just after a few minutes); same via ftp (user/files_trashbin)

### Server config

[2019-05-02 20:20] thommierother commented on #35098
![Screenshot_20190502_221751](https://user-images.githubusercontent.com/6594120/57104363-6c069180-6d28-11e9-8ec1-39f5a5420efa.png)

[2019-05-03 06:47] PVince81 commented on #35098
we also had reports of users who mistakenly clicked the federrated share link instead of the regular one, maybe could also be related to length.

[2019-05-03 10:38] usman84 commented on #33897
In my case, updated memory_limit as **memory_limit = 2048M** in php.ini works for me.

[2019-05-03 15:18] skshetry commented on #32845
Note: #34298 added check for expiration date through `api`. To travel forward and backward in time will be hard(as the server could be in remote and even database could be in different machines, so controlling time would be difficult).

If we are happy with the current tests, we can close this issue.

[2019-05-04 17:56] fabianbur opened #35148 "occ files:scan The dates of creation of folders are changed to the date of the scan"
### Steps to reproduce
1. access to server via ssh
2. /var/www/owncloud
3. sudo -u www-data php occ files:scan --all

### Expected behaviour
Files with problems are indexed and appear in the web and desktop client. The original creation date of files and folders are maintained.

### Actual behaviour
Files with problems are indexed and appear in the web and desktop client. The dates of creation of

[2019-05-05 08:11] thommierother opened #35149 "10.2 RC1: Possible usability issue with OAuth: cant't add app password"
Maybe I am using the wrong steps to reproduce this but here is my observation:

environment:
Server: 10.2 RC1 owncloud server, oauth app enabled
Sync client: sync client 2.5.4 build 515 (Linux)

I want to add a sync account with a permanent app password INSTEAD of going through the oauth browser auth steps upon every start of the sync application.

1. create app password in the oc account
2. add n

[2019-05-05 20:42] ljanyst opened #35150 "Using S3 as external storage does not work"
### Steps to reproduce
1. Go to Settings > Storage
2. Add an S3 bucket and map it to a directory in the directory tree
3. The red square appears indicating that the whole thing was a fiasco

### Expected behaviour
The S3 bucket should be added to the file tree of the user.

### Actual behaviour
[code]
Apparently AWS has changed some APIs recently related to the path style lookups and the SDK you u

[2019-05-06 04:24] individual-it commented on #35051
updated also the list above with changes listed in https://github.com/owncloud/core/commit/e801e4eefa51f5d8a9d82560331d035f89ee693e and will retest them

[2019-05-06 04:26] individual-it commented on #35052
@dpakach please retest: Tidy up code for notification by email - it was fixed in RC2 [#35137](https://github.com/owncloud/core/issues/35137)

[2019-05-06 04:30] individual-it commented on #35054
updated the list above with changes in RC2 listed in e801e4e

[2019-05-06 04:30] individual-it commented on #35052
updated the list above with changes in RC2 listed in e801e4e

[2019-05-06 05:23] dpakach commented on #35052
@individual-it tested  #35137 in RC2. Works fine.

[2019-05-06 06:10] individual-it commented on #32845
there are new permissions in public shares see https://github.com/owncloud/core/pull/34983
need to add tests for that

[2019-05-06 07:46] individual-it opened #35154 "receiving a local share is not possible when a federation share with same name was received before"
### Steps to reproduce
1. install two servers with owncloud and configure federation sharing for me `http://localhost/owncloud-10.2.0/rc2_a` & `http://localhost/owncloud-10.2.0/rc2_b`
2. on server A create a user `user1_on_server_a`
3. on server B create two users `user1_on_server_b` `user2_on_server_b`
4. as `user1_on_server_a` create a folder called `to-share`
5. as `user1_on_server_a` share the

[2019-05-06 08:21] individual-it commented on #35154
also happens on 10.1.1 and 10.0.10

[2019-05-06 09:02] dpakach opened #35155 "Cannot change public link share permission to Download/View/Upload"
### Steps to reproduce
1. Create a public link share with permission `Download /View/Edit`
2. Change the share permission to `Download/View/Upload`

### Expected behaviour
- The new permission of the public link share should be `Download/View/Upload`

### Actual behaviour
- The permission of the public link share is still `Download/View/Edit`

[2019-05-06 09:06] individual-it commented on #34437
one problem we did face today trying to do that is that its difficult to have emojis in XPATH

[2019-05-06 09:26] individual-it commented on #35155
CC @sharidas

[2019-05-06 09:27] individual-it commented on #35051
@dpakach  found  a new issue - Cannot change public link share permission to Download/View/Upload #35155

[2019-05-06 11:06] sharidas commented on #35155
Created PR: https://github.com/owncloud/core/pull/35157

[2019-05-06 11:18] individual-it commented on #34760
having problems to reproduce it on master
a simple request works fine
`curl -v -X MOVE http://localhost/owncloud-core/remote.php/dav/files/admin/aaaa.txt -u admin:admin -H "Destination: http://localhost/owncloud-core/remote.php/dav/files/admin/Various%20-%2004%20-%20Jacek%20Krolik%20i%20Ryszard%20Sygitowicz%20%252F%20Crosstown%20Traffic.flac"`

also a chunked upload:
`curl  -X MKCOL -u admin:admin

[2019-05-06 11:24] dos1 commented on #34760
You should first create a file with this name and then try to overwrite it without changing its name. AFAIR what you just described already worked fine for me, it was the sync after file modification that was failing.

[2019-05-06 12:59] PVince81 commented on #35149
@thommierother not sure if oauth and app password are compatible.

usually the app password can be added directly in place of the user password when entering credentials. So instead of "user id" and "user password" just enter "user id" and "app password". Same on mobile.

@DeepDiver1975

[2019-05-06 13:00] PVince81 commented on #35148
folder creation is not relevant for ownCloud, it's not used anywhere.

does the modification time change ?

I'm not aware of any process that would touch the date/times of folders directly on disk. The scanner is not supposed to touch the storage in general.

[2019-05-06 13:02] PVince81 commented on #35142
@sharidas @cdamken is this a known issue ?

[2019-05-06 13:07] PVince81 commented on #23269
WIP PR here: https://github.com/owncloud/core/pull/29369

[2019-05-06 13:15] #17005 closed

[2019-05-06 16:31] fabianbur commented on #35148
Dear @PVince81

The modification occurs in the database, the files and folders on the hard disk remain intact. In the desktop client nothing is modified at all.

The modification appears in the web version of owncloud and in the client for Android that I use, I fear that it will also happen in the other cell phone clients.

Yes it is relevant because all folders appear in such clients as recently

[2019-05-07 04:26] individual-it commented on #34760
@dos1 thank you for the hint.
The problem is the extra `If` Header the client sends when overwriting the file. Here the complete request
[code]

see how the destination is correct `aa-%252F-aa.txt` but in the `If` Header the path is `aa-%2F-aa.txt`

I suspect that is a client issue

CC @owncloud/desktop-core-developers @ckamm

[2019-05-07 05:24] ckamm commented on #34760
@individual-it That does indeed sound likely. Will create a client issue.

[2019-05-07 06:57] #34760 closed

[2019-05-07 08:49] #35155 closed

[2019-05-07 08:50] PVince81 commented on #35155
fix was merged.
still need https://github.com/owncloud/core/pull/35166

[2019-05-07 08:51] PVince81 commented on #35150
the current goal is to do a first release of the files_external_s3 app and remove it from core.
the app files_external_s3 will have an updated AWS SDK.

see https://github.com/owncloud/files_external_s3/issues/158

[2019-05-07 08:52] PVince81 commented on #35148
ok, so it's not creation date but mtime of folders.

I don't think the scanner is supposed to touch these mtimes so would consider it a bug.

[2019-05-07 08:57] PVince81 commented on #35154
Let's defer this one. Likely an old overseen bug.

[2019-05-07 08:59] ljanyst commented on #35150
Thank you for the update! It looks like it may take some time though and, in the mean time, things are broken. Would it be possible to have a quick fix for the current setup?

[2019-05-07 09:14] PVince81 commented on #35150
quick fix would be to manually update the S3 library in the files_external folder.
would likely not be as quick as it still requires some QA to make sure it works

you might be better off using the files_external_s3 app from git as it was already reported working... we're only putting the finishing touches and doing QA

[2019-05-07 09:33] ljanyst commented on #35150
I will give it a try. Thanks!

[2019-05-07 09:50] maddinq opened #35168 "Owncloud Activity Mail Notifications not working"
Looks like everyone has this problem, same on Nextcloud. But how to fix the mail notifications for file/folder changes?

[2019-05-07 10:18] PVince81 commented on #35150
if you find issues with it please report in that repository, thanks!

[2019-05-07 10:18] #35150 closed

[2019-05-07 14:51] fabianbur commented on #35148
Ok, it is the creation date of the folders that are changed. mtimes of folders make them look that way in the web and mobile version.

[2019-05-08 06:39] bhawanaprasain opened #35174 "Bug in renaming files/folders in shared with pages"
### Steps to reproduce
1. create folder `nf1/newfolder`  `test`
2. share folder `nf1/newfolder` `test` by public link or with any users
3.  browse to `shared  with others`/`shared by link` page based on the type of share
4. try renaming `test` to `newfolder`

### Expected behaviour
Folder `test` should be renamed  to `newfolder` as `test` and `newfolder` are in different path

### Actual behaviour

[2019-05-08 06:41] thommierother commented on #35149
Yes I know, but I think of a use case where a user has oauth active for web access and uses the sync client in parallel. In the moment active oauth blocks the usage of automatic sync. I see no reason why it should not be possible to combine both auth methods on the same user account. In the log run, users could also use other identity providers for oauth access through the web interface...

[2019-05-08 06:50] bhawanaprasain commented on #35174
![sr](https://user-images.githubusercontent.com/40640347/57355438-c4f18200-718d-11e9-956f-a7df7340c837.gif)

[2019-05-08 06:53] phil-davis commented on #35174
Good find!
There are probably a few of these sort of bugs on the pages that display a list of files together that come from different source folders.

[2019-05-08 08:27] mikenye opened #35176 ""Unknown Error (38)" when mounting SMB / CIFS external storage"
### Steps to reproduce
1. Deploy docker container owncloud/server:10.1
2. Attempt to add SMB share as external storage

[code]

### Expected behaviour
External storage should mount

Connecting via `smbclient` within the container works:

[code]

### Actual behaviour
External storage does not mount.

Red square icon in web interface.

occ command shows `Unknown error (38) for /`:

[code]

Logs show

[2019-05-08 08:33] bhawanaprasain opened #35177 "Bug while renaming folders with same name in Shared by link section"
### Steps to reproduce
1.create folders `nf1` , `nf2`and `test`
2.create two sub folders  `New folder`  with same name in folders `nf1` and `nf2` and `test` subfolder in test folder
3.create public links of  subfolders `New folder` and `test`
4.Browse to Shared by link section
5.change the name of one `New folder` to `New folder1`

### Expected behaviour
one `New folder` should be renamed to `New

[2019-05-08 08:33] bhawanaprasain commented on #35177
![sr](https://user-images.githubusercontent.com/40640347/57361476-2ddff680-719c-11e9-9c26-3e14bc6c2d21.gif)

[2019-05-08 11:05] jvillafanez opened #35181 "New templates for emails"
### Problem

The current template system relies on the template to fetch anything needed. For the particular case of emails, the template **might** (or not) fetch a custom header, use a personalized message, and **might** (or not) fetch a custom footer.
It's the template's responsability to use or not the same header and footer that other templates have been using. The template might choose not to

[2019-05-08 13:09] phil-davis opened #35182 "Reorganise createTags.feature"
` tests/acceptance/features/webUITags/createTags.feature` has scenarios that test creating, removing ("untagging" a file but leaving the tag still existing in the system) and deleting tags.

- [x] Split it into 3 different feature files. (or more if there are other distinct things being tested) #35184
- [x] Add more combinations of scenarios (there are not many tested) #35241

[2019-05-09 05:03] HariBhandari07 commented on #35182
@phil-davis I have made a pull request #35184 addressing this issue. I think I will add more tests regarding creating, removing and deleting tags after this pr is merged.

[2019-05-09 07:13] janholubek opened #35187 "default expiration date for public sharing links"
### Steps to reproduce
1. set default expiration date for public sharing links to 14 days, but not enforced
2. create public sharing link and remove preset expiration date

### Expected behaviour
public sharing link doesn't expire automatically

### Actual behaviour
public sharing link expired after 14 days
settings (of other publis links) show that the expiration date is set again after initial c

[2019-05-09 07:17] individual-it commented on #35020
- [x] some simple update tests from 10.1.1 with occ and webupdater :heavy_check_mark:
- [ ]  installation of .deb package
`dpkg -i ...` created `/var/www/owncloud` but not `/var/www/owncloud/apps-external` when installing (If I remember @pvince81 correctly that is what should happen)
but then when starting the web-installer it says `Can't create or write into the apps-external directory /var/www/o

[2019-05-09 07:46] karakayasemi commented on #35187
I believe this problem fixed with https://github.com/owncloud/core/pull/34960 . It will be on next release. If you want to try, you can use RC2 tarball: https://central.owncloud.org/t/owncloud-server-10-2-0rc2-is-available/19892 or git master branch.

[2019-05-09 07:46] #35187 closed

[2019-05-09 08:00] janholubek commented on #35187
great, thank you!

[2019-05-09 08:06] individual-it opened #35189 ".deb package of 10.2.0RC2 does not create a apps-external folder"
installation of .deb package `dpkg -i ...` creats `/var/www/owncloud` but not `/var/www/owncloud/apps-external`
when starting the web-installer it says `Can't create or write into the apps-external directory /var/www/owncloud/apps-external`
packages themselves are already shipping an empty "data" folder. so we need to do the same for the "apps-external"

[2019-05-09 10:45] patrickjahns commented on #35149
@thommierother
Please correct me if I am mistaken - but the behavior you are describing is not solely tied to 10.2RC1 - it should be the same on previous ownCloud server versions with oauth2 app installed.

Let me quickly rephrase the issue - and what I understood you want to achieve - please correct this if I missed the point.

At the baseline, you are having ownCloud with oauth app installed. No

[2019-05-09 10:49] sharidas opened #35192 "Changes required for public link Download View Upload as it does not work as expected"
After discussion with PM here is the summary:
- Remove the Update permission for the `Download / View / Upload` link.
- User should be able to create file or folder with the link.
- User cannot update or modify the file with the same name. Say for example if there is a file `a.txt` in the public link with permission `Download / View / Upload` link, then user cannot upload file with same name.
- Us

[2019-05-09 12:42] pmaier1 commented on #35192
Yes, that's basically it :+1:

Adding to this:
The "Download / View / Edit" permission gives you full access => You can execute all available operations with the link. Also described here https://github.com/owncloud/docs/pull/967#discussion_r282404917.

[2019-05-09 13:05] crrodriguez commented on #35189
Allright, A new set of rc2 packages are building now.

[2019-05-09 13:25] crrodriguez commented on #35189
New set published.

[2019-05-09 13:32] PVince81 commented on #35189
@crrodriguez please confirm that setups that already have the folder will not get affected (no deletion)

[2019-05-09 13:37] PVince81 commented on #35189
I've tested the new RC2 on openSUSE Leap 15.0 on my personal server on which "apps-external" is a symlink. The upgrade of the "owncloud-files" package did not touch the folder in question.

Does Debian / apt behave the same ?

[2019-05-09 13:48] scrobbleme commented on #34464
Still not compatible...

[2019-05-09 14:37] DeepDiver1975 commented on #34464
php 7,3 support is in master - but not production ready. We require a release of sabre/dav 4.0.0 which did not happen up to now .... blame the sabre maintainers .....

[2019-05-09 14:38] DeepDiver1975 commented on #34464
which is me - so just drop our complains in here :rofl:

[2019-05-09 14:42] patrickjahns commented on #35149
Note: I've removed it from the QA milestone - as I don't consider this to be blocking the upcoming release

[2019-05-09 14:42] patrickjahns commented on #35058
@thommierother - any update/progress here?

[2019-05-09 14:44] patrickjahns commented on #35089
@PVince81 @phil-davis - do we have a ticket to track acceptance tests for this issue yet?

[2019-05-09 15:21] patrickjahns commented on #34464
@MacroMan
I don't see Ubuntu 18.04 pushing for 7.3 packages yet ( https://packages.ubuntu.com/search?keywords=php&searchon=names&suite=bionic&section=all ). Where do you base your information on?

@scrobbleme
Would be great to have you onboard and push this topic forward :-) - I believe sabre maintainers need some help with testing. And we would need also some help with testing :-)

[2019-05-09 16:12] individual-it commented on #35192
the webdav API should work the same

[2019-05-09 17:55] thommierother commented on #35149
@patrickjahns Yes, you are correct. It is mainly an issue of the client.

[2019-05-10 00:34] VamPikmin commented on #35006
I've decided to upgrade and the Seg fault is gone however I can't see any files.

Server configuration

Operating system:
Ubuntu 18.04
Web server:
Apache
Database:
mariadb
PHP version:
7.2
ownCloud version: (see ownCloud admin page)
10.1.1
Updated from an older ownCloud or fresh install:
Update
Where did you install ownCloud from:
tar.gz from the owncloud website

[code]
Only Domain Admins can acc