[2015-05-19 08:36] #15982 closed

[2015-05-19 08:46] nickvergessen commented on #16394
No, I just think that we can change this in 8.0 and not 8.2 only

[2015-05-19 08:49] davitol commented on #16410
Enabled:
 - activity: 1.2.3
 - admin_audit: 0.6
 - encryption: 1.0.0
 - enterprise_key: 0.1.0
 - files: 1.1.9
 - files_locking:
 - files_pdfviewer: 0.7
 - files_sharing: 0.6.1
 - files_sharing_log: 0.5
 - files_texteditor: 0.4
 - files_trashbin: 0.6.2
 - files_versions: 1.0.5
 - files_videoviewer: 0.1.3
 - firewall: 0.91.2
 - firstrunwizard: 1.1
 - gallery: 0.6.0
 - provisioning_api: 0.2
 - templa

[2015-05-19 08:53] jvillafanez commented on #16358
The keys were generated for version 8.1 beta 1. I think they should be valid for the version in the master branch. I've also checked that sharing is working for other external storages such as dropbox with the same users.

[2015-05-19 09:13] davitol opened #16435 "Shared files does not appear in shared with you menu using federated sharing"
### Steps to reproduce
1. Enable option Allow users on this server to send shares to other servers
2. Send a file to a user to another server
3. Go to 'shared with you' menu in server 'B'

### Expected behaviour
The files shared with the user should appear

### Actual behaviour
The list of files is empty. It only happens with federated sharing. Local behaviour is right.

### Server configuration
*

[2015-05-19 09:14] RealRancor commented on #16347
Really wonder where the table oc_fscache is coming from. This is a very old table from OC 4.5.x and previous:

https://github.com/owncloud/core/blob/v4.5.13/db_structure.xml#L56

which seems to got removed in OC 5.0.0.

[2015-05-19 09:33] fbassas commented on #16353
Sorry, messages about "files_versions" and loop of desktop client messages "Shared and 19 files have been updated" go on.

These are the last ones:

{"reqId":"aa783ea8583e97f0db038a2399908efd","remoteAddr":"147.83.94.52","app":"PHP","message":"An exception occurred while executing 'SELECT `fileid` FROM `oc_filecache` WHERE `storage` = ? AND `path_hash` = ?' with params [\"3074\", \"0fea6a13c52b4d4

[2015-05-19 09:37] oparoz commented on #16428
@rullzer - I like your idea, maybe submit a new ticket for that? Some users will be stuck with what their OS give them, but I think it's a good idea to remind non-professional admins that they should try to find ways to upgrade

[2015-05-19 09:37] davitol opened #16436 "The options/permissions in federated sharing are not visible"
### Steps to reproduce
1. Enable option Allow users on this server to send shares to other servers
2. Send a file to a user of another server

### Expected behaviour
The different permissions should be visible

### Actual behaviour
Only 'Can edit' is visible. This behaviour only happens in federated sharing

### Server configuration
**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

[2015-05-19 09:41] oparoz commented on #13168
This is crucial for any professional environment. You want one copy of each file, not several dispatched to multiple folders. It's a nightmare to keep track of revisions that way.

[2015-05-19 09:42] oparoz commented on #3812
@Bugsbane's request: https://github.com/owncloud/core/issues/13168

[2015-05-19 09:55] davitol commented on #16433
well, at least the page holder is right and changes if federated sharing is enabled.

- Share with users or groups …

turns into

Share with users, groups or remote users …

so maybe it is enough.

[2015-05-19 09:55] #16433 closed

[2015-05-19 09:56] RealRancor commented on #8441
So this is then related to https://github.com/owncloud/core/issues/7030 ?

[2015-05-19 10:09] jancborchardt commented on #16394
cc @MorrisJobke in that case. Can you work on that, or mention someone who can?

[2015-05-19 10:16] MorrisJobke opened #16438 "dbtableprefix doesn't work on MySQL"
* add `'dbtableprefix' => 'ownc_',` to `config/my.config.php`
* run the installation and use a MySQL DB

## Expected

* table names are starting with `ownc_` (this is the case for sqlite installation)

## Actual

* table names start with `oc_`

Error on installation:
[code]

cc @PVince81 @DeepDiver1975

[2015-05-19 10:23] MorrisJobke commented on #14916
This will be fixed in 8.0.4 and 8.1.0

[2015-05-19 10:23] #14916 closed

[2015-05-19 10:26] nickvergessen commented on #16394
The sev4 level is not what we are focusing on atm ;)

[2015-05-19 10:30] PVince81 commented on #14827
I'll have a look.

[2015-05-19 10:41] oparoz commented on #16386
- [ ] Turn the Gallery button into a switch https://github.com/owncloud/galleryplus/issues/145
- [ ] Add "Add to owncloud" button https://github.com/owncloud/galleryplus/issues/144
- [ ] Upload straight from the app https://github.com/owncloud/galleryplus/issues/25

[2015-05-19 10:53] jancborchardt commented on #16386
Closing this in favor of these linked issues then. Thank you for the suggestions @nclm – please give your input in these individual issues then. :)

[2015-05-19 10:53] #16386 closed

[2015-05-19 10:55] PVince81 commented on #15684
Can you check if the encryption keys exist for the files you are trying to access ? Then compare the keys location with the files that do work. Maybe something went wrong during migration of the keys to the new location.

You should be able to restore the keys from the backup folder.

Did you happen to run into a timeout during the update ? (did you do it on the cli with ./occ upgrade or on the we

[2015-05-19 10:56] PVince81 commented on #16438
The problem is the setup ignores the prefix in config.php. I didn't find any way to setup OC with a non-standard prefix.

[2015-05-19 10:58] MorrisJobke commented on #16438
How could then existing instances with a different prefix be out there? And why did it work with SQLite? And why wasn't this fixed previously? Was it an option in the installer in pre-stable7?

[2015-05-19 10:59] PVince81 commented on #16438
It probably worked with older ownClouds I guess.

The option was removed as per design decision.

Not sure why it worked with SQLite though.

[2015-05-19 10:59] MorrisJobke commented on #16438
Ah ... it was an option until ownCloud 5 ;)

[2015-05-19 11:01] PVince81 commented on #14827
I cannot reproduce this so will need to guess based on all info provided on this ticket.
So the more info, the better.

[2015-05-19 11:02] DeepDiver1975 commented on #16438
starting with oc8.1 the prefix can be used during setup using the console

[2015-05-19 11:02] DeepDiver1975 commented on #16438
case closed then?

[2015-05-19 11:02] DeepDiver1975 commented on #8441
yes

[2015-05-19 11:10] MorrisJobke commented on #16438
I just wonder why this works with SQLite but not with MySQL. BUt I'm fine with closing this. It is simp0ly not supported to set a prefix via web installer.

[2015-05-19 11:10] #16438 closed

[2015-05-19 11:13] MorrisJobke commented on #13110
This is fixed with #12401

[2015-05-19 11:13] #13110 closed

[2015-05-19 11:15] davitol opened #16439 "Disable 'Allow users on this server to send shares to other servers' option has not a right behaviour"
### Steps to reproduce
1. Enable option Allow users on this server to send shares to other servers
2. Send a file to a user of another server
3. Disable this option in server 'A'.

### Expected behaviour
The file in server B should not appear

### Actual behaviour

File in server B still appearing and if you click on it, nothing seems to happen, but  500 internal Server error occurs

### Server co

[2015-05-19 11:24] davitol opened #16441 "Restoring deleted files with Federated sharing has a wrong behaviour"
### Steps to reproduce
1. Enable option Allow users on this server to send shares to other servers
2. Create a file in server 'B' named AAA for example
3.  Delete file 'AAA' in server 'B'
4.  Send a file named AAA from another server to 'B'
5.  Restore the deleted file in 'B'

### Expected behaviour
The file restored in server B should be renamed as AAA(2) for example, when it is restored.

### Ac

[2015-05-19 11:32] jimlei commented on #15684
I had a web ui time out and then ran it in cli.

![screenshot from 2015-05-19 13 31 17](https://cloud.githubusercontent.com/assets/4523053/7701858/76afda4e-fe2b-11e4-9d1e-ea53456c41f4.png)

steam.png works, test.odt doesn't

[2015-05-19 11:38] VincentvgNn opened #16442 "How to disable user password reset?"
### Description

In issue #16388 I mentioned a problem with password reset when the encryption is on. Currently the password reset will make all data unreadable. That's one reason why I want to block the password reset.
Above my OC users are quite inexperienced computer users and therefore I want to prevent them from changing  passwords or using weak passwords. As an administrator I manage the pas

[2015-05-19 11:43] DeepDiver1975 commented on #16436
I guess this is by intention @schiesbn @jancborchardt @MTRichards THX

[2015-05-19 11:50] jvillafanez commented on #16358
I've uploaded a file to an Amazon S3 storage, and shared it with a user without the encryption keys active. An error is thrown (as expected) after trying to download the file from the "target" user. I've logout and login to generate the keys but I can't still download the file from the "target" user

In addition, I've shared another file with the same user. The file was uploaded before the keys fo

[2015-05-19 11:52] DeepDiver1975 commented on #15956
@jvillafanez thanks!

[2015-05-19 12:04] PVince81 commented on #15684
If you had a timeout then it means that only part of the files were migrated.
@schiesbn does the cli migration tool would resume migration or does a flag need to be set ?

[2015-05-19 12:11] VincentvgNn commented on #16388
This bug could be the result of the latest decision at #11395

[2015-05-19 12:50] MorrisJobke commented on #16394
Fix is in #16444

[2015-05-19 12:51] #13533 closed

[2015-05-19 12:53] MorrisJobke commented on #16442
As a first step to avoid data loss there is a big warning in ownCloud 8.0+ - see #11696

Looks like this: ![screen shot 2014-10-22 at 10 30 37](https://cloud.githubusercontent.com/assets/878997/4733220/b8a8b2a0-59c5-11e4-856d-0ed7d7c0d97c.png)

[2015-05-19 12:55] rperezb commented on #16232
ey @schiesbn is this the expected behavior for 8.2 too, just wondering for leaving the test plans with the right info.
thx

[2015-05-19 12:58] DeepDiver1975 commented on #15956
:sleeping: filling an ldap with 300000 users ... :zzz: :snail: :zzz:

[2015-05-19 13:00] MorrisJobke opened #16445 "Handle aborted transactions properly"
We introduced transactions in some code parts. We should properly handle them like described in http://doctrine-dbal.readthedocs.org/en/latest/reference/transactions.html#transactions

See https://github.com/owncloud/core/pull/13948#issuecomment-102378344
- [ ] https://github.com/owncloud/core/blob/a8b756154a533a2618f03c54aca56af957da12ae/lib/private/files/utils/scanner.php#L151
- [ ] https://gith

[2015-05-19 13:06] MorrisJobke commented on #16445
I added all occurences in core.

[2015-05-19 13:10] LukasReschke commented on #16336
Regression has been introduced with https://github.com/owncloud/core/commit/58a87d0babcb91aab75b45e630d2fc2fee15691e by @oparoz, previously it was:
[code]

Which has been changed to:
[code]

When using the `OC.generateUrl` JavaScript method it is important to note that parameters have to be specified manually such as in https://github.com/owncloud/core/blob/10d1fd1306400f61ad219c976557df6e8a431f0e

[2015-05-19 13:10] ryno83 commented on #2379
@MorrisJobke @owncloud/designers I think so !

[2015-05-19 13:11] ryno83 commented on #2379
@enoch85 I agree with you !

[2015-05-19 13:11] LukasReschke commented on #16336
PR coming.

[2015-05-19 13:22] craigpg commented on #15392
It turns out that #14551 won't help us with this particular ftp server.  The server only works with _implicit_ FTPS, a deprecated protocol, that flysystem does not support.

owncloud/consulting#8

[2015-05-19 13:28] oparoz commented on #16336
Hmm...I don't understand what's the difference between creating the params object beforehand ans creating it from within the call, as highlighted in jquery.avatar.js

[2015-05-19 13:42] VincentvgNn commented on #16442
@MorrisJobke
Thanks for your quick response.
Yes, there is a (too) big warning and I thought that I knew what I was doing. The recovery key was set. So it should work safely. Therefore I even wondered about the presence of the warning. Unfortunately there is issue #16388 and the data will be lost anyway.
Luckily I'm still in the evaluating phase.

If password recovery is not working or giving "com

[2015-05-19 13:48] floeschie opened #16448 "User management settings are not saved"
If I change the settings in the user management area, they are gone again after leaving the page. Only default user quota value is saved.

# Steps to reproduce
1. Go to user management (https://your.owncloud.site/index.php/settings/users)
1. Click the settings icon (gear) on the bottom left
1. Change the quota from unlimited to 5 GB
1. Check all checkboxes
1. Logout and login again
1. Go back to u

[2015-05-19 13:50] DeepDiver1975 commented on #16448
afaik a duplicate - we are aware of this - @MorrisJobke do you remember the issue? THX

[2015-05-19 13:55] jancborchardt commented on #2379
@ryno83 nice work! Just a few things:

* As @MorrisJobke also said, we should combine this with the [first run wizard](https://github.com/owncloud/firstrunwizard). Or rather, build it in there directly (instead of core)
* Basically you can boil it down to one screen which is a combination of the first run wizard and the personal detail fields. Some things can be removed:
  * The first screen is no

[2015-05-19 14:21] birdsystem opened #16449 "Content Security Policy error!"
### Steps to reproduce
1.Go to my repository and download conferencia app
2.Enter the Conferencia APP
3.go to your browser's javascript console
4.see the error!

### Expected behaviour
There is a folder in / templates where there is a working script, the normal behavior would generate a token so that the page was loaded when you click the button to start the conference, it needs to request access

[2015-05-19 14:33] DeepDiver1975 commented on #16449
@LukasReschke can you help out here? THX

[2015-05-19 14:33] DeepDiver1975 commented on #16449
@birdsystem basically you are trying to iframe an external resource - we disallow this for security reasons. But there are ways around this. @LukasReschke knows the magic ...

[2015-05-19 14:35] VicDeo commented on #14827
@Pantek59 a wild guess? Do you have several OC instances with different prefixes sharing the same database?

[2015-05-19 14:43] birdsystem commented on #16449
Thx @DeepDiver1975

@LukasReschke Can you help me with this? rs

[2015-05-19 14:49] ryno83 commented on #2379
This issue was moved to owncloud/firstrunwizard#25

[2015-05-19 14:49] #2379 closed

[2015-05-19 14:59] PVince81 opened #16450 "Initial skeleton files copy overwrites existing shared files"
### Steps
1. Checkout ownCloud from git (or put a file "welcome.txt" in core/skeleton)
2. Setup with admin "admin"
3. Login as "admin"
4. Edit the file "welcome.txt" and replace the contents with the string "MODIFIED"
5. Create a user "user1"
6. Share "welcome.txt" with "user1"
7. Login as "user1"
8. Check the contents of "welcome.txt"
9. Login as "admin"
10. Check the contents of "welcome.txt"
##

[2015-05-19 14:59] jancborchardt commented on #2379
@ryno83 thank you! :) Come over to our IRC channel #owncloud-design (on freenode)! :)

[2015-05-19 15:31] jancborchardt opened #16451 "Website title stays just »ownCloud« in some sections of the web app"
In the Files app for example the title changes to »Files - ownCloud« as it should. This doesn’t happen though in the Apps management, Personal, Admin, Users and Help. The titles should be changed though to reflect our pattern:

E.g

And so on.

cc @owncloud/designers @schiesbn

[2015-05-19 15:32] jancborchardt commented on #16409
@gig13 please test if the above pull requests solve the problem. Thanks!

[2015-05-19 15:35] jancborchardt commented on #16335
@oparoz so can you open a pull request to fix this? :)

[2015-05-19 15:38] oparoz commented on #16335
@jancborchardt - I can try, but I don't know much about OC's css, so I could make it worse (The C in CSS)... One solution might be to write some JS for it... Thoughts?

[2015-05-19 15:56] PVince81 commented on #13695
@MorrisJobke does this still happen on master / 8.1 ?

[2015-05-19 16:00] PVince81 commented on #16435
I'm pretty sure there were one or two duplicates for this issue but I can't seem to find it.

[2015-05-19 16:01] oparoz commented on #16450
Actually, it would be great if the skeleton copying routine could simply stop if there is existing content.

[2015-05-19 16:02] PVince81 commented on #16435
Ah, here it is: https://github.com/owncloud/core/issues/9098
It was wrongly tagged.

I'll close yours as duplicate and move over the tags.

[2015-05-19 16:02] #16435 closed

[2015-05-19 16:04] oparoz commented on #16448
Hmmm... Shouldn't this be a showstopper? Users not being able to save their settings sound like a pretty big deal to me.

[2015-05-19 16:11] schiesbn commented on #16358
That's as expected. The owner needs to reshare the file after the target user has created his keys. That's also what the error message tells you.

In this case the download should work. It works for me with Samba.

[2015-05-19 16:14] PVince81 commented on #16450
True. Maybe have a user flag in the database that says that the user has already been setup.

But in this specific use case the user has not be setup yet, but people might still be able to share stuff with them before their first login, which is a valid use case.

[2015-05-19 16:14] jancborchardt commented on #16172
I can still not reproduce this. @owncloud/designers @blizzz can you?

[2015-05-19 16:20] PVince81 commented on #16397
In OC <= 8.0 the cleanup routine runs in the login hook. Which means it happens only when the user logs in. It can be rare when using the "remember me cookie" or using an always running sync client that pings the server often.

In OC >= 8.1 it should happen in cron (still to be confirmed)
Marking as duplicate of https://github.com/owncloud/core/issues/14646

[2015-05-19 16:20] #16397 closed

[2015-05-19 16:22] iliyasbasir commented on #16343
Here is note from customer
[code]

[2015-05-19 16:22] PVince81 commented on #16393
I think this is not a valid use case: encrypted files should never be accessed through any other means than the original storage instance that was used to encrypt them.

This means that an admin should never setup two external storage instances that point to the same encrypted data. That will not work as they will be using different keys. ownCloud interprets them as different storages.

Closing as

[2015-05-19 16:22] #16393 closed

[2015-05-19 16:23] PVince81 commented on #16393
I wonder if this should get documented though.

CC @carlaschroder @MTRichards

[2015-05-19 16:23] oparoz commented on #16336
I've been enlightened, the parameters have to be specified in the URL as the method has not been designed to automagically add them.

[2015-05-19 16:25] PVince81 commented on #16336
@oparoz here comes your enlightenment :high_brightness:

[2015-05-19 16:26] oparoz commented on #16336
:dancers:

[2015-05-19 16:27] PVince81 commented on #16408
Hmm, but mixed casing is allowed on the server side (and was always, except on Windows servers)

That's a bigger discussion about what is allowed in file names, this discussion will need to continue at some point @dragotin @DeepDiver1975 @danimo

[2015-05-19 16:37] PVince81 commented on #16448
Works for me on master. Let me try 8.0.3.

[2015-05-19 16:40] PVince81 commented on #16448
Okay, small nuance:

On 8.0.3:
- saving the default quota works (there is a "setquota.php" ajax call directly after changing)
- saving the checkboxes state doesn't trigger any ajax call

So basically this is about the checkboxes, not the default quota.

[2015-05-19 16:43] PVince81 commented on #16448
I checked the user management page enhancement summary  and didn't see such item: https://github.com/owncloud/core/issues/12998

So either saving checkboxes stopped working for some reason and it's a bug, or saving them was never implemented in the first place ?

@MorrisJobke @LukasReschke

[2015-05-19 16:48] PVince81 commented on #16383
Hmmm, upgraded from OC 7.

Did you experience a timeout while the upgrade was running ?
It is likely that not all encryption keys were migrated.

Please try running `./occ encryption:migrate-keys`. It should hopefully migrate the remaining keys.

[2015-05-19 16:51] dvwallin commented on #12300
Any progress on this? Im having the same issues.

[2015-05-19 16:51] PVince81 commented on #15684
Please try running `./occ encryption:migrate-keys`. It should hopefully migrate the remaining keys.

[2015-05-19 16:52] LukasReschke commented on #16336
Sorry @oparoz that I couldn't reply on this. Had to catch my bus as I'm travelling atm. But glad you got enlightened :smile:

That said, confusing method… Yes…

[2015-05-19 16:55] LukasReschke commented on #16448
Saving them was never implemented. Duplicate of https://github.com/owncloud/core/issues/12727.

[2015-05-19 16:55] #16448 closed

[2015-05-19 16:56] oparoz commented on #16336
No worries :ok_hand: I just had forgotten how that method works. It gets confusing when you write your own. You assume the others work like yours.

[2015-05-19 17:13] LukasReschke commented on #16449
ownCloud uses a secure by default security model and thus employs security measures such as the Content-Security-Policy (CSP), in this case this is exactly what is causing problems.

In a nutshell: CSP is a header that allows instructing any modern decent browser (which as usual excludes Internet Explorer :see_no_evil:) to not load specific resources or forbid potential dangerous actions. Especial

[2015-05-19 17:13] #16449 closed

[2015-05-19 17:14] LukasReschke commented on #16449
`*` acts as a wildcard, specifying specific domains would be better but I don't know what your code has to connect to etc…

[2015-05-19 17:26] birdsystem commented on #16449
I got it!
I entered the contentsecuritypolicy.php and added the exceptions in variables

Thank you very much for your help!

PS: There is some content about sharing this page to another User? the script that I have created that it was a public page so when a second User want to enter the conference with the generated token, he could do that!

thanks again

[2015-05-19 18:52] etiess commented on #16330
@jnweiger Any update on this one? Thank you!

[2015-05-19 19:18] MTRichards commented on #16393
Gould idea to document this inside the standard encryption documentation.

[2015-05-19 19:26] MTRichards commented on #16393
Gould idea to document this inside the standard encryption documentation.

[2015-05-19 20:43] iliyasbasir opened #16454 "ownCloud Database issue"
[3194]

#### Summary of issue:
Getting "not null" constraint violation when performing upgrade (Oracle)
#### Actual behavior
It's should be upgrade oC without this issue
#### Step to reproduce
Run upgrade.
#### Server configuration

Red Hat Enterprise Linux Server release 6.6 (Santiago)
httpd-2.2.15-39.el6.x86_64
php-common-5.3.3-40.el6_6.x86_64
owncloud-enterprise-7.0.5-3.1.noarch
storage is a ci

[2015-05-19 22:45] BloodyIron commented on #16346
@rullzer

Well, I opened it as a bug since the description and documentation didn't match the behavior. But that's semantics and history now.

I for one would greatly appreciate your help on this. Having granular control in such a way that serves me to control who can and cannot share based on group membership would be quite helpful.

[2015-05-20 02:50] thejrose1984 opened #16455 "FreeNAS not supported?"
I noticed ownCloud has a plugin in FreeNAS and can be installed using a `pkg install owncloud` command. I'm assuming those installs are third party?

[2015-05-20 06:20] #16336 closed

[2015-05-20 06:50] jvillafanez commented on #16358
@schiesbn anything I can check to verify that everything is properly setup? I'm out of ideas

[2015-05-20 06:53] davitol commented on #16394
Fixed :+1:

[2015-05-20 07:00] RealRancor commented on #16455
Hi,

please note that this is a bugtracker where bugs and feature requests for ownCloud are reported. Such general questions are better placed at either the forums:

https://forum.owncloud.org/

or the user mailinglist:

https://mailman.owncloud.org/mailman/listinfo/user

[2015-05-20 07:07] karlitschek commented on #16454
I don't understand this problem. No one should manually change db schema of owncloud. Please provide a full bug report as described here
https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

[2015-05-20 07:14] MorrisJobke commented on #15589
Backport also merged -> close

[2015-05-20 07:14] #15589 closed

[2015-05-20 07:16] davitol commented on #16192
:+1: fixed

[2015-05-20 07:27] jvillafanez commented on #16358
I'm starting to think that I have a big mess regarding the sharing. I have a set of files in different storages, some of them shared with the same user. I guess that one of those "conflictive" files is shared from several sources, and the sharing app chooses the wrong source

[2015-05-20 07:29] MorrisJobke commented on #12190
Backport is in #16456

[2015-05-20 07:29] MorrisJobke commented on #13533
Backport is in #16456

[2015-05-20 07:36] MorrisJobke commented on #16394
@davitol The ticket gets closed automatically once the code is in the master branch and accepted. Until the branch is merged, the ticket has to stay open, because it is only solved in a side branch.

[2015-05-20 07:37] SergioBertolinSG opened #16457 "SFTP external storage doesn't allow to upload files with a white space after url and port."
### Steps to reproduce

1. Enable external storage app.
2. Mount a SFTP folder using this configuration 'url:port ' don't miss the whitespace, it is the key.
3. Upload files to the folder.

### Expected behaviour
Files are uploaded.

### Actual behaviour
Internal server error.

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:**
MySQL

**PHP version:*

[2015-05-20 07:40] davitol commented on #16394
@MorrisJobke OK, thanks for the info.

[2015-05-20 07:50] SergioBertolinSG commented on #16457
It is fixed in master, it is just a beta2 problem.

[2015-05-20 07:51] Xenopathic commented on #16457
What SFTP configuration did you use? It seems likely the problem is with a malformed URL, as the fault at https://github.com/owncloud/3rdparty/blob/master/phpseclib/phpseclib/phpseclib/Net/SFTP/Stream.php#L175 is caused by `parse_url()` returning something other than an array.

cc @bantu

[2015-05-20 07:55] slvaningen opened #16458 "Typo in favorite screen"
![getoont](https://cloud.githubusercontent.com/assets/12525381/7721245/369b2dae-fed6-11e4-8537-7b6ca1f7d9c9.PNG)

[2015-05-20 07:58] MTRichards commented on #9878
To be honest, if video viewer is disabled, it should not show up.and force the video stream.
Perhaps I missed something, but this is non-intuitive, and a bug in my book.
@DeepDiver1975 what am I missing? (not worrying about timelines - just verifying)

[2015-05-20 08:02] karlitschek commented on #16458
Translation errors like that are handled on transfix. Please report the bug there. Thanks
http://www.transifex.com/projects/p/owncloud/

[2015-05-20 08:02] #16458 closed

[2015-05-20 08:30] butonic commented on #15392
For reference: when the ftp server does not support MLST/MLSD (indicated by MLST in the FEAT response) we would have to parse the more or less human readable LIST response. See [FileZilla src](https://github.com/michaellukashov/Far-NetBox/blob/master/src/filezilla/FtpListResult.cpp#L43) for examples. One word: insane. A regex catching some but by far not all of them it [stackoverflow](http://stack

[2015-05-20 08:30] nickvergessen commented on #16346
@BloodyIron for now you can change it yourself.
`lib/private/util.php`:
find
[code]
replace with
[code]

[2015-05-20 08:31] jvillafanez commented on #16358
I cannot reproduce the issue now. I've checked with different external storages active at the same time. I think the issue could be due to several storages (specially SMB one) pointing to the same server, with and without encryption. After cleaning the storages list a bit I haven't been able to reproduce the issue, so closing for now.

[2015-05-20 08:31] #16358 closed

[2015-05-20 08:33] davitol opened #16460 "Editing a file, clicking on the name in the editor makes New button appear."
### Steps to reproduce
1. Log in owncloud
2. Edit a file
3. Click the file name up-lefted.

### Expected behaviour
The 'new button' appears

### Actual behaviour
The 'new button' should not appear. It only happens if you first do the steps just after log in.

### Server configuration
**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

**Database:** mysql

**PHP version:** 5.5.9

**ow

[2015-05-20 08:42] MorrisJobke commented on #16442
@jancborchardt Regarding the UX component of this specific issue

[2015-05-20 08:51] PVince81 commented on #14827
I tried the following steps with Mariadb 10.0.17:
1) Setup OC v7.0.4
2) Enable the documents app (also v7.0.4 version)
3) Create a document, type something, close
4) Update to 8.0.3
5) Enable the documents app (the v8.0.3 version)

It worked fine.

[2015-05-20 08:51] jknockaert commented on #16356
@jvillafanez Can you try the fix in #16452?

[2015-05-20 08:52] etiess commented on #16330
For information, the command "sudo apt-cache policy owncloud" gives this result:

owncloud:
  Installed : 8.0.2-8
  Candidate : 8.0.3-2
 Version table:
     8.0.3-2 0
        500 http://download.opensuse.org/repositories/isv:/ownCloud:/community/xUbuntu_15.04/  Packages
 *** 8.0.2-8 0
        100 /var/lib/dpkg/status

[2015-05-20 08:55] PVince81 commented on #14827
Updating 7.0.4->8.0.2 also works (which seems to be the version reported here)

[2015-05-20 08:55] MorrisJobke commented on #15340
stable8: #15672

[2015-05-20 08:56] PVince81 commented on #14827
@VicDeo does the documents app do anything with the privatedata table ? I don't really see the correlation.

[2015-05-20 08:59] SergioBertolinSG opened #16461 "Files app can't show thumbnails of BMP pictures"
### Steps to reproduce

1. Upload BMP files.

### Expected behaviour
there is a thumbnail.

### Actual behaviour
In chrome there is no thumbnail.

![screen shot 2015-05-20 at 10 58 27](https://cloud.githubusercontent.com/assets/9048796/7722312/3638ccdc-fedf-11e4-9613-bba785bd6a9b.png)

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:**
MySQL

**PHP v

[2015-05-20 09:01] PVince81 commented on #14827
From what I remember, indices are not namespaced, they have no table prefix. See https://github.com/owncloud/core/pull/14658

Do you guys @Pantek59 @sisyphosloughs @droghio have multiple ownCloud instances using the same database but different table prefixes ?

If yes, then the index names will clash.

[2015-05-20 09:11] #15430 closed

[2015-05-20 09:15] #16394 closed

[2015-05-20 09:16] SPCnet commented on #15898
We have just installed ownCloud 8.0.3 (stable) and configured the ldap authentication with a Active Directory Win 2008R2.

The Owncloud server is a CentOS release 6.6 (Final) with php5.4

When login, this error is displayed:

{"reqId":"48153d1c3681ed0a5d5ca09cb31f7ffe","remoteAddr":"172.20.10.11","app":"core","message":"Login failed: 'spcnet' (Remote IP: '172.20.10.11', X-Forwarded-For: '')","leve

[2015-05-20 09:26] varad-14 commented on #16212
Hi,

Anybody can give suggestion to try something else for my issue ?

Varad

[2015-05-20 09:28] ckamm commented on #15189
@razyr Which client version was it that had the blacklist columns path, lastTryEtag, lastTryModtime, retrycount, errorstring but not lastTryTime and ignoreDuration? These two should exist since 1.7 and make sure blacklist entries get cleared regularly.

[2015-05-20 09:35] nickvergessen commented on #16461
Is this specific to chrome?

[2015-05-20 09:36] PVince81 commented on #16441
There was a bug related to restoring files where it would overwrite existing files, unrelated to federated clouds: https://github.com/owncloud/core/issues/16246

Maybe the detection of existing files doesn't work properly in this specific case.

[2015-05-20 09:38] nickvergessen commented on #16460
Wrong repo, reported at files_texteditor: https://github.com/owncloud/files_texteditor/issues/75

[2015-05-20 09:38] #16460 closed

[2015-05-20 09:41] PVince81 commented on #16441
Works for me on master (12aef311154f12050c4e33492dac1fb1c928060d)
It is very likely that this was fixed as part of https://github.com/owncloud/core/issues/16246

[2015-05-20 09:41] #16441 closed

[2015-05-20 09:41] nickvergessen commented on #16450
Sounds like a case for smashbox?

[2015-05-20 09:42] PVince81 commented on #16450
Yes, would be good to cover that.

[2015-05-20 09:43] nickvergessen commented on #16450
Created https://github.com/owncloud/smashbox/issues/87

[2015-05-20 09:45] PVince81 commented on #16439
The first thought I had was to delete the existing shares whenever the admin disables "allow users to send shares". But the problem is that they might be link shares (which are still allowed).
There is always the risk of the admin clicking on the wrong checkbox and then the shares would be gone.

The second option which is probably better and quicker to fix is to fix the 500 to actually be a 404.

[2015-05-20 09:46] SergioBertolinSG commented on #16461
Yes, not happening in firefox, safari or ie.

[2015-05-20 09:55] MorrisJobke commented on #16394
backport requested in #16462

[2015-05-20 09:58] PVince81 commented on #16439
Hmm looks like the other option "allow users to receive shares" also does not remove the mount points.

[2015-05-20 09:59] jancborchardt commented on #16442
Well the UX component is that https://github.com/owncloud/core/issues/16388 should damn probably be fixed. :D

Then we _could_ add an option to disable user password reset. But honestly people forget their password so often that I’m really reluctant to do that. If they constantly need to run to the admin to ask for a new one they will quickly stop using ownCloud.

[2015-05-20 10:07] MorrisJobke commented on #13695
Yes. Still happens. With both being master.

[2015-05-20 10:11] MorrisJobke commented on #16172
I can't reproduce. Firefox 38.

Any extensions enabled?

[2015-05-20 10:11] MorrisJobke commented on #16172
@davitol Which apps are enabled? Which theme?

[2015-05-20 10:12] #16192 closed

[2015-05-20 10:14] PVince81 opened #16464 "Text preview not available when outgoing s2s shares disabled"
The new text preview from @oparoz is using public.php/webdav to load the text file.

This is not a problem with previews, but rather with the way the endpoint was designed to work.
Also at some point we'd like to make the files app use WebDAV endpoints too https://github.com/owncloud/core/issues/12353 so I think it is valid to expect the public WebDAV endpoint to always work too.

The workaround h

[2015-05-20 10:18] oparoz commented on #16464
I didn't think public.php/webdav could be disabled...

[2015-05-20 10:18] PVince81 commented on #16439
We have a checkbox in the admin page called "Allow users on this server to send shares to other servers".
When disabling it, public.php/webdav becomes unavailable, as it is usually used for such shares.

I think we have some kind of conflict here.
Ideally the public webdav should always be available for the previews (it is used by text previews https://github.com/owncloud/core/issues/16464) and al

[2015-05-20 10:20] BernhardPosselt opened #16466 "Rootfolder not usable in TestCase Tests"
Hi, I'm trying to debug https://github.com/owncloud/notes/issues/107 by creating an integration test but certain filesystem features seem to fail when using filesystem operations in a TestCase test.

This is the test class https://github.com/owncloud/notes/blob/master/tests/integration/controller/NotesApiControllerTest.php

Everything works fine until I've added a call to get the root folder https

[2015-05-20 10:21] PVince81 commented on #16464
I might be the one who recommended it to you... sorry... back then I forgot that it could be disabled.

[2015-05-20 10:25] nickvergessen commented on #14827
Well they should crash on install already and also it happens without any apps. So that should not be the problem with the update. but other then that I can not reproduce it aswell.

[2015-05-20 10:27] oparoz commented on #16464
I still think it's the right approach, but that means finding a way to disable s2s another way and that doesn't seem trivial.

[2015-05-20 10:27] PVince81 commented on #16464
Yeah, that's what I think too. Public WebDAV should always be enabled.

[2015-05-20 10:28] PVince81 commented on #16439
Here is a short term fix https://github.com/owncloud/core/pull/16465, but this is only to prevent the 500 error on the connecting server and have it detect that the share is not available any more.

[2015-05-20 10:29] PVince81 commented on #16464
Well, there might be ways to disable s2s for "friendly" server like telling them gently to stop connecting, but it's not a "safe" solution as there will always be ways to connect.

[2015-05-20 10:30] oparoz commented on #16464
Yep and that's a problem.
Wouldn't it be possible to fix this via policies? Only local calls allowed when s2s is disabled.

[2015-05-20 10:32] PVince81 commented on #16464
What kind of policies ?
If we think about detecting the origin of the public.php/webdav call, it will always be remote, either from a browser or from a remote ownCloud (or any other cloud server that supports it).

[2015-05-20 10:33] oparoz commented on #16464
I was thinking "domain of the requester should match domain of the endpoint"

[2015-05-20 10:34] PVince81 commented on #16464
So basically checking the "Referer" header ? That could work as a simple fix, as the field could be spoofed if a (hacked?) remote server absolutely does want to connect.

[2015-05-20 10:35] PVince81 commented on #16439
If an admin wants to really avoid remote mounting, they should disable both "public link" and "allow sharing with remote users".

[2015-05-20 10:36] oparoz commented on #16464
Yes, referer header of via CSP or using the CSRF?

[2015-05-20 10:36] oparoz commented on #16464
@LukasReschke - Tell us what to use! :)

[2015-05-20 10:36] PVince81 commented on #16464
@LukasReschke some magic keywords mentioned above :star2: blingblingbling :star:

[2015-05-20 10:37] PVince81 commented on #16464
I think we're not talking "watertight" security here, just a way to gently prevent remote servers to mount local shares.

[2015-05-20 10:41] PVince81 commented on #12662
@StefanSchaub did it work ? :smile:

[2015-05-20 10:42] PVince81 commented on #16436
This is by design for now.

Federated sharing is based on public links which only had "read-only" or "read-write" permissions.

So here would rather be the question: do we want to have extended permissions too ?
I'd personally rather we remove the extra permissions from the regular shares to simplify everything and make it more obvious: https://github.com/owncloud/core/issues/12970

Tagging as enh

[2015-05-20 10:43] PVince81 commented on #16436
Also, moving to 8.2. Even if we were to add these, this is not something that can easily be done in 8.1

[2015-05-20 10:47] PVince81 commented on #16407
It might also depend on the FTP server. Some might deliver proper mtimes (in a format that the FTP stream wrapper from PHP is able to read) which makes it possible to detect updates. Some others might not.

[2015-05-20 10:55] PVince81 commented on #14646
It's not fixed in 8.1.

The thing happening in cron is cleaning up the other cache in "/tmp/oc_tmp_*" which I believe is used by LDAP.

To clean chunks for every user one might need to iterate over all users during cleanup (think LDAP).

[2015-05-20 10:58] #16455 closed

[2015-05-20 10:59] SergioBertolinSG commented on #16348
Tested in
{"installed":true,"maintenance":false,"version":"8.1.0.6","versionstring":"8.1 beta 2","edition":"Enterprise"}
working fine.

[2015-05-20 11:00] davitol commented on #16172
@MorrisJobke

Enterprise

Enabled:
 - activity: 1.2.3
 - admin_audit: 0.6
 - encryption: 1.0.0
 - enterprise_key: 0.1.0
 - files: 1.1.9
 - files_locking:
 - files_pdfviewer: 0.7
 - files_sharing: 0.6.1
 - files_sharing_log: 0.5
 - files_texteditor: 0.4
 - files_trashbin: 0.6.2
 - files_versions: 1.0.5
 - files_videoviewer: 0.1.3
 - firewall: 0.91.2
 - firstrunwizard: 1.1
 - gallery: 0.6.0
 - provi

[2015-05-20 11:04] razyr commented on #15189
@ckamm It was the 1.7.1 client.
![2015-05-20_07-03-08](https://cloud.githubusercontent.com/assets/8116645/7724293/74c33738-febe-11e4-8b73-bcf30cc3884a.jpg)

[2015-05-20 11:06] PVince81 commented on #16335
It looks like you removed the min-height here: https://github.com/oparoz/core/commit/8d3f88cf16f86212861db996023dadf1fb3e310f#diff-b145bf1a735fa4639d561f4352a0b45fL5

In general I don't like the fact that the file list is inside of "#preview", but that's inherited from legacy stuff. To be cleant up one day with likely side effects.

It might be possible to move the min-height to the file list cont

[2015-05-20 11:12] PVince81 commented on #16295
Will do

[2015-05-20 11:18] babelouest commented on #12300
@dvwallin , not on my side, I moved owncloud core files to /usr/local to prevent the problem

[2015-05-20 11:26] DeepDiver1975 commented on #15781
so  i guess we can close this now - thx @nickvergessen for taking care

[2015-05-20 11:26] #15781 closed

[2015-05-20 11:28] SergioBertolinSG commented on #16264
Tested in 8.1.0.6, the error message is not enough clarifying.
This error message is not well shown in chrome. In firefox it's just too simple.

Chrome message:
![screen shot 2015-05-20 at 13 20 26](https://cloud.githubusercontent.com/assets/9048796/7724626/6eb6e260-fef3-11e4-8ab2-db7d81398504.png)

Firefox message:
![screen shot 2015-05-20 at 13 25 34](https://cloud.githubusercontent.com/assets/9

[2015-05-20 11:29] PVince81 commented on #16295
Looks like the sorting is a mess.
There is server side sort and client side sort.
The client side sort is always run and sorts by level (and I'll add sort by name if the level is the same). This is regardless of the selected section.

Now I also see that some apps don't even have a "level" field. What's the default level to use then ?

[2015-05-20 11:38] PVince81 commented on #16295
Ok, I'll make them default to 0. This means that experimental apps will now properly be listed at the end of the list instead of the top.

[2015-05-20 11:42] PVince81 commented on #13391
This PR https://github.com/owncloud/core/pull/13948 should hopefully make it less likely, it makes the DB update after renaming/moving folders faster. But there can still be a small window of failure.

[2015-05-20 11:44] PVince81 commented on #16295
Fix is here: https://github.com/owncloud/core/pull/16467

[2015-05-20 11:45] oparoz commented on #16335
I don't think it affects the files list. It's only for single file previews.

I'm going to test if re-introducing a min-height of 200px works in all cases

[2015-05-20 11:46] PVince81 commented on #16335
Thanks @oparoz

[2015-05-20 11:51] PVince81 commented on #15994
Thing is, we cannot detect whether a rename (or any other operation) is in progress when going back to the original folder. We could keep it cached, but that sounds a bit like overkill. Also if you go to that folder in a separate browser window, you'd get the same symptoms as you have now.

I think the reason why you see the files on disk but not in the web UI is because the database has not updat

[2015-05-20 11:52] PVince81 commented on #15981
This PR fixes it: https://github.com/owncloud/core/pull/16075

[2015-05-20 11:52] #15981 closed

[2015-05-20 12:03] nickvergessen commented on #16344
### Other steps to reproduce the issue:

1. Create two user
2. As user1 create file `test.txt`
3. As user1 share file `test.txt` with `user2@localhost`
4. As user2 accept the share
5. As user2 edit the file
6. As user1 open the file with the files_texteditor

### Expected
See the files content.

### Actual
The content is shown encrypted

### Additional fun

7. As user1 replace the content of the f

[2015-05-20 12:06] nickvergessen commented on #16344
### Sync client problem

1. Create two user
2. As user1 create file `test.txt`
3. As user1 share file `test.txt` with `user2@localhost`
4. As user2 accept the share
5. Start a sync client for user2
6. Sync files for user2 with the client
7. As user2 edit the file
8. Sync files for user2 with the client

### Expected
The file is updated

### Actual
The file is kept as before and a conflict file is

[2015-05-20 12:10] cdamken opened #16468 "[8.0.2] fileglobalgc.php errors"
I have in the log file many errors like this (3,600,000, about 97 % of my log file in 2 months):
[code]

https://github.com/owncloud/core/blob/v8.0.2/lib/private/cache/fileglobalgc.php#L50

Could you give me some hints how to solve it?

@MorrisJobke

00003190

[2015-05-20 12:15] MorrisJobke commented on #16468
Fixed in 8.0.3 and 8.1 #15079

[2015-05-20 12:15] #16468 closed

[2015-05-20 12:18] ati562 commented on #15994
Thank you for trying to help with this.

I would like to add just several details. The use-case for reproduction (in bug description) was just a simple use case. I first noticed this issue when I was trying to rename a folder with a lot of files and sub folders. The operation took really long (I was presenting how great is OC to my friend;) so after 6-7 seconds I tried to click an other directory

[2015-05-20 12:26] non7top opened #16470 "Sharing files by direct link"
I'm looking for a way to use the owncloud sharing to add pictures to forums, discussion boards and similar stuff. I'm able to extract the link like
`http://localhost/index.php/apps/files_sharing/ajax/publicpreview.php?x=1596&y=979&a=true&file=%25D0%2591%25D0%25B5%25D0%25B7%25D1%258B%25D0%25BC%25D1%258F%25D0%25BD%25D0%25BD%25D1%258B%25D0%25B9.png&t=6s0x3RfjZY1C6lD&scalingup=0` but it is not usable

[2015-05-20 12:26] cdamken commented on #16468
Super! Thanks!

[2015-05-20 12:29] MorrisJobke commented on #16439
@PVince81 Can this be closed now?

[2015-05-20 12:49] schiesbn commented on #16344
@th3fallen could you reproduce the issue? Do you already work on a solution?

[2015-05-20 12:49] jancborchardt commented on #16172
@davitol:
* try disabling the theme. Does it still happen?
* disable all apps. Does it still happen?

[2015-05-20 12:58] nickvergessen commented on #16344
Works without encryption just fine

Indeed also happens without encryption, so I will create a new issue?

[2015-05-20 13:17] MorrisJobke commented on #16470
@LukasReschke @jancborchardt Wasn't there a similar proposal somewhere? I couldn't find it anymore.

[2015-05-20 13:18] VicDeo commented on #14827
@PVince81 >does the documents app do anything with the privatedata table ?

No, it doesn't. But it had an autoincrement column for `oc_documents_op` table (keys  such columns are created automatically) and an explicitly declared index on this column, just like the `privatedata` table does.

[2015-05-20 13:21] MorrisJobke commented on #16470
Somehow slightly related to #1167 where the filename inside the URL is also mentioned

[2015-05-20 13:45] th3fallen commented on #16344
@schiesbn im able to duplicate it but haven't been able to solve it yet. I do know that user 1 would never be able to edit the file again since encryption is going to encrypt the file user2 edited with their keys and since user1 who is on the other server doesn't have encryption enabled he has no keys to encrypt it with.

So we need an exclusion in the wrapper is my guess there. As for the decrypt

[2015-05-20 13:46] nickvergessen opened #16471 "Can not sync edited remote share file"
### Sync client problem

1. Create two user
2. As user1 create file `test.txt`
3. As user1 share file `test.txt` with `user2@localhost`
4. As user2 accept the share
5. Start a sync client for user2
6. Sync files for user2 with the client
7. As user2 edit the file
8. Sync files for user2 with the client

### Expected
The file is updated

### Actual
The file is kept as before and a conflict file is

[2015-05-20 13:49] nickvergessen commented on #16344
@th3fallen just a side note: I used the same instance for both users on my test. (so both users having encryption enabled and having keys set up previous to the action)

[2015-05-20 14:11] nickvergessen commented on #15018
@Babzsak did you have any chance to test this?

[2015-05-20 14:12] nickvergessen commented on #16471
Well I guess it's a duplicate of https://github.com/owncloud/core/issues/14726

[2015-05-20 14:32] davitol commented on #16172
@jancborchardt it still happens (community, no apps enabled)

![barraoverg](https://cloud.githubusercontent.com/assets/10596560/7728142/adeb16e4-ff0d-11e4-94e5-3eda54218b4e.gif)

[2015-05-20 14:48] #16335 closed

[2015-05-20 14:51] PVince81 commented on #16439
Ok, then let's continue the discussion here: https://github.com/owncloud/core/issues/16464 (that tickets illustrates better what is wrong with our API)

[2015-05-20 14:51] #16439 closed

[2015-05-20 14:53] fxshpac opened #16472 "Share a folder to a user at a specified path"
I found out that I can share a folder to another user using pyocclient command line tool which is cool. However, the current behavior is that whenever a folder is shared to that user, the folder shows up at root level of that user's file view. So i have to manually login as that user and move the folder to the specified path which will then get synced across to that user. Is there a command which

[2015-05-20 14:57] iliyasbasir commented on #16454
Here is Comment from customer

[code]

[2015-05-20 15:13] RealRancor commented on #16472
Hi,

the default behavior is that new files and folders are always ending up in the root folder. This can be overwritten globally in your config.php:

https://github.com/owncloud/core/blob/v8.0.3/config/config.sample.php#L768-L771

P.S. Normally this is a question which is better placed at the forums or the users mailinglist.

[2015-05-20 15:19] PVince81 commented on #16141
Works for me without encryption.

With encryption I have a different behavior than described.
There have been many fixes with trashbin and encryption, so the original issue was likely to be solved.

Now to the new bad behavior: after I restore the folder from trash, the folder is back. But the file that was in it appears TWICE in the web UI!

[2015-05-20 15:21] PVince81 commented on #16141
I'll raise this separately to avoid confusion.

[2015-05-20 15:21] #16141 closed

[2015-05-20 15:22] davitol opened #16474 "Files are not shared using federated-sharing between ownclouds of different versions"
### Steps to reproduce
1. Enable option Allow users on this server to send shares to other servers
2. Send a file to a user of another server

### Expected behaviour
The file in server B should appear

### Actual behaviour
User in server A has the shared notification in his file.
User in server B accepts the sharing but the file never appears.

### Server configuration
**Operating system**: ubuntu

[2015-05-20 15:22] davitol commented on #16474
@PVince81 ?

[2015-05-20 15:27] PVince81 opened #16475 "File restore from trash to ext storage appears twice in web UI"
### Steps to reproduce
1. Enable encryption + default encryption module
2. Log out, log in
3. Enable external storage
4. Mount a SFTP storage under "/sftp"
5. Create a folder "/sftp/enc".
6. Create a file "/sftp/enc/test.txt"
7. Edit and save the file several times to create versions
8. Delete the folder "/sftp/enc" to trash
9. Restore the folder "enc" from trash
10. Check the contents of "/sftp/e

[2015-05-20 15:27] PVince81 commented on #16141
Raised here: https://github.com/owncloud/core/issues/16475

[2015-05-20 15:28] iliyasbasir commented on #16454
Here is screen shot

![image](https://cloud.githubusercontent.com/assets/10195796/7729538/599862e2-fee3-11e4-895d-1cdf798e0f69.png)

[2015-05-20 15:29] PVince81 commented on #16474
I don't think it's valid to test against older alpha versions as they might be broken and are not a valid deployment scenario.

However testing 8.1 (latest) connecting to 8.0 and the other way around makes sense.

[2015-05-20 15:31] oandarilho01 opened #16476 "LDAP issue: some users can't login on the web, but remote desktop login works"
### Steps to reproduce
1. RDP session with terminal service works, user can log in
2. Web client login don't. Lost password message issued. Owncloud log register "Invalid credentials" and "Login failed" messages.

### Expected behaviour
Users should be able to login on the web client.

### Actual behaviour
Web client login don't. Lost password message issued. Owncloud log register "Invalid credent

[2015-05-20 15:31] SergioBertolinSG commented on #16141
Tested on 8.1.0.6, it is fixed, a bit slow but it works.

[2015-05-20 15:34] PVince81 commented on #16475
Very strange: I checked with the DOM inspector and found that the entries have a different file id: 20 and 55.
I checked the database:
[code]

One of the entry is from the the trashbin ?!

However, on disk the "files_trashbin" folder is empty.
So there are two issues here:
1) The cache entry for the restore trashbin entry has not been deleted properly
2) Some weird bug is showing cache entries fro

[2015-05-20 15:37] SergioBertolinSG commented on #16475
Reproduced using 8.1.0.6

[2015-05-20 15:38] PVince81 commented on #16475
Ok I found something: when calling `getFolderContentsById()` we use the "parent" field.
And as you can see in the file cache entries above, they BOTH have the same "parent" value.

Something went wrong between cross-storage move. It seems we missed to update the "parent" field.

CC @icewind1991

[2015-05-20 15:38] PVince81 commented on #16475
I'll try and debug this to find the exact location

[2015-05-20 15:39] PVince81 commented on #16141
It is slow because it needs to re-upload the file to SFTP.

[2015-05-20 15:40] PVince81 commented on #16475
Upgrading to "critical", because such cache inconsistencies could have nasty side effects

[2015-05-20 15:43] SergioBertolinSG commented on #15413
I am seeing the same ugly interface (internet explorer 8):

![screen shot 2015-05-20 at 17 41 30](https://cloud.githubusercontent.com/assets/9048796/7729934/aa4985b6-ff17-11e4-9f98-fb73b991eb2e.png)

[2015-05-20 15:45] PVince81 commented on #16475
This is NOT related to the last change that makes the trashbin use storage instead of view. Also happens before that.

[2015-05-20 15:49] SergioBertolinSG commented on #15413
Perhaps this PR solves it? https://github.com/owncloud/core/pull/16417

[2015-05-20 15:52] davitol opened #16477 "Open documentation buttons do not appear in admin menu using Internet explorer 9"
### Steps to reproduce
1. Using IE9 browser, go to admin menu

### Expected behaviour
The Open documentation buttons 'i' should appear.

### Actual behaviour
No button appears.

### Server configuration
**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

**Database:** mysql

**PHP version:** 5.5.9

**ownCloud version:** "version":"8.1.0.5","versionstring":"8.1 beta 1","edition":"Ente

[2015-05-20 15:53] davitol commented on #16477
@jancborchardt Maybe is the for the same reason as  #16409 ?

[2015-05-20 15:58] PVince81 commented on #16475
I see it's using "$view->rename()" => "moveFromStorage()" which will then call "copyFromStorage()".
And the latter does a "copy" followed by "rmdir".

The big is that "rmdir" will retrigger "move2trash". So instead of deleting the trash entry... it will move the trash entry to trash...

[2015-05-20 15:59] PVince81 commented on #16475
and this smells like a concat issue, calling move2trash with this:
[code]

[2015-05-20 16:01] fxshpac commented on #16472
@RealRancor thx a lot for your response and that explains the behavior I'm seeing. I think the reason I post here is to propose an enhancement in Sharing API to allow dynamic target path which can be picked at the time of sharing instead of using the path set in config.php. Changing the path in config.php may work but I don't want to touch that file since it has its global impact. Hope you can con

[2015-05-20 16:02] PVince81 commented on #16475
Arghhhh, getRelativePath() is so dumb with missing leading/trailing slashes.
I'll try and fix it once for all (with unit tests)

[2015-05-20 16:14] PVince81 opened #16478 "Fix various path issues with Views"
Currently the View accepts an arbitrary $root, and concatenates it with other paths, sometimes without checking if there is a leading or trailing slash.

The common way we used was to create a view with `new View('/somepath/')` with both leading and trailing slashes. That usually works for everything.

I tried to quickfix this and enforce leading+trailing slash, but that seems to break autotest se

[2015-05-20 16:14] PVince81 commented on #16475
Easier said than done... Forcing fakeRoot to have leading and trailing slash seems to break other things... Raised here https://github.com/owncloud/core/issues/16478 as it seems to be too dangerous.

I'll try limit the fix to getRelativePath for the obvious case. More extensive fix to be done in https://github.com/owncloud/core/issues/16478.

[2015-05-20 16:27] PVince81 commented on #16478
Setting to high. This has been the source of many recent troubles, some which involved data loss...

[2015-05-20 16:28] non7top commented on #16470
The thing is that the files are actually shared at the moment, but the link is very much hidden and the actual url is very "bad" and cannot be used on many forums. And with just a minor rework it would do what ppl expect.
Another thing to consider is an optional support for http://wiki.nginx.org/XSendfile for the sake of lowering load on php interpreter.

[2015-05-20 16:28] PVince81 commented on #16478
From what I see currently is that the method "getRelativePath" results is unpredictable. Sometimes it will provide leading slashes, sometimes not. We need to make this consistent.

- [ ] enforce fakeRoot format
- [ ] fir getRelativePath to return sane and consistent results

[2015-05-20 16:29] PVince81 commented on #16478
and the trouble is that some pieces of ownCloud depend on the "bad" behavior of these (like assuming that the response has a leading slash), so we cannot simply change and make them consistent without risks of breakage.

[2015-05-20 16:36] davitol commented on #16474
Tested again between 8.1 and 8.0.3 and it works. :+1:

[2015-05-20 16:36] #16474 closed

[2015-05-20 16:42] gig13 commented on #16409
@jancborchardt
The same behavior even after the change. No improvement.

[2015-05-20 16:43] PVince81 commented on #16478
This is even worse than I thought, I just discovered this:
When calling `Filesystem::getView()` it delivers a view that has the root "$user/files" (no trailing slash).
So if such a view is used with $view->getRelativePath('files_trashbin') it will return '_trashbin' because of the missing trailing slash. (this is what happens here https://github.com/owncloud/core/issues/16475)

And the worse part

[2015-05-20 16:49] PVince81 commented on #16475
First stage of the fix: https://github.com/owncloud/core/pull/16479
This prevents moving the trashed folder back to trash.

But it seems it's not enough, the cache entries in the trashbin are still not deleted properly.

[2015-05-20 16:55] MorrisJobke commented on #16409
Really? Did you cleared the browser cache?

[2015-05-20 16:56] MorrisJobke commented on #16172
@jancborchardt Looks like a Mac OS X feature of making the scrollbar a bit wider once it is hovered.

[2015-05-20 16:56] MorrisJobke commented on #15413
No. This PR only fixed the login page.

[2015-05-20 16:59] MorrisJobke commented on #16470
I think this is already supported. see https://github.com/owncloud/core/pull/13060/files

[2015-05-20 17:07] PVince81 commented on #14726
Closing as fixed on master / 8.1.

Backport possibilities still need to be discussed though.

[2015-05-20 17:07] #14726 closed

[2015-05-20 17:14] PVince81 commented on #16475
I think I'm onto something: the folder that appears in trash in the filecache has the mime type "application/octet-stream" instead of being a folder. So the moveFromCache operation doesn't move all its children.

Now to find why the mime type is wrong.

[2015-05-20 17:20] PVince81 commented on #16475
Ok here it is: https://github.com/owncloud/core/blob/master/lib/private/files/cache/updater.php#L185

It calls `$sourceStorage->getMimeType($targetPath)` which basically asks the SFTP storage to tell us the mime type of a file that is on another storage. `getMimeType()` calls `is_dir` which obviously fails since the directory doesn't exist on the source storage any more.

I'll see if I can fix it

[2015-05-20 17:22] PVince81 commented on #16475
Works! I'll submit a PR and add unit tests.

[2015-05-20 17:24] oparoz opened #16481 "There should be an unshare icon in the filelist instead of the standard rubbish bin"
### Steps to reproduce
1. Add a share to your oC
2. Roll over the row

### Expected result
There should be an unshare icon at the far right

### Actual result
There is a delete icon which is confusing

The tooltip actually says the button will unshare the share

[2015-05-20 17:29] iliyasbasir commented on #16454
#### Log
Here is an output from the owncloud.log when the update button is hit on the webpage:

s3/Shared/owncloud/support/github-issues/core/16454

[2015-05-20 17:30] oparoz commented on #16481
@jancborchardt, is there such an icon in the library?

[2015-05-20 17:32] oparoz commented on #16478
Thank goodnesss for that... It's really a pain to work with, especially when trying to use one function for both private and public files...

[2015-05-20 17:33] Bugsbane commented on #3812
Thanks @oparoz for being less lazy than I and doing the 15 seconds of research. ;-)

[2015-05-20 17:34] oparoz commented on #3812
lol, I was just curious. Sometimes referenced issues are not an exact match :)

[2015-05-20 17:35] gig13 commented on #16409
@MorrisJobke
Yes, cleared the browser cache.

[2015-05-20 17:53] iliyasbasir opened #16482 "Deleting a folder with many files via client or web interface take longer"
[3159]
#### Expected behavior
Folder should be deleted immaterially
#### Actual behavior & Steps to reproduce
I've been trying to track down a problem that I thought was in our db configuration and I think it actually is a problem with ownCloud. When you delete a folder with many files in it, either via the desktop sync client or in the web interface, it takes AGES (if it succeeds at all) and UPDA

[2015-05-20 17:55] MorrisJobke commented on #16409
Which apps are enabled?

[2015-05-20 18:03] gig13 commented on #16409
The default from an Enterprise install.
![apps](https://cloud.githubusercontent.com/assets/4803385/7732867/f26cd3c6-fef8-11e4-8731-bdb75d9ac75a.PNG)

[2015-05-20 18:43] DrSAR opened #16483 "File permissions to $datadirectory set to o-rx by cron.php - why?"
I am exporting the `$datadirectory` as NFS share to other computers so that I can have a direct access to the files in the storage. This depends to some degree on certain permissions being set on those directories and it appears that `cron.php` cheerfully messes with them every 15min.

Is there a good reason not too have world-readability on `$datadirectory` (I am switching to `o-rx` for subdirect

[2015-05-20 18:54] bboule commented on #16454
Hey guys just to be clear (sorry this is a little confusing) it is not the user adding the column, he is pointing out in the narrative that our schema update process is trying to do this and that is why the update is failing.  Just that make more sense?

[2015-05-20 18:57] Henni opened #16484 "Unify icon style"
The icons described at
https://doc.owncloud.org/server/8.0/developer_manual/app/css.html#icons
should be unified as there are black, grey, white and detailed version of icons.

@jancborchardt probably an issue for you

[2015-05-20 19:02] Owned67 commented on #13599
hello,

0.8.3 work fine and problem solved for me!

[2015-05-20 19:10] MorrisJobke commented on #16483
cc @LukasReschke @icewind1991

[2015-05-20 19:13] rullzer commented on #15263
PR #15544 merged

[2015-05-20 19:13] #15263 closed

[2015-05-20 19:14] MorrisJobke commented on #16482
should be a lot faster with 8.0 and even more with 8.1

ref #13948 #15360, #13360

@PVince81 and @icewind1991 Maybe know more about this.

[2015-05-20 19:15] MorrisJobke commented on #16482
#15549 should reduce the amount of UPDATE statements to the database and will be in 8.0.4 and 8.1.0

[2015-05-20 19:27] jancborchardt commented on #16484
Yup! I want to unify them to black with 50% opacity. Currently this is done in CSS but that’s not a good idea as it leads to inconsistencies when people use the black version.

[2015-05-20 19:28] Henni opened #16485 "Menu click events don't bubble up"
### Steps to reproduce
1. Try clicking on the text Settings in the file app
or
1. Try clicking on the right side of a navigation item with a menu as described in the [css documentation](https://doc.owncloud.org/server/8.0/developer_manual/app/css.html#menus)

### Expected behaviour
The clicked section should be activated / opened

### Actual behaviour
Nothing happens. It seems like the event doesn

[2015-05-20 19:29] jancborchardt commented on #16481
@oparoz good call. Will create icons for unsharing (a strikethrough version of the triangle-share icon) and for unsharing-link (breaking link version).

[2015-05-20 21:02] jancborchardt commented on #15297
Duplicate of https://github.com/owncloud/core/issues/14544

[2015-05-20 21:02] #15297 closed

[2015-05-20 21:06] RandolfCarter commented on #12300
Just got basically the same error when trying to upgrade from 8.0.3 to 8.1.0beta2 (PHP Fatal error:  Call to a member function getValue() on a non-object in /home/bfroehler/htdocs/owncloud/lib/private/legacy/config.php on line 60) - for me it was caused by a wrong ownership of the config.php file.

[2015-05-20 21:11] jancborchardt commented on #16172
I would say this is a non-issue since it only appears in Firefox on OS X and when hovering. On Webkit (Chrome & Safari) it’s totally fine.

[2015-05-20 21:38] gig13 commented on #15392
@craigpg @butonic @bboule
Any ETA on a solution?

[2015-05-20 21:43] DeepDiver1975 commented on #15392
Such crazy :hankey: will never be accepted as part of the regular project/product.
Any implementation like this is a total maintenance nightmare - engineering will never take over this.

[2015-05-20 21:44] DeepDiver1975 commented on #15392
Non from engineering

[2015-05-20 23:16] oparoz opened #16486 "Public view is never refreshed when changes happen in the original share"
### Env
master, browser

### Steps to reproduce
1. Share a folder as user A
2. Open that share in another tab. You're user B
3. As user A, add a file in the shared folder
4. As user B, look at your list of files

### Expected results
As user B, I should be seeing the new file

### Actual result
Nothing happens until I refresh the browser window or click on a folder (if there is one) and come back

[2015-05-20 23:19] oparoz commented on #16486
@jancborchardt Thoughts?
@RealRancor Is this a duplicate? ;)

[2015-05-20 23:19] shaneonabike commented on #14386
As a side note people can go to the previously listed bug (https://bugs.launchpad.net/ubuntu/+source/php-apcu/+bug/1374892) and indicate that it effects you. The more Ubuntu users that register the higher the priority I find.

[2015-05-20 23:30] oparoz commented on #16461
I don't get a preview at all with master on PHP 5.5

[code]

Tested with http://file.fyicenter.com/51_Image_Picture_.BMP_File_Extension_for_Bitmap_Image_Files.html

[2015-05-20 23:38] oparoz commented on #16461
The funny thing is that if I upload it again to overwrite it, I get previews in the dialogue asking me what I want to do.

[2015-05-20 23:44] oparoz commented on #16461
@georgehrke Any idea what's killing the filelist thumbnail generator?

[2015-05-21 00:31] ovidiub13 commented on #14478
+1

[2015-05-21 00:50] 19kestier opened #16487 "User Already Exists Error"
When I try to create a user in ownCloud, it says that the user already exists, when it clearly doesn't. Screenshot of JS Console below.
![screenshot 2015-05-20 at 8 48 45 pm](https://cloud.githubusercontent.com/assets/4749568/7739605/dd7fb0da-ff31-11e4-8cf9-bc97edc46ebe.png)

[2015-05-21 05:37] karlitschek commented on #16476
hmm. i think there might be a misconfiguration in your own cloud ldap config.

[2015-05-21 05:42] cmonteroluque commented on #16475
thanks @PVince81

[2015-05-21 07:14] RealRancor commented on #16487
Hi,

please disable the user_webdavauth (Webdav user backend) app.

[2015-05-21 07:15] rullzer opened #16488 "Make OCS Share API always return URL"
Currently the OCS Share API only returns the url on the creation of a share. It would be a good to also return the URL on retrieving of the shares.

Advantages:
* This makes sure that the url is correct (since we use the URL generator to get the route) and not depend on a client getting the correct url.
* If we would change the url in the future (maybe the index.php can go) client would directly g

[2015-05-21 07:26] davitol opened #16489 "Add to your ownCloud button does not work in IE9, when sharing a file by link"
### Steps to reproduce
1. Enable option Allow users on this server to send shares to other servers
2. Share a file by link
3. Paste the link in IE9 browser and click on Add to your ownCloud button

### Expected behaviour
The button should let you add the file

### Actual behaviour
The button throws an error

### Server configuration
**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

[2015-05-21 07:29] ckamm commented on #15189
@razyr The blacklist will clear out automatically with client versions >=1.8.0, so that should solve that part of this issue.

[2015-05-21 07:39] rullzer commented on #16488
Of course this only holds for link shares

[2015-05-21 07:47] #16221 closed

[2015-05-21 07:58] nickvergessen commented on #16487
Closing as per the link above.

[2015-05-21 07:59] nickvergessen commented on #16487
PS: @carlaschroder is that something we want to add to the documentation? Or is an FAQ entry on the forum already enough?

[2015-05-21 08:02] nickvergessen commented on #16486
Well this also happens without sharing. Just open the same folder in two tabs. Upload a file in one of them.

[2015-05-21 08:03] nickvergessen commented on #16486
And yes, I think it's a duplicate of https://github.com/owncloud/core/issues/983 (open issue with 3 digits Oo)

[2015-05-21 08:05] nickvergessen commented on #16486
And also https://github.com/owncloud/core/issues/9474

[2015-05-21 08:05] #16486 closed

[2015-05-21 08:10] RealRancor commented on #16487
@nickvergessen
The app description is currently also saying:

From my PoV the FAQ and the app description should be enough but regardless those such reports are coming up quite often.

[2015-05-21 08:11] directict commented on #13456
i really would like to see this fixed in 8.1.. we now only use SMB trough WEB and tell our customer to NOT sync trough client!

[2015-05-21 08:18] PVince81 commented on #16482
8.0 moves files to trash instead of copy, improves speed.
8.1 defers the expiration logic that used to happen at delete time. Now the expiration logic schedules an async job for that. So deletion should be even faster.

[2015-05-21 08:19] davitol opened #16490 "Sharing a folder by link, it is not possible to get into the folder after sharing it"
### Steps to reproduce
1. Enable option Allow users on this server to send shares to other servers
2. Share a folder by link
3. Click in the folder once it has been shared (in server B)

### Expected behaviour
The folder is opened

### Actual behaviour
Nothing happens. It is necessary to log out and log in to open the folder

### Server configuration
**Operating system**: ubuntu 14.04

**Web serve

[2015-05-21 08:41] schiesbn commented on #16344
@th3fallen yes, that's also what we did in ownCloud 8. We need to exclude all server-to-server mounts from encryption. The source server can encrypt the data but never the target server.

This is probably the right place to check if the storage is a https://github.com/owncloud/core/blob/master/lib/private/encryption/util.php#L357 "server-to-server share storage" and return true if this is the case

[2015-05-21 08:41] PVince81 commented on #16475
This issue can also happen when moving a folder cross-storage and changing its "extension": move "/test_folder" to "/sftp/test_folder.someext".
Changing the extension will trigger mimetype detection which will mess up.

Ideally mimetype detection should not be triggered if it was a folder anyway.

[2015-05-21 08:43] PVince81 commented on #16475
The reason why it's triggered for the trashbin is because a deleted folder will have the name "folder.d123456" (with the numbers being the timestamp)

[2015-05-21 08:44] DeepDiver1975 commented on #16343
@MTRichards for roadmap planning - to be honest we decided to walk the remi path for a reason from my understanding. As long as this works I see no reason to AGAIN change the packages which are now finally working.

[2015-05-21 08:45] davitol opened #16491 "Sharing a folder by link it is not said it is a folder anywhere in the screen shown by the URL"
### Steps to reproduce
1. Enable option Allow users on this server to send shares to other servers
2. Share a folder by link (in this case it is empty)

### Expected behaviour
The screen shown by the URL should show the name of the folder and the files.

### Actual behaviour
The screen shown by the URL, does not say nothing about the folder, only shows the files if they would have existed,

### Se

[2015-05-21 08:48] SergioBertolinSG commented on #16457
Happing in master again.

[2015-05-21 08:49] DeepDiver1975 commented on #16454
as already explained in another issue - our schema migration mechanism cannot deal with such schema changes on oracle - not nice - but given the current state - no much we can do.

The solution would be (as already done with other customers running oracle) to generate the change script using occ and apply the changes manually to the db. Our update mechanism shall then detect no further changes to

[2015-05-21 08:49] DeepDiver1975 commented on #16454
removing milestone as there is nothing we can do from the produc pov

[2015-05-21 08:51] DeepDiver1975 commented on #16087
@VicDeo nice - thx - but this only applies to 8.1 - any chance to make this available to stable7 and stable8? THX

[2015-05-21 08:52] DeepDiver1975 commented on #16407
Known issue no some external storages - we need to address this in 8.2. nothing we can do in the livecycle of 8.1

[2015-05-21 08:56] ckamm opened #16492 "Read-only share permissions should not include 'W'"
From client bug owncloud/client#3244.

### Steps to reproduce

1. Share a file `FOO` as re-sharable but read-only with another user `u2`.
2. Check the file permissions as `u2` with

    curl -u u2:PWD -X PROPFIND 'http://SERVERremote.php/webdav/FOO' | grep -o 'permissions.*perm'

### Expected behaviour

The permissions should be `SR` or `SRDNV`, definitely not include W.

### Actual behaviour

The

[2015-05-21 09:00] PVince81 commented on #16475
PR is here: https://github.com/owncloud/core/pull/16493

[2015-05-21 09:01] PVince81 commented on #16475
This issue does not exist on OC 8.0.x as `moveFromCache` didn't exist there, so no backport needed.

[2015-05-21 09:02] PVince81 commented on #16478
- [ ] fix chroot to be consistent with the test, or even better: get rid of it!

[2015-05-21 09:05] SergioBertolinSG opened #16494 "Uploading of files ~50MiB using cadaver gets stucked."
### Steps to reproduce

1. Using [cadaver](http://www.webdav.org/cadaver/) upload a 50 MiB file.

### Expected behaviour
File is uploaded.

### Actual behaviour
File gets stucked while uploading.

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

**ownCloud version:** (see ownCloud admin page)
{"installed":true,"mainte

[2015-05-21 09:05] PVince81 commented on #16478
Side: the even more unfunny thing about the View's root is that the hooks firing logic depends on it. Basically if the View's root is "$user/files" then hooks will fire. However if the root is "/" but you touch a file inside "$user/files", it will not fire hooks either...

[2015-05-21 09:10] davitol opened #16495 "Invalid storage advice does not dissapear."
### Steps to reproduce
1. Enable option Allow users on this server to send shares to other servers
2. Share a folder by link
3. Unshare the folder
4. Open the fodler in server B

### Expected behaviour
The  advice error should dissapear after surfing the web

### Actual behaviour
The  advice error should keeps until the screen is refreshed

### Server configuration
**Operating system**: ubuntu 14.

[2015-05-21 09:11] PVince81 commented on #16494
Works for me with a file that has 121 MB.

Is this uploading as owner or as recipient into a shared folder ?

Maybe there's an env issue on the daily server ?

[2015-05-21 09:15] fstackdev commented on #14478
+1

[2015-05-21 09:19] rullzer commented on #16472
I do not see this happening in the near future.
Giving somebody else control over how my files are organized seems like something most users do not want.

[2015-05-21 09:20] DeepDiver1975 commented on #14478
Feature request is open - it might come one day or not. Issue locked to prevent further distraction due to +1

THX

[2015-05-21 09:26] beejee commented on #15702
Hi,
do you have any input on this issue, ways we can debug this, logs you would like to see?
Can this be related to this issue: #11797?
as in: the file is being renamed on swift level, oc not picking up the new file so cancelling the move , not registering the new location in the db metadata, hence the db location being different from the actual file location?

The files are still available when w

[2015-05-21 09:26] nickvergessen commented on #16344
since jennifer is on vacation atm, I will setup a second server, see whether the initial problems happens to me aswell and then try the patch and see if that fixes the stuff.

[2015-05-21 09:34] PVince81 commented on #16492
Tested the following:
1. Login as "root" (the admin user)
2. Create a user "user1"
3. Login as "user1"
4. Create a file "file.txt" with some contents
5. Share "file.txt" with "root" and uncheck "can edit"
6. Create a folder "folder"
7. Share "folder" with "root" and uncheck "can edit"
8. On the CLI:
[code]
9. Same with "folder":
[code]
(the propfind.txt contains oc:permissions, as it is not the de

[2015-05-21 09:35] SergioBertolinSG commented on #16494
Not shared folder, just uploading into root.

[2015-05-21 09:36] PVince81 commented on #16492
Aha, on 8.0.3 the folder has no "W" permission, but the file has a "W".

This is indeed a bug.

How bad does this mess up the client ? (to evaluate severity)

[2015-05-21 09:38] MTRichards commented on #16343
@DeepDiver1975
Sorry to disagree on the RHEL Remi conversation but here I go anyway.

RHEL remi is the _unsupported_ approach for users. If an enterprise customer wants to update and remain in compliance with their RHEL support contract, they must use the RHEL Collections repository.
Sadly, this is not optional, as RHEL collections is the enterprise requirement. Remi is for anyone else.

I don't m

[2015-05-21 09:44] PVince81 commented on #16494
I tested with cadaver against the same server and could successfully upload a 121MB file.
So might be something in your environement or connectivity issues ?

[2015-05-21 09:44] PVince81 commented on #16492
Also broken on 7.0.5.

[2015-05-21 09:45] PVince81 commented on #16492
Well, as it is fixed on 8.1, we need to decide whether to backport @karlitschek
But first need to find what piece of code fixed that issue.

[2015-05-21 09:47] Xenopathic commented on #16457
@SergioBertolinSG Could you please post your SFTP configuration? Otherwise there's no way we can help.

[2015-05-21 09:47] karlitschek commented on #16492
I think we should definitely back port this. :+1:

[2015-05-21 09:59] PVince81 commented on #16492
Ok, I'll try and find the piece of code that fixes it in 8.1.

[2015-05-21 10:00] SergioBertolinSG commented on #16457
@Xenopathic you were right, it is a URL malformed. I have a blank space between url: and port 'url: port'
Removing the blank space it worked.

[2015-05-21 10:02] SergioBertolinSG commented on #16457
So i think the bug is different, having spaces before port makes the connection to work according the green circle, but it doesn't so the circle should be red or remove that whitespaces.

[2015-05-21 10:09] PVince81 commented on #11804
There is another fundamental issue that we'll eventually need to think of, related to APIs: so far we ask every app to use the public API, which is the node based files API (OC::$server->getUserFolder()). That API uses the View. So far so good, this means app will benefit from locking too.

The trouble is that now we're changing the trashbin and versions app to use the Storage instead of the Node

[2015-05-21 10:11] PVince81 commented on #11804
Well this would also mean that apps like trashbin and versions should be able to work with the public node API too in the end (and not use the private View or Storage API)

[2015-05-21 10:17] PVince81 commented on #16492
Here it is: https://github.com/owncloud/core/pull/15063

I'll prepare a backport PR for stable8.

[2015-05-21 10:19] oparoz commented on #9474
Should be implemented via https://github.com/owncloud/core/issues/983

[2015-05-21 10:20] PVince81 commented on #16492
Backport PR is here: https://github.com/owncloud/core/pull/16496

[2015-05-21 10:20] Xenopathic commented on #16457
So the problem lies in incorrect validation of the URL field, not an actual SFTP problem. Downgrading severity.

[2015-05-21 10:30] PVince81 commented on #16491
It actually shows the message "No files in here", which is expected.

The bug is that the container height is wrong, this was fixed yesterday.

Closing as duplicate of https://github.com/owncloud/core/issues/16335

[2015-05-21 10:30] #16491 closed

[2015-05-21 10:33] LukasReschke opened #16498 "Get rid of `unserialize` in LDAP caching"
https://github.com/owncloud/core/blob/896130b68d4712ec9ced3561036bc435e7e5a2dc/apps/user_ldap/lib/connection.php#L205 would be way nicer to not use the unserialize if not required. Because it's really easy to do mistakes with it.

cc @blizzz Would that be possible?

[2015-05-21 10:34] PVince81 commented on #16490
Works for me, I tried the following:
1. Login in server A
2. Create a folder "test"
3. Share "test" with link
4. Click "test" to enter it: works
5. Log out
6. Open the link
7. Click "Add to ownCloud", enter the URL of server B
8. Login in server B
9. Accept the share
10. Click "test" to enter it: works
11. Go back
12. Share "test" again with link
13. Click "test" to enter it: works

@davitol can y

[2015-05-21 10:35] nickvergessen commented on #16344
Okay, adding ` && !($storage instanceof \OCA\Files_Sharing\External\Storage)` to https://github.com/owncloud/core/blob/master/lib/private/encryption/manager.php#L210 works for:

s1 | s2
--- | ---
enabled | enabled
disabled | enabled
enabled | disabled
disabled | disabled

Not sure if comparing to OCA is the best idea in terms of private/public api and depending on apps, but that's another topic.

[2015-05-21 10:36] PVince81 commented on #16481
We call it the trash bin. But I like "rubbish bin" too :wink:

[2015-05-21 10:36] SergioBertolinSG commented on #16494
Closing at it seems to be a problem in my environment.

[2015-05-21 10:36] #16494 closed

[2015-05-21 10:38] schiesbn commented on #16344
great! @th3fallen can you create a PR and also add a unit test for it? Thanks!

[2015-05-21 10:39] PVince81 commented on #16344
@nickvergessen I think you need to use `$storage->instanceOfStorage()` to make it look through all the wrappers. Unless this was intended ?

[2015-05-21 10:41] PVince81 commented on #16472
I agree with @rullzer.

Also I can see potential security issues where a hacker would use such shares to try and guess the directory structure of the target user.

But also, the sharer has no way to know what directory structure the target user has so it is never guaranteed whether the target folder exists there.

[2015-05-21 10:42] LukasReschke commented on #16472
Agreed with @rullzer and @PVince81.

[2015-05-21 10:43] PVince81 commented on #16470
In theory you could also use the "public.php/webdav" endpoint. This would deliver the real file (not a reduced version). But note that this endpoint might be disabled if server to server sharing (aka federation) is disabled, as it is mainly used by that.

CC @oparoz @georgehrke for preview stuff

[2015-05-21 10:48] PVince81 commented on #16472
Closing as won't fix.

@fxshpac you might want to share more details about your use case in case there would be other alternatives.

[2015-05-21 10:48] #16472 closed

[2015-05-21 10:59] nickvergessen commented on #16344
Should happen on the other comparison aswell I guess, but yeah.

[2015-05-21 11:13] SergioBertolinSG commented on #16494
Confirmed, problem with my environment. My vagrant machines can't upload using cadaver.

[2015-05-21 11:16] schiesbn commented on #16344
Not sure if it is needed, because at this place we apply a new wrapper to the storage so $storage should always be the base storage. But it also doesn't hurt to use the instanceOfStorage() method if it exists.

[2015-05-21 11:26] PVince81 opened #16500 "mkdir is calling code that deletes previews"
Sounds suspicious:

When I create a folder with MKCOL (webdav), the post_write calls post_delete and deletes previews ?
Is that intended ? @georgehrke @oparoz

[code]

[2015-05-21 11:27] PVince81 commented on #16500
I'd usually expect preview deletion to only happen when deleting files, or overwriting existing files (not new files).

[2015-05-21 12:12] oparoz commented on #16470
@non7top - I don't understand why you don't use the shared link provided by the share dropdown

`https://oc8demo.interfacloud.com/index.php/s/pvetv4RaIbFhDRb/download`

If I use this in Github
![Sample pic](https://oc8demo.interfacloud.com/index.php/s/pvetv4RaIbFhDRb/download)

[2015-05-21 12:16] non7top commented on #16470
Because many discussion boards out there simply check the url for valid picture extension. If none found they will reject inserting such image, regardless of whether the link actually points to a valid image or not. And the link you provided is not displayed as picture in browser so it is counterintuitive to use it as a picture.

[2015-05-21 12:20] oparoz commented on #16470
Thanks!
I think the best things to do would be to have an app which can generate such links. Maybe a plugin for Gallery.

[2015-05-21 12:28] titansmc commented on #13981
Hi,
Probable I am doing something weird, but I cannot see the configID here.

# sudo -u wwwrun ./occ ldap:show-config
+------------------------------+---------------------------------------------------------------+
| Configuration                |                                                               |
+------------------------------+--------------------------------------------------------

[2015-05-21 12:34] Pantek59 commented on #14827
@VicDeo No, there has always been just one instance of OC running with a database on its own.

[2015-05-21 12:45] PVince81 commented on #11804
- [ ] think about all the places where we want to explicitly "lock before a big bunch of operations" and "release lock afterwards".
    - [ ] file upload: we need to bundle everything from "precondition check" to "final rename" inside a single transaction (currently the precondition check is done early but there is no guarantee that it is still true at the time of the rename)

[2015-05-21 12:46] PVince81 commented on #11804
We can probably discuss the individual cases in separate tickets once the main work is merged.

[2015-05-21 12:51] PVince81 opened #16502 "Chunk handler must use storage instead of view"
The chunk handler (on upload) is using a View instance but internally calls it $storage, which is misleading.

This handler needs to be adapted to work directly on the storage.

Note: I wonder what happens here with storage wrappers. Will chunks be encrypted now ? @schiesbn @icewind1991

[2015-05-21 12:51] schiesbn commented on #16264
I don't know how you generated the screenshots. The error message should look like this:

![1](https://cloud.githubusercontent.com/assets/1589737/7748875/dfbf4ec2-ffc8-11e4-8372-91caf11c31a6.png)

[2015-05-21 12:51] PVince81 commented on #16502
Needed for file locking: https://github.com/owncloud/core/pull/16237#issuecomment-104256128

[2015-05-21 12:52] schiesbn commented on #16264
@SergioBertolinSG can you please try again with current master? Thanks!

[2015-05-21 12:56] robertoschwald commented on #16008
For people like me with MariaDB Replication setup (1 Master, 2 Slaves) this is a full stopper.

[2015-05-21 12:56] schiesbn commented on #15989
I would say this behavior is correct. If the app is enabled we want to have valid private/public keys. Even if the encryption app is not enabled in the admin settings because even in this case the encryption module will be used to read already encrypted files, so it should check that it is initialized correctly and warn the user if not.

[2015-05-21 12:56] #15989 closed

[2015-05-21 13:13] plastelina commented on #16484
Quick question, what would you say to unify all the icons so they look consistent (shape as well as @jancborchardt mentioned colour). I'm happy to go through the whole list and create them, then save them as png or svg or whatever format needed as well as prepare a document that could be updated with new once as we go). So we could have open source design own set of icons as in http://line25.com/w

[2015-05-21 13:31] pvancald commented on #15702
Hi!
we updated to 8.0.3 recently and the issue is still present...
today we have a fresh eye working on it and I asked him to contribute as well to this issue.
Our engineer and the consultant are more aware than I am to continue feeding on the investigations but from what I read on issue #11797 it really sounds related...

[2015-05-21 13:36] PVince81 commented on #15647
Looks like we might need this for the files locking to work, to avoid double locking.

[2015-05-21 13:41] PVince81 commented on #16502
PR here: https://github.com/owncloud/core/pull/16503

[2015-05-21 13:50] jancborchardt commented on #16484
@plastelina if you’re interested in doing that, that’d be pretty awesome! :) Basically what I think needs to be done:
* [ ] most of them changed to black with 50% opacity (except the white ones because they are for the detail view)
* [ ] most of them changed to 16*16px as most already are (except the white ones because they need to be slightly bigger for the detail view) – star and eye-toggle are

[2015-05-21 13:53] beejee commented on #15702
From what it looks like, the move (which is a copy/delete action in the swift storage) processes on swift level.  The db metadata is not updated though, which could be because owncloud does not see an updated mtime on the directory containing the moved/new file.

Can we get more details or debug info out of owncloud on these actions happening when files are moved from a folder?

(btw I am the fres

[2015-05-21 13:53] jancborchardt commented on #16481
No, we call it »Deleted files« ;) – Trash is something which smells and you have to carry down.

[2015-05-21 13:57] titansmc opened #16504 "Not fetching avatar from LDAP with OpenSuse and OwnCloud 8.0.3"
### Steps to reproduce
1. Install OC 8.0.3
2. Setting up ldap plugin
3. Login in

### Expected behaviour
I was expecting to fetch all the user's attributes from LDAP server, as it does with 8.0.2

### Actual behaviour
Avatar is missing

### Server configuration
Operating systemOpenSuse 13.1

Web Server:Apache 2.2

**Database:SQLite

**PHP version: 5.4.20

**ownCloud version: 8.0.3 (see ownCloud ad

[2015-05-21 14:13] jancborchardt commented on #16436
@PVince81 yes please. I was always against adding this clusterf$%& in the first place. :)

[2015-05-21 14:14] VicDeo commented on #16087
@DeepDiver1975 not exact. It's implemented since OC8.0.0

[2015-05-21 14:16] SergioBertolinSG commented on #16264
Maybe it is a problem with the enterprise theme.

[2015-05-21 14:28] oandarilho01 commented on #16476
Hi, karlitschek.
I'm trying to figure it out, but it's keeping hard.
I checked and a new user, created after the one is having problem, and included in the same group can perfectly log in.

[2015-05-21 14:42] centredecalcul opened #16505 "8.1 beta 2 : share_folder / sync / etag propagation"
My test focus on shared file synchronisation with desktop client, and it failed.

I use the share_folder parameter in server file config.php to define an alternate folder (not /) :
  'share_folder' => '/share_subdir',

Steps to reproduce :
1. create two users "u1" and "u2"
2. configure desktop for user "u2"
3. login as "u1"
4. create or upload a file named "file1"
5. share "file1" with user "u2"
6

[2015-05-21 14:50] davitol opened #16506 "[IE9] [Sharing by link] Cannot modify the password once it is set"
### Steps to reproduce
1. Send a file to a user by link with password protection
2. Browse away and try to modify the password.

### Expected behaviour
THe user should be able to delete the password *

### Actual behaviour
The cursor always moves to the beginning and it is not possible to modify the password. The only option is unmark and mark the checkbox.

### Server configuration
**Operating sy

[2015-05-21 15:07] SergioBertolinSG commented on #16373
I can reproduce it.
**Steps**
1. Create a text file 'test.txt', write something readable.
2. Upload a file called 'test.txt' using webdav with different text on it.
3. Refresh web ui and open the dropdown.

**Observed**
Preview in dropdown shows the encrypted weird characters.

[2015-05-21 15:15] mrladeia commented on #16470
There is no plugin that currently do that?
The **API** we can do this?
Class **SHARE**: http://api.owncloud.org/classes/OCP.Share.html

[2015-05-21 15:15] georgehrke commented on #16500
We need post_write when a file is updated. (e.g. with files_texteditor)
I'd be happy to know if there is a way to properly distinguish between whether a new file was created or an existing one was modified.

[2015-05-21 15:19] centredecalcul commented on #16505
cadaver result (with 'share_folder' => '/Partage',) :

__Before u1 share a file :__

dav:/test/owncloud_dev/remote.php/webdav/> ls Partage
Listing collection `/test/owncloud_dev/remote.php/webdav/Partage/': succeeded.
        BourgogneFEDER.jpg                  5610  mai 21 17:05

dav:/test/owncloud_dev/remote.php/webdav/> propget Partage
Fetching properties for `Partage':
DAV: getlastmodified = T

[2015-05-21 15:19] PVince81 commented on #16500
But this here is a directory, not even a file. Probably also not easy to detect ?

[2015-05-21 15:24] th3fallen commented on #16344
@schiesbn i don't have a patch yet still tracking down the actual culprit

[2015-05-21 15:25] georgehrke commented on #16500
We need at least post_delete also for directories, so previews for files inside a folder that's being deleted are properly removed.
We should indeed be able to skip directories for post_write, I'll prepare a PR.

[2015-05-21 15:44] davitol opened #16507 "Sharing to remote groups is not allowed"
### Steps to reproduce
1. Enable option Allow users on this server to send shares to other servers
2. Send a file to a group of another server
### Expected behaviour

The file should be sent to the selected group in 'server B'
### Actual behaviour

Federated sharing with remote groups is not allowed.
### Server configuration

**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

**Data

[2015-05-21 15:58] Dianafg76 opened #16508 "[Sharing link] you have two folder share with other user, if you move one folder into the other folder, the option shared is not working"
### Steps to reproduce
1. Open the Owncloud Client
2. Create two new Folder, calls dd and gg
3. Shared the folder with other user
2. Move the folder dd into the folder gg

### Expected behaviour
You can work with the opcion SHARE

### Actual behaviour
The option SHARE is not working anymore. You need logout de Server and login again

### Server configuration
DESKTOP v1.8.2 (build 2373) MAC
WEB SER

[2015-05-21 16:01] LukasReschke opened #16509 "\OCP\IImage::save should use the internal ownCloud view"
`\OCP\IImage::save` is acting on a regular FS path (i.e. `/var/www`) in `\OC_Image::_output` instead of the internal ownCloud view.

This makes it potentially insecure against directory traversals and other issues when used incorrectly. With the internal views of ownCloud the built-in security functions would prevent this.

@icewind1991 Thoughts?
@DeepDiver1975 @karlitschek This public API has bee

[2015-05-21 16:02] LukasReschke commented on #16509
With removing the public API I just refer to the `save` method in the interface. All other existing code would of course stay where it is.

[2015-05-21 16:32] SergioBertolinSG opened #16510 "Files are lost after moving them into a remote folder not encrypted as recipient with encryption enabled."
### Steps to reproduce

Having two servers serverA and serverB:
1. Enable encryption app in serverA.
2. Enable encryption in admin page of serverA.
3. Logout.
4. Login in serverB and don't enable encryption.
5. Share a folder REMOTE_FOLDER from admin in serverB to admin in serverA.
6. Login as admin in serverA.
7. Accept the federated shared folder from serverB.
8. Upload a file in root folder of

[2015-05-21 16:36] PVince81 commented on #15781
@nickvergessen did you run them always with `-a` ? Else it will only run the first test suite see https://github.com/cernbox/smashbox/issues/12)

[2015-05-21 16:38] davitol opened #16511 "[IE9] Password is lost from the textbox when clicking in the textbox of shared link"
### Steps to reproduce
1. Try a file to a user of another server by link.
2. Write down a password
3. Click again in the textbox of the link

### Expected behaviour

Password should be kept

### Actual behaviour
Password disappears. (gif below with the behaviour)

### Server configuration
**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

**Database:** mysql

**PHP version:** 5.5.9

[2015-05-21 17:45] oparoz commented on #16470
The easiest way to do this would probably to have an app which simply re-routes the short URL to the long one.
The hardest part would then be to create the interface which allows the user to collect the short URL.

[2015-05-21 18:37] jancborchardt commented on #16470
Linking directly to an image seems to be a core function of a sync & share software. Not just something which is an extension of the Gallery app.

[2015-05-21 18:40] jancborchardt commented on #15413
@SergioBertolinSG can you please right-click the dropdown, inspect the CSS in the browser and tell me what overwrites [this line](https://github.com/owncloud/enterprise/pull/639/files#diff-5b0e0c44dcd5ac6cf63506fea258b190R184)? (background:white)

[2015-05-21 19:21] maxidebiax commented on #16383
Yep, twas that. But i'm pretty sure i did it the first time (after the upgrade). Anyway, thanks a lot.

[2015-05-21 19:31] rullzer commented on #16511
I can't reproduce this on master.
Could you verify if it is only the text not showing or that no actual request is fired?

[2015-05-21 20:48] nickvergessen commented on #16344
@th3fallen the patch is in his comment? Open the link and add the instanceof with the second class

[2015-05-21 20:54] nickvergessen commented on #16509
I just created the interface, the method was already there publicly by OCP\Image which extends OC_Image

[2015-05-21 20:55] th3fallen commented on #16344
Derp sorry missed that one @nickvergessen

[2015-05-21 20:58] LukasReschke commented on #16509
ewwww… :see_no_evil:

[2015-05-21 21:10] oniled opened #16513 "[7.0.4] Files uploaded prior to 7.0.4 upgrade are not able to be deleted by users"
### Steps to reproduce
1. User logs into Owncloud
2. User deletes file into Recycle Bin
3. User attempts to empty recycle bin.

### Expected behaviour
Expect user able to delete the file from recycle bin.

### Actual behaviour
Owncloud spins out.  Owncloud log fills with errors.  The only way I, as administrator, can delete the file is to go into my data folder and delete the offending file, the k

[2015-05-21 22:26] oparoz commented on #16470
I agree, but the problem is that it will probably take a long time to land, simply because the share API has to be upgraded to generate different public links for single files which are not password protected.

The app route offers more flexibility, you could even extend it to the point where you have your own cloudconvert service available locally.

[2015-05-21 22:53] RandolfCarter commented on #15342
Just encountered the "Strict-Transport-Security" check (because it is included in oc 8.1b2). From my experiments it seems that the check is expecting a wrong format: It expects the Header to look like this (with such a header in the apache config, the warning is not shown anymore):
[code]
when in fact it should look like this:
[code]
(notice the added max-age).
A quick fix could be:
[code]
But I w

[2015-05-22 00:25] jancborchardt commented on #4031
Pull request at https://github.com/owncloud/core/pull/16519

[2015-05-22 06:55] rullzer commented on #16507
Well this is a more fundamental problem.

* Group names and user names are not unique. So you can have a user foo that is part of group foo. Now if you use foo@.... which one do you mean?
* Who can accept group shares? Any member of the group? The group admin? What if there is no group admin?

I agree that we should have it in future releases but we need to think about how...

[2015-05-22 06:57] rullzer commented on #16506
I can't reproduce this on master. Probably an IE bug..

[2015-05-22 06:57] SergioBertolinSG commented on #15413
I see this:
in background rgb(255,255,255); BORDER-TOP: rgb(204,204,204) 1px solid

[2015-05-22 07:03] nicocans opened #16522 "Login canceled by app"
Hello,
yesterday, i updated to 8.0.3, and all was ok.
this morning, i enabled my apps: calendar, tasks, ownnote, etc., everything seemed to work fine.
then i tryed to log from another computer, i cannot login now and have the following message: "Chiffrement initial en cours... Veuillez ré-essayer ultérieurement." and then "Login canceled by app".
how to fix it?

[2015-05-22 07:06] davitol commented on #16506
reproduce in IE and Firefox for Mac

[2015-05-22 07:10] rullzer commented on #16506
What I did

1. Create link share
2. create password
3. navigate to other folder
4. navigate back
5. try to edit password.

I assume those are all the steps?

[2015-05-22 07:10] rullzer commented on #16506
@LukasReschke could you verify on your mac?

[2015-05-22 07:19] rullzer commented on #16470
@jancborchardt I agree... however how would this work UI wise?

@oparoz well that part *should* be doable. However, if a separate app is used you are stuck with on earth you get the direct url to the user. If users have to open up a separate app for that to convert the url I doubt that would be of much help.

There is however an issue with what do you use as new url? Since you probably do not want

[2015-05-22 07:23] davitol commented on #16511
Just reproduce on Master. The paswword disappears from the textbox, but it is required when sharing the link.

[2015-05-22 07:29] SergioBertolinSG opened #16523 "Allow scrolling when dragging a file or folder to the top of the filelist"
Now, when dragging a file to the top of the filelist we can't move it to a folder which is in the top of the list.

![moving_files_top](https://cloud.githubusercontent.com/assets/9048796/7766329/716c3fd4-0068-11e5-8de8-8e30093e967a.gif)

I suggest to add scrolling when moving files. This way we could move files to folders that aren't in the screen currently.

Tested on chrome.

[2015-05-22 07:30] niptic commented on #1347
This feature is a really important one, would be nice to create a group global quota, whereas I create a group admin, and every user created under that uses the same quota shared, so each user will know when the admin will reach the max cap and will therefore notify the group admin, and in turn notify the admin.

[2015-05-22 07:46] davitol commented on #16506
![deletepwd2](https://cloud.githubusercontent.com/assets/10596560/7766228/5cc5b930-0067-11e5-80b5-b37d63aac8a2.gif)

[2015-05-22 07:49] jvillafanez commented on #13981
@titansmc just read the last comment :wink:

The very first LDAP configuration has an empty string as the configID. `./occ ldap:show-config ''` (single quotes) should show the configuration.

If you need to set any configuration value, you can do `./occ ldap:set-config '' key value`

[2015-05-22 07:49] nickvergessen commented on #15781
No, I run each test case individually https://github.com/owncloud/smashbox/issues/88 (because I get problems otherwise with the rundir not being empty in the beginning, fixed by https://github.com/owncloud/smashbox/pull/78 )

[2015-05-22 08:17] jancborchardt commented on #16470
@rullzer similar to the current »Direct link« input below the image in a public share. We can even do some nice »copy link« stuff with HTML lately: http://updates.html5rocks.com/2015/04/cut-and-copy-commands

[2015-05-22 08:18] nickvergessen commented on #15125
This also causes server2server shares to be synced every minute

[2015-05-22 08:19] PVince81 commented on #15125
Maybe some code path is bypassing the shareinfo.php logic

[2015-05-22 08:19] jancborchardt commented on #15413
@SergioBertolinSG that’s what it’s supposed to say – I was asking what _overwrites_ that line. Can you take a screenshot of it with the inspector open? I don’t get why the background gets overridden.

[2015-05-22 08:55] karlitschek commented on #16522
I suggest to enable/disable the apps one after another to find the broken one.

[2015-05-22 09:01] oparoz commented on #16470
@rullzer - You hijack the share dialogue and use the appropriate URL depending on what is shared.
As for the URL, something like this would always work.
`/index.php/apps/smartlink/s/pvetv4RaIbFhDRb.png`

[2015-05-22 09:01] nicocans commented on #16522
How can i do this without login?

[2015-05-22 09:37] PVince81 commented on #16475
Fixed by https://github.com/owncloud/core/pull/16493

[2015-05-22 09:37] #16475 closed

[2015-05-22 09:41] karlitschek commented on #16508
@schiesbn

[2015-05-22 09:42] karlitschek commented on #16504
@blizzz Can you have a look?

[2015-05-22 09:52] PVince81 commented on #10571
I had a look at http://www.webdav.org/specs/rfc3253.html and I have the feeling that the spec expects the version history to be stable, aka version control. It might not suit the way how ownCloud versions work very well, as we're often discarding old versions.

In any case, the version control spec seems to provide unique URLs for every version, which is a good thing.

As a first step, we should p

[2015-05-22 09:53] PVince81 commented on #12543
Some thoughts regardfing the versions endpoint: https://github.com/owncloud/core/issues/10571

[2015-05-22 09:56] PVince81 opened #16524 "Use Sabre's IPatchSupport for chunking"
See http://sabre.io/dav/http-patch/ and the matching examples https://github.com/owncloud/3rdparty/blob/master/sabre/dav/lib/DAV/FSExt/File.php

[2015-05-22 09:57] PVince81 commented on #12543
Raised https://github.com/owncloud/core/issues/16524 for @butonic's suggestion of using http-patch from Sabre for chunking

[2015-05-22 09:59] djtm commented on #13543
I'm still getting the disallowed code even for all owncloud apps such as calendar, I had to disable the config setting to check the code to make it work:
`` //  'appcodechecker' => true, ``

[2015-05-22 09:59] jospoortvliet commented on #16162
@danimo @dragotin @ogoffart @guruz could you guys give some input here?

[2015-05-22 10:03] schiesbn commented on #16373
I can reproduce it. It happens only with webdav, that's why I couldn't reproduce it the first time... I will prepare a fix.

[2015-05-22 10:07] SergioBertolinSG commented on #15413
This is what i see.

![screen shot 2015-05-22 at 12 05 53](https://cloud.githubusercontent.com/assets/9048796/7768402/fd00c080-007a-11e5-9c30-77b7ebd151f1.png)

[2015-05-22 10:07] cmonteroluque commented on #14827
@Pantek59 @sisyphosloughs Any additional info you could send would be helpful. We're having trouble reproducing the issue

[2015-05-22 10:15] jonaysanz opened #16525 "Pause/Resume file on upload"
### Steps to reproduce
1. Login Owncloud
2. On File section
3. Upload a file by drag&drop or with the dialog
### Expected behaviour

It uploads and let the user pause/resume the uploading file
### Actual behaviour

It uploads

On large files it's so good that user can pause/resume files to not block the internet bandwidhh.

There is some code:
https://hacks.mozilla.org/2011/04/resumeupload/

[2015-05-22 10:15] jvillafanez commented on #16356
I'm having issues after sharing a file:

1. Upload a file inside an FTP external storage
2. Share the file with another user
3. Login with the other user and edit the file

At that point the file downloaded for the user shows an HTML page. The original user has the file updated correctly and the file can be downloaded fine.

The upload seems to be working fine, but I've also had some issues downlo

[2015-05-22 10:17] schiesbn commented on #16373
@SergioBertolinSG the pr above should fix it... please give it a try. Thanks!

[2015-05-22 10:17] PVince81 commented on #16356
@jvillafanez this is likely to be a separate issue related to sharing and sharing keys. Can you raise separately ?

If uploading to FTP as owner works, then we can close this ticket here.

[2015-05-22 10:20] ogoffart commented on #16162
Hi @gadLinux ,  thank you for trying to help on this issue.

The client is no longer using httpf. And is using only very few parts of csync.

You need to contribute in the client repository. (and in the core)

You will find the code that uploads files in `src/libsync/propagateupload.cpp` here you will find the code that split the file in chunks and uploads them.
Similarily, the code that download

[2015-05-22 10:21] jvillafanez commented on #16356
@PVince81 you're right.

[2015-05-22 10:25] davitol commented on #16490
@PVince81 In my lastest test it seems to work fine. I close the issue and if it happens again I reopen it and comment

[2015-05-22 10:25] #16490 closed

[2015-05-22 10:25] PVince81 commented on #16356
So you confirm that it works as owner ?

[2015-05-22 10:28] jvillafanez commented on #16356
:+1:

[2015-05-22 10:33] RealRancor commented on #16522
Hi,

see this FAQ for some possibilities: https://forum.owncloud.org/viewtopic.php?f=17&t=7241

[2015-05-22 10:45] dragotin commented on #16162
Some brainstorming:

There needs to be a list of blocks with its according checksums stored on the server for every file. It will be accessible through a special route on the server API.

The client will need to fetch the list once it detected that an existing file has changed and is to be uploaded. Once the blocklist has arrived, the client needs to recalculate the blocklist on the new, changed f

[2015-05-22 10:51] titansmc opened #16529 "How to remove user's data while still testing all the features"
Hi all,
I am still testing the ldap plugin and having some troubles that I would like to debug, and therefore I would like to login with my ldap username, test what I want, and then remove all the user's related information/entries that owncloud has kept. I mean, DB entries, data/uid information....

So, could you please tell me what I have to remove if I want to start over?

Thank you very much.

[2015-05-22 11:19] Dianafg76 opened #16530 "The scrollbar is lost and you can't go down"
### Steps to reproduce
1. Open your Owncloud Client
2. Click in your user
3. Click in Personal

### Expected behaviour
The scrollbar should not be lost

### Actual behaviour
you don't have the scrollbar, and you can't go down to change the language

### Server configuration
WEB SERVER: {"installed":"true","version":"7.0.1.1","versionstring":"7.0.1","edition":""}, in WINDOWS, IE8

[2015-05-22 11:20] rullzer opened #16531 "Move icon from OCS Share API to javascript"
#16127 introduced the icon field to OCS Share API responses for files. However in its current form it looks weird and clutters the response. Especially since it is only usable for the web front end.

I propose to remove the functionality from the OCS Share API and to have the icon handling done in javascript. Since the OCS Share API does provide the mime type of the file. Some static javascript fi

[2015-05-22 11:23] rullzer commented on #16506
Thanks that makes it more clear. Although I still can't reproduce it.
Could you check if it is only a visual issue? So if you try to enter text and hit enter.. does the password get updated?

[2015-05-22 11:37] rullzer commented on #16511
Could you verify if it is just visual? Or that the password update really isn't happening?

[2015-05-22 12:09] danimo commented on #16162
A good starting point for a rsync-like approach using HTTP is [zsync](http://zsync.moria.org.uk/), aka client-side rsync. I don't think using librsync is feasible, as we want to stick to HTTP(S) as transport protocol.

[2015-05-22 12:24] rullzer commented on #16531
Also it is weird that the icon field is not present when a single share is retrieved.

[2015-05-22 12:42] schiesbn opened #16533 "Can't delete multiple files on external storage"
Steps to reproduce:

- mount external storage on the admin settings (tried with samba and sftp)
- upload some files
- select the files
- download action at the top right for the selected files is missing

Tested with master https://github.com/owncloud/core/commit/b82d902e184960877110bc45124ed2399f779cac

[2015-05-22 12:45] PVince81 commented on #16166
External storages are mapped to uses in mount.json.
Unfortunately this information is not in the database, and I agree that this is very bad.

There are plans to move mount.json to the database eventually: see https://github.com/owncloud/core/issues/11830 and https://github.com/owncloud/core/issues/15166

[2015-05-22 12:45] #16166 closed

[2015-05-22 12:51] PVince81 commented on #12730
@cf8geek did you try `./occ files:scan --all` ? It should refresh the permissions once and you should not need to rerun it.

Closing because the permission issue should be fixed in 7.0.5 and 8.0.3.
Feel free to reopen if the command above didn't solve your problem permanently.

[2015-05-22 12:51] #12730 closed

[2015-05-22 12:56] Malinoski commented on #16166
Thank you very much!

[2015-05-22 13:11] rullzer commented on #16511
@PVince81 do you have any idea what might be going on here?

[2015-05-22 13:12] rullzer commented on #16511
I started working on unit tests in https://github.com/rullzer/core/commit/914c74ea9b21c26da3e033591eec855d0e4d5857 which also shows correct behaviour...

[2015-05-22 13:13] rperezb commented on #16113
Hey, do we know about the prerequisites? thx

[2015-05-22 13:14] rperezb commented on #16436
ey @carlaschroder could it be worthy to document this?
thx

[2015-05-22 13:25] PVince81 commented on #16511
In IE9 the placeholder code could be messing up, but I can't explain why it would happen on Firefox too.

[2015-05-22 13:27] PVince81 commented on #16511
@davitol did you use any of the "enforce" options in the admin page ? (like enforce password). From the screenshot probably not.

[2015-05-22 13:27] karlitschek commented on #16529
I'm not sure this is a bug. I suggest to ask this question on the developer mailing list.
Thanks for your understanding.

[2015-05-22 13:27] #16529 closed

[2015-05-22 13:28] PVince81 commented on #16511
From what I see when testing locally is that the password is replaced by the placeholder text "Password protected" (grey). In IE9 the placeholder might be broken / does not appear.

@davitol can you make a gif of the behavior in Firefox too ?

[2015-05-22 13:28] PVince81 commented on #16511
@rullzer please submit your nice tests as a PR, more tests never hurt :wink:

[2015-05-22 13:34] PVince81 commented on #12543
@icewind1991 I see your point about CalDAV/CardDAV needing to setup Sabre differently.
Maybe we can provide a utility method that creates a Sabre server with the basic plugins (MaintenanceCheckPlugin, Auth, etc) and let the implementer add their additional plugins ?

If you go the single endpoint route proposed by @DeepDiver1975, it would mean that every plugin needs to be able to filter itself ou

[2015-05-22 13:50] rullzer commented on #16511
@PVince81 yeah that was still on the todo... but done :)

[2015-05-22 14:00] PVince81 commented on #16356
@jvillafanez ok, I thought the PR was merged already but it wasn't. Reopening.

[2015-05-22 14:02] oparoz commented on #16470
I've just tried to share a single media file on dropbox and they include the full filename in the link, but if you rename the file, the user gets a 404 and that's really bad imho, so we should try to do better, maybe like my suggestion above.

[2015-05-22 14:32] PVince81 commented on #16510
Possibly duplicate of https://github.com/owncloud/core/issues/13864

[2015-05-22 14:42] #16373 closed

[2015-05-22 14:50] jonaysanz opened #16537 "Public upload folders with choosen criteria"
My suggestion is the possibility to create a public upload folder, to just give access to people.
This folders can be used without user&pass.
To have just a easy sharing space, with a link.

But with a configurable limit criteria.

For example:
- Do not allow to upload more than 1GB
- Expire date
- Do not allow to upload videos

[2015-05-22 14:59] schiesbn commented on #16316
It is documented here https://doc.owncloud.org/server/8.1/user_manual/files/encrypting_files.html#sharing-encrypted-files

Nothing will change with encryption 2.0, the goal was to make it more modular for future development but didn't change the behavior to provide a smooth upgrade path

[2015-05-22 14:59] #16316 closed

[2015-05-22 15:24] PVince81 commented on #10571
If I understand well, the following associations from the RFC apply to us:
- auto-versioning: any changes to the original file creates a version
- checking out a version: equivalent of restoring a version ?
- checking in: means explicit creation of a version, not applicable in OC due to auto-versioning

But page 14 of the RFC seems to imply that even the core package of the version feature is supp

[2015-05-22 15:37] Idealtrajectory commented on #12193
I am having the same issue as the above. It happens after a few seconds. It will discover for awhile, then begin the download. It will say connection closed, etc after downloading between 500kb and 4mb. To try to relieve some of the pressure, I unchecked everything that it syncs with, and am slowly introducing the files back into the system. This is very time consuming, though. I believe I have su

[2015-05-22 15:41] fnerdwq commented on #12193
Something which helped me with this issue - at least making the intervals between the cancelled operation much larger - is setting ``KeepAlive On`` in the apache config.

To be clear, it *not* fixing the issue.

[2015-05-22 16:02] jonaysanz opened #16538 "Public link manager"
A nice feature can be to have a place where are listed all links you generated to share files. This way you can remove those external access to files, generate new ones, or re-generate the access token.

[2015-05-22 16:06] RealRancor commented on #16538
Hi,

at least a list with all files/folders shared by link is already available:

https://demo.owncloud.org/index.php/apps/files/?dir=%2F&view=sharinglinks

[2015-05-22 16:10] jonaysanz commented on #16538
Ups... sorry I couldn't find it :+1:
Thanks

[2015-05-22 16:10] #16538 closed

[2015-05-22 16:11] RealRancor commented on #16537
Hi,

public uploads can be already configured without user/pass and with a expiration date:

https://doc.owncloud.org/server/8.0/user_manual/files/access_webgui.html#creating-a-public-link-share

[2015-05-22 16:11] jnweiger commented on #16343
We already support both. Users can choose Remi "or" SCL.

This is an example Dockerfile using Software Collections:
<pre>
# autogenerated by:  /usr/bin/obs-docker-install ee:7.0 owncloud-enterprise CentOS_6@SCL-PHP54 -D
FROM centos:centos6
RUN yum install -y --nogpgcheck php
RUN mv /etc/httpd/conf.d/php.conf /tmp/etc.httpd.conf.d.php-5.3.conf || true
RUN yum install -y --nogpgcheck centos-release-

[2015-05-22 16:12] jonaysanz opened #16539 "File indexation by content"
Now the search box you can only search by filename.
Would be so useful to be able by content, at least in TXT/ODT/spreadsheet/PDF files

[2015-05-22 16:15] jonaysanz commented on #16537
I think a great feature would be to limit maximum folder size, cause public folder can be a chaos (if it's shared with a group of people)

[2015-05-22 16:32] andyrblank commented on #15373
I'm seeing the same issue with ownCloud 8.0.3 on Ubuntu 15.04. I'm not sure enabling the Share API would really be called a "Fix". Since it's an option shouldn't we have the option to disable it without losing folders visually?

Thanks for your time!

[2015-05-22 16:45] RealRancor commented on #16539
Hi,

this is already available: https://doc.owncloud.org/server/8.0/admin_manual/configuration_server/search_configuration.html

[2015-05-22 21:07] rwestlund commented on #12193
Same issue affects me.  Clients on Mac, Android, and FreeBSD all experience the same issue.  Furthermore, I can't download files from the browser.

My server runs 8.0.3.  It's the FreeNAS plugin.  Uses Apache and SQLite, behind an Nginx reverse proxy.  Problem appeared several days after upgrading to 8.0.3.

I found the problem:
[code]
[code]

The `Content-Length` header is much larger than it sho

[2015-05-22 21:49] enoch85 commented on #13258
Wow! Nice! My respect to you @LukasReschke

[2015-05-22 21:50] enoch85 commented on #13258
8.2?

[2015-05-22 21:54] rwestlund commented on #12193
I was wrong, `Content-Length` is correct.  My problem was unrelated to owncloud, although I had identical symptoms.  I'm leaving my post intact in case others are having my problem.

My nginx reverse proxy was having issues.  It seems I upgraded nginx but forgot to restart the service.

In /var/log/nginx-error.log:
[code]

[2015-05-22 22:06] oparoz opened #16540 "Support dots in routes handled by the AppFramework"
I'd like to be able to define routes like this
`/s/{token}.{extension}`
others may want to be able to specify a format
`/user/{id}.{format}`

@Raydiation @LukasReschke

[2015-05-22 22:43] oparoz commented on #16470
@non7top @mrladeia I've added a way to add extensions to links. Everything is described here:
https://github.com/owncloud/galleryplus/issues/156

You'll need to use the master version of Gallery. Simply download the zip file from the right sidebar if you don't want to use git.

Make sure to try as many different forums as you can :)

[2015-05-23 05:17] Raydiation commented on #16540
Iirc this was already discussed but it's not possible because of some symfony routing internal code

[2015-05-23 08:10] jonathannz opened #16541 "Contact sync CardDAV issues"
I noticed today that changes I was making to my local copy of contacts (on a Mac) were disappearing. Turns out the OwnCloud server was not accepting them, and the changed (or newly added) contact details would revert back.
I see there is a 6.5 MB error log. Here is a snippet of *some* of the errors generated today by the Contacts app. I would appreciate help in figuring out what this issue is:

[2015-05-23 08:12] jonathannz opened #16542 "Update 8.02 to 8.03 fails"
After experiencing an issue with Caldav sync failing (reported) I tried to do the automatic update to 8.03. It failed. Here is the log entry related to the attempted update:

    Error 	PHP 	Cannot redeclare class OC\Security\SecureRandom at /home/inspired/public_html/ocloud/lib/private/security/securerandom.php#24 	2015-05-23T07:57:22+00:00
    Debug 	updater 	Downloaded 29420896 bytes.

I notice

[2015-05-23 08:17] jonathannz commented on #16542
After trying the update a second time, there is a little more data. I notice the date/time stamps of these entries are all over the place, and many of the error message also related to issues with timestamps.
[code]

[2015-05-23 09:43] oparoz commented on #16540
;( 

It's true that I didn't check the closed tickets...

   FROM: Bernhard Posselt
SENT: Saturday, 23 May 2015 07:17
TO: core@noreply.github.com
REPLY TO: owncloud/core
CC: Olivier Paroz
SUBJECT: Re: [core] Support dots in routes handled by the AppFramework
(#16540)

Liens:
------
[1] https://github.com/owncloud/core/issues/16540#issuecomment-104846282

[2015-05-23 09:53] oparoz commented on #16540
Symfony supports it:
http://symfony.com/doc/2.2/book/routing.html#advanced-routing-example

[2015-05-23 10:18] oparoz commented on #16531
A duplicate of https://github.com/owncloud/core/issues/14431 ?

[2015-05-23 10:42] oparoz commented on #16525
@PVince81 - Something for https://github.com/owncloud/core/issues/12353?

[2015-05-23 10:46] oparoz commented on #16523
Yes, please!

[2015-05-23 11:34] oparoz commented on #16250
Could you try https://github.com/owncloud/core/pull/16382 and see if it changes things for you? You may need to clear your thumbnail cache or test it with new pictures

[2015-05-23 11:40] RealRancor commented on #16542
Hi,

there are some duplicate reported issues here: https://github.com/owncloud/updater/issues/86 , https://github.com/owncloud/updater/issues/93 , https://github.com/owncloud/updater/issues/99 , https://github.com/owncloud/updater/issues/98 , https://github.com/owncloud/updater/issues/88, https://github.com/owncloud/updater/issues/125

Have a look at https://github.com/owncloud/updater/issues/86#

[2015-05-23 12:16] LukasReschke commented on #16540
Were is the problem?

I adjusted the following in `routes.php` of core and it works just fine:
[code]

[2015-05-23 12:21] oparoz commented on #16540
It doesn't seem to work with the AppFramework though, unless I've made a mistage somewhere
Change this line https://github.com/owncloud/galleryplus/blob/master/appinfo/routes.php#L42
from
`'/s/{token}/{extension}'`
to
`'/s/{token}.{extension}'`

and you'll get a token doesn't not link to a resource type of error

[2015-05-23 12:28] oparoz commented on #16540
The token is retrieved via
`$token = $this->request->getParam('token');`
https://github.com/owncloud/galleryplus/blob/master/middleware/envcheckmiddleware.php#L125

[2015-05-23 12:46] LukasReschke commented on #16540
Well - that simply works fine and is a bug in your code, `page#public_index` collides with `public_download#download_file`. The `token` URL fragment can also contain a `.` - `/` is per default the dividing component.

Take a look at https://doc.owncloud.org/server/8.0/developer_manual/app/routes.html#matching-suburls and define something like `'requirements' => ['token' => '[a-zA-Z0-9]+'],` for th

[2015-05-23 12:46] #16540 closed

[2015-05-23 12:56] oparoz commented on #16540
OK, I'll keep `'/s/{token}/{extension}'` then. I need the overlap to be able to intercept these special cases where there is something after the token.
Thanks for having taken a look :thumbsup:

[2015-05-23 13:02] Raydiation commented on #16540
Ah this is not about the route name, my bad :P

[2015-05-23 13:02] Raydiation commented on #16540
Dot should just work fine BTW see the docs

[2015-05-23 13:14] oparoz commented on #16540
Well, Symfony supports both the / and . as a default segment separator, so it would be nice if the AppFramework did the same or at least let us define it, but as Lukas has mentioned, it will be a problem if the dot is introduced in the token...

[2015-05-23 13:16] oparoz commented on #16540
{_format} support would be great as well since it auto-populates the headers

[2015-05-23 14:40] Bullnados commented on #14886
Im also by all-inkl and have the same opendir(/tmp) error.
Im runing OC with mod_php (Apache Module) and PHP 5.5
First i created a tmp-dir in my OC-Folder
/owncloud/tmp
In the .htaccess i added following code:

<IfModule mod_env.c>
  SetEnv htaccessWorking true
	SetEnv TEMP /www/htdocs/xxx/owncloud/tmp
	SetEnv TMP /www/htdocs/xxx/krakadu/owncloud/tmp
	SetEnv TMPDIR /www/htdocs/xxx/owncloud/tmp

Si

[2015-05-23 18:26] oparoz opened #16544 "Don't store the exact same preview every time we check for its existence"
The Preview class uses a resize method to check if a cached preview already has the proper dimensions, but the calling method doesn't know if a new preview had to be created and saves what it has every time.

https://github.com/owncloud/core/blob/master/lib/private/preview.php#L586

[code]

[2015-05-23 18:31] oparoz opened #16545 "Never cache previews larger than the max preview"
The Preview class stores the same file over and over if it can't match the maxX and maxY dimensions to a cached thumbnail. (maxX and maxY define a rectangle in which the preview must fit).
This won't be completely fixed until https://github.com/owncloud/core/issues/8196 is implemented, but it should never happen if the asked dimensions are larger than the max preview.

What's happening is that the

[2015-05-23 22:03] hydrosIII opened #16546 "Apps not working after update from 8.02 to 8.03."
Hi im using owncloud in Debian Jessie, and when i upgraded from the 8.02 version to the 8.03  recognizing the app directory. I ve got these errors from the owncloud log.
[code]
I have reinstalled owncloud completely to be sure that i had not a corrupted installation, i just moved the data and config.php.

I have installed owncloud 8.03 via the OpenSuse build service.

PHP version:

PHP 5.6.7-1 (cl

[2015-05-23 22:17] vgiannoul opened #16547 "folder & filetype icons hardcoded?"
I'm trying to figure out how could possibly change folder icon without luck.
I've changed icons and placed them inside my theme folder ([themename]/core/img/filetype/folder.svg) and nothing changed.
As far as I can understand the filelist.js (files app) generates inline links for the icons.
What would be the proper way to alter these icons?
Thanks in advance and hope there is some solution.

[2015-05-23 22:26] RealRancor commented on #16546
Hi,

could be related to https://github.com/owncloud/core/issues/14185

[2015-05-23 22:28] RealRancor commented on #16144
@hitam4450
You still havn't used the issue template as requested above ;-)

[2015-05-23 22:36] jeppebundsgaard commented on #16387
Sorry for reporting the error the wrong place. For visitors to this bug, I found a workaround:
I ended up exporting all appointments from the calendar not working, then I created a new calendar, and imported the exported ics-file into this calendar in Thunderbird/Lightning. This calendar works both ways.

[2015-05-23 22:48] hydrosIII commented on #14185
Confirming this is a duplicate from #16546, i just uninstalled memcached from my debian installation, and in mi case restart php5-fpm. Thanks for the woraround, hoe this bug is fixed soon. I installed memcache instead.

[2015-05-24 03:13] oparoz commented on #12471
Don't forget that this is currently not possible because `OC::$server->getUserFolder()` doesn't work if the user is using a token,

[2015-05-24 03:23] oparoz opened #16548 "View->search() returns empty results"
Here is an example with the Preview class.
Looking for a file containing the string 'max' in the user's thumbnail folder
[code]
The folder exists, but the query always returns empty results

If I use `getDirectoryContent()` instead, then I get a list of files, so it's not because the view can't reach that folder.

I've checked the search() method and it gets results from the database, but this par

[2015-05-24 04:52] nicocans commented on #16522
thanks for the tips.
i found the guilty app: it's ServerSide Encryption, in database it's files_encryption set to yes.
this seems to be a bug.

[2015-05-24 05:01] oparoz commented on #16548
`thumbnailsFolderPath` cannot end with a `/`. that's what was throwing the comparison off...  but search cannot be used anyway since we never get a user when previews are access via a token.

[2015-05-24 05:01] #16548 closed

[2015-05-24 06:46] karlitschek commented on #16541
can you open this bug in the contacts repository please?
Thanks.

[2015-05-24 06:46] #16541 closed

[2015-05-24 07:01] kkampardi commented on #8433
Hi there, i'm interesting in working on this feature, is anybody else working too?

[2015-05-24 07:06] kkampardi commented on #8433
Hi there,i 'm interesting in working onthis feature. Is anybody else working too?

[2015-05-24 07:13] tobiasKaminsky commented on #16250
Unfortunately it does not help.
You can try it yourself:
I have used a landscape image: 600x450 and opened this url:
http://localhost/owncloud/index.php/apps/files/api/v1/thumbnail/300/300/Landscape_2.jpg

I would expect an image with 300 width and (450/2)=225 height and nothing being cropped.
Instead I get a 300x300 image which has been resized to fit completely in height, there is nothing being

[2015-05-24 07:44] jonathannz commented on #16542
Thanks. That solution solved it. Much appreciated.

[2015-05-24 07:44] #16542 closed

[2015-05-24 08:44] RealRancor commented on #16547
Hi,

i'm not sure but for the logos you need to also modify the header.css: https://github.com/owncloud/documentation/issues/1092

[2015-05-24 12:58] Henni commented on #15531
Do we actually want to create an icon sprite?
I think using icon sprites would break some functionality like icons in the navigation.
This would need some (maybe dirty) workaround.

Additionally the (hopefully soon) adoption of HTTP/2 should reduce the impact of image sprites.

[2015-05-24 13:24] oparoz commented on #16250
I'm sorry, I should have re-read what I wrote earlier.
This is blocked by #12772, so the only alternative is to use another app for your previews. Seems like that thumbnail endpoint was only designed, for thumbnails.

[2015-05-24 14:15] RealRancor commented on #16546
@hydrosIII
Feel free to close this issue as it is a duplicate of the one posted above.

[2015-05-24 14:30] ghost opened #16550 "[File picker] [File Dropper] ability for creating new folders, do file/folder opperations"
I am a huge fan of the ownCloud Mail app. In the mail app you can save attachments to your files on ownCloud. But when saving attachments to files you can't make new folders, delete folders or rename stuff.

So I hope this can be integrated to the core because that would be truly amazing.

Cheers,

Damion

[2015-05-24 20:51] oparoz opened #16551 "Thumbnail API asks for a preview twice each time"
### ENV
Master only, PHP 5.5, Redis cache

### Steps to reproduce
1. Add this at the top of your getPreview method
`\OCP\Util::writeLog('core', 'CALLING GETPREVIEW ', \OCP\Util::DEBUG);`
2. Go to http://localhost/index.php/apps/files/api/v1/thumbnail/300/300/test.jpg
2. Check the logs

### Expected result
The logs should show one "CALLING GETPREVIEW" message

### Actual result
The logs show 2 "CAL

[2015-05-24 21:22] oparoz commented on #16551
@rullzer - Can you confirm this?

[2015-05-24 22:57] gerroon opened #16552 ""impossible to save email configuration""
I get the exact same error as described in the forum posts.

 https://forum.owncloud.org/viewtopic.php?t=27861&p=85379

[2015-05-25 00:20] enoch85 commented on #13410
@nickvergessen Isn't a better fix to fix the actual problem? :)

[2015-05-25 06:57] davitol commented on #16511
![captura de pantalla 2015-05-25 a las 8 39 49](https://cloud.githubusercontent.com/assets/10596560/7793144/f56b0ef6-02ba-11e5-96c1-9981f3717a12.png)
Those are the options marked

[2015-05-25 06:57] davitol commented on #16511
![pwdlostag](https://cloud.githubusercontent.com/assets/10596560/7793211/1666e76e-02bc-11e5-8908-db45de1f5a45.gif)
Same behaviour with firefox

[2015-05-25 07:06] #16546 closed

[2015-05-25 07:11] tobiasKaminsky commented on #16250
This should be in /core as it is now with the thumbnail route.
Then the android app only has to check if the server is recent enough to have this new route.

So my idea is to modify apps/files/controller/apicontroller.php:70
public function getThumbnail($x, $y, $file) {
to
public function getThumbnail($x, $y, $file, $keepAspectRatio = false) {

Then it would not change the current API as it is an

[2015-05-25 07:12] davitol commented on #16506
@rullzer It is only a visual issue. You can change the pwd if you write it down from the beginning.

![modpwd2](https://cloud.githubusercontent.com/assets/10596560/7793355/2cf5f630-02be-11e5-9c0f-d03de3da8f1d.gif)

[2015-05-25 07:26] davitol opened #16553 "[Sharing by link] The password is required twice"
### Steps to reproduce
1. Send a file to a user by link with password protection
2. Copy the url in your browser
### Expected behaviour

The pwd is required.
### Actual behaviour

The pwd if required again when you accept to add the remote share. Maybe the pwd should be required once.
### Server configuration

**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

**Database:** mysql

*

[2015-05-25 09:06] hitam4450 commented on #16144
Ok, thanks for the reminder. Please close the subject. If synchronizing to OC 8.03 instances including 2 shared directories, do not work at once - just forget it. I found a solution, of course more laborious, but it works fine!

[2015-05-25 09:08] hitam4450 commented on #16144
I closed the issue!

Am 24.05.2015 um 00:29 schrieb RealRancor:

[2015-05-25 09:35] gadLinux commented on #16162
Hi Olivier,

Thank you for the feedback. I will see what parts are in use on csync.
Because I have thinking about two approach. One is to implement the
rsync protocol to transfer the file, and the second one is use something
like bitttorrent. So it can transfer only the parts needed for it but
also leave doors open for multiple client sync against same file in a
decentralized way.

I suppose that

[2015-05-25 09:40] danimo commented on #16162
@gadLinux Please stick with HTTP. Other protocols are not usable in certain scenarios (Port 80 and 443 are always open, others often are not). On top of that, there are a number of other advantages with the zsync approach (with sits on top of HTTP), is that the server can remain mostly passive, which shifts a lot of load to the client. This improves scalability.

[2015-05-25 10:33] Dianafg76 opened #16554 "[Sharing link] If you have a shared file, remove the share on the desktop , server icon is not removed"
### Steps to reproduce
1. Oper your Owncloud Desktop client
2. Go to Open Folder "ownCloud"
3. Create a new File, call 444
4. Right click on the folder 444
5. Select share with ownCloud
6. "set expiration date" and select the date when you want it to expire
7. Open your Owncloud Web client
8. The File 444 is SHARED
9. Go to Owncloud Desktop
10. Right click on the folder 444
11. Disable the option

[2015-05-25 10:58] SergioBertolinSG commented on #16264
Tested with last master branch (2015-05-25). Same behaviour.

![screen shot 2015-05-25 at 12 57 21](https://cloud.githubusercontent.com/assets/9048796/7796256/b3b7c7e2-02dd-11e5-9646-91135562aca8.png)

[2015-05-25 12:00] davitol opened #16555 "Preview text icon does not work in federated shared files"
### Steps to reproduce
1. Send a file to a user by link of other server
2. Accept the shared filed

### Expected behaviour
If the file has text written, the 'preview icon' should be shown.

### Actual behaviour
The standard icon is shown.

### Server configuration
**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

**Database:** mysql

**PHP version:** 5.5.9

**ownCloud version:** ve

[2015-05-25 12:07] davitol opened #16556 "Preview text icon is shown only when it is written more than six characters in the file."
### Steps to reproduce
1. Create a new file and edit it with less than 6 characters

### Expected behaviour
If the file has text written, the 'preview icon' should be shown.

### Actual behaviour
The standard icon is shown unless it has more than five characters

### Server configuration
**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

**Database:** mysql

**PHP version:** 5.5.9

[2015-05-25 12:33] stefan-niedermann opened #16557 "Fatal Error on Cron Execution"
Hi, i'm using OC 8.0.2. On every Cron Execution i get the following error:

[code]

this happens for 3 days. before it all worked well. i have nothing changed on my installation.
the news app does not fetch new items anymore, so i think the error crashes the whole cronjob.

any ideas or further information needed?

[2015-05-25 12:50] davitol commented on #16174
![captura de pantalla 2015-05-25 a las 14 49 14](https://cloud.githubusercontent.com/assets/10596560/7797499/4249d400-02ed-11e5-8b94-5b91a30cc017.png)
Using firefox this is the actual behaviour. Maybe is the best option?

[2015-05-25 12:58] nickvergessen commented on #13586
It has been fixed upstream in SwiftMailer 6.0 which is backwards incompatible and uses a thirdparty to validate the emails.

[2015-05-25 16:05] TehTotalPwnage opened #16558 "File Exists on Server But Not Displayed"
I had a bit of an issue while sorting out my music library. So every song in my music library exists in 4 folders that exist in one larger folder like so:

Main Music Folder
|-Sub Folder 1
|-Sub Folder 2
|-Sub Folder 3
|- Sub Folder 4

I tried renaming the main music folder, which resulted in sub folders 1 and 4 suddenly disappearing, taking away about half of my music library. However, if I use a

[2015-05-25 17:16] vidaren opened #16559 "Missing translation in External storage back-end and LDAP wizard"
### Steps to reproduce
1. Run the owncloud web UI as admin, using a non-English UI language.
2. Activate the following apps: External storage support, LDAP user and group backend.
3. Go to the Admin page
4. Under External storage, observe that "SFTP with secret key login" is never translated.
5. Under LDAP, observe that the tool tips for the three small buttons top left are never translated.

###

[2015-05-25 18:33] evert commented on #12543
Note that all sabre/dav plugins are _already_ built to only add their own behavior for relevant paths. Generally they don't really do that based on the path though, but usually:

1. the type of request (MKCALENDAR is only relevant for CalDAV).
2. the content-type of the request
3. the type of node (calendaring-related behavior would kick in on nodes implementing Sabre\CalDAV\ICalendar).

To a cert

[2015-05-25 19:49] VicDeo commented on #14185
@jgmy have you tried to choose another cache backend (APC/XCache/Redis) in config.php?

[2015-05-25 20:41] jgmy commented on #14185
I used memcached due requirements in other scripts in shared hosting. I
still have to check what script was using memcached and wether it works
with another cace or not.

-----
Perdon por  las posibles faltas, escribo desde un móvil...
El 25/5/2015 21:49, "VicDeo" <notifications@github.com> escribió:

[2015-05-25 20:46] VicDeo commented on #14185
@jgmy you can still use memcached for another scripts but disable it for OC in config.php (or use another cache)

[2015-05-26 07:13] hoho508 commented on #16558
#13948 should be able to improve your situation

[2015-05-26 07:52] PVince81 commented on #15373
Try disabling the sharing app too.

[2015-05-26 08:00] schiesbn commented on #16388
The system does not ask for the recovery password that has been set before.
Login with the new password works, but it looks as if all files did not get the right updated keys.

That's by purpose because you, the user, typically don't know the recovery password but only the admin. So it doesn't make sense to ask for the recovery key password on the "reset password" page. What the admin needs to do

[2015-05-26 08:00] #16388 closed

[2015-05-26 08:03] schiesbn commented on #16298
@jnfrmarks I agree with you but it was requested by @MTRichards so I think he should decide if we remove it or not.

[2015-05-26 08:04] PVince81 commented on #12471
@icewind1991 any ideas for @oparoz's last comment ?

It might be possible to go through `getRootFolder()`

[2015-05-26 08:05] PVince81 commented on #8433
@kkampardi feel free to take over :smile:

[2015-05-26 08:11] PVince81 commented on #16511
@davitol the GIF for Firefox is the expected behavior. The password will be replaced by the placeholder "Password protected". If you want to change it, you need to click and retype it.

The only problem I see is that in IE9 it doesn't show the placeholder due to a general issue with field placeholders, but this might be "by design" too. Does this ring any bells @MorrisJobke ?

[2015-05-26 08:14] butonic commented on #8630
I also just stumbled over the Storage tests for unlink and delete:
[code]

In contrast to php we seem to have added functionality to unlink until it could do the same as rmdir. I agree with @schiesbn on reducing this redundancy. I would however make the methods more php like, since we reference the php doc:
*`unlink` deletes single files,
* `rmdir` deletes empty directories
* rename `deleteAll` to

[2015-05-26 08:15] schiesbn commented on #16264
Tried it again with the enterprise theme and this state of owncloud: 6198fb20cb20af2c9192a470f6cb2be4c43721ad

This is the error message I get:

![1](https://cloud.githubusercontent.com/assets/1589737/7807960/c160936c-038f-11e5-85b6-6606a3f782d6.png)

I followed exactly your steps. Maybe you can add more details to your last step:

First I assume that you meant "user1" and not admin, right. The ad

[2015-05-26 08:28] cdamken commented on #9878
@MTRichards The fix from @DeepDiver1975 https://github.com/owncloud/core/issues/9878#issuecomment-78486280 is a workaround and should be manually made in every upgrade.

The solution is if the video streamer is disabled, then the stream should not appear.

[2015-05-26 08:38] PVince81 commented on #12543
In the case of a mixed tree, I guess it might work as we'd have an implementation of ObjectTree that sits at the base and delivers different node implementations for different paths. So if the plugins are all working with specific node types (ex: trash plugin working with TrashedFile nodes), then it could work.

Note that in the case of trashed files or versions, we wouldn't invent a new content-t

[2015-05-26 08:39] PVince81 commented on #16558
Duplicate of #13391, but as you said https://github.com/owncloud/core/issues/13948 should improve the situation

[2015-05-26 08:39] #16558 closed

[2015-05-26 08:43] PVince81 commented on #11804
Note for testers: to enable this feature you need to set "filelocking.enabled" to "true" in config.php and also configure a memcache server. (redis coming later)

[2015-05-26 09:03] schiesbn opened #16560 "http prequest run forever and freeze the interface"
If the remote server doesn't response to a post request the http requests run forever and freeze the interface.

In the past we had a timeout to prevent it  (https://github.com/owncloud/core/commit/5f044ebf1bc6f45acec2e79dc05185acd0405f42#diff-d3fcad49ec7088a1005cfe4a3b4bd62fL181), but it seems that it gets lost with this changes by @LukasReschke  https://github.com/owncloud/core/commit/5f044ebf1b

[2015-05-26 09:11] Octopus2 commented on #16187
@MorrisJobke Any news on this?

This is an annoying error when you mainly use ownCloud for working togeter on shared files (Userquota only 10MB) and you can´t delete bigger files any more...

[2015-05-26 09:23] LukasReschke commented on #16560
Unit test and potential patch is at https://github.com/owncloud/core/pull/16561

[2015-05-26 09:26] schiesbn commented on #16510
fixed with https://github.com/owncloud/core/pull/16512

 @SergioBertolinSG can you verify that the pr mentioned above fixes the issue? Thanks!

[2015-05-26 09:28] PVince81 commented on #16510
@schiesbn that PR still needs fixing, see https://github.com/owncloud/core/pull/16512/files#r30872327

[2015-05-26 09:30] schiesbn commented on #16510
I know... But this are minor issues. The current state should already demonstrate that it fixes the issue... tested by my own.

[2015-05-26 09:37] SergioBertolinSG commented on #16264
Yes I meant 'Open with user1 the file shared by admin' sorry for confusion.

I tried to open the file with text editor.

[2015-05-26 09:42] PVince81 commented on #16559
@DeepDiver1975 can you check if the bot is sleeping ?

[2015-05-26 09:44] PVince81 commented on #16557
Hmm, I think a failing job in the queue should fail gracefully and move on to the next one after logging the error.

[2015-05-26 09:44] PVince81 commented on #16557
CC @georgehrke @oparoz for the error which seems to be related to previews.

[2015-05-26 09:46] PVince81 commented on #16557
@stefan-niedermann could you please use the issue template or at least tell us what ownCloud version you are using ?

From the code on master I see that exceptions should be catched as expected and would move on to the next job: https://github.com/owncloud/core/blob/master/lib/private/backgroundjob/job.php#L53
Strangely your error message doesn't contain the string "Error while running background

[2015-05-26 09:47] PVince81 commented on #16557
@stefan-niedermann ok I see, it's 8.0.2.

[2015-05-26 09:47] poldixd commented on #14886
Yes, it works. Thanks!

But if there is an update for owncloud, the .htaccess will be overwritten in the next release.

[2015-05-26 09:47] PVince81 commented on #16557
8.0.2 has the check too: https://github.com/owncloud/core/blob/v8.0.2/lib/private/backgroundjob/job.php#L37

[2015-05-26 09:48] PVince81 commented on #16556
I think this is by design @georgehrke @oparoz.
At least that's what I was told when I saw it happening.

[2015-05-26 09:48] PVince81 commented on #16555
Your file has 0 kb. What about bigger files ? (more than 6 characters)

[2015-05-26 09:50] PVince81 commented on #16554
@Dianafg76 disabling "expiration date" doesn't automatically unshare. You have to uncheck "share link" to remote the share.

[2015-05-26 09:51] georgehrke commented on #16556
That's indeed on purpose: https://github.com/owncloud/core/blob/master/lib/private/preview/txt.php#L41

[2015-05-26 09:51] PVince81 commented on #16553
I believe that this is by design, at least for now, because we don't want to send the password in the URL (which is the only way to connect to the other server).

But maybe in the future this could be done with tokens, if possible.

[2015-05-26 09:52] PVince81 commented on #16552
This is suspicious:
[code]

Can you please use the issue template https://raw.githubusercontent.com/owncloud/core/master/issue_template.md ?

How did you install/upgrade ownCloud ? Maybe something went wrong when replacing the source code files ?

[2015-05-26 09:53] PVince81 commented on #16551
CC @georgehrke

This can probably be bisected to find out when it got broken

[2015-05-26 09:54] PVince81 commented on #16550
Can you elaborate ?

Is this about adding a generic file picker / file save dialog to core that can be reused by apps ?

[2015-05-26 09:56] PVince81 commented on #16539
Closing as invalid.

@jonaysanz if despite proper configuration you are still seeing issues, please reopen and use the issue template https://raw.githubusercontent.com/owncloud/core/master/issue_template.md with more details about your setup and reproduction steps.
Thanks.

[2015-05-26 09:56] #16539 closed

[2015-05-26 09:58] PVince81 commented on #16533
You mean "delete action" is missing ?

There is probably a permissions mix up

[2015-05-26 10:02] PVince81 commented on #16530
@Dianafg76 it looks like you are testing 7.0.1 ? That issue was fixed a while ago.
Please try again with 7.0.5 or 8.0.3.

Works for me in 8.0.3.

[2015-05-26 10:02] #16530 closed

[2015-05-26 10:02] #16356 closed

[2015-05-26 10:04] georgehrke commented on #16551
I'm on PHP 5.5 as well and it's only called once for me.
- only one log entry
- XDebug hits the breakpoint only one time as well

I don't have a redis cache set up, but that shouldn't cause such errors (hopefully)

[2015-05-26 10:05] PVince81 commented on #16530
Duplicate of https://github.com/owncloud/core/issues/9677

[2015-05-26 10:06] PVince81 commented on #16522
@nicocans did you just enable encryption ? Or was it enabled a while ago ? Is this a newly created user ?
Normally every new user gets the initial encryption in 8.0.x versions, at this should happen only once.

[2015-05-26 10:07] PVince81 commented on #16513
@nickvergessen

[2015-05-26 10:08] PVince81 commented on #16556
We probably need some documentation for this @carlaschroder @MTRichards

[2015-05-26 10:17] georgehrke commented on #16556
On the other side: It should show a preview as long as there is at least one character.
@jancborchardt @oparoz Do you remember why we decided to set the barrier to 6?

[2015-05-26 10:19] georgehrke commented on #16551
@PVince81 Can you reproduce this behavior?

[2015-05-26 10:23] #16560 closed

[2015-05-26 10:28] PVince81 commented on #16551
What am I doing wrong ?

I have a file called "test.jpg" in the root.
But this:
[code]

gives me a 404

[2015-05-26 10:28] PVince81 commented on #16551
damn copy-paste, I forgot the context path...

[2015-05-26 10:28] PVince81 commented on #16551
I only get the log message once when downloading the preview with curl.

[2015-05-26 10:28] PVince81 commented on #16551
aka WORKFORME :wink:

[2015-05-26 10:30] rullzer commented on #16551
Same here.. only 1 log message...

[2015-05-26 10:33] PVince81 commented on #16551
@oparoz please double check your steps

[2015-05-26 10:35] PVince81 commented on #13607
You tagged this as regression, so this worked before ?

[2015-05-26 10:40] VincentvgNn commented on #16442
At issue #16388 @schiesbn answered that for a data recovery an admin intervention is always needed!
So in case of encryption it's almost useless to offer a password reset to the users.
The current warning does not tell the users that their data will be immediately unreadable and that they need the admin's help for later recovery anyway. And it also does not indicate whether the admin has set a rec

[2015-05-26 10:47] PVince81 commented on #16502
Closing as obsolete, this change is not needed.

[2015-05-26 10:47] #16502 closed

[2015-05-26 10:50] PVince81 commented on #16489
@oparoz looks like btoa is not supported in IE9 ?
There might be a workaround: http://stackoverflow.com/questions/18508582/alternative-btoa-encoding-in-internet-explorer

Do you want to take care of it or should I ?

[2015-05-26 10:54] PVince81 commented on #16410
Are you sure it's not just slow and takes longer to rename ?

If not, then maybe something is wrong in the network response or in the JS code that should remove the spinner. (anything in the JS console ?)

[2015-05-26 10:59] PVince81 commented on #16365
Ah yes, known issue

[2015-05-26 11:03] PVince81 commented on #16190
@owncloud/designers

[2015-05-26 11:05] PVince81 commented on #16140
Not sure if related, but I had a one-time issue on stable8 where changing the version in version.php would not trigger the update screen. I could not update ownCloud any more, this was with memcache. Solved by re-running the setup.

[2015-05-26 11:09] PVince81 commented on #15967
Duplicate of https://github.com/owncloud/core/issues/13147
We need a stat cache for every external storage.

[2015-05-26 11:09] #15967 closed

[2015-05-26 11:10] icewind1991 commented on #11804
Redis already works if you configure redis as your memcache backend

[2015-05-26 11:11] PVince81 commented on #15967
@jnfrmarks I see you set the milestone. Please reevaluate whether we want 8.1 or 8.2 on https://github.com/owncloud/core/issues/13147.

Note that implementing a stat cache will affect all file operations and would need full regression testing of S3. A stat cache was implemented for SWIFT a while ago but got deferred again to 8.2: https://github.com/owncloud/core/pull/7897

General info about stat

[2015-05-26 11:16] PVince81 commented on #15821
Did you create groups during your mucking around ?
I could imagine that some code paths do not properly update the dropdowns and might miss newly created groups.

Note that if you create a new group in the dropdown in the top bar, but did not create a user, it will not actually create a group.
Also creating a group without assigning it to a real user might not actually create the group either.

[2015-05-26 11:19] PVince81 commented on #15669
Closing as duplicate of https://github.com/owncloud/core/issues/16177

[2015-05-26 11:19] #15669 closed

[2015-05-26 11:28] PVince81 commented on #14754
So an option has been added on the CLI to upgrade without disabling: https://github.com/owncloud/core/issues/16221

Let's keep this ticket here open to continue the discussion.

[2015-05-26 11:33] PVince81 commented on #10371
@schiesbn does this still apply for the new encryption ?

[2015-05-26 11:35] stefan-niedermann commented on #16557
Hm, any hotfix or workaround i could use? This is spamming my logfile and i am not able to use News-App.
Or any Idea what App causes this crash so i could at least deactivate it?

Further Information:
PHP 5.5.22
MySQL libmysql - 5.5.41
Apache/2.2.22 (Debian)

[2015-05-26 11:35] schiesbn commented on #16264
ok, this might explain it. Try to click on the download link instead, this should lead to the error page I showed above.

For the text editor you need this PR to be able to display errors correctly: https://github.com/owncloud/files_texteditor/pull/72

[2015-05-26 11:39] PVince81 commented on #16557
You could try adding this:
[code]

before https://github.com/owncloud/core/blob/v8.0.2/lib/private/backgroundjob/job.php#L36

This would log the jobs that are getting executed and might help pinpoint which one is failing.

[2015-05-26 11:39] PVince81 commented on #16557
(and set loglevel to 0 in your config.php)

[2015-05-26 11:42] schiesbn commented on #10371
Most likely yes as renaming mount points or removing them completely in the external storage settings doesn't trigger any hooks the encryption app could listen to

[2015-05-26 11:47] jvillafanez commented on #14843
Checked for stable7 :+1:

[2015-05-26 11:49] davitol commented on #16555
With bigger files it works, but I have realized of "another" issue/enhacement. Federated sharing files do not update their preview icon if the file is edited in server A. Refreshing does not solve it.

[2015-05-26 11:52] jvillafanez commented on #14098
checked for stable7 :+1:

[2015-05-26 12:43] schiesbn commented on #14539
I remove the encryption label. The same problem happens also without encryption. As explained by @PVince81 that's because we write files uploaded over the web interface directly to the final location. If you start to download the file before the upload finished you will always end up with a broken file. Most likely this bug exists since the first day of ownCloud

[2015-05-26 12:44] andyrblank commented on #15373
Thanks! That works and is just a bit to obvious of a solution for me apparently, lol.

[2015-05-26 12:45] cdamken opened #16564 "[8.0.2] Errors after installation from TAR, trying to open the Admin page"
###Architecture:

webserver version: "Apache\/2.2.22 (Debian)",
ownCloud version string: "8.0.2",
PHP Version: "5.4.36-0+deb7u3",
Fresh Installed

### Steps to reproduce.

1 Install oC from Tar
2 open the admin page after the instalation.

### Log:
[code]

@MorrisJobke

00002750

[2015-05-26 12:57] DeepDiver1975 commented on #16564
Please disable the theme and retry - THX

[2015-05-26 12:58] DeepDiver1975 commented on #16564
looks like a custom theme which is broken

[2015-05-26 13:02] DeepDiver1975 commented on #16559
String is not marked as translatable - https://github.com/owncloud/core/blob/master/apps/files_external/appinfo/app.php#L230

[2015-05-26 13:07] DeepDiver1975 commented on #16180
@kumarsanjeet101 I'm having a hard time to understand your report. Please use the issue template - THX

https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

[2015-05-26 13:07] #16180 closed

[2015-05-26 13:10] DeepDiver1975 commented on #16483
@DrSAR this is where we set the permissions - https://github.com/owncloud/core/blob/master/lib/private/util.php#L840

Feel free to adopt this to your personal needs - currently I see no reason to adopt out code base.

THX

[2015-05-26 13:10] #16483 closed

[2015-05-26 13:11] DeepDiver1975 commented on #16379
@schiesbn @rullzer sounds like some more sharing fun :rocket:

[2015-05-26 13:11] #16312 closed

[2015-05-26 13:15] rullzer commented on #16379
I'll try to reproduce this on master this evening. And check if we have a test for this (we *should*).

[2015-05-26 13:33] #4031 closed

[2015-05-26 13:34] PVince81 commented on #13391
Steps to reproduce consistently:
1. Add `sleep(1);` here in the loop: https://github.com/owncloud/core/blob/master/lib/private/files/cache/cache.php#L553
2. Setup sync client
3. Upload a folder "test" containing about 70 files (with sync client or web UI)
4. In the web UI, rename "test" to "test2". This will take a long time.
5. Let the sync client sync while the cache update is happening
6. At so

[2015-05-26 13:39] PVince81 commented on #13391
From what I see the new transaction at least makes sure that the cache itself isn't half-updated, since we only commit at the end. But there is still a discrepancy between what's on disk (the folder already renamed) and the cache contents.

[2015-05-26 13:53] arturluizbr commented on #10084
I always get forbidden issue, after installing or updating owncloud (most recent versions, including 8.0.3), and:

[code]

Always fix it.

Btw, I use CentOS Web Panel.

[2015-05-26 14:01] pomu0326 commented on #16187
@Octopus2 Hi, It is my workaround.

/lib/private/files/storage/wrapper/quota.php
[code]

[2015-05-26 14:02] MTRichards commented on #9878
@cdamken

I agree!
It still think this is a bug. How can an app that is disabled still trigger a video preview?

All I can do is say *maybe* we can do something in 8.2, if this is a feature. 8.2 is really busy though.
If a bug, we can look at a sooner release.

What version is this affecting?

[2015-05-26 14:08] MTRichards commented on #16556
good idea to put something into the documentation - thanks @carlaschroder

[2015-05-26 14:09] rjaeckel commented on #14012
@DeepDiver1975
what about considering pcntl as an option? this would make it possible to use the whole computing power... there are several libraries here on github providing `php threads` this way.

[2015-05-26 14:09] PVince81 commented on #14539
Tested with the PR https://github.com/owncloud/core/pull/16237#issuecomment-105536426 for files locking, and now when trying to download the file it returns a LockedException instead of a broken file.

Steps to reproduce without encryption:
1. Add "sleep(1);" in the stream copy loop here https://github.com/owncloud/core/blob/master/lib/private/helper.php#L623
2. Upload a file that has several 8k b

[2015-05-26 14:21] arm2arm opened #16566 "Group Admin see wrong number of users in "Everyone" counter."
My Setup is OC8.0.3 ubuntu 15 with mariadb.
Assuming we have group admin A with two groups GG and MM with: A,B,C,D,E,F 6  users

If we put all users to GG and MM groups then Everyone shows 12 instead of 6 users.
Everyone 12
GG 6
MM 6
Now if you click to Everyone you see 6 users but Everyone shows 12 which is confusing.
in the settings/ajax/gateeveryonecount.php the function for the group admin ret

[2015-05-26 14:21] swbartley opened #16567 "Renaming folder causes clients to loose files"
I renamed a directory in my owncloud folder once it went to sync all of the sub directories and files of that renamed directory disappeared and I need to recover these files urgently. I'm hosting owncloud myself at a web hosting provider using version 8 and the desktop client 1.8.1.

The files have been deleted but I can see them in the activity log on the server however it wont let me restore the

[2015-05-26 14:22] PVince81 commented on #13391
Let's think about the locking case from https://github.com/owncloud/core/issues/16237: since we're uploading multiple files, there are two possible conditions, either:
1) We are still uploading (or doing the final rename), so the parent folder is locked and cannot be renamed.
or
2) We are between two uploads (or still gathering chunks) and the parent folder is not locked. In this case the parent f

[2015-05-26 14:23] PVince81 commented on #13391
I actually only tested with files < 20 MB, so the chunking situation did not apply.

[2015-05-26 14:27] PVince81 commented on #11795
Tested with high-level file locking https://github.com/owncloud/core/issues/16237

Let's think about the locking case from https://github.com/owncloud/core/issues/16237: since we're uploading multiple files, there are two possible conditions, either:
1) We are still uploading (or doing the final rename), so the parent folder is locked and cannot be renamed.
or
2) We are between two uploads (or sti

[2015-05-26 14:28] PVince81 commented on #13391
Here from a locking point of view: while the cache is still being updated, any PROPFIND or GET call on or inside of the renamed folder (or the target name) should be blocked with LockedException.

[2015-05-26 14:36] razyr commented on #16410
I saw similar behaviour when I reported #16256.  Only a manual refresh of the page got rid of the spinner after a rename.

[2015-05-26 14:39] ZWS2014 commented on #14840
Ditto; adding curl_setopt($curl, CURLOPT_SSL_VERIFYPEER, false) to /[installation_root]/lib/private/httphelper.php is a workaround on
ownCloud 8.0.3 (stable), CentOS 7.1.1503, PHP 5.4.16, curl 7.29.0, Nginx 1.8.0

[2015-05-26 14:53] DeepDiver1975 commented on #16379
Incredible - THX

[2015-05-26 14:55] DeepDiver1975 commented on #16564
please reopen if error still persists - THX

[2015-05-26 15:24] PVince81 commented on #11795
@cmonteroluque we probably also want this assigned to 8.1 (because I don't see why https://github.com/owncloud/core/issues/13391 is but not this one here)

[2015-05-26 15:55] PVince81 opened #16569 "Slow transfer can bypass etag precondition check, no conflict file"
### Steps to reproduce
1. Create a file "test.txt" with the contents "initial"
2. Setup as sync client
3. Add `sleep(30)` here: https://github.com/owncloud/core/blob/master/lib/private/connector/sabre/file.php#L190 (before the final rename)
4. Change "test.txt" locally, set its contents to "local" and let the sync client upload the file
5. While it's uploading, change "test.txt" in the web UI and

[2015-05-26 15:56] PVince81 commented on #16569
CC @cmonteroluque

Setting to sev high for now.

[2015-05-26 16:00] PVince81 commented on #16569
It also looks like no version is created for the "web" version of the file, so that edit is completely lost.
Could also happen if the change was done by another sync client.

The race condition is that both edits must happen at the same time after both did the precondition check.

[2015-05-26 16:19] PVince81 commented on #11804
Raised https://github.com/owncloud/smashbox/issues/94 about writing a special app that could help recreate the race conditions more consistently.

[2015-05-26 16:22] PVince81 commented on #16569
Currently the precondition check is done by Sabre before reaching our code.
We either need to find a way to move the chunking work before that happens (it needs to be reworked anyway), or do an additional precondition check just before doing the final rename (might be the easiest solution short term)

[2015-05-26 16:23] kkampardi commented on #8433
@PVince81 i'll keep you posted :-)

[2015-05-26 16:29] PVince81 commented on #16569
Note: some other conditions could happen at the time of the final rename:
- the target folder has been moved (it currently returns 500 "could not rename part file to final file)
- the file to be overwritten has been moved/deleted, which would probably also fail a precondition check if it happened earlier

[2015-05-26 17:06] evert commented on #12543
Hm.. can you get rid of the custom objecttree implementation? I think your implementation might be a lot simpler if you do. All you need is a root node that correctly instantiates these sub-nodes, instead of doing it on the objecttree-level.

[2015-05-26 17:15] Bullnados commented on #14886
Yes, but when you installed Owncloud you must be an explorer and discoverer or you have a problem^^

[2015-05-26 17:34] oparoz commented on #16489
I see potentially 2 problems here:
* The text preview doesn't show up
* Add to ownCloud doesn't work

The use of btoa could be the reason the preview doesn't show up, but that would need to be confirmed by @davitol

Now, regarding the 2nd point, I don't think this has anything to do with the previews or am I wrong @PVince81 ?

[2015-05-26 17:39] oparoz commented on #13607
Yes, before the max preview, each provider would be queried for each request and thus provide a preview matching the asked dimension. Since they're now only use to generate the max preview, we need to make sure those previews keep the aspect ratio of the original image.

[2015-05-26 18:27] oparoz commented on #16551
Hmmm... I've just tried again and same problem, but my branch is a bit behind. I'll try again after a pull.

[code]

[2015-05-26 18:33] VincentvgNn opened #16570 "An often interrupted connection causes lots of chunks and partial files."
### Description
I have OC sever 8.0.3 running at a web-hosting company.
The Apache server is shared with other customers. The data transfer speed may be throttled down and I'm assured of connection interrupts every 1 to 7 minutes. So the upload of large files will be interrupted many times. I see temporary blacklisting happening and when I'm lucky, the last large files (10-30 MB) will be uploaded

[2015-05-26 18:53] shaneonabike opened #16571 "Usability issue: Icon listing instead of dropdown"
When I first used ownCloud I did not realize that other functionality was available in the dropdown of Files (read: I didn't realize the other sections like Calendar, etc where located there). Normally, when I see this type of functionality I think that it is the settings for "Files". (I could be the only one).

BUT I got thinking why we don't provide icons across the top (with / without the optio

[2015-05-26 19:22] VincentvgNn commented on #10975
On 22-09-2015 I wrote:
_New is that I got 2 corrupted files on the downloading PC's, one on each PC, files that are missing a piece of data at the end. These files got corrupted at the download. In the cloud they are OK._

In a recent test of server 8.0.3 and client 1.8.1, I again found one file that was corrupted at download on one PC. Unfortunately the beginning of the client log was truncated u

[2015-05-26 19:30] #16144 closed

[2015-05-26 20:43] jancborchardt commented on #16174
@davitol that's the way I fixed it. ;)

[2015-05-26 20:43] #16174 closed

[2015-05-26 21:00] jancborchardt commented on #15531
@Henni can you explain why it would break that? You mean because the background image is on the left and everything right of the icon would show? I think that's what background-size is for, although that is not available in IE I believe. So yeah, good question.

[2015-05-26 21:39] jancborchardt commented on #16190
@schiesbn any news here?

[2015-05-26 23:15] Henni commented on #15531
@jancborchardt are you actually able to crop with background-size? I thought that only scaling is possible.

I'm just not sure whether image sprites may become a bad practice as soon as we have the capabilities of HTTP/2. I definitely see the current performance improvements by sprites but I don't think that this is worth the extra workarounds when you want to use the icons in different settings.

[2015-05-27 00:36] simonschaufi commented on #4715
related to owncloud/gallery/issues/159

[2015-05-27 02:31] cf8geek commented on #12730
I don't know for sure if the command is what fixed my problem, or if I manually fixed it somehow. Either way, it's been working fine, as evidenced by my lack of attention to this thread.

Sorry, and thanks!

[2015-05-27 05:18] MorrisJobke commented on #16511
Only the annoying bells :(

The placeholder hack we have present for IE8 and 9 aren't working for password fields. @jancborchardt Worth to fix? Because this would require a lot of JS to mimic that behaviour - and has a huge potential to break the behaviour in IE8 and 9 even more. :(

[2015-05-27 06:09] MorrisJobke commented on #9474
Duplicate of #983

[2015-05-27 06:09] #9474 closed

[2015-05-27 07:18] rullzer commented on #16379
I checked yesterday and this does work on current master.
A quick check also showed working behaviour on stable8. So I think it is an OC7 issue.

If I have time in the not to distant future I'll setup an OC7 instance

[2015-05-27 07:20] rullzer commented on #16553
CC @LukasReschke I assume you agree that we have to wait until we have proper tokens to support this.

[2015-05-27 07:47] cdamken commented on #16239
@Xenopathic When will be those pull requested done?

@MorrisJobke @icewind1991 If the scanner does not run over SMB, how can be checked the files?

[2015-05-27 07:55] DeepDiver1975 opened #16572 "Undefined index: dirname"
[code]

[2015-05-27 08:03] schiesbn commented on #16080
fix was merged

[2015-05-27 08:03] #16080 closed

[2015-05-27 08:18] LukasReschke opened #16573 "Deprecate \OCP\Files::rmdirr"
`\OCP\Files::rmdirr` claims to work "on the internal filesystem abstraction layer" and the class even worse  claims to be the one that should exclusively be used to access files.

In reality `\OCP\Files::rmdirr` just calls `\OC_Helper::rmdirr` which works on the system's file system and thus has no protection against traversals etc.

@icewind1991 Do you know what would be the right method to use n

[2015-05-27 08:22] DeepDiver1975 opened #16574 "Undefine variable OC_Channel"
@VicDeo please fix - thx

![bildschirmfoto von 2015-05-27 10 21 16](https://cloud.githubusercontent.com/assets/1005065/7831792/27abba64-045a-11e5-900f-c40227721570.png)

[2015-05-27 08:24] LukasReschke commented on #16574
That is black magic we have since ages :see_no_evil:  – Stumbled upon this as well in the past but was :see_no_evil: ;-)

It includes version.php at https://github.com/owncloud/core/blob/3babcd034438476aa87c1b970d6cfa98f2ded625/lib/private/util.php#L378 which has this variable https://github.com/owncloud/core/blob/3abc6e6c44cae59ced68e7e498d78debd74f3534/version.php#L32

Ideas how to change this?

[2015-05-27 08:32] PVince81 commented on #12543
Right, the root node. I think I need to do more exercises with Sabre :wink:

[2015-05-27 08:34] PVince81 commented on #16489
@oparoz good point. I got blinded by the JS error.

But still, sometimes a single JS error will throw out and prevent subsequent Javascript to be executed. In this case, it might prevent the event handler to be registered on the button.

[2015-05-27 08:35] PVince81 commented on #16489
Well, not "subsequent" but code that appears after the line that failed.
If the event handler was register before that failure, then it should work.

[2015-05-27 08:39] VicDeo commented on #16574
@DeepDiver1975
it's defined and loaded from version.php like
`$OC_Version`, `$OC_VersionString`, `$OC_Build`

[2015-05-27 08:42] DeepDiver1975 commented on #16574
yes - but the ide is still crying for OC_Channel - where as it's not crying for OC_Build ...

[2015-05-27 08:43] PVince81 commented on #12730
No worries. Thanks for the feedback.

[2015-05-27 08:44] VicDeo commented on #16574
@DeepDiver1975 I guess  `/** @var $OC_Channel string */` should be enough, will check it.

[2015-05-27 08:44] DeepDiver1975 commented on #16574
I know - we shall fix this some day ...

[2015-05-27 08:51] PVince81 commented on #15994
When you renamed the directory, did you have a sync client that was also connected to this account ?
If yes, then what you experienced is likely to be https://github.com/owncloud/core/issues/13391.

A message "do not change directory" would not help unfortunately because connected clients might also request the state of the folder.

[2015-05-27 09:31] LukasReschke opened #16575 "Consider adding OpenSSL to RNG mixer"
Ref https://github.com/owncloud/core/pull/16565

[2015-05-27 09:32] LukasReschke commented on #16575
We can probably just use the existing one from RandomLib but inject it manually from core so that we don't have to modify a third-party library.

[2015-05-27 09:42] PVince81 commented on #16570
Ideally chunks should get cleant up in background jobs (because OC cannot always reliably detect failed/aborted uploads): https://github.com/owncloud/core/issues/14646

Let's still keep your ticket for the part files.

[2015-05-27 09:44] PVince81 commented on #16567
Check your "data" folder directly, it is very likely that the files are still there. You might be able to make them reappear by running "./occ files:scan --all" as web server user.

Closing as duplicate of https://github.com/owncloud/core/issues/13391

[2015-05-27 09:44] #16567 closed

[2015-05-27 10:10] PVince81 commented on #13391
I tried adding a breakpoint in the cache's "remove()" method and saw that whenever "getFileInfo()" is called by another process (here the sync client doing a PROPFIND to check for changes), it will trigger the scanner. The scanner will find that the folder "test" was removed from disk and will remove it:
[code]

Note : the scanner cannot detect renames.

In this case, the deletion of all "test" en

[2015-05-27 10:20] PVince81 commented on #13391
I tried wrapping the DELETE calls in a transaction too (the full method https://github.com/owncloud/core/blob/master/lib/private/files/cache/cache.php#L469), and while I see this:
[code]

the files are still missing after the rename.

[2015-05-27 10:43] PVince81 commented on #13391
Looks like the final rename wasn't inside the transaction.
Got a successfull non-lossy run when having all UPDATEs (children + parent) and all DELETE (children + parent) wrapped respectively in DB transactions. Let's see...

[2015-05-27 10:50] gadLinux commented on #16162
Hi,

So it's important to reimplement solution over HTTP. Okay, I hope I can
do it this weekend or so.

Did you think about using thrift?

Best regards,

El 25/05/15 a las 11:40, Daniel Molkentin escribió:

[2015-05-27 10:56] PVince81 commented on #13391
The fix seems to hold! I'll make a PR.

[2015-05-27 11:06] ogoffart commented on #16162
It does not have to be HTTP, but it would be better.  (The configuration of an owncloud server has to remain simple). Anyway if it doesn't work we can still fallback to the normal method.

Anyway, as I said, we are slowly moving away from csync, and new code on the client should be written in C++ in the libsync directory.

Bittorrent-like protocol would be something different, that opens its own c

[2015-05-27 11:10] PVince81 commented on #13391
PR is here: https://github.com/owncloud/core/pull/16576

Note: this would only be the short-term "quickfix". The proper fix will be the file locking: https://github.com/owncloud/core/pull/16237

[2015-05-27 11:15] PVince81 commented on #16445
@MorrisJobke if I understand well, there are some distributed systems on which the likeliness of failed transactions is higher ?

Do we know whether the fail is actually a "lock" or is it any SQL statement in the middle of the transaction that throws an exception ? Or does it happen on commit ?

With a locking situation, from what I observed it seemed to happen on commit.

[2015-05-27 11:26] danimo commented on #16162
Do not try to solve two problems at once. The basic idea behind ownCloud is that the server stays in control of the data, so p2p would involve getting a server authorization first. This requires oauth, which is scheduled for one of the next ownCloud server versions. The p2p implementation would then be purely client-side, and not involve the server at all, except for the authorization request.

[2015-05-27 11:29] Helios07 commented on #16445
I don't know if it helps, we are getting errors like the following with our Galera cluster (OC 7.0.4 EE):

owncloud.log-20150523:{"app":"hook","message":"error while running hook (OCA\\Files_Trashbin\\Hooks::remove_hook): An exception occurred while executing 'UPDATE `oc_filecache` SET `mimepart` = ?, `mimetype` = ?, `mtime` = ?, `size` = ?, `etag` = ?, `storage_mtime` = ?, `permissions`=? WHERE `

[2015-05-27 11:33] PVince81 commented on #16445
I've seen the lock exceptions in local tests, it happened when two transactions clashed.

The only transaction that exists on OC 7.0.x is for the file scanner.
So it is likely that two scanner processes were trying to scan (and update the cache) for the same folder at the same time.

[2015-05-27 11:36] cdamken commented on #16319
@LukasReschke Thanks!

[2015-05-27 11:45] VincentvgNn commented on #16570
@PVince81
Thanks for your response.

I just see that the improvement you'r referring to will be introduced in server 8.2-next. So I can't test that for the next months. Luckily the chunks are in one cache folder and I can delete them manually.

The clean-up should also work when I login to the web-UI of Client-3.
Client-3 did the upload and the files were stored in the Admin's encrypted and shared

[2015-05-27 12:00] jancborchardt commented on #16511
Good question if we want to introduce a bunch of JS just to fix that. Feels like we don't want to do that.

@DeepDiver1975 your call.

[2015-05-27 12:02] jancborchardt commented on #8433
@kkampardi you're also welcome in our IRC channels #owncloud-dev and #owncloud-design (freenode IRC network). :) Let us know if you have any questions.

[2015-05-27 12:08] jancborchardt commented on #16556
@georgehrke I do not. How about we change that to show a proper preview thumbnail with text? Unless of course the file has no characters in it - then we show the icon.

[2015-05-27 12:09] georgehrke commented on #16556
Will send a pr.

[2015-05-27 12:09] jancborchardt commented on #16470
@oparoz of course - if anything the filename should just be a nice addition to the link to make it readable. Nothing required. If the filename is changed, the URL would just change dynamically. The only thing required is the unique code in the link which points to the file.

[2015-05-27 12:12] georgehrke commented on #16556
pr is here: https://github.com/owncloud/core/pull/16578

[2015-05-27 12:22] LukasReschke opened #16580 "LIKE queries do not properly escape special characters"
While reviewing https://github.com/owncloud/core/pull/16576  I noticed that our code base is often using `LIKE` queries but not properly escaping special characters such as `%` or `_`. This leads to all kind of different bugs and unpredictable behaviour.

The easiest way to understand the impact is to mess with the file cache which calls [`\OC\Files\Cache\Cache::move`](https://github.com/owncloud/

[2015-05-27 12:26] cdamken commented on #9878
@MTRichards Now is affecting the 6.0.6 , we are trying to upgrade to 7.0.6 when it comes out.

[2015-05-27 12:30] LukasReschke commented on #16580
cc @icewind1991 Because file system fun :see_no_evil:

[2015-05-27 12:32] PVince81 commented on #16570
1) The "cache" folder for a user is cleant up only when that user logs in again when the login hook is triggered. This might not happen often if the sessions are permanent or refreshed constantly. So it's not reliable enough, that's why it will be added as cron job as per https://github.com/owncloud/core/issues/14646

As a workaround, you could setup your own cron job (ex: shell script) that searc

[2015-05-27 12:41] jvillafanez opened #16582 "External storage doesn't show groups in the "available for" field after reloading the page"
### Steps to reproduce
1. Configure an external storage
2. For the configured storage In the "Available for" field configure a group
3. Reload the page

### Expected behaviour
The "Available for" contains the group previously set

### Actual behaviour
The "Available for" doesn't contain the group.  It seems to be a visual issue since the external storage app works as intended

### Server configura

[2015-05-27 13:20] PVince81 opened #16584 "Concurrent scanners on the same folder, duplicate entry exception"
Goal is to have two parallel scanners run on the same new folder, indexing it at the same time.

### Steps to reproduce
1. Add `sleep(5)` here: https://github.com/owncloud/core/blob/master/lib/private/files/cache/scanner.php#L319 (in the loop of scanChildren())
2. Close all web UI and sync client to avoid triggering the scanner that way
3. Go to the "data/root/files" folder directly on the disk
4.

[2015-05-27 13:21] PVince81 commented on #11804
- [ ] should solve concurrent scanner runs ("Duplicate entry" messages): https://github.com/owncloud/core/issues/16584

[2015-05-27 13:45] schiesbn opened #16586 "No file_locking if encryption is enabled"
I just discovered that we disable file_locking completely if encryption is enabled.

This happens because the encryption stream wrapper returns always 'false' on isLocal() if encryption is enabled. This behavior was discussed and implemented here by @DeepDiver1975 @icewind1991 @VicDeo and @PVince81 https://github.com/owncloud/core/issues/15848

I can understand the reasons for that, but probably w

[2015-05-27 13:50] ckamm opened #16587 "Changing share permissions should trigger an etag change"
As discussed with @guruz @ogoffart @PVince81: Whenever file metadata (mtime, permissions, ...) changes, the parent folder's etag should change. That notifies sync clients and allows them to check for changes.

The particular issue here is that changing the permissions of a share (readonly<->readwrite) does not trigger an etag change. Therefore the sync client does not notice that the permissions o

[2015-05-27 13:50] cdamken opened #16588 "[7.0.5] LDAP user can not be deleted."
### Expected behavior:
Erase LDAP user and the user does not appear, the data folder is erased and the user does not appear in any groups.
### Actual behavior:
Erase LDAP user and the user does not appear, the data folder still exist and the user appears in the groups.

### Architecture
oC7.0.5
php 5.4
Ubuntu 14.04

#### LDAP configuration:

S3-ownCloud\Shared\owncloud\support\github-issues\core\1

[2015-05-27 13:54] PVince81 opened #16589 "Change parent etag when file metadata changes"
Whenever the following attributes would change as a result of file metadata change, the etag of the parent folder must be changed:
- [x] oc:permissions: https://github.com/owncloud/core/issues/16587 (when share permissions changed)
- [ ] oc:favorite
- [ ] oc:tags
- [ ] custom properties?

[2015-05-27 13:54] PVince81 commented on #16587
Raised https://github.com/owncloud/core/issues/16589 for the other metadata/properties

[2015-05-27 13:55] PVince81 commented on #16587
@DeepDiver1975 @karlitschek @cmonteroluque scheduling for 8.2.
Please adjust tags if necessary.

[2015-05-27 14:12] PVince81 commented on #11804
- [ ] more user friendly error messages in the web UI when a file is locked

[2015-05-27 14:18] davitol commented on #15611
:+1:

[2015-05-27 14:36] davitol commented on #16409
:+1: fixed in IE9

[2015-05-27 14:39] vgiannoul commented on #16547
Hello again,
I modified the relevant css file (icons.css) but still no luck.

[2015-05-27 14:44] DeepDiver1975 commented on #16547
@jancborchardt any idea on how to get this done? THX

[2015-05-27 14:53] marioskourtesis opened #16590 "Database Error Leads to Internal Server Error (500)"
### Actual behaviour

The server is responding Internal Server Error 500. This error is repeated and exhausts the server resources.

### Server configuration
**Operating system**: CentOS 7

**Web server:** Apache

**Database:** MariaDB

**PHP version:** 5.4.16

**ownCloud version:** 8.0.3

**List of activated apps:**
Activity, Deleted files, external storage support, File locking, first run wizard

[2015-05-27 15:07] VicDeo commented on #16574
@DeepDiver1975

Let's start an IDE war
Netbeans crying for both ;)

[2015-05-27 15:18] LukasReschke commented on #16590
Transaction related stuff: cc @PVince81 @icewind1991

[2015-05-27 15:28] PVince81 commented on #16590
@marioskourtesis are you sure it's 503 and not 500 ? Because 503 is "Service not available" while 500 is Internal server error.

This is likely to be due to two scanners trying to scan the same folder at the same time, but only one transaction can succeed.

On the other hand when trying to reproduce this I got different results: #16584

[2015-05-27 15:36] kkampardi commented on #8433
@jancborchardt thanx!! That would be very helpful :)

[2015-05-27 15:39] marioskourtesis commented on #16590
Hello PVince81,
I am sorry, you are right, I just checked Apache log files and and the error is 500.
Thanks

[2015-05-27 15:45] MorrisJobke commented on #16588
This only happens when the username is different from the user folder name. (i.e. when you specified the home folder naming rule in the LDAP app)

Reason:

User gets deleted and afterwards the users folder is fetched in https://github.com/owncloud/core/blob/7385b5dad949e95786a54f56d39ea14f21057369/lib/private/user/user.php#L190 -> then the user is already deleted and the fallback of folder name is

[2015-05-27 15:46] MorrisJobke commented on #16588
For the group issue we need to have an additional look why the group memberships aren't updated. Maybe a caching issue.

[2015-05-27 16:05] sajushko commented on #16087
Thanks a lot DeepDiver1975. Your instructions works perfectly.

[2015-05-27 16:05] #16087 closed

[2015-05-27 16:16] MorrisJobke opened #16594 "Migrate password protected public link hashes to the new hash within DB"
https://github.com/owncloud/core/blob/7385b5dad949e95786a54f56d39ea14f21057369/apps/files_sharing/lib/helper.php#L129-L140

#10671 is merged now

Somthing like `\OCP\Share::setPassword($shareId, $password);` should do the trick

cc @LukasReschke @rullzer

[2015-05-27 16:33] LukasReschke commented on #16594
No. Because `\OCP\Share::setPassword` has an hard-coded dependency on `\OC\Server::getUserSession` and passes this to `\OC\Share\Share::setPassword`. `\OC\Share\Share::setPassword` in turn requires that the passed UserSession (we cant pass an uid!) belongs to the share owner :see_no_evil:

[2015-05-27 16:54] jvillafanez opened #16597 "Misleading error message shown in single-user mode in the admin settings page"
### Steps to reproduce
1. Activate single-user mode: `sudo -u www-data ./occ maintenance:singleuser --on`
2. Login as an admin user
3. Go to the admin settings page
### Expected behaviour

WebDAV interface isn't available, so the error message should reflect it
### Actual behaviour

Error message about broken WebDAV interface shows up

![screenshot from 2015-05-27 18 45 25](https://cloud.githubuse

[2015-05-27 17:21] vi opened #16598 "Can't log out when using HTTP Basic Auth"
My ownCloud deployment is protected by HTTP Basic Auth.

If I specialy a HTTP user which is also a ownCloud user, ownCloud conveniently log me in automatically.

But I can't log out in that case. Pressing "log out" entry does nothing (probably ownCloud logs me in automatically the second time).

Workaround: specify some other user for HTTP Basic auth which is not ownCloud user. In this case ownClo

[2015-05-27 18:33] carlaschroder commented on #16487
I'll take a look at this, thanks for the information.

[2015-05-27 18:54] rullzer commented on #16594
Like @LukasReschke says there are some deps on the userSession. This to make sure that I users can only edit their own shares.

A different function should not be to hard. But do we really want that? Or should be provide a way to override the current behaviour?

[2015-05-27 19:20] carlaschroder commented on #10084
@Xenopathic Yes, this issue is a good candidate for the doc Wiki https://github.com/owncloud/documentation/wiki, or the Issues and Troubleshooting doc https://github.com/owncloud/documentation/blob/stable8/admin_manual/issues/index.rst  I'll have time to look at it in a couple of weeks, so anyone who wants to publish something on the Wiki now is welcome.

[2015-05-27 19:52] RealRancor commented on #10084
Hi,

So I consider this patch as safe. Please correct me if I'm wrong.

Thats definitely not enough for ownCloud. At least PROPFIND, PATCH and some more WebDAV methods which i can't remember are needed.

[2015-05-27 20:27] cmonteroluque commented on #13498
@PVince81 @icewind1991 @jnfrmarks should retest when high level locking is in place?

[2015-05-27 20:40] cmonteroluque commented on #16275
@jnweiger Any chance we can get this issue resolved? It's been dragging for over a week since the last comments

[2015-05-27 20:42] cmonteroluque commented on #16344
@schiesbn @PVince81 @DeepDiver1975 any chance to review this PR?

[2015-05-27 20:45] cmonteroluque commented on #16409
@gig13 @MorrisJobke Can we close this?

[2015-05-27 20:47] cmonteroluque commented on #16510
@PVince81 @schiesbn 16512 seems to be a fairly small change. Can we agree on whether to apply it or not and close this one?

[2015-05-27 20:54] cmonteroluque commented on #15327
@MorrisJobke any chance to finish this by tomorrow so it can be in 8.0.4?

[2015-05-27 21:00] cmonteroluque commented on #15487
@nickvergessen is out this week, so if this is going to make 8.0.4 it's on @PVince81

[2015-05-27 21:16] cmonteroluque commented on #16008
@rperezb can we test this?

[2015-05-27 21:19] cmonteroluque commented on #15743
@schiesbn @th3fallen any update?

[2015-05-27 21:23] cmonteroluque commented on #15684
@jimlei any luck with @PVince81's suggestion?

[2015-05-27 21:52] etiess commented on #16330
@jnweiger No news? It's still impossible to update.

[2015-05-27 22:26] mattrandallbecker opened #16599 "Users cannot delete files from shared/ even with delete permission"
### Steps to reproduce
1. Share folder with group/user, giving delete permissions
2. Navigate to file in folder attempt to delete

### Expected behaviour
File should be deleted

### Actual behaviour
Error message "Could not delete: filename"
Activity Log still shows that the person deleted the file, but the file remains.
I added some debugging lines to delete.php and it fails on the unlink() call

[2015-05-27 22:27] LukasReschke commented on #16598
This is actually the expected behaviour at the moment. Once we have refactored the login and something like https://github.com/owncloud/core/issues/15894 this should work better though…

[2015-05-27 23:09] VincentvgNn commented on #10084
@RealRancor
Thanks for the addition.
I also was wondering why I don't need to redefine additional HTTP methods as allowed as well.
Up to now I didn't notice any problems related to that.
I currently use the 4 line patch as I wrote on May 18th. It works, I trust it and it's unclear to me why I just need the patch for GET, POST, PUT and DELETE only. It may be true that I'm not using the other method

[2015-05-27 23:56] sedrubal opened #16600 "Do not show upgrade button when new app is incompatible"
### Steps to reproduce
1. Install oc `8.0.3` (not `8.1`)
2. Install News App v `5.2.8`
3. Go to admins app page

### Expected behaviour
Nothing special

### Actual behaviour
OC shows a button to upgrade the plugin to `5.3.4`, but this version is not supported for oc `8.0.3` and clicking on upgrade is not succsessful.

### Server configuration
**Operating system**: ubuntu
**Web server:** apache
**D

[2015-05-28 00:54] gig13 commented on #16409
@cmonteroluque
Yes, and the clarification that we do not support "compatibility mode" is also useful knowledge!

[2015-05-28 00:54] #16409 closed

[2015-05-28 06:36] jimlei commented on #15684
@cmonteroluque @PVince81 Thought I had commented, oh well. I ran the command using the owncloud user and it ran through all the users (listed them green, big data users took forever). still in the same situation as before though.

[2015-05-28 06:46] gadLinux commented on #16162
and the second one is use something like bitttorrent. So it can transfer
only the parts needed for it but also leave doors open for multiple
client sync against same file in a decentralized way.

Yo are right, I agree. Let me take a look to the partial file sync problem.

[2015-05-28 07:26] rperezb commented on #16409
cc/ @carlaschroder probably this is for you :)

[2015-05-28 07:36] Dianafg76 commented on #16195
I close the issue because it is working

[2015-05-28 07:36] #16195 closed

[2015-05-28 07:42] nilo72 commented on #14260
I got this error as well. My ActiveDirectory-Admin drives crazy when his AD-Servers ran to 100% CPU in that kind of situations. But I found a workaround which might work for others. Setting the value of 'Paging chunksize' in the LDAP-Config-Dialog higher than the number of users solves the problem for me and the AD-Admin :-).

[2015-05-28 07:43] Dianafg76 commented on #16554
@PVince81 Thanks

[2015-05-28 07:43] #16554 closed

[2015-05-28 08:15] PVince81 commented on #13391
Note: the PR above will only reduce the window of opportunity for this error even further.
There is still potential for breakage: there is a small window between the time where the folder is renamed on disk and the start of the DB transaction.

[2015-05-28 08:29] MorrisJobke commented on #15327
Sadly not from my site. :( Maybe @nickvergessen can help here?

[2015-05-28 08:34] RealRancor commented on #10084
@VincentvgNn
Yes, those are mostly used for WebDAV/CalDAV and CardDAV. A full list could be:

[2015-05-28 08:42] PVince81 opened #16601 "Federation resharing concept ideas"
Discussed this with @schiesbn today:

The current problem with federation / server to server sharing:
1. user@owncloudA shares a folder "workspace" with user@owncloudB
2. user@owncloudB shares that folder with user@owncloudC
3. user@owncloudC shares it with user@owncloudD
4. etc

This will create a chain of connections and the user@owncloudX will have an **extremely** slow connection, because for

[2015-05-28 08:55] #16260 closed

[2015-05-28 09:02] PVince81 commented on #13498
Yes. I'll add it to the checklist of things to fix explicitly. (because generic locking isn't enough)

[2015-05-28 09:11] schiesbn commented on #16510
I think we will definitely apply it once it is ready (see my last comments). As soon as the pr is merged this issue will be closed automatically.

[2015-05-28 09:12] PVince81 commented on #15487
Can we get a severity ?

Also not sure why @nickvergessen decided to set this to 8.0.4 instead of 8.1. Maybe the bug only happens on stable8 and not master. If that's the case, maybe there's a backport that could be done.

[2015-05-28 09:21] schiesbn commented on #15743
Can you check if the keys for this file exists. They should be located in ````data/user/files_encryption/keys/<path_to_file>/<filename>/```` This folder should at least contain two files: ````fileKey```` and ````<user>.shareKey````

Did you already used ownCloud 7 with encryption and migrated to ownCloud 8? Did the migration finished without any errors? During migration we moved the keys to a new

[2015-05-28 09:22] schiesbn commented on #15743
Moved milestone because at this stage it is not clear if it is a bug and how it could be fixed. Let's wait for more feedback and then decide what to do (most likely after 8.0.4).