[2016-05-31 10:00] derekblankmccoy commented on #13158
correct

[2016-05-31 10:08] PVince81 commented on #8816
Closing. There are tickets already for the different items.

[2016-05-31 10:08] #8816 closed

[2016-05-31 10:12] nickvergessen commented on #24913
I'd say we should fix the mis-wording for 9.1

[2016-05-31 10:12] PVince81 commented on #11516
Closing due to lack of feedback. Please try again with 9.0.2 where many Dropbox issues were solved

[2016-05-31 10:12] #11516 closed

[2016-05-31 10:15] nickvergessen commented on #24911
@ChristophWurst maybe we should send back a 401 when killing the current session, on ajax requests that will trigger a reload to the login page iirc cc @PVince81

[2016-05-31 10:17] PVince81 commented on #14536
Low issue / tech debt => backlog

[2016-05-31 10:20] PVince81 commented on #21301
Still not solved in 9.1 beta1.

Seems we missed upgrading the library... hopefully next opportunity is 9.2.

Assigning to self.

[2016-05-31 10:21] moritzha opened #24919 "PHP Error: Undefined index: path"
### Steps to reproduce
No idea

### Expected behaviour
No error

### Actual behaviour
The following error occorues frequently in the error-log:
Undefined index: path at /var/www/owncloud/apps/files_sharing/lib/cache.php#83

This error occures since our upgrade to version 9 on a new v-server.

### Server configuration
**Operating system**:
Debian 8

**Web server:**
Apache + PHP-FPM

**Database:**
M

[2016-05-31 10:24] PVince81 commented on #19400
@cmonteroluque moving to 9.2 (see previous comment)

CC @owncloud/ldap

[2016-05-31 10:26] mmattel commented on #24914
The federated share is (at least seems to me) fully available.
I have not seen this more or less at higher or lower load times or any pattern.

[2016-05-31 10:27] PVince81 commented on #7882
The stat cache has finally been merged into 9.1.

[2016-05-31 10:27] #7882 closed

[2016-05-31 10:28] PVince81 commented on #13761
Hss anyone seen this in recent versions like 9.0.2 ?

[2016-05-31 10:29] PVince81 commented on #12228
Pluggable auth should be able to help with this.

When connecting to a remote federated share, one would need to pass a token in the "Authorization" header. Note that for fed share there is already a token, the share one. Not sure how to integrate this better with 9.1's new token based auth. @ChristophWurst

[2016-05-31 10:32] rullzer commented on #24651
This is fixed now I guess?

[2016-05-31 10:43] rullzer commented on #24026
Good that it is fixed in 8.2.4... closing then

[2016-05-31 10:43] #24026 closed

[2016-05-31 10:52] timm2k commented on #24651
for me: yes. Amount of queries of ownCloud 8.2.5 reduces after I've applied this patch.

[2016-05-31 10:57] davitol opened #24920 "A row/session is created for each request using a oC client"
### Steps to reproduce

1. Start ownCloud session from several browser devices
2. Go to the personal page
3. Connect via app mobile to the oC server.
4. Open a folder and open a file.

### Expected behaviour

Only one row should appear for each session

### Actual behaviour

A row is created for each request.

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**D

[2016-05-31 11:23] mmattel commented on #24914
Update: the error message additionally pops up when I try to logon.

[2016-05-31 11:24] #24651 closed

[2016-05-31 11:39] MTRichards commented on #24913
How about: These are the clients currently logged in to your ownCloud.

[2016-05-31 11:49] falconws commented on #24900
@PVince81
Thank you for advice.

We are Japanese so don't set "en_US".
But, use "UTF-8". See below.
[code]

Maybe already installed.
[code]

By the way, I found this.
https://github.com/ukitiyan/zipstream_ja/

This problem come from multibyte character...

[2016-05-31 11:49] MTRichards commented on #24913
https://github.com/owncloud/core/pull/24923

[2016-05-31 11:54] PVince81 commented on #11692
Reran the tests on master, yay!

[code]

[2016-05-31 12:05] PVince81 commented on #24900
@falconws can you try changing the server locale to en_US.UTF-8 ?
You probably don't need to change it system-wide but just make sure the Apache/PHP process runs with that locale. See whether this fixes your issue.

[2016-05-31 12:14] alpsleonardo commented on #24802
Thank you @PVince81 I will do that

[2016-05-31 12:17] michaelstingl commented on #24789
@nickvergessen @PVince81 Could you backport this to stable9 and stable8.2 ? (I've seen `core/Controller/LoginController.php` don't exist there)

[2016-05-31 12:22] falconws commented on #24900
@PVince81 I did your advice.

[code]

Unfortunately this issue still appear.

[2016-05-31 12:24] enoch85 commented on #15020
Ref: #24913

[2016-05-31 12:30] nickvergessen commented on #24789
Backports:
9.0 https://github.com/owncloud/core/pull/24921
8.2 https://github.com/owncloud/core/pull/24924

[2016-05-31 12:38] PVince81 commented on #24900
@falconws okay, thanks for your effort.

I'll have a try locally, this looks suspicious.
Last time I tried with Ubuntu's `unzip` it used to work, that was with OC 8.1 or so.

[2016-05-31 12:38] mmattel commented on #24909
Here is what I did:

- Logon as admin user
- Create a new user (user_x), no assignment to the group which acesses the federated share
- Logoff and logon as user_x

Logon as user_x worked

- Logoff and logon as admin user
- Assign the group to user_x to access the federated share
- Logoff and logon as user_x

Logon as user_x does not work
[code]
[code]

- Logon as admin user
- (Try) to change to th

[2016-05-31 12:46] falconws commented on #24900
For your reference, put broken zip with this issue.
And my unzip command details.

[code]

with this unzip command extract attached file log below.
[code]
I hope this problem fix.

Thanks a lot.
[テスト.zip](https://github.com/owncloud/core/files/291069/default.zip)

[2016-05-31 12:48] mmattel opened #24925 "Feature Request / security: encrypt mail smpt password in config.php"
Below is a fraction of the content from config.php when used to fill in the issue template.
When you look into config.php directly, `mail_smtppassword` is written in cleartext.
**Feature Request / security:** store the password encrypted - like the DB pwd.

[code]

[2016-05-31 12:52] mmattel commented on #24909
**Note:** having a instance 9.0.2 with the same setup, no problems occur

[2016-05-31 13:00] mickaelfabregue opened #24926 "WebDAV is angry against Samsung"
Hi,

We recently installed an owncloud server to synchronize files between this server and several tablets given the FolderSync app.

Until today, it was working like a charm: 1) we can access owncloud using its web interface and 2) synchronize files on tablets with FolderSync.

But today we noticed that on a certain type of tablets (Samsung Galaxy Tab Active), and only on these tablets, owncloud

[2016-05-31 13:01] PVince81 commented on #24900
Oh, it looks like your issue is even worse than a simple encoding issue. Instead of extracting files where only the names are corrupt, it looks like your whole zip file is corrupt!

[2016-05-31 13:10] PVince81 commented on #11692
Something must be running in circles, I don't see why we have these memory errors now but didn't back then:
[code]

[2016-05-31 13:11] falconws commented on #24900
!?
make this zip file below.

* logged in ownCloud
* Click Left panel [All files]
* New -> Folder -> "テスト"
* Click "テスト" Folder
* New -> File -> "新規のテキストファイル作成.txt"
* Back to Parent Folder
* Download "テスト" Folder As "テスト.zip"

Why this zip file corrupted ?

[2016-05-31 13:14] PVince81 commented on #14375
Works for me on master, dragging a file from konqueror into chromium (drop upload), or from the parent folder into the "dropbox" folder.

[2016-05-31 13:14] aronovgj commented on #24819
Got it, thanks. It was in the access.log, not in the error.log

[code]

[2016-05-31 13:19] PVince81 commented on #24900
Just tried this and it worked fine with v8.2.3 (your version):
![japanese-zip](https://cloud.githubusercontent.com/assets/277525/15675552/c6dedb8c-2742-11e6-8ba3-2115c21f123b.png)

Also works fine on the CLI:
[code]

Just in case, here are my versions:
- openSUSE Tumbleweed
- apache2-2.4.20-3.1.x86_64
- php5-5.6.21-1.1.x86_64
- unzip-6.00-29.6.x86_64

[2016-05-31 13:21] PVince81 commented on #24900
@falconws here is the zip file generated from my instance: https://s3.owncloud.com/owncloud/index.php/s/MmEwI4fuQ7C4p4a

Can you check whether your system is able to extract it ?

This will help find out whether the problem is in your clients (unzip, etc) or whether your server is somehow not properly creating the zip file.

[2016-05-31 13:28] mirekys opened #24927 "Manipulation with a federated share leads to an orphaned share entry"
### Steps to reproduce
1. On server "A": share folder "F"  to remote user "X" on server "B"
2. On server "B": accept federated share of folder "F"
3. On server "B": reshare folder "F" to local user "Y"
4. On server "A": unshare folder "F"

### Expected behaviour
- Share entries should be deleted both from server "A" and "B".
- Unshare action should be propagated on the local reshare of the folder

[2016-05-31 13:29] nickvergessen commented on #24926
Please provide all the information from the issue template, especially access, error and owncloud log

[2016-05-31 13:33] nickvergessen commented on #24927
Duplicate of https://github.com/owncloud/core/issues/16751

[2016-05-31 13:34] falconws commented on #24900
I was downloaded your "テスト.zip".
result:
Ubuntu 14.04 LTS's unzip command: NG (the same output)
Windows 7's Zip Explorer(standard feature): NG(the same
https://cloud.githubusercontent.com/assets/2891031/15652060/8c7503a6-26be-11e6-9cc4-c9f5ec3346aa.png )

ownCloud doesn't support Japanese Client ?
Especially, use case Windows 7's standard feature(Zip Explorer) .

[2016-05-31 13:40] nickvergessen commented on #12573
4 issues left:
https://github.com/owncloud/core/blob/aba539703c0b0388f5ebf8757067bafab56774ce/apps/files_external/appinfo/app.php#L29-L29
[code]

https://github.com/owncloud/core/blob/aba539703c0b0388f5ebf8757067bafab56774ce/apps/files_sharing/appinfo/app.php#L31-L33
[code]

[2016-05-31 13:42] PVince81 commented on #24900
Your Ubuntu has the same `unzip` version, I'd expect it to work there.

ownCloud always uses UTF-8 encodings for everything as it is expected to work on most systems.
Not sure why it doesn't work on both your Ubuntu and Windows.
It should **at least** work on Ubuntu.

[2016-05-31 13:43] PVince81 commented on #24900
Does it work with p7zip ?
See http://askubuntu.com/a/744462

[2016-05-31 13:55] PVince81 commented on #24819
Hmm, so you got a 403 Forbidden here.
It looks like it could be https://github.com/owncloud/core/issues/24499.

Does the folder "indexDir" exist in your "data/$user/files" folder ?

[2016-05-31 14:02] aronovgj commented on #24819
No it doesn't.

I didn't try this before: in the folder there is still a file which is also not deleted and accessing it gives me an error that the file can't be found on the server.

It indeed looks like #24499

Doing a `occ files:scan` would also be my first choice. Just wanted to wait with it for feedback.

Thanks.

[2016-05-31 14:11] falconws commented on #24900
This issue appear download folder as zip only.
Simply, single file download(include Japanese character) is all OK(Windows and Ubuntu).

In Japan, for support Shift-JIS filename in zip We setup This PPA
https://launchpad.net/~japaneseteam/+archive/ubuntu/ppa

Details (Sorry Japanese only page. But you can understand Overview by seeing pictures) :
https://wiki.ubuntulinux.jp/Develop/UnzipTestcase

I

[2016-05-31 14:19] falconws commented on #24900
Why only when download folder as zip garbled characters ?
Why no problem when download single file ?

Probably funny ownCloud use all of the scene use UTF-8.

[2016-05-31 14:21] sami10007 commented on #14905
I just changed in the script lines

[code]
After successful install, I run the original script again for correct permissions.

[2016-05-31 14:44] hoax89 commented on #22987
@LukasReschke just out of curiosity, what gets cached that this unresponsiveness (2min+ load time) is eliminated? Also, maybe consider making the memory cache warning more present, right now it feels like "oh, if you want a few nanoseconds performance increase here and there, consider using memory caching", but in the case of an inaccessible federated share it actually makes a completely unusable

[2016-05-31 14:44] knutschneider opened #24928 "ownCloud server upgrade throws uncaught exception when database is upgraded too"
### Steps to reproduce
1. Install old version of ownCloud from https://download.owncloud.org/download/repositories/stable/owncloud/
2. Install an old version of a DBMS, e.g. mariadb
3. apt-get update && apt-get upgrade now should upgrade both the DBMS and ownCloud
### Expected behaviour
- No error should happen on system upgrade (apt-get upgrade)
### Actual behaviour
- The following error occurs w

[2016-05-31 14:45] PVince81 commented on #24900
I'm sorry, this is nothing that can be fixed in ownCloud. ownCloud can only work properly with UTF-8.
Using other locale would cause a lot of other issues and also remove compatibility with other systems.

Unfortunately it seems that to work with non-UTF-8 clients the ZIP files would require using a different encoding. But it would also mean that such ZIP files cannot be opened on other UTF-8 syst

[2016-05-31 14:45] #24900 closed

[2016-05-31 14:50] nickvergessen commented on #14795
That's now not done on sharing anymore but when the user mount it, so we can close this

[2016-05-31 14:50] #14795 closed

[2016-05-31 14:51] #15917 closed

[2016-05-31 15:09] PVince81 commented on #24909
One cannot create a federated share directly to a group, so I guess this is an indirect share ?
Is one user receiving the federated share and then resharing with a group ? Is the folder reshared directly or is its parent reshared ? (if that's even possible, I don't remember)

[2016-05-31 15:11] mickaelfabregue commented on #24926
Finally, one of my collegue found a solution. Our Samsung tablets was configured on a different APN (access point) than the Sony.
Strangely, changing the APN to another (both are officials and belong to our provider) resolved our issue.

So it is resolved.

[2016-05-31 15:11] #24926 closed

[2016-05-31 15:12] falconws commented on #24900
OK...
I understand you said.

Thank you relationship my poor English.

[2016-05-31 15:17] ostasevych commented on #14249
DeepDiver, is it possible to backport translations manually? Or which are other mechanisms to sync my oc instance with the transifex?

[2016-05-31 15:29] DeepDiver1975 commented on #14249
We have scripts to do this - @nickvergessen @MorrisJobke where are the scripts located? THX

[2016-05-31 15:34] shaneonabike commented on #23512
This also happened to me where old shares were no longer working. Essentially, because the URL for gallery had changed to a generic share URL I believe.

I used the unix package update and then ran occ update. My htaccess is in fact allowed for group and user write access so I don't think that's the issue...

<code>
<IfModule mod_headers.c>
  <IfModule mod_setenvif.c>
    <IfModule mod_fcgid.c>

[2016-05-31 15:35] falconws commented on #24900
oh!!
I'm happy because I applyed this Microsoft Patch
https://support.microsoft.com/en-us/kb/2704299

Windows Explorer zip feature make correct filename !!

[2016-05-31 15:45] PVince81 commented on #24900
@falconws :smile:

[2016-05-31 15:52] mmattel commented on #24909
Ah, sorry did not mention, here is the exact user setup, but does not change the issue.
- ``admin`` allows resharing
- ``admin`` allows resharing with gropus
- ``admin`` restricts resharing within groups only (don´t know the English text exactly)
- ``admin`` allows users to recieve federated shares
- ``admin`` creates user ``user_group_admin``
- ``admin`` creates user ``user_x``
- ``admin`` create

[2016-05-31 16:02] nickvergessen commented on #14249
You mean this? https://github.com/vgezer/oc_l10n_patch_applier
It's sometimes nasty to use, but all info should basically be in the readme.

[2016-05-31 16:06] DeepDiver1975 commented on #14249
yes

[2016-05-31 16:07] mfleonhardt opened #24929 "LDAP user with blank userid overwriting database user settings, cannot remove user"
### Steps to reproduce

I'm not sure if there is a simpler way to reproduce this issue, but here is how it was introduced in our system:

1. v8.2 imports all users from LDAP regardless of user filter
2. At least one LDAP entry does not have a value in the uid (sAMAccountName, in my case) field and is restricted by user filters.
3. User is added to ownCloud with a blank ownCloud name
4. Upgrade to

[2016-05-31 16:08] cmonteroluque commented on #13586
agreed

[2016-05-31 16:15] FriedCircuits commented on #24878
Thank you. I didn't think that ownCloud was checking the main URL. I found some sites on how to configure HSTS on IIS. I will give that a try.

[2016-05-31 16:21] cmonteroluque commented on #19400
agreed.

[2016-05-31 16:22] mmattel commented on #24684
Improve the Updater App

Category: Updater
Github issue:
https://github.com/owncloud/updater/issues/202
https://github.com/owncloud/updater/issues/304
https://github.com/owncloud/updater/issues/311
https://github.com/owncloud/updater/issues/312
https://github.com/owncloud/updater/issues/341
https://github.com/owncloud/updater/issues/342
...and more
Use case: overall improvement of handling, the UI

[2016-05-31 18:49] fireba11 commented on #23587
Note: It's still flagged as "need info" but i don't know what info is needed. If that is still valid please specify so i can add it :-)

[2016-05-31 19:50] kelanden opened #24930 "unable to install owncloud-client from repository on download.opensuse.org"
I am unable to install owncloud-client from the CentOS 7 repository on download.opensuse.org.

### Steps to reproduce
Per the directions [here](https://software.opensuse.org/download/package?project=isv:ownCloud:desktop&package=owncloud-client):

    su
    cd /etc/yum.repos.d/
    wget http://download.opensuse.org/repositories/isv:ownCloud:desktop/CentOS_7/isv:ownCloud:desktop.repo
    yum -y ins

[2016-05-31 20:26] ChristophWurst opened #24931 "Warn user if second factor challenge verification fails"
### Steps to reproduce
1. Enable 2FA provider
2. Log in with correct username + password
3. Select the 2FA provider
4. Enter wrong challenge
### Expected behaviour

User is notified that the account/password might be compromised.
### Actual behaviour

Nothing.

**ownCloud version:**
9.1

[2016-05-31 20:32] ChristophWurst opened #24932 "[2FA] OCS is not blocked"
### Steps to reproduce
1. Log in with username + password
2. See the 2FA selection view
3. Send request to OCS (e.g. sharing)

### Expected behaviour
Request is blocked.

### Actual behaviour
Request is successful :boom:

**ownCloud version:**
9.1

[2016-05-31 20:33] ChristophWurst opened #24933 "[2FA] DAV is not blocked"
### Steps to reproduce
1. Log in with username + password
2. See the 2FA selection view
3. Send request to WebDAV

### Expected behaviour
Request is blocked.

### Actual behaviour
Request is successful :boom:

**ownCloud version:**
9.1

[2016-06-01 00:21] clementhk commented on #24864
@karlitschek @LukasReschke @schiesbn @jospoortvliet @blizzz @MorrisJobke
Would be cool to hear from you guys.

[2016-06-01 03:30] DeepDiver1975 commented on #12573
Great job - thx

[2016-06-01 03:35] DeepDiver1975 commented on #24906
@LukasReschke any idea about upstream? Thx

[2016-06-01 07:11] 1951FDG commented on #24828
@PVince81 the link you shared with me does not work (404)

[2016-06-01 07:29] rperezb commented on #24794
@davivel your input is appreciated here

[2016-06-01 07:59] danimo commented on #24930
@jnweiger please

[2016-06-01 08:13] nickvergessen commented on #24929
Well empty names are simply not allowed:
https://github.com/owncloud/core/blob/aba539703c0b0388f5ebf8757067bafab56774ce/lib/private/User/Manager.php#L273-L276

I can have a look if we can make sure that the preferences update does not happen like that.
But other then that I guess there is not a lot you can do. Too many things will go wrong with an empty userid

[2016-06-01 08:15] PVince81 commented on #24828
Try again: https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

Maybe you copied it from an email and it got split on two rows ?

[2016-06-01 08:19] maziv commented on #24891
I have the same problem. Where can i find a solution for the problem?

[2016-06-01 08:21] PVince81 commented on #24928
@jnweiger

[2016-06-01 08:23] PVince81 commented on #24927
So upgrading to 9.0.2 would fix that. Not sure if that fix is backportable.

[2016-06-01 08:24] rullzer commented on #24909
Aaaah mmm seems we try to move a mountpoint (probabaly duplicated incomming shares). But we can't find the file the share points at... not good... we should do better error handling... I'll fix this

[2016-06-01 08:24] PVince81 commented on #24925
Or store the mail config stuff in the database... also encrypted.

The trouble with config.php is that it's also supposed to be editable by an admin, which means an admin would also need the possibility of specifying the values manually and also a password, which in this case would be unencrypted.

In my POV ideally such config needs to be moved to the database.
See related ticket https://github.c

[2016-06-01 08:35] mcastroSG opened #24934 "[Announcements][9.1.0beta1]Owncloud does not send announcements"
### Steps to reproduce
1. As Admin enable Announcements center app
2. Go to Announcement center
3. Write a new announcement

### Expected behaviour
Announcements generated should be sent to the clients connected to the server

### Actual behaviour
Announcements are generated but not sent.

### Server configuration
**Operating system:**
Ubuntu 14.04.1 LTS
**Web server:**
Apache2
**Database:**
Serve

[2016-06-01 08:35] noci2012 commented on #24790
In hindsight, yes.

[2016-06-01 08:40] nickvergessen commented on #24927
Woot, no. It's more a design decision to be like that.

[2016-06-01 08:40] nickvergessen commented on #24927
#16751 has no PR attached (apart from smashbox to expect a different result)

[2016-06-01 08:44] PVince81 commented on #24927
Ah yes, indeed. And the orphaned share entry will get removed later through background jobs.

[2016-06-01 08:44] #24927 closed

[2016-06-01 08:57] ChristophWurst commented on #24794
# Authentication mechanism detection
With multiple authentication mechanisms available, clients need to know which one is used to either prompt for for login credentials or open an URL in an external browser.

## Auth
These are the auth mechanisms we support:
* Auth1: *old* auth with basic auth (username, password)
* Auth2: token basic auth (username, token)
* Auth3: pure token auth where token is

[2016-06-01 08:58] mmattel commented on #24925
Hmmm, the database password is also, as far I know, not direct editable. What would the difference be to the smpt-password? Moving all email settings to the database is a great idea, but isn´t that a big coding effort?

[2016-06-01 09:04] ChristophWurst commented on #24794
@danimo @davivel @PVince81 @DeepDiver1975 ^

[2016-06-01 09:04] RealRancor commented on #24891
@maziv Don't mixing distro and official owncloud.org packages is the solution for this problem.

[2016-06-01 09:13] davivel commented on #24794
Thinking in mobile (Android biased):

That means OC app goes to background. Easy.

Polling in mobile is not generally a good idea, but this is supposed to finish soon, so we could leave an async job or a service in background polling the endpoint for a limited time. It detects the log-in is completed. And then, what we do?

The user just logged into ownCloud, and expects the next window to appear

[2016-06-01 09:13] PVince81 commented on #24925
Moving email settings might be just a matter of doing the following:
1) renaming a method call from `allConfig->getSystemValue("smtp_...")` to `allConfig->getAppValue("core", "smtp_...")`
2) writing a repair step that copies the values there on upgrade.
3) adding some extra code to encrypt the password value, there are helper functions for that

For those who like to do cluster deployment, they ca

[2016-06-01 09:28] ChristophWurst commented on #24794
@davivel thanks for your input. Personally, I think that option 3 would work best as you have full control over the browser window. Especially closing it as soon as you detect the successful login process is finished will enhance the UX.
See https://github.com/owncloud/core/pull/24835#issuecomment-221549525 for a detailed test of what is already possible with my PR.
Would 4. be necessary at all if

[2016-06-01 09:30] RealRancor commented on #24934
@mcastroSG Shouldn't this be re-opened in https://github.com/owncloud/announcementcenter/issues

[2016-06-01 09:31] davivel commented on #24794
No, it's designed specifically so that we don't need to poll.

[2016-06-01 09:42] PVince81 commented on #23620
See comments in the PR https://github.com/owncloud/core/pull/23648#issuecomment-222940959.

The issue with the missing path slash only exists in stable9, stable8.2. Please send PRs for these branches, thanks !

This qualifies as a backport @cmonteroluque @DeepDiver1975

[2016-06-01 09:53] PVince81 opened #24937 "Missing "file_get_contents" and "file_put_contents" hooks on master/9.1"
It looks like we lost these hooks during refactoring ?!

See the hooks triggered by "file_get_contents" and "file_put_contents" here: https://github.com/owncloud/core/blob/v9.0.2/apps/files_sharing/lib/sharedstorage.php#L327

After this commit 6123badbfa22b79167c4b41f84a38b372f033a2e they're gone and don't seem to be triggered from anywhere.

@rullzer @icewind1991

CC @oparoz

[2016-06-01 09:54] PVince81 commented on #24937
This qualifies as API breakage as there might be apps listening to such hooks.
Since @oparoz raised this issue https://github.com/owncloud/core/issues/23620 before, they might be used by the gallery app.

[2016-06-01 09:56] ChristophWurst commented on #24794
Okay, makes sense. However, that would be specific to mobile. That means we'd have to provide two different redirect URLs depending on the client platform.

[2016-06-01 09:56] mmattel opened #24938 "Backends provided no user object for "federated_share_name""
### Steps to reproduce
1. Use a incoming federated share
2. Use the sync client which syncs this federated share
3. Just wait and watch how the ownCloud errorlog gets filled up over time with error messages

### Expected behaviour
No errors logged

### Actual behaviour
Recurring entries with errors listed below (fills up the log...)

### Server configuration
**Operating system**: Ubuntu 14.04

**W

[2016-06-01 09:57] PVince81 commented on #23620
@oparoz Please send PRs for these branches, thanks !

(forgot to mention you :smile:)

[2016-06-01 10:08] nickvergessen commented on #24938
This all shounds very much like something really bad happened to your instance. So many "not found exceptions" and stuff :(

[2016-06-01 10:12] nickvergessen opened #24939 "Bad UX with perma links"
### Steps to reproduce
1. Share folder with user1
2. As user1 open the folder
3. As admin delete and recreate user1
4. As user1 refresh the page and login with the form

### Expected behaviour
Should see the files list

### Actual behaviour
Exception-like window with file not found:

The specified document has not been found on the server.
You can click here to return to ownCloud.

The problem is,

[2016-06-01 10:15] PVince81 commented on #24850
Yeah, was just about to raise this :smile:

[2016-06-01 10:18] sd-demon commented on #24733
file: user_ldap/lib/access.php
located in function isDNPartOfBase($dn, bases);
i dont know why but this could not work:

you wont find: "CN=Search Daemon,CN=Users,DC=foo,DC=bar"
in CN="Search Daemon",CN="Users",DC="rb",DC="intern"

`my bugfix is:  $base = str_replace ( '"' , '' , $base ); `
than everything works as expected

[2016-06-01 10:24] PVince81 commented on #24938
@mmattel is this the same instance with the federated shares from https://github.com/owncloud/core/issues/24909 ?

[2016-06-01 10:26] mmattel commented on #24938
I did not had the time to document these things in the past, but things started from day one when I setup the instance from tar and connected to a incoming federated share and used the sync client...
To be said, before this instance, I had a instance with the same setup, but I killed it because I thought the same as you. Now, having a new instance with the same setup, it shows the same issues, so

[2016-06-01 10:28] PVince81 commented on #24938
@owncloud/sharing

[2016-06-01 10:35] ChristophWurst commented on #24850
@PVince81 what options do we have to remember that URL apart from putting it into all URLs? The problem is that 2FA providers create/send the form with the challenge token. If they don't send the request_url param there, it will break browser-based client login :-/
How about storing it in the session?

[2016-06-01 10:40] jnweiger commented on #24887
Reproducer
<pre>
wget --no-check-certificate -O - https://dl-oo.owncloud.org/download/repositories/9.0.2/Ubuntu_14.04/Release.key | gpg --no-default-keyring --keyring trustedkeys.gpg --import
aptly mirror create owncloud.org http://dl-oo.owncloud.org/download/repositories/9.0.2/Ubuntu_14.04 ./
aptly mirror update owncloud.org

 Building download queue...
 Download queue: 1 items (11.66 KiB)
 Downl

[2016-06-01 10:49] jnweiger commented on #24887
The applianceruntime-se package should not be there. So much is correct. But I see no easy way how to edit the Packages files. Its contents is signed in the Release file. repo-admin.py cannot fix this either.

[2016-06-01 11:01] mikebabb opened #24942 ""Your storage is full, files can not be updated" on a VPS at 50% capacity, personal allowance is set to "unlimited""
I'm having trouble getting ownCloud to continue working on a hosted VPS following a disk space upgrade from 30GB to 60GB and uploading a large set of data. When I log in to ownCloud I receive the message "Your storage is full, files can not be updated or synced anymore!", but my VPS control panel says the server's disk is only at 50% usage (30GB/60GB), and the "personal" tab of ownCloud correctly

[2016-06-01 11:02] RealRancor commented on #24928
@PVince81 i doubt that this is a packaging issue. @knutschneider probably want to say that oC itself should catch this exception.

[2016-06-01 11:05] RealRancor commented on #24925
Is it really worth the effort? Storing the password encrypted in the database just looks like some obfuscation to me. oC needs to decrypt the password anyway so an attacker is probably always able to get it.

[2016-06-01 11:08] mmattel commented on #24925
@RealRancor principly correct, but I would like to put stones on the road and not present passwords on the red carpet...

[2016-06-01 11:10] georgehrke opened #24943 "Downgrading is not supported shown twice"
The downgrading is not supported error message is shown twice.

tested on https://github.com/owncloud/core/commit/9070fd2c03c2c922065baa7cd903ed6e97c2d514

<img width="1306" alt="owncloud chromium today at 1 08 11 pm" src="https://cloud.githubusercontent.com/assets/1250540/15707635/145c65d4-27fa-11e6-90bc-2da9e439ddcd.png">

[2016-06-01 11:18] 1951FDG commented on #24828
I meant this link: @owncloud/sharing

[2016-06-01 11:20] RealRancor commented on #24925
@mmattel In the db they are still on the red carpet from my PoV. There are probably better places to protect the password then on application level.

[2016-06-01 11:23] mmattel commented on #24925
However made, cleartext is a no-go :scream_cat:

[2016-06-01 11:37] RealRancor commented on #24942
@mikebabb Please close here and follow https://github.com/owncloud/core/issues/18886 No need to have two open issues about the same problem open.

[2016-06-01 11:39] #24942 closed

[2016-06-01 11:43] PVince81 commented on #24928
If ownCloud hides these errors then how would an admin find out about connection errors in case of a manual upgrade ? Hiding the error only during a package upgrade would require the package to pass an additional option to tell ownCloud that it's in that mode. It doesn't feel like there is much benefit to this.

The part I'm wondering about is whether there is a way to influence the update order t

[2016-06-01 11:44] PVince81 commented on #24828
@1951FDG this is not a link, it is a call for developers.

@1951FDG it would still be good if you could fill out the issue template: https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

Without detailed information about your setup we cannot help you.

[2016-06-01 11:50] nickvergessen commented on #24934
Not really, the app generates notifications, if the notifications are shown in the web UI, but not in the client, it's either a time/cache problem and solves itself after the next poll, or it is an issue with the client. :wink:

[2016-06-01 11:55] mikebabb commented on #18886
I'm also affected by this problem, and none of the workarounds posted so far appear to be working for ownCloud 9.0.2. I'm getting the message "Your storage is full, files can not be updated" on a VPS at 50% capacity, personal allowance is set to "unlimited". VPS capacity recently increased from 30GB to 60GB, but ownCloud is behaving as if it hasn't been.

On attempting to upload any more files to

[2016-06-01 11:57] 1951FDG commented on #24828
Thanks for the fast response, unfortunately I am not the administrator, only the support agent, and I do not have direct access to all the info required. I will fill out the template as soon as I have obtained required info.

[2016-06-01 12:48] nickvergessen commented on #24934
@mcastroSG can you confirm that the notifications are shown in the web UI but not in the client?

[2016-06-01 12:56] #24467 closed

[2016-06-01 13:04] dbubs commented on #12835
The **ENTIRE** purpose of owncloud is to share content! Currently this issue renders sharing video with mobile users useless. This happens regardless of how the video was uploaded, ie desktop browser or mobile app.

I uploaded a video to OC from a desktop browser last night and created a public link. I was able to visit the public link via Chrome on my Mac and the video played fine and I was able

[2016-06-01 13:14] RealRancor commented on #12835
@dbubs See https://github.com/owncloud/files_videoplayer/issues/45 which gets fixed by https://github.com/owncloud/core/pull/24750 in the upcoming 9.0.3 and 9.1.0

If that doesn't fix your issue its the lack of video support in your browser

[2016-06-01 13:14] PVince81 commented on #20481
Good news ! We've updated the Google SDK library and from grepping the code I saw that there are parts that will automatically do the exponential backoff !

https://github.com/owncloud/core/blob/c23bc911984d60746142e043f3df88dd33cb0ddd/apps/files_external/3rdparty/google-api-php-client/src/Google/Task/Runner.php#L23

[2016-06-01 13:18] mcastroSG commented on #24934
@nickvergessen  as could be seen at the snapshot announcement is generated and could be checked on GUI but something is not working because nothing appears on client 😭

![screen shot 2016-06-01 at 15 12 37](https://cloud.githubusercontent.com/assets/18436398/15710674/55128854-280b-11e6-90b8-6a927692f182.png)

`wget http://XXXX:YYYY@serverOC/ocs/v2.php/apps/notifications/api/v1/notifications`

retu

[2016-06-01 13:27] nickvergessen commented on #24934
Did the background jobs get executed?

[2016-06-01 13:29] PVince81 commented on #20481
From looking at the code it seems that it should already work without any additional configs, so I'm going to close this.

If you are able to, please try the 9.1beta1 build that contains this update and let me know if you're still getting "403 User Rate Limit Exceeded" as I'm not able to reproduce this locally.

CC @davitol @SergioBertolinSG

[2016-06-01 14:05] PVince81 commented on #119
We're past feature freeze for 9.1 and there wasn't enough time to work on this.

@MTRichards again something to be scheduled, maybe for 9.2

CC @cmonteroluque

[2016-06-01 14:08] PVince81 commented on #13007
Ongoing... moving to 9.2.

But this is probably something that can be done in combination with other work touching these areas.

For example for the versions app, implementing a public API for it: https://github.com/owncloud/core/issues/10571 and same for trashbin https://github.com/owncloud/core/issues/15646

[2016-06-01 14:10] PVince81 commented on #11925
Still can't get rid of eval due to client-side compiling of handlebars templates: https://github.com/owncloud/core/issues/12848

[2016-06-01 14:15] PVince81 commented on #13456
Ok, do I understand it correctly that every user have their own access to the SMB mount ?

So it's not a single system-wide SMB mount in OC that is accessible by all users, using the "applicable" field in the web UI.
But it's every user has their own OC SMB mount from their personal pages, so every one get their own access with their own separate credentials.

This internally causes several storag

[2016-06-01 14:20] PVince81 commented on #15359
Any update ? Is this still the approach we want or are there new ideas ?

[2016-06-01 14:22] PVince81 commented on #19964
Moving to 9.2 as per PR

[2016-06-01 14:23] PVince81 commented on #13495
We're past feature freeze, moving to 9.2

[2016-06-01 14:30] PVince81 commented on #23081
Backport PR is here, needs review and testing: https://github.com/owncloud/core/pull/24950

[2016-06-01 14:31] #23081 closed

[2016-06-01 14:34] PVince81 commented on #20697
So far it is not clear why the legacy storage upgrade hasn't worked and also there isn't enough information to infer this, so I'm closing this for now.

If this issue reappears, please reopen.

[2016-06-01 14:34] #20697 closed

[2016-06-01 14:35] PVince81 commented on #4333
We're past feature freeze, moving this UX enhancement to 9.2

CC @MTRichards @cmonteroluque

[2016-06-01 14:38] khlem commented on #13456
We have this issue with a single system SMB mount in OC for all users.
The change detection not function properly.
SMB Windows with NTFS gives permission to this or that folder and subfolder when the user add a new document or folder in the SMB system, OC doesn't detect the modification.
I tested with the last version of OC

[2016-06-01 14:44] PVince81 commented on #23781
No, wrong! It's a bug in @icewind1991's streams.
There's an infinite loop here that doesn't check whether writing succeeded: https://github.com/icewind1991/Streams/blob/master/src/RetryWrapper.php#L61

Ouch.

[2016-06-01 14:46] PVince81 commented on #23781
Raised here https://github.com/icewind1991/Streams/issues/3

There's also two other things I'm wondering about:
- why is phpseclib allowing us to fopen in write-mode in a read-only folder ? (CC @bantu)
- why are the permissions in ownCloud read-write for this folder ?

[2016-06-01 14:46] cmvdsanden opened #24952 "Default link to the download page of sync-clients is broken"
### Steps to reproduce
1. Login into OC
2. Go to you Personal page
3. Click on the Desktop Apps icon to go the download page for the sync-clients

### Expected behaviour
You should go to the owncloud.org page where you can download the native owncloud sync clients

### Actual behaviour
Due to a reorganisation of the owncloud.org website, the address of the webpage to download an sync client has ch

[2016-06-01 14:50] PVince81 commented on #21526
This is causing other more serious issues: https://github.com/owncloud/core/issues/23781

[2016-06-01 14:54] gig13 commented on #21206
FR - backlog

[2016-06-01 14:55] nickvergessen commented on #24952
@danimo I guess we should add a redirect

[2016-06-01 15:10] cmvdsanden commented on #24952
This is also a possible solution and works for the current running OC instances. This would be great, then we have not to update the link in our running OC instance. But I would assume that also the link in the sample config is updated to new install page, else you should always maintain the old redirects.

But you are the best people to judges how you want to fix this.

[2016-06-01 15:14] PVince81 commented on #24253
Your PR was merged, closing. Thanks !

[2016-06-01 15:14] #24253 closed

[2016-06-01 15:17] PVince81 commented on #23497
The reason for this is still a mystery, need a way to reproduce this consistently.

Else need to try and infer from the code @icewind1991 @rullzer

[2016-06-01 15:17] PVince81 commented on #24575
@rullzer any update ?

[2016-06-01 15:21] PVince81 commented on #21728
@rullzer do you mean you tried it on stable8.2 and it worked fine ? Is there a released version that @tmaex could use for testing or is the fix only on stable8.2 ?

[2016-06-01 15:28] PVince81 commented on #23858
Confirmed broken on v8.2.2 and v8.2.5.

I have input the value string "600 MB" for the LDAP quota.

At what time does the quota apply ? The first time a new user from LDAP logs in ? Or at the time where the server discovers new users from LDAP ?

[2016-06-01 15:39] PVince81 commented on #23858
Hmmm, I was able to force it to refresh by doing this:
`delete from oc_preferences where configkey='lastFeatureRefresh';`

It seems every user has this key and it seems to be independent from the TTL (which I set to 60)

So I guess there must be a moment where the LDAP refresh will happen, not sure when that is. @blizzz

[2016-06-01 15:56] PVince81 commented on #24423
Hmm, I still don't get why the login doesn't work. At login time there's code that would prepare the user's home folder and copy the skeleton files there. Maybe something else interefered and prevented that logic to run.

As for the part about the cron job for a user who never logged in, that one is likely a bug.

@owncloud/ldap @icewind1991

[2016-06-01 16:02] mcastroSG commented on #24934
Setting Background Jobs

- **AJAX**:

1.- Create a new announcement
2.- Navigate to All files section several times and info related to "Last  cron job execution" is updated but there is no announcement at any client.

- **WebCron**:

1.- Create a new announcement
2.- Wait 15 minutes to test, "Last  cron job execution" is not updated (I mean it´s supposed to be launch every 15 minutes but we found

[2016-06-01 16:04] PVince81 commented on #23512
The same happened on my openSUSE 13.1 box using the RPM packages.
A recent update seems to have removed whichever settings were needed to strip "index.php".
Will have to redo this manually and already forgot how.

[2016-06-01 16:14] MTRichards commented on #119
check, ok.

[2016-06-01 16:16] jakob42 commented on #24423
If by "something" you mean an app, at that point I've had only used packaged apps, no externals at all.

[2016-06-01 16:17] oparoz commented on #23620
@PVince81 - I'll try :) I hope it's just a matter of cherry-picking what I did.

[2016-06-01 16:18] marcandreu commented on #24423
@PVince81 , Does it create not only the skeleton files for user A, but also any other previously shared folder from user B (shared with that new user A that never logged in)? I think the problem is that. I had no problems when a user logged in and had no shared folder into him, and, another user was not able to enter and the only difference was that somebody shared a folder. Did testing with a 3rd

[2016-06-01 16:39] RealRancor commented on #24934
- WebCron needs a call to cron.php from an external system or via browser

[2016-06-01 16:42] dbubs commented on #12835
@RealRancor sounds good! I'll check it out as soon as it's released. Thanks!

[2016-06-01 16:49] oparoz commented on #13158
@derekblankmccoy - Events triggered when files are shared have been accidentally removed. Resolution is tracked in #24937. Once that's fixed, I'll send you patches created against the latest master.

[2016-06-01 16:51] oparoz commented on #24937
Thanks for noticing the problem @PVince81! It's needed to track shared files.

[2016-06-01 16:53] jnweiger commented on #24930
Fixed CentOS7 repos to no longer borrow build depdendencies from fedora19.
Fixed spec file of qt5-qttools in :testing to be identical to :nightly and require opt-qt5-qtbase-devel (with correct opt- prefix!)

[2016-06-01 16:54] Shamim-Capgemini commented on #119
@watermark I'm not sure why elegant is expected to be coincident with "more usable". Yes, a popup requires multiple clicks. But a popup used to make a non-desirable activity more difficult is not a bad choice per se. Should we remove seals/locks on ALL airplane doors because it makes it harder to open to go skydiivng?

Sometimes, the ELEGANT is the WRONG choice for the AUDIENCE but NOT the AUTHOR.

[2016-06-01 16:55] Shamim-Capgemini commented on #119
Take home message: please don't take our ability to CHOOSE if want a popup away just because it's annoying to a particular audience to have to click twice to delete.

[2016-06-01 17:50] watermark commented on #119
@Shamim-Capgemini You're preaching to the wrong guy.  I've had a similar experience as you (100+ users), and I implemented a plugin to do the popup as well.  You should probably discuss your point of view with @jancborchardt.

[2016-06-01 18:12] jnweiger commented on #24930
https://build.opensuse.org/package/binary/isv:ownCloud:community:nightly/qt5-qttools?arch=x86_64&filename=opt-qt5-qttools-devel-5.4.2-4.2.x86_64.rpm&repository=CentOS_7

Installs fine on my centos7 machine. Fix ready for 2.2.1

[2016-06-01 18:12] #24930 closed

[2016-06-01 18:26] alpsleonardo commented on #24939
Hi @nickvergessen, I simulated here and happened as you described, would you be okay if I get this issue to fix it?

[2016-06-01 18:39] mfleonhardt commented on #24929
That makes sense.  lib/private/User/Manager.php is new to 9.0.  The user with the blank name would have been added while I was on 8.2 or 8.1.  Not sure if previous versions had the check for blank names, but it got in there somehow...

I'm concerned about other users upgrading to 9.0 and having the same thing happen, of course.  But in the short term, I've had to disable the postfix service on thi

[2016-06-01 19:05] Shamim-Capgemini commented on #119
@watermark You are right. We're in the same boat.

@jancborchardt Please see my comment above.

[2016-06-01 19:54] nickvergessen commented on #24939
Sure, go ahead

[2016-06-01 19:55] alpsleonardo commented on #24939
@nickvergessen Thank you! :)

[2016-06-01 20:32] dbolton opened #24960 "Repository error on latest owncloud appliance"
### Steps to reproduce
1. Install the latest owncloud appliance for Ubuntu
2. apt-get update

### Expected behaviour
Update should run without errors

### Actual behaviour
The update ends with the following error message. (Note there is a "8.2" in the URL that may need to be changed to "9.0")

[code]

### Server configuration
**Operating system**: Ubuntu 14.04.2, 64 bit (latest owncloud appliance)

[2016-06-01 20:53] #24934 closed

[2016-06-01 20:53] nickvergessen commented on #24934
Ajax cron needs to be executed a couple of times, because it only ever runs one

[2016-06-01 21:58] RealRancor commented on #24960
@dbolton Please re-open in https://github.com/owncloud/vm/issues

[2016-06-02 02:46] clvsle commented on #14260
I can also confirm with @ckruetze that the problem still exists and in 9.0.2.  I had moved up my paging chunksize to 500 with only 18? users - and i'm still getting a bunch of these errors.  Could anyone offer us some feedback?

Thanks!

[2016-06-02 03:57] dbolton commented on #24960
Re-opened as https://github.com/owncloud/vm/issues/49

[2016-06-02 03:57] #24960 closed

[2016-06-02 07:19] Dunkelschorsch commented on #24497
Small Update:
I tried interfacing an SMB-Server running Samba 4.4.3, but the error is still the same.

[2016-06-02 07:53] nickvergessen commented on #24929
Same code existed in earlier versions: https://github.com/owncloud/core/blob/stable9/lib/private/user/manager.php#L272-L275

Well I guess you can try to delete all the traces in all tables:
[code]

[2016-06-02 08:00] wpoely86 commented on #18499
I can confirm. Just like @fluancefg we see it too on 9.0.2.

[2016-06-02 08:05] PVince81 commented on #24253
@altyr well, and your second one which updated the library fixed even more than you thought, see https://github.com/owncloud/core/issues/20481#issuecomment-222988250

[2016-06-02 08:06] PVince81 commented on #20481
Kudos to @altyr for submitting the library update PR https://github.com/owncloud/core/pull/24516 :smile:

[2016-06-02 08:08] PVince81 commented on #24423
@marcandreu received shared folders are not really created, but rather mounted. They only exist on the virtual OC filesystem that you see when browsing in the web UI.

But as you say, maybe there's a bug in the code path that mounts those shared folders. @owncloud/sharing

[2016-06-02 08:09] PVince81 commented on #24937
In theory there might be new ways for doing it, but for the sake of backward compatibility we need to keep these. There was no deprecation notice for those, so they're supposed to stay.

[2016-06-02 08:15] JSoko commented on #24503
Hello,

same Errors in Log here on 9.02...

Ciao,
Joachim

[2016-06-02 08:40] #24850 closed

[2016-06-02 08:40] #24943 closed

[2016-06-02 08:43] cmvdsanden commented on #24952
Thanks for fixen.

Greetz.,
Mark

[2016-06-02 08:47] cmvdsanden commented on #24952
Sorry to bother you again. I tested it in my OC instance with Chrome and Safari, but I get an error of to many redirects. Below the URL which is generated after clicking on the desktop icon on my personal page.

https://owncloud.org/sync-clients/install/install/install/install/install/install/install/install/install/install/install/install/install/install/install/install/#install-clients

The inst

[2016-06-02 08:51] nickvergessen commented on #24952
Yeah, already poked the server guys

[2016-06-02 09:03] davicente commented on #24733
@sd-demon, if I'm not wrong, what you suggest shouldn't do anything, because previously it calls $this->sanitizeDN method, and there it makes this replacement:  '\"' => '\5c22',   -> so, it there shouldn't be any quotes at that time. Do you agree?

[2016-06-02 09:09] sd-demon commented on #24733
@davicente

Well yes i agree, but thats what it does on my server - downloaded as archive from https://owncloud.org/

Original DN without the replace:
 	CN="Users",DC="rb",DC="intern"
with the replace:
	CN=Users,DC=rb,DC=intern

Thats was the strange behavior on OC 8 and OC9.0.2

regards Demon

[2016-06-02 09:28] davicente commented on #24733
@isaiespino @sd-demon I have created a branch called 24733_AD_users_list_keep_loading from stable9 with the fix suggested by @blizzz. Could you test if it solves the problem for you?

[2016-06-02 09:50] sd-demon commented on #24733
@davicente me? well yes, need to do the dev setup ... so wait

[2016-06-02 10:24] sd-demon commented on #24733
@davicente
`LDAP Login: Could not get user object for DN cn=my name,cn=users,dc=rb,dc=intern. Maybe the LDAP entry has no set display name attribute?`

Checked Config twice, same as on our production (with my own patch)

[2016-06-02 10:29] icewind1991 commented on #24937
I can't find any code in master that uses these hooks

[2016-06-02 11:06] sbrl commented on #23111
I'd love the ability to move files shared with me. If folders are out of scope and too complex, that's fine. Perhaps files shared with me can't be put inside shared folders? That would be an improvement on the current situation, and I for one would be fine with that limitation.

[2016-06-02 11:06] davicente commented on #24733
@sd-demon so, now the problem is when you try to login, not showing the list of AD users, right?
In that case, in user_ldap::checkPassword method is trying to get the user with de DN, but without sanitize it previously. In this case it could cause what you have said before.
So, your proposal would make sense here.

[2016-06-02 11:29] tanjix commented on #24517
Any update on this? I currently have the same problem again that I cannot restore a file from a previous version... :(

[2016-06-02 11:46] mmattel opened #24961 "Upload to shared folder via link, based on a federated share, tells no space left"
### Steps to reproduce
1. Use a incoming federated share
2. Reshare a folder from this federated share via link, allow writing to
3. Logoff and open the link via the browser and try to upload a file

### Expected behaviour
Upload should be possible

### Actual behaviour
1. Creating a folder via the browser works, also renaming this folder
2. Uploading even a small 3KB file reports an error on the

[2016-06-02 11:56] mmattel opened #24962 "Error: call_user_func_array() expects parameter 1 to be a valid callback"
### Steps to reproduce

Not really clear, but maybe in relation with https://github.com/owncloud/core/issues/24938 as this sometimes but not always comes together.
I created a seperate issue just to be on the safe side
### Expected behaviour

No errors logged
### Actual behaviour

Errors are logged
### Server configuration

**Operating system**: Ubuntu 14.04

**Web server:** nginx 1.9.14

**Databa

[2016-06-02 12:48] ChristophWurst commented on #24730
This is tricky. I thought that we could kill session tokens for token-authenticated clients. However, the ``last_login_check`` timestamp that prevent checking the password/user enabled state on every request is saved to the session. Hence, we'd need to have sessions for those clients too (php sessions, not session tokens to be clear). But then we run into another problem as the current implementat

[2016-06-02 12:55] #24932 closed

[2016-06-02 13:05] mikebabb commented on #24942
For future reference, this actually ended up being a fault on the server. The host had updated the server control panel to indicate 60GB disk capacity, when the upgrade hadn't actually taken place and ownCloud was repeatedly running out of space on the 30GB disk.

[2016-06-02 13:05] nickvergessen commented on #24962
Will have a look

[2016-06-02 13:10] ChristophWurst commented on #24607
@McKay1717 do you still face those problems?

[2016-06-02 13:11] ChristophWurst commented on #24602
Needs more investigation, moving to 9.2

[2016-06-02 13:13] ChristophWurst commented on #23458
https://github.com/owncloud/core/issues/24779

[2016-06-02 13:13] #23458 closed

[2016-06-02 13:15] ChristophWurst commented on #24784
fixed by #24748

[2016-06-02 13:15] #24784 closed

[2016-06-02 13:16] nickvergessen commented on #24961
Can reproduce

[2016-06-02 13:16] PVince81 commented on #24937
@icewind1991 what about gallery ?

[2016-06-02 13:16] PVince81 commented on #24937
In general it is fine to get rid of hooks, but as per API policy we should first deprecate them and announce it publicly. And then after 2-3 years remove them after app devs had time to adjust.

[2016-06-02 13:19] oparoz commented on #24937
@PVince81 - Gallery is not using hooks yet as they were not working properly, as documented, until recently.

[2016-06-02 13:31] #24933 closed

[2016-06-02 13:49] PVince81 commented on #24868
Possibly an issue with share permissions, @rullzer can you have a look ?

[2016-06-02 14:07] nickvergessen commented on #24938
Can also reproduce this. Seems to be a problem with the remote shares, they just wrap the fed.share as storage and so a call to getOwner returns the cloudId of the original owner, instead of the local user owning the files for this instance. That breaks e.g. activities:
[code]

Will have a closer look why we did this and what we could do to stop this.

[2016-06-02 14:19] nickvergessen commented on #24938
Caused by https://github.com/owncloud/core/pull/20584 which returns a IUser object with the remote cloudId instead of any local user.
That sounds very wrong to me and removes any reliablity from the `getOwner()` method.

What would be the recommended call to get the last local user if not `getOwner()`? @icewind1991 @rullzer

[2016-06-02 14:35] janklostermann commented on #24684
### App information consolidation
Consolidate the apps space, where information about an app comes from a single source of reference that is the same for every app, e.g. the appinfo area in the repository.

**Current situation:** different places about apps differ in the information they provide, eventhough they apparently should say the same:
*  https://apps.owncloud.com,
* the server-included Ap

[2016-06-02 14:56] js94x commented on #18786
Our instance has been updated to 8.2.5 and the problem still occurs with different users.

Any ideas?

[2016-06-02 15:45] JakobReiter commented on #22809
Ping. Any Updates on this? Would be highly interested in using this.

[2016-06-02 15:51] DeepDiver1975 commented on #22809
I'm not aware of anybody taking care of this

[2016-06-02 16:52] PVince81 commented on #24272
Fixed by https://github.com/owncloud/core/issues/24800

[2016-06-02 16:52] #24272 closed

[2016-06-02 16:52] PVince81 commented on #23613
https://github.com/owncloud/core/issues/24800

[2016-06-02 16:52] #23613 closed

[2016-06-02 16:54] PVince81 commented on #23248
I suppose that some apps might not be compatible with PHP 5.4 and are causing this issue as a side effect.

[2016-06-02 16:56] PVince81 commented on #23130
@jnweiger any update ?

[2016-06-02 16:56] chris001 opened #24967 "Add external authentication sources to plugable auth"
Request to add external authentication sources to owncloud plugable auth.

For example the owncloud autheticator module of privacyidea:
https://github.com/privacyidea/privacyidea/issues/410#issuecomment-221807538

[2016-06-02 16:56] PVince81 commented on #23068
Note: in 9.1 it will be possible to run multiple crons in parallel

[2016-06-02 17:04] PVince81 commented on #16485
If it still happens in 9.0.2, please reopen.

[2016-06-02 17:04] #16485 closed

[2016-06-02 17:13] PVince81 commented on #21173
@tigermick this is fixed, finally. Will be in the next release.

[2016-06-02 17:13] #21173 closed

[2016-06-02 17:15] PVince81 commented on #24888
@davicente you might be able to use git bisect to find which commit fixed it (let me know if you need guidance with bisect)

[2016-06-02 17:17] PVince81 commented on #24293
Closing as duplicate of https://github.com/owncloud/core/issues/24309

[2016-06-02 17:17] #24293 closed

[2016-06-02 17:18] PVince81 commented on #24309
Ok, so the SSL warning might be causing a reload from what I read

[2016-06-02 17:20] PVince81 commented on #23817
@ScottyTM is this still happening with 9.0.2 ? Some fixes were added to make sharing more robust.

[2016-06-02 17:23] PVince81 commented on #23643
Any more clues how to reproduce this ?

[2016-06-02 17:25] PVince81 commented on #23415
Closing due to lack of feedback. This is likely already fixed.

[2016-06-02 17:25] #23415 closed

[2016-06-02 17:26] PVince81 commented on #23193
Maybe a time difference issue preventing the thumbnail to expire ?

[2016-06-02 17:27] PVince81 commented on #23167
Please try again with the 9.0.2 package.

[2016-06-02 17:27] #23167 closed

[2016-06-02 17:29] PVince81 commented on #23092
Closing due to lack of feedback

[2016-06-02 17:29] #23092 closed

[2016-06-02 17:31] PVince81 commented on #22975
Closing due to lack of feedback

[2016-06-02 17:31] #22975 closed

[2016-06-02 17:33] PVince81 commented on #22765
Closing due to lack of feedback.

[2016-06-02 17:33] #22765 closed

[2016-06-02 17:33] PVince81 commented on #22522
This is mostly hardening, moving to 9.0.4.

But the open PRs should be merged still.

[2016-06-02 17:35] PVince81 commented on #21243
Is this still happening with 9.0.2 ?

[2016-06-02 17:37] PVince81 commented on #14757
Is anyone still seeing this in 9.0.2 ?
Also make sure to have the proper transaction isolation mode: https://doc.owncloud.org/server/9.0/admin_manual/configuration_database/linux_database_configuration.html#mysql-mariadb-with-binary-logging-enabled

[2016-06-02 17:38] PVince81 commented on #21670
Moving to 8.2.7

CC @cmonteroluque

[2016-06-02 17:40] PVince81 commented on #21406
Please try again with 8.2.5 or 9.0.2. If the problem persists, please reopen.

[2016-06-02 17:40] #21406 closed

[2016-06-02 17:40] mmattel opened #24968 "Rewrite Rules: possible improvements"
Applies to current master,

**Apache:**
https://github.com/owncloud/core/blob/52add798d4d814b5276e324c2e98404ff0abe020/.htaccess
**nginx:** https://github.com/owncloud/documentation/blob/master/admin_manual/installation/nginx_owncloud_9x.rst

Following question:
Tested it with ``http://htaccess.mwl.be`` respectively ``https://regex101.com/#python``

**Finding 1:**
Apache
[code]
nginx
[code]

**Cha

[2016-06-02 17:41] PVince81 commented on #21360
Ok, I think the file wasn't locked but ghosted. The filecache entry existed but the file on disk did not exist any more.

This is a duplicate of https://github.com/owncloud/core/issues/24625

[2016-06-02 17:41] #21360 closed

[2016-06-02 17:42] PVince81 commented on #24625
@icewind1991 can you finish https://github.com/owncloud/core/pull/24813 to also delete ghost files through all code paths ?

[2016-06-02 17:43] PVince81 commented on #20509
If you're still seeing this issue with 8.2.5 or 9.0.2, please reopen.

[2016-06-02 17:43] #20509 closed

[2016-06-02 17:44] PVince81 commented on #17468
Is this still happening in 8.2.5 or 9.0.2 ?

[2016-06-02 17:47] PVince81 commented on #24320
@icewind1991 any chance to get this fixed for 9.1 + backports ? (milestone set to 8.1.9 because it's the first version where it happened)

[2016-06-02 18:14] ThomasSteinbach opened #24969 "occ encryption:encrypt-all with special chars in file paths will crash"
_Mention the cause and workaround at the end of the description!_
### Steps to reproduce
1. Run fresh OC Docker container
2. Complete the setup and activate encryption
3. Create a new user
4. Copy dozens of files with special chars into the user files directory, e.g.

[code]
1. run `sudo -u www-data ./occ files:scan --all`
2. run `sudo -u www-data ./occ encryption:encrypt-all`
### Expected behavio

[2016-06-02 18:17] williambargent opened #24970 "External Storage - 'All Files' and client sync hide"
I have multiple(7) external shares mounted to my OwnCloud for all users however I don't want these to appearer in the sync client or WebDAV could there be a setting added to prevent this

Also many clients are getting frustrated by these shares being displayed in 'All Files'. At the moment they are being hidden by CSS. Can there be another section which just shows personal files and the use then h

[2016-06-02 18:33] josh4trunks commented on #24968
Thanks for the suggestions. Here's my comments

#### 1 ####
* Does Apache not block requests to `/data/`? I have a feeling when /data/ is created it creates an .htaccess in there blocking every request, in which case I don't agree with this change.
* These should stay as non-capturing because the result is never referenced. I suggest this is changed to non-capturing for apache.
* `.*` at the end i

[2016-06-02 19:00] DeepDiver1975 commented on #18312
We need to add a step in occ upgrade / web upgrade to reenable them step by step .... I'd leave this to 9.2 @cmonteroluque @MTRichards @PVince81

[2016-06-02 20:41] mariostevenson commented on #17652
Unsure of the status, but it's easier to make a directory _owncloud-data_ . Change the data directory in _config.php_ . Then run _chown -R www-data:www-data /var/www/owncloud-data_

Hope it helps to close this out.

[2016-06-02 20:46] oparoz commented on #23193
@archfoe - You can delete `data/<username>/thumbnails`, but that would only solve the problem for you.

There should be something telling the server that a new version of the file has been pushed, but it's not happening.

[2016-06-02 20:55] eppfel opened #24972 "Proposal: Drop mod_env for pretty URLs for less dependencies on apache modules"
I propose to replace the `mod_env` variable `front_controller_active` set in `.htaccess` with the config flag `htaccess.rewriteBase` for checking, if `mod_rewrite` is active, .
From 9.0.3 prettyURLs have to be activated manually by setting this flag anyway. (As in #24539)
In my particular case apache uses suEXEC with a whitelist for mod_env variables. This kills prettyURLs for me. I was able to ci

[2016-06-02 21:08] archfoe commented on #23193
Duh!
Removing thumbnails folder fixed my issue:)
I should've guessed it but I was dropping the database cache instead.

Thanks Olivier!

On Thu, Jun 2, 2016 at 3:46 PM, Olivier Paroz <notifications@github.com>
wrote:

[2016-06-02 21:11] oparoz commented on #23193
You're welcome :).

Since you're on 9.1 RC2, you could try to upload a picture with the same name to see if the problem still exists. The thumbnail should automatically be updated.

[2016-06-02 23:09] marcandreu commented on #24423
@PVince81 To help a bit to clear it out; i'm able to reproduce de error if the folder `'share_folder' => '/**folder_name**' ` inside the `config.php` is no created manualy for a new user. OC does not create it automatically. That /folder_name i'm refering is **not** a mount point but a phisical folder in the server. Is a way to keep all incomming share folders inside that folder. I guess all incom

[2016-06-02 23:21] ScottyTM commented on #23817
@PVince81 just upgrade to 9.0.2-1.1 still same issue

[2016-06-03 05:19] michi-roth commented on #14757
We were able to find the reason for the error in our configuration. The problem was the MariaDB Galera cluster when write requests were sent to all servers deadlock can occur. The solution was to send all write requests to a single server.
A more detailed explanation can be found under:
http://severalnines.com/blog/avoiding-deadlocks-galera-set-haproxy-single-node-writes-and-multi-node-reads

[2016-06-03 06:00] Happyfeet01 commented on #22370
i have this Warning

PHP 7.0.4
Owncloud 9.0.1
Apache2
MySQL

`	Uncaught Error: Access to undeclared static property: OC\Files\Filesystem::$normalizedPathCache in /var/www/vhosts/cloud-surfer.eu/httpdocs/owncloud/lib/private/files/filesystem.php:807 Stack trace: #0 /var/www/vhosts/cloud-surfer.eu/httpdocs/owncloud/lib/private/files/view.php(1977): OC\Files\Filesystem::normalizePath('/Lars/files/vid

[2016-06-03 06:33] PVince81 commented on #18312
Yeah, let's move it...

[2016-06-03 08:15] mmattel commented on #24938
Originally in #24964, but seems to be related to this case and therefore documenting it here too:

I uploaded a file via the shared link (30kb), waited 1min, and tried to delete it - the browser showed a yellow hint telling error deleting file. Deleting it via a user who has direct access to the share worked.

This was the owncloud error message logged: ``Attempted to initialize mount points for n

[2016-06-03 08:48] mmattel commented on #24968
@josh4trunks
1
- shame on me :speak_no_evil: yes there is a .htaccess in data, I have overseen that, location is correct containing ``|data``
- we should do a PR for non-capturing in .htaccess
- ``.*`` in Apache, don´t know, did not know that this is implied by nginx. I thought nginx is following standard regex and there it make a small difference see when you use the regex testers, but maybe I am

[2016-06-03 08:50] #22450 closed

[2016-06-03 08:50] #24536 closed

[2016-06-03 09:30] rullzer commented on #24937
Ah mmm my bad...

[2016-06-03 09:54] blizzz commented on #24864
@clementhk Honestly, I do not want to add anything here. However, I guess you head the news yesterday? That'll be the statement.

[2016-06-03 10:01] davicente commented on #24888
I have tried to reproduce it and it works to me in both (v9.0.2 and 9.1 master 12b482b). @davitol tested it and didn't fail either to him.

![users](https://cloud.githubusercontent.com/assets/752240/15775556/cdf7fb50-2982-11e6-8a08-4104cda90d8f.JPG)

[2016-06-03 10:50] mmattel commented on #24970
For the sync client, dupe of #7234

[2016-06-03 11:37] williambargent commented on #24970
I saw that, it just didn't mention the WebDAV part. I want to force the use of the mounted share to owncloud site only as their not personal to the user.

[2016-06-03 11:50] nickvergessen commented on #24967
@ChristophWurst you wrote 2FA, is this now possible?

[2016-06-03 12:52] icewind1991 commented on #24320
No idea how #14207 could cause this, all it does is caching the quota

[2016-06-03 12:57] nickvergessen commented on #24938
Some more thoughts about this. In the end it makes sense, that the owner is the file owner, as described in https://github.com/owncloud/core/issues/20580

However we need a "give me the first local user" method or something like that, to get activities back.

[2016-06-03 13:07] nickvergessen commented on #24952
Fixed

[2016-06-03 13:07] #24952 closed

[2016-06-03 13:18] Kyrluckechuck commented on #1190
Usage scenario:
 - Would really love to see this issue made a reality as I have a somewhat unreliable dedicated server (uptime wise as they are able to shut it off whenever they want if there's an issue), and would like to be able to leave my home-hosted server that in-sync as a backup server for my users.
 - Ideally I would like to be able to mask them so that the user connects to one IP and then

[2016-06-03 13:19] mmattel commented on #24968
Update regarding the move from ``deny all`` to ``return 404; break;`` and add ``location ^/data/\.ocdata { access_log off; }``
Have tried it and it works. The data directory stays inaccessible and error logs for ``./ocdata`` access are supressed. Will do a documentation PR.

[2016-06-03 16:17] josh4trunks commented on #24968
@mmattel regarding the **db_structures.xml**, that was just one example. My point is whoever wrote that regex made it open ended. Closing it off with a `$` would allow access to multiple things like all hidden files (starting with`.`), **autotest.sh**, **console.php**. We could either fully specify the files / add more logic like `.*`, or leave it open ended as it is.

Can you test if removing the

[2016-06-03 17:19] ChristophWurst opened #24976 "Clients must not be able to generate a device token if 2FA is enabled"
### Steps to reproduce
1. Enable a 2FA provider
2. Send a request with valid username and password to [/token/generate](https://github.com/owncloud/core/blob/2d5bee0661d52629b1ca0b8ec3c57752a3b7d8ed/core/routes.php#L50)

### Expected behaviour
Something like 400, 401 and __no__ new token.

### Actual behaviour
A new token is generated which can then be used to access user data (token auth is alway

[2016-06-03 17:21] ChristophWurst commented on #24976
Relevant code: https://github.com/owncloud/core/blob/2d5bee0661d52629b1ca0b8ec3c57752a3b7d8ed/core/Controller/TokenController.php#L60-L88

[2016-06-03 18:02] jaakristioja commented on #24218
As a temporary workaround, is it possible to make the ownCloud integrity check ignore certain extra files or all extra files?

[2016-06-03 18:48] mfleonhardt commented on #24929
I'm fairly certain this is all that's required to clean up the ldap tables:

[code]
The oc_ldap_group_members table shouldn't have any entries, at least not in my case.  (That's a very good thing, because it stores PHP-serialized data.)

I'm restoring the email addresses in oc_preferences and cleaning these tables as recommended.  I'll let you know how it turns out.

[2016-06-04 09:41] McKay1717 commented on #24607
I have change my session handler in my php.ini and the problem was solve. T change memcache to files

[2016-06-04 09:44] ChristophWurst commented on #24607
What exactly did you change?

[2016-06-04 09:44] #24607 closed

[2016-06-04 09:56] McKay1717 commented on #24607
@ChristophWurst
`session.save_handler = files //comment out
;session.save_handler = memcache //commented
;session.save_path = "tcp://192.168.7.139:11211,tcp://192.168.7.1:11211" //commanted
`

[2016-06-04 14:40] oparoz opened #24977 "Login form moves down to the centre when window is narrow"
### Steps to reproduce
1. Go to the login page
2. Drag the right edge of the window towards the left edge
### Expected behaviour

The form should stay where it is
### Actual behaviour

The form jumps down, to the middle of the window

[2016-06-04 20:51] stormyweather1324 opened #24978 ""Storage is full", despite having PLENTY of free space"
After a fresh install of OC 9.0.2, everything was working fine with no hicups until I had synced 102 GB, at which point the "storage is full" warning came up, despite having 3TB of space on that partition. I'm using LVM for storage, and the data directory in config.php is pointing to the correct logical volume, which is /mnt/cloud_data.

**vgdisplay output:**
[code]

**fstab entry is as follows:**

[2016-06-05 06:36] kwoxer commented on #19959
Just also wanted to say that I had this issue here. I got something like

To fix this I just like a chown www-data on the folder. Like @skycube Fixed it.

[2016-06-05 13:13] kwoxer opened #24979 "When having an owncloud database installed - misleading message (Access denied for user 'user'@'localhost')"
### Steps to reproduce
1. Having a database installed, called "owncloud"
2. Upload a fresh owncloud install to your server
3. Try to install owncloud as usual
4. Use database "owncloud" when setting up login and database information (I used different mysql users, also root)
5. Click the button on the bttom and you now get:

### Expected behaviour

The message should be more like:

### Actual behav

[2016-06-05 13:21] guruz commented on #19529
@ChristophWurst Yep indeed looks like it :)

I'm wondering: The table ```authtoken``` has ```name``` which is for the User-Agent. How would we put in a user defined description?
E.g. "Markus' MacBook" or 'Christop's Android" or whatever.
Hm, maybe something for later.

Please feel free to assign this yourself and close it.

(If @danimo does not disagree)

[2016-06-05 13:30] ChristophWurst commented on #19529
@guruz the ``name`` attribute is used for the user agent of browser session tokens and for the device name of device tokens. You can already create a device token called "Markus' MacBook" in the personal settings or via the ``/token/generate`` route: https://github.com/owncloud/core/blob/c0a91ddca797c9821d3ce8771664b17ee588535f/core/Controller/TokenController.php#L60-L88

[2016-06-05 13:30] #19529 closed

[2016-06-05 17:59] alankeny commented on #24608
I thought I was only using Windows ACLs on my Samba server.  It turns out several directories had the DOS read-only attribute on them as well.  I could only find them and change them from a Windows command prompt.

A recent change to OwnCloud seems to have started tracking the DOS attributes on files and directories, even though my Samba server seems to ignore the read-only attribute on directorie

[2016-06-05 20:24] oparoz commented on #23643
1. Turn on debugging
1. Make sure you have a skeleton dir which is used for new users
1. Create new user
1. Look at the logs

In my case I see one debug message per file in the skeleton folder

[2016-06-05 21:37] GJSchaller commented on #17468
It appears fixed in 8.2.5.  I am not on 9.0.2 yet.

[2016-06-05 22:21] tmaex commented on #24978
Did you recognized the storage contingents in the user settings (/index.php/settings/users)?

[2016-06-05 23:10] oparoz opened #24981 "Shares can be created without uid_initiator"
### Steps to reproduce
1. Create a share like this `$share = \OCP\Share::shareItem('file', 1234, 0, 'tester', \OCP\Constants::PERMISSION_ALL)`
2. Login as user tester
### Expected behaviour

User should be able to log in
### Actual behaviour

Share 2.0 throws an exception because `uid_initiator` is null.

[code]

[This change](https://github.com/owncloud/core/commit/78be766cf543d738a3822a3cd614634

[2016-06-06 02:40] laodan commented on #16365
This problem is still existing in ownCloud 9.02 (fresh install).

"message":"opendir(\/home\/liusolas\/ownclouddata\/laodan\/files_trashbin\/files): failed to open dir: No such file or directory at \/home\/liusolas\/public_html\/owncloud\/lib\/private\/files\/storage\/local.php#99","level":3,"time":"2016-06-06T01:39:26+00:00","method":"GET","url":"\/owncloud\/index.php\/apps\/files_trashbin\/ajax\

[2016-06-06 05:41] nickvergessen commented on #24978
Also, can you upload files via the web UI?
And which version of the client are we talking about?

[2016-06-06 05:45] nickvergessen commented on #24979
Well the error message comes from mysql itself, there is nothing wwe can really change about it.
ownCloud generates a new mysql user on installation and that one is not allowed to access the database. If it would be allowed, because you configured it in mysql that way, the error message would be "already exists", so not sure if anything can be done about this.

[2016-06-06 05:59] nickvergessen commented on #24981
@rullzer looks like the initiator is missing from https://github.com/owncloud/core/blob/718f0757e497f58ddbd783e69227ce6987dff59f/lib/private/Share/Share.php#L2432-L2460

[2016-06-06 06:30] kwoxer commented on #24979
Sorry but I don't understand. Why it does not work to check if a database already exists. Pretty easy php mysql query and result check. Could you tell me what is so heavy about this? :)

[2016-06-06 06:31] rullzer commented on #24981
Yes I know \OCP\Share should have been removed/deprecated and calling the new function... but the whole refactoring was pushed back.

[2016-06-06 06:39] nickvergessen commented on #24979
the newly created user has no permissions to check if it exists :scream:

[2016-06-06 06:45] kwoxer commented on #24979
Okay but anyway "Access denied for user 'user'@'localhost'" is totally misleading.

Then say "Access denied for user 'user'@'localhost'. Maybe database exists already?".

Chaning a message should not be so hard, is it? :)

[2016-06-06 06:49] nickvergessen commented on #24979
That message comes from MySQL directly, not ownCloud. And analyzing the string, based on your mysql language and stuff is going to be a horrible mess, so no I guess that's nothing we can fix.

[2016-06-06 06:57] kwoxer commented on #24979
Okay I understand. But maybe showing some info popup after a failed login. What might be a reason for failing the login. Took me a hour to actually see the same existing database name as a reason. Now I know it. But a tip about this would have saved me some real big trouble there. :)

[2016-06-06 07:31] tflidd commented on #24979
I though that this might be possible. We have a lot of users that get this `Access denied for user 'user'@'localhost'` error and it is difficult to debug. If we can't improve the error messages, we should perhaps provide a list with possible reasons for this error.

[2016-06-06 08:00] ash663 opened #24982 "Per user encryption and encryption without user logging in"
Hi,
I'm new to ownCloud, and after installing the encryption module, the following two observations came to my mind:
1. Functionality to enable encryption for specific users, as well as specific folders for that user.
2. Functionality to start encrypting files before the user logs in.

How should I go about if I need to implement the above two features?
Feature (2) would be needed if the user has

[2016-06-06 08:15] nickvergessen commented on #24938
That trashbin thing is the same issue, it also calls `getOwner` and receives the cloudId instead of the local user that has access to the file.

[2016-06-06 08:17] nickvergessen commented on #24301
Blocked by https://github.com/owncloud/core/pull/24897

[2016-06-06 08:22] PVince81 commented on #24919
@owncloud/sharing @owncloud/filesystem

[2016-06-06 08:26] PVince81 commented on #24929
CC @owncloud/ldap

[2016-06-06 08:32] rullzer commented on #24847
so we need a better way to verify if the container is ready. but really sev2?

[2016-06-06 08:32] josh4trunks commented on #24968
@mmattel do you still see any reason for the nginx changes discussed here?

[2016-06-06 08:36] PVince81 commented on #24970
There is currently no such setting, tagging as enhancement

[2016-06-06 08:43] SergioBertolinSG commented on #23512
Still happening upgrading to 9.1 tarball.

[2016-06-06 08:45] rullzer commented on #23687
Ok this seems like we do something bad somewhere... and retry to often. Lets fix it...

[2016-06-06 08:49] mmattel opened #24984 "Feature Request: ownCloud logfile - line breakes"
This is a feature request, hopefully not a stupid one...

For better readability when filing issues, I do linebrakes in the logs manually before n#x.
Because this is a lot of work, I have two questions:

- There are upcounting numbers starting with #0 but at the second number it starts with n#1 ect. Is it possible to have the numbering starting with n always ?
- Would it be possible by ownCloud to

[2016-06-06 08:52] ChristophWurst opened #24985 "Check loginname when authenticating with basic auth and device token"
Starting with 9.1 it is possible to use HTTP basic auth with username and device token. The current implementation does *not* check the username if a token is used as password. Hence one could use a random username. While that works for the first request, sub-sequent requests will be logged out as soon as the password check is performed. That check uses the loginname+password stored in the token.

[2016-06-06 08:54] mmattel commented on #24968
I have put this issue here as it affects .htaccess (core) and nginx (documentation) and Apache has a higher precedence over nginx. Will be closed when the corresponding PR´s will get merged/rejected.

[2016-06-06 08:58] josh4trunks commented on #24968
I see makes sense, sorry thought this was a PR when I wrote that.

[2016-06-06 09:19] Revnixcad opened #24986 "Cant share file or folders with direct sharing option to an external e-mail"
Someone here van he

Test mail in admin configuration works perfect.
Making a user including email adres, the user get the email.

But when i want to share a folder to an external email adres an error occurs(see below)

![share folder](https://cloud.githubusercontent.com/assets/19774235/15817284/a3db85e2-2bd7-11e6-8a60-f66fee736a34.PNG)

**Actual behaviour**
![error](https://cloud.githubuserconten

[2016-06-06 09:26] PVince81 commented on #24978
You might want to run `occ files:scan --all` once to adjust file sizes, in case they don't match for some reason.

[2016-06-06 09:28] #24961 closed

[2016-06-06 09:29] Kawohl commented on #20050
I think looks good. Please mak a pull request.

[2016-06-06 09:47] davivel commented on #24794
About the authentication mechanism detection, using a specific path to get the list is OK to me, though I'm not sure from your description what would be the list of responses. The setups with 2FA enabled or disabled include the same combinations in https://github.com/owncloud/core/issues/24794#issuecomment-222933509, how will the client distinguish one setup of other.

Related to authentication de

[2016-06-06 09:55] RealRancor opened #24987 "Security issue: Move datadir protection check back from .ocdata to htaccess.txt"
In https://github.com/owncloud/core/pull/22054 the check for the protection of the datadir was moved to check if the .ocdata is accessible via the internet.

Checking if the .ocdata is not accessible is no proof if the datadir is protected. Most webserver setups out there are denying the access to those "dot" files by default. There is no guarantee that the datadir is protected by the assumption t

[2016-06-06 09:58] davivel commented on #24794
Self-respond, I guess that should be transparent for the client.

So, the response to ```GET /auth/info``` should be a list of valid combinations of ```authX + tokenY```, right?

[2016-06-06 09:59] ChristophWurst commented on #24794
@davivel exactly

[2016-06-06 10:01] ChristophWurst commented on #24794
We need to find a solution for that, too. The fact that we support two different types of basic auth (password or token) might complicate this.

[2016-06-06 10:13] rullzer commented on #23687
mmm status.php removal actually kind of work fine here... I do get flodded in the cron with not being able to exchange addressbooks. (since we only allow that over https).

Solution that I propose is to do this only once a day. That way the system will keep trying but only once a day. So that if somebody upgrades their installation to 9.0 or higher you can start exchaning. Or if they fix their set

[2016-06-06 10:22] davivel commented on #24794
I guess that basic auth with password should keep the "Basic" word for itself, and we should define a specific value for basic with token.

I relate this to auth detection because that's what we do now to find out the auth method, request an unauthenticated request to the root folder and check the response. What makes me think in Shibboleth: the plan is integrating it with ```Auth3```?

[2016-06-06 10:24] PVince81 commented on #24870
fileIDs are not supposed to change, it's likely a bug of some sorts.
Could be related to some copy/move logic in the versions code.

Would be better to look into fixing that bug instead.
If it's not possible to easily change the logic itself, I believe there is some cache API that makes it possible to update the cached info and preserve file ids. @icewind1991 might know

[2016-06-06 10:26] tflidd commented on #24986
Did you add the address you are sending mails from to your google-account:
https://support.google.com/mail/answer/22370?hl=en

I don't know the limitations on gmail-accounts and how google prevents spam. Could be a problem on this side as well. Can you try a different smtp server? Why don't you use your own one (extra-account for owncloud)?

[2016-06-06 10:28] PVince81 commented on #24987
@RealRancor thanks, I didn't realize.

My local setup doesn't have a "htaccess.txt" file so I guess we need to re-add logic to generate this file ?

[2016-06-06 10:29] PVince81 commented on #24987
Fix will require backport to 9.0

[2016-06-06 10:35] georgehrke commented on #24870
But it makes perfect sense to keep the fileId the same when file.txt is changed. Otherwise shares and so on would be deleted. My point in https://github.com/owncloud/core/issues/24870#issuecomment-222468518 was to recycle the already existing previews for the old version of the file.

[2016-06-06 10:40] PVince81 commented on #24870
Ah yes, now I think I understand what you mean.
Basically the fileid of the real file stays unchanged, so every version needs to get a new fileid and you'd like to reuse the old preview (copy it maybe) for that file.

Originally I thought that the version preview was regenerated over and over again, which would be bad.
But if it's only regenerated once, then it isn't that critical.

Adding a hook

[2016-06-06 10:42] PVince81 commented on #23687
Too bad background jobs cannot auto-delay themselves in case of error.

Not sure if once a day is enough though, especially for such corner case.

I seem to remember that @schiessle said that some of the bkg jobs would only try a few times then give up. Maybe it was a different one, the one that syncs permissions.

[2016-06-06 10:45] Revnixcad commented on #24986
But if i add users they receive the mails.

It's only when i add an external email adres, to share a folder without making a user first.

[2016-06-06 10:52] RealRancor commented on #24987
Just checked the apache2 config of Ubuntu which has only:

[code]

and nginx only:

[code]

Still its quite common that "dot" files are blocked.

[2016-06-06 10:54] rullzer commented on #23687
this one just continues as far as I can tell... no max retry or something

[2016-06-06 10:54] rullzer commented on #23687
Also this is about the initial setup. We could maybe implement some exponential backoff or so.

[2016-06-06 10:57] ChristophWurst commented on #24794
@davivel that is not yet possible, see https://github.com/owncloud/core/issues/24763

[2016-06-06 11:12] rullzer commented on #24986
You can't share like that to external e-mail addresses.
You need to share the link and then there is an 'send email' feature.

What it is trying now is to create a federated share.

[2016-06-06 11:12] icewind1991 commented on #24870
The preview code could listen to the `copy` hook and also copy any thumbnails

[2016-06-06 11:32] rullzer commented on #24925
So solution (requires some work but hey..)

1. create a local mail relay
2. configure local mail relay usually they allow you to store your password 'encrypted'
3. configure ownCloud to send mail via the local relay.

Of course the 'local' relay can also be a different server in your trusted network.
I think this is best. As I see no way for ownCloud to do this properly if you are truley paranoid.

[2016-06-06 11:33] rullzer commented on #24938
So what do we actually want. Reverting the PR breaks other stuff.

[2016-06-06 11:42] jnweiger commented on #23512
@SergioBertolinSG do you have a reproducer? I'd like to log in and check out some differnt .htaccess settings.

[2016-06-06 11:54] nickvergessen commented on #24938
not sure, for activities I'd say it's okay to "quick-fix" it by just skipping the generation.
But skipping the trashbin and admin-audit is more then meh.

[2016-06-06 12:02] rullzer commented on #24868
Now this is weird... the permission in the DB are 7 when you enable editing... which actually makes the permissions on the mounted link correct. The question is why is there a delete on the link share page. Since we don't allow it.

And why do we allow the files to be deleted.

[2016-06-06 12:05] nickvergessen commented on #24984
Well basically logging is "one entry per row". At least we can't do that atm per default, since it breaks well known log readers.
If you want it for personal use, try https://github.com/icewind1991/logreader

I wrote a script that fully converts exception stack traces to a better format:
https://gist.github.com/nickvergessen/3bc6c0c7ada1a3c4a1b1f5ed94cc61f6

[2016-06-06 12:06] nickvergessen commented on #24984
@DeepDiver1975 close "will not fix"?

[2016-06-06 12:07] #24986 closed

[2016-06-06 12:08] nickvergessen commented on #24987
sounds good, wanna fix it @RealRancor

[2016-06-06 12:10] mmattel commented on #24984
thx! will take a look at it, closing is fine to me

[2016-06-06 12:10] PVince81 commented on #24987
We first need to decide how to fix it.
Do we want to add code that generates a "htaccess.txt" file ? Where ?
And then change the UI part to check this file instead of ".ocdata".

[2016-06-06 12:12] Revnixcad commented on #24986
Okay thx

[2016-06-06 12:14] #24984 closed

[2016-06-06 12:15] ChristophWurst commented on #24985
To be clear: This does *not* mean that user1 can log in as user2 by using a valid token (that was created for user1). The token login process just does not check the loginname if the token is detected.

[2016-06-06 12:17] rullzer commented on #24868
ah so it is actually the webview that is doing fishy things... because allowediting never sets delete permissions. But the dav endpoint hapily sets them.

@PVince81 I suggest to fix the web view to reflect permissions properly. Then we can decide separatly if we want 'allow editing' to also mean delete

[2016-06-06 12:17] JB1985 commented on #24740
The Problem was OPcache!

Change:

opcache.fast_shutdown=1

to:

opcache.fast_shutdown=0

Strange that is happend only in OC9 and not before ...

[2016-06-06 12:19] PVince81 commented on #24868
@rullzer sounds good

[2016-06-06 12:21] rullzer commented on #24868
Ok lets do it :)

[2016-06-06 12:22] nickvergessen commented on #24938
Just found https://github.com/owncloud/core/issues/9759

So it seems like getOwner is not the most reliable function :see_no_evil:

[2016-06-06 12:26] PVince81 commented on #17468
Ok thanks. I'm closing this now.

If anyone still sees this in a recent version, feel free to reopen. Thanks!

[2016-06-06 12:26] #17468 closed

[2016-06-06 12:27] PVince81 commented on #23858
@winpat have the quotas still not appeared ?

[2016-06-06 12:33] guruz commented on #24763
FYI, in Qt it might not be so easy to use ```token``` in the challenge/response HTTP:
https://code.woboq.org/qt5/qtbase/src/network/kernel/qauthenticator.cpp.html#_ZN21QAuthenticatorPrivate17parseHttpResponseERK5QListI5QPairI10QByteArrayS2_EEb

We could still just hack it like we did before and just send our own ```Authorization``` header in the request.

FYI @ogoffart @danimo

[2016-06-06 12:46] rullzer commented on #24868
PR in #24990

[2016-06-06 12:50] SergioBertolinSG commented on #23512
@jnweiger It is an upgrade from 9.0.2 to 9.1 using tarballs, having public shared links before upgrading.

[2016-06-06 13:05] mmattel commented on #24987
FYI, the original naming of the file was: ``htaccesstest.txt``
Currently there is only one place where this file is mentioned in core: see https://github.com/owncloud/core/blob/c0a19ecd2d4878684a135764e9cf4a175e5f591e/lib/private/legacy/util.php#L1150

[2016-06-06 13:12] oparoz commented on #24981
@rullzer - Do you have an example of where you create a share using the new code? Seems like we can't create one in one go but have to use lots of setters?

[2016-06-06 13:28] rullzer commented on #24981
yes you have to use a lot of setters... but you can chain them.

[code]

It was done this way to have it more explicit.
There are no helper functions as of now to do this in 1 go.

[2016-06-06 13:51] oparoz commented on #24981
Thank you @rullzer. I'll give it a go.

[2016-06-06 14:01] davitol opened #24994 "Cannot decrypt a user's account called 0 via occ command"
### Steps to reproduce

1. Create a oC user called "0"
2. Encrypt your oC server via occ command
3. Try to decrypt "0"'s account via occ command ```occ encryption:decrypt 0```

### Expected behaviour

Running ```occ encryption:decrypt 0``` command should decrypt "0"'s account

### Actual behaviour

The CLI is taking 0 parameter as empty, so the whole oC server will be decrypted

### Server configu

[2016-06-06 14:09] ChristophWurst opened #24995 "Client auth detection"
(copied from https://github.com/owncloud/core/issues/24794#issuecomment-222933509)
# Authentication mechanism detection

With multiple authentication mechanisms available, clients need to know which one is used to either prompt for for login credentials or open an URL in an external browser.
## Auth

These are the auth mechanisms we support:
- Auth1: _old_ auth with basic auth (username, password)

[2016-06-06 14:13] icewind1991 commented on #23643
Are you able to get a stacktrace of the error?

[2016-06-06 14:52] oparoz commented on #23643
I don't think so, unless you can guide me to get PHP to print it to the logs?

I've seen those log entries both on Ubuntu and FreeBSD, PHP 5.6 and 7.

[2016-06-06 15:01] #24776 closed

[2016-06-06 15:01] #24919 closed

[2016-06-06 15:57] PVince81 commented on #24987
Hmm, maybe loading the admin page could auto-create that file and then the ajax call could check it.

But then the file will get a chance to be deleted again. Might be ok though.

[2016-06-06 16:02] oparoz commented on #24981
OK, there are other problems in Share 2.0.

In `generalCreateChecks` you have this:

[code]

But if we set sharedWith to null, then we fail another test

[code]

[2016-06-06 17:21] rullzer commented on #24981
mmm ok fair enough... but you just don't set the shareWith then. but indeed should be fixed.

[2016-06-06 17:24] oparoz commented on #24981
@rullzer - Then you run into this check

[code]

[2016-06-06 17:27] kwoxer commented on #24979
Especially for new users about what happens when clicking the button. It's very unclear. I think many users create the user, as you do in a wordpress install or so, before clicking the button.

So saying that "By clicking this button, the given user will be created by the install script. Database must NOT exists already."

Something missing?

[2016-06-06 18:21] oparoz commented on #24981
I doubt it's the problem since the sharetype is used as a condition which fails for another reason, so null is correct, but the check for sharetype is wrong since null is not a string.

[2016-06-06 18:28] rullzer commented on #24981
@oparoz maybe a look at https://github.com/owncloud/core/blob/master/apps/files_sharing/lib/API/Share20OCS.php#L239 will help. That is the OCS share endpoint. Which is used the default way to create shares.

I don't know what you are trying to do but maybe that helps,

[2016-06-06 18:29] ianathompson commented on #23066
The fix for this was only done to 2 files.
./apps/files_sharing/lib/helper.php L164
./lib/private/share/share.php L2480

To make it work you must also modify the files:
./apps/gallery/middleware/envcheckmiddleware.php L299
./apps/dav/lib/connector/publicauth.php L92

I did it manually because for some reason it was excluded. Password protection works perfectly now.

thank you @TDannhauer for this!

[2016-06-06 18:53] tmaex opened #24996 "SQL-Error on Upgrade to 9.0.2"
### Steps to reproduce
1. apt-get dist-upgrade (including owncloud)
2. disable maintenance mode
3. open owncloud in browser, do the update

### Expected behaviour
updating database

### Actual behaviour

notifications: An exception occurred while executing 'CREATE TABLE `oc_notifications` (`notification_id` INT AUTO_INCREMENT NOT NULL, `app` VARCHAR(32) NOT NULL, `user` VARCHAR(64) NOT NULL, `time

[2016-06-06 19:27] aronovgj commented on #24996
https://github.com/owncloud/core/issues/23867#issuecomment-221182668

[2016-06-06 20:41] scriptPilot opened #24997 "Shared from you view shows wrong folder names"
When I share a folder FOLDER-A to a person and he is first renaming to FOLDER-B and then sharing it as well, in "Shared from you" (or similiar in english) view shows still the olf name FOLDER-A. In the folder view he will the the new folder name.

[2016-06-06 20:58] chris001 commented on #24978
This is most likely the famous bug in the implementation of WebDAV.
In brief.... the WebDAV protocol doesn't have a way to find out the free space available on the remote drive (owncloud drive).
So it assumes the remote free space is equal to the amount of free space on your system boot volume, which is probably a small amount of  free space.
To test this try temporarily moving a large amount of m

[2016-06-06 21:00] chris001 commented on #24978
Reference the WebDAV incorrect free space bug on Microsoft KB site:
https://support.microsoft.com/en-us/kb/2386902

[2016-06-06 21:01] chris001 commented on #24978
This WebDAV bug is probably why dropbox created its own file transfer protocol that is NOT WebDAV...?

[2016-06-06 21:32] tmaex commented on #21728
Updated to 9.0.2:
Now federated@cloud.sh shows up in data's share-menu, so the problem is solved.

[2016-06-06 21:45] reuterbal commented on #23248
Confirming findings by @rstangneth.
Upgrading PHP 5.5.9 to 5.6.22 re-enables login with Android News App. Android OwnCloud (files) App was working before and does still.

[2016-06-06 22:27] oparoz commented on #24981
Thanks @rullzer, I'll have a look.

I just need to replace the call I put in the OP, but apparently it requires more changes than just changing method as some of the parameters have also changed.

[2016-06-06 22:47] littleguga commented on #1347
@MTRichards maybe add setting for this?

[code]
- [x] use min
- [ ] use max

[2016-06-07 01:10] MTRichards commented on #1347
Good idea!

[2016-06-07 05:53] rullzer commented on #24997
Ah yes. True. This is (for now) the way the API works. But it is a nice enhacncement indeed.

[2016-06-07 06:02] scriptPilot commented on #24997
Thank you for that Information. But I think we have a BUG as well - why? So if the FOLDER-A is shared and shared again, the second sharer could click on the Folder in the "Shared from you" view without any Problem. But If he has changed the Name of the shared Folder, after click on the (original) title he will get to the main Folder, not to the one he has clicked on ...

[2016-06-07 06:42] nickvergessen commented on #24996
Yeah, tehre have been several reports already, please use the search.

[2016-06-07 06:42] #24996 closed

[2016-06-07 07:10] PVince81 commented on #24978
@chris001 but then having a custom protocol wouldn't allow so many Webdav client to freely mount it. The reason Webdav was chosen for OC is to allow the many Webdav clients to mount the volume.

[2016-06-07 07:34] nickvergessen commented on #24994
Btw I don't really think username `'0'` is a sev2 case, but anyway PR is already here.

[2016-06-07 07:35] rullzer commented on #24997
Aah that is a bug indeed. Let see..

[2016-06-07 07:36] PVince81 commented on #24625
This PR https://github.com/owncloud/core/pull/24813 will allow deleting files even when they aren't on-disk any more.

[2016-06-07 07:36] #24625 closed

[2016-06-07 07:37] PVince81 commented on #24499
Fixed by https://github.com/owncloud/core/pull/24813 by detecting a failed deletion and then calling `file_exists` to double check.

[2016-06-07 07:37] #24499 closed

[2016-06-07 08:00] PVince81 commented on #24888
Indeed, works for me on master too now. Maybe was an env issue. Closing.

[2016-06-07 08:00] #24888 closed

[2016-06-07 08:18] nickvergessen commented on #22031
Implemented for 9.1: https://github.com/owncloud/core/pull/24444

[2016-06-07 08:18] #22031 closed

[2016-06-07 09:02] PVince81 commented on #13915
Reopening to reconsider for 9.2.

One idea is to use the REPORT method using pagination like for the comments, and using the PROPFIND-like response from the "tags filter" section.

On the JS side, more work will be required because some parts of the code require the whole list to be known upfront, for example for detecting duplicate file names.

CC @butonic

[2016-06-07 09:12] nickvergessen commented on #24546
@PVince81 close until someone else faces the same issue?

[2016-06-07 09:17] PVince81 commented on #2927
This is done in 9.1, closing.

[2016-06-07 09:17] #2927 closed

[2016-06-07 09:18] PVince81 commented on #24791
@ChristophWurst any update on this ? Is it difficult ?

CC @DeepDiver1975 @dragotin

[2016-06-07 09:25] butonic commented on #24734
@PVince81 should we decrease to 20 again until https://github.com/owncloud/core/pull/10994 is done?

[2016-06-07 09:26] PVince81 commented on #24734
Yeah, or 50 if that value works better.

[2016-06-07 09:27] PVince81 commented on #23544
Moving to 9.2 for the remaining tasks

[2016-06-07 09:29] SergioBertolinSG commented on #16457
This is no longer happening.

[2016-06-07 09:29] #16457 closed

[2016-06-07 10:04] nickvergessen commented on #23394
We fixed an issue with --path that cause missing size and etag propagation:
https://github.com/owncloud/core/pull/24875

Change was backported 9.0.3, so would be nice to test this again on 9.0.3

[2016-06-07 10:05] rullzer commented on #24997
O the joy... basically the output we return depends on who is calling... (and with which parameters)... I think I know how to make it work but lets see..

[2016-06-07 10:08] butonic commented on #13915
For reference: the comments implementation for REPORT LIMIT and OFFSET filters is in https://github.com/owncloud/core/blob/master/apps/dav/lib/Comments/CommentsPlugin.php#L49

[2016-06-07 10:08] guruz commented on #24937
I don't see many ```\OCP\Util::emitHook``` in general (in master branch), is that normal?
The hook name sounds quite specific, what is an ```ISharedStorage```? I don't see any comment.

[2016-06-07 10:09] nickvergessen commented on #22840
In 9.1 the loading spinner is removed and the drop down is also closed when opening in a new tab.

[2016-06-07 10:09] #22840 closed

[2016-06-07 10:11] butonic commented on #13915
Simply using multiple ajax requests to load the whole list may not be the solution because the sheer number of files might be too much to handle in a browser:

[2016-06-07 10:13] nickvergessen commented on #19722
Can't reproduce with FF46 and current master. Maybe it was fixed with sidebar stuff or the "drag n drop" highlight thing.

[2016-06-07 10:13] #19722 closed

[2016-06-07 10:13] PVince81 commented on #13915
Also note that with pagination and multiple ajax per page, there is a risk of missing files in case new files have appeared in the list. Now thinking of it, we might be able to use the Webdav precondition headers to specify the last known folder etag. In case the list changed between two paginated calls, we need to find a way to recover from it.

[2016-06-07 10:34] #24546 closed

[2016-06-07 10:44] PVince81 commented on #23394
I redid the tests from https://github.com/owncloud/core/issues/23394#issuecomment-198406120 on stable9 (upcoming 9.0.3) and syncing works correctly.

[2016-06-07 10:44] #23394 closed

[2016-06-07 10:51] SergioBertolinSG commented on #24913
This was fixed.

[2016-06-07 10:51] #24913 closed

[2016-06-07 11:05] DeepDiver1975 commented on #24791
I'll take care of that

[2016-06-07 12:10] PVince81 commented on #24987
Is it bad if the file never gets deleted ? Or we could call it "_htaccesstest.txt" or something that looks more like a temporary file ?

[2016-06-07 12:17] davivel commented on #21173
Great to know, thanks!

[2016-06-07 12:18] fiskn commented on #24608
I've been hit with this as well over the last couple of weeks, it was only the last comment which pointed me in the right direction to fix it. In my case, none of my files were marked read only. However there were some hidden+system files (thumbs.db, desktop.ini) which seem to be causing a similar problem. These files were stopping me uploading new files to the whole of the folder.

After deleting

[2016-06-07 12:23] davivel commented on #24794
Seen, I guess that differentiate it is against the intention of using it as a transparent legacy solution.

Any thought about my other question? Is the plan integrate Shibboleth in ```Auth3```? Right now the detection of Shibboleth as the method to authenticate is based in catching a 302 response with certain keywords when accessing the root folder with an unauthenticated request. If we don't inte

[2016-06-07 12:25] DeepDiver1975 opened #25002 "[CI] postgres on master is failing"
![bildschirmfoto von 2016-06-07 14-24-46](https://cloud.githubusercontent.com/assets/1005065/15857430/b426dd86-2cbb-11e6-8dc8-28ae4e0662d9.png)

[2016-06-07 12:30] DeepDiver1975 commented on #25002
Broken since this change - https://github.com/owncloud/core/commit/bf917d7063ed9328a8d367343ac2a6574917ddfb

@PVince81 @icewind1991

[2016-06-07 12:30] DeepDiver1975 commented on #25002
regression since https://github.com/owncloud/core/pull/24813

[2016-06-07 12:31] icewind1991 commented on #25002
will have a go at it

[2016-06-07 12:32] DeepDiver1975 commented on #25002
Thanks a lot!

[2016-06-07 12:44] nickvergessen commented on #24987
honestly I'd say suffix test should be enough for people to know okay I might not delete this file.
If it is never deleted, it should also not be a problem.

[2016-06-07 12:46] MightyCreak commented on #2927
\o/ Thanks!

[2016-06-07 12:47] ChristophWurst commented on #24794
Yes, the plan is to use the async client login process for shibboleth, where the user logs in on an external browser and the client gets a new token after the successful login process. https://github.com/owncloud/core/pull/24835#issuecomment-221597494 does exactly that, but was postponed to 9.2.

At least how I understood it, [Client auth detection](https://github.com/owncloud/core/issues/24995) s

[2016-06-07 12:51] nickvergessen commented on #25002
Same for oracle btw:
[code]

But I guess a fix will be the same to both

[2016-06-07 12:56] fluancefg opened #25004 "Sharing backend for calendar not found"
### Steps to reproduce
1. Create a new (LDAP) user
2. Add the new user to a group. This group must have a access to a calendar shared by another user.
3. Try to login with the new user. He gets a blank page.
4. Remove it from the group, He's able to login normally.
### Expected behaviour

Logged in.
### Actual behaviour

Blank page.
### Server configuration

Debian 7.10

**Web server:**
Nginx 1.11

[2016-06-07 13:05] icewind1991 commented on #25002
Fix is here https://github.com/owncloud/core/pull/25005

[2016-06-07 13:28] PVince81 opened #25006 "GDrive file missing size when content doesn't match mime type"
### Steps

1. Create a local "test.txt" file but put valid XML content inside
1. Setup a GDrive mount as "/gdrive"
1. Start "cadaver" or any webdav client
1. Upload the "test.txt" file with ownCloud to "/gdrive/test.txt" with cadaver
1. Do a `ls` in cadaver to check the file size

### Expected result
File size is correct

### Actual result
File size is -2 / unknown.

This is because there is a che

[2016-06-07 13:35] ageru commented on #24503
I can confirm this as well. I didn't send the link via mail: I just fiddled with the email  field (testing autocomplete) but didn't send a notification. Still got the error.

Gentoo x86, Nginx 1.10, MariaDB 10, PHP 5.6 with APCu.

Owncloud 9.02, upgraded from 8.2.5.

[2016-06-07 14:33] PVince81 commented on #24631
Fix is here https://github.com/owncloud/core/pull/25007

Will double check if that's really a regression.

[2016-06-07 14:36] rullzer commented on #24909
mmm I can't reproduce the setup. In 9.1 it is impossible to create the setup you describe since `user_group_admin` is not a member of `g1` so it can't share with that group.

[2016-06-07 14:36] PVince81 commented on #24987
so "htaccess.test" then

[2016-06-07 14:37] PVince81 commented on #24987
Okay, now I understand what you meant. "htaccesstest.txt" should then be enough.

Let's see if I can implement this without duplicating too much code...

[2016-06-07 14:42] rullzer commented on #24909
And if `user_group_admin` is a member of `g1` all works as expected here...

[2016-06-07 14:45] PVince81 commented on #22481
I suspect the copy failures are due to the fact that we don't `fclose` here: https://github.com/owncloud/core/blob/v9.0.2/lib/private/files/storage/common.php#L220, so the fclose wrapper might not be called properly and the subsequent retrieval of the file contents in the test fails.

[2016-06-07 15:01] PVince81 commented on #22481
Apparently no.

It seems the `drivefiles` stat cache isn't adjusted properly.

[2016-06-07 15:17] Murmadamus opened #25009 "After Update: flock() expects parameter 1 to be resource, boolean given"
Today I updated Owncloud within the settings menü. It updated sucessfully and 'restarted'. I cant access it now because of a error message.

I already searched for solutions and i did find an advice saying its about permissions. So i installed owncloud again at another folder and checked owner and permissions (chmod) [ftp access]. They are the same. Always owned by w0143acd. Please help me :)

###

[2016-06-07 15:20] viniciuscb commented on #24930
I am having the same problem for OpenSuse Tumbleweed
Repos: http://download.opensuse.org/repositories/isv:/ownCloud:/desktop/openSUSE_Tumbleweed/

Not found **libqt5keychain0** anywhere.

Message:
[code]

[2016-06-07 15:24] nickvergessen commented on #24745
Should we have the cancel only on the "select challenge" page, or also on the challenge itself?

On the other hand I think when someone successfully logged in as a different user, we don't need to make it too easy ;)

[2016-06-07 15:26] ChristophWurst commented on #24745
I'd say on both pages. But maybe not as prominent as the ``Verify`` button, but something like a small link underneath the provider form.

[2016-06-07 15:26] jnweiger commented on #24930
right now, openSUSE mirrors are updating to host our 2.2.1 release.
I see the new qt5keychain1-0.7.0 already replaced qt5keychain0-0.6.2 there, but all our owncloud-client packages are still at 2.2.0 -- this is inconsistent, sorry for that.
It should resolve to a consistent state within the next hour.

[2016-06-07 15:30] PVince81 commented on #20304
Moving to 9.2 like the PR.

[2016-06-07 15:31] PVince81 commented on #19941
We're past feature freeze, moving to 9.2 ? @DeepDiver1975

[2016-06-07 15:32] PVince81 commented on #18450
I'm going to close this now.

Improving the performance with fed sharing is ongoing and see https://github.com/owncloud/core/issues/13882#issuecomment-73927046 and https://github.com/owncloud/core/issues/5383#issuecomment-173610139 for the places to start with.

Note that in 9.1 a feature called "pluggable auth" was added and will make it possible to avoid sessions when using remote DAV calls, whi

[2016-06-07 15:32] #18450 closed

[2016-06-07 15:33] PVince81 commented on #16478
Risky, moving to 9.2.

Note that some fixes were made to internalPath and helped fix some issues.

[2016-06-07 15:35] DeepDiver1975 commented on #19941
yes - the pr is already on 9.2

[2016-06-07 15:38] PVince81 commented on #14127
Okay, so the two PRs got closed.

What approach should we use for this then ? Does the minimal fix cover enough of the requirements ?
What's the next step for the rest ?

[2016-06-07 15:41] PVince81 commented on #22481
PR here https://github.com/owncloud/core/pull/25010

[2016-06-07 15:49] PVince81 commented on #24631
Not a regression, this existed already in 8.0.6 and was never discovered !

[2016-06-07 15:53] PVince81 commented on #25006
Looks like the code in question existed already in 8.0.6 but didn't trigger at all.

It is likely that this is a regression from d38b71f20602268856c7cd2ce5c773ed4f41d64b where the extension based mime type detection was introduced, which doesn't match the one from GDrive any more.

[2016-06-07 16:00] nickvergessen commented on #25009
Please update to the latest ownCloud version (8.2.5) and specify the necessary information about your server (php version, OS, ...)

[2016-06-07 16:07] PVince81 commented on #25006
Fix is here https://github.com/owncloud/core/pull/25012

[2016-06-07 16:21] SergioBertolinSG commented on #23950
Problem is here: https://github.com/owncloud/core/blob/master/settings/css/settings.css#L31

I've been trying to move elements but they get positioned even worse. My suggestion is to show a dialog window instead of just showing it over the other elements.

[2016-06-07 16:25] Waqar731 opened #25013 "Admin Page not Opening Properly"
Hi,
Today at (7 june 2016) I downloaded owncloud server from official website and install with the help of this link. http://sharadchhetri.com/2015/04/26/install-owncloud-8-on-ubuntu-server-14-04/
Final when i write the   http://localhost/owncloud/index.php
 on browser then I am only getting empty page.
Why I am not being shown the Admin page properly as expected?

Thanks

[2016-06-07 16:37] PVince81 commented on #24987
PR here https://github.com/owncloud/core/pull/25014

[2016-06-07 16:47] retide opened #25015 "Group rights for new user not applied (encryption enabled)"
<!--
### Steps to reproduce

In an encrypted environment:
1. Share folder of user U1 with group G and place documents in folder
2. Create a new user U2 as member of G
3. As U2, try to open documents (eg. pdf-file) within the shared folder
### Expected behaviour

Documents should open.
### Actual behaviour

Opening documents as user U1 works as expected. U2 can view content of folders, but trying t

[2016-06-07 17:07] chris001 commented on #24978
@PVince81 Yes.  Maybe owncloud dev teams, and users, would benefit the most from a fix to this webdav protocol,  Someone needs to propose updates to the IETF RFC, to return the accurate amount of free space, that is one crazy omission... the world needs a webdav 2.0

[2016-06-07 17:11] chris001 opened #25016 "Add Apache Chemistry (CMIS protocol) for sync and remote drive mount"
Would be smart to add a second protocol (besides the current WebDAV) for communicating between owncloud client and owncloud server, to sync files, and open/edit files remotely,
Apache Chemistry supports an IETF approved standard protocol called CMIS, which is specialized for dealing with file servers, all the mainstream systems support it, sharepoint, everything.
Just add the free Chemstry CMIS PH

[2016-06-07 17:38] Murmadamus commented on #25009
How should i update without ssh access ?
PHP Version is 5.6
I dont know what OS all-inkl.com is using.

[2016-06-07 17:57] retide commented on #25015
Probably same issue as #23432, still persistent in 9.0.1. If encryption is desired, this makes rights management via groups practically useless and drastically reduces owncloud's usefulness for teams with regularly changing members and more than trivial rights management requirements.

It would be very helpful to show a warning in the administrator interface/group management panel when encryption

[2016-06-07 18:56] nickvergessen commented on #25009
You can download the zip and upload it manually via FTP?

[2016-06-07 19:03] Bazon commented on #23394
Thanks! I'll test as soon as ownCloud 9.0.3 arrives in arch linux.

[2016-06-07 19:42] mmattel opened #25017 "./occ files:scan --all -v and federated shares and users accessing this share via groups"
### Steps to reproduce
1. Create some local users
2. Create some local groups
3. Have a federated incoming share to one of the users who is granted groupadmin for some groups
4. Grant some folders of the fd-share to a group
5. Assign some users to the above group
6. The other users except the owncloud admin can now access the granted fd-share folders
7. Run `sudo -uwww-data ./occ files:scan --all

[2016-06-07 19:50] viniciuscb commented on #24930
Now it installed, however another error happened, in execution:

[code]

If necessary, please specify what additional kind of information I should provide to you to better understand this problem.

[2016-06-07 20:22] RealRancor commented on #24987
From what i understand https://github.com/owncloud/core/pull/22054 was implemented because of https://github.com/owncloud/core/issues/20199 where an existing htaccesstest.txt caused a false positive.

[2016-06-08 01:56] ringceving commented on #9916
Issue still exist in version 9.0.2.

[2016-06-08 05:34] RealRancor commented on #25013
@Waqar731 Please use the forums or the users mailinglist https://owncloud.org/support/ for installation help.

[2016-06-08 05:39] RealRancor commented on #25009
Normally this message is indeed caused by permission issues like seen here:

https://github.com/owncloud/core/issues/15417

[2016-06-08 05:58] Happyfeet01 commented on #20309
i have also the same Error. I can´t sync complete the files with Server and Desktop.

`Exception: {"Message":"Encryption library: Decryption (symmetric) of content failed: error:0607A082:digital envelope routines:EVP_CIPHER_CTX_set_key_length:invalid key length`

![sync abbruch](https://cloud.githubusercontent.com/assets/3295104/15883944/13e62db2-2d4d-11e6-8769-39abeb37c485.png)

i discussed this

[2016-06-08 06:39] rullzer commented on #21728
@PVince81 yes I verified on stable8.2. Since @tmaex problem is fixed and I have no way to reproduce => close

[2016-06-08 06:39] #21728 closed

[2016-06-08 06:39] rullzer commented on #22209
This was pushed back to 9.2

[2016-06-08 06:46] mmattel opened #25020 "New local user creates the user physically in the data directory during first logon"
### Steps to reproduce
1. Create a new local user
2. Do NOT logon with this user name
3. Run ``sudo -uwww-data ./occ files:scan --all -v

### Expected behaviour
No errors printed to the console

### Actual behaviour
A error is printed at the console:
[code]
Looking at the data directory, the user setup has not finalized as the user directory with it´s underlaying structure is not present. When the

[2016-06-08 07:11] #25013 closed

[2016-06-08 07:15] nickvergessen commented on #25015
As far as I know that is the current limitation and no other solution is in sight yet.

[2016-06-08 07:29] centredecalcul commented on #14757
Verified ! No error since I changed my HAproxy configuration, thank you !

[2016-06-08 07:46] #24631 closed

[2016-06-08 07:53] justlomo opened #25021 "How can I search with 2 letters?"
### Steps to reproduce
1. searching files with 2 letters
   2.
   3.
### Expected behaviour

searching files with 2 letters
### Actual behaviour

only can search with 3 letters
### Server configuration

**Operating system**: Ubuntu 15.10

**Web server:** apache2

**Database:** mysql

**PHP version:** 5.5

**ownCloud version:** (see ownCloud admin page) 8.2.5

**Updated from an older ownCloud or fr

[2016-06-08 07:56] #24939 closed

[2016-06-08 07:57] #25002 closed

[2016-06-08 08:01] PVince81 commented on #25021
You can't, 3 characters is the minimum. The reason might be to avoid overloading the search engine in case there are too many results. @butonic @georgehrke

Slightly related: https://github.com/owncloud/core/issues/9916

[2016-06-08 08:03] PVince81 commented on #25020
But that's what you put under "Expected behavior" :wink:

I see two possibilities:
1) do suppress the error message in the right place in the code (quick fix)
or
2) do create the home folder for the user

The problem with 2) is that it might not work with encryption, because the skeleton files will be copied and might require the user to be logged in. I'm not 100% sure, it might work but then the

[2016-06-08 08:04] PVince81 commented on #25020
Most importantly: the scanner must **continue** running and not abort!

[2016-06-08 08:04] PVince81 commented on #25020
@icewind1991 what do you think ?

[2016-06-08 08:06] PVince81 commented on #25017
Federated shares are technically like mounted external shares and might in some cases contain unscanned changes, so it might be acceptable that the scanner goes in there.

@icewind1991 @rullzer

[2016-06-08 08:12] #24994 closed

[2016-06-08 08:12] #23695 closed

[2016-06-08 08:13] #24976 closed

[2016-06-08 08:14] #23776 closed

[2016-06-08 08:22] #24937 closed

[2016-06-08 08:27] #24745 closed

[2016-06-08 08:30] mmattel commented on #25017
@PVince81 it is absolutely ok that the scanner goes into fd-shares, but it is a big difference:
- if there is a user who has mounted a incoming fd- share (in this case you see the scanning progress and it is very quick)
- while users who are granted to access the fd-share via a group (where there is no scanning progress shown and it is very slow)

There is always a "root" user behind a eg incoming

[2016-06-08 08:35] PVince81 commented on #25017
Ah yes, you are right. We should change the CLI scanner to not recurse into received local shares, but fed shares are ok.

This is because for local shares it would rescan the same thing for every recipient, and for local shares there is one owner for which the scan will happen anyway.

[2016-06-08 08:38] mmattel commented on #25020
Question:
Do we have a database entry or can we check if the user has logged on at least once?
If yes, we could check in case the filesystem reports the missing structure the situation and surpress the "false" error message (respectively skip the user), but do a proper logging in case there is a real problem because the files in the filesystem are missing.

[2016-06-08 08:42] PVince81 commented on #25020
There is no clear indication in the database whether the structure was created.

Hmm, there is a "last login time" flag somewhere, but I wouldn't want to rely on that.

Another idea is to check whether the oc_storage/oc_filecache contains any entries for that user. When the structure is not created, it is likely that the "files" entry in the oc_filecache doesn't exist yet.

[2016-06-08 08:43] mmattel commented on #25017
This would be a great improvement, as the current behaviour of recursion takes **very** long for each user. I thought my system crashed and was close to reboot it. The shell was also unresponsive between the user scanning, no ctrl-c possible during the recursion process...

[2016-06-08 08:43] PVince81 commented on #25020
and also need to take race conditions into account in case someone logs in while the scanning is running.

[2016-06-08 08:43] butonic commented on #25021
@PVince81 is correct. The server side search is only executed with more than 2 letters: https://github.com/owncloud/core/blob/master/core/search/js/search.js#L325

@justlomo colud you try setting the 2 to a 1 or even 0 and report back on the server load? I am asking because we are meanwhile limiting the query results and overloading might not be that much of a problem any longer.

[2016-06-08 08:45] PVince81 commented on #25017
This might be a matter of adding a check `$storage->instanceOfStorage('xxx')`.

@rullzer @icewind1991 is there a good way to detect local shared storages (and skip them) and differenciate it from federated share storages ?

[2016-06-08 08:46] butonic commented on #9916
@ringceving can I ask you to try and report on the workaround as in https://github.com/owncloud/core/issues/25021#issuecomment-224526597

[2016-06-08 08:46] mmattel commented on #25020
Q: if I go to accounts I can see in the last column when the user has last logged on. For those who never did you have "Never". How is that gathered? Could it be reused?

[2016-06-08 08:48] PVince81 commented on #25020
@mmattel that's the value of "lastLogin" in the "oc_preferences" table. But as I said above it might not be accurate.

Ideally at some point I'd like to have another value "skeleton was initialized" to be more clear about this, see https://github.com/owncloud/core/issues/23430

[2016-06-08 08:58] mmattel commented on #23430
:+1:

[2016-06-08 09:17] rullzer commented on #25017
The trouble here is that reshared federated shares are a very strange thing. @schiessle had (or has?) a PR to have the new resharing in federated shares as well. That should solve this.

In order to get info like this you would need to get to the root storage... because for the scanning user it is just a normal incomming share. Only the storage below that is a federated share. I don't know if inst

[2016-06-08 09:53] PVince81 commented on #23683
Moving to 9.2 as we're past feature freeze

[2016-06-08 09:54] PVince81 commented on #23455
This is done in 9.1

[2016-06-08 09:54] #23455 closed

[2016-06-08 09:56] georgehrke commented on #24870
Copy hook isn't emitted for actions of the versions app 😕

[2016-06-08 09:57] PVince81 commented on #21054
I can't find any related message on master. Maybe that message is produced by PHP itself ?

[2016-06-08 10:15] suyashjain commented on #24919
I am too seeing the same logs in my deployment. I am using NAS mount on linux for storing data, encryption is on.

[2016-06-08 10:18] borconi commented on #18886
I'm Facing the same issue as @ntnn

Version: 9.0.2
Server: Ubuntu 14.04
Web Server: Lighttpd 1.4.33
Storage (local only): 1.4Tb free
PHP 7.0.3

`Nothing in the error log, but I keep getting: Error uploading file "xxx": Not enough free space, you are uploading 63 KB but only 0 B is left`

I had a look in the mentioned files and it's all there, I figured out that the error is caused by file-upload.j

[2016-06-08 10:44] PVince81 commented on #23995
Only observed on Firefox. I think this is because now the hidden input for the search is at the bottom of the page, so Firefox tries to scroll when we focus it. Yeah, the focus method needs to be used to make the dialog appear. Hacky stuff to make the upload button customizable.

Maybe inserting that hidden element at the top of the page will prevent scrolling.

[2016-06-08 10:47] PVince81 commented on #23995
Crap... now putting the field at the top makes it scroll **up** when clicking the upload button...

Looks like this will need more hackery:
1) save scroll position
2) user clicks button
3) restore scroll position

[2016-06-08 10:53] jancborchardt commented on #23995
What do you mean by that @PVince81? Could that be removed, or what is it used for?

[2016-06-08 11:04] PVince81 commented on #23995
No. Even with HTML5 you cannot freely customize a HTML "input type=file".
So you have to put that element somewhere and give it "width=0". Then to simulate the user clicking on it, you set the focus on that element, which automatically triggers the dialog.

Doing this seems to trigger scrolling in Firefox.

It is likely that the "scroll up" already happened in older OC versions but we never notice

[2016-06-08 12:00] michaelstingl commented on #24423
I can confirm, workaround (https://github.com/owncloud/core/issues/24423#issuecomment-220541949) from @marcandreu helps. If "share_folder" is configured in the config.php, it needs to be created too. Thanks!

[2016-06-08 12:21] icewind1991 commented on #25020
https://github.com/owncloud/core/pull/25028 prevents the error in the file scanner

[2016-06-08 12:46] icewind1991 commented on #25017
I don't think going into fed shares is a good idea, the remote server should take care of things being scanned

[2016-06-08 12:55] nickvergessen commented on #24449
The problem is, that we can not always output stuff, e.g. it would be bad if you get a config and it also prints an additional message into the "value".

Now what I could see is (like with "not nstalled") is to restrict some commands that they do not work when maintenance is enabled, but for most of the commands I think that they should be available, e.g. all the config stuff, encryption etc. so y

[2016-06-08 12:56] PVince81 commented on #25017
@icewind1991 no, because the remote server has its own cache. But the local server also has an own version of the cache, which might not be up to date in some rare cases.

[2016-06-08 12:58] mmattel opened #25029 "Scanner stops scanning SMB shares without visible reason, StorageNotAvailableException"
### Steps to reproduce
1. Create a SMB share
2. Start two shells, for the ./occ command and the other tail -f ownlcloud.log
3. Run `sudo -uwww-data ./occ files:scan --all -v`
### Expected behaviour

Scanning should pass when running over SMB shares, no errors should get logged.
It worked in the past.
### Actual behaviour

Scanning stops at one file (interrestingly always the same), but this file w

[2016-06-08 13:12] nickvergessen commented on #23687
The part of "killing cron" has been addressed with https://github.com/owncloud/core/pull/23436
This will make the background job being tested once per execution cycle, which I think is fine.

Closing as such.

[2016-06-08 13:12] #23687 closed

[2016-06-08 13:33] georgehrke commented on #22735
moving to 9.2

[2016-06-08 13:35] nickvergessen commented on #23213
Just had a look at the code, it seems to be expected. We run the insert, then catch the php side exception that is thrown by doctrine when the key is violated and update instead.

Basically we could try and change the preference stuff to use `insertIfNotExists()`, but we can't do that in the current method `Connection::setValues()` because we don't know for all of the use-cases of the method, what

[2016-06-08 13:40] rfc2822 opened #25030 "CardDAV: multiple groups are served as one CATEGORY with "," in name"
### Steps to reproduce
1. Add a contact with two categories, let's say "CatA" and "CatB"
2. Fetch the VCard for this contact via CardDAV.

### Expected behaviour
Because OwnCloud states to support VCard 4, the appropriate mechanism (KIND/MEMBER) should be used. However, this is another problem. When using VCard3 CATEGORIES (like OwnCloud currently does), the expected output would be:

[code]

###

[2016-06-08 13:41] jknockaert commented on #23213
@nickvergessen What was changed in order to cause this behaviour? I have some server-side monitoring that triggers on multiple postgres errors. As a workaround I disabled the monitoring, but in my opinion these errors should not happen in the first place.

[2016-06-08 13:45] duckdiver opened #25031 "renamed filename does not get changed on shared file on origin"
### Steps to reproduce
1. Share a file with internal AD-user or external use, allow to change file
2. receiving user renames the filename
3. filename gets not renamed on origin user portal
4. so there are different filename but the File Rights still are available

### Expected behaviour
Tell us what should happen

i would expect that the filename will also change on the origin usersite

### Actual

[2016-06-08 14:18] SergioBertolinSG opened #25032 "Click on "deleted" column title in the trashbin messes file names and previews."
### Steps to reproduce:

1. Upload some files to a user account.
2. Delete some files.
3. Go to the trashbin, click on the "Deleted" column title.
4. Click again.

### Expected behaviour:
File rows get sorted by date.

### Actual behaviour
File names changes wrongly and the preview images are gone.

![screen shot 2016-06-08 at 16 16 43](https://cloud.githubusercontent.com/assets/9048796/15897382/8

[2016-06-08 14:19] nickvergessen commented on #23213
Well the code was rewritten between oc7 and oc9, to be better suitable for consecutive actions. Before you could run into problems with parallel requests, because it did `select` if exists `update` otherwise `insert`. But if two requests do the select before the one of them does the insert/update you'd get an exception in php

[2016-06-08 14:21] mmattel opened #25033 "Deleting an (external) storage mount leaves thumnails created in the filesystem"
### Steps to reproduce
1. Mount an (external) storage, in my case a SMB picture share
2. Go into some folders via the files app - thumbs are created
3. Delete the mount point
### Expected behaviour

Automatic deletion of the corresponding thumbs which were related to this mountpoint
### Actual behaviour

Thumbs from the deleted mountpoint are not deleted and stay in the users thumbnails directory

[2016-06-08 14:24] #25006 closed

[2016-06-08 14:32] #24781 closed

[2016-06-08 14:47] Scherar commented on #22988
Hi, check out groups and group_user with gid containing slashes. This was my error.
I had a group named "CO/GH". Calender gave a 404 "principal CO not found"...
i renamed the group in groups and groups_users "GH CO" ... and running :)

[2016-06-08 15:03] PVince81 commented on #23995
Okay, I tried stable8.1 and there the `<input type="file">` is directly styled to look like an upload button. This was feasible because it's basically bkg + border + image.

However since we moved it into the dropdown, I separated it into a hidden element because we can't style the `<input type="file">` to be a row in a menu with both image + label.

Some research needed, maybe there is a way to p

[2016-06-08 15:06] nickvergessen commented on #25030
Did you create the contact or assign the groups with the owncloud contacts app, or with another app, e.g. phone

[2016-06-08 15:09] nickvergessen commented on #25031
That is basically the expected behaviour. This is even necessary, because otherwise if a user receives two shares form two people with the same name, it would trigger a rename for one of the shares and a whole set of renames (even circulary) would trigger.

[2016-06-08 15:09] #25031 closed

[2016-06-08 15:11] nickvergessen commented on #25032
Nice, I expect the missing previews are related to the file name changing.

[2016-06-08 15:20] PVince81 commented on #25033
I believe there is no hook at storage deletion, so the previews subsystem doesn't know that it should delete them.

@georgehrke @oparoz

[2016-06-08 15:23] PVince81 commented on #25029
Note: there is generic code that converts the exception to "StorageNotAvailableException" so it might be a legitimate unhandled SMB error that mistakenly gets converted to that.

Ideally "StorageNotAvailableException" should rather be "opt-in", meaning that only a subset of exceptions where we know that it's really away gets converted to that.

That aside, the "Unknown error" really looks weird.

[2016-06-08 15:24] PVince81 commented on #24730
I hope this won't require big code changes ?

[2016-06-08 15:32] PVince81 commented on #24309
It looks like the global ajax error handler is getting a lot of false positives, and that only because it is assuming that a failed XmlHttpRequest is due to a cross-domain request trying to connect to an IDP in a SSO situation.

Anyway, I think we should backport https://github.com/owncloud/core/pull/24126 which will at least introduce a delay and give the admin a chance to see the current message

[2016-06-08 15:34] #22746 closed

[2016-06-08 15:36] PVince81 commented on #24309
PR here https://github.com/owncloud/core/pull/25035

[2016-06-08 15:41] #22127 closed

[2016-06-08 15:48] PVince81 commented on #23512
@SergioBertolinSG when updating the tarball, did you replace .htaccess ?

[2016-06-08 15:49] PVince81 commented on #23345
@DeepDiver1975 any update ?

[2016-06-08 15:50] mmattel commented on #25029
It would be helpful to know what the error code is or getting more about because then I would be able to dive in deeper. "StorageNotAvailableException" is imho misleading. I was completely rechecking my physical smb backend because of this message. The weired thing is that 9.0.2 reports an error and 9.1 does not but both stuck at the same thing.

[2016-06-08 16:09] mmattel commented on #25029
Made additional tests:
It stucks not on a folder but on a file level access. I can see this with the verbose level set.
That what wonders me really is, that the error thrown is NOT automatically pushed, but is triggered when pressing ctrl-c because the process is somewhere stuck and there is no more progress.

[2016-06-08 16:13] mmattel commented on #25029
When the error occurs and you let the files:scan command rerun you get:
[code]
Refreshing the browser screen helps and I can run the command from the console again ??

[2016-06-08 16:30] cdamken commented on #22450
Nice!, thanks a lot!

[2016-06-08 16:40] SergioBertolinSG commented on #23512
Yes, it is replaced with the upgrade.

[2016-06-08 17:26] Hazel-by opened #25038 "."
### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration
**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**ownCloud version:** (see ownCloud admin page)

**Updated from an older ownCloud or fresh install:**

**Where did you install ownCloud from:**

**Signing status (ownC

[2016-06-08 17:37] mmattel commented on #25029
More info:
- Mounting another SMB folder containing ~4000 files and folders (this is the only one mounted) and starting the scan manually, it worked.
- The problematic but previously working SMB mount contains ~19k files and folders and stops at ~2000

[2016-06-08 18:38] rullzer commented on #24868
So the thing here is that the public view is being the bad boy. When allowing edit on the link we never set the DELETE permissions. So then we should not allow delete (which the mount correctly does not show).

This is also in line with the edit permission on 'normal' shares. Where edit and delete are separated.

So the real bug here is that you can delete files on and editable link share while th

[2016-06-08 18:59] rfc2822 commented on #25030
Doesn't matter, the problem occurs in both cases (just tested).

[2016-06-08 21:20] DeepDiver1975 commented on #25030
It should make a difference - the vcard is not touched by the backend code.

[2016-06-08 21:21] DeepDiver1975 commented on #23345
no time to look at this - sorry :cry:

[2016-06-08 21:58] ChristophWurst commented on #23345
9.2 then?

[2016-06-08 22:01] ChristophWurst commented on #24730
https://github.com/owncloud/core/pull/24973 in conjunction with creating session tokens for clients (we do that already) should be enough for now.

[2016-06-09 07:36] SergioBertolinSG commented on #24303
Works in stable8.2, stable9 fails.

[2016-06-09 08:06] PVince81 commented on #25038
@Hazel-by looks like there was a problem when you submit your report. Please try again.

[2016-06-09 08:06] #25038 closed

[2016-06-09 08:15] PVince81 commented on #24868
@rullzer when we introduced the ability to create/update/delete files in the web UI of the share link in 9.0, these were activated when the "allow editing" permission was given. Not sure whether it properly set the permission value to 31 back then.

[2016-06-09 08:21] PVince81 commented on #23345
@georgehrke can you help with this ?

[2016-06-09 08:25] georgehrke commented on #23345
sure :)
@DeepDiver1975 Do you have any requirements where in the DAV app this image endpoint should be?

[2016-06-09 08:27] PVince81 commented on #24730
Tested, works :+1:

[2016-06-09 08:27] PVince81 commented on #24730
@nickvergessen can you redo a quick test since you were having issues ?

[2016-06-09 08:28] ChristophWurst commented on #24730
@PVince81 please comment on the PR ;-)

[2016-06-09 08:32] PVince81 commented on #24730
Too many tabs...

[2016-06-09 08:36] gregm123 commented on #24513
I have updated my Owncloud server this morning, upon restart when i try to login to owncloud I get
The requested URL /owncloud/ was not found on this server. I’m not sure where to start with resolving this, any help would be appreciated, OS is ubuntu 14.04, Owncloud was on a recent version of 8 sorry I dont have the exact version, but it was updated a a month or so ago, I suspect it has updated to

[2016-06-09 08:39] nickvergessen commented on #25030
I can see this in the contacts app, it sends the invalid `\,` in the vcard to the server.

[2016-06-09 09:29] DeepDiver1975 commented on #25030
so this is an error in contacts and has to be reported there - https://github.com/owncloud/contacts

most probably this is related to the used vcard library - we has simiar issue in the past already

[2016-06-09 09:29] #25030 closed

[2016-06-09 09:34] PVince81 commented on #23176
PR here https://github.com/owncloud/core/pull/25043

[2016-06-09 09:35] #25020 closed

[2016-06-09 09:42] PVince81 commented on #22519
@SergioBertolinSG is this still an issue on 9.1 beta2 ?

[2016-06-09 09:43] PVince81 commented on #20718
@DeepDiver1975 move to 9.2 ?

[2016-06-09 09:57] PVince81 commented on #23288
@jvillafanez works for me where server B is 9.1 beta2 and server A is master with a faulty smb mount.
I'm able to access the "/oc" mount on server B and the faulty smb mount doesn't appear in the list.

[2016-06-09 09:58] #24730 closed

[2016-06-09 09:58] #24987 closed

[2016-06-09 10:09] DeepDiver1975 commented on #24193
out of scope for 9.1 -> 9.2

[2016-06-09 10:11] DeepDiver1975 commented on #24198
Mainly done - remaining tasks can be ignored for now -> close

[2016-06-09 10:11] #24198 closed

[2016-06-09 10:11] nickvergessen commented on #25030
Reported in https://github.com/owncloud/contacts/issues/433

[2016-06-09 10:11] DeepDiver1975 commented on #23421
move to 9.2

[2016-06-09 10:12] DeepDiver1975 commented on #22291
moved to backlog once we have ci back into shape

[2016-06-09 10:14] DeepDiver1975 commented on #21026
npm was updated during the operation in the past weeks on ci -> close

[2016-06-09 10:14] #21026 closed

[2016-06-09 10:14] DeepDiver1975 commented on #20047
move to 9.2

[2016-06-09 10:15] DeepDiver1975 commented on #21282
yes

[2016-06-09 10:15] #21282 closed

[2016-06-09 10:16] DeepDiver1975 commented on #20529
move to 9.2

[2016-06-09 10:26] jvillafanez commented on #23288
Checked with serverA = master and serverB = stable9 : not working, I'm still being kicked out to the root in serverA when I try to access from serverA

[2016-06-09 11:13] rullzer commented on #24868
@PVince81 this was also already the case in 8.2 https://github.com/owncloud/core/blob/stable8.2/core/js/shareitemmodel.js#L195

[2016-06-09 11:25] JonasDralle commented on #24485
thank you for considering this

[2016-06-09 11:33] SergioBertolinSG commented on #24303
I guess this should be called in the detect dn button callback:

https://github.com/owncloud/core/blob/master/apps/user_ldap/js/wizard/wizardTabGeneric.js#L368

[2016-06-09 12:34] DeepDiver1975 commented on #23578
@georgehrke any idea what could be different with respect to the dav backend implementation?
Is Thunderbird storing the email address within the calendar properties and we should use them within the event?

[2016-06-09 12:38] DeepDiver1975 commented on #24485
This behavior was implemented on purpose - once enabled it is not possible to disable encryption without risking data loss due to corruption because encrypted files will not longer be detected.

Adding doc links might be helpful

[2016-06-09 12:46] georgehrke commented on #23578
I setup thunderbird according to this bug report but I can't find the email address I used nowhere in the db 😕

[2016-06-09 12:48] georgehrke commented on #23578
It's in the `ORGANIZER` property of the corresponding event though

[2016-06-09 12:54] DeepDiver1975 commented on #22176
there is no time to get this sorted out

[2016-06-09 13:20] rullzer commented on #25033
This should most likely be a background job. As I can imagine there being a whole lot of previews generated.

[2016-06-09 13:24] oparoz commented on #25033
I agree

[2016-06-09 13:27] mmattel commented on #25033
Could be. But how to remember / identify those previews that have belonged to a deleted mount point to be covered by the background job? Only those previews must be deleted, not all...

[2016-06-09 13:29] PVince81 commented on #25033
I believe that the previews have the file id as file name. So one idea would be to go through all of them and check whether there is a matching entry in the `oc_filecache` table.

When deleting an external storage mount, in most cases the cache will be cleared for that storage.

[2016-06-09 13:30] oparoz commented on #25033
The preview class also methods to delete previews, so maybe there doesn't need to talk to the DB directly.

[2016-06-09 13:33] mmattel commented on #25033
Currently, if you delete a mount point, previews become orphants at the moment of deletion.
If you immediately  run a files:scan command, these previews turn into "regular" files. So mount point deletion and preview deletion must go hand in hand in one process.

[2016-06-09 13:47] rullzer commented on #14564
I see no way this makes it into 9.1. CC: @PVince81

[2016-06-09 13:50] PVince81 commented on #14564
Yeah, we're past feature freeze and this needs some new APIs.
Moving to 9.2

[2016-06-09 13:56] jvillafanez commented on #24303
Looks like there are two (or more) events happening at the same time: the "change" event of the password, and the "click" event in the button. If this is the case, it will be very tricky to resolve....

The only easy solution I see is to block all the buttons in the wizard while the user is editing a field, and so, force the user to click outside.

[2016-06-09 13:57] DeepDiver1975 commented on #309
one day somebody will write some ......

[2016-06-09 13:57] #309 closed

[2016-06-09 14:00] DeepDiver1975 commented on #4944
one day -> backlog

[2016-06-09 14:26] PVince81 opened #25047 "Login by email with wrong password reveals user id"
### Steps

1. Login as admin
1. Set an email address
1. Log out
1. Enter the email address
1. Enter the wrong password
1. Click to login

### Expected result
Form reshown with email address

### Actual result
Form reappear but with the user id.

This could be used by a hacker to find out the user id of a user by email, or even find out whether such user has an account on that instance in the first

[2016-06-09 14:28] #24791 closed

[2016-06-09 15:58] mew1033 commented on #21338
I'm working on setting up ownCloud on apache behind an nginx reverse proxy. I added the proxy_request_buffering off; directive, thinking it would help optimize uploads. Testing on a local gigabit network, I was getting about 250 Mb/s. When I got rid of that setting, allowing proxy_request_buffering to be on by default, performance shot back up to ~950Mb/s.

At least for the ownCloud on Apache behi

[2016-06-09 16:04] guruz commented on #21338
@mew1033 Thanks

The goal of ```proxy_request_buffering ``` is for scenarios with high latency to not get into timeout situations.
So that would be a different benchmark, e.g. have your server in US but test uploads from Europe

[2016-06-09 16:05] guruz commented on #21338
I had actually added ```fastcgi_request_buffering off;``` to https://github.com/owncloud/documentation/wiki/ownCloud-9.x-nginx-example-configuration

(Note the proxy_ vs fastcgi_ .. but same principle?)

[2016-06-09 17:27] PVince81 opened #25049 "Duplicate sessions even with device specific passwords"
Maybe I misunderstood the feature but I was expecting that if I give a device specific password to a device, it would be able to only use a single session.

I've generated three passwords:
- Android's CalDAV sync
- Android official mobile client for ownCloud 2.0.1
- Laptop's desktop client 2.2.1

This is the result:
![duplicatesessions](https://cloud.githubusercontent.com/assets/277525/15939415/e2

[2016-06-09 17:31] PVince81 opened #25050 "Changing password in web UI kills same web session"
### Steps

1. Login as a user
1. Go to personal page
1. Change password
1. Continue using ownCloud with the same session for 10 minutes or so

### Expected result
Session continues

### Actual result
At some point it goes back to the login page, the session got killed.

### Versions
ownCloud 9.1beta2 and master

@ChristophWurst maybe you need to re-store the new password in the current session or

[2016-06-09 18:11] ChristophWurst commented on #25049
I can take another look at this. Apparently clients do not always re-use their sessions, not sure if this is fixable easily.

[2016-06-10 01:25] oparoz commented on #13158
@derekblankmccoy - We're back in business and there are still 12 days before the feature freeze, so this could still make it in if reviewed in time. Make sure you pull the latest commits from master and I'll post a patch you can apply to finally test this.

[2016-06-10 06:42] ChristophWurst commented on #25049
(As discussed somewhere else) we shouldn't need session tokens for clients using a device-specific password. The only real reason why we create them at the moment is to reduce the number of user backend queries (password is not checked on *every* request, only only once per five minutes).

Hence what we can do instead of having a session for those clients, is store the timestamp of the last passwo

[2016-06-10 06:46] rullzer commented on #24938
Yep... so I'm kind of unsure on how to fix this...

[2016-06-10 07:00] DeepDiver1975 commented on #25049
For the time being we need to support sessions because e.g. the shibboleth integration of our clients requires the use of sessions.

[2016-06-10 07:03] rullzer commented on #25049
I think we can only 'properly' solve this is we take over the entire session management ourselfs. But that is not in the near future.

And as @DeepDiver1975 mentions in certain setups we still require those sessions.

[2016-06-10 07:09] ChristophWurst commented on #25049
Right, we need to keep sessions for now (as I also wrote above), but the situation right now is not ideal if it spams the browser session list with certain devices/configurations.

However, the problem is not a new one. It existed before, but was not visible to users as we didn't have that personal settings page.

[2016-06-10 07:15] ChristophWurst commented on #25049
Another (probably not acceptable) approach is to have a new token type for client-session-tokens, which are then *not* listed on the personal settings page. As the personal settings page would lie with 'these are the browsers connected to your device' then, this is not acceptable IMHO. This could be used to connect to an ownCloud account without the notice of the users…

[2016-06-10 07:19] chriseqipe commented on #24633
We had the same problem on one of our oc intances. The Apache process also died with signal 11. Upgrade to 9.0.2 solved the problem. I investigated the cause and saw that the since oc 8.2.4 goes into an endless recursive loop on certain user group relations crashing the php process....

[2016-06-10 07:28] mmattel commented on #25033
@oparoz disagree, because we are not managing previews but the deletion of a mount point. This does not touch preview management and will not be triggered therefore.

Some thoughts:

For upcoming releases:
- create a new oc_previews table containing path, storage ID of the mountpoint where they belong to (not the ID where they are written to = users home !) and etag equal to oc_filecache

oc_previ

[2016-06-10 07:29] rullzer commented on #25049
@ChristophWurst I agree either we show it all or nothing. Maybe we could add a litte star or so to the client sessions that we can then explain below.

[2016-06-10 07:30] DeepDiver1975 commented on #25049
Mark them as kind of legacy connection or something

[2016-06-10 07:33] ChristophWurst commented on #25049
Yup, good idea @rullzer.

But what about clients that do not support cookies? They would still flood the list. Should I revive https://github.com/owncloud/core/pull/24742 for that? Can someone check if the approach I tried could work?

[2016-06-10 07:33] ChristophWurst commented on #25049
But still show them in the list, right?

[2016-06-10 07:35] ChristophWurst commented on #25049
Another thought: currently session tokens are created in the Sabre auth plugin. Should we move that to the ``UserSession::logClientIn`` method to have it for all APIs? DAV is not the only API clients use.

[2016-06-10 07:39] winpat commented on #23858
@PVince81 Sorry, we're currently in the process of updating ownCloud to 9.x. I'm unable to test your workaround anymore :-/

[2016-06-10 07:42] rullzer commented on #24981
I've been looking into this to see if I can wrap the new sharemanager in the `shareItem` function but there is to much magic going on there. So I can't wrap it a 100%.

But on the other hand it currently already breaks stuff.

@PVince81 should we just wrap it and deprecate it? Or remove it all together?

[2016-06-10 07:48] PVince81 commented on #25050
Yeah, dupe

[2016-06-10 07:48] #25050 closed

[2016-06-10 07:50] PVince81 commented on #25049
From what I remember both desktop and mobile clients are supposed to reuse the session cookie. Because in the past there were issues about older sessions being reused where the encryption keys didn't match.

Maybe some debugging will show whether it's really a session/cookie problem ?

@guruz @davivel can you confirm that the clients are using cookies and reuse the session ?
Or does every sync cyc

[2016-06-10 07:52] dragotin commented on #25049
@PVince81 no, we maintain the session cookie. Remember we had the problems where lots of sessions were created in the past? Also, I thought that sending the cookie minimizes the efforts for credential validation (LDAP...).
Actually the client returns all cookies IIRC.

[2016-06-10 07:56] #23176 closed

[2016-06-10 07:56] guruz commented on #25049
IMHO there must be a bug somewhere in the server?

We use a "cookie jar" to keep the PHP session cookies (and others), so in theory it should re-use a session

HOWEVER if the server creates a new session for some reason it might use that one? Can this be related to the client blindly sending an ```Authorization``` header? And the server not taking into account that the session is already authentic

[2016-06-10 07:59] guruz commented on #25049
@dragotin The mirall in the screenshot above is every 5 minutes. Interesting.. I'd have expected it to be every 30 seconds or so?

The CalDAV in the screenshot does not support sessions/cookies then because it comes in a row?

[2016-06-10 08:00] PVince81 commented on #25033
or have the preview file list in "oc_filecache" for easier listing

[2016-06-10 08:01] guruz commented on #25049
@ChristophWurst Could our token stuff somehow remember to which PHP session it belongs and then give CalDAV always the same PHP session? Hm.
Might be a security fishyness though.

[2016-06-10 08:02] PVince81 commented on #25049
I guess the CalDAV sync Android app probably doesn't support sessions.
But for now I'd say let's focus on finding out why the sessions aren't kept for desktop/mobile clients. I also suspect a server bug.

[2016-06-10 08:10] guruz commented on #25049
The session cookie can apparantly be set by calling https://secure.php.net/manual/en/function.session-name.php before session_start(). Maybe we could say that for tokes, we'd always want it to re-use the same session & session name?

[2016-06-10 08:12] ChristophWurst commented on #25049
For clients that do not support session we should revive/finish PR https://github.com/owncloud/core/pull/24742

[2016-06-10 08:12] karlitschek commented on #25049
@LukasReschke maybe you can help here? Would be great!

[2016-06-10 08:13] ChristophWurst commented on #25049
I will try to debug this once again, maybe there is indeed a bug in the server code.

[2016-06-10 08:20] tflidd commented on #23885
This is still broken, there are not many people with OC 5 but there are:
https://forum.owncloud.org/viewtopic.php?f=38&t=37175

[2016-06-10 08:22] mmattel commented on #25033
Sometimes you need a break and new ideas come :smile:
What about adding a column ``ref_storage`` in oc_filecache?
This would be completely open to other applications which may want/need to use it.
One drawback is, that you need to filter path component (thumbnails) with a text search for getting previews. But to speed up again, prefilter by ref_storage and the users home storage ID (fast) and filt

[2016-06-10 08:29] PVince81 commented on #25033
@mmattel can you expand your explanation ? What would be the value and use of "ref_storage" ?

[2016-06-10 08:41] #25047 closed

[2016-06-10 08:41] #23427 closed

[2016-06-10 08:42] #21889 closed

[2016-06-10 09:18] mmattel commented on #25033
Sure:

- **storage**: this is the ID of the mount point where this file is physically located
- **ref_storage**: this the ID of the storage of the source where the data for the physical file was coming from

**Example:**

**For previews:**
target = function {source}

physical file location = target: location reference = storage
referenced location = source: location reference = ref_storage

oc_sto

[2016-06-10 09:20] PVince81 commented on #25033
Ah, I see. This would be only for the thumbnail files.
If that is needed then I think I'd rather have the "oc_previews" table instead to avoid cluttering the "oc_filecache" table which is already huge on some systems.

[2016-06-10 09:21] SergioBertolinSG opened #25053 "Estimate properly or not show ETA for uploaded files using the web UI."
### Steps to reproduce:
1. Upload a file with a size of several megabytes.
### Expected behaviour:

Time left written in the progress bar decreases per second.
### Actual behaviour

Time left is variable, it can increase a lot, decrease, increase again.

I recommend to remove this text from progress bar or improve the estimation.

cc: @luckydonald

[2016-06-10 09:22] #22914 closed

[2016-06-10 09:26] ChristophWurst commented on #25049
Tested with desktop client and password login. Session seems to be reused while syncing. It's lost though if I exit the client and start it again.
@PVince81 did you restart your client while testing?

[2016-06-10 09:27] mmattel commented on #25033
The idea to have a ref_storage column is independent of where we put it to.

It is more a decision of if we do it for preview generation only, or be more generic and open.
Honestly thinking about this. I like the generic version more and more (whatever the future will bring...)

[2016-06-10 09:28] PVince81 commented on #25049
I didn't for the 3 first sync runs. You can see I had the rc1 and then when I upgraded to final I restarted it.

Will redo a local test against master.

[2016-06-10 09:30] PVince81 commented on #25049
Quick report from my personal server, the same as in the original report.
This morning I got duplicate sessions for the same continuously running desktop client:
![duplicatesessions3](https://cloud.githubusercontent.com/assets/277525/15960123/b004a7ca-2efe-11e6-8cec-b8cd6c2fc8a9.png)

[2016-06-10 09:30] PVince81 commented on #25049
Now it could also be the OCS call to the activity API that is somehow triggering a different session ?

[2016-06-10 09:38] ChristophWurst commented on #25049
well, we create the session token for clients [here](https://github.com/owncloud/core/blob/68c3b23e0421a59d5423357e516ab7f4df9fcfbc/apps/dav/lib/Connector/Sabre/Auth.php#L119), which means if the client connects to OCS first it will not get a new session token. That is bad for performance (the next request is logged out before the login), but that should not cause those duplicate tokens…

[2016-06-10 09:49] PVince81 commented on #25049
I checked the access log of my server, you can find it here: https://owncloud.vincentpetry.net/index.php/s/hzohw6KnzAQbyr9

When checking the session list from the screenshot above, I found that at exactly the same time there's a log entry connecting to the notifications API. Snippet:
[code]

These match with session entries from the following times today: 10:56, 11:01

[2016-06-10 09:57] PVince81 commented on #24909
@rullzer is it possible to create that setup in older versions ? @mmattel mentioned that the problem happens after an upgrade

[2016-06-10 09:58] PVince81 commented on #24909
else it might need some database hacking to recreate this situations, which might have been created by older bugs and carried over when updating.

[2016-06-10 10:04] PVince81 commented on #25049
Hmmm, strange thing. I can't reproduce it locally: have a desktop client running against master and I can see calls to the notifications API, but it doesn't result in more entries.

Next up: try with v9.1.0beta2 which is what I have on my server.

[2016-06-10 10:25] PVince81 commented on #25049
Not directly related to the duplicate sessions, but I observed this on v9.1.0beta2: whenever the desktop client makes a request, it looks like the last token gets revoked and replaced by a new one.
You can see one of the entries change and its password + id field change:
[code]

[2016-06-10 10:26] PVince81 commented on #25049
I don't think the client really logs out as I don't see any call to the logout route. Maybe it's a clue that something weird is happening with the sessions ? Maybe the client is sending the Authorization headers correctly and the server uses that with higher priority than the session cookie ?

[2016-06-10 10:28] PVince81 commented on #25049
Okay, at exactly 12:25 there's a new notification call:
[code]

and now an additional token has appeared in the table:
[code]

This is all still on v9.1.0beta2.

[2016-06-10 10:46] PVince81 commented on #25049
@ChristophWurst I haven't managed to reproduce it **at all** on master, only on v9.1.0beta2 with the same setup. I suspect that maybe you fixed it on master indirectly with one of your PRs ?

[code]

[2016-06-10 10:50] PVince81 commented on #25049
@ChristophWurst it also looks like the id revokation from https://github.com/owncloud/core/issues/25049#issuecomment-225147980 does **not** happen on master, only on v9.1.0beta2.

Can you have a try on v9.1.0beta2 on your setup and then compare with master ? If you are able to reproduce only on v9.1.0beta2 then it will be a second confirmation that the problem went away.

[2016-06-10 11:08] ChristophWurst commented on #25049
Oh, if commit ec929f07f21341ed0e679ca27dc7e3cacd8b1b2d is not part of v9.1.0beta2 that will probably be the reason why sessions are ended prematurely. Let me test again with v9.1.0beta2

[2016-06-10 11:09] PVince81 commented on #24403
PR for user mount cache: https://github.com/owncloud/core/pull/25056

PR for encryption: https://github.com/owncloud/core/pull/25055

[2016-06-10 11:29] ChristophWurst commented on #25049
confirmed, was caused by tokens that have a 'password' that is actually the token :see_no_evil:

fixed on master, closing this now

[2016-06-10 11:29] #25049 closed

[2016-06-10 11:32] rullzer commented on #24909
@PVince81 I tried with upgrade from 9.0 as well... all works here...
@mmattel can you recreat the issue on a docker container?

[2016-06-10 11:52] davivel opened #25057 "SAML token not accepted in OCS routes"
### Steps to reproduce
0. Setup Shibboleth app with "Autoprovision Users", "Shib-Session-ID" as Shibboleth session, and "eppn" as uid, email, and display name.
1. Get a valid Shibb token (I'm working with Android app, see owncloud/android#1710 or owncloud/ios#700)
2. GET /ocs/v2.php/apps/files_sharing/api/v1/shares with fresh token

### Expected behaviour
Response is OK with list of shares

### Ac

[2016-06-10 11:54] davivel commented on #25057
Calling @PVince81 , @rullzer

[2016-06-10 11:57] guruz commented on #25049
@PVince81 so even for the CalDAV stuff (that might not support cookies?) it works? No filled up list?

[2016-06-10 12:00] rullzer commented on #25057
@ChristophWurst I suspect one of your changes...

[2016-06-10 12:07] ChristophWurst commented on #25057
I don't get it. If a 302 occurs even though the IdP session was created, that is not an issue of the server, is it?

[2016-06-10 12:10] xshadow opened #25058 "[OC 9.0.2.2] Infinite loop in admin backend due to server setup / integrity check"
### Expected behaviour
Admin backup should work without any problems if lib/imap.php is customized. Only report that the integrity check failed.

### Actual behaviour
The admin page is unuseable because it's reloaded every three seconds.

Server setup and security check function is called again and again.

In the logs there could be found:
"{core} User backend OC_User_IMAP already initialized."

#

[2016-06-10 12:11] DeepDiver1975 commented on #25057
the 302 is returned to the client by the mod_shib module within apache - the ownCloud codebase is not executed.
This looks more like an issue with the session being properly maintained in the clients.

@davivel

What is that supposed to mean? We use sessions to auth against the shibboleth server

[2016-06-10 12:14] PVince81 commented on #25058
@xshadow try with this: https://github.com/owncloud/core/pull/25035

It will add a delay before reloading.

[2016-06-10 12:20] davivel commented on #25057
Just means log in the app, in our case.

We are using the same cookie for accessing WebDAV entry points and OCS entry points. Should that be a problem?

@jesmrec , do you know if desktop client is having problems also?

[2016-06-10 12:20] PVince81 opened #25059 "Consolidate device token with session"
When using clients like cadaver, no cookies are used. So even with a device token, it will generate a new authentication every time.

One idea would be to find a way to make the same device token reuse the same session.
Not sure about security implications though.

As discussedon IRC @ChristophWurst @DeepDiver1975 @guruz @rullzer

[2016-06-10 12:20] PVince81 commented on #25049
@guruz I didn't try CalDAV sync on my test server.
I tried with cadaver on master and a device token and it does create a separate entry for every operation.

That's the part for maybe consolidating the sessions with the token would be helpful. I raised it here to discuss: https://github.com/owncloud/core/issues/25059

[2016-06-10 12:22] ChristophWurst commented on #25059
How about something like https://github.com/owncloud/core/pull/24742?

[2016-06-10 12:25] PVince81 commented on #25059
Yeah, that would make sense because the non-cookies clients cannot be kicked out anyway since they will re-auth. They can still be kicked out by revoking the device token instead of the session token.

[2016-06-10 12:26] guruz commented on #25059
@PVince81 You mean session ID not token right?

[2016-06-10 12:26] PVince81 commented on #25059
yeah, session ID (which is internally mapped by a session token I believe)

[2016-06-10 12:27] PVince81 commented on #25059
Some arguments against the consolidation: some people might use the device token for multiple apps on the same device. For example on an Android phone: use the same device token for CalDAV sync and also for the official mobile client.

[2016-06-10 12:29] jesmrec commented on #25057
Opening the "Share with ownCloud" in desktop client does not expire the session.

[2016-06-10 12:30] xshadow commented on #25058
There is still an infinite loop, but the imap exception above is gone.

Owncloud Log:
[code]

[code]

[2016-06-10 12:31] davivel commented on #25057
And sharing works fine?

[2016-06-10 12:33] PVince81 commented on #24868
Reopening as the linked PR did not fix the issue, it just made it inconsistent.

[2016-06-10 12:34] jesmrec commented on #25057
checking it

[2016-06-10 12:35] PVince81 commented on #25058
The PR doesn't fix the exception, it only adds a delay before the page reload.

Where are you seeing an infinite loop ?

[2016-06-10 12:43] xshadow commented on #25058
The '/settings/admin' page is reloaded every five seconds and the Security and setup warnings test runs again

[2016-06-10 12:48] xshadow commented on #25058
But now there is something in the apache error.log

"[Fri Jun 10 14:46:16.401646 2016] [authz_core:error] [pid 24596:tid 140336152102656] [client 192.168.2.4:40017] AH01630: client denied by server configuration: /var/www/cloud.foobar.com/www/data/.ocdata"

[2016-06-10 12:50] PVince81 commented on #25058
Do you have any other setup warnings ? Usually the page reload only happens if one of the ajax calls is having trouble connecting to the server (redirects or insecure connections).

You could check the network tab

[2016-06-10 12:52] PVince81 commented on #25059
Another idea: if a client only ever sent a single request with a single session/auth, don't show this one in the UI. This would usually mean that the client doesn't support sessions.
A client that does would send at least 2 requests with the same session/cookie.

[2016-06-10 12:53] PVince81 commented on #25059
also: have those single-request-session ones expire more quickly then the ones with more than one request ?

[2016-06-10 12:53] mmattel commented on #24909
Will check, but takes time. Will be off about 1 month...

[2016-06-10 12:53] georgehrke commented on #23578
@DeepDiver1975 Why the `needs info` label? The email thunderbird wants the server to use is in the `ORGANIZER` property of the event.

[2016-06-10 12:56] ChristophWurst commented on #25059
Isn't that exactly what the cookie magic in https://github.com/owncloud/core/pull/24742 does?

I wouldn't even create tokens for those connections. Only if the cookie is set (second request if client supports them) we should create the session token.

However, https://github.com/owncloud/core/pull/24742#issuecomment-225173484 could be a solution.

[2016-06-10 12:56] xshadow commented on #25058
In the backend there is also:

[code]

But that seems to  be a false positiv, because the apache log message:

[code]

is generated due to this .htaccess I assume.

[2016-06-10 12:59] PVince81 commented on #25058
@xshadow can you check the network console in the admin page. There is a call to ".ocdata" and check what the response code is. The warning would show if the response is neither 403, 301 or 307. Maybe the response was something different ?

[2016-06-10 12:59] icewind1991 commented on #24309
@PVince81 is this closed with #25035 ?

[2016-06-10 12:59] PVince81 commented on #25058
this is the code in question: https://github.com/owncloud/core/blob/v9.0.2/core/js/setupchecks.js#L200

[2016-06-10 13:00] PVince81 commented on #24309
Kind of, yes. At least it gives admin a better chance of seeing warnings and debugging.

However it was reported again here https://github.com/owncloud/core/issues/25058#issuecomment-225174763 maybe with more chance to find out about the core issue.

[2016-06-10 13:07] xshadow commented on #25058
The loop occured and warn message  after an upgrade from 9.0.0 --> 9.0.1

Response Code is 302

[2016-06-10 13:07] guruz commented on #25053
FYI @ckamm

[2016-06-10 13:10] PVince81 commented on #25058
Hmmm okay... so that's also some kind of redirect.
What's in the "Location" header of that response ?

[2016-06-10 13:14] jesmrec commented on #25057
The desktop client does not seem to work properly. The first check i performed, the share view was correctly displayed and connection keeps on but no sharees were shown when are searched, but a spinner. Finally, the session expires and it is not possible to reconnect again. So, the problem is also happening in desktop client. The difference with mobile clients is that the session does not expire a

[2016-06-10 13:15] Zerlono commented on #23130
While upgrading to owncloud 9 php7 was also upgrade from php5 at the same time on my server. This causes the same problem as described above and i could solve it by uninstalling php5 and all its modules and installing all needen php7 modules like php-mysql php-pgsql php-zip and a lot more.

[2016-06-10 13:18] davivel commented on #25057
Probably the server is not accepting the token equally, but desktop client is not deciding to report an error.

So, if clients are handling sessions incorrectly, we need to consider why the three clients do so with different implementations. And why they all work fine with server 9.0.2.

Any relevant change in session handling in the server side we need to consider between 9.0 and 9.1?

[2016-06-10 13:19] DeepDiver1975 commented on #25057
all the plugable auth stuff touches the session handling

@ChristophWurst this might also be caused by a session which we now close to early compared to previous versions

[2016-06-10 13:22] ChristophWurst commented on #25057
@DeepDiver1975 I think I don't get the picture. How would session handling in ownCloud influence the session handling of the IdP or mod_shib?

[2016-06-10 13:28] DeepDiver1975 commented on #25057
there are two(at least) session cookies which need to come along from the client to the server.
one for the idp/mod_shib-fu and the other one for owncloud (further cookies might be related to the load balancer and so one)
if - due to whatever reason - the session in owncloud is closed the whole connection is broken.
I have seen this behavior which gave me some debugging nightmare some time back.

[2016-06-10 13:33] ChristophWurst commented on #25057
Hm, but if we - for whatever reason - close/kill the owncloud cookie/session, the client should still connect to ownCloud instead of being redirected right? To me it sounds impossible for ownCloud to kill the idp session.

[2016-06-10 13:34] ChristophWurst commented on #25057
what does that mean? What happens then? Is the client redirected?

[2016-06-10 13:34] DeepDiver1975 commented on #25057
I know - this is some strange brain kung-fu - we need to debug this

[2016-06-10 13:58] rullzer commented on #24909
@PVince81 I even tried the manual DB thing... all still works over here... So no idea how to debug then...

[2016-06-10 14:35] oparoz commented on #13158
@derekblankmccoy - Here is [the patch](https://cloud.interfasys.ch/index.php/s/tn7fs9C5hjixtUU). Use `-p0`

[2016-06-10 14:39] PVince81 commented on #25053
Or at least remove the message "Any time soon..." which is likely to appear when the upload is short.

[2016-06-10 14:49] #24997 closed

[2016-06-10 15:02] #22978 closed

[2016-06-10 15:38] PVince81 commented on #24494
PR here https://github.com/owncloud/core/pull/25064

[2016-06-10 15:55] PVince81 commented on #22462
This was introduced in OC 8.0.0 apparently through https://github.com/owncloud/core/commit/aa3ad898a93388dcdea097601c18cc2759283742

Because "folders don't really exist" https://github.com/owncloud/core/commit/aa3ad898a93388dcdea097601c18cc2759283742#diff-440d6acd86f4ca1cb35ebcdaaaed8e54R302 so the mtime is always `time()` with an offset, strangely appearing as "3 hours ago" for me.

@butonic is t

[2016-06-10 15:55] PVince81 commented on #24320
@icewind1991 any progress on the investigation of this strange side effect ?

[2016-06-10 15:57] PVince81 commented on #24164
Not sure what to do here @felixboehm.
I don't have enough understanding of LDAP and don't know anything about AD to be able to help.

Maybe @owncloud/ldap have an idea ?

[2016-06-10 15:59] PVince81 commented on #21563
@mfleonhardt are you still seeing this issue on 8.1.9 ?

So far it still looks like an environment issue and there isn't enough info to be able to reproduce this.

[2016-06-10 16:01] PVince81 commented on #24330
@SergioBertolinSG I need more detailed steps that look like https://github.com/owncloud/core/issues/24330#issuecomment-215418209
Also make sure to be clear which server is what, and what is mounted where (use real names for test folders in your steps)

[2016-06-10 16:28] Reemster commented on #22964
What was the error? because i have the same problem...

[2016-06-10 16:31] xshadow commented on #25058
Response Code 302 - Found

[code]
But should be https and it gets blocked due to mixed content.

[code]

[2016-06-10 16:40] oparoz opened #25065 "OC\Share20\Share could not be converted to string"
### Steps to reproduce
1. `OCP\Share::getShareByToken($token, false);`

### Expected behaviour

I should be getting a "linkitem"

### Actual behaviour

An exception is raised

### Server configuration
**Operating system**:

**Web server:**

**Database:**

**PHP version:** 7.0.7

**ownCloud version:** master

### Logs

[code]

[2016-06-10 16:41] oparoz commented on #24981
I've opened a new bug for that here: https://github.com/owncloud/core/issues/25065

[2016-06-10 17:19] n3m3s1s opened #25066 "Webdav + Microsoft Office is producing errors"
### Steps to reproduce
1. Setup Owncloud from Repository
2. Use Nginx (just deactivated apache and setup nginx)
3. Enable Encryption Module
4. Use Owncloud clients on OS X
5. Use Microsoft Office in it

### Expected behavior
Normal Sync

### Actual behavior
I get a lot of errors. Though everyone is using the same system and the same client, just two clients produce a lot of errors. I cannot reprod

[2016-06-10 17:28] rullzer commented on #25065
What is the actual code you try to call? Because this looks like you want to pass a new share into the old sharing code.

[2016-06-10 17:44] davivel commented on #25049
Sorry, I just saw this call :$

The Android client does NOT reuse session cookies, unless Shibboleth is the auth method.

We have code in place to use session for any auth method, but never got to enable it because were worried about active sessions not being shut down when the password was changed.

[2016-06-10 18:33] oparoz commented on #25065
And that's what I don't understand. I'm just retrieving a share via `OCP\Share::getShareByToken`. It has nothing to do with Share 2.0

https://github.com/owncloud/gallery/blob/0f4df90a064bee39d7330cd04fcf906ab23417fb/tests/integration/GalleryIntegrationTest.php#L128

[2016-06-10 19:33] osamak commented on #20017
I second this request.  With shared hosting, setting headers through web server may not be an option.  Setting these headers through `config.php` or the admin interface will be more practical.

[2016-06-10 19:43] jnweiger commented on #24757
other possible solution: If written as a patch, the extra file can be referenced via debian.series, which also should be portable.

[2016-06-10 19:45] oparoz commented on #25065
False alarm, I didn't pay attention to the fact that creating a share doesn't return a token any more with Share 2.0

[2016-06-10 19:45] #25065 closed

[2016-06-10 19:46] oparoz commented on #24981
That was my fault, creating a share doesn't return a token any more.

[2016-06-10 21:07] aaronouthier commented on #24426
Hello, I believe I am having this issue on a fresh install of Owncloud 9 Ubuntu 16.04, using the OpenSUSE repos. The underlaying cause of this, however, appears to be the reverse - I have NOT moved or relocated my install - it is at http://localhost/owncloud . Seeing this thread, I checked my /var/www/owncloud/.htaccess , and discovered the RewriteBase is set to '/' by default, which doesn't match

[2016-06-10 23:14] oparoz commented on #24909
I'm having the same symptoms, but without using federated sharing.

As soon as `Test\TestCase::loginAsUser` is called, I get:

[code]

The user manager in the GUI is unreachable.

Code looks like this

[code]

And is available here:
https://github.com/owncloud/gallery/blob/master/tests/_support/Helper/DataSetup.php#L232

[2016-06-11 10:13] RealRancor commented on #23804
Duplicate of https://github.com/owncloud/core/issues/22370

[2016-06-11 10:21] rullzer commented on #25065
@oparoz yeah it returns a share object. I would suggest btw that you use the sharemanager for all operations btw.

[2016-06-11 11:48] xMartin commented on #15552
Just experienced this issue myself. Thanks for the report.

It would be such a great feature to just be able to send people a link to easily upload pictures from a mobile phone. Unfortunately just not possible currently.

[2016-06-11 12:20] liquidat commented on #24482
I changed the setup, the issue is no longer relevant.

[2016-06-11 12:20] #24482 closed

[2016-06-11 12:21] oparoz commented on #25065
@rullzer - That's what I ended up doing as it was on the cards anyway

[2016-06-11 15:20] mmccarn commented on #24810
In case this helps...

I modified OC/apps/user_external/lib/imap.php to add new imap users to a group.

In 'Users', the 'Everyone' group shows all user accounts with the wrong count, but the imap group shows an accurate count of imap users.
![userst](http://snag.gy/vWSz8u.jpg)

Starting around line 45 in OC/apps/user_external/lib/imap.php:

    if($mbox !== FALSE) {
        imap_close($mbox);

[2016-06-11 19:07] chrsch opened #25070 "Constraint violation insert into filecache / upload many small files"
Hi all,

I've been struggling with this issue for days now. This is not exactly a new topic but I have worked through all suggestions and tickets I was able to find on github and elsewhere without success.

Tickets probably relates:
https://github.com/owncloud/core/issues/18502 // Suggestion is to use filesystem_check_changes => 0; in config.php --> No difference for me whether 1 or 2
https://gith

[2016-06-11 22:44] tflidd commented on #25066
I would use a real database https://doc.owncloud.org/server/9.0/admin_manual/installation/installation_wizard.html#database-choice, two clients and parallel uploads could already be too much for sqlite.

I wouldn't turn on the encryption app because you are not using external storage (shouldn't be related to your problem): https://doc.owncloud.org/server/9.0/admin_manual/configuration_files/encryp

[2016-06-11 22:54] tflidd commented on #25070
Just a small reminder of this topic I opened: https://github.com/owncloud/core/issues/20967
In the end we were testing with about 10000 files, they were uploading without problems it just took some time. But I didn't see such problems (even on OC 9.0beta1). I will see if I can find this vserver-image and retest on OC 9.0.2.

There is a similar report (https://github.com/owncloud/core/issues/25066)

[2016-06-12 01:02] alichakery commented on #24761
Ok, I have to say that LiteSpeed support is just great, TBH I have not seen any support as good as LiteSpeed sofar ...

Although this issue was not related to the web server but they helped us to find the problem.

This was related to LVE Manager of CloudLinux that "I/O limit" should has been set to unlimited.

I have to say that LiteSpeed is 100% compatible with OwnCloud and I would really recomm

[2016-06-12 08:04] #24761 closed

[2016-06-12 08:59] psdrndm opened #25071 "Not able to lookup user on AD server2 and AD server 3 when share a file / folder"
### Steps to reproduce
1. Configure ownCloud 8.2.5 to talk with a Active Directory Server1
2. Add another Active Directory Server2 and Active Directory server3 on ADMIN > LDAP configuration
3. go to Admin > Users, able to lookup all user on Active Directory server 1, Active Directory server2, Active Directory server3
4. go to files > share file/folder to user on Active Directory Server1 is success

[2016-06-12 11:38] alichakery commented on #24761
Ok and to make it more complete regarding uploading files (larger than 513MB) , additional setting is needed to be changed in LiteSpeed Control Panel.

This is where this setting is located :
LiteSpeed ControlPanel  -> Server -> Tuning -> Max Request Body Size (bytes): 500M

This is an additional security option to prevent DoS attacks and you should change it to whatever value which you need in ad

[2016-06-12 12:34] emmenlau opened #25072 "Ubuntu 16.04 packages of 8.2 depend on (unavailable) php5?"
### Steps to reproduce
1. `echo 'deb http://download.owncloud.org/download/repositories/8.2/Ubuntu_16.04/ /'| sudo tee /etc/apt/sources.list.d/owncloud.list`
2. `sudo apt-get update`
3. `sudo apt-get install --force-yes owncloud=8.2.5-1.1 owncloud-server=8.2.5-1.1`

### Expected behaviour
owncloud 8.2 should get installed.

### Actual behaviour
owncloud 8.2 can not be installed.
[code]

### Server

[2016-06-12 15:43] rsa4046 commented on #24218
I have near identical results as @GreatEmerald:
    Technical information
	=====================
	The following list covers which files have failed the integrity check. Please read
	the previous linked documentation to learn more about the errors and how to fix
	them.

	Results
	=======
	- core
		- EXTRA_FILE
			- .webapp

	Raw output
	==========
	Array
	(
	    [core] => Array
	        (

[2016-06-12 18:58] RealRancor commented on #24218
@rsa4046 Well, this issue is still open so its normal that you're getting the same result.

To exclude the .webapp folder anyone is welcome to create a Pull Request with the .webapp folder added to this file:

https://github.com/owncloud/core/blob/v9.0.2/lib/private/integritycheck/iterator/excludefilebynamefilteriterator.php#L41

[2016-06-13 01:00] stormyweather1324 commented on #24978
Hey guys, thanks for all the input. Finally got a chance to check some stuff out, and it turns out that somehow my user quota on the users page got set to 0 Bytes! Thanks to tmaex for suggesting that because I never would've thought to check that because I haven't messed with any settings on the users page yet! So far there is only 1 user (me, the admin). I had gone to the page once, but as I said

[2016-06-13 06:46] rullzer commented on #24868
It made it consistent :wink:
But fair enough.

[2016-06-13 06:46] rullzer commented on #24868
So now the big questions. Should edit permissions also allow deletion of files?

[2016-06-13 06:49] rperezb commented on #25057
@ChristophWurst do you have an enviroment for you to reproduce this? ping us if you need it

[2016-06-13 07:53] QuentinC commented on #23756
Hello,

I have a similar problem, that may be linked to this one.
At first, I thought it was a problem with the Android app (see https://github.com/owncloud/android/issues/1674 ) but it seems to be a problem with the WebDAV front-end when using user credentials to access external storage.

I've tried to understand what could be the problem. It seems that some WebDAV clients cannot use cookies, and

[2016-06-13 08:35] individual-it commented on #18947
At the moment I have no chance to find time to explore this.
I will close the issue and if I ever stumble over it again I can reopen it or open a new one

[2016-06-13 08:35] #18947 closed

[2016-06-13 08:45] Kawohl commented on #25072
@emmenlau ubuntu 16.04 doesn't provide php5 it uses php7

@jnweiger we need to use php7 instead of php5 dependencies.

[2016-06-13 09:03] emmenlau commented on #25072
It would be awesome if you could make a php7 release of 8.2 for Ubuntu 16.04. Highly appreciated!
Note that mysql was also updated by a minor version.

[2016-06-13 09:17] nickvergessen commented on #24810
Well for groups we count the user-group assignments, but for "everyone" we iterate over the the user backends and ask for the number of users, but IMAP does not support that, iirc.

[2016-06-13 09:47] georgehrke commented on #23345
@DeepDiver1975 One note about https://github.com/owncloud/core/blob/master/apps/dav/lib/CardDAV/AddressBookImpl.php

Right now you assume that the URI is always $UID.vcf, but this is only optional behavior and not required.

[2016-06-13 09:52] nickvergessen commented on #24978
Closing as per above

[2016-06-13 09:52] #24978 closed

[2016-06-13 09:59] nickvergessen commented on #25066
Yeah the lock and the database error should be solvable by switching to a different DB.

[2016-06-13 10:01] nickvergessen commented on #25066
For the bad signature issue see https://github.com/owncloud/core/issues/24620

[2016-06-13 10:03] nickvergessen commented on #25066
I think we can close this?

[2016-06-13 10:06] n3m3s1s commented on #25066
Ok so that is a Bug to be fixed? I'll then just wait for the fix.
I just migrated to the new Database and we're now producing much less errors. The only one that just popped up is this:
Error	PHP	Undefined index: path at /var/www/owncloud/apps/files_sharing/lib/cache.php#83

Wich has been reported here: #24919
Since there seems to be no fix so far, we can close this thread.
Thanks again

[2016-06-13 10:06] nickvergessen commented on #25070
Which tables are affected, only filecache?

[2016-06-13 10:15] #25066 closed

[2016-06-13 10:18] TrurlMcByte commented on #23634
Getting same errors when use **http** without SSL at all. It seems that somewhere lost protocol type.

[2016-06-13 10:19] #24649 closed

[2016-06-13 11:24] chrsch commented on #25070
@nickvergessen Yes only filecache table is affected. No other errors.

[2016-06-13 11:32] icewind1991 commented on #24909
@oparoz can you try https://github.com/owncloud/core/pull/25076

[2016-06-13 11:44] oparoz commented on #24909
Thanks @icewind1991 - That fixes the problem for me.
Looking at the patch, I'm still a bit worried, this seems to help select the proper storage for caching, but the impression I got when tracing the problem was that the cache was not properly cleared when a user was removed and when creating the user a 2nd time, he would get shared storage from a previous life which doesn't exist yet.
Does that m

[2016-06-13 11:46] icewind1991 commented on #24909
https://github.com/owncloud/core/pull/25077 should at least prevent oc from dying with the original issue (cc @mmattel)

[2016-06-13 11:48] icewind1991 commented on #24909
@oparoz: hooks should clean up the user mount cache when a user is deleted, maybe these hooks aren't setup in the tests?

[2016-06-13 11:58] oparoz commented on #24909
@icewind1991 - That's very possible, but I'm calling `$this->userManager->get($user)->delete();` which fires events which should be captured by the filesystem class set up via the standard TestCase class.

[2016-06-13 12:14] DeepDiver1975 commented on #25071
@psdrndm maybe a caching issue - can you rety without redis being connected?

[2016-06-13 12:20] JonasDralle commented on #24485
why don't you decrypt everything instead of losing it? It's not like i am adding or removing remote servers all day

[2016-06-13 12:30] DeepDiver1975 commented on #25057
Let me see what I can do ....

[2016-06-13 12:31] SergioBertolinSG opened #25078 "Setting up two LDAP servers at the same time breaks the server."
### Steps to reproduce:

Having encryption enabled do:

1. Enable ldap app.
2. Set up two ldap servers correctly (green light for both configurations) .
3. Go to users page.

### Expected behaviour:
You can see users from both ldap servers.

### Actual behaviour
Error 500.

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.

[2016-06-13 12:33] jnweiger commented on #25072
@emmenlau please try instead:
[code]
This package installs the complete owncloud code, but without any dependencies.
So you need to look after the required php7 deps yourself. Would that work for you?

[2016-06-13 12:35] DeepDiver1975 commented on #25078
@SergioBertolinSG please replace user with User in line 75 - https://github.com/owncloud/core/blob/master/apps/user_ldap/lib/Proxy.php#L75

[2016-06-13 12:39] SergioBertolinSG commented on #25078
That has fixed the problem. 👍

[2016-06-13 12:39] DeepDiver1975 commented on #24485
Decrypting all files for all users can take forever - we might run into timeouts via the web which is bad.
Furthermore some external storages you have configured might be temporarily not available which will possible result is corruption as well.

[2016-06-13 12:39] DeepDiver1975 commented on #25078
I'll submit a PR ....

[2016-06-13 13:00] emmenlau commented on #25072
Perfect, this solves the issue for me! I did:
[code]
and could upgrade owncloud from 8.1 to 8.2 without problems. Then it was easy to install 9.0:
[code]
and finally upgrade the database to 9.0. Thanks!

[2016-06-13 13:00] #25072 closed

[2016-06-13 13:16] DeepDiver1975 commented on #25057
No need to debug with any mobile or desktop client - error is visible in the browser already

![bildschirmfoto von 2016-06-13 15-15-20](https://cloud.githubusercontent.com/assets/1005065/16008766/c8185b40-3179-11e6-8911-121246fae69c.png)

[2016-06-13 13:46] PVince81 commented on #25071
@owncloud/ldap

[2016-06-13 13:47] PVince81 commented on #5383
@ChristophWurst mind linking to the ticket/PR with the workaround we talked about ?

[2016-06-13 14:36] PVince81 commented on #24507
Just retried on stable8.2 and the problem still exists.

@icewind1991 please have a look, see steps here https://github.com/owncloud/core/issues/24507#issuecomment-219753141

[2016-06-13 14:39] PVince81 commented on #23512
@jnweiger and update ? Is there anything we can do to fix this ?

[2016-06-13 14:41] ChristophWurst commented on #24876
probably fixed by https://github.com/owncloud/core/pull/24973. Please re-open if the problem still exists.

[2016-06-13 14:41] #24876 closed

[2016-06-13 14:41] PVince81 commented on #22182
Not sure how to move forward with this @owncloud/ldap ?

[2016-06-13 15:18] mfleonhardt commented on #21563
I've moved on to 9.0.2.  When I looked at this in a dev install on 8.1/8.2, I couldn't get the error to reproduce either (CentOS).  Environmental causes are a good guess, but no idea what difference in the environment are responsible.

9.0.2 in the same production environment behaves as expected.

[2016-06-13 15:20] PVince81 commented on #21563
This is something I've been unable to reproduce, so I'm going to close this now as env issue.

If other people find the same issue and are able to provide env details, then we might be able to correlate similarities and find whether it's a bug or env issue.

Closing for now. Thanks for the feedback !

[2016-06-13 15:20] #21563 closed

[2016-06-13 15:25] devuan2 commented on #23864
Looks like this issue is limited to the calendar app only. Sharing Docs or Pics displays the correct (Full Name) column from the users page. I've updated to version 1.2.2 of the calendar app and this is still broken.

I've tried poking around in owncloud/apps/calendar/templates/part.calendarlist.item.php but don't really know what I'm looking for to display the correct column. line 109 references

[2016-06-13 15:43] FreshMarv commented on #23765
I accedently deleted the original .user.ini - how can I restore it?

[2016-06-13 15:47] RealRancor commented on #23765
@FreshMarv From the download packages at https://owncloud.org/changelog

For further support questions please use the forums or the users mailinglist (https://owncloud.org/support/)

[2016-06-13 16:58] chrsch commented on #25070
@DeepDiver1975 Sorry for being unspecific at this point. The error is logged in the ownCloud client. I can provide a client log if this is of any help.

Basically it is the error shown in the attached screenshot happening from time to time for random files. I just reproduced this by syncing a node js project to an empty folder in the cloud.

![2016-06-13 18_50_03-info-center](https://cloud.githubu

[2016-06-13 17:29] rullzer commented on #23971
This should be fixed in 9.1 and 9.0.3
Please upgrade once they are released and reopen if not...

[2016-06-13 17:29] #23971 closed

[2016-06-13 17:32] #25078 closed

[2016-06-13 17:53] rullzer commented on #23620
I think this is fixed now...

[2016-06-13 18:20] rullzer commented on #14370
This is fixed in 9.1 I think... @PVince81 could you verify?

[2016-06-13 19:41] lifeboy opened #25085 "External Storage - Google Drive - some files stay in "pending" state"
### Steps to reproduce
1. Connect external storage to google drive
2. Connect desktop client
3. Sync Google Drive directory
### Expected behaviour

All files in the google drive directory should by synced to the desktop
### Actual behaviour

Some files are not synced.  On inspection in the web interface, the files that are not synced are marked "pending".  I am running "/usr/bin/php /var/www/owncl

[2016-06-13 21:28] DeepDiver1975 commented on #25057
As far as I can tell the ocs code is trying to getToken($sessionId) - but there was never any call to generate the token. - As of 9.1beta1 ...

[2016-06-13 21:33] DeepDiver1975 commented on #25057
With master generateToken is called within loginWithApache and therfore works.

@davivel @jesmrec please retest on core master or 9.1beta2 which should hold the fix already as well

[2016-06-13 21:53] oparoz commented on #23620
@rullzer Did you patch stable9?

[2016-06-13 21:54] oparoz commented on #24937
Just to confirm that the restored hooks work as expected

[2016-06-13 21:58] oparoz commented on #23620
I would only argue that on 9.1 there is a consistency issue. It doesn't make sense to build some paths with a slash while others don't have it. I'm assuming that because it's now working, the extra slash can be removed.

[2016-06-14 06:06] ChristophWurst commented on #25057
Thanks @DeepDiver1975. Then https://github.com/owncloud/core/pull/24912 was probably the fix

[2016-06-14 06:20] rullzer commented on #23620
No I did not patch stable9... are we just missing a `/` somewhere there?

[2016-06-14 06:27] rullzer commented on #20771
This will probabaly be fixed if we have https://github.com/owncloud/core/pull/24886 in... since then they only get instantiated when needed...

[2016-06-14 06:36] vasyugan opened #25086 "Cron fails: "another instance of cron.php is still running", yet no lock file"
### Steps to reproduce
 If I knew how a third party can reproduce the issue, I would probably know what causes it, which I don't.

Yet this is the local setup:

Apache running in an LXC container with Ubuntu Trusty with apache at package version 2.4.7-1ubuntu4.9, It is using a suexec ftp setup, where for each user, it is running in a chroot under their respective UID.

The following apache package

[2016-06-14 06:52] PVince81 commented on #14370
The message does not appear any more on master / 9.1

[2016-06-14 06:52] #14370 closed

[2016-06-14 06:53] vasyugan commented on #25086
Found a stale lock file in /tmp which I then removed and it continued to work. /tmp is outside of the reach of normal web server users so this seems like a very bad choice.

[2016-06-14 06:54] PVince81 commented on #25085
Try adding `-vvvvv` to the occ files:scan command and check whether it's properly exploring all folders. I suspect that there might be an error happening in the middle that makes it abort/skip scanning.

[2016-06-14 07:00] PVince81 commented on #10474
For the question that popped up on IRC regarding the difference between ownCloud locking and Webdav locking. ownCloud locking is automatically used when file operation are used with the ownCloud file APIs (aka node API). Not all apps or code paths are using Webdav so the locking had to be on another level. ownCloud locking does not only lock a file but also the parent folder, for example to preven

[2016-06-14 07:06] PVince81 opened #25087 "OCS integration tests fail due to env issue"
So far I've observed two different cases.

1) behat binary not found

PR: https://github.com/owncloud/core/pull/25084
From https://ci.owncloud.org/job/ocs-api-integration-tests-ci/11555/console
[code]

Slave name: swarm-oc-fd-j4-87fe5b0f (SLAVE swarm)

2) Apparent locale issue with group names with special characters:

PR: https://github.com/owncloud/core/pull/25076
https://ci.owncloud.org/job/ocs

[2016-06-14 07:07] PVince81 commented on #25087
For 2) the slave name was swarm-ber-j5-37203c95

[2016-06-14 07:19] DeepDiver1975 commented on #25087
this happens because composer has network issues in downloading behat

[2016-06-14 07:23] DeepDiver1975 commented on #25087
11:52:12   [Composer\Downloader\TransportException]
11:52:12   The "https://packagist.org/packages.json" file could not be downloaded: failed to open stream: Connection timed out
11:52:12