[2015-04-28 10:06] conxdev commented on #15902
@PVince81 not a 404, but a multi status response with Guzzle and the one I have pasted using sabre davclient.

[2015-04-28 10:10] PVince81 commented on #15902
Are you sure this is the complete response ? It looks like it's only the list of attributes for a specific entry (maybe the root).

Can you try with curl ?

For example:
`curl -X PROPFIND http://root:admin@localhost/owncloud80/remote.php/webdav/ `

gives me:
[code]

In your case I guess you'd only see the root entry without children ?

Maybe try explicitly passing the "Depth: 1" header to get the

[2015-04-28 10:25] PVince81 commented on #11804
Assigning @icewind1991 as discussed. Feel free to ping me any time if you want to discuss stuff :smile:

[2015-04-28 10:27] conxdev commented on #15902
@PVince81 It working with curl from the terminal, I got this as root, https://bpaste.net/show/d6e584debfe3
On changing the depth to 1 from in the code: https://bpaste.net/show/67fa8452f6cf got the same result,
https://bpaste.net/show/353ffb4ff4c9

[2015-04-28 10:30] PVince81 opened #15909 "Log entry file source not found in log when uploading to inner reshares"
Follow up from https://github.com/owncloud/core/pull/14764#issuecomment-96633875.

### Steps
1. As "root" create two users "user1" and "user2"
2. Create folder "test"
3. Share "test" with "user1"
4. Login as "user1"
5. Create a subfolder "test/inside"
6. Share "inside" with "user2"
7. Login as "user2"
8. Upload a picture into "inside"

Getting this:
[code]

Stack:
[code]

Can also be reproduced by

[2015-04-28 10:34] PVince81 opened #15910 "Lazy propagate etags to all users except current one"
This PR https://github.com/owncloud/core/pull/14764 introduces lazy etag propagation.
But in some cases it still updates the etag of other users who are not the current one (ex: owner).

To reduce the number of cache updates, we should make sure that the etag propagation is only done for the currently logged in user (the one who performed an action), and lazily do it for other users.

This came to

[2015-04-28 10:35] PVince81 commented on #15910
There is a test plan here: https://github.com/owncloud/core/pull/14764#issuecomment-91272178
If you monitor the DB changes, you can notice that in some cases the etag is changed directly (non-lazily) for more than a user.

[2015-04-28 10:39] PVince81 commented on #15902
Yes, so you were probably missing "Depth: 1" then.
Works as expected.

[2015-04-28 10:41] PVince81 commented on #15902
Wait, you said the same result, I thought the same result as curl.
Reopening. But it's very unlikely to be an ownCloud bug.

Have you tried connecting to a regular WebDAV server (ex: Apache WebDAV or lighttp WebDAV) ?

[2015-04-28 10:43] cdamken commented on #12035
@craigpg yes, @MorrisJobke @felixboehm and @butonic are trying to fix it.

[2015-04-28 11:03] schiesbn commented on #15825
@th3fallen sorry, just saw now that Thomas mentioned you. Hope you didn't already start working on it... My proposed fix is here: https://github.com/owncloud/core/pull/15911

[2015-04-28 11:15] fira opened #15912 "Owncloud Logo theming documentation is misleading"
According to Owncloud doc, all you have to do to get the logo changed is put it into themes/[name]/core/img/ as logo.svg (and variants).
After hours of not managing to get it to work, i found a static reference to the logo file in the CSS stylesheets of the core files (core/css/header.css)
Effectively, you apparently need to also override .logo in this stylesheet for it to work, and this isn't wri

[2015-04-28 11:16] LukasReschke commented on #15912
Please file documentation issues at https://github.com/owncloud/documentation

[2015-04-28 11:16] #15912 closed

[2015-04-28 11:35] karlitschek commented on #11804
same here. this has very high priority. let me know if there are any question.

[2015-04-28 11:48] OwncloudProblem commented on #15884
Hallo,
Ich hätte noch eine Frage:
Gibt es eine Einstellung, die besagt, da Standardbenutzer keine Ordner löschen dürfen?
Ein Ordner, welcher vom  Super-User erstellt worden ist und an einen Standardbenutzer freigegeben wird, kann auch von dem Standardbenutzer gelöscht werden... Kann man das irgendwie abschalten?

[2015-04-28 11:51] karlitschek commented on #15884
bitte stellen sie fragen zur nutzung von owncloud im owncloud forum. das hier ist der bugtracker in dem es fehler mit entwicklern diskutiert werden. vielen dank für ihr verständnis.

[2015-04-28 11:51] #15884 closed

[2015-04-28 11:53] LukasReschke commented on #15297
Activity app: https://github.com/owncloud/activity/issues/287

[2015-04-28 12:31] LukasReschke opened #15913 "Public sharing broken on master"
@icewind1991 While fixing the namespace in https://github.com/owncloud/core/blob/557b4a2cb0ae0367e5facb1e4be136de07ab8cff/apps/files_sharing/appinfo/application.php you broke public sharing in core completely, please take a look at https://github.com/owncloud/core/blob/557b4a2cb0ae0367e5facb1e4be136de07ab8cff/core/routes.php#L111-L126

Regression by the ETag PR from https://github.com/owncloud/cor

[2015-04-28 12:35] LukasReschke commented on #15913
Wondering if Scrutinizer should have catched that, waiting for analysis as per https://github.com/owncloud/core/pull/14764#issuecomment-96648539

@DeepDiver1975 Anything we can do to catch such stuff on Jenkins?

[2015-04-28 12:41] LukasReschke commented on #15913
PR is at https://github.com/owncloud/core/pull/15915

[2015-04-28 12:42] DeepDiver1975 commented on #15913
unit tests

[2015-04-28 12:43] LukasReschke commented on #15913
Of the routing file? – Long way to go :see_no_evil:

[2015-04-28 12:58] DeepDiver1975 commented on #11804
setting 8.1

[2015-04-28 13:10] PVince81 opened #15916 "Public link buttons dimensions broken"
![public-link-button-size](https://cloud.githubusercontent.com/assets/277525/7370177/7c4ab920-edb8-11e4-93c9-6e2f4b0c531a.png)

@jancborchardt can you have a look ?
It happens since https://github.com/owncloud/core/pull/15875

(use this branch https://github.com/owncloud/core/pull/15915 if master is still broken)

[2015-04-28 13:54] #15913 closed

[2015-04-28 13:56] nickvergessen opened #15917 "Add basic unit tests for app.php and routes.php"
As per https://github.com/owncloud/core/pull/15915#issuecomment-97071508

[2015-04-28 13:58] Morganlej commented on #9885
Better than a workaround would be a real fix in opcache. Is there a known upstream bug report on it?
We have found similar or same issue with zend opcache also on mageia even without owncloud.
( https://bugs.mageia.org/show_bug.cgi?id=12995 )

[2015-04-28 13:59] DeepDiver1975 commented on #15878
Status as of now: 8.1 without encryption is now green :tada:

With encryption there is a issue related to webdav move:

[code]

[2015-04-28 14:16] DeepDiver1975 commented on #15917
THX - solution proposal is welcome as well :wink:

[2015-04-28 14:18] LukasReschke commented on #15898
@blizzz

[2015-04-28 14:24] sbelov1 commented on #15842
@blizzz they're LDAP on win 2008. Pleas let me know if anything else is needed.

[2015-04-28 14:25] DeepDiver1975 commented on #15878
no key file after upload of an empty file:

[code]

[2015-04-28 14:52] AdamWill commented on #9885
@Morganlej as I wrote above, "I think it's still a bug in the opcache that it crashes when OC tries to reset it - and I've filed that upstream":

https://bugs.php.net/bug.php?id=67687

[2015-04-28 15:13] bboule commented on #15865
Hey Guys... what is the status here?  is this still in line for 7.0.6 if so we can close the case on the front end.

[2015-04-28 15:26] crysman commented on #1347
+1 for implementing default group user quota and also global default user quota

[2015-04-28 15:30] bboule commented on #13533
This is waiting on @gig13 test

[2015-04-28 16:24] techie66 commented on #13147
I have been dealing with this issue since it started with 7.04.  Prior to that, (6.06 then 7.03) I used S3 with minimal overhead. Something changed in 7.04 that started hammering S3 with all these requests. It also puts a much higher load on the owncloud server. For now I'm hold at an earlier version to avoid the problem, but I would love to help track down what caused it in the first place.

[2015-04-28 17:45] kumarsanjeet101 commented on #15898
@blizzz
@LukasReschke
 the below mention is my basic configuration settings and list of everyone user list all LDAP user. admin user succesfully login into application but LDAP user not login with error message forgot passord reset it!.
So, please solve the issue version 8.0.2.0 and
$users = $this->access->fetchListOfUsers($filter, $attrs); users array blank.
LDAP://pdc.domain.com port ###
CN=doma

[2015-04-28 18:21] PVince81 commented on #13147
I'm not aware of any change that would increase the number of requests of S3 specifically.
But indirectly it is possible that some other parts of the code is using more FS calls (like additional checks) that might also cause additional calls here.

[2015-04-28 18:33] techie66 commented on #13147
In that case, would it be best to just implement a stat cache and forget it? I'll look through the changes that happened back then to see what I can find.

[2015-04-28 19:41] PVince81 commented on #13147
The stat cache would be the ideal solution, yes.

[2015-04-28 20:09] JostBaron opened #15920 "Filesystem permisson requirements too strict in 8.0.x"
Just updated from 7.0.2 to 8.0.2, with this setup:

 * Two users, `www-data` (apache) and `php` (php-fpm).
 * Data directory outside of code directory, owner and group `php:php`, permissions 0660 (files) / 0770 (dirs).
 * Code directory has owner `www-data` and group `php`, permissions 0660 (files) / 0770 (dirs).

So apache can't even read the data directory, if someone finds a hole in it.

But at

[2015-04-28 20:15] gig13 commented on #13533
@craigpg @bboule @blizzz
I tested oc705 and saw the same issue as the customer -- Domain Users were not being found correctly in the Wizard or in the Users page.
After the latest patch was applied, the Domain Users are correctly found (47 in our test instance) and the Users page displays them correctly when only filtering on that group. I tried with IE and Firefox and both browsers displayed the U

[2015-04-28 20:30] Xenopathic commented on #15920
You need to change the permission on `config/config.php` to match your PHP user.

[2015-04-28 20:35] JostBaron commented on #15920
Can you elaborate? `config/config.php` had permissions `0660`, with ownership `www-data:php`. To what do I need to set them, and how does this affect the above problem? Is the apache user determined as the user that is the owner of `config.php`?

[2015-04-28 20:43] RealRancor commented on #15920
Hi,

yes. The owner of config/config.php is used for this check:

https://github.com/owncloud/core/blob/v8.0.2/console.php#L33-L40

[2015-04-29 07:31] #15920 closed

[2015-04-29 07:36] #15705 closed

[2015-04-29 08:01] SergioBertolinSG opened #15923 "Migrate keys in admin page after enabling encryption blocks owncloud server"
### Steps to reproduce
1. Enable encryption app.
2. Go to admin page.
3. Click on enable encryption.
4. Click on migrate keys.
Note: don't relogin in any step.

### Expected behaviour
Keys are migrated and users can login again.

### Actual behaviour
Owncloud server is blocked, and nobody can use it again.

### Server configuration
**Operating system**:
Ubuntu 14.04 LTS

**Web server:**
Apache

**

[2015-04-29 08:04] DeepDiver1975 opened #15924 "PHP Notice versions"
[code]

[2015-04-29 08:12] nickvergessen commented on #15924
http://php.net/manual/en/function.pathinfo.php doesn't say that dirname is "optional", I guess we could check for that, but several other places use it aswell:
https://github.com/owncloud/core/blob/master/apps/files_sharing/lib/helper.php#L246-246

[2015-04-29 08:14] DeepDiver1975 commented on #15924
![fixit](https://cloud.githubusercontent.com/assets/1005065/7386838/7368cbd0-ee58-11e4-96db-21153fad8ab7.png)

[2015-04-29 08:18] nickvergessen commented on #15924
Thanks for your report, please use the issue template, so we have the necessary information:
https://raw.github.com/owncloud/core/master/issue_template.md

especially server php version might be of interest for developers trying to reproduce the issue

[2015-04-29 08:20] DeepDiver1975 commented on #15924
![touche](https://cloud.githubusercontent.com/assets/1005065/7386933/4a7b4666-ee59-11e4-9725-deb93bb65dbd.png)

[2015-04-29 08:22] DeepDiver1975 commented on #15923
@th3fallen @schiesbn please have a look - THX

[2015-04-29 08:44] #15777 closed

[2015-04-29 08:50] SergioBertolinSG commented on #15923
Rebooting has made server work again, this happened with 8.1alpha2 enterprise tarball.
After enabling encryption in admin page instead of:
Select default encryption module:
    ownCloud Default Encryption
There was a button.

I've retested with current master branch in community and not happened. Now the ownCloud default encryption was there instead of the button.

[2015-04-29 08:55] nickvergessen commented on #15589
reopening for 8.0.4 fix

[2015-04-29 09:17] anduz opened #15925 "External Storage SMB/CIFS File Datetime not refreshed in owncloud"
Hello,

I've found an issue replacing some files in a sub-folder of a SMB/CIFS external storage.
After replacing the files, the "Modified" date didn't change.
Then I deleted the files and copied them again into the folder and now it's fine.

Best regards
Anduz

[2015-04-29 09:32] SergioBertolinSG commented on #15825
I see a problem here, after following the steps the files accessed by user1 are encrypted after downloading them or using files_texteditor

[2015-04-29 09:40] jospoortvliet commented on #7747
@RealRancor still this feature request is valid and if somebody wants to implement it they can go ahead. Until then, yes, for enterprises the EE is helpful.

[2015-04-29 10:02] schiesbn commented on #15923
I couldn't reproduce it on master. Are you sure that you started with a complete fresh installation (no data and empty database)?

[2015-04-29 10:03] Xenopathic commented on #15925
Duplicate of #11797

@anduz Unfortunately this is a known issue that we've been struggling with for a long time. In oC 8.1 you can mitigate the issue somewhat by setting `filesystem_check_changes` to `1` in the relevant `mount.json` entry (documentation forthcoming).

[2015-04-29 10:03] #15925 closed

[2015-04-29 10:10] schiesbn commented on #15825
I can't reproduce it... @PVince81 how about you?

[2015-04-29 10:16] PVince81 commented on #15825
@SergioBertolinSG the UX of recovery has some problems, so it's easy to get confused and miss something. Did you use the exact steps as provided in my first comment ? You need to enable recovery both in the admin page and also for the user.

Then when you enter the user's new password, you need to hit enter. You won't get any visual feedback (the bad UX issue), but it should have done its work.

[2015-04-29 10:19] JostBaron opened #15927 "App installer does set wrong user/group when installing new apps"
My setup is as follows:
- Running Apache as webserver, using PHP-FPM for PHP.
- Apache runs as `www-data`, PHP as `php`.
- The code directory is owned by `www-data:php`.
- The data directory is outside the code directory and owned by `php:php`.

**Problem**: When installing an app using the web interface, the apps files are owned by `php:php`. This prevents `www-data` from reading them, which prev

[2015-04-29 10:29] PVince81 commented on #15825
@schiesbn to answer your question, I already tested it in your PR: https://github.com/owncloud/core/pull/15911#issuecomment-97023418

Now if @SergioBertolinSG still says it's broken on master, maybe some other change that was on master broke it.

[2015-04-29 10:44] PVince81 commented on #15825
Just to be sure I tried again on master (002d74f95ab8d06e969fdd2c3ceeca4e766f3251) and it works for me too. user1 can properly download the file after changing the password.

[2015-04-29 11:16] SergioBertolinSG commented on #15825
OK, tested again. Exact steps works fine.
I added a couple more in my test:
14. Login as admin.
15. In admin page change recovery password.
16. Go to users page. Enter new recovery password, hit enter.
17. Change user1 password to xxx2.
18. Login with user1 with password xxx2.
19. Try to access files.

and after this steps files can't be decrypted for user1.

[2015-04-29 11:29] SergioBertolinSG opened #15928 "Recovery password box in users page overlaps search box when zooming in"
## Steps to reproduce
1. Enable encryption app.
2. Go to admin page.
3. Click on enable encryption.
4. Relogin with admin user.
5. Enable recovery password.
6. Go to users page.
7. Zoom in.

### Expected behaviour
Elements in screen doesn't overlap.

### Actual behaviour
![screen shot 2015-04-29 at 13 07 33](https://cloud.githubusercontent.com/assets/9048796/7389970/7f85e77a-ee73-11e4-9e40-30dbbf0

[2015-04-29 11:30] davitol opened #15929 "Wrong behaviour with Edit LDAP Query configuration pop-up window and background"
### Steps to reproduce
1. Modify the configuration of the openLDAP server.
2. Set a right configuration in server tab and continue
3. Click on Edit LDAP Query option. A pop-up window about Mode switch confirmation appears.
4. Without clicking on the pop-up window, click again on Edit LDAP query

### Expected behaviour
Edit LDAP Query option should not be enable for clicking

### Actual behaviour
I

[2015-04-29 11:55] jvillafanez opened #15930 "Extremely slow browser response with the LDAP app inside a VPN"
### Steps to reproduce
1. Setup two different LDAP configurations, (checked with a LDAP server inside a LAN and another one inside an external VPN)
2. Check that both of them are accessible inside the VPN
3. Exit from the VPN. You should still be able to connect to the LDAP server in the LAN.
4. From the LDAP wizard, deactivate the configuration for the LDAP server in the VPN, so only the one insi

[2015-04-29 11:56] jvillafanez commented on #15930
@blizzz

[2015-04-29 11:58] nickvergessen commented on #15928
@jancborchardt

[2015-04-29 12:28] sprokhorov opened #15931 "Missing sync of ldap users and groups"
Hello, after update to 8.0.2 we're lose sync of ldap users and groups. Logs do not provide enough information. Google did not help too.
All tests in web interface are fine. Applucation return count of users and groups when I try to test ldap filters. In Users section of GUI I can see users but can't see any ldap group.
Tables oc_ldap_group_mapping and oc_ldap_group_members are empty. oc_ldap_user_

[2015-04-29 12:32] schiesbn commented on #15825
Thanks for the updated tests steps... I will try this later today. Generally speaking this shouldn't make a difference because the key should stay the same, it is only encrypted with a different password.

[2015-04-29 12:50] davitol opened #15933 "Default LDAP filter is wrong in Login Attributes tab"
### Steps to reproduce
1. In assisted mode set a right configuration in the server and user tab
2. Continue to the Login Attributes tab

### Expected behaviour
The LDAP default filter should have (samaccountname=%uid)) part
### Actual behaviour
The LDAP default filter in login attributes tab has no uid.

### Server configuration
**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

**D

[2015-04-29 12:57] schiesbn commented on #15825
I could reproduce and already know what's going wrong... Will prepare a pull request

[2015-04-29 13:24] PVince81 commented on #15931
@blizzz

[2015-04-29 13:46] MorrisJobke commented on #15916
It's the `display: inline-block;` of the `.button` class.

[2015-04-29 13:48] MorrisJobke commented on #15916
This was caused by #15875

[2015-04-29 13:48] MorrisJobke commented on #15916
@jancborchardt Can you have a look?

[2015-04-29 13:52] nickvergessen commented on #15786
@icewind1991 ping?

[2015-04-29 14:04] PVince81 commented on #8558
There was another issue about renaming the folder back to the original name would make it disappear: https://github.com/owncloud/core/issues/15340

@libasys your steps seem to be different. I you see an issue with these, please raise a separate ticket. Thanks

[2015-04-29 14:04] #8558 closed

[2015-04-29 14:13] PVince81 commented on #10552
Are you still seeing this issue with 7.0.5 or 8.0.2 ?

[2015-04-29 14:14] PVince81 commented on #10677
@gig13 I guess the issue is still there in 7.0.5 ?

[2015-04-29 14:18] gig13 commented on #10677
@PVince81
I have not tested with IIS and desktop client 1.6 in a long time. Let's close this one.

[2015-04-29 14:18] #10677 closed

[2015-04-29 14:22] PVince81 commented on #10718
@rullzer mind having a look if you can reproduce this one on master ?

[2015-04-29 14:25] PVince81 commented on #11309
Are you still having issues with 7.0.5 or 8.0.2 ?

I didn't see any ownCloud version mentionned in your original report

[2015-04-29 14:26] PVince81 commented on #11462
Closing due to lack of activity.

In case you were using IIS, please note that it will not be supported any more in newer OC versions.
Thanks.

[2015-04-29 14:26] #11462 closed

[2015-04-29 14:28] PVince81 commented on #11463
@jnfrmarks were you able to verify this ?

[2015-04-29 14:29] gopher49 commented on #11309
I ended up using the Bitnami image for it uses Ubuntu.  I tried a different versions of the SMB client on CentOS and no luck.  I found it better to simply install the OwnCloud client on my windows file server and share out from there...  I have over 100,000 files I'm sharing out and it works really well.
________________________________
From: Vincent Petry [notifications@github.com]
Sent: Wednesda

[2015-04-29 14:31] PVince81 commented on #11309
Nice, thanks for your feedback.

[2015-04-29 14:31] #11309 closed

[2015-04-29 14:33] PVince81 commented on #11660
Are you still seeing this with 7.0.5 or 8.0.2 ?
Please note that IIS won't be supported any more in the future as there are many issues on the Windows platform (for PHP servers)

[2015-04-29 14:34] PVince81 commented on #11899
Closing due to lack of activity.

Please try again with 8.0.3 or 7.0.5. Feel free to reopen if you are still seeing the issue in these versions.
Thanks.

[2015-04-29 14:34] #11899 closed

[2015-04-29 14:35] gopher49 commented on #11309
I do have a client (newest build) that randomly shows a connection error (icon turns black) and I have to exit it and re-open it..  I'll create a bug report for I think this happens with other users too.. In different environments..

I'll create a separate issue on Github for it.
________________________________
From: Vincent Petry [notifications@github.com]
Sent: Wednesday, April 29, 2015 9:31 AM

[2015-04-29 14:36] PVince81 commented on #11309
Yes, thanks. If you do, please make sure to use the issue template: https://raw.github.com/owncloud/core/master/issue_template.md :smile:

[2015-04-29 14:37] bulletxt opened #15934 "Users can rename sharing"
userA shares folder A to userB giving him no read/write/delete permissions.   It seems though that userB can rename folder A.

After that, userA looses control over the folder .

[2015-04-29 14:38] LukasReschke commented on #15934
Thanks a lot for reporting issues back to us!

We need some more information to properly support you with your issue!

Can I ask you to follow our guidelines for submitting bugs as described here: https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

[2015-04-29 14:39] PVince81 commented on #12185
Closing due to lack of feedback.

[2015-04-29 14:39] #12185 closed

[2015-04-29 14:44] bulletxt commented on #15934
Ubuntu 14.04 64-bit
Php 5.5.9
Apache/2.4.7
mysql 5.5.41

config.php:
<?php
$CONFIG = array (
  'instanceid' => 'oc8idv3k3jjd',
  'passwordsalt' => 'aa',
  'secret' => 'aa',
  'trusted_domains' =>
  array (
    0 => 'localhost',
    1 => '192.168.30.44',
  ),
  'datadirectory' => '/var/www/owncloud/data',
  'overwrite.cli.url' => 'http://localhost/owncloud',
  'dbtype' => 'mysql',
  'version' => '8

[2015-04-29 14:52] nickvergessen commented on #15934
I can't reproduce that.

[2015-04-29 14:55] PVince81 commented on #12351
@Dobromir78 are you using Apache or nginx ? (because the settings might be different).

[2015-04-29 14:55] LukasReschke commented on #15934
Same here. Please provide us with complete reproduction steps as requested on https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

[2015-04-29 14:56] bulletxt commented on #15934
After renaming, userA looses control over the folder because the menu "share" on that folder doesn't compare anymore

[2015-04-29 14:58] davitol opened #15935 "Servers combobox in LDAP assisted mode configuration does not show the direction"
### Steps to reproduce
1. Modify the configuration of the openLDAP server.
2. Set a right configuration in server tab and continue
3. In assisted mode go back to the Server tab and dropdown servers combobox.

### Expected behaviour
The LDAP Server combobox should show the direction set before after the ":" . E.g. Server: 172.18.5.199
### Actual behaviour
The LDAP Server combobox is empty after the

[2015-04-29 15:01] LukasReschke commented on #15934
Can you please fill out the issue template? – This is getting cumbersome, we really need detailed reproduction steps. See https://github.com/owncloud/core/issues/15933 for a good example where developers can see in a few seconds what the issue is and have an exact list of what the user did.

What I did here was:

1. Setup instance as user "admin"
2. Create a user "test"
3. As user "admin" create a

[2015-04-29 15:02] LukasReschke commented on #15933
@blizzz

[2015-04-29 15:06] jvillafanez opened #15936 "UTF-8 chars changed or deleted from the username column of the users page"
### Steps to reproduce
1. Configure an LDAP server with persons that have UTF-8 chars in the uid (checked with openLDAP and uids for persons such as "007_憲明" and "007_bärh")
2. Change the wizard configuration to use the uid as internal username attribute in the expert tab of the wizard.
3. Go to the users page

### Expected behaviour
All LDAP users have their LDAP uid as username

### Actual behav

[2015-04-29 15:06] jvillafanez commented on #15936
@blizzz

[2015-04-29 15:06] bulletxt commented on #15934
That's exactly what I'm doing but it fails on step 7. At step 7,  "admin" still sees "shared" folder BUT can't share the folder anymore to anyone and/or edit the sharing properties because the voice "share" won't appear on that folder anymore.  Only the link "Download" will appear.

I'm really not sure what other info can I provide .

[2015-04-29 15:14] LukasReschke commented on #15934
https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

- **Updated from an older ownCloud or fresh install:**
- **List of activated apps:**
- **Are you using external storage, if yes which one:** local/smb/sftp/...
- **Are you using encryption:** yes/no
- **Are you using an external user-backend, if yes which one:** LDAP/ActiveDirectory/Webdav/...
- Complete client configuration

[2015-04-29 15:14] PVince81 commented on #12512
It is very likely that you bumped into the issue @LukasReschke mentionned, which is fixed since 7.0.3.
I'll close this ticket now.

If you observe this issue again with 7.0.5, 8.0.2 or later, feel free to reopen.

[2015-04-29 15:14] #12512 closed

[2015-04-29 15:18] bulletxt commented on #15934
Its a new fresh install.
only "File" app is activated
no external storage
no encryption
no external user-backend

curl "http://localhost/owncloud/ocs/v1.php/apps/files_sharing/api/v1/shares?format=json&shared_with_me=false" -u impiegati
Enter host password for user 'impiegati':
{"ocs":{"meta":{"status":"ok","statuscode":100,"message":null},"data":[{"id":17,"item_type":"folder","item_source":"56","

[2015-04-29 15:29] LukasReschke commented on #15934
The response seems to indicate that you did different steps than in https://github.com/owncloud/core/issues/15934#issuecomment-97457650, would it be possible for you to provide a complete list of steps that are required on a new (i.e. new setup) ownCloud instance to reproduce this problem? – I tried adjusting the permissions as well but locally still everything works fine.

[2015-04-29 15:30] jvillafanez opened #15939 "Cannot login in an user account using 2 LDAP servers and having a common user in both of them"
### Steps to reproduce
1. Setup and configure 2 LDAP servers making sure that at least one user is “shared” in both servers (uid and display name are the same, an also with the same password)
2. Keep the basic configuration, so users can login with their uid
3. Go to the users page. You should see 2 different users from both LDAP servers with the same name
4. Try to login with both users.

### Exp

[2015-04-29 15:31] jvillafanez commented on #15939
@blizzz

[2015-04-29 15:33] th3fallen opened #15940 "[enc2] changepassword controller breaks encryption modularity"
https://github.com/owncloud/core/blob/master/settings/changepassword/controller.php#L82-L109 is making calls straight to default encryption app methods.

These need to be decoupled immediately as they completely defeat the purpose of what we did in the refactor.

Also the `changeUserPassword` method errors have the chance of falling through and showing multiple errors that the frontend can't handl

[2015-04-29 15:34] th3fallen commented on #15940
@DeepDiver1975 please confirm this can be done before release if so i'll get started on it.

[2015-04-29 15:49] bulletxt commented on #15934
0. create user "impiegati" part of group "xx". Create user "riccardo" part of group "usrers".
1. log in with user "impiegati"
2. create folder "ASD"
3. share folder "ASD" with group "users"
4. remove all permissions read/write/delete on this share
5. log with user "riccardo"
6. rename shared folder "ASD" to "LOL"
7. log out user "riccardo"
8. log in with user "impiegati"
9. impiegati will still se

[2015-04-29 15:52] jancborchardt commented on #15928
We already hide the search box in mobile mode. Anything beyond that we have to fix by simply using the main search box up top: https://github.com/owncloud/core/issues/14973

[2015-04-29 15:53] jvillafanez opened #15941 "Automatic activation of the LDAP configuration after changing the login filter"
### Steps to reproduce
1. Have a completed configuration
2. Edit the login filter to a wrong one (for example, `(&(|(objectclass=inetOrgPerson))(uid=%u))`) in order to make the configuration invalid
3. Deactive the configuration (Advanced tab)
4. Reload
5. Fix the value
6. Go to Advanced tab, Connection settings
### Expected behaviour

Configuration should have not been activated again (to be more

[2015-04-29 15:54] jvillafanez commented on #15941
@blizzz

[2015-04-29 15:55] jancborchardt commented on #15916
Fixed with the revert, please review: https://github.com/owncloud/core/pull/15942

[2015-04-29 15:55] davitol commented on #15933
Maybe this behaviour is only with active directory

[2015-04-29 16:10] SergioBertolinSG opened #15943 "Previous versions of a file before enabling encryption won't be encrypted after edition"
### Steps to reproduce
1. Have a file with some versions.
2. Enable encryption app.
3. Go to admin page.
4. Click on enable encryption.
6. Relogin.
7. Edit the file.
8. Restore first version of the file.

### Expected behaviour
To be discussed

### Actual behaviour
File is not encrypted.
Versions of the file before enabling encryption are not encrypted after an edit.

### Server configuration
**Op

[2015-04-29 16:12] davitol opened #15944 "LDAP wizard configuration, status from Configuration incorrect to Configuration OK is not being updated using active directory."
### Steps to reproduce
1. In assisted mode configure a complete configuration using active directory.
2. Set on the before mentioned settings to a wrong value.
3. Status switch to incorrect / red
4.  Set on the before mentioned settings to a right value again.

### Expected behaviour
Status should switch to correct / green

### Actual behaviour
Status keeps switched to incorrect / red

### Server

[2015-04-29 16:30] LukasReschke commented on #15934
Works here, does something appear in the browsers error console?

[2015-04-29 16:31] PVince81 commented on #13310
Please note that when moving files between external storages (or when deleting from external storage), the fileid is also kept properly, which is nice. (I just tried this and it works :smile:)

The outstanding issue is only when files are changed remotely (outside of ownCloud).

[2015-04-29 16:33] LukasReschke commented on #15934
@PVince81 Care to recheck as well on stable8?

[2015-04-29 16:36] PVince81 opened #15945 "Admin feature: disable/configure mount options for personal storages"
Currently in 8.1 (master) the external storage mount options (https://github.com/owncloud/core/issues/12216) are available for both global mounts (admin page) and also for personal/user mounts (personal page).

It could be useful if the administrator was able to decide which mount options a user is allowed to use/set on their personal storages. For example an admin might not want a user to be able

[2015-04-29 16:40] SergioBertolinSG commented on #15923
I have tested this again with the enterprise tarball but it didn't happen.
So I am closing this for now, keeping an eye open to revive it if i see it again.

[2015-04-29 16:40] #15923 closed

[2015-04-29 16:45] PVince81 commented on #15934
Hmm, it works for me on stable 8 (upcoming 8.0.3).
@bulletxt is the user "impiegati" also a member of "users" ? (this reminds me of https://github.com/owncloud/core/issues/15771 but there it's about an inned folder)

@bulletxt can you do a `select * from oc_filecache where path like '%ASD%'` and see what the "permissions" column contains ?

And then do a `select * from oc_share where item_source i

[2015-04-29 16:57] bulletxt commented on #15934
As said, "impiegati" is member of group "xx" that is different from group "users" .  Please remember im on 8.0.2 and not 8.0.3

for the select it returns 2 records:

"fileid","storage","path","path_hash","parent","name","mimetype","mimepart","size","mtime","storage_mtime","encrypted","unencrypted_size","etag","permissions"
"56","4","files_trashbin/files/ASD.d1430322358","22604d5665192d56392db0a4ca

[2015-04-29 17:04] PVince81 commented on #15934
Hmm, still works for me in 8.0.2.
I also ran the oc_filecache query, and I can see that in my case the "permissions" are 31. In your case they are 15.

Did you change any sharing settings in the "Admin page" which might be different from the defaults ? Did you disable resharing ?
I tried to disable resharing globally in the admin page, but still same result: works for me.

In your report above you

[2015-04-29 17:54] jancborchardt commented on #15819
Fixed at https://github.com/owncloud/core/pull/15947 – @jnfrmarks in the future you can also just @-mention me with @jancborchardt so I directly see the issue. :)

[2015-04-29 17:56] jancborchardt commented on #15820
Fix at https://github.com/owncloud/core/pull/15947

[2015-04-29 18:17] jnfrmarks opened #15948 "Why do we have LDAP/AD on Login Attributes tab when configuring ldap?"
### Steps to reproduce

1. Install 8.1
2. Go to admin page and configure ldap
3. Click on Login Attributes tab

### Expected behaviour

No differentiation between LDAP and AD for the username or email address checkboxes

### Actual behaviour

We specifically call out LDAP/AD for the username and email address checkboxes

![p333](https://cloud.githubusercontent.com/assets/8480343/7398000/eed44eb8-e

[2015-04-29 18:30] iliyasbasir commented on #15865
@blizzz @nickvergessen @PVince81: Do you have fix for this issue , if not when I can expect this fix will be releasing

[2015-04-29 19:15] derkostka commented on #13096
close ?

[2015-04-29 19:17] Dobromir78 commented on #12351
@PVince81 To be honest - don't know which one, I have a virtual server from my ISP so I can't go deep to the settings.

@RealRancor My ISP is constantly introducing further versions of PHP but users are free to choose which one to apply to their accounts. I haven't changed this setting - as far as I remember it's 5.3.

[2015-04-29 19:22] DeepDiver1975 commented on #15948
@jnfrmarks sorry - but I don't get the meaning reason behind this issue. Do you ask why we name AD at all?

[2015-04-29 19:40] Raydiation commented on #15894
As for the docs I'll propose the following:

We are going to add a middleware (or modify the CORSMiddleware into APIMiddleware) that does the following:

* If the accept header for an API route contains text/html (meaning that the browser is used to access the route) we will fire up php documentor (https://github.com/phpDocumentor/ReflectionDocBlock/tree/master/src/phpDocumentor/Reflection) and us

[2015-04-29 19:41] Raydiation commented on #15894
The basic idea is that the api doc should make use of a lot of phpdoc features, link the apis so you can change quicky, show verbs and possible paramters (also which parameters are in the url) and provide a form that allows you to query the API

[2015-04-29 19:59] DeepDiver1975 commented on #15894
Generating API docs from PHPDoc - yes
Adding doc generating code to the live code - no - divide and conquer

[2015-04-29 20:05] Raydiation commented on #15894
@DeepDiver1975 have you taken a look at http://restframework.herokuapp.com/ ?

It could only be enabled when debug mode is active, would always be up to date for the currently installed apps/apis, would work for all apps that have api routes and can be tested live.

The alternative is basically creating a wiki like https://github.com/owncloud/news/wiki/API-1.2  manually keeping stuff up to date an

[2015-04-29 20:07] Raydiation commented on #15894
BTW: another, less intrusive way would be to put this into a separate app that adds an additional middleware if enabled.

[2015-04-29 20:08] DeepDiver1975 commented on #15894
no need for me to have a look at this - I've use tools like this in the past. To be honest this adds more issue then it actually solves.

Furthermore I'm convinced that api docs should be more of the formal specification the code has to follow - not the other way round. Devs rely on stable APIs as documented and released - dynamic doc generation is the wrong approach.

[2015-04-29 20:10] Raydiation commented on #15894
So basically stick with the way we are already documenting APIs?

[2015-04-29 20:12] DeepDiver1975 commented on #15894
there are for sure rooms to improve - e.g. today we write the docs (if at all) after the code was written - which is a bad practice

[2015-04-29 20:15] Raydiation commented on #15894
Indeed. Maybe add a policy that requires public APIs to have a documentation PR before they are merged? Would fix a lot of app API documentation issues, I'm basically the only one documenting this thing and filesystem and hooks are still not documented well enough.

[2015-04-29 20:17] jnfrmarks commented on #15948
I was asking why we label it at all and if we are labeling it, why we specify both LDAP and AD.  Matt has indicated that was the ask.  I think it's a bit redundant but I kind of get why we're doing it :)

I can close this one (I filed this and then chatted with Matt)

[2015-04-29 20:19] DeepDiver1975 commented on #15865
based on the comment history in here there is nothing in the pipe. Details have to be added my @blizzz once he is back.

[2015-04-29 20:19] jnfrmarks opened #15950 "Do not ship dummy encryption test module"
### Steps to reproduce

1. Install 8.1
2. Go to not enabled apps
3. Scroll down to the bottom for the encryption apps

### Expected behaviour

No dummy modules should be shipped

### Actual behaviour

There is a dummy test module

### Server configuration

ownCloud Enterprise Edition 8.1 alpha 2 (testing)

[2015-04-29 20:21] DeepDiver1975 commented on #15950
@karlitschek something to be added to the release script from my understanding. THX

[2015-04-29 20:26] DeepDiver1975 commented on #15948
with respect to the community: can we have the explanation in this ticket for everybody please? THX

[2015-04-29 20:26] DeepDiver1975 commented on #15948
reopening until explanation has been entered - THX

[2015-04-29 21:11] iliyasbasir commented on #13781
@PVince81 @bboule , Yes i forward Vincent recommendation to customer

[2015-04-29 21:12] #15286 closed

[2015-04-29 22:42] LukasReschke opened #15952 "\OC\Share\Share::getUsersSharingFile does not work properly with renamed shares and groups"
`\OC\Share\Share::getUsersSharingFile` is not properly working in combination with renamed shares and groups on stable8 (didn't test master yet – suspect it to be broken as well), this can be reproduced by:

1. Setup instance on stable8 as user "admin"
2. Create a user "test"
3. Add user "test" to group "users"
4. Create a folder "shared" as user "admin" and share with "users"
5. Upload a file "te

[2015-04-29 22:43] LukasReschke commented on #15952
cc @PVince81 I guess that was what I was stumbled about…

[2015-04-29 22:44] LukasReschke commented on #15952
This works properly if directly sharing to the user.

[2015-04-29 22:45] LukasReschke commented on #15952
… I wonder what this may all potentially break in core …

[2015-04-29 23:08] karlitschek commented on #15950
@DeepDiver1975 possible. But maybe we can move this out of the core repository? By doing this we avoid to have special behaviors coded for special apps which will break in the future.

[2015-04-30 00:18] karlitschek commented on #15927
Not sure this is something we actually can do. Maybe the best possible fix is to run php and apache is the same user.

[2015-04-30 06:25] #15916 closed

[2015-04-30 06:44] davitol opened #15953 "Clicking on the name of an enable app, a new browser tab is opened with the same info."
### Steps to reproduce
1. In Apps menu select Enabled menu for example
2. Click on the name of any of the apps.

### Expected behaviour
Click on the name of apps should be disable.

### Actual behaviour
A new tab with the same info is opened in the browser. That makes no sense.

### Server configuration
**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

**Database:** mysql

**PHP ve

[2015-04-30 07:29] bulletxt commented on #15934
"appid","configkey","configvalue"
"activity","enabled","no"
"activity","installed_version","1.2.0"
"activity","ocsid","166038"
"activity","types","filesystem"
"backgroundjob","lastjob","3"
"core","global_cache_gc_lastrun","1430378874"
"core","installedat","1430313326.8285"
"core","lastcron","1430378882"
"core","lastupdateResult","{""version"":{},""versionstring"":{},""url"":{},""web"":{}}"
"core",

[2015-04-30 07:56] DeepDiver1975 commented on #15950
fine with me as well - onwcloud/apps should be enough from my understanding.
PRs on it's way

[2015-04-30 08:04] #15819 closed

[2015-04-30 08:04] #15820 closed

[2015-04-30 08:11] #13096 closed

[2015-04-30 08:14] PVince81 commented on #15952
But strangely encryption works fine, and it uses that.
The key part was to make sure to get the $ownerPath first.

But let me try the steps, maybe this is yet another nuance.

[2015-04-30 08:14] PVince81 commented on #15952
also CC @schiesbn

[2015-04-30 08:18] binarykitchen commented on #15876
i ran the `occ` command again three days ago and today the ssh connection got aborted. grrrr...

rolling back all the files manually and trying again, but this time with a tmux session. you have no idea how painful this is. trying for weeks to migrate :(

[2015-04-30 08:21] PVince81 commented on #15952
After running the steps, I put the contents into "test.php" and open it in the browser:

- as "admin":
[code]

- as user "test":
[code]

Hmm, but as the admin I'd expect to have "test" there too.

[2015-04-30 08:22] PVince81 commented on #15952
Wait what ? "/sharedtest.txt" ? Looks like a missing slash.
But even then, it should be called "foo"

[2015-04-30 08:24] PVince81 commented on #15952
Ok, forgot to say that my file is called "test8.txt" not "test.txt". But still, might be another bug ?! `getUsersSharingFile()` should not return results for non-existing files.

[2015-04-30 08:26] PVince81 commented on #15952
Okay now, when pointing the API call at the correct file:
- as "admin":
[code]

- as "test":
[code]

At least now the result is consistent with @LukasReschke.

Now if that is really broken, it means encryption (share keys) should break too.
But when I tried yesterday it worked fine.
So either we're doing the call wrong (missing setupFS?) or encryption is doing something else.

Trying encryption no

[2015-04-30 08:26] PVince81 commented on #15952
Now I also wonder, are we supposed to call `getUsersSharingFile()` directly on the file ?
Let's try calling it on the shared folder instead.

[2015-04-30 08:30] PVince81 commented on #15952
When calling it like this:
`var_dump(\OC\Share\Share::getUsersSharingFile('shared', 'admin', true, true));`

I get:
- as admin:
[code]

- as test:
[code]

Nope :frowning:

Trying encryption now.

[2015-04-30 08:34] nickvergessen opened #15954 ""Add group" is cut off when the translation is longer then the longest group name"
@jancborchardt @MorrisJobke
![group-add](https://cloud.githubusercontent.com/assets/213943/7409181/7fda0038-ef24-11e4-9cda-f24b977e33e5.png)

Related #15819 #15820

[2015-04-30 08:40] PVince81 commented on #15952
Bad news, encryption breaks too, here are the steps (on stable8):
1. Setup stable8 with admin user "admin"
2. Login as "admin"
3. Enable encryption
4. Log out then log in again
5. Create a user "test" in a group "users"
6. Create another user "test2" in the group "users"
7. Create a folder "shared"
8. Share "shared" with the group "users"
9. Login as "test"
10. Rename "shared" to "foo"
11. Upload

[2015-04-30 09:00] schiesbn commented on #15952
@PVince81 I can't reproduce it. I started with a fresh installation of stable8 and followed exactly your steps. after step 11 I checked the keys in data/admin/files_encryption. Share-keys exists for "admin", "test" and "test2". If I log-in as "test2" I can open the file.

[2015-04-30 09:01] PVince81 commented on #15952
Ok, let me double check the steps then and add as many details as possible.
@LukasReschke and I had a similar case two days ago and it worked.
But now it's broken again, so maybe there's a subtle nuance.

[2015-04-30 09:02] jvillafanez opened #15956 "Abnormally large time loading the users page with a large LDAP server"
### Steps to reproduce
1. Setup a large LDAP server (checked with two local server with 6 and 1000 users, and two additional servers inside a VPN with 1000 and 1M users)
2. Go to the users page

### Expected behaviour
Page is loaded in an acceptable amount of time (showing the first 30 users and taking into account the network speed, probably less than 30 secs)

### Actual behaviour
It takes an ab

[2015-04-30 09:03] DeepDiver1975 commented on #15956
@blizzz please have a look once you are back - THX

[2015-04-30 09:19] PVince81 commented on #15952
@schiesbn you're right, executing my exact steps do work... damn. I'll try and find out how I triggered it.

I still don't understand how encryption manages to get the correct users when calling `getUsersSharingFile("shared/somefile.txt")` when logged in as recipient.
Maybe the difference with @LukasReschke's snippet is that we call getUidAndFilename() which calls getOwner() which might do some se

[2015-04-30 09:30] PVince81 commented on #15952
Okay, I got something: if I add `setupFS` and `getUidAndFilename()` to @LukasReschke's snippet, it will now return the correct list of users:
[code]

When run as "test", I get this:
[code]

But if I comment out setupFS and the other one, I only get the admin.

At least it makes sense...

Now to the original issue: the path of "test" is wrong and should be "foo" instead of "shared".
However, I grep

[2015-04-30 09:35] schiesbn commented on #15952
Yes, encryption first resolve the owner and the owner path and then check the shares from the owners perspective.

[2015-04-30 09:39] PVince81 commented on #15952
And it seems that the resolution itself somehow affects the state of the FS statically, which makes it work...

[2015-04-30 09:44] PVince81 commented on #15952
The code that builds the paths is here: https://github.com/owncloud/core/blob/stable8/lib/private/share/share.php#L162
It just gets a list of all users and then uses the same "file_target" for all of them instead of getting each one's individual entries.

[2015-04-30 09:47] DeepDiver1975 commented on #15878
t3.pl now executed -> closing

[2015-04-30 09:47] #15878 closed

[2015-04-30 09:48] DeepDiver1975 opened #15957 "t5.pl failing on master with encryption enabled"
https://ci.owncloud.org/job/client-test-matrix-linux-8.1-enc/18/compiler=g++,label=master,mirallBranch=master,serverVersion=owncloud8.1,tc=t5/console

More analysis to be done ....

[2015-04-30 09:54] DeepDiver1975 commented on #14470
fixed by https://github.com/owncloud/core/pull/14346

[2015-04-30 09:54] #14470 closed

[2015-04-30 09:58] DeepDiver1975 commented on #13459
looking better these days - but there is still room for improvment

[code]

[2015-04-30 10:06] PVince81 commented on #15952
I'm writing a unit test first, in the spirit of "test first"

[2015-04-30 10:15] schiesbn commented on #15640
@icewind1991 can I ask you to have a look at this? I'm not sure what's the right place to fix it. Thanks!

[2015-04-30 10:17] BernhardPosselt opened #15960 "Isolate app autoloaders"
ATM all apps register their autoloaders in either one of the following files:

* appinfo/app.php
* appinfo/routes.php
* appinfo/application.php

Since all those files are loaded on startup, the include order may cause the wrong autoloader to be loaded for an app, e.g:
* mail registers autoloader for htmlpurifier 4.5.0
* news registers autoloader for htmlpurifier 4.6.0
* mail route is executed. htm

[2015-04-30 10:19] schiesbn commented on #15940
Ideally we would decouple the recovery process from the user management and add it either to the admin setting, or as a "app" called something like "Recover Encrypted files" to the apps menu of the admin. But I think that's to late for 8.1. So for now I would keep it as it is and just fix the remaining issues we introduced during the re-write.

[2015-04-30 10:28] PVince81 commented on #15952
PR here: https://github.com/owncloud/core/pull/15961 (only contains a unit test to reproduce the issue)

[2015-04-30 10:30] DeepDiver1975 opened #15962 "PHP Warning: The use statement with non-compound name 'JsonSerializable' has no effect"
@Raydiation

[code]

[2015-04-30 10:35] nickvergessen commented on #15960
Doesn't help really when two apps run in hooks and need the two different versions?

[2015-04-30 10:38] SergioBertolinSG opened #15963 "Moving encrypted files to an external storage folder with encryption enabled decrypts them."
### Steps to reproduce
1. Enable encryption app.
2. In admin page enable encryption.
3. Relogin.
4. Upload some files. Be sure they are encrypted.
5. Mount an amazon S3 folder and be sure encryption is enabled on it (gear on the right).
6. Move one of those files into S3 folder.
7. Open file in S3 using some program for connect like cyberduck or others.

### Expected behaviour
File is encrypted.

[2015-04-30 10:40] schiesbn commented on #15963
This pr should fix it: https://github.com/owncloud/core/pull/15628

[2015-04-30 10:41] Raydiation commented on #15960
Ah right, the only solution then is to require the autoloader when a cronjob/hook/etc of an app is executed

[2015-04-30 10:43] Raydiation commented on #15960
Can be done directly in the hook, e.g. by adding a require before that line https://github.com/owncloud/news/blob/master/cron/updater.php#L24

[2015-04-30 10:46] atroxix commented on #15856
BTW, Kalle was reporting my error, so I just took over debugging my system myself ;)

So yes, haven't disabled "Share API".

About "toString" error - you mean this?

[code]

[2015-04-30 11:06] Hoper opened #15966 "Can't change quota for LDAP users"
OwnCloud 8.0.2 (stable)  (MySQL)
Ubuntu 14.04
Settings LDAP
The quota default = 5 000 000 000
It's OK
I am doing for one user quota = 10 000 000 000
From some time the quota come back to default 5 000 000 000
I can't change quota for LDAPs users.

[2015-04-30 11:21] SergioBertolinSG opened #15967 "PROPFIND of a root folder with a S3 external storage folder mounted is very slow"
### Steps to reproduce

1. Mount an amazon S3 folder and be sure encryption is enabled on it (gear on the right).
2. Upload some files to it.
3. Do:
[code]

### Expected behaviour
Have a quick response.

### Actual behaviour
It is quite slow.
[code]

### Server configuration
**Operating system**:
Ubuntu 14.04 LTS

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

**ownCloud vers

[2015-04-30 11:22] DeepDiver1975 commented on #13343
8.2

[2015-04-30 11:23] jvillafanez commented on #15930
Something similar happens switching to other configuration, same symptoms :

1. Having two configurations, one of them taking some time to respond, perform some operation over the LDAP (such as count the number of users or groups)
2. Before the operation finish, go to the server tab and switch the server configuration to another one

The previous server configuration stays for a while (until the p

[2015-04-30 11:26] DeepDiver1975 commented on #13630
not only sqlite related - oracle has a limit of 1000 as well

[2015-04-30 11:28] DeepDiver1975 commented on #13569
@PVince81 8.2 I assume? THX

[2015-04-30 11:31] dragotin commented on #11660
yes, this misbehave of the client is fixed in the recent versions. Seek out for version 1.8.1 coming out next week.
There is a RC1 already which you might wanna test with.

[2015-04-30 11:37] PVince81 commented on #13569
Yes, let's move it to 8.2

[2015-04-30 11:41] PVince81 opened #15969 "JsonSerializable warning for various file operations"
When downloading a file version:
[code]

@Raydiation possibly related to https://github.com/owncloud/core/pull/15949 ?

[2015-04-30 11:42] nickvergessen commented on #15969
https://github.com/owncloud/core/issues/15962

[2015-04-30 11:42] #15969 closed

[2015-04-30 11:44] PVince81 opened #15970 "[enc2] Download versions extremely slow"
### Steps
1. Enable encryption + default encryption module
2. Log out, log int
3. Create a file "versions.txt"
4. Edit and save it several times with the text editor to create versions
5. Try downloading versions

### Expected result
Quick download

### Actual result
Very slow with Chrome
(I haven't tried curl)

Possibly related to the file size issue ?

@DeepDiver1975 @schiesbn @th3fallen

[2015-04-30 11:53] davitol opened #15971 "LDAP wizard configuration. 'Test filter button' behaviour in Groups tab is wrong"
### Steps to reproduce
1. Set a OK configuration in LDAP wizard.
2. In Groups tab click on the Test Filter button

### Expected behaviour

Test Filter button should test if filter is wrong.

### Actual behaviour
Test filter button has no functionality.

### Server configuration
**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

**Database:** mysql

**PHP version:** 5.5.9

**ownCloud

[2015-04-30 11:57] PVince81 commented on #15856
@atroxix ok so the error happens here: https://github.com/owncloud/core/blob/v8.0.2/apps/files_sharing/js/share.js#L164

I guess maybe the attribute "data-share-owner" is missing on some rows in the list.
But it might not be the core issue, because if other JS are interrupted due to an error, they wouldn't get a chance to add that attribute.

Does this stack appear when reloading the file list pag

[2015-04-30 12:01] PVince81 commented on #15771
Tested, works :+1:

[2015-04-30 12:01] DeepDiver1975 opened #15973 "[enc2] Undefined variable: newPosition at core\/lib\/private\/files\/stream\/encryption.php#377 …"
[code]

[2015-04-30 12:02] DeepDiver1975 commented on #15973
@schiesbn @th3fallen THX

[2015-04-30 12:07] DeepDiver1975 commented on #15957
[code]

[2015-04-30 12:09] DeepDiver1975 commented on #15957
[code]

[2015-04-30 12:09] DeepDiver1975 commented on #15957
[code]

[2015-04-30 12:10] DeepDiver1975 commented on #15957
t5.pl is failing because of these two exceptions above

[2015-04-30 12:14] PVince81 commented on #15934
Okay, I was able to reproduce the problem on v8.0.2.

[code]

Before sharing, need to go to he admin page in the "Sharing" section and do the following:
- disable resharing
- exclude the group "users" from sharing

Then continue the steps.
It seems something is messing up the permissions.

[2015-04-30 12:14] #15640 closed

[2015-04-30 12:15] PVince81 commented on #15934
Also happens on stable8 (upcoming v8.0.3)

Doesn't happen on master (upcoming 8.1), it seems to be fixed there.

[2015-04-30 12:17] atroxix commented on #15856
The error does appear when I start scrolling (not even hovering over any of this empty area).

Under Network I see 1 red line:
* https://.../core/vendor/jquery/dist/jquery-migrate.min.map: File not found.

[2015-04-30 12:21] schiesbn commented on #15640
@icewind1991 Thanks for taking care of it!

[2015-04-30 12:33] cdamken commented on #13934
@PVince81 I think the errors in https://github.com/owncloud/mirall/issues/2579 are the

I saw in the log:
S3-ownCloud\Shared\owncloud\support\github-issues\mirall\2579\New Info\owncloud_20150424.log

[code]

[2015-04-30 12:36] sokratisg commented on #15096
Excuse me for opening this up again, but I think there still may be a problem with the repos.

Just tried to install OC 8.0.2 on CentOS 6.6 and still 404 error on an rpm package:
...
http://download.opensuse.org/repositories/isv%3A/ownCloud%3A/community/CentOS_CentOS-6/noarch/owncloud-server-8.0.2-16.1.noarch.rpm: [Errno 14] PYCURL ERROR 22 - "The requested URL returned error: 404 Not Found"
Tryin

[2015-04-30 12:37] DeepDiver1975 commented on #13934
@cdamken what version is in place? Issue will be fixed with 8.0.3 and 8.1

[2015-04-30 12:37] DeepDiver1975 commented on #13934
closing this issue as we fixed this in 8.0.3 and 8.1

[2015-04-30 12:50] bulletxt commented on #15934
Great, hopefully you can get this fixed for 8.0.3 or I'll just wait for 8.1

[2015-04-30 13:02] nickvergessen commented on #15934
8.0.3 is already in packaging, so it might be 8.0.4 or 8.1

[2015-04-30 13:07] DeepDiver1975 commented on #15096
For me the link resolves to http://suse.lagis.at/repositories/isv:/ownCloud:/community/CentOS_CentOS-6/noarch/ - where the package is missing. Just another case of mirror out of sync. Not much we can do - but maybe out friends at suse can? @jnweiger

[2015-04-30 13:17] karlitschek commented on #15971
@blizzz

[2015-04-30 13:40] razyr commented on #15189
Think this will be fixed in the 8.1 release?

[2015-04-30 13:55] #15962 closed

[2015-04-30 13:57] jnweiger commented on #15096
Notified the helpful souls at suse.
A mirror missing a package is okayish. But no more mirrors to try is a real issue.
Most of the suse people are travelling (including myself) please ping me again if it does not improve by Sunday.

[2015-04-30 13:59] PVince81 commented on #15934
The next step would be to find out how it was fixed in 8.1 and whether it is easy to backport ("easy" as in "a fix that is not huge and doesn't risk breaking other stuff")

[2015-04-30 14:03] PVince81 commented on #15189
I'll set it to 8.1 to look into it. No guarantee though. That's quite deep in the core.
I suspect that the file scanner is needlessly setting the size to -1 in some cases.

[2015-04-30 14:04] DeepDiver1975 commented on #15957
this was fixed with #15968

[2015-04-30 14:04] #15957 closed

[2015-04-30 14:10] PVince81 commented on #15856
Would you guys mind posting the content of your "oc_appconfig" table ? Make sure to censor private data, if applicable. It might help to find out config variations which might help reproduce the issue.

[2015-04-30 14:21] DeepDiver1975 commented on #15973
We basically have to decide what to do in these 3 cases where the if conditions are not met: https://github.com/owncloud/core/blob/master/lib/private/files/stream/encryption.php#L358

[2015-04-30 14:22] DeepDiver1975 commented on #15973
@schiesbn @icewind1991 @PVince81 @jknockaert

[2015-04-30 14:26] atroxix commented on #15856
Here's the info from SQL dump (I hope I managed to get rid of all sensitive values there):

[code]

[2015-04-30 14:27] jknockaert commented on #15973
That's an obvious omission. I will come up with a fix later today.

[2015-04-30 14:30] jnfrmarks opened #15975 "Encryption can be enabled via occ even if the app itself is not enabled"
### Steps to reproduce

1. Install 8.1
2. From occ, enable encryption

### Expected behaviour

Either the app gets enabled as part of the request to enable encryption or an error is thrown to inform the user that the encryption app is not yet enabled.

### Actual behaviour

Encryptoin gets enabled without enabling the app or throwing an error to inform the user that the encryption app is not yet e

[2015-04-30 14:34] PVince81 commented on #15856
Okay, the things you guys have in common so far:
- LDAP enabled
- encryption enabled

@atroxix I see you enforced expire date and link password (which is a nice thing :wink:) and disabled reshares. Let me try this locally.

[2015-04-30 14:35] PVince81 commented on #15856
Just noticed that @kalletabur has nginx. @atroxix how about you ? (just to find more common stuff)

[2015-04-30 14:35] jknockaert commented on #15973
@DeepDiver1975 Do you actually have an idea of the specific values of the seek parameters in this case?

[2015-04-30 14:35] jnfrmarks opened #15976 "occ encryption:list-modules should display a message when encryption is not enabled"
### Steps to reproduce

1. Install 8.1
2. From occ, list encryption modules

### Expected behaviour

The user gets a message that encryption is not enabled

### Actual behaviour

There is no command output.

### Server Host info:

Ubuntu 14.04
PHP 5.5.9

### Server configuration:

ownCloud Enterprise Edition 8.1 alpha 2 (daily) Build:2015-04-30T03:08:25+00:00 4209757d61685346b9b3eb476035b4e86597ed

[2015-04-30 14:37] atroxix commented on #15856
Kalle first created the issue on behalf of me, so we are speaking about the same issue ;)

[2015-04-30 14:37] PVince81 commented on #15970
forgot to mention you too @jknockaert :smile:

I suspect it could be similar to the bug we had with download of regular files.
I'll try and provide more info later (curl calls with timings, etc)

[2015-04-30 14:38] PVince81 commented on #15856
Ah! Good to know :smile:

[2015-04-30 14:38] jnfrmarks opened #15977 "Add occ encryption:status to allow users to query if it's enabled or not"
### Steps to reproduce

1. Install 8.1

### Expected behaviour

A way to find out if encryption is enabled via occ

### Actual behaviour

There isn't a way to find out if encryption is enabled via occ
Maybe we can add a command occ encryption:status?

### Server Host info:

Ubuntu 14.04
PHP 5.5.9

### Server configuration:

ownCloud Enterprise Edition 8.1 alpha 2 (daily) Build:2015-04-30T03:08:25+

[2015-04-30 14:40] jnfrmarks commented on #15976
It looks like there's no output after enabling encryption:

[code]

[2015-04-30 14:48] jnfrmarks commented on #15976
More info:

I was able to get output after actually enabling the app itself, not just the encryption using occ.

[2015-04-30 14:51] PVince81 commented on #15856
Still out of luck at the moment. I tried to replicate your sharing settings and also use LDAP users, but I cannot reproduce the issue. I tried with a long list of files where shared folders/files appear at the bottom of the list. Scrolling still works.

Does this only happen for a specific user ?
If yes, what is special about this user ? Does the folder contain any outgoing or incoming shares ?

[2015-04-30 14:52] PVince81 commented on #15856
well, I also have encryption and the other apps enabled too, with the recovery key.

[2015-04-30 14:53] PVince81 commented on #15856
@eagles051387 it would be helpful if you could also share more details. It could help to cross-reference the config with the one from @atroxix / @kalletabur to see what they have in common. Do you also have LDAP ?

[2015-04-30 14:59] PVince81 opened #15979 "[enc2] occ encryption:migrate gives BadMethodCallException"
### Steps
1. Setup 8.0.2 with LDAP
2. Enable recovery key (not sure if relevant)
3. Login as a LDAP user, enable recovery key in personal page
4. Upgrade to 8.1 / master
5. Enable encryption in admin page
6. Enable default encryption module app
7. Go back to admin page: it tells you to run "./occ encryption:migrate"
8. Run `./occ encryption:migrate`

### Expected result
Migration successful

### A

[2015-04-30 15:02] PVince81 commented on #15979
@schiesbn @th3fallen @DeepDiver1975

[2015-04-30 15:03] PVince81 commented on #15979
and this appears in the log when running the command:
[code]

[2015-04-30 15:05] nickvergessen commented on #15975
The app is independent from the encryption itself and vice-versa.
Expected behaviour in my opinion.
There could be another encryption app, so enabling a random one might not be desired?

@schiesbn @DeepDiver1975

[2015-04-30 15:10] nickvergessen commented on #15976
Well
[code]
out puts a json list, so doing any other output breaks this nice behaviour and makes the list not easily parsable anymore.

I'd say we can group that with the status request you made, and have `encryption:status` which then outputs:

1. is it enabled
2. what's the default module

[2015-04-30 15:11] jknockaert commented on #15973
Fix proposed in #15980.

[2015-04-30 15:12] PVince81 opened #15981 "[enc2] Newly created user has no valid private key"
### Steps
1. Enable encryption in the admin page
2. Enable the default encryption module
3. Log out then log in again as admin
4. Create a new user "user1"
5. Log in as "user1"

### Expected result
User1 can start using their account

### Actual result
Warning "Encryption App enabled but your keys are not initialized, please log-out and log-in again"
The "welcome.txt" file from the skeleton as 0 b

[2015-04-30 15:17] PVince81 commented on #15981
Introduced by https://github.com/owncloud/core/pull/15968 (@icewind1991)

It looks like changing the hook from "setup" to "preSetup" messes up with the creation.

I wonder if it messes up with other things too, risky change :frowning:

[2015-04-30 15:29] jnfrmarks commented on #15975
I understand what you're saying - as the end user though my initial thought was Great! I can enable encryption here.

While the command option is new, this is a slight change in use of language from earlier versions.  Pre 8.1, "enabling encryption" meant file encryption is on and was part and parcel with enabling the app.

In 8.1, enabling encryption is now a two step process: first enable the app

[2015-04-30 15:35] jvillafanez opened #15982 "Anonymous access isn't allowed in the AD LDAP server, but wizard mark the configuration as ok"
### Steps to reproduce
1. Setup a LDAP server without allowing anonymous access (checked with AD)
2. Configure the server tab of the LDAP wizard against the server with anonymous access (no username nor password, and the rest of the tab is ok)

### Expected behaviour
Since anonymous access isn't allowed in the server, the wizard should show an error, marking the configuration as wrong and preventi

[2015-04-30 15:35] jvillafanez commented on #15982
@blizzz

[2015-04-30 15:36] iliyasbasir commented on #15865
@blizzz  Can you update me on this when you have moment plz

[2015-04-30 15:37] nickvergessen commented on #15975
Encryption docs have already been updated:
https://github.com/owncloud/documentation/pull/1088

I mean we can add output and tell the user to check if an encryption module is installed, but we shouldnt enable/install any app.

[2015-04-30 15:41] PVince81 commented on #15970
When downloading a specific version, the size doesn't match:
[code]

The "bbbb" is the actual content of the file, which is only a few bytes big.

8k looks like it's the encrypted size (with the first 8k header block)

[2015-04-30 15:45] PVince81 opened #15983 "Missing focus style for radio buttons"
### Steps

(_Alternatively just go to the admin page and tab to the radio buttons of the cron settings. – Jan_)
1. Enable encryption
2. Go to admin page
3. Enter recovery password twice
4. Tab to the radio buttons
### Expected result

Visible focus/active style
### Actual result

Invisible focus. If you use the up/down arrows you can change the radio button value, which proves that the focus is th

[2015-04-30 15:56] jnfrmarks commented on #15975
I like the idea of giving some indication that the user needs to check if the module is installed and enabled.  Maybe we can put that with the verbose option and with usage/help?
\

[2015-04-30 15:58] PVince81 commented on #15970
I debugged a bit and saw that `$this->filesize()` expects the field "encrypted" to be true in the database, which isn't the case for version files:
[code]

Also, I remember @SergioBertolinSG asking whether versions that existed before enabling encryption would still be unencrypted on disk. This would be achieved by having the old versions have the "encryption" flag set to 0, but the new ones set t

[2015-04-30 16:05] DeepDiver1975 commented on #15865
@iliyasbasir @blizzz is on a sick leave at the moment - hopefully he will be back next week.

[2015-04-30 16:07] DeepDiver1975 commented on #15977
@nickvergessen

[2015-04-30 16:13] jnfrmarks commented on #15975
I now get the difference here and it is subtle (well to me anyway ;) )

Pre 8.1, encryption was enabled by enabling the app on the apps page.
In 8.1, encryption is enabled on the admin page.  In fact, you can try to enable it even if a module is not configured.  In that case, the UI displays a message to the user that an encryption module needs to be enabled - that is what we need to add here.

[2015-04-30 16:14] #15950 closed

[2015-04-30 16:18] DeepDiver1975 commented on #15975
yes for a warning/notice
no for automagically installing an app

[2015-04-30 16:18] DeepDiver1975 commented on #15975
@nickvergessen can you please add that warning? Thansk a lot!

[2015-04-30 16:20] davitol opened #15984 "Tooltips do not disappear sometimes using Safari 8.0.5 browser"
### Steps to reproduce
1. Go to LDAP wizard configuration using Safari 8.0.5
2. Move the cursor over the different textboxes

### Expected behaviour

Only one tooltip should be shown.

### Actual behaviour
Several tooltips are shown when we move the cursor over the textboxes as it is shown in the image

### Server configuration
**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

**Da

[2015-04-30 16:20] jnfrmarks commented on #15975
@DeepDiver1975

I concur now that I understand the change a bit more :)

[2015-04-30 16:20] davitol commented on #15984
@jancborchardt

[2015-04-30 16:27] jancborchardt commented on #15984
This will be solved by moving from tipsy to the Bootstrap tooltip library: https://github.com/owncloud/core/issues/13646

[2015-04-30 16:59] carlaschroder commented on #14166
My apologies, I lost track of this! I copied it to the documentation Wiki. It's also on my list to review the admin manual. Thank you @shoeper

[2015-04-30 16:59] #14166 closed

[2015-04-30 16:59] carlaschroder commented on #14166
https://github.com/owncloud/documentation/wiki/Uploading-files-up-to-16GB

[2015-04-30 17:03] jancborchardt commented on #15983
Another point to test this is the Cron settings in Admin. We have styles for focus/hover on checkbox labels, but not on radio button labels strangely enough.

[2015-04-30 17:24] jnfrmarks commented on #15976
@nickvergessen

That sounds good.  I'll close this one since it will be covered in https://github.com/owncloud/core/issues/15977

[2015-04-30 17:24] #15976 closed

[2015-04-30 17:27] carlaschroder commented on #15762
@jnfrmarks @MorrisJobke
I am testing this on ownCloud 8.1 alpha 2, and it does not create a new user, it only changes passwords for existing users. To make it work I had to run as real root:

[code]
When fred is not an existing user it throws an error message:
[code]
When fred already exists, it is happy:

[code]

[2015-04-30 17:28] carlaschroder commented on #15762
And, obviously, `user:resetpassword` implies re-setting an existing password :)

[2015-04-30 17:29] carlaschroder commented on #15762
And I couldn't do anything until I set UTF-8 as the default in PHP. Ever notice how PHP is annoying like all of the time?

[2015-04-30 17:31] jnfrmarks commented on #15762
@carlaschroder

Sounds like we're good here.  Can we close this one?

[2015-04-30 17:35] carlaschroder commented on #15762
Ah, a brand-new user:add option. I heart surprises.

[2015-04-30 17:36] carlaschroder commented on #15762
no @jnfrmarks, I want to keep it open until I am finished uncovering all the surprises.

[2015-04-30 17:36] jnfrmarks opened #15986 "server to server checkbox checkable even if a module is not enabled"
### Steps to reproduce

1. Install 8.1
2. Navigate to admin page
3. click "server to server encryption" checkbox
4. get module not enabled message
5. navigate to apps page
6. enable a module
7. navigate back to the admin page
8. see that server to server encryption is enabled with the module present

### Expected behaviour

The checkbox should not be present or checkable if there isn't a module en

[2015-04-30 17:41] jnfrmarks opened #15987 "Can the UI encryption configuration bits be closer together on the screen?"
### Steps to reproduce

1. Install 8.1
2. Enable an encryption module
3. Navigate to admin page

### Expected behaviour

The encryption configuration UI bits should all be near each other

### Actual behaviour

The encryption configuration UI bits are spread out

![p337](https://cloud.githubusercontent.com/assets/8480343/7418793/9c7204ce-ef3e-11e4-8dec-9e65fbb90bff.PNG)

### Server Host info:

Ubu

[2015-04-30 17:44] jnfrmarks opened #15988 "Enhancement Request: Encryption UI configuration wizard"
Enhancement request:

As of 8.1 there are a few moving parts to enabling and configuring encryption.  Can we create a UI wizard similar to what we have for LDAP to keep everything together and guide the users through the configuration bits a bit more?

@MTRichards

[2015-04-30 18:00] karlitschek commented on #15988
@schiesbn

[2015-04-30 18:00] karlitschek commented on #15987
@schiesbn

[2015-04-30 18:01] karlitschek commented on #15986
@schiesbn

[2015-04-30 18:27] jnfrmarks opened #15989 "User asked to enable encryption keys when server side encryption is not enabled"
### Steps to reproduce

1. Install 8.1
2. Enable ownCloud default encryption module
3. Log out
4. Log back in

### Expected behaviour

User should not be asked to initialize encryption keys

### Actual behaviour

User is asked to initialize encryption keys

![p338](https://cloud.githubusercontent.com/assets/8480343/7419708/f03d4a36-ef44-11e4-911d-5b9ef222193b.PNG)

### Server Host info:

Ubuntu 14

[2015-04-30 18:29] karlitschek commented on #15989
@schiesbn

[2015-04-30 18:51] atroxix commented on #15856
What's special about my user:
* I've got tons of files/folders shared with very many people; there are also shared files within shared folders etc.
* I can't imagine how can a folder contain some other data shared with myself, so I guess there are no "incoming shares" :)
* Although we have encryption and recovery key enabled, I haven't enabled recovery key for my user.

[2015-04-30 19:15] sbelov1 opened #15990 "External Storage app: failed WebDAV connection with OpenText Livelink"
Our appliance: oC 8.0.2, Apache, OpenSUSE 13.1, MariaDB
User is trying to connect OpenText Livelink via WebDAV.
 He's filling in the fields for the WebDAV connection, but unable to see the share
![1](https://cloud.githubusercontent.com/assets/8365936/7420571/94cdfb6c-ef4b-11e4-9e80-12cf8e2b020c.jpg)

 Log:
[code]

[2015-04-30 19:30] carlaschroder commented on #15762
eh, let's close it. I have a doc issue open. Thanks everyone!

[2015-04-30 19:30] #15762 closed

[2015-04-30 20:04] carlaschroder opened #15991 "what are ldap:create-empty-config and ldap:delete-config for?"
Will someone explain what the occ commands  ldap:create-empty-config and  ldap:delete-config are for? I need some basic use cases plz. Are these intended as normal LDAP maintenance commands?

 ldap:delete-config configID

Where does the configID come from? ldap:show-config?

[2015-04-30 20:18] karlitschek commented on #15991
@blizzz can you help with that?

[2015-04-30 20:28] craigpg commented on #15392
@butonic, assigning this to you per your conversation with @bboule.

[2015-04-30 20:34] karlitschek opened #15992 "fresh installation with strange errors in logfile"
After a fresh setup of ownCloud I see this messages in the logfile. This shouldn´t happen and gives a bad impression about our code.

--------------------------
Error	PHP	Undefined offset: 0 at /var/www/owncloud/core/lib/private/appframework/http/request.php#683	2015-04-30T20:26:57+00:00
Error	PHP	Undefined offset: 0 at /var/www/owncloud/core/lib/private/appframework/http/request.php#683	2015-04-3

[2015-04-30 20:35] karlitschek commented on #15992
@Raydiation @PVince81  what do you think?

[2015-04-30 21:05] Raydiation commented on #15992
Error happens here https://github.com/owncloud/core/blob/master/lib/private/appframework/http/request.php#L683

Apparently is caused by having no trusted_domains setting in config/config.php which could be because initially there are no trusted domains

@LukasReschke ideas?

[2015-04-30 21:06] Raydiation commented on #15992
@karlitschek is the setting present?

[2015-04-30 21:42] karlitschek commented on #15992
Well the setting is the default that was automatically detected during setup.
'trusted_domains' =>
array (
0 => 'dev',
),

Independently how this is configured, we should never spam the logfile

[2015-04-30 22:56] ati562 opened #15994 "Click during directory rename causes the content to disappear in web browser"
### Steps to reproduce
1. Create directory \dirA containing at least 30 images with size altogether 30 MB
2. Rename directory \dirA in the browser to \dirB
3. Click (open) a different directory (e.g. \otherDirectory) while the previously mentioned directory \dirA is being renamed (the progress circle is spinning)
4. Return to the root directory \

### Expected behaviour
* \dirB is displayed once
*

[2015-05-01 00:22] carlaschroder opened #15995 "occ check is silent"
Another new command to document: occ check "check dependencies of the server environment"
Is this a user command, and under what circumstances would a user run it?

[2015-05-01 01:17] carlaschroder opened #15996 "php occ l10n:createjs fails with error message"
More occ fun! :dancer:

I'm testing on 8.1 alpha 2, using the syntax ` l10n:createjs appname language_name'

[code]

Any idea? Am I doing something wrong? I take the language names from core/l10n/

[2015-05-01 02:04] dagan opened #15997 "\OC\Files\Filesystem::initMountPoints() misuses OCP\Files\Config\IMountPointProviderCollection"
[code]
https://github.com/owncloud/core/blob/master/lib/private/files/filesystem.php#L414-L419

```OC\Files\Filesystem::initMountPoints()``` retrieves the ```OCP\Files\Config\IMountProviderCollection``` object and calls ```getMountsForUser()```, which returns an array of ```OCP\Files\Mount\IMountPoint``` objects. The ```IMountPoint``` objects are then passed to ```OC\Files\Mount\Manager::addMount(

[2015-05-01 06:01] eagles051387 commented on #15856
The difference then in my setup is im not using sharing as its my own
personal OC server plus i have encryption enabled also I am using apache as
my webserver

On Thu, Apr 30, 2015 at 8:51 PM, Silver <notifications@github.com> wrote:

--
Jonathan Aquilina

[2015-05-01 08:51] Raydiation commented on #15992
Tested on PHP 5.6.4, I can only reproduce {"reqId":"onsHOAQTJRTs2YBDf1YB","remoteAddr":"::1","app":"PHP","message":"fopen(\/srv\/http\/owncloud\/config\/config.php): failed to open stream: No such file or directory at \/srv\/http\/owncloud\/lib\/private\/config.php#191","level":3,"time":"2015-05-01T08:49:16+00:00"}

on apache.

[2015-05-01 08:52] Raydiation commented on #15992
Error PHP touch(): Unable to create file /var/www/owncloud/core/data/owncloud.log because No such file or directory at /var/www/owncloud/core/lib/private/log/owncloud.php#60 2015-04-30T20:25:57+00:00

went away when I created a data directory beforehand btw.

[2015-05-01 08:54] Raydiation commented on #15992
Steps I've used:

http is the webserver user and /srv/http the apache directory

    cd /srv/http
    ocdev setup core --dir owncloud
    cd owncloud
    mkdir data
    sudo chown -R http:http data
    sudo chown -R http:http apps
    sudo chown -R http:http config

[2015-05-01 09:01] DeepDiver1975 commented on #15996
Afaik there is a pr open to fix this ....

[2015-05-01 09:36] DeepDiver1975 commented on #15992
well - at any point in time non-sense could be read from the config file.
Array access always has to be validated in order to prevent such errors.

[2015-05-01 09:42] DeepDiver1975 commented on #15992
strange - this should not create any error because of @ - https://github.com/owncloud/core/blob/master/lib/private/log/owncloud.php#L60

[2015-05-01 09:53] Raydiation commented on #15992
@DeepDiver1975 indeed, the question is though why this is there in the first place and what implications on security it could have if we swallow it. Depending on the reason it may be better to throw an exception.

[2015-05-01 10:24] RealRancor commented on #15992
Hi,

the touch() error was already reported some time ago at: https://github.com/owncloud/core/issues/12893

[2015-05-01 10:42] derkostka commented on #7138
Here is a first test:
Large File Tests

Setup

Ubuntu 14.04  - 32 Bit - on armhf (hardkernel odroid u2, 4x1,7 GHz Samsung Exynos 32 Bit CPU, 2 GB Ram)
Owncloud 8.1.0 alpha 2
Apache 2.4.7-ubuntu
PHP 5.5.9-ubuntu (lfs support is expected, because the lib folder contains the string "lfs")

Client Machine Mac OS 10.7.5, Core2Duo CPU (64 Bit supported)
Owncloud Desktop Client, 1.8.1-RC1

#1 Upload 1,1

[2015-05-01 14:38] dagan opened #15999 "apps/files/ajax/delete.php calls OC\Files\Filesystem::unlink() for directories"
[code]
https://github.com/owncloud/core/blob/master/apps/files/ajax/delete.php#L55-L64

```\OC\Files\Filesystem``` has two methods for deleting objects—```unlink()``` to delete files and ```rmdir()``` to remove directories—which are forwarded to the view and then to the underlying storage. If the storage then implements ```unlink()``` using PHP's ```unlink()``` function, deleting a directory will

[2015-05-01 14:51] carlaschroder commented on #15996
ok I'll close this. Thanks!

[2015-05-01 14:51] #15996 closed

[2015-05-01 15:18] DeepDiver1975 commented on #15996
yes - it was fixed in here https://github.com/owncloud/core/pull/15892

[2015-05-01 15:28] cortopy opened #16000 "Large number of files conflicting"
Writing this as redirected by https://github.com/owncloud/client/issues/3178#issuecomment-98129405

***
EDIT: I just run it again now and behaviour is even weirder. Not all modified files generate conflict. A small number still sync ok. Conflicts generate on all the ones which have been generating conflicts and also some of the newly modified files.
***

When I change a file locally, desktop sync

[2015-05-01 15:49] DeepDiver1975 commented on #15999
@icewind1991 can I ask you to have a look? THX

[2015-05-01 15:57] DeepDiver1975 commented on #16000
this error occurs in cases where the mysql wait_timeout is set to a too low value - https://dev.mysql.com/doc/refman/5.0/en/server-system-variables.html#sysvar_wait_timeout

Maybe you can try to increase the value and see if you have move success.

[2015-05-01 17:33] jancborchardt commented on #15988
Yes, we definitely need to make this easier. Also the whole new module stuff needs to be eased out.

[2015-05-01 17:35] jancborchardt commented on #15987
Yes, we should move them together as we did with the Sharing and Federated Sharing settings as well. Also the basic encryption should only be named »Basic encryption module«.

Server-side encryption should be moved _above_ the Basic encryption module.

cc @nickvergessen because he worked on moving some other settings together.

[2015-05-01 17:36] jancborchardt commented on #15987
Oh and ideally it should open as one section, just like Sharing and Federated sharing does.

[2015-05-01 17:38] jancborchardt commented on #15986
The problem is on a higher level (I really don’t understand this complexity with the modules). This:

… should never happen. It’s stupid I have to manually then move to the apps page again and enable a module.

If I install encryption, of course I just want to use it which means the default module should probably be installed by default. Otherwise it’s just cumbersome.

[2015-05-01 17:40] jancborchardt commented on #15983
@owncloud/designers any idea why there are hover/focus styles for checkboxes but not for radio buttons?

[2015-05-01 17:54] jancborchardt commented on #15954
Fix at https://github.com/owncloud/core/pull/16001

[2015-05-01 17:57] bboule commented on #12035
Guys it does not look like anyone has commented on this in two months... @cdamken what is the status of the case with the customer?  trying to sort out what this needs to move forward or close??

[2015-05-01 17:58] jancborchardt commented on #15953
That’s because clicking on the title is only useful for the apps from the store – a click on the name opens their store page. A click on the title for local apps should of course not do anything.

@DeepDiver1975 can you fix this?

[2015-05-01 18:02] jancborchardt commented on #15851
Yeah, this should go much faster. A start would be that the appstore just has the titles, authors and the id’s of the app in a list which can be fetched by one request. Any app description or whatever can be loaded later.

[2015-05-01 18:03] RealRancor commented on #16000
Had also referenced to the existing issues about the mysql issue in the old issue: https://github.com/owncloud/core/issues/15407

[2015-05-01 18:07] jancborchardt commented on #15871
It should definitely expire them not only as soon as the file is interacted with. A background job sounds like a good solution indeed.

[2015-05-01 18:56] gig13 commented on #14478
@MTRichards @bboule

[2015-05-01 20:12] iliyasbasir commented on #13781
@PVince81 Here is note from customer

[code]

[2015-05-01 21:17] carlaschroder opened #16002 "wrong manual version numbers in 8.1 server"
I have a test 8.1 alpha 2, and I noticed lots of links to documentation  incorporated throughout. Hurrah! Nice work. But, they point to the 8.0 manuals, so where does `go.php` get the oC version? Is that something I can fix?

![wrong-doc-links](https://cloud.githubusercontent.com/assets/8388387/7437496/b142be10-f00c-11e4-8e5a-148be4e4b11f.png)

[2015-05-01 21:52] carlaschroder commented on #15832
See how y'all like this one https://github.com/owncloud/documentation/pull/1099

[2015-05-01 22:06] jancborchardt opened #16003 "Apps search should work across categories"
Currently in the apps management, the search only works in the current category. However one of the most common usecases is to:
1. Open the apps mgmt
2. Wanting to enable a new app
3. Trying to find it through search

– which will not succeed because only the already enabled apps will be searched.

cc @icewind1991 would be a great enhancement. :)

[2015-05-01 22:09] carlaschroder commented on #16002
I'm pretty sure Morris told me long ago, but it's not in my notes. :scream_cat:

[2015-05-01 22:10] jancborchardt opened #16004 "Apps mgmt: add categories for »Recently updated« and »Most popular«"
Similar to the site itself at https://apps.owncloud.com, it would be cool to have categories in the apps mgmt for »Recently updated« and »Most popular« apps.

@karlitschek @LukasReschke @DeepDiver1975

[2015-05-01 22:14] jancborchardt commented on #15651
Even better would be to search across categories in the first place: https://github.com/owncloud/core/issues/16003

[2015-05-01 22:15] jancborchardt commented on #15812
@nickvergessen if you assign @rullzer then you also need to mention him. I don’t think being assigned lets people know by mail or in any other way.

[2015-05-01 22:15] jancborchardt commented on #15812
(Ah, maybe it does ;)

[2015-05-01 22:18] jancborchardt commented on #15759
Well, the files being uploaded should directly appear in the list with a spinner, so we don’t need to add that info on top there. The percentage is also not really interesting since that’s what the bar already represents.

[2015-05-01 22:19] jancborchardt commented on #15731
@csphoenix1 what’s the use-case for it? Shared files are also your own files.

[2015-05-01 22:20] jancborchardt commented on #15709
Well, actually I would say this is more of a bug which we should polish for 8.1. Don’t you think @karlitschek @LukasReschke? Otherwise it looks pretty stupid and people will think our appstore is very empty.

(@pascalBokBok good suggestion!)

[2015-05-01 22:27] jancborchardt commented on #15676
I like parts of this, but parts are also too much. Let’s see:

Which major browsers do you mean? Safari for iOS mobile, Chrome for Android mobile, Chrome for Desktop, and Firefox for Desktop?
This seems a bit like over-management at this point. We’re at a too early stage in the appstore to restrict it like this and make it difficult for app developers. Sure it would be great if every app would wor

[2015-05-01 22:30] jancborchardt commented on #15775
@oparoz what do you think about the points from @jospoortvliet and me?

[2015-05-01 22:32] jancborchardt commented on #15669
This needs to be fixed for 8.1, right?

[2015-05-01 22:33] jancborchardt commented on #15174
This relates to undo for deletion: https://github.com/owncloud/core/pull/15002

[2015-05-01 22:35] jancborchardt commented on #15024
I’m closing this since the general interface should just not be zoomable. However, the Gallery or other viewers should make it possible to zoom images.

[2015-05-01 22:35] #15024 closed

[2015-05-01 22:35] jancborchardt commented on #14811
@rullzer @Xenopathic any updates here? Would be cool to only show the update notification temporarily.

[2015-05-01 22:36] jancborchardt commented on #14811
Probably even good as polish for 8.1

[2015-05-01 22:41] jancborchardt commented on #15614
I agree – why do I have to have all the `public function getSyncClientUrl()` and such in there? It should just be a json file with the variables and the relevant values.

[2015-05-01 22:43] jancborchardt commented on #15556
@finius can you track down the commit with which this started to happen? That would be massively helpful! :)

[2015-05-01 22:45] jancborchardt commented on #11517
Now we have an anchor for the external storage setting.

We should add a button (like the »New« button in the normal All files view) saying »Add external storage« which leads to the anchor on the Personal settings page.

Who can do that? @PVince81 @LukasReschke please mention a relevant person.

[2015-05-01 22:46] jancborchardt commented on #11107
@schiesbn 8.1 or 8.2?

[2015-05-01 22:47] jancborchardt commented on #10389
@luckydonald @vgezer @enoch85 any update on this? I’d be happy if one of you can fix this and prepare a pull request.

[2015-05-01 22:48] jancborchardt commented on #6403
@tomneedham any fix in the pipeline?

[2015-05-01 22:50] tomneedham commented on #6403
Off for exams till June :( Fix is in my rewrite code from Nürnberg meetup, along with a ton of other fixes

[2015-05-01 23:06] colmoneill opened #16006 "PHP settings for installation"
Installing ownCloud locally, I got prompted with this:
![screenshot from 2015-05-01 22 17 40](https://cloud.githubusercontent.com/assets/2122318/7438576/ce1ce57e-f066-11e4-9082-6e2bef713528.png)

Default ubuntu 14.04
PHP 5.5.9-1ubuntu4.9 (cli) (built: Apr 17 2015 11:44:57)
Latest git master

[2015-05-01 23:32] jancborchardt commented on #6403
@tomneedham so is that reviewable / up as a pull request? Ideally in a branch so someone else can take over?

[2015-05-02 05:01] wolfgangkarall opened #16007 "Error during upgrading Debian packages to 8.0.3-1"
[code]

Another run of apt (i.e. apt-get -f install) fixes the issue (since owncloud-config-apache is then at 8.0.3-1 already), but moving files from one Debian package to another package should be handled differently I guess.

[2015-05-02 07:05] libasys commented on #15775
My 5 cent to this discussion! The points of @jancborchardt and @jospoortvliet are ok, but for my need i like options and advanced features to enhance owncloud! Meanwhile i have to maintain round about 8 apps, that i can say yes now owncloud is perfect for my needs. So i  am a user/dev of 0.5%! ;) The GUI design is a personal feeling, I am not really happy with the standard design of OC, but this i

[2015-05-02 07:31] RealRancor commented on #16006
Hi,

what problems do you have with following whats written in the boxes?

[2015-05-02 08:52] namgo commented on #14022
I had this exact same error message on FreeBSD even with OwnCloud 8.0.2.  The issue was that php was looking for certs where they weren't.  https://forums.freebsd.org/threads/ssl-certificates-for-use-with-wget.33058/ is the resolution for what I encountered.

[2015-05-02 09:08] finius commented on #15556
@jancborchardt sorry? if the question is since when the file/folder list started to be unscollable on iOs devices, the answer is "since the upgrade to ownCloud 8"

[2015-05-02 09:48] derkostka commented on #13828
Just a side Note: OSX is picky about WebDav LOCK. It expects locking to be working and otherwise only mounts the share as read-only (finder implementation).
Do you have a work around for that ?

[2015-05-02 11:06] RealRancor opened #16008 "Update to 8.0.3 broken: impossible to write to binary log since BINLOG_FORMAT = STATEMENT"
### Steps to reproduce
1. Have a stable running OC 8.0.2
2. Manual update to OC 8.0.3 by copying over the content of owncloud-8.0.3.tar.bz2
3. Run ./occ upgrade or open the WebGUI

### Expected behaviour
No exception should be thrown for the update process

### Actual behaviour
Update is failing with the exception posted below

### Server configuration
**Operating system**: Debian Jessie

**Web se

[2015-05-02 11:10] shoelzle commented on #13908
Hello,

Same issue here: Sharing via links is not working for any files or folders.
Nothing suspicious in the logs, not even with loglevel set to 0 (debug).

Owncloud: 8.0.2
PHP: 5.6.1
Webserver: Apache
Operating System: openSUSE 13.2
Database: MySQL

I can provide more information if necessary. Any help is appreciated.

[2015-05-02 11:16] RealRancor commented on #16008
BINLOG_FORMAT = STATEMENT is the default setting in common MySQL versions like 5.5 or 5.6:

https://dev.mysql.com/doc/refman/5.5/en/binary-log-setting.html
https://dev.mysql.com/doc/refman/5.6/en/binary-log-setting.html

so no custom MySQL config in place here.

[2015-05-02 11:26] jsalatiel commented on #16007
Another run of apt (i.e. apt-get -f install)  DOES NOT fix the issue.

sudo apt-get -f install
Reading package lists... Done
Building dependency tree
Reading state information... Done
Correcting dependencies... Done
The following extra packages will be installed:
  owncloud-server
The following packages will be upgraded:
  owncloud-server
1 upgraded, 0 newly installed, 0 to remove and 7 not upgrad

[2015-05-02 11:33] maste9 commented on #16008
Confirming bug after updating to 8.0.3 with same log output under

## Server configuration

**Operating system:** Debian Wheezy

**Web server:** Apache 2.2.22-13+deb7u4

**Database:** MariaDB 10.0.12+maria-1~wheezy

**PHP version:** 5.4.39-0+deb7u2

**ownCloud version:** 8.0.2 trying to update to 8.0.3

**Updated from an older ownCloud or fresh install:** Updated from an older OC version

**List o

[2015-05-02 11:38] RealRancor commented on #16008
@maste9
Its save to just overwrite the existing OC 8.0.3 files with the older ones from the owncloud-8.0.2.tar.bz2 to get your instance up and running again.

[2015-05-02 12:08] pLum0 commented on #14209
Bug still existing in owncloud 8.0.3 :-(
Hack works, but don't really want to use it, when it's not sure what else it does.

[2015-05-02 12:16] maste9 commented on #16008
@RealRancor
Thx a lot! You saved my day and myself of cardiac arrest. *bow down*

[2015-05-02 12:35] oparoz commented on #15676
I meant the 3 major desktop browsers (FF, Chrome, IE), since there are mobile apps available and since we can introduce the mobile label for people who can't use the apps.

The reason to include IE in the official apps QA criteria is because the core team is spending time to maintain IE8 workarounds, so it has to be because official apps support it, otherwise resources are best allocated elsewhere

[2015-05-02 13:49] benurb commented on #16008
If you're able to change the mysql configuration you can also set `binlog_format = MIXED`, though a explaination why this is needed would be appreciated.

[2015-05-02 13:54] benurb commented on #16007
For me on Ubuntu 14.10 another `apt-get -f install` did the trick. You might be able to fix our problem with `dpkg -r --force-depends "owncloud-config-apache "`, but no guarantee for that.

[2015-05-02 14:03] helmutschneider commented on #13507
Confirmed working on master. S3 structure:
[code]

Relevant part of scan output:
[code]

[2015-05-02 14:37] jsalatiel commented on #16007
I did that, and it worked, thanks !

[2015-05-02 14:51] jancborchardt opened #16010 "»Lock« messages in logfile about avatar requests"
Since a few days (current master) I’m getting these strange log messages:
[code]

Any idea what that is? cc @georgehrke @LukasReschke

[2015-05-02 14:52] markus80 commented on #16008
same here - also with mariadb 10, nginx....
@RealRancor: is a bug and will it be fixed or not?

[2015-05-02 14:55] RealRancor commented on #16008
@markus80
How should i know if this is a bug or not? I'm just the reporter...

[2015-05-02 15:06] benurb commented on #16008
It's a bit strange since only MariaDB seems to be affected, though MySQL 5.6 has the binlog_format set to STATEMENT by default, too.

[2015-05-02 17:19] dagan opened #16011 "OCP\AppFramework\Controller::buildResponse() indicates wrong return type"
[code]
https://github.com/owncloud/core/blob/master/lib/public/appframework/controller.php#L132-L141

The PHPDoc indicates the return type is ```OCP\AppFramework\Response```, which is not a defined typed. The actual return type is ```OCP\AppFramework\Http\Response```.

[2015-05-02 17:46] LukasReschke commented on #16010
Sure. It is the files_locking app logging all file locks. The log mode is per https://github.com/owncloud/files_locking/blob/c9c785a7f017051ee35f317d26dcdb9150c8384c/lib/lock.php#L116 set to DEBUG so lower your logging mode or ignore them ;)

[2015-05-02 17:46] #16010 closed

[2015-05-02 17:48] karlitschek commented on #16010
hmm. is this excesive logging really necessary? even on debug?

[2015-05-02 17:50] LukasReschke commented on #16011
`OCP\AppFramework\Http\Response` is embedded as use statement in https://github.com/owncloud/core/blob/aa0d439ed9c38389a4508e95a0dd00fa857a5bf8/lib/public/appframework/controller.php#L37 thus compliant PHPDoc should be able to resolve this. I suspect that you refer to stable8 were this is not the case since this seems to have been added with https://github.com/owncloud/core/commit/7644950b48b094bf

[2015-05-02 17:50] LukasReschke commented on #16011
cc @MorrisJobke

[2015-05-02 17:51] dagan commented on #16011
@LukasReschke You are correct.

[2015-05-02 17:52] LukasReschke commented on #16011
Fix is at https://github.com/owncloud/core/pull/16012

[2015-05-02 17:52] LukasReschke commented on #15997
cc @icewind1991 @DeepDiver1975 @MorrisJobke

[2015-05-02 17:55] chtse53 commented on #16008
Same error here.
Ubuntu 14.04
Apache 2.4.7
MySQL 5.5.43
PHP 5.5.9

[2015-05-02 17:57] LukasReschke commented on #16010
Yes please – better not to hide stuff that is helpful to debug race conditions and Co. This is essential to debug files_locking problems.

[2015-05-02 18:04] LukasReschke commented on #14670
All mine.

[2015-05-02 18:10] RealRancor commented on #16008
Ok, so it seems not only MariaDB is affected.

[2015-05-02 18:25] jancborchardt commented on #16010
Ah ok, thanks. In that case I’ll just deactivate the locking app. :)

[2015-05-02 18:28] LukasReschke opened #16013 "Reconsider adding ob_end_clean() in remote.php for files app"
@karlitschek has requested why we have an hard dependency on `output_buffering` set to `off` with ownCloud 8.1 – thus I investigated it a little bit.

This check has been introduced since [our documentation](https://doc.owncloud.org/server/7.0/admin_manual/configuration/big_file_upload_configuration.html#configuring-php), the [SabreDAV documentation](http://sabre.io/dav/large-files/) as well as @e

[2015-05-02 18:33] LukasReschke commented on #16013
(that said webservers that respect the `.htaccess` or our `.user.ini` are fine since we set this value ourselves)

[2015-05-02 18:53] LukasReschke opened #16014 "Consider workaround around always_populate_raw_post_data"
@karlitschek has requested why we have an hard dependency on `always_populate_raw_post_data` set to `-1` with ownCloud 8.1 – thus I investigated a little bit.

As per https://www.bram.us/2014/10/26/php-5-6-automatically-populating-http_raw_post_data-is-deprecated-and-will-be-removed-in-a-future-version/ PHP 5.6 will throw the following notice in case a POST request using `application/json` as Cont

[2015-05-02 19:06] LukasReschke commented on #16002
Patch is at https://github.com/owncloud/core/pull/16015 :-)

[2015-05-02 19:29] LukasReschke commented on #15992
Let me think about the consequences of returning an empty string on `getServerHost` in case of an error. I think it should be safe. Something for next week.

[2015-05-02 19:34] starak commented on #16007
For me on Ubuntu 14.04 another `apt-get -f install` did the trick as vel. Thanks!

[2015-05-02 19:42] #16011 closed

[2015-05-02 19:44] #16002 closed

[2015-05-02 19:46] #15954 closed

[2015-05-02 21:09] dagan opened #16016 "\OC\Files\Config\MountProviderCollection::registerProvider() should add mounts for user already set up"
[code]
https://github.com/owncloud/core/blob/stable8/lib/private/files/config/mountprovidercollection.php#L47-L54

If ```OC\Files\Config\MountProviderCollection::registerProvider()``` is called after any user has already been set up via ```OC\Files\Filesystem::initMountPoints($user)```, that user/those users will never get the mount points that would have been returned by the provider. This is par

[2015-05-02 22:41] karlitschek commented on #16013
I´m not arguing that output buffering should be disabled. Possible that this is a good idea.
But we should at least first try to disable it automatically with ini_set before be block the complete owncloud. The default in most installations is output buffering on.
This means that owncloud will stop working for a huge number of users when upgrading to 8.1
We can´t do this.

@LukasReschke Can you che

[2015-05-02 22:44] karlitschek commented on #16014
Yes. But this sounds like something we can leave on the admin page. So let´s first try to reconfigure php with ini_set and/or error_reporting. And only if this fails we should add a warning to the admin page.
@LukasReschke Can you look into that?

[2015-05-02 22:47] karlitschek commented on #16006
@LukasReschke @DeepDiver1975 is it possible to set this via ini_set instead of blocking the full owncloud setup?
http://stackoverflow.com/questions/8229696/do-i-need-to-set-ini-set-default-charset-utf-8

[2015-05-02 23:13] LukasReschke commented on #16014
We can't really use ini_set on this. PHP does not execute user-land code before this deprecation is thrown. What we can do is adjust the error_reporting and I'd strongly advise against yet another warning as users simply ignore it as we learned ;-)

[2015-05-02 23:15] LukasReschke commented on #16013
Well - the way to go as described in the ticket is that @DeepDiver1975 and @icewind1991 explain the changes they did to the OB handling in remote.php - if it is as simple as re-adding it we can just re-add this...

[2015-05-02 23:25] karlitschek commented on #16014
agreed. let´s do that

[2015-05-03 01:48] brendanpuck commented on #16007
@benurb Thanks the dpkg force-depends was necessary on my Ubuntu 14.04 - much appreciated!

[2015-05-03 05:25] evert commented on #16013
The reason output buffering needs to be off is simple. The purpose of the feature is to put the entire HTTP response into memory before sending it to the client.

So if your HTTP response is massive, the entire file goes into memory. This means if you have a big file, you can drag down an entire server.

Frankly it's completely baffling to me why anyone would pick it as the default setting, like u

[2015-05-03 07:23] MoonUnit2 commented on #16008
Just chiming in here.
Debian Wheezy
MariaDB 10.0.17
Nginx 1.6.3
php-fpm 5.5.24

Glad I am not the only one with problems.

[2015-05-03 07:26] benurb commented on #16008
Like I wrote above I used `binlog_format = MIXED` and the update worked just fine. So it's not broken per se.

[2015-05-03 08:04] RealRancor commented on #16008
It will be broken for all the shared hosting users out there when the updater app starting to ship this version.

[2015-05-03 08:47] boltronics commented on #16007
I got this too on Wheezy. Luckily ```apt-get -f install`` worked.

[2015-05-03 08:58] lingfish commented on #14048
I don't get why @LukasReschke closed this -- it's not just calendar.

[2015-05-03 09:50] RalfJung commented on #16007
The Debian packaging guide has all the information for how to move files from one package to another: <https://www.debian.org/doc/debian-policy/ch-relationships.html#s-replaces>.

[2015-05-03 09:58] MorrisJobke commented on #10389
The fix for the title is already in master and the additional tooltip is browser specific and there seems to be no way to remove it.

https://stackoverflow.com/questions/1084925/input-type-file-show-only-button <- they only remove the text beside the input, but not the actual tooltip. Therefore I would close this as "not fixable".

[2015-05-03 09:58] #10389 closed

[2015-05-03 10:33] MorrisJobke commented on #14811
Fix is in #16017

[2015-05-03 11:17] MorrisJobke commented on #15468
Fixed in master with #15486. Backport for 8.0.4 in #16019

[2015-05-03 11:17] #15468 closed

[2015-05-03 11:19] MorrisJobke commented on #12035
This needs manual fixes inside the database. We are working on this.

[2015-05-03 11:24] LukasReschke commented on #16006
https://github.com/owncloud/core/pull/16020 should work in this case

[2015-05-03 11:35] MorrisJobke commented on #13781
@karlitschek This is the reference of the comment from https://github.com/owncloud/core/pull/15833#issuecomment-98471959 ;)

[2015-05-03 12:02] OtakuWally commented on #14048
Well, then MAYBE SOMEONE should meke an issue about this ;-)

[2015-05-03 12:08] MorrisJobke commented on #15790
@sitcool I now get the correct HTTP 404 with an empty token and a weird HTTP 304 for the token you provided. @LukasReschke Shouldn't then there be a redirect?

[2015-05-03 12:11] MorrisJobke commented on #15948
@jnfrmarks Please explain it here :)

[2015-05-03 12:31] LukasReschke commented on #14048
Original issue was resolved: File a new one using the issue template. If file syncing works and this only affects calendar / contacts file an issue there.

[2015-05-03 12:50] ghoffart commented on #16008
Same error here: running on Debian 6 LTS aka 6.0.10, mysql Ver 14.14 Distrib 5.5.38 and PHP 5.4.40-1~dotdeb+squeeze.1

[2015-05-03 12:53] MTRichards opened #16021 "Encryption UX Update"
As of 8.1 there are new moving parts to enabling and configuring encryption. They are spread out and confusing, and need some quick cosmetic admin page changes to avoid creating MAJOR problems for support and pre-sales, and more importantly our customers.

We need to try to get this in for 8.1, as this is VERY confusing and a VERY tough UX.

The short term solution seems to be straight forward for

[2015-05-03 12:54] MTRichards commented on #16021
@schiesbn @jnfrmarks @karlitschek @DeepDiver1975

[2015-05-03 13:50] maxmitch commented on #13834
I have this problem

[2015-05-03 13:53] johnwoltman commented on #14048
Neither project is taking responsibility for this issue. Very frustrating considering that ownCloud 7 worked perfectly. I haven't tried 8.0.3 yet, but hopefully I'll try it today.

[2015-05-03 14:05] lingfish commented on #14048
I don't see where this issue was fixed, only that some patch in a forum was mentioned. Which commit fixed it?

I just upgraded from 7.x to 8.0.3 only a few hours ago, and calendar sync broke. I had to use an upper case first letter in my username when using CalDav via Thunderbird. The upgrade also disabled what seems to me to be non third party apps (calendar, contacts), flashed it briefly on scre

[2015-05-03 14:10] RealRancor commented on #14048
The fix for the initial reported issue is here: https://github.com/owncloud/core/issues/14275

[2015-05-03 14:13] OtakuWally commented on #14048
IMHO someone WITH this issue should simply file a bugreport instead of complaining that no one is taking responsibility? ;-)

[2015-05-03 14:16] RealRancor commented on #14048
Well spoke :)

[2015-05-03 15:02] tarator commented on #13908
@shoelzle Do you have suhosin enabled? In my case the problem was, that suhosin (with pretty much default settings) filters requestparams which don't have a value. In PHP then the check with `issset(param_name)` returns `false` when suhosin is enabled. If you disable suhosin the same PHP-Directive returns `true` since the param is simply `null` but not filtered-out.

@Developers: What do you think

[2015-05-03 15:30] cortopy commented on #16000
Thank you @DeepDiver1975  I think wait_timeout may have been too low (600) so I put it up to 40000 to be safe at least while debugging. However, that's not the end of the story.

I don't see how https://github.com/owncloud/core/issues/15407 could be relevant in my case. Mysql doesn't go away and at no point sync stops. It all looks to me like db is corrupt at many levels and I just don't know how

[2015-05-03 15:35] ncl2fth commented on #14478
Would love to see this feature to incorporate 1TB cloud into my owncloud.

[2015-05-03 15:37] mweimerskirch commented on #14769
I have the same issue. Renaming a file in the web interface doesn't work either. And because deleting a file actually means moving it into the "deleted" folder using the "rename" operation, that fails as well.

[2015-05-03 15:38] MorrisJobke commented on #16021
ref #15988 #15669 #15987

[2015-05-03 15:49] oparoz commented on #15775
@jospoortvliet
I agree that we shouldn't implement every idea out there by just adding more and more stuff to the UI, but as you've highlighted, there might be a need to have different views for folders, especially when sharing them, so that they work for the recipient, from the start.
When I suggested we let the sharer pick the view, I was told that this would make the UI too complex. That's wher

[2015-05-03 16:30] ColinFinck opened #16022 "MOD_X_ACCEL_REDIRECT stops working after upgrade from 7.0.4 to 8.0.3"
After upgrading from 7.0.4 to 8.0.3, my standard nginx MOD_X_ACCEL_REDIRECT configuration stopped working. The nginx error.log shows errors like:

2015/05/03 15:01:45 [error] 13096#0: *6 open() "/srv/www/public/srv/mydata/adminuser/files .....

For some reason, the document root /srv/www/public is now prepended to the data directory /srv/mydata. This wasn't the case previously.
I have updated ngin

[2015-05-03 16:45] ColinFinck opened #16023 "Gallery App totally broken after upgrade from 7.0.4 to 8.0.3"
ownCloud's Gallery App keeps spinning infinitely after upgrading from 7.0.4 to 8.0.3. Even after multiple tries and minutes of waiting, no pictures are shown.
Everytime when opening the Gallery App, two additional lines appear in the ownCloud error log:

Undefined index: You don’t have permission to upload or create files here at /srv/www/public/owncloud/lib/private/l10n/string.php#51
Undefined in

[2015-05-03 16:49] DeepDiver1975 commented on #16016
@icewind1991 can you please have a look? THX

[2015-05-03 17:01] ColinFinck commented on #16023
Moved to https://github.com/owncloud/gallery/issues/182

[2015-05-03 17:01] #16023 closed

[2015-05-03 17:16] RealRancor commented on #7747
@jospoortvliet
Sure, this was just a hint to look for this feature in the EE.

[2015-05-03 17:25] RealRancor commented on #16022
Will be fixed in OC 8.0.4: https://github.com/owncloud/core/pull/15287

[2015-05-03 17:31] #16022 closed

[2015-05-03 18:07] lennartjuette commented on #14048
There is an open issue for the CardDav Backend:
https://github.com/owncloud/contacts/issues/814

[2015-05-03 18:38] RealRancor commented on #14048
Yes, and also an (probably wrong) closed issue at the CalDAV Backend: https://github.com/owncloud/calendar/issues/712

[2015-05-03 19:05] rokco commented on #16008
just want to inform that me got the same error with debian and mysql. in my case the parameter BINLOG_FORMAT was set to STATEMENT. changing fixed the problem
mysql> SET GLOBAL binlog_format = 'MIXED';

[2015-05-03 19:13] RealRancor commented on #16008
If you're doing Replication in MySQL please read:

https://dev.mysql.com/doc/refman/5.6/en/binary-log-setting.html

before blindly changing this binlog_format to avoid having problems later.

[2015-05-03 19:23] colmoneill commented on #16006
Yes, I should have been more verbose, applying these settings is not a problem for me, it's more about pointing them out as possible enhancements to the install experience?

Thanks!

[2015-05-03 19:32] RealRancor commented on #16006
Mhhh, a short look into the PHP documentation how to set this settings should be enough from my PoV or what "more verbose" informations do you need?

[2015-05-03 20:08] colmoneill commented on #16006
Sorry, I'm causing confusion here; when I said "more verbose" I meant to say that *I should* have explained my initial concern in more detail, in a more verbose manor.

If these settings are normal, then no problem, and this issue can be closed;
It's just that I went though this installation with @jancborchardt and he seemed surprised by these  and asked me to report it to the core.

[2015-05-03 20:13] RealRancor commented on #16006
Ahh, sorry. Completely misunderstood that :/

[2015-05-03 20:26] Kalimeiro commented on #16008
same issue, resolved when adding "binlog-format = MIXED" to /etc/mysql/my.cnf

[2015-05-03 20:29] karlitschek commented on #16013
@evert understood. Or we try to switch it off.
The UTF-8 ini_set PR worked brilliantly by the way.

[2015-05-03 22:42] bantu opened #16025 "Unspawn autotest-hhvm.sh and autotest-external.sh copies"
autotest-hhvm.sh was spawned as a copy of autotest.sh via #11810 with the only difference being the interpreter used (PHP vs. HHVM). autotest.sh was improved in the meantime and has diverged from autotest-hhvm.sh.

The code shared by autotest-*.sh should be deduplicated. Ref #9310

[code]

[2015-05-03 22:55] DeepDiver1975 commented on #16025
PR welcome - THX

[2015-05-04 05:53] MoonUnit2 commented on #16008
Do you think it would be ok to set the binlog-format back to STATEMENT after running the upgrade or leave it as MIXED?

[2015-05-04 07:35] #16006 closed

[2015-05-04 07:43] DeepDiver1975 commented on #16021
also relevant https://github.com/owncloud/core/pull/15880#discussion_r29266301

[2015-05-04 07:46] DeepDiver1975 commented on #15794
@jnfrmarks well - take any app which still has php translation files and delete the corresponding js and json files - e.g. https://github.com/owncloud/calendar/tree/master/l10n

[2015-05-04 07:54] sokratisg commented on #15096
@jnweiger it seems that problem still hasn't been resolved. Can you please have a look at it?
Unfortunately it is a blocking issue for new OC installations and I think it should affect everyone redirected to this repo.

[2015-05-04 07:57] ibnuabdirrahim commented on #16008
same issue, resolved when adding "binlog-format = MIXED" to /etc/mysql/my.cnf
THANKS

[2015-05-04 08:01] jsalatiel commented on #14896
any news on this?

[2015-05-04 08:11] DeepDiver1975 commented on #14896
@jsalatiel can you give ownCloud 8.1 a try? https://mailman.owncloud.org/pipermail/devel/2015-May/001227.html THX

[2015-05-04 08:19] nickvergessen commented on #15851
Another thing would be to load the page with the details we have and fetch the update information asyncronous with a second request.

[2015-05-04 08:20] nickvergessen commented on #15812
@jancborchardt yeah and we also have multiple communication channels, but yeah hard to follow it if you are not directly involved ;)

[2015-05-04 08:25] nickvergessen commented on #15819
![group dropdown](https://cloud.githubusercontent.com/assets/213943/7450668/dcfba53e-f247-11e4-9440-e5df2b94da7f.png)

Should we put an ellipse character at the end, it "looks broken" atm

[2015-05-04 08:58] schiesbn commented on #15669
That's not that easy because after upgrade the old encryption is no longer there. So the old encryption can't issue such a warning. The new one is not yet enabled so the new encryption also can't detect the state of the system and issue a warning.

I think this can only be solved by the upgrade documentation where we explain that if you use encryption you have to enable "server-side encryption" an

[2015-05-04 09:02] finius opened #16028 "removing folders that have been shared by one from the personal cloud, also removes the folder in the store of the one who shared it"
In oc 8.0.2, when a user A shares a folder to user B, and user B renames the shared folder (link) of the folder -being shared to him using the web gui to remove it from his file list-, the rename didn't work, but the whole folder disappears in both accounts of user A and B!. However, the local data in the data directory is not touched and still present on the drive - but it doesn't seem to be in t

[2015-05-04 09:09] Aesculapius opened #16029 "Allow for wider configuration of external storage"
As suggested in https://github.com/owncloud/core/issues/7234 https://github.com/owncloud/core/pull/15478 and https://github.com/owncloud/core/issues/15385 , there is a usecase where you'd like to have more control over the exact behavior of mounted external storage.

In my case, I'd like to offer a mount to incremental backups of the data share of a user. So having these folders either scanned int

[2015-05-04 09:12] davitol opened #16030 "LDAP wizard configuration; User Display Name field should be not displayName, but displayname (lowercase) or cn"
## Steps to reproduce
1. In assisted mode configure a complete LDAP configuration using active directory.
2. Click on advanced tab

### Expected behaviour
Data about User Display Name field should be displayname (lowercase) or cn

### Actual behaviour
The value shown is displayName with capital N. This wrong behaviour seems to appear only using Active Directory.

### Server configuration
**Operati

[2015-05-04 09:18] MorrisJobke commented on #15819
Yes :+1:

[2015-05-04 09:28] MorrisJobke commented on #15819
I changed the label rule (`ul.multiselectoptions > li input[type="checkbox"] + label`) but it doesn't look good, because the overflow causes a line break somehow. @jancborchardt Can you have a look
[code]

[2015-05-04 09:43] thavincinew opened #16032 "owncloud Windows Client Randomly deleting files"
Hi guys.

I would like to add that we also have these issues.
Randomly the windows client will remove entire collections of files.

We are not using mutiple sync clients. Latest version of windows client and owncloud server with mysql backend.

It seems files still exist on backend but all clients remove the files out of the blue.

We ran on owncloud version 7 something or another and the issue ex

[2015-05-04 09:44] #15746 closed

[2015-05-04 09:46] LukasReschke commented on #16032
Please reopen your issue at https://github.com/owncloud/client and use the issue template: https://github.com/owncloud/client/blob/master/CONTRIBUTING.md

[2015-05-04 09:46] #16032 closed

[2015-05-04 09:46] schiesbn commented on #15988
Generally a nice idea, but I'm not sure if this will work in practice.
Remember we want to enable users to write their own encryption module, maybe even encryption module we will never know about. How would a wizard integrate the settings of this modules if we don't know which module will will provide which settings and if it will have any settings at all. I also see scenarios where there is no po

[2015-05-04 09:48] DeepDiver1975 commented on #15318
@bvkuik which browser are you using? any errors in the browser error console?

[2015-05-04 09:49] DeepDiver1975 commented on #15342
@LukasReschke I'm moving this to 8.2

[2015-05-04 09:52] davitol opened #16033 "LDAP wizard configuration: “Email field” should be filled in (given that at least one user has mail or mailPrimaryAddress set)"
## Steps to reproduce
1. In assisted mode configure a complete LDAP configuration using active directory.
2. Click on advanced tab
3. Open Special attributes

### Expected behaviour
“Email field” should be filled in.

### Actual behaviour
“Email field” is empty and there are at least one user that has mail. This wrong behaviour seems to appear only using Active Directory.

### Server configuration

[2015-05-04 10:05] PeterPablo commented on #13912
This happened to me again while manually updating to 8.0.3. The problematic command is `cp owncloud_bak/config/config.php owncloud/config/` that I executed as `root`, since this makes the duplicated `config.php` to be owned by root.
Upon visiting the OwnCloud instance with a browser, you are only presented with a white page and with the following error in the log:
`PHP Warning:  flock() expects pa

[2015-05-04 10:14] jancborchardt commented on #15819
@MorrisJobke `white-space: nowrap;` ;)

[2015-05-04 10:21] pascalBokBok commented on #16007
running `apt-get -f install` alone did not solve the problem on Debian for me. It has to have the `dpkg -r --force-depends "owncloud-config-apache"` first.

[2015-05-04 10:42] jancborchardt commented on #15988
This still sounds like overengineering to me. :\ Did a lot of people ask in the past for the ability to write their own encryption (I somehow think not)? So making it more difficult for most users just for the off-case someone wants to do their own thing is a bit misguided here. (And even if ppl wanted to do their own thing, they could write an own app or fork encryption or whatnot.)

[2015-05-04 10:44] LukasReschke commented on #16013
`output_buffering` cannot be set via `ini_set`. It is [`PHP_INI_PERDIR`](http://php.net/manual/en/configuration.changes.modes.php)

[2015-05-04 10:52] jvillafanez commented on #15796
Still happening in 8.1 alpha 2

I have several configurations, two of them active. With one active, it only shows 20 users even though there are more than 1000; with two active it shows 65 users (it should be around 1047)

[2015-05-04 11:00] blizzz commented on #15948
Is written in the feature catalogue (in S3 on Shared/owncloud/Product Management/LDAP config updates Jan 2015c.odt). Why, I can only assume, and that might be that AD users where irritated? I did not mind, so I did not ask.

@MTRichards and/or @bboule should know.

[2015-05-04 11:07] nickvergessen opened #16036 "DeleteOrphanedSharesJob spams log"
I think the log entry should be on debug rather then info.
[code]

@MorrisJobke @PVince81 (vacation :( )

[2015-05-04 11:08] jvillafanez commented on #15796
@blizzz I think the problem is that the "paging chunksize" is being enforced in the results. The configuration that shows 20 users have that chunksize in its configuration. I've also checked with a large server (about 1000 users or so) and it only shows 500 results (same value as its paging chunksize)

[2015-05-04 11:27] blizzz commented on #15991
let's you create an empty ldap configiuration on command line. You can modifiy it subsequently by using ldap:set-config $configID $key $value. With the combination of the two commands, you can programmatically set up LDAP configurations without manual interaction.

The equivalent in the wizard is the "Add Configuration" button.

Well, this command deletes an LDAP configuration.

The equivalent in

[2015-05-04 11:27] DeepDiver1975 commented on #16036
yes please - THX

[2015-05-04 11:31] Jeahaha opened #16038 "Deleting single files on fresh installation not possible ( Web Interface )"
Hello Folks, i've got the Problem that it is not possible to me, to delete single files using the web-interface.
Its running on Apache, on Windows 7 Pro.
I've Installed it several times. Today using the new 8.03, i didn't test older versions yet.

The Log shows errors in:
mappedlocal.php#289
mappedlocal.php#275
lockingwrapper.php#140
mappedlocal.php#218
mappedlocal.php#289
mappedlocal.php#270
ownc

[2015-05-04 11:32] jancborchardt opened #16039 "Log message about new folder (no such file or directory)"
Freshly installed via zip, 8.1 alpha2. I get this log error message for a new folder I created:
[code]

cc @nickvergessen

[2015-05-04 11:33] blizzz commented on #15971
Next to the button the number of groups found should appear. Is this not happening to you? Do you have anything configured there, and if what?

[2015-05-04 11:34] DeepDiver1975 commented on #15948
is of zero use for the community

[2015-05-04 11:34] MorrisJobke commented on #15819
It isn't really a line break ... the checkbox is somehow shifted to the bottom:

![bildschirmfoto von 2015-05-04 13-28-58](https://cloud.githubusercontent.com/assets/245432/7452779/531b476e-f262-11e4-8be0-a8d975ec9313.png)
![bildschirmfoto von 2015-05-04 13-29-06](https://cloud.githubusercontent.com/assets/245432/7452780/54d41e6e-f262-11e4-9438-ccf2d0f9077f.png)
![bildschirmfoto von 2015-05-04 13-

[2015-05-04 11:36] blizzz commented on #15948
Yes. But  I quoted the only relevant part about it.

[2015-05-04 11:36] DeepDiver1975 commented on #16013
:heavy_check_mark:  unrelated :question:
:heavy_check_mark: no clue why I removed that
:heavy_check_mark: most probably by mistake

[2015-05-04 11:37] DeepDiver1975 commented on #16007
@jnweiger

[2015-05-04 11:58] jancborchardt commented on #15819
Ah right, I had the same thing when I dabbled around with it. Honestly the ellipsis is not something for 8.1

[2015-05-04 12:02] MorrisJobke commented on #15819
@jancborchardt okay ... I will open a  ticket.

[2015-05-04 12:03] karlitschek commented on #16039
@nickvergessen Can you look into that? :-) Thanks

[2015-05-04 12:03] karlitschek commented on #16038
can you post a full bug report using this template please? https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

[2015-05-04 12:04] karlitschek commented on #16033
@blizzz

[2015-05-04 12:04] karlitschek commented on #16030
@blizzz

[2015-05-04 12:05] MorrisJobke opened #16041 "[user mgnt] add ellipsis to long group names in multiselect"
![group dropdown](https://cloud.githubusercontent.com/assets/213943/7450668/dcfba53e-f247-11e4-9440-e5df2b94da7f.png)

Should we put an ellipse character at the end, it "looks broken" atm

--

I changed the label rule (`ul.multiselectoptions > li input[type="checkbox"] + label`) but it doesn't look good, because the overflow causes a higher line height somehow.
[code]

![bildschirmfoto von 2015-05

[2015-05-04 12:05] MorrisJobke commented on #15819
Ref #16041

[2015-05-04 12:14] blizzz commented on #16030
What makes you assume there is something wrong with that?

[2015-05-04 12:16] blizzz commented on #16033
Did you click on "Test Filter" on the user filter tab?

[2015-05-04 12:18] LukasReschke commented on #16013
Let's re-add this then and remove the check for now and hope it doesn't bite us at other places were we handle files stuff => https://github.com/owncloud/core/pull/16042

[2015-05-04 12:21] blizzz commented on #15941
For now, that is intended behaviour. The assumption is that if you edit something in an deactivated configuration, then you intend to activate is. Therefore this happens. Otherwise, robustness against undesired activation has been improved (browsing configurations without changing is safe).

Of course we can discuss whether the current state is good or not, and perhaps come up with a better/differ

[2015-05-04 12:25] blizzz commented on #15939
IMHO this is an issue with your directory structure, not within ownCloud.

[2015-05-04 12:25] #15939 closed

[2015-05-04 12:29] blizzz commented on #15931
You're first configuration seems to be not AD, but the group member association is set to member, which is typical for AD. Either my assumption is wrong, or this setting. If it is AD, and the second configuration too, then the value there is wrong as well, with group member association being set to memberUid instead of member. Can you check this please?

[2015-05-04 12:37] blizzz commented on #15898
Do your users have a displayname set on AD site? Otherwise, change display name attribute in the advanced settings to cn.

[2015-05-04 12:43] blizzz commented on #15907
On command line, use ldap:show-config  to see your configuration. If ldapTLS is set to 1, change it to 0 using the ldap:set-config commands. For the LDAP command line commands please see:

https://doc.owncloud.org/server/8.0/admin_manual/configuration_server/occ_command.html#ldap-commands

Why did it happen? ownCloud detected is as false positive. What LDAP server are you using and on which OS is

[2015-05-04 12:46] blizzz commented on #15905
Is the user account allowed to read from LDAP at all?

[2015-05-04 12:50] MorrisJobke commented on #16038
Windows server is not a supported platform anymore :( https://doc.owncloud.org/server/8.0/admin_manual/release_notes.html#supported-platforms

[2015-05-04 13:07] #15771 closed

[2015-05-04 13:11] jancborchardt commented on #15819
Thank you!

[2015-05-04 13:13] jancborchardt commented on #15941
Yes, @blizzz’s assumption seems correct and makes it easier on people who might forget to specifically click »activate«.

[2015-05-04 13:39] LukasReschke commented on #15709
Well… The appstore *is* pretty empty with regard to the [games category](https://apps.owncloud.com/index.php?xcontentmode=923) or no apps have been been configured to be compatible such as for the Multimedia category. Adjusting this would just be yet another request to every category when loading the appstore and making it even slower as far I can tell. I'd like to avoid this if not absolutely nec

[2015-05-04 13:57] gig13 commented on #14930
@milprog

Some more debug information in this mail. We are able to reproduce it
with PHP-FPM with the follow apache config:
It seems like things go wrong because this way of using PHP-FPM is
missing some global $_SERVER variables.

SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
ProxyPassMatch ^/(.*\.php(/.*)?)$ fcgi://[::1]:9000/mnt/disk/owncloud/$1

If we change the apache config / PHP-FPM c

[2015-05-04 14:04] aleishman01 opened #16047 ".htaccess should not be in the sync-exclude.lst"
I use ownCloud to synchronize website changes with a development server. I don't understand what the reason would be to exclude the .htaccess file.

[2015-05-04 14:07] jnfrmarks commented on #15977
One thing that has struck me is that we're using an internal variable OC_<name> to identify the module when referencing it in an occ command.  This was not intuitive to me when I first starting using OCC to manage encryption.  It wasn't until I did a list of the modules that I realized that I needed to enter the internal attribute and not the module name.  I'm not sure if there's a way to guide th

[2015-05-04 14:13] Hoper commented on #15907
OwnCloud 8.0 on server Ubuntu 14.04
LDAP server - Ubuntu 12.04 - LDAPv3 (from pkg iRedMail http://iredmail.com)

 =============
I setup a plugin "LDAP user and group backend 0.5.0" and I configure LDAP server in a webadmin panel OwnCloud. But I a can't connect to the LDAP server if the mysql table (oc_appconfig) ldap_tls = 1

[2015-05-04 14:15] LukasReschke commented on #14670
Patch proposal is at https://github.com/owncloud/core/pull/16048

[2015-05-04 14:21] LukasReschke commented on #16047
Blocked by https://github.com/owncloud/core/issues/13640 – once this is done we can somehow return the allowed paths to the client.

cc @DeepDiver1975 @danimo

[2015-05-04 14:21] #16047 closed

[2015-05-04 14:21] LukasReschke commented on #16047
(Closing since the goal is pretty much the same in the end)

[2015-05-04 14:24] pascalBokBok commented on #15709
@LukasReschke Sounds like a pretty crazy API you are working against.
Otherwise - you can always scrape it from the front-page of apps.owncloud.com with 1 request - it has the app quantity in the title attributes of the category menu ;-)

[2015-05-04 14:26] pascalBokBok commented on #15709
BTW. I'm running 8.0 and for me the game and multimedia categories are entirely empty but the "Apps"-store loads in ~10seconds

[2015-05-04 14:27] #16036 closed

[2015-05-04 14:40] #15977 closed

[2015-05-04 14:43] #16013 closed

[2015-05-04 14:43] carlaschroder commented on #15991
thannsk @blizzz

[2015-05-04 14:45] butonic commented on #15392
@icewind1991 I saw https://github.com/owncloud/core/pull/14551 where you replace the current ftp(s) implementation with code from flyspace. Do they have a straight forward way of supplying self signed certificates for FTPS (not SFTP)? I only saw ssl related parameters in their SFTPAdapter. I'd like to push forward with flyspace I you can point me to a place where to start. Currently, it seems I ha

[2015-05-04 14:51] nickvergessen commented on #15977
@jnfrmarks well that's what an id is used for. The `--help` option shows that already.
I don't think we can do a lot more:
[code]

[2015-05-04 14:53] nickvergessen commented on #16039
Well I can't reproduce to get this error. Although I can see it in that method, I'm not sure where we should catch the case (non-existing file)

[2015-05-04 14:54] nickvergessen commented on #16038
Please disable the files_locking app:
https://github.com/owncloud/core/issues/14513#issuecomment-76173623

[2015-05-04 14:54] #16038 closed

[2015-05-04 15:11] LukasReschke commented on #16014
https://github.com/owncloud/core/pull/16050

[2015-05-04 15:15] jnfrmarks commented on #16021
@SergioBertolinSG

There are some UI changes coming for encryption.

[2015-05-04 15:20] JanWelker opened #16051 "Unknown database type varchar requested"
Upgrading to 8.0.3. does not start because of the following error:

./occ upgrade
Turned on maintenance mode
Unknown database type varchar  requested, OC\DB\OCSqlitePlatform may not support it.
Turned off maintenance mode
Update failed

[2015-05-04 15:27] LukasReschke commented on #15995
@jnweiger Care to explain what the use-case for this is?

[2015-05-04 15:39] JanWelker commented on #16051
This is related to a previous issue I filed:
https://github.com/owncloud/core/issues/14247

### Steps to reproduce
./occ upgrade

### Expected behaviour
Update should complete

### Actual behaviour
Update failed with message:
Unknown database type varchar requested, OC\DB\OCSqlitePlatform may not support it.

### Server configuration
Debian wheezy

Apache 2.2.22

OCSqlite

PHP 5.4.39

Owncloud 8.0

[2015-05-04 15:39] MTRichards commented on #15948
A little explanation:
Technically we use LDAP for all communications with a directory (both AD and actual LDAP servers). Despite this, when we talk to admins and users (and the market) about the product we talk about LDAP and AD, because people have one or the other. Many administrators will not immediately recognize that LDAP = AD in this case.

LDAP / AD was specifically added to this page for t

[2015-05-04 15:42] DeepDiver1975 commented on #15995
This command was purely design for packaging. Might makes sense for other use cases.

[2015-05-04 15:44] carlaschroder commented on #15995
So this is another scenario, like config.php, where there are things for users, and things user should not touch?

[2015-05-04 15:44] DeepDiver1975 commented on #16051
I guess we need a schema dump of your db.

[2015-05-04 15:45] #15948 closed

[2015-05-04 15:45] DeepDiver1975 commented on #15948
Thx for the explanation!

[2015-05-04 15:52] JanWelker commented on #16051
@DeepDiver1975 here you go:

CREATE TABLE ` oc_roundcube `(` id `INTEGER PRIMARY KEY AUTOINCREMENT, ` oc_user `varchar (4096) NOT NULL DEFAULT '', ` mail_user `varchar (4096) NOT NULL DEFAULT '', `mail_password` varchar (4096) NOT NULL DEFAULT' ');
CREATE TABLE oc_appconfig (appid VARCHAR(32) DEFAULT '' NOT NULL, configkey VARCHAR(64) DEFAULT '' NOT NULL, configvalue CLOB DEFAULT NULL, PRIMARY KEY

[2015-05-04 16:53] RealRancor commented on #16008
The updater is now shipping the update 8.0.3, let the fun begin...

[2015-05-04 16:59] jnfrmarks commented on #11804
@davitol @SergioBertolinSG

FYI: we need to write a test plan for this.

[2015-05-04 17:12] MTRichards commented on #5084
Is this still an issue?

[2015-05-04 17:13] MTRichards commented on #5089
still an issue?

[2015-05-04 17:15] karlitschek commented on #7769
@nickvergessen What is the status here?

[2015-05-04 17:17] karlitschek commented on #11106
So we can close? Right? @ogoffart Can you confirm

[2015-05-04 17:18] karlitschek commented on #11330
ping @jnfrmarks

[2015-05-04 17:20] karlitschek commented on #11804
@icewind1991 Do you have an ETA?

[2015-05-04 17:20] karlitschek commented on #12269
@DeepDiver1975 Do you had time for the analysis?

[2015-05-04 17:23] karlitschek commented on #12591
@frankuit Which apps do you have enabled?

[2015-05-04 17:23] karlitschek commented on #12591
@schiesbn Can you have a look? Maybe related to files_trash

[2015-05-04 17:25] karlitschek commented on #12966
@schiesbn This sounds bad. Can you have a look?

[2015-05-04 17:28] karlitschek commented on #13052
@DeepDiver1975 What do you suggest?

[2015-05-04 17:32] karlitschek commented on #13080
Can you please test with the latest 8.1 alpha3 ?
Thanks

[2015-05-04 17:34] olivierlemasle opened #16053 "Error adding tags with WebDAV for non-favorited files"
It seems that tags can be added to a file using WebDAV only if the file is already flagged as "favorite".

### Steps to reproduce
1. Create files "test1.txt" and "test2.txt" in the web UI

2. Using WebDAV, set "test1.txt" as "favorite", then add two tags to the file:

1st request:

PROPPATCH http://owncloud-host/owncloud/remote.php/webdav/test1.txt
[code]

Response:

[code]

2nd request:

PROPPATC

[2015-05-04 17:35] AdamWill commented on #13052
@karlitschek there's been more activity on the PR I submitted to switch to JSqueeze: https://github.com/owncloud/core/pull/13229 . At first we found several cases where the minified JS misbehaved, but most of them seem to be fixed now, and it's close to being mergeable, I think.

[2015-05-04 17:38] MTRichards commented on #13110
@craigpg need to get this in to 8.1

[2015-05-04 17:39] karlitschek commented on #13117
@chemnic Can you confirm that you have configured a cronjob correctly? This should work in 8.1

[2015-05-04 17:43] karlitschek commented on #13213
@schiesbn Can you have a look?

[2015-05-04 17:48] karlitschek commented on #13498
This would be "solved" with high level locking, right?

[2015-05-04 17:50] karlitschek commented on #13586
@SergioBertolinSG Can you retest with 8.1 alpha3 ?

[2015-05-04 17:53] karlitschek commented on #13589
Can you retest please?

[2015-05-04 18:05] karlitschek commented on #13703
@icewind1991 can we do something here?

[2015-05-04 18:07] Babzsak commented on #16008
Same error here.

Ubuntu 14.04
Apache 2.4.7
MySQL 5.5.43
PHP 5.5.9

[2015-05-04 18:12] karlitschek commented on #13864
@schiesbn Is is possible to have a quick fix here?

[2015-05-04 18:12] markus80 commented on #16008
@RealRancor: hehe

@OwnCloud: have you already published any official statement about that issue?

[2015-05-04 18:16] DeepDiver1975 commented on #13703
Our high level file locking will help .... stay tuned.  ;-)

[2015-05-04 18:18] karlitschek commented on #14053
@jnfrmarks Can you try to reproduce?

[2015-05-04 18:19] #14670 closed

[2015-05-04 18:21] karlitschek commented on #14127
@georgehrke In the mood for a nice junior job? :-)

[2015-05-04 18:24] karlitschek commented on #14185
Can´t reproduce. Can you test with a clean new 8.0.3 install?

[2015-05-04 18:25] karlitschek commented on #14286
@jnfrmarks Can you test?

[2015-05-04 18:27] karlitschek commented on #14405
@jancborchardt So do we have the tooltip? ;-)

[2015-05-04 18:30] karlitschek commented on #14507
@icewind1991 Any change for a quickfix?

[2015-05-04 18:31] jancborchardt commented on #14405
Hehe – as this requires PHP code to decide if the tooltip should be shown or not, I assumed @LukasReschke would do it. ;)

[2015-05-04 18:31] karlitschek commented on #14528
@tps800 I guess you mean 8.1 or 8.0.2 right?
Closing for now

[2015-05-04 18:31] #14528 closed

[2015-05-04 18:32] karlitschek commented on #14539
So this should be fixed with the new high level file locking

[2015-05-04 18:33] karlitschek commented on #14544
@jancborchardt Isn´t this the bug that we discussed friday?

[2015-05-04 18:44] ervee commented on #7769
Well, after I changed '''binlog-format''' to '''MIXED''' in my MariaDB config I didn't see the "Unsafe statement" logs anymore. Should I close the case or so you guys still want to hunt this issue down?

[2015-05-04 18:59] alichakery commented on #1347
This is a really needed feature for such a great script.

[2015-05-04 19:13] andre-dierker commented on #14185
A clean install with 8.0.3 did not help.
After changing the hardware with completely the same data (configs, userdata, webserver binaries, caches, ..) it works.

[2015-05-04 19:32] ls960 commented on #16007
solved in debian 7 running # apt-get install owncloud-server  insetad of apt-get dist-upgrade.

[2015-05-04 19:36] andre-dierker commented on #14185
Oh, sorry I overlook the version. I can't do a clean install with 8.0.3 because I have changed the hardware.

[2015-05-04 19:48] andre-dierker commented on #14185
and back after internal update from 8.0.2 to 8.0.3

[2015-05-04 19:58] sokratisg commented on #15096
everything looks super now! thank you

[2015-05-04 20:35] BernhardPosselt opened #16054 "Forbid empty, == and != in code"
We should start to enforce a non == and != rule when merging pull requests to avoid string comparison bugs. PHP casts strings to ints! if possible when using == and != comparison operators, meaning that:

'0e462097431906509019562988736854' == '0e830400451993494058024219903391'

This can lead to crazy bugs and can lead to data loss all while being extremely hard to debug. We should also migrate all

[2015-05-04 20:38] benurb commented on #16008
The problem is probably related to #15577 (e4f0892831b66a027e0e8c412ae9c334388c54bc). As this fix seems necessary (you can read the ticket for the underlying problem here #15337) it might be the only solution to change the `binlog_format`. Like @markus80 said it would be nice to have an official opinion on this issue.

@MoonUnit2 In my opinion MIXED is the "better" setting especially when you're n

[2015-05-04 20:43] Raydiation commented on #16054
Quick list for production code, notice how many filesystem classes actually use == (no != grep)

[code]

[2015-05-04 21:08] jnfrmarks commented on #13864
@SergioBertolinSG

Can you please add this test case to the test plan?

[2015-05-04 21:09] craigpg commented on #12035
Thx @MorrisJobke.  I see now that there's another issue we're using to track the work on this: owncloud/enterprise#525.

[2015-05-04 21:12] karlitschek commented on #16053
@PVince81 Is this a bug?

[2015-05-04 21:15] jnfrmarks commented on #13589
@davitol  Please retest.

[2015-05-04 21:16] jnfrmarks commented on #14286
@davitol

Can you please give this a try?

[2015-05-04 21:17] jnfrmarks commented on #11330
@davitol

Can you please take a look at this as part of your ldap testing?

[2015-05-04 21:24] Vskilet commented on #13599
I have the same issues  on a CentOS 7 virtual machine. I've just finished to install owncloud 8.0.3 but i've the beautifull message about the "info.xml".

[2015-05-04 21:41] elad661 opened #16055 "s3 external storage should use SSL/TLS by default"
When adding external storage in the form of an s3 bucket, there's a little checkbox that says "use SSL". For user safety and security, this should be enabled by default.

[2015-05-04 21:51] MorrisJobke commented on #15948
@nickvergessen @blizzz Want to fix this little thing? ;)

[2015-05-04 22:04] MorrisJobke commented on #16054
@DeepDiver1975 Is it somehow possible to add this to the app code checker? That would make it easy to check existing apps and migrate more granular.

[2015-05-04 22:58] carlaschroder commented on #15991
https://github.com/owncloud/documentation/pull/1098

[2015-05-04 22:58] #15991 closed

[2015-05-04 23:13] bantu opened #16056 "HHVM segfault via simplexml_load_file()"
[code]

[code]
This means `OC_App::getAppPath($appId)` returns an empty string (or something equivalent) in
https://github.com/owncloud/core/blob/master/lib/private/appframework/app.php#L52 which is suspicious. The root cause for the segfault is probably simpleXML not handling non-existing files properly.

[2015-05-05 00:13] loloakira commented on #16008
The `binlog_format = MIXED` paramater in the `[mysqld]` section of the */etc/mysql/my.cnf* file also worked for me.

[2015-05-05 01:39] sbelov1 commented on #15990
Any assistance with this? We have the prospect waiting..

[2015-05-05 02:21] luckydonald commented on #10389
Using a label tag like outlined [above](https://github.com/owncloud/core/issues/10389#issuecomment-52390976) didn't do the trick?

[2015-05-05 04:51] throker commented on #16008
My database is on separate MariaDB server than ownCloud and I had to run the MySQL statement SET GLOBAL binlog_format = 'MIXED'; b/c modifying the my.cnf file didn't work, even after rebooting.

[2015-05-05 05:41] DeepDiver1975 commented on #15990
We have no understanding of this webdav service. Can you please run litmus against it to see if this implementation fulfills the specs? Thx

[2015-05-05 05:52] jancborchardt opened #16057 "Not possible to remove email address from personal info"
Currently it’s not possible to revert the email address field back to empty. It doesn’t trigger the autosave in case of being empty. Also when pressing enter, there’s a full page refresh.

@PVince81 @MorrisJobke

[2015-05-05 06:38] LukasReschke commented on #16054
We actually have this already in our coding guidelines. Migrating all existing usages is more risky as it sounds as there are some cases that actually rely on the black magic :-)

That said, yes, would make sense to add it to the code scanner.

[2015-05-05 06:47] cunningwasabi commented on #16051
its because of your roundcube table in the owncloud database. it happens to me after most updates.
drop the table, upgrade the database, add the table again.
i've pretty much given up on the roundcube integration side. its caused the whole of owncloud to fail, when its really only a side benefit.

[2015-05-05 07:06] jvillafanez commented on #15941
The problem is that if you change the host or port instead of the login filter following the same steps, the configuration doesn't get activated. This is confusing for me.

If changing some values will activate the configuration, and changing others not, maybe we need to distinguish somehow what are the ones that will activate the configuration.

[2015-05-05 07:10] nickvergessen commented on #7769
@karlitschek I think we need to change the documentation here, nothing we can fix on the owncloud server side. I just want @DeepDiver1975 to confirm

[2015-05-05 07:12] nickvergessen commented on #16054
cases where we rely on it, get an int from the database compare it to your local int... :(

[2015-05-05 07:14] davitol commented on #16030
The test plan says the value should be displayname instead of displayName

[2015-05-05 07:16] PeterPablo commented on #13267
I see the error message (though with escaped `'`: `You don\u2019t have permission to upload or create files here at`) in my log after updating from 8.0.2 to 8.0.3. (Full report in https://github.com/owncloud/core/issues/8760#issuecomment-98669257)

[2015-05-05 07:21] SergioBertolinSG commented on #13586
Still happening in 8.1 alpha3.

[2015-05-05 07:27] #15953 closed

[2015-05-05 07:34] jvillafanez opened #16059 "Move the LDAP "configuration active" checkbox to another place"
I'm having several LDAP configurations and it's difficult to know what configurations are active from the wizard. You need to access to each one and move to the advanced tab.

I think it might be better to move the "configuration active" checkbox to the server tab in order to reduce the clicks we need to do to know if the configuration is active or not.

In addition, it might be even better if we

[2015-05-05 07:34] arkascha opened #16060 "Broken / ugly layout off login page"
Saw this from 8.0 onwards, still not fixed in 8.0.3:

the layout (styling) of the login page is broken or at least ugly. Things do not line up horizontally, the login button sticks out at the right side. Looks like the containing fieldset is to wide. Using standard theme / templates.

I attach a screenshot taken on a chromium browser.

[2015-05-05 07:35] arkascha commented on #16060
![owncloud-login](https://cloud.githubusercontent.com/assets/2156237/7468528/040f7b88-f30a-11e4-9d1a-a42f410ce3e9.png)

[2015-05-05 07:36] nickvergessen commented on #16051
@cunningwasabi are we talking about https://github.com/spali/owncloud-app-roundcube ?

[2015-05-05 07:38] nickvergessen commented on #16060
@jancborchardt

[2015-05-05 07:44] davitol commented on #15971
I'm talking about Test Filter button, not the "Verify setting and count groups".

![testfilter](https://cloud.githubusercontent.com/assets/10596560/7468641/45484c5a-f30b-11e4-9c89-fc451748accf.png)

[2015-05-05 07:47] JanWelker commented on #16051
Jip it's a roundcube table problem. I deleted the unused ` oc_roundcube ` table. And the update finished without problems.

Thanks for you help,
Jan

[2015-05-05 07:54] cunningwasabi commented on #16051
@nickvergessen yeh, although thats the more updated variety. the owncloud/roundcube integration app I have requires a specific table to be inserted into the owncloud database/

If its useful, these were my notes:

# backup database
cp -f owncloud.db owncloud.db.bak

# remove offending table
sqlite3 owncloud.db
DROP TABLE `*OC_DB_PREFIX*roundcube`;

# do the owncloud update
cd /var/www/html/ownclou

[2015-05-05 08:12] jvillafanez commented on #15905
Looks like it was something with the cache. I've rechecked the issue and now it shows 500 users

[2015-05-05 08:17] SergioBertolinSG opened #16061 "Versions is not creating new versions."
### Steps to reproduce

1. Create a text file.
2. Edit it several times.
3. Click on the versions button to open the dropdown.

### Expected behaviour
File has versions.

### Actual behaviour
There are no versions of the file.

Please note that only happens with encryption deactivated. With encryption enabled it is working fine.

### Server configuration
**Operating system**:
Ubuntu 14.04 LTS

**W

[2015-05-05 08:17] Kalimeiro commented on #16008
I repeat a last time :

nano /etc/mysql/my.cnf
binlog_format = MIXED

service mysql restart

restart upgrade, it works.

[2015-05-05 08:18] canepan commented on #13080
I did the following:
- unpack the archive
- create data directory and give web server user write access to it
- followed the web wizard
- enabled webdav_userauth
- disabled unused plugins (activity, updater, first run wizard)
- applied my theme and enabled following options in config.php:

- open User config
- enable " Show storage location", " Show last log in" and "Show user
backend", set quota

[2015-05-05 08:18] MorrisJobke commented on #10389
@luckydonald No, this is already in place :(

[2015-05-05 08:31] cdamken commented on #13934
###  Thanks guys!

[2015-05-05 08:48] #15825 closed

[2015-05-05 08:48] SergioBertolinSG opened #16062 "Files cannot be deleted."
### Steps to reproduce

1. Upload some files.
2. Delete them.

### Expected behaviour
Files are deleted and put in the trashbin.

### Actual behaviour
Files cannot be deleted, the spinner gif keeps turning forever.

Please note that only happens with encryption deactivated. With encryption enabled it is working fine.

### Server configuration
**Operating system**:
Ubuntu 14.04 LTS

**Web server:**

[2015-05-05 08:50] blizzz commented on #15905
Ok, thx.

[2015-05-05 08:50] #15905 closed

[2015-05-05 08:52] namir88 opened #16063 "Update Error BINLOG_FORMAT"
An exception occurred while executing
[code]

[2015-05-05 09:00] blizzz commented on #16059
Instead of putting it onto the server tab, I would prefer to add an indicator to the status bar. Thus, you will see the activation state on any tab.  Another advantage: you will see immediately, if auto-activiation was done. And actually, we can make it clickable, then we can get rid of the setting in advanced indeed.

Also, I like the idea about the configuration chooser. However, I'd prefer just

[2015-05-05 09:03] nickvergessen commented on #16063
Please use the issue template, so we have the necessary information:
https://github.com/owncloud/core/blob/master/CONTRIBUTING.md#short-version

[2015-05-05 09:03] LukasReschke commented on #16063
Probably dupe of https://github.com/owncloud/core/issues/16008

[2015-05-05 09:04] djibux commented on #15407
I an also experimenting that issue on a shared server (mutualized hosting).  I am not allowed to change any PHP or MySQL setting.

[2015-05-05 09:05] LukasReschke commented on #16008
@karlitschek @DeepDiver1975 Any idea? – This seems rather serious.

[2015-05-05 09:08] nickvergessen commented on #16008
Related/duplicate to https://github.com/owncloud/core/issues/7769 ?

[2015-05-05 09:14] blizzz commented on #15941
Um, too robust now? Will check.

[2015-05-05 09:18] nickvergessen commented on #16062
Something in the log?

Also when you say:

do you mean the setting on the admin page, the encryption app, or both?

[2015-05-05 09:19] sprokhorov commented on #15931
Thank you @blizzz. I can see difference in settings from old version. I use freeipa server and it have memberOf as group member association. How can I fix it?

[2015-05-05 09:20] namir88 commented on #16063
Thanks #16008 was right. I changed my binlog_format to mixed.

[2015-05-05 09:20] #16063 closed

[2015-05-05 09:22] davitol commented on #13589
:-1:   Bug not solved

{"installed":true,"maintenance":false,"version":"8.1.0.4","versionstring":"8.1 alpha 3","edition":""}

[2015-05-05 09:27] nickvergessen commented on #16061
This also works for me, so maybe there is another problem in your instance in regards to encryption:
https://github.com/owncloud/core/issues/16062

Please check the log here aswell and retry on a new empty install.

[2015-05-05 09:28] SergioBertolinSG commented on #16062
With both encryption app and setting in admin page enabled working fine.

some logs:
[code]

[2015-05-05 09:32] MorrisJobke commented on #13080
Duplicate of #12727

What should it be?

So you couldn't log in as admin, or what is the problem here?

[2015-05-05 09:33] SergioBertolinSG commented on #16061
logs seen when adding a new version of a file:
[code]

[2015-05-05 09:34] DeepDiver1975 commented on #13586
@nickvergessen wana have a look? THX

[2015-05-05 09:38] DeepDiver1975 commented on #13589
we already moved all user management related topics to 8.2 - moving this as well

[2015-05-05 09:41] LukasReschke commented on #16054
As per our IRC ranting we should also do such stuff on functions like `[in_array](http://php.net/manual/en/function.in-array.php)` that have a strict parameter. Should also always default to true…

[2015-05-05 09:46] davitol commented on #11330
:+1:  Bug solved

{"installed":true,"maintenance":false,"version":"8.1.0.4","versionstring":"8.1 alpha 3","edition":""}

[2015-05-05 09:47] schiesbn commented on #15979
Does this really only happen with LDAP? I don't see the connection here.

[2015-05-05 09:47] nickvergessen commented on #13586
Not a lot we can do I guess. Swift says the email is invalid:
https://github.com/owncloud/3rdparty/blob/08b820614ae99477d7c9319630f400d22b20e2fd/swiftmailer/swiftmailer/lib/classes/Swift/Validate.php#L37-L40

or does swift have some kind of config for this? @LukasReschke

[2015-05-05 09:47] jancborchardt commented on #16060
@arkascha Can’t reproduce. I’m gonna need some more info than that. ;)

* Which browser version?
* Does it happen in other browsers too?
* Does it happen only on desktop or on mobile (below 768px width) too?
* Disable all apps. Does it still happen?
* Any JS errors in the console?

cc @owncloud/designers

[2015-05-05 09:50] DeepDiver1975 commented on #13586
thx @nickvergessen - let's file an issue upstream - can you please take care? THX

[2015-05-05 09:52] DeepDiver1975 commented on #16056
Having a file_exists call seems a legitimate workaround - @bantu can you please submit a PR? THX

[2015-05-05 09:54] canepan commented on #13080
Sorry, I try to be more precise (see below)

Il 05/05/15 11:32, Morris Jobke ha scritto:

Something like "backend does not allow to create users"

I logged in as admin, but the webdav user (let's call it "nicola") does
not appear in users list, so I'm unable to assign groups to him

[2015-05-05 09:59] MorrisJobke commented on #16057
Voila #16064

[2015-05-05 09:59] blizzz commented on #11330
Thx for testing

[2015-05-05 09:59] #11330 closed

[2015-05-05 10:02] Raydiation commented on #16054
@icewind1991 can you check and fix the fs code?

[2015-05-05 10:04] nickvergessen commented on #13586
https://github.com/swiftmailer/swiftmailer/issues/608

[2015-05-05 10:06] DeepDiver1975 commented on #13586
THX @nickvergessen

[2015-05-05 10:08] DeepDiver1975 commented on #13586
let's move this to 8.2

[2015-05-05 10:21] schiesbn commented on #15981
I debugged this a bit. The problem seems that now when we write the welcome.txt on the first login the encryption wrapper is already enabled and therefore we try to encrypt the welcome.txt. But this fails because the encryption keys are not yet initialized which can can only do after the filesystem was loaded because we need to read the key from the users data directory.

I don't really know how t

[2015-05-05 10:34] MorrisJobke commented on #13781
This will be fixed in 7.0.6 - #15833 was merged

[2015-05-05 10:34] #13781 closed

[2015-05-05 10:35] MorrisJobke commented on #15800
#15833 was merged

[2015-05-05 10:35] #15800 closed

[2015-05-05 10:37] MorrisJobke commented on #16062
@SergioBertolinSG It seems that files_locking is enabled. Can you confirm this?

[2015-05-05 10:38] MorrisJobke commented on #16062
Does it work if files_locking is disabled?

[2015-05-05 10:38] MorrisJobke commented on #16061
@SergioBertolinSG It seems that files_locking is enabled. Can you confirm this? Does it work with disabled files_locking app?

[2015-05-05 10:41] MorrisJobke commented on #13080
@LukasReschke Is this even possible with the webdav user backend? Wasn't there a restriction?

Got it.

[2015-05-05 10:41] nickvergessen commented on #16062
@MorrisJobke yes I chatted with him in IRC and the other issue and he commented in https://github.com/owncloud/files_locking/issues/17

[2015-05-05 10:41] MorrisJobke commented on #13080
Maybe this will be solved once #12799 is merged into master?

[2015-05-05 10:42] SergioBertolinSG commented on #16061
Yes, disabling files_locking it works correctly.

[2015-05-05 10:43] SergioBertolinSG commented on #16062
@MorrisJobke Yes, disabling files_locking it works correctly.

[2015-05-05 10:44] MorrisJobke commented on #16061
Then it's a files_locking problem -> close this.

[2015-05-05 10:44] #16061 closed

[2015-05-05 10:45] MorrisJobke commented on #16062
Then it's a files_locking app issue -> close here

[2015-05-05 10:50] olivierlemasle commented on #16053
@karlitschek @PVince81 It really seems a bug.

Looking at the logs (provided in my first comment), we can see that it regards this line:

https://github.com/owncloud/core/blob/v8.0.3/lib/private/connector/sabre/tagsplugin.php#L168

where `$currentTags` is not an array.

NB: To find the proper WebDAV format to set tags, I looked at https://github.com/owncloud/core/pull/12865#issuecomment-67346274 (

[2015-05-05 10:51] MorrisJobke commented on #16062
Let's reopen this here to not forget about the ticket, that breaks core

[2015-05-05 10:57] DeepDiver1975 commented on #14544
We should introduce some fallback at least - I'm also a bit "mad" about the fact that in case I want to use the search box as a pure client side filter mechanism that there is still a request sent to the server to perform a search.

[2015-05-05 10:57] DeepDiver1975 commented on #14544
@jancborchardt maybe find the time to fix this these days ....

[2015-05-05 11:01] davitol commented on #16033
I've tried to reproduce again the bug, but i couldn't. Maybe it was something wrong with my configuration, now it seems to work perfect.

[2015-05-05 11:03] Phillinger commented on #10625
@Marcatquod thanks for the workarround, great work!

[2015-05-05 11:05] mehturt commented on #16051
Sorry guys, I have a similar problem, although the offending database type is not listed in my case ("Unknown database type  requested, OC\DB\OCSqlitePlatform may not support it.").  Should I file a separate bug? Thanks.

[2015-05-05 11:28] butonic commented on #15392
Trying to find a good solution it seems we cannot just set up the stream context with our own certificates in all cases. [stat()](http://php.net/manual/de/function.stat.php) for example does not have a context parameter. We would have to implement our own ftps stream wrapper to support self signed certificates. The flysystem ftps implementation introduced with #14551 uses [ftp_ssl_connect()](http:

[2015-05-05 11:33] jnfrmarks commented on #13589
@davitol

Do you refresh the page after deleting the user?  Right now, in order for the last deleted user to be official gone, you need to either refresh the admin page or navigate away.

[2015-05-05 11:37] Weuxel opened #16066 "Error updating to 8.0.3"
Following error occurred while updating from 8.0.2 to 8.0.3:

An exception occurred while executing 'INSERT INTO `oc_oc_appconfig_ddhuh08rrueow` SELECT * FROM `oc_appconfig`': SQLSTATE[HY000]: General error: 1665 Cannot execute statement: impossible to write to binary log since BINLOG_FORMAT = STATEMENT and at least one table uses a storage engine limited to row-based logging. InnoDB is limited to

[2015-05-05 11:44] RealRancor commented on #16066
Dup of: https://github.com/owncloud/core/issues/16008

[2015-05-05 11:54] #16066 closed

[2015-05-05 12:03] icewind1991 commented on #15981
Trying to keep the wrappers sorted when adding wrappers to already wrapped storages requires to much complexity imo.

An easier way would be to bypass the wrappers when copying the skeleton or delay copying the skeleton until the filesystem (and all it's wrappers) are ready.

[2015-05-05 12:08] nickvergessen commented on #16051
Updating via the web UI: roundcube app gets disabled

Also the cli update works fine for me:
[code]

which version of the app do you have installed?

[2015-05-05 12:12] pierreozoux opened #16068 "occ upgrade - 'ownCloud is already latest version' exit code"
When you use `occ` little handy scritp (this is great!), I believe that if owncloud it is at the `latest version`, it should't exit 3. It is not an error for me, so it should exit 0.

What do you think?

If not, people like me need to do aweful stuff like this:
https://github.com/IndiePaaS/IndiePaaS/blob/master/dockerfiles/services/owncloud/startup-owncloud.sh#L14

(Which I just discover is wrong

[2015-05-05 12:15] pierreozoux commented on #16068
The line of code is here: https://github.com/owncloud/core/blob/055c18a7b40135465d00932711dadebac147461c/core/command/upgrade.php#L167

But I don't know what to put instead :/

[2015-05-05 12:25] DeepDiver1975 commented on #15981
sounds the most reasonable approach - @icewind1991 can you please come up with a PR on this? THX

[2015-05-05 12:26] blizzz commented on #15933
Nope, default values for the wizard were sent to the browser, but not applied/saved with the configuration. When composing the filter, the backend "thought" username should not be used. Fix in #16069

[2015-05-05 12:29] DeepDiver1975 commented on #14888
@DavidPrevot sorry for getting back on this topic that late - I think adding the coffeescript files is not really the way to walk for us from an packaging perspective (as in generating a tar ball people can throw into a web server to fire up ownCloud).

From my understanding you anyhow need to strip off all our js and php libs with the intention to use debian packages. This applies to zxcvbn as we

[2015-05-05 12:32] karlitschek commented on #16068
Can you post a full bug report using the template please?

[2015-05-05 12:38] jancborchardt commented on #14544
@DeepDiver1975 yeah, probably it’s best for us to collaborate on it when coworking.

The important thing we need to decide is what to do for an app / view which does not support search – which will be most apps actually.

If we want the search to have a purpose then we need to make it search the Files. In that case we need something similar to the previous search dropdown. But a bit wider, and nic

[2015-05-05 12:39] davitol commented on #13589
@jnfrmarks Refreshing the screen the behaviour is OK, but settings as send email to a new user or show email adress are not kept as it is said in #12727

[2015-05-05 12:39] oparoz commented on #16054
It's also a problem with all the Javascript code, but there is no JS appchecker afaik.

[2015-05-05 12:40] Raydiation commented on #16054
@oparoz jshint ;)

[2015-05-05 12:47] karlitschek commented on #7769
@carlaschroder We definitely need to document this.

[2015-05-05 12:51] DeepDiver1975 commented on #16068
I don't think we need any further information - we did discus this already somewhere in another issue.

We use different error codes for the different results of execution of this command.

I understand the request to have a clean error feedback for scripting .... we need to think about how to do this properly -> 8.2

[2015-05-05 12:51] pierreozoux commented on #16068
@karlitschek yes, sorry.

I actually just noticed it is a duplicate of https://github.com/owncloud/core/issues/15795

[2015-05-05 12:51] #16057 closed

[2015-05-05 12:59] DeepDiver1975 commented on #16062
for sure related to the storage wrapper order ...

[2015-05-05 13:00] davitol commented on #15933
:+1: It is fixed

[2015-05-05 13:01] SergioBertolinSG opened #16071 "Third encryption module is ignored and used the second."
### Steps to reproduce
Having prepared an own encryption module
With the correct IDs and names for your custom module:
https://github.com/owncloud/apps/blob/master/encryption_dummy/lib/dummymodule.php#L36
https://github.com/owncloud/apps/blob/master/encryption_dummy/lib/dummymodule.php#L45
https://github.com/owncloud/apps/blob/master/encryption_dummy/appinfo/app.php#L4
https://github.com/owncloud/

[2015-05-05 13:08] schiesbn commented on #15981
hm, I see the performance argument. On the other hand I don't feel comfortable to know that even if proper priorities are added we still can't guarantee that the wrappers are in the right order.

[2015-05-05 13:16] schiesbn commented on #15943
That's in line with the current behaviour for regular files. We don't encrypt existing files but only new files after the encryption was enabled. So old versions will stay unencrypted and new versions will be encrypted. Once we have a occ tool in 8.1 to initially encrypt all files we will also encrypt existing versions again

[2015-05-05 13:17] #15933 closed

[2015-05-05 13:35] DeepDiver1975 commented on #15071
@oparoz @nickvergessen is this fixed with #15346? THX

[2015-05-05 13:36] DeepDiver1975 commented on #16025
fixed with #16045

[2015-05-05 13:36] DeepDiver1975 commented on #16025
thx @bantu

[2015-05-05 13:36] nickvergessen commented on #15071
yes

[2015-05-05 13:36] #15071 closed

[2015-05-05 13:38] DeepDiver1975 commented on #11106
yes I'd say - please reopen if issues continue to exist

[2015-05-05 13:38] #11106 closed

[2015-05-05 13:44] jancborchardt commented on #15812
So is this fixed with that first pull request @rullzer?

[2015-05-05 13:45] oparoz commented on #16054
Indeed :), but that's what a dev would use, IF he was interested. The goal of the app checker is to make sure apps are up to a certain standard.

[2015-05-05 13:47] bantu commented on #16025
@DeepDiver1975 There still is autotest-external.sh

[2015-05-05 13:55] karlitschek commented on #16071
@schiesbn

[2015-05-05 13:55] DeepDiver1975 commented on #16025
indeed - reopening

[2015-05-05 14:01] schiesbn commented on #16071
@SergioBertolinSG You need to make some additional changes to the dummy encryption module to get a proper second dummy module by mail. I just found it by trying it by my own.

[2015-05-05 14:01] #16071 closed

[2015-05-05 14:21] blizzz commented on #16033
ok, thanks for checking it again

[2015-05-05 14:21] #16033 closed

[2015-05-05 14:24] blizzz commented on #15930
Do you see it only with 8.1 or also earlier releases?

[2015-05-05 14:25] rullzer commented on #15812
@jancborchardt yes should be ;)

[2015-05-05 14:25] #15812 closed

[2015-05-05 14:27] Raydiation commented on #16054
@oparoz i doubt that you can integrate a javascript tool in a PHP application. Just include it in your app ;)

[2015-05-05 14:27] sbelov1 commented on #15990
@DeepDiver1975 Ok, I'm assuming you're talking about this tool: http://www.webdav.org/neon/litmus/.

 Ok, we'll give it a shot and I'll report here later.

[2015-05-05 14:32] jnfrmarks commented on #15832
Doc looks ok to me.

Can we close this one? @carlaschroder @jancborchardt @DeepDiver1975

[2015-05-05 14:34] oparoz commented on #14454
I agree with @th3fallen. Provide composer.json so that people who wish to introduce new libraries in their PR can easily do so, but let bots and devs update their environment via a script, as @PVince81 has suggested.

Having to sync PRs is a pain. I wasn't able to test one of mine simply because I have no idea how we're supposed to manage those.

[2015-05-05 14:42] oparoz opened #16073 "Introduce "conflicts" metadata entry for apps?"
As the app catalogue grows, we're bound to see several apps trying to tackle the same problems and there will be incompatibilities.

What do you think about introducing a "conflicts" entry in info.xml?

[code]

It could become a pain for app devs to track every app which conflicts with their own, but changing one line in one file will probably take less time than having to reply to the same suppor

[2015-05-05 14:42] th3fallen commented on #14454
may be a topic for @cmonteroluque Too.

[2015-05-05 14:43] cdamken commented on #13110
:+1:

[2015-05-05 14:55] LukasReschke commented on #14578
@carlaschroder Can you document that ownCloud uses the bcrypt algorithm and thus for security and performance reasons (namely: Denial of Service as CPU power increases exponentially) only verifies the first 72 character of passwords? (in nearly all contexts such as sharing etc…)

[2015-05-05 14:57] iliyasbasir commented on #13781
@MorrisJobke : I did not get your comment "This will be fixed in 7.0.6 - #15833 was merged"  we are at oC 8.0.3

My apology in advanced if i did not get your wording right

[2015-05-05 15:00] jnfrmarks commented on #13946
@SergioBertolinSG

Any info on this one?

[2015-05-05 15:03] blizzz commented on #15865
not that precise. I will try, but please be more specific.

Also, what are the sharing and notification settings?

[2015-05-05 15:05] jnfrmarks commented on #15930
@jvillafanez

[2015-05-05 15:06] jnfrmarks commented on #15864
@jvillafanez @blizzz

Can we close this?

[2015-05-05 15:17] dwt opened #16074 "Versioned files restore without confirmation"
I was quite shocked a few seconds ago that I accidentally restored an old version of a file, by misclicking. (I was faster than my browser and realized that I had clicked on the versions field for a fiel, wanted to select another file below that instead, only to have the versions popup shove the restore button for an old version under my curser.)

File gone, just like that.

Now I do have backups

[2015-05-05 15:24] jnfrmarks commented on #13904
retest blocked by #15866

[2015-05-05 15:36] jnfrmarks commented on #13578
@DeepDiver1975 @MorrisJobke

I retested with 8.1 alpha 3. There is still a problem.  On the remote system, the UI appears hung or non responsive until I refreshed it.  This is in the remote system server log:

[code]

[2015-05-05 16:09] stonerl commented on #15780
@Sugaroverdose sorry for the late response.

SSLv3 is already disabled and these are my cipher settings:
SSLCipherSuite HIGH:!aNULL:!MD5:!3DES:!AES128:!CAMELLIA:!kRSA

[2015-05-05 16:36] MTRichards commented on #14075
@jancborchardt best bet to put this in the recycle bin?

[2015-05-05 16:47] jancborchardt commented on #14075
@iwurzer please open 2 different issues if you have 2 different feature requests. Thanks! :)

Request A: Well, we would need to introduce yet another setting for that. I think it’s the first time we had this request. @MTRichards

Request B: Restoring a deleted folder/file which was shared with you from the deleted files should also restore the sharing relationship, automatically. cc @schiesbn

[2015-05-05 16:49] MTRichards commented on #14075
I should have said, I meant for option B to put it in the recycle bin.

But yes, two issues would help keep them separate

[2015-05-05 16:59] jnfrmarks commented on #13578
I filed https://github.com/owncloud/files_locking/issues/23 for the thumbnails issue in the server log

[2015-05-05 17:00] jancborchardt opened #16077 "»Can’t write into config directory« page just white, not using any template"
When just opening the owncloud zip folder with a webserver (without having set any permissions) people are faced with this:
![owncloud-setup](https://cloud.githubusercontent.com/assets/925062/7478131/b59b090a-f358-11e4-84c5-027357f4c391.png)

Instead it should use the normal layout.guest.php template which other errors also use.

I’m also pretty sure this used to be different so marking it as regr

[2015-05-05 17:04] jancborchardt opened #16078 "»Can’t create data folder« message has no further help, shows too late"
After clicking install, this message might show when the permissions are not correct yet.
![capture du 2015-05-03 20 36 16](https://cloud.githubusercontent.com/assets/925062/7478202/3e7d749c-f359-11e4-9711-baf22641b090.png)

There are a few problems with it:
- it shows too late, only after clicking install. But we know that before clicking install already and should show it then already
- the head

[2015-05-05 17:05] jnfrmarks commented on #13578
This is the error in the remote system thrown when trying to access the file after remote sharing was disabled on the first system:

[code]

[2015-05-05 17:06] jancborchardt opened #16079 "Switching databases in install dialog makes page jump"
Switch from SQLite to either MySQL or PostgreSQL (opening extra db attributes) and observe the page jump.

From this:
![capture du 2015-05-03 20 38 42](https://cloud.githubusercontent.com/assets/925062/7478250/bc94c074-f359-11e4-9fb5-5ed87637dc76.png)
it jumps up to this:
![capture du 2015-05-03 20 39 00](https://cloud.githubusercontent.com/assets/925062/7478256/c345d28c-f359-11e4-9061-3037e58236c

[2015-05-05 17:06] jancborchardt commented on #16079
cc @owncloud/designers

[2015-05-05 17:09] jancborchardt opened #16080 "»Encryption module« naming"
On a fresh install from the zipfile there’s 2 strange apps:
* »dummy encryption module« – all lowercase and looks like it was forgotten to remove
* »ownCloud Default Encryption Module« with a very long name

What is the »dummy encryption module«? And can we rename »ownCloud Default Encryption Module« to »Default encryption module« (note the fixed capitalization as well) to have the brand name show

[2015-05-05 17:09] gig13 opened #16081 "Problem installing with database having an IP6v address"
**Expected behavior**
Install ownCloud with the autoconfig.php and/or install page and use a remote database with an IP6v address.

**Actual behavior**
The installation does not complete/fails.

**Steps to reproduce**
Setup the autoconfig.php with an IPv6 address OR input one in the installation section during install
Click install

**Server configuration**
Ubuntu 14.0.4
MySQL
OC8.0.2

No server l

[2015-05-05 17:09] jnfrmarks commented on #13572
This is still in 8.1 though not critical for the release.

[2015-05-05 17:10] jancborchardt opened #16082 "Full name in personal settings is wrongly set by default to be the username"
On a fresh installation from the zipfile, for some reason the »Full name« in the personal settings is wrongly prefilled with the username. This should not happen.

@DeepDiver1975 @MorrisJobke

[2015-05-05 17:11] jancborchardt opened #16083 "Help section does not highlight current entry"
I’m in the user documentation, but the entry is not highlighted:
![capture du 2015-05-03 20 50 54](https://cloud.githubusercontent.com/assets/925062/7478343/7673a136-f35a-11e4-8755-320f3984aa6f.png)

@DeepDiver1975

[2015-05-05 17:16] carlaschroder commented on #7769
@karlitschek @nickvergessen Not sure what I'm documenting-- I'm not comfortable telling users to change their dB settings without a solid reason, and oC admins on shared hosting are at the mercy of their hosts. https://github.com/owncloud/core/issues/16008#issuecomment-98844031 suggests that this could be fixed in ownCloud.

[2015-05-05 17:16] carlaschroder commented on #7769
I'll go ahead and write something up until this is resolved.

[2015-05-05 17:38] benurb commented on #16008
@Kalimeiro It's nice that this works for you, but your information is wrong. It's indeed `binlog_format` not `binlog-format`. See https://dev.mysql.com/doc/refman/5.6/en/replication-options-binary-log.html#sysvar_binlog_format

[2015-05-05 17:43] bantu commented on #7769
@carlaschroder Shared Hosting users usually don't have MySQL replication.

[2015-05-05 17:47] ervee commented on #7769
@bantu I have my own Server without MySQL replication but do have the errors in my logs on a default configuration.

[2015-05-05 17:52] Sugaroverdose commented on #15780
Try to run https://www.ssllabs.com/ssltest/ it can help to troubleshoot common ssl issues.
Also you can try my cipher suite string, it's secure, but relies on DH same or bigger than 2048:
[code]
Can't reproduce on OS X 10.10.3/Safari 8.0.5

[2015-05-05 18:26] jnfrmarks opened #16084 "Grammar needs improvement on caching message"
### Steps to reproduce

1. Install 8.1

### Expected behaviour

Grammar correct in caching message

### Actual behaviour

Grammar is incorrect:

[code]

It should read:

[code]

### Server Host info:

Ubuntu 14.04
PHP 5.5.9

### Server configuration:

ownCloud Enterprise Edition 8.1 alpha 3 (daily) Build:2015-05-05T03:08:44+00:00 fa6a67ccc1a7919aea2b18b445c0a31546184326

[2015-05-05 18:40] netexsystems commented on #14769
Has anyone had a chance to test this on an 8.03 build? Hopefully I'll get a chance to try one evening this week and post my findings here...

[2015-05-05 18:41] jnfrmarks commented on #13566
I just retested with 8.1.  With 8.1 the UI hangs; it's stuck on the spinner and the server log file has file_locking errors.  I think we need to resolve the thumbnails issue (files_locking/issues/#23) and then retest this.

@DeepDiver1975

[2015-05-05 19:03] sbelov1 commented on #13533
@blizzz I have another prospect experiencing same/similar issue. A user selects Domain Users group -> only 2 users are shown under User Filter (should be much more) -> 2 users are shown under Users Page -> Only those two users can login. Does it sound like the same issue? If it does, can we please update the patch to 8.0.2 because that's the version we're using. Unless we ported it into 8.0.3 in w

[2015-05-05 19:14] jnfrmarks commented on #13534
This seems resolved in 8.1; closing

[2015-05-05 19:14] #13534 closed

[2015-05-05 19:18] carlaschroder commented on #16008
I'm thinking this is not as large an issue as it first appears, because binary logging in MySQL/MariaDB is not enabled by default. The default is error logging only in plain text. Binary logging logs a whole lot more events, so admins are cautioned that the server will take   a performance hit when binary logging is enabled. This has more information https://mariadb.com/kb/en/mariadb/overview-of-t

[2015-05-05 19:19] schiesbn commented on #14075
Feature request B was already discussed here with the idea of a "pending shares" entry on the side bar which contain both, not yet accepted shared and unshared shares. https://github.com/owncloud/core/issues/13495

Not sure about Feature request A, I don't like the idea that I I can't unshare files shared with me. I should be always in control of my files folder.

[2015-05-05 19:28] RealRancor commented on #16008
Not exactly true. At least the Debian packages directly provided by https://downloads.mariadb.org/ have enabled the binary logging as a default in their shipped my.cnf.

[2015-05-05 19:32] bantu commented on #16056
@DeepDiver1975 Yes and no. getAppPath() may return false, see https://github.com/owncloud/core/blob/master/lib/private/app.php#L561. There is no check for false, see https://github.com/owncloud/core/blob/master/lib/private/appframework/app.php#L52.

[2015-05-05 19:32] LukasReschke commented on #16084
The error message is generated by the PHP XCache module at https://github.com/owncloud/core/blob/952a90f2e3ab60252b125b3e68193cc4995c0c54/lib/private/util.php#L1357, we can't change the tet.

[2015-05-05 19:34] LukasReschke commented on #16084
That said probably we should not throw any error at all…

[2015-05-05 19:37] carlaschroder commented on #16008
Thanks @RealRancor
OK peeps, see if this fix in the docs works for you: https://github.com/owncloud/documentation/pull/1109
@karlitschek
@nickvergessen
@bantu

[2015-05-05 19:40] bantu commented on #16056
cc @Raydiation

[2015-05-05 19:41] carlaschroder commented on #7769
https://github.com/owncloud/documentation/pull/1109

[2015-05-05 19:43] MTRichards commented on #16080
Thinking...
In the future, we may well have more than 1 ownCloud encryption module with different algorithms, or different behaviors. Are the descriptors that might make sense here, such as "Default AES 256 Encryption" module?

If not, then I like "Default encryption module."

[2015-05-05 19:49] jancborchardt commented on #16080
Either way, there will only be one default one, right? So we should call it »Default encryption module«.

@schiesbn it’s provided by the ownCloud community, like most other apps. But we don’t call them »ownCloud <appname>« anywhere. This encryption module is the only one which does that.

[2015-05-05 19:55] schiesbn commented on #16080
In this case I would just name it "Default encryption module". The idea putting some more information in the name like "Default AES 256 Encryption" is tempting but the encryption module allows you to configure the Cipher, AES 256 is just the default.

[2015-05-05 19:56] jancborchardt commented on #14075
Agree with @schiesbn on both points. Things have either already discussed or need their own issue. Closing this mix.

[2015-05-05 19:56] #14075 closed

[2015-05-05 19:57] schiesbn commented on #16080
@jancborchardt do you want to create a pull request with the name change?

[2015-05-05 19:59] schiesbn commented on #15361
This seems to be fixed with the latest changes to the way we mount the shares.

[2015-05-05 19:59] #15361 closed

[2015-05-05 20:53] iliyasbasir opened #16086 "file icon disappear at "Shared with ..." location"
#### Expected behavior
File icon not showing  up at "Shared with you" , "Shared with others" & "Shared by link"

#### Actual Behavior
Icon should show up at all the place like it's showing up at "All files"

#### Step to reproduce
1) share file with user placed screen shot for more elaboration

#### Server configuration
Web (1 server): 
- Operating system - Red Hat Enterprise Linux Server 7.1 (Mai

[2015-05-05 20:56] sajushko opened #16087 "stack on owncloud upgrade"
I am running owncloud v6 and I clicked on upgrade button in web interface. Upgrade process started and then it want to upgrade PHP to version 5.4. I don't have root access to server so I moved all data to another server with PHP 5.4. Now I get a welcome screen with message "ownCloud will be updated to version 8.0.2.". When I click on upgrade button I get message "Updates between multiple major ver

[2015-05-05 21:10] iliyasbasir opened #16088 "when file shared with user file edit right removed but still user can edit file at "All files""
#### Expected behavior
If file shared with user without an edit permission user should not able to edit file at "All Files" tab

#### Actual Behavior
When admin share file with other user even tho edit permission removed user can edit file at "All files" location , if user go to "shared with you" user can not edit file

#### Step to reproduce
This test done at 8.0.2 & 8.0.3
1) shared file with oth

[2015-05-05 21:26] DeepDiver1975 commented on #16056
feel free to check for false in addition :speak_no_evil:

[2015-05-05 21:32] DeepDiver1975 commented on #16080
hmm .. seriously: what does default mean in this context? Wild thinking: in case we come up with a different  enc module for 8.3 which we want to be used  instead of the existing - what would it's name be like? "Default Next-generation Encryption" ??

Seriously - there is no "Default Contacts" or "Default Calendar" - why should there be a "Default Encryption Module" .... basically just because we

[2015-05-05 21:33] DeepDiver1975 commented on #16084
won't fix for me -> closing

[2015-05-05 21:33] #16084 closed

[2015-05-05 21:35] DeepDiver1975 commented on #16087
You have to first more to the latest version of oc7 before moving to OC8

[2015-05-05 21:41] ciroiriarte commented on #13917
I'm seeing a wrong dependency on php-ldap currently:

[root@d01 ~]# rpm -e php-ldap
error: Error de dependencias:
        php-ldap se necesita para (instalado) owncloud-app-user_ldap-8.0.3-2.1.noarch

The requested package should be php54-php-ldap

[2015-05-05 21:54] binarykitchen commented on #15876
ah, finally have migrated everything, this after one month of hassles ...

but really, there should be more warnings and the rollback mechanism is missing.

[2015-05-05 21:54] #15876 closed

[2015-05-05 23:07] DeepDiver1975 commented on #16088
file edit permission applies to the file content - not the file name.

I'm closing this as "works-as-designed"

[2015-05-05 23:07] #16088 closed

[2015-05-05 23:09] DeepDiver1975 commented on #16086
@jancborchardt can I ask you to have a look? THX

[2015-05-05 23:14] sajushko commented on #16087
And how I do it? There is only one option...upgrade to 8.0.2.

[2015-05-05 23:17] DeepDiver1975 commented on #16087
that's what docs are for https://doc.owncloud.org/server/8.0/admin_manual/maintenance/upgrade.html#upgrading-your-owncloud-server

[2015-05-05 23:21] sajushko commented on #16087
I already read all of this. Like I wrote in the first post I don't have access to command line on the server. Is there a way to cancel upgrade?

[2015-05-05 23:42] jancborchardt commented on #16086
This is not a design issue but likely something with the Javascript. @PVince81 @MorrisJobke?

[2015-05-05 23:43] jancborchardt commented on #16080
Well – I still think if it’s the default module then it shouldn’t be its own app and also enabled by default with encryption. Any new module can still replace it then.

[2015-05-05 23:49] MLWALK3R opened #16089 "Upgrade failed from 8.0.2 to 8.0.3"
### Steps to reproduce
1.Run upgrade

### Expected behaviour
Upgrades

### Actual behaviour
Fails

### Server configuration
**Operating system**:
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=14.04
DISTRIB_CODENAME=trusty
DISTRIB_DESCRIPTION="Ubuntu 14.04.2 LTS"

**Web server:**
nginx version: nginx/1.8.0

**Database:**
mysql  Ver 15.1 Distrib 10.1.4-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2

[2015-05-06 00:13] binarykitchen opened #16090 "Access forbidden by rule: "GET /data/htaccesstest.txt HTTP/1.1""
I am seeing the above error in the nginx error log. This for owncloud v8.0.3 on Ubuntu 14.10

Furthermore I have the system cron option enabled under admin settings and am seeing this one warning as well:

[code]

This here is my nginx configuration. I haven't changed it after the migration from v7 to v8 so maybe there is an error?

[code]

[2015-05-06 00:45] binarykitchen opened #16091 "CSR: unsafe-eval"
[code]

I see that when opening the Dev Console under the latest FF. Problem occurs on the latest version v8.0.3

[2015-05-06 00:50] binarykitchen opened #16092 "Apps disabled but cannot enable"
After migrating from v7 to v8 I see that many apps are disabled. When I try to enable these, I see the warning `App directory already exists` and cannot enable it.

What can I do here?

[2015-05-06 01:02] binarykitchen opened #16093 "Undefined index: REQUEST_URI"
[code]

Happens on v8.0.3

[2015-05-06 01:05] binarykitchen opened #16094 "Unable to open documents"
When I click on a ODT file in the document app, wait some seconds until the toolbar appears but still see a white, empty screen, and hit the close button, then an alert dialog appears, saying just this:

[code]

[2015-05-06 01:08] binarykitchen opened #16095 "Music: Exception: {\"Message\":\"js file not found: script:js\\\/md5\\\/md5.min"
And now, when opening the music app, I see this error in the owncloud.log and the browser screen is plain white:

[code]

[2015-05-06 03:39] RealRancor commented on #13917
@ciroiriarte
I think its better to create a new issue instead of reporting this in a closed issue

[2015-05-06 03:48] RealRancor commented on #16093
Hi,

please check the issue tracker of the calendar app. This is already reportrd there.

[2015-05-06 03:50] RealRancor commented on #16089
Dup of https://github.com/owncloud/core/issues/16066 , https://github.com/owncloud/core/issues/16063, https://github.com/owncloud/core/issues/16008

[2015-05-06 03:51] RealRancor commented on #16090
See https://forum.owncloud.org/viewtopic.php?f=17&t=20217

[2015-05-06 03:52] RealRancor commented on #16094
Hi,

the issue tracker of the documents app is located here:

https://github.com/owncloud/documents/issues

[2015-05-06 03:54] RealRancor commented on #16095
Hi,

the issue tracker of the music app is located here:

https://github.com/owncloud/music/issues

Please also make sure you're running the latest version of the music app from the appstore released for OC8

[2015-05-06 04:17] binarykitchen commented on #16093
right, thx

[2015-05-06 04:17] #16093 closed

[2015-05-06 04:19] binarykitchen commented on #16090
Yes, but it pollutes the log file. How can I suppress it?

[2015-05-06 04:20] binarykitchen commented on #16094
ok, thx

[2015-05-06 04:20] #16094 closed

[2015-05-06 04:21] binarykitchen commented on #16095
thx

[2015-05-06 04:21] #16095 closed

[2015-05-06 04:22] RealRancor commented on #16093
Ref: https://github.com/owncloud/calendar/issues/714#

[2015-05-06 04:23] binarykitchen opened #16096 "Undefinex index"
After migrating from v7 to v8 I see plenty of those warnings. Here an example from the log:

[code]

[2015-05-06 04:24] RealRancor commented on #16090
Have a look if it is possible to suppress it somewhere in your NginX config.

[2015-05-06 04:26] RealRancor commented on #16091
Any 3rdparty apps enabled? IIRC some of them are introducing such problems.

[2015-05-06 04:27] RealRancor commented on #16092
Hi,

there is a closed issues about this available here. Normally this should be fixed in 8.0.3

[2015-05-06 04:33] binarykitchen commented on #16090
Something like this?

[code]

If so, then I'd suggest to add this in
https://doc.owncloud.org/server/8.0/admin_manual/installation/nginx_configuration.html

Because this only confuses users I think.

[2015-05-06 04:35] RealRancor commented on #16090
Yes, that could work. To suggest this for the documentation you could report this to

https://github.com/owncloud/documentation/issues

[2015-05-06 04:35] binarykitchen commented on #16091
How do I know if I have any 3rd party apps enabled?

[2015-05-06 05:33] rootrwx opened #16097 "OC 8.0.3. update - oc_lucene_status / mysqlerr1093hack"
The following exception occured while updateting from the latest OC version via the updater.

An exception occurred while executing ' DELETE FROM `oc_lucene_status` WHERE `fileid` IN ( SELECT `fileid` FROM ( SELECT `fileid` FROM `oc_lucene_status` GROUP BY `fileid` HAVING count(`fileid`) > 1 ) AS `mysqlerr1093hack` )': SQLSTATE[HY000]: General error: 1665 Cannot execute statement: impossible to wr

[2015-05-06 05:47] rootrwx commented on #16097
Its required to set
binlog_format = ROW
in the my.cnf

Then its possible to update successfull to 8.0.3.

[2015-05-06 05:47] #16097 closed

[2015-05-06 06:28] RealRancor commented on #16091
Hi,

can't you remember which additional apps you have installed/enabled after the install of OC?

This list could give you some pointers:

https://github.com/owncloud/core/wiki/Apps-in-the-release

[2015-05-06 06:34] binarykitchen commented on #16091
I can see this list, but no idea if any of these are enabled:

[code]

[2015-05-06 06:35] binarykitchen commented on #16091
Is there a 'occ'-like command to retrieve a list of enabled ones easily?

[2015-05-06 06:44] MorrisJobke commented on #13781
You opened this ticket for an ownCloud 7 instance. So I commented for the 7.0.x version. The fix is already present in 8.0.x and 8.1.x

[2015-05-06 06:55] #16014 closed

[2015-05-06 07:19] DeepDiver1975 commented on #16087
I see - the updater pushed you from oc6 to oc8?

[2015-05-06 07:28] #14811 closed

[2015-05-06 07:33] DeepDiver1975 commented on #16090
@carlaschroder FYI

[2015-05-06 07:35] MorrisJobke commented on #16082
What else should be there prefilled?

[2015-05-06 08:01] MorrisJobke commented on #13429
Reason for close: see https://github.com/owncloud/core/issues/13429#issuecomment-86937099

[2015-05-06 08:01] #13429 closed

[2015-05-06 08:23] jancborchardt opened #16100 "ownCloud filepicker does not resize according to window"
1. Open an ownCloud file picker, e.g. the image picker in the personal settings (or the first run wizard)
2. Resize the window – this could also be when rotating a tablet from landscape to portrait
3. Observe the file picker not resizing and becoming unusable:
![capture du 2015-05-06 10 21 14](https://cloud.githubusercontent.com/assets/925062/7489692/d8f3dca2-f3d9-11e4-83f5-c2e67c89de83.png)

@sch

[2015-05-06 08:26] jancborchardt commented on #16082
I thought it should not be prefilled, as it’s not the full name. I do wonder though because that’s probably better than nothing still … what do you think @owncloud/designers?

[2015-05-06 08:28] #15970 closed

[2015-05-06 08:28] sajushko commented on #16087
Yes, updater pushed me from version 6.0.4.1 to version 8.0.2.

[2015-05-06 08:29] MorrisJobke commented on #15970
Tested this too and it is fixed with #16070

[2015-05-06 08:31] DeepDiver1975 commented on #16087
too bad - this should never happen @karlitschek @VicDeo

[2015-05-06 08:34] jancborchardt opened #16101 "Encryption log messages"
With the encryption app, I only checked the box but did not click the confirmation »enable encryption« button. I still get these logs:
[code]

@schiesbn

[2015-05-06 08:34] DeepDiver1975 commented on #16087
@sajushko to fix your installation: I assume you have at least ftp access?

If so I suggest to perform the following steps:
1. backup the whole owncloud folder
2. remove all sub folders with exception of config and data
3. upload the content of the latest oc7 release https://owncloud.org/changelog/ - scroll down to 7.0.5
4. perform upgrade via the browser
5. now use the updater app to move onwards

[2015-05-06 08:40] DeepDiver1975 opened #16103 "ModuleAlreadyExistsException on app activation"
[code]

[2015-05-06 08:42] LukasReschke commented on #16091
`./occ app:list`, that said probably a dupe of https://github.com/owncloud/core/issues/10314 which is likely to be a firefox bug without any impact at all, at least if everything works as expected and you don't have third-party apps.

[2015-05-06 08:44] binarykitchen commented on #16091
Okay, here the output:

[code]

[2015-05-06 08:47] LukasReschke commented on #16091
Does this also happen on the login window? If so it's indeed a duplicate of https://github.com/owncloud/core/issues/10314 and can pretty much get ignored.

[2015-05-06 08:49] binarykitchen commented on #16091
Yes, happens on the login window too.

[2015-05-06 08:49] atroxix commented on #15856
We discovered that when I change ordering to either by size or date then the files are shown. When I change it back to Name then the files are hidden again.

[2015-05-06 08:49] LukasReschke commented on #16091
Duplicate then. THX.

[2015-05-06 08:49] #16091 closed

[2015-05-06 09:02] MorrisJobke commented on #16100
Fix is in #16104

[2015-05-06 09:08] Xenopathic opened #16105 "File picker needs a spinner while loading"
Ref: owncloud/mail#621

TL;DR: Confusion arises from the lack of feedback in the file picker, so we need a spinner.

cc @jancborchardt

[2015-05-06 09:12] jancborchardt commented on #16100
You’re the hero we deserve right now.

[2015-05-06 09:14] jancborchardt opened #16106 "File picker »choose« button should be disabled when no file was chosen"
Led to bugs such as https://github.com/owncloud/mail/issues/620

@MorrisJobke can you help? cc @Xenopathic

[2015-05-06 09:22] jancborchardt commented on #16105
cc @MorrisJobke if you’re up for it while working on the file picker. ;)

[2015-05-06 09:26] jvillafanez commented on #15359
It still happens in 8.1 alpha 3.

I think it might be because the cli uses another different php.ini file, or it doesn't access to the same memory segments

[2015-05-06 09:32] SergioBertolinSG commented on #13946
Tested in  8.1 alpha 3 enterprise edition. Working fine now.

[2015-05-06 09:32] #13946 closed

[2015-05-06 09:35] jancborchardt opened #16108 "File picker does not have empty content message"
When you enter an empty folder with the file picker, there is no message saying »No file here« like in the Files app.

That’s important feedback missing as one could think the folder simply does not load.

cc @owncloud/designers

[2015-05-06 09:37] Xenopathic commented on #15359
@jvillafanez Yes, very often the CLI has a different cache to the web server, but there's very little we can do about this. The best we could do is register a background job that gets run ASAP to clear the caches, but this only works if the system is using webcron and not system cron. Alternatively, we could try to send an HTTP request to the server (with some magical token) to clear the caches, b

[2015-05-06 09:41] kalletabur opened #16109 "Owncloud shared link not working"
### Steps to reproduce
Let other user share with mail notification .. click link "View it!" (https://my.owncloud.com/index.php/apps/files?dir=%2F&scrollto=Shared%2F20150506.ods).

### Expected behaviour
Clicking the link should take user to this folder/file over browser.

### Actual behaviour
User is sent to owncloud web gui root directory.

### Server configuration
**Operating system**:
Debian 7.

[2015-05-06 09:42] SergioBertolinSG commented on #16071
Following @schiesbn advice:

It is working fine changing:
 - Filename in lib from dummymodule.php to the new name, e.g. dummymodule2.php
 - Class name and namespace in that file.
-  app.php file replacing
$module = new \OCA\Encryption_Dummy\DummyModule();
with
$module = new \OCA\Encryption_Dummy_2\DummyModule2();
(given that the namespace of the second module is
"OCA\Encryption_Dummy_2" and the cl