[2016-12-08 09:32] PVince81 commented on #24629
@DeepDiver1975 @butonic we haven't added new mimetypes recently, so might not be urgent, but we need to do this eventually.

Backlog ? Note that if at some point we start adding new mimetypes / mimetype fixes again, we'll **have** to do it with the background job approach instead.

[2016-12-08 09:32] PVince81 commented on #24543
@PhilippSchaffrath for input

[2016-12-08 09:35] ManOki commented on #26799
I also tried playing some video directly from the normal owncloud storage (no external files, no other partition and no symbolic link etc.) and this setting works perfectly. So I guess, there is no problem within kodi but in the external files implementation in owncloud.

[2016-12-08 09:39] jknockaert commented on #26799
@ManOki The first thing to look at would be how ownCloud interacts with the external storage. But the Kodi webdav client is quite a thing, it may be optimising its requests in one way or another, resulting in different http range requests for fast (internal) owncloud storage compared to slow (external) owncloud storage.

[2016-12-08 09:44] PVince81 commented on #26801
Duplicate of https://github.com/owncloud/core/issues/26653

[2016-12-08 09:44] #26801 closed

[2016-12-08 09:44] ManOki commented on #26799
Ok, I'll do the test procedure, @PVince81 described and post the access_log.

[2016-12-08 09:51] PVince81 commented on #23392
moving to backlog for now

[2016-12-08 09:54] RealRancor commented on #26781
Might be related: https://github.com/owncloud/core/issues/26519

[2016-12-08 09:57] PVince81 commented on #22890
backlog for now

@Peter-Prochaska @VicDeo let me know if you think otherwise

[2016-12-08 09:58] PVince81 commented on #22833
Closing as dupe of https://github.com/owncloud/core/issues/11792

[2016-12-08 09:58] #22833 closed

[2016-12-08 09:58] PVince81 commented on #22758
@butonic didn't you want to look into etag propagation perf ? That could be a start

[2016-12-08 09:59] PVince81 commented on #22732
backlog for now

@pmaier1

[2016-12-08 10:01] PVince81 commented on #22499
Backlog for now. PRs welcome

[2016-12-08 10:03] PVince81 commented on #22479
@felixheidecke what do you think ?

[2016-12-08 10:04] PVince81 commented on #22479
cc @pmaier1 @jvillafanez

[2016-12-08 10:06] PVince81 commented on #22330
@DeepDiver1975 @butonic moving to backlog for now, not sure where we are with the discussion about string ids but this is still a huge task with big potential for regressions.

[2016-12-08 10:07] PVince81 commented on #22328
backlog for now, PRs welcome

[2016-12-08 10:08] PVince81 commented on #22254
Backlog ? @pmaier1 @felixboehm @butonic

[2016-12-08 10:09] PVince81 commented on #22240
@felixheidecke

[2016-12-08 10:11] PVince81 commented on #22216
Best would be if the versions app would simply store the user id of who made the change and expose that in the versions tab.

Moving to backlog for now @pmaier1

[2016-12-08 10:13] PVince81 commented on #21900
@jvillafanez something for later ?

Moving to backlog

@pmaier1

[2016-12-08 10:15] PVince81 commented on #21549
I'd say obsoleted by https://github.com/owncloud/core/pull/26449 where the settings only appear alone when selecting a section.

@tomneedham @DeepDiver1975

Closing

[2016-12-08 10:15] #21549 closed

[2016-12-08 10:16] PVince81 commented on #21526
@bantu is that even possible or was that a limitation of phpseclib ?

[2016-12-08 10:18] PVince81 commented on #21219
and maybe have a special exception for timeouts as well, as discussed with @jvillafanez recently

[2016-12-08 10:19] PVince81 commented on #20967
@mrow4a what do you think ?

[2016-12-08 10:20] PVince81 commented on #20699
Not similar to files_drop because people can see each other's files and download it, which is a valid use case.

@pmaier1 @felixboehm

[2016-12-08 10:22] PVince81 commented on #13495
@pmaier1 backlog ?

Note that some of the API work was already done here https://github.com/owncloud/core/pull/24439

[2016-12-08 10:23] PVince81 commented on #24219
moving to backlog, PRs welcome

[2016-12-08 10:26] PVince81 commented on #24061
Backlog for now, PRs welcome

[2016-12-08 10:42] bantu commented on #21526
You can at least look at the file mode as per the ticket description.

[2016-12-08 10:58] butonic commented on #25770
Maybe @mmattel can see other use cases than the thumbnails. For thumbnails I would actually prefer to move them out of the virual filesystem and treat them like a cache. Similar to Avatars they are actually not part of a users home. Thumbnails are cached versions of files in the users home. So this is actually a question of cache invalidation. I'd invalidate the thumbnails after a few days.

I'd l

[2016-12-08 10:59] pmaier1 commented on #24779
I still don't think it's good to have this enabled by default...

I agree with you. IMO it should be disabled by default to avoid confusion of non-technical users. It's the admin's responsibility to enable and explain to users why and how they should use it.
Please close if nobody disagrees.

[2016-12-08 11:11] guruz commented on #24995
I propose that we return in status.php (unauthed. can't use capabilities which is authed) that we support OAuth2, possibly with an endpoint if needed.

legacy: If this is not returned in status.php we just do the old HTTP auth.

legacy: If status.php is redirect we use Shibboleth/SAML

[2016-12-08 13:34] #24779 closed

[2016-12-08 13:37] PVince81 commented on #23423
@owncloud/qa we now have automated tests for transfer ownership, so let's also add cases with comments and tags. For now only system tags would be transferred due to file id preservation, but not comments. (as far as I remember)

[2016-12-08 13:40] PVince81 commented on #20492
@pmaier1 move to backlog ? Not on the plan AFAIK.

This is not a trivial feature, needs new APIs, UI, etc.

[2016-12-08 13:42] PVince81 commented on #20047
@DeepDiver1975 any further plans for 10.0 ?

The only one I see is the almost finished ZIP plugin: https://github.com/owncloud/core/pull/24178

Else I'd move to backlog for now...

[2016-12-08 13:42] PVince81 commented on #20259
@pmaier1 @felixheidecke thoughts on this ?

Would move to backlog for now

[2016-12-08 13:43] PVince81 commented on #19875
@DeepDiver1975 keep in 10.0 or backlog ?

[2016-12-08 13:45] PVince81 commented on #19687
moving to backlog for now, PRs welcome. From what I remember this is quite a tricky bit of CSS...

@owncloud/design

[2016-12-08 13:49] PVince81 commented on #19361
moving to backlog. If these APIs are needed by features, they should be added as part of it.

[2016-12-08 13:52] PVince81 commented on #19159
@pmaier1 solution will be to implement https://github.com/owncloud/core/issues/13495

Moving to backlog

[2016-12-08 13:53] PVince81 commented on #19136
@owncloud/design for input

[2016-12-08 13:54] PVince81 commented on #18784
@owncloud/design

[2016-12-08 13:56] PVince81 commented on #18771
Do we have time to continue this in 10.0 ? Else move to backlog.
The discussion can continue nevertheless.

The ticket itself is unclear as it contains too many suggestions, we need a focus. AFAIK there are already other tickets for individual items

@butonic @DeepDiver1975 @mrow4a

[2016-12-08 13:57] PVince81 commented on #18721
I think the only stuff in scope for 10.0 right now is making the updater app be able to upgrade over multiple versions. And that will only work starting with 10.0 once Doctrine migrations are used for any upgrades.

@DeepDiver1975 @VicDeo correct ?

[2016-12-08 13:58] PVince81 commented on #18708
Backlog for now. PRs welcome

[2016-12-08 14:01] PVince81 commented on #18590
While it makes sense conceptually, I don't see this as critical. Moving to backlog.

[2016-12-08 14:04] PVince81 commented on #18312
We still don't have a good way to safely reenable apps within the `occ upgrade` process.

@DeepDiver1975 @VicDeo do we want to invest time for this in 10.0 ? Else I'd move to backlog.

Note that apps can be reenabled in a scripted manner with `occ app:enable`, but it's unconvenient still.

@pmaier1

[2016-12-08 14:10] PVince81 commented on #18193
@mjobst-necls looking for a new quick challenge ? Might need navigating some old rusty APIs to get to the list of shipped apps.

[2016-12-08 14:15] PVince81 commented on #18160
The backend and API stuff was already moved to core, so for all storages that use the core API the files_external app does not need to be enabled for the storages to work.

However the UI and OCC commands still needs to be ported to core for this to be more complete.

[2016-12-08 14:16] PVince81 commented on #17861
Moving to backlog for now. The discussion can continue nevertheless.

[2016-12-08 14:18] PVince81 commented on #17808
This could be implemented as an app that shows a banner once on the login page and also on public pages. The app could then be enabled only on instances that really require it.

Move to backlog ?

[2016-12-08 14:18] PVince81 commented on #17808
cc @pmaier1 @felixboehm

[2016-12-08 14:20] PVince81 commented on #17361
On 10.0 the white page now will contain an exception stack trace if the error happens early, closing.
Ref: https://github.com/owncloud/core/pull/26075

[2016-12-08 14:20] #17361 closed

[2016-12-08 14:22] PVince81 commented on #17372
This is the responsibility of every app. It is already possible to link to individual sections using the URL anchor, so apps need to provide a link wherever they can and when it makes sense.

If you had any app in mind, please open a ticket for that app and explain where the link should be.

[2016-12-08 14:22] #17372 closed

[2016-12-08 14:22] mrow4a commented on #20967
@PVince81 You mean, trying to reduce the number of inserts or optimize the query? Probably this is yet another big project. I think I could have a look and analyse this as a next project.

[2016-12-08 14:22] PVince81 commented on #17795
Yeah... together with https://github.com/owncloud/core/issues/22479, this page really needs a good revamp.

@owncloud/design

[2016-12-08 14:31] PVince81 commented on #17196
Filesystem stuff should be transparent for apps, apps should not need to care about setting up FS and tearing down. So we need to fix those APIs and/or complete them.

From what I see, `initMountPoints` is called already in `getUserFolder()`: https://github.com/owncloud/core/blob/v9.1.2/lib/private/Files/Node/Root.php#L346

[2016-12-08 14:31] #17196 closed

[2016-12-08 14:35] PVince81 commented on #17197
Apps should not call `tearDownFS()`, this should happen automatically.

In the usual case, the tear down is never called within a single PHP request as everything gets detroyed anyway once the PHP request finished.

As for background jobs, `tearDownFS()` is called between every bkg job.

[2016-12-08 14:35] #17197 closed

[2016-12-08 14:56] PVince81 commented on #17146
Hmm, I thought I already saw something deleting shares from deleted users, but it's not in that class...

[2016-12-08 14:56] PVince81 commented on #17166
Moving to backlog for now.

[2016-12-08 14:57] PVince81 commented on #17166
@DeepDiver1975 that is, unless you think it's critical and we can find someone with time to take care of this.

[2016-12-08 15:07] PVince81 commented on #17091
Not sure if we want to do this right now, could do later, or drop the topic.

Thoughts ? @DeepDiver1975 @butonic @pmaier1 @felixboehm

[2016-12-08 15:08] PVince81 commented on #17091
probably just a matter of 1md to add an option.
Maybe "setup-install.php" could be made to change that option to allow web UI update.

[2016-12-08 15:10] PVince81 commented on #17109
Moving to backlog for now. If anyone is up for the task, feel free to submit a PR.

From what I see we already have a second argument `options` to `showHtml` and since OC 9 or so notifications can already stack. So it's just a matter of adding an extra `cssClass` arg or so and define CSS styles for the colors.

But then also every app that pushes this kind of notifications also need to be changed

[2016-12-08 15:11] PVince81 commented on #16875
Closing in favor of https://github.com/owncloud/core/issues/26765

[2016-12-08 15:11] #16875 closed

[2016-12-08 15:12] PVince81 commented on #26765
Looks like we never had search there in the first place https://github.com/owncloud/core/issues/16875
But at least one could use Ctrl+F before.

[2016-12-08 15:16] PVince81 commented on #16484
@felixheidecke

[2016-12-08 15:18] PVince81 commented on #16332
Would move to backlog for now @pmaier1 @felixboehm

[2016-12-08 15:25] PVince81 commented on #23751
@DeepDiver1975 can you take over and check whether the upstream fix is now active as per our update of the libs ? Thanks

[2016-12-08 15:30] PVince81 commented on #25266
@VicDeo please have a look into this. Might need adjusting the share manager / provider APIs but that's ok. Might need a new v2 interface. We'll see.

This is important for the clients to not have a performance drop when doing a PROPFIND of "oc:share-types" when syncing.

[2016-12-08 15:58] PVince81 commented on #26678
@mjobst-necls do you have time to look into this ? I hope it's a quick fix... If it's too big then leave it

[2016-12-08 16:28] PVince81 commented on #25216
@davitol please update

[2016-12-08 16:30] PVince81 commented on #25085
Question: are these the special "Google Docs" files ? Because these files have no actual size, GDrive doesn't deliver a size because what you download is actually an export...

[2016-12-08 16:33] DeepDiver1975 commented on #23751
fixed with the update to sabre-dav 3.2 - shipped with oc10

[2016-12-08 16:33] #23751 closed

[2016-12-08 16:34] DeepDiver1975 commented on #17808
close - I see no reason to keep this open.

noone will ever look at this issue and say: cool - I'll implement that

[2016-12-08 16:44] Flachzange commented on #25551
@PVince81 The patch actually helped with the upgrade to 9.1.1 but now I am facing the same problem again when trying to use the updater app to upgrade from 9.1.1 to 9.1.2.

`� [UnexpectedValueException] �
� Could not parse a response for config:list. Please check if the current shell user can run occ command. Raw output: �
� Not allowed �`

Nothing in the logs so far. Anyone else with the same pro

[2016-12-08 17:24] Kawohl commented on #25479
This is also related: https://github.com/owncloud/enterprise/issues/1692

[2016-12-08 17:44] stefan-niedermann commented on #17109
I am sure this can be handled using a default argument in the function to keep it backwardscompatible :)

[2016-12-08 17:58] PVince81 commented on #17109
Yes, of course. But I was mostly referring to using the actual color classes depending on the type of notification. Basically: find all warning notifications in the code and set them to `cssClass: "warning"` or so.

[2016-12-08 18:22] PVince81 commented on #24051
I'd like to close this as the documentation says that Multiviews must be disabled, so this case is not officially supported.

However if someone wants to contribute a PR to provide a solid workaround for this then feel free to submit one.

[2016-12-08 18:22] #24051 closed

[2016-12-08 18:24] PVince81 commented on #26758
Filling the logs like this is not good. Hopefully might be able to prevent this.

[2016-12-08 18:28] VicDeo commented on #25551
@Flachzange This patch kills itself on update by overwritting with files from 9.1.1
9.1.1 is also affected. Which means that it should be patched with the same patch

[2016-12-08 18:30] PVince81 commented on #23830
@jesmrec mind retrying with master where we now use Webdav PUT ? It should return 403 and display an error, no conflict dialog.

[2016-12-08 18:33] PVince81 commented on #23792
@SergioBertolinSG please retest.

[2016-12-08 18:34] PVince81 commented on #23591
@DeepDiver1975 I assume that the market will still give a better rating to signed apps ?

If yes we should improve the UX of such commands.

[2016-12-08 18:38] PVince81 commented on #23245
PRs welcome

[2016-12-08 18:39] PVince81 commented on #23241
Let's reopen once we find a more concrete case

[2016-12-08 18:39] #23241 closed

[2016-12-08 18:40] PVince81 commented on #23228
Need to make the code and DB future-proof at some point.

[2016-12-08 18:42] PVince81 commented on #24533
Please try again with OC 9.0.6 or later and reopen if the problem persists

[2016-12-08 18:42] #24533 closed

[2016-12-08 18:42] PVince81 commented on #23095
Duplicate of https://github.com/owncloud/core/issues/23322

[2016-12-08 18:42] #23095 closed

[2016-12-08 18:45] PVince81 commented on #22981
@felixheidecke

[2016-12-08 18:46] PVince81 commented on #22805
It's indeed a problem, but a very rare use case, mostly only seen when testing.
Moving to backlog for now

[2016-12-08 19:05] VicDeo commented on #25692
@tomascohen

Googling is better than `tail data/owncloud.log`? why?

[2016-12-08 19:13] Flachzange commented on #25551
Ah, thanks. I somehow expected that the update included the patch.

[2016-12-08 19:44] #22210 closed

[2016-12-08 21:59] VicDeo commented on #25692
Got the trace
[code]

Might be related to the fact that APCu extension is not enabled for php-cli by default.

[2016-12-08 23:17] mjobst-necls commented on #26678
@PVince81 I wanna finish #25909 first. A lot of changes are already done and I'm going to use a collection instead of a simple object for the _selectedFiles attribute.

[2016-12-08 23:17] VicDeo commented on #25692
@PVince81 No need to fire an update. Reproducible by running an integrity check from CLI with enabled memcached.
Because integrity check uses session to store results.

I'm not an memcached expert, but it looks like a bug in validation:

1. http://php.net/manual/en/memcached.set.php
Returns TRUE on success or FALSE on failure. Use `Memcached::getResultCode()` if necessary.

We always do `Memcached

[2016-12-08 23:25] tflidd commented on #26054
Could we add a random string to the download file, that you finally have setup-owncloud-FzdHnx28.php ? The script could as well verify if the filename contains such a string.

[2016-12-09 05:46] cornelinux commented on #24931
@PVince81 Thanks for pointing this out.
Such features are already implemented in privacyIDEA in the User Notification Event handler
http://privacyidea.readthedocs.io/en/latest/eventhandler/index.html
http://privacyidea.readthedocs.io/en/latest/eventhandler/usernotification.html
were we can very easily react on any event.
The administrator can define which notification (email, sms) should occurr un

[2016-12-09 06:14] RealRancor commented on #26054
@tflidd I think this is not about the setup-owncloud.php but about the internal webinstaller if you throw the owncloud tar.bz2 itself into the webroot.

[2016-12-09 07:01] caique02 opened #26802 "hash_hmac(): Unknown hashing algorithm"
### Steps to reproduce
1. It's happening randomly.
2. Not able to view any image thumbnail due to this error.
3.

### Expected behaviour
Tell us what should happen
Randomly navigating doing all kind of operations (upload / download files)

### Actual behaviour
Tell us what happens instead
It's making apache server to hang.

### Server configuration
**Operating system**:
     Publisher: solaris

[2016-12-09 07:38] caique02 commented on #26802
![screen shot 2016-12-08 at 11 37 57 pm](https://cloud.githubusercontent.com/assets/24470770/21041373/72a99144-bd9f-11e6-896d-b74af6b3d1bf.png)

[2016-12-09 08:18] DeepDiver1975 commented on #26802
hmmm ... no sha1 algo available - no idea if we can run without it. AFAIK we use sha1 everywhere ..

please run following command to see which algos are availble:

[code]

[2016-12-09 08:46] PVince81 commented on #25692
I also heard somone say that the APCu cache for CLI and web server are completely separate. So maybe when upgrading we should just disable APCu completely as it is unlikely to be useful at all as it has no access to the stuff cached by the web server ?

[2016-12-09 08:47] PVince81 commented on #25692
actually we could even disable APCu for ALL commands:
- occ upgrade
- integrity check
- cron (well, unless there bkg jobs cache stuff that they could reuse through the next runs)

[2016-12-09 09:00] SergioBertolinSG commented on #23792
Still happening in stable9.1.

[2016-12-09 09:05] RealRancor commented on #25692
Side-note: This issue here is about Memcached as the cache.

For Memcached and Redis it makes sense to keep it for all commands as this cache is shared between cli and webserver.

[2016-12-09 09:05] SergioBertolinSG commented on #23792
I think this is high, because the user gets totally blocked, and the situation doesn't feel so corner, someone can have an oC server in a private network and share using federation to a public server. Perhaps the user doesn't notice that their servers are in different networks and accidentally blocks the user who recieves it.

[2016-12-09 09:07] PVince81 commented on #23792
Indeed... I can't think of a good solution yet.

How long is the user totally blocked ? I'd suspect that after a timeout of a minute or so the connection to the federated share will abort. And then it should cache the fact that it failed somewhere so that it doesn't retry too often.

[2016-12-09 09:11] caique02 commented on #26802
Yeah something is going wrong. Some pictures works and some pictures don't. When I restart the apache all alogs works (sha1 sha512 and sha256) but when I start to see this error in the log file some algorithm stop to work. Not sure why. Please find bellow the result:

# /usr/local/bin/php -r "print_r(hash_algos());"
Array
(
    [0] => md2
    [1] => md4
    [2] => md5
    [3] => sha1
    [4] => sh

[2016-12-09 09:11] ennder commented on #26798
Hi, what misses is the **Upload** Date / Time

[2016-12-09 09:16] PVince81 commented on #26802
Well, if the PHP function work for a while and suddenly stops working, then there is something wrong with the PHP or Apache env. I don't think it's related directly to ownCloud.

I guess that such weird side effects might appear if the server is somehow running out of memory and functions or libraries cannot properly initialize themselves. That could maybe fit with the preview creation code paths.

[2016-12-09 09:20] caique02 commented on #26802
No. Not big files. Sometimes one directory with only two pictures raise the error. And this only happen with pictures.

This is the output of var_dump(hash_algos())) when everything is working:
array(46) { [0]=> string(3) "md2" [1]=> string(3) "md4" [2]=> string(3) "md5" [3]=> string(4) "sha1" [4]=> string(6) "sha224" [5]=> string(6) "sha256" [6]=> string(6) "sha384" [7]=> string(6) "sha512" [8]=>

[2016-12-09 09:20] PVince81 commented on #26798
@ennder how do you define an upload ?

- uploaded through web browser
- uploaded through Webdav API (sync client, mobile client)
- written/created by an app ? (not technically uploaded)
- file created by text editor (well, technically uploaded by JS in the browser)
- file that suddenly appeared on external storage because uploaded outside of ownCloud ?

How do you handle file renames and how would

[2016-12-09 09:22] DeepDiver1975 commented on #26802
According to the log this is not related to image processing. This happens while processing notifications

[2016-12-09 09:24] caique02 commented on #26802
![screen shot 2016-12-09 at 1 23 46 am](https://cloud.githubusercontent.com/assets/24470770/21043916/37126cf0-bdae-11e6-8494-08322f7ce639.png)

[2016-12-09 09:25] caique02 commented on #26802
As you can see the pic.jpeg with 30k does not shows the thumbnail but the png file with 144KB shows.

[2016-12-09 09:25] SergioBertolinSG commented on #23792
Not really, it takes several minutes. Feels like it is totally broken, after successfully login everything goes extremely slow, not usable at all. Also, if you log out and in again it takes those minutes again.

[2016-12-09 09:26] PVince81 commented on #23792
Ok, thanks for the details. So it means there is indeed a timeout in place, but ownCloud doesn't remember that it failed. Will have to check the "remote status" caching, I seem to remember that we have that...

[2016-12-09 09:27] jvillafanez commented on #26790
I think we should check first if the normal cleanup routines work. Setting up that flag sounds like a hack.

[2016-12-09 09:36] PVince81 commented on #26790
They don't. Debugging shows that in some cases `fclose` is never called, as soon as the instruction pointer sends the last byte, the browser kills the connection and `fclose` is not reached.

There is however some cleanup happening where the GC will call our `fclose` callback, but it calls it so late that even the static classes we need are GC'd alredy... which is the reason for that annoying log

[2016-12-09 09:38] caique02 commented on #26802
Seems to be something related to jpg and jpeg pictures. I uploaded a lot of png files and they're all working correct. I'll attach the picture.

[2016-12-09 09:39] caique02 commented on #26802
![screen shot 2016-12-09 at 1 38 00 am](https://cloud.githubusercontent.com/assets/24470770/21044339/4d65f740-bdb0-11e6-93d1-cd933867fe1f.png)

[2016-12-09 09:46] scroom commented on #26519
Thought about changing the LDAP design and asked therefore in the iRedMail forum for possible consequences. The [developer responded](http://www.iredmail.org/forum/post53012.html#p53012) and meant:

[2016-12-09 10:51] alantygel commented on #13391
It just happened on my server.

We are still using owncloud 8.0 . Upgrading to 9 will solve the problem?

[2016-12-09 10:53] PVince81 commented on #13391
@alantygel yes, because OC 9 has some locking mechanism to avoid this kind of race conditions

[2016-12-09 10:56] ManOki commented on #26799
I tested it again and everything was fine this time. I don't know, what happened last time (some days ago), that the setting failed, but thanks for the help anyway. I'll close this ticket now and reopen it, if I see such an odd behaviour again. (I'll do some testing the next days or weeks).

[2016-12-09 10:56] #26799 closed

[2016-12-09 10:59] ymg2006 opened #26803 "Feature Requests - add loading while owncloud is not prepared"
it would be so nice if a loading js added while page is not prepared (first time loading page), it would be better if that shows while logining in (after password entered).animated css or png would be so nice while it could be themed like http://tobiasahlin.com/spinkit/ or http://ricostacruz.com/nprogress/ .

[2016-12-09 12:03] davivel commented on #26651
True only for Android client.

In my scope right now: https://github.com/owncloud/android/issues/1841

[2016-12-09 12:08] davivel commented on #24995
OK to me.

This will not work; as you said, status.php is unauthed, so there will be no redirection to the IdP.

For legacy, I would just keep the detection how it is right now. In mobile clients we send an unauthenticated HEAD to the remote.php/webdav.

[2016-12-09 13:19] guruz commented on #24995
Sorry, I mixed this up. You are right.

(@ogoffart for review)

[2016-12-09 13:35] michaelstingl opened #26804 "Upload progress bar: wrong plural for German translation"
In the upload progress bar, German words use wrong plural.

**Wrong:**
Sekunde ==> Sekundes
Minute ==> Minutes
Stunde ==> Stundes

![image001](https://cloud.githubusercontent.com/assets/214010/21050596/e169f3d6-be1b-11e6-8fea-99f510283c3d.png)

**Correct:**
Sekunde ==> Sekunden
Minute ==> Minuten
Stunde ==> Stunden

### Steps to reproduce
1. Install 9.1.2
2. Login and switch language to "German" o

[2016-12-09 15:22] pmaier1 commented on #15700
Just stumbled over this when looking for an existing bug report. I think this is the same issue as I want to report:

- When creating a federated share for a file that before was shared with you via 1) the receiver sees the share as shared by you (**A** shares 'file' with **B**; **B** creates federated share for 'file' **C**@federated.oc.com -> **C** sees federated share 'file' shared by **B** ->

[2016-12-09 15:26] PVince81 commented on #15700
Note that since 9.1 we added "flat federated reshares". This means that if A fed shares with B and B fed shares with C, then C will see "shared by A" because A is the real owner. It also prevents having a long chain of shares which internally results in server C calling server B calling server A. No, now server C calls server A directly for better performance.

Now when mixing fed shares with link

[2016-12-09 15:43] pmaier1 commented on #15700
Now when mixing fed shares with link shares... not sure...

Yup, I know. Makes sense and is very nice. Nevertheless C should "see" that B shared with him because maybe he doesn't even know A which can cause confusion, for instance. Technically the share should of course happen between A and C for the mentioned reasons. Moreover visually as well as technically _creating a federated share directly_

[2016-12-09 15:52] PVince81 commented on #15700
Unfortunately no, because on the technical level they are slightly different.

When you create a direct federated share with someone, there is a real connection made to the target server. Both servers have entries about who shared with who.

However if anyone mounts a public link share on their ownCloud, the owner of the link share doesn't know about it because it really is "anonymously mounting".

[2016-12-09 16:12] pmaier1 commented on #15700
Ah, thanks for explanation, got it now! I would support auto-converting mounted links to proper fed shares to come to a consistent behavior. What would you say? Doable for 10?

[2016-12-09 16:13] PVince81 commented on #13143
Is it at least ok to use foreign keys for newly added tables ?

(adding some for older tables is likely to break without proper cleanup of the data)

[2016-12-09 16:14] PVince81 commented on #13143
Yes... This happens in a background job for things like orphaned shares.

[2016-12-09 16:15] PVince81 commented on #15700
We can probably take over that PR and refresh it, but I'm worried about the potential sec issue. I'll ping @Peter-Prochaska there

[2016-12-09 17:49] VicDeo commented on #25692
@RealRancor  By any chance do you have an idea why this could happen?
This is being logged on a failure:
[code]

It seems to me that php-memcached unexpectedly closes a connection to the memcached server.

[2016-12-09 17:56] PVince81 commented on #26067
Not finishable because we'd lose the "storage warnings" notifications.
So need to wait for https://github.com/owncloud/core/issues/6878 to have these warnings be real notifications.

[2016-12-09 17:58] PVince81 commented on #25556
Close or do you want to improve it further ?

[2016-12-09 18:07] PVince81 commented on #20179
the sharing helper is dead

[2016-12-09 18:07] #20179 closed

[2016-12-09 18:09] PVince81 commented on #20116
Yes, let's do that.

Not sure if we'll have enough time in the scope of 10.0, at least for not all of them.

Regarding Dropbox, we might want to wait until the API situation is solved: https://github.com/owncloud/core/issues/25969

[2016-12-09 18:09] PVince81 commented on #20110
@DeepDiver1975 will you invest time in this in the context of 10.0 ? If not -> backlog

[2016-12-09 18:10] PVince81 commented on #18739
No, there are still too many components using it unfortunately... Need to sort these out first.

@felixheidecke

[2016-12-09 18:11] PVince81 commented on #17220
Tagging as bug because the move to Webdav made us lose the detail of error messages.

[2016-12-09 18:11] PVince81 commented on #17220
Ah, never mind. I thought it was that other ticket.

[2016-12-09 18:16] PVince81 commented on #25563
The code in question is here: https://github.com/owncloud/core/blob/master/apps/dav/lib/Files/CustomPropertiesBackend.php

The tricky part is migrating from the old structure to the new one, basically trying to identify the files by path to find their ids. I suspect that in many envs entries are orphaned already, so need to clean those up.

- [ ] use fileid instead of path in https://github.com/ow

[2016-12-09 18:19] PVince81 commented on #24763
@PhilippSchaffrath this could be obsoleted or changed with oauth2

[2016-12-09 18:24] PVince81 commented on #17629
Obsoleted by market app.

CC @DeepDiver1975

[2016-12-09 18:24] #17629 closed

[2016-12-09 20:21] VicDeo commented on #25692
ok.
[code]
is a `quit` command. https://github.com/memcached/memcached/wiki/BinaryProtocolRevamped#command-opcodes. So memcached server is obeying to it.

[2016-12-09 22:11] caique02 opened #26807 "Unable to generate a preview for JPG and JPEG files only."
### Steps to reproduce
1. Not able to view JPG JPEG thumbnails.
2. Error: {"message":"I'm truly sorry, but we were unable to generate a preview for this file","success":false}
3.

### Expected behaviour
Tell us what should happen
Trying to open a JPG image

### Actual behaviour
Tell us what happens instead
Black screen

### Server configuration
**Operating system**:
     Publisher: solaris

[2016-12-09 22:27] #26807 closed

[2016-12-09 22:27] #26802 closed

[2016-12-10 08:36] RealRancor commented on #25692
@VicDeo Sorry, don't have any experience with memcached.

[2016-12-10 13:23] turin13 commented on #26683
Guys, any news? What do you think I can do to workaround this issue? May I somehow reset those users in ownCloud (without deleting them from Active Directory)?

[2016-12-11 06:52] yasirunilan commented on #25901
Is this issue resolved? can I work on this

[2016-12-11 08:05] RealRancor commented on #25901
@yasirunilan I don't think that someone has picked this up as the issue is still open and no Pull Request is referencing it. So feel free to work on it :+1:

[2016-12-11 08:16] yasirunilan commented on #25901
Okay I'll work on it

[2016-12-11 13:16] yasirunilan commented on #25901
Is it required to display the notification even if the user logs in from different browser other than  IE below 11 ? or only if he uses a browser below IE 11

[2016-12-11 13:21] RealRancor commented on #25901
Mhhh, the current supported browsers are:

https://doc.owncloud.org/server/latest/admin_manual/installation/system_requirements.html#supported-platforms

Don't know how wide-spread the other browsers are

[2016-12-11 13:57] Xuanwo commented on #26514
After update to 9.1.2, this problem is not fixed.
When the folder name is `test`, everything is OK.
But when the folder name is `测试`, after few minutes, it's shares become `(2)`.

[2016-12-11 14:12] yasirunilan commented on #25901
Any idea on how the message should appear the text content and location

[2016-12-11 18:18] hhaeb opened #26809 "No email notification with external storage"
### Steps to reproduce
1. Add an local folder as external storage
2. copy a file on the server to the local folder
3.

### Expected behaviour
1. File should be syncronised
2. File should be in sync protokol
3. File should be in server activity protokol
4. email should be sent

### Actual behaviour
First 3 behaviour are O.K.
NO email were sent

### Server configuration
Ubuntu 14.04.4 LTS

**Web ser

[2016-12-11 19:40] mbiebl commented on #25834
I do see the issue as well. For some contacts, the entry in contact birthdays is duplicated, but not for most. I don't remember, if I deleted those contacts in the past and recreated them.

[2016-12-12 03:20] crrodriguez commented on #26662
Requested repository has been published now.

[2016-12-12 07:50] PVince81 commented on #26683
I'm out of ideas and don't have enough experience with LDAP to be able to debug this further.

Let me provide you with a quick patch to bypass the code in question.

[2016-12-12 07:53] PVince81 commented on #26683
Comment out this piece:
[code]

This is in the method `buildSuperShares()` of the class `OCA\Files_Sharing\MountProvider`.

This will prevent the code to try and fix the share's target. There is a slight chance that the users might see duplicate received shares. But that's better than not being able to login at all.

[2016-12-12 07:56] PVince81 commented on #26514
By the way, you should never do that because you'll lose metadata. But I guess you knew that and just wanted to try it out ?

[2016-12-12 07:58] Xuanwo commented on #26514
@PVince81 Yep, I have some file nonexist, but still appear on website, I do the clean to rebuild filecache.

[2016-12-12 07:58] PVince81 commented on #26514
@Xuanwo in the original steps you said you were using a plugin to copy files.

Based on your last comment it sounds like you don't even need to do anything, just create a folder 测试 and the problem will happen ?

Can you give more details about how exactly that folder is shares ? (user share / group share / federated share, ...)

Also these:
- `select * from oc_share where file_target like '%测试%'`

[2016-12-12 08:06] PVince81 commented on #26662
It's missing here: https://download.owncloud.org/download/repositories/testing/owncloud/

[code]

Reopening

[2016-12-12 08:07] PVince81 commented on #26662
The "stable" repo is there, yes

[2016-12-12 08:08] Xuanwo commented on #26514
Firstly, I do share a folder `测试` from marketing to xuanwo, I run `select * from oc_filecache where name like '%测试%';` and got this:
[code]

But after few minutes, I got this:

[code]

Instead, I found (2) im my database:

[code]

[2016-12-12 08:10] Xuanwo commented on #26514
I have a idea that there is something wrong with my cron work, because everything is right at first, but got wrong after few minutes, no more than 15 minutes.
I ran cron job with system's crontab.

[2016-12-12 08:15] PVince81 commented on #26514
@Xuanwo it is likely that the problem is triggered by cron runs, yes.

This problem reminds me of https://github.com/owncloud/core/issues/25718 but it's unlikely to be 100% the same issue because you're not using LDAP.

Can you do the exact same test and create a folder called "test" and another one "test测设" and tell me whether they both receive a "(2)" ?

If only the ones with UTF-8 chars receive

[2016-12-12 08:15] PVince81 commented on #26514
and also "en_US.UTF-8" for the cron run

[2016-12-12 08:38] PVince81 commented on #13820
@DeepDiver1975 the doctrine migrations PR was tested and merged https://github.com/owncloud/core/pull/14851. Is there anything left to do ? If not, please close all relevant tickets. Thanks.

[2016-12-12 08:38] Xuanwo commented on #26514
I have these check:

[code]

And `test` , `test试测`,  `测试test` works file, only `测试` became `(2)`

[2016-12-12 08:43] Xuanwo commented on #26514
By the way, after I add a `测试`, the `测试test` became `test(2)`

[2016-12-12 08:45] PVince81 commented on #26514
When you say "became ` (2)`", do you mean it has automatically deleted the `测试` part and all that remains is " (2)" ? This could be a clue.

[2016-12-12 08:46] Xuanwo commented on #26514
Yes, `测试` became `(2)` and `测试test` became `test(2)` (I already have a `test` folder)

[2016-12-12 08:47] PVince81 commented on #26514
Hmmmmmm, thanks for the info. Looks like there's a hidden monster that's hungry for chinese 😄

[2016-12-12 08:49] Xuanwo commented on #26514
Never mind, hope these info will be helpful for you.

[2016-12-12 08:50] hodyroff commented on #26804
fixed. You can do it in Transifex yourself ;) Please check in next daily.

[2016-12-12 08:51] PVince81 commented on #26514
@Xuanwo let's try something:

As "marketing", share a folder "test" with "xuanwo".
Login as "xuanwo" then rename "test" to "测试x". Then refresh the page and see if the folder is still called "测试x".

There is a method in the code that renames the files_target. Apparently on your environment it's triggered during cron. But here I asked you to manually rename as recipient, this will call the same meth

[2016-12-12 08:54] Xuanwo commented on #26514
After several refresh, the folder is still called `测试x`

[2016-12-12 08:55] Xuanwo commented on #26514
But intersting, when I changed it into `测试`, it became `(2)`

[2016-12-12 08:57] Xuanwo commented on #26514
I have a folder called `Work`, after I changed it into `测试Work`, it became `Work(2)`

[2016-12-12 08:58] PVince81 commented on #26514
I have the feeling that somewhere in the code "测试" gets converted to "", and "" is a folder that already exists, and that's why the code adds a "(2)" behind it.

Can you confirm that you installed the module `php7-intl` also ?

Also try running this PHP script:
[code]

I want to make sure your PHP works correctly. I've seen `pathinfo` used in some of the code paths related to your issue.

[2016-12-12 09:02] PVince81 commented on #4513
@DeepDiver1975 doctrine migrations merged. Can you move forward with the 4 byte unicode PR ?

[2016-12-12 09:03] hodyroff commented on #8571
Is this still relevant?

[2016-12-12 09:05] Xuanwo commented on #26514
php7-intl not installed !
I installed it and have an another test,  it still appeared.

And the script answer is here:
[code]

[2016-12-12 09:06] PVince81 commented on #26514
@Xuanwo did you restart the web server after installing the module ? (just in case)

[2016-12-12 09:07] hodyroff commented on #8976
Moving this to enhancement as it's a design challenge which doesn't have a proper easy solution. And symlinks are calling for this behaviour ...

[2016-12-12 09:07] Xuanwo commented on #26514
Yes, I do. And restart php-from at the same time.
Vincent Petry <notifications@github.com>于2016年12月12日 周一17:06写道：

--
Best Regards
Xuanwo

Blog: https://xuanwo.org/
Github: https://github.com/Xuanwo

[2016-12-12 09:10] hodyroff commented on #9144
Still happening with 9.1? Can this be easily reproduced with standard setups?

[2016-12-12 09:19] PVince81 commented on #26514
I was going to ask you whether you have the module "php7-mbstring" installed as well, but my local test shows that ownCloud refuses to work if the module is missing.

[2016-12-12 09:21] CardBook opened #26812 "CardBook unable to sync contacts with multiples owncloud accounts"
Hi

with all version of Thunderbird and all CardBook version, when you use two accounts for syncing contacts they get duplicated.

request OK with an existing account belonging to the first user 11152 :
2016.12.12 10:15:34:557 : test : debug mode : method : (new String("PROPFIND"))
2016.12.12 10:15:34:558 : test : debug mode : body : (new String("<?xml version=\"1.0\" encoding=\"utf-8\"?><D:propfi

[2016-12-12 09:24] PVince81 commented on #26514
What we know so far:
- Writing UTF-8 chars to the database work because we can see it appear initially
- The destruction of the chinese characters happen when renaming a share (moveShare)
- Something in cron is causing the renaming
- An automatic renaming of a share only happens if there is a duplicate name, so something causes ownCloud to think that there is a duplicate. Maybe `generateUniqueTarg

[2016-12-12 09:25] hodyroff commented on #9201
What is still open with 9.1 from the original bug report?

[2016-12-12 09:28] jvillafanez commented on #23421
I don't see an use case where different interfaces are needed for this. If you are able to create a group, you should be able to populate it. Although you could add members to existing groups even though you can't create new groups... 🤔

In any case, the naming and the inheritance tree (if any) must be as clear as possible.

[2016-12-12 09:35] PVince81 commented on #9201
The quick fix from https://github.com/owncloud/core/pull/25922 did improve performance, but for setups with more than hundreds of groups, the current approach still doesn't scale.

The idea is to provide lazy loading + search for groups within the group dropdown instead of rendering all hundreds of groups within a single dropdown.
This unfinished WIP PR https://github.com/owncloud/core/pull/10994

[2016-12-12 09:37] PVince81 commented on #26514
Here is a patch that will log more (you need to set loglevel to 0 as well in config.php): https://s3.owncloud.com/owncloud/index.php/s/5TIt5R1Frd97oDg

Hopefully this could give more clues about what arguments are passed to these functions in the stack leading to this.

[2016-12-12 09:38] PVince81 commented on #26809
Duplicate of https://github.com/owncloud/core/issues/26656

[2016-12-12 09:38] #26809 closed

[2016-12-12 09:39] PVince81 commented on #26812
@DeepDiver1975

[2016-12-12 10:39] PVince81 commented on #26702
Any feedback on my proposed approach https://github.com/owncloud/core/issues/26702#issuecomment-262530046 ?

[2016-12-12 10:59] turin13 commented on #26683
I implemented your patch and upon Apache restart was able to login as affected user. Then I saw some shares with strange behavior - nothing was mentioned on "Shared with me" page.
Then I went to ldap settings, run manual update again (which I did several times during the issue). I also  removed affected user from relevant security groups, updated ldap, and placed him back again.
This time it worke

[2016-12-12 11:00] mrow4a commented on #26702
Hmm, Maybe a B-Tree of paths?

[2016-12-12 11:04] mrow4a commented on #26702
But if this is only to be used once, I think array might work.

[2016-12-12 11:05] PVince81 commented on #26702
Ok, I'll have a try with the linear approach then and let you test it again.
Unless you want to give it a try yourself @mrow4a ?

[2016-12-12 11:06] mrow4a commented on #26702
I have other task plus univ now, go for it.

[2016-12-12 11:07] PVince81 commented on #26683
Hmmmm... that behavior is still mysterious. From my understanding removing the patch should bring back the issue. But maybe some other piece of code fixed the files_target when the users were able to login.

[2016-12-12 11:07] PVince81 commented on #26702
Will do, thanks

[2016-12-12 11:09] mrow4a commented on #26702
Can you also sort it? This might amortize the search criticaly, when you check next string to be conmpletely different, it means you have longest match.

[2016-12-12 11:11] turin13 commented on #26683
If I could help you by providing additional info, so that ownCloud will develop protection against such cases, I'll do this gladly.

[2016-12-12 11:13] PVince81 commented on #26683
I can't think of any info that could help here. From my understanding the issue was caused by the LDAP APIs (or the LDAP server ?) to return inconsistent results when calling the "is user in group" and "get user memberships" functions. But maybe it's something else and what we observed is just a side effect.

[2016-12-12 11:13] PVince81 commented on #26683
but thanks anyway 😄

[2016-12-12 11:14] PVince81 commented on #26702
Hmm, I thought these were already sorted alphabetically. That's why there's code to reverse the array to have a reverse sort. Will have to recheck.

[2016-12-12 11:15] mrow4a commented on #26702
But do you get the idea of sorting? If you sort, you at max have to to that operation n times as it is now, and at minimum 1. Because if you have a match, you save it, check next, OHH, completely different, have longest match.

[2016-12-12 11:24] #25479 closed

[2016-12-12 11:30] butonic commented on #26702
regarding https://github.com/owncloud/core/issues/26702#issuecomment-262530046:
This sounds like an fstab like table to me, see https://github.com/owncloud/core/issues/26190

But maybe I am not familiar enough with the fs code ...

[2016-12-12 11:33] PVince81 commented on #26702
Ah, the sorting I was thinking about is elsewhere. I suppose there might also be a bottleneck there: https://github.com/owncloud/core/blob/v9.0.4/lib/private/files/view.php#L1661 (`getPathById` which is used more and more often nowadays)

[2016-12-12 11:34] PVince81 commented on #26702
actually I meant https://github.com/owncloud/core/blob/v9.1.2/lib/private/Files/View.php#L1684

[2016-12-12 11:35] PVince81 commented on #26702
Yes, this is a local table in memory. If one day we have the in-DB FSTAB implementation then either the search will be done directly on the DB or in a local cached table like here after loading it into memory.

[2016-12-12 11:50] Xuanwo commented on #26514
Hi, I have apply the patch, and the log is so huge that I don't know which is important, can you give some advice ? grep anything and so on?

[2016-12-12 11:59] PVince81 commented on #26702
PR here: https://github.com/owncloud/core/pull/26813

[2016-12-12 11:59] Xuanwo commented on #26514
When I grep `Share two DEBUG`, I got this:

[code]

[2016-12-12 12:05] PVince81 commented on #26514
Thanks, this confirms what I thought: something is calling that method for the path `/` instead of the real path:
[code]

[2016-12-12 12:21] PVince81 commented on #26514
I looked through the code and the path is composed through `dirname` and `basename`, so let's check how your system behaves for that:

[code]

Note that I have PHP 7.0.7 and it works fine here. Which exact version do you have ?

[2016-12-12 12:23] Xuanwo commented on #26514
Logs here:

[code]

php version here:

[code]

[2016-12-12 12:27] PVince81 commented on #26514
Seems to work fine apparently.

So the next place where it could be wrong is that "file_target" is not read properly from the database. I checked the DB code and didn't see anything wrong there.

[2016-12-12 12:39] jnweiger commented on #26662
* removed ubuntu-12.04 from devel, ee:9.1:testing and ce:9.1:testing
* added leap 42.2 to devel, ee:9.1:testing and ce:9.1:testing

@crrodriguez It needs another click on publish_ee when everthying has built. thnaks!

[2016-12-12 13:56] PVince81 commented on #26514
@Xuanwo I made a second patch (please revert the first one first): https://s3.owncloud.com/owncloud/index.php/s/L2dseWAzGKjq4aO

The second patch adds further logging closer to the DB and also in the SharedMount to see at what point the share target disappears.

[2016-12-12 14:16] Xuanwo commented on #26514
I apply the patch, and I got these:

[code]

[code]

And no output for `Share two DEBUG: `

[2016-12-12 14:21] Xuanwo commented on #26514
After several minutes, new logs here:

[code]

[code]

[2016-12-12 14:24] PVince81 commented on #26514
From what I see the share is properly read from the DB `\\u6d4b\\u8bd5` which is `测试` and also passed through up that that point.

Strange that you didn't get anything from "Share two DEBUG", that one is triggered when the logic about adding a "(2)" is triggered.

[2016-12-12 14:31] Xuanwo commented on #26514
I rm the log and test again, got these:

[code]

[2016-12-12 14:32] PVince81 commented on #26514
@Xuanwo can you grep for the request id "WE60kwtKiPKjd4IUgcrbsAAAAEU" and paste the other "xuanwo" entries matching these ? I hope that the code path that leads to this contains some clues.

Thanks.

[2016-12-12 14:33] Xuanwo commented on #26514
[code]

[2016-12-12 14:39] PVince81 commented on #26514
It definitely happens somewhere in SharedMount, the improved log for " from "share two DEBUG":
[code]

The share_target from the share is correct, but somehow the `$path` is becoming empty.

I'll recheck the code...

[2016-12-12 14:43] Xuanwo commented on #26514
In case of version change, I paste the SharedPoint.php on my server here: https://gist.github.com/Xuanwo/2439b6d2f089657c8a82bacc6712c33a
FYI.

[2016-12-12 14:52] PVince81 commented on #26514
@Xuanwo ok, I've spotted some `normalizePath` call which I suspect might be destroying the path.

Here's another extra patch (don't revert the others): https://s3.owncloud.com/owncloud/index.php/s/NzsixNUzmRjLxk0

How did you create the folder "测试" ? Web UI ? Is there any Mac computer involved ? (asking because with Macs there is sometimes a NFD vs NFC encoding trouble)

[2016-12-12 14:53] Xuanwo commented on #26514
On Web UI, and I do all the test on a linux desktop.

[2016-12-12 14:58] Xuanwo commented on #26514
Logs here:

[code]

[2016-12-12 15:01] PVince81 commented on #26514
What ?!

[code]

here the share target is already destroyed.

Maybe that's too late, you'll need to redo the original steps.
I expect "share_target" to be "/测试" and `$normPath` to be "/ (2)".

[2016-12-12 15:03] benyanke commented on #26752
However, not all deployments are on-site. In my case, I have one personal server which is offsite, and almost set up a second (chose not to for reasons outside my control) where a server would have been in the office, but 80% of the users would be outside the office (work from home scheme). Several of those home workers have two or three employees in the same house, on slow WAN connections, so a L

[2016-12-12 15:06] Xuanwo commented on #26514
I found the closest log of mountPoint change:

[code]

[2016-12-12 15:07] benyanke commented on #26752
Additionally, taking control away from the server wouldn't be too difficult. Each client could send hashes of files to each other and get them from the server, and if those hashes match, that file could be synced. I've done some thinking about this, and I'm not seeing any reason that wouldn't (theoretically) be secure.

This *might* be something I could take on after finals before heading back for

[2016-12-12 15:16] benyanke commented on #26723
I wonder if the wordpress permission model might be a good starting point?

Namely, functions register permission hooks (can_edit_posts, can_add_users, etc), and the default user permission levels contain a default setup (authors have can_write_posts but not can_publish, because posts need approval by editors).

Perhaps the same could be applied to OC? Then new user roles can be added by anyone, a

[2016-12-12 15:16] PVince81 commented on #26514
Okay, caught it:
[code]

So it's not the normalizer.
As you can see the share target is correct.
This is the code that sets the variables:
[code]
After this, `$mountPoint` is empty.

So there's a problem with that one.
Now in that json I see that the characters got encoded to something like `/\\u6d4b\\u8bd5` and seems to cause trouble to `basename`.

[2016-12-12 15:30] PVince81 commented on #26514
Issue looks similar to https://github.com/thephpleague/flysystem/issues/235, but that person forgot to set the locale. ownCloud always sets the locale to utf-8 through patchwork here: https://github.com/owncloud/core/blob/v9.1.2/lib/private/legacy/util.php#L1220 and called from base.php: https://github.com/owncloud/core/blob/v9.1.2/lib/base.php#L557 which itself is also called from cron.php: https

[2016-12-12 15:31] PVince81 commented on #26514
You could try upgrading your PHP version maybe, in case it's a PHP bug.

[2016-12-12 15:33] PVince81 commented on #26514
If that still doesn't work, trying disabling all third party apps you have enabled. I looked through the list and I don't think any should be able to break ownCloud that way.
There was a time where we noticed that some library used by an app was resetting the locale to wrong values, so who knows...

[2016-12-12 15:38] Xuanwo commented on #26514
I believe https://github.com/thephpleague/flysystem/issues/235#issuecomment-219075983 point out the problem, I will try to upgrade php version, and report here.

Thank you for your help, very nice working, have a nice day~ (in China, it's midnight already :smile: )

[2016-12-12 15:42] PVince81 commented on #26514
Thanks, you owe me a 火锅 😉

Hope you can find the problem. I'd suggest to grep all apps to see if any calls `setlocale`.

[2016-12-12 16:11] #17808 closed

[2016-12-12 16:12] PVince81 commented on #17156
Will be obsoleted by the market. @DeepDiver1975 please make sure to have such error handling there.

[2016-12-12 16:12] #17156 closed

[2016-12-12 16:21] PVince81 commented on #23792
### Steps to reproduce easily

1. Create two users "user1" and "user2" on the same instance
1. Login as "user2"
1. Create a folder "test"
1. Share "test" with "user1@localhost" using federated sharing
1. Login as "user1"
1. Accept the share
1. Go to the "oc_share_external" table and change the column "remote" to an IP address in the current network that hangs when doing curl against. In my case: "

[2016-12-12 16:36] PVince81 commented on #23792
This will improve the situation but not enough: https://github.com/owncloud/core/pull/26791
Basically the problem is that the exception wasn't properly caught when calling `getPermissions()`, so the storage was never marked as "unavailable".

But now I see that even when marked unavailable, there are still code paths that will try to connect to verify if it is actually still unavailable... Need to

[2016-12-12 16:50] PVince81 commented on #23792
PR here https://github.com/owncloud/core/pull/26817 which is https://github.com/owncloud/core/pull/26791 plus some additional changes.

Now what I don't understand is why it's still slow even though it doesn't go through the code path that will actually contact the remote server. Maybe there are some other code paths I don't know about...

[2016-12-12 16:54] PVince81 commented on #23792
Arghh, found it... bypasses the availability wrapper:
[code]

That one would go faster if you have memcache enabled because the server status info is stored there.

[2016-12-12 16:54] pmaier1 commented on #1580
F2B is available on linux which is the only supported server OS right now. Moreover we do not need to reinvent the wheel when nice services like F2B already exist and can be used with oC. Anyway we need proper documentation on how to use F2B with ownCloud. @owncloud/doc
To be documented here: https://doc.owncloud.org/server/latest/admin_manual/configuration_server/harden_server.html
Community inpu

[2016-12-12 16:59] PVince81 commented on #23792
The problem is that it connects to the remote server in the storage constructor even though we might not need that storage at all. We need to move that call to be in the `DAV` storage's `init()` method which is only called when an actual call is made.

[2016-12-12 17:04] PVince81 commented on #23792
Okay, I've moved the discover manager call to be in `init()` in this PR https://github.com/owncloud/core/pull/26817, apparently this speeds up a lot now.

However, note that every 10 minutes the storage will be rechecked so there might be temporary slow downs.

[2016-12-12 17:14] jknockaert commented on #1580
@pmaier1 I don't agree with closing this one. For F2B or others to be used effectively with oC it would be preferably for oC to have some support on its side of the interaction. A separate log in an optimised format would be of great help in this respect. Optimised in the sense of what to log (only events in a format relevant for this purpose), the information provided and last but not least the l

[2016-12-12 17:17] yasirunilan commented on #24046
Can I work on this issue

[2016-12-12 17:20] felixboehm commented on #26702
Should we retest performance with this PR? @PVince81 @mrow4a

[2016-12-12 17:43] PVince81 commented on #26702
Yes, please. Already asked in the PR.

[2016-12-12 21:23] flolerchi commented on #23827
I also see this on version 9.1.4

is this linked to the effect, that if I share with edit rights my calendar to any other user, I can update the calendar but if the shared user updates the calendar it doesn't have any effects on the calendar?

[2016-12-13 09:32] pmaier1 commented on #1580
@jknockaert The oC log will be reworked to be better readable and also split up as you suggest. Anyway I don't really see your point why this is a requirement for using F2B. On some linux distros F2B for e.g. SSH also uses logs that contain way more than only failed login attempts.

Can you explain what you mean with this?

[2016-12-13 09:40] jknockaert commented on #1580
@pmaier1 F2B (and other similar tools) use the log as input. So we should make sure that all relevant events are properly logged, including all required information. I never exhaustively tested this, but as of now I am unsure if less common events like failed attempts to use the encryption recovery key are actually logged. And in the log we should have oC username (if any), original IP, etc. so th

[2016-12-13 09:47] michaelstingl commented on #1580
@pmaier1 In the linked post (https://central.owncloud.org/t/fail2ban-and-owncloud-8-x-9-0-x/837) you can see, the ownCloud log format changed from version to version. This requires als a change of the regex pattern to work well with F2B. It would be great, if the essential parts of the ownCloud log wouldn't change. (like a defined API)

[2016-12-13 09:49] jknockaert commented on #1580
@michaelstingl This is exactly what I mean. And it's also the reason why I would favour a separate log for F2B, so that the main log (which serves a different purpose) can be changed when necessary.

[2016-12-13 09:58] pmaier1 commented on #1580
If we're talking about failed login attempts (which this ticket is about) the log contains all necessary information

`Warning | core | Login failed: 'user' (Remote IP: 'x.x.x.x') | 2016-12-13T09:44:10+00:00`

I agree with you that it's bad practice to change the format over and over again. Will take your input and advocate for having a standardized logging format that will not have to be changed

[2016-12-13 10:02] jknockaert commented on #1580
@pmaier1 You suggest that I open a separate ticket for each event that could potentially be of use for a system-level security tool? And when do we close tickets? After discussing them or after solving the issue?

[2016-12-13 10:16] pmaier1 commented on #1580
I did not suggest anything. I explained what is currently going on regarding the log and took your input to be taken into account when reworking the log.

This depends IMO. Many times a discussion can lead to solving an issue without doing anything further. It looks like you want to keep this open for reasons that have not been requested in the original issue at all. To make this simple: I reopen

[2016-12-13 10:19] jknockaert commented on #1580
OK, I will draft a concrete specification asap.

[2016-12-13 10:44] enoch85 commented on #1580
FYI: https://nextcloud.com/blog/what-makes-nextcloud-so-secure/

"Protection from attackers

Brute force cracking is a very common, if not sophisticated, technique to crack users accounts. It is deployed by both criminals and government agencies to gain access to target accounts. Nextcloud comes with a built-in brute force protection that throttles too many failed login attempts originating from a

[2016-12-13 10:55] jknockaert commented on #1580
@enoch85 Rubbish. The nextcloud approach is imo useless and just a case of featuritis as we've seen both here and there after the split. Releasing impressive statements at one point became more important than producing substance that actually serves a purpose. But I digress.

[2016-12-13 11:10] pmaier1 commented on #17091
Well, this does not block anything since you can always use OCC to upgrade. If app upgrades can still be done via web (https://github.com/owncloud/core/issues/17091#issuecomment-114838302) this makes the behavior better and guides admins so it should definitely not be abandoned. Moreover I'd regard it as bad practice that anyone can trigger the update via the WebUI. Should be changed!
Priority: If

[2016-12-13 11:14] Wikinaut commented on #1580
see my previous comment https://github.com/owncloud/core/issues/1580#issuecomment-153157730

[2016-12-13 11:23] pmaier1 commented on #22479
Sounds good. Anyway we need to come to some consistency in terms of saving settings. Some fields have auto-save, for some you need to hit 'enter', some others have buttons. What about smart buttons btw. https://central.owncloud.org/t/ui-proposal-smart-buttons-prevent-accidental-dangerous-changes-of-the-oc-configuration/2074?

[2016-12-13 11:35] pmaier1 commented on #22254
Should probably be part of a larger user management rework. Postpone if nobody disagrees for now.

[2016-12-13 11:39] SamuAlfageme opened #26819 "[External Storage] Amazon S3 uploaded folders via AWS console are not available in ownCloud"
### Steps to reproduce
1. Configure a bucket in Amazon S3 and mount it as ext. storage option in ownCloud
2. Create a couple of folders / upload some **files**
3. Upload some **folders** to the bucket root:

![screen shot 2016-12-13 at 10 01 04](https://cloud.githubusercontent.com/assets/2644445/21138778/eef7b72e-c12f-11e6-90f6-f0bae1ff9788.png)

### Expected behaviour
The same dir tree is mounted

[2016-12-13 12:13] pmaier1 commented on #20259
Really nice simplification and UX improvement. However, looks like something bigger, so probably postpone for now, yes.

[2016-12-13 12:17] pmaier1 commented on #22216
@PVince81 Yup. When we do it, we should do it properly as you suggested https://github.com/owncloud/core/issues/20259

[2016-12-13 15:08] enoch85 commented on #1580
@jknockaert Releasing *something* is beter than nothing at least.

[2016-12-13 15:20] jaceq opened #26821 "file:scan --all causing ldap connection lost (timeout)"
### Steps to reproduce
1. Setup owncloud with ldap , have ldap connection timeout (on ldap or LoadBalancer)
2. Run occ files:scan --all (I have 77 users and 48 folders)
3.

### Expected behaviour
If LDAP connection is lost it should be re-initiated and whole process not dropped in the middle

### Actual behaviour
It seems ldap bind is done at the beginning of scan and then search queries are execu

[2016-12-13 15:35] pmaier1 commented on #20699
IMO all kinds of shares should provide the same permission configuration options which is CRUDS (+ extensions like pdf-only etc. in the future). If this was implemented for public shares we would not even need files_drop and confusion would be reduced by consistency. I think we should not implement small steps like 'files_drop' for instance, rather develop concepts/features that comprise all imagi

[2016-12-13 17:21] marcelltisdol commented on #20481
I store my entire music Library in Google Drive (~65GB)

This includes mixtapes and other shit you cannot find on Spotify and the likes. I also tend to keep high quality files like 320kbps MP3s and FLACs/ALACs

I tried to use Drive as my MASTER copy but the Google Drive client along with syncing between NTFS+ and HFS has fucked it sometimes and created duplicates, doesn't sync files, etc.

I'm pay

[2016-12-13 18:13] mrow4a commented on #26702
Unfortunetely, PR does not change anything from smashbox perspective - Patch did not change anything visible actualy, will check with blackfire.

[2016-12-13 19:52] VicDeo commented on #26501
Original issue `Fatal error: Can't use method return value in write context` is caused by PHP 5.4 incompatibility in Updater shipped with 9.0.4, 9.0.5, 9.1.0, 9.1.1
Patch fixing it is published at https://central.owncloud.org/t/patches-for-known-update-issues-from-version-9-0-4-9-0-5-9-1-0-9-1-1/3549/1

The patch can be downloaded as a patch or as a set of already patched files from the post linke

[2016-12-13 19:52] #26501 closed

[2016-12-13 19:55] VicDeo commented on #25551
9.0.4, 9.0.5, 9.1.0, 9.1.1:

 [UnexpectedValueException]
 Could not parse a response for config:list. Please check if the current shell user can run occ command. Raw output:
 Not allowed

Is unrelated to this issue and is fixed with this patch https://central.owncloud.org/t/patches-for-known-update-issues-from-version-9-0-4-9-0-5-9-1-0-9-1-1/3549

[2016-12-13 20:05] GhostCyborg commented on #26501
@VicDeo One question, Which would do I use, because I have 9.1.2 RC2, meaning should I use the '9.1.0 and 9.1.1 ' one?

[2016-12-13 20:08] VicDeo commented on #26501
@GhostCyborg None of them. 9.1.2 RC2 already includes this patch.

[2016-12-13 20:10] GhostCyborg commented on #26501
@VicDeo Then what exactly should I do? I'm quite confused...

[2016-12-13 20:28] VicDeo commented on #26501
@GhostCyborg It depends on what you want to achieve.
If you already replaced 9.1.1 files with 9.1.2rc2 and passed database update step you can't update via web UI until 9.1.3 is available online.
IIRC there were no merges in post-RC phase so your 9.1.2rc2 is the same with 9.1.2 from the point of code.

If you don't want to wait but to get rid of letters `rc2` asap you need to:
- download 9.1.2 fro

[2016-12-13 20:30] GhostCyborg commented on #26501
@VicDeo Thanks for your help, I'm going to wait for 9.1.3 is available, Thanks again!

[2016-12-14 01:06] bpellowski commented on #21866
Hi, I am experiencing this SAME EXACT issue here in our environment and our clients are not happy about it :(

[code]

This only occurs when someone shares a link with a password and tries to open it on a Mac OSX system and download files. Any status on this?

[2016-12-14 07:50] davivel commented on #24995
I'll go further. We are using this even to dectect OAuth2 authentication. We expect these types of responses:

 - 200 -> no authentication
 - 401 with authentication challenge header starting with "basic" -> Basic HTTP Auth
 - 401 with authentication challenge header starting with "bearer" -> OAuth2, with bearer token (the only kind of access token we handled in the our past POC)
 - 302 to IdP ->

[2016-12-14 07:55] PVince81 commented on #21866
Share links, okay.

Can someone with a Mac try and reproduce this ?

@owncloud/qa

[2016-12-14 08:55] PVince81 commented on #26702
@mrow4a can you double check that the patch was actually applied ?

If yes, one additional thing we could try is caching the search results after we found them.

[2016-12-14 09:00] PVince81 commented on #26821
@jvillafanez maybe need to somehow automatically reconnect to the LDAP server after a specific time.

[2016-12-14 09:02] PVince81 commented on #26821
Note: this issue will disappear once we have a central user table https://github.com/owncloud/core/issues/23558 which will remove the need to connect to LDAP when iterating over all users.

[2016-12-14 09:07] jaceq commented on #26821
There are few choices to tackle this:
1 - Bind to ldap, query, close connection - repeat for every user
OR
2 - Bind to ldap at the beginning  but then before using connection have php equivalent of ```
try:
  <query ldap>
except:
  <re-bind>
  <query ldap>
[code]

[2016-12-14 09:39] SamuAlfageme commented on #25358
Think this is a must, since input an invalid quota (e.g. any alphanumeric string) and you'll end up with this funky quota list made with `B`s:

![screen shot 2016-12-14 at 10 34 56](https://cloud.githubusercontent.com/assets/2644445/21176876/fdd84952-c1e8-11e6-9e2b-a7312573e990.png)

Note that the last "`Other`" option has been replaced by another `B`.

[2016-12-14 10:10] pmaier1 commented on #20492
Yes, backlog for now.

[2016-12-14 11:15] michaelstingl commented on #21866
I wasn't able to reproduce with oC 9.1.2 and Chrome 54 or Safari 10.0.1 on Mac OS 10.12.1.

[2016-12-14 11:44] SergioBertolinSG commented on #21866
Tested in oC 9.0.7 Mac OS 10.11 Safari 9.0. Working fine.

[2016-12-14 12:17] pmaier1 commented on #18312
Ok, backlog for now. What about php-sandbox suggested by @DeepDiver1975? Would this now be usable? IMO this is important as it makes the system feel more robust/complete and makes an admin's life easier when having many apps enabled.

[2016-12-14 13:47] PVince81 commented on #26006
PR here https://github.com/owncloud/core/pull/26021

[2016-12-14 15:16] WLCD commented on #17012
Any new development on this matter ?

[2016-12-14 15:26] PVince81 commented on #21866
Could be related to how the server is setup then

[2016-12-14 15:26] PVince81 commented on #23562
@pmaier1 @felixboehm

[2016-12-14 15:37] guruz commented on #24995
@davivel I need to check if Qt gives us control/access to this header :/ It might be abstracted away

[2016-12-14 16:37] bpellowski commented on #21866
Could one of you email me at bpellowski@omniupdate.com and I can provide you a link to a folder on our customshare and a password with a test folder that you can try to download and report back if it fails? It very would could be an issue with the server config.

[2016-12-14 17:05] Flux3PO commented on #17012
Yeah, would love to see this implemented as well

[2016-12-14 18:47] bpellowski commented on #21866
@PVince81 we managed to fix this problem on our end. The error was crying about line 30 in this file
`var/www/html/owncloud/3rdparty/deepdiver1975/tarstreamer/src/TarStreamer.php`
[code]
Line 30 was ob_end_flush() so we commented it out and put ob_end_clean(); and now people can download files from owncloud on a mac

You guys have any idea why changing it from flush to clean works now?

[2016-12-14 19:11] RealRancor commented on #1580
@enoch85

Even if it makes no sense for most environments out there? Not really.

The fail2ban approach is the way to go. If an attacker is trying to bruteforce my logins i want to block him from the complete server, not only from one single application.

[2016-12-14 20:13] jerrac commented on #1580
Could someone on the OwnCloud team take responsibility for submitting patches to Fail2Ban when the log format changes? Then mention that in the changelog so that admins know to update their F2B configuration.

That said, why not something like what I mentioned https://github.com/owncloud/core/issues/1580#issuecomment-153148511 earlier? F2B is fine, but what if you can't install it for some (likely

[2016-12-14 20:19] jknockaert commented on #1580
@jerrac owncloud relies on a database backend, on a webserver, on php, on cron, etc. So nothing new here. The main reason for relying on another tool is that blocking brute force attacks should happen in the kernel firewall, as correctly identified by @RealRancor. Actually F2B is just an intermediate tool, translating the logs into firewall commands. And F2B is just one of the possible tools for t

[2016-12-14 20:48] jerrac commented on #1580
@jknockaert

"should" being the keyword here. In reality, that often does not happen.

Also, I'm not sure ddos has anything to do with this issue. The scenario I'm imagining is someone gains a list of user names, or correctly guesses one, and proceeds to try a bunch of passwords to get in. Our network firewall may, or may not, figure out that there's an attack there. Thus, it's up to my owncloud s

[2016-12-14 22:03] jmceleney commented on #10682
I have just finished implementing spnego support for Owncloud 9.1.3. This is my patch:
[owncloud-9.1.3-spnego.patch.txt](https://github.com/owncloud/core/files/653203/owncloud-9.1.3-spnego.patch.txt)

For the impatient, this is how you use it:

1. Apply the patch

I've not tested this very thoroughly, but it works for me. These are a few notes about the implementation:

SPNEGO provides no password

[2016-12-14 22:42] enoch85 commented on #1580
@RealRancor I agree in everything you just said, I still use Fail2ban.

What I meant was that this has been an issue for more than 3 years, and nothing has happened. I'm sorry to say that that's common nowadays with ownCloud. Several issues where I have subscribed has been close due to different reasons.

Nothing = this not being made to a PR and merged instead.
Something= what Nextcloud did, how

[2016-12-14 23:21] DeepDiver1975 commented on #1580
Let me ask one question: are you expecting that all open enhancement request (more then 800 in total) are going to be implemented? Ever?

As long as nobody within the owncloud community (including weekend coders, students at universities, fulltime developers in the ownCloud ecosystem or full time developers employed at ownCloud) steps up to implement something there will simply be nothing - genera

[2016-12-14 23:57] enoch85 commented on #1580
@DeepDiver1975 Wasn't my intention to offend anyone. Sorry if you felt like that. Just wanted to express how I felt. And regarding contributors, I've been contributing *alot* to ownCloud with my VMs, invested money even just to get servers that can handle the load etc. I don't say ownCloud is bad, just that I think it's sad to see that ownCloud (community at least) took such a hard hit when Nextcl

[2016-12-15 00:00] enoch85 commented on #1580
And yeah regarding

This might help many people out there who want to have a solution but have no idea on where to start.

https://www.techandme.se/fail2ban-owncloud/ ;)

[2016-12-15 00:08] DeepDiver1975 commented on #1580
I'm not - I just think it was once more time to remind everybody (and nobody specific :wink: ) that this is up to everybody to contribute and work on this project.

[2016-12-15 00:13] jmceleney commented on #10682
I've forked owncloud core, and applied the patch here:
https://github.com/jmceleney/core
This branch is completely untested.

[2016-12-15 07:11] RealRancor commented on #1580
Yeah, most likely because of the reasons already mentioned by @jknockaert in https://github.com/owncloud/core/issues/1580#issuecomment-266708392

    This might help many people out there who want to have a solution but have no idea on where to start.

There was also https://central.owncloud.org/t/fail2ban-and-owncloud-8-x-9-0-x/837 and https://forum.owncloud.org/viewtopic.php?t=28678  so enough r

[2016-12-15 09:12] xelez commented on #26285
@Trefex Just set in UUID field in experts settings to 'ipauniqueid' and use simple account.

I just came across this issue. I think there is a bug in UUID autodetection for FreeIPA:
there are TWO(!) places in code where constant arrays with attribute names for autodetection defined.
And 'ipauniqueid' has been added to only one of them.

I'll be reading docs on contributing guidelines and make a pu

[2016-12-15 09:32] DeepDiver1975 commented on #26285
great @xelez - this is how open source is going to work out!
Feel free to ping me in case you need support!

[2016-12-15 09:45] xelez commented on #26285
@DeepDiver1975 For now, I've preferred to fill it as issue documenting where and what one should change https://github.com/owncloud/user_ldap/issues/33 Not sure if pull request is better.

[2016-12-15 10:41] butonic opened #26825 "Print update notification after commands (and in red?)"
### Steps to reproduce
[code]
### Expected behaviour
The user should not have to scroll to see the upgrade notification

### Actual behaviour
User has to scroll to see the notification ...

[2016-12-15 11:29] Trefex commented on #26285
@xelez i think PR is better, it's a serious bug in the code if you use FreeIPA, and would be nice if it could be fixed.

Thanks :)

[2016-12-15 11:55] #25692 closed

[2016-12-15 14:15] VicDeo commented on #23591
@PVince81 I guess no backports are needed. Closing as fixed.

[2016-12-15 14:15] #23591 closed

[2016-12-15 16:57] maximd1 opened #26828 "ownCloud 9.1.x: Current user is not logged in"
Hello,

after upgrade from 9.0.4 to 9.1.2 (and 9.1.3) I can't login to the ownCloud via WebUI - clean login page after the entering credentials. I am getting following error message in the ownCloud.log:

{"reqId":"WFK-zydSIMV@7YkRpthzVwAAAAQ","remoteAddr":"192.168.0.1","app":"no app in context","message":"Current user is not logged in","level":0,"time":"2016-12-15T16:07:43+00:00","method":"GET","u

[2016-12-15 17:21] RealRancor commented on #26828
@maximd1 Please fill out the complete issue template shown when creating a new issue. Especially the installed apps are important, thats also why this issue template is asking you that details you're currently missing.

[2016-12-15 20:31] jmceleney commented on #10682
This is a slightly cleaner and more concise version of the patch:
[owncloud-9.1.3-spnego.patch.txt](https://github.com/owncloud/core/files/655744/owncloud-9.1.3-spnego.patch.txt)

[2016-12-15 22:53] alexpyattaev commented on #25927
It may also be an issue that your web server has no write access to /var/lib/php/session. At least that happens on all our centos installations after every update to PHP.

[2016-12-16 00:01] simonschaufi commented on #15157
I would love to see this feature in the next release!

[2016-12-16 07:26] maximd1 commented on #26828
Please see update above.

[2016-12-16 09:15] jvillafanez commented on #26821
There is the additional problem of LDAP pagination. Reconnecting blindly will cause issues.

I think the easiest workaround would be fetch all the LDAP users and scan their files one by one.

[2016-12-16 09:34] PVince81 opened #26829 "API to get user's storage usage"
Use cases:

- an admin wants to check how much storage is used vs quota by every user (storage report)
- an admin wants to check the storage usage vs quota of a specific user

If we decide to add this on the provisioning API, I suggest to add a new specific endpoint to query storage usage data + quota. We should not reuse the existing endpoints because adding this info could make these calls slowe

[2016-12-16 09:34] PVince81 commented on #1344
- [ ] requires API: https://github.com/owncloud/core/issues/26829

[2016-12-16 09:35] PVince81 commented on #26829
For reference, the magic SQL query to find that information: https://github.com/owncloud/core/issues/1344#issuecomment-245526902

[2016-12-16 09:45] jaceq commented on #26821
I am not a php person but from other interactions with ldap (python / perl) I never had problems with pagination... so unless this would be a php specific thing I can't think of a problem.

[2016-12-16 09:55] PVince81 commented on #26828
Can you temporarily disable memcache and see if it works properly without ?

[2016-12-16 10:47] RealRancor commented on #26828
Good point. @maximd1 Please also post your config.php (thats why i had asked you to fill out the issue template). If you fill out the complete issue template it really helps here so its not needed to ask again for informations which you could have already provided.

[2016-12-16 11:08] maximd1 commented on #26828
The same issue with session.save_handler = "files":

{"reqId":"WFPKHcpX4SOGAlsUIEKiGQAAAAQ","remoteAddr":"192.168.0.1","app":"no app in context","message":"Current user is not logged in","level":0,"time":"2016-12-16T11:03:57+00:00","method":"GET","url":"\/apps\/files\/","user":"--"}

/etc/php.ini:

session.save_handler = files
session.save_path = "/tmp"

/etc/httpd/httpd.conf:

<VirtualHost *:443>

[2016-12-16 11:12] RealRancor commented on #26828
This is what i was looking after. Have you restarted the memcached on the system after the upgrade?

[2016-12-16 11:14] maximd1 commented on #26828
yes, sure

[2016-12-16 11:17] RealRancor commented on #26828
Then try to remove this from your config.php:

[code]

I think thats what @PVince81 is referring to:

[2016-12-16 11:51] avv-github commented on #26495
Same issue: performed a copy/paste from the documentation (on a fresh test instance of course)... leads to a corrupted OC instance, unable even to log in.
Disabling encryption in the DB restores the log in feature, but the admin page remains totally junked
Any roadmap?
Thanks

[2016-12-16 12:07] butonic commented on #25350
`OCA\Files_Trashbin\BackgroundJob\ExpireTrash` and `OCA\Files_Versions\BackgroundJob\ExpireVersions` will kill large ldap setups because they run every 15 min but might take hours to iterate over all users.

we added dedicated occ commands down to oc 8.2: https://github.com/owncloud/core/pull/25917

They should be used with dedicated cron jobs and the entries in oc_jobs must be deleted.

[2016-12-16 12:22] maximd1 commented on #26828
I removed the memcache's directives - nothing happened, the same issue.

[2016-12-16 14:05] michaelstingl commented on #26804
`{plural_s}` seems to require some PHP magic. Just changing to `{plural_n}` in Transifex breaks it.

<img width="524" alt="dateien_-_owncloud" src="https://cloud.githubusercontent.com/assets/214010/21265288/093bc8be-c3a1-11e6-99b1-557a99c6f090.png">

[2016-12-16 14:13] michaelstingl commented on #26804
introduced here: https://github.com/owncloud/core/pull/24605/files#diff-9112ab761e9b96bef644fc2c1f6e35c1 /cc @DeepDiver1975

[2016-12-16 14:46] maximd1 commented on #26828
I fixed the issue by session.auto_start = 0.

[2016-12-16 14:46] #26828 closed

[2016-12-16 14:49] RealRancor commented on #26828
@PVince81 Something to document or even something for the check of oC?

[2016-12-16 16:19] PVince81 opened #26831 "Windows WebDAV drive remember me cookie"
Today we learned that the Windows WebDAV drive actually uses the cookies stored by Internet Explorer. This is how OneDrive WebDAV works.

To make it work for ownCloud we'd need the "remember me" cookie to also work on the WebDAV endpoint.

@pmaier1 @felixboehm @DeepDiver1975 @RealRancor @phisch

[2016-12-16 16:35] PVince81 commented on #26831
But before we do, we first have to bring back the remember cookie... https://github.com/owncloud/core/issues/26027

I believe that so far this cookie was never send for the Webdav endpoint.

Also, that cookie also changes every time it is used so the question is whether Windows' Webdav client is able to store new cookies or whether it only uses the existing ones. If not, then we might need to have

[2016-12-16 17:49] RealRancor commented on #26828
Ref: https://github.com/owncloud/documentation/issues/2769

[2016-12-16 19:02] maximd1 commented on #26828
Thank you.

[2016-12-16 19:50] mapeze commented on #13495
This trigger worked for me to avoid share rename and/or deletion:

`CREATE TRIGGER `_UndoUserShareDeleteOrRename` BEFORE INSERT ON `oc_share`
 FOR EACH ROW BEGIN
    IF (NEW.share_type=2) THEN
        signal sqlstate '45000';
    END IF;
END;`

If the share has been already renamed before to create this trigger, the user can continue renaming it.

[2016-12-16 20:01] fmikker commented on #24790
I can confirm that the same happens on Apache Server version: Apache/2.4.6 (CentOS7) with the following vhost configuration:
`# Same Origin policy
 Header always set X-Frame-Options SAMEORIGIN
 # Nosniff header
 Header always set X-Content-Type-Options nosniff

The warning in the admin gui is annoying, but at least I know why it appears now.

[2016-12-17 09:48] Georg-Git opened #26832 "OC9.1.3 PHP Error "restrict_api" configuration at /lib/private/util.php#1396"
~~At least when entering the admin page~~ the ~~checks of existing~~ memory caches function produces two php errors in the log:
Error    PHP    Zend OPcache API is restricted by "restrict_api" configuration directive at /.../lib/private/legacy/util.php
in line #1361 and in line #1329.

(And the information on top of the admin page about missing a active memory cache is wrong)

OC 9.1.3 and PHP 7 i

[2016-12-17 11:11] tflidd opened #26833 "Download link for VHDX-Image broken"
### Steps to reproduce
1. owncloud.org
2. download appliance, choose vhdx image
3. error 404 for https://download.owncloud.org/community/production/vm/Ubuntu_14.04-owncloud-9.1.3-1.1-201612151819.vhdx.zip

@enoch85

reported in the forum: https://central.owncloud.org/t/owncloud-9-1-3-vhdx-appliance-file-missing-not-found-on-this-server/4571

[2016-12-17 12:39] phpweb opened #26834 "Make files grid preview size configurable"
### owncloud version:  9.1.2

### app: apps/files

### file: apps/files/templates/list.php, line: 41

### request: please make the following values configurable:

[code]

So that the people can decide the size of generated thumbnails in Files-Grid

[2016-12-17 12:42] phpweb opened #26835 "Feature Request: systemtags result grid should be like files grid"
### app: systemtags

Please allow the user at **Tags search result** to select all files or individual files with checkbox and download them, exactly like the functionality at **files grid**.

[2016-12-17 12:49] phpweb commented on #11663
Is there any improvement about the feature?

[2016-12-17 15:17] RealRancor commented on #25927
@alexpyattaev Yes, this missing permissions / write access is known and documented at previous comment: https://github.com/owncloud/core/issues/25927#issuecomment-262703655

[2016-12-18 12:03] mmattel commented on #25927
I have from time to time the CSRF check issue, it happens only if I mistype my password and then not always. When I reload the page, it works. No clue why. PHP settings are fine.

[2016-12-18 18:08] cdamken commented on #26055
in oC 9.1.2

[code]
The user has only 2 shares:
[code]
[code]

[2016-12-18 19:28] Flachzange commented on #26746
I can confirm the bug. We can observe the same behaviour with 9.1.2 using Google Calendar App on Android to create the events and invitations.

I had to delete the new events of the birthday directly in the database due to its write protection.

[2016-12-18 20:34] JochenHWezel opened #26837 "Delete file fails"
I delete a file which only exists on owncloud web front (file itself seems to be already deleted on file server for some reason). The webfrontend displays an updated file listing without that file. Going back to parent directory and going back to the first directory, the file is in the directory listing again!

A failure in log file has NOT been logged. Only after switching log to everything, I ge

[2016-12-18 21:18] RealRancor commented on #26837
@JochenHWezel Please fill out the issue template shown when creating a new issue. Currently even the basic info about your environment is missing.

[2016-12-18 22:11] philjak commented on #17012
+1

[2016-12-19 01:31] GTT8 opened #26838 "File locking"
### Steps to reproduce
I don't know

### Expected behaviour
No fatal logs

### Actual behaviour
Fatal log

### Server configuration
**Operating system**: Debian 8 (Gnome 3.14.1) running on VirtualBox

**Web server:** Apache 2.4.10

**Database:** MySQL 5.7.15

**PHP version:** 7.0.14

**ownCloud version:** 9.1.3

**Updated from an older ownCloud or fresh install:** Updated from 9.1.2

**Where did y

[2016-12-19 06:50] RealRancor commented on #26838
@GTT8 See https://central.owncloud.org/t/file-is-locked-how-to-unlock/985

If configuring redis for file locking won't help then its a duplicate of https://github.com/owncloud/core/issues/20380

[2016-12-19 07:39] esprit-libre commented on #26837
Hello,
I have the same problem with oc9.1.1, a folder supposed to be deleted still appears on web interface but no longer exists on server.
I upgraded to 9.1.3 but Web UI still makes this folder visible and report this log message :

### Steps to reproduce
Unfortunately, I don't know how to reproduce, it appends.

### Server configuration
**Operating system**:
Debian Wheezy up to date

**Web serve

[2016-12-19 08:14] Kawohl commented on #26833
@jnweiger
@crrodriguez

[2016-12-19 09:31] PVince81 commented on #11663
Currently not scheduled.

This is a bigger task because it requires support for bulk operations on the API level.

[2016-12-19 09:36] PVince81 commented on #26832
@DeepDiver1975 @PhilippSchaffrath @butonic any idea ?

[2016-12-19 09:40] PVince81 commented on #26835
Needs adjusting multi-file-download API to accept different paths because such files are not necessarily in the same folder.

Making bulk delete work should be simple as we only need to delete every file individually (one ajax/webdav call per file)

[2016-12-19 09:42] PVince81 commented on #26837
Running `occ files:scan --all` should help resolve the inconsistency.
Also in 9.1 it should be possible to delete such "ghost" files already in the web UI.

[2016-12-19 09:44] PVince81 commented on #26838
Since you have LDAP it is likely that you have lots of users. In this case it's recommended to use redis for locking because the DB locking will be much slower for that many users.

[2016-12-19 09:56] phpweb commented on #26835
Thanks considering the feature request @PVince81

[2016-12-19 10:37] esprit-libre commented on #26837
I already tried running `php console.php files:scan --path="/User/files/Commercial/Plaquettes` without success, folders still remains visible on Web UI.
Also, scanning all files will take very long time...
What is the difference between `occ` command and using `console.php`?
Thanks for you help

[2016-12-19 11:01] PhilippSchaffrath commented on #26832
Error suppression is bad practice. We should much rather check if the `apc` extension is loaded, enabled and/or if the functions we are using are available.

@Georg-Git: what do you mean by `Is there a risk for the consistency of config files?`?

[2016-12-19 11:30] jnweiger commented on #26833
https://download.owncloud.org/community/production/vm/Ubuntu_14.04-owncloud-9.1.3-1.1-201612151819.vhdx.zip
is back.

[2016-12-19 11:30] #26833 closed

[2016-12-19 11:39] esprit-libre commented on #26837
Ok, tested with the exact command `occ files:scan --all` and folders does not disappear on Web UI.
Same error in logs when cliking on it.

[2016-12-19 11:47] PVince81 commented on #26837
Hmm, strange... scanning usually resolves that problem.
Let's reformat the stack trace:
[code]

[2016-12-19 11:48] PVince81 commented on #26837
@esprit-libre when deleting from the web UI, you should see a "DELETE" request in the network console of the browser and also a matching log entry. Can you see if you can find that ?

The log entry above is from a separate PROPFIND request, not from a failing deletion.
Would be good to see what the DELETE call says.

[2016-12-19 11:48] PVince81 commented on #26837
btw, I see you're using a memcache. You might want to try clearing that in case there are remains.

[2016-12-19 15:06] PVince81 commented on #26055
I need to finish this PR... https://github.com/owncloud/core/pull/26529

[2016-12-19 17:38] PVince81 commented on #13915
I found another RFC related to pagination but it applies for the Webdav SEARCH method. The concept itself could still be reused for REPORT: https://tools.ietf.org/search/rfc5323#appendix-B.7

Basically there's a "DAV:limit" property that contains an unsigned int that tells how many results to return.
There seems to be no concrete spec for how to provide an offset, but the RFC suggests that the ser

[2016-12-19 17:52] JochenHWezel commented on #26837
I use OwnCloud v9.1.3 (stable) on Ubuntu 16.04.1 LTS with most current updates.

[code]

The file is located in a folder structure shared by another user to me.

[2016-12-19 18:16] JochenHWezel commented on #26837
Also for me, this suggestion didn't work:
[code]

This is the owncloud.log entry created only on debug-everything:
[code]

This is what the browser presents:
![image](https://cloud.githubusercontent.com/assets/14078625/21323751/3cba4924-c61f-11e6-96aa-bb9558fc9960.png)

![image](https://cloud.githubusercontent.com/assets/14078625/21323767/4831cd2c-c61f-11e6-81bd-10f5e7f2e695.png)

These are additi

[2016-12-19 18:20] JochenHWezel commented on #26837
Here some additional owncloud logs which might help:
[code]

[2016-12-19 18:37] PVince81 opened #26840 "Provide generic PaginatedReport Webdav REPORT"
Let's consider this fancy idea: implement a generic PaginatedPropfindReport that works on **any** collection in **any** endpoint inside the Sabre tree.

What the report does:
- input as xml
    - list of propfind properties to retrieve
    - offset + limit
- output
    - propfind multi-status response

To compute the result, the report does the following:

1. Call `$node = getNodeForPath()` on the

[2016-12-19 18:38] PVince81 commented on #26840
Ah, and I guess the pagination thing would only work properly for `Depth: 1` because `getChildrenPaginated()` only applies to direct children. Well, we could also make it be `getRecursiveChildrenPaginated()` then...

[2016-12-19 18:43] PVince81 commented on #26837
Ok, thanks for the details.

Let's check the database: `select * from oc_filecache where path like "%Dropbox - Transfer%"`.
I expect that this entry still exist in the database but there is no such matching file inside the "data" folder.

Now another question is whether only this file is gone or all the parent folders are gone too inside the "data" folder ?

Locally I've tested on 9.1.3 the follow

[2016-12-19 18:55] michaelstingl commented on #24053
**This is the behaviour in 9.1.2:**

|  | Alice's Activity | Bob's Activity | Alice's Trashbin | Bob's Trashbin |
|--------------------------------------------|:---------------------:|:-----------------------:|:----------------:|:--------------:|
| Alice deletes file1.txt in Alice's share | You deleted file1.txt | Alice deleted file1.txt | file1.txt | - |
| Bob deletes file2.txt in Alice's share |

[2016-12-19 20:23] GTT8 commented on #26838
I'll try it and see what happens...

[2016-12-19 21:03] felixboehm commented on #24053
Nice. Some BDD going on here.

[2016-12-19 22:20] Georg-Git commented on #26832
In front of the delete cache function there is a remark in /lib/private/legacy/util.php:
[code]
My PHP7 with Zend OpCache is re-validating the file - but with a update frequency of 2 seconds as default.
I this setup a risk for the config file of OC?

[2016-12-20 02:24] kernelpanic01 commented on #13495
@mapeze When trying to create the trigger I get the following error:
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'END IF' at line 1

I Have Mysql 5.6 on Debian 8.

[2016-12-20 08:26] #26804 closed

[2016-12-20 10:41] PVince81 commented on #26598
Are you using the "homeDirectory" feature of LDAP where LDAP tells OC where the data of each user is ? If yes, this could be related to https://github.com/owncloud/core/pull/26820

[2016-12-20 11:24] daniell1 commented on #26667
I'm affected as well. I can confirm that this happens since version 9.1.2. Upgrading to 9.1.3 didn't fix it. The clients I'm using are Thunderbird 45.5.1 with Lightning 4.7.5.1 and DAVdroid 1.3.4.1. My server is running on Fedora with ownCloud shipped by Fedora. I already reported the issue there for documentation: https://bugzilla.redhat.com/show_bug.cgi?id=1405715

PS: Editing shared calendars v

[2016-12-20 11:39] cgogolin commented on #26667
I have one additional piece of information: Between users created after the update sharing of calendars seems to work normally.

[2016-12-20 12:03] SergioBertolinSG commented on #24053
@michaelstingl yes, I'll add it. We have sharing cases here: https://github.com/owncloud/core/blob/master/build/integration/features/sharing-v1.feature.

[2016-12-20 13:09] Kawohl opened #26847 "Change default encryption behaviour"
Current default behaviour: The encryption is per user

Often enough admins do not read the documentation or estimate the risk of this action.
RTFM is imho not an valid excuse here, because the action to restore data is beyond reconfiguring  or applying easy changes.

I suggest we use a default encryption with master-key.  And make it harder to break your stuff by only allowing the current behaviou

[2016-12-20 13:31] PVince81 commented on #26847
There is also a middle ground where we keep the current encryption but force the admin to create recovery keys. Also recovery keys are enabled for every user by default. Basically make it opt-out instead of opt-in.

That said, I'd personally also prefer to have the master key variant enabled by default instead.

[2016-12-20 13:52] starguy commented on #26598
Hey @PVince81,

if u mean the ldap home connector -> i didnt activate it. Only thing that is activated is in the LDAP configuration the naming rule for the home directory. Do u mean that?

[2016-12-20 14:16] #13820 closed

[2016-12-20 14:26] masteranalyze commented on #17012
It seems owncloud it`s splited between old owncloud and nextcloud,i think this should be post in nextcloud 12 overview : https://github.com/nextcloud/server/issues/2672 ,as nextcloud is FOSS complectly and owncloud is not FOSS on everything witch is an must at least on the security side.

I will ask there if there is any interest,and you can follow up,the more will be,maybe this gets implemented,a

[2016-12-20 14:27] jankowa commented on #26621
For now I didn't get any further information from the samba logs. As a workaround I set up a nginx proxy directly in front of owncloud inside the lan. Accessed through the reverse proxy anything works.

I don't know if this can lead to the conclusion, that the problem maybe is not directly related to samba.

Maybe the problem results in a "double nat". I'll try further to change the network to avo

[2016-12-20 14:32] michaelstingl commented on #4513
for reference: 00006329

[2016-12-20 14:34] PVince81 commented on #26598
Yes.

[2016-12-20 15:08] stephane84 commented on #26665
Any news on this bug ? It is still not working... Can I provide more info ?

[2016-12-20 15:16] PVince81 commented on #26665
lighttpd is not supported https://doc.owncloud.org/server/9.0/admin_manual/issues/general_troubleshooting.html, you might want to try with Apache or nginx instead.

I suspect that this issue is related to the lighttp config somehow but I don't know anything about lighttpd and don't have time to dig into it, sorry.

[2016-12-20 15:21] kiu-ball commented on #26297
Got the same issue here while trying to upgrade from 9.0.7 to 9.1.3.

[2016-12-20 16:28] michaelstingl commented on #26297
@PVince81 What information do you need here?

00006823

[2016-12-20 16:37] kiu-ball commented on #26297
Here's the upgrade output:

ownCloud or one of the apps require upgrade - only a limited number of commands are available
You may use your browser or the occ upgrade command to do the upgrade
2016-12-20T16:47:58+01:00 Set log level to debug
2016-12-20T16:47:58+01:00 Repair step: Repair MySQL database engine
2016-12-20T16:47:58+01:00 Repair info: Not a mysql database -> nothing to do
2016-12-20T16:

[2016-12-20 16:57] PVince81 commented on #26297
Autoloader expert required @DeepDiver1975 @PhilippSchaffrath @butonic

[2016-12-20 16:59] PVince81 commented on #26297
@SergioBertolinSG can you help reproducing this ? Maybe try on CentOS...

@michaelstingl a full issue report would be useful, especially the parts about how to reproduce it and what distro... If there are common aspects between the reports then it can provide clues how to reproduce it. For example if all report that the issue is on CentOS with distro packages, then it's likely related to that...

[2016-12-20 17:03] kiu-ball commented on #26297
It's openSUSE here. No packages. I've used the oC Enterprise tar from customer.owncloud.org.

[2016-12-20 17:18] PVince81 commented on #26297
openSUSE Tumbleweed here, my steps:

1. Extract enterprise-complete tarball 9.0.7 and move it to /srv/www/htdocs/owncloud-enterprise (I have Apache already configured for that path as per the docs)
1. `chown -R wwwrun:www owncloud-enterprise`
1. Setup OC (I used a MariaDB DB)
1. Login as admin and see that the instance works
1. `mv owncloud-enterprise owncloud-enterprise.old`
1. Extract the enterp

[2016-12-20 17:24] mchybo commented on #14131
I have the same issue as guys above, setting proper region doesn't help.

I'm using S3-compatible storage as an endpoint but this shouldn't be a problem.

[2016-12-20 17:26] PVince81 opened #26850 "Provisioning API return user's home folder path"
Because sometimes `getHome()` is not simply "data/$userId", we need the provisioning API to return the actual user's folder.

Currently it looks like it's missing:
[code]

[2016-12-20 17:27] PVince81 commented on #26829
Already available through provisioning API:
[code]

[2016-12-20 17:59] felixboehm commented on #26847
Yes, let's do opt-out for recovery-key and master key by default.
This is exactly what I hear people ask for.

[2016-12-20 18:22] esprit-libre commented on #26837
Hello,
here is the SQL request:
`mysql> select fileid, path, permissions, parent, name, mimetype from oc_filecache where path like "%Techniques Trackers%";
+--------+-------------------------------------------------------------------------------------------+-------------+--------+---------------------------------------+----------+
| fileid | path

[2016-12-20 19:08] JochenHWezel commented on #26837
This is the result of MySQL:
[code]

There are about 2 files in the folder with this problem. Other additional files in the same folder are still available.

[2016-12-20 20:23] Utopism commented on #26798
@PVince81

[2016-12-20 21:09] mapeze commented on #13495
I corrected the code format. Try now.

[2016-12-20 21:28] felixboehm commented on #26065
Any progress here? @butonic

[2016-12-20 21:34] felixboehm commented on #26702
@PVince81 @mrow4a Ok, what next?

- Retest?
- Blackfire?

Please add exact docs for how you tested this, so we can reproduce measurements.

[2016-12-20 21:55] mrow4a commented on #26702
In the next moment I will blackfire sharing generaly. The amount of calculations in memory will not matter unless they perform a query to the database. THey dont seem. I will research the sharing topic further, finding there the query is being issued and how many times.

[2016-12-20 22:05] souravbadami commented on #24257
I'm unable to reproduce it on the latest master. I think, it got fixed ?

[2016-12-20 22:26] souravbadami commented on #24219
@PVince81: Can we go with this ?
![screenshot from 2016-12-21 03 55 14](https://cloud.githubusercontent.com/assets/11073943/21370397/70d70cf2-c731-11e6-87e2-f14a3cc2bc47.png)

[2016-12-20 22:40] strk commented on #24219
Maybe the example should have a more likely port, like localhost:5432 ?
Also, what's the help text in the field, before "localhost" is typed in ?

[2016-12-20 22:43] souravbadami commented on #24219
Sure, I'll change the port number.
Re: placeholder for the host field, It's Database host.

[2016-12-20 23:00] souravbadami commented on #24219
Hey @strk! -- How do I manage the translations ?

[2016-12-20 23:14] strk commented on #24219
Placeholder should maybe be "Database host:port" ?

I don't know how to manage translations

[2016-12-21 02:09] GTT8 commented on #26838
So far, so good, no more lock logs. Thanks!

You can close this if you want.

[2016-12-21 02:31] GTT8 opened #26852 "Error with avatars"
### Steps to reproduce
1. Start the Owncloud server
OR
2. Random
### Expected behaviour
No Error logs
### Actual behaviour
Error PHP. Avatars seem to work correctly though.
### Server configuration
**Operating system**: Debian 8 (Gnome 3.14.1) running on VirtualBox

**Web server:** Apache 2.4.10

**Database:** MySQL 5.7.15

**PHP version:** 7.0.14

**ownCloud version:** 9.1.3

**Updated from an ol

[2016-12-21 03:16] GTT8 commented on #26838
Sorry it seems that redis is not solving the problem. At least for a 1GB test file that was uploaded.

[code]

[2016-12-21 04:28] doublehops commented on #19962
@taziden, could you explain what you did when you said `I enabled back the app`? I have the same problem on a new install. It was working fine but now it takes 30 seconds for the login page to show, unless the 504 error comes up first.

[2016-12-21 04:37] doublehops commented on #19962
@taziden, maybe you meant you reverted a backup. I've done the same and it's working again. I can't imagine what I did to cause this but glad it's working again now.

[2016-12-21 07:44] PVince81 commented on #26837
The workaround would be to manually delete these obsoleted entries.
But I don't understand why `occ files:scan` doesn't do it automatically on your environment.

[2016-12-21 07:50] esprit-libre commented on #26837
Ok. Strange.
Only `oc_filecache` table is concerned ?
Thanks for your help

[2016-12-21 07:52] #26829 closed

[2016-12-21 08:17] PVince81 commented on #24219
@souravbadami you don't need to care about translating, only make sure to use the `t` functions and you're good. A bot will take care of syncing the new texts with Transifex.

Your proposal sounds good: either a hint below the field or directly inside the placeholder.
Thanks!

[2016-12-21 09:22] starguy commented on #26598
than it might be related..

[2016-12-21 09:42] butonic commented on #26325
@felixboehm @DeepDiver1975 can we please kill local:: storages? We need to decide how to handle this. At least new installations must NEVER run the fallback code. maybe add an app that provides this?

[2016-12-21 09:54] PVince81 commented on #26325
My worry is that some admins ignored the warnings when updating from OC 8.0 and now they still have legacy storages where local:: is the correct one and home:: is the duplicate... As long as these people do not manually repair we can't force-remove the old one as it would lead to data loss.

I like the idea about "for new installs". In this case I suggest that old installs receive a oc_appconfig s

[2016-12-21 09:56] butonic commented on #26325
well our support has cleaned up severl installations ... but the local storages keep popping up, having a flag to disable the local storages for them would be awesome. also for admins who do make an effort to clean up ...

[2016-12-21 09:57] Helios07 commented on #26325
@PVince81 Your last sentence is not exactly true. In our 9.0 installation, a local storage was created by a database hickup (mysql server has gone away). This must not happen, but in this case, it would be better to ignore the local storage.

[2016-12-21 09:57] PVince81 commented on #26325
That can't be. The "local::" storages cannot reappear in the new code, the logic makes it use "home::" by default.

The exception or course is when using the "local" external storage, but that's unrelated.
And another exception is the root storage pointing to the data dir.

[2016-12-21 10:00] PVince81 commented on #26325
@Helios07 a database hiccup, hmm... But even then, the logic goes as follows (from memory):

1. check if there is a "local::" storage in the database, if yes, use that one
1. check if there is a "home::" storage in the database, if yes use that
1. if no "home::" storage exists, then create a "home::" storage

If that really happened then I guess there must have been some crazy race conditions in t

[2016-12-21 10:07] PVince81 commented on #26325
Here is the code in question in OC 9.0: https://github.com/owncloud/core/blob/v9.0.6/lib/private/files/filesystem.php#L417. "If local:: storage exists, switch on legacy mode".

In later version it moved here: https://github.com/owncloud/core/blob/master/lib/private/Files/Mount/LocalHomeMountProvider.php#L41

At first look there doesn't seem a way, even with hiccups, to make that value return true.

[2016-12-21 10:12] PVince81 commented on #26325
PR to kill it https://github.com/owncloud/core/pull/26855

[2016-12-21 10:16] Helios07 commented on #26325
The incident was some weeks ago, so I do not remember exactly, what happened, but it was something like:
- A database node from the cluster was rebooted by accident
- Some users reported a missing share (it was the same for everyone, it was shared with multiple users)
- The following database query gave me a hit:
select s.id, p.configvalue from oc_storages s inner join oc_preferences p on md5(conc

[2016-12-21 10:38] PVince81 commented on #26325
Was p.configvalue the data folder or user name ?

Note that there is also a root storage "local::" + datadir without user name. That one always exists and is not related to lost shares. If deleted the entry will reappear at some point.

We should also rename that storage to "root://"

[2016-12-21 10:40] PVince81 commented on #26325
For reference, legacy storage with the fallback has an ID like "local::path/to/datadir/userid". These should never reappear automatically as per the mentioned code above.

So maybe it was a misunderstanding :-D

[2016-12-21 11:15] settermjd opened #26856 "Exception thrown when datadirectory is incorrectly set"
If the parent directory of directory which `datadirectory` is set to is something different to the current directory, and I run the `occ` command, a stack trace is thrown.

For example, if `datadirectory` is set to: `/home/vagrant/owncloud/data`, yet the ownCloud installation directory is `/home/vagrant/owncloud/core`, then the command will print a stack trace, similar to the following:

[code]

W

[2016-12-21 12:20] SergioBertolinSG commented on #26297
Hello, upgrades 9.0.7->9.1.3 using centos both tarball and packages worked correctly.

Remove shares of a users root folder
Starting ...
16/1316 [>---------------------------] 1% An unhandled exception has been thrown:
Error: Class 'OCA\FederatedFileSharing\DiscoveryManager' not found in /var/www/html/owncloud/apps/files_sharing/lib/AppInfo/Application.php:83

2016-12-20T16:57:04+01:00 Repair step

[2016-12-21 12:35] UH-Nerion opened #26857 "owncloud 9.0.7 - Centos 6 - files missing in repo"
Hello,

at http://download.owncloud.org/download/repositories/9.0/CentOS_6/ the files for owncloud 9.0.7 is missing. So I am unable to upgrade from owncloud 8.2 to 9.0.7

Only owncloud-files-9.0.7-1.1.noarch.rpm is available, but owncloud-9.0.7-1.1.noarch.rpm is missing.

Could you check this urgently please.
I am unable to upgrade from 8.2 to 9.1 because of missing step to upgrade to 9.0

Thanks

[2016-12-21 12:35] Helios07 commented on #26325
According to my chat protocol with @butonic , the storage was called local::/gpfs/share/sciebo/uni-muenster/uni-muenster.de/projects/sc/scieboprojekt.pbox@uni-muenster.de/

[2016-12-21 12:58] stephan-l commented on #26297
So does this mean, that this bug was resolved in 9.1.3 @SergioBertolinSG ? Or does it still persists regarding your attached log?
I wasn't able to try 9.1.3 so far. Next possible try for me would be on friday as I can only upgrade the production system and revert it if it is not working.

[2016-12-21 13:08] scroom opened #26858 "LDAP group membership doesn't get updated"
<!--
### Steps to reproduce
1. Use an LDAP-Server for userdata (group membership handeld by POSIX-groups)
2. Add a member to your LDAP-POSIX-group (what is happening quite often in our use case, a school)

### Expected behaviour
I've expected that OC updates the group membership regularly and checks if a user is still in a group or if there are additional new members and adds/deletes them if neces

[2016-12-21 13:26] UH-Nerion commented on #26857
Seems to be that owncloud-9.0.7-1.1.noarch.rpm is not needed for upgrade.

[2016-12-21 13:26] scroom opened #26859 "LDAP groups are not updated"
### Steps to reproduce
1. Use LDAP as user data backend (POSIX groups for group management)
2. Add a new user to a LDAP group

### Expected behaviour
I've expected that OC checks if there are new users and adds them in OC to the groups as well.

### Actual behaviour
Users are not added to the groups within OC, so they can't see the files shared with the group.

### Server configuration
**Operating

[2016-12-21 13:31] SergioBertolinSG commented on #26297
@stephan-l No, sorry didn't mean that. Those logs are from your failure and the other one.

I couldn't reproduce with a basic installation, so I guess it requires to have federated shares (shared or received) before upgrade.

[2016-12-21 13:32] scroom commented on #26858
Hibernating problem. Sorry for disturbing. Created the issue here:
https://github.com/owncloud/core/issues/26859

[2016-12-21 13:33] #26858 closed

[2016-12-21 13:35] PVince81 commented on #26325
Okay, so it was indeed a user. I can't explain why it happened, but maybe let's leave it at that and kill it anyway.

[2016-12-21 13:35] DeepDiver1975 commented on #26859
please run the following occ command

[code]

[2016-12-21 13:37] guruz commented on #10682
@jmceleney Great! Why don't you send a normal pull request here so it can get reviewed and integrated?

[2016-12-21 13:40] kiu-ball commented on #26297
I have recently tried what happens if I delete my whole LDAP config before upgrading to 9.1.3. Without that it worked for me too. So the problem clearly belongs to the database entries I think. Maybe users, shares or federated shares.

[2016-12-21 13:41] PVince81 commented on #26850
Closed through https://github.com/owncloud/core/pull/26853

[2016-12-21 13:41] #26850 closed

[2016-12-21 13:42] PVince81 commented on #26857
@crrodriguez please have a look

[2016-12-21 13:45] kiu-ball commented on #26297
The CLI output says the following:

2016-12-21T14:22:11+01:00 Repair step: Clean tags and favorites
2016-12-21T14:22:11+01:00 Repair info: 129 tags of deleted users have been removed.
2016-12-21T14:22:11+01:00 Repair info: 0 tags for delete files have been removed.
2016-12-21T14:22:11+01:00 Repair info: 231 tag entries for deleted tags have been removed.
2016-12-21T14:22:11+01:00 Repair info: 0 ta

[2016-12-21 14:02] PVince81 commented on #12543
We already have the layer, closing in favor of https://github.com/owncloud/core/issues/20047

[2016-12-21 14:02] #12543 closed

[2016-12-21 14:09] luckydonald commented on #26804
Funfact: I'm german, but didn't see that while implementing.

[2016-12-21 14:17] DeepDiver1975 commented on #26804
don't worry - we fixed it - still an awesome contribution!

THX @luckydonald

[2016-12-21 14:42] PVince81 commented on #26702
Is that so ? If a function is called a million times for nothing outside the DB, it is also likely that it will waste a lot of time. Let's see what your blackfire result says anyway.

[2016-12-21 14:49] mrow4a commented on #26702
Surely it matters. I have just been talking that it will not matter 10-100 shares scale so it will be that visible, refering to previous post with the smashbox test.

[2016-12-21 15:52] #26325 closed

[2016-12-21 16:00] PVince81 commented on #26670
Any update ? Did disabling the apps make encryption work again ?

If yes, this is likely a bug in one of these apps. Please report the app's repository.

Else try again with 9.1.3 and use the issue template https://raw.githubusercontent.com/owncloud/core/master/.github/issue_template.md

[2016-12-21 16:00] #26670 closed

[2016-12-21 16:00] #26622 closed

[2016-12-21 16:01] PVince81 commented on #26598
Please try with this patch https://github.com/owncloud/core/pull/26824 and let us know if it worked.

[2016-12-21 16:01] #26544 closed

[2016-12-21 16:03] PVince81 commented on #26514
Please reopen if disabling the third party apps didn't fix the issue.

[2016-12-21 16:03] #26514 closed

[2016-12-21 16:04] PVince81 commented on #26486
Does installatron also configure Apache properly ?

This is likely to be an issue with installatron or your setup, not a bug in ownCloud.

Please ask on central for further help and post your server / apache config there: http://central.owncloud.org/

[2016-12-21 16:04] #26486 closed

[2016-12-21 16:06] PVince81 commented on #26451
Please fix your theme, your config seems to show that you have a custom theme and the URL can be overridden/specified there.

As for the updater bug https://github.com/owncloud/updater/issues/402 it was fixed in recent versions.

[2016-12-21 16:06] #26451 closed

[2016-12-21 16:07] PVince81 commented on #26374
Please reopen if it didn't

[2016-12-21 16:07] #26374 closed

[2016-12-21 16:08] PVince81 commented on #26347
Closing in favor of https://github.com/owncloud/core/issues/16140

There seems to be a bug in general and the inability to clear the caches

[2016-12-21 16:08] #26347 closed

[2016-12-21 16:11] PVince81 commented on #26302
This is a client issue, raised in the client repo https://github.com/owncloud/client/issues/5411

[2016-12-21 16:11] #26302 closed

[2016-12-21 16:18] PVince81 commented on #26086
Reopen if you have an update

[2016-12-21 16:18] #26086 closed

[2016-12-21 16:19] PVince81 commented on #26080
Closing due to lack of feedback

[2016-12-21 16:19] #26080 closed

[2016-12-21 16:19] PVince81 commented on #26019
ghost user -> close

We anyway need to rework the authentication stuff to be common to all endpoints.

[2016-12-21 16:19] #26019 closed

[2016-12-21 16:20] PVince81 commented on #26002
Closing due to lack of feedback

[2016-12-21 16:20] #26002 closed

[2016-12-21 16:22] PVince81 commented on #25985
Please try again with 9.1.3 and maybe try increasing the timeout values.

[2016-12-21 16:22] #25985 closed

[2016-12-21 16:23] PVince81 commented on #25814
Could also be https://github.com/owncloud/core/issues/25569.

Closing in favor of https://github.com/owncloud/core/issues/25569 and https://github.com/owncloud/client/issues/5192

[2016-12-21 16:23] #25814 closed

[2016-12-21 16:23] PVince81 commented on #25731
Closing due to lack of feedback

[2016-12-21 16:23] #25731 closed

[2016-12-21 16:24] PVince81 commented on #25704
Note: it is likely a bug in the gallery app because that's the one that opens the slideshow preview.

[2016-12-21 16:25] #25678 closed

[2016-12-21 16:25] #25612 closed

[2016-12-21 16:26] PVince81 commented on #25551
The updater fixes are only effective after updating to the fixed version, not before updating. That's why the current version needs patching.

So can this be closed ?

[2016-12-21 16:28] PVince81 commented on #25390
Ok, so it was all manual errors. Closing

[2016-12-21 16:28] #25390 closed

[2016-12-21 16:29] PVince81 commented on #25536
@butonic @DeepDiver1975 @PhilippSchaffrath more weird autoloader stuff...

[2016-12-21 16:32] PVince81 commented on #24867
Is this still happening with 9.1.3 ?

Either the server had a hiccup or something is wrong with your local certificates, or the local PHP curl version has trouble with the certificates.

[2016-12-21 16:32] Flachzange commented on #25551
Fine for me.

[2016-12-21 16:33] #25551 closed

[2016-12-21 16:34] PVince81 commented on #24497
@jvillafanez @SergioBertolinSG @davitol are you able to reproduce this locally ?

[2016-12-21 16:36] PVince81 commented on #23967
Closing due to lack of feedback

[2016-12-21 16:36] #23967 closed

[2016-12-21 16:36] VicDeo commented on #25551
@PVince81 yes, can be closed as a duplicate of https://github.com/owncloud/updater/issues/396

[2016-12-21 16:38] PVince81 commented on #23849
Would be better implemented as a separate app. We're going to move S3 and other external storages to be apps anyway.

[2016-12-21 16:38] #23849 closed

[2016-12-21 16:43] hhaeb commented on #24867
No - it was gone previously with 9.1.2 on my installation

[2016-12-21 16:44] PVince81 commented on #24867
Ok thanks. It is usually an environment issue.

[2016-12-21 16:44] #24867 closed

[2016-12-21 16:45] PVince81 commented on #9144
Please reopen if still reproducible on recent versions on a standard supported setup.

[2016-12-21 16:45] #9144 closed

[2016-12-21 16:46] PVince81 commented on #20968
Closing due to lack of feedback. Last time I tried this worked for me with an OpenStack server, so it's likely an environment issue.

[2016-12-21 16:46] #20968 closed

[2016-12-21 16:56] PVince81 commented on #18493
@cdamken subscribe here, you showed this to me last week.
Is there a duplicate ticket ?

[2016-12-21 17:10] PVince81 commented on #24219
Merged https://github.com/owncloud/core/issues/26860

[2016-12-21 17:10] #24219 closed

[2016-12-21 17:26] Flux3PO commented on #17012
@masteranalyze
can you share the Link ? I've already ditched CM over NC and I only can advise everyone else doing the same.

[2016-12-21 19:11] RealRancor commented on #26857
@PVince81 This can be closed. For CentOS 6 only the owncloud-files package is available as explained here:

https://doc.owncloud.org/server/9.0/admin_manual/installation/linux_installation.html#changes-in-owncloud-9

[2016-12-22 06:26] #26857 closed

[2016-12-22 06:27] PVince81 commented on #26857
@RealRancor thanks for the clarification

[2016-12-22 07:11] scroom commented on #26859
I get the following running the command you've mentioned:

[code]

[2016-12-22 07:11] JB1985 opened #26862 "Shared Calender links has changed"
### Steps to reproduce
1. Add or delete a event in Lightning (maybe in ios too?)

### Expected behaviour
It should be add a event or to delete one.

### Actual behaviour
Event is not added, get 404 in the error logs.

### Server configuration
**Operating system**: Debian jessie

**Web server:** Apache 2.4

**Database:** mySQL5.5

**PHP version:** PHP5.6

**ownCloud version:** 9.1.3

**Updated from

[2016-12-22 07:18] PVince81 commented on #16306
@pmaier1 I'd move to backlog for now but add to the "stuff to make the feature more round" list

[2016-12-22 07:19] PVince81 commented on #16304
WND integration was done but not Sharepoint. Sharepoint integration is tracked in private repo, so closing in favor of that one: https://github.com/owncloud/sharepoint/issues/120

@pmaier1 FYI

[2016-12-22 07:19] #16304 closed

[2016-12-22 07:23] PVince81 commented on #1344
Looks like the provisioning API already returns the usage quota.
However the web UI uses a different API. It should be possible to reuse whatever the provisioning API is using to get the usage and display it in the users page.

[2016-12-22 07:23] PVince81 commented on #12602
Closing in favor of older ticket, I'll move the labels there: https://github.com/owncloud/core/issues/1344

[2016-12-22 07:23] #12602 closed

[2016-12-22 07:24] PVince81 commented on #1344
Acceptance criteria from the closed duplicate ticket:

As an admin, I want to be able to easily and quickly see the current quota usage of all of the users on the system.

**Acceptance Criteria:**
This should be integrated in the user management panel. This displays the % of used quota next to the quota drop down for each user in the table. The option is set in the settings panel on the bottom lef

[2016-12-22 07:27] PVince81 commented on #12600
Group display name support was added in core through https://github.com/owncloud/core/issues/7918.

Now what remains is adjusting the local database group backend to support it and also the web UIs to support it, here's a list:

- [x] backend interface support: https://github.com/owncloud/core/pull/26750
- [ ] add to local backend
    - [ ] new DB column in oc_groups for display names
- [ ] add di

[2016-12-22 07:27] PVince81 commented on #7918
Display name support was added in backend, so this is there.

For the remaining tasks let's use the other ticket https://github.com/owncloud/core/issues/12600

[2016-12-22 07:27] #7918 closed

[2016-12-22 07:29] PVince81 commented on #12600
@pmaier1 would move to backlog for now.

The reason I worked on this was because custom groups require display name support to be able to rename them, so "backend interface support" had to be added into core.

The remaining is however nice to have for the near future I think, maybe 10.1.

[2016-12-22 07:30] #23890 closed

[2016-12-22 07:37] PVince81 commented on #26862
No actual log entries ?

[2016-12-22 07:38] PVince81 commented on #26862
Also post the result of `select * from oc_appconfig where appid='core'`

[2016-12-22 07:38] PVince81 commented on #26862
config.php would be useful too (in case of memcache or other such subtleties)

[2016-12-22 07:38] PVince81 commented on #26862
@DeepDiver1975

[2016-12-22 07:39] PVince81 commented on #26662
@crrodriguez ping, I think everything should have finished building by now

[2016-12-22 07:55] PVince81 commented on #25392
Closing as I couldn't reproduce the issue with many different tries

[2016-12-22 07:55] #25392 closed

[2016-12-22 07:57] JB1985 commented on #26862
Log:

[22/Dec/2016:08:51:49 +0100] "PUT /remote.php/caldav/calendars/USER/pers%C3%B6nlich1_shared_by_user/008e6bdd-bfd5-49e2-9ec6-7c579cf04b93.ics HTTP/1.1" 404 6975 "-" "Mozilla/5.0 (X11; Linux x86_64; rv:45.0) Gecko/20100101 Thunderbird/45.5.1 Lightning/4.7.4"

SQL result:

appid 	configkey 	configvalue
core 	global_cache_gc_lastrun 	1437630557
core 	installedat 	1416301481.0023
core 	lastcron

[2016-12-22 07:57] PVince81 commented on #25891
Closing in favor of https://github.com/owncloud/core/issues/25425, need to use a different naming scheme for chunk files.

[2016-12-22 07:57] #25891 closed

[2016-12-22 07:58] PVince81 commented on #25425
I suggest to simply md5 the base name of the chunk file name on disk on the server side.
Might be just a matter of changing some code in the FileChunking class.

@guruz are you still on this ?

[2016-12-22 08:00] PVince81 commented on #22519
@mrow4a FYI

[2016-12-22 08:53] PVince81 commented on #23578
Any update ? Is this still an issue with recent versions ?

[2016-12-22 08:54] PVince81 commented on #23420
@cdamken can you check the matching case ?

I'd rather move this to 10.0 because the solution needs database structure changes which we cannot backport.

[2016-12-22 08:56] PVince81 commented on #21171
Is the returned size always exactly the same 120 MB value at the byte level or does it vary between say 119 MB and 121 MB during each try ? If the value is random, it could be related to timeouts.

[2016-12-22 08:57] PVince81 commented on #21171
@dragon2611 please confirm, see previous comment

[2016-12-22 08:57] PVince81 commented on #20216
@Peter-Prochaska

[2016-12-22 09:07] PVince81 opened #26863 "Use npm instead of bower"
@PhilippSchaffrath raised a point here https://github.com/owncloud/core/pull/26841#issuecomment-268751851

Currently the thing is that we don't ship the node_modules folder, so if any JS deps are present there, ownCloud wouldn't have access to those.
Also we'd need to tweak the resource locator to not only look into apps but also look into the node_modules subfolders. I don't think we should do th

[2016-12-22 10:59] DeepDiver1975 commented on #26862
this change did happen from 8.2 to 9.0 - nothing new.
But the missing write permission is an issue ....

[2016-12-22 11:32] PVince81 commented on #26856
Sounds good. Tagged as junior job.

[2016-12-22 11:39] PVince81 commented on #26852
Is that the correct folder and does it contain other avatar files ? `/media/sf_OwnCloud/443efad7-0bf8-4def-bd12-773130048638/avatar.96.jpg`

[2016-12-22 11:39] PVince81 commented on #26852
Are your avatars imported from LDAP or do users set them manually inside ownCloud ?

[2016-12-22 11:40] #26796 closed

[2016-12-22 11:41] PVince81 commented on #26838
Did the 1 GB finish uploading or did it get aborted with a PHP timeout ?

The logs you posted are about a DELETE operation. Who is uploading and who is deleting ?
Does a user A try to delete the file while a user B is uploading a new version of it to overwrite ?

Would be good to know more about the actual scenario. Thanks.

[2016-12-22 11:52] PVince81 commented on #26847
This will modify the whole flow of enabling encryption on the GUI and CLI side.
Currently there is no master key option on the GUI so we might need to add it there to make it clear that it's the default mode.

Also need to clear out when and how to do this, UX-wise, in a way that integrates both in the web UI approach when enabling encryption and the CLI approach when enabling encryption.
Forcing

[2016-12-22 12:07] PVince81 commented on #26783
This workflow will not work with existing data. See https://github.com/owncloud/core/issues/25665

You need to reuse your old database + config.php + data folder but with the new ownCloud tarball code, then upgrade to that.

Not an ownCloud bug, the install page works as expected.

[2016-12-22 12:07] #26783 closed

[2016-12-22 12:12] PVince81 commented on #26781
@ennder please use the issue template: https://raw.githubusercontent.com/owncloud/core/master/.github/issue_template.md.

The search feature depends heavily on what user backend and how it is configured, especially if you're using LDAP. It is likely that the reason is the same as https://github.com/owncloud/core/issues/26519 so I'm going to close it.

If you think your issue is not related at all

[2016-12-22 12:12] #26781 closed

[2016-12-22 12:15] PVince81 commented on #26746
@DeepDiver1975

[2016-12-22 12:16] PVince81 commented on #26726
Maybe it's using the wrong method to generate urls

[2016-12-22 12:17] PVince81 commented on #26668
Please try again, some updates were published recently.

[2016-12-22 12:17] #26668 closed

[2016-12-22 12:19] PVince81 commented on #26646
Please check your server setup and make sure that access for Webdav verbs is allowed. Here is a list https://github.com/owncloud/documentation/issues/2753

[2016-12-22 12:19] #26646 closed

[2016-12-22 12:20] PVince81 commented on #26645
Not enough info to be able to reproduce or fix -> close.

[2016-12-22 12:20] #26645 closed

[2016-12-22 12:24] PVince81 commented on #26644
If that folder was really huge it is likely that the sync client issued a single MOVE for the folder, but PHP ran into a timeout and left the database in a corrupted state as explained in https://github.com/owncloud/core/issues/25569 and was also observed in https://github.com/owncloud/core/issues/25814.

You should be able to make these files reappear by running `occ files:scan --all`.

Best woul

[2016-12-22 12:24] #26644 closed

[2016-12-22 12:25] PVince81 commented on #25569
In most cases a rename is a quick operation but if the database has too many entries to update it might take longer.

[2016-12-22 12:29] PVince81 commented on #26551
Environment issue, not solvable from inside ownCloud

[2016-12-22 12:29] #26551 closed

[2016-12-22 13:49] DeepDiver1975 commented on #26862
do you see any log entries the same time in data/owncloud.log?

[2016-12-22 13:52] JB1985 commented on #26862
No. nothing in the owncloud.log

But sorry, I have updated 9.1.1 to 9.1.3

[2016-12-22 14:08] SergioBertolinSG opened #26866 "Update version in master to 10.0.0.X"
Current master version is 9.2.0.3 it should be changed before releasing.

It will require also to update the minimum required version in apps.

[2016-12-22 14:09] DeepDiver1975 commented on #26862
please set the log level to debug(0) and let's see ...

[2016-12-22 14:15] JB1985 commented on #26862
Exception: {"Message":"HTTP\/1.1 404 Principal with name users not found","Exception":"Sabre\\DAV\\Exception\\NotFound","Code":0,"Trace":"#0 \/var\/www\/owncloud\/3rdparty\/sabre\/dav\/lib\/DAV\/Tree.php(76): Sabre\\DAVACL\\AbstractPrincipalCollection->getChild('users')\n#1 \/var\/www\/owncloud\/3rdparty\/sabre\/dav\/lib\/DAV\/Tree.php(71): Sabre\\DAV\\Tree->getNodeForPath('principals\/user...')\n

[2016-12-22 21:29] UnitedMarsupials opened #26868 "Endless login-loop"
Hello!
I am trying to setup ownCloud for the first time and can not get past the "endless login" redirection loop. I've found a number of references to the problem online, none with a definite solution.
Here is my configuration:

- FreeBSD-10.3
- Apache-2.4.23
- PHP-7.0.14 (using FPM)
- PostgreSQL-9.3.15
- ownCloud-9.1.2

ownCloud is installed under `/opt/www/owncloud` and I have a dedicated vhost

[2016-12-22 21:35] RealRancor commented on #26868
@UnitedMarsupials See https://github.com/owncloud/core/issues/7719

Switch to

1.Apache + mod_php (officially supported)
2. nginx + php-fpm (community supported)

Both combinations are not showing this issue

[2016-12-22 22:06] UnitedMarsupials commented on #26868
That's a strange response, @RealRancor. More like something a low-paid front-end "support engineer" would read from his script over the phone: "You use what? Unix? Sorry, we only support Windows and MacOS here."

Of course, people have used Apache + php-fpm -- indeed, [some documentation](https://doc.owncloud.org/server/9.0/admin_manual/installation/source_installation.html)  mentions such a combi

[2016-12-22 22:43] aheusingfeld opened #26869 "Help needed: owncloud 9.1.3 creates redirects without index.php (after upgrade from 8.1) on nginx+subdir"
### Steps to reproduce
0. upgrade Ubuntu 14.04LTS to 16.04LTS
1. Reinstall owncloud (see https://github.com/aheusingfeld/aheusingfeld.github.io/blob/develop/posts/2016-12-22-owncloud-updates-between-multiple-major-versions.adoc)
2. adjust nginx config according to https://doc.owncloud.org/server/9.0/admin_manual/installation/nginx_examples.html (NOTE: I’m running owncloud behind nginx with a subdi

[2016-12-22 23:15] aheusingfeld commented on #26869
BTW: I first thought this "remote.phpote.php" was a logging error but `Requested uri (/cloud/remote.phpote.php/webdav/) is out of base uri (/cloud/remote.php/webdav/)` is exactly the message the miral/ owncloud macOS client displays. I have no idea whether this is related to the above mentioned problem.

[2016-12-23 00:56] UnitedMarsupials commented on #26868
Having added some debug statements, I can see, that the `handleLogin`-method goes through the three known methods:

- handleApacheAuth
- tryTokenLogin
- tryBasicAuthLogin

and finally returns `false`, which causes another redirect to login. But I'm never prompted for authentication -- not by the browser, not by a form.  Another debug statement confirms, that the attempt to `OC_App::loadApps(['auth

[2016-12-23 08:16] PVince81 commented on #26866
@IljaN I'll let you take care of this. It's an opportunity to surf around all bundled app repos to get to know them a bit 😄
I suggest you start with the release tarballs to find out what's bundled.

[2016-12-23 08:21] PVince81 commented on #26491
@VicDeo can you confirm that this is solved, then close ?

[2016-12-23 08:22] PVince81 commented on #26503
I guess that should be enough for now, closing

[2016-12-23 08:22] #26503 closed

[2016-12-23 08:25] PVince81 commented on #26869
Just follow the instructions in the box below that

[2016-12-23 08:28] PVince81 commented on #26869
`remote.phpote.php` looks like a `substr` operation failed because it was expecting the URL to contain a specific string but it actually contained another string. Some parts of the code only assume the presence without checking for perf reasons, mostly because it's always the case.

I wonder if your problem is related to this:

I don't have an nginx env nor nginx experience, so I hope someone who

[2016-12-23 09:04] RealRancor commented on #26868
@UnitedMarsupials This is a bugtracker for ownCloud, no support forum. Furthermore it is known that oC won't run with Apache + php-fpm as already pointed: https://github.com/owncloud/core/issues/7719 and they won't change that: https://github.com/owncloud/core/issues/7719#issuecomment-238562035

This means "official support", and yes you need to care about that when opening and issue for a problem

[2016-12-23 09:12] PVince81 opened #26870 "Unit test warnings for integrity check tests"
[code]

@VicDeo please fix, there should be no warnings at all here.

[2016-12-23 10:29] davitol commented on #24497
@PVince81

Cannot reproduce the bug. oC version 8.2.4.

[code]

The folder is downloaded OK in .tar (in the issue title it is said that it generates a .zip file)

OOTH about the colon symbol in the name:

Trying to create a folder in oC webUI with a colon in the name is not possible as @jvillafanez said in https://github.com/owncloud/core/issues/24497#issuecomment-255684177

This is the log genera

[2016-12-23 12:53] VicDeo commented on #26491
https://apps.owncloud.com/updater.php?version=8x0x0x7x1382907615.86x1435439812xstablexx2015-02-07T02:34:55+00:00
offers 8.0.16 for 8.0.0

https://apps.owncloud.com/updater.php?version=8x0x16x7x1382907615.86x1435439812xstablexx2015-02-07T02:34:55+00:00
https://apps.owncloud.com/updater.php?version=8x1x1x7x1382907615.86x1435439812xstablexx2015-02-07T02:34:55+00:00
offers 8.1.11 for 8.0.16 and 8.1.1

[2016-12-23 12:53] #26491 closed

[2016-12-23 13:58] scroom commented on #26859
The issue has been labeled with "needs info". Can I provide some more info?

[2016-12-23 14:00] UnitedMarsupials commented on #26868
Whatever, @RealRancor, whatever. All one needs to get Apache + FPM combo to work is a change like:
[code]
Found on [this page](https://help.nextcloud.com/t/endless-redirect-302-given-back-from-index-php/1651/6).

[2016-12-23 14:00] #26868 closed

[2016-12-23 14:02] nicoolas commented on #4389
Any news on this topic ?
Using version 9.1, I just deleted a large amount of data from an external storage, that ended up downloaded on my server, and filling up disk space.

Otherwise, anyone knows if trash can be disabled altogether for external storage ?

Thanks

[2016-12-23 14:17] crazy-max commented on #23578
Hi, i have upgraded to 9.1.3, i will try to reproduce
I keep you in touch

[2016-12-23 14:45] crazy-max commented on #23578
Same issue :disappointed:

### Steps to reproduce
1. Create a new calendar on Owncloud 9.1.3.1 on my account user@mail.com
2. Copy the caldav link on Thunderbird 45.5.1 (latest) to create a new calendar
3. Click on properties for the calendar created on Thunderbird and link an email address thunmail@mail.com
4. Create an event

### Expected behaviour
The mail choosen on Thunderbird calendar when i

[2016-12-23 15:01] RealRancor commented on #25949
Workaround how to fix your configuration to solve this configuration / apache issue:

[code]

from https://github.com/owncloud/core/issues/26868#issuecomment-268994053

[2016-12-23 15:04] aheusingfeld commented on #26869
Thanks for the heads up. I compared the current nginx config to the one I had with OC8.1 which was running perfectly fine with the `/cloud` contextroot. The differences are marginal. Anyway I changed to `/owncloud` just to be sure: The redirect issue persists and the Sabre Error message is now `Requested uri (/cloud/remote.phpremote.php/webdav/) is out of base uri (/cloud/remote.php/webdav/)`. Tha

[2016-12-23 15:42] aheusingfeld commented on #26869
FYI just confirmed that everything performs perfectly well, when I remove the contextroot/ subdir completely. Unfortunately that's not a long-term option.

[2016-12-23 15:57] crazy-max commented on #23578
Same behavior on eM Client 7

[2016-12-23 16:24] pmaier1 commented on #16306
Fine!

[2016-12-23 18:18] hodyroff commented on #1347
@chrsch No overview at this time :( You are welcome to start a good one. The start of this FR is kind of mixed as only users can own files currently a group quota makes no real sense. Provisioning API and LDAP can set quotas very intelligently and even on the fly based on usage, so in some ways this could already be done from the outside ...

[2016-12-23 18:26] kernelpanic01 commented on #13495
@mapeze
mysql> show databases;
+--------------------+
| Database           |
+--------------------+
| information_schema |
| owncloud           |
+--------------------+
2 rows in set (0.00 sec)

mysql> use owncloud
Reading table information for completion of table and column names
You can turn off this feature to get a quicker startup with -A

Database changed
mysql> CREATE TRIGGER `_UndoUserShare

[2016-12-23 18:27] kernelpanic01 commented on #13495
@mapeze mysql> SELECT @@version;
+-----------------+
| @@version       |
+-----------------+
| 5.5.53-0+deb8u1 |
+-----------------+
1 row in set (0.00 sec)

mysql>

[2016-12-23 21:13] ZinkDifferent commented on #22975
I can confirm that webDAV performance (on MacOS Finder) in Owncloud 9.1 is still slow as molasses.

Any hopes of improving this?

[2016-12-24 00:13] nightspotlight commented on #26731
Seems to not happen anymore when I input name without spaces.

[2016-12-24 08:00] PVince81 opened #26874 "Remove "Your storage is full" if quota is explicitly set to 0"
In some use cases, the admin sets the quota to zero to create a read-only account.
Such account can still receive shares and use these.

In these scenarios, the message "Your storage is full" in the web UI doesn't make sense so it should be removed.

Might also be relevant for the future guest account feature.

CC @butonic @pmaier1

[2016-12-24 09:43] GTT8 commented on #26852
The avatars are imported form LDAP.

[2016-12-24 09:55] GTT8 commented on #26852
And the avatar of every user seems to be stored in their personal folder:

 /media/sf_OwnCloud/USER_ID/

 in two formats avatar.jpg (dimensions: 128x128) and avatar.96.jpg (dimensions 96x96)

[2016-12-24 10:04] GTT8 commented on #26838
The file loaded after several timeouts.

It was the same user who loaded the file was the one who deleted it. No new version was uploaded. I waited for all clients to download the file and then try to delete it. No special characters used.

[2016-12-24 10:21] plastikschnitzer commented on #4389
If you delete files directly on the external storage aside ownCloud, it won't fill up your ownCloud trashbin.

For some users this might be desired behavior, for others not …

[2016-12-24 14:47] mapeze commented on #13495
You need first to change delimiter to for example // and then execute this code. More info here http://stackoverflow.com/questions/1346637/what-does-delimiter-do-in-a-trigger
After delimiter change to //, paste the code, hit enter, type // and hit enter.

[2016-12-24 23:04] llr1234567890 opened #26875 "MySQL sleeping processes resulting in high cpu load (9.1.3)"
This is a new OwnCloud server set up to replace an older owncloud server that developed this very issue. I have looked around and found multiple people reporting similar things, but not a definite fix, nor one that worked for this web server.

### Steps to reproduce
1. Go to owncloud site on apache web server, or attempt to log in
2. Monitor mysql processlist, which will note a new sleeping proces

[2016-12-25 17:00] zkvvoob commented on #26027
Hi there,

I can see that 9.1.3 is out, but there doesn't seem to be any mention in the changelog about this having been resolved. Could anyone confirm if the issue persists, please?

[2016-12-25 17:02] RealRancor commented on #26027
This issue persists (thats why this issue is still open) and a fix seems to be planned for 9.1.4 according to the tagged milestone

[2016-12-25 17:04] zkvvoob commented on #26027
Right. Thanks for confirming. Waiting patiently for 9.1.4 then.

2016-12-25 19:03 GMT+02:00 RealRancor <notifications@github.com>:

[2016-12-26 18:33] felixboehm commented on #26847
We can also just randomly generate a master key, if it is not given, and print it for the admin.

[2016-12-26 20:23] AndreaGiardini commented on #21972
Updating to version 9.1.2 re-introduced the issue! Please re-open the issue

[2016-12-26 20:28] AndreaGiardini commented on #21972
[code]

[2016-12-27 10:42] kodoku opened #26876 "HTTP 1.1 404 : NFS storage on local external storage"
### Steps to reproduce
1. Install owncloud from RPM repo ownCloud 9.1.3 (stable)
2. Mount a NFS share on your server
3. add local storage on NFS directory

### Expected behaviour
Can see your files in owncloud

### Actual behaviour
Can't see files in owncloud. I can list my NFS directory with apache user.

### Server configuration
**Operating system**: Centos 7.3

**Web server:** Apache 2.4.6

**D

[2016-12-27 11:12] tflidd opened #26877 "Download links broken"
https://central.owncloud.org/t/download-von-version-8-0-16-wo/4707

also broken from owncloud.org/changelog as well as some others.

[2016-12-27 14:09] ennder commented on #26781
adding the following two lines to **User Search Attributes** does almost the trick :
sn
givenName
the only remaining difference with the share link tool are the accentuations (éèô...)
Thanks for your reply.

[2016-12-27 15:26] Somebody2804 opened #26878 "[Question] Changing the background of the login page"
Hi! I'm not sure if this is an issue or not but here you go.

I'm trying to change the background on the login screen page of owncloud 9.1.3 because of reasons ;)
I've looked through documentation and couldn't find anything there, and I've experimented with config.php but had no success there.

/* gradient of the header color and a brighter shade */
/* can also be a flat color or an image */

This

[2016-12-27 15:28] RealRancor commented on #26878
@Somebody2804 Please note this is a bugtracker of ownCloud, no support channel. For such questions please use https://central.owncloud.org/ instead. There you will find a few existing posts how to achieve what you're looking for. Furthermore changing such theming is also documented at https://doc.owncloud.org

[2016-12-27 16:29] quentingosset opened #26879 "[THEME] Change list page"
Hello, I call you because I have a question and I would like to know if it is achievable.

Here I already own my own cloud theme and I would like to apply it to owncloud. Currently I succeeded for the login page, but I would like to edit this page: /owncloud/index.php/apps/files/ Is this possible?
If this is not possible, is it possible to recover some function of owncloud and inject them into my

[2016-12-27 20:52] bstidham commented on #25613
How do you configure where individual "files" directories reside without symlinks? I have it configured so that "data" to resides in the default location but individual user data/files/bsitidham maps to be /media/DRIVE/, and data/files/someoneelse maps to /media/DRIVE/someoneelse. This is how i had things working until upgrading broke the setup. I don't want all the other folders data holds on my

[2016-12-27 21:03] nicoolas commented on #4389
It sure could be a desired behavior;
However, I think that an option to disable the trash bin for external storage would be appreciated - simply because external storages are quite often setup to limit server disk usage.

[2016-12-27 21:17] zpanderson commented on #26877
I'm having the same issue.  Is there any alternative download as a workaround?

[2016-12-27 22:12] MasterG2000 commented on #25341
Thanks for the replys and the support!!
With the update on 9.1.3 and some Ubuntu Updates it works now again for me (don't know which update fixed the Problem :-( ).

[2016-12-27 22:12] #25341 closed

[2016-12-28 02:58] evert commented on #26840
A few thoughts:

1. I know people dealing with lengthy calendars/addressbooks sometimes use the sync-collection mechansism to enable paging. This actually works for client that support sync-collection correctly.
2. I think the only good reason to build this feature is if a client *does not* care about the full result-set. If the client must have the full result-set but wants to split it up into mu

[2016-12-28 09:58] hansa-git commented on #26877
Would be great if someone could replace the broken links from this site (https://central.owncloud.org/t/owncloud-server-maintenance-releases-8-0-16-8-1-11-8-2-9-9-0-6-and-9-1-2/3801), so all downloads are available again. The Updater in owncloud just downloads a file named 8.0.16.zip that is 0 Bytes big...

[2016-12-28 13:28] stefaanderoeck opened #26881 "Each synchronization attempt stalls, since an initial synchronization was forcefully interrupted"
Setup:
- owncloud server 9.1.3 (on VPS running Ubuntu 14.04)
- owncloud client 2.2.4 (on laptop running Mint 18)

### Steps to reproduce
1. Add files to laptop's owncloud directory
2. During their synchronization, cause out-of-memory killing on the server, which in turn causes the synchronization to fail.
3. Try to recover from this by synchronizing again

### Observed behaviour
Synchronization af

[2016-12-28 13:36] Bilemma commented on #26667
I had the same problem - by now I did not update to owncloud 9.1.3.
I use DAVdroid 1.3.4.1 for syncing to android.

What worked for me today was changing the account details in DAVdroid to:

(Found here: [https://davdroid.bitfire.at/configuration/owncloud/](url) )

I don't understand why this helps, but it does for me. I keep you updated, if further errors occur later.

[2016-12-28 17:41] aheusingfeld commented on #26869
Update: spend a few hours troubleshooting and found the reason for the error message `Requested uri (/cloud/remote.phpremote.php/webdav/) is out of base uri (/cloud/remote.php/webdav/)`:

https://github.com/owncloud/core/blob/master/apps/dav/appinfo/v1/webdav.php uses `getRequestUri()` from https://github.com/owncloud/core/blob/master/lib/private/AppFramework/Http/Request.php#L597 which returns th

[2016-12-28 18:37] ajborka commented on #24046
Has anyone worked on this issue yet?

[2016-12-28 19:55] JochenHWezel commented on #26837
@PVince81 how can I support you with more material for your analysis? (Or would you like to take a look into the full database?) Or how to step further on this issue?

[2016-12-29 01:46] ShamimIslam commented on #1347
I would write this. There is only one problem. I have yet to find:

1. Class diagram
2. Class function documentation of the actual API calls
3. How the lookups for the queries are performed
4. How the data is segmented across the classes
5. How we are supposed to add things
6. Where the hooks are
7. How the dataflow takes place
8. How the routing is defined for new apps
9. How the routing is appli

[2016-12-29 05:42] ortonomy opened #26883 "[Mac + iOS client] Connection Closed, web interface works fine"
### Steps to reproduce
1. Download Mac or iOS client
2. Try to connect to my owncloud instance at https://cloud.geligelu.com using client

### Expected behaviour
I should be able to log in and sync to the owncloud instance using the desktop or phone client.

### Actual behaviour
Clients simply respond 'connection closed'. No error message, no feedback. Simply won't log in.

### Server configuratio

[2016-12-29 08:42] MrKoopie opened #26884 "Webdav or OwnCloud client does not work with mod_lsapi"
### Steps to reproduce
1. Launch your OwnCloud client.
2. Connect to a server with mod_lsapi.c (the CloudLinux solution for implementing PHP)
3. It will fail (see owncloud logs) and not log in nor synchronise.

### Expected behaviour
Client can sync the files.

### Actual behaviour
Connection Lost: client can not sync file.

### Server configuration
**Operating system**: CentOS 7

**Web server:**

[2016-12-29 09:09] teemupulliainen opened #26886 "Possible security issue (CVE-2016-10074) in swiftmailer (3rd party) library"
An unpatched RCE vulnerability has been disclosed in the swiftmailer library: https://legalhackers.com/advisories/SwiftMailer-Exploit-Remote-Code-Exec-CVE-2016-10074-Vuln.html. Some discussion here: https://github.com/swiftmailer/swiftmailer/issues/844.

This is pretty much the same as an earlier vulnerability in the PHPMailer library (which has been patched already): https://legalhackers.com/advi

[2016-12-29 09:54] geligelu commented on #26884
This looks very similar to my issue - the 'basic authentication' that I just posted! [](https://github.com/owncloud/core/issues/26883 )

[2016-12-29 09:59] MrKoopie commented on #26884
@geligelu Shout, you are right! Shame on me... Should have checked that one.

Here is the solution: https://github.com/owncloud/core/pull/26885

[2016-12-29 09:59] MrKoopie commented on #26883
@geligelu This should resolve it: https://github.com/owncloud/core/pull/26885

[2016-12-29 10:01] geligelu commented on #26883
@MrKoopie  - should I just put this in the .htaccess file at the root of my owncloud install?

[2016-12-29 10:12] geligelu commented on #26883
@MrKoopie  - added changed code to my .htaccess file and still get the same error, so don't know if the two errors were related...

[2016-12-29 10:15] fabpot commented on #26886
Swiftmailer 5.4.5 has been released now. I haven't had a look at Owncloud code, but you should probably never use the mail transport anyway (using SMTP or Sendmail transports is safe).

[2016-12-29 10:37] geligelu commented on #26883
Still the same error:

[code]

[2016-12-29 10:45] MrKoopie commented on #26883
@geligelu Can you confirm if you are using lsphp in CloudLinux?

[2016-12-29 10:46] MrKoopie commented on #26884
Opened as this issue seems to be different from @geligelu

[2016-12-29 10:53] geligelu commented on #26883
@MrKoopie - I'm using cloudlinux (or better still, my hosting provider is), but lsphp is not in my cpanel config. I've found other issues with a similar error suggesting this may have something to do with mod_php vs. FastCGI, but I've confirmed with them that their server has been using FastCGI for years. However, they recently upgraded my cPanel to EasyApache 4 from 3, and that has coincided with

[2016-12-29 13:19] aheusingfeld commented on #26869
I created a pull-request for fixes and docs. During retesting I found that when I set 'front_controller_active true' in the nginx config, the above mentioned redirect error still occurs! When I set it to 'false' everything works as expected!

[2016-12-29 13:25] grischdian commented on #26874
Tried to get the error but cannot reproduce it. Where do you get the "Your Storage is full"?
Created a new clean Instance and added a User with 0B Quota. Shared a folder but could not get the message to appear.

[2016-12-29 14:37] bjo81 commented on #26859
I have also this issue, which info could I add?

[2016-12-29 15:11] daniell1 commented on #26667
Hi. Thanks for sharing this with us. It solves the problem in Thunderbird Lightning as well.

PS: The sharing URL in the WebGui is correct too.

[2016-12-29 16:02] corvancrowing commented on #22268
But at least you could provide information on how to configure webservers, that they are working as you expect them to

[2016-12-29 16:13] Flonix commented on #25949
@ghost: Thanks for the hint! But it does not work in chrooted environments.

[2016-12-29 17:41] cdamken commented on #22534
Any news here?

[2016-12-29 17:43] cdamken commented on #22689
Hi, any news here?

[2016-12-29 17:56] felixboehm commented on #22534
Please reopen / open new issue with a clear issue and your expectations on how this should work.

[2016-12-29 17:56] #22534 closed

[2016-12-29 21:43] tflidd commented on #26877
@jnweiger

[2016-12-30 10:22] msarmad2 opened #26889 "file direct link of a shared folder"
is there any way to make direct link of a file from a shared folder in owncloud.
e.g: I have a shared folder by:
https://fumdrive.um.ac.ir/index.php/s/AiCd9aLVqEQt7J
and a file in it link:
text.txt
and I want to make direct link of the file (file is not shared because there are many files with specific names)

[2016-12-31 00:29] #26875 closed

[2016-12-31 00:30] llr1234567890 commented on #26875
I discovered that the issue was more likely related to the Windows shares mounted by the OS using cifs-utils, which appear to lose connection, causing the whole system to hang. Since OwnCloud had these shares mounted as external storage, this may be the cause of the issue.

[2016-12-31 00:50] SpiraMirabilis commented on #1190
I use csync2 to keep several folders in sync across a few hosts, and then mount those folders as "external storage." It seems to work OK.

[2016-12-31 15:28] GIJack opened #26890 "feature request: gpg key support"
Feature request: create an app for storing GPG keys. doubleplus good would be intergration with gnome seahorse and android apg.

[2017-01-01 01:29] AkshitKrNagpal commented on #26874
Hi @PVince81 , @grischdian
I am new here.
I was also unable to reproduce message "Your Storage is full".
But messages like "You are using 0 B of 0 B" and "Error uploading file, Not enough free space, only 0B is left" doesn't make sense.

Also I would like to point out that if admin sets user quota to 0B, that user can still do the following things.
- create empty text files and share with others
-

[2017-01-01 11:16] DeepDiver1975 commented on #26886
@Peter-Prochaska please double check - THX

[2017-01-02 01:30] diman82 commented on #22959
I'm facing the very same issue on the latest 9.1.3 version.
Any suggestions how can I resolve this?

[2017-01-02 09:17] cdamken commented on #18493
@PVince81 there is no duplicate ticket.

Additionally for this information, if you rename the main folder, the shares disappears, until you have a main folder again with the same name as the share.

[2017-01-02 10:08] cdamken commented on #22534
https://github.com/owncloud/core/issues/22534#issuecomment-218170191

[2017-01-02 10:13] davidericardo opened #26892 "Resharing is not allowed"
Sharing options enabled
- Allow apps to use the Share API
- Allow users to share via link
- Allow resharing
- Allow sharing with groups
- Restrict users to only share with users in their groups
- Allow username autocompletion in share dialog. If this is disabled the full username needs to be entered.

Federated Cloud Sharing options enabled
- Allow users on this server to send shares to other serv

[2017-01-02 11:13] ofus commented on #26764
Why?

[2017-01-02 12:03] DeepDiver1975 commented on #26764
oc 10 will come with 7.1 support

[2017-01-02 13:42] geligelu commented on #26883
OK, so I've managed to fix this - it's something to do with my host. They recently upgraded the version of cPanel + apache and this changed the PHP handler from suPHP to some other CGI. This meant that PHP was being executed as 'nobody' rather than the user of the web server. Any chance that you can implement better error reporting for this kind of thing? It was pretty difficult to track down. (or

[2017-01-02 13:57] mirekys commented on #26837
Hi, I can confirm that this issue is present even in OC 8.2. I have seen the following SQL
exception when the DELETE of the file fails for the first time:
[code]

Relevant apache logs:
[code]

Directory listing on web frontend logs that 'Could not locate file exception'. Clients trying to
delete the file do always receive a 403 Forbidden exception. Filecache contains only
one single entry for the

[2017-01-02 14:55] michaelstingl commented on #3577
@pmaier1 @hodyroff This is a requirement for the UCS appliance. Plz check again with @s85t and @felixboehm for milestone.

@mrow4a @jvillafanez How would you estimate the effort to solve this issue.

[2017-01-02 15:21] cdamken commented on #3577
IMHO doesn't look that complicated, while  running the occ:  ldap:update-group  can be added/removed the new admin users that belongs in LDAP in the oc_group_user as admin.

just have to be defined which is the default admin group in the LDAP configuration.

[2017-01-02 15:25] crysman commented on #24507
I've just tried it in 9.1.2 and it runs and ends correctly except some exceptions thrown just by some users.

[2017-01-02 16:07] abhanshgiri21 commented on #26825
hi,
i would like to work on this, how can i contribute? @butonic

[2017-01-02 16:26] felixboehm commented on #26886
As far as I can see, only admins can set the from address, so this exploit is not attack vector for ownCloud.
In master, composer update installs the patched version of swiftmailer, so I would assume this will be fixed with the next maintenance release of ownCloud.

[code]
In stable branches? @DeepDiver1975 Can we update swiftmailer without breaking stuff?

Thanks @Kawohl
@Peter-Prochaska please d

[2017-01-02 17:19] DeepDiver1975 commented on #26886
yes

[2017-01-02 20:37] romixch commented on #21760
For those who use Apache as a reverse proxy, this is the correct mod_proxy configuration:

[code]

Make sure you have no trailing `/` at the end of the second argument. This will not work and produce the error described above:

[code]

[2017-01-03 08:54] patriktornros opened #26895 "web navigation"
![owncloudbugg1](https://cloud.githubusercontent.com/assets/7376269/21602996/1540edea-d19a-11e6-9156-dad5e0dcd022.JPG)

### Steps to reproduce
1. the grid/list display button changes from files to gallery not list to grid? (in web interface)
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration
**Operating system**:

*

[2017-01-03 09:08] hodyroff commented on #26889
Questions should go to: central.owncloud.org please!

[2017-01-03 09:08] #26889 closed

[2017-01-03 10:32] jnweiger commented on #26877
I've tested the 5 links in the initial post. They all seem to work by now. Um, that is -- at least for me??

[2017-01-03 10:33] hansa-git commented on #26877
Yeah, now they work.

They have been corrected 2 days after my post.

Von: Jürgen Weigert [mailto:notifications@github.com]
Gesendet: Dienstag, 3. Januar 2017 11:32
An: owncloud/core
Cc: hansa-git; Comment
Betreff: Re: [owncloud/core] Download links broken (#26877)

I've tested the 5 links in the initial post. They all seem to work by now. Um, that is -- at least for me??

—
You are receiving this

[2017-01-03 12:37] ckamm commented on #26302
Even with the phase-wise operation of the client I don't see how this would happen. Yes, the client will attempt to download the deleted files, but should receive a 404 on each deleted file and proceed to the next one. If I read @Croydon correctly, he says his client was somehow able to download files that had been deleted from the server - which should not be possible.

[2017-01-03 16:51] michaelstingl commented on #22689
@cdamken @felixheidecke is ooto and should be back next week…

[2017-01-03 17:10] cdamken commented on #23558
could we try to have an ` occ  ldap:update-group`   before the upgrade and while upgrading avoid to check the groups again?

[2017-01-04 09:55] cdamken commented on #22689
Thanks, I'll wait 😃

[2017-01-04 10:17] mmattel commented on #25770
I would suggest to store thumbnails at a central place, where ever we put them (tbd), independent of the user who accesses them. Then, when a user accesses a thumb, the db gets queried to provide the data. This eliminates a couple of topics like thumb duplicates, space concerns, orphans when adding/removing mounts or updating/removing data, access rights ect.

But this idea still needs the refrenc

[2017-01-04 10:40] conexxo opened #26896 "Unable to rename a newly created Folder, locked"
### Steps to reproduce
1.Upgrade to Owncloud 9.0.7.1 (from 8.2.9.4)
2. Create a new Folder in the Web-Frontend (I noticed that the error occurs mostly when the background cronjob is running)
3. Rename the new Folder in the Web-Frontend

### Expected behaviour
The Folder should be renamed

### Actual behaviour
...it is not

The Web-Frontend shows a message 'Could not rename "test" ' and there is a

[2017-01-04 15:03] bitking opened #26897 "Error while deleting file on Owncloud 9.0.6"
Hi there i got the following problem.

After uploading a zip files of 1,3 GB and deleting it i get an error saying the file is locked.

How can i resolve this?

-->
### Steps to reproduce
1. Upload a zip file of 1,3GB
2. After the upload try to delete it
3. See an error when using

### Expected behaviour
Delete the file

### Actual behaviour
Doesnt delete the file

### Server configuration
**Opera

[2017-01-04 15:16] bitking commented on #26897
Weird, it took 15 minutes to be able to delete the file.

Not sure how that is possible.

[2017-01-04 19:39] Eekiig commented on #24216
What about "204 - No Content"? JS knows what to do without errors in the logfile... In my opinion a better response.

[2017-01-04 20:37] sibidharan commented on #18496
Simple, inside `config/config.php`, add `'theme'=>'example'` to the array! And thats all.

[2017-01-04 20:42] Behau opened #26898 "Encryption:decrypt [user] not working (Neither with user password)"
### Steps to reproduce
1. Set owncloud to singleuser: ` sudo -u www-data php occ maintenance:singleuser --on`
2. Try to decrypt single user:  `sudo -u www-data php occ encryption:decrypt username`
2.1 Try with Recovery key
2.2 Try with User Password

### Expected behaviour
Files of the user should be completly decrypted.

It is not possible to use **encryption: decrypt-all** because a few users no

[2017-01-05 08:07] gstrauss commented on #19210
FYI: lighttpd developer here. lighttpd has much improved WebDAV support since lighttpd 1.4.40, and lighttpd 1.4.44 supports Transfer-Encoding: chunked for file uploads. With the exception of WebDAV locking, all 'litmus' tests pass. See https://redmine.lighttpd.net/issues/1818 Issues with lighttpd can be submitted to https://github.com/lighttpd/lighttpd1.4/pulls

[2017-01-05 08:09] gstrauss commented on #13642
FYI: added notes to #19210 and #26665 that more recent lighttpd, e.g. lighttpd 1.4.44, includes much improved support for WebDAV.

[2017-01-05 09:41] #26897 closed

[2017-01-05 11:54] S85T commented on #3577
I totally agree, this feature would improve the usage and usability of the new UCS based appliance a lot, because the workaround described by alexklaeser above is not very intuitive.

[2017-01-05 13:09] simogeo commented on #26667
Same problem here after 9.1.3 upgrade ....

Here is the output of `select * from oc_dav_shares` :

![image](https://cloud.githubusercontent.com/assets/154323/21681665/75be53d0-d350-11e6-845f-98f9125a2a07.png)

Just wondering if access value '3' is correct or not .....
Thanks for your help

[2017-01-05 13:19] elketroussiahmed commented on #26129
Hi owncloud team, @PVince81

so after some inverstigations i guess i  found the cauz of the bug
in oc 9.1 **in core/Controller/SetupController.php arround line 58**
there is

	if (isset($post['dbpassword'])) {
			$post['dbpass'] = $post['dbpassword'];
		}

but the $post['dbpassword'] is the checkbox to show/hide db password in the installation interface, so if it is checked (password not hidden) t

[2017-01-05 13:31] daniell1 commented on #26667
With which URL are you accessing the calendars? Are you accessing them like Bilemma described three posts above? I'm on 9.1.3 as well and it helped.

[2017-01-05 15:20] simogeo commented on #26667
I've tried replacing the full url by https://server.example/owncloud/remote.php/dav/

I also tried the proposed fix here : https://doc.owncloud.org/server/9.0/admin_manual/issues/general_troubleshooting.html#service-discovery-label

settings url as 'https://server.example/' and adding 'Redirect 301 /.well-known/caldav /owncloud/remote.php/dav' to .htaccess with no success ....

any clue ?

[2017-01-05 16:10] davidericardo opened #26899 "custom theme is not taking effect"
Using the owncloud 9.1.3, I cannot set a custom theme
As you can see on my config.php I have the parameter "theme".
The custom theme is in: owncloud/themes/load
Which has:
- core folder
---- css folder (header and styles)
---- img folder (new logos etc)
- defaults.php file

Federated Cloud Sharing options enabled
- Allow users on this server to send shares to other servers

### Steps to reproduce

[2017-01-05 17:17] PhilippSchaffrath commented on #26899
I just installed OC 9.1.3 and enabled the `example` theme in `config.php` and it enables just fine.
Is your theme in a public repository so i can test it?

[2017-01-05 17:26] PhilippSchaffrath commented on #26879
It is possible to overwrite app templates through a theme. Please refer to https://doc.owncloud.org/server/9.1/developer_manual/core/theming.html

Although keep in mind, in 10.0 theming will be possible with a more simple directory structure. Documentation will be updated accordingly when its time :)

[2017-01-05 17:32] schnidrig opened #26900 "very frequent and useless loading of huge table (150K rows) from db by appconfig."
### Steps to reproduce

OC installation with many thousand users. (we have 23k)

### Expected behaviour
Don't stress the db. It's busy already ;-)

### Actual behaviour
OC constantly loads a huge table (150k rows) from the db after a sequential scan.
That leads to lots of slow queries and a high CPU load (for the sequential scan)

**ownCloud version:**

we use 8.1 on our production system. However

[2017-01-05 21:28] VicDeo commented on #25563
@PVince81 should I keep old fields in DB for migration or populate existing entries into the new table before migration?

[2017-01-05 21:52] schnidrig opened #26901 "fileid of oc_filecache in danger of hitting max value"
### Database

5 node galera cluster with mariadb.
maxscale with read/write splitter.

### Expected behaviour

virtually unlimited lifetime of oc service

### Actual behaviour

the primary key of the filecache table is in danger of overflowing.
At that point our oc instance will refuse any addition of new files.

### Problem description

	MariaDB [owncloud]> show create table oc_filecache\G
	******

[2017-01-06 06:34] GitHubUser4234 opened #26902 "error"

[2017-01-06 06:36] GitHubUser4234 commented on #26902
@schiessle What I don't understand yet though, why do we have to re-encrypt all the files? Why wouldn't it suffice to re-encrypt the file keys only? Well, at least my understanding is that the master key is not directly used to encrypt the files, but the file keys, right? Thanks.

[2017-01-06 06:39] #26902 closed

[2017-01-06 10:48] AndreaGiardini commented on #21972
@fcturner Do you have this issue with 9.1.2 ?

[2017-01-06 11:15] JB1985 commented on #23600
After Update from ownCloud 9.1.1 to 9.1.3 i cant sent mail invitation with Lightning/Thunderbird.

With 9.1.1 it has works.

Any workaround?

[2017-01-06 12:06] JB1985 commented on #23600
On iOS10.2 is not working too.

[2017-01-06 13:01] JB1985 commented on #23600
Is it again a LDAP problem? If I add a new event, I cant see the field to add a email, but only for LDAP User. If I add a local user I see the field.

![bildschirmfoto vom 2017-01-06 14-00-02](https://cloud.githubusercontent.com/assets/9932751/21718557/87aa3d16-d418-11e6-94e9-378a623c5d1f.png)

[2017-01-06 21:09] cccaballero opened #26903 "Slow user login (and load) with LDAP authentication"
### Steps to reproduce
1. Install 9.1.3 version on Debian 8
2. Configure LDAP authentication

### Expected behaviour
In version 7.0.4 (Debian 8 repository package) authenticate against LDAP fast, and user list in admin interface loads fast.

### Actual behaviour
With a 200+ LDAP users:
Login with an LDAP user takes about 45 seconds, and the user list in admin interface takes too long to load (minu

[2017-01-07 04:43] Thomanji commented on #22966
I agree there should be some solution. A registration of a modified file to the signature file would do.

[2017-01-07 08:38] jbicha opened #26904 ""Global credentials" in External Storage is unclear"
### Steps to reproduce
1. Install Nextcloud 11.
2. In Apps, ensure "External storage support" is enabled.
3. In Admin, click "External storages".

### Actual behavior
There is a "Global credentials" section with no explanation. It is not documented in the [Admin Manual](https://docs.nextcloud.com/server/11/admin_manual/configuration_files/external_storage/auth_mechanisms.html).

![nextcloud-global

[2017-01-07 08:41] jbicha commented on #26904
Oops, I meant to report this to Nextcloud so I'm closing this issue. I believe this feature was removed from at least the non-Enterprise version of Owncloud.

[2017-01-07 08:41] #26904 closed

[2017-01-07 09:03] jbicha opened #26905 "Rename "External storages" to "External storage""
Nextcloud 11 with the "External storage support" enabled.

In the right sidebar, "External storages" should be renamed to "External storage". Storage is a collective plural noun in English and does not need a letter S at the end. Dropping the S would also match the text on the external storage settings page.

![nextcloud-global-credentials](https://cloud.githubusercontent.com/assets/876259/2174052

[2017-01-07 09:36] jbicha commented on #26905
Duplicate of https://github.com/nextcloud/server/issues/2973 but maybe y'all want this too?

[2017-01-07 12:24] cornelinux commented on #26708
Hm, such a long break here. I am looking at my App-Code again and I am wondering, if we need to change the core at all or if we only need to adapt the developer documentation. I am using ``IClientService $httpClientService``.

            if ($noproxy === "1") {
                $options["proxy"] = ["https" => "", "http" => ""];
            }
            $client = $this->httpClientService->newClien

[2017-01-07 13:35] DeepDiver1975 commented on #26900
this is done my intention - the problem in your case is that there are a lot of entries regarding files-sharing.

@PVince81 @butonic starting which version they are no longer needed and can be killed? THX

[2017-01-07 15:03] scroom commented on #26859
@DeepDiver1975 and @PVince81 can you maybe have a look at this again? Several people experiencing this issue.

[2017-01-07 15:36] dassencio commented on #23634
I also had this issue when upgrading from ownCloud 9.1.1 to 9.1.2. During the update process, I get the error mentioned above:

cURL error 51: SSL: no alternative certificate subject name matches target host name 'localhost'

[2017-01-07 15:59] dassencio commented on #23634
If have changed 'verify' to false on getDefaultOptions() at the file updater/vendor/guzzlehttp/guzzle/src/Client.php and now I'm getting a different error:

Server error response [url] http://localhost/index.php/occ/config:list [status code] 503 [reason phrase] Service Unavailable

[2017-01-07 16:14] dassencio opened #26906 "cURL/SSL error when upgrading from 9.1.1 to 9.1.2"
### Steps to reproduce
1. Go to the Admin area
2. Click on "Open updater"

### Expected behaviour
The update process starts.

### Actual behaviour
The following is shown on the screen:

cURL error 51: SSL: no alternative certificate subject name matches target host name 'localhost'

### Server configuration
**Operating system**: Ubuntu/Linux

**Web server:**

**Database:** MySQL

**PHP version:**

[2017-01-07 20:23] MightyCreak commented on #26027
Out of curiosity, I don't understand why there are licensing issues since both projects are on AGPL-3.0. Could you explain?

Cheers!

[2017-01-08 06:52] canepan commented on #14131
The same is happening to me with 9.1.3.
I imported the mount.json of a previous 7.0 installation and I received thos error.

I resolved adding a '1' at the end of the bucket name.
I'm using eu-west-1, and the error was the same both specifying it or not.

[2017-01-08 07:42] canepan commented on #14131
This actually creates a new bucket.
I tried starting from scratch (removed owncloud.db, config.php and log), with the same result.
Wit the proper accesd key, it's able to create a new bucket and use it, but not to use an existing one

[2017-01-08 11:07] canepan commented on #14131
The problem looks like S3 lib is unable to verify bucket existence ( connectiin.doesBucketExist ).
Maybe a timeout?
Is there a wsy to force OwnCloud skip this check?

[2017-01-08 21:09] aartsr commented on #24377
@vmuth I've tested your solution a bit today on OC 9.0.7 but am running into problems, have you gotten any further with this yourself by any chance?

[2017-01-08 22:34] AndreaGiardini commented on #21972
Indeed... the problem seems to be the iOs application... at least in my case

New bug: https://github.com/owncloud/ios/issues/824

[2017-01-08 23:11] canepan commented on #14131
Actually, removing the flag from 'enable path style' made it work for me

[2017-01-09 04:49] RyanBreaker commented on #25927
It appears running `yum upgrade` for CentOS or equivalents on other distros overwrites permissions set by oC setup on the session directory (`/var/lib/php-fpm/` for me on CentOS 6). @antoniopinarella's fix of reassigning the right permissions to that directory fixed the issue for me.

[2017-01-09 09:07] PVince81 commented on #22975
Can you confirm that it is only slow with MacOS Finder but fast with other clients ? Because it could also be your server that is slow in general. Is it also slow for empty ownCloud accounts ?

Best would be to make a new ticket and describe your scenario in detail for the user that experiences the slowness (how many received shares ? server setup ?).

[2017-01-09 09:15] PVince81 commented on #26847
@felixboehm you probably mean generate a **recovery** key password ? The master key is already automatically generated.

[2017-01-09 09:17] PVince81 commented on #21972
Hmm, maybe the ios app is trying to authenticate using the OCS endpoints and it somehow fails ?

[2017-01-09 09:34] pmaier1 commented on #26874
Yes, the mentioned error messages are meaningless and should be removed in case 'quota=0'
Furthermore, thanks for the input @AkshitKrNagpal:

-> should be prevented if quota=0

-> I'd consider this as expected behavior if permissions are granted.

[2017-01-09 09:40] SergioBertolinSG commented on #26905
![screen shot 2017-01-09 at 10 39 48](https://cloud.githubusercontent.com/assets/9048796/21762269/0ca00118-d658-11e6-9d56-1396b9e9a74d.png)

[2017-01-09 09:40] #26905 closed

[2017-01-09 09:46] PVince81 commented on #25613
Due to security reasons, ownCloud doesn't follow symlinks inside the data folder any more, see https://github.com/owncloud/core/pull/24899.

You can use `mount --bind` instead.

[2017-01-09 09:48] PVince81 commented on #26840
The main purpose for pagination here was to be able to paginate on the web UI and mobile clients to save some bandwidth and improve perf. Not sure how using sync-collection there would help.

Also I guess that sync-collection wouldn't necessarily return the results in the desired sort order, so at some point the clients would need to sync down all results before being able to display the first pag

[2017-01-09 09:53] PVince81 commented on #26901
Uh oh...

@butonic @DeepDiver1975 @PhilippSchaffrath

[2017-01-09 09:57] PVince81 commented on #26837
I need to find time to try and reproduce this issue locally with the provided steps...

@mirekys @esprit-libre can you confirm that your issue is 100% the same as @JochenHWezel ? Do you also have the app "working2gether" enabled ? The more info about your setups, the more we can cross-relate similarities and find out why this is happening.

[2017-01-09 10:22] #26877 closed

[2017-01-09 10:26] PVince81 opened #26907 "Upgrade from 9.1.3 to master :bomb:"
### Steps:

1. Setup v9.1.3 from git
1. Checkout master (5a10d04488afd574dc2f8558cfd0ff4a8e204ddc) and run `make clean; make`
1. Run `occ upgrade` from the CLI

### Expected
Upgrade success.

### Actual
Upgrade failed:
[code]

### Log
[code]

Seems to be a clash between the "move avatars outside repair code" and the "move files_external to core" code. For some reason the table might not exist yet

[2017-01-09 10:28] jbicha commented on #26905
Great., but shouldn't only the first word be capitalized?
[code]
The same for "Federated Cloud" unless it's being used as a brand name where the capitalization matters more than UI consistency.

[2017-01-09 10:43] PVince81 commented on #26874
Redid my steps:

1. Setup OC 9.1.3 locally
1. Login as admin
1. Create a user "user1"
1. Set that user's quota to "0" and hit enter (it will become "0 B")
1. Login as "user1"

You're right, it doesn't happen in OC 9.1.3 nor master.

Not sure what I did to make it happen. If I see it again, I'll reopen.
Sorry for the noise.

[2017-01-09 10:43] #26874 closed

[2017-01-09 10:47] PVince81 commented on #25425
@IljaN please have a look. The chunking code is here: https://github.com/owncloud/core/blob/v9.1.3/apps/dav/lib/Connector/Sabre/File.php#L395 and the class is here: https://github.com/owncloud/core/blob/v9.1.3/lib/private/legacy/filechunking.php#L79.

Let me know if you need some pointers regarding how to execute this scenario and also how the whole thing works.

[2017-01-09 10:47] esprit-libre commented on #26837
I confirm that I had the same issue, with workin2gether enabled. You have my config detail above.
I can also indicate that manually cleaning `oc_filecache` solve the issue. I don't have new use case since the one I declared.

[2017-01-09 11:09] SergioBertolinSG commented on #26866
https://doc.owncloud.org  here is is still using 9.2 also.

[2017-01-09 11:17] PVince81 commented on #19210
ownCloud doesn't use the web server's Webdav module but provides its own Webdav implementation (through the Sabre DAV library). The webdav module of the web server must be disabled for ownCloud to work properly and avoid potential conflicts.

[2017-01-09 11:30] PVince81 commented on #25563
Is it cheaper to create a new table than migrating the existing table and deleting the column ?

I'd say that we migrate the data to the new structure and delete the old structure once we're done. No deprecation.

Note that in 10.0 we have Doctrine migrations, so you could/should use that instead of repair steps when doing the migration.

CC @DeepDiver1975 @butonic

[2017-01-09 11:33] PVince81 commented on #26900
These should be gone in 9.1 as etag propagation was reworked and uses a better approach that doesn't require such entries.

[2017-01-09 11:33] PVince81 commented on #26900
the rework isn't backportable unfortunately

[2017-01-09 11:34] PVince81 commented on #26900
Ref https://github.com/owncloud/core/pull/23157.

Closing as duplicate of https://github.com/owncloud/core/issues/22720

[2017-01-09 11:34] #26900 closed

[2017-01-09 11:42] butonic commented on #26901
I am trying to store metadata via extended attributes, which makes me wish the primary key of the table was (storage, fileid) and we were referencing the storage id along with the file id throughout the code. They map to device id and inode pretty well. If we touch the filecache table we should collect other requirements. Currently it is impossible to resolve the owner to a fileid by using sql. Th

[2017-01-09 11:45] PVince81 commented on #26901
@butonic this is the wrong ticket to discuss this, it will likely get lost. Maybe post here instead: https://github.com/owncloud/core/issues/12487 (or find or create a matching ticket).

Yes for using bigint for fileid if that can fix the issue in this one ticket.

[2017-01-09 11:46] butonic commented on #12487
I am trying to store metadata via extended attributes, which makes me wish the primary key of the table was (storage, fileid) and we were referencing the storage id along with the file id throughout the code. They map to device id and inode pretty well. If we touch the filecache table we should collect other requirements. Currently it is impossible to resolve the owner to a fileid by using sql. Th

[2017-01-09 11:49] PVince81 commented on #12487
You can now use the `oc_mounts` table to reach it, see https://github.com/owncloud/core/issues/1344#issuecomment-245526902, but still not very clean...

[2017-01-09 13:41] Waqar731 opened #26908 "Unable to get the Name of logged in User"
Hi,
I am trying to get the user name who is currently logged in. For this  I am trying following line of code in upload.php file.
`echo OCP\User::getUser();`

**But**
Actually I want that when I upload any file then before uploading I want to show the name of the logged in user on top of page. But I m unable to see.

**How to fix this?**

[2017-01-09 14:19] Helios07 commented on #26901
It is even worse for us:
[code]

(and we split our users to different instances already)

[2017-01-09 14:29] schnidrig opened #26909 "Separate DB connections for read and write"
**Database:**

Mariadb Galera cluster.
Maxscale: read/write spliter

**ownCloud version:**

8.1

### Description

We at SWITCH and also some other NRENs noticed, that when using a galera
cluster, one also has to use an sql-proxy doing a read / write split.
Otherwise the db performance gets very, very bad due to some locking problems.

At SWITCH we use maxscale 1.3 for this. Unfortunately maxscale

[2017-01-09 14:38] evert commented on #26840
@PVince81 yea, you are right. But this falls for me under "a client that does not care about the full result-set" which I think is a legit reason to build this.

Point 3 and 4 still stand though.

[2017-01-09 14:38] evert commented on #26840
Actually 4 is now also less important =)

[2017-01-09 14:53] PVince81 commented on #26901
We usually don't change DB schemas in a minor version, but might need to do an exception here... @felixboehm @DeepDiver1975 @butonic

I suggest to provide a PR for a quickfix that changes the column type to bigint (not sure about performance impact here during upgrade...) and address @butonic's other points separately.

[2017-01-09 16:37] pmaier1 commented on #3577
Regarding the benefits in UX and intuitive use of the UCS appliance this definitely needs to be done. We need an effort estimation and assignment. If this really is a junior job we might be able to do it for the next release.

[2017-01-09 19:30] synthead commented on #23762
Can you provide a link to your comment?

[2017-01-09 20:29] VicDeo commented on #25563
@PVince81 >in 10.0 we have Doctrine migrations
it is still under development, isn't it?

[2017-01-09 22:11] BernieO commented on #23762
There you go:
https://github.com/owncloud/documentation/issues/2330#issuecomment-205175284

[2017-01-09 23:39] SpecBlackHat opened #26910 "SMB shares has stoped work (FreeBSD)"
### Steps to reproduce
1. Update to owncloud-9.1.3
2. Try to mount SMB shares
3. It start to endless loading

### Expected behaviour
It should connected and show green round instead loading circle.

### Actual behaviour
Showing loading circle.

### Server configuration
**Operating system**: FreeBSD 10.3

**Web server:** Apache 24

**Database:** MySQL 5.6.34

**PHP version:** 56

**ownCloud version

[2017-01-10 01:10] SpecBlackHat commented on #26910
![1](https://cloud.githubusercontent.com/assets/1147104/21790057/6646b0ea-d725-11e6-8707-9f4ed73b0e09.PNG)

This is how it looks like.

[2017-01-10 07:59] PVince81 commented on #25563
No, it already works. But core doesn't have a single migration checked in yet.
I've used it in the customgroups app for database initialization: https://github.com/owncloud/customgroups/tree/master/appinfo/Migrations

[2017-01-10 08:36] PVince81 commented on #26702
Summary of investigation:
- perf degraded from 8.2.9 to 9.0.7 due to the introduction of oc_mounts table and the logic to populate it (required for resolving file ids back to user ids for features like autotagging)
- perf improved a bit again from 9.0.7 to 9.1.3 (actually 9.1.0 to 9.1.3) by introducing even more laziness in the shared storage code (aka shared storage recursion hell): https://githu

[2017-01-10 08:51] Kawohl commented on #22689
@felixheidecke do you have an ETA?

[2017-01-10 09:36] Kawohl commented on #25092
@felixheidecke any update?

[2017-01-10 09:53] PVince81 commented on #26702
New PR here that backports some pieces of code that introduce lazy retrieval of storage id + root file id of shared storages: https://github.com/owncloud/core/pull/26912
This does improve performance a lot but I need to make sure this doesn't introduce the recursion regression that the full PR https://github.com/owncloud/core/pull/25789 fixes.

[2017-01-10 10:41] PVince81 commented on #25557
Trying to find smaller steps to reproduce this locally. Goal is being able to test this automatically to avoid regressions in the future.

Steps to recreate one level of recursion on v9.1.0:

1. Create three users "user1", "user2" and "user3"
1. Login as "user2"
1. Create a folder "deleted"
1. Share "deleted" with "user1"
1. Delete "deleted" to trash (but leave it there)
1. Create a folder "test"

[2017-01-10 10:50] pmaier1 commented on #3577
I had a chat with @felixboehm about this, thought about it again and have to revert my last comment:
- With the suggested approach oC can become dependent on AD. If AD breaks for some reason you are unable to login to oC using the LDAP admin group.
- Using the Provisioning API you can automatically add certain AD users/groups to the oC admin group which should be sufficient for the appliance.
- Th

[2017-01-10 10:58] jonixmobile commented on #22370
i have a similar error:

PHP Fatal error:  Uncaught Error: Access to undeclared static property: OC\\Files\\Filesystem::$normalizedPathCache in /var/www/html/owncloud/lib/private/Files/Filesystem.php:793\nStack trace:\n#0 /var/www/html/owncloud/lib/private/Files/View.php(2039): OC\\Files\\Filesystem::normalizePath('/0973482A-87DC-...')\n#1 /var/www/html/owncloud/lib/private/Files/View.php(1151): O

[2017-01-10 11:15] PVince81 commented on #25557
Steps for infinite recursion on v9.1.0:

1. Create two users "user1" and "user2"
1. Login as "user1"
1. Create a folder "delfromuser1"
1. Share "delfromuser1" with "user2"
1. Delete "delfromuser1" to trash
1. Create a folder "testfromuser1"
1. Share "testfromuser1" with "user2"
1. Login as "user2"
1. Create a folder "delfromuser2"
1. Share "delfromuser2" with "user1"
1. Refresh the page 💥
1. `curl

[2017-01-10 12:15] PVince81 commented on #26702
PR is ready for testing: https://github.com/owncloud/core/pull/26912

[2017-01-10 12:39] Kitounet commented on #26778
Hello again,

I'm sorry to reopen this subject but I'm actually trying to stop the upload of a files from an hook and I can't see any way to do that.
Did I missed something ?

Thank you

[2017-01-10 12:46] PVince81 commented on #26778
Try setting `$run` to 0 in the hook handler.

Best would be to use a storage wrapper instead, see how the quota storage wrapper works: https://github.com/owncloud/core/blob/master/lib/private/Files/Storage/Wrapper/Quota.php#L30.
Registration works this way: https://github.com/owncloud/core/blob/master/lib/private/legacy/util.php#L185.
To register from within an app, do it in the presetup hook as s

[2017-01-10 12:57] Kitounet commented on #26778
I'm really sorry,

I sent a message on [](http://central.owncloud.org/ )(h[ttps://central.owncloud.org/t/a-way-to-cancel-an-action-who-precede-a-hook/4528](url)) but no answer this is why I tried here. (sorry again)

I will look at your links and if I have other questions, I will use the platform.

Thanks again and happy new year by the way.

[2017-01-10 13:04] PVince81 commented on #26778
@Kitounet no worries. Seems I wasn't subscribed to that category, subscribed now.

[2017-01-10 14:00] timm2k commented on #26909
I totally agree. We're using MaxScale 1.4. The CPU waste might be the same. MaxScale 2.0 might be better than 1.x but it comes with a new licensing.

My next step is to have a look at http://proxysql.com/. Percona does also prefer ProxySQL instead of MaxScale.

[2017-01-10 14:11] PVince81 commented on #26876
Assuming you don't have "open_basedir" enabled ?

Have you tried adding a leading slash to "/NFSDirectory" in the config ?

[2017-01-10 14:11] #26870 closed

[2017-01-10 14:12] #26878 closed

[2017-01-10 14:13] PVince81 commented on #26879
Please note that this is a bug tracker and not a support platform. For support, see http://owncloud.org/support

[2017-01-10 14:13] #26879 closed

[2017-01-10 14:14] PVince81 commented on #26881
@guruz

[2017-01-10 15:39] tuxmania87 opened #26913 "ldap Authentication doesn't work after fresh install of OC 9"
### Steps to reproduce
1.  remove owncloud from ubuntu 12.04 completely (apt-get purge owncloud)
2.  install owncloud via apt-get install owncloud
3.  set up LDAP, config works fine, finds users, but login impossible

### Expected behaviour
LDAP tells me config is ok, finds 12 users. None of them can login.

### Actual behaviour
Login failed. See log file for more detail

### Server configuration

[2017-01-10 15:52] polcape opened #26914 "Federation user autocomplete not working"
### Steps to reproduce
1. I have federated each other 5 Onwcloud version 9.1.3
2. In Federation Admin section not all of them have a green light
3. So autocomplete not working (is enable the relative option)

### Expected behaviour
Whe I type a username for sharing a file or folder the system autocomplete the field.

### Actual behaviour
Whe I type a username for sharing a file or folder the syste

[2017-01-10 16:02] PVince81 commented on #26884
PR was merged, thanks! Closing

[2017-01-10 16:02] #26884 closed

[2017-01-10 16:26] odesport commented on #26281
I've tried with 9.07 version but after a very long time :

`PHP Fatal error:  Call to a member function composeAndStoreDisplayName() on null in /var/www/owncloud/apps/user_ldap/lib/access.php on line 584`

[2017-01-10 17:02] PVince81 commented on #26281
Weird, thought this was fixed in 9.0.5 through https://github.com/owncloud/core/pull/25598.

Maybe yet another code path that sneaks in a null value.

[2017-01-10 17:11] dalenoe commented on #1580
I just found this issue. Recently upgraded to owncloud 9, and realized the "extrasecurity" app doesn't work on the 9.x branch. I want/need something that blocks logins except from a certain IP address/range.

[2017-01-10 17:15] SergioBertolinSG commented on #26910
Just tried SMB storage with 9.1.3, no problems found.

Please note that freebsd is not a supported OS: https://doc.owncloud.org/server/latest/admin_manual/installation/system_requirements.html#supported-platforms

[2017-01-10 17:18] Wikinaut commented on #1580
@dalenoe I suggest you move to Nextcloud, which has a built-in brute-force-blocking.

[2017-01-10 17:22] davivel commented on #24995
Sad to read it, @guruz ...

[2017-01-10 17:37] michaelstingl commented on #1580
@dalenoe You can [exclude IP ranges from _Fail2ban_](http://www.fail2ban.org/wiki/index.php/Whitelist) or you can configure IP ranges in _iptables_ manually.

[2017-01-10 17:42] PVince81 commented on #26892
Works for me on a local test.

Does it work with newly created "test" folder ? Is that test folder an old one that went through the upgrades ? I'm asking because it could be a permission issue in the oc_filecache table.

[2017-01-10 17:44] PVince81 commented on #26895
Yes, that button switches to the gallery view. Works as expected.
There is no grid view for files.

[2017-01-10 17:44] #26895 closed

[2017-01-10 17:46] PVince81 commented on #26896
I think I observed a similar issue on my system where I uploaded a huge new file but got "423 Locked" when it finished. When looking at the logs it looked like some cron jobs were running at the time of the final rename.

We should add some "retry after delay" logic in the PHP code and let it give up only after a timeout. Closing in favor of https://github.com/owncloud/core/issues/17016

[2017-01-10 17:47] PVince81 commented on #26896
Reopening because the file/folder should not be renamed on-disk if there was a locking error. That looks suspicious.

[2017-01-10 17:53] PVince81 commented on #17016
In some cases, background jobs that do filesystem operations might lock some folders during their operation. If someone is uploading a huge file, that one will likely fail with 423 Locked.

In fact, it happened to me recently: I uploaded a new 1.5 GB file through Webdav and it took several hours (because my upload speed here sucks...). When it finally reached the final bytes, it failed with 423 Lo

[2017-01-10 17:53] PVince81 commented on #17016
Another case here: https://github.com/owncloud/core/issues/26896

[2017-01-10 17:54] tedstrauss opened #26916 "Share folder by link fails when folder is in external storage and storage is restricted to a user group"
Cross-posting: https://central.owncloud.org/t/share-folder-by-link-fails-when-folder-is-in-external-storage-and-storage-is-restricted-to-a-user-group/4993

**Steps to reproduce**
1. Create new user group `Lab_group`. Add your own user account, and some other users as members of this group.
2. Create new external storage instance, type=local, call it `Lab_ext_storage` in OC > Admin.
3. Add `Lab_gro

[2017-01-10 18:01] PVince81 commented on #26898
Did you mean occ encryption:decrypt-all ?

[2017-01-10 18:04] PVince81 commented on #26903
@jvillafanez

[2017-01-10 18:06] PVince81 commented on #26906
@dassencio are you using SSL with a valid certificate ?

Seems the updater app is using "localhost" with HTTPS for which the cert is likely not verifiable.

@VicDeo any input on this ?

[2017-01-10 18:08] PVince81 commented on #26908
This is a bug tracker, not a support platform. Please post to https://central.owncloud.org/c/development

Also it is not clear what you are trying to achieve. Make sure to include a more complete script there.

[2017-01-10 18:08] #26908 closed

[2017-01-10 18:08] PVince81 commented on #26908
and if you think this is a bug, then please reopen and use the issue template: https://raw.githubusercontent.com/owncloud/core/master/.github/issue_template.md

[2017-01-10 18:09] PVince81 commented on #26909
Are there other software using the same approach ? (just out of curiosity)

@DeepDiver1975 @butonic @PhilippSchaffrath

[2017-01-10 18:10] PVince81 commented on #26910
Any logs ?

[2017-01-10 18:12] PVince81 commented on #26914
So this is likely the problem

[2017-01-10 18:12] PVince81 commented on #26914
Any logs ?

@DeepDiver1975 was there a command to force-syncing or force-pairing ?

[2017-01-10 18:15] PVince81 commented on #26916
Thanks for the detailed report, especially the steps!

@owncloud/qa can you guys confirm this issue ?

[2017-01-10 18:17] polcape commented on #26914
@PVince81 Yes, this is the problem (no green light --> no syncronization of users)
In the logs I see nothing of relevant, what part I have to copy and past? (Do I find a particular keyword?)

[2017-01-10 18:18] PVince81 commented on #26914
I think there is usually a background job (cron) that will take care of pairing. I hope @DeepDiver1975 can provide the details as I'm not familiar with that part.

[2017-01-10 18:24] dassencio commented on #26906
@PVince81 : the certificate is valid and signed by Let's Encrypt. I've tried it both on Firefox and Chromium; both browsers accept it without a warning.

And yes, the "Common Name (CN)" field is correctly set to the ownCloud URL instance I'm running (it's not localhost).

[2017-01-10 19:20] VicDeo commented on #26906
@PVince81 Just the same with https://github.com/owncloud/updater/issues/414#issuecomment-266526686
If there is none of `$_SERVER['HTTP_X_FORWARDED_HOST']` `$_SERVER['HTTP_HOST']`
`$_SERVER['SERVER_NAME']` set - it will fallback to localhost

[2017-01-10 19:21] germainep commented on #26834
If no one is working on this I would like to fix this issue.

[2017-01-10 21:17] Behau commented on #26898
Yes and No
I mean:
occ encryption:decrypt [username]
Or occ encryption:decrypt-all [username]

I only can decrypt one user after the other, because some of the users lost their ldap-passwort, we reset it and now we can't decrypt that users (They didn't activate the Recovery Password).