[2015-01-22 17:14] oparoz opened #13611 "Stream cached previews straight from disk"
In order to save memory when sending large previews, we could use the new StreamedResponse that @Raydiation is going to deliver to the AppFramework for OC 8.1.
#### Next steps
- [ ] Use appframework for preview system https://github.com/owncloud/core/issues/13610
- [x] Discussion regarding the new response type https://github.com/owncloud/core/pull/12988#issuecomment-68770275

[2015-01-22 17:21] oparoz commented on #13609
Added StreamedResponse to the OP.
Regarding the handle, I'm not sure it would make a difference since the first thing the Image class is doing is loading the file to process it? What am I missing?

[2015-01-22 17:28] georgehrke commented on #13609
- There are preview generators, e.g. movies, that generate the png not using php.
- Even if the preview generators use OC_Image, this way (combined with StreamedResponses) we would release the used memory earlier.

[2015-01-22 17:34] SergioBertolinSG commented on #13503
This merge #13519 has worsen this issue, now many invalid email addreses are accepted and stored in database.
cc @jnfrmarks

[2015-01-22 17:37] oparoz commented on #13609
I guess if OC_Image doesn't need to load the data in memory to do its processing, it would be a good thing to have, yes.

[2015-01-22 17:49] disy-mk commented on #12601
As this seems to be work in progress already it might not be too late to add that it would be at least as useful as to be able to do the same with groups.
I.e., i have a group of >50 users. Back then, when the group was smaller (~6), I changed the pw for every user/login, so data won't get changed, while investigating some issue. Currently I'm in the exact same situation but would have to change m

[2015-01-22 18:16] jnfrmarks opened #13612 "Enabled email field on user management page not present after browser refresh."
## Steps to reproduce

1. Install owncloud
2. Navigate to users page
3. Click on setting gear on lower left panel
4. enable user emails - email field is now present
5. refresh the browser
6. email field is gone

### Expected behaviour

Email field should remain

### Actual behaviour

Email field gone.

### Browser

Chrome
Firefox

### Server Host info:

Ubuntu 14.04
PHP 5.5.9

### Server configura

[2015-01-22 18:17] LukasReschke commented on #13612
That's a dupe of about 5 other issues. Let me search them. On my way home atm.

[2015-01-22 18:17] #13612 closed

[2015-01-22 18:18] LukasReschke commented on #13612
https://github.com/owncloud/core/issues/12727

[2015-01-22 18:19] jnfrmarks commented on #13612
@LukasReschke  I guess I should have looked first :)

[2015-01-22 18:23] Owned67 commented on #13597
Yes sorry.

What? It's ginx config from your site...

[2015-01-22 18:26] Owned67 commented on #13599
ok but all the apps are obsolete? (those present in the admin panel)

[2015-01-22 18:43] josh4trunks commented on #13597
thanks, looks better. what exactly is the issue here?
/data is accessible, or what?

[2015-01-22 18:48] Owned67 commented on #13597
issue:
Votre dossier de données et vos fichiers sont probablement accessibles depuis internet. Le fichier .htaccess ne fonctionne pas. Nous vous recommandons vivement de configurer votre serveur web de façon à ce que ce dossier de données ne soit plus accessible, ou bien de le déplacer à l'extérieur de la racine du serveur web.

https://dadada.changeip.net/owncloud/data/
No input file specified.

[2015-01-22 18:51] josh4trunks commented on #13597
based on my quick review your config like like it should block /data. did you reload/restart nginx?

[2015-01-22 18:52] Sugaroverdose commented on #13503
@SergioBertolinSG PR #13519 doesn't changes anything from perspective of this issue.
This issue was mentioned there only just because discussion context has switched to same problems.
Clearing fileds - not a good way to handle typos.

[2015-01-22 18:53] Owned67 commented on #13597
yes, multiples times....

[2015-01-22 18:54] josh4trunks commented on #13597
also looks like you are missing a space here, before the curly bracket
```location ~ ^/(?:\.htaccess|data|config|db_structure\.xml|README){```

[2015-01-22 18:56] Owned67 opened #13613 "Owncloud 7.0.4.2 login loop only firefox"
Owncloud 7.0.4.2 login loop only firefox.....

With google chrome, it's work...

I have clear cookie, cache etc and restart firefox...

[2015-01-22 18:57] #13613 closed

[2015-01-22 18:59] Owned67 commented on #13597
This just your guide:
http://doc.owncloud.org/server/7.0/admin_manual/installation/nginx_configuration.html

I need replace by:
  location ~ ^/(?:\.htaccess|data|config|db_structure\.xml|README) {

??

[2015-01-22 19:07] josh4trunks commented on #13597
yes.. add the space, but use what I posted, yours is missing some "\"
the posted config is missing the space which should be fixed.

[2015-01-22 19:22] DeepDiver1975 commented on #12601
well - your situation can be best handled with the single-user-mode which can be set via the console

https://github.com/owncloud/documentation/blob/master/admin_manual/configuration/occ_command.rst#maintenance-commands

[2015-01-22 19:42] disy-mk commented on #12601
Thank you very much for pointing that out.
In my special case this will not work for me.

For every client I have an account (company users) which is used for calendar sync only. I - in addition - have another account, which contains all shared client's calendars (company admin).
In my specific case I want to prevent the clients from logging in. Well, to be honest , I could change the password for

[2015-01-22 19:50] MorrisJobke commented on #13503
@SergioBertolinSG The PR doesn't put invalid emails into the database. It is just wrongly shown. But this is another issue of just a temporary wrong info presented. I will have a look at this once I worked on the more critical stuff that is out there.

[2015-01-22 19:50] Owned67 commented on #13597
No... error persist...

[2015-01-22 19:51] #13597 closed

[2015-01-22 19:55] josh4trunks commented on #13597
k, guess the mystory will never be solved.

[2015-01-22 20:06] MorrisJobke commented on #13599
@Owned67 Not just admin_dependencies_chk. Can you still fill out the issue template and describe the steps to reproduce this? Thanks

[2015-01-22 22:01] DeepDiver1975 commented on #12285
from my pov we are done with this  - remaining pieces are to be scheduled for 8.1

moving this to 8.1

[2015-01-22 22:02] #13218 closed

[2015-01-22 22:10] frnzltje commented on #11901
Hi All.

I am using ownCloud 7.0.4 (stable) since past weekend on my CentOS VM. Before I was using ownCloud 6. I have two laptops: one Windows 8.1, one Ubuntu. I was using ownCloud client 1.5 on my Ubuntu machine. The Windows machine is using the latest client (it automatically updates).

Yesterday I noticed a conflict when I tried to copy/rename two files. Then I noticed everything had been remov

[2015-01-22 22:31] schiesbn opened #13617 "server-to-server sharing can't edit a single shared file"
This happens on master:

1. I share a single file, let's say "welcome.txt" from user1 at server1 to user2 at server2
2. login as user2 at server2 and accept the share
3. user2 can see the share and also read/download it
4. user2 tries to edit the file with the external text editor.
5. File is not updated in server1

owncloud.log:

[code]

I'm a bit surprised about the "GET", I would expect a "PUT"

[2015-01-22 22:35] MorrisJobke commented on #12412
I didn't can reproduce my issue from two days ago, but #13314 was merged. Can you try it again (either with #13314 applied or by waiting for ownCloud 8.0)

[2015-01-22 22:40] wakeup commented on #8994
Seems fixed.

[2015-01-22 22:40] #8994 closed

[2015-01-22 22:44] DeepDiver1975 commented on #13617
@PVince81 sounds familiar ...

[2015-01-22 22:47] Owned67 commented on #13599
Connect to panel > Application > Select activity (for sample) > click for activate and same error...

Same for PDF Viewer etc......

[2015-01-22 22:59] #13592 closed

[2015-01-22 23:26] MorrisJobke commented on #10982
@fossxplorer @christianrj Is this still an issue?

[2015-01-23 00:34] cosenal commented on #11400
I did try removing and adding the account, and force-close the app, but the problem is still there.

The exact steps are the one reported by the OP and then:
- Add account1 on Documents or PDFExpert, log in with user1.
- Add account2 on Documents or PDFExpert, and no matter what user you log in with, it goes to user1's home folder.

@pluijm @kwillems A possible fix is in master now, can you check

[2015-01-23 00:36] LukasReschke commented on #11400
Are those accounts on the same oC instance / domain or a different one?

[2015-01-23 00:38] cosenal commented on #11400
same instance

[2015-01-23 01:37] jnweiger commented on #12967
isv:ownCloud:devel/libcap-dummy provides a potential workaround.

[2015-01-23 01:41] jnweiger commented on #12697
New packaging structure for 8.0 should offer some improvement here.

[2015-01-23 05:42] taich001 opened #13618 "can not upload file"
I have a linux executeable file (e.g. /bin/dbus-deamon) and I can not upload it to owncloud. Response from my owncloud server is "Could not get result from server".

Does anybody know the reason?

Thanks
Thomas

[2015-01-23 06:48] RealRancor commented on #13618
Hi,

please fill out the issue template provided here:

https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

as asked in the guidelines for contributing (linked in the box when creating a new issue).

Without more informations about your environment its nearly impossible to know whats wrong here.

[2015-01-23 07:44] cedric-dufour opened #13619 "Groups <-> users share permissions issue"
(coming from https://github.com/owncloud/calendar/issues/619)

### Steps to reproduce
1. configure OC for LDAP groups and users
2. user sharer S shares a file (or calendar) with group G and removes edit permissions from share

### Expected behaviour
Users (Ug) from group G should not be able to edit file (or calendar) anylonger

### Actual behaviour
Users (Ug) from group G are *still* able to edit

[2015-01-23 08:16] SergioBertolinSG commented on #13503
I have to disagree, take a look to the oc_preferences table:
+--------+----------+-----------+------------------------+
| userid | appid    | configkey | configvalue            |
+--------+----------+-----------+------------------------+
| Mendo  | settings | email     | dtoledo@owncloud.com   |
| david  | settings | email     | aaaa@bbb               |
| maria  | core     | timezone  | America/Ne

[2015-01-23 08:31] Tegomena opened #13620 "Server-to-server: Browser crashes when shared file is deleted"
On server1, I'm sharing a file to server2. The file appears in the web interface of server2. When deleting the file on server1, the file still appears on server2. When clicking of the shared file, the browser (tab) crashes (tested on Firefox and IE).

[2015-01-23 08:57] cdamken commented on #6468
@PVince81 Any news?

[2015-01-23 09:11] JeTim commented on #13619
Hi Cedric, I found the same problem. Do you have a idea, when this problem will be solved.
I am just a enthusiastic user of OC, and want to implement it in our department at university. It seems that OC 7.0.2 do not have this problem. It is advisable to use 7.0.2 until the problem is solved.
You are right is a realy scary problem!

[2015-01-23 09:33] PVince81 commented on #13617
Could be a duplicate of https://github.com/owncloud/core/issues/11722

At least when sharing with link there is no way for the sharer to set the "allow editing" option.

If the "invite workflow" route properly sets the permission then it might be a different issue.

[2015-01-23 09:44] MorrisJobke commented on #13503
Okay. I didn't noticed that. I will have a look.

[2015-01-23 09:45] MorrisJobke commented on #13503
@DeepDiver1975 I will maybe propose a fix for that and would like it in 8.0 because it seems there is a regression, but I first will test this.

[2015-01-23 09:47] PVince81 commented on #6468
This hasn't been scheduled.
If needed please raise priority.

[2015-01-23 10:03] MorrisJobke commented on #13620
@Tegomena It would be nice if you could provide additional information https://github.com/owncloud/core/blob/master/issue_template.md That helps us to find the cause of this problem.

@PVince81 Is this maybe something that will be fixed with your latest PRs in the s2s sharing code?

[2015-01-23 10:11] #13398 closed

[2015-01-23 10:13] Sugaroverdose commented on #13503
@MorrisJobke looks like phpmailer always uses 'pcre/pcre8' validation, which not so strict and doesn't requires to have dot in email address. Forcing 'php' validation fixes server-side validation:
lib/private/mail.php line 133:
[code]

[2015-01-23 10:13] acmelhorn commented on #12518
Any progress on this issue?

[2015-01-23 10:44] #13475 closed

[2015-01-23 10:45] LukasReschke opened #13622 "Don't abuse basic auth for things we shouldn't"
See https://github.com/owncloud/core/issues/13398#issuecomment-70153258

[2015-01-23 10:45] LukasReschke commented on #13398
Created https://github.com/owncloud/core/issues/13622 to track this

[2015-01-23 10:56] blizzz commented on #13560
additional to Morris last post, please also fetch lastFeatureRefresh as configkey. Full SQL:

[code]

[2015-01-23 11:00] blizzz commented on #13533
@sbelov1 what are the reproduction steps? What is the LDAP config?

**Hint**: https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

[2015-01-23 11:04] DeepDiver1975 commented on #12518
This has been reported many times and seems to be related to the fact that in some cases there is no mtime available on windows (don't ask me why) - this issue is basically unrelated to postgres - has been reported on mysql as well (afaik on mssql as well).

[2015-01-23 11:09] nickvergessen commented on #13603
Okay yeah seems like for my s2s share no file is created therefor the view reports that the folder name _Test_ can be used because there is no conflict.

[2015-01-23 11:09] DeepDiver1975 commented on #13486
closing since https://github.com/owncloud/core/pull/13590 was merged

[2015-01-23 11:09] #13486 closed

[2015-01-23 11:14] DeepDiver1975 commented on #13586
hehe - even github fails to parse these emails properly :speak_no_evil:

[2015-01-23 11:16] michaelstingl commented on #13560
@MorrisJobke @blizzz Thanks! I requested this information.

[2015-01-23 11:26] cdamken commented on #2566
@icewind1991 about your question: https://github.com/owncloud/core/issues/2566#issuecomment-63059144

S3-ownCloud\Shared\owncloud\support\github-issues\core\2566\Another-Query-Output.txt

[2015-01-23 11:28] PVince81 commented on #13608
Please be more precise about what you mean with "cannot share".
I assume you mean that "share with link" works, but opening the link results in a broken share.

Very likely to be a duplicate of: https://github.com/owncloud/core/issues/12475
Please try with this patch: https://github.com/owncloud/core/pull/13470

[2015-01-23 11:41] guruz commented on #6543
Closing this, the upcoming 1.8 client has improvements on when to start a sync.

[2015-01-23 11:41] #6543 closed

[2015-01-23 11:41] mpscy commented on #6543
Sehr geehrte Damen und Herren,

ich bin zur Zeit geschäftlich unterwegs und nicht durchgängig erreichbar.
Sie erreichen mich wieder ab dem 26. Januar. Ihre E-Mail beantworte ich anschließend umgehend.

In dringenden Fällen stehen Ihnen unsere Berliner und Kölner Büros gerne telefonisch zur Verfügung.

Mit freundlichen Grüßen
Yannik Schreckenberger

[2015-01-23 11:53] #13603 closed

[2015-01-23 12:03] nickvergessen opened #13624 "Display yellow warning bar when a favorite is missing from the favorite list"
When a external storage is disconnected (e.g. network issue), the favorites are not displayed. This was made in #13479 as a quick solution. It's better to hide one then to have an exception which blocks the complete favorite list.
However, better UX would be to either still list the file and display a warning on the row, or at least put a warning at the top of the page, that some files are not lis

[2015-01-23 12:11] butonic commented on #11919
@LukasReschke I rescanned your files. Should be fixed.

[2015-01-23 12:31] butonic commented on #11919
The shared folder only had permissions 17. My gut feeling is that somewhere during sharing or the migration there is a case that allows permission updates to bubble up into the local storage. The only code I found to be related so far seems to be https://github.com/owncloud/core/blob/stable7/lib/private/files/view.php#L919 and https://github.com/owncloud/core/blob/stable7/lib/private/files/view.ph

[2015-01-23 12:39] Naucum opened #13625 "Droping file into my user folder from client to my server produces multiple folders"
Hi,
I suppose that i did it again....:(

What happend:
I tried to drag and drop an exe file with chrome to my folder in owncloud. Normaly not a problem. But this time didnt work and i get the message after upload is completed "Not found". I tried with normal documentos and it works without problem.
So searching workaround i dropped the exe file from my client to my owncloud (it is in local network

[2015-01-23 12:45] DeepDiver1975 commented on #11919
Is S3 configured to show all shares in the folder shared? In this case deleting that folder might not be allowed.

[2015-01-23 12:46] LukasReschke commented on #11919
I'll test if this resolves https://github.com/owncloud/activity/issues/164 for me as well

[2015-01-23 12:50] Naucum commented on #13625
More info....

Looking directly into the folder Instalacion Monopusto MEX on my windows7 i see that there are only 2 folders.
But on WebUI you can see this
![2](https://cloud.githubusercontent.com/assets/8770484/5874860/c685a9ca-a306-11e4-9c93-59b2b12e63e4.jpg)

Same like picture before

[2015-01-23 13:07] butonic commented on #11919
hm `'share_folder' => '/Shared'` is set.

[2015-01-23 13:09] LukasReschke commented on #11919
I moved `/Shared/owncloud` to `/owncloud/` and still all new activities link to `/Shared/owncloud` instead of `/owncloud/`. This is really annoying and I don't know what else is broken due to that…

[2015-01-23 13:18] tombou commented on #13574
Xcache is installed on the server, xcache is now disable by putting the cache size to 0 and still the same result . But as far as I know, rebooting the server reset the cache. Is that true?

For me, the instance id in the config.php are different. I manually changed the oc7test to not match the test one. Is that correct? Here they are

demo instance id:
[code]

oc7test instance id:
[code]

test (s

[2015-01-23 13:34] PVince81 opened #13627 "Add Share API calls to automatically mount remote shares"
Use cases:
- a user wants to accept a server to server share over the Android app
- trigger a server to server share invite over the Android app
- automated tests that automatically setup two servers and automatically mounts server to server shares

@schiesbn some of them might already be possible, but I remember you said some still need to be covered.

The Share API should be extended to support

[2015-01-23 14:08] cdamken opened #13629 "Cron error after upgrading to 7.0.3"
### Expected behaviour
Cron Job should work after upgrade to oC7.0.3

### Actual behaviour
Cron Job does not work after Upgrade to 7.0.3

### Steps to reproduce
1. Upgrade to 7.0.3
2. run : php -f /var/www/owncloud/cron.php (or over cron job)
3. Error: ```{"app":"PHP","message":"Call to a member function getHome() on a non-object at \/var\/www\/owncloud\/lib\/private\/files\/storage\/home.php#33",

[2015-01-23 14:14] cdamken commented on #6468
@craigpg can be this scheduled?

[2015-01-23 14:16] PVince81 commented on #6468
@Xenopathic did you get a chance to have a look ?

@cdamken it is not confirmed yet that this solution would fix the issues, so first thing would be to research whether it does.

[2015-01-23 14:26] acmelhorn commented on #12518
OK, thank you for fast response.

[2015-01-23 14:27] PVince81 commented on #13625
Can you explain what you mean with "dropped the exe file from my client to my owncloud".
Do you mean the desktop sync client ?
Or did you use the file manager / windows explorer and dragged the file from there and dropped onto a folder inside the Chromium browser ?

[2015-01-23 14:28] PVince81 commented on #13629
@LukasReschke wasn't this something with the antivirus app ?

[2015-01-23 14:32] Naucum commented on #13625
Sorry for my english and thank you for asking :)

i dragged the file using the windows explorer to my owncloud into my user folder. both, client and server are in the same LAN.
Before i used the chromium browser which not worked and finished upload with a "Not found" meanwhile a document like pdf works perfect.

[2015-01-23 14:32] PVince81 commented on #13629
This error would happen if the user is not defined.
Maybe one of the cron jobs is trying to retrieve a user's home/storage without logging that user in.

[2015-01-23 14:35] PVince81 commented on #13625
Can you describe your "user folder" ? Is it another folder on the local machine (maybe the "ownCloud" local folder used by the sync client) or is it the "user folder" inside the web browser ?
But you said it didn't work with the browser, so I'm a bit confused.

Maybe make screenshots of every location (source location before dragging), another one that shows (draw an arrow) where you dropped it. A

[2015-01-23 14:43] schiesbn commented on #13617
Yes, but if you share a file with the new server-to-server sharing you can set "can edit" also for files. But maybe this is a limitation of webdav because the we point directly to a file and not to a collection and you probably can't write directly to a webdav end point but only to files within a collection. Does this makes sense?

[2015-01-23 14:46] PVince81 commented on #13617
Hmmm... possibly but not sure. If it's the case we'd need a new endpoint for such cases.
I could imagine having a new style WebDAV endpoint called `/remote.php/publicshares/token/$targetPath`

where `$targetPath` can be either a file or subfolder.

In the case of file share:
`/remote.php/shares/token/file` (GET and PUT this endpoint)

In the case of folder share, token is the collection containing

[2015-01-23 14:47] LukasReschke commented on #13629
Mhm, the only AV error that could be related leads to a different error message. – No idea. Sorry.

[2015-01-23 14:49] PVince81 commented on #13629
Is any of these cron jobs trying to access a user's storage locally ?
- @blizzz for the LDAP one
- @nickvergessen for activity
- @icewind1991 for the rest :smile:

[2015-01-23 14:49] PVince81 commented on #13629
- @VicDeo for antivirus

[2015-01-23 14:50] LukasReschke opened #13630 "Sharing is broken when a user is in more than 1000 groups with SQLite"
See my remarks at https://github.com/owncloud/core/pull/13463/files#r23421042

[2015-01-23 14:51] PVince81 commented on #13630
Come on, stop trying and break stuff :wink:

Thanks for the report so we don't forget.

[2015-01-23 14:51] LukasReschke commented on #13630
;D

[2015-01-23 14:52] nickvergessen commented on #13629
activity app should be save (in terms of does not call anything storage related.

[2015-01-23 15:03] PVince81 opened #13631 ""Uploading" section in sidebar"
Scenario:
1. Go to folder A: upload files
2. During upload, go to folder B: upload files/folders
3. During upload, go to folder C: upload files/folders

This scenario already works well as the upload is still running in the background and puts files in the proper folders.

It would be nice to have a section "Uploading..." in the sidebar with a spinner where one can view the list of files that are

[2015-01-23 15:06] PVince81 commented on #13631
To clarify: activating the section in the sidebar would show a flat list of the files being uploaded, with a spinner to the ones currently uploading (not sure if we already have parallel upload, it might still be one by one). The ones that are done uploading will either disappear from the list or become clickable (clicking on it could jump to the corresponding location in "All files") :smile:

[2015-01-23 15:11] DeepDiver1975 commented on #13629
@cdamken can XDebug be installed on that system? Would be great to get the stack trace - THX

[2015-01-23 15:14] Naucum commented on #13625
Well, before make a lot of screenshots i will try first beeing more clear.

From my cliente - windows 8.1 - 192.168.xxx.xxx dragged an exe from Desktop to my owncloud (in the same LAN 192.168.xxx.xxx) via Windows Explorer. First destination Desktop.
The storage folder on the server which is running owncloud is out of the default owncloud folder.
So..this means:
Default Owncloud folders: \inetpub\w

[2015-01-23 15:18] craigpg commented on #6468
@cdamdken, please work with @markviens et. al. to get this properly scheduled.

[2015-01-23 15:21] PVince81 commented on #13625
Ok, so if I understand well, these are the steps to reproduce:
1. Setup sync client to sync a local folder "c:\StorageFolder" (assuming that this is the folder you configured in the sync client)
2. Move a folder "dep-technico" from the desktop into the folder "c:\StorageFolder\files\dep-technico"
3. Wait for the sync client to synchronize
4. Open the web UI and look into the folder "files"
5. See

[2015-01-23 15:24] Naucum commented on #13625
: ```But you said it didn't work with the browser, so I'm a bit confused.```

I said that because the consequence was to dragged the file via windows explorer to destination folder  thinking that the re-scan option will do his part and will be the same in this moment without loosing more time thinking about why NOW an exe file is not uploading correctly and giving me error Not Found

![5](https://

[2015-01-23 15:27] PVince81 commented on #13625
or did you put the file directly into the server ownCloud folder, for example "/var/www/owncloud/data" (but in your case you said your data folder is somewhere else)

It might help clarify a bit if you could post your config.php (use the issue template here: https://raw.githubusercontent.com/owncloud/core/master/issue_template.md)

Was there anything in "owncloud.log" related to the "Not found" is

[2015-01-23 15:36] Naucum commented on #13625
i put the exe file directly in to c\Storagefolderofowncloud\myusername\files\dep-tecnico\instalacion-monopuesto-mex.
This is the same folder which i would have used with chromium and give me the error Not found.
:```Was there anything in "owncloud.log" related to the "Not found" issue ?```

No, unfortunately nothing in the log about this error related to my issue

Going for template and post it.

[2015-01-23 15:38] PVince81 opened #13632 "Minor CSS issue in "New" menu"
### Steps:
1. In the files app, click "New" and leave the menu open
![newmenu1](https://cloud.githubusercontent.com/assets/277525/5877192/2c227f30-a31e-11e4-9727-ea824b5a6157.png)

2. Hover on "New":
![newmenu2](https://cloud.githubusercontent.com/assets/277525/5877200/39878332-a31e-11e4-9f55-42890e22bd91.png)

3. Hover back and forth between "New" and the upload button.

### Expected result
Menu

[2015-01-23 15:41] PVince81 commented on #13625
Ok, I understand.

So there are two issues here:
1. Uploading showed "Not found".
2. Putting a folder directly under the "data" directory created a mess in the web UI. Maybe the scanner was confused.

Is your "Storagefolderofowncloud" on a Windows partition ?

[2015-01-23 15:45] PVince81 commented on #13632
Hmmm, also happens on stable7 and 7.0.4

[2015-01-23 15:48] jnfrmarks opened #13633 "LDAP Select Attributes dropdown not populated"
### Steps to reproduce

1. Install owncloud
2. Enable LDAP
3. Click on admin page
4. Configure LDAP server - in my case I'm configuring an openLDAP sever
5. Click User Filter tab and select a group
6. Click Login Filter tab and select other attributes drop down

### Expected behaviour

Drop down should be populated

### Actual behaviour

Drop down is empty

![p259](https://cloud.githubusercontent.

[2015-01-23 15:51] PVince81 opened #13634 "Versions lost when moving file to or out of external storage root"
### Steps to reproduce
1. Create a file "versions.txt"
2. Edit and save the file multiple times to create versions
3. Open the "Versions" dropdown and see that versions exist
4. Mount a SFTP external storage to "/sftp"
5. Move "/versions.txt" to "/sftp"
6. Open the "Versions" dropdown again

### Expected result
Versions kept

### Actual result
Versions lost. Moving the file back to "/" doesn't bri

[2015-01-23 15:51] jnfrmarks commented on #13633
Expanding and closing the "edit raw filter" on the user filter tab ends up configuring the dropdown

[2015-01-23 15:52] blizzz commented on #13629
@PVince81 no

[2015-01-23 15:58] PVince81 commented on #13634
Here is the file tree before moving "versions.txt" into "/sftp":
[code]

File cache:
[code]

Now after moving the file into "/sftp", they seem to land into the trashbin ?!
[code]

[code]

It could have something to do with the "unlink()" from the cross-storage rename, which triggers the versions hook, making it believe that it's a deletion.

Note: I also observed this issue on the trashbin storage

[2015-01-23 16:00] Naucum commented on #13625
### Steps to reproduce
Both, server and client are in the same Lan-network
1.copied exe file from client
2.paste exe file directly via windows explorer in to my username\files
3. the storage folder, as recommended, is outside default owncloud folder

### Expected behaviour
hoped that the automatic re-scan would catch the new exe file in this folder and show it in the folder on webgui

### Actual b

[2015-01-23 16:01] PVince81 commented on #13634
I had another try with https://github.com/owncloud/core/pull/13561 and the test result is the same: the versions are moved into the trashbin.

[2015-01-23 16:03] PVince81 commented on #13625
Okay thanks for the details. So you're using IIS / Windows Server.

@nickvergessen is that the known issue on Windows Server ?

[2015-01-23 16:06] karlitschek commented on #13633
@blizzz

[2015-01-23 16:15] Naucum commented on #13625
BTW...now i would like to delete the folder
![3](https://cloud.githubusercontent.com/assets/8770484/5877843/da677754-a322-11e4-9b15-be160f456c05.jpg)

because in this folder is happening this

![2](https://cloud.githubusercontent.com/assets/8770484/5877858/edab9214-a322-11e4-840f-14652240a013.jpg)

But as you can see there are a lot of files.
![55](https://cloud.githubusercontent.com/assets/877048

[2015-01-23 16:16] PVince81 commented on #13634
This issue was also introduced by cd4c7fd which is the trashbin storage wrapper...
The commit before that works fine.

[2015-01-23 16:24] Xenopathic commented on #6468
Not yet unfortunately, but it's definitely something I will look at, hopefully for oC 8.1

[2015-01-23 16:28] PVince81 commented on #6468
In that case I'll set the milestone to 8.1 and assign to you if you don't mind. :smile:
Let us know (with a WIP PR) if you start working on this.

[2015-01-23 16:40] blizzz commented on #13633
@jnfrmarks I am getting a false positive "Counting the entries failed with, Requirements not met" on the Users Filter tab, but I cannot reproduce your issue. Might it be that the user counter is still runing, while you switch the tab? The LDAP operation needs to finish first, before the next is done.

[2015-01-23 16:51] jnfrmarks commented on #13633
@blizzz

How can I tell if the user counter is still running?  Is there anyway to disable the tabs until the query is complete?

[2015-01-23 17:12] jnweiger commented on #11489
should be fixed with 7.0.4 -- tested with a CentOS 7 minimal docker image.

[2015-01-23 17:12] #11489 closed

[2015-01-23 17:20] MorrisJobke commented on #13542
And here it is: #13542

[2015-01-23 17:23] sbelov1 commented on #13533
@blizzz I believe its the same user we were working with here: https://github.com/owncloud/core/issues/12118

Reproduction steps are as follows:
1. Select Domain Users group only from the Group Filter
2. Select Domain Users group from the User Filter
Result: 2 users are shown
Expected Result: ~200 users

[2015-01-23 17:26] canepan commented on #13518
I'm not sre it's the same issue since:
- share button does not disappear
- only (and predictably) happens on subfolders of a shared folder

Environment:
- Apache 2.2
- PHP 5.3
- sqlite DB
- CentOS 6 x86_64
- OwnCloud 7.0.4 fresh install

Even tried
 `occ files:scan --all`
after applying d534f26

[2015-01-23 17:34] blizzz commented on #13633
A spinner on the lower left

[2015-01-23 17:42] jnfrmarks commented on #13633
The spinner is not running.

[2015-01-23 17:43] PVince81 commented on #13557
For reference: trashbin wrapper PR that introduced the issue: https://github.com/owncloud/core/pull/13377

[2015-01-23 17:43] PVince81 commented on #13634
For reference: trashbin wrapper PR that introduced the issue: https://github.com/owncloud/core/pull/13377

[2015-01-23 17:47] PVince81 commented on #13518
If files:scan --all didn't fix it then it's a different issue.
Reopening.

[2015-01-23 17:52] oparoz commented on #13607
Job done for all files using the bitmap preview class: https://github.com/owncloud/core/pull/13635

[2015-01-23 17:53] oparoz commented on #13609
Previews generated by the bitmap preview class are now limited in their maximum dimensions: #13635

[2015-01-23 18:09] MorrisJobke commented on #11851
@viktormx Is this still a problem?

[2015-01-23 18:12] MorrisJobke commented on #10052
I’m closing this issue because it has been inactive for a few months. This probably means that the issue is not reproducible or it has been fixed in a newer version.

Please reopen if you still encounter this issue with the [latest stable version](http://owncloud.org/install/) and then please use the [issue template](https://raw.github.com/owncloud/core/master/issue_template.md). You can also cont

[2015-01-23 18:12] #10052 closed

[2015-01-23 19:14] Sugaroverdose commented on #13632
Maybe it's better to make button same as highlighted when dropdown opened? Look's like it doesn't have specific styles for 'active' state except 0 border-radius for bottom angles.

[2015-01-23 19:49] enoch85 commented on #11681
@PVince81 Yes, still happening.

[2015-01-23 19:49] enoch85 commented on #11681
[code]

[2015-01-23 20:02] enoch85 commented on #11681
Without Music App activated:

[code]

No "Internal Server Error" though.

[2015-01-23 20:56] MorrisJobke commented on #6102
@danimo Please reopen or comment on #12015 if this isn't fully covered in there.

[2015-01-23 20:56] #6102 closed

[2015-01-23 20:58] MorrisJobke commented on #4972
Maybe something for #12998

[2015-01-23 20:58] jnfrmarks opened #13639 "'ldapUserCleanupInterval' is not enabled by default in config.php"
### Steps to reproduce

1. Install owncloud
2. Enable LDAP
3. Click on admin page
4. Configure LDAP server
5. Check config.php to see if 'ldapUserCleanupInterval' is enabled (I'm not sure when it should get enabled)

### Expected behaviour

According to issue #12643 'ldapUserCleanupInterval' should be enabled be default in config.php

### Actual behaviour

'ldapUserCleanupInterval'  is not enabled

[2015-01-23 20:59] MorrisJobke commented on #12998
Maybe something we can take care of if we touch it:

* [ ] Use IDs instead of names for groups #4972

[2015-01-23 21:00] danimo commented on #6102
Hmm, I thought we agreed that #12015 was not the way to go...

[2015-01-23 21:02] MorrisJobke commented on #4315
This is covered here http://doc.owncloud.org/server/7.0/admin_manual/configuration/custom_mount_config_gui.html

@jancborchardt Please reopen if this is rather a problem of linking the documentation inside of ownCloud.

[2015-01-23 21:02] #4315 closed

[2015-01-23 21:03] MorrisJobke commented on #4315
And prefill with our API app for Dropbox for example maybe isn't possible due to API limitations about how often a request is allowed (for example 5000 request per hour or something like that)

[2015-01-23 21:23] DeepDiver1975 commented on #6102
actually the way to go is: https://github.com/owncloud/core/issues/12015#issuecomment-62686429

[2015-01-23 21:25] danimo commented on #6102
@DeepDiver1975 Yes, but shouldn' we put that in a new issue.

[2015-01-23 21:38] l3iggs commented on #10731
+1 for a per-external-storage encryption switch

[2015-01-23 21:40] DeepDiver1975 commented on #6102
indeed - will take care about this on Monday ...

[2015-01-23 21:41] DeepDiver1975 opened #13640 "Storage based path validation"
-    the server is the only authority to apply any kind of rules
-    duplicating any kind of rule processing will duplicate development effort and processing effort in production
-    upload processing has to be adopted to apply rules BEFORE the data transmission to allow early abort (e.g. invalid file name, invalid file ext, not enough space ..)

Should be handled in different issues:
-    uploa

[2015-01-23 21:42] DeepDiver1975 commented on #12015
follow up is here https://github.com/owncloud/core/issues/13640

[2015-01-23 21:42] #12015 closed

[2015-01-23 21:42] DeepDiver1975 commented on #6102
okay - did it right away - https://github.com/owncloud/core/issues/13640

[2015-01-23 21:42] DeepDiver1975 commented on #13640
refs https://github.com/owncloud/core/issues/12015#issuecomment-62686429

[2015-01-23 22:19] karlitschek commented on #13639
@blizzz

[2015-01-23 22:22] RealRancor opened #13642 "Discussion: Drop support for lighttpd?"
Hi,

based on the discussion in https://github.com/owncloud/documentation/issues/767 and the hint of Evert from the SabreDAV project:

from https://github.com/fruux/sabre.io/issues/30#issuecomment-71091299

I don't have any experiences with lighttpd and stumbled also over this posting:

http://redmine.lighttpd.net/boards/2/topics/6203

that lighttpd is not "dead" and lighttpd2 is in the pipe.

[2015-01-23 22:25] LukasReschke commented on #13642
+1 for dropping

[2015-01-23 22:28] karlitschek commented on #13642
Agreed. Let´s remove it from the documentation. We could even add a check for that.

[2015-01-23 22:33] MorrisJobke opened #13643 "Broken breadcrumbs if backslahes are used in the URL"
![broken-breadcrumbs](https://cloud.githubusercontent.com/assets/245432/5884006/17226728-a358-11e4-8bd7-9a884878c9d3.png)

The correct folder is shown, but the breadcrumbs aren't available for URLs that contain backslashes instead of slashes.

[2015-01-23 22:36] MorrisJobke opened #13644 "Paged search for LDAP backend seems broken"
This is an issue I noticed once and need to verify again.
![broken-ldap-paged](https://cloud.githubusercontent.com/assets/245432/5884040/7d28ff6e-a358-11e4-9ff3-7e830912a175.png)

The first request has an offset of 5 and a limit of 10 and it just returns 5 elements. The next requests had an offset of 8 and a limit of 10 and returned 2. It seems that limit is not the count but the position. I need

[2015-01-23 22:37] karlitschek commented on #13644
@blizzz

[2015-01-24 01:11] ZacharyDuBois commented on #10731
:( I was hoping to see all these encryption and external mount bugs fixed in 8.0.

[2015-01-24 08:59] LukasReschke commented on #13643
Good call. Was annoyed by this as well by some Windows users on S3 ;-)

[2015-01-24 09:02] LukasReschke commented on #13642
Good point. – Let me see if even a whitelist approach would work in our code-base.

[2015-01-24 10:54] Raydiation opened #13646 "Remove jQuery tipsy in favor of Bootstrap tooltips"
jQuery tipsy is unmaintained ([last commit 2012](https://github.com/jaz303/tipsy/commits/master)), does not work with up to date jQuery which forces us to ship jquery-migrate and has several bugs that are not present in the [Bootstrape equivalent](http://getbootstrap.com/javascript/#tooltips)

Migrating should not be hard, most of the time it will only amount to replacing

    $('#element').tipsy(

[2015-01-24 10:59] MorrisJobke commented on #13646
I will have a look at this for 8.1

[2015-01-24 11:00] MorrisJobke commented on #13646
ref #12877

[2015-01-24 11:00] MorrisJobke commented on #12877
Look at #13646 for a dependency, that needs to be resolved in advance.

[2015-01-24 11:00] Raydiation commented on #13646
Yep :) it was the first thing that did not work after removing jquery-migrate :)

[2015-01-24 12:32] RealRancor commented on #13599
Hi,

this happens because the app is pulled from:

https://apps.owncloud.com/content/show.php/Admin+Dependency+check?content=166041

The appstore is providing an empty package with the version 0.0.1 where the version of this app shipped with OC is 0.0.2.

@Owned67
Seems you have broken your apps configuration in some way.

[2015-01-24 12:34] hanspeter-heeb commented on #12429
I struggled over the same nasty problem. Even as the files upload finally, there occure dependent errors in the sync clients. Plus some files are not accessible afterwards. I found files with size 0 on the clients. I also suspect that the locking-conflict produces other irregularities in the database, that are spreading like a virus.
Some files are starting to throw permanent server errors. In cas

[2015-01-24 12:58] Owned67 commented on #13599
lmao and how?

I tested five setup (debian and ubuntu) and the result is the same.

[2015-01-24 13:03] RealRancor commented on #13599
Hi,

please post the full issue template as already asked two times:

https://github.com/owncloud/core/blob/master/issue_template.md

[2015-01-24 15:19] oparoz commented on #12282
Still a problem.
The tmp file is named `oc_tmp_d20d57d7da3bcb6236f3cd4faacacd32otf`
We need a dot in front the extension

[2015-01-24 15:23] oparoz commented on #13155
Please make sure these support pagination (LIMIT). This is currently a huge problem with the current search commands.

[2015-01-24 15:31] oparoz opened #13647 "A mime type can be linked to many file formats"
### The situation
- Preview uses [Imagick::queryFormats](http://php.net/manual/en/imagick.queryformats.php) to determine if a specific file format is supported by the system

[code]

The key is the name of a format supported by ImageMagick
- Only one format is linked to a preview provider class. It's an arbitrary decision
- A preview class can only be activated once or it will be loaded several ti

[2015-01-24 15:40] oparoz commented on #12282
The behaviour can be tested from within OC using this PR https://github.com/owncloud/core/pull/13648
You won't get a preview for OTF fonts unless you fix `\OC_Helper::tmpFile()`

[2015-01-24 15:56] oparoz commented on #13647
I'll give you a better example. Those are the RAW formats supported by ImageMagick
* arw
* cr2
* dcr
* dng
* erf
* iiq
* kdc
* k25
* nef
* mef
* orf
* rw2
* pef
* raf
* srf
* sr2
* xrf

You can't just pick one

[2015-01-24 15:57] oparoz commented on #13647
cc @georgehrke

[2015-01-24 16:05] ondrejsika opened #13649 "Static url prefix for CDN"
Add config option for serve static files from other domain.

[2015-01-24 16:29] oparoz opened #13650 "Supporting the Raw image format (digital negatives)"
The RAW image format is popular among photographers and what better than a cloud to store all these shots online to preview and share them?
The problem is that there isn't a standard like for PNG or JPEG. Most are based on TIFF, but use different headers.

Here is the list of formats supported by ImageMagick:
* Sony Alpha RAW .arw
* Canon RAW 2 .cr2
* Digital Camera Raw .dcr
* Digital Negative .dn

[2015-01-24 16:29] oparoz commented on #13650
cc @georgehrke @jancborchardt

[2015-01-24 17:16] Owned67 commented on #13599
Steps to reproduce

Connect to panel > Application > Select activity (for sample) > click for activate and same error...

Same for PDF Viewer etc......

Tell us what should happen: enable applications

Tell us what happens instead: L'application ne fournit pas de fichier info.xml

Server configuration

Operating system: Debian Wheezy x64

Web server: nginx 1.6.2

Database: mysql  Ver 14.14 Distrib

[2015-01-24 18:12] RealRancor commented on #13650
Some refs for existing requests: https://github.com/owncloud/apps/issues/1113, https://github.com/owncloud/apps/issues/439

[2015-01-24 19:29] oparoz commented on #12282
This is also killing any Raw picture conversion as these formats can embed other formats as well for quick previewing

[2015-01-24 19:32] jakobsack opened #13651 "Using php_sapi_name() does not detect CLI reliably"
Hi,

using ```php_sapi_name() == 'cli'``` does not detect the usage of the CLI reliably.
If you call ```$ php -f cron.php``` and /usr/bin/php is a symlink to *php-cgi* the SAPI will be "cgi-fcgi". One webhoster with this problem is 1&1.

This bug could be related to #7715 and #11551

Possible solutions:

1. Find additional ways to detect the usage of the CLI
  - pro: Our users do not have to care

[2015-01-24 19:34] jakobsack commented on #13651
If there is enough positive feedback I'll create a patch on monday.

[2015-01-24 19:46] MorrisJobke commented on #13651
Is there no `php-cli` installed on those hosts?

[2015-01-24 21:35] jakobsack commented on #13651
I don't know, it's not me having this problem. I'll ask the one who contacted me

[2015-01-24 21:48] jakobsack commented on #11551
This bug could be caused by using php-cgi instead of php.

@marktamis could you please try to figure out which php binary really is called? For example, on my system "/usr/bin/php" is a symlink to "/etc/alternatives/php" which is a symlink pointing to "/usr/bin/php5":

[code]

[2015-01-24 23:07] oparoz commented on #13650
Thanks @RealRancor :)

PR available here: https://github.com/owncloud/core/pull/13652

[2015-01-25 04:36] Sugaroverdose commented on #13632
What about to make new file menu looks like this:
![2015-01-25 7 33 41 am](https://cloud.githubusercontent.com/assets/10269200/5890269/a1fa21d0-a464-11e4-9021-cb00107ee00d.png)

[2015-01-25 09:25] DeepDiver1975 commented on #13646
fine with me - please add a tipsy() function for backwards compatibility

[2015-01-25 10:29] MorrisJobke commented on #13632
@Sugaroverdose I would really like this :) :+1:

[2015-01-25 10:54] mmattel commented on #13408
I guess I understand what is meant.

There is a already existing storage environment, lets say it is a AD with users and shares and the users have their homedir defined in a SMB share as part of the AD.
When using oC as another frontend to the shares / home for the users, you get now a additional "home", a oC home, in parallel to the already existing home from the AD.

What @sammcj is requesting i

[2015-01-25 12:01] rstalder opened #13653 "owncloud 7.0.4: Can't hide calendars shared by other users in the web interface"
My own calendars can be hidden in the web interface by clicking on the calendar. This is not possible with calendars shared with me by other users.

This bug applies to owncloud 7.0.4, community edition.

[2015-01-25 12:06] rstalder commented on #13653
This issue has been reported to the wrong repository. Sorry for that.

[2015-01-25 12:06] #13653 closed

[2015-01-25 12:08] Xenopathic commented on #13646
There is a Tipsy fork that is maintained (https://github.com/CloCkWeRX/tipsy), and seems to fix all the problems with compatibility and the bugs mentioned. It might still be best to migrate to Bootstrap though.

[2015-01-25 12:38] LukasReschke commented on #13646
Mhm. Would prefer some widely used library instead of something unofficial with less than 30 stars on GH.

[2015-01-25 12:42] Raydiation commented on #13646
@Xenopathic we could try to use the fork as a shortterm solution, as in to get rid of jquery migrate if we do not have to make adjustments

[2015-01-25 13:26] Avalanchediver commented on #12725
I am having the same error "The item is not synced because of previous errors: The server did not acknowledge the last chunk. (No e-tag were present)" only for me it is only on larger files.  I am a more elementary user and do not understand a lot of what is posted in the thread above.  Can anyone give me some simple suggestions to resolve my error.  I happens on large video files and a 6GB outloo

[2015-01-25 14:45] jbtbnl commented on #13631
I like this idea :+1:

[2015-01-25 15:40] oparoz commented on #12282
Fix is in https://github.com/owncloud/core/pull/13654

[2015-01-25 16:10] davidneudorfer commented on #11397
👍

[2015-01-25 17:37] SISolutions opened #13656 "OC 7.0.4 android default browser logout at web interface not working."
Fresh Installation OC 7.0.4 at a mint 17 xfce 32bit.
Web server apache
MariaDB/MySQL

Loging in from android (from ver 4 and up as i have tested) default browser to OC 7.0.4 web interface there is no option to logout. The right corner button not working.You click and nothing happens.

[2015-01-25 17:51] mapaongh opened #13657 "Access restriction to data and config folder"
Problem:

The data and the config folder are protected via an .htaccess file. The change from Apache 2.2 to 2.4 causes a refactoring of authorization process. To capture this a new template for .htaccess was delivered with ownclud.

### Expected behaviour
If I try to get access via the browser

www.myowncloud.com/data/owncloud.db

I would expect two things:

In the browser: "Forbidden"
In the LogF

[2015-01-25 17:56] LukasReschke commented on #13657
Agreed. Though we have a check in place that checks whether the data folder is reachable publicly so if the shipped `.htaccess` does not work a warning is shown to the admin so that he is aware of that fact.

Should get changed anyways. Assigning to myself.

[2015-01-25 18:39] oparoz commented on #11469
@georgehrke - I agree, if it's not too much trouble, then it would be best to have a text based preview on public shares. Also, the text would reflow nicely.
As for the thumbnails. I'm not sure it makes sense to have a preview. It's not like we can really tell text files apart like we can with office documents.

[2015-01-25 18:54] RealRancor commented on #13656
Hi,

try the fix in: https://github.com/owncloud/core/pull/12798 which should give you the dropdown menu in the right corner back.

[2015-01-25 19:25] MorrisJobke commented on #13632
Fix is in #13655

[2015-01-25 19:52] oparoz opened #13658 "findBinaryPath can't immediately find new binary locations"
https://github.com/owncloud/core/pull/13192 introduced a nice speed up, but it needs to be updated to make sure that any change in binary and binary location is picked up.

#### Example scenario
* User enables movie previews
* Helper can't find the binaries and stores null values in memcache
* User installs ffmpeg
* Helper never bothers to look and always returns null values
* User won't be able t

[2015-01-25 20:12] Xenopathic commented on #13658
What about clearing all caches with a special button in the admin settings? It would also clear non-memcache caches, like generated assets, so it would be very useful in a variety of circumstances. I know that Drupal does this, and I expect other web applications to do the same. Then all that is needed is a note in the documentation that any changes to software on the server may require a cache cl

[2015-01-25 20:16] d121096 commented on #8271
would be really nice to share pictures on facebook directly from owncloud

[2015-01-25 20:19] oparoz commented on #13658
@Xenopathic - Exactly what I was thinking. Otherwise we lose the advantage of caching the path in the first place.

[2015-01-25 22:36] Xenopathic commented on #13658
I'll write something up tomorrow. @DeepDiver1975 I guess this qualifies as an oC 8 issue, given that the offending code is already in master?

[2015-01-26 02:43] Moiwouam commented on #11159
Same issue here.
I confirm the workaround given by @simonclausen is working (file renaming).

[2015-01-26 05:53] pastudan opened #13659 "Admin Console showing "accessing via HTTP" error when using HTTPS (w/ reverse proxy terminating SSL)"
### Steps to reproduce
1. Set up a reverse proxy (nginx or similar)
2. Terminate SSL
3. Forward plaintext requests to owncloud server

### Expected behaviour
No error

### Actual behaviour
Receive error in Admin Console: "You are accessing ownCloud via HTTP. We strongly suggest you configure your server to require using HTTPS instead."

### Server configuration
Initial HTTPS request comes in via n

[2015-01-26 08:04] nickvergessen commented on #13658
Well since the problem resolves itself in 1 hour, I guess documentation + fix in 8.0.1/8.1 should be enough

[2015-01-26 08:17] frnzltje commented on #11901
So, it happened again.

I started with a clean install of both ownCloud server AND the clients on all of my devices. Latest stable of everything. Server version was installed through the repository.
I re-uploaded my files. It started syncing again. Everything was looking okish*.
I shut my laptop down yesterday evening. After everything was synced.
This morning I started my laptop up again. The fir

[2015-01-26 08:22] DeepDiver1975 commented on #13659
@LukasReschke thx

[2015-01-26 08:23] DeepDiver1975 commented on #11397
this is indeed the way to go - I honestly see no reason to keep this ticket open in core.

[2015-01-26 08:23] #11397 closed

[2015-01-26 08:26] LukasReschke commented on #13659
That is the expected behaviour, you have several possibilities to address this:

1. Configure your reverse proxy properly to support `X-Forwarded-Proto`
2. Set `overwriteprotocol` in `config/config.php` to https

Nothing we can do on our site => Configuration error

[2015-01-26 08:26] #13659 closed

[2015-01-26 08:29] DeepDiver1975 commented on #11901
@arjones85 @frnzltje @fleish while the symptoms look identical - each issue seems to be different.

Please open individual issues following the https://github.com/owncloud/core/blob/master/CONTRIBUTING.md - especially the use of https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

Furthermore as the client is involved we need client logs as well: http://doc.owncloud.org/deskto

[2015-01-26 08:29] #11901 closed

[2015-01-26 08:31] LukasReschke commented on #13659
Also documented at http://doc.owncloud.org/server/7.0/admin_manual/configuration/reverse_proxy_configuration.html

[2015-01-26 08:40] DeepDiver1975 commented on #8271
Indeed topic for an app - nothing we will support directly in core. I'm closing this ticket therefore. THX

[2015-01-26 08:40] #8271 closed

[2015-01-26 08:42] dragotin commented on #11901
@frnzltje please open a new issue with the issue template as mentioned above and try to find as many logfiles as you can: Server access_log and owncloud.log, and also the file ```.owncloudsync.log``` from the sync directory. Thanks!

[2015-01-26 08:55] strowi commented on #6967
I seem to be running into the same issue.

Setup:
Owncloud 7.4
Debian 7.6
PHP 5.5.15-1~dotdeb.1
Postgresql: 9.1+134wheezy4

[2015-01-26 09:00] LukasReschke commented on #11925
Would love to get rid of that. – We really need this considering some recent hiccups in some JS code components.

@DeepDiver1975

[2015-01-26 09:09] marktamis commented on #11551
/usr/bin/php -> /etc/alternatives/php
/etc/alternatives/php -> /usr/bin/php-cgi
/usr/bin/php5

I think it may be due to the code checking variables contained in $_SERVER,
which is not available in within the context of the cron job (from cli).
What do you think?

On Sat Jan 24 2015 at 22:48:18 jakobsack <notifications@github.com> wrote:

[2015-01-26 09:10] nickvergessen commented on #13657
the `.htaccess` in root has some similar issues:
[code]

[2015-01-26 09:23] LukasReschke opened #13661 "Get rid of `octemplate.js`"
We really need to get rid of `octemplate.js` which is some custom templating system only used by contacts but lives in core.

There are better and maintained template systems…

[2015-01-26 09:28] splashote opened #13662 "*.odt-viewer shows old versions, editor shows current ones"
Hi,

we're using the current Owncloud version and experienced problems regarding shared *odt-files.

The viewer shows old versions of the files while the editor worked alright.

Is this a known issue? Any suggestions how to fix this?

Thanks!

[2015-01-26 09:58] PVince81 commented on #11681
Thanks. Very strange.
Are these files stored on an external storage mount point or just the local home ?

[2015-01-26 10:00] PVince81 commented on #10731
@ZacharyDuBois well... time and resources are limited. I was hoping too.

What bugs are you thinking of ?
The encryption bug with WebDAV/ownCloud mounts should be fixed already as per https://github.com/owncloud/core/issues/5952

[2015-01-26 10:01] PVince81 commented on #13640
How about using the file mapper (once merged into oc_filecache) to rename the problematic files to an acceptable name ? Unless that itself is already too much hassle.

[2015-01-26 10:08] cdamken commented on #10010
00002170

[2015-01-26 10:08] DeepDiver1975 commented on #13640
That might be a solution for some cases - but honestly the file mapper is still not working really great.
(no offence @nickvergessen - issue are in the initial design - which was my fault :wink: )

Furthermore I question if this is a solution for all cases.

I'm even thinking about a hooking to the path validation regarding the used database. E.g. don't allow 4-byte UTF-8 chars on mysql.

[2015-01-26 10:40] blizzz commented on #13639
@jnfrmarks  If it is not present (as in this case), the default behaviour kicks in (=> 51min). See also config.sample.php.

[2015-01-26 10:55] DeepDiver1975 commented on #13639
@jnfrmarks case closed? THX

[2015-01-26 10:56] MorrisJobke commented on #13601
I just retried and I missed an git pull on the first server. No it works.

[2015-01-26 10:56] #13601 closed

[2015-01-26 11:11] DeepDiver1975 commented on #13601
are you testing with two servers which run oc master branch?
can you please test a stable7 server to be mounted - just to make sure if this slash fix needs to be backported? THX

[2015-01-26 11:16] DeepDiver1975 commented on #13601
@MorrisJobke ^

[2015-01-26 11:54] MorrisJobke commented on #13601
Just tested with stable7 and it works there too

[2015-01-26 12:00] DeepDiver1975 commented on #13601
awesome - thx a lot!

[2015-01-26 12:07] scs-tech opened #13665 "Files with a + sign in the name are not synchronized by Windows Client."
This appears to be the same error as reported (and closed) with bug #4568
Problem does not appear to be fixed (or has come back).

Steps to Reproduce:
1) Create a file "file+name.txt" on windows client
2) Create a file "file-name.txt" on windows client
3) Copy both files to the synced folder.

Expected behavior:
Both files should sync to OC

Actual behavior:
'File-name.txt' will sync fine, 'file+n

[2015-01-26 12:37] DeepDiver1975 commented on #12785
Would be great to get current git master tested on some 1and1 server environment.

[2015-01-26 12:37] LukasReschke commented on #12785
Let me setup the test machine later and do some monkey testing (aka clicking around)

[2015-01-26 12:38] DeepDiver1975 commented on #12785
awesome @LukasReschke

[2015-01-26 13:23] jakobsack commented on #13651
php-cli worked. I'll integrate this in the documentation.

[2015-01-26 13:29] michaelstingl commented on #13560
@MorrisJobke **see ./occ ldap:show-config on s3:**
S3-ownCloud/Shared/owncloud/support/github-issues/core/13560

**working user and a not working user as example:**
- **Working User:** CE87B949-0AB5-4838-B653-ED5C7BB7B728
- **NOT Working User:** 437202EE-5692-4B35-A073-074145198AFF

Waiting for SQL response…

[2015-01-26 13:35] nickvergessen commented on #13665
Moved to the client tracker:
https://github.com/owncloud/client/issues/2747

[2015-01-26 13:36] nickvergessen commented on #13662
Please use the issue template:
https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

[2015-01-26 13:37] PVince81 opened #13668 "Cannot download encrypted file version after moving to external storage"
### Steps to reproduce
1. Enable encryption, external storage and files locking app
2. Log out then log in again
3. Mount a SFTP external storage to "/sftp"
4. Create a text file in the home root: "test.txt"
5. Edit the text file several times to create versions
6. Check the versions dropdown to have at least 3 versions
7. Check that an older version can be downloaded
8. Now move "test.txt" to "/s

[2015-01-26 13:50] danimo commented on #13665
Why? This works with Linux, so it's a bug in the Windows normalization layer or in the deployment // cc @DeepDiver1975

[2015-01-26 13:50] SergioBertolinSG opened #13669 "[Mac OS] Download of a folder results in a corrupt zip file."
### Steps to reproduce

1. Create a folder with several files
2. Download the folder clicking on download.

### Expected behaviour
You can download the folder and open the zip file.

### Actual behaviour
Zip file downloaded is corrupt.

### Server configuration
**Operating system**:
Ubuntu 14.04 LTS

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

**ownCloud version:** (see ow

[2015-01-26 14:00] manitooo commented on #12785
Hello,

I've read all this thread due to my config.php getting reset all the time.
I've tried the changes in #13441 but my config.php file is still getting reseted.

Nevertheless, I've figure out that the main action I've done to reset my config.php file is an access from thunderbird calendar plugin (lightning ?)

My config is different that the ones I've seens here :
Ubuntu 12.04
Owncloud 7.0.4

[2015-01-26 14:03] LukasReschke commented on #12785
Please try the changes in https://github.com/owncloud/core/pull/13621 as well

[2015-01-26 14:03] LukasReschke commented on #12785
(and post your system information as well…)

[2015-01-26 14:07] gagou9 opened #13670 "Error 404 when trying to download a file from external 'local' storage"
Hello,

### Steps to reproduce
0. nginx is configured to enable downloads resume
1. Add a local storage
2. Add the owncloud php user to the group that owns the storage
3. Add the nginx (in my case) user to the group that owns the storage
4. Make sure the groups permissions let owncloud and nginx access the files

### Expected behaviour
Files should be downloadable from OC interface

### Actual beh

[2015-01-26 14:11] nickvergessen commented on #12785
@manitooo also https://github.com/owncloud/core/issues/12785#issuecomment-70839607 would be nice, since it helps us a lot in finding the right places that cause this.

[2015-01-26 14:11] PVince81 opened #13671 "Versions lost when moving file into shared folder as recipient"
### Steps to reproduce
1. Create two users "user1" and "user2".
2. As "user2" share a folder "test" with "user1"
3. Login as "user1"
4. Create a file "versions.txt"
5. Edit and save the file multiple times to create versions
6. Check the versions dropdown for versions
7. Move the file "versions.txt" into "test"
8. Check the versions dropdown for "test/versions.txt"

### Expected result
Versions pr

[2015-01-26 14:14] PVince81 opened #13672 "Share versions in server to server sharing scenario"
Whenever "user1" mounts a remote share from "user2", they should both get access to the list of versions.

Note: this might require adding new APIs for versions to make it possible to remotely:
- get the list of versions to display them in the dropdown
- download a specific version
- revert to a specific version

Also operations like moving a local file into the share should also preserve / copy t

[2015-01-26 14:17] PVince81 opened #13673 "Add OCS capability to advertise whether a server allows public links"
`curl http://root:admin@localhost/owncloud/ocs/v1.php/cloud/capabilities`

Add a new attribute that tells whether public sharing is enabled.

@guruz @icewind1991 @schiesbn

[2015-01-26 14:17] PVince81 commented on #12289
In a similar way: advertise "public link" capability: https://github.com/owncloud/core/issues/13673

[2015-01-26 14:18] nickvergessen commented on #13487
Sounds like a duplicate of #13617 and #11722
Right @jnfrmarks

[2015-01-26 14:34] nickvergessen commented on #13569
This works as described by PVince81 for folders.
Files however, are not removed and can not be browsed into. So we need another way for them to proc the "find out whether still shared" thing, background job?

[2015-01-26 14:35] sbelov1 commented on #13533
@blizzz oh yes, and we have requested for LDAP config. I'll update once we get it back from customer.

[2015-01-26 14:39] PVince81 commented on #13569
The problem with the background job approach is that it will ping the remote server with a regular interval, which might not be desirable (especially when many users have lots of shares). On the other hand, it could be used as a general process to detect unavailable/obsolete remote storages (a bit like @Xenopathic's work)

[2015-01-26 14:39] #13651 closed

[2015-01-26 14:40] PVince81 commented on #13569
ref: https://github.com/owncloud/core/pull/13641

[2015-01-26 14:47] nickvergessen commented on #13570
Can not reproduce this one.
The file list always refreshes for me (not a full page refresh, only the files list)

[2015-01-26 14:49] PVince81 commented on #13543
It was reported on the mailing list that this is still happening in 8.0 beta2: https://mailman.owncloud.org/pipermail/testpilots/2015-January/000260.html

[2015-01-26 14:51] DeepDiver1975 commented on #13672
We should definitly elaborate webdav for this - either by introducing a new resource or by implementing version capabilities as specified in https://www.ietf.org/rfc/rfc3253.txt

[2015-01-26 14:52] nickvergessen commented on #13570
Settings to 8.1 since the "workaround" (page refresh) is quite obvious and will be tried by most users

[2015-01-26 14:55] DeepDiver1975 commented on #13669
known issue - duplicate https://github.com/McNetic/PHPZipStreamer/issues/16

[2015-01-26 14:55] #13669 closed

[2015-01-26 14:57] nickvergessen commented on #13576
I'd agree with @DeepDiver1975 here and say 8.1
Yes it's bad, but not important enough to break it now :see_no_evil:

[2015-01-26 15:00] DeepDiver1975 commented on #13629
@cdamken ping

[2015-01-26 15:13] PVince81 commented on #13492
Ok, got a bit of time now to have a look.

[2015-01-26 15:22] nickvergessen opened #13678 "Guessing "Enter remote user syntax" for S2S share is bad UX"
When you use the "Add to my owncloud" field to mount a public share into another instance, it accepts almost any URL:
[code]

However, when trying to add a remote share via the share dropdown, you have to:
1. Guess that `<username>@<instance>` is the remote syntax
2. that `<instance>` MUST be the last of the list above.

We need a hint about the first thing in the UI and should fix the remote gues

[2015-01-26 15:23] #13639 closed

[2015-01-26 15:24] JSoko commented on #13543
Had the same issue here with beta1 and beta2 under Ubuntu.

Fixed that issue as follows:

Before upgrading I deactivated not only the 3rd-party apps but also the calendar and the contacts app in OC 7.04

I did the upgrade with these steps:
1.
rename the old /var/www/owncloud folder to /oc704
2.
move the beta 2 to /var/www/owncloud
3.
moved the calender and contact folder from the github
https://gi

[2015-01-26 15:26] DeepDiver1975 commented on #13579
@jnfrmarks can you please retest this with OC8 beta 2? THX

[2015-01-26 15:27] DeepDiver1975 commented on #13578
@MorrisJobke did you test this?
@jnfrmarks Can you please retest this cas with OC8 beta 2? THX

[2015-01-26 15:28] DeepDiver1975 commented on #13576
requires #12289

[2015-01-26 15:28] DeepDiver1975 commented on #13571
@jancborchardt we need your input on this - THX

[2015-01-26 15:29] DeepDiver1975 commented on #13571
anyway - not really critical from my pov -> 8.1

[2015-01-26 15:33] pastudan commented on #13659
OK, sorry. I tried searching pretty extensively and asking in IRC but
somehow missed that. Thanks for the help!
On Jan 26, 2015 1:31 AM, "Lukas Reschke" <notifications@github.com> wrote:

[2015-01-26 15:35] PVince81 commented on #13492
@schiesbn the public file list is never populated for me (regardless whether I'm logged in or not), see https://github.com/owncloud/core/issues/13207

[2015-01-26 15:35] PVince81 commented on #13207
Log shows:
[code]

[2015-01-26 15:38] PVince81 commented on #13207
It looks like the remote share mountpoint is missing, as if remote shares aren't mounted in this specific situation. So the `$path` cannot be found.

[2015-01-26 15:41] DeepDiver1975 commented on #13617
I'm getting this exception when testing a single file share:
[code]

[2015-01-26 15:42] DeepDiver1975 commented on #13617
https://github.com/owncloud/core/blob/master/apps/files_sharing/publicwebdav.php#L67

[2015-01-26 15:42] DeepDiver1975 commented on #13617
A dummy collection has to be passed in holding exactly this one note ... preparing PR

[2015-01-26 15:44] gig13 commented on #7812
@MTRichards @karlitschek
Any idea if/when this will be available?

[2015-01-26 15:53] PVince81 commented on #13207
I debugged into this and it looks like when it reaches `OCA\Files_Sharing\External\Manager::setupMounts()` it expects a $user to exist in the session. If none is there, it just skips the external mounts. This is because we are in incognito mode.

It looks like @schiesbn already prepared such fix here: https://github.com/owncloud/core/pull/13490

[2015-01-26 15:56] PVince81 commented on #13492
Ok, it requires https://github.com/owncloud/core/pull/13490 to be able to see the list.

[2015-01-26 16:04] PVince81 commented on #13492
The share action only appears if logged in as a user, not in non-logged in.

Fix is on the way.

[2015-01-26 16:05] alekiy commented on #9793
We are looking forward to have a possibility to use our own header and footer of the corporate design, so :+1:
As @jancborchardt said a pull request would be nice. Currently the documents app is causing some problems using custom header and footer defined in *layout.guest.php*.

[2015-01-26 16:10] blizzz commented on #13533
ok, in the meantime, the  missing users have "Domain Users" assigned as their primary group?

[2015-01-26 16:11] sbelov1 commented on #13533
@blizzz I believe so, yes. Looks like something we've already resolved, didn't we?

[2015-01-26 16:14] blizzz commented on #13644
Wow, how do you get to this point at all? I mean, if you fetch 10 from the beginning and there are only 4 or 5 retrieved, why/how do you start fetching more result?

[2015-01-26 16:14] DaemonLion opened #13680 "Bug with project website (documentation)"
Hi!
I'm trying to visit: https://doc.owncloud.org/server/7.0/go.php?to=admin-ldap
but there is a problem with your ssl certificate:

doc.owncloud.org uses an invalid security certificate. The certificate is only valid for the following names: www.owncloud.org, owncloud.org, download.owncloud.org, forum.owncloud.org

Don't know why but firefox forcefully rewrites url to https, maybe there was worki

[2015-01-26 16:15] MTRichards commented on #7812
It is on the backlog now, but it has no date. We are full up for oC 8.0 and 8.1, so no sooner than 8.2.

[2015-01-26 16:15] blizzz commented on #13644
And how and why is it followd by an offset of 8!?

[2015-01-26 16:15] schiesbn opened #13681 "Can no longer run autotest.sh on my local system (master)"
I can no longer run autotest.sh on master, I get this error message:

[code]

Git bisect told me that the problem was introduced by commit bb80cf4ecab3a92541bf9c2fccaa204b6ea914f9 from this PR https://github.com/owncloud/core/pull/13593

@LukasReschke Does autotest.sh still works for you? Can you have a look at it? Thanks!

[2015-01-26 16:17] LukasReschke commented on #13681
Configure your PHP properly ;-)

[2015-01-26 16:17] PVince81 commented on #13678
CC @owncloud/designers

[2015-01-26 16:17] LukasReschke commented on #13681
From that PR:

[code]

[2015-01-26 16:18] PVince81 commented on #13492
Fix is here: https://github.com/owncloud/core/issues/13679 but blocked by the other PR

[2015-01-26 16:18] LukasReschke commented on #13681
(when accessing oC via web the value is set via user.ini or .htaccess or that error is shown to the admin as well)

[2015-01-26 16:18] blizzz commented on #13533
i am not aware, just that rework of primary group handling is still on my list (but for other reasons). And unfortunately everything works with my test AD.

[2015-01-26 16:20] schiesbn commented on #13681
Works!

[2015-01-26 16:21] sbelov1 commented on #13533
@blizzz would it be easier jumping on a quick call with customer? They've been having this issue for awhile now. It could be something specific to their environment as I'm not having this type of issue with anyone else.

[2015-01-26 16:23] PVince81 commented on #13671
@DeepDiver1975 @karlitschek please evaluate severity. I'll set to 8.1 for now but we might want to have this earlier.

[2015-01-26 16:24] DeepDiver1975 commented on #13617
this totally falls apart then

![05466030](https://cloud.githubusercontent.com/assets/1005065/5903114/1f4e8cc2-a580-11e4-99b5-bb5486439f14.jpg)

[2015-01-26 16:24] PVince81 commented on #13670
It is very likely to be an issue on your side. Are you using the "X-Sendfile" approach ? If yes you'll need to add additional entries for those external storages.
Can you post your nginx config ?

@josh4trunks might be able to help :smile:

[2015-01-26 16:27] karlitschek commented on #13671
8.1 is fine

[2015-01-26 16:37] josh4trunks commented on #13670
yes, please follow the documentation for your local storage mountpoint.
http://doc.owncloud.org/server/7.0/admin_manual/configuration/xsendfile.html#id4

If it's still not working post you nginx config and I can take a look.

[2015-01-26 16:38] MorrisJobke commented on #13578
I had problems, that are fixed now. Let me look at this later

[2015-01-26 16:40] MorrisJobke commented on #13644
I didn't know. I will check again later

[2015-01-26 17:04] novij opened #13683 "Feature Request: Send email notification if file is downloaded"
We often send a share link to our customers and would like to know if the file is downloaded. It would be nice to have a checkbox for a email notification to the file owner.

[2015-01-26 17:46] jnweiger commented on #10751
@time2ride Thanks for sharing! I will look into this for owncloud 8.

For data I am undecided. /var/lib/owncloud/data has been suggested elsewhere.

[2015-01-26 18:27] jnfrmarks opened #13684 "server to server shares not showing up on "shared with you" page"
### Steps to reproduce

1. Install owncloud on two systems
2. on system one, share a file with a user on system two
3. on system two, log in as the user with the share
4. accept the share
5. Click on "Shared with you"

### Expected behaviour

The share should be visible

### Actual behaviour

The share is not visible.  In the attached files, files share by user2 are local; the others are remote.

[2015-01-26 18:49] ravermeister commented on #13518
I've exactly the same problem, If I try to reshare a File in a Subfolder of a shared Folder,
I get the error Message that resharing is not allowed.

I did an

and checked the filerights, they look ok to me (the webserver and php user have read write execute)
but that did not solve the problem.

I'm using latest Owncloud 7 (7.0.4)

[2015-01-26 19:00] ravermeister commented on #13518
canepan commented 3 days ago:

I've exactly the same problem, If I try to reshare a File in a Subfolder of a shared Folder,
I get the error Message that resharing is not allowed.

I did an

    php consolo.php files:scan --all
too
and checked the filerights, they look ok to me (the webserver and php user have read write execute) but that did not solve the problem.

I'm using latest Owncloud 7 (7.0

[2015-01-26 19:05] jnfrmarks opened #13685 "Search results only found in .pdf and .odt files"
### Steps to reproduce

1. Install owncloud
2. Upload a .txt file that contains the word owncloud (or, create one locally)
3. Upload a pdf file that contains the word owncloud
4. upload a doc/docx file that contains the word owncloud
5. upload an xlsx file that contains the word owncloud
6. upload an odt file that contains the work owncloud
7. enter owncloud in the search box

### Expected behavio

[2015-01-26 19:12] LukasReschke commented on #13685
search_lucene is enabled?

[2015-01-26 19:12] LukasReschke commented on #13685
Also issue might better suit to https://github.com/owncloud/search_lucene/

[2015-01-26 19:13] jnfrmarks opened #13686 "Files in sub-folders maching search results not clickable"
### Steps to reproduce

1. Install owncloud
2. Upload an odt or pdf file that has owncloud in it
3. Create a subfolder
4. Upload a bunch of odt or pdf files that have owncloud in them
5. Search from the root for owncloud

### Expected behaviour

All files displayed in the search results to be clickable

### Actual behaviour

Only files found in the root are clickable

![p267](https://cloud.githubu

[2015-01-26 19:16] jnfrmarks opened #13687 "Search not restricted to sub-folder"
### Steps to reproduce

1. Install owncloud
2. Upload an odt or pdf file that has owncloud in it
3. Create a subfolder
4. Upload a bunch of odt or pdf files that have owncloud in them
5. Check the box next to the subfolder so that only that folder will be searched
6. Search from the root for owncloud

### Expected behaviour

Only files from the sub folder will be displayed in the search results

#

[2015-01-26 19:20] PVince81 commented on #13686
@butonic

[2015-01-26 19:20] PVince81 commented on #13685
@butonic

[2015-01-26 19:20] PVince81 commented on #13687
@butonic

[2015-01-26 19:22] PVince81 commented on #13684
Duplicate of https://github.com/owncloud/core/issues/9098

[2015-01-26 19:22] #13684 closed

[2015-01-26 19:27] LukasReschke commented on #13680
We had some hiccup with the Apache configuration.

Please visit https://owncloud.org again and then try to visit http://doc.owncloud.org – if that not work then clearing your cache should help.

@MorrisJobke What have you done ;-)

[2015-01-26 19:27] #13680 closed

[2015-01-26 19:31] PVince81 opened #13688 "s2s single file share doesn't update for recipient through syncing when changed by owner"
### Steps to reproduce
1. Setup two users "user1" and "user2"
2. Login as "user1"
3. Create a non-empty text file "test.txt"
4. Share "test.txt" with "user2@localhost/owncloud" (or whichever server address/path)
5. Login as "user2" to accept the share
6. Setup sync client for "user2" and let it download the file
7. Login as "user1" and edit "test.txt" in the web UI and save it.
8. Wait for sync

#

[2015-01-26 19:32] dpackman commented on #8258
We are running owncloud 7.0.4. I see all of our 342 contacts. Another user consistently only sees 200. I have tested on linux and macos. He is on a windows machine.

[2015-01-26 19:32] PVince81 commented on #13688
@karlitschek @DeepDiver1975 please schedule accordingly

[2015-01-26 19:34] PVince81 commented on #13688
Note: this happens only for single file shares.
For folder shares (through s2s), the contents is synced properly.

[2015-01-26 19:38] PVince81 commented on #13570
Works for me every time with folder shares. Maybe we should add a spinner of some sort.

However, for file shares the page never refreshes. The "external.php" ajax call returns an empty body, so the calling JS code doesn't recognize it as successs and doesn't auto-refresh the page.

[2015-01-26 19:43] PVince81 opened #13689 "s2s single file share + encryption, recipient cannot download"
### Steps to reproduce
1. Enable encryption
2. Create two users "user1", "user2"
3. Login as "user1"
4. Create a text file "test.txt" with some contents
5. Share "test.txt" with "user2@localhost/owncloud" (change server/path accordingly, local works too)
6. Login as "user2" to accept the share (and refresh the page if necessary due to another bug)
7. Download "test.txt"

### Expected result
File c

[2015-01-26 19:48] fnerdwq commented on #13426
@PeteSSS: Thanks to your fix, my problem solved as well - only one group membership was shown for a given user (actually the reverse listing *users in group* is correct anyway).

[2015-01-26 19:48] PVince81 commented on #13570
Hmmmmm.... and now I got it working once with a single file.
It is indeed intermittent. Even in this case "external.php" returned nothing.

[2015-01-26 19:50] PVince81 commented on #13570
Well of course! See https://github.com/owncloud/core/blob/master/apps/files_sharing/js/external.js#L134

The "accept" POST is done in parallel with `FileList.reload()`. Which means that if the "accept" call isn't finished yet, the list will be re-rendered too early.

[2015-01-26 19:57] PVince81 opened #13690 "Multiple s2s accept dialogs in cascade"
### Steps to reproduce:
1. Share three folders with the same user "user1@localhost/owncloud"
2. Login as "user1"

### Expected result
Accept dialogs shown one by one (or some other method with better UX)

### Actual result
Accept dialogs are shown all at once (due to the main loop):
![s2s-multidialog](https://cloud.githubusercontent.com/assets/277525/5907243/b5986708-a59d-11e4-8dae-ad2d57ec25bc.pn

[2015-01-26 19:58] PVince81 commented on #13690
Having the cycle implemented properly would make it possible for the user to hit the cross icon to cancel all.

But anyway I think that in the future we'll want a different mechanism for accepting shares. (CC @owncloud/designers)

[2015-01-26 19:59] PVince81 commented on #13690
If needed I can help with fixing the cycling issue and make the page refresh the list only once at the end.

[2015-01-26 20:25] PVince81 commented on #13570
Fix is here: https://github.com/owncloud/core/pull/13691

I suggest to move this to 8.0. Intermittent failures make it look like the feature is broken.

[2015-01-26 20:28] tombou commented on #13574
I've tried a brand new install which was working and the other two wasn't. At this point I was getting the same error with OC_Preferences.

I finally uninstall xcache completely and replaced with apc and so far, it works really great without issues.

[2015-01-26 20:28] #13574 closed

[2015-01-26 20:36] PVince81 commented on #13673
CC @rperezb @dragotin as this info can be interesting for the mobile and desktop clients

There's a PR from @rullzer here: https://github.com/owncloud/core/issues/13692

[2015-01-26 20:37] PVince81 commented on #12289
I wonder if we should also expose the other settings that enforce the date to be only within a given number of days. This way clients could also enforce it that way.
On the other hand this could be done through validation.

Disclosing too much isn't always a good thing, isn't it @LukasReschke ?

[2015-01-26 20:40] jnfrmarks commented on #13579
@DeepDiver1975

I'm still seeing this with oc8 beta2.

[2015-01-26 20:47] rullzer commented on #12289
PR #13692 for #13673 can very easily be extended to include this info as well.
However we first need to come up with what we want to expose and also naming scheme so it does not become a mess.

[2015-01-26 21:15] michielappelman commented on #11159
Having the same issue. Turning off GZIP did not work, renaming a file did. Moving the directory containing non-syncable files does not work either. Would appreciate any pointers on how to debug this further, the logs remain silent except for some mention of "Sabre\DAV\Exception\NotAuthenticated: No basic authentication headers were found" but not at the same rate as the errors in the client.

[2015-01-26 21:37] jnfrmarks opened #13693 "Upgrade from 7.0.4 to 8.0.0 fails with invalid .htaccess version error"
### Steps to reproduce

1. Install owncloud 7.0.4 into root directory "owncloud-704"
2. configure ldap, upload some files to have some data, create share link
3. mv owncloud-704 to owncloud-704.orig
4. make new  owncloud-704 directory
5. copy over data and config directories from owncloud-704.orig
6. access oC from GUI - get .htaccess version error
7. copy over .htaccess from owncloud-704.orig
8.

[2015-01-26 21:47] LukasReschke commented on #13693
That is expected. Please update properly ;-)

[2015-01-26 21:47] #13693 closed

[2015-01-26 21:47] LukasReschke commented on #13693
You did most likely not update the `.htaccess` file that was delivered with the new ownCloud release. You need to replace the old one with that one.

[2015-01-26 21:55] jnfrmarks commented on #13693
confirmed User error.  Thanks Lukas!

[2015-01-26 21:56] LukasReschke commented on #13693
I think we could make the error message more descriptive though… – Let me change that.

[2015-01-26 22:00] LukasReschke commented on #13693
https://github.com/owncloud/core/pull/13694

[2015-01-26 22:06] Artyum commented on #12145
I have similar problem. I cant delete files uploaded by users to shared folders with disabled "delete" permission:

Steps to reproduce
1. Create folder F by user A (Admin) through browser (Firefox 35). F is owned by A
2. Share F to user U with permissions: share no, create yes, update yes, delete no
3. on android login to U and upload a file to folder F
4. synchronize everytning on PC by A admin

[2015-01-26 22:07] manitooo commented on #12785
@LukasReschke : I am not that fluent with git, so basically, some piece of changes are allright but those from #13621 , I am almost sure that I'll do some mistake.
I am not linked with the github repo, just install the tarball.

Nevertheless, I've implemented the @nickvergessen comment.

Besides, Here are some of my system informations

### Steps to reproduce
no clue, just that it seems to be link

[2015-01-26 22:07] MorrisJobke commented on #13680
Not I ;) It was  @danimo who added the all subdomains option ;)

[2015-01-26 22:15] LukasReschke commented on #12785
I actually might have a clue…

My assumption is that https://github.com/owncloud/core/blob/80560e70b7133739f87cf6a03acb55169fb2462f/lib/private/config.php#L142-L146 is entered because and so ownCloud will assume the config is empty… Let me try to verify this.

[2015-01-26 22:27] AubreyHewes commented on #12785
The problem also occured/occurs with clients who do not have access to the frontend interface.. native client-app access killed the config. So was/is a problem in the backend due to client-app/version requests.?

Possibly combined with frontend request... sometimes the app-clients worked though when touching the frontend the config failed.. so maybe you are all on the right track..

[2015-01-26 22:41] MorrisJobke opened #13695 "Indirect share of s2s share isn't possible"
- ~~Share a file by the invite based (mjob@server2) s2s share on server1~~
- ~~login as mjob at server2 and accept the share~~
- works also with a normal share that is received
- create a folder
- put the accepted share into this folder
- share the folder by public link
## Expected behaviour

I got a link
## Actual behaviour

Error message `Sharing "FOLDERNAME" failed, because it contains files sh

[2015-01-26 22:42] LukasReschke commented on #13695
Sure that this isn't https://github.com/owncloud/core/pull/13490?

[2015-01-26 22:44] MorrisJobke commented on #13695
I just reproduced with

[code]

as head (current master) on both instance. (pulled 5 minutes ago)

[2015-01-26 22:46] MorrisJobke commented on #13695
As I wrote: It works if I share the accepted share directly, but not if I put the share into a folder and then share that parent folder ;)

[2015-01-26 22:47] LukasReschke commented on #13695
Hey, it's late – don't blame me ;-)

[2015-01-26 22:52] RealRancor commented on #13683
Very likely a duplicate of those: https://github.com/owncloud/core/issues/8765, https://github.com/owncloud/core/issues/7812

[2015-01-26 22:55] MorrisJobke opened #13696 "Unkown error after refresh on accepted share page"
* Share a folder on server1 with mjoob at server2
* login as mjob on server2 and accept the share
* refresh

## expected behaviour

* share is listed

## actual behaviour

* empty filelist and "unknown error"
* after a second refresh everything is fine. It's just the first refresh

![s2s-unknown-error](https://cloud.githubusercontent.com/assets/245432/5910064/9992a960-a5b6-11e4-8c15-97d37ba2b0ee.p

[2015-01-26 23:01] MorrisJobke commented on #13696
[code]

This error is also gone with #13691

[2015-01-26 23:38] MorrisJobke opened #13697 "Update dropbox config"
Dropbox now requires domains instead of URIs and this took me a while to recognize. This then needs a simple update of the text and a new picture.

[2015-01-26 23:39] MorrisJobke commented on #13697
Sorry ... wrong repo

[2015-01-26 23:39] #13697 closed

[2015-01-26 23:46] MorrisJobke opened #13698 "Can't setup dropbox external storage"
* enter credentials in the external storage settings
* click on the "grant access" button
* redirect to dropbox -> click the allow button
* redirect to owncloud

## expected

* dropbox mount point is mounted

## actual

* no mount point is in external storage settings list
* owncloud.log:
[code]

Current master bd88874

[2015-01-26 23:47] MorrisJobke commented on #13698
cc @icewind1991

[2015-01-26 23:49] AubreyHewes commented on #9992
I no longer have the client with previous multiple user shared "team" folder. Currently only one other client with four users in one "team" rw folder. According to them they have this same problem.. though only sometimes; client X uploads.. client Y or Z syncs.. client X no longer has files (deleted by client Y or Z).. client X no longer has own files.. (so more or less the same problem).. tell me

[2015-01-26 23:51] LukasReschke commented on #12785
@manitooo I have reason to believe that the change https://github.com/owncloud/core/pull/13699 in should mitigate your problem reported at https://github.com/owncloud/core/issues/12785#issuecomment-71548720 (though there might be other problems in the same file as well)

Can you please try that changeset as well? Thank you!

[2015-01-26 23:56] LukasReschke commented on #12785
Please notice that the error reported by @manitooo looks different from the one reported by @jGleitz.

@manitooo's log:
[code]

@jGleitz's log:
[code]

[2015-01-26 23:57] enoch85 commented on #11681
Just local. Removed the External App, remember? :)

2015-01-26 10:58 GMT+01:00 Vincent Petry <notifications@github.com>:

[2015-01-27 00:31] ZacharyDuBois commented on #10731
@PVince81 Just in general as it seems that the encryption plugin itself needs a major overhaul since it has so many issues with other plugins.

[2015-01-27 01:56] netopier commented on #12145
Hello.
I have same problem. But maybe this will help you locate the bug:
https://drive.google.com/folderview?id=0B_5EtPLrCtQiOFpJaTBmdEtETjg

RFP pub.. is folder shared by owner to group.
When I try delete some folders from this shared folder, I cant. Client just resync it with error "Not allowed to remove, restoring". But some others, I can delete with no problem.

Now when I log in to web gui, I

[2015-01-27 07:03] DeepDiver1975 commented on #13685
@butonic please have a look if time permits - if not please ping me - THX

[2015-01-27 07:04] #13683 closed

[2015-01-27 07:04] DeepDiver1975 commented on #13683
indeed - THX @RealRancor

[2015-01-27 07:05] DeepDiver1975 commented on #13686
@butonic please have a look if time permits - if not please ping me - THX

[2015-01-27 07:05] DeepDiver1975 commented on #13687
@butonic please have a look if time permits - if not please ping me - THX

[2015-01-27 07:06] DeepDiver1975 commented on #13688
let's retest this once https://github.com/owncloud/core/pull/13682 is ready

[2015-01-27 07:10] DeepDiver1975 commented on #13695
this should be easy to debug in order to find the cause - let's analyze this and see how this can be fixed an decide afterwards if this is 8.0 or 8.1

[2015-01-27 07:12] DeepDiver1975 commented on #13698
@MorrisJobke can you test stable7 please? THX

[2015-01-27 08:32] #13570 closed

[2015-01-27 08:33] #13492 closed

[2015-01-27 08:46] davitol opened #13702 "Start Update button does not work in Chrome running under Windows"
### Steps to reproduce

1. Update Owncloud to 6 to 7 version
2. Update to 7.0.3 to 8.0.0 beta version in Windowsserver and with Chrome as browser
3. Click on Start Update button

### Expected behaviour
Update should start

### Actual behaviour

Start Update button does not work and there's also a small tiny text "owncloud" over the owncloud logo as it is shown in the screenshot attached.

### Serv

[2015-01-27 09:05] PVince81 commented on #12145
Not sure if related, but there was a similar permissions issue with the share permission.
Could you guys try applying the following patch: https://github.com/owncloud/core/commit/d534f262aaa21773df5a55099e0d95d2d96434e2 (https://github.com/owncloud/core/commit/d534f262aaa21773df5a55099e0d95d2d96434e2.patch)

[2015-01-27 09:10] pluijm commented on #11400
@cosenal I will check, but at this moment, there are some issues in our personal lives. Will check in when I've checked with master.

[2015-01-27 09:29] MorrisJobke commented on #13698
Works with stable7.

[2015-01-27 09:34] PVince81 commented on #11753
- [ ] prevent scanner concurrency

[2015-01-27 09:35] PVince81 opened #13703 "Prevent file scanner concurrency"
Sometimes it can happen that a scanner process is triggered twice at the same time through different requests, and they both scan the same file entries.

This can cause "Duplicate entry" issues and other unpredictable results.

We should look into a way to prevent two scanner instances to run into each other.

@icewind1991 @DeepDiver1975 @MorrisJobke

[2015-01-27 09:35] PVince81 commented on #13696
Ah, "integrity constrain violation" on oc_storages... maybe the scanner is running concurrently and trying to insert that entry twice at the same time. CC @icewind1991

We should revamp the scanner and find a way to avoid having two scanner instances scanning the same folders/storages at the same time: https://github.com/owncloud/core/issues/13703

[2015-01-27 09:38] PVince81 commented on #11681
This here is suspicious, but not necessarily related to your issue:
[code]

Do you have a super huge txt file ?

@georgehrke we should maybe prevent creating previews for text files bigger than a given size. Also I don't understand why it would cause such error, the preview code should only read a few lines.

[2015-01-27 10:02] MorrisJobke commented on #13696
@PVince81 Is this case fully covered by #13703? Then please close this ticket, because it is now fixed with #13691 ;)

[2015-01-27 10:27] davivel opened #13705 "Concurrent PROPFINDs result in error 500"
### Steps to reproduce
1. Create a folder /c/a/ in your account (not sure if meaningful).
2. Run
[code]

### Expected behaviour
All requests should finish with HTTP code 207; files out1.txt to out5.txt should contain the properties of the folder /c/a/,  something like:

[code]

### Actual behaviour
4 of 5 methods finish in 500 Internal Error.

### Server configuration

**ownCloud version:** - 8.0.

[2015-01-27 10:27] davivel commented on #13705
Extra 2: this is no problem for stable7.

[2015-01-27 10:28] LukasReschke commented on #13705
Solution: Don't use SQLite.

@DeepDiver1975 Related to our recent discussions with @ogoffart and Co.

[2015-01-27 10:35] davivel commented on #13705
Sound fast and clean :)

[2015-01-27 10:37] PVince81 commented on #13696
Hmm ok, then let's follow up in https://github.com/owncloud/core/issues/13703 for a more general fix

[2015-01-27 10:37] #13696 closed

[2015-01-27 10:43] PVince81 commented on #13698
From the exception, might be related to the recent addition of stabler storage ids ? @icewind1991

[2015-01-27 10:44] PVince81 commented on #13702
Do you see anything in the Javascript console ? How about owncloud.log ?

[2015-01-27 10:45] nickvergessen commented on #13689
Related #13700

[2015-01-27 10:51] PVince81 commented on #13698
Confirmed on master.

[2015-01-27 10:53] DeepDiver1975 commented on #13698
8.0 :boom:

[2015-01-27 10:54] DeepDiver1975 commented on #13702
OT: that font really looks ugly @jancborchardt

[2015-01-27 10:56] DeepDiver1975 opened #13706 "Remove shipped tag from all aps which are no longer shipped"
- [x] calendar https://github.com/owncloud/calendar/pull/688
- [x] contacts https://github.com/owncloud/contacts/pull/793
- [x] bookmarks https://github.com/owncloud/bookmarks/pull/124
- [x] documents https://github.com/owncloud/documents/pull/441
- [x] admin_dependencies_chk - will not be uploaded

@LukasReschke are you aware of others? THX

[2015-01-27 10:59] DeepDiver1975 commented on #11400
how to continue on this one? I'd vote for moving this to 8.1 and mark as needs-more-info
@LukasReschke agreed?

[2015-01-27 11:00] PVince81 commented on #13698
There's an issue with writing incomplete configs.
For GDrive and Dropbox we need to write the incomplete config, even though it is invalid at this point. The missing value will be added after access has been granted.

Currently the Storage class throws an exception due to incomplete config. Need to recover from that.
Happens here: https://github.com/owncloud/core/blob/master/apps/files_external/li

[2015-01-27 11:01] LukasReschke commented on #13706
- [ ] admin_dependencies_chk
- [ ] documents

[2015-01-27 11:01] Raydiation commented on #11065
https://github.com/owncloud/core/pull/13701

[2015-01-27 11:01] #11065 closed

[2015-01-27 11:01] Raydiation commented on #9984
https://github.com/owncloud/core/pull/13701

[2015-01-27 11:01] #9984 closed

[2015-01-27 11:04] LukasReschke commented on #11400
Let me test again later today with that client… If I can't reproduce 8.1

[2015-01-27 11:07] DeepDiver1975 commented on #13706
is dead - will not be uploaded to the appstore from my understanding

[2015-01-27 11:09] nickvergessen commented on #13702
Just tested on my desktop.
The text does not appear above the logo and the update button works aswell.

[2015-01-27 11:11] jnweiger commented on #6932
/etc/apache2/conf-available/owncloud.conf is now included in all packages.
closed fixed.

[2015-01-27 11:11] #6932 closed

[2015-01-27 11:14] DeepDiver1975 commented on #13702
@davitol javascript is enabled in your browser? What is the exact version of Chrome you are using? THX

[2015-01-27 11:22] LukasReschke commented on #11400
So, what I did here was the following:

1. I setup a new ownCloud instance on current master running at "192.168.0.17/core/"
2. I logged-in as user "admin" and deleted the default folder structure and created a file "admin.txt"
3. I create an user "test", I login as that user and delete the default folder structure and create a file "test.txt"
4. I open "PDFExpert" on my iPhone and delete all exis

[2015-01-27 11:25] nickvergessen commented on #13706
Added PRs for the other 4 apps (see first post)

[2015-01-27 11:40] Artyum commented on #12145
@PVince81
Your patch fixed my problem.
Now, the owner of shared folder can delete files uploaded by others users.

Thank you.

[2015-01-27 11:54] Armada651 commented on #6949
I also can't decrypt the file storage when a large amount of files are present. It seems to be unrelated to the size of the files, but rather the number of them.

For example in case a git repository has been uploaded to owncloud, decryption it is almost certain to fail.

@PVince81 There is: https://github.com/owncloud/core/issues/6387

[2015-01-27 12:05] nickvergessen commented on #13706
Closing since all have been merged

[2015-01-27 12:05] #13706 closed

[2015-01-27 12:05] PVince81 commented on #12145
That's good news! That fix will be in 7.0.5.

@bkerensa and @netopier let us know if you have the possibility to test the patch too.

[2015-01-27 12:07] enoch85 commented on #11681
@PVince81 Nope, no big .txt file. Not in that folder anyway. But I have a 2.1 GB logfile in the root of my ownCloud.

[2015-01-27 12:18] LukasReschke commented on #13678
Just as a side note that is REALLY annoying… – I had to fight with that today and noticed it does not work with trailing slash……

[2015-01-27 12:24] PVince81 commented on #12949
Ok, it seems that adding it back in "enable_all.php" makes it possible to run single tests like:
`./autotest.sh sqlite apps/files_external/tests/mountconfig.php`

[2015-01-27 12:24] #12949 closed

[2015-01-27 12:32] PVince81 commented on #13678
It should after https://github.com/owncloud/core/issues/13677, at least with the format "user@host/owncloud/"

[2015-01-27 12:33] LukasReschke commented on #13678
admin@localhost/core**/** fails admin@localhost/core works

[2015-01-27 12:36] PVince81 commented on #13698
Hmm looks like the unit test "mountconfig.php" was broken already by that change ("Invalid configuration"), but we don't run this any more on Jenkins.

I'll try and fix these as well.

[2015-01-27 12:46] PVince81 commented on #13698
Fix is here: https://github.com/owncloud/core/pull/13707

[2015-01-27 13:12] #13542 closed

[2015-01-27 13:15] jnfrmarks commented on #13689
Duplicate of #13579

[2015-01-27 13:23] davitol opened #13708 "Problems with accessibility: labels"
### Steps to reproduce

1. Go to users screen

### Expected behaviour
Labels to grant the accessibility should exist

### Actual behaviour

There are many labels left as we can see in the screenshot attached using WAVE Web Accessibility Evaluation Toolbar

![captura de pantalla 2015-01-27 a las 13 26 24](https://cloud.githubusercontent.com/assets/10596560/5919030/c599e8ec-a62f-11e4-82e2-15e16e0d2d

[2015-01-27 13:27] DeepDiver1975 commented on #13706
awesome guys - THX!

[2015-01-27 13:27] DeepDiver1975 commented on #13706
@karlitschek did we miss any app? THX

[2015-01-27 13:29] #13689 closed

[2015-01-27 13:30] DeepDiver1975 commented on #6949
we need to move off all these long running tasks to async jobs - in case of encryption this requires the capability to pass the user password to the executing process - which will not run in the session context (most probably :speak_no_evil: ).

[2015-01-27 13:31] PVince81 commented on #13708
@jancborchardt

[2015-01-27 13:38] PVince81 commented on #13686
I suspect the files might be missing the "data-path" attribute, needed in such flat lists.
I'll have a look.

[2015-01-27 13:40] karlitschek commented on #13706
yes. search_lucene is missing too, The rest is fine. Thanks a lot!

[2015-01-27 13:40] davitol commented on #13702
Yes, javascript is running and Chrome version is 39.0.2171.99 m

[2015-01-27 13:42] nickvergessen commented on #13706
If we don't ship search_lucene the tickets from jennifer can be moved to 8.0.1/8.1 ? @DeepDiver1975

[2015-01-27 13:42] DeepDiver1975 opened #13709 "[provisioning_api] POSTing a request to make a user a subadmin of the same group fails"
### Steps to reproduce

1. Enable Provising API application
2. Add some users, groups, and subadmins to some of the groups.
3. Using POSTMAN chrome plugin, invoke a request to POST a request to make a user a subadmin of a group
4. Invoke the request a second time

### Expected behaviour

The user gets a message indicating that the user is already a subadmin

### Actual behaviour

The user sees a w

[2015-01-27 13:43] DeepDiver1975 commented on #13709
details on how to fix this: https://github.com/owncloud/enterprise/issues/322#issuecomment-56154360

[2015-01-27 13:45] nickvergessen commented on #13702
I have `40.0.2214.91 m`
Can you update Chrome and retry?

[2015-01-27 13:47] DeepDiver1975 commented on #13706
If they are search_lucene specific - yes - but this needs to be clarified first.
furthermore we need to test search without any search app being installed :speak_no_evil:

[2015-01-27 13:51] PVince81 commented on #13686
Works for me on core master (4d90fd933f47c71b4b9ff333b223f06822bc5340) and search_lucene master (4d90fd933f47c71b4b9ff333b223f06822bc5340)

When clicking on an entry in the "XX search results in other places" the files app is reloaded with the corresponding file in the URL.
The only issue I see is that it appends "file=owncloud1.odt" instead of "scrollto=owncloud1.odt" (which I can fix quickly if

[2015-01-27 13:51] DeepDiver1975 commented on #13702
@davitol can you please have a look at the logs? THX

[2015-01-27 13:52] PVince81 commented on #13686
@jnfrmarks on what part of the file row did you try clicking ? Is there anything appearing in the Javascript console ? (maybe a side-effect caused by other apps)

[2015-01-27 13:53] DeepDiver1975 commented on #13686
@jnfrmarks as discussed on irc - we need to know the used/enabled search app - THX

[2015-01-27 13:59] PVince81 commented on #13685
Works for me on core master (4d90fd933f47c71b4b9ff333b223f06822bc5340) and search_lucene master (0ab731440d8b53302d55d938dccfdc332560fe85), I saw it indexing the XLS file with a breakpoint.

Did you put some files on an external storage ? Just asking because I saw the indexer code only working with local files.

[2015-01-27 13:59] PVince81 commented on #13685
To clarify, I also saw the XLSX file appearing in the result list.

[2015-01-27 14:01] PVince81 commented on #13708
Was there any work done for accessiblity on the users list ? I thought there was only for the files app.

[2015-01-27 14:04] DeepDiver1975 commented on #13685
@PVince81 afaik - we are talking about search_elastic here ...

[2015-01-27 14:07] PVince81 commented on #13685
Then the bug should be raised in the corresponding repository

[2015-01-27 14:13] jnfrmarks commented on #13685
I'll re-test and move/update this issue accordingly.

[2015-01-27 14:20] davitol commented on #13702
GET http://wincloud:8001/index.php/core/js/oc.js?v=28ce40ecb6f6fdbb58184d55debb2e84 503 (Service Unavailable)
js.js?v=28ce40ecb6f6fdbb58184d55debb2e84:1053 Uncaught TypeError: undefined is not a function
jquery.min.js?v=28ce40ecb6f6fdbb58184d55debb2e84:4 GET http://wincloud:8001/core/fonts/OpenSans-Regular.woff
jquery.min.js?v=28ce40ecb6f6fdbb58184d55debb2e84:4 GET http://wincloud:8001/core/fonts/

[2015-01-27 14:23] SergioBertolinSG opened #13710 "Users view doesn't load"
### Steps to reproduce

Using an administrator account:

1. Go to the users view.
2. Wait

### Expected behaviour
Users are loaded.

### Actual behaviour
Page keeps loading users with no luck.

### Server configuration
**Operating system**:
Ubuntu 14.04 LTS

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

**ownCloud version:** (see ownCloud admin page)
[code]
**Updated from an

[2015-01-27 14:24] LukasReschke commented on #13710
How exactly did you setup your ownCloud instance? – What were the involved steps?

[2015-01-27 14:26] SergioBertolinSG commented on #13710
I just cloned current core repository (27-01-2015 15:25) with all submodules recursively.

[2015-01-27 14:27] LukasReschke commented on #13710
@MorrisJobke Ever experienced something like that?

It seems to try to load the Controller from the OCA namespace and not the OC one.

[2015-01-27 14:28] PVince81 commented on #13702
Hmmm, looks like it's again that weird case where "oc.js" (the generated file) isn't available.
But the upgrade routine should be able to work even when that file isn't loaded.

I checked line "1053" and there is nothing. Maybe it's the line after that: https://github.com/owncloud/core/blob/v8.0.0beta1/core/js/js.js#L1056

@davitol in the Chrome JS console can you type the following:
`oc_config`
a

[2015-01-27 14:34] jancborchardt commented on #13708
Yeah, was only files so far, and some settings parts. Will look into fixing some of this here.

[2015-01-27 14:40] PVince81 commented on #12802
Very likely to be a duplicate of https://github.com/owncloud/core/issues/13361

Can you guys try with the following patch: https://github.com/owncloud/core/pull/13470
You'll need to delete then re-create the public reshare.

After the fix the "parent" field should not be null any more.

[2015-01-27 14:43] minils opened #13712 "Lockfile of cron.php is waking up HDD"
It is not possible to spin down a HDD which is used for data storage of your ownCloud installation because of the lockfile which is written every 15 minutes to the data/ directory.
Why don't you write it somewhere else inside of the ownCloud installation?

I use a timeout of 10 minutes to spindown my HDD but it is woken up 5 minutes after it goes to sleep because of the lockfile.

(I know it is po

[2015-01-27 14:49] mmattel opened #13713 "Language question - Transifex"
Hopefully my question is not stupid...

Why is it necessary to have on Transifex for owncloud the translation languages:
German
  and
German (Germany)

IMHO, I do not know any differences. Couldn´t that be reduced to one, eg German?

[2015-01-27 14:50] jancborchardt commented on #13702
How does the typeface look so ugly? What operating system is this?

[2015-01-27 14:58] karlitschek commented on #13713
One of it uses "Sie" and the other "Du"
This is also a great question for the mailinglist.
Please use the bugtracker only for bugs. Thanks :-)

[2015-01-27 14:58] #13713 closed

[2015-01-27 15:31] PVince81 opened #13715 "Incomplete ext storage config breaks file list"
### Steps to reproduce
1. Enable external storage
2. Create a GDrive mount point, but enter "a" for client id and key
3. Click "Grant access", it will fail
4. Go back: the config must have a red square
5. Open file list

### Expected result
File list can be displayed, without the bogus mount.

### Actual result
File list is empty, server errors

### Versions
stable7 works correctly.
Observed on ma

[2015-01-27 15:32] PVince81 commented on #13698
Fixed in https://github.com/owncloud/core/issues/13707

[2015-01-27 15:32] #13698 closed

[2015-01-27 15:36] MorrisJobke commented on #13710
Pretty message:

[code]

[2015-01-27 15:39] PVince81 commented on #13715
It looks like stable7 the bogus mounts are added, but the exception is caught here on "createStorage": https://github.com/owncloud/core/blob/stable7/lib/private/files/mount/mount.php#L95

Let's find out where it happens on master and catch the exception there too.

[2015-01-27 15:40] MorrisJobke commented on #13710
This route is defined here https://github.com/owncloud/core/blob/3478634df1ce2b7717bfe211425f59c4107688f8/settings/routes.php#L15

Maybe @Raydiation knows why this breaks? But why is it working in our environments?!?

[2015-01-27 15:41] cdamken opened #13716 "Remove lower(uid) and lower(gid) from SQL queries to use the database index"
@scolebrook  found some good optimizations tips here:

We've just upgraded our system to use Percona XtraDB Cluster with Cluster Control from Severalnines. We're seeing lots of queries being reported that perform full table scans. I've found some queries in 7.0.4 that could be optimized.

/core/lib/private/group/database.php line 175
The WHERE LOWER(`gid`) should be replaced with using lower in th

[2015-01-27 15:43] cosenal commented on #11400
The steps are exactly the same, one by one. I have just tried the beta version of the client and it does works. At this point I am blaming the stable version of PDFexpert and closing this. Thanks @LukasReschke for thorough testing ;)

[2015-01-27 15:43] #11400 closed

[2015-01-27 15:44] MorrisJobke commented on #13716
@DeepDiver1975 I will try to have a look at this in the early stage of 8.1. Then I try to come up with a full migration and we have the full release cycle to find possible problems. Does this sound reasonable?

[2015-01-27 15:46] MorrisJobke commented on #13716
@DeepDiver1975 Please assign to the milestone if you accept this.

[2015-01-27 15:50] PVince81 commented on #13715
Okay, it turns out that the mechanism is the same.

The difference is that now there's the trashbin storage wrapper (which wasn't there before) which fails because it tries to wrap a `null` storage. Note that this could have happened with any other storage wrapper.

[2015-01-27 15:54] LukasReschke commented on #13710
Could _somehow_ reproduce this locally (it just happened) – I'll take a look. Showstopper.

@DeepDiver1975 FYI

[2015-01-27 15:58] PVince81 commented on #13715
Fix is here: https://github.com/owncloud/core/pull/13717

[2015-01-27 16:05] #13557 closed

[2015-01-27 16:07] PVince81 commented on #13634
Fixed by https://github.com/owncloud/core/issues/13561

[2015-01-27 16:23] blizzz commented on #13533
Not really, at least not that alone. I would provide a patch to gather some debug output instead.

[2015-01-27 16:23] Raydiation commented on #13710
Breaks for me too. You'll encounter this issue because the controller is most likely not defined in the container, so it is being looked up in the OCA namespace. Other than that: settings has an app structure it behaves like an app and should be an app :)

[2015-01-27 16:25] LukasReschke commented on #13710
Regression caused by https://github.com/owncloud/core/commit/9fbeaf0fd9f3ba4cd01aa566553cb2373dde8cb2 seems not to like `$c->query('OCP\\App\\IAppManager')` as far I can see

[2015-01-27 16:25] LukasReschke commented on #13710
Sure – but nothing we can change a few days before the release :-)

[2015-01-27 16:28] sbelov1 commented on #13533
@blizzz sounds good. Should I expect the patch now or do we have to wait for the LDAP config output from customer first?

[2015-01-27 16:28] LukasReschke commented on #13710
WTF. It works when doing `$c->query('OCP\\IAppManager')` … mhm…

[2015-01-27 16:30] LukasReschke commented on #13710
Got it – https://github.com/owncloud/core/blob/master/lib/private/appframework/dependencyinjection/dicontainer.php#L68-70 is to blame

[2015-01-27 16:30] Raydiation commented on #13710
@LukasReschke I've added the wrong namespace in here https://github.com/owncloud/core/blob/master/lib/private/appframework/dependencyinjection/dicontainer.php#L68

[2015-01-27 16:30] LukasReschke commented on #13710
I'll prepare a PR :)

[2015-01-27 16:31] MorrisJobke commented on #13710
@Raydiation YOu added the wrong namespace: https://github.com/owncloud/core/pull/12830/files#diff-94695368380289cb5ce414833e2a7947R67

[2015-01-27 16:31] MorrisJobke commented on #13710
:stuck_out_tongue_closed_eyes:

[2015-01-27 16:31] oparoz commented on #10656
Someone should move the app to the core and improve it. This is a basic functionality for a file managing application such as ownCloud. It's such a pain currenly to manage files as we have to use the workarounds described above.

[2015-01-27 16:33] oparoz commented on #12910
+1 for having a local tmp store. It would be very useful for previews as well.

[2015-01-27 16:36] LukasReschke commented on #13710
Patch is at https://github.com/owncloud/core/pull/13718 - @SergioBertolinSG would be great if you could test this tomorrow again. (though I think we already have that patch merged then ;))

[2015-01-27 16:38] Raydiation commented on #13710
As for the error message: https://github.com/owncloud/core/blob/master/lib/private/appframework/app.php#L85

It checks to see if a controller exists in the container under that name and catches a query exception which because of the recursive resolve method was thrown when resolving the app manager. So it tries to look up the controller in the OCA namespace which ofc fails.

Quite hard to fix this

[2015-01-27 16:38] Raydiation commented on #13710
Basically caused by backwards compability fixes

[2015-01-27 16:39] #13710 closed

[2015-01-27 16:40] blizzz commented on #13533
@sbelov1 I'd like to LDAP have a look on the config first.

[2015-01-27 16:41] Raydiation commented on #13710
Confirmed working

[2015-01-27 16:42] LukasReschke commented on #13710
Thanks @Raydiation :-)

[2015-01-27 16:59] tessus commented on #13333
Any update on this?

Is there a chance of data loss? What happens, if user Y re-uploads a file into B and a user from group X does the same thing. The group X never had the new file and changed an old version of the file...

Can you direct me to the code that has to do with etags and propagation? Maybe I can find something.

[2015-01-27 19:20] gig13 opened #13719 "How to ensure external CIF/SMB shares are securely authenticated?"
When using CIF/SMB shares are authentication details sent from ownCloud encrypted and secure? Does this use the LDAP configuration settings, for example if ldaps is setup, it uses ldaps?
Does the server need to be secured using SSL certs and https?

@MorrisJobke

[2015-01-27 19:43] transistor91 opened #13720 "External Link Sharing fails with Suhosin"
### Steps to reproduce
1. Select File/Folder and click "Share"
2. Select "Share Link"

### Expected behaviour
Window with properties for Share Link and the share link itself.

### Actual behaviour
Error message:
![error_message](https://cloud.githubusercontent.com/assets/10730099/5925089/95387560-a661-11e4-922d-21921eeeece3.png)

### Server configuration
**Operating system**:
openSUSE
VERSION = 13

[2015-01-27 20:25] karlitschek commented on #13705
Guys. This is a bug. There is absolutely no technical reason why ownCloud should return a 500 here. The database should be properly locked and the second request should be answered as soon as the first one is done. This is how ownCloud worked for years.
@LukasReschke @DeepDiver1975
Thanks you

[2015-01-27 20:46] geez0x1 opened #13721 "Handling large file uploads - PHP max execution time etc."
I recently bumped the upload limit of my ownCloud server to 8GB files. With this I encountered problems. Setting the upload limit to 8GB correctly updated the upload_max_filesize and post_max_size values in ownCloud's main htaccess, but this was not sufficient. I encountered two other problems:

**Inability to move the temporary file to its destination due to PHP execution timeout**
Files would be

[2015-01-27 20:55] Naucum commented on #13625
Hello,
any idea how can i handle this meanwhile waiting for a bugfix? Or is there any new info about this?

thx :)

[2015-01-27 21:31] sbelov1 commented on #13533
@blizzz please check your email for the output.

[2015-01-27 22:08] oparoz commented on #8268
A possible implementation of the Gallery button
https://github.com/interfasys/galleryplus/commit/9ffac93a1609705daede7be9b98c6c82f6d6893e

[2015-01-27 22:29] oparoz commented on #11635
Still missing and confusing for users who expect to be able to get some form of results straight from the search field.

@butonic Any idea when this will land?

[2015-01-27 22:52] DeepDiver1975 commented on #11635
filtering the apps is currently being worked on - https://github.com/owncloud/core/pull/13439 - scheduled for 8.1

[2015-01-27 23:03] DeepDiver1975 commented on #13712
So - if the lock file of cron is not waking up your HDD - the jobs will do this then as they access the files within the owncloud installation (loading php files, accessing the database, accessing session data, accessing whatever cache is installed/used and finally the files living in /data) - I honestly see no point in NOT writing the lock file for cron.

@minils what would your solution to this

[2015-01-27 23:03] DeepDiver1975 commented on #13708
okay - out of scope for 8.0 then from my pov - let's move this off to 8.1 - THX

[2015-01-27 23:11] LukasReschke commented on #13485
@DeepDiver1975 @icewind1991 That looks pretty serious for me.

[2015-01-27 23:31] #13089 closed

[2015-01-27 23:50] MorrisJobke commented on #13719
cc @LukasReschke

[2015-01-28 00:00] MorrisJobke commented on #13715
Fixed in #13717

[2015-01-28 00:00] #13715 closed

[2015-01-28 00:06] #13571 closed

[2015-01-28 00:09] MorrisJobke commented on #13702
@jancborchardt Seems like some files aren't loaded ;) So this is just the result of the actual problem.

[2015-01-28 00:11] MorrisJobke commented on #13687
I guess the search is implemented as full search and not a "just in this subfolder" search. I guess this is actually a wanted behaviour and not a bug.

Regarding UX: @jancborchardt Should the search just be in the subfolder or listing results from all places? I would vote for the subfolder approach as this is how it works on other platforms and therefore the users expect this behaviour.

[2015-01-28 07:38] davitol commented on #13702
@jancborchardt WindowsServer2008
@PVince81
oc_config
Object {}
typeof(oc_config.session_keepalive)
"undefined"

[2015-01-28 07:45] SergioBertolinSG commented on #13710
Working fine now for me too.

[2015-01-28 08:14] cyberic99 commented on #11551
I have the same problem on a cpanel installation. Using php-cli instead of php fixes the problem for me.

[2015-01-28 08:50] simne7 commented on #12802
:+1:
Overwriting /lib/private/share/share.php with the version from #13470 solved the issue for me. After de-selecting "Share link" and selecting it again everything worked. Thx!

[2015-01-28 09:17] SergioBertolinSG opened #13722 "Text label of shared folders isn't long enough to show domain."
### Steps to reproduce

Using an administrator account:

1. User1 in Server1 shares a folder with User2 in Server2 User2@IP_Server2/OWNCLOUD_FOLDER .
2. Show files of User2 in Server2.

### Expected behaviour
Location of shared folder shows domain/ip.

### Actual behaviour
Text label is too short and only User1_name+"@..." is shown.
You have to hover the pointer over the text label to show a toolt

[2015-01-28 09:18] LukasReschke commented on #13722
That is actually how we implemented it. @nickvergessen @jancborchardt Thoughts?

[2015-01-28 09:21] LukasReschke commented on #13722
Actually the current implementation allows users to ensure that it is an actual remote share as they can check the tipsy hover. So even if a local user would be called

[2015-01-28 09:42] blizzz commented on #13533
@sbelov1: now i remember… the issue here is that the user filter restricts login to a "standard" group membership, but does not take primary groups into account. We sought to fix this with https://github.com/owncloud/core/pull/12233

[2015-01-28 09:42] blizzz commented on #13533
I follow up there, stay tuned.

[2015-01-28 10:01] butonic commented on #13687
limiting search to subfolders should wait on https://github.com/owncloud/core/issues/13155 as that will introduce the necessary changes on the server side.

[2015-01-28 10:17] blizzz commented on #13533
Oh, and for a manual workaround: currently there is no group limitation in user or login filter. To make this work with primary groups do as follow:

Change User Filter from

[code]

To

[code]

and Login filter from

[code]

To

[code]

In both cases you must insert the whole DN of the domain users group in the memberof= pair.

The primaryGroupID should be 513 for Domain Users. Otherwise you can

[2015-01-28 10:20] butonic opened #13725 "Sharing to groups with many users becomes slower over time"
Sharing a file with a group not only creates one tupel in the oc_shares table for the group but also for every user in the group. That becomes a problem when sharing to large groups, as the number of rows in the table increases until we run into timeouts for huge groups.

IMO the correct solution is yet again an mq system that takes decouples db changes from the web request.

cc @schiesbn @DeepDiv

[2015-01-28 10:21] davitol opened #13726 "Add user Share textbox disappears after a wrong try"
### Steps to reproduce

1. Go to files
2. Click share
3. Share file to a user of another server (USERNAME@domain.tld/owncloud )

### Expected behaviour
Adding user to sharing textbox should not be cleaned after a wrong line is sent.

### Actual behaviour

Adding user to sharing textbox dissapears after a wrong user written

### Server configuration
**Operating system**:
Ubuntu 14.04 LTS

**Web ser

[2015-01-28 10:27] butonic commented on #2566
also adding green ticket

[2015-01-28 10:28] PVince81 commented on #12802
Thanks a lot @simne7

@Pfeifakopf @Do-D @combatwombat how about you guys ?

[2015-01-28 10:41] SergioBertolinSG opened #13727 "Encripted server makes mobile logged accounts unusable"
### Previous requirements

Have a OC 8.0 server unencrypted.
Have a user account with several files, pictures and documents.
Have the mobile client installed.
Have the user logged in the mobile client.

### Steps to reproduce
1. Enable encryption on server.
2. Log out and log in with an administrator account in the server using web UI.
3. From mobile client (who was previously logged in using a re

[2015-01-28 10:45] schiesbn commented on #13727
like on the web interface and the desktop client you also need to re-login with your mobile client.

[2015-01-28 10:53] Do-D commented on #12802
Hi,
deleting and re-creating the share did work for me too.
Thanks!

[2015-01-28 11:00] LukasReschke commented on #13727
Why not writing a key to the session when login happened with enabled encryption and if encryption is enabled then check for that key using a hook or some kind of magic?

[2015-01-28 11:14] PVince81 commented on #12802
Thanks. I'm going to close this ticket then.

@Pfeifakopf @combatwombat if after applying the patch and recreating the share you still get issues, feel free to reopen.

[2015-01-28 11:14] #12802 closed

[2015-01-28 11:29] jancborchardt commented on #13464
Hm … that is our standard textbox size, and changing it will likely break layouts elsewhere. Since it’s a language-specific problem there will likely always be problems. It doesn’t impair the understanding, so I would keep it as it is.

In the future we could have some intelligent text sizing which makes the text a bit smaller to fit in the input field.

[2015-01-28 11:33] DeepDiver1975 commented on #13702
@davitol

[2015-01-28 11:35] jancborchardt commented on #11699
Closing as duplicate of https://github.com/owncloud/core/issues/10788 since it’s both about remembering the sort order.

[2015-01-28 11:35] #11699 closed

[2015-01-28 11:36] jancborchardt commented on #13484
The sort order should simply be remembered to what the user last chose. This is not something an admin should decide globally. The issue for that is https://github.com/owncloud/core/issues/10788 – let’s continue there. :)

[2015-01-28 11:36] #13484 closed

[2015-01-28 11:40] davitol opened #13729 "Shared with you screen does not show the files"
### Steps to reproduce

1. Go to files
2. Click share
3. Share file to an user of another server (e.g. USERNAME@domain.tld/owncloud )
4. Open owncloud in another server
5. Click in Shared with you screen

### Expected behaviour

Files shared should appear in this screen

### Actual behaviour

Shared with you screen does not show any file

### Server configuration
**Operating system**:
Ubuntu 14.04

[2015-01-28 11:45] LukasReschke opened #13731 "Run `updateDataDirectory` after update"
Ref https://github.com/owncloud/core/pull/13730#issuecomment-71821620

[2015-01-28 11:47] PVince81 opened #13732 "[packaging] Getting 403 with openSUSE package for 8.0.0~beta2"
### Steps to reproduce:
1. I had 7.0.4 installed from OBS RPM on my server
2. Upgrade to owncloud-8.0.0~beta2 (used `zypper update`)
3. Run `./occ upgrade` as wwwrun user

### Expected result
ownCloud runs after upgrade

### Actual result
Apache gives 403

### Versions
OC 8.0.0~beta2 from OBS RPM (community testing repo)

I suspect that the Apache config might not be correct / complete.

owncloud.

[2015-01-28 11:48] DeepDiver1975 commented on #13731
can be implemented as repair job - should be done already for 8.0 ????

[2015-01-28 11:49] LukasReschke commented on #13731
Well, if we're going with "Critical fixes" only then I believe that this is not critical enough and I have a lot of other things to do instead of that at the moment ;-)

But if somebody volunteers to do that: Sure ;-)

[2015-01-28 11:53] LukasReschke commented on #13731
(i.e. 8.0.1 – I guess this would be the 8.0-next milestone then? *confused*)

[2015-01-28 11:56] davitol commented on #13729
Maybe #9098 issue is the same

[2015-01-28 12:03] PVince81 commented on #13729
Yes, duplicate of that one.
That part isn't implemented yet unfortunately.

[2015-01-28 12:03] #13729 closed

[2015-01-28 12:03] PVince81 commented on #13729
Still, thanks for your bug reports :smile:

[2015-01-28 12:06] PVince81 commented on #13725
Note: we cannot do without having those extra entries because users might rename the target folder.

I agree with the background job approach, hopefully we can add this in the near future.

[2015-01-28 12:13] jnfrmarks commented on #13687
Closing as not implemented yet.

[2015-01-28 12:13] #13687 closed

[2015-01-28 12:18] jnfrmarks commented on #13686
Retesting and will update with requested info.

[2015-01-28 12:26] jancborchardt commented on #13687
That’s not really how file selection works with search. And I’m not sure people expect that this would be the case. It’s better to have a modeless search like now, prioritizing on the current folder but also taking into account subfolders / other places.

[2015-01-28 12:27] PVince81 commented on #13695
@schiesbn can you have a look ?

[2015-01-28 12:36] jancborchardt commented on #13722
This is intended. Showing the full domain happens on hover. If we show it always then there would be way too much going on in the UI. From the UX, external shares shouldn’t be much different anyways.

[2015-01-28 12:36] #13722 closed

[2015-01-28 12:36] butonic commented on #13725
when the user tries to rename his share we could add the user entry on the fly.

[2015-01-28 12:50] gagou9 commented on #13670
Pouah i'm very sorry I didn't see that small part about Local mount points when I enabled X-sendfile ...

It works now, thanks a lot!

[2015-01-28 12:51] jancborchardt commented on #13646
Yeah, sounds best to remove to the Bootstrap tooltip library. Good call @Raydiation

[2015-01-28 12:52] #13670 closed

[2015-01-28 12:53] jancborchardt commented on #13631
Yeah, a temporary sidebar entry for that would be good indeed! Then uploads don’t feel blocking anymore and people could navigate through their files while an upload takes place. (Given that this is possible.)

[2015-01-28 12:59] SergioBertolinSG commented on #13727
@schiesbn Yes logging out and logging in allows the mobile client to show the files again, but this is a regression problem because OC 7 server allowed client to browse files without problems.

[2015-01-28 13:00] PVince81 commented on #12801
@fleish hmmm... I guess something related to the shares is indeed broken. Maybe OC 6 tolerated it but OC 7 is having trouble.

A few points:

1) There is something strange about your database output in https://github.com/owncloud/core/issues/12801#issuecomment-69759608 and https://github.com/owncloud/core/issues/12801#issuecomment-70527617.

I edited the first one to add the missing headers (you s

[2015-01-28 13:01] PVince81 commented on #13631
Navigating during upload is already possible as long as the user doesn't leave the files app, try it out :wink:

[2015-01-28 13:02] cdamken opened #13734 "About behavior of NFS Connectivity"
What I want ask is I need more specific information how oC server and/or sync client behaves in the situation when the NFS lost connection.

Currently, I don’t have any hard proof that indicates there was back-end connectivity issue in any log.

I need some information how OC server should behave in such situation helps us much to diagnose back-end connectivity.

As a reference https://github.com/

[2015-01-28 13:06] cdamken opened #13735 "How can oC prevent the lost of information or get a warning when the NFS lost connection"
Seeing https://github.com/owncloud/core/issues/13734  I want to know If you can make a QA to test when the NFS lost connection, which is the behavior from oC?

@jnweiger

00001901

[2015-01-28 13:07] PVince81 commented on #13429
Ouch, I'm at step 4 and it already looks bad:
[code]

As you can see the user's child entry has no parent. It should link itself to either 1 or 2.
This is not a repairable situation.

[2015-01-28 13:08] PVince81 commented on #13429
Ah no, sorry. I misread (lines were wrapped on my screen).
It does look fine: the child entry is linked with 2 (the share over g2). Not sure why it chose this one.
Let's continue.

[2015-01-28 13:12] PVince81 commented on #13429
After the upgrade and rename, I see this:
[code]

Since I renamed "test1" and not "test1 (2)", a new entry is created which points to the share 1 instead of 2. I'd say this is expected.

For every share through a different group, the recipient receives a separate folder.
In this test case it was "test1" and "test1 (2)".

Ideally these shares should be combined and I'm not sure why they aren't, may

[2015-01-28 13:13] DeepDiver1975 commented on #13734
I assume we are talking about the data directly being mounted to a NFS server - right?

We have a hidden magic file called .ocdata exactly for this purpose.
In case the mount is lost - no .ocdata file exists and ownCloud can detect the data folder not being present.

This will result in a controlled exception scenario - should be a 503 http response.

[2015-01-28 13:13] jnweiger commented on #13732
Suggested workaround: we'll offer FHS compliance only as a separate experimental package named 'owncloud-fhs'. The normal 'owncloud' package will revert to the traditional file system layout.

That should resolve the showstopper.

[2015-01-28 13:16] PVince81 commented on #13429
On 7.0.4, at step 4 (after sharing with the two groups, group1 read-write and group2 read-only), I see this now:
[code]

Almost the same as before, but now the child entry is linked to share 1 instead of 2, and there is no "test1 (2)".

Logging into the web UI as "u2" only shows a single folder "test1", which means that the shares have properly been merged.

I can upload files, which means that th

[2015-01-28 13:16] mmattel opened #13736 "PHP Error fopen directly after installation/setup"
Ubuntu 14.04, MySQL 5.5.41, PHP 5.5.9, nginx 1.7.9, owncloud from git master cloned via ocdev minutes ago, (no adoptions on the code cloned)

After I finalized the installation, I looked for any errors whic may have been logged, there was only one...

Error	 PHP fopen(/xxx/config/config.php): failed to open stream: No such file or directory at /xxx/lib/private/config.php#168

[2015-01-28 13:17] raiffeisennet commented on #11341
@PVince81 we have the same Problem in oc 7.04, please fix this Issue

[2015-01-28 13:23] PVince81 commented on #9595
Can you try with the patch from https://github.com/owncloud/core/commit/d534f262aaa21773df5a55099e0d95d2d96434e2.patch ? This will be in 7.0.5 and is likely to fix your issue.

[2015-01-28 13:24] MorrisJobke commented on #13734
Maybe some web UI indication (like in WND) would be nice. Isn't there already a ticket to migratet this into the files_external app?

[2015-01-28 13:25] PVince81 commented on #11341
@raiffeisennet in general fixing an issue is only possible when there is enough information to reproduce it and understand what is happening, which wasn't the case here. Next time please join the other reporters and provide info about your setup, the more information, the better.

But now we might be lucky because there was another fix related to a permission issue:
@raiffeisennet @KKyang @jacobst

[2015-01-28 13:27] DeepDiver1975 commented on #13734
with the data dir not being available there is no reason to show anything - a user will have no files, no encryption keys, no thumbnails - basically nothing.

missing data dir is a critical failure which is handled in a controlled manner - 503 http status and an error page in the browser

[2015-01-28 13:28] DeepDiver1975 commented on #13735
as described here: https://github.com/owncloud/core/issues/13734#issuecomment-71832425

as for the test: no need to mount NFS - just kill .ocdata in the data dir and observer the behavior.

[2015-01-28 13:31] DeepDiver1975 commented on #13736
@mmattel do you have any explicit errorious observeration? Or is this 'only' about reporting the error from the logs? Thanks a lot!

[2015-01-28 13:32] DeepDiver1975 commented on #13731
8.0-next will pop up soon ....

[2015-01-28 13:32] MorrisJobke commented on #13734
Ah....the data dir is missing. Okay. I just thought about a subfolder of the data dir.

[2015-01-28 13:33] jancborchardt commented on #13631
I know – I was referring to that it doesn’t _feel_ like it’s possible at the moment. ;) So a change like this would be good. :)

[2015-01-28 13:34] DeepDiver1975 commented on #13727
scheduling this for 8.1 - the described scenario is not that critical from my pov

[2015-01-28 13:35] jancborchardt commented on #8268
Automatically using the pictures view when there are more than 80% pictures in the folder would be good, wouldn’t it? The other files could be shown below as well. Kind of similar to the thumbnail view in the Android app https://github.com/owncloud/android/issues/239#issuecomment-55909403

[2015-01-28 13:35] DeepDiver1975 commented on #13726
@jancborchardt for UX - THX

[2015-01-28 13:35] DeepDiver1975 commented on #13726
8.1 as well - not critical

[2015-01-28 13:37] MorrisJobke commented on #13736
For the installation this is a normal error message. It's produced when the installation is initiated. There is no config.php and it tries to open it.

[2015-01-28 13:41] DeepDiver1975 commented on #13721
@carlaschroder can you please adopt the documentation accordingly?

Two thinks are to be mentioned:
- temp space has to be big enough to hold multiple parallel uploads from multiple users - e.g. max upload size is 10GB and the average users uploading the same time is 100: temp space has to hold at least 10x100 GB
- php execution times might have to be adjusted - as described above

Thanks a lot!

[2015-01-28 13:42] mmattel commented on #13736
As for now, I do not have any error identified, but if PHP reports an error like this, I wanted to file an issue. You never know what is behind...

Just reading the comment of @MorrisJobke. I understand, but this is really ugly, and I would not call a log entry like this "normal". Not reading/knowing/remembering all the issues on github, an admin would rethink the term "confidence".

[2015-01-28 13:44] oparoz commented on #8268
@jancborchardt I could see such an automatic behaviour alienating some users. Imagine you need to edit the readme in that folder. You specifically pick the Files app to be able to work on files and you're always taken to the gallery app.
Having said that, if the gallery view, **from within the Files app**, included a mix of Files and pictures, then yes, the view should definitely switch to a thumb

[2015-01-28 13:44] DeepDiver1975 commented on #13721
How can this be fixed in ownCloud from a general POV:
- we use our chunked upload mechanism as the desktop client does - see #https://github.com/owncloud/core/issues/4380

[2015-01-28 13:45] DeepDiver1975 commented on #13734
this is not supported from my understanding

[2015-01-28 13:48] karlitschek commented on #13732
@jnfrmarks Thanks a lot. Good idea.

[2015-01-28 13:50] minils commented on #13712
I thought that my configuration is somehow popular. So I thought it would be nice for others to have the option to change the location of this lock file.

I will try to explain it some more:
In my case I have the OS, the database, the webserver (including the owncloud files) installed on SD card. And the data directory is stored on SATA drive. This means that the cron job is only spinning up my dr

[2015-01-28 13:51] jancborchardt commented on #8268
@oparoz I was just referring to how the public view is shown. That is, when you share a link to a folder which mainly contains images, it should show the image thumbnail view by default. Instead of requiring people to manually switch to that.

[2015-01-28 13:52] DeepDiver1975 commented on #13716
data migration will be fun - repair step required.

In contrary to the approach taken in #3939 I'd lower-case the existing field and not introduce a new one.
We have to very carefull where the user id is referenced in (repeating myself - FKs would help).

THX

[2015-01-28 13:55] DeepDiver1975 commented on #13712
@minils thanks for getting back on this issue!

This setup is indeed interesting and makes sense - furthermore I understand the annoyance of that disk spinning up for nothing.

Which database are you using and where is that data stored? THX a lot!

[2015-01-28 13:57] oparoz commented on #8268
@jancborchardt - Ah, good point. So core would add a thumbnail view of files which is separate from the Gallery app, but that wouldn't solve the OP's problem if he wants users to **really** land on the Gallery page, because it looks nicer, has more functionalities, etc.

[2015-01-28 14:00] degrb opened #13737 "User Management Using LDAP: Search String by Last Name"
This is in related to: https://github.com/owncloud/core/issues/8959

Search for LDAP users is still done by the x? scheme. That is, if I'm looking for an LDAP user "John Smith", I have to search for "Jo..." instead of e.g. "Smith".

I would be useful if you could do ?x? style searches for LDAP users too.

It would also come in handy if LDAP searches included the "User name" column (not just the "F

[2015-01-28 14:01] cdamken commented on #13734
what is in the case the that the folder is mounted on the server and used as data folder? and has intermittent disconnections?

[2015-01-28 14:01] minils commented on #13712
I'm using mysql and the database is stored on sd card as well.

[2015-01-28 14:02] cdamken commented on #13735
@DeepDiver1975 thanks :+1:

[2015-01-28 14:06] klondi opened #13738 "[7.0.4] sendfile colides with base.php"
Looking at the logs I found a few lines as follows:

[code]

I suspect this is related to the use of xsendfile and maybe asset-pipeline.enabled as I have both enabled. The version is 7.0.4.2 according to the config file from the portage tree in Gentoo.

For the record following the advice for large file sending I have set output_buffering = 0 as recommeneded on http://doc.owncloud.org/server/7.0/a

[2015-01-28 14:07] #13657 closed

[2015-01-28 14:09] MorrisJobke commented on #13736
@mmattel I know that this isn't the way it should work, but it is the way it currently works. I will have a look at the config stuff in the 8.1 release cycle. Nothing critical for the release.

[2015-01-28 14:10] MorrisJobke commented on #13736
ref #13736

[2015-01-28 14:10] MorrisJobke commented on #13104
see also #13736

[2015-01-28 14:11] MorrisJobke commented on #12260
see also stuff like #13736 and #13104

[2015-01-28 14:15] MorrisJobke commented on #13738
@LukasReschke Didn't you introduced the xsendfile stuff?

[2015-01-28 14:16] MorrisJobke commented on #13737
@degrb I guess this was removed to improve the performance of the search. Or am I wrong, @blizzz ?

[2015-01-28 14:16] PVince81 commented on #13631
Haha, true. I agree that it doesn't feel like it is possible :smile:

[2015-01-28 14:17] LukasReschke commented on #13738
Nope. But we have such problems in the code quite a few times – this is basically caused by us mixing old legacy stuff with new fancy appframework stuff.

That's the reason for workarounds such as https://github.com/owncloud/core/blob/723f2a1cba27345e3cba2c43887a974813402299/apps/files_sharing/lib/controllers/sharecontroller.php#L253-L256

[2015-01-28 14:22] LukasReschke commented on #10837
http://hhvm.h4cc.de/ might also be handy – saw that mentioned in IRC today.

[2015-01-28 14:24] LukasReschke commented on #10837
Current state:
![composer-graph](https://cloud.githubusercontent.com/assets/878997/5939148/995ec234-a701-11e4-995c-45e3ed9b4362.png)

Green = Tested
Yellow = Tested, fails are allowed
Red = Not tested
Grey = Unknown

[2015-01-28 14:30] nickvergessen opened #13739 ""federated cloud" share users are anonymous in activity feed due to current session restrictions"
## Steps to reproduce
1. Share a Folder as public link (with write permissions) in instance A with `UserA` (uid: `UserA`, display: `A from InstanceA`)
2. Open public link and add to instance B as `UserB` (uid: `UserB`, display: `B from InstanceB`) with "Add to owncloud" field
3. Add a File `test.txt` to the folder as `UserB`
4. Check activity feed for `UserA`
### Expected

One of:
- `UserB` create

[2015-01-28 14:36] DeepDiver1975 commented on #13705
indeed - the question is how to solve this and at the end what will be the user experience.

The by-design--behavior of sqlite being not concurrent accessible will result in all operations of all users and all clients to be executed sequentially which will be observed as "ownCloud is damn slow"

Let me see if there is a solution to the database locked issue (FYI: drupal is struggling with this iss

[2015-01-28 14:38] josh4trunks commented on #13670
great, glad it's working

[2015-01-28 14:57] PVince81 commented on #13333
I don't think there will be data loss. In the worst case the sync client will create a conflict file (which is a copy of the local/remote file (I forgot which one))

Etag propagation is all over the place in core, so not easy to track.

[2015-01-28 15:00] PVince81 commented on #13333
@tessus is user Y in group X ? Ill assume you meant they are separate

[2015-01-28 15:00] raiffeisennet commented on #11341
@PVince81 Thank you! The Patch fixed our Issue

[2015-01-28 15:03] guruz commented on #13705
...if the busy-wait comes back in as per https://github.com/owncloud/core/pull/13615 (that used to be in oc5 but then got kicked out)

More context for @karlitschek in https://github.com/owncloud/client/issues/2743

Additionally toning down parallelism also helps with timeouts where e.g. a long running move takes several minutes.

[2015-01-28 15:06] PVince81 commented on #13333
I had a quick test with cadaver and could see that when user Y uploads into "b", the etag of "b" and "a" properly changed, which should normally be detected by the sync clients.

But to be sure I'll check with the sync client as well.

[2015-01-28 15:12] MorrisJobke commented on #13324
@butonic That is already the case. But as it is checked in also changes will be recognized. Now I enabled the "use short version of array()" functionality and it appears in the config. I don't want to check that into github, because then others maybe save some stuff for stable7 and break the code. I know that I have to look for this but it also saves me time when working on master - so I'm fine wi

[2015-01-28 15:13] PVince81 commented on #13333
To make it clearer (in case you want to try it out too), here are my steps:
1. Login as "root" (the admin)
2. Create a user "u1" (no group)
3. Create a user "u2" and assign that user to a new group "g1"
4. Create a folder "a" and subfolder "b"
5. Share "a" with "g1"
6. Share "a/b" with "u1"
7. Start cadaver (CLI webdav client) for "u1"
8. Check properties of "b"
[code]
9. Start another cadaver ses

[2015-01-28 15:13] blizzz commented on #13533
OK, i think i have a fix here: https://github.com/owncloud/core/pull/13740
(mind: it is against master)

[2015-01-28 15:19] PVince81 commented on #13333
Ok, now I set up a sync client for "u2" (the group member).

I kept the cadaver session of "u1" and then uploaded another file "test2.txt" there.
After a few seconds, the sync client successfully downloads "a/b/test2.txt".

This is all on OC 7.0.4.

Can you tell us how the sync client of "u2" is configured ? I simply used "Sync everything from server" in the wizard. Maybe that user picked somethin

[2015-01-28 15:23] blizzz commented on #13737
@degrb please have a look at the User Search Attributes, it is all documented: http://doc.owncloud.org/server/7.0/admin_manual/configuration/auth_ldap.html#directory-settings

Just add sn, fn, employeeNumber or whatever you want and everything will be taken into account. When you have seperate first and last name there, you can even look for "Smi Joh" and "John Smith" will be found.

And you can s

[2015-01-28 15:23] #13737 closed

[2015-01-28 15:49] fleish commented on #12801
1) I re-ran the query with headers on and do see the share_type column
id|share_with|uid_owner|parent|item_type|item_source|item_target|file_source|file_target|expiration|token|share_type|permissions|stime|accepted|mail_send
4|ops|**REDACTED_GUID1**||folder|328|/328|328|/Ops|||1|31|1393560988|0|0
6|**REDACTED_GUID2**|**REDACTED_GUID1**||folder|328|/328|328|/Ops|||0|31|1393563973|0|1
7|IT|**REDACTE

[2015-01-28 15:50] jancborchardt commented on #6855
Closing for inactivity. Besides, apps shouldn’t be allowed to register in that area, only in the apps dropdown.

[2015-01-28 15:50] #6855 closed

[2015-01-28 15:52] jancborchardt commented on #1718
This has been fixed some time ago already:

* there’s lazy loading for the users
* groups can be viewed separately
* filtering works nicely

[2015-01-28 15:52] #1718 closed

[2015-01-28 15:52] PVince81 commented on #12801
3) So far I only know of two possible broken shares:
   a) shares that point to a file that doesn't exist any more. We checked that before here https://github.com/owncloud/core/issues/12801#issuecomment-69759608, maybe we should try deleting these bogus entries ? I'm not sure why they would be orphaned at this point.
   b) shares where the parent points to a non-existing share. You said there were

[2015-01-28 15:55] sbelov1 commented on #13533
@blizzz sounds good. Please let me know the instructions for applying it once its all set.

[2015-01-28 16:09] fleish commented on #12801
3a) I can try dropping those in a bit (about to hop a train), but they don't seem to correlate to the share(s) I'm testing and having issues with.

4) My production instance is on 6, but I'm testing on a cloned instance that I keep rolling forward/back. It's currently on 7 as I've been testing proceeding with the upgrade and unsharing/re-sharing. This is not my preferred method, but at some point

[2015-01-28 16:09] blizzz commented on #13533
@sbelov1 here is the corresponding PR for stable7: https://github.com/owncloud/core/pull/13742

You can get a diff here https://github.com/owncloud/core/pull/13742.diff, save it and apply it using patch against 7.0.4 (worked for me):

[code]

[2015-01-28 16:18] RealRancor commented on #13656
@SISolutions
Ping. Have you tried the mentioned/linked fix?

[2015-01-28 16:20] DeepDiver1975 commented on #13543
@myymi @JSoko beta versions of previously shipped apps have been uploaded to the appstore. Can I ask you to retest the installation of e.g. calendar and contacts? THX a lot

[2015-01-28 16:21] DeepDiver1975 commented on #13579
@schiesbn @nickvergessen can you please get in touch with @jnfrmarks to get this sorted out? THX

[2015-01-28 16:22] LukasReschke commented on #13719
Reply is at https://github.com/owncloud/windows_network_drive/issues/175#issuecomment-71863982 – I have honestly no idea to what LDAP stuff you are referring to.

[2015-01-28 16:26] jancborchardt commented on #10116
I’m closing it then. The checkbox needs a big enough clickable area as described above.

[2015-01-28 16:26] #10116 closed

[2015-01-28 16:34] nickvergessen commented on #13579
Can reproduce, happens to me aswell!

[2015-01-28 16:36] DeepDiver1975 commented on #13579
Great! Fix it! :speak_no_evil:

[2015-01-28 16:46] JSoko commented on #13543
Hello can't install calendar 8 or contacts 8
Error	core	Die Applikation kann auf Grund von unerlaubten Code nicht installiert werden	2015-01-28T16:41:35+00:00
Error	core	App "calendar" is using a not allowed call "OC_App::". Installation refused.

Could this have something to do with the codechecker?:
https://github.com/owncloud/core/issues/11065

[2015-01-28 17:03] PVince81 commented on #12801
I think there is a slight chance that deleting these bogus entries will heal the instance. Because OC might try and mount one of them and the failure makes it give up completely and possibly affect anything else.

If you're able to confirm that these orphaned shares were the cause then we might be able to provide a fix to mitigate the issue / or at least make OC ignore them. So far I believed that

[2015-01-28 17:08] PVince81 commented on #13690
- [ ] only refresh the file list if in root of "All files" (shares wouldn't be imported in other subdirs)

[2015-01-28 17:10] sbelov1 commented on #13533
@blizzz this patch wouldn't affect any changes to the database or anything, right? Just a php code? Just wanted to make sure its safe to run as customer is on a production environment.

[2015-01-28 17:10] karlitschek commented on #13543
Not sure which version you are using. There is not 8.0.1 beta
Do you mean 8.0.0 beta 1 or 2?
The mentioned error is fixed in the meantime and will be released in the next beta. You can also check the nightly build if you want.
Thanks a lot for reporting.

[2015-01-28 17:10] #13543 closed

[2015-01-28 17:15] JSoko commented on #13543
Helo Frank,

the threadopener wrote about 8.01 beta.

I've had this Issue with 8.0 alpha 1, alpha 2, beta 1 and beta2
Actually I tested with beta 2.

As I wrote yesterday calendar and contacts are working witth the app from github
https://github.com/owncloud/calendar/releases

Ciao,
Joachim

[2015-01-28 17:18] karlitschek commented on #13543
Great. Good to hear :-)

[2015-01-28 17:22] PVince81 commented on #12429
I have access to an environment where this error happens so I'll try and debug it.

I suspect that SQLite might be locking the DB as soon as a write operation happens, and only free the lock once the PHP request has finished. Not sure why the preview creation would want to write anything to the DB. I suspect it might be simply adding an entry for the thumbnail fail.

Needs further research. Assign

[2015-01-28 17:27] mmattel opened #13744 "setupchecks.js: Message: WebDAV interface seems to be broken"
Ubuntu 14.04, MySQL, PHP 5.5, nginx, Browser W7/Opera 24, fresh install of git/master

@PVince81 @LukasReschke

Old story about the config check message in the admin page:
'Your web server is not yet properly setup to allow files synchronization because the WebDAV interface seems to be broken.'

I questioned myself why I get this message and did browser debugging.
The result is shown in the screen

[2015-01-28 17:29] nickvergessen commented on #13579
@schiesbn as a help, this only works when the file was not shared publicly.

This is due to the `pubShare_***.shareKey` missing. As soon as you public share it, the key is generated and the remote share works aswell. When you remove the link share again, the key gets removed and the error happens again.

So what needs to be done is, when removing a link share, check whether a FC share exists. And

[2015-01-28 17:39] LukasReschke commented on #13744
Kinda hard to debug this without test account / domain – would it be possible to get me access to that instance? You can find my mail address in my profile.

[2015-01-28 17:41] nickvergessen commented on #13690
could also display a list with all shares and then add a check box for "accept/deny all"

[2015-01-28 17:42] jkroepke opened #13745 "owncloud data directory cleaner"
Hi,

our owncloud data directory as more users as owncloud users exists.

We have stared back in 2012 with owncloud 4 or 5, now we use the lastest version of owncloud.

As of #6271, the users data will delete since owncloud 7.

I would like to have a cleaner (cli command?) to delete unsed user data directory.

Thanks and sorry for this english.

[2015-01-28 17:46] DeepDiver1975 commented on #13543
to clarify the app code checker is disabled in oc8 since yesterday (https://github.com/owncloud/core/pull/13701) and even beta 2 does not contain the necessary changes.

For testing the appcodechecker can be disabled in the config by setting 'appcodechecker' to false.

After this change apps should be installable from the appstore.

Sorry for not being precise enough about my request to retest thi

[2015-01-28 17:46] fleish commented on #12801
I tried deleting orphaned shares from db in OC6, upgrading to OC7, and then checking the web client but the behavior is the same. No personal files and can't access individual shared folders  - I get bumped back to the main page.

[2015-01-28 17:56] tessus commented on #13333
@PVince81 Thanks for the info. Here are my answers and some ideas:

* user Y (u1) is not in group X (g1)
* all my sync clients use "Sync everything from server"
* I don't know, if it makes any difference, but user Y uploads with the web interface (no sync client or webdav)
* user (u2) in group X (g1) runs 2 sync clients on different machines

I noticed something strange and not quite reproducable:

[2015-01-28 18:17] carlaschroder commented on #13721
https://github.com/owncloud/documentation/pull/792
Feel free to make your own tweaks; I'm gone feb 3-13 and am out of time for anything but oC 8 release work.

[2015-01-28 18:17] #13721 closed

[2015-01-28 18:40] mmattel commented on #13744
Done, eMail sent.

[2015-01-28 18:47] jnfrmarks opened #13747 "Improve CSS on server error page"
### Steps to reproduce

1. Install and configure 7.0.4 and owncloud 8.0.0
2. Bring down the DB box
3. Try to access 7.0.4 - get valid error message
4. Try to access 8.0.0 - get Internal Server Error message

### Expected behaviour

The user should get the same message (can't reach DB) in both cases

### Actual behaviour

User gets Internal Server Message in 8.0.0

Screen shot from 7.0.4:

![p270](

[2015-01-28 18:48] LukasReschke commented on #13747
Actually the Internal Server Error is the expected behaviour as we didn't want to leak information why is something down which can contain the IP of the remote host etc…

Though the CSS should work as well, but that is a different issue ;-)

[2015-01-28 18:48] LukasReschke commented on #13747
Internal Server Error == A page for all errors. Admin can see details in the owncloud.log or enable DEBUG mode in which case he will see a proper error description and stacktrace.

[2015-01-28 18:50] LukasReschke commented on #13747
The Server Error page has been introduced with 8.0 – thus not available on 7

[2015-01-28 18:50] jnfrmarks commented on #13747
Makes sense.

I'll change the title to: improve css on internal server error message

[2015-01-28 18:58] LukasReschke commented on #13747
No CSS is added since the query to appconfig fails. Great dependency fun :/
[code]

[2015-01-28 19:41] myymi commented on #13543
Hi!

Sure, here are the results:

Documents 8.0 fails still with error   inode/x-empty type archives are
not supported

Others activate nicely after adding 'appcodechecker' => false, to the
config.php, but give me non-funcional apps on the menu, showing some
elements, but scramble everything up. Also, some elements keep on
loading endlessly.
Screenshot of the Contacts (sry, my installation is in E

[2015-01-28 19:42] mmattel commented on #13744
There is no bug, it was al local setup problem I was able to sort out with the help of @LukasReschke, sorry for any inconvinience caused. I close this issue.

[2015-01-28 19:42] #13744 closed

[2015-01-28 19:47] PVince81 commented on #12801
Too bad :frowning:

When you open the "All files" page, do you see an error message in owncloud.log appearing at the same time ? I guess it will probably be the "Shared storage 3 cannot be mounted" one.

Check the browser network console and check the response of the "list.php" call. I expect it should be 500 Internal server error.

Are you able to enable XDebug on the server and see if you can ge

[2015-01-28 19:48] PVince81 commented on #13333
Hmmm, can you describe the setup of these two sync clients ? Is one running on Windows and the other one on Mac ?

[2015-01-28 19:52] tessus commented on #13333
Nope, both (1.7.1 build 1655) are running on MacOSX 10.9.5 and both are setup to sync the entire directory structure.

[2015-01-28 19:54] PVince81 commented on #12801
I think there's one thing we didn't check.
Which user did you login with ? Let's assume it is "GUID1".

Try getting all shares where GUID1 appears as target:
`select * from oc_share where share_with='GUID1'`,

and also as target through a group:
`select * from oc_share where share_with in ('group1', 'group2')`; (replace with the name of the groups the user is in)

Since you deleted the orphaned sh

[2015-01-28 19:56] PVince81 commented on #12801
Let me know at least when you have the share entries for that user.
Maybe one of the "parent" entries is pointing to NULL instead of the proper parent value (which could be caused by older bugs). When a file/folder is shared with a group, it should normally have one entry with the group share, and sub-entries for each member of the group. Every sub-entry must have its "parent" value point to the m

[2015-01-28 20:18] jtremblay1977 commented on #13436
I have the same issue, but when i try with the ip, it's working.  I have that issue only with full name.

[2015-01-28 20:38] bkerensa opened #13748 "Support U2F"
Would be great to see OwnCloud be a leader in support U2F authentication

[2015-01-28 20:47] karlitschek commented on #13748
Do you volunteer to work on that?

[2015-01-28 20:48] karlitschek commented on #13543
Can you try again? There was a filesize problem on the server side.

[2015-01-28 21:05] puggan opened #13749 "chown php error on install"
Got his (as json) in my apache log when trying to install (button after filling in database auth)

    Array
    (
        [app] => PHP
        [message] => chmod(): No such file or directory at \/usr\/share\/webapps\/owncloud\/7.0.4\/htdocs\/lib\/private\/log\/owncloud.php#88
        [level] => 3
        [time] => 2015-01-28T20:39:53+00:00
    )

according to
http://doc.owncloud.org/server/7.0/ad

[2015-01-28 21:06] MorrisJobke commented on #12035
I can try to write that one-shot script, but I need the help from @blizzz and @PVince81 if this is possible. What is to do to get this working?

* for the users of wrong1 - update the username in the database & move their user folder (this includes the rename of the storage)
* for the users of wrong2 - update the username in the database & adjust the storage (or is this already correct? I think a

[2015-01-28 21:14] puggan opened #13751 "Only variables should be passed by reference"
when trying to install i get:

	Array
	(
		[app] => PHP
		[message] => Only variables should be passed by reference at \/usr\/share\/webapps\/owncloud\/7.0.4\/htdocs\/lib\/private\/template.php#287
		[level] => 3
		[time] => 2015-01-28T20:39:53+00:00
	)

where row 287 is the getHint() row in

      } else {
         $hint = '';
         if ($exception instanceof \OC\HintException) {
            $h

[2015-01-28 21:18] bkerensa commented on #13748
I volunteer for no such things I am busy upstream building the browser that loads your app :P

[2015-01-28 21:25] puggan commented on #13751
sanitizeHTML is currently at
https://github.com/owncloud/core/blob/30a5758a95f612d00f9aed934819f16c67aceefc/lib/private/util.php#L1021

the getHint() row:
https://github.com/owncloud/core/blob/9ab62ad5b787d44238c842f633fc950918aaa796/lib/private/template.php#L287

removed in:
https://github.com/owncloud/core/blob/6d3757f8648cb94b2ba04c6a5bfbc9dd1493103b/lib/private/template.php

[2015-01-28 21:38] myymi commented on #13543
Should I try to re-enable apps? Because re-enabling leads to error "
directory already exists", although I have the apps disabled.
28/01/15 22:48, Frank Karlitschek kirjutas:

[2015-01-28 21:51] fleish commented on #12801
Negative, I don't see anything logged for the blank "All files page" in OC7 (hopefully you meant here and not OC6). The shared storage error only happens when I click on a shared folder within "Shared with you". This also reminds me of another piece of data I may not have mentioned before. The only thing that does show up in "All files" is a folder named "Shared". Pre-OC7 this was the only way to

[2015-01-28 22:19] carlaschroder commented on #10657
so....does this need an oC 8 release note, and what should it say? "don't use the encryption app"  :)

@MTRichards
@schiesbn
@MorrisJobke
@PVince81

[2015-01-28 22:24] DeepDiver1975 commented on #13748
Falls into the area of two factor auth. From my understanding we first have to bring core into share for the basic ground work. Explicit implementations can follow afterwards in apps. @lukasreschke thx

[2015-01-28 22:29] LukasReschke commented on #13748
Correct – https://github.com/owncloud/core/issues/12102

[2015-01-28 22:37] carlaschroder commented on #9201
removing release note label as this issue is fixed https://github.com/owncloud/core/issues/9014

[2015-01-28 22:44] carlaschroder commented on #10983
added to 8.0 release note

[2015-01-28 22:51] carlaschroder commented on #8976
added to 8.0 release notes

[2015-01-28 22:57] PVince81 commented on #12801
I meant OC 7 all along.

Okay, if users only see the Shared folder then it's not an error when building the list. I was rather expecting an empty list without message (normally it shows "No files here, upload something!")

The file list that you see in the UI is normally based on the files in oc_filecache + the shares shared with that user. Seeing nothing at all, not even the user's own files is s

[2015-01-28 22:58] PVince81 commented on #12801
About XDebug: when an exception/error is logged it might contain more info. (Ex: the shared storage one)

[2015-01-28 23:04] MorrisJobke commented on #10657
Yes.

[2015-01-28 23:05] MorrisJobke commented on #10657
@carlaschroder Just kidding. No idea. @schiesbn can answer this best I guess

[2015-01-28 23:15] MorrisJobke commented on #13748
Should we close this in favour of #12102 or should this be kept open to track this specific protocol?

[2015-01-28 23:16] MorrisJobke commented on #13751
@puggan Can I ask you to fill out the issue template: https://github.com/owncloud/core/blob/master/issue_template.md Especially the architecture of your server and the steps to reproduce. Thanks

[2015-01-28 23:21] fleish commented on #12801
Yes, the user is my own and I definitely have personal files + things shared with others + things shared with me. In "All files" I see just the shared folder and when I enter that folder I see "Nothing in here. Upload something!". Conversely, if I go in through "Shared With Others" I see all the things shared with me, but if I try to access those from that screen I get the spinning wheel for a bri

[2015-01-28 23:46] carlaschroder commented on #5952
removing release note tag cos 13160

[2015-01-29 00:02] RealRancor commented on #13749
Related to https://github.com/owncloud/core/issues/13736 ?

[2015-01-29 00:08] fleish commented on #12801
OK, I have nothing shared with me or from me but same behavior - nothing other than the "Shared" folder in "All Files"

[2015-01-29 01:21] MTRichards commented on #10657
I think a release note on performance when encrypting a large number of files would be a good idea.

[2015-01-29 01:32] carlaschroder commented on #10657
done.

[2015-01-29 05:27] jcfischer commented on #12801
We seem to have run into the same problem when upgrading our production instance yesterday (We did a test with one of the earlier oC7 releases and the upgrade ran fine) and had to roll-back to 6.0.6
I have just skimmed through the comments. I will try to check some of listed DB queries (we are running on Postgres 9.3).

Manually going in and deleting shares however is NOT an option for us: We have

[2015-01-29 07:38] #13748 closed

[2015-01-29 07:52] MatthiasJost commented on #12263
Is this bug still open in 7.0.4? (https://owncloud.org/changelog/)

[2015-01-29 08:01] LukasReschke commented on #12263
7.0.4 might still be affected. We did some changes to ownCloud 8 in regard to config handlig so you might try the beta and report back.

[2015-01-29 08:40] butonic commented on #12801
@MorrisJobke Likely a duplicate of https://github.com/owncloud/core/issues/12035. This report also conains relevant log messages.

[2015-01-29 08:56] DeepDiver1975 commented on #13745
well - because the folder structure in the data dir is damn simple that command would not no more then

[code]

I honestly see no real benefit in adding a command for this.

[2015-01-29 08:58] DeepDiver1975 commented on #13745
@jkroepke or do you have any additional features in mind what this command can/should do?

If you think about a mechanism like: "Hey delete all unknown users" - I honestly will not advise to implement this - just imagine a user backend not responding properly or only deliver a partial set of known users - we would delete data of existing users.

That's rather scary!

[2015-01-29 09:04] PVince81 commented on #12035
The storage id logic works as follows:
Whenever a user "userx" has their filesystem setup:
1. Look at `oc_storages` whether there is an entry with id "local::$datadir/userx/". If yes, use it. (replace $datadir with the data dir location, yes... hard-coded in the DB)
2. Else: look at `oc_storages` for an entry with id "home::userx". If yes use it.
3. Else: no entry found, auto-create one with id "h

[2015-01-29 09:05] DeepDiver1975 commented on #12429
Sorry for spaming this to all sqlite issues these days - here is a long discussion about this issue on teh drupal project - https://www.drupal.org/node/1120020 .

[2015-01-29 09:07] PVince81 commented on #12801
So does it mean some mechanism would have triggered a LDAP user id format change ?

[2015-01-29 09:10] PVince81 commented on #12035
In the case of LDAP user change it would likely also create a new entry on the filesystem under "data/newuserid" instead of reusing the files from "data/olduserid". But I guess this was already known.

I'm not so familiar with the user id format for LDAP and have no idea would they would even change in the first place, especially when upgrading from 6.0.6 to OC 7 ?!

[2015-01-29 09:10] gudbergsen commented on #12785
I have the same problem:

Operating system:
Windows 7

Web server:
Apache 2.4.9

Database:
mysql 5.0.11

PHP version:
5.5.11
ownCloud version:
7.0.3

Owncloud.log
{"app":"PHP","message":"touch(): Utime failed: No such file or directory at I:\\Hjemmesider\\intranet\\lib\\private\\config.php#183","level":3,"time":"2015-01-29T01:12:48+00:00"}
{"app":"PHP","message":"touch(): Utime failed: No error at

[2015-01-29 09:11] MorrisJobke commented on #12035
@PVince81 So case 3 can be ignored because this also happens on initial login or am I wrong?

[2015-01-29 09:14] LukasReschke commented on #12785
@gudbergsen You're using Windows which thus is likely to be another problem and your owncloud log shows different information as well. – Can you please test with the above changes applied. Thanks.

https://github.com/owncloud/core/pull/13699 should be easy to apply. https://github.com/owncloud/core/pull/13621 requires a little bit more fiddling. The first one might already help.

[2015-01-29 09:15] jcfischer commented on #12801
we can also provide log files from the tests with a few users. We have seen the `Unable to get mount for shared storage 'X' user` messages during the tests

[2015-01-29 09:15] PVince81 commented on #12035
There are not cases, just the sequence for the logic.
It only explains why OC might have decided to create a new home instead of reusing the old one (either when data dir changed or the user id changed)

[2015-01-29 09:16] PVince81 commented on #12035
Do we have an explanation yet for the sudden change of user id without admin interaction ? Was there any recent change in OC 7.0.4 that might cause it ?

[2015-01-29 09:18] MorrisJobke commented on #12035
@blizzz Was there a default value change somewhere in the LDAP settings?

[2015-01-29 09:20] MorrisJobke commented on #12801
@jcfischer You said, that an upgrade to an older OC7 worked. Which one was this? 7.0.3? This maybe helps to spot the actual cause of this.

[2015-01-29 09:21] DeepDiver1975 commented on #9632
@bantu ping

[2015-01-29 09:28] DeepDiver1975 commented on #12785
@gudbergsen in case you are still facing problem - please open an new issue in there - THX

[2015-01-29 09:28] butonic commented on #12035
looking at update.php we are updating the `ldap_expert_uuid_user_attr` to `''` if it was not set before:
https://github.com/owncloud/core/blob/stable7/apps/user_ldap/appinfo/update.php#L19 will return 'not existing'
https://github.com/owncloud/core/blob/stable7/apps/user_ldap/appinfo/update.php#L22 sets value to `''`
https://github.com/owncloud/core/blob/stable7/apps/user_ldap/appinfo/update.php#L

[2015-01-29 09:32] DeepDiver1975 commented on #13450
@mwehr so we have a console command to be used for migrating the keys for ldap users - feel free to use this command to fix your installation. Thanks a lot!

[code]

[2015-01-29 09:32] #13450 closed

[2015-01-29 09:36] manitooo commented on #12785
OK, just a hint to make it easier to patch the sources. :

- Go to the commits tab of a particular issues (here #13621)
- copy paste each changeset link to clip board :
       - https://github.com/owncloud/core/commit/c61e9f391273e5f7f4b7aa91ee4174d47402cae9
       - https://github.com/owncloud/core/commit/039397bd3104d92f7957263520eab0ccfb54f869
       - https://github.com/owncloud/core/commit/9a

[2015-01-29 09:46] jcfischer commented on #12801
We did a test upgrade with our (then) live db/filesystem in October/November I think. Either with a 7.0rcSomething or 7.0.1 - I think it was the first Enterprise release we tried

[2015-01-29 09:52] PVince81 commented on #12429
From what I see here it seems to happen mostly when writing the thumbnail entries in oc_filecache, and that triggers an update of the parent folder's size in the file cache. Not sure whether this is really necessary when outside of "files/":
[code]

In general it looks like there are still too many DB queries done (independently from SQLite)

[2015-01-29 09:52] manitooo commented on #12785
Then, do not try the
```patch -p0 < fix.patch```
it will not suit patch statements

better try :
[code]
then checking what will be done by
[code]

the, in case of no errors :
[code]

For my case, the patch does not apply nicely :
[code]

I'll check later what I have to do

[2015-01-29 09:53] MorrisJobke commented on #12035
@butonic This was change in 7.0.3 https://github.com/owncloud/core/commit/ada93bab0cd0cdb14a66b2ebdecba68c26a1107e

@blizzz Could that be the problem?

[2015-01-29 09:53] butonic commented on #12035
Then again I might be wrong because it was explicitly changed from `'auto'` to `''` for 7.0.3 in https://github.com/owncloud/core/commit/ada93bab0cd0cdb14a66b2ebdecba68c26a1107e#diff-2af2ba33b6e46e7c274bfe956b1cda78R22

@blizz can you elaborate on 'must be empty not auto'

[2015-01-29 10:04] jnweiger commented on #12125
https://build.opensuse.org/package/show/home:jnweiger:branches:isv:ownCloud:community:7.0/owncloud got lost meanwhile. Restored.

[2015-01-29 10:14] MorrisJobke commented on #12801
@jcfischer We possibly found the problem: https://github.com/owncloud/core/issues/12035#issuecomment-71993959 We will keep you up to date.

[2015-01-29 10:20] jcfischer commented on #12801
@MorrisJobke great to hear. We will test the next update before doing it in the productive environment....

[2015-01-29 10:21] mwehr commented on #13450
Perfect thx!

[2015-01-29 10:45] rzg-kaiser commented on #13620
We (Tegomena is a collegue of mine) had a bit closer look at the problem.

It appears to be a bug in files_texteditor (the file in question was a text file).
I submitted a bug report with a possible fix there:

https://github.com/owncloud/files_texteditor/issues/58

[2015-01-29 10:51] PVince81 commented on #12429
Potential fix here: https://github.com/owncloud/core/issues/13752

Seemed to make the exception disappear in our local env.

[2015-01-29 11:04] a-schild commented on #9342
I have created a "read-only" login with a storage quota of 0Bytes.
When I login with this user and try to upload a file via Drag&Drop I also see the Nan message.
![dateien - owncloud_2015-01-29_11-55-25](https://cloud.githubusercontent.com/assets/1441009/5956519/fe734e12-a7ae-11e4-97af-be9318f2e9be.png)

[2015-01-29 11:10] nickvergessen commented on #13685
Reported in https://github.com/owncloud/search_lucene/issues/55 since it's not a core issue (core has no content search)

[2015-01-29 11:10] #13685 closed

[2015-01-29 11:10] MorrisJobke opened #13754 "files external unit tests broken"
Due to the move to exceptions instead of true/false as  return value:

[code]

cc @icewind1991 @PVince81 Can you fix that? I simply just can fix the tests regarding what is currently implemented and not what is actually wanted. So it's maybe better if you fix the unit tests ;) Thanks

If you have docker installed you can simply run `./autotest-external.sh sqlite` otherwise add the files_external a

[2015-01-29 11:13] MorrisJobke commented on #13620
@rzg-kaiser Thanks. Then this can be closed.

[2015-01-29 11:13] #13620 closed

[2015-01-29 11:15] PVince81 opened #13755 "Use part files for web UI upload"
### Steps to reproduce
1. Prepare a bag full with luck
2. Enable encryption
3. Setup the sync client
4. Upload a lot of small files with the Web UI
5. While the Web UI is still uploading, the sync client will at some point start downloading

### Expected result
No encryption error in log

### Actual result
If you're (un-)luck, it might happen that the sync client sees a file while it is still bein

[2015-01-29 11:16] PVince81 commented on #13755
I forgot to mention that the sync client will show an error when downloading that incomplete file. The next sync run will redownload it and all is fine in the end.

[2015-01-29 11:18] PVince81 opened #13756 "Use "part" folder for huge file operations"
When deleting a huge folder with subfolders, it can take a long time to move it to trash (especially if from external storage).

One idea would be to first rename the folder "test" to "test.part" to make it invisible to regular file operations. At this point neither web UI nor sync client will see it, so it will appear as deleted, while the "test.part" folder is still being moved to trash.

Such i

[2015-01-29 11:20] PVince81 commented on #12487
- [ ] Use "part" folder for huge folder operations: https://github.com/owncloud/core/issues/13756
- [ ] Use part files for web UI uploads: #13755

[2015-01-29 11:25] SergioBertolinSG commented on #13579
Moving files from a remote shared folder in an encrypted server to a local folder in a not encrypted server using webdav interface returns 503 service unavailable.
Using {"installed":true,"maintenance":false,"version":"8.0.0.4","versionstring":"8.0 beta 2","edition":""}

[2015-01-29 11:29] PVince81 commented on #10566
Looks like we might be on the right track: https://github.com/owncloud/core/pull/13752

I can have a look at all "SELECT" statements in code and add an explicit "closeCursor()".
And we can make it a rule that all cursors must ALWAYS be closed explicitly.
This way we would avoid those special cases where closing might be important.

[2015-01-29 11:30] nickvergessen commented on #13686
Moved to https://github.com/owncloud/search_lucene/issues/56

[2015-01-29 11:30] #13686 closed

[2015-01-29 11:31] nickvergessen commented on #13579
@SergioBertolinSG thats a totally different thing, so please reopen a new issue

[2015-01-29 11:41] schiesbn commented on #13579
@nickvergessen not sure... Maybe this happens because we can't read the encrypted file because of the missing share key

[2015-01-29 11:42] blizzz commented on #12035
@butonic @MorrisJobke  yes, that's it. ldap_uuid_*_attribute must be auto and the other pair ''. The commit @butonic pointed to was supposed to only fix one default value (of the expert settings). No idea what came over me :rage:

[2015-01-29 11:52] SergioBertolinSG opened #13758 "Moving files from a remote shared folder in an encrypted server to a not encrypted server using webdav fails."
### Steps to reproduce

Having two servers server1 and server2, server1 is encrypted and server2 isn't.

1. Share a folder with files from server1 to server2.
2. Using webdav interface of server2 try to move a file from remote shared folder located in server1 to a local folder of server2.

### Expected behaviour
File is moved correctly.

### Actual behaviour
Move fails and it returns:
503 Service

[2015-01-29 11:53] SergioBertolinSG commented on #13579
I have opened it, #13758

[2015-01-29 11:54] bantu commented on #9632
@DeepDiver1975 Not sure there is anything that can be done about this ticket in particular, but if PHP 5.6.1+ compatibility is desired (I think it is), we should upgrade to 0.3.9 to get https://github.com/phpseclib/phpseclib/pull/493/files
Besides that, the improvements to Net_SSH2 are important for our SFTP support.
Also see https://github.com/phpseclib/phpseclib/blob/master/CHANGELOG.md

[2015-01-29 12:05] SISolutions commented on #13656
Hello,

yes it solved my problem.

will you or i will mark it at github like soved ?

Thank you.

John Pagourtzis | SISolutions
jp@sisolutions.gr
http://sisolutions.gr

On Wed, Jan 28, 2015 at 6:18 PM, RealRancor <notifications@github.com>
wrote:

[2015-01-29 12:06] PVince81 commented on #12429
@arno01 @hanspeter-heeb are you able to test with the patch from https://github.com/owncloud/core/pull/13752 ?

[2015-01-29 12:38] RealRancor commented on #13656
Hi,

i don't have any permissions but you could close it yourself.

[2015-01-29 12:38] PVince81 opened #13761 "Warning in log when uploading files into a shared folder with sync client"
### Steps to reproduce
1. Enable encryption
2. Create two users "user1" and "user2"
3. Login as "user2" and share a folder "sha" with "user1"
4. Setup the sync client for "user1"
5. Copy a folder full with files into the local "sha" folder
6. Wait for sync and observe sync.log

### Expected result
Successfull sync, nothing in log

### Actual result
Successfull sync, but log full of this:
[code]

#

[2015-01-29 12:40] schiesbn commented on #13758
I can reproduce it... Will have a look at it

[2015-01-29 12:49] schiesbn commented on #13690
For 8.1 I would love to have a sidebar entry "open remote shares" or something similar (maybe even with a counter). This view should give the user a list of open shares so that he can accept/decline them one-by-one or in groups if he marks some shares before performing a operation. On login only a yellow banner at the top should appear telling the user the new "open shares" exists.

I think this w

[2015-01-29 12:56] schiesbn commented on #13678
"http://" already gets stripped away. I think this is mainly a documentation issue to tell people that they can address remote ownClouds like email addresses "user@domain", I don't see a reasons to support every kind of URLs and start guessing the right one by stripping "random" parts of the URL.

[2015-01-29 13:00] Plato39 commented on #7046
I have the same issue. Owncloud is version 7.0.4 -  Client 1.7.1
Running on XP via WAMP.

Also - renaming folders through web interface deletes folders locally.

[2015-01-29 13:09] lordaivan commented on #13712
I have a similiar setup, and got the same "problem" with the HD spinning up again. Ive been thinking about that problem for a while my solution will be:
copy the data folder back onto the internal emmc card, but let the user folders (in my setup i only have a few) reside on the external hd and ln -s them back into the data folder.
I will get back to you as soon as i found time and can confirm that

[2015-01-29 13:10] PVince81 commented on #13690
The sidebar idea sounds good.

CC @owncloud/designers

[2015-01-29 13:17] blizzz commented on #9201
@carlaschroder that PR is about the admin page. I am not aware it was fixed on Users page yet.

[2015-01-29 13:19] #13617 closed

[2015-01-29 13:19] MorrisJobke commented on #13617
fixed in #13682

[2015-01-29 13:22] DeepDiver1975 commented on #13754
started to break in https://ci.owncloud.org/job/server-master-linux-externals/498/

[2015-01-29 13:23] MorrisJobke commented on #12429
Fixed with #13752

[2015-01-29 13:23] #12429 closed

[2015-01-29 13:23] MorrisJobke commented on #13754
@DeepDiver1975 404 :(

[2015-01-29 13:31] schiesbn commented on #13695
There is code in lib/private/share/share.php which check exactly this and refuses to create such shares. That's why we have such a descriptive error message for it.

But I'm not sure why we prevent such shares... @PVince81 do you have a idea? I remember we discussed all this cases various cases from mount points in mount points and reshares a lot. At the moment I don't see why it is blocked, but I

[2015-01-29 13:33] jancborchardt commented on #13524
Where are the repositories of these apps? I couldn’t find them. If you let me know where they are, I can add the icons.

[2015-01-29 13:33] jancborchardt commented on #13524
cc @DeepDiver1975

[2015-01-29 13:33] schiesbn commented on #13695
Btw. that's not s2s related, same should happen if you try to reshare it to a local user.

[2015-01-29 13:33] MasterCassim opened #13763 "Upload unnecessary copies files"
Hey,

I finally got upload of files greater than 4GB working by upgrading to the php 5.6 version. The problem now is that once the file is uploaded it gets copied to the destination file 4096 byte at a time (fromTmpFile() -> file_put_contents() -> streamCopy()); for large files this takes really long and uses all available disk bandwidth (clogging the system). Wouldn't is be better to just move th

[2015-01-29 13:34] jancborchardt commented on #13112
cc @ciordache this would be a good issue to get started with for example. :)

[2015-01-29 13:34] PVince81 opened #13764 "Parallel upload in fresh OC inserts same mimetype multiple times"
### Steps to reproduce
1. Setup a brand new ownCloud instance (where the oc_mimetypes table is empty)
2. Setup the new sync client 1.8.x that supports parallel uploads
3. Copy a folder full of JPG files into the local folder and let it sync up (they all must have the same mime type)

### Expected result
No warnings

### Actual result
If you're (un)lucky, for each file uploaded in parallel, OC will

[2015-01-29 13:35] PVince81 commented on #13764
Strange thing though, I see the same file name appear multiple times. I would expect to only see every file name once...

[2015-01-29 13:35] PVince81 commented on #13761
Also happens with MySQL + encryption.
It doesn't happen when encryption is disabled.

[2015-01-29 13:36] PVince81 commented on #13761
CC @schiesbn

Not critical, but pollutes the log.
What do you think @DeepDiver1975 ?

[2015-01-29 13:40] blizzz commented on #13533
@sbelov1 exactly. If you took it from before, please save it again, i did a fix there. About code quality in general: yet it has neither not been tested by someone else and from review side got only few comments on coding style and inline documentation.

[2015-01-29 13:47] MTRichards commented on #13705
@carlaschroder Add a release note please about downloading folders in SQLite with Android as a known issue.

[2015-01-29 13:48] PVince81 commented on #12428
Please try if this https://github.com/owncloud/core/pull/13752 fixes for you

[2015-01-29 13:50] nickvergessen opened #13765 "Trying to share with a remote user twice gives wrong error"
Instead of saying the item is already shared with the user,
you get: `Sharing Folder failed, could not find test@localhost/ownCloud/Master, maybe the server is currently unreachable.`

@schiesbn

[2015-01-29 13:50] nickvergessen commented on #13765
But that's something we can fix later.

[2015-01-29 13:53] nickvergessen commented on #13734
Propable the same as setting it to an non existing drive...?

[2015-01-29 13:54] karlitschek commented on #13705
We should fix the issue before we discourage the usage of a database.
There is a potential fix here: https://github.com/owncloud/core/pull/13752
Please test

[2015-01-29 13:55] MorrisJobke commented on #13524
@jancborchardt https://github.com/owncloud/videos <- I guess that is the video app

[2015-01-29 13:56] MorrisJobke commented on #13524
https://github.com/owncloud/apps/tree/master/user_external <- user external

[2015-01-29 13:56] jancborchardt commented on #13524
No, that has an icon.

[2015-01-29 13:57] DeepDiver1975 commented on #13734
well - the folder is either there nor not at the point in time when the request is being processed.

[2015-01-29 13:57] MorrisJobke commented on #13695
@schiesbn But why is it working when I share the share itself directly?!? It should work in both ways or in none of these.

[2015-01-29 13:59] MorrisJobke commented on #13524
@jancborchardt But it has the wrong name `video.svg` instead of `app.svg` ;)

[2015-01-29 14:00] DeepDiver1975 commented on #13763
@icewind1991 is this addressed with #13474 ??

[2015-01-29 14:00] SergioBertolinSG opened #13766 "Remote shared folders from windows servers accessed from linux servers behaves too slow"
### Steps to reproduce

Having server_linux in a linux machine and server_win in a windows one.

1. Share a folder from server_win to server_linux.

2. (Choose one)
       2.1. Upload many files from server_linux to the shared folder using webdav.
       2.2. Delete many files from server_linux to the shared folder using webdav.
       2.3. Move a local folder of server_linux inside the shared fol

[2015-01-29 14:20] DeepDiver1975 commented on #13749
no - afaik

[2015-01-29 14:20] PVince81 commented on #13766
Is there anything in owncloud.log of both servers regarding the reason for the 503 ?

[2015-01-29 14:22] PVince81 commented on #13763
@MasterCassim are you using external storage ?
Normally files aren't copied like that on upload unless you're uploading to an external storage. (except for SFTP which supports directly streaming)

[2015-01-29 14:23] DeepDiver1975 commented on #13749
the call to chmod is failing in case the file does not yet exist - https://github.com/owncloud/core/blob/master/lib/private/log/owncloud.php#L85

but because of @ it should not really be causing an error to be written.

[2015-01-29 14:23] bantu commented on #9632
@MarvinFS Could you please tell us a bit more about your SFTP server? Which operating system is it running. Is it running OpenSSH? Which version?

[2015-01-29 14:30] icewind1991 commented on #13763
No

They are, https://github.com/owncloud/core/blob/8c9f1a982c48db4601ea7ba33b31fca342e03ded/lib/private/files/view.php#L704

[2015-01-29 14:31] nickvergessen commented on #9632
@bantu you dont think updating seclib from 0.3.6 to 0.3.9 will help?

[2015-01-29 14:31] PVince81 commented on #13763
Does it mean PHP's internal upload mechanism first stores the file in a temp location and then we read it from there ?

[2015-01-29 14:37] MasterCassim commented on #13763
@PVince81 as already pointed out by icewind1991 I'm not using external storage
@PVince81 exactly see https://github.com/owncloud/core/blob/4fcfedb03cb60fe60617fd8d7609d5d1397789a5/lib/private/helper.php#L577

[2015-01-29 14:37] DeepDiver1975 commented on #13524
videos.svg would be valid as well

[2015-01-29 14:38] nickvergessen commented on #13702
@PVince81

I remember that someone had a similar problem in the activity app. Nothing we can do about this?

[2015-01-29 14:39] bantu commented on #9632
@nickvergessen I don't know. stable7 should receive a phpseclib upgrade for PHP 5.6 compatibility. @MarvinFS here claims to be using master, which already has a newer version of phpseclib (at least right now).

[2015-01-29 14:53] nickvergessen commented on #13695
btw @MorrisJobke with your 4th step (moving the accepted share into a folder) I get:
`Error while scanning remote share: "http://localhost/ownCloud/OnlyMaster/"` in the nice yellow top-bar

[2015-01-29 14:57] PVince81 commented on #13695
I don't remember exactly which exact case. I think it was mostly cases where the permissions would become ambiguous, for example moving a folder you received from someone into your own outgoing share folder. That might qualify as a reshare though...

[2015-01-29 15:06] DeepDiver1975 commented on #9632
just to get a clear understanding of the current situation:
on master we can upload files to sftp with a max size of ???
on stable7 we can upload files to sftp with a max size of ???

[2015-01-29 15:06] PVince81 commented on #13705
This issue is still happening. The mentionned fix is only for files.

The problem above is when updating the config concurrently.
It seems that all 5 requests are authenticating and updating the oc_preferences table at the same time to update the "lastlogin" value  and locking each other out.
It seems that the first request goes through but the others fail directly.

I suspect there might not be a

[2015-01-29 15:06] PVince81 commented on #13705
(the config option for the timeout)

[2015-01-29 15:08] DeepDiver1975 commented on #12785
The patches are intent to be shipped with oc8 - applying them to oc7 will fail - yes

[2015-01-29 15:08] lordaivan commented on #13712
I've been successful in splitting the data directory. So far the only downside was, that my owncloud client(linux) started a complete redownload of all files(might have been an error on my side, not sure) but doesn't matter. The hd spins down after 20minutes as it should, and wont spin up until i access my files.
Since i just have a couple of users and this wont change for a while im fine with cre

[2015-01-29 15:08] PVince81 commented on #13705
Another possible fix is to fail gracefully (ignore the error) if the "lastlogin" value cannot be updated due to locking.

[2015-01-29 15:09] DeepDiver1975 commented on #12785
@LukasReschke I guess we did the best we could have done for OC8 - close?

[2015-01-29 15:10] PVince81 commented on #13705
Okay, I tried ignoring the "lastlogin" exception and the propfinds all go through. So at least we have a quickfix for this specific situation.

Next step: try the timeout option.

[2015-01-29 15:11] DeepDiver1975 commented on #13766
@karlitschek we do want to ship s2s for windows? Before walking this path I'd prefer to get the basic foundation fixed. Anyway - out of scope for 8.0 -> moving to 8.1

[2015-01-29 15:11] DeepDiver1975 commented on #13766
backlog I mean

[2015-01-29 15:13] nickvergessen commented on #12785
jup, i discussed with lukas this morning and we will use a new ticket in case something comes up.

[2015-01-29 15:13] #12785 closed

[2015-01-29 15:14] DeepDiver1975 commented on #13763
yes - this is why we require big temp space - e.g. max-upload-size * users-concurrently-uploading

[2015-01-29 15:15] DeepDiver1975 commented on #13763
at the end this is just another reason to move away from POST file upload and use PUT and/or Chunking and/or WebDAV in the browser as well

[2015-01-29 15:15] nickvergessen commented on #9632
@bantu master uses 0.3.6 I just verified it in the repo

[2015-01-29 15:16] bantu commented on #9632
@nickvergessen Then https://www.versioneye.com/user/projects/54a548e697427553100000b9 lies.

[2015-01-29 15:20] nickvergessen commented on #9632
@bantu appearantly it does, maybe it's confused by the "*" requirement we have.
Current 3rdparty master: https://github.com/owncloud/3rdparty/blob/master/composer.lock#L1278-L1279
Current commit of oc master: https://github.com/owncloud/3rdparty/blob/a32d3924bd0012a5410fff4666131cbdfdec2001/composer.lock#L1278-L1279

[2015-01-29 15:23] nickvergessen commented on #9632
Also:
[code]

[2015-01-29 15:26] PVince81 commented on #13705
No luck with https://github.com/owncloud/core/issues/13615, needs further research

[2015-01-29 15:28] DeepDiver1975 commented on #13763
scheduling for 8.1

[2015-01-29 15:29] DeepDiver1975 commented on #13761
@icewind1991 already fixed some similar case these days - you remember?

[2015-01-29 15:29] DeepDiver1975 commented on #13761
polluting logs is not nice ... 8.0.1

[2015-01-29 15:31] DeepDiver1975 commented on #13756
interesting approach - this would also allow us to perform the real operation async.

[2015-01-29 15:34] SISolutions commented on #13656
Οκ thanks.

John Pagourtzis
 On Jan 29, 2015 2:38 PM, "RealRancor" <notifications@github.com> wrote:

[2015-01-29 15:35] bantu commented on #9632
@DeepDiver1975 I've not actually interpreted this ticket to be about addressing any potentially remaining filesize limitations. Rather I've always focussed on the "Expected SSH_FXP_STATUS" / "Connection closed prematurely" errors, which were encountered when uploading large files (say 1.8 GiB). I've not been able to reproduce those errors so far.

The version of phpseclib stable7 is using does not

[2015-01-29 15:36] DeepDiver1975 commented on #13755
as soon as we migrate over to webdav in the browser this will be solved

[2015-01-29 15:38] iliyasbasir opened #13769 "Weird thing with Dropbox"
### Expected behaviour

I add a dropbox account in my owncloud account to be able to have access to these files directly.
So everything works fine, the installation has been easy but I I saw that my client delete the folder then everyfile and few minutes later restart to download every files..
Don't understand why.
Nothing has changed from my side.
So I send you the log file from yesterday filtere

[2015-01-29 15:38] DeepDiver1975 commented on #13747
@jancborchardt can you easily apply some magic to make this happen? THX

[2015-01-29 15:40] DeepDiver1975 commented on #13735
so - what shall we do with this ticket here? Anything else left to do? @cdamken

[2015-01-29 15:40] DeepDiver1975 commented on #13734
@cdamken case closed?

[2015-01-29 15:43] davivel commented on #13705
So, if all the requests were reusing the same session cookie, all the the PROPFINDs would work?

@rperezb , seems a reason to finally enable the cookie support.

[2015-01-29 15:46] DeepDiver1975 commented on #13719
We mount SMB shares using user id and password - both information is transmitted to the server via whatever the protocol defines/requests.

The link to ldap might be explainable as in: do we request e.g. a kerberos ticket(or how ever this is called in context of ldpa/ad) to authenticate against smb - no we don't.

Case closed from my pov - @gig13 or do you need more information on this? THX

[2015-01-29 15:47] gig13 commented on #13533
@sbelov1 @blizzz
This should not be tested in a production environment. Please test internally first with the lab. Also provide a back out process.

[2015-01-29 15:48] PVince81 commented on #13705
Yes, that's another "workaround".

[2015-01-29 15:48] rperezb commented on #13705
@davivel great for next version expected this sprint

[2015-01-29 15:48] DeepDiver1975 commented on #13769
@iliyasbasir please enter all information as requested by the issue template - THX

[2015-01-29 15:49] DeepDiver1975 commented on #13751
@MorrisJobke  I think this is not necessary here - it's quite obvious that there is an issue in the code

[2015-01-29 15:53] gig13 commented on #13719
Yes, closing.

[2015-01-29 15:53] #13719 closed

[2015-01-29 15:54] DeepDiver1975 commented on #13712
What you could do as quick workaround - specify a different path for the lock file in here:
https://github.com/owncloud/core/blob/master/cron.php#L90

[2015-01-29 16:05] sbelov1 commented on #13533
@blizzz I'll let Allen take it from here. Please let me know if there's I can do..

[2015-01-29 16:08] DeepDiver1975 commented on #13703
duplicate entries are to be solved by having proper unique keys

errors with accidentally duplicate insert is to be handled by using INSERT WHERE NOT EXISTS

[2015-01-29 16:09] jancborchardt commented on #13747
Shouldn’t it simply use the same error page template? Or is that not possible?

[2015-01-29 16:14] DeepDiver1975 commented on #13656
fixed with 7.0.5 then - THX

[2015-01-29 16:14] #13656 closed

[2015-01-29 16:15] DeepDiver1975 commented on #13649
pull requests on this is very much welcome.

@LukasReschke any requirements to add from a sec pov? THX

[2015-01-29 16:15] bantu commented on #9632
@DeepDiver1975 Additionally, I believe the web interface can not upload files larger than 2 GiB at all on PHP versions below 5.6 (see http://cweiske.de/tagebuch/php-large-file-uploads.htm). And chunking still needs to be investigated on 32bit platforms.

[2015-01-29 16:16] DeepDiver1975 commented on #13629
@cdamken ping

[2015-01-29 16:17] fleish commented on #12801
I can try this on my test environment first if I can get the updated file and confirmation it should be replaced prior to running occ upgrade in OC7.

Also, if someone can tell me how to check if my environment has the same issue for 12035 I could look at that

[2015-01-29 16:17] brantje commented on #119
Would a setTimeout do the trick? Like ```setTimeou( deletenFn, 7000)```

[2015-01-29 16:23] MorrisJobke commented on #119
@brantje Keep in mind, that someone is closing the tab/browsing to another app ;)

[2015-01-29 16:23] blizzz commented on #13533
@gig13 Well, testers are necessery. Maybe a test setup can be created there. I tried it with our lab, but I need two more people who give their go in https://github.com/owncloud/core/pull/13742