[2015-05-28 09:28] schiesbn commented on #15684
Looking at the screenshot here https://github.com/owncloud/core/issues/15684#issuecomment-103452090  all keys seems to be at the right location.

Are those files located at the external storage? Was the external storage mounted in the users personal settings or as system wide mounts in the admin settings?

[2015-05-28 09:30] schiesbn commented on #16601
@cmonteroluque probably also interesting for you.

[2015-05-28 09:31] schiesbn commented on #15684
Just saw that the files on the screenshot are located at the root of your files folder. So they are probably stored on the local storage and not on the external storage, right?

[2015-05-28 09:32] SergioBertolinSG commented on #13709
Tested on stable8, it returns <statuscode>100</statuscode> the two times. Good.

[2015-05-28 09:35] PVince81 commented on #16600
There is a difference between "upgrade not successful due to an error during upgrade" and "app is known to not be supported on that OC version".

If what you observed is the latter (appfino/info.xml contains incompatible OC version), then it should be possible to hide the button.

However if this is an unpredictable upgrade issue, then it is not possible to hide the button in advance.

CC @Raydiat

[2015-05-28 09:38] PVince81 commented on #16599
Hmm strange.

If the permissions were wrong, the UI would not show the trash icon but it does here.

Can you confirm that you had "loglevel" set to 0 when checking the logs ?

I see you have encryption enabled: usually when deleting a file it will first delete the file and then delete the keys. So maybe the file deletion worked but something wrong happened during key deletion.

[2015-05-28 09:39] PVince81 commented on #16598
@LukasReschke would it make sense to create a new Github tag to track authentication/session related issues ?

[2015-05-28 09:40] PVince81 commented on #16597
Right, the config check should probably skip the WebDAV check.

But then what if an admin wants to configure ownCloud and test WebDAV still in single-user mode ? Something that needs to be discussed...

[2015-05-28 09:41] PVince81 commented on #16589
CC @icewind1991 @DeepDiver1975 FYI

[2015-05-28 09:41] PVince81 commented on #16587
CC @icewind1991 FYI

[2015-05-28 09:42] schiesbn commented on #15684
It is also confusing that the error message from the exception in your lock is 'null'. The exception comes from here: https://github.com/owncloud/core/blob/v8.0.2/apps/files_encryption/lib/crypt.php#L444 where we add a message to the exception, especially the output of 'openssl_error_string()' would be really useful in this case. Can you double-check that this line looks the same on your server?

[2015-05-28 09:42] RealRancor commented on #16600
Yepp, it seems that the News App 5.3.4 for which the update button is shown is currently only comaptible with OC 8.1:

https://github.com/owncloud/news/blob/master/appinfo/info.xml#L23-L24

So if an app is providing the "requiremin" in its info.xml with a higher version than the current the "Update" button should be hidden.

[2015-05-28 09:42] PVince81 commented on #16586
From what I remember, in the past the files_locking app was active together with encryption (I remember seeing bugs in the past related to that).

The change @schiesbn proposed sounds sensible.

[2015-05-28 09:43] jimlei commented on #15684
@schiesbn /mnt/owncloud/data is external storage, mounted there with nfs.

[2015-05-28 09:44] schiesbn commented on #15684
@jimlei thanks... ok, but from the ownCloud point of view it is a 'local' storage, so the key paths should be OK.

[2015-05-28 09:48] PVince81 commented on #4209
@butonic I suppose it would be possible to make such experiments as a separate app.
That app would provide its own Storage/Scanner/Cache implementations using the DB models you proposed.

The only change needed in core is a config switch to make it possible to use another Storage class as home storage, so we could switch it to that one.

[2015-05-28 09:49] PVince81 commented on #4209
Well or it could simply be an external storage backend (provided by the app) that actually uses another local folder to store the files. Then mount it somewhere for testing.

[2015-05-28 09:50] PVince81 commented on #16600
@RealRancor ok thanks for confirming. So this is indeed a bug.

[2015-05-28 09:50] jimlei commented on #15684
@schiesbn true, here's the file in question

[code]

[2015-05-28 09:51] PVince81 commented on #16569
I'll set this to 8.2 for now to keep it in mind.
With a bit of luck we might be able to cover this with the locking. But as this would overspill over the Sabre precondition check, it is not guaranteed to work and might need a custom solution.

[2015-05-28 09:59] schiesbn commented on #16442
So in case of encryption it's almost useless to offer a password reset to the users.

It is useful in some cases:

1. you know that you don't have a recovery key, so the admin can't help you too. In this case you can reset your password by your own, delete the files and upload them again from your backup or from the local copy created by the sync client.

2. You need to access your ownCloud now, e

[2015-05-28 10:01] jospoortvliet commented on #13410
@enoch85 and what other bugfix or feature would you drop from 8.1 to have time to fix this problem for a platform we no longer support? It is always a matter of time and priorities... And, very egoistically, I prefer Joas to spend his time on things which make ownCloud 8.1 better ;-)

[2015-05-28 10:11] ClaudeMa opened #16602 "Unable to create new user after update"
Owncloud 8.0.3
Database Mysql
after update from version 8.0.2
Unable to create user: Owncloud say "a user with that name exist" but no user with new name exists

see screenshoot
![owncloud](https://cloud.githubusercontent.com/assets/2773730/7857614/01f61e30-0532-11e5-9b43-0b87476183b6.JPG)

[2015-05-28 10:12] PVince81 commented on #5225
With mirroring, conflicts could occur. If at some point we'd allow syncing conflict files anyway and provide a good UX for conflict resolution in the web UI (somewhat related https://github.com/owncloud/client/issues/3222), then conflicts with ext storage wouldn't be such a big issue any more.

[2015-05-28 10:12] PVince81 commented on #11839
Somewhat related: using csync to sync with external storages: #5225

[2015-05-28 10:12] shoelzle commented on #13908
I managed to disable suhosin by setting "php_flag suhosin.simulation On" in the vhost.conf  for the owncloud.
I can confirm that sharing by link works with suhosin disabled.

[2015-05-28 10:14] Raydiation commented on #16600
BTW it's even noted in the app store that 8.1 is required

[2015-05-28 10:14] PVince81 commented on #5225
Note: mirroring could also be useful for server to server sharing aka federation, especially when going over the internet where the connections can be slower.

[2015-05-28 10:15] PVince81 commented on #5225
@etiess to mount another ownCloud, please check out the "External Storage" app and use the "ownCloud" type to mount another ownCloud. Please note that this (the current version) is NOT a mirror, it mounts ownCloud directly.

[2015-05-28 10:23] PVince81 commented on #15487
Tested this:
- share a folder with s2s, open files UI, unshare, try downloading the "expired" file: getting "File not found" page
- share a file: in this case I get a page "Internal Server Error". This is because the first access to an expired share will throw StorageInvalidException instead of FileNotFoundException.

A possible fix is to translate the exception to FileNotFoundException in case of

[2015-05-28 10:25] PVince81 commented on #15487
For the record, here is the stack for the StorageInvalidException when trying to download an expired file:
[code]

[2015-05-28 10:31] PVince81 commented on #15487
Hmm, it looks like this is yet another code path that doesn't trigger the auto-unmount.

Accessing through web UI (ajax/download.php) does not auto-unmount.
However when accessing through WebDAV, it properly returns a Sabre NotFound exception and unmounts it.

[2015-05-28 10:31] schiesbn commented on #16190
I will start working on it today and/or tomorrow

[2015-05-28 10:32] schiesbn commented on #16190
@jancborchardt do you already have some nice icons we should use for the networks listed above?

[2015-05-28 10:38] SergioBertolinSG commented on #15340
Tested on stable8, working fine.

[2015-05-28 10:40] VincentvgNn commented on #10084
I found a good survey and a tutorial for the 8 standard HTTP methods and for the 7 additional WebDAV methods at:
http://www.tutorialspoint.com/http/http_methods.htm
http://en.wikipedia.org/wiki/WebDAV

[2015-05-28 10:51] RealRancor commented on #16602
Hi,

please disable the user_webdavauth (Webdav user backend) and try again:

https://forum.owncloud.org/viewtopic.php?f=17&t=20221

Refs: https://github.com/owncloud/core/issues/16487 , https://github.com/owncloud/core/issues/14177 and so on.

[2015-05-28 10:54] RealRancor commented on #16600
@Raydiation

If the app is installed once its not very likely that some one is having a look at the app store again.

[2015-05-28 10:55] Raydiation commented on #16600
@RealRancor what I meant is that the app store API should note that 8.1 is required

[2015-05-28 10:57] RealRancor commented on #16600
Ah, sorry. I thought you mean that people didn't checked the app store for this requirement.

[2015-05-28 10:58] PVince81 commented on #15487
Note: when we move the files app to use the WebDAV endpoints later here https://github.com/owncloud/core/issues/12353 the problem would not appear (long-term).

In the WebDAV case, it calls `getFileInfo()` which itself will trigger the watcher that will check if the mount point is still valid.
In the web UI case, it just calls FS methods directly which do not do such check.

Two possible fixes:
1)

[2015-05-28 10:59] PVince81 commented on #15487
This also means that any app that use the Filesystem class (or the Node API) might bump into the same issue and receive StorageInvalidException instead of NotFoundException.

or
3) Make all code path in Filesystem class transaltion StorageInvalidException to NotFoundException (without auto-umounting, which might or might not happen during a later PROPFIND)

[2015-05-28 11:02] PVince81 commented on #12353
Pretty sure QA will appreciate this, meaning less code paths to test. CC @SergioBertolinSG @jnfrmarks

[2015-05-28 11:07] SergioBertolinSG commented on #15009
Tested in stable8, working fine.

[2015-05-28 11:24] jospoortvliet commented on #16162
@gadLinux perhaps it makes sense to have a Skype call about this to avoid a lot of work going in a direction that won't work ;-)

[2015-05-28 11:39] LukasReschke commented on #16602
@karlitschek Can we rename "WebDav user backend" in something that hopefully less users click on? :-(

[2015-05-28 11:48] cdamken commented on #10001
After upgrade to 7.0.5 does not work either.

@MorrisJobke

00002808

[2015-05-28 11:53] karlitschek commented on #16602
yes. i had the same tought. suggestions? :-)

[2015-05-28 11:55] RealRancor commented on #16602
Isn't it possible to integrate this app completely into the user_external app https://github.com/owncloud/apps/tree/master/user_external ?

[2015-05-28 12:02] icewind1991 commented on #15487
Something we probably want to do anyway

Would prefer not to change the exception, maybe make `StorageInvalidException` extend `NotFoundException` instead

[2015-05-28 12:08] jospoortvliet commented on #15775
@oparoz re your main request - advanced options and interactions should sure be tracked and worked on (if people want), but they should be implemented in accordance to our design guidelines/team thoughts and otherwise (if a contributor can't/doesn't want to follow the guidelines or if the feature is simply deemed a bad fit/not needed) can be done as an independent app. That's what I think...

[2015-05-28 12:09] rullzer commented on #16594
This also seems like something we want to handle on a more abstract level. Basically we want to ask to the share stuff is this the correct password. That part of the code can then automatically update the hash.

[2015-05-28 12:15] PVince81 commented on #15487
I also wondered why we even have "is_dir()" and "is_file()" on the Filesystem/View class. These should probably be rewired to use "getFileInfo()" and get the info from there. (having these methods on storage level is ok). Probably something for later...

[2015-05-28 12:18] schiesbn commented on #16492
backport was merged. https://github.com/owncloud/core/pull/16496

[2015-05-28 12:18] #16492 closed

[2015-05-28 12:27] PVince81 commented on #16582
Hmmm, according to @MorrisJobke said here https://github.com/owncloud/core/issues/13781#issuecomment-99344802 that the fix should be on stable7 already but if you're still seeing it for groups.

@jvillafanez does this also happen on master ?

[2015-05-28 12:27] PVince81 commented on #16582
CC @blizzz

[2015-05-28 12:31] schiesbn commented on #16125
@oparoz This sounds like a different issue. I never saw that keys are 0byte but we are aware of some issues with name conflicts which could overwrite existing keys (this happens really seldom, you need the right combination of folders, user names, filenames and share the file with the right user) all of them should be fixed in oC >= 8.0 but it is possible that user have some broken keys from previ

[2015-05-28 12:35] PVince81 opened #16603 "Display spinner for locked folders"
When a folder is locked by high-level file locking (#16237) whenever a transaction is in progress (ex: move), show a spinner on it in the web UI.

It might be possible to detect locked folder when retrieving the list of folders and adding specific attributes in the response.

@icewind1991 @jancborchardt

(prerequisite is that #16237 is merged and finished)

[2015-05-28 12:36] PVince81 commented on #15994
In the case of file locking, the user might see both folders but they will be locked: it will not be possible to rename them or interact until the transaction is finished.

Now some idea: if we are able to detect that a folder is locked, it could be possible to show it in the web UI. But I see this more as an enhancement than a bug.

So let's do the following:
1) For the issue where files are miss

[2015-05-28 12:36] #15994 closed

[2015-05-28 12:36] PVince81 commented on #16603
See the steps from https://github.com/owncloud/core/issues/15994 that illustrates how it could be triggered.

[2015-05-28 12:39] PVince81 commented on #13052
Any update on this ? Or defer to 8.2 ?

[2015-05-28 12:41] cmonteroluque commented on #16344
@th3fallen can you merge the PR with the comments from @schiesbn today?

[2015-05-28 12:41] PVince81 commented on #12591
Possibly related to concurrent scanner processes: https://github.com/owncloud/core/issues/16584
If I remember well, there is a code path that rescans the trashbin folder. If that would happen twice in a row for the same user, both scanners would try and update the same folder at the same time (in two separate folder-based transactions).

I'm closing this as duplicate of https://github.com/owncloud

[2015-05-28 12:41] #12591 closed

[2015-05-28 12:42] PVince81 commented on #16584
Setting to 8.1, with the hope that the high-level file locking will fix it.

[2015-05-28 12:45] PVince81 commented on #12591
I'd also recommend you to upgrade to 8.0.3.
From what I see in the code, the scan command in the trashbin is actually used to find versions, see https://github.com/owncloud/core/blob/v8.0.3/apps/files_trashbin/lib/trashbin.php#L838 vs the old version https://github.com/owncloud/core/blob/v8.0.2/apps/files_trashbin/lib/trashbin.php#L830
In 8.0.2 and before it was scanning too much and too often.

[2015-05-28 12:54] PVince81 opened #16605 "IE9 Finish setup button not visible when selecting MySQL or others"
### Steps
1. Open the setup page of ownCloud
2. Select "MySQL"

### Expected result
Button "Finish setup" visible and clickable

### Actual result
The button "Finish setup" disappears.
If you switch database types you might see it appear shortly during the animation.

### Versions
ownCloud 8.1 git master (e1483f65c3cd800f90e962764b06bf2379ca4432) and stable8 (cd311c1ac11cfcb71e220df788b28f2d25adba

[2015-05-28 12:56] PVince81 commented on #16605
Something must be wrong with the container. If I reduce the vertical size even further, it starts truncating the warning box too.

![ie9-setup](https://cloud.githubusercontent.com/assets/277525/7860471/a6942d08-0549-11e5-815f-78ed2b51ea91.png)

[2015-05-28 12:56] icewind1991 commented on #16601
That means user C must have a different token then user B.

A way to solve that would be to have user ocB request a new token from ocA for the share which it then gives to ocC, ocA and ocB both remember that the new token is generated by request of ocB.

That way ocB can request ocA to invalidate the token given to ocC and ocB keeps a list of all users it "knows" to have access to the share

[2015-05-28 13:00] PVince81 commented on #16601
Actually the idea was to have ownCloud A issue a new token for ownCloud C by sending the regular share invitation, as if user@A had shared with user@C, but the sharing action is triggered by user@B.

Yes, one token per user is the ideal situation :smile:

[2015-05-28 13:04] PVince81 commented on #16489
@davitol works for me when sharing a folder in IE9, but I didn't share a text file.

When sharing a text file, the button is indeed broken.

I'll try and provide a replacement for btoa then.

[2015-05-28 13:05] LukasReschke opened #16606 "Add guidance for Public Key Pinning"
The security checks in the admin page should also show guidance for public key pinning as per http://www.rfc-editor.org/rfc/rfc7469.txt if HTTPS is enabled for additional hardening.

[2015-05-28 13:07] PVince81 commented on #16489
Damn, it looks like we don't have jquery.base64, which means we'd need a new dependency.

[2015-05-28 13:07] LukasReschke commented on #16606
Ref https://github.com/owncloud/client/issues/2156 for client purposes. – That said it is unlikely that the client will implement this soon but this should not prevent us from starting us adding it so that UAs that comply with it are properly protected.

[2015-05-28 13:07] LukasReschke commented on #16606
cc @karlitschek FYI

[2015-05-28 13:11] shoelzle commented on #13720
#13908

[2015-05-28 13:15] jnweiger commented on #16275
The original issue regarding the encryption app is fixed.
The remaining part is a general update issue. It revolves around the logic discussed in
https://github.com/owncloud/core/issues/16189 https://github.com/owncloud/core/issues/14610
I'll experiment with dropping the dpkg-divert call, as nobody seems to have an explanation what it is good for.

[2015-05-28 13:20] MorrisJobke commented on #15413
Sorry ... I mixed this up. It's with master. and I think my change broke this. The install screen isn't scrollable.

@jancborchardt Can you please have a look at this? I'm totally fine with revert the change. Also the menu is black for me in IE8. Please also check for stable7 and stable8.

[2015-05-28 13:23] oparoz commented on #16489
Or disable support for text previews on irrelevant browsers? You can't have all the goodies on ancient technologies.

How do you generate the authorisation headers in other areas? Because the only reason we need btoa is for that.

[2015-05-28 13:24] VincentvgNn commented on #16442
To prevent a possible misunderstanding, I would like to disable the password reset for the users only, not for the admin.

So the request is:
Not offering the reset procedure to the customer.
In the admin settings there should be a check box like: "Only the admin can manage password reset"
The customer should not get the message "Forgot your password? Reset it!", but "Forgot your password? Contact

[2015-05-28 13:24] ClaudeMa commented on #16602
@RealRancor

thank it work disabling  user_webdavauth

[2015-05-28 13:24] #16602 closed

[2015-05-28 13:26] RealRancor commented on #16487
Another one: https://github.com/owncloud/core/issues/16602

[2015-05-28 13:28] #13668 closed

[2015-05-28 13:33] PVince81 commented on #16489
No idea... I guess other people might use jquery.base64 then. But from my experience adding deps to core is never met with open arms.

We could disable text preview in IE <= 9. But I'm pretty sure someone will raise a separate ticket for this too at some point.

Falling back to the picture preview is probably not an option, right ? (if I remember well it didn't look good)

[2015-05-28 13:34] oparoz commented on #15775
Yes, sensible defaults and hidden advanced settings are key, but as someone has mentioned, this is *own*cloud, not simplecloud. Some users have more advanced needs when it comes to managing/viewing their files and their requests should not automatically be discarded as too complex and irrelevant to most. Apps are defo the way to go, but it's not always possible.

[2015-05-28 13:35] PVince81 commented on #16489
Oh, what the hell. I'll make it fallback to the picture preview now.

[2015-05-28 13:38] PVince81 commented on #16489
PR here https://github.com/owncloud/core/pull/16607

[2015-05-28 14:10] #16295 closed

[2015-05-28 14:17] PVince81 commented on #15487
Observed on master, changing milestone to 8.1

[2015-05-28 14:24] Tronde opened #16609 "After the Update to ownCloud 8.0.3 I could only sync one calendar"
Dear Developers,

a few days ago I have made an Update from ownCloud 8.0.2 to 8.0.3. Since then I'm not able to sync more than one calendar.

The first calendar in the ownCloud calendar-App is synced with two Thunderbird Lighting, an iOS device and an Android tablet. And everything works fine. In Lightning I use the CalDAV-Link from the calendar instead of the primary CalDAV-Address from the setti

[2015-05-28 14:27] PVince81 commented on #13883
Related to https://github.com/owncloud/core/issues/13781 and https://github.com/owncloud/core/issues/16582 ?

[2015-05-28 14:32] mattrandallbecker commented on #16599
Just confirmed loglevel = 0, still no log entries written when it fails.  In double checking looks like I'm not using encryption, sorry for the mistake there.

Again from my testing the line that fails is as follows app/files/ajax/delete.php

\OC\Files\Filesystem::unlink($dir . '/' . $file)

I'm not familiar enough with the owncloud source to determine which unlink it was using so that's as far as

[2015-05-28 14:35] carlaschroder commented on #10084
So, let me see if I understand this issue: ownCloud admins on shared hosting may need elaborate workarounds involving deep knowledge of HTTP methods and .htaccess to workaround their host's configurations to get Webdev to work?

[2015-05-28 14:48] PVince81 commented on #16599
When you say "fails", do you mean it throws an exception or does it just return false ?
Are you able to debug inside ?

Does it happen for newly created shares or only old ones, maybe from a former upgrade ?

[2015-05-28 15:02] oparoz commented on #16125
I agree. Keys were wiped when trying to share files on oC7. I don't think I've encountered the issue on 8.

[2015-05-28 15:08] #10084 closed

[2015-05-28 15:08] PVince81 commented on #15487
I feel stuck here. The problem isn't critical enough to do a proper fix that touches the architecture.
On the other hand, adding `getFileInfo()` + mimetype check to replace `is_dir()` feels wrong because it will not influence other code paths that might or might not be affected.

[2015-05-28 15:09] mattrandallbecker commented on #16599
It just returns false, I'm not able to debug unlink()

Also I had only been trying with old folders that existed before the upgrade from 7->8.  It turns out file deletion works if I create a new folder, new file, then share the folder and delete.

The delete only fails if the folder existed before the upgrade, even if the file is new after the upgrade.

[2015-05-28 15:12] jospoortvliet commented on #15775
well, where apps can't help deal with this and no sensible solution can be found in the UI, we definitely need to digg deeper. So I agree with you - we shouldn't drop things just because we don't want them in the main user interface. There should be room for everything people want to work on, without having to fork ownCloud - if needed, we have to make changes to our architecture to accommodate th

[2015-05-28 15:13] schiesbn commented on #14588
fix merged

[2015-05-28 15:13] #14588 closed

[2015-05-28 15:14] PVince81 commented on #13578
I tried this on master (e1483f65c3cd800f90e962764b06bf2379ca4432) but I'm now getting "Storage not available", which is more acceptable than "Unknown error". I connected to a 8.0.3 server.

The problem is that the remote server is sending an HTML page in that case, for whatever reason.
I can try and fix "public.php/webdav" to return a proper error. But this means that the correct error will only b

[2015-05-28 15:15] sbelov1 commented on #16343
Guys, this is an ongoing issue with multiple prospects we're working with. Whether RPM packages use different naming conventions or whatever the issue is, we're forced to load all the php modules manually - which defeats the whole purpose having rpms. I ran into those issues with RHEL and CentOS 7 so far. Can we please look into this issue?
@bboule @jnweiger

[2015-05-28 15:21] etiess commented on #16330
@Kawohl Hello, and thank you!
If you need any detail or test, don't hesitate to ask me!

[2015-05-28 15:24] PrahlM93 opened #16611 "External Storage and nginx Configuration"
I fixed it using the patched lib/private/files.php

Thank you for your help.

[2015-05-28 15:24] PVince81 commented on #13578
PR here https://github.com/owncloud/core/pull/16610

This will change "Storage not available" to "Storage invalid" and trigger auto-umount (this assuming you are connecting to an OC server that has the fix applied)

[2015-05-28 15:27] PVince81 commented on #16599
Okay, that's an important clue.

If you had 7.0.2 at the time the shares were created, you might be having this issue: https://github.com/owncloud/core/issues/13361

There is unfortunately no proper migration path to fix it, so you might want to simply unshare then reshare the folder.

[2015-05-28 15:29] RealRancor commented on #16611
Hi,

AFAIK X-Accel is currently broken in OC 8.0.3 and should be fixed with the upcoming 8.0.4: https://github.com/owncloud/core/issues/16022

[2015-05-28 15:50] mattrandallbecker commented on #16599
Ok, I figured it out and after changing everything possible and the solution is a bit strange, likely a bug?

So even if I remove all groups for a user, remove all sharing for a folder, then re-add groups, and re-add sharing it still would not allow users to delete shared files.

It seems this was because all users have a quota set of 0.  Once I increase the quota for a user to 1GB they are able t

[2015-05-28 15:53] SergioBertolinSG commented on #16022
Tested on stable8, working fine.

[2015-05-28 15:54] PVince81 commented on #16599
Weird.

But you said for new folders it worked ? Or did you test new shares with users that did not have 0 as quota ?

[2015-05-28 15:54] PVince81 commented on #16599
The quota issue sounds like https://github.com/owncloud/core/issues/16187

[2015-05-28 15:57] PVince81 commented on #16187
I'd like to increase severity. There are use cases where people share folders with other users, and those users can only work on the shared folders but not have any local files. This is achieved by setting their quota to 0, see https://github.com/owncloud/core/issues/16599#issuecomment-106434488

When deleting a shared file as recipient, usually that file will land in the recipient's trashbin and

[2015-05-28 15:58] PVince81 commented on #16187
@mattrandallbecker mentionned here https://github.com/owncloud/core/issues/16599#issuecomment-106434488 that it used to work in OC 6/7, so this is a regression.

[2015-05-28 15:58] PVince81 commented on #16187
It is likely that the regression is due to the fact that the trashbin is now using a storage wrapper since OC 8.0

[2015-05-28 16:00] mattrandallbecker commented on #16599
Yes it's exactly that issue.

Pretty much 100% what we are experiencing.

[2015-05-28 16:01] PVince81 commented on #16599
Ok thanks, closing as duplicate.
Please follow up in the linked ticket.

[2015-05-28 16:01] #16599 closed

[2015-05-28 16:05] PVince81 commented on #16187
Confirmed that it works on stable7 (upcoming 7.0.6).
The file does not appear in the recipient's trashbin, but it appears in the owner's trashbin.
However, the file in the trashbin has a size of zero bytes :frowning:

On stable8 (upcoming 8.0.4), I cannot delete the file.
This confirms this bug report and is indeed a regression.

[2015-05-28 16:07] PVince81 commented on #16187
@pomu0326 you got a point: from reading your change it looks like the quota storage wrapper was getting applied to the trashbin, which is wrong.

I'll see if I can provide a fix a bit higher in the call stack.

[2015-05-28 16:08] PVince81 commented on #16187
not saying that your fix is wrong, but it shows very well what is wrong in the original code :smile:

[2015-05-28 16:11] PVince81 commented on #16187
Hmmm on master (upcoming 8.1) the behavior is slightly different: I do get a "Could not delete" error, but after refresh the file is gone. But it's not even in the owner's trashbin! :frowning:

[2015-05-28 16:20] PVince81 commented on #16187
This is the call stack that leads to the quota wrapper for trashbin:
[code]

Now one thing I don't yet understand is how could this have ever worked ?

I found out that stable7 also wraps the storage, but it doesn't seem to disturb the trashbin in the same way:
[code]
Well... it does produce a zero-sized file in the trashbin.

So I could say, basically this was broken in previous versions too, but

[2015-05-28 16:24] PVince81 commented on #16187
One idea would be to adapt @pomu0326's idea but only apply the quota wrapper if the path is in "/files/". Because we also do not want to apply the quota on "files_encryption", "thumbnails", etc.

[2015-05-28 16:26] carlaschroder commented on #15995
closing for lack of feedback, and if you don't like what the docs say you had your chance!

[2015-05-28 16:26] #15995 closed

[2015-05-28 16:33] PVince81 commented on #16187
Fix is here: https://github.com/owncloud/core/pull/16613

[2015-05-28 16:53] jnweiger commented on #16275
With rebuild 8.1.0~Beta2-3 we now have a much simpler debian.owncloud-config-apache.preinst
file: No more dpkg-divert, as this is not recommended for config files by debian anyway.
We create the backup copy and leave the original file in place now. This avoids an error about missing config file owncloud.conf for me.

@SergioBertolinSG  I cannot fully reproduce what you reported. The second install

[2015-05-28 16:53] #16275 closed

[2015-05-28 16:54] karlitschek commented on #16609
Thanks for your bug report. This sounds like a bug in the calendar app. Can you please open this in the calendar app? Thanks

[2015-05-28 16:54] #16609 closed

[2015-05-28 16:56] rperezb commented on #16008
@cmonteroluque added to the list thx

[2015-05-28 17:44] #16187 closed

[2015-05-28 17:55] MorrisJobke commented on #16605
Duplicate of https://github.com/owncloud/core/issues/15413#issuecomment-106306913

[2015-05-28 17:55] #16605 closed

[2015-05-28 17:56] MorrisJobke commented on #16605
I introduced this regression.

[2015-05-28 18:03] #13578 closed

[2015-05-28 18:34] MorrisJobke commented on #16281
Fixed with #16380

[2015-05-28 18:34] #16281 closed

[2015-05-28 18:37] MorrisJobke commented on #16574
Fixed with #16592

[2015-05-28 18:37] #16574 closed

[2015-05-28 18:38] RealRancor commented on #16609
@Tronde
When re-opening there make sure that you're using the issue template as described here:

https://github.com/owncloud/core/blob/master/CONTRIBUTING.md#short-version

which asks you for logfiles and some more infos about your environment which are currently missing.

[2015-05-28 18:45] #16489 closed

[2015-05-28 18:47] bigtreiber opened #16614 "PHP Problem: always_populate_raw_post_data"
I'm running Owncloud 8.0.3 and always get the error message:
Cronjob encountered misconfiguration

It was not possible to execute the cronjob via CLI. The following technical errors have appeared:
PHP is configured to populate raw post data. Since PHP 5.6 this will lead to PHP throwing notices for perfectly valid code.
To fix this issue set <code>always_populate_raw_post_data</code> to <code>-1</c

[2015-05-28 18:48] LukasReschke commented on #16614
Mhm. Probably for CLI we can avoid this check. Will dig into this…

[2015-05-28 18:48] #16556 closed

[2015-05-28 18:53] MorrisJobke commented on #16582
ref #15833

[2015-05-28 19:31] enoch85 commented on #13410
Didn't mean it in a bad way. And no I'd rather keep everything in 8.1 than
make this a priority right now.
Den 28 maj 2015 12:01 em skrev "Jos Poortvliet" <notifications@github.com>:

[2015-05-28 20:54] VincentvgNn commented on #10084
@carlaschroder
Yes, you are 100% right.

Adding that workaround, i.e. changing the .htaccess file, is not the most difficult thing to do. But understanding what you'r doing, what is needed and what the consequences may be, is very difficult to find.

[2015-05-28 21:33] jancborchardt commented on #15775
Meaning you own it does not mean it should be complex. People deserve a cloud of their own which is similarly simple and joyful to use as the proprietary competition.

[2015-05-28 21:38] Xenopathic commented on #10084
By bundling those changes with ownCloud we would be forcefully disabling any host-based access control to ownCloud, potentially with huge security implications.

An idea came to me however - in the admin settings, we could do a check for the various DAV methods, and if they are not working then a configuration warning with a documentation link will be displayed.

[2015-05-28 21:53] daryltucker commented on #14850
I just want to mention, after having upgraded through various means and having installed owncloud through various means, that it is **extermely frustrating** to move to the *recommended method* (ie: System Package Manager), and attempt to update via the *recommended method* (ie: System Package Manager), for ownCloud to refuse connections until a release which is not yet available through my packag

[2015-05-28 22:01] jancborchardt commented on #16547
Duplicate of https://github.com/owncloud/core/issues/15320, and fix at https://github.com/owncloud/core/pull/15586 - please review that! :)

[2015-05-28 22:01] #16547 closed

[2015-05-28 23:16] carlaschroder commented on #10084
There are a number of issues with running ownCloud on shared hosting. Perhaps some of you could help me collect them in the doc Wiki, https://github.com/owncloud/documentation/wiki/Running-ownCloud-on-shared-hosting  Please reference Github issues if you can, and comments about your own experiences and workarounds.

[2015-05-29 01:26] jnweiger commented on #14850
@daryltucker An equivalent of occ upgrade is triggered, when a user visits the web page after the upgrade was installed. The first user to do so is presented with a dialog that should look like this:

<pre>
ownCloud will be updated to version 8.1 beta 2.
Please make sure that the database, the config folder and the data folder have been backed up before proceeding.
[Start update]
To avoid timeouts

[2015-05-29 02:01] oparoz commented on #16601
Hmmm... I don''t like step 6. It should be optional. For privacy reasons, userA should not have to know who the data is shared with beyond userB.

[2015-05-29 02:17] oparoz commented on #16557
Probably related to https://github.com/owncloud/core/issues/16461

[2015-05-29 02:22] oparoz opened #16616 "Wrong preview size is used for the conflict resolution modal window"
### Env
master

### Steps to reproduce
1. Upload a Jpg
2. Upload it again
3. Look at the 2 pictures presented to you

### Expected behaviour
Both pictures should look the same

### Actual behaviour
The one on the left is a 64x64 base64 encoded image
The one on the right is a stretched 36x36 preview filling the 64x64 space.

I think someone forgot to change the dimensions in the URL querying the pr

[2015-05-29 02:51] fabdelgado opened #16617 "Error templates url"
In the readme file says: "Should be developed here Themes: https://github.com/owncloud/themes".

This url page shows 404 error.

[2015-05-29 03:06] karlitschek commented on #16617
@jancborchardt FYI

[2015-05-29 07:01] RealRancor commented on #16614
@LukasReschke I'm not sure if this is the same problem/user but there was a user reporting that this message is show even if apache and cli was configured correctly:

https://forum.owncloud.org/viewtopic.php?f=31&t=26352#p88294

[2015-05-29 07:19] PVince81 commented on #16601
Well, one could say the data actually belongs to userA, so they have the right to know. Especially this is what is likely to cause additional bandwidth.
Or are you suggesting we just hide it in the UI but still add the user to userA's server as per this concept ? In that case userA could (if an admin), still find out in the database who got access.

There are similar issues with resharing chains f

[2015-05-29 07:21] PVince81 commented on #16601
I usually like to think of such shares as "workspaces". There is the workspace owner, and that user gets a say who has access to the workspace. So if recipients would like to "invite more friends to the party", it's still the party organizer's right to know who'll attend :wink: (sorry for shifting the analogy mid-sentence)

[2015-05-29 07:25] PVince81 commented on #16611
I believe @SergioBertolinSG just tested this recently. Did you test it on stable8 ?

[2015-05-29 07:26] PVince81 commented on #16603
I just realized that it cannot work, because while we can display a spinner when a folder is locked, we cannot remove the spinner because there is no way to get notified whenever a folder has just become unlocked.

Well, unless we have some kind of push notification server, but that feels like overkill.

[2015-05-29 07:26] RealRancor commented on #16611
@PVince81 Yes, seems so: https://github.com/owncloud/core/issues/16022#issuecomment-106438427

[2015-05-29 07:30] PVince81 commented on #16611
Closing then. Thanks.

[2015-05-29 07:30] #16611 closed

[2015-05-29 08:04] SergioBertolinSG opened #16618 "Creating collections using webdav interface with '\' ignores everything after it instead of throwing an error."
### Steps to reproduce

1. Using cadaver or other tool for interacting with webdav interface do:

mkcol hola\\\hallo

### Expected behaviour
An error since '\' is still a forbidden character.

### Actual behaviour
cadaver says:
Creating `hola\hallo': succeeded.
And a folder called 'hola' is created.

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:**

[2015-05-29 08:10] PVince81 commented on #11182
This is not about performance, but about maintainability.

So far we noticed again that because of system-wide external storage mount points, we need special code to handle such cases in the encryption app, and soon in the high-level file locking too.

If this was going through regular sharing, then the sharing code path would take care of it in a generic way and not require any custom code.

In f

[2015-05-29 08:11] PVince81 commented on #11804
- [ ] also lock properly for system-wide external storage mount points (to be discussed)
This is once again an opportunity to mention my idea of getting rid of "applicable" for external storages but using the "sharing" approach instead (admin mounts ext storage locally, shares with applicable users/groups), to avoid requiring custom code specific to ext storage and simply reuse the sharing one: ht

[2015-05-29 08:37] jnweiger commented on #16343
@sbelov1 My second example script shows the procedure using redhat software collections. As you can see it involves no manual installation of all php modules. They are pulled in by rpm dependencies.

I don't see why that should not work the same at a customers site.

[2015-05-29 08:38] davivel commented on #16618
Even further; seems WebDAV interface is not filtering any forbidden character at all. About 10 days ago we easily got an error messages playing with Poster and some MKCOLs with forbidden characters. I remember even a specific exception in the WebDAV response stating that the name including a forbidden character. What happened to it?

This is blocking two user stories for mobile clients right now.

[2015-05-29 08:43] SergioBertolinSG commented on #16618
I am just finding problems with backslash. What other characters failed before?

[2015-05-29 08:53] vgiannoul commented on #16547
Thanks a lot for the response @jancborchardt

[2015-05-29 08:57] davivel commented on #16618
Are you getting a rejection with some forbidden character?

I can't remember what characters we used exactly, we made some test on-the-fly in the middle of a meeting.

[2015-05-29 08:57] anduz commented on #13967
I'm also having issues with a foldername containing the german umlaut character ä.
In the OC web interface this folder is not shown, and the next folder "F" is also not shown.
My server config:
Debian 7
OC 8.0.2
External storage support 0.2.3 (SMB / CIFS mounted shared folder on Windows SBS2008)

[2015-05-29 08:58] Kawohl commented on #16330
Hey @etiess,

i was not able to reproduce this behaviour. Also Ubuntu 15.04

This worked for me:
I installed owncloud 8.0.2-7.

apt-get update
apt-get install owncloud

Can you please check which build of Owncloud 8.0.2 you have?
Thanks John

[2015-05-29 09:02] SergioBertolinSG commented on #15243
Tested on stable7, working fine.

[2015-05-29 09:09] SergioBertolinSG commented on #16618
Since 8.1 this characters are a new feature and can be used too.

The forbidden characters were '\', '/', '<', '>', ':', ',', '|' , '?' and '*'.

Now only '\' and '*' are forbidden.

[2015-05-29 09:24] davivel commented on #16618
But we are not receiving any error with '*' through WebDAV. Though '*' is a even more special case, I think, because in the web interface names are only reject if the full name is '*' , not if '*' is just a part of the name.

Besides, AFAIK, those characters are accepted *if* the storage where the server creates the folder allow them. But with external storages in file systems disallowing some of

[2015-05-29 09:35] Raydiation commented on #15567
Some updated stats based on only the month May

| Area  | IE8%  | IE9%  | IE10% |
|---|---|---|---|
| [Europe](http://gs.statcounter.com/?PHPSESSID=525sl35652lc1ef2futkqm32l6#browser_version_partially_combined-eu-monthly-201505-201505-bar)  | 1.69 (-0.20%) | 1.55 (-0.14%) | 1.15 (-0.90%) |
| [North America](http://gs.statcounter.com/?PHPSESSID=525sl35652lc1ef2futkqm32l6#browser_version_partially_c

[2015-05-29 09:35] PVince81 commented on #11804
- [ ] add LockInfo information in the Sabre Lock response

[2015-05-29 09:50] PVince81 opened #16621 "[concurrency] Access newly shared encrypted folder before all keys are ready"
### Steps to reproduce:
1. Enable encryption + default encryption module
1. Create two users "user1" and "user2"
1. Login as "user1"
1. Create a folder "enc"
1. Create three files "enc/a.txt", "enc/b.txt", "enc/c.txt" with some random text inside
1. Add `sleep(30);` here https://github.com/owncloud/core/blob/master/lib/private/encryption/update.php#L179 to slow down key updates on share
1. Share "

[2015-05-29 09:52] mmattel commented on #16559
As both PR are now merged, we can close this issue.

[2015-05-29 09:52] #16559 closed

[2015-05-29 09:59] etiess commented on #16330
The commands you indicate are the ones I used (apt-get update and apt-get install owncloud).

[2015-05-29 10:09] Kruseltier commented on #12193
Hi, I have exact the same problem.

owncloud Version: 8
Centos/Cloudlinux 6.6
Apache 2.4 + lsphp (litespeed)
MySQL 5.5
SyncClient 1.8.1

It seems that it happen randomly but only when more than one desktop client is acessing the same ownCloud account.

Is there anything i can do to help for debugging ?

Greetings
Dominik

[2015-05-29 10:20] DeepDiver1975 commented on #16617
@fabdelgado can you please point us to the file you are mentioning - I cannot find this sentence. THX

[2015-05-29 10:23] PVince81 commented on #16572
I see this happen too when I rename a file that has versions.
Maybe we're just lucky that at the exact same time cron.php is running ?

[2015-05-29 10:26] PVince81 commented on #16572
Hmm, cannot reproduce it consistently.

But I suspect that it might happen if the file was scheduled for expiration, but then before cron ran the file was renamed. So obviously at time of expiration the file is gone, so the expire job should give up.

[2015-05-29 10:30] PVince81 commented on #16572
Steps:
1. Create a file "versions.txt" with some contents
2. Edit "versions.txt" again and save (this will create a version and schedule an expire job)
3. Directly rename "versions.txt" to "renamed.txt"
4. Run cron

[2015-05-29 11:07] VincentvgNn commented on #10084
@carlaschroder
Great that you setup the collection in the doc Wiki.
I added core issue #15044 there. I expected that it would have been solved in the current server 8.0.3. But somehow this might have been delayed to server 8.0.4 or later.

@Xenopathic
I had 3 versions of OC running at the same time and for each I had to modify the .htaccess file. So enabling more HTTP access methods than by defaul

[2015-05-29 11:37] oparoz commented on #16616
Even if using the proper resolution, we can't compete with using the Canvas to do a resize of the full picture..

### Before
![compare_before](https://cloud.githubusercontent.com/assets/323220/7881847/a496bcaa-0607-11e5-9e67-53d3baf95b23.png)
### After
![compare_after](https://cloud.githubusercontent.com/assets/323220/7881850/b5badcfa-0607-11e5-8186-4f04e4e96438.png)

I think it's worth fixing, do

[2015-05-29 11:40] bigtreiber commented on #16614
@RealRancor Yes, that's me, same user. I shoul add that i checke with phpinfo that the option "always_populate ..." = -1 is set correctly for both php and /php/cli

[2015-05-29 11:43] oparoz commented on #16617
@DeepDiver1975 Fixed in master already, not sure if that can be backported since the example theme has probably been updated for 8.1
https://github.com/owncloud/core/commit/cd0fa062ebea4fd1c340a31e996e033754acd456

@jancborchardt should know.

[2015-05-29 11:58] schiesbn commented on #15684
@jimlei can you try to add this line right before the "throw new...":

[code]

Then try to open the broken file again and post the output from your owncloud.log here. Thanks!

[2015-05-29 11:59] flamenco108 commented on #15384
I appologize for interruption, but I have fount closed issue, where were request to recognize filetypes by mime, not extension. Here I see the reasonable request to make easier to configure filetypes.

This is also my pain: I would like to edit **txt2tags** files by ownCloud text editor, but textfile with **.t2t** extension is not recognized as a text file (I'm not talking about code coloring).

H

[2015-05-29 12:00] PVince81 opened #16624 "CSRF error after setup with redis module when redis is down"
### Steps to reproduce
1. Enable the PHP redis module
2. Shut down / do not start any redis server
3. Setup ownCloud from scratch (do not touch the config.php)

### Expected result
ownCloud can be setup

### Actual result
Getting internal server error, ownCloud unusable

### Versions
ownCloud 8.0.3 and stable8

Not sure if intended.
Maybe I should manually disable redis in config.php if I don't wa

[2015-05-29 12:01] schiesbn commented on #15684
By the way, what I just saw while looking at your initial bug report. Did the broken file already existed before the upgrade to 0C8 or was it uploaded after the upgrade? Is there any pattern, like old files work and new uploads doesn't, the other way around or is it random?

[2015-05-29 12:04] LukasReschke commented on #16624
With 8.1 this will be opt-in, that said I have not much clue about our redis integration :see_no_evil:

[2015-05-29 12:13] RobinMcCorkell opened #16625 "Configuration checks for HTTP methods"
Similar to how we check for charset, access to data/, and other configuration things, we should attempt to check the status of the more 'esoteric' HTTP methods on the web server, for example PUT and DELETE, which may require special configuration on shared hosters: ref #10084

Suggested implementation - an (admin-only?) controller that responds to all CRUD methods, with a null 'true' response. The

[2015-05-29 12:16] Xenopathic commented on #10084
@VincentvgNn The security implications are those of when an ownCloud installation is supposed to be locked down by host access restrictions, be that to a local subnet or whatever. With the proposed htaccess changes those restrictions would be disabled, in such a way that an admin might not notice until it is too late (given that ownCloud will happily overwrite the htaccess file, and the htaccess o

[2015-05-29 12:17] jancborchardt commented on #16616
Good catch! worth fixing for sure.

As a sidenote: why does the left image have jagged edges like that? (the owncloud logo)

[2015-05-29 12:18] Xenopathic commented on #15384
@flamenco108 At the moment, your only option is to edit mimetypes.list.php with your desired changes, then keep that file up to date every time you update your ownCloud installation. If/when the feature here gets implemented, you will have a file in /config to edit instead, which should preserve your changes across updates.

[2015-05-29 12:18] jancborchardt commented on #16617
This is fixed in master through the introduction of the example theme. Any custom themes you can develop wherever you like.

[2015-05-29 12:26] oparoz commented on #16616
The image on the left is resized by the browser using HTML5's drawImage and that doesn't work well with extreme resizing like this.
To fix this would require introducing a new drawImage method which resizes several times in smaller steps...

[2015-05-29 12:33] davitol opened #16626 "Using an AD, in the resulting filter using the wizard, (primaryGroupID=513) should appear, but it doesn't."
### Steps to reproduce
1. Configure a right Active Directory configuration in the server tab
2. Configure User Filter in the LDAP Wizard and select a group

### Expected behaviour
on AD, the resulting filter should look like (&(|(objectclass=person))(|(|((memberof=CN=Domain Users,CN=Users,DC=madder,DC=owncloud,DC=bzoc)(primaryGroupID=513)))(|((memberof=CN=Wolfpack 8,OU=packs,DC=madder,DC=owncloud,

[2015-05-29 12:33] davitol commented on #16626
![adbehaviour2](https://cloud.githubusercontent.com/assets/10596560/7834524/5ebdb596-0470-11e5-96f4-c9557155f7ce.gif)

[2015-05-29 12:34] davitol commented on #16626
Workaround:
    going to the user filter tab
    selecting the group
    => not present in the raw filter
    unselect the group
    select the group again
    => present in the raw filter

[2015-05-29 12:36] jnweiger commented on #16330
@etiess maybe you need to run apt-get -f install
I learned that sometimes apt-get does not resolve dependencies automatically and wants a human to type that additional command instead.

[2015-05-29 12:37] oparoz commented on #16616
To give you an idea, this is what someone has written as a replacement... :S
https://gist.github.com/fisch0920/37bac5e741eaec60e983

I think a better alternative would be to save the file somewhere and to generate a preview. It would also solve the double uploading bug.

[2015-05-29 12:49] MorrisJobke commented on #16626
This was noticed during the tests of #16456. #16456 is a backport from master and also included there and the backport to stable7 is also already merged

So this applies to stable7, stable8 and master

[2015-05-29 12:49] davitol commented on #16626
Same behaviour in stable7/8

[2015-05-29 12:50] MorrisJobke commented on #16626
the behaviour is not present in stable8 yet, but it is present in #16456

[2015-05-29 12:51] DeepDiver1975 commented on #16626
so a clear: no-merge then?

[2015-05-29 12:54] MorrisJobke commented on #16626
https://github.com/owncloud/core/pull/16456#issuecomment-106794688

[2015-05-29 13:04] schiesbn commented on #16601
I agree with Vincent. I think the owner has a valid reason to know who access which files on his server.

[2015-05-29 13:08] oparoz commented on #16551
Thanks for testing guys. It turns out it's a browser issue. I have no idea why, but after a while, Firefox tries to make the same request 2 or even 3 times... Might have something to do with having several tabs open for the same cloud.

[2015-05-29 13:08] #16551 closed

[2015-05-29 13:10] schiesbn commented on #11182
I agree with @PVince81 also versions and trash bin needs special code to handle this use cases correctly. For example at the moment versions are created for each user independently, so there is no common versions history. To have a common version history we would need to implement a special handling similar to what we implemented for the encryption keys. Same goes for the trashbin.

Implementing s

[2015-05-29 13:16] schiesbn commented on #16621
locking could be one approach. Because this is not only a encryption issue. Same could happen for any other post-hook which took some time.

Just because you might ask why we don't generate the keys in the pre-hook. But...
... we can't re-calculate the new shares before they exists (well, probably we could with enough overhead)
... it would leave us with wrong share keys if the share operation aft

[2015-05-29 13:19] #16572 closed

[2015-05-29 13:44] fabdelgado commented on #16617
This readme is in / themes.
Version 8 downloaded from the official website owncloud.org.

Thanks

[2015-05-29 13:54] PVince81 commented on #16626
Not sure what I am doing wrong ?

My steps:
1. Input host name and port, user, password and base dn on first page
2. Click "Continue"
3. Click "group1" then click on the arrow to the right

And now I see this, and "primaryGroupID" appears in the string:
![ad-group](https://cloud.githubusercontent.com/assets/277525/7883966/d46ff460-061a-11e5-9d0d-9994807cdce3.png)

But the UI looks different ?

[2015-05-29 13:54] jnweiger commented on #16189
@deMattin FYI:  I had to revisit the suggested code. No more dpkg-divert, no more mv. Both can lead to errors during unattended online update. I've changed that all to a simple cp. in the conf-available folder.

[2015-05-29 13:55] PVince81 commented on #16626
This is on master (01a241f71129c3980619f3981d3f7903c1a4cee8)

I'll try again in stable8, maybe the UI has changed

[2015-05-29 13:56] MorrisJobke commented on #16626
Yes it has. Keep in mind to use the branch #16456 ;)

[2015-05-29 14:55] deMattin commented on #16189
I think, that is a good solution for the conf-available (renaming old and copying new config). because this way it should work, as one expects it.
And `cp` should simply overwrite, if the file already exists.

I also think, that this is the reason and correct useage for this separate conf-available and conf.d folders.
conf.d: the link, that's once set (to a named conf-available file)
conf-availabl

[2015-05-29 15:24] PVince81 commented on #16621
My point here was mostly to find a good test case that illustrates the need to start the lock before the prehook and release it after posthook :smile:

[2015-05-29 15:27] carlaschroder commented on #10084
Thanks @VincentvgNn, I saw your addition to the Wiki. Everything that goes there will help me sort out what needs to go into the manuals.

[2015-05-29 15:28] jancborchardt commented on #16547
@vgiannoul well, please test https://github.com/owncloud/core/pull/15586 and leave your review there. :)

[2015-05-29 15:50] PVince81 commented on #16626
There is a race condition when saving settings from the dropdown, fixed here https://github.com/owncloud/core/pull/16456

The workaround is to close then reopen the raw filter field if it contains the wrong values.

[2015-05-29 15:54] PVince81 commented on #16625
Hmm, I didn't realize that. This means that WebDAV wouldn't work properly anyway if not all methods are allowed ?

At some point I'd like to make the web UI use WebDAV too (https://github.com/owncloud/core/issues/12353).

So I guess such check makes sense.

Also note that WebDAV requires other verbs like MKCOL, MOVE, COPY, PROPFIND, PROPPATCH

[2015-05-29 15:56] PVince81 commented on #16618
Hmm, maybe the name check isn't kicking in ? @DeepDiver1975 @LukasReschke

Something to look into.

Sounds similar to https://github.com/owncloud/core/issues/16401

[2015-05-29 16:10] jnweiger commented on #16189
@deMattin thanks for confirming!

[2015-05-29 16:14] PVince81 commented on #16618
Also possible on stable7, stable8. This is not a regression.

But I wonder if the code path for MKCOL is missing path validation ?

[2015-05-29 16:17] PVince81 commented on #16618
Can be reproduced with curl:
[code]

There is some code that will automatically convert backslashes to slashes, and maybe somehow mkdir is called in a way that also creates parents.

I don't think this is a critical issue, if the backslash is the only allowed character.

[2015-05-29 16:19] PVince81 commented on #16618
I'll debug this

[2015-05-29 16:39] PVince81 commented on #16618
Okay, basically this is what happens in stable7:
1. Path arrives from Sabre with the backslash "curl1\curl2"
2. The path is normalized first, which automatically converts backslashes to slashes (this was due to Windows paths in the past), becomes "curl1/curl2"
3. Path "curl1/curl2" is validated for special chars: it doesn't have any
So the code continues.

And on master it's the same.

For MKCOL S

[2015-05-29 17:17] PVince81 commented on #16618
Fix is here: https://github.com/owncloud/core/pull/16628

It prevents "*" and also backslashes when creating directories.

[2015-05-29 18:19] jimlei commented on #15684
[code]

All new files seem to work

Old files does _not_ work

[2015-05-29 18:30] jimlei commented on #15684
Hm. I had a test account with some dummy files in them. Same story, old files did not work, new files did.

I then did a password change, and got a "invalid key file, update your password in your personal settings".

I then entered the old password + the new password to reset the key, which was successful.

This account can now access old files.

Should this be safe to do on other accounts (one ha

[2015-05-29 18:41] schiesbn commented on #15684
Wow, that's strange. Resetting the password by providing the old and the new one means that ownCloud just decrypt your private key with the old password and then encrypt it again with the new one. If it works afterwards it means that all keys where OK, right from the beginning and you could also decrypt your private key because otherwise it wouldn't be possible to reset the password and you would

[2015-05-29 18:59] jimlei commented on #15684
@schiesbn have no idea why that worked. perhaps I was mistaken (though I tried several files without being able to read them before resetting.

Resetting my main accounts password does not give me the "invalid key file" message, and I'm now allowed to "update it", like I was with the other account.

[2015-05-29 19:37] vidaren opened #16631 "Missing translations in External storage back-end: Advanced settings"
### Steps to reproduce
1. Run the owncloud web UI as admin, using a non-English UI language
2. Activate the following apps: External storage support
3. Go to the Admin page
4. Under External storage, create a new external storage of any kind
5. Click the cogwheel on the right to bring up the Advanced settings panel
6. Observe that no text on that panel is translated:
![owncloud-externalstorage-adv

[2015-05-29 20:44] vidaren opened #16632 "Missing translation of Official/Approved/Experimental and tool tips on Apps page"
### Steps to reproduce
1. Run the owncloud web UI as admin, using a non-English UI language
2. Go to the Apps management page. The active apps are listed.
3. Hover the mouse over the "Official" button on an app, to see the moseover tool tip
4. Observe that the tool tip is in English, even though the string is translated on Transifex

### Expected behaviour
The translated tool tips should be shown.

[2015-05-29 23:23] oparoz commented on #16625
In my experience, you have to allow so many verbs that it's easier to go with "allow all"...
`GET POST OPTIONS PROPFIND PUT DELETE MKCOL MOVE REPORT PROPPATCH LOCK UNLOCK COPY`

[2015-05-29 23:37] etiess commented on #16330
@jnweiger same result :(

[2015-05-29 23:42] RealRancor commented on #16625
Hi,

i had used:

in the past without a problem but had missed the LOCK and UNLOCK. So it also really makes sense to have an initial documentation which verbs are needed...

[2015-05-29 23:47] cluelessperson commented on #16614
Server configuration

Operating system:
Ubuntu 14.04.2 LTC

Web server:
Apache 2.4.7

Database:
mysql 5.6.19

PHP version:
5.6.9-1

ownCloud version: (see ownCloud admin page)
8.0.3 (stable)

Updated from an older ownCloud or fresh install:
Updated PHP to 5.6, Owncloud from 8.0.2 to 8.0.3

List of activated apps:
Activity
Deleted Files
Disable Remember Login
Documents
External Storage Support
Exte

[2015-05-29 23:52] oparoz commented on #14712
The fix is in https://github.com/owncloud/core/pull/16382

[2015-05-29 23:56] oparoz commented on #16544
The fix is in #16382

[2015-05-29 23:56] oparoz commented on #16545
The fix is in #16382

[2015-05-30 00:03] RealRancor commented on #16617
The file is there in OC 8.0.3:

https://github.com/owncloud/core/tree/v8.0.3/themes

Seems the theme repos was kicked out recently (this repos was available some time ago) and so the link gets an 404.

[2015-05-30 00:06] ageis opened #16633 "files_encryption error: public key exists but private key is missing"
One of our ownCloud users, whose files_encryption migration_status (in oc_preferences) is still 0, is receiving the following error:

[code]

In owncloud.log it says:

[code]

He's tried logging in and out several times and it doesn't work—the error isn't going away. I've tried running encryption:migrate-keys; but the files and directories for keys don't exist. We need to trigger his migration to

[2015-05-30 07:14] LukasReschke commented on #16633
Would you mind to fill out the issue template? Thx.

[2015-05-30 07:34] jancborchardt commented on #16617
Hm, so then we should backport at least part of the new readme there (excluding mentioning the example theme) to stable8. Can someone of you @owncloud/designers do that? (I'm on vacation for the coming week, could do it after.)

[2015-05-30 10:04] MorrisJobke commented on #16626
Fixing PR is #16627

It seems that it only happen on stable8 -> update milestone

[2015-05-30 10:12] MorrisJobke commented on #16617
stable7 #16634
stable8 #16635

[2015-05-30 11:06] #16617 closed

[2015-05-30 11:14] maxidebiax commented on #16383
After nine days, it did it again.... I'd to do "encryption:migrate-keys" again.... Is that normal ?

[2015-05-30 11:25] AdamWill commented on #13052
sorry, I'm on vacation till Jun 8, I'll get back to it then.

[2015-05-30 11:41] MorrisJobke commented on #16632
Fix is in #16637

[2015-05-30 11:42] maxidebiax commented on #16383
BTW I'm not able to download anything... but the other users can...

[2015-05-30 12:03] MorrisJobke commented on #16631
fix is in #16638

[2015-05-30 12:24] enoch85 commented on #15550
Seems to have the same problem on server side. Trying to upload an 8GB file results in "Internal Server Error" as a yellow notice, and no errors in log with loglevel 3.

I have 16GB as max_upload and followed this guide: https://doc.owncloud.org/server/7.0/admin_manual/configuration/big_file_upload_configuration.html

[2015-05-30 12:27] RealRancor commented on #15550
Have you checked other logfiles like the one of PHP or your webserver? An internal server error should be definitely logged.

[2015-05-30 12:59] cor-mt opened #16639 "Filles missing after rename in sync client"
On my server a folder with a lot of sub files got renamed and afterwards it had only 3 files in it. The files are all still on the server but dont show in owncloud.

From the forum and other bugs with same problem the answer is to run "sudo -u apache php console.php files:scan <user>" to get the files back, that don't work and I assume it is because the files are encrypted. How can I get the files

[2015-05-30 13:24] Pantek59 commented on #14827
@cmonteroluque We are currently moving, so my OC server is offline. As soon as its back online, I'll try to reproduce the error message by re-inserting the lines I removed for it to work properly again.

[2015-05-30 13:53] LukasReschke opened #16640 "PHP 7 Compatibility Issue: php-parser uses String as class name"
[code]

[2015-05-30 13:53] LukasReschke opened #16641 "PHP 7 compatibility meta issue"
- [x] Cannot use 'Null' as class name as it is reserved in /lib/private/memcache/null.php (https://github.com/owncloud/core/issues/16149 / done: https://github.com/owncloud/core/pull/16869)
- [x] php-parser uses String as class name (https://github.com/owncloud/core/issues/16640)
- [x] guzzlehttp - redefinition of parameter $ (https://github.com/owncloud/core/issues/16642)
- [x] PHP Fatal error: U

[2015-05-30 13:54] LukasReschke commented on #16149
Added this to the meta issue: https://github.com/owncloud/core/issues/16641

[2015-05-30 13:54] LukasReschke commented on #16640
Added this to the meta issue: https://github.com/owncloud/core/issues/16641

[2015-05-30 13:54] LukasReschke commented on #16640
This is tracked upstream at https://github.com/nikic/PHP-Parser/issues/182

[2015-05-30 13:56] LukasReschke commented on #16640
This specific issue have been addressed with https://github.com/nikic/PHP-Parser/commit/1a627872f03925c0cea58de7a83102537037b572 - when updating we need to check if our rules still behave as expected.

[2015-05-30 14:00] LukasReschke opened #16642 "Bump to Guzzle 6"
Fixed in https://github.com/guzzle/guzzle/commit/b51929dfdda5fbd28c8b2b4d20fa030be921cc04#diff-1ec0793e916ece24b0b0c18df5ebb223 – thus we need to bump guzzlehttp…

[2015-05-30 14:05] LukasReschke opened #16643 "PHP 7 Compatibility Issue: Uncaught TypeException: Argument 3 passed to OC\Share\SearchResultSorter::__construct() must implement interface OCP\ILogger"
[code]

Ref https://github.com/owncloud/core/blob/a3bc11241230dda8709f98663d8fbc00bdbb2d2e/tests/lib/share/searchresultsorter.php#L41-L46

Either needs to get fixed in PHPUnit or we need to change this :see_no_evil:

[2015-05-30 14:12] LukasReschke commented on #16641
cc @DeepDiver1975 I took the freedom to create a meta issue for all PHP 7 issues. Couldn't find a lot of other show stoppers besides stuff like future deprecation notices…

[code]

etc.

[2015-05-30 14:28] LukasReschke commented on #16639
Thanks a lot for reporting issues back to us!

We need some more information to properly support you with your issue!

Can I ask you to follow our guidelines for submitting bugs as described here: https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

[2015-05-30 14:56] avrhack commented on #11588
I'm on 8.0.2 and 1.8 and performance is still unusably slow. This has been going on since v5, when are we actually going to get a fix as people are ditching own cloud for other options as a result of the incredible amount of time it is taking to address.......

[2015-05-30 19:04] greavette opened #16644 "Feature Request - Share Link - Can Edit - Add ability to Download or not to the share"
Hello,

Not sure where exactly to put this feature request...but basically I'd like to suggest a checkbox in the Can Edit section of a Share Link whereby you can decide if the users/groups have the ability to download a file or not.

Thank you.

[2015-05-31 09:07] wazari972 opened #16645 "[OC Sync Client] Files lost because of network problems"
Hello,

I suspect that Owncloud lost some of my files synchronized with Linux OC Sync Client, certainly in a period where my OC server network connection was unreliable. Is is possible?

* server (S) and desktop (D) filesystem where not altered, the synchronized directories in the D FS were used normally
* at some points, files in D disappeared and reappeared
* eventually, some files in D never ca

[2015-05-31 15:44] rullzer commented on #16644
The whole purpose of a link share is for other people to be able to download it right?

Could you explain what you want with a use case?

[2015-05-31 18:07] rullzer opened #16646 "OCS User/group API"
Eventually we need to expose groups and users via an API to allow clients (desktop/mobile/whatever) to have completion of sharing other than links.

I already proposed an PR for this in #13587. But recently I have been thinking we might want to go in a different direction than that PR. This issue is to discuss how we can properly expose this info.

## What to expose
Basically we want to expose all

[2015-05-31 19:31] oparoz commented on #16601
Thanks for the party analogy @PVince81 . From that view point, it makes sense. I'm sharing something to people I know and I don't mind them inviting more people to MY party.

The thing I'm not entirely warmed up to is when a relationship is created between 2 instances, just because they know the same person. I'm OK with sharing something to B and allocating some bandwidth to that channel, but I do

[2015-05-31 22:22] DeepDiver1975 commented on #16641
Nice - THX - looks like we need to come up with a PHP7 ci configuration ....

[2015-05-31 23:05] DeepDiver1975 commented on #16641
Tata - https://ci.owncloud.org/job/server-master-linux-php7/1/

[2015-06-01 02:14] greavette commented on #16644
In our office we share our operating procedure documents online using Owncloud using the built in PDF Viewer.  These documents are not in print and are to be only viewed online.  We have instructed the employees that it is against company policy to download these files.  Since the majority of our employees do not use Owncloud for any other purpose and do not have an Owncloud client account we setu

[2015-06-01 06:44] DeepDiver1975 commented on #16646
Sounds very reasonable - thx.

Regarding the size of the result set: we need pagination on this.
We might want to think about using link headers in the response (there is an rfc about this - github api uses this as well)

[2015-06-01 06:57] jvillafanez commented on #16582
Master (b1ac53867948ce69941aab69695cb9b5bcaf56e0) seems to work fine, I can't reproduce the issue there

[2015-06-01 06:59] elbarbudo opened #16647 "OpenCloud Client does not allow multiple accounts"
On my Androïd, I set up the blaucloud.de client for Android.
It has a very nice features which is missing on linux client :
You can "add an account" on it.

It is very usefull : I use a "local" account at home and a "hosted" account on the road.

There is no way to set up more than one account in the linux client

[2015-06-01 07:07] LukasReschke commented on #16647
Duplicate https://github.com/owncloud/client/issues/43

[2015-06-01 07:07] #16647 closed

[2015-06-01 07:09] LukasReschke commented on #16644
Introducing this would be a lot code to maintain and there would be other ways to download a file anyways. Thus it is very unlikely at all that we will ever introduce such a feature.

If you want to have such a feature for PDF files the easiest way to achieve this would be to create an own ownCloud theme and modify the public sharing HTML page to remove the sharing buttons.

[2015-06-01 07:09] #16644 closed

[2015-06-01 07:09] LukasReschke commented on #16645
Please open an issue in the client repository following the contributing guidelines. (i.e. use the issue template)

https://github.com/owncloud/client/blob/master/CONTRIBUTING.md

[2015-06-01 07:09] #16645 closed

[2015-06-01 07:10] #16632 closed

[2015-06-01 07:16] rullzer commented on #16646
@DeepDiver1975 you mean [RFC#5988](https://tools.ietf.org/html/rfc5988) I assume?

Probably would be something that we'd want to include in the AppFramework and then pass some parameters to the functions.

But I agree that this would be a good idea.

[2015-06-01 07:17] MorrisJobke commented on #16646
@butonic talked some while ago about a more useful sharing behaviour. The idea was to not share to users, but to contacts. You don't want to have a autocomplete on all users of your instance. You most propably want to share to a contact (or email address). Then the receiver is actually the correct person and not yet another username you have to remind and type in correctly. Also the problem with e

[2015-06-01 07:30] rullzer commented on #16646
@MorrisJobke interesting. However however I still see use for an API like this. Since you might want to search trough your contacts.

Further more you can't only share with contacts. Assume a big organisation you can't expect me to have contacts for every user I might ever want to share with. The same actually holds for e-mail addresses, since we currently do not enforce those as well. (Or multple

[2015-06-01 07:37] LukasReschke opened #16648 "Can't install master on a host with only SQLite installed"
1. Have a host with only the SQLite DB driver
2. Try to install ownCloud
3. :boom:

[2015-06-01 07:45] rullzer commented on #16646
So for a first setup we probably only need the GET request on the main url... so no ``` users/<user> ``` stuff is required yet. That stuff can always be added later.

So ``` http://localhost/owncloud/ocs/v1.php/apps/files_sharing/api/v1/users ```

would have a signature like:

[code]

Which would then return an array with users containing:

1. User name
2. Display name
3. Link to avatar

Group wou

[2015-06-01 07:50] LukasReschke commented on #16648
Broken by @MorrisJobke with his change in setup.js at https://github.com/owncloud/core/commit/176b9674d29dc657a4b7000a9445fd7c3d74caee from https://github.com/owncloud/core/pull/16426

I have no idea about JS -> @MorrisJobke please take a look. THX.

[2015-06-01 08:06] LukasReschke commented on #16641
[code]

:see_no_evil:

[2015-06-01 08:31] pomu0326 commented on #16187
@PVince81 thank you. I was able to resolve the issue.

[2015-06-01 08:44] MorrisJobke commented on #16648
Damn ... I thought I tested this with one DB only ... let me check that.

[2015-06-01 08:55] MorrisJobke commented on #16648
It's this call:

[code]

That results in

[code]

I will investigate further. It looks like the error didn't got triggered before, because it was an empty set. Now it sees the link as a button. -.-

if there is no buttonset available.

[2015-06-01 08:57] DeepDiver1975 commented on #16641
Take it easy - the image was not yet available last night ...

https://ci.owncloud.org/job/server-master-linux-php7/3/label=docker/console

[2015-06-01 09:03] MorrisJobke commented on #16648
Fix is in #16650

[2015-06-01 09:07] #16401 closed

[2015-06-01 09:16] PVince81 commented on #11588
Related https://github.com/owncloud/core/issues/12001

[2015-06-01 09:42] michaelstingl opened #16651 "Unclear quota warning for shared contend"
### Steps to reproduce

1. User A uses 97% of its quota
2. User A shares directories with user B
3. If B accesses shared contend of user A, B gets a quota warning "Your storage is almost full (97%)"

### Expected behaviour

A correct message could be "Storage of A is almost full (97%)".

### Actual behaviour

If B accesses shared contend of user A, B gets a quota warning "Your storage is almost fu

[2015-06-01 09:50] DeepDiver1975 commented on #16646
yes - see https://developer.github.com/v3/#pagination

[2015-06-01 09:52] DeepDiver1975 commented on #16646
yes - this is a pretty old idea which was basically implemented for some customer a while ago - while I like the idea I see no immediate benefit in terms of API. Furthermore I don't see any change in the sharing behavior any time soon.

[2015-06-01 09:52] jnweiger commented on #14109
Since 8.0.3 we have
<pre>
    <IfModule mod_dav.c>
      Dav off
    </IfModule>
</pre>

in our owncloud.conf -- this should fix the issue.

[2015-06-01 09:52] #14109 closed

[2015-06-01 09:53] patrick1990 opened #16652 "Restored shared files don't vanish from all trashbins"
I'm playing around with the trashbin feature of Owncloud at the moment and have noticed a strange behavior when I try to delete and restore a file in a shared folder between two users.

### Steps to reproduce
1. Create a folder as user A.
2. Share it with user B of your Owncloud.
3. Delete the file as user B. Owncloud moves the file to the trashbin of user A and B as described [here](https://doc.o

[2015-06-01 09:54] DeepDiver1975 commented on #16646
I'd keep it with the sharing api - but as this is not files_sharing specific - it should be a core api from my POV.

[2015-06-01 10:00] PVince81 commented on #16601
I think for the bandwidth case, the idea would be to disallow resharing (that wouldn't work for share with link, but let's focus on the regular s2s case from the share dropdown). But then how will other people invite people to your party ? Maybe they could send you invitation requests that you need to confirm one by one "can I invite XYZ ?", and you, the owner, can decide whether that person gets

[2015-06-01 10:11] #16648 closed

[2015-06-01 10:22] jvillafanez opened #16653 "Versions app doesn't work"
### Steps to reproduce
0. Change the language of the interface to another language (go to the user's personal page and change the setting there)
1. Upload a file
2. Upload another version of the file
3. Click in the versions link (hovering over the file)

### Expected behaviour
A dropdown with the versions of the file appears

### Actual behaviour
Nothing happens. Versions are created in the FS bu

[2015-06-01 10:49] DeepDiver1975 commented on #16653
@jvillafanez can you test this with 7.0.5 as well please? Anything in logs/browser console? THX

[2015-06-01 11:02] nickvergessen commented on #15327
[code]

Kind of hard if you can not reproduce it. I think this is one of those issues where test order matters. unluckily phpunit does not have a feature to run tests in a fixed order... :cry:

But since it's run order dependent, this should be a bug with our tests, not with the functionality. So nothing that stops a release.

[2015-06-01 11:17] nickvergessen commented on #16487
@RealRancor btw since the feature is completly useless in case when an external user backend is active, should we just hide it in that case?

[2015-06-01 11:23] nickvergessen commented on #13410
It is fixed for the next release, but that is the actual "workaround" which has the same result.
https://github.com/owncloud/files_locking/pull/11
https://github.com/owncloud/files_locking/pull/10

[2015-06-01 11:23] #13410 closed

[2015-06-01 11:27] #16586 closed

[2015-06-01 11:36] paoloB132 opened #16654 "%uid placeholder not replaced with login"
owncloud 8.0.3
RedHat 7.1

Trying to integrate authentication with AD 2012
LDAP module seems properly configured since AD users are correctly listed, I mean attributes are collected from AD.
LADP Authentication fails both from desktop client and from web form.

Log shows a failed core login with the username that comes from webform, and the bind attempt shows an empty DN. I mean that username is p

[2015-06-01 11:39] PVince81 commented on #16654
@blizzz

[2015-06-01 11:41] PVince81 commented on #16652
I think this is by design.

Also at the time the file is restore, ownCloud has no information about who has the same file in their trashbin. It cannot rely solely on the file name, as the user could have deleted another file with the same name.

Tagging as enhancement for further discussion.

[2015-06-01 11:43] PVince81 commented on #16651
Right. `getstoragestats` is called for the currently displayed folder.
In the case of a shared folder, the returned quota / free space is the one from the owner.

We should probably hide the message when in a shared folder.
Maybe that ajax call should return the name of the owner of the folder too to make that detection possible.

[2015-06-01 11:43] nickvergessen commented on #16601
Situation that should be kept in mind:

1. ServerA is intern only
2. ServerB is both intern/extern
3. ServerC is extern only

In case B reshares the share from A, it should still work (maybe just like it does now).
So in case C reshares to ServerD, D interacts directly with B

[2015-06-01 11:44] PVince81 commented on #16639
Can you describe what you mean with "don't work" after rescan ?
Do the files appear again in the UI ?
If yes, can these be downloaded or are you seeing an error that they cannot be decrypted ?

The symptoms are likely to be related to #13391

[2015-06-01 11:47] PVince81 commented on #16601
Right. We could call this the "gateway" usecase, where there's an OC in the middle.

[2015-06-01 11:48] jvillafanez commented on #16653
I cannot reproduce the issue neither in 7.0.6RC1 nor 7.0.5 now. The only thing I can figure out is that files_locking app is blocking the access to the file and the web interface gets stuck or doesn't get the response. :confused:

[2015-06-01 11:49] DeepDiver1975 commented on #16653
hmm - was that part of oc7 already? We might want/need to double check if there are some backports required.

Log entries might help in case they are present

[2015-06-01 12:05] benedetto opened #16656 "zip file for download of multiple files appears corrupted"
### Steps to reproduce
1. Select multiple files in the web interface and hit "download" to get a zip file containing all the files
2. Download it to your computer
3. Try to open it on a Linux system

### Expected behaviour
The file should open/extract into the selected files

### Actual behaviour
If I try to open it with a Linux GUI program for archive handling ([Ark](https://en.wikipedia.org/wiki

[2015-06-01 12:24] rullzer commented on #16646
@DeepDiver1975 yeah it is part of sharing (at least the bare stuff) but this might be expanded in the future and I'd rather have it as a proper app then from the start. I agree that it should be a core app.

Any suggestions for names?

[2015-06-01 12:58] DeepDiver1975 commented on #16646
not a core app but in core itself

[2015-06-01 13:03] rullzer commented on #16646
Ah yes that makes more sense ;)

[2015-06-01 13:06] #16631 closed

[2015-06-01 13:11] LukasReschke commented on #16656
What version of ark are you using? Can you provide any information which libraries it uses? (maybe there is something in the help window?)

[2015-06-01 13:22] benedetto commented on #16656
In my case it's Ark 2.19 on KDE 4.14.2. According to apt it depends on

- libarchive12
- libc6 (>= 2.14)
- libkdecore5
- libkdeui5
- libkfile4,
- libkhtml5
- libkio5
- libkonq5abi1
- libkparts4
- libkpty4,
- libqt4-dbus (>= 4:4.5.3)
- libqtcore4 (>= 4:4.7.0~beta1)
- libqtgui4 (>= 4:4.5.3)
- libstdc++6 (>= 4.1.1)

and recommends

- bzip2
- p7zip-full
- unzip
- zip

I would guess that the archive ha

[2015-06-01 13:36] Raydiation commented on #15894
Some things that are unclear from an API design point of view:

* The name of the route should probably be **api.app_id.controller.method**, e.g. **api.news.folders.index**
* What about API resources? e.g.
 * **'api' => [name => 'folders#index' ..., 'api_resources' => [name => 'folders#index'...**
 * **'api' => ['routes' => [name => 'folders#index' ...], 'resources' => ['folders'...]]**
 * **'reso

[2015-06-01 13:37] DeepDiver1975 commented on #16656
Another funny ZipStreamer case? @McNetic you might be interested? THX a lot

[2015-06-01 13:46] DeepDiver1975 commented on #15894
What is the difference between an API route and an non-API route? Nothing technical at the end but a convention. I'm not sure if we need additional declarations.

[2015-06-01 13:52] Raydiation commented on #15894
@DeepDiver1975 i meant this specific api design proposal :) badly worded, my bad

[2015-06-01 13:55] PVince81 opened #16659 "scanFile() does not return file id if scanned file matches cache entry 100% (same mtime)"
When `scanFile()` is called on a file, and that file is already in the cache, it will usually try and see if there are differences and whether the cache needs to be updated.

In case there are no differences (same mtime), `scanFile()` will return the found data.
However, that data will not contain the file id.

Found while debugging a race condition in a backport's unit test: https://github.com/ow

[2015-06-01 13:56] PVince81 commented on #16659
In that unit test we actually had the following situation:
1) The folder "files" did not exist on disk
2) The cache entry for "files" did exist in the cache
3) setupFS() / getUserFolder() would see that the folder does not exist, so it would create it.
4) The creation of the folder would trigger scanFile() as if it was a new folder
5) The scanFile() bug would not return the fileid and cause troubl

[2015-06-01 14:00] DeepDiver1975 commented on #16383
hmmm ... sounds like the encryption keys are still not yet all migrated for all users.

[2015-06-01 14:01] DeepDiver1975 commented on #16378
@Dark-Fenix question answered? Please reopen if something is still not working for you as expected. THX

[2015-06-01 14:01] #16378 closed

[2015-06-01 14:02] DeepDiver1975 commented on #16135
Feel free ... nothing to do for us here - sorry

[2015-06-01 14:02] #16135 closed

[2015-06-01 14:07] PVince81 commented on #16659
Looks like https://github.com/owncloud/core/pull/10993 would cover this.

[2015-06-01 14:08] DeepDiver1975 commented on #16198
how did you upgrade? Using the console I assume.

Generally speaking: The user which runs the web server has to be the owner of all files within the data dir.

[2015-06-01 14:11] Raydiation commented on #15894
We could ofc also turn every route into a web interface and api route. That way the api is automatically generated. The question is ofc if there are security implications because every internal route is available externally (which is already the case I guess).

For instance **['name' => 'page#index', 'url' => '/test'] would create the following URLs:
* /apps/appid/test
* /api/appid/test

Depending

[2015-06-01 14:18] DeepDiver1975 commented on #10319
curl is a hard dependency now - should not longer happen -> close

[2015-06-01 14:18] #10319 closed

[2015-06-01 14:19] LukasReschke commented on #15894
I'd really like to avoid this. Sounds like something where things can easily somehow explode for whatever reason. Clear definition of API and Web Interface route sounds more bullet proof to me.

[2015-06-01 14:19] DeepDiver1975 commented on #10384
We are constantly working on improving sync performance -> closing this issue - THX

[2015-06-01 14:19] #10384 closed

[2015-06-01 14:20] DeepDiver1975 commented on #10432
ownCloud core out of the box does not support this yet.

[2015-06-01 14:22] DeepDiver1975 commented on #10294
@PVince81 afaik with 8.1 shares are restored from trash bin - right? THX

[2015-06-01 14:23] DeepDiver1975 commented on #11468
@jnfrmarks may I ask you to reevaluate the current status of this issue? THX

[2015-06-01 14:23] PVince81 commented on #10294
Yes. Not sure about the etag though.
I'd expect the etag to stay the same when moving folders anyway, only the parent's etags should change, so the client should detect them as if they were the same as before.

Something to try out.

[2015-06-01 14:24] DeepDiver1975 commented on #11577
@MTRichards still a valid issue?
@blizzz mind having a second look?

[2015-06-01 14:24] DeepDiver1975 commented on #10294
8.2 then

[2015-06-01 14:24] PVince81 commented on #10294
Note: this is only when deleting a shared folder as owner.
If someone unshares then reshares, it will be interpreted as a brand new folder on the other side.

[2015-06-01 14:25] DeepDiver1975 commented on #11574
@jnfrmarks can I ask you to verify the status of this issue - THX

[2015-06-01 14:26] Raydiation commented on #15894
@LukasReschke downside is ofc that all of our internal APIs become external to rephrase your answer

[2015-06-01 14:26] DeepDiver1975 commented on #11679
@PVince81 still a valid issue? THX

[2015-06-01 14:27] CaptainOfTheTitanic opened #16661 "Version 8.0.3 Contacts index not changed when contact name changed"
I entered a new contact and saved it. I then noticed that I had misspelled the name and changed it. The name changed in the display, but it retained the old name in the index.
I exported the entry to vcf format and found that the FN: field had changed, but the N: field was unchanged.

I can work around this by exporting to vcf and editing the raw text, deleting and reimporting, but it would be nic

[2015-06-01 14:28] DeepDiver1975 commented on #11692
We shall take care of this in 8.2

[2015-06-01 14:28] MTRichards commented on #11577
Do not think this is still an issue.

[2015-06-01 14:28] maxidebiax commented on #16383
I dit it twice since two days.... nothing changed...

[2015-06-01 14:29] ksingh7 opened #16662 "External Storage on S3 (via Ceph RGW) : Cannot upload files > 1MB"
Hello to owncloud great community

I have a running owncloud environment  on CentOS6.5 and ownCloud 8.0.3 (community version)
My external storage is on S3 backed by Ceph Rados Gateway

**What's Working** :+1:
- Owncloud frontend
- Ceph storage
- Able to upload files under size 1MB , can create directories as well without problems.

**What's NOT working** :-1:
- Unable to add any file larger than 1

[2015-06-01 14:29] jnfrmarks commented on #16362
@jancborchardt

works for me.

[2015-06-01 14:29] DeepDiver1975 commented on #11715
user gone -> close

[2015-06-01 14:29] #11715 closed

[2015-06-01 14:30] #11577 closed

[2015-06-01 14:30] DeepDiver1975 commented on #11577
thx

[2015-06-01 14:30] DeepDiver1975 commented on #16383
@schiesbn can I ask you to assist here to recover the encryption keys for this user? THX a lot!

[2015-06-01 14:35] DeepDiver1975 commented on #12287
@schiesbn this should be fixed afaik - right?

[2015-06-01 14:38] RealRancor commented on #16661
Hi,

the issue tracker of the contacts app is located here:

https://github.com/owncloud/contacts/issues

Please re-open there using the issue template as described in

https://github.com/owncloud/core/blob/master/CONTRIBUTING.md#short-version

[2015-06-01 14:38] LukasReschke commented on #16614
Will be fixed with 8.0.4 due to https://github.com/owncloud/core/pull/16102

[2015-06-01 14:38] #16614 closed

[2015-06-01 14:47] #16661 closed

[2015-06-01 15:02] DeepDiver1975 commented on #11776
could be an integer overflow in the propfind result?

refs https://github.com/owncloud/core/issues/16240 :question:

[2015-06-01 15:04] CaptainOfTheTitanic commented on #16661
My apologies, I thought I was on the contacts issues page when I raised this.

[2015-06-01 15:05] DeepDiver1975 commented on #5964
these days are long gone :speak_no_evil:

This is most probably related to timeouts on assembly of the chunks -> we will address this in 8.2. Closing this as kind-of-duplicate. THX

[2015-06-01 15:05] #5964 closed

[2015-06-01 15:07] DeepDiver1975 commented on #9531
@JohnDoe42 does this error still exist in ownCloud 7.0.x? Please reopen if so - THX a lot for testing

[2015-06-01 15:07] #9531 closed

[2015-06-01 15:07] PVince81 opened #16664 "Issues to solve with locking"
- [x] TODO: lock scanner: prevent the scanner to scan or modify/delete locked elements (see https://github.com/owncloud/core/issues/13391#issuecomment-105852842). Maybe the scanner should also use acquireLock to make sure other processes do not try and do something with the cache entries that are about to be changed. This also means that concurrent scanner processes would exclude each other.
- [x]

[2015-06-01 15:11] DeepDiver1975 commented on #12511
@yourrs can you please provide this information? THX

[2015-06-01 15:19] PVince81 commented on #16664
@icewind1991 see above

[2015-06-01 15:19] PVince81 commented on #16664
I suggest to focus on the scanner first so we can get the most critical issue solved at last.

[2015-06-01 15:20] PVince81 commented on #11804
More issues and test steps documented here: https://github.com/owncloud/core/issues/16664

[2015-06-01 15:21] LukasReschke opened #16665 "Incompatibility with PHP 5.3 in Stable7 - Regression"
[code]

Caused by https://github.com/owncloud/core/pull/13742 - broken since 26. May: https://ci.owncloud.org/job/server-stable7-linux-php5.3/417/database=sqlite,label=vm-slave-02/console

[2015-06-01 15:49] oparoz opened #16668 "isMounted() should return false and not throw inherited WebDAV exceptions"
### Env

8.0, master
### Steps to reproduce
1. On instance A, **enable** "Allow users on this server to send shares to other servers"
2. Share a folder and add it to instance B
3. On instance A, **disable** "Allow users on this server to send shares to other servers"
4. On instance B, make sure via the Web GUI that you're denied access to the folder
5. Now launch a simple app on instance B which u

[2015-06-01 15:50] #16665 closed

[2015-06-01 15:56] DeepDiver1975 opened #16669 "Fix ci on stable6 ..."
https://ci.owncloud.org/job/server-stable6-linux/

[2015-06-01 16:47] PVince81 commented on #16668
Not sure if this is correct. If I remember correctly, `isMounted()` is to find out if a folder is actually a mount point. Returning false would mean that it is not a mount point, even though it might be an unavailable storage. Maybe the exception needs to be caught somehow. Might be tricky.

[2015-06-01 16:47] PVince81 commented on #16668
@oparoz any example app ? I guess galleryplus uses isMounted ?

CC @jnfrmarks for this test case

[2015-06-01 16:54] PVince81 commented on #11679
Still happening in 7.0.6 RC 1:
[code]

but as this is a rare case and low severity, I suggest to close. (else this would need a OC 7 specific fix)

[2015-06-01 17:07] jnfrmarks opened #16670 "Get white screen when configuring 'redis' in config.php"
### Steps to reproduce

1. Install 8.1
2. Update config.php to support redis.  I used this configuration:

[code]

3. Access ownCloud via the browser

### Expected behaviour

Successful access

### Actual behaviour

Get a white screen.

If I remove the 'redis' configuration, I am able to access ownCloud.

redis is running at 127.0.0.1/6379

There is nothing in the server log file.

I'm thinking th

[2015-06-01 17:20] oparoz commented on #16668
Yes, Gallery is using it, but have a look at the public interface of FileInfo. It should return a boolean and not throw any exception.

[2015-06-01 17:24] RealRancor commented on #16487
I don't have any insights in the external user backends available for oC so i can't answer this question. :-/

[2015-06-01 17:26] oparoz commented on #16668
Regarding Gallery, I had to do this:
https://github.com/owncloud/galleryplus/commit/40778e14ffd7d622a7b432c8b4da3c7faa3a4f7f

Looking at the implementation of isMounted in FileInfo, it looks like the same kind of workaround could be implemented there instead of at the storage level, even though getId is supposed to return a string and not throw an exception.

[2015-06-01 17:28] RealRancor commented on #16670
Hi,

a white page mostly means an "internal server error" which should be logged somewhere in your logfiles. From a first view at the config.php it seems you're missing a ",". So try:

    'memcache.local' => '\OC\Memcache\Redis',

instead of:

    'memcache.local' => '\OC\Memcache\Redis'

[2015-06-01 17:29] oparoz commented on #16670
I have this in mine and it works:
`'memcache.local' => '\\OC\\Memcache\\Redis',`

*Note the double slashes*

[2015-06-01 17:34] jnfrmarks commented on #16670
I think it was both:
the missing comma and the double slashes.

Thanks!

[2015-06-01 17:34] #16670 closed

[2015-06-01 18:11] DeepDiver1975 commented on #11679
:green_heart:

[2015-06-01 18:11] #11679 closed

[2015-06-01 18:37] carlaschroder opened #16671 ""Strict-Transport-Security" HTTP header "2,678,400" seconds"
This message is displayed on the Admin page of 8.1 beta 2 enterprise, on https://daily.owncloud.com/enterprise-complete-master/owncloud/index.php/settings/admin:

'The "Strict-Transport-Security" HTTP header is not configured to least "2,678,400" seconds. This is a potential security risk and we recommend adjusting this setting.'

Maybe it's me, but it doesn't make sense.

![strict-transport](http

[2015-06-01 18:42] RealRancor commented on #16670
@jnfrmarks
I think it could be useful to know what of those have caused this or if it was really both. If the double slashes are also causing such issues it should be fixed in the config.sample.php

[2015-06-01 18:43] RealRancor commented on #16671
Two refs about the changes and some documentation:

https://github.com/owncloud/documentation/issues/914 , https://github.com/owncloud/documentation/pull/989

[2015-06-01 19:13] carlaschroder commented on #16671
Oh, it's already documented. Excellent.

[2015-06-01 19:14] carlaschroder commented on #16671
I'll open a separate issue for the inconsistency in the value.

[2015-06-01 19:14] #16671 closed

[2015-06-01 19:15] RealRancor commented on #16671
@carlaschroder
Mhhh, but maybe left this open as a link to the documentation is missing?

[2015-06-01 19:17] carlaschroder opened #16673 "Two different Strict-Transport-Security recommendations"
oC 8.1 displays this message on the Admin page "The "Strict-Transport-Security" HTTP header is not configured to least "2,678,400" seconds"

But the admin manual recommends "max-age=15768000".

They should be the same. Which one needs to change?

[2015-06-01 19:39] DeepDiver1975 commented on #13391
@PVince81 with #16237 being merged I guess we can close this - or is there anything missing? THX

[2015-06-01 19:40] DeepDiver1975 commented on #15956
@blizzz what is the plan here ? We need to come up with some solution within the next few days - THX

[2015-06-01 20:02] PVince81 commented on #13391
Please keep this open.
https://github.com/owncloud/core/pull/16237 did NOT solve this issue. Further work is required to lock the scanner.

I have listed it in the list of open issues here: https://github.com/owncloud/core/issues/16664#issue-83550603 (the first BUG entry).

[2015-06-01 20:09] DeepDiver1975 commented on #13391
I see - THX for keeping the overview :rocket:

[2015-06-01 20:13] jnfrmarks opened #16675 "User can create federated share when "Restrict users to only share with users in their groups" is enabled"
### Steps to reproduce

1. Install 8.1
2. Navigate to admin page
3. Click on Sharing
4. Check the "Restrict users to only share with users in their groups"
5. Try to share a file with a local user not in their group
6. Try to share a file with a remote user

### Expected behaviour

In step 5: the user should be prevented from sharing the file.
In step 6: the user should be prevented from sharing t

[2015-06-01 20:38] jnfrmarks commented on #16675
I'm marking this a sev 2 because users are able to share when they shouldn't be able to share.

[2015-06-01 20:40] blizzz commented on #15956
*investigating/working on it*

[2015-06-01 22:05] blizzz commented on #15956
@DeepDiver1975 left comment here https://github.com/owncloud/core/pull/16402#issuecomment-107729139

[2015-06-01 22:41] karlitschek commented on #16673
@LukasReschke

[2015-06-01 23:07] ageis commented on #16633
I'm not positive on the STR, but I'll try to give what I think the context might be:
### Steps to reproduce
1. Enable server-side file encryption
2. Have a user who doesn't log in afterward, and thus doesn't get migrated
3. Manually delete a couple files in their data directory
4. Now try to log in, they won't be migrated and they'll just keep getting the same error.

### Expected behaviour
The us

[2015-06-02 01:15] bkerensa opened #16676 "Renaming Files Corrupts Them"
### Steps to reproduce
1. Rename File
2. Download File
3. Open and Discover File is Corrupted

### Expected behaviour
Tell us what should happen
Files should not get corrupted because of a rename

### Actual behaviour
Tell us what happens instead
Files get corrupted

### Server configuration
**Operating system**:
Ubuntu

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
PHP 5.6

**ownC

[2015-06-02 02:47] gigapouch opened #16677 "Feature Request: Ability to upload files automatically to server"
I think it would be nice if we could have it so that every week or so our computer would upload our important files to our OwnCloud server. This could be a setting in the Desktop client.

[2015-06-02 06:35] RealRancor commented on #16677
Hi,

@gigapouch
this is the issue tracker of the ownCloud server. If you think your use-case is something which should be included in the sync client you could post this in:

https://github.com/owncloud/client/issues

[2015-06-02 07:16] etiess commented on #16330
@Kawohl Were you able to reproduce it on 8.0.2.8 ?

[2015-06-02 07:34] Raydiation commented on #15894
Another thing that comes to my mind: Currently authentication is run before dispatching anything and all authentication methods are possible. As seen here https://github.com/owncloud/core/blob/master/lib/private/appframework/middleware/security/corsmiddleware.php#L79 we need to actively undo all the authentication work to exclude session auth for api routes for instance

[2015-06-02 07:37] MorrisJobke commented on #16616
Fixed in #16623

[2015-06-02 07:37] #16616 closed

[2015-06-02 07:40] Kawohl commented on #16330
Not yet, i should get to this this afternoon.

[2015-06-02 07:52] #16677 closed

[2015-06-02 07:52] PVince81 commented on #16676
Is this repeataple or happens randomly ?

In what way is the file corrupt, is it truncated ?

[2015-06-02 07:54] PVince81 commented on #16675
Probably a misunderstanding in the settings. Federation is separate from regular sharing.

But I agree that the world gives the impressiom that federated sharing should be disabled for these users too.

@MTRichards @jancborchardt @schiesbn what do you think ?

[2015-06-02 07:55] PVince81 commented on #16669
all green now it seems

[2015-06-02 08:04] DeepDiver1975 commented on #16669
yes

[2015-06-02 08:04] #16669 closed

[2015-06-02 08:16] PVince81 commented on #10294
Tested the following on 8.1 / master:
1. Create two users "user1" and "user2"
2. Login as "user1"
3. Create a folder "test"
4. Upload many pictures into "test"
5. Share "test" with "user2"
6. Setup the sync client for "user2"
7. Wait for it to download the folder
8. Close the sync client
9. As "user1", delete "test" to trashbin
10. Restore from trashbin
11. Reopen the sync client

The folder is st

[2015-06-02 08:16] #10294 closed

[2015-06-02 08:21] rullzer commented on #16675
I assume we want to clarify and possibly fix this. Since you can do federated sharing with users on your own owncloud instance.

[2015-06-02 08:24] PVince81 commented on #16601
@oparoz I just thought, the bandwidth argument does not apply because: regardless whether a chain is used or a direct connection, all connections will always affect the owner's server. Because so far federated shares are NOT mirrored, but direct connections (or a chain of connections) that go to the owner's server. (I'd love to have syncing/mirroring, but that's another topic: https://github.com/o

[2015-06-02 08:27] jvillafanez commented on #16653
Unless we have a way to force the failure in the files_locking app to check if it's causing this issue, we can close it. If there are no clear steps to reproduce the bug (as it's the case), then it's not a bug.

[2015-06-02 08:27] PVince81 commented on #16675
Hmmm, right... local federated shares... still an open topic: https://github.com/owncloud/core/issues/9090 (to recognize shares to the same instance and convert them to local shares)

[2015-06-02 08:28] PVince81 commented on #9090
@MTRichards @cmonteroluque would be good to get a comment on this proposal.

Because without this it means that chains of federated shares could be created to local servers, and people might also be able to bypass permissions, see https://github.com/owncloud/core/issues/16675

[2015-06-02 08:40] PVince81 commented on #13688
Retested on master (d2f3710ede1fa72658a4c12264a90a1936faf9ca) and it works now: the change is detected and the file is redownloaded by the sync client.

[2015-06-02 08:40] #13688 closed

[2015-06-02 08:45] PVince81 commented on #15125
Looks like with s2s it is also redownloading the same file (single file share through s2s) over and over again. It doesn't seem to go through shareinfo.php, so it is likely that it is re-generating a new etag for every access too.

[2015-06-02 08:46] jvillafanez opened #16678 "File icon isn't loaded in the versions dropdown"
### Steps to reproduce
1. Check that versions app is enabled
2. Upload a file (checked with a .pdf file, but any other file format which doesn't generate a preview should do)
3. Upload another version of the file
4. Click in the versions button of the file to show all available version.

### Expected behaviour
Preview of the file or the corresponding icon should be shown.

### Actual behaviour
If

[2015-06-02 08:47] oparoz commented on #16601
Good point. I missed that in your OP.

[2015-06-02 08:52] oparoz commented on #16601
So, if a direct connection is created, as UserA, will I be able to remove shares from users beyond UserB without affecting the other ones?

How about some policies regarding bandwidth? Allocate 5GB for a share or 1GB per sharee, etc.

[2015-06-02 08:52] PVince81 commented on #15125
This PR fixes it: https://github.com/owncloud/core/pull/15895

But not sure about the consequences with regular WebDAV servers that do not return etags. It would just fallback to re-generating a new etag as it did before. On the other hand, "hasUpdated()" will not rely on remote etags in such cases but only on mtimes. So might be fine.

[2015-06-02 08:55] PVince81 commented on #16601
I'd say as an owner you'd see the list of everyone who gets access, so you'd be free to revoke any shares as you wish.

Bandwidth allocation could be an extension, yes. But before it happens here, it was already requested in the past for regular public shares.

[2015-06-02 09:04] MorrisJobke commented on #16678
Also reproducable on master.

[2015-06-02 09:04] PVince81 commented on #13337
Works properly on 8.1 / master (d2f3710ede1fa72658a4c12264a90a1936faf9ca)
Works properly on 8.0.4RC1 too.

[2015-06-02 09:04] #13337 closed

[2015-06-02 09:17] jvillafanez opened #16679 "Error logs from the files_external app (dropbox) even though the mount can be accessed normally"
### Steps to reproduce
1. Setup a dropbox account as external storage (check you have access to the dropbox account, and you can read the files in the account from ownCloud)
2. Upload a file in the dropbbox mount from ownCloud

### Expected behaviour
The file is uploaded without any issue

### Actual behaviour
File is uploaded, but there are some errors in the logs

### Server configuration
**Oper

[2015-06-02 09:21] DeepDiver1975 commented on #16679
the whole dropbox integration needs an overhault - out of scope for me for oc7 - this is a major topic for oc8.2

[2015-06-02 09:29] nickvergessen commented on #9090
Would be nice to have a way to avoid/prevent that. Otherwise smashbox remote share testing will become a nightmare (since you need clients with different urls, etc.)

[2015-06-02 09:49] LukasReschke commented on #15894
Post has been updated with some thoughts of @Raydiation and me. A diff can be found at https://gist.github.com/LukasReschke/32fe5cc14e5764a7ef34/revisions

[2015-06-02 09:52] PVince81 opened #16681 "Webdav ext storage lighttpd issue"
### Steps to reproduce
1. Setup a Webdav server on lighttpd, use a subdir "ex: http://example.com/dav" (dav being the subdir)
2. Configure external storage of type "WebDAV" to connect to it, and specify "dav" in the root field
3. Try navigating into the mount point

### Expected result
Mount point can be navigated

### Actual result
Error, jumps back to root.

### Versions
ownCloud git master (d2f

[2015-06-02 09:52] PVince81 commented on #16681
I discovered this because I wanted to test something with a non-OC Webdav server.

[2015-06-02 10:02] DeepDiver1975 commented on #16681
isn't is dead?

[2015-06-02 10:03] PVince81 commented on #16681
Dead as in ?

[2015-06-02 10:03] PVince81 commented on #16681
I'm not talking about running OC on lighttpd.
Lighttpd is an external server which I use as a Webdav server to test Webdav external storage.

[2015-06-02 10:04] DeepDiver1975 commented on #16681
http://sabre.io/dav/webservers/ - looks like it has many known issues

[2015-06-02 10:05] DeepDiver1975 commented on #16681
@MorrisJobke once had a docker with some dav server inside ...

[2015-06-02 10:06] PVince81 commented on #16681
Hmmm ok... then I'll test with Apache + mod_webdav then.

I started working on a fix but stripping the full path from the entries in opendir() is a bit tricky...

[2015-06-02 11:48] DeepDiver1975 commented on #15413
@MorrisJobke Jan is off this week - any chance you take care of this? THX

[2015-06-02 11:50] Kawohl commented on #16330
@etiess
I´m waiting to get the 8.0.2.8 buildt since it is not on our repository server anymore.

@jnweiger will do a reverse engineered build so i can test the setup. I´ll notify you as soon as we get to it..sorry

[2015-06-02 11:51] DeepDiver1975 commented on #14539
As a result we need to have file locking enabled by default :speak_no_evil:

[2015-06-02 11:51] PVince81 commented on #16471
Actually a duplicate of https://github.com/owncloud/core/issues/15125 where I managed to reproduce (and fix) this issue

[2015-06-02 11:51] #16471 closed

[2015-06-02 11:52] nickvergessen commented on #16675
The language strings in question:

Seperated by the section header of "Federated Cloud Sharing"

Well I'd say it is quite obvious and I don't think that the first setting should influence the second one.

[2015-06-02 11:54] DeepDiver1975 commented on #16675
@jnfrmarks please have a look at the comments - THX

[2015-06-02 11:56] DeepDiver1975 commented on #16264
@SergioBertolinSG can you please test owncloud/files_texteditor#72 - THX

[2015-06-02 11:58] jnfrmarks commented on #16675
It sounds like what we're saying is that the settings for sharing and the settings for federated sharing are mutually exclusive.  If that's the case, at a minimum, I'd vote for a message to the effect on the admin page and maybe open up an enhancement  issue to discuss/implement combining the two, if that's what we even want.

@DeepDiver1975

[2015-06-02 12:04] DeepDiver1975 commented on #16177
@carlaschroder are you aware of this? Let me know if you need more information - THX

[2015-06-02 12:04] DeepDiver1975 commented on #16173
@blizzz what shall we do here now? THX

[2015-06-02 12:05] DeepDiver1975 commented on #16132
@jnweiger are you aware of this? THX

[2015-06-02 12:07] DeepDiver1975 commented on #16113
@nickvergessen can you please add a version check for redis? Code is kind of identical as with apcu - THX

[2015-06-02 12:12] DeepDiver1975 commented on #15415
I guess this is an encoding issue on Mac - the is some UTF8 fun called NFD and NFC. Sounds related to me.

[2015-06-02 12:12] DeepDiver1975 commented on #15415
We need someone woth a Mac to debug this. @georgehrke some spare time left on your side? THX

[2015-06-02 12:13] DeepDiver1975 commented on #15392
This aint no task for 8.1

[2015-06-02 12:16] PVince81 opened #16685 "Setup page log warnings"
### Steps
1. Open the setup page

### Expected
No warning

### Actual
[code]

### Versions
ownCloud 8.1 git master (3ebc8f0564395fbb519fc4275e0f6f883df708b7)

@LukasReschke any idea ?

[2015-06-02 12:16] georgehrke commented on #15415
yes, can check later today

[2015-06-02 12:18] DeepDiver1975 commented on #15359
What is the current cache timeout we use for the apps page?

@LukasReschke you know this by chance? THX

[2015-06-02 12:18] PVince81 commented on #16685
Bisecting now... looks like it's very old

[2015-06-02 12:18] PVince81 commented on #16685
Had a chat with @LukasReschke who might have an idea. Assigning to him.

[2015-06-02 12:19] jnweiger commented on #16330
https://build.opensuse.org/package/show/home:jnweiger:branches:isv:ownCloud:community:8.0/owncloud
has 8.0.2-8 now.

[2015-06-02 12:19] DeepDiver1975 commented on #15152
@PVince81 @schiesbn what's the call on this one? I fear fixing this will result in bigger changes.

8.2 ????

[2015-06-02 12:22] PVince81 commented on #15152
I guess it depends whether the logic is already there (but inactive/buggy)  or needs to be implemented because it's missing. Any idea @schiesbn ?

[2015-06-02 12:22] LukasReschke commented on #15359
300 seconds – https://github.com/owncloud/core/blob/ba52f6f8fc0d88000332e9e64c48a56c526823d9/settings/controller/appsettingscontroller.php#L242

[2015-06-02 12:22] MiguelAlcaino commented on #12193
Same issue here. I'm facing "Operation cancelled" as well

[2015-06-02 12:23] DeepDiver1975 commented on #15018
I guess this issue might be better suited to be handled in the zipstreamer repo. closing this therefore. THX

[2015-06-02 12:23] #15018 closed

[2015-06-02 12:25] MorrisJobke commented on #11963
While thinking about this keep following scenario in mind:

* there are users with a quota of 0 B
* they got a folder from a user with a normal quota shared
* the 0 B quota users delete a file from these shares - with #16613 the trashbin doesn't has any quota anymore
* the file get immediatly cleaned up, because it reaches more than 50% of the quota (at 0 B this isn't hard ;))

[2015-06-02 12:47] MorrisJobke commented on #16681
I had a docker container with Apache and mod_dav. Didn't worked either.

[2015-06-02 13:01] MTRichards commented on #9090
While there are use cases for mounting a local share as a remote share, it breaks the paradigm that we have.

We should be flattening a federated share with a local user into a local share, or we are essentially bypassing various security mechanisms.

[2015-06-02 13:05] PVince81 commented on #16678
Low ? This is a regression => high

[2015-06-02 13:06] PVince81 commented on #16678
Hmm... OC 7 ? From what I remember this used to work.

[2015-06-02 13:07] PVince81 commented on #16678
@oparoz @georgehrke @schiesbn

[2015-06-02 13:09] RealRancor commented on #16685
Looks to me like a dup of https://github.com/owncloud/core/issues/15992 ?

[2015-06-02 13:10] PVince81 commented on #16685
Let's keep it separate.

This ticket here is about the offset 0.

And the other can be kept for the "touch()" part.

[2015-06-02 13:12] RealRancor commented on #16685
The touch() part is already handled in https://github.com/owncloud/core/issues/12893. So https://github.com/owncloud/core/issues/15992 is mixing both.

[2015-06-02 13:13] PVince81 commented on #15992
The "touch()" was raised here https://github.com/owncloud/core/issues/12893
And the 0 one here https://github.com/owncloud/core/issues/16685 (which is different).

Closing this so that each issue can be adressed separately (especially that they have different causes/env/reproduction envs)

[2015-06-02 13:13] #15992 closed

[2015-06-02 13:14] PVince81 commented on #16685
I closed https://github.com/owncloud/core/issues/15992

[2015-06-02 13:16] georgehrke commented on #16678
@schiesbn Did anything change in the name schema for versioning? We only touched some hooks that affected previews of versioning, but nothing that should break the preview generation itself.

[2015-06-02 13:17] RealRancor commented on #16685
Works :) The main point about the possible reasons for this was posted by @Raydiation in https://github.com/owncloud/core/issues/15992#issuecomment-97966255:

[2015-06-02 13:18] PVince81 commented on #16685
Yes, @LukasReschke told me the same thing, and that he would have a look :smile:

[2015-06-02 13:20] RealRancor commented on #12893
If someone is taking over to debug this note the recent discussion/comments in https://github.com/owncloud/core/issues/15992

[2015-06-02 13:22] nickvergessen commented on #16113
Fix: https://github.com/owncloud/core/pull/16687; Documentation: https://github.com/owncloud/documentation/issues/1180

[2015-06-02 13:22] PVince81 commented on #15990
All errors in the log are "Sabre\\\\DAV\\\\Exception\\\\NotAuthenticated", so it is likely that it cannot authenticate.

Are other webdav tools like cadaver able to connect to it ?

[2015-06-02 13:22] nickvergessen commented on #16113
@jvillafanez if you need help to update your redis, see https://github.com/phpredis/phpredis/issues/466#issuecomment-106082212

[2015-06-02 13:31] nickvergessen commented on #9090
Just saying, if you are not allowed to share locally, but remotely, you can also set up a dummy oC which accepts the remote share and then remote shares it back to the old instance. So this permission combination (allowing remote without allowing local) is just a no-brainer situation which we should invest too much time into.

But don't get me wrong, detecting local shares and doing them local ins

[2015-06-02 13:31] PVince81 commented on #15897
I got it running, will submit a PR

[2015-06-02 13:32] nickvergessen commented on #16675
Let's document this in the UI. Nothing fix-worthy really:
https://github.com/owncloud/core/issues/9090#issuecomment-107953657

[2015-06-02 13:33] MorrisJobke commented on #16678
It's not the preview generation, but the fallback to the mimetype icons. If the file doesn't have a preview the mimetype icon should be shown. I think this never worked before.

[2015-06-02 13:33] DeepDiver1975 commented on #15894
To finally rephrase what I did mention many times:
- the current OCS API has to continue to operate properly
- we shall no change the behavior of the existing v1 OCS API
- we need to be flexible to allow a v2 of OCS API to be implemented using whatever mechanism we are going to introduce
- before changing the API we require integration tests (using pyocclient ??) to have a reference to ensure we d

[2015-06-02 13:37] PVince81 commented on #15897
PR here to introduce the docker instance: https://github.com/owncloud/core/pull/16688

[2015-06-02 13:38] oparoz commented on #16678
Duplicate of https://github.com/owncloud/core/issues/14106

[2015-06-02 13:41] #16678 closed

[2015-06-02 13:54] PVince81 commented on #15152
I'll have a look to find out.

[2015-06-02 14:02] fulvioroxo opened #16689 "renamed shared folder have old name in Shared for user #6698 Reissue"
Hello everyone,  how are you guys?

I ran into a problem. I shared a folder, and then renamed it. Later, with another user, I´ve opened the folder and it had the old name. So I looked over here and found that this is by design and the topic was closed.

[2015-06-02 14:20] #16689 closed

[2015-06-02 14:22] Kawohl commented on #16330
@etiess
 I am sorry to disappoint you but i couldn't reproduce the error on my machine. I had the same Specs as you and the update went well.

[2015-06-02 14:24] PVince81 commented on #15152
Tested on master.

Before deletion:
[code]

After deletion:
[code]

It looks like the versions are completely deleted, even for user1.

The correct behavior I think would be to have both users have a copy not only of the file but also of all versions.

[2015-06-02 14:32] PVince81 commented on #15152
A quick debug session shows that it is a bug.

In the code that retains versions we try and get the owner with getOwner.

When deleting as owner, getOwner() will be called on the home storage, so always returns the current user.
For a shared file, getOwner() will try and resolve the original file. However, at this point the file has already been moved to trash so it doesn't exist any more, so noth

[2015-06-02 14:32] etiess commented on #16330
Thank you to have tested it: do you need me to perform some test? Or do you want an access on my server?

[2015-06-02 14:42] #16344 closed

[2015-06-02 14:42] #16510 closed

[2015-06-02 14:43] PVince81 commented on #15152
Okay, seems to work. Will submit a PR later.

[2015-06-02 14:56] Skywalker-11 opened #16690 "Missing 'New' button in shared folders"
## Steps to reproduce
* UserA creates a folder and shares a link via mail
* UserB (no logged in user) opens the link

## Actual behaviour
There is no 'New' button to create new files or subfolders only the 'upload' button.

![clipboard01](https://cloud.githubusercontent.com/assets/11180862/7938831/d0e75f60-0947-11e5-8b2b-e902e50a73bf.png)

## Expected behaviour
Because UserB can still upload folde

[2015-06-02 15:14] PVince81 commented on #15152
PR here: https://github.com/owncloud/core/pull/16691

[2015-06-02 15:38] PVince81 commented on #13864
I retested this connected to an encrypted 8.1/master (3ebc8f0564395fbb519fc4275e0f6f883df708b7) and renaming/moving didn't cause any trouble any more.

However on stable7/8 the problem still exists due to the old architecture with its unfortunate limitations.

Closing as fixed, backport not possible.

[2015-06-02 15:38] #13864 closed

[2015-06-02 15:42] jnweiger commented on #16132
fixed in 8.1.0~Beta2-4

[2015-06-02 15:42] #16132 closed

[2015-06-02 15:48] PVince81 commented on #13703
Closing as duplicate of https://github.com/owncloud/core/issues/16584
It is more recent but contains steps to reproduce.

[2015-06-02 15:48] #13703 closed

[2015-06-02 15:58] PVince81 commented on #16653
Works for me with 7.0.6RC2 (core + files_locking + files_texteditor).
I picked "French" as the language. What did you use ?
Creating versions work properly (uploaded with both web UI and WebDAV)

@jvillafanez which language (tell me the exact string) did you pick in your initial test ? We had cases in the past where languages caused JS issues and broke functionality.

Are you sure this was just a

[2015-06-02 15:59] PVince81 commented on #16653
Was it a small file or a big file ?
Did you have two browser tabs and have one upload a big file (web UI) while trying to retrieve versions in another tab ? (this might cause a locking situation)

[2015-06-02 16:01] eon01 opened #16693 "Using occ: 'Exception' with message 'Not installed'"
Hi, I followed the official guide to use occ:

I am using a vagrant machine ( https://github.com/eon01/OwnCloud_Vagrant_SaltStack )
[code]

I've got this error:

[code]

Is this an issue ?

[2015-06-02 17:04] DW-rocks opened #16694 "No CardDav URL provided"
In former versions I could click on the little wheel-icon in the contact app to get the CardDav URL. In calendar app it still works but in the contact app I can't find it anymore. (OwnCloud v8.0.2)

[2015-06-02 17:13] LukasReschke commented on #16694
Please file contact apps bugs at https://github.com/owncloud/contacts

[2015-06-02 17:13] #16694 closed

[2015-06-02 17:25] RealRancor commented on #16693
Hi,

this is mostly caused if the user you're using has no permissions to either access the /config/ folder or the /config/config.php file.

[2015-06-02 17:50] sbelov1 commented on #15990
@PVince81 @bboule Guys, sorry, didn't provide an update on this yet. The litmus test has failed and they also failed connecting via WebDAV using the Windows tool I provided. They've identified that the issue is on their end (they think its a possible domain authentication issue). Thanks for looking into to this. Closing the case for now.

[2015-06-02 17:54] #15990 closed

[2015-06-02 18:13] aaomidi commented on #1190
Whats the status on this?

[2015-06-02 18:13] Raydiation commented on #15894
OK, after working on automatic OPTIONS route generation for api routes I'm starting to think that this is not possible. We should just keep the current behavior and let devs route preflighted cors requests to the preferred controller.

The reason for this is that you can not automatically determine which controller should be used for the options request. Consider the following route example:

[cod

[2015-06-02 18:40] jnfrmarks opened #16695 "Fatal error after configuring LDAP via occ to a server that isn't up"
-
### Steps to reproduce

1. Install 8.1
2. Enable and configure ldap via occ - in my case the LDAP I configured was on a system that was not reachable
3. From the UI, navigate to the users page

### Expected behaviour

The UI users page is displayed

### Actual behaviour

The UI session exits with a fatal error message.  This is in the server log file:

[code]

![p352](https://cloud.githubusercon

[2015-06-02 19:18] karlitschek commented on #16695
@blizzz

[2015-06-02 19:37] jnfrmarks opened #16696 "Server status shows file locking disabled even though it's enabled in config.php"
### Steps to reproduce

1. Install 8.1
2. Enable and configure file locking in config.php

### Expected behaviour

Server status on admin page shows that Experimental file lock is enabled

### Actual behaviour

Server status on admin page shows that Experimental file lock is NOT enabled

Scrubbed config.php:

[code]

![p353](https://cloud.githubusercontent.com/assets/8480343/7945147/f69f70b8-093c-

[2015-06-02 19:38] maritwho opened #16697 "Update to 8.0.3"
An exception occurred while executing 'ALTER TABLE oc_oc_appconfig_q2qltibkgx8nl ADD PRIMARY KEY (`appid`, `configkey`)': SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry 'core-backgroundjobs_step' for key 'PRIMARY'

This occures with click on automatic update button

[2015-06-02 19:42] LukasReschke commented on #16697
Thanks! can you please fill out the issue template so we know which DB etc. you are using? THX!

https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

[2015-06-02 19:47] jnfrmarks commented on #16696
Of course, this could be because I didn't configure things correctly :)

[2015-06-02 19:57] georgehrke commented on #15415
Uploading a folder named "äæñöø" works for me with Chromium 45.
I'm indeed able to reproduce it with older versions of Chromium (test version 38).

So what do we want to do here?
Pollute js code with OS X specific code or advice users to update?

[2015-06-02 19:58] lparmentier-quatral commented on #14757
We've trying OC 8.1.0.6 beta2 on a cloud (HaProxy on frontend apache, HaProxy on frontend MariaDB Cluster) and there is the same problem. Not due to renaming directory, so not due to #14752 cause we've the last version where it's resolved, and we caused the problem without renaming directory.

[2015-06-02 20:05] LukasReschke commented on #16696
cc @icewind1991

[2015-06-02 21:55] carlaschroder commented on #11804
Please review docs https://github.com/owncloud/documentation/pull/1182

[2015-06-02 23:52] marioskourtesis commented on #16590
Hello,
This happening constantly, and the owncloud service after a few hours is not available... Is there anything that I can do about it?

[2015-06-03 06:10] DeepDiver1975 commented on #15415
Thx. In this case it's a won't fix for me. Thx

[2015-06-03 06:38] SergioBertolinSG commented on #15415
Tested with chrome 43 in mac, working fine.

[2015-06-03 06:39] #15415 closed

[2015-06-03 06:42] #16693 closed

[2015-06-03 07:02] MorrisJobke commented on #11963
This could also be an external storage mount, but then there is no way to version files or use the trashbin.

[2015-06-03 07:41] jvillafanez opened #16699 "Cannot add a federated share from a non-LDAP user if the LDAP server is down"
### Steps to reproduce
Some of the steps might not be required, but they're here to reproduce the situation

1. Setup an LDAP server in server B
2. In a LDAP user account (server B) upload a file and share it by link
3. Add that share to another ownCloud - server A (federated share)
4. Disconnect the LDAP server from server B (in my case, the LDAP server changed its ip address). LDAP configuration

[2015-06-03 08:07] alve89 opened #16700 "Feature Request: Confirm new event in shared calendar / Inform about it"
It was great if you could implement a message system (like for example Apples iCloud calendar has) that informs all users of a shared calendar when a new event has been created. In an iCloud calendar all users need to confirm this event to be taken into "their account" (I don't know how Apple solves this issue), but I think a message about this new event was sufficient.

Many thanks in advance!

[2015-06-03 08:07] #16700 closed

[2015-06-03 08:08] alve89 commented on #16700
UPDATE: Sorry, wrong thread. I'll move it to calendar app.

[2015-06-03 08:12] PVince81 opened #16701 "Properly show locked file error message in web UI"
Whenever a file is locked, instead of hanging, the web UI needs to show a proper error message.

Currently the network console will return "500 Internal server error" and the log will show that there was a LockingException.

The LockingException needs to be caught properly in the ajax endpoints to be translated into a proper error message.

Needed to be able to show the locking exceptions:

- [x]

[2015-06-03 08:12] PVince81 commented on #16664
- [ ] BUG: properly show locking error message in the web UI: https://github.com/owncloud/core/issues/16701

[2015-06-03 08:15] PVince81 opened #16702 "Show indicator when experimental locking is enabled"
Maybe show this in the admin page ?

This should appear only if "filelocking.enabled" it true and also the redis server is properly configured for locking.

This is to make it easier to find out whether the locking setup is correct.

Another alternative would be to throw an exception directly if the setup is wrong, for example if redis is not reachable or no memcache provider was selected for lock

[2015-06-03 08:23] jvillafanez commented on #16653
@PVince81 I was using "castellano" as language.

About the file, I cannot guarantee much: I usually use small files so I'd say less than 1MB and I'm sure that it was less than 10MB. I'm not sure if it was shared or not.

Encryption was disabled, but there might be some previously encrypted files in an external storage that might be causing some other errors. I've tried forcing this, but still can'

[2015-06-03 08:36] RealRancor commented on #16702
Hi,

maybe i misunderstand this completely but isn't there already an indicator on the admin page if the experimental file lock is enabled/disabled on the admin page: https://github.com/owncloud/core/issues/16696

[2015-06-03 08:39] nickvergessen opened #16704 "Deleting a file as share receiver does not copy enc keys"
### Steps to reproduce
1. Share a folder
2. Create a file
3. As share recipient delete the file

or

`bin/smash -t=4 lib/oc-tests/test_sharePermissions.py` see https://github.com/owncloud/smashbox/issues/100

### Expected behaviour
1. The file and owner keys are in `owner/files_encryption/keys/files_trashbin/files/filename.d<timestamp>`
2. The share receiver key is in `receiver/files_encryption/ke

[2015-06-03 08:40] PVince81 commented on #16702
Ah yes, I didn't see it. Thanks @RealRancor

[2015-06-03 08:40] #16702 closed

[2015-06-03 08:43] PVince81 commented on #16696
Ah cool, I didn't know this was already implemented

[2015-06-03 08:49] SergioBertolinSG opened #16706 "Uploading a file with the forbidden character '\' using webdav interface returns 500"
### Steps to reproduce
1. Create a file called 'hola\hola.txt'
2. Using curl do:
     curl -v -X PUT "http://USER:PASSWORD@HOST/remote.php/webdav/hola\hola.txt"

### Expected behaviour
It returns 400

### Actual behaviour
HTTP/1.1 500 Internal Server Error

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

**ownCloud v

[2015-06-03 08:52] MorrisJobke commented on #15413
Fixes are now all in PRs for all branches

master: #16703
stable8: #16705
stable7: #16707

[2015-06-03 08:52] MorrisJobke commented on #16409
More IE fixes are referenced in https://github.com/owncloud/core/issues/15413#issuecomment-108251921

[2015-06-03 09:01] PVince81 commented on #16653
Was the versioned file on external storage ?

[2015-06-03 09:10] PVince81 commented on #16590
I see you don't have external storage.
Do you access the data folder outside of ownCloud ? Or is it used exclusively from ownCloud ?
If exclusive, you could try setting this https://github.com/owncloud/core/blob/master/config/config.sample.php#L910 to zero.

[2015-06-03 09:17] marioskourtesis commented on #16590
I access the data using the ownCloud client and web interface.

[2015-06-03 09:31] PVince81 commented on #16590
Which both are through ownCloud, yes. So that setting should be safe to use for you.

[2015-06-03 09:50] DeepDiver1975 commented on #16695
This works as designed from my understanding - as soon as an configured LDAP server is not reachable - we will bail out. Otherwise we will run into these known error scenarios where user folders are being generated and so on.

No LDAP is like No database -> No cloud

[2015-06-03 09:56] PVince81 commented on #16696
Getting the same issue... it seems locking doesn't enable like it did when I tested.

Debugging now

[2015-06-03 09:59] PVince81 commented on #16696
@jnfrmarks I think I forgot to tell you that you also need to enable the PHP redis module:
`extension=redis.so`

After enabling that module and restarting Apache, the status page now tells me that locking is enabled.

[2015-06-03 10:01] PVince81 commented on #16696
Pinged @carlaschroder here about adding this detail https://github.com/owncloud/documentation/pull/1182#issuecomment-108284238

[2015-06-03 10:04] lawl opened #16709 "Can't set "delete" permissions on "Shared with others" view"
Steps to reproduce:
1. Create a folder.
2. Share it with a user on the same instance
3. Go to the "Shared with others" view
4. Edit the permissions for the user (expand "can edit")
5. "delete" flag is missing

Expected behavior:
Delete flag should be available the same way it is on the "All Files" view.

Version: 8.0.3

Additional Information:

PVince81 helped me debug this in IRC as I thought I c

[2015-06-03 10:06] MorrisJobke commented on #5383
@dragotin Wasn't there a fix in the client that handles the session properly? I remind a bug in the client with a `;` at the end of the HTTP header which is wrong.

[2015-06-03 10:07] PVince81 commented on #16709
Confirmed. Also happens 8.1 / master.

Need to find a another way to remove the delete icon in this view without touching the permissions.

[2015-06-03 10:07] PVince81 commented on #16709
Setting to medium as there is a workaround: going to the "All files" view and share from there.

[2015-06-03 10:07] jvillafanez commented on #16653
I can't say for sure. I've also checked that without any luck.

[2015-06-03 10:09] PVince81 commented on #16653
Hmm... also without any log entries there isn't much we can do but guess.

I you saw the versions on disk but the dropdown didn't show them, maybe something got in the way of retrieving versions.

I suggest we close this for now as it is not reproducible.

[2015-06-03 10:18] PVince81 commented on #16706
Right. It does return the expected "InvalidPathException" but the status code is 500 instead of 400.

I'll have a look.

[2015-06-03 10:19] DeepDiver1975 commented on #16693
Given the version you are using: occ can only be used after owncloud is installed.

[2015-06-03 10:23] PVince81 commented on #16706
Fix is here https://github.com/owncloud/core/pull/16711

[2015-06-03 10:27] mr-gosh opened #16712 "Are there any planed features for "Secure" file displaying?"
Some of our Customers ask for features like in http://www.netfiles.de
Something like "show documents for a small  time slot" without letting them copy or print it.

[2015-06-03 10:34] nickvergessen opened #16713 "Risky test in CORSMiddlewareTest with no assertions"
[code]

@LukasReschke

[2015-06-03 10:36] LukasReschke commented on #16713
@Raydiation Also applies to the other open PRs.

[2015-06-03 10:36] PVince81 commented on #16701
This will require fixing all the ajax calls of the files web UI to properly catch exceptions and actually return them: (something which seems to have been missing for a long while)
- [ ] rename
- [ ] move
- [ ] new file
- [ ] new folder
- [ ] delete
- [ ] download
- [ ] upload
- [ ] getstoragestats ?

[2015-06-03 10:53] RealRancor commented on #16712
Hi,

very likely not as there was a similar request to disable downloading of files here which was denied: https://github.com/owncloud/core/issues/16644

Your customer is probably looking for an IRM (Information Rights Management) tool.

[2015-06-03 11:11] carlaschroder commented on #16409
IE? People still use that??

[2015-06-03 11:40] #16706 closed

[2015-06-03 11:49] #16704 closed

[2015-06-03 11:52] #16713 closed

[2015-06-03 11:53] MorrisJobke commented on #16712
There is the expiry feature for link shares.

Regarding copy or printing: There is no way to do this properly. Take a screenshot and print it -> all the code to implement this feature then is useless.

[2015-06-03 11:53] dragotin commented on #5383
@MorrisJobke current clients send both the Cookie as well as the Authorization header. The ```;``` should not be an error btw as it's a valid char (delimiter).

[2015-06-03 11:54] MorrisJobke commented on #16712
THis is a duplicate of #16644 and therefore I close this.

[2015-06-03 11:54] #16712 closed

[2015-06-03 11:55] #16113 closed

[2015-06-03 11:56] gig13 commented on #16409
@carlaschroder
Yes, tons of people still use IE.

[2015-06-03 11:56] #16429 closed

[2015-06-03 11:57] Boellerjoe opened #16715 "Mail notification does not work correctly ownCloud 8.0.3 (stable)"
Hi,
mail-notification feature seems to be restricted since upgrade to OC 8.0.3
OC users receive activity mail with reference to their own activities although feature is disabled in OC user-preferences. But on the other hand they don´t receive any info if admin or different user changes/deletes/uploads new/shared content.

I have already tried several settings without success.

Please help me to fi

[2015-06-03 12:00] rolandbu opened #16716 ""Couldn't send mail to following users" from share.php with LDAP Backend if the user isn't in the mysql table oc_preferences"
Hi

I'm using OwnCloud 8.0.2-8 with LDAP Backend. Everything works fin. If you share a file or directory with a user who never logged in at owncloud or nobody shared something with him then you get the error message "Couldn't send mail to following users" if you use the checkbox for the mail notification. It's only the fist contact with this user no problems after this point.

More details:
<pre>

[2015-06-03 12:14] MorrisJobke commented on #16676
@bkerensa Can you provide a list of enabled apps?

[2015-06-03 12:14] MorrisJobke commented on #16676
Is there something in the log file?

[2015-06-03 12:15] DeepDiver1975 commented on #16715
@Boellerjoe Thanks a lot for reporting issues back to us!

We need some more information to properly support you with your issue!

Can I ask you to follow our guidelines for submitting bugs as described here: https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

Thanks a lot!

[2015-06-03 12:16] #16715 closed

[2015-06-03 12:17] kkretsch commented on #16715
Same problem here:

preg_match(): Compilation failed: internal error: previously-checked referenced subpattern not found at offset 728 at /var/www/cloud803/3rdparty/phpmailer/phpmailer/class.phpmailer.php#893

Even the email test in the admin menu doesn't work. Neither via mail nor via smtp I can send any email with version 803.

[2015-06-03 12:20] DeepDiver1975 commented on #16715
@kkretsch according to phpmailer's implementation the email address is not valid

[2015-06-03 12:23] kkretsch commented on #16715
But it is my working address. I insert that in the two "@" separated fields (local part and domain part), clicking test email I get the error response (Ein Problem ist beim Senden der E-Mail aufgetreten. Bitte überprüfe deine Einstellungen) and that logfile lines. How does it validate the syntax?

[2015-06-03 12:26] Boellerjoe commented on #16715
@DeepDriver1975 Please find detailed information enclosed.

Fyi...deleted personal data....

Server configuration

Operating system: Linux

Web server: Apache

Database:MySQL 5.6.19

PHP version:5-56 STABLE

ownCloud version: 8.0.3

**Updated from an older ownCloud or fresh install: upgraded

**List of activated apps: standard

The content of config/config.php:

<?php
$CONFIG = array (
  'instance

[2015-06-03 12:28] DeepDiver1975 commented on #16715
@Boellerjoe @kkretsch please open separate issues - otherwise we are mixing up things - THX

[2015-06-03 12:30] Boellerjoe opened #16717 "Mail notification does not work correctly ownCloud 8.0.3 (stable)"
Hi,
mail-notification feature seems to be restricted since upgrade to OC 8.0.3
OC users receive activity mail with reference to their own activities although feature is disabled in OC user-preferences. But on the other hand they don´t receive any info if admin or different user changes/deletes/uploads new/shared content.
I have already tried several settings without success.

Please help me to fix

[2015-06-03 12:31] nickvergessen commented on #16715
@Boellerjoe your issue will be fixed in 8.0.4:
https://github.com/owncloud/activity/pull/297/files

[2015-06-03 12:33] PVince81 commented on #16701
PR here https://github.com/owncloud/core/pull/16718

[2015-06-03 12:36] RealRancor commented on #16717
by @nickvergessen in https://github.com/owncloud/core/issues/16715#issuecomment-108367754

[2015-06-03 12:36] kkretsch opened #16720 "email syntax not accepted"
Logged in as admin I can neither send share links to that email address nor use that address as a test recipient within the admin e-mail-server section.

It seems within the file /var/www/cloud803/3rdparty/phpmailer/phpmailer/class.phpmailer.php I run into the pcre8 switch where it verifies the email with a fals result. I added some error_log lines before and after, using kai(at)kaikretschmann.de

[2015-06-03 12:37] #16717 closed

[2015-06-03 12:40] RealRancor commented on #16720
Just posting some additional loglines from your post at https://github.com/owncloud/core/issues/16715#issuecomment-108354718

[2015-06-03 13:05] DeepDiver1975 commented on #16720
@kkretsch can I ask you to report this issue with the upstream project? https://github.com/PHPMailer/PHPMailer/issues Thanks a lot!

[2015-06-03 13:09] jlsturgeon commented on #13625
I'm also having this issue on 8.0.3. I'm reluctant to try the elaborate workaround since I use OwnCloud to sync multiple Google Drive and Dropbox accounts that were a bit tricky to set up in the first place. I suspect that the suggested solution would be more trouble than the problem in my case. I'd still like to see a solution, though. It may or may not be related to a syncing problem I have also

[2015-06-03 13:10] kkretsch commented on #16720
As it seems here https://github.com/PHPMailer/PHPMailer/issues/429 it might be a central php problem. php 2.6.8 did work and the newer ones fail. Might be some bigger issue for other web projects too.

[2015-06-03 13:10] MTRichards opened #16722 "Encrypt File and Folder Names"
As an ownCloud admin, I want to ensure that all file names and folders names are also encrypted when the encryption app is enabled, so that I do not expose sensitive information contained in file and folder names to admins on the server.

Acceptance Criteria:
•	File and Folder names are encrypted and cannot be viewed by an admin browsing the server files
•	Encryption of file names / folder names h

[2015-06-03 13:16] MorrisJobke opened #16723 "Changed maintenance mode behaviour during ./occ upgrade"
Check if the maintenance mode behaviour chang during `./occ upgrade` breaks the packages, because the instance is left in maintanence mode (current implementation for 8.1 reminds the state of maintenance mode).

@cmonteroluque I talked with @jnweiger and he needs to check if the packages still work. Therefore this issue is a sev1, because it could be a breaking change for the packages (especially

[2015-06-03 13:16] LukasReschke commented on #16722
Duplicate of https://github.com/owncloud/core/issues/11814 which is still open, then also of https://github.com/owncloud/core/issues/3685 which is closed

[2015-06-03 13:17] DeepDiver1975 commented on #16720
We might want to apply this workaround - https://github.com/PHPMailer/PHPMailer/issues/429#issuecomment-107878217

[2015-06-03 13:18] DeepDiver1975 commented on #16720
THX @kkretsch to search the upstream project!

[2015-06-03 13:19] LukasReschke commented on #16722
Will also be not really reliable unless we really come up with an actual threat model. As in: Against what are we defending? Against who do we want to hide data?

If it is "an external storage provider" this is fine, if it is "the ownCloud admin or sysadmin" then we honestly need to come up with a documented expected behaviour. There will still be a ton of other metadata in the ownCloud instance s

[2015-06-03 13:38] Croydon commented on #10731
Desperately needed, thanks!

[2015-06-03 13:40] karlitschek commented on #16716
@blizzz @nickvergessen What do you think?

[2015-06-03 13:43] Krypton25 commented on #13625
sorry I didn't come back sooner for the solution. If I'm not mistaken, it turned out it was a problem with permissions for me. I did it the hard way and took ownership of the whole drive.

First, make sure your account has administrator rights. Go to
control panel - user accounts - change account type - choose Administrator

Then, use these commands in an elevated command prompt (ctrl+shift+enter

[2015-06-03 13:45] PVince81 commented on #9058
To discuss:
- what to do with the "only allow sharing with people in my groups" and if someone in group1 shares it with someone from an external group. I'd say the owner always see all members regardless of affiliation. But recipients only see people from their own groups when looking at the list of members.
- can recipients also remove people from shares ?
- should the owner be able to require hi

[2015-06-03 13:48] McNetic commented on #15018
To the reporters: If you notice the problem again, or can give more input on the issue, please don't hesitate to open an issue over at https://github.com/McNetic/PHPZipStreamer/issues.

[2015-06-03 13:51] iliyasbasir opened #16725 "Top of scroll bar cut off in ownCloud-7-based custome oC"
### Steps to reproduce
1. Open a Firefox browser and log into an ownCloud 7-based instance of
2. EXPECTED: The scroll bar has an upward-pointing arrow at the top and a downward-pointing arrow at the bottom, for scrolling by clicking; see the attached screen shot Image 1

3. OBSERVED: The top of the scroll bar, including the upward-pointing arrow, is obscured by the banner at the top of the page; s

[2015-06-03 13:59] nickvergessen commented on #16716
No email in the db => no email we can send to.
I think the ldap backend should take care of adding the email addresses to oc_preferences?

[2015-06-03 14:03] #15152 closed

[2015-06-03 14:15] #15413 closed

[2015-06-03 14:17] MTRichards commented on #9058
Agreed, since it is about the owner controlling (or transparently seeing) who has access to their files.

Recipients cannot remove people from shares.

Not yet. I see that possibly, but not now - it would require the sidebar too, so let's hold off on this for now.

[2015-06-03 14:19] icewind1991 commented on #16664
Not really something we can fix without having the client manually acquire a lock on the folder it's uploading to, it's not an issue with concurrent requests

[2015-06-03 14:31] PVince81 commented on #16664
@icewind1991 I still think it should be possible to recover from this situation without having missing files, even if one half is in one folder and the other half in the other one. Goal is to avoid having a situation where files are completely lost. Either the rename operation needs to stop/fail or the sync client will give up once one of the uploads doesn't reach its target.
Not sure, but this mi

[2015-06-03 14:35] schiesbn commented on #16341
For both scenarios: initial key generation and decryption

This was also my "solution" in suggested in the past. It was rejected because it would add the need again to enter a password (also on desktop/mobile clients) which somehow is against the idea of SSO where we want to get rid if the burden to enter a password. I can see the point, still if you want to be really secure you need some interact

[2015-06-03 14:37] jlsturgeon commented on #13625
I'm not running the server under Windows. It runs on a Synology NAS, whose OS is a flavor of Linux. In fact, the folder that is showing up with a zillion duplicates isn't even saved locally to the server, AFAIK, just to the synced folders of the client installs. The file permission setup does seem a bit strange, since the listed "owner" is actually a group. I'm a little concerned that if I changed

[2015-06-03 14:37] schiesbn commented on #16332
with the restriction that the user who manipulates the groups also know the recovery password, which might not always be the case. Also it can be a performance issue for huge installation if we want to update the share key during group manipulation.

[2015-06-03 14:38] schiesbn commented on #16332
Another idea is to track the group changes in a separate table. Once a user from such a group log-in we could use his private key to update the group share. In this case we also need to keep the performance in mind for large installation to avoid that the login process will be delayed to much.

[2015-06-03 14:40] icewind1991 commented on #16664
It's not

The problem has nothing to do with concurrent requests, it's caused because uploading a folder from the sync client takes multiple requests, there is no way to make that atomic without manually managing a lock for it.

A different way to fix it unrelated to locking would be to have the sync client specify the fileid of the target folder, that way the server can either return a proper err

[2015-06-03 14:43] PVince81 opened #16728 "Experimental file locking and redis packaging"
@jnfrmarks @jnweiger

So far on 8.1 the experimental file locking is still experimental and disabled by default.

At some point if it works as intended, if we decide to enable it by default, it means that the packages might need to require php5-redis and redis.

CC @karlitschek @icewind1991

[2015-06-03 14:43] PVince81 commented on #16728
CC @MTRichards

Maybe it should be enabled in appliances, for testing ?

[2015-06-03 14:46] PVince81 commented on #16664
The upload doesn't have to be atomic. The sync client would upload 5 files of 10, then get the locked error because someone started renaming the folder (the folder rename must be atomic), and it would give up until the folder is freed again. So in the end the first folder would have 5 files, and then the sync client would recreate the original folder name (once unlocked) to reupload all files.
Hmm

[2015-06-03 15:12] MTRichards commented on #16728
This is the file locking app introduced in oC 6, right?
@jnfrmarks how are we on testing coverage and feeling that this is not going to break if we turn it on in the appliance by default?

[2015-06-03 15:13] PVince81 commented on #16728
No, nothing to do with the file locking app.

This is high-level file locking #11804, the new experimental locking on a different level. This is disabled by default.

[2015-06-03 15:18] PVince81 commented on #16728
We should probably look for a more catchy name for "experimental file locking" or "high-level file locking" to avoid confusion. How about Locky ? :wink:

[2015-06-03 15:20] #15125 closed

[2015-06-03 15:26] dragotin opened #16735 "Share API: Two subsequent calls to update a share wipes expire date"
By testing this issue:
https://github.com/owncloud/client/issues/3265
I found that the OCS share API (on stable8 on commit d1f99f10036dd859a5fa36cddeb4663665a17c58) wipes the expire date. Here is what happens:

To update an existing share, the client sends two PUT requests to the share: The first sets the (proper) expire date, and the second sets an empty password. Remember that we need to do two

[2015-06-03 15:27] LukasReschke commented on #16735
@rullzer Interested? ;-)

[2015-06-03 15:35] MTRichards commented on #16341
Adding two new acceptance criteria above (the last bullet).

[2015-06-03 15:46] rullzer commented on #16735
I'll have a look.
@dragotin did you test this on master as well?

[2015-06-03 15:51] dragotin commented on #16735
@rullzer no, not yet, sorry

[2015-06-03 15:57] schiesbn commented on #16327
Possible implementation:

Encrypt all:

- first we create a public/private key for all users and encrypt the private key with a random password
- then we encrypt all the files, this was all shares can be encrypted right away to all recipients
- afterwards the admin gets a list of users and their random password for the private key
- if the user has set a email address in his personal settings we c

[2015-06-03 16:00] schiesbn commented on #16341
The easy solution here is to allow the user to change the root of the key storage provided by core and add a setting to the encryption app to disable password protection of the private key and define the root of the key storage.

[2015-06-03 16:07] PVince81 commented on #16696
Reopening: there is actually another issue: if the PHP module is enabled but "memcache.locking" is not set, it will still show "enabled" which is wrong.

[2015-06-03 16:08] PVince81 commented on #16696
We should change this display to only show "enabled" when all of them apply:
- "filelocking.enabled" is true
- "memcache.locking" is set to redis
- the redis server is running

[2015-06-03 16:10] blizzz commented on #16716
LDAP backend does it, if it is configured. Also it is updated not earlier then every 24hrs, when the user is involved.

@rolandbu what's you ldap configuration? ```./occ ldap:show-config```

[2015-06-03 16:39] netimpa commented on #12193
Hi,
I found the same problem, also found solution.
My lab;
1) Server Owncloud 8.0  "CentOS 6.6" - "MySQL"
2) Client owncloud 1.8 - a)Ubuntu 14.10 64bits, b) MacOS 64bits Yosemite and c) Windows 7 64bits.
3) All client connected in different network vlan
3) Debug log enable in all client and owncloud-server
4) I use wireshark for scan network.
5) Upload 25 thousand files from client. I have all cli

[2015-06-03 17:11] jnfrmarks commented on #16696
Can we also add some type of warning if some but not all are set?

[2015-06-03 17:19] PVince81 commented on #16696
Yeah, makes sense.
- [ ] add warnings about what's wrong with the config when locking is enabled

[2015-06-03 17:20] PVince81 commented on #16696
- [ ] add warning about missing redis PHP module

[2015-06-03 18:05] maxidebiax commented on #16383
I reinstalled owncloud server. Now everything is great... Thx.

[2015-06-03 18:05] #16383 closed

[2015-06-03 18:29] jnfrmarks commented on #16723
@SergioBertolinSG @davitol

We will need to test this.

[2015-06-03 18:30] jnfrmarks commented on #16695
I would think that ownCloud is still usable in this case for local users.

Based on the won't fix label, I'm going to close this.

[2015-06-03 18:30] #16695 closed

[2015-06-03 18:44] MTRichards commented on #16722
@LukasReschke Good discussion top have here. Thanks for linking the two issues together, I could not find the other older encrypt filename issues.

There are two sides to this, the attack vector and the policy check box requirement.

The attack vector is, for example, a backup admin who can find information about what is contained in a file after taking a backupof ownCloud and perusing the backup,

[2015-06-03 18:46] jnfrmarks commented on #16298
@MTRichards

Matt, what do you think about removing the "This is the final warning" from the message?

[2015-06-03 18:51] rullzer commented on #16735
I can't reproduce this on master... using curl that is. Lets see what 8.0 does different

[2015-06-03 18:53] Gasmann0815 opened #16737 "Owncloud upgrade 7.0.3 -> 8.0.3"
An exception occurred while executing 'CREATE TABLE oc_fscache (id INTEGER DEFAULT NULL PRIMARY KEY AUTOINCREMENT, path VARCHAR(512) DEFAULT '' NOT NULL COLLATE BINARY, parent BIGINT DEFAULT 0 NOT NULL, name VARCHAR(300) DEFAULT '' '' NOT NULL COLLATE BINARY, user VARCHAR(64) DEFAULT '' '' NOT NULL COLLATE BINARY, size BIGINT DEFAULT 0 NOT NULL, ctime BIGINT DEFAULT 0 NOT NULL, mtime BIGINT DEFAUL

[2015-06-03 18:54] DeepDiver1975 commented on #16695
given the current architecture this is no possible

[2015-06-03 18:55] MTRichards commented on #16298
It is a little shocking, but this is on purpose. Encryption really is a one way process and if the final warning shocks some people to ensure that they really really mean it, then the phrase has served its purpose. I would rather leave it, and have a few people scratch their heads, then remove it and have even one person not really fully understand how serious the implication is for their ownCloud

[2015-06-03 18:56] jnfrmarks commented on #16298
Closing based on above comment.

[2015-06-03 18:56] #16298 closed

[2015-06-03 18:57] rullzer commented on #16735
Aaaah got it.
Master works because there I fixed the password bug. On 8.0 the when a password is set a whole new share is created. And apparently this does not take the expire date into account.

I'll see if this can be fixed easily. If I remember correctly the fix on master is not easily backportable. But I'll look into it.

[2015-06-03 19:32] jnfrmarks commented on #16653
based on comments, closing for now.  @jvillafanez please reopen if you see this again.

[2015-06-03 19:32] #16653 closed

[2015-06-03 19:57] rullzer commented on #16735
PR with the backports in https://github.com/owncloud/core/pull/16738

[2015-06-03 20:05] rullzer commented on #13905
I can only say this is very welcome!
Similar stuff should be done for sharing, but one step at a time :)

[2015-06-03 20:38] CaptionF opened #16739 "further improvements to upgrade process for large environments"
upgrades are currently performed on core and information in the database, but not all apps.
However in the following scenario this leads to problems:

1. oC server version A has been used, with LDAP App activated.
2. Due to environment changes, LDAP App is disabled, and Shibboleth is used.
3. upgrade of oC server to version B
4. in the meantime many user are on the server(s)
5. LDAP App shall be a

[2015-06-03 21:52] carlaschroder commented on #16177
How are users on shared hosting going to migrate keys?  They can't just go into CPanel, or whatever control they're using, and copy the keys in their file manager because they're different. On 8.0:

data/owncloud_private_key
data/public-keys
data/<user>/files_encryption
data/files_encryption

On 8.1:

data/<user>/files_encryption
data/files_encryption

[2015-06-03 22:13] carlaschroder commented on #16177
1st draft: https://github.com/owncloud/documentation/pull/1187

[2015-06-04 06:07] rolandbu commented on #16716
We have a correct entry for every LDAP-OwnCloud user in the MySQL table oc_ldap_user_mapping. After the first contact(user login, share a file with the user, ...) it will be another entry in the MySQL  table oc_preferences.
@nickvergessen correct without entry like this "no email we can send to"
<pre>
+------------------+----------+-----------+---------------------------+
| userid           | appi

[2015-06-04 07:09] MorrisJobke commented on #14940
I moved the backport-request label to the PR

[2015-06-04 07:18] MorrisJobke commented on #16739
I think this is the wrong way. I think upgrading deactivated apps too is the wrong way regarding the upgrade steps. It only is another workaround. We should introduce migration steps that are persistent even for skipped version upgrades. Also the re-activation of an app is kind of critical. Maybe we just run the migration steps for the re-activation of an app just before the activate step, because

[2015-06-04 07:19] DeepDiver1975 commented on #16739
Quite hard to realize. Upgrade means database schema migeations. Why should we generate/modify tables for apps which are not intended to be used?

This somewhat falls into the arwa of zero-downtime-upgrade where we honestly have no real solution yet.

[2015-06-04 07:21] MorrisJobke commented on #16737
This looks weird. This table was dropped in ownCloud 5? @icewind1991 Any idea how this could have slipped in?

@Gasmann0815 Can you provide more information? The best would be to fill out the issue template: https://github.com/owncloud/core/blob/master/issue_template.md

Is the instance now usable? Can you reproduce the issue? What steps did you run? What happened when?

[2015-06-04 07:25] DeepDiver1975 commented on #16737
Bloody xml Schema .....

[2015-06-04 07:27] MorrisJobke commented on #16725
This is fixed in 8.1.0 with #15260

I propose a backport of this to stable8.

[2015-06-04 07:32] MorrisJobke commented on #16690
Duplicate of #6635

[2015-06-04 07:32] #16690 closed

[2015-06-04 07:33] MorrisJobke commented on #16681
As this WebDAV implementation is dead: close this ticket

[2015-06-04 07:33] #16681 closed

[2015-06-04 07:49] #16330 closed

[2015-06-04 09:01] fbassas opened #16740 ""undefined index" and "file_exists() on a non-object" messages OC 8.0.3"
Environment: Virtual Machina in a XenServer 6.5
Server: ubuntu 14.04
Database:mysql 5.5
Client:1.8.1
OC-Version:8.0.3
PHP-Version: 5.5.9

I'm getting this messages periodically and seems related to cron job.

{"reqId":"caa1ab294f0a77d8ed752e0c3a14e8e9","remoteAddr":"","app":"PHP","message":"Undefined index: owner at \/var\/www\/owncloud\/lib\/private\/share\/hooks.php#64","level":3,"time":"2015-06

[2015-06-04 09:07] My1 opened #16741 "SMB files disappear from OC file list after deleting without permission"
### Steps to reproduce
1. have an SMB folder/file without delete permissions
2. delete it

### Expected behaviour
error -> "you have no permissions"
file stays in list of OC and on SMB Server

### Actual behaviour
no error, files disappears from OC (not okay)
but stays on server (okay)

### Server configuration
**Operating system**:
openSUSE 13.2
**Web server:**
XAMPP for Linux
**Database:**
MySQL

[2015-06-04 09:10] LukasReschke commented on #16741
@icewind1991

[2015-06-04 09:41] Gasmann0815 commented on #16737
Steps to reproduce:
Upgrading from  7.0.4 -> 8.0.3

Tell us what happens instead
Server stop in maintenance mode

Server configuration
HP Proliant Mircoserver - AMD Turion(tm) II Neo N54L Dual-Core Processor
Freenas Jail
<https://forums.freenas.org/index.php?threads/drkks-definitive-guide-to-installing-owncloud-in-freenas-or-freebsd.19605/>

Operating system:
FreeNAS-9.3-STABLE-201505040117

Web s

[2015-06-04 09:51] fbassas commented on #16740
Also this email is sent sometimes after cron execution:

PHP Fatal error:  Call to a member function file_exists() on a non-object in /var/www/owncloud/lib/private/files/filesystem.php on line 630
Unexpected error!

[2015-06-04 09:53] RealRancor commented on #16737
Looks similar to: https://github.com/owncloud/core/issues/16347 where this happened during the update from 8.0.2 -> 8.0.3

[2015-06-04 09:55] My1 commented on #16741
No edit button?
Then I'll write it here.
For a further clarification. Create the folder or file on your smb server or some client that full smb access like Windows Explorer and mod its permissions there.
Then try to delete it via the oc Web interface it's not there anymore even in Webdav. Deleting via webdav needs to be tested (I could do that tomorrow...

[2015-06-04 10:14] tflidd opened #16742 "Wrong folder size in folder overview"
### Steps to reproduce
1. Use owncloud, sync larger folder with client on several computers
2. use it some time

### Expected behaviour
OC interface shows correct folder size

### Actual behaviour
In the folder view, the folder size is obviously wrong;
![bildschirmfoto vom 2015-06-04 11 56 05](https://cloud.githubusercontent.com/assets/8111200/7981707/04ab1674-0ab1-11e5-919e-e12a6d7ba6db.png)

But

[2015-06-04 11:00] MorrisJobke commented on #16737
Closing because of the duplicate.

Follow up in #16347

[2015-06-04 11:00] #16737 closed

[2015-06-04 11:14] RealRancor commented on #16722
Hi,

Is this really an attack vector? The backup of oC also consist of the database where the original filename probably needs to be saved as a metadata?

[2015-06-04 12:03] untitaker opened #16743 "v8.0.4 is tagged but no corresponding release on owncloud.org?"

[2015-06-04 12:06] LukasReschke commented on #16743
Not yet released. This is only a WIP tag.

[2015-06-04 12:06] #16743 closed

[2015-06-04 12:13] karlitschek commented on #16740
@icewind1991 Can you have a look?

[2015-06-04 12:14] karlitschek commented on #16742
@icewind1991 Can you have a look?

[2015-06-04 12:36] MorrisJobke commented on #16725
stable8 backport: #16744

[2015-06-04 14:55] RealRancor commented on #16743
@untitaker
Just some additional info: Final announcement is mostly done at https://owncloud.org/changelog/ and the mailinglists https://mailman.owncloud.org/pipermail/announcements/ and https://mailman.owncloud.org/mailman/listinfo/user

[2015-06-04 15:11] arnoldu opened #16749 "Message "Can not decrypt this file probably this is a shared file..." on some files *not* shared with anybody"
### Steps to reproduce
1. Have a large tree of files which belong to one user and have never been shared to anybody under owncloud 7.0.x
2. Upgrade to owncloud 8.0.3 (stable) using the manual mode
3. Start the desktop sync on one client
4. Watch the progress and status log on the client which completly stops at certain files.
5. Log on to the web UI, find the files which makes the desktop stop and

[2015-06-04 15:12] LukasReschke commented on #16749
@schiesbn @th3fallen Any idea?
@arnoldu Thanks a lot for the detailled bug report! Much welcome :+1:

[2015-06-04 15:15] arnoldu commented on #16749
The upgrade process went well but one thing was strange - if related to this bug:

The web gui hung in maintenance mode forever, I had to manually cancel the maintenance mode in the config.php and restart the web server. After this my user could access some of his files (not all, see above) *but* the administrators password was "gone", e.g. it was not possible to log on with the old password which

[2015-06-04 15:18] arnoldu commented on #16749
I should mention that I moved the data directory after the upgrade out of the /var/www/owncloud directory to /var/www/owncloud_data to make future upgrades easier. I changed this in the config.php as well.

I already tried to delete all lines from the table oc_filecache, restarted the NGINX but to no avail.

[2015-06-04 15:20] arnoldu commented on #16749
If nothing helps I should mention that I use owncloud **only** to share around 5 GByte of Docs and Code between my three computers. So I could easily restart with a "fresh " owncloud 8.0.3 and reimport all files again from one the other computers. On the one I did the experiments all files after the stopping file were gone !!!

[2015-06-04 15:26] daryltucker commented on #14850
Thanks for the clarification and tips, @jnweiger

[2015-06-04 16:20] carlaschroder commented on #10084
So, the answer is to allow everything?

[2015-06-04 16:26] RealRancor commented on #10084
I think yes, until some one is coming up with an official list of needed http verbs.

[2015-06-04 16:39] SergioBertolinSG commented on #16618
I am seeing a problem when trying to create a folder with just a backslash
[code]
[code]
It returns <s:message>The resource you tried to create already exists</s:message>

I guess it should return invalid character.

With slash
[code]

this returns 404 not found, but aaa folder exists, i think bbb folder should be created isn't?
or at least since it is coded, perhaps it should return invalid chara

[2015-06-04 17:06] jnfrmarks commented on #16696
I need some more help.

I added the extension to my php.ini file in /etc/php5/apache2/php.ini and restarted apache.

I'm getting this error in the server log file:

[code]

[2015-06-04 17:38] jnfrmarks commented on #16696
A little more googling led me to the path that I need to install the php redis module.

[2015-06-04 18:15] LukasReschke commented on #10084
All except TRACE - yes.

[2015-06-04 18:20] RealRancor commented on #10084
Ah yes, completely forgot about XST.

[2015-06-04 19:43] jnfrmarks commented on #15851
I'd like to see us resolve this in 8.1.  The performance when loading the apps page is slower than in 8.0.3

[2015-06-04 20:00] Gasmann0815 commented on #16347
it's nice not to be alone!
I see no solution?

[2015-06-04 23:20] KPrinz commented on #14911
Updating ownCloud to version 8.0.3, this may take a while.

Turned on maintenance mode
Checked database schema update
Checked database schema update for apps
Updated database
SQLSTATE[HY000]: General error: 1 cannot commit transaction - SQL statements in progress

[2015-06-05 03:21] motomura0770 commented on #15702
I have also encountered this bug.
This bug is encountered from ver 8.0.1.
Ver 8.0.0 is no problem.

[2015-06-05 07:37] purigarcia commented on #16618
This is blocking two user stories for mobile clients right now.

[2015-06-05 08:13] nickvergessen opened #16751 "Deleting a remote shared file/folder does not delete the item for the sharee"
Discovered when writing a new smashbox test: https://github.com/owncloud/smashbox/issues/102

### Steps to reproduce

1. As user1 remote share `test.txt` with `user2@localhost`
2. As user2 login and accept the share
3. As user2 see the preview on the share
4. As user1 delete the file (do **NOT** unshare before)
5. As user2 refresh the file list

### Expected
The file should be deleted

### Actual

[2015-06-05 08:22] davivel commented on #16618
Mmm... about the backslash, I agree with @SergioBertolinSG

About the MKCOL with aaa%2Fbbb, I think it should finish in 400 Invalid path again, not in success; that command is trying to create a folder named "aaa/bbb" in the root folder. "/" is also a forbidden character for names of files or folders (of course). The web interface controls it correctly.

[2015-06-05 08:24] MorrisJobke commented on #11795
@cmonteroluque Ping

[2015-06-05 08:31] MorrisJobke commented on #13957
@gig13 Can you test this again with the upcoming 7.0.6? Thanks :)

[2015-06-05 08:33] PVince81 commented on #16618
I don't see how this minor issue would be blocking other tasks as this is only an error case, not a feature. Anyway, I'll have a look at this later today.

[2015-06-05 08:38] nickvergessen opened #16752 "Can not run cron anymore when there is a "Expire versions" task for a deleted user"
[code]

I'm not sure if we can simply delete those tasks. Or will this break versions on shared files (not expiring them)

@schiesbn @PVince81 any ideas

[2015-06-05 08:38] PVince81 commented on #16618
@purigarcia is there a ticket for the blocked issues ?

[2015-06-05 08:42] PVince81 commented on #16752
Add a check for user existence in the Command.

[2015-06-05 08:43] PVince81 commented on #16752
The same might be required for the trashbin expire command

[2015-06-05 08:43] MorrisJobke commented on #16343
@carlaschroder Can you document these two ways of installing different versions of dependencies on Red Hat: https://github.com/owncloud/core/issues/16343#issuecomment-104700724

There is the Remi way and the Red Hat Collections way. Remi seems to work with the default packages and the Red Hat Collections need the steps in https://github.com/owncloud/core/issues/16343#issuecomment-104700724

[2015-06-05 08:43] nickvergessen commented on #16752
You can create the entry manually in the jobs table:
* Class: `OC\Command\CommandJob`
* Argument:

[code]
`test` is the user name.
* last run: 0

[2015-06-05 08:43] nickvergessen commented on #16752
Can we savly delete them? then I will create a patch for that.

[2015-06-05 08:44] MorrisJobke commented on #16343
@carlaschroder Feel free to ask @jnweiger if there are still problems in understanding what is going on here ;)

[2015-06-05 08:44] PVince81 commented on #16752
I don't think you'd be able to mass-delete them at the time the user is deleted.
So maybe just let them run, but if the command implementation finds that the user does not exist, just return without doing anything. This will automatically remove the task.
(note that these are one-shot tasks that get deleted after running once)

[2015-06-05 08:45] MorrisJobke commented on #16205
@iliyasbasir Any news on this or can this be closed?

[2015-06-05 08:51] MorrisJobke commented on #16454
cc @iliyasbasir @gig13

[2015-06-05 08:51] MorrisJobke commented on #16204
The DB issue is handled in #16454

[2015-06-05 08:52] MorrisJobke commented on #16204
The RHEL repo issue is handled in #16343

[2015-06-05 08:53] MorrisJobke commented on #16204
Close this ticket, because it was split into two.

[2015-06-05 08:53] #16204 closed

[2015-06-05 09:00] #16555 closed

[2015-06-05 09:10] pictibe commented on #14886
@Bullnados i have the same all-inkl problem but it won't work for me. I'm new user on owncloud and i copy your code to the head of .htaccess and create the /tmp dir with w-user and 755.

Can you help me please :(

[2015-06-05 09:11] PVince81 commented on #16305
I guess this only applies to system-wide mount points, the ones that admin setup for all users ?
Or should it apply to personal mounts as well ?

The tricky part here is that if the admin sets up a system mount point to "User entered", then we need to find a place where to store the user entered password. In any case, it looks like it's a good opportunity to move the ext storage configuration from

[2015-06-05 09:11] purigarcia commented on #16618
Hi PVince81!
In our sprint, we have two issue (one for iOS and one for Android) to check that when you use forbidden characters, a message as "File contains at least one invalid character" pops up.
As webdav is not answering the correct respond when using / neither \, we are not able to check that.

Do you mean ticket in the mobiles repositories? no, there are not. There is this issue.

[2015-06-05 09:13] PVince81 commented on #16305
Allowing to select an authentication type also means that every storage backend needs to be adapted to support any of these. I'd suggest having each backend implement specific methods from which the username/password can be injected from outside by whichever auth mechanism was selected.

CC @Xenopathic @icewind1991 for additional input

[2015-06-05 09:20] PVince81 commented on #16133
@bantu @LukasReschke

[2015-06-05 09:24] LukasReschke commented on #16133
Please avoid hyperbole when creating issues. The wording "vulnerable" here is not really appropriate in this context. Yes, PHPSecLib does not support the newest and fanciest ciphers. No, this will not make your data insecure per definition and make kittens die. Yes, this is suboptimal and should eventually get changed in the future.

That said this is an upstream issue which according to the PHPSe

[2015-06-05 09:25] PVince81 commented on #16306
This already works right now.

The only missing part is about retaining files when password expired or the storage is temporarily unavailable. (we might want to reword the requirement or make a sub-ticket for this)

Regarding storage availability, all backends need to be adapted to properly detect such situations: https://github.com/owncloud/core/issues/11792

Additional work might be needed to al

[2015-06-05 09:27] nickvergessen commented on #16751
Okay, the problem is, that we now have stable file ids. :eyes:

We have a job, that cleans up shares. The check whether or not a share should be deleted checks whether the file id still exists.
This is the case, but the path is `files_trashbin/files/test.txt.d1433492504` now. So we retain the share.
So the "delete" never reaches the remote share, because the share is still "some what" valid.
I don

[2015-06-05 09:30] PVince81 commented on #16307
There is already a section for external storages in the user's personal page, but it currently only lists the user-mounted ones. That list could be extended to have two sections: "Your storages" and "Admin configured storages".

This seems to be an extension of the different auth types proposed here #16305, which would require having this UI change to allow the user to enter credentials as require

[2015-06-05 09:31] DeepDiver1975 commented on #16751
@th3fallen just another federated-sharing issue - wana have a look? THX

[2015-06-05 09:33] PVince81 commented on #16302
Relates to / depends on https://github.com/owncloud/core/issues/16305.

I guess this workflow would only apply for the authentication types "User Entered" and "User Login, DB" for system-wide mounts, and for any kind of personal mount.

[2015-06-05 09:35] DeepDiver1975 commented on #16699
Yes - expected behavior

No LDAP as in No database as in No cloud

[2015-06-05 09:35] #16699 closed

[2015-06-05 09:45] DeepDiver1975 commented on #16675
No mutually exclusive - more of kind: not related at all. In a federated sharing environment there is no understanding of a group and therefore this setting does not apply.

@MTRichards do we want to add some more information on this in the admin section and/or the docs? Otherwise this is a wont-fix for me. THX

[2015-06-05 09:46] nickvergessen commented on #16751
Actually https://github.com/owncloud/core/blob/760ce3bd6326d1c5d804bf0eba93f20de5e68e98/apps/files_sharing/lib/deleteorphanedsharesjob.php#L51-L62 could also be fixed, to notify remotes when a share is being deleted, so they know they can stop asking for it

[2015-06-05 09:47] Xenopathic commented on #16307
@PVince81 Yup, that's exactly what I was thinking. We could have two sections, one read-only listing the admin storages that apply to the user, but what about showing those storages inline with existing storages, but greyed out to indicate read-only-ness?

[2015-06-05 09:48] DeepDiver1975 commented on #16696
@jnfrmarks on a decent debain based system there should be no need to manually enable the redis extension in the php.ini

[2015-06-05 09:50] DeepDiver1975 commented on #16696
I have a slightly different view on this:

We shall display that file locking is enabled only if it really is enabled.
We shall only enable file locking if all necessary criteria apply.
Criteria are as described above

[2015-06-05 09:52] srggavrilov opened #16754 "{PHP} Cannot modify header information at /var/www/owncloud/lib/private/files.php#166"
### Steps to reproduce
1. Let Apache handle static file serving as described [here] (https://doc.owncloud.com/server/8.0/admin_manual/configuration_files/serving_static_files_configuration.html).
2. Try to download file that doesn't exist

### Expected behaviour
No PHP errors in owncloud.log

### Actual behaviour
{PHP} Cannot modify header information - headers already sent by (output started at /

[2015-06-05 10:02] Xenopathic commented on #16305
@PVince81 That's the BackendService work I started over at #15914. I got a bit sidetracked with exams between then and now... Feel free to push to that branch, anyone who wants to help.

I was trying to think of the best way to design the OOP structure for authentication methods. The best I've come up with so far:

Interfaces for each authentication type (e.g. IPassword), implemented by different

[2015-06-05 10:04] DeepDiver1975 commented on #16264
@SergioBertolinSG @jnfrmarks owncloud/files_texteditor#72 is merged now - please retest - THX

[2015-06-05 10:12] PVince81 commented on #16618
@SergioBertolinSG see http://httpd.apache.org/docs/2.2/en/mod/core.html#allowencodedslashes for the `%2F` case.

[2015-06-05 10:14] rbahassine commented on #13908
Hi All,

I have same issue here. Owncloud 7.0.4 on "PHP 5.3.10-1ubuntu3.10 with Suhosin-Patch (cli) (built: Feb 28 2014 23:14:25)"

"Unable to get mount for shared storage '7' user 'some_username'

I have USER1 that's shares a folder FOLDER1 with 30 others users, and since yesterday all share lost (but files still on the server)
NOT USING SHARING BY LINK (so not related with SUHOSIN)

@PVince81 :

[2015-06-05 10:32] SergioBertolinSG commented on #16618
@PVince81 Yes, that worked fine, thanks.  I enabled that option in the apache virtualhost of owncloud.
So nothing to change in that case.

[2015-06-05 10:39] PVince81 commented on #16618
Fix here for the MKCOL with backslash: https://github.com/owncloud/core/pull/16755

In general the problem is that backslashes are removed (sanitized). In the MKCOL case, the internal node was actually "" or "/" instead or "/\\", so it tries to recreate the root directory which already exists, so it tells you that it already exists...

[2015-06-05 10:43] PVince81 opened #16756 "Prevent WebDAV delete of user's files folder"
### Steps:
Run `curl -D - -X DELETE "http://root:admin@localhost/owncloud/remote.php/webdav/"`

### Expected result
403 forbidden

### Actual result
Internal folder "$user/files" is deleted.
Trashbin contains folder "files".
Getting "contrain violation errors".

We should probably make "isDeletable()" return false on the root folder and also "files".

CC @icewind1991 @schiesbn @nickvergessen

[2015-06-05 10:43] PVince81 commented on #16756
Note, this can also be achieved using a backslash folder:
`curl -D - -X DELETE "http://root:admin@localhost/owncloud/remote.php/webdav/\\"`

The folder gets sanitized to "/" which points to the internal "files" folder...

[2015-06-05 10:50] PVince81 commented on #16756
This also deletes the root:
`curl -D - -X MOVE "http://root:admin@localhost/owncloud/remote.php/webdav/" -H 'Destination: http://root:admin@localhost/owncloud/remote.php/webdav/.\\.`

Normally it would not accept to MOVE a folder to itself, but semantically the target folder is considered a different folder, so it tries to overwrite it. And overwrite first deletes the destination. So this has the

[2015-06-05 10:51] PVince81 commented on #16756
@SergioBertolinSG @jnfrmarks something to add to test plans.
Better test any kind of WebDAV operations on the root.

[2015-06-05 10:54] davivel commented on #16618
@PVince81,

YOU ARE MY HERO.

Thanks

[2015-06-05 11:00] SergioBertolinSG commented on #16756
Tried
[code]

It returned:
[code]

And session gets broken.

[2015-06-05 11:01] PVince81 commented on #16756
Yes. And after the next login, they get an empty account.

[2015-06-05 11:08] PVince81 opened #16757 "Prevent DELETE of public webdav root"
### Steps
1. Share a folder "test" with link, allow upload
2. `curl -X DELETE http://$TOKEN@localhost/owncloud/public.php/webdav/` (replace $TOKEN with the share token)

### Expected result
403 Forbidden

### Actual result
This deletes the folder "test" completely and destroys the share.
This means that someone who has write access to the share can remotely unshare it by deleting it.
So other peop

[2015-06-05 11:08] PVince81 commented on #16756
Similar issue with public WebDAV: https://github.com/owncloud/core/issues/16757

[2015-06-05 11:23] jvillafanez opened #16760 "big file chunking not working"
### Steps to reproduce
1. Upload a big file through webdav using file chunking (checked with a 50MB file and the desktop client 1.8.2beta1)

### Expected behaviour
File is uploaded correctly

### Actual behaviour
File isn't uploaded

### Server configuration
**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

**Database:** mysql

**PHP version:** 5.5.9

**ownCloud version:** 8.1 beta

[2015-06-05 11:24] DeepDiver1975 commented on #16760
WTF?

[2015-06-05 11:25] DeepDiver1975 commented on #16760
AUTSCH - https://github.com/owncloud/core/pull/16200

[2015-06-05 11:25] DeepDiver1975 commented on #16760
@blizzz looks like we did kill too much

[2015-06-05 11:27] marioskourtesis commented on #16590
Hello PVince81,
Thank you very much from clarifying that!
The configuration that you mentioned fixed the problem!
Although, this seems to be a temporary fix, should I re-enable "filesystem_check_changes" after your official update ?

[2015-06-05 11:35] nickvergessen commented on #16757
certainly sounds indesired

[2015-06-05 11:42] PVince81 commented on #16751
When a federated shared folder is deleted, we could send a removal request.
But I don't think we should resend the invitation on restore. Because to do this it means we need to track the deleted shares somewhere to be able to restore them, possibly a new table or column.

For now I'd rather go for simply notifying the remote recipient that the share is gone.

[2015-06-05 11:42] nickvergessen commented on #16751
I ment manually resend the invitations

[2015-06-05 11:49] davitol commented on #16410
In "version":"8.1.0.6","versionstring":"8.1 beta 2","edition":"Enterprise does not reproduce.

[2015-06-05 11:49] #16410 closed

[2015-06-05 12:00] Bullnados commented on #14886
Perhaps try that

#php_value session.save_path /www/xxx/owncloud/tmp
<IfModule mod_env.c>
  SetEnv htaccessWorking true
	SetEnv TEMP /www/xxx/owncloudtmp
	SetEnv TMP /www/xxx/owncloud/tmp
	SetEnv TMPDIR /www/xxx/owncloud/tmp
</IfModule>

[2015-06-05 12:06] Bullnados commented on #14886
I alos found that.
http://de.contaowiki.org/Probleme_beim_Zugriff_auf_/tmp_mit_sys_get_temp_dir%28%29,_tmpfile%28%29_oder_tempnam%28%29

[2015-06-05 12:07] PVince81 commented on #16307
@Xenopathic it wouldn't be always grayed out (or not completely). There are some auth cases where the user should still be able to enter their credentials for that specific mount points, as requested here https://github.com/owncloud/core/issues/16305

[2015-06-05 12:07] DeepDiver1975 commented on #16760
Let me see if I can get this working without reverting #16761

[2015-06-05 12:09] PVince81 commented on #16701
The PR above fixed many operations but not "Download".
Keeping open to address the "download" case which is more tricky.

[2015-06-05 12:12] PVince81 commented on #16305
Cool, thanks for the info.
At some point we will need to clean up the dust off your PR then :smile:

[2015-06-05 12:12] nickvergessen commented on #16760
@DeepDiver1975 why aren't the smashbox tests triggered nightly?

`bin/smash lib/oc-tests/test_uploadFiles.py -t=0` fails since #16200 is merged, which was some hours after our latest run https://ci.owncloud.org/job/smashbox/22/

The nightly execution would have discovered it 2 days ago :wink:

[2015-06-05 12:13] DeepDiver1975 commented on #16760
Will have a look - maybe Jenkins has no constant understanding of time ....

[2015-06-05 12:14] PVince81 commented on #13908
Can you confirm that you do not have any entry "home::$user" that would be the same user as "local::$datadir/$user" ?

[2015-06-05 12:15] purigarcia commented on #16618
Thanks :), @PVince81

[2015-06-05 12:15] PVince81 commented on #16590
I think you can leave it always disabled.

[2015-06-05 12:28] PVince81 opened #16763 "Write unit tests for file chunking"

[2015-06-05 12:30] DeepDiver1975 commented on #16763
some test-ish stuff is in here - https://github.com/owncloud/core/pull/12160/files

[2015-06-05 12:34] kalletabur opened #16764 "Owncloud login problem"
### Steps to reproduce
1. Log into OwnCloud web interface (using Mozilla Firefox 38.0.5)
2. Leave computer (laptop) on for the night (computer went to sleep)
3. Log into computer, and go to OwnCloud over browser
4. Now, when I click at any folder in OwnCloud, I go to loop
   * Naturally, I was logged out from OwnCloud, but seems that the LogOn Screen is not coming up and there is some kind of „inf

[2015-06-05 12:41] rbahassine commented on #13908
I confirm.
I made a mistake on my previous post, the entry which begins with "local::" does not contains any user id, its patterns looks like "local::$datadir". >> there is no $user inside the value.
[code]
And all other entries looks like home::$user and there is no double entries.

May I add the related $user at the end of string local::/files/owncloud/data/ ?

[2015-06-05 12:45] pictibe commented on #14886
Won't work or did i make a mistake?

![bildschirmfoto 2015-06-05 um 14 37 03](https://cloud.githubusercontent.com/assets/12760325/8006173/87bbd748-0b91-11e5-8418-54ecc87983c5.png)

[2015-06-05 12:46] nickvergessen commented on #16764
Known issue, ajax requests do not check whether the response is valid. A hard refresh brings everything back to normal.

[2015-06-05 12:47] nickvergessen commented on #16764
See https://github.com/owncloud/core/issues/16392

[2015-06-05 12:47] #16764 closed

[2015-06-05 12:50] MTRichards commented on #16304
New Acceptance Criteria:
-  Take into account migration from the current state seamlessly into the new deployment so that existing external storage mounts (all of them - from WND and SharePoint to FTP etc) do not break

[2015-06-05 12:52] Bullnados commented on #14886
Try it to copy it in

<IfModule mod_env.c>
SetEnv htaccessWorking true
SetEnv TEMP /www/xxx/owncloudtmp
SetEnv TMP /www/xxx/owncloud/tmp
SetEnv TMPDIR /www/xxx/owncloud/tmp
</IfModule>

perhaps that block still exists in the .htaccess.

This Line u didnt need:
#php_value session.save_path /www/xxx/owncloud/tmp
 #=comment in php. Sorry for that

[2015-06-05 12:55] MTRichards commented on #16305
Additional Acceptance Criteria:
- When we are storing a password, we need to do so in the most secure way possible

[2015-06-05 12:59] pictibe commented on #14886
I find the block. Log show me error again :(
Can i give you a ftp access?

[2015-06-05 13:01] Bullnados commented on #14886
If u want i can try it. But i fear i cant help u but lets try :)

[2015-06-05 13:02] pictibe commented on #14886
Is it possible to send you a private mail or message?

[2015-06-05 13:05] Bullnados commented on #14886
Ok
alexander.scholz(at)fau.de

[2015-06-05 13:06] RealRancor commented on #14886
Maybe start a thread at the forums? Such a discussion is probably also better placed there.

[2015-06-05 13:07] Bullnados commented on #14886
If u tell me how xD im new to git

[2015-06-05 13:15] Xenopathic commented on #16307
@PVince81 Of course, that's the flexibility of having it inline :smile:

[2015-06-05 13:39] PVince81 commented on #13908
No, do not modify that entry, it is not related. Just ignore it.
It seems your storage entries are fine.

You could try deleting the orphaned shares, it might make the issue disappear because then it will not try to resolve them any more. Or you could try upgrading to 7.0.5 which might contain a fix for this, not sure. I just remember that OC 8.0.x should properly ignore orphaned shares.

[2015-06-05 13:50] poVoq commented on #10474
Any update on this? I would like to use my owncloud server with project gantt as described here:
http://blog.micronarrativ.org/blog/2013/05/08/ganttproject-og-owncloud/

[2015-06-05 14:02] rbahassine commented on #13908
Thank you PVince.
I deleted orphans but the folder still not appears.
I will try to upgrade to 7.0.5 or 8.0.x

[2015-06-05 14:07] LukasReschke opened #16766 "Get rid of the MP3 Preview Generation in core and getid3"
The code is shabby and we really should get rid of it. Not worth it.

[2015-06-05 14:12] #16618 closed

[2015-06-05 14:20] anolting commented on #14060
Hello DeepDiver1975,

i'm just upgrading from 7.0.4 to 8.0.3 and experience the issue like before. I have encrypted folders and files of around 15 GB in size and 6 users. The updater seems to hang while it hopefully does it's job.

So for me it's not fixed in 8.0.3.

Regards
Alex

[2015-06-05 14:20] #16760 closed

[2015-06-05 14:21] DeepDiver1975 commented on #16760
fixed with 16765

[2015-06-05 14:22] #16752 closed

[2015-06-05 14:43] tflidd commented on #16742
I tried the fix for shared folders in https://github.com/owncloud/core/pull/14861 but it didn't work (there are no shared folders)

[2015-06-05 14:49] DeepDiver1975 commented on #15384
We might want to use this as resource - http://www.webmaster-toolkit.com/mime-types.shtml

[2015-06-05 14:53] karlitschek commented on #16766
depends if this is used by someone like the music app. Or is this the preview only?

[2015-06-05 14:56] PVince81 commented on #16756
PR here https://github.com/owncloud/core/pull/16767

[2015-06-05 14:56] PVince81 commented on #16757
PR here https://github.com/owncloud/core/pull/16767

[2015-06-05 14:56] LukasReschke commented on #16766
Preview in core only. Music app bundles it's own copy: https://github.com/owncloud/music

[2015-06-05 15:03] jnfrmarks opened #16769 "Able to delete folder when file locking is enabled"
### Steps to reproduce

1. Install 8.1
2. Enable and configure file locking in config.php
3. In browser 1, create a folder "abc" and upload a 4gb file into the folder
4. In brwoser 2, log in as the same user and delete the folder

### Expected behaviour

User gets a message that the folder is locked and the folder is not deleted

### Actual behaviour

The folder is deleted.

Scrubbed config.php:

[2015-06-05 15:07] oparoz commented on #16766
You might not even need to take care of this if Preview finally moves to an app in 8.2 and I would try to ask in the forums to see if there is some resistance.

[2015-06-05 15:07] carlaschroder commented on #16343
I'm not a guy, but maybe I can help anyway.

[2015-06-05 15:15] blizzz commented on #16173
Cannot reproduce it with the AD in our lab.

@davitol can you provde the whole config? ./occ ldap:show-config

[2015-06-05 15:17] blizzz commented on #16173
@davitol also, since May 14th there have been commits to master that were also related to groups.  Please retry, it might be fixed meanwhile.

[2015-06-05 15:36] MorrisJobke commented on #16343
This is now tracked in the docu repo: close this one

[2015-06-05 15:36] #16343 closed

[2015-06-05 16:02] oparoz commented on #15384
I've had a look and it's missing quite a few ones we're already using, but I guess it could be merged with what we have.

[2015-06-05 16:22] PVince81 commented on #16769
To clarify, @jnfrmarks uploaded the 4gb file with the web UI. @jnfrmarks please always clarify in such cases, because the code path for WebDAV (which uses PUT) and the web UI are very different. You might want to try again using cadaver + put of the same file.

I think the reason for this is because while the huge file is being uploaded, PHP hasn't passed it yet to ownCloud's PHP code. The locking

[2015-06-05 16:24] MorrisJobke commented on #16651
Fix is in #16771

[2015-06-05 16:31] PVince81 commented on #16749
The web GUI hung, that's the key. It was probably still doing the migration of the encryption keys. It might even have run into a PHP timeout.
Ideal is to always do the upgrades on the command line with `./occ upgrade`.

Please never delete the contents of oc_filecache. This will cause you to lose all shares and metadata.

I see you have moved the data folder, please check the oc_storages to make

[2015-06-05 16:33] PVince81 commented on #16742
@tflidd can you check the "size" values in oc_filecache of the folders ?

Maybe there were multiple scanners trying to compute the folder sizes at the same time concurrently and gave wrong results.

[2015-06-05 16:53] tflidd commented on #16742
The parent folder (shown in images above) has a size of: 12037693124 in the filecache-table. There is still the field with unencrypted size (encryption was turned off some months ago): 449034503 (this seems to be the size shown on the interface).

[2015-06-05 17:02] PVince81 commented on #16742
Hmm, if I remember correctly, whenever you disable encryption, it will not automatically recompute the sizes, so you might still have old sizes there.

Did you try running `./occ files:scan --all` ?

[2015-06-05 17:03] tflidd commented on #16742
I did run the ./occ files:scan several times but it didn't change anything.
In the meantime, I repaired my filecache-table with this sql-command:
UPDATE `oc_filecache` SET `unencrypted_size`=0 WHERE `encrypted`=0

[2015-06-05 17:06] PVince81 commented on #16742
Ah yes, that would work too.

[2015-06-05 17:10] tflidd commented on #16742
I leave it open for you, if you want to fix the encryption enabling/disabling-routine. From my point of view, the problem is solved.

[2015-06-05 17:12] geez0x1 commented on #14176
I can confirm seeing this error, example:
[code]

On (Server: 8.0.2, Clients: 1.8.0) as well as now with (Server: 8.0.3, Clients 1.8.1). I have never used Evolution.

I have:
- verified that the date command on both client & server results in the same time/timezone.
- checked if php.ini and .htaccess in /usr/share/owncloud have values set for date.timezone. They did not. The system reports CEST, c

[2015-06-05 17:14] PVince81 commented on #16742
Thanks. I think I discussed this with @schiesbn before and decide to leave it.
Also, since 8.1 disabling encryption will be done using a separate mechanism.

@schiesbn your call

[2015-06-05 17:21] Soupala commented on #16330
I'm having similar issue, Ubuntu 14.04.  Not sure what to do.  See terminal output below:

---------------------------------------------------------------------------

You might want to run 'apt-get -f install' to correct these.
The following packages have unmet dependencies:
 owncloud : Depends: owncloud-server (= 8.0.3-2) but 8.0.2-5 is installed
 owncloud-3rdparty : Depends: owncloud-server (=

[2015-06-05 17:21] PVince81 commented on #16741
There is an edit button, the little pencil :smile:

Does the folder reappear if you refresh the page ?
I'd think it's only a display issue where it believes that deletion was successful and removes if from the UI, while it was not.

If it doesn't reappear after refresh then this problem is more serious than just display.

[2015-06-05 17:22] MTRichards opened #16772 "Setting up a Mobile and Desktop Client Communications Mechanism"
As an ownCloud admin, I want to be able to push messages to users and prompt users with confirmations on desktop and mobile clients (as well as the web client) so that users can have a more complete and integrated experience while accessing external storage, two factor authentication, oAuth, and other capabilities of the server from the mobile and desktop clients.

Acceptance Criteria:
- Communica

[2015-06-05 17:25] MTRichards commented on #16772
@cmonteroluque

[2015-06-05 17:26] My1 commented on #16741
On mobile the only pencil is the one at the top left which creates a new issue.
The files stay out of the list after a Refresh, someone pointed out that it may be the cached file list..

[2015-06-05 17:27] PVince81 commented on #16741
Ah yes, the github mobile web interface is lacking...

[2015-06-05 17:30] Soupala commented on #16330
Ah.  For anyone else running across this issue, here's what fixed it for me

dpkg -r --force-depends "owncloud-config-apache"
apt-get -f install

[2015-06-05 17:32] PVince81 commented on #16741
Works for me in 8.1, I get "cannot delete folder 'sub'". (this is Samba on Linux)
Same on 8.0.3.

What I did:
1. Mount SMB folder under "/smb"
2. Create a folder "/smb/perms/sub" in the web UI
3. On the Samba server, `chmod a-w perms`
4. In the web UI, delete "sub"

I get "cannot delete" and the folder stays.
This is on openSUSE Factory x86_64 with samba-4.2.1-2.1.x86_64

[2015-06-05 17:33] PVince81 commented on #16741
Maybe if the SMB server is on Windows, the server returns a different response and maybe it isn't detected properly as a failure.

[2015-06-05 17:35] musicullum commented on #15447
I have a (possibly related) problem with the s3 php stream wrapper:

<code>if (file_exists ($key)) {
  if (unlink ($key) === FALSE)
</code>
   ... never gets here

So it recognises the key *and* returns a successful deletion of the key (which has only a-z characters lowercase), but the "folder" is still present and accessible as seen in the S3 Management Console.

What am I missing?

[2015-06-05 17:37] My1 commented on #16741
But if you say mounting in /smb are you mounting on the server and only associating int storage or are you reqlly saying to oc, get the smb share with that data and so on.
But the logs do say that the delete couldn't be made (last error)

[2015-06-05 17:42] PVince81 commented on #16741
Sorry, to clarify:
1. Enable external storage app
2. Go to the admin page, external storage section
3. Type "smb" as mount point name
4. Select "SMB" as mount type
5. Enter credentials and share name
6. etc

This is not a Linux system mount.