[2015-03-12 16:53] RealRancor opened #14836 "./occ shows commands for disabled apps (user_ldap, files_encryption,...)"
### Steps to reproduce
1. Have a running OC 8.0.2 (user_ldap was never enabled here)
2. Execute ./occ
3. Have a look at the help output

### Expected behaviour
1. The help output could be stripped down. Maybe only ldap:show-remnants could be shown?

### Actual behaviour
1. The help output shows 8 available ldap commands
2. The help output shows encryption:migrate-keys command

### Server configura

[2015-03-12 16:56] RealRancor commented on #14814
@tessus

Just request this at:

https://github.com/owncloud/updater/issues

[2015-03-12 17:00] tessus commented on #14814
@RealRancor it's fine. I just think you dismissed @floeff's concern/experience too quickly.

[2015-03-12 17:01] RealRancor commented on #14814
Don't dismiss anything. Its just that this check is there in the core installer/updater but not in the updater app which is an separate issue here.

[2015-03-12 17:35] LukasReschke commented on #14820
Happened to me as well - reason was a missing curl extension for PHP. Can you please try to install the PHP cURL extension?

[2015-03-12 17:35] LukasReschke commented on #14708
Do you all have the PHP cURL extension installed?

[2015-03-12 17:35] LukasReschke commented on #14820
(That said  – I'd welcome a hard-dependency on that)

[2015-03-12 17:38] LukasReschke commented on #14820
Okay – checked the source code – we require it anyways for functions such as S2S which will otherwise fail hard then – creating a PR.

[2015-03-12 17:39] PVince81 opened #14837 "SMB storage backend must not contact server in constructor"
### Steps
1. Edit "tests/enable_all.php" and add the "files_external" app
2. Run `./autotest.sh sqlite apps/files_external/tests/mountconfig.php`

### Expected result
Config tests pass

### Actual result
Even though only the constructor of the `\OC\Files\SMB` class is called, it still tries to make a connection:
[code]

### Versions
ownCloud 8.1 git master

After debugging I found that the SMB lib

[2015-03-12 17:43] PVince81 commented on #14837
It was actually on this branch: https://github.com/owncloud/core/pull/11884

It looks like on master someone removed the name "SMB" to make it work.

Still, would be good to fix this eventually.

[2015-03-12 17:45] oparoz commented on #14786
Are you sure it's not because you've cancelled the download?

[2015-03-12 17:59] blizzz commented on #11292
Thank you 389ds for always returning an empty cookie :angry:

[2015-03-12 18:19] agherzan opened #14840 "Can't install apps in OC 8.0.2"
### Steps to reproduce
1. apps
2. install contacts

### Expected behaviour
Should install app

### Actual behaviour
App does not provide an info.xml file

### Server configuration
Fedora21

**Web server:**
apache

**Database:**
mysql

**PHP version:**

**ownCloud version:** (see ownCloud admin page)
8.0.2

**Updated from an older ownCloud or fresh install:**
7.0.X

**List of activated apps:**
noth

[2015-03-12 18:21] LukasReschke commented on #14840
Do you have the PHP cURL extension installed?

[2015-03-12 18:22] agherzan opened #14841 "Conversion errors on 8.0.2"
### Steps to reproduce
1. nothing specially

### Expected behaviour
No errors

### Actual behaviour
Errors in log

### Server configuration
Fedora21

**Web server:**
apache

**Database:**
mysql

**PHP version:**

**ownCloud version:** (see ownCloud admin page)
8.0.2

**Updated from an older ownCloud or fresh install:**
7.0.X

**List of activated apps:**
nothing/defaults

**The content of config/co

[2015-03-12 18:23] agherzan commented on #14840
Yes:
; Enable curl extension module
extension=curl.so

[2015-03-12 18:35] kneiser commented on #14840
I am having the same issue here is what I have in my owncloud log:
Error 	core 	App does not provide an info.xml file 	2015-03-12T18:27:14+00:00
Error 	PHP 	ZipArchive::extractTo(): Invalid or uninitialized Zip object at /var/www/html/owncloud/lib/private/archive/zip.php#135 	2015-03-12T18:27:14+00:00
Error 	core 	App does not provide an info.xml file

Any apps in "Recommended that I try to enable

[2015-03-12 18:57] mrothe commented on #14708
@LukasReschke Do you mean the [PEAR Net_Curl](http://pear.php.net/package/Net_Curl) package (`php-pear-Net-Curl` on CentOS)? I do *not* have that installed.

[2015-03-12 19:18] StephanMeijer commented on #14840
Same issue, cURL installed as well.

[2015-03-12 19:26] SamEliotFisher opened #14842 "Update process to 8.0.2 stuck"
### Steps to reproduce
1. Try automatic update via oc website
2. Workaround bug https://github.com/owncloud/updater/issues/86 doing https://github.com/owncloud/updater/issues/86#issuecomment-78503941
3. Click on "upgrade database" and "Start update"
4. Get message "CSRF attack. Connection will be closed."
5. Reload the page.
6. Try manually setting maintenance to false will bring you back to step

[2015-03-12 19:37] PVince81 opened #14843 "cron.php must not run in maintenance mode is enabled"
### Steps
1. Setup OC with either ajax cron or CLI cron
2. Switch on maintenance mode
3. `update oc_jobs set last_run=0`
4. Run `php cron.php` or `curl http://userid:password/owncloud/cron.php`
5. Check "oc_jobs" table

### Expected result
Cron does NOT run, timestamps left as is

### Actual result
Cron runs through the background jobs and updates the "last_run" field.

This can have nasty consequ

[2015-03-12 19:38] PVince81 commented on #14843
I also noticed that CLI tools like "./occ files:scan --all" work in maintenance mode, but that should be fine since an admin might want to manually rescan in maintenance mode. However some admins might have setup their own cron jobs to rerun the scanner as a workaround for FS issues (ex: external storage update detection).

[2015-03-12 19:41] alexweirig commented on #11292
Hello,

congrats on finding the origin of the problem. Do you think there is a way to work-around this problem?

[2015-03-12 19:41] karlitschek commented on #14843
wow,. This can be very bad.

[2015-03-12 19:42] DeepDiver1975 commented on #14820
So the fallback implementation in the httphelper doesn't really work - right? Brilliant!

[2015-03-12 19:45] DeepDiver1975 commented on #14708
@mrothe not the pear package but the php extension. I have no idea how Centos is packaging php - maybe php-curl?

You might want to paste the result of

[code]

[2015-03-12 19:46] osamak commented on #14281
Is it still appropriate to label this bug report with _needs info_?

[2015-03-12 19:46] R1tschY commented on #14840
Same here. I investigated: In https://github.com/owncloud/core/blob/master/lib/private/installer.php#L247:

`\OC_Util::getUrlContent($data['href'])` returns:

     <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN"> <html><head> <title>400 Bad Request</title> </head><body> <h1>Bad Request</h1> <p>Your browser sent a request that this server could not understand.<br /> </p> </body></html>

`$data['h

[2015-03-12 19:48] DeepDiver1975 commented on #14840
@R1tschY thanks - this is actually pretty helpful. Looks like the http->https redirect is not working on your installation.

[2015-03-12 19:50] mrothe commented on #14708
Here is the relevant part of the output of `php --info`. So, yes, curl support is enabled.

[code]

On CentOS it seems to be part of php:

[code]

[2015-03-12 19:59] DeepDiver1975 commented on #14843
I'll take care of that ...

[2015-03-12 20:21] DeepDiver1975 commented on #14281
@LukasReschke do I get this right? We try to send 307/Temporary Redirect which simply does not exist in http/1.0? Should we got for 302 - which was the temporary redirect in http/1.0

see http://benramsey.com/blog/2008/07/http-status-redirection/

[2015-03-12 20:35] DeepDiver1975 opened #14847 "Drop class OC_User_HTTP - webdav auth provides the same thing"
- [x] https://github.com/owncloud/core/blob/master/lib/private/user/http.php (https://github.com/owncloud/core/pull/14867)

While at it:
- [ ] https://github.com/owncloud/core/blob/master/lib/private/user/dummy.php is for test purpose only -> move to tests/lib
- [x] https://github.com/owncloud/core/blob/master/lib/private/user/example.php is not really needed from my understanding - if at all this

[2015-03-12 20:39] ziirish commented on #14281
I don't remember exaclty, but I think the HTTP code 307 is not the only problem. I think there is some kind of test against the HTTP protocol version too.

I'll try to take a look at it.

[2015-03-12 20:57] karlitschek commented on #14840
@R1tschY Can you try again please? I think we just fixed a big there.

[2015-03-12 21:02] DeepDiver1975 commented on #14837
@PVince81
@Xenopathic recently replaced the smb storage with Test_Mount_Config_Dummy_Storage
https://github.com/owncloud/core/blob/master/apps/files_external/tests/mountconfig.php#L24

To make the unit tests pass properly - just FYI - lazy ctor is still desired

[2015-03-12 21:12] blizzz commented on #11292
Still debugging, needed to switch tasks inbetween, might be a false positive though.

[2015-03-12 21:42] blizzz commented on #11292
so it's returning a string "0" which empty() considers to be empty. So we need to allow it. Finishing fix :)

[2015-03-12 21:58] blizzz commented on #11292
Please test https://github.com/owncloud/core/pull/14849 :)

@alexweirig also since this issue is open for so long, thank you for not only for bringing it up, but especially for your patience and keeping it rolling!

[2015-03-12 22:07] R1tschY commented on #14840
Adding `curl_setopt($curl, CURLOPT_SSL_VERIFYPEER, false);` in https://github.com/owncloud/core/blob/master/lib/private/httphelper.php#L73 solved it for me. Setting `CURLOPT_CAINFO` with downloaded certificates like it is described in http://stackoverflow.com/a/12293898/1188453 did not work.

Also using the alternative in https://github.com/owncloud/core/blob/master/lib/private/httphelper.php#L126

[2015-03-12 22:14] blizzz commented on #14834
The last bind is most (likely not) necessary, we have an instance where this (and some single LDAP requests) were saved and it works well.

[2015-03-12 22:29] DeepDiver1975 commented on #14840
@LukasReschke @karlitschek something wrong again with our ssl cert? :speak_no_evil:

[2015-03-12 22:30] jbiddy opened #14850 "8.0.2 packages missing in Debian repo"
## Steps to reproduce

1. Have a working 8.0.0-9/8.0.1-1 install on Debian Wheezy
2. [Set up the package manager](http://software.opensuse.org/download/package?project=isv:ownCloud:community&package=owncloud) to point to the Debian Wheezy ownCloud OBS repo
3. Run the upgrade through the package manager (apt-get update, apt-get upgrade)

## Expected Behavior
apt-get should prompt you y/n to install

[2015-03-12 22:33] blizzz commented on #14850
from OBS repo

cc @jnweiger

[2015-03-12 22:37] jnweiger commented on #14850
No linux packages for 8.0.2 are released by now. QA approval pending.

[2015-03-12 22:39] jbiddy commented on #14850
Oh darnet, thanks @blizzz that was the most important part and I forgot it! Fail for first issue report :(

[2015-03-12 22:56] LukasReschke commented on #14840
SSL setup looks good to me. Best bet: @R1tschY is using a distribution that ships an outdated or none certificate bundle at all.

In my opinion it's the administrators' task to ensure that the cURL certificate bundle is properly configured. It's not like you would expect an usual desktop software to come with all certificates on their own.

That said, as there really seem to be a lot of distributi

[2015-03-12 22:58] karlitschek commented on #14840
Just to be clear. What I fixed is that the app store returns an https download url now.

[2015-03-12 23:09] cbxk1xg commented on #11685
Please consider my posting:
https://github.com/interfasys/galleryplus/issues/88#issuecomment-78671040

[2015-03-12 23:50] R1tschY commented on #14840
It is very mysterious. I used following php script on the server:
[code]
It prints the status code 200 (OK) and not the status code 400 (Bad Request). @LukasReschke local curl installation seems good. What does owncloud different?

Before downloading the app, owncloud for example requests https://api.owncloud.com/v1/content/download/168711/1 with status code 200. Okay, https requests to api.ownclo

[2015-03-12 23:58] sedrubal opened #14852 "update from 7.X to 8.0.2.0 breaks owncloud installation"
### Steps to reproduce
1. Have owncloud 7 installed (I think it was 7.4 stable)
2. Update as the notification appeares
3. After successfully updating log out

### Expected behaviour
Everything should work fine

### Actual behaviour
Nothing is working, I only get blank pages

### Server configuration
**Operating system**:

`ubuntu 14.04 (Linux 3.13.0-46-generic x86_64 GNU/Linux)`

**Web server:**

[2015-03-13 00:03] mwhohmann opened #14853 ""-1B" Size Reported in Total Directory Size"
![sreen](https://cloud.githubusercontent.com/assets/11449486/6630751/de598960-c8f2-11e4-8643-c82943c19b2d.png)
SMB/CIFS Connections newly created are still counting size, notated as, "Pending."  Here we have two connections, one to an empty directory, and one to a very large directory.  The total between the two is being reported as "-1B" or -1 Bytes.

My proposed fix...

IF any directory is still

[2015-03-13 00:04] karlitschek commented on #14852
@LukasReschke Another one

[2015-03-13 00:06] karlitschek commented on #14853
@PVince81 what do you think?

[2015-03-13 00:09] LukasReschke commented on #14852
Please disable the calendar and contacts app before upgrading. As easiest solution just delete them and install the newest built from the appstore.

[2015-03-13 00:10] LukasReschke commented on #14852
@DeepDiver1975 Something seems broken with the automatic app disabling? - Does it only
work for 3rdparty apps? Maybe we should hardcode calendar and contacts as well...?

[2015-03-13 00:17] sedrubal commented on #14852
Oh, that was too easy :D

Thank you for your fast help.

[2015-03-13 00:23] DeepDiver1975 commented on #14852
I'd vote for a white list of apps which remain enabled.

[2015-03-13 00:47] sedrubal commented on #14852
mh I detected, that many apps are not working anymore (documents, bookmarks, news, music, tasks,...)

Should I open a new issue or do you also know a solution for this? :D

[2015-03-13 00:47] dschmidthawk commented on #14842
I believe I'm having the same problem.  See http://www.dshcloud.com/owncloud/

config.php file shows version 8.0.2 but external view of site is gone. Please advise.

<?php
$CONFIG = array (
  'instanceid' => 'oc5178424e95072',
  'passwordsalt' => '<removed>',
  'datadirectory' => '/home2/dshcloud/public_html/owncloud/data',
  'dbtype' => 'mysql',
  'version' => '8.0.2.0',
  'dbname' => 'dshcloud_o

[2015-03-13 01:15] mscheutz commented on #14708
I did install it,  but it was only part of the problem

From my Android phone on T-Mobile. The first nationwide 4G network.

<div>-------- Original message --------</div><div>From: Lukas Reschke <notifications@github.com> </div><div>Date:03/12/2015  1:35 PM  (GMT-05:00) </div><div>To: owncloud/core <core@noreply.github.com> </div><div>Cc: mscheutz <matthias.scheutz@tufts.edu> </div><div>Subject: R

[2015-03-13 02:28] jkraemer commented on #14232
Same here.

Interesting fact, not sure if related: I am 100% sure I did the `occ upgrade` in the console and it completed successfully, I also logged in successfully as admin. After trying to enable some apps and logging out again OC still insisted on upgrading to 8.0.2, succeeding for the second time. Didn't ask again the next time I logged out though so I hope it was a one time hickup.

### Step

[2015-03-13 02:34] jkraemer commented on #14232
Manually dropping the (empty) `oc_activity` and `oc_activity_mq` tables solved the problem, app could be enabled now.

[2015-03-13 03:30] JasonMe opened #14854 "some bugs"
when invoke app/files/ajax/upload.php  the nginx server will crash down.

[2015-03-13 05:34] #14854 closed

[2015-03-13 05:35] DeepDiver1975 commented on #14854
Closing due to insufficient report.

[2015-03-13 06:22] RealRancor commented on #14852
Hi,

i think thats one reason why the updater app currently shouldn't be used for upgrades like discussed here: https://github.com/owncloud/core/issues/14852

So either:

1. calendar/contacts should be also disabled
2. The updater needs two modes: Update where the current behaviour is used and Upgrade where old apps (and other stuff) are not moved back.

[2015-03-13 06:51] alexweirig commented on #11292
@blizzz Congratulations, this fixes the problems !!!

The users list is now working.

Thanks a lot

Alex

[2015-03-13 06:54] RealRancor commented on #14854
@JasonMe Just as a reference/hint:

When creating an issue please use the issue template provided here:

https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

as asked in the "guidelines for contributing" (linked in the yellow box when creating a new issue).

Currently your report doesn't contain even the basic infos which ownCloud version you're running.

[2015-03-13 07:15] LukasReschke commented on #14842
@dschmidthawk Can you please post your logfile entries as well? Thx.

[2015-03-13 07:32] RealRancor commented on #14832
@MorrisJobke Based on your question in https://github.com/owncloud/apps/issues/2030:

from: https://doc.owncloud.org/server/8.0/admin_manual/release_notes.html

[2015-03-13 07:50] deMattin commented on #14850
jnweiger commented:

It seems to be a good idea to check reliability of the package update very well.

jbiddy commented:

I don't think, it's a fail because now we have an answer why there's no repo update... :wink:

[2015-03-13 08:05] jcfischer commented on #14834
Ok - I will try to remove it on our servers, and see if we can get a performance improvement going

[2015-03-13 08:15] SergioBertolinSG opened #14855 "Uninstall of rpm package owncloud-server doesn't uninstall owncloud-3rdparty"
### Steps to reproduce

1. Install owncloud package
2. Uninstall owncloud package
3. Uninstall owncloud-server package

### Expected behaviour
owncloud-3rdparty is uninstalled as a dependency of owncloud-server

### Actual behaviour
owncloud-3rdparty has to be removed manually after owncloud and owncloud-server.

If you forget this step and you install owncloud again, it doesn't work because 3rdpa

[2015-03-13 08:17] SergioBertolinSG commented on #14855
cc @jnweiger

[2015-03-13 08:17] rullzer commented on #14564
Initial PR at #14856

[2015-03-13 08:20] SergioBertolinSG commented on #14855
The output corresponds to the enterprise version, but this happens in community as well:

[code]

[2015-03-13 08:24] DeepDiver1975 commented on #14834
@jcfischer I assume the requests are mainly driven by the connected desktop clients?

Any idea which versions of the desktop client are in place?

@blizzz @dragotin this might be related to the php session being closed on webdav requests - we had a similar case a few weeks back ....

[2015-03-13 08:25] #14843 closed

[2015-03-13 08:26] DeepDiver1975 commented on #14852
let me come up with a POC ...

[2015-03-13 08:28] jcfischer commented on #14834
@DeepDiver1975 - yes - web clients are none of our worries. We have a mix of 1.6 and 1.7 clients

I will now disable it on one of the servers for the desktop clients and see what disaster unfolds

[2015-03-13 08:29] DeepDiver1975 commented on #14834
@jcfischer which server version are you running?

[2015-03-13 08:31] jcfischer commented on #14834
@DeepDiver1975  currently 6.0.6 - upgrade to 7.0.5 in Test and planned for 28.3

[2015-03-13 08:34] DeepDiver1975 commented on #14834
@jcfischer you might want to try to comment this line https://github.com/owncloud/core/blob/stable7/lib/private/connector/sabre/auth.php#L81

[2015-03-13 08:37] jcfischer commented on #14834
@DeepDiver1975 - I have this

[code]

so you are saying that I should keep the session open for the webdav accesses?

[2015-03-13 08:38] DeepDiver1975 commented on #14834
yes - I posted the wrong link - sorry - https://github.com/owncloud/core/blob/stable6/lib/private/connector/sabre/auth.php#L79

[2015-03-13 08:38] DeepDiver1975 commented on #14834
Yes - this is a wild guess - this did help at a different installation as well. Let's just give it a try :wink:

[2015-03-13 08:40] jcfischer commented on #14834
ok - I have one server (out of 8 changed) - I probably should look at debug log to see if anything bad happens. But would I see anything?

[2015-03-13 08:41] DeepDiver1975 commented on #14834
I'd expect the LDAP connects to drop

[2015-03-13 08:43] pe78420 commented on #14842
Same as above for me during the upgrade process (from 8.0.07 to 8.0.2)...
My owncloud server is definitively stuck !
Help would be appreciated ;)

[2015-03-13 08:50] LukasReschke commented on #14842
@pe78420 Log entries as well please :)

[2015-03-13 08:58] LukasReschke commented on #14820
At least not on my machine – yes.

[2015-03-13 09:00] LukasReschke commented on #14840
@R1tschY If you add `curl_setopt($curl, CURLOPT_SSL_VERIFYPEER, true);` does it work then with your test script? – Also what setup is that? Which distribution / PHP version? Would be probably easier if I fire up a VM with the same settings.

[2015-03-13 09:04] LukasReschke commented on #14842
Do you see anything in the PHP error log? – Also if you try to update via the OCC command line tool does it work or does it throw a similar error?

[2015-03-13 09:25] jcfischer commented on #14834
@DeepDiver1975 same overall amount of bind() operations on the LDAP server. Weird... will investigate some more

[2015-03-13 09:28] DeepDiver1975 commented on #14834
hmm ... well - it was worth trying.

[2015-03-13 09:38] pierrejochem opened #14858 "Add to your owncloud button / function"
Hi Guy's,

I get this error, when I try to add a file from another cloud:

**Error	files_external	[CURL] Error while making request: Failed to connect to x.x.com port 443: Connection timed out (error code: 7)**

In my config.php is a proxy defined, but I think it is not in use for the curl request.

Can anybody confirm this please or tell me why this is not working.

Thank you in advance

Cheers,

[2015-03-13 09:38] R1tschY commented on #14840
Yes.

Server: CentOS release 6.6
PHP: 5.6.2

[2015-03-13 09:38] PVince81 commented on #14853
@mwhohmann what version of ownCloud are you using ?

[2015-03-13 09:41] LukasReschke opened #14859 "Favorite page is very slow loading"
On one of my production ownCloud instances the favorite page is very slow loading and requires nearly ten seconds. Though the user has not a single favorite.

This is 8.0.2 updated from 7.0.4 on a Debian 7 with PHP 5.4 and MySQL.

BlackFire Trace: https://blackfire.io/profiles/eb73d901-1946-4e71-9523-7f35d025fdd5/graph

The user itself does not have a single file except two shared folders shared w

[2015-03-13 09:42] LukasReschke commented on #14859
Pretty sure it is related to the 20415 (!) SQL queries that Blackfire shows :see_no_evil:

[2015-03-13 09:43] LukasReschke commented on #14840
How did you install PHP 5.6.2 on your CentOS? – Which repos? :)

[2015-03-13 09:44] PVince81 commented on #14859
How many subdirs ? The problem is that to show the favorites it needs to run a search on all storages.
While the search on the Local storage should be fast (direct SQL query), the search on a shared storage currently needs to iterate/recurse in all subfolders to search for favorite/tagged files...

I haven't looked at the report yet, I hope we can still optimize it a bit.

[2015-03-13 09:50] LukasReschke commented on #14859
[code]

[code]

[2015-03-13 09:51] jnweiger commented on #14855
This is strange. I'expect to see none of the subpackages being removed or all. Why is owncloud-3rdparty so special?

[2015-03-13 09:55] R1tschY commented on #14840
I do not own the server. Switching to the newest PHP version 5.6.6 does not change anything.

[2015-03-13 09:58] PVince81 commented on #14859
One thing we cannot get away at the moment is iterating over all folders to find the favorites, not until @icewind1991's shared storage refactor is done.
See https://github.com/owncloud/core/blob/master/apps/files_sharing/lib/cache.php#L381

What we could try and optimize is avoiding to re-resolve the source cache for every entry in the loop, either by moving the logic from getSourceCache() https:

[2015-03-13 10:01] PVince81 commented on #14859
unless https://github.com/owncloud/core/pull/12086 can be merged soon, but I doubt it. And I'm not sure how many changes would be needed here to make it work (considering that it will take time to make the changes, test, etc)

[2015-03-13 10:05] Constey commented on #13912
I had the same issue - it was related to wrong file owner permissions.
Try a chown www-data:www-data owncloud -R to resolve this issue.
(Replace www-data with your Webserver User)

[2015-03-13 10:10] jcfischer commented on #14834
I have enabled New Relic monitoring again on the sync servers. Seems like the LDAP server is not the culprit at all (usual suspects come to mind - mainly the many DB operations). Still the double bind() would shave of a millisecond or so from a  request

[2015-03-13 10:16] rullzer commented on #14826
So I just ran a few tests and it seems that it even worse.
Even when expiration is enforced. Adding a password removes the expiration date.

So it seems that for some reason we handle adding a password differently from modifying any of the other properties. (permission expire date). I do not really get why we do this (maybe some historic reason?).

If the old expire date is retrieved in https://gi

[2015-03-13 10:20] DeepDiver1975 commented on #14834
not really a new finding on an OC6 installation - we did learn a few thing in the past months :speak_no_evil:

[2015-03-13 10:28] neazoi opened #14863 "Owncloud 7 and 8 shared document editing not working by shared LDAP users"
Hello, I have installed Owncloud7 and enabled the LDAP. Users login ok and can share and edit documents at the same time. My data directory is inside the owncloud installation. In the LDAP settings:
User Home Folder Naming Rule is set to uid
Everything works fine with this settings.

However, when I set the User Home Folder Naming Rule to "homeDirectory" (the attribute of my ldap), things are mess

[2015-03-13 10:29] PVince81 commented on #14826
I don't think there is any specific reason for resetting the share when changing the password. It doesn't even make sense.
From what I remember it's just a bug.

[2015-03-13 10:38] LukasReschke commented on #14858
Probably the proxy is missing there. When does that happen did you say? – I don't quite understand "when I try to add a file from another cloud". There are multiple ways to achieve something like that :)

[2015-03-13 10:40] RealRancor opened #14864 "Extend ./occ upgrade description to clarify this won't automatically download and update the latest version"
Hi,

some people think that the "./occ upgrade" command will download and install the latest OC update:

https://github.com/owncloud/updater/issues/94
https://forum.owncloud.org/viewtopic.php?f=31&t=27011
(And IIRC also some other questions in either the mailinglist or IRC)

Maybe the text should be extended that this is not the case?

[2015-03-13 11:06] mcnesium opened #14866 "Update notification links"
![notification bar](https://doc.owncloud.org/server/8.0/admin_manual/_images/updater-1.png)

The notification bar currently links to the [upgrade](https://doc.owncloud.org/server/8.0/admin_manual/maintenance/upgrade.html) instead of the  [update](https://doc.owncloud.org/server/8.0/admin_manual/maintenance/update.html) manual while a minor update.

Also it would be nice if it would link to the upd

[2015-03-13 11:06] jnweiger commented on #14850
The original plan was to announce Linux packages next week.
Sorry that tar-ball releases were announced earlier.

[2015-03-13 11:07] LukasReschke commented on #14866
That URL is served from the apps.owncloud.com server as far I can tell from https://github.com/owncloud/core/blob/c546f0bf46a51dc297be15aa1acbca5ed9a84de9/lib/private/updater.php#L122

cc @karlitschek

[2015-03-13 11:09] RealRancor commented on #14866
@LukasReschke
Yupp, seems so: https://apps.owncloud.com/updater.php?version=6x0x2x0x1399658401.0121x1405698422xstablexx2014-06-24T15:11:49+00:00

[2015-03-13 11:11] LukasReschke commented on #14866
@karlitschek Can we switch to SSL URLs there as well? THX.

[2015-03-13 11:16] pierrejochem commented on #14858
A customer has shared a file with password protection. In that page you have a button on top left side of the page "Add to your owncloud". If I try this I get the error in the owncloud.log and surely nothing is included (downloaded) into our cloud.

[2015-03-13 11:24] RealRancor commented on #14863
Hi,

not absolutely sure but this could be an issue in the documents app itself. So you could re-open in: https://github.com/owncloud/documents/issues

[2015-03-13 11:26] neazoi commented on #14863
Thank you, I will do so

[2015-03-13 11:29] jnweiger commented on #14855
Found it. All other subpackages have a backwards dependency to owncloud-server-core. Added.
Fixed in CentOS_7 rebuild owncloud-8.0.2-12 or later.

[2015-03-13 11:29] #14855 closed

[2015-03-13 11:30] SamEliotFisher commented on #14842
@LukasReschke php5-fpm.log is empty. Could not try the command line tool yet

[2015-03-13 11:37] rullzer commented on #14826
WIP PR in #14868

[2015-03-13 11:38] rullzer commented on #10671
WIP PR in #14868

[2015-03-13 11:57] nickvergessen opened #14870 "getDisplayName() on a non-object when requesting avatar of non-existing user"
[code]

[2015-03-13 12:03] flasheater commented on #12412
I can confirm this issue resolved as of 8.0.1. At least the case I originally posted ;).

[2015-03-13 12:03] blizzz commented on #14850
@jbiddy no worries, i think @jnweiger would have guessed it either way. Next time ;)

[2015-03-13 12:20] qnxor opened #14873 "Dropbox plugin causes endless re-sync in client"
As asked by @guruz in #2479 I'm copying here the info initially reported there which causes my owncloud client to sync every 60 seconds and also cause cpu spikes. This is on MacOSX 10.10.2 but it seems server related.

---

@mcnesium I installed 1.8 beta2 and little changed in my case. I still see cpu spikes and high usages ***every minute*** or so. CPU time was 02m04s for owncloud,  compared to 0

[2015-03-13 12:31] PVince81 commented on #12980
Closing due to inactivity.

This is likely to be an issue with the expiration code, so possibly a duplicate of https://github.com/owncloud/core/issues/13974#issuecomment-77531761

[2015-03-13 12:31] #12980 closed

[2015-03-13 12:39] mbiebl opened #14876 "readdir() expects parameter 1 to be resource, boolean given at"
Version: 7.0.5

Since the latest point update from 7.0.4 to 7.0.5,  my owncloud.log has been spammed with messages like this:

{"app":"PHP","message":"readdir() expects parameter 1 to be resource, boolean given at \/www\/owncloud\/lib\/private\/tempmanager.php#135","level":3,"time":"2015-03-12T15:50:40+00:00"}

Apparently, this has also caused a high system load, so my service provider flagged the

[2015-03-13 12:39] Keelan commented on #14023
What is the quickest way to get back the calendars, i also after hitting the big upgrade button have lost everything the update was "successful" but now i am given a blank page only. What is the easiest way to roll back to v7 i have backups.

[2015-03-13 12:41] jnweiger commented on #14855
yum erase owncloud
yum erase owncloud-server
rpm -qa | grep owncloud

-> all gone.

[2015-03-13 12:42] deMattin commented on #14811
Is there a way to deactivate this notification?
It might be ok, that it comes up but now I know it and if I don't want to upgrade (now), I don't need this any more and it's only in the way.
In my case it's not neccessary at all because I only update from the suse repo.

An enhancement could be, that this notification would go away itself after lets say 20 seconds.

[2015-03-13 12:45] RealRancor commented on #14023
@Keelan
Disable all 3rdparty apps like described here: https://forum.owncloud.org/viewtopic.php?f=31&t=26310 and remove the /app/calendar and /app/contacts folders.

[2015-03-13 12:46] RealRancor commented on #14876
Hi,

seems like a duplicate of: https://github.com/owncloud/core/issues/14153 where you can find some pointers.

[2015-03-13 12:48] mbiebl commented on #14876
Why did this slip into a new release when the problem was already known and fixed?

[2015-03-13 12:49] Keelan commented on #14842
Same issue same setup.

Error log: pastebin.com/3Bjgd2qD

[2015-03-13 12:50] LukasReschke commented on #14842
@Keelan Your log indicates something complete different. Yours looks like https://github.com/owncloud/core/issues/14852 – please open new issues when not sure if it is really the exactly same bug :)

[2015-03-13 12:50] RealRancor commented on #14876
Thats probably something you should ask in the linked issue. :-)

[2015-03-13 12:52] mbiebl commented on #14876
Well, this affects the stable7 branch

[2015-03-13 12:54] RealRancor commented on #14876
Arghhhs, missed that. The reports where from OC8. :-/

[2015-03-13 12:56] MorrisJobke commented on #14843
It did very bad :(

[2015-03-13 13:00] SergioBertolinSG commented on #14855
Tested with enterprise version in private repo, version 8.0.2-23.1, uninstalled owncloud-3rdparty correctly.
Public repo isn't still updated.

[2015-03-13 13:11] MorrisJobke commented on #14843
Is this file also used for the webcron? Otherwise we need to check for other possible places that could trigger this

[2015-03-13 13:18] RealRancor commented on #14876
Seems the fix was just backported to stable8 but not to stable7: https://github.com/owncloud/core/pull/13977

[2015-03-13 13:54] mbiebl commented on #14876
This bug is caused by merging owncloud/temp-handling-stable7

[2015-03-13 14:07] MorrisJobke commented on #14811
This can be used for the temporary show: https://github.com/owncloud/core/blob/f668ed25fe2997f54085982352df36630a4e1efa/core/js/js.js#L800

Maybe @Xenopathic or @rullzer want to have a look at this :)

[2015-03-13 14:08] #12412 closed

[2015-03-13 14:08] itheiss commented on #14036
I am facing this bug since ownCloud v8.0 and it´s really really frustrating to have a broken gallery with only a spinning circle. In my humble opinion this isn't a low priority bug. We are talking about a core functionality that is completly broken for every person affected!

Any news or quick fixes to apply myself are relly appreciated.

Regards,

Ingo

[2015-03-13 14:10] MorrisJobke commented on #14036
cc @nickvergessen because you also dig into this maybe

[2015-03-13 14:21] oparoz commented on #14036
@itheiss - Which browser?

[2015-03-13 14:23] prepu commented on #14832
It is very strange @MorrisJobke because I have installed a clean 8.0.2 version in the same Windows Server 2008 and it is working properly.
I don't know why in the manual says that it doesn't work.
My problem is that the automatic update shows that error.

[2015-03-13 14:24] georgehrke commented on #14036
I can take a look this evening, should be fairly easy to fix.

Please excuse my brevity and typos.
Sent from my mobile

[2015-03-13 14:24] MorrisJobke commented on #14786
Let me retry :)

[2015-03-13 14:27] MorrisJobke commented on #14786
I can't reproduce anymore :(

Maybe just a problem, because unit tests run before that.

[2015-03-13 14:27] #14786 closed

[2015-03-13 14:28] oparoz commented on #14786
I've definitely seen this message in the logs on 8.0, but I assumed it was generated when I cancelled a test download.
Maybe it's not reproducible on 8.0.2 :)

[2015-03-13 14:29] dttpy commented on #14828
@PVince81 maybe this can help https://github.com/interfasys/galleryplus/issues/50

[2015-03-13 14:29] itheiss commented on #14036
@oparoz  I am using Chrome v 40.0.2214.111 m on Windows 7

[2015-03-13 14:31] oparoz commented on #14036
@itheiss - Thanks I just wanted to make sure you were not on Internet Explorer :)

[2015-03-13 14:38] karlitschek commented on #14866
Sure. I think https://api.owncloud.com/... should work fine

[2015-03-13 14:43] PVince81 commented on #14828
Even if the gallery app properly cleans up the URL, we still need to make sure to fix the parsing code

[2015-03-13 14:53] MorrisJobke commented on #14847
@LukasReschke Can you have a look at the other stuff in here? Thanks

[2015-03-13 14:57] LukasReschke commented on #14847
Well. No idea about our user backends (dummy.php) and from my PoV we would just drop that example file completely :see_no_evil:

[2015-03-13 15:10] bantu commented on #14832
@MorrisJobke I think you probably rather want @nickvergessen

[2015-03-13 15:10] MorrisJobke commented on #14847
Can you create the PR for the drop? It's not necessary, because we already have a Interface to work with

[2015-03-13 15:11] LukasReschke commented on #14847
![frabz-sir-yes-sir-3d0bcd](https://cloud.githubusercontent.com/assets/878997/6641048/a5fed5e4-c99b-11e4-9e5c-b40bd8a4f635.jpg)

[2015-03-13 15:13] LukasReschke commented on #14847
https://github.com/owncloud/core/pull/14880

[2015-03-13 15:13] MorrisJobke commented on #14847
@LukasReschke You made my day :)

[2015-03-13 15:27] LukasReschke commented on #14847
SIR… THANKS SIR!!!

[2015-03-13 15:28] genobit commented on #14155
I switched to ubuntu server now, thanks for the help anyways.

[2015-03-13 15:49] nickvergessen opened #14881 "Do not create navigation entries unless required"
### Worst Case, aka Current State
Currently apps register their navigation entry with an array in app.php e.g. Activity:
[code]

This creates a lot of overhead, although not required:

1. The `Application` of the activity app is created and instanciated
2. The `$app->getContainer()` ....
3. The `$c->query('ActivityL10N')` ....
4. The `\OC::$server->getURLGenerator()` ....

This makes requests that

[2015-03-13 15:59] oparoz commented on #14286
The EventSource fallback just doesn't work period.

1. Install oC8
2. Click on the "Pictures" app
3. Stare at the spinning wheel forever
4. Look at the debugger. All the data is there, just never sent to where it's supposed to

I'm saying this in hope that the oC team will consider replacing OC_EventSource with a maintained polyfill and perhaps raise an issue there regarding upcoming changes in IE

[2015-03-13 16:03] mwhohmann commented on #14853
@PVince81 This is 8.0.2.0

[2015-03-13 16:07] PVince81 commented on #14853
It says -1 because the value of "Pending" is actually the size "-1".
The bug here is that the value should be removed from the total calculation.

Another idea, to combine with your suggestion, would be to show the actual size (without -1) but add "(pending)" behind it.

For example: "12 MB (pending)" instead.

[2015-03-13 16:10] PVince81 commented on #14853
The calculation is done in this class: https://github.com/owncloud/core/blob/master/apps/files/js/filesummary.js#L101

Tagging as junior job as it shouldn't be too hard to make the change.

[2015-03-13 16:18] actyler555 opened #14882 "Unable to upload files larger that 4 GB..."
It appears I am experiencing the same issue as described in this post:
https://github.com/owncloud/client/issues/2047

Unfortunately I wasn't able to get a clear answer on what the fix was from reading the conversation. This particular build of ownClould started at 7.0.2 was upgraded to 7.0.5, and then again to 8.0.2.. the issue was present in all versions. Basically as I am uploading I watch the

[2015-03-13 16:20] LukasReschke commented on #14286
@jnfrmarks Has this been tested?

[2015-03-13 16:26] georgehrke commented on #14036
@itheiss can you validate that https://github.com/owncloud/core/pull/14883 fixes the issue?

[2015-03-13 16:41] RealRancor commented on #14882
Hi,

did you had a look at:

https://doc.owncloud.org/server/8.0/admin_manual/configuration_files/big_file_upload_configuration.html
https://forum.owncloud.org/viewtopic.php?f=17&t=7733

Those could give you some pointers what could be wrong here.

[2015-03-13 16:45] itheiss commented on #14036
@georgehrke  The error 'imagepng() expects parameter 1 to be resource, boolean given' is gone but the spinning circle remains. It seems to me the thumbnail generation stops at a specific image. Is the a way to enable traceing to see which images are processed? Maybe we can get a clou which image is causing the problem?

[2015-03-13 16:48] #14155 closed

[2015-03-13 16:48] oparoz commented on #14036
@itheiss - You're affected by https://github.com/owncloud/gallery/issues/158 and https://github.com/owncloud/gallery/issues/159

You'll have better luck switching to Gallery+: https://apps.owncloud.com/content/show.php/Gallery%2B?content=169116

[2015-03-13 16:50] dubsflyt opened #14884 "Way to recover sharing"
Recently we had an issue when a user accidentally deleted a folder which had a number of subfolders, of course we had backups of these so could restore them, but a number of these subfolders had sharing rules applied. After restore these files obviously had different etags so no longer showed as shared, while not a massive deal with just a couple of subfolders, if this was a larger amount it could

[2015-03-13 17:09] mbiebl commented on #14876
@RealRancor could the severity of this issue please be bumped? That's a rather nasty one and should be fixed as soon as possible.

[2015-03-13 17:09] jbiddy commented on #14850
That is so okay! I am not in a hurry. I've just been getting the update is available message when I go into the WebUI. After ignoring it for a day I finally logged into the server via ssh and tried to do an update.

Anyway, thanks for letting us know what the situation is so quickly. We appreciate it :)

[2015-03-13 17:09] SamEliotFisher commented on #14842
@LukasReschke a manual update via the occ tool fixed the problem.Thank you for your help.

[2015-03-13 17:09] #14842 closed

[2015-03-13 17:10] benhartwich opened #14885 "Upgrade breaks owncloud"
Hi,

as already discussed here - the upgrade from 7.0.4 to 8.0.2 breaks owncloud. Error messages:
 Class OCA\Contacts\Share\Addressbook contains 1 abstract method and must therefore be declared abstract or implement the remaining methods (OCP\Share_Backend::isShareTypeAllowed) in /var/kunden/data/owncloud/apps/contacts/lib/share/addressbook.php on line 130"

Is this problem solved? How can I fix t

[2015-03-13 17:10] RealRancor commented on #14876
@mbiebl
See that i have no "Collaborator" nor an "Owner" flag on the right side of my name as the others in here: https://github.com/owncloud/core/pull/13977

[2015-03-13 17:12] mbiebl commented on #14876
ah, ok. I'm not too familiar with github

[2015-03-13 17:26] RealRancor commented on #14885
Hi,

please use the search of github to find similar issues: https://github.com/owncloud/core/issues/14852, https://github.com/owncloud/core/issues/14677 where you can find a solution here: https://github.com/owncloud/core/issues/14852#issuecomment-78707046

[2015-03-13 17:42] itheiss commented on #14036
@oparoz Thanks for pointing me to Gallery+. Works like a charm!

[2015-03-13 17:48] dschmidthawk commented on #14842
Here are my error log entries for 3/12 when I did the update:

{"reqId":"5500e6a001915","app":"share","message":"could not resolve linkItem","level":0,"time":"2015-03-12T01:06:39+00:00","method":"GET","url":"\/owncloud\/public.php?service=files&t=cace469fc92147748636094fee6f1b33"}
{"reqId":"5500e6a883ab3","app":"share","message":"could not resolve linkItem","level":0,"time":"2015-03-12T01:06:48+00

[2015-03-13 17:49] Raydiation commented on #14881
IMHO navigations should be registered in your info.xml since we're duplicating tons of logic that is already present in the info.xml file.

We need:
* id (available in info.xml, not changing ever)
* name (available in the info.xml)
* icon: not going to change ever, can be hard coded or even default to img/icon.svg or img/icon.png by convention which is probably the best solution
* url: could defau

[2015-03-13 17:55] dschmidthawk commented on #14842
PHP error log for 3/12:

/home2/dshcloud/public_html/owncloud/error_log:
[12-Mar-2015 23:51:41 UTC] PHP Fatal error:  Class OCA\Contacts\Share\Addressbook contains 1 abstract method and must therefore be declared abstract or implement the remaining methods (OCP\Share_Backend::isShareTypeAllowed) in /home2/dshcloud/public_html/owncloud/apps/contacts/lib/share/addressbook.php on line 130
[12-Mar-201

[2015-03-13 18:02] Dreadeath commented on #14236
I have the same issue. I`m using nginx and found out that though apps installed to secondary apps folder, some files are looked in wrong place and it looks like second absolute path is ignored in some cases.

For example, we have two folders - apps and apps2, and two paths - /one/path/apps and /second/apps2. So, according to ngnix`s logs, icons of installed apps (and so as some other files I suppo

[2015-03-13 18:09] mbiebl opened #14886 "opendir(/tmp): failed to open dir: Permission denied at /.../lib/private/tempmanager.php#134"
Version: 8.0.2 and 7.0.5

With Version 8.0.2 and 7.0.5 my log is full of those messages:
opendir(/tmp): failed to open dir: Permission denied at /.../lib/private/tempmanager.php#134

/tmp has the following permissions:
drwxrwxrwt  4 root         root     4096 Mär 13 18:14 tmp

Those look fine.

This owncloud instance is hosted by all-inkl, might this be a php configuration issue?

[2015-03-13 18:12] pe78420 commented on #14842
A manual update via the occ tool fixed the problem (sudo -u www-data php occ upgrade)...
Thanks very much ;)

[2015-03-13 18:16] dschmidthawk commented on #14842
I'm not sure how to do that on shared BlueHost hosting...

[2015-03-13 18:18] StephanMeijer commented on #14840
I'm running 5.4.16, same problem/

[2015-03-13 18:27] DeepDiver1975 commented on #14886
Most probably a hosting specific issue.  Afaik they don't allow directory listing on tmp

[2015-03-13 18:28] DeepDiver1975 commented on #14886
@icewind1991 any idea?

[2015-03-13 18:35] nickvergessen commented on #14881
Well there is this app (bookmarks?) which lets you add links to it. I don't really want to see it writing the info.xml file -.-

But yes, apart from that the info.xml solution sounds like a plan aswell

[2015-03-13 18:42] Raydiation commented on #14881
@nickvergessen I think the bookmark app does not register additional navigation entries.  But apps that do this can ofc keep using the current API. Apart from that the performance impact in general should be negligible, unless you have some benchmarks that proof that this is a problem.

[2015-03-13 18:45] Ypnose commented on #14406
Same "bug" here with OC 7.0.4. Tried to upload several times many big files on an external SFTP and the result is always the same: faulty files (size is 780,4MB).

[2015-03-13 19:28] enoch85 opened #14887 "openSuse packaged isn't updated"
http://download.opensuse.org/repositories/isv:/ownCloud:/community/xUbuntu_14.04/

@jnweiger

[2015-03-13 19:31] karlitschek commented on #14881
There are usecases where we want to hide/show and add navigation entries programmatically. So I think a hard coded definition in info.xml doesn´t work.

[2015-03-13 20:12] deMattin commented on #14887
Dup: #14850

[2015-03-13 20:27] RealRancor commented on #14886
Could an configured open_basedir also causing this?

[2015-03-13 20:28] sbowenwilliams commented on #14110
I'm getting this problem with an app I wrote for owncloud where the jquery event handler fails and my log is:
GET https://ocdev.sesp.northwestern.edu/core/vendor/jquery/dist/jquery-migrate.min.map 404 (Not Found)

[2015-03-13 20:29] mbiebl commented on #14886
@RealRancor In case this question was directed to me, how can I find out and provide you the necessary information?

[2015-03-13 20:32] RealRancor commented on #14886
You could check your php config with a phpinfo file uploaded to your webspace.

[2015-03-13 20:36] mbiebl commented on #14886
Directive	| Local Value	| Master Value
open_basedir | /www/htdocs/<uid>/:/tmp:/usr/bin:/www/htdocs/<uid>:/bin:/usr/local/bin:/usr/share/php:/dev/urandom | no value

[2015-03-13 20:42] enoch85 commented on #14887
Thanks!

[2015-03-13 20:42] #14887 closed

[2015-03-13 21:11] DavidPrevot opened #14888 "Please, add unminified version of zxcvbn"
Almost two years ago, after zxcvbn got [added to 3rdparty](https://github.com/owncloud/3rdparty/commit/10dc2a63931a740143a82eb1d9dd289c71a01c66), the unminified version was [added too](https://github.com/owncloud/3rdparty/commit/c6eef895c08e43eacb6c08a2b9818353da784cc9).

It would be nice to ship an unminified version (provide source code), and even use it rather than the minified one (it will be

[2015-03-13 21:31] skromberg commented on #14840
for me too

[2015-03-13 21:43] StephanMeijer commented on #14840
Trying that fix tomorrow.

[2015-03-13 21:57] DeepDiver1975 commented on #14888
That lib now lives here - still minified: https://github.com/owncloud/core/tree/master/core/vendor/zxcvbn

summoning bower master: @MorrisJobke

[2015-03-13 22:14] MorrisJobke commented on #14888
zxcvbn is written in coffeescript and got compiled and minified. This is the way they distribute. Should we generate the unminified version ourself? But then bower is useless, because we need to build it (setup the coffeescript compiler)

[2015-03-13 22:17] LarsHanses opened #14890 "Delete icon (trash can) not shown in IE v11 and chrome v41"
Steps to reproduce

login user
move mouse over delete area

Tell us what should happen
trash can should be shown

Actual behaviour

Tell us what happens instead
just "Delete"-balloon is shown without trash can

Server configuration

Operating system:
Windows 7 x64

Web server:
IIS 7.5 (mime-types for svg and svgz already added)

Database:
MySql

PHP version:
5.5.5

ownCloud version: (see ownCloud

[2015-03-13 22:20] trumpetsven commented on #14840
Adding curl_setopt($curl, CURLOPT_SSL_VERIFYPEER, false); in > https://github.com/owncloud/core/blob/master/lib/private/httphelper.php#L73 solved it for me.

[2015-03-13 22:26] LarsHanses opened #14891 "share icon not shown, if file is not already shared"
Steps to reproduce

login user
move mouse over share area

Tell us what should happen
share icon should be shown

Actual behaviour

Tell us what happens instead
just square with broser "default" image is shown (see attached screenshot)
Note: shared icon is shown (see attached screenshot)

Server configuration

Operating system:
Windows 7 x64

Web server:
IIS 7.5 (mime-types for svg and svgz alread

[2015-03-13 22:26] blizzz commented on #13533
@sbelov1 how does it look like, can we close it?

[2015-03-13 22:31] felikz3 commented on #12725
what do you mean by fix it, @themagicm . that's just a workaround; in my the opinion the guys at owncloud still have to solve this problem.

[2015-03-13 22:37] DeepDiver1975 commented on #14882
blame M$ for not supporting the required interfaces .... :speak_no_evil:

[2015-03-13 22:44] RealRancor commented on #14886
Ok, that should be fine then from what i see.

[2015-03-13 23:16] NicolasKAROLAK opened #14892 "MySQL over SSL"
Hello,

I'm trying to configure owncloud with a remote DB server and I it's not possible to make it working with MySQL/MariaDB over SSL. It's not implemented in ownCloud.

I don't know if there is a simple way to implement it, since it requires to import certificates, etc. May be through an 'advanced' dropdown panel at the installation page ?

Otherwise if you don't think it is wotrh (or a good id

[2015-03-13 23:21] DeepDiver1975 commented on #14892
You can specify driver options in the config - see https://github.com/owncloud/core/blob/master/config/config.sample.php#L144

But this will only work after the database has been generated WITHOUT connecting via SSL, because the setup code does not yet respect driver option from the database.

[2015-03-13 23:21] DeepDiver1975 commented on #14892
refs https://github.com/owncloud/core/issues/11788

[2015-03-13 23:29] NicolasKAROLAK commented on #14892
Oh great ! I will try. Thanks.

[2015-03-14 00:10] carlaschroder commented on #14569
@PVince81 , that's a meaningless distinction to the poor harried ownCloud admin, and also doc writer, because to us the UI is the app. If it's not the app then what is it doing there, and where is the danged Updater app? Sorry, I know the devs work hard and are doing amazing work, but this is a confusing situation, and it doesn't help to tell people "Oh, that's not the Updater app! It just tells y

[2015-03-14 00:16] carlaschroder commented on #14569
Sorry, I'm not trying to be difficult, I'm just trying to figure this out because I'm getting conflicting explanations.

[2015-03-14 00:36] te-online commented on #14569
@carlaschroder I can totally understand your point of view. Problem is that you can't speak of *the* ownCloud admin. Some admin might be used to download all the stuff manually – not even thinking of using the updater app. Another admin might run ownCloud with very limited knowledge and is dependent on the app to work as expected. That's a tricky situation, but it that can't be avoided without sta

[2015-03-14 00:47] enoch85 commented on #14892
Please close this issue if it works out for you @NicolasKAROLAK

[2015-03-14 00:57] enoch85 commented on #5629
Soon to be one year old issue. Any update here?

[2015-03-14 08:05] RealRancor commented on #14863
Ref to your reported issue in the documents app tracker: https://github.com/owncloud/documents/issues/463

[2015-03-14 09:44] flasheater opened #14893 "S3 External Storage - Athentication mechanism v4 not supported?"
Trying to add external storage via Amazon S3 Bucket in Region Frankfurt fails with following
Exception: http://hastebin.com/devetufuxa.tex .

Possible explanation: https://stackoverflow.com/questions/26533245/the-authorization-mechanism-you-have-provided-is-not-supported-please-use-aws4

[2015-03-14 09:46] rullzer commented on #14891
Could you check the image location? (right click and then there should be something like copy image location).

Also if you go directly to the image location is it shown?

[2015-03-14 10:27] MorrisJobke commented on #14893
cc @DeepDiver1975 @butonic

[2015-03-14 10:43] #14870 closed

[2015-03-14 11:03] Raydiation commented on #14881
@karlitschek yep, thats totally fine, you can still use the API. But most apps dont need to hide it and can benefit from optimizations behind the scenes

[2015-03-14 11:07] LukasReschke commented on #14842
That is a different bug, please remove the calendar and contacts app as described in our upgrade documentation: https://doc.owncloud.org/server/8.0/admin_manual/maintenance/upgrade.html

[2015-03-14 13:21] CptLeeChuck opened #14894 "500 interal server errors for each PUT and DELETE command"
I have internal server errors with my owncloud installation for each PUT or DELETE request WebDAV (sabre/dav) receives. See my apache access.log excerpt:

    192.168.2.11 - - [14/Mar/2015:08:39:44 +0100] "PROPFIND /remote.php/webdav HTTP/1.1" 207 5272
    192.168.2.11 - - [14/Mar/2015:08:39:44 +0100] "DELETE /remote.php/webdav/Documents/MyDocument.rtf HTTP/1.1" 500 529
    192.168.2.11 - - [14/Ma

[2015-03-14 13:25] LukasReschke commented on #14866
@karlitschek I meant the ` <url>http://download.owncloud.org/community/owncloud-8.0.2.zip</url>` in https://apps.owncloud.com/updater.php?version=6x0x2x0x1399658401.0121x1405698422xstablexx2014-06-24T15:11:49+00:00 ;)

[2015-03-14 13:28] RealRancor commented on #14894
Hi,

not quite sure if this is related but where are the ""app":"lock"" messages are coming from? Is this a custom app? Have you tried to disable it?

[2015-03-14 13:35] CptLeeChuck commented on #14894
Wow I already invested 2 evening in troubleshooting without success.
Based on your hint I disabled the App "File Locking" which is enabled by default.
No more 500 with PUT / DELETE. Thanks so much

[2015-03-14 13:35] #14894 closed

[2015-03-14 13:36] RealRancor commented on #14894
Hi,

sure that this is enabled by default? The "File locking" app has its bugtracker located here:

https://github.com/owncloud/files_locking/issues

You could report this there using the issue template provided here:

https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

[2015-03-14 14:56] shoeper commented on #14850
The webui should then probably query another api to determine if there is a new version.

[2015-03-14 15:30] RealRancor commented on #14252
Issue could be closed. The add user command was added in https://github.com/owncloud/core/pull/14794 and the update command was requested in the updater repo.

[2015-03-14 16:45] AustriaXL opened #14895 "OS X 10.10.2"
Hello,
since the last update, Safari is blank when I try to open owncloud in the browser via the menubar icon.
Therefore I have no access to my settings............
http://i.imgur.com/mhhFDci.jpeg
Regards,
Thomas

[2015-03-14 16:53] RealRancor commented on #14895
Hi,

please fill out the issue template provided here:

https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

as requested in the "guidelines for contributing" (linked in the yellow box when creating a new issue).

Especially the note about log entries (owncloud.log) are important which could show the reasons of this white page (very likely an internal server error).

[2015-03-14 17:02] AustriaXL commented on #14895
I will deinstall own cloud from my devices instead filling forms....

[2015-03-14 17:13] #14895 closed

[2015-03-14 18:12] Xenopathic commented on #14252
@RealRancor: indeed, this can now be closed :smile:

[2015-03-14 18:12] #14252 closed

[2015-03-14 18:28] CptLeeChuck commented on #14894
Hi,

just reinstalled OwnCloud from scratch for productive use. And yes "File locking" is enabled by default.

[2015-03-14 19:13] jsalatiel opened #14896 "owncloud 8 sort by name broken"
Since i updated to owncloud 8, i noticed that 'sort by name' is not working correctly
![screenshot from 2015-03-14 16 12 22](https://cloud.githubusercontent.com/assets/5522389/6653138/efc2584e-ca64-11e4-924e-871c2c559b53.png)

Take a look in the screenshot.

[2015-03-14 20:14] karlitschek commented on #14896
@PVince81 What do you think?

[2015-03-14 20:17] jsalatiel commented on #14896
Sorry  karlitschek , but i dont know what you mean.
Unless i am wrong the correct order should be:
AULA.00
AULA.00
AULA.00
AULA.00
AULA.00

[2015-03-14 20:48] karlitschek commented on #14881
The drawback with this solution is that we then have two ways to do the same thing which needs to be maintained, tested understood by the developers and longterm supported. Not sure if this is worth the benefit.

[2015-03-14 20:50] karlitschek commented on #14840
@LukasReschke Any idea why the cert is considered invalid?

[2015-03-14 21:14] andreyoit opened #14897 "Owncloud on lighttpd"
Hi, i've tried to install owncloud 8.0 on localhost first, in wamp server have some issues with windows permissions, so i've tried to install in my openwrt board, using lighttpd and php5 environment,

the problem is that when i load the index.php file i got these error:

Notice: date_default_timezone_set(): Timezone ID 'UTC' is invalid in /mnt/sda1/www/lib/base.php on line 497

Fatal error: Call t

[2015-03-14 21:42] RealRancor commented on #14897
Hi,

which PHP Version is your openwrt running? To me it seems the mandatory hash() is missing which should be shipped in PHP by default:

http://php.net/manual/en/hash.requirements.php

Could be possible that openwrt has disabled this.

[2015-03-14 21:43] RealRancor commented on #14894
Ah, good to know. Wasn't aware that this is enabled by default.

Then i think you really should report an issue like described above.

[2015-03-14 21:45] andreyoit commented on #14897
I'm using PHP 5.5.6, in php.ini file is set UTC default timezone, hash is set '--enable-hash=shared'

[2015-03-14 21:52] RealRancor commented on #14897
--enable-hash=shared is building the hash function as a module so it could be possible that it is disabled. Please check that a phpinfo file uploaded to your webroot contains a "hash support" field with an "enabled" option and also a "date.timezone" field with an Europe/Rome option.

[2015-03-14 21:58] andreyoit commented on #14897
date/time support 	enabled
"Olson" Timezone Database Version 	0.system
Timezone Database 	internal
Default timezone 	UTC

I can't find hash support in my phpinfo()

[2015-03-14 22:02] Pantos commented on #14873
I get the same errors using OC 8.0.2 with desktop client 1.8.0beta2 on Windows 8.1. My log is flooded every 2-5 seconds with this error:
`{"reqId":"9524a992ab94ab3841599a39107251dd","remoteAddr":"YXZ","app":"files_external","message":"Error: (401) Unauthorized\n","level":3,"time":"2015-03-14T21:56:07+00:00"}`

[2015-03-14 22:15] RealRancor commented on #14897
Then this explains why you're getting this error and you need to find a way to enable this module. Please use either the forum, the user mailinglist or your favorite search engine.

[2015-03-14 22:24] andreyoit commented on #14897
that work, i needed to install php5-mod-hash, php5-mod-pdo, php5-mod-json that was missing from my system.

now i get

Fatal error: Call to undefined function OC\Session\session_name() in /mnt/sda1/www/lib/private/session/internal.php on line 20

and even the UTC error again

[2015-03-14 22:27] andreyoit commented on #14897
Ok, my mistake, i've installed php5-mod-session and now i see the installation page asking me to install some additional modules.

i think is all, now i will try to install these modules and if i get some other errors i will ask for.

thanks a lot!

[2015-03-14 22:28] Raydiation commented on #14881
So does the initially proposed solution unless you want to break backwards compatibility ofc. But we should first focus on a real world benchmark to check if this is actually a performance problem. There are probably things that matter more.

[2015-03-14 22:33] andreyoit commented on #14897
The setting of the localization en_US.UTF-8/fr_FR.UTF-8/es_ES.UTF-8/de_DE.UTF-8/ru_RU.UTF-8/pt_BR.UTF-8/it_IT.UTF-8/ja_JP.UTF-8/zh_CN.UTF-8 failed

Install one of the following locations on your system and restart the web server.

[2015-03-14 22:41] Xsysstar commented on #14187
A week of a working ownCloud is better than half a day, but I encountered another 502 Bad Gateway-error just now. And, conform expectation, php5-fpm was dead.
[code]
I just "started" (instead of restarted) php5-fpm but that does *not* solve the problem, by the way. I have to restart php5-fpm *after just starting it* for nginx to kiss php5-fpm again.

My hypothesis of locked resources could permit

[2015-03-14 22:49] RealRancor commented on #14897
Please note this is an issue tracker for ownCloud where bugs should be reported. The UTC as well as the last posted messages are configuration problems where you should follow my advice here:

https://github.com/owncloud/core/issues/14897#issuecomment-80742726

[2015-03-15 01:05] Xenopathic commented on #8224
As this isn't a significant enhancement, or even really a technical debt, I'm closing this. Correct me if this is important to track

[2015-03-15 01:05] #8224 closed

[2015-03-15 01:12] Xenopathic commented on #6754
Triaged.

[2015-03-15 01:12] #6754 closed

[2015-03-15 01:19] McPeterBlinckers commented on #14363
Sorry for my english.. but i don't understand why owncloud don't check php version _BEFORE_ install new version ?!! by default when owncloud say me upgrade version i launch it ... now my server in product is broken :(
I thinck owncloud must check if upgrade is available in product and that before inwtall it :\

[2015-03-15 05:25] cyking commented on #14187
I've never had apc enabled on my owncloud hosts.  The only solution for me was to upgrade php via PPA.

[2015-03-15 05:45] txducker commented on #14386
Thanks mmattel. Fixed my owncloud 8.02 problem on Ubuntu 14.04.2.

[2015-03-15 07:21] VicDeo commented on #8224
np, will reopen as soon as new bugs are risen against the apps I maintain. ;)

[2015-03-15 07:26] VicDeo commented on #8224
It is fixed for OC\Files\Node\Node in stable8/master btw

[2015-03-15 07:43] VicDeo commented on #14840
@karlitschek hosts set up too long ago may have no GoDaddy root cert

[2015-03-15 09:53] jnweiger commented on #14850
Then the webui would also need to know the difference between a tar-ball installation and a deb/rpm installation.

Anyway, your package manager should tell you when there is an update available.

[2015-03-15 10:01] deMattin commented on #14850
I think it's usefull to get the information even though you update from repo.
For both installation variants you might have reasons to wait with the update and so the message should appear but hide itself after some seconds to not disturb usage of this account.

[2015-03-15 10:11] VincentSC commented on #14152
Just fixed it here. I had a configuration-mistake: the location of the app-directory was wrong. OC7 just fell back to the default, whereas OC8 did not. My suggestion for 8.0.3: give an error when there is a config-error like an nonexisting directory.

[2015-03-15 10:41] Cysioland commented on #10400
:+1:

[2015-03-15 10:42] Cysioland commented on #12102
:+1:

[2015-03-15 10:50] RealRancor commented on #14836
The same is valid for the files_encryption app. There:

[code]

even if the app is not enabled.

[2015-03-15 11:54] Xsysstar commented on #14187
I suppose I will upgrade to PHP 5.6 as well (with APC enabled). I'll report back if the problem persists.

[2015-03-15 13:35] kaasdude commented on #14852
I'm not happy with the upgrade procedure.
I know it's all open source and stuff, but users just want to push "upgrade", right?
I thought Calendar and Contacts are like core features?

In my opinion upgrade systems need to have dependency checks, and warn the admin, before / or even block the upgrade process.

I'm now stuck with the white page and the error beneath, having a ball.

[code]

[2015-03-15 13:38] RealRancor commented on #14852
@kaasdude
calendar and contacts apps are not core apps anymore for the reasons posted here:

http://owncloud.10557.n7.nabble.com/ownCloud-8-alpha-1-td13757.html

Disable all 3rdparty apps as described here: https://forum.owncloud.org/viewtopic.php?f=31&t=26310 and you should get a working installation again.

[2015-03-15 14:06] shoeper commented on #14850
@jnweiger the package manager is not the problem. The problem is the message in the web ui.

Furthermore upgrading via package manager is the recommended way but updates come out a week later.

Especially because this was in the announcement email.

It does not make sense to announce security fixes on the one hand and updating repositorys a week later on the other hand.

[2015-03-15 14:07] kaasdude commented on #14852
@RealRancor ,
This was the fasted reply ever, thank you very much!

I was very worried the db could be corrupted or something, by this upgrade, but seems everything works again.
1. Disabled the apps with: sudo -u [file owner] php occ app:disable calendar and sudo -u [file owner] php occ app:disable contacts
2. Refreshed the ownCloud web page, and there it was again, pfew!
3. I renamed the calendar

[2015-03-15 14:20] RealRancor commented on #14852
@kaasdude
The main problem here was, that 3rdparty modules where not disabled in OC 8.0.0. This is now done in OC 8.0.2 but only for non-core apps. As calendar and contacts where core-apps in OC7 they are currently not disabled but a fix to disable them also is at work: https://github.com/owncloud/core/pull/14862

[2015-03-15 14:22] RealRancor commented on #14363
@McPeterBlinckers
How did you upgrade (there are several ways of doing so) and where do you want to have such a check?

1. If manual/via the package manager report a new issue here: https://github.com/owncloud/core/issues
2. If via the updater app report a new issue here: https://github.com/owncloud/updater/issues

[2015-03-15 14:23] RealRancor commented on #14850
If you're using your package manager just disable the update check:

https://github.com/owncloud/core/blob/v8.0.2/config/config.sample.php#L428-L432

as you're getting the update via the package manager. That was something Debian had done with their own packages.

[2015-03-15 14:31] deMattin commented on #14850
But then we get no infos and checks any more.
As I mentioned above, the information is or ca can be also relevant for user of repositories.
Only a message timeout (per session) should be implemented.

[2015-03-15 14:57] RealRancor commented on #14850
@deMattin
It you think this should be implemented then i think you should create a new issue / feature request for this. Thats nothing what should be discussed in an issue about missing packages in a repo. :-)

[2015-03-15 15:04] karlitschek commented on #14850
Well I think the best option is to provide the packages again at the same time as the tar/zip releases. We have to make this happen again.

[2015-03-15 15:22] karlitschek commented on #14840
@VicDeo What do you mean? The used OS might not have the godaddy root cert? This must be very very old
@LukasReschke What do you think?

[2015-03-15 15:53] karlitschek commented on #14881
@Raydiation I agree. Somehow I doubt that this calls have a real world performance impact. I think there are WAY bigger things to improve. Hint: Just do some php profiling and SQL logging while doing different webdav calls.

[2015-03-15 15:54] karlitschek commented on #14873
@Pantos Sounds like you have an external storage configured but authentication fails? Can you check this please?

[2015-03-15 15:59] karlitschek commented on #14885
@benhartwich How have you updated ownCloud? Manually with the zip files, via rpms, or via the updater?

[2015-03-15 16:00] karlitschek commented on #14876
@DeepDiver1975 @icewind1991 What is the status with this? Thanks

[2015-03-15 16:00] benhartwich commented on #14885
Via the Updater.

Am 15.03.2015 um 16:59 schrieb Frank Karlitschek:

[2015-03-15 16:04] nickvergessen commented on #14881
Hint I was profiling the ajax calls from activity, and 80% of the time spend is "load apps", because of adding css/js, registering navigation, registering background jobs (1sql on each call, instead of doing it once after install), etc.
But okay was just an idea to reduce app.php which is called for each app on each page although they dont do anything...

[2015-03-15 16:07] karlitschek commented on #14885
@VicDeo Doesn´t the updater delete/remove the apps? Like Contacts in this case?

[2015-03-15 16:08] RealRancor commented on #14885
@benhartwich
Did you got this to work with the suggestions above?

If the calendar and contacts apps are the problematic ones then this should be fixed with https://github.com/owncloud/core/pull/14862

[2015-03-15 16:09] benhartwich commented on #14885
Yes, the deactivation worked for accessing the web interface again. I´ve uploaded the new version of these apps and enabled it, but it seems that the version 8 is not recognized.

[2015-03-15 16:09] karlitschek commented on #14881
@nickvergessen Ahh ok. :-)  I´m not super sure if this ajax call are the most critical parts of ownCloud. :-)
I think we should focus on webdav performance. (which might actually be impacted by activity because we store one event every time)

[2015-03-15 16:13] VicDeo commented on #14885
@karlitschek no, the flow is changed in OC7.
It's up to core now to decide what apps are compatible.

[2015-03-15 16:19] dttpy opened #14900 "files downloaded as ZIP has only read-only permission"
### Steps to reproduce
1. create a folder "test"
2. upload serval files in "test" folder
3. choose some of these files or all files, or go back to root and choose folder "test"
4. download the chosen files/folder
5. find the downloaded zip file "test" in local computer
6. extract "test"

### Expected behaviour
All extracted files have "read & write" permission, as if they were downloaded one by on

[2015-03-15 17:34] Pantos commented on #14873
I configured Dropbox and it works fine over the OC webinterface. So I think the authentications works correct? The error occurs by using the desktop client only. If I disable the OC desktop client I don't get an error. Hope I understand your question in the right way...

[2015-03-15 17:45] Raydiation commented on #14881
@nickvergessen do you have some data? About what you consider loading apps. Because basically this could all be done with a single Sql statement regardless of how many apps you've got installed that gets app meta info and only executes the things that are really needed. Stuff that could be stored in the db are:
* jobs
* css
* js
* background jobs
* hooks
* navigation
* admin pages

[2015-03-15 17:51] illusive-c opened #14901 "FastCGI error (connectionfactory.php)"
Platform: Rpi 2
OS:Raspian(Wheezy)
Web Server: Nginx with PhP5, PhP-5-FPM
OwnCloud Version: 8.0.2- Default addons
Database: MYSQL(used to be sqlite. Migrated using occ)

Probem: Nginx log file is filled with this message:

2015/03/15 19:15:18 [error] 2419#0: *2996 FastCGI sent in stderr: "PHP message: PHP Fatal error:  Class 'Doctrine\DBAL\Event\Listeners\MysqlSessionInit' not found in /var/www/ow

[2015-03-15 18:14] Xenopathic commented on #14901
Please check if you have anything in `3rdparty`, in particular `3rdparty/doctrine/dbal/lib/Doctrine/DBAL/Event/Listeners/MysqlSessionInit.php`.

[2015-03-15 18:18] illusive-c commented on #14901
https://dl.dropboxusercontent.com/u/24552419/MysqlSessionInit.php

[2015-03-15 18:46] oligschlager commented on #14769
Did you solve this problem ? got the same error on owncloud 8 on Windows 2012 server.
Can upload file trough webinterface, but when i use the Windows destop client i got the error:
"Error downloading https://...../remote.php/webdav/Documents/nieuw.docx - server replied: Internal Server Error (Could not rename part file to final file)"
And it leaves a conflict file on the server.

[2015-03-15 19:20] #8447 closed

[2015-03-15 19:56] armaccloud opened #14905 "Update 8.0 -> 8.0.2 fails due to lack of web server write access"
Hi,

I am experiencing the following issue. Is there a way to set these rights accordingly?
Cheers

### Steps to reproduce
1. Open the update center from the admin overview
2. Click Update

### Expected behaviour
The updater should install the new version of ownCloud (8.02) over the current version (8.0)

### Actual behaviour
The updater shows the following error message:
"Make sure that your web

[2015-03-15 20:18] netexsystems commented on #14769
I also have the same problem running ownCloud 8 on Centos 7, Apache v2.4.6, PHP v5.4.16, Maria DB v5.5.41 and the Windows client v1.7.1, build 4382.

[2015-03-15 21:13] andre-dierker opened #14906 "Still not able to enable any apps in 8.0.2"
Hey,

after upgrade from 7.0.4 to 8.0.2 I'm still not able to enable any apps.
![selection_004](https://cloud.githubusercontent.com/assets/6938843/6658135/4699c3c2-cb60-11e4-8a8a-de71d8695818.png)

see too:
https://github.com/owncloud/core/issues/14185

[2015-03-15 21:39] taurhine opened #14908 "Renaming a shared folder back to its previous name removes the folder"
Running ownCloud 8.0.2 stable with windows client 1.7.1

Steps to reproduce the problem:
- In my case I've had a folder named Fotos which was shared with 5 users.
- I've renamed the folder to Cloud_Fotos  (via windows explorer, not via web interface) which didn't change the folder name for the users.
- After a while I've renamed the shared folder back to it's previous name "Fotos" (again via windo

[2015-03-15 21:52] karlitschek commented on #14908
@schiesbn can you have a look?

[2015-03-15 21:54] karlitschek commented on #14906
hmm. this is the same issue as you reported already, right? Or do i miss something?
Closing as duplicate.

[2015-03-15 21:54] #14906 closed

[2015-03-15 21:55] karlitschek commented on #14185
do you test again with 8.0.2 and if not post the error message in the logfile? thanks

[2015-03-15 21:56] oparoz commented on #14006
On 8.0.2
Updated an app version
oC redirects me to the update page
I click on update
Same exception message as the OP, same engine, same charset.
Database: MariaDB 10

[2015-03-15 21:57] karlitschek commented on #14905
hmm. I think the problem is exactly as reported. The permissions are not correct so that ownCloud can update itself. Have you tried to fix this and try again?

[2015-03-15 21:57] #14905 closed

[2015-03-15 21:59] karlitschek commented on #14873
@icewind1991 any idea where this error comes from? and why does this only happen during syncing?

[2015-03-15 22:00] karlitschek commented on #14885
@VicDeo Hmm. Not sure this is the best behavior for 7 and 8.0
What do you think @PVince81 ?

[2015-03-15 22:45] SpaceIntruder opened #14909 ""Duplicate headers received from server" error"
### Steps to reproduce
1. Upload a mp3 File via Client/Frontend
2. Download mp3 File via Webfrontend

### Expected behaviour
get the download of the mp3 File

### Actual behaviour
Chrome: Click on the file and get Duplicate headers received from server
Firefox: Click on the file and get a Error: Corrupt content
Internet Explorer: download starts and seems to never stop. The test file is about 3 Mb

[2015-03-15 22:54] dschmidthawk commented on #14842
There is nothing on my site that let's me get to the apps section to remove the calendar and contacts. As stated previously, I'm on shared hosting and cannot stop the server or other administrative functions.
So I have to do a fresh install? Can I save my data and config folders and transfer them back in so I don't have to do an entire new sync? Are there instructions somewhere? Thanks.

[2015-03-15 22:55] tomyalmaarif commented on #9832
I have trouble too, with owncloud 7.0.5

Error log
[code]

If you do, change your log to everything

[2015-03-15 22:58] karlitschek commented on #14909
@DeepDiver1975 any idea?

[2015-03-15 23:01] karlitschek commented on #14866
ahh. got it. I will do this.

[2015-03-15 23:03] karlitschek commented on #14890
@jancborchardt any idea?

[2015-03-16 06:45] andre-dierker commented on #14185
I tested again with 8.0.2
same issue

{"reqId":"1257e2a784920af0b1627f86298efef4","remoteAddr":"","app":"PHP","message":"Only variables should be passed by reference at \/var\/www\/oc\/lib\/private\/cache\/fileglobalgc.php#50","level":3,"time":"2015-03-16T06:45:01+00:00"}

[2015-03-16 07:30] lyallp opened #14910 "External Files - DropBox - Updated file, modified date not updated"
## Steps to reproduce

* Have Dropbox setup as external storage
* Have a file loaded previously, visible
* Upload a new copy of the same file, overwriting
* After successful upload, modified date/time does not change, have to go back to Files and drill back into External Storage

## Expected behaviour

After update, the modified date/time should update, as it does with 'internal' storage, ie, 'sec

[2015-03-16 07:37] illusive-c commented on #14901
I installed OC 8.0 with Sqlite. Then updated(automated update) to 8.0.2 and migrated to MYSQL. Btw, I might have found the root of the problem.

From what I've gathered, MYSQL server goes to "sleep state" when left inactive for a period of time. When I log into OC, it tries to connect to MYSQL and since it takes some time for Mysql to fully "wake up" I'm seeing those errors in the log. That might

[2015-03-16 07:46] Spacefish commented on #14901
Please take a gold look at the availible memory on your Server with free -m . MySQL might get swapped out to the disk and take to long to restore!

[2015-03-16 08:21] cdamken commented on #14464
@hodyroff

That is because the package from oC7.0.3. This is something different

[2015-03-16 08:30] mmattel commented on #14347
Any news?

[2015-03-16 08:42] feschi55 opened #14911 "SQLSTATE[HY000]: General error: 5 cannot rollback transaction - SQL statements in progress"
and now?

[2015-03-16 08:53] Xsysstar commented on #14187
No. PHP 5.6 in combination with APC yields 504 Gateway Timeouts. I'll try PHP 5.6 without APC.

[2015-03-16 08:58] Zotzi commented on #14911
Gleicher Fehler - same error, need help...

Aktualisiere ownCloud auf Version 8.0.2. Dies könnte eine Weile dauern.
Wartungsmodus eingeschaltet
Datenbank-Schemenaktualisierung geprüft
Datenbank-Schemenaktualisierung für Apps geprüft
Datenbank aktualisiert
SQLSTATE[HY000]: General error: 5 cannot rollback transaction - SQL statements in progress

[2015-03-16 09:00] DeepDiver1975 commented on #14629
#14776 was merged now - remaining tasks are up to the notes app - owncloud/notes#96

[2015-03-16 09:00] #14629 closed

[2015-03-16 09:02] nickvergessen commented on #14881
We load all the stuff there aswell and that is exactly the stuff that causes us to be slow. There is no need to execute all that code from many apps, unless we really need that. Yes there might be bigger breaks then navigation, css/js, jobs, ... but they are the most obvious once and should be easy to fix

[2015-03-16 09:12] PVince81 commented on #12725
For SQLite "Database is locked" issues, go to: https://github.com/owncloud/core/issues/10566

[2015-03-16 09:15] PVince81 commented on #14896
Indeed, something is wrong in the server side sort (client side sort is fine, it is triggered when creating the folders manually)

I could reproduce this on 8.0.2.

[2015-03-16 09:18] DeepDiver1975 commented on #14881
Well - this is the basic reasoning behind having all these register methods on the manager classes using closures - any object will be lazy initialized when needed.

see https://github.com/owncloud/core/blob/master/lib/public/contacts/imanager.php#L144

[2015-03-16 09:19] DeepDiver1975 commented on #14881
On webdav we 'only' load apps of type filesystem - but we still for sure execute code which is never needed in the scope of webdav - e.g. js and css

[2015-03-16 09:20] DeepDiver1975 commented on #14881
this is handled in https://github.com/owncloud/core/issues/14666

[2015-03-16 09:21] nickvergessen commented on #14881
I know, that's why I wanted to do that for navigation aswell, but the "straight forward" discussion escalated a bit :see_no_evil:

[2015-03-16 09:23] DeepDiver1975 commented on #14881
I'm all in for this approach - THX

[2015-03-16 09:28] PVince81 commented on #14885
For the manual update we said that apps need to be deleted by the admin, so the updater app should probably use the same technique for that and delete these apps.

But I am wondering why an upgrade over the updater would have an exception in calendar/contacts. As far as I understood the updater app just deletes the source code, then extracts the new one, then redirects to the "update" page. Then w

[2015-03-16 09:29] Norahy opened #14912 "Change Password in IE9: no entry sets password to "new password""
Info: Tried it with Internet Explorer 9, Firefox and Chrome, only seems to happen in IE.

If you want to change the password on the "personal" site, you can leave the input field for the new password emtpy. If you do so, your password is set to "New password" (or whatever "new password" is in any other language).

As well it would be great to have to confirm the new pw by typing it two times to en

[2015-03-16 09:29] DeepDiver1975 commented on #14666
hmmm - generally speaking I'd love to keep external interfaces/classes out of our public api.
Reasoning - just in case we are ever forced to update symfony's eventdispatcher (because it's a dependency to many other components we (will) use) this might break our api.

On the other hand - will symfony's event dispatch ever change that radical?

Well - creating a tiny wrapper will no damage that much

[2015-03-16 09:41] PVince81 commented on #14884
Duplicate of https://github.com/owncloud/core/issues/10158

[2015-03-16 09:41] #14884 closed

[2015-03-16 09:43] PVince81 commented on #14893
From reading https://github.com/owncloud/core/issues/12023 it seems it has worked before.

[2015-03-16 09:43] ollyphobie commented on #14911
Ich auch - Me too

- SQLSTATE[HY000]: General error: 5 cannot rollback transaction - SQL statements in progress

[2015-03-16 09:44] PVince81 commented on #14900
@karlitschek I think this is a bug (probably an oversight) from when we switched to ZipStreamer.

[2015-03-16 09:48] PVince81 commented on #14908
@taurhine when you renamed the folder back, was the sync client still running ? Maybe the sync process wasn't finished with your first rename ?

[2015-03-16 09:48] arkascha commented on #11809
I really hesitate to reopen this ticket, but:
Checked again in OC-8.0.2 and now it appears that there are no third party apps at all offered in owncloud any more. Not at all. None. Only bundled apps are offered and visible for me.

[2015-03-16 09:49] RealRancor commented on #14885
@PVince81
The steps the updater is doing is described in its readme:
https://github.com/owncloud/updater/blob/master/README.md

From what i have read it moves all apps back which could explain this.

[2015-03-16 09:49] PVince81 commented on #14910
@lyallp can you clarify "Upload a new copy" ? Are you uploading that copy through ownCloud or directly to Dropbox (with the Dropbox client) ?

[2015-03-16 09:50] PVince81 commented on #14911
Please use the issue template: https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

[2015-03-16 09:52] flasheater commented on #14893
It may be a regression. I have tested creating a bucket in Ireland, which works.

I will experiment with the "Region" setting, also as soon as 8.0.2 is available through the build service, I will try again.

On 16 March 2015 10:43:41 CET, Vincent Petry <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-03-16 09:52] RealRancor commented on #11809
Are you getting contacts, calendar and search_lucene?

[2015-03-16 09:54] PVince81 commented on #14912
I think this was discussion before but cannot find the old ticket.

@owncloud/designers

[2015-03-16 09:54] lyallp commented on #14910
Both original and 'new' copy of the file were uploaded using the OwnCloud UI.
No interaction with via DropBox except through OwnCloud.
I suggest uploading a file, then completely exiting OwnCloud and then re-upload a short time later, just to ensure no 'carry over' between transactions.
I noticed it with a couple of days separation.

[2015-03-16 09:57] ollyphobie commented on #14911
?? didn't understand what i should do with this?
Verstehe nicht?

[2015-03-16 09:59] MorrisJobke commented on #14912
-.- I fixed this for other inputs (the search in the user management)

@jancborchardt Isn't there a proper alternative for those placeholders?

@karlitschek Any rought ETA about end of support for IE8? And when will IE9 end?

[2015-03-16 10:05] MorrisJobke commented on #14912
That's why we have the "eye icon". Click on it to verify. We discussed this a lot (regarding the move to two inputs) and the we decided for this way.

[2015-03-16 10:05] arkascha commented on #11809
@RealRancor Indeed, those are offered. So maybe only "recommended" apps are offered now?
I have no idea, frankly. This is all the exact contrary of transparency...

[2015-03-16 10:12] MorrisJobke commented on #14912
I will provide a fix later today

[2015-03-16 10:15] RealRancor commented on #11809
Those are apps pulled from the appstore, so this works. On my instance i'm also getting the imprint app shown.

[2015-03-16 10:18] R1tschY commented on #14840
I used `CURLOPT_MUTE`=`false`, `CURLOPT_VERBOSE` and `CURLOPT_STDERR` to debug further. URL line is added before every request. Following listing is generated when activating Documents app.
[code]

[2015-03-16 10:22] arkascha commented on #11809
imprint is interesting. So it is not even only "recommendeed" apps.
So it looks like this issue here has NOT been fixed.

[2015-03-16 10:29] ollyphobie commented on #14911
Sorry! I don't know what i should do with this???? No plan how open an *.md file.
I still wanted to update from 7 to 8 automaticly in your update center. And suddenly this.

Aktualisiere ownCloud auf Version 8.0.2. Dies könnte eine Weile dauern.
Wartungsmodus eingeschaltet
Datenbank-Schemenaktualisierung geprüft
Datenbank-Schemenaktualisierung für Apps geprüft
Datenbank aktualisiert
SQLSTATE[HY000

[2015-03-16 10:52] #14457 closed

[2015-03-16 11:00] DeepDiver1975 opened #14915 "sabre-dav-2.1.3"
http://sabre.io/blog/2015/sabre-dav-2.1.3-released/

[2015-03-16 11:02] dolphinict opened #14916 "Failed update to 8.0.2"
Hi Folks,

I have 8.0.2 on my owncloud install, upgrading from 8.0. When I go to the web interface to do the database upgrade it errors saying:

"An exception occurred while executing 'CREATE TABLE oc_ownc_appconfig_rj2l56no8qhw6 (`appid` VARCHAR(32) DEFAULT '' NOT NULL, `configkey` VARCHAR(64) DEFAULT '' NOT NULL, `configvalue` LONGTEXT DEFAULT NULL, INDEX oc_wdpw5tnh1wdyr (`configkey`), INDEX oc

[2015-03-16 11:10] rullzer commented on #14450
I just checked and this does not happen on master.

[2015-03-16 11:11] DeepDiver1975 commented on #14681
closing this - backport has been merged: https://github.com/owncloud/core/pull/14686

[2015-03-16 11:11] #14681 closed

[2015-03-16 11:14] PVince81 commented on #14911
Just open this file in your web browser: https://raw.githubusercontent.com/owncloud/core/master/issue_template.md
Copy paste the text into a github comment and fill in the fields.
(die Datei einfach im Web-Browser öffnen, den Inhalt kopieren und in einen Github-Kommentar einfügen, dann die Felder ausfüllen)

Since you are three people having the issue, if at least two of you would provide the info

[2015-03-16 11:16] rullzer commented on #12712
I ran into a similar situation with the avatars. I'll prepare a PR that fixes this.

[2015-03-16 11:22] #14036 closed

[2015-03-16 12:09] armaccloud commented on #14905
That's correct, the question I'm asking is what steps to take in order to have the correct permissions set for ownCloud. I haven't changed any permissions, so my guess is that the upgrade from 7 to 8 has done something. Is there a way to fix this via the interface? Or occ? Or a specific command?

[2015-03-16 12:11] karlitschek commented on #14900
@pvince81 agreed. can you help with that?

[2015-03-16 12:13] nickvergessen commented on #14916
Please use the issue template:
https://github.com/owncloud/core/blob/master/CONTRIBUTING.md#tldr

Especially server and database versions as well as the logs are important

[2015-03-16 12:14] MorrisJobke commented on #14912
Fix is in #14918

[2015-03-16 12:16] MorrisJobke commented on #14036
stable8 #14917

[2015-03-16 12:21] nickvergessen commented on #14896
Related to https://github.com/owncloud/core/pull/14213 ?

[2015-03-16 12:28] ollyphobie commented on #14911
### Steps to reproduce
1.
2.
3.

### Expected behaviour
try to update over update center from V.7.0.4.2 to V8.0.2

### Actual behaviour
Aktualisiere ownCloud auf Version 8.0.2. Dies könnte eine Weile dauern.
Wartungsmodus eingeschaltet
Datenbank-Schemenaktualisierung geprüft
Datenbank-Schemenaktualisierung für Apps geprüft
Datenbank aktualisiert
SQLSTATE[HY000]: General error: 5 cannot rollback tr

[2015-03-16 12:47] dolphinict commented on #14916
I can see a couple of things. The updater thinks it is upgrading from 7.0.4.2 when I was already on 8.0 which might be causing it to try and recreate things.

The first error looks to be relating to loading the list of apps, so it is possible that an app is causing this but I can't get into owncloud to do anything about that.

### Steps to reproduce
1. Visit owncloud URL and receive "ownCloud will

[2015-03-16 12:58] DeepDiver1975 commented on #14916
This issue has been reported multiple times already - time for us to finally have a look.

[2015-03-16 13:05] PVince81 commented on #14900
Yes probably, but already quite busy with other stuff, so setting to 8.2.

[2015-03-16 13:06] dolphinict commented on #14916
Let me know if I can pull any more info for you or run any tests to help out.

[2015-03-16 13:08] silk commented on #10798
I had the same error, when trying to update from 6.0.4.1 from owncloud packages to 7.0.4+dfsg-2 from debian repository.
I switched and used https://download.owncloud.org/community/owncloud-7.0.5.tar.bz2 - now the update finished without problems.

[2015-03-16 13:27] karlitschek commented on #14916
@DeepDiver1975 agreed. who can help with that?

[2015-03-16 13:55] usrbin123 opened #14921 "OC 8.0.2 - User count gives wrong number / adds up all group members"
### Steps to reproduce
1. Have multiple user groups and users, which are in more than one group.
2. Log in into ownCloud with non-admin-account, enter user panel

### Expected behaviour
OwnCloud should count all users in the tab "Everyone" correctly, for example with 20, if there are 20 users in the owncloud installation.
The user count in the group tabs should be correct as well.

### Actual beha

[2015-03-16 13:59] jayenne01 commented on #11270
I'm confirming this for 7.0.4. on 32bit Debian GNU/Linux 7.8 (wheezy).
Installation was done through buildservice:
http://download.opensuse.org/repositories/isv:/ownCloud:/community/Debian_7.0/
offered using libapache2-mod-php 5.4.36-0+deb7u3

Filesize is correctly show in the web interface. Starting a download via Browser (firefox on windows) offers a file with 2GB for saving.

[2015-03-16 14:03] karlitschek commented on #14921
@MorrisJobke @LukasReschke @blizzz

[2015-03-16 14:05] rullzer commented on #14890
This seems to be related to #14891

[2015-03-16 14:14] bantu commented on #11270
This would indicate an incorrect Content-Length header.

[2015-03-16 14:14] Raydiation commented on #14881
As discussed on IRC: :+1: to get this in, adding an additional way to do this using configuration in the info.xml can be added later on.

[2015-03-16 14:16] tapete commented on #12605
I encountered the same problem with 7.0.3 and 8.0.2.
"Its happend when users refresh the browser while rename process is running."
Same for me but it can also happen without refresh.

[2015-03-16 14:35] Tedster commented on #12605
Is this still outstanding in the 7.0.4 stable release? I have exactly this scenario after renaming a folder. The new folder doesn't exists and the old folder is empty. This shows in the web GUI and also on webdav. And if I synch down the folders aren't there. I am using a hosting company for this so don't have access to the machine. How do I ask them to run the script [php occ files:scan [--all/et

[2015-03-16 14:38] jayenne01 commented on #11270
Could this be related to http://nl.php.net/manual/en/function.filesize.php ?

[2015-03-16 14:51] MorrisJobke commented on #12998
* [ ] User count gives wrong number / adds up all group members #14921

[2015-03-16 15:05] icewind1991 commented on #14916
The problem seems to come down to dbal generating the wrong diff because it somehow doesn't find our newly created table when listing the existing tables.

No idea how to further debug that or fix it without being able to reproduce it locally

[2015-03-16 15:26] dolphinict commented on #14916
I can make modifications to the code for testing or do anything necessary to assist. I'd not a full PHP dev but have used it a fair bit for projects from time to time. Just let me know what you need.

[2015-03-16 15:33] DeepDiver1975 commented on #8109
fixed with https://github.com/owncloud/core/pull/14644

[2015-03-16 15:33] #8109 closed

[2015-03-16 15:34] #13974 closed

[2015-03-16 15:35] DeepDiver1975 commented on #13974
should be fixed for 8.1

[2015-03-16 15:37] DeepDiver1975 commented on #14888
@DavidPrevot so basically we would require to add all the coffeescript files to respect open source principles. Somewhat crazy from our perspective. Any idea on how to solve this? THX

[2015-03-16 15:41] PVince81 commented on #13974
"Make trashbin expiration faster for OC < 8.1" (backport) still needs to be reviewed: https://github.com/owncloud/core/pull/14926

[2015-03-16 15:41] DeepDiver1975 commented on #14528
@tps800 these folders which are not synced are folders which are shared with the user in question? In this case this would be a duplicate of https://github.com/owncloud/core/issues/14726

[2015-03-16 15:49] milprog opened #14930 "OC 8.0.0 Favorites not working properly with php-fpm 5.5.22 on CentOS 6 w/apache 2.4.6"
### Steps to reproduce
1. use mod_php 5.4.38 and apache 2.2.15 to create a favorite -> works OK
2. Switch server to php-fpm using apache 2.4.6 and php-fpm 5.5.22 from scl and remi repos
3. Create a favorite using php-fpm again

### Expected behaviour
favorite is being created, highlighted on shares page and then appears on favorite page when switching to it

### Actual behaviour
favorite marker (s

[2015-03-16 15:51] icewind1991 commented on #14347
Can you run the unit tests from the "upstream" project https://github.com/icewind1991/SMB and submit a bug report there with the results (reduces the steps needed to try out a fix)

- `git clone https://github.com/icewind1991/SMB.git`
- `cd SMB`
- `composer install`
- `cd tests`
- edit `config.json` with the credentials for the smb server
- `phpunit`

[2015-03-16 15:52] PVince81 opened #14932 "fileglobalgc warning"
On stable8, repeateadly (when refreshing a s2s folder as recipient)
[code]

I compared the code of "fileglobalgc" with master and it's the same, so likely to happen there as well.

I haven't been able to reproduce it, and from reading the code I'm not sure what would return an integer instead of an array.

@icewind1991 any idea ?

[2015-03-16 16:01] #14837 closed

[2015-03-16 16:04] Akhenaton commented on #14850
Yes ! Because actually if you go on the ownCloud.org download page it advertise version 8.0.2 but if you click on "Packages (for auto updates)" you'll get a 8.0.0.9 version.
https://owncloud.org/install/

[2015-03-16 16:11] ajacobsmocana opened #14933 "Share a folder, non-resharably, with a group of which owner is a member, lose owner rights to contents"
This is a new bug in version 8.  To reproduce:

(1) Create a folder.
(2) Share with a group of which owner is a member, with reshare rights disallowed.
(3) Create a new folder inside the first folder.
(4) Try to share the subfolder-- disallowed, even though I created the folder.

[2015-03-16 16:22] Xenopathic commented on #14932
`array_walk` callback documentation:

Looks like we need to wrap `unlink()` in a closure:

[code]

[2015-03-16 16:24] karlitschek commented on #14933
@schiesbn is this a regression?

[2015-03-16 16:33] #14107 closed

[2015-03-16 16:44] j-ed opened #14935 "App installation status is not always recognized correctly"
## Expected behavior
ownCloud should recognize the installation status of an app properly.

## Actual behavior
ownCloud didn't always recognize the installation status of an app correctly. Although apps in the category 'installed' are listed correctly, the 'recommended' category shows the same app as not active?
![20150316_172831-oc802_active_apps](https://cloud.githubusercontent.com/assets/257276

[2015-03-16 17:05] PVince81 commented on #14935
Hmmm, but this was fixed in 8.0.2 ? @LukasReschke

[2015-03-16 17:07] LukasReschke commented on #14935
Yes - should be fixed. If you click "activate" and take a look at the request in your browser network console what is the app id that gets sent?

[2015-03-16 17:08] PVince81 commented on #14933
Confirmed on master.

1. Create a folder "folder" as admin
2. Share "folder" with the group "Admin", remove "can share" permission
3. Enter folder "folder"
4. Create a subfolder "folder/sub"
5. Share "sub": dropdown says "shared with you by XYZ, not allowed to share"

[2015-03-16 17:10] PVince81 commented on #14933
On stable7 the dropdown doesn't block you directly, but if you try to share with someone else it still says "No reshare permission".

On stable6 it works, I can share with someone else.

So this is a regression from stable6.

[2015-03-16 17:10] PVince81 commented on #14933
CC @jnfrmarks for the matching test case

[2015-03-16 17:12] PVince81 commented on #14930
Hmmm, need to double check the code to make sure it's url encoded everywhere.

If it's problematic, we might want to switch to using an extra attribute instead of the internal "funny" tag name.

[2015-03-16 17:12] PVince81 commented on #14915
Aha!

[2015-03-16 17:18] karlitschek commented on #14935
yes. should be fixed.

[2015-03-16 17:22] illusive-c commented on #14901
![image](https://cloud.githubusercontent.com/assets/11490199/6671918/5e087e34-cc11-11e4-9f35-58d33c4f2f13.png)

Indeed it appears that I have no free ram, but I always thought this was just the way Debian handles  ram. Since even with a fresh install my ram is pretty much always full...

Is there a way to force OS to never swap MYSQL? Did some googling, couldn't find anything specific to Raspian.

[2015-03-16 17:29] deMattin opened #14937 "Assets not updating reliable if you get app updates from git"
If you use [asset-pipeline] (https://github.com/owncloud/documentation/blob/master/admin_manual/configuration_server/js_css_asset_management_configuration.rst) and also get parts of owncloud code (apps) from git, there is the problem, that the assets don't update reliable.
Actually the check for updating the assets only relies on filename with relative path and app version.
But if you get updates

[2015-03-16 17:36] LukasReschke commented on #14937
Not sure if this is something that we want to support officially? – Doing a check on the file time seems like a rather I/O expensive action for me?

[2015-03-16 17:41] deMattin commented on #14937
Could it then be a possible solution to integrate this (complete) check in the cron job instead?
In this case it would be possible to transfer all of the asset check routines there and no hash check is needed to be perfomed on owncloud call in browser session.

[2015-03-16 18:06] tristanlins commented on #14185
For me the 8.0.2 fixed the problem :-)

[2015-03-16 18:36] R1tschY commented on #14840
Maybe it is an error in curl: I installed the current version 7.41.0 of curl (with [toast](http://www.toastball.net/toast/man)) and the problem does not occurs any more for me. Error appeared with curl version 7.19.7.

[2015-03-16 18:38] j-ed commented on #14935
@karlitschek Hello Frank, although I've spend most of my live with software developers it is always surprising to see that thinks could not be possible because they have been declared as "not possible" or "solved" or OPP (Yes, I've read the hitchhikers guide to the galaxy).
May I point your attention to the fact that I've installed ownCloud 8.0.2 (**!**) on my server and the problem still appears.

[2015-03-16 18:49] tessus commented on #14726
Any update on this? Is there a fix I can test on my 7.0.4 install?

[2015-03-16 19:12] enoch85 commented on #14850
Agree with you @karlitschek

[2015-03-16 19:20] VicDeo commented on #14827
@Pantek59 is you MySQL version is  14.14 indeed?

[2015-03-16 19:29] vstokesjr commented on #14065
Still a fail on Ubuntu 14.04.2.
We are trying to upgrade from 7 to 8.

The owncloud-server meta package should NOT include mysql server. Our MySQL server is a separate installation (server). However, we still get the

    $ sudo -u www-data php occ upgrade
    PHP Notice:  Undefined index: SERVER_PROTOCOL in /var/www/owncloud/lib/private/response.php on line 57
    PHP Fatal error:  Call to a memb

[2015-03-16 19:38] LukasReschke commented on #14935
Thanks. Will investigate this one. Can you tell me which distribution you use so I can get a local copy running in a VM? :-)

Sorry that this one got closed this early. - Shit happens when having to triage so many issues :sweat_smile:

[2015-03-16 20:20] RealRancor commented on #14935
At least the "app don't provide a xml" could be a dup of https://github.com/owncloud/core/issues/14820

[2015-03-16 20:57] cleocir commented on #14873
Same error here with OC 8.0.2

[2015-03-16 21:03] phxyz12 commented on #14814
Hi all
just a litte additional question: I am using  7.0.4 and would llike to update to 7.0.5, not 8.0.x. How to do this with the updater app? Assumed, that the updater app is indeed intended to offer also upgrades to major releases - should't there be a choice of versions then?

[2015-03-16 21:05] karlitschek commented on #14873
@DeepDiver1975 @PVince81  any ideas here? thanks

[2015-03-16 21:07] VicDeo commented on #14814
it has nothing to do with core in the first place https://github.com/owncloud/appstore-issues/issues/4 is already here

[2015-03-16 21:08] RealRancor commented on #14814
https://github.com/owncloud/updater/issues/95 for an option to skip major versions in the updater app.

[2015-03-16 21:21] oparoz commented on #14937
Maybe git apps could be added to an array of apps to be checked so that the cron job does not waste time on non-git apps?

[2015-03-16 21:31] jgmy commented on #14185
Same bug. Clean install. Php 5.6. https connection, but fails with http also.
array_map(): Argument #2 should be an array at /home/apagada/public_html/owncloud/settings/controller/appsettingscontroller.php#175

The line 175 is the last line of this array_map definition.
[code]

If i insert a `trigger_error("\$apps value: ".var_export($apps,true));` in line 155, I obtain:

Error	 PHP	 $apps value:

[2015-03-16 21:51] jnweiger commented on #14065
Short comment on the mysql side-treck: With 8.0.2 the situation should be this:

    apt-get -q -y install owncloud-server

pulls in php-mysqlnd (client side, no server components). Then a subsequent

    apt-get -q -y install owncloud

follows the 'Recommends' from the control file and pulls in mysql-server and friends. Not so bad from my perspective! Please open a seperate issue, if you get diff

[2015-03-16 21:52] SimonBin commented on #11332
Possible solution:

`==> group_every/group_every.php <==`
[code]
`==> group_every/appinfo/version <==`
[code]
`==> group_every/appinfo/info.xml <==`
[code]
`==> group_every/appinfo/app.php <==`
[code]

[2015-03-16 21:54] McPeterBlinckers commented on #14363
@RealRancor
I upgrade via updater app. I thinks when update apps download new version it can check if all is available before final install and stop install with : "you're php version is not available for OC8". finaly i can fix it by install php5.4 via ppa... Just for information ppa php5.4 on ubuntu 12.04 broke php5-xcache. Solution : desinstall and reinstall it.

### Server configuration
**Opera

[2015-03-16 22:18] x-itec commented on #7072
V8, still ultra-slow, OSX-Client. Transfer-Errors/Interruptions, too.

[2015-03-16 22:23] taurhine commented on #14908
I've renamed the folder after 3-4 hours so sync for the folder itself it should be ok.
However I've done this renaming for another folder as well. That folder didn't disappear that's why I haven't mention it earlier.

So to sum up the whole renaming thing:

Renamed Fotos -> Cloud_Fotos
------ immediately after
Renamed Videos -> Cloud_Videos
------ After 3-4 hours
(this time renamed Video folder fi

[2015-03-16 22:30] DeepDiver1975 commented on #14937
From my pov it's not the responsibility of core to detect this situation.  App devs have to properly release their apps. In each version change if an app the asset cache will be cleared.

[2015-03-16 22:34] oparoz commented on #14937
Then that means that users should be discouraged to install any apps from Github if they've enabled pipelining, because that will break their installation. Can probably be solved with some documentation on the page describing how to install it.

[2015-03-16 23:04] carlaschroder commented on #14814
Um...there is a core installer/updater, and a separate Updater app? Really? I am still utterly baffled how to document this.

[2015-03-16 23:15] VicDeo commented on #14814
@carlaschroder core performs database migrations when database version changed
Updater app takes a new core and places it instead of an old core. :fast_forward:

[2015-03-16 23:53] joaocamara opened #14939 "windows 8 with OC8 performance"
I am facing a strong performance issue on windows 8 with OC 8, PHP 5.6 and mysql. It takes up to 5 min to open OC webbrowser than more 5 min to move to calendar .... Is there anyone can help me ?

[2015-03-16 23:54] carlaschroder commented on #14814
How is the owncloud admin supposed to know if they're running the core updater, or the Updater app?

[2015-03-17 00:00] carlaschroder commented on #14814
I am fabulously happy to correct the documentation if some kind soul can explain what the oC admin sees when it's the core updater, and when they're seeing the Updater app in action, and how are they supposed to choose which one, and how.

[2015-03-17 00:24] karlitschek commented on #14939
there must be something wrong with your setup. is the network fully working? does nslookup localhost work? i recomment to ask this question in the owncloud forum. thanks

[2015-03-17 00:24] #14939 closed

[2015-03-17 00:26] DavidPrevot commented on #14888
Hi,

That sounds saner indeed, but at least providing (or using instead) the
unminified version would be an improvement: the code executed to check
passwords should be at least reviewable (I know it�s big, but hiding it
under minification sounds more like a potential security issue than a DFSG
nitpicking one).

Regards

David

[2015-03-17 01:01] joaocamara commented on #14939
Network is ok
nslookup is ok
I sent a question to owncloud fórum.
thanks

[2015-03-17 01:10] AdamWill commented on #13053
Hrm. This is odd. I just went to test this again and for some reason I run into the exception that was added by:

https://github.com/owncloud/core/pull/11593

`$filePath is not under the \\OC::$SERVERROOT`

but that seems to have been put in a while before I proposed this, so when I tested it before, I should've already been testing it against that change...hrm. Let me dig a bit more.

[2015-03-17 01:22] AdamWill opened #14940 "Asset pipelining fails with apps directory not under $SERVERROOT"
If you have an apps directory which is not under $SERVERROOT - which has been a perfectly valid OC configuration for years - trying to use asset pipelining will result in OC throwing an exception and entirely failing to work.

The exception thrown is `$filePath is not under the \OC::$SERVERROOT`, found at https://github.com/owncloud/core/blob/master/lib/private/templatelayout.php#L232 (as I write

[2015-03-17 02:09] AdamWill commented on #14940
https://github.com/owncloud/core/pull/14941 is a PR for this, just my first cut at a fix, may not be correct.

[2015-03-17 06:16] StephanMeijer commented on #14840
I'm running cURL 7.40.

[2015-03-17 07:53] hevtig commented on #14209
Tested the hack on my OC 8.0.2 installation and it scrambled my notes and probably some of my files. I hope this issue will be fixed soon.

[2015-03-17 08:03] mmattel commented on #14347
sudo phpunit
PHPUnit 4.5.0 by Sebastian Bergmann and contributors.
Configuration read from /var/www/SMB/tests/phpunit.xml
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS  63 / 300 ( 21%)
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS 126 / 300 ( 42%)
SSSSSSSSSSSSSSSSSSSS..........ES..

It took a while from ES. to ES..
There were no further messages

[2015-03-17 08:46] deMattin commented on #14937
I do not agree with DeepDiver. Handling with assets and (its) cache should definitly be the job of the core and it shouldn't rely only on one parameter (app version) that is under control of the app developer.
As it is now, using assets and git together can be a source of weird bugs - although if you document this in some readmes.

But maybe there's another way.
Does the core recognize a git pull

[2015-03-17 08:57] PVince81 commented on #14726
There's this work in progress PR: https://github.com/owncloud/core/pull/14764
It might work already but from the code it might cause performance issues, so if I were you I'd rather wait.

Also that fix is unfortunately quite big and intrusive, so not sure yet about backporting to OC 7.

[2015-03-17 09:12] cedric-dufour commented on #13619
Updated to OC 8.0.0-9 (Debian package).
Group permissions seem fixed, both for Calendar App and files.
Permissions get created in oc_share table initially with edit right (permissions=15), both for the group (share_type=1) and its users (share_type=2).
When permissions are restricted, both group and users permissions are modified/lowered (permissions=1). Users can not edit the shared resource anyl

[2015-03-17 09:12] PVince81 commented on #14908
Hmmm if you waited 3-4 hours between the operations, I don't see any possible conflict.
Unless the first renames (Fotos -> Cloud_Fotos, Videos -> Cloud_Videos) failed silently for some reason.

[2015-03-17 09:27] enoch85 commented on #10132
Here is a solution: https://www.en0ch.se/tips-tricks/netdrive/

[2015-03-17 09:33] Wikinaut opened #14943 "[Suggestion] Log and Activity: when editing or deleting users, add this activity to the log and activity"
I suggest that user account manipulations by the admin are logged and also shown as "Activity" in the activity pane.

[2015-03-17 09:36] #10132 closed

[2015-03-17 09:42] PVince81 commented on #14873
Okay, I see it here too:
[code]

for every PROPFIND. Maybe Dropbox has an API limit and doesn't let us do more than X calls an hour or something.

[2015-03-17 09:43] PVince81 commented on #14873
Okay, it's not the rate-limit, which would return 503: https://www.dropbox.com/developers/core/bestpractices

[2015-03-17 09:49] LukasReschke commented on #14937
Well – if an application changes CSS or JS elements it has to bump the version – and this also applies to Git versions.

If developers don't do that then the Git version is likely not meant to be deployed in a live environment. Case closed from my PoV :see_no_evil:

[2015-03-17 09:50] nickvergessen commented on #14937
The app author just needs to increase the version in the `appinfo/version` file when changing an asset.

With the increment the old assets are purged. So users can keep using github apps... that should be "fair" enough for everyone and without adding tones of load to the already slow asset loading.

The only other thing I could imagine is a console command for purging the asset cache.

[2015-03-17 09:55] oparoz commented on #14937
In reality, the version change is going to be forgotten sometimes or too much of a burden and on top of that it triggers an ownCloud update every time, so I agree, that git should be used for development, without pipelining.

I do also miss an occ command to clear that folder though.

[2015-03-17 09:56] Wikinaut opened #14945 "[Suggestion] When deleting user accounts, add a confirmation dialog (prompt) - or amend the tooltip"
As an admin, when I delete a user account, I wish to have a prompt "Do you really want to delete that user?"

I do know when having successfully used the "delete user" funtion, that the last action could be reversed (made undone) afterwards, but the warning could be overlooked, and the "undo" message is not known before you actually press the delete user (basket icon) button.

So perhaps it may be

[2015-03-17 09:57] PVince81 commented on #14873
I found something, seems that the metadata from the root cannot be retrieved with "." any more.
Fix here: https://github.com/owncloud/core/pull/14946

[2015-03-17 09:58] PVince81 commented on #14873
Let me know if that PR solves the issues for you.

[2015-03-17 10:02] oparoz commented on #14937
https://github.com/owncloud/documentation/pull/957

[2015-03-17 10:09] oparoz commented on #14132
https://github.com/owncloud/core/pull/14947 using ILIKE

[2015-03-17 10:18] deMattin commented on #14937
You are all right:
- Developer **should** encrease version number.
- Cloudadmin **should** have to remember they setted up assets and **should** know the dependencies
- git **should** be used only for development

But whats reality?
- gits are rolling releases and developer don't raise number on every commit (I think, noone does this)
- Cloudadmin **use** git on their productive server and possibl

[2015-03-17 10:23] Pantek59 commented on #14827
@VicDeo "mysql -- version" returns:
mysql  Ver 14.14 Distrib 5.5.41, for debian-linux-gnu (x86_64) using readline 6.2

[2015-03-17 10:28] #14881 closed

[2015-03-17 10:58] PVince81 commented on #14915
3rdparty: https://github.com/owncloud/3rdparty/pull/168

[2015-03-17 10:59] PVince81 commented on #14915
PR: https://github.com/owncloud/core/pull/14949

[2015-03-17 11:03] LukasReschke opened #14950 "Investigate how to handle max length of cache key entries"
From some internal discussion:

As far I can see we can't use an md5 as we have functions such as `clear($keyPrefix)` exposed to app developers.

[2015-03-17 11:10] PVince81 opened #14951 "Smashbox test_basicsync regression on master"
On master: d96b97043b2fa7ba4d676c1d7b44f4aa5e58c8ee

[code]

Works fine against 8.0.2.
CC @jnfrmarks @DeepDiver1975

Not related to Sabre upgrade (bisect in progres)

[2015-03-17 11:12] PVince81 commented on #14951
Hmm could be a false alert. It seems that I need to clear `smashdir` between test runs.

[2015-03-17 11:14] PVince81 commented on #14951
My bad, was running it wrong. Sorry for the noise.

master is fine.

[2015-03-17 11:14] #14951 closed

[2015-03-17 11:22] PVince81 opened #14953 "Locally failing unit test related to encryption + s2s"
It's been weeks that I've been seeing this local unit test fail on master with SQLite:
[code]

Is anyone else seeing it too ? @schiesbn ?

[2015-03-17 11:22] tuxmaster commented on #14510
I have the same messages.
OS: CentOS7
OC: owncloud-8.0.0-27.1.noarch
Message:
Mar 17 12:18:32 system ownCloud[15743]: {webdav} Exception: {"Message":"No basic authentication headers were found","Code":0,"Trace":"#0 \/var\/www\/html\/owncloud\/lib\/private\/connector\/sabre\/auth.php(123): Sabre\\DAV\\Auth\\Backend\\AbstractBasic->authenticate(Object(OC_Connector_Sabre_Server), 'ownCloud')\n#1 \/va

[2015-03-17 11:25] PVince81 commented on #14937
Crazy idea, what about using the git hash ? :wink:

[2015-03-17 11:25] DeepDiver1975 commented on #14510
@PVince81 I guess we should log this exception with a different log level - it simply can happen that clients try to access the server without authentication headers - not really an issue.

Objections?

[2015-03-17 11:27] nickvergessen commented on #14937
So in a live enviroment you want to check for all apps, whether .git exists and then track down to the git commit hash, instead of telling app authors to behave correctly, or just have a way to update it correctly?

[2015-03-17 11:28] tmoehle commented on #14510
I'm getting that error using definitely the right credentials. There seems to be a problem handing the authentication headers over from the remote.php to sabredav.

[2015-03-17 11:31] PVince81 commented on #14510
Yes, it is expected that the error appears in some cases due to the way how basic auth works: curl first sends a request, receives 401 that tells what auth method to use, then sends a second request with the credentials.

[2015-03-17 11:33] blizzz commented on #14950
Two thoughts that don't convince myself that much, but maybe to consider:

We may introduce setWithPrefix to the cache methods and leave the provided prefix (with a max size) unhashed. And leave set() as is. This will leave backwards compatibility in theory, but (3rd) apps need to adjust, otherwise it potentially may break stuff. (Actually it requires an additional interface :-/).

Alternatively,

[2015-03-17 11:33] tmoehle commented on #14510
But shouldn't clients be able to connect on that second request? Because I've got a lot of clients that are unable to connect since I updated Owncloud to version 8.

[2015-03-17 11:34] PVince81 commented on #14510
From what I see in the code, it is already logged only on DEBUG level.
And also your output shows that you have "loglevel: 0".

[2015-03-17 11:36] rullzer commented on #14933
It seems the dropdown fails because we send the reshare. However, in share.php also stuff breaks and an exception is thrown: https://github.com/owncloud/core/blob/master/lib/private/share/share.php#L1995

So the same error occurs when we try to do this from the OCS Api.

[2015-03-17 11:36] PVince81 commented on #14510
Yes, clients should be able to connect on the second request. If they cannot then it is another issue, or let's say the issue is not about the logged messages, but about the failure to connect on the second try.

You are mentioning CardDAV, so possible something specific to the contacts app.

[2015-03-17 11:40] PVince81 commented on #14510
What do you guys get with curl when doing this:
`curl -D - -X PROPFIND -k https://user:password@yourhost/owncloud/remote.php/carddav/`
and
`curl -D - -X PROPFIND -k https://user:password@yourhost/owncloud/remote.php/caldav/`

On my 8.0.2 instance both work properly.

[2015-03-17 11:43] deMattin commented on #14937
Yes - a solution not to tell someone something he has to regard amoung countless other things he also has to remember will shurely be a much better solution than hoping, that the developer does behave correctly (whatever this means)!
But certainly "the solution" should not slow down things much.
So it should be found a sort of "trigger" on git pull and so there would not be the afford to create a

[2015-03-17 11:44] jancborchardt commented on #14890
@LarsHanses heya! Can you try with a completely vanilla installation? That is: no apps installed and encryption disabled?

Another point: »IIS 7.5« – do we support that @DeepDiver1975 @karlitschek? Not sure what the status is these days.

[2015-03-17 11:48] oparoz commented on #14937
@nickvergessen - What's the difference between checking info.xml and the git hash? If the script is checking a file anyway, it might as well be the right one, no?

[2015-03-17 11:54] DeepDiver1975 commented on #14937
so we add git client as core dependency?

[2015-03-17 11:56] DeepDiver1975 commented on #14937
There is already a repairstep in place - https://github.com/owncloud/core/blob/master/lib/repair/assetcache.php

Running

[code]

will do the job

[2015-03-17 11:58] DeepDiver1975 commented on #14937
Using apps from git has more issue than asset caching:
- [ ] apc caching
- [ ] possibly broken database migrations (thinking about an unreleased app dev stage)
- [ ] missing components due to composer install not executed
- [ ] missing components due to bower not invoked
- [ ] missing components due to make * not invoked
- [ ] missing components due to grunt ...
- [ ] missing components due to *wh

[2015-03-17 11:58] tmoehle commented on #14510
Indeed, that seems to work:
<?xml version="1.0" encoding="utf-8"?>
<d:multistatus xmlns:d="DAV:" xmlns:s="http://sabredav.org/ns" xmlns:card="urn:ietf:params:xml:ns:carddav"><d:response><d:href>/remote.php/carddav/</d:href><d:propstat><d:prop><d:getlastmodified>Tue, 17 Mar 2015 11:46:10 GMT</d:getlastmodified><d:resourcetype><d:collection/></d:resourcetype></d:prop><d:status>HTTP/1.1 200 OK</d:sta

[2015-03-17 11:58] DeepDiver1975 commented on #14937
in other words: one better know what to do if using apps from git

[2015-03-17 11:58] #14937 closed

[2015-03-17 12:00] jancborchardt commented on #14796
@rolandbu which version of ownCloud do you use? It looks like 7 or 6, because the »notify by email« function was removed in 8, which fixes this issue.

[2015-03-17 12:02] jancborchardt commented on #13056
@FMstrat yeah, good call. The navigation entry should be »Community apps« or something similar and then the disclaimer should provide more info.

What do you think @LukasReschke @karlitschek @DeepDiver1975?

[2015-03-17 12:03] karlitschek commented on #14510
@DeepDiver1975 @PVince81  any reason we log this at all? i'm not sure

[2015-03-17 12:04] jancborchardt commented on #308
@Xenopathic yes, this and https://github.com/owncloud/documentation/issues/160 as well should just be merged with the current stuff in the documentation as they are now. I didn’t come around to it yet – any help is appreciated.

[2015-03-17 12:05] DeepDiver1975 commented on #14510
We are logging all exceptions on the webdav interface - great help on debugging/support cases.

Some of them are kind of expected exceptions and these are logged in debug mode only.

[2015-03-17 12:05] nickvergessen commented on #14937
+ having executable files like travis.yml, tests/ etc. which are potentially dangerous

[2015-03-17 12:05] rperezb opened #14955 "[Users] Not possible to use the character " ´ " on the full name"
### Steps to reproduce
1. Login on ownCloud as admin user
2. Go to users view
3. Create a new user, something as user / user
4. Refresh
5. Modify the full name to : úser
6. Refresh

### Expected behaviour
The full name is kept

### Actual behaviour
The user name is changed to the previous one, in this case, user

### Server configuration
{"installed":"true","version":"7.0.5.2","versionstring":"7.0

[2015-03-17 12:07] LukasReschke commented on #14955
Works just fine here. [PHP5-intl](http://php.net/manual/en/book.intl.php) installed?

[2015-03-17 12:07] rolandbu commented on #14796
@jancborchardt  No, it is 8.0.0-9 Debian community version from the  http://download.opensuse.org/repositories/isv:ownCloud:community/Debian_7.0/ repository.

[2015-03-17 12:08] jancborchardt commented on #14796
I’m confused. We removed that function, didn’t we @nickvergessen?

[2015-03-17 12:10] nickvergessen commented on #14796
@jancborchardt no, I didn't do anything to remove it and have it displayed in master aswell

[2015-03-17 12:13] DeepDiver1975 commented on #14796
@jancborchardt you have to enable this in the admin settings

![bildschirmfoto von 2015-03-17 13 12 41](https://cloud.githubusercontent.com/assets/1005065/6687041/5b313ac0-cca7-11e4-83ff-66d008c578a6.png)

[2015-03-17 12:17] deMattin commented on #14937
Perfect solution to close here: :/
Is this ownCloud a piece of software only for developers, experts and anybody knowing anything or a web app for the masses to be mostly installed on small servers and at home or in office?

If you ignore common practice (using git) and common "commiting" (no version update) with words like "you should know, what you do", then you certainly miss your audience.

An

[2015-03-17 12:23] LukasReschke opened #14956 "Check for activated local memcache in administrative Configuration Checks"
A check for `memcache.local` should be added to the administrative configuration checks.

[2015-03-17 12:30] gig13 commented on #14835
Screenshot available on https://s3.owncloud.com/owncloud/index.php/apps/files/?dir=%2FShared%2Fowncloud%2Fsupport%2Fgithub-issues%2Fcore%2F14835

[2015-03-17 12:35] #12014 closed

[2015-03-17 12:41] DeepDiver1975 commented on #14953
no - work here

[2015-03-17 12:56] gig13 commented on #14835
Correction,  It isn't when you enter the name, just when you view who the folder is shared with.

Screenshot and some database information in https://s3.owncloud.com/owncloud/index.php/apps/files/?dir=%2FShared%2Fowncloud%2Fsupport%2Fgithub-issues%2Fcore%2F14835

Related to #https://github.com/owncloud/core/issues/13957

[2015-03-17 12:57] jancborchardt commented on #14796
But it’s not a default, right? I’d really say it’s finally time to remove it since the Activity/notification settings solve this. It’s not something for the sharer to decide.

[2015-03-17 13:00] gig13 commented on #13957
Continuing to see share file display issues.

1. Yes. A good example in the data provided are shares with ids 2147-2149,2181-2195.
2. It isn't when he enters the name, just when he views who the folder is shared with. I have requested a screenshot from Dave so that you can see the exact behaviour and will forward it on when I receive it.
3. Dave created the folders and shares. It was not a matter

[2015-03-17 13:02] DeepDiver1975 commented on #14796
well - there are differences:
- different mail templates are used (interesting in terms of theming)
- the timing is different - in the activity app an email is sent in time frames (e.g. hourly) where as on the share dialog it's immediate
- furthermore the mail in activity app is combined with multiple other events

[2015-03-17 13:02] DeepDiver1975 commented on #14835
@gig13 which users are duplicate?

[2015-03-17 13:04] karlitschek commented on #14796
yes. i´m not sure we can/should remove this. users like this feature

[2015-03-17 13:06] cdamken commented on #13934
@jnfrmarks  https://github.com/owncloud/core/issues/13934#issuecomment-77584341

Could you please tell me if it fix the problem?

[2015-03-17 13:10] gig13 commented on #14835
@DeepDiver1975
Look at the screenshot, It lists the file is shared in "APSC 480 with TREVOR LEWIS (TL33)" -- that users is listed 3 times in the same line.

Then it shows "Shared in APSC 480 2014-15 with JAKE ARMSTRONG (8JEA3)" -- he is listed 3 times in the same line.

1. Why are there 2 lines of the Share
2. Why is each user listed 3 times?

[2015-03-17 13:13] Raydiation opened #14959 "Apps that do not ship an app.php are not listed on the page where you can enable apps"
appinfo/app.php should be fully optional

@DeepDiver1975 @nickvergessen @MorrisJobke @jbtbnl @PVince81 @LukasReschke

[2015-03-17 13:16] PVince81 commented on #14953
I actually have two computers where it happens, both have a version of PHP 5.6.

This one here (laptop) has openSUSE Factory and php5-5.6.6-1.1.x86_64.

At some point I'll try and debug this then.

[2015-03-17 13:21] PVince81 commented on #13957
@MorrisJobke does your script also detect orphaned shares ?

[2015-03-17 13:22] nickvergessen commented on #14937
You can add a [git hook](http://git-scm.com/book/en/v2/Customizing-Git-Git-Hooks) for `post-receive` (see bottom of the page) to do the necessary action (`./occ maintenance:repair`) after you git pulled something.

I can't really see the need to slow down stuff even more, just because people try to run dev stuff with performance improvement options.

[2015-03-17 13:28] DeepDiver1975 commented on #13071
8.0.2 ships doctrine 2.5.1 -> closing

[2015-03-17 13:28] #13071 closed

[2015-03-17 13:28] PVince81 commented on #14911
Hmmmm, that error in your log seem to be related to an app that might be missing a description, possibly a third party app. The code in question is here: https://github.com/owncloud/core/blob/stable8/lib/private/app.php#L1230

Do you mind posting the list of enabled apps ?
You can retrieve it using the command `sudo -uwwwrun ./occ app:list` (replace "wwwrun" with the name of the web server user)

[2015-03-17 13:36] jnweiger commented on #14725
Fixed in upcoming 8.0.2 packages.
Flagged as conffiles

    /etc/apache2/conf-available/owncloud.conf
    /var/www/owncloud/.htaccess

[2015-03-17 13:36] jancborchardt commented on #7016
@PVince81 has this been solved meanwhile?

[2015-03-17 13:37] DeepDiver1975 commented on #14048
@LukasReschke fixed? Or am I wrong? THX

[2015-03-17 13:39] oparoz commented on #14937
Nice tip :)

[2015-03-17 13:40] LukasReschke commented on #14048
From my PoV: Yes.

That seems like a calendar issue to me. Can you please reopen at owncloud/calendar? THX.

[2015-03-17 13:40] #14048 closed

[2015-03-17 13:40] DeepDiver1975 commented on #14181
@LukasReschke is there an open pr? please link - THX

[2015-03-17 13:41] blizzz commented on #11292
Fixed by https://github.com/owncloud/core/issues/14849

[2015-03-17 13:41] #11292 closed

[2015-03-17 13:42] LukasReschke commented on #14181
If there would be I would have linked :see_no_evil:

[2015-03-17 13:43] PVince81 commented on #14160
@josh4trunks was there any updated related to that ?

[2015-03-17 13:46] jancborchardt commented on #14891
Same as for https://github.com/owncloud/core/issues/14890:

@LarsHanses Can you try with a completely vanilla installation? That is: no apps installed and encryption disabled?

Another point: »IIS 7.5« – do we support that @DeepDiver1975 @karlitschek? Not sure what the status is these days.

[2015-03-17 13:46] blizzz commented on #6772
obsolete

[2015-03-17 13:46] #6772 closed

[2015-03-17 13:47] PVince81 commented on #13214
Have you tried with `curl` and passing the certificate file ?

[2015-03-17 13:48] PVince81 commented on #13169
Close due to inactivity.

If you're still having the issue, please provide the requested information.
Thanks.

[2015-03-17 13:48] #13169 closed

[2015-03-17 13:49] deMattin commented on #14937
If it only were some "performance improvement options" you would be right.
But sometimes it's the only way to get something to work (e.g. gallery app in 8.0).
Do you have to stay on BUGS until a new official release fixes it a month or more later?

Shorter updates like recently announced are the right step. But issues, that crash functionality you often only get with git or manual patches.

And th

[2015-03-17 13:50] PVince81 commented on #14863
@blizzz

@VicDeo does the documents app use setupFS properly ?

[2015-03-17 13:51] DeepDiver1975 commented on #14959
moved to backlog - pr welcome at any time

[2015-03-17 13:52] sash85 opened #14960 "update 8.0.2 was unsuccessful."
An exception occurred while executing 'SELECT `fileid` FROM `oc_filecache` WHERE `storage` = ? AND `path_hash` = ?' with params ["2", "47565767f9fdadf0ef839c373807c795"]: SQLSTATE[HY000]: General error: 2006 MySQL server has gone away

[2015-03-17 13:52] nickvergessen commented on #14937
by "performance improvement options" I was talking about the asset pipelining

[2015-03-17 13:53] PVince81 commented on #13814
@LukasReschke is there a better API to kill a user's session ?

[2015-03-17 13:53] PVince81 commented on #13814
Or maybe we need an option "disable user" in the users page, which would be cleaner.

[2015-03-17 13:54] LukasReschke commented on #13814
That would be https://github.com/owncloud/core/issues/12601 then.

[2015-03-17 13:55] PVince81 commented on #14960
Likely to be an environment issue. Not sure when, but sometimes it happens that the MySQL server shuts down.

Please use the issue template to provide info about your environment: https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

[2015-03-17 13:55] karlitschek commented on #14960
This message means that your mysql server is no longer working. maybe crashed. This is very likely not an owncloud bug.

[2015-03-17 13:55] #14960 closed

[2015-03-17 13:56] PVince81 commented on #14864
Do you mind submitting a PR ? If needed I can point to you to where the code is.

[2015-03-17 13:57] PVince81 commented on #14187
@josh4trunks

[2015-03-17 14:00] nickvergessen commented on #14950
We could also use a sensible length as a hard limit and throw an exception for longer key names...
Apps can use acronyms for the keys... they dont matter that much.

[2015-03-17 14:02] DeepDiver1975 commented on #14803
refs #14857

[2015-03-17 14:06] RealRancor commented on #14864
If you provide a meaningful text. No clue at the moment how to describe this in some short words.

[2015-03-17 14:06] nickvergessen commented on #14945
@jancborchardt

[2015-03-17 14:07] DeepDiver1975 commented on #14739
@nickvergessen handled in #14857 ???

[2015-03-17 14:07] DeepDiver1975 commented on #14519
@jancborchardt one for us :wink:

[2015-03-17 14:08] DeepDiver1975 commented on #14735
@MorrisJobke milestone? THX

[2015-03-17 14:08] sash85 commented on #14960
Thank you. :-)

[2015-03-17 14:08] jancborchardt commented on #8433
@PVince81 any news on this? Is anyone working on this for 8.1 actually?

[2015-03-17 14:15] DeepDiver1975 commented on #14306
let's close this - we will stick with our request implementation - THX

[2015-03-17 14:15] #14306 closed

[2015-03-17 14:15] jancborchardt commented on #6033
Hey @tigran-a this is a duplicate of https://github.com/owncloud/core/issues/2263 (Show who owns a file / uploaded a revision) – let’s continue there.

[2015-03-17 14:15] #6033 closed

[2015-03-17 14:15] jancborchardt commented on #11447
@blizzz for LDAP

[2015-03-17 14:17] nickvergessen commented on #14739
No, I just changed how the registration of the preview providers is done, not how the preview object that is returned works

[2015-03-17 14:17] jancborchardt commented on #6982
@kerhac is the fix you committed above in master? If so we could close this.

[2015-03-17 14:18] jancborchardt commented on #6982
@ghost also can you test if this is fixed for you? I’ll close since I assume it is.

[2015-03-17 14:22] MorrisJobke commented on #14251
cc @nickvergessen

[2015-03-17 14:31] PVince81 commented on #13818
@LukeHamer yes, a slow connection speed increases the time it takes to upload the file. If that time is too big, there is a risk that PHP runs into a timeout situation, in which case it might abandon the transfer.

The error you saw about the expected filesize usually happens in such situations.

You could try increasing the PHP timeout value on the server.

[2015-03-17 14:38] jancborchardt commented on #14945
Sorry but undo is a better solution to this problem. Let me list the reasons of why we do undo instead of a dialog:

Firstly, it would make deleting multiple users a pain. Continually clicking »confirm« is stupid and desensitizes towards the popup. It will result in just mindlessly clicking »confirm«.

Popups are even more overlooked and clicked »confirm« on. See See [Never Use a Warning When you

[2015-03-17 14:38] #14945 closed

[2015-03-17 14:39] nickvergessen commented on #14251
It does :see_no_evil: https://github.com/owncloud/core/pull/14923/files

[2015-03-17 14:39] #14251 closed

[2015-03-17 14:41] jancborchardt commented on #14405
Not sure if yet another label for the button (after we already have »Enable« and »Install« …) is a good idea. Maybe just add a tooltip note to the button? Or is this even needed at all?

[2015-03-17 14:43] LukasReschke commented on #14405
From a security PoV it is required yes - we're doing something completely different than what the button says which got quite some people complaining to me :see_no_evil:

A tool-tip would be a valid alternative – yes. Seems easier.

[2015-03-17 14:56] DeepDiver1975 commented on #12292
no feedback -> close

[2015-03-17 14:56] #12292 closed

[2015-03-17 14:56] jnfrmarks commented on #13934
@cdamken

PR #14734 did not resolve the issue for me.

[2015-03-17 14:56] DeepDiver1975 commented on #12365
no feedback -> close

[2015-03-17 14:56] #12365 closed

[2015-03-17 14:56] DeepDiver1975 commented on #10354
no feedback -> close

[2015-03-17 14:56] #10354 closed

[2015-03-17 14:57] DeepDiver1975 commented on #13409
no feedback -> close

[2015-03-17 14:57] #13409 closed

[2015-03-17 14:57] DeepDiver1975 commented on #14305
no feedback -> close

[2015-03-17 14:57] #14305 closed

[2015-03-17 14:57] DeepDiver1975 commented on #14354
no feedback -> close

[2015-03-17 14:57] #14354 closed

[2015-03-17 14:58] DeepDiver1975 commented on #13273
closing this one then

[2015-03-17 14:58] #13273 closed

[2015-03-17 14:59] DeepDiver1975 commented on #13400
this is by design - the name of a shared folder is kept constant on the share receiver

[2015-03-17 14:59] #13400 closed

[2015-03-17 15:03] DeepDiver1975 commented on #14139
Does this error still persist? Anything in the logs?

[2015-03-17 15:05] DeepDiver1975 commented on #14492
- [ ] php module intl installed?
- [ ] locale en_US.UTF-8 installed?

[2015-03-17 15:05] DeepDiver1975 commented on #14552
close as duplicate

[2015-03-17 15:05] #14552 closed

[2015-03-17 15:06] DeepDiver1975 commented on #13720
@LukasReschke requested information was added - does that help? THX

[2015-03-17 15:06] DeepDiver1975 commented on #8173
no feedback -> close

[2015-03-17 15:06] #8173 closed

[2015-03-17 15:07] DeepDiver1975 commented on #13998
no feedback -> close

[2015-03-17 15:07] #13998 closed

[2015-03-17 15:08] DeepDiver1975 commented on #14714
@highacid mind giving a try to install 8.0.2? THX

[2015-03-17 15:10] DeepDiver1975 commented on #14858
@LukasReschke are we sure this actually works? :speak_no_evil:

[2015-03-17 15:13] DeepDiver1975 commented on #11660
@dragotin can you please have a look ? THX

[2015-03-17 15:14] DeepDiver1975 commented on #8096
this will be fixed with 8.1 - backport to 8.0.3 pending - closing therefore - THX

[2015-03-17 15:14] #8096 closed

[2015-03-17 15:14] redhell commented on #14139
Negative. It's gone now.

[2015-03-17 15:16] DeepDiver1975 commented on #13067
server 8.1 and one of the following clients (1.9 ???) will allow more characters to be uploaded -> closing

[2015-03-17 15:16] #13067 closed

[2015-03-17 15:24] tessus commented on #14726
@PVince81 wow, this is bad news. I'm still grateful you are trying to fix this, but your answer tells me 2 things:
* the architecture of ownClound is less than optimal
* I can't use ownCloud for the main reason it exists (sharing and syncing files with other users)

Just to make this clear (since a lot of developers take opinions and facts as personal), this was not a personal attack. I'm just stu

[2015-03-17 15:26] DeepDiver1975 commented on #8568
merged -> closed

[2015-03-17 15:26] #8568 closed

[2015-03-17 15:27] DeepDiver1975 commented on #13231
no feedback -> close

[2015-03-17 15:27] #13231 closed

[2015-03-17 15:28] PVince81 commented on #14726
Yes, I agree that the architecture of OC is not optimal. But it takes time to make it better, as we need to be careful to not break stuff while refactoring.
Also, @icewind1991 is the one working on a fix.

There is still hope for a backportable fix: https://github.com/owncloud/core/pull/14764#issuecomment-82388200

As for QA, this will get better over time, especially that there are now people wri

[2015-03-17 15:28] nsediq opened #14963 ""App does not provide an info.xml file" After fresh installation of OC 8.0.2"
i install a fresh OC 8.0.2, and when decide to enable Calender or any application in recommended list the "App does not provide an info.xml file" error ocurrend.

i ask my server administrator and he said curl, zip and xml packages are installed.

[2015-03-17 15:29] DeepDiver1975 commented on #14139
thx

[2015-03-17 15:29] #14139 closed

[2015-03-17 15:34] LukasReschke commented on #14858
Absolutely not. That's another reason for https://github.com/owncloud/core/pull/14913 where I'm just implementing that.

Currently for example `HTTPHelper::post` does not really consider this – yes – I know we need to fix that also in 8.x and Co. but first things first ;-)

[2015-03-17 15:39] RealRancor commented on #14963
Hi,

did you had a look at the search engine in this repos? Currently don't have time to search for issues but there are at least two issues available for this.

[2015-03-17 15:39] MorrisJobke commented on #8568
It was not merged. cc @LukasReschke

[2015-03-17 15:42] mredlancelot commented on #14905
I had the same issue, I am running ownCloud on Freenas I issued the command

 chown -R www:www /usr/local/www/owncloud

but also chmod -R 777 /usr/local/www/owncloud

this has sorted the issue

[2015-03-17 15:42] MorrisJobke commented on #14796
We could introduce the "send once the event occurs"? cc @nickvergessen

[2015-03-17 15:43] MorrisJobke commented on #14796
But I would like to keep that feature. Because then it's easy to send a link by mail without firing up you mail app and copy and paste some links.

[2015-03-17 15:46] PVince81 opened #14964 "Failing smashbox test_filesnames on master"
Running the test_filesnames.py from smashbox had failing cases on stable6 and 7, which might be fine.

The worrying part is that there are now more failing cases on stable8, and a LOT more on master:
[code]

[2015-03-17 15:55] MorrisJobke commented on #13957
No

[2015-03-17 15:59] cdamken commented on #13934
@jnfrmarks Thank you

[2015-03-17 16:01] josh4trunks commented on #14160
this will be fixed by https://github.com/owncloud/core/pull/14125

I'll test and document the fix tonight.

[2015-03-17 16:03] tilllt commented on #13934
just upgraded from 7.0.4 to 8.0.2 ... thought i'd give the file cache a fresh start, truncated the oc_filecache from the database, ran su www-data -c 'php console.php files:scan --all', leading to this error:

[code]

[2015-03-17 16:05] nickvergessen commented on #13934
@jnfrmarks can you run your tests against current master? and on the follow stable8 PR: https://github.com/owncloud/core/pull/14914 That would be very awesome

[2015-03-17 16:07] PVince81 commented on #14964
The bisect points to this commit 1b08b7c726e29ae9d7b9db2c8e2450fd751b9ab7 from the insertIfNotExists PR: https://github.com/owncloud/core/pull/14734

@DeepDiver1975 @nickvergessen maybe some escaping issue ? (this is master only)

[2015-03-17 16:07] PVince81 commented on #13934
@nickvergessen one of the tests has gotten worse with special characters, see https://github.com/owncloud/core/issues/14964#issue-62435398 (maybe an escaping issue)

[2015-03-17 16:11] nickvergessen commented on #14964
Well that commit is broken, that is known. Hence why we had:
https://github.com/owncloud/core/pull/14766/files#diff-fb4e3a03c02988e8dde2af0b55f7b96f

[2015-03-17 16:12] josh4trunks commented on #14187
I believe this was addressed in 8.0.2 by disabling buggy, versions of APCu <4.0.6

for anyone experiencing this issue, what version of owncloud and APCu do you have?

[2015-03-17 16:13] PVince81 commented on #14964
Yeah, but that one doesn't seem to fix it either as those tests fail on master too.

I tried uploading a file called `"_singlequote_2testfile'.dat"` with the sync client, but it works fine up and down. Not sure what smashbox is doing to trigger the issue.

[2015-03-17 16:20] nsediq commented on #14963
after some search and speak with server admin, they said its will be ok if in line 73 "lib/private/httphelper.php" add
curl_setopt($curl, CURLOPT_SSL_VERIFYPEER, false);
and SSL be inactive.

[2015-03-17 16:22] PVince81 commented on #14964
Weeeeird. It worked before and now suddenly it tells me that single quote is an invalid char.

[2015-03-17 16:23] RealRancor commented on #14963
Hi,

they/you should better import the owncloud.com cert or even upgrade to a recent distro shipping the correct certs.

[2015-03-17 16:34] PVince81 commented on #14964
I tried a few of the files like "(_chr40_3testfile(.dat" but they all seem to work fine.
So I suspect that the issue happens during the smashbox test, which possible puts the cache in a broken state which somehow breaks the next files.

I think I'm onto something:
[code]

One of the files appears as "files" in the web UI and is possible a weird character that messes up the whole file list during P

[2015-03-17 16:39] PVince81 commented on #14964
One of the files somehow managed to hijack "basename" and create a folder called "files/" additionally to the regular "files" path:
[code]

After deleting the three "dat" entries, I still see an entry "files" in the UI.
And cadaver is still broken.

Only when I delete 184 it works again.
Maybe it's some kind of weird invisible space.

[2015-03-17 16:48] jancborchardt commented on #14796
But then it should be a button. A checkbox for this makes no sense.

[2015-03-17 16:49] jancborchardt commented on #14405
Cool, then let’s do it as a tooltip.

[2015-03-17 16:49] nsediq commented on #14963
Hello
in this issue said that the problem maybe is for curl version.
https://github.com/owncloud/core/issues/14840#issuecomment-81858769

[2015-03-17 16:50] PVince81 commented on #14964
Ooohh, look at this:
[code]
They do not match the database entries. So whenever a file cannot be found, it seems that WebDAV fails directly with a big 404 instead of returning a list. (probably something to fix separately)

[2015-03-17 16:53] jancborchardt commented on #10555
Yeah, we had this issue in the gallery some time as well.

When the content of a shared folder is 100% images, use the gallery view by default. cc @owncloud/designers @oparoz.

[2015-03-17 16:54] jancborchardt commented on #11784
This is a duplicate of https://github.com/owncloud/core/issues/10192, let’s continue there.

[2015-03-17 16:54] #11784 closed

[2015-03-17 16:55] jancborchardt commented on #10192
@DeepDiver1975. cc @dragotin @danimo for possible client-related issue.

[2015-03-17 16:59] jancborchardt commented on #11648
Sounds like a pretty arbitrary metric. How would that be useful? Since when you post it, the first 18 to download it would be completely random. Would you count opening the file as well, since people can take screenshots? Would we need to identify individual users or just every time the URL is opened?

Sorry – but there’s just too many questions for such a small edge-case feature to be cleared up.

[2015-03-17 16:59] #11648 closed

[2015-03-17 16:59] MorrisJobke commented on #14796
? It's an input field for the email address with a button "Send"

[2015-03-17 17:00] jancborchardt commented on #7813
That exactly is the plan as written up in https://github.com/owncloud/core/issues/3224 (back in May 2013 ;)

Closing this in favor of the other issue hence.

[2015-03-17 17:00] #7813 closed

[2015-03-17 17:01] PVince81 commented on #14964
Note: on stable8 the WebDAV list still appears. So I suspect that some invalid/truncated/broken values are inserted on master.

Okay, getting closer: I compared oc_filecache between stable8 and master and noticed that stable8 (where it worked fine) contains additional entries, all related to single quotes:
[code]

[2015-03-17 17:02] jancborchardt commented on #14694
This is a duplicate of https://github.com/owncloud/core/issues/2589

[2015-03-17 17:02] #14694 closed

[2015-03-17 17:07] PVince81 commented on #14964
It looks like the single quote restriction was introduced by this commit: 2f18a09a20cf62438c742c3020215cab03bc997d

This means the smashbox errors we see might be caused by multiple issues, let's address them one by one.

[2015-03-17 17:07] jancborchardt opened #14965 "Adding user with already existing name gives unintelligble error"
1. Have a list of users
2. Try to add a new user with an already existing name
3. Get unhelpful error modal: »Unable to create user«

Instead, there should be an inline tooltip at the username input field which says »Username already taken«.

[2015-03-17 17:16] jnfrmarks opened #14966 "PHP default_charset check behaves differently between webUI and autoconfig"
### Steps to reproduce

1. Install master
2. complete configuration via webUI --> all is well
3. install master
4. complete configuration using autoconfig --> get error

### Expected behaviour

The behaviour should be consistent, regardless of which is correct

### Actual behaviour

The autoconfig installation fails due to :

[code]

Follow on questions:

Is the php setting check new with master?

[2015-03-17 17:18] LukasReschke commented on #14966
Your CLI PHP uses another php.ini which has the wrong value set - the web interface gets a corrected value via the .htaccess file. Not much we can do except to fix the php.ini of the cli :)

[2015-03-17 17:21] jancborchardt commented on #11515
Fix at https://github.com/owncloud/core/pull/14967

[2015-03-17 17:22] jancborchardt commented on #14519
We do though. »Security & Setup warnings« is the entry which is at the very top, and that’s linked in the sidebar.

Or what do you mean @MTRichards? Please clarify.

[2015-03-17 17:23] PVince81 commented on #14964
Raised PR to fix reallow single quotes in file names: https://github.com/owncloud/core/pull/14968

[2015-03-17 17:23] jancborchardt commented on #11420
@Kondou-ger do you have any idea? cc @MorrisJobke as well.

[2015-03-17 17:24] jnfrmarks commented on #14966
Did we improve the php checks in master? I hadn't seen this before.

[2015-03-17 17:25] jancborchardt commented on #12550
@GnaXi can I ask you to open issues with the desktop client in that repository: https://github.com/owncloud/client/issues

(That’s also the reason why no one answered so far. Sorry about that!)

[2015-03-17 17:25] #12550 closed

[2015-03-17 17:26] MTRichards commented on #14519
I think just a back tothe  top link at the top on the left top. How would you know that security and setup is the top of the menu? Clear we did not, so just a quick explicit item that provides this would be good.

[2015-03-17 17:26] jancborchardt commented on #11339
@DeepDiver1975 help please ^

[2015-03-17 17:29] jancborchardt commented on #14965
cc @raghunayyar @icewind1991

[2015-03-17 17:29] #14966 closed

[2015-03-17 17:30] jancborchardt opened #14969 "User management: useless modal error when group input not filled in"
When you add a group, but don’t specify a name before clicking the plus [+] button, this error appears:

Instead, the plus button should just be disabled when the input is empty.

@raghunayyar @icewind1991

[2015-03-17 17:33] PVince81 commented on #14964
To look into:
- [ ] single quote missing: https://github.com/owncloud/core/pull/14968
- [ ] issue with other failing cases (even after reverting 2f18a09), possibly related to "insertIfNotExists" (I cannot easily revert it for testing)
- [ ] mysterious backtick files

[2015-03-17 17:37] LukasReschke commented on #14966
Yes. – You can see the current checks at https://github.com/owncloud/core/blob/ebb834d879f10ea24b8cf032f6f0000076843195/lib/private/util.php#L580-L606 - `ini` defines the checks for the PHP settings.

In Apache we try to override some using the .htaccess, in CLI that's not possible and users have to adjust the CLI.

[2015-03-17 17:43] karlitschek commented on #14187
Yes. I assume this is fixed. Let´s close it for now. We can always reopen if the problem still exists.

[2015-03-17 17:43] #14187 closed

[2015-03-17 17:46] jancborchardt commented on #10815
Fix at https://github.com/owncloud/core/pull/14970, please review @jvillafanez

[2015-03-17 17:46] jancborchardt commented on #13264
Fix is at https://github.com/owncloud/core/pull/14970, please review @MadEgg :)

[2015-03-17 17:49] jancborchardt commented on #13562
Yeah, this seems to be a bug. @raghunayyar can you have a look at it?

[2015-03-17 17:58] karlitschek commented on #14963
@LukasReschke Do you have any creative idea how to improve the user experience here? Can we detect this somehow and add a better error message? I´m not sure but we get a ton of error messages with the current behavior.

[2015-03-17 17:59] LukasReschke commented on #14963
ownCloud Proxy and SSL support is completely broken. Nothing we can really do more except a complete rewrite. Sorry. – It's not only broken in regard to the AppStore but in A LOT of other places as well.

Luckily I spent yesterday and today to rewrite that whole HTTP client handling: https://github.com/owncloud/core/pull/14913

That should help… – But then again only 8.1 ;-)

[2015-03-17 18:00] watermark opened #14971 "Re-share not visible to original owner"
__Summary:__
User1 shares "folder1" with User2, such that User2 has the ability to re-share that folder.  If User2 re-shares "folder1", User1 is not informed and has no ability to see who it has been re-shared with, or even that it has been re-shared.

This same scenario applies to "share by link".  If two users share the exact same folder, each user will get a unique link.  There may be an argume

[2015-03-17 18:00] LukasReschke commented on #14963
For ownCloud 8 I can add a somewhat "easier to understand" warning, but that would be only a hack and not really fix the underlying problem… Will think how to do this though.

[2015-03-17 18:01] karlitschek commented on #14963
@LukasReschke Hmm. This sucks. Maybe we should then switch back to http or disable cert checks for 8.0.x Because the current behavior really sucks for a lot of users.

[2015-03-17 18:01] karlitschek commented on #14963
what do you think?

[2015-03-17 18:03] LukasReschke commented on #14963
If it is only the appstore problem I can add yet another gigantic hack under the premise that we fix it properly anyways for 8.1… It's broken in a lot of other places again as I stated :see_no_evil:

[2015-03-17 18:04] LukasReschke commented on #14963
That said this will only address the "SSL certificate cannot get verified warning"… Not the fact that some cURL versions and the remove server sometimes do nasty stuff that leads to unexpected results :see_no_evil:

[2015-03-17 18:06] jancborchardt opened #14973 "Make search box work in user management"
We currently have an extra search bar in the users management. Instead, the search box in the header should be made to work with that. Just like in the apps management.

cc @butonic @raghunayyar @icewind1991 :)

[2015-03-17 18:09] jancborchardt commented on #14519
Not sure if this is really a problem. In the past we did not have an entry for »Security & Setup warnings«, so the problem probably stems from that.

[2015-03-17 18:10] jancborchardt commented on #14796
@MorrisJobke I was talking about the »notify by email« checkbox which shows up next to each user in the share dialog. Of course I _don’t_ want to remove the »send link by email« feature.

[2015-03-17 18:19] Xsysstar commented on #14187
@josh4trunks I used the Ubuntu trusty packages of PHP and any of its modules. It seems trusty [contains](http://packages.ubuntu.com/trusty/php/) a buggy php5-apcu version (4.0.2-2build1). My ownCloud-installation is of version 8.0.1.

I followed @cyking's instructions for upgrading PHP, which (with APCu enabled) seems to indeed work (for now).

[2015-03-17 18:21] karlitschek commented on #14963
@LukasReschke I understand. Let´s do whatever you suggest.

[2015-03-17 18:24] padjon opened #14974 "Wrong translation in share-email"
if you share a folder via email, you get the following text in german:

Hallo,

wir möchten dich nur wissen lassen, dass XXX YYY mit dir geteilt hat.
Ansehen!

Die Freigabe wird am 24. März 2015 ablaufen.

Hallo!
=====

The mail ends with "Hallo!" - i think its because of the wrong translation of "cheers".

[2015-03-17 19:06] j-ed commented on #14935
@LukasReschke Never mind, I'm using the following distribution: http://www.eisfair.org/home/download/
Let me know if I can provide additional debug information.

[2015-03-17 19:13] RealRancor commented on #14974
Hi,

translations are handled at https://www.transifex.com/projects/p/owncloud/ where you could submit a correction.

[2015-03-17 19:14] #14974 closed

[2015-03-17 19:34] karlitschek commented on #14971
@MTRichards @schiesbn what do you think?

[2015-03-17 19:51] karlitschek commented on #14956
yes. agreed!

[2015-03-17 20:05] orzel opened #14976 "404 on 'download' buttons, but only for individual file"
I've updated from 7.0.2 to 8.0.0 and few days later i also moved the datadir. I'm not sure if the problem occured between those two events as it's only one link that fails, everything else work. I've updated to 8.0.2 since then in the hope of having this bug fixed (but nope).

What's sure, with my current setup (new datadir/ and using 8.0.2).
* i can do almost almost everything i could before, cre

[2015-03-17 20:27] #14959 closed

[2015-03-17 20:29] taurhine commented on #14908
I have tried to reproduce the bug with some other folders but so far no luck.
Renaming shared folders locally make no difference on the server side. Even after local rename folders keep on syncing without a problem.

What is really weird is the error message "The resource you tried to create already exists". It somehow has seen that the folder Fotos already exists on the server and but then remove

[2015-03-17 20:35] MTRichards commented on #14971
This is related to https://github.com/owncloud/core/issues/9058
I would go with that, and essentially collapse resharing into adding the "reshared" users to the original share list.

[2015-03-17 20:43] watermark commented on #14971
@MTRichards yep, that ticket sounds great to me

[2015-03-17 20:43] #14971 closed

[2015-03-17 21:14] awikatchikaen commented on #14754
Why not doing like piwigo (anothe php webbased service) and its plugins ?

All plugins have in metadatas the core version compatibility. When the core is upgraded, there is a warning with a list of plugins still not marked as compliant by the maintainer. If the OC admin still do the upgrade, only the not compliant plugins are disabled...

There, for maintainers that have tested during betas, the p

[2015-03-17 21:16] git-marijus opened #14977 "Update of an app looks like an update of the ownCloud version - bad UX"
enable files_sharing app from admin panel makes oc want to update again. had to disable it in the db to be able to log in again.

[2015-03-17 21:17] LukasReschke commented on #14977
Thanks a lot for reporting issues back to us!

We need some more information to properly support you with your issue!

Can I ask you to follow our guidelines for submitting bugs as described here: https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

[2015-03-17 21:17] LukasReschke commented on #14976
Can you fill out the issue template? THX!

https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

[2015-03-17 21:22] karlitschek commented on #14754
@awikatchikaen We do the same. App developer can add the information which core versions are compatible. Unfortunately a lot of (most) app developer don´t maintain this information properly in the apps.

[2015-03-17 21:24] git-marijus commented on #14977
### Steps to reproduce
1. update to oc 8.0.2
2. enable files_sharing
3. logout

### Expected behaviour
login visible

### Actual behaviour
oc wants to update again... only allows login after disabling files_sharing in db

### Server configuration
**Operating system**:
linux

**Web server:**
nginx

**Database:**
mysql

**PHP version:**
5.6
**ownCloud version:** (see ownCloud admin page)
8.0.2
**Upd

[2015-03-17 21:24] RealRancor commented on #14963
If this is fixed consider going through the issue tracker and search for all "App does not provide an info.xml file" issues. From what i see there are at least 4-5 issues reported here but i don't know if all of them are related.

[2015-03-17 21:41] nsediq commented on #14963
Hi
@RealRancor i see before the oldest issues. but all of them was for update from a old version of OC into 8.0.2. my issue that distinct from others, is that the fresh installation of OC 8.0.2 generated this error.

[2015-03-17 21:43] Kondou-ger commented on #11420
Looks like something is wrong with cropping the image … Probably something server side, because the server doesn't even ask for cropping data via jcrop, but immediately errors out …

@juju95 what if you upload an avatar that's already cropped and has square dimensions?

[2015-03-17 21:44] mvdbos commented on #14131
I got the same error. After some googling, I found that this can be the case when the region is not set correctly. It defaults to eu-west-1. My region was eu-central-1. After setting that, everything worked (as long as I didn't enable SSL...)

[2015-03-17 22:03] enoch85 commented on #14850
Any update here? 8.0.2 has been official for like one week now. @jnweiger

[2015-03-17 22:07] enoch85 commented on #7072
Anyone tested with client 1.8.0 and server 8.0.2?

[2015-03-17 22:12] RealRancor commented on #7072
Also consider: https://github.com/owncloud/client/pull/2978

https://forum.owncloud.org/viewtopic.php?f=14&t=17477&p=79098#p79073

[2015-03-17 22:13] enoch85 commented on #8668
@JamborJan Is this still an issue?

[2015-03-17 22:34] tilllt commented on #13934
is the problem i experienced unrelated to this, if so, should i open another ticket for it?

[2015-03-17 22:42] joschal commented on #14911
I suffer from the same bug. Neither an upgrade to v8.0.2 nor v8.0 works. I have no third party apps installed.
I'm on a shared linux hoster, so I can't shut down the web server while upgrading. Might the problem be caused by that? As far as i can recall upgrades to v6.0 and v7.0 worked just fine.

[2015-03-17 22:59] julian-gehring commented on #7072
With the client 1.8.0 (mac) and owncloud server 8.0.2 (nginx, mysql), it takes me 161s to upload 100 3-byte text files (one directory of the stresstest data in the first comment).

[2015-03-17 23:00] chuckingit commented on #14932
Hi - i too found some error messages related to fileglobalgc.php after i upgraded from 8.0.0 to 8.0.2 ... initially i posted my issue here -> https://github.com/owncloud/owncloud.org/issues/467#event-257288504 -> but that apparently was wrong place thus reposting here in case my issue is related to the array_walk callback issue mentioned above ..??..

background = i updated earlier today from 8.0.

[2015-03-17 23:02] Volker-E opened #14978 "Cleanup Conditional IE html classes / no longer support IE6 & 7 explicitely"
It's time to update the conditional html element classes for targeting IE 6 & IE 7 and just set one for IE8 and below and one for IE9.<br />
Turning in `/core/templates/layout.base.php` from

    <!DOCTYPE html>

    <html class="ng-csp" data-placeholder-focus="false" lang="<?php p($_['language']); ?>" >

to

    <!DOCTYPE html>

    <html class="ng-csp" data-placeholder-focus="false" lang="<?php

[2015-03-17 23:09] ollyphobie commented on #14911
if have also no third party apps installed.
So, please - how can i get forward or back to the backup version???????? I have no time to look hours and hours for that stuff. It calls an UPDATE CENTER. So , please it's your turn that the upgrade will be work fine. Or give me SIMPLE ORDER what can i do. Step by Step. Thank you.

[2015-03-17 23:27] boltronics commented on #14850
I just had to disable the update warning notification. It was getting really annoying. Still feeling nervous about not having security patches applied. Security issues should not be announced by a project if patched packages are not yet available!

[2015-03-17 23:48] Volker-E opened #14979 "meta charset declaration should be in the first 1024 byte"
The `meta charset` declaration [should be in the first 1024 bytes of the webpage](http://www.w3.org/International/questions/qa-html-encoding-declarations.en).

Currently it resides below the `<title>` tag, which could in rare cases of overextended titles lead to have put the meta declaration outside of this limit. Therefore I suggest putting the meta charset declaration at top of title tag. I don'

[2015-03-18 00:12] #11515 closed

[2015-03-18 00:12] MorrisJobke commented on #11515
@PVince81 Backport needed?

[2015-03-18 00:17] MorrisJobke commented on #14796
-.- Sorry I totally mixed this up. My fault :(

[2015-03-18 00:19] MorrisJobke commented on #14796
Yes. This setting is kind of useless here. Each user should decide this for itself. Not the sharer.

[2015-03-18 00:21] mbach04 commented on #14231
Hello everyone,

I've run into this same issue with an 8.0 install of Owncloud via a EC2 instance on Amazon Web Services. The install comes ready to rock from Bitnami, it's running the required PHP as well. However, creating a share link via curl with the following command:
[code]
Returns the following:
[code]
When I try to access the link provided I receive the "INTERNAL SERVER ERROR" Splash page

[2015-03-18 00:39] bantu commented on #11270
@jayenne01 @adamehirsch Can you please explicitly confirm that you have the php5-curl package installed?

[2015-03-18 00:46] Volker-E opened #14982 "Self-closing tags ending slash doesn't have purpose and should therefore be removed"
In the `<head>` element of the different template/layout* files are single tag elements with both, no ending slash and ending slashes.

Citing from https://stackoverflow.com/questions/3558119/are-self-closing-tags-valid-in-html5 :

<small>Accentuation by issue author</small>

So for example

    <link rel="stylesheet" href="<?php print_unescaped($cssfile); ?>" type="text/css" media="screen" />

sh

[2015-03-18 00:48] bantu commented on #14406
@davleema @Ypnose How are you uploading ownCloud? ownCloud Client as in https://github.com/owncloud/core/issues/14406#issuecomment-75554582 ?

[2015-03-18 00:53] bantu commented on #5600
@LukasReschke Can you please have a quick look at this? It might be no longer necessary.

[2015-03-18 01:19] davleema commented on #14406
No , uploading in webinterface, using Firefox.

On March 18, 2015 1:48:32 AM CET, Andreas Fischer <notifications@github.com> wrote:

--

[2015-03-18 02:10] orzel commented on #14976
### Server configuration

Gentoo ~amd64 up-to-date, nginx-1.7.8, mariadb-10.0.15, php-fpm 5.5.22, owncloud 7.0.2, 8.0.0 and 8.0.2.

**List of activated apps:**
No more activated apps than default.

**The content of config/config.php:**

(edited:)
<?php
$CONFIG = array (
  'instanceid' => 'XXXXXXXXXXXX',
  'passwordsalt' => 'xxxxx',
  'trusted_domains' =>
  array (
    0 => 'owncloud.xxxx',
  ),

[2015-03-18 02:10] Volker-E opened #14983 "Remove Google Chrome Frame Option for IE"
Google Chrome Frame retired for more than a year now.
See http://www.chromium.org/developers/how-tos/chrome-frame-getting-started

[2015-03-18 03:34] adamehirsch commented on #11270
Sure can:

ii  php5-curl                           5.3.10-1ubuntu3.16
 CURL module for php5

On Tue, Mar 17, 2015 at 7:39 PM, Andreas Fischer <notifications@github.com>
wrote:

--
Adam Hirsch | Journalist | +1.917.720.5469

[2015-03-18 05:12] kerhac commented on #6982
@jancborchardt I pushed this fix to a fork, never to the owncloud/core repo, I should not/don't have access to the owncloud master. The fix never passed my testing that's why I didn't opened a Pull Request but deleted the fork. I'm a little surprised to see the commit show up here.
Regards Julian

[2015-03-18 06:03] bs commented on #12835
Seems like a bug to me. It looks like it should play (displays a play button) but then doesn't.

[2015-03-18 06:30] Volker-E opened #14984 "Remove unnecessary `type` attributes from link stylesheet and script tags"
In HTML5 `type="text/javascript"` and `type="text/css"` are optional/useless for the default assumed types.
See http://dev.w3.org/html5/spec-preview/Overview.html#the-link-element and http://stackoverflow.com/a/14323399/1696030
Remove the redundant attributes!

[2015-03-18 06:51] LEDfan opened #14985 "fetchRow method removed after upgrade to DBAL 2.5.x"
Hi

When trying to run the Chat app with ownCloud master I'm getting this error:
[code]

The documentation says this
[code]
Which is almost the same code as I'm using. I think this method is removed after upgrading to DBAL 2.5.x?

Why is this method removed?

[2015-03-18 07:14] DeepDiver1975 commented on #14985
@Raydiation did we mess up the methods somehow? Can you please have a look? THX

[2015-03-18 07:15] DeepDiver1975 commented on #14985
@LEDfan which core version are you running? master? THX

[2015-03-18 07:22] LEDfan commented on #14985
@DeepDiver1975 I'm running master indeed.
I updated the error I get.

[2015-03-18 07:35] mhow2 commented on #14492
package php5-intl is installed
locale en_US.UTF-8 is installed

[2015-03-18 07:46] DeepDiver1975 commented on #14492
Hmmm - I honestly think this is an environment issue.
I just tested this on demo.owncloud.org(which is OC8) and this works - but on another test instance with OC6 this was working as well.

[2015-03-18 07:46] nickvergessen commented on #13934
@tilllt it could be the same problem. If you know coding, you could try to add the fix https://github.com/owncloud/core/pull/14914/files to your installation and help testing it.

[2015-03-18 07:46] jackyes commented on #14850
"No linux packages for 8.0.2 are released by now. QA approval pending."

@jnweige does it take more than 5 days? it's the first time i use the auto update package...is  it  normal that it takes so long?

[2015-03-18 07:48] DeepDiver1975 commented on #14978
@jancborchardt THX

[2015-03-18 07:51] deMattin commented on #14850
In the past the suse repository updates often have been faster than the official announcements!

[2015-03-18 07:51] DeepDiver1975 commented on #14976
Could that be an issue with the nginx configuration? Can we see the nginx config? THX

[2015-03-18 07:57] jackyes commented on #14850
Yes! working is better....better late than never

[2015-03-18 08:02] Raydiation commented on #14985
https://github.com/owncloud/core/blob/master/lib/private/db/statementwrapper.php

This is some none standard kung fun that we've added on the statement wrapper. Since master skips this now and uses the connection directly, this won't work anymore ofc. If this is still in the docs, we need to fix it. The correct method is fetch instead of fetchRow. This also works on lower versions so I'd simply cl

[2015-03-18 08:07] Raydiation commented on #14985
This should however still work fine if you are using IDb instead of IDbConnection like in the change since that class still wraps the thing in the statement wrapper https://github.com/owncloud/core/blob/master/lib/private/appframework/db/db.php#L58

[2015-03-18 08:11] LEDfan commented on #14985
@Raydiation the Mapper class use the IDBConnection: https://github.com/owncloud/core/blob/master/lib/public/appframework/db/mapper.php#L48 .

IMO this is a change to our public API (i.e. the mapper) and this will break some apps.

[2015-03-18 08:14] Raydiation commented on #14985
Ok, I see where the issue lies now, this breaking change was actually not expected :P. The plan is to remove fetchRow but with a migration period of 2 years but still keep the old stuff working until then. The issue is here: https://github.com/owncloud/core/blob/master/lib/public/appframework/db/mapper.php#L195

The statement for doctrine is not returned from the execute method, IDb and our statem

[2015-03-18 08:28] Raydiation commented on #14985
I didnt test the PR, can you check if it works?

[2015-03-18 08:48] Raydiation commented on #14985
Or tell me how to test it for the chat app ;)

[2015-03-18 08:49] dragotin commented on #7072
Note that other users reported slowness with the Virusscanner enabled: https://forum.owncloud.org/viewtopic.php?f=14&t=17477&p=79098#p79073

[2015-03-18 08:54] julian-gehring commented on #7072
There is no virus scanner present in my case.

[2015-03-18 09:09] RealRancor commented on #7072
Just note that the user is probably talking about the files_antivirus app. But i bet other virus scanner solutions on the client or the server checking each up/downloaded file could also cause this.

[2015-03-18 09:13] dragotin commented on #10192
Sorry, that is version 1.6.1 with IIS webserver. This is not quite supported. Please update to client 1.8.0 and the latest server, but keep in mind that running ownCloud server on Windows is not a supported thing.

[2015-03-18 09:13] #10192 closed

[2015-03-18 09:13] jmaciasportela opened #14988 "[OC8] File creation from app fail silently if default quota is set to 0"
This failure has been detected with ownbrander app. This app create some files from templates and store it on the user data folder.

### Steps to reproduce
1. Set default quota to 0
2. Assing default quota to a test user
3. Set up ownbrander, and generate new branding

### Expected behaviour
View a notification, with an error because of quota limits, or view a log with an exception when file_put_c

[2015-03-18 09:28] DeepDiver1975 commented on #14988
@icewind1991

[2015-03-18 09:29] Raydiation commented on #14982
@Volker-E feel free to submit a PR

[2015-03-18 09:29] jnweiger commented on #14850
Sorry for the long delay here. Today I saw that the test results are all good. I hope for a go-ahead today or tomorrow.

@deMattin I fully agree: 'fast and working' is the goal next time!

[2015-03-18 09:33] DeepDiver1975 commented on #8668
Might be fixed with upcoming 8.1 where we check for max filename length.

[2015-03-18 09:54] PVince81 commented on #14908
It is not necessarily safer in the web interface.

The reason you're not able to reproduce it is because there was probably some kind of race condition the first time it happened. Not sure why the server would still be processing stuff during 3-4 hours, unless you have encryption enabled + many share recipients + a huge amount of files.

[2015-03-18 09:59] PVince81 commented on #11515
No, too small and low

[2015-03-18 10:09] tilllt commented on #13934
FIY, this issue seems to have much deeper consequences than i first saw. Pretty much the whole "shared files" settings are lost or messed up, folder i never shared are suddenly shared, folders have weirdly wrong names, folder that were shared are not shared anymore...

![bildschirmfoto-2015-03-18-um-11 05 15](https://cloud.githubusercontent.com/assets/1854364/6706585/38013b78-cd5f-11e4-8d31-edc273

[2015-03-18 10:14] cortopy opened #14990 "Update message in Debian/Ubuntu WebUI is misleading"
I just did a fresh install of Owncloud. Judging from the docs https://owncloud.org/install/ I thought I was going to get the 8.0.2 version but I got 8.0.0 instead. Then, I got a message in the webUI saying I need to update.

This problem has been reported already https://github.com/owncloud/core/issues/14850

However, I'm opening this issue because app manager installations may deserve their own u

[2015-03-18 10:16] cortopy commented on #14850
I'm experiencing all these issues in Ubuntu too. I've opened a bug issue about the messaging system and the inaccuracy in the docs

https://github.com/owncloud/core/issues/14990

Apart from that, looking forward to the update. Thanks @jnweiger !!

[2015-03-18 10:16] PVince81 commented on #13934
@tilllt "folder that wasn't shared is suddenly shared". You are using SQLite, aren't you ? This sounds like the "fileid" recycling issue: #14665
Better restore your database. If possible, switch to MySQL or PostgreSQL.

[2015-03-18 10:20] tilllt commented on #13934
@PVince81: no, this is on mysql: 5.5.41-0+wheezy1 - (Debian), nginx 1.6.2, PHP 5.5.22-1~dotdeb.1

[2015-03-18 10:24] #14978 closed

[2015-03-18 10:25] jancborchardt commented on #14979
Fixed by https://github.com/owncloud/core/pull/14981

[2015-03-18 10:25] #14979 closed

[2015-03-18 10:25] jancborchardt commented on #14982
Fixed by https://github.com/owncloud/core/pull/14981

[2015-03-18 10:25] #14982 closed

[2015-03-18 10:25] jancborchardt commented on #14983
Fixed by https://github.com/owncloud/core/pull/14981

[2015-03-18 10:25] #14983 closed

[2015-03-18 10:25] jancborchardt commented on #14984
Fixed by https://github.com/owncloud/core/pull/14981

[2015-03-18 10:25] #14984 closed

[2015-03-18 10:26] PVince81 commented on #13934
By the way, you should never truncate "oc_filecache" (some blogs said so but were wrong, it breaks shares). If it's on mysql, I can't explain why files and shares would mix themselves up. As far as I know, MySQL's autoincrement shouldn't reuse older file ids.

[2015-03-18 10:27] jancborchardt commented on #6982
@kerhac yeah, I can’t find the commit in the history, so it showing up in here is probably due to some Github linking magic.

[2015-03-18 10:27] jancborchardt commented on #10102
A related issue: https://github.com/owncloud/core/issues/6982 (maybe it’s also a duplicate of this)

[2015-03-18 10:29] jancborchardt commented on #14796
So – @karlitschek since you said »users like this feature« I’m pretty sure you also meant the »Send share link via email« feature. But we were talking about the »notify by email« checkbox, which isn’t even there by default.

Can we remove that? As Morris said, the sharer shouldn’t decide that, as it’s handled by the notifications. It’s basically a legacy piece we added back when we didn’t have ema

[2015-03-18 10:39] jayenne01 commented on #11270
Over here, it is:
ii  php5-curl                            5.4.36-0+deb7u3               i386         CURL module for php5

[2015-03-18 10:45] fbassas opened #14991 "can not share calendars after update to 8.0"
Running on ubuntu 14.04
Upgrade made using "apt-get upgrade owncloud"
Disabled "shorty" app cause not supported by OC 8.0
Firs I had problems to access existing calendars until I applied #14275 fix
apache 2.4.7
php 5.5.9

Problem description:
-I create a calendar with user us1 and share it among group gr1
-I copy share link, which is:https://aaaaaaaaaaaa.aaaa.aa/owncloud/remote.php/caldav/calendar

[2015-03-18 10:47] tilllt commented on #13934
Could my problem be related to wrongly duplicating / backup of the database before installing a new version? I usually make a database copy in phpmyadmin before doing an upgrade using the default settings like this:
![bildschirmfoto 2015-03-18 um 11 45 16](https://cloud.githubusercontent.com/assets/1854364/6707153/7766c13e-cd64-11e4-8056-dca047b9dc34.png)

[2015-03-18 10:51] PVince81 commented on #13934
@tilllt not sure. But if the backup involves modifying the fileid (maybe that "AUTO_INCREMENT" option), then it will likely break the file-share relationships. Shares are linked to files using the fileid.

[2015-03-18 10:56] LukasReschke commented on #14991
Please reopen at https://github.com/owncloud/calendar

[2015-03-18 10:56] #14991 closed

[2015-03-18 11:02] tilllt commented on #13934
@PVince81 from my research, NOT adding the auto_increment option would break the database copy... but maybe that info is wrong. So, if truncating the OC_FILECACHE is not the way to do it, what is the correct way to completely scratch the filecache and rebuild it? dropping / truncating the OC_filecache table is what is basically mentioned everywhere as the only working method.

[2015-03-18 11:03] PVince81 commented on #13934
You should only run "./occ files:scan --all". It should automatically delete the outdates entries and add/update the correct ones based on whatever is actually on disk.

[2015-03-18 11:06] nickvergessen commented on #14796
Well if we only had some usage stats for the activity app. But I assume it is okay to say "we remove this feature from the core. If you want it, use the activity app"

[2015-03-18 11:09] PVince81 commented on #14964
Test case:
1. Create a local file called "`backtickfront.txt"
2. Wait for sync upload
3. Edit the local file
4. Wait for sync again

get this:
[code]

[2015-03-18 11:11] jancborchardt commented on #14796
I mean – the feature is not enabled by default anyway.

Maybe it’s time to think about putting the notifications mechanism in core instead? It’s a really core feature of file management/sharing, while a view on activity seems quite different. It’s actually a bit confusing that they belong together.

[2015-03-18 11:20] ShamimIslam commented on #13814
I've created an app that does this. But it requires a change in the
checkPassword function. Because the "pre_login" does not execute every time
nor does it allow me to intercept the call.

On Tue, Mar 17, 2015 at 9:54 AM, Lukas Reschke <notifications@github.com>
wrote:

[2015-03-18 11:38] PVince81 commented on #14964
- [ ] invalid files break the whole PROPFIND (regression from stable8), fix here: https://github.com/owncloud/core/pull/14994

[2015-03-18 11:39] LukasReschke commented on #14964
Can you try https://github.com/owncloud/core/pull/14995?

[2015-03-18 11:51] jonlapointe opened #14996 "Update from 7.0.4 to 8.0.2 takes forever"
Hi,

I tried to update three days ago from OC7.0.4 to OC8.0.2 via the openSuse method on a Debian 7 server.

On the home page I have the "This ownCloud instance is currently being updated, which may take a while." message. The "While" is now three days. Is it normal ? I have around 60Gb of encrypted data.

In the config file, it still shows version 7.0.4

I tried to turn off maintenance mode, chan

[2015-03-18 11:52] jancborchardt commented on #12431
As @Xenopathic explained, the cases are different.

I would prefer for the autosuggestions in the share dialog to work earlier already – that is after the first character is put in. But I guess that’s too much of a performance hit?

[2015-03-18 11:54] jancborchardt commented on #9551
I agree with @PVince81 here. It’s obviously a bug – users shouldn’t show up in a group that they haven’t been added to.

[2015-03-18 11:56] jancborchardt commented on #13161
Best would be to both show a spinner inline inside the list at the correct position, as well as autoscroll to that position in the list.

[2015-03-18 12:22] enoch85 commented on #14231
@mbach04 This will be fixed in 8.1.

[2015-03-18 12:29] Zotzi commented on #14911
Gibt es schon eine Lösung zu dem Problem? Gerne auch eine Erklärung wie ich wieder zum alten Stand zurück komme...

[2015-03-18 12:35] PVince81 commented on #14911
Before the problem can be fixed, it needs to be understood and reproducible.

It would be useful if @Zotzi, @joschal and @feschi55 would also post their owncloud.log (and environment) so we can see if it's the same error as @ollyphobie and hopefully find a way to reproduce it. Also tell us how you upgraded. Did you: Manually replace the code ? Use the updater app in the admin settings ? Update fro

[2015-03-18 12:49] karlitschek commented on #14990
how did you install ownCloud ?

[2015-03-18 12:54] karlitschek commented on #14492
@mhow2 Can you try to test on a different machine/OS ?
I´m closing this until we got more information what exactly is the special difference in the environment.

[2015-03-18 12:54] #14492 closed

[2015-03-18 12:54] Astraltrooper commented on #14905
Man you can not use "chmod -R 777".  It`s a serious threat to the security of owncloud service. Especially if you host it on a server connected to internet. This is not a good solution

[2015-03-18 12:54] cortopy commented on #14990
I followed the instructions for xUbuntu 14.10 at http://software.opensuse.org/download/package?project=isv:ownCloud:community&package=owncloud

[2015-03-18 12:55] karlitschek commented on #14990
So the 8.0.2 linux packages are not out yet. They will be release inthe next few hours. You will get an update then.

[2015-03-18 12:55] #14990 closed

[2015-03-18 12:57] nickvergessen commented on #14956
You mean, if it is empty display a warning + link to the docs?

[2015-03-18 12:58] mredlancelot commented on #14905
@Astraltrooper I agree with you, what should the permission be?

[2015-03-18 13:09] Astraltrooper commented on #14905
I'm working on it. I have the same problem as the author of the topic

[2015-03-18 13:12] RealRancor commented on #14996
Hi,

it is known that the upgrade with encrypted data takes a long time. That should be fixed in 8.0.3.

You can also try to set the maintenance option in your config.php to false as described in the upgrade manual.

[2015-03-18 13:13] armaccloud commented on #14905
Hi @mredlancelot,
Thanks, what I have done is the following from your recommendation (mine is ubuntu server):
```chown -R www-data:www-data /var/www/owncloud```

Fortunately this already allowed me to perform the upgrade and all is running well now.
My environment is running on the internet, so I am curious whether this action has any security consequences. I wouldn't think so myself, for only the

[2015-03-18 13:13] nickvergessen commented on #119
UI proposal:
![undo-idea](https://cloud.githubusercontent.com/assets/213943/6709340/e6880398-cd78-11e4-8275-a30dd28a4918.png)

[2015-03-18 13:19] orzel commented on #14976
@DeepDiver1975
Very good point ! I've narrowed the problem some more. You mentionning nginx made me think that i forgot to mention i'm using the neat xsendfile stuff. And indeed the bug appearing with download but NOT with zip-creation was a good indicator toward this.

I had followed this:
https://doc.owncloud.org/server/7.0/admin_manual/configuration/xsendfile.html

I'm using xsendfile stuff on

[2015-03-18 13:22] nickbunyan commented on #7072
Sorry Folks. but I have been following this for a year, hoping that something significant would change, because I really like the idea of the project, but it seems the basic server side design is still flawed, and I don't have any more patience. I am back to cron and rsync. Good luck!

[2015-03-18 13:24] Astraltrooper commented on #14905
From what I see, "chown -R www-data: www-data / var / www / owncloud / also works for me. But it think that not all files in a ownclud directory should have such owner. I'm not sure how serious security threat is that.

[2015-03-18 13:28] LukasReschke commented on #14976
XSendFile is broken on NGINX and ownCloud 8: https://github.com/owncloud/core/pull/14125

If you want the best result (i.e. that what we developer use) stick with Apache or find somebody to review that :see_no_evil:

[2015-03-18 13:44] tilllt commented on #13934
i re-exported my OC7.0.4 database, left out the truncate OC_FILECHACHE step and converted the database scheme again to 8.0.2 ... seems to have been the culprit for all the weird things happening. so the cause of the problem seem to have been the bad advice i had been following of truncating the table. unfortunately this advice seems to be all over the internet so i guess a lot of people will do th

[2015-03-18 13:45] orzel commented on #14976
Ok, i've subscribed to this other ticket as well.
I've used and administered apache for very long, but I now consider it an old weird remains of very old age. There's no way me going back to those ugly config files and complex systems.
So i'll keep disabling xsendfile until this is fixed :-/

[2015-03-18 13:50] Xenopathic commented on #12431
@jancborchardt I think the problem with the share dialog is that with only a single character you are probably matching ~80% of the users in your oC - hardly useful as a filtering mechanism. If this inconsistency is considered an issue, my vote goes to greying out the user list filter until there are enough characters, then it turns white and the filtering takes place. That gives suitable user fee

[2015-03-18 14:03] jonlapointe commented on #14996
Maintenance option is set to false in the config. It doesn't change a thing.

[2015-03-18 14:08] christianlx opened #15000 "How is working "create" right ?"
Hi,

I'm testing share with special rights and I've a strange behaviour with the create option. I'de like to share a directory with another user. I'd like he can read and modify my files but not add or delete in this directory.

I share with "can modify" an "can update" and I've disabled delete and create.

The user can view my file, he can't delete or add something but he can't modify the existin

[2015-03-18 14:17] RealRancor commented on #14996
Are you really sure? Picked the wrong config.php? The initial posted message is only shown if maintenance is set to true.

[2015-03-18 14:18] MorrisJobke commented on #14977
This is the update of the files_sharing app. Just proceed with this "update" and then you will be able to login as normal with the enabled files_sharing app.

@jancborchardt @PVince81 @LukasReschke This is a bad UX because for a app update the same screen is shown: "Update your owncloud to version 8.0.2" but it will just do an update of an app to a new version. Is there a way to have a proper text

[2015-03-18 14:21] PVince81 commented on #14977
Yes, this is something that still needs to be done.

The code needs to find out whether the update requirement was triggered by core or by apps, then adjust the message in the template accordingly.

[2015-03-18 14:27] mredlancelot commented on #14905
can someone else advise on what the permissions should be for the www/ownclod folder and subfolders. I'm thinking

chmod -R 554

does that sound good?

[2015-03-18 14:38] DeepDiver1975 commented on #14996
@jonlapointe try to upgrade using the console client - maybe this helps

[2015-03-18 14:39] jonlapointe commented on #14996
Just checked back the config.php file in var/www/owncloud/config and maintenance is set to false.
There is a change though, version is set to 8.0.0.x ! I guess it's in progress as it wasn't set to 8 earlier.

[2015-03-18 14:40] MorrisJobke commented on #13193
@PVince81 Do you have an idea how to solve this? @michaelstingl has this problem too.

[2015-03-18 14:45] michaelstingl commented on #13193
@MorrisJobke thanks!

00002734

[2015-03-18 14:47] jancborchardt commented on #12431
@Xenopathic we’re only looking for the beginning though (of username or display name), right? So probably only 1/26th of users would be matched?

[2015-03-18 14:49] MorrisJobke commented on #14977
I renamed the title to match this.

[2015-03-18 14:49] jancborchardt commented on #119
@nickvergessen we’re already working on it. The way it will look like is:
* file immediately vanishes (ideally with a slide animation)
* yellow notification shows up top saying: »Document.txt deleted. **Undo**«
* notification stays for 7 seconds, then the actual deletion takes place

[2015-03-18 14:51] PVince81 commented on #119
- if the user deletes another file before 7 seconds (or performs another action), the actual action/deletion is performed too

[2015-03-18 14:51] PVince81 commented on #119
@DeepDiver1975 not sure if your code handles this too ? (see previous comment)

[2015-03-18 14:55] Shamim-Capgemini commented on #119
How does a user cancel the operation?

[2015-03-18 15:03] DeepDiver1975 commented on #14782
@karlitschek can you answer @butonic's question? THX

[2015-03-18 15:05] jancborchardt commented on #119
@Shamim-Capgemini By clicking **Undo**, of course. (What I bolded above.)

And yeah, @PVince81 what you said.

[2015-03-18 15:08] DeepDiver1975 commented on #14886
@mbiebl can you get in touch with the hoster to get this sorted out - :crystal_ball: failed to reveal anything - THX

[2015-03-18 15:09] #14897 closed

[2015-03-18 15:11] Norahy commented on #14912
Great, thank you very much.
I noticed that the same problem occurs on the login screen if the password field is left emtpy.

[2015-03-18 15:12] jnweiger commented on #14725
8.0.2 is public now.

https://software.opensuse.org/download.html?project=isv:ownCloud:community:8.0&package=owncloud
http://download.opensuse.org/repositories/isv:ownCloud:community:8.0
https://build.opensuse.org/package/show/isv:ownCloud:community:8.0/owncloud

[2015-03-18 15:12] #14725 closed

[2015-03-18 15:12] DeepDiver1975 commented on #14996
@jonlapointe I assume you have enryption enabled - there is one migration step which is rather time consuming - and therefore using the console is recommended.

[2015-03-18 15:14] jnweiger commented on #14511
Fixed in 8.0.2, it is public now!

https://software.opensuse.org/download.html?project=isv:ownCloud:community:8.0&package=owncloud
http://download.opensuse.org/repositories/isv:ownCloud:community:8.0
https://build.opensuse.org/package/show/isv:ownCloud:community:8.0/owncloud

[2015-03-18 15:15] jonlapointe commented on #14996
@DeepDiver1975 Indeed, I have encryption enabled.
As the upgrade is already taking place, would it be a problem if I relaunch it from the console ??

[2015-03-18 15:15] DeepDiver1975 commented on #15000
@dragotin something we should have a look at together

[2015-03-18 15:18] DeepDiver1975 commented on #14996
you can execute the key migration explicitly:

[code]

[2015-03-18 15:18] jancborchardt commented on #14912
@Norahy did https://github.com/owncloud/core/pull/14918 fix the issue for you then? Did you test?

[2015-03-18 15:18] jnweiger commented on #14850
Linux packages for 8.0.2 are public now!

https://software.opensuse.org/download.html?project=isv:ownCloud:community:8.0&package=owncloud
http://download.opensuse.org/repositories/isv:ownCloud:community:8.0
https://build.opensuse.org/package/show/isv:ownCloud:community:8.0/owncloud

(Timing to be improved next time...)

[2015-03-18 15:18] #14850 closed

[2015-03-18 15:20] Norahy commented on #14912
Jap, test was successful!

[2015-03-18 15:21] MorrisJobke commented on #14912
I would like to not add more such hacks. The login field isn't a problem here, because an empty password isn't valid either. And I would rate the usage of "Password" as password as "bad password that never should be used - deal with it" ;)

[2015-03-18 15:21] caineone opened #15004 "share folder with groups doesnt work"
### Steps to reproduce
1. User and group Management via OpenLDAP, LDAP integration is working silent
1. There are "User1" and "User2" which are members of "Group A" and "User3"
2. "User1" is sharing a folder "Folder Z" with "Group A"
3. Later "User3" will be added to group "Group A"

### Expected behaviour
"User2" should have access to "Folder Z" via group access rights
Same for later for added "U

[2015-03-18 15:23] Norahy commented on #14912
Alright, got it ;) Thanks!

[2015-03-18 15:25] jnweiger commented on #14601
The .htaccess file is included and flagged a configfile in 8.0.2, as released today.
That should fix the issue.
Please reopen, if needed. Thanks for the report!

[2015-03-18 15:25] #14601 closed

[2015-03-18 15:29] #14969 closed

[2015-03-18 15:43] etiess commented on #14850
@jnweiger what about for Ubuntu? Is http://download.opensuse.org/repositories/isv:/ownCloud:/community/xUbuntu_14.10/ not valid anymore?

[2015-03-18 15:50] Xenopathic commented on #12431
@jancborchardt I'm not sure how the filtering works - I always thought it did something like `.*foobar.*`

[2015-03-18 16:00] MorrisJobke opened #15005 "Remove fixDIInit in AllConfig"
Wrap your head around all these different setup paths in base.php and resolve https://github.com/owncloud/core/blob/bf6a7080e5145a1f09b660a3064aff03317c4b91/lib/private/allconfig.php#L53-L70

[2015-03-18 16:00] MorrisJobke commented on #15005
see also https://github.com/owncloud/core/pull/13938#discussion_r26670572

[2015-03-18 16:03] etiess commented on #14850
OK, now it works :)

[2015-03-18 16:05] git-marijus commented on #14977
point is it does nothing after clicking start update...
it just says:

Please reload the page.

on page reload it shows the update screen again. this loop only breaks if i disable files_sharing in db

[2015-03-18 16:10] wildhare3d opened #15007 "Owncloud 8.02 enable app error: App does not provide an info.xml file"
centos 7 fresh install of owncloud 8.02 when I try to enable an app I get the following error:
App does not provide an info.xml file

owncloud.log output

"reqId":"6371f421cb87a55297925d39fe0a1c90","remoteAddr":"127.0.0.1....","app":"PHP","message":"ZipArchive::extractTo(): Invalid or unitialized Zip object at \/var\/www\/html\/owncloud\/lib\/private\/archive\/zip.php#135","level":3,"time":"2015-0

[2015-03-18 16:12] jnweiger commented on #14850
@etiess the build service was slow with publishing.... thanks for double-checking!

[2015-03-18 16:12] MorrisJobke commented on #14555
Backport is merged: #14637

[2015-03-18 16:12] #14555 closed

[2015-03-18 16:13] MorrisJobke commented on #14316
Is fixed in 7.0.5 #14425

[2015-03-18 16:13] #14316 closed

[2015-03-18 16:14] vetsolution commented on #14905
secure chown commands are explain on owncloud docs

https://doc.owncloud.org/server/7.0/admin_manual/installation/installation_source.html#setting-secure-directory-permissions

[2015-03-18 16:14] MorrisJobke commented on #13980
@PVince81 This can then be closed? The backport is merged and will be shipped with 8.0.3

[2015-03-18 16:19] mredlancelot commented on #14905
@vetsolution Magic!!!  and I gues for chmod owner and group 7 the rest, none?

[2015-03-18 16:20] MorrisJobke commented on #14184
@DeepDiver1975 @jnfrmarks @jvillafanez What is the state of this? I guess it can be closed.

[2015-03-18 16:21] etiess commented on #13945
I just installed 8.0.2 and it's fixed. I close the issue.

[2015-03-18 16:21] #13945 closed

[2015-03-18 16:27] vetsolution commented on #14905
I thing is rigth but not sure

p.s.:
/path/to/owncloud/data/.htaccess dont exist on my server
and i have do do a
chown -R <http-user>:<http-user> /path/to/owncloud/config/
too

[2015-03-18 16:34] asy32x opened #15009 "Deleted Folders on Client not showing in Trash"
Simple as it is, i delete a folder with one file in it on the windows7 filesystem, it is deleted on the website and not showing in the trashbin. when i delete just the file without the folder, the file shows in the trash.

version server: 8.0.2
version client: 1.8

deleting a folder on the webinterface works like it should, folder is in trashbin and can be restored.

at which point is the delete p

[2015-03-18 16:35] MorrisJobke commented on #14977
That's weird. I just noticed that then the apps and their versions are listed.

[2015-03-18 16:40] Astraltrooper commented on #14905
@mredlancelot As for me some files have chmod 755 and some have chmod 644