[2017-01-10 21:48] schnidrig commented on #26909
A mysql expert recently told me, that proxysql is not compatible with mariadb. I did not verify this statement tough.

There is a fork of maxscale: https://github.com/airbnb/maxscale
Didn't take a closer look at it yet.

[2017-01-11 02:59] SpecBlackHat commented on #26910
SergioBertolinSG commented 10 hours ago
Just tried SMB storage with 9.1.3, no problems found.

Please note that freebsd is not a supported OS: https://doc.owncloud.org/server/latest/admin_manual/installation/system_requirements.html#supported-platforms

I know, but it works well before upgrade to last version.

[2017-01-11 03:02] SpecBlackHat commented on #26910
Here is last log with warnings\errors

Error	encryption	Encryption Library, symmetrical encryption failed no content given	2017-01-11T01:17:11+00:00
Error	PHP	Undefined variable: data at /usr/local/www/owncloud/lib/private/Files/Storage/Wrapper/Wrapper.php#250	2017-01-11T01:17:10+00:00
Error	PHP	Missing argument 2 for OC\Files\Storage\Wrapper\Wrapper::file_put_contents(), called in /usr/local/www/

[2017-01-11 03:47] Waqar731 commented on #26908
Then please give me answer here
https://central.owncloud.org/t/unable-to-get-the-name-of-logged-in-user/4972 @PVince81

[2017-01-11 04:12] dalenoe commented on #1580
Damn. So what is happening with the owncloud product?

[2017-01-11 06:24] PVince81 commented on #26906
@VicDeo so is this something that needs to be documented to make sure it's not missing in the setup ?

[2017-01-11 06:27] PVince81 commented on #26898
From what I see there is only a "occ encryption:decrypt-all [username]" but there is no "occ encryption:decrypt [username]" command.

Ok, so I assume you used "decrypt-all [username]" and as you said for all individual users you're getting error messages. So you are not able to decrypt the accounts for ANY of the users.

Are there any additional messages in owncloud.log ? Does encryption itself wo

[2017-01-11 06:31] PVince81 commented on #26910
Hmm, are you using encryption ? Are files on the SMB storage encrypted ?
It is possible that the SMB storage code fails because of these encryption errors, so you might want to try and solve these first.

[2017-01-11 06:40] SpecBlackHat commented on #26910
Hmm, are you using encryption ? Are files on the SMB storage encrypted ?
It is possible that the SMB storage code fails because of these encryption errors, so you might want to try and solve these first.

Yes we are using encryption.
Files on SMB are not encrypted.

[2017-01-11 06:42] SpecBlackHat commented on #26910
![1](https://cloud.githubusercontent.com/assets/1147104/21838304/fc542890-d81c-11e6-8625-43bb60001d71.PNG)

[2017-01-11 06:56] SpecBlackHat commented on #26910
It is possible that the SMB storage code fails because of these encryption errors, so you might want to try and solve these first. - how to solve this? I can open any files on share without any problems so i don't think that they are encrypted. And in SMB mount options i off using encription (you can see it on screenshop above)

[2017-01-11 07:58] davitol commented on #26916
@tedstrauss Thank you so much for the detailed steps!!!

Tested with PHP 5.5.9-1ubuntu4.13 , Ubuntu 14.04.1 LTS trusty, oC 9.1.2, fresh installation.

I CANNOT get the error message
[code]
Files in the local mountpoint are visible for me.

OOTH the log reported is spotted

[code]
@PVince81

[2017-01-11 07:59] PVince81 commented on #26916
This log entry is unrelated and can be ignored.

[2017-01-11 08:04] PVince81 commented on #26916
@davitol apparently he shared the mount point directly, did you do that as well ?

@tedstrauss `select * from oc_share where token='omega2'` (yes, replace with the share token of the broken share). Then `select * from oc_filecache fc, oc_storages s where fc.storage=s.numeric_id and fc.fileid=$filesource` and replace $filesource with the value of "file_source" from the previous query.

[2017-01-11 08:05] davitol commented on #26916
Yes I did, via link using the details menu I shared the whole mount point

[2017-01-11 08:12] pmaier1 commented on #1580
Can you exclude certain IP ranges without touching any external configuration?

Regarding this topic we are currently working to improve the logging in order to make it more easily readable and standardized, among others. The reason that the current F2B presets stopped working is that logging changed. As soon as we have standardized the log output this will not happen anymore, presets may be adapt

[2017-01-11 08:25] Behau commented on #26898
I have tried both versions and they both do some decryption. But I will take now decrypt-all [username]. Not for all, it looks like, that the newer created users work fine but the older users (also from an older oc version) did not...

Yeah I found some errors now when I run encrypt-all [username]

`{"reqId":"tArQJVJtd5DMgeDMq0CQ","remoteAddr":"","app":"PHP","message":"fread(): Length parameter mu

[2017-01-11 08:46] SergioBertolinSG opened #26918 "Fix integration tests failures using alternative home"
Currently there are some failures to be addressed:

build/integration/features/provisioning-v1.feature:279
build/integration/features/sharing-v1.feature:842
build/integration/federation_features/federated.feature:123
build/integration/federation_features/federated.feature:138

Some logs:

**build/integration/features/provisioning-v1.feature:279**

[code]

**build/integration/features/sharing-v1.fe

[2017-01-11 09:08] Peter-Prochaska commented on #26886
so, i have checked it. It can't be exploited in owncloud. But we should update as soon as possible.

[2017-01-11 09:21] PVince81 opened #26919 "Adjust since tags for 10.0"

[2017-01-11 09:57] bjo81 commented on #26859
In my case, oc_ldap_group_members  remains empty. Should I add an extra issue for it?

[2017-01-11 10:06] PVince81 commented on #26919
@DeepDiver1975 Magic script or sed ?

[2017-01-11 10:17] PVince81 commented on #26913
@jvillafanez

[2017-01-11 10:24] PVince81 commented on #26907
Oh... looks like now that we have Doctrine migrations ownCloud ignores changes to db_structure.xml, so basically the files_external tables that are now in core are not getting created automatically 😢

So this means I have to rewrite the whole thing as a conditional Doctrine migration (conditional because the tables might already exist before).

@DeepDiver1975 correct ?

[2017-01-11 10:26] PVince81 commented on #26907
@DeepDiver1975 I wish there was a script to convert XML migrations to an actual Doctrine code migration to save me some time. Sounds like I'll have to lose another day or two for that.

[2017-01-11 10:26] Kawohl commented on #26662
its up.

[2017-01-11 10:27] PVince81 commented on #26907
Structure to be implemented as Doctrine migration:
[code]

[2017-01-11 10:38] tuxmania87 commented on #26913
I solved my issue by also the config completely since the config came from an older installation and kept all my share settings. So i manually merged the two databases.

However my issue is invalid since a completely fresh installation is fine.
Sorry guys

[2017-01-11 10:38] #26913 closed

[2017-01-11 10:49] glannes31 opened #26921 "https://demo.owncloud.org DOWN"
Hello,

The demo site is redirecting to the owncloud.org site .

[2017-01-11 10:52] ardarandir commented on #25927
Hey ghost,

perhaps you might wanna add "cleaning browser cache" to your list of possible fixes. this was one of the first things i thought of and it did it for me. some people were reporting the login working from their secondary browser - this might be connected. it might seem obvious, but could still safe people trouble if you'd listed this in your comment above.

- jomi

[2017-01-11 10:57] butonic opened #26922 "IE11 caches AJAX requests"
### Steps to reproduce
1. In php.ini set `session.cache_limiter=` (emptystring) to disable sending any cache headers, oc sends them itself. if using this option PHP generates Pragma headers which may contradict what the Cache-Control headers used by ownCloud may say.
2. click on the share link checkbox

### Expected behaviour
see the generated link after the request has been received

### Actual b

[2017-01-11 11:03] PVince81 commented on #26907
PR here: https://github.com/owncloud/core/pull/26923

[2017-01-11 11:08] PVince81 opened #26924 "Move all core tables to be created using Doctrine Migrations"
### Core
- [ ] appconfig
- [ ] storages
- [ ] mounts
- [ ] mimetypes
- [ ] filecache
- [ ] group_user
- [ ] group_admin
- [ ] groups
- [ ] preferences
- [ ] properties
- [ ] share
- [ ] jobs
- [ ] users
- [ ] authtoken
- [ ] vcategory
- [ ] vcategory_to_object
- [ ] systemtag
- [ ] systemtag_object_mapping
- [ ] systemtag_group
- [ ] privatedata
- [ ] file_locks
- [ ] comments
- [ ] comments_read_

[2017-01-11 11:09] PVince81 commented on #26921
@Kawohl @jnweiger

[2017-01-11 11:09] PVince81 commented on #26922
Broken only in 10 ? In which version did it still work ? (for bisect)

[2017-01-11 11:11] PVince81 commented on #26922
@VicDeo please have a look

[2017-01-11 11:12] butonic commented on #26922
ie 11, also broken in 9.1

[2017-01-11 11:17] Kawohl commented on #26921
@glannes31,
yes we are currently doing a rework of it. Please be a little patient and we will have a new and flashy demo running.

[2017-01-11 11:17] PVince81 opened #26925 "Doctrine migration wrong default collation"
When writing a migration, people might forget to set the correct collation for newly created tables/columns.

It would be good if there is a way to set the default collection for this because I'm certain this is going to come back to haunt us at some point.

Observed here: https://github.com/owncloud/core/pull/26923#issuecomment-271840550 (db_structure vs doctrine migration approach).

From what I

[2017-01-11 11:25] PVince81 commented on #26925
Or will we even change the collation for emojis ?

I found this article https://florian.ec/articles/mysql-doctrine-utf8/ that says that Doctrine doesn't allow setting a global collation and expects it to be passed for every call.

[2017-01-11 11:33] PVince81 commented on #26925
I couldn't find a quick solution. Maybe we need to somehow mangle the SchemaConfig before running the migrations but I can't seem to find a way to access it from our `MigrationService`.

Or maybe as the FAQ says we should properly use `SET NAMES`, but I thought we had this in our connection already. Maybe Doctrine is using a different connection class, not the one containing our overrides ?

[2017-01-11 11:41] PVince81 commented on #26925
Looks like we've been setting it explicitly within the helpers so far:
[code]

[2017-01-11 12:44] cdamken commented on #24053
@michaelstingl @SergioBertolinSG Thinking some steps forward, What happens (or which are the expectations) when on the scenario https://github.com/owncloud/core/issues/24053#issuecomment-268046713 the `file2.txt` is recovered from any of the two parties (for example: deleted by error and try to recover it) or `file4.txt` is recovered by Alice because Bob erased it?

[2017-01-11 13:00] mirekys commented on #26837
@PVince81 yes, the issue is pretty much the same. The "working2gether" app was never present in mine environment, though. Manual rescan of user's files helped to resolve the issue for me.
My setup is following:

### Server configuration
**Operating system**:
RHEL 6.4

**Web server:**
httpd 2.4

**Database:**
PostgreSQL 9.2

**PHP version:**
5.6

**ownCloud version:**
8.2.5

**Updated from an older

[2017-01-11 14:22] dalenoe commented on #1580
Unfortunately options like fail2ban and iptables do not work for my situation. I want to limit 1 single account, to only be allowed to login from a certain IP address.

I used to tackle this using an app called "extrasecurity", but that no longer works in 9.x
Link to extrasecurity: https://apps.owncloud.com/content/show.php/ExtraSecurity?content=168084

[2017-01-11 14:41] novat0 commented on #13642
"OFFICIALLY NOT SUPPORTED" and based on this remove (or rather veto) this program of documentation and references?

Then they should veto the rest and just leave Apache? But that's not how we see it! Since only apache supports it.

Also the contributions of the community in time of quality and resolution have been more important than the carpentry made by the few developers who "tackled the succes

[2017-01-11 16:00] PVince81 commented on #26065
@PaulHughes99 did you try with my advice from https://github.com/owncloud/core/issues/26065#issuecomment-259387491 ?

[2017-01-11 16:06] PVince81 commented on #13408
In theory this is already possible on the technical level. You need to find a way to trick ownCloud (hack) to mount system-wide external storages to an empty mount point, or basically "/$user/files/" instead of the usual mount point like "/$user/files/subdir".

[2017-01-11 16:06] tedstrauss commented on #26916
ok @PVince81 here are results of those 2 queries.
[code]

[2017-01-11 16:18] tedstrauss commented on #26916
I can confirm that there are no duplicates of that path in the oc_storages table.

[2017-01-11 16:21] tedstrauss commented on #26916
Just to repeat from above: The bug appears when I add a user group to the 'Available for' section of the External storage share. When I remove the group and refresh the share URL, the content loads fine.
What DB tables are affected by entering something in the 'Available for' field? I could generate queries for those with and without a value there. It could help?

[2017-01-11 16:43] PVince81 commented on #26916
I don't think it's relevant, but as I'm out of ideas let's try anyway: check the tables oc_external_applicable, oc_external_config, oc_external_mounts, oc_external_options

[2017-01-11 17:05] tedstrauss commented on #26916
Ok, reporting highlights from those tables.
Here are values from `oc_external_applicable` table for the given share, first before adding the group share, next after added the group share, and last reverting back to no share. My question: What affect does the `type` field have?

[code]

Here are the entries from the `oc_external_config` and `oc_external_mounts` tables for the share. Nothing of note

[2017-01-11 17:07] VicDeo commented on #26922
@butonic win7 IE11. Can't reproduce on master

[2017-01-11 17:11] PVince81 commented on #26922
@VicDeo can you reproduce it on 9.1 ? Maybe something missing in the steps ?

[2017-01-11 17:14] PVince81 commented on #26916
Regarding the type:
`possible mount types: global = 1, group = 2, user = 3`

Oh, you have encryption. I overlooked that.
But then you're getting a 404 not found, not an encryption key error.

Ok, let me have a quick local try on my own env.

[2017-01-11 17:15] tedstrauss commented on #26916
I really appreciate the help!

[2017-01-11 17:23] VicDeo commented on #26922
![win7ie11](https://cloud.githubusercontent.com/assets/991300/21858904/ca3b6d72-d83b-11e6-8f89-4df1d5b9bd94.gif)
@PVince81 @butonic

[2017-01-11 17:25] PVince81 commented on #26916
I tested both with v9.1.3 from git and tarball, could not reproduce the issue.

But this gave me an idea: usually the share link page would return 404 when the sharing user is not allowed to access the file, when it is basically an invalid link.

Does the page first asks you for the password before showing the error or does the error appear directly ?

Can you post a screenshot of your "Sharing" s

[2017-01-11 17:27] PVince81 commented on #26922
@VicDeo can you switch to "index.php-less" mode https://doc.owncloud.org/server/9.1/admin_manual/configuration_server/index_php_less_urls.html ? From what I see in what @butonic posted it seems to be using that format. Who knows if it's maybe related.

[2017-01-11 17:27] PVince81 commented on #26922
Ah no, never mind, read the wrong link... The response shows https:\/\/asylum\/oc\/core\/index.php\/s\/4iSz1ownieVsPtW

[2017-01-11 17:28] PVince81 commented on #26922
@VicDeo are you using the release tarball ? Maybe try with the enterprise version ?

Maybe there's another app's JS code interfering.

[2017-01-11 17:28] VicDeo commented on #26922
@butonic does the response have proper json headers in your case? (just guessing)

[2017-01-11 17:29] VicDeo commented on #26922
@PVince81 I will retry with 9.1.2 release in a minute

[2017-01-11 17:31] tedstrauss commented on #26916
It does ask for the password first, yes. And the error page appears after entering the password. If I remove the external group share and refresh that page, it then loads.

Here is the sharing dialogue you requested:
![image](https://cloud.githubusercontent.com/assets/930560/21859166/a2f90db0-d7f9-11e6-8f68-30ff6e14b862.png)

And the sharing details for the individual folder:
![image](https://clou

[2017-01-11 17:36] PVince81 commented on #26916
Hmm, so this means it's not treated as invalid link, else you'd see the error page first.
So that tells us something is wrong in a logic further down the road.

Your sharing options look standard, so possibly unrelated.

What is this "Share link: rename" button ? Do you have any third party apps enabled that could interfere with shares ?

[2017-01-11 17:49] tedstrauss commented on #26916
Here is a list of all OC apps that are currently enabled. Highlighted a couple that seem relevant?

Official: activity, collaborative tags, comments, default encryption module, deleted files, external sites, **external storage support**, federation, first run wizard, gallery, LDAP user and group backend, Mail template editor, notifications, PDF viewer, provisioning API, **share files**, text edito

[2017-01-11 17:54] davitol commented on #26916
@tedstrauss Can you try to disable Files Share link renamer app and repeat the steps of the issue? Thanks in advanced

[2017-01-11 17:56] PVince81 commented on #26922
I also couldn't reproduce it on EE on SolidGear's docker.

@butonic anything special in the environment ?
This is with modern.ie's IE11 VM.

[2017-01-11 17:58] PVince81 commented on #26916
and maybe also "piwik tracking" in case it's hooking into the link share system and interfering

[2017-01-11 18:19] VicDeo commented on #26922
@butonic works as expected Win7 IE11, OC 9.1.2 EE complete on a different server

[2017-01-11 18:26] tedstrauss commented on #26916
Ok i'm getting some promising but inconsistent results in toggling the Files Share link renamer app. Will continue testing, and looking for a place to share the bug with the app developer.

[2017-01-11 18:47] tedstrauss commented on #26916
The bug has been worked-around by disabling the link-renaming feature on the share.
The Files Share link renamer app and Piwik app are still enabled, but the feature is now turned off for this particular share. I will post a report about this to the app developer and then close this ticket.

Thanks everyone for your help!

[2017-01-11 18:51] PVince81 commented on #26916
@tedstrauss thanks. If you find information about what the app is doing wrong it would be interesting to know.

I suspect that maybe it is using hacks to hook into the code in a way that influences the result.

[2017-01-11 18:51] #26916 closed

[2017-01-11 19:14] gstrauss commented on #13642
@novat0 thanks for the vote of confidence (I think).  Your message seems to be somewhat lost in translation.  In any case, I do not think your attack is warranted.  Please do not attack others.

[2017-01-11 19:20] tedstrauss commented on #26916
The issue has now been reposted here: https://github.com/fcturner/sharerenamer/issues/13

[2017-01-11 20:00] butonic commented on #26922
Name|Protokoll|Methode|Ergebnis|Inhaltstyp|Empfangen|Zeit|Initiator
-------|------|------|------|------|------|------|------
https://asylum/oc/core/ocs/v2.php/apps/files_sharing/api/v1/shares?format=json |HTTPS|POST|200|application/json|618 B|154,05 ms|XMLHttpRequest

Request headers:
[code]
[code]
response
[code]

after this the spinner just keeps spinning. reloading the page shows the link

hmmm

[2017-01-11 20:42] pmaier1 commented on #1580
In that case this ticket not the right place to ask but I can provide two solutions to your request:
1. Find a maintainer for the app or maintain it yourself
2. ownCloud already covers the functionality you ask for with the File Firewall (https://owncloud.com/features/#FileFirewall). This feature currently is only available for enterprise customers but we are working on ways to enable community us

[2017-01-11 21:03] butonic commented on #26922
Ok ... adding `Header set Pragma "no-cache"` to the .htaccess seems to fix it. AFAICT Pragma is only respected by IE. Nevertheless, I'd like to only send it for IE. Preferably only for xhr requests ... any other cache busting tricks you know of?

[2017-01-11 21:17] VicDeo commented on #26922
@butonic `Pragma: no-cache` is intended to be a client-side header, I'm not surprised at all that all browsers except IT ignore it :rofl:

[2017-01-11 21:18] butonic commented on #26922
This seems to work:
[code]

[2017-01-11 21:22] VicDeo commented on #26922
https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.32

[2017-01-11 21:34] VicDeo commented on #26922
In my case both client and server send vaild `Cache-Control` headers:

Request	POST /ocs/v2.php/apps/files_sharing/api/v1/shares?format=json HTTP/1.1
Accept	application/json, text/javascript, */*; q=0.01
Content-Type	application/x-www-form-urlencoded; charset=UTF-8
requesttoken	PUQnHjwxMUFELj8vIkE1JAwMDRF5OW4BPxBIIAcNeiw=:SpAsLRCjuHnCe+XUftUsHhZkmIgg0D7VbhETaUvCNQU=
OCS-APIREQUEST	true
X-Requested

[2017-01-11 22:13] VicDeo commented on #26922
hm. Disabled HTTP 1.1 in IE settings, it changed
`Cache-Control:	no-cache` to `Pragma:	no-cache` in its request.

we can add any of them here https://github.com/owncloud/core/blob/08da9a8aea49c4ee6d0adac8d0e0acaf5f11e60e/core/js/shareitemmodel.js#L177

cc @PVince81

[2017-01-11 22:38] butonic commented on #26922
This is the best I can come up with:
[code]

This should limit the Pragma to ajax calls ... +1 for using js to make IE sent the Pragma header in ajax requests.

[2017-01-12 03:17] SpecBlackHat commented on #26910
Maby you need any other logs?
Today i'd try again to connect an external smb storage.
No any new errors like in log above, and as before - did not work.

[2017-01-12 06:27] PVince81 commented on #26922
If we want to send Pragma headers, then we need to do it for all requests, not only sharing.
In that case add it as global jquery ajax option in js.js or core/js/oc-requesttoken.js.

And that's not the only place, we also need it in core/js/files/client.js which uses XmlHttpRequest directly (or in js.js' `registerXHRForErrorProcessing` which wraps some XHR like the ones from files/client.js).

Doe

[2017-01-12 06:31] PVince81 commented on #26910
Do you have the php5-libsmbclient module installed maybe ? Usually it helps fixing SMB issues.
Did you have it before the upgrade and maybe it disappeared after ?

[2017-01-12 06:42] SpecBlackHat commented on #26910
Do you have the php5-libsmbclient module installed maybe ?
I think yep
/usr/local/include/libsmbclient.h
/usr/local/lib/libsmbclient.a
/usr/local/lib/libsmbclient.so
/usr/local/lib/libsmbclient.so.0

Did you have it before the upgrade and maybe it disappeared after ?
I have this after upgrade. Everything works well before.

[2017-01-12 06:47] PVince81 commented on #26910
I meant the PHP library for libsmbclient: /usr/lib64/php5/extensions/libsmbclient.so

[2017-01-12 06:56] SpecBlackHat commented on #26910
"I meant the PHP library for libsmbclient: /usr/lib64/php5/extensions/libsmbclient.so" - i think the directory depends of OS. On freebsd it place here /usr/local/lib/libsmbclient.so
BTW, pkg install php5-libsmbclient return that it can not find such package.
If i run make config from /usr/ports/php56-extensions - there is no such module in the list.

How to reinstall this library?

[2017-01-12 07:11] SpecBlackHat commented on #26910
Here my php library

/usr/local/lib/php/20131226/smbclient.so

[2017-01-12 07:12] PVince81 commented on #26910
Maybe try updating it. Not sure how on FreeBSD.

[2017-01-12 07:13] SpecBlackHat commented on #26910
![1](https://cloud.githubusercontent.com/assets/1147104/21880379/6061abd2-d8ea-11e6-84fd-5da1d4d88fa3.PNG)

Here is all PHP extensions on my OS.

Maybe try updating it. Not sure how on FreeBSD. - it's uptodate, nothing to update.

[2017-01-12 07:17] enoch85 commented on #1580
Sorry, but that's another reason to choose Nextcloud.

[2017-01-12 08:40] butonic commented on #26922
the php. inis `session.cache_limiter` default is `nocache`. It adds these cache related headers:
[code]
Which prevented the avatars from being cached. Also see https://github.com/owncloud/core/pull/26589

The [above](https://github.com/owncloud/core/issues/26922#issuecomment-272018389) if block for the .htaccess readds the no-cache header for IE ... as long as it matches the user agent and the `X-

[2017-01-12 08:41] polcape commented on #26914
Any news on this?

[2017-01-12 09:35] DeepDiver1975 commented on #26924
I'd not do this

[2017-01-12 09:48] butonic commented on #26924
@DeepDiver1975 do what not? use bigint? move to migrations for all tables? come on ... I know you are on sick leave but don't make us guess ... we will certainly get it wrong and your mood will worsen as a result of us doing stupid things ... 🍪 ?

[2017-01-12 10:27] DeepDiver1975 commented on #26924
come on - you know be for such long time ..... :wink:

[2017-01-12 13:06] GTT8 commented on #26852
Hi! Someone here??

[2017-01-12 13:07] GTT8 commented on #26838
Hi! Someone here??

[2017-01-12 14:23] Mysterycz opened #26930 "Manual upgrade 9.1.1 to 9.1.3 failed"
Hello, I am using Ubuntu 14.04, Apache2, PHP 5.6 and Mysql 5.5.4. I was doing many manual OC upgrades before without any problems but this time I am experiencing issue when I use sudo -u www-data php occ upgrade ... It shows error:

Owncloud is in maintenance mode
Maybe an upgrade is already in process. Please check the logfile (data/owncloud.log). If you want to re-run the upgrade procedure, remo

[2017-01-12 15:44] JustinCorneby opened #26931 "OwnCloud 8.2.2 Error Creating the File or Folder"
Using a browser I try and create a folder and at the top of the screen I see a message 'Error when creating the folder'.  I get a similar message if I try and create a file.

If I try a drag a file into the folder window the message at the top of the screen displays; 'Upload failed.  Could not find uploaded file'

I also use version 2.2.4 (build 6408) of the desktop client on a Windows 7 machine,

[2017-01-12 16:16] kdslkdsaldsal commented on #26931
From the issue template you have filled out:

8.2.2 is way too outdated to report issues for it here.

[2017-01-12 16:35] VicDeo commented on #26922
@PVince81  @butonic here is similar solution using `If-Modified-Since` header http://www.oodlestechnologies.com/blogs/AngularJS-caching-issue-for-Internet-Explorer

[2017-01-12 16:37] VicDeo commented on #26922
For jQuery it would be
[code]

[2017-01-12 16:41] PVince81 commented on #26922
Can you guys summarize the issue again ?

From reading the thread I had the feeling that the caching issue only appears if you explicitly disable HTTP/1.1 in IE11. I wasn't able to reproduce the issue myself.

Ideal would be to have a server-side solution, either something in .htaccess or something in our server-side code for every OCS/Webdav/REST request.

[2017-01-12 17:09] VicDeo commented on #26922
Summary:
IE is caching ajax requests. This issue is here for a long time actually. http://www.dashbay.com/2011/05/internet-explorer-caches-ajax/

I played with browser settings but was unable to trigger that for IE11. It looks like they finally improved IE to cache ajax not to cache any ajax request but to do it under some unclear conditions only.
The link above gives the third solution: add `Expi

[2017-01-12 17:13] PVince81 commented on #26922
Is this only for GET XHR requests or any methods ?

[2017-01-12 17:28] VicDeo commented on #26922
@PVince81
Here is the real reason:  IE doesn’t refresh ajax based content before its expiration date.
So if there is no `Expiration` header. So it is better to set expiration instead of disabling caching completely.

[2017-01-12 17:39] PVince81 commented on #26922
One could say that in an ideal REST world there would be Expiration and Etags that could help validate/invalidate results. And also GET requests are read-only.

So we should add the `Expiration` header in all these code paths:
- app framework controller
- OCS base controller(s)
- ajax/*.php, or rather not, these need to die, but add it at least in share.php then
- Webdav GET ? Currently we use GET

[2017-01-12 17:40] PVince81 commented on #26922
Would also be good to know what @DeepDiver1975 thinks, especially that it affects our various API formats ^

[2017-01-12 18:30] CaptionF commented on #26922
@PVince81 @VicDeo @butonic sorry I am quit sure, that this issue has been already addressed.

Please stop working on it till further notice.

today we had a websession:
1. the send link did not work, because the mail.php code had missing ';' that was introduced when the share was displayed for debugging purposes.

[2017-01-12 18:39] PVince81 commented on #26683
I had another try reproducing this but without luck.

In your specific setup I don't understand how this issue can happen with an already cleared cache.

Anyway, we find other cases where inconsistent cache results could cause `null` groups to appear here and there, so this PR https://github.com/owncloud/core/pull/26871 will add extra protection against it, including your own specific case.

[2017-01-12 18:41] PVince81 commented on #26922
Hmm, but it sounded like @butonic was able to reproduce a caching issue in his own local env ?

So maybe there is another unrelated issue with similar symptoms in IE11 that we'll need to address eventually ?

[2017-01-12 18:45] CaptionF commented on #26922
might be

[2017-01-12 19:07] CaptionF commented on #26922
There was also shib end point permission wrongly set.  (shib.conf)
Matthias Schmid
Presales
ownCloud

Vincent Petry <notifications@github.com> schrieb:

Hmm, but it sounded like @butonic was able to reproduce a caching issue in his own local env ?

So maybe there is another unrelated issue with similar symptoms in IE11 that we'll need to address eventually ?

--
You are receiving this because you

[2017-01-12 19:27] PVince81 commented on #26922
In this case I'll leave this up to @butonic to confirm whether there is indeed a bug that he reproduced in his local env or not.

[2017-01-12 19:53] Sikarjan opened #26932 "Cannot upgrade from 8.2.8 to any higher version"
### Steps to reproduce
1. Clear all files from owncloud besides config (data is not in this folder)
2. Download and unzip a newer version e.g. 8.2.9, 9.0.0, 9.0.5, 9.0.6 or 9.0.7
3. open index.php

### Expected behaviour
Upgrade to newer version

### Actual behaviour
I get a message that an error occurred and that I shall reload the page. After that I am in maintenance mode.

### Server configurat

[2017-01-12 20:15] butonic commented on #26922
@CaptionF there is still a caching issue, which this issue should solve properly. The .htaccess can be modified as a workaround. But I am with @PVince81 that we should add this to the php code. maybe add a `Pragma` header to https://github.com/owncloud/core/blob/master/lib/public/AppFramework/Http/Response.php#L49 if an IE is used?

I'll reopen but remove the green ticket.

[2017-01-12 20:27] butonic commented on #26922
updated the title ind initial description to better reflect the problem. @VicDeo can you reproduce the problem by adding "setting.cache_limiter=" to your config.php? Let us confirm the workaround and agree on a correct solution. For now we have a workaround. We can implement the proper solution later or make this a junior job. @VicDeo Correct me if I am wrong.

[2017-01-12 20:59] butonic commented on #26852
@PVince81 any Idea why we are checking avatar images on the php side when doing activity app json requests?

[2017-01-12 21:04] VicDeo commented on #26922
@butonic
confirmed that changing
`session.cache_limiter=nocache`
to
`session.cache_limiter=`

completely xxxx up ajax requests in IE and not only for sharing via link

E.g.
1. Browse into trashbin
2. Navigate to any directory under `All files`
3. Delete any item
4. Browse into trashbin again
5. See that there is no newly deleted item

[2017-01-12 21:06] butonic commented on #26922
@VicDeo adding the .htaccess hack fixes it?

[2017-01-12 21:36] VicDeo commented on #26922
I've done several tests this doesn't work for me:
[code]

and this does work:
[code]

[2017-01-12 22:57] turin13 commented on #26683
If there's any info I can provide, I'll be happy to do so.
The only thing I believe I can help this project :)

[2017-01-13 03:55] lubbie commented on #25481
This is definitely a bug in the system. My OwnCloud has been down for weeks due to this issue and this post saved me. After I ran the files:scan commend the issue resolved itself.

I am running OwnCloud 8.2.2

[2017-01-13 08:49] PVince81 commented on #26852
Hmm not sure but I'm guessing that maybe the JSON response contains preresolved avatar URLs or something, since the activity feeds display avatars.

[2017-01-13 08:53] butonic commented on #26922
Great, I think we have found a good enough workaround. @VicDeo s selution can be combined into
[code]

Lets get back to this when we find more time.

[2017-01-13 09:05] SpecBlackHat commented on #26910
Try to reinstall owncloud.
No changes.

Any other logs need?

[2017-01-13 09:28] PVince81 opened #26935 "Encryption key storage error when deleting user"
### Steps

1. Enable encryption
1. Create a user "user1"
1. Login as "user1"
1. Login as admin
1. Delete "user1"
1. Check logs

### Expected result
No errors in log, user's keys properly deleted.

### Actual result
Errors in log, user's key properly deleted indirectly through the deletion of the home.
[code]

Same result with an alternative home.

However when using an alternative root for the key

[2017-01-13 09:42] PVince81 commented on #26935
Now I have the feeling that keys deletion itself is overkill in most scenarios when the keys are contained in the home folder. It only makes sense to do extra deletion when keys are stored separately.

But then why not do it in the pre delete hook then ? I see that trashbin clearing also operates there.

[2017-01-13 10:01] thejulian commented on #26896
This sounds exactly like mine problem #3021. It takes 10 minutes to rename/delete a folder (ONLY FOLDER not files). I have "found" the problem -> oc_filecache is to big.
The query `SELECT path, fileid FROM oc_filecache WHERE storage = '2' AND path LIKE "/files/blubberfasel/bla"` takes too long.
Check the rows in oc_filecache.

[2017-01-13 10:04] PVince81 opened #26936 "Alternative key storage location doesn't delete all keys after deleting user"
### Steps

1. Setup OC v9.1.3
1. `occ app:enable encryption`.
1. `occ encryption:enable`
1. `mkdir data/enckeys; chown wwwrun:www data/enckeys` (adjust for permissions accordingly)
1. `occ encryption:change-key-storage-root enckeys`
1. Login as admin
1. Create a user "user1"
1. Login as "user1"
1. Check "data/enckeys/user1/" and subdirs: keys are present
1. Login as admin
1. Delete "user1" (need t

[2017-01-13 10:04] PVince81 commented on #26935
Pfff, I just tried in OC 9.1.3 with "change-key-storage-root" and the keys are also not deleted properly. Well, actually it does delete the public key of the user but not the private key. And the file keys also remain.

Ok, so that will be a different issue: https://github.com/owncloud/core/issues/26936.

So the goal in this issue here is to bring the behavior back to what it was before to elimina

[2017-01-13 10:57] PVince81 commented on #26935
Fix for the alternate key root case here: https://github.com/owncloud/core/pull/26937

Still need to work on the other case, maybe I'll just make it use the pre delete hook.

[2017-01-13 11:11] PVince81 commented on #26935
Fix is here: https://github.com/owncloud/core/issues/26938 (preDelete hook approach)

[2017-01-13 11:11] nebulade commented on #26738
I get the exact same issue, which came up after owncloud reports, that I don't have permissions to create files or folders in a few directories of the ftps storage, which is why I tried to rescan. What kind of additional info would be helpful?

Thanks.

[2017-01-13 11:57] butonic commented on #26683
@turin13 if you coud try https://github.com/owncloud/core/pull/26871 and give feedback there that would also be very valuable :)

[2017-01-13 11:57] awnz commented on #11621
Having just encountered this situation in real life (fat-fingers partially deleted the owncloud folder, needed to go to 18 hour old backup for folder and DB) I was really hoping that this wouldn't be the case.

I think the restore documentation (at *1) should give a warning not to restart ownCloud servers after a restore until users have been contacted and instructed to manually make a safe copy a

[2017-01-13 12:01] PVince81 commented on #11621
There should already be a "restored-from" value on the server side since 9.1. @guruz do you remember the ticket/PR number ?

[2017-01-13 12:03] awnz commented on #11621
Oh - cool :) ... I wish I'd upgraded before my disaster! :P

Do you think it's possible to upgrade then set that value? What client version is that supported from? (I presume it would need support at both ends)

[2017-01-13 12:21] wdehoog commented on #11047
Unfortunately it is still happening. While upgrading from 8 to 9 we had exactly this problem and had to manualy remove the tables before the upgrade could finish.

[2017-01-13 13:29] ArchPrime opened #26940 "[Request] option for users to set time period after which a file or folder can be auto deleted"
Please note a similar request exists but seems to have been closed in error

### Server configuration
**Operating system**:
OS6 (on ReadyNAS device)
**Web server:**

**Database:**

**PHP version:**
Not known

**ownCloud version:** (see ownCloud admin page)
9.13
**Updated from an older ownCloud or fresh install:**
Fresh install

Need a way for large temporary files in a designated folder to be auto

[2017-01-13 13:50] guruz commented on #26881
What do you mean after the timeout this happens over and over?
What does the client UI show?
What do you see when running the client with log output
```owncloud --logfile -```
thanks

[2017-01-13 14:30] PVince81 commented on #26931
Please try again with 8.2.9 or 9.0.7 and reopen if the problem persists, thanks

[2017-01-13 14:30] #26931 closed

[2017-01-13 14:32] PVince81 commented on #26932
Maybe try running the upgrade on the command line instead with `occ ugprade`. Let's hope it will have more useful error messages.

[2017-01-13 14:50] PVince81 commented on #15662
Closing due to lack of feedback

[2017-01-13 14:50] #15662 closed

[2017-01-13 14:53] PVince81 commented on #18048
8.1 is quite outdated and there have been a lot of changes and fixed in LDAP.

Please try again with a recent version like 9.0.7 or 9.1.3. If the problem persists, please reopen.

[2017-01-13 14:53] #18048 closed

[2017-01-13 14:54] PVince81 commented on #15853
This won't be possible and it is very unlikely that we'll agree on adding a "file" column in the oc_jobs table.
So far the bkg jobs would simply run and do nothing after detecting that the files are gone.

[2017-01-13 14:54] #15853 closed

[2017-01-13 15:02] PVince81 commented on #15405
Works for me in 9.1.3, delete permissions are there for the recipient and I could delete the subfolder.

[2017-01-13 15:02] #15405 closed

[2017-01-13 15:04] PVince81 commented on #23812
Please try again with 9.1.3 and reopen if the weird mix up still occurs.

[2017-01-13 15:04] #23812 closed

[2017-01-13 15:04] PVince81 commented on #16633
Closing due to lack of feedback

[2017-01-13 15:04] #16633 closed

[2017-01-13 15:05] PVince81 commented on #21810
@felixheidecke something to consider for the next version's design ?

[2017-01-13 15:06] PVince81 commented on #23525
10.0 will come with Sabre 3.2.

@DeepDiver1975 is there any additional fixing required ? If not -> close

[2017-01-13 15:07] PVince81 commented on #23498
Closing due to lack of feedback. Please reopen if the issue persists in 9.0.7 or 9.1.3.

[2017-01-13 15:07] #23498 closed

[2017-01-13 15:08] PVince81 commented on #23906
closing as duplicate of https://github.com/owncloud/core/issues/23330

[2017-01-13 15:08] #23906 closed

[2017-01-13 15:08] PVince81 commented on #23330
This use case doesn't make sense, closing

[2017-01-13 15:08] #23330 closed

[2017-01-13 15:09] PVince81 commented on #23731
Is this still an issue with 9.0.7 or 9.1.3 ?

[2017-01-13 15:12] PVince81 commented on #24347
master / 10.0 will come with Sabre 3.2. @DeepDiver1975 are any further changes required in core/contacts or can this be closed ?

[2017-01-13 15:12] PVince81 commented on #24461
Is this still an issue with 9.0.7 or 9.1.3 ?

[2017-01-13 15:13] PVince81 commented on #24670
@felixheidecke

[2017-01-13 15:15] pako81 opened #26941 "Proposal: output of servername in status.php"
For diagnostic reasons it is helpful in a clustered environment to see where we're having a problem. So, it might be helpful to change status.php like this:

[code]

[2017-01-13 15:15] PVince81 commented on #24846
@VicDeo see previous comment

[2017-01-13 15:17] PVince81 commented on #19400
Will likely not have time for such big refactorings for 10.0, moving to backlog.

CC @jvillafanez

[2017-01-13 15:18] PVince81 commented on #19964
@tomneedham assigning to you as you're familiar with that API. I'm aware that you might not have time, but let's see if you have some insights.

[2017-01-13 15:19] PVince81 commented on #24962
Closing this as it's old.

@mmattel if you see this again in a recent version please reopen, thanks.

[2017-01-13 15:19] #24962 closed

[2017-01-13 15:20] PVince81 commented on #24602
@PhilippSchaffrath in case you have time to look into improving this, but might be risky

[2017-01-13 15:23] PVince81 commented on #24503
Can you guys check if this is still happening in 9.0.7 or 9.1.3 ?

[2017-01-13 15:24] PVince81 commented on #20718
@DeepDiver1975 medium -> backlog ?

[2017-01-13 15:26] stefaanderoeck commented on #26881
What I see in the client UI, is that on each synchronization attempt, after only seconds, it claims to have synchronized a small number of files and a small amount of data (less than 10Mb). But that's where it stays. The synchronization speed (Mb/second) then lowers and lowers, estimated time becomes "# years" rather than "# minutes". Until then finally it times out, and starts over again.

I have

[2017-01-13 15:26] PVince81 commented on #17514
Closing due to lack of feedback. If this is still happening in recent versions, please reopen.

[2017-01-13 15:26] #17514 closed

[2017-01-13 15:29] VicDeo commented on #24846
ok, so when quota limit is hit versions are purged too aggressive.

@fireba11 Is it still an issue?

[2017-01-13 15:30] PVince81 commented on #21574
Another possible solution: https://github.com/owncloud/core/issues/17016
I'll close this ticket in favor of https://github.com/owncloud/core/issues/17016

[2017-01-13 15:30] #21574 closed

[2017-01-13 15:35] PVince81 commented on #16407
Please try again with the "files_external_ftp" app which is based on flysystem.

[2017-01-13 15:36] #23347 closed

[2017-01-13 15:36] PVince81 commented on #24265
Is this still happening on 9.1.3 or 9.0.7 ?

[2017-01-13 15:37] PVince81 commented on #18971
PR https://github.com/owncloud/core/pull/25428 got merged, closing

[2017-01-13 15:37] #18971 closed

[2017-01-13 15:43] PVince81 commented on #20667
This will be fixed in 10.0 through https://github.com/owncloud/core/pull/26603

[2017-01-13 15:43] #20667 closed

[2017-01-13 15:47] PVince81 commented on #13238
This https://github.com/owncloud/core/pull/26539 could help. Need to check if that case is covered.

[2017-01-13 15:48] PVince81 commented on #13882
Only https://github.com/owncloud/core/issues/12228 remains, closing in favor of https://github.com/owncloud/core/issues/12228

[2017-01-13 15:48] #13882 closed

[2017-01-13 15:50] PVince81 commented on #15601
Need to recheck whether this is still the case with 9.0.7 or 9.1.3

[2017-01-13 15:51] PVince81 commented on #23738
@DeepDiver1975 what do you think ?

[2017-01-13 15:52] PVince81 commented on #4715
Looks like we'd rather need a special "POST" endpoint where the list of files can be posted. This doesn't sounds very Webdav-y or REST-y.

@DeepDiver1975

Needs further research.

[2017-01-13 15:53] PVince81 commented on #18786
Any feedback about openssl versions ?

[2017-01-13 15:55] PVince81 commented on #23969
Is this still happening in 9.0.7 or 9.1.3 ?

[2017-01-13 15:56] #18401 closed

[2017-01-13 15:57] #22938 closed

[2017-01-13 15:58] PVince81 commented on #18391
User has left github and no feedback from OP, closing

[2017-01-13 15:58] #18391 closed

[2017-01-13 15:58] PVince81 commented on #25029
https://github.com/owncloud/core/pull/26529 could help with that

[2017-01-13 16:02] #26935 closed

[2017-01-13 16:09] PVince81 commented on #23246
Setting "/" as mount point is not officially supported / tested.

Linked to ticket that would make it possible: https://github.com/owncloud/core/issues/13408

[2017-01-13 16:09] #23246 closed

[2017-01-13 16:32] PVince81 opened #26942 "Link share encryption key not created for running uploads"
### Steps

1. Enable encryption
1. Create a folder "test"
1. Using a Webdav client, upload a file "data1.dat" into "test"
1. Using a Webdav client, upload a huge file "data2.dat" into "test" don't wait for it to end
1. During the upload, share "test" with link (make sure the upload is still running when doing so)
1. Wait for the upload to finish
1. Open link share
1. Download both files

### Expec

[2017-01-13 16:39] fireba11 commented on #24846
@VicDeo Am still running 9.0.2 with that issue, haven't updated for a while.

[2017-01-13 16:50] PVince81 commented on #26032
@PacoCam any update ? Did my advice work ?

[2017-01-13 16:50] #25993 closed

[2017-01-13 16:51] PVince81 commented on #25693
Closing in favor of https://github.com/owncloud/user_ldap/issues/40

[2017-01-13 16:53] PVince81 commented on #21886
@DeepDiver1975 @VicDeo @butonic might get even worse with 4-byte support ?

[2017-01-13 16:54] PVince81 commented on #23296
Did the user wait for the upload to end before sharing the folder ? If yes, then this is a duplicate of https://github.com/owncloud/core/issues/26942

I suggest to create the link share before doing the upload just to be sure.

[2017-01-13 16:54] #23296 closed

[2017-01-13 17:33] JSoko commented on #24503
Sorry, I'm now on Nextcloud, where this error does't exist (anmimore?), so I can't check it for owncloud...

[2017-01-13 19:05] butonic commented on #21886
http://serverfault.com/questions/120397/max-length-of-url-257-characters-for-mod-rewrite might help. @casper000 @gecube can you try moving the htacces content to the apache vhost config?

[2017-01-14 01:22] mvglasow opened #26943 "[enhancement] Support user authentication for local storage"
I have a bunch of files on my ownCloud server that I access in a number of ways, including SSH and Samba. These files have regular Unix permissions set, as they are enforced when accessing the files via these mechanisms.

To make these files accessible via ownCloud, I have added them as CIFS remote storage and pass through ownCloud credentials (every ownCloud user has a corresponding local user an

[2017-01-14 01:44] kenyang001 commented on #24503
Hi, i am still using 9.0.4. will upgrade it later to see if it works.

[2017-01-14 05:12] anonimal commented on #18391
What more was needed of me?

[2017-01-14 10:01] HLFH commented on #18391
They just wanted to close this issue to think they solved it.

[2017-01-14 10:43] Sikarjan commented on #26932
Sorry but my webspace provide does not over me a command line (ssh access).

I guess by know this installation is seriously broken. Is it possible to rescue the contacts and calendars? Can I do a fresh installation of the newest release and impart the contact and calendar table?

[2017-01-14 13:21] benkinooby commented on #24461
The issue still persists in 9.0.4
I'll upgrade to 9.0.7 asap and report back.

[2017-01-14 13:23] kdslkdsaldsal commented on #26941
@pako81 The best is probably to create a Pull Request with your suggested changes to the status.php for discussion.

[2017-01-14 13:38] AykutCevik commented on #11790
Thumbnails are still not encrypted in the latest stable release (9.1.3) of owncloud. This makes encryption for images obsolete since any server host can still access private images of its users without doing any modification on the code. Is any progress made on this issue? Should be handled with a higher severity IMO.

[2017-01-14 14:10] christianpoortvliet commented on #25625
Manually updated 9.1.3, will see how it works when next update is available.

[2017-01-14 14:33] kdslkdsaldsal commented on #25949
@Flonix Alternatives:

1. Switch to Apache + mod_php
2. Switch to nginx + php-fpm
3. Contact a community dedicated to your used webserver how to get this to work in chrooted environments

[2017-01-14 19:47] Sikarjan commented on #26932
I did a fresh install with the latest OC and imported the old stuff manually.

[2017-01-14 19:47] #26932 closed

[2017-01-14 21:22] Newcomer1989 commented on #25858
On starting the OC with PHP 7.1 (is now released - 01 Dec 2016) I get this message:

[code]

I think there is actual no official repository to get the OC 9.2.0. I found only a nightly build, which is not recommend to use (https://download.owncloud.org/download/repositories/nightly/).

I hope this helps for all other ppl, which are also searching for a solution like me... (ehm, the solution is actu

[2017-01-14 23:35] kdslkdsaldsal commented on #25858
There is no 9.2.0 yet. This gets released as 10.0 in March 2017 and is compatible with PHP 7.1:

https://github.com/owncloud/core/wiki/Maintenance-and-Release-Schedule

[2017-01-14 23:37] kdslkdsaldsal commented on #18391
Most likely https://github.com/owncloud/core/issues/18391#issuecomment-239863143

What are you trying to achieve with such comments?

[2017-01-15 03:29] anonimal commented on #18391
I haven't used owncloud since. I simply got the ball rolling, I'm not an owncloud developer.

[2017-01-15 07:10] ZinkDifferent commented on #22975
Yes, Vincent, I can confirm.

When doing a webdav connection via macOS Finder, the connection is insanely slow, or times out (never completes).

When I perform the same connection with a different client (in this case, the Transmit FTP program, using webDAV connection), the connection is stable and as fast as my link allows.

On the server side, it is Ubuntu 16.04LTS and I use nginx 1.10.0, and PH

[2017-01-15 08:40] kdslkdsaldsal commented on #22975
@ZinkDifferent Not quite sure if this is related to your posted quote:

IIRC this issue just has caused Finder to fail completely as the server hasn't accepted the PUT request at all (replied with the mentioned 411 Length Required instead).

[2017-01-15 11:14] fgeek commented on #23595
Does this vulnerability have oC-SA advisory or CVE identifier?

[2017-01-15 17:31] tomneedham commented on #26765
Ahh. It seems the chrome functionality also only searches panels that are visible which means this shouldn't be too hard to implement on the JS client side.

[2017-01-15 17:34] tomneedham opened #26944 "Consider opportunities for ajax loading settings panels"
Once https://github.com/owncloud/core/pull/26449 is merged we will have each settings panel (admin & personal) in a separate class, giving us the opportunity to load these dynamically and stop full page reloads in the admin interface.

At least one issue we will face is that most existing panels include third party scripts in their templates and these most likely won't play nicely being included m

[2017-01-15 17:53] tomneedham commented on #26765
One option could be to at least load a map of panel titles on the page load which JS could use to search, no matter what section you are viewing. For example, if 'Firewall' is under 'Security', you may search for 'Firewall' in the search bar and we could return this in the results with a link to the security section, and #firewall

[2017-01-15 18:56] ZinkDifferent commented on #22975
Yes, absolutely related.

What's odd is that Nginx used to be the only instance where this worked in the past (2-3 years ago) - though apparently something either changed with nginx or the owncloud implementation since then.

This is vexing as it, again renders it virtually useless when used for a Mac (WebDAV access is the whole point).

__
ceci n'est pas un iPad

[2017-01-15 18:58] kdslkdsaldsal commented on #22975
Out of curiosity: How do you know? As already written if the webserver is not supporting Transfer-Encoding: Chunked in PUT request bodies the upload should fail completely instead of being slow.

[2017-01-15 19:18] kdslkdsaldsal commented on #23595
Possible fix is available in https://github.com/owncloud/core/issues/26934

@fgeek Most likely not as such commonly as low rated information disclosures like user enumeration seems to be out of the scope of the security program of oC:

-> https://owncloud.org/security/

[2017-01-15 19:23] kdslkdsaldsal commented on #24461
Normally such messages are environmental issues like edited files, own themes or 3rdparty apps containing files with an ending white space after the last line like explained here:

https://www.geeklog.net/faqman/index.php?op=view&t=38
https://stackoverflow.com/questions/8028957/how-to-fix-headers-already-sent-error-in-php

[2017-01-15 19:27] kdslkdsaldsal commented on #11790
Some notes about that is available here:

The use case of the encryption app is not to protect your local files as widely known and explained here:

https://doc.owncloud.org/server/latest/admin_manual/configuration_files/encryption_configuration.html

[2017-01-15 21:01] ZinkDifferent commented on #22975
Good question - Nginx, allegedly, supports chunked requests. My earlier installation under ubuntu 14.04 and a manual install of Nginx did, and worked like a charm.

In this new instance, ubuntu 16.04 and I installed Nginx using the EasyEngine tool. Makes it faster and includes php7 and Redis cache as well.

Mind you, with all that fancy automation, it's possible that Nginx is configured differentl

[2017-01-16 06:12] aguazul commented on #19834
I'm surprised this is still an issue.  Github cannot upload a folder that has more than 100 files?  Strange...

This is really holding me back today...

[2017-01-16 07:03] kdslkdsaldsal commented on #22975
@ZinkDifferent

If the transfer is just failing the ticket here is probably the wrong place. I think its the best that you create a new issue and make sure that you fill out the issue template shown to provide all needed info about your environment.

Before creating such an issue you can also run litmus against the WebDAV interface of oC to make sure its not a setup / webserver / PHP issue:

https

[2017-01-16 08:25] simpleuser99 opened #26945 "Error PHP Call to undefined method OCA\user_ldap\lib\user\OfflineUser::composeAndStoreDisplayName() atapps/user_ldap/user_ldap.php#385"
HI.
I update mu OC from 8.2.x to 8.2.9 and i have the next erorr

My ldap users can't login to owncloud, they view 500 http code/

[2017-01-16 09:00] kdslkdsaldsal commented on #26945
Duplicate of https://github.com/owncloud/core/issues/25588 which needs a new release 8.2.10 to have this fix included: https://github.com/owncloud/core/pull/26741

For now you can apply the patch from https://github.com/owncloud/core/pull/26741/files until 8.2.10 is released.

[2017-01-16 09:28] conexxo commented on #26896
Hi,
thanks for your replies! I checked the oc_filecache table on the server and it has 817778 entries, i tried to run a query manually and it executed in 0.01 seconds (according to mysql). That does not seem too slow to me? Should I run the occ files:cleanup command to see if there are any changes in the behaviour of my OC or is there any other possible way to check if this is the cause of my prob

[2017-01-16 11:20] bjo81 commented on #26859
After investigating further, the issue seems to be caused in my case due to using uidNumber as MemberUid and not uid itself.

[2017-01-16 11:38] ageru commented on #24503
Hi,

I'm on 9.0.7. I tried to reproduce the issue, both by using my steps and those of the parent. Nothing showed up in the logs and the functionality worked as expected.

Looks like it's fixed to me.

Many thanks.

[2017-01-16 12:48] Mysterycz commented on #26930
Hello, one more info.

I cloned owncloud server (1:1) to another VM host and tried manual upgrade again. This time without switching server to maintanance mode and it works like a charm. So steps 2,3,7 are useless and without them it is working as expected. I will try it soon on my primary server and I will let you know :-)

[2017-01-16 13:07] PVince81 commented on #24503
Thanks for the feedback, closing

[2017-01-16 13:07] #24503 closed

[2017-01-16 13:43] Kawohl opened #26947 "missing xml.keys in SLES repos"
Hey folks,

we have a problem with our SLES repos there are no keys available where i would expect them https://download.owncloud.org/download/repositories/stable/SLE_12_SP1/repodata/repomd.xml.key

`rpm --import https://download.owncloud.org/download/repositories/stable/SLE_12_SP1/repodata/repomd.xml.key`
results in

`error:https://download.owncloud.org/download/repositories/stable/SLE_12_SP1/rep

[2017-01-16 13:58] glannes31 commented on #26921
thanks for your answer , i close the issue

[2017-01-16 13:58] #26921 closed

[2017-01-16 14:16] furai commented on #22809
Hey, I'm also interested in it, is it going to happen?

[2017-01-16 14:32] IljaN commented on #26866
@PVince81 Is it sufficient to modify the version.php in core, and  owncloud min/max Version in info.xml of every bundled app?

[2017-01-16 16:59] DeepDiver1975 commented on #18425
fixed with #26946

[2017-01-16 17:00] PVince81 commented on #26866
@IljaN yes, that should be enough. Thanks

[2017-01-16 17:01] #18425 closed

[2017-01-16 17:42] VicDeo commented on #25563
@PVince81 @DeepDiver1975 any reason why we have `oc_properties` table in core `db_structure.xml` and not in `app/dav/appinfo/database.xml`?

[2017-01-16 18:02] PVince81 commented on #25563
We probably never moved it when creating the "dav" app.

[2017-01-16 18:05] #26945 closed

[2017-01-16 22:10] deeky666 commented on #18425
@DeepDiver1975 this should have been fixed with `2.5.5` already.

[2017-01-16 23:03] DeepDiver1975 commented on #18425
If I remember correctly we still had issues with 2.5.5 .. but I don't remember ...

[2017-01-16 23:44] benkinooby commented on #24461
I use vim as editor and do not have any custom themes, mail templates or 3rd party apps installed. Also I never messed with any php files. Actually, now that this bug was revived after nearly a year I'm having a hard time to reproduce this specific bug/error message.

Ironically two things hold true currently (v9.0.4):
* owncloud started to spam activity notification mails after upgrading to 9.0.4

[2017-01-16 23:52] DeepDiver1975 commented on #17223
-> market

[2017-01-16 23:52] #17223 closed

[2017-01-16 23:58] DeepDiver1975 commented on #4944
we are reorganizing settings -> #26449 -> close

[2017-01-16 23:58] #4944 closed

[2017-01-16 23:58] DeepDiver1975 commented on #12138
@felixboehm  @PVince81 fyi - as discussed  today

[2017-01-17 08:13] PVince81 commented on #24461
@benkinooby thanks for the feedback

[2017-01-17 08:13] #24461 closed

[2017-01-17 08:23] thejulian commented on #26896
As far as I know, the occ files:cleanup looks for files, which doesn't exist anymore and deletes them from oc:filecache BUT the oc_filecache isn't a cache, it is a index of all files.

[2017-01-17 09:56] kiu-ball commented on #26297
Ok, gave 9.1.3 another try with an older (9.0.6) database backup and 4Gigs of RAM for the PHP process. It tooks 16 hours but works. Not sure but maybe my database was corrupted in 9.0.7.

[2017-01-17 10:10] Kawohl commented on #19985
Is resolved afaik `zypper addrepo http://download.owncloud.org/download/repositories/8.2/openSUSE_13.2/ce:8.2.repo`

Close

[2017-01-17 10:10] #19985 closed

[2017-01-17 10:11] IljaN commented on #26866
@PVince81 PR's for all bundled apps have been created, altough I am seening a few CI fails, because Jenkins apparently checks out version 9.2 thus the apps can not be installed.

[2017-01-17 11:34] pmaier1 commented on #3577
Concluding notes having talked to @DeepDiver1975 :
- The requested functionality currently is not provided by OCC.
- Provisioning API has the drawback (in this case) that it needs admin credentials. **However, it is the recommended way to solve the issue for now.**
- Assignment of admin rights to arbitrary groups is a feature that fits with our vision and will be taken into account in a future con

[2017-01-17 14:55] wioxjk opened #26952 "Request: Able to send files via email from OC web gui"
As the title suggested, is it possible to implement any feature like this?

Ofcourse,  the files sent as an attachment can't be too big.

[2017-01-17 17:28] DeepDiver1975 commented on #26952
From my pov this is absolutly in the opposite direct of what owncloud is trying to provide to the users.
Instead of duplicating content by sending copies to various collaborators via email we should encourage users to share and work collaborativly on the original resource.

[2017-01-17 21:30] willemkeizer commented on #26205
Hi,

Thank you for posting this. I had the same problem when updaitng from 8.2.4 via 8.2.7, 9.0 to 9.1. I forgot to migrate the address books going form 8.7 to 9.0, and then I messed all up.

Anyway, you can correct the links by exporting the MySQL database table oc_appconfig, change it and read it back in after deleting the original from the MySQL database. I used phpMyAdmin, and just exported it

[2017-01-17 22:25] tavinus commented on #24575
Sorry to reopen this, but I am still facing this problem on OC 9.1.2 (stable). Any ideas?

[2017-01-18 01:49] dgorrd opened #26958 "Owncloud reports PHP version 5.3.29 on a server running 5.4.45 and stops"
### Steps to reproduce
1. Run the setup php file OR
2. Finish installation and go to next step, then
3. Owncloud failes saying that PHP version 5.3.29 is running when Hostgator says 5.4.45 is running.

### Expected behaviour
Tell us what should happen
It should go to the next step of setup without failing

### Actual behaviour
Tell us what happens instead
The index.php file aborts reporting PHP ve

[2017-01-18 02:15] hubearth commented on #7272
+1. I know there are work around, but the beauty of Owncloud is its simplicity. Adding a feature to unshare a subfolder would help to keep a good structure while restricting specific parts to some users only.

[2017-01-18 07:00] kdslkdsaldsal commented on #26958
@dgorrd You can put a file with the following content side-by-side to the ownCloud files:

[code]

and open it in your browser. This is very very likely showing the same outdated PHP version. The setup check of oC is using native PHP methods for getting the PHP version so normally this can't be wrong.

[2017-01-18 07:15] SpecBlackHat commented on #26910
Return old version from backup - same result. Endless circle.

[2017-01-18 08:21] wioxjk commented on #26952
@DeepDiver1975
I totally get your point and for the most parts it is the most optimal thing to do.

But sometimes, I just want to send a picture to my colleague or friends directly to their email. Not just a link to the file on my OC server.
I mean, this should'nt be that hard to implement (maybee a hidden option in one config file or something)

[2017-01-18 08:21] wioxjk commented on #26952
Accidently closed this,,

[2017-01-18 09:43] PVince81 commented on #24575
@tavinus please make a new ticket and post reproduction steps and details about the sharing scenario. Use the issue template for that: https://raw.githubusercontent.com/owncloud/core/master/.github/issue_template.md

[2017-01-18 09:49] DeepDiver1975 commented on #26958
This is for sure an environment issue - please seek out for help on https://central.owncloud.org - THX

[2017-01-18 09:49] #26958 closed

[2017-01-18 10:23] j-ed commented on #26738
@PVince81 Is this already part of OC 9.1.3?

[2017-01-18 10:27] #26758 closed

[2017-01-18 10:33] moscicki commented on #20380
We have a similar problem on a small auxiliary installation running owncloud 9.1.3. Is this issue understood already and in the pipeline for fixing?

Files are sometimes locked and neither cleaning up the oc_file_locks table occ files:scan --all solves the problem. In this particular server the crons were not run for a long time due to misconfiguration. We corrected that and run the cron job few t

[2017-01-18 10:33] PVince81 opened #26960 "Merge LazyCacheMountInfo with CachedMountInfo"
See https://github.com/owncloud/core/pull/26912#issuecomment-272803715

@jvillafanez

[2017-01-18 10:43] PVince81 commented on #22370
Fixes were merged and backported, closing.

For stable9.1 it was these two PRs:
- update icewind/streams lib: https://github.com/owncloud/3rdparty/pull/284
- prevent fclose to be skipped when PHP connection lost: https://github.com/owncloud/core/pull/26939

[2017-01-18 10:44] PVince81 commented on #20380
@moscicki this issue here is about people using ajax cron where ajax cron doesn't run often enough to trigger the oc_filelock cleaning background job.

If you say that even clearing that table doesn't solve the problem, then it's a problem that has not been reproduced and understood yet. The TTL is set to 3600 here https://github.com/owncloud/core/blob/v9.1.3/lib/private/Lock/DBLockingProvider.php

[2017-01-18 10:48] PVince81 commented on #22370
Oh wait, the 3rdparty backport wasn't merged yet.

[2017-01-18 11:40] guruz commented on #26881
I wonder if a Qt 5 based build could help here, we had glitches with connectivity that were fixed by using a different Qt version.

The Qt 5 builds are work in progress

[2017-01-18 13:12] PVince81 commented on #26598
Closing due to lack of feedback, I assume that this was the issue you were having. Please reopen if applying the patch did not fix the issue for you.

[2017-01-18 13:12] #26598 closed

[2017-01-18 15:26] settermjd commented on #10190
Will get this done.

[2017-01-18 15:55] settermjd commented on #10190
owncloud/documentation/pull/2813 has been created to handle this issue. Please add any future comments there.

[2017-01-18 16:39] settermjd commented on #14069
Is this still relevant @PVince81 @MorrisJobke?

[2017-01-18 16:45] settermjd commented on #16507
@PVince81 @rullzer @cantonios is this still an issue and is a documentation update required?

[2017-01-18 17:12] davitol commented on #16507
@settermjd It stills an issue. oC seems to make the share (the LDAP group even appears in the sharing box and makes a fake share), but when login with a user of that group, he does not get the share

[2017-01-18 17:46] davitol commented on #16507
@settermjd Yes, it stills an issue. It is not possible to share to remote groups

This is the error message shown:

Sharing parati.txt failed, could not find grupo@docker.oc.solidgear.es:61041, maybe the server is currently unreachable.

[2017-01-18 18:43] robarchibald commented on #10901
Dovecot does password policy enforcement through an external API call. There are a lot of benefits to doing it this way including the fact that ownCloud doesn't have to design or implement the myriads of different password policies that every different enterprise could want. If ownCloud were to simply support an API call, there could be a truly SIMPLE configuration UI to point to an API server wit

[2017-01-18 19:56] mckaygerhard commented on #13642
Maybe, not, i mean, **that's the reason why some developer folked to nextcloud! @novat0  has right! :+1:**

[2017-01-18 23:59] dgorrd commented on #26958
I know this is an environment issue but I was hoping Owncloud would do a
better job of detecting the environment and figuring out that PHP 5.4.45
was installed, not 5.3.29.  It doesn't seem possible now to use Owncloud
on this web host.

On 1/18/2017 1:50 AM, Thomas Müller wrote:

[2017-01-19 00:00] MorrisJobke commented on #14069
I don't know, what the status is here.

Disclaimer: I also moved to https://github.com/nextcloud.

[2017-01-19 00:05] dgorrd commented on #26958
When I did this it reports PHP 5.4.45 which is good.  But the
installation files report 5.3.29 and abort.

Thanks,

Doug

On 1/17/2017 11:00 PM, kdslkdsaldsal wrote:

[2017-01-19 06:46] kdslkdsaldsal commented on #13642
@gstrauss At the first i wasn't sure but now its clear. This @mckaygerhard is a known Troll posting useless / senseless comments without background knowledge from various accounts like the @novat0 one. Just ignore these.

@mckaygerhard Please just leave this repository and nag the nextcloud guys with your comments.

[2017-01-19 06:57] kdslkdsaldsal commented on #26958
@dgorrd Just some background info:

ownCloud is using a native PHP constant ``PHP_VERSION`` (https://secure.php.net/manual/en/reserved.constants.php#reserved.constants.core) to get the running PHP version. Whats returned by this function is the actual running PHP which is executing the setup / php file

If you get a higher version from the phpinfo.php:

1. you have put this file to another locatio

[2017-01-19 08:26] PVince81 commented on #16507
Sharing to federated groups was never supported. This will requires a lot of concept and implementation work.

[2017-01-19 08:42] jvillafanez commented on #26859
I can't say for sure but maybe ownCloud expects the MemberUid attribute to contain the uid of the user as said by @bjo81

[2017-01-19 09:43] jvillafanez opened #26972 "Proposal: add new occ command to list users"
The new occ command would list the uid of all the users.
* The command would allow "limit" and "offset" options to limit the number of results
* The command would allow some kind of filters (to be decided what filters and how) to avoid returning all the users.
    * by backend type (DB | LDAP)
    * by uid or displayname matching
    * others ....
* It would only show the user's uid by default, on

[2017-01-19 10:15] bjo81 commented on #26859
Yes, I have the save issue with NextCloud and according to them, it expects uid as memberUid. So it would be a nice feature if the DN would be configurable.

[2017-01-19 11:02] PVince81 commented on #22370
Also backported to 9.0, will be in 9.0.8.

Closing now.

[2017-01-19 11:58] mirekys commented on #26837
@JochenHWezel @esprit-libre @PVince81 could you please have a look at that #23151 issue if you can reproduce that in your environment? I still believe that it is very closely related to this issue and it is quite easy to reproduce for me as described here: https://github.com/owncloud/core/issues/23151#issuecomment-197805208 .

[2017-01-19 13:35] PVince81 commented on #22370
Additional backport required, because it turns out that the icewind/streams library is also bundled by files_external and needs to have the same version to avoid strange side effects...

PR here: https://github.com/owncloud/core/pull/26974

[2017-01-19 14:21] jturcotte opened #26975 "Can't set a user's quota back to Unlimited"
### Steps to reproduce
1. Go tu user admin page, set quota to 1GB
2. Once applied, try setting quota back to Unlimited

### Expected behaviour
Quota is set back to unlimited

### Actual behaviour
Orange error box at the top saying `Invalid quota value "none"` and refreshing the page shows that the quota wasn't changed.

### Server configuration
**Operating system**:
macOS (I assume this doesn't ma

[2017-01-19 14:23] PVince81 commented on #26975
@VicDeo some bisecting fun ?

[2017-01-19 15:43] #26055 closed

[2017-01-19 16:04] VicDeo commented on #26975
@PVince81 I see you  ;) https://github.com/owncloud/core/commit/819b7c45a94dd86e673a478d13ae100e9bc34ad4#diff-69cbab0a372c067f4ea645443652066c

[2017-01-19 16:05] VicDeo commented on #26975
For Unlimited quota the value is 'none'

[2017-01-19 16:11] PVince81 commented on #26975
@VicDeo argh. Thanks for finding it. Can you fix it ?

[2017-01-19 16:16] #14248 closed

[2017-01-19 16:45] PVince81 commented on #26702
PR is merged

[2017-01-19 16:53] PVince81 commented on #15701
@butonic backport required for this new command ?

[2017-01-19 16:57] PVince81 commented on #26065
Please also make sure you have memcache enabled to reduce the number of queries to LDAP.

[2017-01-19 16:58] PVince81 commented on #26065
cc @cdamken

[2017-01-19 17:06] moscicki opened #26980 "SQLSTATE[40001]:Serialization failure with deadlock causes files to stay locked"
Hello,

On a small owncloud 9.0.1 instance (running with PHP7 on Debian and MySQL) we regularily see this problem: files uploaded from a desktop client get locked and server reports 423 error back. Out of 200 files, some 10% fail to upload (locked), client retries many times until all completes.

This problem was originally described here: https://github.com/owncloud/core/issues/20380#issuecomment

[2017-01-19 17:12] PVince81 commented on #26886
@DeepDiver1975 any update ? Update the library in all branches ?

Would be good to have this before next tuesday's RC1.

[2017-01-19 17:17] moscicki commented on #20380
@PVince81: I created a new issue for this because it looks like the exception causing this is different: #26980

[2017-01-19 17:38] preske87 commented on #26205
Hi,

can you please advise what exactly you did export and import? I am experiencing the issue also with newly created shares...

Regards

Philipp

Von: willemkeizer <notifications@github.com>
Antworten an: owncloud/core <reply@reply.github.com>
Datum: Dienstag, 17. Januar 2017 um 22:30
An: owncloud/core <core@noreply.github.com>
Cc: "preske87@gmail.com" <preske87@gmail.com>, Author <author@norepl

[2017-01-19 17:50] PaulHughes99 commented on #26065
Hi - sorry i was distracted by other projects but will look at this again in next few days.

Sent from a phone.

[2017-01-19 18:07] jturcotte opened #26981 "ChunkingNG: Stray chunks are never deleted"
### Steps to reproduce
1. Start uploading a 500MB file using the client 2.3
2. While chunks are still being uploaded, touch the source file (or move it out of the directory, and in again after the sync). The sync will be aborted and a new one will try to re-upload chunks from the start, using a new transfer-ID and leaving old chunk files on the server.
3. Complete the sync
4. Repeat every day for

[2017-01-19 18:09] jturcotte commented on #26981
/cc @DeepDiver1975 @ogoffart @guruz @ckamm

[2017-01-19 18:24] ogoffart commented on #26981
The client could issue a DELETE on the uploads directory if it detects stale uploads data on the database. But there might be cases where we would miss it.

[2017-01-19 18:38] guruz commented on #26981
Should need to respect this setting
https://github.com/owncloud/core/blob/850ad9c47e53706d6e7abec794afb76e4f032ff8/config/config.sample.php#L980
https://github.com/owncloud/core/search?utf8=%E2%9C%93&q=cache_chunk_gc_ttl&type=Code

[2017-01-19 18:53] dgorrd commented on #26958
I put the installer file into the same location as the phpinfo.php file,
but they still report two separate versions. I did contact the website
hosting company but once the tech support person saw phpinfo showing
5.4.45 they refused to look any further.  They use a PHP version system
where you select (rather than install) the PHP version you want and it
goes into a configuration file.  I don't kno

[2017-01-19 20:07] moscicki commented on #26980
Actually, disabling the transactional locking in the config file makes the problem go away. That's very disturbing...

[2017-01-19 21:36] PVince81 commented on #26980
How about trying with redis for file locking ?

If disabling locking makes it work, then some concurrency problem is happening when dealing with DB based locks.

[2017-01-19 21:41] #26975 closed

[2017-01-19 21:48] PVince81 commented on #26941
PR here https://github.com/owncloud/core/issues/26973

[2017-01-19 21:52] PVince81 commented on #26981
Maybe we need something like https://github.com/owncloud/core/issues/14646.

But maybe the DELETE idea is not bad. @DeepDiver1975 how was it intended to work / be used ?

[2017-01-19 23:03] willemkeizer commented on #26205
Hi Philipp,
The occ command gives you the listings of your config
     sudo -u www-data php occ config:list

This seems to be be what is stored in the sql database. If the relative paths to the respective php modules are not correct, this need to be adjusted in the database. I use MySQL with phpMyAdmin. From that tool, you can export the table called oc_appconfig (as sql) and delete it from the ow

[2017-01-19 23:05] willemkeizer commented on #26205
Regarding new shares: these were indeed also affected in my case. Just because the variable settings were wrong. Owncloud looked in the wrong folders for the php module it needs.

Willem

[2017-01-20 00:13] davidjericho commented on #26901
This one hadn't crossed my mind, but it's definitely a problem for us too.

[code]

It'll be a huge problem with our planned growth this year.

[2017-01-20 05:51] moscicki commented on #26980
I have a gut feeling that this is likely in the code path for external mounts. The problem appears for a folder which is "External Mount" pointing to the local disk on the same server and then shared with a user by administrator. That should be easy to check on your side.

[2017-01-20 09:32] fmkaiser commented on #26242
@DeepDiver1975 sorry to re-open this, but it appears the fix was not backported to 9.0 despite being mentioned in the release notes.

We just stumbled across this issue again in 9.0.6 EE.

[2017-01-20 09:56] ckamm opened #26988 "ChunkingNG: Missing chunks are silently ignored"
### Steps to reproduce
1. Start a chunked upload with a MKCOL, setting OC-Total-Length to 10M.
2. Upload some, but not all, of the 5 2M chunks.
3. MOVE .file to the destination.
4. The MOVE will succeed. The resulting file will not be 10M in size.

### Expected behaviour
The MOVE should fail because chunks are missing.

### Actual behaviour
The MOVE succeeds and the target file is a concatenation

[2017-01-20 13:10] DeepDiver1975 commented on #26242
This is true - just a sec ....

[2017-01-20 13:35] DeepDiver1975 commented on #26242
@fmkaiser here we go - please test - THX

https://github.com/owncloud/core/pull/26991

[2017-01-20 13:44] guruz opened #26992 "ChunkingNG: Uploading existing file re-creates fileID"
The FileID returned by the final MOVE is not the same as the existing's file FileID.
Normaly FileID should not change when a file is modified.

https://github.com/owncloud/client/wiki/Etags-and-file-ids "File IDs never change for the lifetime of a file."

Note that this is only a theorical issue. The client does not have any problem with changing fileids and the sync algorithm will not be impacted

[2017-01-20 13:54] PhilippSchaffrath commented on #26027
Starting new implementation and a little bit of cleanup work in `remember-me` branch, since it looks like more than half of the code for of the current implementation is missing.

[2017-01-20 14:06] ogoffart commented on #26981
With this pull request, the client would try to delete stale chunks: https://github.com/owncloud/client/pull/5480

[2017-01-20 14:51] bitbull06 commented on #14260
issue solved for me by configuring the following in 'advanced' tab of LDAP options:
- activating nested groups
- eliminating non-existing OUs for users
- setting paging chunk size to 0
afterwards, the error doesn't show up in logging anymore

[2017-01-20 14:52] fmkaiser commented on #26242
@DeepDiver1975 I applied the fix on our servers (on top of 9.0.6 EE).

Looks good so far, but I'd like to watch it for a bit longer and will come back to you on Monday.

Our case was a bit differnet than described in the initial report.
Same outcome - oc_cards.carddata grows with more and more PHOTO objects until MySQL max_allowed_packet is reached, then the user can't log in anymore.
However whil

[2017-01-20 15:25] Ninoscorp opened #26994 "Weird connecting behaviour"
Today I installed owncloud, installed LAMP, then owncloud, when i try to connect to my owncloud with the router ip it connects fine, but if i try to use its IP or my DNS it doesnt want to connect, just says
"Access Error: 404 -- Not Found" i checked all the steps and everything seems to work, anything else i should try?

[2017-01-20 15:28] pako81 commented on #26941
Nice :)

[2017-01-20 17:08] kdslkdsaldsal commented on #26994
@Ninoscorp Please note this is a bugtracker for ownCloud. Setup / environmental issues and questions needs to go to https://central.owncloud.org/c/help/miscellaneous

Please close here and follow the link above. When posting there (you can use your github account there) make sure that you're filling out the issue template shown there.

[2017-01-20 17:23] kdslkdsaldsal commented on #26958
@dgorrd You can point them to a file containing:

[code]

Overall ownCloud is using this constant as written before:

https://secure.php.net/manual/en/reserved.constants.php#reserved.constants.core

so ownCloud just can see whats coming back from this. There is nothing what can be done from oC side if ownCloud is getting a wrong version from your setup.

[2017-01-20 17:46] #26994 closed

[2017-01-21 07:55] dgorrd commented on #26958
I think the environment problems are even deeper than that.  I altered
the setup files to eliminate the check for PHP_VERSION and the setup
crashed a little farther on when accessing the base.php file.  I tried
to tell hostgator that, but they took one look at phpinfo.php reporting
5.4.45 and refused to look any further. They use a system where the
current php version is altered in a configuration

[2017-01-21 11:23] ck19912 opened #26998 "ownCloud is not compatible with PHP 7.1"
I have upgraded my php to 7.1.1 and now ownCloud won't work.

Now i get the following error:
`This version of ownCloud is not compatible with PHP 7.1.
You are currently running 7.1.1. Please use at least ownCloud 9.2.0.`

When will ownCloud support php 7.1?

[2017-01-21 14:27] kdslkdsaldsal commented on #26998
Duplicate of https://github.com/owncloud/core/issues/25858 with an answer to your question in https://github.com/owncloud/core/issues/25858#issuecomment-272661658

[2017-01-21 15:07] #26998 closed

[2017-01-21 23:40] scroom commented on #26859
@bjo81 I think that your problem is different to mine. In fact the groups are filled with users but don't get updated afterwards.

[2017-01-22 08:59] gumpp opened #26999 "Installation of OwnClound 9.1 fails on Ubuntu 16.04 due to wrong dependencies"
On a fresh install of Ubunt 16.04 (Xenial Xerus) I did the following:

[code]

which resulted in the following error:
[code]
Perhaps this is related to issue #25659 ?

[2017-01-22 10:15] kdslkdsaldsal commented on #26958
So most likely time to switch the hosting provider.

[2017-01-22 11:13] facilitator999 opened #27000 "User email not saved"
When users add password from /index.php/settings/personal it is not saved

[2017-01-22 15:37] kdslkdsaldsal commented on #27000
@facilitator999 Please fill out the issue template shown when creating a new issues. Reports like this are pretty useless as even the basic information is missing.

[2017-01-22 19:11] masteranalyze commented on #17012
The link was in my prevision post,anyhow this is the link to NC 12 overview 👍
https://github.com/nextcloud/server/issues/2672

But from what i see,nobody wants to implement this either if we talk about the old group of owncloud or the new cloud members,but maybe if we post more there,and ask for this,maybe things happens.

[2017-01-23 06:20] PVince81 commented on #26992
@SergioBertolinSG we need integration tests for new chunking

[2017-01-23 07:51] SergioBertolinSG commented on #26992
@PVince81 there are some tests about it already: https://github.com/owncloud/core/blob/master/build/integration/features/webdav-related.feature#L374

[2017-01-23 09:14] davitol opened #27001 "Renaming a file in Desktop Client external storage folder, duplicates the file with a very specific configuration"
### Steps to reproduce

1- As Admin, setup 2 mountPoints that connects to the same  backend
2 - With the same Desktop client, configure 2 accounts with different users that have access to the external storage mountpoints
3 - From the Desktop Client of one of these users, rename a file

### Expected behaviour

The file should be renamed

### Actual behaviour

The file is duplicated, and it appears

[2017-01-23 10:52] PaulHughes99 commented on #26065
@PVince81 I will devote some time to this now but please forgive a couple of newby questions:
a) To test code modifications, I simply directly modify the Session.php file on my test OC instance, and then relaunch?
b) Where do i enable memcache?

[2017-01-23 11:36] PVince81 commented on #26992
@SergioBetrolinSG please add one to cover this one case where the FileID must not change on overwrite. (also see if we have this test for dav v1 and if not, add it too)

[2017-01-23 11:58] PVince81 commented on #26065
@PaulHughes99 in this specific case, yes. Directly modify Session.php.
For memcache, see config.sample.php or the admin documentation https://doc.owncloud.org/server/9.1/admin_manual/

[2017-01-23 13:25] PVince81 commented on #27000
Please reopen once you filled out the issue template, thanks.

[2017-01-23 13:25] #27000 closed

[2017-01-23 13:43] shockrifleut commented on #26910
I had the same problem on a FreeBSD 10.3 box, but I don't think it's in any way related to OC.
Directly using smbclient from the shell showed exactly the same behaviour, where on every other machine the shares worked fine.
After building samba4 (4.4.5) from the ports, the samba4 version of smbclient (using Samba 4.4.5) worked again. So I also built and installed libsmbclient (from the samba4 sourc

[2017-01-23 14:45] PaulHughes99 commented on #26065
@PVince81 Thanks. I've made those changes and it does appear to reduce the over-authentication. I'll test it though over a couple of days and report back.

[2017-01-23 15:09] fmkaiser commented on #26242
@DeepDiver1975 looks good still, thanks again for the quick reaction!

[2017-01-23 17:50] kdslkdsaldsal commented on #26999
When inspecting the https://download.owncloud.org/download/repositories/9.1/Ubuntu_16.04/all/owncloud_9.1.3-1.1_all.deb we can see the following in the control file:

``
Depends: owncloud-files (>= 9.1.3), owncloud-deps-php5 (>= 9.1.3) | owncloud-deps
``

This is obviously wrong / broken and should be:

``
Depends: owncloud-files (>= 9.1.3), owncloud-deps-php5 (>= 9.1.3) | owncloud-deps-php7.0 (>=

[2017-01-23 19:28] PVince81 opened #27006 "Don't write local files in integration tests"
The tests should not assume that they have write permissions (in my env they don't).

When running this:
[code]

From what I see the function `checkPublicSharedFile` tries to save the stream to a local file.

This must be changed to download to memory. From what I see it even discards the file, only checking if the download goes through. So maybe use Guzzle stream mode and stream read everything b

[2017-01-23 20:01] PVince81 commented on #26980
I wanted to try this but it seems v9.0.1 doesn't even let itself be setup with PHP 7.

I'd recommend upgrading to v9.0.7 or so. 9.0.1 is already quite old and many bugs were fixed since then.

My steps on v9.0.7:

1. Setup OC with DB locking (no memcache) on PHP 7.0.14, openSUSE 42.2 and MariaDB 10
1. Enable files_external app
1. Create an external storage mounted on "/local" with the type local a

[2017-01-23 22:34] tflidd opened #27007 "Get to see all user names"
### Steps to reproduce
1. login with cadaver via webdav: https://myserver/owncloud/remote.php/dav/
2. cd files
3. ls

### Expected behaviour
Show your files or only your username. If you use https://myserver/owncloud/remote.php/webdav/ you directly see your personal folder.

### Actual behaviour
See a list of all users on the system. You can't look into their folders but you see the users.

### Se

[2017-01-23 22:42] DeepDiver1975 commented on #27007
because you are in debug mode

[2017-01-23 22:42] #27007 closed

[2017-01-23 23:09] SpecBlackHat commented on #26910
After building samba4 (4.4.5) from the ports, the samba4 version of smbclient (using Samba 4.4.5) worked again. So I also built and installed libsmbclient (from the samba4 source!) and the php-smbclient extension by hand and everything works again like a charm now. - Can you write more details please? I had try to reinstall samba from the ports but it does not help. How to built and install libsmb

[2017-01-24 01:36] SpecBlackHat commented on #26910
Had reinstall:
samba-libsmbclient
samba-smbclient
pecl-smbclient

Nothing changed. Don't work. Endless circle.

![default](https://cloud.githubusercontent.com/assets/1147104/22230446/449a4cd6-e229-11e6-958d-234ecb7f3880.PNG)

[2017-01-24 05:32] #26866 closed

[2017-01-24 05:48] PVince81 commented on #26942
While there's a workaround, it is still an annoying issue especially if people don't test the link share and the files and discover much later that a file is broken (like it happened to me).

[2017-01-24 08:00] PVince81 commented on #27006
PR here https://github.com/owncloud/core/issues/27008

[2017-01-24 08:19] butonic commented on #15701
backport to 9.0.x requested.

[2017-01-24 08:20] PVince81 commented on #15701
Ok thanks. Please review my test adjustments in the PR and I'll backport.

[2017-01-24 08:23] PVince81 commented on #26731
I also have names with spaces like "Desktop client".

[2017-01-24 11:04] PVince81 opened #27012 "Error while posting comment in web view"
### Steps to reproduce
1. user selects file in shared folder owned by xyz
2. enters comment and presses post comment

### Expected behaviour
comment should be posted

### Actual behaviour
error occurs while posting comment

oC 9.1.3 EEe

### Server configuration
**Operating system**:
RHEL 7.2
**Web server:**
apache 2.4
**Database:**
mariadb

Browsers:
Chrome / Firefox / IE Edge

log file content:

[2017-01-24 11:07] PVince81 commented on #27012
From what I see in the stack, the problem happens in the activity app when the comment code is trying to post its activity. It is likely that either there is a deleted/ghost user who has access to that file and it is isn't excluded properly, or some other kind of ghostly... things.

[2017-01-24 11:16] PhilippSchaffrath commented on #25379
Issue closed since #26805 has been merged.

[2017-01-24 11:16] #25379 closed

[2017-01-24 11:24] PVince81 commented on #26918
This was solved, right ?

[2017-01-24 11:41] SergioBertolinSG commented on #26918
Yes, closing.

[2017-01-24 11:41] #26918 closed

[2017-01-24 11:45] shockrifleut commented on #26910
I was spending a few hours with this issue... First of all, I wiped all **samba36** related stuff from the system (it's marked **DEPRECATED** by the FreeBSD people anyway).
Afterwards I updated my ports tree (portsnap fetch, portsnap extract) and built and installed net/samba44 (make install).
Unfortunately this does not install libsmbclient, so I did **not** clean the samba44 build, but copied li

[2017-01-24 11:45] davitol opened #27013 "Wrong results searching for users in users page."
### Steps to reproduce
1. As admin user go to users page
2. Search for a pattern. e.g. 'anderson'

### Expected behaviour

Only users that contains anderson should be shown

### Actual behaviour

All users are shown.

### Server configuration

**Operating system**:
Ubuntu 16.04

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.6

**ownCloud version:**

"version":"10.0.0.0"

**Update

[2017-01-24 13:42] PVince81 commented on #10371
This makes integration tests fail on master when running the tests twice. This is because the first test creates an ext storage and deletes it at the end. But the second test run would find the stray keys from the previous run and cause issues.

Maybe at least the encryption code should ignore existing keys if the actual file isn't there and work as if the keys did not exist.

Test result:
[code]

[2017-01-24 14:11] timorei commented on #25834
Same Problem. Got double birthdays on (sadly most of) my contacts. How can I clean those up?

[2017-01-24 14:13] Philippe34 opened #27016 "unexpected "Downgrading is not supported" message after migration"
### Steps to reproduce
1. Migrate from 9.0.6 to 9.0.7 with ce:9.0.repo
2. "occ upgrade" was a success
3. I tried "occ maintenance" to fix any issues in database, but no errors and changes
4. I restarted apache to clear cache
5. Why does it work for almost owncloud clients, except for 2 clients

### Expected behaviour
No owncloud clients should have 500 Internal Error

### Actual behaviour
Almost a

[2017-01-24 15:32] PVince81 opened #27017 "CleanupRemoteStorage must not store all in memory"
See https://github.com/owncloud/core/pull/27010#issuecomment-274836572

Original PR is https://github.com/owncloud/core/pull/26379

If we can fix this for the next maintenance release and backport it would be good.

@butonic @jvillafanez

[2017-01-24 16:26] PaulHughes99 commented on #26065
So, once logged in, the authentication ceases, so adjusting this variable certainly helps. However, it is still over-authenticating (2-3) times during log-in process, both from web log-in and from desktop app. I'm wondering if there is a timeout parameters somewhere which is performing multiple re-tries because the response from the LDAP server is too slow. I'll hunt through the code, but if you k

[2017-01-24 17:02] VicDeo commented on #26227
@PVince81 Should it break for _any_ missing app or user_ldap only?

[2017-01-24 17:18] PVince81 commented on #26227
I'd say for any app that is expected to be there.

[2017-01-24 17:35] Markus872 commented on #18375
i have the same problem but im using nextcloud.

[2017-01-25 04:02] SpecBlackHat commented on #26910
Hm, reinstall samba44, the libsmbclient.so was installed successfully.
The same result - endless circle....

Here is the last log file

Error	encryption	Encryption Library, symmetrical encryption failed no content given	2017-01-23T02:33:38+00:00
Error	PHP	Undefined variable: data at /usr/local/www/owncloud/lib/private/Files/Storage/Wrapper/Wrapper.php#250	2017-01-23T02:33:38+00:00
Error	PHP	Missin

[2017-01-25 04:26] SpecBlackHat commented on #26910
Had try to turn off encryption.
No changes. Endless circle....
Don't know whats wrong and how to fix it...

[2017-01-25 08:01] JDWacka opened #27018 "May anyone help me? :)"
### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration
**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**ownCloud version:** (see ownCloud admin page)

**Updated from an older ownCloud or fresh install:**

**Where did you install ownCloud from:**

**Signing status (ownC

[2017-01-25 09:05] SergioBertolinSG commented on #27018
This is a bug tracker, please look for help in https://central.owncloud.org/

[2017-01-25 09:05] #27018 closed

[2017-01-25 09:23] PVince81 commented on #22370
All backports done, closing

[2017-01-25 09:23] #22370 closed

[2017-01-25 10:02] PVince81 commented on #25425
Looks like the encryption code requires the file name prefix to be the same, so that's why we never thought of changing the name: https://github.com/owncloud/core/pull/26978#issuecomment-275066787

[2017-01-25 10:39] PVince81 commented on #27012
Tried with a deleted user as recipient, no exception.

Looking at the stack trace it almost looks like the comment is being posted on a fileid linked to a user that doesn't exist or could not be resolved. How is that even possible ? Maybe someone deleted the share owner (maybe the owner is a zombie/remnant) and someone else kept the web UI open and tried posting a comment on the file still visible

[2017-01-25 10:57] PVince81 commented on #27012
Tested without memcache: deleting the sharer user from LDAP directly removes the share. So trying to post a comment yields another error which makes sense.

[2017-01-25 11:11] PVince81 opened #27026 "Shared storage stack trace for deleted user"
### Steps

1. Setup LDAP (no memcache) with 3 users "zombie300", "zombie301", "zombie302"
1. Login as "zombie300"
1. Create a folder "test"
1. Share "test" with "zombie301"
1. Post a comment for "test"
1. Login as "zombie301" and see that "test" folder exists
1. Post a comment for "test"
1. Delete the user "zombie300" from LDAP
1. Refresh the page: the share "test" disappears
1. Create a new folde

[2017-01-25 11:11] PVince81 commented on #27012
Arghhh, while trying to reproduce this I found yet another issue with shared storages and deleted users: https://github.com/owncloud/core/issues/27026

[2017-01-25 11:21] PVince81 commented on #27026
I debugged into this and saw that it is properly converted to a `FailedStorage`, but the exception is still logged because it's `NoUserException` instead of `NotFoundException`.

So adding `NoUserException` to the "white list" should be fine.

[2017-01-25 11:24] PVince81 commented on #27026
Fix is here https://github.com/owncloud/core/pull/27027

[2017-01-25 11:26] PVince81 commented on #27012
I managed to simulate a similar issue by manually setting the field "user_id" to "unexist" in the "oc_mounts" table. Since this is only a cache, it could happen that it contains references to deleted users so this needs to be handled gracefully.

Not sure how to create the situation from scratch, but I think this information is enough to justify the fix from the patch.

[2017-01-25 11:46] PVince81 commented on #27012
Okay, I found some steps:

1. Setup OC from scratch (no LDAP)
1. Create a user "user1"
1. Login as "user1"
1. `update oc_mounts set user_id='unexist' where user_id='user1';`
1. Refresh the page
1. Post a comment on "welcome.txt"

"Error posting comment"

Log shows:
[code]

[2017-01-25 11:48] PVince81 commented on #27012
Note: it is still not clear to me how the bogus entry made it into the database. It might be possible to trigger this with shares from deleted/ghost users where the cache entry still remains.

[2017-01-25 11:49] PVince81 commented on #27012
Fix is here https://github.com/owncloud/core/pull/27028

[2017-01-25 12:18] settermjd commented on #22058
Does this require a documentation update?

[2017-01-25 13:03] PVince81 commented on #22058
Depends whether QA can confirm if object store indeed works fine with encryption (ideally with automated tests)

[2017-01-25 13:37] PVince81 commented on #27013
Why medium, is there a workaround ?

[2017-01-25 13:55] tripledee commented on #23925
Hello. I remove the old owncloud directory (after baking up data and config), then reinstalled owncloud 9.1.3 on my Raspbian/Raspberry Pi and put the data/config files back. I still have the integrity check message and it gives exactly the same list of extra files as BenS89 had (in a different order). Any idea?

[2017-01-25 14:23] kdslkdsaldsal commented on #23925
@tripledee Please note this is a bugtracker. When having support questions please use https://central.owncloud.org/ instead. There you can login via your github account and you will also find a few threads and possible solutions there.

[2017-01-25 14:26] #23595 closed

[2017-01-25 14:27] PVince81 commented on #23595
The actual PR: https://github.com/owncloud/core/pull/27011

[2017-01-25 14:38] davitol commented on #27013
@PVince81 Medium due to most of the times it works, but I think it depends on how fast you type before the search starts. It's a weird behaviour, and it has always behaved in the same way. Feel free to raise the priority.

[2017-01-25 14:43] tripledee commented on #23925
Oh, sorry! Thanks

[2017-01-25 14:47] PVince81 commented on #27013
Okay, I see. Then it's the usual Javascript race condition. We used to have this on the apps page.

Basically if you type something before the ajax call for the list has been made, no filtering would be done. This needs additional handling that must check the search field in case something was typed before the init.

[2017-01-25 14:49] kiu-ball commented on #26297
Trying to reproduce the one time working upgrade with no luck. 9.0.7 to 9.1.3 with live DB is stuck again.

[2017-01-25 16:54] PVince81 opened #27033 "Integrity check warnings when updating from 8.2.10RC1 to 9.0.8RC1"
### Steps

1. Setup OC 8.2.10RC1 tarball, adjust perms
1. Rename folder to "owncloud.old"
1. Extract OC 9.0.8RC1 tarball
1. Copy over the "data" and "config" folders from "owncloud.old"
1. Adjust perms
1. Run upgrade in web UI

### Expected result
No integrity check warnings

### Actual result
Integrity check warnings

[code]

Setting up the 9.0.8RC1 tarballs from scratch work fine.

@VicDeo pleas

[2017-01-25 17:29] PVince81 commented on #27033
There might be some old repair routine that used to fix 3rdparty. It might be messing up here.

Please investigate

[2017-01-25 17:32] VicDeo commented on #27033
@PVince81 eh... I like this fun...

[2017-01-25 17:50] PVince81 commented on #27033
Note: we did update the icewind/streams library on stable9. So not sure why it appears here.

[2017-01-25 18:06] PVince81 commented on #27033
I found something strange:

1. Check out stable9
1. Increase version in version.php
1. Run upgrade

[code]

[2017-01-25 18:07] PVince81 commented on #27033
The latter is my local git checkout and the web server has no write permissions in 3rdparty folder. Still, it's trying to fix stuff ?!

The original report had full web server permissions on the full owncloud folder recursively.

[2017-01-25 18:10] PVince81 commented on #27033
Aha, what is this ?!

https://github.com/owncloud/core/blob/v9.0.8RC1/lib/private/repair/brokenupdaterrepair.php#L62

Seems it's indeed that repair routine that is overriding composer + icewind/streams classes with old versions.

That repair routine should probably be disabled by now ? The update server should already enforce the proper update path.

@VicDeo please double check and confirm if kill

[2017-01-25 21:41] hessijames79 commented on #26667
Same problem here with Owncloud 9.1.3 and URL http://$host/owncloud/remote.php/dav (as well as the old caldav ones...)

[2017-01-25 22:11] joshuacox opened #27038 "Theme is ignored"
### Steps to reproduce
1.  add this to your styles.php in `OWNCLOUD/themes/MyTheme/core/css`
[code]

2.  Put `'theme' => 'MyTheme'`, into the `/config/config.php` file.
3. reload page, inspect  <div id="app-navigation">

### Expected behaviour
Tell us what should happen

background should be black

### Actual behaviour
Tell us what happens instead

background is `#FFF`

### Server configuration
**

[2017-01-26 05:03] PVince81 commented on #27033
Fix :fire: is here https://github.com/owncloud/core/issues/27037

[2017-01-26 05:03] #27033 closed

[2017-01-26 05:07] PVince81 commented on #27016
Hmm, weird. I know the sync client calls "status.php", but "status.php" should not trigger this message.

Your config.php says 9.0.7.1. Please check the version in the "version.php" file inside the ownCloud folder. It should also have the same version.

It is also possible that ownCloud cached the old version in the sync client's session and didn't clear it for some reason. That could explain why

[2017-01-26 06:52] PVince81 commented on #27038
@PhilippSchaffrath

[2017-01-26 08:54] PVince81 commented on #26655
Posting what I said in the chat:

Basically the goal is to try and always have a checksum value available in the matching oc_filecache column.
Currently we only store one if the client sent one as part of an upload header.
Now we also want the server to verify it at upload time (in Sabre\File that you already know from your chunking PR) and also to compute it when a file is streamed (read/write).

[2017-01-26 08:57] PVince81 commented on #26655
it should actually be possible to copy-paste the encryption storage + stream wrapper code and adjust accordingly

encryption also writes some data (unencrypted size) to the filecache. so for checksum replace that code to write the checksum instead
09:54
so not that much new stuff to invent :-)

[2017-01-26 08:59] PVince81 commented on #26655
I'd also suggest writing the computed checksum into the stream_context, this way the caller of `fopen` would be able to retrieve it directly without having to go to oc_filecache afterwards.

[2017-01-26 10:07] guruz commented on #26655
Sorry to jump in to hijack @PVince81 's way of thoughts.

I just wanted to re-state that maybe a stream filter would be interesting/easier to do? I'm not a PHP guy and I didn't try it, but it felt better to me than the wrapping orgy we have ;-)

https://github.com/bantuXorg/php-stream-filter-hash/blob/master/src/HashFilter.php

Maybe it doesn't make sense what I write.

[2017-01-26 10:08] daniel569 opened #27039 "Broken webserver returning empty content length for non-empty file on resume"
### Steps to reproduce
1. A lot of files on the cloud in synced folders. One day the client cant sync several files anymore, they produce the client-errormessage: Broken webserver returning empty content length for non-empty file on resume
2. The client stops syncing because of too many failures.
3. The file cant be downloaded in Firefox because of no filesize, Chrome saves the file and it can be

[2017-01-26 10:43] PVince81 commented on #26655
Could work as replacement for stream wrapper. But storage wrapper still needed to do the application of stream filter in `fopen`.

[2017-01-26 10:54] kiu-ball commented on #26297
9.0.6 to 9.1.3 is broken too. Here are the last two SQL queries before the 'Class 'OCA\FederatedFileSharing\DiscoveryManager' not found' error occurs:

[code]

[2017-01-26 11:08] codesmaker opened #27040 "Email invitations for events comes from the server's address, not from the user's email who sends it"
Hi,

I'm running Owncloud v9.1.3-1.1 with the calendar app v1.4.1. When I send invitations, the from address is set to admin@owncloud, which can be in setting->email server-> from address, rather than to the user's email address who sent the invitation.

### Expected behaviour
The from address should be set to the sender's address.

### Actual behaviour
The from address is set to the server addres

[2017-01-26 12:03] guruz commented on #26988
@PVince81 @DeepDiver1975 I need some guidance how to implement this. Not sure which layer to put it in.

You told me somewhere this should be checked at the MOVE of the .file.
However I don't think there is a specific place for this as it is just a transparent operation on a file which is a FutureFile from an UploadFolder inside the RootCollection.

So shall I check instead the OC-Total-Length hea

[2017-01-26 12:04] guruz commented on #26988
Wait a sec, in https://github.com/cernbox/smashbox/blob/master/protocol/chunking.md it says the OC-Total-Length is for the MKCOL not for the MOVE

[2017-01-26 12:05] guruz commented on #26988
Indeed, the client sends it with the MKCOL.

[2017-01-26 12:07] guruz commented on #26988
So the question is how could this be stored with the MKCOL? And then checked again later at the MOVE?

Or shall we change the spec to also send it with the MOVE? (FYI @ogoffart @dragotin) .. but then my question above in which layer this needs to be holds.

[2017-01-26 12:20] DeepDiver1975 commented on #26988
The headers as sent with the MKCOL need to be store on the server side - yes - this is missing.
In addition to the total length we soon-ish shall add the checksum .....

[2017-01-26 12:31] guruz commented on #26988
If I need to implement this I need guidance :-)

Or is @IljaN doing this since he's also doing this then too?

[2017-01-26 14:53] Philippe34 commented on #27016
Thanks PVince81, it is now resolved.

I checked the "version.php" and it has the save version that config.php.
So I rebooted the server, but there was always the same issue.
Then I stopped apache and I deleted all session files in /var/lib/php/session.
I started apache and immediatly new session files were created, the error 500 disappeared.

Conclusion: the next time, after the "yum update" and b

[2017-01-26 14:53] #27016 closed

[2017-01-26 15:30] ckamm commented on #26988
@guruz Also, the full validation would include checking whether the OC-Chunk-Start headers we send with each chunk are consistent with the current summed size of the file, i.e.
[code]

[2017-01-26 18:29] dansou901 commented on #25580
This is still not fixed I assume? Have got another problem here, android clients (like ES File Explorer) aren't able to open the zip files. With file-roller it works for me til now (don't have 7zip installed).

[2017-01-27 07:50] PVince81 commented on #27039
The first question is why the file has no filesize.

- Please check what the size is in oc_filecache: `select * from oc_filecache where path like '%thefilename%'`
- Does the file have the "encrypted" flag set ?
- Is this a shared file ?

Note that we have automated tests for range request downloads of encrypted files and they pass, so it could also be related to your environment that might not for

[2017-01-27 08:31] PVince81 commented on #22594
Note, to clarify the title: the metadata is already lost at the time we create a copy of the files for the recipients. Only the owner has access to the old metadata.

So far a proposal was to have a special link so that when the recipient triggers a restore of the file, it will actually trigger a restore from the owner's perspective. This is fine for this one scenario.

However there will likely b

[2017-01-27 08:32] PVince81 commented on #24053
Making a copy into the owner's trash will induce a metadata loss. And copying metadata to the trashed file is dubious in cases where both files are restored (moved back into the share and also restored by owner), see https://github.com/owncloud/core/issues/22594#issuecomment-275613586

[2017-01-27 08:58] simogeo commented on #26667
someone, any news regarding this bug ? any fix to provide ?

[2017-01-27 09:52] raoulbhatia commented on #26667
I suppose the only resolution is updating to Nextcloud?
See nextcloud/server#2402 Comment #263572190

[2017-01-27 10:19] simogeo commented on #26667
And, is there somewhere a migration howto ?

[2017-01-27 10:24] raoulbhatia commented on #26667
On January 27, 2017 11:19:34 AM GMT+01:00, Simon Georget <notifications@github.com> wrote:

https://help.nextcloud.com/t/migrating-from-owncloud-to-nextcloud/551 might be a good start.

Raoul
--
DI (FH) Raoul Bhatia M.Sc.
E-Mail. raoul@bhatia.at
Tel. +43 699 10132530

[2017-01-27 10:26] simogeo commented on #26667
Thanks for this. Does owncloud client still works with nextcloud server ?

[2017-01-27 11:10] butonic commented on #27017
Ideas welcome. You need to subtract a set from a set ... you could create a temp table or store a to delete flag somewhere ...

[2017-01-27 11:37] PVince81 commented on #24053
WIP PR here: https://github.com/owncloud/core/pull/27042

[2017-01-27 12:04] Quba212 opened #27043 "LDAP on oC 9.1.3 properly configured - still ldap errros in log"
### Steps to reproduce
1. LDAP user authentication

### Expected behaviour
When the LDAP authentication is properly set (i.e. in the LDAP settings is configuration OK). There should not be errors in the owncloud log file concerning ldap.

### Actual behaviour
oC server works with LDAP authentication, users can connect, synchronize files, etc. But owncloud.log is full of LDAP errors.

### Server co

[2017-01-27 12:14] davitol opened #27044 "Uploading a picture in 1 bit Monochrome bmp generates logs in owncloud.log"
### Steps to reproduce

1. Upload a picture in 1 bit Monochrome bmp.
2. Check owncloud.log file

### Expected behaviour

No logs should be shown

### Actual behaviour

Logs are written in owncloud.log

### Server configuration

**Operating system**:
Ubuntu 16.04

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.6

**ownCloud version:**

"version":"8.1.11"

**Updated from an older ow

[2017-01-27 13:19] kdslkdsaldsal commented on #27044
Did you tried the yesterdays released 8.1.2 RC2 https://central.owncloud.org/t/owncloud-server-maintenance-releases-9-1-4-rc2-9-0-8-rc2-8-2-10-rc2-8-1-12-rc2/5315

Might be possible that the fix of https://github.com/owncloud/core/pull/26849 is already fixing this.

[2017-01-27 13:30] davitol commented on #27044
@kdslkdsaldsal Yes, I did. In fact i was trying to check if that issue was solved, but I found this other behaviour. Not sure if @Temtaime did check if the RC2 fixes that issue or at least can provide a file as the one was located in the link of the issue https://github.com/owncloud/core/pull/26849

[2017-01-27 13:51] PVince81 commented on #27044
@VicDeo please have a look, might need more ampersands...

[2017-01-27 13:54] PVince81 commented on #27043
If there are errors, then maybe something in the env is still wrong.

Ideally the wizard should be able to show such errors as well instead of showing green.

@jvillafanez

[2017-01-27 13:54] jvillafanez commented on #27017
I think the easiest and least intrusive way to solve this is by processing the storages in chunks. Instead of bringing all the storages into memory, we could bring 25-50, process those, and then process the next bunch.

Any reason not to do this? I might overlooked something

[2017-01-27 13:59] PVince81 commented on #5558
an app could simply call `\OC:$server->getGroupManager()->isAdmin($userId)`.

[2017-01-27 14:03] #19166 closed

[2017-01-27 14:04] PVince81 commented on #19586
Please reopen if this still occurs on recent versions of OC without third party apps.

[2017-01-27 14:04] #19586 closed

[2017-01-27 14:09] pmaier1 commented on #24053
Update after some internal discussions:

**This is what I would expect as a quick solution for the 'restore bug':**

|  | Alice's Activity | Bob's Activity | Alice's Trashbin | Bob's Trashbin |
|--------------------------------------------|:--------------------------------:|:-----------------------:|:----------------:|:--------------:|
| Alice deletes file1.txt in Alice's share | You deleted file1

[2017-01-27 14:10] PVince81 commented on #14950
@IljaN @jvillafanez found this as we were talking about LDAP key lengths recently

[2017-01-27 14:12] PVince81 commented on #21161
Obsolete, and the smileys stuff to be addressed as part of https://github.com/owncloud/core/issues/4513

[2017-01-27 14:12] #21161 closed

[2017-01-27 14:14] jvillafanez commented on #27043
[code]
Looks like your ownCloud server isn't supporting TLS, or the LDAP server you're connecting to isn't supporting it.

If you're using the *ldaps://* protocol, maybe the library is trying to connect with TLS and falling back to a normal unencrypted connection. That might explain why you're getting the TLS errors but still being able to connect.

I'd suggest to use either *ldap://* or just ente

[2017-01-27 14:16] PVince81 commented on #22510
Closing due to lack of feedback

[2017-01-27 14:16] #22510 closed

[2017-01-27 14:20] DeepDiver1975 commented on #21172
To some extend the API specification is continued here: https://github.com/GEANT/OCM-API

[2017-01-27 14:20] #21172 closed

[2017-01-27 14:21] DeepDiver1975 commented on #21174
To some extend the API specification is continued here: https://github.com/GEANT/OCM-API

[2017-01-27 14:21] #21174 closed

[2017-01-27 14:21] jochenwezel commented on #24053
Not sure if this is an aspect of this issue or if it should be another issue:
For data protection rules, it might be required in some cases to securely delete folders/files without trash bin option (real physical deletion). (from my point of view, it would be enough to provide this option through web-interface, a little bit more hidden so that it's not the default click for a user if he wants to d

[2017-01-27 14:21] DeepDiver1975 commented on #21175
To some extend the API specification is continued here: https://github.com/GEANT/OCM-API

[2017-01-27 14:21] #21175 closed

[2017-01-27 14:21] DeepDiver1975 commented on #21177
To some extend the API specification is continued here: https://github.com/GEANT/OCM-API

[2017-01-27 14:21] #21177 closed

[2017-01-27 14:21] DeepDiver1975 commented on #21180
To some extend the API specification is continued here: https://github.com/GEANT/OCM-API

[2017-01-27 14:21] #21180 closed

[2017-01-27 14:22] PVince81 commented on #21780
Close then ?

[2017-01-27 14:22] PVince81 commented on #21000
No time for this => backlog for now

[2017-01-27 14:24] PVince81 commented on #13716
@DeepDiver1975 @butonic would move to backlog for now. We anyway need https://github.com/owncloud/core/issues/21282 first.

[2017-01-27 14:26] PVince81 commented on #23932
Closing due to lack of feedback.

As stated above, the storage_mtime is the value used to detect changes, which contains the value of the mtime as provided by the storage, regardless what timezone it's in. So if that one value changes compared to what was stored before, etags will be invalidated during the next scan.

[2017-01-27 14:26] #23932 closed

[2017-01-27 14:38] PVince81 commented on #23701
@cdamken reminds me of similar discussions about remnants causing trouble

[2017-01-27 14:38] #24339 closed

[2017-01-27 14:40] PVince81 commented on #24055
Could be an LDAP code issue... Not sure.

Is this still happening ?

CC @jvillafanez

[2017-01-27 14:40] PVince81 commented on #23701
@davitol is this reproducible ?

[2017-01-27 14:42] PVince81 commented on #10155
@pmaier1 for the conceptual side

[2017-01-27 14:42] PVince81 commented on #10155
Would move to backlog for now as there is not enough time for this

[2017-01-27 14:42] PVince81 commented on #23633
Is this still an issue with recent versions ?

[2017-01-27 14:43] PVince81 commented on #24753
Is this still reproducible in recent versions ?

[2017-01-27 14:44] PVince81 commented on #24767
Please try with the library in question as advised, closing.

[2017-01-27 14:44] #24767 closed

[2017-01-27 14:45] Quba212 commented on #27043
I will try to investigate, if there is a problem with establishing encrypted connection and let you know.

[2017-01-27 14:46] PVince81 commented on #11925
Not possible until we have handlebars templates everywhere -> backlog

[2017-01-27 14:47] PVince81 commented on #4333
@pmaier1 as we mentioned this when discussing sharing.

Would move to backlog as there is no time to finish the discussion and implement this.

[2017-01-27 14:52] turb commented on #24753
I have not tested this one recently. I have to find some time.

However we have a lot a locking problems at work on 9.0.4 when moving directories (a bug is being prepared). We just moved to Redis locking and 9.0.7 in order to see if it solves it.

[2017-01-27 14:53] PVince81 commented on #23396
@jvillafanez will likely become relevant at some point

[2017-01-27 14:55] PVince81 commented on #22637
@owncloud/qa move to qa repo ?

[2017-01-27 14:55] Quba212 commented on #27043
I tried the following php code (only important part shown here) to connect to my LDAP server (from the owncloud server) and everything works without error message, so I suppose TLS is established correctly

[code]

So I suppose owncloud server is able to connect using TLS

[2017-01-27 14:56] PVince81 commented on #6311
@jvillafanez your thoughts on this ?

[2017-01-27 14:57] PVince81 commented on #8317
@jvillafanez your thoughts ?

[2017-01-27 14:58] PVince81 commented on #9793
Anyone interested in continuing this ?

Moving to backlog for now.

[2017-01-27 14:59] PVince81 commented on #11517
@pmaier1

[2017-01-27 15:00] PVince81 commented on #13414
Moving to backlog for now, no time for this

[2017-01-27 15:03] PVince81 commented on #13564
Backlog for now

[2017-01-27 15:30] PVince81 commented on #15049
@pmaier1

[2017-01-27 15:33] PVince81 commented on #14893
Is this still an issue on master ? We updated some libraries...

[2017-01-27 15:35] VicDeo commented on #27044
@PVince81 is milestone correct?
IIRC branches are locked for all PRs except showstoppers and 8.1 reaches EOL after this release

[2017-01-27 15:38] PVince81 commented on #15290
No, this is technically impossible because it requires the whole platform and third party apps that hook into the platform to be transaction-oriented. If an app makes changes to files (and encryption is one) they'd need to also support a `revert` API to be able to revert stuff back, if even possible.

[2017-01-27 15:38] #15290 closed

[2017-01-27 15:40] PVince81 commented on #15399
PRs welcome

[2017-01-27 15:42] PVince81 commented on #27044
Setting to sev high, log pollution triggered by users sucks.

[2017-01-27 15:44] PVince81 commented on #15575
No time for this -> backlog for now

[2017-01-27 15:46] VicDeo commented on #27044
@PVince81 I this if the color is out of palette range it's better to break immediately and do not waste resources trying to build preview for potentially FUBAR data.

[2017-01-27 15:47] VicDeo commented on #27044
@davitol which bmp did you try?

[2017-01-27 15:53] PVince81 commented on #16004
@DeepDiver1975 @Peter-Prochaska idea for market ?

[2017-01-27 15:54] PVince81 commented on #16003
@DeepDiver1975 @Peter-Prochaska market stuff ?

[2017-01-27 15:56] PVince81 commented on #16163
Maybe web could simply invoke CLI to clear the CLI caches... that is, if proc_open works on that setup.

CC @VicDeo as the updater does something like that with OCC

Anyway, backlog for now

[2017-01-27 15:58] PVince81 commented on #16968
Seems the current info was already sufficient. Moving to backlog.

If we ever want to show more info in the client we can try adding that info there.

[2017-01-27 16:03] PVince81 commented on #22719
@settermjd

and yes, you'll ask me to provide a list of existing ones... Assigning to self first to find these

[2017-01-27 16:07] PVince81 commented on #21691
Closing as obsolete with the new updater which has a separate UI

[2017-01-27 16:07] #21691 closed

[2017-01-27 16:07] PVince81 commented on #20643
Closing as duplicate of https://github.com/owncloud/core/issues/19810

[2017-01-27 16:07] #20643 closed

[2017-01-27 16:11] PVince81 commented on #22011
Have you been able to adjust your PHP's "upload_tmp_dir" value ?

Or try again with master where PUT is used.

[2017-01-27 16:12] PVince81 commented on #24646
Is this still an issue ?

cc @crrodriguez

[2017-01-27 16:16] PVince81 commented on #18984
I retested this in OC 9.0.7 with the provided steps and I couldn't reproduce the issue.
u2 is able to share any of the received folders and subfolders.

[2017-01-27 16:16] #18984 closed

[2017-01-27 16:16] PVince81 commented on #24624
Is this still an issue ?

cc @crrodriguez

[2017-01-27 16:17] PVince81 commented on #25246
Please try again with 9.0.7 or more recent version.
If the problem persists for newly created users, please reopen.

[2017-01-27 16:17] #25246 closed

[2017-01-27 16:19] PVince81 commented on #25115
That PR was merged, you could try with owncloud daily master from https://download.owncloud.org/community/daily/owncloud-daily-master.tar.bz2 and see if the performance issue still exists there.

[2017-01-27 16:22] PVince81 commented on #14754
@DeepDiver1975 @Peter-Prochaska @VicDeo I'd be tempted to move to backlog for now, but this is likely going to continue happening with market apps. We'll eventually need to look into a safer way of enabling apps and test-upgrading apps in case they break stuff.

[2017-01-27 16:22] PVince81 commented on #5383
@PhilippSchaffrath @butonic for session handling for clients that do not support cookies.
Not sure if OAuth2 can help there.

[2017-01-27 16:23] PVince81 commented on #11395
@pmaier1 what do you think ?

[2017-01-27 16:25] PVince81 commented on #10010
Would move to backlog as this is a bigger topic, big in discussion and likely big in implementing the proposed solutions. Current workaround is to use master key instead of the complex encryption scheme.

@butonic @pmaier1

[2017-01-27 16:27] PVince81 commented on #12285
Moving to backlog for now and added to debt list. @pmaier1

[2017-01-27 16:31] PVince81 commented on #9090
@pmaier1 not sure if we discussed this before

[2017-01-27 16:33] PVince81 commented on #16346
@pmaier1 for some ideas around "exclude groups from sharing"

[2017-01-27 16:34] PVince81 commented on #25637
is this still an issue @jnweiger @crrodriguez ?

[2017-01-27 16:35] PVince81 commented on #23988
@DeepDiver1975 can you have a look and make a decision for the backport ? Thanks

[2017-01-27 16:36] PVince81 commented on #23867
@DeepDiver1975 should we add a guideline for the migrations to always check for table existence ?

[2017-01-27 16:37] PVince81 commented on #23872
@whoshonky you can probably copy your sqlite instance, then run "db:convert-type" to convert the database to MySQL. If you're only interested in the calendar/contact tables, then pick these out of the MySQL dump.

[2017-01-27 16:40] PVince81 commented on #25649
Is this still reproducible with more recent versions ?

[2017-01-27 16:41] PVince81 commented on #25892
You can't do this easily without modifying/rewriting big parts of the code unfortunately.

[2017-01-27 16:56] PVince81 commented on #14564
@DeepDiver1975 is the DAV resource available publicly or needs auth ? https://github.com/owncloud/core/pull/26872

If no auth then it would be possible to use it for federated shares.
If auth, then it needs to somehow use the fed shares tokens to access a specific avatar for the sharer or all share participants.

[2017-01-27 16:57] PVince81 commented on #14404
and also needs porting all the existing handlebar templates to precompiled templates

[2017-01-27 16:58] PVince81 commented on #26005
yeah... no benefit unless we add the generation step for both inside the makefile.

[2017-01-27 16:58] #26005 closed

[2017-01-27 17:04] PVince81 commented on #24416
8.2 will be EOL in June 2017. That should also be a reason to update.

[2017-01-27 17:07] PVince81 commented on #17080
Moving this to backlog for now.

@DeepDiver1975 @butonic if you had another ticket about your idea regarding caching filesystem view from the user's perspective, please link it here.

[2017-01-27 17:09] PVince81 commented on #26192
likely a duplicate of https://github.com/owncloud/core/issues/22563

[2017-01-27 17:09] #26192 closed

[2017-01-27 17:11] PVince81 commented on #23756
Is this still happening with 9.0.7 or 9.1.3 ?

[2017-01-27 17:15] PVince81 commented on #25919
@jvillafanez

[2017-01-27 17:17] PVince81 commented on #19345
Closing due to lack of feedback on this old issue

[2017-01-27 17:17] #19345 closed

[2017-01-27 17:17] PVince81 commented on #19124
Closing due to lack of feedback

[2017-01-27 17:17] #19124 closed

[2017-01-27 17:18] PVince81 commented on #12216
@pmaier1 would move to backlog or future for now when we have time to resume working on the remaining items.

[2017-01-27 17:23] PVince81 commented on #24522
I get a different error:
[code]

[2017-01-27 17:23] PVince81 commented on #24583
Closing due to lack of feedback. Please make sure you imported the self-signed certs.

[2017-01-27 17:23] #24583 closed

[2017-01-27 17:24] PVince81 commented on #23733
@michaelstingl @cdamken

[2017-01-27 17:28] PVince81 commented on #26170
Better idea: first implement the user account table https://github.com/owncloud/core/issues/23558 and then just sort on that. This wouldn't require any interaction with any user backend nor require these to support sorting. We'd just use plain old database sorting on the user account table.

Would set to backlog for now.

[2017-01-27 17:30] PVince81 commented on #25901
Fixed by @DeepDiver1975 here https://github.com/owncloud/core/pull/26967

[2017-01-27 17:30] #25901 closed

[2017-01-27 17:31] jaceq commented on #14893
it seems to work now

[2017-01-27 17:34] PVince81 commented on #25322
Can we finish https://github.com/owncloud/core/pull/25100 then ?

[2017-01-27 17:34] PVince81 commented on #25322
not backportable, close ?

[2017-01-27 17:35] #19415 closed

[2017-01-27 17:37] PVince81 commented on #24053
@jochenwezel slightly related, shredding: https://github.com/owncloud/core/issues/26427

[2017-01-27 17:38] PVince81 commented on #26096
@DeepDiver1975

[2017-01-27 17:39] PVince81 commented on #26074
@cdamken @jvillafanez have you seen this quota behavior change before ?

[2017-01-27 17:39] #26434 closed

[2017-01-27 17:40] PVince81 commented on #26318
Photo preview is from the gallery app. Need to investigate.

[2017-01-27 17:45] PVince81 commented on #24460
@jvillafanez close ?

[2017-01-27 17:45] #24313 closed

[2017-01-27 17:46] PVince81 commented on #25952
Closing due to lack of feedback

[2017-01-27 17:46] #25952 closed

[2017-01-27 17:46] PVince81 commented on #23158
Is this still happening ?

[2017-01-27 17:49] PVince81 commented on #26378
Please try again with disabled third party apps

[2017-01-27 17:49] #26378 closed

[2017-01-27 17:53] PVince81 commented on #11912
Backlog for now, would require too many changes. Need to investigate what to change where (tech design).

CC @Peter-Prochaska @pmaier1

[2017-01-27 17:53] PVince81 commented on #26653
Thanks a lot to @grischdian for implementing this in https://github.com/owncloud/core/pull/26990

[2017-01-27 17:55] PVince81 commented on #24995
@PhilippSchaffrath might be relevant in the context of OAuth2

[2017-01-27 18:00] PVince81 commented on #18160
Will move the web UI and OCC commands later

[2017-01-27 18:03] PVince81 commented on #16507
@pmaier1 for feature "sharing with federated groups"

[2017-01-27 18:04] PVince81 commented on #17091
Moving to backlog for now, unless someone is willing to contribute a PR for this

[2017-01-27 18:07] PVince81 commented on #13092
no time for this now... -> backlog

[2017-01-27 18:10] PVince81 commented on #11790
@pmaier1

[2017-01-27 18:11] PVince81 commented on #11717
@DeepDiver1975 close this ? We want to move everything to apps anyway so CI should be added there when doing just that.

[2017-01-27 18:14] PVince81 commented on #11685
Backlog for now as it is tricky due to encryption and sharing.

Maybe the issue really is "previews generation can take a long time" and this async job is just one way of improving it.

CC @pmaier1 for considering this in future releases

[2017-01-27 18:27] michaelstingl commented on #23733
Here is the linked screenshot:
![owncloud-webdav-issue](https://cloud.githubusercontent.com/assets/214010/22382436/f79874a4-e4c5-11e6-817b-19fb6df93ac2.png)

@cdamken Is this the usual issue users have with mounting oC WebDAV in Windows?

[2017-01-27 18:34] Quba212 commented on #27043
Here is part of the log of LDAP server. It can be seen that owncloudserver is connecting and TLS is established.
[code]

[2017-01-27 23:05] PaulHughes99 commented on #26065
@PVince81 @jvillafanez  OK I've narrowed things a little. There are two things that could be wrong here.
This code https://github.com/owncloud/core/blob/v9.1.2/lib/private/User/Session.php#L571  authenticates every 5 minutes, as you suggested; I realise that is deliberate and the problem i have with it is solvable by changing the value.
But extra presumably unintended authentications occur on init

[2017-01-28 06:58] Quba212 commented on #27043
Here is search query from command line of owncloud server (see -ZZ switch so TLS must be OK). Which groups the testuser belongs to
[code]

So I expect everything is OK with LDAP server and even with connection to it.

I forgot to mention that there were not problems with LDAP before upgrade from 8.2.9 to 9.0.x and then to 9.1.3

[2017-01-28 07:01] tiwari85aman commented on #27013
any roadmap to follow to get to the issue code directly @davitol. i want to contribute to this issue.

[2017-01-28 11:18] hessijames79 commented on #26667
I managed to get it solved on my system.

I am using the Debian package of Owncloud without any modifications. Hence, owncloud is located at http://HOST/owncloud. I added the following lines to /etc/apache2/sites-available/000-default:
        Redirect 301 /.well-known/carddav /owncloud/remote.php/dav
        Redirect 301 /.well-known/caldav /owncloud/remote.php/dav
After restarting Apache, adding

[2017-01-28 17:19] raoulbhatia commented on #26667
@simogeo Please do a little research by yourself.
There is extensive documentation available via your favorite search engine.

Thanks,
Raoul

[2017-01-28 20:21] ApolloLV commented on #13495
How has a high-severity issue like this one no Assignee after 2 years?

[2017-01-28 20:25] sumnerboy12 commented on #26667
I am seeing this too (on v9.1.3) and noticed this in my Apache2 logs;

When creating an event using the calendar owner (me) it works fine;
[code]
But when doing the same thing for a shared calendar (i.e. same calendar but different user via a share);
[code]
I am no expert but wondered if this might help the developers looking at this?

Looks like the request to create the event is getting a 404 fo

[2017-01-28 21:06] Quba212 commented on #27043
I have found a lot of surprising queries to LDAP server from Owncloud. One of them is:
[code]

uid=a198aa88-655c-1035-9fa9-47b248eb0e59  is owncloud_name of LDAP user "testuser"
[code]

I suppose that the correct query should be
[code]

May be that the problems with LDAP connection are caused by too much wrong queries.

[2017-01-28 22:27] Quba212 commented on #27043
I tried to investigate, where the owncloud_name came from in LDAP query and it is
in the call of function "getUserObject($uid, ....)" in "lib/private/User/Manager.php".
The value of the $uid passed to getUserObject is owncloud_name, but it is not translated to ldap_dn name in query to LDAP

[2017-01-28 22:35] daniell1 commented on #26667
Seems like you are not using the correct URLs. Have you either configured your clients as described here https://github.com/owncloud/core/issues/26667#issuecomment-269477972 or your server as described in the troubleshooting guide that was linked in this comment https://github.com/owncloud/core/issues/26667#issuecomment-270669056 ?

[2017-01-29 00:55] webmarka commented on #26027
This is a key feature for my clients and me. Hope this will be fixed on January 31th for the 9.1.4 release!

[2017-01-29 01:35] sumnerboy12 commented on #26667
Thanks guys - I had provisioned my Android phones using CALDav-Sync and entering `<servername>/owncloud` as the URL. It then _found_ the caldav URL and I could see/edit my own calendars, so just thought it was ok. But this meant shared calendars couldn't be edited. By explicitly entering `<servername>/owncloud/remote.php/dav` everything seems to be working now. Thanks again!

[2017-01-30 07:44] Awebb commented on #25580
Since nobody has bothered filing a bug report upstream or neglected to post the link here, nothing happened. I was just in to aid Scindix with additional information, I don't use Owncloud myself.

[2017-01-30 08:29] PVince81 commented on #27013
@tiwari85aman setup a dev environment https://doc.owncloud.org/server/9.2/developer_manual/general/devenv.html, reproduce the issue, fix the issue in Javascript, write a JS unit test then submit a pull request to master.

[2017-01-30 08:34] PVince81 commented on #26027
Unfortunately this is not ready yet.

@PhilippSchaffrath would be good if the fix in question is backportable to stable9.1 to fix the regression.

[2017-01-30 08:44] #27012 closed

[2017-01-30 08:59] raoulbhatia commented on #26667
After some additional debugging, I also figured out that the issue lies within the URL configuration, i.e.
* Old: `/remote.php/caldav/[...]`
* New: `/remote.php/dav/[...]`

I have no idea why there is a difference between direct and shared calendars.
Nevertheless, I've also completed my transition to Nextcloud this weekend.

Last but not least, I think that one would be able to create a (temporary

[2017-01-30 09:01] daniel569 commented on #27039
Hello PVince81 and thanks for your reply.

- The filesize in the oc_filecache is 47224, the webinterface shows 46kb and the effective size is 28.5kb.
- The 'encrypted' value in the oc_filecache is '0'.
- Its not a shared file.

It seems to me that  the files have the encrypted filesize in the oc_filecache instead of the unencrypted filesize.

[2017-01-30 09:10] davitol commented on #27044
@VicDeo shared with you privately

[2017-01-30 09:15] PVince81 commented on #27039
Ok, then you have broken files likely from a restored backup.

Set the "encrypted" flag manually to 1 then redownload the file twice. That should repair it.

Duplicate of https://github.com/owncloud/core/issues/18225

[2017-01-30 09:15] #27039 closed

[2017-01-30 09:32] PVince81 opened #27049 "Move files_external backends to separate apps"
Port all external storage backends from files_external to be separate apps:
- [ ] storage backends
    - [x] FTP: https://github.com/owncloud/files_external_ftp
    - [ ] SFTP
    - [x] Dropbox: https://github.com/owncloud/files_external_dropbox/
    - [x] GDrive: https://github.com/owncloud/files_external_gdrive and https://github.com/owncloud/core/pull/28074
    - [x] Swift => deprecate, focus o

[2017-01-30 09:32] PVince81 opened #27050 "Move files_external GUI and OCC commands to core"
The storage backend handling has been moved to core already as per https://github.com/owncloud/core/issues/18160. This means that any apps using this API (and future apps will be expected to do so) do not require files_external to be enabled any more.

Plan:
- [ ] move GUI to core / settings
- [ ] move OCC commands to core
- [ ] move all external storage backends from files_external to separate ma

[2017-01-30 09:35] PVince81 commented on #18160
There isn't enough time left to move GUI and OCC commands for now.
To avoid breaking the user experience, the files_external app will now be always enabled by default: https://github.com/owncloud/core/pull/27051

This until we can finish these follow up tasks:
- move storage backends to separate apps: https://github.com/owncloud/core/issues/27049
- move GUI / OCC commands to core: https://github.c

[2017-01-30 09:35] #18160 closed

[2017-01-30 11:05] simogeo commented on #26667
I'll also switch to nextcloud ... thanks

[2017-01-30 11:09] PVince81 commented on #24053
I assume that we'll also want a copy of the versions in the owner's trashbin with the backup. There is already code to keep versions in the regular trashbin delete code, so I'll reuse that.

[2017-01-30 14:21] PVince81 commented on #24755
Did we update this on master ?

[2017-01-30 14:37] PVince81 commented on #24164
Can you check or instruct @davitol how to check it ? Ideally we should also have automated tests for this.

[2017-01-30 14:48] PVince81 commented on #26065
@IljaN can you add a config.php parameter to make this interval configurable ?

If the value is zero then the check must be disabled.

[2017-01-30 15:27] glannes31 opened #27052 "[7.0.5] Duplicate directory on Firefox"
Related to issue 4893
### Steps to reproduce
1. Open Mozilla Firefox
2. Go to the index files
3. Duplicate directory

### Expected behaviour
One directory

### Actual behaviour
Many directory with the same names

### Server configuration
**Operating system**: redhat

**Web server:** Apache

**Database:** MariaDb

**PHP version:**5.1

**ownCloud version: 7.05

### Client configuration
**Browser: Fi

[2017-01-30 15:39] PVince81 commented on #27052
OC 7 is already dead, see https://github.com/owncloud/core/wiki/Maintenance-and-Release-Schedule.

Any fixes that are made are not backported further than OC 9.0, unless critical.

Please try upgrading on a test server and see if upgrading solves the problem. Lots of issues were fixed in more recent versions.

If the problem persists with OC 9.0.7 or later, please reopen.

[2017-01-30 15:39] #27052 closed

[2017-01-30 22:13] cornelinux opened #27053 "2FA page reload / refresh"
### Steps to reproduce
1. Using owncloud 9.1.3 EE
2. Install a 2FA App like the privacyIDEA ownCLoud App
3. configure 2FA app
4. login with user name password and wait for the screen to enter the OTP value.

The page will be reloaded after 5 secs.

See:
https://help.nextcloud.com/t/2fa-login-page-refresh/2740
See:
When I remove these lines: everything is fine. (DIsclaimer: I do not know, what I am

[2017-01-30 23:41] CristianCardosoA commented on #26495
I commented line 112 in owncloud/lib/private/Encryption/Manager.php

                //if ($this->isKeyStorageReady() === false) {
                //      throw new ServiceUnavailableException('Key Storage is not ready');
                //}

I can access to the admin panel. Maybe not the best solution but I didnt found how the isKeyStorageReady method works.

I hope this help.

[2017-01-31 00:17] SpecBlackHat commented on #26910
I decided to migrate oc from FreeBSD to Debian. Had move DB and Data folder. But when i login i see a message that my keys does not work and i must reinitialize they. When i try to do it i got nothing.

[2017-01-31 01:12] SpecBlackHat commented on #26910
I had try to decrypt all files to move on new server, but when u try to turn on Decryption password i got this
![4](https://cloud.githubusercontent.com/assets/1147104/22448583/1a292a62-e7a6-11e6-88fd-a54702124402.PNG)

[2017-01-31 01:16] SpecBlackHat commented on #26910
And this is the last errors when i try to set up a recovery password
rror	encryption	Encryption Library:error:02001002:system library:fopen:No such file or directory	2017-01-31T01:14:59+00:00
Error	encryption	Encryption library couldn't export users private key, please check your servers OpenSSL configuration.admin	2017-01-31T01:14:59+00:00
Error	encryption	Encryption library openssl_pkey_new() fa

[2017-01-31 04:35] individual-it opened #27055 "End-to-End (Frontend) testing"
Currently there are PHPUnit Tests and Karma tests in OwnCloud. I would suggest to add End-to-End tests that run on real browsers so more cases can be covered.
My suggestion is to use [Selenium](http://seleniumhq.org) for it.

- [tests can run on multiple browsers (including mobile)](http://www.seleniumhq.org/docs/01_introducing_selenium.jsp#supported-browsers-and-platforms)
- actions are performed

[2017-01-31 05:06] mitar commented on #25773
Groan. I just upgraded ownCloud to 9.1 with my Docker image where I remove .user.ini so that global PHP settings apply and of course I triggered integrity error. Can that file simply not be integrity protected?

[2017-01-31 07:01] PVince81 commented on #26495
Or create the expected hidden file ".oc_key_storage" in the key storage folder. Maybe for some reason it could not be created or went missing.

[2017-01-31 08:18] polcape commented on #26914
Please help me on this problem. Thanks

[2017-01-31 08:57] PVince81 commented on #23420
Moving to 10.0 as this is not backportable.

[2017-01-31 09:08] PVince81 commented on #22652
Web autocomplete will show an avatar in 10.0: https://github.com/owncloud/core/pull/25976.

[2017-01-31 09:12] PVince81 commented on #26076
Please make a decision regarding the library situation, thanks.

[2017-01-31 09:17] PVince81 commented on #22058
Assigning to @SergioBertolinSG to figure out how to automatically test.

Easiest would be to add it to the integration test matrix which now also covers encryption.
Better would be if we could first have integration tests running against dockers, where the docker itself provides that config.

[2017-01-31 09:41] SergioBertolinSG commented on #22058
@PVince81, Docker is essential for this one, we need somewhere to connect. ref: https://github.com/owncloud/qa-enterprise/issues/55

[2017-01-31 11:41] SergioBertolinSG commented on #27044
This is also happening in 9.1.4RC2.

[2017-01-31 12:41] michaelstingl commented on #27038
@joshuacox typo in `#app-nagigation` ?

[2017-01-31 14:22] michaelstingl opened #27060 "Share-link with trailing "/" don't work"
### Steps to reproduce
1. Create password protected share-link ==> https://cloud.example.com/index.php/s/oaHyAVJDDLxBGYi
2. Paste link in incognito-browser ==> https://cloud.example.com/index.php/s/oaHyAVJDDLxBGYi/authenticate
3. Remove "authenticate" before sending to my friends because it looks nicer ==> https://cloud.example.com/index.php/s/oaHyAVJDDLxBGYi/

### Expected behaviour
trailing "/"

[2017-01-31 14:29] butonic commented on #26901
Um ... this will require us to alter the sharing table and probably other tables that reference the fileid ... foreign keys anyone?

[2017-01-31 14:38] CristianCardosoA commented on #26495
Doesn't work, I already try that. When I commented the code on that part, that gave me a time to reinstall again.

Thanks !

[2017-01-31 14:54] kiu-ball commented on #26297
After a bit longer search I've found a (workaround) solution: The problem obviously belongs to the CamelCase naming of the PHP code files in 9.1.x. If you rename the 'apps/federatedfilesharing/lib/DiscoveryManager.php' to 'discoverymanager.php' in lowercases like in 9.0.x the update will run thru without any errors. I was able to reproduce this behavior for multiple times. So it works now. But the

[2017-01-31 15:17] glannes31 commented on #27060
Hello , why remove "authenticate" ?   It's not break the share-link but indicate that the share is password-protected.   I have the same behaviour on dev platform in 9.2.0

[2017-01-31 15:18] glannes31 commented on #27060
It's Okay when you uncheck "Protect with password.."

[2017-01-31 15:25] joshuacox commented on #27038
lol, really?  ha, closing

[2017-01-31 15:25] #27038 closed

[2017-01-31 15:40] PVince81 commented on #26901
Ref: foreign keys https://github.com/owncloud/core/issues/13143

Indeed, not only the oc_filecache will be affected.

Other tables that come to mind:
- oc_vcategory_to_object which can use fileid as the object id
- oc_share, the file_source and item_source columns
- oc_properties will use fileid in the future: https://github.com/owncloud/core/issues/25563
- oc_systemtag_object_mapping
- oc_mounts.

[2017-01-31 15:43] PVince81 commented on #26297
That might be an important clue you found.

In 9.1 the autoloader logic was reworked to use properly camel cased classes which also brings a performance boost. All classes that could not be renamed were moved into a "legacy" subfolder were the old less-efficient autoloader.

Maybe on your setup the old autoloader was still cached by PHP (APCu?) and it was trying to load the new classes with the ol

[2017-01-31 15:50] PVince81 commented on #27055
@owncloud/qa @felixboehm

[2017-01-31 15:53] michaelstingl commented on #27060
@glannes31 The original share-link with password-protection enabled is "https://cloud.example.com/index.php/s/oaHyAVJDDLxBGYi". It redirects to the "/authenticate" in the browser. I normally check the URL if it is really working before sending it to someone. I just wanted to explain the process where I found this behaviour, but if it's not a real problem, I can live with it.

[2017-01-31 16:00] PVince81 commented on #27060
Probably a small routing bug.

[2017-01-31 16:08] kiu-ball commented on #26297
A caching problem would make sense. APCu is used but does this matter for the CLI mode? If that is the root of the problem the updater should clear all caches before starting to work I think...

[2017-01-31 16:17] PVince81 commented on #26297
I'm not sure if it's able to. There was a very old discussion about issues with clearing the cache https://github.com/owncloud/core/pull/18475 but I'm not sure they are relevant here.

@VicDeo would it be possible to occ upgrade to clear the APCu cache, if that even makes sense ?

One problem I see is that the code that clears the cache already needs to be loaded, so at least that specific code pa

[2017-01-31 16:27] PVince81 opened #27061 "OCS provisioning API to enable/disable a user"
Make it possible to change the value of the "enabled" attribute using the provisioning API.

To round up the feature https://github.com/owncloud/core/issues/12601 a bit.

[2017-01-31 16:32] PVince81 commented on #27044
@VicDeo any update / quick fix ?

[2017-01-31 16:37] davitol commented on #27044
@PVince81 IMHO the severity should be lower, only a few lines are written due to this action. Not really a flood problem

[2017-01-31 16:38] PVince81 commented on #27044
Done. Also I think an admin can disable preview for BMP files in config.php

[2017-01-31 17:07] stephan-l commented on #26297
I always did it via occ on command line. APCu is disabled on command line as far as I know.
As I wrote earlier it also fails after a reboot of the machine which should clear all caches.

[2017-01-31 17:12] PVince81 commented on #26297
If it's not APCu, then maybe the autoload*.php classes are still the ones from the old instance and somehow didn't get replaced by the new ones when you updated the code.

[2017-01-31 18:37] PVince81 opened #27062 "Unit tests failing on stable9.1"
Could be an environment cleanup issue:

From https://jenkins.owncloud.org/job/owncloud-core/view/Release%20Branches/job/core/job/stable9.1/19/

[code]

@DeepDiver1975 is there a way to reset the Jenkins env on this stable branch ?

[2017-01-31 19:08] mlkiefer opened #27064 "Updating from 8.2 to 9.0 : calendar and contacts (seemingly) gone"
### Steps to reproduce
Upgrade owncloud from 8.2 to 9.0

### Expected behaviour
Contacts and calendar entries should be visible in the apps.

### Actual behaviour

Not sure if this is a bug but I think it might save people in the same situation a lot of time, so I file it here. The solution is included so you can close it directly, but it is documented somewhere.

I had some troubles migrating fro

[2017-01-31 21:21] VicDeo commented on #27044
@PVince81 I think this is not for rc2 phase, but anyway
Stable9.1: https://github.com/owncloud/core/pull/27065

[2017-01-31 21:22] VicDeo commented on #27044
@davitol Could you confirm that it is not reproducible on master?

[2017-02-01 04:17] SpecBlackHat commented on #26910
Had fix error with OpenSSL (is can not find a config file openssl.conf, make a copy of default config file and error has gone). Next i had create a recovery password. Then i had recover all files. Move to Debian server DB and files backup. Next i had manually edit DB to turn encryption off and delete keys from files backup. Next i had turn on encryption on Debian server, it create new keys and now

[2017-02-01 04:17] #26910 closed

[2017-02-01 06:57] kdslkdsaldsal commented on #27064
@mlkiefer Thanks for posting. It looks like something which could perfectly fit into a new tutorial at https://central.owncloud.org/c/help/howto-tutorial

Concerning "bug" i doubt that ownCloud is and will be capable to repair such a broken setup where the files where downgraded but not the database itself.

[2017-02-01 07:43] davitol commented on #27044
@VicDeo Just tested and it is not reproducible on master

[2017-02-01 08:49] kiu-ball commented on #26297
I'm using complete oC enterprise tarballs only. Kind of sure that there cant't be any code mixing with old versions.

[2017-02-01 08:58] PVince81 commented on #27062
@DeepDiver1975 please reset the stable9.1 branch on Jenkins

[2017-02-01 09:03] felixheidecke commented on #21810
Changing the font-weight from "normal" to "bold" drastically changes the over all appearance. Increasing the font size however does not, but boosts readability. I'll provide an adequate design solution.

[2017-02-01 09:24] felixheidecke commented on #22689
In general: Using a placeholder on an input field ist not a label replacement UX wise. _(The latter is present button hidden.)_ Replacing the default placeholder behavior in IE using a workaround is a quick and dirty "fix" and should not be a long term solution.

Labels are hidden or shown as seen fit throughout the web interface wich does not contribute to a unified user experience.

My solution:

[2017-02-01 09:27] PVince81 commented on #22689
@felixheidecke sounds good.

[2017-02-01 13:48] guilherme-sir-loop opened #27070 "Issues with version 8.2 with Mysql:"Database <mysql> is not support""
I had had a bug with sqlite, so as walkthrought i used mysql, but after i typed this command:
occ maintenance:install  --database “mysql” --database-name “owncloud” --database-user "root" --database-pass "password" --admin-user "admin" --admin-pass "password"
I received a error:
Database <mysql> is not support

[2017-02-01 14:15] DeepDiver1975 commented on #27070
most probably you miss the mysql module for php - please run php -m

[2017-02-01 14:32] PVince81 commented on #26925
Fixed with https://github.com/owncloud/core/pull/27041

[2017-02-01 14:32] #26925 closed

[2017-02-01 14:32] PVince81 commented on #26907
Fixed with https://github.com/owncloud/core/pull/27041

[2017-02-01 14:32] #26907 closed

[2017-02-01 14:39] dialogue2sourds commented on #23714
Just for info, it's 2017 and the message is still missleading on the wrong 3rdParty directory (for an owncloud newbie) . Anyway You are all doing an amazing job , thank you.

[2017-02-01 14:43] butonic opened #27071 "LOCK TABLES can lead to crashes or locks when used with Galera"
See https://mariadb.com/kb/en/mariadb/lock-tables-and-unlock-tables/#limitations

Also we are seeing installations that have to do a 'repair table' to fix the cluster. The specific problem is
[code]
The documentation only explains:

AFAICT locking is only used for the oc_jobs table: https://github.com/owncloud/core/blob/master/lib/private/BackgroundJob/JobList.php#L191-L210 However a WRITE lock is

[2017-02-01 14:52] PhilippSchaffrath commented on #27071
What is weird, is that an instance with this error works fine after a `repair table` and might randomly fail again after a few hours or a day.

Even if this is caused by jobs, a request to index.php should hold its own connection which should run without any problems. But we could see that no requests at all will work, all requests get the same error. The table is accessible perfectly fine if you

[2017-02-01 15:37] DeepDiver1975 commented on #27071
https://mariadb.com/kb/en/mariadb/mariadb-galera-cluster-known-limitations/

Bloody hell ..... is there a docker with galery inside? I'll immendiatly put this into the ci pipeline

[2017-02-01 15:43] butonic commented on #27071
http://galeracluster.com/2015/05/getting-started-galera-with-docker-part-1/
http://galeracluster.com/2015/05/getting-started-galera-with-docker-part-2-2/

?

[2017-02-01 15:45] kdslkdsaldsal commented on #23714
@dialogue2sourds There is an open feature request to change this and make it more clear available here: https://github.com/owncloud/core/issues/24110

[2017-02-01 15:45] DeepDiver1975 commented on #27071
https://hub.docker.com/search/?isAutomated=0&isOfficial=0&page=1&pullCount=0&q=galera&starCount=0

[2017-02-01 15:52] DeepDiver1975 commented on #27071
let's try this one

[code]

[2017-02-01 16:23] esprit-libre commented on #26837
@mirekys looks like a similar problem. I will try to reproduce.

@PVince81 I have the problem for the 3rd time on a 3rd instance... every time with 9.1.3 version, and every time it happens a while after upgrade to 9.1.3 with big folder deletion.
Problem could be linked to client issue [5509](https://github.com/owncloud/client/issues/5509)?
This time, no use of workin2gether, so not involved in the

[2017-02-01 16:28] PVince81 commented on #27062
They're green again https://jenkins.owncloud.org/job/owncloud-core/view/Release%20Branches/job/core/job/stable9.1/21/.

Thanks for the kick

[2017-02-01 16:28] #27062 closed

[2017-02-01 17:53] piflixe opened #27072 "Cannot move received federated share mount"
Sorry if this is explained somewhere else, but I couldn't find any information on that.

When signing up to a federated share location via a share link, I would like to add it not in the root folder of my owncloud, but in a custom location somewhere in my folder tree.

### Steps to reproduce
1. Create share link
2. add remote share to your owncloud
3. federated share is in the root folder of your

[2017-02-01 20:20] VicDeo commented on #26297
@kiu-ball What's  php version is active on your openSUSE?

[2017-02-01 21:37] guilherme-sir-loop commented on #27070
Yes, thank you.
The mysql module is not on the list.

[2017-02-01 21:49] #27070 closed

[2017-02-02 00:58] gosiunia531 opened #27073 "Malgorzata"
### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration
**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**ownCloud version:** (see ownCloud admin page)

**Updated from an older ownCloud or fresh install:**

**Where did you install ownCloud from:**

**Signing status (ownC

[2017-02-02 05:05] vegas23 commented on #23407
+1 same issue. ver 9.1

[2017-02-02 06:58] #27073 closed

[2017-02-02 09:42] Helios07 commented on #27071
Which version of MariaDB/MySQL are we talking about? At least in my Galera cluster working with MariaDB 5.5 a repair table is not possible for an InnoDB table (and there will most probably no myISAM tables):

`MariaDB [owncloud]> repair table oc_appconfig;
+-----------------------+--------+----------+---------------------------------------------------------+
| Table                 | Op     | Msg_

[2017-02-02 10:25] PVince81 commented on #24053
Interesting fact: this behavior already works for federated shares. If a recipient of a federated share moves a file out of a share, the local OC instance will issue a DELETE statement to the owner's ownCloud instance, which will simply move the file to trash on that instance.

[2017-02-02 10:27] PVince81 commented on #24053
- [ ] owner backup PR for the backup feature is ready for review: https://github.com/owncloud/core/pull/27042
- [ ] activity
- [ ] documentation ticket for the behavior

[2017-02-02 10:28] phisch commented on #27071
AFAIK it says that the engine doesn't support repair, but repair actually does multiple steps and the message comes from one of those.

[2017-02-02 11:18] kiu-ball commented on #26297
php 5.6.9

[2017-02-02 11:44] butonic commented on #27071
@Helios07 Indeed, we got the same output with 'The storage engine for the table doesn't support repair' BUT the table worked afterwards.
Reading the docs it would be great to get the output of:
1. `SHOW OPEN TABLES WHERE in_use <> 0`
2. `SHOW FULL PROCESSLIST;`
3. from http://www.dbrnd.com/2016/02/mysql-script-to-identify-the-locks-and-blocking-transactions/
[code]

We may also try https://github.

[2017-02-02 12:57] mlkiefer commented on #27064
I can't edit in that forum. Too few XP points. So someone else has to do that.

[2017-02-02 13:03] zuidwijk commented on #13005
I'm experiencing the problem that files with characters like é ë è ó ö å etc are ignored (giving errors while och files:scan).
[scan_errors.txt](https://github.com/owncloud/core/files/747762/scan_errors.txt)

[2017-02-02 14:51] cdamken commented on #24053
does it also appears in the activities?

[2017-02-02 14:53] phisch commented on #27071
@butonic i tried listing open tables, but at the time the instance was unuseable there was no table in use or locked. I did not check the processlist though.

[2017-02-02 14:54] PVince81 commented on #24053
for federated shares, the activity will say "the file X was deleted" because the federated server doesn't know it was moved out since it received a DELETE command... Might need more special handling, passing hints to that server so it can detect it.

[2017-02-02 15:09] PVince81 commented on #24053
The basic POC for rename activity seems to work without big blockers so far https://github.com/owncloud/activity/pull/558. However I'm struggling with the formatter and there are many additional conditions that need to be checked against. I'm not sure there is enough time to finish this for 10.0.

Additionally we'll need some special handling for the trashbin. Basically: if trashbin is enabled, do

[2017-02-02 15:54] #23970 closed

[2017-02-02 16:59] Powie commented on #1347
To restrict disk space usage for the whole OC installation is very important!!!!

+1

[2017-02-02 17:21] hodyroff commented on #1347
@Powie Please help us understand why. What is your use case? And why can this not be achieved with file system utilities?

[2017-02-02 18:13] PVince81 opened #27075 "occ db:convert-type doesn't work with migration"
### Steps

1. Setup ownCloud with sqlite
1. Use `occ db:convert-type` to convert to MySQL
1. Refresh the page

### Expected
All tables migrated

### Actual
Some tables were omitted: `oc_external_config`, etc. These tables are created not with MDB2 schemas but with migrations.

### Versions
master.

We need to adjust the command to also run the migrations on the new database to initially create the

[2017-02-02 18:16] PVince81 commented on #27075
I'm afraid that there will be no solution for this.
Migrations cannot provide a list of tables to migrate

Maybe convert-type needs to work differently: instead of using the schemas, just migrate whatever data is there regardless... in which case the command itself becomes generic and could be written as a completely separate tool (not part of ownCloud).

I'm already hearing @DeepDiver1975 from fa

[2017-02-02 18:25] PVince81 commented on #27075
Wait a minute... The option `--all-apps` is supposed to also migrate extra tables.

But the code seems to just through away the extra tables instead of doing so.
When the option is not set, a hint tells that you can set it.

But then it doesn't do anything. WTF

[2017-02-02 18:27] PVince81 commented on #27075
Ok, found the code.

Actually it finds the extra tables only for the warnings.
When you specify `--all-apps` it uses `getAllApps()` instead of `getEnabledApps()` and reads `database.xml` to find out how to create the tables...

So no luck there.

[2017-02-02 19:01] PVince81 commented on #27072
That's not correct. You can rename and move received shares anywhere you want after having accepted it.

What happens if you move it ? Do you get an error message ? If yes then it's a bug.

[2017-02-02 19:04] PVince81 commented on #19376
We won't have time for this, I'd like to move this to 10.1.

[2017-02-03 01:40] ShamimIslam commented on #1347
Why does someone voting need to justify a vote? Is a vote in itself
insufficient?

Having said that, have you TRIED to use the so-called system tools?

Please tell me how you update a whole group of pre-existing historical
users to a group quota? And now if you have 3000 users, and of those, you
need to update 1500 of those?

If those commands exist, we're golden. If not, you haven't maintained an

[2017-02-03 06:37] Powie commented on #1347
@hodyroff  Example: The installation is inside a VM where the user has an amount of 500GB Space. Owncloud will see this 500GB space and will use it in max. But inside this container there are other space requirements too, for mysql, logs, etc. If nobody manually controls space consumption of OwnCloud, it will happen that oc will use anything of space inside the 500GB limit and this VM will run out

[2017-02-03 08:42] ShamimIslam commented on #1347
At this time, quotas are assigned to users one at a time or by default at
the time of creation. There is no mechanism to update all users to a new
grop quota en mass when the group quota has been changed. The group is only
used to assign the quota to the user at the time of creation. Someone
thought that user quotas could only be enforced and/or valid at the use
level.

On Fri, Feb 3, 2017 at 1:37

[2017-02-03 09:11] #27006 closed

[2017-02-03 09:50] DeepDiver1975 commented on #27075
:grimacing:

[2017-02-03 09:54] DeepDiver1975 commented on #27075
We could clear the migrations table on the target schema and run all migration steps for all apps.

somthing like:

[code]

[2017-02-03 09:57] PVince81 commented on #27075
You don't even need to clear the migration table, the convert script doesn't copy it over.

My worry about running the migration scripts is that some might want to operate on existing data. But the data hasn't been copied over yet. On the other hand, the data in the source tables is already converted to whatever format is required by the migrations once they all ran. So it might work.

I guess the

[2017-02-03 10:06] felixheidecke commented on #21810
Sure, this should be tackled in a overall styleguide wich is still far away. Is there still a need to increase readability as of now? I couldn't really make that out :neutral_face:

[2017-02-03 10:09] PVince81 commented on #21810
@cdamken can you check if the need is still there ?

I'm fine closing this for now until we have the style guide.

[2017-02-03 10:28] dansou901 commented on #25580
Adding the bug label to this issue made it a bug report (seems that way)

[2017-02-03 10:40] PVince81 commented on #26919
PR is here https://github.com/owncloud/core/pull/27080

[2017-02-03 11:21] PVince81 commented on #22641
Reopening. It is not possible to use "occ maintenance:install" with EE and WND due to this.

[2017-02-03 11:42] PVince81 commented on #22641
Okay, here is what happens:

1. During "occ maintenance:install", apparently the WND app enables itself but it doesn't auto-enable files_external
1. During "occ config:system" the `register_command` from WND tries to access files_external namespace directly without checks. Somehow it seems that the "app.php" was run too, so the code that enabled files_external does run, but not in a way that prope

[2017-02-03 11:44] PVince81 commented on #22641
For previous versions, the workaround is to run "occ" once without any args and let it fail.
Subsequent calls to "occ" will then work.

[2017-02-03 11:52] PVince81 commented on #22641
Fix for WND: https://github.com/owncloud/windows_network_drive/pull/79 using "appinfo/install.php" approach. That did the trick!

[2017-02-03 12:38] 466 commented on #25927
As i encountered this problem, without changing ANTYTHING regarding OC, php or nginx, something else was causing this .... .

**mikecurtin**
"I simply ran out of disk space on my Ubuntu server. Once I deleted some of the files, I was able to log back in successfully."
Yeha! I can confirm this. My owncloud.log told me "No space left on device"
indeed, there was nothing left!

Deleting some files so

[2017-02-03 12:59] SergioBertolinSG opened #27081 "Connection using path style to a personal S3 (not amazon) fails."
### Steps to reproduce:

1.- Enable external storage.
2.- Run a container using S3 protocol.
   I've used https://hub.docker.com/r/webhippie/minio/ with a created bucket inside.

Steps to use this container:
Having a docker daemon running do:

2.1.-  Get minio image:
```docker pull webhippie/minio```

2.2.- Create a container:
For example:
```docker run -t -i -d -p 39000:9000 webhippie/minio:lates

[2017-02-03 13:03] SergioBertolinSG commented on #27081
This a blocker for: https://github.com/owncloud/qa-enterprise/issues/55

[2017-02-03 14:17] SergioBertolinSG commented on #27081
No longer a blocker. Objectstore works with that container.

[2017-02-03 14:34] Awebb commented on #25580
I meant the bug report over at https://github.com/McNetic/PHPZipStreamer.

I could but I won't, because I don't use this right now and opening a bug without having a testing environment is quite impolite.

[2017-02-03 15:04] Flachzange commented on #26746
Any update on this issue? Is there something I could provide to help investigating? Issue still exists with 9.1.4.

[2017-02-03 15:06] kdslkdsaldsal commented on #1347
@ShamimIslam You might have noticed that this question was not redirected to you but to the previous poster asking for a global disk quota. No need to get aggressive like you're currently getting, especially as this is not about your per group quotas.

[2017-02-03 16:42] Aikhjarto commented on #23610
Just hit this bug when upgrading from 8.2.10 to 9.0.8.
Upgraded the database manually with:
[code]
However I had two issues that made me revert to 8.2.4:
* my calendars were gone afterwards for all users
* file access was not possible in singleuser mode as admin (but at least possible for other user when singleuser mode was disabled)

[2017-02-03 18:22] PVince81 commented on #24164
Moving to 8.2.11 since 8.1.12 is the last of the 8.1 series (EOL)

[2017-02-03 18:24] PVince81 commented on #21670
moving to 10.0 then if there's time to put these in...

[2017-02-03 18:24] PVince81 commented on #22480
@felixheidecke close then ?

[2017-02-03 18:26] PVince81 commented on #25322
Seems no one cares -> close.
The consequence is mostly some wasted cpu cycles in rare race condition cases.

I hope we can finish https://github.com/owncloud/core/pull/25100 then for 10.0

[2017-02-03 18:26] #25322 closed

[2017-02-03 18:32] PVince81 commented on #26702
I'm closing this for now. Please reopen if it still happens with 9.0.8.

[2017-02-03 18:32] #26702 closed

[2017-02-03 18:36] felixheidecke commented on #22480
Sure. I'll pick up on that behavior in an other issue.

[2017-02-03 18:36] #22480 closed

[2017-02-03 18:38] PVince81 commented on #25980
Closing due to lack of feedback, cannot reproduce

[2017-02-03 18:38] #25980 closed

[2017-02-03 18:42] PVince81 commented on #24906
apparently not critical, moving to backlog

[2017-02-03 18:42] PVince81 commented on #24906
the blank page should now show an exception on 10.0

[2017-02-03 18:43] PVince81 commented on #24106
I need to retry this. Some backports done to OC 9 related to shared storages might fix this.

[2017-02-03 18:45] PVince81 commented on #22780
What swift server are you using ?

[2017-02-04 00:27] iprok opened #27084 "owncloud 8.2.*: incorrect parameter (__FILE__) for tempnam in getTempBaseDir in lib/private/tempmanager.php:228"
I use owncloud 8.2.10.

On 228th line of lib/private/tempmanager.php we have:
                $temp = tempnam(__FILE__, '');
It surely should be
                $temp = tempnam(dirname(__FILE__), '');

or something like so.

Now to the $temp is always assigned '/tmp' and, if /tmp is not accessible (open_basedir restriction for example) then logs are flooded by this errors:
"tempnam(): open_basedir

[2017-02-04 00:29] iprok commented on #27084
Or even better string should be
`$temp = @tempnam(dirname(FILE), '');`

[2017-02-04 08:33] kdslkdsaldsal commented on #27084
Might be also due to the issue discussed here that this doesn't work as expected: https://github.com/owncloud/core/issues/22011

[2017-02-04 11:53] piflixe commented on #27072
HI PVince81!

Thanks for your reply. When trying to drag and drop the federated share folder in the web frontend, I receive the error message "Datei konnte nicht verschoben werden "<folder name>"" - I guess that would be translated to "folder can't be moved". I tried drag and drop of folders with folders I created myself and this works fine.

In older Versions, I had the extension "Files move" ins

[2017-02-04 14:55] Quba212 opened #27085 "ud to nextcloud"
### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration
**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**ownCloud version:** (see ownCloud admin page)

**Updated from an older ownCloud or fresh install:**

**Where did you install ownCloud from:**

**Signing status (ownC

[2017-02-04 15:22] tuxmaster opened #27086 "PHP-FPM clients can't login"
Let OC running via php-fpm it self will work.
Access via web are possible, but the official oc client can't log in.
Using mod_php will work for both, but fpm only for the website.

**Operating system**: CentOS 7.3
**Web server:** Apache 2.4
**Database:** MariDB 10.1
**PHP version:** 7.0 (FPM) 5.4.16(mod_php)
**ownCloud version:**  9.1.4

Debug log when an client try to log in on fpm mode:
system o

[2017-02-04 15:43] kdslkdsaldsal commented on #27086
@tuxmaster This is a duplicate of https://github.com/owncloud/core/issues/7719

My recommendation: Either use Apache2 + mod_php or nginx + mod_fpm. Both are known to work.

[2017-02-04 17:08] tuxmaster commented on #27086
Adding this line was it:

I think this should be added to the manual at the fpm part.
Or better add the link to the documentation.

[2017-02-04 17:40] kdslkdsaldsal commented on #27086
Nice. So i think you can close this issue.

There is a note about the "No authorization" message available at the documentation:

https://doc.owncloud.org/server/latest/admin_manual/issues/general_troubleshooting.html#common-problems-error-messages

If you think this should be also documented at the fpm link you have posted you could either create a new issue at https://github.com/owncloud/documen

[2017-02-04 17:45] #27086 closed

[2017-02-05 10:05] kdslkdsaldsal commented on #1347
@Powie

oC is using the native PHP method ``disk_free_space`` to get the available free space:

https://github.com/owncloud/core/blob/v9.1.4/lib/private/Files/Storage/Local.php#L294

If this method doesn't respect system quotas then this issue needs to be brought up to the PHP group / the PHP bugtracker.

[2017-02-05 10:07] kdslkdsaldsal commented on #27086
Thanks, here is the reference: https://github.com/owncloud/documentation/issues/2842

[2017-02-05 10:35] GMTA commented on #1347
@kdslkdsaldsal See issue #5352

The method `disk_free_space` reports free space on the partition. But even if it would include quotas, you would have many race conditions on your hands since multiple users can upload files at the same time.

[2017-02-05 12:11] kdslkdsaldsal commented on #1347
IMHO still better then nothing :-) This feature request now sticks here around since 4 years and no one stepped up to implement this.

[2017-02-05 12:31] PVince81 commented on #27085
This report doesn't contain any information. Please fill the issue template.

[2017-02-05 12:31] #27085 closed

[2017-02-05 16:10] ShamimIslam commented on #1347
In all honesty, I don't follow the justification required for a vote. It's
always the same. Why does a vote require justification? I don't see others
being required to justify votes. It's not about my request. It's about the
knee-jerk "why should we, we think the product is complete" reaction. So I
politely disagree.

Also, I am pointing out that the folks in charge patently ignore the needs
of th

[2017-02-05 17:52] photodude opened #27087 "Add option for linux version of MSSQL"
### Steps to reproduce
Look at database options, only the following are listed

- MySQL / MariaDB
- PostgreSQL
- Oracle (ownCloud Enterprise edition only)

### Expected behavior
MSSQL linux version should be available. as the linux flavor has been out since March 2016

instructions on how to install
http://www.tecmint.com/install-ms-sql-server-centos-ubuntu-linux/

docker image
https://hub.docker.

[2017-02-05 18:23] TheOtterslider commented on #23610
@Aikhjarto -- wasn't the upgrade to 9 when ownCloud made the change that

1. you had to reactivate non-core apps after the upgrade and
2. calendar, etc.. were no longer considered part of the core?

If I'm right, redo the upgrade (all the steps), login as your ownCloud admin user and reactivate the calendar app

[2017-02-06 06:35] Bigpet commented on #24476
I know I'm commenting on an old and dead issue but if anyone else finds this when googling for the error. My mistake was copying the owncloud directory with rsync and using `--exclude "data"` which excluded the directory `3rdparty\punic\punic\code\data`

[2017-02-06 06:50] PVince81 commented on #27072
Hmm, is the mounted federated share read-only ? Maybe there's a permission mix-up.

Does it work moving it if you mount a read-write federated share ?

Did you disable files_move when trying ?

Potentially a bug.

[2017-02-06 06:52] kdslkdsaldsal commented on #1347
@ShamimIslam It seems that you're not capable of reading posts of other people and that you're still getting this somehow personally.

No, what we have was:

@hodyroff Asked why the user thinks that global disk quota is important and whats his use case for such a disk quota. The "Have you tried xyz? Why do you need abc?" is only a minor part of this question.

And finally my personal two cents:

I

[2017-02-06 07:11] ShamimIslam commented on #1347
It's not about that. It's about even IMPLEMENTING a feature yourself and other people finding it useful are not enough to make the solution available to others as a choice. I don't complain without offering something in return. The only thing I'm missing in implementing this feature myself is a complete class diagram. Any chance you know where this is? (I can't find it in the docs so a link would

[2017-02-06 07:17] kdslkdsaldsal commented on #1347
I know that there is a documentation for developers available here:

https://doc.owncloud.org/server/latest/developer_manual/

If you need specific guidance for something within the ownCloud core you might want to jump into the IRC channel #owncloud-dev on Freenode. There you will find people which might be able to answer your questions.

[2017-02-06 07:18] Powie commented on #1347
Back to this feature....

For us, as a webhosting company, this missing option to OwnCloud is the issue why we disallow customers to install OwnCloud. Customer accounts, based on Plesk, have many ability's, also to limit ftp space etc.
But, OnwCloud "don't cares" about that, and this has killed some machines in the past. The customer hasn't control over space consumption. If nobody can limit OwnCl

[2017-02-06 07:19] ShamimIslam commented on #1347
No class diagram. Just a lot of "here's what we think you should know." It
does not help me find things. Is there an online API reference?

On Mon, Feb 6, 2017 at 2:18 AM, kdslkdsaldsal <notifications@github.com>
wrote:

[2017-02-06 07:25] ShamimIslam commented on #1347
@Powie You can implement a global default quota in a group, and then new users get that quota. If you want to force a quota for already existing users, you have to set it in the preferences table. But currently there is no function to set this across the board. OC *does* care. The makers just haven't enabled the enterprise level needs. Just regular users.  I have a similar situation. I manage a la

[2017-02-06 08:08] EmilObermayr opened #27088 "Feature Request: Add link from own instance"
### Steps to reproduce
1. someone shares by link via email to a group of people
2. one of them is a user of the same instance
3. this person would like to "add by link"

### Expected behaviour
This should be possible

### Actual behaviour
It is rejected with a message saying you can't add by link from your own instance

copy from ...
https://central.owncloud.org/t/add-link-from-own-instance/5583
.

[2017-02-06 08:49] davigonz opened #27089 "Server >9.0 is not responding with 403 Forbidden when some firewall rules are enabled"
### Steps to reproduce
1. Enable one of this rules in firewall application:
- User Device is Android Client
- User Device is Desktop Client
- User Agent is Mozilla/5.0 (Android) ownCloud-android/2.2.0 (Android Client)
- Request type is WebDAV
- Request time between certain hours.
2. Send HEAD or PROPFIND request.
3. Have a look at the response.

### Expected behaviour
The response should be 403 Fo

[2017-02-06 09:16] davigonz commented on #27089
@PVince81

[2017-02-06 09:20] PVince81 commented on #27089
Likely a bug in the firewall app: https://github.com/owncloud/firewall

But let's see if core changed something there

[2017-02-06 09:53] dercorn commented on #27071
@butonic @phisch @DeepDiver1975 any progress here? Or any ideas on how we might isolate the cause of the problem?

[2017-02-06 09:55] hyperbaba commented on #22780
I am using ceph's version  0.94.5 radosgw
.

On Fri, Feb 3, 2017 at 7:45 PM, Vincent Petry <notifications@github.com>
wrote:

[2017-02-06 10:04] PVince81 commented on #27087
It is already a lot of work to support MySQL (and soon to be added utf-8mb4 support), PostgreSQL, SQLite and Oracle. And the more databases are added, the less "custom" features can be used.

If MSSQL is to be added back again, it would be good if someone would volunteer to maintain this long term, someone who uses this on a productive system.

Unfortunately DB support cannot be added through apps

[2017-02-06 10:08] PVince81 commented on #26155
Closing due to lack of feedback

[2017-02-06 10:08] #26155 closed

[2017-02-06 10:08] QuentinC commented on #23756
Hello,

CIFS with user credentials is working normally for me on 9.1.3.

Thanks,

Quentin

[2017-02-06 10:08] PVince81 commented on #26120
@phisch

[2017-02-06 10:09] PVince81 commented on #23756
Thanks for the feedback, closing then.

[2017-02-06 10:09] #23756 closed

[2017-02-06 10:12] PVince81 commented on #25782
Closing this then

[2017-02-06 10:12] #25782 closed

[2017-02-06 10:13] PVince81 commented on #25647
Any more luck with 9.1.4 ?

[2017-02-06 10:25] kdslkdsaldsal commented on #1580
@enoch85 Please avoid trying to convert people to Nextcloud in this bugtracker

[2017-02-06 10:29] PVince81 commented on #21171
@davitol can you try reproducing this ?

[2017-02-06 10:33] PVince81 commented on #27088
Yes, this is currently restricted because it can in some situations cause infinite recursions and kill an instance in case links are mounted in a chain.

There is another discussion here that might be relevant to achieving this: https://github.com/owncloud/core/issues/21602 and https://github.com/owncloud/core/issues/9090

[2017-02-06 10:34] PVince81 commented on #20216
@Peter-Prochaska please evaluate severity

[2017-02-06 10:35] PVince81 commented on #17254
Please try again with 9.1.4 or 9.0.8 where the locks should be freed properly upon disconnection

[2017-02-06 10:35] #17254 closed

[2017-02-06 10:36] PVince81 commented on #15701
The command https://github.com/owncloud/core/pull/26379 has been added in 9.0.8 and 9.1.4.

Is that solution sufficient or do we want to spend more time on https://github.com/owncloud/core/pull/26490 which is blocked due to a chicken-egg problem regarding deleted users ?

[2017-02-06 10:38] PVince81 commented on #14646
@DeepDiver1975 @jvillafanez @butonic @IljaN do we agree on the proposed solution in https://github.com/owncloud/core/issues/14646#issuecomment-169953124 ?

[2017-02-06 10:39] PVince81 commented on #11794
Moving to backlog for now. No time, it's overly complex and doesn't fit in the current architecture. Also, no one seems to be bothered by this bug at the current time.

[2017-02-06 10:40] PVince81 commented on #10511
Moving to backlog.

The potential solution is overly complex due to not fitting architecture and this issue doesn't seem to be a major blocker for any one so far.

Ideally we should rework the FS mount system as described in https://github.com/owncloud/core/issues/26190 which would make it possible to catch conflicts in a central place.

[2017-02-06 10:43] PVince81 commented on #15701
I'm closing this now, if more work is needed, please reopen.

Here is a documentation ticket: https://github.com/owncloud/documentation/issues/2843

[2017-02-06 10:43] #15701 closed

[2017-02-06 11:27] enoch85 commented on #1580
@kdslkdsaldsal Just pointing out facts as it's included in Nextcloud.

But I hear you, I will remain quiet.

[2017-02-06 11:32] jknockaert commented on #1580
@enoch85 I'm not sure what facts you are making reference to. As far as I know Nextcloud does not have proper firewall support. And Nextcloud also has features available only for enterprise customers.

[2017-02-06 12:09] PVince81 commented on #27089
Raised https://github.com/owncloud/firewall/issues/266. Please follow up there.

[2017-02-06 12:09] #27089 closed

[2017-02-06 12:23] EmilObermayr commented on #27088
I just re-checked after I did some clean-up in the SSL-configuration and now it works.
Might it just be a mis-leading error-message? Maybe an incomplete certification-chain leads to such an error? If this is the case, the error message should be more specific.

[2017-02-06 12:25] PVince81 commented on #27088
Could be...

[2017-02-06 13:18] PVince81 commented on #27072
I can't reproduce this issue with two 9.1.3.

My steps:

1. Setup two OC instances OC_A and OC_B with version 9.1.3
1. Login as admin on OC_B
1. Create two folders "testrw" and "testro"
1. Create link shares for "testrw" (read-write) and "testro" (read-only)
1. Login as admin on OC_A
1. Open both links
1. Add them to OC_A
1. Create a folder "sub"
1. Move both received "testrw" and "testro" to "sub

[2017-02-06 13:32] mmattel opened #27090 "status.php does not return the productname"
### Steps to reproduce
1. access mydomain.com/status.php in the browser

### Expected behaviour
Tell us what should happen
```{"installed":true,"maintenance":false,"version":"9.1.4.2","versionstring":"9.1.4","edition":"","productname":"owncloud"}```
At least "productname" should be printed like edition...

### Actual behaviour
```{"installed":true,"maintenance":false,"version":"9.1.4.2","versionst

[2017-02-06 13:44] mmattel opened #27091 "status.php should return a descriptive edition text in case it is not Enterprise"
Current printout when having a non enterprise edition:
```{"installed":true,"maintenance":false,"version":"9.1.4.2","versionstring":"9.1.4","edition":""}```

I suggest for the edition instead of beeing empty in case it is not the enterprise version to print "Community".

```{"installed":true,"maintenance":false,"version":"9.1.4.2","versionstring":"9.1.4","edition":"Community"}```

Code segment at

[2017-02-06 13:53] enoch85 commented on #1580
@jknockaert Didn't find your email anywhere. But to reference a few examples:
- Password Policy
- Full Text Search
- SAML/SSO Authentication

Please ping me at IRC if you want to discuss this further: @enoch85 (#techandme)

[2017-02-06 14:24] Mysterycz commented on #26930
Hello, it is working ok without turning OC to maintanace mode before manual update. Strange.

[2017-02-06 15:54] VicDeo commented on #27044
Closing as fixed

[2017-02-06 15:54] #27044 closed

[2017-02-06 17:22] PVince81 commented on #27091
As far as I remember the edition string comes from version.php and for the community version it is empty.

Maybe we should change that in the build script instead of adding special code paths.

That would be a nice fit for 10.0.

[2017-02-06 17:25] PVince81 commented on #27090
Hmm, indeed. Even with a theme it seems to not work.

@phisch

[2017-02-06 20:08] mmattel commented on #27091
Does not seem to come from version.php.
That is the code segment I referenced above...
[code]

[2017-02-06 21:31] perry-mitchell opened #27093 "Unable to bypass session when making WebDAV PROPFIND requests"
### Steps to reproduce
1. Make an XHR (PROPFIND) request to get directory contents of **accountA**
2. Make a second XHR in the same page (PROPFIND) to get the directory contents of **accountB**
3. The contents returned by both requests is the contents of **accountA**

### Expected behaviour
Requests for each accounts' contents should return their respective contents

### Actual behaviour
A session

[2017-02-06 23:33] oparoz commented on #13158
Has been implemented in an app:
https://github.com/nextcloud/files_downloadactivity

[2017-02-07 06:40] PVince81 commented on #13158
From what I see the app is not compatible with ownCloud, so we should keep this ticket open for a solution compatible with ownCloud.

[2017-02-07 09:58] Scindix commented on #25580
Am I expected to do this as I'm the one that discovered the bug?
I would have no problem making the effort. However I don't have a clue about ZIP file headers and how PHPZipStreamer works. (I'm not even using it directly. I'm only using a software that depends on it.)
I can't really tell where and what goes wrong from a technical point of view and in this ignorance I think I'm not suited for this

[2017-02-07 10:05] davitol opened #27096 "weird behaviour in email test 'gauge' in personal settings page"
![mailgauge](https://cloud.githubusercontent.com/assets/10596560/22686662/46fb6792-ed25-11e6-90f5-7564f958d4d8.gif)

oC Version: "10.0.0.0","versionstring":"10.0.0","edition"

[2017-02-07 10:16] Scindix commented on #25580
@dansou901 I'm not running a recent version of owncloud. I don't have time bothering with updates until in a few months. So I tried accessing demo.owncloud.org. However it hangs at the login screen and I can't access anything and thus I can't confirm if the bug is still prevalent. But I guess so as I haven't seen any bug fixes regarding this issue on any side.

[2017-02-07 12:02] DeepDiver1975 commented on #27096
yes - copy and paste is not recognized as input

@felixheidecke any idea?

[2017-02-07 13:33] PVince81 opened #27098 "Failed tesst on master related to OCS"
Possibly introduced after merging https://github.com/owncloud/core/pull/27076

https://jenkins.owncloud.org/job/owncloud-core/job/core/job/master/356/

[code]
No encryption nor alt home involved.

Let's hope it's not some crazy side effect.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/41737092-failed-tesst-on-master-related-to-ocs

[2017-02-07 14:00] PVince81 commented on #27098
Both reproducible locally.

[code]

[code]

[2017-02-07 14:05] PVince81 commented on #27098
Confirmed that this regression exists because of https://github.com/owncloud/core/pull/27076

[2017-02-07 14:12] PVince81 commented on #27098
Fix is here https://github.com/owncloud/core/pull/27099

[2017-02-07 14:23] badincite opened #27100 "Active Directory Could Not Connect"
Trying to get active directory to connect and I just get could not connect to ldap. The ports are open on the server.

ownCloud Version 9.1.4 (Stable)

Server 2012 r2 Active Directory

Installed php v7.0-ldap

![image](https://cloud.githubusercontent.com/assets/7386290/22694795/8c07e86a-ed16-11e6-8d6a-61e198494cd6.png)

![image](https://cloud.githubusercontent.com/assets/7386290/22694817/a8467514-

[2017-02-07 14:25] guruz commented on #26311
FYI The 2.3 client has an option now "Ask for confirmation before synchronizing external storages" which should already help for a lot of scenarios.
https://cloud.githubusercontent.com/assets/2644445/22258989/e928fa92-e263-11e6-9c70-575316035231.png

[2017-02-07 14:43] mmattel commented on #26311
This is very good and useful !!

From the client side, clients (human) do not know and/or care if the storage behind is external or not, they just see "folders". And client side choices are, by design, not oC admin driven.

[2017-02-07 15:21] PVince81 commented on #27100
@jvillafanez @cdamken @davitol can you confirm that ownCloud works with PHP 7 and AD 2012 ?

[2017-02-07 15:28] PVince81 commented on #26278
Slightly related: if you disable trashbin with SMB, the encryption wrapper will try to `fopen` a folder. Here is a possible fix that redirects View->unlink to rmdir when it's a folder: https://github.com/owncloud/core/pull/27101

[2017-02-07 15:53] DeepDiver1975 opened #27102 "Exclude additional files from integrity check"
![bildschirmfoto von 2017-02-07 16-50-51](https://cloud.githubusercontent.com/assets/1005065/22698716/a15bc706-ed55-11e6-9c03-22834cba51e9.png)

[2017-02-07 16:12] fracture-point commented on #25470
Hate bumping this @georgehrke but this makes invites unusable, and I really don't want to switch to nextcloud...

[2017-02-07 16:45] felixheidecke commented on #27096
@davitol could you please provide browser name and version?

[2017-02-07 16:46] DeepDiver1975 commented on #27096
I have observed that in chrome - I guess this is an issue in every browser

[2017-02-07 16:49] jesmrec commented on #25649
@PVince81

I have checked the original scenario and the error does not happen.

So, we can close this.

[2017-02-07 16:49] PVince81 commented on #25649
Thanks

[2017-02-07 16:49] #25649 closed

[2017-02-07 17:13] davitol commented on #27096
@felixheidecke Tested in Mozilla FireFox 51.0.1 (64-bit) for MacOSX and Google Chrome Version 56.0.2924.87 (64-bit) for MacOSX

[2017-02-07 17:16] dalenoe commented on #27102
Is there a way to make the integrity check exclude files (that I specify), or how would I go about getting the file I created signed.

[2017-02-07 17:33] kdslkdsaldsal commented on #27102
@dalenoe There are two possibilities:

1. The file needs to be added to the following array in the next official release: https://github.com/owncloud/core/blob/v9.1.4/lib/private/IntegrityCheck/Iterator/ExcludeFileByNameFilterIterator.php#L38

2. https://github.com/owncloud/core/issues/23186 needs to be implemented

[2017-02-07 17:49] dalenoe commented on #27102
Thanks @kdslkdsaldsal for the update. Looks like I play the waiting game.. :(

[2017-02-07 17:51] dalenoe commented on #27102
@kdslkdsaldsal If I manually added the file to that ExcludeFileByNameFilterIterator.php, will that accomplish what I'm looking for? I'm not expecting owncloud to add my custom script to the excludes..

[2017-02-07 18:04] kdslkdsaldsal commented on #27102
This would trigger the integrity check of ownCloud itself as you're modifying an ownCloud internal file.

[2017-02-07 18:29] PVince81 commented on #27102
Closing as duplicate of https://github.com/owncloud/core/issues/23186.

This should be implemented as part of https://github.com/owncloud/core/issues/23186 to make this configurable.

[2017-02-07 18:29] #27102 closed

[2017-02-07 21:42] Prakharsvnit commented on #24472
Hi,
I've installed owncloud on my local machine following instructions [here.](https://www.digitalocean.com/community/tutorials/how-to-install-and-configure-owncloud-on-ubuntu-16-04).

I couldn't understand what all links(webdav, permalinks)  want to copy on clipboard.

Please help me in getting started.

[2017-02-07 22:27] tflidd commented on #26342
Finally, I didn't manage to find a way to reproduce this and I corrected the error manually. The file-ids probably were kept because it was in the trash bin although if you opened the users trash-bin they were not inside.

What I did:
Delete from `storages` the storage id `90`, then I removed from `filecache` all entries related to this storage id and in a last step, I configured trash-bin retenti

[2017-02-08 06:48] kdslkdsaldsal commented on #1347
@ShamimIslam You might want to follow the advise in https://github.com/owncloud/core/issues/1347#issuecomment-277602548 if you need specific information on how to implement something:

[2017-02-08 08:04] PVince81 commented on #26342
Yes... we badly need to introduce foreign keys https://github.com/owncloud/core/issues/13143 and cascading delete to get rid of so many inconsistencies and orphaned entries

[2017-02-08 08:47] PVince81 commented on #1347
I few thoughts about the possible implementation details:

Need a way to retrieve used space for several users in a group.

This is likely not yet possible to do directly on database level because currently user and group lists are not always in the database depending on what user backend you use. If you use the default database backend, users are in `oc_users` and `oc_groups`. But for LDAP they a

[2017-02-08 08:49] PVince81 commented on #1347
Ah, and for a "Global" quota it would use the same approach (`GlobalQuota` storage wrapper) but be much easier to implement as it would just get the total used space from "oc_filecache" for all users, using a query like https://github.com/owncloud/core/blob/v9.1.3/lib/private/legacy/util.php#L201.

If someone is interested in starting with this, maybe the global quota would be a good starting poin

[2017-02-08 08:53] davitol opened #27109 "As an LDAP user, search for another user for sharing a file, an error is thrown."
### Steps to reproduce

1. Configure an LDAP
2. Logged as an LDAP user, search for another user for sharing a file

### Expected behaviour

The user should be shown in the search results

### Actual behaviour

An error is shown

### Server configuration

**Operating system**:
Ubuntu 16.04

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
PHP 7.0.9-1+deb.sury.org~trusty+1

**ownCloud v

[2017-02-08 08:54] davitol commented on #27109
@jvillafanez I'm going to try applying https://github.com/owncloud/core/pull/27083. Maybe this PR solves this issue

[2017-02-08 08:56] ShamimIslam commented on #1347
But see, that's just it. I don't want advice on how to implement something.
I want to know how it all hangs together. I want to be able to see all the
parts graphically so I can trace to where I need to go. I don't want
someone to educate me on thier way of doing things. I want someone to
provide me with clear concise documentation that allows me to browse the
code, class by class, method by metho

[2017-02-08 08:57] ShamimIslam commented on #1347
Actually, I was thinking enforceable group quotas by group. min(sum(quota
by group)). Global quotas assumes again incorrectly that there is only one
such animal. I have many.

On Wed, Feb 8, 2017 at 3:49 AM, Vincent Petry <notifications@github.com>
wrote:

[2017-02-08 09:00] ShamimIslam commented on #1347
P.S. Why does someone have to "acquire expertise" in group quotas first
before something like this? It's clearly part of the preferences storage,
although the extraction of the data is highly tortuous to say the least and
assumes the data is static at the time of user creation. I think a clear
understanding of the ownCloud code base is a better place to start for me.
Hence my original ask.

On Wed

[2017-02-08 09:06] PVince81 commented on #1347
As far as I know there are currently no class diagrams representing how all fits together on a higher level.

The way I usually learn is to try finding something similar (like the existing Quota wrapper) and then use that as a starting point and adjust it.

I don't think the oc_preferences storage would fit because the preferences are per user, not per group. So setting a quota for a specific grou

[2017-02-08 09:13] ShamimIslam commented on #1347
Was already thinking that way. Although what's intriguing is that while
homomorphic tables just like FPGA's are not production constructs by
definition and are supposed to be resolved to 3NF form at least with the
necessary dynamic plumbing to adjust for run-time access changes via stored
procs and view, both are in use both in code and in chips today. The days
when N-tier made sense are gone and

[2017-02-08 09:48] tcitworld commented on #25470
Some email providers won't like this and will ban the server which sends the notification. A better solution would be to show in the *From* header : `From %user% via %servername%`.

[2017-02-08 09:53] davitol commented on #27100
@PVince81 PHP 7.0.9-1+deb.sury.org~trusty+1 and Active Directory 2008 with oC "9.1.4.2","versionstring":"9.1.4" works fine. Unfortunately I don't have a AD 2012 available

[2017-02-08 10:17] #27098 closed

[2017-02-08 11:52] PVince81 commented on #27109
Such simple steps ? If that's so easy to reproduce, likely a critical regression ?

[2017-02-08 12:18] davitol commented on #27109
@PVince81 Not reproducible again... If I can reproduce it again i'll reopen the issue

[2017-02-08 12:30] davitol commented on #27109
OK, it is only reproduced with php7.0 and oC 8.2.10

[2017-02-08 12:35] moritzha commented on #22327
Is there a chance to get this feature with 10.0?
Beside multiple shares which can expire on different days, this will also give the shares names. This gives the ability to see who (which link) has uploaded or deleted a file on the server in the activity stream.
I think this will improve the work with external users and partners a lot.

[2017-02-08 12:38] lueurxax commented on #18786
OpenSSL 1.0.1e-fips 11 Feb 2013
Exception: {"Message":"HTTP\/1.1 503 Encryption not ready: multikeydecrypt with share key failed:error:04065072:rsa routines:RSA_EAY_PRIVATE_DECRYPT:padding check failed","Exception":"Sabre\\DAV\\Exception\\ServiceUnavailable","Code":0,"Trace":"#0 \/var\/www\/html\/3rdparty\/sabre\/dav\/lib\/DAV\/CorePlugin.php(83): OCA\\DAV\\Connector\\Sabre\\File->get()\n#1 [inter