[2016-11-21 08:15] PVince81 opened #26663 "OCS capabilities endpoint auth retrieves version too late, causing 500"
### Steps

1. `curl -u admin:admin -X GET 'http://localhost/owncloud/ocs/v1.php/cloud/capabilities?format=json' -D -`

### Expected result
200 response with contents.

### Actual result
500 response with contents.
Note that it only happens in @ogoffart's test environment with the desktop client at the moment.

We analyzed the problem and noticed that due to another bug (https://github.com/owncloud

[2016-11-21 08:15] PVince81 commented on #26663
A quickfix is to call `\OCP\Util::getVersion()` once inside `v1.php` directly after the `require_once` from base.php. This will make sure that if the version was not stored in the session, it will store it there at this point, which is before the session got closed by the app framework in the `SessionMiddleware` class.

[2016-11-21 08:24] PVince81 commented on #26646
Please go to the admin page and see if there are setup warnings. It is likely that your environment is not configured to allow Webdav calls from the web browser / outside.

[2016-11-21 08:27] guillemsf commented on #26646
Hi, the problem is that it's have boon working for several month. And one week ago brokened. I just this message -> "Your web server is not yet set up properly to allow file synchronization because the WebDAV interface seems to be broken".

Do you think is this?

[2016-11-21 08:31] PVince81 commented on #26646
Yes, that's the issue. Note that since OC >= 9.0 the web frontend also uses Webdav to access the file list, so this needs to be configured to work properly.

If you say it worked before with OC 9.0 then maybe something changed in your environment lately, system or web server update ?

[2016-11-21 08:38] PVince81 commented on #26663
Looks like normally the version is always retrieved in base.php in `checkServer()` the earliest.

So maybe something in @ogoffart's env is producing an exception before that line but for some reason isn't logged or thrown anywhere. (I remember that `require_once` might not always pass exceptions through)

[2016-11-21 08:39] paeppa opened #26664 "Shared folder with hyphen in name can't be downloaded"
### Steps to reproduce
1. Login to owncloud
2. Create a folder with the name "test" and a subfolder with a hyphen in it ("2016-11-21" for example)
3. Upload any file into test/2016-11-21 folder
4. Share the folder "test" via link (without password or expiration)
5. Logout of owncloud and go to the shared link URL
6. Select the folder "2016-11-21" and click on "Download"

### Expected behaviour
A z

[2016-11-21 08:41] guillemsf commented on #26646
Hi, it happened in 8.2.2.2 we updated to 8.2.9 to see if it was fixed and same result. We are under cloudfront and Webdav is not supported and used to work.

[2016-11-21 08:47] guillemsf commented on #26646
We are using 8.2.9 but will we need webdav in 9.0 ?

We didn't do changes in environment but if we need webdav in 9.0 we will
ned to think how to to fix it.

Thanks

2016-11-21 9:31 GMT+01:00 Vincent Petry <notifications@github.com>:

--
twitter: @willskc

[2016-11-21 08:50] ghost opened #26665 ""Failed to request notifications. Please try to refresh the page manually""
### Steps to reproduce
1. Login
2. Wait indefinitely the content of the center pane to be loaded, but it never comes...

### Expected behaviour
The files are displayed.

### Actual behaviour
The files never load and the center pane is always empty. IN FIREFOX ONLY. Internet Explorer is OK

It's happenning with the files app, the Calendar app, the admin page....

Error message displayed on the page

[2016-11-21 08:51] stephane84 commented on #26665
![1](https://cloud.githubusercontent.com/assets/8068395/20476197/04914896-afd0-11e6-9071-aa3681c29614.png)
![2](https://cloud.githubusercontent.com/assets/8068395/20476198/0491c17c-afd0-11e6-987d-c852f95f2cf3.png)
![3](https://cloud.githubusercontent.com/assets/8068395/20476199/04950c56-afd0-11e6-99e9-167ae67e131b.png)
![4](https://cloud.githubusercontent.com/assets/8068395/20476200/0498d37c-afd0-

[2016-11-21 08:53] stephane84 commented on #26665
@dvergeylen

[2016-11-21 09:45] PVince81 commented on #26646
Yes, you will need Webdav starting with 9.0.

Actually, if you were using desktop or mobile clients before then you needed Webdav as well.
The difference is that since 9.0 the web frontend will also use Webdav.

[2016-11-21 09:48] SergioBertolinSG commented on #26664
Just tested using latest master. Not reproduced. The folder with hyphens in name can be downloaded without problems. Used both mac and windows to download the file.

[2016-11-21 09:54] romris opened #26667 "Shared calendars not editable via caldav"
### Steps to reproduce
1. Open (via caldav) a calendar that is shared with you and for that you have the permission to make changes
2. Try to make changes
3. Synchnonize and see that your changes have no effect

### Expected behaviour
Changes should be synchronized.

### Actual behaviour
Changes are not synchronized.

### Server configuration
**Operating system**: Ubuntu

**Web server:** Apache

*

[2016-11-21 09:59] RealRancor commented on #26665
Some limitations in lighttpd which now happens with 9.1 because that is using the *DAV backend? In the past it was agreed in https://github.com/owncloud/core/issues/13642 that lighttpd is unsupported because of various bugs and limitations in that webserver.

[2016-11-21 10:03] RealRancor commented on #26664
Also not able to reproduce this at https://demo.owncloud.org (running 9.1.2)

[2016-11-21 10:06] Octopus2 opened #26668 "Updater-App doesn´t show Updates any more"
### Steps to reproduce
1. Go to the admin-section and look for updates

### Expected behaviour
1. Stabel-Channel should show Version 8.2.9, (or at least Version 8.2.8)

### Actual behaviour
1. Stabel-Channel doesn´t show any updates
2. Beta-Channel shows Version 9.0.4

### Server configuration
**ownCloud version:** 8.2.7

[2016-11-21 10:21] butonic commented on #19153
came up again

[2016-11-21 10:41] pmaier1 commented on #20334
I agree with @PVince81 that this could be confusing for users but more features are always nice at least when they're opt-in. Developing this as a separate app would also be my preferred solution. However, integrating this with the existing quota feature is fine as well as it is just a slight change and you're not forced to use it.

[2016-11-21 10:44] PVince81 commented on #26076
@Peter-Prochaska let me know if this is an acceptable approach

[2016-11-21 10:49] PVince81 commented on #24053
It should be technically possible (without overhauling the whole concept) to at least detect whenever a recipient moves a file out of a shared folder (through hooks) and then create a copy of that file or folder in the owner's trashbin. This would cover case 1. from @jochenwezel.

Case 2. should already be covered by the current code.

[2016-11-21 10:51] PVince81 commented on #22414
Is the solution from 9.2 that moves the avatars to separate folders already enough to move this ticket to backlog and decrease severity @DeepDiver1975 @butonic ?

[2016-11-21 10:58] #26541 closed

[2016-11-21 11:12] PVince81 commented on #10400
First step: introduce the base work for oauth2 authentication @PhilippSchaffrath.
Goal is to first make it possible for ownCloud clients to authenticate with oauth2.

Everything else like permission scoping should be done later as a second step.

[2016-11-21 11:14] PVince81 commented on #26463
@VicDeo can you have a look ? Ties in somehow with the updater.

[2016-11-21 11:14] PVince81 commented on #26412
@DeepDiver1975 can you backport https://github.com/owncloud/core/pull/26353#issuecomment-255331479 to 9.1 and 9.0 ?

[2016-11-21 11:39] PVince81 commented on #24403
I think we're done here, see my comment for the unticked cases.
Closing.

[2016-11-21 11:39] #24403 closed

[2016-11-21 11:40] PVince81 commented on #24330
Closing due to lack of feedback.

[2016-11-21 11:40] #24330 closed

[2016-11-21 11:42] PVince81 commented on #23556
Closing as I haven't seen this happen before. We'll reopen if observed again.

[2016-11-21 11:42] #23556 closed

[2016-11-21 11:43] PVince81 commented on #23430
Solved differently on 9.2 already using the last login value and a "first login" hook, closing.

https://github.com/owncloud/core/pull/26206

[2016-11-21 11:43] #23430 closed

[2016-11-21 11:43] RealRancor commented on #26668
@Octopus2 This is a known behavior. Once there are no issues with an update/upgrade like 8.2.7 -> 8.2.9 -> 9.0.6 the update will be enabled.

[2016-11-21 11:56] PVince81 commented on #22522
LDAP cases covered already: https://github.com/owncloud/user_ldap/pull/3

[2016-11-21 11:59] PVince81 commented on #22522
Updated grep:
[code]
[code]

[2016-11-21 12:13] Pazu commented on #26161
This could be the same as #22914.

[2016-11-21 12:15] PVince81 commented on #23213
This doesn't work if a concurrent process adds rows between these two operations, unless there is some kind of database level locking.

In many places ownCloud relies on expected `ContraintViolationException` to detect failed inserts. If this creates additional logs for Postgres then maybe we need a PostgreSQL specific solution that is also race-condition proof.

Currently, this logic is used in t

[2016-11-21 12:31] denisblum opened #26670 "OC_DEFAULT_MODULE does not exist"
Hi,
i'm using OwnCloud 9.1.0 stable

Until 3 days ago everything went well. Round about 10 user are working with my owncloud as a foto-cloud.
To have more security i activate antivir and backup and encription. After that, all the new files cant be opened or download.
Error:
OC_DEFAULT_MODULE does not exist

With older files everything is ok.

I deacitvate the apps but i still receive the error.

P

[2016-11-21 12:35] PhilippSchaffrath commented on #10400
@PVince81 means we need acces/refresh tokens, clients and grants, i would probably need to implement scopes too but that would be an empty implementation at first.

The grants we need right now:

 - [4.3.](https://tools.ietf.org/html/rfc6749#section-4.3) Resource Owner Password Credentials Grant
 - [6](https://tools.ietf.org/html/rfc6749#section-6) Refresh Token Grant
 - Custom Grant (to support a

[2016-11-21 12:39] PhilippSchaffrath commented on #26027
@zkvvoob it's on my plate now and planned for the next release.

[2016-11-21 12:39] paeppa commented on #26664
I could reproduce it at https://demo.owncloud.org
Go to this link: https://demo.owncloud.org/index.php/s/xmxY1wse8VP9tBN
Select (not go into!) the folder "brokenkites - parameter reallocation" and press "download" at the top of the page.

[2016-11-21 12:44] SergioBertolinSG opened #26671 "User without permissions is not warned when moving an external storage folder"
### Steps to reproduce:
1. Enable files_external app.
2. Using admin set up a mount point called External.
3. As a regular user not admin try to move External folder into another folder.

### Expected behaviour:
A warning appears telling the user why he cannot move that folder.

### Actual behaviour
It doesn't happen but the user is not warned.

### Server configuration

**Operating system**:
Ubun

[2016-11-21 12:44] RealRancor commented on #26664
Ok, it seems your steps in the original posts are wrong then. If the folder containing a "hypen" is within a subdir (like test) this issue doesn't happen.

[2016-11-21 12:47] paeppa commented on #26664
Maybe we musunderstood each other. My directory structure:
/test/2016-11-21/any_file.txt
I shared the folder "test" - so if I open the link of the share, I only see the folder 2016-11-21.
I select (not go into) that folder and click on download.

[2016-11-21 12:49] RealRancor commented on #26664
Yes, just have tried to reproduce this:

https://demo.owncloud.org/index.php/s/YPgPbatGJmJLOFz

(Hope the link stays for a few minutes).

[2016-11-21 12:51] paeppa commented on #26664
Strange - this seems to work. There must be something else then...
Maybe the file inside also must have a hyphen in it's filename?

Have you tested my link for demo.owncloud.org?

[2016-11-21 12:52] RealRancor commented on #26664
Yes, there the issue is happening. So we might need to find the issue here.

[2016-11-21 12:53] paeppa commented on #26664
In my original Test-System at home the files only had underscores (_) in the filename and the problem disappeared, when I changed the folder name from "2016-11-21" to "2016 11 21".

[2016-11-21 12:56] DeepDiver1975 commented on #10400
We shall only care about two different endpoints to pretect: webdav and our OCP\AppFrameWork\Controllers.
Anything else is considered legacy and needs to be migrated anyway.

[2016-11-21 12:59] SergioBertolinSG commented on #26664
Public link is not needed as step. When trying to download that folder in demo.owncloud.org it fails in the same way, file not found.

[2016-11-21 13:07] paeppa commented on #26664
That's not true for my system at home. There, the direct download as logged in user works - but not the public link.

[2016-11-21 13:08] rigrig commented on #23213
I would work, either:
a) the rows already exist:
1) we update them and notice we updated >0 rows so are done
2) the concurrent process updates them as well
3) we don't do anything, because we were already done in 1)

b) the rows don't exist yet:
1) we run update and notice we updated 0 rows
2) the concurrent process inserts rows
3) we run the current code, which will throw and handle the exception

[2016-11-21 13:11] PVince81 commented on #23213
Would such transactions work for all DBs or should they be specific to PostgreSQL ?

@DeepDiver1975 @butonic I remember some discussions where transactions weren't possible, is this such a scenario ?

[2016-11-21 13:19] SergioBertolinSG opened #26673 "A user has to create parent folder if a global mount point is mounted on a subfolder"
### Steps to reproduce:

1. Enable files_external app.
2. Using admin set up a mount point called /External Storages/SFTP available for all users.
3. Login as a regular user.

### Expected behaviour:
Regular users can see the mount point.

### Actual behaviour
They don't see it because "External Storages" folder is missing. If they create it, they see it.

### Server configuration

**Operating sys

[2016-11-21 13:19] SergioBertolinSG commented on #26673
cc @cdamken @pmaier1

[2016-11-21 13:19] SergioBertolinSG commented on #26671
cc @cdamken @pmaier1

[2016-11-21 13:20] jknockaert commented on #23213
What about creating a custom function for this in the postgres database? I guess the setup of the database is already implementation-specific, so adding the function could be added there. Then the function should be called rather than insert, so that would be postgres-specific but it should be very manageable to abstract this.

[2016-11-21 13:23] TDannhauer commented on #23213
This specific function could even use upsert in Postgres 9.5+ to be as native as possible.

Von: Jasper Knockaert [mailto:notifications@github.com]
Gesendet: Montag, 21. November 2016 14:21
An: owncloud/core <core@noreply.github.com>
Cc: Torben Dannhauer <torben@dannhauer.de>; Comment <comment@noreply.github.com>
Betreff: Re: [owncloud/core] duplicate key value violates unique constraint "oc_prefe

[2016-11-21 13:25] cdamken commented on #26671
Thanks @SergioBertolinSG

[2016-11-21 13:30] Pazu commented on #26193
I think I solved this. In Apple's Calendar application, I needed to update the server path from the old style to the new (that is, the one currently shown by ownCloud 9.1.2 as the "iOS/OS X CalDAV address"; e.g., "https://example.com/remote.php/dav/principals/users/USERNAME/"), and the subscribed calendars suddenly appeared.

[2016-11-21 13:45] guruz commented on #26655
Do you mean stream wrapper or stream filter?
Something like https://github.com/bantuXorg/php-stream-filter-hash ? FYI @bantu

[2016-11-21 13:50] PVince81 commented on #26655
@guruz I'm only familiar with stream wrappers, but if a stream filter does the same then I'm fine with it.

[2016-11-21 14:12] butonic commented on #26011
Ok, can we in this case iterate only over users that are share recipients?

[2016-11-21 14:13] butonic commented on #26011
or merge them when the user logs in for the first time?

[2016-11-21 14:40] PVince81 commented on #26011
To do this you'll need some group-user mapping magic because `share_with` can be either a user or a group.

Merge them when the user logs in the first time could happen concurrently if two recipients from the same group trigger the fixing that apply to the same share. Would need some kind of locking.

Also the trouble with "do stuff at log in" is that log in for the same user can happen in paralle

[2016-11-21 14:44] PVince81 commented on #26011
Another idea which is much less accurate would be to use `WHERE file_target like '%(%)%'` to limit ourselves to the shares that potentially have duplicate names. It might give false positives and also miss legitimate cases where the duplicates were renamed to a non-matching name.

[2016-11-21 15:33] ogoffart commented on #26663
I confirm this vixes the problem.

This is also hapenning in my environment.
For some reason, however it seems the environement is cleared later.

Adding `return true;` at the begining of the function supportsCookies in Session.php also fixes the problem.

[2016-11-21 17:25] ivomaintz opened #26677 "occ upgrade fails with Sabre\VObject\Recur\NoInstancesException"
### Steps to reproduce
1. upgrade owncloud from 9.1.1 to 9.1.2 on ubuntu 14.04
2. upgrade fails with

Updating <dav> ...
Fix classification for calendar objects
 Starting ...
  363/1875 [=====>----------------------]  19%Sabre\VObject\Recur\NoInstancesException: This recurrence rule does not generate any valid instances
Update failed

### Expected behaviour
upgrade should run successfully.

### Se

[2016-11-21 17:42] martinlanger90 commented on #26193
In DAVDroid they're not shown anyway.
But this should be DAVDroid bug then? Am I right?
Thanks

[2016-11-21 17:44] Pazu commented on #26193
@martinlanger90 With which exact URL style did you add the ownCloud account to DAVDroid?

[2016-11-21 18:39] mjobst-necls opened #26678 "Column header not being updated after renaming a file to get hidden"
### Steps to reproduce
1. go to files
2. have at least 2 files in the list where one is hidden (with a dot-prefix) and one is not hidden
3. check 'show hidden files'
4. select the hidden file
5. uncheck 'show hidden files'
6. select a file and rename it with a dot-prefix
-> The summary and the column header are not updated

![test](https://cloud.githubusercontent.com/assets/23121972/20495495/a0fba

[2016-11-21 18:45] martinlanger90 commented on #26193
Yep. Tried with minimal url and tried with your extended one above my post. Both don't show up the subscribed calendars. Maybe I can collect a log from DAVDroid. But I've to figure out how to take logs with DAVDroid first. And yes with CalDAV-Sync it works. But unfortunately not with DAVDroid which could sync contacts as well.... Thank you anyway

[2016-11-21 18:47] RealRancor commented on #26193
There is a longer FAQ available here explaining the needed steps: https://davdroid.bitfire.at/faq/entry/how-to-debug/

[2016-11-21 18:49] martinlanger90 commented on #26193
Got some information on that already. So it seems, DAVDroid can't handle this, until the subscriptions aren't exposed via CalDAV.

https://forums.bitfire.at/topic/1210/nextcloud-calendar-subscription-not-shown/3

[2016-11-21 19:01] mjobst-necls commented on #26678
Check also Issue #26139

[2016-11-21 21:23] bantu commented on #26655
I realise this project has not been touched for quite some time. Feel free
to send patches. I'd rather use SHA2 than SHA1, at least for a new
checksum. It shouldn't be much more expensive.

[2016-11-21 22:15] VicDeo commented on #26463
@PVince81 As I see `OC\IntegrityCheck\Checker::runInstanceVerification` does exactly what you described.

[2016-11-22 03:15] Smiril opened #26679 "i changed the theme nothing else"
this line will make desaster

 'theme' => 'Umbrella'

own theme design from scratch (example) was be used and not modyfied strong
i build in live sessions on my own OC Server a new theme what's right for me and myself.

change it back to:

 'theme' => 'example'

login possible

[2016-11-22 07:08] RealRancor commented on #26679
@Smiril Please note this is a bugtracker of ownCloud. Support requests like this needs to go to https://central.owncloud.org/

[2016-11-22 07:26] Peter-Prochaska commented on #26076
it should work with https://github.com/paragonie/random_compat/releases/tag/v1.4.0

[2016-11-22 07:54] DeepDiver1975 commented on #26076
We have random_compat in 9.1 - see https://github.com/owncloud/3rdparty/tree/master/paragonie/random_compat

I guess it got lost as we remove some polyfills ....

[2016-11-22 07:55] #26679 closed

[2016-11-22 07:57] DeepDiver1975 commented on #26677
You are having an invalid calendar object in your database.

I'll try to make it a bit more fault tolerant ...

[2016-11-22 07:58] butonic opened #26680 "undefined $updateStepEnabled in core/Command/Upgrade.php#L199"
Tried updating master on oracle:
`grep GffT1NFRWOqmQ11vrbbN data/owncloud.log`:
[code]

`$updateStepEnabled` is undefined in https://github.com/owncloud/core/blob/master/core/Command/Upgrade.php#L199 I did not have to dig into this class. @PVince81 maybe.

Will look into the oracle problem later ... adding this to not forget it.

[2016-11-22 08:17] ivomaintz commented on #26677
Hi,

What can I do? Could I identify (and delete) the invalid object?

[2016-11-22 08:55] butonic commented on #26680
oracle problems were of my own making because I converted the appconfig configvalue to VARCHAR 4000 for testing ...

the undefined `$updateStepEnabled` remains an issue, though.

[2016-11-22 09:07] PVince81 commented on #26678
Looks like this will need more "change:name" event magic.
Unfortunately the summary isn't yet wired in a way that would auto-update like in https://github.com/owncloud/core/pull/25909

[2016-11-22 09:12] PVince81 commented on #26463
Hmmm, but it didn't work. Or does it work correctly in recent versions ? Can you verify ?

[2016-11-22 09:22] #24161 closed

[2016-11-22 09:40] turin13 opened #26683 "Domain user cannot access files via Web or Client, or WebDAV - Invalid recipient"
### Steps to reproduce
1. Try to login as one of the affected users (currently 5 such users)
2. Get Internal server error upon successful login with Remote Address (user's IP) and Request ID
3. Get error in the owncloud.log (see below)

### Expected behaviour
Normal login and access to the files

### Server configuration

**Operating system**:

Ubuntu 14.04 x86_64

**Web server:**

Apache/2.4.7 (U

[2016-11-22 09:56] lexand commented on #25927
Continuing my investigation

Seems like session cannot start at \OC\Session\Internal::__construct
thats why App generates new request token every time at \OC\Security\CSRF\CsrfTokenManager::getToken

Are there some special settings for configuring session ?

[2016-11-22 09:59] labkode commented on #26607
@PVince81
The entry ` /labradorsvc/files/ONE (#6697304)` appears only on parent finds, see examples, but not on the ` /labradorsvc/files/ONE (#6697304)` itself as in previous comments.

Does it gives you some hint? Else I will start debugging the creation of the Shared mount.

[code]
[code]

[2016-11-22 10:29] centredecalcul commented on #20334
Yes, you are not forced to used it. Or you can set a very high limit (dropbox limit is 300000) as a safeguard.
If the file quota must be in a separate app, maybe the size quota must also be in that app ?

[2016-11-22 12:14] PVince81 commented on #26607
What do you mean with parent find ? Mount manager find on the parent folder ?
Maybe there's a leading/trailing slash messing up with the code ?

[2016-11-22 12:18] PVince81 commented on #26637
Hmm, ajax cron could work but only if that one would be running as the currently logged in user.
Normally cron is supposed to run as no user at all and I think there is code in cron.php to clear the current user to make sure we run in anonymous mode.

If such "authenticated cron" mode was possible, then yes it could be a workaround. However as we know, ajax cron is highly unreliable as it only run

[2016-11-22 12:40] pmaier1 commented on #26671
A warning would be nice to explain to users why they can not move an external storage folder like they can do with e.g. shared folders. However, it would be even nicer to _be_ able to move such a folder around as you wish.

[2016-11-22 12:56] SergioBertolinSG commented on #26671
@PVince81 what do you think about regular users moving global external folders in their filesystem without affecting other users? It is feasible?

At the moment I think this is the expected behaviour as the administrator set up those folders for all users at once.

Not sure if this behaviour change is too complex for files external app.

[2016-11-22 13:22] PVince81 commented on #26671
It is too complex for now with the current data structure, and we really don't want to mess / split / convert the admin-side configuration every time a user decides to have their own way.

However if we want this long term, we could leverage the new `oc_mounts` table to make it possible for users to move any of their mounts. But before we can do this, `oc_mounts` needs to become an authoritative f

[2016-11-22 13:23] PVince81 commented on #26190
Another advantage of this idea is that users could really move around any kinds of mounts because their origin would be tracked in `oc_mounts` anyway, like moving a received system-wide mount: https://github.com/owncloud/core/issues/26671#issuecomment-262233698

[2016-11-22 13:59] PVince81 commented on #26664
Is this a magic hyphen or underscore maybe ? Magic as in "UTF-8 special hyphen" ?

[2016-11-22 14:01] PVince81 commented on #26664
@paeppa you might be able to copy the hyphen from the names you used into Github.

When you created your test case on the demo server, did you also copy the name or did you retype it with the keyboard ? Trying to rule out special utf-8 punctuation.

[2016-11-22 14:03] PVince81 commented on #26665
Notifications are part of the notification app. As a workaround you could disable that app for now.

AFAIK notifications doesn't use Webdav, so not sure why the call would fail. You should be able to find the matching call in the network console.

[2016-11-22 14:03] PVince81 commented on #26667
@DeepDiver1975 is this a known issue ?

[2016-11-22 14:06] PVince81 commented on #26670
what if you keep only encryption enabled but not backup and antivirus ?

Please use the issue template: https://raw.githubusercontent.com/owncloud/core/master/.github/issue_template.md

[2016-11-22 14:09] PVince81 commented on #26680
`$updateStepEnabled` is some old stuff from before we killed upgrade migration. I fixed it here, please review: https://github.com/owncloud/core/pull/26686

[2016-11-22 14:11] PVince81 commented on #26683
`moveShare` is only called whenever a duplicate share entry was found when the FS is setup.

For example is a user is receiving two shares with the name "test", at the time ownCloud sets up the filesystem it will rename one of the received shares to "test (2)" by calling `moveShare`.

@turin13 can you provide more information about the sharing scenario for the affected users ?
Maybe one of the sha

[2016-11-22 14:18] turin13 commented on #26683
@PVince81 Thank you for the reply.
How can I check all user's shares if I couldn't login as that user? I hope there's the other way than checking all other users and their shares.

[2016-11-22 14:20] PVince81 commented on #26683
Check `oc_ldap_user_mapping` table to find the ownCloud ID (a long hash) of the affected users.

Then do a `select * from oc_share where share_with in (...) or uid_owner in (...)`, replace "..." with a comma separated list of user ids

[2016-11-22 15:57] tedstrauss commented on #17398
Subscribing.
Would love to have this feature on OC 8.

[2016-11-22 16:33] motatuc opened #26689 "First run - This content failed to load."
Hello.

Just installed Nextcloud on my server with the setup-nextcloud.php-script.
Finished without any problems.
Login working fine. But loading content is not possible - opening layers stay empty and show: This content failed to load.

### Steps to reproduce
1. Login Nextcloud
2. Layer window opens
3. Error message and window stays empty.
4. Choose another app, or any other option -> empty layer

[2016-11-22 16:48] RealRancor commented on #26689
Please note this is a bugtracker for ownCloud. As you have installed Nextcloud please close here and report the issue to https://github.com/nextcloud/server/issues

[2016-11-22 16:51] motatuc commented on #26689
Thanks.

[2016-11-22 16:51] #26689 closed

[2016-11-22 17:41] PVince81 commented on #26076
@DeepDiver1975 can we add it back then ?

[2016-11-22 18:21] Devices commented on #25927
@lexand solution worked for me as well.
I use owncloud with nginx on fedora 24 (server) so the session.save_path was set in /etc/php-fpm.d/owncloud.conf. It turned out to be /var/lib/php/session

[2016-11-22 19:54] felixrupp opened #26692 "Change \OC\User logout hook to be executed AFTER Ownclouds logout routine and session termination"
### Steps to reproduce
1. Register own user backend with authentication (e.g. CAS authentication)
2. Login with your own backend, do your stuff
3. Logout from Owncloud; your logout hook is beeing executed, but in my case (CAS auth) the external auth component needs a http-request to log me out. After that it’s impossible to correctly terminate the owncloud session.

### Expected behaviour
Owncloud

[2016-11-22 20:01] LoggSar commented on #26622
so now I completly confused:

the combination

[code]
and
[code]
gives the well known error

[code]
says
404 not found
The requested URL /index.php was not found on this server.

[code]
says
The requested URL /index.php was not found on this server.

the log looks like this:

what to do now?
moving to nextcloud?

[2016-11-22 20:04] RealRancor commented on #26622
*sigh* The new "form of pressure" these days if thinks are not going fast enough... 🙄

[2016-11-22 20:22] chrone81 commented on #20028
I got this error on ownCloud 9.1.2 running Ubuntu 16.04.1 as well.

`{"reqId":"REDACTED","remoteAddr":"REDACTED","app":"core","message":"Could not get application: cURL error 60: SSL certificate problem: unable to get local issuer certificate","level":3,"time":"2016-11-22T11:56:39-08:00","method":"GET","url":"\/settings\/apps\/list?category=disabled&includeUpdateInfo=1","user":"REDACTED"}
`

[2016-11-22 20:42] RealRancor commented on #20028
@chrone81 This is just a temporary issue with apps.owncloud.com which is completely unrelated to this topic. https://central.owncloud.org/t/curl-60-certificate-issue-with-appstore/4115

[2016-11-22 21:10] RealRancor commented on #26622
@LoggSar Please note this is a bugtracker, no support channel. If someone has the time and the knowledge he/she will look into that issue. Furthermore there is no single reason to post stuff like "should is switch to nextcloud" in here.

And i'm using my ownCloud installation since 4.0.something and - no joke - I had no single(!) problem with any of the updates / upgrades since then.

If you're re

[2016-11-22 21:54] VincentSC opened #26693 "Upgrade from 8.1.x to 8.2.9 gives null-reference in javascript"
Context: wanted to upgrade from 8.1.x to 9.2.x. This did not work well.

### Steps to reproduce
1. Upgrade to 8.1.11
2. Upgrade to 8.2.9
3. Getting error 500: errors on redefined functions (forgot which). Tip was to turn off all plugins, without access to web.
4. SQL: update oc_appconfig set configvalue='no' where configkey='enabled';
5. SQL turn on appid 'files'.
6. Upgrade to 9.0.0

### Expected

[2016-11-23 06:12] denisblum commented on #26670
I'm not sure, if i want to test it.
The problem was only by folders / files which are generated after activating antivirus, backup and so on. i deactivated the tools and made all folders / files new. now it works.

[2016-11-23 06:28] LoggSar commented on #26622
So, after a quite long night..I'm even more confused.

The Problem didn t had to do with the config.php. It was the pllugin Ownbackup. As I deactivated this plugin I could log on.

Why reported some people this problem and could fix it witch changes in the config.php if the main reason is obviously the plugin.

Well, its working. Whitout this plugin, but its working.

Thanks for all - Its not my i

[2016-11-23 06:52] RealRancor commented on #26622
Thanks for posting this info. As 3rdparty apps are known to break during updates and upgrades its recommended to disabling them during this process.

As @mrbrainin and @alien2003 didn't provided the asked information up to now we can't be sure if the issue from them is also caused by that app. Guys, if not using the issue template could you at least post your installed apps?

[2016-11-23 07:08] RealRancor commented on #26693
@VincentSC This is most likely caused by a wrong done upgrade (assuming that because of your shown integrity issues. A correct upgrade path would be:

8.1.x -> 8.1.11 -> 8.2.9 -> 9.0.6 (not 9.0.0 as you did)

Important: In between the steps make sure that you're deleting all files and folders except /data/ and /config/ as you can't just copy over the new files over the old files.

[2016-11-23 07:28] VincentSC commented on #26693
In that case it would have been impossible to upgrade from 8.2.9 to 9.0.0, when it was released. What you describe is the quickest way.

For some reason those 5 file were not included, and I assume it's a database-problem:

            \OCP\Util::addScript('files', 'detailfileinfoview');
            \OCP\Util::addScript('files', 'detailtabview');
            \OCP\Util::addScript('files', 'mainfile

[2016-11-23 07:33] RealRancor commented on #26693
Some people and environments are hitting bugs not everyone is hitting. Thats why you really need to upgrade to the latest released version of the branch. Please do the following upgrade path as explained above.

[2016-11-23 07:38] RealRancor commented on #26693
Ah, and as you're on Nginx make sure that you're using a current nginx config provided here (exactly this, not any own modifications and includes!!):

https://doc.owncloud.org/server/9.0/admin_manual/installation/nginx_examples.html

I guess this is either an upgrading issue due to a wrong done upgrade as explained above or an issue within your environment / nginx config.

[2016-11-23 08:03] VincentSC commented on #26693
I think you're misunderstanding:
- 5 files are not put in the html-code.
- the problem already started with 8.2.9.

[2016-11-23 08:12] RealRancor commented on #26693
Yes, and that might be caused by your broken environment. Especially e.g.:

and the integrity errors are showning that your environment has a serve problem. Again, please:

1. remove all files and folders except /data/ and /config/
2. Download 9.0.6
3. Extract the new files into your installation folder
4. Run upgrade routine on command line

[2016-11-23 08:39] turin13 commented on #26683
I did the examination as you suggested.
I checked all 5 affected users. 2 of them have nothing shared with them at all and 3 others have different shares and tey looks normal.
But later I check something - one of the affected users have no entry in oc_mounts table. May this be relevant? When I do sudo -u www-data php occ file:scan on the ID of that user I get this:
*Exception while scanning: Inval

[2016-11-23 08:45] labkode commented on #26607
Hi,
sorry, let me be more clear.

When I do a PROPFIND on my home directory, inside the find method I see that for paths **/labrador/** and **/labrador/files/** I have this mount point:
` /labradorsvc/files/ONE (#6697304)/ = {OCA\Files_Sharing\SharedMount} [12]`
but for path **/labradorsvc/files/ONE (#6697304)/** I don't have it.

If I do the PROPFIND or MKCOL on `  /ONE (#6697304)/` the server be

[2016-11-23 08:54] PVince81 commented on #26670
Encryption works, I can guarantee that. It works on my own server and I have never seen such errors there.

However when combined with antivirus I'm not sure, that's why I asked whether you could keep encryption enabled but disable antivirus and backup to see if the problem disappears.

Without further information we won't be able to help you.

[2016-11-23 08:57] denisblum commented on #26670
Thankx for your support.
I build up a test cloud. i will test your idea and give you feedback.

[2016-11-23 09:04] VincentSC commented on #26693
Ok, let's focus on the the app:list-error. I think it's related anyway.

This is what I did:
1. tar -xvjf owncloud-9.0.6.tar.bz2
2. copied data and config from 9.0.0-backup
3. sudo chown -Rh www-data:www-data .
4. sudo su -s /bin/sh www-data  -c "./occ upgrade"
5. sudo su -s /bin/sh www-data  -c "./occ app:list"

1-4 were successful, 5 is not.
PHP Fatal error:  Call to undefined method OC_User::ge

[2016-11-23 09:12] RealRancor commented on #26693
Hi,

there is no such call in a recent oC 9.0.6 register_command.php as seen here:

https://github.com/owncloud/core/blob/v9.0.6/apps/files/appinfo/register_command.php

This is a leftover from oC 8.2 and below:

https://github.com/owncloud/core/blob/v8.2.9/apps/files/appinfo/register_command.php#L23

[2016-11-23 09:29] paeppa commented on #26664
Sorry for the late answer. I did not create the folders at demo.owncloud.org - they were already there.
But at home I'm pretty sure that I used a "normal hyphen". I used the "minus-key" at the numeric block.

So here is the copy of my name: 2016-11-05

[2016-11-23 10:16] VincentSC commented on #26693
That's a hint, because my reaction was "That's impossible". Then I noticed the reference to /var/www/sites/owncloud/, while it has been installed under /var/www/owncloud/ - all is configured outside the public www.

Changed in config.php:

  array (
    0 =>
    array (
      'path' => '/var/www/sites/owncloud/apps',
      'url' => '/apps',
      'writable' => true,
    ),

to

  array (
    0 =>

[2016-11-23 10:24] RealRancor commented on #26693
Hi,

this should be completely removed as well as a complete clean-up of your config.php should be done as advised above. A sane default config.php could be something like shown in:

https://doc.owncloud.org/server/9.0/admin_manual/configuration_server/config_sample_php_parameters.html#default-config-php-examples

It is highly dis-encouraged to add stuff from the config.sample.php without any need

[2016-11-23 10:33] PVince81 commented on #26195
As we're writing more apps and move more to be in the market, we'll need this mechanism.

[2016-11-23 10:53] VincentSC commented on #26693
Ok, will cleanup the config.php.

[2016-11-23 11:20] rso42 opened #26698 "Feature request: show number of group members next to each group name in auto-complete dropdown"
For example in Mac client's sharing window here: http://prntscr.com/dar3c6
make change 'admin (group)' to 'admin (group, containing 3 users)'.

This would be more intuitive and help people to know how much other people would be affected by their choice to share something with a certain group. Because groups can grow or shrink due to admin activity and the user might not be aware that his select wi

[2016-11-23 11:47] RealRancor commented on #26693
@VincentSC You can also close this issue here. This is obviously an environmental configuration problem rather then a bug in ownCloud. If you need further support please jump over to https://central.owncloud.org/

[2016-11-23 12:05] PVince81 commented on #26412
AFAIK the fix is only for the remote.php/dav endpoint. There was no duplicate header on the "remote.php/webdav" header. Maybe the issue from @adduxa is different and is still causing duplicate headers. Can you test with https://github.com/owncloud/core/issues/26688 ?

[2016-11-23 12:46] jvillafanez commented on #26494
@ryancoates could you post a screenshot of the failing configuration?

[2016-11-23 13:44] #26693 closed

[2016-11-23 14:00] labkode commented on #26607
Hi,
after digging the reason why the shared folder were not displayed was related to our caching system, so after disabling it we can see the shared folder and browse it, but we still receive
[code]

Although the shared folser appears in the All files tab when I click on the Shared with you tab there aren't shares. When I see the details of the Shared folder from the All files tab, I got 'Resharin

[2016-11-23 14:14] PVince81 commented on #26607
No, I think the Share20OCS logic is correct. The response must be with the perspective of the currently logged in user so that the paths appear as they see them.

For example:
- user1 shares "test" with group1 (containing user2 and user3)
- user2 renamed received "test" to "mytest"
- user3 renamed received "test" to "sometest"

If user2 queries the API they need to see the path as "/mytest", not t

[2016-11-23 14:21] PVince81 opened #26702 "MountManager::find called too often for the same entries"
### Steps

1. Login as admin "admin"
1. Create two users "user1" and "user2"
1. Create 50 folders: `for I in $(seq 1 50); do curl -u admin:admin -X MKCOL "http://localhost/owncloud/remote.php/webdav/test$I"; done`
1. Share the 50 folders with "user1": `for I in $(seq 1 50); do curl -u admin:admin -X POST "http://localhost/owncloud/ocs/v1.php/apps/files_sharing/api/v1/shares?format=json" --data "sh

[2016-11-23 14:26] butonic commented on #26702
@PVince81 add a `break` after https://github.com/owncloud/core/blob/master/lib/private/Files/Mount/Manager.php#L82

[2016-11-23 14:26] PVince81 commented on #26702
I've extracted the paths from the entries, so it looks like this:
[code]

[2016-11-23 14:27] PVince81 commented on #26702
This will break the logic. The purpose of the loop is to find the longest match.
If you add a `break` it will find the wrong mount in case of paths with multiple sections.

[2016-11-23 14:28] PVince81 commented on #26702
Now wondering if that "longest match" logic even makes sense here...

[2016-11-23 14:29] PVince81 commented on #26702
It was also said in the past that `strlen` is slow in PHP (or at least older versions) and it could be made faster by using `isset` when possible...

[2016-11-23 14:40] PVince81 commented on #26702
A possible alternative implementation for longest match would be to have all mount points stored in an array as keys. Then iterate over the path sections of $path.

So if `$path` is "test/sub1/sub2" we probe the mounts list and remove the last section every time. This would probe the following:
- /test/sub1/sub2
- /test/sub1
- /test
- /

[2016-11-23 14:43] PVince81 commented on #26702
The number of iterations would then depend on the number of path subsections instead of the number of registered mounts.

Should we try this out ? (I hope there are unit tests to confirm that it still works...)

[2016-11-23 15:01] Pazu commented on #26263
Wouldn't it be best not to show the Sharing icon at all for subscribed calendars until this is possible?

[2016-11-23 15:03] labkode commented on #26607
Hi,

I found the problem and the solution.

The problem arises due to a non handled exception here:
https://github.com/cernbox/core/blob/neweosstorage/lib/private/Files/Node/Folder.php#L279

The get method will throw an NotFoundException when asking for path that does not exist. This exception will abort the traversal of the others mounts that have not been yet examined. And the second mount point

[2016-11-23 16:06] jvillafanez commented on #26656
I don't know if the storage id or the mount point could be meaningful here, something like "this file has been added to this storage"

I don't understand why they might be repeated. It's fine that each activity item is duplicated and set into several activity streams, once per user, but there shouldn't be anything more. Anyway, as you've said, when the number of users grows it will become very exp

[2016-11-23 16:17] adduxa commented on #26412
@PVince81 yep, only one header and now it's working. Thanks @DeepDiver1975 for fix!
P.S. I have 9.1, so #26687 for me

[2016-11-23 16:54] PVince81 commented on #26607
I didn't test with any custom storages / shared storages, so I don't see how I could run into such exception. Or maybe it happens but is not visible because it is ignored ? Haven't digged into this piece of code.

[2016-11-23 16:55] PVince81 commented on #26607
but great that you found the problem with a solution :smile:

This whole thing is a bit obscure... Does the PHPDoc need updating to make sure implementers of the interface know that they need to do that ?

[2016-11-23 16:58] patillacode commented on #17201
Hi there!

I am running OwnCloud 9.1.2 and the issue persists.
I am also running NGINX redirection
For what I have been able to test, logout is the only redirect that is not working properly.

I fixed the issue in my installation adding `'overwritehost' => 'mydomain.com',` under file `/var/www/owncloud/config/config.php` as @Paulodile and others suggested.

Hope this gives some insight.

[2016-11-23 18:07] VicDeo commented on #26463
@PVince81 hmmmm. Are you sure that we need to report that app from shipped.json is missing? :)
https://github.com/owncloud/core/blob/master/core/shipped.json#L8

[2016-11-23 18:51] VicDeo commented on #26463
For all shipped apps something like `apps/files/appinfo/signature.json:"hash"` can be added to the core/signature.json to validate if all signature data are available and correct

[2016-11-23 19:38] RealRancor commented on #17201
@patillacode Yes, these parameter are needed for various environments / setups. This is documented at the docs:

https://doc.owncloud.org/server/latest/admin_manual/configuration_server/reverse_proxy_configuration.html

[2016-11-23 20:15] VicDeo commented on #26463
The same for 9.0.4.
Steps:
1. Modify core (e.g. by adding a new file into the OC root dir)
2. Remove `signature.json` for any shipped app
3. run `php occ integrity:check-core`
4. See that only core modifications are reported
5. Login into the web ui as an admin
6. Click  Rescan in admin area
7. See that both core modifications and missing signature are reported

[2016-11-23 20:25] VicDeo commented on #25759
Closing as fixed in 9.2/9.1.1/9.0.6

[2016-11-23 20:25] #25759 closed

[2016-11-23 20:49] VicDeo commented on #26463
@PVince81 btw your own comment clearly proves that it works on upgrade: https://github.com/owncloud/updater/issues/379#issuecomment-255731255

[2016-11-23 21:26] RealRancor commented on #26670
@denisblum You might also want to explain what "activated backup" means. There is no such functionality included in oC so you probably have installed a 3rdparty app?

[2016-11-23 23:04] Germano0 commented on #20380
`owncloud-9.1.1-1.fc24.noarch` here. Command `occ files:scan --all` did not solve the problem

[2016-11-24 06:53] denisblum commented on #26670
Hi, yes of course.
You can find "OwnBackup" under "APPS".

[2016-11-24 06:56] RealRancor commented on #25927
To sum-up: This is most likely the infamous "Login Loop" in previous ownCloud versions. Instead of going back to the login page it seems newer oC versions are now showing this CSRF check failed. The issue itself is causing by misconfigured PHP environments like seen above:

 A too low or wrong configured post_max_size
---------------------------------------------------------------
Examples: @tomas

[2016-11-24 07:48] lexand commented on #25927
@RealRancor
ownCloud can add some code for checking requirements, for example as it was made for checking getenv("PATH") etc

[2016-11-24 08:00] RealRancor commented on #25927
@lexand ownCloud could add tons of checks for every strange configuration out there. Then the developers won't be able to do anything else.

[2016-11-24 09:27] PVince81 commented on #26463
Hmm, then maybe it was fixed in 9.0.5 then ?

[2016-11-24 09:31] PVince81 commented on #25927
Pull requests welcome though if someone wants to add additional setup checks.
Since the issue seems to be blocking even login, the check might need to be done very early.
Maybe the check could be added just before the CSRF error is going to be displayed.

[2016-11-24 09:46] Kawohl opened #26706 "ownCloud 8.2.9 use bigger datatype for timestamp in postgres"
Server Version 8.2.9

`Exception: {"Message":"HTTP\/1.1 500 An exception occurred while executing 'INSERT INTO \"oc_filecache\" (\"mimepart\",\"mimetype\",\"mtime\",\"size\",\"etag\",\"storage_mtime\",\"permissions\",\"parent\",\"path_hash\",\"path\",\"name\",\"storage\") SELECT ?,?,?,?,?,?,?,?,?,?,?,? FROM \"oc_filecache\" WHERE \"storage\" = ? AND \"path_hash\" = ? HAVING COUNT(*) = 0' with para

[2016-11-24 10:17] sxdxfan commented on #19693
Hello! Is there any progress on the multi-select sidebar actions? We need to tag multiple files at once really bad

[2016-11-24 10:33] cornelinux opened #26708 "FR: Exclude URLs from proxy settings"
### Expected behaviour
I would like to exclude certain URLs from the owncloud proxy settings.

### Actual behaviour
I seems not to be possible.

### Server configuration
**Operating system**: Ubuntu 16.04

**Web server:** Apache

**Database:** MySQL

**PHP version:**

**ownCloud version:** 9.1

It does not seem possible to exclude URLs from the owncloud system wide proxy settings in config.php
My

[2016-11-24 13:40] cgogolin commented on #26667
I think I have the same issue. It started with the update 9.1.1-1.2 -> 9.1.2-1.1.

Since then I can no longer edit or add entries in/to shared calendars via carddav. This happens even though the user has granted me permission to edit and the "can edit" box is also ticked in the owncloud calendar app. I can still create and add entries via the owncloud web interface. I can however no longer edit sh

[2016-11-24 13:58] PVince81 commented on #26325
Killing the fallback code itself should be easy.
I'm still a bit worried about what would happen in concrete cases where the "local::" fallback was used all along due to a past failed RepairLegacyStorage. The env would suddenly switch to the new storage "home::" and people will report lost shares.

[2016-11-24 15:59] butonic commented on #23213
While using db triggers would be nice (also to propagate etag changes and probably more) we first need to introduce doctrine based migrations ( help review the PR in https://github.com/owncloud/core/pull/14851 ) to get rid of the current automagic migration.

Then we can use explicit SQL up and downgrade scripts. And finally we can also convert the installation to be an SQL script that can use the

[2016-11-24 16:00] honzasram commented on #26496
Hi,

Sorry for late response, but there were other things with higher priority.
Yesterday I tested Share scenario described on updated version of OwnCloud and it seems like only one email was sent.

I suppose issue get resolved and maybe there was only some small glitch. If reappears, I'll reopen this one.

Cheers!
Jan.

[2016-11-24 16:00] #26496 closed

[2016-11-24 16:04] jknockaert commented on #23213
@butonic I guess the upsert functionality is an obvious one to move to stored procedures, right? Can you take this one up and make sure it lands in the proper place (and pls refer back to this one)? Then after that one is in, we can create a PR to solve this one.

[2016-11-24 16:31] abolinhas commented on #13495
@Aka4Code your trigger work like a charm

[2016-11-25 01:48] viking2 opened #26718 "File Modified Date is Changed When Using WebDav and File Manager"
I access ownCloud using a WebDav and NetDrive2 to create a network Drive (W:\)
With my local **file manager**, I transfer a file from my local drive to a ownCloud directory W:\Test.

However, when I transfer the file, the file modified date is changed to the date of the transfer. How can I keep the modified date?

Note that this doesn't happen when I use the desktop Sync client.

p.s. I found a si

[2016-11-25 07:30] hodyroff commented on #26718
https://github.com/owncloud/core/pull/21237
It depends on your WebDAV client. We have the mechanisms available but the client, like the browser must support it. Please reopen if you see a bug here ...

[2016-11-25 07:30] #26718 closed

[2016-11-25 07:32] hodyroff commented on #26708
Sounds like a good idea, can you do a PR and mention @PVince81 for review?

[2016-11-25 08:03] stephan-l commented on #26297
Still present in 9.1.2-1.1

[2016-11-25 08:08] PVince81 commented on #26708
@cornelinux another variant would be to add getter/setter on the http client object to enable/disable the proxy. You could then call it before you call then set it back afterwards.

One drawback is that if someone forgets to reset the proxy back then subsequent calls would fail. This could also happen if there's an uncaught exception which would make it bypass the "reset proxy back" call.

So mayb

[2016-11-25 08:12] cornelinux commented on #26708
hm, since the "proxy" setting is directly passed to the guzzle client there might even be a simple solution for me to configure this in the config.php. I am just verifying this. If so, I would improve this documentation:

https://doc.owncloud.org/server/9.1/admin_manual/configuration_server/config_sample_php_parameters.html

Is this also maintained in git and is it possible to do a PR?

[2016-11-25 08:17] PVince81 commented on #26708
@cornelinux if you do a PR to change config.sample.php there is a script that the documentation people will run to convert it to proper documentation.

cc @carlaschroder

[2016-11-25 08:23] #26625 closed

[2016-11-25 09:31] PVince81 opened #26720 "Wrong realm for Webdav auth in 9.0"
### Steps

1. `curl -D - -X PROPFIND http://localhost/owncloud/remote.php/webdav/`
1. Check headers

9.0:
[code]

All other OC versions:
[code]

Seems to be a regression, might be bisectable.

Discovered when backporting header test: https://github.com/owncloud/core/pull/26712

@DeepDiver1975 @SergioBertolinSG how critical ?

[2016-11-25 09:31] PVince81 commented on #26720
I'll quickly bisect this

[2016-11-25 09:32] PVince81 commented on #26720
v9.0.0 affected too, possibly due to sabre upgrade

[2016-11-25 09:37] PVince81 commented on #26720
Introduced by 4bb346a1e6fe2407dd96d35a1d6e30af29ff6432 from https://github.com/owncloud/core/pull/20692

Now why does it work properly in stable9.1 ? Maybe it was fixed later on.
Let's do a reverse-bisect to find out...

[2016-11-25 09:39] DeepDiver1975 commented on #26720
I'm pretty sure I did fix this - looks like a backport is missing ...

[2016-11-25 09:45] PVince81 commented on #26720
found it "fix the real", will backport: cf06b17df15d6de83d2893cbe08880bbd9dd5c2c

[2016-11-25 09:50] j-ed commented on #25552
@DeepDiver1975 Which `update.php` do you mean, `apps/federation/appinfo/update.php` or `apps/dav/appinfo/update.php` ?

[2016-11-25 09:52] RealRancor commented on #25552
@j-ed the ``/apps/federation/appinfo/update.php``

If people are not doing a correct upgrade by deleting all old files and folders except /data/ and /config/ and just copy over the old files over the new files this issue will appear.

[2016-11-25 09:54] PVince81 commented on #26720
Fix/backport is here: https://github.com/owncloud/core/pull/26721

[2016-11-25 10:20] PVince81 commented on #22388
- [ ] throw exceptions https://github.com/owncloud/core/issues/13792

[2016-11-25 10:22] PVince81 commented on #18723
We already have this, it's not that good. Closing as duplicate, we have enough tickets to discuss this.

[2016-11-25 10:22] #18723 closed

[2016-11-25 10:22] PVince81 commented on #22388
Long term I'd still vote for a full revamp for the storage API if possible, like the proposed interfaces from https://github.com/owncloud/core/issues/20394

Then for the old storages if needed we can provide adapters that map the crappy PHP-like functions to the new interface.

[2016-11-25 10:48] cdamken opened #26722 "Erasing folder over sync-client and the server decided to keep it"
### Steps to reproduce
1. Mount ownCloud over Webdav and work in one folder with Office/Libre-Office files. (One of the Locking files are kept - Probably while connection broken or similar)
2. Sync the folder with the sync-client - Use selective sync to select it.
3. Erase the folder with all the files.
4. The folder does not exist anymore but the sync-client has still marked to be synced.

### Ex

[2016-11-25 10:53] tempusus opened #26723 "feature requests - Supervisor Role"
I would like to create a feature request for a missing role in the owncloud solution.

From now, we have 3 existing role in the solution:

admin (super admin role, can manage all in the server)
group admin (can add users in a group)
user (can use the solution)

In my idea, the owncloud solution can be a little bit better for managing rights.
We can see it for minor and major updates.

for a minor

[2016-11-25 11:00] PVince81 commented on #26722
@cdamken any details about the actual server-side permissions ? I don't see any step asking to set some folder read-only or so.

[2016-11-25 12:12] jvillafanez commented on #24164
Checked with latest stable8.1 (8.1.11 (daily) Build:2016-11-25T04:15:12+00:00 e77290d6365e4f360c7d9a60e3c9688ceaafdbd4) looks good.

I haven't checked with stable9.1 nor stable9 but that piece of code is also there, so it should work.

[2016-11-25 14:05] PVince81 commented on #26723
Something similar was discussed here: https://github.com/owncloud/core/issues/3362
Not necessarily a duplicate but it could help advance the discussion and clarify the requirements.

[2016-11-25 14:07] PVince81 commented on #3362
Someone suggested a new role "supervisor role", see https://github.com/owncloud/core/issues/26723

As for "managing workgroups" where it's only about membership but not creating users, there's yet another variation here: https://github.com/owncloud/core/issues/8201 (allowing users to create their own groups and add people there)

[2016-11-25 14:14] SergioBertolinSG commented on #19790
Still happening on current master.

![screen shot 2016-11-25 at 14 52 00](https://cloud.githubusercontent.com/assets/9048796/20627666/c79e3b2e-b321-11e6-8c8a-8dd9a4003af0.png)

[2016-11-25 14:31] PVince81 commented on #22370
So, I've updated my personal server to PHP7 and could see very few of these statements. I've now enabled more advanced logging so I can try and find out what kind of requests (and from which clients) this is happening.

[2016-11-25 14:40] chrone81 commented on #26111
Will this support uploading large object storage to custom S3 such as one on Ceph?

I always got this below error when uploading more than 5GB of file to ownCloud external storage via custom Amazon S3 (Ceph object storage). The ownCloud is using master encryption key.

`""app":"files_external","message":"Exception: {\"Exception\":\"Aws\\\\S3\\\\Exception\\\\EntityTooLargeException\""`

[2016-11-25 14:42] PVince81 commented on #22370
Here are the past entries:
[code]

While I can understand that a `GET` will do a `fopen()` and might have unclosed streams, I don't get how a simple `PROPFIND` on the sync folder would even trigger such a situation ??

I don't have any external storage so there is no file that would be opened within a PROPFIND.

[2016-11-25 14:44] PVince81 commented on #22370
This in on v9.1.2 on openSUSE Leap 42.2 with PHP 7.0.7

[2016-11-25 14:48] PVince81 commented on #22370
also I have encryption enabled. Hmmm I wonder if the encryption code is trying to fopen the file only to compute the size when not known, or even for trying to find out whether the file is encrypted... at PROPFIND time... bääääh

[2016-11-25 15:01] Webbeh commented on #22370
I personally dont have encryption enabled, just my two cents.

[2016-11-25 15:03] PVince81 commented on #22370
Yeah, this seems to be a general issue. As soon as a file is opened with  `fopen` and some magic unknown crazy stuff happens, the garbage collector of PHP 7 runs too late and triggers this issue.

If we can't fix it at the lower level then let's at least look for a way to mitigate it, which might involve some trickery to avoid logging this message.

[2016-11-25 15:16] hodyroff commented on #26722
Issue moved to [owncloud/client #5336](https://github.com/owncloud/client/issues/5336) via [**ZenHub**](https://www.zenhub.com/)

[2016-11-25 15:16] #26722 closed

[2016-11-25 15:30] Webbeh commented on #22370
How about a simple try catch only on PHP7.

[2016-11-25 15:33] PVince81 commented on #22370
I have setup a local PHP 7 env now.

The log entries appear randomly, sometimes for previews, sometimes for downloads, regardless of size.
Video player doesn't seem to trigger it yet.

@Webbeh try/catch won't work as it's not an exception but some kind of compile-time error, even though the class already exists but somehow the GC killed an existing attribute.

The reason the message is logged is b

[2016-11-25 15:34] ppaysant opened #26724 "Avatar directory can't be created, and that blocks use of owncloud for a freshly created user."
### Steps to reproduce
1. log as admin
2. create a new user in admin page
3. delog then log as this new user

Datadir is set to "/data/owncloud9" (absolute dir, without ending slash)

### Expected behaviour
Files list should appear

### Actual behaviour
Error message with stack trace which main part is :
[code]

### Server configuration
**Operating system**: centOS 7.2

**Web server:**: apache 2.4

[2016-11-25 15:34] hodyroff commented on #26723
Actually we have really 4 roles today:
**server admin** (super admin role, can manage all in the server, can also be ownCloud admin but not required (not sure we have any way to prevent this actually)
**owncloud admin** (can administer ownCloud but not use occ or anything kept to the server admin)
**group admin** (can add users in a group)
**user** (can use the solution)

Those roles are not perfe

[2016-11-25 15:35] enoch85 commented on #22370
Video player doesn't seem to trigger it yet.

Exactly my point. I get thousands of theese enteries in my logs as I host the VMs in my cloud.

Very nice that you *finally* installed PHP 7 @PVince81 :)

[2016-11-25 15:39] Webbeh commented on #22370
It's possible to disable the garbage collection using gc_disable(), it's super dirty but couldn't it do the trick between the fopen and éclose.

[2016-11-25 15:43] PVince81 commented on #22370
GC buster attempt 1 https://github.com/owncloud/core/pull/26725 (https://github.com/owncloud/core/pull/26725.patch)

Any volunteers ?

[2016-11-25 16:57] felixheidecke commented on #25092
Well … tougher than I thought :sweat_smile:

[2016-11-25 17:17] j-ed commented on #25552
@RealRancor Thank you, I always delete all legacy files before I install new ones but it seems that not all users are applying an update in the same way.

[2016-11-25 17:25] CliffMitchell commented on #25470
I think you have this covered but just in case you weren't aware this issue impacts Thunderbird users when Thunderbird/Lightning calendars sync with ownCloud:

The email address that Thunderbird (TB) is using for calendar invitations is the server level email address for ownCloud, not the email address of the calendar owner on ownCloud, and not the email address set in the calendar settings in own

[2016-11-25 17:38] felixheidecke commented on #22480
Well … this like a feature rather than a bug. My predecessor made the wise decision to chose a breakpoint where pushing wouldn't leave enough space to push the rest into. This translates directly to mobile.

![its_a_feature_not_a_bug](https://cloud.githubusercontent.com/assets/12717530/20632503/4ca041de-b33e-11e6-9581-6b0d1d34ed1c.gif)

[2016-11-25 17:56] kinsi55 commented on #25552
@j-ed @RealRancor i used the built-in (auto) updator and still experienced that error back then.

[2016-11-25 21:44] ghost opened #26726 "Bad "calendar.svg" link path"
#### The calendar app generates a wrong link for the object "calendar.svg", when you setup the 'apps_paths' in the config.php
#### Please look at:
https://github.com/nextcloud/calendar/issues/203

[2016-11-25 22:28] cornelinux commented on #26708
OK, I start to understand this here. The problem arises from the implementation of the HTTP Client:
https://github.com/owncloud/core/blob/master/lib/private/Http/Client/Client.php#L91

The getProxyUri function is implemented in this way, that it will only allow strings - or convert everything to a string.
But the guzzle client, which is used underneath allows rather sophisticated proxy settings:
h

[2016-11-25 22:46] cornelinux commented on #26723
For best flexibility I would expect to have a list of possible actions.
Then you could define, which actions are allowed for which role.

This way the default roles could be defined but also any additional new role - composed of an indivitual set of allowed actions - could be defined.

[2016-11-26 12:27] Rello opened #26727 "userExists($user) not case sensitive"
### Steps to reproduce
1. \OCP\IUserManager $userManager
2. $this->userManager->userExists($user)
3. $user = admin
4. $user = Admin

### Expected behaviour
3.: False
4.: True

### Actual behaviour
3.: True
4.: True

This leads to problems later - in my case the Audio Player because occ will start the scanner even when mistyping the user
https://github.com/Rello/audioplayer/blob/master/command/scan

[2016-11-26 12:57] ataraxiafr commented on #26616
PVince81, thanks for the tip. I visited the applications and I saw that the application " LDAP user and group backend " was not enabled because there was no library LDAP installed. I installed the package php5-ldap on my debian server. Then, I deleted the user accounts I created with my admin accounts. I restarted apache2 and I created new users. It works now.

[2016-11-26 12:57] #26616 closed

[2016-11-26 14:05] leo-yip opened #26728 "spam of error after upgrade to 9.1.1 to 9.2.0"
### Steps to reproduce
1. upgrade owncloud from 9.1.1 to 9.2
2. upgrade php from 5.5 to 5.6
3.

### Actual behaviour
spam of error:

Error	PHP	You are using a fallback implementation of the intl extension. Installing the native one is highly recommended instead. at /var/www/html/owncloud/lib/composer/patchwork/utf8/src/Patchwork/Utf8/Bootup/intl.php#18	2016-11-26T13:54:31+00:00

![image](https://c

[2016-11-26 15:05] capnjb opened #26729 "Internal Server Error after Upgrading to 9.1.2.5 from 9.1.1.3"
Internal Server Error after Upgrading to 9.1.2.5 from 9.1.1.3
After Upgrading to 9.1.2.5 from 9.1.1.3 - Internal Server Error

[b]Steps to reproduce[/b]
1. yum update
2. run ./occ upgrade (seemed to run OK)
3. Log in and access to files and app appeared normal.
4. After computer reboot the errors surfaced

[b]Expected behaviour[/b]
Normal log in with access to files and apps

[b]Actual behaviour[/

[2016-11-26 16:13] jnweiger opened #26730 "8.2.9 community repo is empty"
There are no packages in
http://download.owncloud.org/download/repositories/8.2.9/Ubuntu_14.04/
but the final release is in http://download.owncloud.org/download/repositories/8.2.9:/testing/Ubuntu_14.04/

please fix!

[2016-11-26 17:09] nightspotlight opened #26731 "App passwords deleted after changing main password"
### Steps to reproduce
1. Login to ownCloud
2. Go to Personal settings
3. Create an app password with the name "owncloud @ smartphone"
4. Input and save the generated password into the app
5. Use the app for a while, close it
6. On next use of the app find the app asking for the password
7. Login to ownCloud, open Personal settings, find the app password disappeared

### Expected behaviour
App pas

[2016-11-26 17:40] renaudallard commented on #26665
I have exactly the same problem with nginx

[2016-11-26 18:49] RealRancor commented on #26728
And have you installed the PHP intl extension as advised??

[2016-11-27 02:18] vanboom opened #26732 "Database is Locked SQLITE, Upgrade 8.2.7-1.1 to 9.0.6-1.1"
### Steps to reproduce
1. `apt-get install owncloud-files=9.0.6-1.1`
2. `sudo -u www-data php occ upgrade`

### Actual behaviour
[code]

### Server configuration
Ubuntu 16.04

**Web server:** Apache

**Database:** SQLITE3

Trying to work my way through the upgrade path to the latest version, but not able to get 9.0.6 to upgrade.

Thanks!

[2016-11-27 05:41] leo-yip commented on #26728
thanks, after yum install php-intl, no more error.

[2016-11-27 07:03] RealRancor commented on #26728
@leo-yip Then please close this issue as the message is expected

[2016-11-27 07:17] RealRancor commented on #26732
@vanboom No need to report an bug here. Database locked messages are known issues of SQlite (see google). Thats why you shouldn't use SQlite on productive oC installations as documented at various parts of doc.owncloud.org

Please close here and migrate to MySQL or PostgreSQL before doing the upgrade. If you need further help then you can get support at https://central.owncloud.org/

[2016-11-27 09:25] AdamPS opened #26733 "owncloud.org SSL certificate has expired"
This is an operational problem for OwnCloud, and not a bug in code, but not sure how else to report it.

owncloud.org SSL certificate has expired, so we cannot access https://owncloud.org/ - not even add a manual exception due to HSTS.

Thanks

[2016-11-27 09:38] RealRancor commented on #26733
@AdamPS I think you can close this one as https://github.com/owncloud/owncloud.org/issues/1107 was reported before

[2016-11-27 09:38] turin13 commented on #26683
Any updates, guys? I think I provided the info. If something else is needed just let me know.
Thanks.

[2016-11-27 09:40] AdamPS commented on #26733
Thanks and sorry for the duplicate

[2016-11-27 09:40] #26733 closed

[2016-11-27 12:06] RealRancor commented on #26733
No need to say sorry :-). Its not always clear which issue belongs in which repository.

Hope they fix that soon.

[2016-11-27 12:13] draht commented on #26733
it was fixed 20 minutes ago.

[2016-11-27 15:04] RealRancor commented on #26730
@jnweiger But it is in:

https://download.owncloud.org/download/repositories/8.2/Ubuntu_14.04/

Is the version based URL in http://download.owncloud.org/download/repositories/8.2.9/Ubuntu_14.04/  really needed?

[2016-11-27 15:12] RealRancor commented on #25552
@j-ed Good way. Thats probably also the reason why i didn't have a single update and upgrade issue in the past (in contrast to other peeps) on my oC instance running since oC 4.0.something

@kinsi55 Are you really sure? IIRC there were no single report about such a behavior of the updater app in the past.

[2016-11-27 15:29] kinsi55 commented on #25552
@RealRancor yes i am sure, i think though that the updater "crashed" and i had to re-start it which is when this happened from what i remember. After commenting out that line the updater worked fine.

[2016-11-27 15:31] RealRancor commented on #25552
Ah, a crashed updater app might explain that. In general a "pro-tip": Never do upgrades with the updater app but do the manual upgrade as suggested above: https://github.com/owncloud/core/issues/25552#issuecomment-262919606 and explained in https://doc.owncloud.org/server/latest/admin_manual/maintenance/manual_upgrade.html

With that you're on the "safe side" and don't need to worry about such iss

[2016-11-27 15:33] kinsi55 commented on #25552
@RealRancor Well i do not use oC anymore, but thanks for the tip :)

[2016-11-27 15:35] RealRancor commented on #25552
If you have migrated to the OtherCloud then its also valid there :)

[2016-11-27 15:37] kinsi55 commented on #25552
Whats OtherCloud? But no, i own a Synology DS now

[2016-11-27 17:51] cgogolin commented on #26667
With newly created calendars everything seems to work. Only those present during the update can not be edited anymore.

What is the best way to find out in which way the newly created calendars differ from the old ones?

[2016-11-27 19:03] Kawohl commented on #26500
@crrodriguez @jnweiger

[2016-11-27 20:14] vanboom commented on #26732
The upgrade path does not work.  Migrating to MySQL worked OK.  Closing this issue, BUT I still consider the upgrade failure with SQLITE to be a BUG.

[2016-11-27 20:14] #26732 closed

[2016-11-27 20:31] sleepingshorty commented on #24066
Any updates  on this?

[2016-11-27 20:32] RealRancor commented on #24066
@sleepingshorty

https://github.com/owncloud/core/issues/24066#issuecomment-239827851

[2016-11-27 22:28] malyjaponec commented on #25927
@RealRancor If I write that I have set 513MB it does not mean I have 513MB in config. Double checked and found 512M not MB there. Sorry, the problem is somewhere else. I did not have changed anything in PHP settings when updated from previous version that worked.

I think there is lack of debug logging in the OC or we do not talk here and just check the debug log and see where is the issue. If I s

[2016-11-27 22:31] RealRancor commented on #25927
@malyjaponec See https://github.com/owncloud/core/issues/25927#issuecomment-262703655

[2016-11-27 22:49] malyjaponec commented on #25927
@RealRancor wrote: The issue itself is causing by misconfigured PHP environments like seen above:...

Sorry but it can be login loop, but your sum-up say that it is caused by user who incorrectly configured the PHP. I say that I did not changed anything from previous version of OC. I checked 2 mentioned issues and its not my case. Or is "login loop" some kind if issue in OC code? I see the problem

[2016-11-27 22:56] RealRancor commented on #25927
@malyjaponec You might also just have an outdated version of oC causing the same issue: https://github.com/owncloud/core/issues/25557

[2016-11-28 08:05] jobenvil commented on #24066
Its clear, thanks. Can you provide which WebDav version or libraries should be installed? I will try to send 1und1 infos. It is much better approach this way that not only complain that something doesn't work.

[2016-11-28 08:20] PVince81 commented on #26708
If `getProxyUri()` is private then there must be a way around it. Is it really necessary to stringify the array with the way you suggested to make it work ?

[2016-11-28 08:24] Webbeh commented on #22370
Attempt 1 #26725 : no result.

Small precision : after trying to reproduce the bug by myself, I saw that it didn't appear instantly, but rather ~10s after the start of the download, _but only if the download was still running_.

If it helps...

[2016-11-28 08:30] PVince81 commented on #22370
s/no result/failed => bug still happening. Thanks for testing.

Yes, in the rare cases where it happened for me as well on my dev env I noticed that the message appeared later. I think it's probably because while the PHP request has already sent the response, the garbage collector hasn't started freeing memory until many seconds later.

The cleanest solution is probably to move to normalizer to be

[2016-11-28 08:38] Webbeh commented on #22370
Isn't it weird that PHP garbage collects a static class ?

I know we can't really compare with Java/C# due to the fact that PHP is a scripted language, but neither of those two actually GCs static classes, for the simple fact that they have to be available for the full lifetime of the application...

[2016-11-28 09:09] PVince81 commented on #22370
@Webbeh in the case of PHP the static class is not shared with separate requests. Basically every PHP request starts from scratch and then destroys all classes. So it is understandable that PHP needs to destroy static classes at point. It is just not clear to me why it does so while there is still some code that needs to run.

The way this `CallbackWrapper` works is that it creates a stream wrappe

[2016-11-28 09:10] PVince81 commented on #22370
("resource" here being the file resource as created by `fopen`)

[2016-11-28 09:15] Webbeh commented on #22370
Could it be due to session GC ?
If PHP sees an active download (without new user request) as an inactive session, it could trigger the GC after the session.gc_maxlifetime time.
There may be something to do around that (display a download progress, for example).

[2016-11-28 09:17] PVince81 commented on #22370
@Webbeh interesting point. What is your value for `session.gc_maxlifetime` ? Mine is the default which is 1440 seconds which would be 24 minutes.

[2016-11-28 09:19] Webbeh commented on #22370
2400 minutes.. (144000 seconds), which seems to be the default max lifetime of the ArchLinux PHP7 package.

[2016-11-28 09:37] Pazu commented on #22196
I have this _'appstoreurl' => 'http://api.apps.owncloud.com/v1'_ in my config as well, but I'm certain I never added or modified it. My config has been around for years, though; is it possible this was originally included with config in older versions of owncloud?

I see the sample config now specifies a different URL for this; is it recommended now to change it to 'https://api.owncloud.com/v1'? S

[2016-11-28 09:40] PVince81 commented on #22370
@Webbeh so you said the problem occurs for you when downloading a file shared with public link.
I did so and put a breakpoint in the callback, this is how it looks like:

[code]

Apparently `View::readfile()` already triggers an implicit `fclose()` (remember that we found out that `fclose` was missing there) which itself leads to a call to the callback. So it seems to be working fine right here.

[2016-11-28 10:09] sleepingshorty commented on #24066
Thank you for your help. I used phpinfo to figure that libxml version is 2.7.8.

I attached my Log-File
[nextcloud.zip](https://github.com/owncloud/core/files/615940/nextcloud.zip)

What else can I do?

[2016-11-28 11:22] PVince81 commented on #22370
Summary of what was observed so far from this debug PR: https://github.com/owncloud/core/pull/26735

There are multiple scenarios where this log message would appear even when explicitly having a `fclose` as advised:

### Scenario 1

Observed this on my env with mod_php.
The request calls `readfile` on download, then `fopen`, the fread loop, then finishes the loop then calls `fclose`. Fclose prope

[2016-11-28 11:38] DeepDiver1975 commented on #26667
Please have a look in the database - let's start with:

select * from oc_calendars

[2016-11-28 12:01] malyjaponec commented on #25927
@RealRancor you might be right as 9.1.2 is most probably already obsolete version.

[2016-11-28 12:10] cgogolin commented on #26667
I have uploaded the [output](https://github.com/owncloud/core/files/616188/select_star_from_oc_calendars_shortened.txt) of that command (shortened to only include the relevant users). The new shared calendar that works is `Christian_Manu` shared from `cgogolin` to `manuela.mergel`. The one that doesn't work is `Manu_Christian` shared from `manuela.mergel` to `cgogolin`.

[2016-11-28 12:33] PVince81 commented on #22370
Potential fix for scenario 2: it's a patch for the "3rdparty" folder: https://github.com/owncloud/3rdparty/pull/283
Basically it should prevent the callback to be called twice in case it was already called before.

[2016-11-28 12:35] PVince81 commented on #22370
- [ ] TODO: call `fclose` in `readfile` and `readfilePart` (might not help alone but hopefully combined with the other fixes)

[2016-11-28 12:44] DeepDiver1975 commented on #26667
thx - can I ask you to the table contents of the oc_dav_shares table?

select * from oc_dav_shares where resourceid = 9;
select * from oc_dav_shares where resourceid = 23;

[2016-11-28 12:58] cgogolin commented on #26667
Here is the output:
[code]

[2016-11-28 13:03] DeepDiver1975 opened #26736 "[FR] force recreation of encryption keys in case password is lost"
# Problem

As of today the user can recreate his private key after password change.

But what to do in case the user lost his password and the admin did reset the password for him?

The user cannot recreate the keys because the password is forgotten.

# Solution
Add a button which allows the user to create new keys.
In addition we might want to support the user in deleting all encryption files whi

[2016-11-28 13:11] DeepDiver1975 commented on #26667
hmmm ... nothing strange .....

[2016-11-28 13:35] RealRancor commented on #25927
@malyjaponec 9.1.2 is the current stable. But as you didn't managed to post your used oC version in any of your postings we just need to do guessing games here.

@PVince81 I have edited my previous comment https://github.com/owncloud/core/issues/25927#issuecomment-262703655 and sum-up everything i know from the past about that error. Unfortunately there are too many reasons for that so there is pr

[2016-11-28 13:41] fhdk opened #26737 "Manual upgrade 9.0 => 9.1"
### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration
**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**ownCloud version:** (see ownCloud admin page)

**Updated from an older ownCloud or fresh install:**

**Where did you install ownCloud from:**

**Signing status (ownC

[2016-11-28 13:46] butonic commented on #4513
has no corresponding SF case -> blue ticket

[2016-11-28 14:08] RealRancor commented on #26737
@fhdk Please fill out the complete issue template. Nearly all mandatory infos are currently missing.

[2016-11-28 14:13] fhdk commented on #26737
removed all and started from scratch

[2016-11-28 14:13] #26737 closed

[2016-11-28 14:18] RealRancor commented on #24066
@jobenvil @sleepingshorty The libxml might be needed at the WebDAV server of 1&1. You can run the litmus test seen in https://github.com/owncloud/core/issues/24066#issuecomment-211830795 and pass the output to the support of 1and1 and ask them to fix the WebDAV interface.

To comparsion here is the output of a working WebDAV interface. The litmus test was running here against the https://example.c

[2016-11-28 14:37] butonic commented on #24671
Not a top 10 SF case -> blue ticket

[2016-11-28 14:46] j-ed opened #26738 "OC9.1.2 - FTP mount (ftps) shows SSL/TLS already set-up for this stream"
## Expected behavior

It should be possible to run a file scan on a FTP share, which has been mounted using `ftps`, without showing any errors.

## Current behavior

If you run a file scan on a FTP share, which has been mounted using `ftps`, an **SSL/TLS already set-up for this stream** exception is shown.

### Steps to reproduce
1. Create a mount to an external FTP storage and mark the `secure ft

[2016-11-28 14:58] butonic commented on #24053
not a top 10 case in SF -> blue ticket

[2016-11-28 14:59] flolerchi opened #26739 "internal server error after update to owncloud 9.1.2-1.1"
### Steps to reproduce
1. I made an automatic update via apt-get
2. after the finished installation I started my owncloud web interface again
3. I switched off the maintenance mode to start the web update
4. I refreshed the webside
5. an internal error was shown

### Expected behaviour
Owncloud should run like it did since the last several updates

### Actual behaviour
Internal Server Error

The s

[2016-11-28 15:02] RealRancor commented on #26739
@flolerchi This is a known bug in the following 3rdparty app:

causing this issue as you can see here: https://github.com/pbek/ownbackup/issues/7

I think you can close this issue here immediately. To get to a working oC back remove that app from your path/to/owncloud/apps folder and use a current version of that app.

[2016-11-28 15:03] RealRancor commented on #26622
@mrbrainin and @alien2003 Ping? Could you confirm that you had installed this 3rdparty app causing that issue?

[2016-11-28 15:12] flolerchi commented on #26739
I started the command update via "sudo -u www-data php occ upgrade". This solved also my problem without any uninstall of ownbackup.

[2016-11-28 15:17] flolerchi commented on #26739
With "sudo -u www-data php occ upgrade" i found now a solution without removing 3rdparty app.

[2016-11-28 15:17] #26739 closed

[2016-11-28 15:28] RealRancor commented on #26738
@j-ed I think the first step is to get files scanning on FTP to work at all: https://github.com/owncloud/core/issues/16407

[2016-11-28 15:42] PVince81 commented on #26724
So there are two issues:

1) it still tries to create a folder even when "enable_avatars" is false

2) for some reason the avatar folder becomes absolute instead of being relative to the data dir

[2016-11-28 15:46] PVince81 commented on #26727
This is the behavior of the local user backend.

What you need to do:
[code]

We fixed core to also use this logic for the same reason you mentionned, see: https://github.com/owncloud/core/blob/master/lib/private/AvatarManager.php#L83

This is "by design" of whoever designed the local case-insensitive DB user backend many years ago.
Closing.

[2016-11-28 15:46] #26727 closed

[2016-11-28 15:50] #26728 closed

[2016-11-28 15:53] PVince81 commented on #26729
Try renaming the "_gallery" folder to "gallery".
I think this error happens because the app id doesn't match the folder name.

[2016-11-28 15:54] PVince81 commented on #26731
Hmm weird... I also use app passwords extensively but never saw any of them disappear before with 9.1.1 or 9.1.2.

[2016-11-28 15:55] stephane84 commented on #26665
I've found a new error message related to the same error.

16:53:10,228 Content Security Policy: Les paramètres de la page ont empêché le chargement d’une ressource à self (« script-src https://example.com 'unsafe-eval' »). 1 tasks

which can be translated to something like :

The parameters of the page have blocked the loading of one resource to self : (« script-src https://example.com 'unsafe-ev

[2016-11-28 15:55] PVince81 commented on #26731
@PhilippSchaffrath in case you find understand conditions an app password would auto-destruct

[2016-11-28 16:28] PVince81 commented on #26683
Line 826 is here: https://github.com/owncloud/core/blob/v9.1.2/lib/private/Share20/Manager.php#L862
And the `moveShare` is called when grouping the shares here: https://github.com/owncloud/core/blob/v9.1.2/apps/files_sharing/lib/MountProvider.php#L171

Some things that we can deduce from this information:
- the user is receiving the share through a group share
- the user is likely receiving the sh

[2016-11-28 16:40] PVince81 commented on #26683
I tried to reproduce a similar situation but couldn't.

This is because for some reason when fetching the user's received shares, my env doesn't return the group shares for groups in which the user does not belong to any more.

Somehow on your env it seems that there is an inconsistency: the API fetches all received shares including some group shares where the user doesn't belong in the group any

[2016-11-28 17:06] PVince81 commented on #26683
Hmm, I looked a bit in the LDAP code.

What I observed is that:
1) The user's group membership in the sharing code is retrieved with `groupManager->getUserGroups()` which itself goes to LDAP's `Group_LDAP::getUserGroups()`
2) When verifying if we can rename/move a group share, we check if the user belongs to it using another method `groupManager->inGroup()` which itself goes to LDAP's `Group_LDAP:

[2016-11-28 17:07] PVince81 commented on #26683
Now here I really wonder why `inGroup()` isn't simply using `getUserGroups()`. Maybe some LDAP servers do not support retrieving a user's group memberships and only allow checking `inGroup` ??

@jvillafanez do you know anything about this ? Is there an easy way to clear the LDAP caches ?

@owncloud/ldap

[2016-11-28 17:09] PVince81 commented on #26683
Raised https://github.com/owncloud/user_ldap/issues/30 to clarify the general issue for this code inconsistency.

[2016-11-28 17:13] PVince81 commented on #26683
@turin13 I see you have a memcache set up. Also browsing through the LDAP code shows that the cache it uses is also memcache. So it is likely that there is an inconsistency about group membership in the cache.

Are you able to clear the memcache ? (not sure how, I have no experience with it)

[2016-11-28 17:29] PVince81 commented on #26683
From what I see here `getUserGroups()` is called more often than `inGroup()`. So it is likely that this method has cached some group membership for some time under the key "getUserGroups".
Then at some point an admin removed group membership from LDAP. But "getUserGroups" still contain it.

And then just now as this special code path calls `inGroup()`, possibly for the first time, asking the LDAP

[2016-11-28 17:39] jnweiger commented on #10167
no longer an internal error. Files starting with a . are simply no longer synced. Sigh.

[2016-11-28 17:39] #10167 closed

[2016-11-28 17:43] RealRancor commented on #10167
@jnweiger You can enable to sync hidden files like .htaccess file in the sync client settings. Open the client:

Settings -> General -> Advanced -> Edit Ignored Files

There you can tick the "Sync hidden files" checkbox.

[2016-11-28 17:49] capnjb commented on #26729
PVince81,
Hummm... _galley was an older version that I had "commented" out.  there already was a "galley".  Interesting that this was not an error in previous updates.  But I deleted the directory and all is good again!  Must have been some updates to the code integrity.
Thank you so much... I was scratching my head what could have possibly gone wrong.

[2016-11-28 17:52] capnjb commented on #26729
Issue Resolved!

[2016-11-28 17:52] #26729 closed

[2016-11-28 18:05] PVince81 commented on #26683
Note: it is close to impossible to inspect the cache keys without using a debugger and let the method generate the key name for you.

Steps to reproduce:

1. Setup OC and set "\OC\Memcache\Redis" as memcache.local (or something else, I used redis)
1. Setup LDAP docker from https://github.com/owncloud/administration/tree/master/ldap-testing with zombies and Box groups.
1. In LDAP, add "zombie400" i

[2016-11-28 18:10] PVince81 commented on #26683
In this very specific scenario, the PROPFIND still succeeds but zombie400 cannot see the share at all, even though there is a valid user share for that user. This is because the exception is caught and the mount point is discarded.

Quickfix: clear all LDAP-related memcache keys!

[2016-11-28 18:23] mrbrainin commented on #26622
Yes mr @RealRancor I agree but how to resolve the issue.

[2016-11-28 18:31] RealRancor commented on #26622
@mrbrainin If you had installed this app please close here as this is not an issue in ownCloud itself but in that 3rdparty app which already got fixed by the app developer with a new version.

To get your installation to a working state see the following suggestion: https://github.com/owncloud/core/issues/26739#issuecomment-263293210

[2016-11-28 18:40] bat553 opened #26740 "9.1 Flood email"
Hi ! I have a public cloud and I was victim of a reset password spam. 100 mail in 10 minutes... Can you add a waiting time between requests ?

PS: Sorry for my English :-/

[2016-11-28 20:14] molchwien commented on #25927
We fixed our issue by re-activating POST-data reading in php.ini --> enable_post_data_reading = On

[2016-11-28 20:16] turin13 commented on #26683
Good evening PVince81,
Thank you for the great work and the examination.
Regarding to your quickfix proposal - I have an ACPu cache (php5-acpu package). I cleared the cache, but still no change in the affected user behaviour. I tried to reload apache or even to restart the whole server, but still no effect.

[2016-11-28 20:27] turin13 commented on #26683
And also, if it's related to share, why I can't scan user's files? I mean all of them (using php occ files:scan UID).
I tried to move user's directory to let system generate it again, but result was the same.

[2016-11-28 21:00] RealRancor commented on #25927
Thanks for posting this additional info, have also added it to the summary in https://github.com/owncloud/core/issues/25927#issuecomment-262703655

Yet another PHP customization config which is using  causing this issue. :-/ I don't think there is a sane way for oC to check all of these.

[2016-11-28 21:21] Rello commented on #26727
thank you for the simple workaround!

[2016-11-28 21:47] philis commented on #26605
Any further ideas how to update my OC server?

[2016-11-28 22:53] carlaschroder commented on #26708
The converter script is at https://github.com/owncloud/administration/tree/master/config-sample-converter. Anyone can use it, and then open a PR with the updated config.sample.php for the Admin manual.

[2016-11-29 01:55] tavinus commented on #9724
Had 9.x.x? forgot (sry) and this was nnoying me. Just to let people know that 9.1.2 fixes this. I had to manually upgrade on 2 boxes though. Updater said it was up to date.

The duplicated folders were removed from all accounts after installing it.

Side note: Manually upgrading is actualy easier and faster. I think I will always go this route from now on. So, don`t be scared if you need to manual

[2016-11-29 02:00] markopetrovikj commented on #21584
It still doesn't work with 9.0.5 / 9.1.1 /9.1.2 Do you find any solution.

[2016-11-29 06:02] mrbrainin commented on #26622
@ RealRancor i can't login into Appliaction . How can i fix error.

Can i remove 3rd Party folder ? or what can i do ? for this error

<https://htmlsig.com/t/000001BWH431>

Mahendrakumar Rengaraju / Inventor
engrmahe@gmai.com, mahendra@mrbrain.in / 8144093959

59B, South Street,Aravakurichi, Karur, Tamilnadu, India
mrbrain.in

[image: Facebook] <https://htmlsig.com/t/000001C078FA> [image: LinkedIn

[2016-11-29 07:31] RealRancor commented on #26622
@mrbrainin Please note this is a bugtracker for ownCloud. The issue here is no bug in oC so please close here as already advised. You can get further support to get your installation up and running at https://central.owncloud.org/categories

[2016-11-29 08:00] PVince81 commented on #26683
"No change" meaning you're still getting the same exception with exact same message ?
Can you post it just to be sure ? Maybe the problem shifted to another code path.

Not sure why you can't scan, what error does the scanner give you for these users ?

[2016-11-29 08:37] turin13 commented on #26683
## This is the scanning result:
`sudo -u www-data php occ files:scan 6C3E62C1-82F4-482F-9B32-3CD862D6773D
Starting scan for user 1 out of 1 (6C3E62C1-82F4-482F-9B32-3CD862D6773D)
Exception while scanning: Invalid recipient
#0 /var/www/owncloud/apps/files_sharing/lib/MountProvider.php(171): OC\Share20\Manager->moveShare(Object(OC\Share20\Share), '6C3E62C1-82F4-4...')
#1 /var/www/owncloud/apps/files

[2016-11-29 08:54] RealRancor commented on #26737
Just had a short search on google and it seems that this is also just an issue on your server itself:

https://stackoverflow.com/questions/11066411/mysql-error-error-1018-hy000-cant-read-dir-of-errno-13

Don't think that it is needed to create a new issue about that. The mysql page has some resources listed where you can help with such issues: https://dev.mysql.com/support/

[2016-11-29 09:41] PVince81 commented on #26738
Does it work on master with the "files_external_ftp" app ? The FTP stuff was ported to use Flysystem's FTP connector (https://flysystem.thephpleague.com/) which might hopefully work better with more FTP configurations.

[2016-11-29 10:11] RealRancor commented on #22196
This was never included in any config of older oC versions. But you might have copied over the config.sample.php to config.php in the past.

It is recommended to remove it completely. See also:

The page there has a sane default config.php listed:

https://doc.owncloud.org/server/latest/admin_manual/configuration_server/config_sample_php_parameters.html#default-config-php-examples

If unsure setup

[2016-11-29 10:26] Kawohl commented on #26740
please check your fail2ban configuration.

[2016-11-29 11:43] lustyffh commented on #1344
are there any plans to include this functionality in the upcoming versions?

[2016-11-29 11:51] PVince81 commented on #1344
Not for 9.2.

But if anyone volunteers to work on it and submit a PR, we can include it.
The way I see it, the minimum required work is as follows:
- add an optional field in the users page to display the disk usage
- the field must be disable-able using the settings on the bottom left
- if the setting is disabled, the SQL query must not run as it can be expensive
- if the setting is enabled, quer

[2016-11-29 11:57] PVince81 commented on #26076
From what I see we still have "symfony/polyfill-php70" on master and this package indirectly requires "random_compat" in version v2.0.3: https://github.com/owncloud/core/blob/master/composer.lock#L1398

On stable9.1 we had version "v1.4.1".

I suppose that if we did a `composer update` on 3rdparty on stable9.1 it might update that library too...

Should we add an entry to our composer.json/lock to

[2016-11-29 12:09] PVince81 commented on #21670
@butonic @deepdiver1975 what to do with this ? I'd tag as enhancement and move to backlog for now... unless you guys think we should address this as part of 9.2

[2016-11-29 12:10] #26720 closed

[2016-11-29 12:12] #26412 closed

[2016-11-29 12:36] butonic commented on #21670
yes, can be tackled better with dectrine migrations finally in place

[2016-11-29 12:37] jobenvil commented on #24066
@RealRancor
[code]
- No idea which  `libxml` version is installed on 1and1. On owncloud hosting server 1blu is the same that @sleepingshorty , `2.7.8`.
- With BitKinex, Windows, etc works the 1und1 WebDAV ok. Is this not strange?

[2016-11-29 13:05] lolnerd commented on #25927
For us, the upgrade on 9.1.2 and latest PHP of Xenial fixed the issue.

[2016-11-29 13:18] raoulbhatia commented on #26667
I am affected as well.

[2016-11-29 15:51] #22318 closed

[2016-11-29 15:57] PVince81 commented on #7918
@DeepDiver1975 @butonic we will need a display name for the custom groups feature to be able to support renaming. The group id would be a generated id but the display name entered by the users.

Setting to 9.2

[2016-11-29 16:11] PVince81 commented on #7918
Currently the main problem is that the group backend interface `\OCP\GroupInterface` only works with group ids, some methods just returns an array of group ids, etc. The interface needs to be extended, maybe as a brand new interface `\OCP\IGroupsBackend` which itself works with `\OCP\IGroup` objects instead of just group ids.

Then we extend `\OCP\IGroup` to also have a display name attribute + ac

[2016-11-29 16:23] Kawohl commented on #26740
@bat553
Sorry for the brief reply. You can enable timeouts and bans by installing fail2ban and adding rules for owncloud. You can find some stuff here: https://central.owncloud.org/t/fail2ban-and-owncloud-8-x-9-0-x/837 .  I will close here for now.

[2016-11-29 16:23] #26740 closed

[2016-11-29 16:23] Kawohl commented on #26662
@crrodriguez

[2016-11-29 16:43] jnweiger commented on #26662
leap 42.2, sles12-sp2, ubuntu-16.10 added to ce:9.1 ee:9.1 in obs.int.
Please identify unneeded repos and remove.
Please also update desktop project, if needed.

[2016-11-29 16:58] Kawohl commented on #25180
that was related to a change in the repos, you would have to reimport it again:
from e.g. here: https://download.owncloud.org/download/repositories/8.2/owncloud/
we are now on 9.1 please update to the latest minor version and then to 9.0 latest version and then to 9.1 to make sure everything goes smoothe. Please also make a backup before doing so.

[2016-11-29 16:58] #25180 closed

[2016-11-29 18:36] techatdd commented on #26350
I had the same problem since updating to 9.1 (and 9.1.1 and 9.1.2)
AndrinS fix for adding
    RewriteCond %{REQUEST_URI} ^(/)$ [NC]
    RewriteCond %{REQUEST_METHOD} ^(OPTIONS)$
    RewriteRule .* https://%{SERVER_NAME}/owncloud/remote.php/webdav/ [R=301,L]

after my "RewriteEngine On" entrys  worked perfectly well.

can somebody pull that fix to upstream?

[2016-11-29 18:41] RealRancor commented on #26350
@techatdd I don't think there is a need to push this to everyone out there by default. This would risk breaking other stuff and clients for people don't need that fix.

The known workaround was already found by you in https://github.com/owncloud/documentation/issues/2717 so that documentation there should be more then enough.

[2016-11-29 18:54] techatdd commented on #26350
the fix in the documentation needs a administratior configuration change for every client using windows buid-in webdav (tested in win7/8/10). this is not a fix, because most of ouer oc users have systems not mainteined be me. the simple fix in .htaccess from AndrinS changed thinks back to work for all users at a time.

Since AndrinS tested it with a fresh image, i think most (or all) oc users have

[2016-11-29 19:00] RealRancor commented on #26350
@techatdd So if you need that change then just deploy it to your .htaccess file or to your global webserver config.

Pushing a fragile workaround like this to all users is also no solution...

[2016-11-29 19:13] techatdd commented on #26350
I already did and you are right, i dont overview what it could break.
But it look like at least many installation are affected (i also use a often used vmware image from techandme) so somebody should test, what could break with this change. i did not found anything, but do not use a app for example.

At leat the documentation should mention this fix. because the solution with change the service st

[2016-11-29 19:35] hodyroff commented on #26446
You might want to look at the skeleton feature: https://doc.owncloud.org/server/9.1/admin_manual/configuration_files/default_files_configuration.html
Really seems like workarounds are possible today and not necessarily a common use case.
Of course, if a PR comes we would still look at it. Please reopen if an identifyable problem or feature request exists.

[2016-11-29 19:35] #26446 closed

[2016-11-29 19:38] hodyroff commented on #26302
Please reopen when you provide the needed information.

[2016-11-29 19:55] Croydon commented on #26302
Sorry, slipped through my notification spam.

Of folders.

However it will at some point notice that the file it wanted to download is deleted, so it would abort and restart the discovery phase, which will then prepare a new sync list which doesn't contain the deleted files.
I think this is by design.

Imo it shouldn't just finish the current list but notice the file deletion at some point. In my

[2016-11-29 20:52] hodyroff commented on #158
This should not be a feature in the core. Maybe in its own app so it can be added by the people who want it. Too many scenarios where this is unwanted.

[2016-11-29 20:52] #158 closed

[2016-11-29 21:07] AndrinS commented on #26350
@techatdd I'm happy this workarround works for you.

@RealRancor keep in mind that you need administrative rights to modify the Windows services. This could be difficult in some cases.

And also as mentioned: It worked in 9.0.x without any workarrounds!

[2016-11-29 21:46] hodyroff commented on #4338
Please comment and/or reopen if this makes sense outside of oAuth implementation.

[2016-11-29 21:46] #4338 closed

[2016-11-29 22:02] hodyroff commented on #8752
Should be a seperate app. We have this somewhat for files. Mount external storage and move over ...

[2016-11-29 22:02] #8752 closed

[2016-11-29 22:08] hodyroff commented on #10257
Disagree. This is desired behaviour IMHO. Otherwise many users will complain with support teams ... and the space is needed anyway = no extra costs for a SP.

[2016-11-29 22:13] hodyroff commented on #10693
Yes, seperate app, not in core.

[2016-11-29 22:13] #10693 closed

[2016-11-29 22:17] #26350 closed

[2016-11-29 22:49] hodyroff commented on #25004
Is this still happening in 9.1.1?

[2016-11-29 22:55] hodyroff commented on #24890
Can this be reproduced with the newest server 9.1.1 and the newest desktop client?
@SamuAlfageme

[2016-11-30 00:37] crrodriguez commented on #26730
fixed

[2016-11-30 00:37] #26730 closed

[2016-11-30 07:46] hodyroff commented on #25633
@pmaier1 need to redisign and solve this. In this description stable and production is pretty identical for me. and x.x.0 release is indeed a "fresh" one, so that's kind of a great name.  Fresh then would mean that upgrades and full production usage is not yet recommended and should just be a rename of the current stable maybe?

    daily -> Daylies from master
    beta -> Real "betas" or "RCs" fo

[2016-11-30 08:06] hodyroff commented on #25053
This has changed from 9.0 to 9.1
There are Pro's and Con's. I think its fine as it is now, some people like the text. I guess only other option would be to have an option in personal settings to show time/text in the progress bar or show nothing (like 9.0 seems to behave).
Not a bug as it was clearly designed this way ;)

[2016-11-30 08:10] antoniopinarella commented on #25927
problem: Access forbidden, CSRF check failed

{"reqId":"UqeazYB7Qe5wftBFgHS9","remoteAddr":"192.168.12.29","app":"PHP","message":"session_write_close(): open(\/var\/lib\/php\/fpm\/session\/sess_ud2uevc4b0s8dhat1a2bvq9rh6, O_RDWR) failed: Permission denied (13) at \/opt\/owncloud-9.1.2\/lib\/private\/Session\/Internal.php#103","level":3,"time":"2016-11-30T08:57:47+01:00","method":"GET","url":"\/cro

[2016-11-30 08:14] RealRancor commented on #25927
@antoniopinarella Thanks for posting that. Wrong permissions are a known root cause of this: https://github.com/owncloud/core/issues/25927#issuecomment-262703655

[2016-11-30 08:40] TDannhauer opened #26744 "Unhandled exception on failed DB connect - exception should be handled."
Hi,

while migration an OC instance to another machine, I did everything correct (as it turns out) except adapting the PostgreSQL databad credetials for the new database. Yes I know, very stupid and unneccessary mistake.. *shame*
However, it took me a while to discover it since calling my new OC webinterface ended without any comment in Logfiles with the WSOD.

At the end, I discovered the error u

[2016-11-30 08:48] PVince81 commented on #24906
@DeepDiver1975 how critical is this ? Else => backlog

[2016-11-30 08:49] PVince81 commented on #26638
@mirekys mind sending your fix as a PR ? Thanks

[2016-11-30 08:59] PVince81 commented on #25782
@DeepDiver1975 will this code be reused for the market ? If not then might not be worth spending time to fix it but need to make sure the approach here is used for the market too ?

[2016-11-30 09:00] PVince81 commented on #25585
Likely an env issue, closing. You might want to check or post on http://central.owncloud.org/ for further help

[2016-11-30 09:00] #25585 closed

[2016-11-30 09:04] PVince81 commented on #25536
@dirt-devil can you try this ?

`update oc_appconfig set configvalue='yes' where appid='dav' and configkey='enabled';`

Maybe the "dav" app got disabled somehow...

Did you downgrade / restore from backup lately ?

[2016-11-30 09:09] PVince81 commented on #25479
Workaround would be to have the clients url encode the colon.

But it seems indeed to be a PHP bug, see https://bugs.php.net/bug.php?id=55511

[2016-11-30 09:10] PVince81 commented on #25379
@PhilippSchaffrath any idea since you touched theming recently ?

[2016-11-30 09:15] PVince81 commented on #25289
Not critical, moving to 9.2 for now.

[2016-11-30 09:16] PVince81 commented on #25167
Not critical -> 9.2

[2016-11-30 09:22] PVince81 commented on #26651
This will need backporting to 9.1 as we introduced cookie_test there I think

[2016-11-30 10:00] PVince81 commented on #26724
Looks like oc_filecache contains the avatar entries and on your env we saw that the perms were 17 instead of 31 for the "avatars" entry. Now I could imagine that the perms were wrong on disk at first when OC scanned the folder for some reason, but the filecache did not auto-update.

Also I checked locally (manually set perms to 17 for that entry), that occ files:scan does not update the entry.

I'

[2016-11-30 10:09] PVince81 commented on #24303
medium, moving to 9.2

[2016-11-30 10:11] PVince81 commented on #24465
@VicDeo can you take care of this ?

[2016-11-30 10:13] PVince81 commented on #23881
Please try again with 9.1.3 RC1 or 9.0.7 RC1, many issues related to transfer ownership were fixed there including the one with ext storages.

[2016-11-30 10:13] PVince81 commented on #23881
if the problem persists, please reopen

[2016-11-30 10:13] #23881 closed

[2016-11-30 10:21] PVince81 commented on #23671
I tested that with LDAP recently and I saw that the user who was marked as "isDeleted" => 1 was automatically set back to "isDeleted" => 0.

The problem here is that from a core point of view there is no such thing as zombie users. This concept is specific to the LDAP code where a user who was deleted in LDAP still exists somehow in OC as a zombie and needs manual cleanup. In an ideal case that us

[2016-11-30 10:22] davitol opened #26745 "Trying to edit a file added via link to a oC server from a 9.0.X oC Server throws an error"
### Steps to reproduce
1. In a oC server 9.0.7, create a text file
2. Share it via link
3. Add via this link the file to other ownCloud server using 'add to your owncloud' window.
4. Open the text file and edit it.

### Expected behaviour

It should not be possible to edit the file shared via link. The text editor should only shown the content of the text file.

### Actual behaviour

It looks like

[2016-11-30 10:25] ppaysant commented on #26724
Updating the oc_filecache table for the "avatars" line, it works. I close this issue.
Many thanks

[2016-11-30 10:25] #26724 closed

[2016-11-30 10:31] Pazu opened #26746 "Invitee to calendar event sees event in Contact Birthdays calendar!"
### Steps to reproduce
1. Create users A and B
2. User A creates event in default Personal calendar and invites user B

### Expected behaviour
User B should see event in their own default Personal calendar

### Actual behaviour
User B sees event in their Contact Birthdays calendar

### Server configuration
**Operating system**: linux

**Web server:** Apache Version 	2.4.23

**Database:** MySQL Ver

[2016-11-30 10:32] PVince81 commented on #23068
Closing as in 9.1 this problem won't happen any more because multiple crons can be run in parallel.

[2016-11-30 10:32] #23068 closed

[2016-11-30 10:33] PVince81 commented on #22806
I thought `execute()` could just return an error code and it would be returned by Symfony's console system ?

@VicDeo can you take care of this ?

[2016-11-30 10:35] PVince81 commented on #22522
ongoing task, moving to 9.2

[2016-11-30 10:36] PVince81 commented on #22465
didn't see this happen any more -> close

[2016-11-30 10:36] #22465 closed

[2016-11-30 10:37] PVince81 commented on #22336
@felixheidecke can you help with this ?

[2016-11-30 10:38] PVince81 commented on #22224
Closing due to lack of feedback.

Feel free to reopen if the problem still exists with 9.0.6, 9.1.2 with PHP >= 5.6.

[2016-11-30 10:38] #22224 closed

[2016-11-30 10:39] luckydonald commented on #25053
Maybe the algorithm calculating the remaining time can be improved, so there is less jumping in the values.
As I am not good in the related mathematics, someone else have to come up with a better formula.

[2016-11-30 10:40] PVince81 commented on #21968
I remember looking into this and not seeing a possible quickfix.

Also, I think configuring two ext storages pointing to the exact same remote storage with same credentials isn't really a use case as the receiving user would have the same storage twice.

Downgrading to medium

[2016-11-30 10:43] dbieling commented on #14886
Still now, I had this problem on the latest OwnCloud Version 9.0.1 and 9.1.0 on All-Inkl.
opendir(/tmp): failed to open dir: Permission denied at /.../lib/private/tempmanager.php#187

Because the solutions, mentioned here, seems not not work for the current OC-Version, i thought it would be god, to mention the solution, my hoster gave me:

1. Step:
Adding to config/config.php the following line:
'

[2016-11-30 10:45] DeepDiver1975 commented on #22336
with 9.2 we have the copy to clipboard functionality - this should work on ios as well

@nasli can you help testing this quickly? THX

[2016-11-30 10:46] PVince81 commented on #21866
@felixheidecke can you have a look ? Thanks

[2016-11-30 10:51] PVince81 commented on #20309
If that's the case then the keys for these files were already messed up in older OC versions where that old bug existed.

In general such issue is happening when keys are messed up. So if you're not able to restore the keys of this file from a backup, you won't be able to recover the data.

Now if this is happening for newly updated files, then it's definitely a bug. But old files: likely broken t

[2016-11-30 10:54] PVince81 commented on #26342
There is one when you delete them manually, but not if they use the `$user` variable.

But there is another bug that when you change the storage's config, it would simply create new storage ids and leave the old ones...

[2016-11-30 10:55] PVince81 commented on #23810
@DeepDiver1975 can you verify whether this is still an issue ?

[2016-11-30 10:58] PVince81 commented on #23679
Locking issue likely a duplicate of https://github.com/owncloud/core/issues/20380

If you're not using ajax cron but system cron, feel free to reopen.

[2016-11-30 10:58] #23679 closed

[2016-11-30 11:01] PVince81 commented on #18243
@PhilippSchaffrath any idea ?

[2016-11-30 12:01] PVince81 commented on #26627
@cornelinux PRs welcome 😉

[2016-11-30 12:05] PVince81 commented on #26517
Looking at your hotfix it seems to mean that somewhere there is previous code running that would setup the FS for the currently logged in user. But usually this should not happen for public links because it should switch to "incognito mode" early.

I don't see any third party apps in your list so it is unlikely that a hook of some sorts would access the FS very early on this code path.

Mind tryin

[2016-11-30 12:12] PVince81 commented on #26395
Also spotted on my private instance:
[code]

Usually OC doesn't care about the size of the root of the home storage and only cares about the size of "files".

Setting to medium for now.

[2016-11-30 12:12] PVince81 commented on #26395
Observed on 9.1.3RC1 by the way

[2016-11-30 12:18] PVince81 commented on #26155
More info in the linked ticket https://github.com/eduardok/libsmbclient-php/issues/43#issuecomment-250966064 pointing at a potential Icewind/SMB issue

[2016-11-30 13:20] cdamken commented on #8516
😸

[2016-11-30 13:21] cdamken commented on #11087
Close this?

[2016-11-30 13:33] paeppa commented on #26664
Any news on that issue? I don't know how to remove the "needs info" label.

[2016-11-30 13:35] jnweiger commented on #26730
thanks!

[2016-11-30 13:36] hodyroff commented on #26644
@SergioBertolinSG please check

[2016-11-30 13:50] PVince81 commented on #8516
Hmm, I don't remember which one. Let's keep it open then, it will surely pop up again.

[2016-11-30 13:57] PVince81 commented on #26664
As long as we can't reproduce the issue it will be almost impossible to fix it. So need to think of ways to make it reproducible.

[2016-11-30 13:57] paeppa commented on #26664
I thought it could be reproduced at demo.owncloud.org ?

[2016-11-30 14:06] PVince81 commented on #26664
Just tested your original steps at demo.owncloud.org.

When downloading the whole share with Firefox and Chromium both deliver a file "test.zip" which contains the date folder. Works for me. (I copy-pasted the name from github)

[code]

Here is the link in case you want to try: https://demo.owncloud.org/index.php/s/viXyLoccfjJBbqm

[2016-11-30 14:07] paeppa commented on #26664
Here is a Link that doesn't work for me:
https://demo.owncloud.org/index.php/s/uoKUeKZx9YLk8rV

[2016-11-30 14:07] paeppa commented on #26664
I just shared the existing folder "Music" (did not create or upload anything)

[2016-11-30 14:08] paeppa commented on #26664
Your folder works for me too.

[2016-11-30 14:08] PVince81 commented on #26664
@paeppa ok got it, thanks.

So there must be something in that folder... I see that I also can't download any individual file, it says "File not found"

[2016-11-30 14:11] PVince81 commented on #26664
I edited the link to allow editing. Trying to rename file gives a 403 Forbidden for the MOVE operation.
Same when trying to rename the main folder "brokenkites - parameter reallocation"

[2016-11-30 14:13] crrodriguez commented on #26345
Ok..no surprise since packages are not selinux aware.

[2016-11-30 14:13] PVince81 commented on #26664
Hmm, even when accessing that folder in the main interface, not through the share. I'm getting a 404.

I suspect that something is broken on the backend for that specific folder on this server.

[2016-11-30 14:15] PVince81 commented on #26664
From what I remember the demo server will auto-reset itself after a while.

@paeppa when you reported the issue, was it happening on your own server ? If it's still happening there it might be better to have a look there so we can look at the backend and oc_filecache.

[2016-11-30 14:16] PVince81 commented on #26664
Ok, looks like the server as just reinitialized itself. The shares are gone, the Music folder is as before.
I still can't download the files inside that folder... So probably something wrong on this specific server.

[2016-11-30 14:17] paeppa commented on #26664
Yes - it happend on my own server at home.
And because I had some plugins and external storage involved, I installed a "plain" owncloud in a new virtual machine. And there the same thing happened. Maybe I can give you access to that server later - my test server is currently only accessable inside my LAN.

[2016-11-30 14:18] PVince81 commented on #26664
None of the files can be downloaded, even README.md from the root is broken! That server seems broken. Nothing related to hyphens.

Regarding your own server: how exactly did you installed a plain server ? Did you reimport your files using the Webdav interface or did you put the files directly into the data folder ? Maybe you did some weird manipulation that the demo server is doing too which resu

[2016-11-30 14:20] paeppa commented on #26664
For installing I used the apt-repository of owncloud. I just installed the package "owncloud-files", because my MySQL-Server runs on a different host. Of course I created a new empty database.
I just used the web interface to create the folders and upload some test files.

[2016-11-30 14:23] butonic commented on #22689
this seems to work in ie 11: http://jsfiddle.net/q05ngura/3/

[2016-11-30 14:24] butonic commented on #22689
would solve multiple issues with ie11

[2016-11-30 14:24] butonic commented on #22689
maybe @PVince81 or @felixheidecke can have a look?

[2016-11-30 14:27] PVince81 commented on #25989
Indeed, here's the ticket in question https://github.com/owncloud/core/issues/7417

[2016-11-30 14:27] #25989 closed

[2016-11-30 14:30] PVince81 commented on #25947
The external storage variant works completely differently.

In the external storage mode, every file is stored using the full path as key. This means OC is simulating a tree structure inside the object store, similar to how some object store file managers do. This is bad for performance because need to filter every time a folder is accessed.

As primary storage it's much faster because all OC does

[2016-11-30 14:33] PVince81 commented on #26683
Ok thanks. If despite cleaning the memcache the problem still occurs, there is something fishy with the LDAP implementation or with the LDAP queries. I'm not sure if both `inGroup()` and `getUserGroup()` are using the same LDAP queries. If they are different then the question is why would LDAP return different results.

[2016-11-30 14:39] PhilippSchaffrath commented on #18243
Will test this, but might be already fixed with the new theming through apps approach. (because of the directory naming inconsistency that we fixed there)

[2016-11-30 14:40] PVince81 commented on #25852
ok fine, closing

[2016-11-30 14:40] #25852 closed

[2016-11-30 14:40] PVince81 commented on #25851
@lep86 did you try the command?

[2016-11-30 14:41] PVince81 commented on #25830
GRRRRR and it's still there

[2016-11-30 14:48] PhilippSchaffrath commented on #25782
I stopped looking into this issue because it's currently not reproducible. This will probably all be new in the new market.

[2016-11-30 14:57] PVince81 commented on #24321
Closing in favor of ajax cron ticket https://github.com/owncloud/core/issues/20380

[2016-11-30 14:57] #24321 closed

[2016-11-30 14:57] PVince81 commented on #24203
Closing in favor of https://github.com/owncloud/core/issues/20380

[2016-11-30 14:57] #24203 closed

[2016-11-30 14:58] PVince81 commented on #24035
@felixheidecke

[2016-11-30 16:02] PVince81 commented on #22641
Should not happen any more on master... Should we close or do you guys need a backportable quickfix ?

[2016-11-30 16:05] PVince81 commented on #21689
@PhilippSchaffrath

[2016-11-30 16:07] PVince81 commented on #21758
Closing as this app won't appear on app store or market anyway

[2016-11-30 16:07] #21758 closed

[2016-11-30 16:10] PVince81 commented on #20968
Any update from OVH ?

[2016-11-30 16:34] PVince81 commented on #17138
Closing due to lack of feedback.

[2016-11-30 16:34] #17138 closed

[2016-11-30 16:39] PVince81 commented on #10077
Already moved twice, no feedback, am closing this now. Please reopen if important.

[2016-11-30 16:40] PVince81 commented on #10257
Fine by me, closing

[2016-11-30 16:45] PVince81 commented on #19180
I'm moving this to backlog now until someone has time to look into the details. @DeepDiver1975 @butonic

[2016-11-30 16:45] PVince81 commented on #20481
I need to build a good test case where this issue is reproducible every time. Any suggestions ?

[2016-11-30 16:47] PVince81 commented on #26155
Is the file corrupted or truncated ? If truncated, duplicate of https://github.com/owncloud/core/issues/21171

[2016-11-30 16:48] PVince81 commented on #26470
@Rello for dev questions please send posts to central in the future and ping me there as @PVince81. Thanks

[2016-11-30 16:48] #26470 closed

[2016-11-30 16:50] Trefex commented on #20481
@PVince81 upload a lot of files to Google Drive and sync everything to your local machine.

I guess that should do it. A lot of small files, and perhaps 100.000 files or so.

[2016-11-30 16:51] PVince81 commented on #25189
@SergioBertolinSG can you retry with 9.1.3 RC1 ?

[2016-11-30 16:51] nasli opened #26749 "Notification alert can not be removed and block access to the menu in mobile browser"
### Steps to reproduce
1. Open owncloud in a mobile browser and a notification appears on the top
2. Try to go to contacts app

### Expected behaviour
We can removed the alert and access to the menu
![menuappsoc](https://cloud.githubusercontent.com/assets/6570505/20762060/6f1fb9f2-b725-11e6-8fbc-0e5ac47d3b62.png)

### Actual behaviour
Menu is blocked behind the notification
![notificationalertbloc

[2016-11-30 16:53] PVince81 commented on #24744
@cornelinux since you have experience with 2FA, can you comment on the need for this ? How does it work with privacyIDEA currently ?

[2016-11-30 16:55] nasli commented on #22336
@DeepDiver1975 I can not test it, appears empty, some notes added here https://central.owncloud.org/t/contacts-1-5-0-is-about-to-arrive/4259

[2016-11-30 16:56] PVince81 commented on #24981
I have the feeling that there is no good solution to this apart from using the new API directly. Also we'll remove the legacy Share API in 9.2.

Closing.

[2016-11-30 16:56] #24981 closed

[2016-11-30 17:00] PVince81 commented on #25593
Please try again with 9.1.2 or 9.1.3 RC1. A lot of issues have been fixed there, especially the "files app freezing a lot" kind.

If the problem about unshare still happens there, please reopen.

[2016-11-30 17:00] #25593 closed

[2016-11-30 17:10] stevenmcastano commented on #20481
That sounds about right. That exactly what I have… probably a little over 225 small word docs and spreadsheets. Then as soon as I add that folder to sync it pretty much does grab a set number of files which seems to be about 100, hit the user rate limit error, then when it tries again it downloads a few more… but the problem is, eventually it reaches a max where when trying again, just the verific

[2016-11-30 17:19] PVince81 commented on #26744
on master the WSOD should now be replaced with a string containing the actual error message. Maybe we should backport that fix

[2016-11-30 17:33] Trefex commented on #20481
Ah to be sure I meant 100 000 files not 100. That's what our users has anyway :)

Sent from my iPhone

[2016-11-30 17:39] stevenmcastano commented on #20481
Yup, I would say that would be a pretty solid test case as mine stops working LONG before that. I just tried it again to confirm. While it hasn’t been working, I basically have it turned off or the desktop clients just keep trying over and over again to sync and it’s just unnecessary load on the sever… not much though, I have a much smaller installation, only about 8 users.

[2016-11-30 17:39] davitol commented on #25189
@PVince81 Tested following the steps, fed share 9.1.3 RC1 to 9.1.3 RC1and everything went fine

[2016-11-30 17:50] nasli commented on #22336
Fixed, it was a misconfiguring server setting,

New copy button works with iphone 6

👍

[2016-11-30 17:56] #25189 closed

[2016-11-30 18:21] PVince81 commented on #7918
Oh no... I looked into the code and it looks worse than I thought.

Actually the private `Group` class doesn't represent a **single** group but **all** groups that might exist across multiple backends. So if two backends have a group "group1" it would store them both as a single `Group` instance. Then if you query its methods, it will iterate over the backends to fetch the info.

So it is not suit

[2016-11-30 18:24] PVince81 commented on #7918
Interestingly the user backend only supports single ids.

Now I'd be tempted to say that starting with 9.2 we won't support duplicate group names any more. Or if we introduce display names anyway, how about namespacing them by backend id ?

For example LDAP groups would use the $gid "user_ldap_somegroup1" for the LDAP group "somegroup1".
Local DB groups would use the $gid "local_somegroup1".
Then

[2016-11-30 18:27] PVince81 commented on #7918
Ok forget about namespacing for now, it's too complicated.

Let's say if there are setups out there that do have multiple group names, only one can win, the first backend would win. So everywhere the group id was specified like in share_with column would anyway be resolved to the first one. So what we can do is enforce that only the first group backend wins.
Maybe some warning needs to be displaye

[2016-11-30 18:47] paeppa commented on #26664
I made a test instance available to the internet. Is there a way to send you the details (URL, username and password) via private mail?

[2016-11-30 19:03] TDannhauer commented on #26744
Great, that was a fast fix! :)

[2016-11-30 19:12] PVince81 commented on #26744
Hmm, now looking at it I'm not 100% sure if it would fix this use case: https://github.com/owncloud/core/pull/26075

[2016-11-30 19:20] TDannhauer commented on #26744
Hm, honestly I don't understand the purpose of #26075..

[2016-11-30 19:27] PVince81 commented on #7918
Just did some testing: create a local group "Box10" then setup LDAP where there's also a group "Box10".
The result is that the LDAP mapper maps it to a new group "Box10_2" locally... clever.

But it still doesn't prevent a non-clever backend to just return the same group name.

Ok, and if I try to add a local user into a LDAP group it just does nothing and disappears on refresh.

At first I though

[2016-11-30 19:29] PVince81 commented on #26744
The purpose is simple: in some code path an error happens so early that the whole templating/logging system could not be initialized. Without these two it is impossible to use them to either render a nice error page or log an error in the log file. So without the fix it would just throw the exception and not print it anywhere: white page. With the fix at least the exception is caught and printed a

[2016-11-30 19:33] PVince81 commented on #26664
I don't need access to your instance for now.
1) Do you have a test case with a folder structure where the error happens ?
2) And can you confirm that folder names without hyphens have no issues on that same system ?
3) Does the problem from 1) disappear when you remove the hyphens from the name ?

[2016-11-30 19:35] PVince81 commented on #7918
Uh oh... while I can't add a local user to a LDAP group, I can add a LDAP user to a local group, the user appears in the `oc_group_user`. Might be fine though. I think it's not related to the multi-backend group then.

[2016-11-30 19:37] PVince81 commented on #23558
Do we also need a central groups table ? From what I see every backend provides a dynamic list of their groups.

Furthermore the groups logic is a bit worrying: the code seems to allow having the same group id coming from multiple backends, but so far it seems backends like LDAP does extra work to prevent duplicate ids. See https://github.com/owncloud/core/issues/7918#issuecomment-263951990 for my

[2016-11-30 19:43] paeppa commented on #26664
Yes - I have.
But seems not to be reproduceable on demo.owncloud.org.

[2016-11-30 19:43] PVince81 commented on #7918
Adding a display name and potentially further group info means that we also need to "merge" this info somehow into the virtual group, which isn't really possible in case they are different.

Maybe in the case of the display name we only take the one from the first backend then in case of conflict ?

[2016-11-30 19:50] PVince81 commented on #7918
WIP PR here https://github.com/owncloud/core/pull/26750

[2016-11-30 20:00] butonic commented on #10077
Still a problem without search elastic. search lucene could be used to provide a solution for small installations. would need some work, https://github.com/owncloud/search_lucene/issues/10.

or we could add this as another performance test via smashbox, cc @mrow4a

[2016-11-30 20:08] PVince81 commented on #7918
- [ ] backend interface support: https://github.com/owncloud/core/pull/26750
- [ ] add to local backend
    - [ ] new DB column in oc_groups for display names
- [ ] add display name support in various places
    - [ ] users page
        - [ ] display name in dropdowns (+ group id as tooltip)
        - [ ] rename icon in left panel if backend supports display name / renaming
        - [ ] somehow l

[2016-11-30 20:10] paeppa commented on #26664
Because my previous environments were all inside a LXC-Container, I used VirtualBox to setup Debian Jessie (minimal installation) in a VM. I wasn't sure if the error was somehow related to LXC.
But I could reproduce it in the VM too.

[2016-11-30 20:10] PVince81 commented on #26664
@paeppa can you post the owncloud.log entries and the directory tree that you are trying to download ?

[2016-11-30 20:12] PVince81 commented on #26664
@paeppa by the way, is there a Mac involved anywhere ? Once there was a guy who mounted a local mac folder as data directory inside the VM container. This is not supported.

[2016-11-30 20:15] PVince81 commented on #26664
@paeppa also enable the PHP module XDebug. This should help getting more detailed info in the log regarding the error. (this info wasn't available on the demo server since we don't have access to the backend)

[2016-11-30 20:15] paeppa commented on #26664
Directory tree is pretty simple - only one file:
/test/2016-02-02/test.txt

Here is the whole owncloud.log:
[code]

And no - there is no Mac involved.

[2016-11-30 20:16] PVince81 commented on #26664
Okay I think I might have an idea. So the files argument is "files=2016-02-02"

[2016-11-30 20:17] paeppa commented on #26664
You mean the download-URL?
It's:
`http://owncloud-test-vm/owncloud/index.php/s/V30II6vTH50qEbX/download?path=%2F&files=2016-02-02&downloadStartSecret=ybe6if2khc20elq3gt8uayvi`

[2016-11-30 20:20] PVince81 commented on #26664
Hmmmmmm... Can you run this little PHP script in the same VM / same PHP version ?

[code]

On my env this gives NULL.

I suspect that in your env somehow it parses this differently and makes `$files_list` be non-null in the code https://github.com/owncloud/core/blob/v9.1.2/apps/files_sharing/lib/Controllers/ShareController.php#L387, which makes the next `foreach` fail because the result is not an

[2016-11-30 20:21] paeppa commented on #26664
I did it on the OS-Console. Output was:
`int(2016)`

[2016-11-30 21:59] dirt-devil commented on #25536
Haven't restored or downgraded anything.

Run those instructions from a terminal window?

[2016-11-30 22:34] DeepDiver1975 commented on #10837
I'm closing this - HHVM is out of scope for us at the moment

[2016-11-30 22:34] #10837 closed

[2016-11-30 22:44] DeepDiver1975 commented on #22336
@PVince81 case closed?

[2016-12-01 00:23] nasli commented on #22336
Sorry @DeepDiver1975, I misunderstanding this issue, I thought it was the same as the contact one. :(

The share link text field is the same as with the contact, we should add there a copy button too.

Checking this things I noticed some more issues. The UI is not prepared for touch devices. Tomorrow I will open some.

[2016-12-01 03:14] lep86 commented on #25851
i'm reinstall owncloud to version 9.1.2 and work fine, sry. since when I published the entry took a very long timeю

[2016-12-01 06:43] PhilippSchaffrath commented on #25379
Running `occ maintenance:mimetype:update-js` should work in older versions, but definitely not in master.
This command iterates over all theme folders in the theme directory and generates information for the available icons. This generates unnecessary overhead when multiple themes are present.

Since it is possible to provide themes through apps now, we should use the theme object to generate a li

[2016-12-01 07:23] PhilippSchaffrath commented on #18243
Loading templates uses `OC_Templates:inc` which ultimately ignores themes. Seems like someone started implementing theme-support there, but never finished it. I will fix this.

[2016-12-01 07:29] cornelinux commented on #24744
Hi @PVince81
first of all I only see this behaviour with Google. ebay, paypal, github do not use such a behaviour. So this is rather uncommon in the fields of two factor authentication. (till now).
So why does Google do this? I guess - since they can.
And this might be the point here. If you want to implement such a feature you must be able to identify the user and where the user comes from in a v

[2016-12-01 08:45] DeepDiver1975 commented on #25379
I'd adjust the command to handle the enabled theme app as well.

[2016-12-01 10:02] PVince81 commented on #26664
Uh oh... there's your problem, your PHP somehow parses the date as an int ?!

Anyway, this is definitely a bug in ownCloud. We shouldn't rely on inaccurate parsing results.

[2016-12-01 10:04] PVince81 commented on #26664
Can you try this in the OC console ?
[code]

[2016-12-01 10:09] paeppa commented on #26664
Same result:
[code]

[2016-12-01 10:10] paeppa commented on #26664
I'm using standard PHP from current Debian stable...

[2016-12-01 10:16] PVince81 commented on #25536
@dirt No, this is a SQL statement to run in your database.

Before you run the update you might want to have a look at the current value with: `select * from oc_appconfig where appid='dav' and configkey='enabled';`. I suspect it might be disabled on your env.

[2016-12-01 10:18] PVince81 commented on #22336
@nasli do you mean the copy share link in the files app still does not work on master ?

[2016-12-01 10:19] PVince81 commented on #19430
admin page ? trying emptying/deleting owncloud.log

[2016-12-01 10:19] #25851 closed

[2016-12-01 10:19] PVince81 commented on #25851
Ok cool, good to hear it works now

[2016-12-01 10:23] PVince81 commented on #24744
Thanks a lot for your feedback @cornelinux. I think the idea was to store the info in a cookie. Not sure if such cookie could be spoofed but I guess the cookie would need to contain some token that is known by the server.

Maybe you're right and we shouldn't add this directly in ownCloud and leave this up to the 2FA provider to decide whether it's ok for them to remember that state. In this regard

[2016-12-01 10:25] PVince81 commented on #26664
Ok thanks.

I have PHP 5.6.28 from the openSUSE repos today and yesterday it was PHP 7.0.8.

Weird... Anyway, will need to think of a better way to pass a list of files to this URL in a consistent and reliable way.

[2016-12-01 10:28] paeppa commented on #26664
OK - thanks. I wait for the fix. ;-)

[2016-12-01 11:16] PVince81 commented on #26664
Fix is here https://github.com/owncloud/core/pull/26751 which gets rid of json_decode and uses a different URL format instead

[2016-12-01 11:36] paeppa commented on #26664
That was fast. I will try the fix later.

[2016-12-01 11:39] PVince81 commented on #26638
I couldn't reproduce the issue but you mentioned a cache, so it's probably memcache ?
Trying that now

[2016-12-01 11:40] PVince81 commented on #26638
Indeed, reproduceable with redis as local  memcache.

[2016-12-01 11:47] PVince81 commented on #26638
Fixed in https://github.com/owncloud/core/pull/26748

[2016-12-01 11:47] #26638 closed

[2016-12-01 12:08] nasli commented on #22336
Yes @PVince81, tested over {"installed":true,"maintenance":false,"version":"9.1.3.0","versionstring":"9.1.3 RC1","edition":""}

[2016-12-01 12:22] iArjan commented on #11682
Still waiting for this function.

[2016-12-01 13:11] PVince81 commented on #26749
Hmm ok, the notification must be made closable by passing extra arguments to the notification call.

[2016-12-01 13:14] PVince81 commented on #26692
I'm not sure if it's safe to fix the hook to fire after logout right now as it could affect other user backends.
So maybe an idea would be to add yet another hook "post_logout" that happens after ownCloud did its own logout.

[2016-12-01 13:29] dirt-devil commented on #25536
mysql> select * from oc_appconfig where appid='dav' and configkey='enabled';
+-------+-----------+-------------+
| appid | configkey | configvalue |
+-------+-----------+-------------+
| dav   | enabled   | yes         |
+-------+-----------+-------------+
1 row in set (0.00 sec)

[2016-12-01 13:53] manuelfink commented on #1190
# Server Replication vs LAN Sync vs Scaling Hosting

I do have pretty much the same scenario as @gebhard73. Slow internet connection at home + road warrior However I think LAN Sync may be the thing most people reading this thread are looking for. Thus I'd like to describe the 3 scenarios regarding sync, since I think this is not yet clear to everybody:

## LAN Sync

The idea behind LAN Sync is a P

[2016-12-01 13:53] VicDeo commented on #26501
@GhostCyborg What is the current state of you ownCloud?
Did you try to update to 9.1.2?

[2016-12-01 14:05] manuelfink opened #26752 "LAN Sync #FeatureRequest"
I'd like to catchup with the [LAN Sync](https://github.com/owncloud/client/issues/230) idea, since I think it is a feature, a lot of users need it. I'm posting this back in core again, since I think this is not only a client but also a server and core feature and required for server replication.

The ideas behind LAN Sync are simple, clients sync to each other over LAN

 * Pear-to-Pear sync from c

[2016-12-01 14:09] saivert commented on #13355
Why is such a feature relegated to the occ command and not available in the web user interface? So one can just click ... next to a file and click "Transfer ownership".

[2016-12-01 14:16] PVince81 commented on #13355
Because anything that is triggered from the web UI will create a PHP request which is likely to run into a timeout. In case of lots of files it is very likely that the PHP request will die due to a timeout and not complete the operation.

[2016-12-01 14:19] felixrupp commented on #26692
That sounds like a valid plan ;) ! Would be great if there is a possibility to add a second hook!

[2016-12-01 14:25] PVince81 commented on #26692
I suggest you add it yourself and submit a PR. This also makes it possible for you to test with your app to see if it works as expected.

From what I see the current logout hook is triggered here: https://github.com/owncloud/core/blob/master/lib/private/User/Session.php#L715

There is also some forwarding to the old static style hook here: https://github.com/owncloud/core/blob/master/lib/private/S

[2016-12-01 14:25] VicDeo commented on #22806
@PVince81

exactly

[2016-12-01 14:42] cornelinux commented on #24744
Having an additional method is fine for me. If you are not doing this in ownCloud still the question is, which information are available within the method ``is2FAAlreadyDoneForUser`` or in which way the cookie can be set and read.

I.e. there must be a method/hook to set the cookie and also write the cookie to the authentication system. The authentication system could keep track of which cookie wa

[2016-12-01 15:00] cornelinux commented on #26627
:-) Well I can adapt the code, but I do not know how to fix the translations!

[2016-12-01 15:06] cornelinux commented on #26627
hm, this is fixed. Who fixed this? :-)

[2016-12-01 15:06] #26627 closed

[2016-12-01 15:27] DeepDiver1975 commented on #22336
9.1.3 != master

The copy clipboard button is only available on master - see https://github.com/owncloud/core/pull/25418

[2016-12-01 15:47] compuguy commented on #25621
@PVince81 I'm no longer working for the company for which the nextcloud/owncloud instance had a issue with. You can try to contact @JamesonFinney about this issue for more information.

[2016-12-01 15:57] ernstzlo opened #26753 "Download of files stuck on ownCloud 9.1.2 with HTTP2 encryption"
### Steps to reproduce
1. Simply download a file of more then ~100 kB it stucks.
a 88kB file worked, a 96,6 kb stuck and every greater stuck too.

**Workaround:**
HTTP2 without encryption
  Protocols h2c http/1.1
is working.
Setup is Apache 2.4 with http2 enabled and PHP5.6.28 running as suPHP (fcgi handler).

### Expected behaviour
I should be able to download Files > 100 KB

### Actual behaviour

[2016-12-01 16:02] PVince81 commented on #25479
Apparently the web UI properly encodes the colon, probably because we use `encodeURIComponent` which does that. That's why it does work in the web UI.

[2016-12-01 16:06] RealRancor commented on #26753
The first step here would be use the only supported webserver combination Apache + mod_php. Most likely something in the combination of suPHP/fcgi is messing around with the download via PHP causing this issue.

You might also want to get in touch with a community like http://www.apachelounge.com/ to get help how to debug this on webserver level.

[2016-12-01 16:14] vmuth commented on #13346
in owncloud 9.0 the checkbox "Case insensitive LDAP Server" does not exist any more because owncloud does not need any tweaks any more. However, with OSX OpenDirectory this issue still exists. I have OSX "El Capitan" with OpenDirectory and now the same problem occours when user "Test" (in OpenDirectory) tries to log into owncloud (I tried to log in as "Test", "test", "TEST")

[2016-12-01 16:27] cdamken commented on #22370
@PVince81 could we also be backported to 9.0.X?

@Kawohl FYI

[2016-12-01 16:28] Kawohl commented on #22370
thanks....

[2016-12-01 16:36] PVince81 commented on #22370
@cdamken if we ever find how to fix this for all scenarios, then yes... hopefully...

[2016-12-01 16:44] PVince81 commented on #22370
Can anyone try with this debugging patch https://github.com/owncloud/core/pull/26735 and tell me whether the problems continue to happen ? It contains several trials to force `fclose` to happen and not be bypassed by potential PHP request killings...

[2016-12-01 16:54] pmaier1 commented on #25633
I just had a long conversation with @jnweiger about this. Our proposal is as follows:

We stay with four release channels

- **daily**
- **beta**
- **fresh** (formerly 'stable')
- **production**

and maintain the following workflow (example with 9.1)

- **daily** builds from master
[1] -> at some point: Decision to go beta 9.1.0
[2] -> at some point: Decision to go beta 9.1.1
[3] -> at some point:

[2016-12-01 16:59] PVince81 commented on #25633
This looks good yes.

But it reminds me that the web updater channels are inconsistent with the ones from distro packages.
Ideally we should unify them all, so the version paths you described above must be applied to all update methods at the same time (distro package repos, web updater, website?, etc).

[2016-12-01 17:01] PVince81 commented on #23740
Closing in favor of https://github.com/owncloud/core/issues/25479

[2016-12-01 17:01] #23740 closed

[2016-12-01 17:03] PVince81 commented on #25479
Instead of patching Sabre\URI maybe patching Sabre\Request::getPath instead to pre-encode the colon so that when we pass it to Sabre\URI::parse it will work...

[2016-12-01 17:50] paeppa commented on #26664
Just tested your patch (second commit 60e8aa2) in my test environment.
Works now as expected on my system.

[2016-12-01 18:26] GhostCyborg commented on #26501
@VicDeo Currently in '9.1.2 RC2'

[2016-12-01 18:49] VicDeo commented on #26463
@PVince81 See https://github.com/owncloud/core/issues/26463#issuecomment-262619896
my 9.0.4 also reports missing signature (as expected).
CLI integrity check works a bit differently than Web.
I've submitted https://github.com/owncloud/core/pull/26755 to make it consistent.

[2016-12-01 19:27] ernstzlo commented on #26753
**Thank you** for the prompt reply, but we have found our workaround already.
The using of HTTP2 **without** encryption solved the problem - so it seems it's not the suPHP/fcgi but the HTTP2 encryption, which caused the trouble. Before and after the problem we used suPHP/fcgi

It was just my wish of warning others / the ownCloud developpers, that there might be an issue with **HTTP2 encrpytion** -

[2016-12-01 20:27] felixboehm commented on #22370
@owncloud/qa

[2016-12-01 20:43] jnweiger commented on #25633
@pmaier1 we should have a graphical representation. I mostly understand your tabular description, but I need the whiteboard behind me for the context.... :-)

One interesting artefact of that is: the community release process is now very close to the enterprise release process. the only difference is, that for enterprise there is no stable(fresh). For enterrpise we keep the X.X.0 releases in 'beta

[2016-12-02 07:57] nasli commented on #22336
Ok, with {"installed":true,"maintenance":false,"needsDbUpgrade":false,"version":"9.2.0.3","versionstring":"9.2.0 pre alpha","edition":"Enterprise","productname":"ownCloud"}
there are a new copy button and works. We can close this :)

[2016-12-02 08:19] #22336 closed

[2016-12-02 08:22] PVince81 commented on #25633
Yeah, the "stable" channel for distro packages might not have the same level version as the "stable" channel in the web updater.

[2016-12-02 08:29] PVince81 commented on #22370
I rechecked my personal server which now runs PHP 7 but the problem has never reappeared since unfortunately. Ideal would be to be able to setup an env where the issue happens consistently but so far it is not clear at all what kind of setup it is. Since it's about GC the issue is highly random.

[2016-12-02 08:53] PVince81 commented on #22370
Looks like we got some clues thanks to @davitol, it seems to be related to aborted/cancelled connections. Or at least one scenario is.

I wrote this script to simulate a download and purposefully close the connection at random intervals and it is seems to reproduce one variant of the issue consistently:
[code]

[2016-12-02 09:17] PVince81 commented on #22370
Looks like sometimes the script needs to do more than 1 iterations before the issue starts happening, maybe to somehow induce the GC to start working. Once the problem appears, subsequent runs of the script seems to keep reproducing it. So let's stay it's always a "rough start".

This sounds like it would be good candidate for a smashbox test.

Happens with link share downloads and also Webdav end

[2016-12-02 09:22] hvisage commented on #26752
Let's quickly re-cap the responses I gathered thus far:

1) It's not a priority
2) it takes away the control/security from the server
3) it's not a priority
4) Not implemented in the upstream from the client they use and that would mean software development
5) The use case doesn't make sense/use for OwnCloud, as the typical deployments would be on-site/close to users which then negates the usefuln

[2016-12-02 09:34] PVince81 commented on #22370
This can get really confusing due to the several scenarios...

I just discovered that even a full Webdav download could sometimes produce a similar message.
It seems that `fclose` is called **twice**, once by us explicitly and once by the ghostly resource reaper of PHP 7. It is so ghostly that even the debugger isn't able to detect it.

Looks like patching Icewind/Streams to prevent duplicate call

[2016-12-02 10:32] plastikschnitzer commented on #23827
I also see this on version 9.1.2

[2016-12-02 11:36] PhilippSchaffrath commented on #18243
Fixed in #26757 and now works as expected.

[2016-12-02 11:37] DeepDiver1975 commented on #18243
@PhilippSchaffrath issues are to be closed as soon as the pr is merged. THX

[2016-12-02 11:38] PhilippSchaffrath commented on #18243
@DeepDiver1975 ups sry, thought a reference would be enough. My fault.

[2016-12-02 11:39] DeepDiver1975 commented on #18243
no prob at all - thx

[2016-12-02 12:05] Temtaime opened #26758 "Bug with 1 bit bmp"
### Steps to reproduce
1. Download http://cloud.acomirei.ru/index.php/s/0sHvBwXpMKxYxTK and unzip
2. Upload 3.bmp to the server using web ui

### Expected behaviour
The server generates correct preview image.

### Actual behaviour
Tons of

The server hangs and doesn't stop to populate a log file - when i found the bug the size of the log file was about 50GB.

### Server configuration
**Operating s

[2016-12-02 13:52] PVince81 commented on #22370
- [ ] smashbox test to reproduce the issue: https://github.com/owncloud/smashbox/pull/151

[2016-12-02 15:57] guruz commented on #26578
Currently the metadata the client expects are all sent back as HTTP headers..

[2016-12-02 17:37] Rello commented on #22370
@PVince81 my respect for your deep analysiis on this.

Let me know when the first code was patched with this ignore...
This will male it easier for me to understand what I have to do ;-)

[2016-12-02 21:03] PVince81 commented on #26195
Now the interesting part is that now we could move the comments app code (Sabre plugins + managers + DB structure) completely to the comments app. Same for system tags...

[2016-12-02 21:18] PVince81 opened #26760 "InfoParser not properly parsing single background-job, single command, etc"
### Steps

1. Add a breakpoint in `lib/private/InfoParse->parse()`
1. Open the web UI
1. When at the breakpoint, continue until it stops for either the files_trashbin or files_versions app
1. Evaluate `$array['background']['job']` and notice that it's not an array because it's a single item

[code]

When there is more than one item then it becomes an array...

For some reason the bkg job is still

[2016-12-02 21:20] PVince81 commented on #26760
When did you add these new entries, hopefully only 9.2 ? Would be good to double check them all and see if they are parsed properly for single items.

Setting as critical until we can confirm that all still works properly, somehow...

@DeepDiver1975 please have a look, thanks.

[2016-12-02 21:23] PVince81 commented on #26760
Just checked for commands, and it works but it's only by sheer luck.
This is from `loadCommandsFromInfoXml()`:
[code]

sometimes the index is a number, sometimes it's just `command` when it's a single item... a bug that cancels another one ?

[2016-12-02 21:24] PVince81 commented on #26760
or maybe this is all by design... would be good if you could confirm.

[2016-12-02 21:34] PVince81 commented on #26195
PR here: https://github.com/owncloud/core/pull/26761

I need to do more actual testing to see if everything fits correctly.
Some concerns:
- when should these app plugins be registered ?
    - inside the `beforeMethod` block that waits for auth ?
    - at the very end ? (this is what the PR does now)
    - what about auth ?
- where should the collection be registered ?
    - at the very end ? (thi

[2016-12-02 22:05] PVince81 commented on #26195
Interestingly this also means that CalDAV/CardDAV could be moved to their own separate apps and even be disable-able...

[2016-12-03 14:41] #18243 closed

[2016-12-03 14:42] PVince81 commented on #18243
From looking at the PR and the code it looks like this was never supported before.
But the question is whether it was by design or not... Anyway, starting with 9.2 overriding templates will be supported.

[2016-12-03 14:43] PVince81 commented on #26655
@guruz assigning you for now. Let me know if you need guidance or help.

[2016-12-04 12:00] PVince81 commented on #22370
In the end I made a simpler patch that calls `ignore_user_abort(true)` in ownCloud core's fopen function.

The patch changes two files:
1) icewind/streams fix for duplicate fclose (potential PHP 7 bug): it seems the smashbox tests (https://github.com/owncloud/smashbox/issues/151) cannot reproduce this, so maybe needs futher parameters to reproduce it in an automated manner
2) add `ignore_user_abor

[2016-12-04 12:08] Webbeh commented on #22370
Applied the patch. For now, no errors. Will confirm in a few hours when I'm sure the error doesn't come back.

[2016-12-04 12:32] Rello commented on #22370
Will apply it to nginx/fpm and give an update...

[2016-12-04 12:37] Webbeh commented on #22370
After ~60 huge downloads, aborts, etc, still no error.

[2016-12-04 12:55] cgogolin commented on #26667
To work around the problem I decided yesterday to copy over all entries from the dysfunctional calendar to the newly created one (export to .ics, then import, both with Evolution) and simply use the new calendar instead of the old one.

Unfortunately, after copying over all events, the new calendar now shows the same behavior as the old one. The person sharing the calendar can still create/edit/de

[2016-12-04 12:56] turin13 commented on #26683
Hi,
May affected user experience such a behaviour if he has no record in oc_mounts table?

[2016-12-04 13:22] cgogolin commented on #26667
Digging a little deeper reveals a another level of absurdity of this problem: Thunderbird with SOGo Connector 24.0.6 **is** able to write to the shared calendars using the account to which they were shared, but not, as explained above, Evolution mail or Davdroid.

[2016-12-04 13:38] cgogolin commented on #26667
I think this is a server issue, but have also opened a bug [report with Davdroid](https://forums.bitfire.at/topic/1268/can-not-edit-shared-calendars-on-owncloud-anymore) to geht their opinion. You can see the full debug output of Davdroid [here](https://forums.bitfire.at/uploads/files/1480858545173-debug.txt).

[2016-12-04 14:28] cgogolin commented on #26667
Another piece of potentially useful information (sorry for bringing them up one by one, I am not experienced with debugging ownclound): I get this error message repeaded many times in owncloud.log
[code]

[2016-12-04 14:36] philis commented on #26605
Must habe been som SQL issue. I changed the primary key of the affected row ant then the update ran thru.

[2016-12-04 14:37] #26605 closed

[2016-12-04 17:11] landryb commented on #26645
I don't know if it's the *same* issue, but im also experiencing the second problem:

[code]

Using firefox 51beta as a client, and the install is 9.1.2 running on OpenBSD, with php 5.6.23 and served by nginx 1.10.1.

[2016-12-04 17:14] RealRancor commented on #26645
@landryb See:

[2016-12-05 08:43] PVince81 commented on #26683
The oc_mounts table isn't authoritative, it's currently just like a cache. If you'd delete entries there they'd appear again the next time the user's FS is setup. In the case of your users experiencing the problem, the code never reaches the part where it actually adds the entries into that table.

It should be possible to provide a quick workaround for these users to be able to bypass that except

[2016-12-05 08:59] PVince81 commented on #25830
Ok, here's an idea: next time it fails somewhere, let's copy the log and compare it with a successful build. Maybe there will be clues about the test running order which we could somehow enforce locally to get the same results.

[2016-12-05 09:30] PVince81 commented on #26744
I have tested this on stable9.1 and master with a failing Mysql connection (I shut down the server).

I can confirm that instead of a white page the exception now appears directly on that page.

[2016-12-05 09:30] #26744 closed

[2016-12-05 09:30] PVince81 commented on #26744
that is, fixed on master

[2016-12-05 10:50] EricKerby commented on #26513
I just performed an upgrade via the apt repo from 9.1.1 to 9.1.2 and this issue happened again as expected. I hit the error and when the upgrade finished and I turned off maintenance mode the calendar and contacts functionality (web apps and ability to sync via CalDAV and CardDAV) was disabled. I just had to open the owncloud web app and "Enable" Calendar and Contacts again. At that point syncing

[2016-12-05 11:12] turin13 commented on #26683
@PVince81 we're using Active Directory with all DCs 2012R2 and the same functional level of the domain.
[code]

[2016-12-05 11:38] DeepDiver1975 commented on #26760
This codeblock is making sure this properly is populated:
https://github.com/owncloud/core/blob/master/lib/private/App/InfoParser.php#L124-L126

[2016-12-05 11:38] DeepDiver1975 opened #26764 "php 7.1 tasks"
This is an overview ticket to get an understanding of things which need to be done to get ownCloud ready for php 7.1

- upgrade guzzlehttp - see https://travis-ci.org/owncloud/contacts/jobs/181311505#L1460

[2016-12-05 11:40] PVince81 commented on #26760
Yeah, I figured that out in the end... a bit obscure but ok

[2016-12-05 11:40] #26760 closed

[2016-12-05 11:44] DeepDiver1975 commented on #26760
I know - but this is how the xml parser works ...

[2016-12-05 12:41] tomneedham opened #26765 "Reimplement settings page search functionality"
UX regression from the new implementation of settings panel loading from https://github.com/owncloud/core/pull/26449. See https://github.com/owncloud/core/pull/26449#issuecomment-264802970 and below.

### Steps to reproduce
1. Visit settings page
2. Want to search for a settings within the personal or admin settings

### Expected behaviour
 - Can either use ctrl+f to find
 - Or use search box

###

[2016-12-05 13:21] Pazu commented on #23827
I also see this using 9.1.2. @nickvergessen, could you reopen this?

[2016-12-05 13:34] #22806 closed

[2016-12-05 22:01] rloutrel opened #26768 "user wants to share a folder, with a sharing name different than the original one"
First of all, I looked all opened issues [there](https://github.com/owncloud/core/issues?page=6&q=is%3Aissue+is%3Aopen+label%3Afeature%3Asharing&utf8=%E2%9C%93), to be sure, this would not be a duplicate

### A small Ux representation (search for the red rectangle)
![ux_suggestion](https://cloud.githubusercontent.com/assets/11015691/20903878/6c935c18-bb3d-11e6-90b9-4c7cfaa8047b.png)

### Steps to

[2016-12-06 07:55] PVince81 commented on #26768
Any particular reason why a user might want to do that ?

In theory it's already possible right now but needs a bit of manual fiddling:

1. Rename folder to the "suggested name"
1. Share with recipients
1. Rename folder back to original name.

Tagging as enhancement.

[2016-12-06 07:57] PVince81 commented on #26764
do it! or is it more complicated than just updating the composer version ?

[2016-12-06 08:50] DeepDiver1975 commented on #26764
there is an api break in gruzzle 5x to 6x .... I'm having a look ....

[2016-12-06 09:43] Wikinaut opened #26769 "[When updating any app] "Es ist eine Aktualisierung verfügbar." message is not cleared when updating finished."
* Nextcloud 10.0.1
* Server Debian 8

When updating an App which requires updating, on the Apps screen section for that specific App the string `"Es ist eine Aktualisierung verfügbar."` is not cleared when the updating starts or ends.

[2016-12-06 10:42] butonic opened #26770 "Remove settings/tests and core/js/tests from 9.1 tarballs"
[code]

VeraCode warns about hardcoded passwords ... kill the tests from the tars. Master [already does](https://github.com/owncloud/core/blob/master/Makefile#L202-L203).

cc @PVince81 if you want to clean up 9.1 tarballs a little

[2016-12-06 10:49] PVince81 commented on #26770
Yeah, master has the magic makefile... Will need to tweak the release scripts.

[2016-12-06 11:12] #26764 closed

[2016-12-06 11:12] DeepDiver1975 commented on #26764
stupid me - php7.1 on stable9 is pointless

[2016-12-06 12:19] PVince81 opened #26771 "PHP unit tests side effect depriving legit tests from their DB connection"
Basically you have two test classes A and B (in this order, alphabetically), extending `\Test\Testcase`.
In class B you specify `@group DB` but not in class A.

For some reason class B receives `null` when calling `\OC::$server->getDatabaseConnection()`.

See reproduction case here: https://github.com/owncloud/customgroups/pull/9

@DeepDiver1975

[2016-12-06 12:21] PVince81 opened #26772 "PHPUnit not always reporting risky tests"
### Steps
1. Have two test classes A and B, both with `@group DB` and extending `\Test\TestCase` and with many test cases defined.
1. Add two empty methods, one in each class.
1. Run tests.

### Expected
phpunit reports 2 risky tests

### Actual
phpunit only reports 1 risky test and ignores the other one

See reproduction case here: https://github.com/owncloud/customgroups/pull/8

@DeepDiver1975

[2016-12-06 12:30] DeepDiver1975 commented on #26771
because of this https://github.com/owncloud/customgroups/pull/9#discussion_r91068083

parent implementations of setupo and teardown need to be called

[2016-12-06 12:30] #26771 closed

[2016-12-06 12:38] PVince81 commented on #25479
WIP PR here that adds a test to reproduce the issue: https://github.com/owncloud/core/pull/26773

The final fix will require upgrading sabre/uri after https://github.com/fruux/sabre-uri/issues/9 is released

[2016-12-06 12:44] sbraz opened #26774 "Storage repair iterates over all LDAP users during upgrade"
As discussed with @DeepDiver1975, while upgrading from 9.1.0 to 9.1.2 for an instance which uses LDAP, the code iterates over all users matched by the LDAP filter, not only those who connected once.

[2016-12-06 13:08] PVince81 commented on #26772
A fix has been put in https://github.com/owncloud/core/pull/26750

[2016-12-06 13:08] #26772 closed

[2016-12-06 13:51] mrow4a commented on #26702
Hope this will be usefull:

Average results from 3 tests -> https://github.com/owncloud/smashbox/pull/152.

This test will create, sync & share n files in the root directory. For each single file, it will execute sync(PROPFIND&PUT) and after that, share.

These are results for oc82 and oc90, I enabled the same apps there:

![selection_083](https://cloud.githubusercontent.com/assets/13368647/209277

[2016-12-06 13:55] DeepDiver1975 commented on #26774
https://github.com/owncloud/core/blob/master/lib/private/Repair/RepairLegacyStorages.php#L212

we should iternate only over the known users

[2016-12-06 13:57] mrow4a commented on #26702
For oc90, both sync and share raises faster, look 1st and last requests values on y axis

[2016-12-06 13:59] felixboehm commented on #26702
9.0 shows increasing share request duration with n.
Larger n to check linearity?

How are the Sync / Propfind times of the share receiver with n?

[2016-12-06 14:04] mrow4a commented on #26702
In this test, share receiver just checks consistensy, his just receives files at the end

[2016-12-06 14:08] felixboehm commented on #26702
Receivers Propfind performance would be very interesting

[2016-12-06 14:25] mrow4a commented on #26702
Ok, now I get the problem. I will insert statistic both for sender and receiver of the share, for N create&sync&share. After the exam tomorrow, because will need to modify the script a little to log more things, so that I can "grep" it later.

[2016-12-06 14:30] Webbeh commented on #22370
Still no error today.

Assuming the bug is now fixed. Good work !

[2016-12-06 14:43] #26770 closed

[2016-12-06 14:47] PVince81 commented on #26774
I just realized a flaw of this: `if ($this->config->getAppValue('core', 'repairlegacystoragesdone') === 'yes')`.

This repair was supposed to run only for installs that were created before OC 8.1 or so, then never run again thanks to this flag.

However this flag isn't set for new OC >= 8.1 new installs, so it would run at least for the very first upgrade. This is wrong.

One idea would be to kill

[2016-12-06 14:50] PVince81 commented on #26774
Quick workaround:
`insert into oc_appconfig values ('core', 'repairlegacystoragesdone', 'yes');`

[2016-12-06 14:51] PVince81 commented on #26774
From what I see that class was introduced in OC 8.0, so it's the upgrade from OC 7 to OC 8 that needed this repair. If the repair has been done already then there is no need to do it in later versions.

[2016-12-06 14:53] PVince81 commented on #26774
One commonly observed problem is that on some setups people ignored the warnings given by this repair step in case of unrepairable situations. Then the duplicate storages still exist up to current versions. (the duplicates could only have been created in OC < 8.0).

But with that reasoning, if the duplicates could not be fixed automatically, the repair step itself can still be removed from the cod

[2016-12-06 14:54] PVince81 commented on #22370
Thanks a lot for the feedback !
Would be good to hear about other reporters.

I will now make a PR for the View specific change.

[2016-12-06 14:59] PVince81 commented on #22370
PR for the view part here: https://github.com/owncloud/core/pull/26775.

The other PR that upgrades the Icewind/streams lib is here: https://github.com/owncloud/core/pull/26762

[2016-12-06 15:06] PVince81 commented on #25830
Here we go, captured results from a failed run: https://s3.owncloud.com/owncloud/index.php/s/VFIlf7xcUlydWFz

[2016-12-06 15:08] PVince81 commented on #25830
And here from a succesful run: https://s3.owncloud.com/owncloud/index.php/s/Pcse0rR48r6MVX2

Let's see if we can find anything about test order...

[2016-12-06 15:16] butonic commented on #26770
awesome @PVince81 being awesome!

[2016-12-06 15:21] PVince81 commented on #25830
So I post-processed the logs a bit and removed timestamps and unified the test URL due to it containing the PR number + a hash.

Here are both processed logs: https://s3.owncloud.com/owncloud/index.php/s/huNPY2MItMoGr2Y
Try diffing, for example: `vimdiff jenkins-success.txt jenkins-fail.txt`

I diffed them and so far what I observed:
1) the test order is exactly the same in both
2) for some querie

[2016-12-06 15:30] ReWage opened #26776 "Redirect loop"
I have fresh installation of owncloud.
After going to main page of Owncloud Chrome browser gives error "ERR_TOO_MANY_REDIRECTS".

Server configuration:

Operating system: Ubuntu 16.04.1 LTS
Web server: Ajenti V (nginx)
Database: Mysql
PHP version: 7.0
ownCloud version: 9.1.2.5

[2016-12-06 15:31] PVince81 commented on #25830
Success:
[code]
vs failure:
[code]

There is something weird happening here:
[code]
At step 1 user0 shares folder X with user1
At step 2 user1 renamed folder X to Y
At step 3 user0 shares folder X with group1, but here suddenly folder X doesn't exist any more ?! (404)

Now renaming a folder as recipient shouldn't in any way affect the source folder. It should only update the "file_target" in the d

[2016-12-06 15:37] PVince81 commented on #25830
Hmm no, I think I read it wrong because the HTTP request logs appear much later than the behat entries.

The 404 is clearly for the PROPFIND of `Then as "user1" gets properties of folder "/merge-test-outside-groups-renamebeforesecondshare-renamed" with                                        # FeatureContext::asGetsPropertiesOfFolderWith()`

So this means that both the user share then group share g

[2016-12-06 15:44] PVince81 commented on #25830
Mystery solved: https://github.com/owncloud/core/pull/26777

It was indeed an issue that only appears when the test server is too fast and the share times are equal.

[2016-12-06 16:04] RealRancor commented on #26776
@ReWage Please note this is is a bugtracker of ownCloud. For support questions like this  https://central.owncloud.org/ needs to be used.

[2016-12-06 16:06] Kitounet opened #26778 "Hook doesn't work with getRootFolder()"
Hello everyone,

I'm a beginner in developing owncloud apps and I actually have a problem for implementing the hooks.
I followed this documentation https://doc.owncloud.org/server/9.2/developer_manual/app/hooks.html and tested with the getUserManager() function and it worked. (I saw with the logger if it worked or not)
But I'm applying the same code's logic with getRootFolder() and nothing happens

[2016-12-06 16:09] butonic commented on #26538
Maybe using the `Retry-After` header makes sense. Hm we could use it to tell the clients how often to do a PROPFIND. Even dynamically based on server load. And I agree that something like a 'MaintenanceException' in a 503	Service Unavailable with the Retry After header makes sense.

[2016-12-06 16:18] #26776 closed

[2016-12-06 16:32] PVince81 commented on #26778
Mind posting the code how you register the hooks for `getUserFolder()` and `getRootFolder()` ?

[2016-12-06 16:33] PVince81 commented on #26778
also important: what file actions are you performing for which you expect the hook to be created.
More precisely: are you listening for hooks with the same user who is doing the file action ?

[2016-12-06 16:39] PVince81 commented on #26774
PR to remove the repair step completely https://github.com/owncloud/core/pull/26779

[2016-12-06 16:43] PVince81 commented on #26076
@DeepDiver1975 @Peter-Prochaska please tell me if this is the correct approach and I'll adjust composer then

[2016-12-06 16:50] PVince81 commented on #24053
Downgrading to high, I don't think this is critical / showstopper. @michaelstingl @cdamken

We need an agreement on how to proceed with the fix and the expected behavior.
I think what @jochenwezel said here https://github.com/owncloud/core/issues/24053#issuecomment-256608820 is what makes most sense.

[2016-12-06 16:51] PVince81 commented on #22414
Decreasing severity to high

[2016-12-06 17:00] PVince81 commented on #26663
I still don't get it. At the beginning of `v1.php` there are calls to `needsUpgrade()` which itself already calls `\OCP\Util::getVersion()`. There is still something very twisted happening here.

[2016-12-06 17:06] PVince81 commented on #25564
@davitol can you provide an integration test for this case ? Thanks

[2016-12-06 17:14] PVince81 commented on #22641
ok then, I'll close. Thanks

[2016-12-06 17:15] PVince81 commented on #22462
Seems no one ever complained about this, moving to backlog for now

[2016-12-06 17:17] ennder opened #26780 "Admin / Users linked to LDAP not usable with thousands of users"
Hi,
We are using Owncloud here with around a thousand of users linked to our LDAP.
Owncloud is really a nice software.

The only part of it that lacks some optimisation is the Users administration.
The page takes minutes to display after a few messages from the browser telling us that it takes too much time to display. Moreover the search input can't stop this process.

We have tested with multipl

[2016-12-06 17:22] #26680 closed

[2016-12-06 17:25] PVince81 commented on #19153
@pmaier1 @felixboehm I'd like to move this to backlog for now, there is no time for this in 9.2.

Very rough estimate 10-15 md.

[2016-12-06 17:28] PVince81 commented on #26593
Closing as fixed in https://github.com/owncloud/core/issues/26628

[2016-12-06 17:28] #26593 closed

[2016-12-06 17:30] ennder opened #26781 "Share tool : users input discrepancies compared to Share link tool"
Hi,

In the share resources page, the user search box has a few issues that we don't find in the one for the share by public link.
- We can't find users by typing some letters of the LASTNAME (must give the first letters of the Firstname)
- Case sensitive
- Accents not recognised
Can the search rules be the same with the Share link tool ?

Tested with Owncloud 9.0.2

[2016-12-06 17:33] ennder commented on #26780
Sorry, It seems this issues duplicates this one : #26234

[2016-12-06 17:37] ennder commented on #26780
And this one :  #25922

[2016-12-06 17:41] PVince81 commented on #26538
If that's what the admin decided, then the admin can also manually delete the matching storages from the config.

Not directly. This is mostly for the case where for example the FTP app was available in OC < 9.2 with respective storages but then when upgrading to 9.2 it has been moved to the market, so the admin might need to manually reinstall it. (unless we can do this automatically, somehow)

Y

[2016-12-06 17:43] pmaier1 commented on #19153
Probably also related to this https://github.com/owncloud/platform/issues/44.
As it is no dependency for the agreed upon items for the next release I think you can do so. @butonic what does 'came up again' mean? by whom? Anyway, this should not fall into oblivion and be discussed for the following release.

[2016-12-06 17:44] #26471 closed

[2016-12-06 17:45] PVince81 commented on #26463
https://github.com/owncloud/core/pull/26755 is merged.

Close or is there anything remaining ?

[2016-12-06 17:46] PVince81 commented on #26437
@mjobst-necls I guess this is fixed now or did I miss something ? (can't remember the details)

[2016-12-06 17:47] PVince81 commented on #14769
Does anybody still have this issue with OC 9.1.2 ?

[2016-12-06 17:49] PVince81 commented on #19153
Moving to backlog then.

Since this is a public ticket I'll just mention that the platform ticket above is about https://github.com/owncloud/android/issues/1676 and https://github.com/owncloud/ios/issues/656 to have mobile accept federated shares through notification apis

[2016-12-06 17:50] #22724 closed

[2016-12-06 17:55] #26226 closed

[2016-12-06 17:56] PVince81 commented on #26166
Obsoleted by market commands. @DeepDiver1975 please link to documentation about commands, thanks.

[2016-12-06 17:56] #26166 closed

[2016-12-06 17:57] cornelinux commented on #26708
Unfortunately the guzzle client does not behave as documented and expected.
I need some more time to look into this and maybe open an issue with guzzle.
This is why the prio in combination with the effort to fix this caused the delay in the processing of this issue ;-)

[2016-12-06 17:59] PVince81 commented on #26708
This is fine, no worries. Take your time 😄

[2016-12-06 18:04] PVince81 commented on #26054
Moving to backlog for now, unless there are objections.

[2016-12-06 18:05] PVince81 commented on #26007
low -> backlog

[2016-12-06 18:10] PVince81 commented on #25719
This is because you went to the users page and it fetched the avatar for the users...
Starting with 9.2 the avatars are stored elsewhere, so they don't require a home storage to be mounted/configured.

Please reopen if you still see this on master.

[2016-12-06 18:10] #25719 closed

[2016-12-06 18:10] VicDeo commented on #26463
yes, both https://github.com/owncloud/core/issues/26704 and https://github.com/owncloud/core/pull/26755 address this.

[2016-12-06 18:10] #26463 closed

[2016-12-06 18:12] #25461 closed

[2016-12-06 18:14] PVince81 commented on #25350
This should now be easier to implement when based on info.xml which contains the list of jobs that needs to be registered.

[2016-12-06 18:15] PVince81 commented on #25342
@PhilippSchaffrath what do you think ?

[2016-12-06 18:16] PVince81 commented on #25300
@PhilippSchaffrath FYI if you're touching the auth code

[2016-12-06 18:17] PVince81 commented on #25130
Closing as duplicate of https://github.com/owncloud/core/issues/15701

[2016-12-06 18:17] #25130 closed

[2016-12-06 18:18] PVince81 commented on #24931
Could use the notification API for that (but that one doesn't send emails yet...)

[2016-12-06 18:19] PVince81 commented on #24794
I think this is obsoleted by OAuth2 ?

[2016-12-06 18:21] PVince81 commented on #24612
PR was reverted, closing

[2016-12-06 18:21] #24612 closed

[2016-12-06 18:23] PVince81 commented on #24301
https://github.com/owncloud/core/pull/24897 was closed with "will not work".

@DeepDiver1975 what to do with this ticket then ?

[2016-12-06 18:25] mjobst-necls commented on #26437
@PVince81 Yes, this is fixed.

[2016-12-06 18:25] #26437 closed

[2016-12-06 18:29] rloutrel commented on #26768
Hi @PVince81 ,

thank you for your quick reply.

I describe a typical use case (mine) [here](https://central.owncloud.org/t/owncloud-opp-9-2-release-based-planning/2511/9), since I guess, github is not the place where to discuss if it is relevant or not, where the forum is.

Thank you for your workaround suggestion, but I guess I will not really use it.

[2016-12-06 18:29] PVince81 commented on #23421
@jvillafanez oh, look what I found... as we were just talking about this in https://github.com/owncloud/core/pull/26750

I see at least three interfaces:
- methods for read-only group + members provider
- methods for read-write group management
- methods for read-write group members management

[2016-12-06 18:30] PVince81 commented on #23392
@jvillafanez some food for thought, in case you haven't thought of ext attributes before

[2016-12-06 18:32] PVince81 commented on #23249
@Peter-Prochaska

[2016-12-06 18:37] PVince81 commented on #22442
@DeepDiver1975 @PhilippSchaffrath thoughts ? Would move to backlog if there is no objection.

[2016-12-06 18:54] tomascohen commented on #25692
The point of having an upgrade script with sanity checks reporting eveltual problems (+1)  is that you can detect what's going on.
-1 for OC not reporting the problem to the end user (yield in a void in which it cannot complete the upgrade and the last resort is to google for the message).
-1 for OC, if there's a production OC, successfully having Memcached set, why does the upgrade fail? Is this

[2016-12-06 19:02] RealRancor commented on #26780
@ennder Exactly, this looks like a duplicate of the ones above. As you're running an quite outdated version (9.0.6 and 9.1.2 are current) you don't have this fixes yet.

In general its also highly advised to always use a recent version before reporting any issues. This makes sure you're not reporting issues already fixed.

[2016-12-06 19:13] RealRancor commented on #26781
The same as in https://github.com/owncloud/core/issues/26780 is also valid here:

[2016-12-06 20:47] #26774 closed

[2016-12-06 21:06] #26664 closed

[2016-12-06 22:15] deepeshmittal opened #26783 "Base table or view not found: 1146 Table 'mathcloud.oc_authtoken' doesn't exist"
Hi All,

I did some search online and also on this forum and when I didn't find the solution yet I decided to post an issue here.

I was using OC 9.0.X version and I wanted to upgrade my OC to 9.1.X. While upgrading it was throwing error for PHP5 sqllite and pgsql packages probably because I have PHP 7 installed on my system. So I decided to download new tar file from OC website and tried to confi

[2016-12-06 22:36] DeepDiver1975 commented on #22442
symfony/polyfill appears to be more active compared to patchwork .... I'm undecided ...

[2016-12-06 22:37] #25830 closed

[2016-12-06 23:19] #26195 closed

[2016-12-07 07:57] PVince81 commented on #25692
What are the steps to reproduce the issue ?
Setup memcache then simply upgrade ?
Is this happening with any kind of memcache server ?

[2016-12-07 08:29] Kitounet commented on #26778
Hi,

Yes sure here is the code.
[code]
[code]
[code]
I tried to upload a file or create a folder, I saw in the core that when a folder or a file is created it will emit the "preWrite" and "preCreate".
I'm not sure if I really get your last question. I'm using the administrator account.
My hooks is not supposed to listen every users actions ?

Thanks for your help.

[2016-12-07 08:33] #24218 closed

[2016-12-07 08:40] PVince81 commented on #26778
Thanks, I need to try this locally.

Question: you said that the hooks work with `getUserFolder` and as you seem to be writing a quota app, I think using that one should already be enough. Is there a particular reason why you prefer hooking into `getRootFolder()` instead ?

Side note: an alternative to hook is using defining and registering storage wrappers, but I don't think there is any good doc

[2016-12-07 08:48] Kitounet commented on #26778
I said the hooks worked with `getUserManager() `not `getUserFolder()`, just as shown in the doc.
The class returned by `getUserFolder()` seems to not have listen function in the core, this is why I'm using `getRootFolder()`.

I saw nothing about an alternative to hooks, can I ask you more information ?

Thanks

[2016-12-07 08:55] PVince81 opened #26786 "Provide public APIs to register storage wrappers"
Currently storage wrappers can only be registered through the private `preSetup` hook on the Filesystem object, the `Wrapper` class itself is private and also the wrap method is: https://github.com/owncloud/core/blob/master/apps/files_trashbin/lib/Storage.php#L181

We should move these to the public namespace to make storage wrapper public.

That is, unless we want to get rid of storage wrappers a

[2016-12-07 08:56] PVince81 commented on #26778
Argh, ok. I read `getUserFolder()` when you wrote `getUserManager()`.

Regarding storage wrappers, here is an example for the trashbin: https://github.com/owncloud/core/blob/master/apps/files_trashbin/lib/Storage.php#L32

And here is how to register a storage wrapper from inside an app with the presetup hook: https://github.com/owncloud/core/blob/master/apps/files_trashbin/lib/Trashbin.php#L943 an

[2016-12-07 08:57] PVince81 commented on #26778
Oh, now I remember when it was, see this ticket: https://github.com/owncloud/core/issues/20564

Does your app have the type "filesystem" ?

[2016-12-07 09:03] Kitounet commented on #26778
Thanks for the information about storage wrappers!

I found this ticket yesterday and added "filesystem" inside info.xml and it didn't solve my problem.
[code]

[2016-12-07 09:06] PVince81 commented on #26778
Try with `types` in plural 😄

[2016-12-07 09:13] Kitounet commented on #26778
I changed in `types` and it's still the same.
I would have preferred to have a typing error.

[2016-12-07 09:21] PVince81 commented on #26778
Works for me with your code when creating a folder:

[code]

I copy-paste the files from the ticket.
Had to comment out the navigation manager stuff and also commented out the `autoloader.php` line.
And in info.xml I change the type to be plural as well.

This is with the latest OC master (c206d4b0361ba8c8583aec3e49d0a9d4d77a08cc)

[2016-12-07 09:23] PVince81 commented on #26778
I zipped it up for you to test on your env: https://s3.owncloud.com/owncloud/index.php/s/z4psgUO5BK2yx6I

[2016-12-07 09:47] ppaysant opened #26788 "Add computerFileSize in js script OC.Util"
### Steps to reproduce
There's no computerFileSize function in javascript OC.Util, as the one in helper.php.

### Expected behaviour
This function may help. For instance, I'm calling the setquota.php in settings/ajax/ from one of my app and the quota size returned is in human readable format. I need the size in bytes.

### Actual behaviour
Expect the function to be here :)

### Server configuratio

[2016-12-07 10:05] Kitounet commented on #26778
Ok I tested it on my env and I got something strange.
I got the logs only when I'm creating an User. It's like I'm using `getUserManager()` with "preCreate".
I edited the logs message to see if I'm using the last code and it seems that I'm using the right one.

It's using a different method and url and I don't know why.

[2016-12-07 10:06] SergioBertolinSG commented on #26241
This is fixed in https://github.com/owncloud/core/pull/26535

Following this steps https://github.com/owncloud/core/pull/26535#issuecomment-259723052

To make it work following current steps it requires https://github.com/owncloud/core/pull/25838 to be merged first.

[2016-12-07 10:10] PVince81 commented on #26778
@Kitounet ah, you're creating a new user in the users page ? I think when you do that it might create the home folder (+ copying skeleton files) for that user and indirectly triggering these root folder hooks.

[2016-12-07 10:19] Kitounet commented on #26778
Yes I'm creating new users in the users page.
You have probably right because I got 3 logs when I'm creating a new user.
But is it normal that I don't receive logs when I'm uploading files or creating folder with the files page ? ?

[2016-12-07 10:21] PVince81 opened #26790 "Catch aborted connections in more places"
As per https://github.com/owncloud/core/pull/26775 we'll add `ignore_user_abort(true)` in some file related code paths to have locks properly freed at the end.

Nevertheless, we should also add `connection_aborted()` checks in various places of the code, especially loops, and make it abort but still clean up properly (locks, etc).

Some potential places:
- the streamer that creates zip files in a

[2016-12-07 10:22] PVince81 commented on #22370
Raised https://github.com/owncloud/core/issues/26790 to look into detecting aborted connections and making shortcuts for faster cleanup

[2016-12-07 10:23] PVince81 commented on #17254
This PR might fix it https://github.com/owncloud/core/pull/26775 as it will prevent the PHP request to be killed and let it do its cleanup.

[2016-12-07 10:25] PVince81 commented on #26778
that's not normal. With the code I sent you this worked for me.
I also retried now with an upload, both work:

[code]

Does my code work in your environment ? If yes, then maybe need to figure out the small differences.

[2016-12-07 10:28] Kitounet commented on #26778
I just copied and past your codes in my env, but it doesn't work inside the files page, it worked only when I'm creating an User.

Thanks for your help again.

[2016-12-07 10:29] michaelstingl commented on #24794
@butonic @pmaier1 Could you help here?

[2016-12-07 10:35] PVince81 commented on #26778
Hmm then maybe there is a race condition related to other enabled apps ?

I'm using OC from git without any extra repos.

When you say "copy-pasted my code", do you mean overwrote your app's code ? I suggest you move away your own app and then just extract the zip as is and test. This is just in case there are some weird side effects.

[2016-12-07 10:40] Kitounet commented on #26778
I'm using only the core of Owncloud, no extra apps.
Yes I overwrote my app's code . And I did what you said and still have the same problem.

[2016-12-07 10:42] butonic commented on #24794
yes

[2016-12-07 10:46] DeepDiver1975 commented on #24794
why close?

[2016-12-07 10:46] DeepDiver1975 commented on #24794
A PR was started on this - https://github.com/owncloud/core/pull/26742

[2016-12-07 11:01] PVince81 commented on #26778
Try adding a log statement before and after registering the hook, maybe that code doesn't run for some reason.

I suggest you setup a PHP debugger (with XDebug) and step into the emitter code.

Here is the stack trace I get when the hook is fired for a directory creation, this can give you an idea where to look and where it is usually fired:
[code]

[2016-12-07 11:03] Kitounet commented on #26778
OK thanks , I will look and come back at you if I have some news.

[2016-12-07 11:18] Webbeh commented on #22370
Any idea in which versions will those patches be applied ?

[2016-12-07 11:28] PVince81 commented on #22370
I'd say at least stable9.1, maybe stable9.
It also depends whether we can safely update icewind/streams in these versions without breaking other things.

[2016-12-07 12:36] SergioBertolinSG commented on #23950
Example using the merged settings:

![screen shot 2016-12-07 at 13 34 21](https://cloud.githubusercontent.com/assets/9048796/20967965/370b1e6e-bc82-11e6-8338-c8ea1f131e7c.png)

[2016-12-07 12:55] ennder commented on #26780
I close the issue the upgrade to 9.0.6 gives a big improvement on this point

[2016-12-07 12:55] #26780 closed

[2016-12-07 12:59] mjobst-necls opened #26796 "Show changelog for update version on admin panel"
### Steps to reproduce
1. Open %server_url%/index.php/settings/admin#updater
2. A hint is shown that a new version is available, but the changes to this version are not shown at this point.

### Expected behaviour
![screenshot from 2016-12-07 13-49-33](https://cloud.githubusercontent.com/assets/23121972/20968399/b7b103b0-bc84-11e6-9b92-1b96a4c00d2a.png)

Clicking the information icon a new window

[2016-12-07 13:01] ennder commented on #26781
Issue stil present with 9.0.6.

We will re-check if it is still present after the update to 9.1

[2016-12-07 13:06] Nilix007 commented on #26517
The issue still exists with 9.1.2 and 9.1.3RC1.

[2016-12-07 13:09] SamuAlfageme opened #26797 "[External Storage] Google Docs files are not synced in the client cause server reports empty content lenght"
As "*Google Docs files are free*", they are causing an error in the desktop client when syncing since their exported versions do have size.

![screen shot 2016-12-07 at 13 48 47](https://cloud.githubusercontent.com/assets/2644445/20968269/f41a8ff2-bc83-11e6-9c49-396d98c03416.png)

### Steps to reproduce
1. Create files with Google Drive interface (Docs, Spreadsheets, Presentations, ...)
2. Configu

[2016-12-07 13:17] guruz commented on #26797
The message was introduced here: https://github.com/owncloud/client/commit/7fc7925d17df58e6dfb9eb1383f0895d5fadce58

I wonder if you get this for all files all the time?
Is this really a resume?

[2016-12-07 13:58] PVince81 commented on #26517
Thanks for checking. Need to find a way to reproduce this locally.

[2016-12-07 14:19] PVince81 commented on #26796
Thanks, ping @VicDeo when you're done, he's the updater expert 😄

[2016-12-07 14:20] #26788 closed

[2016-12-07 14:33] Kitounet commented on #26778
Well, I fixed the problem with a lot of luck.
During my installation of XDebug, I had to install some php libraries and I did some modifications because Ubuntu16.04 want to use php7.0 instead of php5.6.
And since my log is shown when I upload a file and create a folder.

Thank you for your help and patience.
I will keep an eye on the storage wrappers too.

[2016-12-07 14:36] PVince81 commented on #26778
No worries, glad it works now.

Are you by any chance working on this feature https://github.com/owncloud/core/issues/20334 ? (number of files quota)
If yes, feel free to drop a note there.

[2016-12-07 14:36] #26778 closed

[2016-12-07 14:43] ennder opened #26798 "Date / time when the file was first added to owncloud"
Hi,

As a plugin writer I would need to have the date / time when the file was first added to Owncloud.
The only date stored is the file creation date (which is very usefull for file versions) and the file update date for files that can be modified in Owncloud.

Without this file insertion date, we can't develop tools like purge tools.

Is there is any chance to add this date ?

Thanks a lot for y

[2016-12-07 14:46] Kitounet commented on #26778
Yes i'm working on this feature.

[2016-12-07 14:53] ManOki opened #26799 "Video playback fails on skipping with external files"
### Steps to reproduce
1. create some external share (via SMB/DAV, ie. DAV your own owncloud)
2. put some large video inside the share
2. publish large video to mediaplayer, ie kodi [wiki](http://kodi.wiki/view/webDAV)
3. play video and skip directly to the middle

### Expected behaviour
kodi jumps to the middle and continue playing from there
this works fine for videos, which are not external fil

[2016-12-07 17:01] PVince81 commented on #26799
@jknockaert IIRC you were also using Kodi with OC.
Have you observed such issue before for range requests ?

[2016-12-07 17:49] davivel commented on #10400
That will make life in clients much easier, for sure.

[2016-12-07 17:50] davivel commented on #10400
And this is what will bring back the pain again, I guess :D

[2016-12-07 17:56] davivel commented on #26651
In Android, right now, sure that not, since cookies are ignored unless SAML is enabled.

Apart of that, cookie handling is delegated to the network library in the mobile apps. We'll need to debug this to find out.

[2016-12-07 17:58] hodyroff commented on #25224
What is a "fake add"? I don't understand. It would be my expectation that a regular user can be added to any group, including groups from LDAP and then when I share a file with a group that user would also get the file. Of course we can't write it back to LDAP - but it should exactly work that way. Where is the problem?

[2016-12-07 19:32] jknockaert commented on #26799
This may be a fairly tough one to debug, as the issue may be with how the external dav backend handles range requests. When I was working on http range request support in the encryption module I had to fix quite some bugs in sabredav for it to work properly; so my suspicion is with the external backend rather than with oc.

[2016-12-07 19:33] tomascohen commented on #25692
- Have an up-to-date Ubuntu 14.04.5 LTS (amd64)
- Have memcached installed and running
- Have owncloud-files installed
  * repo: deb http://download.owncloud.org/download/repositories/stable/Ubuntu_14.04/ /)
  * version: 9.1.1-1.2
- Have memcached enabled on the config file:
``
  'memcache.local' => '\\OC\\Memcache\\APCu',
  'memcache.distributed' => '\\OC\\Memcache\\Memcached',
  'memcached_serve

[2016-12-07 20:37] ManOki commented on #26799
As I wrote, this is not just DAV backend. I tested SMB, FTP, SFTP and DAV.

[2016-12-08 07:49] #26660 closed

[2016-12-08 07:58] PVince81 commented on #26651
@davivel if cookies were always ignored so far it means that the mobile clients "do not support cookies" and anyway recreate a new session for every call ? So if you do add cookie / session keeping support, then you'll need to also send back the "cookie_test" so that the server knows that you do.

[2016-12-08 07:59] PVince81 commented on #26799
I find this a bit surprising. While I'm not sure about `fseek` support in FTP and DAV, I'm pretty sure that SFTP does support fseek. SMB likely too.

[2016-12-08 08:06] PVince81 commented on #25692
@VicDeo can you have a look ?

[2016-12-08 08:07] jknockaert commented on #26799
Proper functionality shouldn't depend on fseek support; there's a (inefficient) fallback implemented that simply reads through the file and abolishes the unwanted part. But of course all depends on proper implementation on the side of the backend. I will have a closer look to this one when I have time.

[2016-12-08 08:12] jknockaert commented on #26799
Well, it can still be a bug in Kodi.

[2016-12-08 08:17] PVince81 commented on #26799
Indeed, there's that inefficient fallback.

I just tried the following locally:

1. Upload big buck bunny in mp4 format to a SFTP ext storage
1. Mount SFTP as "/sftp"
1. Open the video file in the web UI (with bundled video player app enabled)
1. Skip forward
1. Observe access_log

Skipping works correctly and happens quickly and I can see in access_log that it the video player indeed used range r

[2016-12-08 08:18] hodyroff commented on #3408
No information. Please comment again if the issue continues on new ownCloud versions.

[2016-12-08 08:18] #3408 closed

[2016-12-08 08:21] jknockaert commented on #26799
Kodi's webdav client is a quite sophisticated implementation. It may well do things no other client does while staying within the specs of the webdav protocol. So further investigation (including logging the corresponding http requests) would be the first step.

[2016-12-08 08:25] PVince81 commented on #26344
Not sure how important, moving to backlog for now.

[2016-12-08 08:29] PVince81 commented on #26227
@VicDeo can you look into this ? Goal is mostly to make sure that we're not breaking up

Let me know if you need help to setup LDAP quickly for the sake of testing. I usually use this docker https://github.com/owncloud/administration/tree/master/ldap-testing + zombies.

To reproduce the issue:

1. Checkout stable9.1 where LDAP is bundled
1. Set it up
1. Setup LDAP with some users
1. Checkout maste

[2016-12-08 08:31] PVince81 commented on #25970
There is no difference between mounted storage or not.

The problem is mostly about hard-coded paths in the DB which need to be updated. It has nothing to do with mounted or not.

I'd like to move this to backlog unless we think it's important for 10.0

[2016-12-08 08:33] PVince81 commented on #25770
Won't have time to work on this, moving to backlog.

Also still need to take some time to come to an agreement on the approach to use.

@butonic @DeepDiver1975 we talked a lot about filecache lately, what do you think of this addition ?

[2016-12-08 08:34] PVince81 commented on #25761
@DeepDiver1975 still on track for 10.0 ?

[2016-12-08 08:35] PVince81 commented on #25708
@pmaier1

[2016-12-08 08:36] hodyroff commented on #8517
Yes, should be fixed. Same behaviour like in the sharing user input field would be perfect. If user/group does not exist, the input field gets a red lining and says that user/group is not available.
@felixheidecke

[2016-12-08 08:36] ogoffart commented on #26663
I think the session gets reset inbetween, because the test cookie is not present

[2016-12-08 09:02] PVince81 commented on #25970
Backlog for now, unless someone wants to chime in and implement this ?

[2016-12-08 09:05] ennder commented on #26781
The discrepancies are still present with Owncloud 9.1.2

[2016-12-08 09:07] RealRancor commented on #25970
@PVince81 If this is not getting implemented then https://github.com/owncloud/documentation/issues/2303 really needs to be picked up by some one. People are constantly moving their datadir around and breaking their installations.

[2016-12-08 09:11] DeepDiver1975 commented on #26798
modification time - creation time is what you are requesting here.

[2016-12-08 09:12] PVince81 commented on #25671
What would be the task here ? Adding the methods to the interface would likely break other existing storages. So make it a `IStorage2` interface and make sure to include all methods ?

[2016-12-08 09:17] PVince81 commented on #25358
@ppaysant has added a new JS method for parsing this kind of strings, see https://github.com/owncloud/core/pull/26789

[2016-12-08 09:18] PVince81 commented on #25350
AFAIK there is no logic to erase permanent jobs, except maybe on app uninstall.
It is likely an admin error who decided to clear the whole table.

Moving to backlog for now.

@DeepDiver1975

[2016-12-08 09:19] PVince81 commented on #25342
Moving to backlog

[2016-12-08 09:19] PVince81 commented on #25336
Moving to backlog.

Unless @DeepDiver1975 wants to add it as part of the new IAppManager APIs ?

[2016-12-08 09:21] PVince81 commented on #24995
@guruz @PhilippSchaffrath @davivel is this still needed with OAuth2 ?

[2016-12-08 09:22] PVince81 commented on #24931
Moving to backlog for now.

CC @cornelinux in case there is interest in this

[2016-12-08 09:29] pmaier1 opened #26801 "Add config.php option to enable mounting local storage"
Currently an admin is able to mount the local root file system via files_external and (depending on permissions of the web server user) get access to all files that are not explicitly protected. In the web server document root you even have write access. I'd consider this as a real security flaw that should be turned off by default with the possibility to explicitly activate it if needed.

**Propo

[2016-12-08 09:30] PVince81 commented on #24779
So should we do this if OAuth2 works and tokens can be retrieved automatically by clients ?

I still don't think it's good to have this enabled by default...

CC @PhilippSchaffrath @pmaier1 @felixboehm

[2016-12-08 09:31] PVince81 commented on #24744
Moving to backlog for now